<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="no-add">
	<div class="row">
		<div ng-show="PemeriksaanGRMain_Show">
			<div class="col-md-12" style="margin-top:-10px">
				<div id="myGrid" ui-grid="PemeriksaanGRGrid" ui-grid-auto-resize ui-grid-pagination ui-grid-selection class="Mygrid" style="width:95%;height: 250px; margin-top:20px; margin-bottom:20px; margin-left:20px"></div>						
			</div>
		</div>
		
		<div ng-show="PemeriksaanGREdit_Show">
			<div class="col-md-12">
				<div class="col-md-3">
					<textarea type="text" class="form-control" name="Detail Penjelasan Saat Penyerahan" placeholder="" ng-model="PemeriksaanGREdit_Detail"
							ng-maxlength="200">
				</div>
				<div class="col-md-9">
					<button id="PemeriksaanGREdit_Simpan_Button" ng-click="PemeriksaanGR_Edit_Simpan_Clicked()"
					 type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:20px">
						<span class="ladda-label">
							Simpan
						</span><span class="ladda-spinner"></span>
					</button>
					
					<button id="PemeriksaanGR_Edit_Batal_Button" ng-click="PemeriksaanGR_Edit_Batal_Clicked()"
					 type="button" class="btn ng-binding ladda-button" style="float: right; margin-top:20px">
						<span class="ladda-label">
							Batal
						</span><span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>