<div class="col-md-4">
    <div class="form-group" show-errors>
        <bsreqlabel>Harga Retail</bsreqlabel>
        <div class="input-icon-right">
            <i class="fa fa-user"></i>
            <input type="number" skip-enable class="form-control" name="RetailPrice" placeholder="Harga Retail" ng-model="mParts.RetailPrice" min="0"  ng-required="!(list_PartsClassId5_disable.indexOf(mParts.PartsClassId5) != -1)"
            ng-disabled="isView">
        </div>
        <bserrmsg field="RetailPrice"></bserrmsg>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group" show-errors>
        <!-- <bsreqlabel>Lended Cost</bsreqlabel> -->
        <bsreqlabel>Landed Cost</bsreqlabel> 
        <div class="input-icon-right">
            <i class="fa fa-user"></i>
            <input type="number" class="form-control" name="StandardCost" placeholder="Landed Cost" ng-model="mParts.StandardCost" min="0" ng-required="!(list_PartsClassId5_disable.indexOf(mParts.PartsClassId5) != -1)" skip-enable
            ng-disabled="isView">
        </div>
        <bserrmsg field="StandardCost"></bserrmsg>
    </div>
</div>
