<fieldset class="scheduler-border">
    <legend class="scheduler-border">Parameter MIP</legend>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <bscheckbox 
                    ng-model="mParts.paramByParts"
                    label = "Parameter By Parts">
                </bscheckbox>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group" show-errors>
                <bsreqlabel>Order Cycle</bsreqlabel>
                <div class="input-icon-right">
                    <input type="number" class="form-control"  name="QtyParamOrderCycle" placeholder="Order Cycle" ng-model="mParts.QtyParamOrderCycle" required>
                </div>
                <bserrmsg field="QtyParamOrderCycle"></bserrmsg>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group" style="margin-top:20px">
                Kali per Hari
            </div>
        </div>
        <div class="col-md-3">
           <div class="form-group" show-errors>
                <bsreqlabel>SS Demand (Max)</bsreqlabel>
                <div class="input-icon-right">
                    <input type="number" class="form-control" name="QtyParamDemandSS" placeholder="SS Demand (Max)" ng-model="mParts.QtyParamDemandSS" required>
                </div>
                <bserrmsg field="QtyParamDemandSS"></bserrmsg>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group" style="margin-top:25px">
                Hari
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <bscheckbox 
                    ng-model="mParts.paramByParts"
                    label = "New Model / Special Campaign / Others">
                </bscheckbox>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group" show-errors>
                <bsreqlabel>Lead Time</bsreqlabel>
                <div class="input-icon-right">
                    <input type="number" class="form-control" name="QtyParamLeadTime" placeholder="Lead Time" ng-model="mParts.QtyParamLeadTime" required>
                </div>
                <bserrmsg field="QtyParamLeadTime"></bserrmsg>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group" style="margin-top:25px">
                Hari
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" show-errors>
                <bsreqlabel>SS Lead Time</bsreqlabel>
                <div class="input-icon-right">
                    <input type="number" class="form-control" name="QtyParamLeadTimeSS" placeholder="SS Lead Time" ng-model="mParts.QtyParamLeadTimeSS" required>
                </div>
                <bserrmsg field="QtyParamLeadTimeSS"></bserrmsg>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group" style="margin-top:25px">
                Hari
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" show-errors>
                <bsreqlabel>Min Qty MIP</bsreqlabel>
                <div class="input-icon-right">
                    <input type="number" class="form-control" name="QtyParamMinMIP" placeholder="Min Qty MIP" ng-model="mParts.QtyParamMinMIP" required>
                </div>
                <bserrmsg field="QtyParamMinMIP"></bserrmsg>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group" style="margin-top:25px">
                Hari
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Info</legend>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" show-errors>
                <bsreqlabel>DAD</bsreqlabel>
                <div class="input-icon-right">
                    <input type="number" class="form-control" name="Dad" placeholder="DAD" ng-model="mParts.Dad" ng-disabled="mParts.disable_mip_dad == 1"> QTY
                </div>
                <bserrmsg field="Dad"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>MIP</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-user"></i>
                    <input type="number" class="form-control" name="Mip" placeholder="MIP" ng-model="mParts.Mip" ng-disabled="mParts.disable_mip_dad == 1">
                </div>
                <bserrmsg field="Mip"></bserrmsg>
            </div>
        </div>
    </div>
</fieldset>

