<script type="text/javascript">

</script>
<style type="text/css">
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #000;
                box-shadow:  0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        width:inherit; /* Or auto */
        padding:0 10px; /* To give a bit of padding on the left and right */
        border-bottom:none;
    }

</style>

        <!-- on-before-cancel="afterCancel" --> <!-- udah ga di pake-->
<bsform-grid
        ng-form="PartsForm"
        factory-name="Parts"
        model="mParts"
        model-id="PartsId"
        loading="loading"
        show-advsearch="on"        
        selected-rows="xParts.selected"
        on-select-rows="onSelectRows"
        get-data="getData(mParts)"

        on-show-detail="beforeView"
        on-before-new="beforeNew"
        on-before-edit="beforeEdit"
        do-custom-save="doCustomSave"
        modal-title="Parts"
        modal-size="small"
        icon="fa fa-fw fa-child"
        custom-action-button-settings="actionButtonSettings"
        form-grid-api ="formGridApi"
        >
        <bsform-advsearch>
                 <div class="row">
                  <div class="col-md-2">
                    <div class="input-group">
                      <label class="control-label">No. Material *</label>
                      <input type="text" class="form-control" onkeyup="this.value = this.value.toUpperCase()" placeholder="Input Nomor Material" ng-model="mParts.PartsCode">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="input-group">
                      <label class="control-label">Nama Material *</label>
                      <input type="text" class="form-control" placeholder="Input Nama Material" ng-model="mParts.PartsName">
                    </div>
                  </div>
                  <div class="col-md-7 text-right">
                      <label class="control-label">&nbsp</label>
                      <div class="">
                      <button class="btn wbtn pull-right" ng-click="onDeleteFilter()">Hapus Filter</button>
                      </div>
                    <!--</div>-->
                  </div>
              </div>
  
          </bsform-advsearch>
  
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>No Parts</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" name="PartsCode" placeholder="No Parts" ng-model="mParts.PartsCode" ng-disabled="isView" skip-enable>
                    </div>
                    <bserrmsg field="PartsCode"></bserrmsg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>No. Material Lama</label>
                    <!-- <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" name="OldPartsCode" placeholder="No Material Lama" ng-model="mParts.OldPartsCode" disabled>
                    </div> -->
                    <bsselect
                        ng-model="mParts.SubtitudeFromId"
                        data="PartsData"
                        item-text="PartsCode"
                        item-value="PartsId"
                        placeholder="Pilih Parts"
                        icon="fa fa-search"
                        skip-enable
                        ng-disabled="isView"
                        >
                    </bsselect>
                    <bserrmsg field="SubtitudeFromId"></bserrmsg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bscheckbox ng-model="mParts.Active"
                            label = "Aktif">
                    </bscheckbox>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Nama Parts</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" skip-enable name="PartsName" placeholder="Nama Parts" ng-model="mParts.PartsName" ng-disabled="isView">
                    </div>
                    <bserrmsg field="PartsName"></bserrmsg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>Nama Material Lama</label>
                    <!-- <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" name="OldPartsName" placeholder="Nama Material Lama" ng-model="mParts.OldPartsName" disabled>
                    </div> -->
                    <bsselect
                        ng-model="mParts.SubtitudeFromId"
                        data="PartsData"
                        item-text="PartsName"
                        item-value="PartsId"
                        placeholder="Pilih Parts"
                        icon="fa fa-search"
                        skip-enable
                        ng-disabled="isView">
                    </bsselect>
                    <bserrmsg field="OldPartsName"></bserrmsg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Vendor</bsreqlabel>
                    <!-- <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                        <input type="number" class="form-control" name="VendorId" placeholder="Nama Vendor" ng-model="mParts.VendorId">
                    </div> -->
                    <bsselect
                        ng-model="mParts.DefaultVendorId"
                        data="VendorData"
                        item-text="Name"
                        item-value="VendorId"
                        placeholder="Pilih Vendor"
                        icon="fa fa-search"
                        skip-enable
                        ng-disabled="isView">
                    </bsselect>
                    <bserrmsg field="VendorId"></bserrmsg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Dibuat di</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" skip-enable name="MadeIn" placeholder="Dibuat di" ng-model="mParts.MadeIn" ng-disabled="isView">
                    </div>
                    <bserrmsg field="MadeIn"></bserrmsg>
                </div>
            </div>
        </div>
        <!-- <pre>
            {{mParts}}
        </pre>
 -->    <div class="row" style="padding-top:50px; padding-left: 15px">
            <uib-tabset active="activePill">
                <uib-tab index="0" heading="Kelompok">
                    <br>
                    <div ng-include="'app/master/parts/kelompok.html'"></div>
                </uib-tab>
                <uib-tab index="1" heading="Lokasi">
                    <br>
                    <div ng-include="'app/master/parts/lokasi.html'"></div>
                </uib-tab>
                <uib-tab index="2" heading="Nilai">
                    <br>
                    <div ng-include="'app/master/parts/nilai.html'"></div>
                </uib-tab>
                <uib-tab index="3" heading="Satuan">
                    <br>
                    <div ng-include="'app/master/parts/satuan.html'"></div>
                </uib-tab>
                <uib-tab index="4" heading="Parameter">
                    <br>
                    <div ng-include="'app/master/parts/parameter.html'"></div>
                </uib-tab>
            </uib-tabset>
        </div>

        <div class="ui modal" id="ModalUploadGroupBP" role="dialog" style="margin-top: -50px; height: 100px; width:800px;">
        	<div class="modal-content">
        		<ul class="list-group">
        			<div class="col-md-12" style="margin-top:40px;">
        				<div class="col-md-2" style="margin-top:12px">
        					Upload File
        				</div>

        				<div class="col-md-8" style="border:1px solid lightgrey;padding: 10px 0 10px 10px">
        					<div class="input-icon-right">
        						<input type="file" accept=".xlsx" id="UploadGroupBP" onchange="angular.element(this).scope().loadXLSGroupBP(this)">
        					</div>
        				</div>

        				<div class="col-md-2">
        					<button id="UploadBpCenterSatellite_Upload_Button"
        					ng-click="UploadGroupBPClicked()"
        					 type="button" class="rbtn btn ng-binding ladda-button" style="float: left;margin-top:5px">
        						<span class="ladda-label">
        							Upload
        						</span><span class="ladda-spinner"></span>
        					</button>
        				</div>
        			</div>
        		</ul>
            </div>
        </div>
</bsform-grid>

<!-- <bsmodal id="modal_alloc" title="Alokasi Gudang" mode=""
        visible="modalShow"
        size="small"
        hide-footer="true"
>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <bsreqlabel>Gudang</bsreqlabel>
                <bsselect
                    ng-model="warehouse.WarehouseId"
                    data="whData"
                    item-text="WarehouseName"
                    item-value="WarehouseId"
                    placeholder="Pilih Gudang"
                    on-select="setShelf(selected)"
                    icon="fa fa-search">
                </bsselect>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <bsreqlabel>Rak</bsreqlabel>
                <bsselect
                    ng-model="warehouse.ShelfId"
                    data="shData"
                    item-text="ShelfName"
                    item-value="ShelfId"
                    placeholder="Pilih Satuan Dasar"
                    icon="fa fa-search">
                </bsselect>
            </div>
        </div>
    </div>
</bsmodal> -->
