<div class="row">
    <!--  -->
    <!-- <div class="col-md-3">
        <div class="form-group">
            <bsreqlabel>Satuan Beli</bsreqlabel>
            <bsselect
                ng-model="uom.UomId"
                data="UomData"
                item-text="Name"
                item-value="MasterId"
                placeholder="Pilih Satuan"
                icon="fa fa-search">
            </bsselect>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
        <bsreqlabel>Quantity</bsreqlabel>
        <input type="number" class="form-control" name="ConversionVal" ng-model="uom.Qty" min="1" style="height:50">
        </div>
    </div> -->
    <!--  -->
    <div class="col-md-3">
        <div class="form-group">
            <bsreqlabel>Satuan Dasar</bsreqlabel>
            <bsselect 
                ng-model="mParts.UomId" 
                data="UomData" 
                item-text="Name" 
                item-value="MasterId" 
                placeholder="Pilih Satuan Dasar" 
                on-select="setUomTgt(selected)"
                icon="fa fa-search">
            </bsselect>
            <bserrmsg field="UomId"></bserrmsg>
        </div>
    </div>
    <!--  -->
    <!-- <div class="col-md-3">
        <div class="form-group" style="margin-top:22.1px">
            <button class="rbtn btn" 
                onclick="this.blur();"
                ng-click="addUom()">
                <i></i>&nbsp;Tambah Konversi
            </button>
        </div>
    </div> -->
    <!--  -->
</div>
<!-- <pre>{{saveEffDate.EffectiveDate}}</pre> -->
<div class="row">
    <div class="col-md-12">
        <div class="form-group" show-errors>
            <bscheckbox 
                ng-model="mParts.Active"
                label = "Setting Konversi Satuan 'General per Parts'">
            </bscheckbox>
        </div>

        <div ui-grid="gridDetail" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-edit 
        ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize class="grid" ng-cloak>
        </div>
    </div>
</div>