<!--Harus item-->
<div style="font-size: 12px;">
    <b>No. SPK :{{item.FormSPKNo}} Nama Customer : {{item.CustomerName}}</b>
    <button ng-click="openModal(item)" class="btn btn-default" style="float:right; border:0; background-color:transparent box-shadow:none;" id="myButton" type="button"> 
			<span class="glyphicon glyphicon-option-vertical" style="float:center;"> 
			</span> 
	</button>
</div>
<p>
    <ul class="list-inline" style="font-size:10px;">
        <li><b>No. Rangka : </b>{{item.FrameNo}}</li>
        <li><b>Janji Pengiriman : </b><label>{{item.SentUnitTime| date:"dd/MM/yyyy"}}</label> <!--<label>{{item.PromiseDelDate| date:"dd MMMM yyyy"}}</label>--></li>
        <li><b>Status : </b>{{item.StatusUrgentMemoName}}</li>
    </ul>

</p>