<style type="text/css">

.grid {
  /*width: 500px;*/
  height: 185px;
}

.jam {
    /*position: absolute;*/
    position: relative;
    /*left: -10%;*/
    margin-left: -45%;
    /*width: 90px*/
    /*top: 30px;*/
}

.tanggal {
    /*position: absolute;*/
    /*position: relative;*/
    /*left: -10%;*/
    margin-right: 5%;
    /*width: 90px*/
    /*top: 30px;*/
}

.jangkaWaktu::after {
    content: "Hari";
    position: absolute;
    left: 52%;
    top: 30px;
}

.ui-grid-spilt-header-main{
	padding-top: 30px;
  line-height: 30px;
	text-align: center;
  background: #f6f6f6;
}

.ui-grid-split-merge-header{
  border-left: 2px solid transparent;
	position: absolute;
	background: #f9f9f9;
	text-align: center;
	line-height: 30px;
	z-index: 1;
	top: 0px;
	left:0px;
}
.ui-grid-header-table{
  width:100%;
  padding:0px;
  border:none;
  border-spacing: 0px;
  border-collapse: collapse;
}

.ui-grid-header-table tr td{
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
}
.ui-grid-header-table tr td:last-child{
  border-right:none;
}

.middle {
  vertical-align: middle;
}

</style>
<!--<h1>Bengkel Lain</h1>-->
<div class="row">
    <div class="col-md-3">
        <div class="input-group">
            <label class="control-label">Referensi Sales Order *</label>
            <select class="form-control"
                    ng-model="mData.RefSOTypeId"
                    ng-options="r.id as r.name for r in dataTipeReferensi"
                    ng-disabled="true" >
            </select>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Tanggal Dibutuhkan</label>
                <div class="tanggal">
                    <bsdatepicker
                    name="DateNeeded"
                    date-options="dateOptions"
                    ng-model="mData.DateNeeded"
                    ng-disabled="true"
                    >
                    </bsdatepicker>
                </div>
        </div>
    </div>
    <div class="col-md-1">
        <label class="control-label">&nbsp</label>
        <div class="jam">
            <!-- <input type="time" class="form-control" ng-model="mData.TimeNeeded" disabled> -->
            <input type="text" class="form-control" ng-model="mData.TimeNeeded" readonly>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Bengkel</label>
            <div class="input-icon-right">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" ng-model="mData.Bengkel" readonly>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">CustomerCode</label>
            <div class="input-icon-right">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" ng-model="mData.CustomerCode" readonly>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Nama Customer</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.CustomerName" readonly>
            <!-- </div> -->
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">No. Telp.</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.Phone" readonly>
            <!-- </div> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">KTP/KITAS</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.KTPKITAS" readonly>
            <!-- </div> -->
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">NPWP</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.Npwp" readonly>
            <!-- </div> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">No. PO *</label>
            <div class="input-icon-right">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" ng-model="mData.RefSONo" readonly>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Metode Pembayaran *</label>
            <select class="form-control"
                    ng-model="mData.PaymentMethodId"
                    ng-options="p.id as p.name for p in optPaymentMethod"
                    ng-disabled="true" >
            </select>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label class="control-label" for="jangkaWaktu">Jangka Waktu Bayar *</label>
        <div class="jangkaWaktu">
            <input type="number" id="jangkaWaktu" class="form-control" style="width: 50%" ng-model="mData.PaymentPeriod" disabled>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">No. Sales Order</label>
            <div class="input-icon-right">
                <i class="fa fa-ticket"></i>
                <input type="text" class="form-control" ng-model="mData.SalesOrderNo" readonly />
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Tanggal Sales Order</label>
            <div class="tanggal">
                <bsdatepicker
                name="DocDate"
                date-options="dateOptions"
                ng-model="mData.DocDate"
                ng-disabled="true"
                >
                </bsdatepicker>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Grand Total</label>
            <div class="input-icon-right">
                <i class="fa fa-money"></i>
                <input type="text" class="form-control" ng-model="mData.TotalAmount" readonly />
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Minimum DP</label>
            <div class="input-icon-right">
                <i class="fa fa-money"></i>
                <input type="text" class="form-control" ng-model="mData.DPMin" readonly>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Pembayaran DP</label>
            <div class="input-icon-right">
                <i class="fa fa-money"></i>
                <input type="text" class="form-control" ng-model="mData.DPAmount" readonly>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Status</label>
            <select class="form-control"
                    ng-model="mData.SalesOrderStatusId"
                    ng-options="s.id as s.name for s in SOStatus"
                    ng-disabled="true" >
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="3" ng-model="mData.Notes" readonly></textarea>
        </div>
    </div>
</div>

<!--<fieldset style="padding-top: 10px"></fieldset>-->
<div class="row">
    <div class="col-md-2">
        <div class="input-group-btn dropdown" uib-dropdown="" style="">
          <button style="margin-right:5px;" type="button"
            class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle=""
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <!-- ngIf: allowDelete -->
            <li>
            <!-- ngIf: selectedRows.length>0 --><a href="#">Hapus</a>
            <!-- end ngIf: selectedRows.length>0 --></li>
            <!-- end ngIf: allowDelete -->
            <!-- ngIf: allowApprove -->
            <!-- ngIf: allowReject -->
            <!-- ngIf: allowReview -->
            <!-- ngRepeat: customBulk in customBulkFunc -->
          </ul>
        </div>
    </div>
</div>

<!--grid-->
<div class="row">
    <div class="col-md-12">
    <div>
        <div ui-grid="gridOptionsLihat" class="grid" style="height: 300px" ui-grid-auto-resize ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-pagination></div>
    </div>
    </div>
</div>
<br>

<!--tombol bawah-->
<div class="row">
    <div class="col-md-12">
    <div class="pull-right">
        <button class="btn wbtn" ng-click="goBack2()" skip-disable>Kembali</button>
        <button class="btn wbtn" ng-click="ViewBengkelLain()" skip-disable>View Detail Bengkel</button>
        <button class="btn wbtn" ng-click="cetakPPLPO(mData.SalesOrderId)">Cetak Penjualan Parts Langsung</button>
        <button class="btn wbtn" ng-click="pembatalan(mData)">Batal Sales Order</button>        
        <!--<button type="button" class="wbtn btn">Kembali</button>-->

        <!-- <button class="btn rbtn" ng-click="simpan()">Simpan</button> -->
    </div>
    </div>
</div>
<bs-print cetakan-url="{{printPPLPO}}">
</bs-print>
<!--bengkel-->
<bsui-modal 
    show="viewBengkelLain" 
    title="Data Bengkel" 
    data="mData" 
    on-cancel="cancel"
>
<div ng-form name="bengkellain">
    <div class="col-md-12">
        <div class="form-group">
            <label>Nama Bengkel</label>
            <input type="text" ng-model="mData.NamaBengkel" class="form-control" name="nama" readonly>
        </div>
        <div class="form-group">
            <label>Alamat Bengkel</label>
            <input type="text" ng-model="mData.AlamatBengkel" class="form-control" name="phone" readonly >
        </div>
        <div class="form-group">
            <label>No. Telepon Bengkel</label>
            <input type="text" ng-model="mData.TeleponBengkel" class="form-control" name="phone" readonly>
        </div>
        
    </div>
</div>
</bsui-modal>
