<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.grid {
  /*width: 500px;*/
  height: 185px;
}

.jam {
    /*position: absolute;*/
    position: relative;
    /*left: -10%;*/
    margin-left: -45%;
    /*width: 90px*/
    /*top: 30px;*/  
}

.tanggal {
    /*position: absolute;*/
    /*position: relative;*/
    /*left: -10%;*/
    margin-right: 5%;
    /*width: 90px*/
    /*top: 30px;*/  
}

.jangkaWaktu::after {
    content: "Hari";
    position: absolute;
    left: 52%;
    top: 30px;
}

/*input[readonly]{
  background-color: transparent;
  border: 0;
  font-size: 1em;
}*/

</style>
<!-- <h1>Customer lgsng</h1> -->
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Referensi Sales Order *</label>            
            <select class="form-control"                     
                    ng-model="mData.RefSOTypeId"                    
                    ng-options="r.id as r.name for r in dataTipeReferensi"
                    ng-disabled="true" >
            </select>
        </div> 
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Tanggal Dibutuhkan</label>
                <div class="tanggal">
                    <bsdatepicker
                    name="DateNeeded"
                    date-options="dateOptions"
                    ng-model="mData.DateNeeded"
                    ng-disabled="true" 
                    readonly="readonly" 
                    onkeydown="return false"> 
                    </bsdatepicker>
                    <!--ng-disabled="true"-->
                </div> 
        </div>
    </div>
    <div class="col-md-1">
        <label class="control-label">&nbsp</label>
        <div class="jam">
            <!-- <input type="time" class="form-control" ng-model="mData.TimeNeeded" readonly> -->
            <input type="text" class="form-control" ng-model="mData.TimeNeeded" readonly>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Tipe Material</label>
            <select class="form-control"                     
                    ng-model="mData.MaterialTypeId"                    
                    ng-options="s.id as s.name for s in MaterialType"
                    ng-disabled="true" >
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <!-- <div class="col-md-3">
        <div class="form-group">
            <label><input type="checkbox" disabled>Punya Toyota ID</label>
        </div>
    </div> -->
    <div class="col-md-4">
        <div class="checkbox-inline">
            <div ng-show="AdaToyotaId">
                <label><input type="checkbox" checked="checked" onclick="return false">Punya Toyota ID</label>
            </div>
            <div ng-show="!AdaToyotaId">
                <label><input type="checkbox" onclick="return false">Punya Toyota ID</label>
            </div>
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div ng-show="AdaToyotaId" class="form-group">
            <label class="control-label">Toyota ID</label>
            <div class="input-icon-right">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" ng-model="mData.ToyotaId_CustList" readonly>
            </div>
        </div>
        <div ng-show="!AdaToyotaId" class="form-group">
            <label class="control-label">CustomerCode</label>
            <div class="input-icon-right">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" ng-model="mData.CustomerCode" readonly>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Nama Customer</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.CustomerName" readonly>
            <!-- </div> -->
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">No. Telp.</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.Phone" readonly>
            <!-- </div> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">KTP/KITAS</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.KTPKITAS" readonly>
            <!-- </div> -->
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">NPWP</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.Npwp" readonly>
            <!-- </div> -->
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Nomor Polisi *</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" maxlength="10"  class="form-control" ng-model="mData.PoliceNumber" readonly>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Metode Pembayaran *</label>
            <select class="form-control"                     
                    ng-model="mData.PaymentMethodId"                    
                    ng-options="p.id as p.name for p in optPaymentMethod"
                    ng-disabled="true" >
            </select> 
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label class="control-label" for="jangkaWaktu">Jangka Waktu Bayar *</label>
        <!--<div class="input-group">
            <input type="number" id="jangkaWaktu" class="form-control" aria-describedby="basic-addon2" ng-model="mData.PaymentPeriod" readonly>
            <span class="input-group-addon" id="basic-addon2">Hari</span>
        </div>-->
        <div class="jangkaWaktu">
            <input type="number" id="jangkaWaktu" class="form-control" style="width: 50%" ng-model="mData.PaymentPeriod" readonly>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">No. Sales Order</label>
            <div class="input-icon-right">
                <i class="fa fa-ticket"></i>
                <input type="text" class="form-control" ng-model="mData.SalesOrderNo" readonly />
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Tanggal Sales Order</label>
            <div class="tanggal">
                <bsdatepicker
                name="DocDate"
                date-options="dateOptions"
                ng-model="mData.DocDate"
                ng-disabled="true" 
                 readonly="readonly" 
                 onkeydown="return false" > 
                </bsdatepicker>
            </div> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Grand Total</label>
            <div class="input-icon-right">
                <i class="fa fa-money"></i>
                <input type="text" format="number" class="form-control" ng-model="mData.TotalAmount" readonly />
            </div>
        </div>
    </div>
    <!--<div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Minimum DP</label>
            <div class="input-icon-right">
                <i class="fa fa-money"></i>
                <input type="text" class="form-control" readonly>
            </div>
        </div>
    </div>-->
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Total DP</label>
            <div class="input-icon-right">
                <i class="fa fa-money"></i>
                <input type="text" format="number" class="form-control" ng-model="mData.DPAmount" readonly>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Total PPN</label>
            <div class="input-icon-right">
                <i class="fa fa-money"></i>
                <input type="text" format="number" class="form-control" ng-model="mData.VATAmount" readonly>
            </div>
        </div>
    </div>
</div>
<div class="row"> 
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Status</label>
            <select class="form-control"                     
                    ng-model="mData.SalesOrderStatusId"                    
                    ng-options="s.id as s.name for s in SOStatus"
                    ng-disabled="true" >
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="3" ng-model="mData.Notes" readonly></textarea>
        </div>
    </div>
</div>

<!--<fieldset style="padding-top: 10px"></fieldset>-->
<div class="row">
    <div class="col-md-2">
        <div class="input-group-btn dropdown" uib-dropdown="" style="">
          <button style="margin-right:5px;" type="button" 
            class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" 
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <!-- ngIf: allowDelete -->
            <li>
            <!-- ngIf: selectedRows.length>0 --><a href="#">Hapus</a>
            <!-- end ngIf: selectedRows.length>0 --></li>
            <!-- end ngIf: allowDelete -->
            <!-- ngIf: allowApprove -->
            <!-- ngIf: allowReject -->
            <!-- ngIf: allowReview -->
            <!-- ngRepeat: customBulk in customBulkFunc -->
          </ul>
        </div>
    </div>
</div>

<!--grid-->
<div class="row">
    <div class="col-md-12">
    <div>
        <div ui-grid="gridOptionsLihat" style="height: 300px" class="grid" ui-grid-auto-resize ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-pagination></div>
    </div>
    </div>
</div>
<br>

<!--tombol bawah-->
<div class="row">
    <div class="col-md-12">
    <div class="pull-right">
        <button class="btn wbtn" ng-click="goBack2()" skip-disable>Kembali</button>
        <!-- <button class="btn wbtn" ng-click="ViewBengkelLain()" skip-disable>View Detail Bengkel</button> -->
        <button class="btn wbtn" ng-click="cetakPPL(mData.SalesOrderId)" ng-show= "user.RoleId!=1128" skip-disable>Cetak Penjualan Parts Langsung</button>
        <button class="btn wbtn" ng-click="pembatalan(mData)">Batal Sales Order</button> 
        <!--<button type="button" class="wbtn btn">Kembali</button>-->
    </div> 
    </div>
</div>

<bs-print cetakan-url="{{printPPL}}">
</bs-print>
