<style type="text/css">
/*.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}*/

.gridx {
  /*width: 500px;*/
  /* height: 305px; */
  /* height: 98vh; */
  width: 100%;
  height: 200vh;
}

.jangkaWaktu::after {
    content: "Hari";
    position: absolute;
    left: 52%;
    top: 30px;
}
.jam {
    /*position: absolute;*/
    position: relative;
    /*left: -10%;*/
    margin-left: -45%;
    /*width: 90px*/
    /*top: 30px;*/  
}

.hidden {
     display:none;
}

.editable {  
    background-color: rgb(255, 255, 255) !important;
    /*border-bottom: 1px solid #EEEEEE;*/
    border-bottom: 1px solid #B9F6CA;
    border: 1px solid #B9F6CA;
}
.notEditable {
    background-color: #F5F5F5 !important;
    border-bottom: 1px solid #E0E0E0;
}
</style>
<!--<h1>Cst</h1>-->
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Referensi Sales Order *</label>
            <select class="form-control" disabled>
                <option selected>Customer Langsung</option>
            </select>            
        </div> 
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Tanggal Dibutuhkan</label>
                <div class="tanggal">
                    <bsdatepicker
                    name="DateNeeded"
                    date-options="dateOptionsEnd"
                    ng-model="mData.DateNeeded"
                    min-date="minDate"
                    > 
                    </bsdatepicker>
                </div> 
                    <!--<div class="col-md-2">
                        <input type="text" class="form-control" placeholder="" value="">
                    </div>-->
        </div>
    </div>
    <div class="col-md-1">
        <label class="control-label">&nbsp</label>
        <div class="jam">
            <input type="time" class="form-control" ng-model="mData.TimeNeeded">
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Tipe Material</label>
            <select class="form-control"                     
                    ng-model="mData.MaterialTypeId"                    
                    ng-options="s.id as s.name for s in MaterialType"
                    ng-disabled="true" >
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label><input type="checkbox" ng-model="ToyotaID">&nbsp;Punya Toyota ID</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">    
        <div class="form-group" ng-if="!ToyotaID && ubahCust.CustomerId == undefined"> 
            <button class="rbtn btn" ng-click="tambahCustomer()">Tambah Customer Non Toyota ID</button>
        </div>
    </div>
    <!-- <div class="col-md-3" ng-if="!ToyotaID">    
        <div class="form-group" ng-if="mData.CustomerId != undefined"> 
            <button class="rbtn btn" ng-click="ubahCustomer()">Ubah Data Pelanggan</button>
        </div>
    </div> -->
</div>
<div>
    <div ng-if="ToyotaID" class="row">
        <div class="col-md-7">
            <fieldset style="border:1px solid;border-color:#eee;padding:10px;margin:0;">
                <div class="row form-group">
                    <div class="col-md-4 form-horizontal">
                        <bsreqlabel>Toyota ID</bsreqlabel>
                    </div>
                    <div class="col-md-8">
                        <div class="input-icon-right">
                            <i class="fa fa-id-card-o"></i>
                            <input type="text" class="form-control" name="toyotaId" placeholder="Toyota ID"  ng-disabled="filterSearch.choice" ng-model="filterSearch.TID" ng-maxlength="11" maxlength="11" style="text-transform:uppercase;" on keyup="javascript:this.value=this.value.toUpperCase();" required disallow-space>
                        </div>
                        <a href="#" ng-click="forget()">Lupa Toyota ID</a>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <div class="bslabel-horz" uib-dropdown style="position:relative!important;">
                            <a href="#" style="color:#444" onclick="this.blur()" uib-dropdown-toggle data-toggle="dropdown">
                                {{filterFieldSelected}}&nbsp;<span class="caret"></span><span style="color:#b94a48;">&nbsp;*</span>
                        </a>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                <li role="menuitem" ng-repeat="item in filterField">
                                    <a href="#" ng-click="filterFieldChange(item)">{{item.desc}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8" ng-if="(filterSearch.flag == 1)">
                        <input type="text" class="form-control" name="filterValue" ng-maxlength="10" maxlength="10" placeholder="" ng-model="filterSearch.filterValue" ng-disabled="filterSearch.choice" style="text-transform:uppercase;" on keyup="javascript:this.value=this.value.toUpperCase();" disallow-space>
                    </div>
                    <div class="col-md-8" ng-if="(filterSearch.flag == 2)">
                        <input type="text" class="form-control" name="filterValue" ng-maxlength="20" maxlength="20" placeholder="" ng-model="filterSearch.filterValue" ng-disabled="filterSearch.choice" style="text-transform:uppercase;" on keyup="javascript:this.value=this.value.toUpperCase();" disallow-space>
                    </div>
                    <div class="col-md-8" ng-if="(filterSearch.flag == 3)">
                        <input type="text" class="form-control" name="filterValue" ng-maxlength="20" maxlength="20" placeholder="" ng-model="filterSearch.filterValue" ng-disabled="filterSearch.choice" style="text-transform:uppercase;" on keyup="javascript:this.value=this.value.toUpperCase();" disallow-space>
                    </div>
                    <div class="col-md-8" ng-if="(filterSearch.flag == 4)">
                        <input type="text" class="form-control" name="filterValue" ng-maxlength="20" maxlength="20" placeholder="" ng-model="filterSearch.filterValue" ng-disabled="filterSearch.choice" style="text-transform:uppercase;" on keyup="javascript:this.value=this.value.toUpperCase();" disallow-space>
                    </div>
                    <div class="col-md-8" ng-if="(filterSearch.flag == 5)">
                        <input type="text" class="form-control" name="filterValue" ng-maxlength="50" maxlength="50" placeholder="" ng-model="filterSearch.filterValue" ng-disabled="filterSearch.choice" style="text-transform:uppercase;" on keyup="javascript:this.value=this.value.toUpperCase();" disallow-space>
                    </div>
                    <div class="col-md-8" ng-if="(filterSearch.flag == 6)">
                        <input type="text" class="form-control" name="filterValue" ng-maxlength="20" maxlength="20" placeholder="" ng-model="filterSearch.filterValue" ng-disabled="filterSearch.choice" ng-keypress="allowPattern($event,1)" maskme="99.999.999.9-999.999" style="text-transform: uppercase;" disallow-space>
                    </div>
                    <div class="col-md-8" ng-if="(filterSearch.flag == 7)">
                        <bsdatepicker name="filterValueDate" date-options="dateOptionsFilter" ng-model="filterSearch.filterValue"></bsdatepicker>
                    </div>
                </div>
                <div>
                    <button class="rbtn btn no-animate" ladda="onProcessSearch" data-style="expand-left"  onclick="this.blur()" ng-click="CariCustomer(filterSearch)">Cari Customer</button>
                </div>
            </fieldset>
        </div>
    </div>
    <div ng-if="!ToyotaID">
        <div class="row form-group">
            <!-- <div class="col-md-3">
                <label class="control-label">Search Customer Phone</label>
                <div ng-form="searchPhone" novalidate class="input-group mb-3" style="display: flex;">
                    <input type="text" ng-model="filterSearch.CustomerPhone" ng-required="true" class="form-control" name="phoneSearch" ng-minlength="6" placeholder="Search.." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button skip-enable ng-click="searchCustomerPhone(filterSearch.CustomerPhone)" class="btn rbtn" ng-disabled="searchPhone.$invalid" type="button"><i class="fa fa-search"></i>&nbsp; Search</button>
                    </div>
                </div>
            </div> -->
            <div class="col-md-4">
                <label class="control-label">Cari Customer by Nomor Telepon</label>
                <bstypeahead 
                    placeholder="Masukkan Nomor Telepon" 
                    name="searchPhone" 
                    ng-model="filterSearch.CustomerPhone" 
                    get-data="searchCustomerPhone" 
                    item-text="xphoneName" 
                    loading="loadingProcess" 
                    noresult="noResults" 
                    selected="selectedPhone" 
                    on-select="onSelectPhone" 
                    on-noresult="onNoResult" 
                    on-gotresult="onGotResult"
                    disallow-space
                    ta-minlength="10"
                    ng-maxlength="20"
                    maxlength="20"
                    icon="fa-id-card-o" 
                    number only
                    >
                </bstypeahead>
                <em ng-show="filterSearch.CustomerPhone.length < 10" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p>Minimal 10 karakter untuk pencarian</p>
                </em>
            </div>
            <div class="col-md-3" ng-if="!ToyotaID" style="padding-top: 22px;">    
                <div class="form-group" ng-if="ubahCust.CustomerId !== undefined"> 
                    <button class="rbtn btn" ng-click="ubahCustomer()">Ubah Customer Non Toyota ID</button>
                </div>
            </div>
            <!-- <div class="col-md-3"> -->
                <!-- <label class="control-label">Customer Phone</label>
                <bsselect 
                    name="customer" 
                    ng-model="mData.CustomerId" 
                    data="CustData" 
                    item-text="Phone1" 
                    item-value="CustomerId" 
                    placeholder="Select Customer Phone..." 
                    on-select="selectCust(selected)" 
                    icon="fa fa-phone">
                </bsselect>  -->
            <!-- <div class="input-group">                
                <input type="text" ng-model="filterSearch.customercode" class="form-control" required>
                <label class="input-group-btn">
                    <span class="btn wbtn" ng-click="searchCustomerCode(filterSearch.customercode)">
                        <i class="fa fa-search"></i>
                    </span>
                </label>
            </div> -->
            <!-- </div> -->
        </div>
    </div>
 </div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <hr>
        </div>
    </div>
</div>

<div class="row">
    
    <!--<div class="col-md-1"></div>-->
    <div class="col-md-3">
        <div class="form-group">
            <label ng-if="mData.CustomerTypeId == 3" class="control-label">Nama Pelanggan</label>
            <label ng-if="mData.CustomerTypeId == 4 || mData.CustomerTypeId == 6"class="control-label">Nama Institusi</label>
            <label ng-if="mData.CustomerTypeId == 5" class="control-label">Nama Yayasan</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.CustomerName" readonly>                
            <!-- </div> -->
        </div>
        <div class="hidden">
            <input type="text" ng-model="mData.CustomerId">
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3" ng-if="mData.CustomerTypeId == 3">
        <div class="form-group">
            <label class="control-label">No. Handphone 1</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.Handphone1" readonly>
            <!-- </div> -->
        </div>
    </div>
    <div class="col-md-3" ng-if="mData.CustomerTypeId !== 3">
        <div class="form-group">
            <label class="control-label">Nama Penanggung Jawab </label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.PICName" readonly>
            <!-- </div> -->
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3" ng-if="mData.CustomerTypeId == 3">
        <div class="form-group">
            <label class="control-label">No. Handphone 2</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.Handphone2" readonly>
            <!-- </div> -->
        </div>
    </div>
    <div class="col-md-3" ng-if="mData.CustomerTypeId !== 3">
        <div class="form-group">
            <label class="control-label">HP Penanggung Jawab</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.PICHp" readonly>
            <!-- </div> -->
        </div>
    </div>
    <div class="col-md-3" ng-if="mData.CustomerTypeId == 3">
        <div class="form-group">
            <label class="control-label">KTP</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.KTPKITAS" readonly>
            <!-- </div> -->
            </div>
        </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Npwp</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.Npwp" readonly>
            <!-- </div> -->
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Nomor Polisi *</label>
                <!-- <div class="input-icon-right"> -->
                    <!-- <i class="fa fa-search"></i> -->
                    <input type="text" maxlength="10"  class="form-control" ng-model="mData.PoliceNumber">
                </div>
        </div>
</div>



<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Metode Pembayaran *</label>
            <!-- <select class="form-control" ng-model="mData.PaymentMethodId" disabled>                
                <option value="1" selected>Cash</option>
                <option value="2">Kredit</option>
            </select> -->
            <bsselect 
                name="PaymentMethod" 
                ng-model="mData.PaymentMethodId" 
                data="PaymentMethod" 
                item-text="name" 
                item-value="id" 
                placeholder="" 
                on-select="selectPaymentMethod(selected)" 
                icon=""
                ng-disabled = "DisabledPayment">
            </bsselect>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label class="control-label" for="jangkaWaktu">Jangka Waktu Bayar *</label>
        <div class="jangkaWaktu">
            <input type="number" id="jangkaWaktu" class="form-control" style="width: 50%" ng-model="mData.PaymentPeriod" ng-disabled='DisabledWaktu'>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <!-- tombol tambah customer lama -->
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Grand Total</label>
            <div class="input-icon-right">
                <i class="fa fa-money"></i>
                <input type="text" format="number" class="form-control" ng-model="mData.TotalAmount" readonly>
            </div>
        </div>
    </div>
    <!--<div class="col-md-1"></div>-->
    <!--<div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Minimum DP</label>
            <div class="input-icon-right">
                <i class="fa fa-money"></i>
                <input type="text" class="form-control" ng-model="mData.DPMin" disabled>
            </div>
        </div>
    </div>-->
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Total DP</label>
            <div class="input-icon-right">
                <i class="fa fa-money"></i>
                <input type="text" format="number" class="form-control" ng-model="mData.DPAmount" readonly>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Total PPN</label>
            <div class="input-icon-right">
                <i class="fa fa-money"></i>
                <input type="text" format="number" class="form-control" ng-model="mData.VATAmount" readonly>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label">Notes</label>
            <textarea class="form-control" ng-maxlength="200" maxlength="200" rows="3" ng-model="mData.Notes"></textarea>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-md-12">
        <button class="wbtn btn" ng-click="Add()">Tambah</button>
    </div>
</div> -->

<!--<fieldset style="padding-top: 10px"></fieldset>--> 
<div class="row">
    <div class="col-md-2">
        <div class="input-group-btn dropdown" uib-dropdown="" style="">
          <button style="margin-right:5px;" type="button" 
            class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" 
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <!-- ngIf: allowDelete -->
            <li>
            <!-- ngIf: selectedRows.length>0 --><a href="#" ng-click="showMe(mData.GridDetail)">Hapus</a>
            <!-- end ngIf: selectedRows.length>0 --></li>
            <!-- end ngIf: allowDelete -->
            <!-- ngIf: allowApprove -->
            <!-- ngIf: allowReject -->
            <!-- ngIf: allowReview -->
            <!-- ngRepeat: customBulk in customBulkFunc -->
          </ul>
        </div>
    </div>    
    <div class="col-md-10">
        <button class="rbtn btn pull-right" ng-click="Add()">Tambah Material</button>
    </div>
</div>

<!--grid-->
<div class="row">
    <div class="col-lg-12">    
        <div ui-grid="gridOptionsLangsung" style="height: 300px" class="grid" ui-grid-auto-resize ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-pagination ui-grid-pinning></div>
    </div>
</div>
<br>

<!--tombol bawah-->
<div class="row">
    <div class="col-md-12">
    <div class="pull-right">
        <!--<button type="button" class="wbtn btn">View Detail Bengkel</button>-->
        <!--<button type="button" class="wbtn btn">Kembali</button>-->
        <!--<button class="btn rbtn" ng-click="SimpanData(2, 2, mData)">Simpan SO</button>-->
        <button class="btn rbtn" ng-click="goBack2()">Kembali</button>
        <!-- <button class="rbtn btn no-animate" ladda="onProcessSave" data-style="expand-left" onclick="this.blur()" ng-click="SimpanSOLangsung(2, 2, mData)">Simpan SO</button> -->
        <button class="rbtn btn" ng-disabled="isApproved" ng-click="SimpanSOLangsung(2, 2, mData)">Simpan SO</button>
        <!-- <button class="btn rbtn" ng-click="SimpanDatanya(2, 2, mData)">Simpan SO</button> -->
        <button class="btn rbtn" ng-click="SimpanSOdanSBLangsung(2, 2, mData)" ng-hide=true>Simpan SO & Buat Sales Billing</button>
    </div>
    </div>
</div>
<bsui-modal 
           show="mForgot.show" 
           title="Lupa Toyota ID" 
           data="modal_model" 
           on-save="CheckModal" 
           
           button-settings="buttonSettingModal"
           mode="modalMode"
       > <!-- on-cancel="CheckCancel" -->
         <div ng-form name="contactForm">
         <bslabel>Pilih metode pemulihan Toyota ID sesuai informasi yang pernah tersimpan pada sistem</bslabel>
             <div class="row">
                 <div class="col-md-3">
                      <div class="radio">
                        <label><input type="radio" ng-model="mForgot.flag" ng-value="filterForgot[0]">Nomor Handphone</label>
                      </div>  
                  </div>
                  <div class="col-md-6">
                      <input type="text" name="optname" ng-disabled="mForgot.flag.key != filterForgot[0].key" ng-model="mForgot.valueHP" class="form-control" disallow-space>
                  </div>
                  <div class="col-md-3"></div>
             </div>
             <div class="row">
                 <div class="col-md-3">
                      <div class="radio">
                        <label><input type="radio" ng-model="mForgot.flag" ng-value="filterForgot[1]">Email</label>
                      </div>  
                  </div>
                  <div class="col-md-6">
                      <input type="text" name="optname" ng-disabled="mForgot.flag.key != filterForgot[1].key" ng-model="mForgot.value" class="form-control" disallow-space>
                  </div>
                  <div class="col-md-3"></div>
             </div>
         </div>
       </bsui-modal>

<!-- <script>
    // curent time
    (function () {
        function checkTime(i) {
            return (i < 10) ? "0" + i : i;
        }

        function startTime() {
            var today = new Date(),
                h = checkTime(today.getHours()),
                m = checkTime(today.getMinutes()),
                s = checkTime(today.getSeconds());
            document.getElementById('waktu').innerHTML = h + ":" + m + ":" + s;
            t = setTimeout(function () {
                startTime()
            }, 500);
        }
        startTime();
    })();
</script> -->