<bsui-modal
show="addcustomer"
title="Contact Data"
data="custAddress"
on-save="saveCustnonToyota"
on-cancel="cancel"
mode="modalMode"
button-settings="tomboladdcustomer">
<div ng-form name="customeradd">
<!--<div class="row">-->
<div class="col-md-6">
	<div class="form-group">
		<bsreqlabel>Kategori Pelanggan</bsreqlabel>
		<bsselect
			name="KatergoriCustomer"
			ng-model="custAddress.CustomerTypeId"
			data="CCategory"
			item-text="CustomerTypeDesc"
			item-value="CustomerTypeId"
			placeholder="Pilih Kategori Customer..."
			on-select="selectCCategory(selected)"
			required=true>
		</bsselect>
	</div>
	<div>
		<div class="form-group">
			<bsreqlabel ng-if= "custAddress.CustomerTypeId === 3">Nama Pelanggan</bsreqlabel>
			<bsreqlabel ng-if= "custAddress.CustomerTypeId === 4 || custAddress.CustomerTypeId === 6">Nama Institusi</bsreqlabel>
			<bsreqlabel ng-if="custAddress.CustomerTypeId === 5">Nama Yayasan</bsreqlabel>
			<input type="text" ng-model="custAddress.nama" ng-maxlength="255" maxlength="255" class="form-control" name="nama" required>
		</div>
		<div class="form-group" ng-if= "custAddress.CustomerTypeId != 3">
			<bsreqlabel>Nama Penanggung Jawab</bsreqlabel>
			<input type="text" ng-model="custAddress.PICName" ng-maxlength="255" maxlength="255" class="form-control" name="nama" required>
		</div>
		<div ng-if= "custAddress.CustomerTypeId === 3">
			<div class="form-group">
				<bsreqlabel>No Telepon 1</bsreqlabel>
				<input type="text" ng-model="custAddress.phone1" class="form-control" name="phone" maxlength="15" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required >
			</div>
			<div class="form-group">
				<label>No Telepon 2</label>
				<input type="text" ng-model="custAddress.phone2" class="form-control" name="phone" maxlength="15" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
			</div>
			<div class="form-group">
				<label>KTP</label>
				<input type="text" ng-model="custAddress.KTPKITAS" name="KTPKITAS" class="form-control" maxlength="25" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
			</div>
		</div>
		<div ng-if= "custAddress.CustomerTypeId != 3">
			<div class="form-group">
				<bsreqlabel>No HP Penanggung Jawab</bsreqlabel>
				<input type="text" ng-model="custAddress.PICHp" class="form-control" name="phone" maxlength="15" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required >
			</div>
		</div>
	</div>
	<div class="form-group">
		<label ng-if="custAddress.CustomerTypeId === 3" >NPWP</label>
		<bsreqlabel ng-if= "custAddress.CustomerTypeId != 3">NPWP</bsreqlabel>
		<input ng-required="custAddress.CustomerTypeId != 3" type="text" ng-model="custAddress.Npwp" name="Npwp" class="form-control" minlength="20" maxlength="20" maskme="99.999.999.9-999.999" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	</div>
	<div class="form-group">
		<label>Alamat</label>
		<input type="text" ng-model="custAddress.alamat" ng-maxlength="255" maxlength="255" name="add" class="form-control">
	</div>
	<!--<div class="form-group">
		<label>Jangka Waktu Bayar</label>
		<input type="text" ng-model="custAddress.periode" class="form-control" name="periode" >
	</div>-->
	<div class="form-group row">
		<div class="col-md-6">
			<label>RT</label>
			<input type="text"  ng-model="custAddress.rt" ng-maxlength="3" maxlength="3" name="rt" class="form-control" skip-disable="true" >
		</div>
		<div class="col-md-6">
			<label>RW</label>
			<input type="text" ng-model="custAddress.rw" name="rw" ng-maxlength="3" maxlength="3" class="form-control" skip-disable="true" >
		</div>
	</div>
</div>

<div class="col-md-6">
<div class="form-group">
	<bsreqlabel>Kode Jenis Transaksi</bsreqlabel>
	<bsselect
		name="KodeJenisTransaksi"
		ng-model="custAddress.TypeInvTax"
		data="KodeJenisTransaksi"
		item-text="Name"
		item-value="Code"
		placeholder="Pilih Kode Jenis Transaksi..."
		on-select="selectKodeJenisTransaksi(selected)"
		required=true>
	</bsselect>
</div>
<div class="form-group">
	<label>Provinsi</label>
	<bsselect
		name="propinsi"
		ng-model="custAddress.ProvinceId"
		data="DataProvinsi"
		item-text="ProvinceName"
		item-value="ProvinceId"
		placeholder="Pilih Propinsi..."
		on-select="selectProvinsi(selected)"
		>
	</bsselect>
</div>
<div class="form-group">
	<label>Kabupaten/Kota</label>
	<bsselect
		name="kabupaten"
		ng-model="custAddress.CityRegencyId"
		data="DataKabupaten"
		item-text="CityRegencyName"
		item-value="CityRegencyId"
		placeholder="Pilih Kabupaten/Kota..."
		ng-disabled="custAddress.ProvinceId == undefined"
		on-select="selectKabupaten(selected)"
		>
	</bsselect>
</div>
<div class="form-group">
	<label>Kecamatan</label>
	<bsselect
		name="kecamatan"
		ng-model="custAddress.DistrictId"
		data="DataRayon"
		item-text="DistrictName"
		item-value="DistrictId"
		placeholder="Pilih Kecamatan..."
		ng-disabled="custAddress.CityRegencyId == undefined"
		on-select="selectRayon(selected)"
		>
	</bsselect>
</div>
<div class="form-group">
	<label>Kelurahan</label>
	<bsselect
		name="kelurahan"
		ng-model="custAddress.VillageId"
		data="DataDesa"
		item-text="VillageName"
		item-value="VillageId"
		placeholder="Pilih Kelurahan..."
		ng-disabled="custAddress.DistrictId == undefined"
		on-select="selectDesa(selected)"
		>
	</bsselect>
</div>
<div class="form-group">
	<label style="margin-top: 5px;">Kode Pos</label>
	<input type="text" name="PostalCodeId" class="form-control" ng-model="DataDesa.PostalCode" disabled>
</div>
</div>
<div style="height:100px; float:left;">
&nbsp;
</div>
<!--</div>-->
</div>
</bsui-modal>
