<bsui-modal 
	show="ubah_customer" 
	title="Contact Data" 
	data="ubahCust" 
	on-save="ubahDataCustomer" 
	on-cancel="cancelUbah"
	mode="modalMode" 
	button-settings="tomboleditcustomer">

<div ng-form name="customeredit">

	<div class="row" style="display: none;">
		<div class="col-md-12">
			<div class="form-group">
				<bsreqlabel>ID Customer</bsreqlabel>
				<input type="text" ng-model="ubahCust.CustomerId" class="form-control" disabled>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group">
			<bsreqlabel>Kategori Pelanggan</bsreqlabel>
			<bsselect
				name="KatergoriCustomer"
				ng-model="ubahCust.CustomerTypeId"
				data="CCategory"
				item-text="CustomerTypeDesc"
				item-value="CustomerTypeId"
				placeholder="Pilih Kategori Customer..."
				on-select="selectCCategory(selected)"
				required=true
				ng-disabled="disabledKategoriCustomer">
			</bsselect>
		</div>
		<div>
			<div class="form-group">
				<bsreqlabel ng-if= "ubahCust.CustomerTypeId === 3">Nama Pelanggan</bsreqlabel>
				<bsreqlabel ng-if= "ubahCust.CustomerTypeId === 4 || ubahCust.CustomerTypeId === 6">Nama Institusi</bsreqlabel>
				<bsreqlabel ng-if="ubahCust.CustomerTypeId === 5">Nama Yayasan</bsreqlabel>
				<input type="text" ng-model="ubahCust.nama" class="form-control" name="nama" required>
			</div>
			<div class="form-group" ng-if= "ubahCust.CustomerTypeId != 3">
				<bsreqlabel>Nama Penanggung Jawab</bsreqlabel>
				<input type="text" ng-model="ubahCust.PICName" class="form-control" name="nama" required>
			</div>
			<div ng-if= "ubahCust.CustomerTypeId === 3">
				<div class="form-group">
					<bsreqlabel>No Telepon 1</bsreqlabel>
					<input type="text" ng-model="ubahCust.phone1" class="form-control" name="phone" maxlength="15" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required >
				</div>
				<div class="form-group">
					<label>No Telepon 2</label>
					<input type="text" ng-model="ubahCust.phone2" class="form-control" name="phone" maxlength="15" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
				</div>
				<div class="form-group">
					<label>KTP</label>
					<input type="text" ng-model="ubahCust.KTPKITAS" name="KTPKITAS" class="form-control" maxlength="25" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
				</div>
			</div>
			<div ng-if= "ubahCust.CustomerTypeId != 3">
				<div class="form-group">
					<bsreqlabel>No HP Penanggung Jawab</bsreqlabel>
					<input type="text" ng-model="ubahCust.PICHp" class="form-control" name="phone" maxlength="15" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required >
				</div>
			</div>
		</div>
		<div class="form-group">
			<label ng-if="ubahCust.CustomerTypeId === 3" >NPWP</label>
			<bsreqlabel ng-if= "ubahCust.CustomerTypeId != 3">NPWP</bsreqlabel>
			<input ng-required="ubahCust.CustomerTypeId != 3" type="text" ng-model="ubahCust.Npwp" name="Npwp" class="form-control" minlength="20" maxlength="20" maskme="99.999.999.9-999.999" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
		</div>
		<div class="form-group">
			<label>Alamat</label>
			<input type="text" ng-model="ubahCust.alamat" name="add" class="form-control">
		</div>
		<!--<div class="form-group">
			<label>Jangka Waktu Bayar</label>
			<input type="text" ng-model="ubahCust.periode" class="form-control" name="periode" >
		</div>-->
		<div class="form-group row">
			<div class="col-md-6">
				<label>RT</label>
				<input type="text"  ng-model="ubahCust.rt" name="rt" class="form-control" skip-disable="true" >
			</div>
			<div class="col-md-6">
				<label>RW</label>
				<input type="text" ng-model="ubahCust.rw" name="rw" class="form-control" skip-disable="true" >
			</div>
		</div>
	</div>
	
	<div class="col-md-6">
	<div class="form-group">
		<bsreqlabel>Kode Jenis Transaksi</bsreqlabel>
		<bsselect
			name="KodeJenisTransaksi"
			ng-model="ubahCust.TypeInvTax"
			data="KodeJenisTransaksi"
			item-text="Name"
			item-value="Code"
			placeholder="Pilih Kode Jenis Transaksi..."
			on-select="selectKodeJenisTransaksi(selected)"
			required=true>
		</bsselect>
	</div>
	<div class="form-group">
		<label>Provinsi</label>
		<bsselect
			name="propinsi"
			ng-model="ubahCust.ProvinceId"
			data="DataProvinsi"
			item-text="ProvinceName"
			item-value="ProvinceId"
			placeholder="Pilih Propinsi..."
			on-select="selectProvinsi(selected)"
			>
		</bsselect>
	</div>
	<div class="form-group">
		<label>Kabupaten/Kota</label>
		<bsselect
			name="kabupaten"
			ng-model="ubahCust.CityRegencyId"
			data="DataKabupaten"
			item-text="CityRegencyName"
			item-value="CityRegencyId"
			placeholder="Pilih Kabupaten/Kota..."
			ng-disabled="ubahCust.ProvinceId == undefined"
			on-select="selectKabupaten(selected)"
			>
		</bsselect>
	</div>
	<div class="form-group">
		<label>Kecamatan</label>
		<bsselect
			name="kecamatan"
			ng-model="ubahCust.DistrictId"
			data="DataRayon"
			item-text="DistrictName"
			item-value="DistrictId"
			placeholder="Pilih Kecamatan..."
			ng-disabled="ubahCust.CityRegencyId == undefined"
			on-select="selectRayon(selected)"
			>
		</bsselect>
	</div>
	<div class="form-group">
		<label>Kelurahan</label>
		<bsselect
			name="kelurahan"
			ng-model="ubahCust.VillageId"
			data="DataDesa"
			item-text="VillageName"
			item-value="VillageId"
			placeholder="Pilih Kelurahan..."
			ng-disabled="ubahCust.DistrictId == undefined"
			on-select="selectDesa(selected)"
			>
		</bsselect>
	</div>
	<div class="form-group">
		<label style="margin-top: 5px;">Kode Pos</label>
		<input type="text" name="PostalCodeId" class="form-control" ng-model="ubahCust.PostalCode" disabled>
	</div>
	</div>
	<div style="height:100px; float:left;">
	&nbsp;
	</div>

</div>
</bsui-modal>