<script type="text/javascript">

</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="stylesheet" type="text/javascript" href="https://cdn.rawgit.com/eligrey/FileSaver.js/">
		<div ng-show="MainPEDealerToBranch_Show">
		<fieldset class="scheduler-border" style="margin-top: 10px;">
			<legend style="background:white;" class="scheduler-border">Main Price Komponen</legend>
			<div class="col-md-12">
				<div class="col-md-3">
					<bslabel>Pricing Type</bslabel>				
				</div>
				<div class="col-md-3">
					<div class="input-icon-right; ">
						<bsselect ng-model="MainPEDealerToBranchPricingType" data="optionsMainPEDealerToBranchPricingType" 
						item-text="TypeName" item-value="TypeId" on-select="value(selected)" placeholder="Pricing Type" icon="fa fa-search"
						ng-change="MainPEDealerToBranchPricingType_Changed()"
						>
						</bsselect>						
					</div>
				</div>
				<div class="col-md-1"></div>				
				<div class="col-md-5">
					<fieldset class="scheduler-border" style="margin-top: 10px;">
						<legend style="background:white;" class="scheduler-border">Legend Parameter</legend>
						<bslabel> #Data# $Condition$ {Input} [Price Komponen]</bslabel>
					</fieldset>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-6">
					<div ui-grid="PEDealerToBranch_DaftarVariable_UIGrid" 
						class="form-group" ui-grid-auto-resize ui-grid-selection ui-grid-pagination></div>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<div ui-grid="PEDealerToBranch_DaftarInput_UIGrid" 
						class="form-group" ui-grid-auto-resize ui-grid-selection ui-grid-pagination></div>
				</div>				
			</div>

			<div class="col-md-12">
				<div class="col-md-5">
					<bslabel>Computational Formula</bslabel>
				</div>
				<div class="col-md-5">
					<button id="PEDealerToBranch_TambahFormula" ng-click="PEDealerToBranch_TambahFormula_Clicked()"
						type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px" >
						<span class="ladda-label">
							Tambah
						</span><span class="ladda-spinner"></span>
					</button>
				</div>				
			</div>

			<div class="col-md-12">
				<div ui-grid="PEDealerToBranch_DaftarFormula_UIGrid" 
						class="form-group" ui-grid-auto-resize ui-grid-selection ui-grid-pagination></div>				
			</div>

			<div class="col-md-12">
				<div class="col-md-5">
					<bslabel>Display</bslabel>
				</div>
				<div class="col-md-5">
					<button id="PEDealerToBranch_TambahDisplay" ng-click="PEDealerToBranch_TambahDisplay_Clicked()"
						type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px" >
						<span class="ladda-label">
							Tambah
						</span><span class="ladda-spinner"></span>
					</button>
				</div>				
			</div>

			<div class="col-md-12">
					<button id="PEDealerToBranch_DisplayDesktop" ng-click="PEDealerToBranch_DisplayDesktop_Clicked()"
						type="button" class="rbtn btn ng-binding ladda-button" style="float: left; margin-top:24px;margin-left:24px" >
						<span class="ladda-label">
							Desktop View
						</span><span class="ladda-spinner"></span>
					</button>
					<button id="PEDealerToBranch_DisplayMobile" ng-click="PEDealerToBranch_DisplayMobile_Clicked()"
						type="button" class="rbtn btn ng-binding ladda-button" style="float: left; margin-top:24px;margin-left:24px" >
						<span class="ladda-label">
							Mobile View
						</span><span class="ladda-spinner"></span>
					</button>				
			</div>

			<div class="col-md-12">
				<fieldset class="scheduler-border" style="margin-top: 10px;">
					<div ui-grid="PEDealerToBranch_DaftarDisplayMobile_UIGrid" 
						ng-show="PEDealerToBranch_DaftarDisplayMobile_Show"
							class="form-group" ui-grid-auto-resize ui-grid-selection ui-grid-pagination></div>			

					<div ui-grid="PEDealerToBranch_DaftarDisplayDesktop_UIGrid" 
						ng-show="PEDealerToBranch_DaftarDisplayDesktop_Show"
							class="form-group" ui-grid-auto-resize ui-grid-selection ui-grid-pagination></div>										
				</fieldset>
			</div>			

			<div class="col-md-12">
					<div class="col-md-8"></div>
					<div class="col=md-2">
						<button id="PEDealerToBranch_Batal" ng-click="PEDealerToBranch_Batal_Clicked()"
							type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px" >
							<span class="ladda-label">
								Batal
							</span><span class="ladda-spinner"></span>
						</button>	
					</div>		
					<div class="col=md-2">
						<button id="PEDealerToBranch_Simpan" ng-click="PEDealerToBranch_Simpan_Clicked()"
							type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px" >
							<span class="ladda-label">
								Simpan
							</span><span class="ladda-spinner"></span>
						</button>		
					</div>			
			</div>
		</fieldset>
	</div>
		<div class="ui modal" id="Modal_PEDealerToBranch" role="dialog" style="margin-top:5px;
			 padding: 20px;overflow:visible">
		<!--class="swal2-container swal2-fade swal2-shown" style="overflow-y: auto;"
			<div class="ui modal" id="Modal_PEDealerToBranch_TambahDisplay" role="dialog">-->
			<!--<div class="modalDefault-dialog" style="">-->
			<div class="modalDefault-dialog" style="">
			<!--<ul class="swal2-progresssteps" style="display: none;"></ul>-->
			<div ng-show="Modal_PEDealerToBranch_TambahFormula">
	<!--<div class="ui modal" id="Modal_PEDealerToBranch_TambahFormula" role="dialog">
			<div class="modal-content" style="">-->
				<fieldset class="scheduler-border" style="margin-top: 10px;">
				<legend align="center" style="background:white;" class="scheduler-border">Formula</legend>
				<div class="row">
				<!--<ul class="list-group" >-->
					<div class="col-md-12">
						<div class="col-md-4">
							<bslabel>Nama Pricing Komponen</bslabel>
						</div>
						<div class="col-md-8">					
							<input type="text" class="form-control" name="" placeholder="" 
							ng-disabled="Modal_PEDealerToBranch_NamaPricingKomponen_Disabled"
							ng-model="Modal_PEDealerToBranch_NamaPricingKomponen" ng-maxlength="50 ">
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-4">
							<bslabel>Pricing Variable</bslabel>
							</div>
						<div class="col-md-6">					
							<bsselect ng-model="MainPEDealerToBranch_TambahFormula_Variable" data="optionsMainPEDealerToBranch_TambahFormula_Variable" 
							item-text="ComponentCode" item-value="ComponentCode" on-select="value(selected)" 
							placeholder="Pricing Variable" icon="fa fa-search"
							>
							</bsselect>	
						</div>
						<div class="col=md-2">
							<button ng-click="Tambah_Modal_PEDealerToBranch_Clicked()" type="button" 
								class="rbtn btn ng-binding ladda-button" >
								Tambah
							</button>
						</div>			
					</div>		
					<div class="col-md-12">
						<div class="col-md-4">
							<bslabel>Pricing Formula</bslabel>
						</div>
						<div class="col-md-8">
								<textarea type="text" 
								class="form-control" 
								name="PricingFormula" placeholder="Pricing Formula" 
								ng-model="Modal_PEDealerToBranch_PricingFormula" 
								ng-maxlength="200"
								style="margin-bottom: 10px" 
								required></textarea>
						</div>						
					</div>
					<div class="col-md-12" align="center">
						<button ng-click="Tambah_Modal_PEDealerToBranch_Batal_Clicked()" type="button" 
									class="rbtn btn ng-binding ladda-button" >
									Batal
								</button>
							<button  ng-click="Tambah_Modal_PEDealerToBranch_Simpan_Clicked()" type="button" 
								class="rbtn btn ng-binding ladda-button" >
								Simpan
							</button>					
					</div>		
				</div>					
			</div> 


		<div ng-show="Modal_PEDealerToBranch_DeleteFormula">	
	<!--	<div class="ui modal" id="Modal_PEDealerToBranch_DeleteFormula" role="dialog">
			<div class="modal-content" style="">-->
				<legend align="center" style="background:white;" class="scheduler-border">Hapus Formula</legend>
					<table width="100%"><tr><td>
							<bslabel>Nama Pricing Komponen</bslabel>
						</td><td>
							<input type="text" class="form-control" name="" placeholder="" 
							ng-disabled="true"
							ng-model="Modal_PEDealerToBranch_NamaPricingKomponen_Delete" ng-maxlength="50 ">
						</td>
					</tr>
					<tr>
						<td>
							<bslabel>Pricing Formula</bslabel>
						</td>
						<td>
							<p>
								<textarea type="text" 
								class="form-control" 
								name="PricingFormula" 
								placeholder="Pricing Formula" 
								ng-model="Modal_PEDealerToBranch_PricingFormula_Delete" 
								ng-disabled="true"
								ng-maxlength="50"
								style="margin-bottom: 10px" 
								required></textarea>
							</p>
						</td>						
					</tr>		
					</table>	
					<div class="col-md-12" align="center">
								<button ng-click="Delete_Modal_PEDealerToBranch_Batal_Clicked()" type="button" 
									class="rbtn btn ng-binding ladda-button" >
									Batal
								</button>
							<button ng-click="Delete_Modal_PEDealerToBranch_Hapus_Clicked()" type="button" 
									class="rbtn btn ng-binding ladda-button" >
									Hapus
							</button>	
					</div>				
											
			</div> 
		<!--<div class="ui modal" id="Modal_PEDealerToBranch_TambahDisplay" role="dialog">-->
			<!--<div class="modalDefault-dialog" style="">-->

		<div ng-show="Modal_PEDealerToBranch_TambahDisplay">		
			<fieldset class="scheduler-border" style="margin-top: 10px;">
				<legend align="center" style="background:white;" class="scheduler-border">{{Modal_PEDealerToBranch_TambahDisplay_Header}}</legend>
				<table width="100%">
					<tr>
						<td>
							<bslabel>Pricing Variable</bslabel>
						</td>
						<td>
							<bsselect ng-model="MainPEDealerToBranch_TambahDisplay_Variable1" 
							data="optionsMainPEDealerToBranch_TambahDisplay_Variable1" 
							item-text="ComponentCode" item-value="ComponentCode" on-select="value(selected)" 
							placeholder="Pricing Variable" icon="fa fa-search">
							</bsselect>	
						</td>
						<td>
							<button ng-click="TambahDisplay_Modal_PEDealerToBranch_Clicked1()" type="button" 
								class="rbtn btn ng-binding ladda-button" >
								Tambah
							</button>
						</td>						
					</tr>
					<tr>
						<td>
							<bslabel>Nama Display Kolom 1</bslabel>
						</td>
						<td colspan="2">
							<input type="text" class="form-control" name="" placeholder="" 
							ng-disabled="true" ng-model="Modal_PEDealerToBranch_NamaDisplayVariable1" ng-maxlength="50 ">
						</td>
					</tr>				
					<tr>
						<td>
							<bslabel>Pricing Variable</bslabel>
						</td>
						<td>
							<bsselect ng-model="MainPEDealerToBranch_TambahDisplay_Variable2" 
							data="optionsMainPEDealerToBranch_TambahDisplay_Variable2" 
							item-text="ComponentCode" item-value="ComponentCode" on-select="value(selected)" 
							placeholder="Pricing Variable" icon="fa fa-search">
							</bsselect>	
						</td>
						<td>
							<button ng-click="TambahDisplay_Modal_PEDealerToBranch_Clicked2()" type="button" 
								class="rbtn btn ng-binding ladda-button" >
								Tambah
							</button>
						</td>						
					</tr>
					<tr>
						<td>
							<bslabel>Nama Display Kolom 2</bslabel>
						</td>
						<td colspan="2">
							<input type="text" class="form-control" name="" placeholder="" 
							ng-disabled="true" ng-model="Modal_PEDealerToBranch_NamaDisplayVariable2" ng-maxlength="50 ">
						</td>
					</tr>	
					<tr ng-show="ShowDisplayKolomThree">				
							<td>
								<bslabel>Pricing Variable</bslabel>
							</td>
							<td>
								<bsselect ng-model="MainPEDealerToBranch_TambahDisplay_Variable3" 
								data="optionsMainPEDealerToBranch_TambahDisplay_Variable3" 
								item-text="ComponentCode" item-value="ComponentCode" on-select="value(selected)" 
								placeholder="Pricing Variable" icon="fa fa-search">
								</bsselect>	
							</td>
							<td>
								<button ng-click="TambahDisplay_Modal_PEDealerToBranch_Clicked3()" type="button" 
									class="rbtn btn ng-binding ladda-button" >
									Tambah
								</button>
							</td>						
					</tr>
					<tr ng-show="ShowDisplayKolomThree">
						<td><bslabel>Nama Display Kolom 3</bslabel>
							</td>
						<td colspan="2">
							<input type="text" class="form-control" name="" placeholder="" 
							ng-disabled="true" ng-model="Modal_PEDealerToBranch_NamaDisplayVariable3" ng-maxlength="50 ">
						</td>
					</tr></table>		
					<br><br>
					<p align ="center">
						<button ng-click="TambahDisplay_Modal_PEDealerToBranch_Batal_Clicked()" type="button" 
							class="rbtn btn ng-binding ladda-button" >
							Batal
						</button>
					<button  ng-click="TambahDisplay_Modal_PEDealerToBranch_Tambah_Clicked()" type="button" 
							class="rbtn btn ng-binding ladda-button" >
							{{Modal_PEDealerToBranch_TambahDisplay_Button}}
						</button>					
					</p>								
				</fieldset>
			</div> 		

		<!--<div class="ui modal" id="Modal_PEDealerToBranch_TambahDisplay" role="dialog">-->
			<!--<div class="modalDefault-dialog" style="">-->
			<div ng-show="Modal_PEDealerToBranch_DeleteDisplay">
	<!--<div class="ui modal" id="Modal_PEDealerToBranch_DeleteDisplay" role="dialog">-->
			<!--<div class="modal-content" style="">-->
				<legend align="center" style="background:white;" class="scheduler-border">Hapus Display</legend>
				<div class="modal-body">
					<p>
						<div class="col-sm-6">
							<bslabel>Nama Display Kolom 1</bslabel>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="" placeholder="" 
							ng-disabled="true" ng-model="Modal_PEDealerToBranch_NamaDisplayVariableHapus1" ng-maxlength="50 ">
						</div>
					</p>				
					<p>
						<div class="col-sm-6">
							<bslabel>Nama Display Kolom 2</bslabel>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="" placeholder="" 
							ng-disabled="true" ng-model="Modal_PEDealerToBranch_NamaDisplayVariableHapus2" ng-maxlength="50 ">
						</div>
					</p>			
						<p ng-show="ShowDisplayKolomThreeHapus">
							<div class="col-sm-6">
								<bslabel>Nama Display Kolom 3</bslabel>
							</div>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="" placeholder="" 
								ng-disabled="true" ng-model="Modal_PEDealerToBranch_NamaDisplayVariableHapus3" ng-maxlength="50 ">
							</div>
						</p>									
					<p align="center">
								<button ng-click="TambahDisplay_Modal_PEDealerToBranch_HapusBatal_Clicked()" type="button" 
									class="rbtn btn ng-binding ladda-button" >
									Batal
								</button>
							<button  ng-click="TambahDisplay_Modal_PEDealerToBranch_Hapus_Clicked()" type="button" 
									class="rbtn btn ng-binding ladda-button" >
									Hapus
								</button>					
					</p>								
				</div>
			</div> 
		</div>		
		</div>
