<script type="text/javascript">
</script>
<style type="text/css">

</style>


<bsform-grid ng-form="DeliveryCategoryForm" factory-name="DeliveryCategoryFactory" model="mDeliveryCategory" model-id="DeliveryCategoryId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="DeliveryCategoryForm"
    form-title="Delivery Category" modal-title="Delivery Category" modal-size="small" form-api="formApi" do-custom-save="doCustomSave" icon="fa fa-fw fa-child">

    
     <div class="row">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Delivery Category</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="DeliveryCategory" placeholder="Delivery Category" ng-model="mDeliveryCategory.DeliveryCategoryName" ng-maxlength="50" required>
                </div>
                <bserrmsg field="DeliveryCategory"></bserrmsg>
            </div>
  
        </div>
    </div>
</bsform-grid>