<script type="text/javascript">
</script>
<style type="text/css">
</style> 


<!--   action-button-settings="actionButtonSettings"
        action-button-settings-detail="actionButtonSettingsDetail"
        show-advsearch="on"

        form-api="formApi"
        linksref="app.queueCategory"
        linkview="queueCategory@app"
 -->

<bsform-base
        ng-form="TechProdHO"
        loading="loading"
        get-data="getData"

         show-advsearch="on"

        form-api="formApi"
        linksref="app.queueCategory"
        linkview="queueCategory@app"

        form-name="TechProdHO"
        form-title="Technician Productivity"
        icon="fa fa-fw fa-child"
>

<bsform-advsearch>
<!--   <div class="panel panel-default">
        <div class="panel-body"> -->
            <div class="row" style="margin-right:0px;">
 
            <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>TAM Area </label>
                      <bsselect ng-disabled="DisabledTAM()" ng-model="filter.tamarea" 
                                name="tamarea" 
                                data="dataAreaTAM" 
                                item-text="areaName" 
                                item-value="areaId" 
                                on-select="areaId(selected)" 
                                placeholder="Select TAM Area" required>
                      </bsselect>
                      <bserrmsg field="tamarea"> harus diisi </bserrmsg>
                  </div>
                  
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Group Dealer </label>
                      <bsselect ng-disabled="DisabledTAM()" ng-model="filter.Dealer" 
                                name="dealer" 
                                data="dataDealer" 
                                item-text="dealerName" 
                                item-value="dealerCode" 
                                on-select="dealerCode(selected)" 
                                placeholder="Select Dealer" required>
                      </bsselect>
                      <bserrmsg field="dealer"> harus diisi </bserrmsg>
                  </div>
                  
                 
              </div>
              <div class="col-md-4">
             <div class="form-group" show-errors>
                      <label>Group Dealer Area</label>
                      <bsselect ng-disabled="DisabledDealer()" ng-model="filter.dealerarea" 
                                name="dealerarea" 
                                data="dataAreaDealerHO" 
                                item-text="areaName" 
                                item-value="areaId" 
                                on-select="areaId(selected)" 
                                placeholder="Select Dealer Area" required>
                      </bsselect>
                      <bserrmsg field="dealerarea"> harus diisi </bserrmsg>
                  </div>
              
              </div>
            </div>

            <div class="row" style="margin-right:0px;">
 
            <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Cabang </label>
                      <bsselect ng-model="filter.CabangHO" 
                                name="cabangHO" 
                                data="dataCabangHO" 
                                item-text="cabangName" 
                                item-value="cabangID" 
                                on-select="cabangID(selected)" 
                                placeholder="Select Cabang" required >
                      </bsselect>
                      <bserrmsg field="cabang"> harus diisi </bserrmsg>
                  </div>
                  
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label style="visibility: hidden">Group Dealer </label>
                      <bsselect ng-model="filter.Cabang" name="cabang2" data="getCabang" item-text="CabangName" item-value="CabangId" on-select="CabangId(selected)" placeholder="Select Cabang" style="visibility: hidden" required>
                      </bsselect>
                      <bserrmsg field="cabang2"> harus diisi </bserrmsg>
                  </div>
                  
                 
              </div>
              <div class="col-md-4">
             <div class="form-group" show-errors>
                      <label>Kategori Workshop </label>
                      <input type="text" class="form-control" ng-model="filter.kategori" name="kategoriWorkshop" placeholder="Kategori Workshop" required disabled>
                      <bserrmsg field="kategoriWorkshop"> harus diisi </bserrmsg>
              </div>
              
              </div>
            </div>

            <div class="row" style="margin-right:0px;">
              <div class="col-md-3">
                <div class="form-group" show-errors>
                      <bsreqlabel>Periode</bsreqlabel>
                       <bsdatepicker
                      name="dateStart"
                      date-options="dateOptions"
                      ng-model="filter.DateStart" required
                      >
                      </bsdatepicker>
                      <bserrmsg field="dateStart"> harus diisi </bserrmsg>
                </div>
              </div>
              <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
                <div class="col-md-3"  style="margin-top: 5px;">
                  <div class="form-group" show-errors>
                        <label></label>
                         <bsdatepicker
                        name="dateEnd"
                        date-options="dateOptions"
                        ng-model="filter.DateEnd" required
                        >
                        </bsdatepicker>
                        <bserrmsg field="dateEnd"> harus diisi </bserrmsg>
                  </div>
                </div>
                <!-- <pre>{{filter}}</pre> -->
              </div>
               <div class="row" style="margin-right:0px;"> </div>
<!--                   <div class="col-md-3"></div>
                  <div button ng-click="getData()" class="form-group pull-right">
                      <button type="button" class="rbtn btn"> Filter </button>
                  </div> -->
            <br><br>
<!--       </div>
  </div> -->
</bsform-advsearch>
             
      <bsform-base-main>
          <div class="panel panel-default">
            <div class="panel-heading">Summary</div>   
            <fieldset disabled>
              <div class="panel-body">
                <div class=" col-md-4">
                      <div class="row" style="">
                        <div class="form-group form-inline" style="margin-right: -10px;">
                            <label >Hari Kerja</label>
                            <div class="pull-right"><input type="text" class="form-control" name="sumHariKerja" ng-model="sumHariKerja" style="width: 50%;" disabled></div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: -10px;">
                            <label>Jam Tersedia (JT)</label>
                            <div class="pull-right"><input type="text" class="form-control"  name="sumJT" ng-model="sumJT" style="width: 50%;" disabled></div>
                        </div>
                        
                      </div>
                </div>
                <div class=" col-md-4">
                      <div class="row" style="">
                        <div class="form-group form-inline" style="margin-right: -20px;">
                            <label >Jam Terpakai (JA)</label>
                            <div class="pull-right"><input type="text" class="form-control" name="sumJA" ng-model="sumJA" style="width: 50%;" disabled></div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: -20px;">
                            <label>Jam Terjual (JF)</label>
                            <div class="pull-right"><input type="text" class="form-control" name="sumJF" ng-Model="sumJF" style="width: 50%;" disabled></div>
                        </div>
                      </div>
                </div>
                <div class=" col-md-4">
                      <div class="row" style="">
                        <div class="form-group form-inline" style="margin-right: -20px;">
                            <label>Unit Entry (UE)</label>
                            <div class="pull-right"><input type="text" class="form-control" name="sumUE" ng-model="sumUE" style="width: 50%;" disabled></div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: -20px;">
                            <label>Return Job (RTJ)</label>
                            <div class="pull-right"><input type="text" class="form-control" name="sumRTJ" ng-model="sumRTJ" style="width: 50%;" disabled></div>
                        </div>
                      </div>
                </div> 
              <div>
          </div>
        </div>


        <bsform-base-main>
              <div class="panel panel-default">
                <div class="panel-heading">Productivity</div>    
                      <div class="panel-body">
                        <div class=" col-md-4">
                            <div class="row" style="">
                                <div class="form-group form-inline" style="margin-right: -23px;">
                                    <label >Repair Unit Mechanics (RUM)</label>
                                    <div class="pull-right"><input type="text" class="form-control" name="proRUM" ng-model="proRUM" style="width: 50%;" disabled>&ensp;%</div>
                                </div>
                                <div class="form-group form-inline" style="margin-right: -23px;">
                                    <label>Return Job Rate (RTJ)</label>
                                    <div class="pull-right"><input type="text" class="form-control" name="proRTJ" ng-model="proRTJ" style="width: 50%;" disabled>&ensp;%</div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-4">
                            <div class="row" style="">
                                <div class="form-group form-inline" style="margin-right: -37px;">
                                    <label >Technician Efficiency (TE)</label>
                                    <!-- <label >(JF/JA)</label> -->
                                      <div class="pull-right"><input type="text" class="form-control" name="proTE" ng-model="proTE" style="width: 50%;" disabled>&ensp;%</div>
                                </div>
                                <div class="form-group form-inline" style="margin-right: -37px;">
                                    <label >Labour Utility (LU)</label>
                                    <!-- <label >(JA/JT)</label> -->
                                    <div class="pull-right"><input type="text" class="form-control" name="proLU" ng-model="proLU" style="width: 50%;" disabled>&ensp;%</div>
                                </div>
                                <div class="form-group form-inline" style="margin-right: -37px;">
                                    <label >Overall Productivity (OP)</label>
                                    <!-- <label >(JF/JT)</label> -->
                                    <div class="pull-right"><input type="text" class="form-control" name="proOP" ng-model="proOP" style="width: 50%;" disabled>&ensp;%</div>
                                </div>
                            </div>
                        </div>
              </div> </div></bsform-base-main>
</fieldset> 
                  <div class="form-group pull-right">
                      <button ng-click="getReportHO()" type="button" class="rbtn btn"> Export </button>
                  </div>
      </div>
    </bsform-base-main>
</bsform-base>

