<script type="text/javascript">
</script>
<style type="text/css">
    .inp {
        margin: 20px;
    }
    .subOne{
        margin-left: 25px;
    }
    .subTwo{
        margin-left: 50px;
    }
    .content-bold{
        border-radius:5px;
    }
    .content-bold label{
        font-weight:bolder !important;
    }
    /* table, th{
        border: 1px solid #dddddd;
        border-collapse: collapse;
        padding:10px 25px 0 25px;
    }
    td{
        border-bottom: 1px solid #dddddd;
        padding:10px 25px 0 25px;
    } */
    .tbl-new, .th-new{
        border: 1px solid #dddddd;
        border-collapse: collapse;
        padding:10px 25px 0 25px;
    }
    .td-new{
        border-bottom: 1px solid #dddddd;
        padding:10px 25px 0 25px;
    }
</style>


<bsform-base ng-form="BengkelGR" loading="loading" show-advsearch="off" form-name="BengkelGR" form-title="BengkelGR" icon="fa fa-fw fa-child">

    <bsform-base-main>
        <div class="panel panel-default">
            <div class="panel-heading">Filter</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group" show-errors>
                            <label>Dealer</label>
                            <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" required>
                            </bsselect>
                            <bserrmsg field="dealer"> harus diisi </bserrmsg>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group" show-errors>
                            <label>Cabang</label>
                            <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                            </bsselect>
                            <bserrmsg field="cabang"> harus diisi </bserrmsg>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-3">
                            <div class="form-group" show-errors>
                                <bsreqlabel>Bulan/Tahun</bsreqlabel>
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <bsdatepicker ng-model="filter.periode" max-date="periode" name="periode" date-options="dateOptions" date-format="MM-YYYY" ng-disabled="valueChange" required></bsdatepicker>
                                    <bserrmsg field="periode"> harus diisi </bserrmsg>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button class="rbtn btn" ng-click="tampilkan()"> Tampilkan Data</button>
                    <button class="rbtn btn" ng-click="getReport()"> Export </button>
                </div>
                <!-- <pre> {{filter}}</pre> -->
            </div>
        </div>
    </bsform-base-main>


    <bsform-base-main>
        <div class="row">
            <div class="col-md-8">
                <label style="color:red;"><h6><b><u> 
      Harap masukkan data dibawah ini untuk melengkapi KPI Laporan Bulanan Bengkel
      </u></b></h6></label>
            </div>
            <div class="col-md-3 pull-right" style="visibility:hidden">
                <input type="text" class="form-control" name="" ng-model="a" style="width: 80%;">
            </div>
        </div>
        <!-- ============================== -->
        <div class="row">
            <div class="col-md-8">
                <label><b>1. DATA PENGGUNAAN LISTRIK</b></label>
            </div>
            <div class="col-md-3 pull-right" style="visibility:hidden">
                <input type="text" class="form-control __web-inspector-hide-shortcut__ " name="datalistrik" ng-model="datalistrik" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7" style="margin-left: 25px;">
                <label>Listrik (kwh)</label>
            </div>
            <div class="col-md-3 pull-right">
                <input type="text" class="form-control" name="listrikkwh" ng-model="filter.listrikkwh" style="width: 80%; text-align: right;">
            </div>
        </div>
<!-- <fieldset disabled> -->
        <div class="row">
            <div class="col-md-9">
                <label><b>2. ABSORPTION RATE</b></label>
            </div>
            <div class="col-md-2" >
                <input type="text" class="form-control" name="ABSORPTIONRATE" ng-model="filter.absorption_rate" style="width: 100%;  text-align: right;" disabled>
            </div>
             <div class="col-md-1 ">
                <label style="font-size: 18px; padding-top:5px; margin-left:-20px">%</label>                
             </div>
            
        </div>
            <div class="row">
                <div class="col-md-8 subOne" style="background-color:#eee; padding-top:10px;">
                    <label><b>Service Revenue</b></label>
                </div>
                <div class="col-md-3 pull-right">
                    <input type="text" class="form-control" name="ServiceRevenue" ng-model="filter.ServiceRevenue" style="width: 80%; text-align: right;" disabled>
                </div>
            </div>
                <!-- <div class="row">
                    <div class="col-md-8 subTwo">
                        <label>Parts Sales (internal W/S)</label>
                    </div>
                    <div class="col-md-3 pull-right">
                        <input type="text" class="form-control" name="PartsSalesInternal" ng-model="filter.partinternal" style="width: 80%;" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 subTwo">
                        <label>Parts sales – eksternal (counter & parts jobbers / whole – sales)</label>
                    </div>
                    <div class="col-md-3 pull-right">
                        <input type="text" class="form-control" name="PartsSalesEksternal" ng-model="filter.partexternal" style="width: 80%;" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 subTwo">
                        <label>Oil sales </label>
                    </div>
                    <div class="col-md-3 pull-right">
                        <input type="text" class="form-control" name="OilSales" ng-model="filter.oilsales" style="width: 80%;" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 subTwo">
                        <label>Outside work / sublet sales </label>
                    </div>
                    <div class="col-md-3 pull-right">
                        <input type="text" class="form-control" name="OWSS" ng-model="filter.outsidework" style="width: 80%;" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 subTwo">
                        <label>Accessories sales </label>
                    </div>
                    <div class="col-md-3 pull-right">
                        <input type="text" class="form-control" name="AccessoriesSales" ng-model="filter.accessories" style="width: 80%;" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 subTwo">
                        <label>Service labour sales </label>
                    </div>
                    <div class="col-md-3 pull-right">
                        <input type="text" class="form-control" name="ServiceLabourSales" ng-model="filter.SLS" style="width: 80%;" disabled>
                    </div>
                </div> -->
            <div class="row">
                <div class="col-md-8 subOne" style="background-color:#eee; padding-top:10px; margin-top:2px;">
                    <label><b>Service Cost</b> </label>
                </div>
                <div class="col-md-3 pull-right">
                    <input type="text" class="form-control" name="ServiceCost" ng-model="filter.ServiceCost" style="width: 80%; text-align: right;" disabled>
                </div>
            </div>
                <!-- <div class="row">
                    <div class="col-md-8 subTwo">
                        <label>Parts cost of goods sold </label>
                    </div>
                    <div class="col-md-3 pull-right">
                        <input type="text" class="form-control" name="PCOGS" ng-model="filter.PCGS" style="width: 80%;" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 subTwo">
                        <label>Oil cost of goods sold </label>
                    </div>
                    <div class="col-md-3 pull-right">
                        <input type="text" class="form-control" name="OCOGS" ng-model="filter.OCGS" style="width: 80%;" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 subTwo">
                        <label>Accessories cost of goods sold </label>
                    </div>
                    <div class="col-md-3 pull-right">
                        <input type="text" class="form-control" name="ACOGS" ng-model="filter.ACGS" style="width: 80%;" disabled>
                    </div>
                </div> -->
<!-- </fieldset> -->
                <div class="row">
                    <div class="col-md-8 subTwo" style="margin-left:25px; margin-top:10px;">
                        <label>Service labour cost (SA, Technician, foreman, partman salary)</label>
                    </div>
                    <div class="col-md-3 pull-right">
                        <input type="text" class="form-control" name="ServiceLabourCost" ng-keyup="allowPattern(filter.SLC,$event,0)" ng-model="filter.SLC" style="width: 80%; text-align: right;" >
                    </div>
                </div>
            <div class="row">
                <div class="col-md-8 subOne">
                    <label><b>Service dealer expenses</b></label>
                </div>
                <div class="col-md-3 pull-right">
                    <input type="text" class="form-control" name="ServiceDealerExpenses" ng-keyup="allowPattern(filter.SDE,$event,1)" ng-model="filter.SDE" style="width: 80%; text-align: right;">
                </div>
            </div>
            <div class="panel panel-default subOne" style="width: 70%;">
                <div class="panel-heading">Service dealer expenses meliputi biaya berikut</div>
                <div class="panel-body">
                    <div class="row" style="margin-left: 30px;">
                        <label><span>—</span> Salary Related (excl. Service Labour e.g.: overtime, bonus, welfare, training & transportation)</label></div>
                    <div class="row" style="margin-left: 30px;">
                        <label><span>—</span> Other cost centre/ dept. labour (branch head, service head, sales-man, adh., etcsalary)</label></div>
                    <div class="row" style="margin-left: 30px;">
                        <label><span>—</span> Travelling & Entertainment</label></div>
                    <div class="row" style="margin-left: 30px;">
                        <label><span>—</span> General expense e.g. Telecom/ Stationery/ Water etc.</label></div>
                    <div class="row" style="margin-left: 30px;">
                        <label><span>—</span> System Related</label></div>
                    <div class="row" style="margin-left: 30px;">
                        <label><span>—</span> Fixed Assets e.g. office equipment / Building</label></div>
                    <div class="row" style="margin-left: 30px;">
                        <label><span>—</span> Office Rental</label></div>
                    <div class="row" style="margin-left: 30px;">
                        <label><span>—</span> Selling Expenses (After Sales)</label></div>
                </div>
            </div>
<!-- <fieldset disabled> -->
        <div class="row">
            <div class="col-md-8">
                <label><b>3. MANPOWER</b></label>
            </div>
            <div class="col-md-3 pull-right" style="visibility:hidden">
                <input type="text" class="form-control" name="MANPOWER" ng-model="MANPOWER" style="width: 80%;">
            </div>
        </div>
        <!-- ======================================================== -->
        <div class="row col-md-12">
            <table class="col-md-9 tbl-new" style="margin-left: 10px;">
                <tr>
                    <th class="th-new" rowspan="6" style="width:23.5%;">Teknisi</th>
                    <td class="td-new" style="width:64.8%">PSG / Magang</td>
                    <td class="td-new">51</td>
                </tr>
                <tr>
                    <td class="td-new">Not yet certified technician</td>
                    <td class="td-new">52</td>
                </tr>
                <tr>
                    <td class="td-new">Toyota Technician</td>
                    <td class="td-new">53</td>
                </tr>
                <tr>
                    <td class="td-new">Pro Technician</td>
                    <td class="td-new">54</td>
                </tr>
                <tr>
                    <td class="td-new">Diagnosa Technician</td>
                    <td class="td-new">55</td>
                </tr>
                <tr>
                    <td class="td-new">Diagnosa Master Technician</td>
                    <td class="td-new">56</td>
                </tr>
                
            </table>
            <div class="col-md-2">
                <div class="row">
                        <input class="form-control" style="margin-left: 30px;width: 113%; text-align: right;" ng-model="filter.amount51" type="" name="amount51">
                </div>
                <div class="row">
                        <input class="form-control" style="margin-left: 30px; margin-top: -3px; width: 113%; text-align: right;" ng-model="filter.amount52" type="" name="amount52">
                </div>
                <div class="row">
                        <input class="form-control" style="margin-left: 30px; margin-top: -3px; width: 113%; text-align: right;" ng-model="filter.amount53" type="" name="amount53">
                </div>
                <div class="row">
                        <input class="form-control" style="margin-left: 30px; margin-top: -3px; width: 113%; text-align: right;" ng-model="filter.amount54" type="" name="amount54">
                </div>
                <div class="row">
                        <input class="form-control" style="margin-left: 30px; margin-top: -3px; width: 113%; text-align: right;" ng-model="filter.amount55" type="" name="amount55">
                </div>
                <div class="row">
                        <input class="form-control" style="margin-left: 30px; margin-top: -3px; width: 113%; text-align: right;" ng-model="filter.amount56" type="" name="amount56">
                </div>
            </div>
        </div>
        <!-- ======================================================== -->
        <!-- <div class="row col-md-12">
                <div class="col-md-5 content-bold" style="width: 75%; font-weight: bold; margin-left: 10px; border-left: 2px; border: 2px solid #dddddd">
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3">
                                <label></label>
                            </div>
                            <div class="col-md-5">
                                <label>PSG / Magang</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">51</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount51" type="" name="amount51" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3">
                                <label></label>
                            </div>
                            <div class="col-md-5">
                                <label>Not yet certified technician</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">52</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount52" type="" name="amount52" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3">
                                <label></label>
                            </div>
                            <div class="col-md-5">
                                <label>Toyota Technician</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">53</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount53" type="" name="amount53" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3">
                                <label style="font-weight: bolder">Teknisi</label>
                            </div>
                            <div class="col-md-5">
                                <label>Pro Technician</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">54</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount54" type="" name="amount54" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3">
                                <label></label>
                            </div>
                            <div class="col-md-5">
                                <label>Diagnosa Technician</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">55</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount55" type="" name="amount55" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3">
                                <label></label>
                            </div>
                            <div class="col-md-5">
                                <label>Diagnosa Master Technician</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">56</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount56" type="" name="amount56" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                    
                </div>
                <div class="col-md-2">
                        <div class="row">
                                <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount51" type="" name="amount51">
                        </div>
                        <div class="row">
                                <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount52" type="" name="amount52">
                        </div>
                        <div class="row">
                                <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount53" type="" name="amount53">
                        </div>
                        <div class="row">
                                <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount54" type="" name="amount54">
                        </div>
                        <div class="row">
                                <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount55" type="" name="amount55">
                        </div>
                        <div class="row">
                                <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount56" type="" name="amount56">
                        </div>
                </div>
        </div> -->
        
        <!-- <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">PSG / Magang</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">51</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount51" type="" name="amount51" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Not yet certified tech</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">52</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount52" type="" name="amount52" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Toyota Technician</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">53</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount53" type="" name="amount53" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;">Teknisi</label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Pro Technician</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">54</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount54" type="" name="amount54" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Diagnosa Technician</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">55</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount55" type="" name="amount55" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Diagnosa Master Technician</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">56</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount56" type="" name="amount56" style="width: 80%;">
            </div>
        </div> -->
        <!-- ================================================================================================= -->
        <div class="row">
            <div class="col-md-3" style="background-color:#eee; margin-left:25px;">
                <label style="padding: 10px 0 0 10px;">Total Teknisi</label>
            </div>
            <div class="col-md-5" style="background-color:#eee; margin-left:-20px;">
                <label style="padding: 10px 0 0 0;">(51 + 52 + 53  + 54 + 55 + 56)</label>
            </div>
            <div class="col-md-1" style="background-color:#eee; margin-left:-20px;">
                <label style="padding: 10px 0 0 10px;">57</label>
            </div>
            <div class="col-md-3" style="margin-left:15px;">
                <input class="form-control" ng-model="filter.amount57" type="" name="amount57" style="width: 80%; text-align: right;" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"  style="background-color:#eee; margin-left:25px; margin-top:3px;">
                <label style="padding: 10px 0 0 10px;">Total Teknisi Tanpa Magang</label>
            </div>
            <div class="col-md-5" style="background-color:#eee; margin-left:-20px; margin-top:3px;">
                <label style="padding: 10px 0 0 0;">(52 + 53  + 54 + 55 + 56)</label>
            </div>
            <div class="col-md-1" style="background-color:#eee; margin-left:-20px; margin-top:3px;">
                <label style="padding: 10px 0 0 10px;">58</label>
            </div>
            <div class="col-md-3" style="margin-left:15px;">
                <input class="form-control" ng-model="filter.amount58" type="" name="amount58" style="width: 80%; text-align: right;" disabled>
            </div>
        </div>
        <!-- ================================================================================================= -->
        <div class="row col-md-12">
            <table class="col-md-9 tbl-new" style="margin-left: 10px;">
                <tr>
                    <th class="th-new" rowspan="4" style="width:23.5%;">Service Advisor</th>
                    <td class="td-new" style="width:64.8%">Not yet certified SA</td>
                    <td class="td-new">59</td>
                </tr>
                <tr>
                    <td class="td-new">TSA Level 1</td>
                    <td class="td-new">60</td>
                </tr>
                <tr>
                    <td class="td-new">TSA Level 2</td>
                    <td class="td-new">61</td>
                </tr>
                <tr>
                    <td class="td-new">TSA Level 3</td>
                    <td class="td-new">62</td>
                </tr>
            </table>
            <div class="col-md-2">
                <div class="row">
                    <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount59" type="" name="amount59" style="width: 80%;">
                </div>
                <div class="row">
                    <input class="form-control" style="margin-left: 30px; width: 113%; margin-top: -3px; text-align: right;" ng-model="filter.amount60" type="" name="amount60" style="width: 80%;">
                </div>
                <div class="row">
                    <input class="form-control" style="margin-left: 30px; width: 113%; margin-top: -3px; text-align: right;" ng-model="filter.amount61" type="" name="amount61" style="width: 80%;">
                </div>
                <div class="row">
                    <input class="form-control" style="margin-left: 30px; width: 113%; margin-top: -3px; text-align: right;" ng-model="filter.amount62" type="" name="amount62" style="width: 80%;">
                </div>
            </div>
        </div>
        <!-- ======================================================== -->
        <!-- <div class="row col-md-12">
                <div class="col-md-5 content-bold" style="width: 75%; font-weight: bold; margin-left: 10px; border-left: 2px; border: 2px solid #dddddd">
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3">
                                <label></label>
                            </div>
                            <div class="col-md-5">
                                <label>Not yet certified SA</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">59</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount59" type="" name="amount59" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3">
                                <label></label>
                            </div>
                            <div class="col-md-5">
                                <label>TSA Level 1</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">60</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount60" type="" name="amount60" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3">
                                <label>Service Advisor</label>
                            </div>
                            <div class="col-md-5">
                                <label>TSA Level 2</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">61</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount61" type="" name="amount61" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3">
                                <label></label>
                            </div>
                            <div class="col-md-5">
                                <label>TSA Level 3</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">62</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount62" type="" name="amount62" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                </div>
                <div class="col-md-2">
                        <div class="row">
                            <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount59" type="" name="amount59" style="width: 80%;">
                        </div>
                        <div class="row">
                            <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount60" type="" name="amount60" style="width: 80%;">
                        </div>
                        <div class="row">
                            <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount61" type="" name="amount61" style="width: 80%;">
                        </div>
                        <div class="row">
                            <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount62" type="" name="amount62" style="width: 80%;">
                        </div>
                </div>
        </div> -->

        <!-- <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Not yet certified SA</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">59</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount59" type="" name="amount59" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">TSA Level 1</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">60</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount60" type="" name="amount60" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;">Service Advisor</label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">TSA Level 2</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">61</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount61" type="" name="amount61" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">TSA Level 3</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">62</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount62" type="" name="amount62" style="width: 80%;">
            </div>
        </div> -->
        <!-- ========================================================================================================= -->
        <div class="row">
            <div class="col-md-3" style="background-color:#eee; margin-left:25px;">
                <label style="padding: 10px 0 0 10px;">Total Service Advisor</label>
            </div>
            <div class="col-md-5" style="background-color:#eee; margin-left:-20px;">
                <label style="padding: 10px 0 0 10px;">(59 + 60 + 61 + 62)</label>
            </div>
            <div class="col-md-1" style="background-color:#eee; margin-left:-20px;">
                <label style="padding: 10px 0 0 10px;">63</label>
            </div>
            <div class="col-md-3" style="margin-left:15px;">
                <input class="form-control" ng-model="filter.amount63" type="" name="amount63" style="width: 80%; text-align: right;" disabled>
            </div>
        </div>
        <!-- ======================================================================================= -->
        <div class="row col-md-12">
            <table class="col-md-9 tbl-new" style="margin-left: 10px;">
                <tr>
                    <th class="th-new" rowspan="3" style="width:23.5%;">Foreman</th>
                    <td class="td-new" style="width:27%">Toyota Foreman Training</td>
                    <td class="td-new">&nbsp;</td>
                    <td class="td-new">64</td>
                </tr>
                <tr>
                    <td class="td-new">Non TFT</td>
                    <td class="td-new">&nbsp;</td>
                    <td class="td-new">65</td>
                </tr>
                <tr>
                    <td class="td-new">Total Foreman</td>
                    <td class="pull-right td-new">(64 + 65) atau (67 + 68 + 69)</td>
                    <td class="td-new">66</td>
                </tr>
            </table>
            <div class="col-md-2">
                <div class="row">
                    <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount64" type="" name="amount64">
                </div>
                <div class="row">
                    <input class="form-control" style="margin-left: 30px; margin-top:-3px; width: 113%; text-align: right;" ng-model="filter.amount65" type="" name="amount65">
                </div>
                <div class="row">
                    <input class="form-control" style="margin-left: 30px; margin-top:-3px; width: 113%; text-align: right;" ng-model="filter.amount66" type="" name="amount66" disabled>
                </div>
            </div>
        </div>
        <!-- ======================================================== -->
        <!-- <div class="row col-md-12">
            <div class="col-md-5 content-bold" style="width: 75%; font-weight: bold; margin-left: 10px; margin-bottom: 5px; border-left: 2px; border: 2px solid #dddddd">
                    <div class="row form-control" style="border: none">
                        <div class="col-md-3">
                            <label></label>
                        </div>
                        <div class="col-md-5">
                            <label>Toyota Foreman Training</label>
                        </div>
                        <div class="col-md-4 pull-right">
                            <label class="pull-right">64</label>
                        </div> -->
                        <!-- <div class="col-md-3">
                            <input class="form-control" ng-model="filter.amount64" type="" name="amount64" style="width: 80%;">
                        </div> -->
                    <!-- </div>
                    <div class="row form-control" style="border: none">
                        <div class="col-md-3">
                            <label style="font-weight: bolder">Foreman</label>
                        </div>
                        <div class="col-md-5">
                            <label>Non TFT</label>
                        </div>
                        <div class="col-md-4 pull-right">
                            <label class="pull-right">65</label>
                        </div> -->
                        <!-- <div class="col-md-3">
                            <input class="form-control" ng-model="filter.amount65" type="" name="amount65" style="width: 80%;">
                        </div> -->
                    <!-- </div>
                    <div class="row form-control" style="border: none">
                        <div class="col-md-3">
                            <label></label>
                        </div>
                        <div class="col-md-3">
                            <label>Total Foreman</label>
                        </div>
                        <div class="col-md-1 pull-right">
                            <label class="pull-right">66</label>
                        </div>
                        <div class="col-md-4 pull-right">
                            <label class="pull-right">(64 + 65) atau (67 + 68 + 69)</label>
                        </div> -->
                        
                        <!-- <div class="col-md-3">
                            <input class="form-control" ng-model="filter.amount66" type="" name="amount66" style="width: 80%;" disabled>
                        </div> -->
                    <!-- </div>            
            </div>
            <div class="col-md-2">
                    <div class="row">
                        <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount64" type="" name="amount64">
                    </div>
                    <div class="row">
                        <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount65" type="" name="amount65">
                    </div>
                    <div class="row">
                        <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount66" type="" name="amount66" disabled>
                    </div>
            </div>
        </div> -->
        
        
        <!-- <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Toyota Foreman Training</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">64</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount64" type="" name="amount64" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;">Foreman</label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Non TFT</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">65</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount65" type="" name="amount65" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-3">
                <label style="padding: 10px 0 0 0;">Total Foreman</label>
            </div>
            <div class="col-md-2">
                <label style="padding: 10px 0 0 0;">(64 + 65) atau (67 + 68 + 69)</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">66</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount66" type="" name="amount66" style="width: 80%;" disabled>
            </div>
        </div> -->
        <!-- ============================================================================================== -->
        <div class="row col-md-12">
            <table class="col-md-9 tbl-new" style="margin-left: 10px;">
                <tr>
                    <th class="th-new" rowspan="3" style="width:23.5%;">Sertifikasi TEAM 21 Foreman</th>
                    <td class="td-new" style="width:64.8%">TT & PT</td>
                    <td class="td-new">67</td>
                </tr>
                <tr>
                    <td class="td-new">DT</td>
                    <td class="td-new">68</td>
                </tr>
                <tr>
                    <td class="td-new">DMT (Engine, Electrical, Chasis)</td>
                    <td class="td-new">69</td>
                </tr>
            </table>
            <div class="col-md-2">
                <div class="row">
                    <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount67" type="" name="amount67">
                </div>
                <div class="row">
                    <input class="form-control" style="margin-left: 30px; margin-top:-3px; width: 113%; text-align: right;" ng-model="filter.amount68" type="" name="amount68">
                </div>
                <div class="row">
                    <input class="form-control" style="margin-left: 30px; margin-top:-3px; width: 113%; text-align: right;" ng-model="filter.amount69" type="" name="amount69">
                </div>
            </div>
        </div>
        <!-- ======================================================== -->
        <!-- <div class="row col-md-12">
                <div class="col-md-5 content-bold" style="width: 75%; font-weight: bold; margin-left: 10px; margin-bottom: 5px; border-left: 2px; border: 2px solid #dddddd;">
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3"> -->
                                <!-- <label>Teknisi</label> -->
                            <!-- </div>
                            <div class="col-md-5">
                                <label>TT & PT</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">67</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount67" type="" name="amount67" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3" style="padding-right: 0px">
                                <label style="font-size: 12px; font-weight: bolder">Sertifikasi TEAM 21 Foreman</label>
                            </div>
                            <div class="col-md-5">
                                <label>DT</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">68</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount68" type="" name="amount68" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3">
                                <label></label>
                            </div>
                            <div class="col-md-5">
                                <label>DMT (Engine, Electrical, Chasis)</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">69</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount69" type="" name="amount69" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                </div>
                <div class="col-md-2">
                        <div class="row">
                            <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount67" type="" name="amount67">
                        </div>
                        <div class="row">
                            <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount68" type="" name="amount68">
                        </div>
                        <div class="row">
                            <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount69" type="" name="amount69">
                        </div>
                </div>
        </div> -->
        
        <!-- <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;">Teknisi</label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">TT & PT</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">67</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount67" type="" name="amount67" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;">Sertifikasi TEAM 21 Foreman</label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">DT</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">68</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount68" type="" name="amount68" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">DMT (Engine, Electrical, Chasis)</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">69</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount69" type="" name="amount69" style="width: 80%;">
            </div>
        </div> -->
        <!-- =========================================================================================== -->
        <div class="row col-md-12">
            <table class="col-md-9 tbl-new" style="margin-left: 10px;">
                <tr>
                    <th class="th-new" rowspan="3" style="width:23.5%;">Partsman</th>
                    <td class="td-new" style="width:64.8%">Not yet certified Partsman</td>
                    <td class="td-new">70</td>
                </tr>
                <tr>
                    <td class="td-new">Level-1</td>
                    <td class="td-new">71</td>
                </tr>
                <tr>
                    <td class="td-new">Level-2 & 3</td>
                    <td class="td-new">72</td>
                </tr>
            </table>
            <div class="col-md-2">
                <div class="row">
                    <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount70" type="" name="amount70">
                </div>
                <div class="row">
                    <input class="form-control" style="margin-left: 30px; margin-top:-3px; width: 113%; text-align: right;" ng-model="filter.amount71" type="" name="amount71">
                </div>
                <div class="row">
                    <input class="form-control" style="margin-left: 30px; margin-top:-3px; width: 113%; text-align: right;" ng-model="filter.amount72" type="" name="amount72">
                </div>
            </div>
        </div>
        <!-- ======================================================== --> 
        <!-- <div class="row col-md-12">
                <div class="col-md-5 content-bold" style="width: 75%; font-weight: bold; margin-left: 10px; border-left: 2px; border: 2px solid #dddddd">
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3">
                                <label></label>
                            </div>
                            <div class="col-md-5">
                                <label>Not yet certified Partsman</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">70</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount70" type="" name="amount70" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3">
                                <label style="font-weight: bolder">Partsman</label>
                            </div>
                            <div class="col-md-5">
                                <label>Level-1</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">71</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount71" type="" name="amount71" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                        <div class="row form-control" style="border: none">
                            <div class="col-md-3">
                                <label></label>
                            </div>
                            <div class="col-md-5">
                                <label>Level-2 & 3</label>
                            </div>
                            <div class="col-md-4 pull-right">
                                <label class="pull-right">72</label>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <input class="form-control" ng-model="filter.amount72" type="" name="amount72" style="width: 80%;">
                            </div> -->
                        <!-- </div>
                </div>
                <div class="col-md-2">
                        <div class="row">
                            <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount70" type="" name="amount70">
                        </div>
                        <div class="row">
                            <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount71" type="" name="amount71">
                        </div>
                        <div class="row">
                            <input class="form-control" style="margin-left: 30px; width: 113%; text-align: right;" ng-model="filter.amount72" type="" name="amount72">
                        </div>
                </div>
        </div> -->
        
        <!-- <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Not yet certified partsman</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">70</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount70" type="" name="amount70" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;">Partsman</label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Level-1</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">71</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount71" type="" name="amount71" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Level-2 & 3</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">72</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="filter.amount72" type="" name="amount72" style="width: 80%;">
            </div>
        </div> -->
        <!-- ======================================================================================= -->
        <div class="row">
            <div class="col-md-3" style="background-color:#eee; margin-left:25px;">
                <label style="padding: 10px 0 0 10px;">Total Partsman</label>
            </div>
            <div class="col-md-5" style="background-color:#eee; margin-left:-20px;">
                <label style="padding: 10px 0 0 0;">(70 + 71 + 72)</label>
            </div>
            <div class="col-md-1" style="background-color:#eee; margin-left:-20px;">
                <label style="padding: 10px 0 0 10px;">73</label>
            </div>
            <div class="col-md-3" style="margin-left:15px;">
                <input class="form-control" ng-model="filter.amount73" type="" name="amount73" style="width: 80%; text-align: right;" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <label style="padding: 10px 0 0 35px;">Lainnya (Kepala Bengkel, Instruktur, Kasir, Staf Admin. Bengkel, Cuci, Kolektor</label>
            </div>
            <div class="col-md-1" style="margin-left: -5px;">
                <label style="padding: 10px 0 0 0;">74</label>
            </div>
            <div class="col-md-3" style="margin-left: 5px;">
                <input class="form-control" ng-model="filter.amount74" type="" name="amount74" style="width: 80%; text-align: right;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="background-color:#eee; margin-left:25px;">
                <label style="padding: 10px 0 0 10px; font-weight: bolder">Total Personel</label>
            </div>
            <div class="col-md-5" style="background-color:#eee; margin-left:-20px;">
                <label style="padding: 10px 0 0 0;">(57 + 63 + 66 + 73 + 74)</label>
            </div>
            <div class="col-md-1" style="background-color:#eee; margin-left:-20px;">
                <label style="padding: 10px 0 0 10px;">75</label>
            </div>
            <div class="col-md-3" style="margin-left:15px;">
                <input class="form-control" ng-model="filter.amount75" type="" name="amount75" style="width: 80%; text-align: right;" disabled>
            </div>
        </div>
<!-- </fieldset> -->
        <div class="row">
            <div class="form-group pull-right" style="margin:25px;">
                <div class=""></div>
                <button class="rbtn btn" ng-click="simpan()"> Simpan </button>
            </div>
        </div>
    </bsform-base-main>
</bsform-base>