<style type="text/css">
.ui-grid-spilt-header-main{
    padding-top: 30px;
  line-height: 30px;
    text-align: center;
  background: #f6f6f6;
}

.ui-grid-split-merge-header{
  border-left: 2px solid transparent;
    position: absolute;
    background: #f9f9f9;
    text-align: center;
    line-height: 30px;
    z-index: 1;
    top: 0px;
    left:0px;
}
.ui-grid-header-table{
  width:100%;
  padding:0px;
  border:none;
  border-spacing: 0px;
  border-collapse: collapse;
}

.ui-grid-header-table tr td{
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
}
.ui-grid-header-table tr td:last-child{
  border-right:none;
}
div.ui-grid-cell input{
  padding:6px;
}
</style>           
    <div class="form-group">           
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel class="control-label">Tipe PO </bsreqlabel>
                <bsselect name="POType" ng-model="mData.POTypeId" data="POTypeData" item-text="Name" item-value="POTypeId" placeholder="Tipe PO..." on-select="" icon="fa fa-search">
                </bsselect>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <bsreqlabel class="control-label">Referensi PO </bsreqlabel>
                <bsselect name="RefPOType" ng-model="mData.RefPOTypeId" data="RefPOTypeData" item-text="Name" item-value="RefPOTypeId" placeholder="Referensi PO..." on-select="" icon="fa fa-search">
                </bsselect>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <bsreqlabel class="control-label">No. Sales Order </bsreqlabel>
                <div class="input-group">
                    <input type="text" ng-model="mData.RefPONo" class="form-control" placeholder="No. Sales Order..." required>
                    <label class="input-group-btn">
                        <span class="btn wbtn" ng-click="onSearchRefPONo(mData.RefPONo)">
                            <i class="fa fa-search"></i>
                        </span>
                    </label>
                </div>    
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 1 -->
        <br>
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-2" style="pointer-events: none;">
                    <bsreqlabel class="control-label">Tanggal Dibutuhkan </bsreqlabel>
                    <bsdatepicker
                      name="endDate"
                      date-options="dateOptions"
                      ng-model="mData.DocDate"
                      ng-disabled = true
                    >
                      
                    </bsdatepicker>
            </div>
            <div class="col-md-1">
                <label class="control-label">&nbsp</label>
                <input class="form-control" type="text" name="no_polisi" placeholder="Jam Dibutuhkan" disabled></input>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Customer</label>
                <input class="form-control" type="text" name="bengkel" ng-model="mData.CustomerName" disabled></input>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div> 
        </div>
        <!-- [END] Form Level 2 -->
        <div class="row">
            <div class="col-md-10">
            <hr/>
            </div>
        </div>
        <!-- [START] Form Level 3 -->
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel class="control-label">Tipe Material </bsreqlabel>
                <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                    <option selected value="{{mData.MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 3 -->
        <div class="row">
            <div class="col-md-10">
            <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel class="control-label">Vendor </bsreqlabel>    
                <input class="form-control" type="text" ng-model="mData.VendorName" disabled></input>
                <div ng-show="showIcon" style="padding-top: 15px">
					<span style="font-size: 13px; color: Dodgerblue;">
						<i class="fa fa-check-square" aria-hidden="true"></i><span style="padding-left: 5px; color: black;">Non PKP</span>
					</span>
				</div>
				<div ng-show="showCB" style="padding-top: 10px">
					<input type="checkbox" ng-model="mData.IsNONPKP" ng-checked="mData.IsNONPKP" disabled>     Non PKP
				</div>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <bsreqlabel class="control-label">Metode Pembayaran </bsreqlabel>
                <select class="form-control" required disabled>
                    <option selected>Kredit</option>
                </select>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <bsreqlabel class="control-label">Jangka Waktu Bayar (Hari)</bsreqlabel>    
                <input class="form-control" type="number" ng-model="mData.PaymentPeriod" disabled></input>               
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 3 -->
         <div class="row">
            <div class="col-md-10">
            <hr/>
            </div>
        </div>
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-3">                
                <label class="control-label">No PO</label>
                <input class="form-control" style="text-align : left" type="text" ng-model="mData.PurchaseOrderNo"  disabled></input> 
            </div>
            <div class="col-md-2 col-md-offset-1" style="pointer-events: none;">
                <label class="control-label">Tanggal PO</label>
                <bsdatepicker
                  name="endDate"
                  date-options="dateOptions"
                  ng-model="mData.DocDate"
                  ng-disabled=true
                  >
                  
                  </bsdatepicker>
            </div>
            <div class="col-md-1">
                <label class="control-label">&nbsp</label>
                <input class="form-control" type="text" name="no_polisi" placeholder="08.00" disabled></input> 
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Grand Total</label>
                <input class="form-control" style="text-align : left" type="text" ng-model="mData.TotalAmount" placeholder="Grand Total..." disabled></input>
                
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 7 -->
        <!-- [END] Form Level 7 -->
        <br>
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-3">                
                <label class="control-label">Status</label>
                <input class="form-control" style="text-align : left" type="text" ng-value="ToNameStatus(mData.PurchaseOrderStatusId)" placeholder="Status..." disabled></input> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 7 -->
         <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Notes</label>
                <textarea class="form-control" row='5' ng-model="mData.Notes" disabled></textarea>
                
            </div>
            <div class="col-md-3">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-3">
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-3">
                <label class="control-label">&nbsp</label>                              
            </div>                             
        </div>
        <!-- [END] Form Level 7 -->
    </div>

<br/>

<div class="row">
    <div class="col-md-12">
        <div id="grid1" ui-grid="non_tam_sop_so_lihat" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-pagination class="grid"></div>
        <label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">Keterangan :<b>Harga Standard Cost di PO merupakan harga Standard Cost dari Master dikurangi PPn</b></label>

    </div>
    <div class="col-md-12">
        <div align="right">
            <button class="wbtn btn" ng-click="onShowVendorPO()" skip-disable>Lihat Detail Vendor</button>
            <button class="wbtn btn" ng-click="cetakOPM(mData.PurchaseOrderId)" ng-disabled="mData.POTypeId == 1 || mData.POTypeId == 2 || mData.POTypeId == 3" >Cetak Order Pembelian Material</button>
            <button class="wbtn btn" ng-click="goBack()" skip-disable>Kembali</button>
        </div>
    </div>  
</div>

