<script type="text/javascript">

</script>
<style type="text/css">
  .inp{
    margin:20px;
  }
</style>

<!--         ng-form="StockForm"
        loading="loading"

        action-button-settings="actionButtonSettings"
        action-button-settings-detail="actionButtonSettingsDetail"
        show-advsearch="off"
        form-name="StockForm"
        form-title="Stock"
        icon="fa fa-fw fa-child" -->

<bsform-base
        ng-form="WorkshopGR"
        loading="loading"

        show-advsearch="off"
        form-name="WorkshopGR"
        form-title="WorkshopGR"
        icon="fa fa-fw fa-child"
>

      <bsform-base-main>
        <div class="panel panel-default" style="padding-left:20px;padding: 20px; ">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group" show-errors>
              <label>Dealer</label>
              <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" required>
                      </bsselect>
                      <bserrmsg field="dealer"> harus diisi </bserrmsg>
                    <!-- <select class="form-control" ng-model="dealer">
                      <option ng-repeat="value in dataDealer" value="{{value.GroupDealerCode}}" ng-selected ="dealer == {{value.GroupDealerCode}}">
                      <option ng-repeat="value in dataDealer" value="{{value.GroupDealerCode}}">
                        {{ value.GroupDealerName }}
                      </option>
                    </select> -->
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" show-errors>
              <label>Cabang </label>
              <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                        </bsselect>
                        <bserrmsg field="cabang"> harus diisi </bserrmsg>
                    </div>
            </div>

          <div class="col-md-4">
            <div class="form-group" show-errors>
              <bslabel>Kategori Workshop</bslabel>
               <div class="form-group" show-errors>
                <input type="text" class="form-control" ng-model="filter.kategori" name="kategoriWorkshop" placeholder="Kategori Workshop" required disabled>
                <bserrmsg field="kategoriWorkshop"> harus diisi </bserrmsg>
               </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
          <div class="row" ng-form="workshopForm">
            <div class="col-md-3">
              <div class="form-group" show-errors>
                <bsreqlabel>Periode</bsreqlabel>
                  <div class="input-icon-right">
                    <i class="fa fa-user"></i>
                      <bsdatepicker
                        name="dateStart"
                        date-options="dateOptions"
                        ng-model="filter.DateStart" required
                        >
                      </bsdatepicker>
                      <bserrmsg field="dateStart"> harus diisi </bserrmsg>
                      <em ng-messages="workshopForm.dateStart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                          <p ng-message="date">Can not fill letters</p>
                          <p ng-message="minlength">Jumlah karakter kurang</p>
                          <p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
                      </em>
                  </div>
              </div>
            </div>
<!--           <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
          <div class="col-md-3">
            <div class="form-group" show-errors>
              <label></label>
                <div class="input-icon-right">
                  <i class="fa fa-user"></i>
                    <bsdatepicker
                      name="dateEnd"
                      date-options="dateOptions"
                      ng-model="filter.DateEnd" required
                      >
                    </bsdatepicker>
                    <bserrmsg field="dateEnd"> harus diisi </bserrmsg>
                </div>
            </div>
          </div> -->

          <div class="col-md-3"></div>
        </div>
        <div class="row">
          <div class="form-group pull-right">
            <button class="btn btn-danger btn_report" ng-click="tampilkan()"><i class="fa fa-show"></i> Tampilkan Data</button>
            <button class="btn btn-danger btn_report" ng-click="getReport()"><i class="fa fa-print"></i> Export </button>
          </div>
        </div>
      </div>


      </bsform-base-main>
<bsform-base-main>
  <div class="panel panel-default">

          <div class="row">
            <div class="col-md-8">
              <label><h6><b><u>
              Cost of Goods Sold (COGS)
              </u></b></h6></label>
            </div>
            <div class="col-md-3 pull-right" style="visibility:hidden" >
              <input type="text" class="form-control" name="totalrevenue" ng-model="totalrevenue" style="width: 80%;">
            </div>
          </div>

            <div class="row">
              <div class="col-md-8">
                <label style="padding: 10px 0 0 0;">Labour</label>
              </div>
              <div class="col-md-3">
                <input class="form-control" type="" name="" ng-model="filter.labour" style="width: 80%;">
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">
                <label style="padding: 10px 0 0 0;">Overhead</label>
              </div>
              <div class="col-md-3">
                <input class="form-control" type="" name="" ng-model="filter.overhead" style="width: 80%;">
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">
                <label style="padding: 10px 0 0 0;">Depreciation</label>
              </div>
              <div class="col-md-3">
                <input class="form-control" type="" name="" ng-model="filter.depreciation" style="width: 80%;">
              </div>
            </div>
            <br>

        <div class="row">
              <div class="col-md-8">
                <label style="padding: 10px 0 0 0;">
                <i>* Data diatas wajib diisi setiap bulan untuk perhitungan profit (pilih periode/bulan isi nominal Labor, Overhead, dan Depreciation lalu simpan) </i></label>
              </div>
              <!-- <div class="col-md-8">
                <label>
                <i>* Sebelum mengisi data, harap pilih bulan yang akan diisi terlebih dahulu </i></label>
              </div> -->
              <div class="col-md-3" style="visibility:hidden" >
                <input class="form-control" type="" name="" style="width: 80%;">
              </div>
        </div>
        <div class="form-group pull-right">
          <div class=""></div>
            <button class="btn btn-danger btn_report" ng-click="simpan()">
            <i class="fa fa-save"></i> Simpan </button>
        </div>
      </div>

</bsform-base-main>
</bsform-base>
<!--
<script type="text/ng-template" id="taTemplate.html">
  <a>
      <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script> -->
