<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="RSSPTempForm"
        factory-name="RSSPTemplate"
        model="mRSSPTemp"
        loading="loading"
        model-id="Id"

        get-data="getData"
        selected-rows="xRSSPTemp.selected"
        on-select-rows="onSelectRows"
        on-show-detail="onShowDetail"
        on-validate-save="onValidateSave"

        modal-title="RSSP Template"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
        <div class="row">
            <div class="col-md-12">
                <label style="font-weight:bold; color: red">
                    PERHATIAN! TEMPLATE INI HANYA BEKERJA DI BROWSER, SEDANGKAN PERHITUNGAN SUGGESTION DI SERVER MENGGUNAKAN KALKULASI INDEPENDEN.
                </label>
                <br>
                <label style="font-weight:bold; color: red">
                    OLEH KARENA ITU, PERUBAHAN FORMULA PADA TEMPLATE TIDAK AKAN MEMPENGARUHI PERHITUNGAN DI SERVER. GUNAKAN DENGAN HATI-HATI!
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Name Template</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="name" placeholder="Nama Template" ng-model="mRSSPTemp.Name" required>
                    </div>
                    <bserrmsg field="name"></bserrmsg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Jumlah Kolom Fix</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="number" class="form-control" name="fixCtr" placeholder="Jumlah Kolom Fix" ng-model="mRSSPTemp.FixCtr" required>
                    </div>
                    <bserrmsg field="fixCtr"></bserrmsg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>Keterangan</label>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="desc" placeholder="Keterangan" ng-model="mRSSPTemp.Description">
                    </div>
                    <bserrmsg field="desc"></bserrmsg>
                </div>
            </div>
        </div>
        <uib-tabset active="active" id="templateDetailTab">
            <uib-tab index="0" heading="Pemilihan Variabel">
                <br>
                <dualmultiselect options="selectionOpt" style="height: 700 !important"> </dualmultiselect>
                <br>
                <bsbutton style="float: right; margin-right: 10" ng-click="confirmVarSelect()">Masukkan variabel ke template
                </bsbutton>
            </uib-tab>
            <uib-tab index="1" heading="Konfigurasi Formula">
                <div class="col-md-12" id="rsspDetailContainer">
                    <br>
                    <hot-table
                               hot-id="hotRSSPTemp"
                               settings="hotSettings"
                               datarows="detailData"
                               merge-cells formulas manual-column-resize manual-row-resize 
                               row-headers col-headers context-menu 
                    >
                    </hot-table>
                </div>
            </uib-tab>
        </uib-tabset>

</bsform-grid>