<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="FinanceDaftarRekeningBankForm"
        factory-name="FinanceDaftarRekeningBankFactory"
        model="mfinancedaftarrekeningbank"
        model-id="AccountBankId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="FinanceDaftarRekeningBankForm"
        form-title="Nama Rekening"
        modal-title="FinanceDaftarRekeningBank"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >
        <div class="row">
          <div class="col-md-6">


			<div class="form-group" show-errors>
			<bslabel>Bank</bslabel>
			<bsselect name="bank_id" ng-model="mfinancedaftarrekeningbank.BankId" data="optionsBank" item-text="BankName" item-value="BankId"  placeholder="Select Bank" icon="fa fa-search">
			</bsselect>
			</div>
			<bserrmsg field="bank_id"></bserrmsg>
			
			<div class="form-group" show-errors>
                <bsreqlabel>Nama Rekening</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="AccountBankName" placeholder="nama rekening" ng-model="mfinancedaftarrekeningbank.AccountBankName"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="AccountBankName"></bserrmsg>
            </div>
			
			<div class="form-group" show-errors>
                <bsreqlabel>No Daftar RekeningBank</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="AccountBankNo" placeholder="no rekening" ng-model="mfinancedaftarrekeningbank.AccountBankNo"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="AccountBankNo"></bserrmsg>
            </div>
          </div>
        </div>
</bsform-grid-tree>

