<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="no-add">
	<div ng-show="ParameterGLAccountBody_Show">
		<div class="row">
			<ul class="nav nav-tabs" style="margin-top:10px;">
				<li class="active" ng-show="ParameterGLAccountTab_Show">
					<a data-toggle="tab" href="#" onclick="navigateTab('tabContainer_ParameterGLAccount','menuMapping');">Mapping</a>
				</li>
				<li>
					<a data-toggle="tab" href="#" onclick="navigateTab('tabContainer_ParameterGLAccount','menuCashAndBank');">Cash & Bank</a>
				</li>
				<li>
					<a data-toggle="tab" href="#" onclick="navigateTab('tabContainer_ParameterGLAccount','menuBiayaGeneralTransaction');">Biaya General Transaction</a>
				</li>
				<li>
					<a data-toggle="tab" href="#" onclick="navigateTab('tabContainer_ParameterGLAccount','menuPajak');">Pajak</a>
				</li>
				<li>
					<a data-toggle="tab" href="#" onclick="navigateTab('tabContainer_ParameterGLAccount','menuClearing');">Clearing</a>
				</li>
			</ul>

			<div id="tabContainer_ParameterGLAccount" class="tab-content">
				<div class="tab-pane fade in active" id="menuMapping" ng-show="ParameterGLAccountTab_Show">
					<div class="col-md-12" style="margin-bottom:20px">
						<div class="col-md-3" style="margin-top:12px">
							<bslabel>Mapping Group</bslabel>
							<bsselect ng-model="PGA_MappingGroup" data="optionsPGA_MappingGroup" item-text="name" item-value="value" on-select="value(selected)"
							 placeholder="Pilih" icon="fa fa-search" ng-change="PGA_UpdateMappingGrid()">
							</bsselect>
						</div>
					</div>
					<div class="col-md-12">
						<div id="myGrid" ui-grid="PGA_MappingGLAccount_UIGrid" ui-grid-edit uui-grid-selection ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns
						 ui-grid-resize-columns class="Mygrid" style="width:95%;height: 400px; margin-top:10px; margin-bottom:20px; margin-left:13px"></div>
					</div>

					<div class="col-md-12">
						<button id="PGA_Mapping_Simpan_Button" ng-click="PGA_Mapping_Simpan_Button_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
						 style="float: right; margin-top:10px; margin-right:50px">
							<span class="ladda-label">
								Simpan
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
				</div>

				<!-- Cash and Bank -->
				<div class="tab-pane fade" id="menuCashAndBank">
					<div ng-form name="FormValidation_menuCashAndBank">
						<div class="col-md-12" style="margin-bottom:20px">
							<div class="col-md-3" style="margin-top:12px">
								<div class="form-group" ng-class="{'has-error':FormValidation_menuCashAndBank.PGA_CBGLAccountID.$error.required && FormValidation_menuCashAndBank.PGA_CBGLAccountID.$touched}">
									<bslabel>Nomor GL Account *</bslabel>
									<bsselect ng-model="PGA_CBGLAccountID" data="optionsPGA_GLAccount_Cash" item-text="name" item-value="value" on-select="value(selected)"
									 placeholder="" icon="fa fa-search" ng-change="PGA_CB_ShowGLAccountData()" name="PGA_CBGLAccountID" required>
									</bsselect>
									<span ng-show="FormValidation_menuCashAndBank.PGA_CBGLAccountID.$error.required && FormValidation_menuCashAndBank.PGA_CBGLAccountID.$touched"
									 class="help-block">Field ini wajib diisi</span>
								</div>
							</div>
							<div class="col-md-3" style="margin-top:12px">
								<bslabel>Nama GL Account</bslabel>
								<div class="input-icon-right ">
									<input type="text" class="form-control" name="GLAccountName" placeholder="" ng-model="PGA_CBGLAccountName" ng-maxlength="50"
									 readonly>
								</div>
							</div>
							<div class="col-md-3" style="margin-top:12px">
								<bslabel>Keterangan</bslabel>
								<div class="input-icon-right ">
									<textarea type="text" class="form-control" name="Information" placeholder="" ng-model="PGA_CBInformation" ng-maxlength="300"
									 readonly style="resize:none;">
								</textarea>
								</div>
							</div>
						</div>
						<div class="col-md-12" style="margin-bottom:30px">
							<div class="col-md-2" style="margin-top:12px">
								<div class="form-group" ng-class="{'has-error':FormValidation_menuCashAndBank.PGA_CashBankTypes.$error.required && FormValidation_menuCashAndBank.PGA_CashBankTypes.$touched}">
									<bslabel>Tipe Cash & Bank *</bslabel>
									<bsselect ng-model="PGA_CashBankTypes" data="optionsPGA_CashBankType" item-text="name" item-value="value" on-select="value(selected)"
									 placeholder="" icon="fa fa-search" name="PGA_CashBankTypes" required>
									</bsselect>
									<span ng-show="FormValidation_menuCashAndBank.PGA_CashBankTypes.$error.required && FormValidation_menuCashAndBank.PGA_CashBankTypes.$touched"
									 class="help-block">Field ini wajib dipilih</span>
								</div>
							</div>
							<div class="col-md-2" style="margin-top:35px">
								<input type="checkbox" ng-model="PGA_CashBank_CBGLAccountHO">GL Account HO</input>
							</div>
							<div class="col-md-8" style="margin-top:12px">
								<button id="PGA_CashBankTambah_Button" ng-click="PGA_CashBank_Tambah_Button_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
								 style="float: right; margin-top:20px; margin-right:50px;">
									<span class="ladda-label">
										Tambah
									</span>
									<span class="ladda-spinner"></span>
								</button>
							</div>

						</div>
					</div>
					<div>
						<p style="color:red; margin-left:28px;">Daftar GL Account - Cash & Bank</p>
						<hr style="width:97%; border-color:red;">
					</div>
					<div class="col-md-12" style="margin-bottom:5px">

						<div class="col-md-2" style="margin-top:8px">
							<div class="input-icon-right ">
								<input type="text" class="form-control" name="TeksFilter" placeholder="Teks Filter..." ng-model="PGA_CBTeksFilter" ng-maxlength="150" maxlength="50">
							</div>
						</div>
						<div class="col-md-2" style="margin-top:8px">
							<bsselect ng-model="PGA_CashBankFilterColumn" data="PGA_CashBankFilterColumnList" item-text="name" item-value="value" on-select="value(selected)"
							 placeholder="Semua Kolom" icon="fa fa-search">
							</bsselect>
						</div>

						<div class="col-md-2" style="margin-top:8px">
							<button id="PGA_CashBankFilter_Button" ng-click="PGA_CashBank_Filter_Button_Clicked()" type="button" style="margin-top:2px">
								Filter
							</button>
						</div>
					</div>

					<div class="col-md-12">
						<div id="myGrid" ui-grid="PGA_CashBankGLAccount_UIGrid" ui-grid-selection ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns
						 class="Mygrid" style="width:95%;height: 400px; margin-bottom:10px; margin-left:13px"></div>
					</div>

					<div class="col-md-12">
						<button id="PGA_CashBank_Simpan_Button" ng-click="PGA_CashBank_Simpan_Button_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
						 style="float: right; margin-top:10px; margin-right:50px;">
							<span class="ladda-label">
								Simpan
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>

				</div>

				<div class="tab-pane fade" id="menuBiayaGeneralTransaction">
					<div ng-form name="FormValidation_menuBiayaGeneralTransaction">
						<div class="col-md-12" style="margin-bottom:20px">
							<div class="col-md-3" style="margin-top:12px">
								<div class="form-group" ng-class="{'has-error':FormValidation_menuBiayaGeneralTransaction.PGA_BGTGLAccountID.$error.required && FormValidation_menuBiayaGeneralTransaction.PGA_BGTGLAccountID.$touched}">
									<bslabel>Nomor GL Account *</bslabel>
									<bsselect ng-model="PGA_BGTGLAccountID" data="optionsPGA_GLAccount_GT" item-text="name" item-value="value" on-select="value(selected)"
									 placeholder="" icon="fa fa-search" ng-change="PGA_BGT_ShowGLAccountData()" name="PGA_BGTGLAccountID" required>
									</bsselect>
									<span ng-show="FormValidation_menuBiayaGeneralTransaction.PGA_BGTGLAccountID.$error.required && FormValidation_menuBiayaGeneralTransaction.PGA_BGTGLAccountID.$touched"
									 class="help-block">Field ini wajib diisi</span>
								</div>
							</div>
							<div class="col-md-3" style="margin-top:12px">
								<bslabel>Nama GL Account</bslabel>
								<div class="input-icon-right ">
									<input type="text" class="form-control" name="GLAccountName" placeholder="" ng-model="PGA_BGTGLAccountName" ng-maxlength="50"
									 readonly>
								</div>
							</div>

							<div class="col-md-3" style="margin-top:12px">
								<bslabel>Keterangan</bslabel>
								<div class="input-icon-right ">
									<textarea type="text" class="form-control" name="Information" placeholder="" ng-model="PGA_BGTInformation" ng-maxlength="300"
									 readonly style="resize:none;">
								</textarea>
								</div>
							</div>
							<div class="col-md-3" style="margin-top:12px">
								<button id="PGA_BGTTambah_Button" ng-click="PGA_BGT_Tambah_Button_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
								 style="float: right; margin-top:25px; margin-right:50px;">
									<span class="ladda-label">
										Tambah
									</span>
									<span class="ladda-spinner"></span>
								</button>
							</div>
						</div>
					</div>
					<div>
						<p style="color:red; margin-left:28px;">Daftar GL Account - Biaya General Transaction</p>
						<hr style="width:97%; border-color:red;">
					</div>

					<div class="col-md-12" style="margin-bottom:5px">
						<div class="col-md-2" style="margin-top:8px">
							<div class="input-icon-right ">
								<input type="text" class="form-control" name="TeksFilter" placeholder="Teks Filter..." ng-model="PGA_BGTTeksFilter" ng-maxlength="150" maxlength="50">
							</div>
						</div>
						<div class="col-md-2" style="margin-top:8px">
							<bsselect ng-model="PGA_BGTFilterColumn" data="PGA_BGTFilterColumnList" item-text="name" item-value="value" on-select="value(selected)"
							 placeholder="Semua Kolom" icon="fa fa-search">
							</bsselect>
						</div>

						<div class="col-md-2" style="margin-top:8px">
							<button id="PGA_BGTFilter_Button" ng-click="PGA_BGT_Filter_Button_Clicked()" type="button" style="margin-top:2px">
								Filter
							</button>
						</div>
					</div>

					<div class="col-md-12">
						<div id="myGrid" ui-grid="PGA_BGTGLAccount_UIGrid" ui-grid-selection ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns
						 class="Mygrid" style="width:95%;height: 250px; margin-bottom:20px; margin-left:13px"></div>
					</div>

					<!-- <div class="col-md-12">
						<button id="PGA_BGT_Simpan_Button" ng-click="PGA_BGT_Simpan_Button_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
						 style="float: right; margin-top:10px; margin-right:50px;">
							<span class="ladda-label">
								Simpan
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div> -->

				</div>

				<div class="tab-pane fade" id="menuPajak">
					<div ng-form name="FormValidation_menuPajak">
						<div class="col-md-12" style="margin-bottom:20px">
							<div class="col-md-3" style="margin-top:12px">
								<div class="form-group" ng-class="{'has-error':FormValidation_menuPajak.PGA_TaxGLAccountID.$error.required && FormValidation_menuPajak.PGA_TaxGLAccountID.$touched}">
									<bslabel>Nomor GL Account *</bslabel>
									<bsselect ng-model="PGA_TaxGLAccountID" data="optionsPGA_GLAccount_Tax" item-text="name" item-value="value" on-select="value(selected)"
									 placeholder="" icon="fa fa-search" ng-change="PGA_Tax_ShowGLAccountData()" name="PGA_TaxGLAccountID" required>
									</bsselect>
									<span ng-show="FormValidation_menuPajak.PGA_TaxGLAccountID.$error.required && FormValidation_menuPajak.PGA_TaxGLAccountID.TambahTranTypeGLDC.$touched"
									 class="help-block">Field ini wajib diisi</span>
								</div>
							</div>
							<div class="col-md-3" style="margin-top:12px">
								<bslabel>Nama GL Account</bslabel>
								<div class="input-icon-right ">
									<input type="text" class="form-control" name="GLAccountName" placeholder="" ng-model="PGA_TaxGLAccountName" ng-maxlength="50"
									 readonly>
								</div>
							</div>
							<div class="col-md-3" style="margin-top:12px">
								<bslabel>Keterangan</bslabel>
								<div class="input-icon-right ">
									<textarea type="text" class="form-control" name="Information" placeholder="" ng-model="PGA_TaxInformation" ng-maxlength="300"
									 readonly style="resize:none;">
								</textarea>
								</div>
							</div>
						</div>
						<div class="col-md-12" style="margin-bottom:30px">
							<div class="col-md-3" style="margin-top:12px">
								<div class="form-group" ng-class="{'has-error':FormValidation_menuPajak.PGA_TaxGLAccountID.$error.required && FormValidation_menuPajak.PGA_TaxGLAccountID.$touched}">
									<bslabel>Tipe Pajak *</bslabel>
									<bsselect ng-model="PGA_PajakTypes" data="optionsPGA_TaxType" item-text="name" item-value="value" on-select="value(selected)"
									 placeholder="" icon="fa fa-search" name="PGA_PajakTypes">
									</bsselect>
									<span ng-show="FormValidation_menuPajak.PGA_PajakTypes.$error.required && FormValidation_menuPajak.PGA_PajakTypes.TambahTranTypeGLDC.$touched"
									 class="help-block">Field ini wajib diisi</span>
								</div>
							</div>
								<div class="col-md-9" style="margin-top:12px">
									<button id="PGA_PajakTambah_Button" ng-click="PGA_Pajak_Tambah_Button_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
									 style="float: right; margin-top:20px; margin-right:50px;">
										<span class="ladda-label">
											Tambah
										</span>
										<span class="ladda-spinner"></span>
									</button>
								</div>
							
						</div>
						<div>
							<p style="color:red; margin-left:28px;">Daftar GL Account - Pajak</p>
							<hr style="width:97%; border-color:red;">
						</div>
						<div class="col-md-12" style="margin-bottom:5px">
							<div class="col-md-2" style="margin-top:8px">
								<div class="input-icon-right ">
									<input type="text" class="form-control" name="TeksFilter" placeholder="Teks Filter..." ng-model="PGA_PajakTeksFilter" ng-maxlength="150" maxlength="50">
								</div>
							</div>
							<div class="col-md-2" style="margin-top:8px">
								<bsselect ng-model="PGA_PajakFilterColumn" data="PGA_PajakFilterColumnList" item-text="name" item-value="value" on-select="value(selected)"
								 placeholder="Semua Kolom" icon="fa fa-search">
								</bsselect>
							</div>

							<div class="col-md-2" style="margin-top:8px">
								<button id="PGA_PajakFilter_Button" ng-click="PGA_Pajak_Filter_Button_Clicked()" type="button" style="margin-top:2px">
									Filter
								</button>
							</div>
						</div>

						<div class="col-md-12">
							<div id="myGrid" ui-grid="PGA_PajakGLAccount_UIGrid" ui-grid-selection ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns
							 class="Mygrid" style="width:95%;height: 250px; margin-bottom:20px; margin-left:13px"></div>
						</div>

						<div class="col-md-12">
							<button id="PGA_Pajak_Simpan_Button" ng-click="PGA_Pajak_Simpan_Button_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
							 style="float: right; margin-top:10px; margin-right:50px;">
								<span class="ladda-label">
									Simpan
								</span>
								<span class="ladda-spinner"></span>
							</button>
						</div>
					</div>

				</div>
				<div class="tab-pane fade" id="menuClearing">
					<div ng-form name="FormValidation_menuClearing">
						<div class="col-md-12" style="margin-bottom:20px">
							<div class="col-md-3" style="margin-top:12px">
								<div class="form-group" ng-class="{'has-error':FormValidation_menuClearing.PGA_ClearingGLAccountID.$error.required && FormValidation_menuClearing.PGA_ClearingGLAccountID.$touched}">
									<bslabel>Nomor GL Account *</bslabel>
									<bsselect ng-model="PGA_ClearingGLAccountID" data="optionsPGA_GLAccount_Clearing" item-text="name" item-value="value" on-select="value(selected)"
									 placeholder="" icon="fa fa-search" ng-change="PGA_Clearing_ShowGLAccountData()" name="PGA_ClearingGLAccountID" required>
									</bsselect>
									<span ng-show="FormValidation_menuClearing.PGA_ClearingGLAccountID.$error.required && FormValidation_menuClearing.PGA_ClearingGLAccountID.$touched"
									 class="help-block">Field ini wajib diisi</span>
								</div>
							</div>
							<div class="col-md-3" style="margin-top:12px">
								<bslabel>Nama GL Account</bslabel>
								<div class="input-icon-right ">
									<input type="text" class="form-control" name="GLAccountName" placeholder="" ng-model="PGA_ClearingGLAccountName" ng-maxlength="50"
									 readonly>
								</div>
							</div>
							<div class="col-md-3" style="margin-top:12px">
								<bslabel>Keterangan</bslabel>
								<div class="input-icon-right ">
									<textarea type="text" class="form-control" name="Information" placeholder="" ng-model="PGA_ClearingInformation" ng-maxlength="300"
									 readonly style="resize:none;">
								</textarea>
								</div>
							</div>
							<div class="col-md-3" style="margin-top:12px">
								<button id="PGA_ClearingTambah_Button" ng-click="PGA_Clearing_Tambah_Button_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
								 style="float: right; margin-top:25px; margin-right:50px;">
									<span class="ladda-label">
										Tambah
									</span>
									<span class="ladda-spinner"></span>
								</button>
							</div>
						</div>
						<div>
							<p style="color:red; margin-left:28px;">Daftar GL Account - Clearing</p>
							<hr style="width:97%; border-color:red;">
						</div>
						<div class="col-md-12" style="margin-bottom:5px">
							<div class="col-md-2" style="margin-top:8px">
								<div class="input-icon-right ">
									<input type="text" class="form-control" name="TeksFilter" placeholder="Teks Filter..." ng-model="PGA_ClearingTeksFilter" maxlength="50"
									 ng-maxlength="150">
								</div>
							</div>
							<div class="col-md-2" style="margin-top:8px">
								<bsselect ng-model="PGA_ClearingFilterColumn" data="PGA_ClearingFilterColumnList" item-text="name" item-value="value" on-select="value(selected)"
								 placeholder="Semua Kolom" icon="fa fa-search">
								</bsselect>
							</div>

							<div class="col-md-2" style="margin-top:8px">
								<button id="PGA_ClearingFilter_Button" ng-click="PGA_Clearing_Filter_Button_Clicked()" type="button" style="margin-top:2px">
									Filter
								</button>
							</div>
						</div>

						<div class="col-md-12">
							<div id="myGrid" ui-grid="PGA_ClearingGLAccount_UIGrid" ui-grid-selection ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns
							 class="Mygrid" style="width:95%;height: 250px; margin-bottom:20px; margin-left:13px"></div>
						</div>

						<div class="col-md-12">
							<button id="PGA_Clearing_Simpan_Button" ng-click="PGA_Clearing_Simpan_Button_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
							 style="float: right; margin-top:10px; margin-right:50px;">
								<span class="ladda-label">
									Simpan
								</span>
								<span class="ladda-spinner"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>