<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4" style="padding-left:0px;">
                        <div class="form-group">
                            <bsreqlabel>Nomor Estimasi</bsreqlabel>
                            <input type="text" min=0 class="form-control" name="NomorWo" ng-model="mData.EstimationNo" ng-disabled=true skip-enable disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Estimation Date</label>
                            <div class="form-group" style="width:250px;">
                                <bsdatepicker name="estimationDate" date-options="DateOptions" ng-model="mData.EstimationDate">
                                </bsdatepicker>
                                <bserrmsg field="estimationDate"></bserrmsg>
                            </div>
                            <!--<div class="col-md-3">
                        </div>
                        <div class="col-md-9 form-inline">
                        </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--             <div class="row">
                <div class="btn-group pull-right">
                    <button type="button" class="rbtn btn">Buat Estimasi Baru</button>
                </div>
            </div> -->
            <uib-tabset active="activeJustified" justified="true" style="margin-top: 40px;">
                <uib-tab ng-repeat="header in headerEst" index='$index' ng-click='getTimeEst($index+1)' heading="{{header.name}}">
                    <div ng-if="$index == 0">
                        <!-- <h1>Vehicle Condition Detail Here</h1> -->
                        <!-- added by sss on 2017-10-11 -->
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Type Kendaraan</label>
                                        <bsselect name="filterType" ng-model="filter.vTypeVC" data="VTypeData" item-text="Name" item-value="MasterId" placeholder="Pilih Type Kendaraan" on-select="chooseVTypeVC(selected)" icon="fa fa-car">
                                        </bsselect>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <img ng-init="this.init" ng-areas="areasArrayVC" ng-areas-width="800" ng-areas-allow="{'edit':true, 'move':false, 'resize':false, 'select':false, 'remove':false, 'nudge':false}" ng-src="{{imageSelVC}}" ng-areas-on-add="onAddArea" ng-areas-on-remove="onRemoveArea"
                                        ng-areas-on-change="onChangeAreas" ng-areas-on-choose="doClickVC" ng-areas-extend-data="statusObj" area-api="areaApi">
                                    <!-- <pre>{{logDots}}</pre>  -->
                                </div>
                            </div>
                            <div class="row" ng-show="!disableWACExtVC">
                                <div class="col-md-12">
                                    <div ui-grid="gridVC" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize ui-grid-edit class="grid" ng-style="getTableHeight()">
                                        <div class="ui-grid-nodata" ng-if="!gridVC.data.length && !loading" ng-cloak>No data available</div>
                                        <div class="ui-grid-nodata" ng-if="loading" ng-cloak>Loading data... <i class="fa fa-spinner fa-spin"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <bscheckbox ng-model="disableWACExtVC" label="Clear" true-value="true" false-value="false" ng-change="chgChkVC()">
                                        </bscheckbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                    <div ng-if="$index == 1">
                        <uib-accordion close-others="oneAtATime">
                            <form>
                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Job Request
                                    </uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <bslist data="JobRequest" m-id="RequestId" list-model="lmRequest" on-select-rows="onListSelectRows" selected-rows="listRequestSelectedRows" confirm-save="false" list-api="listApi" button-settings="listButtonSettings" modal-size="small" modal-title="Job Request"
                                                list-title="Job Request" list-height="200">
                                                <bslist-template>
                                                    <div>
                                                        <div class="form-group">
                                                            <textarea class="form-control" placeholder="Job Request" ng-model="lmItem.RequestDesc" ng-disabled="true" skip-enable>
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </bslist-template>
                                                <bslist-modal-form>
                                                    <div>
                                                        <div class="form-group" show-errors>
                                                            <bsreqlabel>Job Request</bsreqlabel>
                                                            <textarea class="form-control" placeholder="Job Request" name='reqdesc' ng-model="lmRequest.RequestDesc" required>
                                                            </textarea>
                                                            <bserrmsg field="reqdesc"></bserrmsg>
                                                        </div>
                                                    </div>
                                                </bslist-modal-form>
                                            </bslist>
                                        </div>
                                    </div>
                                </div>
                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Complaint
                                    </uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <bslist data="JobComplaint" m-id="ComplaintId" list-model="lmComplaint" on-select-rows="onListSelectRows" selected-rows="listComplaintSelectedRows" confirm-save="fals" list-api="listApi" button-settings="listButtonSettings" modal-size="small" modal-title="Complaint"
                                                list-title="Complaint" list-height="200">
                                                <bslist-template>
                                                    <div>
                                                        <div class="form-group">
                                                            <bsreqlabel>Complaint Type: </bsreqlabel>
                                                            <bsselect data="vm.appScope.ComplaintCategory" item-value="ComplaintCatg" item-text="ComplaintCatg" ng-model="lmItem.ComplaintCatg" placeholder="Complaint Category" ng-disabled="true" skip-enable>
                                                            </bsselect>
                                                        </div>
                                                        <div class="form-group">
                                                            <textarea class="form-control" placeholder="Complaint Text" ng-model="lmItem.ComplaintDesc" ng-disabled="true" skip-enable>
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </bslist-template>
                                                <bslist-modal-form>
                                                    <div style="margin-bottom:90px;">
                                                        <div class="form-group">
                                                            <bsreqlabel>Complaint Type</bsreqlabel>
                                                            <bsselect data="ComplaintCategory" item-value="ComplaintCatg" item-text="ComplaintCatg" ng-model="lmComplaint.ComplaintCatg" placeholder="Complaint Category" required>
                                                            </bsselect>
                                                            <bserrmsg field="ctype"></bserrmsg>
                                                        </div>
                                                        <div class="form-group">
                                                            <bsreqlabel>Job Complaint</bsreqlabel>
                                                            <textarea class="form-control" placeholder="Complaint Text" name="ctext" ng-model="lmComplaint.ComplaintDesc" required>
                                                            </textarea>
                                                            <bserrmsg field="ctext"></bserrmsg>
                                                        </div>
                                                    </div>
                                                </bslist-modal-form>
                                            </bslist>
                                        </div>
                                    </div>
                                </div>
                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Job List
                                    </uib-accordion-heading>
                                    <div class="row" style="margin-bottom:25px;">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <bsreqlabel>Kategori Perbaikan</bsreqlabel>
                                                <bsselect name="CatPerbaikan" ng-model="mData.JobCatgForBP" data="CatPerbaikan" item-text="Name" item-value="MasterId" placeholder="Pilih Kategori Perbaikan" on-select="selectedCatPerbaikan(selected)" icon="fa fa-list">
                                                </bsselect>
                                            </div>
                                            <div class="col-md-6">
                                                <bsreqlabel>Kategori WO</bsreqlabel>
                                                <bsselect name="woCategory" ng-model="mData.WoCategoryId" data="woCategory" item-text="Name" item-value="MasterId" placeholder="Pilih Kategori WO" on-select="selectCatWO(selected)" icon="fa fa-list">
                                                </bsselect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <bslist data="gridWorkEstimate" on-before-save="onBeforeSaveEstimate" on-before-new="onBeforeNewEstimate" on-after-save="onAfterSaveEstimate" on-after-delete="onAfterDeleteEstimate" m-id="TaskBPId" d-id="PartsId" list-model="lmModel" list-detail-model="ldModel"
                                                grid-detail="gridPartsDetailEstimate" on-select-rows="onListSelectRows" selected-rows="listEstimateSelectedRows" list-api='listApiEstimate' modal-title="Job Data" modal-title-detail="Parts Data" list-title="Job List">
                                                <bslist-template>
                                                    <div class="col-md-6" style="text-align:left;">
                                                        <div class="col-md-12">
                                                            <p class="name"><strong>{{ lmItem.TaskName }}</strong></p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <p>Harga : {{lmItem.Fare | currency:"Rp."}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Satuan : {{lmItem.UnitBy}}</p>
                                                        <p>Pembayaran : {{lmItem.PaidBy}}</p>
                                                    </div>
                                                </bslist-template>
                                                <bslist-detail-template>
                                                    <div class="col-md-3">
                                                        <p><strong>{{ ldItem.PartsCode }}</strong></p>
                                                        <p>{{ ldItem.PartsName }}</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p>{{ ldItem.Availbility }}
                                                        </p>
                                                        <p>Pembayaran : {{ ldItem.paidName}}</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p>Jumlah : {{ldItem.Qty}} {{ldItem.Name}}
                                                        </p>
                                                        <p>Harga : {{ ldItem.RetailPrice | currency:"Rp."}}</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p>ETA : {{ ldItem.ETA | date:'dd-MM-yyyy'}}
                                                        </p>
                                                        <p>Reserve : {{ ldItem.Qty }}</p>
                                                    </div>
                                                </bslist-detail-template>
                                                <bslist-modal-form>
                                                    <div class="row">
                                                        <div ng-include="'app/services/reception/wo_bp/includeForm/modalFormMasterEstimate.html'">
                                                        </div>
                                                    </div>
                                                </bslist-modal-form>
                                                <bslist-modal-detail-form>
                                                    <div class="row">
                                                        <div ng-include="'app/services/reception/wo_bp/includeForm/modalFormDetailEstimate.html'">
                                                        </div>
                                                    </div>
                                                </bslist-modal-detail-form>
                                            </bslist>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </uib-accordion>
                    </div>
                    <div ng-if="$index == 2" smart-include="app/services/reception/wo_bp/includeForm/estimationFormInclude/timeEstimation.html">
                    </div>
                    <div ng-if="$index == 3">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <bsreqlabel>No Polisi</bsreqlabel>
                                        <input type="text" class="form-control" ng-model="mDataCrm.Vehicle.LicensePlate" placeholder="No Polisi">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <bsreqlabel>No Wo Estimasi</bsreqlabel>
                                        <input type="text" ng-disabled="true" skip-enable class="form-control" disabled="disabled" ng-disabled="true" placeholder="No WO Estimasi">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <bsreqlabel>Category</bsreqlabel>
                                        <bsselect name="Category" ng-model="mData.WoCategoryId" data="woCategory" item-text="Name" item-value="MasterId" placeholder="Pilih Kategori" required>
                                        </bsselect>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <uib-accordion close-others="oneAtATime">
                            <form>
                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Job Summary
                                    </uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <bslist data="gridWorkEstimate" m-id="TaskId" d-id="PartsId" on-after-save="onAfterSave" on-after-delete="onAfterDelete" list-model="lmModel" list-detail-model="ldModel" grid-detail="gridPartsDetail" on-select-rows="onListSelectRows" selected-rows="listSelectedRows"
                                                list-api='listApi' confirm-save="true" list-title="Job List" modal-title="Job Data" modal-title-detail="Parts Data" list-height="120" button-settings="listView">
                                                <bslist-template>
                                                    <div class="col-md-6" style="text-align:left;">
                                                        <p class="name"><strong>{{ lmItem.TaskName }}</strong></p>
                                                        <div class="col-md-6">
                                                            <p>{{lmItem.JobType}}</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>Harga : {{lmItem.ServiceRate | currency:"Rp."}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Satuan : {{lmItem.UnitBy}}</p>
                                                        <p>Pembayaran : {{lmItem.PaidBy}}</p>
                                                    </div>
                                                </bslist-template>
                                                <bslist-detail-template>
                                                    <div class="col-md-3">
                                                        <p><strong>{{ ldItem.PartsCode }}</strong></p>
                                                        <p>{{ ldItem.PartsName }}</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p>{{ ldItem.Availbility }}</strong>
                                                        </p>
                                                        <p>Pembayaran : {{ ldItem.paidName}}</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p>Jumlah : {{ldItem.Qty}} {{ldItem.Name}}</strong>
                                                        </p>
                                                        <p>Harga : {{ ldItem.RetailPrice | currency:"Rp."}}</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p>ETA : {{ ldItem.ETA | date:'dd-MM-yyyy'}}</strong>
                                                        </p>
                                                        <p>Reserve : {{ ldItem.Qty }}</p>
                                                    </div>
                                                </bslist-detail-template>
                                                <bslist-modal-form>
                                                    <div class="row">
                                                        <!-- <div ng-include="'app/services/appointment/appointmentServiceBp/modalFormMaster.html'"> -->
                                                        <div ng-include="'app/services/lib/ModalAppointmentBP/modalFormMaster.html'">
                                                        </div>
                                                    </div>
                                                </bslist-modal-form>
                                                <bslist-modal-detail-form>
                                                    <div class="row">
                                                        <div ng-include="'app/services/reception/wo/includeForm/modalFormDetail.html'">
                                                        </div>
                                                    </div>
                                                </bslist-modal-detail-form>
                                            </bslist>
                                        </div>
                                    </div>
                                </div>
                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Price Summary
                                    </uib-accordion-heading>
                                    <div class="col-md-12">
                                        <table id="example" class="table table-striped table-bordered" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Item</th>
                                                    <th>Harga</th>
                                                    <th>Disc</th>
                                                    <th>Sub Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Estimasi Service</td>
                                                    <td>{{totalWorkEstimate | currency:"Rp."}}</td>
                                                    <td>{{(totalWorkEstimate - totalWorkDiscountedEstimate) | currency:"Rp."}}</td>
                                                    <td>{{totalWorkDiscountedEstimate | currency:"Rp."}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Estimasi Material</td>
                                                    <td>{{totalMaterialEstimate | currency:"Rp."}}</td>
                                                    <td>{{(totalMaterialEstimate - totalMaterialDiscountedEstimate) | currency:"Rp."}}</td>
                                                    <td>{{totalMaterialDiscountedEstimate | currency:"Rp."}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Total DP</td>
                                                    <td>{{totalDpEstimate | currency:"Rp."}}</td>
                                                    <td></td>
                                                    <td>{{totalDpEstimate | currency:"Rp."}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Time Summary
                                    </uib-accordion-heading>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>Body</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-readonly='true' ng-model="arrEstTime[0]" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>Putty Sanding</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-readonly='true' ng-model="arrEstTime[1]" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="margin-top:10px; ">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>Masking, Sanding, Surfacer</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-readonly='true' ng-model="arrEstTime[2]" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="margin-top:10px; ">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>Painting, Drying</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-readonly='true' ng-model="arrEstTime[3]" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" style="margin-top:10px; ">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>Polishing</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-readonly='true' ng-model="arrEstTime[4]" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="margin-top:10px; ">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>Re-Assembly</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-readonly='true' ng-model="arrEstTime[5]" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="margin-top:10px; ">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>Final Inspection</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-readonly='true' ng-model="arrEstTime[6]" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" style="margin-top:10px; background-color:lightgreen;">
                                                <div class="form-group">
                                                    <div class="col-md-2" style="margin-top:10px; width: 24.38%">
                                                        <bsreqlabel style="color:white;">Total Pengerjaan</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-3" style="width : 16.38%">
                                                        <input type="text" ng-model="estHours" class="form-control" ng-readonly='true' />
                                                    </div>

                                                    <div class="col-md-3" style="width : 16.38%">
                                                        <input type="text" ng-model="estDays" class="form-control" ng-readonly='true' />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </uib-accordion>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-8 btn-group">
                                    <!-- <button type="button" class="rbtn btn ng-binding">
                                        Pengajuan Claim
                                    </button> -->
                                    <!-- added by sss on 2017-09-25 -->
                                    <button type="button" ng-click="claimShow(mData)" class="rbtn btn">
                                        Pengajuan Claim
                                    </button>
                                    <!--  -->
                                    <!-- <button type="button" class="rbtn btn ng-binding">
                                        Print Preview
                                    </button> -->
                                    <!-- added by sss on 2017-10-03 -->
                                    <button type="button" ng-click="createBSTK(mData)" class="rbtn btn">
                                        Print Preview
                                    </button>
                                    <!--  -->
                                </div>
                                <div class="col-md-4">
                                    <button type="button" ng-hide="isNextWO" ng-disabled="isNextWO" ng-click="SaveEstimation(mData,isNextWO)" class="rbtn btn ng-binding pull-right">
                                        Tidak Lanjut WO
                                    </button>
                                    <button type="button" ng-click="NextWO()" class="rbtn btn ng-binding pull-right">
                                        Lanjut
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>