<div class="col-md-12">
    <style>
        /*.popover {
            position: absolute;
            display: none;
            background: #fff;
            border: 1px solid #999;
            padding: 10px;
            width: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        }*/
        /*.popover:after,
        .popover:before {
            right: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        
        .popover:after {
            border-color: rgba(255, 255, 255, 0);
            border-right-color: #ffffff;
            border-width: 10px;
            top: 50%;
            margin-top: -10px;
        }
        
        .popover:before {
            border-color: rgba(201, 201, 201, 0);
            border-right-color: #c9c9c9;
            border-width: 11px;
            top: 50%;
            margin-top: -11px;
        }*/
    </style>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <bsreqlabel>KM</bsreqlabel>
                <input class="form-control input-lg" type="text" ng-model="mData.Km"></input>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <bsreqlabel>Money Amout</bsreqlabel>
                <input class="form-control input-lg" type="text" ng-model="mData.MoneyAmount"></input>
            </div>
        </div>
        <div id="slide" class="col-md-6">
            <label for="slider">Fuel</label>
            <div class="scaleWarp">
                <!-- <span style=" font-size: 20px;font-weight:bold;">|</span> -->
                <garis>|</garis>
                <garis style=" font-size: 20px;font-weight:bold;">|</garis>
                <garis>|</garis>
                <!-- <span style=" font-size: 20px;font-weight:bold;">|</span> -->
            </div>
            <rzslider class="custom-slider" rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="activeJustified" justified="true" style="margin-top: 40px;">
                <uib-tab ng-repeat="header in headerWAC" index="$index" heading="{{header.GroupName}}" ng-click="tabClick(header.Id)">
                    <div ng-if="$index == 0">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Type Kendaraan</label>
                                        <bsselect name="filterType" ng-model="filter.vType" data="VTypeData" item-text="Name" item-value="MasterId" placeholder="Pilih Type Kendaraan" on-select="chooseVType(selected)" icon="fa fa-car">
                                        </bsselect>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row" ng-repeat="imageWAC in imageWACArr">
                                           <img ng-if="imageSel==imageWAC.imgId" ng-areas="areasArray" 
                                               ng-areas-allow="{'edit':true, 'move':false, 'resize':false, 'select':false, 'remove':false, 'nudge':false}"
                                               ng-src="{{imageWAC.img}}" style="width:700px;height:400px"> -->
                            <!-- <img ng-if="imageSel==imageWAC.imgId" ng-src="{{imageWAC.img}}" style="width:700px;height:400px"> -->
                            <!-- </div> -->
                            <div class="row">
                                <div class="col-md-12">
                                    <img ng-init="this.init" ng-areas="areasArray" ng-areas-width="800" ng-areas-allow="{'edit':true, 'move':false, 'resize':false, 'select':false, 'remove':false, 'nudge':false}" ng-src="{{imageSel}}" ng-areas-on-add="onAddArea" ng-areas-on-remove="onRemoveArea"
                                        ng-areas-on-change="onChangeAreas" ng-areas-on-choose="doClick" ng-areas-extend-data="statusObj" area-api="areaApi">
                                    <!-- <pre>{{logDots}}</pre>  -->
                                </div>
                            </div>
                            <div class="row" ng-show="!disableWACExt">
                                <div class="col-md-12">
                                    <div ui-grid="grid" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize ui-grid-edit class="grid" ng-style="getTableHeight()">
                                        <div class="ui-grid-nodata" ng-if="!grid.data.length && !loading" ng-cloak>No data available</div>
                                        <div class="ui-grid-nodata" ng-if="loading" ng-cloak>Loading data... <i class="fa fa-spinner fa-spin"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <!-- <button class="btn rbtn" ng-click="disableExt">Clear</button> -->
                                        <!-- <button type="button" class="btn rbtn" ng-model="disableWACExt" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Clear</button> -->
                                        <!-- <button class="btn rbtn" ng-disabled="disableBPCenter" skip-enable ng-click="">BP Center</button> -->
                                        <!-- added by sss on 2017-09-07 -->
                                        <bscheckbox ng-model="disableWACExt" label="Clear" true-value="true" false-value="false" ng-change="chgChk()">
                                        </bscheckbox>
                                        <!-- <div class="row">
                                           <bsdatepicker 
                                                   name="bpCenterDate" 
                                                   date-options="DateOptions" 
                                                   ng-model="bpCenterDate" 
                                                   ng-change="setCenterDate()">
                                           </bsdatepicker>
                                       </div> -->
                                        <!-- <div class="row" style="margin-top:10px">
                                            <button class="btn rbtn" ng-disabled="disableBPCenter" skip-enable ng-click="triggerBPC()">
                                                   BP Center
                                           </button>
                                        </div> -->
                                        <!--  -->
                                    </div>
                                    <div class="col-md-8">
                                        <div class="containeramk" ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
                                            <signature-pad accept="accept" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>

                                            <div class="buttonsamk">
                                                <button class="btn wbtn" ng-disabled="disableReset" skip-enable ng-click="clear()">Clear</button>
                                                <!-- <button class="btn rbtn" ng-click="dataurl = signature.dataUrl" ng-disabled="!signature">Reset</button> -->
                                                <button class="btn rbtn" ng-click="signature = accept(); open(signature)">Sign</button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <!-- <input type="button" class="btn rbtn" bs-upload="onFileSelect($files)" maxupload="4" isImage="1" img-upload="uploadFiles"><i class="fa fa-fw fa-lg fa-car" style="font-size:30px; padding:8px 8px 8px 0px;margin-left:8px;margin-right:8px;"></i>
                                       <input type="file" bs-upload="onFileSelect($files)" maxupload="4" isImage="1" img-upload="uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1;"> -->
                                        <!-- <label class="input-group-btn">
                                           <span class="btn rbtn" style="padding:12px 10px 12px 10px;">
                                               <i class="fa fa-fw fa-lg fa-car" style="font-size:55px;"></i>
                                               <input type="file" bs-upload="onFileSelect($files)" maxupload="4" img-upload="fileKK" style="display: none;" uploadFiles="uploadWACImage" multiple>
                                           </span>
                                       </label> -->
                                        <image-control max-upload="4" is-image="1" img-upload="uploadFiles" multiple>
                                            <form-image-control>
                                                <input capture="camera" type="file" bs-upload="onFileSelect($files)" img-upload="uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1;">
                                                <input type="file" ng-init="mData.UploadPhoto = uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1; display:none">
                                            </form-image-control>
                                        </image-control>
                                        <!-- <button ng-click="TestingImage(mData)">Testing Image</button> -->
                                        <!-- <div class="custom-file-upload">
                                           <input type="file" id="file" name="myfiles[]" bs-upload="onFileSelect($files)" img-upload="fileKK" file-model="mData.Attachment" upload />
                                       </div>  -->
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="!isCenter">
                                <div class="btn-group pull-right">
                                    <button type="button" name="printPreview" class="rbtn btn" ng-click="releaseBSTK()">
                                        BSTK
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="$index == 1">
                        <div class="col-md-12" style="margin-top: 25px;">
                            <div ui-grid="gridExt" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                            </div>
                            <!--<input type="submit" value="Testing Grid" ng-click="goGetGrid(mDataWAC)">-->
                        </div>
                    </div>
                    <div ng-if="$index == 2">
                        <div class="col-md-12" style="margin-top: 25px;">
                            <div ui-grid="gridInt" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                            </div>
                            <!--<input type="submit" value="Testing Grid" ng-click="goGetGrid(mDataWAC)">-->
                        </div>
                    </div>
                    <div ng-if="$index == 3">
                        <div class="col-md-12" style="margin-top: 25px;">
                            <div ui-grid="gridElec" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                            </div>
                            <!--<input type="submit" value="Testing Grid" ng-click="goGetGrid(mDataWAC)">-->
                        </div>
                    </div>
                    <div ng-if="$index == 4">
                        <div class="col-md-12" style="margin-top: 25px;">
                            <div ui-grid="gridEquip" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                            </div>
                            <!--<input type="submit" value="Testing Grid" ng-click="goGetGrid(mDataWAC)">-->
                        </div>
                    </div>
                    <div ng-if="$index == 5">
                        <div class="col-md-12" style="margin-top: 25px;">
                            <div ui-grid="gridDoc" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                            </div>
                            <!--<input type="submit" value="Testing Grid" ng-click="goGetGrid(mDataWAC)">-->
                        </div>
                    </div>
                    <div ng-if="$index == 7">
                        <div class="col-md-12" style="margin-top: 25px;">
                            <div ui-grid="gridEquipSafe" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                            </div>
                            <!--<input type="submit" value="Testing Grid" ng-click="goGetGrid(mDataWAC)">-->
                        </div>
                    </div>
                    <div ng-if="$index == 8">
                        <div class="col-md-12" style="margin-top: 25px;">
                            <div ui-grid="gridPersonal" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                            </div>
                            <!--<input type="submit" value="Testing Grid" ng-click="goGetGrid(mDataWAC)">-->
                        </div>
                    </div>
                    <div ng-if="$index == 6">
                        <!--<p> Index 6 </p>-->
                        <div style="margin-top : 25px;" oc-lazy-load="['summernote']">
                            <!--<input type="text" ng-model="" ng-hide="true" />-->
                            <summernote name="content" config="summernoteOptions2" ng-model="gridOther[0].OtherDescription" required></summernote>
                            <bserrmsg field="content"></bserrmsg>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

    <!--<img src="images/marker.png" id="marker" style="display: none; position: absolute;" />-->
    <!--<script type="text/ng-template" id="myPopoverTemplate.html">
        <div class="form-group" ng-style="positionXY">
            <button ng-click="dynamicPopover.close()">Baret</button>
            <button ng-click="dynamicPopover.close()">Penyok</button>
            <button ng-click="dynamicPopover.close()">Rusak</button>
            <button ng-click="dynamicPopover.close()">Delete</button>
        </div>
    </script>-->
</div>