<script type="text/javascript">

</script>
<style type="text/css">


</style>

<div ng-show="Alasan">
<div class="row" style="margin-bottom:10px;margin-top: -31px;">	
	<button style="float: right;margin-right:15px;" ng-click="TambahAlasan()"  type="button" class="rbtn btn ng-binding ladda-button" >
		<i class="fa fa-plus"></i><span>&nbsp&nbspTambah</span>
	</button>
	
	<button class="btn ubtn mobilesearchbtn" style="float: right;margin-left:2px;margin-right:2px;" ng-click="RefreshAlasan()">
		<span class="fa fa-fw fa-refresh iconFilter" style="font-size:1.4em"></span>
	</button>
	
	<button class="btn ubtn mobilesearchbtn" style="float: right;margin-left:2px;margin-right:2px;" ng-click="ToggleAlasanSearch()">
		<span class="fa fa-fw fa-search iconFilter" style="font-size:1.4em"></span>
	</button>
	
	<!--<button style="float: right;" ng-click="DeleteAlasan()"  type="button" class="rbtn btn ng-binding ladda-button" >
		<span class="ladda-label">
			Hapus Data
		</span><span class="ladda-spinner"></span>
	</button>-->
</div>
<div ng-show="ShowAlasanSearch" style="margin-left:10px;margin-bottom:10px;background-color:rgba(213,51,55,0.02);" class="row">
	<div class="row">
	<div class="col-md-6">
	<bslabel>Kategori Alasan</bslabel>
				<bsselect name="Category" 
					ng-model="AlasanFilterByReasonCode" 
					data="optionsAlasanCategory" 
					item-text="ReasonCategory" 
					item-value="ReasonCode" 
					on-select="value(selected)" 
					placeholder="Kategori Alasan" 
					icon="fa fa-search">
	</bsselect>
	</div>
	</div>
	<div class="row" style="margin-right:10px">

		<button class="btn wbtn" 
					style="padding:0px 5px 0px 0px;float:right;margin-right:20px;" 
					ng-click="CariAlasan()" onclick="this.blur()"
					tooltip-placement="bottom"
					tooltip-trigger="mouseenter focus"
					tooltip-animation="false"
					uib-tooltip="Search">
					<span class="fa-stack fa-lg">
					<i class="fa fa-database fa-stack-1x" style="color:#aeaeae;font-size:20px;">
					</i><i class="fa fa-search fa-stack-1x" style="font-size:17px;top:5px;left:8px;">
					</i>
					</span>
				</button>
	</div>
	
</div>	
	
<div style="display: block;height:380px;" class="grid" ui-grid="grid3" ui-grid-selection ui-grid-auto-resize ui-grid-pagination></div>
<br/>
</div>



<div ng-show="ShowAlasanDetail" style="margin-bottom:10px;margin-top: -31px;">
	<button ng-disabled="mAlasan_Category==null||mAlasan_Category==undefined||mAlasan_ReasonName==null||mAlasan_ReasonName==''||mAlasan_ReasonName==undefined" style="float: right;" ng-show="ShowSimpanAlasan" ng-click="SimpanAlasan()"  type="button" class="rbtn btn ng-binding ladda-button" >
		<span class="ladda-label">
			Simpan
		</span><span class="ladda-spinner"></span>
	</button>
	
	<button style="float: right;" ng-click="KembaliDariAlasan()"  type="button" class="wbtn btn ng-binding ladda-button" >
		<span class="ladda-label">
			Kembali
		</span><span class="ladda-spinner"></span>
	</button>
	
	
	<br/>
	<br/>
				<bslabel>Kategori Alasan</bslabel>
				<bsselect name="Category" ng-disabled="!mAlasan_Category_EnableDisable" 
					ng-model="mAlasan_Category" 
					data="optionsAlasanCategory" 
					item-text="ReasonCategory" 
					item-value="ReasonCode" 
					on-select="KategoriAlasanChanged(selected)"
					placeholder="Kategori Alasan" 
					icon="fa fa-search">
				</bsselect>
				
                <bsreqlabel style="margin-top:10px;">Alasan</bsreqlabel>
				<div class="input-icon-right">
					<i class="fa fa-pencil"></i>
					<textarea ng-change="MasterAlasanPaksaanReasonName()" id="AlasanDaAlasan" maxlength="30" type="text" class="form-control" name="ReasonName" placeholder="Alasan" ng-disabled="!mAlasan_ReasonName_EnableDisable" ng-model="mAlasan_ReasonName" rows="5" cols="50" required>
				</div>

			

				

</div>

<div class="ui modal ModalAlasanHapus" role="dialog">
	<ul class="swal2-progresssteps" style="display: none;"></ul>
<div class="swal2-icon swal2-error" style="display: none;">
	<span class="x-mark">
		<span class="line left">
		</span>
		<span class="line right">
		</span>
	</span>
</div>
<div class="swal2-icon swal2-question" style="display: none;">?</div>
<div class="swal2-icon swal2-warning" style="display: block;">!</div>
<div class="swal2-icon swal2-info" style="display: none;">i</div>
<div class="swal2-icon swal2-success" style="display: none;">
	<span class="line tip">
	</span> 
	<span class="line long">
	</span>
	<div class="placeholder">
	</div> 
	<div class="fix">
	</div>
</div>
<img class="swal2-image" style="display: none;">
<h2 class="swal2-title" id="swal2-title">
	<p align="center" style="font-size:20px">Delete <span style="color:red">1 item(s) </span>from <span style="color:blue">Master Alasan.</span></p> <p align="center">Anda Yakin?</p>
</h2>
<div id="swal2-content" class="swal2-content" style="display: block;" align="center">Tidak dapat kembali ke kondisi sebelumnya!</div>

<div align="center" class="swal2-buttonswrapper" style="display: block;margin-top:10px;margin-bottom:10px">
	<button ng-click="HapusAlasanOk()" type="button" role="button" tabindex="0" class="swal2-confirm swal2-styled" style="background-color: rgb(140, 212, 245); border-left-color: rgb(140, 212, 245); border-right-color: rgb(140, 212, 245);box-sizing: border-box;border: 4px solid transparent;border-color: transparent;width: 100px;height: 40px;padding: 0;border-radius: 12px;">OK</button>
	<button ng-click="HapusAlasanCancel()" type="button" role="button" tabindex="0" class="swal2-cancel swal2-styled" style="display: inline-block; background-color: rgb(170, 170, 170);box-sizing: border-box;border: 4px solid transparent;border-color: transparent;width: 100px;height: 40px;padding: 0;border-radius: 12px;">Cancel</button></div>
</div>
