<script type="text/javascript">
	// var MasterAlasanHuruf = document.getElementById('AlasanDaAlasan');
	// MasterAlasanHuruf.onkeydown = function (e) {
	// 	if ((e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode == 8) || (e.keyCode == 32) || (e.keyCode >= 37 && e.keyCode <= 40)) {
	// 		//titik tu 190 buat decimal
	// 		return true;
	// 	}
	// 	else {
	// 		return false;
	// 	}
	// }

	// (function($){var w=($.browser.msie?'paste':'input')+".mask";var x=(window.orientation!=undefined);$.mask={definitions:{'9':"[0-9]",'a':"[A-Za-z]",'*':"[A-Za-z0-9]"}};$.fn.extend({caret:function(b,c){if(this.length==0)return;if(typeof b=='number'){c=(typeof c=='number')?c:b;return this.each(function(){if(this.setSelectionRange){this.focus();this.setSelectionRange(b,c)}else if(this.createTextRange){var a=this.createTextRange();a.collapse(true);a.moveEnd('character',c);a.moveStart('character',b);a.select()}})}else{if(this[0].setSelectionRange){b=this[0].selectionStart;c=this[0].selectionEnd}else if(document.selection&&document.selection.createRange){var d=document.selection.createRange();b=0-d.duplicate().moveStart('character',-100000);c=b+d.text.length}return{begin:b,end:c}}},unmask:function(){return this.trigger("unmask")},mask:function(m,n){if(!m&&this.length>0){var o=$(this[0]);var q=o.data("tests");return $.map(o.data("buffer"),function(c,i){return q[i]?c:null}).join('')}n=$.extend({placeholder:"_",completed:null},n);var r=$.mask.definitions;var q=[];var s=m.length;var u=null;var v=m.length;$.each(m.split(""),function(i,c){if(c=='?'){v--;s=i}else if(r[c]){q.push(new RegExp(r[c]));if(u==null)u=q.length-1}else{q.push(null)}});return this.each(function(){var f=$(this);var g=$.map(m.split(""),function(c,i){if(c!='?'){return r[c]?(n.placeholder.length>1?n.placeholder.charAt(i):n.placeholder):c}});var h=false;var l=f.val();f.data("buffer",g).data("tests",q);function seekNext(a){while(++a<=v&&!q[a]);return a};function shiftL(a){while(!q[a]&&--a>=0);for(var i=a;i<v;i++){if(q[i]){g[i]=n.placeholder.length>1?n.placeholder.charAt(i):n.placeholder;var j=seekNext(i);if(j<v&&q[i].test(g[j])){g[i]=g[j]}else break}}writeBuffer();f.caret(Math.max(u,a))};function shiftR(a){for(var i=a;i<v;i++){var c=n.placeholder.length>1?n.placeholder.charAt(i):n.placeholder;if(q[i]){var j=seekNext(i);var t=g[i];g[i]=c;if(j<v&&q[j].test(t))c=t;else break}}};function keydownEvent(e){var a=$(this).caret();var k=e.keyCode;h=(k<16||(k>16&&k<32)||(k>32&&k<41));if((a.begin-a.end)!=0&&(!h||k==8||k==46))clearBuffer(a.begin,a.end);if(k==8||k==46||(x&&k==127)){shiftL(a.begin+(k==46?0:-1));return false}else if(k==27){f.val(l);f.caret(0,checkVal());return false}};function keypressEvent(e){if(h){h=false;return(e.keyCode==8)?false:null}e=e||window.event;var k=e.charCode||e.keyCode||e.which;var a=$(this).caret();if(e.ctrlKey||e.altKey||e.metaKey){return true}else if((k>=32&&k<=125)||k>186){var p=seekNext(a.begin-1);if(p<v){var c=String.fromCharCode(k);if(q[p].test(c)){shiftR(p);g[p]=c;writeBuffer();var b=seekNext(p);$(this).caret(b);if(n.completed&&b==v)n.completed.call(f)}}}return false};function clearBuffer(a,b){for(var i=a;i<b&&i<v;i++){if(q[i])g[i]=n.placeholder.length>1?n.placeholder.charAt(i):n.placeholder}};function writeBuffer(){return f.val(g.join('')).val()};function checkVal(a){var b=f.val();var d=-1;for(var i=0,pos=0;i<v;i++){if(q[i]){g[i]=n.placeholder.length>1?n.placeholder.charAt(i):n.placeholder;while(pos++<b.length){var c=b.charAt(pos-1);if(q[i].test(c)){g[i]=c;d=i;break}}if(pos>b.length)break}else if(g[i]==b[pos]&&i!=s){pos++;d=i}}if(!a&&d+1<s){f.val("");clearBuffer(0,v)}else if(a||d+1>=s){writeBuffer();if(!a)f.val(f.val().substring(0,d+1))}return(s?i:u)};if(!f.attr("readonly"))f.one("unmask",function(){f.unbind(".mask").removeData("buffer").removeData("tests")}).bind("focus.mask",function(){l=f.val();var a=checkVal();writeBuffer();setTimeout(function(){if(a==m.length)f.caret(0,a);else f.caret(a)},0)}).bind("blur.mask",function(){checkVal();if(f.val()!=l)f.change()}).bind("keydown.mask",keydownEvent).bind("keypress.mask",keypressEvent).bind(w,function(){setTimeout(function(){f.caret(checkVal(true))},0)});checkVal()})}})})(jQuery);

	// jQuery(function($){
	// $("#testdate").mask("99/99/9999", {placeholder: 'dd/mm/yyyy'});});
</script>
<style type="text/css">
</style>

<div ng-show="mainmenu">
	<button style="float: right; margin-top: -31px; margin-left: 5px" ng-click="TambahAlasan()" type="button" class="rbtn btn ng-binding ladda-button">
		<i class="fa fa-plus"></i>
		<span>&nbsp&nbspTambah</span>
	</button>

	<bsform-grid ng-form="masterAlasanForm" factory-name="AlasanFactory" model="mAlasan" model-id="ReasonId" get-data="getData"
	 selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="AlasanForm" form-title="Alasan" modal-title="Alasan"
	 loading="loading" modal-size="small" on-bulk-delete="hapusAlasan" form-api="formApi" grid-hide-action-column="true" hide-new-button="true" show-advsearch="on"
	 icon="fa fa-fw fa-child" mode="mode">
		<bsform-advsearch>
			<div class="row">
				<div class="col-md-4">
					<label>Kategori Alasan</label>
					<bsselect name="Category" ng-model="filter.AlasanFilterByReasonCode" data="optionsAlasanCategory" item-text="ReasonCategory"
					 item-value="ReasonCode" on-select="value(selected)" placeholder="Kategori Alasan" icon="fa fa-search">
					</bsselect>
				</div>
			</div>

			<!-- <div class="row">
				<div class="col-md-4">
					<label>Date</label>
					<Input id="testdate" type="date" ng-model="datetest"></Input>
				</div>
			</div> -->
		</bsform-advsearch>
	</bsform-grid>
</div>

<!-- <div ng-show="hide">
	<div class="row" style="margin-bottom:10px;margin-top: -31px;">	
		<button style="float: right;margin-right:15px;" ng-click="TambahAlasan()"  type="button" class="rbtn btn ng-binding ladda-button" >
			<i class="fa fa-plus"></i><span>&nbsp&nbspTambah</span>
		</button>
		
		<button class="btn ubtn mobilesearchbtn" style="float: right;margin-left:2px;margin-right:2px;" ng-click="RefreshAlasan()">
			<span class="fa fa-fw fa-refresh iconFilter" style="font-size:1.4em"></span>
		</button>
		
		<button class="btn ubtn mobilesearchbtn" style="float: right;margin-left:2px;margin-right:2px;" ng-click="ToggleAlasanSearch()">
			<span class="fa fa-fw fa-search iconFilter" style="font-size:1.4em"></span>
		</button>
		
	</div>
	<div ng-show="ShowAlasanSearch" style="margin-left:10px;margin-bottom:10px;background-color:rgba(213,51,55,0.02);" class="row">
		<div class="row">
		<div class="col-md-6">
		<bslabel>Kategori Alasan</bslabel>
					<bsselect name="Category" 
						ng-model="AlasanFilterByReasonCode" 
						data="optionsAlasanCategory" 
						item-text="ReasonCategory" 
						item-value="ReasonCode" 
						on-select="value(selected)" 
						placeholder="Kategori Alasan" 
						icon="fa fa-search">
		</bsselect>
		</div>
		</div>
		<div class="row" style="margin-right:10px">

			<button class="btn wbtn" 
						style="padding:0px 5px 0px 0px;float:right;margin-right:20px;" 
						ng-click="CariAlasan()" onclick="this.blur()"
						tooltip-placement="bottom"
						tooltip-trigger="mouseenter focus"
						tooltip-animation="false"
						uib-tooltip="Search">
						<span class="fa-stack fa-lg">
						<i class="fa fa-database fa-stack-1x" style="color:#aeaeae;font-size:20px;">
						</i><i class="fa fa-search fa-stack-1x" style="font-size:17px;top:5px;left:8px;">
						</i>
						</span>
					</button>
		</div>
		
	</div>	
		
	<div style="display: block;height:380px;" class="grid" ui-grid="grid3" ui-grid-selection ui-grid-auto-resize ui-grid-pagination></div>
	<br/>
</div> -->



<div ng-show="ShowAlasanDetail" style="margin-top: -31px;min-height: 100vh">
	<div class="row" style="margin: 0 0 0 0">
		<button ng-disabled="mAlasan_Category==null||mAlasan_Category==undefined||mAlasan_ReasonName==null||mAlasan_ReasonName==''||mAlasan_ReasonName==undefined"
		 style="float: right;" ng-show="ShowSimpanAlasan" ng-click="SimpanAlasan()" type="button" class="rbtn btn ng-binding ladda-button">
			<span class="ladda-label">
				Simpan
			</span>
			<span class="ladda-spinner"></span>
		</button>

		<button style="float: right;" ng-click="KembaliDariAlasan()" type="button" class="wbtn btn ng-binding ladda-button">
			<span class="ladda-label">
				Kembali
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>

	<br/>

	<div class="row">
		<div class="col-md-6">
			<bsreqlabel>Kategori Alasan</bsreqlabel>
			<bsselect name="Category" ng-disabled="!mAlasan_Category_EnableDisable" ng-model="mAlasan_Category" data="optionsAlasanCategory"
			 item-text="ReasonCategory" item-value="ReasonCode" on-select="KategoriAlasanChanged(selected)" placeholder="Kategori Alasan"
			 icon="fa fa-search">
			</bsselect>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<bsreqlabel style="margin-top:10px;">Alasan</bsreqlabel>
			<div class="input-icon-right">
				<i class="fa fa-pencil"></i>
				<textarea id="AlasanDaAlasan" alpha-numeric mask="" ng-change="MasterAlasanPaksaanReasonName()" maxlength="30" type="text" class="form-control"
				 name="ReasonName" placeholder="Input Alasan" ng-disabled="!mAlasan_ReasonName_EnableDisable" ng-model="mAlasan_ReasonName"
				 rows="5" cols="50" required>
					</textarea>
			</div>
		</div>
	</div>

</div>

<div class="ui small modal ModalAlasanHapus" role="dialog">
	<ul class="swal2-progresssteps" style="display: none;"></ul>
	<div class="swal2-icon swal2-error" style="display: none;">
		<span class="x-mark">
			<span class="line left">
			</span>
			<span class="line right">
			</span>
		</span>
	</div>
	<div class="swal2-icon swal2-question" style="display: none;">?</div>
	<div class="swal2-icon swal2-warning" style="display: block;">!</div>
	<div class="swal2-icon swal2-info" style="display: none;">i</div>
	<div class="swal2-icon swal2-success" style="display: none;">
		<span class="line tip">
		</span>
		<span class="line long">
		</span>
		<div class="placeholder">
		</div>
		<div class="fix">
		</div>
	</div>
	<img class="swal2-image" style="display: none;">
	<h2 class="swal2-title" id="swal2-title">
		<p align="center" style="font-size:20px">Delete
			<span style="color:red">1 item(s) </span>from
			<span style="color:blue">Master Alasan.</span>
		</p>
		<p align="center">Anda Yakin?</p>
	</h2>
	<div id="swal2-content" class="swal2-content" style="display: block;" align="center">Tidak dapat kembali ke kondisi sebelumnya!</div>

	<div align="center" class="swal2-buttonswrapper" style="display: block;margin-top:10px;margin-bottom:10px">
		<button ng-click="HapusAlasanOk()" type="button" role="button" tabindex="0" class="swal2-confirm swal2-styled" style="background-color: rgb(140, 212, 245); border-left-color: rgb(140, 212, 245); border-right-color: rgb(140, 212, 245);box-sizing: border-box;border: 4px solid transparent;border-color: transparent;width: 100px;height: 40px;padding: 0;border-radius: 12px;">OK</button>
		<button ng-click="HapusAlasanCancel()" type="button" role="button" tabindex="0" class="swal2-cancel swal2-styled" style="display: inline-block; background-color: rgb(170, 170, 170);box-sizing: border-box;border: 4px solid transparent;border-color: transparent;width: 100px;height: 40px;padding: 0;border-radius: 12px;">Cancel</button>
	</div>
</div>