<script type="text/javascript">

</script>
<style type="text/css">
fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.grid {
  /*width: 500px;*/
  /*height: 180px;*/
}

.ui-grid-spilt-header-main{
	padding-top: 30px;
  line-height: 30px;
	text-align: center;
  background: #f6f6f6;
}

.ui-grid-split-merge-header{
  border-left: 2px solid transparent;
	position: absolute;
	background: #f9f9f9;
	text-align: center;
	line-height: 30px;
	z-index: 1;
	top: 0px;
	left:0px;
}
.ui-grid-header-table{
  width:100%;
  padding:0px;
  border:none;
  border-spacing: 0px;
  border-collapse: collapse;
}

.ui-grid-header-table tr td{
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
}
.ui-grid-header-table tr td:last-child{
  border-right:none;
}

.middle {
  vertical-align: middle;
}

.tombolHapus {
    /* content: "-"; */
    /* position: absolute; */
    /* text-align: center; */
    /* right: -20%; */
    top: 20px;
}

.tmbhan {
    bottom: 17px;
}

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<!-- <div class="container">
<div class="row">
  <div class="col-md-2 col-md-offset-6">
    <button type="button" class="btn btn-sm btn-danger" ng-click="showModal()">Close PO</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="showModal()">Cancel PO</button>
  </div>
</div>
</div> -->

<bsform-grid
        ng-form="PartsOSInquiryForm"
        factory-name="PartsOSInquiry"
        model="mData"
        model-id="noUrut"
        loading="loading"
        show-advsearch="on"

        get-data="getData(mData)"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        on-before-new-mode="onBeforeNewMode"
        on-before-edit-mode="onBeforeEditMode"
        on-show-detail = "onShowDetail"

        grid-hide-action-column="gridHideActionColumn"

        form-name="PartsOSInquiryForm"
        form-title="Order Status Inquiry"
        modal-title="Order Status Inquiry"
        modal-size="small"
        icon="fa fa-fw fa-child"

        >
        <bsform-advsearch>

              <!-- Row Atas -->
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group" show-errors>
                      <label class="control-label">Tanggal PO</label>
                        <div class="tanggal">
                          <bsdatepicker
                          name="startDate"
                          date-options="dateOptions"
                          ng-model="mData.tanggalPO"
                          required>
                          </bsdatepicker>
                        </div>
                      <bserrmsg field="tanggalPO"></bserrmsg>
                  </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Tipe Order</label>
                    <select class="form-control" ng-model="mData.TipeOrder">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">BO</option>
                      <option value="6">T</option>
                      <option value="7">C</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- end row -->

              <!-- Row Bawah -->
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">No. PO *</label>
                    <input type="text" class="form-control" ng-model="mData.PurchaseOrderNo">
                  </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">No. Part</label>
                    <input type="text" class="form-control" ng-model="mData.PartsCode">
                  </div>
                </div>
              <!-- </div> -->
              <!-- end row -->
              <!-- <div class="row"> -->
              <div class="row"></div>
              <div class="row"></div>
                <div class="col-md-11">
                  <div class="input-group pull-right" >
                    <button class="btn wbtn pull-right" ng-click="onDeleteFilter(mData)">Hapus Filter</button>
                  </div>

                </div>
              </div>
        </bsform-advsearch>

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->



        <!--
            <div class="form-group" show-errors>
                <bsreqlabel>Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="name" placeholder="Name"
                           ng-model="mPOMaintenance.name" ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="name"></bserrmsg>
            </div>
        -->

</bsform-grid>

        <!--tombol bawah-->
        <br>
        <div class="form-group" style="padding-left: 5px;">
          <div class="row">
            <div class="col-md-12">
              <!--<div style="text-align: left;"> -->
                <button class="wbtn btn" ng-click="pendingDetail()">Pending Detail</button>
                <button class="wbtn btn" ng-click="boDetail()">BO Detail</button>
                <button class="wbtn btn" ng-click="issueToShip()">Issue To Ship</button>
                <button class="wbtn btn" ng-click="POSSInfo()">POSS Info</button>
              <!--</div>-->
            </div>
          </div>
        </div>



<!--<div class="modal-header">
  <h1>This is the title</h1>
</div>'
<div class="modal-body">
  Hi, I'm a modal!
</div>-->

        <!--<div modal="showModal" close="cancel()">
        <div class="modal-header">
            <h4>Modal Dialog</h4>
        </div>
        <div class="modal-body">
            <p>Example paragraph with some text.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" ng-click="ok()">Okay</button>
          <button class="btn" ng-click="cancel()">Cancel</button>
        </div>
      </div>-->

          <!--<bsmodal id="modal_delete_bsFormDemoManual" title="bsFormDemo Manual"
           visible="sm_show2"
           size="small"
           novalidate>
           <p style="font-size:15px;">
              Delete
              <span style="color:blue">bsFormDemo Manual</span>
              <span style="color:#444"> data. Are you sure?</span>
           </p>
          </bsmodal>-->
