<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="no-add">
    <div class="row" ng-show="MainBPCenterSatelite_Show">
        <div class="col-md-12">
            <div class="col-md-1">
                Dealer :
            </div>

            <div class="col-md-3">
                <div class="input-icon-right ">
                    <input type="text" class="form-control " name="MainBPCenterSatelliteName" placeholder="" ng-model="MainBPCenterSatellite_Name" ng-maxlength="50" ng-disabled="!MainBPCenterSatelite_EnableDisable">
                </div>
            </div>
            <!--<div class="col-md-2">
				<bsselect ng-model="MainBPCenterSatelite_Dealer"
					 data="optionsMainBPCenterSatelite_Dealer" item-text="name" item-value="value" on-select="value(selected)" placeholder="Bulk Action"
					 ng-change="MainBPCenterSatelite_Dealer_Changed()" icon="fa fa-search">
				</bsselect>
			</div>-->
        </div>

        <div class="col-md-12" style="width:98.4%; margin-bottom:20px">
            <button id="MainBPCenterSatelite_Upload_Button" ng-click="MainBPCenterSatelite_DownloadExcelTemplate()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:10px; margin-left:5px">
				<span class="ladda-label">
					Download Template
				</span><span class="ladda-spinner"></span>
			</button>
        <!-- </div> -->

        <!-- <div class="col-md-12"> -->
            <button id="MainBPCenterSatelite_Upload_Button" ng-click="MainBPCenterSatelite_Upload_Clicked()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:10px; margin-left:5px">
				<span class="ladda-label">
					Upload dari Excel
				</span><span class="ladda-spinner"></span>
			</button>
        <!-- </div> -->

        <!-- <div class="col-md-12"> -->
            <button id="MainBPCenterSatelite_Tambah_Button" ng-click="MainBPCenterSatelite_Tambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:10px; margin-left:5px">
				<span class="ladda-label">
					Tambah
				</span><span class="ladda-spinner"></span>
			</button>
        </div>

        <div class="col-md-12" style="margin-bottom:10px">
            <div id="myGrid" ui-grid="BPCenter_UIGrid" ui-grid-auto-resize ui-grid-pagination ui-grid-selection class="Mygrid" style="width:98%;height: 250px"></div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px">
            <div id="myGrid" ui-grid="BPSatelite_UIGrid" ui-grid-auto-resize ui-grid-pagination ui-grid-selection class="Mygrid" style="width:98%;height: 250px"></div>
        </div>
    </div>

    <div class="row" ng-show="TambahBPCenterSatelite_Center_Show">
        <div class="col-md-12">
            <button id="TambahBPCenterSatelite_Center_Simpan_Button" ng-click="TambahBPCenterSatelite_Center_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:10px; margin-left:5px">
				<span class="ladda-label">
					Simpan
				</span><span class="ladda-spinner"></span>
			</button>

            <button id="TambahBPCenterSatelite_Center_Kembali_Button" ng-click="TambahBPCenterSatelite_Center_Kembali_Clicked()" type="button" class="btn ng-binding ladda-button" style="float: right; margin-top:10px; margin-left:5px">
				<span class="ladda-label">
					Kembali
				</span><span class="ladda-spinner"></span>
			</button>
        </div>

        <div class="col-md-12">
            <div class="col-md-4">
                Dealer : {{TambahBPCenterSatelite_Center_DealerName}}
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-1">
                BP Center
            </div>

            <div class="col-md-3">
                <bsselect ng-model="TambahBPCenterSatelite_Center_BPCenter" data="optionsTambahBPCenterSatelite_Center_BPCenter" item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih BP Center" ng-change="TambahBPCenterSatelite_Center_BPCenter_Changed(TambahBPCenterSatelite_Center_BPCenter)"
                    icon="fa fa-search">
                </bsselect>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-1">
                Alamat
            </div>

            <div class="col-md-3">
                <textarea type="text" class="form-control" name="TambahBPCenterSateliteCenterAlamat" placeholder="" ng-model="TambahBPCenterSatelite_Center_Alamat" ng-maxlength="300" style="margin-bottom: 10px" ng-disabled="!TambahBPCenterSatelite_Center_Alamat_isDisabled">
				</textarea>
            </div>
        </div>
    </div>

    <div class="row" ng-show="TambahBPCenterSatelite_Satelite_Show">
        <div class="col-md-12">
            <button id="TambahBPCenterSatelite_Satelite_Simpan_Button" ng-click="TambahBPCenterSatelite_Satelite_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:10px; margin-left:5px" ng-disabled="disableBtn">
				<span class="ladda-label">
					Simpan
				</span><span class="ladda-spinner"></span>
			</button>

            <button id="TambahBPCenterSatelite_Satelite_Kembali_Button" ng-click="TambahBPCenterSatelite_Satelite_Kembali_Clicked()" type="button" class="btn ng-binding ladda-button" style="float: right; margin-top:10px; margin-left:5px">
				<span class="ladda-label">
					Kembali
				</span><span class="ladda-spinner"></span>
			</button>
        </div>
        <div class="col-md-6" ng-form="rowBPCenter">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">BP Center</label>
                <div class="col-sm-10">
                    {{TambahBPCenterSatelite_Satelite_CenterName}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">BP Satellite <span style="color:#b94a48;"> *</span></label>
                <div class="col-sm-10">
                    <bsselect required name="sattelite" name="satelite" ng-model="TambahBPCenterSatelite_Satelite_BPSatelite" data="optionsTambahBPCenterSatelite_Satelite_BPSatelite" item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih BP Satellite" ng-change="TambahBPCenterSatelite_Satelite_BPSatelite_Changed(TambahBPCenterSatelite_Satelite_BPSatelite)"
                        icon="fa fa-search">
                    </bsselect>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nama Satellite</label>
                <div class="col-sm-10">
                    <input type="text" style="text-transform: uppercase" class="form-control" name="SateliteNameAs" maxlength="15" ng-model="TambahBPCenterSatelite_SateliteName" ng-disabled="sudahAdaAlias" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Alamat</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" name="TambahBPCenterSateliteSateliteAlamat" placeholder="" ng-model="TambahBPCenterSatelite_Satelite_Alamat" ng-maxlength="300" style="margin-bottom: 10px" ng-disabled="!TambahBPCenterSatelite_Satelite_Alamat_isDisabled">
                    </textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"> SA Satellite <span style="color:#b94a48;"> *</span></label>
                <div class="col-sm-10">
                    <bsselect ng-model="TambahBPCenterSatelite_Satelite_SASatelite" data="optionsTambahBPCenterSatelite_Satelite_SASatelite" item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih SA" ng-change="TambahBPCenterSatelite_Satelite_SASatelite_Changed()"
                        icon="fa fa-search" ng-disabled="disableSASatellite">
                    </bsselect>
                </div>
            </div>  
        </div>
        <!-- <div class="col-md-12">
            <div class="col-md-1">
                BP Center
            </div>

            <div class="col-md-4">
                {{TambahBPCenterSatelite_Satelite_CenterName}}
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-1">
                BP Satellite
            </div>

            <div class="col-md-4">
                <bsselect ng-model="TambahBPCenterSatelite_Satelite_BPSatelite" data="optionsTambahBPCenterSatelite_Satelite_BPSatelite" item-text="name" item-value="value" on-select="value(selected)" placeholder="Bulk Action" ng-change="TambahBPCenterSatelite_Satelite_BPSatelite_Changed(TambahBPCenterSatelite_Satelite_BPSatelite)"
                    icon="fa fa-search">
                </bsselect>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-1">
                Alamat
            </div>

            <div class="col-md-3">
                <textarea type="text" class="form-control" name="TambahBPCenterSateliteSateliteAlamat" placeholder="" ng-model="TambahBPCenterSatelite_Satelite_Alamat" ng-maxlength="300" style="margin-bottom: 10px" ng-disabled="!TambahBPCenterSatelite_Satelite_Alamat_isDisabled">
				</textarea>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-1">
                SA Satellite
            </div>

            <div class="col-md-4">
                <bsselect ng-model="TambahBPCenterSatelite_Satelite_SASatelite" data="optionsTambahBPCenterSatelite_Satelite_SASatelite" item-text="name" item-value="value" on-select="value(selected)" placeholder="Bulk Action" ng-change="TambahBPCenterSatelite_Satelite_SASatelite_Changed()"
                    icon="fa fa-search" ng-disabled="disableSASatellite">
                </bsselect>
            </div>

            <div class="col-md-2">
                <button id="TambahBPCenterSatelite_Satelite_Tambah_Button" ng-click="TambahBPCenterSatelite_Satelite_Tambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:10px; margin-left:5px">
					<span class="ladda-label">
						Tambah
					</span><span class="ladda-spinner"></span>
				</button>
            </div>
        </div> -->
        <div class="col-md-12">
            <button id="TambahBPCenterSatelite_Satelite_Tambah_Button" ng-disabled="rowBPCenter.$invalid" ng-click="TambahBPCenterSatelite_Satelite_Tambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:10px; margin-left:5px;margin-bottom:10px">
                <span class="ladda-label">
                    Tambah
                </span><span class="ladda-spinner"></span>
            </button>
        </div>

        <div class="col-md-12" style="margin-bottom:10px">
            <div id="myGrid" ui-grid="BPSateliteBaru_UIGrid" ui-grid-auto-resize ui-grid-pagination ui-grid-selection class="Mygrid" style="width:98%;height: 250px"></div>
        </div>

    </div>
</div>

<div class="ui modal" id="ModalUploadbpCenterSatelitte" role="dialog" style="margin-top: -50px; height: 100px; width:800px;">
	<div class="modal-content">
		<ul class="list-group">
			<div class="col-md-12" style="margin-top:40px;">
				<div class="col-md-2" style="margin-top:12px">
					Upload File
				</div>

				<div class="col-md-8" style="border:1px solid lightgrey;padding: 10px 0 10px 10px">
					<div class="input-icon-right">
						<input type="file" accept=".xlsx" id="UploadbpCenterSatelitte" onchange="angular.element(this).scope().loadXLSBpCenterSatellite(this)">
					</div>
				</div>

				<div class="col-md-2">
					<button id="UploadBpCenterSatellite_Upload_Button"
					ng-click="UploadMasterVendor_Upload_Clicked()"
					 type="button" class="rbtn btn ng-binding ladda-button" style="float: left;margin-top:5px">
						<span class="ladda-label">
							Upload
						</span><span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</ul>
	</div>
</div>

<div class="ui modal" id="ModalSatelliteBPDelete" role="dialog">
    <div class="modal-content">
        <ul class="list-group">
            <bslabel>Hapus Data</bslabel>
            <div class="form-group">
                Anda yakin ingin menghapus {{ModalSatelliteBPDelete_Data}} ?
            </div>
            <p align="center">
                <button class="col-sm-6" ng-click="ModalSatelliteBPDelete_Ya(DeleteSatelliteData)" type="button" class="rbtn btn ng-binding ladda-button">
				Ya
			</button>
                <button class="col-sm-6" ng-click="ModalSatelliteBPDelete_Tidak()" type="button" class="rbtn btn ng-binding ladda-button">
				Tidak
			</button>
            </p>
        </ul>
    </div>
</div>
