<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="SektorBisnisForm" factory-name="SektorBisnisFactory" model="mSektorBisnis" model-id="SectorBusinessId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="SektorBisnisForm" form-title="Sektor Bisnis" modal-title="Sektor Bisnis" modal-size="small" form-api="formApi" do-custom-save="doCustomSave" icon="fa fa-fw fa-child">

        <div class="row">
            <div class="col-md-6">

				
				<div class="form-group" show-errors>
					<bsreqlabel>Sektor Bisnis</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="SectorBusinessName" placeholder="Sektor Bisnis" ng-model="mSektorBisnis.SectorBusinessName"
								maxlength="50" required
						>
					</div>
					<bserrmsg field="SectorBusinessName"></bserrmsg>
				</div>
            </div>
        </div>
        
</bsform-grid-tree>

