<div class="panel panel-danger" style="border-color:#D53337;"><div class="panel-heading" style="color:white; background-color:#D53337;"><h3 class="panel-title">Detail Vendor</h3></div>
<div class="panel-body">
    <div class="container">
    <div class="form-group">           
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-2">
                <bsreqlabel class="control-label">Kode Vendor </bsreqlabel>
                <input ng-disabled="isView" class="form-control" type="text" name="kode_vendor_m" ng-model="VendorDetail.VendorCode"></input>
            </div>                             
        </div>
        <!-- [END] Form Level 1 -->
              <br />
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <bsreqlabel class="control-label">Nama Vendor </bsreqlabel>
                    <input ng-disabled="isView" class="form-control" type="text" name="nama_vendor_m" ng-model="VendorDetail.Name"></input>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <bsreqlabel class="control-label">Tipe Vendor </bsreqlabel>
                    <select ng-disabled="isView" class="form-control" required>
                        <option selected>TAM Distributor Parts</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div> 
        </div>
        <!-- [END] Form Level 2 -->
              <br />
        <!-- [START] Form Level 3 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <bsreqlabel class="control-label">Metode Pembayaran </bsreqlabel>
                    <select class="form-control" disabled>
                        <!-- <option selected disable>Kredit</option> -->
                        <option value="{{mData.PaymentMethodId}}" selected>{{ToPaymentMethodId(mData.PaymentMethodId)}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">                
                <bsreqlabel class="control-label">Jangka Waktu Bayar (Hari)</bsreqlabel>    
                <input class="form-control" type="number" name="j_w_bayar_m" ng-model="VendorDetail.TermOfPayment" disabled></input>               
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 3 -->
              <br />
        <!-- [START] Form Level 4 -->
        <div class="row">
            <div class="col-md-2">
                <bsreqlabel class="control-label">Alamat Kantor</bsreqlabel>
                <textarea class="form-control" row='3' name= "name_vendor_m" ng-model="VendorDetail.Address" disabled></textarea>
            </div>
            <div class="col-md-2">                
                <label class="control-label">No Telepon</label>
                <input class="form-control" type="text" name="no_telepon_m" ng-model="VendorDetail.Phone" disabled></input>
            </div>
            <div class="col-md-2">                
                <label class="control-label">&nbsp</label>            
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 4 -->
              <br />
        <!-- [START] Form Level 5 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Email</label>
                <input ng-disabled="isView" class="form-control" type="text" name="email_m" ng-model="VendorDetail.Email"></input>
                
            </div>
            <div class="col-md-2">                
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 5 -->
              <br />
        <!-- [START] Form Level 6 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Contact Person</label>
                <input ng-disabled="isView" class="form-control" type="text" name="contact_person_m" ng-model="VendorDetail.AccountName"></input>
                
            </div>
            <div class="col-md-2">                
                <label class="control-label">Telp. Contact Person</label>
                <input ng-disabled="isView" class="form-control" type="text" name="t_contact_person_m" ng-model="VendorDetail.Phone"></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
 <!--                <div>
                    <button class="btn btn-default">Tutup</button>
                </div> -->
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 6 -->
        <!-- [START] Form Level 6 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">                
                <label class="control-label">&nbsp</label>
                <div>
                    <button class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Tutup</button>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
                
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 6 -->
    </div>
    </div>
</div>
<!-- <pre>{{VendorDetail}}</pre> -->