<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}

	.watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	}
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	}

	/* Firefox */
	input[type=number] {
	-moz-appearance: textfield;
	}

</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-form name="dfNewForm">
	<div class="row" style="border:1px solid lightgrey;margin:10px">

		<div class="col-md-12" style="margin-top:20px;">
			<div class="col-md-4">
				<label>
					<input ng-model="parent.ParamBunga_IsPembayaranUnit" type="checkbox" ng-disabled="!allowSimpan">&nbsp Pembayaran Unit Menggunakan Dealer Financing</label>
			</div>
		</div>
		<div ng-if="parent.ParamBunga_IsPembayaranUnit" ng-form name="FormValidation_BungaDF_Units" class="col-md-12" style="margin-top:20px;">
			<div class="col-md-4" >
				<div class="form-group" ng-class="{'has-error':FormValidation_BungaDF_Units.ParamProviderUnit.$error.required && FormValidation_BungaDF_Units.ParamProviderUnit.$touched}">
					<bsreqlabel>Dealer Financing Provider</bsreqlabel>
					<bsselect ng-change="GetDealerFinancingProviderUnit()" name="ParamProviderUnit" style="margin-bottom:10px;" ng-model="parent.ParamBunga_DealerFinancingProvicerUnit" data="DataParamBunga_DealerFinancingProvicerUnit"
									item-text="name" item-value="value" on-select="value(selected)" placeholder="Dealer Financing Provider" required icon="fa fa-search">
				</div>
			</div>

		<div class="col-md-12">
			<p style="width:180px; margin-top:20px; margin-left:10px; margin-bottom:-15px; background:white;color:red">Unit</p>
			<hr style="border-color:red;">
		</div>

		<div>
			<div class="col-md-12" style="margin-bottom:20px;">
				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':FormValidation_BungaDF_Units.ParamBungaPembayaranUnit.$error.required && FormValidation_BungaDF_Units.ParamBungaPembayaranUnit.$touched}">
						<bsreqlabel>Bunga (%)</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control" name="ParamBungaPembayaranUnit " placeholder="" ng-model="parent.ParamBunga_PembayaranUnit"
							max="100" min="0" onKeyPress="this.value=this.value.replace(/[^0-9.]/g, '')" ng-blur="validateNumber(2)" step=0.1 required ng-disabled="!allowSimpan">
						</div>
						<span ng-show="FormValidation_BungaDF_Units.ParamBungaPembayaranUnit.$error.required && FormValidation_BungaDF_Units.ParamBungaPembayaranUnit.$touched" class="help-block">Field ini wajib diisi</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':FormValidation_BungaDF_Units.TanggalBerlakuUnitDF.$error.required && FormValidation_BungaDF_Units.TanggalBerlakuUnitDF.$touched}">
						<bslabel>Tanggal Berlaku</bslabel>
						<bsdatepicker name="TanggalBerlakuUnitDF"  date-options="dateOptions" ng-model="parent.ParamBunga_TanggalBerlakuUnit" required>
						</bsdatepicker>
						<!-- <span ng-if="FormValidation_BungaDF_Units.TanggalBerlakuUnitDF.$error.required && FormValidation_BungaDF_Units.TanggalBerlakuUnitDF.$touched"
							class="help-block">Field ini wajib diisi</span> -->
					</div>
				</div>
			</div>

			<div class="col-md-12" style="margin-bottom:20px;">
				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':FormValidation_BungaDF_Units.ParamBungaTenorUnit.$error.required && FormValidation_BungaDF_Units.ParamBungaTenorUnit.$touched}">
						<bsreqlabel>Tenor (hari)</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="ParamBungaTenorUnit" placeholder="" ng-model="parent.ParamBunga_TenorUnit"
							oninput="this.value=this.value.replace(/[^0-9]/g, '')" required ng-disabled="!allowSimpan">
						</div>
						
						<span ng-show="FormValidation_BungaDF_Units.ParamBungaTenorUnit.$error.required && FormValidation_BungaDF_Units.ParamBungaTenorUnit.$touched" class="help-block">Field ini wajib diisi</span>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-2">
					<div class="input-icon-right">
						<input type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="parent.LihatBungaDFUnit_Search_Text"
							ng-maxlength="50" maxlength="50">
					</div>
				</div>
				<div class="col-md-2">
					<bsselect ng-model="parent.LihatBungaDFUnit_Search" data="optionsLihatBungaDF_Search" item-text="name" item-value="value"
						on-select="value(selected)" placeholder="Select Search Criteria" icon="fa fa-search">
					</bsselect>
				</div>
				<div class="col-md-4">
					<button id="" onclick="" ng-click="LihatBungaDFUnit_Filter_Clicked()" type="button" class="btn ng-binding ladda-button">
						<span class="ladda-label">
							Filter
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
				<div class="col-md-4">
						
						<button id="ParamBungaDFUnit_Tambah_Button" ng-disabled="(isDataUnit) || (!isDataUnit && FormValidation_BungaDF_Units.$invalid)" style="float: right" ng-click="ParamBungaDFUnit_Tambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button">
							<span class="ladda-label">
								Tambah
							</span>
						</button>
						<button id="ParamBungaDFUnit_Edit_Button" ng-disabled="FormValidation_BungaDF_Units.$invalid || isEditUnit" style="float: right" ng-click="ParamBungaDFUnit_Edit_Clicked()" type="button" class="rbtn btn ng-binding ladda-button">
							<span class="ladda-label">
								Edit
							</span>
						</button>
					</div>
			</div>

			<div class="col-md-12" style="margin-bottom:20px; margin-top:10px">
				<div id="paramBungaUnit" ui-grid="paramBungaUnit" class="grid" style="width:100%;height: 400px"
							 ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-pagination ui-grid-resize-columns>
					<div class="watermark" ng-show="!paramBungaUnit.data.length">No data available</div>
				</div>
			</div>
			
		</div>
		</div>

		<div ng-if="!parent.ParamBunga_IsPembayaranUnit">

			<div class="col-md-12">
				<p style="width:180px; margin-top:20px; margin-left:10px; margin-bottom:-15px; background:white;color:red">Unit</p>
				<hr style="border-color:red;">
			</div>

			<div class="col-md-12" style="margin-bottom:20px;">
				<div class="col-md-4">
					<div class="form-group">
						<bsreqlabel>Bunga (%)</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " ng-disabled="true">
						</div>
					</div>
				</div>				
			</div>

			<div class="col-md-12" style="margin-bottom:20px;">
				<div class="col-md-4">
					<div class="form-group">
						<bsreqlabel>Tenor (hari)</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " ng-disabled="true">
						</div>
					</div>
				</div>
			</div>

			
		</div>

	</div>

	<div class="row" style="border:1px solid lightgrey;margin:10px">

		<div class="col-md-12" style="margin-top:20px;">
			<div class="col-md-4">
				<label>
					<input ng-model="parent.ParamBunga_IsPembayaranParts" type="checkbox" ng-disabled="!allowSimpan">&nbsp Pembayaran Parts Menggunakan Dealer Financing</label>
			</div>
		</div>
		<!-- <div class="col-md-12" style="margin-top:20px;">
			<div class="col-md-6" >
				<bsreqlabel>Dealer Financing Provider</bsreqlabel>
				<bsselect ng-change="GetDealerFinancingProviderPart()" style="margin-bottom:10px;" ng-model="parent.ParamBunga_DealerFinancingProvicerPart" data="DataParamBunga_DealerFinancingProvicerPart"
								 item-text="name" item-value="value" on-select="value(selected)" placeholder="Dealer Financing Provider" icon="fa fa-search">
			</div>
		</div> -->
		<div ng-if="parent.ParamBunga_IsPembayaranParts" ng-form name="FormValidation_BungaDF_Parts" class="col-md-12" style="margin-top:20px;">
			<div class="col-md-4" >
				<div class="form-group" ng-class="{'has-error':FormValidation_BungaDF_Parts.ParamProviderParts.$error.required && FormValidation_BungaDF_Parts.ParamProviderParts.$touched}">
					<bsreqlabel>Dealer Financing Provider</bsreqlabel>
					<bsselect ng-change="GetDealerFinancingProviderPart()" name="ParamProviderParts" style="margin-bottom:10px;" ng-model="parent.ParamBunga_DealerFinancingProvicerPart" data="DataParamBunga_DealerFinancingProvicerPart"
									item-text="name" item-value="value" on-select="value(selected)" placeholder="Dealer Financing Provider" required icon="fa fa-search">
				</div>
			</div>

		<div class="col-md-12">
			<p style="width:180px; margin-top:20px; margin-left:10px; margin-bottom:-15px; background:white;color:red">Parts</p>
			<hr style="border-color:red;">
		</div>

		<div>
			<div class="col-md-12" style="margin-bottom:20px;">
				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':FormValidation_BungaDF_Parts.ParamBungaPembayaranParts.$error.required && FormValidation_BungaDF_Parts.ParamBungaPembayaranParts.$touched}">
						<bsreqlabel>Bunga (%)</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="ParamBungaPembayaranParts " placeholder="" ng-model="parent.ParamBunga_PembayaranParts"
							max="100" min="0" onKeyPress="this.value=this.value.replace(/[^0-9.]/g, '')" ng-blur="validateNumber(1)" step=0.1 required ng-disabled="!allowSimpan">
						</div>
					
						<span ng-show="FormValidation_BungaDF_Parts.ParamBungaPembayaranParts.$error.required && FormValidation_BungaDF_Parts.ParamBungaPembayaranParts.$touched" class="help-block">Field ini wajib diisi</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':FormValidation_BungaDF_Parts.TanggalBerlakuPartsDF.$error.required && FormValidation_BungaDF_Parts.TanggalBerlakuPartsDF.$touched}">
						<bslabel>Tanggal Berlaku</bslabel>
						<bsdatepicker name="TanggalBerlakuPartsDF" date-options="dateOptions" ng-model="parent.ParamBunga_TanggalBerlakuParts" required>
						</bsdatepicker>
						<!-- <span ng-if="FormValidation_BungaDF_Parts.TanggalBerlakuPartsDF.$error.required && FormValidation_BungaDF_Parts.TanggalBerlakuPartsDF.$touched"
							class="help-block">Field ini wajib diisi</span> -->
					</div>
				</div>
			</div>

			<div class="col-md-12" style="margin-bottom:20px;">
				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':FormValidation_BungaDF_Parts.ParamBungaTenorParts.$error.required && FormValidation_BungaDF_Parts.ParamBungaTenorParts.$touched}">
						<bsreqlabel>Tenor (hari)</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="ParamBungaTenorParts" placeholder="" ng-model="parent.ParamBunga_TenorParts" 
							oninput="this.value=this.value.replace(/[^0-9]/g, '')" required ng-disabled="!allowSimpan">
						</div>
						<span ng-show="FormValidation_BungaDF_Parts.ParamBungaTenorParts.$error.required && FormValidation_BungaDF_Parts.ParamBungaTenorParts.$touched" class="help-block">Field ini wajib diisi</span>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-2">
					<div class="input-icon-right">
						<input type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="$parent.LihatBungaDFPart_Search_Text"
							ng-maxlength="50" maxlength="50">
					</div>
				</div>
				<div class="col-md-2">
					<bsselect ng-model="$parent.LihatBungaDFPart_Search" data="optionsLihatBungaDF_Search" item-text="name" item-value="value"
						on-select="value(selected)" placeholder="Select Search Criteria" icon="fa fa-search">
					</bsselect>
				</div>
				<div class="col-md-4">
					<button id="" onclick="" ng-click="LihatBungaDFPart_Filter_Clicked()" type="button" class="btn ng-binding ladda-button">
						<span class="ladda-label">
							Filter
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
				<div class="col-md-4">
					
					<button id="ParamBungaDFPart_Tambah_Button" ng-disabled="(isDataPart) || (!isDataPart && FormValidation_BungaDF_Parts.$invalid)" style="float: right" ng-click="ParamBungaDFPart_Tambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button">
						<span class="ladda-label">
							Tambah
						</span>
					</button>
					<button id="ParamBungaDFPart_Edit_Button" ng-disabled="FormValidation_BungaDF_Parts.$invalid || isEditPart" style="float: right" ng-click="ParamBungaDFPart_Edit_Clicked()" type="button" class="rbtn btn ng-binding ladda-button">
						<span class="ladda-label">
							Edit
						</span>
					</button>
				</div>
			</div>
			<p></p>
			<div class="col-md-12" style="margin-bottom:20px; margin-top:10px">
				<div id="paramBungaPart" ui-grid="paramBungaPart" class="grid" style="width:100%;height: 400px"
							 ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-pagination ui-grid-resize-columns>
					<div class="watermark" ng-show="!paramBungaPart.data.length">No data available</div>
				</div>
			</div>
		</div>
		</div>

		<div ng-if="!parent.ParamBunga_IsPembayaranParts">
			<div class="col-md-12">
				<p style="width:180px; margin-top:20px; margin-left:10px; margin-bottom:-15px; background:white;color:red">Parts</p>
				<hr style="border-color:red;">
			</div>

			<div class="col-md-12" style="margin-bottom:20px;">
				<div class="col-md-4">
					<div class="form-group">
						<bsreqlabel>Bunga (%)</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " ng-disabled="true">
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12" style="margin-bottom:20px;">
				<div class="col-md-4">
					<div class="form-group">
						<bsreqlabel>Tenor (hari)</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " ng-disabled="true">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<button id="ParamBungaDF_Simpan_Button" ng-click="ParamBungaDF_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
		 style="float: right; margin-top:24px" ng-disabled="!allowSimpan">
			<span class="ladda-label">
				Simpan
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
</div>