<div class="container"> 
	<div class="row"><br></div> 
	<div class="row"> 
		<div class="col-md-2" style="border:1px dotted black;"> <h2>logo Dealer</h2> </div> 
		<div class="col-md-1"> </div> 
		<div class="col-md-5" style="border-color: black;"> <h1>Berita Acara Gudang</h1> </div> 
		<div class="col-md-4" style="border-color: black;"> <table> <tr> <td>&nbsp</td> <td>&nbsp</td> <td>&nbsp</td> </tr> <tr> <td>Tipe Material</td> <td> : &nbsp</td> <td>PARTS</td> </tr> <tr> <td>No./Tgl. Disposal &nbsp</td> <td> : &nbsp</td> <td>D1/20160717001/14/Jul/2016</td> </tr> </table> </div> </div> 
		<div class="row">
		 <div class="col-md-2"> <table> <tr><td>PT. Nama Perusahaan</td></tr> <tr><td>TOYOTA Branch xxx</td></tr> <tr><td>Alamat</td></tr> <tr><td>Kota - Kode POS</td></tr> <tr><td>Telp: xxxxxxxxx</td></tr> </table> </div> </div>
		 <div class="row">
		 <div class="col-md-12"><hr></div></div>
		 <div class="row"> <div class="col-md-12"> <table style="width:100%"> <tr> <th rowspan="2">No.</th> <td>Rak</td> <td>No. Material</td> <th rowspan="2">QTY</td> <td>Landed</th> <td>Total</td> </tr> <tr> <td>Gudang</td> <td>Nama Material</td> <!-- <td>2</td> --> <td>Cost</td> <td>Landed Cost</td> </tr> <tr> <th rowspan="2">No.</th> <td>TYT-GPG</td> <td>23220-00051</td> <th rowspan="2">1 Pieces</td> <td rowspan="2">2.331.500</th> <td rowspan="2">2.331.500</td> </tr> <tr> <td>RAK_RPP</td> <td>PUMP AS FUEL V/FILTER</td> <!-- <td>2</td> --> <!-- <td>Cost</td> --> <!-- <td>Landed Cost</td> --> </tr> </table> </div> </div><div class="row"><div class="col-md-12"><hr></div></div><div class="row"><div class="col-md-7"></div><div class="col-md-1"><p>Total</p></div><div class="col-md-2"><p>IDR</p></div><div class="col-md-2"><p>2.331.500</p></div></div><div class="row"><div class="col-md-1"><p>Alasan</p></div><div class="col-md-11"><p>: Barang Hilang</p></div></div><div class="row"><div class="col-md-3"></div><div class="col-md-2"><p><u>Petugas Gudang</u></p></div><div class="col-md-2"><p>Kepala Bengkel</p></div><div class="col-md-2"><p>ADH</p></div><div class="col-md-3"><p>Kadiv. Finanace/Accounting</p></div></div><div class="row"><div class="col-md-12"><br><br></div></div><div class="row"><div class="col-md-3"></div><div class="col-md-2"><p><u>Eko</u></p></div><div class="col-md-2"><p>Ivan Abdurrahman</p></div><div class="col-md-2"><p>Ricky</p></div><div class="col-md-3"><p>Sinta</p></div></div><div class="row"><div class="col-md-1"><p>Distribusi</p></div><div class="col-md-11"><p>: Accounting</p></div></div><div class="row" align="right"><div class="col-md-12"><button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="" style="color:white; background-color:#D53337">Cetak</button> <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Tutup</button> </div></div></div>'