<div class="row">
  <div class="col-md-12">
    <fieldset style="border:2px solid #e2e2e2;">
      <legend style="margin-left:10px;width:inherit;border-bottom:0px;">
        WO Information
      </legend>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group">
              <label>Nomor WO :</label>
              <label>7567576356534</label>
            </div>
            <div class="form-group">
              <label>Nomor Polisi :</label>
              <label>7567576356534</label>
            </div>
            <div class="form-group">
              <label>Model :</label>
              <label>7567576356534</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Tanggal WO :</label>
              <label>7567576356534</label>
            </div>
            <div class="form-group">
              <label>Janji Penyerahan :</label>
              <label>7567576356534</label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-md-12">
    <bslist
      data="JobRequest"
      m-id="RequestId"
      list-model="lmRequest"
      on-select-rows="onListSelectRows"
      selected-rows="listSelectedRows"
      confirm-save="true"

      list-api="listApi"
      button-settings="listButtonSettings"

      modal-size="small"
      modal-title="Permintaan"
      list-title="Permintaan"
      list-height="100"
      >
      <bslist-template>
        <div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Job Request"
                      ng-model="lmItem.RequestDesc" ng-disabled="true" skip-enable>
            </textarea>
          </div>
        </div>
      </bslist-template>
      <bslist-modal-form>
        <div>
          <div class="form-group" show-errors>
            <bsreqlabel>Permintaan</bsreqlabel>
            <textarea class="form-control" placeholder="Job Request" name='reqdesc' ng-model="lmRequest.RequestDesc">
            </textarea>
            <bserrmsg field="reqdesc"></bserrmsg>
          </div>
        </div>
      </bslist-modal-form>
    </bslist>
  </div>
  <div class="col-md-6">
    <bslist
      data="JobComplaint"
      m-id="ComplaintId"
      list-model="lmComplaint"
      on-select-rows="onListSelectRows"
      selected-rows="listSelectedRows"
      confirm-save="true"

      list-api="listApi"
      button-settings="listButtonSettings"

      modal-size="small"
      modal-title="Keluhan"
      list-title="Keluhan"
      list-height="100"
      >
      <bslist-template>
        <div>
          <div class="form-group">
            <bsreqlabel>Kategori: </bsreqlabel>
            <bsselect data="ComplaintCategory"
                    item-value="ComplaintCatg"
                    item-text="ComplaintCatg"
                    ng-model="lmItem.ComplaintCatg"
                    placeholder="Kategori"
                    ng-disabled="true"
                    skip-enable
            >
            </bsselect>
          </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="Complaint Text" ng-model="lmItem.ComplaintDesc" ng-disabled="true" skip-enable>
              </textarea>
            </div>
        </div>
      </bslist-template>
      <bslist-modal-form>
        <div>
          <div class="form-group">
            <bsreqlabel>Tipe Keluhan</bsreqlabel>
            <bsselect data="vm.appScope.ComplaintCategory"
                          item-value="ComplaintCatg"
                          item-text="ComplaintCatg"
                          ng-model="lmComplaint.ComplaintCatg"
                          placeholder="Tipe Keluhan"
            >
            </bsselect>
            <bserrmsg field="ctype"></bserrmsg>
          </div>
          <div class="form-group">
            <bsreqlabel>Kategori </bsreqlabel>
            <textarea class="form-control" placeholder="Kategori" name="ctext"
                      ng-model="lmComplaint.ComplaintDesc">
            </textarea>
            <bserrmsg field="ctext"></bserrmsg>
          </div>
        </div>
      </bslist-modal-form>
    </bslist>
  </div>
  <div class="col-md-6">
    <div style="height:181px;padding:30px;text-align:center;">
      <label>Status GI Part</label>
      <h1 style="color:red">Complete GI</h1>
    </div>
  </div>
  <div class="col-md-12">
    <bslist
        data="gridWork"
        m-id="TaskId"
        d-id="PartsId"

        list-model="lmModel"
        list-detail-model="ldModel"
        button-settings="listButtonSettings"

        grid-detail="gridPartsDetail"
        on-select-rows="onListSelectRows"
        selected-rows="listSelectedRows"
        list-api='listApi'
        
        confirm-save="true"
        list-title="Order Pekerjaan"
        modal-title="Job Data"
        modal-title-detail="Parts Data"
        list-height="250"
    >
      <bslist-template>
        <p class="name"><strong>{{ lmItem.TaskName }}</strong></p>
        <div class="email">{{ lmItem.FR }}</div>
          <div>
          </div>
      </bslist-template>
      <bslist-detail-template>
        <p class="address"><strong>{{ ldItem.Parts.PartsCode }}</strong></p>
        <div class="city">{{ ldItem.Parts.PartsName }}</div>
      </bslist-detail-template>
      <bslist-modal-form>
        <div class="row">
          <!-- <div ng-include="'app/services/appointment/appointmentServiceGr/modalFormMaster.html'"> -->
          <div ng-include="'app/services/lib/ModalAppointmentGR/modalFormMaster.html'">
          </div>
        </div>
      </bslist-modal-form>
      <bslist-modal-detail-form>
        <div class="row">
          <!-- <div ng-include="'app/services/appointment/appointmentServiceGr/modalFormDetail.html'"> -->
          <div ng-include="'app/services/lib/ModalAppointmentGR/modalFormDetail.html'">
          </div>
        </div> 
      </bslist-modal-detail-form>
    </bslist>
    <table id="example" class="table table-striped table-bordered" width="100%">
      <thead>
        <tr>
          <th width="20%">Item</th>
          <th>Harga</th>
          <th>Disc</th>
          <th>Sub Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Estimasi Service</td>
          <td>{{totalWork |  currency:"Rp. ":0}}</td>
          <td></td>
          <td>{{totalWork |  currency:"Rp.":0}}</td>
        </tr>
        <tr>
          <td>Estimasi Material</td>
          <td>{{totalMaterial |  currency:"Rp.":0}}</td>
          <td></td>
          <td>{{totalMaterial |  currency:"Rp.":0}}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td colspan="3">{{totalMaterial |  currency:"Rp. ":0}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="form-group">
        <label>Total DP : </label>
        <input type="Number" class="form-control" placeholder="0" name="totalDp">
      </div>
      <div class="form-group">
        <label>Status TECO : </label>
        <input type="text" class="form-control" placeholder="Status TECO" name="totalDp">
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <fieldset style="border:2px solid #e2e2e2;">
      <legend style="margin-left:10px;width:inherit;border-bottom:0px;">
        Warranty Info
      </legend>
      <div class="">
        <div class="col-md-12">
          <table id="example" class="table table-striped table-bordered" width="100%">
            <thead>
              <tr>
                <th>Nomor LT</th>
                <th>Description</th>
                <th>Claim Amount</th>
                <th>Status</th>
                <th>Warranty Number</th>
                <th>Acceptable Amount</th>
                <th>Error Code</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nomor LT</td>
                <td>Description</td>
                <td>Claim Amount</td>
                <td>Status</td>
                <td>Warranty Number</td>
                <td>Acceptable Amount</td>
                <td>Error Code</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <div class="col-md-6 form-group">
      <label>Status TECO : </label>
      <input type="text" class="form-control" placeholder="Status TECO" name="totalDp">
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      <div class="btn-group pull-right">
        <button type="button" class="rbtn btn">
          Edit
        </button>
        <button type="button" class="rbtn btn">
          Complete!
        </button>
        <button type="button" class="rbtn btn">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>