<style type="text/css">
 .user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.endDate::before {
    content: "-";
    position: absolute;
    left: -2%;
    top: 30px;
}

</style>

<!-- [START] Gateway Form Before Entry -->
<div ng-if="isOverlayForm" ng-include="'app/parts/disposal/disposalgateway.html'"></div>
<!-- [END] Gateway Form Before Entry -->

<bsform-grid
        ng-form="DisposalForm"
        factory-name="Disposal"
        model="mData"
        get-data="getData(mData)"
        model-id="Id"
        loading="loading"
        selected-rows="selectedRows"
        show-advsearch="on"
        grid-hide-action-column="gridHideActionColumn"

        form-api="formApi"

        on-before-new="onBeforeNewMode"
        on-before-edit="onBeforeEditMode"
        on-before-delete="onBeforeDeleteMode"
        on-show-detail="onShowDetail"
        on-validate-save="onValidateSave"

        on-bulk-approve="onBulkApproveDS"
        on-bulk-reject="onBulkRejectDS"

        rights-byte = "myRights"

        form-title="Disposal"
        modal-title="Disposal"

        hide-save-button="hideSaveButton"
        modal-size="small"
        icon="fa fa-fw fa-users"
        >
        <!--on-show-detail="onShowDetail"-->

    <bsform-advsearch>

              <!-- Row Atas -->
              <div class="row">
                <div class="col-md-2">
                <label class="control-label">Referensi Disposal</label>
                  <select class="form-control" ng-model="mData.fRefSDTypeId">
                    <option value="1">Parts Claim</option>
                    <option value="2">Langsung</option>
                  </select>
                </div>
                <div class="col-md-2">
                <label class="control-label">Alasan</label>
                <select class="form-control" ng-model="mData.fStockDisposalReasonId">
                  <option value="1">Material Rusak</option>
                  <option value="2">Scrap</option>
                  <!-- <option value="3">Lainnya</option>  -->
                </select>
                </div>
                <div class="col-md-2">
                <label class="control-label">Status</label>
                <select class="form-control" ng-model="mData.fStockDisposalStatusId">
                  <option value="1">Request Approval</option>
                  <option value="2">Completed</option>
                  <option value="3">Cancelled</option
                </select>
                </div>

                <div class="col-md-2">
                  <label class="control-label">Tanggal Disposal *</label>
                  <div class="tanggal">
                    <bsdatepicker
                    name="startDate"
                    date-options="dateOptions"
                    ng-model="mData.startDate"
                    >
                    </bsdatepicker>
                  </div>

                </div>
                <div class="col-md-2">
                  <label class="control-label">&nbsp</label>
                  <div class="endDate">
                    <bsdatepicker
                    name="endDate"
                    date-options="dateOptions"
                    ng-model="mData.endDate"
                    >
                    </bsdatepicker>
                  </div>
                </div>

                <div class="col-md-2">
                <label class="control-label">.</label>
                </div>
              </div>
              <!-- end row -->
              <!-- Row Tengah -->
              <div class="row">
                <div class="col-xs-6 col-xs-offset-6">
                  <span class="help-block">* Mandatory ketika Referensi Disposal / Alasan / Status</span>
                </div>
              </div>
              <!--end  Row Tengah -->
              <!-- Row bawah -->
              <div class="row">
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">No. Referensi</label>
                    <input type="text" class="form-control" ng-model="mData.fRefSDNo">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">No. Disposal</label>
                    <input type="text" class="form-control" ng-model="mData.fStockDisposalNo">
                  </div>
                </div>
                <div class="col-md-2 col-md-offset-4">
                  <!-- <div class="input-group"> -->
                    <label class="control-label">&nbsp</label>
                    <div class="">
                        <button class="btn wbtn pull-right" ng-click="onDeleteFilter()">Hapus Filter</button>
                    </div>
                  <!-- </div> -->
                </div>
              </div>
              <br>
            <!-- end row -->
    </bsform-advsearch>


<!-- [START] Entry Form After Gateway Form -->
<div ng-if="ref=='Parts Claim'">
  <div ng-include="'app/parts/disposal/referensi/partsClaim.html'"></div>
</div>
<div ng-if="ref=='Langsung'">
  <div ng-include="'app/parts/disposal/referensi/langsung.html'"></div>
</div>

<!--edit mode-->
<div ng-if="isEditPartsClaim" ng-include="'app/parts/disposal/referensi/partsClaim_edit.html'"></div>
<div ng-if="isEditLangsung" ng-include="'app/parts/disposal/referensi/langsung_edit.html'"></div>
<!--CATATAN: tipe LANGSUNG, tidak punya ada validasi khusus saat mode edit-->
<!--CATATAN: tipe LANGSUNG, tidak ada proses TAMBAH, SESUAI DG FSD-NYA-->

<!--view mode-->
<div ng-if="isViewPartsClaim" ng-include="'app/parts/disposal/referensi/partsClaim_view.html'"></div>
<div ng-if="isViewLangsung" ng-include="'app/parts/disposal/referensi/langsung_view.html'"></div>

</bsform-grid>
