<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="ActivityWorkingCalenderForm"
        factory-name="ActivityWorkingCalender"
        model="mActivityWorkingCalender" model-id="WorkingCalenderId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="ActivityWorkingCalenderForm" form-title="Activity Working Calender" modal-title="Activity Working Calender" modal-size="small" icon="fa fa-fw fa-child">

        <div class="row">
            <div class="col-md-6">

                <div class="form-group" show-errors>
                    <bsreqlabel>Nama Activity Working Calender</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="nama" placeholder="Nama Activity Working Calender" ng-model="mActivityWorkingCalender.WorkingCalenderName" ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="nama"></bserrmsg>
                </div>
    			
    			<div class="form-group" show-errors>
                        <bsreqlabel>Tanggal Activity Working Calender</bsreqlabel>
                        <bsdatepicker name="tanggal" date-options="dateOptions" ng-model="mActivityWorkingCalender.WorkingCalenderDate">
                        </bsdatepicker>
                        <bserrmsg field="tanggal"></bserrmsg>
                </div>

    			<div class="form-group" show-errors>
                    <bsreqlabel>Keterangan Activity Working Calendar</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="keterangan" placeholder="Keterangan Activity Working Calender" ng-model="mActivityWorkingCalender.WorkingCalenderDesc" ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="keterangan"></bserrmsg>
                </div>
            </div>
        </div>
</bsform-grid-tree>

