<div>
    <div ng-hide="isService" class="row">
        <div class="col-md-12">
            <fieldset style="padding:10px;border:2px solid #e2e2e2;">
                <legend style="margin-left:10px;width:inherit;border-bottom:0px;">
                    WO Information
                </legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nomor WO :</label>
                                <label>{{mData.WoNo}}</label>
                            </div>
                            <div class="form-group">
                                <label>Nomor Polisi :</label>
                                <label>{{mData.PoliceNumber}}</label>
                            </div>
                            <div class="form-group">
                                <label>Model :</label>
                                <label>{{mData.ModelType}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tanggal WO :</label>
                                <label>{{mData.WoCreatedDate | date:'MM/dd/yyyy'}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <bsreqlabel>Category</bsreqlabel>
                        <bsselect name="Category" ng-model="mData.Category" data="woCategory" item-text="Name" item-value="Category" placeholder="Pilih Kategori" ng-disabled="true" skip-enabled required>
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-12">
                    <bslist data="gridWork" m-id="TaskId" d-id="PartsId" on-after-save="onAfterSave" on-after-delete="onAfterDelete" on-after-cancel="onAfterCancel" on-before-new="onBeforeNew" list-model="lmModel" list-detail-model="ldModel" grid-detail="gridPartsDetail"
                        list-api='listApi' confirm-save="false" list-title="Job List" modal-title="Job Data" button-settings="listView" custom-button-settings-detail="listView" modal-title-detail="Parts Data">
                        <bslist-template>
                            <div class="col-md-6" style="text-align:left;">
                                <p class="name"><strong>{{ lmItem.TaskName }}</strong></p>
                                <div class="col-md-3">
                                    <p>Tipe :{{lmItem.catName}}</p>
                                </div>
                                <div class="col-md-3">
                                    <p>Flat Rate: {{lmItem.FlatRate}}</p>
                                </div>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                <p>Pembayaran: {{lmItem.PaidBy}}</p>
                                <p>Harga: {{lmItem.Summary | currency:"Rp. ":0}}</p>
                            </div>
                        </bslist-template>
                        <bslist-detail-template>
                            <div class="col-md-3">
                                <p><strong>{{ ldItem.PartsCode }}</strong></p>
                                <p>{{ ldItem.PartsName }}</p>
                            </div>
                            <div class="col-md-3">
                                <p>{{ ldItem.Availbility }}</p>
                                <p>Pembayaran : {{ ldItem.paidName}}</p>
                            </div>
                            <div class="col-md-3">
                                <p>Jumlah : {{ldItem.Qty}} {{ldItem.Name}}</p>
                                <p>Harga : {{ ldItem.RetailPrice | currency:"Rp. ":0}}</p>
                            </div>
                            <div class="col-md-3">
                                <p>ETA : {{ ldItem.ETA | date:'dd-MM-yyyy'}}</p>
                                <p>Reserve : {{ ldItem.Qty }}</p>
                            </div>
                        </bslist-detail-template>
                        <bslist-modal-form>
                            <div class="row">
                                <div ng-include="'app/services/reception/wo/includeForm/modalFormMaster.html'">
                                </div>
                            </div>
                        </bslist-modal-form>
                        <bslist-modal-detail-form>
                            <div class="row">
                                <div ng-include="'app/services/reception/wo/includeForm/modalFormDetail.html'">
                                </div>
                            </div>
                        </bslist-modal-detail-form>
                    </bslist>
                </div>
                <div class="col-md-12">
                    <table id="example" class="table table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th>Nomor LT</th>
                                <th>Description</th>
                                <th>Claim Amount</th>
                                <th>Status</th>
                                <th>Warranty Number</th>
                                <th>Acceptable Amount</th>
                                <th>Error Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in dataWarranty">
                                <td>{{a.LTNo}}</td>
                                <!-- belum -->
                                <td>{{a.Description}}</td>
                                <!-- belum  -->
                                <td>{{a.ClaimAmount}}</td>
                                <td>{{a.Lama}}</td>
                                <!-- belum -->
                                <td>{{a.claimNo}}</td>
                                <td>{{a.ClaimGrandTotal}}</td>
                                <!-- belum -->
                                <td>{{a.ErrorCode}}</td>
                                <!-- belum -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" style="margin-bottom:20px;">
                    <div class="col-md-6 form-inline">
                        <div class="form-group">
                            <label>Lama Pekerjaan : </label>
                            <input type="text" class="form-control" placeholder="0" name="LamaPekerjaan" ng-model="mData.LamaPekerjaan" ng-disabled='true' skip-enable>
                        </div>
                    </div>
                    <div class="col-md-6 form-inline">
                        <div class="form-group">
                            <label>Total DP:</label>
                            <input type="text" name="dp" class="form-control" placeholder="Total DP" ng-model="mData.TotalDP" ng-disabled='true' skip-enable>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Part Bekas</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group radioCustomer">
                            <input type="radio" id="radio1" ng-model="isParts" name="radio1" value="1" checked ng-disabled="true" skip-enabled>
                            <label for="radio1">Kembalikan</label>
                            <input type="radio" id="radio2" ng-model="isParts" name="radio1" value="0" ng-disabled="true" skip-enabled>
                            <label for="radio2">Tinggal</label>
                        </div>
                        <!-- {{isParts}} -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Waiting / Drop Off</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group radioCustomer">
                            <input type="radio" id="wait1" ng-model="isWaiting" name="radio2" value="1" checked ng-disabled="true" skip-enabled>
                            <label for="wait1">Waiting</label>
                            <input type="radio" id="wait2" ng-model="isWaiting" name="radio2" value="0" ng-disabled="true" skip-enabled>
                            <label for="wait2">Drop Off</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Car Wash</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group radioCustomer">
                            <input type="radio" id="washing1" ng-model="isWashing" name="radio3" value="1" checked ng-disabled="true" skip-enabled>
                            <label for="washing1">Wash</label>
                            <input type="radio" id="washing2" ng-model="isWashing" name="radio3" value="0" ng-disabled="true" skip-enabled>
                            <label for="washing2">No Wash</label>
                        </div>
                        <!-- {{isWashing}} -->
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Scheduled Service Time</label>
                        </div>
                        <div class="col-md-9 form-inline">
                            <div class="form-group" style="width:200px;">
                                <bsdatepicker name="firstDate" date-options="DateOptionsWithHour" ng-model="mData.firstDate" ng-disabled="true" skip-enabled>
                                </bsdatepicker>

                            </div>
                            <div class="form-group text-center" style="width:20px;">
                                <b>-</b>
                            </div>
                            <div class="form-group">
                                <bsdatepicker name="lastDate" date-options="DateOptionsWithHour" ng-model="mData.lastDate" ng-disabled="true" skip-enabled>
                                </bsdatepicker>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Estimation Delivery Time</label>
                        </div>
                        <div class="col-md-9 form-inline">
                            <div class="form-group" style="width:200px;">
                                <bsdatepicker name="firstDate" date-options="DateOptionsWithHour" ng-model="mData.Estimate" ng-disabled="true" skip-enabled>
                                </bsdatepicker>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Adjusment Delivery Time</label>
                        </div>
                        <div class="col-md-9 form-inline">
                            <div class="form-group" style="width:200px;">
                                <bsdatepicker name="firstDate" date-options="DateOptionsWithHour" ng-model="mData.Adjusment" ng-disabled="true" skip-enabled>
                                </bsdatepicker>

                            </div>
                            <div class="form-group" style="width:200px;">
                                <bscheckbox ng-model="mData.customerRequest" label="Customer Request" ng-click="" true-value=2 false-value=0 ng-disabled="true" skip-enabled>
                                </bscheckbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="btn-group pull-right">
                        <button class="rbtn btn" ng-click="callingCustomer(mData)">Call Customer</button>
                    </div>
                </div>
            </fieldset>
        </div>
        <bsui-modal show="show_modal.show" title="Customer Notification" data="modal_model" on-save="saveCustomer" on-cancel="cancelCustomer" button-settings='buttonSettingModal2' mode="modalMode">
            <div ng-form name="customerForm">
                <fieldset style="padding:10px;border:2px solid #e2e2e2;">
                    <div class="col-md-12" style="text-align:center;">
                        <h2>Lakukan proses notifikasi sekarang?</h2>
                        <h3>Silahkan tekan nomor telepon dibawah untuk menelepon</h3>
                        <p>
                            <h3>{{modal_model.ContactPerson}}</h3>
                        </p>
                        <p>
                            <h3>{{modal_model.PhoneContactPerson1}}&nbsp;&nbsp;<a href="Tel:{{modal_model.PhoneContactPerson1}}"><i style="color:green" class="fa fa-lg fa-phone"></i></a></h3>
                        </p>
                        <p>
                            <h3>{{modal_model.PhoneContactPerson2}}&nbsp;&nbsp;<a href="Tel:{{modal_model.PhoneContactPerson2}}"><i style="color:green" class="fa fa-lg fa-phone"></i></a></h3>
                        </p>
                    </div>
                </fieldset>
            </div>
        </bsui-modal>
    </div>
    <div ng-show="isService">
        <div smart-include="app/services/reception/wo/serviceExplanation.html"></div>
    </div>
</div>