<script type="text/javascript">
</script>
<style type="text/css">
    th.active {
        background-color: #d53337;
        color: white;
    }

    .table_font thead tr th{
        font-size: 24px !important;
        vertical-align: middle;
    }

    .table_font tbody tr td{
        font-size: 24px !important; 
        vertical-align: middle;
    }

    .refreshIcon{
        color:#444;
    }
    .refreshIcon:hover{
        cursor: pointer;
        color:#d53337;
    }
</style>
<div ng-show="pageMode=='view'" class="row">
        <div class="col-md-12" style="display: flex;
        justify-content: flex-end;">
            <i  ng-click ="refreshData()" 
                style="width: 40px;height: 40px;font-size: 30px;margin-top: 20px;"
                tooltip-placement="bottom" 
                tooltip-trigger="mouseenter" 
                tooltip-animation="false" 
                uib-tooltip="Refresh" class="fa fa-refresh refreshIcon"></i>
        </div>
        <div class="col-md-12">
            <table style="width:100%">
                <tr>
                    <th class="active text-center header" style="font-size: 26px; height:51px;">EM On Time</th>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <!--         <div id="gridEMOnTime" ui-grid="{ data: mDataEMOnTime, columnDefs: columnDefs }" class="grid"></div> -->
            <!-- <div ui-grid="gridEMOnTime" ui-grid-move-columns ui-grid-resize-columns ui-grid-pagination ui-grid-cellNav ui-grid-pinning
                ui-grid-cellNav ui-grid-auto-resize ng-style="gridEMOnTimeStyle()" class="grid" ng-cloak></div> -->
            <table class="table table-striped table-bordered table-hover table-responsive grid table_font">
                <thead>
                    <tr>
                        <th class="col-xs-4 col-sm-4 col-md-4">Customer</th>
                        <th class="col-xs-2 col-sm-2 col-md-2 text-center">Janji</th>
                        <th class="col-xs-2 col-sm-2 col-md-2 text-center">Waktu Tunggu</th>
                        <th class="col-xs-4 col-sm-4 col-md-4 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="emontime in gridEMOnTime.data">
                        <td class="col-xs-4 col-sm-4 col-md-4">
                            {{emontime.LicensePlate}}
                        </td>
                        <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                            {{emontime.Job.AppointmentTime}}
                        </td>
                        <!-- <td class="col-xs-2 col-sm-2 col-md-2 text-center"  ng-class="{ 'grey':emontime.WaitingTime > '0:10' }"> -->
                        <td class="col-xs-2 col-sm-2 col-md-2 text-center"  ng-class="{ 'grey':((emontime.WaitingTimeHour == 0 && emontime.WaitingTimeMinute >= 10) || (emontime.WaitingTimeHour > 0)) }">
                            {{emontime.WaitingTime}}
                        </td>
                        <td class="col-xs-4 col-sm-4 col-md-4 text-center">
                            <div class="ui-grid-cell-contents">
                                <a href="#" ng-show="emontime.entity.TmpTime == \'0:0\' " ng-click="manualCall(emontime)" uib-tooltip="Call" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-phone" style="padding:3px 8px 8px 0px;margin-left:8px;" ng-class="{ 'grey':((emontime.WaitingTimeHour == 0 && emontime.WaitingTimeMinute >= 10) || (emontime.WaitingTimeHour > 0)) }"></i></a>
                                <a href="#" ng-click="editCall(emontime)" uib-tooltip="Edit" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-pencil" style="padding:3px 8px 8px 0px;margin-left:8px;"></i></a>
                                <a href="#" ng-click="cancelWo(emontime,1)" uib-tooltip="Cancel WO" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-remove" style="padding:3px 8px 8px 0px;margin-left:8px;"></i></a>
                            </div>
    
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <table style="width:100%">
                <tr>
                    <th class="active text-center header" style="font-size: 26px; height:51px;">EM</th>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <!-- <div id="gridEM" ui-grid="{ data: mDataEM, columnDefs: columnDefs }" class="grid"></div> -->
            <!-- <div ui-grid="gridEM" ui-grid-move-columns ui-grid-resize-columns ui-grid-pagination ui-grid-cellNav ui-grid-pinning ui-grid-cellNav
                ui-grid-auto-resize ng-style="gridEMStyle()" class="grid" ng-cloak></div> -->    
                <table class="table table-striped table-bordered table-hover table-responsive grid table_font">
                    <thead>
                        <tr>
                            <th class="col-xs-4 col-sm-4 col-md-4">Customer</th>
                            <th class="col-xs-2 col-sm-2 col-md-2 text-center">Janji</th>
                            <th class="col-xs-2 col-sm-2 col-md-2 text-center">Waktu Tunggu</th>
                            <th class="col-xs-4 col-sm-4 col-md-4 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="EM in gridEM.data">
                            <td class="col-xs-4 col-sm-4 col-md-4">
                                {{EM.LicensePlate}}
                            </td>
                            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                                {{EM.Job.AppointmentTime}}
                            </td>
                            <!-- <td class="col-xs-2 col-sm-2 col-md-2 text-center" ng-class="{ 'grey':EM.WaitingTime > '00:10' }"> -->
                            <td class="col-xs-2 col-sm-2 col-md-2 text-center" ng-class="{ 'grey':((EM.WaitingTimeHour == 0 && EM.WaitingTimeMinute >= 10) || (EM.WaitingTimeHour > 0)) }">
                                {{EM.WaitingTime}}
                            </td>
                            <td class="col-xs-4 col-sm-4 col-md-4 text-center">
                                <div class="ui-grid-cell-contents">
                                    <a href="#" ng-show="EM.entity.TmpTime == \'0:0\' " ng-click="manualCall(EM)" uib-tooltip="Call" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-phone" style="padding:3px 8px 8px 0px;margin-left:8px;" ng-class="{ 'grey':((EM.WaitingTimeHour == 0 && EM.WaitingTimeMinute >= 10) || (EM.WaitingTimeHour > 0)) }"></i></a>
                                    <a href="#" ng-click="editCall(EM)" uib-tooltip="Edit" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-pencil" style="padding:3px 8px 8px 0px;margin-left:8px;"></i></a>
                                    <a href="#" ng-click="cancelWo(EM,1)" uib-tooltip="Cancel WO" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-remove" style="padding:3px 8px 8px 0px;margin-left:8px;"></i></a>
                                </div>
        
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="col-md-12">
            <table style="width:100%">
                <tr>
                    <th class="active text-center header" style="font-size: 26px; height:51px;">Booking On Time</th>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <!-- <div id="gridBookingOnTime" ui-grid="{ data: mDataBookingOnTime, columnDefs: columnDefs }" class="grid"></div> -->
            <!-- <div ui-grid="gridBookingOnTime" ui-grid-move-columns ui-grid-resize-columns ui-grid-pagination ui-grid-cellNav ui-grid-pinning
                ui-grid-cellNav ui-grid-auto-resize ng-style="gridBookingOnTimeStyle()" class="grid" ng-cloak></div> -->
    
                <table class="table table-striped table-bordered table-hover table-responsive grid table_font">
                    <thead>
                        <tr>
                            <th class="col-xs-4 col-sm-4 col-md-4">Customer</th>
                            <th class="col-xs-2 col-sm-2 col-md-2 text-center">Janji</th>
                            <th class="col-xs-2 col-sm-2 col-md-2 text-center">Waktu Tunggu</th>
                            <th class="col-xs-4 col-sm-4 col-md-4 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="BookingOnTime in gridBookingOnTime.data">
                            <td class="col-xs-4 col-sm-4 col-md-4">
                                {{BookingOnTime.LicensePlate}} <i class="fa fa-frown-o" ng-show="BookingOnTime.iconFrown == true" style="margin-left:10px;"></i>
                            </td>
                            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                                {{BookingOnTime.Job.AppointmentTime}}
                            </td>
                            <!-- <td class="col-xs-2 col-sm-2 col-md-2 text-center" ng-class="{ 'grey':BookingOnTime.WaitingTime > '00:10' }"> -->
                            <td class="col-xs-2 col-sm-2 col-md-2 text-center" ng-class="{ 'grey':((BookingOnTime.WaitingTimeHour == 0 && BookingOnTime.WaitingTimeMinute >= 10) || (BookingOnTime.WaitingTimeHour > 0)) }">
                                {{BookingOnTime.WaitingTime}}
                            </td>
                            <td class="col-xs-4 col-sm-4 col-md-4 text-center">
                                <div class="ui-grid-cell-contents">
                                    <a href="#" ng-show="BookingOnTime.entity.TmpTime == \'0:0\' " ng-click="manualCall(BookingOnTime)" uib-tooltip="Call" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-phone" style="padding:3px 8px 8px 0px;margin-left:8px;" ng-class="{ 'grey':((BookingOnTime.WaitingTimeHour == 0 && BookingOnTime.WaitingTimeMinute >= 10) || (BookingOnTime.WaitingTimeHour > 0)) }"></i></a>
                                    <a href="#" ng-click="editCall(BookingOnTime)" uib-tooltip="Edit" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-pencil" style="padding:3px 8px 8px 0px;margin-left:8px;"></i></a>
                                    <a href="#" ng-click="cancelWo(BookingOnTime,1)" uib-tooltip="Cancel WO" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-remove" style="padding:3px 8px 8px 0px;margin-left:8px;"></i></a>
                                </div>
        
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="col-md-12">
            <table style="width:100%">
                <tr>
                    <th class="active text-center header" style="font-size: 26px; height:51px;">Booking</th>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <!-- 
            <div id="gridBooking" ui-grid="{ data: mDataBooking, columnDefs: columnDefs }" class="grid"></div> -->
            <!-- <div ui-grid="gridBooking" ui-grid-move-columns ui-grid-resize-columns ui-grid-pagination ui-grid-cellNav ui-grid-pinning
                ui-grid-cellNav ui-grid-auto-resize ng-style="gridBookingStyle()" class="grid" ng-cloak></div> -->
                <table class="table table-striped table-bordered table-hover table-responsive grid table_font">
                    <thead>
                        <tr>
                            <th class="col-xs-4 col-sm-4 col-md-4">Customer</th>
                            <th class="col-xs-2 col-sm-2 col-md-2 text-center">Janji</th>
                            <th class="col-xs-2 col-sm-2 col-md-2 text-center">Waktu Tunggu</th>
                            <th class="col-xs-4 col-sm-4 col-md-4 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Booking in gridBooking.data">
                            <td class="col-xs-4 col-sm-4 col-md-4">
                                {{Booking.LicensePlate}} <i class="fa fa-frown-o" ng-show="Booking.iconFrown == true" style="margin-left:10px;"></i>
                            </td>
                            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                                {{Booking.Job.AppointmentTime}}
                            </td>
                            <!-- <td class="col-xs-2 col-sm-2 col-md-2 text-center" ng-class="{ 'grey':Booking.WaitingTime > '00:10' }"> -->
                            <td class="col-xs-2 col-sm-2 col-md-2 text-center" ng-class="{ 'grey':((Booking.WaitingTimeHour == 0 && Booking.WaitingTimeMinute >= 10) || (Booking.WaitingTimeHour > 0)) }">
                                {{Booking.WaitingTime}}
                            </td>
                            <td class="col-xs-4 col-sm-4 col-md-4 text-center">
                                <div class="ui-grid-cell-contents">
                                    <a href="#" ng-show="Booking.entity.TmpTime == \'0:0\' " ng-click="manualCall(Booking)" uib-tooltip="Call" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-phone" style="padding:3px 8px 8px 0px;margin-left:8px;" ng-class="{ 'grey':((Booking.WaitingTimeHour == 0 && Booking.WaitingTimeMinute >= 10) || (Booking.WaitingTimeHour > 0)) }"></i></a>
                                    <a href="#" ng-click="editCall(Booking)" uib-tooltip="Edit" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-pencil" style="padding:3px 8px 8px 0px;margin-left:8px;"></i></a>
                                    <a href="#" ng-click="cancelWo(Booking,1)" uib-tooltip="Cancel WO" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-remove" style="padding:3px 8px 8px 0px;margin-left:8px;"></i></a>
                                </div>
        
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="col-md-12">
            <table style="width:100%">
                <tr>
                    <th class="active text-center header" style="font-size: 26px; height:51px;">Walk In</th>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <!-- <div id="gridWalkIn" ui-grid="{ data: mDataWalkIn, columnDefs: columnDefs }" class="grid"></div> -->
            <!-- <div ui-grid="gridWalkIn" ui-grid-move-columns ui-grid-resize-columns ui-grid-pagination ui-grid-cellNav ui-grid-pinning
                ui-grid-cellNav ui-grid-auto-resize ng-style="gridWalkInStyle()" class="grid" ng-cloak></div> -->
                <table class="table table-striped table-bordered table-hover table-responsive grid table_font">
                    <thead>
                        <tr>
                            <th class="col-xs-6 col-sm-6 col-md-6">Customer</th>                            
                            <th class="col-xs-2 col-sm-2 col-md-2 text-center">Waktu Tunggu</th>
                            <th class="col-xs-4 col-sm-4 col-md-4 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="WalkIn in gridWalkIn.data">
                            <td class="col-xs-6 col-sm-6 col-md-6">
                                {{WalkIn.LicensePlate}}
                            </td>                            
                            <!-- <td class="col-xs-2 col-sm-2 col-md-2 text-center" ng-class="{ 'grey':WalkIn.WaitingTime > '00:10' }"> -->
                            <td class="col-xs-2 col-sm-2 col-md-2 text-center" ng-class="{ 'grey':((WalkIn.WaitingTimeHour == 0 && WalkIn.WaitingTimeMinute >= 10) || (WalkIn.WaitingTimeHour > 0)) }">
                                {{WalkIn.WaitingTime}}
                            </td>
                            <td class="col-xs-4 col-sm-4 col-md-4 text-center">
                                <div class="ui-grid-cell-contents">
                                    <a href="#" ng-show="WalkIn.entity.TmpTime == \'0:0\' " ng-click="manualCall(WalkIn)" uib-tooltip="Call" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-phone" style="padding:3px 8px 8px 0px;margin-left:8px;" ng-class="{ 'grey':((WalkIn.WaitingTimeHour == 0 && WalkIn.WaitingTimeMinute >= 10) || (WalkIn.WaitingTimeHour > 0)) }"></i></a>
                                    <a href="#" ng-click="editCall(WalkIn)" uib-tooltip="Edit" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-pencil" style="padding:3px 8px 8px 0px;margin-left:8px;"></i></a>
                                    <a href="#" ng-click="cancelWo(WalkIn,2)" uib-tooltip="Cancel WO" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-remove" style="padding:3px 8px 8px 0px;margin-left:8px;"></i></a>
                                </div>
        
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="col-md-12">
            <table style="width:100%">
                <tr>
                    <th class="active text-center header" style="font-size: 26px; height:51px;">Other</th>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <!-- <div id="gridOthers" ui-grid="{ data: mDataOthers, columnDefs: columnDefs }" class="grid"></div> -->
            <!-- <div ui-grid="gridOthers" ui-grid-move-columns ui-grid-resize-columns ui-grid-pagination ui-grid-cellNav ui-grid-pinning
                ui-grid-cellNav ui-grid-auto-resize ng-style="gridOthersStyle()" class="grid" ng-cloak></div> -->
                <table class="table table-striped table-bordered table-hover table-responsive grid table_font">
                    <thead>
                        <tr>
                            <th class="col-xs-6 col-sm-6 col-md-6">Customer</th>                            
                            <th class="col-xs-2 col-sm-2 col-md-2 text-center">Waktu Tunggu</th>
                            <th class="col-xs-4 col-sm-4 col-md-4 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Others in gridOthers.data">
                            <td class="col-xs-6 col-sm-6 col-md-6">
                                {{Others.LicensePlate}}<i class="fa fa-frown-o" ng-show="Others.isIcon == 1" style="margin-left:10px;  color: red;"></i><i class="fa fa-star" ng-show="Others.isIcon == 2" style="margin-left:10px; color: gold;"></i>
                            </td>                            
                            <!-- <td class="col-xs-2 col-sm-2 col-md-2 text-center" ng-class="{ 'grey':Others.WaitingTime > '00:10' }"> -->
                            <td class="col-xs-2 col-sm-2 col-md-2 text-center" ng-class="{ 'grey':((Others.WaitingTimeHour == 0 && Others.WaitingTimeMinute >= 10) || (Others.WaitingTimeHour > 0)) }">
                                {{Others.WaitingTime}}
                            </td>
                            <td class="col-xs-4 col-sm-4 col-md-4 text-center">
                                <div class="ui-grid-cell-contents">
                                    <a href="#" ng-show="Others.entity.TmpTime == \'0:0\' " ng-click="manualCall(Others)" uib-tooltip="Call" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-phone" style="padding:3px 8px 8px 0px;margin-left:8px;" ng-class="{ 'grey':((Others.WaitingTimeHour == 0 && Others.WaitingTimeMinute >= 10) || (Others.WaitingTimeHour > 0)) }"></i></a>
                                    <a href="#" ng-click="editCall(Others)" uib-tooltip="Edit" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-pencil" style="padding:3px 8px 8px 0px;margin-left:8px;"></i></a>
                                    <a href="#" ng-click="cancelWo(Others,2)" uib-tooltip="Cancel WO" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-remove" style="padding:3px 8px 8px 0px;margin-left:8px;"></i></a>
                                </div>        
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>



        <!-- manual balikin data queue ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ start -->
        <div class="col-md-12">
            <table style="width:100%">
                <tr>
                    <th class="active text-center header" style="font-size: 26px; height:51px;">OnCall Process</th>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover table-responsive grid table_font">
                <thead>
                    <tr>
                        <th class="col-xs-6 col-sm-6 col-md-6">Customer</th>                            
                        <th class="col-xs-6 col-sm-6 col-md-6 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="CalledQ in gridCalledQ.data">
                        <td class="col-xs-6 col-sm-6 col-md-6">
                            {{CalledQ.LicensePlate}}
                        </td>                            
                        
                        <td class="col-xs-6 col-sm-6 col-md-6 text-center">
                            <div class="ui-grid-cell-contents">
                                <a href="#" ng-click="balikanKeQueue(CalledQ)" uib-tooltip="Kembali ke antrian" tooltip-placement="bottom"><i class="fa fa-fw fa-lg fa-arrow-left" style="padding:3px 8px 8px 0px;margin-left:8px;"></i></a>
                            </div>        
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- manual balikin data queue ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end -->


        <div class="col-md-12">
            <button ng-click="callCustomer()" type="button" class="btn btn-block btn-success"><span style="font-size:26px;font-weight: bold;">Next Call</span></button>
        </div>
        <!-- <div class="col-md-12">
            <button ng-click="stop()">stop</button>
        </div> -->
    </div>

<bsui-modal show="show_modal.show" title="Edit" data="modal_model" on-save="editSave" on-cancel="editCancel" button-settings="buttonSettingMdl"
    mode="modalMode">
    <div class="col-md-12">
        <label>No Polisi</label>
    </div>
    <div class="col-md-6">
        <input type="text" name="LicensePlate" ng-model="mData.LicensePlate" class="form-control" style="text-transform:uppercase;" ng-keypress="allowPatternFilter($event,3)"
        />
    </div>
</bsui-modal>

<div ng-show="pageMode=='call'" class="row">
    <!-- <div style="position:fixed;left:25%"> -->
    <div class="page" ng-controller="AppCtrl">
        <div ng-swipe-up="swipeup($event)" ng-swipe-down="swipedown($event)" ng-swipe-left="swipeleft($event)" ng-swipe-right="swiperight($event)">
            <div style="text-align: center; font-size: 48pt; font-weight: bold;" class="col-md-12">
                <!--No. Polisi :-->{{dataAuto.LicensePlate}}
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="col-md-4 text-left"></div>
                    <div class="col-md-4 text-center">Panggil Ulang</div>
                    <div class="col-md-4 text-right"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="col-md-4 text-left"></div>
                    <!-- up -->
                    <div class="col-md-4 text-center">
                        <img src="images/swipeImage/swipe.gif" height="30px" style="transform:rotate(180deg);">
                    </div>
                    <div class="col-md-4 text-right"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                    <!-- left -->
                    <div class="col-xs-4 col-sm-4 col-md-4 text-left">Berikutnya &nbsp;
                        <img src="images/swipeImage/swipe.gif" height="30px" style="transform:rotate(90deg);">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                        <h1>{{callTimer}}</h1>
                    </div>
                    <!-- right -->
                    <div class="col-xs-4 col-sm-4 col-md-4 text-right">
                        <img src="images/swipeImage/swipe.gif" height="30px" style="transform:rotate(270deg);"> &nbsp; Start
                        Reception
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center">&nbsp;</div>
                    <!-- down -->
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                        <img src="images/swipeImage/swipe.gif" height="30px">
                    </div>
                    <!-- <div class="col-md-4 text-center"><button ng-click="callCancel()" type="button" class="btn btn-block btn-default">Kembali</button></div> -->
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center"></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center">Kembali</div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center"></div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <!-- </div> -->
    <div class="col-md-12">
        <form class="form-horizontal well" style="margin-top:20px;">
            <div class="form-group">
                <label class="col-sm-2 control-label">General Info</label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Pemilik</label>
                <div class="col-sm-4">
                    <input ng-model="mDataCustomer.owner" type="text" disabled class="form-control">
                </div>
                <label class="col-sm-2 control-label">On Time/Late</label>
                <div class="col-sm-4">
                    <input ng-model="mDataCustomer.late" type="text" disabled class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Pengguna</label>
                <div class="col-sm-4">
                    <input ng-model="mDataCustomer.user" type="text" disabled class="form-control">
                </div>
                <label class="col-sm-2 control-label">Waiting Time</label>
                <div class="col-sm-4">
                    <input ng-model="mDataCustomer.waitTime" type="text" disabled class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Alamat</label>
                <div class="col-sm-4">
                    <input ng-model="mDataCustomer.address" type="text" disabled class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Model</label>
                <div class="col-sm-4">
                    <input ng-model="mDataCustomer.model" type="text" disabled class="form-control">
                </div>
            </div>
            <div class="form-group" style="text-align: right;">
                <!-- <button class="rbtn btn" ng-click="gateOut(mData,mDataCustomer)" ng-disabled="!isGateOut">Gate Out</button> -->
                <button class="rbtn btn" ng-click="gateOut(mData,mDataCustomer)">Gate Out</button>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <div class="form-group">
                            <label>Job Suggest</label>
                            <textarea class="form-control" ng-model="mDataCustomer.Suggestion" ng-disabled="true"></textarea>
                        </div>
                    </div>
                    <!-- <textarea ng-model="mDataCustomer.Suggestion" ng-disabled="true" style="height: 100px;width: 400px;"></textarea> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Field Action & Free Claim">
                <div class="col-md-12" style="margin-top: 20px;">
                    <table class="table" style="border: 1px solid rgb(182, 182, 182); width: 100%;">
                        <tr>
                          <th colspan="12"><h4> <span style="color:#d53337; font-weight: bold;">Field Action / SSC</span></h4></th>
                        </tr>
                        <tr>
                          <td colspan="12">
                            <table class="table table-striped table-bordered">
                              <tr style="background-color:#d53337; color: white;">
                                  <th style="text-align: center; width: 5px;">No</th>
                                  <th style="text-align: center;">Openo </th>
                                  <th style="text-align: center;">Description</th>
                                  <th style="text-align: center;">Claim Type</th>
                                  <th style="text-align: center;">Tgl. WO <br> (Repair Open)</th>
                                  <th style="text-align: center;">Tgl. Claim <br> (Created Date)</th>
                                  <th style="text-align: center;">Nama Cabang</th>
                                  <th style="text-align: center;">Claim Status TOWASS</th>
                              </tr>
                              <tr ng-repeat="item in GetDataTowass">
                                <td style="text-align: center;" width="5%">{{$index + 1}}</td>
                                <td style="text-align: center;">{{item.OpeNo}}</td>
                                <td style="text-align: center;">{{item.Description}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></Td>
                                <td></Td>
                              </tr>
                          </table>
                        </td>
                      </tr>
                  </table>
                </div>

                <div class="col-md-12" style="margin-top: 20px;">
                  <table class="table" style="border: 1px solid rgb(182, 182, 182); width: 100%;">
                    <tr>
                      <th colspan="12">
                        <h4> <span style="color:#d53337; font-weight: bold;">Free Claim</span></h4>
                      </th>
                    </tr>
                    <tr>
                      <td colspan="12">
                        <div class="row">
                          <div class="col col-md-3">
                            <div class="form-group">
                              <label>Nama Program</label>
                              <input type="text" class="form-control" ng-model="tempVIN.ProgramName" readonly> </input>
                            </div>
                          </div>
                          <div class="col col-md-3">
                            <div class="form-group">
                              <label>Extended Warranty</label>
                              <input type="text" class="form-control" ng-model="listClaim.extendedWarranty == true ? 'Aktif' : 'Non Aktif'" readonly> </input>
                            </div>
                          </div>
                          <div class="col col-md-3">
                            <div class="form-group">
                              <label>Punctual</label>
                              <input type="text" class="form-control" ng-model="listClaim.punctualFlag == true ? 'Yes' : 'No'" readonly></input>
                            </div>
                          </div>
                          <div class="col col-md-3">
                            <div class="form-group">
                              <label>DEC Date</label>
                              <input type="text" class="form-control" ng-model="tempVIN.DEC_Date" readonly></input>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table class="table table-striped table-bordered">
                          <tr style="background-color:#d53337; color: white;">
                              <th style="text-align: center; width: 5px;"> No </th>
                              <th style="text-align: center;"> Service </th>
                              <th style="text-align: center;">Openo</th>
                              <th style="text-align: center;">Description</th>
                              <th style="text-align: center;">Claim Type</th>
                              <th style="text-align: center;">Tgl. WO <br> (Repair Open) </th>
                              <th style="text-align: center;">Tgl. Claim <br> (Created Date)</th>
                              <th style="text-align: center;">KM <br> (Odometer)</th>
                              <th style="text-align: center;">Nama Cabang</th>
                              <th style="text-align: center;">Claim Status TOWASS</th>
                          </tr>
                          <tr ng-repeat="item in tempListClaim">
                              <td style="text-align: center;" width="5%">{{item.seqNo}}</td>
                              <td style="text-align: center;">{{item.serviceNo}}</td>
                              <td style="text-align: center;">{{item.openo}}</td>
                              <td style="text-align: center;">{{item.openoDesc}}</td>
                              <td style="text-align: center;">{{item.claimType}}</td>
                              <td style="text-align: center;">{{item.repairDate | date:'dd/MM/yyyy'}}</td>
                              <td style="text-align: center;">{{item.claimDate | date:'dd/MM/yyyy'}}</td>
                              <td style="text-align: right;">{{item.km | number}}</td>
                              <td style="text-align: center;">{{item.companyName}}</td>
                              <td style="text-align: center;">{{item.statusDesc}}</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <i><span style="color:#d53337;">Note: </span> <span style="color: black;">Informasi yang ditampilkan merupakan status ter-update dari TOWASS</span></i>
                      </td>
                    </tr>
                  </table>
                </div>
              </uib-tab>
            <uib-tab index="1" heading="PSFU">
                <div class="col-md-12" style="margin-top: 20px;">
                    <table id="QA" class="table table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Pertanyaan</th>
                                <th>Jawaban Customer</th>
                                <!-- <th>Alasan Customer</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <!-- track by $index -->
                            <tr ng-repeat="item in Question track by $index">
                                <td width="5%">{{$index + 1}}</td>
                                <td width="40%">{{item.Description}}</td>
                                <td width="25%">
                                    <select convert-to-number ng-model="item.jawaban" class="form-control" name="yesOrNo" ng-disabled="true" skip-enable>
                                        <option ng-disabled="true" skip-enable ng-repeat="itemAnswer in item.Answer track by $index" value="{{itemAnswer.AnswerId}}">{{itemAnswer.Description}}</option>
                                    </select>
                                    <!--<div ng-repeat="itemAnswer in item.Answer track by $index">
                                            <bsselect data="item.Answer" on-select="selectedAnswer(selected)" item-value="itemAnswer.AnswerId" item-text="Description" ng-model="mFService.arrQuestion.AnswerId[$index]" placeholder="Vehicle Model">
                                            </bsselect>
                                        </div>-->
                                </td>
                                <!-- <td width="30%">
                                <input style="width : 100%;" type="text" class="form-control" name="Reason" placeholder="Reason" ng-model="item.Reason" ng-hide="item.ReasonStatus" ng-disabled="true" skip-enableng-maxlength="30">
                            </td> -->
                            </tr>
                        </tbody>
                    </table>
                    <!-- <table class="table table-bordered">
                        <tr style="background-color: grey;">
                        <Td>
                        <font color="white">Pernyataan</font>
                        </Td>
                        <Td>
                        <font color="white">Jawaban Customer</font>
                        </Td>
                         <Td>
                        <font color="white">Alasan Customer</font>
                        </Td>
                        </tr>
                     <tr>
                    <Td></Td>
                    <Td></Td>
                    <Td></Td>
                    </tr>
                    </table> -->
                </div>
            </uib-tab>
            <!--           <uib-tab index="1" heading="TPSS">
                    </uib-tab>
                     <uib-tab index="2" heading="Follow Up">
                     </uib-tab>
                     <uib-tab index="3" heading="PKS">
                        </uib-tab> -->
            <!-- <uib-tab index="2" heading="CS Survey">
            </uib-tab> -->
            <uib-tab index="3" heading="MRS">
                <div class="col-md-12" style="margin-top: 20px;">
                    <table class="table table-bordered">
                        <tr style="background-color: grey;">
                            <Td>
                                <font color="white">Tanggal Reminder</font>
                            </Td>
                            <Td>
                                <font color="white">Tipe Pekerjaan</font>
                            </Td>
                            <Td>
                                <font color="white">Status</font>
                            </Td>
                        </tr>
                        <tr ng-repeat="a in GetDataMRS">
                            <Td>{{a.ReminderDate | date : "dd/MM/y"}}</Td>
                            <Td>{{a.Name}}</Td>
                            <Td>{{a.StatusName}}</Td>
                        </tr>
                    </table>
                </div>
            </uib-tab>


            <!--           <uib-tab index="5" heading="MRS">
          </uib-tab> -->
        </uib-tabset>
        <!-- Nav tabs -->
        <!--         <ul class="nav nav-tabs" role="tablist" style="margin-top:0px;">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Field Action</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">TPSS</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Follow Up</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">PKS</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">CS Survey</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">MRS</a></li>
        </ul> -->

        <!-- Tab panes -->
        <!-- <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">wew</div>
            <div role="tabpanel" class="tab-pane" id="profile">...</div>
            <div role="tabpanel" class="tab-pane" id="messages">...</div>
            <div role="tabpanel" class="tab-pane" id="settings">...</div>
        </div> -->
    </div>
</div>
<div ng-show="pageMode=='form'" class="row">
    <div class="col-md-12">gg</div>
</div>