<div class="row">
  <div class="col-md-12">
    <p>List estimasi untuk kendaraan {{mDataCostumer.policeNumber}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <tr>
        <th>Nomor Estimasi</th>
        <th>Tanggal Pembuatan</th>
        <th>Nama SA</th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="item in mDataCostumer.estimates">
        <td>{{item.number}}</td>
        <td>{{item.createDate}}</td>
        <td>{{item.sa}}</td>
        <td>
          <button class="btn btn-default" type="button">Pilih</button></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-right">
    <button ng-click="ngDialog.closeAll();" class="btn btn-default" type="button">Batal</button>
    <button ng-click="createWO();" class="btn btn-default" type="button">Estimasi Baru</button>
  </div>
</div>
