<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="no-add">
	<bsform-grid ng-form="ChartOfAccountForm" factory-name="ChartOfAccountFactory" model="mCOA" model-id="GLAccountId" get-data="getData"
	 do-custom-save="doCustomSave" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="ChartOfAccountForm"
	 form-api="formApi" form-title="ChartOfAccount" modal-title="ChartOfAccount" modal-size="small" icon="fa fa-fw fa-child"
	 custom-div-1="bsformAboveGrid" grid-custom-action-button-template="gridActionTemplate" grid-custom-action-button-colwidth="130"
	      grid-hide-action-column="true" action-button-caption="actButtonCaption">
		<bsform-above-grid>
			<p style="color:red;margin-top:15px"> Daftar GL Account </p>
			<hr style="border-color:red; margin-top:-10px">
			<p></p>
		</bsform-above-grid>

		<div class="row" ng-form name="coaNew">
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':coaNew.NomorGLAccount.$error.required && coaNew.NomorGLAccount.$touched}">
						<bsreqlabel>Nomor GL Account</bsreqlabel>
						<div class="input-icon-right">
							<i class="fa fa-pencil"></i>
							<input type="text" class="form-control" name="NomorGLAccount" placeholder="Nomor GL Account" ng-model="mCOA.GLAccountCode"
							 ng-maxlength="20" maxlength="20" required>
						</div>
						<span ng-show="coaNew.NomorGLAccount.$error.required && coaNew.NomorGLAccount.$touched" class="help-block">Field ini wajib diisi</span>
						<bserrmsg field="GLAccountCode"></bserrmsg>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':coaNew.NamaGLAccount.$error.required && coaNew.NamaGLAccount.$touched}">
						<bsreqlabel>Nama GL Account</bsreqlabel>
						<div class="input-icon-right">
							<i class="fa fa-pencil"></i>
							<input type="text" class="form-control" name="NamaGLAccount" placeholder="Nama GL Account" ng-model="mCOA.GLAccountName"
							 ng-maxlength="50" maxlength="50" required>
						</div>
						<span ng-show="coaNew.NamaGLAccount.$error.required && coaNew.NamaGLAccount.$touched" class="help-block">Field ini wajib diisi</span>
						<bserrmsg field="GLAccountName"></bserrmsg>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':coaNew.Deskripsi.$error.required && coaNew.Deskripsi.$touched}">
						<bsreqlabel>Keterangan</bsreqlabel>
						<textarea type="text" class="form-control" name="Deskripsi" placeholder="Keterangan" ng-model="mCOA.GLDesc" ng-maxlength="1000"
						 maxlength="1000" style="margin-bottom: 10px" required>
						</textarea>
						<span ng-show="coaNew.Deskripsi.$error.required && coaNew.Deskripsi.$touched" class="help-block">Field ini wajib diisi</span>
						<bserrmsg field="GLDesc"></bserrmsg>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group" show-errors>
						<form>
							<!--<p><input type="radio" ng-model="mCOA.GLPurposeId" ng-value="3801" ng-checked="mCOA.isGLCashBank">Tipe GL Cash & Bank</p>
							<p><input type="radio" ng-model="mCOA.GLPurposeId" ng-value="3802" ng-checked="mCOA.isGLClearing">Tipe GL Clearing</p>
							<p><input type="radio" ng-model="mCOA.GLPurposeId" ng-value="3803" ng-checked="mCOA.isGLGeneralTrx">Tipe GL General Transaction</p>
							<p><input type="radio" ng-model="mCOA.GLPurposeId" ng-value="3804" ng-checked="mCOA.isGLTax">Tipe GL Pajak</p>-->
							<!--<p><input type="checkbox" ng-model="mCOA.isGLCashBank">Tipe GL Cash & Bank</p>
							<p><input type="checkbox" ng-model="mCOA.isGLClearing">Tipe GL Clearing</p>
							<p><input type="checkbox" ng-model="mCOA.isGeneralTrx">Tipe GL General Transaction</p>
							<p><input type="checkbox" ng-model="mCOA.isGLTax" >Tipe GL Pajak</p>-->
						</form>
					</div>
				</div>
			</div>
	</bsform-grid>
	</div>