<script type="text/javascript">

</script>

<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	.ui-grid-viewport {
		overflow-anchor: none;
	}

	.watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript" src="js/print_min.js"></script>

<div ng-if="ShowReconciliationMain">
	<div class="row">
		<button onclick="" ng-click="ToLihatReconciliation()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Lihat
			</span>
			<span class="ladda-spinner"></span>
		</button>
		<button onclick="" ng-click="ToTambahReconciliation()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Tambah
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
</div>

<div ng-if="ShowLihatReconciliation">

	<div class="row" ng-if="ShowLihatHeader" ng-form name="FormValidation_MainReconciliation">
		<div class="pull-right" style="margin-top:-30px">
			<!--20170517, nuse, begin-->
			<!-- <button ng-click="BackToMainReconciliation()"  type="button" class=" btn ng-binding ladda-button" style="float: right;"> -->
			<!-- <span class="ladda-label"> -->
			<!-- Batal dari lihat -->
			<!-- </span><span class="ladda-spinner"></span> -->
			<!-- </button> -->
			<button onclick="" ng-click="ToTambahReconciliation()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					<i class="fa fa-fw fa-plus" > </i> Tambah
				</span>
				<span class="ladda-spinner"></span>
			</button>
			<!--20170517, nuse, end-->
		</div>

		<div style="margin-top:10px">
			<div class="col-md-3" ng-class="{'has-error':(FormValidation_MainReconciliation.TanggalReconciliationFrom.$error.required && FormValidation_MainReconciliation.TanggalReconciliationFrom.$touched) || TanggalReconciliationFromOK == false}">
				<bsreqlabel>Tanggal Reconciliation</bsreqlabel>
				<div class="input-icon-right; ">
					<bsdatepicker name="TanggalReconciliationFrom" date-options="dateOptions" format="dd/MM/yyyy" ng-model="parent.LihatReconciliation_TanggalReconciliationFrom"
					 ng-change="TanggalReconciliationFromChanged()" required>
					</bsdatepicker>
					<span ng-if="FormValidation_MainReconciliation.TanggalReconciliationFrom.$error.required && FormValidation_MainReconciliation.TanggalReconciliationFrom.$touched"
					 class="help-block">Field ini wajib diisi</span>
					<span ng-if="!TanggalReconciliationFromOK" class="help-block">{{errTanggalReconciliationFrom}}</span>
				</div>
			</div>
			<!-- <div class="col-md-1" align="center" style="margin-top:30px">
				s.d.
			</div> -->
			<div class="col-md-3" >
				<div class="input-icon-right; " ng-class="{'has-error':(FormValidation_MainReconciliation.TanggalReconciliationTo.$error.required && FormValidation_MainReconciliation.TanggalReconciliationTo.$touched) || TanggalReconciliationToOK == false}">
					<label>s.d.</label>
					<bsdatepicker name="TanggalReconciliationTo" date-options="dateOptions" format="dd/MM/yyyy" ng-model="parent.LihatReconciliation_TanggalReconciliationTo"
					 ng-change="TanggalReconciliationToChanged()" required>
					</bsdatepicker>
					<span ng-if="FormValidation_MainReconciliation.TanggalReconciliationTo.$error.required && FormValidation_MainReconciliation.TanggalReconciliationTo.$touched"
					 class="help-block">Field ini wajib diisi</span>
					<span ng-if="!TanggalReconciliationToOK" class="help-block">{{errTanggalReconciliationTo}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<div style="margin-bottom:4px">
						<label>Nama Branch</label>
					</div>
					<bsselect ng-change="LihatReconciliation_InformasiBranch_Selected_Changed()" ng-model="parent.LihatReconciliation_NamaBranch_SearchDropdown"
					 data="optionsLihatReconciliation_NamaBranch_Search" item-text="BranchName" item-value="BranchId" on-select="value(selected)"
					 placeholder="Select Branch" icon="fa fa-search" ng-disabled="!LihatReconciliation_NamaBranch_EnableDisable">
					</bsselect>
				</div>
			</div>


			<div class="col-md-1">
				<br/>
				<button onclick="" ng-click="LihatReconciliation_Cari()" type="button" ng-disabled="LihatReconciliation_TanggalReconciliationFrom>LihatReconciliation_TanggalReconciliationTo" class="rbtn btn ng-binding ladda-button" style="float: left;margin-top:10px">
					<span class="ladda-label">
						<!--<i class="fa fa-fw fa-refresh"></i>-->Cari
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
			<div class="col-md-12 has-error">
				<div class="has-error" style="margin-left:-13px;">
					<span ng-if="LihatReconciliation_TanggalReconciliationFrom>LihatReconciliation_TanggalReconciliationTo" class="help-block" style="margin-top:-12px">Tanggal awal harus lebih kecil atau sama dengan tanggal akhir!</span>
				</div>
			</div>
		</div>
	</div>

	<div class="fi-outermost" ng-form name="FormValidation_Reconciliation">
		<div ng-if="ShowReconciliationMainTable">
			<div class="row">
				<div >
					<p class="fi-title-line" style="margin-top:-20px; margin-left: 13px">
						Daftar Reconciliation
					</p>
				</div>
			</div>

			<div class="row">
				<div style="margin-top:-20px;">
					<div class="col-md-2">
						<bsselect ng-model="parent.LihatReconciliation_DaftarBulkAction_Search" ng-change="LihatReconciliation_DaftarBulkAction_Changed()"
						 data="optionsLihatReconciliation_DaftarBulkAction_Search" item-text="name" item-value="value" on-select="value(selected)"
						 placeholder="Pilih" icon="fa fa-search">
						</bsselect>
					</div>
					<div class="col-md-2">
						<div class="input-icon-right">
							<input type="text" class="form-control" name="FieldFilter" placeholder="Teks Filter..." ng-model="parent.LihatReconciliation_DaftarReconciliation_Text"
							 ng-maxlength="50 " maxlength="50">
						</div>
					</div>

					<div class="col-md-2">
						<bsselect ng-model="parent.LihatReconciliation_DaftarReconciliationSearch" data="options_DaftarReconciliationSearch" item-text="name"
						 item-value="value" on-select="value(selected)" placeholder="Pilih Kriteria" icon="fa fa-search">
						</bsselect>
					</div>
					<div class="col-md-3">
						<button id="" onclick="" ng-click="LihatReconciliation_Filter_Clicked()" type="button" class="btn ng-binding ladda-button"
						 ng-model="parent.LihatReconciliation_DaftarReconciliationFilterBtn">
							<span class="ladda-label">
								Filter
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="margin-top:-15px; margin-left: -15px;">
					<div id="LihatReconParent_Grid" ui-grid="LihatReconParent_UIGrid" class="fi-ui-grid" ui-grid-auto-resize ui-grid-resize-columns
					 ui-grid-pagination ui-grid-selection style="height: 400px; width: 99.6%"></div>
					<div class="watermark" ng-if="!LihatReconParent_UIGrid.data.length">No data available</div>
				</div>
			</div>
		</div>

		<div ng-if="ShowReconciliationMainDetail">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">

						<bslabel>Tanggal Reconciliation</bslabel>
						<div class="input-icon-right form-group ">
							<bsdatepicker name="TanggalReconciliation" date-options="dateOptions" format="dd/MM/yyyy" ng-model="parent.LihatReconciliation_TanggalReconciliation"
							 ng-disabled="!LihatReconciliation_TanggalReconciliation_EnableDisable">
							</bsdatepicker>
						</div>

						<div class="form-group" style="margin-top:5px">
							<bslabel>Nomor Rekening Bank</bslabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="NomorRekeningBank " placeholder="Nomor Rekening Bank" ng-model="parent.LihatReconciliation_NomorRekeningBank"
								 ng-disabled="!LihatReconciliation_NomorRekeningBank_EnableDisable" ng-maxlength="50 " required>
							</div>
						</div>

						<div class="form-group">
							<bslabel>Saldo Awal</bslabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="SaldoAwal " placeholder="Saldo Awal" ng-model="parent.LihatReconciliation_SaldoAwal"
								 ng-disabled="!LihatReconciliation_SaldoAwal_EnableDisable" ng-maxlength="50 " required style="text-align:right" currency-formating
								 number-only>
							</div>

						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<bslabel>Nomor Reconciliation</bslabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="NomorReconciliation " placeholder="Nomor Reconciliation" ng-model="parent.LihatReconciliation_NomorReconciliation"
								 ng-disabled="!LihatReconciliation_NomorReconciliation_EnableDisable" ng-maxlength="50 " required>
							</div>
						</div>

						<bslabel>Tanggal Bank Statement</bslabel>
						<div class="input-icon-right form-group ">
							<bsdatepicker name="TanggalBankStatement" date-options="dateOptions" format="dd/MM/yyyy" ng-model="parent.LihatReconciliation_TanggalBankStatement"
							 ng-disabled="!LihatReconciliation_TanggalBankStatement_EnableDisable">
							</bsdatepicker>
						</div>
						<div class="form-group">
							<bslabel>Saldo Akhir</bslabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="SaldoAkhir " placeholder="Saldo Akhir" ng-model="parent.LihatReconciliation_SaldoAkhir"
								 ng-disabled="!LihatReconciliation_SaldoAkhir_EnableDisable" ng-maxlength="50 " required style="text-align:right"
								 currency-formating number-only>
							</div>

						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<bslabel>Nomor Reversal</bslabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="ReconReverseNo " placeholder="Nomor Reconciliation Reversal" ng-model="parent.LihatReconciliation_ReconReverseNo"
								 ng-disabled="!LihatReconciliation_ReconReverseNo_EnableDisabled" ng-maxlength="50 " required>
							</div>

						</div>
						<div class="form-group">
							<bslabel>Nama Branch</bslabel>
							<div class="input-icon-right ">	
								<input type="text" class="form-control " name="NamaBranch " placeholder="Nama Branch" ng-model="parent.LihatReconciliation"
								 ng-disabled="!LihatReconciliation_EnableDisable" ng-maxlength="50 " required>
							</div>
						</div>

						<div class="form-group">
							<bslabel>Saldo Akhir Sebelumnya</bslabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="SaldoAkhirSebelumnya " placeholder="Saldo Akhir Sebelumnya" ng-model="parent.LihatReconciliation_SaldoAkhirSebelumnya"
								 ng-disabled="!LihatReconciliation_SaldoAkhirSebelumnya_EnableDisabled" ng-maxlength="50 " required style="text-align:right"
								 currency-formating number-only>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p class="fi-title-line">
						Daftar Transaksi
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div id="LihatReconDetail_Grid" ui-grid="LihatReconDetail_UIGrid" class="fi-ui-grid" ui-grid-auto-resize ui-grid-resize-columns
					 ui-grid-pagination ui-grid-selection></div>
					<div class="watermark" ng-if="!LihatReconDetail_UIGrid.data.length">No data available</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group">
							<bsreqlabel>Total TRF Debet</bsreqlabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="TotalTRFDebet" placeholder="" ng-model="parent.LihatReconciliation_TotalTRFDebet"
								 ng-disabled="!LihatReconciliation_TotalTRFDebet_EnableDisabled" ng-maxlength="50 " style="text-align:right" currency-formating
								 number-only>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<bsreqlabel>Total TRF Kredit</bsreqlabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="TotalTRFKredit" placeholder="" ng-model="parent.LihatReconciliation_TotalTRFKredit"
								 ng-disabled="!LihatReconciliation_TotalTRFKredit_EnableDisabled" ng-maxlength="50 " style="text-align:right" currency-formating
								 number-only>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p class="fi-title-line">
						Daftar Transaksi MIT Reversal
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div id="LihatReconMITReversal_Grid" ui-grid="LihatReconMITReversal_UIGrid" class="fi-ui-grid" ui-grid-auto-resize ui-grid-resize-columns
					 ui-grid-pagination></div>
					<div class="watermark" ng-if="!LihatReconMITReversal_UIGrid.data.length">No data available</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p class="fi-title-line">
						Daftar Transaksi MIT
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div id="LihatReconMIT_Grid" ui-grid="LihatReconMIT_UIGrid" class="fi-ui-grid" ui-grid-auto-resize ui-grid-resize-columns
					 ui-grid-selection ui-grid-pagination></div>
					<div class="watermark" ng-if="!LihatReconMIT_UIGrid.data.length">No data available</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p class="fi-title-line">
						Daftar Mapping Transaksi MIT
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div id="LihatReconMITDetail_Grid" ui-grid="LihatReconMITDetail_UIGrid" class="fi-ui-grid" ui-grid-auto-resize
					 ui-grid-resize-columns ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination></div>
					<div class="watermark" ng-if="!LihatReconMITDetail_UIGrid.data.length">No data available</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group">
							<bsreqlabel>Total MIT Debet</bsreqlabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="TotalTRF" placeholder="" ng-model="parent.LihatReconciliation_TotalMITDebet"
								ng-disabled="!LihatReconciliation_TotalTRF_EnableDisabled" ng-maxlength="50 " style="text-align:right" currency-formating
								number-only>
							</div>
						</div>
						<div class="form-group">
							<bsreqlabel>Selisih TRF-MIT Debet</bsreqlabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="TotalTRF" placeholder="" ng-model="parent.LihatReconciliation_SelisihMITDebet"
								ng-disabled="!LihatReconciliation_TotalTRF_EnableDisabled" ng-maxlength="50 " style="text-align:right" currency-formating
								number-only>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<bsreqlabel>Total MIT Kredit</bsreqlabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="Selisih" placeholder="" ng-model="parent.LihatReconciliation_TotalMITKredit"
								ng-disabled="!LihatReconciliation_Selisih_EnableDisabled" ng-maxlength="50 " style="text-align:right" currency-formating
								number-only>
							</div>
						</div>
						<div class="form-group">
							<bsreqlabel>Selisih TRF-MIT Kredit</bsreqlabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="TotalTRF" placeholder="" ng-model="parent.LihatReconciliation_SelisihMITKredit"
								ng-disabled="!LihatReconciliation_TotalTRF_EnableDisabled" ng-maxlength="50 " style="text-align:right" currency-formating
								number-only>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<button ng-click="LihatReconciliation_PengajuanReversal_Click()" ng-model="parent.LihatReconciliation_PengajuanReversal" ng-disabled="parent.LihatReconciliation_PengajuanReversalDisabled"
					type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
						<span class="ladda-label">
							<!--<i class="fa fa-fw fa-refresh"></i>-->Pengajuan Reversal
						</span>
						<span class="ladda-spinner"></span>
					</button>

					<button ng-click="LihatReconciliation_Cetak_Click()" ng-model="parent.LihatReconciliation_Cetak" type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
						<span class="ladda-label">
							<!--<i class="fa fa-fw fa-refresh"></i>-->Cetak PDF
						</span>
						<span class="ladda-spinner"></span>
					</button>

					<button ng-click="LihatReconciliation_Batal_Click()" type="button" class="btn ng-binding ladda-button fi-right-button">
						<span class="ladda-label">
							<!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>
	</div>

</div>

<div ng-if="ShowTambahReconciliation" ng-form name="FormValidation_ReconciliationBank">

	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6" ng-class="{'has-error':(FormValidation_ReconciliationBank.TanggalInstruksiPembayaran.$error.required && FormValidation_ReconciliationBank.TanggalInstruksiPembayaran.$touched) || TanggalInstruksiBankOK == false}">

				<bsreqlabel>Tanggal Instruksi Bank</bsreqlabel>
				<div class="input-icon-right; ">
					<bsdatepicker name="TanggalInstruksiPembayaran" date-options="dateOptions" format="dd/MM/yyyy" ng-model="parent.TambahReconciliation_TanggalInstruksiPembayaran"
					 ng-change="TanggalInstruksiBankChanged()" required>
					</bsdatepicker>
					<span ng-if="FormValidation_ReconciliationBank.TanggalInstruksiPembayaran.$error.required && FormValidation_ReconciliationBank.TanggalInstruksiPembayaran.$touched"
					 class="help-block">Field ini wajib diisi</span>
					<span ng-if="!TanggalInstruksiBankOK" class="help-block">{{errTanggalInstruksiBank}}</span>
				</div>
			</div>
			<!--div class="col-md-5">
			</div-->
			<div class="col-md-1">
				<label>&nbsp</label>
				<div class="input-icon-right;">
					<button onclick="" ng-click="TambahReconciliation_Cari()" type="button" class="rbtn btn ng-binding ladda-button">
						<span class="ladda-label">
							<!--<i class="fa fa-fw fa-refresh"></i>-->Cari
						</span>
						<span class="ladda-spinner"></span>
					</button>
					<button onclick="" ng-click="TambahReconciliation_Test()" type="button" class="rbtn btn ng-binding ladda-button" style="display: none;">
						<span class="ladda-label">
							<!--<i class="fa fa-fw fa-refresh"></i>-->Test
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="fi-outermost" ng-form name="FormValidation_Reconciliation">
		<!-- Daftar Instruksi Bank -->
		<div class="row">
			<div class="col-md-12">
				<p class="fi-title-line">
					Daftar Instruksi Bank
				</p>
			</div>
		</div>

		<!-- Daftar Instruksi Bank | Filter -->
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="input-icon-right">
						<input type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="parent.TambahReconciliation_DaftarReconciliation_Text"
						 ng-maxlength="50 " maxlength="50">
					</div>
				</div>

				<div class="col-md-4">
					<bsselect ng-model="parent.TambahReconciliation_DaftarReconciliationSearch" data="options_TambahReconciliationSearch" item-text="name"
					 item-value="value" on-select="value(selected)" placeholder="Select Search Criteria" icon="fa fa-search">
					</bsselect>
				</div>
				<div class="col-md-4">
					<button id="" onclick="" ng-click="TambahReconciliation_DaftarReconciliation_Filter_Clicked()" type="button" class="btn ng-binding ladda-button"
					 ng-model="parent.TambahReconciliation_DaftarReconciliationFilterBtn">
						<span class="ladda-label">
							Filter
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>

		<!-- Daftar Instruksi Bank | Grid -->
		<div class="row">
			<div class="col-md-12" style="margin-top:5px">
				<div id="TambahReconParent_Grid" ui-grid="TambahReconParent_UIGrid" class="fi-ui-grid" ui-grid-auto-resize ui-grid-resize-columns
				 ui-grid-pagination ui-grid-selection></div>
				<div class="watermark" ng-if="!TambahReconParent_UIGrid.data.length">No data available</div>
			</div>
		</div>

		<!-- Daftar Instruksi Bank | Detail form -->
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group">
						<bslabel>Nomor Rekening Bank</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="NomorRekeningBank " placeholder="Nomor Rekening Bank" ng-model="parent.TambahReconciliation_NomorRekeningBank"
							 ng-disabled="!TambahReconciliation_NomorRekeningBank_EnableDisable" ng-maxlength="50 " required>
						</div>

					</div>

					<div class="form-group">
						<bslabel>Saldo Awal</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="SaldoAwal " placeholder="Saldo Awal" ng-model="parent.TambahReconciliation_SaldoAwal"
							 ng-disabled="!TambahReconciliation_SaldoAwal_EnableDisable" ng-maxlength="50 " required style="text-align:right" currency-formating
							 number-only>
						</div>

					</div>
				</div>
				<div class="col-md-4">
					<bslabel>Tanggal Bank Statement</bslabel>
					<div class="input-icon-right form-group ">
						<bsdatepicker name="TanggalBankStatement" date-options="dateOptions" ng-model="parent.TambahReconciliation_TanggalBankStatement"
						 ng-disabled="!TambahReconciliation_TanggalBankStatement_EnableDisable">
						</bsdatepicker>
					</div>
					<div class="form-group">
						<bslabel>Saldo Akhir</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="SaldoAkhir " placeholder="Saldo Akhir" ng-model="parent.TambahReconciliation_SaldoAkhir"
							 ng-disabled="!TambahReconciliation_SaldoAkhir_EnableDisable" ng-maxlength="50 " required style="text-align:right"
							 currency-formating number-only>
						</div>

					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<bslabel>Saldo Akhir Sebelumnya</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="SaldoAkhirSebelumnya " placeholder="Saldo Akhir Sebelumnya" ng-model="parent.TambahReconciliation_SaldoAkhirSebelumnya"
							 ng-disabled="!TambahReconciliation_SaldoAkhirSebelumnya_EnableDisabled" ng-maxlength="50 " required style="text-align:right"
							 currency-formating number-only>
						</div>
 
					</div>
				</div>
			</div>
		</div>

		<!-- Daftar Transaksi Bank -->
		<div class="row">
			<div class="col-md-12">
				<p class="fi-title-line">
					Daftar Transaksi Bank
				</p>
			</div>
		</div>

		<!-- Daftar Transaksi Bank | Grid -->
		<div class="row">
			<div class="col-md-12">
				<div id="TambahReconDetail_Grid" ui-grid="TambahReconDetail_UIGrid" class="fi-ui-grid" ui-grid-auto-resize ui-grid-resize-columns
				 ui-grid-pagination></div>
				<div class="watermark" ng-if="!TambahReconDetail_UIGrid.data.length">No data available</div>
			</div>
		</div>

		<!-- Daftar Transaksi Bank | Detail form -->
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group">
						<bsreqlabel>Total TRF Debet</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TotalTRF" placeholder="" ng-model="parent.TambahReconciliation_TotalTRFDebet"
							 ng-disabled="!TambahReconciliation_TotalTRF_EnableDisabled" ng-maxlength="50 " style="text-align:right" currency-formating
							 number-only>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<bsreqlabel>Total TRF Kredit</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TotalTRFMIT" placeholder="" ng-model="parent.TambahReconciliation_TotalTRFKredit"
							 ng-disabled="!TambahReconciliation_TotalTRFMIT_EnableDisabled" ng-maxlength="50 " style="text-align:right" currency-formating
							 number-only>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Daftar Transaksi MIT Reversal -->
		<div class="row">
			<div class="col-md-12">
				<p class="fi-title-line">
					Daftar Transaksi MIT Reversal
				</p>
			</div>
		</div>

		<!-- Daftar Transaksi MIT Reversal | Grid -->
		<div class="row">
			<div class="col-md-12">
				<div id="TambahReconMITReversal_Grid" ui-grid="TambahReconMITReversal_UIGrid" class="fi-ui-grid" ui-grid-auto-resize ui-grid-pagination
				 ui-grid-resize-columns></div>
				<div class="watermark" ng-if="!TambahReconMITReversal_UIGrid.data.length">No data available</div>
			</div>
		</div>

		<!-- Daftar Transaksi MIT -->
		<div class="row">
			<div class="col-md-12">
				<p class="fi-title-line">
					Daftar Transaksi MIT
				</p>
			</div>
		</div>

		<!-- Daftar Transaksi MIT | Grid -->
		<div class="row">
			<div class="col-md-12">
				<div id="TambahReconMIT_Grid" ui-grid="TambahReconMIT_UIGrid" class="fi-ui-grid" ui-grid-auto-resize ui-grid-selection ui-grid-pagination
				 ui-grid-resize-columns></div>
				<div class="watermark" ng-if="!TambahReconMIT_UIGrid.data.length">No data available</div>
			</div>
		</div>

		<!-- Daftar Mapping Transaksi MIT -->
		<div class="row">
			<div class="col-md-12">
				<p class="fi-title-line">
					Daftar Mapping Transaksi MIT
				</p>
			</div>
		</div>

		<!-- Daftar Mapping Transaksi MIT | Form tambah -->
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3" style="margin-top: 10px" ng-class="{'has-error':(FormValidation_Reconciliation.TipeMapping.$error.required && FormValidation_Reconciliation.TipeMapping.$touched)}">
					<div class="form-group">
						<bsreqlabel>Tipe Mapping</bsreqlabel>
						<bsselect ng-change="TambahReconciliation_TipeMapping_Selected_Changed()" ng-model="parent.TambahReconciliation_TipeMapping_SearchDropdown"
						 data="optionsTambahReconciliation_TipeMapping_Search" item-text="name" name="TipeMapping" item-value="value" on-select="value(selected)"
						 placeholder="Select Tipe" icon="fa fa-search" required>
						</bsselect>
						<span ng-if="FormValidation_Reconciliation.TipeMapping.$error.required && FormValidation_Reconciliation.TipeMapping.$touched"
						 class="help-block">Field ini wajib diisi</span>
					</div>
				</div>
				<div class="col-md-3" style="margin-top: 10px" ng-class="{'has-error':(FormValidation_Reconciliation.NoTRF.$error.required && FormValidation_Reconciliation.NoTRF.$touched)}">
					<div class="form-group">
						<bsreqlabel>No TRF/MIT Rev</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="NoTRF" placeholder="" ng-model="parent.TambahReconciliation_NoTRF" ng-maxlength="50 "
							 maxlength="20" required>
							<span ng-if="FormValidation_Reconciliation.NoTRF.$error.required && FormValidation_Reconciliation.NoTRF.$touched" class="help-block">Field ini wajib diisi</span>
						</div>
					</div>
				</div>
				<div class="col-md-3" style="margin-top: 10px" ng-class="{'has-error':(FormValidation_Reconciliation.NominalTRF.$error.required && FormValidation_Reconciliation.NominalTRF.$touched)}">
					<div class="form-group">
						<bsreqlabel>Nominal Mapping</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " step="0.01" name="NominalTRF" placeholder="" ng-model="parent.TambahReconciliation_NominalTRF"
							 ng-maxlength="50 " style="text-align:right" ng-blur="TambahReconciliation_NominalTRF_Blur()" ng-keyup="givePattern(TambahReconciliation_NominalTRF,$event)" required>
							<span ng-if="FormValidation_Reconciliation.NominalTRF.$error.required && FormValidation_Reconciliation.NominalTRF.$touched"
							 class="help-block">Field ini wajib diisi</span>
						</div>
					</div>
				</div>
				<div class="col-md-1" style="margin-top: 10px">
					<button onclick="" ng-click="TambahReconciliation_Tambah()" type="button" class="rbtn btn ng-binding ladda-button" style="float: left;margin-top:20px">
						<span class="ladda-label">
							<!--<i class="fa fa-fw fa-refresh"></i>-->Tambah
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>

		<!-- Daftar Mapping Transaksi MIT | Grid -->
		<div class="row">
			<div class="col-md-12">
				<div id="TambahReconMITDetail_Grid" ui-grid="TambahReconMITDetail_UIGrid" class="fi-ui-grid" ui-grid-auto-resize ui-grid-selection
				 ui-grid-edit ui-grid-cellNav ui-grid-resize-columns></div>
				<div class="watermark" ng-if="!TambahReconMITDetail_UIGrid.data.length">No data available</div>
			</div>
		</div>

		<!-- Daftar Mapping Transaksi MIT | Detail form -->
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4" style="margin-top: 10px">
					<div class="form-group">
						<bsreqlabel>Total MIT Debet</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TotalTRF" placeholder="" ng-model="parent.TambahReconciliation_TotalMITDebet"
							 ng-disabled="!TambahReconciliation_TotalTRF_EnableDisabled" ng-maxlength="50 " style="text-align:right" currency-formating
							 number-only>
						</div>
					</div>
					<div class="form-group">
						<bsreqlabel>Selisih TRF-MIT Debet</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TotalTRF" placeholder="" ng-model="parent.TambahReconciliation_SelisihMITDebet"
							 ng-disabled="!TambahReconciliation_TotalTRF_EnableDisabled" ng-maxlength="50 " style="text-align:right" currency-formating
							 number-only>
						</div>
					</div>
				</div>
				<div class="col-md-4" style="margin-top: 10px">
					<div class="form-group">
						<bsreqlabel>Total MIT Kredit</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="Selisih" placeholder="" ng-model="parent.TambahReconciliation_TotalMITKredit"
							 ng-disabled="!TambahReconciliation_Selisih_EnableDisabled" ng-maxlength="50 " style="text-align:right" currency-formating
							 number-only>
						</div>
					</div>
					<div class="form-group">
						<bsreqlabel>Selisih TRF-MIT Kredit</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TotalTRF" placeholder="" ng-model="parent.TambahReconciliation_SelisihMITKredit"
							 ng-disabled="!TambahReconciliation_TotalTRF_EnableDisabled" ng-maxlength="50 " style="text-align:right" currency-formating
							 number-only>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Kembali | Simpan -->
	<div class="row">
		<div class="col-md-12">
			<button ng-click="TambahReconciliation_SimpanCetak_Click()" ng-disabled="!TambahReconciliation_SimpanCetak_EnableDisable"
			 ng-model="parent.TambahReconciliation_SimpanCetak" type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					<!--<i class="fa fa-fw fa-refresh"></i>-->Simpan & Cetak PDF
				</span>
				<span class="ladda-spinner"></span>
			</button>

			<button ng-click="TambahReconciliation_Simpan_Click()" ng-disabled="!TambahReconciliation_Simpan_EnableDisable" ng-model="parent.TambahReconciliation_Simpan"
			 type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					<!--<i class="fa fa-fw fa-refresh"></i>-->Simpan
				</span>
				<span class="ladda-spinner"></span>
			</button>

			<button ng-click="BackToMainReconciliation()" type="button" class="btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					<!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
				</span>
				<span class="ladda-spinner"></span>
			</button>

			<button ng-click="ReconTest()" type="button" class="btn ng-binding ladda-button fi-right-button" style="display:none;">
				<span class="ladda-label">
					<!--<i class="fa fa-fw fa-refresh"></i>-->Test
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
</div>


<div class="ui modal" id="ModalTolakReconciliation" role="dialog" style="width:400px;height:200px;margin-top:5px;margin-left:-200px">
	<div class="modalDefault-dialog" style="width:96%;margin-top:5px">
		<ul class="list-group">
			<bsreqlabel>Input Alasan Penolakan</bsreqlabel>
			<textarea type="text" class="form-control" name="AlasanPenolakan" placeholder="Alasan Penolakan" ng-model="parent.ModalTolakReconciliation_AlasanPenolakan"
			 ng-maxlength="50" style="margin-bottom: 10px" required></textarea>

			<p align="center">
				<button class="col-sm-6" ng-click="Batal_LihatReconciliation_TolakModal()" type="button" class="rbtn btn ng-binding ladda-button">
					Kembali
				</button>
				<button class="col-sm-6" ng-click="Pengajuan_LihatReconciliation_TolakModal()" type="button" class="rbtn btn ng-binding ladda-button">
					Tolak
				</button>
			</p>
		</ul>
	</div>
</div>


<div class="ui modal" id="ModalLihatReconciliation_PengajuanReversal" role="dialog" style="width:400px;height:200px;margin-top:5px;margin-left:-200px">
	<!-- Modal content-->
	<div class="modalDefault-dialog" style="width:100%;margin-top:5px">
		<ul class="list-group">
			<bsreqlabel>Input Alasan Reversal</bsreqlabel>
			<textarea type="text" class="form-control" name="AlasanReversal" placeholder="Alasan Reversal" ng-model="parent.LihatReconciliation_PengajuanReversal_AlasanReversal"
			 ng-maxlength="50" maxlength="1000" style="margin-bottom: 10px" required></textarea>

			<p align="center">
				<button class="col-sm-6" onclick="" ng-click="Batal_LihatReconciliation_PengajuanReversalModal()" type="button" class="rbtn btn ng-binding ladda-button">
					Kembali
				</button>
				<button class="col-sm-6" onclick="" ng-click="Pengajuan_LihatReconciliation_PengajuanReversalModal()" type="button" class="rbtn btn ng-binding ladda-button">
					Pengajuan
				</button>
			</p>
		</ul>
	</div>
</div>