<script type="text/javascript">

</script>
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}
</style>
<bsform-grid
      		ng-form="UserForm"
          factory-name="User"
          model="mUser"
          model-id="Id"
          loading="loading"
          selected-rows="selectedRows"

          on-before-new-mode="onBeforeNewMode"
          on-before-edit-mode="onBeforeEditMode"
          on-before-delete-mode="onBeforeDeleteMode"

          form-title="User"
          modal-size="small"
          icon="fa fa-fw fa-users"
        >

        <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>User ID</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-id-card-o"></i>
                        <input type="text" class="form-control" name="username" placeholder="User ID" ng-model="mUser.UserName"
                               ng-minlength="4" ng-maxlength="15" required disallow-space
                        >
                    </div>
                    <bserrmsg field="username"></bserrmsg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>Name</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-id-badge"></i>
                        <input type="text" class="form-control" name="name" placeholder="Name" ng-model="mUser.FullName" required
                               ng-minlength="4" ng-maxlength="50"
                        >
                    </div>
                    <bserrmsg field="name"></bserrmsg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>E-mail</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-at"></i>
                        <input type="email" class="form-control" name="email" placeholder="Email Address"  required
                               ng-model="mUser.Email"
                               ng-minlength="4">
                    </div>
                    <bserrmsg field="email"></bserrmsg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>Password
                    </bsreqlabel>
                    <!-- <span><a href="" ng-click="doGeneratePass()" tabindex="-1">&nbsp;&nbsp;&nbsp;Generate</a></span> -->
                    <div class="input-icon-right">
                        <i class="fa fa-lock"></i>
                        <input type="text" class="form-control" id="txtPassword" name="password" placeholder="Password" required
                               ng-model="mUser.Password"
                               ng-minlength="7" ng-maxlength="30">
                    </div>
                    <bserrmsg field="password"></bserrmsg>
                </div>
            </div>
        </div>
        <!-- ng-required="formmode.mode !== 'del'" -->
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Phone</label>
                    <div class="input-icon-right">
                        <i class="fa fa-phone"></i>
                        <input type="text" class="form-control" name="phone1" placeholder="Phone 1"
                               ng-model="mUser.Phone1" ng-pattern="/^[+]*[0-9]+(\-[0-9]+)*$/">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Phone</label>
                    <div class="input-icon-right">
                        <i class="fa fa-mobile"></i>
                        <input type="text" class="form-control" name="phone2" placeholder="Phone 2"
                               ng-model="mUser.Phone2" ng-pattern="/^[+]*[0-9]+(\-[0-9]+)*$/">
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-6">

                    <label>User Profile</label>
                    <div>
                        <img class="user-avatar" ngf-src="mUser.profile" src="images/default_profile-icon.png">
                        <input type="file" ng-model="mUser.profile" style="display:inline;"
                           ngf-select="" ngf-max-size="'200KB'" ngf-accept="'image/*'" ngf-capture="'camera'"
                        >
                    </div>

                    
 
 		</div>




</bsform-grid>