<div class="panel panel-default">
            <div class="panel-heading">Summary Report</div>  
            <fieldset disabled="disabled">
                <div class="panel-body">
                    <div class="row" style="margin-right:-216px;">
                    <div class="col-md-5">
                        <div class="form-group form-inline" style="margin-right: -56px;">
                            <label>Total Data</label>
                            <div class="pull-right">
                              <input  type="text" class="form-control" ng-model="totalData" name="totaldata" style="width: 32%;" disabled>
                         
                              <input  type="text" class="form-control" ng-model="totalData" name="totaldata" style="width: 32%; visibility: hidden;" disabled>
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: -76px;">
                            <label>OTD First Promise</label>
                            <div class="pull-right">
                              <input  type="text" class="form-control" ng-model="OTDFirst1" name="OTDFirst1" style="width: 30%;" disabled>
                              /
                              <input  type="text" class="form-control" ng-model="OTDFirst2" name="OTDFirst2" style="width: 30%;" disabled>%
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: -76px;">
                            <label>OTD dengan Revisi</label>
                            <div class="pull-right">
                              <input  type="text" class="form-control" ng-model="OTDRemisi1" name="OTDRemisi1" style="width: 30%;" disabled>
                              /
                              <input  type="text" class="form-control" ng-model="OTDRemisi2" name="OTDRemisi2" style="width: 30%;" disabled>%
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: -20px;">
                            <label>OTD Rate</label>
                            <div class="pull-right">
                              <input  type="text" class="form-control" ng-model="OTDRate" name="OTDRate" style="width: 60%;" disabled>%
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-inline" style="margin-right: 99px;">
                            <label>Data Valid</label>
                            <div class="pull-right">
                              <input  type="text" class="form-control" ng-model="dataValid" name="dataValid" style="width: 57%;" disabled>%
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: 110px;">
                            <label>L/T Proses AVG</label>
                            <div class="pull-right">
                              <input  type="text" class="form-control" ng-model="LTProses" name="LTProses" style="width: 60%;" disabled>
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: 110px;">
                            <label>L/T Stagnasi AVG</label>
                            <div class="pull-right">
                              <input  type="text" class="form-control" ng-model="LTStagnasi" name="LTStagnasi" style="width: 60%;" disabled>
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: 110px;">
                            <label>L/T Total AVG</label>
                            <div class="pull-right">
                              <input  type="text" class="form-control" ng-model="LTTotal" name="LTTotal" style="width: 60%;" disabled>
                            </div>
                        </div>
                    </div>
                    
                  </div>
                  </div>
            </fieldset>  
            
            </div>
        <fieldset disabled="disabled">
            <div class="panel panel-default">
                <div class="panel-heading">Lead Time</div> 
                <div class="panel-body"> 
                  <div class="row">
                    <div class="col-md-6">

                      <div class="row">
                        <div class="col-md-2">
                          &nbsp;
                        </div>
                        <div class="col-md-3">
                          Proses
                        </div>
                        <div class="col-md-1" style="width: 5px; padding:  0; margin:  0;">
                          &nbsp;
                        </div>
                        <div class="col-md-3">
                          Stagnasi
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          EM
                        </div>
                        <div class="col-md-3">
                            <input  type="text" class="form-control" ng-model="em1" name="em1"  disabled>
                        </div>
                        <div class="col-md-1" style="width: 5px; padding:  0; margin:  0;">/</div>
                        <div class="col-md-3">
                            <input  type="text" class="form-control" ng-model="em2" name="em2"  disabled>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          SB
                        </div>
                        <div class="col-md-3">
                            <input  type="text" class="form-control" ng-model="sb1" name="sb1" disabled>
                        </div>
                        <div class="col-md-1" style="width: 5px; padding:  0; margin:  0;">/</div>
                        <div class="col-md-3">
                            <input  type="text" class="form-control" ng-model="sb2" name="sb2" disabled>
                        </div>
                      </div>

                    </div>

                    <div class="col-md-6">

                      <div class="row">
                        <div class="col-md-2">
                          &nbsp;
                        </div>
                        <div class="col-md-3">
                          Proses
                        </div>
                        <div class="col-md-1" style="width: 5px; padding:  0; margin:  0;">
                          &nbsp;
                        </div>
                        <div class="col-md-3">
                          Stagnasi
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          GR
                        </div>
                        <div class="col-md-3">
                            <input  type="text" class="form-control" ng-model="gr1" name="gr1"  disabled>
                        </div>
                        <div class="col-md-1" style="width: 5px; padding:  0; margin:  0;">/</div>
                        <div class="col-md-3">
                            <input  type="text" class="form-control" ng-model="gr2" name="gr2"  disabled>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          Pre Diagnose
                        </div>
                        <div class="col-md-3">
                            <input  type="text" class="form-control" ng-model="pre1" name="pre1" disabled>
                        </div>
                        <div class="col-md-1" style="width: 5px; padding:  0; margin:  0;">/</div>
                        <div class="col-md-3">
                            <input  type="text" class="form-control" ng-model="pre2" name="pre2" disabled>
                        </div>
                      </div>

                    </div>

                  </div>

                  <br><br>

              </div>
          </div> 
        </fieldset>
           
             
        <div class="form-group pull-right">
          
          <button ng-if="role=='Branch'" type="button" ng-click="getReportJOBCabang()" class="rbtn btn"> Export Detail per Job</button>
          <button ng-if="role=='Branch'" type="button" ng-click="getReportWOCabang()" class="rbtn btn"> Export Detail per WO</button>
          <button ng-if="role=='HO'" type="button" ng-click="getReportHO()" class="rbtn btn"> Export Detail</button>
        </div>