<script type="text/javascript">
</script>
<style type="text/css">
    .inp {
        margin: 20px;
    }
</style>


<bsform-base ng-form="StockForm" loading="loading" show-advsearch="off" form-name="StockForm" form-title="Stock" icon="fa fa-fw fa-child">

    <bsform-base-main>
        <div class="panel panel-default">
            <div class="panel-heading">Filter</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 inp">
                        <div class="form-group" show-errors>
                            <label>Dealer</label>
                            <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" required>
                            </bsselect>
                            <bserrmsg field="dealer"> harus diisi</bserrmsg>
                        </div>
                    </div>

                    <div class="col-md-3 inp">
                        <div class="form-group" show-errors>
                            <label>Cabang</label>
                            <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                            </bsselect>
                            <bserrmsg field="cabang"> harus diisi </bserrmsg>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-3 inp">
                        <div class="form-group" show-errors>
                            <bsreqlabel>Bulan/Tahun </bsreqlabel>
                            <div class="input-icon-right">
                                <i class="fa fa-user"></i>
                                <bsdatepicker name="periode" max-date="periode" ng-model="filter.periode" date-options="dateOptions" date-format="MM-YYYY" ng-disabled="valueChange" required></bsdatepicker>
                                <bserrmsg field="periode"> harus diisi </bserrmsg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button class="rbtn btn" ng-click="tampilkan()"> Tampilkan Data</button>
                    <button class="rbtn btn" ng-click="getReport()"> Export </button>
                </div>
                <!-- <pre> {{filter}}</pre> -->
            </div>
        </div>

    </bsform-base-main>


    <bsform-base-main>
        <div class="row">
            <div class="col-md-8">
                <label><h6><b><u> 
      Harap masukkan data dibawah ini untuk melengkapi KPI Laporan Bulanan Bengkel
      </u></b></h6></label>
            </div>
            <div class="col-md-3 pull-right" style="visibility:hidden">
                <input type="text" class="form-control" name="totalrevenue" style="width: 80%;">
            </div>
        </div>
        <!-- ============================== -->
        <div class="row">
            <div class="col-md-8">
                <label>1. DATA PENGGUNAAN LISTIRK</label>
            </div>
            <div class="col-md-3 pull-right" style="visibility:hidden">
                <input type="text" class="form-control __web-inspector-hide-shortcut__ " name="totalrevenue" style="width: 80%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-6">
                <label style="padding: 10px 0 0 0;">Listrik (Kwh)</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">114</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.listrikkwh">
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <label>2. ABSORPTION RATE</label>
            </div>
            <div class="col-md-2" >
                <input type="text" class="form-control" name="ABSORPTIONRATE" ng-model="filter.absorption_rate" style="width: 100%;" disabled>
            </div>
             <div class="col-md-1 ">
                <label style="font-size: 18px; padding-top:5px ">  % </label>                
             </div>
            
        </div>
        <div class="row">
            <div class="col-md-8 subOne">
                <label><b>Service Revenue</b></label>
            </div>
            <div class="col-md-3 pull-right">
                <input type="text" class="form-control" name="ServiceRevenue" ng-model="filter.ServiceRevenue" style="width: 80%;" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 subOne">
                <label><b>Service Cost</b> </label>
            </div>
            <div class="col-md-3 pull-right">
                <input type="text" class="form-control" name="ServiceCost" ng-model="filter.ServiceCost" style="width: 80%;" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 subTwo">
                <label>Service labour cost (SA, Technician, foreman, partman salary)</label>
            </div>
            <div class="col-md-3 pull-right">
                <input type="text" class="form-control" name="ServiceLabourCost" ng-keyup="allowPattern(filter.SLC,$event,0)" ng-model="filter.SLC" style="width: 80%;" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 subOne">
                <label><b>Service dealer expenses</b></label>
            </div>
            <div class="col-md-3 pull-right">
                <input type="text" class="form-control" name="ServiceDealerExpenses" ng-keyup="allowPattern(filter.SDE,$event,1)" ng-model="filter.SDE" style="width: 80%;">
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <label>2. MANPOWER</label>
            </div>
            <div class="col-md-3 pull-right" style="visibility:hidden">
                <input type="text" class="form-control" name="totalrevenue" style="width: 80%;" disabled>
            </div>
        </div>
        <!-- ======================================================== -->
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Apperentice Technician</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">25</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount25" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Toyota Technician</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">26</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount26" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;">Teknisi Fix</label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Pro Technician</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">27</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount27" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Master Technician</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">28</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount28" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Sub Total Fix</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">29</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount29" disabled>
            </div>
        </div>
        <!-- ================================================================================================ -->
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-3">
                <label style="padding: 10px 0 0 0;">Teknisi Body Repair</label>
            </div>
            <div class="col-md-2">
                <label style="padding: 10px 0 0 0;">Body</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">30</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount30" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-3">
                <label style="padding: 10px 0 0 0;">Teknisi Preparation</label>
            </div>
            <div class="col-md-2">
                <label style="padding: 10px 0 0 0;">Painting</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">31</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount31" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;">Teknisi Vendor / Borongan</label>
            </div>
            <div class="col-md-3">
                <label style="padding: 10px 0 0 0;">Teknisi Paint</label>
            </div>
            <div class="col-md-2">
                <label style="padding: 10px 0 0 0;">Painting</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">32</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount32" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-3">
                <label style="padding: 10px 0 0 0;">Teknisi Polishing</label>
            </div>
            <div class="col-md-2">
                <label style="padding: 10px 0 0 0;">Pianting</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">33</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount33" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-3">
                <label style="padding: 10px 0 0 0;">Teknisi Re-Assembly</label>
            </div>
            <div class="col-md-2">
                <label style="padding: 10px 0 0 0;">Body</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">34</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount34" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-3">
                <label style="padding: 10px 0 0 0;">Sub Total Non Fix</label>
            </div>
            <div class="col-md-2">
                <label style="padding: 10px 0 0 0;">(30 + 31 + 32 + 33 + 34)</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">35</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount35" disabled>
            </div>
        </div>
        <!-- ================================================================================================= -->
        <div class="row">
            <div class="col-md-6">
                <label style="padding: 10px 0 0 30px;">Total Teknisi BP</label>
            </div>
            <div class="col-md-2">
                <label style="padding: 10px 0 0 0;">(29 + 35)</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">36</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount36" disabled>
            </div>
        </div>
        <!-- ================================================================================================= -->
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;">b. Indirect</label>
            </div>
            <div class="col-md-5" style="visibility:hidden">
                <label style="padding: 10px 0 0 0;"></label>
            </div>
            <div class="col-md-1" style="visibility:hidden">
                <label style="padding: 10px 0 0 0;"></label>
            </div>
            <div class="col-md-3" style="visibility:hidden">
                <input class="form-control" type="" name="" style="width: 80%;">
            </div>
        </div>
        <!-- ================================================================================================ -->
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;">Foreman</label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Toyota Foreman Training (TFT)</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">37</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount37" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">Non TFT</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">38</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount38" >
            </div>
        </div>
        <!-- ============================================================================================= -->
        <div class="row">
            <div class="col-md-6">
                <label style="padding: 10px 0 0 30px;">Total Foreman</label>
            </div>
            <div class="col-md-2">
                <label style="padding: 10px 0 0 0;">(37 + 38)</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">39</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount39" disabled>
            </div>
        </div>
        <!-- =================================================================================================== -->
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">SA Entry Level</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">40</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount40" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;">Service Advisor</label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">SA Level 1</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">41</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount41" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label style="padding: 10px 0 0 30px;"></label>
            </div>
            <div class="col-md-5">
                <label style="padding: 10px 0 0 0;">SA Level 2</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">42</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount42" >
            </div>
        </div>
        <!-- ==================================================================================================== -->
        <div class="row">
            <div class="col-md-6">
                <label style="padding: 10px 0 0 30px;">Total Service Advisor</label>
            </div>
            <div class="col-md-2">
                <label style="padding: 10px 0 0 0;">(40 + 41 + 42)</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">43</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount43" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <label style="padding: 10px 0 0 30px;">Staff Indirect Lainnya (Instruktur, cuci, dll) yang langsung mengerjakan pekerjaan BP</label>
            </div>
            <div class="col-md-1">
                <label style="padding: 10px 0 0 0;">44</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="" name="" style="width: 80%;" ng-model="filter.amount44" >
            </div>
        </div>
        <!-- ==================================================================================================== -->
        <br>
        <div class="row">
            <div class="form-group pull-right">
                <div class=""></div>
                <button class="rbtn btn" ng-click="simpan()"> Simpan </button>
            </div>
        </div>
    </bsform-base-main>
</bsform-base>