<style type="text/css">
  @media (max-width: 1025px) {
      .panel-title{
          font-size:12px !important;
      }
  }
</style>
<div class="panel panel-default" id="irregular-bp-main-panel">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">
          Irregularity Monitoring Board (BP)
        </h3>

        <!-- style="width: 20px;height: 20px;font-size: 20px;margin-top: 0px;" -->

        <div class="panel-title pull-right">
          <i  ng-click ="refreshData()" 
              tooltip-placement="bottom" 
              tooltip-trigger="mouseenter" 
              tooltip-animation="false" 
              uib-tooltip="Refresh" class="fa fa-refresh pull-right refreshIcon"></i>
      </div>
        <h3 class="panel-title pull-right">
              {{ clock | date:'dd/MMM/yyyy hh:mm:ss'}}
        </h3>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">

      <div>

        <!-- ===========================4 atas=========================================start -->
        <div class="row" ng-show="showBoard == 'atas'">
            <div class="col-xs-3 irregularity_col">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                      <i class="fa fa-file-text-o"></i>
                    </h3>
                    <h3 class="panel-title pull-right">
                          ({{count['waiting_ins_approval']}})
                    </h3>
                    <h3 class="panel-title text-center">
                      Waiting Insurance Approval
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body irregularity_panel">
                  <div id="irgbp-waiting_ins_approval" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid"></div>
                </div>
              </div>              
            </div>       
            <div class="col-xs-3 irregularity_col">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                      <i class="fa fa-file-text-o"></i>
                    </h3>
                    <h3 class="panel-title pull-right">
                          <!-- ({{count['waiting_reception']}}) -->
                          ({{jumlahWRECEPTION}})
                    </h3>
                    <h3 class="panel-title text-center">
                      Waiting For Reception
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body irregularity_panel">
                  <div id="irgbp-waiting_reception" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid"></div>
                </div>
              </div>              
            </div>       
            <div class="col-xs-3 irregularity_col">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                      <i class="fa fa-wrench"></i>
                    </h3>
                    <h3 class="panel-title pull-right">
                          <!-- ({{count['waiting_dispatch']}}) -->
                          ({{jumlahWDISPATCH}})
                    </h3>
                    <h3 class="panel-title text-center">
                      Waiting For Dispatch
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body irregularity_panel">
                  <div id="irgbp-waiting_dispatch" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid"></div>
                </div>
              </div>              
            </div>       
            <div class="col-xs-3 irregularity_col">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                      <i class="fa fa-wrench"></i>
                    </h3>
                    <h3 class="panel-title pull-right">
                          <!-- ({{count['waiting_production']}}) -->
                          ({{jumlahWPROD}})
                    </h3>
                    <h3 class="panel-title text-center">
                      Waiting For Production
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body irregularity_panel">
                  <div id="irgbp-waiting_production" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid"></div>
                </div>
              </div>              
            </div>       
        </div>
        <!-- ===========================4 atas=========================================end -->


        <!-- ===========================4 bawah=========================================start -->
        <div class="row" ng-show="showBoard == 'bawah'">
            <div class="col-xs-3 irregularity_col">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                      <i class="fa fa-check-square-o"></i>
                    </h3>
                    <h3 class="panel-title pull-right">
                          <!-- ({{count['waiting_final_inspection']}}) -->
                          ({{jumlahWFI}})
                    </h3>
                    <h3 class="panel-title text-center">
                      Waiting For Final Inspection
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body irregularity_panel">
                  <div id="irgbp-waiting_inspection" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid"></div>
                </div>
              </div>              
            </div>       
            <div class="col-xs-3 irregularity_col">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                      <i class="fa fa-list-alt"></i>
                    </h3>
                    <h3 class="panel-title pull-right">
                          <!-- ({{count['waiting_teco']}}) -->
                          ({{jumlahWTECO}})
                    </h3>
                    <h3 class="panel-title text-center">
                      Waiting TECO
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body irregularity_panel">
                  <div id="irgbp-waiting_teco" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid"></div>
                </div>
              </div>              
          </div>       
            <div class="col-xs-3 irregularity_col">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                      <i class="fa fa-phone"></i>
                    </h3>
                    <h3 class="panel-title pull-right">
                          <!-- ({{count['waiting_notification']}}) -->
                          ({{jumlahWFN}})
                    </h3>
                    <h3 class="panel-title text-center">
                      Waiting For Notification
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body irregularity_panel">
                  <div id="irgbp-waiting_notif" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid"></div>
                </div>
              </div>              
          </div>       
            <div class="col-xs-3 irregularity_col">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                      <i class="fa fa-truck"></i>
                    </h3>
                    <h3 class="panel-title pull-right">
                          <!-- ({{count['waiting_delivery']}}) -->
                          ({{jumlahWDELIV}})
                    </h3>
                    <h3 class="panel-title text-center">
                      Waiting For Delivery
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body irregularity_panel">
                  <div id="irgbp-waiting_delivery" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid"></div>
                </div>
              </div>              
          </div>       
        </div>
        <!-- ===========================4 bawah=========================================end -->

      </div>

    </div>
</div>
  