<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid ng-form="CustomerListVehicleForm" factory-name="CustomerListVehicleFactory" model="mCustomerListVehicle" model-id="Id" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="CustomerListVehicleForm" form-title="Customer List Vehicle" modal-title="Customer List Vehicle" modal-size="small" icon="fa fa-fw fa-child">

    <div class="row">
        <div class="col-md-6">
			<div class="form-group" show-errors>
                <bsreqlabel>Police Number</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="PoliceNumber" placeholder="Police Number" ng-model="mCustomerListVehicle.PoliceNumber" ng-maxlength="50" required>
                </div>
                <bserrmsg field="PoliceNumber"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Year Buy</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="YearBuy" placeholder="Year Buy" ng-model="mCustomerListVehicle.YearBuy" ng-maxlength="50" required>
                </div>
                <bserrmsg field="YearBuy"></bserrmsg>
            </div>            

            <div class="form-group" show-errors>
                <bsreqlabel>Buy Price</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="BuyPrice" placeholder="Buy Price" ng-model="mCustomerListVehicle.BuyPrice" ng-maxlength="50" required>
                </div>
                <bserrmsg field="BuyPrice"></bserrmsg>
            </div>  
        </div>
    </div>
</bsform-grid-tree>
