<script type="text/javascript">

</script>
<style>
.ui-grid-disable-selection {
     -webkit-touch-callout: default;
     -webkit-user-select: text;
     -khtml-user-select: text;
     -moz-user-select: text;
     -ms-user-select: text;
     user-select: text;
     cursor:auto;
 }

/*
.grid {
  width: 1000px;
  height: 500px;
}
*/
.red {
 color: blue;  background-color: red !important;
}
.testnot {
 color: black;  /*background-color: yellow !important; */
}
</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<!--<div ng-app="myApp" ng-controller="myCtrl"> --c>

<div id="input" ng-hide="search2">
    <fieldset style="border:5px solid #e2e2e2;padding:20px">
    <legend style="width:inherit">Filter   </legend>
    <br>


<!--</div> -->
<!--
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.names = ["Tipe 1", "Tipe 2", "Tipe 3"];
});
</script>
-->
<bsform-grid
        ng-form="PartsStatusStockForm"
        factory-name="PartsStatusStock"
        model="mData"
        model-id="StockPositionId"
        loading="loading"
        show-advsearch="on"

        get-data="getData(mData)"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        on-before-edit="onBeforeEditMode"
        grid-hide-action-column="gridHideActionColumn"

        rights-byte = "myRights"        

        form-name="PartsStatusStockForm"
        form-title="StatusStock"
        modal-title="StatusStock"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >
        <bsform-advsearch>
              <!-- Row Atas -->
              <div class="row" hidden>
                <div class="col-md-3">
                <label class="control-label">Tipe Material *</label>
                <select class="form-control" ng-model="mData.MaterialTypeId[0]" >
                  <!--<option value="">-- pilih tipe --</option> -->
                  <!-- <option value="1">Parts</option> 
                  <option value="2">Bahan</option> --> 
                  <option value="" selected>{{mData.MaterialName}}</option>
                </select>
                </div>
                <div class="col-md-3">
                <label class="control-label">Lokasi Gudang *</label>
                <select
                  class="form-control" 
                  ng-model="mData.MaterialTypeId[0]">
                  <!-- ng-options="mData.WarehouseId as mData.WarehouseName for mData in mData.WarehouseData" -->
                  <option value="" selected>{{mData.WarehouseName}}</option>
                </select>
                </div>

              </div>
              <!-- end row -->
              <!-- Row Tengah -->
              <div class="row">
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">No. Material *</label>
                    <input type="text" class="form-control" onkeyup="this.value = this.value.toUpperCase()" placeholder="Input Nomor Material" ng-model="mData.PartsCode">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">Nama Material *</label>
                    <input type="text" class="form-control" placeholder="Input Nama Material" ng-model="mData.PartsName">
                  </div>
                </div>
                <div class="col-md-6 text-right">
                  <!--<div class="input-group">-->
                    <label class="control-label">&nbsp</label>
                    <div class="">
                        <button class="btn wbtn pull-right" ng-click="onDeleteFilter()">Hapus Filter</button>
                    </div>
                  <!--</div>-->
                </div>
            </div>

            <!--<div class="row">
              <div class="col-md-2">
                <button class="btn wbtn" ng-click="getDataWH()">getDataWH</button>
              </div>
            </div>-->

        </bsform-advsearch>

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->
        <!-- <div class="row">
          <div class="col-md-12">
            <div ui-grid="grid" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize class="grid" ng-cloak>
            </div>
          </div>
        </div> 11-09-2017 -->

<!-- IF NOT USING FORMLY -->

</bsform-grid>
<!--tombol bawah-->
<br>
<div class="form-group">
  <div class="row">
    <div class="col-md-12">
      <div style="text-align: right;"> 
        <!-- <button class="btn rbtn" ng-click="simpanDraft()">Simpan Draft</button> -->
        <button class="btn rbtn" ng-click="ListApproval()">List Approval</button>
      </div>
    </div>
  </div>
</div>