<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="PoTypeForm"
        factory-name="PoType"
        model="mPoType"
        model-id="POTypeId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="PoTypeForm"
        form-title="PoType"
        modal-title="PoType"
        modal-size="small"
		form-api="formApi"
		do-custom-save="doCustomSave"
        icon="fa fa-fw fa-child"
        >


        <div class="row">
          <div class="col-md-6">

            <div class="form-group" show-errors>
                <bsreqlabel>PO Type</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="POTypeName" placeholder="PO Type" ng-model="mPoType.POTypeName"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="POTypeName"></bserrmsg>
            </div>
		
          </div>
        </div>
</bsform-grid-tree>

