<!--Harus item-->
<div style="font-size: 12px;">Kode Booking:{{item.BookingUnitId}}
    <button ng-click="openModal(item)" class="btn btn-default" style="float:right; border:0; background-color:transparent; box-shadow:none;" id="myButton" type="button"> 
			<span class="glyphicon glyphicon-option-vertical" style="float:center;"> 
			</span> 
	</button>
</div>
<p>
    <ul class="list-inline" style="font-size:10px;">
        <li><b>Nama Prospek :</b> {{item.ProspectName}}</li>
        <li><b>Status :</b> {{item.BookingUnitStatusName}}</li>
        <li><b>Status Diskon :</b> {{item.StatusApprovalName}}</li>
        <li><b>Diskon :</b> {{item.ListDetailBookingUnit[0].RequestDiscount | currency:"Rp "}}</li>
    </ul>
</p>