<script type="text/javascript">

</script>
<style type="text/css">


</style>

<div ng-show="!Add_Button">
<button ng-click="Add_Clicked()" class="rbtn btn ng-binding ladda-button" style="float: right;">Tambah </button>
</div>
<div>
<button ng-show="Submit_Button" ng-click="Simpan_Clicked()" class="rbtn btn ng-binding ladda-button" style="float: right;">Simpan </button>
<button ng-show="Batal_Button" ng-click="Batal_Clicked()" class="rbtn btn ng-binding ladda-button" style="float: right;">Batal </button>

</div>
<br/>
<br/>
<div ng-show="!ShowTable">
<div ng-repeat="da_data in ulala">
<ul>
	{{ da_data.NamaActivityWorkingCalender }}
	<br/>
	{{ da_data.TanggalActivityWorkingCalender }}
	<br/>
	{{ da_data.KeteranganActivityWorkingCalender }}
	<br/>
	<a ng-click="LookSelected(da_data.NamaActivityWorkingCalender,da_data.TanggalActivityWorkingCalender,da_data.KeteranganActivityWorkingCalender)">Lihat Detail</a>
	<br/>
	<a ng-click="ChangeSelected(da_data.ActivityWorkingCalenderID,da_data.NamaActivityWorkingCalender,da_data.TanggalActivityWorkingCalender,da_data.KeteranganActivityWorkingCalender)">Ubah Detail</a>
	<br/>
	<a ng-click="DeleteSelected(da_data.ActivityWorkingCalenderID)">Hapus Detail</a>
	<hr/>
						
</ul>
</div>
</div>

<div ng-show="ShowParameter">
     
                <bsreqlabel>Nama Activity Working Calender</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="nama" placeholder="Nama Activity Working Calender" ng-model="mActivityWorkingCalender_NamaActivityWorkingCalender"
                            ng-maxlength="50" required
                    >
                </div>
				<bsreqlabel>Tanggal Activity Working Calender</bsreqlabel>
                    <bsdatepicker
                            name="tanggal"
                            date-options="dateOptions"
                            ng-model="mActivityWorkingCalender_TanggalActivityWorkingCalender"
                    >
                    </bsdatepicker>
				<bsreqlabel>Keterangan Activity Working Calender</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="keterangan" placeholder="Keterangan Activity Working Calender" ng-model="mActivityWorkingCalender_KeteranganActivityWorkingCalender"
                            ng-maxlength="50" required
                    >
                </div>
                
            
 </div>			
