<div class="col-md-12">
    <div class="row">
        <div ui-grid="gridTimeEst" ui-grid-cellNav ui-grid-edit ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-3 col-xs-3">
            <label for="">TOTAL LEAD TIME</label>
        </div>
        <div class="col-md-3 col-xs-3">
            <input type="text" ng-model="estHours" size='5' ng-readonly="true">&nbsp;<label>Jam</label>
            &nbsp;&nbsp;&nbsp;<img src="images/rightarrow.png">&nbsp;
        </div>
        <div class="col-md-3 col-xs-3">
            <input type="text" ng-model="estDays" size='5' ng-readonly="true">&nbsp;<label><strong>Hari</strong></label>
        </div>
        <div class="col-md-3 col-xs-3">
            <button ng-click="calculateforest()" class="rbtn btn"><i class="fa fa-fw fa-clock-o"></i>&nbsp;Calculate Time</button>
        </div>
    </div>
</div>