<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="AlasanRevisiPddForm" on-validate-save="onValidateSave" on-show-detail="onShowDetail" factory-name="AlasanRevisiPddFactoryMaster" model="mAlasanRevisiPdd" model-id="ReasonRevisionId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="AlasanRevisiPddForm" form-title="AlasanRevisiPdd" modal-title="AlasanRevisiPdd" modal-size="small" icon="fa fa-fw fa-child">

        <div class="row">
            <div class="col-md-6">

				
				<div class="form-group" show-errors>
					<bsreqlabel>Alasan Revisi</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input alpha-numeric mask="Huruf" type="text" class="form-control" name="ReasonRevisionName" placeholder="AlasanRevisiPdd" ng-model="mAlasanRevisiPdd.ReasonRevisionName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="ReasonRevisionName"></bserrmsg>
				</div>
				
				<label>Alasan Ini Terhitung Ke Dalam Batas Revisi</label>
				<form>
					<input type="checkbox" ng-model="mAlasanRevisiPdd.LimitRevision">
				   
				</form>
            </div>
        </div>
        
</bsform-grid-tree>

