<script type="text/javascript">
</script>
<style type="text/css">

</style>

<bsform-grid ng-form="SitePDCForm" factory-name="SitePDCFactory" model="msitePdc" model-id="SitePDCId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="SitePDCForm" form-title="Site PDC" modal-title="sitePds" modal-size="small"
    icon="fa fa-fw fa-child">

    
    <div class="row">
        <div class="col-md-6">



            <div class="form-group" show-errors>
                <bsreqlabel>Nama PDC</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="name site pdc" placeholder="nama" ng-model="msitePdc.NameSitePDC" ng-maxlength="50" required>
                </div>
                <bserrmsg field="nama"></bserrmsg>
            </div>

            
        </div>
    </div>
    </bsform-grid-tree>