<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}
</style>
<link rel="stylesheet" href="css/uitoogle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="stylesheet" type="text/javascript" href="https://cdn.rawgit.com/eligrey/FileSaver.js/">

<div ng-show="ShowMainAnggaranBelanja">
	<div class="row">
		<div class="col-md-12">
			<button id="MainAnggaranBelanjaUpload_Button" ng-click="MainAnggaranBelanjaUpload_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right; margin-top:24px;margin-left:24px">
				<span class="ladda-label">
					Upload
				</span>
				<span class="ladda-spinner"></span>
			</button>

			<button id="MainAnggaranBelanjaTambah_Button" ng-click="MainAnggaranBelanjaTambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right; margin-top:24px;margin-left:24px">
				<span class="ladda-label">
					Tambah
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
</div>

<div ng-show="ShowUploadAnggaranBelanja">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6" style="border:1px solid lightgrey;padding: 10px 0 10px 10px">
				<bsreqlabel>Upload File</bsreqlabel>
				<div class="input-icon-right">
					<input type="file" accept=".xlsx" id="uploadAnggaranBelanja" onchange="angular.element(this).scope().loadXLS(this)">
				</div>
			</div>

			<div class="col-md-2">
				<button id="UploadAnggaranBelanja_Upload_Button" ng-click="UploadAnggaranBelanja_Upload_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: left;margin-top:5px">
					<span class="ladda-label">
						Upload
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>

			<div class="col-md-2">
				<button id="UploadAnggaranBelanja_Download_Button" ng-click="UploadAnggaranBelanja_Download_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: left;margin-top:5px">
					<span class="ladda-label">
						Download Template
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<p style="width:180px; margin-top:20px; margin-bottom:-20px;margin-left:10px; background:white;color:red;">Daftar GL Biaya
				<hr style="border-color:red" />
			</p>

			<div id="myGrid" ui-grid="AnggaranBelanjaUploadList_UIGrid" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-resize-columns class="Mygrid"
			 style="width:95%;height: 700px; margin-top:20px; margin-bottom:20px; margin-left:20px"></div>

			<div class="col-md-12">
				<button id="UploadAnggaranBelanjaSimpan_Button" ng-click="UploadAnggaranBelanjaSimpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: right; margin-top:24px;margin-left:24px">
					<span class="ladda-label">
						Simpan
					</span>
					<span class="ladda-spinner"></span>
				</button>

				<button id="UploadAnggaranBelanjaKembali_Button" ng-click="UploadAnggaranBelanjaKembali_Clicked()" type="button" class="btn ng-binding ladda-button"
				 style="float: right; margin-top:24px;margin-left:24px">
					<span class="ladda-label">
						Kembali
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>

	</div>
</div>

<div ng-show="ShowTambahAnggaranBelanja">

	<div class="row">
		<div class="col-md-12">
			<p style="width:180px; margin-top:20px;margin-bottom:-20px; margin-left:10px; background:white;color:red;">Daftar GL Biaya
				<hr style="border-color:red" />
			</p>

			<div class="row">
				<div id="myGrid" ui-grid="AnggaranBelanjaTambahList_UIGrid" ui-grid-edit ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-resize-columns
				 class="Mygrid" style="width:95%;height: 250px; margin-top:20px; margin-bottom:20px; margin-left:20px"></div>

				<div class="col-md-12">
					<button id="TambahAnggaranBelanjaSimpan_Button" ng-click="TambahAnggaranBelanjaSimpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
					 style="float: right; margin-top:24px;margin-left:24px">
						<span class="ladda-label">
							Simpan
						</span>
						<span class="ladda-spinner"></span>
					</button>

					<button id="TambahAnggaranBelanjaKembali_Button" ng-click="TambahAnggaranBelanjaKembali_Clicked()" type="button" class="btn ng-binding ladda-button"
					 style="float: right; margin-top:24px;margin-left:24px">
						<span class="ladda-label">
							Kembali
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>
	</div>

</div>