<style>
    .statusBottomDiv{
        width: 600px;
        height: 385px;
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
        background-color: #000; border-width:0px; border-color: black; border-style: solid; z-index: 20;
    }

</style>
                    <div id="base-customer-status-gr" style="background-color: #fff; border-width:0px; border-color: black; border-style: solid; padding: 0px;">
                        <div id="customer-status-gr" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid; height: 100%"></div>
                    </div>
                        <div id="video-customer-status-gr" class="statusBottomDiv">
                            <video id="video-player-customer-status-gr" style="width: 600px; height: 285px" controls autoplay loop></video>
                        </div>
<div class="btn-group">
    <input id="btn-video-customer-status-gr" style="float: left;" type="file" accept="video/*"/>
    <button class="rbtn btn" ng-click="toggleFullScreen()">Full Screen</button>
</div>
