<script type="text/javascript">
    function IfGotProblemWithModal() {
        $('body .modals').remove();
    }
	
	function RestrictSpace() {
		if (event.keyCode == 32) {
			return false;
		}
	}
	
</script>
<script type="text/javascript" src="js/print_min.js"></script>
<style type="text/css">
    .action-custom {
        text-align: center;
    }
</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->



<div ng-show="ShowTerimaSTNKKePelangganMain" style="width: 100%">
    <bsform-grid ng-form="SerahTerimaStnkKePelangganForm" factory-name="SerahTerimaStnkKePelangganFactory" model="mSerahTerimaStnkKePelanggan" model-id="SuratDistribusiSTNKHeaderId" loading="loading" hide-new-button="true" get-data="getData" selected-rows="selectedRows"
        show-advsearch="on" on-select-rows="onSelectRows" grid-hide-action-column="true" form-name="SerahTerimaStnkKePelangganForm" form-title="SerahTerimaStnkKePelanggan" modal-title="Serah Terima Stnk Ke Pelanggan" modal-size="small" icon="fa fa-fw fa-child">
		<bsform-advsearch>
            
            <div class="row" style="margin-bottom:25px">
                <div class="col-md-3">
                      <div class="form-group">
                        <label>Nama STNK</label>
                        <div style="margin-top:-5px;" class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="Input No. STNK" ng-model="filter.STNKName" maxlength="60">
                        </div>
                    </div>
                </div>
				<div class="col-md-3">
                    <div class="form-group">
                        <label>No. Rangka</label>
                        <div style="margin-top:-5px;" class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="Input No. Rangka" ng-model="filter.FrameNo" maxlength="60">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. Billing</label>
                        <div style="margin-top:-5px;" class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="Input No. Billing" ng-model="filter.BillingCode" maxlength="60">
                        </div>
                    </div>
                </div>

                
            </div>
        </bsform-advsearch> 


        <div class="row">
            <div class="col-md-6">

                <div class="form-group" show-errors>
                    <bsreqlabel>Insurance Type Name</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="insuranceTypeName" placeholder="Insurance Type Name" ng-model="mSerahTerimaStnkKePelanggan.InsuranceTypeName" ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="insuranceTypeName"></bserrmsg>
                </div>
                <div class="form-group" show-errors>
                    <bsreqlabel>Insurance Type Value</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="insuranceTypeValue" placeholder="Insurance Type Value" ng-model="mSerahTerimaStnkKePelanggan.InsuranceTypeValue" ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="insuranceTypeValue"></bserrmsg>
                </div>

            </div>
        </div>
    </bsform-grid>
</div>

<div class="ui modal UpdatePenerimaanDokumenstnkkepelanggan" role="dialog" style="background-color: transparent !important; width: 600px">
    <p style="text-align: center">
        <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
            <h4 class="modal-title">Penyerahan Dokumen STNK ke Pelanggan</h4>
        </div>
        <div class="modal-body" style="background-color: white;  max-height: 60%">
            <div class="row" style="margin: 0 0 0 0">
                <div id="infoPembeli" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px">
                    <p style="width:120px; margin-top:-17px; padding-left: 3px; margin-left:14px; background:white;"><b>&nbsp;Terima Dokumen</b></p>
                    <form name="validSerahTerimaStnkPelanggan">
                        <ul class="list-group">
                            
							
							<div class="col-md-12" style="margin-bottom: 10px;">
                                <div class="col-md-6">
                                    <bsreqlabel style="margin-bottom: 5px;">No. Rangka</bsreqlabel>
									<div class="input-icon-right">
										<i class="fa fa-user"></i>
										<input ng-disabled="true" type="text" class="form-control" name="NoRangka" placeholder="No Rangka" ng-model="EditDetilTandaTerima.FrameNo" ng-maxlength="50" required>
									</div>
                                </div>
            
                                <div class="col-md-6">
                                    <bsreqlabel style="margin-bottom: 5px;">Pembayaran</bsreqlabel>
                                    <div class="input-icon-right">
                                        <input ng-disabled="true" type="text" class="form-control" name="Pembayaran" placeholder="Pembayaran" ng-model="The_Result.FundSourceName" required>
                                    </div>
                                </div>
                            </div>
							
							<div class="col-md-12" style="margin-bottom: 10px;">
                                <bsreqlabel style="margin-bottom: 5px;margin-left: 10px;margin-right: 10px;">Model Tipe Kendaraan</bsreqlabel>
                                <div style="margin-left: 10px;margin-right: 10px;" class="input-icon-right">
                                    <i class="fa fa-car"></i>
                                    <input type="text" ng-disabled="true" class="form-control" name="ModelTipeKendaraan" placeholder="Model Tipe Kendaraan" ng-model="The_Result.Description" required>
                                </div>
                            </div>
            
                            <div class="col-md-12" style="margin-bottom: 10px;">
                                <bsreqlabel style="margin-bottom: 5px;margin-left: 10px;margin-right: 10px;">Nama Pembeli</bsreqlabel>
                                <div style="margin-left: 10px;margin-right: 10px;" class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input type="text" ng-disabled="true" class="form-control" name="NamaPembeli" placeholder="Nama Pembeli" ng-model="The_Result.NamaPembeli" maxlength="50" required>
                                </div>
                            </div>
            
                            <div class="col-md-12" style="margin-bottom: 10px;">
                                <div class="col-md-6">
                                    <bsreqlabel style="margin-bottom: 5px;">No KTP</bsreqlabel>
                                    <div class="input-icon-right">
                                        <i class="fa fa-user"></i>
                                        <input number-only ng-disabled="true" type="text" class="form-control" name="NoKTP" placeholder="No KTP" ng-model="The_Result.NoKTPPembeli" required>
                                    </div>
                                </div>
            
                                <div class="col-md-6">
                                    <bsreqlabel style="margin-bottom: 5px;">No Handphone</bsreqlabel>
                                    <div class="input-icon-right">
                                        <i class="fa fa-user"></i>
                                        <input number-only ng-disabled="true" type="text" class="form-control" name="NoHandPhone" placeholder="No HandPhone" ng-model="The_Result.NoHPPembeli" required>
                                    </div>
                                </div>
                            </div>
							
							<div class="col-md-12" style="margin-bottom: 10px;">
                                <bsreqlabel style="margin-bottom: 5px;margin-left: 10px;margin-right: 10px;">Nama STNK</bsreqlabel>
                                <div style="margin-left: 10px;margin-right: 10px;" class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input ng-disabled="true" type="text" class="form-control" name="NamaSTNK" placeholder="Nama STNK" ng-model="The_Result.STNKName" required>
                                </div>
                            </div>

                            <table class="table table-bordered table-responsive" border="1" style="border: none !important">
                                <tbody style="border: none !important">
                                    <tr>
                                        <th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">
                                           
                                            <input style="margin-right:5px;" ng-disabled="true" ng-checked="EditDetilTandaTerima.PoliceNumber!='' && EditDetilTandaTerima.PoliceNumber!=undefined && EditDetilTandaTerima.STNKNo!='' && EditDetilTandaTerima.STNKNo!=undefined" type="checkbox" ng-model="SerahTerimaStnksKePelangganCheckAll">
											<label>Dokumen</label>
                                           
                                        </th>
                                        <th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important"></th>
                                    </tr>
                                    <tr>
                                        <td style="border: none !important">
                                            
                                            <input style="margin-right:5px;" ng-disabled="true" ng-checked="EditDetilTandaTerima.STNKNo!='' && EditDetilTandaTerima.STNKNo!=undefined" type="checkbox" ng-model="SerahTerimaStnkKePelangganCekBoxNomorStnk" >
                                            <bsreqlabel>Nomor STNK</bsreqlabel>
                                        </td>
                                        
                                        <td style="border: none !important">
                                            <div style="margin-left: 10px;margin-right: 10px;" class="input-icon-right">
												<i class="fa fa-user"></i>
												<input ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan'" type="text" class="form-control" name="NoStnk" placeholder="No STNK" ng-model="EditDetilTandaTerima.STNKNo" maxlength="20" required>
											</div>
                                        </td>
            
                                    </tr>
									<tr>
                                        <td style="border: none !important">
                                           
											<input style="margin-right:5px;" ng-disabled="true" ng-checked="EditDetilTandaTerima.PoliceNumber!='' && EditDetilTandaTerima.PoliceNumber!=undefined" type="checkbox" ng-model="SerahTerimaStnkKePelangganCekBoxNomorPolisi" >
                                            <bsreqlabel>Plat Nomor Polisi</bsreqlabel>
                                        </td>
                                      
                                        <td style="border: none !important">
											<div style="margin-left: 10px;margin-right: 10px;" class="input-icon-right">
												<i class="fa fa-car"></i>
												<input onkeypress="return RestrictSpace()" alpha-numeric ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan'" type="text" class="form-control" name="NoPolisi" placeholder="No Polisi" ng-model="EditDetilTandaTerima.PoliceNumber" maxlength="10" required>
											</div>
                                        </td>
            
                                    </tr>
                                    <tr>
                                        <td style="border: none !important">
                                          
											<input ng-change="SerahTerimaStnkKePelangganNoticePajakCentang()" style="margin-right:5px;" type="checkbox" ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan'" ng-model="EditDetilTandaTerima.NoticePajakBit">
                                            <bsreqlabel>Notice Pajak</bsreqlabel>
                                            <td style="border: none !important">
                                            
                                            </td>
            
                                    </tr>
                                    
                                </tbody>
                            </table>
							<div class="col-md-11" style="margin-left:20px;border:1px solid lightgrey; padding: 10px 0 15px 0; margin-top: 10px">
							<p style="width:120px; margin-top:-20px; margin-left:14px; background:white;">
								<b>&nbsp; Item Notice Pajak</b>
							</p>
							<table class="table table-bordered table-responsive" border="1" style="border: none !important;">
                                <tbody style="border: none !important">
									<tr>
                                        <td style="border: none !important">
                                            <bslabel>BBNKB</bslabel>
                                        </td>
                                        <td style="border: none !important">
                                            <input ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan' || EditDetilTandaTerima.NoticePajakBit==false" type="text" number-only class="form-control" ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan'" ng-model="EditDetilTandaTerima.BBNKB" required>
                                        </td>
                                    </tr>
									<tr>
                                        <td style="border: none !important">
                                            <bslabel>PKB</bslabel>
                                        </td>
                                        <td style="border: none !important">
                                            <input ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan' || EditDetilTandaTerima.NoticePajakBit==false" type="text" number-only class="form-control" ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan'" ng-model="EditDetilTandaTerima.PKB" required>
                                        </td>
                                    </tr>
									<tr>
                                        <td style="border: none !important">
                                            <bslabel>SWDKLJJ</bslabel>
                                        </td>
                                        <td style="border: none !important">
                                            <input ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan' || EditDetilTandaTerima.NoticePajakBit==false" type="text" number-only class="form-control" ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan'" ng-model="EditDetilTandaTerima.SWDKLLJ" required>
                                        </td>
                                    </tr>
									<tr>
                                        <td style="border: none !important">
                                            <bslabel>Biaya ADM STNK</bslabel>
                                        </td>
                                        <td style="border: none !important">
                                            <input ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan' || EditDetilTandaTerima.NoticePajakBit==false" type="text" number-only class="form-control" ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan'" ng-model="EditDetilTandaTerima.BiayaAdmSTNK" required>
                                        </td>
                                    </tr>
									<tr>
                                        <td style="border: none !important">
                                            <bslabel>Biaya ADM TNKB</bslabel>
                                        </td>
                                        <td style="border: none !important">
                                            <input ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan' || EditDetilTandaTerima.NoticePajakBit==false" type="text" number-only class="form-control" ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan'" ng-model="EditDetilTandaTerima.BiayaAdmTNKB" required>
                                        </td>
                                    </tr>
								</tbody>
							</table>
							</div>
                                <div class="col-md-12"  style="margin-bottom: 10px; margin-top: 10px;">
                                    <div class="col-md-6">
                                        <label style="margin-top: 5px;">Tanggal Penyerahan Dokumen</label>
                                       
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-icon-right">
                                            <i class="fa fa-calendar"></i>
                                            <input ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan'" class="form-control" ng-model="EditDetilTandaTerima.TanggalPenyerahanDokumen" max="{{TodayDate}}" type="datetime-local">
                                        </div>
                                    </div>
                                </div>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <button style="float: right;margin-bottom:5px;margin-left:5px;margin-right:5px;" ng-click="SimpanUpdatePenerimaanDokumen()" type="button"
                        ng-disabled="(EditDetilTandaTerima.STNKNo == undefined || EditDetilTandaTerima.STNKNo == null || EditDetilTandaTerima.STNKNo == '') || EditDetilTandaTerima.NoticePajakBit!=true ||
                             (EditDetilTandaTerima.PoliceNumber == undefined || EditDetilTandaTerima.PoliceNumber == null || EditDetilTandaTerima.PoliceNumber == '') || EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan'"
                        class="rbtn btn ng-binding ladda-button">
                <span class="ladda-label">
                    <!--<i class="fa fa-fw fa-refresh"></i>-->Simpan
                </span><span class="ladda-spinner"></span>
            </button>

            <bs-print cetakan-url="{{printUrl}}">
                <bsbutton-print>
                    <!-- <button class="rbtn btn" style="float:right">
                        <i class="fa fa-print" aria-hidden="true"></i>&nbsp&nbspCetak Tanda Terima
                    </button> -->
                    <button class="rbtn btn" style="float:right"
                    ng-disabled="(EditDetilTandaTerima.STNKNo == undefined || EditDetilTandaTerima.STNKNo == null || EditDetilTandaTerima.STNKNo == '') ||
                            (EditDetilTandaTerima.PoliceNumber == undefined || EditDetilTandaTerima.PoliceNumber == null || EditDetilTandaTerima.PoliceNumber == '') || EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Belum Diterima Pelanggan'">
                        <i class="fa fa-print" aria-hidden="true"></i>&nbsp&nbspCetak Tanda Terima
                    </button>
                </bsbutton-print>
            </bs-print>

            <!-- <button style="float: right;margin-bottom:5px;margin-left:5px;margin-right:5px;" ng-click="debugConsole()" type="button"
            class="rbtn btn ng-binding ladda-button">
                <span class="ladda-label">
                    Debug !
                </span><span class="ladda-spinner"></span>
            </button> -->

        <!-- <button style="float: right;margin-bottom:5px;margin-left:5px;margin-right:5px;" ng-click="KeTerimaSTNKKePelangganCetak()"  type="button" class="rbtn btn ng-binding ladda-button" >
                <span class="ladda-label">
                    Cetak Tanda Terimas
        </span><span class="ladda-spinner"></span>
        </button> -->

            <button style="float: right;margin-bottom:5px;margin-left:5px;margin-right:5px;" ng-click="KembaliKeTerimaSTNKKePelangganMain()" type="button" class="wbtn btn ng-binding ladda-button">
                <span class="ladda-label">
                    <!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
                </span><span class="ladda-spinner"></span>
            </button>

            <!-- <button style="float: right;margin-bottom:5px;margin-left:5px;margin-right:5px;" ng-click="DebugSTNK()" type="button" class="rbtn btn ng-binding ladda-button">
                <span class="ladda-label"> -->
                    <!--<i class="fa fa-fw fa-refresh"></i>-->
                <!-- </span><span class="ladda-spinner"></span>
            </button> -->

        </div>
    </p>
</div>
