<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="OutletForm" factory-name="OutletFactoryMaster" model="mOutlet" model-id="CustomerReligionId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="OutletForm" form-title="Outlet" modal-title="Master Outlet" modal-size="small" icon="fa fa-fw fa-child" show-advsearch="on">
		<bsform-advsearch>
			<div class="row" style="margin-bottom:40px">
			<div class="col-md-6">
				<bslabel>Dealer</bslabel>
				<bsselect placeholder="Pilih Dealer" style="margin-top:5px" ng-disabled="MasterOutletDisableFilterDealer" ng-model="filter.GroupDealerId" data="optionsOutlet_Dealer" item-text="GroupDealerName" item-value="GroupDealerId" ng-change="MasterOutletSearchDealerBrubah()">
				</bsselect>
			</div>
			<div class="col-md-6">
				<bslabel>Cabang</bslabel>
				<bsselect placeholder="Pilih Cabang" style="margin-top:5px" ng-disabled="MasterOutletDisableFilterOutlet" ng-model="filter.OutletId" data="optionsOutlet_Outlet" item-text="OutletName" item-value="OutletId">
				</bsselect>
				
			</div>
		</div>
		</bsform-advsearch>
        <div class="row">
            <div class="col-md-6">

				
				<div class="form-group" show-errors>
					<label>Dealer</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="DealerName" placeholder="Dealer" ng-model="mOutlet.DealerName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="DealerName"></bserrmsg>
				</div>
            </div>
			<div class="col-md-6">

				
				<div class="form-group" show-errors>
					<label>Provinsi</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="ProvinceName" placeholder="Provinsi" ng-model="mOutlet.ProvinceName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="ProvinceName"></bserrmsg>
				</div>
            </div>
        </div>
		
		<div class="row">
            <div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Perusahaan</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="CompanyName" placeholder="Perusahaan" ng-model="mOutlet.CompanyName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="CompanyName"></bserrmsg>
				</div>
				
				
            </div>
			<div class="col-md-6">

				
				<div class="form-group" show-errors>
					<label>Kabupaten/Kota</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="CityRegencyName" placeholder="Kabupaten/Kota" ng-model="mOutlet.CityRegencyName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="CityRegencyName"></bserrmsg>
				</div>
            </div>
        </div>
		
		<div class="row">
            <div class="col-md-6">

				<div class="form-group">
					<label>Kode Outlet</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" placeholder="Kode Outlet" ng-model="mOutlet.OutletCode"
								
						>
					</div>
					
				</div>
				
            </div>
			<div class="col-md-6">

				
				<div class="form-group" show-errors>
					<label>Kecamatan</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="DistrictName" placeholder="Kecamatan" ng-model="mOutlet.DistrictName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="DistrictName"></bserrmsg>
				</div>
            </div>
        </div>
		
		<div class="row">
            <div class="col-md-6">

				<div class="form-group" show-errors>
					<label>Cabang</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="OutletName" placeholder="Pilih Cabang" ng-model="mOutlet.OutletName"
								 required
						>
					</div>
					<bserrmsg field="OutletName"></bserrmsg>
				</div>
				
            </div>
			<div class="col-md-6">

				
				<div class="form-group" show-errors>
					<label>Kelurahan</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="VillageName" placeholder="Kelurahan" ng-model="mOutlet.VillageName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="VillageName"></bserrmsg>
				</div>
            </div>
        </div>
		
		<div class="row">
            <div class="col-md-6">

				<div class="form-group" show-errors>
					<label>Nomor Telepon</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="Phone" placeholder="Phone" ng-model="mOutlet.PhoneNumber"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="Phone"></bserrmsg>
				</div>
				
            </div>
			<div class="col-md-6">

				
				<div class="form-group" show-errors>
					<label>Kode Pos</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="PostalCode" placeholder="Kode Pos" ng-model="mOutlet.PostalCode"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="PostalCode"></bserrmsg>
				</div>
            </div>
        </div>
		
		<div class="row">
            <div class="col-md-6">

				<div class="form-group" show-errors>
					<label>Nomor Fax</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="Fax" placeholder="Fax" ng-model="mOutlet.FaxNumber"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="Fax"></bserrmsg>
				</div>
				
            </div>
			<div class="col-md-6">
				
				<div class="form-group" show-errors>
					<label>Alamat</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="textarea" class="form-control" name="Address" placeholder="Alamat" ng-model="mOutlet.OutletAddress"
								
						>
					</div>
					<bserrmsg field="Address"></bserrmsg>
				</div>
            </div>
        </div>
		
		<div class="row">
            <div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Fungsi Cabang</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="OutletFunctionName" placeholder="Input Fungsi Cabang" ng-model="mOutlet.OutletFunctionName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="OutletFunctionName"></bserrmsg>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Area TAM</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="AreaTAMName" placeholder="Area TAM" ng-model="mOutlet.AreaTAMName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="AreaTAMName"></bserrmsg>
				</div>
			</div>
		</div>
		
		<div class="row">
            <div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Area Dealer</label>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="AreaDealerName" placeholder="Area Dealer" ng-model="mOutlet.AreaDealerName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="AreaDealerName"></bserrmsg>
				</div>
			</div>
			<div class="col-md-6">
				
			</div>
		</div>	
        
</bsform-grid-tree>

