<script type="text/javascript">
	for (i = 0; i < 2; i++) 
	{
		var number = document.getElementById('MasterGlobalParameter_PreventNegative_'+i);
		// Listen for input event on numInput.
		number.onkeydown = function(e) {
			if(!((e.keyCode >= 48 && e.keyCode <= 57)
			  || e.keyCode == 8|| e.keyCode == 46)) {
				//titik tu 190 buat decimal
				return false;
			}
		}
	}
	</script>
	<style type="text/css">
	
	
	</style>
	<link rel="stylesheet" href="css/uitogglestyle.css">
	
	<div class="row" style="min-height: 100vh;" ng-if="user.RoleName == 'ADH'">
		
		<button class="rbtn btn ng-binding ladda-button" style="float: right;margin-top:-10px;margin-right:20px" ng-click="SimpanGlobalParameter()">
			Simpan
		</button>
		
		<!--<div class="col-md-12" style=" margin-top: 20px;">
		  <b style=" margin-top:-20px; margin-left:14px;">Process Billing dan AFI</b>
		  <hr style=" margin-top:0px;"/>
		  <table style="margin-left:15px;margin-bottom:15px" border="1">
			<tr style="background-color:#CCCCCC;">
				<th><div style="margin-left:5px;margin-right:5px;"><p align="center">Keterangan</p></div></th>
				<th><div style="margin-left:5px;margin-right:5px;"><p align="center">Urutan</p></div></th>
				<th><div style="margin-left:5px;margin-right:5px;"><p align="center">Automatic Process</p></div></th>
			</tr>
			<tr style="background-color:#EEEEEE;">
				<td align="center">
					AFI
				</td>
				<td align="center">
					<select 
							class="form-control"
							style="margin-left:5px;margin-right:5px"
							ng-model="mGlobalParameterAdh.UrutanAfi"
							ng-change="GlobalParameterJagaSwitch()"
							ng-options="item.SearchOptionId as item.SearchOptionName for item in optionGlobalParameter1Sama2"
							placeholder="Pilih">
						</select>
				</td>
				<td align="center">
					<div id="toogleItem">
						<div class="input-icon-right">
							<div class="switch">
								<input ng-change="GlobalParameterJagaSwitch()" ng-model="mGlobalParameterAdh.AfiAuto" id="GlobalParamSwitch" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
								<label for="GlobalParamSwitch"></label>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td align="center">
					Billing
				</td>
				<td align="center">
						<select 
							class="form-control"
							style="margin-left:5px;margin-right:5px"
							ng-model="mGlobalParameterAdh.UrutanBilling"
							ng-change="GlobalParameterJagaSwitch2()"
							ng-options="item.SearchOptionId as item.SearchOptionName for item in optionGlobalParameter1Sama2"
							placeholder="Pilih">
						</select>
				</td>
				<td align="center">
					
				</td>
			</tr>
		  </table>
		</div>-->
		<div class="col-md-11" style="margin-left:20px;border:1px solid lightgrey; padding: 10px 0 15px 0; margin-top: 10px">
			<p style="width:150px; margin-top:-20px; margin-left:14px; background:white;">
				<b>Process Billing dan AFI</b>
			</p>
			<table style="margin-left:15px;margin-bottom:15px" border="1">
				<tr style="background-color:#CCCCCC;">
					<th><div style="margin-left:5px;margin-right:5px;"><br/><p align="center">Keterangan</p></div></th>
					<th><div style="margin-left:5px;margin-right:5px;"><br/><p align="center">Urutan</p></div></th>
					<th><div style="margin-left:5px;margin-right:5px;"><br/><p align="center">Automatic Process</p></div></th>
				</tr>
				<tr style="background-color:#EEEEEE;">
					<td align="center">
						AFI
					</td>
					<td align="center">
						<select 
								class="form-control"
								
								ng-model="mGlobalParameterAdh.UrutanAfi"
								ng-change="GlobalParameterJagaSwitch()"
								ng-options="item.SearchOptionId as item.SearchOptionName for item in optionGlobalParameter1Sama2"
								placeholder="Pilih">
							</select>
					</td>
					<td align="center">
						<div id="toogleItem">
							<div class="input-icon-right">
								<div style="margin-top:5px" class="switch">
									<input ng-change="GlobalParameterJagaSwitch()" ng-model="mGlobalParameterAdh.AfiAuto" id="GlobalParamSwitch" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
									<label for="GlobalParamSwitch"></label>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td align="center">
						Billing
					</td>
					<td align="center">
							<select 
								class="form-control"
								
								ng-model="mGlobalParameterAdh.UrutanBilling"
								ng-change="GlobalParameterJagaSwitch2()"
								ng-options="item.SearchOptionId as item.SearchOptionName for item in optionGlobalParameter1Sama2"
								placeholder="Pilih">
							</select>
					</td>
					<td align="center">
						
					</td>
				</tr>
			  </table>
			
		</div>
		
		<!--<div class="col-md-12" style=" margin-top: 20px">
		  <b style="margin-top:-20px; margin-left:14px; background:white;">Cetakan FKB</b>
			<hr style=" margin-top:0px;"/>
			<p><input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdh.ShowBbn"><label style="margin-left:5px;">Show BBN</label></p>
			<p><input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdh.ShowDiskon"><label style="margin-left:5px;">Show Diskon</label></p>
			<p><input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdh.ShowPph22"><label style="margin-left:5px;">Show PPnBM</label></p>
		</div>-->
		<div class="col-md-11" style="margin-left:20px;border:1px solid lightgrey; padding: 10px 0 15px 0; margin-top: 20px">
			<p style="width:90px; margin-top:-20px; margin-left:14px; background:white;">
				<b>Cetakan FKB</b>
			</p>
			<table style="margin-left:5px">
				<tr>
					<td>
						<p><input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdh.ShowBbn"><label style="margin-left:5px;">Show BBN</label></p>
					</td>
					<td>
						<p><input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdh.ShowDiskon"><label style="margin-left:5px;">Show Diskon</label></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdh.ShowPph22"><label style="margin-left:5px;">Show PPnBM</label></p>
					</td>
					<td>
						<p><input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdh.ShowKaroseri"><label style="margin-left:5px;">Show Karoseri</label></p>
					</td>
				</tr>
			</table>
		</div>	
		<div class="col-md-11" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 20px;margin-left: 20px">
			<p style="width:150px; margin-top:-20px; margin-left:14px; background:white;"><b>Generate Number SPK</b></p>
			<input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdh.GenerateNumberSpkBySystem"><label style="margin-left:5px;">Generate Oleh System</label>
		</div>
		
	
	</div>
	
	<div class="row" style="min-height: 100vh;" ng-if="user.RoleName == 'Admin TAM'">
		<button class="rbtn btn ng-binding ladda-button" style="float: right;margin-top:-10px;margin-right:20px" ng-click="SimpanGlobalParameter()">
			Simpan
		</button>
		
		<!--<div class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 20px;margin-left: 20px">
		  <b style="margin-top:-20px; margin-left:14px; background:white;">Mengaktifasi Tanda Tangan SPK</b>
		  <hr style=" margin-top:0px;"/>
		  <input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminTam.TandaTanganSpk"><label style="margin-left:5px;">Aktifasi Tanda Tangan</label>
		</div>-->
		<div class="col-md-11" style="margin-left:20px;border:1px solid lightgrey; padding: 10px 0 15px 0; margin-top: 10px">
			<p style="width:190px; margin-top:-20px; margin-left:14px; background:white;">
				<b>Mengaktifasi Tanda Tangan SPK</b>
			</p>
			<input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminTam.TandaTanganSpk"><label style="margin-left:5px;">Aktifasi Tanda Tangan</label>
		</div>				
		
		<!--<div class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 20px;margin-left: 20px">
		  <b style="margin-top:-20px; margin-left:14px; background:white;">Mengaktifkan Reserved Stock (User TAM)</b>
		  <hr style=" margin-top:0px;"/>
		  <input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminTam.ReversedStock"><label style="margin-left:5px;">Aktifasi Reserved Stock (User TAM)</label>
		</div>-->
		
		<div class="col-md-11" style="margin-left:20px;border:1px solid lightgrey; padding: 10px 0 15px 0; margin-top: 20px">
			<p style="width:250px; margin-top:-20px; margin-left:14px; background:white;">
				<b>Mengaktifkan Reserved Stock (User TAM)</b>
			</p>
			<input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminTam.ReversedStock"><label style="margin-left:5px;">Aktifasi Reserved Stock (User TAM)</label>
		</div>
		
		<!--<div ng-hide="true" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 20px;margin-left: 20px">
		  <b style="margin-top:-20px; margin-left:14px; background:white;">Mengaktifkan Area Violation (User TAM)</b>
		  <hr style=" margin-top:0px;"/>
		  <input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminTam.AreaViolation"><label style="margin-left:5px;">Aktifasi Area Violation (User TAM)</label>
		</div>-->
		
		<div ng-hide="true" class="col-md-11" style="margin-left:20px;border:1px solid lightgrey; padding: 10px 0 15px 0; margin-top: 20px">
			<p style="width:250px; margin-top:-20px; margin-left:14px; background:white;">
				<b>Mengaktifkan Area Violation (User TAM)</b>
			</p>
			<input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminTam.AreaViolation"><label style="margin-left:5px;">Aktifasi Area Violation (User TAM)</label>
		</div>
		
		<!--<div class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 20px;margin-left: 20px">
		  <b style="margin-top:-20px; margin-left:14px; background:white;">Mengaktifkan Paket DIO/Aksesoris (User TAM) </b>
		  <hr style=" margin-top:0px;"/>
		  <input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminTam.PaketDioAksesoris"><label style="margin-left:5px;">Aktifasi Paket DIO/Aksesoris (User TAM)</label>
		</div>-->
		
		<div class="col-md-11" style="margin-left:20px;border:1px solid lightgrey; padding: 10px 0 15px 0; margin-top: 20px">
			<p style="width:280px; margin-top:-20px; margin-left:14px; background:white;">
				<b>Mengaktifkan Paket DIO/Aksesoris (User TAM)</b>
			</p>
			<input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminTam.PaketDioAksesoris"><label style="margin-left:5px;">Aktifasi Paket DIO/Aksesoris (User TAM)</label>
		</div>
		
		
		
	
	</div>
	
	<div class="row" style="min-height: 100vh;" ng-if="user.RoleName == 'Admin HO'">
		<button class="rbtn btn ng-binding ladda-button" style="float: right;margin-top:-10px;margin-right:20px" ng-click="SimpanGlobalParameter()" ng-disabled="disabledSimpanGlobalParameter">
			Simpan
		</button>
		<!--<div class="col-md-12" style="margin-top: 20px;">
		  <b style="margin-top:-20px; margin-left:14px; background:white;">Kuota Urgent Memo</b> 
		  <hr style=" margin-top:0px;"/>
		  <p><input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminHo.KuotaUrgentMemoAktif"><label style="margin-left:5px;">Aktif/Non Aktif</label></p>
		  <p><label style="margin-left:10px;">Batas Pengajuan Urgent Memo</label> &nbsp;<input id="MasterGlobalParameter_PreventNegative_0" min="0" type="number" ng-model="mGlobalParameterAdminHo.KuotaUrgentMemoKali"> &nbsp; kali</p>
		</div>-->
		
		<div class="col-md-11" style="margin-left:20px;border:1px solid lightgrey; padding: 10px 0 15px 0; margin-top: 10px">
			<p style="width:150px; margin-top:-20px; margin-left:14px; background:white;">
				<b>Kuota Urgent Memo</b>
			</p>
			<p><input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminHo.KuotaUrgentMemoAktif"><label style="margin-left:5px;">Aktif/Non Aktif</label></p>
			<p><label style="margin-left:10px;">Batas Pengajuan Urgent Memo</label> &nbsp;<input id="MasterGlobalParameter_PreventNegative_0" min="0" type="number" ng-model="mGlobalParameterAdminHo.KuotaUrgentMemoKali" ng-disabled="!mGlobalParameterAdminHo.KuotaUrgentMemoAktif"> &nbsp; kali</p>
		</div>
		
		<!--<div class="col-md-12" style=" margin-top: 20px;">
		  <b style="margin-top:-20px; margin-left:14px; background:white;">Kuota Revisi PDD</b>
		  <hr style=" margin-top:0px;"/>
		  <p><input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminHo.KuotaRevisiPddAktif"><label style="margin-left:5px;">Aktif/Non Aktif</label></p>
		  <p><label style="margin-left:10px;">Batas Revisi PDD</label> &nbsp;<input id="MasterGlobalParameter_PreventNegative_1" min="0" type="number" ng-model="mGlobalParameterAdminHo.KuotaRevisiPddKali"> &nbsp; kali</p>
		</div>-->
		
		<div class="col-md-11" style="margin-left:20px;border:1px solid lightgrey; padding: 10px 0 15px 0; margin-top: 20px">
			<p style="width:130px; margin-top:-20px; margin-left:14px; background:white;">
				<b>Kuota Revisi PDD</b>
			</p>
			<p><input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminHo.KuotaRevisiPddAktif"><label style="margin-left:5px;">Aktif/Non Aktif</label></p>
			<p><label style="margin-left:10px;">Batas Revisi PDD</label> &nbsp;<input id="MasterGlobalParameter_PreventNegative_1" min="0" type="number" ng-model="mGlobalParameterAdminHo.KuotaRevisiPddKali" ng-disabled="!mGlobalParameterAdminHo.KuotaRevisiPddAktif"> &nbsp; kali</p>
		</div>
		
		<!--<div class="col-md-12" style="margin-top: 20px;">
		  <b style="margin-top:-20px; margin-left:14px; background:white;">Calculate include PKB</b>
		  <hr style=" margin-top:0px;"/>
		  <p><input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminHo.IncludePkb"><label style="margin-left:5px;">Yes/No</label></p>
		</div>-->
		<div class="col-md-11" style="margin-left:20px;border:1px solid lightgrey; padding: 10px 0 15px 0; margin-top: 20px">
			<p style="width:160px; margin-top:-20px; margin-left:14px; background:white;">
				<b>Calculate include PKB</b>
			</p>
			<p><input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminHo.IncludePkb"><label style="margin-left:5px;">Yes/No</label></p>
		</div>
	
		<div class="col-md-11" style="margin-left:20px;border:1px solid lightgrey; padding: 10px 0 15px 0; margin-top: 20px">
			<p style="width:300px; margin-top:-20px; margin-left:10px; background:white;">
				<b>Komisi Mediator termasuk Komponen Diskon SPK</b>
			</p>
			<p><input style="margin-left:10px;" type="checkbox" ng-model="mGlobalParameterAdminHo.Mediator"><label style="margin-left:5px;">Yes/No</label></p>
		</div>
		
		
		
	
	</div>