<script type="text/javascript">
</script>
<style type="text/css">
</style>

<!--   action-button-settings="actionButtonSettings"
        action-button-settings-detail="actionButtonSettingsDetail"
        show-advsearch="on"

        form-api="formApi"
        linksref="app.queueCategory"
        linkview="queueCategory@app"
 -->

<bsform-base
        ng-form="ReportPartsStockAdjForm"
        loading="loading"
        get-data="getData"

         show-advsearch="on"

        form-api="formApi"
        linksref="app.queueCategory"
        linkview="queueCategory@app"

        form-name="ReportPartsStockAdjForm"
        form-title="ReportPartsStockAdj"
        icon="fa fa-fw fa-child"
>

      <bsform-advsearch>
            <div class="row" style="margin-right:0px;">
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Dealer </label>
                      <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="getDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" required>
                      </bsselect>
                      <bserrmsg field="dealer"> harus diisi </bserrmsg>
                  </div>
                  
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Cabang </label>
                      <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="getCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                      </bsselect>
                      <bserrmsg field="cabang"> harus diisi </bserrmsg>
                  </div>
                  
                 
              </div>
              
            </div>
            <div class="row" style="margin-right:0px;">
              <div class="col-md-3">
                <div class="form-group" show-errors>
                      <bsreqlabel>Periode</bsreqlabel>
                       <bsdatepicker
                      name="dateStart"
                      date-options="dateOptions"
                      ng-model="filter.DateStart" required
                      >
                      </bsdatepicker>
                      <bserrmsg field="dateStart"> harus diisi </bserrmsg>
                </div>
               
                </div>
                <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
                <div class="col-md-3" style="margin-top: 5px;">
                <div class="form-group" show-errors>
                      <label></label>
                       <bsdatepicker
                      name="dateEnd"
                      date-options="dateOptions"
                      ng-model="filter.DateEnd" required
                      >
                      </bsdatepicker>
                      <bserrmsg field="dateEnd"> harus diisi </bserrmsg>
                </div>
              </div>
             
            </div>
            <div class="row" style="margin-right:0px;">
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Referensi </label>
                      <bsselect ng-model="filter.referensi" name="referensi" data="getReferensi" item-text="Referensi" item-value="ReferensiId" on-select="Referensi(selected)" placeholder="Select Referensi" required>
                      </bsselect>
                      <bserrmsg field="referensi"> harus diisi </bserrmsg>
                  </div>
                  
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Reason </label>
                      <bsselect ng-model="filter.reason" name="reason" data="getReason" item-text="ReasonName" item-value="ReasonId" on-select="ReasonId(selected)" placeholder="Select Reason" required>
                      </bsselect>
                      <bserrmsg field="reason"> harus diisi </bserrmsg>
                  </div>
                  
                 
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Tipe Material </label>
                      <bsselect ng-model="filter.material" name="tipematerial" data="getMaterial" item-text="typeName" item-value="typeID" on-select="typeID(selected)" placeholder="Select Material" required>
                      </bsselect>
                      <bserrmsg field="tipematerial"> harus diisi </bserrmsg>
                  </div>
                  
                 
              </div>
            </div>
            <!-- <div class="form-group pull-right">
                    <button type="button" ng-click="getData()" class="rbtn btn"> Filter </button>
                </div> -->
            <br><br>
      </bsform-advsearch>
             
      <bsform-base-main>
          <div class="panel panel-default">
            <div class="panel-heading">SUMMARY</div>    
            <div class="panel-body">
                <!-- <div class=" col-md-5">
                      <div class="row" style="">

                        <div class="form-group form-inline" style="margin-right: -65px;">
                            <label>Qty Tercatat</label>
                            <div class="pull-right"><input type="text" class="form-control" ng-model="tercatat" name="tercatat" style="width: 50%;" disabled></div>
                        </div>

                        <div class="form-group form-inline" style="margin-right: -65px;">
                            <label>Qty Real</label>
                            <div class="pull-right"><input type="text" class="form-control" ng-model="real" name="real" style="width: 50%;" disabled></div>
                        </div>

                        
                      </div>
                </div> -->
                <!-- <div class="col-md-2"> </div> -->
                <div class=" col-md-5">
                      <div class="row" style="">
            
                        <div class="form-group form-inline" style="margin-right: -20px;">
                            <label>Qty Adjust Lebih</label>
                            <div class="pull-right"><input type="text" class="form-control" ng-model="selisihQty" name="selisihQty" style="width: 85%;text-align: right;" disabled></div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: -20px;">
                            <label>Qty Adjust Hilang</label>
                            <div class="pull-right"><input type="text" class="form-control" ng-model="selisihQtylebih" name="selisihQtylebih" style="width: 85%;text-align: right;" disabled></div>
                        </div>
                        
                      </div>
                </div>
                <div class=" col-md-5">
                  <div class="row" style="">
        
                    <div class="form-group form-inline" style="margin-right: -20px;">
                        <label>Total Landed Cost Adjust Lebih</label>
                        <div class="pull-right">Rp <input type="text" class="form-control" ng-model="selisihLC" name="selisihLC" style="width: 85%;text-align: right;" disabled currency-formating number-only></div>
                    </div>
                    <div class="form-group form-inline" style="margin-right: -20px;">
                        <label>Total Landed Cost Adjust Kurang</label>
                        <div class="pull-right">Rp <input type="text" class="form-control" ng-model="TotalLChilang" name="TotalLChilang" style="width: 85%;text-align: right;" disabled currency-formating number-only></div>
                    </div>
                    
                  </div>
                  <div class="col-md-2"> </div> 
            </div>
                <br>
                <div class="col-md-12"> 
                  <div class="pull-right">
                    <button type="button" ng-click="getReport()" class="rbtn btn"> Export Detail</button>
                  </div> 
                </div>
               
            </div>  
            
        </div>
        
      </bsform-base-main>

     

</bsform-base>

