<script type="text/javascript">

</script>
<style type="text/css">

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<div class="row">
  <!-- <div class="col-md-2">
    <label class="control-label">Tipe Download</label>
    <select class="form-control" ng-model="mFilter.RefGITypeID">
      <option value="1">Depo</option>
      <option value="2">TPOS</option>
    </select>
  </div> -->
  <div class="col-md-2">
    <div class="form-group">
      <bsreqlabel>Tanggal PO</bsreqlabel>
      <div class="tanggal">
        <bsdatepicker
          name="startDate"
          date-options="dateOptions"
          ng-model="mData.DocDate"
          >
        </bsdatepicker>
      </div>
      <br>
      <button type="button" class="btn btn-sm btn-danger" ng-click="getData(mData.DocDate)">Download</button> 
      <br>
      
    </div>
  </div>
  
</div>
<div class="row">
  <div class="col-md-6">
    <span class="help-block"><i>Download data PO yang ditujukan kepada vendor DEPO</i></span> 
  </div>
</div>

<!--<bsform-grid
        ng-form="PartsDownloadPOForm"
        factory-name="PartsDownloadPO"
        model="mData"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="PartsDownloadPOForm"
        form-title="PartsDownloadPO"
        modal-title="PartsDownloadPO"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >
</bsform-grid-tree>-->

