<script type="text/javascript">

</script>
<style type="text/css">
    @media only screen and (max-width: 600px) {
        .nav.nav-tabs {
            display: none;
        }
    }
    
    .input-group.input-group-unstyled input.form-control {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    
    .input-group-unstyled .input-group-addon {
        border-radius: 4px;
        border: 0px;
        background-color: transparent;
    }
    
    .adv-srch {
        padding: 10px;
        margin-bottom: 0px;
        border: 1px solid #e2e2e2;
        background-color: rgba(213, 51, 55, 0.02);
    }
    
    .adv-srch-on {
        padding-top: 4px !important;
        padding: 6px;
        margin: 0 3px 0 0;
        margin-bottom: -5px !important;
        border: 1px solid #e2e2e2;
        border-bottom-style: none !important;
        background-color: #FEFBFB;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    
    .colorsrch {
        color: red;
    }
    
    .modalpadding {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
        border-radius: 3px;
    }
    
    /*@media only screen and (max-width: 500px) {
        .btnUp {
            margin-top: 10px !important;
        }
    }*/
    
    .noppadingFormGroup {
        margin-bottom: 0px !important;
    }
    
    .ScrollStyle {
        max-height: 400px;
        overflow-y: scroll;
    }
    
    .item-modal {
        border: none;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd !important;
        margin: 10px 30px 10px 30px !important;
    }
    
    .mobileAddBtn {
        padding: 0 0 0 1!important;
        font-size: 15px;
    }
    
    .mobileFilterBtn {
        padding: 0 0 0 1!important;
        font-size: 13px;
        width: 100%;
        float: right;
        /*background-color: silver;*/
    }
    .filterMarg{
        margin-bottom: 5px;
    }
    
    @media only screen and (max-width: 430px) {
        .iconFilter{
            margin-left: -4px;
        }
    }

     @media only screen and (max-width: 500px) {
        .btnUp{
            margin: -28px 0px 0 0 !important;
        }
    }

     @media (min-width: 501px) and (max-width: 600px) {
        .btnUp{
            margin: -36px 0px 0 0 !important;
        }
    }

    @media (min-width: 601px) {
        .btnUp{
            margin: -33px 0px 0 0 !important;
        }
    }

    @media (max-width: 600px) {
        .inputForm{
            margin: 45px 0 0 0 !important;
        }
    }
    
    .mobilesearchBtn {
        text-decoration: none;
    }
    
    @media (max-width: 350px) {
        .bsbreadcrumb .bsbreadcrumb-path,
        .bsbreadcrumb i {
            display: block !important;
        }
    }
    /*Modal*/
    
    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
        pointer-events: none;
        /* This makes sure that we can still click outside of the modal to close it */
    }
    
    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
        pointer-events: none;
    }
    
    .modal-content {
        /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
        width: inherit;
        height: inherit;
        /* To center horizontally */
        margin: 0 auto;
        pointer-events: all;
    }
    
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .thumb {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="ListTaskDriverMain">
    <bsform-mobile factory-name="ListTaskDriverFactory" bind-data="bind_data" info-totaldata="true" enable-listtoggle="true"
        filter-data="filterData" enable-addbutton="disable" custom-modallihat="true" custom-modalubah="true" custom-modalhapus="true"
        enable-listtoggle="false" info-totaldata="false" service-enable="true" updated-data="updated_data" selected-data="selected_data"
        form-name="ListTaskDriverForm" list-title="List Task Driver" row-template-url="app/sales/sales4/deliveryRequest/listTaskDriver/rowTemplate.html">

        <bsform-mobilemodal>
            <div>
                <a ng-click="lihatDetailListTaskDriver()">
                    <li class="list-group-item item-modal">
                        <span><i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i></span>Lihat Detail</li>
                </a>
                <a ng-click="AssignListTaskDriver()" >
                    <li class="list-group-item item-modal">
                        <span><i class="fa fa-fw fa-lg fa-pencil" style="margin-right: 15px"></i></span>Assign</li>
                </a>
            </div>

        </bsform-mobilemodal>
        <bsform-mobileformdata>
            

        </bsform-mobileformdata>

    </bsform-mobile>
</div>

<div ng-show="ListTaskDriverDetail">
<div class="form-group" style="margin-top:20px">
<div>
<button ng-show="!DisableTheDetailEditing" ng-disabled="selected_data.DriverCategoryId == null || selected_data.DriverId == null" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="ListTaskDriverSaveAssign()">
Simpan
</button>

<button class="wbtn btn ng-binding ladda-button" style="float: right;" ng-click="ListTaskDriverBackToMain()">
Kembali
</button>


</div>                
			<div>	
				<br/>
				<br/>
				<p><b>No. Rangka<br></b>
                </p>
                <p style="color: #888b91">{{selected_data.FrameNo}}
                </p>
            </div>
            <div class="form-group" style="margin-left:-25px">
                <div class="row col-xs-12">
                    <div class="col-xs-4">
                        <p><b>Model<br></b>
                        </p>
                        <p style="color: #888b91">{{selected_data.VehicleModelName}}
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <p><b>Tipe<br></b>
                        </p>
                        <p style="color: #888b91">{{selected_data.Description}}
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <p><b>Warna<br></b>
                        </p>
                        <p style="color: #888b91">{{selected_data.ColorName}}
                        </p>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <p><b>Nama Pelanggan<br></b>
                </p>
                <p style="color: #888b91">{{selected_data.CustomerName}}
                </p>
            </div>
            <div class="form-group">
                <p><b>No. SPK<br></b>
                </p>
                <p style="color: #888b91">{{selected_data.FormSPKNo}}
                </p>
            </div>
            <div class="form-group noppadingFormGroup" ng-class="{ 'has-error' : formPanel.tipe.$invalid && formPanel.tipe.$touched }">
                <label><b>Tujuan Pengiriman</b></label>
                <bsselect ng-disabled="true" id="comboBox" ng-model="selected_data.TujuanPengirimanId" data="optionsTujuanPengiriman" item-text="TujuanPengirimanName" item-value="TujuanPengirimanId" on-select="SOTypeId"
				   placeholder="" icon="fa fa-search">
				</bsselect>
            </div>
            <p>
                <br>
            </p>
            <div class="form-group" style="margin-left:-25px">
                <div class="row col-xs-12">
                    <div class="col-xs-6">
                        <p><b>Tanggal Pengiriman<br></b>
                        </p>
                        <p style="color: #888b91">{{selected_data.SentDate | date:"dd MMMM yyyy"}}
                        </p>
                    </div>
                    <div class="col-xs-6">
                        <p><b>Waktu Pengiriman<br></b>
                        </p>
                        <p style="color: #888b91">{{selected_data.SentTime | date:"HH:mm"}}
                        </p>
                    </div>
                </div>
                <div class="row col-xs-12" ng-if="selected_data.NamaJenisTugas == 'Pengiriman'">
                    <div class="col-xs-6">
                        <p><b>Tanggal Keluar<br></b>
                        </p>
                        <p style="color: #888b91">{{selected_data.OutDate | date:"dd MMMM yyyy"}}
                        </p>
                    </div>
                    <div class="col-xs-6">
                        <p><b><bsreqlabel>Waktu Keluar</bsreqlabel><br></b>
                        </p>
                        
                        <div ng-disabled="DisableTheDetailEditing" uib-timepicker ng-model="mytime" ng-change="ListTaskDriverChangedOutTime(mytime)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"
                        style="float: left;margin-top:-25px"></div>
                    </div>
                </div>
                <div class="row" ng-if="selected_data.NamaJenisTugas != 'Pengiriman'">
                    <div class="col-xs-6">
                        <p><b>Tanggal Kembali<br></b>
                        </p>
                        <p style="color: #888b91">{{selected_data.DateBackEstimated | date:"dd MMMM yyyy"}}
                        </p>
                    </div>
                    <div class="col-xs-6">
                        <p><b>Waktu Kembali<br></b>
                        </p>
                        
                        <div uib-timepicker ng-model="selected_data.DateBackEstimatedTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"
                        style="float: left;"></div>
                    </div>
                </div>

            </div>
            <p>
                <label><b>Direct Delivery dari PDC</b></label>
            </p>
            <p>
                <input ng-disabled="true" ng-model="selected_data.DirectDeliveryBit" type="checkbox">
            </p>
            <div class="form-group">
                <p><b>Lokasi Pengiriman<br></b>
                </p>
                <p style="color: #888b91">{{selected_data.SentAddress}}
                </p>
            </div>
            <div class="form-group noppadingFormGroup" ng-class="{ 'has-error' : formPanel.tipe.$invalid && formPanel.tipe.$touched }">
                <bsreqlabel><b>Kategori Driver</b></bsreqlabel>
                <bsselect ng-disabled="DisableTheDetailEditing" id="comboBox" choice-filter="propsFilter: {DriverCategoryName: $select.search}" ng-model="selected_data.DriverCategoryId" data="optionsCategoryDriver" item-text="DriverCategoryName" item-value="DriverCategoryId" on-select="SelectDriver(selected)"
				   placeholder="" icon="fa fa-search">
				</bsselect>
            </div>
            <p>
                <br>
            </p>

            <div class="form-group noppadingFormGroup" ng-class="{ 'has-error' : formPanel.tipe.$invalid && formPanel.tipe.$touched }">
                <bsreqlabel><b>Driver</b></bsreqlabel>
                <bsselect ng-disabled="DisableTheDetailEditing" id="comboBox" choice-filter="propsFilter: {DriverPDSName: $select.search}" ng-model="selected_data.DriverId" data="optionsDriverThingy" item-text="DriverPDSName" item-value="DriverPDSId" on-select="SOTypeId"
				   placeholder="" icon="fa fa-search">
				</bsselect>
            </div>
            <p ng-show="formPanel.DriverName.$invalid && formPanel.DriverName.$touched" class="help-block">Your Driver Name is required.</p>
            <p>
                <br>
            </p>
</div>