<div style="border: 1px black solid;margin:10px;">
  <div class="row" style="margin:0px;">
    <div class="col-md-6">
      <label style="font-size: 10px;">{{policenumber}}</label>
      <!-- <label style="font-size: 10px;">{{date |date:'HH:mm'}}</label> ini di komen pindah ke bawah katanya mau letak nya sama kaya di jpcb gr -->
    </div>
    <div class="col-md-6" style="text-align: right;">
      <label style="font-size: 10px;">{{date |date:'HH:mm'}}</label>
      <label style="font-size: 10px;">{{planfinish |date:dd/mm/yyyy}} {{timeplanfinish}}</label>
    </div>
  </div>
  <div class="row" style="margin:0px;">
    <div class="col-md-6">
      <label  style="font-size: 10px;">{{modelname}}</label>
    </div>
    <div class="col-md-6" style="text-align: right;">
      <label  style="font-size: 10px;">{{time}}</label>
    </div>
  </div>
  <div class="row" ng-style="bgColor" style="margin:0px; height:24px">
    <div class="col-md-12">
      <!-- <span class="glyphicon glyphicon-user" aria-hidden="true"></span> -->
      <img src="images/boards/jpcb/customer.png" style="padding-left: 10px;" width="24px" ng-show="iconCustomer"/>
      <img src="images/boards/jpcb/inprogress.png" style="padding-left: 10px;" width="24px" ng-show="iconPlay"/>
      <img src="images/boards/jpcb/box.png" style="padding-left: 10px;" width="24px" ng-show="iconPause"/>
      <!-- <img src="images/boards/jpcb/box.png" style="padding-left: 10px;" width="24px" ng-show="iconOff"/> -->
      <img src="images/boards/jpcb/multitask.png" style="padding-left: 10px;" width="24px" ng-show="iconMulti"/>
      <img src="images/boards/jpcb/returnjob.png" style="padding-left: 10px;" width="24px" ng-show="iconReturnJob"/>
      <!-- <img src="images/boards/jpcb/dollar-symbol.png" style="padding-left: 10px;" width="24px" ng-show="iconWarranty"/> -->
      <img src="images/boards/jpcb/TWC.png" style="padding-left: 10px;" width="24px" ng-show="iconWarranty"/>

      <img src="images/boards/jpcb/waitparts.png" style="padding-left: 10px;" width="24px" ng-show="iconWaitingPart"/>
      <!-- <img src="images/boards/jpcb/TWC.png" style="padding-left: 10px;" width="24px" ng-show="iconTWC"/>
      <img src="images/boards/jpcb/PWC.png" style="padding-left: 10px;" width="24px" ng-show="iconPWC"/> -->
    </div>
  </div>
  <div class="row" style="margin:0px;">
    <div class="col-md-4">
      <label style="font-size: 10px;">{{jobtype}}</label>
      <!-- <label style="font-size: 10px;">{{jobtype.JobType.Name}}</label> -->
    </div>
    <div class="col-md-4">
      <img src="images/boards/jpcb/play2.png" style="padding-left: 10px;" width="24px" ng-show="iconDispatch"/>
    </div>
    <div class="col-md-4" style="text-align: right;">
      <label style="font-size: 10px;">{{employeesa.Initial}}</label>
      <label  style="font-size: 10px;">{{listtech}}</label>
    </div>
  </div>
</div>
