<script type="text/javascript">
function IfGotProblemWithModal() {
	$('body .modals').remove();
}
</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

</style>
<link rel="stylesheet" href="css/uistyle.css">

<bsform-grid ng-show="ApprovalPengirimanDenganPengecualianMain" ng-form="ApprovalPengirimanDenganPengecualianForm" factory-name="ApprovalPengirimanDenganPengecualianFactory" model="mApprovalPengirimanDenganPengecualian" model-id="SpkId" loading="loading"
    hide-new-button="true" grid-hide-action-column="true" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows"
    form-name="ApprovalPengirimanDenganPengecualianForm" form-title="Approval Pengiriman Dengan Pengecualian" modal-title="Approval Pengiriman Dengan Pengecualian" modal-size="small" icon="fa fa-fw fa-child">			

</bsform-grid>

<div ng-show="ApprovalPengirimanDenganPengecualianDetail">
		<div class="row">
			<button ng-show="UserIsKacab" ng-click="SetujuApprovalPengirimanDenganPengecualian()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right;">
			<span class="ladda-label">Approve
				</span><span class="ladda-spinner"></span>
			</button>

			<button ng-show="UserIsKacab" ng-click="TidakSetujuApprovalPengirimanDenganPengecualian()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right;">
			<span class="ladda-label">Reject
				</span><span class="ladda-spinner"></span>
			</button>

			<button style="float:right" ng-click="BatalApprovalPengirimanDenganPengecualian()" type="button" class="rbtn btn ng-binding ladda-button">
			<span class="ladda-label">
				Kembali
				</span><span class="ladda-spinner"></span>
			</button>
		</div>
	
	
		
	<div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2" style="">
		<p>
			<ul class="list-inline">
				<li><b>No.SPK</b></li>
			</ul>
			<ul class="list-inline">
				<li>{{mApprovalPengirimanDenganPengecualian.FormSPKNo}}</li>
			</ul>
			<ul class="list-inline">
				<li><b>No.Rangka</b></li>
			</ul>
			<ul class="list-inline">
				<li>{{mApprovalPengirimanDenganPengecualian.FrameNo}}</li>
			</ul>
			<ul class="list-inline">
				<li><b>Nama Pelanggan</b></li>
			</ul>
			<ul class="list-inline">
				<li>{{mApprovalPengirimanDenganPengecualian.CustomerName}}</li>
			</ul>
		</p>

		<div class="row">
			<div class="col-md-3">
	            <div class="form-group">
					<bsreqlabel>Nama Penerima</bsreqlabel>
						<input ng-disabled="!Dec_KonfirmasiWaktuDanAlasanPengiriman_DetailWaktiDanLokasiPengiriman_NamaPenerima_EnableDisable" type="text" class="form-control" name="NoRangka" placeholder="Nama Penerima" ng-model="mApprovalPengirimanDenganPengecualian.ReceiveName" ng-maxlength="50" style="margin-bottom: 10px" required>
				</div>
			</div>
		</div>

		<p>
			<ul class="list-inline">
				<li><b>Model</b></li>
			</ul>
			<ul class="list-inline">
				<li>{{mApprovalPengirimanDenganPengecualian.VehicleModelName}}</li>
			</ul>
			<ul class="list-inline">
				<li><b>Tipe</b></li>
			</ul>
			<ul class="list-inline">
				<li>{{mApprovalPengirimanDenganPengecualian.Description}}</li>
			</ul>
			<ul class="list-inline">
				<li><b>Warna</b></li>
			</ul>
			<ul class="list-inline">
				<li>{{mApprovalPengirimanDenganPengecualian.ColorName}}</li>
			</ul>
		</p>

		<div class="row">
			<div class="col-md-3">
	            <div class="form-group">
					<bsreqlabel>Tanggal Pengiriman</bsreqlabel>
					<bsdatepicker name="tanggal" ng-disabled="!Dec_KonfirmasiWaktuDanAlasanPengiriman_DetailWaktiDanLokasiPengiriman_TanggalPengiriman_EnableDisable" date-options="dateOptions" ng-model="mApprovalPengirimanDenganPengecualian.SentUnitDate">
					</bsdatepicker>
				</div>
			</div>
		</div>
		<bsreqlabel>ETA Customer</bsreqlabel>
		<div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-4" align="center">
            	<div class="form-group">
                		<input ng-disabled="!Dec_KonfirmasiWaktuDanAlasanPengiriman_DetailWaktiDanLokasiPengiriman_WaktuPengiriman_EnableDisable" type="text" class="form-control" name="NoRangka" placeholder="No Rangka" ng-model="mApprovalPengirimanDenganPengecualian.ETACustomer" ng-maxlength="50" required>
            	</div>
        	</div>
        	<div class="col-xs-1" align="center">
            	<div class="form-group">
            		<label>-</label>
            	</div>
        	</div>
        	<div class="col-xs-4" align="center">
            	<div class="form-group">
                		<input ng-disabled="!Dec_KonfirmasiWaktuDanAlasanPengiriman_DetailWaktiDanLokasiPengiriman_WaktuPengiriman_EnableDisable" type="text" class="form-control" name="NoRangka" placeholder="No Rangka" ng-model="mApprovalPengirimanDenganPengecualian.ETACustomerBuntut" ng-maxlength="50" required>
            	</div>
        	</div>
		</div>

		<div class="row">
			<div class="col-md-3">
	            <div class="form-group">
					<bslabel>Alamat Pengiriman</bslabel>
						<textarea ng-disabled="!Dec_KonfirmasiWaktuDanAlasanPengiriman_DetailWaktiDanLokasiPengiriman_AlamatPengiriman_EnableDisable" type="text" class="form-control" name="AlamatPengiriman" placeholder="Alamat Pengiriman" ng-model="mApprovalPengirimanDenganPengecualian.SentAddress" ng-maxlength="50" style="margin-bottom: 10px" required>
						</textarea>
				</div>
			</div>
		</div>
		
		<p>
			<ul class="list-inline">
				<li><b>Direct Delivery Dari PDC?</b></li>
			</ul>
			<ul class="list-inline">
				<li>
					<bscheckbox ng-model="mApprovalPengirimanDenganPengecualian.DirectDeliveryPDC"
                            label="Ya"
                            true-value="true"
                            false-value="false" ng-disabled="!Dec_KonfirmasiWaktuDanAlasanPengiriman_DetailWaktiDanLokasiPengiriman_TanggalPengiriman_EnableDisable">
                	</bscheckbox>
            	</li>
			</ul>
			<ul class="list-inline">
				<li><b>Driver</b></li>
			</ul>
			<ul class="list-inline">
				<li>{{mApprovalPengirimanDenganPengecualian.DriverPDSName}}</li>
			</ul>
			<ul class="list-inline">
				<li id="KeteranganPengecualian" >
					<p>Keterangan Pengecualian</p>
					<p style="margin-left:3px;">
	                	<div>
                        	<input type="checkbox" ng-checked="mApprovalPengirimanDenganPengecualian.DECDetailDeliveryExcReasonView[0].DetailDeliveryExcReasonId == 1" ng-model="mApprovalPengirimanDenganPengecualian.DECDetailDeliveryExcReasonView[0].DetailDeliveryExcReasonId" ng-disabled="!Dec_KonfirmasiWaktuDanAlasanPengiriman_DetailWaktiDanLokasiPengiriman_TanggalPengiriman_EnableDisable"/>
                            <label>Pengiriman Tanpa Aksesoris Lengkap</label>
                        </div>
                        <div>
                           <input type="checkbox" ng-checked="mApprovalPengirimanDenganPengecualian.DECDetailDeliveryExcReasonView[1].DetailDeliveryExcReasonId == 2" ng-model="mApprovalPengirimanDenganPengecualian.DECDetailDeliveryExcReasonView[1].DetailDeliveryExcReasonId" ng-disabled="!Dec_KonfirmasiWaktuDanAlasanPengiriman_DetailWaktiDanLokasiPengiriman_TanggalPengiriman_EnableDisable"/>
                            <label>Pengiriman tanpa STNK tanpa dan No Polisi</label>
                        </div>
                        <div>
                           <input type="checkbox" ng-checked="mApprovalPengirimanDenganPengecualian.DECDetailDeliveryExcReasonView[2].DetailDeliveryExcReasonId == 3" ng-model="mApprovalPengirimanDenganPengecualian.DECDetailDeliveryExcReasonView[2].DetailDeliveryExcReasonId" ng-disabled="!Dec_KonfirmasiWaktuDanAlasanPengiriman_DetailWaktiDanLokasiPengiriman_TanggalPengiriman_EnableDisable"/>
                            <label>Pengiriman Tanpa Washing Drying</label>
                        </div>
					</p>
				</li>
			</ul>
		</p>
	</div>
</div>


<div class="ui modal ModalAlasanPenolakanApprovalPengirimanDenganPengecualian" role="dialog">
        
            <div class="modal-header">
                <button ng-click="BatalAlasanApprovalPengirimanDenganPengecualian()" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alasan Penolakan</h4>
            </div>
			<br/>


            <div class="modal-body">
                <textarea rows="10" cols="80" maxlength="512" placeholder="input alasan..."
							 ng-model="mApprovalPengirimanDenganPengecualian.RejectReason"></textarea>
            </div>
            <div class="modal-footer">
                <!--<button onclick="Lanjut_Clicked()" class="rbtn btn ng-binding ladda-button" style="float: right;">Lanjutkan</button>-->
                <button ng-click="SubmitAlasanApprovalPengirimanDenganPengecualian()" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-disabled="mApprovalPengirimanDenganPengecualian.RejectReason==undefined">Simpan</button>
				<button ng-click="BatalAlasanApprovalPengirimanDenganPengecualian()" class="rbtn btn ng-binding ladda-button" style="float: right;">Batal</button>
            </div>
</div>

<div class="ui modal ModalActionApprovalPengirimanDenganPengecualian" role="dialog">
        
            <div class="modal-header">
                <button ng-click="BatalActionApprovalPengirimanDenganPengecualian()" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Apa Yang Ingin Anda Lakukan?</h4>
            </div>
			<br/>


            <div class="modal-body">
                <a ng-click="SelectApprovalPengirimanDenganPengecualian()">
                    <li class="list-group-item item-modal">
                        <span><i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i></span>Lihat Detail</li>
                </a>
				<a ng-click="SetujuApprovalPengirimanDenganPengecualian()">
                    <li class="list-group-item item-modal">
                        <span><i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i></span>Approve</li>
                </a>
				<a ng-click="TidakSetujuApprovalPengirimanDenganPengecualian()">
                    <li class="list-group-item item-modal">
                        <span><i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i></span>Reject</li>
                </a>
            </div>
            <div class="modal-footer">
				<button ng-click="BatalActionApprovalPengirimanDenganPengecualian()" class="rbtn btn ng-binding ladda-button" style="float: right;">Batal</button>
            </div>
</div>