 
<style type="text/css">

    .signature_container {
        border: 1px solid red;
        padding: 10px 10px 40px 10px;
        position: relative;
        /*margin: 0 auto 0 auto;*/
        height: 100%;
    }

        .signature_container .signature {
            border: 1px solid orange;
            margin: 0 auto;
            cursor: pointer;
        }

            .signature_container .signature canvas {
                border: 1px solid #999;
                margin: 0 auto;
                cursor: pointer;
            }

        .signature_container .buttons {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }

        .signature_container .sizes {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

            .signature_container .sizes input {
                width: 4em;
                text-align: center;
            }

    .signature_result {
        border: 1px solid blue;
        margin: 30px auto 0 auto;
        height: 220px;
        width: 568px;
    }
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<!--script type="text/javascript" src="js/signature.js"></script>
<script type="text/javascript" src="js/signature_pad.js"></script-->

<!-- <div class="formHeader">
    <div id="addMode">
        <button id="addBtn" class="rbtn btn ng-binding ladda-button" style="float: right; bottom: 10px;">Tambah </button>
    </div>

    <div id="editMode">
        <button id="saveBtn" class="rbtn btn ng-binding ladda-button" style="float: right; bottom: 10px;">Simpan </button>
        <button id="cancelBtn" class="rbtn btn ng-binding ladda-button" style="float: right; bottom: 10px;">Batal </button>
    </div>
</div> -->
  
    <!-- edited by K
    <div class="row filtersearch" style="margin-right:0px;padding-bottom:5px; width:100%;">
        <div class="col-md-12" style="padding-right:0px;">
            <div class="input-group">
                <input type="text" ng-model-options="{debounce: 250}" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Filter" ng-model="gridApi.grid.columns[filterColIdx].filters[0].term" style="">
                <div class="input-group-btn dropdown" uib-dropdown="" style="">
                    <button id="filter" type="button" class="btn wbtn ng-binding" uib-dropdown-toggle="" data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div> -->

    <ul class="nav nav-tabchild" style="margin-top:10px;">
        <li class="active"><a data-toggle="tab" href="#" onclick="navigateTab('menuSigning');">Signing</a></li>
        <!--<li><a data-toggle="tab" href="#" onclick="navigateTab('menuProspect');">Prospect</a></li>
        <li><a data-toggle="tab" href="#" onclick="navigateTab('menuPelanggan');">Pelanggan</a></li>-->
    </ul>
     
    <div id="tabContainer" class="tab-content">
        <div id="menuSigning" class="tab-pane fade in active">
            <h3>Customer Signing</h3>
            <p>Tab Signing</p>
            <div  >

                <!--p>My first{{boundingBox.width}} expression: {{ 5 + 5 + Hasil.satu}} </p-->
                <div class="signature_container" ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
                    <signature-pad accept="accept" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
                    <!--<div class="buttons">
                        <button ng-click="clear()">Clear</button>
                        <button ng-click="dataurl = signature.dataUrl" ng-disabled="!signature">Reset</button>
                        <button ng-click="signature = accept()">Sign</button>
                    </div>-->
                    <!--<div class="sizes">
                        <input type="text" ng-model="boundingBox.width"> x <input type="text" ng-model="boundingBox.height">
                    </div>-->
                </div>
                <!--<div class="result img-responsive" ng-show="signature">
                    <img class="img-responsive" ng-src="{{ signature.dataUrl }}">
                </div>
                <div class="signature_container">
                    <p style="word-wrap: break-word;">Image Data (Copy This string as result) <br /> {{signature.dataUrl}}</p>
                </div>-->
            </div>
        </div>  
    </div>

 

 