<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="ProfileBankForm"
        factory-name="ProfileBank"
        model="mProfileBank"
        model-id="ProfileBankId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="ProfileBankForm"
        form-title="ProfileBank"
        modal-title="ProfileBank"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

        <div class="row">
          <div class="col-md-6">


            <div class="form-group" show-errors>
                <bsreqlabel>Account Code</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="AccountCode" placeholder="Account Code" ng-model="mProfileBank.AccountCode"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="AccountCode"></bserrmsg>
            </div>
			
			<div class="form-group" show-errors>
                <bsreqlabel>Account Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="AccountName" placeholder="Account Name" ng-model="mProfileBank.AccountName"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="AccountName"></bserrmsg>
            </div>
			
			<div class="form-group" show-errors>
                <bsreqlabel>Account User</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="AccountUser" placeholder="Account User" ng-model="mProfileBank.AccountUser"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="AccountUser"></bserrmsg>
            </div>
			
			<div class="form-group" show-errors>
			<bslabel>Account Type</bslabel>
			<bsselect name="AccountType" ng-model="mProfileBank.AccountType" data="optionsAccountType" item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Account Type" icon="fa fa-search">
			</bsselect>
			</div>
			<bserrmsg field="AccountType"></bserrmsg>
			
			<div class="form-group" show-errors>
                <bsreqlabel>GL Account Code</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="GLAccountCode" placeholder="GL Account Code" ng-model="mProfileBank.GLAccountCode"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="GLAccountCode"></bserrmsg>
            </div>

          </div>
        </div>
</bsform-grid-tree>

