<script type="text/javascript">
</script>
<style type="text/css">

</style>


<bsform-grid 
    ng-form="UnitPriceForm" 
    factory-name="UnitPriceFactory" 
    model="mUnitPrice" 
    model-id="UnitPriceId" 
    loading="loading" 
    get-data="getData" 
    selected-rows="selectedRows" 
    on-select-rows="onSelectRows" 
    form-name="UnitPriceForm" 
    form-title="Price"
    modal-title="UnitPrice" 
    modal-size="small" 
    icon="fa fa-fw fa-child">

    
    <div class="row">
        <div class="col-md-4">

            <div class="form-group" show-errors>
                <bsreqlabel>Model</bsreqlabel>
                <bsselect name="model" data="VehicleModel" ng-change="filterType(mUnitPrice.VehicleModelId)" item-text="VehicleModelName" item-value="VehicleModelId" ng-model="mUnitPrice.VehicleModelId" placeholder="Select Model" icon="fa fa glyph-left" style="min-width: 150px;" required>
                </bsselect>
                <bserrmsg field="model"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Tipe</bsreqlabel>
                <bsselect name="type" data="vehicleTypefilter" ng-change="filterColor(mUnitPrice.VehicleTypeId)" item-text="Description, KatashikiCode, SuffixCode" item-value="VehicleTypeId" ng-model="mUnitPrice.VehicleTypeId" placeholder="Select Tipe" icon="fa fa glyph-left" style="min-width: 150px;" required>
                </bsselect>
                <bserrmsg field="type"></bserrmsg>
            </div>

             <div class="form-group" show-errors>
                <bsreqlabel>Warna</bsreqlabel>
                <bsselect name="color" data="vehicleTypecolorfilter" item-text="ColorCode, ColorName" item-value="VehicleTypeColorId" ng-model="mUnitPrice.VehicleTypeColorId" placeholder="Select Warna" icon="fa fa glyph-left" style="min-width: 150px;" required>
                </bsselect>
                <bserrmsg field="color"></bserrmsg>
            </div>

            
			<div class="form-group" show-errors>
                <bsreqlabel>Year</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="number" class="form-control" name="Year" placeholder="Year" ng-model="mUnitPrice.Year" ng-maxlength="50" required>
                </div>
                <bserrmsg field="Year"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Price</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="number" class="form-control" name="price" placeholder="Price" ng-model="mUnitPrice.Price" ng-maxlength="50" required>
                </div>
                <bserrmsg field="price"></bserrmsg>
            </div>

        </div>
    </div>
</bsform-grid>