<script type="text/javascript">

</script>
<style type="text/css">
.right-align {
    text-align: right;
}

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="OplForm"
        factory-name="OplFactory"
        model="mOpl"
        model-id="Id"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="OplForm"
        form-title="OPL"
        modal-title="OPL"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
       <div class="row">
          <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Nama Pekerjaan OPL</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" name="OPLWorkName" placeholder="Nama Pekerjaan" ng-model="mOpl.OPLWorkName"  ng-maxlength="50" required>
                </div>
                <bserrmsg field="OPLWorkName"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Harga</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-user"></i>
                    <input type="number" class="form-control" name="Price" placeholder="Harga" ng-model="mOpl.Price"  ng-maxlength="50" required>
                </div>
                <bserrmsg field="Price"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Nama Vendor</bsreqlabel>
                    <bsselect 
                        ng-model="mOpl.VendorId" 
                        data="VendorData" 
                        item-text="Name" 
                        item-value="VendorId" 
                        placeholder="Nama Vendor" 
                        icon="fa fa-search"
                    >
                <bserrmsg field="VendorId"></bserrmsg>
            </div>
              <div class="form-group" show-errors>
                <bsreqlabel>Alamat Penagihan</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="BillingAddress" placeholder="Alamat" ng-model="mOpl.BillingAddress"  ng-maxlength="50" required>
                </div>
                <bserrmsg field="BillingAddress"></bserrmsg>
            </div>

          </div>
        </div>
</bsform-grid-tree>