<div style="margin-left: 10px; margin-right: 10px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default" id="repairProcess_bp_panel">
                
                    <!-- <div style="width: 200px; margin-top: -4px" class="pull-right">
                        <bsdatepicker
                            name="currentDate"
                            date-options="dateOptions"
                            ng-model="repairprocessgrboard.currentDate",
                            ng-change="repairprocessgrboard.reloadBoard()"
                        ></bsdatepicker>
                    </div> -->
                    <!-- <h3 class="panel-title text-center">
                        Working Technician:  &nbsp;&nbsp; In Progress:  &nbsp;&nbsp; Carry Over:  &nbsp;&nbsp; No Show:  &nbsp; Booking:
                    </h3> -->
                <!-- <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                    Repair Process GR
                    </h3>

                    <h3 class="panel-title pull-right" ng-show="repairprocessgrboard.isCurrentDate">
                        &nbsp;&nbsp;{{ clock }}
                    </h3>

                    <div class="clearfix"></div>
                    
                </div> -->
                <div class="panel-body">
                    <div id="repairprocessbpboard" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid"></div>
                </div>

            </div>              
        </div>       
    </div>
</div>

<br/>