 <div class="col-md-12" style="margin-top: 10px; padding-top: 0px; text-align: left; border:1px solid #ccc;">
   <div class="col-xs-12" style="padding-left: 0px; margin-top: 5px;">
     <Label>Job Suggest (Optional)</label>
   </div>
   <div class="col-xs-12"  style="padding-left: 0px;">
     <textarea ng-model="mData.Suggestion" maxlength=300 style="width: 100%;height: 100px;" ng-change="onTypeSuggest(mData.Suggestion)"></textarea>
   </div>
   <div class="col-xs-12" style="margin-top: 5px;padding-left: 0px;">
     <label>Kategori Saran Pekerjaan</label>
   </div>
   <div class="col-xs-12" style="padding-left: 0px;">
      <div class="col-md-6" style="padding-left: 0px;">

          <bscheckbox ng-disabled='!mData.Suggestion || mData.Suggestion == "Tidak ada saran"' ng-model="mData.CategoryJobSuggestKeamanan" label="Safety" ng-click="CountShift()" true-value=1 false-value=0>
          </bscheckbox>
          <bscheckbox ng-disabled='!mData.Suggestion || mData.Suggestion == "Tidak ada saran"' ng-model="mData.CategoryJobSuggestPeraturan" label="Regulation" ng-click="CountShift()" true-value=2 false-value=0>
          </bscheckbox>

      </div>
      <div class="col-md-6" style="padding-left: 0px;">

          <bscheckbox ng-disabled='!mData.Suggestion || mData.Suggestion == "Tidak ada saran"' ng-model="mData.CategoryJobSuggestKenyamanan" label="Comfortable" ng-click="CountShift()" true-value=4 false-value=0>
          </bscheckbox>
          <bscheckbox ng-disabled='!mData.Suggestion || mData.Suggestion == "Tidak ada saran"' ng-model="mData.CategoryJobSuggestEfisiensi" label="Efficiency" ng-click="CountShift()" true-value=8 false-value=0>
          </bscheckbox>

      </div>
  </div>

   <div class="col-xs-12" ng-hide="true">
    <input type="text" ng-model="mData.SuggestionCatg">
   </div>
   <div class="col-md-12" style="padding-left: 0px; margin-bottom: 10px;">
     <div class="col-xs-12"  style="padding-left: 0px;">
       <bsreqlabel>Tanggal Job Selanjutnya</bsreqlabel><span style="font-size: 10px;">(dd/mm/yyyy)</span>
     </div>
     <div class="col-xs-12" style="padding-left: 0px;">
        <bsdatepicker ng-disabled='!mData.Suggestion || mData.Suggestion == "Tidak ada saran"' name="SuggestionDate" date-options="DateOptions" ng-model="mData.SuggestionDate" required="true" min-date="mindatesuggestion">
        </bsdatepicker>
    </div>
   </div>
<!--    <div class="col-xs-12" style="text-align: right; margin-top: 10px;">
     <button class="rbtn btn" ng-click="SimpanJobSuggest(mData)" style="background-color:rgb(213,51,55);">Simpan</button>
   </div> -->
 </div>