 <style type="text/css">
     th.active {
         background-color: red;
         color: white;
     }
     
     /* .border-medium {
         border-width: 2px;
         border-style: solid;
         border-radius: 5px;
     } */
     
     .border-thin {
         border-width: 1px;
         border-style: solid;
         border-radius: 3px;
     }
     
     .select-area-field-label {
         font-size: 11px;
         background-color: floralwhite;
         padding: 2px;
         position: relative;
         top: -20px;
         left: -40px;
     }
     
     .select-areas-overlay {
         /*background-color: #ccc;*/
         background-color: #fff;
         overflow: hidden;
         position: absolute;
     }
     
     /* .blurred { */
         /*filter: url("/filters.svg#blur3px");
         -webkit-filter: blur(3px);
         -moz-filter: blur(3px);
         -o-filter: blur(3px);
         filter: blur(3px);*/
     /* } */
     
     .select-areas-outline {
         /*background: url('../images/outline.gif');*/
         overflow: hidden;
         padding: 2px;
     }
     
     .choosen-area {
         /*background-color: red;*/
         border: 2px solid red;
     }
     
     .select-areas-resize-handler {
         border: 2px #fff solid;
         height: 10px;
         width: 10px;
         overflow: hidden;
         background-color: #000;
     }
     
     .select-areas-delete-area {
         background: url('../images/bt-delete.png');
         cursor: pointer;
         height: 20px;
         width: 20px;
     }
     
     .delete-area {
         position: absolute;
         cursor: pointer;
         padding: 1px;
     }
     
     /* .containeramk {
         border: 1px solid red;
         padding: 10px 10px 40px 10px;
         position: relative;
         margin: 0 auto 0 auto;
         height: 100%;
     }
     
     .containeramk .signature {
         border: 1px solid orange;
         margin: 0 auto;
         cursor: pointer;
     }
     
     .containeramk .signature canvas {
         border: 1px solid #999;
         margin: 0 auto;
         cursor: pointer;
     }
     
     .containeramk .buttons {
         position: absolute;
         bottom: 10px;
         left: 10px;
         visibility: hidden;
     }
     
     .containeramk .buttonsamk {
         position: absolute;
         bottom: 2px;
         left: 10px;
     }
     
     .containeramk .signature_container {
         visibility: hidden;
     }
     
     .result {
         border: 1px solid blue;
         margin: 30px auto 0 auto;
         height: 220px;
         width: 568px;
     } */
 </style>
 <div class="row" ng-if="false">
    <uib-tabset active="activeJustified" justified="true" style="margin-top: 40px;">
        <!-- <bstabwiz-pane title="Job Instruction"> -->
            <!-- chooseVType -->
        <uib-tab ng-repeat="header in headerWAC" index="$index" heading="{{header.GroupName}}" ng-click="tabClickWAC(header.Id)">
                                
            <div class="row" ng-if="$index == 0">
                <!-- <div class="col-md-12" style="margin-bottom:20px;">
                    <table style="width:100%">
                        <tr>
                            <th class="active text-center header">EXTERIOR</th>
                        </tr>
                    </table>
                </div> -->
                <div class="col-md-12" style="margin-top: 10px;">
                    <div class="row" >
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Type Kendaraan</label>
                                    <bsselect name="filterType"
                                            ng-model="filter.vType"
                                            data="VTypeData"
                                            item-text="Name" 
                                            item-value="MasterId" 
                                            placeholder="Pilih Type Kendaraan"
                                            icon="fa fa-car"
                                            ng-disabled="true"
                                            skip-enabled>
                                    </bsselect>
                                    <!-- 
                                            on-select="chooseVType(selected)" -->
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <img ng-init="this.init" ng-areas="areasArray" ng-areas-width="800"
                                ng-areas-allow="{'edit':true, 'move':false, 'resize':false, 'select':false, 'remove':false, 'nudge':false}"
                                ng-src="{{imageSel}}" ng-areas-on-add="onAddArea" ng-areas-on-remove="onRemoveArea" ng-areas-on-change="onChangeAreas" ng-areas-on-choose="doClick" ng-areas-extend-data="statusObj" ng-areas-prev-only="true"
                                area-api="areaApi">
                            <!-- <pre>{{logDots}}</pre>  -->
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="$index == 1">
                <div class="col-md-12" style="margin-top: 25px;">
                    <div ui-grid="gridExt" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                    </div>
                </div>
            </div>
            <div ng-if="$index == 2">
                <div class="col-md-12" style="margin-top: 25px;">
                    <div ui-grid="gridInt" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                    </div>
                    <!--<input type="submit" value="Testing Grid" ng-click="goGetGrid(mDataforWacWAC)">-->
                </div>
            </div>
            <div ng-if="$index == 3">
                <div class="col-md-12" style="margin-top: 25px;">
                    <div ui-grid="gridElec" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                    </div>
                    <!--<input type="submit" value="Testing Grid" ng-click="goGetGrid(mDataforWacWAC)">-->
                </div>
            </div>
            <div ng-if="$index == 4">
                <div class="col-md-12" style="margin-top: 25px;">
                    <div ui-grid="gridEquip" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                    </div>
                    <!--<input type="submit" value="Testing Grid" ng-click="goGetGrid(mDataforWacWAC)">-->
                </div>
            </div>
            <div ng-if="$index == 5">
                <div class="col-md-12" style="margin-top: 25px;">
                    <div ui-grid="gridDoc" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                    </div>
                    <!--<input type="submit" value="Testing Grid" ng-click="goGetGrid(mDataforWacWAC)">-->
                </div>
            </div>
            <div ng-if="$index == 7">
                <div class="col-md-12" style="margin-top: 25px;">
                    <div ui-grid="gridEquipSafe" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                    </div>
                    <!--<input type="submit" value="Testing Grid" ng-click="goGetGrid(mDataforWacWAC)">-->
                </div>
            </div>
            <div ng-if="$index == 8">
                <div class="col-md-12" style="margin-top: 25px;">
                    <div ui-grid="gridPersonal" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                    </div>
                    <!--<input type="submit" value="Testing Grid" ng-click="goGetGrid(mDataforWacWAC)">-->
                </div>
            </div>
            <div ng-if="$index == 6">
                <!--<p> Index 6 </p>-->
                <div style="margin-top : 25px;" oc-lazy-load="['summernote']">
                    <!--<input type="text" ng-model="" ng-hide="true" />-->
                    <summernote name="content" config="summernoteOptions2" ng-model="gridOther.data[0].OtherDescription" required></summernote>
                    <bserrmsg field="content"></bserrmsg>
                </div>
            </div>

        </uib-tab>

    </uib-tabset>
</div>
<!-- ========================= -->
<div class="col-md-12">
    <style>
        /*.popover {
            position: absolute;
            display: none;
            background: #fff;
            border: 1px solid #999;
            padding: 10px;
            width: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        }*/
        /*.popover:after,
        .popover:before {
            right: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        
        .popover:after {
            border-color: rgba(255, 255, 255, 0);
            border-right-color: #ffffff;
            border-width: 10px;
            top: 50%;
            margin-top: -10px;
        }
        
        .popover:before {
            border-color: rgba(201, 201, 201, 0);
            border-right-color: #c9c9c9;
            border-width: 11px;
            top: 50%;
            margin-top: -11px;
        }*/
    </style>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>KM *</label>
                <!-- <input class="form-control input-lg" type="text" ng-model="mDataforWac.Km"></input> -->
                <input type="text" step="1" min="0" class="form-control input-lg" name="Km" placeholder="Km" ng-model="mDataforWac.Km" ng-maxlength="7" maxlength="7" ng-keyup="givePattern(mDataforWac.Km,$event)">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Money Amout</label>
                <!-- <input class="form-control input-lg" type="text" ng-model="mDataforWac.MoneyAmount"></input> -->
                <input type="text" class="form-control input-lg" placeholder="Money Amount" name='moneyAmount' ng-model="mDataforWac.moneyAmount" ng-keyup="givePatternMoney(mDataforWac.moneyAmount,$event)">
            </div>
        </div>
        <div id="slide" class="col-md-6">
            <label for="slider">Fuel</label>
            <div class="scaleWarp">
                <!-- <span style=" font-size: 20px;font-weight:bold;">|</span> -->
                <garis>|</garis>
                <garis style=" font-size: 20px;font-weight:bold;">|</garis>
                <garis>|</garis>
                <!-- <span style=" font-size: 20px;font-weight:bold;">|</span> -->
            </div>
            <rzslider ng-disabled="true" disable="disabled" skip-enable class="custom-slider" rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="0" justified="true" style="margin-top: 40px;">
                <uib-tab ng-repeat="header in headerWAC" index="$index" heading="{{header.GroupName}}" ng-click="tabClickWAC(header.Id,header.GroupName)">
                    <div ng-if="$index == 0">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Type Kendaraan</label>
                                        <!-- <select class="form-control" name="filterType" convert-to-number ng-model="filter.vType" data="VTypeData" placeholder="Pilih Type Kendaraan" ng-change="chooseVType(filter.vType)" icon="fa fa-car">
                                            <option value=""></option>
                                            <option ng-repeat="VTypeData in VTypeData" value="{{VTypeData.MasterId}}">{{VTypeData.Name}}</option>
                                        </select> -->
                                        <!-- <div class="icon-addon left-addon ui-select"><i class="fa fa-car"></i>
                                            <ui-select name="vehicType"  ng-model="filter.vType" icon="fa fa-car" on-select="chooseVType($item)" search-enabled="false" skip-enable theme="select2">
                                                <ui-select-match style="padding-left:30px;" allow-clear placeholder="Pilih Tipe Kendaraan">
                                                    {{$select.selected.Name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in VTypeData">
                                                    <span ng-bind-html="item.Name"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div> -->
                                        <bsselect name="FilterType" ng-model="filter.vType" data="VTypeData"  on-select="chooseVType(filter.vType)" item-text="Name" item-value="MasterId" placeholder="Tipe Kendaraan" style="margin-top: 33px;">
                                        </bsselect>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" ng-if="isTablet">
                                    <img ng-init="this.init" ng-areas="areasArray" ng-areas-width="680" ng-areas-allow="{'edit':true, 'move':false, 'resize':false, 'select':false, 'remove':false, 'nudge':false}" ng-src="{{imageSel}}" ng-areas-on-add="onAddArea" ng-areas-on-remove="onRemoveArea"
                                        ng-areas-on-change="onChangeAreas" ng-areas-on-choose="doClick" ng-areas-extend-data="statusObj" area-api="areaApi">
                                    <!-- <pre>{{logDots}}</pre>  -->
                                </div>
                                <div class="col-md-12" ng-if="!isTablet">
                                    <img ng-init="this.init" ng-areas="areasArray" ng-areas-width="750" ng-areas-allow="{'edit':true, 'move':false, 'resize':false, 'select':false, 'remove':false, 'nudge':false}" ng-src="{{imageSel}}" ng-areas-on-add="onAddArea" ng-areas-on-remove="onRemoveArea"
                                        ng-areas-on-change="onChangeAreas" ng-areas-on-choose="doClick" ng-areas-extend-data="statusObj" area-api="areaApi">
                                    <!-- <pre>{{logDots}}</pre>  -->
                                </div>
                            </div>
                            <div class="row" ng-show="!disableWACExt">
                                <div class="col-md-12">
                                    <div ui-grid="grid" ui-grid-move-columns ui-grid-resize-columns ui-grid-pagination ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize ui-grid-edit class="grid" ng-style="getTableHeight()">
                                        <div class="ui-grid-nodata" ng-if="!grid.data.length && !loading" ng-cloak>No data available</div>
                                        <!-- <div class="ui-grid-nodata" ng-if="loading" ng-cloak>Loading data... <i class="fa fa-spinner fa-spin"></i></div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        
                                        <bscheckbox ng-model="disableWACExt" label="Clear" true-value="true" false-value="false" ng-change="chgChk()">
                                        </bscheckbox>
                                      
                                    </div>
                                    <div class="col-md-8">
                                        <div class="containeramk" ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
                                            <signature-pad accept="accept" clear="clear" style="height:165px;" height="165" width="500" dataurl="signature.dataUrl"></signature-pad>

                                            <div class="buttonsamk">
                                                <button class="btn wbtn" ng-disabled="disableReset" skip-enable ng-click="clear()">Clear</button>
                                                <!-- <button class="btn rbtn" ng-click="dataurl = signature.dataUrl" ng-disabled="!signature">Reset</button> -->
                                                <button class="btn rbtn" ng-click="signature = accept(); open(signature)">Sign</button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                       
                                        <image-control max-upload="4" is-image="1" img-upload="uploadFiles" multiple>
                                            <form-image-control>
                                                <input capture="camera" type="file" bs-upload="onFileSelect($files)" img-upload="uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1;">
                                                <input type="file" ng-init="mDataforWac.UploadPhoto = uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1; display:none">
                                            </form-image-control>
                                        </image-control>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mantul  -->
                    <div ng-if="$index !== 0">
                        <div class="col-md-12" ng-if="header.Quantity > 0" style="margin-top: 25px;">
                            <div ng-if="$index !== 0 && header.GroupName == gridName" ui-grid="data['gridData'+header.GroupName]" ui-grid-cellNav ui-grid-auto-resize class="grid" ng-cloak>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="header.Quantity == 0">
                            <!-- <div style="margin-top : 25px;" oc-lazy-load="['summernote']">
                                <summernote name="content" config="summernoteOptions2" ng-model="gridOther[0].OtherDescription" required></summernote>
                                <bserrmsg field="content"></bserrmsg>
                            </div> -->
                            <input ng-hide="true" type="text" ng-model="gridOther[0].OtherDescription" class="form-control">
                            <textarea name="content" ng-model="gridOther[0].OtherDescription" ng-maxlength="200" maxlength="200" style="width: 100% ; height: 200px;">

                            </textarea>
                        </div>
                    </div>
                    
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>