<form name="QCForm" ng-submit="submitForm(QCForm.$valid)" novalidate> 
    <div class="col-md-12" style="margin-top: 20px;">
      <div class="col-md-2" style="margin-top: 10px;">
        <label>Pertanyaan QC</label>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <div class="radio-inline">
            <label class="radio">
                <input type="radio" name="ChipIsPassQc" class="radiobox style-0"
                  ng-model="mData.ChipIsPassQc"
                  ng-click="showAlasanLolosQC(1)"
                  ng-disabled = "cekQC"
                  value=1>
              <span>Lolos QC</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <div class="radio-inline">
            <label class="radio">
                <input type="radio" name="ChipIsPassQc" class="radiobox style-0"
                  ng-model="mData.ChipIsPassQc"
                  ng-click="showAlasanLolosQC(2)"
                  ng-disabled = "cekQC"
                  value=0>
              <span>Tidak Lolos QC</span>
            </label>
          </div>
        </div>
      </div>
    </div> 
    <div class="col-md-12" style="margin-top: 10px;" ng-show="showPetugasQc">
      <div class="form-group" ng-class="{ 'has-error' : QCForm.DataPetugasQC.$invalid && !QCForm.DataPetugasQC.$pristine }">
          <div class="col-md-2">
            <bsreqlabel style="margin-top: 10px;">Petugas QC</bsreqlabel>
          </div>
          <div class="col-md-3">
            <bsselect
                      name="ChipQcTechnicianId"
                      data="DataPetugasQC"
                      item-text="Initial"
                      item-value="EmployeeId"
                      ng-model="mData.ChipQcTechnicianId"
                      placeholder="Petugan QC"
                      required>
            </bsselect>
            <p ng-show="QCForm.DataPetugasQC.$invalid && !QCForm.DataPetugasQC.$pristine" class="help-block">Wajib diisi</p>
          </div>
        </div>
      </div>
    <!-- <div class="col-md-3" ng-hide="ButtonLolosQC">
      <button class="form-control" ng-click="showAlasanLolosQC(1)">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> LOLOS QC
      </button>
    </div>
    <div class="col-md-3" ng-show="ButtonLolosQC" ng-click="showAlasanLolosQC(2)">
      <button class="form-control" style="background-color: #80ffaa;" ng-disabled="true">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> LOLOS QC
      </button>
    </div> -->

    <!-- <div class="col-md-3" ng-hide = "ButtonTidakLolosQC">
      <button class="form-control" ng-click="showAlasanTidakLolosQC(1)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> TIDAK LOLOS QC
      </button>
    </div> -->
    <!-- <div class="col-md-3" ng-show = "ButtonTidakLolosQC">
      <button class="form-control" ng-click="showAlasanTidakLolosQC(2)" style="background-color: #ff8080;" ng-disabled="true">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> TIDAK LOLOS QC
      </button>
    </div> -->
  <!-- </div> -->
  <div class="col-md-12" ng-show="show" style="margin-top: 10px;">
    <div class="col-md-2">
      <bsreqlabel>Re Do Ke Proses</bsreqlabel>
    </div>
    <div class="col-md-3">
      <bsselect name="Group"
                ng-model="mData.RedoToChipKe"
                data="ProcesRoDo"
                item-text="Name"
                item-value="Redoid"
                placeholder="Proces Ro Do">
      </bsselect>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12" ng-show="show" style="margin-top: 10px;">
      <div class="col-md-2" style="margin-top: 5px;">
          <div class="col-md-12" style="padding-left: 0px; font-size: 12.5px;">
            <bsreqlabel>Kembali Ke Pekerjaan</bsreqlabel>
          </div>
      </div>
      <!--  ng-repeat = "FinalDataWoList in FreDoJob.JobTask" -->
      <!-- ng-show ="FreDoJob.Status == 4"  -->
      <div class="col-md-10">
          <!-- <div class="col-md-12" ng-repeat = "FreDoJob in fJobTask" style="padding-left: 0px;">
            <bscheckbox 

                  ng-model = "mData.FreDoJob[$index]"
                  label="{{FreDoJob.TaskName}}"
                  ng-change="ChoseDataQC(FreDoJob.JobTaskId)">
            </bscheckbox>
          </div> -->
          <div class="col-md-12" ng-repeat = "FreDoJob in DataFI" style="padding-left: 0px;">
            <bscheckbox 

                  ng-model = "mData.FreDoJob[$index]"
                  label="{{FreDoJob.TaskName}}"
                  ng-change="ChoseDataQC(FreDoJob.JobTaskId)">
            </bscheckbox>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 10px;" ng-show = "show" >
    <div class="col-md-6" style="padding-left: 0px;">
      <div class="col-md-12" style="margin-bottom: 10px;">
        <label>Alasan Tidak Lolos QC</label>
      </div>
      <div class="col-md-12" style="padding-right: 0px;margin-top: 5px;">
        <textarea style="width: 100%;height: 100px;" ng-model="mData.ChipNotPassQcReason" ng-maxlength="200" maxlength="200" ></textarea>
      </div>
    </div>
    <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
      <div class="col-md-12">
        <bscheckbox 
              ng-model = "mData.ChipIsOtherReason"
              label="Lainnya"
              true-value=1
              false-value=0>
        </bscheckbox>
      </div>
      <div class="col-md-12" style="padding-right: 0px;padding-right: 0px;">
        <textarea style="width: 100%;height: 100px;" ng-model="mData.ChipOtherReason" ng-maxlength="100" maxlength="100" ng-disabled = "mData.ChipIsOtherReason == 0 || mData.ChipIsOtherReason == '' ||mData.ChipIsOtherReason == undefined || mData.ChipIsOtherReason == null"></textarea>
      </div>
    </div>
  </div>
  <div class="col-md-12" ng-show="show">
    <div class="col-md-12">
      <label>Catatan Tambahan</label>
    </div>
    <div class="col-md-12" style="padding-right: 0px;">
      <textarea style="width: 100%;height:100px; " ng-model = "mData.ChipAdditionNote" ng-maxlength="200" maxlength="200"></textarea>
    </div>
  </div>
    <!-- <div class="col-md-6">
      <div class="col-md-12">
        <label>Lainnya</label>
      </div>
      <div class="col-md-12">
        <textarea style="width: 100%;height: 50px;" ng-model="mData.AlasanLainnya"></textarea>
      </div>
    </div>
    <div class="col-md-12">
      <hr>
    </div> -->
  <div class="col-md-12" ng-show = "show" style="margin-top: 10px;">
      <div class="col-md-12" style="padding-left: 0px;">
        <!-- <div class="col-md-12">
          <label>Defect List</label>
        </div> -->
        <div class="col-md-12">
            <div class="col-md-4" style="padding-left: 0px;">
                <div class="col-md-12" style="padding-left: 0px;">
                  <label style="margin-top: 10px;">Nama Pekerjaan</label>
                </div>
                <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                  <bsselect name="GroupPekerjaan"
                            ng-model="mData.NamePekerjaanDefect"
                            data="dataPekerjaanDefect"
                            item-text="Name"
                            item-value="Id"
                            placeholder="Nama Pekerjaan">
                  </bsselect>
                </div>
              </div>
          <div class="col-md-4" style="padding-left: 0px;">
            <div class="col-md-12" style="padding-left: 0px;">
              <label style="margin-top: 10px;">Nama Defect</label>
            </div>
            <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
              <bsselect name="Group"
                        ng-model="mData.NameDefect"
                        data="dataDefect"
                        item-text="Name"
                        item-value="Id"
                        placeholder="Defect">
              </bsselect>
              <!-- disallow-space -->
              <!-- <bstypeahead placeholder="Nama Pekerjaan" name="NameDefect"
                   ng-model="mData.NameDefect"
                   get-data="getDefectTypeAhead"
                   item-text="Name"
                   ng-maxlength="250"
                   
                   loading="loadingUsers"
                   noresult="noResults"
                   selected="selected"
                   on-select="onSelectWork"
                   on-noresult="onNoResult"
                   on-gotresult="onGotResult",
                   ta-minlength="4"
                   icon="fa-id-card-o"
              >
              </bstypeahead> -->
            </div>
          </div>
          <div class="col-md-3" style="padding-left: 0px;">
            <div class="col-md-12" style="padding-left: 0px;">
              <label style="margin-top: 10px;">Jumlah</label>
            </div>
            <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
              <input type="number"  class="form-control"  name="JumlahDefect" placeholder="Jumlah Defect" ng-model = "mData.JumlahDefect" style="width: 100%;margin-right: 10px;">
            </div>
          </div>
          <div class="col-md-2">
            <div class="col-md-1" style="padding-left: 0px;">
              <span class="glyphicon glyphicon-plus" ng-click="addDefectList(mData)" title="Tambah Data" aria-hidden="true" style="margin-top: 10px;padding-left: 0px;"></span>
            </div>
           <!--  <div class="col-md-1" style="padding-left: 0px;">
                <span class="glyphicon glyphicon-minus" ng-click="deleteDefectList()" title="Hapus Data" aria-hidden="true" style="margin-top: 10px;"></span>
            </div> -->
          </div>
        </div>
        <!-- ng-init = "getDataDefect()"  on-select-rows="onSelectRowsDef(row)"  -->
        <div class="col-md-11" style="margin-top: 11px;">
          <div ui-grid="gridDefect" class="grid" ui-grid-edit ui-grid-cellnav ui-grid-resize-columns ui-grid-move-columns ui-grid-selection style="margin-bottom: 10px;margin-top: 10px;height:205px;"></div>
        </div>
      </div>


      <bsui-modal 
          show="show_modal.show" 
          title="Update Jumlah Defect" 
          data="mData" 
          on-save="updateDefectFinal" 
          on-cancel="updateDefectCancel"
          mode="modalMode"
      >
        <div class="col-md-12">
          
          <div class="col-md-5" style="padding-left: 0px;">
            <div class="col-md-12" style="padding-left: 0px;">
              <label style="margin-top: 10px;">Jumlah</label>
            </div>
            <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
              <input type="number"  class="form-control"  name="JumlahDefect" placeholder="Jumlah Defect" ng-model = "mData.JumlahDefect" style="width: 100%;margin-right: 10px;">
            </div>
          </div>
          
          <div class="col-md-5" style="padding-left: 0px;" ng-hide="true">
            <div class="col-md-12" style="padding-left: 0px;">
              <label style="margin-top: 10px;">Defect Id</label>
            </div>
            <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
              <input type="number"  class="form-control"  name="qty" placeholder="Defect Id" ng-model = "mData.qty" style="width: 100%;margin-right: 10px;">
            </div>
          </div>
        
        </div>
      </bsui-modal>


      <!-- <div class="col-md-12" style="text-align: right;">
        <button ng-click="closeData()" class="btn btn-danger">Simpan</button>
        <button ng-click="closeQC(mData)" class="btn btn-default">Batal</button>
      </div> -->
    
  </div>
  <div class="col-md-12" style="text-align: right;" ng-show="ButtonTidakLolosQC" ng-repeat="z in DataModel | filter : {JobId : xchoseData}">
      <button ng-click="simpanQC(mData,z.JobId,z.ActiveChip)" class="btn btn-danger">Simpan</button>
      <!-- <button ng-click="closeQC(mData)" class="btn btn-default">Batal</button> -->
  </div>
  <div class="col-md-12" style="text-align: right;" ng-show="ButtonLolosQC" ng-repeat="z in DataModel | filter : {JobId : xchoseData}">
      <button ng-click="simpanLolosQC(mData,z.JobId,z.ActiveChip)" class="btn btn-danger">Simpan</button>
      <!-- <button ng-click="closeQC(mData)" class="btn btn-default">Batal</button> -->
  </div>
</form>