<style>
/*--------------------
        Field
---------------------*/

.ui.form .formly-field {
  clear: both;
  margin: 0em 0em 1em;
}

.ui.form .formly-field .field {
  clear: both;
  margin: 0em 0em 1em;
}

.ui.form .formly-field .field:last-child,
.ui.form .formly-field .fields:last-child .field {
  margin-bottom: 0em;
}

.ui.form .formly-field .fields .field {
  clear: both;
  margin: 0em 0em 1em;
}

/*--------------------
        Labels
---------------------*/

/*.ui.form .formly-field .field > label {
  display: block;
  margin: 0em 0em 0.28571429rem 0em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: bold;
  text-transform: none;
}*/
</style>
    <div class="row" style="background-color:#fff;">
        <div class="sixteen column" style="margin:0 20px 0 20px;">
            <div ng-controller="FormlyDemoController as vm">
                <div>
                    <h1>{{::vm.formTitle}}</h1>
                    <h4>Angular: {{::vm.env.angularVersion}}  Formly: {{vm.env.formlyVersion}}</h4>
                    <div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="ui segment">
                                        <formly-form model="vm.model" fields="vm.fields">
                                            <button type="submit" class="ui button" ng-click="vm.submit(vm.model)">Submit</button>
                                        </formly-form>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="ui segment">
                                        <h2>vm.model</h2>
                                        <pre>{{vm.model | json}}</pre>
                                        <h2>vm.fields <small>(note, functions are not shown)</small></h2>
                                        <pre>{{vm.fields | json}}</pre>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



<script type="text/javascript">

</script>