<script type="text/javascript">
</script>
<style type="text/css">

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mData" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

    <!--on-before-edit-mode="stringToInt" -->
    <!-- on-after-new-mode="onAfterNewMode" -->
    <!-- on-before-edit-mode="stringToInt" -->



<bsform-grid
    ng-form="VehicleFareForm"
    factory-name="VehicleFare"
    model="mData" 
    model-id="VehicleFareId" 
    loading="loading" 
    get-data="getData"

    selected-rows="selectedRows" 
    on-select-rows="onSelectRows" 
    on-before-new-mode="onBeforeNewMode"
    on-show-detail="onShowDetail"
    on-validate-save="onValidateSave"
    do-custom-save="doCustomSave"

    custom-action-button-settings='actionButtonSettingsDetail'

    form-name="VehicleFareForm" 
    form-api="formApi"
    form-title="Vehicle Fare" 
    modal-title="Vehicle Fare"
    modal-size="small" 
    icon="fa fa-fw fa-child"
>

  <!-- IF USING FORMLY -->
  <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

  <!-- IF NOT USING FORMLY -->
  <!--  on-select="selectPeriod(selected)" -->
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-md-6">
          <bsreqlabel>Model Kendaraan</bsreqlabel>
          <bsselect name="CarType"
                  ng-model="mData.VehicleModelId"
                  data="VehicM"
                  item-text="VehicleModelName"
                  item-value="VehicleModelId"
                  placeholder="Pilih Car Type"
                  on-select="selectVehicleModel()"
                  ng-disabled="disModel"
                  required>
          </bsselect>
          <!-- <input type="text" name="model" ng-model="mData.VM"> -->
          <bserrmsg field="CarType"></bserrmsg>
        </div>
      </div> 
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <div class="col-md-6">
          <bsreqlabel>Service Rate</bsreqlabel>
          <input type="number" class="form-control" name="SRate" placeholder="Service Rate" ng-model="mData.ServiceRate" ng-maxlength="16" required>
          <bserrmsg field="fare"></bserrmsg>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <div class="col-md-6">
          <bsreqlabel>Warranty Rate</bsreqlabel>
          <input type="number" class="form-control" name="WRate" placeholder="Warranty Rate" ng-model="mData.WarrantyRate" ng-maxlength="16" required>
          <bserrmsg field="WRate"></bserrmsg>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <div class="col-md-6">
          <bsreqlabel>Berlaku Dari</bsreqlabel>
          <bsdatepicker name="ValidFrom" date-options="dateOptions" ng-model="mData.ValidFrom" required>
          </bsdatepicker>
          <bserrmsg field="ValidFrom"></bserrmsg>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <div class="col-md-6">
          <bsreqlabel>Berlaku Sampai</bsreqlabel>
          <bsdatepicker name="ValidTo" date-options="dateOptions" ng-model="mData.ValidTo" required>
          </bsdatepicker>
          <bserrmsg field="ValidTo"></bserrmsg>
        </div>
      </div>
    </div>

      <!-- <div class="form-group" show-errors>
        <bsreqlabel>Type</bsreqlabel>
        <select name="type" ng-model="mData.Type" required class="form-control">
                  <option value="0">String Value</option>
                  <option value="1">Number</option>
                  <option value="2">Ranged Number</option>
                  <option value="3">Time</option>
                  <option value="4">Ranged Time</option>
                </select>
        <bserrmsg field="type"></bserrmsg>
      </div> -->
      <!-- <div class="form-group" show-errors>
        <bsreqlabel></bsreqlabel>
        <input ng-model="mData." ng-maxlength="16" required type="text" class="form-control" name="" placeholder="">
        <bserrmsg field=""></bserrmsg>
      </div> -->
      <!--             <div class="form-group" show-errors>
                <label>Parent Role</label>
                <bsselect
                          name="parentRole"
                          data="grid.data"
                          item-text="title"
                          item-value="id"
                          ng-model="mData.pid"
                          placeholder="Select Parent Role"
                          icon="fa fa-child glyph-left"
                          style="min-width: 150px;">
                </bsselect>
                <bserrmsg field="parentRole"></bserrmsg>
            </div> -->
    <!-- <div class="col-md-12">
      <div class="form-group" show-errors>
        <div class="col-md-6">
          <input type="text" class="form-control" name="VehicleFareId" ng-model="mData.VehicleModelId" placeholder="Id">
        </div>
      </div>
    </div> -->
    <!-- <pre>{{mData}}</pre> -->
    
  </div>
  </bsform-grid>

  <!-- MODAL UPLOAD SPECIAL CAMPAIGN  -->
<div class="ui modal" id="ModalUploadVehicleFare" role="dialog" style="margin-top: -50px; height: 100px; width:800px;">
  <div class="modal-content">
    <ul class="list-group">
      <div class="col-md-12" style="margin-top:40px;">
        <div class="col-md-2" style="margin-top:12px">
          Upload File
        </div>

        <div class="col-md-8" style="border:1px solid lightgrey;padding: 10px 0 10px 10px">
          <div class="input-icon-right">
            <input type="file" accept=".xlsx" id="UploadVehicleFare" onchange="angular.element(this).scope().loadXLSVehicleFare(this)">
          </div>
        </div>

        <div class="col-md-2">
          <button id="MainSpecialCampaign_Upload_Button"
          ng-click="UploadVehicleFare()"
           type="button" class="rbtn btn ng-binding ladda-button" style="float: left;margin-top:5px">
            <span class="ladda-label">
              Upload
            </span><span class="ladda-spinner"></span>
          </button>
        </div>
      </div>
    </ul>
  </div>
</div>