<script type="text/javascript">

</script>
<style type="text/css">
.hotCell{
    /*background-color: #d3d3d3!important;*/
    /*color: #0!important;*/
    /*text-align: center!important;*/
    /*font-weight: 700!important;*/
    white-space: nowrap!important;
    border-left: 1px solid #000!important;
    border-top: 1px solid #000!important;
    border-right: 1px solid #000!important;
    border-bottom: 1px solid #000!important;
/*    border-width: 1px!important;
    border:1px solid #000!important;*/
}
.hotHeader{
    background-color: #d3d3d3!important;
    color: #0!important;
    text-align: center!important;
    font-weight: 700!important;
    white-space: nowrap!important;
    border-left: 1px solid #000!important;
    border-top: 1px solid #000!important;
    border-right: 1px solid #000!important;
    border-bottom: 1px solid #000!important;
/*    border-width: 1px!important;
    border:1px solid #000!important;*/
}
.hotHeader2{
    background-color: #a3a3a3!important;
    color: #fff!important;
    font-weight: normal!important;
    white-space: nowrap!important;
}
.hotHeader3{
    background-color: #d3d3d3!important;
    color: #000!important;
    font-weight: normal!important;
    white-space: nowrap!important;
    border-left: 1px solid #000!important;
    border-top: 1px solid #000!important;
    border-right: 1px solid #000!important;
    border-bottom: 1px solid #000!important;
/*    border-width: 1px!important;
    border:1px solid #000!important;*/
}
.hotHeader4{
    background-color: #b3b3b3!important;
    color: #000!important;
    font-weight: 700!important;
    white-space: nowrap!important;
}
.hotHeader5{
    background-color: #FDE4D8!important;
    color: #000!important;
    font-weight: 700!important;
    white-space: nowrap!important;
}
.hotHeader6{
    background-color: #F7AF8A!important;
    color: #000!important;
    font-weight: 700!important;
    white-space: nowrap!important;
}
.hotHeaderReverse{
    background-color: #0f1a69!important;
    color: #fff!important;
    text-align: center!important;
    font-weight: normal!important;
    white-space: nowrap!important;
}
.hotEditable{
    background-color: yellow!important;
    color: #0!important;
    /*text-align: center!important;*/
    font-weight: normal!important;
    white-space: nowrap!important;
    border:1px solid #000!important;
}
.hotFromData{
    background-color: #fff!important;
    color: #0!important;
    /*text-align: center!important;*/
    font-weight: normal!important;
    white-space: nowrap!important;
}
.hotBold{
    font-weight: 700!important;
    white-space: nowrap!important;
}
.hotHide{
    display:none;
}
.handsontable th, .handsontable td{
    font-size:12px;
}
</style>

<div id="content" style="padding:0;">
    <div class="bs-navbar no-content-padding" style="height:40px;margin:0px;padding:7px 15px 10px 7px;">
        <div class="pull-right">
            <div class="btn-group" style="margin-top:-57px;">
                <button class="zbtn btn btn-default" ng-click="actOpt()" onclick="this.blur();">
                    <i class="fa fa-fw fa-filter"></i>&nbsp;Options
                </button>
                <button class="zbtn btn btn-default" ng-click="actMerge()" onclick="this.blur();">
                    <i class="fa fa-fw fa-filter"></i>&nbsp;Options
                </button>
<!--                 <button class="zbtn btn btn-default" ng-click="actDel()" ng-if="selectedRows.length>0">
                    <i class="fa fa-fw fa-remove"></i>&nbsp;Delete
                </button>
                <button class="zbtn btn btn-default" ng-click="actRefresh()" onclick="this.blur();">
                    <i class="fa fa-fw fa-refresh"></i>&nbsp;Refresh
                </button> -->
            </div>
        </div>
    </div>

    <div class="layout_wrapper">
        <div id="layoutContainer_bsFormDemoManual" style="position:relative;margin:0px 0px 0px 0px;padding:0px;height:700px;">
            <ui-layout options="{flow:'column', dividerSize:3, disableToggle:true}">
                <div class="inbox-side-bar" style="width:100%;padding:0px;">
                    <div class="well clearfix" style="padding:0px 15px 0px 15px;border:none;background:#fff;box-shadow:none;">
                        <br>

                        <div class="well clearfix" style="padding:0px 15px 0px 15px;border:1px solid #ccc;background:#fff;box-shadow:none;"
                             ng-show="showOpt"
                        >
                            <div>
                                <div class="form-group">
                                    <bsreqlabel>Getsudo Period</bsreqlabel>
                                    <bsselect name="periodSelect"
                                              ng-model="period.selected"
                                              data="periodData"
                                              item-text="code"
                                              item-value="id"
                                              placeholder="Select Period..."
                                              on-select="selectPeriod(selected)"
                                              required="true"
                                              icon="fa fa-calendar">
                                    </bsselect>
                                </div>
                                <div class="form-group">
                                    <bsreqlabel>Outlet</bsreqlabel>
                                    <bsselect name="periodSelect"
                                              ng-model="period.selected"
                                              data="periodData"
                                              item-text="code"
                                              item-value="id"
                                              placeholder="Select Outlet..."
                                              on-select="selectPeriod(selected)"
                                              required="true"
                                              icon="fa fa-calendar">
                                    </bsselect>
                                </div>
                            </div>
                        </div>


                        <hot-table
                                   hot-id="{{'hot_rsspmodel'}}"
                                   settings="hot_settings"
                                   datarows="data"
                        >
                        </hot-table>

                    </div>
                </div>
            </ui-layout>
        </div>
    </div>
</div>



<!-- <pre>{{db.items[3]}}</pre>
<pre>{{db.items[4]}}</pre>
<pre>{{db.items[5]}}</pre> -->

