<script type="text/javascript">
</script>
<style type="text/css">
    .tooltip {
        z-index: 9 !important;
        position: absolute !important;
    }
</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<!-- loading="loading" -->
<!--grid-hide-action-column = "true"  -->
<!-- on-validate-save = "onValidateSave" -->
<bsform-base 
    ng-form="oplTeknisi" 
    form-grid-api="formGridApi" 
    factory-name="oplTeknisiFactory" 
    model="mData" 
    model-id="Id" 
    loading="loading"
    get-data="getData" 

    selected-rows="selectedRows" 
    on-select-rows="onSelectRows" 
    on-show-detail="onShowDetail" 
    action-button-settings-detail="tombol"
    show-advsearch="on" 

    form-name="oplTeknisiForm" 
    form-title="OPL Teknisi" 
    modal-title="OPL Teknisi" 
    modal-size="small" 
    ng-hide="tabShowed" 
    form-api="formApi" 
    icon="fa fa-fw fa-child">

    <bsform-advsearch>
        <div class="row">
            <div class="col-md-8" style="margin-bottom:50px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" show-errors>
                            <bsreqlabel>Filter By</bsreqlabel>
                            <!-- <select class="form-control" ng-change="selectType()"  placeholder="Select Car Name" name="carName" ng-model = "mQSetting.CarName" >
                                <option value="Camry">Camry</option>
                                <option value="Avanza">Avanza</option>
                                <option value="Yaris">Yaris</option>
                            </select> -->
                            <select convert-to-number class="form-control" ng-model="filter.ShowData" ng-change="select(filter.ShowData)">
                                <option value="1" selected>No. Polisi</option>
                                <option value="2">No. WO</option>
                                <option value="3">ALL</option>
                            </select>
                            <bserrmsg field="ShowDataKabeng"></bserrmsg>
                        </div>
                    </div>

                    <div class="col-md-4" ng-show="filter.ShowData !== null && filter.ShowData !== undefined && filter.ShowData !== 3">
                        <div class="form-group" show-errors>
                            <bsreqlabel ng-show="filter.ShowData == 1">No. Polisi</bsreqlabel>
                            <bsreqlabel ng-show="filter.ShowData == 2">No. WO</bsreqlabel>
                            <input   
                            type="text" class="form-control" 
                            name="NoPolisi" id="filterNoPolisi" 
                            placeholder="{{filter.ShowData == 1?'No. Polisi':'No. WO'}}" 
                            ng-model="filter.Value" style="text-transform: uppercase">
                        </div>
                    </div>

            <!--         <div class="col-md-4" ng-show="filter.ShowData == 3">
                        <div class="form-group" show-errors>
                            <bsreqlabel>No. Polisi</bsreqlabel>
                            <input  type="text" class="form-control"
                                name="NoPolisi" id="filterNoPolisi" placeholder="No. Polisi"
                                ng-model="filter.NoPol" style="text-transform: uppercase">
                        </div>
                    </div>

                    <div class="col-md-4" ng-show="filter.ShowData == 3">
                        <div class="form-group" show-errors>
                            <bsreqlabel>No. WO</bsreqlabel>
                            <input  type="text" class="form-control" name="NoWo" 
                                id="FilterNoWo"
                                placeholder="No. Wo" ng-model="filter.NoWo" style="text-transform: uppercase">
                        </div>
                    </div> -->

                    
                    <div class="col-md-4" ng-show="filter.ShowData !== null && filter.ShowData !== undefined">
                        <div class="form-group" show-errors>
                            <label>Group Vendor</label>
                            <bsselect name="groupVendor" data="groupVendor"  item-text="GroupName" item-value="GroupId" ng-model="filter.GroupId" placeholder="Select Vendor" on-select=selectVendor(filter.GroupId) icon="fa fa-child glyph-left" style="min-width: 150px;">
                            </bsselect>
                            <bserrmsg field="ShowDataKabeng"></bserrmsg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </bsform-advsearch>
    <bsform-base-main>
        <div class="row">
            <div class="col-md-4" style="margin-bottom:10px">
                <div class="input-group">
                    <input type="text" ng-model-options="{debounce: 250}" class="form-control" placeholder="Filter" ng-change="test(gridApi.grid.columns[filterColIdx].filters[0].term)" ng-model="gridApi.grid.columns[filterColIdx].filters[0].term">
                    <div class="input-group-btn" uib-dropdown>
                        <button id="filter" type="button" class="btn wbtn" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
                            {{filterBtnLabel|uppercase}}&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="filter">
                            <li role="menuitem" ng-repeat="col in gridCols">
                                <a href="#" ng-click="filterBtnChange(col)">{{col.name|uppercase}}
                                    <span class="pull-right">
                                        <i class="fa fa-fw fa-filter"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div ui-grid="grid" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize class="grid">
                    <div class="ui-grid-nodata" ng-if="!grid.data.length && !loading" ng-cloak>No data available</div>
                    <div class="ui-grid-nodata" ng-if="loading" ng-cloak>Loading data... <i class="fa fa-spinner fa-spin"></i></div>
                </div>
            </div>
        </div>
    </bsform-base-main>

    <bsform-base-detail ng-if="!showOpl">
        <div class="row">
            <bs-print cetakan-url="{{cetakanOPL}}">
                <!-- <bsbutton-print>
                    <button class="rbtn btn" ng-click="cetakOPL()" style="float:right;"><i class="fa fa-print" aria-hidden="true">Cetak Faktur </i></button>
                </bsbutton-print> -->
            </bs-print>
            <bs-print cetakan-url="{{cetakanOPL2}}">
            </bs-print>
            <!-- <button class="rbtn btn" ng-click="cetakOPL2()" style="float:right;"><i class="fa fa-print" aria-hidden="true">Cetak Faktur 2</i></button> -->

        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <bsreqlabel>No. WO</bsreqlabel>
                            <div class="input-icon-right">
                                <i class="fa fa-id-card-o"></i>
                                <input type="text" class="form-control" ng-disabled="true" name="NoWo" placeholder="No. WO" skip-enable ng-model="mData.Job.WoNo" ng-maxlength="50">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <bsreqlabel>No. Polisi</bsreqlabel>
                            <div class="input-icon-right">
                                <i class="fa fa-id-card-o"></i>
                                <input type="text" class="form-control" ng-disabled="true" name="NoWo" placeholder="No. Polisi" skip-enable ng-model="mData.Job.PoliceNumber" ng-maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <bsreqlabel>Alamat</bsreqlabel>
                            <textarea class="form-control" ng-disabled="true" skip-enable name="Address" ng-model="mData.Vendor.Address" style="height: 120px;"></textarea>                                
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <bsreqlabel>Group Vendor</bsreqlabel>
                            <div class="input-icon-right">
                                <i class="fa fa-id-card-o"></i>
                                <input type="text" class="form-control" ng-disabled="true" name="GroupVendor" placeholder="Group Vendor" skip-enable ng-model="mData.Vendor.Name" ng-maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <bsreqlabel>NPWP</bsreqlabel>
                            <div class="input-icon-right">
                                <i class="fa fa-id-card-o"></i>
                                <input type="text" class="form-control" ng-disabled="true" name="Npwp" placeholder="NPWP" skip-enable ng-model="mData.Vendor.NPWP" ng-maxlength="50">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nama Pekerjaan</th>
                                    <th>Jumlah Panel</th>
                                    <th>Satuan</th>
                                    <th>Harga</th>                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in dataGrid">
                                    <td>{{item.TaskName}}</td>
                                    <td>{{item.jmlPanel}}</td>
                                    <td>{{item.xProsess}}</td>
                                    <td>{{item.Fare | currency:"Rp. "}}</td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </bsform-base-detail>
</bsform-base>