<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-form name="X1" class="col-md-12" style="margin-top:0px; margin-left:-25px;">
	<div class="col-md-3">
		<div class="form-group" ng-class="{'has-error':X1.NamaPelanggan.$error.required && X1.NamaPelanggan.$touched}">
			<bsreqlabel>Nama Pelanggan</bsreqlabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="NamaPelanggan " placeholder="Nama Pelanggan" ng-model="SetPajakGabungan_NamaPelanggan"
				 ng-maxlength="50" maxlength="50" required>
			</div>
			<span ng-if="X1.NamaPelanggan.$error.required && X1.NamaPelanggan.$touched" class="help-block">Field ini wajib diisi</span>
		</div>
	</div>

	<div class="col-md-3" style="margin-top:5px" ng-show="!SetPajakGabungan_HO_Show">
		<bslabel>Nama Branch</bslabel>
		<bsselect ng-model="SetPajakGabungan_SelectBranch" data="optionsSetPajakGabungan_SelectBranch" item-text="name" item-value="value"
		 on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search" >
		</bsselect>
	</div>

	<div class="col-md-3" style="margin-top:5px" ng-show="SetPajakGabungan_HO_Show">
		<bslabel>Nama Branch</bslabel>
		<div class="input-icon-right ">
			<input type="text" class="form-control " name="SetPajakGabunganNamaBranch" placeholder="" ng-model="SetPajakGabungan_NamaBranch"
			 ng-maxlength="50" ng-disabled="SetPajakGabungan_NamaBranch">
		</div>
	</div>
	<div class="col-md-4">
		<button ng-disabled="X1.$invalid" id="SetPajakGabungan_Cari_Button" ng-click="SetPajakGabungan_Cari_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
		 style="float: left; margin-top:24px">
			<span class="ladda-label">
				Cari
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
</div>
<p class="fi-title-line" style="margin-left:0px; margin-right:-10px">
	Informasi Pelanggan
	<!-- <hr style="border-color:red; margin-top:-10px;" /> -->
</p>
<!-- <p style="width:180px; margin-top:20px; margin-left:10px; background:white;color:red;">Informasi Pelanggan
	<hr style="border-color:red" />
</p> -->
<div class="row">
	<div class="col-md-12" style="margin-left:-15px;">
		<div class="col-md-4">
			<bsreqlabel>Nomor Pelanggan</bsreqlabel>
			<div class="input-icon-right ">
				<input style="margin-bottom:30px;" type="text" class="form-control " name="NomorPelanggan " placeholder="Nomor Pelanggan"
				 ng-model="SetPajakGabungan_NomorPelanggan" ng-maxlength="50 " ng-disabled="!SetPajakGabungan_Nomor_DisableEnable">
			</div>
		</div>

		<div class="col-md-4">
			<bsreqlabel>NPWP</bsreqlabel>
			<div class="input-icon-right ">
				<input style="margin-bottom:30px;" type="text" class="form-control " name="NPWP " placeholder="NPWP" ng-model="SetPajakGabungan_NPWP"
				 ng-maxlength="50 " ng-disabled="!SetPajakGabungan_NPWP_DisableEnable">
			</div>
		</div>
	</div>

	<div class="col-md-12" style="margin-left:-15px;">
		<div class="col-md-4">
			<bsreqlabel>Alamat</bsreqlabel>
			<textarea type="text" class="form-control" name="Alamat" placeholder="" ng-model="SetPajakGabungan_Alamat" ng-maxlength="50"
			 style="margin-bottom: 10px" ng-disabled="!SetPajakGabungan_Alamat_EnableDisable">
			</textarea>
		</div>

		<div class="col-md-4">
			<bsreqlabel>Kabupaten Kota</bsreqlabel>
			<div class="input-icon-right ">
				<input style="margin-bottom:30px;" type="text" class="form-control " name="KabKota " placeholder="Kabupaten Kota" ng-model="SetPajakGabungan_KabKota"
				 ng-maxlength="50 " ng-disabled="!SetPajakGabungan_KabKota_DisableEnable">
			</div>
		</div>

		<div class="col-md-4">
			<bsreqlabel>Telepon</bsreqlabel>
			<div class="input-icon-right ">
				<input style="margin-bottom:30px;" type="text" class="form-control " name="Telepon " placeholder="Telepon" ng-model="SetPajakGabungan_Telepon"
				 ng-maxlength="50 " ng-disabled="!SetPajakGabungan_Telepon_DisableEnable">
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<input ng-model="SetPajakGabungan_Tergabung" type="checkbox" style="margin-top: 20px" />Gabungkan faktur pajak untuk semua transaksi dalam 1 bulan pelaporan CSV akan di-generate pada akhir bulan
	</div>
	<div class="col-md-12">
		<button id="SetPajakGabungan_Simpan_Button" ng-click="SetPajakGabungan_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
		 style="float: right; margin-top:24px" ladda="LoadingSimpan" data-style="expand-left">
			<span class="ladda-label">
				Simpan
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
</div>

<div class="ui modal" id="ModalSearchSetPajakGabunganPelanggan" role="dialog">
	<div class="modal-content">
		<ul class="list-group">
			<bsreqlabel>Cari Pelanggan</bsreqlabel>
			<div class="form-group" ui-grid="PajakGabunganPelangganGrid" ui-grid-auto-resize ui-grid-selection ui-grid-pagination></div>
			<p align="center">
				<button class="col-sm-6" ng-click="ModalSearchSetPajakGabunganPelanggan_Batal()" type="button" class="rbtn btn ng-binding ladda-button">
					Batal
				</button>
			</p>
		</ul>
	</div>
</div>