<script type="text/javascript">

</script>
<style type="text/css">
.ProfileInsuranceWarnainYgGanjil {
    background-color: #EEEEEE;
}

</style>
<div ng-show="ProfileInsuranceMain">

	<button style="float: right;margin-top:-30px;margin-left:10px" ng-click="TambahProfileInsurance()"  type="button" class="rbtn btn ng-binding ladda-button" >
		<i class="fa fa-plus"></i><span>&nbsp&nbspTambah</span>
	</button>
<bsform-grid
        ng-form="ProfileInsuranceForm"
        factory-name="ProfileInsuranceFactory"
        model="mProfileInsurance"
        model-id="InsuranceId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
		form-api="formApi" 
		do-custom-save="doCustomSave"

        form-name="ProfileInsuranceForm"
        form-title="Asuransi"
        modal-title="Asuransi"
        modal-size="small"
        icon="fa fa-fw fa-child"
		grid-hide-action-column="true"
		hide-new-button="true"
		on-bulk-delete ="deleteManualInsurance"
        >


        
</bsform-grid>
</div>
<div ng-show="ProfileInsuranceDetail">
<div class="row" style="margin-bottom:10px;margin-right:10px">
			<button ng-disabled="mProfileInsurance.InsuranceName==null||mProfileInsurance.InsuranceName==undefined||!mProfileInsurance.ListMProfileInsuranceExtensionView.length>=1" ng-show="ShowBtnSimpanProfileInsurance" style="float: right;" ng-click="SimpanProfileInsurance()"  type="button" class="rbtn btn" >
				<span class="ladda-label">
					Simpan
				</span><span class="ladda-spinner"></span>
			</button>
			
			<button ng-show="ShowBtnSimpanProfileInsurance"
			type="button" class="wbtn btn ng-binding ng-scope" ng-click="KembaliProfileInsurance()" 
			style="margin-right:3px;float: right" >
				Batal
			</button>

			<button ng-show="ShowBtnKembaliProfileInsurance" style="float: right;" ng-click="KembaliProfileInsurance()"  type="button" class="rbtn btn" >
					<span class="ladda-label">
						Kembali
					</span><span class="ladda-spinner"></span>
				</button>
			
			
		</div>
		<div class="row">
         
			<div class="col-md-12">
			<div class="col-md-5">
			<div class="form-group">
                <bsreqlabel>Nama Asuransi</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input ng-disabled="mProfileInsurance_Field_EnableDisable" type="text" class="form-control" name="insuranceName" placeholder="Nama Asuransi" ng-model="mProfileInsurance.InsuranceName" ng-maxlength="30" maxlength="30">
                </div>
                <!--<bserrmsg field="insuranceName"></bserrmsg>-->
            </div>
			</div>
			<div class="col-md-1">
				<bslabel>Status</bslabel>
				<div style="margin-top:5px" class="input-icon-right">
					<input type="checkbox" ng-disabled="mProfileInsurance_Field_EnableDisable" ng-model="mProfileInsurance.StatusActive">&nbsp;&nbsp;<label style="margin-top:7px">Aktif</label>
				</div>
			</div>
			</div>
			
		<div class="col-md-12">
		<div class="col-md-6">
			<div class="form-group col-md-6 col-xs-5" style="padding-left:0 !important">
			<bslabel>Nama Perluasan Jaminan</bslabel>
			<bsselect ng-disabled="mProfileInsurance_Field_EnableDisable" name="ProfileAsuransiPerluasanJaminan" ng-model="DropdownProfileAsuransiPerluasanJaminan" data="optionsProfileAsuransiPerluasanJaminan" item-text="InsuranceExtensionName" item-value="InsuranceExtensionId" on-select="SetSelectedPerluasan(selected)" placeholder="Nama Perluasan Jaminan" icon="fa fa-search">
			</bsselect>
			</div>
			<!--<bserrmsg field="ProfileAsuransiPerluasanJaminan"></bserrmsg>-->
			
			<div class="col-md-6 col-xs-1" style="padding-left:0 !important">
			<button ng-disabled="mProfileInsurance_Field_EnableDisable" ng-click="AddProfileAsuransiPerluasanJaminan()"  type="button" class="rbtn btn ng-binding ladda-button" style="float: right;margin-top:20px;">
			<span class="ladda-label">
				Tambah
				</span><span class="ladda-spinner"></span>
			</button>
			</div>
			
            
			<table class="table table-bordered table-responsive">
			<tbody>
				<tr>
					<th style="background-color: #CCCCCC;">Id</th>
					<th style="background-color: #CCCCCC;">Nama Perluasan Jaminan</th>
					<th style="background-color: #CCCCCC;">Action</th>
				</tr>
				<tr ng-repeat="ListProfileAsuransiPerluasanJaminan in mProfileInsurance.ListMProfileInsuranceExtensionView track by $index">
					<td data-ng-class="ProfileInsuranceWarnainTabel($index)">{{ListProfileAsuransiPerluasanJaminan.InsuranceExtensionId}}</td>
					<td data-ng-class="ProfileInsuranceWarnainTabel($index)">{{ListProfileAsuransiPerluasanJaminan.InsuranceExtensionName}}</td>
					<td data-ng-class="ProfileInsuranceWarnainTabel($index)" ng-show="!mProfileInsurance_Field_EnableDisable"><a ng-show="!mProfileInsurance_Field_EnableDisable" ng-click="RemoveProfileAsuransiPerluasanJaminan($index)">Hapus</a></td>
				</tr>
			</tbody>
			</table>
          </div>
		  </div>
        </div>
</div>
