<div ng-form="newRPP" novalidate>
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">No. Appointment</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="mData.AppointmentNo">
                <label class="input-group-btn">
                    <span class="btn wbtn" ng-click="onSearchRefRPPNo(mData.AppointmentNo)">
                        <i class="fa fa-search"></i>
                    </span>
                </label>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">No. Polisi</label>
            <input type="text" name="no_polisi" class="form-control" ng-model="mData.LicensePlate" ng-disabled="true" skip-enable></input>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label class="control-label">No. PO *</label>
            <input type="text" name="no_po" ng-model="mData.PurchaseOrderNo" class="form-control" ng-disabled="true" skip-enable required></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">No. Vendor Invoice</label>
            <input type="text" name="no_vendor_inv" ng-model="mData.InvoiceNo" class="form-control" ng-disabled="true" skip-enable required></input>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-3">
            <label class="control-label">No. Shipping</label>
            <input type="text" name="no_shipping" ng-model="mData.ShippingNo" class="form-control" ng-disabled="true" skip-enable></input>
        </div>
        <div class="col-md-2 col-md-offset-1" style="pointer-events: none;">
            <label class="control-label">Tanggal Terima GR</label>
            <bsdatepicker name="startDate" date-options="dateOptions" ng-model="mData.GRDate" ng-disabled="true" skip-enable>
            </bsdatepicker>
        </div>
        <!-- <div class="col-md-1">
            <label class="control-label">&nbsp</label>
            <input type="text" name="jam_terima_gr" ng-model="mData.GRTime" class="form-control"></input>
        </div> -->
    </div>

    <br>

    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Dealer Request *</label>
            <!-- <select class="form-control">
                <option value="{{mData.SRPDealerRequestId}}" selected>{{ToSRCName(mData.SRPDealerRequestId)}}</option>
            -->
                <select class="form-control" ng-model="mData.SRPDealerRequestId" skip-disable>
                    <option value="1">C - TAM Credit</option>
                    <option value="2">D - Dealer Credit</option>
                    <option value="3">N - Qty Plus, Can't Sold</option>
                </select>
            <!-- </select> -->
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Kode Claim *</label>
            <select class="form-control" ng-model="mData.PartClaimTypeId" skip-disable>
                <option value="1" selected>A - Cancel Booking</option>
                <option value="2">B - Salah Diagnosa</option>
            </select>
        </div>
            <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-5">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="4" ng-model="mData.Notes"></textarea>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Cancel Report *</label>
            <div class="custom-file-upload">
                <!--<label for="file">File: </label>-->
                <!-- <input type="file" id="file" name="myfiles[]" bs-upload="onFileSelect($files)" img-upload="uploadFiles" file-model="mData.Attachment = uploadFiles" upload /> -->
                <!-- 01-feb-2018 -->
                <!-- <input type="file" ngf-select ng-model="mData.Attachment" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" /> -->

                <input  type = "file"
                id="uploadAttach"
                ngf-select ng-model="mData.Attachment"                                                    
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                onchange="angular.element(this).scope().loadFileExceluploadAttach(this)"
                />

            </div>
        </div>
        <div class="col-md-4">
            <label class="control-label"></label>
            <!-- <button class="btn btn-danger" ng-click="HandleFileSelect(mData.Attachment)">Upload</button> -->
            <button class="btn btn-danger" ng-click="uploadPic(mData.Attachment)">Upload</button>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-2">
            <div class="input-group-btn dropdown" uib-dropdown="" style="">
                <button style="margin-right:5px;" type="button" class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
          </button>
                <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
                    <!-- ngIf: allowDelete -->
                    <li>
                        <!-- ngIf: selectedRows.length>0 --><a href="#">Hapus</a>
                        <!-- end ngIf: selectedRows.length>0 -->
                    </li>
                    <!-- end ngIf: allowDelete -->
                    <!-- ngIf: allowApprove -->
                    <!-- ngIf: allowReject -->
                    <!-- ngIf: allowReview -->
                    <!-- ngRepeat: customBulk in customBulkFunc -->
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="grid1" ui-grid="grid_rpp" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div align="right">
                <button class="btn wbtn" ng-click="goBack()">Kembali</button>
                <button class="btn rbtn" ng-disabled="newRPP.$invalid" skip-enable ng-click="SimpanData(mData)">Simpan Draft</button>
                <button class="btn rbtn" ng-disabled="newRPP.$invalid" skip-enable ng-click="simpan(mData)">Simpan & Kirim ke TAM</button>
            </div>
        </div>
    </div>

</div>