<div>
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">No. Appointment *</label>
            <input type="text" ng-model="mData.AppointmentNo" class="form-control" readonly></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">No. Polisi</label>
            <input type="text" class="form-control" ng-model="mData.LicensePlate" readonly></input>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-3">
            <label class="control-label">No. PO *</label>
            <input type="text" ng-model="mData.PurchaseOrderNo" class="form-control" readonly></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">No. Vendor Invoice *</label>
            <input type="text" ng-model="mData.InvoiceNo" class="form-control" readonly></input>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-3">
            <label class="control-label">No. Shipping *</label>
            <input type="text" ng-model="mData.ShippingNo" class="form-control" readonly></input>
        </div>
        <div class="col-md-2 col-md-offset-1" style="pointer-events: none;">
            <label class="control-label">Tanggal Terima GR *</label>
            <bsdatepicker name="startDate" date-options="dateOptions" ng-model="mData.GRDate" ng-disabled=true>
            </bsdatepicker>
        </div>
        <!-- <div class="col-md-1">
            <label class="control-label">&nbsp</label>
            <input type="text" name="jam_terima_gr" class="form-control" disabled></input>
        </div> -->
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>

    <br/>


    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Dealer Request *</label>
            <select class="form-control" ng-model="mData.SRPDealerRequestId" readonly>
                <option value="{{mData.SRPDealerRequestId}}" selected>{{ToSRCName(mData.SRPDealerRequestId)}}</option>
            </select>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Kode Claim *</label>
            <select class="form-control" ng-model="mData.PartClaimTypeId" disabled>
                <option value="{{mData.PartClaimTypeId}}" selected>{{ToNameClaim(mData.PartClaimTypeId)}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Nomor RPP DMS *</label>
            <input class="form-control" type="text" ng-model="mData.StockReturnRPPNo" readonly>
        </div>
        <div class="col-md-3 col-md-offset-1" style="pointer-events: none;">
            <label class="control-label">Tanggal RPP *</label>
            <bsdatepicker name="startDate" date-options="dateOptions" ng-model="mData.DocDate" ng-disabled=t rue>
            </bsdatepicker>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Nomor RPP TAM *</label>
            <input class="form-control" type="text" ng-model="mData.StockReturnRPPNoTAM" readonly>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Status</label>
            <input class="form-control" placeholder="Draft" ng-value="ToNameStatus(mData.StockReturnRPPStatusId)" disabled></input>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-5">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="5" ng-model="mData.Notes" disabled>Part Kurang Beberapa Pieces</textarea>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Attachment</label>
            <label class="control-label"><u>part_picture.xlsx</u></label>
        </div>
    </div>

    <br/>

    <div class="row" style="pointer-events: none;">
        <div class="col-md-12">
            <div id="grid1" ui-grid="grid_rpp_lihat" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div align="right">
                <!-- <button class="btn wbtn" ng-click="cetakRPP(mData.GoodsIssueId)" skip-disable>Cetak RPP</button> -->
                <button class="btn wbtn" ng-click="goBack()" skip-disable>Kembali</button>
            </div>
        </div>
    </div>

</div>