<script type="text/javascript">
</script>
<script type="text/javascript" src="js/signature.js"></script>
 <script type="text/javascript" src="js/signature_pad.js"></script>
<style type="text/css">
    .containeramk {
       /* border: 1px solid red;
        padding: 10px 10px 40px 10px;
        position: relative;
        margin: 0 auto 0 auto;
        height: 100%;*/
        border: 1px solid #8a8a8a;
        padding: 20px 10px 10px 10px;
        position: relative;
        margin: 0 auto 0 auto;
        height: 274px;
        background-color: #f5f5f5
    }
    
    .containeramk .signature {
        /*border: 1px solid orange;*/
        margin: 0 auto;
        cursor: pointer;
    }
    
    .containeramk .signature canvas {
       /* border: 1px solid #999;
        margin: 0 auto;
        cursor: pointer;*/
        /*border: 1px solid #999;*/
        margin: 0 auto;
        cursor: pointer;
        background-color: #fff;
        box-shadow: inset 0px 0px 12px 0px #c5c5c5;
    }
    
    .containeramk .buttons {
        position: absolute;
        bottom: 10px;
        left: 10px;
        visibility: hidden;
    }
    
    .containeramk .buttonsamk {
         margin-top: 10px; 
/*        position: absolute;
        bottom: 2px;
        left: 10px;*/
    }
    
    .containeramk .signature_container {
        visibility: hidden;
    }
    
    .result {
        border: 1px solid blue;
        margin: 30px auto 0 auto;
        height: 220px;
        width: 568px;
    }
</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<!--  on-before-edit-mode="onBeforeEdit" -->

<!-- force-get-data  -->
<!-- on-show-detail="onShowDetail" -->
<!-- hide-edit-button="true" -->
<!-- detail-action-button-settings="detailActionButtonSetting" -->
<bsform-grid ng-form="PreDiagnoseForm" factory-name="PreDiagnose" model="mData" model-id="PrediagnoseId" loading="loading" get-data="getData" is-link="true" selected-rows="selectedRows" on-select-rows="onSelectRows" show-advsearch="on" custom-button-action-settings-detail="customButtonActionSettingsDetail" show-action-button-detail = "true" on-show-detail="onShowDetail" force-get-data="forceGetData" form-name="PreDiagnoseForm" form-title="Pre Diagnose" modal-title="PreDiagnose" modal-size="small" icon="fa fa-fw fa-child" on-validate-save="onValidateSave"  grid-custom-action-button-template="gridActionTemplate" grid-hide-action-column="true" grid-custom-action-button-colwidth="170" on-after-save="onAfterSaveGrid" hide-new-button="true"
    form-api="formApi">
    
        <bsform-advsearch>
          <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-xs-12">
                        <bsreqlabel>Filter Tanggal</bsreqlabel>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-5" style="padding-left: 0px;">
                            <bsselect data="dataFilterTanggal" item-value="FilterId" item-text="FilterName" ng-model="Filter.FilterTanggal" placeholder="Filter Tanggal">
                            </bsselect>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12"  style="margin-top: 10px;" ng-show="Filter.FilterTanggal == 2">
              <div class="form-group" show-errors>
                <div class="col-xs-12">
                  <bsreqlabel>Tanggal</bsreqlabel>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-4" style="padding-left: 0px;">
                      <bsdatepicker
                          name="firstDate"
                          date-options="DateOptions"
                          ng-model="Filter.firstDate"
                          required ="true">
                      </bsdatepicker>
                      <!-- <bserrmsg field="dt"></bserrmsg> -->
                    </div>
                    <div class="col-xs-4">
                      <bsdatepicker
                          name="lastDate"
                          date-options="DateOptions"
                          ng-model="Filter.lastDate"
                          required ="true">
                      </bsdatepicker>
                      <!-- <bserrmsg field="dt"></bserrmsg> -->
                    </div>
                </div>
              </div>
            </div>
          </div>
        </bsform-advsearch>
    <!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->
    <div class="row" style="min-height: 100vh">
        <div class="col-md-12" style="text-align: right;margin-bottom: 15px;">
            <button class="btn wbtn" ng-click="KembaliView()" skip-disable ng-show="CustomKembali">Kembali</button>
        </div>
        <div class="col-md-12">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-default" is-open="true">
                    <uib-accordion-heading>
                            <p style="margin-bottom: 0;">
                                    <label>Keluhan Pelanggan</label>
                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </p>
                    </uib-accordion-heading>
                    <div ng-include="'app/services/preDiagnose/preDiagnose_CustomerComplaint.html'">
                    </div>
                </div>
            </uib-accordion>

            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" is-open="status.open" ng-show="showXkeluhan">
                    <uib-accordion-heading>
                            <p style="margin-bottom: 0;">
                                    <label>Kondisi Saat Gejala Terjadi</label>
                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </p>
                    </uib-accordion-heading>
                    <div class="col-md-12">

                        <div class="col-md-6" style="padding-left: 0px;">
                            <div class="form-group">
                                <div class="col-xs-12" style="padding-left: 0px;">
                                    <label style="margin-top: 5px;">Kecepatan Kendaraan</label>
                                </div>
                                <div class="col-xs-10" style="padding-left: 0px;">
                                    <div class="input-icon-right">
                                        <i class="fa fa-dashboard"></i>
                                        <input type="number" name="VehicleSpeed" ng-model="mData.VehicleSpeed" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    </div>
                                </div>
                                <div class="col-xs-2" style="padding-left: 0px;">
                                    <label style="margin-top: 5px;">KM/H</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-left: 0px;">
                            <div class="form-group">
                                <div class="col-xs-12" style="padding-left: 0px;">
                                    <label style="margin-top: 5px;">Beban Kendaraan</label>
                                </div>
                                <div class="col-xs-10" style="padding-left: 0px;">
                                    <div class="input-icon-right">
                                        <i class="glyphicon glyphicon-scale"></i>
                                        <input type="number" name="VehicleLoads" ng-model="mData.VehicleLoads" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    </div>
                                </div>
                                <div class="col-xs-2" style="padding-left: 0px;">
                                    <label style="margin-top: 5px;">KG</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" style="padding-left: 0px;">
                            <div class="form-group">
                                <div class="col-xs-12" style="padding-left: 0px;">
                                    <label>RPM Mesin</label>
                                </div>
                                <div class="col-xs-10" style="padding-left: 0px;">
                                    <div class="input-icon-right">
                                        <i class="fa fa-dashboard"></i>
                                        <input type="number" name="RPM" ng-model="mData.RPM" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    </div>
                                </div>
                                <div class="col-xs-2" style="padding-left: 0px;">
                                    <label style="margin-top: 5px;">RPM</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-left: 0px;">
                            <div class="form-group">
                                <div class="col-xs-12" style="padding-left: 0px;">
                                    <label>Jumlah Penumpang</label>
                                </div>
                                <div class="col-xs-10" style="padding-left: 0px;">
                                    <div class="input-icon-right">
                                        <i class="fa fa-user"></i>
                                        <input type="number" name="PassengerNumber" ng-model="mData.PassengerNumber" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    </div>
                                </div>
                                <div class="col-xs-2" style="padding-left: 0px;">
                                    <label style="margin-top: 5px;">Orang</label>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-left: 0px;">
                            <div class="col-xs-12" style="padding-left: 0px;">
                                <fieldset style="border:1px solid #e2e2e2;padding:20px">
                                    <legend style="width:inherit;margin:0px;border:0px;">Kondisi Jalan dan Pengendaraan</legend>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                <bscheckbox ng-model="mData.KlasifikasiMasalahDKota" label="Dalam Kota" ng-click="countKlasifikasiProbR()" true-value=1 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-3">
                                                <bscheckbox ng-model="mData.KlasifikasiMasalahLKota" label="Luar Kota" ng-click="countKlasifikasiProbR()" true-value=2 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-3">
                                                <bscheckbox ng-model="mData.KlasifikasiMasalahTol" label="Tol" ng-click="countKlasifikasiProbR()" true-value=4 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-3">
                                                <bscheckbox ng-model="mData.KlasifikasiMasalahBelok" label="Belok Kiri / Kanan" ng-click="countKlasifikasiProbR()" true-value=8 false-value=0>
                                                </bscheckbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                <bscheckbox ng-model="mData.KlasifikasiMasalahLurus" label="Jalan Lurus" ng-click="countKlasifikasiProbR()" true-value=16 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-3">
                                                <bscheckbox ng-model="mData.KlasifikasiMasalahDatar" label="Datar" ng-click="countKlasifikasiProbR()" true-value=32 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-3">
                                                <bscheckbox ng-model="mData.KlasifikasiMasalahTanjakan" label="Tanjakan" ng-click="countKlasifikasiProbR()" true-value=64 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-3">
                                                <bscheckbox ng-model="mData.KlasifikasiMasalahTurunan" label="Turunan" ng-click="countKlasifikasiProbR()" true-value=128 false-value=0>
                                                </bscheckbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                <bscheckbox ng-model="mData.KlasifikasiMasalahAkselerasi" label="Akselerasi" ng-click="countKlasifikasiProbR()" true-value=256 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-3">
                                                <bscheckbox ng-model="mData.KlasifikasiMasalahPengereman" label="Pengereman" ng-click="countKlasifikasiProbR()" true-value=512 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-6">
                                                <bscheckbox ng-model="mData.KlasifikasiMasalahLainnya" label="Lainnya" ng-click="countKlasifikasiProbR()" true-value=1024 false-value=0>
                                                </bscheckbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12" ng-hide="true">
                                        <div class="form-group">
                                            <input type="text" name="ClassificationProblemR" ng-model="mData.ClassificationProblemR">
                                        </div>
                                    </div>
                                    <div class="col-xs-12" ng-show="mData.KlasifikasiMasalahLainnya == 1024">
                                        <div class="form-group">
                                            <textarea name="ClassificationProblemRTxt" ng-model="mData.ClassificationProblemRTxt" style="width: 100%;height: 70px;"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row" style="padding-left: 0px;">
                            <div class="col-xs-12" style="padding-left: 0px;">
                                <fieldset style="border:1px solid #e2e2e2;padding:20px">
                                    <legend style="width:inherit;margin:0px;border:0px;">Lalu Lintas</legend>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="col-xs-4">
                                                <bscheckbox ng-model="mData.LaluLintasMct" label="Macet, Stop & Go" ng-click="choseTraffic()" true-value=1 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-4">
                                                <bscheckbox ng-model="mData.LaluLintasLancar" label="Lancar" ng-click="choseTraffic()" true-value=2 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-4">
                                                <bscheckbox ng-model="mData.LaluLintasLainnya" label="Lainnya" ng-click="choseTraffic()" true-value=4 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-12" ng-hide="true">
                                                <input type="text" name="Traffic" ng-model="mData.Traffic">
                                            </div>
                                            <div class="col-xs-12" ng-show="mData.LaluLintasLainnya == 4">
                                                <textarea name="TrafficTxt" ng-model="mData.TrafficTxt" style="width: 100%;height: 70px;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row" style="padding-left: 0px;">
                            <div class="col-xs-12" style="padding-left: 0px;">
                                <fieldset style="border:1px solid #e2e2e2;padding:20px">
                                    <legend style="width:inherit;margin:0px;border:0px;">Kondisi Cuaca</legend>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="col-xs-2">
                                                <bscheckbox ng-model="mData.KondisiCuacaCerah" label="Cerah" ng-click="countWeather()" true-value=1 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-2">
                                                <bscheckbox ng-model="mData.KondisiCuacaBerawan" label="Berawan" ng-click="countWeather()" true-value=2 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-2">
                                                <bscheckbox ng-model="mData.KondisiCuacaHujan" label="Hujan" ng-click="countWeather()" true-value=4 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-2">
                                                <bscheckbox ng-model="mData.KondisiCuacaPanas" label="Panas" ng-click="countWeather()" true-value=8 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-2">
                                                <bscheckbox ng-model="mData.KondisiCuacaLembab" label="Lembab" ng-click="countWeather()" true-value=16 false-value=0>
                                                </bscheckbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12" ng-hide="true">
                                        <div class="form-group">
                                            <input type="text" name="WeatherConditions" ng-model="mData.WeatherConditions">
                                        </div>
                                    </div>
                                    <div class="col-xs-12" style="padding-left: 0px;">
                                        <div class="form-group">
                                            <div class="col-xs-12" ng-show="mData.KondisiCuacaLembab == 16">
                                                <div class="col-xs-12" style="padding-right:0px;">
                                                    <label style="margin-top: 7px;">Temperatur Udara</label>
                                                </div>
                                                <div class="col-xs-5">
                                                    <div class="input-icon-right">
                                                        <i class="fa fa-thermometer-full"></i>
                                                        <input type="number" name="WeatherConditionsTxt" ng-model="mData.WeatherConditionsTxt" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-xs-1" style="padding-left: 0px;">
                                                    <label style="margin-top: 7px;">C</label>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row" style="padding-left: 0px;">
                            <div class="col-xs-12" style="padding-left: 0px;">
                                <fieldset style="border:1px solid #e2e2e2;padding:20px">
                                    <legend style="width:inherit;margin:0px;border:0px;">Klasifikasi Masalah Pada Kendaraan</legend>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                <bscheckbox ng-model="mData.Engine" label="Mesin" ng-click="countKlasifikasiProbM()" true-value=1 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-3">
                                                <bscheckbox ng-model="mData.Suspension" label="Suspensi" ng-click="countKlasifikasiProbM()" true-value=2 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-3">
                                                <bscheckbox ng-model="mData.Rem" label="Rem" ng-click="countKlasifikasiProbM()" true-value=4 false-value=0>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-3">
                                                <bscheckbox ng-model="mData.Lainnya" label="Lainnya" ng-click="countKlasifikasiProbM()" true-value=8 false-value=0>
                                                </bscheckbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-hide="true">
                                        <input type="text" name="ClassificationProblemM" ng-model="mData.ClassificationProblemM">
                                    </div>
                                    <div class="row" ng-show="mData.Lainnya == 8">
                                        <div class="form-group">
                                            <textarea name="ClassificationProblemMTxt" ng-model="mData.ClassificationProblemMTxt" style="width: 100%;height: 100px;"></textarea>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-left: 0px;">
                                        <div class="col-xs-6" style="padding-left: 0px;">
                                            <div class="col-xs-12">
                                                <label>Kecepatan Blower</label>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="input-icon-right">
                                                    <i class="fa fa-dashboard"></i>
                                                    <input type="number" name="BlowerSpeed" ng-model="mData.BlowerSpeed" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6" style="padding-left: 0px;">
                                            <div class="col-xs-12" style="padding-left: 0px;">
                                                <label>Temp. Setting</label>
                                            </div>
                                            <div class="col-xs-12" style="padding-left: 0px;">
                                                <div class="input-icon-right">
                                                    <i class="fa fa-cog"></i>
                                                    <input type="number" name="TempSetting" ng-model="mData.TempSetting" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12" style="padding-left: 0px;margin-top:20px;">
                                            <div class="col-xs-12">
                                                <label>Posisi Sirkulasi AC</label>
                                            </div>
                                            <div class="col-xs-12" style="padding-left: 0px;">
                                                <div class="col-xs-2">
                                                    <bscheckbox ng-model="mData.Auto" label="Auto" ng-click="countPosisiDuduk()" true-value=1 false-value=0>
                                                    </bscheckbox>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="col-xs-1">
                                                        <bscheckbox ng-model="mData.Posisi1" ng-click="countPosisiDuduk()" true-value=2 false-value=0>
                                                        </bscheckbox>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <img src="images/prediagnose/Capture5.png">
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="col-xs-1">
                                                        <bscheckbox ng-model="mData.Posisi2" ng-click="countPosisiDuduk()" true-value=4 false-value=0>
                                                        </bscheckbox>
                                                    </div>
                                                    <div style="padding-left:0" class="col-xs-6">
                                                        <img src="images/prediagnose/Capture.png">
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="col-xs-1">
                                                        <bscheckbox ng-model="mData.Posisi3" ng-click="countPosisiDuduk()" true-value=8 false-value=0>
                                                        </bscheckbox>
                                                    </div>
                                                    <div style="padding-left:0" class="col-xs-6">
                                                        <img style="margin-top:10px;" src="images/prediagnose/Capture2.png">
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="col-xs-1">
                                                        <bscheckbox ng-model="mData.Posisi4" ng-click="countPosisiDuduk()" true-value=16 false-value=0>
                                                        </bscheckbox>
                                                    </div>
                                                    <div style="padding-left:0" class="col-xs-6">
                                                        <img style="margin-top:5px;" src="images/prediagnose/Capture3.png">
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="col-xs-1">
                                                        <bscheckbox ng-model="mData.Posisi5" ng-click="countPosisiDuduk()" true-value=32 false-value=0>
                                                        </bscheckbox>
                                                    </div>
                                                    <div style="padding-left:0" class="col-xs-6">
                                                        <img src="images/prediagnose/Capture6.png">
                                                    </div>
                                                </div>
                                                <!-- <button>Auto</button>
                                                <button>test 1</button>
                                                <button>test 2</button>
                                                <button>test 3</button>
                                                <button>test 4</button>
                                                <button>test 5</button> -->
                                            </div>
                                        </div>
                                        <div class="col-xs-12" ng-hide="true">
                                            <input type="text" name="SittingPosition" ng-model="mData.SittingPosition">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                    </div>
                </div>
            </uib-accordion>

            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" is-open="status.open" ng-show="showXkeluhan">
                    <uib-accordion-heading>
                            <p style="margin-bottom: 0;">
                                <label>Pemeriksaan Awal</label>
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </p>
                        
                    </uib-accordion-heading>

                    <div class="col-md-12" style="padding-left: 0px;" >
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label>Pemeriksaan Awal</label>
                            </div>
                            <div class="col-xs-12" ng-hide="true">
                                <input type="text" name="System" ng-model="mData.System">
                                <input type="text" name="DTC" ng-model="mData.DTC">
                                <input type="text" name="Description" ng-model="mData.Description">
                                <input type="text" name="Stats" ng-model="mData.Stats">
                                <input type="text" name="FreezeFrame" ng-model="mData.FreezeFrame">
                            </div>
                            <div class="col-xs-12">
                                <!-- button-settings="listButtonSettingsFamily" -->
                                <!-- on-before-new = "onBeforeNewPredCheck" -->
                                <bslist name="DataPemeriksaanAwal" data="DataPemeriksaanAwal" factory-name="PreDiagnoseFirstCheck" on-select-rows="onListSelectRows" selected-rows="listSelectedRows" confirm-save="true" list-model="lmModel" list-api="listApi" m-id="idPrediagnoseFirstCheck"
                                    button-settings="listButtonSettingsFamily" on-after-save="afterSave" on-after-delete="afterDelete" on-before-save="beforeSave" on-before-new="beforeNew" on-before-edit="beforeEdit" modal-title="Data Pemeriksaan Awal">
                                    <bslist-template>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>System</label>
                                                </div>
                                                <div class="col-md-4">
                                                    {{ lmItem.SystemCheck }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>DTC</label>
                                                </div>
                                                <div class="col-md-4">
                                                    {{ lmItem.Dtc }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Description</label>
                                                </div>
                                                <div class="col-md-4">
                                                    {{ lmItem.Desc }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Status</label>
                                                </div>
                                                <div class="col-md-4">
                                                    {{ lmItem.Stats }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Freeze Frame Data</label>
                                                </div>
                                                <div class="col-md-4">
                                                    {{ lmItem.Freeze }}
                                                </div>
                                            </div>
                                        </div>
                                    </bslist-template>
                                    <bslist-modal-form>
                                        <div class="form-group" ng-hide="true">
                                            <div class="col-md-12">
                                                <div class="col-xs-12">
                                                    <label>Id</label>
                                                </div>
                                                <div class="col-xs-4">
                                                    <input type="text" name="idPrediagnoseFirstCheck" class="form-control" ng-model="lmModel.idPrediagnoseFirstCheck">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group">
                                            <div class="col-md-12">
                                            <div class="col-xs-12">
                                                <label>Prediagnose Id</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input type="text" name="PrediagnoseId" class="form-control" ng-model="lmModel.PrediagnoseId">
                                            </div>
                                            {{lmModel}}
                                            </div>
                                        </div> -->
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-xs-12">
                                                    <label>System</label>
                                                </div>
                                                <div class="col-xs-4" style="margin-top: -5px;">
                                                    <input type="text" name="SystemCheck" class="form-control" ng-model="lmModel.SystemCheck">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-xs-12" style="margin-top: 10px;">
                                                    <label>DTC</label>
                                                </div>
                                                <div class="col-xs-4" style="margin-top: -5px;">
                                                    <input type="text" name="SystemCheck" class="form-control" ng-model="lmModel.Dtc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-xs-12" style="margin-top: 10px;">
                                                    <label>Description</label>
                                                </div>
                                                <div class="col-xs-4" style="margin-top: -5px;">
                                                    <input type="text" name="SystemCheck" class="form-control" ng-model="lmModel.Desc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-xs-12" style="margin-top: 10px;">
                                                    <label>Status</label>
                                                </div>
                                                <div class="col-xs-4" style="margin-top: -5px;">
                                                    <input type="text" name="SystemCheck" class="form-control" ng-model="lmModel.Stats">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-xs-12" style="margin-top: 10px;">
                                                    <label>Freeze Frame Data</label>
                                                </div>
                                                <div class="col-xs-4" style="margin-top: -5px;">
                                                    <input type="text" name="SystemCheck" class="form-control" ng-model="lmModel.Freeze">
                                                </div>
                                            </div>
                                        </div>
                                    </bslist-modal-form>
                                </bslist>
                                <!-- <span class="glyphicon glyphicon-plus" ng-click="addFirstCheck(mData)" title="Tambah Data" aria-hidden="true" style="margin-top: 10px;padding-left: 0px;"></span>

                                <div ui-grid="gridPemeriksaanAwal" ui-grid-cellNav ui-grid-auto-resize ui-grid-edit class="grid" ng-cloak style="height: 200px;"></div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding-left: 0px;margin-top: 10px;">
                        <div class="form-group">
                            <div class="col-xs-12" style="margin-top: 20px">
                                <label>Cek Ulang DTC</label>
                            </div>
                            <div class="col-xs-12" style="margin-top: -35px">
                                <!-- on-after-save = "test" -->
                                <bslist name="DataDTC" data="DataDTC" factory-name="PreDiagnoseDTC" on-select-rows="onListSelectRows" selected-rows="listSelectedRows" confirm-save="true" list-model="lmModelDTC" list-api="listApiDTC" m-id="idPrediagnoseFirstCheck" button-settings="listButtonSettingsFamily"
                                    modal-title="Data DTC" on-after-save="afterSaveDTC" on-after-delete="afterDeleteDTC" on-before-save="beforeSaveDTC" on-before-new="beforeNewDTC" on-before-edit="beforeEditDTC">
                                    <bslist-template>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>System</label>
                                                </div>
                                                <div class="col-md-4">
                                                    {{ lmItem.SystemCheck }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12" >
                                                <div class="col-md-4">
                                                    <label>DTC</label>
                                                </div>
                                                <div class="col-md-4">
                                                    {{ lmItem.Dtc }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Description</label>
                                                </div>
                                                <div class="col-md-4">
                                                    {{ lmItem.Desc }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Status</label>
                                                </div>
                                                <div class="col-md-4">
                                                    {{ lmItem.Stats }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Freeze Frame Data</label>
                                                </div>
                                                <div class="col-md-4">
                                                    {{ lmItem.Freeze }}
                                                </div>
                                            </div>
                                        </div>
                                    </bslist-template>
                                    <bslist-modal-form>
                                        <div class="form-group" ng-hide="true">
                                            <div class="col-md-12">
                                                <div class="col-xs-12">
                                                    <label>Id</label>
                                                </div>
                                                <div class="col-xs-4">
                                                    <input type="text" name="idPrediagnoseFirstCheck" class="form-control" ng-model="lmModelDTC.idPrediagnoseFirstCheck">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group">
                                            <div class="col-md-12">
                                            <div class="col-xs-12">
                                                <label>Prediagnose Id</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input type="text" name="PrediagnoseId" class="form-control" ng-model="lmModelDTC.PrediagnoseId">
                                            </div>
                                            </div>
                                        </div> -->
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-xs-12">
                                                    <label>System</label>
                                                </div>
                                                <div class="col-xs-4" style="margin-top: -5px;">
                                                    <input type="text" name="SystemCheck" class="form-control" ng-model="lmModelDTC.SystemCheck">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12" style="margin-top: 10px;">
                                                <div class="col-xs-12">
                                                    <label>DTC</label>
                                                </div>
                                                <div class="col-xs-4"style="margin-top: -5px;">
                                                    <input type="text" name="SystemCheck" class="form-control" ng-model="lmModelDTC.Dtc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-xs-12" style="margin-top: 10px;">
                                                    <label>Description</label>
                                                </div>
                                                <div class="col-xs-4" style="margin-top: -5px;">
                                                    <input type="text" name="SystemCheck" class="form-control" ng-model="lmModelDTC.Desc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-xs-12" style="margin-top: 10px;">
                                                    <label>Status</label>
                                                </div>
                                                <div class="col-xs-4" style="margin-top: -5px;">
                                                    <input type="text" name="SystemCheck" class="form-control" ng-model="lmModelDTC.Stats">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-xs-12" style="margin-top: 10px;">
                                                    <label>Freeze Frame Data</label>
                                                </div>
                                                <div class="col-xs-4" style="margin-top: -5px;">
                                                    <input type="text" name="SystemCheck" class="form-control" ng-model="lmModelDTC.Freeze">
                                                </div>
                                            </div>
                                        </div>
                                    </bslist-modal-form>
                                </bslist>
                                <!-- <div ui-grid="gridDTC" ui-grid-cellNav ui-grid-auto-resize ui-grid-edit class="grid" ng-cloak style="height: 200px;"></div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding-left: 0px;margin-top: 10px;">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label>Konfirmasi Gejala dengan Pelanggan</label>
                            </div>
                            <div class="col-xs-12">
                                <textarea style="width: 100%;height: 100px;" ng-model="mData.CustomerFinalConfirmation" name="CustomerFinalConfirmation"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </uib-accordion>

            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" is-open="status.open" ng-show="showXkeluhan">
                    <uib-accordion-heading>
                            <p style="margin-bottom: 0;">
                                    <label>Catatan / Hasil Pre Diagnosa</label>
                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </p>
                    </uib-accordion-heading>

                    <div class="col-md-12" style="padding-left: 0px;">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label>Technical Support</label>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-3" style="padding-left: 0px;">
                                    <div class="radio-inline">
                                        <label class="radio">
                                            <input type="radio" name="TechnicalSupport" class="radiobox style-0"
                                                ng-model="mData.TechnicalSupport"
                                                value=1>
                                            <span>Perlu</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-3" style="padding-left: 0px;">
                                    <div class="radio-inline">
                                        <label class="radio">
                                            <input type="radio" name="TechnicalSupport" class="radiobox style-0"
                                                ng-model="mData.TechnicalSupport"
                                                value=0>
                                            <span>Tidak Perlu</span>
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="col-xs-4" style="text-align: right;">
                    <button class="btn btn-danger">Ambil Foto</button>
                  </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="margin-top: 10px;">

                        <div class="col-xs-3" style="padding-left: 0px;" ng-show="showFoto1">
                            <!-- <button class="rbtn btn">Ambil Foto</button> -->
                            <label>Foto 1</label>
                            <image-control max-upload="1" is-image="1" img-upload="uploadFiles">
                                <form-image-control>
                                    <input capture="camera" type="file" bs-upload="onFileSelect($files)" img-upload="uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1;">
                                    <input type="file" ng-init="mData.UploadPhoto = uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1; display:none">
                                </form-image-control>
                            </image-control>
                        </div>
                        <div class="col-xs-3" style="padding-left: 0px;" ng-show="showFoto2">
                            <label> Foto 2</label>
                            <image-control max-upload="1" is-image="1" img-upload="uploadFiles2">
                                <form-image-control>
                                <input capture="camera" type="file" bs-upload="onFileSelect($files)" img-upload="uploadFiles2" name="" id="pickfiles-nav2" style="z-index: 1;">
                                <input type="file" ng-init="mData.UploadPhoto2 = uploadFiles2" name="" id="pickfiles-nav2" style="z-index: 1; display:none">
                                </form-image-control>
                            </image-control>
                        </div>
                        <div class="col-xs-3" style="padding-left: 0px;" ng-show="showFoto3">
                            <!-- <button class="rbtn btn">Ambil Foto</button> -->
                            <label> Foto 3</label>
                            <image-control max-upload="1" is-image="1" img-upload="uploadFiles3">
                                <form-image-control>
                                    <input capture="camera" type="file" bs-upload="onFileSelect($files)" img-upload="uploadFiles3" name="" id="pickfiles-nav3" style="z-index: 1;">
                                    <input type="file" ng-init="mData.UploadPhoto3 = uploadFiles3" name="" id="pickfiles-nav3" style="z-index: 1; display:none">
                                </form-image-control>
                            </image-control>
                        </div>

                        <!-- multiple -->
                        <div class="col-xs-3" style="padding-left: 0px;" ng-show="showFoto4">
                            <!-- <button class="rbtn btn">Ambil Foto</button> -->
                            <label> Foto 4</label>
                            <image-control max-upload="1" is-image="1" img-upload="uploadFiles4">
                                <form-image-control>
                                    <input capture="camera" type="file" bs-upload="onFileSelect($files)" img-upload="uploadFiles4" name="" id="pickfiles-nav4" style="z-index: 1;">
                                    <input type="file" ng-init="mData.UploadPhoto4 = uploadFiles4" name="" id="pickfiles-nav4" style="z-index: 1; display:none">
                                </form-image-control>
                            </image-control>
                        </div>

                        <!-- <button ng-click="test()">test</button> -->

                        <div class="col-xs-3" style="padding-left: 0px;margin-bottom: 10px;">
                            <button ng-click="addFoto()" class="btn rbtn">Tambah Foto</button>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding-left: 0px;">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label>Pre Diagnose</label>
                            </div>
                            <div class="col-xs-12">
                                <textarea style="height: 100px;width: 100%;" maxlength="1000" name="PreDiagnoseTxt" ng-model="mData.PreDiagnoseTxt"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding-left: 0px;">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label>Detail Pekerjaan</label>
                            </div>
                            <div class="col-xs-12">
                                <textarea style="height: 100px;width: 100%;" name="JobDetail" ng-model="mData.JobDetail"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding-left: 0px;">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label>Konfirmasi Akhir</label>
                            </div>
                            <div class="col-xs-12">
                                <textarea style="height: 100px;width: 100%;" name="FinalConfirmation" ng-model="mData.FinalConfirmation"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding-left: 0px;">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label>Konfirmasi Pelanggan</label>
                            </div>
                            <div class="col-xs-12" style="padding-left: 0px;">
                                <div class="col-xs-2">
                                    <div class="radio-inline">
                                        <label class="radio">
                                                <input type="radio" name="CustomerConfirmation" class="radiobox style-0"
                                                ng-model="mData.CustomerConfirmation"
                                                value=1>
                                            <span>Ok</span>
                                            </label>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="radio-inline">
                                        <label class="radio">
                                                <input type="radio" name="CustomerConfirmation" class="radiobox style-0"
                                                ng-model="mData.CustomerConfirmation"
                                                value=0>
                                            <span>Not Ok</span>
                                            </label>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="containeramk" ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
                                        <signature-pad accept="accept" clear="clear" height="200" width="548" dataurl="dataurl"></signature-pad>

                                        <div class="buttonsamk">
                                            <button class="btn wbtn" ng-click="clear()">Clear</button>
                                            <button class="btn rbtn" ng-click="dataurl = signature.dataUrl" ng-disabled="!signature">Reset</button>
                                            <button class="btn rbtn" ng-click="signature = accept(); open(signature)">Sign</button>
                                        </div>

                                    </div>
                                </div>
                                <!-- <div class="containersign" ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
                                        <signature-pad accept="accept" clear="clear" height="150" width="400" dataurl="dataurl"></signature-pad>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn wbtn" ng-disable="disableReset" ng-click="clear()">Reset</button>
                                    <button class="btn rbtn" ng-click="signature = accept(); open(signature)">Sign</button>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-12">
              <div class="col-xs-6">
              </div>
              <div class="col-xs-6" style="text-align: right;">
                <div class="col-xs-12">
                  <div class="col-xs-12" style='width:100%;height:100px;border: 1px solid #ccc;'></div> 
                </div>
                <div class="col-xs-12" style="text-align: center;">
                  <label>Tanda Tangan</label>
                </div>
              </div>
            </div> -->

                    <div class="col-md-12" ng-hide="true">
                        <div class="col-xs-12">
                            <input type="text" name="LastModifiedUserId" ng-model="mData.LastModifiedUserId">
                        </div>
                        <div class="col-xs-12">
                            <input type="text" name="LastModifiedDate" ng-model="mData.LastModifiedDate">
                        </div>
                        <!-- <div class="col-xs-12">
                <input type="text" name="ComplaintCatId" ng-model="mData.ComplaintCatId">
              </div>
              <div class="col-xs-12">
                <input type="text" name="DetailJSON" ng-model="mData.DetailJSON">
              </div> -->
                        <div class="col-xs-12">
                            <input type="text" name="OutletId" ng-model="mData.OutletId">
                        </div>
                    </div>

                </div>
            </uib-accordion>
            <!-- <button class="btn rbtn" ng-click="PrintPrediagnose()" ng-show="showXkeluhan">Print</button> -->
        </div>
    </div>
</bsform-grid>