<div class="form-group">
  <div class="col-md-12" ng-hide="true">
    <div class="col-xs-12">
      <label>Job Id</label>
    </div>
    <div class="col-xs-4">
      <input type="text" name="JobId" ng-model="mData.JobId" class="form-control">
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-md-12" ng-hide="true">
    <div class="col-xs-12">
      <label>Job Id</label>
    </div>
    <div class="col-xs-4">
      <input type="text" name="PrediagnoseId" ng-model="mData.PrediagnoseId" class="form-control">
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-md-12">
    <div class="col-xs-12" style="padding-left: 0px;">
      <bsreqlabel>Gejala Terdeteksi Pertama Kali</bsreqlabel>
    </div>
  </div>
  <div class="col-xs-4">
    <bsdatepicker
            name="FirstIndication"
            date-options="DateOptions"
            max-date="maxDateS"
            ng-model="mData.FirstIndication"
            ng-required="true">
    </bsdatepicker>
  </div>
</div>
<div class="form-group">
  <div class="col-xs-12" style="margin-top: 10px;">
    <label>Frekuensi Kejadian</label>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-4" style="padding-left: 0px;">
      <div class="radio-inline">
        <label class="radio">
            <input type="radio" name="FrequencyIncident" class="radiobox style-0"
              ng-model="mData.FrequencyIncident"
              value=1>
          <span>Sekali</span>
        </label>
      </div>
    </div>
    <div class="col-xs-4" style="padding-left: 0px;">
      <div class="radio-inline">
        <label class="radio">
            <input type="radio" name="FrequencyIncident" class="radiobox style-0"
              ng-model="mData.FrequencyIncident"
              value=2>
          <span>Kadang - Kadang</span>
        </label>
      </div>
    </div>
    <div class="col-xs-4" style="padding-left: 0px;">
      <div class="radio-inline">
        <label class="radio">
            <input type="radio" name="FrequencyIncident" class="radiobox style-0"
              ng-model="mData.FrequencyIncident"
              value=3>
          <span>Selalu</span>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-xs-12" style="margin-top: 10px;">
    <label>MIL saat terjadi</label>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-4" style="padding-left: 0px;">
      <div class="radio-inline">
        <label class="radio">
            <input type="radio" name="Mil" class="radiobox style-0"
              ng-model="mData.Mil"
              value=1>
          <span>On</span>
        </label>
      </div>
    </div>
    <div class="col-xs-4" style="padding-left: 0px;">
      <div class="radio-inline">
        <label class="radio">
            <input type="radio" name="Mil" class="radiobox style-0"
              ng-model="mData.Mil"
              value=2>
          <span>Berkedip</span>
        </label>
      </div>
    </div>
    <div class="col-xs-4" style="padding-left: 0px;">
      <div class="radio-inline">
        <label class="radio">
            <input type="radio" name="Mil" class="radiobox style-0"
              ng-model="mData.Mil"
              value=3>
          <span>Off</span>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-xs-12" style="margin-top: 10px;">
    <label>Kondisi Kendaraan Saat Gejala Terjadi</label>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-4" style="padding-left: 0px;">
      <div class="radio-inline">
        <label class="radio">
            <input type="radio" name="ConditionIndication" class="radiobox style-0"
              ng-model="mData.ConditionIndication"
              value=1>
          <span>Idling</span>
        </label>
      </div>
    </div>
    <div class="col-xs-4" style="padding-left: 0px;">
      <div class="radio-inline">
        <label class="radio">
            <input type="radio" name="ConditionIndication" class="radiobox style-0"
              ng-model="mData.ConditionIndication"
              value=2>
          <span>Starting</span>
        </label>
      </div>
    </div>
    <div class="col-xs-4" style="padding-left: 0px;">
      <div class="radio-inline">
        <label class="radio">
            <input type="radio" name="ConditionIndication" class="radiobox style-0"
              ng-model="mData.ConditionIndication"
              value=3>
          <span>Kecepatan</span>
        </label>
      </div>
    </div>
    <div class="col-xs-12" ng-show="mData.ConditionIndication == 3"  style="padding-left: 0px;">
      <!-- <input type="number" name="Kecepatan" style="width: 100%" placeholder="Kecepatan" ng-model="mData.Speed"> -->
      <!--  ng-keypress="allowPattern($event,1)" -->
      <textarea name="Kecepatan" ng-model="mData.notes" maxlength="100" style="width: 100%;height: 50px;"></textarea>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-xs-12" style="margin-top: 10px;">
    <label>Kondisi Mesin</label>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-4" style="padding-left: 0px;">
      <div class="radio-inline">
        <label class="radio">
            <input type="radio" name="MachineCondition" class="radiobox style-0"
              ng-model="mData.MachineCondition"
              value=1>
          <span>Panas</span>
        </label>
      </div>
    </div>
    <div class="col-xs-4" style="padding-left: 0px;">
      <div class="radio-inline">
        <label class="radio">
            <input type="radio" name="MachineCondition" class="radiobox style-0"
              ng-model="mData.MachineCondition"
              value=2>
          <span>Dingin</span>
        </label>
      </div>
    </div>
    <div class="col-xs-4" style="padding-left: 0px;">
      <div class="radio-inline">
        <label class="radio">
            <input type="radio" name="MachineCondition" class="radiobox style-0"
              ng-model="mData.MachineCondition"
              value=3>
          <span>Lainnya</span>
        </label>
      </div>
    </div>
  </div>
  <div class="col-xs-12" ng-show="mData.MachineCondition == 3">
    <textarea name="lainnya" ng-model="mData.MachineConditionTxt" style="width: 100%;height: 70px;"></textarea>
  </div>
</div>
<div class="form-group">
  <div class="col-xs-12" style="margin-top: 10px;">
    <label>Posisi Shift Lever</label>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-1" style="padding-left: 0px;">
      <bscheckbox
            ng-model = "mData.PosisiShiftP"
            label="P"
            ng-click="CountShift()"
            true-value=1
            false-value=0>
      </bscheckbox>
    </div>
   <!--  <div class="col-xs-1" style="padding-left: 0px;">
      <bscheckbox
            ng-model = "mData.PosisiShiftR"
            label="R"
            value="R">
      </bscheckbox>
    </div> -->
    <div class="col-xs-1" style="padding-left: 0px;">
      <bscheckbox
            ng-model = "mData.PosisiShiftN"
            label="N"
            ng-click="CountShift()"
            true-value=2
            false-value=0>
      </bscheckbox>
    </div>
    <div class="col-xs-1" style="padding-left: 0px;">
      <bscheckbox
            ng-model = "mData.PosisiShiftD"
            label="D"
            ng-click="CountShift()"
            true-value=4
            false-value=0>
      </bscheckbox>
    </div>
    <div class="col-xs-1" style="padding-left: 0px;">
      <bscheckbox
            ng-model = "mData.PosisiShiftS"
            label="S"
            ng-click="CountShift()"
            true-value=8
            false-value=0>
      </bscheckbox>
    </div>
    <div class="col-xs-1" style="padding-left: 0px;">
      <bscheckbox
            ng-model = "mData.PosisiShiftR"
            label="R"
            ng-click="CountShift()"
            true-value=16
            false-value=0>
      </bscheckbox>
    </div>
    <div class="col-xs-1" style="padding-left: 0px;">
      <bscheckbox
            ng-model = "mData.PosisiShiftOne"
            label="1"
            ng-click="CountShift()"
            true-value=32
            false-value=0>
      </bscheckbox>
    </div>
    <div class="col-xs-1" style="padding-left: 0px;">
      <bscheckbox
            ng-model = "mData.PosisiShiftTwo"
            label="2"
            ng-click="CountShift()"
            true-value=64
            false-value=0>
      </bscheckbox>
    </div>
    <div class="col-xs-1" style="padding-left: 0px;">
      <bscheckbox
            ng-model = "mData.PosisiShiftThree"
            label="3"
            ng-click="CountShift()"
            true-value=128
            false-value=0>
      </bscheckbox>
    </div>
    <div class="col-xs-1" style="padding-left: 0px;">
      <bscheckbox
            ng-model = "mData.PosisiShiftFour"
            label="4"
            ng-click="CountShift()"
            true-value=256
            false-value=0>
      </bscheckbox>
    </div>
    <div class="col-xs-3" style="padding-left: 0px;">
      <bscheckbox
            ng-model = "mData.PosisiShiftLainnya"
            ng-click="CountShift()"
            label = "Lainnya"
            true-value=512
            false-value=0>
      </bscheckbox>
    </div>
    <div class="col-xs-12" ng-hide="true">
      <input type="text" name="PositionShiftLever" ng-model="mData.PositionShiftLever">
    </div>
  </div>
  <div class="col-xs-12" ng-show="mData.PosisiShiftLainnya == 512">
    <textarea name="PositionShiftLeverTxt" ng-model="mData.PositionShiftLeverTxt" style="width: 100%;height: 70px;"></textarea>
  </div>
  <div class="col-xs-12" ng-hide="disTestDrive">
  <!-- ng-click="CountShift()" -->
      <bscheckbox
            ng-model = "mData.IsNeedTest"
            ng-change = "testDrive(mData)"
            label = "Perlu Test Drive"
            true-value=1
            false-value=0>
      </bscheckbox>
  </div>
</div>
