<script type="text/javascript">


</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	.outgoing-payment-border {
		margin: 20px 20px 20px 20px;
		border: 1px solid lightgrey;
		padding: 10px 0px 10px 0px;
		width: calc(100% - 40px);
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<!--
<div ng-show="ShowOutgoingPaymentMain">
	<div class="row">
		<button  onclick="" ng-click="ToLihatOutgoingPayment()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
			<span class="ladda-label">
				Lihat
				</span><span class="ladda-spinner"></span>
		</button>
		<button  onclick="" ng-click="ToTambahOutgoingPayment()"  type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
			<span class="ladda-label">
				ambah
				</span><span class="ladda-spinner"></span>
		</button>
	</div>
</div>-->
<div class="fi-outermost" ng-show="Show_MainOutgoingPayment_DaftarOutgoingPayment">
	<div class="pull-right" style="margin-top: -70px;">
		<div class="row">
			<button onclick="" ng-click="ToTambahOutgoingPayment()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					<i class="fa fa-fw fa-plus"></i> Tambah
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>

	<div class="row" >
		<div style="margin-top:-10px">
			<div class="col-md-3">
				<bsreqlabel>Tanggal Outgoing Payment</bsreqlabel>
				<div class="input-icon-right; ">
					<bsdatepicker format="dd/MM/yyyy" name="TanggalOutgoingPayment" date-options="dateOptions" ng-model="MainOutgoingPayment_TanggalOutgoingPayment"
					 max-date="maxDate">
					</bsdatepicker>
				</div>
			</div>

			<!-- <div class="col-md-1" style="margin-top:30px" align="center">
				s/d
			</div> -->

			<div class="col-md-3" >
				<div class="input-icon-right; ">
					<label>s.d.</label>
					<bsdatepicker format="dd/MM/yyyy" name="TanggalOutgoingPaymentEnd" date-options="dateOptions" ng-model="MainOutgoingPayment_TanggalOutgoingPaymentEnd"
					 max-date="maxDate">
					</bsdatepicker>
				</div>
			</div>
			<div class="col-md-3">
				<label>Nama Branch</label>
				<div class="input-icon-right; ">
					<bsselect ng-model="TambahOutgoingPayment_RincianPembayaran_NamaBranch" data="optionsTambahOutgoingPayment_RincianPembayaran_NamaBranch"
					 item-text="BranchName" item-value="BranchId" on-select="value(selected)" placeholder="Bulk Action" icon="fa fa-search"
					 ng-disabled="!TambahOutgoingPayment_RincianPembayaran_NamaBranch_EnableDisable">
					</bsselect>
				</div>
			</div>
			<div class="col-md-2">
				<button ng-click="MainOutgoingPayment_Cari()" type="button" class="rbtn btn ng-binding ladda-button" ng-disabled="MainOutgoingPayment_TanggalOutgoingPayment>MainOutgoingPayment_TanggalOutgoingPaymentEnd" style="margin-top:20px">
					<!--style="margin-top:20px">-->
					<span class="ladda-label">
						<!--<i class="fa fa-fw fa-refresh"></i>-->Cari
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
			<div class="col-md-12 has-error">
				<div class="has-error" style="margin-left:0px;">
					<span ng-show="MainOutgoingPayment_TanggalOutgoingPayment>MainOutgoingPayment_TanggalOutgoingPaymentEnd" class="help-block" style="margin-top:0px;">Tanggal awal harus lebih kecil atau sama dengan tanggal akhir!</span>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div style="margin-top:0px; margin-left:-2px">
			<p class="fi-title-line">Daftar Outgoing Payment</p>
		</div>
	</div>

	<div class="row">
		<div style="margin-top: -20px;">
			<div class="col-md-3">
				<bsselect ng-model="MainOutgoingPayment_BulkAction_SearchDropdown" data="optionsMainOutgoingPayment_BulkAction_SearchDropdown"
				 ng-change="MainOutgoingPayment_BulkAction_SearchDropdown_Changed()" item-text="name" item-value="value" on-select="value(selected)"
				 placeholder="Bulk Action" icon="fa fa-search">
				</bsselect>
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="MainOutgoingPayment_TextFilter"
				 ng-maxlength="50" maxlength="50">
			</div>
			<div class="col-md-3">
				<bsselect ng-model="MainOutgoingPayment_SearchDropdown" data="optionsMainOutgoingPayment_SearchDropdown" item-text="name"
				 item-value="value" on-select="value(selected)" placeholder="Pilih Kriteria" icon="fa fa-search">
				</bsselect>
			</div>
			<div class="col-md-3">
				<button id="" ng-click="MainOutgoingPayment_Filter()" type="button" class="btn ng-binding ladda-button">
					<span class="ladda-label">
						Filter
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div style="margin-left:-2px; margin-top: -15px;">
			<div ui-grid="MainOutgoingPayment_DaftarOutgoingPayment_UIGrid" class="fi-ui-grid" ui-grid-resize-columns ui-grid-auto-resize
			 ui-grid-selection ui-grid-pagination></div>
		</div>
	</div>
</div>


<div class="fi-outermost" ng-show="ModalLihatOutgoingPayment">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4">
				<bslabel>Tanggal Outgoing Payment</bslabel>
				<div class="input-icon-right; ">
					<bsdatepicker format="dd/MM/yyyy" name="TanggalOutgoingPayment" date-options="dateOptions" ng-model="LihatOutgoingPayment_TanggalOutgoingPayment"
					 ng-disabled="!LihatOutgoingPayment_TanggalOutgoingPayment_EnableDisable">
				</div>
			</div>
			<div class="col-md-4">
				<bslabel>Nomor Outgoing Payment</bslabel>
				<div class="input-icon-right; ">
					<input type="text" class="form-control" placeholder="Nomor Outgoing Payment" ng-model="LihatOutgoingPayment_NomorOutgoingPayment"
					 ng-disabled="!LihatOutgoingPayment_NomorOutgoingPayment_EnableDisable" ng-maxlength="50">
				</div>
			</div>
			<div class="col-md-4">
				<bslabel>Nomor Outgoing Payment Reversal</bslabel>
				<div class="input-icon-right; ">
					<input type="text" class="form-control" placeholder="Nomor Outgoing Payment Reversal" ng-model="LihatOutgoingPayment_NomorOutgoingPaymentReversal"
					 ng-disabled="true" ng-maxlength="50">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4">
				<bslabel>Nama Branch</bslabel>
				<div class="input-icon-right; ">
					<bsselect ng-model="LihatOutgoingPayment_NamaBranch" data="optionsLihatOutgoingPayment_NamaBranch" item-text="BranchName"
					 item-value="BranchId" on-select="value(selected)" placeholder="Bulk Action" icon="fa fa-search" ng-disabled="!LihatOutgoingPayment_NamaBranch_EnableDisable">
					</bsselect>
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-hide="Hide_LihatOutgoingPayment_DaftarInstruksiPembayaran">
		<div class="col-md-12">
			<fieldset class="scheduler-border">

				<div class="row">
					<div class="col-md-12">
						<div class="col-md-4">
							<bslabel>Tipe Outgoing Payment</bslabel>
							<!--ng-change="LihatOutgoingPayment_TipeOutgoingPayment_Selected_Changed()" -->
							<bsselect ng-disabled="!LihatOutgoingPayment_TipeInstruksiPembayaran_EnableDisable" style="margin-bottom:10px;" ng-model="LihatOutgoingPayment_TipeInstruksiPembayaran"
							 data="LihatOutgoingPayment_TipeInstruksiPembayaranOptions" ng-change="LihatOutgoingPayment_TipeInstruksiPembayaran_Changed()" item-text="name" item-value="value" on-select="value(selected)"
							 placeholder="Select  tipe instruksi Pembayaran" icon="fa fa-search">
							</bsselect>
						</div>
					</div>
				</div>

				<legend style="background:white;" class="scheduler-border">Tujuan Pembayaran</legend>
				<div class="row">
					<div class="col-md-12">
						<p class="fi-title-line">
							Daftar Instruksi Pembayaran / Advance Payment
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div ui-grid="LihatOutgoingPayment_DaftarOutgoingPayment_UIGrid" class="form-group" ui-grid-resize-columns ui-grid-auto-resize
						 ui-grid-selection ui-grid-pagination></div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<!-- 
	<fieldset class="scheduler-border" style="margin-top: 20px;" >
		<legend style="background:white;color:red;" class="scheduler-border">Daftar Instruksi Pembayaran</legend>
		<div class="form-group">
			<table style="" class="table table-bordered table-responsive">
				<tbody>
					<tr>
						<td>
							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</fieldset> -->

	<div class="row" ng-hide="hide_LihatOutgoingPayment_CashPickUp">
		<div class="col-md-12">
			<div class="col-md-4">
				<bslabel>Nomor Rekening Penerima</bslabel>
				<bsselect style="margin-bottom:10px;" ng-model="LihatOutgoingPayment_Cash_RincianPembayaran_NoRekeningPenerima_Cash" data="LihatOutgoingPayment_Cash_RincianPembayaran_NoRekeningPenerima_CashOptions"
				 ng-disabled="true" item-text="name" item-value="name" on-select="value(selected)" placeholder="Select No Rekening Penerima"
				 icon="fa fa-search">
				</bsselect>
			</div>
			<div class="col-md-4">
				<bslabel>Nama Bank Penerima</bslabel>
				<input type="text" class="form-control" placeholder="Nama Bank Penerima" ng-model="LihatOutgoingPayment_NamaBankPenerima"
				 ng-disabled="true" ng-maxlength="50" style="margin-bottom: 10px" required>
			</div>
			<div class="col-md-4">
				<bslabel>Nama Pemegang Rekening</bslabel>
				<input type="text" class="form-control" placeholder="Nama Pemegang Rekening" ng-model="LihatOutgoingPayment_NamaPemegangRekening"
				 ng-disabled="true" ng-maxlength="50" style="margin-bottom: 10px" required>
			</div>
		</div>
	</div>



	<div ng-hide="Hide_LihatRincianPembayaran_cashPickUp" class="row">
		<div class="col-md-12">
			<fieldset class="scheduler-border">
				<legend style="background:white;" class="scheduler-border">Rincian Pembayaran</legend>

				<div class="row">
					<div class="col-md-12">
						<div class="col-md-4">
							<bslabel>Metode Pembayaran</bslabel>
							<bsselect ng-model="LihatOutgoingPayment_RincianPembayaran_MetodePembayaran" ng-disabled="true" style="margin-top: 5px" data="optionsLihatMetodePembayaran"
							 item-text="name" item-value="value" on-select="value(selected)" placeholder="Select MetodePembayaran" icon="fa fa-search">
							</bsselect>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<bslabel>Tanggal Pembayaran</bslabel>
								<div class="input-icon-right;">
									<bsdatepicker format="dd/MM/yyyy" name="LihatOutgoingPayment_RincianPembayaran_PaymentDate_Cash" date-options="dateOptions"
									 ng-model="LihatOutgoingPayment_RincianPembayaran_PaymentDate_Cash" ng-disabled="true">
									</bsdatepicker>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<bslabel>Keterangan</bslabel>
								<textarea type="text" class="form-control" name="AlamatPerusahaan" placeholder="Keterangan" ng-model="LihatOutgoingPayment_RincianPembayaran_Keterangan_Cash"
								 ng-disabled="true" ng-maxlength="1000" maxlength="1000" style="margin-top: 5px" required></textarea>

							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="col-md-4">
							<div class="form-group">
								<bslabel>Nominal Pembayaran</bslabel>
								<div class="input-icon-right ">
									<input type="text" class="form-control " name="NominalPembayaran " placeholder="" style="margin-top: 5px" ng-disabled="true"
									 ng-model="LihatOutgoingPayment_RincianPembayaran_NominalPembayaran_Cash" ng-maxlength="50 " required currency-formating
									 number-only>
								</div>

							</div>
						</div>
					</div>
				</div>

			</fieldset>
		</div>
	</div>

	<div class="row" ng-hide="Hide_LihatRincianPembayaran">
		<div class="col-md-12">
			<fieldset class="scheduler-border">
				<legend style="background:white;" class="scheduler-border">Rincian Pembayaran</legend>
				<div class="form-group">
					<table border="1" style="margin-left:2px;" class="table table-bordered table-responsive">
						<tbody>
							<tr>
								<td>
									<div ui-grid="LihatOutgoingPayment_DaftarInstruksiPembayaran_UIGrid" class="form-group" ui-grid-resize-columns ui-grid-auto-resize
									 ui-grid-selection ui-grid-pagination></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</fieldset>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<fieldset class="scheduler-border" ng-hide="Hide_LihatOutgoingPayment_DaftarBiayaLainLain">
				<legend style="background:white;" class="scheduler-border">Biaya Lain Lain</legend>
				<div class="form-group">
					<table border="1" style="margin-left:2px;" class="table table-bordered table-responsive">
						<tbody>
							<tr>
								<td>
									<div ui-grid="LihatOutgoingPayment_DaftarBiayaLainLain_UIGrid" class="form-group" ui-grid-resize-columns ui-grid-auto-resize
									 ui-grid-selection ui-grid-pagination></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</fieldset>

			<button ng-click="LihatOutgoingPayment_PengajuanReversal_Click()" ng-model="LihatOutgoingPayment_Pembatalan" type="button" ng-if="!Hide_LihatOutgoingPayment_Pembatalan"
			 class="rbtn btn ng-binding ladda-button" style="float: right;margin-left:3px;">
				<span class="ladda-label">
					Pengajuan Reversal
				</span>
				<span class="ladda-spinner"></span>
			</button>
			<button ng-click="LihatOutgoingPayment_Back_Click()" ng-model="LihatOutgoingPayment_Back" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right;margin-left:3px;">
				<span class="ladda-label">
					Kembali
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
	<!--	</div> -->
</div>

<div ng-show="ShowTambahOutgoingPayment">

	<div class="row">
		<div class="col-md-12" style="margin-bottom:20px;">
			<div class="col-md-4">
				<bslabel>Tanggal Outgoing Payment</bslabel>
				<div class="input-icon-right; ">
					<bsdatepicker format="dd/MM/yyyy" name="TanggalOutgoingPayment" date-options="dateOptions" ng-model="TambahOutgoingPayment_TanggalOutgoingPayment"
					 ng-disabled="!TambahOutgoingPayment_TanggalOutgoingPayment_EnableDisable">
					</bsdatepicker>
				</div>
			</div>

			<div class="col-md-4">
				<bslabel>Nomor Outgoing Payment</bslabel>
				<div class="input-icon-right; ">
					<input type="text" class="form-control" placeholder="Nomor Outgoing Payment" ng-model="TambahOutgoingPayment_NomorOutgoingPayment"
					 ng-disabled="!TambahOutgoingPayment_NomorOutgoingPayment_EnableDisable" ng-maxlength="50" style="margin-bottom: 10px">
				</div>
			</div>
			<div class="col-md-4">
				<bslabel>Nama Branch</bslabel>
				<div class="input-icon-right; ">
					<bsselect ng-model="TambahOutgoingPayment_NamaBranch" data="optionsTambahOutgoingPayment_NamaBranch" item-text="BranchName"
					 item-value="BranchId" on-select="value(selected)" placeholder="" icon="fa fa-search" ng-disabled="!TambahOutgoingPayment_RincianPembayaran_NamaBranch_EnableDisable">
					</bsselect>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<fieldset class="scheduler-border" style="margin-top: 10px;">
			<legend style="background:white;" class="scheduler-border">Tujuan Pembayaran</legend>
			<!-- <p style="width:120px; margin-top:-30px; margin-left:7px; x:white;">Tujuan Pembayaran</p> -->
			<div class="col-md-12">
				<div class="col-md-4">

					<bsreqlabel>Tipe Outgoing Payment</bsreqlabel>
					<bsselect ng-change="TambahOutgoingPayment_TipeInstruksiPembayaran_Selected_Changed()" style="margin-bottom:10px;" ng-model="TambahOutgoingPayment_TipeInstruksiPembayaran"
					 data="TambahOutgoingPayment_TipeInstruksiPembayaranOptions" item-text="name" item-value="value" on-select="value(selected)"
					 placeholder="Select  tipe instruksi Pembayaran" icon="fa fa-search">
					</bsselect>
				</div>
				<div class="col-md-4">
					<button ng-click="TambahOutgoingPayment_Cari()" type="button" class="rbtn btn ng-binding ladda-button" style="margin-top:22px">
						<span class="ladda-label">
							<!--<i class="fa fa-fw fa-refresh"></i>-->Cari
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>

			</div>

			<!--20170524, nuse, begin-->
			<div class="row" ng-show="Show_TambahOutgoingPayment_CashPickUp">
				<div class="col-md-12">
					<div class="col-md-4">
						<bsreqlabel>Nomor Rekening Penerima</bsreqlabel>
						<bsselect style="margin-bottom:10px;" ng-model="TambahOutgoingPayment_Cash_RincianPembayaran_NoRekeningPenerima_Cash" data="TambahOutgoingPayment_Cash_RincianPembayaran_NoRekeningPenerima_CashOptions"
						 item-text="name" item-value="name" on-select="value(selected)" ng-change="TambahOutgoingPayment_Cash_RincianPembayaran_NoRekeningPenerima_Cash_Selected_Changed()"
						 placeholder="Select No Rekening Penerima" icon="fa fa-search">
						</bsselect>
					</div>
					<div class="col-md-4">
						<bsreqlabel>Nama Bank Penerima</bsreqlabel>
						<input type="text" class="form-control" placeholder="Nama Bank Penerima" ng-model="TambahOutgoingPayment_NamaBankPenerima"
						 ng-disabled="!TambahOutgoingPayment_NamaBankPenerima_EnableDisable" ng-maxlength="50" style="margin-bottom: 10px" required>
					</div>
					<div class="col-md-4">
						<bsreqlabel>Nama Pemegang Rekening</bsreqlabel>
						<input type="text" class="form-control" placeholder="Nama Pemegang Rekening" ng-model="TambahOutgoingPayment_NamaPemegangRekening"
						 ng-disabled="!TambahOutgoingPayment_NamaPemegangRekening_EnableDisable" ng-maxlength="50" style="margin-bottom: 10px"
						 required>
					</div>
				</div>
			</div>


			<!--20170524, nuse, end-->

			<div ng-show="Show_TambahOutgoingPayment_DaftarInstruksiPembayaran">
				<div style="margin-top: 10px;">
					<!-- <legend style="background:white;" class="scheduler-border">Daftar Instruksi Pembayaran / Advance Payment</legend> -->
					<p style="width:300px; margin-top:20px; margin-left:15px; background:white;color:red;">Daftar Instruksi Pembayaran / Advance Payment
						<hr style="border-color:red; margin-top:-10px;margin-left:15px;margin-right:15px">
					</p>
					<div class="row col-md-12" style="margin-top:10px;margin-bottom:10px;">
						<div class="col-md-4">
							<input style="margin-left: 10px;" type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="TambahOutgoingPayment_TextFilter"
							 ng-maxlength="50" maxlength="50">
						</div>
						<div class="col-md-4">
							<bsselect ng-model="TambahOutgoingPayment_InstruksiPembayaran_SearchDropdown" data="optionsTambahOutgoingPayment_InstruksiPembayaran_SearchDropdown"
							 item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Search Criteria" icon="fa fa-search">
							</bsselect>
						</div>
						<div class="col-md-4">
							<button id="" ng-click="TambahOutgoingPayment_Filter()" type="button" class="btn ng-binding ladda-button">
								<span class="ladda-label">
									Filter
								</span>
								<span class="ladda-spinner"></span>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

							<div ui-grid="TambahOutgoingPayment_DaftarInstruksiPembayaran_UIGrid" class="form-group" ui-grid-resize-columns ui-grid-auto-resize
							 ui-grid-selection ui-grid-pagination style="width: 97%;margin-left: 15px;height: 435px;"></div>

						</div>
					</div>

					<button style="margin-top:10px;float:right;" ng-click="TambahOutgoingPayment_DaftarInstruksiPembayaranTambah()" type="button"
					 class="rbtn btn ng-binding ladda-button">
						<span class="ladda-label">
							<!--<i class="fa fa-fw fa-refresh"></i>-->Tambah
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>


				<div class="scheduler-border" style="margin-top: 10px;">
					<!-- <legend style="background:white;" class="scheduler-border">Daftar Instruksi Pembayaran Yang Akan Dibayar</legend> -->
					<p style="width:300px; margin-top:70px; margin-left:15px; background:white;color:red;">Daftar Instruksi Pembayaran/Advance Payment yang akan dibayar
						<hr style="border-color:red; margin-top:-10px;margin-left:15px;margin-right:15px">
					</p>
					<div class="row">
						<div class="col-md-12">
							<div ui-grid="TambahOutgoingPayment_DaftarInstruksiPembayaranYangAkanDibayar_UIGrid" class="form-group" ui-grid-resize-columns
							 ui-grid-auto-resize ui-grid-selection ui-grid-pagination style="width: 97%;margin-left: 15px"></div>
						</div>
					</div>
				</div>
			</div>

			<!-- batas bawah border -->
		</div>

	</div>



	<div ng-show="Show_TambahOutgoingPayment_RincianPembayaran" style="margin-left:2px;">
		<fieldset class="scheduler-border" style="margin-top: 10px;">
			<legend style="background:white;" class="scheduler-border">Rincian Pembayaran</legend>

			<div class="col-md-12" style="padding: 10px 0 0 0; margin-top: 10px">
				<div class="col-md-4">
					<bslabel>Metode Pembayaran</bslabel>
					<bsselect ng-change="TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_Selected_Changed()" ng-model="TambahOutgoingPayment_RincianPembayaran_MetodePembayaran"
					 ng-disabled="!TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_EnableDisable" style="margin-top: 5px" data="optionsMetodePembayaran"
					 item-text="name" item-value="value" on-select="value(selected)" placeholder="Select MetodePembayaran" icon="fa fa-search">
					</bsselect>
				</div>
				<div class="col-md-4">
					<div class="form-group" ng-show="Show_TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_BankTransfer">
						<bsreqlabel>Tanggal Pembayaran</bsreqlabel>
						<div class="input-icon-right;">
							<bsdatepicker format="dd/MM/yyyy" name="TambahOutgoingPayment_RincianPembayaran_PaymentDate_BankTransfer" date-options="dateOptions"
							 ng-model="TambahOutgoingPayment_RincianPembayaran_PaymentDate_BankTransfer">
							</bsdatepicker>
						</div>
					</div>
					<div class="form-group" ng-show="Show_TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_Cash">
						<bslabel>Tanggal Pembayaran</bslabel>
						<div class="input-icon-right;">
							<bsdatepicker format="dd/MM/yyyy" ng-change="CheckPengajuan()" max-date="maxDate" name="TambahOutgoingPayment_RincianPembayaran_PaymentDate_Cash" date-options="dateOptions"
							 ng-model="TambahOutgoingPayment_RincianPembayaran_PaymentDate_Cash" ng-disabled="typeCashPickUp">
							</bsdatepicker>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" ng-show="Show_TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_BankTransfer">
						<bsreqlabel>Keterangan</bsreqlabel>
						<textarea type="text" class="form-control" name="Keterangan" placeholder="Keterangan" ng-model="TambahOutgoingPayment_RincianPembayaran_Keterangan_BankTransfer"
						 ng-maxlength="1000" maxlength="1000" style="margin-top: -5px" ></textarea>
					</div>
					<div class="form-group" ng-show="Show_TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_Cash">
						<bsreqlabel>Keterangan</bsreqlabel>
						<textarea type="text" class="form-control" name="AlamatPerusahaan" placeholder="Keterangan" ng-model="TambahOutgoingPayment_RincianPembayaran_Keterangan_Cash"
						 ng-maxlength="1000" maxlength="1000" style="margin-top: -5px" ></textarea>

					</div>
				</div>
			</div>

			<div class="col-md-12" style="padding: 10px 0 0 0; margin-top: 10px">
				<div class="col-md-4">
					<div class="form-group" ng-show="Show_TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_BankTransfer">
						<bslabel>Nominal Pembayaran</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="NominalPembayaran " placeholder="Nominal Pembayaran" style="margin-top: 5px;text-align:right"
							 ng-model="TambahOutgoingPayment_RincianPembayaran_NominalPembayaran_BankTransfer" ng-maxlength="50 " ng-disabled="!TambahOutgoingPayment_RincianPembayaran_NominalPembayaran_BankTransfer_EnableDisable"
							 step="1" required currency-formating number-only>
						</div>
					</div>
					<div class="form-group" ng-show="Show_TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_Cash">
						<bslabel>Nominal Pembayaran</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="NominalPembayaran " placeholder="" style="margin-top: 5px;text-align:right"
							 step="1" ng-disabled="!TambahOutgoingPayment_RincianPembayaran_NominalPembayaran_Cash_EnableDisable" ng-model="TambahOutgoingPayment_RincianPembayaran_NominalPembayaran_Cash"
							 ng-maxlength="50" required currency-formating number-only>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-12" style="padding: 10px 0 0 0; margin-top: 10px" ng-show="!Show_TambahRekeningPenerimaAll">
				<div class="col-md-4">
					<div class="form-group" ng-show="Show_TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_BankTransfer">
						<bslabel>Nomor Rekening Penerima</bslabel>
						<div class="input-icon-right " style="margin-top: 5px">
							<input type="text" class="form-control " name="NoRekeningPenerima " placeholder="No Rekening Penerima" ng-disabled="true"
							 ng-model="TambahOutgoingPayment_RincianPembayaran_NoRekeningPenerima_BankTransfer" ng-maxlength="50 ">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" ng-show="Show_TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_BankTransfer">
						<bslabel>Nama Bank Penerima</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="NamaBankPenerima " placeholder="Nama Bank Penerima" ng-disabled="true"
							ng-model="TambahOutgoingPayment_RincianPembayaran_NamaBankPenerima_Nama_BankTransfer" ng-maxlength="50 ">
							<!-- <bsselect style="margin-bottom:10px;" ng-model="TambahOutgoingPayment_RincianPembayaran_NamaBankPenerima_Nama_BankTransfer" data="TambahOutgoingPayment_RincianPembayaran_NamaBankPenerima_Nama_BankTransferOptions"
							 item-text="name" item-value="value" on-select="value(selected)" ng-disabled="true" placeholder="Select Nama Bank Penerima"
							 icon="fa fa-search">
							</bsselect> -->
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" ng-show="Show_TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_BankTransfer">
						<bslabel>Nama Rekening Penerima</bslabel>
						<div class="input-icon-right " style="margin-top: 5px">
							<input type="text" class="form-control " name="NamaRekeningPenerima " placeholder="Nama Rekening Penerima" ng-disabled="true"
							 ng-model="TambahOutgoingPayment_RincianPembayaran_NamaRekeningPenerima_BankTransfer" ng-maxlength="50 " required>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12" style="padding: 10px 0 0 0; margin-top: 10px"  ng-show="TambahProposal_RekeningPengirim_Show">
				<div class="col-md-4">
					<div class="form-group" ng-show="Show_TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_BankTransfer">
						<bsreqlabel>Nomor Rekening Pengirim</bsreqlabel>
						<div class="input-icon-right ">
							<bsselect style="margin-bottom:10px;" ng-model="TambahOutgoingPayment_RincianPembayaran_NoRekeningPengirim_BankTransfer"
							 data="TambahOutgoingPayment_RincianPembayaran_NoRekeningPengirim_BankTransferOptions" item-text="name" item-value="value"
							 on-select="value(selected)" ng-change="TambahOutgoingPayment_RincianPembayaran_NoRekeningPengirim_BankTransfer_Selected_Changed()"
							 placeholder="Select No Rekening Pengirim" icon="fa fa-search">
							</bsselect>
							<!--<select data-ng-options="o.name for o in TambahOutgoingPayment_BankTransfer_NoRekeningPengirimOptions" data-ng-model="TambahOutgoingPayment_RincianPembayaran_NoRekeningPengirim_BankTransfer" ></select>
						-->
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<p ng-show="Show_TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_BankTransfer"></p>
					<!-- <div class="form-group" ng-show="Show_TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_BankTransfer">
						<bslabel>Nama Bank Pengirim</bslabel>
						<div class="input-icon-right " style="margin-top: 5px">
						<input type="text" class="form-control " name="NamaBankPengirim " placeholder="Nama Bank Pengirim" ng-model="TambahOutgoingPayment_RincianPembayaran_NamaBankPengirim_BankTransfer"
							ng-disabled="!TambahOutgoingPayment_RincianPembayaran_NamaRekeningPengirim_BankTransfer_EnableDisable" ng-maxlength="50 "
							required>
						</div>
	
					</div> -->
				</div>
				<div class="col-md-4">
					<div class="form-group" ng-show="Show_TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_BankTransfer">
						<bslabel>Nama Rekening Pengirim</bslabel>
						<div class="input-icon-right " style="margin-top: 5px">
							<input type="text" class="form-control " name="NamaRekeningPengirim " placeholder="Nama Rekening Pengirim" ng-model="TambahOutgoingPayment_RincianPembayaran_NamaRekeningPengirim_BankTransfer"
							 ng-disabled="!TambahOutgoingPayment_RincianPembayaran_NamaRekeningPengirim_BankTransfer_EnableDisable" ng-maxlength="50 "
							 required>
						</div>

					</div>
				</div>
			</div>

			<div ng-show="Show_TambahOutgoingPayment_RincianPembayaran_MetodePembayaran_BilyetGiro" class="col-md-12" style="padding: 10px 0 0 0; margin-top: 10px">

				<div class="col-md-4">
					<div class="form-group">
						<bsreqlabel>Nomor Bilyet Giro</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="BilyetGiro " placeholder="Nomor Bilyet Giro" ng-model="TambahOutgoingPayment_RincianPembayaran_NomorBilyetGiro_BilyetGiro"
							 ng-maxlength="50 " required>
						</div>

					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<bsreqlabel>Nominal Pembayaran</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="NominalPembayaran " placeholder="Nominal Pembayaran" ng-model="TambahOutgoingPayment_RincianPembayaran_NominalPembayaran_BilyetGiro"
							 ng-maxlength="50 " required currency-formating number-only>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<bslabel>Keterangan</bslabel>
						<textarea type="text" class="form-control" name="Keterangan" placeholder="Keterangan" ng-model="TambahOutgoingPayment_RincianPembayaran_Keterangan_BilyetGiro"
						 ng-maxlength="1000" maxlength="1000" style="margin-bottom: 10px" required></textarea>
					</div>
				</div>
			</div>


		</fieldset>

	</div>

	<div ng-show="Show_TambahOutgoingPayment_BiayaLainLain" style="margin-left:2px;" class="row">
		<fieldset class="scheduler-border" style="margin-top: 10px;">
			<legend style="background:white;" class="scheduler-border">Biaya Lain Lain</legend>
			<div class="form-group">
				<div class="row col-md-12" style="margin-top:10px;margin-bottom:10px;">
					<div class="col-md-4">
						<bsreqlabel>Tipe Biaya Lain Lain </bsreqlabel>
						<bsselect style="margin-bottom:10px;" ng-model="TambahOutgoingPayment_BiayaLainLain_TipeBiayaLain" data="optionsTambahOutgoingPayment_BiayaLainLain_TipeBiayaLain"
						ng-disabled="!TambahOutgoingPayment_BiayaLainLain_TipeBiayaLain_EnableDisable" ng-change="TambahOutgoingPayment_BiayaLainLain_TipeBiayaLain_Selected_Changed()" item-text="name" item-value="value"
						 on-select="value(selected)" placeholder="Tipe Biaya Lain Lain" icon="fa fa-search">
						</bsselect>
					</div>
					<div class="col-md-4">
						<bsreqlabel>Debet/Kredit </bsreqlabel>
						<bsselect style="margin-bottom:10px;" ng-model="TambahOutgoingPayment_BiayaLainLain_DebetKredit" data="optionsTambahOutgoingPayment_BiayaLainLain_DebetKredit"
						 ng-disabled="!TambahOutgoingPayment_BiayaLainLain_DebetKredit_EnableDisable" item-text="name" item-value="value" on-select="selectDebetKredit(selected)"
						 placeholder="Debet / Kredit" icon="fa fa-search">
						</bsselect>
					</div>
				</div>
				<div class="row col-md-12" style="margin-top:10px;margin-bottom:10px;">
					<div class="col-md-4">
						<span>{{NominalTxt}}</span><bsreqlabel> </bsreqlabel>
						<input style="margin-bottom:10px;text-align:right" type="text" class="form-control" name="" step="0.01" ng-model="TambahOutgoingPayment_BiayaLainLain_Nominal"
						ng-disabled="!TambahOutgoingPayment_BiayaLainLain_Nominal_EnableDisable" ng-maxlength="50" ng-blur="TambahOutgoingPayment_BiayaLainLain_NominalBlur()" ng-keyup="givePattern(TambahOutgoingPayment_BiayaLainLain_Nominal,$event)" required>
						</bsselect>
					</div>
					<div class="col-md-4">
						<bslabel>Keterangan</bslabel>
						<textarea style="margin-top:5px;" type="text" class="form-control" name="" placeholder="" ng-model="TambahOutgoingPayment_BiayaLainLain_Keterangan"
						 ng-maxlength="1000" maxlength="1000"></textarea>
					</div>

					<button ng-click="TambahOutgoingPayment_TambahBiayaLainLain()"  type="button" class="rbtn btn ng-binding ladda-button" style="float: right;margin-top:24px;">
						<span class="ladda-label">
							<!--<i class="fa fa-fw fa-refresh"></i>-->Tambah
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
			<!--</fieldset>				
		<fieldset class="scheduler-border" style="margin-top: 10px;">-->
			<!-- <legend style="background:white;" class="scheduler-border">Daftar Biaya Lain Lain</legend> -->
			<p style="width:300px; margin-top:70px; margin-left:15px; background:white;color:red;">Daftar Biaya Lain Lain
				<hr style="border-color:red; margin-top:-10px;margin-left:15px;margin-right:15px">
			</p>
			<div class="form-group">
				<table border="1" style="margin-left:2px;" class="table table-bordered table-responsive">
					<tbody>
						<tr>
							<td>
								<div ui-grid="TambahOutgoingPayment_DaftarBiayaLainLain_UIGrid" class="form-group" ui-grid-resize-columns ui-grid-auto-resize
								 ui-grid-selection ui-grid-pagination></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--<div class="row" ng-show="Show_TambahOutgoingPayment_BiayaLainLain_BiayaBungaDF" >
				<div class="form-group">
					<bslabel>Biaya Bunga DF</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="TambahOutgoingPayment_BiayaBungaDF " placeholder="Biaya Bunga DF" 
						ng-model="TambahOutgoingPayment_DaftarBiayaLainLain_BiayaBungaDF" ng-maxlength="50 ">
					</div>

				</div>
			</div>	-->
		</fieldset>
	</div>
	<div class="row">

		<button ng-click="TambahOutgoingPayment_Simpan()" ng-if="!ShowPengajuan" ng-disabled="ProsesSimpan" type="button" class="rbtn btn ng-binding ladda-button" style="float: right;margin-left:3px;">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Simpan
			</span>
			<span class="ladda-spinner"></span>
		</button>
		<button ng-click="TambahOutgoingPayment_Pengajuan()" ng-if="ShowPengajuan" ng-disabled="ProsesSimpan" type="button" class="rbtn btn ng-binding ladda-button" style="float: right;margin-left:3px;">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Pengajuan
			</span>
			<span class="ladda-spinner"></span>
		</button>
		<button ng-click="BackToMainOutgoingPayment()" type="button" class="btn ng-binding ladda-button" style="float: right;margin-left:3px;">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
			</span>
			<span class="ladda-spinner"></span>
		</button>

		<button ng-click="BtnTest()" type="button" class="btn ng-binding ladda-button" style="float: right;margin-left:3px;display: none;">
			<span class="ladda-label">
				Test
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
</div>


<div class="ui modal" id="ModalLihatOutgoingPayment_PengajuanReversal" role="dialog" style="width: 600px;margin-left:-145px;">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Input Alasan Reversals</h4>
		</div>
		<div class="modal-body">
			<p>
				<textarea type="text" class="form-control" name="AlasanReversal" placeholder="Alasan Reversal" ng-model="LihatOutgoingPayment_PengajuanReversal_AlasanReversal"
				 ng-maxlength="1000" maxlength="1000" style="margin-bottom: 10px" required></textarea>
			</p>
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="Batal_LihatOutgoingPayment_PengajuanReversalModal()" class="rbtn btn ng-binding ladda-button" type="button">Batal</button>
				<button ng-click="Pengajuan_LihatOutgoingPayment_PengajuanReversalModal()" class="rbtn btn ng-binding ladda-button" type="button">Pengajuan</button>
			</p>
		</div>
	</div>
</div>
 
<div class="ui modal" id="ModalTolakApprovalOutgoing" role="dialog">
	<div class="modal-content" >
		<ul class="list-group">
			<p align="left" style="margin-left:10px">
				<div>Tanggal Outgoing Payment : {{ModalTolak_Tanggal}}</div>
				<div>Nomor Outgoing Payment : {{ModalTolak_NomorAP}}</div>
				<div>Tipe Outgoing Payment : {{ModalTolak_TipeOutgoing}}</div>
				<div>Nama Pelanggan / Vendor/ Penerima : {{ModalTolak_NamaVendor}}</div>
				<div>Nominal Pembayaran : {{ModalTolak_Nominal}}</div>
				<div>Tipe Pengajuan : {{ModalTolak_TipePengajuan}}</div>
				<div>Tanggal Pengajuan : {{ModalTolak_TanggalPengajuan}}</div>
				<div>Alasan Pengajuan : {{ModalTolak_AlasanPengajuan}}</div>
			</p>
			<bsreqlabel>Input Alasan Penolakan</bsreqlabel>
			<textarea type="text" class="form-control" name="AlasanReversal" placeholder="Alasan Reversal" ng-model="ModalTolak_AlasanPenolakan"
			 ng-maxlength="1000" maxlength="1000" style="margin-bottom: 10px" required></textarea>

			<p align="center">
				<button class="col-sm-6" ng-click="Batal_Lihat_TolakModal()" type="button" class="rbtn btn ng-binding ladda-button">
					Batal
				</button>
				<button class="col-sm-6" ng-click="Pengajuan_Lihat_TolakModal()" type="button" class="rbtn btn ng-binding ladda-button">
					Pengajuan
				</button>
			</p>
		</ul>
	</div>
</div>

<div class="ui modal" id="ModalLihatOutgoingPayment_PengajuanBackDate" role="dialog" style="width: 600px;margin-left:-145px;">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Input Alasan Back Date</h4>
		</div>
		<div class="modal-body">
			<p>
				<textarea type="text" class="form-control" name="AlasanReversal" placeholder="Alasan BackDate" ng-model="LihatOutgoingPayment_PengajuanBackDate_AlasanBackDate"
				 ng-maxlength="1000" maxlength="1000" style="margin-bottom: 10px" required></textarea>
			</p>
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="Batal_LihatOutgoingPayment_PengajuanBackDateModal()" class="rbtn btn ng-binding ladda-button" type="button">Batal</button>
				<button ng-click="Pengajuan_LihatOutgoingPayment_PengajuanBackDateModal()" class="rbtn btn ng-binding ladda-button" type="button">Pengajuan</button>
			</p>
		</div>
	</div>
</div>