<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="no-add">
	<div ng-show="Show_JawabanFIR_Tambah">
		<div class="row">
			<div class="col-md-12" ng-show="JawabanFIRTambah_ShowTambahButton">
				<button id="JawabanFIRTambah_Simpan_Button" ng-click="JawabanFIRTambah_Simpan_Clicked()"
				 type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-left:20px">
					<span class="ladda-label">
						Simpan
					</span><span class="ladda-spinner"></span>
				</button>
				
				<button id="JawabanFIRTambah_Batal_Button" ng-click="JawabanFIRTambah_Batal_Clicked()"
				 type="button" class="btn ng-binding ladda-button" style="float: right;">
					<span class="ladda-label">
						Batal
					</span><span class="ladda-spinner"></span>
				</button>
			</div>
			
			<div class="col-md-12" ng-show="JawabanFIRTambah_ShowKembaliButton">
				<button id="JawabanFIRTambah_Kembali_Button" ng-click="JawabanFIRTambah_Kembali_Clicked()"
				 type="button" class="btn ng-binding ladda-button" style="float: right; margin-top:20px">
					<span class="ladda-label">
						Kembali
					</span><span class="ladda-spinner"></span>
				</button>
			</div>
			
			<div class="col-md-12">
				<div class="col-md-4">
					<bslabel>{{JawabanFIRTambah_PertanyaanFIR}}</bslabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<textarea type="text" class="form-control" name="Jawaban FIR" placeholder="" ng-model="JawabanFIRTambah_JawabanFIR"
							ng-maxlength="100" ng-disabled="JawabanFIRTambah_JawabanFIR_isDisabled">
					</div>

					<br>

					Positif <input type="radio" ng-model="JawabanFIRTambah_IsNegativeFIR" ng-value="0"/>
					&nbsp;&nbsp;&nbsp;&nbsp;
					Negatif <input type="radio" ng-model="JawabanFIRTambah_IsNegativeFIR" ng-value="1"/>
				</div>
			</div>
		</div>
	</div>	
	
	<div ng-show="Show_JawabanFIR_Main">
		<div class="row">
			<div class="col-md-12">
				<button id="JawabanFIRMain_Tambah_Button" ng-hide="disableAddButton" ng-click="JawabanFIRMain_Tambah_Clicked()"
				 type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:20px">
					<span class="ladda-label">
						<i class="fa fa-fw fa-plus"></i> Tambah Jawaban FIR
					</span><span class="ladda-spinner"></span>
				</button>
			</div>		
			
			<div class="col-md-12" style="margin-left:5px">
				<div class="col-md-4">
					<bslabel>Pilihan Pertanyaan FIR</bslabel>
					<bsselect ng-model="JawabanFIRMain_DaftarPertanyaan"
						data="optionsJawabanFIRMain_DaftarPertanyaan" item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Daftar Pertanyaan"
						icon="fa fa-search">
					</bsselect>
				</div>
				<div class="col-md-4">
					<button id="JawabanFIRMain_Search_Button" ng-click="JawabanFIRMain_Search_Clicked()"
					 type="button" class="btn ng-binding ladda-button" style="float: left; margin-top:20px">
						<span class="ladda-label">
							Search
						</span><span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
			
			<div class="col-md-12" style="margin-top:30px; margin-left:-8px">
				<div class="col-md-6">
					<div class="col-md-3">
						<bsselect ng-model="JawabanFIRMain_BulkAction" data="optionsJawabanFIRMain_BulkAction"
						 item-text="name" item-value="value" on-select="JawabanFIRMain_BulkAction_Changed(selected)" placeholder="bulk action" icon="fa fa-search">
						</bsselect>
						<!-- <div class="input-group-btn" uib-dropdown>
							<button style="margin-right:5px;" ng-disabled="!selectedRows.length>0" type="button" class="btn wbtn" onclick="this.blur()" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
							Bulk Action&nbsp;<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu">
								<li role="menuitem" ng-if="allowApprove">
									<a href="#" ng-click="deleteJawaban(selectedRows,0)" ng-if="selectedRows.length>0">Hapus</a>
								</li>
							</ul>
						</div> -->
					</div>
					<div class="input-group">
						<input type="text" ng-model-options="{debounce: 250}" class="form-control" placeholder="Filter" ng-change="test(GridAPIJawabanFIRGrid.grid.columns[filterColIdx].filters[0].term)" ng-model="GridAPIJawabanFIRGrid.grid.columns[filterColIdx].filters[0].term">
								<div class="input-group-btn" uib-dropdown>
									<button id="filter" type="button" class="btn wbtn" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
										{{filterBtnLabel|uppercase}}&nbsp;<span class="caret"></span>
									</button>
									<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="filter">
										<li role="menuitem" ng-repeat="col in gridCols">
										<a href="#" ng-click="filterBtnChange(col)">{{col.name|uppercase}}
											<span class="pull-right">
											<i class="fa fa-fw fa-filter"
												
											></i>
											</span>
										</a>
										</li>
									</ul>
								</div>
					</div>
					<!--<div class="col-md-3">
						<div class="input-icon-right">
							<input type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="JawabanFIRMain_TextFilter" ng-maxlength="50 ">
						</div>
					</div>-->
					
					<!-- <div class="col-md-3">
						<bsselect ng-model="JawabanFIRMain_SelectKolom" data="optionsJawabanFIRMain_SelectKolom"
						 item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Search Criteria" icon="fa fa-search">
						</bsselect>
					</div> -->
					
				<!-- 	<div class="col-md-3">
						<button id="" ng-click="JawabanFIRMain_Filter_Clicked()" type="button" class="btn ng-binding ladda-button">
						<span class="ladda-label">
							Filter
							</span><span class="ladda-spinner"></span>
						</button>
					</div>-->
				</div>
			</div>
		
			<div class="col-md-12" style="margin-top:-10px">
				<div id="myGrid" ui-grid="JawabanFIRGrid" ui-grid-auto-resize ui-grid-pagination ui-grid-selection class="Mygrid" style="width:95%;height: 250px; margin-top:20px; margin-bottom:20px; margin-left:20px"></div>						
			</div>
		</div>
	</div>
	
	<div class="ui modal" id="ModalHapusJawabanFIR" role="dialog">
		<div class="modalDefault-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Konfirmasi Hapus</h4>
			</div>
			<div class="modal-body">
				<p>
					Apakah anda yakin ingin menghapus jawaban FIR ?
				</p>
			</div>
			<div class="modal-footer">
				<p align="center">
					<button ng-click="Batal_ModalJawabanFIR()" class="rbtn btn ng-binding ladda-button" type="button">Tidak</button>
					<button ng-click="Hapus_ModalJawabanFIR()" class="rbtn btn ng-binding ladda-button" type="button">Ya</button>
				</p>
			</div>
		</div>
	</div>
</div>