<style>
.BodyRows{
    line-height: 20px;

}
.ColOne{
    border:none !Important; 
    text-align:left !Important;
}
.ColTwo{
    border:none !Important; 
    text-align:right !Important;
}
.ColThree
{
    border:none !Important;
    text-align:right !Important;
}
.ColLine
{
    border: 1px solid #000;
} 
</style>
<div class="col-lg-12" >
    <h1>SAMPLE PRICING ENGINE</h1>

    <div style="border:dashed" >
        Custom Fields untuk Header Input 
        <br/>
        Contoh disini ada $input1$, $input2$ dan {input3}
        <br/>
        AssemblyType = <input ng-model="jsData.HeaderInputs['$AssemblyType$']" value=""/><br/>
        CC = <input ng-model="jsData.HeaderInputs['$CC$']" value="1"/><br/>
        OutletId = <input ng-model="jsData.HeaderInputs['$OutletId$']"/><br/>
        TipeWarnaId = <input ng-model="jsData.HeaderInputs['$VehicleTypeColorId$']"/><br/>
        Tahun Kendaraan  = <input ng-model="jsData.HeaderInputs['$VehicleYear$']"/><br/> 
        AccTotal  = <input ng-model="jsData.HeaderInputs['{AccTotal}']"/><br/> 
        <br>
        <!--
        Ketika pertama kali kirim data ke Backend waktu minta Pricing bisa sekaligus kirim juga HeaderInputs
        <br>
        JSON yang akan dikirim berbentuk {{$scope.jsData}}
        -->
    </div>
    <br/>
    <div style="border:3px">
        Ini Directive Pricing Engine<br/>
        <pricing-engine js-data="jsData" url-pricing="urlPricing" jumlah-data="10">
            <form-body-custom >
                <div ng-repeat="acc in listAccesories">
                    <div style="border: 1px dashed" class="col-xs-12 col-md-4 ColOne">Nama {{acc.Label}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColTwo">Jumlah {{acc.Jumlah}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColThree">@{{acc.HargaSatuan}}</div>
                    <div style="border: 1px dashed" class="col-xs-12 col-md-4 ColOne"></div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColTwo">VAT {{acc.VAT}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColThree">Jumlah {{acc.TOTAL}}</div>
                    <hr/>
                </div>
            </form-body-custom>
        </pricing-engine>
    </div>
    
    <br/>
    <p>Pada Controller masing2 kalo mau ambil value dari directive : </p>
    <input type="button" value="Controller Function" ng-click="GetDataFromFactory()"/>
</div>
<br/> 