<style type="text/css">
    @media only screen and (max-width: 600px) {
        .nav.nav-tabs {
            display: none;
        }
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    fieldset.scheduler-border {
        width: auto;
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        width: auto;
        /* Or auto */
        padding: 0 10px;
        /* To give a bit of padding on the left and right */
        border-bottom: none;
    }
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<div class="no-add">
    <div ng-show="Show_MainRegisterCheque" class="fi-outermost">
        <div class="row">
            <div class="pull-right" style="margin-top:-50px">
                <button id="RegisterCheque_Tambah_Button" ng-click="RegisterCheque_ShowTambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
                    <span class="ladda-label">
                        <i class="fa fa-fw fa-plus"> </i>
                        Tambah
                    </span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>

        <div class="row" style="margin-top:-10px;">
            <div>
                <div class="col-md-3">
                    <div class="form-group">
                        <bsreqlabel>Tanggal Register Cheque</bsreqlabel>
                        <div class="input-icon-right ">
                            <bsdatepicker date-options="dateOptionsStart" ng-model="StartDate">
                            </bsdatepicker>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-1" style="margin-top:30px" align="center">
                    <bslabel>s.d.</bslabel>
                </div> -->
                <div class="col-md-3">
                    <div class="form-group">
                        <label>s.d.</label>
                        <div class="input-icon-right ">
                            <bsdatepicker date-options="dateOptionsEnd" ng-model="EndDate">
                            </bsdatepicker>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <button id="RegisterCheque_Cari_Button" ng-click="RegisterCheque_Cari_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
                        ng-disabled="StartDate>EndDate" style="float: left; margin-top:22px">
                        <span class="ladda-label">
                            Cari
                        </span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-12 has-error">
                <div class="has-error" style="margin-left:0px;">
                    <span ng-show="StartDate>EndDate" class="help-block" style="margin-top:-10px;">Tanggal awal harus lebih kecil atau sama dengan tanggal akhir!</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div style="margin-top:-16px; margin-left:-2px">
                <p class="fi-title-line">Daftar Cheque Masuk
                </p>
            </div>
        </div>

        <div class="row">
            <div style="margin-top: -20px;">
                <div class="col-md-2">
                    <div class="input-icon-right">
                        <input type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="MainGrid_TextFilter" ng-maxlength="50"
                            maxlength="50">
                    </div>
                </div>
                <div class="col-md-2">
                    <bsselect ng-model="CurrentOption" data="MainGridFilterOptions" ng-change="MainBeaMateraiElektronik_FilterKolom_Changed"
                        item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih Kriteria"
                        icon="fa fa-search">
                    </bsselect>
                </div>
                <div class="col-md-3">
                    <button id="" onclick="" ng-click="MainGridFilterClick()" type="button" class="btn ng-binding ladda-button">
                        <span class="ladda-label">
                            Filter
                        </span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div style="margin-top:-15px;">
                <div id="myGrid" ui-grid="grid" ui-grid-pagination ui-grid-resize-columns class="fi-ui-grid" style="margin-left: 13px; height: 400px;">
                    <div class="ui-grid-nodata" ng-if="!grid.data.length && !loading" ng-cloak>No data available</div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="Show_TambahRegisterCheque" class="fi-outermost">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <bslabel>Tanggal Register</bslabel>
                    <div class="input-icon-right">
                        <i class="fa fa-calendar"></i>
                        <input type="date" class="form-control" ng-disabled="true" name="TipeRegisterCheque" ng-model="RegisterCheque_Data.RegisterDate"
                            ng-maxlength="50">
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="Show_RegisterCheque_Tambah_Button">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <bsreqlabel>Nama Pelanggan</bsreqlabel>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="input-icon-right">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" ng-model="RegisterCheque_Data.Name" ng-maxlength="50" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="button" class="rbtn btn ng-binding ladda-button" value="Cari" ng-click="ShowModalSearchProspect()">
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <p class="fi-title-line">Informasi Pelanggan
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <bslabel>Nomor Pelanggan</bslabel>
                    <div class="input-icon-right">
                        <input type="text" class="form-control" ng-disabled="true" name="TipeRegisterCheque" ng-model="RegisterCheque_Data.PelangganCode"
                            ng-maxlength="50">
                    </div>
                </div>
                <div class="col-md-4">
                    <bslabel>Nama Pelanggan</bslabel>
                    <div class="input-icon-right">
                        <input type="text" class="form-control" ng-disabled="true" name="TipeRegisterCheque" ng-model="RegisterCheque_Data.Name"
                            ng-maxlength="50">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <bslabel>Alamat</bslabel>
                    <div class="input">
                        <textarea type="text" class="form-control" ng-disabled="true" name="Address" ng-model="RegisterCheque_Data.Address" ng-maxlength="50">
                   </div>
                </div>
                <div class="col-md-4">
                   <bslabel>Kabupaten/Kota</bslabel>
                   <div class="input "> 
                      <input type="text" class="form-control" ng-disabled="true" name="City"   ng-model="RegisterCheque_Data.City" ng-maxlength="50" >
                   </div>
                </div>
                <div class="col-md-4">
                   <bslabel>Handphone</bslabel>
                   <div class="input "> 
                      <input type="text" class="form-control" ng-disabled="true" name="Phone"   ng-model="RegisterCheque_Data.Phone" ng-maxlength="50" >
                   </div>
                </div>
             </div>
          </div>
        <div class="col-md-12">
                <hr style="border-color:red" />
       </div>
       <br>
       <br>
       <form name="FormValidation_RegisterCheque">
            <div class="row">
          <div class="col-md-12">
             <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error':FormValidation_RegisterCheque.ChequeNo.$error.required && FormValidation_RegisterCheque.ChequeNo.$touched}">
                   <bsreqlabel ng-show="Show_RegisterCheque_Tambah_Button">Nomor Cheque</bsreqlabel>
                   <bslabel ng-show="Show_RegisterCheque_Ubah_Button">Nomor Cheque</bslabel>
                   <div class="input"> 
                      <input type="text" class="form-control" name="ChequeNo"
                         ng-disabled="!Show_RegisterCheque_Tambah_Button"   ng-model="RegisterCheque_Data.ChequeNo" ng-maxlength="20" maxlength="20" required>
                   </div>
                   <span ng-show="FormValidation_RegisterCheque.ChequeNo.$error.required && FormValidation_RegisterCheque.ChequeNo.$touched"
						 class="help-block">Field ini wajib diisi</span>
                </div>
             </div>

             <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error':FormValidation_RegisterCheque.DueDate.$error.required && FormValidation_RegisterCheque.DueDate.$touched}">
                    <bsreqlabel ng-show="Show_RegisterCheque_Tambah_Button">Tanggal Jatuh Tempo Pencairan</bsreqlabel>
                    <bslabel ng-show="Show_RegisterCheque_Ubah_Button">Tanggal Jatuh Tempo Pencairan</bslabel>
                    <bsdatepicker date-options="dateOptionsStart" ng-disabled="!Show_RegisterCheque_Tambah_Button" name="DueDate" ng-model="RegisterCheque_Data.DueDate" required>
                        </bsdatepicker>
                    <!-- <div class="input-icon-right">
                    <i class="fa fa-calendar"></i>
                    <input type="date" class="form-control" 
                        ng-disabled="!Show_RegisterCheque_Tambah_Button" name="DueDate" ng-model="RegisterCheque_Data.DueDate"  required>
                    </div> -->
                    <span ng-show="FormValidation_RegisterCheque.DueDate.$error.required && FormValidation_RegisterCheque.DueDate.$touched"
                            class="help-block">Field ini wajib diisi</span>
                </div>
             </div>

             <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error':FormValidation_RegisterCheque.NamaBank.$error.required && FormValidation_RegisterCheque.NamaBank.$touched}">
                        <bsreqlabel ng-show="Show_RegisterCheque_Tambah_Button">Nama Bank</bsreqlabel>
                        <bslabel ng-show="Show_RegisterCheque_Ubah_Button">Nama Bank</bslabel>
                        <bsselect ng-model="RegisterCheque_Data.BankId" 
                        ng-disabled="!Show_RegisterCheque_Tambah_Button" name="NamaBank" data="optionsBankName" ng-change="BankName_Changed()"
                        item-text="name" item-value="value" on-select="value(selected)" placeholder="select Bank" icon="fa fa-search" required>
                        </bsselect>
                        <span ng-show="FormValidation_RegisterCheque.NamaBank.$error.required && FormValidation_RegisterCheque.NamaBank.$touched"
                            class="help-block">Field ini wajib diisi</span>
                    </div>
             </div>
          </div>
        </div>

          <div class="row">
          <div class="col-md-12">
             <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error':FormValidation_RegisterCheque.NominalPembayaran.$error.required && FormValidation_RegisterCheque.NominalPembayaran.$touched}">
                        <bsreqlabel ng-show="Show_RegisterCheque_Tambah_Button">Nominal Pembayaran</bsreqlabel>
                        <bslabel ng-show="Show_RegisterCheque_Ubah_Button">Nominal Pembayaran</bslabel>
                        <div class="input"> 
                        <input type="text" step="1"
                            ng-disabled="!Show_RegisterCheque_Tambah_Button" name="NominalPembayaran" class="form-control" ng-model="RegisterCheque_Data.Amount" ng-maxlength="50" 
                            input-currency number-only min="1" required style="text-align:right" required>
                        </div>
                        <span ng-show="FormValidation_RegisterCheque.NominalPembayaran$error.required && FormValidation_RegisterCheque.NominalPembayaran.$touched"
                            class="help-block">Field ini wajib diisi</span>
                    </div>
             </div>
             <div class="col-md-4" >
                <bslabel>Keterangan</bslabel>
                <div class="input"> 
                   <textarea type="text" 
                      ng-disabled="!Show_RegisterCheque_Tambah_Button" class="form-control" ng-model="RegisterCheque_Data.Description" ng-maxlength="1000" maxlength="1000" >
                </div>
             </div>
             <div class="col-md-4" ng-show="Show_RegisterCheque_Ubah_Button">
                <bsreqlabel>Status</bsreqlabel>
                <bsselect ng-model="RegisterCheque_Data.Status" data="optionsStatus" ng-change="Status_Changed()"
                   item-text="name" item-value="value" on-select="value(selected)" placeholder="select Status" icon="fa fa-search">
                </bsselect>
             </div>
          </div>       
        </div>   
           
          <div class="row">
          <div class="col-md-12">
                <button id="RegisterCheque_Tambah_Button" ng-click="RegisterCheque_Tambah_Clicked()"
                    ng-show="Show_RegisterCheque_Tambah_Button"
                    ng-disabled="FormValidation_RegisterCheque.$invalid || !RegisterCheque_Tambah_Button_EnabledDisabled || RegisterCheque_Data.Amount == 0"
                    type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
                <span class="ladda-label">
                Simpan
                </span><span class="ladda-spinner"></span>
                </button>
                <button id="RegisterCheque_Ubah_Button" ng-click="RegisterCheque_Ubah_Clicked()"
                    ng-show="Show_RegisterCheque_Ubah_Button"
                    ng-disabled="FormValidation_RegisterCheque.$invalid || !RegisterCheque_Ubah_Clicked_EnabledDisabled"
                    type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
                <span class="ladda-label">
                Simpan
                </span><span class="ladda-spinner"></span>
                </button>
                <button id="RegisterCheque_BatalTambah_Button" ng-click="RegisterCheque_BatalTambah_Clicked()"
                    type="button" class="btn ng-binding ladda-button fi-right-button">
                <span class="ladda-label">
                Kembali
                </span><span class="ladda-spinner"></span>
                </button>
            </div>
            </div>
       </form>
    </div>
</div>

<div class="modal " id="ModalHapusRegisterCheque" role="dialog">
    <div class="modalDefault-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Konfirmasi Hapus</h4>
        </div>
        <div class="modal-body">
            <p>
            Apakah anda yakin ingin menghapus Nomor Cheque  {{ChequeNo}} ?
            </p>
        </div>
        <div class="modal-footer">
            <p align="center">
            <button ng-click="Batal_ModalHapusRegisterCheque()" class="rbtn btn ng-binding ladda-button" type="button">Tidak</button>
            <button ng-click="Hapus_ModalHapusRegisterCheque()" class="rbtn btn ng-binding ladda-button" type="button">Ya</button>
            </p>
        </div>
    </div>
</div>

 <div class="ui modal"  
    id="ModalSearchProspectID" role="dialog">
    <div class="modal-content" >
       <ul class="list-group">
          <bsreqlabel>Cari Prospect, Customer</bsreqlabel>
          <div class="form-group" ui-grid="prospectGrid" ui-grid-auto-resize ui-grid-selection ui-grid-pagination ui-grid-resize-columns ></div>
          <p align="center">
             <button class="col-sm-6" ng-click="ModalSearchProspect_Batal()" type="button" class="rbtn btn ng-binding ladda-button" >
             Kembali
             </button> 
          </p>
       </ul>
    </div>
 </div>
 <!--
    <div class="no-add" >
    <bsform-grid
            ng-form="RegisterChequeForm"
            factory-name="RegisterChequeFactory"
            model="mChequeList"
            model-id="ChequeId" 
    
            get-data="getData"
            selected-rows="selectedRows"
            on-select-rows="onSelectRows"
    
            form-name="RegisterChequeForm"
            form-title="RegisterCheque"
            modal-title="RegisterCheque"
            modal-size="small"
            icon="fa fa-fw fa-child"
            > 
            
        <div class="form-group" show-errors  >
            <bsreqlabel>Nomor Cheque</bsreqlabel>
            <div class="input-icon-right">
                <i class="fa fa-pencil"></i>
                <input type="text" class="form-control" name="ChequeNo" placeholder="Nomor Cheque" ng-model="mChequeList.ChequeNo" ng-maxlength="50" required>
            </div>
            <bserrmsg field="ChequeNo"></bserrmsg>
        </div>
         
        <div class="form-group" show-errors>
            <bsreqlabel>Nama Pelanggan</bsreqlabel>
            <div class="input-icon-right">
                <i class="fa fa-pencil"></i>
                <input type="text" class="form-control" name="Name" placeholder="Nama Pelanggan" ng-model="mChequeList.Name" ng-maxlength="50" required>
            </div>
            <bserrmsg field="Name"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Tanggal Jatuh Tempo</bsreqlabel>
            <div class="input-icon-right">
                <i class="fa fa-pencil"></i>
                <input type="text" class="form-control" name="DueDate" placeholder="Tanggal Jatuh Tempo" ng-model="mChequeList.DueDate" ng-maxlength="50" required>
            </div>
            <bserrmsg field="DueDate"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Nama Bank</bsreqlabel>
            <bsselect ng-change="" ng-model="mChequeList.BankId"
                data="optionsBankName" item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih Nama Bank"
                icon="fa fa-search">
            </bsselect>
            <bserrmsg field="BankId"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Status</bsreqlabel>
            <div class="input-icon-right">
                <i class="fa fa-pencil"></i>
                <input type="text" class="form-control" name="StatusText" placeholder="Status" ng-model="mChequeList.StatusText" ng-maxlength="50" required>
            </div>
            <bserrmsg field="StatusText"></bserrmsg>
        </div> 
    </bsform-grid>
    
    </div> -->