<script type="text/javascript">

</script>
<style type="text/css">

</style>

<bsform-grid
        ng-form="reportFilterForm"
        factory-name="ReportFilter"
        model="mreportFilter"
        loading="loading"

        get-data="getData"
        selected-rows="xreportFilter.selected"
        rights-byte="myRights"
        
        show-advsearch="on"
        on-show-detail="onShowDetail"


        modal-title="reportFilter"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

         <bsform-advsearch>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                                        <label>Report</label>
                                        <bsselect name="getReport"
                                                ng-model="mreportFilter.reportId"
                                                data="report"
                                                item-text="name"
                                                item-value="id"
                                                placeholder="Pilih Report"
                                                on-select="selectReport(selected)"
                                                icon="fa fa-globe">
                                        </bsselect>
                    </div>
                </div>
                <div class="col-md-4" ng-if="mreportFilter.reportId==1 || mreportFilter.reportId==2 || mreportFilter.reportId==5 || mreportFilter.reportId==6">
                    <div class="form-group" >
                    <bsreqlabel>GetSudo Period</bsreqlabel>
                                    <bsselect name="getsudoPrd"
                                            ng-model="mreportFilter.GetsudoPeriodId"
                                            data="getSudoPrdData"
                                            item-text="GetsudoPeriodName"
                                            item-value="GetsudoPeriodId"
                                            placeholder="Pilih Getsudo Period"
                                            
                                            on-select="selectPeriod(selected)"
                                            icon="fa fa-globe">
                                    </bsselect>
                    <bserrmsg field="GetsudoPeriodId"></bserrmsg>
                    </div>
                </div>
                <div class="col-md-4" ng-if="mreportFilter.reportId==3 || mreportFilter.reportId==4">
                    <div class="form-group">
                    <bsreqlabel>Tahun</bsreqlabel>
                                    <bsselect name="getYear"
                                            ng-model="mreportFilter.xyear"
                                            data="olYear"
                                            item-text="year"
                                            item-value="id"
                                            placeholder="Pilih Tahun"
                                            
                                            on-select="selectPeriod(selected)"
                                            icon="fa fa-globe">
                                    </bsselect>
                                    <bserrmsg field="xyear"></bserrmsg>
                    </div>
                </div>
            </div>
            <!-- custom -->
            
            <div class="row" >
                <div class="col-md-4" ng-if="mreportFilter.reportId==6">
                <!-- item-text="GroupDealerName"
                                    item-value="GroupDealerId" mreportFilter.dealerId selectOutlet(selected)-->
                    <div class="form-group">
                    <label>Dealer - Branch</label>
                                <bsselect-tree name="outlet2"
                                    ng-model="mreportFilter.outletIdInternal"
                                    data="orgDataInternal"
                                    placeholder="Pilih Dealer ...."
                                    on-select="selectOutletInternal(selected)"
                                    icon="fa fa-sitemap">
                                </bsselect-tree>
                    </div>
                </div>
                <div class="col-md-4"  ng-if="mreportFilter.reportId==1 || mreportFilter.reportId==2 || mreportFilter.reportId==3 || mreportFilter.reportId==4 || mreportFilter.reportId==5  || mreportFilter.reportId==7">
                    <div class="form-group">
                    <!-- selectPeriod(selected) changeArea(selected)  ng-if="mreportFilter.reportId!=6"-->
                        <bsreqlabel ng-if="mreportFilter.reportId!=6 && mreportFilter.reportId!=2 && mreportFilter.reportId!=7">Area</bsreqlabel>
                        <bslabel ng-if="mreportFilter.reportId==6 || mreportFilter.reportId==2 || mreportFilter.reportId==7">Area</bslabel>

                                <bsselect name="area"
                                        ng-model="mreportFilter.areaId"
                                        data="areaData"
                                        item-text="Description"
                                        item-value="AreaId"
                                        placeholder="Pilih Area"
                                        ng-change="changeFilterCombo(selected,sender)"
                                        
                                        icon="fa fa-building">
                                </bsselect>
                        <bserrmsg field="areaId"></bserrmsg>
                    </div>
                    
                </div>
                <div class="col-md-4" ng-if="mreportFilter.reportId==2" >
                    <div class="form-group">
                    <bsreqlabel>Month</bsreqlabel>
                                    <bsselect name="getMonth"
                                        ng-model="mreportFilter.monthId"
                                        data="listMonth"
                                        item-text="tx"
                                        item-value="id"
                                        placeholder="Pilih Month"
                                        on-select="selectMonth(selected)"
                                        
                                        icon="fa fa-globe">
                                    </bsselect>
                    </div>
                </div>

                <div class="col-md-4" ng-if="mreportFilter.reportId==1 || mreportFilter.reportId==5 || mreportFilter.reportId==6 || mreportFilter.reportId==7" >
                    <div class="form-group" >
                    <!-- <bsreqlabel ng-if="mreportFilter.reportId==2">Model</bsreqlabel> -->
                    <label ng-if="(mreportFilter.reportId!=2)">Model</label>
                                    <bsselect name="getModel"
                                        ng-model="mreportFilter.modelId"
                                        data="productModelData"
                                        item-text="VehicleModelName"
                                        item-value="VehicleModelId"
                                        placeholder="Pilih Model"
                                        on-select="selectProduct(selected)"
                                        
                                        icon="fa fa-car">
                                    </bsselect>
                    </div>
                </div>
                <!-- <div class="col-md-4" ng-if="mreportFilter.reportId==9">
                    <div class="form-group">
                        <bslabel>Allowance</bslabel>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="number" class="form-control" name="allowance" placeholder="number...." ng-model="mreportFilter.allowance">
                        </div>
                        <bserrmsg field="allowance"></bserrmsg>
                    </div>
                </div> -->
                
                
                
            </div>
            
            <!-- <div class="row">
                <div class="col-md-6">
                    
                </div>
                <div class="col-md-6">
                    
                </div>
            </div> -->
            
            <div class="row">
                <div class="col-md-4" ng-if="mreportFilter.reportId==6"></div>
                <div class="col-md-4"  ng-if="mreportFilter.reportId==1 || mreportFilter.reportId==2 || mreportFilter.reportId==3 || mreportFilter.reportId==4 || mreportFilter.reportId==5  || mreportFilter.reportId==7">
                    <div class="form-group">
                    <!-- <label>Island - Province - Cities</label> listRegion selectRegion(selected) changeProvince(selected)-->
                    <label>Province</label>
                            <bsselect name="province"
                                    ng-model="mreportFilter.provinceId"
                                    data="provinceData"
                                    item-text="ProvinceName"
                                    item-value="ProvinceId"
                                    placeholder="Pilih Region"
                                    ng-change="changeFilterCombo(selected,sender)"
                                    
                                    icon="fa fa-globe">
                            </bsselect>
                    </div>
                </div>
                <!-- <div class="col-md-4" ng-if="mreportFilter.dealerId > 0 || mreportFilter.dealerId != null">
                    <div ng-if="mreportFilter.reportId==1 || mreportFilter.reportId==2 || mreportFilter.reportId==3 || mreportFilter.reportId==4 || mreportFilter.reportId==5 || mreportFilter.reportId==6 || mreportFilter.reportId==7">
                        <div class="form-group">
                        <label>Outlet</label>
                                    <bsselect name="outlet"
                                        ng-model="mreportFilter.outletId"
                                        data="outletData"
                                        item-text="Name"
                                        item-value="OutletId"
                                        placeholder="Pilih Outlet ...."
                                        on-select="selectOutlet(selected)"
                                        required="true"
                                        icon="fa fa-sitemap">
                                    </bsselect>
                        </div>
                    </div>
                </div> -->
                

                <div class="col-md-4" ng-if="(mreportFilter.reportId==1 || mreportFilter.reportId==5 || mreportFilter.reportId==6)" >
                    <div class="form-group">
                    <label>Type</label>
                                    <bsselect name="getType"
                                        ng-model="mreportFilter.typeId"
                                        data="productTypeData"
                                        item-text="Description, KatashikiCode, SuffixCode"
                                        item-value="VehicleTypeId"
                                        placeholder="Pilih Type"
                                        on-select="selectType(selected)"
                                        
                                        icon="fa fa-car">
                                    </bsselect>
                    </div>
                </div>
                
                <!-- model for profiling -->
                <div class="col-md-4" ng-if="mreportFilter.reportId==2" >
                    <div class="form-group" >
                    <bsreqlabel ng-if="mreportFilter.reportId==2">Model</bsreqlabel>
                    <!-- <label ng-if="(mreportFilter.reportId!=2)">Model</label> -->
                                    <bsselect name="getModel2"
                                        ng-model="mreportFilter.modelId"
                                        data="productModelData"
                                        item-text="VehicleModelName"
                                        item-value="VehicleModelId"
                                        placeholder="Pilih Model"
                                        on-select="selectProduct(selected)"
                                        
                                        icon="fa fa-car">
                                    </bsselect>
                    </div>
                </div>
                
            </div>
            <div  class="row">
                <!-- <div class="col-md-4" ng-if="(mreportFilter.reportId==3 || mreportFilter.reportId==4) && mreportFilter.provinceId != ''">
                    <div class="form-group">
                     
                    <label>City</label>
                            <bsselect name="getReport"
                                    ng-model="mreportFilter.cityId"
                                    data="lcity"
                                    item-text="CityRegencyName"
                                    item-value="CityRegencyId"
                                    placeholder="Select City..."
                                    on-select="selectCity(selected)"
                                    icon="fa fa-globe">
                            </bsselect>
                    </div>
                </div> -->
                <div class="col-md-4" ng-if="mreportFilter.reportId==6"></div>
                <div class="col-md-4" ng-if="mreportFilter.reportId==1 || mreportFilter.reportId==2 || mreportFilter.reportId==3 || mreportFilter.reportId==4 || mreportFilter.reportId==5 || mreportFilter.reportId==7">
                <!-- item-text="GroupDealerName"
                                    item-value="GroupDealerId" mreportFilter.dealerId selectOutlet(selected)-->
                    <div class="form-group">
                    <label>Dealer - Branch</label>
                                <bsselect-tree name="outlet"
                                    ng-model="mreportFilter.outletId"
                                    data="orgData"
                                    placeholder="Pilih Dealer ...."
                                    on-select="changeFilterCombo(selected,sender)"
                                    icon="fa fa-sitemap">
                                </bsselect-tree>
                    </div>
                </div>
                 
                
                
                
                <!-- <div class="col-md-8" ng-if="mreportFilter.reportId!=3 && mreportFilter.reportId!=4"></div> -->
                <div class="col-md-4" ng-if="(mreportFilter.reportId==1 || mreportFilter.reportId==5 || mreportFilter.reportId==6)" >
                    <div class="form-group">
                    <label>Colour</label>
                                    <bsselect name="getModelColour"
                                        ng-model="mreportFilter.colourId"
                                        data="productColorModel"
                                        item-text="ColorName, ColorCode"
                                        item-value="ColorId"
                                        placeholder="Pilih Colour"
                                        on-select="selectColor(selected)"
                                        
                                        icon="fa fa-car">
                                    </bsselect>
                    </div>
                </div>

                <div class="col-md-8" ng-if="mreportFilter.reportId==7">
                            
                    <div class="col-md-4">
                    <bsreqlabel>Month Start</bsreqlabel>
                        <bsdatepicker
                                name="startDate"
                                date-options="dateOptions"
                                ng-model="mreportFilter.date1"
                                ng-change="startDate(dt)"
                        >
                        </bsdatepicker>
                        <!-- <datepicker ng-model="mreportFilter.date1" min-mode="month" datepicker-mode="'month'"></datepicker> -->
                        <!-- <bserrmsg field="date1"></bserrmsg> -->
                    </div>
                    <div class="col-md-4">
                    <bsreqlabel>Month End</bsreqlabel>
                        <bsdatepicker
                                name="EditDate"
                                date-options="endDateOptions"
                                ng-model="mreportFilter.date2"
                                min-date="mreportFilter.date1"
                                ng-change="endDate(dt)"
                        >
                        </bsdatepicker>
                        <!-- <bserrmsg field="date2"></bserrmsg> -->
                    </div>

                </div>
                
            </div>
            
            <!-- <div class="row" ng-if="mreportFilter.reportId==7 ">

                
                
            </div> -->
            <div class="row" ng-if="mreportFilter.reportId==1 || mreportFilter.reportId==3">
                <div class="col-md-6">Filter Field (Pilih Minimal 1)</div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.marketPolreg" ng-change="showHideData()"
                        label="Market Polreg By Prov"
                        true-value = "1"
                        false-value = "0"
                        >
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.rsSugestion" ng-change="showHideData()"
                        label="RS Sugestion"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.os" ng-change="showHideData()"
                        label="O/S"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.gapVsTarget" ng-change="showHideData()"
                        label="GAP VS RS Target OAP/RAP"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                
                <!-- end row 1 -->
                
                

            </div>
            <div class="row">
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.outletShare" ng-change="showHideData()"
                        label="Outlet Share"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.rsAdjusment" ng-change="showHideData()"
                        label="RS Adjusment"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.cl" ng-change="showHideData()"
                        label="C/L"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.gapVsTargetMarket" ng-change="showHideData()"
                        label="GAP VS RS Target Market"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>

                <!-- end row 2 -->
                
            </div>
            <div class="row">
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.rsTargetMarket" ng-change="showHideData()"
                        label="RS Target Market"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.wsSugestion" ng-change="showHideData()"
                        label="WS Sugestion"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.spk" ng-change="showHideData()"
                        label="SPK"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.gapVsTargetOutletShare" ng-change="showHideData()"
                        label="GAP VS Target Outlet Share"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                
                <!-- end row 3 -->
                
                
            </div>
            <div class="row">
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.rsOapRap" ng-change="showHideData()"
                        label="RS OAP RAP"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.wsAdjusment" ng-change="showHideData()"
                        label="WS Adjusment"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.minMax" ng-change="showHideData()"
                        label="Min Max"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.gapVsTargetOutletSalesContribution" ng-change="showHideData()"
                        label="GAP VS Target Outlet Sales Contribution"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                
                <!-- end row 4 -->
                
                
            </div>
            <div class="row">
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.stockBase" ng-change="showHideData()"
                        label="Stock Base On Adjusment"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                 <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.stockRatio" ng-change="showHideData()"
                        label="Stock Ratio"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==1">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.outerSalesContribution" ng-change="showHideData()"
                        label="Outlet Sales Contribution"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <!-- end row 5 end RSSP-->
            </div>
            <!-- end RSSP-->
            <div class="row">
                <div class="col-md-3" ng-if="mreportFilter.reportId==3 || mreportFilter.reportId==4">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.market" ng-change="showHideData()"
                        label="Market"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==3 || mreportFilter.reportId==4">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.retailSales" ng-change="showHideData()"
                        label="Retail Sales"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <div class="col-md-3" ng-if="mreportFilter.reportId==3 || mreportFilter.reportId==4">
                    <bscheckbox 
                        ng-model = "mreportFilter.visibility.outletShare" ng-change="showHideData()"
                        label="Outlet Share"
                        true-value = "1"
                        false-value = "0">
                    </bscheckbox>
                </div>
                <!-- end row OAP/RAP -->
            </div>
<!-- <pre>{{mreportFilter}}</pre> -->
        <!-- end custom -->
            <input type="file" accept=".xlsx" id="uploadRSSPFleet" onchange="angular.element(this).scope().loadXLS(this)"
                    style="display: none;">
        </bsform-advsearch>

    <!-- </div> ' size="{{modalSize}}"' ' novalidate>'++-->

       <!--  <div ng-show="showPreview">
                <table class="table table-bordered" ng-repeat="(sheetName, sheetData) in sheets" ng-show="sheetName == selectedSheetName">
                    <thead>
                        <tr>
                            <th ng-bind="sheetName"></th>
                        </tr>
                    </thead>
                    <tr ng-repeat="row in sheetData.data">
                        <td ng-repeat="col in row" ng-bind="col"></td>
                    </tr>
                    action="sm_act(mData)" model="mData" action-caption="Delete"
                </table>
            </div> -->

</bsform-grid>
        <bsmodal id="modal_report" title="Pembuatan Report" mode=""
                   visible="sm_show2" 
                    size="small"
                    hide-footer="true"
        >
                <p style="font-size:15px;">Mohon menunggu pembuatan report....</p>
        </bsmodal>




