<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="MasterTopForm" factory-name="MasterTopFactoryMaster" model="mMasterTop" model-id="TopId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="MasterTopForm" form-title="MasterTop" modal-title="Master Top" modal-size="small" form-api="formApi" do-custom-save="doCustomSave" icon="fa fa-fw fa-child">

        <div class="row">
            <div class="col-md-6">

				<div class="form-group" show-errors>
					<bsreqlabel>Kategori Pelanggan</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<bsselect ng-disabled="true" name="CustomerTypeId" ng-model="mMasterTop.CustomerTypeId" data="MasterTopGetCustomerCategory" item-text="CustomerTypeDesc" item-value="CustomerTypeId" on-select="CustomerTypeId" placeholder="" icon="fa fa-search"
							required>
						</bsselect>
					</div>
					<bserrmsg field="CustomerTypeId"></bserrmsg>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" show-errors>
							<bsreqlabel>TOP CKD Cash (Hari)</bsreqlabel>
							<div class="input-icon-right">
								<i class="fa fa-pencil"></i>
								<input type="text" class="form-control" name="TopDayCKD" placeholder="Input MasterTop" ng-model="mMasterTop.TopDayCKD"
										maxlength="15" alpha-numeric required
								>
							</div>
							<bserrmsg field="TopDayCKD"></bserrmsg>
						</div>


					</div>
					<div class="col-md-6">
						<div class="form-group" show-errors>
							<bsreqlabel>TOP CBU Cash (Hari)</bsreqlabel>
							<div class="input-icon-right">
								<i class="fa fa-pencil"></i>
								<input type="text" class="form-control" name="TopDayCBU" placeholder="Input MasterTop" ng-model="mMasterTop.TopDayCBU"
										maxlength="15" alpha-numeric required
								>
							</div>
							<bserrmsg field="TopDayCBU"></bserrmsg>
						</div>

						
					</div>

				</div>
				
				
				
            </div>
        </div>
        
</bsform-grid-tree>

