<script type="text/javascript">
</script>
<style type="text/css">
/*.active, .inactive {font-size:40px;cursor:pointer;}
.active, .inactive {font-size:40px;cursor:pointer;}*/
i.active { color: #5cb85c;font-size:40px;cursor:pointer;}
i.inactive {color: #d9534f;font-size:40px;cursor:pointer;}
</style>
<bsform-advsearch>
<div class="panel panel-default">
    <div class="panel-heading">Filter</div>    
        <div class="panel-body">
            <div class="row" style="margin-right:0px;">
                <div class="col-md-4">
                    <div class="form-group" >
                        <label>Dealer</label>
                        <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" required>
                        </bsselect>
                        <!-- <bserrmsg field="dealer"> harus diisi </bserrmsg> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label>Cabang</label>
                        <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                        </bsselect>
                        <!-- <bserrmsg field="cabang"> harus diisi </bserrmsg> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label>No Polisi</label>
                        <input type="text" name="inputa1" ng-model="filter.inputa1" class="form-control">
                        <!-- <bserrmsg field="inputa1"> harus diisi </bserrmsg> -->
                    </div>
                </div>
            </div>
            <switch id="enabled" name="enabled" ng-model="enabled" class="green"></switch>
            
            <div ng-init="init()" ng-model="checked">
                <i class="fa fa-toggle-on active" ng-if="status == true" ng-click="changeStatus();"></i>
                <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="status == false" ng-click="changeStatus();"></i>Advance Search
              
            </div>
        </div>
                
</div>
</bsform-advsearch>

<bsform-base-main>
    <div class="panel panel-default" ng-if="status == true">
        <div class="panel-heading">Filter</div> 
            <div class="panel-body">

            <div >
                <div class="row" style="margin-bottom:20px;">
                    <div class="form-group" >
                        <div class="col-md-4">                        
                            <select ng-change="changeOption(filter.adv1, 1)" class="form-control" ng-model="filter.adv1">
                            <option 
                                    ng-repeat="filter in advFilter1"
                                    value="{{filter.filterId}}">
                              {{filter.filterName}}
                            </option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:20px;">
                    <div class="form-group" >
                        <div id="divf11" ng-if="filter.adv1==1">
                        <div class="col-md-4">  
                            <select class="form-control" ng-model="f1.jenispelanggan">
                            <option ng-repeat="filter in fJenisPelanggan" value="{{filter.jenis}}">
                              {{filter.jenis}}
                            </option>
                            </select>
                        
                        </div>
                        </div>
                        <div id="divf12" ng-if="filter.adv1==2">
                            <div class="col-md-3">
                            <input numbers-only type="text"  class="form-control" name="umurFrom" placeholder="0" ng-model="f1.umur1"> 
                            </div>
                            <div class="col-md-1">
                            S/D
                            </div>
                            <div class="col-md-3">
                            <input numbers-only type="text"   class="form-control" name="umurTo"  placeholder="0" ng-model="f1.umur2"> 
                            </div>
                        </div>
                        <div id="divf13" ng-if="filter.adv1==3">
                        <div class="col-md-4">  
                            <select class="form-control" ng-model="f1.jeniskelamin">
                                <option  value="Laki-Laki">Laki - Laki</option>
                                <option  value="Perempuan">Perempuan</option>
                            </select>
                        </div>
                        </div>
                        <div  id="divf14" ng-if="filter.adv1==4">
                        <div class="col-md-4">  
                            <select class="form-control" ng-model="f1.statuspernikahan">
                                <option  value="Menikah">Menikah</option>
                                <option  value="Tidak Menikah">Belum Menikah</option>
                            </select>
                        </div>
                        </div>
                        <div  id="divf15" ng-if="filter.adv1==5">
                        <div class="col-md-4">  
                            <select class="form-control" ng-model="f1.modelkendaraan">
                                <option ng-repeat="filter in fModelKendaraan" value="{{filter.modelId}}">
                              {{filter.modelName}}
                            </option>
                            </select>
                        </div>
                        </div>
                        <div  id="divf16" ng-if="filter.adv1==6">
                            <div class="col-md-4">  
                                <select convert-to-number class="form-control" ng-change="selectedModel(f1.modelkendaraan,1)" ng-model="f1.modelkendaraan">
                                    <option ng-repeat="filter in fModelKendaraan" value="{{filter.modelId}}">
                                  {{filter.modelName}}
                                </option>
                                </select>
                            </div>
                            <div class="col-md-4">  
                                <select class="form-control" ng-model="f1.tipekendaraan">
                                    <option ng-repeat="filter in fTipeKendaraan1" value="{{filter.tipeId}}">
                                {{filter.tipeName}}  {{filter.tipeName2}}  {{filter.tipeName3}}
                                </option>
                                </select>
                            </div>
                        </div>
                        <div  id="divf17" ng-if="filter.adv1==7">

                            <div class="col-md-4">
                                <label>Periode Beli</label>
                                <bsdatepicker ng-model="f1.pembelian_from" date-options="dateOptions" date-format="dd-MM-yyyy" ng-disabled="valueChange"></bsdatepicker>
                            </div> 
                            <div class="col-md-4">
                                <label>S/d</label>
                                <bsdatepicker ng-model="f1.pembelian_to" date-options="dateOptions" date-format="dd-MM-yyyy" ng-disabled="valueChange"></bsdatepicker>
                            </div> 
                            
                        </div>
                        <div id="divf18" ng-if="filter.adv1==8"> 
                            <div class="col-md-4">
                                <label>Periode Servis</label>
                                <bsdatepicker ng-model="f1.servis_from" date-options="dateOptions" date-format="dd-MM-yyyy" ng-disabled="valueChange"></bsdatepicker>
                            </div> 
                            <div class="col-md-4">
                                <label>S/d</label>
                                <bsdatepicker ng-model="f1.servis_to" date-options="dateOptions" date-format="dd-MM-yyyy" ng-disabled="valueChange"></bsdatepicker>
                            </div> 
                            
                        </div>
                        <div id="divf19" ng-if="filter.adv1==9">
                            <div class="col-md-4">
                                <i class="fa fa-user"></i>
                                <!-- <bsdatepicker ng-model="masaberlakuSTNK" date-options="dateOptions" ng-disabled="valueChange"> -->
                                <bsdatepicker ng-model="f1.masaberlakuSTNK" date-options="dateOptions" date-format="dd-MM-yyyy"></bsdatepicker>
                            </div> 

                        </div>
                    </div>
                </div>

          <div class="clearfix"></div>
        <!-- =========================================================================== FILTER 2 -->
                    <div >
                <div class="row" style="margin-bottom:20px;">
                    <div class="form-group" >
                        <div class="col-md-4">                        
                        <select ng-disabled='filter.adv1 == 0' ng-change="changeOption(filter.adv2, 2)" class="form-control" ng-model="filter.adv2">
                            <option 
                                    ng-repeat="filter in advFilter1"
                                    value="{{filter.filterId}}">
                              {{filter.filterName}}
                            </option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:20px;">
                    <div class="form-group" >
                        <div id="divf11" ng-if="filter.adv2==1">
                        <div class="col-md-4">  
                            <select class="form-control" ng-model="f2.jenispelanggan">
                            <option ng-repeat="filter in fJenisPelanggan" value="{{filter.jenis}}">
                              {{filter.jenis}}
                            </option>
                            </select>
                        
                        </div>
                        </div>
                        <div id="divf12" ng-if="filter.adv2==2">
                            <div class="col-md-3">
                            <input numbers-only type="text" class="form-control" name="umurFrom" placeholder="0" ng-model="f2.umur1"> 
                            </div>
                            <div class="col-md-1">
                            S/D
                            </div>
                            <div class="col-md-3">
                            <input numbers-only type="text" class="form-control" name="umurTo" placeholder="0" ng-model="f2.umur2"> 
                            </div>
                        </div>
                        <div id="divf13" ng-if="filter.adv2==3">
                        <div class="col-md-4">  
                            <select class="form-control" ng-model="f2.jeniskelamin">
                                <option  value="Laki-Laki">Laki - Laki</option>
                                <option  value="Perempuan">Perempuan</option>
                            </select>
                        </div>
                        </div>
                        <div  id="divf14" ng-if="filter.adv2==4">
                        <div class="col-md-4">  
                            <select class="form-control" ng-model="f2.statuspernikahan">
                                <option  value="Menikah">Menikah</option>
                                <option  value="Tidak Menikah">Belum Menikah</option>
                            </select>
                        </div>
                        </div>
                        <div  id="divf15" ng-if="filter.adv2==5">
                            <div class="col-md-4">  
                                <select class="form-control" ng-model="f2.modelkendaraan">
                                    <option ng-repeat="filter in fModelKendaraan" value="{{filter.modelId}}">
                                  {{filter.modelName}}
                                </option>
                                </select>
                            </div>
                        </div>
                        <div  id="divf16" ng-if="filter.adv2==6">
                            <div class="col-md-4">  
                                <select convert-to-number class="form-control" ng-change="selectedModel(f2.modelkendaraan,2)" class="form-control" ng-model="f2.modelkendaraan">
                                    <option ng-repeat="filter in fModelKendaraan" value="{{filter.modelId}}">
                                  {{filter.modelName}}
                                </option>
                                </select>
                            </div>
                            <div class="col-md-4">  
                                <select class="form-control" ng-model="f2.tipekendaraan">
                                    <option ng-repeat="filter in fTipeKendaraan2" value="{{filter.tipeId}}">
                                {{filter.tipeName}} {{filter.tipeName2}}  {{filter.tipeName3}}
                                </option>
                                </select>
                            </div>
                        </div>
                        <div  id="divf17" ng-if="filter.adv2==7">

                            <div class="col-md-4">
                                <label>Periode Beli</label>
                                <bsdatepicker ng-model="f2.pembelian_from" date-options="dateOptions" date-format="dd-MM-yyyy" ng-disabled="valueChange"></bsdatepicker>
                            </div> 
                            <div class="col-md-4">
                                <label>S/d</label>
                                <bsdatepicker ng-model="f2.pembelian_to" date-options="dateOptions" date-format="dd-MM-yyyy" ng-disabled="valueChange"></bsdatepicker>
                            </div> 
                            
                        </div>
                        <div id="divf18" ng-if="filter.adv2==8"> 
                            <div class="col-md-4">
                                <label>Periode Servis</label>
                                <bsdatepicker ng-model="f2.servis_from" date-options="dateOptions" date-format="dd-MM-yyyy" ng-disabled="valueChange"></bsdatepicker>
                            </div> 
                            <div class="col-md-4">
                                <label>S/d</label>
                                <bsdatepicker ng-model="f2.servis_to" date-options="dateOptions" date-format="dd-MM-yyyy" ng-disabled="valueChange"></bsdatepicker>
                            </div> 
                            
                        </div>
                        <div id="divf19" ng-if="filter.adv2==9">
                            <div class="col-md-4">
                                <i class="fa fa-user"></i>
                                <!-- <bsdatepicker ng-model="masaberlakuSTNK" date-options="dateOptions" ng-disabled="valueChange"> -->
                                <bsdatepicker ng-model="f2.masaberlakuSTNK" date-options="dateOptions" date-format="dd-MM-yyyy"></bsdatepicker>
                            </div> 

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
    <!-- =========================================================================== FILTER 3 -->
                   <div >
                <div class="row" style="margin-bottom:20px;">
                    <div class="form-group" >
                        <div class="col-md-4">                        
                        <select ng-disabled="filter.adv2 == 0 || filter.adv1 == 0" ng-change="changeOption(filter.adv3, 3)" class="form-control" ng-model="filter.adv3">
                            <option 
                                ng-repeat="filter in advFilter1"
                                value="{{filter.filterId}}">
                                {{filter.filterName}}
                            </option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:20px;">
                    <div class="form-group" >
                        <div id="divf11" ng-if="filter.adv3==1">
                        <div class="col-md-4">  
                            <select class="form-control" ng-model="f3.jenispelanggan">
                            <option ng-repeat="filter in fJenisPelanggan" value="{{filter.jenis}}">
                              {{filter.jenis}}
                            </option>
                            </select>
                        
                        </div>
                        </div>
                        <div id="divf12" ng-if="filter.adv3==2">
                            <div class="col-md-3">
                            <input numbers-only type="text" maxlength="3" class="form-control" name="umurFrom" placeholder="0" ng-model="f3.umur1"> 
                            </div>
                            <div class="col-md-1">
                            S/D
                            </div>
                            <div class="col-md-3">
                            <input numbers-only type="text" class="form-control" name="umurTo" placeholder="0" ng-model="f3.umur2"> 
                            </div>
                        </div>
                        <div id="divf13" ng-if="filter.adv3==3">
                        <div class="col-md-4">  
                            <select class="form-control" ng-model="f3.jeniskelamin">
                                <option  value="Laki-Laki">Laki - Laki</option>
                                <option  value="Perempuan">Perempuan</option>
                            </select>
                        </div>
                        </div>
                        <div  id="divf14" ng-if="filter.adv3==4">
                        <div class="col-md-4">  
                            <select class="form-control" ng-model="f3.statuspernikahan">
                                <option  value="Menikah">Menikah</option>
                                <option  value="Tidak Menikah">Belum Menikah</option>
                            </select>
                        </div>
                        </div>
                        <div  id="divf15" ng-if="filter.adv3==5">
                        <div class="col-md-4">  
                            <select class="form-control" ng-model="f3.modelkendaraan">
                                <option ng-repeat="filter in fModelKendaraan" value="{{filter.modelId}}">
                              {{filter.modelName}}
                            </option>
                            </select>
                        </div>
                        </div>
                        <div  id="divf16" ng-if="filter.adv3==6">
                            <div class="col-md-4">  
                                <select convert-to-number class="form-control" ng-change="selectedModel(f3.modelkendaraan,3)" class="form-control" ng-model="f3.modelkendaraan">
                                    <option ng-repeat="filter in fModelKendaraan" value="{{filter.modelId}}">
                                  {{filter.modelName}}
                                </option>
                                </select>
                            </div>
                            <div class="col-md-4">  
                                <select class="form-control" ng-model="f3.tipekendaraan">
                                    <option ng-repeat="filter in fTipeKendaraan3" value="{{filter.tipeId}}">
                                {{filter.tipeName}} {{filter.tipeName2}}  {{filter.tipeName3}}
                                </option>
                                </select>
                            </div>
                        </div>
                        <div  id="divf17" ng-if="filter.adv3==7">

                            <div class="col-md-4">
                                <label>Periode Beli</label>
                                <bsdatepicker ng-model="f3.pembelian_from" date-options="dateOptions" date-format="dd-MM-yyyy" ng-disabled="valueChange"></bsdatepicker>
                            </div> 
                            <div class="col-md-4">
                                <label>S/d</label>
                                <bsdatepicker ng-model="f3.pembelian_to" date-options="dateOptions" date-format="dd-MM-yyyy" ng-disabled="valueChange"></bsdatepicker>
                            </div> 
                            
                        </div>
                        <div id="divf18" ng-if="filter.adv3==8"> 
                            <div class="col-md-4">
                                <label>Periode Servis</label>
                                <bsdatepicker ng-model="f3.servis_from" date-options="dateOptions" date-format="dd-MM-yyyy" ng-disabled="valueChange"></bsdatepicker>
                            </div> 
                            <div class="col-md-4">
                                <label>S/d</label>
                                <bsdatepicker ng-model="f3.servis_to" date-options="dateOptions" date-format="dd-MM-yyyy" ng-disabled="valueChange"></bsdatepicker>
                            </div> 
                            
                        </div>
                        <div id="divf19" ng-if="filter.adv3==9">
                            <div class="col-md-4">
                                <i class="fa fa-user"></i>
                                <!-- <bsdatepicker ng-model="masaberlakuSTNK" date-options="dateOptions" ng-disabled="valueChange"> -->
                                <bsdatepicker ng-model="f3.masaberlakuSTNK" date-options="dateOptions" date-format="dd-MM-yyyy"></bsdatepicker>
                            </div> 

                        </div>
                    </div>
                </div>
            

<!-- ========================================================================================= -->
        <div class="row">
          <div class="form-group pull-right">
            <button ng-click="getData()" align ="margin-right" type="button" class="rbtn btn">Filter</button>
          </div>
      </div>
    </div>
</div>
</bsform-base-main>
        <!-- </fieldset> -->
<bsform-base-main>
<!--     <fieldset>
        <legend> Summary </legend> -->
    <fieldset disabled="disabled">
            <div class="panel panel-default">
                    <div class="panel-heading">Summary</div>    
                        <div class="panel-body">
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label>Total Pelanggan dengan ToyotaID</label>
                                </div>
                                <div class="form-group" >
                                    <label>Total Kendaraan</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <input type="text" class="form-control" name="inputa1" ng-model="TotalToyotaID" align="input-icon-right">
                                </div>
                                <div class="form-group" >
                                    <input type="text" class="form-control" name="inputa1" ng-model="TotalKendaraan" align="input-icon-right">
                                </div> 
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label>Total Pelanggan Non ToyotaID</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <input type="text" class="form-control" name="cabang" placeholder="Total Institusi"  
                                    ng-model="TotalNonToyotaID" align="margin-right">
                    <!--                 <bserrmsg field="cabang"> harus diisi </bserrmsg> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div ui-grid="gridSummary" ui-grid-move-columns ui-grid-resize-columns ui-grid-pagination ui-grid-cellNav ui-grid-pinning ui-grid-cellNav ng-hide="dataSum" ng-style="getTableHeightgridSummary()" ui-grid-auto-resize class="grid" ng-cloak></div>
                                </div>
                            </div>
                        </div>
                </div>
    </fieldset>
    
    <div class="row">
          <div class="form-group pull-right">          
            <button ng-click="getReport()" type="button" class="rbtn btn">Export Detail</button>
          </div>
        </div>
<!--    </fieldset> -->
</bsform-base-main>