<link rel="stylesheet" href="css/uistyle.css">
<link rel="stylesheet" href="css/uitogglestyle.css">
<script type="text/javascript">
	function navigateTabProfileLeasing(containerId, divId) {
		$("#" + containerId).children().each(function (n, i) {
			var id = this.id;
			console.log(id + ' - ' + divId);
			if (id == divId) {
				$('#' + divId).attr('class', 'tab-pane fade in active');
			} else {
				$('#' + id).attr('class', 'tab-pane fade');
			}
		});
	}
</script>
<style type="text/css">
	.ProfileLeasingWarnainYgGanjil {
		background-color: #EEEEEE;
	}
</style>
<link rel="styleSheet" href="release/ui-grid.min.css" />
<link rel="styleSheet" href="http://localhost:9000/release/ui-grid.min.css" />
<script src="/release/ui-grid.min.js"></script>



<!-- ------------------------------------------------------------------------------------- -->

<div ng-show="ShowProfileLeasingMain">
	<button style="float: right; margin-top: -31px; margin-left: 5px" ng-click="TambahProfileLeasing()" type="button"
		class="rbtn btn ng-binding ladda-button">
		<i class="fa fa-plus"></i>
		<span>&nbsp&nbspTambah</span>
	</button>
	<bsform-grid
			ng-form="ProfileLeasingForm"
			factory-name="ProfileLeasingFactory"
			model="mProfileLeasing"
			model-id="LeasingId"
			loading="loading"
			grid-hide-action-column="true"
			
			hide-new-button="true"

			get-data="getData"
			selected-rows="selectedRows"
			on-select-rows="onSelectRows"
			mode="uimode"
			form-name="ProfileLeasingForm"
			form-title="Profile Leasing"
			modal-title="Profile Leasing"
			form-api="formApi"
			do-custom-save="doCustomSave"
			modal-size="small"
			icon="fa fa-fw fa-child"
			>

			<div class="row">
			<div class="col-md-12" style="margin-left:-12px">

				<div class="col-md-5">
				<div class="form-group" show-errors>
					<bsreqlabel>Nama Leasing</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="LeasingName" placeholder="Nama Leasing" ng-model="mProfileLeasing.LeasingName"
								maxlength="50" required
						>
					</div>
					<bserrmsg field="LeasingName"></bserrmsg>
				</div>
				</div>
				<div class="col-md-1">
					<bslabel> Aktif / Non-Aktif </bslabel>
					<div style="margin-top:5px" class="input-icon-right">
						<input type="checkbox" ng-model="mProfileLeasing.StatusActive">&nbsp;&nbsp;<label style="margin-top:7px">Aktif</label>
					</div>
				</div>
				<div class="col-md-5">
				<div class="form-group" show-errors>
					<bsreqlabel>Alamat</bsreqlabel>
					<div class="input-icon-right">
						<!--<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="LeasingAlamat" placeholder="Alamat" ng-model="mProfileLeasing.Address"
								maxlength="50" required
						>-->
						<textarea maxlength="255" type="text" class="form-control" name="LeasingAlamat" placeholder="Alamat" ng-model="mProfileLeasing.Address" rows="5" cols="70">
						</textarea>
					</div>
					<!--<bserrmsg field="LeasingAlamat"></bserrmsg>-->
				</div>
				</div>
			</div>	
				
				
				
				<div class="col-md-6">	
					
					<div class="form-group col-md-6 col-xs-5" show-errors style="padding-left:0 !important">
					<bslabel>Waktu Tenor</bslabel>
					<bsselect ng-model="DropdownProfileLeasingTenor" data="optionsProfileLeasingTenor" item-text="LeasingTenorTime"  item-value="LeasingTenorId" on-select="SetSelectedLeasing(selected)" placeholder="Waktu Tenor">
					</bsselect>
					<!-- choice-filter="propsFilter: {LeasingTenorTime: $select.search}" -->
					</div>
					
					
					<div class="col-md-6 col-xs-1" style="padding-left:0 !important">
					<button ng-hide="(modenow == 'view' || uimode == 'view')" ng-disabled="DropdownProfileLeasingTenor==null || DropdownProfileLeasingTenor==undefined || The_Leasing==undefined" ng-click="AddProfileLeasingTenor()"  type="button" class="rbtn btn ng-binding ladda-button" style="float: right;margin-top:20px;">
					<span class="ladda-label">
						Tambah
						</span><span class="ladda-spinner"></span>
					</button>
					</div>
					
					
					<table class="table table-bordered table-responsive">
					<tbody>
						<tr style="background: lightgray">
							<th>Id Tenor</th>
							<th>Waktu Tenor</th>
							<th ng-if="(modenow == 'new' || modenow == 'edit') || (uimode == 'new' || uimode == 'edit')">Action</th>
						</tr>
						<tr ng-repeat="ListProfileLeasingTenor in mProfileLeasing.ListLeasingTenor track by $index">
							<td data-ng-class="ProfileLeasingWarnainTabel($index)">{{ListProfileLeasingTenor.LeasingTenorId}}</td>
							<td data-ng-class="ProfileLeasingWarnainTabel($index)">{{ListProfileLeasingTenor.LeasingTenorTime}}</td>
							<td data-ng-class="ProfileLeasingWarnainTabel($index)" ng-if="(modenow == 'new' || modenow == 'edit') || (uimode == 'new' || uimode == 'edit')"><a ng-click="RemoveProfileLeasingTenor($index)"><u>Hapus</u></a></td>
						</tr>
					</tbody>
					</table>
				</div>

			</div>
	</bsform-grid>
</div>

<div ng-show="ShowProfileLeasingDetail">
	<div class="row" style="margin: 0 0 0 0">
		<button style="float: right;" ng-show="ProfileLeasingOPeration=='Insert' || ProfileLeasingOPeration=='Update'"
			ng-disabled=" gridProfileLeasing_Tenor.data==undefined || gridProfileLeasing_InformasiBank.data.length<=0 || gridProfileLeasing_InformasiBank.data==null || gridProfileLeasing_InformasiBank.data==undefined || gridProfileLeasing_Outlet.data.length<=0 || gridProfileLeasing_Outlet.data==undefined || gridProfileLeasing_Outlet.data==null"
			ng-click="SimpanProfileLeasing()" type="button" class="rbtn btn ng-binding ladda-button">
			<span class="ladda-label">
				Simpan
			</span>
			<span class="ladda-spinner"></span>
		</button>

		<button style="float: right;" ng-click="KembaliDariProfileLeasingDetail()" type="button"
			class="wbtn btn ng-binding ladda-button">
			<span class="ladda-label">
				Kembali
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4">
				<div class="form-group">
					<bsreqlabel>Kode Leasing</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>

						<input ng-show="ProfileLeasingOPeration=='Lihat'" type="text" class="form-control"
							name="LeasingCode" placeholder="Kode Leasing" ng-model="mProfileLeasing.LeasingCode" readonly="true">

						<input ng-show="ProfileLeasingOPeration=='Insert' || ProfileLeasingOPeration=='Update'" type="text" class="form-control" name="LeasingCode"
								placeholder="Kode Leasing" ng-model="mProfileLeasing.LeasingCode" required>


					</div>
				</div>
			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<div class="form-group">
					<bsreqlabel>Nama Leasing</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="LeasingName" ng-disabled="ProfileLeasingOPeration=='Lihat'" placeholder="Nama Leasing"
							ng-model="mProfileLeasing.LeasingName" maxlength="50" required>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<bsreqlabel>Provinsi</bsreqlabel>
				<bsselect ng-disabled="ProfileLeasingOPeration=='Lihat'" style="margin-top:5px"
					ng-model="mProfileLeasing.ProvinceId" data="ProvinsiOption" item-text="ProvinceName"
					item-value="ProvinceId" on-select="ProfileLeasingProvinsiSelected(selected)"
					placeholder="Pilih Provinsi" icon="fa fa-search">
				</bsselect>
			</div>
			<div class="col-md-4">
				<bsreqlabel>Bisnis Unit</bsreqlabel>
				<!-- <bsselect ng-disabled="ProfileLeasingOPeration=='Lihat'"  style="margin-top:5px"
					ng-model="mProfileLeasing.BisnisUnit" data="OptionsProfileLeasingBusinessUnit"
					item-text="BusinessUnitName" item-value="BusinessUnitId"
					on-select="value(selected)" placeholder="Pilih Bisnis Unit"
					icon="fa fa-search">
				</bsselect> -->

				<input type="text" class="form-control" name="BisnisUnit" ng-model="mProfileLeasing.BisnisUnit" readonly="true" >

			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<div class="form-group">
					<bsreqlabel>Alamat Kantor</bsreqlabel>
					<div class="input-icon-right">
						<textarea ng-disabled="ProfileLeasingOPeration=='Lihat'" maxlength="255" type="text"
							class="form-control" name="nama" placeholder="" ng-model="mProfileLeasing.OfficeAddress" rows="4"
							cols="75" required>
						</textarea>
					</div>

				</div>
			</div>
			<div class="col-md-4">
				<bsreqlabel>Kota</bsreqlabel>
				<bsselect ng-disabled="ProfileLeasingOPeration=='Lihat'" style="margin-bottom: 10px"
					ng-model="mProfileLeasing.CityRegencyId" data="ProfileLeasingKota" item-text="CityRegencyName"
					item-value="CityRegencyId" on-select="value(selected)" placeholder="Pilih Kota" icon="fa fa-search">
				</bsselect>
			</div>
			<div class="col-md-4">
				<bsreqlabel>Tipe Vendor</bsreqlabel>
				<bsselect ng-disabled="ProfileLeasingOPeration=='Lihat'" style="margin-bottom: 10px"
					ng-model="mProfileLeasing.VendorTypeId" data="TipeVendorOption" item-text="Name"
					item-value="VendorTypeId" on-select="value(selected)" placeholder="Pilih Tipe Vendor"
					icon="fa fa-search">
				</bsselect>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<div class="form-group">
					<bslabel>Nama NPWP</bslabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input ng-disabled="ProfileLeasingOPeration=='Lihat'" type="text" class="form-control"
							name="VendorName" placeholder="Nama NPWP" ng-model="mProfileLeasing.NPWPName" required>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<bslabel>NPWP</bslabel>
				<div class="input-icon-right">
					<i class="fa fa-pencil"></i>
					<input ng-disabled="ProfileLeasingOPeration=='Lihat'" ng-keypress="allowPattern($event,1)" type="text" class="form-control" name="NPWPNo" maskme="99.999.999.9-999.999"
						placeholder="NPWP" ng-model="mProfileLeasing.NPWPNo"  required>
				</div>
			</div>
		

			<!-- <div class="col-md-4">
				<bslabel>Jatuh Tempo Penerimaan (Hari)</bslabel>
				<div class="input-icon-right">
					<i class="fa fa-pencil"></i>
					<input ng-disabled="ProfileLeasingOPeration=='Lihat'" number-only type="text" class="form-control"
						name="VendorName" placeholder="Jatuh Tempo Penerimaan" ng-model="mProfileLeasing.TermOfPayment" required>
				</div>
			</div> -->

		</div>
		
		<div class="col-md-12">
			<div class="col-md-4">
				<div class="form-group">
					<bslabel>Alamat NPWP</bslabel>
					<div class="input-icon-right">
						<textarea ng-disabled="ProfileLeasingOPeration=='Lihat'" maxlength="255" type="text"
							class="form-control" name="nama" placeholder="Alamat NPWP"
							ng-model="mProfileLeasing.NPWPAddress" rows="4" cols="75" required>
						</textarea>
					</div>

				</div>
			</div>
			<div class="col-md-4">
				<bslabel>Kode Pos</bslabel>
				<div style="margin-top:5px" class="input-icon-right">
					<i class="fa fa-pencil"></i>
					<input ng-disabled="ProfileLeasingOPeration=='Lihat'" type="text" class="form-control"
						placeholder="Kode Pos" ng-model="mProfileLeasing.PostCode" required>
				</div>
			</div>
			<div class="col-md-4">
				<!--Performance Evaluation
				<div class="switch">
					<input ng-disabled="ProfileLeasingOPeration=='Lihat'" ng-model="mProfileLeasing.PerformanceEvaluation"
						id="ProfileLeasingDaPerformanceEvaluation" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					<label for="ProfileLeasingDaPerformanceEvaluation"></label>
				</div>Ya-->
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-4">
				<div class="form-group">
					<bsreqlabel>Email</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input ng-disabled="ProfileLeasingOPeration=='Lihat'" type="email" class="form-control"
							placeholder="Email" ng-model="mProfileLeasing.Email" required>
					</div>

				</div>
			</div>
			<div class="col-md-4">
				<bslabel>Telepon</bslabel>
				<div style="margin-top:5px" class="input-icon-right">
					<i class="fa fa-pencil"></i>
					<input ng-disabled="ProfileLeasingOPeration=='Lihat'" type="text" class="form-control"
						placeholder="Telepon" ng-model="mProfileLeasing.OfficePhone" required>
				</div>
			</div>
			<div class="col-md-4">
				 <!--Aktif / Non-Aktif
				<div class="switch">
					<input ng-disabled="ProfileLeasingOPeration=='Lihat'" ng-model="mProfileLeasing.StatusActive"
						id="ProfileLeasingStatusActive" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					<label for="ProfileLeasingStatusActive"></label>
				</div>-->
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<div class="form-group">
					<bsreqlabel>No HP Kontak Yang Dihubungi</bsreqlabel>
					<div class="input-icon-right" style="margin-top:-5px">
						<i class="fa fa-pencil"></i>
						<input ng-disabled="ProfileLeasingOPeration=='Lihat'" number-only type="text" class="form-control"
							placeholder="No HP Kontak Yang Dihubungi" ng-model="mProfileLeasing.HP" required>
					</div>

				</div>
			</div>
			<div class="col-md-4">
				<bslabel>Fax</bslabel>
				<div class="input-icon-right">
					<i class="fa fa-pencil"></i>
					<input ng-disabled="ProfileLeasingOPeration=='Lihat'" number-only type="text" class="form-control"
						placeholder="Fax" ng-model="mProfileLeasing.Fax" required>
				</div>
			</div>
			<div class="col-md-4">

			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<div class="form-group">
					<bsreqlabel>Kontak Yang Dihubungi</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input ng-disabled="ProfileLeasingOPeration=='Lihat'" type="text" class="form-control"
							placeholder="Kontak Yang Dihubungi" ng-model="mProfileLeasing.ContactPerson" required>
					</div>

				</div>
			</div>
			<div class="col-md-4">

			</div>
			<div class="col-md-4">

			</div>
		</div>

		<div class="col-md-12">
			<ul class="nav nav-tabchild" style="margin-top:10px;">
				<li id="ProfileLeasing_InformasiBank" class="active"><a data-toggle="tab" href="#"
						onclick="navigateTabProfileLeasing('tabContainerMaintainProfileLeasing','menu_ProfileLeasing_InformasiBank');"><i
							class="fa fa-user"></i>&nbsp Informasi Bank</a></li>
				<li id="ProfileLeasing_HargaBeli"><a data-toggle="tab" href="#"
						onclick="navigateTabProfileLeasing('tabContainerMaintainProfileLeasing','menu_ProfileLeasing_HargaBeli');"><i
							class="fa fa-folder-open-o"></i>&nbsp Tenor</a></li>
				<li id="ProfileLeasing_Outlet"><a data-toggle="tab" href="#"
						onclick="navigateTabProfileLeasing('tabContainerMaintainProfileLeasing','menu_ProfileLeasing_Outlet');"><i
							class="fa fa-folder-open-o"></i>&nbsp Outlet</a></li>
				<li id="ProfileLeasing_Outlet"><a data-toggle="tab" href="#"
						onclick="navigateTabProfileLeasing('tabContainerMaintainProfileLeasing','menu_ProfileLeasing_TOP');"><i
							class="fa fa-folder-open-o"></i>&nbsp TOP</a></li>
			</ul>
			
			<div id="tabContainerMaintainProfileLeasing" class="tab-content"
				style="padding-top: 15px; border: none !important">

				<div id="menu_ProfileLeasing_InformasiBank" class="tab-pane fade in active">
					<div style="margin-top:20px;margin-left:-25px">

						<div class="col-md-12">
							<div class="col-md-4">
								<bsreqlabel>Nama Bank</bsreqlabel>
								<!--<div style="margin-bottom:10px" class="input-icon-right">
										<i class="fa fa-pencil"></i>
										<input type="text" class="form-control" placeholder="Nama Bank" ng-model="mProfileLeasing.BankName"
											 required
										>
									</div>-->
								<bsselect style="margin-bottom: 10px;" ng-model="mProfileLeasing.BankId"
									ng-disabled="ProfileLeasingOPeration=='Lihat'" data="OptionsProfileLeasingBank"
									item-text="BankName" item-value="BankId" on-select="value(selected)"
									placeholder="Bank" icon="fa fa-search">
								</bsselect>

								<bsreqlabel>No Rekening</bsreqlabel>
								<div class="input-icon-right">
									<i class="fa fa-pencil"></i>
									<input type="text" ng-disabled="ProfileLeasingOPeration=='Lihat'" class="form-control"
										placeholder="No Rekening" ng-model="mProfileLeasing.AccountNumber" required>
								</div>
							</div>
							<div class="col-md-4">
								<bsreqlabel>Rekening Atas Nama</bsreqlabel>
								<div class="input-icon-right">
									<i class="fa fa-pencil"></i>
									<input ng-disabled="ProfileLeasingOPeration=='Lihat'" type="text" class="form-control"
										placeholder="Atas Nama Bank" ng-model="mProfileLeasing.AccountName" required>
								</div>
							</div>
						</div>

						<button
							ng-disabled="ProfileLeasingOPeration=='Lihat' || mProfileLeasing.BankId==null || mProfileLeasing.BankId==undefined || mProfileLeasing.AccountNumber==null || mProfileLeasing.AccountNumber==undefined || mProfileLeasing.AccountNumber=='' || mProfileLeasing.AccountName==null || mProfileLeasing.AccountName=='' || mProfileLeasing.AccountName==undefined"
							ng-click="TambahProfileLeasing_InformationBank()" type="button"
							class="rbtn btn ng-binding ladda-button" style="float: right;margin-bottom:10px">
							<span class="ladda-label">
								Tambah
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
					<div class="col-md-12">
						<div style="display: block;" class="grid" ui-grid="gridProfileLeasing_InformasiBank"
							ui-grid-pagination ui-grid-pinning ui-grid-selection ui-grid-auto-resize></div>
					</div>
				</div>
				
				<div id="menu_ProfileLeasing_HargaBeli" class="tab-pane fade ">
					<div class="row">				
				
						<div class="col-md-12">
				
							<!-- <div class="form-group col-md-6 col-xs-5" style="padding-left:0 !important">
								<bsreqlabel>Waktu Tenor</bsreqlabel>
								<bsselect ng-model="DropdownProfileLeasingTenor" data="OptionsProfileLeasingTenor"
									item-text="LeasingTenorTime" item-value="LeasingTenorId" on-select="SetSelectedLeasing(selected)"
									placeholder="Waktu Tenor">
								</bsselect>
							</div> -->

							<div class="form-group col-md-6 col-xs-5" style="padding-left:0 !important">
								<bsreqlabel>Waktu Tenor Grid</bsreqlabel>
								<!-- <bsselect ng-model="DropdownProfileLeasingTenor" data="OptionsProfileLeasingTenor" item-text="LeasingTenorTime" on-select="SetSelectedLeasing(selected)"
									item-value="LeasingTenorId" placeholder="Waktu Tenor">
								</bsselect> -->

								<input type="number" ng-disabled="ProfileLeasingOPeration=='Lihat'" class="form-control" placeholder="Waktu Tenor"
									ng-model="The_Leasing" required>



							</div>
				
				
							<div class="col-md-6 col-xs-1" style="padding-left:0 !important">
								<button ng-hide="(modenow == 'view' || uimode == 'view')"
									ng-disabled="The_Leasing==undefined || The_Leasing==''||The_Leasing== null "
									ng-click="AddProfileLeasingTenor()" type="button" class="rbtn btn ng-binding ladda-button"
									style="float: right;margin-top:20px;">
									<span class="ladda-label">
										Tambah
									</span><span class="ladda-spinner"></span>
								</button>
							</div>
						
							<div class="col-md-12">
								<div style="display: block;" class="grid" ui-grid="gridProfileLeasing_Tenor" ui-grid-pagination
									ui-grid-pinning ui-grid-selection ui-grid-auto-resize></div>
							</div>


						</div>
				
					</div>
				</div>

				<div id="menu_ProfileLeasing_Outlet" class="tab-pane fade ">
					<!-- <div style="margin-top:20px;">
						<button ng-disabled="ProfileLeasingOPeration=='Lihat'" ng-click="TambahProfileLeasing_Outlet()" type="button"
							class="rbtn btn ng-binding ladda-button" style="float: right;">
							<span class="ladda-label">
								Tambah
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div> -->






					<div class="col-md-12" style="margin-top:20px">
						<div style="display: block;" class="grid" ui-grid="gridProfileLeasing_Outlet" ui-grid-pagination ui-grid-pinning
							ui-grid-selection ui-grid-auto-resize></div>
					</div>
				</div>


				<div id="menu_ProfileLeasing_TOP" class="tab-pane fade ">				
					<div class="col-md-12" style="margin-top:20px">
						<div style="display: block;" class="Mygrid" ui-grid="gridProfileLeasing_TOP" ui-grid-pagination ui-grid-edit 
							ui-grid-selection ui-grid-auto-resize></div>
					</div>
				</div>




			</div>
		</div>
	</div>
</div>

<div class="ui modal ModalProfileLeasing_Outlet" role="dialog">
	<div class="modal-header">
		<button type="button" ng-click="ModalProfileLeasing_Outlet_Hilang()" class="close"
			data-dismiss="modal">&times;</button>
		Outlet
	</div>
	<div class="modal-body">
		<div style="display: block;" class="grid" ui-grid="Modal_gridProfileLeasing_Outlet" ui-grid-pagination
			ui-grid-pinning ui-grid-selection ui-grid-auto-resize></div>
	</div>
	<div class="modal-footer">
		<button ng-click="ProfileLeasingOutletPilih()" class="rbtn btn ng-binding ladda-button"
			style="float: right;">Pilih</button>
		<button ng-click="ModalProfileLeasing_Outlet_Hilang()" class="wbtn btn ng-binding ladda-button"
			style="float: right;">Batal</button>
	</div>
</div>
