<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="AccountingInventoryGroupForm"
        factory-name="AccountingInventoryGroupFactory"
        model="mAccountingInventoryGroup"
        model-id="InventoryGroupId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="AccountingInventoryGroupForm"
        form-title="AccountingInventoryGroup"
        modal-title="Accounting Inventory Group"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >


        <div class="row">
          <div class="col-md-6">
			
			<div class="form-group" show-errors>
			<bslabel>Inventory Type Name</bslabel>
			<bsselect name="InventoryTypeId" ng-model="mAccountingInventoryGroup.InventoryTypeId" data="optionsInventoryTypeId" item-text="InventoryTypeName" item-value="InventoryTypeId" on-select="value(selected)" placeholder="Select Inventory Type" icon="fa fa-search">
			</bsselect>
			</div>
			<bserrmsg field="InventoryTypeId"></bserrmsg>
			
			<div class="form-group" show-errors>
			<bslabel>Inventory GL Account Id</bslabel>
			<bsselect name="InventoryGLAccountId" ng-model="mAccountingInventoryGroup.InventoryGLAccountId" data="optionsInventoryGLAccountId" item-text="GLAccountName" item-value="GLAccountId" on-select="value(selected)" placeholder="Select Inventory GL Account" icon="fa fa-search">
			</bsselect>
			</div>
			<bserrmsg field="InventoryGLAccountId"></bserrmsg>
			
			<div class="form-group" show-errors>
			<bslabel>Purchase GL Account Name</bslabel>
			<bsselect name="PurchaseGLAccountId" ng-model="mAccountingInventoryGroup.PurchaseGLAccountId" data="optionsInventoryGLAccountId" item-text="GLAccountName" item-value="GLAccountId" on-select="value(selected)" placeholder="Select Purchase GL Account" icon="fa fa-search">
			</bsselect>
			</div>
			<bserrmsg field="PurchaseGLAccountId"></bserrmsg>
			
			<div class="form-group" show-errors>
			<bslabel>Selling GL Account Name</bslabel>
			<bsselect name="SellingGLAccountId" ng-model="mAccountingInventoryGroup.SellingGLAccountId" data="optionsInventoryGLAccountId" item-text="GLAccountName" item-value="GLAccountId" on-select="value(selected)" placeholder="Select selling GL Account" icon="fa fa-search">
			</bsselect>
			</div>
			<bserrmsg field="SellingGLAccountId"></bserrmsg>
			
			<div class="form-group" show-errors>
			<bslabel>Adjustment Defect GL Account Name</bslabel>
			<bsselect name="AdjustmentDefectGLAccountId" ng-model="mAccountingInventoryGroup.AdjustmentDefectGLAccountId" data="optionsInventoryGLAccountId" item-text="GLAccountName" item-value="GLAccountId" on-select="value(selected)" placeholder="Select adjustment defect" icon="fa fa-search">
			</bsselect>
			</div>
			<bserrmsg field="AdjustmentDefectGLAccountId"></bserrmsg>
			
			<div class="form-group" show-errors>
			<bslabel>Adjustment Lost GL Account Name</bslabel>
			<bsselect name="AdjustmentLostGLAccountId" ng-model="mAccountingInventoryGroup.AdjustmentLostGLAccountId" data="optionsInventoryGLAccountId" item-text="GLAccountName" item-value="GLAccountId" on-select="value(selected)" placeholder="Select adjustment lost" icon="fa fa-search">
			</bsselect>
			</div>
			<bserrmsg field="AdjustmentLostGLAccountId"></bserrmsg>
			
			<div class="form-group" show-errors>
			<bslabel>Adjustment Found GL Account Name</bslabel>
			<bsselect name="AdjustmentFountGLAccountId" ng-model="mAccountingInventoryGroup.AdjustmentFountGLAccountId" data="optionsInventoryGLAccountId" item-text="GLAccountName" item-value="GLAccountId" on-select="value(selected)" placeholder="Select adjustment found" icon="fa fa-search">
			</bsselect>
			</div>
			<bserrmsg field="AdjustmentFountGLAccountId"></bserrmsg>
			
			

			


          </div>
        </div>
</bsform-grid-tree>
