<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid ng-form="CustomerListUnsatifiedForm" factory-name="CustomerListUnsatifiedFactory" model="mCustomerListUnsatified" model-id="Id" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="CustomerListUnsatifiedForm" form-title="Task List" modal-title="Task List" modal-size="small" icon="fa fa-fw fa-child">

    <div class="row">
        <div class="col-md-6">
			<div class="form-group" show-errors>
                <bsreqlabel>Date</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Date" placeholder="Date" ng-model="mCustomerListUnsatified.Date" ng-maxlength="50" required>
                </div>
                <bserrmsg field="Date"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>CSL</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="CSL" placeholder="CSL" ng-model="mCustomerListUnsatified.CSL" ng-maxlength="50" required>
                </div>
                <bserrmsg field="CSL"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>IDI</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="IDI" placeholder="IDI" ng-model="mCustomerListUnsatified.IDI" ng-maxlength="50" required>
                </div>
                <bserrmsg field="IDI"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Customer Complaint</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="CustomerComplaint" placeholder="Customer Complaint" ng-model="mCustomerListUnsatified.CustomerComplaint" ng-maxlength="50" required>
                </div>
                <bserrmsg field="CustomerComplaint"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Customer Survey</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="CustomerSurvey" placeholder="Customer Survey" ng-model="mCustomerListUnsatified.CustomerSurvey" ng-maxlength="50" required>
                </div>
                <bserrmsg field="CustomerSurvey"></bserrmsg>
            </div>
        </div>
    </div>
</bsform-grid-tree>

