<!--Harus item-->
<div style="font-size: 12px;"><b>Nomor SPK :</b> {{item.FormSPKNo}}
    <button ng-click="openModal(item)" class="btn btn-default" style="float:right; border:0; background-color:white; box-shadow:none;" id="myButton" type="button"> 
			<span class="glyphicon glyphicon-option-vertical" style="float:center;"> 
			</span> 
	</button>
</div>
<p>
    <ul class="list-inline" style="font-size:10px;">
        <li style="width:100px;"><b>Nama Sales :</b></n> {{item.SalesName}}</li>
        <li><b>Tanggal Terima :</b> {{item.ReceiveDate | date:"dd MMMM yyyy"}}</li>
    </ul>
</p>