<!--Harus item-->
<div style="font-size: 12px;">
    <b ng-if="item.POStatus != 'Swapping'">Nama Pelanggan : {{item.NameCustomer}}</b>
    <b ng-if="item.POStatus == 'Swapping'">Owner Branch : {{item.OwnerBranch}}</b>
    <button ng-click="openModal(item)" class="btn btn-default" style="float:right; border:0; background-color:transparent; box-shadow:none;" id="myButton" type="button"> 
			<span class="glyphicon glyphicon-option-vertical" style="float:center;"> 
			</span> 
	</button>
</div>
<p>
    <ul class="list-inline" style="font-size:10px;">
        <li ng-if="item.FormSPKNo != null"><b>No. SPK : </b>{{item.FormSPKNo}}</li>
        <li ng-if="item.POStatus != 'Swapping'"><b>Jadwal Penerimaan dari PDC : </b>{{item.EstimatePersiapanPDC| date:"dd/MM/yyyy"}} {{item.EstimatePersiapanPDC | date:"HH:mm"}}</li>
        <li ng-if="item.POStatus == 'Swapping'"><b>Jadwal Penerimaan dari Branch Lain : </b>{{item.EstimateBranchReceivedDate| date:"dd/MM/yyyy"}} {{item.EstimateBranchReceivedDate | date:"HH:mm"}}</li>
        <li><b>Janji Pengiriman : </b>{{item.SentUnitDate| date:"dd/MM/yyyy"}} {{item.SentUnitTime | date:"HH:mm"}}</li>
        <li><b>Status : </b>{{item.StatusDRName}}</li>
    </ul>
    <ul class="list-inline" style="font-size:10px;">
        <li ng-if="item.POCode != null"><b>No. PO : </b>{{item.POCode}}</li>
        
        
    </ul>
    <ul class="list-inline" style="font-size:10px;" >
        <li ng-if="item.TOCode != null"><b>No. TO : </b>{{item.TransferStockNo}}</li>
        
        
    </ul>
    <ul class="list-inline" style="font-size:10px;">
        <li><b>No. Rangka : </b>{{item.FrameNo}}</li>
       
    </ul>

</p>