<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid ng-form="CustomerListForm" factory-name="CustomerListFactory" model="mCustomerList" model-id="Id" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="CustomerListForm" form-title="Customer List" modal-title="Customer List" modal-size="small" icon="fa fa-fw fa-child">

    <div class="row">
        <div class="col-md-6">
			<div class="form-group" show-errors>
                <bsreqlabel>Customer Code</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Code" placeholder="Customer Code" ng-model="mCustomerList.Code" ng-maxlength="50" required>
                </div>
                <bserrmsg field="Code"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Customer Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Name" placeholder="Customer Name" ng-model="mCustomerList.Name" ng-maxlength="50" required>
                </div>
                <bserrmsg field="Name"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Customer Nick Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="NickName" placeholder="Customer Nick Name" ng-model="mCustomerList.NickName" ng-maxlength="50" required>
                </div>
                <bserrmsg field="NickName"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Origin Code</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="OriginCode" placeholder="Origin Code" ng-model="mCustomerList.OriginCode" ng-maxlength="50" required>
                </div>
                <bserrmsg field="OriginCode"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>KTP/KITAS</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="KTPKITAS" placeholder="KTP/KITAS" ng-model="mCustomerList.KTPKITAS" ng-maxlength="50" required>
                </div>
                <bserrmsg field="KTPKITAS"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>SIUP</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="SIUP" placeholder="SIUP" ng-model="mCustomerList.SIUP" ng-maxlength="50" required>
                </div>
                <bserrmsg field="SIUP"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>TDP</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="TDP" placeholder="TDP" ng-model="mCustomerList.TDP" ng-maxlength="50" required>
                </div>
                <bserrmsg field="TDP"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>NPWP</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="NPWP" placeholder="NPWP" ng-model="mCustomerList.NPWP" ng-maxlength="50" required>
                </div>
                <bserrmsg field="NPWP"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Birth Place</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="BirthPlace" placeholder="SIUP" ng-model="mCustomerList.BirthPlace" ng-maxlength="50" required>
                </div>
                <bserrmsg field="BirthPlace"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Birth Date</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="BirthDate" placeholder="Birth Date" ng-model="mCustomerList.BirthDate" ng-maxlength="50" required>
                </div>
                <bserrmsg field="BirthDate"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Handphone 1</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Handphone1" placeholder="Handphone 1" ng-model="mCustomerList.Handphone1" ng-maxlength="50" required>
                </div>
                <bserrmsg field="BirthPlace"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Handphone 2</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Handphone2" placeholder="Handphone 2" ng-model="mCustomerList.Handphone2" ng-maxlength="50" required>
                </div>
                <bserrmsg field="BirthPlace"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Email</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Email" placeholder="Email" ng-model="mCustomerList.Email" ng-maxlength="50" required>
                </div>
                <bserrmsg field="Email"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Job</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Job" placeholder="Job" ng-model="mCustomerList.Job" ng-maxlength="50" required>
                </div>
                <bserrmsg field="Job"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Company</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Company" placeholder="Company" ng-model="mCustomerList.Company" ng-maxlength="50" required>
                </div>
                <bserrmsg field="Company"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>PIC Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="PICName" placeholder="PIC Name" ng-model="mCustomerList.PICName" ng-maxlength="50" required>
                </div>
                <bserrmsg field="PICName"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>PIC Hp</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="PICHp" placeholder="PIC HP" ng-model="mCustomerList.PICHp" ng-maxlength="50" required>
                </div>
                <bserrmsg field="PICHp"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Department</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Department" placeholder="Department" ng-model="mCustomerList.Department" ng-maxlength="50" required>
                </div>
                <bserrmsg field="Department"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Marital Date</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="MaritalDate" placeholder="Marital Date" ng-model="mCustomerList.MaritalDate" ng-maxlength="50" required>
                </div>
                <bserrmsg field="MaritalDate"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Total Point</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="TotalPoint" placeholder="Total Point" ng-model="mCustomerList.TotalPoint" ng-maxlength="50" required>
                </div>
                <bserrmsg field="TotalPoint"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Total Point</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="TotalPoint" placeholder="Total Point" ng-model="mCustomerList.TotalPoint" ng-maxlength="50" required>
                </div>
                <bserrmsg field="TotalPoint"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Total Point</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="TotalPoint" placeholder="Total Point" ng-model="mCustomerList.TotalPoint" ng-maxlength="50" required>
                </div>
                <bserrmsg field="TotalPoint"></bserrmsg>
            </div>

        </div>
    </div>
</bsform-grid-tree>




