<script type="text/javascript">

</script>
<style type="text/css">

</style>

<bsform-grid
        ng-form="reportFilterForm" 
        factory-name="reportSales"
        model="mreportFilter"
        loading="loading"
        get-data="getData"
        selected-rows="xreportFilter.selected"
        rights-byte="myRights"
        show-advsearch="on"
        on-show-detail="onShowDetail"
        hide-new-button="true"
        modal-title="reportFilter"
        modal-size="small"
        icon="fa fa-fw fa-child">

        <bsform-advsearch>
            <div class="row">
                <div class="col-md-3">
                   <div class="form-group">
                        <bsreqlabel>Billing Date From</bsreqlabel>
                        <bsdatepicker 
                            name="tanggalFrom" 
                            date-options="dateOptionsStart" 
                            ng-change="tanggalmin(dt)" 
                            ng-model="mreportFilter.DateFrom" 
                            icon="fa fa-calendar" 
                            required>
                        </bsdatepicker>
                    </div>
                </div>

                <div class="col-md-3">
                   <div class="form-group">
                        <bsreqlabel>Billing Date To</bsreqlabel>
                        <bsdatepicker 
                            name="tanggalTo" 
                            date-options="dateOptionsEnd" 
                            ng-model="mreportFilter.DateTo" 
                            icon="fa fa-calendar" 
                            required>
                        </bsdatepicker>
                    </div>
                </div>
            </div>

            <div class="row" >
                <div class="col-md-3">
                    <div class="form-group">
                        <bsreqlabel>Area</bsreqlabel>
                        <bsselect name="area"
                            ng-model="mreportFilter.AreaId"
                            data="getArea"
                            item-text="AreaName"
                            item-value="AreaId"
                            placeholder="Pilih Area"
                            ng-change="changeFilterCombo(selected,sender)"
                            icon="fa fa-globe" required>
                        </bsselect>
                        <bserrmsg field="area"></bserrmsg>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <bsreqlabel>Dealer</bsreqlabel>
                        <bsselect name="Dealer"
                            ng-model="mreportFilter.GroupDealerId"
                            data="getDealer"
                            item-text="GroupDealerName"
                            item-value="GroupDealerId"
                            placeholder="Pilih Dealer"
                            ng-change="changeFilterCombo(selected,sender)"
                            icon="fa fa-sitemap" required>
                        </bsselect>
                        <bserrmsg field="Dealer"></bserrmsg>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <bsreqlabel>Cabang</bsreqlabel>
                        <bsselect name="Cabang"
                            ng-model="mreportFilter.OutletId"
                            data="getOutlet"
                            item-text="Name"
                            item-value="OutletId"
                            placeholder="Pilih Cabang"
                            on-select="selectCabang(selected)"
                            icon="fa fa-sitemap" required>
                        </bsselect>
                        <bserrmsg field="Cabang"></bserrmsg>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group" show-errors>
                        <bsreqlabel>Model</bsreqlabel>
                        <bsselect name="ModelKendaraan" 
                            data="optionsModel" 
                            item-text="VehicleModelName" 
                            item-value="VehicleModelId" 
                            ng-model="filter.VehicleModelId" 
                            on-select="filterModel(selected)" 
                            placeholder="Pilih model" 
                            icon="fa fa-car glyph-left" 
                            style="min-width: 150px;" required>
                        </bsselect>
                        <bserrmsg field="ModelKendaraan"></bserrmsg>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group" show-errors>
                        <bsreqlabel>Tipe</bsreqlabel>
                        <bsselect name="TypeKendaraan" 
                            data="getTipe" 
                            item-text="Description" 
                            item-value="VehicleTypeId" 
                            ng-model="filter.VehicleTypeId" 
                            placeholder="Pilih Tipe" 
                            icon="fa fa-car glyph-left" 
                            style="min-width: 150px;" required>
                        </bsselect>
                        <bserrmsg field="TypeKendaraan"></bserrmsg>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group" show-errors>
                        <bsreqlabel>Warna</bsreqlabel>
                        <bsselect id="comboBox" name="Warna" 
                            ng-model="filter.ColorId" 
                            data="listWarna" 
                            item-text="ColorName" 
                            item-value="ColorId" 
                            on-select="ColorId" 
                            placeholder="Pilih Warna" 
                            icon="fa fa-search" required>
                        </bsselect>
                        <bserrmsg field="Warna"></bserrmsg>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group" >
                        <bsreqlabel>Nama Supervisor</bsreqlabel>
                        <bsselect name="Supervisor"
                            ng-model="mreportFilter.EmployeeId"
                            data="getSalesman"
                            item-text="EmployeeName"
                            item-value="EmployeeId"
                            placeholder="Pilih Supervisor"
                            on-select="selectSupervisor(selected)"
                            icon="fa fa-user" required>
                        </bsselect>
                        <bserrmsg field="Supervisor"></bserrmsg>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group" >
                        <bsreqlabel>Nama Salesman</bsreqlabel>
                        <bsselect name="Salesman"
                            ng-model="mreportFilter.EmployeeId"
                            data="getSalesman"
                            item-text="EmployeeName"
                            item-value="EmployeeId"
                            placeholder="Pilih Salesman"
                            on-select="selectSalesman(selected)"
                            icon="fa fa-user" required>
                        </bsselect>
                        <bserrmsg field="Salesman"></bserrmsg>
                    </div>
                </div>
            </div>
            <input type="file" accept=".xlsx" id="uploadRSSPFleet" onchange="angular.element(this).scope().loadXLS(this)" style="display: none;">
        </bsform-advsearch>
</bsform-grid>

<bsmodal id="modal_report" title="Pembuatan Report" mode="" visible="sm_show2" size="small" hide-footer="true">
    <p style="font-size:15px;">Mohon menunggu pembuatan report....</p>
</bsmodal>