<div class="panel panel-danger" style="border-color:#D53337;">
	<div class="panel-heading" style="color:white; background-color:#D53337;">
		<h3 class="panel-title">Permohonan Approval</h3>
	</div>
	<div class="panel-body">
		<form method="post">
			<div class="row">
				<div class="col-md-10">
					<p>
						<i>SOQ Maintenance ini membutuhkan Approval.</i>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
						<label class="control-label">Nama Kegiatan</label>
					</div>
				</div>
				<div class="col-md-7">
					<div class="form-group">
						<label class="control-label">SOQ Maintenance</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
						<label class="control-label">Nomor Request</label>
					</div>
				</div>
				<div class="col-md-7">
					<div class="form-group">
						<label class="control-label">{{ApproveData.PONumber}}</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
						<label class="control-label">Tanggal dan Jam</label>
					</div>
				</div>
				<div class="col-md-7">
					<div class="form-group">
						<label class="control-label">{{ApproveData.DocDate}}</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
						<label class="control-label">Approver(s)</label>
					</div>
				</div>
				<div class="col-md-7">
					<textarea class="form-control" rows="4" disabled>{{ApproveData.ApprovalName}}</textarea>
				</div>
			</div>
			<br>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label class="control-label">Pesan</label>
						</div>
					</div>
					<div class="col-md-7">
						<textarea class="form-control" rows="4">{{ApproveData.pesan}}</textarea>
					</div>
				</div>
				<br>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div>
									<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Batal</button>
									<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="SimpanApprovalSOQ(ApproveData)" style="color:white; background-color:#D53337">Kirim Permohonan</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- <pre>{{ApproveData}}</pre> -->
