<link rel="stylesheet" href="css/uitogglestyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid ng-form="ActivityAlasanPengecualianPengirimanForm" factory-name="ActivityAlasanPengecualianPengiriman" model="mActivityAlasanPengecualianPengiriman" model-id="DeliveryExcReasonId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="ActivityAlasanPengecualianPengirimanForm" form-title="Activity Alasan Pengecualian Pengiriman" modal-title="Activity Alasan Pengecualian Pengiriman" modal-size="small" icon="fa fa-fw fa-child">
    <div class="row"> 
        <div class="col-md-6">

            <div class="form-group" show-errors>
                <bsreqlabel>Alasan Pengecualian Pengiriman</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <textarea type="text" class="form-control" name="NamaAlasanPengecualianPengiriman" placeholder="Alasan Pengecualian Pengiriman" ng-model="mActivityAlasanPengecualianPengiriman.DeliveryExcReasonName" rows="5" cols="50" required>
                </div>
                <bserrmsg field="DeliveryExcReasonName"></bserrmsg>
            </div>
		
    		<div class="form-group">
                <div class="input-icon-right">
                    <label>Admin</label>
                    <div class="switch">
                        <input id="cmn-toggle-5" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" ng-model="mActivityAlasanPengecualianPengiriman.InputByAdminBit">
                        <label for="cmn-toggle-5"></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-icon-right">
                    <label>Salesman</label>
                    <div class="switch">
                        <input id="cmn-toggle-6" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" ng-model="mActivityAlasanPengecualianPengiriman.InputBySalesmanBit">
                        <label for="cmn-toggle-6"></label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</bsform-grid>

