<script type="text/javascript">
$("#dropdownBtnOveride").click(function(){
	if($('#dropdownContentOveride').css('display') == 'none')
	{
		$('#dropdownContentOveride').show();
	}
	else
	{
		$('#dropdownContentOveride').hide();
	}
});

$( '#myButton' ).click( function() {
    $( '#myModal' ).modal();
  });
  
</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<div class='container'>

   

    <div class='col-sm-7'>
        <div class="pull-left">
        <input type="text" class="form-control" style="float: left" name="Cari" placeholder="Cari" ng-model=""
                            required></div>
    </div>

	    <div class='col-sm-6'>
        <bsselect name="categoryselect"
                    ng-model=""
                    placeholder="Kategori"
                    required="true"
                    icon="fa fa-search">
        </bsselect>
    </div>

	 <div class='col-sm-1'>
        <button ng-click="" class="rbtn btn ng-binding ladda-button" style="float: right;">+ </button>
    </div>



</div>

<br/>
<div>

</div>

<br/>
<br/>
<uib-tabset active="active" id="templateDetailTab">
<br/>
    <uib-tab index="0" heading="Suspect">
		
        <!-- <div ng-show="!ShowTable"> -->
			
            <!-- <div ng-repeat="data in list"> -->
                <!-- <ul > -->
                    <!-- {{ data.Nama }} -->
                    <!-- <br/> -->
                    <!-- {{ data.NoTlp }} -->
                    <!-- <br/> -->
                    <!-- {{ data.Type }} -->
                    <!-- <br/> -->
                    
                    <!-- <a ng-click="LookSelected(da_data.Id,da_data.Nama,da_data.Lokasi,da_data.Tanggal,da_data.Model)">Lihat Detail</a> -->
                    <!-- <br/> -->
                    <!-- <a ng-click="ChangeSelected(da_data.Id,da_data.Nama,da_data.HandPhone,da_data.Email,da_data.WaktuPerkiraanPembelianMobil)">Ubah Detail</a> -->
                    <!-- <br/> -->
                    <!-- <a ng-click="DeleteSelected(da_data.SalesProgramId)">Batal Test Drive</a> -->
                    <!-- <hr/>						 -->
                <!-- </ul> -->
            <!-- </div> -->
        <!-- </div> -->
    </uib-tab>

    <uib-tab index="1" heading="Prospect">               
			<div class="formHeader">
	<div id="addMode">
		<button id="addBtn" class="rbtn btn ng-binding ladda-button" style="float: right; bottom: 35px;">Tambah </button>
	</div>
	
	<div id="editMode">
		<button id="saveBtn" class="rbtn btn ng-binding ladda-button" style="float: right; bottom: 35px;">Simpan </button>
		<button id="cancelBtn" class="rbtn btn ng-binding ladda-button" style="float: right; bottom: 35px;">Batal </button>
	</div>
</div>
					
<div id="formPanel">
     <div class="formContent">
		<bsreqlabel>Sales Program Name</bsreqlabel>
		<div class="input-icon-right">
			<i class="fa fa-pencil"></i>
			<input type="text" class="form-control" name="nama" placeholder="Sales Program Name" ng-model="mProfileSalesProgram_SalesProgramName"
					ng-maxlength="50" required
			>
		</div>
		<bsreqlabel>Sales Address</bsreqlabel>
		<div class="input-icon-right">
			<i class="fa fa-pencil"></i>
			<input type="text" class="form-control" name="nama" placeholder="Sales Address" ng-model="mProfileSalesProgram_SalesProgramName"
					ng-maxlength="50" required
			>
		</div>
		<bsreqlabel>Tanggal Activity Working Calendar</bsreqlabel>
			<bsdatepicker
					name="tanggal"
					date-options="dateOptions"
			>
			</bsdatepicker>
	</div>
	
	<div class="formGroupPanel">
	  <button class="btn btn-default dropdown-toggle dropdown-toggle" type="button" id="formGroupPanelBtn" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Informasi Kendaraan
		<span id="formGroupPanelIcon" style="float:right; margin-right:3px;"> + </span>
	  </button>
	  
	  <div class="formContent">
		  <div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2" style="display:none;">
			<bsreqlabel>Nama Kendaraan</bsreqlabel>
			<div class="input-icon-right">
				<i class="fa fa-pencil"></i>
				<input type="text" class="form-control" name="nama" placeholder="Nama Kendaraan" ng-model="mProfileSalesProgram_SalesProgramName" ng-maxlength="50" required>
			</div>
				
			<bsreqlabel>Tipe Kendaraan</bsreqlabel>
			<div class="input-icon-right">
				<i class="fa fa-pencil"></i>
				<input type="text" class="form-control" name="nama" placeholder="Tipe Kendaraan" ng-model="mProfileSalesProgram_SalesProgramName" ng-maxlength="50" required>
			</div>
				
			<bsreqlabel>Warna Kendaraan</bsreqlabel>
			<div class="input-icon-right">
				<i class="fa fa-pencil"></i>
				<input type="text" class="form-control" name="nama" placeholder="Warna Kendaraan" ng-model="mProfileSalesProgram_SalesProgramName" ng-maxlength="50" required>
			</div>
		
		  </div>
	  </div>
  
	</div>
				
 </div>			

<div id="formData" >
	<div class="listData">
	  <!--<button class="btn btn-default dropdown-toggle dropdown-toggle" type="button" id="dropdownBtn" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Siap Test Drive
		<span>(3)</span>
		<span class="caret" style="float:right;margin-top: 10px; margin-right:3px;"></span>
	  </button>-->
	  <div class="list-group" id="dropdownContent" aria-labelledby="dropdownMenu1" style="">
		<div class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
			<div class="row">
				<div class="col-sm-11">
					<p style="font-size: 12px">Peggy Carter</p>
					<p>
						<ul class="list-inline">
							<li style="width:100px;">12 December 2016 </li>
							<li><i class="fa fa-phone-square" aria-hidden="true" style=""></i> </li>
							<li>085674839210</li>
						</ul>
					</p>
					<p style="font-size: 10px">Fortuner VRZ 4x2w (Diesel) - Black Mica</p>
				</div>
				<div class="col-sm-1" style="padding-right:0px;">
					<button class="btn btn-default" style="float:right; border:0; padding-left:5px; background-color:#e8eaed; box-shadow:none;" id="myButton" type="button">
						<span class="glyphicon glyphicon-option-vertical" style="float:center;">
						</span>
					</button>
				</div>
			</div>
		</div>
		<div class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
			<div class="row">
				<div class="col-sm-11">
					<p style="font-size: 12px">Sam Mitchelle</p>
					<p>
						<ul class="list-inline" style="font-size: 10px">
							<li style="width:100px;">Medium </li>
							<li><i class="fa fa-phone-square" aria-hidden="true" style=""></i> </li>
							<li>08987654321 </li>
						</ul>
					</p>
					<p style="font-size: 10px">Avanza G 15i - Silver Metalic</p>
				</div>
				<div class="col-sm-1" style="padding-right:0px;">
					<button class="btn btn-default" style="float:right; border:0; padding-left:5px; background-color:#e8eaed; box-shadow:none;">
						<span class="glyphicon glyphicon-option-vertical" style="float:center;">
						</span>
					</button>
				</div>
			</div>
		</div>
		<div class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
			<div class="row">
				<div class="col-sm-11">
					<p style="font-size: 12px">Barney Ross</p>
					<p>
						<ul class="list-inline" style="font-size: 10px">
							<li style="width:100px;">Low</li>
							<li><i class="fa fa-phone-square" aria-hidden="true" style=""></i></li>
							<li>08123456789</li>
						</ul>
					</p>
					<p style="font-size: 10px">Sienta Q - Super White 2</p>
				</div>
				<div class="col-sm-1" style="padding-right:0px;">
					<button class="btn btn-default" style="float:right; border:0; padding-left:5px; background-color:#e8eaed; box-shadow:none;">
						<span class="glyphicon glyphicon-option-vertical" style="float:center;">
						</span>
					</button>
				</div>
			</div>
		</div>
	  
		  <div class="modal fade" id="myModal" role="dialog">
			
			  <!-- Modal content-->
			  <div class="modal-content" style="width:25%; margin-top:15%; margin-left:45%;">
				  <ul class="list-group">
						<a ng-click="LookSelected(da_data.SalesProgramName)"><li class="list-group-item">Lihat Detail</li></a>
						<a ng-click="ChangeSelected(da_data.SalesProgramId,da_data.SalesProgramName)"><li class="list-group-item">Ubah Detail</li></a>
						<a ng-click="DeleteSelected(da_data.SalesProgramId)"><li class="list-group-item">Hapus Detail</li></a>
					</ul>
			  </div>
			  
		  </div>
		</div>
	</div>

</div>

	</uib-tab>

    <uib-tab index="2" heading="Pelanggan">             
    </uib-tab>

</uib-tabset>


<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
       
