<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="ProfileInsuranceUserTypeForm"
        factory-name="ProfileInsuranceUserTypeFactory"
        model="mProfileInsuranceUserType"
        model-id="ProfileInsuranceUserTypeId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="ProfileInsuranceUserTypeForm"
        form-title="ProfileInsuranceUserType"
        modal-title="Profile Insurance User Type"
        modal-size="small"
		form-api="formApi" 
		do-custom-save="doCustomSave"
        icon="fa fa-fw fa-child"
        >

        <div class="row">
         <div class="col-md-6">

           <div class="form-group" show-errors>
                <bsreqlabel>Insurance User Type Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="insuranceUserTypeName" placeholder="Insurance User Type Name" ng-model="mProfileInsuranceUserType.InsuranceUserTypeName"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="insuranceUserTypeName"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Insurance User Type Value</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="insuranceUserTypeValue" placeholder="Insurance User Type Value" ng-model="mProfileInsuranceUserType.InsuranceUserTypeValue"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="insuranceUserTypeValue"></bserrmsg>
            </div>
            
          </div>
        </div>
</bsform-grid-tree>
