<script type="text/javascript">

</script>
<style type="text/css">

</style>
<bsform-grid
        ng-form="RSSPFleetForm"
        factory-name="RSSPFleet"
        model="tempRSSP"
        loading="loading"
        get-data="getData"
        selected-rows="xRSSPFleet.selected"

        on-before-cancel="onBeforeCancel"
        on-before-save="onBeforeSave"
        do-custom-save="doCustomSave"
        
        on-before-new-mode="beforeNew"
        on-bulk-delete="customDelete"
        on-bulk-approve="customApprove"
        on-bulk-reject="customReject"

        on-after-register-grid-api = "afterRegisterGridApi"

        form-grid-api = "gridApi"
        form-api = "formApi"
        custom-action-settings="customActionSettings"
        show-advsearch="on"
        grid-inline-edit="true"
        hide-new-button="hideNewButton"

        form-name="RSSPFleetForm"
        modal-title="RSSP Fleet"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

        <bsform-advsearch>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <bsreqlabel>Getsudo Period</bsreqlabel>
                        <bsselect name="filterPeriod"
                                ng-model="filter.period"
                                data="periodData"
                                on-select="filsudoPeriodId(selected)"
                                item-text="GetsudoPeriodName, GetsudoPeriodCode"
                                item-value="period"
                                placeholder="Pilih Getsudo Period"
                                required="true"
                                icon="fa fa-calendar">
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <label>Customer Fleet</label>
                        <!-- <bsselect name="filterFleet"
                                ng-model="filter.CustomerCode"
                                data="fleetData"
                                on-select="filcustomerId(selected)"
                                item-text="CustomerName, CustomerCode"
                                item-value="CustomerName"
                                placeholder="Pilih Customer Fleet"
                                icon="fa fa-sitemap">
                        </bsselect> -->
                        <div class="input-icon-right">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control" name="name" placeholder="Customer Fleet" ng-model="filter.CustomerName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Dealer Outlet</label>
                        <bsselect-tree name="filterDealer"
                                ng-model="filter.OutletId"
                                data="orgData"
                                on-select="filOutlet(selected)"
                                placeholder="Pilih Outlet Dealer"
                                icon="fa fa-sitemap">
                        </bsselect-tree>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Model</label>
                        <bsselect name="filterModel"
                                ng-model="filter.VehicleModelId"
                                data="productModelData"
                                item-text="VehicleModelName"
                                item-value="VehicleModelId"
                                on-select="filter.productModel=selected"
                                placeholder="Pilih Model"
                                icon="fa fa-car">
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <bsselect name="filterType"
                                ng-model="filter.productType"
                                data="filter.productModel.listVehicleType"
                                item-text="Description, KatashikiCode, SuffixCode"
                                item-value="VehicleTypeId"
                                on-select="filproductType(selected)"
                                placeholder="Pilih Type"
                                icon="fa fa-car">
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <label>Name Color</label>
                        <bsselect name="filterColor"
                                ng-model="filter.productColor"
                                data="filter.productType.listColor"
                                item-text="ColorName, ColorCode"
                                item-value="ColorId"
                                placeholder="Pilih Name Color"
                                icon="fa fa-car">
                        </bsselect>
                    </div>
                    <!-- <div class="form-group">
                        <bsreqlabel>Status HO</bsreqlabel>
                        <bsreqlabel>
                            {{}}
                        </bsreqlabel>
                    </div> -->
                </div>
                <input type="file" accept=".xlsx" id="uploadRSSPFleet" onchange="angular.element(this).scope().loadXLS(this)"
                    style="display: none;">
            </div>
            <!-- <pre>
                {{mRSSPFleet}}
            </pre> -->
        </bsform-advsearch>        

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Getsudo Period</bsreqlabel>
                    <bsselect name="getsudoPeriodId"
                            ng-model="selPer.selPer"
                            data="periodData"
                            on-select="selectsudoPeriodId(selected)"
                            item-text="GetsudoPeriodName, GetsudoPeriodCode"
                            item-value="period"
                            placeholder="Pilih Getsudo Period"
                            required="true"
                            ng-disabled="true"
                            icon="fa fa-calendar">
                    </bsselect>
                </div>
                <div class="form-group">
                    <bsreqlabel>Customer Fleet</bsreqlabel>
                    <!-- <bsselect name="fleetId"
                            ng-model="tempRSSP.selCustomerFleetId"
                            data="fleetData"
                            item-text="CustomerName, CustomerCode"
                            item-value="Id"
                            on-select="selectCustomer(selected)"
                            required="true"
                            placeholder="Pilih Customer Fleet"
                            icon="fa fa-sitemap">
                    </bsselect> -->
                    <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" name="name" placeholder="Customer Fleet" ng-model="saveCusName.cusName" required>
                    </div>
                    <bserrmsg field="name"></bserrmsg>
                </div>
                <div class="form-group">
                    <bsreqlabel>Dealer Outlet</bsreqlabel>
                    <bsselect-tree name="outletId"
                            ng-model="tempRSSP.selOutletId"
                            data="orgData2"
                            on-select="selectOutlet(selected)"
                            placeholder="Pilih Outlet Dealer"
                            icon="fa fa-sitemap">
                    </bsselect-tree>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Model</bsreqlabel>
                    <bsselect name="productModelId"
                            ng-model="tempRSSP.selVehicleModelId"
                            data="productModelData"
                            item-text="VehicleModelName"
                            item-value="VehicleModelId"
                            on-select="selectModel(selected)"
                            placeholder="Pilih Model"
                            required="true"
                            icon="fa fa-car">
                    </bsselect>
                </div>
                <div class="form-group">
                    <bsreqlabel>Type</bsreqlabel>
                    <bsselect name="productTypeId"
                            ng-model="tempRSSP.selVehicleTypeId"
                            data="selectedModel.listVehicleType"
                            item-text="Description, KatashikiCode, SuffixCode"
                            item-value="VehicleTypeId"
                            on-select="selectType(selected)"
                            placeholder="Pilih Type"
                            required="true"
                            icon="fa fa-car">
                    </bsselect>
                </div>
                <div class="form-group">
                    <bsreqlabel>Name Color</bsreqlabel>
                    <bsselect 
                            multiple
                            name="productColorId"
                            ng-model="tempRSSP.selColorId"
                            data="selectedType.listColor"
                            item-text="ColorName, ColorCode"
                            item-value="TheId"
                            ng-change="selectMultiColor(selected)"
                            placeholder="Pilih Type Color"
                            icon="fa fa-car">
                    </bsselect>
                </div>
            </div>
            <input type="file" accept=".xlsx" id="uploadRSSPFleet" onchange="angular.element(this).scope().loadXLS(this)"
                style="display: none;">
        </div>
        <div class="row">
          <div class="col-md-12">
            <div ui-grid="gridDetail" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-edit 
                ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize class="grid" ng-cloak>
            </div>
          </div>
        </div>
    </div>

    <!-- <pre>
        {{mRSSPFleet}}
    </pre> -->
    <!-- <pre>
        {{gridDetail.data}}
    </pre> -->
</bsform-grid>

