<div class="row">
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <bsreqlabel>Tipe Material</bsreqlabel>
            <bsselect 
                search-enabled="false" skip-focusser="true" keypressing="true" focussing="true"
                ng-model="mMaterial.PartsClassId1" 
                data="MaterialTypeData" 
                item-text="Description" 
                item-value="PartsClassId" 
                placeholder="Pilih Tipe Material" 
                icon="fa fa-search"
                ng-disabled="true"
                required>
            </bsselect>
            <!-- <bserrmsg field="VendorId"></bserrmsg> -->
        </div>
    </div>    
</div>
<div class="row" ng-if="mMaterial.PartsClassId1 == 1">
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <bsreqlabel>Stocking Policy</bsreqlabel>
            <bsselect
                ng-model="mMaterial.PartsClassId4" 
                data="StockPData" 
                item-text="Description" 
                item-value="PartsClassId" 
                placeholder="Pilih Stocking Policy" 
                icon="fa fa-search"
                ng-disabled="list_PartsClassId5_disable.indexOf(parts_class_id5_edit) != -1"
                required>
            </bsselect>
            <!-- <bserrmsg field="VendorId"></bserrmsg> -->
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <bsreqlabel>SCC</bsreqlabel>
            <bsselect 
                ng-model="mMaterial.PartsClassId3" 
                data="SCCData" 
                item-text="Description" 
                item-value="PartsClassId" 
                placeholder="Pilih SCC" 
                icon="fa fa-search"
                required>
            </bsselect>
            <!-- <bserrmsg field="VendorId"></bserrmsg> -->
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <bsreqlabel>ICC</bsreqlabel>
            <bsselect 
                ng-model="mMaterial.PartsClassId2" 
                data="ICCData" 
                item-text="Description" 
                item-value="PartsClassId" 
                placeholder="Pilih ICC" 
                icon="fa fa-search"
                ng-disabled="list_PartsClassId5_disable.indexOf(parts_class_id5_edit) != -1"
                required>
            </bsselect>
            <!-- <bserrmsg field="VendorId"></bserrmsg> -->
        </div>
    </div>  
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <label>Franchise (Report)</label>
            <bsselect 
                search-enabled="false" skip-focusser="true" keypressing="true" focussing="true"
                ng-model="mMaterial.PartsClassId6" 
                data="FranchiseData" 
                item-text="Description" 
                item-value="PartsClassId" 
                placeholder="Pilih Franchise" 
                icon="fa fa-search">
            </bsselect>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <bsreqlabel>Clasification</bsreqlabel>
            <bsselect 
                search-enabled="false" skip-focusser="true" keypressing="true" focussing="true"
                ng-model="mMaterial.PartsClassId5" 
                data="ClassifData" 
                item-text="Description" 
                item-value="PartsClassId" 
                placeholder="Pilih Clasification" 
                icon="fa fa-search"
                ng-disabled="list_PartsClassId5_disable.indexOf(parts_class_id5_edit) != -1"
                required>
            </bsselect>
            <!-- <bserrmsg field="VendorId"></bserrmsg> -->
        </div>
    </div>
</div> 

