<script type="text/javascript">

</script>
<style type="text/css">

</style>
<bsform-grid
        ng-form="MarketAdjForm"
        factory-name="MarketAdj"
        model="mMarketAdj"
        loading="loading"
        get-data="getData"
        selected-rows="xMarketAdj.selected"
        
        custom-action-settings="customActionSettings"
        form-api="formApi"
        on-after-register-grid-api = "afterRegisterGridApi"
        hide-new-button="true"
        show-advsearch="on"
        grid-inline-edit="true"
        
        on-show-detail="onShowDetail"
        on-select-rows="onSelectRows"
        on-before-save="onBeforeSave"
        
        modal-title="Market Adjustment"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

        <bsform-advsearch>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <bsreqlabel>Tahun</bsreqlabel>
                        <bsselect name="year"
                                ng-model="filter.year"
                                data="yearData"
                                item-text="name"
                                item-value="name"
                                placeholder="Pilih Tahun"
                                required="true"
                                icon="fa fa-calendar">
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <label>Model</label>
                        <bsselect name="productModelId"
                                ng-model="filter.VehicleModelId"
                                data="productModelData"
                                item-text="name"
                                item-value="id"
                                placeholder="Pilih Model"
                                icon="fa fa-car">
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Area</label>
                        <bsselect name="areaId"
                                ng-model="filter.areaId"
                                data="areaData"
                                item-text="Description"
                                item-value="AreaId"
                                placeholder="Pilih Area"
                                ng-change="changeFilterCombo(selected,sender)"
                                icon="fa fa-sitemap">
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <label>Province</label>
                        <bsselect name="regionId"
                                ng-model="filter.provinceId"
                                data="provinceData"
                                item-text="ProvinceName"
                                item-value="ProvinceId"
                                placeholder="Pilih Region"
                                ng-change="changeFilterCombo(selected,sender)"
                                icon="fa fa-sitemap">
                        </bsselect>
                    </div>
                </div>
                <input type="file" accept=".xlsx" id="uploadMarketAdj" onchange="angular.element(this).scope().loadXLS(this)"
                    style="display: none;">
            </div>
        </bsform-advsearch>

    </div>
</bsform-grid>

