<script type="text/javascript">

</script>
<style type="text/css">
</style>


<div ng-show="TipeRole">
	<div style="display: block" class="grid" ui-grid="grid3" ui-grid-selection ui-grid-auto-resize ui-grid-pagination></div>
	<br/>
</div>

<div ng-show="ShowTipeRoleDetail">

	<button style="float: right;" ng-show="ShowSimpanTipeRole" ng-click="SimpanTipeRole()" type="button" class="rbtn btn ng-binding ladda-button">
		<span class="ladda-label">
			Simpan
		</span>
		<span class="ladda-spinner"></span>
	</button>

	<button style="float: right;" ng-click="KembaliDariTipeRole()" type="button" class="wbtn btn ng-binding ladda-button">
		<span class="ladda-label">
			<!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
		</span>
		<span class="ladda-spinner"></span>
	</button>

	<bslabel style="margin-top:10px;">Permohonan Persetujuan</bslabel>
	<br/> {{mTipeRole_ApprovalCategoryName}}
	<br/>
	<br/>

	<bsreqlabel style="margin-top:10px;">Role</bsreqlabel>
	<bsselect ng-disabled="!mTipeRole_Field_EnableDisable" data="OptionsRoleJabatan" item-text="Name" item-value="Id" ng-model="mTipeRole_Child_RoleId"
	 placeholder="Role" style="min-width: 150px;">
	</bsselect>


	<br/>

	<br/>
	<button ng-disabled="!mTipeRole_Field_EnableDisable" style="float: right;margin-bottom:10px;" ng-click="TambahTipeRoleChild()"
	 type="button" class="rbtn btn ng-binding ladda-button">
		<span class="ladda-label">
			Tambah
		</span>
		<span class="ladda-spinner"></span>
	</button>

	<table class="table table-bordered table-responsive">
		<tbody>
			<tr>

				<th>Role</th>
			</tr>
			<tr ng-repeat="TipeRoleChild in TipeRoleChildData track by $index">

				<td>{{TipeRoleChild.RoleName}}</td>
				<td ng-if="OperationTipeRole!='Look'">
					<a ng-click="DeleteTipeRoleChild($index)">Remove</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>