<div class="col-md-12" ng-form="row1">
    <div ng-if="!isLock">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Pekerjaan</bsreqlabel>
                <bstypeahead placeholder="Nama Pekerjaan" name="jobName"
                    ng-model="lmModel.TaskName"
                    get-data="getWork"
                    model-key="Name"
                    item-text="TaskName"
                    required
                    loading="loadingUsers"
                    noresult="noResults"
                    ng-maxlength="100"
                    maxlength="100"
                    selected="selected"
                    on-select="onSelectWork"
                    on-noresult="onNoResult"
                    on-gotresult="onGotResult"
                    ng-if="mFilterTAM.isTAM == 1 "
                    ng-disabled="!enableIfPWC || !enableEditTask"
                    icon="fa-id-card-o">
                </bstypeahead>
                <input type="text" placeholder="Nama Pekerjaan" class="form-control" ng-maxlength="100" maxlength="100" name="jobName" ng-model="lmModel.TaskName" ng-if="mFilterTAM.isTAM == 0" ng-disabled="!enableEditTask" required>
                <bserrmsg field="jobName"></bserrmsg> 
            </div>

            <div class="form-group" style="margin-bottom:45px;" ng-if="lmModel.PaidById == 30" show-errors>
                <div class="form-inline">
                    <label class="pull-left">Additional Ope No</label>
                    <bscheckbox ng-change="getDataOpeNo(lmModel.TaskName,lmModel.isOpe,lmModel)" class="pull-right" ng-model="lmModel.isOpe" label="Ope No" true-value="1" false-value="0" ng-disabled="mDataCrm.Vehicle.isNonTAM == 1 || !enableEditTask">
                    </bscheckbox>
                </div>
                <!-- <input type="text" class="form-control" name="noMaterial" ng-model="ldModel.PartsCode" > -->
                <div class="col-md-12" style="padding-left:0;padding-right:0;padding-bottom:15px;">
                    <!-- <bstypeahead 
                            placeholder="Task Code" 
                            name="noMaterial" 
                            ng-model="lmModel.TaskCode" 
                            get-data="getTaskOpe" 
                            item-text="TaskCode" 
                            ng-maxlength="250" 
                            disallow-space 
                            loading="loadingUsers" 
                            noresult="noResults" 
                            selected="selected" 
                            on-select="onSelectOpeNo"
                            on-noresult="onNoOpeResult" 
                            on-gotresult="onGotResult" 
                            ta-minlength="4"
                            ng-disabled="lmModel.isOpe == 0 || lmModel.isOpe == undefined || lmModel.isOpe == null || disableIfPWC" 
                            template-url="customTemplateOpe.html" 
                            ng-disabled="mDataCrm.Vehicle.isNonTAM == 1"
                            icon="fa-id-card-o">
                    </bstypeahead> -->

                    <select name="OpeNo" convert-to-number ng-change="selectTypeOpeNo(lmModel.TaskCode,lmModel)" class="form-control" ng-disabled="lmModel.isOpe == 0 || lmModel.isOpe == undefined || !enableEditTask" ng-model="lmModel.TaskCode" data="DataOpeNo" placeholder="Pilih Tipe" ng-disabled="mDataCrm.Vehicle.isNonTAM == 1">
                        <option ng-repeat="sat in DataOpeNo" value="{{sat.TaskListBPId}}">{{sat.TaskName}}</option>
                    </select>
                </div>
                <bserrmsg field="noMaterial"></bserrmsg>
            </div>

            <div class="form-group" ng-if="lmModel.PaidById == 30" show-errors>
                <label>Flat Rate</label>
                <!-- <input type="text" class="form-control" name="flatrate" ng-model="lmModel.FlatRate" disabled>
                <bserrmsg field="flatrate"></bserrmsg> -->
                <input type="number" required step=0.0000000001 min=0 class="form-control" name="Fr" ng-model="lmModel.FlatRate" ng-disabled="FlatRateAvailable_new" ng-change="checkServiceRate(lmModel.FlatRate,lmModel)">
                <em ng-messages="row1.Fr.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                    <p ng-message="min">Angka harus lebih besar atau sama dengan 0 </p>
                </em>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Harga</bsreqlabel>
                <!-- ng-disabled="PriceAvailable" -->
                <input type="text" required ng-maxlength="13" maxlength="13"  min=0 class="form-control"  name="price" ng-model="lmModel.Fare" ng-if="lmModel.PaidById != 30" currency-formating>
                <input type="text" required ng-maxlength="13" maxlength="13" min=0 class="form-control" name="pricew" ng-model="lmModel.Fare_w" ng-disabled="true" disabled ng-if="lmModel.PaidById == 30" currency-formating>

                <bserrmsg ng-if="lmModel.PaidById != 30" field="price"></bserrmsg>
                <bserrmsg ng-if="lmModel.PaidById == 30" field="pricew"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Satuan</bsreqlabel>
                <!-- <bsselect name="satuan"
                    ng-model="lmModel.ProcessId"
                    data="unitData"
                    item-text="Name"
                    item-value="MasterId"
                    placeholder="Pilih Tipe"
                    required
                    on-select="selectUnit(selected)">
                </bsselect> -->
                <select class="form-control" convert-to-number  name="satuan" ng-model="lmModel.ProcessId" data="unitData" placeholder="Pilih Tipe" required ng-change="selectUnit(lmModel.ProcessId)">
                    <option ng-repeat="unitData in unitData" value="{{unitData.MasterId}}">{{unitData.Name}}</option>
                </select>
                <input type="text" class="form-control" name="satuan" ng-model="lmModel.ProcessId" ng-hide="true" required ng-required="true">
                <bserrmsg field="satuan"></bserrmsg>
            </div>
            <div class="form-group" ng-if="mData.WoCategoryId != 2501" show-errors>
                <bsreqlabel>Pembayaran</bsreqlabel>
                <!-- <bsselect name="pembayaran"
                    ng-model="lmModel.PaidById"
                    data="paymentData"
                    required
                    item-text="Name"
                    item-value="MasterId"
                    placeholder="Pilih Pembayaran"
                    on-select="selectTypeCust(selected)">
                </bsselect> -->
                <!-- <select ng-init="lmModel.PaidById=''" class="form-control" convert-to-number name="pembayaran" ng-model="lmModel.PaidById" data="paymentData" required  placeholder="Pilih Pembayaran" ng-change="selectTypeCust(lmModel.PaidById,1,lmModel)" ng-disabled="mData.WoCategoryId == 2451 || isDisablePaid"> -->
                <select  class="form-control" convert-to-number name="pembayaran" ng-model="lmModel.PaidById" ng-if="mobilTam == 1" data="paymentData" required  placeholder="Pilih Pembayaran" ng-change="selectTypeCust(lmModel.PaidById,1,lmModel)" ng-disabled="isDisablePaid">
                    <option value=""></option>
                    <option ng-repeat="paymentData in paymentData" value="{{paymentData.MasterId}}">{{paymentData.Name}}</option>
                </select>

                <select  class="form-control" convert-to-number name="pembayaran" ng-model="lmModel.PaidById" ng-if="mobilTam == 0" data="payment_nontam" required  placeholder="Pilih Pembayaran" ng-change="selectTypeCust(lmModel.PaidById,1,lmModel)" ng-disabled="isDisablePaid">
                    <option value=""></option>
                    <option ng-repeat="paymentData in paymentData" value="{{paymentData.MasterId}}">{{paymentData.Name}}</option>
                </select>
                <input type="text" class="form-control" name="pembayaran" ng-model="lmModel.PaidById" ng-hide="true" required ng-required="true">
                <bserrmsg field="pembayaran"></bserrmsg>
            </div>

            <div class="form-group" ng-if="mData.WoCategoryId == 2501" show-errors>
                <bsreqlabel>Pembayaran</bsreqlabel>
             
                <select ng-init="lmModel.PaidById=''" class="form-control" convert-to-number name="pembayaran" ng-model="lmModel.PaidById" data="payment_pds" required  placeholder="Pilih Pembayaran" ng-change="selectTypeCust(lmModel.PaidById,1,lmModel)" ng-disabled="isDisablePaid">
                    <option value=""></option>
                    <option ng-repeat="paymentData in payment_pds" value="{{paymentData.MasterId}}">{{paymentData.Name}}</option>
                </select>
                <input type="text" class="form-control" name="pembayaran" ng-model="lmModel.PaidById" ng-hide="true" required ng-required="true">
                <bserrmsg field="pembayaran"></bserrmsg>
            </div>


        </div>
        <div class="col-md-6">
            <div class="form-group" ng-if="lmModel.PaidById == 30" show-errors>
                <label>T1</label>
                <!-- <bsselect name="T1"
                        ng-model="lmModel.TFirst1"
                        data="TFirst"
                        item-text="Name"
                        item-value="Name"
                        ng-disabled="isRelease"
                        placeholder="T1">
                </bsselect> -->
                <!-- <select class="form-control"  name="T1" ng-model="lmModel.TFirst1" data="TFirst" ng-disabled="isRelease || disT1" ng-required="!disT1" placeholder="T1">
                    <option ng-repeat="TFirst in TFirst" value="{{TFirst.Name}}">{{TFirst.Name}}</option>
                </select> -->

                <select name="T1" ng-model="lmModel.TFirst1" data="TFirst"  placeholder="T1" class="form-control" ng-disabled="isRelease || disT1" ng-required="!disT1">
                    <option ng-repeat="tf1 in TFirst" value="{{tf1.T1Code}} - {{tf1.Name}}">{{tf1.T1Code}} - {{tf1.Name}}</option>
                </select>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Tipe Diskon</bsreqlabel>
                <!-- <bsselect name="diskon" ng-model="lmModel.DiscountTypeId" data="diskonData" item-text="Name" item-value="MasterId" on-select="selectTypeDiskonTask(selected,0,lmModel)" placeholder="Pilih Pembayaran" required>
                </bsselect> -->
                <select class="form-control" convert-to-number name="diskon" ng-model="lmModel.DiscountTypeId" data="diskonData" ng-change="selectTypeDiskonTask(lmModel.DiscountTypeId,0,lmModel)" ng-disabled="lmModel.PaidById == 2277 || lmModel.PaidById == 30 || lmModel.PaidById == 29" placeholder="Pilih Tipe Diskon" required>
                    <option ng-repeat="diskonData in diskonData" value="{{diskonData.MasterId}}">{{diskonData.Name}}</option>
                </select>
                <input type="text" class="form-control" name="diskon" ng-model="lmModel.DiscountTypeId" ng-hide="true" required ng-required="true">                        
                <bserrmsg field="diskon"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>List Diskon</bsreqlabel>
                <!-- <bsselect name="diskon" ng-model="lmModel.DiscountTypeListId" ng-disabled="lmModel.DiscountTypeId == 0 || lmModel.DiscountTypeId == -1" data="diskonListData" item-text="Name" item-value="Id" on-select="selectTypeListDiskonTask(selected,lmModel.DiscountTypeId,0)" placeholder="Pilih List Diskon" ng-required="lmModel.DiscountTypeId == 1 || lmModel.DiscountTypeId == 2">
                </bsselect> -->
                <select class="form-control" convert-to-number name="diskon" ng-model="lmModel.DiscountTypeListId" ng-disabled="lmModel.DiscountTypeId == 0 || lmModel.DiscountTypeId == -1 || lmModel.DiscountTypeId == 10 || lmModel.DiscountTypeId == 3 || lmModel.PaidById == 2277 || lmModel.PaidById == 30 || lmModel.PaidById == 29 || lmModel.JobTypeId == 59 || lmModel.JobTypeId == 60" data="diskonListData" ng-change="selectTypeListDiskonTask(lmModel.DiscountTypeListId,lmModel.DiscountTypeId,0)" placeholder="Pilih List Diskon" ng-required="lmModel.DiscountTypeId == 1 || lmModel.DiscountTypeId == 2">                    
                    <option ng-repeat="diskonListData in diskonListData" value="{{diskonListData.Id}}">{{diskonListData.Name}}</option>
                </select>
                <input type="text" class="form-control" name="diskon" ng-model="lmModel.DiscountTypeListId" ng-hide="true" ng-required="lmModel.DiscountTypeId !== undefined && lmModel.DiscountTypeId !== null && lmModel.DiscountTypeId != 0 && lmModel.DiscountTypeId != -1 && lmModel.DiscountTypeId != 10">                
                <bserrmsg field="diskon"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <label ng-if="lmModel.DiscountTypeId != 0">Diskon</label>
                <bsreqlabel ng-if="lmModel.DiscountTypeId == 0">Diskon (min 1%)</bsreqlabel>
                <input type="number" step=0.01 ng-required="isCustomTask" ng-disabled="(!isCustomTask) || lmModel.PaidById == 2277 || lmModel.PaidById == 30 || lmModel.PaidById == 29" ng-if="lmModel.DiscountTypeId != 0" min=0 max="100" class="form-control" name="Discount" ng-model="lmModel.Discount">
                <input type="number" step=0.01 ng-required="true" ng-disabled="(!isCustomTask) || lmModel.PaidById == 2277 || lmModel.PaidById == 30 || lmModel.PaidById == 29" ng-if="lmModel.DiscountTypeId == 0" min=1 max="100" class="form-control" name="Discount" ng-model="lmModel.Discount">
                <em ng-messages="row1.Discount.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                    <p ng-message="step">Discount hanya bisa 2 angka desimal</p>
                    <p ng-message="max">Angka Terlalu Besar</p>
                </em>
                <bserrmsg field="Discount"></bserrmsg>
            </div>
        </div>
    </div>

    <!--------------------------- is lock--------------------------- -->
    <div ng-if="isLock">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Pekerjaan</bsreqlabel>
                <bstypeahead placeholder="Nama Pekerjaan" name="jobName"
                    ng-model="lmModel.TaskName"
                    get-data="getWork"
                    model-key="Name"
                    item-text="TaskName"
                    required
                    loading="loadingUsers"
                    noresult="noResults"
                    selected="selected"
                    on-select="onSelectWork"
                    on-noresult="onNoResult"
                    on-gotresult="onGotResult"
                    ng-if="mFilterTAM.isTAM == 1 "
                    icon="fa-id-card-o"
                    ng-disabled="isLock">
                </bstypeahead>
                <input type="text" placeholder="Nama Pekerjaan" class="form-control" ng-maxlength="100" maxlength="100" name="jobName" ng-model="lmModel.TaskName" ng-if="mFilterTAM.isTAM == 0" required ng-disabled="isLock">
                <bserrmsg field="jobName"></bserrmsg> 
            </div>

            <div class="form-group" style="margin-bottom:45px;" show-errors>
                <div class="form-inline">
                    <label class="pull-left">Additional Ope No</label>
                    <bscheckbox class="pull-right" ng-model="lmModel.isOpe" label="Ope No" true-value="1" false-value="0" ng-disabled="isLock || mDataCrm.Vehicle.isNonTAM == 1">
                    </bscheckbox>
                </div>
                <!-- <input type="text" class="form-control" name="noMaterial" ng-model="ldModel.PartsCode" > -->
                <div class="col-md-12" style="padding-left:0;padding-right:0;padding-bottom:15px;">
                    <bstypeahead 
                            placeholder="Task Code" 
                            name="noMaterial" 
                            ng-model="lmModel.TaskCode" 
                            get-data="getTaskOpe" 
                            item-text="TaskCode" 
                            ng-maxlength="250" 
                            disallow-space 
                            loading="loadingUsers" 
                            noresult="noResults" 
                            selected="selected" 
                            on-select="onSelectOpeNo"
                            on-noresult="onNoOpeResult" 
                            on-gotresult="onGotResult" 
                            ta-minlength="4"
                            ng-disabled="lmModel.isOpe == 0 || lmModel.isOpe == undefined || lmModel.isOpe == null" 
                            template-url="customTemplateOpe.html" 
                            icon="fa-id-card-o"
                            ng-disabled="isLock || mDataCrm.Vehicle.isNonTAM == 1">
                    </bstypeahead>
                </div>
                <bserrmsg field="noMaterial"></bserrmsg>
            </div>


            <div class="form-group" ng-if="lmModel.PaidById == 30" show-errors>
                <label>Flat Rate</label>
                <input type="text" class="form-control" name="flatrate" ng-model="lmModel.FlatRate" disabled>
                <bserrmsg field="flatrate"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Harga</bsreqlabel>
                <!-- ng-disabled="PriceAvailable" -->
                <input type="number" required ng-maxlength="13" maxlength="13"  min=0 max="13" class="form-control"  name="price" ng-model="lmModel.Fare" ng-disabled="isLock">
                <bserrmsg field="price"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Satuan</bsreqlabel>
                <!-- <bsselect name="satuan"
                    ng-model="lmModel.ProcessId"
                    data="unitData"
                    item-text="Name"
                    item-value="MasterId"
                    placeholder="Pilih Tipe"
                    required
                    on-select="selectUnit(selected)">
                </bsselect> -->
                <select class="form-control" convert-to-number  name="satuan" ng-model="lmModel.ProcessId" data="unitData" placeholder="Pilih Tipe" required ng-change="selectUnit(lmModel.ProcessId)" ng-disabled="isLock">
                    <option ng-repeat="unitData in unitData" value="{{unitData.MasterId}}">{{unitData.Name}}</option>
                </select>
                <input type="text" class="form-control" name="satuan" ng-model="lmModel.ProcessId" ng-hide="true" required ng-required="true">
                <bserrmsg field="satuan"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Pembayaran</bsreqlabel>
                <!-- <bsselect name="pembayaran"
                    ng-model="lmModel.PaidById"
                    data="paymentData"
                    required
                    item-text="Name"
                    item-value="MasterId"
                    placeholder="Pilih Pembayaran"
                    on-select="selectTypeCust(selected)">
                </bsselect> -->
                <select ng-disabled="isDisablePaid" ng-init="lmModel.PaidById=''" class="form-control" convert-to-number name="pembayaran" ng-model="lmModel.PaidById" data="paymentData" required  placeholder="Pilih Pembayaran" ng-change="selectTypeCust(lmModel.PaidById)">
                    <option value=""></option>
                    <option ng-repeat="paymentData in paymentData" value="{{paymentData.MasterId}}">{{paymentData.Name}}</option>
                </select>
                <input type="text" class="form-control" name="pembayaran" ng-model="lmModel.PaidById" ng-hide="true" required ng-required="true">
                <bserrmsg field="pembayaran"></bserrmsg>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <label>T1</label>
                <!-- <bsselect name="T1"
                        ng-model="lmModel.TFirst1"
                        data="TFirst"
                        item-text="Name"
                        item-value="Name"
                        ng-disabled="isRelease"
                        placeholder="T1">
                </bsselect> -->
                <!-- <select class="form-control"  name="T1" ng-model="lmModel.TFirst1" data="TFirst" ng-disabled="isRelease || disT1" placeholder="T1" ng-disabled="isLock || !disT1">
                    <option ng-repeat="TFirst in TFirst" value="{{TFirst.Name}}">{{TFirst.Name}}</option>
                </select> -->

                <select name="T1" ng-model="lmModel.TFirst1" data="TFirst"  placeholder="T1" class="form-control" ng-disabled="isRelease || disT1" ng-disabled="isLock || !disT1">
                    <option ng-repeat="tf1 in TFirst" value="{{tf1.T1Code}} - {{tf1.Name}}">{{tf1.T1Code}} - {{tf1.Name}}</option>
                </select>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Tipe Diskon</bsreqlabel>
                <!-- <bsselect name="diskon" ng-model="lmModel.DiscountTypeId" data="diskonData" item-text="Name" item-value="MasterId" on-select="selectTypeDiskonTask(selected,0,lmModel)" placeholder="Pilih Pembayaran" required>
                </bsselect> -->
                <select class="form-control" convert-to-number name="diskon" ng-model="lmModel.DiscountTypeId" data="diskonData" ng-change="selectTypeDiskonTask(lmModel.DiscountTypeId,0,lmModel)" ng-disabled="lmModel.PaidById == 2277 || lmModel.PaidById == 30 || lmModel.PaidById == 29" placeholder="Pilih Pembayaran" required>
                    <option ng-repeat="diskonData in diskonData" value="{{diskonData.MasterId}}">{{diskonData.Name}}</option>
                </select>
                <input type="text" class="form-control" name="diskon" ng-model="lmModel.DiscountTypeId" ng-hide="true" required ng-required="true">                        
                <bserrmsg field="diskon"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>List Diskon</bsreqlabel>
                <!-- <bsselect name="diskon" ng-model="lmModel.DiscountTypeListId" ng-disabled="lmModel.DiscountTypeId == 0 || lmModel.DiscountTypeId == -1" data="diskonListData" item-text="Name" item-value="Id" on-select="selectTypeListDiskonTask(selected,lmModel.DiscountTypeId,0)" placeholder="Pilih List Diskon" ng-required="lmModel.DiscountTypeId == 1 || lmModel.DiscountTypeId == 2">
                </bsselect> -->
                <select class="form-control" convert-to-number name="diskon" ng-model="lmModel.DiscountTypeListId" ng-disabled="lmModel.DiscountTypeId == 0 || lmModel.DiscountTypeId == -1 || lmModel.DiscountTypeId == 10 || lmModel.DiscountTypeId == 3 || lmModel.PaidById == 2277 || lmModel.PaidById == 30 || lmModel.PaidById == 29 || lmModel.JobTypeId == 59 || lmModel.JobTypeId == 60" data="diskonListData" ng-change="selectTypeListDiskonTask(lmModel.DiscountTypeListId,lmModel.DiscountTypeId,0)" placeholder="Pilih List Diskon" ng-required="lmModel.DiscountTypeId == 1 || lmModel.DiscountTypeId == 2">                    
                    <option ng-repeat="diskonListData in diskonListData" value="{{diskonListData.Id}}">{{diskonListData.Name}}</option>
                </select>
                <input type="text" class="form-control" name="diskon" ng-model="lmModel.DiscountTypeListId" ng-hide="true" ng-required="lmModel.DiscountTypeId !== undefined && lmModel.DiscountTypeId !== null && lmModel.DiscountTypeId != 0 && lmModel.DiscountTypeId != -1 && lmModel.DiscountTypeId != 10">                
                <bserrmsg field="diskon"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <label ng-if="lmModel.DiscountTypeId != 0">Diskon</label>
                <bsreqlabel ng-if="lmModel.DiscountTypeId == 0">Diskon (min 1%)</bsreqlabel>
                <input type="number" step=0.01 ng-required="isCustomTask" ng-disabled="(!isCustomTask) || lmModel.PaidById == 2277 || lmModel.PaidById == 30 || lmModel.PaidById == 29" ng-if="lmModel.DiscountTypeId != 0" min=0 max="100" class="form-control" name="Discount" ng-model="lmModel.Discount">
                <input type="number" step=0.01 ng-required="true" ng-disabled="(!isCustomTask) || lmModel.PaidById == 2277 || lmModel.PaidById == 30 || lmModel.PaidById == 29" ng-if="lmModel.DiscountTypeId == 0" min=1 max="100" class="form-control" name="Discount" ng-model="lmModel.Discount">
                <em ng-messages="row1.Discount.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                    <p ng-message="step">Discount hanya bisa 2 angka desimal</p>
                    <p ng-message="max">Angka Terlalu Besar</p>
                </em>
                <bserrmsg field="Discount"></bserrmsg>
            </div>
        </div>
    </div>
</div>