<div class="row">
    <div class="col-md-12" style="margin-bottom:20px">
        <fieldset style="border:2px solid #e2e2e2;">
            <legend style="margin-left:10px;width:inherit;border-bottom:0px;">
                WO Information
            </legend>
            <div class="row" style="margin-bottom:20px">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="col-xs-4">No. WO </label>
                            <label class="col-xs-1">:</label>
                            <label class="col-xs-6">{{mData.WoNo}}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4">No. Polisi </label>
                            <label class="col-xs-1">:</label>
                            <label class="col-xs-6">{{mData.PoliceNumber}}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4">Model </label>
                            <label class="col-xs-1">:</label>
                            <label class="col-xs-6">{{mData.ModelType}}</label>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="col-xs-6">Tgl. WO </label>
                            <label class="col-xs-1">:</label>
                            <label class="col-xs-4">{{mData.WoCreatedDate | date: 'dd/MM/yyyy hh:mm:ss'}}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-6">Janji Penyerahan</label>
                            <label class="col-xs-1">:</label>
                            <label class="col-xs-4">{{mData.FixedDeliveryTime1 | date: 'dd/MM/yyyy hh:mm:ss'}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-12">
        <bslist data="JobRequest" m-id="RequestId" list-model="reqModel" on-select-rows="onListSelectRows" selected-rows="listSelectedRows" confirm-save="true" list-api="listApi" button-settings="listView" custom-button-settings-detail="listView" modal-size="small"
            modal-title="Job Request" list-title="Job Request" list-height="200">
            <bslist-template>
                <div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Job Request" ng-model="lmItem.RequestDesc" ng-disabled="true" skip-enable>
            </textarea>
                    </div>
                </div>
            </bslist-template>
            <bslist-modal-form>
                <div>
                    <div class="form-group" show-errors>
                        <bsreqlabel>Permintaan</bsreqlabel>
                        <textarea class="form-control" placeholder="Permintaan" name='reqdesc' ng-model="reqModel.RequestDesc">
            </textarea>
                        <bserrmsg field="reqdesc"></bserrmsg>
                    </div>
                </div>
            </bslist-modal-form>
        </bslist>
    </div>
    <div class="col-md-6">
        <!--     <pre>{{vm.appScope.ComplaintCategory}}</pre>
    <pre>{{appScope.ComplaintCategory}}</pre>
    <pre>{{ComplaintCategory}}</pre> -->
        <bslist data="JobComplaint" m-id="JobComplaintId" list-model="lmComplaint" on-select-rows="onListSelectRows" selected-rows="listComplaintSelectedRows" confirm-save="false" list-api="listApi" button-settings="listView" custom-button-settings-detail="listView"
            modal-size="small" modal-title="Complaint" list-title="Complaint" list-height="200">
            <bslist-template>
                <div>
                    <div class="form-group">
                        <bsreqlabel>Kategori: </bsreqlabel>
                        <!--                     <bsselect data="ComplaintCategory" item-value="ComplaintCatg" item-text="ComplaintCatg" ng-model="lmItem.ComplaintCatg" placeholder="Complaint Category" ng-disabled="true" skip-enable>
                    </bsselect> -->
                        <input type="text" skip-enable class="form-control" ng-model="lmItem.ComplaintCatg" name="" ng-disabled="true">

                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Deskripsi" ng-model="lmItem.ComplaintDesc" ng-disabled="true" skip-enable>
                                </textarea>
                    </div>
                </div>
            </bslist-template>
            <bslist-modal-form>
                <div style="margin-bottom:90px;">
                    <div class="form-group">
                        <bsreqlabel>Kategori</bsreqlabel>
                        <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" data="ComplaintCategory" item-value="ComplaintCatg" item-text="ComplaintCatg" ng-model="lmComplaint.ComplaintCatg" placeholder="Kategori" required>
                        </bsselect>
                        <bserrmsg field="ctype"></bserrmsg>
                    </div>
                    <div class="form-group" style="margin-bottom: 90px;">
                        <bsreqlabel>Deskripsi</bsreqlabel>
                        <textarea class="form-control" placeholder="Complaint Text" name="ctext" ng-model="lmComplaint.ComplaintDesc" required>
                                </textarea>
                        <bserrmsg field="ctext"></bserrmsg>
                    </div>
                </div>
            </bslist-modal-form>
        </bslist>
    </div>
    <div class="col-md-6">
        <div style="text-align:center;">Status</div>
        <div style="height:181px;padding:5px 5px 5px 5px;text-align:center;">
            <label> GI Part</label>
            <h1 style="color:red">{{statusGI}}</h1>
        </div>

        <div ng-show="showOPLlabel == 1" style="height:181px;padding:5px 5px 5px 5px; text-align:center;">
            <label>OPL</label>
            <h1 style="color:red">{{statusOPL}}</h1>
        </div>
        <div ng-show="showOPLBPlabel == 1" style="height:181px;padding:5px 5px 5px 5px; text-align:center;">
            <label>OPL BP</label>
            <h1 style="color:red">{{statusOPLBP}}</h1>
        </div>
    </div>
    <div class="col-md-12">
        <!-- listView -->
        <bslist data="gridWork" m-id="tmpTaskId" d-id="PartsId" on-after-save="onAfterSave" on-after-delete="onAfterDelete" on-before-save="onBeforeSave" button-settings="listView" custom-button-settings-detail="listView" on-after-cancel="onAfterCancel" on-before-new="onBeforeNew"
            list-model="lmModel" list-detail-model="ldModel" grid-detail="gridPartsDetail" on-select-rows="onListSelectRows" selected-rows="listJoblistSelectedRows" list-api='listApi' confirm-save="false" list-title="Order Pekerjaan" modal-title="Job Data"
            modal-title-detail="Parts Data">
            <bslist-template>
                <div class="col-md-6" style="text-align:left;">
                    <p class="name"><strong>{{ lmItem.TaskName }}</strong></p>
                    <div class="col-md-3">
                        <!-- <p>Tipe :{{lmItem.catName}}</p> -->
                    </div>
                    <div class="col-md-3">
                        <!-- <p>Flat Rate: {{lmItem.FlatRate}}</p> -->
                    </div>
                </div>
                <div class="col-md-6" style="text-align:right;">
                    <p>Pembayaran: {{lmItem.PaidBy}}</p>
                    <p>Harga: {{lmItem.Summary | currency:"Rp. ":0}}</p>
                </div>
            </bslist-template>
            <bslist-detail-template>
                <div class="col-md-3">
                    <p><strong>{{ ldItem.PartsCode }}</strong></p>
                    <p>{{ ldItem.PartsName }}</p>
                </div>
                <div class="col-md-3">
                    <p>{{ ldItem.Availbility }}
                    </p>
                    <p>Pembayaran : {{ ldItem.PaidBy}}</p>
                </div>
                <div class="col-md-3">
                    <p>Jumlah : {{ldItem.Qty}} {{ldItem.Name}}
                    </p>
                    <p>Harga : {{ ldItem.RetailPrice | currency:"Rp. ":0}}</p>
                </div>
                <div class="col-md-3">
                    <p>ETA : {{ ldItem.ETA | date:'dd-MM-yyyy'}}
                    </p>
                    <p>Reserve : {{ ldItem.Qty }}</p>
                </div>
            </bslist-detail-template>
            <bslist-modal-form>
                <div class="row">
                    <div ng-include="'app/services/reception/wo/includeForm/modalFormMaster.html'">
                    </div>
                </div>
            </bslist-modal-form>
            <bslist-modal-detail-form>
                <div class="row">
                    <div ng-include="'app/services/reception/wo/includeForm/modalFormDetail.html'">
                    </div>
                </div>
            </bslist-modal-detail-form>
        </bslist>
        
    </div>
    <div class="col-md-12">
        <!-- OPL BSLIST DISINI! -->
        <bslist data="tmpDataOPL" m-id="Id" list-model="lmModelOpl" on-before-save="onBeforeSaveOpl" on-select-rows="onListSelectRows" selected-rows="listSelectedRows" confirm-save="true" on-after-save="onAfterSaveOpl" list-api="listApiOpl" button-settings="listView"
            custom-button-settings-detail="listView" modal-size="small" modal-title="Order Pekerjaan Luar" list-title="Order Pekerjaan Luar" list-height="200">
            <bslist-template>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <strong>{{lmItem.OPLName}}</strong>
                        </div>
                        <div class="form-group">
                            {{lmItem.VendorName}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Estimasi : </label> {{lmItem.TargetFinishDate | date:'dd-MM-yyyy'}}
                        </div>
                        <div class="form-group">
                            <label>Quantity : </label> {{lmItem.QtyPekerjaan}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Pembayaran : </label> {{lmItem.Pembayaran}}
                        </div>
                        <div class="form-group">
                            <label>Harga : </label> {{lmItem.Price | currency:"Rp. ":0}}
                        </div>
                    </div>
                </div>
            </bslist-template>
            <bslist-modal-form>
                <div ng-include="'app/services/reception/wo/includeForm/modalFormMasterOpl.html'">
            </bslist-modal-form>
        </bslist>

        <!-- <table id="example" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Harga</th>
                    <th>Disc</th>
                    <th>Sub Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Estimasi Service / Jasa</td>
                    <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalWorkEstimate | currency:"":0}}</td>
                    <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalWorkDiscountedEstimate | currency:"":0}}</td>
                    <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ (totalWorkEstimate - totalWorkDiscountedEstimate) | currency:"":0}}</td>
                </tr>
                <tr>
                    <td>Estimasi Material (Parts / Bahan)</td>
                    <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalMaterialEstimate | currency:"":0}}</td>
                    <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalMaterialDiscountedEstimate | currency:"":0}}</td>
                    <td style="text-align: right;"><span style="float: left;">Rp. </span>{{(totalMaterialEstimate - totalMaterialDiscountedEstimate) | currency:"":0}}</td>
                </tr>
                <tr>
                    <td>Estimasi OPL</td>
                    <td style="text-align: right;"><span style="float: left;">Rp. </span>{{sumWorkOpl | currency:"":0}}</td>
                    <td style="text-align: right;"><span style="float: left;">Rp. </span>{{sumWorkOpl - sumWorkOplDiscounted | currency:"":0}}</td>
                    <td style="text-align: right;"><span style="float: left;">Rp. </span>{{sumWorkOplDiscounted | currency:"":0}}</td>
                </tr>
                <tr>
                    <td>PPN</td>
                    <td style="text-align: right;"></td>
                    <td style="text-align: right;"></td>
                    <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalPPNViewEstimasiSum  | currency:"":0}}</td>
                        
                </tr>
                <tr>
                    <td>Total Estimasi</td>
                    <td style="text-align: right;"></td>
                    <td style="text-align: right;"></td>
                    <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalEstimasiEstimasisum | currency:"":0}}</td>
                </tr>
                <tr>
                    <td>Total DP</td>
                    <td style="text-align: right;"></td>
                    <td style="text-align: right;"></td>
                    <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalDp | currency:"":0}}</td>
                </tr>
                <tr ng-show="mData.isSpk == 1">
                    <td>Own Risk</td>
                    <td style="text-align: right;"></td>
                    <td style="text-align: right;"></td>
                    <td style="text-align: right;"><span style="float: left;">Rp. </span>{{mData.ORAmountCurrency | currency:"":0}}</td>
                </tr>
            </tbody>
        </table> -->

        <!-- <div class="col-md-12"> -->
            <table id="example" class="table table-striped table-bordered" width="100%">
                <thead >
                    <tr>
                        <th rowspan="2" style="text-align: center; font-size: large;">Item</th>

                        <th colspan="3" style="text-align: center; font-size: large;">Internal</th>
                        <!-- <th></th>
                        <th></th> -->

                        <th colspan="3" style="text-align: center; font-size: large;">External</th>
                        <!-- <th></th>
                        <th></th> -->

                        <th rowspan="2" style="text-align: center; font-size: large;">Total</th>

                    </tr>
                    <tr>
                        <!-- <th></th> -->

                        <th style="text-align: center;">Harga</th>
                        <th style="text-align: center;">Disc</th>
                        <th style="text-align: center;">Sub Total</th>

                        <th style="text-align: center;">Harga</th>
                        <th style="text-align: center;">Disc</th>
                        <th style="text-align: center;">Sub Total</th>

                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Estimasi Service / Jasa</td>

                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalWorkEstimate_Internal | currency:"":0}}</td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalWorkDiscountedEstimate_Internal | currency:"":0}}</td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ (totalWorkEstimate_Internal - totalWorkDiscountedEstimate_Internal) | currency:"":0}}</td>

                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalWorkEstimate_External | currency:"":0}}</td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalWorkDiscountedEstimate_External | currency:"":0}}</td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ (totalWorkEstimate_External - totalWorkDiscountedEstimate_External) | currency:"":0}}</td>

                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ (totalWorkEstimate_Internal - totalWorkDiscountedEstimate_Internal) + (totalWorkEstimate_External - totalWorkDiscountedEstimate_External) | currency:"":0}}</td>
                    </tr>
                    <tr>
                        <td>Estimasi Material (Parts / Bahan)</td>

                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalMaterialEstimate_Internal | currency:"":0}}</td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalMaterialDiscountedEstimate_Internal | currency:"":0}}</td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{(totalMaterialEstimate_Internal - totalMaterialDiscountedEstimate_Internal) | currency:"":0}}</td>

                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalMaterialEstimate_External | currency:"":0}}</td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalMaterialDiscountedEstimate_External | currency:"":0}}</td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{(totalMaterialEstimate_External - totalMaterialDiscountedEstimate_External) | currency:"":0}}</td>

                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ (totalMaterialEstimate_Internal - totalMaterialDiscountedEstimate_Internal) + (totalMaterialEstimate_External - totalMaterialDiscountedEstimate_External) | currency:"":0}}</td>
                    </tr>
                    <tr>
                        <td>Estimasi OPL</td>

                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{sumWorkOpl_Internal | currency:"":0}}</td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{sumWorkOpl_Internal - sumWorkOplDiscounted_Internal | currency:"":0}}</td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{sumWorkOplDiscounted_Internal | currency:"":0}}</td>

                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{sumWorkOpl_External | currency:"":0}}</td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{sumWorkOpl_External - sumWorkOplDiscounted_External | currency:"":0}}</td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{sumWorkOplDiscounted_External | currency:"":0}}</td>

                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ sumWorkOplDiscounted_Internal + sumWorkOplDiscounted_External | currency:"":0}}</td>
                    </tr>
                    <tr>
                        <td>PPN</td>

                        <td style="text-align: right;"></td>
                        <td style="text-align: right;"></td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalPPNViewEstimasiSum_Internal  | currency:"":0}}</td>

                        <td style="text-align: right;"></td>
                        <td style="text-align: right;"></td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalPPNViewEstimasiSum_External  | currency:"":0}}</td>

                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ totalPPNViewEstimasiSum_Internal + totalPPNViewEstimasiSum_External  | currency:"":0}}</td>
                            
                    </tr>
                    <tr>
                        <td>Total Estimasi</td>
                        
                        <td style="text-align: right;"></td>
                        <td style="text-align: right;"></td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalEstimasiEstimasisum_Internal | currency:"":0}}</td>

                        <td style="text-align: right;"></td>
                        <td style="text-align: right;"></td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalEstimasiEstimasisum_External | currency:"":0}}</td>

                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ totalEstimasiEstimasisum_Internal + totalEstimasiEstimasisum_External | currency:"":0}}</td>
                    </tr>
                    <tr>
                        <td colspan="7">Total DP</td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalDp | currency:"":0}}</td>

                    </tr>
                    <tr ng-show="mData.isSpk == 1">
                        <td colspan="7">Own Risk</td>
                        <td style="text-align: right;"><span style="float: left;">Rp. </span>{{mData.ORAmountCurrency | currency:"":0}}</td>
                    </tr>
                </tbody>
            </table>
        <!-- </div> -->

        <table id="example" class="table table-striped table-bordered" width="100%">
            <tbody>
                <tr>
                    <td width="20%"><b>Total</b></td>
                    <!-- <td>{{sumWorkOpl | currency:"Rp. ":0}}</td> -->
                    <!-- <td><b>{{(totalWorkDiscountedEstimate + totalMaterialDiscountedEstimate) | currency:"Rp. ":0}}</b></td> -->
                    <td><b>{{totalEstimasiEstimasisum | currency:"Rp. ":0}}</b></td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="col-md-12" ng-show="checkIsWarranty == 1">
            <!-- <fieldset style="border:2px solid #e2e2e2;">
      <legend style="margin-left:10px;width:inherit;border-bottom:0px;">
        Warranty Info
      </legend> -->
            <bslist data="getWarrantyInfo" m-id="tmpTaskId" d-id="PartsId" on-after-save="onAfterSave" on-after-delete="onAfterDelete" on-before-save="onBeforeSave" button-settings="listView" custom-button-settings-detail="listView" on-after-cancel="onAfterCancel"
                on-before-new="onBeforeNew" list-model="lmModelWarr" list-detail-model="ldModel" grid-detail="gridPartsDetail" on-select-rows="onListSelectRows" selected-rows="listJoblistSelectedRows" confirm-save="false" list-title="Warranty Info">
                <bslist-template>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>No. Claim :</label>
                                    <label>{{lmItem.ClaimNo}}</label>
                                </div>
                                <div class="form-group">
                                    <label>No. TWC :</label>
                                    <label>{{lmItem.TwcNo}}</label>
                                </div>
                                <div class="form-group">
                                    <label>VDS :</label>
                                    <label>{{lmItem.VDS}}</label>
                                </div>
                                <div class="form-group">
                                    <label>VIS :</label>
                                    <label>{{lmItem.VIS}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Total Amount :</label>
                                    <label>{{lmItem.TotalAmount}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Approved :</label>
                                    <label>{{lmItem.Approved}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Tipe Claim :</label>
                                    <label>{{lmItem.ClaimType}}</label>
                                </div>
                                <div class="form-group">
                                    <label>WMI :</label>
                                    <label>{{lmItem.WMI}}</label>
                                </div>
                                <div class="form-group">
                                    <label>CD :</label>
                                    <label>{{lmItem.CD}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Status Claim :</label>
                                    <label>{{lmItem.StatusClaim}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Error code :</label>
                                    <label>{{lmItem.ErrorCode}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </bslist-template>
            </bslist>
            <!-- <div class="">
        <div class="col-md-12">
          <table id="example" class="table table-striped table-bordered" width="100%">
            <thead>
              <tr>
                <th>Nomor LT</th>
                <th>Description</th>
                <th>Claim Amount</th>
                <th>Status</th>
                <th>Warranty Number</th>
                <th>Acceptable Amount</th>
                <th>Error Code</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nomor LT</td>
                <td>Description</td>
                <td>Claim Amount</td>
                <td>Status</td>
                <td>Warranty Number</td>
                <td>Acceptable Amount</td>
                <td>Error Code</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <div class="col-md-6 form-group">
      <label>Status TECO : </label>
      <input type="text" class="form-control" placeholder="Status TECO" name="totalDp">
    </div> -->
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Status TECO : </label>
                    <input type="text" class="form-control" placeholder="Status TECO" name="totalDp">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
                <!-- <div class="btn-group pull-right">
        <button type="button" ng-disabled="btnComplete" ng-if="mData.Status >= 12 && mData.Status <=13" ng-click="completeTeco(mData)" class="rbtn btn">
          Complete!
        </button>
        <button type="button" ng-disabled="btnComplete" ng-if="mData.Status == 14" ng-click="UncompleteTeco(mData)" class="rbtn btn">
          UnTeco
        </button>
        <button ng-show="showSubmitTeco" ng-show="isWarranty" type="button" class="rbtn btn" ng-click="SubmitApprovalTecho(chooseAprove)">
          Submit
        </button>
      </div> -->

                <div class="btn-group pull-right">
                    <!-- {{btnComplete}} - {{checkIsWarranty}} - {{showCompleteTeco}} {{(btnComplete || checkIsWarranty == 0 && showCompleteTeco != 1) }} -->
                    <!-- <button type="button" ng-disabled="(btnComplete || checkIsWarranty == 1)" ng-show="showSubmitTeco > 0" class="rbtn btn" ng-click="SubmitApprovalTecho(mData,gridWork)"> -->
        <!--  ng-show="showSubmitTeco > 0" -->
        <!-- Submit
        </button> -->
                    <!-- <button type="button" ng-disabled="((checkIsWarranty == 0 && showSubmitTeco > 0 || btnComplete || (oplData.length > 0 && statusOPL !== 'Completed') || (oplBPData.length > 0 && statusOPLBP !== 'Completed') ))" skip-enable ng-if="(mData.Status >= 12 && mData.Status <=13) && showCompleteTeco > 0"
                        ng-click="completeTeco(mData)" class="rbtn btn">
        Complete
        </button> -->
                    <!-- <button type="button" ng-disabled="(btnComplete) || (checkIsWarranty == 0)" skip-enable ng-if="(mData.Status >= 12 && mData.Status <=13) && showSubmitTeco >= 0" ng-click="completeTeco(mData)" class="rbtn btn">
        Complete 2!
        </button> -->
                    <!-- <button type="button" ng-disabled="btnComplete" ng-if="mData.Status == 14" ng-click="UncompleteTeco(mData)" class="rbtn btn">
        UnTeco
        </button> -->

        <button type="button" ng-disabled="btnComplete" ng-click="UncompleteTeco(mData)" class="rbtn btn">UnTeco</button>

                </div>

            </div>
        </div>
    </div>