<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	.watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
	<div class="no-add">
		<bsform-grid ng-form="CostCenterForm" grid-custom-action-button-template="gridActionTemplate" grid-custom-action-button-colwidth="130"
		 grid-hide-action-column="true" factory-name="CostCenterFactory" model="mCostCenter" model-id="CostCenterId" get-data="getData"
		 selected-rows="selectedRows" on-select-rows="onSelectRows" on-validate-save="onValidateSave" form-api="formApi" form-name="CostCenterForm" form-title="CostCenter" modal-title="CostCenter"
		 modal-size="small" icon="fa fa-fw fa-child" custom-div-1="bsformAboveGrid">
			<bsform-above-grid>
				<p style="color:red;margin-top:15px"> Daftar Cost Center </p>
				<hr style="border-color:red; margin-top:-10px">
				<p></p>
			</bsform-above-grid>
			<div ng-form name="FormValidation_CostCenter">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-4">
							<div class="form-group" show-errors>
								<bsreqlabel>Kode</bsreqlabel>
								<div class="input-icon-right">
									<i class="fa fa-pencil"></i>
									<input type="text" class="form-control" name="KodeCostCenter" placeholder="Kode CostCenter" ng-model="mCostCenter.CostCenterCode"
									 ng-maxlength="50" maxlength="50" required alpha-numeric>
								</div>
								<span ng-show="FormValidation_CostCenter.KodeCostCenter.$error.required && FormValidation_CostCenter.KodeCostCenter.$touched"
								 class="help-block">Field ini wajib diisi</span>
								<bserrmsg field="CostCenterCode"></bserrmsg>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="col-md-4">
							<div class="form-group" show-errors>
								<bsreqlabel>Cost Center</bsreqlabel>
								<div class="input-icon-right">
									<i class="fa fa-pencil"></i>
									<input type="text" class="form-control" name="NamaCostCenter" placeholder="Nama CostCenter" ng-model="mCostCenter.CostCenterName"
									 ng-maxlength="50" maxlength="50" required no-special-char>
								</div>
								<span ng-show="FormValidation_CostCenter.NamaCostCenter.$error.required && FormValidation_CostCenter.NamaCostCenter.$touched"
								 class="help-block">Field ini wajib diisi</span>
								<bserrmsg field="CostCenterName"></bserrmsg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</bsform-grid>
	</div>
