<div class="panel panel-danger" style="border-color:#D53337;">

<div class="panel-heading" style="color:white; background-color:#D53337;"><h3 class="panel-title">Permohonan Approval</h3>
</div> 

<div class="panel-body">

<form method="post">

<div class="row">

<div class="col-md-10">

<p><i>Stock Adjustment ini membutuhkan Approval.</i></p>
</div>
</div>

<div class="row">

<div class="col-md-5">

<div class="form-group">
<label class="control-label">Nama Kegiatan
</label>
</div>
</div>

<div class="col-md-7">

<div class="form-group">
<label class="control-label">Stock Adjustment
</label>
</div>
</div>
</div> 

<div class="row">

<div class="col-md-5">

<div class="form-group">
<label class="control-label">No. Request
</label>
</div>
</div>

<div class="col-md-7">

<div class="form-group">
<label class="control-label">TAM000000/SAG/1704-00004
</label>
</div>
</div>
</div> 

<div class="row">

<div class="col-md-5">

<div class="form-group">
<label class="control-label">Tanggal dan Jam
</label>
</div>
</div>

<div class="col-md-7">

<div class="form-group">
<label class="control-label">-
</label>
</div>
</div>
</div> 

<div class="row">

<div class="col-md-5">

<div class="form-group">
<label class="control-label">Approver(s)
</label>
</div>
</div>

<div class="col-md-7">
<textarea class="form-control" rows="4">
</textarea>
</div>
</div> 
<br>

<div class="row">

<div class="col-md-5">

<div class="form-group">
<label class="control-label">Pesan
</label>
</div>
</div>

<div class="col-md-7">
<textarea class="form-control" rows="4">Mohon untuk approve list dari item Stock Adjustment berikut. Terima kasih.
</textarea>
</div>
</div> 
<br>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div>
                <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Batal</button> 
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog(0)" style="color:white; background-color:#D53337">Kirim Permohonan</button> 
            </div>
        </div>
    </div>
</div>
</form>
</div>
</div>'