<script type="text/javascript">

</script>
<style type="text/css">

</style>
<bsform-grid
        ng-form="OAPForm"
        factory-name="OAP"
        model="mOAP"
        loading="loading"
        get-data="getData"
        selected-rows="xOAP.selected"
        
        custom-action-settings="customActionSettings"
        form-grid-api = "gridApi"
        on-after-register-grid-api = "afterRegisterGridApi"
        form-api="formApi"
        hide-new-button="true"
        show-advsearch="on"
        grid-inline-edit="true"
        rights-byte = "myRights"
        
        on-show-detail="onShowDetail"
        on-select-rows="onSelectRows"
        on-before-save="onBeforeSave"
        
        modal-title="OAP"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

        <bsform-advsearch>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <bsreqlabel>Tipe</bsreqlabel>
                        <bsradiobox ng-model="filter.typeId"
                                    options="typeData"
                                    layout="V">
                        </bsradiobox>
                    </div>
                    <div class="form-group">
                        <bsreqlabel>Tahun</bsreqlabel>
                        <bsselect name="year"
                                ng-model="filter.year"
                                data="yearData"
                                item-text="name"
                                item-value="id"
                                placeholder="Pilih Tahun"
                                on-select="selectYear(selected)"
                                required="true"
                                icon="fa fa-calendar">
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-disabled="orgData[0].child.length==1">
                        <bsreqlabel>Dealer Outlet</bsreqlabel>
                        <bsselect-tree name="outletId"
                                ng-model="filter.outletId"
                                data="orgData"
                                placeholder="Pilih Outlet Dealer"
                                on-select="changeFilterCombo(selected,sender)"
                                icon="fa fa-sitemap">
                        </bsselect-tree>
                    </div>
                    <div class="form-group" ng-if="filter.typeId<3">
                        <bsreqlabel>Field</bsreqlabel>
                        <bsselect name="field"
                                ng-model="filter.fieldId"
                                data="fieldData"
                                item-text="name"
                                item-value="id"
                                placeholder="Pilih Field"
                                on-select="selectField(selected)"
                                required="true">
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Area</label>
                        <bsselect name="areaId"
                                ng-model="filter.areaId"
                                data="areaData"
                                item-text="Description"
                                item-value="AreaId"
                                placeholder="Pilih Area"
                                ng-change="changeFilterCombo(selected,sender)"
                                icon="fa fa-sitemap">
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <label>Province</label>
                        <bsselect name="regionId"
                                ng-model="filter.provinceId"
                                data="provinceData"
                                item-text="ProvinceName"
                                item-value="ProvinceId"
                                placeholder="Pilih Region"
                                ng-change="changeFilterCombo(selected,sender)"
                                icon="fa fa-sitemap">
                        </bsselect>
                    </div>
                </div>
                <input type="file" accept=".xlsx" id="uploadOAP" onchange="angular.element(this).scope().loadXLS(this)"
                    style="display: none;">
            </div>
        </bsform-advsearch>

    </div>
</bsform-grid>

