<script type="text/javascript">
</script>
<style type="text/css">
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    
    .switch input {
        display: none;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #2196F3;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
    
    .button {
        display: inline-block;
        padding: 15px 15px 15px 15px;
        font-size: 14px;
        cursor: pointer;
        text-align: left;
        text-decoration: none;
        outline: none;
        color: black;
        background-color: #fff;
        border: none;
        width: 100%;
    }
    
    .button:hover {
        background-color: #d53337;
        color: #fff;
    }
    
    .button:active {
        background-color: #d53337;
        transform: translateY(4px);
    }
    /*th,
    td {
        padding-bottom: 10px;
        font-family: "Courier New", Courier, monospace;
    }*/
</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="gridDokumenPelanggan">
    <bsform-grid ng-form="TerimaDokumenPelangganForm" factory-name="TerimaDokumenPelangganFactory" model="mterimaDokumenPelanggan" model-id="Id" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" grid-hide-action-column="true" hide-new-button="true"
        form-name="TerimaDokumenPelangganForm" show-advsearch="on" form-title="Dokumen" modal-title="terimadokumen" modal-size="small" icon="fa fa-fw fa-child">

        <bsform-advsearch>
            <div class="row">
                <div class="col-md-4">
                    <div class="from-group">
                        <label>Cabang</label>
                        <!-- <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Pilih Cabang" ng-model="filter.SuratDistribusiNo" ng-maxlength="50">
                        </div> -->
                        <bsselect name="filterSales" placeholder="Pilih Cabang" ng-model="filter.OutletId" data="outletCabang" item-text="Name" item-value="OutletId" placeholder="Select">
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="from-group">
                        <label>Nomor Surat Distribusi</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Nomor Surat" ng-model="filter.SuratDistribusiNo" ng-maxlength="50">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Status</label>
                        <bsselect name="filterSales" placeholder="Pilih Status" ng-model="filter.TerimaDokumenStatusId" data="status" item-text="TerimaDokumenStatusName" item-value="TerimaDokumenStatusId" placeholder="Select">
                        </bsselect>
                    </div>
                </div>
            </div>
        </bsform-advsearch>

    </bsform-grid>

    <div class="ui modal formDocumenUpload" style="overflow-y: auto; background: none; box-shadow: none">
        <!-- <button ng-click="test()">test</button> -->
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" style="margin-top: 0px; margin-bottom: 0px">
                <div class="modal-content" style="border-bottom-width: 0px; width:700px; height:100%">
                    <!--<div style="width: 600px">-->
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="close()">&times;</button>
                        <h4 class="modal-title">Update Dokumen</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin: 0 0 -10px 0; float:right">
                            <!--<label class="fa fa-chevron-circle-left" ng-hide="numview == 1" aria-hidden="true"><button ng-disabled="numview == 1" style="display:none" ng-click="prev()"></button></label> {{numview}}/{{len}}
                            <label class="fa fa-chevron-circle-right" ng-hide="numview == len" aria-hidden="true"><button ng-disabled="numview == len" style="display:none" ng-click="next()"></button></label>-->
							<!--ini tadinya pake len kaya diatas-->
							<label class="fa fa-chevron-circle-left" ng-hide="numview == 1" aria-hidden="true"><button ng-disabled="numview == 1" style="display:none" ng-click="prev()"></button></label> {{numview}}/{{rowsDocument.length}}
                            <label class="fa fa-chevron-circle-right" ng-hide="numview == rowsDocument.length" aria-hidden="true"><button ng-disabled="numview == rowsDocument.length" style="display:none" ng-click="next()"></button></label>
                        </div>
                        <div class="row" style="margin: 0 0 0 0">

                            <div class="row" style="margin: 0 0 0 0">
                                <div class="form-group">
                                    <label>No Rangka</label>
                                    <div class="input-icon-right ">
                                        <input ng-disabled="true" type="text" class="form-control" name="fieldNoSpk" placeholder="" ng-model="rowsDocument[num].FrameNo" ng-maxlength="50" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin: 0 0 0 0">
                                <div class="form-group">
                                    <label>Nama Pelanggan</label>
                                    <div class="input-icon-right ">
                                        <input ng-disabled="true" type="text" class="form-control" name="" placeholder="" ng-model="rowsDocument[num].CustomerName" ng-maxlength="50" required>
                                    </div>
                                </div>
                            </div>


                            <hr style="margin-top: 0px">

                            <div class="row" style="margin: 5px 0 5px 0">
                                <div class="col-md-1" style="margin: 0 0 0 0; padding: 0 0 0 0">
                                    <!--<i ng-if="documen.ReceivedDate == undefined" class="fa fa-square-o" style="font-size: 16px" aria-hidden="true"></i>
                                        <i ng-if="documen.ReceivedDate != undefined" class="fa fa-check-square" style="font-size: 16px" aria-hidden="true"></i>-->
                                </div>
                                <div class="col-md-3" style="padding: 0 0 0 0">
                                    <label><b>Jenis Dokumen</b><label>
                                    </div>
                                    <div class="col-md-4">
                                        <label><b>Tanggal Dokumen Dikirim</b><label>
                                    </div>
                                    <div class="col-md-4">
                                        <label><b>Tanggal Dokumen Diterima</b><label>
                                    </div>
                                </div>

                                <hr style="margin-top: 0px">
                                <!--Upload KTP Pelanggan-->
                                <div class="row" ng-repeat="documen in rowsDocument[num].listDetail" style="margin: 0 0 0 0">
                                    <div class="col-md-1" style="margin: 8px 0 0 0; padding: 0 0 0 0">
                                            <bscheckbox ng-model="documen.ReceivedDateBit"
                                                        label=""
                                                        ng-change="checkdatedepan(documen, rowsDocument[num],'main')"
                                                        true-value="true"
                                                        false-value="false">
                                            </bscheckbox>
                                   </div>
                                    <div class="col-md-3" style="margin-top: 8px; padding: 0 0 0 0">
                                        <!-- <i ng-if="documen.ReceivedDate == undefined" class="fa fa-square-o" style="font-size: 16px" aria-hidden="true"></i>
                                        <i ng-if="documen.ReceivedDate != undefined" class="fa fa-check-square" style="font-size: 16px" aria-hidden="true"></i> -->
                                        <label style="margin-left: 5px"><a ng-click="">{{documen.DocumentName}}</a><label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <bsdatepicker name="reciveraDate" ng-disabled="true" date-options="" ng-model="documen.SentDate" >
                                            </bsdatepicker>
                                            <!--<bserrmsg field="reciveraDate"></bserrmsg>-->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <!--<bsdatepicker name="LastStartDate" date-options="" ng-model="documen.ReceivedDate">
                                            </bsdatepicker>-->
                                            <input type="datetime-local" class="form-control" ng-model="documen.ReceivedDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="modal-footer" style="padding-bottom: 10px; padding-top: 10px">
                            <div class="row" style="float: left; margin: 0 0 0 0">
                                <!-- KELENGKAPAN DOKUMEN BAGIAN DEPAN -->
                                <bscheckbox ng-model="rowsDocument[num].DokumenLengkap"
                                    ng-change="checkKelengkapanDepan(rowsDocument[num].listDetail,rowsDocument[num].DokumenLengkap)"
                                    label=" Kelengkapan Dokumen Sudah Diperiksa"
                                    true-value="true"
                                    false-value="false">
                                </bscheckbox>
                                <!-- <input type="checkbox" ng-model="rowsDocument[num].SuratDistribusiAjuAFIKeTAMStatusCheck" ng-checked="rowsDocument[num].SuratDistribusiAjuAFIKeTAMStatusCheck" > Kelengkapan Dokumen Sudah Diperiksa -->
                            </div>
                            <button class="btn rbtn" style="float: right; " ng-click="simpanupdate()" ng-disabled="disabledsimpanupdate">Simpan</button>
                        </div>
                    <!--</div>-->
				</div>
			</div>
        </div>      
    </div>

    <div class="ui modal formDocumenUploadsingle" style="overflow-y: auto; background: none; box-shadow: none">
        <div class="vertical-alignment-helper">
			<div class="modal-dialog vertical-align-center" style="margin-top: 0px; margin-bottom: 0px">
				<div class="modal-content" style="border-bottom-width: 0px; width:700px; height:100%">
                    <!--<div style="width: 600px">-->
                        <div class="modal-header">
                                <!-- <button ng-click="test()">test</button> -->
                            <!-- <button type="button" class="close" ng-click="close()">&times;</button> -->
                            <h4 class="modal-title">Update Dokumen</h4>
                        </div>
                        <div class="modal-body">
                            <!--<div class="row" style="margin: 0 0 -10px 0; float:right">
                                <label class="fa fa-chevron-circle-left" aria-hidden="true"><button ng-disabled="numview == 1" style="display:none" ng-click="prev()"></button></label> {{numview}}/{{len}}
                                    <label class="fa fa-chevron-circle-right" aria-hidden="true"><button ng-disabled="numview == len" style="display:none" ng-click="next()"></button></label>
                                </div>-->
                                <div class="row" style="margin: 0 0 0 0">

                                    <div class="row" style="margin: 0 0 0 0">
                                        <div class="form-group">
                                            <label>No Rangka</label>
                                            <div class="input-icon-right ">
                                                <input ng-disabled="true" type="text" class="form-control" name="fieldNoSpk" placeholder="" ng-model="rowsDocuments.FrameNo" ng-maxlength="50" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 0 0 0 0">
                                        <div class="form-group">
                                            <label>Nama Pelanggan</label>
                                            <div class="input-icon-right ">
                                                <input ng-disabled="true" type="text" class="form-control" name="" placeholder="" ng-model="rowsDocuments.CustomerName" ng-maxlength="50" required>
                                            </div>
                                        </div>
                                    </div>


                                    <hr style="margin-top: 0px">

                                    <div class="row" style="margin: 5px 0 5px 0">
                                        <div class="col-md-1" style="margin: 8px 0 0 0; padding: 0 0 0 0">
                                            <!--<i ng-if="documen.ReceivedDate == undefined" class="fa fa-square-o" style="font-size: 16px" aria-hidden="true"></i>
                                        <i ng-if="documen.ReceivedDate != undefined" class="fa fa-check-square" style="font-size: 16px" aria-hidden="true"></i>-->
                                        </div>
                                        <div class="col-md-3" style="padding: 0 0 0 0">
                                            <label><b>Jenis Dokumen</b><label>
                                    </div>
                                    <div class="col-md-4">
                                        <label><b>Tanggal Dokumen Dikirim</b><label>
                                    </div>
                                    <div class="col-md-4">
                                        <label><b>Tanggal Dokumen Diterima</b><label>
                                    </div>
                                </div>

                                <hr style="margin-top: 0px">
                                <!--Upload KTP Pelanggan-->
                                <div class="row" ng-repeat="documen in rowsDocuments.listDetail" style="margin: 0 0 0 0">
                                   <div class="col-md-1" style="padding: 0 0 0 0">
                                            <bscheckbox ng-model="documen.ReceivedDateBit"
                                                        label=""
                                                        ng-change="checkdate(documen,rowsDocuments,'detail')"
                                                        ng-disabled="documen.TombolSimpan == false"
                                                        true-value="true"
                                                        false-value="false">
                                                        
                                            </bscheckbox>
                                        <!-- <i ng-if="documen.ReceivedDate == undefined" class="fa fa-square-o" style="font-size: 16px" aria-hidden="true"></i>
                                        <i ng-if="documen.ReceivedDate != undefined" class="fa fa-check-square" style="font-size: 16px" aria-hidden="true"></i> -->                                      
                                    </div>
                                    <div class="col-md-3" style="margin-top: 8px; padding: 0 0 0 0">
                                            <label style="margin-left: 5px" ng-disabled="documen.TombolSimpan == false" ng-click="viewImage(documen)"><a>{{documen.DocumentName}}</a><label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <bsdatepicker name="reciveraDate" ng-disabled="true" date-options="" ng-model="documen.SentDate" >
                                            </bsdatepicker>
                                            <!--<bserrmsg field="reciveraDate"></bserrmsg>-->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <!--<bsdatepicker name="LastStartDate" date-options="" ng-model="documen.ReceivedDate">
                                            </bsdatepicker>-->
                                            <input type="datetime-local" class="form-control" ng-disabled="documen.ReceivedDate == null || rowsDocuments.listDetail[0].TombolSimpan == false" ng-change="checkifDate(documen)" ng-model="documen.ReceivedDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="modal-footer" style="padding-bottom: 10px; padding-top: 10px">
                            <div class="row" style="float: left; margin: 0 0 0 0">
                                <!-- <input type="checkbox" ng-model="" ng-checked="rowsDocument.SuratDistribusiAjuAFIKeTAMStatusCheck" >  -->
                                <!-- KELENGKAPAN DOKUMEN BAGIAN BELAKANG -->
                                <bscheckbox ng-model="rowsDocuments.DokumenLengkap"
                                            ng-change="checkKelengkapan(rowsDocuments.listDetail,rowsDocuments.DokumenLengkap)"
                                            label="Kelengkapan Dokumen Sudah Diperiksa"
                                            true-value="true"
                                            ng-disabled="rowsDocuments.listDetail[0].TombolSimpan == false"
                                            false-value="false">
                                </bscheckbox>
                            </div>
                            <!-- <button type="button" style="float: right;" class="close" ng-click="close()">Keluar</button> -->
                            <button class="btn rbtn" style="float: right;" ng-disabled="rowsDocuments.listDetail[0].TombolSimpan == false || disabledsimpanupdatesingle" ng-click="simpanupdatesingle()">Simpan</button>
                            <button class="btn wbtn" style="float: right;" ng-click="close()">Keluar</button>
                        </div>
                    <!--</div>-->
				</div>
			</div>
        </div>      
    </div>

</div>


<div ng-show="DetailDokumen">
        <div class="row" style="margin: -45px 0 0 0; float:right">
            <button class="wbtn btn"  ng-click="back()">Kembali</button> 
        </div>
        <div class="row" style="margin: 10px 0 0 0">
            <div style="margin-top: 10px 0 0 0" class="grid" ui-grid="gridDetailDokumen" ui-grid-pagination ui-grid-auto-resize></div>
        </div>
</div>

<div class="ui modal dokumenTerimaLihat">
    <div>
        <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
            <h4>
                <b>{{dokumenName}}</b>
            </h4>
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        </div>
        <div class="modal-body">
            <!--<img ng-src="{{viewdocument}}" image-set-aspect ng-class="{'wide': viewdocument.width/viewdocument.height > 1, 'tall': viewdocument.width/viewdocument.height <= 1}">-->
            <p align="center">
                <img ng-src="{{dokumenData}}" style="max-width: 860px; max-height: 526px; text-align: center;">
            </p>
        </div>
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <div class="row" style="margin:  0 0 0 0">
                <!-- <button ng-click="btnkehilanganSpk()" class="rbtn btn ng-binding ladda-button" style="float:right; width:15%;">Simpan</button> -->
                <button ng-click="KeluarDokumenTerima()" class="wbtn btn ng-binding ladda-button" style="float:right;">Keluar</button>
            </div>
        </div>
    </div>
</div>
        <!--<div class="row"> 
            <div class="col-md-6">
            </div>

            <div class="col-md-6">
                <button id="cancelBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="revisi()">Batal AFI</button>
                <button id="cancelBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="printAfibtn()">Revisi AFI</button>
                <button id="uploadBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="printAfi()">Lihat Detai</button>
            </div>
        </div>-->