<div class="col-md-12" style="margin-top:20px">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Type Kendaraan</label>

                <div class="icon-addon left-addon ui-select"><i class="fa fa-car"></i>
                    <ui-select name="vehicType" ng-model="filter.vTypeVC" icon="fa fa-car"
                        on-select="chooseVTypeVC($item.MasterId)" search-enabled="false" skip-enable theme="select2"
                        id="EstimasiType">
                        <ui-select-match style="padding-left:30px;" allow-clear placeholder="Pilih Tipe Kendaraan">
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in VTypeData">
                            <span ng-bind-html="item.Name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12" style="padding-right: 20%; padding-left:20%;" ng-if="imageSelVC !== undefined" ng-style="customHeight"><!-- ng-style="customHeight" -->
            <img name="img" ng-init="this.init" ng-areas="areasArrayVC" ng-areas-width="700" 
            ng-areas-allow="{'edit':true, 'move':false, 'resize':false, 'select':false, 'remove':false, 'nudge':false}"
            ng-src="{{imageSelVC}}" ng-areas-on-add="onAddArea" ng-areas-on-remove="onRemoveArea"
            ng-areas-on-change="onChangeAreas" ng-areas-on-choose="doClickVC" ng-areas-extend-data="statusObj"
            area-api="areaApi">
        </div>
    </div>



    <div class="row" ng-show="!disableWACExt">
        <div class="col-md-12">
      
            <table id="estGridVc" width="100%" class="table table-striped table-bordered table-hover table-responsive" style="margin-top: 10px;">
                <thead>
                    <tr>
                        <th ng-style="{'width':'{{col.width}}'}" ng-hide="col.visible == false"
                            ng-repeat="col in gridVC.columnDefs">{{col.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="column in gridVC.data">
                        <td ng-hide="true" style="width:5%">{{column.JobWACExtId}}</td>
                        <td style="width:28%">{{column.ItemName}}</td>
                        <td style="width:47%" style="padding:0px">
                            <div class="col-md-12 col-xs-12">
                                <div ng-repeat="item in StatusVehicle" style="float:left;padding-right:15px;padding-left:15px;">
                                    <label class="radio">
                                        <input class="radiobox style-0" ng-model="column.StatusVehicleId" type="radio" ng-disabled="estimationMode == 'View'"
                                            ng-change="checkTaskByVehicleCondtion(gridVC.data,1,column.StatusVehicleId)"
                                            ng-value={{item.MasterId}}><span>{{item.Name}}</span>
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td style="width:25%" style="padding:0px">
                            <div class="col-md-12 col-xs-12">
                                <div ng-repeat="item in PointsVehicle"
                                    ng-if="(column.StatusVehicleId !== undefined && column.StatusVehicleId !== null && column.typeName == 1 && column.showPoints == 1)"
                                    style="float:left;padding-right:10px;padding-left:10px;">
                                    <label class="radio">
                                        <input class="radiobox style-0" ng-model="column.PointId" type="radio" ng-disabled="estimationMode == 'View'"
                                            ng-change="checkTaskByVehicleCondtion(gridVC.data,0,column.PointId)"
                                            ng-value={{item.MasterId}}><span>{{item.Name}}</span>
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td ng-hide="true" style="width:5%">{{column.typeName}}</td>
                    </tr>
                    <tr ng-if="!gridVC.data.length">
                        <td colspan="{{gridVC.columnDefs.length}}">
                            <div style="opacity: .25;font-size: 3em;width: 100%;text-align: center;z-index: 1000;">No Data Available
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <bscheckbox ng-model="disableWACExtVC" label="Clear" true-value="true" false-value="false"
                    ng-change="chgChkVC()">
                </bscheckbox>
            </div>
        </div>
    </div>


</div>