<div class="col-md-12" ng-form="row1">
    <div class="col-xs-6">
        <div class="row"></div>
        <div class="form-group" show-errors>
            <bsreqlabel>Pekerjaan</bsreqlabel>
            <bstypeahead placeholder="Nama Pekerjaan" name="jobName" ng-model="mEstimationBP.TaskName" get-data="getWork" ng-disabled="isRelease" item-text="TaskName" loading="loadingUsers" noresult="noResults" selected="selected" on-select="onSelectWork"
                on-noresult="onNoResult" on-gotresult="onGotResult" icon="fa-id-card-o" required>
            </bstypeahead>
            <em ng-messages="row1.jobName.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                </em>
            <!-- <bserrmsg field="jobName"></bserrmsg> -->
        </div>

        <div class="form-group" show-errors>
            <div class="row">
                <!-- <div class="form-group" show-errors> -->
                <div class="col-xs-12">
                    <bsreqlabel>Satuan</bsreqlabel>
                    <!-- <bsselect name="satuan" ng-disabled="isRelease" ng-model="mEstimationBP.ProcessId" data="unitData" item-text="Name" item-value="MasterId" placeholder="Pilih Tipe" required>
                    </bsselect> -->
                    <!-- ng-disabled="isRelease"  -->
                    <select name="satuan" convert-to-number class="form-control" ng-model="mEstimationBP.ProcessId" data="unitData" placeholder="Pilih Tipe" required>
                        <option ng-repeat="sat in unitData" value="{{sat.MasterId}}">{{sat.Name}}</option>
                    </select>
                    <input type="text" class="form-control" name="satuan" ng-model="mEstimationBP.ProcessId" ng-hide="true" required ng-required="true">
                    <em ng-messages="row1.satuan.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p ng-message="required">Wajib diisi</p>
                    </em>
                </div>
            </div>

            <!-- <bserrmsg field="satuan"></bserrmsg> -->
            <!-- </div> -->
            <!-- <bserrmsg field="Fr"></bserrmsg> -->
        </div>

        <div class="form-group" show-errors>
            <div class="row">
                <!-- <div class="form-group" show-errors> -->
                <div class="col-xs-12">
                    <bsreqlabel>No. SPK</bsreqlabel>
                    <!-- <bsselect name="satuan" ng-disabled="isRelease" ng-model="mEstimationBP.ProcessId" data="unitData" item-text="Name" item-value="MasterId" placeholder="Pilih Tipe" required>
                    </bsselect> -->
                    <!-- ng-disabled="isRelease" -->
                    <select name="satuan" convert-to-number class="form-control"  ng-model="mEstimationBP.ProcessId" data="unitData" placeholder="Pilih Tipe" required>
                        <option ng-repeat="sat in unitData" value="{{sat.MasterId}}">{{sat.Name}}</option>
                    </select>
                    <input type="text" class="form-control" name="satuan" ng-model="mEstimationBP.ProcessId" ng-hide="true" required ng-required="true">
                    <em ng-messages="row1.satuan.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p ng-message="required">Wajib diisi</p>
                    </em>
                </div>
            </div>

            <!-- <bserrmsg field="satuan"></bserrmsg> -->
            <!-- </div> -->
            <!-- <bserrmsg field="Fr"></bserrmsg> -->
        </div>
    </div>
    <div class="col-xs-6">


        <div class="form-group" show-errors>
            <div class="col-md-12" style="padding-right: 0px;padding-left: 0px;">
                <bsreqlabel>Harga</bsreqlabel>
                <!-- <div ng-if="PriceAvailable == false"> -->
                    <!-- <input type="number" ng-maxlength="10" required min=0 class="form-control" name="price" ng-model="mEstimationBP.Fare"
                    ng-disabled=""> -->
                <!--     <input type="text" ng-maxlength="10" required min=0 class="form-control" name="price" ng-model="mEstimationBP.Fare" ng-disabled="" currency-formating number-only>
                </div> -->
                <div>
                    <!-- <input type="number" required ng-maxlength="10" min=0 class="form-control" name="price" ng-model="mEstimationBP.Summary"
                    ng-disabled="PriceAvailable"> -->
                    <input type="text" required ng-maxlength="10" min=0 class="form-control" name="price" ng-model="mEstimationBP.Fare" ng-disabled="PriceAvailable" currency-formating number-only>
                </div>

                <em ng-messages="row1.price.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                    <p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
                </em>
            </div>
            <!-- <bserrmsg field="price"></bserrmsg> -->
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <!-- <bsselect name="pembayaran" ng-disabled="isRelease" ng-model="mEstimationBP.PaidById" data="paymentData" item-text="Name" item-value="MasterId" placeholder="Pilih Pembayaran" on-select="selectTypeCust(selected,mEstimationBP)" required>
            </bsselect> -->
            <select ng-init="mEstimationBP.PaidById=''" name="pembayaran" convert-to-number ng-disabled="disablePembayaran || JobIsWarranty == 1" class="form-control" ng-model="mEstimationBP.PaidById" placeholder="Pilih Pembayaran" ng-change="selectTypeCust(mEstimationBP,mEstimationBP.PaidById)" ng-required="true" required>
                <option value=""></option>
                <option ng-repeat="pay in paymentData" value="{{pay.MasterId}}">{{pay.Name}}</option>
            </select>
            <input type="text" class="form-control" name="pembayaran" ng-model="mEstimationBP.PaidById" ng-hide="true" required ng-required="true">
            <em ng-messages="row1.pembayaran.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                </em>
            <!-- <bserrmsg field="pembayaran"></bserrmsg> -->
        </div>
       
    </div>
    <script type="text/ng-template" id="customTemplateOpe.html">
        <a>
            <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
            <span ng-bind-html="match.model.TaskName | uibTypeaheadHighlight:query"></span>
            <!-- <span ng-bind-html="match.model.FullName | uibTypeaheadHighlight:query"></span> -->
        </a>
    </script>
</div>