<script type="text/javascript">

</script>
<style type="text/css">


</style>

<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="InternalOutletForm"
        model-id="OutletTAMId"
        factory-name="InternalOutlet"
        model="mIntOutlet"
        loading="loading"

        get-data="getData"
        selected-rows="xIntOutlet.selected"
        on-before-cancel="onBeforeCancel"
        on-before-new-mode="onBeforeNewMode"

        form-name="InternalOutletForm"
        form-title="Internal Outlet"
        modal-title="Internal Outlet"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

        <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>Kode Outlet</bsreqlabel>
                    <div class="input-icon-right">
                        <input type="text" class="form-control" name="code" placeholder="Kode Outlet" ng-model="mIntOutlet.OutletCode" required>
                    </div>
                    <bserrmsg field="code"></bserrmsg>
                </div>
                <div class="form-group" show-errors>
                    <bsreqlabel>Nama Outlet</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" name="name" placeholder="Nama Outlet" ng-model="mIntOutlet.Name" required>
                    </div>
                    <bserrmsg field="name"></bserrmsg>
                </div>
                 <div class="form-group" show-errors>
                    <bsreqlabel>Area</bsreqlabel>
                    <bsselect name="areaId"
                            ng-model="mIntOutlet.AreaId"
                            data="areaData"
                            placeholder="Pilih Area"
                            item-value="AreaId"
                            item-text="Description"
                            required="true"
                            ng-change="changeArea(selected)"
                            icon="fa fa-sitemap">
                    </bsselect> <!--  -->
                    <bserrmsg field="area"></bserrmsg>
                </div>
                <div class="form-group" show-errors>
                    <bsreqlabel>Kota</bsreqlabel>
                    <!-- <bsselect-tree name="CityRegencyId"
                            ng-model="mIntOutlet.CityRegencyId"
                            data="provinceData"                            
                            placeholder="Pilih Kota"
                            required="true"
                            icon="fa fa-sitemap"
                            on-select="changeProvince(selected)" 
                            >
                    </bsselect-tree>  --><!-- data="regionData" -->
                    <bsselect-tree-ex name="regionId"
                            ng-model="mIntOutlet.CityRegencyId"
                            data="provinceData"
                            on-select="changeProvince(selected)"

                            tree-id-level1="IslandId"
                            tree-id-level2="ProvinceId"
                            tree-id-level3="CityRegencyId"

                            tree-text-level1="IslandName"

                            tree-text-level2="ProvinceName"
                            
                            tree-text-level3="CityRegencyName"

                            tree-child-level1="listProvinceCity"
                            tree-child-level2="listCityRegency"

                                    tree-mode=1
                                    target-level=3
                                    expand-level=3

                            placeholder="Pilih Kota"
                            required="true"
                            icon="fa fa-sitemap">
                            <!-- tree-text2-level1="IslandId" 
                                 tree-text2-level2="ProvinceId"
                                 tree-text2-level3="CityRegencyId"
                                  -->
                    </bsselect-tree-ex>
                    <bserrmsg field="CityRegencyId"></bserrmsg>
                </div>
            </div>

            <div class="col-md-6">
                 <div class="form-group" show-errors>
                    <label>Telepon</label>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="number" class="form-control" name="phone" placeholder="Telepon" ng-model="mIntOutlet.PhoneNumber"> <!-- [0-9.^abc] pattern="(?=.*\d)(?=.*\s)(?=.*\W)"-->
                    </div>
                    <bserrmsg field="phone"></bserrmsg>
                </div>
                <div class="form-group" show-errors>
                    <bsreqlabel>Alamat</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <textarea type="text" class="form-control" name="address" placeholder="Alamat"
                        ng-model="mIntOutlet.Address" rows="5" required></textarea>
                    </div>
                    <bserrmsg field="address"></bserrmsg>
                </div>
            </div>
        </div>
        
        <!-- <pre> {{mIntOutlet}} </pre> -->
</bsform-grid>

