<script type="text/javascript">
</script>
<style type="text/css">

</style>


<bsform-grid ng-form="SiteAreaPelanggaranWilayahForm" factory-name="SiteAreaPelanggaranWilayahFactory" model="msitePelanggaranWilayah" model-id="AreaPelanggaranWilayahId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="SiteAreaPelanggaranWilayahForm"
    form-title="Area Pelanggaran" modal-title="siteAreaPelanggaranWilayah" modal-size="small" icon="fa fa-fw fa-child">

    
    <div class="row">
        <div class="col-md-6">



            <div class="form-group" show-errors>
                <bsreqlabel>Nama Area Pelanggaran</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="nama area pelanggaran" placeholder="nama" ng-model="msitePelanggaranWilayah.NamaAreaPelanggaranWilayah" ng-maxlength="50" required>
                </div>
                <bserrmsg field="nama"></bserrmsg>
            </div>

            
        </div>
    </div>
</bsform-grid>