<script type="text/javascript">
</script>
<style type="text/css">

</style>

<bsform-grid ng-form="MasterTaskListForm" factory-name="MasterTaskListFactory" model="mMasterTaskList" model-id="TaskId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="MasterTaskListForm" form-title="Task List"
    modal-title="Task List" modal-size="small" icon="fa fa-fw fa-child">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Task Code</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Code" placeholder="Task Code" ng-model="mMasterTaskList.TaskCode" ng-maxlength="50" required>
                </div>
                <bserrmsg field="nama"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Task Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Name" placeholder="Task Name" ng-model="mMasterTaskList.TaskName" ng-maxlength="50" required>
                </div>
                <bserrmsg field="nama"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Flat Rate</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="number" class="form-control" name="flatRAte" placeholder="Flat Rate" ng-model="mMasterTaskList.FR" ng-maxlength="50" required>
                </div>
                <bserrmsg field="flatRate"></bserrmsg>
            </div>
        </div>
    </div>
</bsform-grid>