<script type="text/javascript">
</script>
<style type="text/css">

</style>

<!-- <bsform-base ng-form="ReportPartsPerformanceForm" loading="loading" show-advsearch="on" form-api="formApi" linksref="app.queueCategory" linkview="queueCategory@app" form-name="ReportPartsPerformanceForm" form-title="ReportPartsPerformance" icon="fa fa-fw fa-child">

    <bsform-advsearch> -->
            <div ng-if="role=='Branch'" ng-include="'app/services/report/Parts/reportPartsPerformance/tempBranch.html'"></div>
            <div ng-if="role=='HO'" ng-include="'app/services/report/Parts/reportPartsPerformance/tempHOTAM.html'"></div> 
<!--     </bsform-advsearch>

    <bsform-base-main> -->
        <!-- <div class="panel panel-default" ng-if="role ==1">   -->
<!--         <div class="panel panel-default">
            <div class="panel-heading">Summary</div>
            <div class="panel-body">
                <div class="row" style="margin-right:0px;">
                    <div class="col-md-4">
                        <div class="form-group form-inline">
                            <label ng-if="filter.TipeReport==1">Immediate Fill Rate </label>
                            <div  ng-if="filter.TipeReport==1" class="pull-right">
                                <input ng-model="StockDay" type="number" class="form-control" name="stockDay" style="width: 50%;" disabled> %
                            </div>

                            <label ng-if="filter.TipeReport==2">Stock Day </label>
                            <div ng-if="filter.TipeReport==2" class="pull-right">
                                <input ng-model="StockDay" type="number" class="form-control" name="stockDay" style="width: 50%;" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-inline">
                            <label ng-if="filter.TipeReport==1">Fill Rate </label>
                            <div ng-if="filter.TipeReport==1" class="pull-right">
                                <input ng-model="StockEfisiensi" type="number" class="form-control" name="StockEfisiensi" style="width: 50%;" disabled>% 
                            </div>

                            <label ng-if="filter.TipeReport==2">Stock Effiensi </label>
                            <div ng-if = "filter.TipeReport==2" class="pull-right" >
                                <input ng-model="StockEfisiensi" type="number" class="form-control" name="StockEfisiensi" style="width: 50%;" disabled>% 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-inline ">
                            <label ng-if="filter.TipeReport==1">Service Rate </label>
                            <div ng-if="filter.TipeReport==1" class="pull-right">
                                <input ng-model="BackOrderPerformance" type="number" class="form-control" name="totalSpk" style="width: 50%;" disabled>% 
                            </div>

                            <label ng-if="filter.TipeReport==2">Back Order Performance </label>
                            <div ng-if="filter.TipeReport==2" class="pull-right">
                                <input ng-model="BackOrderPerformance" type="number" class="form-control" name="totalSpk" style="width: 50%;" disabled>% 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="pull-right">
                <button ng-click="getReport()" type="button" class="rbtn btn"> Export Detail</button>
            </div>
        </div> -->

<!--     </bsform-base-main>



</bsform-base> -->