<bsform-base ng-form="ReportPartsPerformanceForm" loading="loading" show-advsearch="on" form-api="formApi" linksref="app.queueCategory" linkview="queueCategory@app" form-name="ReportPartsPerformanceFormHO" form-title="ReportPartsPerformanceHO" icon="fa fa-fw fa-child">

    <bsform-advsearch>
 <div class="row" style="margin-right:0px;">
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>TAM Area </label>
                      <bsselect ng-disabled="DisabledTAM()" ng-model="filter.TAMArea" name="tamArea" data="dataAreaTAM" item-text="areaName" item-value="areaId" on-select="areaId(selected)" placeholder="Select TAM Area" required>
                      </bsselect>
                      <bserrmsg field="tamArea"> harus diisi </bserrmsg>
                  </div>
                   <div class="form-group" style="margin-top:30px;" show-errors>
                    <div class="form-inline">
                     <bsradiobox ng-model="filter.TipeReport"
                            options="TipeReport.data"
                            ng-change=""
                            layout="V" required>
                      </bsradiobox>
                    </div>
                 </div>
                  
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Dealer </label>
                      <bsselect ng-disabled="DisabledTAM()" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" required>
                      </bsselect>
                      <bserrmsg field="dealer"> harus diisi </bserrmsg>
                  </div>
                 
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Group Dealer Area </label>
                      <bsselect ng-disabled="DisabledDealer()" ng-model="filter.GroupDealerArea" name="DealerArea" data="dataAreaDealerHO" item-text="areaName" item-value="areaId" on-select="areaId(selected)" placeholder="Select Group Dealer Area" required>
                      </bsselect>
                      <bserrmsg field="DealerArea"> harus diisi </bserrmsg>
                  </div>
                   <div class="form-group" show-errors>
                      <label>Cabang </label>
                      <bsselect ng-model="filter.CabangHO" name="cabangHO" data="dataCabangHO" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                      </bsselect>
                      <bserrmsg field="cabang"> harus diisi </bserrmsg>
                   </div>
              </div>
  </div>
   <div class="row" style="margin-right:0px;">
              <div class="col-md-4" ng-if="filter.TipeReport==2">
                <div class="form-group" show-errors>

                    <bsreqlabel>Periode</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                          <bsdatepicker ng-model="filter.periode" date-options="dateOptions2" required>
                        </bsdatepicker>
                    </div>                   
                </div>
              </div>
              <div class="col-md-3" ng-if="filter.TipeReport==1">
                <div class="form-group" show-errors>

                    <bsreqlabel>Periode</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                          <bsdatepicker ng-model="filter.DateStart" max-date="maxDateS" date-options="dateOptions1" required>                        
                        </bsdatepicker>
                    </div>
                </div>
              </div>
              <div class="col-md-1" style="text-align:center; padding-top:30px;" ng-if="filter.TipeReport==1">s.d.</div>
              <div class="col-md-3" style="margin-top: 5px;" ng-if="filter.TipeReport==1">
                <div class="form-group" show-errors>
                    <label></label>
                    <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                          <bsdatepicker ng-model="filter.DateEnd" max-date="maxDateE" date-options="dateOptions1" required>
                        </bsdatepicker>
                    </div>
                </div>
              </div>
              <div class="col-md-1" style="text-align:center; padding-top:30px;"></div>
<!--               <div class="pull-right">
                    <button ng-click="getSummaryBranch()" type="button" class="rbtn btn">Filter</button>
                  </div> -->
                  <!-- <pre> {{filter}} </pre> -->
                </div>
            <br><br>
                </bsform-advsearch>

          <bsform-base-main>
            <div ng-include="'app/services/report/Parts/reportPartsPerformance/tempSummary.html'"></div> 
          </bsform-base-main>
</bsform-base>