<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<style>
	.sk-three-bounce #loading-bar-spinner{
		position: relative !important;
		display: block;
		top:0 !important;
		left: 30% !important;
	}

</style>
<!-- custom-action-button-settings='actionButtonSettingsDetail' -->
<bsform-grid
        ng-form="CustomerDiscount"
        factory-name="CustomerDiscountFactory"
        model="mData"
        model-id="GroupCustomerId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        on-show-detail = "onShowDetail"
        on-validate-save = "onValidateSave"
		on-before-new-mode="onBeforeNewMode"
		do-custom-save="doCustomSave"

		grid-custom-action-button-template="gridActionTemplate"
		grid-hide-action-column="true"
		grid-custom-action-button-colwidth="120"
		
		form-grid-api="formGridApi"
		form-api="formApi"
		action-button-caption='actionButtonCaption'

        form-name="CustomerDiscountForm"
        form-title="Customer Discount"
        modal-title="Customer Discount"
        modal-size="small"
        icon="fa fa-fw fa-child"
>
	<div ng-form="rowfirstDiscount" class="row">
		<div class="col-md-4">	
			<div class="form-group">
				<bsreqlabel>Group Customer</bsreqlabel>
				<input type="text" required class="form-control" name="TambahCustomerDiscountGroupCustomer " placeholder="Nama Group Customer" ng-model="mData.GroupCustomerName"
				 ng-maxlength="50"/>
				 <em ng-messages="rowfirstDiscount.TambahCustomerDiscountGroupCustomer.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
					<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
					<p ng-message="required">Wajib diisi</p>
				</em>
			</div>
		</div>
		<div class="col-md-4">	
			<div class="form-group">
				<bsreqlabel>Kategori</bsreqlabel>
				<bsselect ng-model="mData.Category"
					 data="optionsTambahCustomerDiscount_GRBP" name="kategori" required item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih Kategori"
					 icon="fa fa-search">
				</bsselect>
				<em ng-messages="rowfirstDiscount.kategori.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
					<p ng-message="required">Wajib diisi</p>
				</em>
			</div>
		</div>
	</div>
	<div ng-form="diskonForm" class="row">
		<div class="col-md-12">
			<fieldset style="border-top:0;border-color:#eee;padding:0;margin:0;">
				<legend>Diskon</legend>
				<div class="col-md-4">	
					<div class="form-group">
						<bsreqlabel>Jasa</bsreqlabel>
						<div class="input-icon-right ">
							<input type="number" step="0.01" min="0" class="form-control" name="TambahCustomerDiscountJasa" placeholder="" ng-model="mData.DiscountJasa" required max="100"/>
							<em ng-messages="diskonForm.TambahCustomerDiscountJasa.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="max">Diskon maksimal 100%</p>
								<p ng-message="min">Diskon minimal 0%</p>
								<p ng-message="required">Wajib diisi</p>
								<p ng-message="step">Diskon kelipatan 0.01</p>
							</em>
						</div>
					</div>
				</div>
				<div class="col-md-4">	
					<div class="form-group">
						<bsreqlabel>Parts</bsreqlabel>
						<div class="input-icon-right ">
							<input type="number" step="0.01" min="0" class="form-control" name="TambahCustomerDiscountPart" placeholder="" ng-model="mData.DiscountParts" required max="100"/>
							<em ng-messages="diskonForm.TambahCustomerDiscountPart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="max">Diskon maksimal 100%</p>
								<p ng-message="min">Diskon minimal 0%</p>
								<p ng-message="required">Wajib diisi</p>
								<p ng-message="step">Diskon kelipatan 0.01</p>
							</em>
						</div>
					</div>
				</div>
				<div class="col-md-4">	
					<div class="form-group">
						<bsreqlabel>OPL</bsreqlabel>
						<div class="input-icon-right ">
							<input type="number" step="0.01" min="0" class="form-control" name="TambahCustomerDiscountOPL" placeholder="" ng-model="mData.DiscountOPL" required max="100"/>
							<em ng-messages="diskonForm.TambahCustomerDiscountOPL.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="max">Diskon maksimal 100%</p>
								<p ng-message="min">Diskon minimal 0%</p>
								<p ng-message="required">Wajib diisi</p>
								<p ng-message="step">Diskon kelipatan 0.01</p>
							</em>
						</div>
					</div>
				</div>
			</fieldset>
			<div class="col-md-12">
				<button id="TambahCustomerDiscount_Tambah_Button" ng-click="tambahCustomerBaru()"
				type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:5px">
					<span class="ladda-label">
						<i class="fa fa-fw fa-plus"></i> Tambah Customer
					</span><span class="ladda-spinner"></span>
				</button>
				<button id="TambahCustomerDiscount_Upload_Button" ng-click="tambahUpload()"
					type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:5px">
					<span class="ladda-label">
						Upload Dari Excel
					</span><span class="ladda-spinner"></span>
				</button>
				<button id="TambahCustomerDiscount_Download_Button" ng-click="TambahCustomerDiscount_Download_Clicked()"
					type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:5px">
					<span class="ladda-label">
						Download Template
					</span><span class="ladda-spinner"></span>
				</button>
			</div>
		
			<div class="col-md-12">
				<div id="myGrid" ui-grid="TambahCustomerGrid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination class="Mygrid" style="width:100%;height: 250px; margin-top:10px; margin-bottom:20px;"></div>
			</div>
		</div>
	</div>
</bsform-grid>
<bsui-modal 
	show="showTambahCustomer" 
	title="Tambah Customer" 
	data="dataCustomer" 
	on-save="saveCustomer" 
	on-cancel="cancelTambahCustomer"
	button-settings='listEstimationButton' 
	mode="modeModalCustomer">
        <div ng-form="dataCust" novalidate>
            <div class="row">
				<div>
					<div class="col-md-12" style="margin-bottom: 10px">
						<!-- <div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<bsreqlabel>Cari Customer</bsreqlabel>
									<bstypeahead 
										placeholder="Nama Pelanggan.." 
										name="custName" 
										ng-model="dataCustomer.Customer"
										get-data="getCustomer" 
										item-text="TaskName" 
										loading="loading" 
										noresult="noResults" 
										selected="selected" 
										on-select="onSelectCust" 
										on-noresult="onNoResult" 
										on-gotresult="onGotResult"
										icon="fa-id-card-o" 
										required>
									</bstypeahead>
									<em ng-messages="dataCust.custName.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
										<p ng-message="required">Wajib diisi</p>
									</em>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<bsreqlabel>Berlaku Sampai</bsreqlabel>
									<bsdatepicker style= "margin-bottom: 80px" name="TambahCustomerDataBerlakuSampai" date-options="dateOptions" ng-model="dataCustomer.BerlakuSampai" required >
									</bsdatepicker>
								</div>
							</div>
						</div> -->
						<!-- <fieldset style="border-top:0;border-color:#eee;padding:0;margin:0;">
							<legend>Data CUstomer</legend> -->
							<div class="col-md-6">	
								<div class="form-group">
									<bsreqlabel>Nama Pemilik</bsreqlabel>
									<div class="input-icon-right ">

										<bstypeahead 
											placeholder="Cari Nama Pelanggan.." 
											name="custName" 
											ng-model="dataCustomer.CustomerName"
											get-data="getCustomer" 
											item-text="CustomerName" 
											loading="loadingCustomer" 
											noresult="noResults" 
											selected="selected"
											typeahead-min-length="3"
											on-select="onSelectCust" 
											on-noresult="onNoResult" 
											on-gotresult="onGotResult"
											icon="fa-user" 
											required>
										</bstypeahead>
										
										<input type="text" ng-hide='true' class="form-control" name="TambahCustomerDataNamaPemilik" placeholder="" ng-model="dataCustomer.CustomerName"
										ng-maxlength="50" ng-disabled="TambahCustomerDiscount_View_Disable" required/>
										<!-- <i class="fa fa-user"></i> -->
										<em ng-messages="dataCust.custName.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
											<p ng-message="required">Wajib diisi</p>
											<p ng-message="minlength">Jml. Karakter kurang</p>
											<p ng-message="maxlength">Jml. Karakter terlalu banyak</p>
										</em>
										
									</div>
								</div>
								<div class="form-group">
									<bsreqlabel>Nomor Telepon</bsreqlabel>
									<!-- <label>Nomor Telepon</label> -->
									<div class="input-icon-right ">
										<input type="text" class="form-control" name="notelp" placeholder="" ng-model="dataCustomer.PhoneNumber"
										maxlength="20" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
										<i class="fa fa-phone"></i>
										<em ng-messages="dataCust.notelp.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
											<p ng-message="required">Wajib diisi</p>
											<p ng-message="minlength">Jml. Karakter kurang</p>
											<p ng-message="maxlength">Jml. Karakter terlalu banyak</p>
										</em>
									</div>
								</div>
								<div class="form-group">
									<bsreqlabel>Tanggal Lahir</bsreqlabel>
									<div class="input-icon-right ">
										<bsdatepicker required name="TambahCustomerDataTanggalLahir" required date-options="dateOptions" ng-model="dataCustomer.BirthDate" >
										</bsdatepicker>
										<em ng-messages="dataCust.TambahCustomerDataTanggalLahir.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
											<p ng-message="required">Wajib diisi</p>
										</em>
									</div>
								</div>
								<div class="form-group">
									<bsreqlabel>Nomor KTP</bsreqlabel>
									<div class="input-icon-right ">
										<input type="text" class="form-control" name="TambahCustomerDataNomorKTP" placeholder="" numbers-only ng-model="dataCustomer.IdNumber" ng-maxlength="16" required />
										<i class="fa fa-id-card"></i>
										<em ng-messages="dataCust.TambahCustomerDataNomorKTP.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
											<p ng-message="required">Wajib diisi</p>
											<p ng-message="minlength">Jml. Karakter kurang</p>
											<p ng-message="maxlength">Jml. Karakter terlalu banyak</p>
										</em>
									</div>
								</div>
								<div class="form-group">
									<bsreqlabel>NPWP</bsreqlabel>
									<div class="input-icon-right ">
										<input type="text" minlength="20" maxlength="20" class="form-control" name="TambahCustomerDataNomorNPWP" placeholder="" ng-model="dataCustomer.Npwp"  maskme="99.999.999.9-999.999" style="text-transform: uppercase;" required />
										<i class="fa fa-id-card"></i>
										<em ng-messages="dataCust.TambahCustomerDataNomorNPWP.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
											<p ng-message="required">Wajib diisi</p>
											<p ng-message="minlength">Jml. Karakter kurang</p>
											<p ng-message="maxlength">Jml. Karakter terlalu banyak</p>
										</em>
									</div>
								</div>
								<div class="form-group">
									<bsreqlabel>Alamat Lengkap</bsreqlabel>
									<!-- <label>Alamat Lengkap</label> -->
									<textarea type="text" class="form-control" name="TambahCustomerDataAlamat" placeholder="" ng-model="dataCustomer.Address"
										ng-maxlength="250" >
									</textarea>
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group">
									<bsreqlabel>Provinsi</bsreqlabel>
									<bsselect name="propinsi"  ng-model="dataCustomer.ProvinceId" data="provinsiData" item-text="ProvinceName" item-value="ProvinceId" placeholder="Pilih Provinsi..." on-select="selectProvince(selected)" required />
									</bsselect>
									<!-- <em ng-messages="dataCust.Provinsi.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
										<p ng-message="required">Wajib diisi</p>
									</em> -->
								</div>
								<div class="form-group">
									<bsreqlabel>Kabupaten/Kota</bsreqlabel>
									<!-- <label>Kabupaten/Kota</label> -->
									<bsselect name="kabupaten"  ng-model="dataCustomer.CityRegencyId" data="kabupatenData" item-text="CityRegencyName" item-value="CityRegencyId" placeholder="Pilih Kabupaten/Kota..." ng-disabled="dataCustomer.ProvinceId == undefined" on-select="selectRegency(selected)" ng-required="dataCustomer.ProvinceId !== undefined" required>
									</bsselect>
									<!-- <em ng-messages="dataCust.kabupaten.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
										<p ng-message="required">Wajib diisi</p>
									</em> -->
								</div>
								<div class="form-group">
									<bsreqlabel>Kecamatan</bsreqlabel>
									<!-- <label>Kecamatan</label> -->
									<bsselect style= "margin-bottom: 15px" name="kecamatan"  ng-model="dataCustomer.DistrictId" data="kecamatanData" item-text="DistrictName" item-value="DistrictId" placeholder="Pilih Kecamatan..." ng-disabled="dataCustomer.CityRegencyId == undefined" on-select="selectDistrict(selected)" ng-required="dataCustomer.ProvinceId !== undefined" required>
									</bsselect>
									<!-- <em ng-messages="dataCust.kecamatan.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
										<p ng-message="required">Wajib diisi</p>
									</em> -->
								</div>
								<div class="form-group">
									<bsreqlabel>Kelurahan</bsreqlabel>
									<!-- <label>Kelurahan</label> -->
									<bsselect style= "margin-bottom: 15px" name="kelurahan" ng-model="dataCustomer.VillageId" data="kelurahanData" item-text="VillageName" item-value="VillageId" placeholder="Pilih Kelurahan..." ng-disabled="dataCustomer.DistrictId == undefined" on-select="selectVillage(selected)" ng-required="dataCustomer.ProvinceId !== undefined" required>
									</bsselect>
									<!-- <em ng-messages="dataCust.kelurahan.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
										<p ng-message="required">Wajib diisi</p>
									</em> -->
								</div>
								<div class="form-group">
									<bsreqlabel>Kode Pos</bsreqlabel>
									<!-- <label>Kode Pos</label> -->
									<input type="text"  name="PostalCodeId" class="form-control" ng-model="dataCustomer.PostalCode" disabled required>
									<!-- <em ng-messages="dataCust.KodePos.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
										<p ng-message="required">Wajib diisi</p>
									</em> -->
								</div>
								<div class="form-group" style= "margin-bottom: 80px">
									<bsreqlabel>Berlaku Sampai</bsreqlabel>
									<bsdatepicker  name="TambahCustomerDataBerlakuSampai" date-options="dateOptions" ng-model="dataCustomer.ValidTo" required >
									</bsdatepicker>
									<em ng-messages="dataCust.TambahCustomerDataBerlakuSampai.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
										<p ng-message="required">Wajib diisi</p>
									</em>
								</div>
							</div>
						<!-- </fieldset> -->
					</div>
				<!-- ============== -->
				</div>
			</div>
		</div>
</bsui-modal>
<bsui-modal 
	show="showUploadCUstomer" 
	title="Upload File" 
	data="dataUpload" 
	on-save="uploadExcel" 
	on-cancel="cancelUpload"
	button-settings='buttonSettingUpload' 
	mode="modeModalCustomerUpload">
	<div class="col-md-8" style="border:1px solid lightgrey;padding: 10px 0 10px 10px">
		<div class="input-icon-right">
			<input type="file" accept=".xlsx" id="UploadMasterCustomerDiscount" onchange="angular.element(this).scope().loadXLSMasterCustomerDiscount(this)">
		</div>
	</div>

	<!-- <div class="col-md-2">
		<button id="UploadMasterCustomerDiscount_Upload_Button"
		ng-click="UploadMasterCustomerDiscount_Upload_Clicked()"
		 type="button" class="rbtn btn ng-binding ladda-button" style="float: left;margin-top:5px">
			<span class="ladda-label">
				Upload
			</span><span class="ladda-spinner"></span>
		</button>
	</div> -->
</bsui-modal>
