<script type="text/javascript">

</script>
<style type="text/css">
</style>


<bsform-base
        ng-form="StockMovementForm"
        loading="loading"

        show-advsearch="off"

        form-name="StockMovementForm"
        form-title="StockMovement"
        icon="fa fa-fw fa-child"
>

     
      <bsform-base-main>
        <div class="panel panel-default" style="padding-left:20px;padding-bottom: 25px; " ng-form="reqStock">
          <br>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group" show-errors>
                <label>Dealer</label>
                <bsselect ng-disabled="true" ng-model="filter.Dealer" data="getDealer" item-text="dealerName"
                  item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" name="dealer"
                  required>
                </bsselect>
                <bserrmsg field="dealer"> harus diisi </bserrmsg>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group" show-errors>
                <label>Cabang</label>
                <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" data="getCabang" item-text="cabangName"
                  item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" name="Cabang"
                  required>
                </bsselect>
                <bserrmsg field="Cabang"> harus diisi </bserrmsg>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" show-errors>
                <label>Tipe Material </label>
                <bsselect ng-model="filter.material" name="reason" data="getMaterial" item-text="typeName"
                  item-value="typeID" on-select="typeID(selected)" placeholder="Select Material" required>
                </bsselect>
                <bserrmsg field="reason"> harus diisi </bserrmsg>
              </div>


            </div>
          </div>
          <div class="row" style="margin-right:0px;">
            <div class="col-md-3">
              <div class="form-group" show-errors>
                <bsreqlabel>Periode</bsreqlabel>
                <bsdatepicker ng-change="changeStartDate(filter.DateStart)" max-date="maxDateS" name="dateStart"
                  date-options="dateOptionsS" ng-model="filter.DateStart" required>
                </bsdatepicker>
                <bserrmsg field="dateStart"> harus diisi </bserrmsg>
              </div>

            </div>
            <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
            <div class="col-md-3" style="margin-top:5px;">
              <div class="form-group" show-errors>
                <label></label>
                <bsdatepicker max-date="maxDateE" min-date="minDateE" ng-disabled="filter.DateStart == null"
                  name="dateEnd" date-options="dateOptionsE" ng-model="filter.DateEnd" required>
                </bsdatepicker>
                <bserrmsg field="dateEnd"> harus diisi </bserrmsg>
              </div>
            </div>
            <div class="col-md-1" style="text-align:center; padding-top:30px;"></div>
            <div class="col-md-4">
              <div class="form-group" show-errors>
                <bsreqlabel>No. Parts </bsreqlabel>
                <input type="text" class="form-control" ng-model="filter.partcode" name="partcode"
                  placeholder="No. Parts" required>
                <bserrmsg field="partcode"> harus diisi </bserrmsg>
              </div>
            </div>

          </div>

        </div>

        <div class="pull-right">

          <button ng-disabled="reqStock.$invalid" type="button" ng-click="getReport()" class="rbtn btn"> Export Detail</button>
        </div>
      </bsform-base-main>

</bsform-base>

<script type="text/ng-template" id="taTemplate.html">
  <a>
      <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>