<script type="text/javascript">


</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="formHeader">
	
</div>
					
<div id="formPanel">
     <div class="formContent">
		<bsreqlabel>Sales Program Name</bsreqlabel>
		<div class="input-icon-right">
			<i class="fa fa-pencil"></i>
			<input type="text" class="form-control" name="nama" placeholder="Sales Program Name" ng-model="mProfileSalesProgram_SalesProgramName"
					ng-maxlength="50" required
			>
		</div>
		<bsreqlabel>Sales Address</bsreqlabel>
		<div class="input-icon-right">
			<i class="fa fa-pencil"></i>
			<input type="text" class="form-control" name="nama" placeholder="Sales Address" ng-model="mProfileSalesProgram_SalesProgramName"
					ng-maxlength="50" required
			>
		</div>
		<bsreqlabel>Tanggal Activity Working Calendar</bsreqlabel>
			<bsdatepicker
					name="tanggal"
					date-options="dateOptions"
			>
			</bsdatepicker>
	</div>
	
	<div class="formGroupPanel">
	  <button class="btn btn-default dropdown-toggle dropdown-toggle" type="button" id="formGroupPanelBtn" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Informasi Kendaraan
		<span id="formGroupPanelIcon" style="float:right; margin-right:3px;"> + </span>
	  </button>
	  
	  <div class="formContent">
		  <div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2" style="display:none;">
			<bsreqlabel>Nama Kendaraan</bsreqlabel>
			<div class="input-icon-right">
				<i class="fa fa-pencil"></i>
				<input type="text" class="form-control" name="nama" placeholder="Nama Kendaraan" ng-model="mProfileSalesProgram_SalesProgramName" ng-maxlength="50" required>
			</div>
				
			<bsreqlabel>Tipe Kendaraan</bsreqlabel>
			<div class="input-icon-right">
				<i class="fa fa-pencil"></i>
				<input type="text" class="form-control" name="nama" placeholder="Tipe Kendaraan" ng-model="mProfileSalesProgram_SalesProgramName" ng-maxlength="50" required>
			</div>
				
			<bsreqlabel>Warna Kendaraan</bsreqlabel>
			<div class="input-icon-right">
				<i class="fa fa-pencil"></i>
				<input type="text" class="form-control" name="nama" placeholder="Warna Kendaraan" ng-model="mProfileSalesProgram_SalesProgramName" ng-maxlength="50" required>
			</div>
		
		  </div>
	  </div>
  
	</div>
				
 </div>			


	<ul class="nav nav-tabs" style="margin-top:10px;">
		<li class="active"><a data-toggle="tab" href="#" onclick="navigateTab('menuSuspect');">Daftar Tugas</a></li>
		<li><a data-toggle="tab" href="#" onclick="navigateTab('menuPenambahanTugas');">Penambahan Tugas</a></li>
		<!-- <li><a data-toggle="tab" href="#" onclick="navigateTab('menuPelanggan');">Pelanggan</a></li> -->
	</ul>
  
	<div id="tabContainer" class="tab-content">
		<div id="menuSuspect" class="tab-pane fade in active">
		  <h3>Suspect</h3>
		  <p>Tab Suspect</p>
		</div>
		<div id="menuPenambahanTugas" class="tab-pane fade">
			<div class="formContent">
				
                <label>Tipe Aktivitas</label>
				<bsselect name="categoryselect"
							ng-model=""
							placeholder="Kategori"
							required="true"
							icon="fa fa-search">
				</bsselect>
			
			</div>
		</div>
		<div id="menuPelanggan" class="tab-pane fade">
		  <h3>Pelanggan</h3>
		  <p>Tab Pelanggan</p>
		</div>
	</div>

	
</div>
