<script type="text/javascript">

</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

fieldset.scheduler-border {
    width:auto; border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="row">
	<div class="col-md-12">
		<div class="col-md-4">
			<bsreqlabel>% Refund CG Unit</bsreqlabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="PersenRefundCGUnit " placeholder="" percent-allow-zero min="1" ng-model="RefundCG_RefundCGUnit"
				 ng-maxlength="5" maxlength="5">
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-4">
			<bsreqlabel>% Refund CG Service</bsreqlabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="PersenRefundCGService " placeholder="" percent-allow-zero min="1" ng-model="RefundCG_RefundCGService"
				 ng-maxlength="5" maxlength="5">
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-4">
			<bsreqlabel>% Refund CG Parts</bsreqlabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="PersenRefundCGParts " placeholder="" percent-allow-zero min="1" ng-model="RefundCG_RefundCGParts"
				 ng-maxlength="5" maxlength="5">
			</div>
		</div>
	</div>
</div>

<div class="col-md-12">
	<button id="RefundCG_Simpan_Button" ng-click="RefundCG_Simpan_Clicked()" ladda="LoadingSimpan" data-style="expand-left"
	 type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px">
		<span class="ladda-label">
			Simpan
		</span><span class="ladda-spinner"></span>
	</button>
</div>
