<style>
  .ui-grid-viewport {
        overflow-anchor: none;
    }
</style>
<bsform-base
        ng-form="ListToDoForm"
        factory-name="ListToDo"
        model="mData"
        model-id="Id"
        loading="loading"

        get-data="getData(mFilter)"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        on-before-new-mode="onBeforeNewMode"
        show-advsearch="on"

        form-name="ListToDoForm"
        form-title="ListToDo"
        modal-title="List To Do"
        modal-size="small"
        icon="fa fa-fw fa-child"
        form-api="formApi"
        rights-byte = "myRights"
        >

        <bsform-advsearch>
          <div class="row">
            <div class="col-md-2"> 
              <center><i>Auto Refresh until <b>{{counter}}</b> (s)</i></center>
            </div>
            <div class="col-md-8"> 
              <center><h4><b>LIST TO DO</b></h4></center>
            </div>
            <div class="col-md-2"> 
              <center>{{ clock | date:'dd/MMM/yyyy hh:mm:ss'}}</center>
            </div>
          </div>
          <br/>
          <div class="row">
                <div class="col-md-2">
                  <label class="control-label">Category</label>
                </div>
                <div class="col-md-2">
                  <select class="form-control" ng-model="mFilter.Category" ng-change="changeCategory(mFilter.Category)">
                    <!-- <option selected value="0">SEMUA CATEGORY</option> -->
                    <option value="1">MENUNGGU PARTS INFO</option>
                    <option value="2">MENUNGGU ORDER</option>
                    <option value="3">MENUNGGU GOODS ISSUE</option>
                    <option value="4">STATUS RPP</option>
                    <option value="5">STATUS PARTS CLAIM</option>
                    <option value="6">MENUNGGU PUBLISH DATA DEAD STOCK</option>                 
                  </select>
                </div>
                <div class="col-md-2">
                  <select class="form-control" ng-model="mFilter.Kolom" ng-change="changeKolom(mFilter.Kolom)">
                      <option ng-repeat="data in Kolom" value="{{data.field}}">{{data.name}}</option>
                    <!-- <option selected value="0">Semua Kolom</option>
                    <option value="1">No. Polisi</option>
                    <option value="2">No. Appointment</option>
                    <option value="3">No. WO</option>
                    <option value="4">No. PO</option>
                    <option value="5">No. RPP</option>
                    <option value="6">No. Parts Claim</option>
                    <option value="7">No. Dead Stock</option>                  -->
                  </select>
                </div>
                <div class="col-md-2">
                  <input type="text" name="filter" placeholder="filter" class="form-control" ng-model="mFilter.Keyword">
                </div>
                <div class="col-md-2">
                  <button class="btn wbtn" ng-click="onDeleteFilter(mFilter)">Hapus Filter</button>
                </div>
                <div class="col-md-2">
                </div>
                <!-- end row -->
        </div>
        </bsform-advsearch>

        <bsform-base-main>
          <!-- Grid 1 -->
        <div class="row">
            <div class="col-md-12" style="align-content: right;"> 
              <button type="button" class="btn rbtn text-left" style="width: 100%;" data-target="#grid1" data-toggle="collapse" ng-click="getDataWaitingPartsInfo()">
                MENUNGGU PARTS INFO ({{PartsInfo}})<span class="pull-right"><span class="glyphicon glyphicon-chevron-down"></span></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="align-content: right;"> 
              <div id="grid1" ui-grid="grid_menunggu_parts_info" ui-grid-auto-resize class="grid collapse"></div>
            </div>
          </div>
          <!-- Grid 2 --> <br/>
          <div class="row">
            <div class="col-md-12" style="align-content: right;"> 
              <button type="button" data-target="#grid2" class="btn rbtn text-left" style="width: 100%;" data-toggle="collapse" ng-click="GetWaitingPartsOrder()">
                MENUNGGU ORDER ({{Order}})<span class="pull-right"><span class="glyphicon glyphicon-chevron-down"></span></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="align-content: right;"> 
              <div id="grid2" ui-grid="grid_menunggu_order" ui-grid-auto-resize class="grid collapse"></div>
            </div>
          </div>
          <!-- Grid 3 --> <br/>
          <div class="row">
            <div class="col-md-12" style="align-content: right;"> 
              <button type="button" data-target="#grid3" class="btn rbtn text-left" style="width: 100%;" data-toggle="collapse" ng-click="GetWaitingGoodsIssue()">
                MENUNGGU GOODS ISSUE ({{GoodsIssue}})<span class="pull-right"><span class="glyphicon glyphicon-chevron-down"></span></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="align-content: right;"> 
              <div id="grid3" ui-grid="grid_menunggu_goods_issue" ui-grid-auto-resize class="grid collapse"></div>
            </div>
          </div>
          <!-- Grid 4 --> <br/>
          <div ng-show="isPart==true" class="row">
            <div class="col-md-12" style="align-content: right;"> 
              <button type="button" data-target="#grid4" class="btn rbtn text-left" style="width: 100%;" data-toggle="collapse" ng-click="GetStatusRPP()">
                STATUS RPP ({{Rpp}})<span class="pull-right"><span class="glyphicon glyphicon-chevron-down"></span></span>
              </button>
            </div>
          </div>
          <div ng-show="isPart==true" class="row">
            <div class="col-md-12" style="align-content: right;"> 
              <div id="grid4" ui-grid="grid_status_rpp" ui-grid-auto-resize class="grid collapse"></div>
            </div>
          </div>
          <!-- Grid 1 --> <br/>
          <div ng-show="isPart==true" class="row">
            <div class="col-md-12" style="align-content: right;"> 
              <button type="button" data-target="#grid5" class="btn rbtn text-left" style="width: 100%;" data-toggle="collapse" ng-click="GetStatusPartsClaim()">
                STATUS PARTS CLAIM ({{PartsClaim}})<span class="pull-right"><span class="glyphicon glyphicon-chevron-down"></span></span>
              </button>
            </div>
          </div>
          <div ng-show="isPart==true" class="row">
            <div class="col-md-12" style="align-content: right;"> 
              <div id="grid5" ui-grid="grid_status_parts_claim" ui-grid-auto-resize class="grid collapse"></div>
            </div>
          </div>
          <!-- Grid 1 --> <br/>
          <div ng-show="isPart==true" class="row">
            <div class="col-md-12" style="align-content: right;"> 
              <button type="button" data-target="#grid6" class="btn rbtn text-left" style="width: 100%;" data-toggle="collapse" ng-click="GetDeadStock()">
                MENUNGGU PUBLISH DATA DEAD STOCK ({{DeadStock}})<span class="pull-right"><span class="glyphicon glyphicon-chevron-down"></span></span>
              </button>
            </div>
          </div>
          <div ng-show="isPart==true" class="row">
            <div class="col-md-12" style="align-content: right;"> 
              <div id="grid6" ui-grid="grid_menunggu_publish_data_dead_stock" ui-grid-auto-resize class="grid collapse"></div>
            </div>
          </div>
        </bsform-base-main>

</bsform-base>


