<div class="panel panel-default">
  <div class="panel-body">
    <div ng-repeat="item in mData.JobComplaint">
      <bsselect name="category" ng-model="item.ComplaintCatg" data="categoryData" item-text="Name" item-value="CatId" placeholder="Pilih category" required icon="fa fa-info">
      </bsselect>
      <input type="text" class="form-control" ng-model="item.ComplaintDesc" name="keluhan" placeholder="Keluhan" ng-maxlength="50" required>
      <button ng-disabled="disabledBtn" class="ui icon inverted grey button" ng-click="removeComplaint($index)">
                    <i class="fa fa-fw fa-lg fa-trash-o"></i>
                  </button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" ng-disabled="disabledBtn" ng-click="addComplaint()" class="rbtn btn ng-binding">
                <i class="fa fa-fw fa-plus"></i>
                Tambah Keluhan
              </button>
      </div>
    </div>
  </div>
</div>
