<div class="row">
  <div class="col-md-9">
  </div>
  <div class="col-md-3" style="text-align:right;">
    <div class="btn-group">
      <button type="button" ng-click="addWork()" class="rbtn btn ng-binding">
          <i class="fa fa-fw fa-plus"></i>
          Tambah Pekerjaan
        </button>
    </div>
  </div>
</div>
<div class="row" style="margin-top:10px;">
  <div class="col-md-12">
    <div ui-grid="gridWork" ui-grid-expandable ui-grid-grouping ui-grid-tree-view ui-grid-edit ui-grid-cellNav ui-grid-auto-resize class="grid" ng-cloak>
    </div>
  </div>
</div>
