<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <label>Permintaan</label>
          </div>
          <div class="col-xs-4">
          </div>
          <div class="col-xs-4">
            <button type="button" ng-click="addRequest()" class="rbtn btn ng-binding">
                      Tambah Permintaan
                    </button>
          </div>
        </div>
        <div ng-repeat="item in mData.JobRequest" class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" name="Permintaan" placeholder="Permintaan" ng-model="item.RequestDesc" ng-maxlength="50" required>
                <div ng-click="removeRequest($index)" class="input-group-addon">
                  <i class="fa fa-fw fa-lg fa-trash-o"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
