<style type="text/css">
  .ngdialog.ngdialog-theme-default .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background: #f0f0f0;
    border-radius: 5px;
    color: #444;
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: 480px;
  }
</style>
<div class="panel panel-danger" style="border-color:#D53337;">
  <div class="panel-heading" style="color:white; background-color:#D53337;">
    <h3 class="panel-title">Permohonan Approval</h3>
  </div>
  <div class="form-group" ng-controller="Parts_Controller01">
    <!-- hi <span ng-bind="subtitle"></span> -->
    <div><i>{{subtitle}} membutuhkan Approval </i> </div>
    <br />
    <!-- <div class="panel-body"> -->
    <form method="post">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label">Nama Kegiatan</label>
          </div>
        </div>
        <div class="col-md-7">
          <!-- <div class="form-group"> -->
          <label class="control-label">{{kegiatan}}</label>
        </div>
      </div>
      <!-- </div>  -->

      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label">Nomor Request</label>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <label class="control-label">{{mData.noreq}}</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label">Tanggal dan Jam</label>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <label class="control-label">{{date | date:'dd-MMM-yyyy HH:mm'}}</label> <!-- HH= 24hours, hh=12 hours -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label">Approver(s)</label>
          </div>
        </div>
        <div class="col-md-7">
          <textarea class="form-control" ng-disabled="true" rows="4"> {{mData.approver}} </textarea>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label">Pesan</label>
          </div>
        </div>
        <div class="col-md-7">
          <textarea class="form-control" rows="4">{{mData.pesan}} </textarea>
        </div>
      </div>
      <br>
      <div class="row" ng-controller="Parts_Controller01">
        <div class="col-md-12">
          <div class="form-group">
            <div> <button type="button" class="ngdialog-button ngdialog-button-secondary"
                ng-click="batalApproval()">{{btnCancel}}</button>
              <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="okSentApproval()"
                style="color:white; background-color:#D53337">{{btnOK}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>