<script type="text/javascript">
</script>
<style type="text/css">
    @media only screen and (max-width: 600px) {
        .nav.nav-tabs {
            display: none;
        }
    }
    
    .input-group.input-group-unstyled input.form-control {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    
    .input-group-unstyled .input-group-addon {
        border-radius: 4px;
        border: 0px;
        background-color: transparent;
    }
    
    .adv-srch {
        padding: 10px;
        margin-bottom: 0px;
        border: 1px solid #e2e2e2;
        background-color: rgba(213, 51, 55, 0.02);
    }
    
    .adv-srch-on {
        padding-top: 4px !important;
        padding: 6px;
        margin: 0 3px 0 0;
        margin-bottom: -5px !important;
        border: 1px solid #e2e2e2;
        border-bottom-style: none !important;
        background-color: #FEFBFB;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    
    .colorsrch {
        color: red;
    }
    
    .modalpadding {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
        border-radius: 3px;
    }
    /*@media only screen and (max-width: 500px) {
        .btnUp {
            margin-top: 10px !important;
        }
    }*/
    
    .noppadingFormGroup {
        margin-bottom: 0px !important;
    }
    
    .ScrollStyle {
        max-height: 400px;
        overflow-y: scroll;
    }
    
    .item-modal {
        border: none;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd !important;
        margin: 10px 30px 10px 30px !important;
    }
    
    .mobileAddBtn {
        padding: 0 0 0 1!important;
        font-size: 15px;
    }
    
    .mobileFilterBtn {
        padding: 0 0 0 1!important;
        font-size: 13px;
        width: 100%;
        float: right;
        /*background-color: silver;*/
    }
    
    .filterMarg {
        margin-bottom: 5px;
    }
    
    @media only screen and (max-width: 430px) {
        .iconFilter {
            margin-left: -4px;
        }
    }
    
    @media only screen and (max-width: 500px) {
        .btnUp {
            margin: -28px 0px 0 0 !important;
        }
    }
    
    @media (min-width: 501px) and (max-width: 600px) {
        .btnUp {
            margin: -36px 0px 0 0 !important;
        }
    }
    
    @media (min-width: 601px) {
        .btnUp {
            margin: -33px 0px 0 0 !important;
        }
    }
    
    @media (max-width: 600px) {
        .inputForm {
            margin: 45px 0 0 0 !important;
        }
    }
    
    .mobilesearchBtn {
        text-decoration: none;
    }
    
    @media (max-width: 350px) {
        .bsbreadcrumb .bsbreadcrumb-path,
        .bsbreadcrumb i {
            display: block !important;
        }
    }
    /*Modal*/
    
    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
        pointer-events: none;
        /* This makes sure that we can still click outside of the modal to close it */
    }
    
    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
        pointer-events: none;
    }
    
    .modal-content {
        /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
        width: inherit;
        height: inherit;
        /* To center horizontally */
        margin: 0 auto;
        pointer-events: all;
    }
    
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="show.grid">
    <bsform-grid ng-form="DaftarUnitRepairForm" factory-name="DaftarUnitRepairFactory" model="mDaftarUnitRepair" model-id="RepairId" show-advsearch="on" grid-hide-action-column="true" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows"
        hide-new-button="true" form-name="DaftarUnitRepairForm" form-title="Daftar Unit Repair" modal-title="Daftar Unit Repair" modal-size="small" icon="fa fa-fw fa-child">

        <bsform-advsearch>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <bsreqlabel>Tanggal Pengiriman</bsreqlabel>
                        <bsdatepicker name="tanggal" ng-model="filter.TanggalPengiriman" date-options="dateOptions" icon="fa fa-calendar">
                        </bsdatepicker>
                    </div>
                </div>
            </div>
        </bsform-advsearch>

    </bsform-grid>
</div>

<div class="row" style="margin: 0 0 0 0" ng-show="show.inputProblem">
    <button style="margin: -30px 0 0 5px; float: right" ng-click="printUpdate()" class="rbtn btn">Print Pengajuan</button>
    <button style="margin: -30px 0 0 0; float: right" ng-click="kembali()" class="wbtn btn">Kembali</button>


    <div class="row" style="margin: 30px 0 0 0">
        <div class="col-md-4">
            <label><b>Nama Pelanggan / Owner Branch : </b>
            </label>
            <p>{{mFollowup.NamaPelanggan}}</p>
        </div>
    </div>

    <div class="row" style="margin: 20px 0 0 0">
        <div class="col-md-4">
            <label><b>No. SPK / No. PO : </b></label>
            <p>{{mFollowup.FormSPKNo}}</p>
        </div>
        <div class="col-md-4">
            <label><b>No. Rangka : </b></label>
            <p>{{mFollowup.FrameNo}}</p>
        </div>
    </div>

    <div class="row" style="margin: 20px 0 0 0">
        <div class="col-md-4">
            <label><b>Model : </b></label>
            <p>{{mFollowup.VehicleModelName}}</p>
        </div>
        <div class="col-md-4">
            <label><b>Type : </b></label>
            <p>{{mFollowup.Description}}</p>
        </div>
        <div class="col-md-4">
            <label><b>Warna : </b></label>
            <p>{{mFollowup.ColorName}}</p>
        </div>
    </div>

    <div class="row" style="margin: 20px 0 0 0">
        <div class="col-md-4">
            <label><b>Jadwal Keluar Kendaraan</b></label>
            <bsdatepicker ng-model="mFollowup.OutDate" ng-disabled="true" name="tanggalKeluar" date-options="dateOptions"></bsdatepicker>
        </div>
        <div class="col-md-4">
            <label><b>Driver </b></label>
            <div class="input-icon-right input">
                <input type="text" class="form-control" ng-disabled="true" placeholder="" ng-model="mFollowup.DriverPDSName" ng-maxlength="50">
            </div>
        </div>
    </div>

    <div class="row" style="margin: 30px 0 0 0">
        <div class="col-md-4">
            <label><b>Kategori Reparasi</b></label>
            <p>
                <input type="radio" ng-disabled="true" ng-model="mFollowup.CategoryReparasiId" name="RadioKategoriReparasi" ng-value=1>Small Repair &nbsp&nbsp
                <input type="radio" ng-disabled="true" ng-model="mFollowup.CategoryReparasiId" name="RadioKategoriReparasi" ng-value=2>Heavy Repair
            </p>
        </div>
        <div class="col-md-4">
            <p><input type="checkbox" ng-disabled="true" ng-model="mFollowup.NeedInsuranceBit"><b>Need Insurance</b></p>
        </div>
    </div>

    <div class="row" style="margin: 20px 0 0 0">
        <div class="col-md-4">
            <label><b>Keterangan Kerusakan</b></label>
            <div class="input-icon-right input">
                <textarea ng-disabled="true" ng-model="mFollowup.KeteranganKerusakan" name="keteranganKerusakan" rows="6" cols="50" placeholder="Keterangan Kerusakan..."></textarea>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 20px 0 0 0">
        <div class="col-md-4">
            <label><b>Estimasi Tanggal Kembali</b></label>
            <bsdatepicker ng-model="mFollowup.BackDateEstimated" name="estimasiTanggalKembali" date-options="dateOptions"></bsdatepicker>
        </div>
        <div class="col-md-4">
            <ui-select ng-model="selectedItem">
                <ui-select-match>
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by $index">
                    <span ng-bind="item.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-4">

        </div>
    </div>

    <div class="row" style="margin: 20px 0 0 15px">
        <label><b>Bukti Kerusakan :</b></label>
        <div class="row" style="margin: 10px 15px 0 0">
            <!-- <p><b>{{$index+1}}.</b>&nbsp{{list.PhotoName}} &nbsp&nbsp<a ng-click="viewImage(list)">View</a></p> -->
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th class="headerRow">No.</th>
                        <th class="headerRow">Bukti</th>
                        <th class="headerRow"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in mFollowup.BuktiKerusakan">
                        <td>{{$index+1}}</td>
                        <td>{{list.PhotoName}}</td>
                        <td><a ng-click="viewImage(list)">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

<div class="ui modal viewImage">
    <div>
        <div class="modal-body">
            <img ng-src="{{image.viewdocument}}" style="max-width: 860px; max-height: 526px; text-align: center;">
            <p align="center" style="margin: 15px 0px 0px 0px !important">{{image.viewdocumentName}}</p>
        </div>
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <div class="row" style="margin:  0 0 0 0">
                <button ng-click="keluarDokumen()" class="wbtn btn ng-binding ladda-button" style="float:right;">Keluar</button>
            </div>
        </div>
    </div>
</div>