<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid ng-form="CustomerListPointForm" factory-name="CustomerListPointFactory" model="mCustomerListPoint" model-id="Id" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="CustomerListPointForm" form-title="Customer List Point" modal-title="Customer List Point" modal-size="small" icon="fa fa-fw fa-child">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>TotalPoint</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="TotalPoint" placeholder="TotalPoint" ng-model="mCustomerListPoint.TotalPoint" ng-maxlength="50" required>
                </div>
                <bserrmsg field="TotalPoint"></bserrmsg>
            </div>
        </div>
    </div>
</bsform-grid-tree>

