<bsform-base ng-form="PsfuForm" loading="loading" show-advsearch="on" form-name="PsfuFormBPHO" form-title="PsfuFormBPHO" icon="fa fa-fw fa-child">

    <bsform-advsearch>
        <div class="row" ng-form="revForm">
          <div class="col-md-4">
            <div class="form-group" show-errors>
              <bslabel>TAM Area</bslabel>
                <bsselect ng-disabled="DisabledTAM()" ng-model="filter.tamarea"
                                  name="tamarea"
                                  data="dataAreaTAM"
                                  item-text="areaName"
                                  item-value="areaId"
                                  on-select="areaId(selected)"
                                  placeholder="Select TAM Area" required>
                </bsselect>
                <bserrmsg field="tamarea"> harus diisi </bserrmsg>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group" show-errors>
              <bslabel>Dealer</bslabel>
              <bsselect ng-disabled="DisabledTAM()"
                                  ng-model="filter.Dealer"
                                  name="dealer"
                                  data="dataDealer"
                                  item-text="dealerName"
                                  item-value="dealerCode"
                                  on-select="dealerCode(selected)"
                                  placeholder="Select Dealer" required>
              </bsselect>
              <bserrmsg field="dealer"> harus diisi </bserrmsg>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group" show-errors>
              <bslabel>Group Dealer Area</bslabel>
               <bsselect ng-disabled="DisabledDealer()" ng-model="filter.dealerarea"
                                  name="dealerarea"
                                  data="dataAreaDealerHO"
                                  item-text="areaName"
                                  item-value="areaId"
                                  on-select="areaId(selected)"
                                  placeholder="Select Dealer Area" required>
              </bsselect>
              <bserrmsg field="dealerarea"> harus diisi </bserrmsg>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="col-md-4" style="margin-top:15px;">
            <div class="form-group" show-errors>
              <bslabel>Cabang</bslabel>
              <bsselect ng-model="filter.CabangHO"
                                  name="cabangHO"
                                  data="dataCabangHO"
                                  item-text="cabangName"
                                  item-value="cabangID"
                                  on-select="cabangID(selected)"
                                  placeholder="Select Cabang" required>
              </bsselect>
              <bserrmsg field="cabang"> harus diisi </bserrmsg>
            </div>
          </div>

          <div class="col-md-4" style="margin-top:15px;">
            <div class="form-group" show-errors>
              <bslabel>Satelite</bslabel>
              <bsselect ng-model="filter.satellite"
                        name="Satellite"
                        data="dataSatellite"
                        item-text="satelliteName"
                        item-value="satelliteID"
                        on-select="satelliteID(selected)"
                        placeholder="Select Satellite" required>
              </bsselect>
              <bserrmsg field="Satellite"> harus diisi </bserrmsg>
            </div>
          </div>

          <div class="col-md-4" style="margin-top:15px;">
            <div class="form-group" show-errors>
              <label>Kategori Workshop: </label>
              <input type="text" class="form-control" ng-model="filter.kategori" name="kategoriWorkshop" placeholder="Kategori Workshop" required disabled>
              <bserrmsg field="kategoriWorkshop"> harus diisi </bserrmsg>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="col-md-3">
            <div class="form-group" show-errors>
              <bsreqlabel>Periode</bsreqlabel>
                <bsdatepicker
                ng-change="changeStartDate(filter.DateStart)"
                max-date="maxDateS"
                name="dateStart"
                date-options="dateOptions2S"
                ng-model="filter.DateStart" required
                >
              </bsdatepicker>
              <bserrmsg field="dateStart"> harus diisi </bserrmsg>
              <em ng-messages="revForm.dateStart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                  <p ng-message="date">Can not fill letters</p>
                  <p ng-message="minlength">Jumlah karakter kurang</p>
                  <p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
              </em>
            </div>
          </div>
          <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
          <div class="col-md-4" style="margin-top:5px;">
            <div class="form-group" show-errors>
              <label></label>
                <bsdatepicker
                ng-change="changeEndDate(filter.DateEnd)"
                max-date="maxDateE"
                 min-date="minDateE"
                 ng-disabled="filter.DateStart == null"
               name="dateend"
               date-options="dateOptions2E"
               ng-model="filter.DateEnd" required
               >
              </bsdatepicker>
              <bserrmsg field="dateEnd"> harus diisi </bserrmsg>
              <em ng-messages="revForm.dateEnd.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                  <p ng-message="date">Can not fill letters</p>
                  <p ng-message="minlength">Jumlah karakter kurang</p>
                  <p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
              </em>
            </div>
          </div>
          <div class="col-md-1"></div>
            <br><br>
            <!-- <div class="row">
            <div class="form-group pull-right">
              <button type="button" ng-click="getSummaryBPHO()" class="rbtn btn"> Filter </button>
            </div>
            </div> -->
        </div>
            </bsform-advsearch>

    <bsform-base-main>
      <div ng-include="'app/services/report/BP/PSFUBP/psfuSummary.html'"></div>
    </bsform-base-main>
</bsform-base>
