<bsform-base ng-form="PsfuForm" loading="loading" show-advsearch="on" form-name="PsfuFormBPBranch" form-title="PsfuFormBPBranch" icon="fa fa-fw fa-child">

    <bsform-advsearch>
      <div class="row">
          <div class="col-md-4">
            <div class="form-group" show-errors>
              <bslabel>Dealer</bslabel>
                <bsselect ng-disabled="true" ng-model="filter.Dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" name="dealer"   placeholder="Select Dealer" required>
                </bsselect>
                <bserrmsg field="dealer"> harus diisi </bserrmsg>
              </div>
          </div>

          <div class="col-md-4">
            <div class="form-group" show-errors>
              <bslabel>Cabang</bslabel>
              <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" name="cabang"    placeholder="Select Cabang" required>
              </bsselect>
              <bserrmsg field="cabang"> harus diisi </bserrmsg>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group" show-errors>
              <bslabel>Satelite</bslabel>
                      <bsselect ng-model="filter.satelite" name="satellite" data="dataSatellite" item-text="satelliteName" item-value="satelliteID" on-select="satelliteID(selected)" placeholder="Select Satellite" required>
                      </bsselect>
              <bserrmsg field="satellite"> harus diisi </bserrmsg>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="col-md-3">
            <div class="form-group" show-errors>
                  <bsreqlabel>Periode</bsreqlabel>
                   <bsdatepicker
                   ng-change="changeStartDate(filter.DateStart)"
                    max-date="maxDateS"
                  name="dateStart"
                  date-options="dateOptions2S"
                  ng-model="filter.DateStart"
                  >
                  </bsdatepicker>
                  <bserrmsg field="dateStart"> harus diisi </bserrmsg>
                  <em ng-messages="PsfuForm.dateStart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p ng-message="date">Format Tanggal Salah</p>
                    </em>
                    <em ng-show="(filter.DateStart > filter.DateEnd) && filter.DateEnd !== null" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p>Tanggal Awal Tidak Boleh Lebih Besar dari Tanggal Akhir</p>
                    </em>
            </div>
          </div>
          <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
          <div class="col-md-4" style="margin-top:5px;">
            <div class="form-group" show-errors>
                  <label></label>
                   <bsdatepicker
                  ng-change="changeEndDate(filter.DateEnd)"
                  max-date="maxDateE"
                  min-date="minDateE"
                  ng-disabled="filter.DateStart == null"
                  name="dateEnd"
                  date-options="dateOptions2E"
                  ng-model="filter.DateEnd"
                  >
                  </bsdatepicker>
                  <bserrmsg field="dateEnd"> harus diisi </bserrmsg>
                  <em ng-messages="PsfuForm.dateEnd.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p ng-message="date">Format Tanggal Salah</p>
                    </em>
                    <em ng-show="(filter.DateEnd < filter.DateStart) && filter.DateEnd !== null" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p>Tanggal Akhir Tidak Boleh Lebih Kecil dari Tanggal Awal</p>
                    </em>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group" show-errors>
              <label>Kategori Workshop: </label>
              <input disabled type="text" class="form-control" name="kategori" placeholder="Title"
              ng-model="filter.kategori" required>
              <bserrmsg field="kategori"> harus diisi </bserrmsg>
            </div>
          </div>
          <!-- <br><br>
              <button ng-click="getSummaryBPCabang()" type="button" class="rbtn btn"> Filter </button> -->
        </div>
            </bsform-advsearch>

    <bsform-base-main>
      <div ng-include="'app/services/report/BP/PSFUBP/psfuSummary.html'"></div>
    </bsform-base-main>
</bsform-base>
