<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="MainNotifikasiIncomingPayment_Show">
	<div class="row" style="border:1px solid lightgrey;margin:10px">


		<div class="col-md-12">
			<div class="form-group">
				<label>
					<input type="checkbox" name="xnote" ng-model="NotifikasiIncomingPayment_EmailEnabled" ng-true-value=1 ng-false-value=0> Aktifkan Notifikasi Via Email
				</label>
			</div>
		</div>

		<div class="col-md-12">
			<div class="form-group">
				<bslabel>Judul Email Notifikasi</bslabel>
				<input type="text" class="form-control " name="JudulEmail" placeholder="Judul Email Notifikasi" ng-model="NotifikasiIncomingPayment_JudulEmail"
				 ng-maxlength="100" maxlength="100" >
			</div>
		</div>

		<div class="col-md-12">
			<div class="form-group">
				<bslabel>Template Email Notifikasi</bslabel>
				<input type="text" class="form-control " name="TemplateEmail" placeholder="Template Email Notifikasi" ng-model="NotifikasiIncomingPayment_TemplateEmail"
				 ng-maxlength="1000" maxlength="1000">
			</div>
			<hr>
		</div>

		<div class="col-md-12">
			<div class="form-group">
				<label>
					<input type="checkbox" name="xnote" ng-model="NotifikasiIncomingPayment_SMSEnabled" ng-true-value=1 ng-false-value=0> Aktifkan Notifikasi Via SMS
				</label>
			</div>
		</div>

		<div class="col-md-12">
			<div class="form-group">
				<bslabel>Template SMS Notifikasi</bslabel>
				<input type="text" class="form-control " name="TemplateSMS" placeholder="Template SMS Notifikasi" ng-model="NotifikasiIncomingPayment_TemplateSMS"
				 ng-maxlength="1000" maxlength="1000">
			</div>
			<hr>
		</div>

		<div class="col-md-12">
			<div class="col-md-8">
				<div class="form-group">
					<div ui-grid="NotifikasiIncomingPayment_Tag_UIGrid" class="form-group" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<button id="NotifikasiIncomingPayment_Simpan" ng-click="NotifikasiIncomingPayment_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right; margin-top:24px;margin-left:24px">
				<span class="ladda-label">
					Simpan
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
</div>