           
    <div class="form-group">           
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel class="control-label">Tipe PO </bsreqlabel>
                <bsselect name="POType" ng-model="mData.POTypeId" data="POTypeData" item-text="Name" item-value="POTypeId" placeholder="Tipe PO..." on-select="" icon="fa fa-search" ng-disabled="true">
                </bsselect>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <bsreqlabel class="control-label">Referensi PO </bsreqlabel>
                <bsselect name="RefPOType" ng-model="mData.RefPOTypeId" data="RefPOTypeData" item-text="Name" item-value="RefPOTypeId" placeholder="Referensi PO..." on-select="" icon="fa fa-search" ng-disabled="true">
                </bsselect>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <bsreqlabel class="control-label">No. Sales Order </bsreqlabel>
                <div class="input-group">
                    <input type="text" ng-model="mData.RefPONo" class="form-control" required>
                    <label class="input-group-btn">
                        <span class="btn wbtn" ng-click="onSearchRefPONo(mData.RefPONo)">
                            <i class="fa fa-search"></i>
                        </span>
                    </label>
                </div>    
            </div>
            <!-- <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                               -->
        </div>
        <!-- [END] Form Level 1 -->
        <br>
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel class="control-label">Tipe Material </bsreqlabel>
                <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                    <option selected value="{{mData.MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
                </select>
            </div>
            <div ng-if="isTAM" class="col-md-3 col-md-offset-1">
                <bsreqlabel class="control-label">BO TAM Follow </bsreqlabel>
                <!-- <select class="form-control" ng-model="mData.BackOrderFollowId" required>
                    <option value="9">Fill</option>
                    <option value="1" selected>Kill</option>
                </select> -->
                <bsselect name="typeSearch"
                    ng-model="mData.BackOrderFollowId"
                    data="BoTam"
                    item-text="Name"
                    item-value="Id"
                    placeholder="Pilih BO TAM Follow"
                    ng-disabled="botamstatus"
                    >
                </bsselect>
            </div>
            <div ng-show="mData.POTypeId == 6" class="col-md-3  col-md-offset-1">
                <bsreqlabel class="control-label">Jenis Order Tire </bsreqlabel>
                <bsselect name="typeSearch" ng-model="mData.TireOrderId" data="OrderTire" item-text="Name" item-value="Id"
                    placeholder="Pilih Jenis Order Tire" ng-disabled = true>
                </bsselect>
            </div>  
            <!-- <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div> -->
        </div>
        <!-- [END] Form Level 2 -->

        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>

        <!-- [START] Form Level 3 -->
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel class="control-label">Vendor </bsreqlabel>    
                <input class="form-control" type="text" ng-model="mData.VendorName" disabled></input>
				<div ng-show="showIcon" style="padding-top: 15px">
					<span style="font-size: 13px; color: Dodgerblue;">
						<i class="fa fa-check-square" aria-hidden="true"></i><span style="padding-left: 5px; color: black;">Non PKP</span>
					</span>
				</div>
				<div ng-show="showCB" style="padding-top: 10px">
					<input type="checkbox" ng-model="mData.IsNONPKP" ng-checked="mData.IsNONPKP" disabled>     Non PKP
				</div>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <bsreqlabel class="control-label">Metode Pembayaran </bsreqlabel>
                <select class="form-control" required disabled>
                    <!-- <option selected>Kredit</option> -->
                    <option value="{{mData.PaymentMethodId}}" selected>{{ToPaymentMethodId(mData.PaymentMethodId)}}</option>
                </select>
                <!-- <select ng-show="mData.POTypeId == 6" class="form-control" ng-model="mData.PaymentMethodId" required>
                    <option value="1" selected ng-selected="mData.PaymentMethodId == 1">Tagihan</option>
                    <option value="2" selected ng-selected="mData.PaymentMethodId == 2">Tunai</option>
                </select> -->
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <bsreqlabel class="control-label">Jangka Waktu Bayar (Hari)</bsreqlabel>    
                <input class="form-control" type="number" ng-model="mData.PaymentPeriod" disabled></input>               
            </div>
            <!-- <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                               -->
        </div>
        <br />
        <div ng-show="mData.POTypeId == 6" class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Tanggal & Waktu Dibutuhkan</label>
                        <div class="tanggal">
                            <bsdatepicker
                            name="NecessaryDate"
                            date-options="dateOptions"
                            ng-model="mData.NecessaryDate"
                            min-date="minDate"
                            ng-disabled = true
                            ng-change="necessaryDateChange()"
                            > 
                            </bsdatepicker>
                        </div> 
                </div>
            </div>
            <div class="col-md-1" style="margin-top:-10px;">
                <div uib-timepicker ng-disabled = true style="pointer-events: none" ng-model="mData.NecessaryTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
            </div>
            <div class="col-md-1">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-3">                
                <label class="control-label">No Polisi</label>
                <input class="form-control" type="text" ng-model="mData.NoPol" name="no_polisi" readonly></input>
            </div>
        </div>
        <!-- [END] Form Level 3 -->

        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>

        <!-- [START] Form Level 4 -->
        <div class="row">
            <div class="col-md-2" style="pointer-events: none;">
                <bsreqlabel class="control-label">Tanggal Dibutuhkan </bsreqlabel>
                <bsdatepicker
                    name="endDate"
                    date-options="dateOptions"
                    ng-model="mData.DocDate"
                    ng-disabled = true
                >
                </bsdatepicker>
            </div>
            <div class="col-md-1">
                <label class="control-label">&nbsp</label>
                <!-- <input class="form-control" type="text" name="no_polisi" placeholder="08.00" disabled></input> -->
            </div>
            <!-- <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Bengkel</label>
                <input class="form-control" type="text" name="bengkel" ng-model="mData.BengkelName" disabled></input>
            </div> -->
            <div ng-show="vcState=='bengkel'" class="col-md-3 col-md-offset-1">
                <label class="control-label">Bengkel</label>
                <input class="form-control" type="text" name="bengkel" ng-model="mData.BengkelName" readonly></input>
                <!-- <bsselect name="vendor" ng-model="mData.VendorOutletId" data="vendorOutletData" item-text="Name" item-value="VendorOutletId" placeholder="Bengkel..." on-select="selectVendor(selected)" icon="fa fa-search">
                </bsselect> -->
            </div>
            <div ng-show="vcState=='customer'" class="col-md-3 col-md-offset-1">
                <label class="control-label">Customer</label>
                <input class="form-control" type="text" name="bengkel" ng-model="mData.CustomerName" ng-readonly="true"></input>
            </div>
            <!-- <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>  -->
        </div>
        <!-- [END] Form Level 4 -->

        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>

        <!-- [START] Form Level 5 -->
        <div class="row">
            <div class="col-md-3">                
                <label class="control-label">No PO</label>
                <input class="form-control" style="text-align : left" type="text" ng-model="mData.PurchaseOrderNo"  disabled></input> 
            </div>
            <div class="col-md-2 col-md-offset-1" style="pointer-events: none;">
                <label class="control-label">Tanggal PO</label>
                <bsdatepicker
                    name="endDate"
                    date-options="dateOptions"
                    ng-model="mData.DocDate"
                    ng-disabled=true
                    >
                </bsdatepicker>
            </div>
            <!-- <div class="col-md-1">
                <label class="control-label">&nbsp</label>
                <input class="form-control" type="text" name="no_polisi" placeholder="08.00" disabled></input> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                               -->
        </div>
        <!-- [END] Form Level 5 -->
        <br>
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-3">                
                <label class="control-label">Status</label>
                <input class="form-control" style="text-align : left" type="text" ng-value="ToNameStatus(mData.PurchaseOrderStatusId)" placeholder="Status..." disabled></input> 
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Grand Total</label>
                <input class="form-control" style="text-align : left" type="text" ng-model="mData.TotalAmount" placeholder="8.395.000" format="number" disabled></input>
            </div>
            <!-- <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                               -->
        </div>
        <!-- [END] Form Level 7 -->
        <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Notes</label>
                <textarea class="form-control" row='5' ng-model="mData.Notes"></textarea>
            </div>
        </div>
        <!-- [END] Form Level 7 -->
    </div>

<br/>
    <div class="row">
        <div class="col-md-3">
            <div class="input-group-btn dropdown" uib-dropdown="">
            <button style="margin-right:5px;margin-left:1px" type="button"
                class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle=""
                data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
                <!-- ngIf: allowDelete -->
                <li ng-click="delete('non_tam_sop_so_ubah')" ng-if="selectedRows.length > 0"><a href="#">Hapus</a>
            </ul>
            </div>
        </div>
        <div class="col-md-9">
            <button class="btn rbtn pull-right" ng-click="Add()" onclick="blur()" ng-disabled="disabledTambah" skip-enable><i class="fa fa-fw fa-plus"></i>&nbsp;Tambah Material</button>
        </div>
    </div>


<div class="row">
    <div class="col-md-12">
        <div id="grid1" ui-grid="non_tam_sop_so_ubah" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
        <!--<label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">Keterangan :<b>Harga Standard Cost di PO merupakan harga Standard Cost dari Master dikurangi PPn</b></label>-->
		<label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">
				<b>Keterangan :</b><br>
				1. <b style="color:red">PKP</b> : Harga Standart Cost di PO merupakan harga Standart Cost dari Master dikurangi PPn<br>
				2. <b style="color:red">Non PKP</b> : Harga Standart Cost di PO merupakan harga Standart Cost dari Master tanpa dikurangi PPn<br>
				3. Harga Standart Cost di PO yang <b>dapat diedit</b> hanya Sublet (OPB), selain itu silahkan edit pada Master Material
			</label>
    </div>
    <div class="col-md-12">
        <div align="right">
            <button class="wbtn btn" ng-click="onShowVendorPO()">Lihat Detail Vendor</button>
            <button class="wbtn btn" ng-hide="mData.POTypeId == 6 && mData.PurchaseOrderStatusId != 1" ng-disabled="(mData.POTypeId >= 4 && mData.PurchaseOrderStatusId > 4 ) || (mData.POTypeId < 4 && mData.PurchaseOrderStatusId !== 1)" ng-click="batalPC(mData)">Batal PO</button>
            <button class="wbtn btn" ng-click="goBack()">Kembali</button>
            <button class="btn rbtn" ng-click="UbahData(mData, 1)" ng-disabled="mData.PurchaseOrderStatusId > 1">Simpan Draft</button>
            <!-- <button class="btn rbtn" ng-click="ubah(mData)" ng-disabled="(mData.POTypeId >= 4 && mData.PurchaseOrderStatusId > 4 ) || (mData.POTypeId < 4 && mData.PurchaseOrderStatusId !== 1)">Simpan</button> -->
            <button class="btn rbtn" ng-click="ubah(mData)" ng-disabled="mData.PurchaseOrderStatusId > 4 || checkRefGINo">Simpan</button>
        </div>
    </div>  
</div>

