<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<bsform-grid
        ng-form="VehicleModelForm"
        factory-name="VehicleModel"
        model="mVehicleModel"
        model-id="VehicleModelId"
        loading="loading"
        show-advsearch="on"
        get-data="getData"
        selected-rows="xVehicleModel.selected"
        on-select-rows="onSelectRows"
        grid-hide-action-column="true"
        >
        <bsform-advsearch>
            <div class="row" style="margin-bottom:40px">
                <div class="col-md-6">
                    <label>Dealer</label>
                    <bsselect ng-model="filter.GroupDealerId" tabindex="1" data="optionsOutlet_Dealer" item-text="GroupDealerName" item-value="GroupDealerId" placeholder="Pilih Dealer" ng-change="MasterOutletSearchDealerBrubah()" ng-disabled="MasterOutletDisableFilterDealer" required></bsselect>
                </div>

                <div class="col-md-6">
                    <label>Cabang</label>
                    <bsselect ng-model="filter.OutletId" tabindex="2" data="optionsOutlet_Outlet" item-text="OutletName" item-value="OutletId" placeholder="Pilih Cabang" ng-disabled="MasterOutletDisableFilterOutlet"></bsselect>
                </div>
            </div>
        </bsform-advsearch>

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Model Code</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" name="code" placeholder="Fleet Code" ng-model="mVehicleModel.VehicleModelCode" disabled>
                </div>
                <bserrmsg field="code"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Model Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" name="name" placeholder="Fleet Name" ng-model="mVehicleModel.VehicleModelName" disabled>
                </div>
                <bserrmsg field="name"></bserrmsg>
            </div>
            <!-- <div class="form-group" show-errors>
                <bsreqlabel>Brand Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="desc" placeholder="Description" ng-model="mVehicleModel.BrandName" disabled>
                </div>
                <bserrmsg field="desc"></bserrmsg>
            </div> -->
            <bscheckbox ng-model="mVehicleModel.SpotOrder"
                        label = "Spot Order"
                        true-value = "true"
                        false-value = "false"
            >
            </bscheckbox>
          </div>
        </div>
</bsform-grid>

