<script type="text/javascript">

   
</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

fieldset.scheduler-border {
    width:auto; border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

</style>

<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
	<div class="row">
		<fieldset class="scheduler-border" style="margin-top: 10px;" ng-show="ShowFieldGenerate_AccPackage">
			<legend style="background:white;" class="scheduler-border">Data Filter</legend>
	
			<div class="col-md-12">
	
				<!-- model -->
				<div class="col-md-3">
					<bslabel>Model</bslabel>
					<bsselect style="margin-bottom: 10px;" ng-model="filterModel.VehicleModelId"
						on-select="onSelectModelChanged(selected)" data="optionsModel" item-text="VehicleModelName"
						item-value="VehicleModelName" placeholder="Pilih Model" icon="fa fa-search">
					</bsselect>
				</div>
	
				<!-- separator -->
				<div class="col-md-1" style="text-align: center;">
					<bslabel>&nbsp;</bslabel>
				</div>
	
	
				<!-- tipe -->
				<div class="col-md-3">
					<bslabel>Tipe</bslabel>
					<bsselect style="margin-bottom: 10px" ng-model="filterModel.VehicleTypeName" data="optionsTipe"
						item-text="Description,KatashikiCode,SuffixCode" item-value="VehicleTypeName"
						on-select="onSelectTipeChanged(selected)" placeholder="Pilih tipe" icon="fa fa-search">
					</bsselect>
				</div>
	
			</div>
	
			<div class="col-md-12" style="margin-top:10px">
				<div class="col-md-2">
					<bslabel>Tanggal</bslabel>
				</div>
			</div>
			<div class="col-md-12">
	
				<div class="col-md-3">
					<div class="input-icon-right form-group ">
						<bsdatepicker name="TanggalFilterStart" date-options="dateOptions"
							ng-model="filterModel.TanggalFilterStart"></bsdatepicker>
					</div>
				</div>
	
				<div class="col-md-1" style="text-align: center;">
					<bslabel>s.d</bslabel>
				</div>
	
				<div class="col-md-3">
					<div class="input-icon-right form-group ">
						<bsdatepicker name="TanggalFilterEnd" date-options="dateOptions"
							ng-model="filterModel.TanggalFilterEnd"></bsdatepicker>
					</div>
				</div>
	
				<div class="col-md-3">
					&nbsp;
				</div>
	
				<!-- search button -->
				<div class="col-md-2">
					<button class="btn wbtn pull-right" ng-click="MasterSelling_AccPackage_Generate_Clicked()"
						onclick="this.blur()" style="width:101px;margin-right:-9px;" tooltip-placement="bottom"
						tooltip-trigger="mouseenter" tooltip-animation="false" uib-tooltip="Search">
						<i class="large icons">
							<i class="database icon"></i>
							<i class="inverted corner filter icon"></i>
						</i>Search</button>
				</div>
	
	
			</div>
		</fieldset>
	
	
		<fieldset class="scheduler-border" style="margin-top: 10px;">
			<legend style="background:white;" class="scheduler-border">Upload File</legend>
	
			<div class="col-md-6">
				<input type="file" style="width: 90%" accept=".xlsx" id="uploadSellingFile_AccPackage"
					onchange="angular.element(this).scope().loadXLS(this)">
			</div>
	
			<div class="col-md-6">
	
				<button id="MasterSelling_Simpan_Button" ng-click="MasterSelling_Simpan_Clicked()" type="button"
					class="rbtn btn ng-binding ladda-button pull-right" style="width:101px;">
					Simpan
				</button>
	
				<button id="MasterSelling_Batal_Button" ng-click="MasterSelling_Batal_Clicked()" type="button"
					class="wbtn btn ng-binding ladda-button pull-right" style="width:101px;">
					Batal
				</button>
			</div>
		</fieldset>
	
	
		<div class="col-md-12">
	
			<div class="col-md-2">
				<bsselect ng-model="ComboBulkAction_AccPackage" data="optionsComboBulkAction_AccPackage"
					ng-change="ComboBulkAction_AccPackage_Changed()" item-text="name" item-value="value"
					on-select="value(selected)" icon="fa fa-search" placeholder="Bulk Action">
				</bsselect>
			</div>
	
			<div class="col-md-2">
				<div class="form-group filterMarg">
					<input type="text" required ng-model="textFilterMasterAccPackage" class="form-control"
						placeholder="Search" maxlength="100" ng-change="FilterGridMasterAccPackage()">
				</div>
			</div>
	
			<div class="col-md-2">
				<div class="form-group filterMarg ">
					<select required ng-model="selectedFilterMasterAccPackage" class="form-control "
						ng-options="item.field as item.name for item in MasterSellingPriceFU_AccPackage_grid.columnDefs "
						placeholder="Filter ">
	
						<option label="Filter " value=" " disabled>Filter</option>
					</select>
				</div>
			</div>
	
			<div class="col-md-2">
				&nbsp;
			</div>
	
			<div class="col-md-4">
				<button id="MasterSelling_AccPackage_Download_Button"
					ng-click="MasterSelling_AccPackage_Download_Clicked()" type="button"
					class="rbtn btn ng-binding ladda-button pull-right" style="width:150px; margin-right:9px;">
					<span class="ladda-label">
						Download Template
					</span><span class="ladda-spinner"></span>
				</button>
			</div>
	
		</div>
	
	
	
		<div class="col-md-12">
			<div id="myGrid" ui-grid="MasterSellingPriceFU_AccPackage_grid" ui-grid-edit ui-grid-selection
				ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination class="Mygrid"
				style="width:100%;height: 250px; margin-top:10px; margin-bottom:20px;"></div>
		</div>
	
	</div>

<!-- <div class="swal2-container swal2-fade swal2-shown" style="overflow-y: auto;" id="AccPackageModal">
	<div role="dialog" aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-modal swal2-show" tabindex="-1" style="width: 500px; padding: 20px; background: rgb(255, 255, 255); display: block; min-height: 355px;">
		<ul class="swal2-progresssteps" style="display: none;"></ul>
	<div class="swal2-icon swal2-error" style="display: none;">
		<span class="x-mark">
			<span class="line left"></span>
			<span class="line right"></span>
		</span>
	</div>
	<div class="swal2-icon swal2-question" style="display: none;">?</div>
	<div class="swal2-icon swal2-warning" style="display: block;">!</div>
	<div class="swal2-icon swal2-info" style="display: none;">i</div>
	<div class="swal2-icon swal2-success" style="display: none;">
		<span class="line tip"></span> 
		<span class="line long"></span>
		<div class="placeholder"></div> 
		<div class="fix"></div>
	</div>
	<img class="swal2-image" style="display: none;">
		<h2 class="swal2-title" id="swal2-title">
			<p style="font-size:20px">
				Delete 
				<span style="color:red">{{TotalSelectedData}} item(s) </span>
				from <span style="color:blue">Accessories Package</span>
			</p> Are you sure?
		</h2>
		<div id="swal2-content" class="swal2-content" style="display: block;">You won't be able to revert this!</div>
		<input class="swal2-input" style="display: none;">
		<input type="file" class="swal2-file" style="display: none;">
		<div class="swal2-range" style="display: none;">
			<output></output><input type="range">
		</div>
		<select class="swal2-select" style="display: none;"></select>
		<div class="swal2-radio" style="display: none;"></div>
		<label for="swal2-checkbox" class="swal2-checkbox" style="display: none;">
		<input type="checkbox"></label>
		<textarea class="swal2-textarea" style="display: none;"></textarea>
		<div class="swal2-validationerror" style="display: none;"></div>
		<div class="swal2-buttonswrapper" style="display: block;">
			<button type="button" role="button" tabindex="0" class="swal2-confirm swal2-styled"  ng-click="OK_Button_Clicked()"
				style="background-color: rgb(140, 212, 245); border-left-color: rgb(140, 212, 245); border-right-color: rgb(140, 212, 245);">OK</button>
			<button type="button" role="button" tabindex="0" class="swal2-cancel swal2-styled" 
				style="display: inline-block; background-color: rgb(170, 170, 170);" ng-click="DeleteCancel_Button_Clicked()">Cancel</button>
		</div>	
		<button type="button" tabindex="0" class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
	</div>
</div> -->