<style type="text/css">

</style>
<!-- mode tambah/buat baru (manual)-->
<!--<div ng-show="isModeTambah">-->
<!--<h1>Tambah Mode</h1>-->
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Tipe Dead Stock Maintain</label>
            <select class="form-control" disabled>
                <option selected value="1">Manual</option>
            </select>
        </div>
    </div>
    <div class="col-md-1"></div>        
    <div class="col-md-2">                
        <label class="control-label">Masa Berlaku Dari</label>    
        <div class="startDate">
        <bsdatepicker
            name="ValidFrom"
            date-options="dateOptions"
            ng-model="mData.ValidFrom">
        </bsdatepicker>
        </div>                
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">                
        <label class="control-label">Masa Berlaku Sampai</label>     
        <div class="endDate">
        <bsdatepicker
            name="ValidTo"
            date-options="dateOptions"
            ng-model="mData.ValidTo">
        </bsdatepicker>
        </div>                  
    </div>
</div>

<div class="row">
    <div class="col-xs-9"><hr></div>
</div>

<div class="row">
  <div class="col-md-6">
      <div class="form-group">
      <label>Notes</label>
      <textarea class="form-control" ng-model="mData.Notes" rows="4"></textarea>
      </div>
  </div>
</div>

<div class="row">
    <div class="col-xs-12"><hr></div>
</div>

<div class="row">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Cari Detail Material</legend>
        <div class="col-md-2">
            <label class="control-label">SCC</label>
            <!--<select class="form-control">
                <option>-</option>
                <option>Overhaul Item</option>
                <option>Body Item</option> 
                <option>Accessories Item</option> 
                <option>CBU Non TAM</option> 
                <option>Discontinue Item</option> 
            </select>-->
            <select
                class="form-control"
                ng-model="mData.PartsClassId3"
                ng-options="mData.PartsClassId as mData.Description for mData in mData.DataSCC" >
                <option value="" selected>-</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="control-label">ICC</label>
            <!--<select class="form-control">
                <option>-</option>
                <option value="A">Very Fast Moving</option>
                <option value="B">Fast Moving</option>
                <option value="C">Medium Moving</option>
                <option value="D">Slow Moving</option>
                <option value="S">Dead Stock</option>
                <option value="K">Kanban</option>
            </select>-->
            <select
                class="form-control"
                ng-model="mData.PartsClassId2"
                ng-options="mData.PartsClassId as mData.Description for mData in mData.DataICC" >
                <option value="" selected>-</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="control-label">No. Material</label>
            <input class="form-control" type="text" ng-model="mData.PartsCode">
        </div>
        <div class="col-md-2">
            <label class="control-label">Nama Material</label>
            <input class="form-control" type="text" ng-model="mData.PartsName">
        </div>
        <div class="col-md-4">
            <label class="control-label">&nbsp</label>
            <div>
            <button type="button" class="wbtn btn" ng-click="SearchParts(mData)">Cari</button>
            <button type="button" class="wbtn btn" ng-click="hapusSearch()">Hapus</button>
            </div>
        </div>
    </fieldset>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="input-group-btn dropdown" uib-dropdown="" style="">
          <button style="margin-right:5px;" type="button" 
            class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" 
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <!-- ngIf: allowDelete -->
            <li>
            <!-- ngIf: selectedRows.length>0 --><a href="#">Hapus</a>
            <!-- end ngIf: selectedRows.length>0 --></li>
            <!-- end ngIf: allowDelete -->
            <!-- ngIf: allowApprove -->
            <!-- ngIf: allowReject -->
            <!-- ngIf: allowReview -->
            <!-- ngRepeat: customBulk in customBulkFunc -->
          </ul>
        </div>
    </div>
</div>

<!-- <br>
<button class="wbtn btn" ng-click="Add()">Tambah Material</button>
<br> -->


<!--grid-->
<div class="row">
    <div class="col-md-12">
        <div ui-grid="gridTambah" class="grid" ui-grid-auto-resize ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-pagination></div>
    </div>
</div>
<br>

<!--tombol bawah-->
<div class="row">
    <div class="col-md-12">
    <div class="pull-right">
        <!-- <button type="button" class="wbtn btn">Kembali</button> -->
        <button class="btn rbtn" ng-click="simpan()">Simpan</button>
    </div>
    </div> 
</div>
<!--</div> -->
<!-- end mode tambah-->