<!--<h1>Edit, Manual</h1>-->
<div class="row">
<div class="col-md-3">
    <div class="form-group">
    <label>Tipe Dead Stock Maintain</label>
    <select class="form-control" disabled>
        <option selected>Manual</option>
        <option>Suggestion by System</option>
    </select>
    </div>
</div>
<div class="col-md-1"></div>        
<div class="col-md-2">                
    <label class="control-label">Masa Berlaku Dari</label>    
    <div class="ValidFrom">
    <bsdatepicker
    name="ValidFrom"
    date-options="dateOptions"
    ng-model="mData.ValidFrom"
    ng-disabled="isDisabled"
    >
    </bsdatepicker>
    </div>                 
</div>
<div class="col-md-1"></div>
<div class="col-md-2">                
    <label class="control-label">Masa Berlaku Sampai</label>     
    <div class="ValidTo">
    <bsdatepicker
    name="ValidTo"
    date-options="dateOptions"
    ng-model="mData.ValidTo"
    ng-disabled="isDisabled"
    >
    </bsdatepicker>
    </div>                 
</div>
</div>

<div class="row">
    <div class="col-xs-9"><hr></div>
</div>

<div class="row">
<div class="col-md-3">
    <div class="form-group">
    <label>No. DS</label>
    <input type="text" ng-model="mData.DeadStockNo" class="form-control" disabled>
    </div>
</div>
<div class="col-md-1"></div> 
<div class="col-md-2">   
    <div class="form-group">             
    <label class="control-label">Tanggal DS</label>     
    <div class="FilingDate">
        <bsdatepicker
        name="FilingDate"
        date-options="dateOptions"
        ng-model="mData.FilingDate"
        ng-disabled="isDisabled"
        >
        </bsdatepicker>
    </div>                 
    </div>
</div>
</div>
<div class="row">
<div class="col-md-3">
    <div class="form-group">
    <label class="control-label">Status</label>
    <!--<select class="form-control" disabled>
        <option selected>Draft</option>
        <option>Open</option>
        <option>Conmpelted</option>
    </select>-->
    <input class="form-control" ng-model="mData.Status" disabled>
    </div>
</div>
</div>
<div class="row">
<div class="col-md-6">
    <div class="form-group">
    <label>Notes</label>
    <textarea class="form-control" rows="4" ng-model="mData.Notes" disabled></textarea>
    </div>
</div>
</div>

<div class="row">
    <div class="col-xs-12"><hr></div>
</div>

<div class="row">
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Cari Detail Material</legend>
<div class="col-md-2">
    <label class="control-label">SCC</label>
    <select class="form-control">
        <option>-</option>
        <option>Overhaul Item</option>
        <option>Body Item</option> 
        <option>Accessories Item</option> 
        <option>CBU Non TAM</option>
        <option>Discontinue Item</option> 
    </select>
</div>
<div class="col-md-2">
    <label class="control-label">ICC</label>
    <select class="form-control">
        <option>-</option>
        <option value="A">Very Fast Moving</option>
        <option value="B">Fast Moving</option>
        <option value="C">Medium Moving</option>
        <option value="D">Slow Moving</option>
        <option value="S">Dead Stock</option>
        <option value="K">Kanban</option>
    </select>
</div>
<div class="col-md-2">
    <label class="control-label">No. Material</label>
    <input class="form-control" type="text">
</div>
<div class="col-md-2">
    <label class="control-label">Nama Material</label>
    <input class="form-control" type="text">
</div>
<div class="col-md-4">
    <label class="control-label">&nbsp</label>
    <div>
    <button type="button" class="wbtn btn">Cari</button>
    <button type="button" class="wbtn btn">Hapus</button>
    </div>
</div>
</fieldset>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="input-group-btn dropdown" uib-dropdown="" style="">
          <button style="margin-right:5px;" type="button" 
            class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" 
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <!-- ngIf: allowDelete -->
            <li>
            <!-- ngIf: selectedRows.length>0 --><a href="#">Hapus</a>
            <!-- end ngIf: selectedRows.length>0 --></li>
            <!-- end ngIf: allowDelete -->
            <!-- ngIf: allowApprove -->
            <!-- ngIf: allowReject -->
            <!-- ngIf: allowReview -->
            <!-- ngRepeat: customBulk in customBulkFunc -->
          </ul>
        </div>
    </div>
</div>

<!--grid-->
<div class="row">
    <div class="col-md-12">
        <div ui-grid="gridEdit" class="grid" ui-grid-auto-resize ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-pagination></div>
    </div>
</div>
<br>

<!--tombol bawah-->
<div class="row">
    <div class="col-md-12">
    <div class="pull-right">
        <button type="button" class="wbtn btn" ng-click="pembatalan()">Batal Dead Stock</button>
        <!-- <button type="button" class="wbtn btn">Kembali</button> -->
    </div>
    </div> 
</div>
