<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
    ng-form="WorkingScheduleTypeForm"
    factory-name="WorkingScheduleTypeFactory"
    model="mData"
    model-id="WorkScheduleTypeId"
    loading="loading"

    get-data="getData"
    selected-rows="selectedRows"
    on-select-rows="onSelectRows"
    on-show-detail = "onShowDetail"
    on-validate-save = "onValidateSave"
    on-before-new-mode="onBeforeNewMode"
    on-bulk-delete="bulkDelete"

    form-name="WorkingScheduleTypeForm"
    form-api="formApi" 
    form-grid-api="formGridApi"
    form-title="Working Schedule Type"
    modal-title="Working Schedule Type"
    modal-size="small"
    icon="fa fa-fw fa-child"
    >
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-3 form-group">
                    <label>Kode Tipe Jadwal Kerja</label>
                    <input ng-model="mData.WorkScheduleTypeCode" style="width:100%" type="text"
                    class="form-control" ng-required="true" maxlength="50">
                </div>
                <div class="col-md-3 form-group">
                    <label>Keterangan</label>
                    <input ng-model="mData.WorkScheduleTypeDesc" style="width:100%"  type="text"
                    class="form-control" ng-required="true" maxlength="50">
                </div>
                <div class="col-md-3 form-group">
                    <label>Default Jadwal Kerja</label>
                    <select convert-to-number name="isDefaultSchedule" class="form-control" ng-model="mData.isDefaultSchedule" data="dataIsDefaultSchedule" item-text="Desc" item-value="Id" placeholder="Pilih Ya / Tidak" ng-change="selectIsDefault()">
                        <!-- <option ng-repeat="data in dataIsDefaultSchedule" value="{{data.Id}}">{{data.Desc}}</option> -->
                        <option ng-repeat="data in dataIsDefaultSchedule" ng-selected="mData.isDefaultSchedule == data.Id" value="{{data.Id}}">{{data.Desc}}</option>
                    </select>
                </div>
            </div>
        </div>
</bsform-grid>