<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="SoCancelReasonForm"
        factory-name="SoCancelReason"
        model="mSoCancelReason"
        model-id="SOCancelReasonId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="SoCancelReasonForm"
        form-title="SoCancelReason"
        modal-title="SoCancelReason"
        modal-size="small"
		form-api="formApi"
		do-custom-save="doCustomSave"
        icon="fa fa-fw fa-child"
        >


        <div class="row">
          <div class="col-md-6">


            <div class="form-group" show-errors>
                <bsreqlabel>SO Cancel Reason</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="SOCancelReasonName" placeholder="SO Cancel Reason" ng-model="mSoCancelReason.SOCancelReasonName"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="SOCancelReasonName"></bserrmsg>
            </div>
			

          </div>
        </div>
</bsform-grid-tree>

