<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="DpPartsForm"
        factory-name="DpPartsFactory"
        model="mDpParts"
        model-id="PartPriceDPId"
        loading="loading"
        on-show-detail="onShowDetail"
        on-validate-save="onValidateSave"
        show-advsearch="on"
        grid-hide-action-column="gridHideActionColumn"
        form-api="formApi"

        get-data="getData"
        selected-rows="xDpParts.selected"
        on-select-rows="onSelectRows"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
        <div class="row">
            <div class="col-md-6">
                <!-- <div class="form-group" show-errors>
                    <bsreqlabel>Tanggal Berlaku</bsreqlabel>
                    <div class="input-icon-right">
                        <bsdatepicker
                            name="EffectiveDate" 
                            date-options="dateOptions"
                            ng-model="mDpParts.EffectiveDate" 
                        >
                        {{mDpParts.EffectiveDate}}
                        </bsdatepicker>
                    </div>
                    <bserrmsg field="EffectiveDate"></bserrmsg>
                </div> -->
                <div class="form-group" show-errors>
                    <bsreqlabel>Range Tanggal Berlaku</bsreqlabel>
                    <div class="row">
                        <div class="col-md-5">
                            <bsdatepicker
                                name="EffectiveDate" 
                                date-options="validDateOptions"
                                ng-model="mDpParts.EffectiveDate" 
                            >
                            {{mDpParts.EffectiveDate}}
                            </bsdatepicker>
                        </div>
                        <div class="col-md-2">
                            S/D
                        </div>
                        <div class="col-md-5">
                            <bsdatepicker
                                name="ValidThru" 
                                date-options="validDateOptions"
                                ng-model="mDpParts.ValidThru" 
                            >
                            {{mDpParts.ValidThru}}
                            </bsdatepicker>
                        </div>
                    </div>                    
                </div>
                <div class="form-group" show-errors>
                    <bsreqlabel>Range Nilai Dikenakan DP</bsreqlabel>
                    <div class="row">
                        <div class="col-md-5">
                            <!-- <input style="" type="text" class="form-control" name="PriceFrom" placeholder="Range From" ng-model="mDpParts.PriceFrom" ng-change="numberWithCommas" ng-min="0" min="0" required> -->
                            <input style="" type="text" class="form-control" name="PriceFrom" placeholder="Range From" ng-model="mDpParts.PriceFrom" ng-keyup="givePatternpriceFrom(mDpParts.PriceFrom,$event)" ng-min="0" min="0" required>
                        </div>
                        <div class="col-md-2">
                            S/D
                        </div>
                        <div class="col-md-5">
                            <!-- <input style="" type="text" class="form-control" name="PriceTo" ng-model="mDpParts.PriceTo" placeholder="Range Trhu" ng-change="numberWithCommas" ng-min="0" min="0" required> -->
                            <input style="" type="text" class="form-control" name="PriceTo" ng-model="mDpParts.PriceTo" placeholder="Range Trhu" ng-keyup="givePatternpriceTo(mDpParts.PriceTo,$event)" ng-min="0" min="0" required>
                        </div>
                    </div>                    
                </div>
                <div class="form-group" show-errors>
                    <bsreqlabel>Persentase DP</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="number" class="form-control" name="PercentDP" placeholder="" ng-model="mDpParts.PercentDP" min="0" max="100" required>
                    </div>
                    <bserrmsg field="PercentDP"></bserrmsg>
                
                </div>
            </div>
        </div>

        <bsform-advsearch>

        <div class="row">
            
            <div class="col-md-2">                
              <label class="control-label">Tanggal Berlaku Dari</label>
              <div class="tanggal">
                <bsdatepicker
                name="startDate"
                date-options="dateOptions"
                ng-model="mDpParts.startDate"
                >
                </bsdatepicker>
              </div>                   
            </div>
            <div class="col-md-2">                
              <label class="control-label">Tanggal Berlaku Sampai</label>    
              <div class="endDate">
                <bsdatepicker
                name="endDate"
                date-options="dateOptions"
                ng-model="mDpParts.endDate"
                >
                </bsdatepicker>
              </div>                 
            </div>
         
            <div class="col-md-2"> 
              <!--<div class="input-group">-->
                <label class="control-label">&nbsp</label> 
                <div>
                    <button class="btn wbtn" ng-click="onDeleteFilter(mDpParts)">Hapus Filter</button> 
                </div>              
              <!--</div>-->
            </div>
                                  
          </div>
          <!-- end row -->
          <!-- Row Tengah -->
         
          <br>
        <!-- end row -->
</bsform-advsearch>

</bsform-grid>
