<div class="row">
    <div class="col-md-12" ng-if="lmModelOpl.Status <= 1 || lmModelOpl.Status == undefined">
        <div class="form-group">
            <bsreqlabel>Nama OPL</bsreqlabel>
            <bstypeahead placeholder="Nama Pekerjaan" ng-disabled="mData.Status > 3 && !isNew" name="oplName" ng-model="lmModelOpl.OPLName" get-data="getOpl" item-text="OPLWorkName" loading="loadingUsers" noresult="noResults" selected="selected" on-select="onSelectWorkOPL" on-noresult="onNoResultOpl" on-gotresult="onGotResult"
                template-url="customTemplateOpl.html" icon="fa-id-card-o" required>
            </bstypeahead>
            <!-- <input type="text" class="form-control" placeholder="Nama OPL" name="oplName" ng-model="lmModelOpl.OplName"> -->
            <bserrmsg field="oplName"></bserrmsg>
        </div>
        <div class="form-group">
            <bsreqlabel>Vendor</bsreqlabel>
            <!-- <bstypeahead placeholder="Nama Vendor" name="vendorName"
                ng-model="lmModelOpl.VendorName"
                get-data="getOpl"
                model-key="Opl"
                ng-minlength="2" ng-maxlength="10" disallow-space
                loading="loadingUsers"
                noresult="noResults"
                selected="selected"
                on-select="onSelectUser"
                on-noresult="onNoResult"
                on-gotresult="onGotResult",
                ta-minlength="1"
                icon="fa-id-card-o"
            >
            </bstypeahead> -->
            <input type="text" class="form-control" ng-disabled="true" placeholder="Nama Vendor" name="vendorName" ng-model="lmModelOpl.VendorName" required>
            <bserrmsg field="oplName"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="lmModelOpl.PaidById" data="OPLPaymentData" item-text="Name" item-value="MasterId" placeholder="Pilih Pembayaran" on-select="selectTypePaidOPL(lmModelOpl.PaidById, lmModelOpl)" required>
            </bsselect>
            <bserrmsg field="pembayaran"></bserrmsg>
        </div>
        <div class="form-group">
            <bsreqlabel>Estimasi Selesai</bsreqlabel>
            <bsdatepicker name="RequiredDate" min-date="dateOptionsOPL.minDate" date-options="dateOptionsOPL" ng-model="lmModelOpl.TargetFinishDate" ng-change="DateChange(dt)" required>
            </bsdatepicker>
        </div>
        <!--         <div class="form-group" show-errors>
            <bsreqlabel>Penerima</bsreqlabel>
            <input type="text" class="form-control" required name="ReceiveBy" ng-model="lmModelOpl.ReceiveBy">
            <bserrmsg field="ReceiveBy"></bserrmsg>
        </div> -->
        <div class="form-group" show-errors>
            <bsreqlabel>Quantity</bsreqlabel>
            <input min="1" type="number" ng-change="QtyOPL(lmModelOpl.QtyPekerjaan,lmModelOpl)" class="form-control" ng-disabled="false" required name="qty" ng-model="lmModelOpl.QtyPekerjaan">
            <bserrmsg field="price"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Harga Beli</bsreqlabel>
            <input min="0" type="text" class="form-control" required name="price" ng-model="lmModelOpl.OPLPurchasePrice">
            <bserrmsg field="price"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Harga Jual</bsreqlabel>
            <input min="0" type="text" class="form-control" required name="price" ng-model="lmModelOpl.Price">
            <bserrmsg field="price"></bserrmsg>
        </div>
        <div class="form-group">
            <label>Notes</label>
            <textarea class="form-control" name="notes" ng-model="lmModelOpl.Notes" style="height: 100px;"></textarea>
        </div>
        <div class="form-group" show-errors>
            <label>Discount (%)</label>
            <input type="number" min=0 max="100" class="form-control" name="discount" ng-model="lmModelOpl.Discount" ng-disabled="DiscountAvailable || lmModelOpl.PaidById == 29 || lmModelOpl.PaidById == 30">
            <bserrmsg field="discount"></bserrmsg>
        </div>
        <div class="form-group" ng-if="lmModel.OPLId !== undefined">
            <label>Status : {{lmModelOpl.xStatus}}</label>
        </div>
    </div>
    <div class="col-md-12" ng-if="lmModelOpl.Status > 1">
        <div class="form-group">
            <bsreqlabel>Nama OPL</bsreqlabel>
            <bstypeahead placeholder="Nama Pekerjaan" ng-disabled="true" name="oplName" ng-model="lmModelOpl.OPLName" get-data="getOpl" item-text="OPLWorkName" loading="loadingUsers" noresult="noResults" selected="selected" on-select="onSelectWorkOPL" on-noresult="onNoResultOpl" on-gotresult="onGotResult"
                template-url="customTemplateOpl.html" icon="fa-id-card-o" required>
            </bstypeahead>
            <!-- <input type="text" class="form-control" placeholder="Nama OPL" name="oplName" ng-model="lmModelOpl.OplName"> -->
            <bserrmsg field="oplName"></bserrmsg>
        </div>
        <div class="form-group">
            <bsreqlabel>Vendor</bsreqlabel>
            <input type="text" class="form-control" ng-disabled="true" placeholder="Nama Vendor" name="vendorName" ng-model="lmModelOpl.VendorName">
            <bserrmsg field="oplName"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="lmModelOpl.PaidById" data="OPLPaymentData" item-text="Name" item-value="MasterId" ng-disabled="true" placeholder="Pilih Pembayaran" on-select="selectTypePaidOPL(lmModelOpl.PaidById, lmModelOpl)" required>
            </bsselect>
            <bserrmsg field="pembayaran"></bserrmsg>
        </div>
        <div class="form-group">
            <bsreqlabel>Estimasi Selesai</bsreqlabel>
            <bsdatepicker name="RequiredDate" ng-disabled="true" min-date="dateOptionsOPL.minDate" date-options="dateOptionsOPL" ng-model="lmModelOpl.TargetFinishDate" ng-change="DateChange(dt)">
            </bsdatepicker>
        </div>
        <!--         <div class="form-group" show-errors>
            <bsreqlabel>Penerima</bsreqlabel>
            <input type="text" class="form-control" required name="ReceiveBy" ng-model="lmModelOpl.ReceiveBy">
            <bserrmsg field="ReceiveBy"></bserrmsg>
        </div> -->
        <div class="form-group" show-errors>
            <bsreqlabel>Quantity</bsreqlabel>
            <input min="1" type="number"  ng-change="QtyOPL(lmModelOpl.QtyPekerjaan,lmModelOpl)" class="form-control" ng-disabled="true" required name="qty" ng-model="lmModelOpl.QtyPekerjaan">
            <bserrmsg field="price"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Harga</bsreqlabel>
            <input type="text" ng-disabled="true" class="form-control" required name="price" ng-model="lmModelOpl.Price">
            <bserrmsg field="price"></bserrmsg>
        </div>
        <div class="form-group">
            <label>Notes</label>
            <textarea  ng-disabled="true"class="form-control" name="notes" ng-model="lmModelOpl.Notes" style="height: 100px;"></textarea>
        </div>
        <div class="form-group" show-errors>
            <label>Discount (%)</label>
            <input type="number" min=0 max="100" ng-disabled="true" class="form-control" name="discount" ng-model="lmModelOpl.Discount" ng-disabled="DiscountAvailable || lmModelOpl.PaidById == 29 || lmModelOpl.PaidById == 30">
            <bserrmsg field="discount"></bserrmsg>
        </div>
        <div class="form-group">
            <label>Status : {{lmModelOpl.xStatus}}</label>
        </div>
    </div>
    <script type="text/ng-template" id="customTemplateOpl.html">
        <a>
            <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
            <span ng-bind-html="match.model.Vendor.Name | uibTypeaheadHighlight:query"></span>
            <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
            <span ng-bind-html="match.model.isExternalDesc | uibTypeaheadHighlight:query"></span>
            <!-- <span ng-bind-html="match.model.FullName | uibTypeaheadHighlight:query"></span> -->
        </a>
    </script>
</div>