<div class="col-md-12" ng-form="row1">
    <div class="col-xs-6">
        <div class="form-group" show-errors>
            <bsreqlabel>Tipe Material</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" required ng-required="true" ng-disabled="ldModel.PartsId !== undefined && ldModel.PartsId !== null" name="tipe" ng-disabled="isBilling" ng-model="ldModel.MaterialTypeId" data="materialCategory" item-text="Name" item-value="MaterialTypeId" placeholder="Pilih Tipe" on-select="selectTypeParts(selected)">
            </bsselect>
            <em ng-messages="row1.tipe.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="typeMaterial"></bserrmsg> -->
        </div>
        <div class="form-group" style="margin-bottom:45px;" show-errors>
            <div class="form-inline">
                <label>No. Material</label>
                <bscheckbox ng-change="checkIsOPB(ldModel.IsOPB, ldModel)" ng-disabled="!(ldModel.MaterialTypeId == 2) || (ldModel.PartsCode !== undefined && ldModel.PartsCode !== '' &&  ldModel.PartsCode !== null) || ldModel.JobPartsId !== undefined " class="pull-right" ng-model="ldModel.IsOPB" label="OPB" true-value="1" false-value="0">
                </bscheckbox>
            </div>
            <!-- <input type="text" class="form-control" name="noMaterial" ng-model="ldModel.PartsCode" > -->
            <div class="col-xs-8" style="padding-left:0;">
                <bstypeahead placeholder="No. Material" name="noMaterial" ng-model="ldModel.PartsCode" ng-change="ubahPartsCode(ldModel)" get-data="getParts" item-text="PartsCode" ng-disabled="(ldModel.JobPartsId !== undefined && ldModel.JobPartsId !== null) || ldModel.IsOPB == 1" ng-maxlength="250" disallow-space loading="loadingUsers" noresult="noResults" selected="selected" on-select="onSelectParts"
                    on-noresult="onNoPartResult"  ng-maxlength="32" maxlength="32" on-gotresult="onGotResultP" ta-minlength="4" template-url="customTemplate.html" icon="fa-id-card-o">
                </bstypeahead>
                <em ng-show="ldModel.PartsCode.length < 4" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p>Minimal 4 karakter untuk pencarian</p>
                </em>
                <em ng-messages="row1.noMaterial.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="maxlength">Karakter terlalu banyak</p>
                </em>
                <em ng-show="ldModel.PartsCode.length >= 4" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p>&nbsp;</p>
                </em>
            </div>
            <div class="col-xs-4">
                <button class="rbtn btn" ng-disabled="!(ldModel.Qty !== null && ldModel.Qty !== undefined && partsAvailable) || (ldModel.MaterialRequestStatusId == 3 && ldModel.DownPayment != 0) || (ldModel.MaterialRequestStatusId == 4 && ldModel.DownPayment != 0) || (ldModel.MaterialRequestStatusId == 75 && ldModel.DownPayment != 0)" ng-click="checkAvailabilityParts(ldModel)">Cek Ketersediaan</button>
            </div>
            <bserrmsg field="noMaterial"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <label> </label>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Nama Material</bsreqlabel>
            <input type="text" class="form-control" ng-keypress="dissallowSemicolon($event)" name="namaMaterial" ng-model="ldModel.PartsName" ng-maxlength="64" maxlength="64" ng-disabled="ldModel.JobPartsId !== undefined && ldModel.JobPartsId !== null" ng-change="checkNameParts(ldModel.PartsName,ldModel)" required>
            <bserrmsg field="namaMaterial"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Quantity</bsreqlabel>
            <input step="1" type="number" ng-change="checkPrice(ldModel.RetailPrice)" ng-disabled="isBilling || ldModel.MaterialRequestStatusId == 80 || (ldModel.MaterialRequestStatusId == 3 && ldModel.DownPayment != 0) || (ldModel.MaterialRequestStatusId == 4 && ldModel.DownPayment != 0) || (ldModel.MaterialRequestStatusId == 75 && ldModel.DownPayment != 0)" required min=1 class="form-control" name="qty" ng-model="ldModel.Qty">

            <em ng-messages="row1.qty.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
                <p ng-message="step"> Nilai Qty Harus Satuan</p>
            </em>
            <!-- <bserrmsg field="qty"></bserrmsg> -->
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Satuan</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="satuan" ng-disabled="isBilling || isLock == true || (ldModel.MaterialRequestStatusId == 3 && ldModel.DownPayment != 0) || (ldModel.MaterialRequestStatusId == 4 && ldModel.DownPayment != 0) || (ldModel.MaterialRequestStatusId == 75 && ldModel.DownPayment != 0)" ng-model="ldModel.SatuanId" on-select="selectTypeUnitParts(selected)" data="unitData" item-text="Name" required item-value="MasterId" placeholder="Pilih Tipe"  >
            </bsselect>
            <em ng-messages="row1.satuan.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="satuan"></bserrmsg> -->
        </div>
        <div ng-show="(ldModel.MaterialTypeId == 1 && ldModel.Availbility == 'Tidak Tersedia') || ( ldModel.MaterialTypeId == 1 && ((ldModel.PartsCode == '' || ldModel.PartsCode == null || ldModel.PartsCode == undefined) && (ldModel.PartsName != null && ldModel.PartsName != undefined && ldModel.PartsName != '')) )" class="form-group" show-errors>
            <label>Tipe Order</label>
            <bsselect  search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="OrderType" ng-model="ldModel.OrderType" data="typeMData" item-text="Name" item-value="Id" placeholder="Pilih Tipe" 
            ng-disabled = "DisTipeOrder || isLock == true || (ldModel.MaterialRequestStatusId == 3 && ldModel.DownPayment != 0) 
            || (ldModel.MaterialRequestStatusId == 4 && ldModel.DownPayment != 0) 
            || (ldModel.MaterialRequestStatusId == 75 && ldModel.DownPayment != 0)
            || ldModel.IsOPB != 1 || (ldModel.OrderType != null || ldModel.OrderType != undefined)" skip-enable>
            </bsselect>
            <bserrmsg field="OrderType"></bserrmsg>
        </div>
        <div class="form-group">
            <label>ETA</label><span style="font-size: 10px;">(dd/mm/yyyy)</span>
            <!-- <bsdatepicker name="DateAppoint" ng-disabled="partsAvailable" date-options="DateOptions" ng-model="ldModel.ETA" ng-change="DateChange(dt)">
            </bsdatepicker> -->
            <bsdatepicker name="DateAppoint" ng-disabled="true" date-options="DateOptions" ng-model="ldModel.ETA" ng-change="DateChange(dt)">
            </bsdatepicker>
        </div>
        <div class="form-group" show-errors>
            <label>Ketersedian</label>
            <input type="text" min=0 class="form-control" ng-disabled="true" name="ketersedian" ng-model="ldModel.Availbility">
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group" ng-if="lmModel.JobTypeId != 57 && lmModel.JobTypeId != 2677 && lmModel.JobTypeId != 2675 && lmModel.JobTypeId != 2678" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <!--  ng-disabled="!isBilling" -->
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="ldModel.PaidById" data="paymentData" item-text="Name" item-value="MasterId" on-select="selectTypePaidParts(selected)" placeholder="Pilih Pembayaran" ng-disabled="JobIsWarranty == 1 || (ldModel.MaterialRequestStatusId == 3 && ldModel.DownPayment != 0) || (ldModel.MaterialRequestStatusId == 4 && ldModel.DownPayment != 0)" required>
            </bsselect>
            <em ng-messages="row1.pembayaran.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="pembayaran"></bserrmsg> -->
        </div>

        <div class="form-group" ng-if="lmModel.JobTypeId == 57 && lmModel.JobTypeId != 2677 && lmModel.JobTypeId != 2675 && lmModel.JobTypeId != 2678" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <!--  ng-disabled="!isBilling" -->
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="ldModel.PaidById" data="payment_pds" item-text="Name" item-value="MasterId" on-select="selectTypePaidParts(selected)" placeholder="Pilih Pembayaran" ng-disabled="JobIsWarranty == 1 || (ldModel.MaterialRequestStatusId == 3 && ldModel.DownPayment != 0) || (ldModel.MaterialRequestStatusId == 4 && ldModel.DownPayment != 0)" required>
            </bsselect>
            <em ng-messages="row1.pembayaran.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="pembayaran"></bserrmsg> -->
        </div>

        <div class="form-group" ng-if="lmModel.JobTypeId != 57 && lmModel.JobTypeId == 2677 && lmModel.JobTypeId != 2675 && lmModel.JobTypeId != 2678" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="ldModel.PaidById" data="paymentDataPart" item-text="Name" item-value="MasterId" on-select="selectTypePaidParts(selected)" placeholder="Pilih Pembayaran" required>
            </bsselect>
            <em ng-messages="row1.pembayaranPart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="pembayaran"></bserrmsg> -->
        </div>
        <div class="form-group" ng-if="lmModel.JobTypeId == 2678 || lmModel.JobTypeId == 2675 && lmModel.JobTypeId != 2677 && lmModel.JobTypeId != 57" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="ldModel.PaidById" data="paymentDataThereIstWarranty" item-text="Name" item-value="MasterId" on-select="selectTypePaidParts(selected)" ng-disabled="lmModel.JobTypeId == 2675 || lmModel.JobTypeId == 2678" placeholder="Pilih Pembayaran" required>
            </bsselect>
            <em ng-messages="row1.pembayaranPart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="pembayaran"></bserrmsg> -->
        </div>

        <div class="form-group" show-errors>
            <bsreqlabel>Harga</bsreqlabel>
            <input type="number" ng-change="checkPrice(ldModel.RetailPrice)" min=0 max=99999999999 class="form-control" name="harga" ng-if="ldModel.IsOPB != 1" ng-maxlength="11" maxlength="11"  ng-required="ldModel.PartsCode != null && ldModel.PartsCode != undefined" ng-disabled="(ldModel.IsOPB == null || ldModel.IsOPB == undefined || ldModel.IsOPB == 0) && (ldModel.PartsId != null && ldModel.PartsId != undefined)" ng-model="ldModel.RetailPrice">
            <input type="number" ng-change="checkPrice(ldModel.RetailPrice)"min=1 max=99999999999 class="form-control" name="hargaOPB" ng-if="ldModel.IsOPB == 1" ng-maxlength="11" maxlength="11"  ng-required="ldModel.IsOPB == 1" ng-disabled="(ldModel.IsOPB == 1) && (ldModel.PartsId != null && ldModel.PartsId != undefined)" ng-model="ldModel.RetailPrice">
            <em ng-messages="row1.harga.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <em ng-messages="row1.hargaOPB.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
                <p ng-message="min">Harga Tidak Boleh 0</p>
            </em>
            <!-- <bserrmsg field="harga"></bserrmsg> -->
        </div>
        <!--     <div class="form-group" show-errors>
      <label>Diskon</label>
      <input type="number" min=0 max="100" class="form-control" name="harga" ng-model="ldModel.Discount">
      <bserrmsg field="harga"></bserrmsg>
    </div> -->
        <div class="form-group" show-errors>
            <label>Sub Total</label>
            <input type="number" ng-hide="true" ng-disabled="true" min=0 class="form-control" name="subTotal" ng-model="ldModel.subTotal">
            <input type="text" ng-disabled="true" min=0 class="form-control" name="subTotal" ng-model="ldModel.xsubTotal" currency-formating number-only>
            <bserrmsg field="subTotal"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <label>Dp</label>
            <!-- <input type="text" currency-formating number-only ng-change="checkDp(ldModel.DownPayment, ldModel)" min=0 ng-maxlength="10" ng-disabled="isBilling ||disableDP || (ldModel.PaidById == 2277 || ldModel.PaidById == 30 || ldModel.PaidById == 31 || ldModel.PaidById == 2458) || ldModel.Availbility == 'Tersedia'" skip-enable class="form-control" name="Dp" ng-model="ldModel.DownPayment"> -->
            <input type="text" currency-formating number-only ng-change="checkDp(ldModel.DownPayment, ldModel)" min=0 ng-maxlength="10" ng-disabled="isBilling || ((disableDP || disableDP == null || disableDP == undefined) && ldModel.PaidById != 28) || ldModel.Availbility == 'Tersedia' || (ldModel.MaterialRequestStatusId == 3 && ldModel.DownPayment != 0) || (ldModel.MaterialRequestStatusId == 4 && ldModel.DownPayment != 0) || (ldModel.MaterialRequestStatusId == 75 && ldModel.DownPayment != 0)" skip-enable class="form-control" name="Dp" ng-model="ldModel.DownPayment">
            <bserrmsg field="Dp"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Tipe Diskon</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="diskon" ng-model="ldModel.DiscountTypeId" data="diskonData" item-text="Name" item-value="MasterId" on-select="selectTypeDiskonParts(selected)" ng-disabled="ldModel.PaidById == 2277 || ldModel.PaidById == 30 || JobIsWarranty == 1 || (ldModel.IsOPB != 1 && (ldModel.PartsCode == '' || ldModel.PartsCode == null || ldModel.PartsCode == undefined)) || (ldModel.MaterialRequestStatusId == 3 && ldModel.DownPayment != 0) || (ldModel.MaterialRequestStatusId == 4 && ldModel.DownPayment != 0) || (ldModel.MaterialRequestStatusId == 75 && ldModel.DownPayment != 0)" placeholder="Pilih Tipe Diskon" required>
            </bsselect>

            <em ng-messages="row1.diskon.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="diskon"></bserrmsg> -->
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>List Diskon</bsreqlabel>
            
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="diskon" ng-model="ldModel.DiscountTypeListId" ng-disabled="ldModel.DiscountTypeId == 0 || ldModel.DiscountTypeId == -1 || ldModel.DiscountTypeId == 10 || ldModel.DiscountTypeId == 3 || ldModel.PaidById == 2277 || ldModel.PaidById == 30 || JobIsWarranty == 1" data="diskonListData" item-text="Name" item-value="Id" on-select="selectTypeListDiskonPart(selected,ldModel.DiscountTypeId)" placeholder="Pilih List Diskon" ng-required="ldModel.DiscountTypeId == 1 || ldModel.DiscountTypeId == 2">
            </bsselect>
            <bserrmsg field="diskon"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <label ng-if="ldModel.DiscountTypeId != 0">Diskon</label>
            <bsreqlabel ng-if="ldModel.DiscountTypeId == 0">Diskon (min 1%)</bsreqlabel>
            <input type="number" step=0.01 ng-required="isCustomTask" ng-change="changeDiscount(ldModel.subTotal,ldModel.Discount)" ng-disabled="ldModel.DiscountTypeId != 0 || ldModel.PaidById == 2277 || ldModel.PaidById == 30 || JobIsWarranty == 1" ng-if="ldModel.DiscountTypeId != 0" min=0 max="100" class="form-control" name="Discount" ng-model="ldModel.Discount">
            <input type="number" step=0.01 ng-required="true" ng-change="changeDiscount(ldModel.subTotal,ldModel.Discount)" ng-disabled="ldModel.DiscountTypeId != 0 || ldModel.PaidById == 2277 || ldModel.PaidById == 30 || JobIsWarranty == 1" ng-if="ldModel.DiscountTypeId == 0" min=1 max="100" class="form-control" name="Discount" ng-model="ldModel.Discount">
            <bserrmsg field="Discount"></bserrmsg>
            <em ng-messages="row1.Discount.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
                <p ng-message="step">Discount hanya bisa 2 angka desimal</p>
                <p ng-message="max">Angka Terlalu Besar</p>
            </em>
        </div>
    </div>
    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
            <span ng-bind-html="match.model.PartsName | uibTypeaheadHighlight:query"></span>
            <!-- <span ng-bind-html="match.model.FullName | uibTypeaheadHighlight:query"></span> -->
        </a>
    </script>
    <div style="margin-top:50px; float: left;">
        &nbsp;
    </div>
</div>