<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{ 
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

</style>

<!-- [START] Gateway Form Before Entry -->
<div ng-if="isOverlayForm" ng-include="'app/parts/materialrequest/materialrequestgateway.html'">
</div>
<!-- [END] Gateway Form Before Entry -->

<bsform-grid
        ng-form="MaterialRequestForm"
        factory-name="MaterialRequest"
        model="mData"
        get-data="getData"
        model-id="Id"
        loading="loading"
        selected-rows="selectedRows"
        show-advsearch="on"
        hide-save-button="true"
        grid-hide-action-column="gridHideActionColumn"
        on-bulk-approve="onBulkApproveMR" 
        on-bulk-reject="onBulkRejectMR"
        hide-new-button="true"
        form-api="formApi"
       

        on-before-new-mode="onBeforeNewMode"
        on-before-edit-mode="onBeforeEditMode"
        on-before-delete-mode="onBeforeDeleteMode"
        on-show-detail="onShowDetail"
        rights-byte = "myRights"

        form-title="MaterialRequest" 
        modal-size="small"
        icon="fa fa-fw fa-users"
        >
        
    <bsform-advsearch>          
                                      
              <div class="row">
                <div class="col-md-2">
                <label class="control-label">Referensi MR</label>
                <!-- <select class="form-control" ng-options="ref for ref in items"> MaterialRequestStatusId            -->
                <select class="form-control" ng-model="mData.RefMRTypeId" ng-options="ref.name for ref in RefMRType">                     
                  </select>
                </div>  
                <div class="col-md-3">                
                  <label class="control-label">Status</label>
                  <!-- <select class="form-control" ng-model="myStatusMR" ng-options="status.name for status in statusMR">  -->
                    <select class="form-control" ng-model="mData.MaterialRequestStatusId" ng-options="status.name for status in statusMR | filter:filterStatusMR()"> 
                    <option value="">-- choose status --</option>
                  </select>
                </div> 
                <div class="col-md-2">
                <label class="control-label">Tanggal MR *</label>
                <div class="tanggal">
                  <bsdatepicker
                  name="startDate"
                  date-options="dateOptions" 
                  ng-model="mData.startDate"
                  required
                  >
                  </bsdatepicker>
                </div>                              
                </div>   
                <div class="col-md-1" style="width: 2%">
                  <label class="control-label">&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                  <label class="control-label">_</label>               
                </div>                                                                     
                <div class="col-md-2">
                <label class="control-label">&nbsp</label>
                <div class="tanggal">
                  <bsdatepicker
                  name="endDate"
                  date-options="dateOptions"
                  ng-model="mData.endDate"
                  required                  
                  >
                  </bsdatepicker>
                </div>                              
                </div> 
              </div>
              <!-- <br> -->
              <div class="row">
                <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
                </div>
                <div class="col-md-3">
                <label class="control-label">&nbsp</label>                              
                </div>
                <div class="col-md-4">                
                <label class="control-label">Mandatory ketika filter Referensi MR / Status</label> 
                </div>
                <div class="col-md-2">
                <label class="control-label">&nbsp</label>                
                </div>                              
              </div>
              <!-- Row Tengah -->
              <div class="row">
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">No. Referensi</label>
                    <input type="text" class="form-control" ng-model="mData.RefMRNo" placeholder=''>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">No. Polisi</label>
                    <input type="text" class="form-control" ng-model="mData.LicensePlate" placeholder=''>                  
                  </div>
                </div>  
                <!-- <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">&nbsp</label>  
                      <div>
                        <button class="btn btn-default" ng-click="hapusFilter()">Hapus </button>
                      </div>
                  </div>
                </div> -->               
                <div class="col-md-7 text-right">
                  <!--<div class="input-group">--> 
                    <label class="control-label">&nbsp</label>
                    <div class="">
                        <button class="btn wbtn pull-right" ng-click="hapusFilter()">Hapus Filter</button>
                    </div>              
                  <!--</div>-->
                </div>
            </div>
        </bsform-advsearch>


<!-- [START] Entry Form After Gateway Form -->
<fieldset>
<div ng-show="ref=='WO'"> 
        <div ng-include="'app/parts/materialrequest/referensi_MR/wo.html'">       
        </div>
</div>
<div ng-show="ref=='Sales Order'">
        <div ng-include="'app/parts/materialrequest/referensi_MR/salesorder.html'">       
        </div>
</div>
<div ng-show="ref=='Appointment'">
        <div ng-include="'app/parts/materialrequest/referensi_MR/ap.html'">       
        </div>
</div>
<!-- <div ng-show="ref=='Parts Return'">
        <div ng-include="'app/parts/materialrequest/referensi_MR/partsreturn.html'">       
        </div>
</div> -->
</fieldset>
<!-- [END] Entry Form After Gateway Form -->

<!-- [START] Edit Mode Region -->
<div> 
<div ng-show="isWO && isEditForm" ng-include="'app/parts/materialrequest/referensi_MR/wo_edit.html'"></div>
<div ng-show="isWO && !isEditForm" ng-include="'app/parts/materialrequest/referensi_MR/wo.html'"></div>

<div ng-show="isSO && isEditForm" ng-include="'app/parts/materialrequest/referensi_MR/so_edit.html'"></div>
<div ng-show="isSO && !isEditForm" ng-include="'app/parts/materialrequest/referensi_MR/salesorder.html'"></div>

<div ng-show="isAp && isEditForm" ng-include="'app/parts/materialrequest/referensi_MR/ap_edit.html'"></div>
<div ng-show="isAp && !isEditForm" ng-include="'app/parts/materialrequest/referensi_MR/ap.html'"></div>
<!-- <div ng-if="isPR" ng-include="'app/parts/materialrequest/referensi_MR/pr_edit.html'"></div> -->
</div>
<!-- [END] Edit Mode Region -->

</bsform-grid>