<!-- [START] New Mode Region -->
<style type="text/css">

.overlay{
    opacity:1;
    background-color:#ffffff;
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;

}

</style>

<div ng-if="isOverlayForm" class="overlay">
<fieldset>
<div class="container">
<table class="search">
    <tr>
        <td>
            <label>Referensi MR*</label>
            <select class="form-control" ng-model="selection" ng-options="item for item in items" ng-change="changedValue(selection)" ng-disabled="disableSelect" required>
            </select>
        </td>
        <td ng-switch on="selection" style="padding-left: 90px">
            <div ng-switch-when="WO"><label>No WO*</label><input type="text" name="wo" class="form-control" placeholder="WO"
            required>
            </div>
            <div ng-switch-when="Sales Order">No Sales Order<label>&nbsp</label><input type="text" name="so" class="form-control" placeholder="Sales Order"></div>
            <div ng-switch-when="Appointment">No Appointment<label>&nbsp</label><input type="text" name="to" class="form-control" placeholder="Appointment"></div>            
        </td>
        <td>
            <label>&nbsp</label>
        </td>
    </tr>
</table>
<hr/>
</div>
<!-- <div ng-switch on="selection" >
    <div ng-switch-when="WO">
        <div ng-include="'app/parts/goodsissue/referensi_GI/wo.html'">       
        </div>
    </div>
    <div ng-switch-when="Sales Order">
        <div ng-include="'app/parts/goodsissue/referensi_GI/salesorder.html'">       
        </div>
    </div>
    <div ng-switch-when="Transfer Order">
        <div ng-include="'app/parts/goodsissue/referensi_GI/transferorder.html'">       
        </div>
    </div>
    <div ng-switch-when="Parts Return">
        <div ng-include="'app/parts/goodsissue/referensi_GI/partsreturn.html'">       
        </div>
    </div>
</div> -->
</div>
</fieldset>
<!-- [END] New Mode Region --> 