<style type="text/css">
    /*@media only screen and (max-width: 600px) {
        .nav.nav-tabs {
            display: none;
        }
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    */

    .BodyRows{
    line-height: 20px;
    }
    .ColOne{
        border:none !Important; 
        text-align:left !Important;
    }
    .ColTwo{
        border:none !Important; 
        text-align:right !Important;
    }
    .ColThree
    {
        border:none !Important;
        text-align:right !Important;
    }
    .ColLine
    {
        border: 1px solid #000;
    } 
    .containersign {
        /*padding: 10px 10px 40px 10px;*/
        position: relative;
        margin: 0 auto 0 auto;
        height: 100%;
    }
    
    .containersign .signature {
        border: 1px solid dimgrey;
        margin: 0 auto;
        cursor: pointer;
    }
    
    .buttons{
        display: none !important
    }

    .signature_container{
        display: none !important
    }
    
    .containersign .signature canvas {
        border: 1px solid #999;
        margin: 0 auto;
        cursor: pointer;
    }
    
    .containersign .buttons {
        position: absolute;
        /*bottom: 10px;
        left: 10px;*/
    }
    
    .containersign .sizes {
        position: absolute;
        /*bottom: 10px;
        right: 10px;*/
    }
    
    .containersign .sizes input {
        width: 4em;
        text-align: center;
    }
    
    .result {
        border: 1px solid blue;
        margin: 30px auto 0 auto;
        height: 220px;
        width: 568px;
    }
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript" src="js/signature.js"></script>
<script type="text/javascript" src="js/signature_pad.js"></script>
        
        
<div id="tabContainer">

                        
						<table style="width:100% ">
                                    <tr>
                                        <th style="width: 30% ">Unit {{selected_data_ApprovalSendingQuotation.VehicleTypeDescription}}</th>
                                        <th style="width: 30% "></th>
                                        <th style="width: 30% "></th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="float:left ">Harga Kendaraan</P>
                                        </td>
                                        <td>
                                            <p style="float:right ">Rp.</p>
                                        </td>
                                        <td>
                                            <p style="float:right ">{{selected_data_ApprovalSendingQuotation.SellPrice |number:2}}</p>
                                        </td>
                                    </tr>
									<tr>
                                        <td>
                                            <p style="float:left ">Diskon</P>
                                        </td>
                                        <td>
                                            <p style="float:right ">Rp.</p>
                                        </td>
                                        <td>
                                            <p style="float:right ">{{selected_data_ApprovalSendingQuotation.Discount |number:2}}</p>
                                        </td>
                                    </tr>
									<tr>
                                        <td>
                                            <p style="float:left ">Harga Stlh. Diskon</P>
                                        </td>
                                        <td>
                                            <p style="float:right ">Rp.</p>
                                        </td>
                                        <td>
                                            <p style="float:right ">{{(selected_data_ApprovalSendingQuotation.SellPrice-selected_data_ApprovalSendingQuotation.Discount) |number:2}}</p>
                                        </td>
                                    </tr>
									<tr>
                                        <td>
                                            <p style="float:left ">DPP</P>
                                        </td>
                                        <td>
                                            <p style="float:right ">Rp.</p>
                                        </td>
                                        <td>
                                            <p style="float:right ">{{selected_data_ApprovalSendingQuotation.DPP |number:2}}</p>
                                        </td>
                                    </tr>
									<tr>
                                        <td>
                                            <p style="float:left ">PPN</P>
                                        </td>
                                        <td>
                                            <p style="float:right ">Rp.</p>
                                        </td>
                                        <td>
                                            <p style="float:right ">{{selected_data_ApprovalSendingQuotation.VAT |number:2}}</p>
                                        </td>
                                    </tr>
									<tr>
                                        <td>
                                            <p style="float:left ">PPH22</P>
                                        </td>
                                        <td>
                                            <p style="float:right ">Rp.</p>
                                        </td>
                                        <td>
                                            <p style="float:right ">{{selected_data_ApprovalSendingQuotation.PPH22 |number:2}}</p>
                                        </td>
                                    </tr>
						</table>			
                        <table ng-show="selected_data_ApprovalSendingQuotation.GrandTotal > 0" style="width: 100%;background-color: #d53337 ;color: white;padding: 3px ">
                            <tr>
                                <th style="width: 30% "></th>
                                <th style="width: 30% "></th>
                                <th style="width: 30% "></th>
                            </tr>
                            <!--<tr>
                                        <td><b style="float:left ">Total Per Unit</b></td>
                                        <td><b style="float:right ">Rp.</b></td>
                                        <td><b style="float:right ">184.000.000,-</b></td>
                                    </tr>
                                    <tr>
                                        <td><b style="float:left ">Jumlah Unit Yang Dibeli</b></td>

                                        <td><b style="float:right ">1</b></td>
                                    </tr>-->
                            <tr>
                                <td><b style="float:left ">Total Harga</b></td>
                                <td><b style="float:right ">Rp.</b></td>
                                <td><b style="float:right "><u>{{selected_data_ApprovalSendingQuotation.Total |number:2}},-</u></b></td>
                            </tr>
                        </table>

                    </div>



                </div>
</div>