<script type="text/javascript">
function IfGotProblemWithModal() {
	$('body .modals').remove();
}
</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}
.card{background:#fff;border-radius:2px;position:relative}
.card-2
{box-shadow:0 3px 3px rgba(0,0,0,.1),0 2px 8px rgba(0,0,0,.1)}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<!--<script type="text/javascript" src="js/uiscript.js"></script>-->


			<div ng-show="ApprovalSendingQuotationMain" style="min-height: 89vh;">
			
			
			<div id="filterData" class="row" style="margin:0; margin-top:5px;">
			<div id="comboBoxFilter" style="float:left; width:20%; font-size:12px;">
					<div class="form-group filterMarg">
						<select required ng-model="ApprovalSendingQuotationSearchLimit" class="form-control" ng-options="item.SearchOptionId as item.SearchOptionName for item in optionApprovalSendingQuotationSearchLimit"
						 placeholder="Filter">
								<!--<option label="Filter" value="" disabled>Limit</option>-->
							</select>
					</div>
				</div>
			<div id="comboBoxFilter" style="float:left; width:30%; font-size:12px;">
					<div class="form-group filterMarg">
						<select required ng-model="ApprovalSendingQuotationSearchCriteria" class="form-control" ng-options="item.SearchOptionId as item.SearchOptionName for item in optionApprovalSendingQuotationSearchCriteria"
						 placeholder="Filter">
								<!--<option label="Filter" value="" disabled>Filter</option>-->
							</select>
					</div>
				</div>
				<div id="inputFilter" style="float:left; width:30%;">
					<div class="form-group filterMarg">
						<input type="text" required ng-model="ApprovalSendingQuotationSearchValue" class="form-control" name="ModelKendaraan" placeholder="Search" ng-maxlength="100">
					</div>
				</div>
				<div id="btnFilter" style="float:left; width:10%;">
					<button style=" margin-right: 0px!important" class="rbtn btn mobileFilterBtn" ng-click="SearchApprovalSending()">
						<i class="fa fa-filter iconFilter"></i>
						</button>
				</div>
				<div id="btnFilter" style="float:left; width:10%;">
					<button style=" margin-right: 0px!important" class="rbtn btn mobileFilterBtn" ng-click="ApprovalSendingQuotationRefresh()">
						<i class="fa fa-refresh iconFilter"></i>
						</button>
				</div>
			</div>
			
			<br/>
			<div class="listData">
				<button class="btn btn-default dropdown-toggle dropdown-toggle"
				 type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
				Approval Sending Quotation
				<span></span>
				<span style="float:right; margin-right:3px;">  </span>
				</button>
			</div>
			<div style="max-height:400px;overflow-y:auto;max-width: 100%;overflow-x: hidden;" class="list-group" id="dropdownContentListDataRadio" aria-labelledby="dropdownMenu1">
			<div aria-labelledby="dropdownMenu1" class="list-group-item card-2" ng-repeat="ContentApprovalSendingQuotationGabungan in ApprovalSendingQuotationGabungan" 
				style="padding:10px 0px 10px 10px;position: relative;float:left;width:100%;margin-bottom:10px;">
			
				<div style="float:left;width:94%">
					<ul class="list-inline" style="font-size:16px;">
						<li><label style="float: left;"><input style="margin-right:5px;" type="checkbox" name="selectedSuspect[]" value="{{ContentApprovalSendingQuotationGabungan}}" ng-checked="selectionApprovalSendingQuotation.indexOf(ContentApprovalSendingQuotationGabungan) > -1" ng-click="toggleSelection(ContentApprovalSendingQuotationGabungan)" />Sending Quotation:{{ContentApprovalSendingQuotationGabungan.QuotationNo}}</label></li>
					</ul>
					<ul class="list-inline" style="font-size:16px;margin-top:-10px;">
						<li><label style="float: left;">No.Rangka: {{ContentApprovalSendingQuotationGabungan.FrameNo}}</label></li>
					</ul>
					<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
						<li><label>Cabang Yang Meminta: {{ContentApprovalSendingQuotationGabungan.OutletRequestorName}}</label></li>	
					</ul>
					<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
						<li><label>Model Tipe: {{ContentApprovalSendingQuotationGabungan.VehicleTypeDescription}}</label></li>
						<li><label>Warna: {{ContentApprovalSendingQuotationGabungan.ColorName}}</label></li>						
					</ul>
					<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
						<li><label>Tanggal Pengiriman: {{ContentApprovalSendingQuotationGabungan.SentDate| date:"dd MMM yyyy"}}</label></li>	
					</ul>
					<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
						<li><label>Status Quotation: {{ContentApprovalSendingQuotationGabungan.QuotationStatusName}}</label></li>	
					</ul>
					<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
						<li><label>Grand Total: Rp.{{ContentApprovalSendingQuotationGabungan.GrandTotal| number}}</label></li>	
					</ul>
					<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
						<li><label>Status: {{ContentApprovalSendingQuotationGabungan.StatusApprovalName}}</label></li>	
					</ul>
				</div>
				<div  style="display : inline-block;position:absolute;align-items : center;float:left;height: 100%;width:6%">
					<div style="float:left;height: 100%;display :flex;align-items : center;">
						<span ng-click="ActionApprovalSendingQuotation(ContentApprovalSendingQuotationGabungan)" class="glyphicon glyphicon-option-vertical" style="float:center;font-size:16px">
						</span>
					</div>
				</div>
			</div>
			</div>
			<div style="margin-top:-28px;">
				<div ng-hide="ApprovalSendingQuotationHideIncrement" ng-click="ApprovalSendingQuotationIncrementLimit()" class="list-group-item ng-scope" role="button" align="center" style="background-color:#e0e2e6;">
					<i  class="fa fa-angle-double-down" ></i>
				</div>
			</div>
			<div style="margin-left:0px;margin-right:0px;margin-top:25px;border:none !important" class="row list-group-item">
				
			
				<button ng-disabled="selectionApprovalSendingQuotation.length<=0||SelectionAman_ApprovalSendingQuotation==false" ng-click="FromListSetujuApprovalSendingQuotation()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: right;">
				<span class="ladda-label">Setuju
					</span><span class="ladda-spinner"></span>
				</button>

				<button ng-disabled="selectionApprovalSendingQuotation.length<=0||SelectionAman_ApprovalSendingQuotation==false" ng-click="FromListTidakSetujuApprovalSendingQuotation()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: right;">
				<span class="ladda-label">Tolak
					</span><span class="ladda-spinner"></span>
				</button>
			</div>
			</div>

<div ng-show="ApprovalSendingQuotationDetail">
		<div class="row" style="margin-right:0px;margin-top:10px;margin-bottom:10px">
			<button ng-show="mApprovalSendingQuotation.StatusApprovalName=='Diajukan'" ng-click="SetujuApprovalSendingQuotation()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right;">
			<span class="ladda-label">Setuju
				</span><span class="ladda-spinner"></span>
			</button>

			<button ng-show="mApprovalSendingQuotation.StatusApprovalName=='Diajukan'" ng-click="TidakSetujuApprovalSendingQuotation()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right;">
			<span class="ladda-label">Tolak
				</span><span class="ladda-spinner"></span>
			</button>

			<button style="float:right" ng-click="BatalApprovalSendingQuotation()" type="button" class="wbtn btn ng-binding ladda-button">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
				</span><span class="ladda-spinner"></span>
			</button>
		</div>
		<div class="row">
		<p>
			<ul class="list-inline" style="margin-left: 10px;font-size: 14px;">
				<li><b>No. Quotation:</b></li>
				<li>{{mApprovalSendingQuotation.QuotationNo}}</li>
			</ul>
			<ul class="list-inline" style="margin-left: 10px;font-size: 14px;">
				<li><b>Tanggal Quotation:</b></li>
				<li>{{mApprovalSendingQuotation.QuotationDate | date:"dd MMM yyyy"}}</li>
			</ul>
			<ul class="list-inline" style="margin-left: 10px;font-size: 14px;">
				<li><b>Cabang Yang Meminta:</b></li>
				<li>{{mApprovalSendingQuotation.OutletRequestorName}}</li>
			</ul>
			<ul class="list-inline" style="margin-left: 10px;font-size: 14px;">
				<li><b>Tipe Quotation:</b></li>
				<li>{{mApprovalSendingQuotation.QuotationTypeName}}</li>
			</ul>
			<ul class="list-inline" style="margin-left: 10px;font-size: 14px;">
				<li><b>Status Quotation:</b></li>
				<li>{{mApprovalSendingQuotation.QuotationStatusName}}</li>
			</ul>
			<ul class="list-inline" style="margin-left: 10px;font-size: 14px;">
				<li><b>Alasan Batal Quotation:</b></li>
				<li>{{mApprovalSendingQuotation.NoteCancel}}</li>
			</ul>
			<ul class="list-inline" style="margin-left: 10px;font-size: 14px;">
				<li><b>Status:</b></li>
				<li>{{mApprovalSendingQuotation.StatusApprovalName}}</li>
			</ul>
		</p>
		</div>
	
		<div class="listData">
			<button ng-click="Show_Hide_ApprovalSendingQuotation_Detail_InformasiPengiriman_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			 type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
			Informasi Pengiriman
			<span></span>
			<span style="float:right; margin-right:3px;"> {{Show_Hide_ApprovalSendingQuotation_Detail_InformasiPengiriman_PanelIcon}} </span>
			</button>
		</div>
		<div ng-show="Show_Hide_ApprovalSendingQuotation_Detail_InformasiPengiriman" class="formContent">
			<div class="list-group" id="dropdownContent" aria-labelledby="dropdownMenu1" style="">
			<p>
				<ul class="list-inline" style="font-size: 14px;">
					<li><b>Nama Penerima:</b></li>
					<li>{{mApprovalSendingQuotation.ReceiveName}}</li>
				</ul>
				<ul class="list-inline" style="font-size: 14px;">
					<li><b>Alamat Pengiriman:</b></li>
					<li>{{mApprovalSendingQuotation.SentAddress}}</li>
				</ul>
				<ul class="list-inline" style="font-size: 14px;">
					<li><b>Handphone Penerima:</b></li>
					<li>{{mApprovalSendingQuotation.ReceiveHP}}</li>
				</ul>
				<ul class="list-inline" style="font-size: 14px;">
					<li><b>Tanggal Pengiriman:</b></li>
					<li>{{mApprovalSendingQuotation.SentDate| date:"dd MMM yyyy"}}</li>
				</ul>
			</p>
			</div>
		</div>

		<div class="listData">
			<button ng-click="Show_Hide_ApprovalSendingQuotation_Detail_InfoUnitYangAkanDibeli_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			 type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
			Info Unit Yang Akan Dibeli
			<span></span>
			<span style="float:right; margin-right:3px;"> {{Show_Hide_ApprovalSendingQuotation_Detail_InfoUnitYangAkanDibeli_PanelIcon}} </span>
			</button>
		</div>
		<div ng-show="Show_Hide_ApprovalSendingQuotation_Detail_InfoUnitYangAkanDibeli" class="formContent">
			<div class="list-group" id="dropdownContent" aria-labelledby="dropdownMenu1" style="">
			<p style="font-size: 14px;">
				<ul class="list-inline" style="font-size: 14px;">
					<li><b>Model Tipe:</b></li>
					<li>{{mApprovalSendingQuotation.VehicleTypeDescription}}</li>
				</ul>
				<ul class="list-inline" style="font-size: 14px;">
					<li><b>Warna:</b></li>
					<li>{{mApprovalSendingQuotation.ColorName}}</li>
				</ul>
				<ul class="list-inline" style="font-size: 14px;">
					<li><b>No. Rangka:</b></li>
					<li>{{mApprovalSendingQuotation.FrameNo}}</li>
				</ul>
				<ul class="list-inline" style="font-size: 14px;">
					<li><b>Tahun Produksi:</b></li>
					<li>{{mApprovalSendingQuotation.ProductionYear}}</li>
				</ul>
				<ul class="list-inline" style="font-size: 14px;">
					<li><b>Lokasi Unit:</b></li>
					<li>{{mApprovalSendingQuotation.LastLocation}}</li>
				</ul>
			</p>	
			</div>
		</div>
		
		<div class="listData">
			<button ng-click="Show_Hide_ApprovalSendingQuotation_Detail_RincianHarga_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			 type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
			Rincian Harga
			<span></span>
			<span style="float:right; margin-right:3px;"> {{Show_Hide_ApprovalSendingQuotation_Detail_RincianHarga_PanelIcon}} </span>
			</button>
		</div>
		<div ng-show="Show_Hide_ApprovalSendingQuotation_Detail_RincianHarga" class="formContent">
			<!--<div ng-include src="'app/sales/demandSupply/approvalSendingQuotation/approvalSendingQuotationRincianHarga.html'"></div>-->
			<div id="tabContainer">

                        
						<table style="width:100% ">
                                    <tr>
                                        <th style="width: 30% ">Unit {{selected_data_ApprovalSendingQuotation.VehicleTypeDescription}}</th>
                                        <th style="width: 30% "></th>
                                        <th style="width: 30% "></th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="float:left ">Harga Kendaraan</P>
                                        </td>
                                        <td>
                                            <p style="float:right ">Rp.</p>
                                        </td>
                                        <td>
                                            <p style="float:right ">{{selected_data_ApprovalSendingQuotation.SellPrice + selected_data_ApprovalSendingQuotation.ExpeditionSellPrice |number:2}}</p>
                                        </td>
                                    </tr>
									<tr>
                                        <td>
                                            <p style="float:left ">Diskon</P>
                                        </td>
                                        <td>
                                            <p style="float:right ">Rp.</p>
                                        </td>
                                        <td>
                                            <p style="float:right ">{{selected_data_ApprovalSendingQuotation.Discount + selected_data_ApprovalSendingQuotation.ExpeditionDiscount |number:2}}</p>
                                        </td>
                                    </tr>
									<tr>
                                        <td>
                                            <p style="float:left ">Harga Stlh. Diskon</P>
                                        </td>
                                        <td>
                                            <p style="float:right ">Rp.</p>
                                        </td>
                                        <td>
                                            <p style="float:right ">{{(selected_data_ApprovalSendingQuotation.SellPrice + selected_data_ApprovalSendingQuotation.ExpeditionSellPrice - selected_data_ApprovalSendingQuotation.Discount - selected_data_ApprovalSendingQuotation.ExpeditionDiscount) |number:2}}</p>
                                        </td>
                                    </tr>
									<!--<tr>
                                        <td>
                                            <p style="float:left ">DPP</P>
                                        </td>
                                        <td>
                                            <p style="float:right ">Rp.</p>
                                        </td>
                                        <td>
                                            <p style="float:right ">{{selected_data_ApprovalSendingQuotation.TotalDPP |number:2}}</p>
                                        </td>
                                    </tr>
									<tr>
                                        <td>
                                            <p style="float:left ">PPN</P>
                                        </td>
                                        <td>
                                            <p style="float:right ">Rp.</p>
                                        </td>
                                        <td>
                                            <p style="float:right ">{{selected_data_ApprovalSendingQuotation.TotalVAT |number:2}}</p>
                                        </td>
                                    </tr>-->
									<tr>
                                        <td>
                                            <p style="float:left ">PPH22</P>
                                        </td>
                                        <td>
                                            <p style="float:right ">Rp.</p>
                                        </td>
                                        <td>
                                            <p style="float:right ">{{selected_data_ApprovalSendingQuotation.PPH22 |number:2}}</p>
                                        </td>
                                    </tr>
									<tr>
                                        <td>
                                            <p style="float:left ">Biaya Ekspedisi TAM</P>
                                        </td>
                                        <td>
                                            <p style="float:right ">Rp.</p>
                                        </td>
                                        <td>
                                            <p style="float:right ">{{selected_data_ApprovalSendingQuotation.TAMExpedition |number:2}}</p>
                                        </td>
                                    </tr>
						</table>			
                        <!--<table ng-show="selected_data_ApprovalSendingQuotation.GrandTotal > 0" style="width: 100%;background-color: #d53337 ;color: white;padding: 3px ">
                            <tr>
                                <th style="width: 30% "></th>
                                <th style="width: 30% "></th>
                                <th style="width: 30% "></th>
                            </tr>
                            <tr>
                                <td><b style="float:left ">Total Harga</b></td>
                                <td><b style="float:right ">Rp.</b></td>
                                <td><b style="float:right "><u>{{selected_data_ApprovalSendingQuotation.GrandTotal |number:2}},-</u></b></td>
                            </tr>
                        </table>-->

                    </div>
		</div>
		

</div>

<div class="ui modal ModalAlasanPenolakanApprovalSendingQuotation" role="dialog">
        
            <div class="modal-header">
                <button ng-click="BatalAlasanApprovalSendingQuotation()" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alasan Penolakan</h4>
            </div>
			<br/>


            <div class="modal-body">
                <textarea style="width:100%" rows="10" cols="80" maxlength="512" placeholder="input alasan..."
							 ng-model="mApprovalSendingQuotation.RejectReason"></textarea>
            </div>
            <div class="modal-footer">
                <!--<button onclick="Lanjut_Clicked()" class="rbtn btn ng-binding ladda-button" style="float: right;">Lanjutkan</button>-->
                <button ng-click="SubmitAlasanApprovalSendingQuotation()" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-disabled="mApprovalSendingQuotation.RejectReason==undefined">Simpan</button>
				<button ng-click="BatalAlasanApprovalSendingQuotation()" class="wbtn btn ng-binding ladda-button" style="float: right;">Batal</button>
            </div>
</div>

<div class="ui modal ModalActionApprovalSendingQuotation" role="dialog">
        
            <div class="modal-header">
                <button ng-click="BatalActionApprovalSendingQuotation()" type="button" class="close" data-dismiss="modal">&times;</button>
                <!--<h4 class="modal-title">Apa Yang Ingin Anda Lakukan?</h4>-->
            </div>
			<br/>


            <div class="modal-body">
                <a ng-click="SelectApprovalSendingQuotation()">
                    <li class="list-group-item item-modal">
                        <span><i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i></span>Lihat Detail</li>
                </a>
				<!--<a ng-click="SetujuApprovalSendingQuotation()">
                    <li class="list-group-item item-modal">
                        <span><i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i></span>Setuju</li>
                </a>
				<a ng-click="TidakSetujuApprovalSendingQuotation()">
                    <li class="list-group-item item-modal">
                        <span><i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i></span>Reject</li>
                </a>-->
            </div>
            <div class="modal-footer">
				<!--<button ng-click="BatalActionApprovalSendingQuotation()" class="wbtn btn ng-binding ladda-button" style="float: right;">Batal</button>-->
            </div>
</div>

<div class="ui modal ModalApprovalSendingQuotationActionApprovalMulti" role="dialog">
            <div class="modal-header">
                <button type="button" ng-click="ModalApprovalSendingQuotationActionApprovalMultiBatal()" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sending Quotation</h4>
            </div>
            <div class="modal-body">
                <p>Berikut Ini Harga Ekspedisi dari TAM</p>
				<p>
					<table border="1" style="width:100%">
						<tr>
							<th>No.</th>
							<th>No. Quotation</th>
							<th>No. Rangka</th>
							<th>Harga Ekspedisi TAM</th>
						</tr>
						<tr ng-repeat="IndividualselectionApprovalSendingQuotationBuatApprove in selectionApprovalSendingQuotation">
							<td>{{$index+1}}</td>
							<td>{{IndividualselectionApprovalSendingQuotationBuatApprove.QuotationNo}}</td>
							<td>{{IndividualselectionApprovalSendingQuotationBuatApprove.FrameNo}}</td>
							<td>{{IndividualselectionApprovalSendingQuotationBuatApprove.TAMExpedition}}</td>
						</tr>
					</table>
				</p>
				<p>
					Apakah Anda Menyetujui harga diatas?
				</p>
            </div>
            <div class="modal-footer">
                <button ng-click="ModalApprovalSendingQuotationActionApprovalMultiApprove()" class="rbtn btn ng-binding ladda-button" style="float: right;">Ya</button>
                <button ng-click="ModalApprovalSendingQuotationActionApprovalMultiBatal()" class="wbtn btn ng-binding ladda-button" style="float: right;">Tidak</button>
            </div>
</div>

<div class="ui modal ModalApprovalSendingQuotationActionApprovalIndividual" role="dialog">
            <div class="modal-header">
                <button type="button" ng-click="ModalApprovalSendingQuotationActionApprovalIndividualBatal()" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sending Quotation</h4>
            </div>
			<br/>
			<br/>
            <div class="modal-body">
                <p>Berikut Ini Harga Ekspedisi dari TAM</p>
				<p>
					<table border="1">
						<tr>
							<th>No.</th>
							<th>No. Quotation</th>
							<th>Frame No</th>
							<th>Harga Ekspedisi TAM</th>
						</tr>
						<tr>
							<td>1</td>
							<td>{{mApprovalSendingQuotation.QuotationNo}}</td>
							<td>{{mApprovalSendingQuotation.FrameNo}}</td>
							<td>{{mApprovalSendingQuotation.TAMExpedition}}</td>
						</tr>
					</table>
				</p>
				<p>
					Apakah Anda Menyetujui harga diatas?
				</p>
            </div>
            <div class="modal-footer">
                <button ng-click="ModalApprovalSendingQuotationActionApprovalIndividualApprove()" class="rbtn btn ng-binding ladda-button" style="float: right;">Ya</button>
                <button ng-click="ModalApprovalSendingQuotationActionApprovalIndividualBatal()" class="wbtn btn ng-binding ladda-button" style="float: right;">Tidak</button>
            </div>
</div>