<!--Harus item-->
<div style="font-size: 12px;">
    <b>{{item.CustomerName}}</b>
    <button ng-click="openModal(item)"  class="btn btn-default" style="float:right; border:0; background-color:transparent; box-shadow:none;" id="myButton" type="button"> 
			<span class="glyphicon glyphicon-option-vertical" style="float:center;"> 
			</span> 
	</button>
</div>
<p>
    <ul class="list-inline" style="font-size:12px;">
        <li><b>No. SPK : </b>{{item.FormSPKNo}}</li>
        <li><b>No. Rangka / RRN : </b>{{item.FrameNo}} / {{item.RRNNo}}</li>
        <li><b>Status : </b>{{item.StatusPDDName}}</li>
    </ul>

</p>