<script type="text/javascript">

</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

fieldset.scheduler-border {
    width:auto; border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="stylesheet" type="text/javascript" href="https://cdn.rawgit.com/eligrey/FileSaver.js/">
		
<ng-form name="FormGrossProfitParts" class="row">
	<div class="col-md-12">
		<div class="col-md-3">
			<bsreqlabel>Tanggal</bsreqlabel>
			<div class="input-icon-right ">
				<bsdatepicker name="ReportGrossProfitPartsTanggalAwal" ng-change="tanggalPeriode_Changed()" format="dd/MM/yyyy" date-options="dateOptions" ng-model="ReportGrossProfitParts_TanggalAwal" max-date="dateNow">
				</bsdatepicker>
			</div>
		</div>
		<div class="col-md-1" style="margin-top:30px;" align="center">
			s.d.
		</div>
		<div class="col-md-3" style="margin-top:20px;">
			<div class="input-icon-right ">
				<bsdatepicker name="ReportGrossProfitPartsTanggalAkhir" ng-change="tanggalPeriode_Changed()" format="dd/MM/yyyy" date-options="dateOptions" ng-model="ReportGrossProfitParts_TanggalAkhir" max-date="dateNow">
				</bsdatepicker>
			</div>
		</div>
		
		<div class="col-md-3">
			<bsreqlabel>Nama Branch</bsreqlabel>
			<div class="input-icon-right">
				<bsselect ng-model="ReportGrossProfitParts_NamaBranch" data="optionsReportGrossProfitParts_NamaBranch" ng-change="NamaBranch_Changed()"
				item-text="BranchName" item-value="BranchId" on-select="value(selected)" placeholder="Branch" icon="fa fa-search"
				ng-disabled="!Main_NamaBranch_EnableDisable">
				</bsselect>
				<span ng-if="!NamaBranchOK" style="color: #b94a48" class="help-block">{{errNamaBranch}}</span>

				<!-- <input type="text" class="form-control" name="ReportAdvancePaymentBranch" placeholder="Branch" ng-model="ReportAdvancePayment_Branch" 
					ng-maxlength="50" ng-disabled="!ReportAdvancePayment_Branch_isDisabled"> -->
			</div>
		</div>
	</div>
	
	<!-- <div class="col-md-12 has-error">
		<div class="has-error" style="margin-left:15px;">
			<span ng-if="!tanggalPeriodeOK" class="help-block">{{errTanggalPeriode}}</span>
			<span ng-if="FormGrossProfitParts.ReportGrossProfitPartsTanggalAwal.$error.required && FormGrossProfitParts.ReportGrossProfitPartsTanggalAwal.$touched"
			 class="help-block">Field tanggal awal wajib diisi</span>
			<span ng-if="FormGrossProfitParts.ReportGrossProfitPartsTanggalAkhir.$error.required && FormGrossProfitParts.ReportGrossProfitPartsTanggalAkhir.$touched"
			 class="help-block">Field tanggal akhir wajib diisi</span>
		</div>
	</div> -->

	
	<div class="col-md-12" style="margin-top: 30px">
		<div class="col-md-3">
			<bslabel>Tipe Material</bslabel>
			<bsselect ng-change="ReportGrossProfitParts_TipeMaterial_Changed()" ng-model="ReportGrossProfitParts_TipeMaterial"
			 data="optionsReportGrossProfitPartsTipeMaterial" item-text="name" item-value="value" on-select="value(selected)" placeholder="Model"
			 icon="fa fa-search">
			</bsselect>
		</div>
		
		<div class="col-md-1">			
			<bsreqlabel>Tipe Report</bsreqlabel>
		</div>
		<div class="col-md-3">

			<p><input type="checkbox" ng-model="ReportGrossProfitParts_TipeReport1" ng-value="1">&nbsp;Parts yang dijual via service</p>
			<p><input type="checkbox" ng-model="ReportGrossProfitParts_TipeReport2" ng-value="2">&nbsp;Parts yang dijual secara langsung</p>

			<!-- <bsreqlabel>Tipe Report</bsreqlabel>
			<bsselect ng-model="ReportGrossProfitParts_TipeReport" data="optionsReportGrossProfitParts_TipeReport" 
			item-text="name" item-value="value" on-select="value(selected)" placeholder="TipeReport" icon="fa fa-search">
			</bsselect> -->
			
			<!-- <input type="text" class="form-control" name="ReportAdvancePaymentBranch" placeholder="Branch" ng-model="ReportAdvancePayment_Branch" 
				ng-maxlength="50" ng-disabled="!ReportAdvancePayment_Branch_isDisabled"> -->
		</div>
	</div>
	
	
	<div class="col-md-12" style="margin-top: 30px">
		<div class="col-md-3">
			<bsrlabel>Pelanggan PKS?</bslabel>
			<bsselect ng-change="ReportGrossProfitParts_PKS_Changed()" ng-model="ReportGrossProfitParts_PKS"
			 data="optionsReportGrossProfitPartsPKS" item-text="name" item-value="value" on-select="value(selected)" placeholder="Status Fleet"
			 icon="fa fa-search">
			</bsselect>
		</div>
		
		<div class="col-md-3">
			<bsrlabel>Status Batal Billing</bslabel>
			<bsselect ng-change="ReportGrossProfitParts_StatusBilling_Changed()" ng-model="ReportGrossProfitParts_StatusBilling"
			 data="optionsReportGrossProfitPartsStatusBilling" item-text="name" item-value="value" on-select="value(selected)" placeholder="Status Billing"
			 icon="fa fa-search">
			</bsselect>
		</div>
	</div>
	
	<div class="col-md-12">
		<button id="Report_Excel" ng-click="Report_Excel_Clicked()"
			type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px" ng-disabled="!Report_Excel_EnableDisable">
			<span class="ladda-label">
				Excel
			</span><span class="ladda-spinner"></span>
		</button>
	</div>
</ng-form>
