        <div ng-controller="DashboardArOverdue">
            <article class="col-lg-12">
                <div class="row">
                    <div id="widget-appointment" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <h2><strong>AR Overdue</strong></h2>
                        </header>
                        <div class="widget-body">
							<div class="row" style="text-align: center">
								<div ng-show="ShowLoadingDashboard_ArOverdue==true" align="center">
								<div class="loader"></div>
								</div>
								<div ng-show="ShowLoadingDashboard_ArOverdue==false" style="float:right;margin-right:20px">TOTAL AR:{{TotalIsichartpie3d}}</div>
								<div ng-show="ShowLoadingDashboard_ArOverdue==false" id="chartdivpie3d"></div>
							</div>
                        </div>
                    </div>
                </div>
            </article>
        </div>