<div ng-controller="DashboardProspectMonitoring">
    <article class="col-sm-6 col-md-6 col-lg-6">
        <div class="row">
            <div id="widget-appointment" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                <header>
                    <h2><strong>Prospect</strong></h2>
                </header>
                <div class="widget-body">
                    <div style="text-align: center">
					<strong style="font-size:16px"><label><b>Total Model</b></label></strong>
					</div>
					<div style="color: transparent;text-align: center">
					<strong style="font-size:16px"><label><b>.</b></label></strong>
					</div>
					<div style="color: transparent;text-align: center">
					<strong style="font-size:16px"><label><b>.</b></label></strong>
					</div>
					<br/>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div ng-show="ShowLoadingDashboard_ProspectMonitoring1==true" align="center">
							<div class="loader"></div>
						</div>
						<div ng-show="ShowLoadingDashboard_ProspectMonitoring1==false" class="row" style="text-align: center">
                            <p align="center">Total Prospect</p>
							<div id="chartdivProspectWithLabel1"></div>
                        </div>
                        <div ng-show="ShowLoadingDashboard_ProspectMonitoring1==false" class="row" style="text-align: center" class="color1">

                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div ng-show="ShowLoadingDashboard_ProspectMonitoring2==true" align="center">
							<div class="loader"></div>
						</div>
						<div ng-show="ShowLoadingDashboard_ProspectMonitoring2==false" class="row" style="text-align: center">
                            <p align="center">Hot Prospect</p>
							<div id="chartdivProspectWithLabel2"></div>
                        </div>
                        <div ng-show="ShowLoadingDashboard_ProspectMonitoring2==false" class="row" style="text-align: center" class="color1">

                        </div>
                    </div>
					<div>
						<p align="center">Drop Hot:{{ProspectMonitoringDropHot}}</p>
					</div>


                </div>
            </div>
        </div>
    </article>
</div>