<div ng-controller="DashboardProspectMonitoringModel">
    <article class="col-sm-6 col-md-6 col-lg-6">
        <div class="row">
            <div id="widget-appointment" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                <header>
                    <h2><strong>Prospect</strong>
                </header>
                <div class="widget-body">
					<div style="text-align: center">
                    <strong style="font-size:16px"><label><b>{{ProspectMonitoringNamaModel_1}}</label></strong>
					</div>
					<div style="text-align: center">
                    <strong style="font-size:16px"><label ng-if="ProspectMonitoringNamaModel_2==undefined" style="color: transparent"><b>.</b></label><label ng-if="ProspectMonitoringNamaModel_2!=undefined"><b>{{ProspectMonitoringNamaModel_2}}</b></label></strong>
					</div>
					<div style="text-align: center">
                    <strong style="font-size:16px"><label ng-if="ProspectMonitoringNamaModel_3==undefined" style="color: transparent"><b>.</b></label><label ng-if="ProspectMonitoringNamaModel_3!=undefined"><b>{{ProspectMonitoringNamaModel_3}}</b></label></strong>
					</div>
					
					<br/>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div ng-show="ShowLoadingDashboard_ProspectMonitoringModel1==true" align="center">
							<div class="loader"></div>
						</div>
						<div ng-show="ShowLoadingDashboard_ProspectMonitoringModel1==false" class="row" style="text-align: center">
                            <p align="center">Total Prospect</p>
							<div id="chartdivProspectWithLabel1_2"></div>
                        </div>
                        <div ng-show="ShowLoadingDashboard_ProspectMonitoringModel1==false" class="row" style="text-align: center" class="color1">

                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div ng-show="ShowLoadingDashboard_ProspectMonitoringModel2==true" align="center">
							<div class="loader"></div>
						</div>
						<div ng-show="ShowLoadingDashboard_ProspectMonitoringModel2==false" class="row" style="text-align: center">
                            <p align="center">Hot Prospect</p>
							<div id="chartdivProspectWithLabel2_2"></div>
                        </div>
                        <div ng-show="ShowLoadingDashboard_ProspectMonitoringModel2==false" class="row" style="text-align: center" class="color1">

                        </div>
                    </div>
					<div>
						<p align="center">Drop Hot:{{ProspectMonitoringModelDropHot}}</p>
					</div>



                </div>
            </div>
        </div>
    </article>
</div>