        <div ng-controller="DashboardRsBoard">
            <article class="col-lg-12">
                <div class="row">
                    <div id="widget-appointment" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <h2><strong>RS</strong></h2>
                        </header>
                        <div class="widget-body">
							<div ng-show="ShowLoadingDashboard_RsBoard==true" align="center">
								<div class="loader"></div>
							</div>
							<!--<div ng-show="ShowLoadingDashboard_RsBoard==false" class="row da_tinggi_tabel" style="text-align: center;">
									
									<div class="headDiv">
										<div class="c1 w40">
										<div class="c1 w1" ng-class="ach_total_rs">
											<div class="KotakTotalAchievementAtas">Achievement</div>
											<div class="KotakTotalAchievementAtas">{{BoardRsTotalAchievement}} ({{BoardRsTotalAchievementPercent}}&#37;)</div>
										</div>
										<div class="c1 w50" ng-class="warna_target_rs">
											<div class="KotakTotalAchievementKiri">Target RS</div>
											<div class="KotakTotalAchievementKiri">{{BoardRsTargetRs}}</div>
										</div>

										<div class="c1 w50" ng-class="ach_total_last_rs"> 
											<div class="KotakTotalAchievementKanan">ACH</div>
											<div class="KotakTotalAchievementKanan">{{TodayMonthMinus1_Raw|date:'MMM yy'}}</div>
											<div class="KotakTotalAchievementKanan">{{BoardRsTargetRsLast}}	({{BoardRsTargetRsLastPercentage}}&#37;)</div>
										</div>
										</div>
										
										<div class="c1 w20">
										<div class="c1 w2" ng-class="ach_total_t1_rs">
											<div class="KotakAchievementAtas">ACH {{BoardRsCat1}}</div>
											<div class="KotakAchievementAtas">{{BoardRsAch1}} ({{BoardRsAch1Percentage}}&#37;)</div>
										</div>
										<div class="c1 w50_2" ng-class="warna_target_rs">
											<div class="KotakAchievementKiriAtas">Target RS</div>
											<div class="KotakAchievementKiriBawah">{{BoardRsAch1Target}}</div>
										</div>

										<div class="c1 w50_2" ng-class="ach_total_t1_last_rs">
											<div class="KotakAchievementKanan">ACH</div>
											<div class="KotakAchievementKanan">{{TodayMonthMinus1_Raw|date:'MMM yy'}}</div>
											<div class="KotakAchievementKanan">{{BoardRsAch1Last}}</div>
										</div>
										<div class="c1 w2" ng-class="ach_total_t2_rs">
											<div class="KotakAchievementAtas">ACH {{BoardRsCat4}}</div>
											<div class="KotakAchievementAtas">{{BoardRsAch4}} ({{BoardRsAch4Percentage}}&#37;)</div>
										</div>
										<div class="c1 w50_2" ng-class="warna_target_rs">
											<div class="KotakAchievementKiriAtas">Target RS</div>
											<div class="KotakAchievementKiriBawah">{{BoardRsAch4Target}}</div>
										</div>

										<div class="c1 w50_2" ng-class="ach_total_t2_last_rs">
											<div class="KotakAchievementKanan">ACH</div>
											<div class="KotakAchievementKanan">{{TodayMonthMinus1_Raw|date:'MMM yy'}}</div>
											<div class="KotakAchievementKanan">{{BoardRsAch4Last}}</div>
										</div>
										</div>
										
										<div class="c1 w20">
										<div class="c1 w2" ng-class="ach_total_t3_rs">
											<div class="KotakAchievementAtas">ACH {{BoardRsCat2}}</div>
											<div class="KotakAchievementAtas">{{BoardRsAch2}} ({{BoardRsAch2Percentage}}&#37;)</div>
										</div>
										<div class="c1 w50_2" ng-class="warna_target_rs">
											<div class="KotakAchievementKiriAtas">Target RS</div>
											<div class="KotakAchievementKiriBawah">{{BoardRsAch2Target}}</div>
										</div>

										<div class="c1 w50_2" ng-class="ach_total_t3_last_rs">
											<div class="KotakAchievementKanan">ACH</div>
											<div class="KotakAchievementKanan">{{TodayMonthMinus1_Raw|date:'MMM yy'}}</div>
											<div class="KotakAchievementKanan">{{BoardRsAch2Last}}</div>
										</div>
										<div class="c1 w2" ng-class="ach_total_t4_rs">
											<div class="KotakAchievementAtas">ACH {{BoardRsCat5}}</div>
											<div class="KotakAchievementAtas">{{BoardRsAch5}} ({{BoardRsAch5Percentage}}&#37;)</div>
										</div>
										<div class="c1 w50_2" ng-class="warna_target_rs">
											<div class="KotakAchievementKiriAtas">Target RS</div>
											<div class="KotakAchievementKiriBawah">{{BoardRsAch5Target}}</div>
										</div>

										<div class="c1 w50_2" ng-class="ach_total_t4_last_rs">
											<div class="KotakAchievementKanan">ACH</div>
											<div class="KotakAchievementKanan">{{TodayMonthMinus1_Raw|date:'MMM yy'}}</div>
											<div class="KotakAchievementKanan">{{BoardRsAch5Last}}</div>
										</div>
										</div>
										
										<div class="c1 w20" >
										<div class="c1 w2" style="border-right:1px solid;" ng-class="ach_total_t5_rs">
											<div class="KotakAchievementAtas">ACH {{BoardRsCat3}}</div>
											<div class="KotakAchievementAtas">{{BoardRsAch3}} ({{BoardRsAch3Percentage}}&#37;)</div>
										</div>
										<div class="c1 w50_2" ng-class="warna_target_rs">
											<div class="KotakAchievementKiriAtas">Target RS</div>
											<div class="KotakAchievementKiriBawah">{{BoardRsAch3Target}}</div>
										</div>

										<div class="c1 w50_2" style="border-right:1px solid;" ng-class="ach_total_t5_last_rs">
											<div class="KotakAchievementKanan">ACH</div>
											<div class="KotakAchievementKanan">{{TodayMonthMinus1_Raw|date:'MMM yy'}}</div>
											<div class="KotakAchievementKanan">{{BoardRsAch3Last}}</div>
										</div>
										<div class="c1 w2" style="border-right:1px solid;" ng-class="ach_total_t6_rs">
											<div class="KotakAchievementAtas">ACH {{BoardRsCat6}}</div>
											<div class="KotakAchievementAtas">{{BoardRsAch6}} ({{BoardRsAch6Percentage}}&#37;)</div>
										</div>
										<div class="c1 w50_2" ng-class="warna_target_rs">
											<div class="KotakAchievementKiriAtas">Target RS</div>
											<div class="KotakAchievementKiriBawah">{{BoardRsAch6Target}}</div>
										</div>

										<div class="c1 w50_2" style="border-right:1px solid;" ng-class="ach_total_t6_last_rs">
											<div class="KotakAchievementKanan">ACH</div>
											<div class="KotakAchievementKanan">{{TodayMonthMinus1_Raw|date:'MMM yy'}}</div>
											<div class="KotakAchievementKanan">{{BoardRsAch6Last}}</div>
										</div>
										</div>
									
									</div>
							
							</div>-->
							<!--<div class="numberCircle">30</div>-->
							

							<!-- <div ng-show="ShowLoadingDashboard_RsBoard==false" class="row" style="float:left;width:100%;">
								<div style="float:left;width:60%;">
									<div class="widget-body">
										<div id="RsDashboardGantiTabelKeGrafik"></div>
									</div>
								</div> -->


								<!-- mike punya diagram side batang -->
								<!-- <div style="float:left; width:40%;">
									<div style="height:500px; margin-bottom: -50%;" align="right">
								
										<div class="tabelAtas" style="height:15%;margin-top:50px">
											<table class="LebarTabelDashBaru" style="height:43px;border-collapse: collapse">
												<tr align="center" style="border:2px solid white;">
													<td align="right" style="border:2px solid white;width:40%; padding-right: 3px;"> &nbsp;</td>
													<td><i style="border:2px solid white;width:20%" class="fa fa-trophy iconDashboard"
															aria-hidden="true"></i></td>
													<td><i style="border:2px solid white;width:20%" class="fa fa-dot-circle-o iconDashboard"
															aria-hidden="true"></i></td>
													<td><i style="border:2px solid white;width:20%" class="fa fa-history iconDashboard"
															aria-hidden="true"></i></td>
												</tr>
											</table>
										</div>
								
								
										<div style="height:15%;margin-top:-34px">
											<table class="LebarTabelDashBaru" style="height:43px;border-collapse: collapse">
												<tr style="border:2px solid white;">
								
													<td align="right" style="border:2px solid white;width:40%; padding-right: 3px;">Other</td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="ach_total_t6_rs">
														<b>{{BoardRsAch6}}</b></td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="warna_target_rs">
														<b>{{BoardRsAch6Target}}</b></td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="ach_total_t6_last_rs">
														<b>{{BoardRsAch6Last}}</b></td>
												</tr>
											</table>
										</div>
								
								
								
										<div style="height:15%;margin-top:-34px">
											<table class="LebarTabelDashBaru" style="height:43px;border-collapse: collapse">
												<tr style="border:2px solid white;">
													<td align="right" style="border:2px solid white;width:40%; padding-right: 3px;">Avanza</td>
								
													<td align="center" style="border:2px solid white;width:20%" ng-class="ach_total_t1_rs">
														<b>{{BoardRsAch1}}</b></td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="warna_target_rs">
														<b>{{BoardRsAch1Target}}</b></td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="ach_total_t1_last_rs">
														<b>{{BoardRsAch1Last}}</b></td>
												</tr>
											</table>
										</div>
										<div style="height:15%;margin-top:-34px">
											<table class="LebarTabelDashBaru" style="height:43px;border-collapse: collapse">
												<tr style="border:2px solid white;">
													<td align="right" style="border:2px solid white;width:40%; padding-right: 3px;">Corolla</td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="ach_total_t3_rs">
														<b>{{BoardRsAch2}}</b></td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="warna_target_rs">
														<b>{{BoardRsAch2Target}}</b></td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="ach_total_t3_last_rs">
														<b>{{BoardRsAch2Last}}</b></td>
												</tr>
											</table>
										</div>
										<div style="height:15%;margin-top:-34px">
											<table class="LebarTabelDashBaru" style="height:43px;border-collapse: collapse">
												<tr style="border:2px solid white;">
													<td align="right" style="border:2px solid white;width:40%; padding-right: 3px;">Transmover</td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="ach_total_t5_rs">
														<b>{{BoardRsAch3}}</b></td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="warna_target_rs">
														<b>{{BoardRsAch3Target}}</b></td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="ach_total_t5_last_rs">
														<b>{{BoardRsAch3Last}}</b></td>
												</tr>
											</table>
										</div>
										<div style="height:15%;margin-top:-34px">
											<table class="LebarTabelDashBaru" style="height:43px;border-collapse: collapse">
												<tr style="border:2px solid white;">
													<td align="right" style="border:2px solid white;width:40%; padding-right: 3px;">Calya</td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="ach_total_t2_rs">
														<b>{{BoardRsAch4}}</b></td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="warna_target_rs">
														<b>{{BoardRsAch4Target}}</b></td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="ach_total_t2_last_rs">
														<b>{{BoardRsAch4Last}}</b></td>
												</tr>
											</table>
										</div>
										<div style="height:15%;margin-top:-34px">
											<table class="LebarTabelDashBaru" style="height:43px;border-collapse: collapse">
												<tr style="border:2px solid white;">
													<td align="right" style="border:2px solid white;width:40%; padding-right: 3px;">Dyna</td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="ach_total_t4_rs">
														<b>{{BoardRsAch5}}</b></td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="warna_target_rs">
														<b>{{BoardRsAch5Target}}</b></td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="ach_total_t4_last_rs">
														<b>{{BoardRsAch5Last}}</b></td>
												</tr>
											</table>
										</div>
										<div style="height:15%;margin-top:-34px">
											<table class="LebarTabelDashBaru" style="height:43px;border-collapse: collapse">
												<tr style="border:2px solid white;">
													<td align="right" style="border:2px solid white;width:40%; padding-right: 3px;">Total</td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="ach_total_rs">
														<b>{{BoardRsTotalAchievement}}</b></td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="warna_target_rs">
														<b>{{BoardRsTargetRs}}</b></td>
													<td align="center" style="border:2px solid white;width:20%" ng-class="ach_total_last_rs">
														<b>{{BoardRsTargetRsLast}}</b></td>
												</tr>
											</table>
										</div>
								
									</div>
								</div> -->
								<!-- end mike punya diagram side batang -->

								<div ng-show="ShowLoadingDashboard_RsBoard==false" class="row" style="float:left;width:100%;">

									<div class="DashboardDiagram" align="center">
										<div class="widget-body">
											
						
												<div class="container_circle" align="center">
													<a class="tooltipCustom" data-tooltip="{{BoardRsTotalAchievement}}/{{BoardRsTargetRs}}">
														<div class="warnaAsli " ng-class="ach_total_rs">
															<div class="circleDiagram hvr-grow">
																<div align="center"> Achv/Target <br>
																	<span>{{BoardRsTotalAchievement}}/{{BoardRsTargetRs}}</span>
																</div>
															</div>
															<div class="kotak hvr-grow" ng-class="ach_total_last_rs">
																{{BoardRsTargetRsLast}}
															</div>
														</div>
													</a>
												</div>



										</div>
									</div>


								<div class="DashboardTabel">
									<div style="height:500px; margin-bottom: -50%;" align="right"> 
											<div class="tabelAtas" style="height:15%;margin-top:50px">
												<table class="LebarTabelDashBaru">

													
												<tr>
													<td align="right" class="namaMobilStyle"> &nbsp;</td>
													<td align="center"><i class="fa fa-trophy iconDashboard" aria-hidden="true"></i></td>
													<td align="center"><i class="fa fa-dot-circle-o iconDashboard" aria-hidden="true"></i></td>
													<td align="center"><i class="fa fa-history iconDashboard" aria-hidden="true"></i></td>
												</tr>

												<tr ng-repeat="RS in SelectRSCar">
													<td align="right" class="namaMobilStyle">{{SelectRSCar[$index].carName}} &nbsp;</td>
													<td align="center" ng-class="SelectRSCar[$index].ach_total_rs"><b>{{SelectRSCar[$index].BoardRsAch}}</b></td>
													<td align="center" ng-class="SelectRSCar[$index].warna_target_rs"><b>{{SelectRSCar[$index].BoardRsAchTarget}}</b></td>
													<td align="center" ng-class="SelectRSCar[$index].ach_total_last_rs"><b>{{SelectRSCar[$index].BoardRsAchLast}}</b></td>
												</tr>
												
												<!-- <tr>
													<td align="right" class="namaMobilStyle">{{BoardRsCat5}} &nbsp;</td>
													<td align="center" ng-class="ach_total_t5_rs"><b>{{BoardRsAch5}}</b></td>
													<td align="center" ng-class="warna_target_rs"><b>{{BoardRsAch5Target}}</b></td>
													<td align="center" ng-class="ach_total_t5_last_rs"><b>{{BoardRsAch5Last}}</b></td>
												</tr>

												<tr>
													<td align="right" class="namaMobilStyle">{{BoardRsCat1}} &nbsp;</td>
													<td align="center" ng-class="ach_total_t1_rs"><b>{{BoardRsAch1}}</b></td>
													<td align="center" ng-class="warna_target_rs"><b>{{BoardRsAch1Target}}</b></td>
													<td align="center" ng-class="ach_total_t1_last_rs"><b>{{BoardRsAch1Last}}</b></td>
												</tr>
							
												<tr>
													<td align="right" class="namaMobilStyle">{{BoardRsCat2}} &nbsp;</td>
													<td align="center" ng-class="ach_total_t2_rs"><b>{{BoardRsAch2}}</b></td>
													<td align="center" ng-class="warna_target_rs"><b>{{BoardRsAch2Target}}</b></td>
													<td align="center" ng-class="ach_total_t2_last_rs"><b>{{BoardRsAch2Last}}</b></td>
												</tr>
										
												<tr>
													<td align="right" class="namaMobilStyle">{{BoardRsCat3}} &nbsp;</td>
													<td align="center" ng-class="ach_total_t3_rs"><b>{{BoardRsAch3}}</b></td>
													<td align="center" ng-class="warna_target_rs"><b>{{BoardRsAch3Target}}</b></td>
													<td align="center" ng-class="ach_total_t3_last_rs"><b>{{BoardRsAch3Last}}</b></td>
												</tr>
										
												<tr>
													<td align="right" class="namaMobilStyle">{{BoardRsCat4}} &nbsp;</td>
													<td align="center" ng-class="ach_total_t4_rs"><b>{{BoardRsAch4}}</b></td>
													<td align="center" ng-class="warna_target_rs"><b>{{BoardRsAch4Target}}</b></td>
													<td align="center" ng-class="ach_total_t4_last_rs"><b>{{BoardRsAch4Last}}</b></td>
												</tr> -->
								
												

											
												<!-- <tr>
													<td align="right">Total&nbsp;</td>
													<td align="center" ng-class="ach_total_rs"><b>{{BoardRsTotalAchievement}}</b></td>
													<td align="center" ng-class="warna_target_rs"><b>{{BoardRsTargetRs}}</b></td>
													<td align="center" ng-class="ach_total_last_rs"><b>{{BoardRsTargetRsLast}}</b></td>
												</tr> -->
											</table>
										</div>
										
									</div>
								</div>

								<div class="col-md-12 margintabelBawah">
									<table align="center">
										<tr>
											<td>Achievement &nbsp; </td>
											<td class="PentolLegend" style=" background-color:red"></td>
											<td>&lt;50% &nbsp;</td>
								
											<td class="PentolLegend" style=" background-color:yellow"></td>
											<td>50-99% &nbsp;</td>
								
											<td class="PentolLegend" style=" background-color:#34EB14"></td>
											<td>100%</td>
											<td></td>
										</tr>
									</table>
								</div>

							</div>

							

							
							
                        </div>
						
						<!--<div class="widget-body">
							<div id="RsDashboardGantiTabelKeGrafik"></div>
						</div>-->
                    </div>
                </div>
            </article>
        </div>