        <div ng-controller="DashboardSpkBoard">
            <article class="col-lg-12">
                <div class="row">
                    <div id="widget-appointment" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <h2><strong>SPK</strong></h2>
                        </header>
                        <div class="widget-body">
							<div ng-show="ShowLoadingDashboard_SpkBoard==true" align="center">
								<div class="loader"></div>
							</div>
							<!--<div ng-show="ShowLoadingDashboard_SpkBoard==false" class="row da_tinggi_tabel" style="text-align: center;">
									
									<div class="headDiv">
										<div class="c1 w40">
										<div class="c1 w1" ng-class="ach_total_spk">
											<div class="KotakTotalAchievementAtas">Achievement</div>
											<div class="KotakTotalAchievementAtas">{{BoardSpkTotalAchievement}} ({{BoardSpkTotalAchievementPercent}}&#37;)</div>
										</div>
										<div class="c1 w50" ng-class="warna_target_spk">
											<div class="KotakTotalAchievementKiri">Target SPK</div>
											<div class="KotakTotalAchievementKiri">{{BoardSpkTargetSpk}}</div>
										</div>

										<div class="c1 w50" ng-class="ach_total_last_spk"> 
											<div class="KotakTotalAchievementKanan">ACH</div>
											<div class="KotakTotalAchievementKanan">{{TodayMonthMinus1_Raw|date:'MMM yy'}}</div>
											<div class="KotakTotalAchievementKanan">{{BoardSpkTargetSpkLast}}	({{BoardSpkTargetSpkLastPercentage}}&#37;)</div>
										</div>
										</div>
										
										<div class="c1 w20">
										<div class="c1 w2" ng-class="ach_total_t1_spk">
											<div class="KotakAchievementAtas">ACH {{BoardSpkCat1}}</div>
											<div class="KotakAchievementAtas">{{BoardSpkAch1}} ({{BoardSpkAch1Percentage}}&#37;)</div>
										</div>
										<div class="c1 w50_2" ng-class="warna_target_spk">
											<div class="KotakAchievementKiriAtas">Target SPK</div>
											<div class="KotakAchievementKiriBawah">{{BoardSpkAch1Target}}</div>
										</div>

										<div class="c1 w50_2" ng-class="ach_total_t1_last_spk">
											<div class="KotakAchievementKanan">ACH</div>
											<div class="KotakAchievementKanan">{{TodayMonthMinus1_Raw|date:'MMM yy'}}</div>
											<div class="KotakAchievementKanan">{{BoardSpkAch1Last}}</div>
										</div>
										<div class="c1 w2" ng-class="ach_total_t2_spk">
											<div class="KotakAchievementAtas">ACH {{BoardSpkCat4}}</div>
											<div class="KotakAchievementAtas">{{BoardSpkAch4}} ({{BoardSpkAch4Percentage}}&#37;)</div>
										</div>
										<div class="c1 w50_2" ng-class="warna_target_spk">
											<div class="KotakAchievementKiriAtas">Target SPK</div>
											<div class="KotakAchievementKiriBawah">{{BoardSpkAch4Target}}</div>
										</div>

										<div class="c1 w50_2" ng-class="ach_total_t2_last_spk">
											<div class="KotakAchievementKanan">ACH</div>
											<div class="KotakAchievementKanan">{{TodayMonthMinus1_Raw|date:'MMM yy'}}</div>
											<div class="KotakAchievementKanan">{{BoardSpkAch4Last}}</div>
										</div>
										</div>
										
										<div class="c1 w20">
										<div class="c1 w2" ng-class="ach_total_t3_spk">
											<div class="KotakAchievementAtas">ACH {{BoardSpkCat2}}</div>
											<div class="KotakAchievementAtas">{{BoardSpkAch2}} ({{BoardSpkAch2Percentage}}&#37;)</div>
										</div>
										<div class="c1 w50_2" ng-class="warna_target_spk">
											<div class="KotakAchievementKiriAtas">Target SPK</div>
											<div class="KotakAchievementKiriBawah">{{BoardSpkAch2Target}}</div>
										</div>

										<div class="c1 w50_2" ng-class="ach_total_t3_last_spk">
											<div class="KotakAchievementKanan">ACH</div>
											<div class="KotakAchievementKanan">{{TodayMonthMinus1_Raw|date:'MMM yy'}}</div>
											<div class="KotakAchievementKanan">{{BoardSpkAch2Last}}</div>
										</div>
										<div class="c1 w2" ng-class="ach_total_t4_spk">
											<div class="KotakAchievementAtas">ACH {{BoardSpkCat5}}</div>
											<div class="KotakAchievementAtas">{{BoardSpkAch5}} ({{BoardSpkAch5Percentage}}&#37;)</div>
										</div>
										<div class="c1 w50_2" ng-class="warna_target_spk">
											<div class="KotakAchievementKiriAtas">Target SPK</div>
											<div class="KotakAchievementKiriBawah">{{BoardSpkAch5Target}}</div>
										</div>

										<div class="c1 w50_2" ng-class="ach_total_t4_last_spk">
											<div class="KotakAchievementKanan">ACH</div>
											<div class="KotakAchievementKanan">{{TodayMonthMinus1_Raw|date:'MMM yy'}}</div>
											<div class="KotakAchievementKanan">{{BoardSpkAch5Last}}</div>
										</div>
										</div>
										
										<div class="c1 w20" >
										<div class="c1 w2" style="border-right:1px solid;" ng-class="ach_total_t5_spk">
											<div class="KotakAchievementAtas">ACH {{BoardSpkCat3}}</div>
											<div class="KotakAchievementAtas">{{BoardSpkAch3}} ({{BoardSpkAch3Percentage}}&#37;)</div>
										</div>
										<div class="c1 w50_2" ng-class="warna_target_spk">
											<div class="KotakAchievementKiriAtas">Target SPK</div>
											<div class="KotakAchievementKiriBawah">{{BoardSpkAch3Target}}</div>
										</div>

										<div class="c1 w50_2" style="border-right:1px solid;" ng-class="ach_total_t5_last_spk">
											<div class="KotakAchievementKanan">ACH</div>
											<div class="KotakAchievementKanan">{{TodayMonthMinus1_Raw|date:'MMM yy'}}</div>
											<div class="KotakAchievementKanan">{{BoardSpkAch3Last}}</div>
										</div>
										<div class="c1 w2" style="border-right:1px solid;" ng-class="ach_total_t6_spk">
											<div class="KotakAchievementAtas">ACH {{BoardSpkCat6}}</div>
											<div class="KotakAchievementAtas">{{BoardSpkAch6}} ({{BoardSpkAch6Percentage}}&#37;)</div>
										</div>
										<div class="c1 w50_2" ng-class="warna_target_spk">
											<div class="KotakAchievementKiriAtas">Target SPK</div>
											<div class="KotakAchievementKiriBawah">{{BoardSpkAch6Target}}</div>
										</div>

										<div class="c1 w50_2" style="border-right:1px solid;" ng-class="ach_total_t6_last_spk">
											<div class="KotakAchievementKanan">ACH</div>
											<div class="KotakAchievementKanan">{{TodayMonthMinus1_Raw|date:'MMM yy'}}</div>
											<div class="KotakAchievementKanan">{{BoardSpkAch6Last}}</div>
										</div>
										</div>
									
									</div>
							
							</div>-->

							<!-- mike punya -->
							<!-- <div ng-show="ShowLoadingDashboard_SpkBoard==false" class="row" style="float:left;width:100%;">
								<div style="float:left;width:90%;">
									<div class="widget-body">
										<div id="SpkDashboardGantiTabelKeGrafik"></div>
									</div>
									
								</div>
								<div style="float:left;width:10%;">
									<div style="height:500px" align="right">
										<div style="height:15%;margin-top:20px">
											<table class="LebarTabelDashBaru" border="1" style="height:43px;">
												<tr>
													<td align="center" style="width:33%" ng-class="ach_total_t6_spk"><b>{{BoardSpkAch6}}</b></td>
													<td align="center" style="width:33%" ng-class="warna_target_spk"><b>{{BoardSpkAch6Target}}</b></td>
													<td align="center" style="width:33%" ng-class="ach_total_t6_last_spk"><b>{{BoardSpkAch6Last}}</b></td>
												</tr>
											</table>
										</div>
										<div style="height:15%;margin-top:-25px">
											<table class="LebarTabelDashBaru" border="1" style="height:43px;">
												<tr>
													<td align="center" style="width:33%" ng-class="ach_total_t1_spk"><b>{{BoardSpkAch1}}</b></td>
													<td align="center" style="width:33%" ng-class="warna_target_spk"><b>{{BoardSpkAch1Target}}</b></td>
													<td align="center" style="width:33%" ng-class="ach_total_t1_last_spk"><b>{{BoardSpkAch1Last}}</b></td>
												</tr>
											</table>
										</div>
										<div style="height:15%;margin-top:-25px">
											<table class="LebarTabelDashBaru" border="1" style="height:43px;">
												<tr>
													<td align="center" style="width:33%" ng-class="ach_total_t3_spk"><b>{{BoardSpkAch2}}</b></td>
													<td align="center" style="width:33%" ng-class="warna_target_spk"><b>{{BoardSpkAch2Target}}</b></td>
													<td align="center" style="width:33%" ng-class="ach_total_t3_last_spk"><b>{{BoardSpkAch2Last}}</b></td>
												</tr>
											</table>
										</div>
										<div style="height:15%;margin-top:-25px">
											<table class="LebarTabelDashBaru" border="1" style="height:43px;">
												<tr>
													<td align="center" style="width:33%" ng-class="ach_total_t5_spk"><b>{{BoardSpkAch3}}</b></td>
													<td align="center" style="width:33%" ng-class="warna_target_spk"><b>{{BoardSpkAch3Target}}</b></td>
													<td align="center" style="width:33%" ng-class="ach_total_t5_last_spk"><b>{{BoardSpkAch3Last}}</b></td>
												</tr>
											</table>
										</div>
										<div style="height:15%;margin-top:-25px">
											<table class="LebarTabelDashBaru" border="1" style="height:43px;">
												<tr>
													<td align="center" style="width:33%" ng-class="ach_total_t2_spk"><b>{{BoardSpkAch4}}</b></td>
													<td align="center" style="width:33%" ng-class="warna_target_spk"><b>{{BoardSpkAch4Target}}</b></td>
													<td align="center" style="width:33%" ng-class="ach_total_t2_last_spk"><b>{{BoardSpkAch4Last}}</b></td>
												</tr>
											</table>
										</div>
										<div style="height:15%;margin-top:-25px">
											<table class="LebarTabelDashBaru" border="1" style="height:43px;">
												<tr>
													<td align="center" style="width:33%" ng-class="ach_total_t4_spk"><b>{{BoardSpkAch5}}</b></td>
													<td align="center" style="width:33%" ng-class="warna_target_spk"><b>{{BoardSpkAch5Target}}</b></td>
													<td align="center" style="width:33%" ng-class="ach_total_t4_last_spk"><b>{{BoardSpkAch5Last}}</b></td>
												</tr>
											</table>
										</div>
										<div style="height:15%;margin-top:-25px">
											<table class="LebarTabelDashBaru" border="1" style="height:43px;">
												<tr>
													<td align="center" style="width:33%" ng-class="ach_total_spk"><b>{{BoardSpkTotalAchievement}}</b></td>
													<td align="center" style="width:33%" ng-class="warna_target_spk"><b>{{BoardSpkTargetSpk}}</b></td>
													<td align="center" style="width:33%" ng-class="ach_total_last_spk"><b>{{BoardSpkTargetSpkLast}}</b></td>
												</tr>
											</table>
										</div>
										
									</div>
								</div>
							</div> -->
							<!-- end mike punya -->


							<div ng-show="ShowLoadingDashboard_SpkBoard==false" class="row" style="float:left;width:100%;">
								


										<div class="DashboardDiagram" align="center">
											<div class="widget-body">
										
										
												<div class="container_circle" align="center">
													<a class="tooltipCustom" data-tooltip="{{BoardSpkTotalAchievement}}/{{BoardSpkTargetSpk}}">
														<div class="warnaAsli " ng-class="ach_total_spk">
															<div class="circleDiagram hvr-grow">
																<div align="center"> Achv/Target <br>
																	<span>{{BoardSpkTotalAchievement}}/{{BoardSpkTargetSpk}}</span>
																</div>
															</div>
															<div class="kotak hvr-grow" ng-class="ach_total_last_spk">
																{{BoardSpkTargetSpkLast}}
															</div>
														</div>
													</a>
												</div>
										
										
										
											</div>
										</div>
										
										
										<div class="DashboardTabel">
											<div style="height:500px; margin-bottom: -50%;" align="right">
												<div class="tabelAtas" style="height:15%;margin-top:50px">
													<table class="LebarTabelDashBaru">
										
														<tr>
															<td align="right" class="namaMobilStyle"> &nbsp;</td>
															<td align="center"><i class="fa fa-trophy iconDashboard" aria-hidden="true"></i></td>
															<td align="center"><i class="fa fa-dot-circle-o iconDashboard" aria-hidden="true"></i></td>
															<td align="center"><i class="fa fa-history iconDashboard" aria-hidden="true"></i></td>
														</tr>
										
														<tr ng-repeat="RS in SelectSPKCar">
															<td align="right" class="namaMobilStyle">{{SelectSPKCar[$index].carName}} &nbsp;</td>
															<td align="center" ng-class="SelectSPKCar[$index].ach_total_spk">
																<b>{{SelectSPKCar[$index].BoardSpkAch}}</b></td>
															<td align="center" ng-class="SelectSPKCar[$index].warna_target_spk">
																<b>{{SelectSPKCar[$index].BoardSpkAchTarget}}</b></td>
															<td align="center" ng-class="SelectSPKCar[$index].ach_total_last_spk">
																<b>{{SelectSPKCar[$index].BoardSpkAchLast}}</b></td>
														</tr>
										
													</table>
												</div>
										
											</div>
										</div>


								
								<div class="col-md-12 margintabelBawah">
									<table align="center">
										<tr>
											<td>Achievement &nbsp; </td>
											<td class="PentolLegend" style=" background-color:red"></td>
											<td>&lt;50% &nbsp;</td>
								
											<td class="PentolLegend" style=" background-color:yellow"></td>
											<td>50-99% &nbsp;</td>
								
											<td class="PentolLegend" style=" background-color:#34EB14"></td>
											<td>100%</td>
											<td></td>
										</tr>
									</table>
								</div>

							</div>
								
							
								
                        </div>
                    </div>
                </div>
            </article>
        </div>