<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="AccountingCOAForm"
        factory-name="AccountingCOAFactory"
        model="mAccountingCOA"
        model-id="GLAccountId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="AccountingCOAForm"
        form-title="AccountingCOA"
        modal-title="Accounting COA"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >


        <div class="row">
          <div class="col-md-6">


            <div class="form-group" show-errors>
                <bsreqlabel>GL Account Code</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="GLAccountCode" placeholder="GL Account Code" ng-model="mAccountingCOA.GLAccountCode"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="GLAccountCode"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>GL Account Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="GLAccountName" placeholder="GL Account Name" ng-model="mAccountingCOA.GLAccountName"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="GLAccountName"></bserrmsg>
            </div>
			
          </div>
        </div>
</bsform-grid-tree>
