          
    <div class="form-group">           
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Tipe PO *</label>
                <select class="form-control" ng-model="mData.POTypeId" disabled>
                  <option value="{{mData.POTypeId}}" selected>{{ToNameTypePo(mData.POTypeId)}}</option>   
                </select>
            </div>
            <div class="col-md-3">                
                <label class="control-label">Referensi PO *</label>
                <select class="form-control" ng-model="mData.RefPOTypeId" disabled>
                  <option value="{{mData.RefPOTypeId}}" selected>{{ToNameRefPo(mData.RefPOTypeId)}}</option>              
                </select>
            </div>
            <div class="col-md-3">
                <!-- dummy checked, belun dapet dari mana-->
                <div class="input-group">
                    <label class="control-label">Hasil SOQ</label>
                    <div class="checkbox">
                      <label><input type="checkbox" value="" disabled checked></label>
                    </div>               
                </div>               
            </div>                              
        </div>
        <!-- [END] Form Level 1 -->
              <br />
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-3">
                    <label class="control-label">Tipe Material *</label>
                    <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                        <option selected value="{{mData.MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
                    </select>
            </div>
            <div class="col-md-3">
                    <label class="control-label">BO TAM Follow *</label>
                    <select class="form-control" ng-model="mData.BackOrderFollowId" disabled required>
                        <option selected value="{{mData.BackOrderFollowId}}">{{ToNameBoTam(mData.BackOrderFollowId)}}</option>
                    </select>
            </div> 
        </div>
        <!-- [END] Form Level 2 -->
        <div class="row">
            <div class="col-md-8">
            <hr/>
            </div>
        </div>
        <!-- [START] Form Level 3 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Vendor *</label>
                <input class="form-control" type="text" ng-model="mData.VendorName" name="vendor" disabled></input>
            </div>
            <div class="col-md-3">                
                <label class="control-label">Metode Pembayaran *</label>
                <select class="form-control" required disabled>
                    <!-- <option selected>Kredit</option> -->
                    <option value="{{mData.PaymentMethodId}}" selected>{{ToPaymentMethodId(mData.PaymentMethodId)}}</option>
                </select>
            </div>
            <div class="col-md-3">                
                <label class="control-label">Jangka Waktu Bayar (Hari)*</label>    
                <input class="form-control" type="number" ng-model="mData.PaymentPeriod" name="j_w_bayar" disabled></input>               
            </div>                              
        </div>
        <!-- [END] Form Level 3 -->
        <div class="row">
            <div class="col-md-8">
            <hr/>
            </div>
        </div>
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-3">                
                <label class="control-label">No PO</label>
                <input class="form-control" style="text-align : left" type="text" name="no_po" ng-model="mData.PurchaseOrderNo" disabled></input> 
            </div>
            <div class="col-md-2" style="pointer-events: none;">
                <label class="control-label">Tanggal PO</label>
                <bsdatepicker
                  name="endDate"
                  date-options="dateOptions"
                  ng-model="mData.DocDate"
                  ng-disabled = true
                  >
                  
                  </bsdatepicker>
                  
                
            </div>
            <div class="col-md-1">
                <label class="control-label">&nbsp</label>
                <!-- <input class="form-control" type="text" ng-model="mData.AppointmentTime" name="no_polisi" disabled></input>  -->
            </div>                              
        </div>
        <!-- [END] Form Level 7 -->
              <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-3">                
                <label class="control-label">Status</label>
                <input class="form-control" style="text-align : left" type="text" name="status" ng-value="ToNameStatus(mData.PurchaseOrderStatusId)" disabled></input> 
            </div>
            <div class="col-md-3">
                <label class="control-label">Grand Total</label>
                <input class="form-control" style="text-align : left" type="text" ng-model="mData.TotalAmount" name="grandtotal" disabled></input>
                
            </div>                              
        </div>
        <!-- [END] Form Level 7 -->
         <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Notes</label>
                <textarea class="form-control" row='5' ng-model="mData.Notes" disabled></textarea>
                
            </div>                             
        </div>
        <!-- [END] Form Level 7 -->
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <div id="grid1" ui-grid="tam_soq_lihat" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
        </div>
    </div>

    <br>

    <div class="row">
    <div class="col-md-12">
        <div align="right">
            <button class="btn wbtn" ng-click="onShowVendorPO()" skip-disable>Lihat Detail Vendor</button>
            <button class="btn wbtn" ng-click="cetakOPM(mData.PurchaseOrderId)" skip-disable>Cetak Order Pembelian Material</button>
            <button class="btn wbtn" ng-click="goBack()" skip-disable>Kembali</button>
        </div>
    </div>
    </div>  

