<!--
  Catatan Flow
  1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

</style>

<div   ng-app="app" ng-controller="GoodsReceiptController">
    <div class="form-group">
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Referensi GR *</label>
                <select class="form-control" disabled>
                  <option selected>TRANSFER ORDER</option>
                  <option>Sales Order</option>
                  <option>Transfer Order</option>
                  <option>Return Parts Claim</option>
                  <option>Return RPP</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <!-- [END] Form Level 1 -->
              <br />
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <bsreqlabel class="control-label">Tipe Material * </bsreqlabel>
                    <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                        <option selected value="{{GRHeader.MaterialTypeId}}">{{ToNameMaterial(GRHeader.MaterialTypeId)}}</option>
                    </select>
                </div>
            </div>
        </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 2 -->
              <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Bengkel</label>
                <input class="form-control" style="text-align : left" type="text" name="grandtotal" ng-model="GRHeader.VendorName" placeholder=""></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">Tanggal Terima</label>
                <div class="tanggal">
                  <bsdatepicker
                  name="startDate"
                  date-options="dateOptions"
                  ng-model="GRHeader.ReceiptDate"
                  >
                  </bsdatepicker>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div> <br />
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">No GR</label>
                <input class="form-control" style="text-align : left" type="text" name="nogr" ng-model="GRHeader.GoodsReceiptNo" placeholder=""></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">Tanggal Dokumen GR</label>
                <div class="tanggal">
                  <bsdatepicker
                  name="startDate"
                  date-options="dateOptions"
                  ng-model="GRHeader.DocDate"
                  >
                  </bsdatepicker>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div> <br />

        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Status</label>
                <input class="form-control" style="text-align : left" type="text" name="grandtotal" ng-model="GRHeader.GRstatusName" placeholder=""></input>
            </div>
        </div>
        <!-- [END] Form Level 7 -->
         <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Notes</label>
                <textarea class="form-control" row='6' ng-model="GRHeader.Notes" disabled></textarea>
            </div>
            <div class="col-md-4">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-4">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <!-- [END] Form Level 7 -->
    </div>
</div>

<!-- <div class="form-group">.. -->
<!-- <div class="row"> -->
    <!-- <div class="col-md-2">
        <select class="form-control" placeholder="Bulk Action" ng-clikc="bulkHapus()" ng-disabled="mySelections==[]">
            <option selected>Bulk Action</option>
            <option>Hapus</option>
        </select>
    </div> -->
    <!-- <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" ng-click="bulkHapus()" type="button" data-toggle="dropdown">Bulk Action
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Hapus</a></li>    => ng-disabled="!selectedRows.length>0"
        <li><a href="#">CSS</a></li>
        <!-- <li><a href="#">JavaScript</a></li> - ->
      </ul>
    </div>      -->
    <div class="row">
        <div class="col-md-2">
            <div class="input-group-btn dropdown" uib-dropdown="" style="">
              <button style="margin-right:5px;" type="button" ng-disabled="!mySelections.length>0"
                class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle=""
                data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
                <!-- ngIf: allowDelete -->
                <li>
                <!-- ngIf: selectedRows.length>0 --><a href="#" ng-click="bulkAction(1)">Hapus</a>
                <!-- end ngIf: selectedRows.length>0 --></li>
                <!-- end ngIf: allowDelete -->
                <!-- ngIf: allowApprove -->
                <!-- ngIf: allowReject -->
                <!-- ngIf: allowReview -->
                <!-- ngRepeat: customBulk in customBulkFunc -->
              </ul>
            </div>
        </div>
    </div>
<!-- </div> -->
<div class="row">
    <div class="col-md-12">
      <div id="grid1" ui-grid="gridTO" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
    </div>
</div>

<fieldset style="padding-top: 10px">
<div align="right">
  <!-- <button class="btn btn-danger">Batal GR</button>   -->
  <button ng-click="batalDOk(40)" class="btn btn-default">Batal GR</button>
  <button ng-click="goBack()" class="btn btn-default">Kembali</button>
</div>
</fieldset>
