<!--
  Catatan Flow
  1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

</style>

<div   ng-app="app" ng-controller="GoodsReceiptController">
    <div class="form-group">
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Referensi GR *</label>
                <select class="form-control" disabled>
                  <option selected>TRANSFER ORDER</option>
                  <option>Sales Order</option>
                  <option>Transfer Order</option>
                  <option>Return Parts Claim</option>
                  <option>Return RPP</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <!-- [END] Form Level 1 -->
              <br />
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <bsreqlabel class="control-label">Tipe Material * </bsreqlabel>
                    <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                        <option selected value="{{GRHeader.MaterialTypeId}}">{{ToNameMaterial(GRHeader.MaterialTypeId)}}</option>
                    </select>
                </div>
            </div>
        </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 2 -->
              <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Bengkel</label>
                <input class="form-control" style="text-align : left" type="text" name="grandtotal" ng-model="GRHeader.VendorName" placeholder=""></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">Tanggal Terima</label>
                <div class="tanggal">
                  <bsdatepicker
                  name="startDate"
                  date-options="dateOptions"
                  ng-model="GRHeader.ReceiptDate"
                  >
                  </bsdatepicker>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div> <br />
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">No GR</label>
                <input class="form-control" style="text-align : left" type="text" name="nogr" ng-model="GRHeader.GoodsReceiptNo" placeholder=""></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">Tanggal Dokumen</label>
                <div class="tanggal">
                  <bsdatepicker
                  name="startDate"
                  date-options="dateOptions"
                  ng-model="GRHeader.DocDate"
                  >
                  </bsdatepicker>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div> <br />

        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Status</label>
                <input class="form-control" style="text-align : left" type="text" name="grandtotal" ng-model="GRHeader.GRstatusName" placeholder=""></input>
            </div>
        </div>
        <!-- [END] Form Level 7 -->
         <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Notes</label>
                <textarea class="form-control" row='6' ng-model="GRHeader.Notes" disabled></textarea>
            </div>
            <div class="col-md-4">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-4">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <!-- [END] Form Level 7 -->
    </div>
</div>

<!-- <div class="form-group"> -->

<div class="row">
    <div class="col-md-12">
      <div id="grid1" ui-grid="gridTO" ui-grid-auto-resize ui-grid-selection ui-grid-cellNav ui-grid-pagination class="grid"></div>
    </div>
</div>

<fieldset style="padding-top: 10px">
<div align="right">
  <button class="btn btn-default">Kembali</button>
</div>
</fieldset>
