<!--Harus item-->
<div style="font-size: 12px;">Nama Pelanggan : {{item.CustomerName}}
    <button ng-click="openModal(item)" ng-if="item.TombolEdit==true" class="btn btn-default" style="float:right; border:0; background-color:transparent; box-shadow:none;" id="myButton" type="button"> 
			<span class="glyphicon glyphicon-option-vertical" style="float:center;"> 
			</span> 
	</button>
</div>

<p>
    <ul class="list-inline" style="font-size:10px;">
        <li style="width:auto;">No. SPK / No. Rangka : {{item.FormSPKNo}} - {{item.FrameNo}}</li>
    </ul>
    <ul class="list-inline" style="font-size:10px;">
    	<li>Tanggal, Jam Pengiriman : {{item.SentUnitDate | date:'dd-MM-yyyy'}} &nbsp; {{item.SentUnitTime}}</li>
    </ul>
     <ul class="list-inline" style="font-size:10px;">
        <li>Tipe Pengiriman : {{item.DirectDeliveryStatus}}</li>
    </ul>
</p>