<input type="text" name="inputa1" ng-model="inputan1">
<input type="text" name="inputa1" ng-model="inputan2">
<input type="text" name="inputa1" ng-model="inputan3">
<input type="text" name="inputa1" ng-model="inputan4">
<input type="text" name="inputa1" ng-model="inputan5">
<input type="text" name="inputa1" ng-model="inputan6">
<button ng-click="getValue()">Rubah</button>

<div>
	1 VALUE : {{ dataDealer[5].GroupDealerName }};
	<ul>
		<li ng-repeat="(key, value) in dataDealer">
			{{ value.GroupDealerName }}
		</li>
	</ul>
</div>

 	<fieldset>
 		<input type="text" name="inputa1" ng-model="JumlahIndividu">
        <div class="row" style="margin-right:0px;">
        	<div class="col-md-4">
            	<div class="form-group" show-errors>
                    <label>TAM Area {{dataDealer[0].GroupDealerCode}}</label>
                    <select class="form-control">
                    	<option ng-repeat="value in dataArea" value="{{value.AreaId}}">
                    		{{ value.AreaName }}
                    	</option>
                    </select>
                    <!-- <bserrmsg field="TAMArea"></bserrmsg> -->
                </div>
                
                <div class="form-group" show-errors>
                    <label>TAM Area {{dataArea[0].AreaName}}</label>
                    <select class="form-control">
                    	<option ng-repeat="value in dataArea" value="{{value.AreaId}}">
                    		{{ value.AreaName }}
                    	</option>
                    </select>
                    <!-- <bserrmsg field="TAMArea"></bserrmsg> -->
                </div>
                <div class="form-group" show-errors>
                    <label>Dealer {{dataDealer[0].GroupDealerCode}}</label>
                    <!-- <select class="form-control">
                    	<option ng-repeat="value in dataDealer" value="{{value.GroupDealerCode}}">
                    		{{ value.GroupDealerName }}
                    	</option>
                    </select> -->
                    <bsselect ng-model="dataDealer.DealerId" data="getDealer" item-text="DealerName" item-value="DealerId" on-select="DealerId(selected)"    placeholder="Select Dealer"></bsselect>
                    <!-- <input type="text" class="form-control" name="dealer" placeholder="Dealer"> -->
                    <!-- <bserrmsg field="Dealer"></bserrmsg> -->
                </div>
            </div>
            <div class="col-md-4">
            	<div class="form-group" show-errors>
                    <label>Cabang </label>
                    <select class="form-control">
                    	 <option ng-repeat="value in dataCabang" value="{{value.OutletCode}}">{{ value.Name }}</option>
                    </select>
                    <bserrmsg field="Cabang"></bserrmsg>
                </div>
                <div class="form-group" show-errors>
                    <label>Jenis Pelanggan </label>
                    <select class="form-control">
                    	 <option  value="Individu">Individu</option>
                    	 <option  value="Perusahaan">Perusahaan</option>
                    	 <option  value="Yayasan">Yayasan</option>
                    </select>
                    <bserrmsg field="Pelanggan"></bserrmsg>
                </div>
            </div>
            <div class="col-md-4">
            	<div class="form-group" show-errors>
                    <label>Periode</label>
                    <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                        <bsdatepicker ng-model="Periode" date-options="dateOptions" ng-disabled="valueChange"></bsdatepicker>
                    </div>
                    <bserrmsg field="periodeStart"></bserrmsg>
                </div>
            </div>
        </div>
    </fieldset>

    <!-- <bsform-base-main> -->
    <fieldset>
 	</div>
 		<div class="col-md-3">
			<div class="form-group" show-errors>
			    <label>Jumlah Pelanggan Individu </label>
			</div>
		</div>
        <div class="col-md-3">
            <div class="form-group" show-errors>
            	<input type="text" name="inputa1" ng-model="JumlahIndividu">
                <input type="text" class="form-control" name="cabang" ng-model="JumlahIndividu">{{JumlahIndividu}}
                <bserrmsg field="cabang"></bserrmsg>
            </div> 
        </div>
        <div class="col-md-3">
			<div class="form-group" show-errors>
			    <label>Jumlah Pelanggan Institusi </label>
			</div>
		</div>
        <div class="col-md-3">
            <div class="form-group" show-errors>
                <input type="text" class="form-control" name="cabang" placeholder="Total Institusi"  
                ng-model="JumlahInstitusi">
                <bserrmsg field="cabang"></bserrmsg>
            </div>
        </div>
    </fieldset>
			    <fieldset>
			 		<legend> Kelengkapan Data Individu </legend>
			 		<div class="col-md-3">
			            <div class="input-group" show-errors>
			            	<label>Data Diri</label>
			            </div>
			            <div class="input-group" show-errors>
			                <label>Data Pekerjaan</label>
			            </div>
			            <div class="input-group" show-errors>
			                <label>Data Keluarga</label>
			            </div>
			        </div>
			        <div class="col-md-3">
			            <div class="input-group" show-errors>
			                <input type="text" class="form-control" name="cabang" placeholder="0" ng-model="DataDiri">
							<span class="input-group-addon">%</span>
			                <bserrmsg field="cabang"></bserrmsg>
			            </div>
			            <div class="input-group" show-errors>
			                <input type="text" class="form-control" name="cabang" placeholder="0" 
			                ng-model="DataPekerjaan">
			                <span class="input-group-addon">%</span>
			                <bserrmsg field="cabang"></bserrmsg>
			            </div>
			            <div class="input-group" show-errors>
			                <input type="text" class="form-control" name="cabang" placeholder="0" 
			                ng-model="DataKeluarga">
			                <span class="input-group-addon">%</span>
			                <bserrmsg field="cabang"></bserrmsg>
			            </div>
			        </div>
			        <div class="col-md-3">
			        	<div class="input-group" show-errors>
			                <label>Data Preferensi</label>
			            </div>
			            <div class="input-group" show-errors>
			                <label>Data Kendaraan</label>
			            </div>
			            <div class="input-group" show-errors>
			                <label>Pencapaian Kelengkapan Data Individu</label>
			            </div>
			        </div>
			        <div class="col-md-3">
			            <div class="input-group" show-errors>
			                <input type="text" class="form-control" name="cabang" placeholder="0" 
			                ng-model="DataPreferensi">
			                <span class="input-group-addon">%</span>
			                <bserrmsg field="cabang"></bserrmsg>
			            </div>
			            <div class="input-group" show-errors>
			                <input type="text" class="form-control" name="cabang" placeholder="0" 
			                ng-model="DataKendaraan">
			                <span class="input-group-addon">%</span>
			                <bserrmsg field="cabang"></bserrmsg>
			            </div>
			            <div class="input-group" show-errors>
			                <input type="text" class="form-control" name="cabang" placeholder="0" 
			                ng-model="KelengkapanDataIndividu">
			                <span class="input-group-addon">%</span>
			                <bserrmsg field="cabang"></bserrmsg>
			            </div>
			        </div>
			    </fieldset>
			    <fieldset>
			    	<legend> Kelengkapan Data Institusi </legend>
			    		<div class="col-md-3">
							<div class="input-group" show-errors>
							    <label>Data Institusi</label>
							</div>
						</div>
				        <div class="col-md-3">
				            <div class="input-group" show-errors>
				                <input type="text" class="form-control" name="cabang" placeholder="0" 
				                ng-model="DataInstitusi">
				                 <span class="input-group-addon">%</span>
				                <bserrmsg field="cabang"></bserrmsg>
				            </div>
				        </div>
				        <div class="col-md-3">
							<div class="input-group" show-errors>
							    <label>Data Penanggung Jawab</label>
							</div>
						</div>
				        <div class="col-md-3">
				            <div class="input-group" show-errors>
				                <input type="text" class="form-control" name="cabang" placeholder="0" 
				                ng-model="DataPenanggungJawab">
				                <span class="input-group-addon">%</span>
				                <bserrmsg field="cabang"></bserrmsg>
				            </div>
				        </div>
				</fieldset>
<!--     </fieldset> -->
    <!-- </bsform-base-main> -->


