<script type="text/javascript">

</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

.watermark {
    position: absolute;
    top : 80px;
    opacity: 0.25;
    font-size: 3em;
    width: 100%;
    text-align: center;
    z-index: 999;
}

</style> 
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

		<div ng-show="MainPembayaranCashCITCIB_Show">
			<div class="col-md-12">
					<div class="form-group">		
					<bsreqlabel>Trigger Notifikasi Untuk Akumulasi Penerimaan Cash Melebihi Batas Cover Asuransi CIT &amp; CIB Per Hari</bsreqlabel>				
						<input type="text" class="form-control " name="Batas " placeholder="Batas Maks" 
						ng-model="PembayaranCashCITCIB_NominalMaks" 
						 required input-currency number-only min="1">	
					</div>					
			</div>
		
			<div class="col-md-12">
				<div class="form-group">	
					<bslabel>Judul Email Notifikasi</bslabel>
					<input type="text" class="form-control " name="JudulEmail" placeholder="Judul Email Notifikasi" 
						ng-model="PembayaranCashCITCIB_JudulEmail"  ng-maxlength="100" maxlength="100">		
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">	
					<bslabel>Template Email Notifikasi</bslabel>
					<input type="text" class="form-control " name="TemplateEmail" placeholder="Pada <dd-mm-yyyy> <hh:mm> waktu server, total akumulasi penerimaan cash adalah sebesar xxxxxxxxxx, yang telah melebihi batas cover asuransi CIT & CIB" 
						ng-model="PembayaranCashCITCIB_TemplateEmail"  ng-maxlength="2000"
						disabled >		
						<!-- ng-disabled="PembayaranCashCITCIB_TemplateEmail_Disabled" -->
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="col-md-8">
				<div class="form-group">
					<bsreqlabel>User Penerima Notifikasi</bsreqlabel>
					<div ui-grid="PembayaranCashCITCIB_UserPenerima_UIGrid" class="form-group" ui-grid-auto-resize ui-grid-selection ui-grid-pagination>
							<div class="watermark" ng-show="!PembayaranCashCITCIB_UserPenerima_UIGrid.data.length">No data available</div>
					</div>
				</div></div>
				<div class="col-md-2">
					<button id="PembayaranCashCITCIB_Tambah" ng-click="PembayaranCashCITCIB_Tambah_Clicked()"
						type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px" >
						<span class="ladda-label">
							Tambah
						</span><span class="ladda-spinner"></span>
					</button>
				</div>					
			</div>
			
			<div class="col-md-12">
				<button id="PembayaranCashCITCIB_Simpan" ng-click="PembayaranCashCITCIB_Simpan_Clicked()"
					type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px"  >
					<span class="ladda-label">
						Simpan
					</span><span class="ladda-spinner"></span>
				</button>
			</div>
	</div>

	<div class="ui modal" id="ModalTambahUserList_CITCIB" role="dialog">
		<div class="modal-content" style="">
			<ul class="list-group">
				<bsreqlabel>Pilih Employee</bsreqlabel>
				<div class="form-group" ui-grid="ModalPenerimaanCashCITCIB_TambahUser_UIGrid" ui-grid-auto-resize ui-grid-selection ui-grid-pagination>
						<div class="watermark" ng-show="!ModalPenerimaanCashCITCIB_TambahUser_UIGrid.data.length">No data available</div>
				</div>
				<p align="center">
				<button class="col-sm-6" ng-click="Batal_PenerimaanCashCITCIB_TambahUser()" type="button" class="rbtn btn ng-binding ladda-button" >
					Batal
				</button>
				<button class="col-sm-6" ng-click="Pilih_PenerimaanCashCITCIB_TambahUser()" type="button" class="rbtn btn ng-binding ladda-button" >
					Pilih
				</button>
				</p>
			</ul>
		</div> 
	</div>