<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="KonstantaForm"
        factory-name="Konstanta"
        model="mKonstanta"
        loading="loading"
        model-id="AdjustmentRatioRelationId"
        on-before-new-mode = "onBeforeNewMode"

        on-show-detail="onShowDetail"
        get-data="getData"
        selected-rows="xKonstanta.selected"
        on-select-rows="onSelectRows"

        modal-title="Konstanta"
        modal-size="small"
        icon="fa fa-fw fa-child"
>

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
<!-- <pre>{{mKonstanta}}</pre> -->
        <div class="row">
            <div class="col-md-4">
                 <div class="form-group" show-errors>
                    <bsreqlabel>Period</bsreqlabel>
                    <bsselect
                          name="periodId"
                          ng-model="mKonstanta.GetsudoPeriodId"
                          data="periodData"
                          item-text="GetsudoPeriodName,GetsudoPeriodCode"
                          item-value="GetsudoPeriodId"
                          placeholder="Pilih Periode Getsudo"
                          style="min-width: 150px;"
                          on-select = "selectPeriod(selected)"
                          required="true"
                          >
                    </bsselect>
                    <bserrmsg field="periodId"></bserrmsg>
                </div> 
 
                <div class="form-group" show-errors>
                    <bsreqlabel>Konstanta</bsreqlabel>
                    <bsselect
                          name="rsspVarId"
                          ng-model="mKonstanta.AdjustmentRatioTypeId"
                          data="konstantData"
                          item-text="AdjustmentName"
                          item-value="AdjustmentRatioTypeId"
                          placeholder="Pilih Konstanta"
                          required="true"
                          style="min-width: 150px;">
                    </bsselect>
                    <bserrmsg field="rsspVarId"></bserrmsg>
                </div>
                <div class="form-group" show-errors>
                    <bsreqlabel>Nilai Konstanta</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="number" min="0" class="form-control" name="value" placeholder="Nilai Konstanta" ng-model="mKonstanta.AdjustmentRatioValue" required>
                    </div>
                    <bserrmsg field="value"></bserrmsg>
                </div>
                <div class="form-group" show-errors>
                    <bsreqlabel>Prioritas</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="number" min="0" class="form-control" name="prior" placeholder="Prioritas" ng-model="mKonstanta.RatioPriority" required>
                    </div>
                    <bserrmsg field="prior"></bserrmsg>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>Area</label>
                    <bsselect
                          name="areaId"
                          ng-model="mKonstanta.AreaId"
                          
                          placeholder="Pilih Area"
                          data="areaData"
                          item-text="Description"
                          item-value="AreaId"
                          ng-change="changeArea(selected)"
                          style="min-width: 150px;"> <!-- ng-model="filter.areaId" -->
                    </bsselect>
                    <bserrmsg field="areaId"></bserrmsg>
                </div>

                <div class="form-group" show-errors>
                    <label>Provinsi</label>
                    <bsselect
                          name="provinceId"
                          ng-model="mKonstanta.ProvinceId"
                          placeholder="Pilih Provinsi"
                          data="provinceData"
                          item-text="ProvinceName"
                          item-value="ProvinceId"
                          ng-change="changeProvince(selected)"
                          style="min-width: 150px;">
                    </bsselect> <!-- ng-model="filter.provinceId" -->
                    <bserrmsg field="provinceId"></bserrmsg>
                </div>

                <div class="form-group" show-errors>
                    <label>Dealer</label>
                    <bsselect
                          name="dealerId"
                          ng-model="mKonstanta.GroupDealerId"
                          
                          placeholder="Pilih Dealer"
                          data="orgData"
                          item-text="GroupDealerName,GroupDealerCode"
                          item-value="GroupDealerId"
                          on-select="selectDealer(selected)"
                          
                          style="min-width: 150px;">
                    </bsselect> <!-- ng-model="filter.outletId" -->
                    <bserrmsg field="dealerId"></bserrmsg>
                </div>

                <div class="form-group" show-errors>
                    <label>Outlet</label>
                    <bsselect
                          name="outletId"
                          ng-model="mKonstanta.OutletId"
                          placeholder="Pilih Outlet"
                          data="outletData.child"
                          item-text="Name,OutletCode"
                          item-value="OutletId"
                          
                          style="min-width: 150px;">
                    </bsselect>
                    <bserrmsg field="outletId"></bserrmsg> 
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>Model</label>
                    <bsselect
                          name="modelId"
                          ng-model="mKonstanta.VehicleModelId"
                          placeholder="Pilih Model"
                          data="productModelData"
                          item-text="VehicleModelName"
                          item-value="VehicleModelId"
                          on-select = "selectModel(selected)"

                          style="min-width: 150px;">
                    </bsselect>
                    <bserrmsg field="modelId"></bserrmsg>
                </div>
                <div class="form-group" show-errors>
                    <label>Type</label>
                    <bsselect
                          name="typeId"
                          ng-model="mKonstanta.VehicleTypeId"
                          data="selectedModel.listVehicleType"
                          item-text="Description"
                          item-value="VehicleTypeId"
                          placeholder="Pilih Tipe"
                          on-select="selectType(selected)"
                          
                          style="min-width: 150px;">
                    </bsselect>
                    <bserrmsg field="typeId"></bserrmsg>
                </div>
                <div class="form-group" show-errors>
                    <label>Type Color</label>
                    <bsselect 
                          name="typeColorId"
                          ng-model="mKonstanta.VehicleTypeColorId"
                          placeholder="Pilih Tipe Warna"
                          data="selectedType.listColor"
                          item-text="ColorName"
                          item-value="VehicleTypeColorId"
                          style="min-width: 150px;">
                    </bsselect>
                    <bserrmsg field="typeColorId"></bserrmsg>
                </div>

            </div>
        </div>

</bsform-grid>

