<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}
</style>

<div ng-if="isDetail1" class="overlay">
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel-heading" style="color:white; background-color:#D53337;">
                <h3 class="panel-title text-center">Detail - ETD & ETA</h3>
            </div>
            <div class="form-group">
                <label>&nbsp</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <div ui-grid="gridDetail" class="grid" ui-grid-auto-resize ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-pagination></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <!--<button type="button" class="wbtn btn" ng-click="btnKembali()">Kembali</button>-->
                <button type="button" class="wbtn btn" ng-click="goBack()">Kembali</button>
                <!--<button class="btn rbtn" ng-click="simpan(mData)">Simpan</button>-->
            </div>
        </div>
    </div>

</div> <!--end overlay-->
