<script type="text/javascript">

   
</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

fieldset.scheduler-border {
    width:auto; border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

</style>

<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>




<div class="row">
	<fieldset class="scheduler-border" style="margin-top: 10px;" ng-show="ShowFieldGenerate_PriceOPD">
		<legend style="background:white;" class="scheduler-border">Data Filter</legend>

		<div class="col-md-12">

			<!-- model -->
			<div class="col-md-3">
				<bsreqlabel>Model</bsreqlabel>
				<bsselect style="margin-bottom: 10px;" ng-model="filterModel.VehicleModelId"
					on-select="onSelectModelChanged(selected)" data="optionsModel" item-text="VehicleModelName"
					item-value="VehicleModelName" placeholder="Pilih Model" icon="fa fa-search">
				</bsselect>
			</div>

			<!-- separator -->
			<div class="col-md-1" style="text-align: center;">
				<bslabel>&nbsp;</bslabel>
			</div>


			<!-- tipe -->
			<div class="col-md-3">
				<bslabel>Tipe</bslabel>
				<bsselect style="margin-bottom: 10px" ng-model="filterModel.VehicleTypeId" data="optionsTipe"
					item-text="Description,KatashikiCode,SuffixCode" item-value="VehicleTypeId"
					on-select="onSelectTipeChanged(selected)" placeholder="Pilih tipe" icon="fa fa-search">
				</bsselect>
			</div>

		</div>

		<div class="col-md-12" style="margin-top:10px">
			<div class="col-md-2">
				<bslabel>Tanggal</bslabel>
			</div>
		</div>
		<div class="col-md-12">

			<div class="col-md-3">
				<div class="input-icon-right form-group ">
					<bsdatepicker name="TanggalFilterStart" date-options="dateOptions"
						ng-model="filterModel.TanggalFilterStart"></bsdatepicker>
				</div>
			</div>

			<div class="col-md-1" style="text-align: center;">
				<bslabel>s.d</bslabel>
			</div>

			<div class="col-md-3">
				<div class="input-icon-right form-group ">
					<bsdatepicker name="TanggalFilterEnd" date-options="dateOptions"
						ng-model="filterModel.TanggalFilterEnd"></bsdatepicker>
				</div>
			</div>

			<div class="col-md-3">
				&nbsp;
			</div>

			<!-- search button -->
			<div class="col-md-2">
				<button class="btn wbtn pull-right" ng-click="MasterSelling_PriceOPD_Generate_Clicked()"
					onclick="this.blur()" style="width:101px;margin-right:-9px;" tooltip-placement="bottom"
					tooltip-trigger="mouseenter" tooltip-animation="false" uib-tooltip="Search">
					<i class="large icons">
						<i class="database icon"></i>
						<i class="inverted corner filter icon"></i>
					</i>Search</button>
			</div>


		</div>
	</fieldset>


	<fieldset class="scheduler-border" style="margin-top: 10px;">
		<legend style="background:white;" class="scheduler-border">Upload File</legend>

		<div class="col-md-6">
			<input type="file" style="width: 90%" accept=".xlsx" id="uploadSellingFile_PriceOPD"
				onchange="angular.element(this).scope().loadXLS(this)">
		</div>

		<div class="col-md-6">

			<button id="MasterSelling_Simpan_Button" ng-click="MasterSelling_Simpan_Clicked()" type="button"
				class="rbtn btn ng-binding ladda-button pull-right" style="width:101px;">
				Simpan
			</button>

			<button id="MasterSelling_Batal_Button" ng-click="MasterSelling_Batal_Clicked()" type="button"
				class="wbtn btn ng-binding ladda-button pull-right" style="width:101px;">
				Batal
			</button>
		</div>
	</fieldset>


	<div class="col-md-12">

		<div class="col-md-2">
			<bsselect ng-model="ComboBulkAction_PriceOPD" data="optionsComboBulkAction_PriceOPD"
				ng-change="ComboBulkAction_PriceOPD_Changed()" item-text="name" item-value="value"
				on-select="value(selected)" icon="fa fa-search" placeholder="Bulk Action">
			</bsselect>
		</div>

		<div class="col-md-2">
			<div class="form-group filterMarg">
				<input type="text" required ng-model="textFilterMasterPriceOPD" class="form-control"
					placeholder="Search" maxlength="100" ng-change="FilterGridMasterPriceOPD()">
			</div>
		</div>

		<div class="col-md-2">
			<div class="form-group filterMarg ">
				<select required ng-model="selectedFilterMasterPriceOPD" class="form-control "
					ng-options="item.field as item.name for item in MasterSellingPriceFU_PriceOPD_grid.columnDefs "
					placeholder="Filter ">

					<option label="Filter " value=" " disabled>Filter</option>
				</select>
			</div>
		</div>

		<div class="col-md-2">
			&nbsp;
		</div>

		<div class="col-md-4">
			<button id="MasterSelling_PriceOPD_Download_Button"
				ng-click="MasterSelling_PriceOPD_Download_Clicked()" type="button"
				class="rbtn btn ng-binding ladda-button pull-right" style="width:150px; margin-right:9px;">
				<span class="ladda-label">
					Download Template
				</span><span class="ladda-spinner"></span>
			</button>
		</div>

	</div>



	<div class="col-md-12">
		<div id="myGrid" ui-grid="MasterSellingPriceFU_PriceOPD_grid" ui-grid-edit ui-grid-selection
			ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination class="Mygrid"
			style="width:100%;height: 250px; margin-top:10px; margin-bottom:20px;"></div>
	</div>

</div>