<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}

	.watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="!Hide_LihatPajakMasukan" class="fi-outermost">
	<div ng-form name="FormValidation_PajakMasukan">
		<div class="pull-right" style="margin-top:-50px;">
			<button id="PajakMasukan_Download_Button" ng-click="PajakMasukan_Upload_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right;">
				<span class="ladda-label">
					Update Status DJP
				</span><span class="ladda-spinner"></span>
			</button>
		</div>

		<div class="row" style="margin-top:20px">
			<div class="col-md-3" ng-class="{'has-error':FormValidation_PajakMasukan.PajakMasukanTanggalAwal.$error.required && FormValidation_PajakMasukan.PajakMasukanTanggalAwal.$touched || PajakMasukanTanggalAwalOK == false}">
				<bsreqlabel>Tanggal Invoice Masuk</bsreqlabel>
				<div class="input-icon-right ">
					<bsdatepicker name="PajakMasukanTanggalAwal" format="dd/MM/yyyy" date-options="dateOptions" ng-model="PajakMasukan_TanggalAwal"
					 required ng-change="PajakMasukanTanggalAwalChanged()">
					</bsdatepicker>
					<span ng-if="FormValidation_PajakMasukan.PajakMasukanTanggalAwal.$error.required && FormValidation_PajakMasukan.PajakMasukanTanggalAwal.$touched"
					 class="help-block">Field ini wajib diisi</span>
					<span ng-if="!PajakMasukanTanggalAwalOK" class="help-block">{{errPajakMasukanTanggalAwal}}</span>
				</div>
			</div>
			<!-- <div class="col-md-1" style="margin-top:30px;">
				s/d
			</div> -->
			<div class="col-md-3" ng-class="{'has-error':FormValidation_PajakMasukan.PajakMasukanTanggalAkhir.$error.required && FormValidation_PajakMasukan.PajakMasukanTanggalAkhir.$touched || PajakMasukanTanggalAkhirOK == false}">
				<div class="input-icon-right ">
					<label>s.d.</label>	
					<bsdatepicker name="PajakMasukanTanggalAkhir" format="dd/MM/yyyy" date-options="dateOptions" ng-model="PajakMasukan_TanggalAkhir"
					 required ng-change="PajakMasukanTanggalAkhirChanged()">
					</bsdatepicker>
					<span ng-if="FormValidation_PajakMasukan.PajakMasukanTanggalAkhir.$error.required && FormValidation_PajakMasukan.PajakMasukanTanggalAkhir.$touched"
					 class="help-block">Field ini wajib diisi</span>
					<span ng-if="!PajakMasukanTanggalAkhirOK" class="help-block">{{errPajakMasukanTanggalAkhir}}</span>
				</div>
			</div>
			<div class="col-md-3" ng-show="PajakMasukan_HO_Show">
				<label>Nama Branch</label>
				<bsselect ng-model="PajakMasukan_SelectBranch" data="optionsPajakMasukan_SelectBranch" item-text="name" item-value="value"
				 on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search">
				</bsselect>
			</div>

			<div class="col-md-3" ng-show="!PajakMasukan_HO_Show">
				<label>Nama Branch</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="PajakMasukanNamaBranch" placeholder="" ng-model="PajakMasukan_NamaBranch"
					 ng-maxlength="50" ng-disabled="!PajakMasukan_NamaBranch_Disabled">
				</div>
			</div>
			<div class="col-md-2">
				<button id="PajakMasukan_Cari_Button" ng-click="PajakMasukan_Cari_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: left; margin-top:24px">
					<span class="ladda-label">
						Cari
					</span><span class="ladda-spinner"></span>
				</button>
			</div>
			<div class="col-md-12 has-error">
				<div class="has-error" style="margin-left:15px;">
					<span ng-show="PajakMasukan_TanggalAwal>PajakMasukan_TanggalAkhir" class="help-block">Tanggal awal harus lebih
						kecil atau sama dengan tanggal akhir!</span>
				</div>
			</div>
		</div>
	</div>

	<p  class="fi-title-line" style="margin-top:20px; margin-right:0px; margin-left:0px;">Daftar PPN Masukan
		
	</p>

	<div >
		<div style=" margin-left: -26px;padding-top:-20px;">
			<div class="col-md-12">
				<div class="col-md-2">
					<div class="input-icon-right">
						<input type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="PajakMasukan_TextFilter"
						 ng-maxlength="50 " maxlength="50">
					</div>
				</div>

				<div class="col-md-2">
					<bsselect ng-model="PajakMasukan_SelectKolom" data="optionsPajakMasukan_SelectKolom" item-text="name" item-value="value"
					 on-select="value(selected)" placeholder="Pilih Kriteria" icon="fa fa-search">
					</bsselect>
				</div>

				<div class="col-md-4">
					<button id="" ng-click="PajakMasukan_Filter_Clicked()" type="button" class="btn ng-binding ladda-button">
						<span class="ladda-label">
							Filter
						</span><span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<!--<table style="margin-left:20px" align="center" class="table table-bordered table-responsive col-md-12">
					<tbody>
							<tr>
								<th ></th>
								<th >Nomor Invoice Masuk</th>
								<th >Nama Vendor</th>
								<th >DPP</th>
								<th >PPN</th>
								<th >Nomor Instruksi Pembayaran</th>
								<th >Status BPH</th>
								<th >Status Download CSV</th>
							</tr>
							<tr>
								<td ><input ng-model="" type="checkbox" /></td>
								<td >Nomor Invoice Masuk</td>
								<td >Nama Vendor</td>
								<td >DPP</td>
								<td >PPN</td>
								<td >Nomor Instruksi Pembayaran</td>
								<td >Status BPH</td>
								<td >Status Download CSV</td>
							</tr>
					</tbody>		
				</table>-->
		<div class="col-md-12" style="margin-top:5px;">
			<div>
				<div id="PajakMasukan_ListData_Grid" ui-grid="PajakMasukan_ListData_Grid_UIGrid" class="grid" style="height: 400px"
				 ui-grid-resize-columns ui-grid-exporter ui-grid-auto-resize ui-grid-selection ui-grid-pagination></div>
				<div class="watermark" ng-show="!PajakMasukan_ListData_Grid_UIGrid.data.length">No data available</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top:-10px;">
		<button id="PajakMasukan_Download_Button" ng-click="PajakMasukan_Download_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
		 style="float: right; margin-top:24px; margin-right: 13px;">
			<span class="ladda-label">
				Download CSV Faktur Pajak
			</span><span class="ladda-spinner"></span>
		</button>
		<button id="PajakMasukan_Excel_Button" ng-click="PajakMasukan_Excel_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
		 style="float: right; margin-top:24px">
			<span class="ladda-label">
				Download Daftar (Excel)
			</span><span class="ladda-spinner"></span>
		</button>
	</div>
</div>

<div ng-show="Hide_LihatPajakMasukan" class="fi-outermost">

	<div class="row">
		<div class="col-md-12">
			<button ng-click="PajakMasukan_Upload_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button"
			 style="float: right;">
				<span class="ladda-label">
					Simpan
				</span>
				<span class="ladda-spinner"></span>
			</button>

			<button ng-click="PajakMasukan_Kembali_Clicked()" type="button" class="btn ng-binding ladda-button fi-right-button"
			 style="float: right;margin-left:50px">
				<span class="ladda-label">
					Kembali
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>

	<div class="row" style="border:1px solid lightgrey;margin-left:5px;margin-right:5px">
		<label style="margin-left:5px;margin-top:-9px;float:left;background-color:white">Upload File</label>
		<div class="col-md-12" style="margin-top:10px;margin-bottom:10px">
			<div class="col-md-1" style="margin-top:12px">
				Upload File
			</div>

			<div class="col-md-6" style="border:1px solid lightgrey;padding: 10px 0 10px 10px">
				<div class="input-icon-right">
					<input type="file" accept=".xlsx" id="uploadPajakMasukanDJP" file-model="uploadPajakMasukanDJP">
				</div>
			</div>

			<div class="col-md-2">
				<button ng-click="PajakMasukan_Upload_File_Clicked()" type="button" class="rbtn btn ng-binding ladda-button" style="float: left;margin-top:5px">
					<span class="ladda-label">
						Upload
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>

			<div class="col-md-3">
				<button ng-click="PajakMasukan_DownloadTemplate_Clicked()" type="button" class="btn ng-binding ladda-button" style="float: right;;margin-top:5px">
					<span class="ladda-label">
						Download Template
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="row" style="border:1px solid lightgrey;margin-left:5px;margin-right:5px;margin-top:20px">
		<label style="margin-left:5px;margin-top:-9px;float:left;background-color:white">Hasil Upload</label>

		<div class="col-md-12" style="margin-bottom:10px">
			<div id="myGrid" ui-grid="PajakMasukan_UploadData_UIGrid" ui-grid-resize-columns ui-grid-auto-resize
			 ui-grid-pagination style="width:98%;height: 400px">
				<div class="watermark" ng-show="!PajakMasukan_ExcelData.length">No data available</div>
			</div>
		</div>
	</div>
</div>
