<!--Harus item-->
<div style="font-size: 12px;">Sales {{item.Sales_Force}}
    <button ng-click="openModal(item)" class="btn btn-default" style="float:right; border:0; background-color:#e8eaed; box-shadow:none;" id="myButton" type="button"> 
			<span class="glyphicon glyphicon-option-vertical" style="float:center;"> 
			</span> 
	</button>
</div>
<p>
    <ul class="list-inline" style="font-size:10px;">
        <li style="width:100px;">Meminta Approval untuk drop {{item.Nama_Lengkap}}</li>
        <li>{{item.Tanggal_Input_Pelanggan}}</li>
        
    </ul>
</p>



