<script type="text/javascript">

</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

fieldset.scheduler-border {
    width:auto; border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="row">
	<div class="col-md-12">
		<div class="col-md-4">
			Aktifkan penggunaan Bea Materai Elektronik*
		</div>
		<div class="col-md-1">
			<div class="input-icon-right ">
				<input type="checkbox" ng-model="ParamBeaMateraiElektronik_isEnable" ng-disabled = "!allowSimpan">
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="col-md-4">
			Template text Bea Materai Elektronik pada Kuitansi
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="col-md-12">
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="ParamBeaMateraiElektronikTemplate " placeholder="" ng-model="ParamBeaMateraiElektronik_Template"
				 ng-maxlength="1000" maxlength="1000" ng-disabled = "!allowSimpan"/>
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<button id="ParamBeaMateraiElektronik_Simpan_Button" ng-click="ParamBeaMateraiElektronik_Simpan_Clicked()"
		 type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px" ng-disabled = "!allowSimpan">
			<span class="ladda-label">
				Simpan
			</span><span class="ladda-spinner"></span>
		</button>
	</div>
</div>