<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="KlasifikasiPembelianForm" 
		factory-name="KlasifikasiPembelianFactory" 
		model="mKlasifikasiPembelian" 
		model-id="PurchasingClassificationId" 
		loading="loading" get-data="getData" 
		selected-rows="selectedRows" 
		on-select-rows="onSelectRows" 
		form-name="KlasifikasiPembelianForm" 
		form-title="Klasifikasi Pembelian" 
		modal-title="Master Klasifikasi Pembelian" modal-size="small" form-api="formApi" do-custom-save="doCustomSave" icon="fa fa-fw fa-child">

        <div class="row">
            <div class="col-md-6">


				
				<div class="form-group" show-errors>
					<bsreqlabel>Klasifikasi Pembelian</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="PurchasingClassificationName" placeholder="Input Klasifikasi Pembelian" ng-model="mKlasifikasiPembelian.PurchasingClassificationName"
								maxlength="15" alpha-numeric mask="Huruf" required
						>
					</div>
					<bserrmsg field="PurchasingClassificationName"></bserrmsg>
				</div>
            </div>
        </div>
        
</bsform-grid-tree>

