<script type="text/javascript">

</script>
<style type="text/css">
    .unstyled::-webkit-inner-spin-button {
        display: none;
        -webkit-appearance: none;
    }

    .text-right {
        text-align: center;
    }
	
	#layoutContainer_AccessoryPackageForm {
        min-height:100vh !important;
    }
	.PaketAksesorisWarnainYgGanjil {
		background-color: #EEEEEE;
	}
</style>

<bsform-grid 
        ng-form="AccessoryPackageForm" 
        factory-name="AccessoryPackageFactory" 
        model="mAccessoryPackage" 
        model-id="AccessoriesPackageId"
        loading="loading" 
        get-data="getData" 
        selected-rows="selectedRows" 
        on-select-rows="onSelectRows" 
        form-name="AccessoryPackageForm" 
        show-advsearch="on"
        mode="AccessoryPackageDaMode" 
        form-title="Paket Aksesoris" 
        modal-title="Paket Aksesoris" 
        modal-size="small" 
        icon="fa fa-fw fa-child" 
        do-custom-save="doCustomSave" 
        form-api="formApi">
	<bsform-advsearch>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" show-errors style="padding-left:0 !important">
					<bsreqlabel>Model</bsreqlabel>
					<bsselect name="Model" ng-model="filterAccessoryPackage.VehicleModelId" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId"
						on-select="SelectedModelSearchAccessoryPackage(selected)" placeholder="Pilih Model" icon="fa fa-search">
					</bsselect>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" show-errors style="padding-left:0 !important">
					<bsreqlabel>Tipe</bsreqlabel>
					<bsselect name="Model" ng-model="filterAccessoryPackage.VehicleTypeId" data="optionsTypeSearchBuatAccessoryPackage" item-text="Description,KatashikiCode,SuffixCode" item-value="VehicleTypeId"
						placeholder="Pilih Tipe" icon="fa fa-search">
					</bsselect>
				</div>
			</div>
		</div>		
	</bsform-advsearch>
    <div class="row" style="margin: 0 0 0 0">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Model</bsreqlabel>
                <bsselect name="Model" ng-model="mAccessoryPackage.VehicleModelId" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId"
                    ng-change="SelectedModel(selected)" on-select="SelectedModel(selected)" placeholder="Pilih Model" icon="fa fa-search" ng-disabled="AccessoryPackageDaMode=='edit'">
                </bsselect>
            </div>
            <bserrmsg field="Model"></bserrmsg>

            <div class="form-group" show-errors>
                <bsreqlabel>Tipe</bsreqlabel>
                <bsselect name="Tipe" ng-model="mAccessoryPackage.VehicleTypeId" data="optionsTipeFiltered" item-text="Description,KatashikiCode,SuffixCode" item-value="VehicleTypeId"
                    on-select="SelectedTipe(selected)" placeholder="Pilih Tipe" icon="fa fa-search" ng-disabled="AccessoryPackageDaMode=='edit'">
                </bsselect>
            </div>
            <bserrmsg field="Tipe"></bserrmsg>




            <!--<div class="form-group" show-errors>
                <bsreqlabel>Kode Paket Aksesoris</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="PackageCode" placeholder="PackageCode" ng-model="mAccessoryPackage.AccessoriesPackageCode"
                        ng-maxlength="50" required>
                </div>
                <bserrmsg field="PackageCode"></bserrmsg>
            </div>-->

			<div class="form-group" show-errors>
                <bsreqlabel>Kode Paket Aksesoris</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="AccessoriesPackageCode" placeholder="Input Kode Paket Aksesoris" ng-model="mAccessoryPackage.AccessoriesPackageCode"
                        maxlength="50" ng-disabled="AccessoryPackageDaMode=='edit'" required>
                </div>
                <bserrmsg field="AccessoriesPackageCode"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Nama Paket Aksesoris</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="PackageName" placeholder="Input Paket Aksesoris" ng-model="mAccessoryPackage.AccessoriesPackageName"
                        maxlength="50" ng-disabled="AccessoryPackageDaMode=='edit'" required>
                </div>
                <bserrmsg field="PackageName"></bserrmsg>
            </div>
			
			


            <!--<div class="form-group" show-errors style="padding-left:0 !important">
                <bslabel>Accessories</bslabel>
                <bsselect ng-disabled="DisabledAcc" multiple name="Accessories" ng-model="SelectVehicle.PartsId" data="optionsAccessories" item-text="PartsName" item-value="PartsId"
                  ng-change="SelectMultiAcc(selected)"  placeholder="Pilih Aksesoris" icon="fa fa-search">
                </bsselect>
            </div>
            <bserrmsg field="Accessories"></bserrmsg>-->

            <button ng-if="mAccessoryPackage.VehicleModelId!=null && mAccessoryPackage.VehicleTypeId!=null && mAccessoryPackage.VehicleModelId!=undefined && mAccessoryPackage.VehicleTypeId!=undefined" ng-click="AddAccessories()" type="button" class="rbtn btn ng-binding ladda-button"
            style="float: right;margin-top:20px; margin-bottom:10px;" ng-disabled="AccessoryPackageDaMode=='edit'">
                <span class="ladda-label">
                    Tambah Aksesoris
                </span>
                <span class="ladda-spinner"></span>
            </button>

            <!-- <button type="button" ng-click="debug()" class="btn btn-danger">debug</button> -->

            <table style="margin-top:10px;" class="table table-bordered table-responsive">
                <tbody>
                    <tr>
                        <th style="background-color: #CCCCCC;">Kode Part</th>
                        <th style="background-color: #CCCCCC;">Nama Part</th>
						<th style="background-color: #CCCCCC;">Harga Retail</th>
						<th style="background-color: #CCCCCC;">Action</th>
                    </tr>
                    <tr ng-repeat="ListAccessories in mAccessoryPackage.ListMUnitAccessoriesPackageHODetail track by $index">
                        <td data-ng-class="PaketAksesorisWarnainTabel($index)">{{ListAccessories.AccessoriesCode}}</td>
                        <td data-ng-class="PaketAksesorisWarnainTabel($index)">{{ListAccessories.AccessoriesName}}</td>
						<td data-ng-class="PaketAksesorisWarnainTabel($index)" align="right">Rp. {{ListAccessories.RetailPrice | number:0}}</td>
                        <td data-ng-class="PaketAksesorisWarnainTabel($index)" ng-hide="AccessoryPackageDaMode=='view' || AccessoryPackageDaMode=='edit'">
                            <a ng-click="RemoveAccessories($index)">Hapus</a>
                        </td>
                    </tr>
                </tbody>
            </table>
			
			<div class="form-group" style="margin-top:10px;">
                <bslabel>Aktif</bslabel>
                <div class="input-icon-right">
					<label><input class="form-control" type="checkbox" ng-model="mAccessoryPackage.ActiveBit" style="float:left;width: 20px;height: 20px;"/></label>
                </div>
            </div>
			
			<div class="form-group">
                <bsreqlabel>Harga</bsreqlabel>
                <div class="row">
                    <label class="col-md-1" style="margin-top:8px;">Rp.</label>
                    <div class="col-md-11">
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input ng-disabled="true" readonly input-currency number-only type="text" class="form-control" name="Price"
                            placeholder="Price" ng-model="mAccessoryPackage.Price">
                        </div>
                    </div>
                </div>
                <!--<bserrmsg field="Price"></bserrmsg>-->
            </div>

        </div>
    </div>
    </bsform-grid-tree>
	
<div class="ui modal ModalAccessoryPackageDaAksesoris" role="dialog">
        
            <div class="modal-header">
                <button type="button" ng-click="BatalLookupDaAksesoris()" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Pilih Aksesoris</h4>
            </div>
			<br/>

			<br/>
            <div class="modal-body">
                <!-- <div class="col-md-4 form-group" style="margin-left:20px">
                    <div class="input-group">
                        <input type="text" ng-model-options="{debounce: 250}" class="form-control" placeholder="Filter" ng-change="test(gridApiAccessoryPackageDaAksesoris.grid.columns[filterColIdx].filters[0].term)"
                            ng-model="gridApiAccessoryPackageDaAksesoris.grid.columns[filterColIdx].filters[0].term">
                        <div class="input-group-btn" uib-dropdown>
                            <button id="filter" type="button" class="btn wbtn" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
                                {{filterBtnLabel|uppercase}}&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="filter">
                                <li role="menuitem" ng-repeat="col in gridCols">
                                    <a href="#" ng-click="filterBtnChange(col)">{{col.name|uppercase}}
                                        <span class="pull-right">
                                            <i class="fa fa-fw fa-filter"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
				<div class="form-group" show-errors style="padding-left:0 !important">
                    <bsreqlabel>Toyota Genuine Accessories</bsreqlabel>
                    <bsselect 
						ng-model="SelectedDataAccesories.Id" 
						data="optionsTGA" 
						item-text="TGAName"
						item-value="TGAId"
                        on-select="SelectedTGA(selected)" 
						placeholder="Pilih TGA" 
						icon="fa fa-search">
                    </bsselect>                   
                <!-- <div style="display: block" class="grid" ui-grid="gridAccessoryPackageDaAksesoris" ui-grid-selection ui-grid-auto-resize></div>                -->              
            <!-- <br/> -->

                    <br/>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" ng-model-options="{debounce: 250}" class="form-control" placeholder="Filter" ng-change="test(gridApiAccessoryPackageDaAksesoris.grid.columns[filterColIdx].filters[0].term)"
                                ng-model="gridApiAccessoryPackageDaAksesoris.grid.columns[filterColIdx].filters[0].term">
                            <div class="input-group-btn" uib-dropdown>
                                <button id="filter" type="button" class="btn wbtn" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
                                    {{filterBtnLabel|uppercase}}&nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="filter">
                                    <li role="menuitem" ng-repeat="col in gridCols">
                                        <a href="#" ng-click="filterBtnChange(col)">{{col.name|uppercase}}
                                            <span class="pull-right">
                                                <i class="fa fa-fw fa-filter"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                    <div style="display: block; height:300px" class="grid" ui-grid="gridAccessoryPackageDaAksesoris" ui-grid-selection ui-grid-auto-resize></div>
            <div class="modal-footer">
                <button ng-click="AddDaAccessoriesToTable()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right;margin-top:2px;">
                    <span class="ladda-label">
                        Pilih
                    </span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
</div>	