<!--
  Catatan Flow
  1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

</style>

<div ng-app="app" ng-controller="GoodsReceiptController">
    <div class="form-group">
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Referensi GR *</label>
                    <select class="form-control" disabled>
                        <option>PO TAM</option>
                        <option>PO NON TAM</option>
                        <option selected>PO SUBLET</option>
                        <option>TRANSFER ORDER</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">No. Shipping *</label>
                    <input class="form-control" type="text" name="no_SHIPPING" ng-model="GRHeader.ShippingNo" placeholder="" disabled>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 1 -->

        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">Vendor *</label>
                    <input type="text" class="form-control" ng-model="GRHeader.VendorName" disabled>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" show-errors>
                      <label class="control-label">Tanggal Terima *</label>
                        <div class="tanggal">
                          <bsdatepicker
                          name="startDate"
                          date-options="dateOptions"
                          ng-model="GRHeader.ReceiptDate"
                          required>
                          </bsdatepicker>
                        </div>
                      <bserrmsg field="tanggalTerima"></bserrmsg>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 2 -->

        <!--level 3-->
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Tipe Material*</label>
                    <!--<select class="form-control" disabled>
                        <option selected>Parts</option>
                        <option>Bahan</option>
                    </select>-->
					<select class="form-control" ng-model="MaterialTypeS" disabled>
						<option value="Parts">Parts</option>
                        <option value="Bahan">Bahan</option>
					</select>
                </div>
            </div>
        </div>
        <!-- end level 3-->

        <!-- [START] Form Level 4 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">No. GR</label>
                    <input type="text" class="form-control" ng-model="GRHeader.GoodsReceiptNo" placeholder="" disabled>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" show-errors>
                      <label class="control-label">Tanggal Dokumen GR</label>
                        <div class="tanggal">
                          <bsdatepicker
                          name="startDate"
                          date-options="dateOptions"
                          ng-model="GRHeader.DocDate"
                          required disabled>
                          </bsdatepicker>
                        </div>
                      <bserrmsg field="tanggalDokGR"></bserrmsg>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 4 -->

        <!-- [START] Form Level 4 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">Status</label>
                    <input type="text" class="form-control" ng-model="GRHeader.GRstatusName" placeholder="" disabled>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 4 -->

        <!--level 5-->
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="notes">Notes:</label>
              <textarea class="form-control" rows="4" id="notes" ng-model="GRHeader.Notes" disabled></textarea>
            </div>
          </div>
        </div>
        <!--end. level 5-->

    </div>
</div>

<!-- <div class="form-group"> -->

<div class="row">
    <!-- <div class="col-md-12" ng-controller="GoodsReceiptController"> -->
    <div class="col-md-12">
      <div id="grid1" ui-grid="gridSublet" ui-grid-auto-resize ui-grid-selection ui-grid-cellNav ui-grid-pagination class="grid"></div>
    </div>
</div>

<fieldset style="padding-top: 10px">
<div align="right">
  <button class="btn btn-default">Kembali</button>
  <!-- <button class="wbtn btn" ng-click="laporan()">Cetak Pembatalan Bukti Pengembalian Material</button> -->
</div>
</fieldset>
