<!--
	Catatan Flow
	1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

</style>

<!-- <div class="container" ng-app="app" ng-controller="GoodsReceiptController">             -->
<!-- <div class="container">   -->        
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Referensi GR *</label>
                    <select class="form-control" disabled>
                        <option>PO TAM</option>
                        <option>PO NON TAM</option>
                        <option selected>PO SUBLET</option>
                        <option>TRANSFER ORDER</option> 
                    </select>
                </div>
            </div>  
            <!-- <div class="col-md-3">
                <div class="input-group">
                    <label class="control-label">No. Shipping *</label>    
                    <input class="form-control" type="text" ng-required="required" ng-model="mData.ShippingNo" required>
                    <label class="input-group-btn">
                        <span class="btn wbtn" ng-click="onSearchShippingNo(3, mData.ShippingNo)">
                            <i class="fa fa-search"></i>
                        </span>
                    </label>
                </div>
            </div> -->
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">No. PO</label>
                    <div class="input-group">
                        <input class="form-control" type="text" name="no_wo" ng-model="mData.NoPO" required>
                        <label class="input-group-btn">
                            <span class="btn wbtn" ng-click="onSearchPurchaseNo(3, mData.NoPO)">
                                <i class="fa fa-search"></i>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 1 -->

        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Vendor *</label>
                <!-- <div class="input-group"> -->
                                                            
                    <div ng-disabled="true" disabled class="input-icon-right"> 
                        <!-- <i ng-disabled="true" disabled ng-click= "SearchVendor(mData)" class="fa fa-search"></i> -->
                        <i ng-disabled="true" disabled class="fa fa-search"></i>
                        <input ng-disabled="true" disabled class="form-control" type="text" name="" ng-model="mData.Name" placeholder="" required></input>
                    <!--ng-disabled="isDisabled == true"-->
                    </div>
            </div>
            <!-- <div class="col-md-2">
                <div class="form-group" show-errors>
                      <label class="control-label">Tanggal Terima *</label>
                        <div class="tanggal">
                          <bsdatepicker
                          name="startDate"
                          date-options="dateOptions"
                          ng-model="mData.ReceiptDate"
                          required>
                          </bsdatepicker>
                        </div>  
                      <bserrmsg field="tanggalTerima"></bserrmsg>
                </div>
            </div> -->
            <div class="col-md-2">
                <div class="input-group">
                        <label class="control-label">Tanggal Terima *</label>
                        <div class="tanggal">
                            <bsdatepicker
                            name="startDate"
                            date-options="dateOptions"
                            ng-model="mData.ReceiptDate"
                            ng-disabled="true"
                            >
                            </bsdatepicker>
                    </div> 
                    <!-- <input class="form-control" type="text" name="" ng-model="mData.ReceiptDate" placeholder=""></input> -->
                </div>
            </div>    
            <div class="col-md-1">
                <label class="control-label">&nbsp</label>
                <input class="form-control" ng-disabled="true" type="text" name="" ng-model="ReceiptTime" placeholder=""></input>
            </div>  
        </div>
        <!-- [END] Form Level 2 --> 

        <!--level 3-->
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Tipe Material*</label>
                    <select class="form-control" ng-model="mData.MaterialType" ng-options="tipe for tipe in TipeMat" disabled> 
                        <!-- <option selected>Parts</option>
                        <option>Bahan</option> -->
                    </select>
                </div>
            </div>
        </div>
        <!-- end level 3-->
    

        <!--level 4-->
        <!--<br>-->
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="notes">Notes:</label>
              <textarea class="form-control" ng-model="mData.Notes" rows="5" maxlength="200" id="notes"></textarea>
            </div>
          </div>
        </div>
        <!--end. level 4-->
<!-- </div> -->

<!-- <div class="form-group">
<div class="row">
    <div class="col-md-2">
        <select class="form-control" placeholder="Bulk Action">
            <option>Hapus</option>            
        </select>
    </div>
</div> -->
<fieldset style="padding-top: 10px">
<div class="row">
    <div class="col-md-2">
        <div class="input-group-btn dropdown" uib-dropdown="" style="">
          <button style="margin-right:5px;" type="button" ng-disabled="!mySelections.length>0" 
            class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" 
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <!-- ngIf: allowDelete -->
            <li>
            <!-- ngIf: selectedRows.length>0 --><a href="#" ng-click="bulkAction(1)">Hapus</a>
            <!-- end ngIf: selectedRows.length>0 --></li>
            <!-- end ngIf: allowDelete -->
            <!-- ngIf: allowApprove -->
            <!-- ngIf: allowReject -->
            <!-- ngIf: allowReview -->
            <!-- ngRepeat: customBulk in customBulkFunc -->
          </ul>
        </div>
    </div>
    <!-- <div class="col-md-9" align="right"> -->
    <div align="right">
        <!-- <button class="btn rbtn" ng-click="addNewDataItem(30)">Tambah Material</button> -->
    </div>
</div>
</fieldset>
<fieldset style="padding-top: 10px">
<div class="row">
    <!-- <div class="col-md-12" ng-controller="GoodsReceiptController"> -->
    <div class="col-md-12">
      <div id="grid1" ui-grid="gridSublet" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
    </div>
</div>
</fieldset>
<fieldset style="padding-top: 10px">
<div align="right">
	<!-- <button class="btn btn-default">Kembali</button> -->
    <button class="btn rbtn" ng-click="simpanPO(3, mData)">Simpan & Print</button>
    <!-- <button class="wbtn rbtn" ng-click="laporan()">Simpan & Cetak Bukti Pengambilan Material</button> -->
</div>
</fieldset>
