<script type="text/javascript">

</script>
<style type="text/css">


</style>
<div ng-show="LeadTimeProspectFuTable">
	<button ng-click="TambahLeadTimeProspectFu()" style="float: right;margin:-31px 0 0 8px;" type="button" class="rbtn btn ng-binding ladda-button" >
		<i class="fa fa-plus"></i> Tambah
	</button>
	
<bsform-grid 
        ng-form="LeadTimeProspectFuForm" 
        factory-name="LeadTimeProspectFuFactory"
        model="mLeadTimeProspectFu"
        model-id="FollowUpProspectLeadTimeId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="LeadTimeProspectFuForm"
        form-title="Lead Time Prospect FU"
        modal-title="Lead Time Prospect FU"
        modal-size="small"
		form-api="formApi" 
		do-custom-save="doCustomSave"
		action-button-caption="actButtonCaption"
		grid-hide-action-column="true"
		hide-new-button="true"
        icon="fa fa-fw fa-child"
        >


        
</bsform-grid>

</div>

<div class="row" ng-show="ShowLeadTimeProspectFuDetail"  style="margin: -31px 0 0 0;min-height:100vh">
    <button ng-disabled="mLeadTimeProspectFu.OutletId==null||mLeadTimeProspectFu.OutletId==undefined||mLeadTimeProspectFu.CategoryProspectId==null||mLeadTimeProspectFu.CategoryProspectId==undefined||mLeadTimeProspectFu.LeadTime==null||mLeadTimeProspectFu.LeadTime==undefined||mLeadTimeProspectFu.LeadTime==''" style="float: right;margin-right:5px" ng-show="ShowSimpanLeadTimeProspectFu" ng-click="SimpanLeadTimeProspectFu()"  type="button" class="rbtn btn ng-binding ladda-button" >
		<span class="ladda-label">
			Simpan
		</span><span class="ladda-spinner"></span>
	</button>
	
	<button style="float: right;margin-right:5px" ng-click="KembaliDariLeadTimeProspectFu()"  type="button" class="wbtn btn ng-binding ladda-button" >
		<span class="ladda-label">
			Kembali
		</span><span class="ladda-spinner"></span>
	</button>
	
	
	<br/>
	<br/>
		 <div class="col-md-4" style="margin-top: 10px">

			<div class="form-group" >
				<label>Cabang</label>
				<bsselect ng-disabled="!mLeadTimeProspectFu_Enable" name="Outlet" ng-model="mLeadTimeProspectFu.OutletId" data="optionsOutlet" item-text="Name" item-value="OutletId" placeholder="Pilih Cabang" icon="fa fa-search">
				</bsselect>
			</div>
			
			
			<div class="form-group" >
				<label>Kategori Prospek</label>
				<bsselect ng-disabled="!mLeadTimeProspectFu_Enable" name="CategoryProspectId" ng-model="mLeadTimeProspectFu.CategoryProspectId" data="optionsCategoryProspect" item-text="CategoryProspectName" item-value="CategoryProspectId" on-select="value(selected)" placeholder="Kategori Prospek" icon="fa fa-search">
				</bsselect>
			</div>
			

			<div class="form-group" >
                <bsreqlabel>Waktu Standart Follow Up</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input number-only ng-disabled="!mLeadTimeProspectFu_Enable" type="text" class="form-control" name="LeadTime" placeholder="Waktu Standart Follow Up" ng-model="mLeadTimeProspectFu.LeadTime"
                            maxlength="3" required
                    >
                </div>
                
            </div>
			
			<!--<div class="form-group" show-errors>
                <bsreqlabel>Ratio Spk (%)</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="RatioSpk" placeholder="Ratio Spk (%)" ng-model="mLeadTimeProspectFu.RatioSPK"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="RatioSpk"></bserrmsg>
            </div>-->

          </div>
</div>
