<style>
.ng-hide.ng-hide-animate{
     display: none !important;
}
.c-iExpanded {
 font-family: "Open Sans";
    content: "+";
}
</style>
<div id="content" style="padding:0;">
    <!--     <div class="row">
        <big-breadcrumbs items="['Initialization', 'Organization']" icon="sitemap" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div> -->
    <div class="bs-navbar no-content-padding" style="height:60px;margin:0px;padding:14px 20px 20px 14px;">
        <h2 class="page-title txt-color-blueDark" style="width:auto;">
        <i class="fa fa-fw fa-key"></i> Access Matrix
    </h2>
    </div>
    <div id="layoutContainer_am" style="position:relative;margin:0px;padding:0px;height:100%;">
        <ui-layout options="{flow:'column', dividerSize:2}">
            <div ui-layout-container size="25%">


                <div class="inbox-side-bar" style="width:100%;">
                    <h6 style="padding:0px;margin:0px;font-size:1.4rem;">ORGANIZATION CHART
                    </h6>
                    <hr>
                    <abn-tree tree-data="orgData"
                              tree-control="ctlOrg"
                              icon-leaf="fa fa-file"
                              icon-expand="fa fa-plus"
                              icon-collapse="fa fa-minus"
                              on-select="showSelOrg(branch)">
                    </abn-tree>
                </div>
            </div>

            <div ui-layout-container size="75%">
                <div class="inbox-side-bar" style="width:100%;">
                    <h6 style="padding:0px;margin:0px;font-size:1.4rem;">ACCESS MATRIX<br>
                        <div class="pull-right" style="margin-top:-2rem;" ng-if="selOrg!=null">
                            <div class="form-group" style="margin-bottom:0px;">
                                <label class="control-label">Role: </label>
                                <ui-select ng-model="role.selected" on-select="selectRole(role.selected)" theme="select2"
                                    class="select2" 
                                    style="min-width:150px;display:inline-block;vertical-align:middle;margin-left:5px;margin-right:5px;"
                                >
                                    <ui-select-match placeholder="Select Role...">{{$select.selected.title}}</ui-select-match>
                                    <ui-select-choices repeat="role in roleData | filter: $select.search">
                                        <i class="fa fa-child"></i> <span ng-bind-html="role.title | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <button class="btn btn-default" ng-click="saveRoleRights()" ng-disabled="roleid==null">
                                <i class="fa fa-fw fa-lg fa-save"> </i>Save
                                </button>
                            </div>
                        </div>
                    </h6>
                    <hr>
                    <div class="well clearfix" ng-if="selOrg!=null"
                         style="border:none;background-color:#fff;margin:0px;padding:0 0 20px 0;box-shadow:0 0 0 #fff;">
                        <div class="pull-left">
                            <div class="dropdown" uib-dropdown>
                                <button class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle>Select Top Menu
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu" uib-dropdown-menu style="min-width: 200px;">
                                    <div class="input-icon-right">
                                        <i class="fa fa-search"></i>
                                        <input type="text" name="search" placeholder="Search..." style="margin-left:5px;margin-right:5px;">
                                    </div>
                                    <abn-tree tree-data="l2data"
                                                tree-control="ctlMenu"
                                                icon-leaf="fa fa-file"
                                                icon-expand="fa fa-plus"
                                                icon-collapse="fa fa-minus"
                                                on-select="l2Selected(branch)">
                                    </abn-tree>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ui icon info message no-animate" ng-show="selOrg==null" ng-cloak>
                          <i class="fa fa-info-circle fa-2x fa-fw"></i>
                          <div class="content">
                            <div class="header">
                              Please select Organization to manage
                            </div>
                          </div>
                    </div>
                    <div class="ui cards fluid">
                        <div id="level-{{node.level}}-{{$index}}" ng-repeat="node in data" class="ui card fluid" 
                             style="background-color: aliceblue;" ng-show="node.visible">
                            <div class="content" style="padding-bottom:0px;">
                                <div class="header">.:. {{node.title}}&nbsp&nbsp
                                    <div class="ui checkbox floated left" style="margin-left:20px;">
                                        <input type="checkbox" tabindex="0" ng-model="node.bitArr[0]" ng-change="chgRbyte(node)">
                                        <label>Access All</label>
                                    </div>
                                </div>
                            </div>
                            <div ng-include="'ng-am'" class="ui cards" style="margin:0 5px 5px 5px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </ui-layout>
    </div>
</div>

<!-- ng-style="{
                      'background-color':(node.level==2?'whitesmoke':''),
                      'margin':(node.level==2?'20px 20px 0 20px':''),
                      'width':(node.level==3?'295px':'')
                     }"> -->
<!-- ng-class="{ 'panel panel-default': node.level==2, 'panel panel-default':node.level==3 }" -->


<script type="text/ng-template" id="ng-am">
    <div id="level-{{node.level}}-{{$index}}" ng-repeat="node in node.child" 
         ng-show="node.visible" 
         ng-class="{ 'ui card fluid': node.child.length>0 && node.parent!=null, 'ui card':node.child.length==0 }"
         ng-style="{
                      'background-color':(node.child.length>0 && node.parent!=null?'whitesmoke':''),
                      'width':(node.child.length==0?'295px':'')
                    }">
                    <!-- 'margin':(node.child.length>0 && node.parent!=null?'':''), -->
        <div ng-if="node.child.length>0 && node.parent!=null" class="content">
            <div class="header" style="margin-bottom: 10px;">:: {{node.title}}&nbsp&nbsp
                <div class="ui checkbox floated left" style="margin-left:20px;">
                    <input type="checkbox" tabindex="0" ng-model="node.bitArr[0]" ng-change="chgRbyte(node)">
                    <label> Access All</label>
                </div>
            </div>
            <div ng-include="'ng-am'" class="ui cards"></div>
        </div>

        <div class="content" ng-if="node.child.length==0" style="margin-bottom: 5px;">
            <div class="header">{{node.title}}</div>
            <div class="meta"> {{node.description}}</div>
        </div>
        <div class="content" ng-if="node.child.length==0">

            <div class="ui form" style="font-size:1.2rem">
            <div class="inline fields">
                <div class="field" ng-repeat="rb in rbData" ng-if="checkRB(node.byte_available,rb.rights_byte)">
                <div class="ui checkbox" >
                    <input type="checkbox" tabindex="0" ng-model="node.bitArr[$index]" ng-change="chgRbyte(node)">
                    <label>{{rb.rights_desc}}</label>
                </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</script>