<style type="text/css">

</style>
<bstreeform
        ng-form="MenuForm"
        form-name="Menu"
        form-title="Application Menu Manager"
        tree-title="Application Menu"
        detail-title="Application Menu Detail"
        factory-name="Menu"
        collection="cData"
        model="mData"
        get-data="getData()"
        icon="fa fa-fw fa-sitemap"
        >
          <formly-form fields="vm.fields" model="mData" form="vm.form" options="vm.options" novalidate>
                <label><i class="fa fa-fw fa-key"></i> Byte Available</label>
                <div class="col-md-12" style="border-style:solid;border-width:1px;border-color:#cecece;">
                    <div class="form-group">
                        <label class="col-md-3" ng-repeat="rb in rbData" >
                            <input type="checkbox" class="checkbox style-0" id="$index" ng-model="mData.bitArr[$index]" ng-change="chgRbyte(mData)">
                            <span>{{rb.rights_desc}}</span>
                        </label>
                    </div>
                </div>
          </formly-form>
</bstreeform>

