<script type="text/javascript">

</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript" src="js/print_min.js"></script>

		<div ng-show="MainReportPenjualanServicePart_Show" ng-form name="FormValidation_PenjualanServicePart">
			<div class="col-md-12">
				<div class="col-md-3">
					<div class="form-group" ng-class="{'has-error':(FormValidation_PenjualanServicePart.TanggalStart.$error.required && FormValidation_PenjualanServicePart.TanggalStart.$touched) || TanggalPenjualanAwalOK == false}">		
					<bsreqlabel>Tanggal</bsreqlabel>				
						<bsdatepicker name="TanggalStart" date-options="dateOptions" format="dd/MM/yyyy" ng-model="ReportPenjualanServicePart_TanggalStart"
						ng-change="TanggalPenjualanAwalChanged()" required>
						</bsdatepicker>	
						<span ng-if="FormValidation_PenjualanServicePart.TanggalStart.$error.required && FormValidation_PenjualanServicePart.TanggalStart.$touched" class="help-block">Field ini wajib diisi</span>
						<!-- <span ng-if="!TanggalPenjualanAwalOK" class="help-block">{{errTanggalPenjualanAwal}}</span> -->
							
					</div>
				</div>

				<div class="col-md-2" style="padding-top: 31px; margin-left: -7px;">
					<div class="form-group">		
					<bslabel>s.d.</bslabel>				
							
					</div>					
				</div>
								
				<div class="col-md-3" style="padding-top: 23px; margin-left: -135px;">
					<div class="form-group" ng-class="{'has-error':(FormValidation_PenjualanServicePart.TanggalEnd.$error.required && FormValidation_PenjualanServicePart.TanggalEnd.$touched) || TanggalPenjualanAkhirOK == false}">		
								
						<bsdatepicker name="TanggalEnd" date-options="dateOptions" format="dd/MM/yyyy" ng-model="ReportPenjualanServicePart_TanggalEnd"
						ng-change="TanggalPenjualanAkhirChanged()" required>
						</bsdatepicker>		
						<span ng-if="FormValidation_PenjualanServicePart.TanggalEnd.$error.required && FormValidation_PenjualanServicePart.TanggalEnd.$touched" class="help-block">Field ini wajib diisi</span>
						<!-- <span ng-if="!TanggalPenjualanAkhirOK" class="help-block">{{errTanggalPenjualanAkhir}}</span> -->
					</div>					
				</div>

				<div class="col-md-4"
				ng-class="{'has-error':(FormValidation_PenjualanServicePart.NamaBranch.$error.required && FormValidation_PenjualanServicePart.NamaBranch.$touched)}">
					<bsreqlabel>Nama Branch</bsreqlabel>
					<div class="input-icon-right; ">
						<bsselect ng-model="ReportPenjualanServicePart_NamaBranch" data="optionsReportPenjualanServicePart_NamaBranch" 
						item-text="BranchName" name="NamaBranch" item-value="BranchId" on-select="value(selected)" placeholder="Branch" icon="fa fa-search"
						ng-disabled="!Main_NamaBranch_EnableDisable" required>
						</bsselect>	
						<span ng-if="FormValidation_PenjualanServicePart.NamaBranch.$error.required && FormValidation_PenjualanServicePart.NamaBranch.$touched" class="help-block">Field ini wajib diisi</span>	
					</div>
				</div>
				<!-- <div class="col-md-12 has-error">
					<div class="has-error" style="margin-left:15px;">
						<span ng-show="ReportPenjualanServicePart_TanggalStart>ReportPenjualanServicePart_TanggalEnd" class="help-block">Tanggal awal harus lebih kecil atau sama dengan tanggal akhir!</span>
					</div>
				</div> -->
			</div>
		
			<div class="col-md-12">
				<div class="col-md-4">
					<bslabel>Pelanggan PKS ?</bslabel>
						<bsselect ng-change="ReportPenjualanServicePart_PelangganPKS_Changed()" style="margin-bottom:10px;" 
						ng-model="ReportPenjualanServicePart_PelangganPKS" data="ReportPenjualanServicePart_PelangganPKSOptions" 
						item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih" icon="fa fa-search">
						</bsselect>
				</div>

				<div class="col-md-4">
					<div>
					<bslabel>Tipe Report : </bslabel>
					<div class="form-group">	
					<input type="checkbox" ng-change="ReportPenjualanServicePart_TipeReport_ValueChanged()" ng-model="ReportPenjualanServicePart_TipeReport1" ng-true-value="'Service'" ng-false-value="''">Service<br>
					<input type="checkbox" ng-change="ReportPenjualanServicePart_TipeReport_ValueChanged()" ng-model="ReportPenjualanServicePart_TipeReport2" ng-true-value="'Parts'" ng-false-value="''">Parts
					</div></div>
				</div>
			</div>
		
			
			<div class="row">

				<div class="col-md-12">
					<button id="ReportPenjualanServicePart_Excel" ng-click="ReportPenjualanServicePart_Excel_Clicked()"
						type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px" >
						<span class="ladda-label">
							Excel
						</span><span class="ladda-spinner"></span>
					</button>					
				</div>
			</div>
	</div>