<script type="text/javascript">

</script>
<style type="text/css">


</style>


<bsform-grid
        ng-form="TypeOutgoingPaymentForm"
        factory-name="TypeOutgoingPayment"
        model="mTypeOutgoingPayment"
        model-id="OutgoingPaymentId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="TypeOutgoingPaymentForm"
        form-title="TypeOutgoingPayment"
        modal-title="Type Outgoing Payment"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >


        <div class="row">
          <div class="col-md-6">


            <div class="form-group" show-errors>
                <bsreqlabel>Outgoing Payment</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="OutgoingPaymentName" placeholder="Outgoing Payment" ng-model="mTypeOutgoingPayment.OutgoingPaymentName"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="OutgoingPaymentName"></bserrmsg>
            </div>
			


          </div>
        </div>
</bsform-grid-tree>

