<script type="text/javascript">

</script>
<style type="text/css">


</style>


<bsform-grid ng-form="AccountBankListForm" factory-name="AccountBankListFactory" model="mAccountBankList" model-id="BankId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="AccountBankListForm" form-title="Account Bank List" modal-title="Account Bank List" modal-size="small" icon="fa fa-fw fa-child">

    <div class="row">
        <div class="col-md-6">


            <div class="form-group" show-errors>
                <bsreqlabel>Bank Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="BankName" placeholder="BankName" ng-model="mAccountBankList.BankName" ng-maxlength="50" required>
                </div>
                <bserrmsg field="BankName"></bserrmsg>
            </div>
        </div>
    </div>
</bsform-grid-tree>



