<div class="panel panel-default">
            <div class="panel-heading">SUMMARY</div>
        <fieldset disabled="disabled">
                <div class="panel-body">
                        <div class=" col-md-5">
                              <div class="row" style="">
                                <div class="form-group form-inline" style="margin-right: -76px;">
                                    <label style="font-weight: bold;">Appointment Rate</label>
                                    <div class="pull-right">
                                        <input  type="text" class="form-control" name="AppointmentRate" ng-model="AppointmentRate" style="width: 47%;"  disabled><label style="font-weight: bold;">%</label>
                                    </div>
                                </div>

                                <div class="form-group form-inline" style="margin-right: -65px;">
                                    <label>Customer Appointment Show</label>
                                    <div class="pull-right">
                                        <input  type="text" class="form-control" name="CustomerAppointmentShow" ng-model="CustomerAppointmentShow" style="width: 50%;"  disabled>
                                    </div>
                                </div>

                                <div class="form-group form-inline" style="margin-right: -65px;">
                                    <label>Total Unit Release WO</label>
                                    <div class="pull-right">
                                        <input  type="text" class="form-control" name="TotalUnitEntry" ng-model="TotalUnitEntry" style="width: 50%;"  disabled>
                                    </div>
                                </div>
                                <div class="form-group form-inline" style="margin-right: -76px;"> <label></label> </div>
                                <div class="form-group form-inline" style="margin-right: -76px;">
                                    <label style="font-weight: bold;">No Show Rate</label>
                                    <div class="pull-right">
                                        <input  type="text" class="form-control" name="NoShowRate" ng-model="NoShowRate" style="width: 47%;"  disabled><label style="font-weight: bold;">%</label>
                                    </div>
                                </div>

                                <div class="form-group form-inline" style="margin-right: -65px;">
                                    <label>Customer Cancel</label>
                                    <div class="pull-right">
                                        <input  type="text" class="form-control" name="CustomerCancel" ng-model="CustomerCancel" style="width: 50%;"  disabled>
                                    </div>
                                </div>

                                <div class="form-group form-inline" style="margin-right: -65px;">
                                    <label>Customer Appointment</label>
                                    <div class="pull-right">
                                        <input  type="text" class="form-control" name="CustomerAppointment" ng-model="CustomerAppointment" style="width: 50%;"  disabled>
                                    </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-2"> </div>
                        <div class=" col-md-5">
                              <div class="row" style="">
                                <div class="form-group form-inline" style="margin-right: -30px;">
                                    <label style="font-weight: bold;">Show Rate</label>
                                    <div class="pull-right">
                                        <input  type="text" class="form-control" name="ShowRate" ng-model="ShowRate" style="width: 47%;"  disabled><label style="font-weight: bold;">%</label>
                                    </div>
                                </div>
                                <div class="form-group form-inline" style="margin-right: -20px;">
                                    <label>Customer Appointment Show</label>
                                    <div class="pull-right">
                                        <input  type="text" class="form-control" name="CustomerAppointmentShow" ng-model="CustomerAppointmentShow" style="width: 50%;"  disabled>
                                    </div>
                                </div>
                                <div class="form-group form-inline" style="margin-right: -20px;">
                                    <label>Customer Appointment</label>
                                    <div class="pull-right">
                                        <input  type="text" class="form-control" name="CustomerAppointment" ng-model="CustomerAppointment" style="width: 50%;"  disabled>
                                     </div>
                                </div>
                                <div class="form-group form-inline" style="margin-right: -33px;"><label></label> </div>
                                <div class="form-group form-inline" style="margin-right: -30px;">
                                    <label style="font-weight: bold;">Reschedule Rate</label>
                                    <div class="pull-right">
                                        <input  type="text" class="form-control" name="RescheduleRate" ng-model="RescheduleRate" style="width: 47%;"  disabled><label style="font-weight: bold;">%</label>
                                     </div>
                                </div>
                                <div class="form-group form-inline" style="margin-right: -20px;">
                                    <label>Customer Reschedule</label>
                                    <div class="pull-right">
                                        <input  type="text" class="form-control" name="CustomerReschedule" ng-model="CustomerReschedule" style="width: 50%;"  disabled>
                                     </div>
                                </div>
                                <div class="form-group form-inline" style="margin-right: -20px;">
                                    <label>Customer Appointment + Reschedule</label>
                                    <div class="pull-right">
                                        <input  type="text" class="form-control" name="CustomerAppointmentResch" ng-model="CustomerAppointmentResch" style="width: 50%;"  disabled>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
        </fieldset>

        </div>
        <div class="form-group pull-right">
          <button ng-if="role=='Branch'" ng-click="getReportCabang()" type="button" class="rbtn btn"> Export </button>
          <button ng-if="role=='HO'" ng-click="getReportHO()" type="button" class="rbtn btn"> Export </button>
        </div>
