<script type="text/javascript">
</script>

<style type="text/css">

</style>


<div ng-show="mainForm">
    <bsform-grid 
        ng-form="SetStatusFleetForm" factory-name="SetStatusFleetFactory" model="mSetStatusFleet" model-id="CustomerId" loading="loading" get-data="getData" selected-rows="selectedRows" grid-hide-action-column="true" show-advsearch="on" hide-new-button="true" on-select-rows="onSelectRows" form-name="setstatusfleetForm" form-title="Set Status Fleet" modal-title="Set Status Fleet" modal-size="small" icon="fa fa-fw fa-child">
        <bsform-advsearch>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <bsreqlabel>Pembelian dalam kurun waktu (tahun)</bsreqlabel>
                            <div class="input-icon-right">
                                <i class="fa fa-th-list"></i>
                                <input type="number" step="1" pattern="[0-9]" value="0" min="0" class="form-control" name="nama" placeholder="" ng-model="filter.timeFrameYear" maxlength="10">
                                <!-- <input number-only type="number"  step="1" pattern="[0-9]" value="0" min="0" class="form-control" name="name" placeholder="" ng-model="filter.timeFrameYear" maxlength="30" required> -->
                                <!-- <bsdatepicker name="StartValidDate" date-options="dateOptions" ng-model="filter.timeFrameYearStart">
                                </bsdatepicker> -->
                            </div>
                        <bserrmsg field="name"></bserrmsg>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                        <div class="form-group" show-errors>
                        <bsreqlabel>Pembelian Dalam kurun Waktu (End)</bsreqlabel>
                        <div class="input-icon-right">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control" name="name" placeholder="" ng-model="filter.timeFrameYear" maxlength="30" required>
                            <bsdatepicker ng-disabled="filter.timeFrameYearStart == null" name="StartValidDate" date-options="dateOptions" ng-model="filter.timeFrameYearEnd">
                            </bsdatepicker>
                        </div>
                    <bserrmsg field="name"></bserrmsg>
                        </div>
                </div> -->
                <div class="col-md-4">
                     <div class="form-group" show-errors>
                        <label>Jumlah Minimal Pembelian</label>
                            <div class="input-icon-right">
                                <i class="fa fa-money"></i>
                                <!-- <input type="text" class="form-control" name="Sejumlah" placeholder="" ng-model="filter.unitCount" maxlength="30" required> -->
                                <input type="number" step="1" pattern="[0-9]" value="0" min="0" class="form-control" name="nama" placeholder="" ng-model="filter.unitCount" maxlength="10">
                            </div>
                        <bserrmsg field="Sejumlah"></bserrmsg>
                    </div>
                </div>
                
            </div>
            <div class="row" style="margin-bottom: 20px;">

            </div>
        </bsform-advsearch>
    </bsform-grid>
</div>

<div ng-show="secondForm">
    <button ng-click="btnubahTerm()" class="rbtn btn ng-binding ladda-button" style="float:right; margin:-30px 0 0 1px; width:11%">Simpan</button>
    <button ng-click="btnKembaliToMainForm()" class="wbtn btn no-animate ng-binding ladda-button" style="float:right; margin:-30px 0 0 1px; width:11%">Kembali</button>
	
    <div class="row" style="padding-top: 15px">
        <div class="col-md-4">
            <div class="form-group">
                <label>Nama Prospect/Pelanggan</label>
                    <div class="input-icon-right ">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" name="nama" placeholder="" ng-model="ubahTOPFleet.CustomerName" maxlength="100" ng-disabled="true">
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Kategori Pelanggan</label>
                    <bsselect id="comboBox" name="Kategori" ng-model="ubahTOPFleet.CustomerTypeId" data="dataCusCategory" item-text="CustomerTypeDesc" item-value="CustomerTypeId" on-select="CustomerTypeId" placeholder="" icon="fa fa-search" ng-disabled="true"></bsselect>
            </div>
        </div>                
    </div>

    <div class="row">
        <div class="col-md-4">
            <!--<bscheckbox 
                ng-model="ubahTOPFleet.Afco" 
                label="AFCO" 
                true-value="true" 
                false-value="false">
            </bscheckbox>-->
			<bsreqlabel>AFCO</bsreqlabel>
			<select  ng-model="ubahTOPFleet.Afco" class="form-control" ng-options="item.SearchOptionId as item.SearchOptionName for item in optionsAfcoBuatSetStatusFleet"
				placeholder="">
				<option label="-- Pilih --" value="" disabled="true"></option>	
			</select>
        </div>
        
        <div class="col-md-4">
            <div class="form-group">
                <label>Status Fleet</label>
                    <div class="input-icon-right">
                        <bsselect id="comboBox" name="Fleet" ng-model="ubahTOPFleet.FleetId" data="selectionItem" item-text="CategoryFleetName" item-value="FleetId" on-select="FleetId" placeholder="" icon="fa fa-search"></bsselect>
                    </div>
            </div>
        </div>
    </div>

    <div align="right">
        <button ng-click="btnTambah()" class="rbtn btn ng-binding ladda-button" style="margin-bottom:12px; width:11%">
            <i class="fa fa-plus">&nbspTambah</i>
        </button>
    </div>

    <div class="ui modal tambahTOP" role="dialog">
        <i class="close icon"></i>
        <div class="header">Term Of Payment</div>
        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>TOP ke</label>
                            <div class="input-icon-right ">
                                <input ng-disabled="true" type="number" step="1" value="0" min="1" class="form-control" name="nama" placeholder="" ng-model="ubahTOPFleet.TOPKe">
                            </div>
                    </div>
                    <div class="form-group">
                        <label>Persentase</label>
                            <div class="input-icon-right ">
                                <i class="fa fa-percent"></i>
								<input id="DaStatusFleetPersen" ng-change="SetStatusFleetJagaPersen()" type="number" step="1" value="0" min="0" max="100" class="form-control" name="nama" placeholder="" ng-change="SetStatusFleetCekPersen(ubahTOPFleet.Persentase)" ng-model="ubahTOPFleet.Persentase">
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Due Date (Hari)</label>
                            <div class="input-icon-right ">
                                <!-- <input type="text" class="form-control" name="nama" placeholder="" ng-model="ubahTOPFleet.Durasi" maxlength="10"> -->
                                <!-- <bsdatepicker name="StartValidDate" date-options="dateOptions" ng-model="ubahTOPFleet.Durasi">
                                </bsdatepicker> -->
                                <input type="number" step="1" value="0" min="0" class="form-control" name="nama" placeholder="" ng-model="ubahTOPFleet.Durasi">
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="wbtn btn ng-binding" style="width:100px;" ng-click="btnBatal()">Batal</div>
            <div class="rbtn btn ng-binding ng-scope" style="width:100px;" ng-disabled ="disabledBtnSimpan" ng-click="btnSimpan()">Simpan</div>
        </div>
    </div>

    <div ui-grid="gridEditTOP" ui-grid-grouping class="grid" ui-grid-pagination ui-grid-auto-resize></div>
</div>