<script type="text/javascript">

</script>
<style type="text/css">

</style>
<bsform-base
        ng-form="MappingSvcForm"
        factory-name="MappingSvc"
        model="mMappingSvc"
        model-id="Id"
        loading="loading"
        selected-rows="selectedRows"

        show-advsearch="on"

        form-title="Mapping Service"
        modal-size="small" 
        icon="fa fa-fw fa-users"
        >
        <bsform-advsearch>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Menu</label>
                        <bsselect-tree
                                data="menuData"
                                tree-id="Id"
                                tree-text="Name"
                                tree-child="child"
                                expand-level=3

                                tree-control="ctlMenu"
                                on-select="selectMenu(selected)"
                                placeholder="Menu..."
                                icon="fa fa-sitemap"
                        >
                        </bsselect-tree>
                    </div>
                </div>                
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Organization: </label>
                        <bsselect-tree  
                            title="Organization"
                            data="orgData"
                            on-select="showSelOrg(selected)"
                            tree-id="Id"
                            tree-text="Code"
                            tree-text2="Name"
                            tree-child="Child"
                            expand-level=3
                            placeholder="Organization..."
                            tree-control="ctlOrg"
                            icon="fa fa-sitemap"
                        >
                        </bsselect-tree>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Role</label>
                        <bsselect-tree  
                            title="Role"
                            data="roleData"
                            on-select="selectRole(selected)"
                            tree-id="Id"
                            tree-text="Name"
                            tree-child="child"
                            expand-level=4
                            placeholder="Role..."
                            tree-control="ctlRole"
                            icon="fa fa-sitemap"
                        >
                        </bsselect-tree>
                    </div>
                </div>
            </div>
        </bsform-advsearch>
        <bsform-base-main>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>App Resource</label>
                        <bsselect name="AppResource"
                            ng-model="filter.appResource"
                            data="appResourceData"
                            item-text="Name"
                            item-value="Id"
                            placeholder="App Resource..."                              
                        >
                        </bsselect>
                    </div>
                </div>
            </div>
            <div  ui-grid="grid" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination
                  ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize
                  class="grid" ng-style="getTableHeight()"
            >
                <div class="ui-grid-nodata" ng-if="!grid.data.length && !loading" ng-cloak>No data available</div>
                <div class="ui-grid-nodata" ng-if="loading" ng-cloak>Loading data... <i class="fa fa-spinner fa-spin"></i></div>
            </div>
        </bsform-base-main>
        <bsform-base-detail>

        </bsform-base-detail>       

</bsform-grid>
