<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}

	.watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="row" ng-show="Show_MainBeaMateraiElektronik" ng-form name="FormValidation_MainBeaMateraiElektronik">
	<div>
		<div class="row">
			<div class="pull-right" style="margin-top:-50px; margin-right:30px">
				<button id="TambahBeaMateraiElektronik_Button" ng-click="TambahBeaMateraiElektronik_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: right; margin-top:24px;margin-left:24px">
					<span class="ladda-label">
						<i class="fa fa-fw fa-plus"> </i> Tambah
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3" style="margin-top:5px" ng-show="!BeaMateraiElektronik_HO_Show">
					<bslabel>Nama Branch</bslabel>
					<bsselect ng-model="MainBeaMateraiElektronik_SelectBranch" data="optionsMainBeaMateraiElektronik_SelectBranch" item-text="name"
					 item-value="value" on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search" ng-disabled="!TambahSelectBranch_EnabledDisabled">
					</bsselect>
				</div>

				<div class="col-md-3" style="margin-top:5px" ng-show="BeaMateraiElektronik_HO_Show">
					<bslabel>Nama Branch</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="MainBeaMateraiElektronikNamaBranch" placeholder="" ng-model="MainBeaMateraiElektronik_NamaBranch"
						 ng-maxlength="50" ng-disabled="!TambahSelectBranch_EnabledDisabled">
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-3" ng-class="{'has-error':FormValidation_MainBeaMateraiElektronik.MainBeaMateraiElektronikTanggalAwal.$error.required && FormValidation_MainBeaMateraiElektronik.MainBeaMateraiElektronikTanggalAwal.$touched || MainBeaMateraiElektronikTanggalAwalOK == false}">
					<bsreqlabel>Tanggal</bsreqlabel>
					<div class="input-icon-right ">
						<bsdatepicker name="MainBeaMateraiElektronikTanggalAwal" date-options="dateOptions" ng-model="MainBeaMateraiElektronik_TanggalAwal"
						 required ng-change="MainBeaMateraiElektronikTanggalAwalChanged()">
						</bsdatepicker>
						<span ng-if="FormValidation_MainBeaMateraiElektronik.MainBeaMateraiElektronikTanggalAwal.$error.required && FormValidation_MainBeaMateraiElektronik.MainBeaMateraiElektronikTanggalAwal.$touched"
						 class="help-block">Field ini wajib diisi</span>
						<span ng-if="!MainBeaMateraiElektronikTanggalAwalOK" class="help-block">{{errMainBeaMateraiElektronikTanggalAwal}}</span>
					</div>
				</div>

				<div class="col-md-1" style="margin-top:30px;margin-right:-50px">
					s.d.
				</div>

				<div class="col-md-3" style="margin-top:22px" ng-class="{'has-error':FormValidation_MainBeaMateraiElektronik.MainBeaMateraiElektronikTanggalAkhir.$error.required && FormValidation_MainBeaMateraiElektronik.MainBeaMateraiElektronikTanggalAkhir.$touched || MainBeaMateraiElektronikTanggalAkhirOK == false}">
					<div class="input-icon-right ">
						<bsdatepicker name="MainBeaMateraiElektronikTanggalAkhir" date-options="dateOptions" ng-model="MainBeaMateraiElektronik_TanggalAkhir"
						 required ng-change="MainBeaMateraiElektronikTanggalAkhirChanged()">
						</bsdatepicker>
						<span ng-if="FormValidation_MainBeaMateraiElektronik.MainBeaMateraiElektronikTanggalAkhir.$error.required && FormValidation_MainBeaMateraiElektronik.MainBeaMateraiElektronikTanggalAkhir.$touched"
						 class="help-block">Field ini wajib diisi</span>
						<span ng-if="!MainBeaMateraiElektronikTanggalAkhirOK" class="help-block">{{errMainBeaMateraiElektronikTanggalAkhir}}</span>
					</div>
				</div>

				<div class="col-md-4">
					<button id="MainBeaMateraiElektronik_Cari_Button" ng-click="MainBeaMateraiElektronik_Cari_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
					 style="float: left; margin-top:24px">
						<span class="ladda-label">
							Cari
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
			<div class="has-error" style="margin-left:15px;">
				<span ng-show="MainBeaMateraiElektronik_TanggalAwal>MainBeaMateraiElektronik_TanggalAkhir" class="help-block">Tanggal awal harus lebih kecil atau sama dengan tanggal akhir!</span>
			</div>
		</div>
	</div>
	<p class="fi-title-line" style="margin-top:10px">Daftar Nomor Ijin Pembubuhan
		
	</p>
	<div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<div class="col-md-5">
						<div class="input-icon-right">
							<input type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="MainBeaMateraiElektronik_TextFilter"
							 ng-maxlength="50 " maxlength="50">
						</div>
					</div>

					<div class="col-md-5">
						<bsselect ng-model="MainBeaMateraiElektronik_SelectKolom" data="optionsMainBeaMateraiElektronik_SelectKolom" ng-change="MainBeaMateraiElektronik_FilterKolom_Changed"
						 item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Search Criteria" icon="fa fa-search">
						</bsselect>
					</div>

					<div class="col-md-2">
						<button id="" onclick="" ng-click="MainBeaMateraiElektronik_Filter_Clicked()" type="button" class="btn ng-binding ladda-button">
							<span class="ladda-label">
								Filter
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div id="myGrid" ui-grid="BeaMateraiElektronikList_UIGrid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination
		 class="Mygrid" style="width:95%;height: 250px; margin-top:60px; margin-bottom:20px; margin-left:20px">
			<div class="watermark" ng-show="!BeaMateraiElektronikList_UIGrid.data.length">No data available</div>
		</div>
	</div>
</div>

<div class="row" ng-show="Show_TambahBeaMateraiElektronik" ng-form name="FormValidation_BeaMateraiElektronik">
	<div class="col-md-12">
		<div class="col-md-4" style="margin-top:5px" ng-show="!BeaMateraiElektronik_HO_Show">
			<bslabel>Nama Branch</bslabel>
			<bsselect ng-model="TambahBeaMateraiElektronik_SelectBranch" data="optionsTambahBeaMateraiElektronik_SelectBranch" item-text="name"
			 item-value="value" on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search" ng-disabled="!TambahSelectBranch_EnabledDisabled">
			</bsselect>
		</div>

		<div class="col-md-4" style="margin-top:5px" ng-show="BeaMateraiElektronik_HO_Show">
			<bslabel>Nama Branch</bslabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="TambahBeaMateraiElektronikNamaBranch" placeholder="" ng-model="TambahBeaMateraiElektronik_NamaBranch"
				 ng-maxlength="50" ng-disabled="!TambahSelectBranch_EnabledDisabled">
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-4" ng-class="{'has-error':FormValidation_BeaMateraiElektronik.TambahBeaMateraiElektronikTanggal.$error.required && FormValidation_BeaMateraiElektronik.TambahBeaMateraiElektronikTanggal.$touched || TambahBeaMateraiElektronikTanggalOK == false}">
			<bsreqlabel>Tanggal</bsreqlabel>
			<div class="input-icon-right ">
				<bsdatepicker name="TambahBeaMateraiElektronikTanggal" date-options="dateOptionsTgl" format="dd/MM/yyyy" min-date="startMinOption" max-date="startMaxOption" ng-model="TambahBeaMateraiElektronik_Tanggal"
				 required ng-change="TambahBeaMateraiElektronikTanggalChanged()">
				</bsdatepicker>
				<span ng-if="FormValidation_BeaMateraiElektronik.TambahBeaMateraiElektronikTanggal.$error.required && FormValidation_BeaMateraiElektronik.TambahBeaMateraiElektronikTanggal.$touched"
				 class="help-block">Field ini wajib diisi</span>
				<span ng-if="!TambahBeaMateraiElektronikTanggalOK" class="help-block">{{errTambahBeaMateraiElektronikTanggalChanged}}</span>
			</div>
		</div>

		<div class="col-md-4" ng-class="{'has-error':FormValidation_BeaMateraiElektronik.NomorIjinPembubuhan.$error.required && FormValidation_BeaMateraiElektronik.NomorIjinPembubuhan.$touched}">
			<bsreqlabel>Nomor Ijin Pembubuhan</bsreqlabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="NomorIjinPembubuhan " placeholder="" ng-model="TambahBeaMateraiElektronik_NomorIjinPembubuhan"
				 ng-maxlength="30" maxlength="20" required>
				<span ng-if="FormValidation_BeaMateraiElektronik.NomorIjinPembubuhan.$error.required && FormValidation_BeaMateraiElektronik.NomorIjinPembubuhan.$touched"
				 class="help-block">Field ini wajib diisi</span>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-4" ng-class="{'has-error':FormValidation_BeaMateraiElektronik.TambahBeaMateraiElektronikTanggalAwal.$error.required && FormValidation_BeaMateraiElektronik.TambahBeaMateraiElektronikTanggalAwal.$touched || TambahBeaMateraiElektronikTanggalAwalOK == false}">
			<bsreqlabel>Berlaku Mulai</bsreqlabel>
			<div class="input-icon-right ">
				<bsdatepicker name="TambahBeaMateraiElektronikTanggalAwal" format="dd/MM/yyyy" date-options="dateOptionsMulai" min-date="AwalMinOption" max-date="AwalMaxOption"ng-model="TambahBeaMateraiElektronik_TanggalAwal"
				 required ng-change="TambahBeaMateraiElektronikTanggalAwalChanged()">
				</bsdatepicker>
				<span ng-if="FormValidation_BeaMateraiElektronik.TambahBeaMateraiElektronikTanggalAwal.$error.required && FormValidation_BeaMateraiElektronik.TambahBeaMateraiElektronikTanggalAwal.$touched"
				 class="help-block">Field ini wajib diisi</span>
				<!-- <span ng-if="!TambahBeaMateraiElektronikTanggalAwalOK" class="help-block">{{errTambahBeaMateraiElektronikTanggalAwal}}</span> -->
			</div>
		</div>

		<div class="col-md-4" ng-class="{'has-error':FormValidation_BeaMateraiElektronik.TambahBeaMateraiElektronikTanggalAkhir.$error.required && FormValidation_BeaMateraiElektronik.TambahBeaMateraiElektronikTanggalAkhir.$touched || TambahBeaMateraiElektronikTanggalAkhirOK == false}">
			<bsreqlabel>Berlaku Sampai</bsreqlabel>
			<div class="input-icon-right ">
				<bsdatepicker name="TambahBeaMateraiElektronikTanggalAkhir" date-options="dateOptionsAkhir" min-date="AkhirMinOption" max-date="AkhirMaxOption" ng-model="TambahBeaMateraiElektronik_TanggalAkhir"
				 required ng-change="TambahBeaMateraiElektronikTanggalAkhirChanged()">
				</bsdatepicker>
				<span ng-if="FormValidation_BeaMateraiElektronik.TambahBeaMateraiElektronikTanggalAkhir.$error.required && FormValidation_BeaMateraiElektronik.TambahBeaMateraiElektronikTanggalAkhir.$touched"
				 class="help-block">Field ini wajib diisi</span>
				<!-- <span ng-if="!TambahBeaMateraiElektronikTanggalAkhirOK" class="help-block">{{errTambahBeaMateraiElektronikTanggalAkhir}}</span> -->
			</div>
		</div>
		<div class="col-md-12 has-error">
			<div class="has-error" style="margin-left:15px;">
				<span ng-show="TambahBeaMateraiElektronik_TanggalAwal>TambahBeaMateraiElektronik_TanggalAkhir" class="help-block">Tanggal awal harus lebih kecil atau sama dengan tanggal akhir!</span>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<button id="TambahBeaMateraiElektronik_Simpan_Button" ng-click="TambahBeaMateraiElektronik_Simpan_Clicked()" ng-disabled="Dis_Simpan" type="button"
			 class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px">
				<span class="ladda-label">
					Simpan
				</span>
				<span class="ladda-spinner"></span>
			</button>
			<button id="TambahBeaMateraiElektronik_Batal_Button" ng-click="TambahBeaMateraiElektronik_Batal_Clicked()" type="button"
			 class="btn ng-binding ladda-button" style="float: right; margin-top:24px">
				<span class="ladda-label">
					Kembali
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
</div>

<div class="row" ng-show="Show_LihatBeaMateraiElektronik">
	<div class="col-md-12">
		<div class="col-md-4" style="margin-top:5px">
			<bslabel>Nama Branch</bslabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="LihatBeaMateraiElektronikNamaBranch" placeholder="" ng-model="LihatBeaMateraiElektronik_NamaBranch"
				 ng-maxlength="50" ng-disabled="!TambahSelectBranch_EnabledDisabled">
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-4">
			<bsreqlabel>Tanggal</bsreqlabel>
			<div class="input-icon-right ">
				<bsdatepicker name="LihatBeaMateraiElektronikTanggal" date-options="dateOptionsEditTgl" min-date="EditTglMinOption" max-date="EditTglMaxOption" ng-model="LihatBeaMateraiElektronik_Tanggal">
				</bsdatepicker>
			</div>
		</div>

		<div class="col-md-4">
			<bsreqlabel>Nomor Ijin Pembubuhan</bsreqlabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="LihatBeaMateraiElektronikNomorIjinPembubuhan " placeholder="" ng-model="LihatBeaMateraiElektronik_NomorIjinPembubuhan"
				 ng-maxlength="30">
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-4">
			<bsreqlabel>Berlaku Mulai</bsreqlabel>
			<div class="input-icon-right ">
				<bsdatepicker name="LihatBeaMateraiElektronikTanggalAwal" date-options="dateOptionsEditAwal" min-date="EditAwalMinOption" max-date="EditAwalMaxOption" ng-model="LihatBeaMateraiElektronik_TanggalAwal" ng-change="EditBeaMateraiElektronikTanggalAwalChanged()">
				</bsdatepicker>
			</div>
		</div>

		<div class="col-md-4">
			<bsreqlabel>Berlaku Sampai</bsreqlabel>
			<div class="input-icon-right ">
				<bsdatepicker name="LihatBeaMateraiElektronikTanggalAkhir" date-options="dateOptionsEditAkhir" min-date="AkhirMinOption" max-date="EditAkhirMaxOption"Edit ng-model="LihatBeaMateraiElektronik_TanggalAkhir" ng-change="EditBeaMateraiElektronikTanggalAkhirChanged()">
				</bsdatepicker>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<button id="LihatBeaMateraiElektronik_Simpan_Button" ng-click="LihatBeaMateraiElektronik_Simpan_Clicked()" ng-disabled="Simpan_Disable" type="button"
			 class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px">
				<span class="ladda-label">
					Simpan
				</span>
				<span class="ladda-spinner"></span>
			</button>

			<button id="LihatBeaMateraiElektronik_Batal_Button" ng-click="LihatBeaMateraiElektronik_Batal_Clicked()" type="button" class="btn ng-binding ladda-button"
			 style="float: right; margin-top:24px">
				<span class="ladda-label">
					Kembali
				</span>
				<span class="ladda-spinner"></span>
			</button>

		</div>
	</div>
</div>

<div class="ui modal" id="ModalHapusBeaMateraiElektronik" role="dialog">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Konfirmasi Hapus</h4>
		</div>
		<div class="modal-body">
			<p>
				Apakah anda yakin ingin menghapus Nomor Ijin Pembubuhan {{MainBeaMateraiElektronik_NomorIjinPembubuhan}} ?
			</p>
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="Batal_ModalHapusBeaMateraiElektronik()" class="rbtn btn ng-binding ladda-button" type="button">Tidak</button>
				<button ng-click="Hapus_ModalHapusBeaMateraiElektronik()" class="rbtn btn ng-binding ladda-button" type="button">Ya</button>
			</p>
		</div>
	</div>
</div>
</div>