<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="row" ng-form name="FormValidation_pembuatanfraktirpajak">
	<div class="col-md-12" style="margin-left:-10px;">
		<div class="col-md-3"
		ng-class="{'has-error':(FormValidation_pembuatanfraktirpajak.BuatFakturPajakNamaPelanggan.$error.required && FormValidation_pembuatanfraktirpajak.BuatFakturPajakNamaPelanggan.$touched)}">
			<bsreqlabel>Nama Pelanggan</bsreqlabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="BuatFakturPajakNamaPelanggan " placeholder="" ng-model="BuatFakturPajak_NamaPelanggan"
				 ng-maxlength="255"  maxlength="255" required/>
				 <span ng-if="FormValidation_pembuatanfraktirpajak.BuatFakturPajakNamaPelanggan.$error.required && FormValidation_pembuatanfraktirpajak.BuatFakturPajakNamaPelanggan.$touched"
				 class="help-block">Field ini wajib diisi</span>
			</div>
		</div>

		<div class="col-md-3" style="margin-top:5px" ng-show="!PembuatanFakturPajak_HO_Show">
			<bslabel>Nama Branch</bslabel>
			<bsselect ng-model="PembuatanFakturPajak_SelectBranch" data="optionsPembuatanFakturPajak_SelectBranch" item-text="name" item-value="value"
			 on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search">
			</bsselect>
		</div>

		<div class="col-md-3" style="margin-top:5px" ng-show="PembuatanFakturPajak_HO_Show">
			<bslabel>Nama Branch</bslabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="PembuatanFakturPajakNamaBranch" placeholder="" ng-model="PembuatanFakturPajak_NamaBranch"
				 ng-maxlength="50" ng-disabled="!PembuatanFakturPajak_NamaBranch">
			</div>
		</div>
	</div>

	<div class="col-md-12" style="margin-left:-10px;">

		<div class="col-md-3" style="margin-top:10px;"
		ng-class="{'has-error':(FormValidation_pembuatanfraktirpajak.PembuatanFakturPajak_TanggalBillingAwal.$error.required && FormValidation_pembuatanfraktirpajak.PembuatanFakturPajak_TanggalBillingAwal.$touched) || PembuatanFakturPajak_TanggalBillingAwalOK == false}">
			<label>Tanggal Billing</label>
			<div class="input-icon-right "> 
				<bsdatepicker name="PembuatanFakturPajak_TanggalBillingAwal" date-options="dateOptions" ng-model="PembuatanFakturPajak_TanggalBillingAwal"
				
				ng-change="PembuatanFakturPajak_TanggalBillingAwalChanged()" >
				<!-- required> -->
				</bsdatepicker>
				<!-- {{tglBlnAwal}}
				{{tglBlnAkhir}} -->
				<em ng-if="(errorMsg)" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
					<p>Data Billing Gabungan hanya untuk bulan yang sama</p>
				</em>
				<em ng-if="(PembuatanFakturPajak_TanggalBillingAwal>PembuatanFakturPajak_TanggalBillingAkhir)" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
					<p>Tanggal Awal harus lebih kecil dari Tanggal Akhir</p>
				</em>
				<!-- <span ng-if="FormValidation_pembuatanfraktirpajak.PembuatanFakturPajak_TanggalBillingAwal.$error.required && FormValidation_pembuatanfraktirpajak.PembuatanFakturPajak_TanggalBillingAwal.$touched" class="help-block">Field ini wajib diisi</span>
						<span ng-if="!PembuatanFakturPajak_TanggalBillingAwalOK" class="help-block">{{errPembuatanFakturPajak_TanggalBillingAwal}}</span> -->
					
			</div>
		</div>

		<!-- <div class="col-md-1" style="margin-top:25px;margin-left: -20px;">
			s.d.
		</div> -->

		<div class="col-md-3" style="margin-top:10px;"
		ng-class="{'has-error':(FormValidation_pembuatanfraktirpajak.PembuatanFakturPajak_TanggalBillingAkhir.$error.required && FormValidation_pembuatanfraktirpajak.PembuatanFakturPajak_TanggalBillingAkhir.$touched) || PembuatanFakturPajak_TanggalBillingAkhirOK == false}">
		<label>s.d.</label>
			<div class="input-icon-right ">
				<bsdatepicker name="PembuatanFakturPajak_TanggalBillingAkhir" date-options="dateOptions" ng-model="PembuatanFakturPajak_TanggalBillingAkhir"
				
				ng-change="PembuatanFakturPajak_TanggalBillingAkhirChanged()">
				 <!-- required>  -->
				</bsdatepicker>
				
				<!-- {{tglBlnAkhir}}
				<em ng-if="(errorMsg)" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
					<p>Data Billing Gabungan hanya untuk bulan yang sama</p>
				</em> -->
				<!-- <span ng-if="FormValidation_pembuatanfraktirpajak.PembuatanFakturPajak_TanggalBillingAkhir.$error.required && FormValidation_pembuatanfraktirpajak.PembuatanFakturPajak_TanggalBillingAkhir.$touched" class="help-block">Field ini wajib diisi</span>
						<span ng-if="!PembuatanFakturPajak_TanggalBillingAkhirOK" class="help-block">{{errPembuatanFakturPajak_TanggalBillingAwal}}</span> -->
					
			</div>
		</div>

		<div class="col-md-2">
			<button id="BuatFakturPajak_Cari_Button" ng-click="BuatFakturPajak_Cari_Clicked()" type="button" ng-disabled="(PembuatanFakturPajak_TanggalBillingAwal>PembuatanFakturPajak_TanggalBillingAkhir) || errorMsg" class="rbtn btn ng-binding ladda-button"
			 style="float: left;margin-left:5px;margin-top:30px">
				<span class="ladda-label">
					Cari
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
		<!-- <div class="col-md-12 has-error">
			<div class="has-error" style="margin-left:0px;">
				<span ng-show="PembuatanFakturPajak_TanggalBillingAwal>PembuatanFakturPajak_TanggalBillingAkhir" class="help-block">Tanggal awal harus lebih kecil atau sama dengan tanggal akhir!</span>
			</div>
		</div> -->

	</div>
</div>
<p style="color:red;margin-top:20px;">
	Informasi Pelanggan
	<hr style="border-color:red; margin-top:-10px;" />
</p>

<div class="row">
	<div class="col-md-12" style="margin-left:-10px;">
		<div class="col-md-4">
			<bsreqlabel>Nomor Pelanggan</bsreqlabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="BuatFakturPajakNomorPelanggan " placeholder="" ng-model="BuatFakturPajak_NomorPelanggan"
				 ng-maxlength="50" ng-disabled="!BuatFakturPajak_NomorPelanggan_isDisable" />
			</div>
		</div>

		<div class="col-md-4">
			<bsreqlabel>NPWP</bsreqlabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="BuatFakturPajakNPWP " placeholder="" ng-model="BuatFakturPajak_NPWP" ng-maxlength="50"
				 ng-disabled="!BuatFakturPajak_NPWP_isDisable" />
			</div>
		</div>
	</div>

	<div class="col-md-12" style="margin-left:-10px; margin-top:10px;">
		<div class="col-md-4">
			<bsreqlabel>Alamat</bsreqlabel>
			<textarea type="text" class="form-control" name="Alamat" placeholder="" ng-model="BuatFakturPajak_Alamat" ng-maxlength="50"
			ng-disabled="!BuatFakturPajak_Alamat_isDisable">
			</textarea>
		</div>

		<div class="col-md-3">
			<label>Kabupaten / Kota</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="BuatFakturPajakKabKota " placeholder="" ng-model="BuatFakturPajak_KabKota"
				 ng-maxlength="50" ng-disabled="!BuatFakturPajak_KabKota_isDisable" />
			</div>
		</div>

		<div class="col-md-4">
			<bsreqlabel>Telepon</bsreqlabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="BuatFakturPajakTelepon " placeholder="" ng-model="BuatFakturPajak_Telepon"
				 ng-maxlength="50" ng-disabled="!BuatFakturPajak_Telepon_isDisable" />
			</div>
		</div>
	</div>
</div>
<p style="color:red;margin-top:30px;">
	Daftar Billing
	<hr style="border-color:red; margin-top:-10px;" />
</p>
<div class="col-md-12" style="margin-left:-25px; margin-top:-10px;">
	<div class="col-md-2" style="margin-top:8px">
		<div class="input-icon-right ">
			<input type="text" class="form-control" name="TeksFilter" placeholder="Teks Filter..." ng-model="PGA_BGTTeksFilter" ng-maxlength="150"
			 maxlength="50">
		</div>
	</div>
	<div class="col-md-2" style="margin-top:8px">
		<bsselect ng-model="PGA_BGTFilterColumnList" data="optionsPGA_BGTFilterColumnList" item-text="name" item-value="value" on-select="value(selected)"
		 placeholder="Semua Kolom" icon="fa fa-search">
		</bsselect>
	</div>

	<div class="col-md-2" style="margin-top:8px">
		<button id="PGA_BGTFilter_Button" ng-click="PGA_BGT_Filter_Button_Clicked()" type="button" style="margin-top:2px"  class="btn ng-binding ladda-button">
			<span class="ladda-label">
				Filter
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div id="myGrid" ui-grid="BillingList_UIGrid" ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns ui-grid-selection
		 class="Mygrid" style="width:99.7%;height: 250px; margin-top:10px; margin-bottom:20px; "></div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<button id="BuatFakturPajak_BuatCSV_Button" ng-click="BuatFakturPajak_BuatCSV_Clicked()" type="button" ng-show="FakturPajak" class="rbtn btn ng-binding ladda-button" ng-disabled = "BuatFakturPajak_BuatCSV_Clicked_Disabled"
		ladda="LoadingBuat" data-style="expand-left" style="float: right;margin-left:5px">
			<span class="ladda-label">
				Buat Data Faktur Pajak
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
</div>
