
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

.grid {
  /*width: 500px;*/
  height: 185px;
}
</style>
<!--<h1>STOCKOPNAME EDIT</h1>-->
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Referensi Stock Adjustment *</label>
            <!--<select class="form-control" 
                    ng-model="selection" 
                    ng-options="item for item in items" 
                    ng-change="changedValue(selection)" required>-->
                    <!--ng-disabled="disableSelect" --> 
                    

            <!--</select>-->

            <!--<div ng-switch on="selection">
                <div ng-switch-when="Stock Opname"><label>Stock Opname</label>
                    <input type="text" name="Stock Opname" class="form-control" placeholder="Stock Opname" required>
                </div>
                <div ng-switch-default="Stock Opname">
                </div>
            </div>-->
             <select class="form-control" disabled>             
                <option value="BAG">BAG</option>
                <option value="Stock Opname" selected="selected">Stock Opname</option>
            <select>
        </div> 
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Lokasi Gudang *</label>
            <div class="input-icon-right">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Lokasi Gudang" disabled>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Alasan *</label>
            <select class="form-control" disabled>
                <option>Barang Hilang</option>
                <option>Barang Kelebihan</option>
                <option>Lainnya</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Tipe Material *</label>
            <div>
                <input type="text" class="form-control" placeholder="Tipe Material"value="Parts" disabled>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="3" disabled></textarea>
        </div>
    </div>
</div>

<!--<fieldset style="padding-top: 10px"></fieldset>-->
<div class="row">
    <div class="col-md-2">
        <div class="input-group-btn dropdown" uib-dropdown="" style="">
          <button style="margin-right:5px;" type="button" 
            class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" 
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <!-- ngIf: allowDelete -->
            <li>
            <!-- ngIf: selectedRows.length>0 --><a href="#">Hapus</a>
            <!-- end ngIf: selectedRows.length>0 --></li>
            <!-- end ngIf: allowDelete -->
            <!-- ngIf: allowApprove -->
            <!-- ngIf: allowReject -->
            <!-- ngIf: allowReview -->
            <!-- ngRepeat: customBulk in customBulkFunc -->
          </ul>
        </div>
    </div>
</div>

<!--grid-->
<div class="row">
    <div class="col-md-12">
    <div ng-controller="StockAdjustmentController">
        <div ui-grid="gridStockOpname" class="grid" ui-grid-auto-resize ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-pagination></div>
    </div>
    </div>
</div>
<br>

<!--tombol bawah-->
<div class="row">
    <!--<div class="col-md-9">
        <div class="pull-right">
            <button class="wbtn btn" ng-click="laporan()">Cetak BAG</button>
        </div>
    </div>-->
    <div class="col-md-12">
        <div class="pull-right">
            <button type="button" class="wbtn btn">Kembali</button>
        </div>
    </div>
</div>
