
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

.grid {
  /*width: 500px;*/
  height: 185px;
}
</style>
<!--<h1>STOCKOPNAME VIEW</h1>-->
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Referensi Stock Adjustment *</label>
            <select class="form-control" disabled>             
                <option value="BAG">BAG</option>
                <option value="Stock Opname" selected="selected">Stock Opname</option>
            <select>
        </div> 
    </div>
    <div class="col-md-2 col-md-offset-1">
        <div class="form-group">
            <label class="control-label">Lokasi Gudang *</label>
            <div class="input-icon-right">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Lokasi Gudang" ng-model="mData.WarehouseName" disabled>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <div class="form-group">
            <label class="control-label">Alasan *</label>
            <select class="form-control" disabled>
                <option>{{ToNameReason(mData.StockAdjustmentReasonId)}}</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Tipe Material *</label>
            <div>
                <input type="text" class="form-control" placeholder="Tipe Material" ng-value="ToNameMaterial(mData.MaterialTypeId)" disabled>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <label class="control-label">No Adjustment</label>
        <input class="form-control" style="text-align : left" type="text" ng-model="mData.StockAdjustmentNo" placeholder="GI/209021902" disabled></input>
    </div>
    <div class="col-md-2 col-md-offset-1" style="pointer-events:none;">                
        <label class="control-label">Tanggal Adjustment</label> 
        <bsdatepicker
            name="endDate"
            date-options="dateOptions"
            ng-model="mData.DocDate"
            ng-disabled = true
            >
        </bsdatepicker>
    </div>
    <div class="col-md-2">
        <label class="control-label">&nbsp</label> 
    </div>
    <div class="col-md-2">
        <label class="control-label">&nbsp</label>                              
    </div>
    <div class="col-md-2">
        <label class="control-label">&nbsp</label>
    </div>                              
</div>
<!-- [END] Form Level 7 -->
<br />
<!-- [START] Form Level 9 -->
<div class="row">
    <div class="col-md-2">
        <label class="control-label">Status</label>
        <input class="form-control" style="text-align : left" type="text" ng-value="ToNameStatus(mData.StockAdjustmentStatusId)" placeholder="Canceled" disabled></input>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="3" ng-model="mData.Notes" disabled></textarea>
        </div>
    </div>
</div>

<!--grid-->
<div class="row">
    <div class="col-md-12">
    <div>
        <div ui-grid="gridStockOpname" class="grid" ui-grid-auto-resize ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-pagination></div>
    </div>
    </div>
</div>
<br>

<!--tombol bawah-->
<div class="row">
    <!--<div class="col-md-9">
        <div class="pull-right">
            <button class="wbtn btn" ng-click="laporan()">Cetak BAG</button>
        </div>
    </div>-->
    <div class="col-md-12">
        <div class="pull-right">
            <button type="button" class="wbtn btn">Kembali</button>
        </div>
    </div>
</div>
