<div class="panel panel-danger" style="border-color:#D53337;">
    <div class="panel-heading" style="color:white; background-color:#D53337;">
        <h3 class="panel-title">Input Alasan Pembatalan</h3>
    </div> 

    <div class="panel-body">
        <form method="post">
            <div class="form-group "> 
                <div class="row">
                    <div class="col-md-8">
                        <label class="control-label requiredField" style="color:black;">Alasan
                            <span class="asteriskField">*</span>
                        </label> 
                        <select class="form-control" ng-model="Alasan.Batal">
                            <option value="1">Kesalahan Administrasi</option>
                            <option value="2">Kesalahan Pilih Transaksi</option>
                            <option value="3">Lainnya</option>
                        </select>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label" style="color:black;">Notes</label>
                        <textarea class="form-control" cols="40" id="message" name="message" rows="10" ng-model="Alasan.Catatan" maxlength="200"></textarea>
                    </div>
                </div>
            </div> 
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="okBatalSA(Alasan)" style="color:white; background-color:#D53337">OK</button> 
                        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Kembali</button> 
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <pre>{{BatalData}}</pre> -->