<style type="text/css">
    .ui-grid-spilt-header-main{
        padding-top: 30px;
        line-height: 30px;
        text-align: center;
        background: #f6f6f6;
    }
    
    .ui-grid-split-merge-header{
        border-left: 2px solid transparent;
        position: absolute;
        background: #f9f9f9;
        text-align: center;
        line-height: 30px;
        z-index: 1;
        top: 0px;
        left:0px;
    }
    .ui-grid-header-table{
        width:100%;
        padding:0px;
        border:none;
        border-spacing: 0px;
        border-collapse: collapse;
    }
    
    .ui-grid-header-table tr td{
        border-bottom:1px solid #ccc;
        border-right:1px solid #ccc;
    }
    .ui-grid-header-table tr td:last-child{
        border-right:none;
    }
    div.ui-grid-cell input{
        padding:6px;
    }
</style>
        
    <div class="form-group">           
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-3" ng-show="mData.POTypeId != 7">
             <!-- ng-model="mData.POTypeId" -->
                <bsreqlabel class="control-label">Tipe PO </bsreqlabel>
                <!-- <select class="form-control" ng-model="mData.POTypeId" disabled>
                  <option value="{{mData.POTypeId}}" selected>{{ToNameTypePo(mData.POTypeId)}}</option>   
                </select> -->
                <bsselect name="POType" ng-model="mData.POTypeId" data="POTypeData" item-text="Name" item-value="POTypeId" placeholder="Tipe PO..." on-select="" icon="fa fa-search">
                </bsselect>
            </div>
            <div ng-show="mData.POTypeId == 7">
                <div class="col-md-2" style="padding-right: 0px;">
                    <bsreqlabel class="control-label">Tipe PO </bsreqlabel>
                    <select class="form-control" ng-model="mData.POTypeId" disabled>
                      <option value="{{mData.POTypeId}}" selected>{{ToNameTypePo(mData.POTypeId)}}</option>
                    </select>
                </div>
                <div class="col-md-1" style="margin-top: 23px;padding-left: 7px;">
                    <input class="form-control" type="text" ng-model="mData.tCampaign" name="TypeCampaign" readonly></input>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <bsreqlabel class="control-label">Referensi PO </bsreqlabel>
                <!-- <select class="form-control" ng-model="mData.RefPOTypeId" disabled>
                  <option value="{{mData.RefPOTypeId}}" selected>{{ToNameRefPo(mData.RefPOTypeId)}}</option>              
                </select> -->
                <bsselect name="RefPOType" ng-model="mData.RefPOTypeId" data="RefPOTypeData" item-text="Name" item-value="RefPOTypeId" placeholder="Referensi PO..." on-select="" icon="fa fa-search">
                </bsselect>
            </div>
            <div ng-hide="mData.POTypeId == 7" class="col-md-3 col-md-offset-1">
                <label class="control-label">No. Referensi</label>
                <div class="input-group">
                    <input type="text" ng-model="mData.RefPONo" class="form-control" ng-disabled="true">
                    <label class="input-group-btn">
                        <span class="btn wbtn" ng-click="searchEst()" ng-disabled="true">
                            <i class="fa fa-search fa-1"></i>
                        </span>
                    </label>
                </div>
            </div>
            <!-- <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                             -->
        </div>
        <!-- [END] Form Level 1 -->

        <br />

        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel class="control-label">Tipe Material </bsreqlabel>
                <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                    <option selected value="{{mData.MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
                </select>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">BO TAM Follow</label>
                <select class="form-control" ng-model="mData.BackOrderFollowId"disabled required>
                    <!-- <option value="9">Fill</option>
                    <option value="1" selected>Kill</option> -->
                    <option selected value="{{mData.BackOrderFollowId}}">{{ToNameBoTam(mData.BackOrderFollowId)}}</option>
                </select>
                <!-- <bsselect name="typeSearch"
                        ng-model="mData.BackOrderFollowId"
                        data="BoTam"
                        item-text="Name"
                        item-value="Id"
                        placeholder="Pilih BO TAM Follow"
                        ng-disabled="botamstatus"
                        >
                </bsselect> -->
            </div>
            <div ng-hide="mData.POTypeId == 7" class="col-md-3 col-md-offset-1">
                <label class="control-label">Request Oleh</label>
                <input class="form-control" format="text" style="text-align : left" type="text" ng-model="mData.Requester" name="Requester" readonly></input>
            </div>
            <!-- <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div> -->
        </div>
        <!-- [END] Form Level 2 -->

        <div class="row">
            <div class="col-md-12">
            <hr/>
            </div>
        </div>

        <!-- [START] Form Level 3 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Vendor</label>
                <input class="form-control" type="text" ng-model="mData.VendorName"></input>
				<div ng-show="showIcon" style="padding-top: 15px">
					<span ng-show="showIcon" style="font-size: 13px; color: Dodgerblue; padding-top: 10px">
						<i class="fa fa-check-square" aria-hidden="true"></i><span style="padding-left: 5px; color: black;">Non PKP</span>
					</span>
				</div>
				<div ng-show="showCB" style="padding-top: 10px">
					<input type="checkbox" ng-model="mData.IsNONPKP" ng-checked="mData.IsNONPKP" disabled>     Non PKP
				</div>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <bsreqlabel class="control-label">Metode Pembayaran </bsreqlabel>
                <select class="form-control" required disabled>
                    <!-- <option selected>Kredit</option> -->
                    <option value="{{mData.PaymentMethodId}}" selected>{{ToPaymentMethodId(mData.PaymentMethodId)}}</option>
                </select>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <bsreqlabel class="control-label">Jangka Waktu Bayar (Hari)</bsreqlabel>    
                <input class="form-control" type="number" ng-model="mData.PaymentPeriod" disabled></input>               
            </div>
            <!-- <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                               -->
        </div>
        <!-- [END] Form Level 3 -->

        <div class="row" ng-show="mData.POTypeId == 7">
            <div class="col-md-3">
                <div class="form-group" style="margin-top: 15px;">
                    <label class="control-label">Campaign Code </label>
                    <div class="input-group">
                        <input type="text" ng-model="mData.CampaignCode" class="form-control " name="CCampaignCode" placeholder="klik to search"
                        readonly>
                        <label class="input-group-btn">
                            <span class="btn wbtn" readonly >
                                <i class="fa fa-search fa-1"></i>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 15px;">
                    <label class="control-label">Quota Type</label>
                    <input class="form-control" type="text" ng-model="mData.QuotaType" name="CQuotaType" readonly></input>
                </div>
            </div>
            <div class="col-md-3  col-md-offset-1">
                <div class="form-group" style="margin-top: 15px;">
                    <label class="control-label">Campaign Name</label>
                    <input class="form-control" type="text" ng-model="mData.CampaignName" name="CCampaignName" readonly></input>
                </div>
                <div class="form-group" style="margin-top: 15px;">
                    <label class="control-label">Apply By</label>
                    <input class="form-control" type="text" ng-model="mData.ApplyBy" name="CApplyBy" readonly></input>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="form-group" style="margin-top: 15px;">
                    <label class="control-label">Campaign Type</label>
                    <input class="form-control" type="text" ng-model="mData.CampaignType" name="CCampaignType" readonly></input>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>

        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-3">                
                <label class="control-label">No PO</label>
                <input class="form-control" style="text-align : left" type="text" ng-model="mData.PurchaseOrderNo"disabled></input> 
            </div>
            <div class="col-md-2 col-md-offset-1" style="pointer-events: none">
                <label class="control-label">Tanggal PO</label>
                <bsdatepicker
                    name="endDate"
                    date-options="dateOptions"
                    ng-model="mData.DocDate"
                    ng-disabled = true
                    >
                </bsdatepicker>
            </div>
            <!-- <div class="col-md-1">
                <label class="control-label">&nbsp</label>
                <input class="form-control" type="text" ng-model="mPurchaseOrder" name="no_polisi" disabled></input> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div> -->
        </div>
        <!-- [END] Form Level 7 -->
        <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-3">                
                <label class="control-label">Status</label>
                <input class="form-control" style="text-align : left" type="text" ng-value="ToNameStatus(mData.PurchaseOrderStatusId)" disabled></input> 
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Grand Total</label>
                <input class="form-control" format='number' style="text-align : left" type="text" ng-model="mData.TotalAmount"></input>
            </div>
            <!-- <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                               -->
        </div>
        <!-- [END] Form Level 7 -->

        <br />

        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-5">
                <label class="control-label">Notes</label>
                <textarea class="form-control" row='8' ng-model="mData.Notes"></textarea>
            </div>
            <!-- <div class="col-md-4">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-4">
                <label class="control-label">&nbsp</label> 
            </div>                             -->
        </div>
        <!-- [END] Form Level 7 -->
    </div>

<br/>

<div class="row">
    <div class="col-md-12">
        <div id="grid1" ui-grid="non_tam_non_sop_bengkel" skip-disable ng-disabled="false" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
        <!--<label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">Keterangan :<b>Harga Standard Cost di PO merupakan harga Standard Cost dari Master dikurangi PPn</b></label>-->
		<label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">
				<b>Keterangan :</b><br>
				1. <b style="color:red">PKP</b> : Harga Standard Cost di PO merupakan harga Standard Cost dari Master dikurangi PPn<br>
				2. <b style="color:red">Non PKP</b> : Harga Standard Cost di PO merupakan harga Standard Cost dari Master tanpa dikurangi PPn<br>
				3. Harga Standard Cost di PO yang <b>dapat diedit</b> hanya Sublet (OPB), selain itu silahkan edit pada Master Material
		</label>
    </div>
    <div class="col-md-12">
        <div align="right">
            <button class="wbtn btn" ng-click="onShowVendorPO()" skip-disable>Lihat Detail Vendor</button>
            <button class="wbtn btn" ng-click="cetakOPM(mData.PurchaseOrderId, mData.OutletId)" skip-disable>Cetak Order Pembelian Material</button>
            <button class="wbtn btn" ng-click="goBack()" skip-disable>Kembali</button>
        </div>
    </div>
</div>

