<style type="text/css">
    .ui-grid-spilt-header-main{
        padding-top: 30px;
        line-height: 30px;
        text-align: center;
        background: #f6f6f6;
    }
    
    .ui-grid-split-merge-header{
        border-left: 2px solid transparent;
        position: absolute;
        background: #f9f9f9;
        text-align: center;
        line-height: 30px;
        z-index: 1;
        top: 0px;
        left:0px;
    }
    .ui-grid-header-table{
        width:100%;
        padding:0px;
        border:none;
        border-spacing: 0px;
        border-collapse: collapse;
    }
    
    .ui-grid-header-table tr td{
        border-bottom:1px solid #ccc;
        border-right:1px solid #ccc;
    }
    .ui-grid-header-table tr td:last-child{
        border-right:none;
    }
    div.ui-grid-cell input{
        padding:6px;
    }
</style>

<div class="form-group">
    <!-- [START] Form Level 1 -->
    <div class="row">
        <div class="col-md-3" style="pointer-events: none" ng-hide="mData.POTypeId == 7">
            <!-- ng-model="mData.POTypeId" -->
            <bsreqlabel class="control-label">Tipe PO </bsreqlabel>
            <!-- <select class="form-control" ng-model="mData.POTypeId" disabled>
                <option value="{{mData.POTypeId}}" selected>{{ToNameTypePo(mData.POTypeId)}}</option>
            </select> -->
            <bsselect name="POType" ng-model="mData.POTypeId" data="POTypeData" item-text="Name" item-value="POTypeId" placeholder="Tipe PO..." on-select="" icon="fa fa-search" ng-disabled="true">
            </bsselect>
        </div>
        <div ng-show="mData.POTypeId == 7">
            <div class="col-md-2" style="padding-right: 0px;">
                <bsreqlabel class="control-label">Tipe PO </bsreqlabel>
                <select class="form-control" ng-model="mData.POTypeId" disabled>
                  <option value="{{mData.POTypeId}}" selected>{{ToNameTypePo(mData.POTypeId)}}</option>
                </select>
            </div>
            <div class="col-md-1" style="margin-top: 23px;padding-left: 7px;">
                <input class="form-control" type="text" ng-model="mData.tCampaign" name="TypeCampaign" readonly></input>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1" style="pointer-events: none">
            <bsreqlabel class="control-label">Referensi PO </bsreqlabel>
            <!-- <select class="form-control" ng-model="mData.RefPOTypeId" disabled>
                <option value="{{mData.RefPOTypeId}}" selected>{{ToNameRefPo(mData.RefPOTypeId)}}</option>
            </select> -->
            <bsselect name="RefPOType" ng-model="mData.RefPOTypeId" data="RefPOTypeData" item-text="Name" item-value="RefPOTypeId" placeholder="Referensi PO..." on-select="" icon="fa fa-search" ng-disabled="true">
            </bsselect>
        </div>
        <div class="col-md-1">
            <label class="control-label">&nbsp</label>
        </div>
        <div ng-hide="mData.POTypeId == 7" class="col-md-3">
            <bsreqlabel>No. Referensi</bsreqlabel>
            <div class="input-group">
            <input type="text" ng-model="mData.RefPONo" class="form-control"  ng-disabled="true" required>
            <label class="input-group-btn">
                <span class="btn wbtn" ng-click="onSearchRefPONo(mData.RefPONo)" ng-disabled="true">
                    <i class="fa fa-search"></i>
                </span>
            </label>
        </div>
        </div>
    </div>
    <!-- [END] Form Level 1 -->
    <br />
    <!-- [START] Form Level 2 -->
    <div class="row">
        <div class="col-md-3">
            <bsreqlabel class="control-label">Tipe Material </bsreqlabel>
            <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                <option selected value="{{mData.MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
            </select>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">BO TAM Follow</label>
            <select class="form-control" ng-model="mData.BackOrderFollowId" disabled required>
                <option selected value="{{mData.BackOrderFollowId}}">{{ToNameBoTam(mData.BackOrderFollowId)}}</option>
            </select>
            <!-- <bsselect name="typeSearch"
                ng-model="mData.BackOrderFollowId"
                data="BoTam"
                item-text="Name"
                item-value="Id"
                placeholder="BO TAM Follow..."
                ng-disabled="botamstatus"
                >
            </bsselect> -->
        </div>
    </div>

    <!-- [END] Form Level 2 -->
    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <!-- [START] Form Level 3 -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Vendor</label>
            <!-- <bsselect name="vendor" ng-model="mData.VendorId" data="vendorData" item-text="Name" item-value="VendorId" placeholder="" on-select="selectVendor(selected)" icon="fa fa-search">
            </bsselect> -->
            <input class="form-control" type="text" ng-model="mData.VendorName" readonly></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <bsreqlabel class="control-label">Metode Pembayaran </bsreqlabel>
            <select class="form-control" required disabled>
                <!-- <option selected>Kredit</option> -->
                <option value="{{mData.PaymentMethodId}}" selected>{{ToPaymentMethodId(mData.PaymentMethodId)}}</option>
            </select>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <bsreqlabel class="control-label">Jangka Waktu Bayar (Hari)</bsreqlabel>
            <input class="form-control" type="number" ng-model="mData.PaymentPeriod" placeholder="Jangka Waktu Bayar (Hari)..." readonly></input>
        </div>
        <!-- <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div> -->
    </div>
    <!-- [END] Form Level 3 -->

    <div class="row" ng-show="mData.POTypeId == 7">
        <div class="col-md-3">
            <div class="form-group" style="margin-top: 15px;">
                <label class="control-label">Campaign Code </label>
                <div class="input-group">
                    <input type="text" ng-model="mData.CampaignCode" class="form-control " name="CCampaignCode" placeholder="klik to search"
                    readonly ng-click="ShowModalListCampaign()">
                    <label class="input-group-btn">
                        <span class="btn wbtn" ng-click="ShowModalListCampaign()">
                            <i class="fa fa-search fa-1"></i>
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-group" style="margin-top: 15px;">
                <label class="control-label">Quota Type</label>
                <input class="form-control" type="text" ng-model="mData.QuotaType" name="CQuotaType" readonly></input>
            </div>
        </div>
        <div class="col-md-3  col-md-offset-1">
            <div class="form-group" style="margin-top: 15px;">
                <label class="control-label">Campaign Name</label>
                <input class="form-control" type="text" ng-model="mData.CampaignName" name="CCampaignName" readonly></input>
            </div>
            <div class="form-group" style="margin-top: 15px;">
                <label class="control-label">Apply By</label>
                <input class="form-control" type="text" ng-model="mData.ApplyBy" name="CApplyBy" readonly></input>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <div class="form-group" style="margin-top: 15px;">
                <label class="control-label">Campaign Type</label>
                <input class="form-control" type="text" ng-model="mData.CampaignType" name="CCampaignType" readonly></input>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <!-- [START] Form Level 7 -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">No. PO</label>
            <input class="form-control" style="text-align : left" type="text" ng-model="mData.PurchaseOrderNo" placeholder="No. PO..." readonly></input>
        </div>
        <div class="col-md-2 col-md-offset-1" style="pointer-events: none">
            <label class="control-label">Tanggal PO</label>
            <bsdatepicker
                name="endDate"
                date-options="dateOptions"
                ng-model="mData.DocDate"
                ng-disabled = true
                skip-enable
                >
            </bsdatepicker>
        </div>
        <!-- <div class="col-md-1">
            <label class="control-label">&nbsp</label>
            <input class="form-control" type="text" ng-value="ToReturnHour(mData.CreatedDate)" name="no_polisi" readonly></input>
        </div>   
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div> -->
    </div>
    <!-- [END] Form Level 7 -->
    <br />
    <!-- [START] Form Level 7 -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Status</label>
            <input class="form-control" style="text-align : left" type="text" ng-value="ToNameStatus(mData.PurchaseOrderStatusId)" placeholder="Status..." readonly></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Grand Total</label>
            <input class="form-control" format="number" style="text-align : left" type="text" ng-model="mData.TotalAmount" readonly></input>
        </div>
        <!-- <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div> -->
    </div>
    <!-- [END] Form Level 7 -->
    <br />
    <!-- [START] Form Level 7 -->
    <div class="row">
        <div class="col-md-5">
            <label class="control-label">Notes</label>
            <textarea class="form-control" row='8' ng-model="mData.Notes"></textarea>
        </div>
        <!-- <div class="col-md-4">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-4">
            <label class="control-label">&nbsp</label>
        </div> -->
    </div>
    <!-- [END] Form Level 7 -->
</div>

<br/>
<div class="row" style="margin-bottom:10px;" ng-hide="isBundle">
    <div class="col-md-3">
        <div class="input-group-btn dropdown" uib-dropdown="">
        <button style="margin-right:5px;margin-left:1px" type="button"
            class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle=""
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <!-- ngIf: allowDelete -->
            <li ng-click="delete('non_tam_non_sop_bengkel')" ng-if="selectedRows.length > 0"><a href="#">Hapus</a>
        </ul>
        </div>
    </div>
    <div class="col-md-9">
        <button ng-hide="mData.POTypeId == 7" class="btn rbtn pull-right" ng-click="Add()" onclick="blur()" ng-disabled="disabledTambah || (mData.POTypeId == '4' && mData.RefPOTypeId == '2')" skip-enable><i class="fa fa-fw fa-plus"></i>&nbsp;Tambah Material</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12" ng-show="mData.POTypeId == 7 && isBundle">
        <div class="col-md-1" style="padding-bottom: 10px;">
            <label style="margin-top: 8px;" class="control-label">Qty Bundle :</label>
        </div>
        <div class="col-md-1" style="padding-bottom: 10px;margin-left: -40px;">
            <input class="form-control" placeholder="Qty" onkeypress="return event.charCode >= 48 && event.charCode <= 57" style="text-align : left" type="text" ng-model="mData.qtyGenerate" name="CampaignType"></input>
        </div>
        <div class="col-md-1" style="padding-bottom: 10px;margin-left: -20px;">
            <button class="btn wbtn" ng-click="actionGenerateQtyBundle(mData.qtyGenerate)">Generate</button>
        </div>
    </div>

    <div class="col-md-12">
        <div id="grid1" ui-grid="non_tam_non_sop_bengkel" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
        <!--<label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">Keterangan :<b>Harga Standard Cost di PO merupakan harga Standard Cost dari Master dikurangi PPn</b></label>-->
		<label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">
				<b>Keterangan :</b><br>
				1. <b style="color:red">PKP</b> : Harga Standard Cost di PO merupakan harga Standard Cost dari Master dikurangi PPn<br>
				2. <b style="color:red">Non PKP</b> : Harga Standard Cost di PO merupakan harga Standard Cost dari Master tanpa dikurangi PPn<br>
				3. Harga Standard Cost di PO yang <b>dapat diedit</b> hanya Sublet (OPB), selain itu silahkan edit pada Master Material
			</label>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div align="right">
            <button class="btn btn-default" ng-click="onShowVendorPO()">Lihat Detail Vendor</button>
            <button class="btn btn-default" ng-disabled="(mData.POTypeId == 7 && mData.PurchaseOrderStatusId != 1 ) || (mData.POTypeId >= 4 && mData.PurchaseOrderStatusId > 4 ) || (mData.POTypeId < 4 && mData.PurchaseOrderStatusId !== 1)" ng-click="batalPC(mData)">Batal PO</button>
            <button class="btn btn-default" ng-click="goBack()">Kembali</button>
            <button class="btn rbtn" ng-click="UbahData(mData,1)" ng-disabled="mData.PurchaseOrderStatusId > 1">Simpan Draft</button>
            <!-- <button class="btn rbtn" ng-click="ubah(mData)" ng-disabled="(mData.POTypeId >= 4 && mData.PurchaseOrderStatusId > 4 ) || (mData.POTypeId < 4 && mData.PurchaseOrderStatusId !== 1)">{{labelTAM}}</button> -->
            <!-- <button class="btn rbtn" ng-click="UbahData(mData)" ng-disabled="(mData.POTypeId >= 1 && mData.POTypeId != 5 && mData.PurchaseOrderStatusId > 4 )">{{labelTAM}}</button> -->
            <!-- <button class="btn rbtn" ng-click="UbahData(mData)" ng-disabled="(mData.POTypeId <= 3 && mData.PurchaseOrderStatusId > 4 ) || (mData.POTypeId > 3 && mData.PurchaseOrderStatusId > 4)">{{labelTAM}}</button> -->
            <button class="btn rbtn" ng-click="UbahData(mData)" ng-disabled="mData.PurchaseOrderStatusId > 4 || checkRefGINo">{{labelTAM}}</button>
        </div>
    </div>
</div>
