<style type="text/css">

    
    .ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
        width: 70%;
    }
    .ngdialog.ngdialog-theme-plain {
      padding-bottom: 160px;
      padding-top: 100px;
    }
    .ui-grid-pager-panel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: border-box;
    }
    .watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	    }
</style>
<div>
    <ul class="list-group">
        <div>
            <label style="padding: 5px;font-size: 16px;">List Parts Campaign</label>
        </div>
        <hr/>
        <div class="row" style="padding-left: 30px;padding-right: 30px;">
            <div class="col-md-6">
                <label class="control-label">Campaign Code </label>
                <input class="form-control" disabled="true" style="text-align : left" type="text" ng-model="dtlCampaign.CampaignCode" name="CampaignCode"></input>

            </div>
            <div class="col-md-3">
                <label class="control-label">Date</label>
                <div class="tanggal">
                    <bsdatepicker
                    name="DateNeeded"
                    ng-model="dtlCampaign.StartDate"
                    disabled style="pointer-events: none"
                    > 
                    </bsdatepicker>
                </div> 
            </div>
            <div class="col-md-3" style="margin-top: 5px;">
                <label class="control-label"> </label>
                <div class="tanggal">
                    <bsdatepicker
                    name="DateNeeded"
                    ng-model="dtlCampaign.EndDate"
                    disabled style="pointer-events: none"
                    > 
                    </bsdatepicker>
                </div> 
            </div>
        </div>

        <div class="row" style="padding-left: 30px;padding-top: 10px;;padding-right: 30px;">
            <div class="col-md-6">
                <label class="control-label">Campaign Name </label>
                <input class="form-control" disabled="true" style="text-align : left" type="text" ng-model="dtlCampaign.CampaignName" name="CampaignName"></input>
            </div>
            <div class="col-md-6">
                <label class="control-label">Apply By</label>
                <input class="form-control" disabled="true" style="text-align : left" type="text" ng-model="dtlCampaign.ApplyBy" name="ApplyBy"></input>
            </div>
        </div>
        <div class="row" style="padding-left: 30px;padding-top: 10px;;padding-right: 30px;">
            <div class="col-md-6">
                <label class="control-label">Campaign Type </label>
                <input class="form-control" disabled="true" style="text-align : left" type="text" ng-model="dtlCampaign.CampaignType" name="CampaignType"></input>
            </div>
            <div class="col-md-6">
                <label class="control-label">Quota Type</label>
                <input class="form-control" disabled="true" style="text-align : left" type="text" ng-model="dtlCampaign.QuotaType" name="QuotaType"></input>
            </div>
        </div>
        <hr/>
        <div class="row" style="padding-left: 30px;padding-right: 30px;">
            <div class="col-md-3" style="padding-bottom: 10px;">
                <input class="form-control" placeholder="Filter" ng-change="FilterDetailChange(fCampaign)" style="text-align : left" type="text" ng-model="fCampaign.filter" name="CampaignType"></input>
            </div>
            <div class="col-md-3">
                <select class="form-control" ng-change="FilterDetailChange(fCampaign)" ng-model="fCampaign.filterType" required>
                    <option value="PartsCode" selected ng-selected="fCampaign.filterType == 'PartsCode'">Parts Code</option>
                    <option value="PartsName" selected ng-selected="fCampaign.filterType == 'PartsName'">Parts Name</option>
                    <option value="StatusQuota" selected ng-selected="fCampaign.filterType == 'StatusQuota'">Status Quota</option>
                </select>
            </div>
            <div class="col-md-6" align="right">
                <button id="popup_button3" ng-show="isBundle" class="btn rbtn" ng-click="actionPilihSemuaItemCampaign()" type="button">Pilih Semua Item</button>
            </div>
            <!-- <div class="col-md-3">

            </div> -->
        </div>
        <div class="form-group" ui-grid="ModalTambahListPartsCampaign_UIGrid" ui-grid-auto-resize ui-grid-selection
            ui-grid-pagination>
            <div class="watermark" ng-show="ModalTambahListPartsCampaign_UIGrid.data.length == 0">No data available</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div align="right">
                    <button id="popup_button4" class="btn rbtn" ng-click="actionKembaliModalTambahListPartsCampaign()" type="button">Kembali</button>
                    <button id="popup_button5" class="btn rbtn" ng-click="actionCloseModalTambahListPartsCampaign()" type="button">Close</button>
                </div>
            </div>
        </div>
    </ul>
</div>