<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="PartsForm"
        factory-name="Parts"
        model="mParts"
        loading="loading"
        model-id="PartsId"

        get-data="getData"
        selected-rows="xParts.selected"
        on-select-rows="onSelectRows"
        show-advsearch="on"

        modal-title="Parts"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
        <bsform-advsearch>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Kode Parts</label>
                        <div class="input-icon-right">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" name="filterPartsCode" placeholder="Kode Parts"
                            ng-model="filter.PartsCode">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nama Parts</label>
                        <div class="input-icon-right">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" name="filterPartsName" placeholder="Nama Parts"
                            ng-model="filter.PartsName">
                        </div>
                    </div>
                </div>
            </div>
        </bsform-advsearch>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Kode Parts</label>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="PartsCode" placeholder="Kode Parts"
                        ng-model="mParts.PartsCode">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nama Parts</label>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="PartsName" placeholder="Nama Parts"
                        ng-model="mParts.PartsName">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>SCC</label>
                    <bsselect name="PartsClassId1"
                            ng-model="mParts.PartsClassId1"
                            data="partsClass.Class1"
                            item-text="Description"
                            item-value="PartsClassId"
                            placeholder="Tipe SCC"
                            required="true">
                    </bsselect>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>ICC</label>
                    <bsselect name="PartsClassId2"
                            ng-model="mParts.PartsClassId2"
                            data="partsClass.Class2"
                            item-text="Description"
                            item-value="PartsClassId"
                            placeholder="Tipe SCC"
                            required="true">
                    </bsselect>
                </div>
            </div>
        </div>

</bsform-grid>