<script type="text/javascript">
</script>
<style type="text/css">
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -wekbit-appearance: none;
        margin: 0;
    }
</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<bsform-grid ng-form="StallForm" form-name="StallForm" factory-name="StallMst" model="mStallMst" model-id="StallId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" grid-hide-action-column="true" on-show-detail="onShowDetail" action-button-settings-detail="actionButtonSettingsDetail"
    form-api="formApi" do-custom-save="doCustomSave" on-validate-save="onValidateSave" on-bulk-delete="onBulkDelete" form-title="StallMst" modal-title="Stall" modal-size="small" icon="fa fa-fw fa-child">

    <!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

    <!-- IF NOT USING FORMLY -->

    <div ng-include="'app/master/stall/stall_schedule.html'" ng-if="schedule_mode==true"></div>

    <div ng-if="schedule_mode==false">
       
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <bsreqlabel>Jenis Stall</bsreqlabel>
                        <bsselect name="QC" ng-model="mStallMst.Type" data="StallTypeData" item-text="Description" item-value="StallTypeGRId" placeholder="Pilih Group Type" icon="fa fa-car" required>
                        </bsselect>
                    </div>
                </div>
            </div>

            <div class="col-md-12"style="margin-bottom: 15px">
                <div class="col-md-6">
                    <div class="form-group">
                        <bsreqlabel>Nama Stall</bsreqlabel>
                        <!-- <div class="input-icon-right"> -->
                        <input type="text" class="form-control col-md-3" style="float:left;" name="GroupName" placeholder="StallName" ng-model="mStallMst.Name" ng-maxlength="50" required>
                    <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <bsreqlabel>Teknisi 1</bsreqlabel>
                        <bsselect name="QC"  ng-model="mStallMst.Technician1" data="TechnicianData" item-text="EmployeeName" item-value="EmployeeId" placeholder="Pilih Group Type" icon="fa fa-car" required>
                        </bsselect>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                    <label>Teknisi 2</label>
                    <bsselect name="QC" ng-model="mStallMst.Technician2" data="TechnicianData" item-text="EmployeeName" item-value="EmployeeId" placeholder="Pilih Group Type" icon="fa fa-car">
                    </bsselect>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Teknisi 3</label>
                        <bsselect name="QC" ng-model="mStallMst.Technician3" data="TechnicianData" item-text="EmployeeName" item-value="EmployeeId" placeholder="Pilih Group Type" icon="fa fa-car">
                        </bsselect>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <div class="col-md-12" style="margin-bottom: 15px">
                <div class="col-md-2">
                    Jam Tersedia
                </div>

                <div class="col-md-2">
                    <div class="input-icon-right">
                                <!-- <input type="number" class="form-control" name="GroupName"  placeholder="HH" ng-model="mStallMst.AvailableTime" ng-maxlength="50" ng-min="0" ng-max="24"  style="display:inline;"> -->
                         <input type="number" class="form-control col-lg-2" name="GroupName" placeholder="HH" ng-model="mStallMst.AvailableTime" ng-min="0" ng-max="24" style="display:inline;" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    Jam
                </div>            
            </div>

                

                <!-- jam istirahat 1 -->
                <!-- <div class="row"> -->

                    <!-- <div class="col-lg-4">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <bsreqlabel>Jam Istirahat 1</bsreqlabel>
                                    <div class="input-icon-right" >
                                        <input type="number" class="form-control" name="GroupName"  placeholder="HH" ng-model="mStallMst.StartBreakTime1Hour" ng-maxlength="50" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-lg-offset-1">
                                <bsreqlabel>
                                    <span style="color:white">
                                        Jam Istirahat 1
                                    </span>
                                </bsreqlabel>
                                <div class="form-group">
                                    <div class="input-icon-right" >
                                        <input type="number" class="form-control col-lg-2" name="GroupName" placeholder="MM" ng-model="mStallMst.StartBreakTime1Minute" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>
                        </div> -->

            <div class="col-md-12" style="margin-bottom: 15px">
                <div class="col-md-2">
                    <bsreqlabel>Jam Istirahat 1</bsreqlabel>
                </div>

                <div class="col-md-1">
                    <div uib-timepicker show-spinners="false" max="maxFrom" name="AvailableTime" ng-model="mStallMst.StartBreakTime1" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" onkeypress="return event.charCode >=48 && event.charCode <=57" ng-keyup="getCal(mStallMst.StartBreakTime1,$event)" required></div>
                </div>

                <div class="col-md-1" style="text-align:center;">
                        s/d
                </div>

                <!-- <div class="col-md-1"> -->
                    <!-- <bsreqlabel>*</bsreqlabel> -->
                <!-- </div> -->

                <div class="col-md-1">
                    <div uib-timepicker show-spinners="false" max="maxFrom" name="AvailableTime" ng-model="mStallMst.EndBreakTime1" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" onkeypress="return event.charCode >=48 && event.charCode <=57" ng-keyup="getCal(mStallMst.EndBreakTime1,$event)" required></div>
                </div>
            </div>
                    <!-- <div class="col-lg-4">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <div class="input-icon-right" >
                                        <bsreqlabel>
                                            <span style="color:white">
                                                Jam Istirahat 1
                                            </span>
                                        </bsreqlabel>
                                        <input type="number" class="form-control" name="GroupName"  placeholder="HH" ng-model="mStallMst.EndBreakTime1Hour" ng-maxlength="50" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="form-group">
                                    <div class="input-icon-right" >
                                        <bsreqlabel>
                                            <span style="color:white">
                                                Jam Istirahat 1
                                            </span>
                                        </bsreqlabel>
                                        <input type="number" class="form-control col-lg-2" name="GroupName" placeholder="MM" ng-model="mStallMst.EndBreakTime1Minute" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>
                        </div> -->

                <!-- </div> -->


                <!-- jam istirahat 2 -->
                <!-- <div class="row"> -->
                    <!-- 
                        <div class="col-lg-4">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <bsreqlabel>Jam Istirahat 2</bsreqlabel>
                                    <div class="input-icon-right" >
                                        <input type="number" class="form-control" name="GroupName"  placeholder="HH" ng-model="mStallMst.StartBreakTime2Hour" ng-maxlength="50" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-lg-offset-1">
                                <bsreqlabel>
                                    <span style="color:white">
                                        Jam Istirahat 2
                                    </span>
                                </bsreqlabel>
                                <div class="form-group">
                                    <div class="input-icon-right" >
                                        <input type="number" class="form-control col-lg-2" name="GroupName" placeholder="MM" ng-model="mStallMst.StartBreakTime2Minute" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4" style="text-align:center;">
                            s/d
                        </div>

                        <div class="col-lg-4">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <div class="input-icon-right" >
                                        <bsreqlabel>
                                            <span style="color:white">
                                                Jam Istirahat 2
                                            </span>
                                        </bsreqlabel>
                                        <input type="number" class="form-control" name="GroupName"  placeholder="HH" ng-model="mStallMst.EndBreakTime2Hour" ng-maxlength="50" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="form-group">
                                    <div class="input-icon-right" >
                                        <bsreqlabel>
                                            <span style="color:white">
                                                Jam Istirahat 2
                                            </span>
                                        </bsreqlabel>
                                        <input type="number" class="form-control col-lg-2" name="GroupName" placeholder="MM" ng-model="mStallMst.EndBreakTime2Minute" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>
                        </div>
 -->
            <div class="col-md-12" style="margin-bottom: 15px">
                <div class="col-md-2">
                    <bslabel>Jam Istirahat 2</bslabel>
                </div>

                <div class="col-md-1">
                        <div uib-timepicker show-spinners="false" max="maxFrom" onkeypress="return event.charCode >=48 && event.charCode <=57" name="AvailableTime" ng-model="mStallMst.StartBreakTime2" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-keyup="getCal(mStallMst.StartBreakTime2,$event)"></div>
                </div>

                <div class="col-md-1" style="text-align:center;">
                    s/d
                </div>

                <div class="col-md-1">
                    <!-- <bsreqlabel>*</bsreqlabel> -->
                    <div uib-timepicker show-spinners="false" max="maxFrom" onkeypress="return event.charCode >=48 && event.charCode <=57" name="AvailableTime" ng-model="mStallMst.EndBreakTime2" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-keyup="getCal(mStallMst.EndBreakTime2,$event)"></div>
                </div>
            </div>
                <!-- </div> -->

                <!-- jam istirahat 3 -->
                <!-- <div class="row"> -->
                    <!-- 
                        <div class="col-lg-4">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <bsreqlabel>Jam Istirahat 3</bsreqlabel>
                                    <div class="input-icon-right" >
                                        <input type="number" class="form-control" name="GroupName"  placeholder="HH" ng-model="mStallMst.StartBreakTime3Hour" ng-maxlength="50" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-lg-offset-1">
                                <bsreqlabel>
                                    <span style="color:white">
                                        Jam Istirahat 3
                                    </span>
                                </bsreqlabel>
                                <div class="form-group">
                                    <div class="input-icon-right" >
                                        <input type="number" class="form-control col-lg-2" name="GroupName" placeholder="MM" ng-model="mStallMst.StartBreakTime3Minute" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4" style="text-align:center;">
                            s/d
                        </div>

                        <div class="col-lg-4">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <div class="input-icon-right" >
                                        <bsreqlabel>
                                            <span style="color:white">
                                                Jam Istirahat 3
                                            </span>
                                        </bsreqlabel>
                                        <input type="number" class="form-control" name="GroupName"  placeholder="HH" ng-model="mStallMst.EndBreakTime3Hour" ng-maxlength="50" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="form-group">
                                    <div class="input-icon-right" >
                                        <bsreqlabel>
                                            <span style="color:white">
                                                Jam Istirahat 3
                                            </span>
                                        </bsreqlabel>
                                        <input type="number" class="form-control col-lg-2" name="GroupName" placeholder="MM" ng-model="mStallMst.EndBreakTime3Minute" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>
                        </div>
 -->
            <div class="col-md-12" style="margin-bottom: 15px">
                <div class="col-md-2">
                    <bslabel>Jam Istirahat 3</bslabel>
                </div>

                <div class="col-md-1">
                        <div uib-timepicker show-spinners="false" max="maxFrom" onkeypress="return event.charCode >=48 && event.charCode <=57" name="AvailableTime" ng-model="mStallMst.StartBreakTime3" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-keyup="getCal(mStallMst.StartBreakTime3,$event)"></div>
                </div>

                <div class="col-md-1" style="text-align:center;">
                    s/d
                </div>

                <div class="col-md-1">
                    <!-- <bsreqlabel>*</bsreqlabel> -->
                        <div uib-timepicker show-spinners="false" max="maxFrom" name="AvailableTime" onkeypress="return event.charCode >=48 && event.charCode <=57" ng-model="mStallMst.EndBreakTime3" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-keyup="getCal(mStallMst.EndBreakTime3,$event)"></div>
                </div>
                <!-- </div> -->
            </div>
                <!-- jam Buka Default -->
                <!-- <div class="row"> -->
                    <!-- 
                        <div class="col-lg-4">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <bsreqlabel>Jam Buka Default</bsreqlabel>
                                    <div class="input-icon-right" >
                                        <input type="number" class="form-control" name="GroupName"  placeholder="HH" ng-model="mStallMst.DefaultOpenTimeHour" ng-maxlength="50" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-lg-offset-1">
                                <bsreqlabel>
                                    <span style="color:white">
                                        Jam Buka Default
                                    </span>
                                </bsreqlabel>
                                <div class="form-group">
                                    <div class="input-icon-right" >
                                        <input type="number" class="form-control col-lg-2" name="GroupName" placeholder="MM" ng-model="mStallMst.DefaultOpenTimeMinute" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>
                        </div>
 -->        <div class="col-md-12" style="margin-bottom: 15px">
                    <div class="col-md-2">
                        <bsreqlabel>Jam Buka Default</bsreqlabel>
                    </div>
                    <div class="col-md-1">
                            <div uib-timepicker show-spinners="false" max="maxFrom" onkeypress="return event.charCode >=48 && event.charCode <=57" name="AvailableTime" ng-model="mStallMst.DefaultOpenTime"  ng-keyup="getCal(mStallMst.DefaultOpenTime,$event)"hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required></div>
                    </div>
            </div>
                <!-- </div> -->

                <!-- jam Tutup Default -->
                <!-- <div class="row"> -->
                    <!-- 
                        <div class="col-lg-4">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <bsreqlabel>Jam Tutup Default</bsreqlabel>
                                    <div class="input-icon-right" >
                                        <input type="number" class="form-control" name="GroupName"  placeholder="HH" ng-model="mStallMst.DefaultCloseTimeHour" ng-maxlength="50" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-lg-offset-1">
                                <bsreqlabel>
                                    <span style="color:white">
                                        Jam Tutup Default
                                    </span>
                                </bsreqlabel>
                                <div class="form-group">
                                    <div class="input-icon-right" >
                                        <input type="number" class="form-control col-lg-2" name="GroupName" placeholder="MM" ng-model="mStallMst.DefaultCloseTimeMinute" ng-min="0" ng-max="5"  style="display:inline;">
                                    </div>
                                </div>
                            </div>
                        </div>
 -->
            <div class="col-md-12" style="margin-bottom: 15px">
                    <div class="col-md-2">
                        <bsreqlabel>Jam Tutup Default</bsreqlabel>
                    </div>
                    <div class="col-md-2">
                            <div uib-timepicker show-spinners="false" max="maxFrom" onkeypress="return event.charCode >=48 && event.charCode <=57" name="AvailableTime" ng-model="mStallMst.DefaultCloseTime"  ng-keyup="getCal(mStallMst.DefaultCloseTime,$event)"hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required></div>
                    </div>
            </div>
                <!-- 
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="checkbox" ng-model="mStallMst.StatusCode">
                        </div>
                    </div>
 -->

                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="form-group" style="margin-top: 15px;">
                            <bsreqlabel>Status</bsreqlabel>
                            <div class="ui-grid-cell-contents" style="cursor:pointer">
                                <div class="ui toggle checkbox" style="margin:-5px 0 0;">
                                    <input type="checkbox" ng-model="mStallMst.StatusCode" ng-true-value="1" ng-false-value="0" name="status">
                                    <label>
                                            <span style="color:#2185D0;" ng-if="row.entity.status == 1">Active</span>
                                            <span style="color:gray;" ng-if="row.entity.status == 0">Inactive</span>
                                        </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                        <div class="col-lg-4">
                            <div class="ui-grid-cell-contents" style="cursor:pointer">
                                <div class="ui toggle checkbox" style="margin:-5px 0 0;" >
                                    <input type="checkbox" ng-model="row.entity.StatusCode" ng-true-value =1 ng-false-value =0 name="status" ng-click="grid.appScope.acteditStatus(COL_FIELD,row.entity.ID)">
                                    <label>
                                        <span style="color:#2185D0;" ng-if="mStallMst.StatusCode == 1">
                                            Active
                                        </span>
                                        <span style="color:gray;" ng-if="mStallMst.StatusCode == 0">
                                            Inactive
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div> -->

            
        </div>
    </div>
    <!-- 
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>Jenis Stall</bsreqlabel>
                    <bsselect name="Type"
                            ng-model="mStallMst.Type"
                            data="TypeData"
                            item-text="Name"
                            item-value="Id"
                            placeholder="Pilih Tipe"
                            on-select="selectType(selected)"
                            
                            icon="fa fa-car">
                    </bsselect>
                </div>
                <div class="form-group" show-errors>
                    <bsreqlabel>Nama Stall</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" name="namaStall" placeholder="Nama Stall" ng-model="mStallMst.Name"  ng-maxlength="50" >
                    </div>
                    <bserrmsg field="namaStall"></bserrmsg>
                </div>
                <div class="form-group" ng-show="isBP">
                    <label>Grup BP</label>
                    <bsselect name="GroupBPId"
                            ng-model="mStallMst.GroupBPId"
                            data="GroupBPData"
                            item-text="GroupName"
                            item-value="Id"
                            placeholder="Pilih Grup BP"
                            icon="fa fa-car">
                    </bsselect>
                </div>
            </div>
        </div>   

        <div class="row">
            <div class="col-md-2">
                <div class="form-group" show-errors>
                    <bsreqlabel>Jam Tersedia</bsreqlabel>
                    <div uib-timepicker show-spinners="false" max="maxFrom" name="AvailableTime" ng-model="mStallMst.AvailableTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ></div>
                    <bserrmsg field="AvailableTime"></bserrmsg>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" show-errors>
                    <bsreqlabel>Jam Buka Default</bsreqlabel>
                    <div uib-timepicker show-spinners="false" max="maxFrom" name="OpenTime" ng-model="mStallMst.OpenTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ></div>
                    <bserrmsg field="OpenTime"></bserrmsg>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" show-errors>
                    <bsreqlabel>Jam Tutup Default</bsreqlabel>
                     <div uib-timepicker show-spinners="false" max="maxFrom" name="CloseTime" ng-model="mStallMst.CloseTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ></div>
                    <bserrmsg field="CloseTime"></bserrmsg>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2">
                <div class="form-group" show-errors>
                    <bsreqlabel>Jam Istirahat Mulai</bsreqlabel>
                    <div uib-timepicker show-spinners="false" max="maxFrom" name="StartBreakTime" ng-model="mStallMst.StartBreakTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ></div>
                    <bserrmsg field="StartBreakTime"></bserrmsg>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" show-errors>
                    <bsreqlabel>Jam Istirahat Selesai</bsreqlabel>
                    <div uib-timepicker show-spinners="false" max="maxFrom" name="EndBreakTime" ng-model="mStallMst.EndBreakTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ></div>
                    <bserrmsg field="EndBreakTime"></bserrmsg>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" style="margin-top: 25px;">
                    <bscheckbox 
                        ng-model="mStallMst.Status"
                        true-value = "1"
                        false-value = "0"
                        label = "Status">
                    </bscheckbox>
                </div>
            </div>
        </div>
 -->


    <!-- IF NOT USING FORMLY ------------------------ -->

    </bsform-grid-tree>
    <!-- 

<sm-modal id="deleteStall" class="modalListAllUser small" ng-show="showModal_deleteStall" 
          settings="{closable: false,transition:'horizontal flip',blurring: true}">
    <div class="header" style="background-color: whitesmoke;">Delete Stall</div>
    <div class="content">
        Are you Sure you want to delete {{tempStallNameDelete}} ?
    </div>
    <div class="actions">
        <div class="ui ok right labeled icon blue basic button" ng-click="deleteStall()">Yes
            <i class="checkmark icon"></i>
        </div>
        <div class="ui cancel blue basic button">No</div>
    </div>
</sm-modal> -->