<div>
    <div class="row">
        <div class="col-md-6">
            <h1>Nama Stall: {{mStallMst.Name}}</h1>
        </div>
    </div>


    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-12">
            <div class="col-md-2">
                <bsreqlabel>Jam Istirahat 1</bsreqlabel>
            </div>
            <div class="col-md-1">
                <div uib-timepicker show-spinners="false" max="maxFrom" name="AvailableTime" ng-model="mStallMst.StartBreakTime1" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" onkeypress="return event.charCode >=48 && event.charCode <=57" ng-disabled="true" skip-enable disabled></div>
            </div>
            <div class="col-md-1" style="text-align:center;">
                    s/d
            </div>
            <div class="col-md-1">
                <div uib-timepicker show-spinners="false" max="maxFrom" name="AvailableTime" ng-model="mStallMst.EndBreakTime1" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" onkeypress="return event.charCode >=48 && event.charCode <=57" ng-disabled="true" skip-enable disabled></div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-12">
            <div class="col-md-2">
                <bslabel>Jam Istirahat 2</bslabel>
            </div>
            <div class="col-md-1">
                    <div uib-timepicker show-spinners="false" max="maxFrom" onkeypress="return event.charCode >=48 && event.charCode <=57" name="AvailableTime" ng-model="mStallMst.StartBreakTime2" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-disabled="true" skip-enable disabled></div>
            </div>
            <div class="col-md-1" style="text-align:center;">
                s/d
            </div>
            <div class="col-md-1">
                <div uib-timepicker show-spinners="false" max="maxFrom" onkeypress="return event.charCode >=48 && event.charCode <=57" name="AvailableTime" ng-model="mStallMst.EndBreakTime2" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-disabled="true" skip-enable disabled></div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-12">
            <div class="col-md-2">
                <bslabel>Jam Istirahat 3</bslabel>
            </div>
            <div class="col-md-1">
                <div uib-timepicker show-spinners="false" max="maxFrom" onkeypress="return event.charCode >=48 && event.charCode <=57" name="AvailableTime" ng-model="mStallMst.StartBreakTime3" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-disabled="true" skip-enable disabled></div>
            </div>
            <div class="col-md-1" style="text-align:center;">
                s/d
            </div>
            <div class="col-md-1">
                <div uib-timepicker show-spinners="false" max="maxFrom" name="AvailableTime" onkeypress="return event.charCode >=48 && event.charCode <=57" ng-model="mStallMst.EndBreakTime3" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-disabled="true" skip-enable disabled></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="margin-bottom: 15px">
            <div class="col-md-2">
                <bsreqlabel>Jam Buka Default</bsreqlabel>
            </div>
            <div class="col-md-1">
                    <div uib-timepicker show-spinners="false" max="maxFrom" onkeypress="return event.charCode >=48 && event.charCode <=57" name="AvailableTime" ng-model="mStallMst.DefaultOpenTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-disabled="true" skip-enable disabled></div>
            </div>
        </div>
        <div class="col-md-6" style="margin-bottom: 15px">
            <div class="col-md-2">
                <bsreqlabel>Jam Tutup Default</bsreqlabel>
            </div>
            <div class="col-md-2">
                    <div uib-timepicker show-spinners="false" max="maxFrom" onkeypress="return event.charCode >=48 && event.charCode <=57" name="AvailableTime" ng-model="mStallMst.DefaultCloseTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-disabled="true" skip-enable disabled></div>
            </div>
        </div>
    </div>

    

    <div class="row">
        <div class="col-md-6" style="margin-bottom: 15px">
            <div class="col-md-2">
                <bsreqlabel>Jam Dari</bsreqlabel>
            </div>
            <div class="col-md-1">
                <div uib-timepicker show-spinners="false" name="FromTime" ng-model="mStallMst.FromTime" hour-step="1" minute-step="10" show-meridian="ismeridian"></div>
            </div>
        </div>

        <div class="col-md-6" style="margin-bottom: 15px">
            <div class="col-md-2">
                <bsreqlabel>Jam Sampai</bsreqlabel>
            </div>
            <div class="col-md-1">
                <div uib-timepicker show-spinners="false" name="ToTime" ng-model="mStallMst.ToTime" hour-step="1" minute-step="10" show-meridian="ismeridian"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="margin-bottom: 15px">
            <div class="col-md-2">
                <bsreqlabel>Tanggal Dari</bsreqlabel>
            </div>
            <div class="col-md-6">
                <bsdatepicker date-options="dateOptions" ng-model="mStallMst.FromDate" class="form-control" ng-click="open1()" is-open="popup1.opened" close-text="Close">
                </bsdatepicker>
            </div>
        </div>

        <div class="col-md-6" style="margin-bottom: 15px">
            <div class="col-md-2">
                <bsreqlabel>Tanggal Sampai</bsreqlabel>
            </div>
            <div class="col-md-6">
                <bsdatepicker date-options="dateOptions" ng-model="mStallMst.ToDate" class="form-control" ng-click="open2()" is-open="popup2.opened" close-text="Close">
                </bsdatepicker>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="margin-bottom: 15px">
            <div class="col-md-2">
                <bsreqlabel>Catatan</bsreqlabel>
            </div>
            <div class="col-md-6">
                <textarea name="Catatan" type="text" cols="70" ng-model="mStallMst.InactiveReason"></textarea>
            </div>
        </div>
    </div>

    

    <div class="row">
        <div class="col-md-4" style="margin-bottom: 15px; margin-right:5px" >
            <button class="rbtn btn" ng-click="addJadwal(mStallMst)" >Tambah</button>
            <!-- <button class="rbtn btn" ng-click="addGroupTechnician(mGroupBP)">Batal</button> -->
        </div>
    </div>

    <!-- <div class="row"> -->
            <bsform-below-grid>
                    <div class="row" style="margin-top:30px;">
                        
                        <div class="col-md-4">
                            <div class="input-group" style="margin-bottom:10px">
                                <input type="text" ng-model-options="{debounce: 250}" class="form-control" placeholder="Filter" ng-model="gridnyaAPI.grid.columns[filterColIdx].filters[0].term">
                                <div class="input-group-btn" uib-dropdown>
                                    <button id="filter" type="button" class="btn wbtn" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
                                        {{filterBtnLabel|uppercase}}&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="filter">
                                        <li role="menuitem" ng-repeat="col in gridCols">
                                            <a href="#" ng-click="filterBtnChange(col)">{{col.name|uppercase}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="gridJadwal" ui-grid="gridJadwal" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid" ng-style="gridJadwalTableHeight()">
                            <div class="ui-grid-nodata" ng-show="!gridJadwal.data.length">No data available</div>
                        </div>
        </bsform-below-grid>

    <!-- <div id="gridJadwal" ui-grid="gridJadwal" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid" ng-style="gridJadwalTableHeight()">
        <div class="ui-grid-nodata" ng-show="!gridJadwal.data.length">No data available</div>
    </div> -->
    
   
</div>