<link rel="stylesheet" href="css/uistyle.css">
<link rel="stylesheet" href="css/uitimelinestyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="styleSheet" href="release/ui-grid.min.css" />
<script src="/release/ui-grid.min.js"></script>

<script type="text/javascript">
</script>

<style type="text/css">
    fieldset.scheduler-border {
        width: auto;
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        width: auto;
        /* Or auto */
        padding: 0 10px;
        /* To give a bit of padding on the left and right */
        border-bottom: none;
    }

    fieldset.scheduler-borderCreate {
        border: 1px groove #ddd !important;
        height: 100px;
        padding: 0 1.4em 10.4em 1.4em !important;
        margin: 0 0 0 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }
</style>




<div ng-show="MaintainForm">
        <button ng-click="DiterimaCancelPI()" ng-disabled="status.approve" class="rbtn btn no-animate ng-binding ladda-button" style="float:right;margin: -30px 0 0 5px">Disetujui</button>
                <button ng-click="DitolakCancelPI()" ng-disabled="status.reject" class="rbtn btn no-animate ng-binding ladda-button" style="float:right; margin: -30px 0 0 5px">Ditolak</button>
                
          
    
    <bsform-grid ng-form="ApprovalPIForm" factory-name="ApprovalPIFactory" model="mApprovalPI" model-id="ApprovalPICancelId" grid-hide-action-column="true"
        get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" show-advsearch="on" hide-new-button="true"
        form-name="ApprovalPIForm" form-title="Approval PI Form" modal-title="Approval PI" modal-size="small" icon="fa fa-fw fa-child">
        <bsform-advsearch>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <bsreqlabel>Tanggal Kwitansi</bsreqlabel>
                        <bsdatepicker name="tanggal" date-options="dateOptionsStart" ng-model="filter.PIDateStart" icon="fa fa-calendar">
                        </bsdatepicker>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <bsreqlabel>Sampai Tanggal</bsreqlabel>
                        <bsdatepicker name="tanggal" date-options="dateOptionsEnd" ng-model="filter.PIDateEnd" icon="fa fa-calendar">
                        </bsdatepicker>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nama Pelanggan</label>
                        <div class="input-icon-right">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control" name="nama" placeholder="Nama Pelanggan" ng-model="filter.CustomerName" ng-maxlength="60">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-3">
                            <div class="form-group">
                                <label>Tipe Approval</label>
                                <div class="input-icon-right">
                                    <bsselect id="comboBox" name="StatusPembatalan" ng-model="filter.ApprovalCategoryId" data="typeApproval" item-text="text" item-value="value"
                                    on-select="" placeholder="Tipe Approval" icon="fa fa-search">
                                </bsselect>
                                </div>
                            </div>
                        </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Status Approval</label>
                        <div class="input-icon-right">
                            <bsselect id="comboBox" name="StatusPembatalan" ng-model="filter.StatusApprovalId" data="getStatusPembatalan" item-text="StatusApprovalName" item-value="StatusApprovalId"
                            on-select="" placeholder="Status Approval" icon="fa fa-search">
                        </bsselect>
                        </div>
                    </div>
                </div>
                
            </div>
        </bsform-advsearch>
    </bsform-grid>

</div>


<div class="ui modal AlasanBatalPI" style="background-color: transparent;">
    <div class="modalDefault-dialog">
        <div class="modal-header">
           <h4 class="modal-title">Reason Reject Cancel Kwitansi</h4>
        </div>
        <div class="modal-body">
                <textarea type="text" class="form-control" name="ReasonNamen" placeholder="Alasan" ng-model="ReasonCancel.ReasonName" ng-maxlength="255"
                style="margin-bottom: 10px" required></textarea>
        </div>
        <div class="modal-footer">
            <p align="right">
                <button ng-click="Batal_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Batal</button>
                <button ng-click="Simpan_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Simpan</button>
            </p>
        </div>
    </div>
</div>
