<!--
    Catatan Flow
    1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
<style type="text/css">
    .user-avatar {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, 0.5);
    }
</style>

<div class="form-group">
    <!-- [START] Form Level 1 -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Referensi GI *</label>
            <select class="form-control" ng-model="mData.RefGITypeID" readonly>
                <option value="{{mData.RefGITypeID}}" selected>{{ToNameRefGi(mData.RefGITypeID)}}</option>
                </select>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">No Sales Order *</label>
            <!-- <input class="form-control" type="text" ng-model="mData.RefGINo" name="no_wo" placeholder="WO/20160715001"></input> -->
            <div class="input-group">
                <input type="text" ng-model="mData.RefGINo" class="form-control" required>
                <label class="input-group-btn">
                        <span class="btn wbtn" ng-click="onSearchRefGINo(mData.RefGINo, mData.RefGITypeID)">
                            <i class="fa fa-search"></i>
                        </span>
                    </label>
            </div>

        </div>
        <div class="col-md-3 col-md-offset-1" style="pointer-events: none;">
            <label class="control-label">No MR *</label>
            <!-- <bsselect name="vendor" ng-model="mData.MaterialRequestId" data="MRdata" item-text="MaterialRequestNo" item-value="MaterialRequestId" placeholder="" on-select="selectMR(selected)" icon="fa fa-search" background-color="#e3eef1" skip-enable>
                </bsselect>  -->
            <input type="text" ng-model="mData.MaterialRequestNo" class="form-control" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <hr/>
        </div>
    </div>
    <!-- [END] Form Level 1 -->
    <!-- [START] Form Level 2 -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Tipe Material *  </label>
            <select class="form-control" ng-model="mData.GridDetail[0].MaterialTypeId" disabled required>
                        <option selected value="{{mData.GridDetail[0].MaterialTypeId}}">{{ToNameMaterial(mData.GridDetail[0].MaterialTypeId)}}</option>
                    </select>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <hr/>
        </div>
    </div>
    <!-- [END] Form Level 2 -->
    <!-- [START] Form Level 5 -->
    <div class="row">
        <div class="col-md-3" style="pointer-events: none;" ng-hide="BengkelHide">
        <!-- <div class="col-md-3" style="pointer-events: none;" ng-hide="mData.RefSOTypeId == 2"> -->
            <label class="control-label">Bengkel</label>
            <!-- <bsselect name="vendor" ng-model="mData.VendorOutletId" data="vendorOutletData" item-text="Name" item-value="OutletId" placeholder="" on-select="selectVendor(selected)" icon="fa fa-search" skip-enable>
                </bsselect> -->
            <input type="text" ng-model="mData.VendorName" class="form-control" readonly>

        </div>

        <div class="col-md-3" style="pointer-events: none;" ng-hide="CustomerHide">
        <!-- <div class="col-md-3" style="pointer-events: none;" ng-hide="mData.RefSOTypeId != 2"> -->
            <label class="control-label">Customer</label>
            <!-- <bsselect name="vendor" ng-model="mData.VendorOutletId" data="vendorOutletData" item-text="Name" item-value="OutletId" placeholder="" on-select="selectVendor(selected)" icon="fa fa-search" skip-enable>
                </bsselect> -->
            <input type="text" ng-model="mData.CustomerName" class="form-control" readonly>

        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>
    <!-- [END] Form Level 5 -->
    <!-- [START] Form Level 6 -->
    <div class="row">
        <div class="col-md-8">
            <hr/>
        </div>
    </div>
    <!-- [END] Form Level 6 -->
    <!-- [START] Form Level 7 -->
    <div class="row">
        <div class="col-md-3">
            <bsreqlabel>Penerima</bsreqlabel>
            <input class="form-control" style="text-align : left" type="text" maxlength="50"  ng-model="mData.ReceivedBy" name="penerima"></input>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <hr/>
        </div>
    </div>
    <!-- [END] Form Level 7 -->
    <br />
    <!-- [START] Form Level 7 -->
    <div class="row">
        <div class="col-md-5">
            <label class="control-label">Notes</label>
            <textarea class="form-control" row='5' maxlength="200" ng-model="mData.Notes"></textarea>
        </div>
    </div>
    <!-- [END] Form Level 7 -->
</div>

<!--<fieldset style="padding-top: 10px"></fieldset>-->
<div class="row" style="padding-left: 2px">
    <div class="col-md-2">
        <div class="input-group-btn dropdown" uib-dropdown="" style="">
            <button style="margin-right:5px;" type="button" class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
          </button>
            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
                <!-- ngIf: allowDelete -->
                <li>
                    <!-- ngIf: selectedRows.length>0 --><a href="" ng-click="showMe(mData.GridDetail)">Hapus</a>
                    <!-- end ngIf: selectedRows.length>0 -->
                </li>
                <!-- end ngIf: allowDelete -->
                <!-- ngIf: allowApprove -->
                <!-- ngIf: allowReject -->
                <!-- ngIf: allowReview -->
                <!-- ngRepeat: customBulk in customBulkFunc -->
            </ul>
        </div>
    </div>
</div>

<br>
<!--grid ng-dblclick="Add()"-->
<!-- <button ng-disabled="checkRefGINo" class="wbtn btn" ng-click="Add()">Tambah Material</button> -->
<br>

<div class="row">
    <div class="col-md-12">
        <div id="grid2" ui-grid="gridSO" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
    </div>
    <div class="col-md-12">
        <div align="right">
            <button class="btn wbtn" ng-click="goBack()">Kembali</button>
            <button ng-disabled="checkRefGINo" class="btn rbtn" ng-click="simpancetakWO(mData)">Simpan & Cetak BSTC</button>
        </div>
    </div>
    <!-- <pre>{{mData}}</pre> -->
</div>
