<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<script type="text/javascript">
 
</script>

<style type="text/css">
    .ui-grid-viewport {
        overflow-anchor: none;
    }
</style>

<div ng-show="targetAssignment">
    <bsform-grid 
        ng-form="StockViewForm" factory-name="TargetAssignmentFactory" model="mTargetAssign" model-id="EmployeeId" get-data="getData" selected-rows="selectedRows" show-advsearch="on" on-select-rows="onSelectRows" grid-hide-action-column="true" form-name="StockViewForm" form-title="" modal-title="" modal-size="small" icon="fa fa-fw fa-child" hide-new-button="true">
         <bsform-advsearch>
              <div class="row">
                  <div ng-if="Role.RoleName == 'SUPERVISOR SALES'" class="col-md-3">
                      <div class="form-group">
                          <label>Sales</label>
                          <bsselect id="comboBox" name="filterModel" ng-model="filter.EmployeeId" data="getDataSalesman" item-text="EmployeeName" item-value="EmployeeId" on-select="EmployeeId" placeholder="Nama Sales" icon="fa fa-user">
                          </bsselect>
                      </div>
                  </div>  

                  <div ng-if="Role.RoleName == 'KACAB'" class="col-md-3">
                    <div class="form-group">
                        <label>Supervisor</label>
                        <bsselect id="comboBox" name="filterModel" ng-model="filter.EmployeeId" data="getDataSalesman" item-text="EmployeeName" item-value="EmployeeId" on-select="EmployeeId" placeholder="Nama Supervisor" icon="fa fa-user">
                        </bsselect>
                    </div>
                </div>  

                  <div ng-if="Role.RoleName == 'SUPERVISOR SALES'" class="col-md-3">
                    <div class="form-group">
                        <label>Kategori Sales</label>
                        <bsselect id="comboBox" name="filterModel" ng-model="filter.SalesCategoryId" data="categoriSales" item-text="GolonganSalesmanName" item-value="GolonganSalesmanId" on-select="GolonganSalesmanId" placeholder="Kategori Sales" icon="fa fa-search">
                        </bsselect>
                    </div>
                </div>

                  <div class="col-md-3">
                      <div class="form-group" show-errors>
                          <label>Model</label>
                          <bsselect name="ModelKendaraan" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" ng-model="filter.VehicleModelId" on-select="value(selected)" placeholder="Pilih Model" icon="fa fa-car glyph-left" style="min-width: 150px;">
                          </bsselect>
                      </div>
                      <bserrmsg field="VehicleModelName"></bserrmsg>
                  </div>
              </div>  
              
         </bsform-advsearch> 
    </bsform-grid>
</div>

<div ng-show="targetDetail">
    <button ng-click="btnSimpanAssign()" ng-hide="disabledModel" class="rbtn btn" style="float:right; margin:-30px 0 0 1px">Simpan</button>
    <button ng-click="btnBatalAssign()" class="wbtn btn no-animate" style="float:right; margin:-30px 0 0 1px">Kembali</button>
    <fieldset ng-disabled="true">
        <div class="row" style="padding-top:15px">
            <!-- <div class="col-md-3">
                <div class="form-group">
                    <label>Sales ID</label>
                    <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="" placeholder="" ng-model="ViewDetail.EmployeeId" ng-maxlength="50" required>
                    </div>
                </div>
            </div> -->
            <div class="col-md-4">
                <div class="form-group">
                        <label ng-if="Role.RoleName == 'KACAB'">Supervisor</label>
                        <label ng-if="Role.RoleName == 'SUPERVISOR SALES'">Sales</label>
                        <div class="input-icon-right">
                                <i class="fa fa-pencil"></i>
                                <input type="text" class="form-control" name="" placeholder="" ng-model="ViewDetail.EmployeeName" ng-maxlength="50" required>
                        </div>
                </div>
            </div>
            <div ng-if="Role.RoleName == 'SUPERVISOR SALES'" class="col-md-4">
                <div class="form-group">
                     <label>Kategori Sales</label>
                        <div class="input-icon-right">
                                <i class="fa fa-pencil"></i>
                                <input type="text" class="form-control" name="" placeholder="" ng-model="ViewDetail.SalesCategoryName" ng-maxlength="50" required>
                        </div>
                </div>
            </div>
        </div>  
    </fieldset>

    <fieldset ng-disabled="disabledModel">
        <div class="row" style="margin: 0 0 0 8px">
                <!--<div class="switch">
                        <input  ng-disabled="isEdit == 'false'" ng-change="trueAll()" ng-model="mSelectAll" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                        Select All</input>

                </div>-->
                <!-- <bscheckbox ng-model="" label="Select All" ng-change="" true-value="true" false-value="false"></bscheckbox> -->
        </div>
        <div class="row" style="margin: 0 0 0 0">
            <div ui-grid="gridModel" style="height: 480px" class="grid" ui-grid-auto-resize ui-grid-selection></div>
        </div>
    </fieldset>
</div>


            <!-- <div class="row" style="margin: 0 0 0 0">
                    <div style="width: 14% ;float:left">
                            <div class="listData" style="width:100%;" ng-init="style={'color':'#3df747'}">
                                    <div class="list-group" aria-labelledby="dropdownMenu1" style="margin-bottom:0px;">
                                        <div class="list-group-item" style="margin: 0 6px 0 0" >
                                            <div class="row">
                                                <div class="col-sm-12">
                                                        <i class="fa fa-car"></i>&nbspSedan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        
                    </div>
                    <div style="width: 14% ;float:left">
                            <div class="listData" style="width:100%;" ng-init="style={'color':'#3df747'}">
                                    <div class="list-group" aria-labelledby="dropdownMenu1" style="margin-bottom:0px;">
                                        <div class="list-group-item" style="margin: 0 6px 0 0" >
                                            <div class="row">
                                                <div class="col-sm-12">
                                                        <i class="fa fa-car"></i>&nbspHatchBack
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        
                    </div>
                    <div style="width: 14% ;float:left">
                            <div class="listData" style="width:100%;" ng-init="style={'color':'#3df747'}">
                                    <div class="list-group" aria-labelledby="dropdownMenu1" style="margin-bottom:0px;">
                                        <div class="list-group-item" style="margin: 0 6px 0 0" >
                                            <div class="row">
                                                <div class="col-sm-12">
                                                        <i class="fa fa-car"></i>&nbspMPV
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        
                    </div>
                    <div style="width: 14% ;float:left">
                            <div class="listData" style="width:100%;" ng-init="style={'color':'#3df747'}">
                                    <div class="list-group" aria-labelledby="dropdownMenu1" style="margin-bottom:0px;">
                                        <div class="list-group-item" style="margin: 0 6px 0 0" >
                                            <div class="row">
                                                <div class="col-sm-12">
                                                        <i class="fa fa-car"></i>&nbspSUV
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            
                    </div>
                    <div style="width: 14% ;float:left">
                            <div class="listData" style="width:100%;" ng-init="style={'color':'#3df747'}">
                                    <div class="list-group" aria-labelledby="dropdownMenu1" style="margin-bottom:0px;">
                                        <div class="list-group-item" style="margin: 0 6px 0 0" >
                                            <div class="row">
                                                <div class="col-sm-12">
                                                        <i class="fa fa-car"></i>&nbspCommercial
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            
                    </div>
                    <div style="width: 14% ;float:left">
                            <div class="listData" style="width:100%;" ng-init="style={'color':'#3df747'}">
                                    <div class="list-group" aria-labelledby="dropdownMenu1" style="margin-bottom:0px;">
                                        <div class="list-group-item" style="margin: 0 6px 0 0" >
                                            <div class="row">
                                                <div class="col-sm-12">
                                                        <i class="fa fa-car"></i>&nbspSport
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        
                    </div>
                    <div style="width: 14% ;float:left">
                            <div class="listData" style="width:100%;" ng-init="style={'color':'#3df747'}">
                                    <div class="list-group" aria-labelledby="dropdownMenu1" style="margin-bottom:0px;">
                                        <div class="list-group-item" >
                                            <div class="row">
                                                <div class="col-sm-12">
                                                        <i class="fa fa-car"></i>&nbspHybrid
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        
                    </div>
            </div>
            <div class="row" style="margin: 0 0 0 0">
                <div style="width: 14%; float: left">
                        <div class="listData" style="width:100%;" ng-init="style={'color':'#3df747'}">
                                
                                    <div class="" style="margin: 0 0px 0 0"  ng-repeat="Model in getDataDetail">
                                      
                                                <bscheckbox ng-model="Model.pilih"
                                                    label = "{{Model.VehicleModelName}}"
                                                    true-value = "true"
                                                    false-value = "false">
                                           
                                    </div>
                            
                        </div>
                </div>
                <div style="width: 14%; float: left">
                        <div class="listData" style="width:100%;" ng-init="style={'color':'#3df747'}">
                                
                                    <div class="" style="margin: 0 0px 0 0"  ng-repeat="Model in getDataDetail">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <bscheckbox ng-model="Model.pilih"
                                                    label = "{{Model.VehicleModelName}}"
                                                    true-value = "true"
                                                    false-value = "false">
                                            </div>
                                        </div>
                                    </div>
                                
                        </div>
                </div>
                <div style="width: 14%; float: left">
                        <div class="listData" style="width:100%;" ng-init="style={'color':'#3df747'}">
                                
                                    <div class="" style="margin: 0 0px 0 0"  ng-repeat="Model in getDataDetail">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <bscheckbox ng-model="Model.pilih"
                                                    label = "{{Model.VehicleModelName}}"
                                                    true-value = "true"
                                                    false-value = "false">
                                            </div>
                                        </div>
                                    </div>
                               
                        </div>
                </div>
                <div style="width: 14%; float: left">
                        <div class="listData" style="width:100%;" ng-init="style={'color':'#3df747'}">
                                
                                    <div class="" style="margin: 0 0px 0 0"  ng-repeat="Model in getDataDetail">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <bscheckbox ng-model="Model.pilih"
                                                    label = "{{Model.VehicleModelName}}"
                                                    true-value = "true"
                                                    false-value = "false">
                                            </div>
                                        </div>
                                    </div>
                               
                        </div>
                </div>
                <div style="width: 14%; float: left">
                        <div class="listData" style="width:100%;" ng-init="style={'color':'#3df747'}">
                                
                                    <div class="" style="margin: 0 0px 0 0"  ng-repeat="Model in getDataDetail">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <bscheckbox ng-model="Model.pilih"
                                                    label = "{{Model.VehicleModelName}}"
                                                    true-value = "true"
                                                    false-value = "false">
                                            </div>
                                        </div>
                                    </div>
                               
                        </div>
                </div>
                <div style="width: 14%; float: left">
                        <div class="listData" style="width:100%;" ng-init="style={'color':'#3df747'}">
                                
                                    <div class="" style="margin: 0 0px 0 0"  ng-repeat="Model in getDataDetail">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <bscheckbox ng-model="Model.pilih"
                                                    label = "{{Model.VehicleModelName}}"
                                                    true-value = "true"
                                                    false-value = "false">
                                            </div>
                                        </div>
                                    </div>
                                
                        </div>
                </div>
                <div style="width: 14%; float: left">
                        <div class="listData" style="width:100%;" ng-init="style={'color':'#3df747'}">
                                
                                    <div class="" style="margin: 0 6px 0 0"  ng-repeat="Model in getDataDetail">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <bscheckbox ng-model="Model.pilih"
                                                    label = "{{Model.VehicleModelName}}"
                                                    true-value = "true"
                                                    false-value = "false">
                                            </div>
                                        </div>
                                    </div>
                                
                        </div>
                </div>

            </div> -->