<link rel="stylesheet" href="css/uistyle.css">
<link rel="stylesheet" href="css/uitimelinestyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="styleSheet" href="release/ui-grid.min.css" />
<script src="/release/ui-grid.min.js"></script>

<style type="text/css">
    .nopadding {
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 1px;
        margin: 0 !important;
    }

    .table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .td,
    .th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    .tr:nth-child(even) {
        background-color: #dddddd;
    }

    .gridStyle {
        border: 1px solid rgb(212, 212, 212);
        width: 400px;
        height: 300px
    }
    .grid .ui-grid-header-cell {
      /*height: 60px;*/
      text-align: center;
    }
</style>

<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<div ng-show="MaintainSwappingInOut">
    <!-- <button ng-click="btnTambahHeader()" class="rbtn btn ng-binding ladda-button "
        style="float:right; margin:-30px 0 0 10px; width:11% "><span><i class="fa fa-plus"></i> &nbsp; Tambah</span></button> -->
        
            <button ng-click="btnSwappingOut()" class="rbtn btn ng-binding ladda-button "
                style="float:right; margin: -30px 0 0 10px; width:11% " ng-disabled="disabledSwappingOut"><span>Swapping Out</span></button>
           
            <button ng-click="btnSwappingIn()" class="rbtn btn ng-binding ladda-button "
                style="float:right; margin: -30px 0 0 10px; width:11% " ng-disabled="disabledSwappingIn"><span>Swapping In</span></button>

        
        <bsform-grid ng-form="MaintainSwappingInOutForm " factory-name="maintainSwappingInFactory " model="mMaintainSwappingInOut "
        model-id="Id " get-data="getData" selected-rows="selectedRows " on-select-rows="onSelectRows " form-name="MaintainSwappingInOutForm "
        show-advsearch="on" grid-hide-action-column="true " hide-new-button="true " form-title=" " modal-title="Maintain Swapping In"
        modal-size="small " icon="fa fa-fw fa-child ">
        <bsform-advsearch>         
            <div class="row">
                <div class="col-md-4">
                    <label>Tanggal Awal</label>
                    <bsdatepicker ng-change="MaintainSwappingInOutFilterTanggal()" ng-model="filter.TanggalAwal"
                        name="TanggalAwal" date-options="dateOptionsMaintainSwappingIn">
                    </bsdatepicker>
                </div>
                <div class="col-md-4">
                    <label>Tanggal Akhir</label>
                    <bsdatepicker ng-change="MaintainSwappingInOutFilterTanggal()" ng-model="filter.TanggalAkhir"
                        name="TanggalAkhir" date-options="dateOptionsMaintainSwappingIn">
                    </bsdatepicker>
                </div>
            </div>
        </bsform-advsearch>
    </bsform-grid>

    <!-- <bsui-modal show="show_modal.show " title="Alasan Batal SO " data="modal_model " on-save="onListSave " on-cancel="onListCancel " mode="modalMode ">
        <div ng-form name="contactForm ">
            <p style="font-size:initial; margin:0px; ">Silahkan mengisi No Rangka dahulu baru membuat Quotation</p>
        </div>
    </bsui-modal> -->
</div>

<div ng-show="SwappingAdd">
    <!-- <button ng-click="btnSimpanTambah()" class="rbtn btn ng-binding ladda-button "
        style="float:right; margin:-30px 0 0 10px; width:11% "><span><i class="fa fa-plus"></i> &nbsp; Tambah</span></button>
    <button ng-click="btnkembaliSwappingAdd() " class="wbtn btn ng-binding ladda-button " style="float:right; margin:-30px 0 0 10px; width:11% ">Kembali</button> -->

    <fieldset>
        <div class="row" style="padding-top:12px">
            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Tanggal Permintaan</bsreqlabel>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">       
                    <bsdatepicker name="tanggalpermintaan" date-options="dateOptions" ng-model="filter.tanggalpermintaan"
                    icon="fa fa-calendar" ng-disabled="isDate">
                    </bsdatepicker>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:12px">
            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Sama PT/Beda PT</bsreqlabel>
                </div>
            </div>
            <div class="col-md-4">
                    <bsselect name="SwappingIn_SwappTypeName" ng-model="SwappingIn_SwappType" ng-change="SwappingIn_SwappType_Change()"
                    data="SwappingIn_OptionsSamaBeda" item-text="name" item-value="id" placeholder="Pilih Sama / Beda PT" 
                    icon="fa fa-search" ng-disabled="disabledSamaBeda" required>
                    </bsselect>
            </div>
        </div>
        <div class="row" style="padding-top:12px" ng-show="Show_CabangPemilik">
            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Dealer/Cabang Pemilik</bsreqlabel>
                </div>
            </div>
            <div class="col-md-4">
                    <bsselect name="SwappingIn_Branch" ng-model="SwappingIn_Branch" 
                    data="SwappingIn_OptionsBranch" item-text="DealerName" item-value="DealerId" placeholder="Pilih Dealer / Cabang Pemilik" 
                    icon="fa fa-search" required>
                    </bsselect>
            </div>
        </div>
        <div class="row" style="padding-top:12px" ng-show="Show_CabangTujuan">
            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel ng-show="Show_CabangTujuan">Dealer/Cabang Tujuan</bsreqlabel>
                </div>
            </div>
            <div class="col-md-4">
                    <bsselect name="SwappingIn_Branch" ng-model="SwappingIn_Branch" 
                    data="SwappingIn_OptionsBranch" item-text="DealerName" item-value="DealerId" placeholder="Pilih Dealer / Cabang Tujuan" 
                    icon="fa fa-search" required>
                    </bsselect>
            </div>
        </div>
        <div class="row" style="padding-top:12px">
            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Nomor Rangka</bsreqlabel>            
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="FrameNo" placeholder="Masukkan Nomor Rangka" ng-model="SwappingIn_FrameNo"
                    maxlength="20" ng-change="onlyNumber(1)" required>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:12px" ng-show="Show_Location">
            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Lokasi Unit</bsreqlabel>
                </div>
            </div>
            <div class="col-md-4">
                    <bsselect name="SwappingIn_Location" ng-model="SwappingIn_Location" ng-change="locationUnit()"
                    data="SwappingIn_OptionsLocation" item-text="name" item-value="name" placeholder="Pilih Lokasi Unit" 
                    icon="fa fa-search" required>
                    </bsselect>
            </div>
        </div>
        <div class="row" style="padding-top:12px">
            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Harga Jual</bsreqlabel>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-1" style="padding-left: 0px;"> Rp </div> 
                <div class="col-md-3" style="float:right;width: 90%;padding-right: 0px;"> 
                    <div class="input-icon-right"> 
                        <i class="fa fa-pencil"></i> 
                        <input type="tel" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-maxlength ng-touched" name="StandarPrice" 
                        input-currencyprefix number-only
                        placeholder="Masukkan Harga Jual" ng-model="SwappingIn_StandarPrice" maxlength="15" ng-change="onlyNumber(2)" required=""> 
                    </div> 
                </div> 
            </div>
        </div>
    </fieldset>

            <!-- <button ng-click="btnkembaliSwappingAdd() " class="wbtn btn ng-binding ladda-button " style="float:right; margin:-30px 0 0 10px; width:11% ">Kembali</button> -->
      
    <div class="row" style="margin-top:5px; margin-bottom:5px;">
            <button ng-click="btnTambahTemp()" class="rbtn btn ng-binding ladda-button " style="float:right; margin:10px 15px; width:11% "
            ng-disabled="(SwappingIn_FrameNo==null||SwappingIn_FrameNo==undefined||SwappingIn_FrameNo=='')||(SwappingIn_StandarPrice==null||SwappingIn_StandarPrice==undefined||SwappingIn_StandarPrice=='')||
            (SwappingIn_SwappType==null||SwappingIn_SwappType==undefined||SwappingIn_SwappType=='')||(SwappingIn_Branch==null||SwappingIn_Branch==undefined||SwappingIn_Branch=='')|| disabledTambahTemp == true">Tambah</button>   
    </div>

    <div ui-grid="gridSwappingAdd " ui-grid-selection ui-grid-pinning ui-grid-pagination ui-grid-auto-resize class="grid "
        ng-cloak>
    </div>

    <div class="row" style="margin-top:5px; margin-bottom:5px;">
        <button ng-click="btnSimpanTambah()" ng-disabled="gridSwappingAdd.data.length <= 0" class="rbtn btn ng-binding ladda-button " style="float:right; margin:10px 15px; width:11% ">Simpan</button>   
        <button ng-click="btnKembaliTambah()" class="rbtn btn ng-binding ladda-button " style="float:right; margin:10px 15px; width:11% ">Kembali</button>   
    </div>
</div>

<div ng-show="SwappingView">
    <button ng-click="btnKembaliDetail() " class="wbtn btn ng-binding ladda-button " style="float:right; margin:-30px 0 0 10px; width:11% ">Kembali</button>
    
    <fieldset>   
        <div class="row" style="padding-top:12px">
            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Nomor Permintaan</bsreqlabel>            
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Nomorpermintaan" placeholder="Masukkan Nomor Permintaan" ng-model="SwappingIn_Nomorpermintaan"
                    maxlength="20" required disabled>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:12px">
            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Tanggal Permintaan</bsreqlabel>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">       
                    <bsdatepicker name="Tanggalpermintaan" date-options="dateOptions" ng-model="filter.Tanggalpermintaan"
                    icon="fa fa-calendar" ng-disabled="isDate">
                    </bsdatepicker>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:12px">
            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Sama PT/Beda PT</bsreqlabel>
                </div>
            </div>
            <div class="col-md-4">
                <bsselect type="text" name="Tipepermintaanname" ng-model="filter.Tipepermintaanid" 
                data="SwappingIn_OptionsSamaBeda" item-text="name" item-value="id"
                placeholder="Pilih Sama / Beda PT"  ng-disabled="disabledSamaBeda">
                </bsselect>
            </div>
        </div>
    </fieldset>

    <div ui-grid="gridSwappingView" ui-grid-selection ui-grid-pinning ui-grid-pagination ui-grid-auto-resize class="grid "
        ng-cloak>
    </div>

    <div class="row" style="margin-top:5px; margin-bottom:5px;" ng-show="Show_Btn_SetujuTolak">
        <button ng-click="btnSetuju()" class="rbtn btn ng-binding ladda-button " style="float:right; margin:10px 15px; width:11% " ng-disabled="disabledSetuju">Setuju</button>   
        <button ng-click="btnTolak()" class="rbtn btn ng-binding ladda-button " style="float:right; margin:10px 15px; width:11%" ng-disabled="disabledTolak">Tolak</button>   
    </div>
</div>

<div class="modal" id="SwappingInModalBatal" role="dialog">
	<div class="modalDefault-dialog" style="margin-top: 200px;">
		<div class="modal-header">
			<h4 class="modal-title">Alasan Batal Swapping</h4>
            <textarea style="margin: 0 0 10px 0" class="form-control" ng-model="SwappingIn_AlasanBatal"
                            rows="4" id="comment "></textarea>
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="AlasanBatalKembali_Button_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Kembali</button>
				<button ng-click="AlasanBatalSimpan_Button_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Simpan</button>
			</p>
		</div>
	</div>
</div>

<div class="modal" id="SwappingModalNotif" role="dialog">
	<div class="modalDefault-dialog" style="margin-top: 200px;">
		<div class="modal-body">
            <!-- <h1 style="text-align: center; color: #d53337;"><i class="fa fa fa-exclamation-circle" style="font-size:3em;" aria-hidden="true"></i></h1> -->
            <!-- <i class="fa fa-exclamation-circle"></i> -->
            <div class="swal2-icon swal2-warning" style="display: block;">!</div>
			<h2 style="text-align: center">
				{{notifnoka}}     
            </h2>		
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="NotifOK_Button_Clicked()" ng-show="OKSukses" class="rbtn btn ng-binding ladda-button" type="button">OK</button>
                <button ng-click="NotifBatal_Button_Clicked()" ng-show="OKBatal" class="rbtn btn ng-binding ladda-button" type="button">OK</button>
				<button ng-click="NotifBatal_Button_Clicked()" ng-show="BatalKembali" class="rbtn btn ng-binding ladda-button" type="button">Batal</button>
			</p>
		</div>
	</div>
</div>

<div class="modal" id="SwappingModalNotifOut" role="dialog">
	<div class="modalDefault-dialog" style="margin-top: 200px;">
		<div class="modal-body">
            <!-- <h1 style="text-align: center; color: #d53337;"><i class="fa fa fa-exclamation-circle" style="font-size:3em;" aria-hidden="true"></i></h1> -->
            <!-- <i class="fa fa-exclamation-circle"></i> -->
            <div class="swal2-icon swal2-warning" style="display: block;">!</div>
			<h2 style="text-align: center">
				{{notifoutnoka}}    
            </h2>	
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="NotifOKOut_Button_Clicked()" ng-show="OKOutSukses" class="rbtn btn ng-binding ladda-button" type="button">OK</button>
                <button ng-click="NotifBatalOut_Button_Clicked()" ng-show="OKOutBatal" class="rbtn btn ng-binding ladda-button" type="button">OK</button>
				<button ng-click="NotifBatalOut_Button_Clicked()" ng-show="BatalOutKembali" class="rbtn btn ng-binding ladda-button" type="button">Batal</button>
			</p>
		</div>
	</div>
</div>

<div class="modal" id="SwappingModalSimpan" role="dialog">
	<div class="modalDefault-dialog" style="margin-top: 200px;">
		<div class="modal-body">
            <!-- <h1 style="text-align: center; color: #d53337;"><i class="fa fa fa-exclamation-circle" style="font-size:3em;" aria-hidden="true"></i></h1>
            <i class="fa fa-exclamation-circle"></i> -->
            <div class="swal2-icon swal2-warning" style="display: block;">!</div>
			<h2 style="text-align: center">
				Anda akan mengajukan permintaan Swapping In           
            </h2>		
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="NotifOKSimpan_Button_Clicked()" ng-disabled="disabledOKSimpan" class="rbtn btn ng-binding ladda-button" type="button">OK</button>
				<button ng-click="NotifBatalSimpan_Button_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Batal</button>
			</p>
		</div>
	</div>
</div>

<div class="modal" id="SwappingModalSimpanOut" role="dialog">
	<div class="modalDefault-dialog" style="margin-top: 200px;">
		<div class="modal-body">
            <!-- <h1 style="text-align: center; color: #d53337;"><i class="fa fa fa-exclamation-circle" style="font-size:3em;" aria-hidden="true"></i></h1>
            <i class="fa fa-exclamation-circle"></i> -->
            <div class="swal2-icon swal2-warning" style="display: block;">!</div>
			<h2 style="text-align: center">
				Anda akan mengajukan permintaan Swapping Out          
            </h2>		
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="NotifOKSimpanOut_Button_Clicked()" ng-disabled="disabledOKSimpanOut" class="rbtn btn ng-binding ladda-button" type="button">OK</button>
				<button ng-click="NotifBatalSimpan_Button_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Batal</button>
			</p>
		</div>
	</div>
</div>