<script type="text/javascript">
</script>
<style type="text/css">

</style>


<bsform-grid 
    ng-form="UnitYearForm" 
    factory-name="UnitYearFactory" 
    model="mUnitYear" 
    model-id="YearId"
    get-data="getData" 
    loading="loading"
    selected-rows="selectedRows" 
    on-select-rows="onSelectRows" 
    form-name="UnitYearForm" 
    form-title="Tahun"
    modal-title="Unit Year"
    modal-size="small" 
    icon="fa fa-fw fa-child">


    <div class="row" style="margin: 0 0 0 0">
        <div class="col-md-4">

            <div class="form-group" show-errors>
                <bsreqlabel>Tahun</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <input type="number" class="form-control" name="yearName" placeholder="Tahun" ng-model="mUnitYear.YearName" ng-maxlength="50" required>
                </div>
                <bserrmsg field="yearName"></bserrmsg>
            </div>

        </div>
    </div>
</bsform-grid>