<script type="text/javascript">
    function SetReceiveBPKBDateMinDate(TheDate) {
        var Da_ReceiveBPKBDateMinDate = TheDate;
        var dd = Da_ReceiveBPKBDateMinDate.getDate();
        var mm = Da_ReceiveBPKBDateMinDate.getMonth() + 1; //January is 0!
        var yyyy = Da_ReceiveBPKBDateMinDate.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        Da_ReceiveBPKBDateMinDate = yyyy + '-' + mm + '-' + dd;
        document.getElementById("Max_Da_ReceiveBPKBDateMinDate").setAttribute("min", Da_ReceiveBPKBDateMinDate);

    }

    function SetReceiveSTNKDateMinDate(TheDate) {
        var Da_ReceiveSTNKDateMaxDate = TheDate;
        var dd = Da_ReceiveSTNKDateMaxDate.getDate();
        var mm = Da_ReceiveSTNKDateMaxDate.getMonth() + 1; //January is 0!
        var yyyy = Da_ReceiveSTNKDateMaxDate.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        Da_ReceiveSTNKDateMaxDate = yyyy + '-' + mm + '-' + dd;
        document.getElementById("Min_Da_ReceiveSTNKDateMaxDate").setAttribute("min", Da_ReceiveSTNKDateMaxDate);

    }

</script>

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="daftarPO" class="row" style="margin: 0 0 0 0; min-height: 100vh">
    <div class="row" style="margin:-25px 0 0 0">
            <div class="row"> <div class="col-md-3" style="float:right"> <label>Tanggal Penerimaan STNK : </label> </div> </div>
        <div style="float: right">
            <div style="float: right;margin-left: 10px;margin-top: 3px;">
                <span>
                    <i ng-click="tanggal('plus')" style="color:red" class="fa fa-2x fa-caret-square-o-right" aria-hidden="true"></i>
                </span>
            </div>
            <div style="width: 20%; float:right">
                <bsdatepicker style="float:right" ng-model="filter.DateTimeJadwalPenerimaan" ng-change="getAll(filter.DateTimeJadwalPenerimaan)"
                    date-options="dateOption" name="tanggalfrom" icon="fa fa-calendar">
                </bsdatepicker>
            </div>
            <div style="float: right;margin-right: 10px;margin-top: 3px;">
                <span>
                    <i ng-click="tanggal('min')" style="color: red" class="fa fa-2x fa-caret-square-o-left" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="border:1px solid lightgrey; padding: 10px 10px 10px 10px; margin-top: 15px; margin-bottom: 20px">
        <p style="width:150px; margin-top:-20px; margin-left:14px; background:white;">
            <b>Jadwal Penerimaan STNK</b>
        </p>
        <fieldset class="row" style="margin: 0 0 0 0; padding: 15px 15px 0px 15px; border:1px solid #e2e2e2; background-color:rgba(213,51,55,0.02)">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Filter</label>
                        <input type="text" class="form-control" name="name" placeholder="Filter" ng-model="filter.Search">
                    </div>
                </div>

                <!-- <div class="col-md-3">
                    <div class="form-group">
                        <bsselect name="" data="" placeholder="" item-text="" item-value="" ng-model="" icon="fa">
                        </bsselect>
                    </div>
                </div> -->

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Kategori</label>
                        <select class="form-control" name="SelectFilter" ng-model="data.selectOption">
                            <option ng-repeat="option in data.optionData" value="{{option.id}}">{{option.name}}</option>
                            <!-- <option value="filter.POBiroJasaUnitNo">No. PO</option>
                            <option value="filter.ServiceBureauName">Vendor</option>
                            <option value="filter.OutletName">Cabang</option>
                            <option value="filter.FrameNo">No. Rangka</option>
                            <option value="filter.VehicleModelName">Model</option> -->
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <button ng-click="FilterGrid()" class="rbtn btn no-animate ng-binding ladda-button" style="float:left;margin: 23px 0 0 0">Cari</button>
                </div>
            </div>
        </fieldset>

        <div ui-grid="gridStnk" ui-grid-grouping class="grid" ui-grid-pagination ui-grid-auto-resize></div>
    </div>
    <!-- <div class="col-md-12" style="border:1px solid lightgrey; padding: 10px 10px 10px 10px; margin-top: 10px">
        <p style="width:150px; margin-top:-20px; margin-left:14px; background:white;"><b>Jadwal Penerimaan BPKB</b></p>

        <div ui-grid="gridBpkb" ui-grid-grouping class="grid" ui-grid-pagination ui-grid-auto-resize></div>
    </div> -->

    <!-- /////////////////////////////////////////////////////////////////////////// -->
    <div class="ui modal terimaSTNKMonitoring" role="dialog" style="background-color: transparent !important; width: 600px">
        <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
            <h4 class="modal-title">Terima STNK dari Biro Jasa</h4>
        </div>

        <div class="modal-body" style="background-color: white;  max-height: 60%">
            <div class="row" style="margin: 0 0 0 0">
                <div filedset="false">
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="form-group">
                            <label>No Rangka</label>
                            <div class="input-icon-right ">
                                <input ng-disabled="true" type="text" class="form-control" name="fieldNoRangka" placeholder="" ng-model="rowsDocument.FrameNo"
                                    ng-maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="form-group">
                            <label>Model Kendaraan</label>
                            <div class="input-icon-right ">
                                <input ng-disabled="true" type="text" class="form-control" name="fieldModel" placeholder="" ng-model="rowsDocument.Description"
                                    ng-maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="form-group">
                            <label>Nama STNK</label>
                            <div class="input-icon-right ">
                                <input ng-disabled="true" type="text" class="form-control" name="" placeholder="" ng-model="rowsDocument.STNKName" ng-maxlength="50"
                                    required>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="infoPembeli" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px">
                    <p style="width:120px; margin-top:-17px; padding-left: 3px; margin-left:14px; background:white;">
                        <b>Item yang Diterima</b>
                    </p>
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="col-xs-1" style="margin-top: 8px">
                            <!--<span ng-click="toogle = !toogle"><i  ng-class="{'fa fa-square-o' : asdf == false || !toogle, 'fa fa-check-square' : asdf == true || toogle}"  style="font-size: 15px" aria-hidden="true"></i>-->
                            <!--<input type="checkbox" readonly ng-model="NoSTNKCekChanged">-->
                            <span>
                                <i ng-class="{'fa fa-square-o' : NoSTNKCekChanged == false || !toogle, 'fa fa-check-square' : NoSTNKCekChanged == true || toogle}"
                                    style="font-size: 15px" aria-hidden="true"></i>
                        </div>

                        <div class="col-xs-4" style="margin-top: 8px; padding-left: 0px !important">
                            <bsreqlabel>No. STNK</bsreqlabel>
                        </div>

                        <div class="col-xs-7">
                            <div style="margin-bottom: 5px">
                                <div class="input-icon-right ">
                                    <input ng-change="CentangSTNK()" type="text" class="form-control" name="fieldModel" placeholder="" ng-model="rowsDocument.STNKNo"
                                        ng-maxlength="50" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin: 0 0 0 0">
                        <div class="col-xs-1" style="margin-top: 8px">
                            <!--<i class="fa fa-square-o" style="font-size: 15px" aria-hidden="true"></i>-->
                            <!--<input type="checkbox" readonly ng-model="PoliceNumberCekChanged">-->
                            <span>
                                <i ng-class="{'fa fa-square-o' : PoliceNumberCekChanged == false || !toogle, 'fa fa-check-square' : PoliceNumberCekChanged == true || toogle}"
                                    style="font-size: 15px" aria-hidden="true"></i>
                        </div>

                        <div class="col-xs-4" style="margin-top: 8px; padding-left: 0px !important">
                            <bsreqlabel>Plat No Polisi</bsreqlabel>
                        </div>

                        <div class="col-xs-7">
                            <div style="margin-bottom: 5px">
                                <div class="input-icon-right ">
                                    <input ng-change="CentangPoliceNumber()" type="text" class="form-control" name="fieldModel" placeholder="" ng-model="rowsDocument.PoliceNumber"
                                        ng-maxlength="50" required>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" style="margin: 0 0 0 0">
                        <div class="col-xs-1" style="margin-top: 8px">
                            <!--<i class="fa fa-square-o" style="font-size: 15px" aria-hidden="true"></i>-->
                            <!--<input type="checkbox" readonly ng-model="NoticePajakCekChanged">-->
                            <span>
                                <i ng-class="{'fa fa-square-o' : NoticePajakCekChanged == false || !toogle, 'fa fa-check-square' : NoticePajakCekChanged == true || toogle}"
                                    style="font-size: 15px" aria-hidden="true"></i>
                        </div>

                        <div class="col-xs-4" style="margin-top: 8px ;padding-left: 0px !important">
                            <bsreqlabel>Notice Pajak</bsreqlabel>
                        </div>
                    </div>

                    <div id="infoPembeli" class="col-md-12" style="width:96%;border:1px solid lightgrey;padding: 15px 0 0 0;margin: 15px 10px 10px 10px;">
                        <p style="width:110px; margin-top:-21px; padding-left: 3px; margin-left:14px; background:white">
                            <b>Item Notice Pajak</b>
                        </p>
                        <div class="row" style="margin: 0 0 0 0">

                            <div class="col-xs-5" style="margin-top: 8px">
                                <bsreqlabel>BBNKB
                                </bsreqlabel>
                            </div>

                            <div class="col-xs-7">
                                <div style="margin-bottom: 5px">
                                    <div class="input-icon-right ">
                                        <input ng-change="CentangNoticePajak()" type="text" input-currency number-only class="form-control" name="fieldModel" placeholder=""
                                            ng-model="rowsDocument.BBNKB" ng-maxlength="50" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin: 0 0 0 0">
                            <div class="col-xs-5" style="margin-top: 8px">
                                <bsreqlabel>PKB
                                </bsreqlabel>
                            </div>

                            <div class="col-xs-7">
                                <div style="margin-bottom: 5px">
                                    <div class="input-icon-right ">
                                        <input ng-change="CentangNoticePajak()" type="text" input-currency number-only class="form-control" name="fieldModel" placeholder=""
                                            ng-model="rowsDocument.PKB" ng-maxlength="50" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin: 0 0 0 0">
                            <div class="col-xs-5" style="margin-top: 8px">
                                <bsreqlabel>SWDKLLJ
                                </bsreqlabel>
                            </div>
                            <div class="col-xs-7">
                                <div style="margin-bottom: 5px">
                                    <div class="input-icon-right ">
                                        <input ng-change="CentangNoticePajak()" type="text" input-currency number-only class="form-control" name="fieldModel" placeholder=""
                                            ng-model="rowsDocument.SWDKLLJ" ng-maxlength="50" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin: 0 0 0 0">
                            <div class="col-xs-5" style="margin-top: 8px">
                                <bsreqlabel>Biaya Adm.STNK
                                </bsreqlabel>
                            </div>
                            <div class="col-xs-7">
                                <div style="margin-bottom: 5px">
                                    <div class="input-icon-right ">
                                        <input ng-change="CentangNoticePajak()" type="text" input-currency number-only class="form-control" name="fieldModel" placeholder=""
                                            ng-model="rowsDocument.BiayaAdmSTNK" ng-maxlength="50" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin: 0 0 0 0">
                            <div class="col-xs-5" style="margin-top: 8px">
                                <bsreqlabel>Biaya Adm.TNKB
                                </bsreqlabel>
                            </div>
                            <div class="col-xs-7">
                                <div style="margin-bottom: 5px">
                                    <div class="input-icon-right ">
                                        <input ng-change="CentangNoticePajak()" type="text" input-currency number-only class="form-control" name="fieldModel" placeholder=""
                                            ng-model="rowsDocument.BiayaAdmTNKB" ng-maxlength="50" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row" style="margin: 0 0 0 0">
                    <div class="col-md-6" style="padding: 15px 13px 0 0">
                        <label>Tanggal Aju STNK ke Biro Jasa :</label>
                        <bsdatepicker ng-disabled="true" ng-change="changeDate(rowsDocument.POBiroJasaUnitDate)" type="date" date-options="dateOption"
                            ng-model="rowsDocument.POBiroJasaUnitDate"></bsdatepicker>
                    </div>
                    <div class="col-md-6" style="padding: 15px 0 0 13px">
                        <bsreqlabel>Tanggal Terima STNK dari Biro Jasa :</bsreqlabel>
                        <bsdatepicker type="date" date-options="dateOptionMax" ng-model="rowsDocument.ReceiveSTNKDate"></bsdatepicker>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <p align="center">

                <button ng-disabled="(rowsDocument.STNKNo == null || 
                                     rowsDocument.PoliceNumber == null ||
                                     rowsDocument.BBNKB == null ||
                                     rowsDocument.PKB == null ||
                                     rowsDocument.SWDKLLJ == null ||
                                     rowsDocument.BiayaAdmSTNK == null ||
                                     rowsDocument.BiayaAdmTNKB == null) || 
                                     (rowsDocument.STNKNo == '' || 
                                     rowsDocument.PoliceNumber == '' ||
                                     rowsDocument.BBNKB == '' ||
                                     rowsDocument.PKB == '' ||
                                     rowsDocument.SWDKLLJ == '' ||
                                     rowsDocument.BiayaAdmSTNK == '' ||
                                     rowsDocument.BiayaAdmTNKB == '') || (rowsDocument.ReceiveSTNKDate == null || rowsDocument.ReceiveSTNKDate == '')"
                    type="button" class="rbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()" ng-click="simpanTerimaSTNK()"
                    ladda="savingState" data-style="expand-left" tabindex="0">
                    <span class="ladda-label">
                        <i class="fa fa-fw fa-check"></i>&nbsp;Simpan</span>
                    <span class="ladda-spinner"></span>
                </button>
                <button type="button" class="wbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()" ng-click=" backFromterimaSTNK()"
                    ladda="savingState" data-style="expand-left" tabindex="0">
                    <span class="ladda-label">
                        <i class="fa fa-fw fa-times"></i>&nbsp;Kembali</span>
                    <span class="ladda-spinner"></span>
                </button>
            </p>
        </div>

    </div>

    <div class="ui small modal alasanterlambatstnkMonitoring" modal="alasanterlambat" role="dialog">
        <!-- <div> -->
        <div class="modal-header" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <!-- <button type="button" class="close" data-dismiss="modal"></button> -->
            <h4 class="modal-title">
                <i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;Alasan Keterlambatan Penerimaan STNK dari Biro Jasa</h4>
        </div>
        <div class="modal-body">
            <div class="row" style="margin: 0 0 0 0">
                <div id="infoPembeli" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 15px 0 15px; margin-top: 10px 10px 0 10px">
                    <p style="width:50px; padding:0 5px 0 5px; margin-top:-18px; margin-bottom:15px; background:white">
                        <b>Alasan</b>
                    </p>
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="form-group">
                            <div class="col-md-6" style="padding-left: 0 !important">
                                <label>No Rangka</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="FrameNo" placeholder="" ng-model="SelectedDataTerlambat_FrameNo"
                                        ng-maxlength="50" required>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 0 !important">
                                <label>PO Number</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="POBiroJasaUnitNo" placeholder="" ng-model="SelectedDataTerlambat_POBiroJasaUnitNo"
                                        ng-maxlength="50" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6" style="padding-left: 0 !important; padding-top: 10px !important">
                                <label>Model</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="FrameNo" placeholder="" ng-model="SelectedDataTerlambat_Model"
                                        ng-maxlength="50" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 10px 0 0 0;">
                        <!-- <bsreqlabel>Alasan Keterlambatan</bsreqlabel> -->
                        <bsreqlabel>Alasan Keterlambatan</bsreqlabel>
                        <div class="form-group">
                            <textarea title="Please fill out this field." maxlength="200" ng-model="SelectedDataTerlambat_AlasanKeterlambatanSTNK" rows="6" class="form-control" cols="83">
                                                                    </textarea>
                        </div>
                    </div>
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="col-md-3" style="margin-top: 8px; padding:0 5px 0 0">
                            <bsreqlabel>Lama Keterlambatan : </bsreqlabel>
                        </div>
                        <div class="col-md-2" style="padding: 0 0 0 0">
                            <div class="form-group">
                                <div>
                                    <input required number-only ng-change="input(SelectedDataTerlambat_LamaKeterlambatanSTNK)" class="form-control" size="2" name="LamaKeterlambatanSTNK" placeholder="" ng-model="SelectedDataTerlambat_LamaKeterlambatanSTNK">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="margin-top: 8px">
                            Hari
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <p align="center">
                <button type="button" class="rbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()" ng-click="simpanAlasanRevisiSTNK()"
                    ng-disabled="(SelectedDataTerlambat_AlasanKeterlambatanSTNK == undefined || SelectedDataTerlambat_AlasanKeterlambatanSTNK == null || SelectedDataTerlambat_AlasanKeterlambatanSTNK == '') ||
                                    (SelectedDataTerlambat_LamaKeterlambatanSTNK == undefined || SelectedDataTerlambat_LamaKeterlambatanSTNK == null || SelectedDataTerlambat_LamaKeterlambatanSTNK == '')"
                    ladda="savingState" data-style="expand-left" tabindex="0">
                    <span class="ladda-label">
                        <i class="fa fa-fw fa-check"></i>&nbsp;Simpan
                    </span>
                    <span class="ladda-spinner"></span>
                </button>
                <button ng-click="backFromAlasanRevisiSTNK()" class="wbtn btn ng-binding ladda-button" style="float: right">Kembali</button>
            </p>
        </div>
        <!-- </div> -->

    </div>

    <div class="ui small modal revisiStnkMonitoring" modal="revisiStnk" role="dialog">
        <!-- <div> -->
        <div class="modal-body">
            <p>
                <h3 align="center"> ALERT </h3>
            </p>
            <p align="center">
                Apakah Anda ingin Melakukan Revisi STNK ?
            </p>

        </div>
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <p align="right" style="margin-bottom: 0px !important">
                <button ng-click="backFromRevisiSTNK()" class="wbtn btn ng-binding ladda-button">Tidak</button>
                <button ng-click="openSaveRevisiSTNK()" class="rbtn btn ng-binding ladda-button" style="width: 8%">Ya</button>
            </p>
        </div>
        <!-- </div> -->
    </div>

    <div class="ui modal alasanrevisiSTNK" modal="alasanterlambat" role="dialog">
        <!-- <div> -->
        <div class="modal-header" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;Alasan Revisi
                Penerimaan STNK dari Biro Jasa</h4>
        </div>
        <div class="modal-body">
            <div class="row" style="margin: 0 0 0 0">
                <div id="infoPembeli" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 15px 0 15px; margin-top: 10px 10px 0 10px">
                    <p style="width:50px; padding:0 5px 0 5px; margin-top:-18px; margin-bottom:15px; background:white"><b>Alasan</b></p>
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="form-group">
                            <div class="col-md-6" style="padding-left: 0 !important">
                                <label>No Rangka</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="FrameNo"
                                        placeholder="" ng-model="The_SelectedRevisiSTNK.FrameNo" ng-maxlength="50"
                                        required>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-right: 0 !important">
                                <label>No. PO</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" placeholder="No. PO" ng-model="The_SelectedRevisiSTNK.POBiroJasaUnitNo"
                                        ng-maxlength="50" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6" style="padding-left: 0 !important; padding-top: 10px !important">
                                <label>Model</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="FrameNo"
                                        placeholder="" ng-model="The_SelectedRevisiSTNK.VehicleModelName" ng-maxlength="50"
                                        required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 10px 0 0 0">
                        <bsreqlabel>Alasan Revisi</bsreqlabel>
                        <div class="form-group">
                            <textarea ng-model="The_SelectedRevisiSTNK.AlasanRevisiSTNK" rows="6" class="form-control"
                                cols="83">
                            </textarea>
                        </div>
                    </div>
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="col-md-3" style="margin-top: 8px; padding:0 5px 0 0">
                            <bsreqlabel>Perkiraan Lama Revisi : </bsreqlabel>
                        </div>
                        <div class="col-md-2" style="padding: 0 0 0 0">
                            <div class="form-group">
                                <div>
                                    <input type="text" number-only maxlength="3" class="form-control" size="2" name="LamaKeterlambatanSTNK"
                                        placeholder="" ng-model="The_SelectedRevisiSTNK.LamaKeterlambatanSTNK">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="margin-top: 8px">
                            hari
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <p align="center">
                <button type="button" class="rbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()"
                    ng-click="SaveRevisiSTNK()" ng-disabled="(The_SelectedRevisiSTNK.AlasanRevisiSTNK == undefined || The_SelectedRevisiSTNK.AlasanRevisiSTNK == null || The_SelectedRevisiSTNK.AlasanRevisiSTNK == '') ||
                                                (The_SelectedRevisiSTNK.LamaKeterlambatanSTNK == undefined || The_SelectedRevisiSTNK.LamaKeterlambatanSTNK == null || The_SelectedRevisiSTNK.LamaKeterlambatanSTNK == '')"
                    ladda="savingState" data-style="expand-left" tabindex="0">
                    <span class="ladda-label"><i class="fa fa-fw fa-check"></i>&nbsp;Simpan</span><span class="ladda-spinner"></span>
                </button>
                <button ng-click="batalRevisiSTNK()" class="wbtn btn ng-binding ladda-button" style="float: right">Kembali</button>
            </p>
        </div>
        <!-- </div> -->

    </div>


    <!-- /////////////////////////////////////////////////////////////////////////// -->

    <div class="ui modal terimaBPKBMonitoring" role="dialog">
        <div>
            <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
                <!-- <button type="button" ng-click="backFromterimaBPKB()" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Terima BPBK dari Biro Jasa</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin: 0 0 0 0">
                    <div filedset="false">
                        <div class="row" style="margin: 0 0 0 0">
                            <div class="form-group">
                                <label>No Rangka</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="fieldNoRangka" placeholder="" ng-model="rowsDocument.FrameNo"
                                        ng-maxlength="50" required>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin: 0 0 0 0">
                            <div class="form-group">
                                <label>Model Kendaraan</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="fieldModel" placeholder="" ng-model="rowsDocument.Description"
                                        ng-maxlength="50" required>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin: 0 0 0 0">
                            <div class="form-group">
                                <label>Nama BPKB</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="" placeholder="" ng-model="rowsDocument.BPKBName" ng-maxlength="50"
                                        required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="col-md-6" style="padding: 15px 13px 0 0">
                            <label>No BPKB</label>
                            <input type="text" class="form-control" name="" placeholder="" ng-model="rowsDocument.BPKBNo" ng-maxlength="50" required>
                        </div>
                        <div class="col-md-6" style="padding: 15px 0 0 13px">
                            <label>Nomor Polisi</label>
                            <input ng-disabled="true" type="text" class="form-control" name="" placeholder="" ng-model="rowsDocument.PoliceNumber" ng-maxlength="50"
                                required>
                        </div>
                    </div>

                    <div class="row" style="margin: 0 0 0 0">
                        <div class="col-md-6" style="padding: 15px 13px 0 0">
                            <label>Tanggal Aju BPKB ke Biro Jasa</label>
                            <input ng-disabled="true" type="date" ng-model="rowsDocument.POBiroJasaUnitDate">
                        </div>
                        <div class="col-md-6" style="padding: 15px 0 0 13px">
                            <label>Tanggal Terima BPKB dari Biro Jasa</label>
                            <input type="date" id="Max_Da_ReceiveBPKBDateMinDate" ng-model="rowsDocument.ReceiveBPKBDate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                <p align="center">
                    <button type="button" class="rbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()" ng-click="simpanterimaBPKB()"
                        ladda="savingState" data-style="expand-left" tabindex="0">
                        <span class="ladda-label">
                            <i class="fa fa-fw fa-check"></i>&nbsp;Simpan</span>
                        <span class="ladda-spinner"></span>
                    </button>
                    <button type="button" class="wbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()" ng-click=" backFromterimaBPKB()"
                        ladda="savingState" data-style="expand-left" tabindex="0">
                        <span class="ladda-label">
                            <i class="fa fa-fw fa-times"></i>&nbsp;Kembali</span>
                        <span class="ladda-spinner"></span>
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div class="ui modal alasanterlambatbpkbMonitoring" role="dialog">

        <div>
            <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
                <!-- <button type="button" class="close" data-dismiss="modal"></button> -->
                <h4 class="modal-title">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;Alasan Keterlambatan Penerimaan BPKB dari Biro Jasa</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin: 0 0 0 0">
                    <div id="infoPembeli" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 15px 0 15px; margin-top: 10px 10px 0 10px">
                        <p style="width:40px; margin-top:-20px; margin-left:0px; background:white">
                            <b>Alasan</b>
                        </p>
                        <div class="row" style="margin: 0 0 0 0">
                            <div class="form-group">
                                <label>No Rangka</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="FrameNo" placeholder="" ng-model="SelectedDataTerlambat_FrameNo"
                                        ng-maxlength="50" required>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin: 0 0 0 0">
                            <label>Alasan Keterlambatan</label>
                            <div class="form-group">
                                <textarea ng-model="SelectedDataTerlambat_AlasanKeterlambatanBPKB" rows="6" class="form-control" cols="83">
                                                    </textarea>
                            </div>
                        </div>
                        <div class="row" style="margin: 0 0 0 0">
                            <div class="col-md-3" style="margin-top: 8px; padding:0 5px 0 0">
                                <label>Lama Keterlambatan : </label>
                            </div>
                            <div class="col-md-2" style="padding: 0 0 0 0">
                                <div class="form-group">
                                    <div>
                                        <input type="number" class="form-control" size="2" name="LamaKeterlambatanBPKB" placeholder="" ng-model="SelectedDataTerlambat_LamaKeterlambatanBPKB">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" style="margin-top: 8px">
                                Hari
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                <p align="center">
                    <button type="button" class="rbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()" ng-click="simpanAlasanRevisiBPKB()"
                        ladda="savingState" data-style="expand-left" tabindex="0">
                        <span class="ladda-label">
                            <i class="fa fa-fw fa-check"></i>&nbsp;Simpan</span>
                        <span class="ladda-spinner"></span>
                    </button>
                    <button ng-click="backFromAlasanRevisiBPKB()" class="wbtn btn ng-binding ladda-button" style="float: right">Kembali</button>
                </p>
            </div>
        </div>

    </div>

    <div class="ui modal revisibpkbMonitoring" modal="revisibpkb" role="dialog">

        <div>

            <div class="modal-body">
                <p>
                    <h3 align="center"> ALERT </h3>
                </p>
                <p align="center">
                    Apakah Anda ingin Melakukan Revisi BPKB ?
                </p>

            </div>
            <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                <p align="right" style="margin-bottom: 0px !important">
                    <button ng-click="backFromRevisiBPKB()" class="wbtn btn ng-binding ladda-button">Tidak</button>
                    <button ng-click="SaveRevisiBPKB()" class="rbtn btn ng-binding ladda-button" style="width: 8%">Ya</button>
                </p>
            </div>
        </div>

    </div>

</div>