<link rel="stylesheet" href="css/uistyle.css">
<link rel="stylesheet" href="css/uitimelinestyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="styleSheet" href="release/ui-grid.min.css" />
<script src="/release/ui-grid.min.js"></script>
<script type="text/javascript">
    function navigateTabMaintainRequestSwapping(containerId, divId) {
        $("#" + containerId).children().each(function (n, i) {
            var id = this.id;
            console.log(id + ' - ' + divId);
            if (id == divId) {
                $('#' + divId).attr('class', 'tab-pane fade in active');
            } else {
                $('#' + id).attr('class', 'tab-pane fade');
            }
        });
    }
	
	function MaintainRequestSwapping_Paksa_FokusDownpayment() 
	{
		var liat_awal=document.getElementById("MaintainRequestSwappingPaksaFokusDownpayment").value;
		if(liat_awal=="Rp. 0")
		{
			document.getElementById("MaintainRequestSwappingPaksaFokusDownpayment").value=null;
		}
	}
	
	function MaintainRequestSwapping_Paksa_FokusDiskonUnit() 
	{
		var liat_awal=document.getElementById("MaintainRequestSwappingPaksaFokusDiskonUnit").value;
		if(liat_awal=="Rp. 0")
		{
			document.getElementById("MaintainRequestSwappingPaksaFokusDiskonUnit").value=null;
		}
	}
	
	function MaintainRequestSwapping_Paksa_FokusDiskonLogistik() 
	{
		var liat_awal=document.getElementById("MaintainRequestSwappingPaksaFokusDiskonLogistik").value;
		if(liat_awal=="Rp. 0")
		{
			document.getElementById("MaintainRequestSwappingPaksaFokusDiskonLogistik").value=null;
		}
	}
	
	function MaintainRequestSwapping_Paksa_FokusHargaUnit() 
	{
		var liat_awal=document.getElementById("MaintainRequestSwappingPaksaFokusHargaUnit").value;
		if(liat_awal=="Rp. 0")
		{
			document.getElementById("MaintainRequestSwappingPaksaFokusHargaUnit").value=null;
		}
	}
	
	function MaintainRequestSwapping_Paksa_FokusHargaLogistik() 
	{
		var liat_awal=document.getElementById("MaintainRequestSwappingPaksaFokusHargaLogistik").value;
		if(liat_awal=="Rp. 0")
		{
			document.getElementById("MaintainRequestSwappingPaksaFokusHargaLogistik").value=null;
		}
	}
</script>

<style type="text/css">
    .nopadding {
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 1px;
        margin: 0 !important;
    }

    .table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .td,
    .th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    .tr:nth-child(even) {
        background-color: #dddddd;
    }

    .gridStyle {
        border: 1px solid rgb(212, 212, 212);
        width: 400px;
        height: 300px
    }
</style>

<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<div ng-show="MaintainRequestSwapping">
    <button ng-click="btnValidasiQuotation()" ng-disabled="(selectedReq.length == 0) " class="rbtn btn ng-binding ladda-button "
        style="float:right; margin:-30px 0 0 10px; width:11% "><span><i class="fa fa-plus"></i> &nbsp; Tambah</span></button>

    <bsform-grid ng-form="MaintainRequestSwappingForm " factory-name="MaintainRequestSwappingFactory " model="mMaintainRequestSwapping "
        model-id="Id " get-data="getData " selected-rows="selectedRows " on-select-rows="onSelectRows " form-name="MaintainRequestSwappingForm "
        show-advsearch="on" grid-hide-action-column="true " hide-new-button="true " form-title=" " modal-title="Maintain Request Swapping "
        modal-size="small " icon="fa fa-fw fa-child ">
        <bsform-advsearch>
            <p>
                <div>
                    <div class="row" style="margin: 0 0 5px 0;display: flex;">

                        <div class="col-md-4">
                            <label>Tanggal Awal</label>
                            <bsdatepicker ng-change="MaintainRequestSwappingPaksaFilterTanggal()" ng-model="filter.StartRequestDate"
                                name="tanggal" date-options="dateOptionsMaintainRequestSwapping">
                            </bsdatepicker>
                        </div>
                        <div class="col-md-4">
                            <label>Tanggal Akhir</label>
                            <bsdatepicker ng-change="MaintainRequestSwappingPaksaFilterTanggal()" ng-model="filter.EndRequestDate"
                                name="tanggal" date-options="dateOptionsMaintainRequestSwapping">
                            </bsdatepicker>
                        </div>
                    </div>
                </div>
            </p>
        </bsform-advsearch>
    </bsform-grid>

    <!-- <bsui-modal show="show_modal.show " title="Alasan Batal SO " data="modal_model " on-save="onListSave " on-cancel="onListCancel " mode="modalMode ">
        <div ng-form name="contactForm ">
            <p style="font-size:initial; margin:0px; ">Silahkan mengisi No Rangka dahulu baru membuat Quotation</p>
        </div>
    </bsui-modal> -->
</div>

<div ng-show="StockView">
    <button ng-click="btnkembaliStockView() " class="wbtn btn ng-binding ladda-button " style="float:right; margin:-30px 0 0 10px; width:11% ">Kembali</button>
    <button class="ubtn mobileFilterBtn " ng-click="refreshFilter()" onclick="this.blur();" style="float:right; margin:-30px 0 0 10px;"
        tooltip-placement="bottom" tooltip-trigger="mouseenter" tooltip-animation="false" uib-tooltip="Refresh"
        tabindex="0">
        <i class="fa fa-fw fa-refresh" style="font-size:1.4em;"></i>
    </button>

    <fieldset ng-disabled="true">
        <div class="row " style="padding-top:12px ">
            <div class="col-md-4 ">
                <div class="form-group ">
                    <bsreqlabel>Cabang</bsreqlabel>
                    <bsselect id="comboBox " name="Dealer " ng-model="selectedrow.OutletId " data="getOutlet "
                        item-text="Name " item-value="OutletId " on-select="OutletId " placeholder="Dealer Branch "
                        icon="fa fa-sitemap ">
                    </bsselect>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="form-group ">
                    <bsreqlabel>Tipe</bsreqlabel>
                    <div class="input-icon-right ">
                        <i class="fa fa-car "></i>
                        <input type="text " class="form-control " name="nama " placeholder="Plih Tipe" ng-model="selectedrow.VehicleTypeDescription "
                            ng-maxlength="60 " required>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="form-group ">
                    <bsreqlabel>Warna</bsreqlabel>
                    <div class="input-icon-right ">
                        <i class="fa fa-search "></i>
                        <input type="text " class="form-control " name="nama " placeholder=" " ng-model="selectedrow.ColorName "
                            ng-maxlength="60 " required>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>


     <div id="filterData" class="row" style="margin:0; margin-top:5px;">
        <div id="inputFilter" style="float:left; width:20%;">
            <div class="form-group filterMarg">
                <input type="text" required ng-model="textFilter" class="form-control" placeholder="Search" maxlength="100"
                    ng-change="filterCustom()">
            </div>
        </div>
        <div id="comboBoxFilter" style="float:left; width:15%; font-size:12px;">
            <div class="form-group filterMarg">
                <select required ng-model="selectedFilter" class="form-control" ng-options="item.value as item.name for item in filterData.defaultFilter"
                    placeholder="Filter">

                    <option label="Filter" value="" disabled>Filter</option>
                </select>
            </div>
        </div>
    </div>

    <div ui-grid="gridStockView " ui-grid-selection ui-grid-pinning ui-grid-pagination ui-grid-auto-resize class="grid "
        ng-cloak>
    </div>
</div>
<div ng-show="BuatQuotationShow ">
    <button ng-click="btnsimpanQuotation()" 
    ng-disabled = "priceQuo.UnitPrice == null || priceQuo.UnitPrice == undefined || priceQuo.UnitPrice < 0 
    || dataQuotation[0].DownPayment == null || dataQuotation[0].DownPayment == undefined || dataQuotation[0].DownPayment < 0
    || priceQuo.UnitDiscount == null || priceQuo.UnitDiscount == undefined || priceQuo.UnitDiscount < 0 
    || priceQuo.ExpeditionSellPrice == nullpriceQuo.ExpeditionSellPrice == undefined || priceQuo.ExpeditionSellPrice < 0  " 
    class="rbtn btn ng-binding ladda-button " style="float:right; margin:-30px 0 10px 1px">Simpan</button>
    <button id="btnkembaliquo" ng-click="btnkembaliQuotation() " class="wbtn btn ng-binding ladda-button " style="float:right; margin:-30px 0 0 1px">Kembali</button>

    <fieldset ng-disabled="true " style="width: 100% ">
        <div class="row " style="padding-top:12px ">
            <div class="col-md-3 ">
                <div class="form-group ">
                    <bsreqlabel>Tipe Quotation</bsreqlabel>
                    <bsselect id="comboBox " name="Type " ng-model="dataQuotation[0].QuotationTypeId " data="dataType "
                        item-text="QuotationTypeName " item-value="QuotationTypeId " on-select="QuotationTypeId "
                        placeholder="Pilih Tipe Quotation" icon="fa fa-search "></bsselect>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="form-group ">
                    <bsreqlabel>Cabang Pemilik</bsreqlabel>
                    <div class="input-icon-right ">
                        <i class="fa fa-sitemap "></i>
                        <input type="text " class="form-control " name="nama " placeholder=" " ng-model="OutletNameOwner"
                            ng-maxlength="60 " required>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="form-group ">
                    <bsreqlabel>Cabang Tujuan</bsreqlabel>
                    <div class="input-icon-right ">
                        <i class="fa fa-sitemap "></i>
                        <input type="text " class="form-control " name="nama " placeholder=" " ng-model="dataQuotation[0].OutletRequestName "
                            ng-maxlength="60 " required>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="form-group ">
                    <bsreqlabel>Tanggal Quotation</bsreqlabel>
                    <bsdatepicker name="tanggal " date-options="dateOptions " ng-model="dataQuotation[0].QuotationDate "
                        icon="fa fa-calendar ">
                    </bsdatepicker>
                </div>
            </div>
        </div>
    </fieldset>

    <ul class="nav nav-tabchild" style="margin-top:10px">
        <li class="active"><a data-toggle="tab" href="# " onclick="navigateTabMaintainRequestSwapping( 'tabContainerSwapping', 'menuInfoPengirimanswap'); ">Info
                Pengiriman</a></li>
        <li><a data-toggle="tab" href="# " onclick="navigateTabMaintainRequestSwapping( 'tabContainerSwapping', 'menuinfounityangakandibeliswap'); ">Info
                Unit Yang Akan Dibeli</a></li>
        <li><a data-toggle="tab" href="# " onclick="navigateTabMaintainRequestSwapping( 'tabContainerSwapping', 'menuRincianHargaswap'); ">Rincian
                Harga</a></li>
        <li ng-if="dataQuotation[0].QuotationTypeId == 3 || dataQuotation[0].QuotationTypeId == 4"><a data-toggle="tab"
                href="# " onclick="navigateTabMaintainRequestSwapping( 'tabContainerSwapping', 'menuEkspedisiTamswap'); ">Biaya Ekspedisi TAM</a></li>
    </ul>

    <div id="tabContainerSwapping" class="tab-content" style="padding-top: 15px ">
        <div id="menuInfoPengirimanswap" class="tab-pane fade in active">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="form-group ">
                        <label>Nama Penerima</label>
                        <div class="input-icon-right ">
                            <i class="fa fa-user "></i>
                            <input type="text " maxlength="100" class="form-control " name="nama " placeholder="Input Nama Penerima"
                                ng-model="dataQuotation[0].ReceiveName " ng-maxlength="60 " required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 ">
                    <div class="form-group ">
                        <label>Alamat Penerima</label>
                        <div class="input-icon-right ">
                            <!-- <i class="fa fa-pencil "></i> -->
                            <textarea type="text " maxlength="255" class="form-control " name="nama " placeholder="Input Alamat Penerima"
                                ng-model="dataQuotation[0].SentAddress " rows="5 " cols="60 " required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 ">
                   <div class="form-group ">
                        <label>Handphone Penerima</label>
                        <div class="input-icon-right ">
                            <i class="fa fa-mobile "></i>
                            <input type="text " class="form-control " name="nama " placeholder="Input Handphone Penerima" ng-model="dataQuotation[0].ReceiveHP " maxlength="60 " required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 ">
                   <div class="form-group ">
                        <label>Tanggal Pengiriman</label>
                        <bsdatepicker
                            name="tanggal "
                            date-options="dateOptions"
                            icon="fa fa-calendar "
                            ng-model="dataQuotation[0].SentDate ">
                        </bsdatepicker>
                    </div>
                 </div>
            </div>
        </div>

        <div id="menuinfounityangakandibeliswap" class="tab-pane fade">
            <fieldset ng-disabled="true ">
                <div class="row ">
                    <div class="col-md-4 ">
                       <div class="form-group ">
                            <label>Model Tipe</label>
                            <div class="input-icon-right ">
                                <i class="fa fa-car "></i>
                                <input type="text " class="form-control " name="nama " placeholder=" " ng-model="dataQuotation[0].VehicleTypeDescription " 
                                required>
                            </div>
                        </div>

                       <div class="form-group ">
                            <label>Warna</label>
                            <i class="fa fa-search "></i>
                            <div class="input-icon-right ">
                                <input type="text " class="form-control " name="nama " placeholder=" " ng-model="dataQuotation[0].ColorName " required>
                            </div>
                        </div>

                       <div class="form-group ">
                            <label>No. Rangka</label>
                            <div class="input-icon-right ">
                                <input type="text " class="form-control " name="nama " placeholder=" " ng-model="dataQuotation[0].FrameNo " required>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 ">
                       <div class="form-group ">
                            <label>Tahun Produksi</label>
                            <div class="input-icon-right ">
                                <input type="text " class="form-control " name="nama " placeholder=" " ng-model="dataQuotation[0].ProductionYear " 
                                required>
                            </div>
                        </div>

                       <div class="form-group ">
                            <label>Lokasi Unit</label>
                            <div class="input-icon-right ">
                                <input type="text " class="form-control " name="nama " placeholder=" " ng-model="dataQuotation[0].LocationName" 
                                required>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div id="menuRincianHargaswap" class="tab-pane fade">
            <div class="row ">
                <div class="col-md-3 ">
                    <div class="form-group ">
                        <label>TOP</label>
                        <bsselect name="filterModel " style="margin-bottom: 10px " ng-model="dataQuotation[0].TOPId " data="termOfPayment " item-text="TermOfPayment " item-value="TermOfPaymentId " placeholder="Pilih TOP" icon="fa fa-search ">
                        </bsselect>
                    </div>
                    <div class="form-group " ng-if="dataQuotation[0].QuotationTypeId == 1 || dataQuotation[0].QuotationTypeId == 3 ">
                        <bsreqlabel>Harga Unit</bsreqlabel>
                        <div class="input-icon-right ">
                            <input type="text " onfocus="MaintainRequestSwapping_Paksa_FokusHargaUnit()" id="MaintainRequestSwappingPaksaFokusHargaUnit" input-currency number-only class="form-control " style="text-align: right" name="Unit Price" placeholder="Unit Price" ng-model="priceQuo.UnitPrice " ng-maxlength="50 " required>
                        </div>
                    </div>
                    <div class="form-group "  ng-if="dataQuotation[0].QuotationTypeId == 1 || dataQuotation[0].QuotationTypeId == 2">
                        <bsreqlabel>Harga Logistik</bsreqlabel>
                        <div class="input-icon-right ">
                            <input type="text " onfocus="MaintainRequestSwapping_Paksa_FokusHargaLogistik()" id="MaintainRequestSwappingPaksaFokusHargaLogistik" input-currency number-only class="form-control " style="text-align: right" name="Logistic " placeholder="Harga Logistik" ng-model="priceQuo.ExpeditionSellPrice " ng-maxlength="50 " required>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="form-group ">
                        <bsreqlabel>Down Payment</bsreqlabel>
                        <div class="input-icon-right ">
                            <input onfocus="MaintainRequestSwapping_Paksa_FokusDownpayment()" id="MaintainRequestSwappingPaksaFokusDownpayment" type="text " input-currency number-only class="form-control " style="text-align: right" name="DownPayment " placeholder="Down Payment " ng-model="dataQuotation[0].DownPayment " ng-maxlength="50 " required>
                        </div>
                    </div>
                    <div class="form-group " ng-if="dataQuotation[0].QuotationTypeId == 1 || dataQuotation[0].QuotationTypeId == 3">
                        <bsreqlabel>Diskon (Unit)</bsreqlabel>
                        <div class="input-icon-right ">
                            <input onfocus="MaintainRequestSwapping_Paksa_FokusDiskonUnit()" id="MaintainRequestSwappingPaksaFokusDiskonUnit" type="text " input-currency number-only class="form-control " style="text-align: right" name="Diskon Unit " placeholder="Discount" ng-model="priceQuo.UnitDiscount " ng-maxlength="50 " required>
                        </div>
                    </div>
                    <div class="form-group " ng-if="dataQuotation[0].QuotationTypeId == 1 || dataQuotation[0].QuotationTypeId == 2">
                        <bsreqlabel>Diskon (Logistic)</bsreqlabel>
                        <div class="input-icon-right ">
                            <input onfocus="MaintainRequestSwapping_Paksa_FokusDiskonLogistik()" id="MaintainRequestSwappingPaksaFokusDiskonLogistik" type="text " input-currency number-only class="form-control " style="text-align: right" name="Diskon Logistik " placeholder="Discount" ng-model="priceQuo.ExpeditionDiscount " ng-maxlength="50 " required>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 ">
                    <div class="form-group ">
                        <div id="textArea ">
                            <label>Catatan</label>
                            <div class="input-icon-right ">
                                <textarea class="form-control " maxlength="255" rows="5 " id="comment " ng-model="dataQuotation[0].NotePrice "></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <pricing-engine js-data="jsData" disable-button="true " url-pricing="urlPricing" jumlah-data="10 ">
            <form-body-custom>
            </form-body-custom>
        </pricing-engine> -->

        <div class="row" style="margin:10px 0 0 0">
            <button ng-click="Kalkulasi(); " class="rbtn btn ng-binding ladda-button " style="float:right; margin-right: 12px">
                <i class="fa fa-calculator"></i>&nbspKalkulasi</button>
        </div>

        <div ng-if="dataQuotation[0].QuotationTypeId == 4" class="row">
            <ul style="padding-left: 25px; padding-right: 20px; margin-bottom: 25px;list-style: none">
                <li>
                    <div style="border:1px solid lightgrey; padding: 15px 15px 0 15px; margin-top: 10px">
                        <i class="fa fa-car"></i>&nbsp&nbsp
                        <b>{{dataQuotation[0].Dekatsu}}</b>
                        <table class="table table-bordered table-responsive" style="margin-top:10px">
                            <thead>
                                <tr>
                                    <!-- <th class="headerRow">Model Tipe</th> -->
                                    <th class="headerRow">Keterangan</th>
                                    <th class="headerRow">Mata Uang</th>
                                    <th class="headerRow">Nominal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- <th scope="row">Avanza 1.3 E M/T</th> -->
                                    <td><b>Harga dasar jual</b></td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].SellPrice | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td><b>Diskon</b></td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">({{dataQuotation[0].Discount | number:2}})</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>Harga Setelah Discount</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].PriceAfterDiscVehicle | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>DPP</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].DPP | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>VAT</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].VAT | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>PPH22</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].PPH22 | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>Total DPP</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].TotalDPP | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>Total VAT</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].TotalVAT | number:2}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>

        <div ng-if="dataQuotation[0].QuotationTypeId == 3" class="row">
            <ul style="padding-left: 25px; padding-right: 20px; margin-bottom: 25px;list-style: none">
                <li>
                    <div style="border:1px solid lightgrey; padding: 15px 15px 0 15px; margin-top: 10px">
                        <i class="fa fa-car"></i>&nbsp&nbsp
                        <b>{{dataQuotation[0].Dekatsu}}</b>
                        <table class="table table-bordered table-responsive" style="margin-top:10px">
                            <thead>
                                <tr>
                                    <!-- <th class="headerRow">Model Tipe</th> -->
                                    <th class="headerRow">Keterangan</th>
                                    <th class="headerRow">Mata Uang</th>
                                    <th class="headerRow">Nominal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- <th scope="row">Avanza 1.3 E M/T</th> -->
                                    <td><b>Harga dasar jual</b></td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].SellPrice | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>Diskon</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">({{dataQuotation[0].Discount | number:2}})</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>Harga Setelah Discount</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].PriceAfterDiscVehicle | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>DPP</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].DPP | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>VAT</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].VAT | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>PPH22</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].PPH22 | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>Total DPP</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].TotalDPP | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>Total VAT</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].TotalVAT | number:2}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>

        <div ng-if="dataQuotation[0].QuotationTypeId == 2" class="row">
            <ul style="padding-left: 25px; padding-right: 20px; margin-bottom: 25px;list-style: none">
                <li>
                    <div style="border:1px solid lightgrey; padding: 15px 15px 0 15px; margin-top: 10px">
                        <!-- <i class="fa fa-car"></i>&nbsp&nbsp -->
                        <!-- <b>{{dataQuotation[0].Dekatsu}}</b> -->
                        <table class="table table-bordered table-responsive" style="margin-top:10px">
                            <thead>
                                <tr>
                                    <!-- <th class="headerRow">Model Tipe</th> -->
                                    <th class="headerRow">Keterangan</th>
                                    <th class="headerRow">Mata Uang</th>
                                    <th class="headerRow">Nominal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- <th scope="row">Avanza 1.3 E M/T</th> -->
                                    <td><b>Harga Ekspedisi</b></td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].ExpeditionSellPrice | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>Diskon Ekspedisi</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">({{dataQuotation[0].ExpeditionDiscount | number:2}})</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>Harga Ekspedisi Setelah Discount</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].PriceAfterExpeditionDiscount | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>DPP</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].ExpeditionDPP | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>VAT</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].ExpeditionVAT | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>Total Logistik</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].ExpeditionTotal | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>Total DPP</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].TotalDPP | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>Total VAT</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].TotalVAT | number:2}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>

        <div ng-if="dataQuotation[0].QuotationTypeId == 1" class="row">
            <ul style="padding-left: 25px; padding-right: 20px; margin-bottom: 25px;list-style: none">
                <li>
                    <div style="border:1px solid lightgrey; padding: 15px 15px 0 15px; margin-top: 10px">
                        <i class="fa fa-car"></i>&nbsp&nbsp
                        <b>{{dataQuotation[0].Dekatsu}}</b>
                        <table class="table table-bordered table-responsive" style="margin-top:10px">
                            <thead>
                                <tr>
                                    <!-- <th class="headerRow">Model Tipe</th> -->
                                    <th class="headerRow">Keterangan</th>
                                    <th class="headerRow">Mata Uang</th>
                                    <th class="headerRow">Nominal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- <th scope="row">Avanza 1.3 E M/T</th> -->
                                    <td><b>Harga dasar jual</b></td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].SellPrice | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td><b>Diskon</b></td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">({{dataQuotation[0].Discount | number:2}})</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>Harga Setelah Discount</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].PriceAfterDiscVehicle | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>DPP</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].DPP | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>VAT</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].VAT | number:2}}</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>PPH22</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].PPH22 | number:2}}</td>
                                </tr>
                                <!-- <tr>
                                   
                                    <td>Total DPP</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].TotalDPP | number:2}}</td>
                                </tr>
                                <tr>
                                   
                                    <td>Total VAT</td>
                                    <td>Rp.</td>
                                    <td style="text-align:right">{{dataQuotation[0].TotalVAT | number:2}}</td>
                                </tr> -->
                            </tbody>
                        </table><br>
                        <b>Ekspedisi</b>
                            <table class="table table-bordered table-responsive" style="margin-top:10px">
                                <thead>
                                    <tr>
                                        <!-- <th class="headerRow">Model Tipe</th> -->
                                        <th class="headerRow">Keterangan</th>
                                        <th class="headerRow">Mata Uang</th>
                                        <th class="headerRow">Nominal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <th scope="row">Avanza 1.3 E M/T</th> -->
                                        <td><b>Harga Ekspedisi</b></td>
                                        <td>Rp.</td>
                                        <td style="text-align:right">{{dataQuotation[0].ExpeditionSellPrice | number:2}}</td>
                                    </tr>
                                    <tr>
                                        <!-- <td></td> -->
                                        <td>Diskon Ekspedisi</td>
                                        <td>Rp.</td>
                                        <td style="text-align:right">({{dataQuotation[0].ExpeditionDiscount | number:2}})</td>
                                    </tr>
                                    <tr>
                                        <!-- <td></td> -->
                                        <td>Harga Ekspedisi Setelah Discount</td>
                                        <td>Rp.</td>
                                        <td style="text-align:right">{{dataQuotation[0].PriceAfterExpeditionDiscount |
                                            number:2}}</td>
                                    </tr>
                                    <tr>
                                        <!-- <td></td> -->
                                        <td>DPP</td>
                                        <td>Rp.</td>
                                        <td style="text-align:right">{{dataQuotation[0].ExpeditionDPP | number:2}}</td>
                                    </tr>
                                    <tr>
                                        <!-- <td></td> -->
                                        <td>VAT</td>
                                        <td>Rp.</td>
                                        <td style="text-align:right">{{dataQuotation[0].ExpeditionVAT | number:2}}</td>
                                    </tr>
                                    <tr>
                                        <!-- <td></td> -->
                                        <td>Total Logistik</td>
                                        <td>Rp.</td>
                                        <td style="text-align:right">{{dataQuotation[0].ExpeditionTotal | number:2}}</td>
                                    </tr>
                                    <!-- <tr>
                                        
                                        <td>Total DPP</td>
                                        <td>Rp.</td>
                                        <td style="text-align:right">{{dataQuotation[0].TotalDPP | number:2}}</td>
                                    </tr>
                                    <tr>
                                       
                                        <td>Total VAT</td>
                                        <td>Rp.</td>
                                        <td style="text-align:right">{{dataQuotation[0].TotalVAT | number:2}}</td>
                                    </tr> -->
                                </tbody>
                            </table>
                    </div>
                    <!-- <div style="border:1px solid lightgrey; padding: 15px 15px 0 15px; margin-top: 10px">
                           
                            
                        </div> -->
                </li>
                <!-- <li>
                   
                </li> -->
            </ul>
        </div>

        <!-- 
        <div class="row " style="padding: 12px ">
            <div ui-grid="gridrincianHarga " ui-grid-grouping class="grid " ui-grid-pagination ui-grid-auto-resize></div>
        </div> -->

        <fieldset ng-disabled="true">
            <div class="row ">
                <div class="col-md-3 ">
                    <div class="form-group ">
                        <label></label>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="form-group ">
                        <label>DPP</label>
                        <div class="input-icon-right ">
                            <input type="text " input-currency number-only style="text-align: right" class="form-control "
                                name="nama " placeholder=" " ng-model="dataQuotation[0].TotalDPP " ng-maxlength="50 "
                                required>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="form-group ">
                        <label>Total(VAT)</label>
                        <div class="input-icon-right ">
                            <input type="text " input-currency number-only style="text-align: right" class="form-control "
                                name="nama " placeholder=" " ng-model="dataQuotation[0].TotalVAT " ng-maxlength="50 "
                                required>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="form-group ">
                        <label>Grand Total</label>
                        <div class="input-icon-right ">
                            <input type="text " input-currency number-only style="text-align: right" class="form-control "
                                name="nama " placeholder=" " ng-model="dataQuotation[0].GrandTotal " ng-maxlength="50 "
                                required>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div id="menuEkspedisiTamswap" class="tab-pane fade">
        <h5>* Untuk invoice akan dikirim oleh TAM</h5>
        <div class="row" style="margin: 20px 0 0 0">
            <div class="col-md-4 ">
                <div class="form-group ">
                    <label>Biaya TAM Ekspedisi</label>
                    <div class="input-icon-right ">
                        <i class="fa"></i>
                        <input input-currency number-only type="text" ng-disabled="true" class="form-control" name="nama"
                            placeholder="Biaya" ng-model="dataQuotation[0].TAMExpedition" ng-maxlength="60">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</div>


<div class="ui modal InfoHO">
    <div class="modal-header">
        <h4 class="modal-title">Peringatan</h4>
    </div>
    <div class="modal-body">
        <ul class="list-group">
            <h3>
                <b>
                    Data Request Swapping ini adalah data request dari HO dan tidak bisa dilanjutkan oleh cabang.
                </b>
            </h3>

        </ul>
    </div>
    <div class="modal-footer">
        <button ng-click="closeModal()" class="rbtn btn ng-binding ladda-button" style="float: right;">Ok</button>
    </div>

</div>

<div class="ui modal InfoCabang">
    <div class="modal-header">
        <h4 class="modal-title">Peringatan</h4>
    </div>
    <div class="modal-body">
        <ul class="list-group">
            <p>
                <h3>
                    Data Request Swapping ini adalah data request dari Cabang dan tidak bisa dilanjutkan oleh HO.
                </h3>
            </p>

        </ul>
    </div>
    <div class="modal-footer">
        <button ng-click="closeModal()" class="rbtn btn ng-binding ladda-button" style="float: right;">Ok</button>
    </div>

</div>