        <div class="panel panel-default">
            <div class="panel-heading">SUMMARY</div>    
            <div class="panel-body" style="padding-top: 25px;">
                <div class=" col-md-5">
                        <div class="row">
                            <div class="form-group">
                                <label style="font-weight: bold;">Material (Parts/Bahan)</label>
                                <div class="pull-right"></div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 control-label">Total Harga Beli</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="partBahanBeli" name="partbeli" style="width: 100%;text-align: right; margin-bottom: 10px;" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 control-label">Total Harga Jual</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="partBahanJual" name="partjual" style="width: 100%;text-align: right; margin-bottom: 10px;" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 control-label">Profit</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="partBahanProfit" name="partprofit" style="width: 100%;text-align: right; margin-bottom: 10px;" disabled>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-1"></div>

                <!-- <div class="col-md-5" ng-if="summaryBahan == 1">
                    <div class="row">
                        <div class="form-group">
                            <label style="font-weight: bold;">Material ( Bahan )</label>
                            <div class="pull-right"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-6 control-label">Total Harga Beli</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="bahanbeli" name="bahanbeli" style="width: 100%;text-align: right; margin-bottom: 10px;" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-6 control-label">Total Harga Jual</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="bahanjual" name="bahanjual" style="width: 100%;text-align: right; margin-bottom: 10px;" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-6 control-label">Profit</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="bahanprofit" name="bahanprofit" style="width: 100%;text-align: right; margin-bottom: 10px;" disabled>
                            </div>
                        </div>
                    </div>
                </div> -->


                <div class="col-md-5">
                      <div class="row">
                        <div class="form-group">
                            <label style="font-weight: bold;">OLI</label>
                            <div class="pull-right"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-6 control-label">Total Harga Beli</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="olibeli" name="olibeli" style="width: 100%;text-align: right; margin-bottom: 10px;" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-6 control-label">Total Harga Jual</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="olijual" name="olijual" style="width: 100%;text-align: right; margin-bottom: 10px;" disabled>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-6 control-label" >Profit</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="oliprofit" name="oliprofit" style="width: 100%;text-align: right; margin-bottom: 10px;" disabled>
                            </div>
                        </div>
                        
                      </div>
                </div>


                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" ng-click="getReport()" class="rbtn btn"> Export </button>
                    </div>
                </div>

            </div>    
           
        </div>