<bsform-base
        ng-form="ReportPartsSalesForm"
        loading="loading"
        get-data="getData"

         show-advsearch="on"

        form-api="formApi"
        linksref="app.queueCategory"
        linkview="queueCategory@app"

        form-name="ReportPartsSalesFormBranch"
        form-title="ReportPartsSalesFormBranch"
        icon="fa fa-fw fa-child"
>

    <bsform-advsearch>
		<div class="row" style="margin-right:0px;">
			<div class="col-md-4">
				<div class="form-group">
					<label>Dealer </label>
					<bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer">
					</bsselect>
					<bserrmsg field="dealer"></bserrmsg>
				</div>
				
			</div>

			<div class="col-md-4">
				<div class="form-group show-error">
					<label>Cabang </label>
					<bsselect ng-disabled="Disabled" ng-model="filter.Cabang" field="cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
					</bsselect>
					<bserrmsg field="cabang"> harus diisi</bserrmsg> 
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label>Jenis Penjualan </label>
					<bsselect ng-model="filter.jenis" name="jenis" data="getJenis" item-text="jenis" item-value="jenis" on-select="jenis(selected)" placeholder="Select Jenis Penjualan" required>
					</bsselect>
					<bserrmsg field="jenis"></bserrmsg>
				</div>
			</div>

		</div>

		<div class="row" style="margin-right:0px;">
			<div class="col-md-4" style="padding-top: 10px;">


				<div class="form-group">
					<label>Jenis Material </label>
					<bsselect ng-model="filter.materialType" name="materialType" data="filterMaterialType" item-text="text" item-value="value" on-select="changeMaterialType(selected)" placeholder="Select Jenis Penjualan" required>
					</bsselect>
					<bserrmsg field="materialType"></bserrmsg>
				</div>


			</div>
		</div>
		



		<div class="row" style="margin-right:0px;">
			<div class="col-md-4">
			<div class="form-group">
					<bsreqlabel>Periode</bsreqlabel>
					<bsdatepicker
					ng-change="changeStartDate(filter.DateStart)"
					max-date="maxDateS"
					name="dateStart"
					date-options="dateOptionsS"
					ng-model="filter.DateStart" required
					>
					</bsdatepicker>
					<bserrmsg field="dateStart"></bserrmsg>
			</div>
			
			</div>
			<div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
			<div class="col-md-4" style="margin-top: 5px;">
			<div class="form-group">
					<label></label>
					<bsdatepicker
					max-date="maxDateE"
					min-date="minDateE"
					ng-disabled="filter.DateStart == null" 
					name="dateEnd"
					date-options="dateOptionsE"
					ng-model="filter.DateEnd" required
					>
					</bsdatepicker>
					<bserrmsg field="dateEnd"></bserrmsg>
			</div>
			</div>
	<!--              <div class="form-group pull-right">
				<button type="button" ng-click="getData()" class="rbtn btn"> Filter </button>
			</div> -->
		</div>


            <br><br>
    </bsform-advsearch>
	<bsform-base-main>
	<div ng-include="'app/services/report/Parts/reportPartsSales/tempSummary.html'"></div>
	</bsform-base-main>
</bsform-base>
