<script type="text/javascript">
</script>
<style type="text/css">

</style>

<bsform-grid ng-form="CategoryPointsourceForm" factory-name="CategoryPointsourceFactory" model="mCategoryPointsource" model-id="PointSourceId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="CategoryPointsourceForm"
    form-title="Category Pointsource" modal-title="Category Pointsource" modal-size="small" icon="fa fa-fw fa-child">

    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Category Point Source</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="categoryPointsource" placeholder="Category Point Source" ng-model="mCategoryPointsource.PointSourceName" ng-maxlength="50" required>
                </div>
                <bserrmsg field="categoryPointsource"></bserrmsg>
            </div>

           
        </div>
    </div>
</bsform-grid>