<script type="text/javascript">

</script>
<style type="text/css">
</style>


<!-- <bsform-base
        ng-form="reportMRSForm"
        loading="loading"
        get-data="getData"

        show-advsearch="on"

        form-api="formApi"
        form-name="reportMRSForm"
        form-title="reportMRSForm"
        icon="fa fa-fw fa-child"
>

        <bsform-advsearch> -->
            <div ng-if="role=='Branch'" ng-include="'app/services/report/GR/reportMRS/tempBranch.html'"></div>
            <div ng-if="role=='HO'" ng-include="'app/services/report/GR/reportMRS/tempHOTAM.html'"></div>
<!--         </bsform-advsearch>

        <bsform-base-main> -->
            <!-- <div class="panel panel-default">    
                <div class="panel-body">
                    <div class="col-md-5">                     
                        <div class="row" style="">
                           <div class="form-group form-inline">
                                <label>Seharusnya Diundang</label>
                                <div class="col-md-2 pull-right"> 
                                    <input disabled type="text" class="form-control" name="shouldInvited" ng-model="shouldInvited" style="width: 150%">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="form-group form-inline">
                                <label>Yang Ditelepon</label>
                                <div class="col-md-2 pull-right">
                                    <input disabled type="text" class="form-control" name="called" ng-model="called" style="width: 150%">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="form-group form-inline">
                                <label>Telepon yang Terhubung</label>
                                <div class="col-md-2 pull-right">
                                    <input disabled type="text" class="form-control" name="terhubung" ng-model="terhubung" style="width: 150%">
                                </div>
                            </div> 
                        </div>
                        <div class="row" style="">
                            <div class="form-group form-inline">
                                <label>Yang Di SMS</label>
                                <div class="col-md-2 pull-right">
                                    <input disabled type="text" class="form-control" name="yangDiSMS" ng-model="yangDiSMS" style="width: 150%">
                                </div>
                            </div> 
                        </div>
                        <div class="row" style="">
                            <div class="form-group form-inline">
                                <label>Datang Setelah Diundang</label>
                                <div class="col-md-2 pull-right">
                                    <input disabled type="text" class="form-control" name="comeAfterInvited" ng-model="comeAfterInvited" style="width: 150%">
                                </div> 
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-2"> </div>
                    <div class="col-md-5"> 
                        <div class="row" style="">
                           <div class="form-group form-inline" style="margin-right: -100px;">
                                <label>Database Valid</label>
                                <div class="pull-right">
                                    <input disabled type="text" class="form-control" name="databaseValid" ng-model="databaseValid" style="width: 35%;"> %
                                </div>
                            </div>
                        </div>
                        <div class="row" style="">
                           <div class="form-group form-inline" style="margin-right: -100px;">
                                <label>Kontribusi MRS - Datang Telah Diundang</label>
                                <div class="pull-right">
                                    <input disabled type="text" class="form-control" name="kontribusiMRS" ng-model="kontribusiMRSComeAfterInvited" style="width: 35%;"> %
                                </div>
                            </div>
                        </div>
                        <div class="row" style="">
                           <div class="form-group form-inline" style="margin-right: -100px;">
                                <label>Kontribusi MRS Terhadap SBE</label>
                                <div class="pull-right">
                                    <input disabled type="text" class="form-control" name="kontribusiMRSSBE" ng-model="kontribusiMRSThdSBE" style="width: 35%;"> %
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div> 
            <div class="form-group pull-right">
                <button ng-click="getReport()" type="button" class="rbtn btn"> Export Detail </button>
            </div> -->
<!--         </bsform-base-main>

</bsform-base> -->
<!-- 
<script type="text/ng-template" id="taTemplate.html">
  <a>
      <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>
 -->