<div class="panel panel-default">    
        <div class="panel-heading" style="font-weight: bold">SUMMARY</div>
                <div class="panel-body">
                    <div class="col-md-5">                     
                        <div class="row">
                           <div class="form-group form-inline">
                                <label>Seharusnya Diundang</label>
                                <div class="col-md-2 pull-right"> 
                                    <input disabled type="text" class="form-control" name="shouldInvited" ng-model="shouldInvited" style="width: 150%">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="form-group form-inline">
                                <label>Yang Ditelepon</label>
                                <div class="col-md-2 pull-right">
                                    <input disabled type="text" class="form-control" name="called" ng-model="called" style="width: 150%">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="form-group form-inline">
                                <label>Telepon yang Terhubung</label>
                                <div class="col-md-2 pull-right">
                                    <input disabled type="text" class="form-control" name="terhubung" ng-model="terhubung" style="width: 150%">
                                </div>
                            </div> 
                        </div>
                        <div class="row" style="">
                            <div class="form-group form-inline">
                                <label>Yang Di SMS</label>
                                <label>(Setelah 3x telpon tidak tersambung)</label>
                                <div class="col-md-2 pull-right">
                                    <input disabled type="text" class="form-control" name="yangDiSMS" ng-model="yangDiSMS" style="width: 150%">
                                </div>
                            </div> 
                        </div>
                        <div class="row" style="">
                            <div class="form-group form-inline">
                                <label>Datang Setelah Diundang </label>
                                <label>(&lt;=30)</label>
                                <div class="col-md-2 pull-right">
                                    <input disabled type="text" class="form-control" name="comeAfterInvited" ng-model="comeAfterInvited" style="width: 150%">
                                </div> 
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-2"> </div>
                    <div class="col-md-5"> 
                        <div class="row" style="">
                           <div class="form-group form-inline" style="margin-right: -100px;">
                                <label>Database Valid</label>
                                <label>(Terhubung)</label>
                                <div class="pull-right">
                                    <input disabled type="text" class="form-control" name="databaseValid" ng-model="databaseValid" style="width: 35%;"> %
                                </div>
                            </div>
                        </div>
                        <div class="row" style="">
                           <div class="form-group form-inline" style="margin-right: -100px;">
                                <label>Kontribusi MRS - Datang Setelah Diundang</label>
                                <div class="pull-right">
                                    <input disabled type="text" class="form-control" name="kontribusiMRS" ng-model="kontribusiMRSComeAfterInvited" style="width: 35%;"> %
                                </div>
                            </div>
                        </div>
                        <div class="row" style="">
                           <div class="form-group form-inline" style="margin-right: -100px;">
                                <label>Kontribusi MRS Terhadap SBE</label>
                                <div class="pull-right">
                                    <input disabled type="text" class="form-control" name="kontribusiMRSSBE" ng-model="kontribusiMRSThdSBE" style="width: 35%;"> %
                                </div>
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="form-group form-inline" style="margin-right: -100px;">
                                <label>Booking On Call</label>
                                <div class="pull-right">
                                    <input disabled type="text" class="form-control" name="bookingOnCall" ng-model="bookingOnCall" style="width: 35%;"> %
                                </div>
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="form-group form-inline" style="margin-right: -100px;">
                                <label>Booking On Call Show</label>
                                <div class="pull-right">
                                    <input disabled type="text" class="form-control" name="bookingOnCallShow" ng-model="bookingOnCallShow" style="width: 35%;"> %
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>    
            </div> 
            <div class="form-group pull-right">
                <button ng-click="getReport()" type="button" class="rbtn btn"> Export Detail </button>
            </div>