<script type="text/javascript">
</script>
<style type="text/css">
.ui-grid-nodata{
    z-index:999 !important;
}
.panel-default>.panel-heading {
    color: #fff !important;
    background-color: #d53337 !important;
    border-color: #d53337 !important;
    font-size: 18px !important;
    font-weight: bold;
}
</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<!-- loading="none" -->

<bsform-grid ng-form="FollowupHistoryServiceForm" factory-name="FollowupHistoryService" model="mFHistory" model-id="Id" loading="loading" get-data="getData" grid-hide-action-column="true" grid-custom-action-button-template="gridActionTemplateNew" grid-custom-action-button-colwidth="120"
    selected-rows="selectedRows" on-select-rows="onSelectRows" on-show-detail="onShowDetail" on-validate-save="onValidateSave" on-before-new-mode="onBeforeNewMode" on-before-edit="onBeforeEditMode" on-before-cancel="beforeCancel" show-advsearch="on" form-name="FollowupHistoryServiceForm"
    form-title="Followup Service" modal-title="Followup Service" modal-size="small" icon="fa fa-fw fa-child">

    <bsform-advsearch>
        <div class="row" style="margin-bottom:20px;">
            <!--             <div class="col-md-12">
                <div class="col-md-5">
                    <div class="form-group">
                        <bsreqlabel>Tipe Filter</bsreqlabel>
                        <bsselect name="Kategori" ng-model="filter.typeCategory" data="typeFilter" item-text="Name" item-value="Id" placeholder="Pilih Tipe Filter" on-select="selectCategory(selected)" icon="fa fa-building">
                        </bsselect>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-show="filter.typeCategory == 1 || filter.typeCategory == 2">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tanggal Awal</label>
                        <bsdatepicker name="DateAppoint" date-options="DateOptions" ng-model="filter.firstDate">
                        </bsdatepicker>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tanggal Akhir</label>
                        <bsdatepicker name="DateAppoint" date-options="DateOptions" ng-model="filter.lastDate">
                        </bsdatepicker>
                    </div>
                </div>
            </div> -->
            <div class="col-md-12">
                <bscheckbox ng-model="filter.typeCategoryFollowUp" label="Tanggal Follow Up" ng-click="selectCategoryFollow(filter)" true-value=1 false-value=0>
                </bscheckbox>
                <div class="col-md-12" ng-disabled="dFollowup">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tanggal Awal</label>
                            <bsdatepicker ng-disabled="dFollowup" name="DateAppoint" date-options="DateOptions" ng-model="filter.firstDateFollowUp">
                            </bsdatepicker>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tanggal Akhir</label>
                            <bsdatepicker ng-disabled="dFollowup" name="DateAppoint" date-options="DateOptions" ng-model="filter.lastDateFollowUp">
                            </bsdatepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <bscheckbox ng-model="filter.typeCategoryService" label="Tanggal Service" ng-click="selectCategoryService(filter)" true-value=1 false-value=0>
                </bscheckbox>
                <div class="col-md-12" ng-disabled="dService">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tanggal Awal</label>
                            <bsdatepicker ng-disabled="dService" name="DateAppoint" date-options="DateOptions" ng-model="filter.firstDateService">
                            </bsdatepicker>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tanggal Akhir</label>
                            <bsdatepicker ng-disabled="dService" name="DateAppoint" date-options="DateOptions" ng-model="filter.lastDateService">
                            </bsdatepicker>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </bsform-advsearch>


    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 form-group">
                    <div class="col-md-12">
                        <bsreqlabel>Toyota ID</bsreqlabel>
                    </div>
                    <div class="col-md-1">
                        <!-- <h1 style="color: red">{{ mFHistory.Id }}</h1> -->
                        <!-- <h1 style="color: red">{{ mFHistory.ToyotaId }}</h1> -->
                        <h1 style="color: red">{{ mDataDetail.ToyotaId }}</h1>
                    </div>
                </div>
                <div class="col-md-3 form-group" show-errors>
                    <bsreqlabel>No Polisi</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" skip-enable ng-disabled="true" class="form-control" name="policeNumber" placeholder="Police Number" ng-model="mFHistory.Job.PoliceNumber" ng-maxlength="30">
                    </div>
                    <bserrmsg field="policeNumber"></bserrmsg>
                </div>
                <div class="col-md-3 form-group" show-errors>
                    <bsreqlabel>No WO</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" skip-enable ng-disabled="true" class="form-control" name="noWo" placeholder="No WO" ng-model="mFHistory.Job.WoNo" ng-maxlength="30">
                    </div>
                    <bserrmsg field="noWo"></bserrmsg>
                </div>
                <div class="col-md-3 form-group" show-errors>
                    <bsreqlabel>SA</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" skip-enable ng-disabled="true" class="form-control" name="inisialSa" placeholder="Inisial SA" ng-model="mFHistory.Job.UserSa.EmployeeName" ng-maxlength="30">
                    </div>
                    <bserrmsg field="inisialSa"></bserrmsg>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-7">
                    <div class="col-md-4 form-group" show-errors>
                        <bsreqlabel>Tanggal Plan</bsreqlabel>
                        <bsdatepicker skip-enable ng-disabled='true' name="tglPlan" date-options="DateOptions" ng-model="mFHistory.FollowUpDate" ng-change="DateChange(dt)">
                        </bsdatepicker>
                        <bserrmsg field="tglPlan"></bserrmsg>
                    </div>
                    <div class="col-md-4 form-group">
                        <bsreqlabel>Waktu</bsreqlabel>
                        <select class="form-control" convert-to-number skip-enable ng-disabled='true' ng-change="selectTypeWaktu(mFHistory.FollowUpTime)" placeholder="Waktu" name="carName" ng-model="mFHistory.FollowUpTime">
                            <!-- <option value="Pagi">Pagi</option>
                            <option value="Siang">Siang</option>
                            <option value="Malam">Malam</option> -->
                            <option value="1">Pagi</option>
                            <option value="2">Siang</option>
                            <option value="3">Sore</option>
                  </select>
                    </div>
                    <div class="col-md-4 form-group" show-errors>
                        <bsreqlabel>Tanggal Service</bsreqlabel>
                        <bsdatepicker skip-enable ng-disabled='true' name="tglService" date-options="DateOptions" ng-model="mFHistory.Job.JobDate" ng-change="DateChange(dt)">
                        </bsdatepicker>
                        <bserrmsg field="tglService"></bserrmsg>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-8">
                    <div class="form-group" show-errors>
                        <div class="col-md-12">
                            <bsreqlabel>Nama Pelanggan</bsreqlabel>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="mDataDetail.FrontTitle" placeholder="Gelar Depan" skip-enable ng-disabled="true">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="mDataDetail.CustomerName" placeholder="Nama" skip-enable ng-disabled="true">
                            </div>
                        </div>
                        <div class="col-md-3" style="padding-right:0px;">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="mDataDetail.EndTitle" placeholder="Gelar Belakang" skip-enable ng-disabled="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <bsreqlabel>Kontak Person</bsreqlabel>
                    <input type="text" class="form-control" name="ContactPerson" placeholder="Kontak Person" ng-model="mFHistory.ContactPerson" skip-enable ng-disabled="true"> {{ContactPerson}}
                    <bserrmsg field="ContactPerson"></bserrmsg>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" style="padding:10px;border:1px solid #e2e2e2;">
                    <div class="row">
                        <div class="col-md-12" id="antiDisable">
                            <div class="panel panel-heading panel-default" style="float:left">
                                <!-- <vehicle-history vehicleid="1">
                                </vehicle-history> -->
                                <div ng-include="'app/services/reception/wo/includeForm/wo-03.html'">
                                <!-- <div ng-include="'app/services/psfu/followupHistory/wo-03.html'"></div> -->
                            </div>
                            <!-- <div ng-include="'app/services/reception/wo/includeForm/wo-03.html'"></div> -->
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <!--<bsreqlabel>Permintaan</bsreqlabel>
                                    <textarea class="form-control" name="notePermintaan"></textarea>-->
                                    <bslist data="JobRequest" m-id="RequestId" list-model="lmModel" on-select-rows="onListSelectRows" selected-rows="listSelectedRows" confirm-save="true" list-api="listApi" modal-size="small" modal-title="Permintaan" list-title="Permintaan" list-height="120"
                                        button-settings="listButtonFalse1" custom-button-settings="listButtonFalse1">
                                        <bslist-template>
                                            <div>
                                                <div class="form-group">
                                                    <textarea class="form-control" placeholder="Permintaan" ng-model="lmItem.RequestDesc" ng-disabled="true" skip-enable>
                                                    </textarea>
                                                </div>
                                            </div>
                                        </bslist-template>
                                        <bslist-modal-form>
                                            <div>
                                                <div class="form-group" show-errors>
                                                    <bsreqlabel>Permintaan</bsreqlabel>
                                                    <textarea class="form-control" placeholder="Permintaan" name='reqdesc' ng-model="lmModel.RequestDesc">
                                                    </textarea>
                                                    <bserrmsg field="reqdesc"></bserrmsg>
                                                </div>
                                            </div>
                                        </bslist-modal-form>
                                    </bslist>
                                </div>
                                <div class="col-md-6">
                                    <!--<bsreqlabel>Keluhan</bsreqlabel>
                                    <textarea class="form-control" name="noteKeluhan"></textarea>-->
                                    <bslist data="JobComplaint" m-id="ComplaintId" list-model="lmComplaint" on-select-rows="onListSelectRows" selected-rows="listComplaintSelectedRows" confirm-save="fals" list-api="listApi" modal-size="small" modal-title="Keluhan" list-title="Complaint"
                                        list-height="200" button-settings="listButtonFalse2" custom-button-settings="listButtonFalse2">
                                        <bslist-template>
                                            <div>
                                                <div class="form-group">
                                                    <bsreqlabel>Tipe Keluhan: </bsreqlabel>
                                                    <bsselect data="vm.appScope.ComplaintCategory" item-value="ComplaintCatg" item-text="ComplaintCatg" ng-model="lmItem.ComplaintCatg" placeholder="Tipe Keluhan" ng-disabled="true" skip-enable>
                                                    </bsselect>
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" placeholder="Teks Keluhan" ng-model="lmItem.ComplaintDesc" ng-disabled="true" skip-enable>
                                                    </textarea>
                                                </div>
                                            </div>
                                        </bslist-template>
                                        <bslist-modal-form>
                                            <div>
                                                <div class="form-group">
                                                    <bsreqlabel>Tipe Keluhan</bsreqlabel>
                                                    <bsselect data="ComplaintCategory" item-value="ComplaintCatg" item-text="ComplaintCatg" ng-model="lmComplaint.ComplaintCatg" placeholder="Tipe Keluhan" required>
                                                    </bsselect>
                                                    <bserrmsg field="ctype"></bserrmsg>
                                                </div>
                                                <div class="form-group">
                                                    <bsreqlabel>Deskripsi</bsreqlabel>
                                                    <textarea class="form-control" placeholder="Teks Keluhan" name="ctext" ng-model="lmComplaint.ComplaintDesc" required>
                                                    </textarea>
                                                    <bserrmsg field="ctext"></bserrmsg>
                                                </div>
                                            </div>
                                        </bslist-modal-form>
                                    </bslist>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top:10px;">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <bsreqlabel>Status Follow Up ?</bsreqlabel>
                        <bsselect data="StastusFollow" item-value="StatusFoll" item-text="nameDesc" ng-model="mFHistory.StatusFU" placeholder="Status Follow Up" required>
                        </bsselect>
                    </div>
                    <bserrmsg field="statusFollow"></bserrmsg>
                </div>
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <bsreqlabel>Customer Tidak Terhubung Karena</bsreqlabel>
                        <select ng-disabled="mFHistory.StatusFU != 2" class="form-control" ng-change="selectTypeReason(mFHistory.Reason)" placeholder="Customer Tidak Terhubung Karena" name="Reason" ng-model="mFHistory.Reason">
                              <option value="Sibuk">Sibuk</option>
                              <option value="Salah Nomor Handphone">Salah Nomor Handphone</option>
                              <option value="Salah Sambung">Salah Sambung</option>
                            </select>
                    </div>
                    <bserrmsg field="Reason"></bserrmsg>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top:10px;">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Keterangan</label>
                        <textarea class="form-control" ng-model="mFHistory.Description"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" ng-if="mFHistory.StatusFU == 3">
            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Customer Minta Follow Up Ulang</bsreqlabel>
                    <bsdatepicker name="tglFollowup" date-options="DateOptions" ng-model="mFHistory.StatusFUDate">
                    </bsdatepicker>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Waktu Follow Up ?</bsreqlabel>
                    <bsselect data="StastusFollowTime" name="waktuUlang" item-value="Id" item-text="nameDesc" ng-model="mFHistory.StatusFUTime" placeholder="Waktu Ulang" ng-show="mFHistory.StatusFU == 3" required>
                    </bsselect>
                    <!-- <select ng-show="mFHistory.StatusFU == 3" class="form-control" ng-change="selectTypeWaktuFU(mFHistory.StatusFUTime)" placeholder="Waktu Ulang" name="waktuUlang" ng-model="mFHistory.StatusFUTime">
                            <option value="1">Pagi</option>
                            <option value="2">Siang</option>
                            <option value="3">Sore</option>
                        </select> -->
                </div>
            </div>
        </div>

        <div class="row" ng-show="mFHistory.StatusFU == 1">
            <div class="col-md-12">
                <div class="col-md-12" style="padding:10px;border:1px solid #e2e2e2;">
                    <div class="col-md-12">
                        <label>Update Jawaban Customer</label>
                    </div>

                    <div class="col-md-12" style="margin-top: 20px;" ng-show="mFHistory.mode == 'edit'">
                        <table id="gridWork" class="table table-striped table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Pertanyaan</th>
                                    <th>Jawaban Customer</th>
                                    <th>Alasan Customer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in Question track by $index">
                                    <td width="5%">{{$index + 1}}</td>
                                    <td width="40%">{{item.Description}}</td>
                                    <td width="25%">
                                        <select class="form-control" name="yesOrNo" ng-model="mFHistory.arrQuestion.AnswerId[$index]" ng-change="checkNegative(item.Answer, mFHistory.arrQuestion.AnswerId[$index], $index)">
                                                <option ng-repeat="itemAnswer in item.Answer track by $index" value="{{itemAnswer.AnswerId}}" >{{itemAnswer.Description}}</option>
                                        </select>
                                        <!--<div ng-repeat="itemAnswer in item.Answer track by $index">
                                            <bsselect data="item.Answer" on-select="selectedAnswer(selected)" item-value="itemAnswer.AnswerId" item-text="Description" ng-model="mFHistory.arrQuestion.AnswerId[$index]" placeholder="Vehicle Model">
                                            </bsselect>
                                        </div>-->
                                    </td>
                                    <td width="30%">
                                        <input style="width : 100%;" type="text" class="form-control" name="CustomerName" placeholder="Reason" ng-model="mFHistory.arrQuestion.Reason[$index]" ng-hide="Negative[$index].Status" ng-maxlength="255">
                                        <input ng-hide="true" ng-model="mFHistory.arrQuestion.IsNegative[$index]">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12" style="margin-top: 20px;" ng-show="mFHistory.mode == 'view'">
                        <table id="gridWork" class="table table-striped table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Pertanyaan</th>
                                    <th>Jawaban Customer</th>
                                    <th>Alasan Customer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in mFHistory.Jawaban track by $index">
                                    <td width="5%">{{$index + 1}}</td>
                                    <td width="40%">{{item.DescriptionQuestion}}</td>
                                    <td width="25%">
                                        <select class="form-control" name="Somebody" ng-disabled="true" disabled>
                                                <option value="{{item.AnswerId}}" >{{item.Description}}</option>
                                        </select>
                                    </td>
                                    <td width="30%">{{item.AnswerReason}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" style="margin-top: 20px;">
                    <div class="col-md-4" style="padding-left:0px;">
                        <div class="form-group" show-errors>
                            <!--<bsdatepicker name="tglAppointment" date-options="DateOptions" ng-model="RequestAppointmentDate">
                            </bsdatepicker>-->
                            <bsdatepicker name="tglAppointment" date-options="DateOptions" ng-model="mData.RequestAppointmentDate">
                            </bsdatepicker>
                            <bserrmsg field="tglAppointment"></bserrmsg>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <!--{{mData.RequestAppointmentDate}}-->
                            <button type="button" class="rbtn btn" ng-click="requestAppointment(mData.RequestAppointmentDate)">
                            Request Appointment
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show=" showFollowService " class="col-md-12 ">
        <vehicle-history></vehicle-history>
        <div class="">
            <button type="button " ng-click="back() " class="rbtn btn ">Back</button>
        </div>
    </div>
</bsform-grid>
<!--<button ng-show="available> 0" class="rbtn btn ng-binding">Kirim SMS</button>-->