<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="LeadTimeBookingUnitKendaraanForm"
        factory-name="LeadTimeBookingUnitKendaraanFactory"
        model="mLeadTimeBookingUnitKendaraan"
        model-id="PDDBufferId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="LeadTimeBookingUnitKendaraanForm"
        form-title="LeadTimeBookingUnitKendaraan"
        modal-title="Lead Time Booking Unit Kendaraan"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >


        <div class="row">
         <div class="col-md-6">

			<div class="form-group" show-errors>
				<bslabel>Model</bslabel>
				<bsselect name="VehicleModelId" ng-model="mLeadTimeBookingUnitKendaraan.VehicleModelId" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" on-select="value(selected)" placeholder="Select Model" icon="fa fa-search">
				</bsselect>
			</div>
			<bserrmsg field="VehicleModelId"></bserrmsg>
			
            <div class="form-group" show-errors>
                <bsreqlabel>Length Time Of Booking</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="LengthTimeOfBooking" placeholder="Length Time Of Booking" ng-model="mLeadTimeBookingUnitKendaraan.LengthTimeOfBooking"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="LengthTimeOfBooking"></bserrmsg>
            </div>
			
			<div class="form-group" show-errors>
                <bsreqlabel>Length Time Booking Fee</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="LengthTimeBookingFee" placeholder="Length Time Booking Fee" ng-model="mLeadTimeBookingUnitKendaraan.LengthTimeBookingFee"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="LengthTimeBookingFee"></bserrmsg>
            </div>
			
			<div class="form-group" show-errors>
                <bsreqlabel>Lead Time Stock</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="LeadTimeStock" placeholder="Lead Time" ng-model="mLeadTimeBookingUnitKendaraan.LeadTimeStock"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="LeadTimeStock"></bserrmsg>
            </div>

          </div>
        </div>
</bsform-grid-tree>
