<style type="text/css">
/* The Modal (background) */
.vendor {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 20;
    top: 0;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.vendor-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.vendor-header {
    padding: 2px 16px;
    background-color: #ff0000;
    color: white;
}

.vendor-body {padding: 2px 16px;}

.vendor-footer {
    padding: 2px 16px;
    background-color: #ff0000;
    color: white;
}
</style>

<!-- [START] MODAL VENDOR REGION -->
<!-- The Modal -->
<div ng-app="app" ng-controller="GoodsIssueController" ng-if="isShowModal" id="myModal" class="vendor">

  <!-- Modal content -->
  <div class="vendor-content">
    <div class="vendor-header">
      <span class="close">&times;</span>
      <h2>Detail Vendor</h2>
    </div>
    <div class="vendor-body" style="padding-bottom: 10px">
        <div ng-include="'app/parts/purchaseorder/tam_sop_appointment/view_vendor.html'"></div>
    </div>
    </div>
</div>

<!-- [START] JS Modal Parts -->
<script>
var modal = document.getElementById('myModal');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
    modal.style.display = "block";
    console.log("dikil");
}

span.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!-- [END] JS Modal Parts -->
<!-- [START] MODAL VENDOR REGION -->