<uib-accordion close-others="oneAtATime">
  <div ng-repeat="item in mDataVehicleHistory" uib-accordion-group class="panel-default">
    <uib-accordion-heading>
      <table style="width:100%">
        <tr>
          <th colspan="2">{{item.ServiceNumber}}</th>
        </tr>
        <tr>
          <td>Tanggal Servis : {{item.ServiceDate |date:'dd/MMM/yyyy'}}</td>
          <td class="text-right">SA : <a href="#" ng-click="teknisi(item,2)">{{item.ServiceAdvisor}}</a></td>
        </tr>
        <tr>
          <td>Lokasi services : {{item.LocationService}}</td>
          <td class="text-right">Foreman : <a href="#" ng-click="teknisi(item,3)">{{item.Foreman}}</a></td>
        </tr>
        <tr>
          <td>KM : {{item.Km}}</td>
          <!-- <td class="text-right">Group : {{item.Group}}</td> -->
          <!-- <td class="text-right">Tanggal Servis : {{item.ServiceDate |date:dd/mm/yyyy}}</td> -->
          <td class="text-right" ng-if="item.KategoriServiceId == 1">Kategori : GR</td>
          <td class="text-right" ng-if="item.KategoriServiceId == 0">Kategori : BP</td>
        </tr>
        <tr>
          <td>Job Suggest : {{item.JobSuggest}}</td>
          
        </tr>
        <!-- <tr>
          <td> </td>
          <td><a href="#" ng-click="teknisi()">Teknisi : {{item.JobSuggest}}</a></td>
        </tr> -->
      </table>
    </uib-accordion-heading>
    <uib-accordion close-others="oneAtATime">
      <div ng-repeat="itemJob in item.VehicleJobService" is-open="status.open" uib-accordion-group class="panel-default">
        <uib-accordion-heading>
          {{itemJob.JobDescription}} <br>
          Teknisi :  <a href="#" ng-click="teknisi(itemJob,1)">{{itemJob.EmployeeName}}</a>
          <!-- {{itemJob.EmployeeName}} -->
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        <table class="table table-striped">
          <tr>
            <th>Material</th>
            <th>Qty</th>
            <th>Satuan</th>
          </tr>
          <tr ng-repeat="tr in itemJob.VehicleServiceHistoryDetail">
            <td>{{tr.Material}}</td>
            <td>{{tr.Quantity}}</td>
            <td>{{tr.Satuan}}</td>
          </tr>
        </table>
      </div>
    </uib-accordion>
  </div>
</uib-accordion>

<bsui-modal 
           show="show.teknisi" 
           title="Riwayat Training Dan Sertifikasi" 
           data="modal_model"  
           
           button-settings="buttonSettingModal"
           mode="modalMode"
       > <!-- on-cancel="CheckCancel" -->
         <div ng-form name="riwayatForm">
         <!-- <bslabel>Pilih metode pemulihan Toyota ID sesuai informasi yang pernah tersimpan pada sistem</bslabel> -->
             <b> {{namaRole}} : {{namaTeknisi}}</b>
             <br>
             <br>
             <div class="row">
                 <!-- <div class="col-md-3">
                      <div class="radio">
                        <label><input type="radio" ng-model="mForgot.flag" ng-value="filterForgot[0]">Nomor Handphone</label>
                      </div>  
                  </div>
                  <div class="col-md-6">
                      <input type="text" name="optname" ng-disabled="mForgot.flag.key != filterForgot[0].key" ng-model="mForgot.valueHP" class="form-control" disallow-space>
                  </div>
                  <div class="col-md-3"></div> -->

                <div class="form-group">
                  <label>Training</label>
                  <div ng-repeat="cs in training">
                  <!--  class="control-label col-lg-4" -->
                    <label>{{$index+1}}. Tanggal: {{cs.TrainingDate |date:dd/mm/yyyy}} { {{cs.TrainingName}} ,{{cs.TrainingResultStatus}}, {{cs.TrainingScore}}} </label>
                    <!-- <label>{{bike}}</label> -->
                  </div>
                </div>
             
             </div>
             <br>

             <div class="row">

                <div class="form-group">
                  <label>Sertifikasi</label>
                  <div ng-repeat="cs in sertification">
                  <!--  class="control-label col-lg-4" -->
                    <label>{{$index+1}}. Tanggal: {{cs.tanCertificationDateggal |date:dd/mm/yyyy}} { {{cs.CertificationName}}, {{cs.CertificationResultStatus}}, {{cs.CertificationScore}}} </label>
                    <!-- <label>{{bike}}</label> -->
                  </div>
                </div>
                 <!-- <div class="col-md-3">
                      <div class="radio">
                        <label><input type="radio" ng-model="mForgot.flag" ng-value="filterForgot[1]">Email</label>
                      </div>  
                  </div>
                  <div class="col-md-6">
                      <input type="text" name="optname" ng-disabled="mForgot.flag.key != filterForgot[1].key" ng-model="mForgot.valueEmail" class="form-control" disallow-space>
                  </div>
                  <div class="col-md-3"></div> -->
             </div>
         </div>
       </bsui-modal>

          <!-- <div class="col-xs-12">
            <div class="col-xs-12">
              <div class="col-xs-12" style="border:1px solid #000; border-radius: 3px;"> 
                
                <div class="form-group">
                  <div class="col-xs-6">
                    <div class="col-xs-12">
                      <b>{{mDetail.JobTask[0].TaskName}}</b>
                    </div>
                    <div class="col-xs-12">
                      Lokasi Service : {{mDetail.OutletId}}
                    </div>
                    <div class="col-xs-12">
                      Job Suggest : {{mDetail.JobSuggest}}
                    </div>
                  </div>

                  <div class="col-xs-6" align="right">
                    <div class="col-xs-12">
                      {{mDetail.JobDate | date:dd/mm/yyyy}}
                    </div>
                    <div class="col-xs-12">
                      SA : {{mDetail.EmployeeSa.People.FirstName + ' ' + mDetail.EmployeeSa.People.LastName}}
                    </div>
                    <div class="col-xs-12">
                      Kategori : {{mDetail.Process.Name}}
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-12" style="margin-top:16px;" > 
              <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" is-open="status.open">  
                   <uib-accordion-heading>
                        <b>{{mDetail.JobTask[0].TaskName}}</b>
                      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                   </uib-accordion-heading>
                   <table class="table table-striped">
                      <thead>
                         <tr>
                            <td><b>Material</b></td>
                            <td><b>Qty</b></td>
                            <td><b>Satuan</b></td>
                         </tr>
                      </thead>

                      <tbody ng-repeat="b in mDetail.JobTask[0].JobParts">
                         <tr>
                           <Td>{{b.PartsName}}</Td>
                           <Td>{{b.Qty}}</Td>
                           <Td>{{b.Satuan.Name}}</Td>
                         </tr>
                      </tbody>

                   </table>
               </div>
              </uib-accordion>
            </div>

            <div class="col-md-12">
              <div class="col-md-11"></div>
              <div class="col-md-1">
                  <br>
                  <button class="btn btn-info" ng-click="detBack()" skip-disable="skipDisable1">Back</button>
              </div>
            </div>

          </div> -->