<!-- <!DOCTYPE html>  -->
<!-- <html> -->

<head>

    <style type="text/css">
        input.rangka {
            height: 50px;
            width: 100%;
            color: #b30000;
            padding: 10px;
            font-size: 28px;
            text-align: left;
        }
        /*
.button {
    background-color: #cccccc;
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
    width: 80px;
}

.rotate90 {
    display: inline-block;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all linear 200ms;
    transition: all linear 200ms;
}

.rotate-back {
    display: inline-block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all linear 200ms;
    transition: all linear 200ms;
}

.panel1 {
    padding: 0 18px;
    background-color: white;
    overflow: visible;
    transition: 0.2s all linear;
}

.panel2 {
    -webkit-transition: all linear 200ms;
    transition: all linear 200ms;
}*/
        
        .bs-list .ui-grid-nodata {
            position: relative;
        }
    </style>
</head>

<!-- kalo push ini di matiin dulu -->
<!-- ok action-button-settings-detail="actionButtonSettingsDetail"-->
<bsform-base ng-form="VehicleDataForm" factory-name="vehicleData" model="mVehicleData" loading="loading" model-id="Id" action-button-settings="actionButtonSettings" action-button-settings-detail="actionButtonSettingsDetail" get-data="getData" selected-rows="selectedRows"
    on-select-rows="onSelectRows" show-advsearch="on" form-name="VehicleDataForm" form-title="Vehicle Data" modal-title="Vehicle Data" modal-size="small" icon="fa fa-fw fa-child" form-api="formApi">
    <!-- 
<bsform-grid 
  ng-form="VehicleDataForm" 
  factory-name="vehicleData" 
  model="mVehicleData" 
  model-id="Id" 
  loading="loading"
  
  get-data="getData"
  selected-rows="selectedRows" 
  on-select-rows="onSelectRows"
  on-show-detail="onShowDetail"
  show-advsearch="on"
  force-get-data="forceGetData"
  detail-action-button-settings = "detailActionButtonSettings"

  form-name="VehicleDataForm" 
  form-title="Vehicle Data" 
  modal-title="Vehicle Data"
  modal-size="small"  
  icon="fa fa-fw fa-child"> -->

    <bsform-advsearch>
        <div class="row">
            <br>
            <div class="form-group">
                <div class="col-md-2">
                    <div class="bslabel-horz" uib-dropdown style="position:relative!important;">
                        <a href="#" style="color:#444" onclick="this.blur()" uib-dropdown-toggle data-toggle="dropdown">
                            {{filterFieldSelected}}&nbsp;<span class="caret"></span><span style="color:#b94a48;">&nbsp;*</span>
                      </a>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                            <li role="menuitem" ng-repeat="item in NSearchData">
                                <a href="#" ng-click="filterFieldChange(item)">{{item.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="toyotaId" placeholder="" ng-model="mFilterData.xcari" ng-maxlength="20" ng-disabled="menuIsOpen===1" style="text-transform: uppercase;" disallow-space>
                </div>
            </div>

            <br>

            <hr style="margin-top:10px;margin-bottom:10px;">
            <!-- <div class="ui toggle checkbox" style="margin-left:10px;" ng-show="show.advSearch">
                <input type="checkbox" ng-model="mFilterData.filterSearch">
                <label style="font-size:13px;padding-top:0px">Advanced Search </label>
            </div> -->

            <div class="row">
                <div class="col-md-12">
                    <fieldset style="border:2px solid #e2e2e2;padding:3px; margin:5px;" ng-show="mFilterData.filterSearch">
                        <legend style="width:inherit; margin-bottom: 5px;padding-bottom: 5px;">Filter</legend>
                        <div class="col-md-12">
                            <div class="row" style="margin-left: 0px;">

                                <div class="col-md-2">
                                    <bsreqlabel>Model Kendaraan</bsreqlabel>
                                </div>
                                <div class="col-md-3 form-inline">
                                    <bsselect name="vehicleModel" ng-model="mFilterData.vehicleModelId" data="modelVehicle" item-text="VehicleModelName" item-value="VehicleModelId" placeholder="Pilih Pencarian" on-select="selectModel(selected)" style="min-width: 150px;">
                                    </bsselect>
                                </div>

                                <div class="col-md-2">
                                    <bslabel>Tahun Rakit</bslabel>
                                </div>
                                <div class="col-md-3 form-inline">
                                    <div class="col-md-11">
                                        <bsdatepicker name="AssemblyYear" ng-model="mFilterData.AssemblyYear" date-options="AssemblyYearOptions">
                                        </bsdatepicker>

                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="row" style="margin-left: 0px;">
                                <div class="col-md-2">
                                    <bsreqlabel>Tipe Kendaraan</bsreqlabel>
                                </div>
                                <div class="col-md-3 form-inline">
                                    <bsselect name="VehicleType" ng-model="mFilterData.VehicleTypeId" data="typeVehicle" item-text="Description , SuffixCode" item-value="VehicleTypeId" placeholder="Pilih Pencarian" style="min-width: 150px;" ng-disabled="mFilterData.vehicleModelId == undefined">
                                    </bsselect>
                                </div>

                                <div class="col-md-2">
                                    <bslabel>Tanggal Produksi</bslabel>
                                </div>
                                <div class="col-md-5 form-inline">
                                    <div class="col-md-5">
                                        <bsdatepicker name="tanggalProd1" ng-model="mFilterData.ProdDate1" date-options="dateOptions" ng-change="startDateChange(mFilterData.ProdDate1)">
                                        </bsdatepicker>
                                    </div>

                                    <div class="col-md-1">
                                        <label> s/d </label>
                                    </div>

                                    <div class="col-md-5">
                                        <bsdatepicker name="tanggalProd2" ng-model="mFilterData.ProdDate2" date-options="dateOptionsEnd">
                                        </bsdatepicker>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>

                    </fieldset>
                    <br><br>
                </div>
            </div>
        </div>
    </bsform-advsearch>


    <bsform-base-main>
        <!-- {{gridGroupSearch}} -->
        <bslist name="gridVehicle" data="gridGroupSearch" factory-name="vehicleData" on-select-rows="onListSelectRows" selected-rows="listSelectedRows" confirm-save="true" list-model="lmModel" m-id="Id" modal-title="Info Pelanggan" button-settings="listButtonSettingsGroupSearch"
            custom-button-settings-detail="listCustomButtonSettingsGroupSearch">
            <bslist-template>
                <p class="name"><strong>( {{ lmItem.MVehicleTypeColor.MVehicleType.MVehicleModel.VehicleModelName }} )</strong> {{ lmItem.MVehicleTypeColor.MVehicleType.Description }} {{ lmItem.VehicleList.MVehicleTypeColor.MColor.ColorName }}</p>
                <p>Nomor Polisi : {{ lmItem.LicensePlate }} , No Mesin : {{ lmItem.EngineNo }} , No Rangka : {{ lmItem.VIN }} </p>
                <p>Tahun Rakit : {{ lmItem.AssemblyYear }} </p>

                <div>
                </div>
                <!-- , Tanggal Produksi : {{ lmItem.ProdDate }}  -->
            </bslist-template>
    </bsform-base-main>


    <bsform-base-detail>

        <div id="all" ng-hide="hdetail">
            <div class="col-md-12">

                <bstabwiz fullwidth="true" on-finish="isFinished = true" current-step="currentStep">

                    <bstabwiz-pane title="Kendaraan" desc="Data Informasi Kendaraan">
                        <div ng-include="'app/crm/vehicleData/vehicleData_Info.html'"></div>
                    </bstabwiz-pane>

                    <bstabwiz-pane title="Pengguna" desc="Data Informasi Pengguna Saat Ini" show="show.xtab">

                        <!-- <div ng-include="'app/crm/vehicleData/vehicleData_Owner.html'"></div> -->


                        <div class="col-md-12">
                            <div class="row">
                                <div id="hj" ng-hide="false">
                                    <br>
                                    <!-- <div ui-grid="gridCData" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid" style="height: 200px;">
                            </div> -->
                                    <div ng-include="'app/crm/vehicleData/vehicleData_Owner.html'"></div>
                                </div>
                            </div>
                        </div>
                    </bstabwiz-pane>

                    <bstabwiz-pane title="Servis" desc="Data Informasi Riwayat Kepemilikan dan Servis" icon="info">
                        <!-- <div class="col-md-12"> -->
                        <!-- {{fsalesInfo}} -->
                        <br>
                        <fieldset style="border:2px solid #e2e2e2;padding:3px">
                            <legend style="width:inherit; margin-bottom: 0px;">Informasi Pembelian Kendaraan</legend>
                            <!-- <label><b>Informasi Data Pembelian Kendaraan</b></label> -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Branch Good Receive Date</label>
                                        <input type="text" class="form-control" ng-model="dataSalesHistory.branchgoodreceivedate" ng-disabled="true" skip-enable="true">
                                    </div>

                                    <div class="form-group">
                                        <label>Name Salesforce</label>
                                        <input type="text" class="form-control" ng-model="dataSalesHistory.salesforce" ng-disabled="true" skip-enable="true">
                                    </div>

                                    <div class="form-group">
                                        <label>Asuransi yang digunakan</label>
                                        <input type="text" class="form-control" ng-model="dataSalesHistory.insurance" ng-disabled="true" skip-enable="true">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tanggal Pengiriman yang dijanjikan</label>
                                        <input type="text" class="form-control" ng-model="dataSalesHistory.jadwaltanggalpengiriman" ng-disabled="true" skip-enable="true">
                                    </div>
                                    <div class="form-group">
                                        <label>Tanggal Pengiriman Aktual</label>
                                        <input type="text" class="form-control" ng-model="dataSalesHistory.aktualtanggalpengiriman" ng-disabled="true" skip-enable="true">
                                    </div>
                                    <div class="form-group">
                                        <label>Leasing yang digunakan</label>
                                        <input type="text" class="form-control" ng-model="dataSalesHistory.leasing" ng-disabled="true" skip-enable="true">
                                    </div>
                                </div>
                                <!-- <div id="hj">
                                <label><b>Informasi Penjualan Kendaraan</b></label>
                                  <div ui-grid="gridInfoSales" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid" style="height: 250px;">
                                  </div>
                              </div> -->
                            </div>
                        </fieldset>

                        <br>

                        <div class="row" style="margin-left:0px;margin-right:0px">
                            <fieldset style="border:0px solid #e2e2e2;padding:3px">
                                <legend style="width:inherit; margin-bottom: 0px;">Riwayat Kepemilikan Kendaraan</legend>
                                <!-- <label><b>Informasi Riwayat Kepemilikan Kendaraan</b></label> -->
                                <bslist name="gridVehicleOwner" data="gridVehicleOwner" factory-name="vehicleData" on-select-rows="onListSelectRows" selected-rows="listSelectedRows" confirm-save="true" list-model="lmModel" m-id="Id" modal-title="Info Pelanggan" button-settings="listButtonSettingsVehicleOwner"
                                    custom-button-settings-detail="listCustomButtonSettingsVehicleOwner">
                                    <bslist-template>
                                        <p class="name"><strong>( {{ lmItem.Name }} )</strong> </p>
                                        <p>Kepemilikan : {{ lmItem.StartDate | date:'dd/MM/yyyy'}} - {{ lmItem.tanggal}} </p>
                                        <div>
                                        </div>
                                    </bslist-template>
                                    <!-- <div id="hj" ng-hide="false">
                                  <label><b>Pilih Informasi Riwayat Kepemilikan Kendaraan</b></label>
                                    <div ui-grid="gridHOwner" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid" style="height: 200px;">
                                    </div>
                                    <div class="selectedItems">{{mySelections1}}</div>
                                </div> -->
                            </fieldset>
                        </div>

                        <!-- <div class="row" ng-hide="hservis" style="margin-left:0px;margin-right:0px"> -->
                            <div class="row" style="margin-left:0px;margin-right:0px">
                            <!-- <div ng-hide="hdetService"> -->
                                <!-- <br><br> -->
                                <!-- <fieldset style="border:0px solid #e2e2e2;padding:3px"> -->
                                    <legend style="width:inherit; margin-bottom: 0px;">Riwayat Service Kendaraan</legend>
                                    <!-- <label><b>Informasi Servis Kendaraan</b></label> -->
                                    <!-- <div ng-include="'app/crm/vehicleData/vehicleData_DetService.html'">
                                    </div>
                                </fieldset> -->
                                <uib-accordion close-others="oneAtATime">
                                    <div ng-repeat="item in mDataVehicleHistory" uib-accordion-group class="panel-default">
                                        <uib-accordion-heading>
                                            <table style="width:100%">
                                                <tr>
                                                    <td>{{item.VehicleJobService[0].JobDescription}}</td>
                                                    <td class="text-right">{{item.ServiceNumber}} | {{item.ServiceDate |date:'dd-MMM-yyyy'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Lokasi services : {{item.ServiceLocation}}</td>
                                                    <!-- <td>Lokasi services : {{item.LocationService}}</td> -->
                                                    <td class="text-right">SA : {{item.ServiceAdvisor}}</td>
                                                </tr>
                                                <tr>
                                                    <td>KM : {{item.Km}}</td>
                                                    <!-- <td class="text-right">Group : {{item.Group}}</td> -->
                                                    <td class="text-right" ng-if="item.KategoriServiceId == 1">Teknisi : {{item.namaTeknisi}}</td>
                                                    <td class="text-right" ng-if="item.KategoriServiceId == 0">Group : {{item.Foreman}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Job Suggest : {{item.JobSuggest}}</td>
                                                    <td class="text-right" ng-if="item.KategoriServiceId == 1">Kategori : GR</td>
                                                    <td class="text-right" ng-if="item.KategoriServiceId == 0">Kategori : BP</td>
                                                </tr>

                                                <!-- keluhan ini di komen karena sudah ada accordion yang buat keluhan -->
                                                <!-- <tr>
                                                    <td>Keluhan : {{item.VehicleComplaintService[0].ComplaintDesc}}</td> 
                                                    <td class="text-right">Nama Teknisi : {{item.namaTeknisi}}</td> -->
                                                    <!-- <td class="text-right">Nama Teknisi : {{item.EmployeeName}}</td>                                             -->
                                                <!-- </tr> -->

                                            </table>
                                        </uib-accordion-heading>

                                        <uib-accordion close-others="oneAtATime">
                                            <div is-open="statusRequest.open" uib-accordion-group class="panel-default">
                                                <uib-accordion-heading>
                                                    Permintaan
                                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                                </uib-accordion-heading>
                                                <table class="table table-striped">
                                                    <tr>
                                                        <th>No. Permintaan</th>
                                                        <th>Deskripsi Permintaan</th>
                                                        
                                                    </tr>
                                                    <tr ng-repeat="itemRequest in item.VehicleRequestService">
                                                        <td>{{$index + 1}}</td>
                                                        <td>{{itemRequest.RequestDesc}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </uib-accordion>
                            
                                        <uib-accordion close-others="oneAtATime">
                                            <div is-open="statusComplaint.open" uib-accordion-group class="panel-default">
                                                <uib-accordion-heading>
                                                    Keluhan
                                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                                </uib-accordion-heading>
                                                <table class="table table-striped">
                                                    <tr>
                                                        <th>No. Keluhan</th>
                                                        <th>Kategori Keluhan</th>
                                                        <th>Deskripsi Keluhan</th>
                                                        
                                                    </tr>
                                                    <tr ng-repeat="itemComplaint in item.VehicleComplaintService">
                                                        <td>{{$index + 1}}</td>
                                                        <td>{{itemComplaint.ComplaintCatg}}</td>
                                                        <td>{{itemComplaint.ComplaintDesc}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </uib-accordion>

                                        <uib-accordion close-others="oneAtATime">
                                            <div ng-repeat="itemJob in item.VehicleJobService" is-open="status.open" uib-accordion-group class="panel-default">
                                                <uib-accordion-heading>
                                                    {{itemJob.JobDescription}}
                                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                                </uib-accordion-heading>
                                                <table class="table table-striped">
                                                    <tr>
                                                        <th>No. Material</th>
                                                        <th>Material</th>
                                                        <th>Qty</th>
                                                        <th>Satuan</th>
                                                    </tr>
                                                    <tr ng-repeat="tr in itemJob.VehicleServiceHistoryDetail">
                                                        <td>{{tr.MaterialCode}}</td>
                                                        <td>{{tr.Material}}</td>
                                                        <td>{{tr.Quantity | number:2}}</td>
                                                        <td>{{tr.Satuan}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </uib-accordion>
                                    </div>
                                </uib-accordion>
                            <!-- </div> -->
                            <!-- <bslist
                          name="gridVehicleService" data="gridVehicleService" factory-name="vehicleData" on-select-rows="onListSelectRows"
                          selected-rows="listSelectedRows" confirm-save="true" list-model="lmModel" m-id="Id"

                          modal-title="Info Pelanggan"

                          button-settings="listButtonSettingsVehicleService"
                          custom-button-settings-detail="listCustomButtonSettingsVehicleService"
                          >
                      <bslist-template>
                          <p class="name"><strong> {{ lmItem.JobDate }} </strong> Kategori : {{lmItem.Process.Name}} - {{lmItem.JobType}} ( {{lmItem.Km}} )</p>
                          <p>Dealer : {{ lmItem.OutletId }} , Service Advisor : {{ lmItem.EmployeeSa }} </p>
                          <p>Job Suggest : {{lmItem.JobSuggest}}</p>
                          <div>
                          </div>
                      </bslist-template> -->

                            <!-- <div id="hj" ng-hide="hservis">
                        <br>
                        <label><b>Informasi Servis Kendaraan</b></label>
                          <div ui-grid="gridInfoService" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize ui-grid-pinning class="grid" style="height: 250px;">
                          </div>              
                        </div> -->
                        </div>
                        <!-- </div> -->
                    </bstabwiz-pane>

                </bstabwiz>
            </div>
        </div>
        </div>
        <!--           {{hdetService}}
          {{mDataVehicleHistory}} -->


        <!-- <div ng-hide="heditOwner" class="row" style="margin-top: 20px;">
            <div ng-include="'app/crm/vehicleData/vehicleData_Owner.html'"></div>
        </div>  di tutup karena di controlernya di hide--> 
    </bsform-base-detail>
</bsform-base>
<!-- </bsform-grid> -->

<!-- kalo push ini di matiin dulu -->