<script type="text/javascript">

</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

fieldset.scheduler-border {
    width:auto; border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="stylesheet" type="text/javascript" href="https://cdn.rawgit.com/eligrey/FileSaver.js/">
		
<ng-form name="ReportGrossProfitForm" class="row">
	<div class="col-md-12">
		<div class="col-md-3">
			<bsreqlabel>Tanggal Billing</bsreqlabel>
			<div class="input-icon-right ">
				<bsdatepicker name="ReportGrossProfitTanggalAwal" ng-change="tanggalBilling_Changed()" format="dd/MM/yyyy" date-options="dateOptions" ng-model="ReportGrossProfit_TanggalAwal" max-date="newDate">
				</bsdatepicker>
			</div>
		</div>
		<div class="col-md-1" style="margin-top:30px;" align="center">
			s.d.
		</div>
		<div class="col-md-3" style="margin-top:20px;">
			<div class="input-icon-right ">
				<bsdatepicker name="ReportGrossProfitTanggalAkhir" ng-change="tanggalBilling_Changed()" format="dd/MM/yyyy" date-options="dateOptions" ng-model="ReportGrossProfit_TanggalAkhir" max-date="newDate">
				</bsdatepicker>
			</div>
		</div>
		
		<div class="col-md-3">
			<bsreqlabel>Nama Branch</bsreqlabel>
			<div class="input-icon-right">
				<!-- <input type="text" class="form-control" name="ReportGrossProfitBranch" placeholder="Branch" ng-model="ReportGrossProfit_Branch" 
					ng-maxlength="50" ng-disabled="!ReportGrossProfitBranch_isDisabled"> -->

					<bsselect ng-model="ReportGrossProfit_Branch" data="optionsReportGrossProfit_NamaBranch" ng-change="NamaBranch_Changed()"
					item-text="BranchName" item-value="BranchId" on-select="value(selected)" placeholder="Branch" icon="fa fa-search"
					ng-disabled="!Main_NamaBranch_EnableDisable">
					</bsselect>
					<span ng-if="!NamaBranchOK" style="color: #b94a48" class="help-block">{{errNamaBranch}}</span>
	
			</div>
		</div>
	</div>

	<!-- <div class="col-md-12 has-error">
			<div class="has-error" style="margin-left:15px;">
				<span ng-show="ReportGrossProfit_TanggalAwal>ReportGrossProfit_TanggalAkhir" class="help-block">Tanggal awal harus lebih kecil atau sama dengan tanggal akhir!</span>
			</div>
		</div> -->

	<div class="col-md-12 has-error">
		<div class="has-error" style="margin-left:15px;">
			<span ng-if="!tanggalBillingOK" class="help-block">{{errTanggalBilling}}</span>
			<span ng-if="ReportGrossProfitForm.ReportGrossProfitPartsTanggalAwal.$error.required && ReportGrossProfitForm.ReportGrossProfitPartsTanggalAwal.$touched"
				class="help-block">Field tanggal awal wajib diisi</span>
			<span ng-if="ReportGrossProfitForm.ReportGrossProfitPartsTanggalAkhir.$error.required && ReportGrossProfitForm.ReportGrossProfitPartsTanggalAkhir.$touched"
				class="help-block">Field tanggal akhir wajib diisi</span>
		</div>
	</div>

	<div class="col-md-12" style="margin-top: 30px">
		<div class="col-md-3">
			<bslabel>Model</bslabel>
			<bsselect ng-change="ReportGrossProfit_Model_Changed()" ng-model="ReportGrossProfit_Model"
			 data="optionsReportGrossProfitModel" item-text="name" item-value="value" on-select="value(selected)" placeholder="Model"
			 icon="fa fa-search">
			</bsselect>
		</div>
		
		<div class="col-md-4">
			<div class="col-md-3" style="margin-top:5px">
				Tipe Report
			</div>
			<div class="col-md-6">
				<p><input type="radio" ng-model="ReportGrossProfit_TipeReport" ng-value="1">&nbsp;Hanya Unit</p>
				<p><input type="radio" ng-model="ReportGrossProfit_TipeReport" ng-value="2">&nbsp;Unit + Others(aksesoris dll)</p>
			</div>
		</div>
	</div>
	
	<div class="col-md-12" style="margin-top: 30px">
		<div class="col-md-3">
			<bslabel>Status Fleet</bslabel>
			<bsselect ng-change="ReportGrossProfit_StatusFleet_Changed()" ng-model="ReportGrossProfit_StatusFleet"
			 data="optionsReportGrossProfitStatusFleet" item-text="name" item-value="value" on-select="value(selected)" placeholder="Status Fleet"
			 icon="fa fa-search">
			</bsselect>
		</div>
		
		<div class="col-md-3">
			<bslabel>Status Batal Billing</bslabel>
			<bsselect ng-change="ReportGrossProfit_StatusBilling_Changed()" ng-model="ReportGrossProfit_StatusBilling"
			 data="optionsReportGrossProfitStatusBilling" item-text="name" item-value="value" on-select="value(selected)" placeholder="Status Billing"
			 icon="fa fa-search">
			</bsselect>
		</div>
	</div>
	
	<div class="col-md-12">
		<button id="Report_Excel" ng-click="Report_Excel_Clicked()"
		ng-disabled="ReportGrossProfit_TanggalAwal>ReportGrossProfit_TanggalAkhir" type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px" 
		ng-disabled="!ReportGrossProfit_EnableDisable">
			<span class="ladda-label">
				Excel
			</span><span class="ladda-spinner"></span>
		</button>
	</div>
</ng-form>
