<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="TaskListForm"
        factory-name="TaskList"
        model="mTaskList"
        loading="loading"
        model-id="TaskId"

        get-data="getData"
        selected-rows="xTaskList.selected"
        on-select-rows="onSelectRows"
        on-show-detail="onShowDetail"
        show-advsearch="on"

        modal-title="Task List"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

        <bsform-advsearch>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Kode Task</label>
                        <div class="input-icon-right">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" name="filterCode" placeholder="Kode Task" ng-model="filter.Code">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nama Task</label>
                        <div class="input-icon-right">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" name="filterName" placeholder="Nama Task" ng-model="filter.Name">
                        </div>
                    </div>
                </div>
            </div>
        </bsform-advsearch>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>Kode Task</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="Code" placeholder="Kode Task" ng-model="mTaskList.Code" required>
                    </div>
                    <bserrmsg field="Code"></bserrmsg>
                </div>
                <div class="form-group" show-errors>
                    <bsreqlabel>Nama Task</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="Name" placeholder="Nama Task" ng-model="mTaskList.Name" required>
                    </div>
                    <bserrmsg field="Name"></bserrmsg>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ui-grid="partList" ui-grid-resize-columns ui-grid-edit ui-grid-cellNav ui-grid-auto-resize ng-cloak>
                </div>
            </div>
        </div>

</bsform-grid>