<script type="text/javascript">

</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript" src="js/print_min.js"></script>

		<div ng-show="MainreportAPAging_Show">
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group">		
					<bsreqlabel>Tanggal</bsreqlabel>				
						<bsdatepicker name="TanggalStart" date-options="dateOptions" ng-change="tanggal_Changed()" format="dd/MM/yyyy" ng-model="reportAPAging_TanggalStart" max-date="dateNow">
						</bsdatepicker>
						<span ng-if="!tanggalOK" style="color: #b94a48" class="help-block">{{errTanggal}}</span>
					</div>
				</div>

				<div class="col-md-4">
					<bsreqlabel>Nama Branch</bsreqlabel>
					<div class="input-icon-right; ">
						<bsselect ng-model="ReportAPAging_NamaBranch" data="optionsReportAPAging_NamaBranch" 
						item-text="BranchName" item-value="BranchId" on-select="value(selected)" placeholder="Branch" icon="fa fa-search"
						ng-disabled="!reportAPAging_NamaBranch_EnableDisable">
						</bsselect>		
					</div>
				</div>
			</div>
			
			<div class="row">

				<div class="col-md-12">
					<button id="Btn_reportAPAging_Excel" ng-click="reportAPAging_ButtonExcel_Clicked()"
						type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px" >
						<span class="ladda-label">
							Excel
						</span><span class="ladda-spinner"></span>
					</button>
					<!--<button id="Btn_reportAPAging_Cetak" ng-click="reportAPAging_ButtonCetak_Clicked()"
						type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px"  >
						<span class="ladda-label">
							Cetak
						</span><span class="ladda-spinner"></span>
					</button> -->
				</div>
			</div>
	</div>