<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid ng-form="CustomerListSosialMediaForm" factory-name="CustomerListSosialMediaFactory" model="mCustomerListSosialMedia" model-id="Id" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="CustomerListSosialMediaForm" form-title="Customer List Preference" modal-title="Customer List Preference" modal-size="small" icon="fa fa-fw fa-child">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Social Media Address</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="SocialMediaAddress" placeholder="SocialMediaAddress" ng-model="mCustomerListSosialMedia.SocialMediaAddress" ng-maxlength="50" required>
                </div>
                <bserrmsg field="SocialMediaAddress"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Frequently Used</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="FrequentlyUsed" placeholder="Frequently Used" ng-model="mCustomerListSosialMedia.FrequentlyUsed" ng-maxlength="50" required>
                </div>
                <bserrmsg field="FrequentlyUsed"></bserrmsg>
            </div>
        </div>
    </div>
</bsform-grid-tree>



