<script type="text/javascript">
//for (i = 0; i < 2; i++) 
//{
    //var number = document.getElementById('LeadTimeBookingFeeDanPenyerahanBookingFeeKeKasir_PreventNegative_'+i);
	// Listen for input event on numInput.
	//number.onkeydown = function(e) {
	//	if(!((e.keyCode >= 48 && e.keyCode <= 57)
	//	  || e.keyCode == 190|| e.keyCode == 8|| e.keyCode == 46)) {
	//		//titik tu 190 buat decimal
	//		return false;
	//	}
	//}
//}
</script>
<style type="text/css">


</style>
<bsform-grid
        ng-form="LeadTimeBookingFeeDanPenyerahanBookingFeeKeKasirForm" 
		factory-name="LeadTimeBookingFeeDanPenyerahanBookingFeeKeKasirFactory" 
		model="mLeadTimeBookingFeeDanPenyerahanBookingFeeKeKasir" 
		model-id="LeadtimeBookingFeeId" loading="loading" 
		get-data="getData" 
		selected-rows="selectedRows" 
		on-select-rows="onSelectRows" 
		form-name="LeadTimeBookingUnitForm" 
		form-title="Lead Time" 
		modal-title="Master Lead Time Booking Unit" 
		modal-size="small"
		form-api="formApi" 
		do-custom-save="doCustomSave"
		icon="fa fa-fw fa-child"
		show-advsearch="on">
		
		<bsform-advsearch>
			<div class="row">
				<div class="col-md-6">
					<bslabel>Model</bslabel>
					<bsselect style="margin-bottom: 10px;" 
						ng-model="filter.VehicleModelId"
						data="optionsModel" 
						item-text="VehicleModelName" 
						item-value="VehicleModelId" 
						on-select="value(selected)" 
						placeholder="Select Model"
						icon="fa fa-search">
					</bsselect>
				</div>
			</div>
		</bsform-advsearch>

        <div class="row">
            <div class="col-md-6">
				
				<bsreqlabel style="margin-top:10px;">Model</bsreqlabel>
                <bsselect required data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" ng-model="mLeadTimeBookingFeeDanPenyerahanBookingFeeKeKasir.VehicleModelId" placeholder="Model" style="min-width: 150px;">
                </bsselect>
			
                <div class="form-group" show-errors>
					<bsreqlabel style="margin-top:10px;">Batas Waktu Booking Unit (jam)</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input ng-change="noFirstZero1(mLeadTimeBookingFeeDanPenyerahanBookingFeeKeKasir.LeadTimeBooking)" id="LeadTimeBookingFeeDanPenyerahanBookingFeeKeKasir_PreventNegative_0" type="text" class="form-control" name="LeadTimeBooking" placeholder="Batas Waktu Booking Unit (jam)" ng-model="mLeadTimeBookingFeeDanPenyerahanBookingFeeKeKasir.LeadTimeBooking"
								maxlength="3" required
						>
					</div>
					<bserrmsg field="LeadTimeBooking"></bserrmsg>
				</div>
				
				<div class="form-group" show-errors>
					<bsreqlabel>Batas Waktu Penerimaan Booking Fee (jam)</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input ng-change="noFirstZero2(mLeadTimeBookingFeeDanPenyerahanBookingFeeKeKasir.LeadTimeBookingReceive)" id="LeadTimeBookingFeeDanPenyerahanBookingFeeKeKasir_PreventNegative_1" type="text" class="form-control" name="LeadTimeBookingReceive" placeholder="Batas Waktu Penerimaan Booking Fee (jam)" ng-model="mLeadTimeBookingFeeDanPenyerahanBookingFeeKeKasir.LeadTimeBookingReceive"
								maxlength="3" required
						>
					</div>
					<bserrmsg field="LeadTimeBookingReceive"></bserrmsg>
				</div>

            </div>
        </div>
        
</bsform-grid>

