<script type="text/javascript">

</script>
<style type="text/css">

</style>

<bsform-grid
        ng-form="OutletForm" factory-name="MasterAreaDealerFactoryMaster" model="mMasterAreaDealer" model-id="CustomerReligionId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="OutletForm" form-title="Outlet" modal-title="Master Outlet" modal-size="small" icon="fa fa-fw fa-child" form-api="formApi" do-custom-save="doCustomSave" show-advsearch="on">
		<bsform-advsearch>
			<div class="row" style="margin-bottom:40px">
			<div class="col-md-6">
				<bslabel>Dealer</bslabel>
				<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input readonly ng-disabled="true" type="text" class="form-control" name="GroupDealerName" placeholder="Dealer" ng-model="DaMasterAreaDealerDealerName"
								ng-maxlength="50" required
						>
					</div>
			</div>
			<div class="col-md-6">
				<bslabel>Outlet</bslabel>
				<select style="margin-top:5px" ng-model="filter.OutletId" class="form-control" ng-options="item.OutletId as item.OutletName for item in optionsOutlet_Outlet"
					placeholder="Outlet">
				<option label="-- Pilih --" value="" disabled="true"></option>	
				</select>
				
			</div>
		</div>
		</bsform-advsearch>
        <div class="row">
            <div class="col-md-6">

				
				<div class="form-group" show-errors>
					<bsreqlabel>Dealer</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input readonly ng-disabled="true" type="text" class="form-control" name="GroupDealerName" placeholder="Dealer" ng-model="DaMasterAreaDealerDealerName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="GroupDealerName"></bserrmsg>
				</div>
            </div>
			<div class="col-md-6">

				
				<div class="form-group" style="float:left;width:100%" show-errors>
					<div style="float:left;width:85%">
					<bsreqlabel>Nama Cabang</bsreqlabel>
					<div class="input-icon-right">
						<bsselect  
						ng-model="mMasterAreaDealer_OutletId"
						data="optionsMasterAreaDealerCAbang" 
						item-text="OutletName" 
						item-value="OutletId" 
						on-select="MasterAreaDealerAddDaCabang(selected)" 
						placeholder="Select Model"
						icon="fa fa-search">
					</bsselect>
					</div>
					<bserrmsg field="ProvinceName"></bserrmsg>
					</div>
					<div style="float:left;width:15%">
					<button style="margin-top:23px" class="rbtn btn" ng-click="MasterAreaDealerAddNamaCabang()">
					<i class="fa fa-plus"></i>
					</button>
					</div>
				</div>
            </div>
        </div>
		
		<div class="row">
            <div class="col-md-6">

				
				<div class="form-group" show-errors>
					<bsreqlabel>Nama Area Dealer</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="AreaDealerName" placeholder="Area Dealer" ng-model="mMasterAreaDealer.AreaDealerName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="AreaDealerName"></bserrmsg>
				</div>
            </div>
			<div class="col-md-6">

				<table class="table table-bordered table-responsive">
        			<tbody>
        				<tr>
        					<th>Nama Cabang</th>
							<th>Action</th>
        				</tr>
        				<tr ng-repeat="DaListDetailOutlet in mMasterAreaDealer.ListDetailOutlet track by $index">
        					<td>{{DaListDetailOutlet.OutletName}}</td>
        					<td><a ng-click="RemoveListDetailOutlet($index)">Remove</a></td>
        				</tr>
        			</tbody>
    			</table>
            </div>
        </div>
		
		
        
</bsform-grid-tree>

