<script type="text/javascript">

</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

fieldset.scheduler-border {
    width:auto; border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="stylesheet" type="text/javascript" href="https://cdn.rawgit.com/eligrey/FileSaver.js/">
<script type="text/javascript" src="js/print_min.js"></script>

<div class="row">
	<div ng-form name='x1'>
	<div style="margin-top:10px;">
		<div class="col-md-3" ng-class="{'has-error':X1.ReportAdvancePaymentTanggal.$error.required && X1.ReportAdvancePaymentTanggal.$touched}">
			<bsreqlabel>Tanggal</bsreqlabel>
			<div class="input-icon-right ">
				<bsdatepicker name="ReportAdvancePaymentTanggal" max-date="dateNow" date-options="dateOptions" format="dd/MM/yyyy" ng-model="ReportAdvancePayment_Tanggal" required>
				</bsdatepicker>
				<span ng-if="X1.ReportAdvancePaymentTanggal.$error.required && X1.ReportAdvancePaymentTanggal.$touched"
								 class="help-block">Field ini wajib diisi</span>
			</div>
		</div>
		
		<div class="col-md-3" ng-class="{'has-error':X1.TambahAlokasiUnknown_TujuanPembayaran_TipeAlokasiUnknown.$error.required && X1.TambahAlokasiUnknown_TujuanPembayaran_TipeAlokasiUnknown.$touched}">
			<bsreqlabel>Nama Branch</bsreqlabel>
			<div class="input-icon-right">
				<input type="text" class="form-control" name="ReportAdvancePaymentBranch" placeholder="Branch" ng-model="ReportAdvancePayment_Branch" 
					ng-maxlength="50" ng-disabled="!ReportAdvancePayment_Branch_isDisabled" ng-required="true" required>
			</div>
		</div>
	</div>
	
	<div style="margin-top: 10px;">
		<div class="col-md-3" ng-class="{'has-error':X1.ReportAdvancePaymentNamaVendor.$error.required && X1.ReportAdvancePaymentNamaVendor.$touched}">
			<bsreqlabel>Nama Vendor</bsreqlabel>
			<div class="input-icon-right">
				<input type="text" class="form-control" name="ReportAdvancePaymentNamaVendor" placeholder="Nama Vendor" ng-model="ReportAdvancePayment_NamaVendor" 
					ng-maxlength="50" maxlength="50" ng-required="true" required>
					<span ng-if="X1.ReportAdvancePaymentNamaVendor.$error.required && X1.ReportAdvancePaymentNamaVendor.$touched"
								 class="help-block">Field ini wajib diisi</span>
			</div>
		</div>
	</div>
	
	<div style="margin-top: 10px;">
		<div class="col-md-3" ng-class="{'has-error':X1.ReportAdvancePayment_Status.$error.required && X1.ReportAdvancePayment_Status.$touched}">
			<bsreqlabel>Status</bsreqlabel>
			<bsselect ng-model="ReportAdvancePayment_Status" name="ReportAdvancePayment_Status" data="optionsReportAdvancePayment_Status" placeholder="Pilih Status" item-text="name" item-value="value" on-select="value(selected)" icon="fa fa-search" required>
					</bsselect>
					<span ng-if="X1.ReportAdvancePayment_Status.$error.required && X1.ReportAdvancePayment_Status.$touched"
					class="help-block">Field ini wajib dipilih</span>
		</div>
	</div>
	
	<div class="pull-right">
		<button id="Report_Excel" ng-click="Report_Excel_Clicked()"
			type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:0px;margin-right:10px" >
			<span class="ladda-label">
				Excel
			</span><span class="ladda-spinner"></span>
		</button>
		<!-- <button id="Report_Cetak" ng-click="Report_Cetak_Clicked()" -->
			<!-- type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px"  > -->
			<!-- <span class="ladda-label"> -->
				<!-- Cetak -->
			<!-- </span><span class="ladda-spinner"></span> -->
		<!-- </button> -->
	</div>
	</div>
</div>
