<div class="row">
    <div class="col-md-12">
        <button ng-click="saveJadwalStall()"
         type="button" class="rbtn btn ng-binding ladda-button" style="float:right;margin-top:5px;margin-right:5px">
            <span class="ladda-label">
                Simpan
            </span><span class="ladda-spinner"></span>
        </button>
        
        <button ng-click="backFromJadwalStall()"
         type="button" class="btn ng-binding ladda-button" style="float:right;margin-top:5px;margin-right:5px">
            <span class="ladda-label">
                Kembali
            </span><span class="ladda-spinner"></span>
        </button>
        
    </div>
</div>

<div class="row">
	<div class="col-lg-6">
		<h1>Nama Stall : {{mStallMst.StallName}}</h1>		
	</div>
</div>

<div ng-form="listTambah">

<div class="row">
	<div class="col-lg-2" style="margin-bottom:10px">
        <bsreqlabel>Jam Dari</bsreqlabel>
        <div 
            uib-timepicker show-spinners="false"
            name="FromTime"
            ng-model="mStallMst.FromTime" 
            hour-step="1"
            minute-step="10"
            show-meridian="ismeridian" 
            required
            ></div>
    </div>
</div>

<div class="row">
	<div class="col-lg-6" style="margin-bottom:10px">
	    <bsreqlabel>Tanggal Dari</bsreqlabel>
        <bsdatepicker
            name="FromDate" 
            date-options="dateOptions"
            ng-model="mStallMst.FromDate" 
            required
            >
        </bsdatepicker>
	</div>
</div>

<div class="row">
	<div class="col-lg-2" style="margin-bottom:10px">
        <bsreqlabel>Jam Sampai</bsreqlabel>
        <div 
            uib-timepicker show-spinners="false"
            name="ToTime"
            ng-model="mStallMst.ToTime" 
            hour-step="1"
            minute-step="10"
            show-meridian="ismeridian" 
            required
            ></div>
    </div>
</div>

<div class="row" show-errors>
	<div class="col-lg-6" style="margin-bottom:10px">
	    <bsreqlabel>Tanggal Sampai</bsreqlabel>
	    <bsdatepicker
	        name="ToDate" 
	        date-options="dateOptions"
            ng-model="mStallMst.ToDate" 
            required
	    >
	    </bsdatepicker>
	</div>
	
</div>

<div class="row" show-errors>
	<div class="col-lg-6" style="margin-bottom:10px">
	    <bsreqlabel>Catatan</bsreqlabel>
        <input type="textarea" class="form-control" ng-model="mStallMst.InactiveReason" required>
	</div>
</div>

</div>


<div class="row">
    <div class="col-md-12" style="margin-bottom: 10px">
        <button class="rbtn btn" ng-click="addJadwal(mStallMst)" ng-disabled="listTambah.$invalid">Tambah</button>
        <!-- <button class="rbtn btn" ng-click="addGroupTechnician(mGroupBP)">Batal</button> -->
    </div>
</div>

<div id="gridJadwal" ui-grid="gridJadwal" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid" ng-style="gridJadwalTableHeight()" style="margin-bottom:10px">
    <div class="ui-grid-nodata" ng-show="!gridJadwal.data.length">No data available</div>
</div>
