<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<style type="text/css">
    
    .ui-grid-viewport {
        overflow-anchor: none;
    }
</style>

<div class="no-add">
	<div ng-show="MainMasterStallBP_Show">
		<div class="row">
			<div class="col-md-12" >
				<button id="MainMasterStallBP_Tambah_Button"
				ng-click="MainMasterStallBP_Tambah_Clicked()" 
				 type="button" class="rbtn btn ng-binding ladda-button" style="float: right; height: 35px; margin-right:10px">
					<span class="ladda-label">
						<i class="fa fa-plus" aria-hidden="true" style="margin-right:5px"></i>
						Tambah
					</span><span class="ladda-spinner"></span>
				</button>
			</div>
			<div class="col-md-4">
					<div class="input-group" style="margin-bottom:10px">
							<input type="text" ng-model-options="{debounce: 250}" class="form-control" placeholder="Filter" ng-change="test(GridApiStallBP.grid.columns[filterColIdx].filters[0].term)" ng-model="GridApiStallBP.grid.columns[filterColIdx].filters[0].term">
											<div class="input-group-btn" uib-dropdown>
													<button id="filter" type="button" class="btn wbtn" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
															{{filterBtnLabel|uppercase}}&nbsp;<span class="caret"></span>
													</button>
													<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="filter">
															<li role="menuitem" ng-repeat="col in gridCols">
															<a href="#" ng-click="filterBtnChange(col)">{{col.name|uppercase}}
																	<span class="pull-right">
																	<i class="fa fa-fw fa-filter"></i>
																	</span>
															</a>
															</li>
													</ul>
											</div>
					</div>
			</div>
			<div class="col-md-12" style="margin-bottom:10px">
				<div id="myGrid" ui-grid="StallBP_List_UIGrid" ui-grid-auto-resize ui-grid-pagination ui-grid-selection class="Mygrid" style="width:99%;height: 400px"></div>
			</div>
		</div>
	</div>

	<div ng-show="TambahMasterStallBP_Show">
		<div class="row">

			<div class="col-md-12">
				<button id="TambahMasterStallBP_Simpan_Button"
				ng-click="TambahMasterStallBP_Simpan_Clicked()" 
				ng-hide="ViewMode == true" 
				type="button" ng-disabled="stallBPFormInput.$invalid" class="rbtn btn ng-binding ladda-button" style="float:right;margin-top:5px;margin-right:5px">
					<span class="ladda-label">
						Simpan
					</span><span class="ladda-spinner"></span>
				</button>

				<button id="TambahMasterStallBP_Kembali_Button"
				ng-click="TambahMasterStallBP_Kembali_Clicked()"
				type="button" class="btn ng-binding ladda-button" style="float:right;margin-top:5px;margin-right:5px">
					<span class="ladda-label">
						Kembali
					</span><span class="ladda-spinner"></span>
				</button>
			</div>

			<br>
			<div ng-form="stallBPFormInput" novalidate>
			<div class="col-md-12" style="margin-bottom:10px">
				<div class="col-md-2">
					<bsreqlabel>Jenis Stall</bsreqlabel>
				</div>

				<div class="col-md-4">
					<bsselect ng-model="TambahMasterStallBP_JenisStall"
					 data="optionsTambahMasterStallBP_JenisStall" item-text="name" item-value="value" on-select="value(selected)" placeholder="Jenis Stall"
					 icon="fa fa-search" ng-disabled="ViewMode" ng-required="true">
					</bsselect>
				</div>
			</div>

			<br>

			<div class="col-md-12" style="margin-bottom:10px">
				<div class="col-md-2">
					<bsreqlabel>Job Stall</bsreqlabel>
				</div>

				<div class="col-md-4">
					<bsselect ng-model="TambahMasterStallBP_JobStall"
					 data="optionsTambahMasterStallBP_JobStall" item-text="name" item-value="value" on-select="value(selected)" placeholder="Jenis Stall"
					 icon="fa fa-search" ng-disabled="ViewMode" ng-required="true">
				</bsselect>
				</div>
			</div>

			<div class="col-md-12" style="margin-bottom:10px">
				<div class="col-md-2">
					<bsreqlabel>Nama Stall</bsreqlabel>
				</div>

				<div class="col-md-4">
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="TambahMasterStallBPNamaStall" placeholder="" ng-model="TambahMasterStallBP_NamaStall"
						 ng-maxlength="50" ng-disabled="ViewMode" ng-required="true">
					</div>
				</div>
			</div>

			<br><br>
			<br><br>
			<br><br>

			<!--
			<div class="col-md-12">
				<div class="col-md-2">
					Teknisi BP
				</div>

				<div class="col-md-3">
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="TambahMasterStallBPTeknisiBP" placeholder="" ng-model="TambahMasterStallBP_TeknisiBP"
						 ng-maxlength="50" />
					</div>
				</div>

				<div class="col-md-1">
					<button id="TambahMasterStallBP_CariTeknisi_Button"
					ng-click="TambahMasterStallBP_CariTeknisi_Clicked()"
					 type="button" class="btn ng-binding ladda-button" style="float:left;margin-top:5px;margin-right:5px">
						<span class="ladda-label">
							Cari
						</span><span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
			 -->


			<!--
			<div class="col-md-12">
				<div class="col-md-2">
					Grup BP
				</div>

				<div class="col-md-3">
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="TambahMasterStallBPGrupBP" placeholder="" ng-model="TambahMasterStallBP_GrupBP"
						 ng-maxlength="50" />
					</div>
				</div>

				<div class="col-md-1">
					<button id="TambahMasterStallBP_CariGrupBP_Button"
					ng-click="TambahMasterStallBP_CariGrupBP_Clicked()"
					 type="button" class="btn ng-binding ladda-button" style="float:left;margin-top:5px;margin-right:5px">
						<span class="ladda-label">
							Cari
						</span><span class="ladda-spinner"></span>
					</button>
				</div>

			</div>
			 -->

			<!--
			<div class="col-md-12">
				<div class="col-md-2">
					Kategori WO
				</div>

				<div class="col-md-4">
					<bsselect ng-model="$scope.TambahMasterStallBP_KategoriWO"
					 data="optionsTambahMasterStallBP_KategoriWO" item-text="name" item-value="value" on-select="value(selected)" placeholder="Kategori WO"
					 icon="fa fa-search">
				</bsselect>
				</div>
			</div>
			 -->

			 <!--
			<div class="col-md-12">
				<div class="col-md-2">
					Nama Vendor
				</div>

				<div class="col-md-4">
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="TambahMasterStallBPNamaVendor" placeholder="" ng-model="TambahMasterStallBP_NamaVendor"
						 ng-maxlength="50" />
					</div>
				</div>
			</div>
			 -->

			<div class="col-md-12">
				<div class="col-md-2">
					<bsreqlabel>Jam Tersedia</bsreqlabel>
				</div>

				<div class="col-md-2">
					<div class="input-icon-right ">
						<input type="number" class="form-control " name="TambahMasterStallBPJamTersedia" placeholder="" ng-model="TambahMasterStallBP_JamTersedia"
						 min="0" max="23" ng-disabled="ViewMode" ng-required="true">
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamTersedia.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-2">
					<bsreqlabel>Jam Istirahat 1</bsreqlabel>
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamIstirahat1JamAwal" placeholder="" ng-model="TambahMasterStallBP_Istirahat1JamAwal"
						 min="0" max="23" ng-required="true"  ng-disabled="ViewMode"/>
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamIstirahat1JamAwal.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Jam
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamIstirahat1MenitAwal" placeholder="" ng-model="TambahMasterStallBP_Istirahat1MenitAwal"
						 min="0" max="59" required ng-disabled="ViewMode" />
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamIstirahat1MenitAwal.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Menit
				</div>

				<div class="col-md-1">
					s/d
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamIstirahat1JamAkhir" placeholder="" ng-model="TambahMasterStallBP_Istirahat1JamAkhir"
						 min="0" max="23" required ng-disabled="ViewMode" />
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamIstirahat1JamAkhir.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Jam
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamIstirahat1MenitAkhir" placeholder="" ng-model="TambahMasterStallBP_Istirahat1MenitAkhir"
						 min="0" max="59" required ng-disabled="ViewMode" />
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamIstirahat1MenitAkhir.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Menit
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-2">
					Jam Istirahat 2
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamIstirahat2JamAwal" placeholder="" ng-model="TambahMasterStallBP_Istirahat2JamAwal"
						 min="0" max="23" ng-disabled="ViewMode" />
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamIstirahat2JamAwal.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Jam
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamIstirahat2MenitAwal" placeholder="" ng-model="TambahMasterStallBP_Istirahat2MenitAwal"
						 min="0" max="59" ng-disabled="ViewMode"/>
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamIstirahat2MenitAwal.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Menit
				</div>

				<div class="col-md-1">
					s/d
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamIstirahat2JamAkhir" placeholder="" ng-model="TambahMasterStallBP_Istirahat2JamAkhir"
						 min="0" max="23" ng-disabled="ViewMode"/>
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamIstirahat2JamAkhir.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Jam
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamIstirahat2MenitAkhir" placeholder="" ng-model="TambahMasterStallBP_Istirahat2MenitAkhir"
						 min="0" max="59" ng-disabled="ViewMode"/>
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamIstirahat2MenitAkhir.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Menit
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-2">
					Jam Istirahat 3
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamIstirahat3JamAwal" placeholder="" ng-model="TambahMasterStallBP_Istirahat3JamAwal"
						 min="0" max="23" ng-disabled="ViewMode"/>
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamIstirahat3JamAwal.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Jam
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamIstirahat3MenitAwal" placeholder="" ng-model="TambahMasterStallBP_Istirahat3MenitAwal"
						 min="0" max="59" ng-disabled="ViewMode"/>
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamIstirahat3MenitAwal.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Menit
				</div>

				<div class="col-md-1">
					s/d
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamIstirahat3JamAkhir" placeholder="" ng-model="TambahMasterStallBP_Istirahat3JamAkhir"
						 min="0" max="23" ng-disabled="ViewMode"/>
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamIstirahat3JamAkhir.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Jam
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamIstirahat3MenitAkhir" placeholder="" ng-model="TambahMasterStallBP_Istirahat3MenitAkhir"
						 min="0" max="59" ng-disabled="ViewMode"/>
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamIstirahat3MenitAkhir.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Menit
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-2">
					<bsreqlabel>Jam Buka Default</bsreqlabel>
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamBukaDefaultJam" placeholder="" ng-model="TambahMasterStallBP_JamBukaDefaultJam"
						 min="0" max="23" ng-required="true" ng-disabled="ViewMode"/>
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamBukaDefaultJam.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Jam
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamBukaDefaultMenit" placeholder="" ng-model="TambahMasterStallBP_JamBukaDefaultMenit"
						 min="0" max="59" required ng-disabled="ViewMode"/>
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamBukaDefaultMenit.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Menit
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-2">
					<bsreqlabel>Jam Tutup Default</bsreqlabel>
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamTutupDefaultJam" placeholder="" ng-model="TambahMasterStallBP_JamTutupDefaultJam"
						 min="0" max="23" ng-required="true" ng-disabled="ViewMode"/>
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamTutupDefaultJam.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Jam
				</div>

				<div class="col-md-1">
					<!-- <div class="input-icon-right "> -->
						<input type="number" class="form-control " name="TambahMasterStallBPJamTutupDefaultMenit" placeholder="" ng-model="TambahMasterStallBP_JamTutupDefaultMenit"
						 min="0" max="59" required ng-disabled="ViewMode"/>
						 <em ng-messages="stallBPFormInput.TambahMasterStallBPJamTutupDefaultMenit.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
								<p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
							</em>
					<!-- </div> -->
				</div>

				<div class="col-md-1">
					Menit
				</div>
			</div>

			<div class="col-md-12">
				<bsreqlabel>Status</bsreqlabel>
                <div class="ui-grid-cell-contents" style="cursor:pointer">
                    <div class="ui toggle checkbox" style="margin:-5px 0 0;" >
                        <!-- <input type="checkbox" ng-model="mStallMst.StatusCode" ng-true-value =1 ng-false-value =0 name="status" ng-disabled="ViewMode"> -->
						<input type="checkbox" ng-model="TambahStatusCode" ng-true-value=1 ng-false-value=0 name="status" ng-disabled="ViewMode">
						<label>
                            <span style="color:#2185D0;" ng-if="row.entity.StatusCode == 1">Active</span>
                            <span style="color:gray;" ng-if="row.entity.StatusCode == 0">Inactive</span>
                        </label>
                    </div>
                </div>
			</div>
			</div>
		</div>
	</div>

	<!-- yap -->
	<div ng-include="'app/master/AfterSales/stallBP/stall_schedule.html'" ng-if="JadwalStallBP_Show==true"></div>
	<!-- end yap -->

	<div class="ui modal"
		id="ModalSearchTeknisiBP" role="dialog">
		<div class="modal-content" >
			<ul class="list-group">
				<bsreqlabel>Cari Teknisi BP</bsreqlabel>
				<div class="form-group" ui-grid="TeknisiBPGrid" ui-grid-auto-resize ui-grid-selection ui-grid-pagination ></div>
				<p align="center">
				<button class="col-sm-6" ng-click="ModalSearchTeknisiBP_Batal()" type="button" class="rbtn btn ng-binding ladda-button" >
					Batal
				</button>
				</p>
			</ul>
		</div>
	</div>

	<div class="ui modal"
		id="ModalSearchGrupBP" role="dialog">
		<div class="modal-content" >
			<ul class="list-group">
				<bsreqlabel>Cari Grup BP</bsreqlabel>
				<div class="form-group" ui-grid="GrupBPGrid" ui-grid-auto-resize ui-grid-selection ui-grid-pagination ></div>
				<p align="center">
				<button class="col-sm-6" ng-click="ModalSearchGrupBP_Batal()" type="button" class="rbtn btn ng-binding ladda-button" >
					Batal
				</button>
				</p>
			</ul>
		</div>
	</div>
</div>
