<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Pekerjaan</bsreqlabel>
                <bstypeahead placeholder="Nama Pekerjaan" name="jobName"
                    ng-model="lmModel.TaskName"
                    get-data="getWork"
                    model-key="TaskName"
                    item-text="TaskName"
                    required
                    loading="loadingUsers"
                    noresult="noResults"
                    selected="selected"
                    on-select="onSelectWork"
                    on-noresult="onNoResult"
                    on-gotresult="onGotResult"
                    icon="fa-id-card-o">
                </bstypeahead>
                <bserrmsg field="jobName"></bserrmsg>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <label>Harga</label>
                <!-- <input type="number" required ng-maxlength="8"  min=0 class="form-control"  name="price" ng-model="lmModel.Fare" ng-disabled="PriceAvailable" > -->
                <input type="text" required ng-maxlength="10"  min=0 class="form-control"  name="price" ng-model="lmModel.FareMask" ng-disabled="PriceAvailable" ng-keyup="givePatternHarga(lmModel.FareMask,$event)">                
                <input type="number" ng-hide="true" ng-maxlength="10"  min=0 class="form-control"  name="price" ng-model="lmModel.Fare" ng-disabled="PriceAvailable" ng-keyup="givePatternHarga(lmModel.Fare,$event)">
                <bserrmsg field="price"></bserrmsg>
            </div>    
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Satuan</bsreqlabel>
                <bsselect name="satuan"
                    ng-model="lmModel.ProcessId"
                    data="unitData"
                    item-text="Name"
                    item-value="MasterId"
                    placeholder="Pilih Tipe"
                    required
                    on-select="selectUnit(selected)">
                </bsselect>
                <bserrmsg field="satuan"></bserrmsg>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Pembayaran</bsreqlabel>
                <bsselect name="pembayaran"
                    ng-model="lmModel.PaidById"
                    data="paymentData"
                    required
                    item-text="Name"
                    item-value="MasterId"
                    placeholder="Pilih Pembayaran"
                    on-select="selectTypeCust(selected)">
                </bsselect>
                <bserrmsg field="pembayaran"></bserrmsg>
            </div>
        </div>
    </div>
</div>