<div class="col-md-12">
    <div class="col-md-6">
        <div class="form-group" show-errors>
            <bsreqlabel>Tipe Material</bsreqlabel>
            <bsselect required ng-required="true" name="tipe" ng-model="ldModel.MaterialTypeId" data="materialCategory" item-text="Name" item-value="MaterialTypeId" placeholder="Pilih Tipe" on-select="selectTypeParts(selected)">
            </bsselect>
            <bserrmsg field="typeMaterial"></bserrmsg>
        </div>
        <div class="form-group" style="margin-bottom:45px;" show-errors>
            <div class="form-inline">
                <label>No. Material</label>
                <bscheckbox ng-change="checkIsOPB(ldModel.IsOPB, ldModel)" ng-disabled="!(ldModel.MaterialTypeId == 2) || (ldModel.PartsCode !== undefined && ldModel.PartsCode !== '') " class="pull-right" ng-model="ldModel.IsOPB" label="OPB" true-value="1" false-value="0">
                </bscheckbox>
            </div>
            <!-- <input type="text" class="form-control" name="noMaterial" ng-model="ldModel.PartsCode" > -->
            <div class="col-md-7" style="padding-left:0;">
                <bstypeahead placeholder="No. Material" name="noMaterial" ng-model="ldModel.PartsCode" get-data="getParts" item-text="PartsCode" ng-maxlength="250" disallow-space loading="loadingUsers" noresult="noResults" selected="selected" on-select="onSelectParts"
                    on-noresult="onNoPartResult" on-gotresult="onGotResult" ta-minlength="4" template-url="customTemplate.html" icon="fa-id-card-o">
                </bstypeahead>
            </div>
            <div class="col-md-4">
                <button class="rbtn btn" ng-disabled="!(ldModel.Qty !== null && ldModel.Qty !== undefined && partsAvailable)" ng-click="checkAvailabilityParts(ldModel)">Cek Ketersediaan Parts</button>
            </div>
            <bserrmsg field="noMaterial"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Nama Material</bsreqlabel>
            <input type="text" class="form-control" name="namaMaterial" ng-model="ldModel.PartsName" ng-maxlength="64" ng-disabled="ldModel.PartsId !== null && ldModel.PartsId !== undefined">
            <bserrmsg field="namaMaterial"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Quantity</bsreqlabel>
            <input type="number" ng-change="checkPrice(ldModel.RetailPrice)" required min=1 class="form-control" name="qty" ng-model="ldModel.Qty">
            <bserrmsg field="qty"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Satuan</bsreqlabel>
            <bsselect name="satuan" ng-model="ldModel.SatuanId" on-select="selectTypeUnitParts(selected)" data="unitData" item-text="Name" required item-value="MasterId" placeholder="Pilih Tipe">
            </bsselect>
            <bserrmsg field="satuan"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <label>Tipe Order</label>
            <bsselect name="satuan" ng-disabled="ldModel.Availbility == 'Tersedia'" skip-enable ng-model="ldModel.OrderType" data="typeMData" item-text="Name" item-value="Id" placeholder="Pilih Tipe">
            </bsselect>
            <bserrmsg field="satuan"></bserrmsg>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>ETA</label>
            <bsdatepicker name="DateAppoint" ng-disabled="true" date-options="DateOptions" ng-model="ldModel.ETA" ng-change="DateChange(dt)">
            </bsdatepicker>
            <!-- <bsdatepicker name="DateAppoint" ng-disabled="partsAvailable" date-options="DateOptions" ng-model="ldModel.ETA" ng-change="DateChange(dt)">
            </bsdatepicker> -->
        </div>
        <div class="form-group" show-errors>
            <label>Ketersediaan</label>
            <input type="text" min=0 class="form-control" ng-disabled="true" name="ketersedian" ng-model="ldModel.Availbility">
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <bsselect name="pembayaran" ng-model="ldModel.PaidById" ng-disabled="JobIsWarranty == 1" data="paymentData" item-text="Name" item-value="MasterId" on-select="selectTypePaidParts(selected)" placeholder="Pilih Pembayaran" required>
            </bsselect>
            <bserrmsg field="pembayaran"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <!-- <bsreqlabel>Harga</bsreqlabel>
            <input type="text" ng-change="checkPrice(ldModel.RetailPrice)" min=0 class="form-control" name="harga" required ng-maxlength="10" ng-disabled="partsAvailable" ng-model="ldModel.RetailPrice">
            <bserrmsg field="harga"></bserrmsg> -->
            <label>Harga</label>
            <!-- <input type="text" ng-change="checkPrice(ldModel.RetailPrice)" min=0 class="form-control" name="harga" ng-disabled="(ldModel.IsOPB == null || ldModel.IsOPB == undefined || ldModel.IsOPB == 0) && (ldModel.PartsId != null && ldModel.PartsId != undefined)" ng-maxlength="10" ng-model="ldModel.RetailPrice" ng-keyup="givePatternHargaPart(ldModel.RetailPrice,$event)" > -->
            <input type="number" ng-hide="true" min=0 class="form-control" name="harga" ng-disabled="(ldModel.IsOPB == null || ldModel.IsOPB == undefined || ldModel.IsOPB == 0) && (ldModel.PartsId != null && ldModel.PartsId != undefined)" ng-maxlength="10" ng-model="ldModel.RetailPrice" >
            <input type="text" ng-change="checkPrice(ldModel.RetailPriceMask)" min=0 class="form-control" name="harga" ng-disabled="(ldModel.IsOPB == null || ldModel.IsOPB == undefined || ldModel.IsOPB == 0) && (ldModel.PartsId != null && ldModel.PartsId != undefined)" ng-maxlength="10" ng-model="ldModel.RetailPriceMask" ng-keyup="givePatternHargaPart(ldModel.RetailPriceMask,$event)" >            
        </div>
        <!--     <div class="form-group" show-errors>
      <label>Diskon</label>
      <input type="number" min=0 max="100" class="form-control" name="harga" ng-model="ldModel.Discount">
      <bserrmsg field="harga"></bserrmsg>
    </div> -->
        <div class="form-group" show-errors>
            <label>Sub Total</label>
            <input type="number" ng-hide='true' ng-disabled="true" min=0 class="form-control" name="subTotal" ng-model="ldModel.subTotal">
            <input type="text" ng-disabled="true" min=0 class="form-control" name="subTotal" ng-model="ldModel.subTotalMask">            
            <bserrmsg field="subTotal"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <label>Dp</label>
            <input type="text" min=0 ng-maxlength="10" class="form-control" name="Dp" ng-model="ldModel.DownPayment" ng-keyup="givePatternDp(ldModel.DownPayment,$event)"  ng-disabled="disableDP || (ldModel.PaidById == 2277 || ldModel.PaidById == 30 || ldModel.PaidById == 31)" skip-enable>
            <bserrmsg field="Dp"></bserrmsg>
        </div>
    </div>
    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
            <span ng-bind-html="match.model.PartsName | uibTypeaheadHighlight:query"></span>
            <!-- <span ng-bind-html="match.model.FullName | uibTypeaheadHighlight:query"></span> -->
        </a>
    </script>
</div>