<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="no-add">
	<bsform-grid ng-form="MasterCounterGRForm" factory-name="MasterCounterGRFactory" model="mMasterCounterGR" model-id="CounterId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="MasterCounterGRForm" form-title="MasterCounterGR" modal-title="MasterCounterGR"
	modal-size="small" icon="fa fa-fw fa-child">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group" show-errors>
		                <bsreqlabel>Nama Counter</bsreqlabel>
		                <div class="input-icon-right">
		                    <i class="fa fa-pencil"></i>
		                    <input type="text" class="form-control" name="NamaCounterGR" placeholder="Nama Counter" ng-model="mMasterCounterGR.CounterName" ng-maxlength="50" required>
		                </div>
		                <bserrmsg field="CounterName"></bserrmsg>
		            </div>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group" show-errors>
		                <bsreqlabel>Nama SA</bsreqlabel>
		                <div class="input-icon-right">
		                    <i class="fa fa-pencil"></i>
		                    <input type="text" class="form-control" name="NamaSA" placeholder="Nama SA" ng-model="mMasterCounterGR.SAName" ng-maxlength="50" required>
		                </div>
		                <bserrmsg field="SAName"></bserrmsg>
		            </div>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group" show-errors>
		                <bsreqlabel>Nama Inisial SA</bsreqlabel>
		                <div class="input-icon-right">
		                    <i class="fa fa-pencil"></i>
		                    <input type="text" class="form-control" name="NamaInisialSA" placeholder="Nama Inisial SA" ng-model="mMasterCounterGR.InitialSAName" ng-maxlength="50" required>
		                </div>
		                <bserrmsg field="InitialSAName"></bserrmsg>
		            </div>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group" show-errors>
						<form>
							<p><input type="checkbox" ng-model="mMasterCounterGR.isEM">EM<input type="checkbox" ng-model="mMasterCounterGR.isOther" >Other</p>
							<p><input type="checkbox" ng-model="mMasterCounterGR.isSBI">SBI<input type="checkbox" ng-model="mMasterCounterGR.isWalkIn" >Walk In</p>
							<p><input type="checkbox" ng-model="mMasterCounterGR.isSBE">SBE<input type="checkbox" ng-model="mMasterCounterGR.isBooking" >Booking</p>
							<p></p>
						</form>
		            </div>
				</div>
		</div>
	</bsform-grid>
</div>