<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="no-add">
	<div ng-show="Main_PreprintedReceiptNum_Show" class="fi-outermost">
		<div class="pull-right" style="margin-top: -70px;">
			<div class="row">
				<button id="PRN_Add_Button" ng-click="PRN_Main_Add_Button_Clicked()" type="button"
					class="rbtn btn ng-binding ladda-button fi-right-button">
					<span class="ladda-label">
						<i class="fa fa-fw fa-plus"> </i>
						Tambah
					</span>
					<span class="ladda-spinner"></span>
				</button>

			</div>
		</div>

		<div class="row" style="margin_top:10px;">
			<div>
				<p class="fi-title-line">Nomor Kuitansi Preprinted</p>
				<div class="row col-md-12" style="margin-top:10px;margin-bottom:10px;">
					<div class="col-md-2">
						<bsselect ng-model="PreprintedReceiptNum_DaftarBulkAction_Search"
							ng-change="PreprintedReceiptNum_DaftarBulkAction_Changed()"
							data="optionsPreprintedReceiptNum_DaftarBulkAction_Search" item-text="name"
							item-value="value" on-select="value(selected)" placeholder="Bulk Action">
						</bsselect>
					</div>

					<div class="col-md-2">
						<div class="input-icon-right">
							<input type="text" class="form-control" name="" placeholder="Nomor Kuitansi" ng-model="KuintansiPreprinted_SelectFilter" ng-maxlength="50"
							 maxlength="50">
						</div>
					</div>
		
					<div class="col-md-3">
						<bsselect ng-model="FilterStatusPreprinted_SelectKolom" data="optionsFilterStatusPreprinted_SelectKolom" ng-change="TambahPotonganPajak_FilterKolom_Changed"
						 item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Status Criteria" icon="fa fa-search">
						</bsselect>
					</div>

					<div class="col-md-3">
						<bsselect ng-model="FilterApprovalPreprinted_SelectKolom" data="optionsFilterApprovalPreprinted_SelectKolom" ng-change="TambahPotonganPajak_FilterKolom_Changed"
						 item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Approval Criteria" icon="fa fa-search">
						</bsselect>
					</div>
		
					<div class="col-md-2">
						<button id="" onclick="" ng-click="KuintansiPreprinted_SelectFilter_Clicked()" type="button" class="btn ng-binding ladda-button">
							<span class="ladda-label">
								Filter
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>

				</div>
			</div>
		</div>

		<div class="row" style="margin-top:0px;">
			<div>
				<div id="myGrid" ui-grid="PRN_Main_UIGrid" ui-grid-auto-resize ui-grid-resize-columns ui-grid-pagination
					ui-grid-selection class="fi-ui-grid"></div>
			</div>
		</div>
	</div>
	<div ng-show="Add_PreprintedReceiptNum_Show" ng-form name="FormValidation_PreprintedReceiptNum"
		class="fi-outermost">
		<div class="row">
			<div class="col-md-12">
				<button ng-click="PRN_Add_Save_Button_Clicked()" type="submit"
					ng-disabled="FormValidation_PreprintedReceiptNum.$invalid" ladda="LoadingSimpan" data-style="expand-left"
					class="rbtn btn ng-binding ladda-button fi-right-button">
					<span class="ladda-label">
						Simpan
					</span>
					<span class="ladda-spinner"></span>
				</button>
				<button ng-click="PRN_Add_Back_Button_Clicked()" type="button"
					class="btn ng-binding ladda-button fi-right-button">
					<span class="ladda-label">
						Kembali
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					<div class="form-group"
						ng-class="{'has-error':(FormValidation_PreprintedReceiptNum.StartCode.$error.required && FormValidation_PreprintedReceiptNum.StartCode.$touched) }">
						<bslabel>Kode Awal</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control" name="StartCode" placeholder=""
								ng-model="PRN_StartCode" ng-maxlength="5" maxlength="5" no-special-char required>
						</div>
						<!-- <span
							ng-show="FormValidation_PreprintedReceiptNum.StartCode.$error.required && FormValidation_PreprintedReceiptNum.StartCode.$touched"
							class="help-block">Field ini wajib diisi</span>
						<span ng-show="PRN_StartCode.length<5" class="help-block">Kode awal harus 5 digit!</span> -->
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					<div class="form-group"
						ng-class="{'has-error':FormValidation_PreprintedReceiptNum.StartNumber.$error.required && FormValidation_PreprintedReceiptNum.StartNumber.$touched}">
						<bslabel>Nomor Awal *</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control" name="StartNumber" placeholder=""
								ng-model="PRN_StartNumber" ng-maxlength="7" maxlength="7" number-only required>
						</div>
						<span
							ng-show="FormValidation_PreprintedReceiptNum.StartNumber.$error.required && FormValidation_PreprintedReceiptNum.StartNumber.$touched"
							class="help-block">Field ini wajib diisi</span>
					</div>
				</div>
				<div class="col-md-1" style="text-align:center; padding-top:20px; padding-left: 22px;"> s.d. </div>
				<div class="col-md-3">
					<div class="form-group"
						ng-class="{'has-error':FormValidation_PreprintedReceiptNum.EndNumber.$error.required && FormValidation_PreprintedReceiptNum.EndNumber.$touched}">
						<bslabel>Nomor Akhir *</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control" name="EndNumber" placeholder=""
								ng-model="PRN_EndNumber" ng-maxlength="7" maxlength="7" number-only required>
						</div>
						<span
							ng-show="FormValidation_PreprintedReceiptNum.EndNumber.$error.required && FormValidation_PreprintedReceiptNum.EndNumber.$touched"
							class="help-block">Field ini wajib diisi</span>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="has-error" style="margin-left:15px;">
					<span ng-show="PRN_StartNumberPRN_EndNumber" class="help-block">Nomor awal harus bernilai lebih
						kecil atau sama
						dengan nomor akhir!</span>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="Edit_PreprintedReceiptNum_Show" ng-form name="FormValidation_PreprintedReceiptNum"
		class="fi-outermost">
		<div class="row">
			<div class="col-md-12">
				<button ng-click="PRN_Edit_Save_Button_Clicked()" type="submit" ladda="LoadingSimpan" data-style="expand-left"
					class="rbtn btn ng-binding ladda-button fi-right-button">
					<span class="ladda-label">
						Simpan
					</span>
					<span class="ladda-spinner"></span>
				</button>
				<button ng-click="PRN_Edit_Back_Button_Clicked()" type="button"
					class="btn ng-binding ladda-button fi-right-button">
					<span class="ladda-label">
						Kembali
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					<!-- <div class="form-group" ng-class="{'has-error':(FormValidation_PreprintedReceiptNum.PNumber.$error.required && FormValidation_PreprintedReceiptNum.PNumber.$touched) || (PreprintedNumber.length<10)}"> -->
					<div class="form-group">
						<bslabel>Nomor Kuitansi Preprinted: {{PreprintedNumber}}</bslabel>
						<div class="input-icon-right ">
							<bsselect ng-model="PreprintedReceiptNum_EditStatus_Search"
								ng-change="PreprintedReceiptNum_EditStatus_Changed()"
								data="optionsPreprintedReceiptNum_EditStatus_Search" item-text="name" item-value="value"
								on-select="value(selected)" placeholder="Change Status">
							</bsselect>
							<!-- <input type="text" class="form-control" name="PNumber" placeholder="" ng-model="PreprintedNumber" ng-maxlength="10" maxlength="10"
							 no-special-char required> -->
						</div>
						<!-- <span ng-show="FormValidation_PreprintedReceiptNum.PNumber.$error.required && FormValidation_PreprintedReceiptNum.PNumber.$touched"
						 class="help-block">Field ini wajib diisi</span>
						<span ng-show="PreprintedNumber.length<10" class="help-block">Nomor harus 10 digit!</span> -->
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					<div class="form-group" ng-class="{'has-error':FormValidation_PreprintedReceiptNum.PStatus.$error.required && FormValidation_PreprintedReceiptNum.PStatus.$touched}">
						<bslabel>Status</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control" name="PStatus" placeholder="" ng-model="PreprintedStatus" ng-maxlength="5" maxlength="5"
							 number-only required>
						</div>
						<span ng-show="FormValidation_PreprintedReceiptNum.PStatus.$error.required && FormValidation_PreprintedReceiptNum.PStatus.$touched"
						 class="help-block">Field ini wajib diisi</span>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>

<!-- <div class="ui modal" id="PRN_DeleteNumberQuestion_Modal" role="dialog" style="margin-top: -50px; height: 250px; width:300px;">
	<div class="modal-content">
		<ul class="list-group">
			<div class="col-md-12" style="text-align: center; margin-top: 10px;">
				<h2>Konfirmasi Hapus</h2>
			</div>
			<div class="col-md-12" style="text-align: center;">
				<h3>Apakah anda yakin ingin menghapus Nomor Kuitansi Preprinted</h3>
			</div>
			<div class="col-md-12" style="margin-bottom:10px">
				<div class="col-md-6" style="margin-top:12px">
					<button id="PRN_Main_No_Delete_Button" ng-click="PRN_Main_No_Delete_Button_Clicked()"
					 type="button" class="btn ng-binding ladda-button" style="float: right; margin-right:5px;">
						<span class="ladda-label">
							Tidak
						</span><span class="ladda-spinner"></span>
					</button>
				</div>
				<div class="col-md-6" style="margin-top:12px">
					<button id="PRN_Main_Yes_Delete_Button" ng-click="PRN_Main_Yes_Delete_Button_Clicked()"
					 type="button" class="btn ng-binding ladda-button" style="float: left; margin-left:5px;">
						<span class="ladda-label">
							Ya
						</span><span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</ul>
	</div>
</div> -->

<div class="modal  " id="PRN_DeleteNumberQuestion_Modal" role="dialog">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Konfirmasi Hapus</h4>
		</div>
		<div class="modal-body">
			<p>
				Apakah anda yakin ingin menghapus nomor kuitansi preprinted {{DeletedPreprintedNumber}}?
			</p>
		</div>
		<div class="modal-footer">
			<p>
				<button ng-click="PRN_Main_No_Delete_Button_Clicked()" class="rbtn btn ng-binding ladda-button"
					type="button">Tidak</button>
				<button ng-click="PRN_Main_Yes_Delete_Button_Clicked()" class="rbtn btn ng-binding ladda-button"
					type="button">Ya</button>
			</p>
		</div>
	</div>
</div>

<div class="modal" id="PRN_BulkActionEditSatus_Modal" role="dialog">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Konfirmasi Perubahan</h4>
		</div>
		<div class="modal-body">
			<p>
				Apakah anda yakin ingin mengubah status nomor kuitansi preprinted menjadi {{ModalPRNEditStatus}}?<br />
				<br />
			</p>
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="Batal_ModalPRN_EditStatus()" class="rbtn btn ng-binding ladda-button"
					type="button">Tidak</button>
				<button ng-click="Edit_ModalPRN_EditStatus()" class="rbtn btn ng-binding ladda-button"
					type="button">Ya</button>
			</p>
		</div>
	</div>
</div>

<div class="modal" id="PRN_BulkActionHapus_Modal" role="dialog">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Konfirmasi Hapus</h4>
		</div>
		<div class="modal-body">
			<p>
				Apakah anda yakin ingin menghapus nomor kuitansi preprinted?
			</p>
		</div>
		<div class="modal-footer">
			<p>
				<button ng-click="Batal_ModalPRN_Hapus()" class="rbtn btn ng-binding ladda-button"
					type="button">Tidak</button>
				<button ng-click="Hapus_ModalPRN_Hapus()" class="rbtn btn ng-binding ladda-button"
					type="button">Ya</button>
			</p>
		</div>
	</div>
</div>

<div class="modal" id="PRN_BulkActionSetuju_Modal" role="dialog">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Konfirmasi Setuju</h4>
		</div>
		<div class="modal-body">
			<p>
				Apakah anda yakin ingin menyetujui nomor kuitansi preprinted ini?
			</p>
		</div>
		<div class="modal-footer">
			<p>
				<button ng-click="Batal_ModalPRN_Setuju()" class="rbtn btn ng-binding ladda-button"
					type="button">Tidak</button>
				<button ng-click="Setuju_ModalPRN_Setuju()" class="rbtn btn ng-binding ladda-button"
					type="button">Ya</button>
			</p>
		</div>
	</div>
</div>

<div class="ui modal" id="PRN_BulkActionTolak_Modal" role="dialog"
	style="width:620px;height:130px;margin-top:5px;margin-left:-300px">
	<!-- Modal content-->
	<div class="modalDefault-dialog" style="margin-top:5px;margin-left:10px;margin-right:10px">
		<ul class="list-group">
			<bsreqlabel>Input Alasan Penolakan</bsreqlabel>
			<textarea type="text" class="form-control" name="AlasanPenolakan" placeholder="Alasan Penolakan"
				ng-model="Tolak_ModalPRN_AlasanPenolakan" ng-maxlength="1000" maxlength="1000"
				style="margin-bottom: 10px"></textarea>

			<p align="center">
				<button ng-click="Batal_ModalPRN_Tolak()" class="rbtn btn ng-binding ladda-button"
					type="button">Tidak</button>
				<button ng-click="Tolak_ModalPRN_Tolak()" class="rbtn btn ng-binding ladda-button"
					type="button">Ya</button>
			</p>
		</ul>
	</div>
</div>