<script type="text/javascript">
</script>
<style type="text/css">
</style>

<!--         form-name="WIPReportForm"
        form-title="WIPReport"
        icon="fa fa-fw fa-child" -->
<bsform-base
    ng-form="WIPReportForm"
    loading="loading"
    get-data="getData"

    show-advsearch="on"

    form-api="formApi"
    linksref="app.queueCategory"
    linkview="queueCategory@app"
    form-name="WIPReportForm"
    form-title="WIPReport"
    icon="fa fa-fw fa-child"

>

    <bsform-advsearch>
        <div class="row" style="margin-right:0px;">

            <div class="col-md-4">
                <div class="form-group" show-errors>
                <!-- <div class="form-group"> -->
                    <label>Dealer</label>
                    <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" required>
                    </bsselect>
                    <bserrmsg field="dealer"> harus diisi </bserrmsg>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group" show-errors>
                <!-- <div class="form-group"> -->
                    <label>Cabang</label>
                    <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                    </bsselect>
                    <bserrmsg field="cabang"> harus diisi </bserrmsg>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>Kategori Workshop: </label>
                    <input disabled type="text" ng-model="filter.kategori" class="form-control" name="kategori" placeholder="" required>
                    <bserrmsg field="kategori"> harus diisi </bserrmsg>
                </div>
            </div>
        </div>


        <!-- SA name filter -->
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <bsreqlabel>Kategori Filter</bsreqlabel>
            </div>
            <div class="col-md-2">
                <div class="form-group" show-errors> 
                    <label>Tipe PO</label>
                        <bsselect  ng-model="filter.typePO" data="dataTipePO" item-text="text" item-value="value" on-select="onSelectTypePO(selected)" placeholder="Pilih Tipe PO" required>
                        </bsselect>
                </div>
            </div>
            
            <!-- <div class="col-md-2">
                <div class="form-group" show-errors> 
                    <label>Referensi PO</label>
                        <bsselect  ng-model="filter.referencePO" data="dataReferensiPO" item-text="text" item-value="value" on-select="onSelectReferencePO(selected)" placeholder="Pilih Referensi PO" required>
                        </bsselect>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group" show-errors> 
                    <label>Status PO</label>
                        <bsselect  ng-model="filter.statusPO" data="dataStatusPO" item-text="text" item-value="value" on-select="onSelectStatusPO(selected)" placeholder="Pilih Status PO" required>
                        </bsselect>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group" show-errors> 
                    <label>No. PO</label>
                        <div class="form-group" show-errors> 
                            <input type="text" class="form-control" name="kategori" ng-model="filter.NoPo">
                        </div>
                </div>
            </div> -->

            <div class="col-md-2">
                <div class="form-group" show-errors> 
                    <label>Vendor</label>
                        <bsselect  ng-model="filter.vendor" data="dataVendor" item-text="text" item-value="value" on-select="onSelectVendor(selected)" placeholder="Select Vendor" required>
                        </bsselect>
                </div>
            </div>

        </div>
        <!-- SA name filter -->

        <div class="row" style="margin-right:0px;">
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Kategori</bsreqlabel> 
                    <bsradiobox ng-model="filter.categoryDate"
                              options="filterCategoryDate.data"
                              ng-click="changeCategoryFilterDate(filter.categoryDate)"
                              layout="V" name = "FilterCategory" required>
                  </bsradiobox>
                  <bserrmsg field="FilterCategory"> harus diisi </bserrmsg>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12" style="margin-left:5px ;margin-top: -10px;">
                <div ng-if="filter.typePO !== null || filter.referencePO !== null || filter.statusPO !== null">
                    <p style="font-size: 12px; margin-top:7px" > <span  style="color: red;">*</span> <i>Filter Berdasarkan Tanggal Invoice Khusus PO TAM </i></p></div>
            </div>
        </div>

        
        <!-- date filter -->
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <div class="form-group" show-errors>
                    <bsreqlabel ng-if="filter.categoryDate == 1">Tanggal PO</bsreqlabel> 

                    <bsreqlabel ng-if="filter.categoryDate == 2">Tanggal Invoice</bsreqlabel> 
                    <bsdatepicker
                    name="dateStart"
                    date-options="dateOptions"
                    ng-model="filter.DateStart" required
                    >
                    </bsdatepicker>
                    <bserrmsg field="dateStart"> harus diisi </bserrmsg>
                </div>
            </div>

            <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>

            <div class="col-md-2" style="margin-top:5px;">
                <div class="form-group" show-errors>
                    <label></label> 
                    <bsdatepicker
                    name="dateend"
                    date-options="dateOptions"
                    ng-model="filter.DateEnd" required
                    >
                    </bsdatepicker>
                    <bserrmsg field="dateend"> harus diisi </bserrmsg>
                </div>
            </div> 

            


            <div class="col-md-3"></div>
            <div class="col-md-4"></div>

            <div class="col-md-12" style="margin-left:5px ;margin-top: -10px;">
                <div ng-if="filter.typePO !== null || filter.referencePO !== null || filter.statusPO !== null">
                    <p style="font-size: 12px; margin-top:7px" > <span  style="color: red;">*</span> <i>Mandatory ketika memilih filter Tipe PO/Referensi PO/Status PO </i></p></div>
            </div>
        </div>
        <!-- date filter -->

        
        

        <br>
    </bsform-advsearch>

    <bsform-base-main>
        <div class="panel panel-default">
            <div class="panel-heading">SUMMARY</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                       <!--  <div class="col-md-12">
                            <h3>Total Pembelian Parts & Bahan</h3>
                        </div> -->
                        <div class="col-md-7">
                            <h6>Total Pembelian Parts & Bahan</h6>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group" show-errors> 
                                <input type="text" class="form-control" name="kategori" ng-disabled="true" skip-enable ng-model="totalPartsBahan">
                            </div>
                        </div>

                       <!--  <div class="col-md-12">
                            <h3>Total Pembelian Parts</h3>
                        </div> -->


                        <div class="col-md-7">
                            <h6>Total Pembelian Parts</h6>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group" show-errors> 
                                <input type="text" class="form-control" name="kategori" ng-disabled="true" skip-enable ng-model="totalParts">
                            </div>
                        </div>


                       <!--  <div class="col-md-12">
                            <h3>Total Pembelian Bahan</h3>
                        </div> -->


                        <div class="col-md-7">
                            <h6>Total Pembelian Bahan</h6>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group" show-errors> 
                                <input type="text" class="form-control" name="kategori" ng-disabled="true" skip-enable ng-model="totalBahan">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <!-- <div class="col-md-12">
                            <h3>Total Amount Pembelian Parts & Bahan</h3>
                        </div -->
                        <div class="col-md-7">
                            <h6>Total Amount Pembelian Parts & Bahan</h6>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group" show-errors> 
                                <input type="text" class="form-control" name="kategori" ng-disabled="true" skip-enable ng-model="totalAmountPartsBahan">
                            </div>
                        </div>

                        <!-- <div class="col-md-12">
                            <h3>Total Amount Pembelian Parts</h3>
                        </div> -->


                        <div class="col-md-7">
                           <h6> Total Amount Pembelian Parts</h6>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group" show-errors> 
                                <input type="text" class="form-control" name="kategori" ng-disabled="true" skip-enable ng-model="totalAmountParts">
                            </div>
                        </div>


                       <!--  <div class="col-md-12">
                            <h3>Total Amount Pembelian Bahan</h3>
                        </div> -->


                        <div class="col-md-7">
                          <h6> Total Amount Pembelian Bahan</h6>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group" show-errors> 
                                <input type="text" class="form-control" ng-disabled="true" skip-enable name="kategori" ng-model="totalAmountBahan">
                            </div>
                        </div>

                    </div>
                </div>
              
            
                <div class="pull-right">          
                    <button type="button" ng-click="getReport()" class="rbtn btn"> Export </button>
                </div>
            </div>  
        </div> 
       
    </bsform-base-main>

</bsform-base>

<script type="text/ng-template" id="taTemplate.html">
  <a>
      <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>