<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

/*table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}*/

.grid {
  /*width: 500px;*/
  height: 185px;
}
</style>
<!-- <div ng-app="app" ng-controller="PartsSalesBillingController" ng-if="viewCL" class="overlay"> -->
<!-- <h1>Customer Langsung</h1>  -->
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">No Sales Order *</label>
            <input type="text" class="form-control" ng-model="mData.SalesOrderNo" disabled>           
        </div> 
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Tanggal Sales Order</label>
                <div class="tanggal">
                    <bsdatepicker
                    name="DocDate"
                    date-options="dateOptions"
                    ng-model="mData.DocDate"
                    ng-disabled="true"
                    > 
                    </bsdatepicker>
                </div> 
                    <!--<div class="col-md-2">
                        <input type="text" class="form-control" placeholder="" value="">
                    </div>-->
        </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-1">
        <button type="button" class="rbtn btn" ng-click="goBack()">Kembali</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <div class="checkbox-inline">
            <!-- <label><input type="checkbox" value="" disabled>Punya Toyota ID</label> -->
            <div ng-show="AdaToyotaId">
                <label><input type="checkbox" checked="checked" onclick="return false">Punya Toyota ID</label>
            </div>
            <div ng-show="!AdaToyotaId">
                <label><input type="checkbox" onclick="return false">Punya Toyota ID</label>
            </div>
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div ng-show="AdaToyotaId" class="form-group">
            <label class="control-label">Toyota ID</label>
            <div class="input-icon-right">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" ng-model="mData.ToyotaId2" readonly>
            </div>
        </div>
        <div ng-show="!AdaToyotaId" class="form-group">
            <label class="control-label">CustomerCode</label>
            <div class="input-icon-right">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" ng-model="mData.CustomerCode" readonly>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Customer</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" placeholder="Nama Customer" ng-model="mData.CustomerName" disabled>                
            <!-- </div> -->
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">No. Telp</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" placeholder="No. Telp" ng-model="mData.Phone" disabled>
            <!-- </div> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">KTP/KITAS</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.KTPKITAS" readonly>
            <!-- </div> -->
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">NPWP</label>
            <!-- <div class="input-icon-right"> -->
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control" ng-model="mData.Npwp" readonly>
            <!-- </div> -->
        </div>
    </div>
</div>
<div class="row">    
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Metode Pembayaran *</label>
            <select class="form-control"                     
                    ng-model="mData.PaymentMethodId"                    
                    ng-options="p.id as p.name for p in optPaymentMethod"   
                    ng-disabled="true"                 
                    >
            </select>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group"> 
            <!--<label class="control-label">Jangka Waktu Bayar *</label>
            <div class="form-inline">                
                <input type="number" class="form-control" disabled>
                <label>Hari</label>
            </div>-->
            <label class="control-label" for="jangkaWaktu">Jangka Waktu Bayar *</label>
            <div class="jangkaWaktu">
                <input type="number" id="jangkaWaktu" class="form-control" style="width: 50%" ng-model="mData.PaymentPeriod" disabled>
            </div>
        </div>
        
    </div>
</div>
<hr>
<div class="row">    
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">No Sales Billing</label>
            <input type="text" class="form-control" ng-model="mData.SalesBillingNo" disabled>           
            </select>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group"> 
            <label class="control-label">Tanggal Sales Billing</label>
            <div class="tanggal">
                <bsdatepicker
                name="DocDate"
                date-options="dateOptions"
                ng-model="mData.DocDate"
                ng-disabled="true"
                > 
                </bsdatepicker>
            </div>
        </div>
    </div>
</div>
<div class="row">    
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Status Sales Billing</label>
            <input type="text" class="form-control" ng-model="mData.SalesBillingStatusName" disabled>           
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group"> 
            <label class="control-label">Grand Total</label>                        
            <input type="text" format="number" class="form-control" ng-model="mData.TotalAmount" disabled>                            
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group"> 
            <label class="control-label">Total PPN</label>                        
            <input type="text" format="number" class="form-control" ng-model="mData.VATAmount" disabled>                            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="3" ng-model="mData.Notes" disabled></textarea>
        </div>
    </div>
</div>

<!--grid-->
<div class="row"> 
    <div class="col-md-12">
    <div>
        <div ui-grid="gridOptionsView" style="height: 300px" class="grid" ui-grid-auto-resize ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-pagination></div>
    </div>
    </div>
</div>
<br>

<!--tombol bawah-->
<!-- <div class="row">
    <div class="col-md-12">
    <div class="pull-right">
        <button type="button" class="wbtn btn" ng-click="goBack()">Kembali</button>        
    </div>
    </div>
</div> -->
</div>
