<div class="col-md-12" style="margin-left: -20px;">
  <div class="form-group">
    <div class="col-md-12">
      <label ng-show="isReprintedStatus == 1"><i>Cetakan Faktur SO Material ini membutuhkan Approval</i></label>
    </div>
  </div>
</div>
</br>
<div class="col-md-12" style="margin-left: -20px;margin-top: 10px;">
  <div class="form-group">
    <div class="col-md-3">
      <label>Nama Kegiatan</label>
    </div>
    <div class="col-md-9">
      <label ng-show="isReprintedStatus == 1">Cetak Ulang Faktur Sales Order Material</label>
      <label ng-show="isReprintedStatus == 3">Setuju Cetak Ulang Faktur SO Material</label>
      <label ng-show="isReprintedStatus == 2">Tolak Cetak Ulang Faktur SO Material</label>
    </div>
  </div>
</div>
<div class="col-md-12" style="margin-left: -20px;">
  <div class="form-group">
    <div class="col-md-3">
      <label>Tanggal dan Jam</label>
    </div>
    <div class="col-md-9">
      <label>{{mDataReqReprint.DocDate}}</label>
    </div>
  </div>
</div>

<div class="col-md-12" style="margin-left: -20px;">
  <div class="form-group">
    <div class="col-md-3">
      <label>No. Faktur Sales Order</label> 
    </div>
    <div class="col-md-9">
      <textarea style="width: 100%;height: 70px;" class="form-control"  ng-model="mDataReqReprint.SalesBillingNo" name="SalesBillingNo" disabled></textarea>
    </div>
  </div>
</div>

<div class="col-md-12" style="margin-left: -20px; margin-top: 5px;">
  <div class="form-group">
    <div class="col-md-3">
      <label>Approver (s)</label>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" ng-model="mDataReqReprint.Approved" disabled>
    </div>
  </div>
</div>

<div ng-show="isReprintedStatus != 1" class="col-md-12" style="margin-left: -20px;margin-top: 5px;">
  <div class="form-group">
    <div class="col-md-3">
      <label>Pesan</label>
    </div>
    <div class="col-md-9">
      <textarea style="width: 100%;height: 70px;" class="form-control" ng-maxlength="200" maxlength="200" ng-model="mDataReqReprint.RequestReason" disabled></textarea>
    </div>
  </div>
</div>

<div class="col-md-12" style="margin-left: -20px;margin-top: 5px;">
  <div class="form-group">
    <div class="col-md-3">
      <label ng-show="isReprintedStatus == 1">Pesan</label>
      <label ng-show="isReprintedStatus != 1">Alasan</label>
    </div>
    <div class="col-md-9">
      <textarea style="width: 100%;height: 70px;" ng-maxlength="200" maxlength="200" ng-model="mDataReqReprint.Message"></textarea>
    </div>
  </div>
</div>
