<script type="text/javascript">
</script>
<style type="text/css">
  .detail-click {
    border: 1px solid #000;
    border-radius: 3px;
    height: 100px;
  }

  li.liReminderType div.checkbox {
    margin: 0px;
  }

  li.checkbox {
    margin: 0px;
  }

  fieldset {
    padding: 3px 15px;
    margin: 0px 10px;
  }
</style>

<bsform-grid 
  ng-form="MrsListForm"
  factory-name="MrsList"
  model="mData" 
  model-id="Id" 
  get-data="getData" 
  selected-rows="selectedRows" 
  on-select-rows="onSelectRows" 
  loading="loading" 
  form-name="MrsListForm" 
  form-title="MRS List" 
  modal-title="MRS List"
  modal-size="small" 

  grid-hide-action-column="true"
  hide-edit-button="true"
  grid-custom-action-button-template="gridActionButtonTemplate"
  grid-custom-action-button-colwidth="100"

  show-advsearch="on" 
  icon="fa fa-fw fa-child">

  <bsform-advsearch>
    <div class="row">
      <div class="col-md-12" style="margin-bottom:35px;">
       <!--  <fieldset style="border:2px solid #e2e2e2;">
          <legend style="width:inherit">Filter</legend> -->
          <div class="row">
            <div class="col-md-2">
              <bsreqlabel>Reminder Type</bsreqlabel>
            </div>
            <div class="col-md-10">
              <ul class="list-inline">
                <li ng-repeat="item in filter.reminderType" class="liReminderType checkbox">
                  <bscheckbox ng-model="item.checked" label="{{item.value}}" true-value="true" false-value="false">
                  </bscheckbox>
                </li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="ui toggle checkbox">
              <input type="checkbox" ng-model="advanced">
              <label style="font-size:13px;padding-top:0px">Advanced Search </label>
          </div>
          <fieldset ng-if="advanced" style="border:2px solid #e2e2e2;">
            <legend style="width:inherit;border-bottom:0px;">
              <!-- <bscheckbox ng-model="advanced" label="advanced" true-value="true" false-value="false">
              </bscheckbox> -->
              Filter
            </legend>
            <div ng-if="advanced" class="row">
              <div class="col-md-3">
                <bscheckbox ng-model="filter.km.checked" label="Next Km" true-value="true" false-value="false">
              </div>
              <div class="col-md-9 form-inline">
                <div class="form-group" style="width:200px;">
                  <input ng-model="filter.km.km1" style="width:100%" ng-required="filter.km.checked" ng-disabled="!filter.km.checked" type="number" class="form-control">
                </div>
                <div class="form-group text-center" style="width:20px;">
                  <b>-</b>
                </div>
                <div class="form-group" style="width:200px;">
                  <input ng-model="filter.km.km2" style="width:100%" ng-required="filter.km.checked" ng-disabled="!filter.km.checked" type="number" class="form-control">
                </div>
              </div>
            </div>
            <div ng-if="advanced" class="row">
              <div class="col-md-3">
                <bscheckbox ng-model="filter.period.checked" true-value="true" false-value="false" label="Tanggal Jatuh Tempo">
              </div>
              <div class="col-md-9 form-inline">
                <div class="form-group">
                  <bsdatepicker name="EntryDate" date-options="DateOptions" ng-disabled="!filter.period.checked" ng-required="filter.period.checked" ng-model="filter.period.period1">
                  </bsdatepicker>
                </div>
                <div class="form-group text-center" style="width:20px;">
                  <b>-</b>
                </div>
                <div class="form-group">
                  <bsdatepicker name="EntryDate" date-options="DateOptions" ng-disabled="!filter.period.checked" ng-required="filter.period.checked" ng-model="filter.period.period2">
                  </bsdatepicker>
                </div>
                <div class="form-group">
                  {rentang maksimum 1 bulan}
                </div>
              </div>
            </div>
            <div ng-if="advanced" class="row">
              <div class="col-md-3">
                <bscheckbox ng-model="filter.assemblyYear.checked" label="Tahun Rakit" true-value="true" false-value="false">
              </div>
              <div class="col-md-9 form-inline">
                <div class="form-group" show-errors style="width:200px;">
                  <input ng-model="filter.assemblyYear.assemblyYear1" 
                        ng-change="calYear(filter.assemblyYear.assemblyYear1)" 
                        style="width:100%" 
                        ng-disabled="!filter.assemblyYear.checked" 
                        ng-required="filter.assemblyYear.checked" 
                        type="number" class="form-control"
                        name="year"
                        ng-minlength="4">
                  <bserrmsg field="year1"></bserrmsg>
                </div>
                <div class="form-group text-center" style="width:20px;">
                  <b>-</b>
                </div>
                <div class="form-group" show-errors>
                  <!-- <select ng-model="filter.assemblyYear.assemblyYear2" ng-disabled="!filter.assemblyYear.checked" ng-required="filter.assemblyYear.checked" class="form-control">
                          <option value="2011">2011</option>
                          <option value="2012">2012</option>
                          <option value="2013">2013</option>
                          <option value="2014">2014</option>
                      </select> -->
                  <bsselect name="year2"
                          ng-model="filter.assemblyYear.assemblyYear2"
                          data="yearData"
                          ng-disabled="!filter.assemblyYear.checked"
                          ng-required="filter.assemblyYear.checked"
                          item-text="yearName"
                          item-value="yearName"
                          on-select="selectModel(selected)"
                          placeholder="Pilih Model"
                          icon="fa fa-calendar"
                          ng-model-options="{ debounce: 500 }"
                          style="width:200px"
                          required>
                  </bsselect>
                  <bserrmsg field="year2"></bserrmsg>
                </div>
                <div class="form-group">
                  {rentang maksimum 5 tahun}
                </div>
              </div>
            </div>
            <div ng-if="advanced" class="row">
              <div class="col-md-3">
                <bscheckbox ng-model="filter.vehicleType.checked" true-value="true" false-value="false" label="Vehicle">
              </div>
<!--               <div class="col-md-2">
                <bscheckbox ng-model="filter.vehicleType.checked" labe true-value="true" false-value="false">
              </div>
              <div class="col-md-">
                Vehicle Type
              </div> -->
              <div class="col-md-9">
                <!-- <div class="row" style="margin-bottom : 15px;">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <input ng-required="filter.vehicleType.checked" ng-model="filter.vehicleType.searchText" type="text" class="form-control">
                    </div>
                  </div>
                </div> -->
                <div class="col-md-7" style="padding-left:0px;">                 
                  <div class="form-group">
                    <bslabel>Vehicle Model</bslabel>
                    <bsselect 
                            multiple="true"
                            name="vehicleModel"
                            ng-model="filter.selModel"
                            data="modelData"
                            item-text="VehicleModelName, KatashikiCode"
                            item-value="VehicleModelId"
                            on-select="selectModel(selected)"
                            placeholder="Pilih Model Kendaraan"
                            icon="fa fa-car"
                            ng-disabled="!filter.vehicleType.checked"
                            ng-required="filter.vehicleType.checked">
                    </bsselect>

                  </div>
                </div>
                <div class="col-md-7" style="padding-left:0px;">
                  <div class="form-group">
                    <bslabel>Vehicle Type</bslabel>
                    <bsselect 
                            multiple="true"
                            name="vehicleType"
                            ng-model="filter.selType"
                            data="typeData"
                            item-text="Description, KatashikiCode"
                            item-value="VehicleTypeId"
                            on-select="selectType(selected)"
                            placeholder="Pilih Type Kendaraan"
                            icon="fa fa-car"
                            ng-disabled="!filter.vehicleType.checked"
                            ng-required="filter.vehicleType.checked">
                    </bsselect>
                  </div>
                </div>
<!--                 <div class="row">
                  <div class="form-group">
                    <div class="col-xs-6">
                      <div style="overflow-y: scroll;border: 1px solid grey;">
                        <ul style="list-style-type: none;">
                          <li ng-repeat="item in filter.vehicleType.listType">
                            <bscheckbox ng-model="item.checked" label="{{item.label}}" true-value="true" false-value="false">
                            </bscheckbox>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div style="overflow-y: scroll;border: 1px solid grey;">
                        <ul style="list-style-type: none;">
                          <li>
                            <bscheckbox ng-model="checkedAllforListTypeDetailModel" ng-change="checkedAllforListTypeDetailFunc();" label="All">
                            </bscheckbox>
                          </li>
                          <li ng-repeat="item in filter.vehicleType.listTypeDetail">
                            <bscheckbox ng-model="item.checked" label="{{item.label}}" true-value="true" false-value="false">
                            </bscheckbox>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </fieldset>
        <!-- </fieldset> -->
      </div>
    </div>
  </bsform-advsearch>

  <uib-tabset active="activeJustified" justified="true" style="margin-top: 40px;">
    <uib-tab index="0" heading="Informasi Umum">
      <div class="row" style="margin-top: 20px;">

        <!-- Informasi pelanggan -->
        <div class="col-md-12">
          <div class="col-md-3 form-group">
            <div class="col-md-12">
              <bsreqlabel>Toyota ID</bsreqlabel>
            </div>
            <div class="col-md-1">
              <h1 style="color: red">{{ mData.Id }}</h1>
            </div>
          </div>

          <div class="col-md-3 form-group" show-errors>
            <div class="col-md-12">
              <bsreqlabel>Kategori Pelanggan</bsreqlabel>
            </div>
            <div class="col-md-12">
              <select class="form-control" ng-disabled=t rue name="KategoriPelanggan" ng-model="mData.KategoriPelanggan" required="true">
                      <option value="{{mData.KategoriPelanggan}}">{{mData.KategoriPelanggan}}</option>
                  </select>
            </div>
            <div class="col-md-12">
              <bserrmsg field="KategoriPelanggan"></bserrmsg>
            </div>
          </div>

          <div class="col-md-2 form-group" show-errors>
            <div class="col-md-12">
              <bsreqlabel>Peran Pelanggan</bsreqlabel>
            </div>
            <div class="col-md-12">
              <select class="form-control" ng-disabled=t rue name="PeranPelanggan" ng-model="mData.PeranPelanggan" required="true">
                      <option value="{{mData.PeranPelanggan}}">{{mData.PeranPelanggan}}</option>
                  </select>
            </div>
            <div class="col-md-12">
              <bserrmsg field="KategoriPelanggan"></bserrmsg>
            </div>
          </div>


          <div class="col-md-2 form-group" show-errors>
            <div class="col-md-12">
              <bsreqlabel>KTP/KITAS</bsreqlabel>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" name="ktp" ng-model="mData.ktp" required="true" maxlength="50">
            </div>
            <div class="col-md-12">
              <bserrmsg field="ktp"></bserrmsg>
            </div>
          </div>



          <div class="col-md-2 form-group" show-errors>
            <div class="col-md-12">
              <bsreqlabel>NPWP</bsreqlabel>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" name="npwp" ng-model="mData.npwp" required="true" maxlength="50">
            </div>
            <div class="col-md-12">
              <bserrmsg field="npwp"></bserrmsg>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="col-md-3 form-group" show-errors>
            <div class="col-md-12">
              <bsreqlabel>Nama Lengkap</bsreqlabel>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" name="NamaLengkap" ng-model="mData.NamaLengkap" required="true" maxlength="50">
            </div>
            <div class="col-md-12">
              <bserrmsg field="NamaLengkap"></bserrmsg>
            </div>
          </div>

          <div class="col-md-3 form-group" show-errors>
            <div class="col-md-12">
              <bsreqlabel>Nama Panggilan</bsreqlabel>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" name="NamaPanggilan" ng-model="mData.NamaPanggilan" required="true" maxlength="50">
            </div>
            <div class="col-md-12">
              <bserrmsg field="NamaPanggilan"></bserrmsg>
            </div>
          </div>

          <div class="col-md-2 form-group" show-errors>
            <div class="col-md-12">
              <bsreqlabel>Jenis Kelamin</bsreqlabel>
            </div>
            <div class="col-md-12">

              <div class="col-md-12">
                <input type="radio" name="JenisKelamin" ng-model="mData.JenisKelamin" required="true" value="L">
                <label style="margin-right:10px;">L</label>

                <input type="radio" name="JenisKelamin" ng-model="mData.JenisKelamin" required="true" value="P">
                <label style="margin-right: 0px;">P</label>
              </div>

            </div>
            <div class="col-md-12">
              <bserrmsg field="JenisKelamin"></bserrmsg>
            </div>
          </div>

          <div class="col-md-2 form-group" show-errors>
            <div class="col-md-12">
              <bsreqlabel>Tempat Lahir</bsreqlabel>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" name="TempatLahir" ng-model="mData.TempatLahir" required="true" maxlength="50">
            </div>
            <div class="col-md-12">
              <bserrmsg field="TempatLahir"></bserrmsg>
            </div>
          </div>

          <div class="col-md-2 form-group" show-errors>
            <div class="col-md-12">
              <bsreqlabel>Tanggal Lahir</bsreqlabel>
            </div>
            <div class="col-md-12">
              <input ng-required="filter.period.checked" ng-model="filter.period.period1" type="date" class="form-control">
            </div>
            <div class="col-md-12">
              <bserrmsg field="filter.period.period1"></bserrmsg>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="col-md-6 form-group" show-errors>
            <div class="col-md-12">
              <bsreqlabel>Alamat Lengkap</bsreqlabel>
            </div>
            <div class="col-md-12">
              <textarea class="form-control" name="alamat" ng-model="mData.alamat" required="true" style="height: 120px;"></textarea>
            </div>
            <div class="col-md-12">
              <bserrmsg field="alamat"></bserrmsg>
            </div>
          </div>

          <div class="col-md-6" style="padding-left: 0px;">
            <div class="col-md-12">

              <div class="col-md-4 form-group" style="padding-left: 0px;" show-errors>
                <div class="col-md-12">
                  <bsreqlabel>Propinsi</bsreqlabel>
                </div>
                <div class="col-md-12">
                  <select class="form-control" ng-disabled=t rue name="propinsi" ng-model="mData.propinsi" required="true">
                          <option value="{{mData.propinsi}}">{{mData.propinsi}}</option>
                        </select>
                </div>
                <div class="col-md-12">
                  <bserrmsg field="propinsi"></bserrmsg>
                </div>
              </div>

              <div class="col-md-4 form-group" show-errors>
                <div class="col-md-12">
                  <bsreqlabel>Kota/kab</bsreqlabel>
                </div>
                <div class="col-md-12">
                  <select class="form-control" ng-disabled=t rue name="KotaKab" ng-model="mData.KotaKab" required="true">
                            <option value="{{mData.KotaKab}}">{{mData.KotaKab}}</option>
                        </select>
                </div>
                <div class="col-md-12">
                  <bserrmsg field="KotaKab"></bserrmsg>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-4 form-group" style="padding-left: 0px;" show-errors>
                <div class="col-md-12">
                  <bsreqlabel>Kecamatan</bsreqlabel>
                </div>
                <div class="col-md-12">
                  <select class="form-control" ng-disabled=t rue name="kecamatan" ng-model="mData.kecamatan" required="true">
                            <option value="{{mData.kecamatan}}">{{mData.kecamatan}}</option>
                        </select>
                </div>
                <div class="col-md-12">
                  <bserrmsg field="kecamatan"></bserrmsg>
                </div>
              </div>

              <div class="col-md-4 form-group" show-errors>
                <div class="col-md-12">
                  <bsreqlabel>Kelurahan</bsreqlabel>
                </div>
                <div class="col-md-12">
                  <select class="form-control" ng-disabled=t rue name="kelurahan" ng-model="mData.kelurahan" required="true">
                            <option value="{{mData.kelurahan}}">{{mData.kelurahan}}</option>
                        </select>
                </div>
                <div class="col-md-12">
                  <bserrmsg field="kelurahan"></bserrmsg>
                </div>
              </div>

              <div class="col-md-4 form-group" show-errors>
                <div class="col-md-12">
                  <bsreqlabel>Kodepos</bsreqlabel>
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" name="KodePos" ng-model="mData.KodePos" required="true" maxlength="50">
                </div>
                <div class="col-md-12">
                  <bserrmsg field="KodePos"></bserrmsg>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="col-md-4 form-group" show-errors>
            <div class="col-md-12">
              <bsreqlabel><label>Nomor Handpone 1</label></bsreqlabel>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" name="NomorHp1" ng-model="mData.NomorHp1" required="true" maxlength="50">
            </div>
            <div class="col-md-12">
              <bserrmsg field="NomorHp1"></bserrmsg>
            </div>
          </div>

          <div class="col-md-4 form-group">
            <div class="col-md-12">
              <label>Nomor Handpone 2</label>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" name="NomorHp2" ng-model="mData.NomorHp2" maxlength="50">
            </div>
          </div>

          <div class="col-md-4 form-group" show-errors>
            <div class="col-md-12">
              <bsreqlabel>Email</bsreqlabel>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" name="email" ng-model="mData.email" required="true" maxlength="50">
            </div>
            <div class="col-md-12">
              <bserrmsg field="email"></bserrmsg>
            </div>
          </div>
        </div>
        <!-- Informasi pelanggan -->

        <!-- vechile detail -->

        <div class="col-md-7" style="margin-top: 60px;">

          <div class="row">
            <div class="col-md-4 form-group" show-errors>
              <div class="col-md-12">
                <bsreqlabel>No. Polisi</bsreqlabel>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="NoPolisi" ng-model="mData.NoPolisi" required="true">
              </div>
              <div class="col-md-12">
                <bserrmsg field="NoPolisi"></bserrmsg>
              </div>
            </div>


            <div class="col-md-4 form-group" show-errors>
              <div class="col-md-12">
                <bsreqlabel>No. Rangka</bsreqlabel>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="NoRangka" ng-model="mData.NoRangka" required="true">
              </div>
              <div class="col-md-12">
                <bserrmsg field="NoRangka"></bserrmsg>
              </div>
            </div>


            <div class="col-md-4 form-group" show-errors>
              <div class="col-md-12">
                <bsreqlabel>No. Mesin</bsreqlabel>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="NoMesin" ng-model="mData.NoMesin" required="true">
              </div>
              <div class="col-md-12">
                <bserrmsg field="NoMesin"></bserrmsg>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4 form-group" show-errors>
              <div class="col-md-12">
                <bsreqlabel>Model</bsreqlabel>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="model" ng-model="mData.model" required="true">
              </div>
              <div class="col-md-12">
                <bserrmsg field="model"></bserrmsg>
              </div>
            </div>


            <div class="col-md-4 form-group" show-errors>
              <div class="col-md-12">
                <bsreqlabel>Tipe</bsreqlabel>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="tipe" ng-model="mData.tipe" required="true">
              </div>
              <div class="col-md-12">
                <bserrmsg field="tipe"></bserrmsg>
              </div>
            </div>


            <div class="col-md-4 form-group" show-errors>
              <div class="col-md-12">
                <bsreqlabel>Full Model</bsreqlabel>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="FullModel" ng-model="mData.FullModel" required="true">
              </div>
              <div class="col-md-12">
                <bserrmsg field="FullModel"></bserrmsg>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4 form-group" show-errors>
              <div class="col-md-12">
                <bsreqlabel>Tahun Rakit</bsreqlabel>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="TahunRakit" ng-model="mData.TahunRakit" required="true">
              </div>
              <div class="col-md-12">
                <bserrmsg field="TahunRakit"></bserrmsg>
              </div>
            </div>


            <div class="col-md-4 form-group" show-errors>
              <div class="col-md-12">
                <bsreqlabel>Kode Warna</bsreqlabel>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="KodeWarna" ng-model="mData.KodeWarna" required="true">
              </div>
              <div class="col-md-12">
                <bserrmsg field="KodeWarna"></bserrmsg>
              </div>
            </div>


            <div class="col-md-4 form-group" show-errors>
              <div class="col-md-12">
                <bsreqlabel>Warna</bsreqlabel>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="warna" ng-model="mData.warna" required="true">
              </div>
              <div class="col-md-12">
                <bserrmsg field="warna"></bserrmsg>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-5" style="margin-top: 60px;overflow-y: scroll;border: 0px solid grey;height: 150px;">
          <div class="col-md-12">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Riwayat Ketidakpuasan Pelanggan
          </div>

          <div class="col-md-12" style="margin-left: 20px;">
            <a class="glyphicon glyphicon-plus" data-toggle="collapse" data-target="#csl" aria-expanded="false" aria-controls="CSL">
                    CSL
                  </a>
            <div class="collapse" id="csl">

              1. Tanggal : 19/01/2015(CSL 1) Detail
              <br> 2. Tanggal : 26/05/2016(CSL 2) Detail

            </div>
          </div>

          <div class="col-md-12" style="margin-left: 20px;">
            <a class="glyphicon glyphicon-plus" data-toggle="collapse" data-target="#idi" aria-expanded="false" aria-controls="CSL">
                      IDI
                    </a>
            <div class="collapse" id="idi">

              1. Tanggal : 02/02/2015(Interview 1)
              <br> 2. Tanggal : 26/05/2016(Interview 2)

            </div>
          </div>

          <div class="col-md-12" style="margin-left: 20px;">
            <a class="glyphicon glyphicon-plus" data-toggle="collapse" data-target="#keluhan" aria-expanded="false" aria-controls="CSL">
                      Keluhan Dan Permintaan Pelanggan
                    </a>
            <div class="collapse" id="keluhan">

              1. Tanggal : 02/02/2015(Permintaan)
              <br> 2. Tanggal : 26/05/2016(Keluhan)

            </div>
          </div>

        </div>

        <!-- vechile detail -->

      </div>
    </uib-tab>
    <uib-tab index="1" heading="Riwayat Service Kendaraan">

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <div class="col-md-12">
            <label>Kategori :</label>
          </div>
          <div class="col-md-3">
            <select class="form-control" name="Kategori" ng-model="mData.Kategori">
                  <option value="all">all</option>
                  <option value="GR">GR</option>
                  <option value="BP">BP</option>
              </select>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">

        <div class="col-md-12">
          <div class="col-md-12" style="border:1px solid #000; border-radius: 3px;" ng-click="detail=true">

            <div class="col-md-6">
              <div class="col-md-12">
                <b>Perbaikan Pintu Kanan Depan</b>
              </div>
              <div class="col-md-12">
                Lokasi Service : Auto2000 Sunter Km 50.129
              </div>
              <div class="col-md-12">
                Job Suggest : -
              </div>
            </div>
            <div class="col-md-6" align="right">
              <div class="col-md-12">
                3 Maret 2016
              </div>
              <div class="col-md-12">
                SA : Nama SA
              </div>
              <div class="col-md-12">
                Grop : MAS
              </div>
              <div class="col-md-12">
                Kategor : BP
              </div>
            </div>

          </div>

          <div class="col-md-12" style="margin-top:20px;" ng-show="detail">
            <i class="glyphicon glyphicon-remove" ng-click="detail=false"></i>
            <uib-accordion close-others="oneAtATime">
              <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading>
                  Service Berkala 40.000
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                  <!-- <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> -->
                </uib-accordion-heading>
                <table class="table table-striped">
                  <tr>
                    <td>Material</td>
                    <td>Qty</td>
                    <td>Satuan</td>
                  </tr>
                  <tr>
                    <Td>Oli Mesin</Td>
                    <Td>1</Td>
                    <Td>Piece</Td>
                  </tr>
                </table>
              </div>
            </uib-accordion>
          </div>

        </div>
      </div>

    </uib-tab>
    <uib-tab index="2" heading="Customer Request">
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
          <div class="col-md-12">
            <div class="form-group" show-errors>
              <bsreqlabel>Reminder Type</bsreqlabel>
              <div class="input-icon-right">
                <i class="fa fa-user"></i>
                <select class="form-control" ng-change="selectType()" placeholder="Select Type" name="reminderType" ng-model="mData.Type" required>
                    <option value="Month">Month</option>
                    <option value="Km">Km</option>
                </select>
              </div>
              <bserrmsg field="Name"></bserrmsg>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" ng-show="mData.Type == 'Month'" show-errors>
              <bsreqlabel>Month</bsreqlabel>
              <div class="input-icon-right">
                <i class="fa fa-building"></i>
                <select class="form-control" name="month" ng-model="mData.statMonth" required>
                    <option ng-repeat="month in dt" value="{{$index+1}}">{{month.name}}</option>
                </select>
                <!-- <bsselect name="month"
                              ng-model="mData.statMonth"
                              data="dt"
                              item-text="name"
                              item-value="$index"
                              placeholder="Choose Month"
                              on-select="selectMonth(selected)"
                              icon="fa fa-building">
                      </bsselect> -->
              </div>
              <bserrmsg field="month"></bserrmsg>
            </div>
            <!-- <div class="form-group" ng-show="mData.Type == 'Km'" show-errors>
                  <bsreqlabel>Km</bsreqlabel>
                  <div class="input-icon-right">
                      <i class="fa fa-user"></i>
                      <select class="form-control" name="kilo" ng-model = "mData.statKm" required>
                          <option value="Month">Month</option>
                          <option value="Km">Km</option>
                      </select>
                  </div>
                  <bserrmsg field="Kilo"></bserrmsg>
              </div> -->
            <div class="form-group" ng-show="mData.Type == 'Km'" show-errors>
              <bsreqlabel>Km</bsreqlabel>
              <div class="input-icon-right">
                <i class="fa fa-pencil"></i>
                <input type="number" min="0" class="form-control" name="kilo" placeholder="Kilometer" ng-model="mData.statKm" required>
              </div>
              <bserrmsg field="kilo"></bserrmsg>
            </div>
          </div>
        </div>
        <div class="col-md-12" ng-show="mData.Type != null">
          <div class="form-group" show-errors>
            <div class="col-md-12">
              <bsreqlabel>Note</bsreqlabel>
            </div>
            <div class="col-md-6">
              <textarea class="form-control" name="note" ng-model="mData.note" required></textarea>
              <bserrmsg field="note"></bserrmsg>
            </div>
          </div>
          <div class="col-md-12" style="margin-top:10px;">
            <div class="btn-group">
              <button type="button" class="rbtn btn ng-binding">
                    <i class="fa fa-fw fa-save"></i>
                    Save
                  </button>
            </div>
          </div>
        </div>
      </div>
      <pre>{{mData}}</pre>
    </uib-tab>
    <uib-tab index="3" heading="Invitation Update">
      <div class="row" style="margin-top: 20px;">

        <div class="col-md-3">
          <div class="col-md-12">
            Invitation by
          </div>
          <div class="col-md-12">
            <select class="form-control" ng-disabled=t rue>
                  <option value="#">Phone Call</option>
              </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="col-md-12">
            Status
          </div>
          <div class="col-md-12">
            <select class="form-control" ng-model="mData.status">
                  <option value="terhubung">Terhubung</option>
                  <option value="tidak terhubung">Tidak Terhubung</option>
              </select>
          </div>
        </div>

        <div class="col-md-3" ng-show="mData.status == 'tidak terhubung'">
          <div class="col-md-12">
            Alasan
          </div>
          <div class="col-md-12">
            <select class="form-control">
                  <option value="nomor tidak aktif">Nomor tidak aktif</option>
              </select>
          </div>
        </div>

      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12" ng-show="mData.status == 'terhubung'">

          <div class="col-md-12">
            <label>Update Hasil Reminder</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" ng-model="mData.updateHasilReminder">
                    <option value="customer minta dihubungi kembali">Customer Minta Dihubungi Kembali</option>
                    <option value="customer bersedia booking">Customer Bersedia Booking</option>
                    <option value="customer tidak bersedia booking">Customer Tidak Bersedia Booking</option>
                </select>
          </div>

          <div class="col-md-12" ng-show="mData.updateHasilReminder == 'customer minta dihubungi kembali'">
            <div class="col-md-2" style="margin-top: 20px;padding-left: 0px;">
              <input type="date" class="form-control">
            </div>
            <div class="col-md-12" style="margin-top: 20px;padding-left: 0px;">
              <textarea style="width: 100%; height: 200px;" placeholder="Alasan Customer Minta Digubungi Kembali"></textarea>
            </div>
          </div>

          <div class="col-md-12" ng-show="mData.updateHasilReminder == 'customer bersedia booking'">

            <div class="col-md-12" style="margin-top: 20px;padding-left: 0px;">
              <input type="radio" ng-model="mData.permintaanAppoinment" value="permintaan appoinment" name="appoinment" ng-click="permintaan = true">
              <label style="margin-right:10px;">Permintaan Appoinment</label>

              <input type="radio" ng-model="mData.pembuatanAppoinment" value="pembuatan appoinment" name="appoinment" ng-click="permintaan = false">
              <label style="margin-right: 0px;">Pembuatan Appoinment</label>
            </div>

            <div class="col-md-2" style="margin-top: 20px;padding-left: 0px;" ng-show="permintaan">
              <input type="date" class="form-control">
            </div>

          </div>

          <div class="col-md-12" ng-show="mData.updateHasilReminder == 'customer tidak bersedia booking'">

            <div class="col-md-12" style="margin-top: 20px;padding-left: 0px;">
              <textarea style="width: 100%; height: 100px;" placeholder="Alasan Customer Tidak Bersedia Booking"></textarea>
            </div>

            <div class="col-md-12" style="padding-left: 0px;">
              <label>Status Follow Up</label>
            </div>
            <div class="col-md-12" style="padding-left: 0px;">
              <input type="radio">
              <label style="margin-right:10px;">Late</label>

              <input type="radio">
              <label style="margin-right:10px;">Accurate</label>

              <input type="radio">
              <label style="margin-right:10px;">Early</label>
            </div>

            <div class="col-md-12" style="margin-top: 20px;padding-left: 0px;">

              <div class="col-md-3" style="padding-left: 0px;">
                <div class="col-md-12" style="padding-left: 0px;">
                  <label>Tanggal Service Terakhir</label>
                </div>
                <div class="col-md-12" style="padding-left: 0px;">
                  <input type="date" class="form-control" ng-disabled=t rue>
                </div>
              </div>

              <div class="col-md-3" style="padding-left: 0px;">
                <div class="col-md-12" style="padding-left: 0px;">
                  <label>Posisi KM Terakhir</label>
                </div>
                <div class="col-md-12" style="padding-left: 0px;">
                  <input type="text" class="form-control">
                </div>
              </div>

              <div class="col-md-6" style="padding-left: 0px;">
                <div class="col-md-12" style="padding-left: 0px;">
                  <label>Service Location</label>
                </div>
                <div class="col-md-12" style="padding-left: 0px;">
                  <input type="text" class="form-control">
                </div>
              </div>

            </div>

            <div class="col-md-12" style="margin-top: 20px;padding-left: 0px;">

              <div class="col-md-3" style="padding-left: 0px;">
                <div class="col-md-12" style="padding-left: 0px;">
                  <label>Tanggal Service Selanjutnya</label>
                </div>
                <div class="col-md-12" style="padding-left: 0px;">
                  <input type="date" class="form-control" ng-disabled=t rue ng-model="mData.tglServiceSelanjutnya">
                </div>
              </div>

              <div class="col-md-3" style="padding-left: 0px;">
                <div class="col-md-12" style="padding-left: 0px;">
                  <label>Posisi KM Selanjutnya</label>
                </div>
                <div class="col-md-12" style="padding-left: 0px;">
                  <input type="text" class="form-control" ng-disabled=t rue>
                </div>
              </div>

              <div class="col-md-6" style="padding-left: 0px;">
                <div class="col-md-12" style="padding-left: 0px;margin-top: 20px;">
                  <button class="form-control">Recalculate Posisi Service Selanjutnya</button>
                </div>
              </div>

            </div>


          </div>

        </div>
      </div>

    </uib-tab>
  </uib-tabset>

  </bsform-grid>
