<script type="text/javascript">
</script>
<style type="text/css">
    .detail-click {
        border: 1px solid #000;
        border-radius: 3px;
        height: 100px;
    }
    
    li.liReminderType div.checkbox {
        margin: 0px;
    }
    
    li.checkbox {
        margin: 0px;
    }
    
    fieldset {
        padding: 3px 15px;
        margin: 0px 10px;
    }
    
    .badge-menu {
        padding: 0;
        width: 13px;
        height: 13px;
        line-height: 15px;
        text-align: center;
        background-color: #d53337;
        margin-left: -10px;
        vertical-align: super;
    }
    
    .gridFront {
        /*    font-size: 8pt;*/
    }
    
    .bsdate-picker {
        border: none !important;
    }
</style>

<bsform-grid ng-form="MrsListForm" factory-name="MrsList" model="update" model-id="Id" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" on-show-detail="onShowDetail" loading="loading" form-name="MrsListForm" form-title="MRS List"
    modal-title="MRS List" modal-size="small" on-before-cancel="onBeforeCancel" do-custom-save="doCustomSave" grid-hide-action-column="true" hide-edit-button="true" grid-custom-action-button-template="gridActionButtonTemplate" grid-custom-action-button-colwidth="100"
    custom-bulk-settings="customBulk" show-advsearch="on" form-api="formApi" icon="fa fa-fw fa-child" class="gridFront">

    <bsui-modal show="show_modal.sms" title="Kirim SMS" data="dataGrid" on-save="sendSMS" on-cancel="cancelSMS" mode="modalMode" button-settings="buttonSms">
        <div class="row">
            <div class="col-md-12" style="margin-top: 25px;">
                <div ui-grid="gridSms" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <bsreqlabel>SMS Template</bsreqlabel>
                    <textarea class="form-control" rows="5" ng-maxlength="150000" ng-model="TemplateMessageMain_SMS" name="TemplateMessageMain_SMS" readonly></textarea>
                </div>
            </div>
        </div>
    </bsui-modal>
    <bsui-modal show="show_modal.email" title="Kirim Email" data="dataGrid" on-save="sendEmail" on-cancel="cancelEmail" mode="modalMode" button-settings="buttonEmail">
        <div class="row">
            <div class="col-md-12" style="margin-top: 25px;">
                <div ui-grid="gridEmail" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <bsreqlabel>Email Template</bsreqlabel>
                    <textarea class="form-control" rows="5" ng-model="TemplateMessageMain_Email" name="TemplateMessageMain_Email" readonly></textarea>
                </div>
            </div>
        </div>
    </bsui-modal>

    <bsform-advsearch>
        <div class="row">
            <div class="col-md-12" style="margin-bottom:35px;">
                <!--  <fieldset style="border:2px solid #e2e2e2;">
          <legend style="width:inherit">Filter</legend> -->
                <div class="row">
                    <div class="col-md-2">
                        <bsreqlabel>Reminder Type</bsreqlabel>
                    </div>
                    <div class="col-md-10">
                        <ul class="list-inline">
                            <li ng-repeat="item in filter.reminderType" class="liReminderType checkbox">
                                <bscheckbox ng-model="item.checked" label="{{item.Name}}" true-value="true" ng-click="clickChecked(item)" false-value="false" ng-change="onClickChange(item)">
                                </bscheckbox>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <!-- <div class="ui toggle checkbox">
          <input type="checkbox" ng-model="advanced" ng-disabled="filter.reminderType[5].checked">
          <label style="font-size:13px;padding-top:0px">Advanced Search </label>
        </div> -->
                <fieldset ng-if="advanced" style="border:2px solid #e2e2e2;">
                    <legend style="width:inherit;border-bottom:0px;">
                        <!-- <bscheckbox ng-model="advanced" label="advanced" true-value="true" false-value="false">
              </bscheckbox> -->
                        Filter
                    </legend>
                    <div ng-if="advanced" class="row">
                        <div class="col-md-3">
                            <bscheckbox ng-model="filter.km.checked" label="Next Km" true-value="true" false-value="false"></bscheckbox>
                        </div>
                        <div class="col-md-9 form-inline">
                            <div class="form-group" style="width:200px;">
                                <input ng-model="filter.km.km1" style="width:100%" ng-required="filter.km.checked" ng-disabled="!filter.km.checked" type="number" class="form-control">
                            </div>
                            <div class="form-group text-center" style="width:20px;">
                                <b>-</b>
                            </div>
                            <div class="form-group" style="width:200px;">
                                <input ng-model="filter.km.km2" style="width:100%" ng-required="filter.km.checked" ng-disabled="!filter.km.checked" type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div ng-if="advanced" class="row">
                        <div class="col-md-3">
                            <bscheckbox ng-model="filter.period.checked" true-value="true" false-value="false" label="Tanggal Jatuh Tempo"></bscheckbox>
                        </div>
                        <div class="col-md-9 form-inline">
                            <div class="form-group">
                                <bsdatepicker name="EntryDate" date-options="DateOptions" ng-disabled="!filter.period.checked" ng-required="filter.period.checked" ng-model="filter.period.period1">
                                </bsdatepicker>
                            </div>
                            <div class="form-group text-center" style="width:20px;">
                                <b>-</b>
                            </div>
                            <div class="form-group">
                                <bsdatepicker name="EntryDate" date-options="DateOptions" ng-disabled="!filter.period.checked" ng-required="filter.period.checked" ng-model="filter.period.period2">
                                </bsdatepicker>
                            </div>
                            <div class="form-group">
                                {rentang maksimum 1 bulan}
                            </div>
                        </div>
                    </div>
                    <div ng-if="advanced" class="row">
                        <div class="col-md-3">
                            <bscheckbox ng-click="checkedAssemblyYear(filter.assemblyYear.checked)" ng-model="filter.assemblyYear.checked" label="Tahun Rakit" true-value="true" false-value="false"></bscheckbox>
                        </div>
                        <div class="col-md-9 form-inline">
                            <div class="form-group" style="width:200px;">
                                <input ng-model="filter.assemblyYear.assemblyYear1" ng-change="calYear(filter.assemblyYear.assemblyYear1)" style="width:100%" ng-disabled="!filter.assemblyYear.checked" ng-required="filter.assemblyYear.checked" type="number" class="form-control" name="year1"
                                    ng-minlength="4" ng-required="filter.assemblyYear.checked">
                                <!-- <bserrmsg field="year1"></bserrmsg> -->
                            </div>
                            <div class="form-group text-center" style="width:20px;">
                                <b>-</b>
                            </div>
                            <div class="form-group">
                                <bsselect name="year2" ng-model="filter.assemblyYear.assemblyYear2" data="yearData" ng-disabled="!filter.assemblyYear.checked" ng-required="filter.assemblyYear.checked" item-text="yearName" item-value="yearName" on-select="selectYear(selected)" placeholder="Pilih Tahun"
                                    icon="fa fa-calendar" ng-model-options="{ debounce: 500 }" style="width:200px" ng-required="filter.assemblyYear.checked">
                                </bsselect>
                                <!-- <bserrmsg field="year2"></bserrmsg> -->
                            </div>
                            <div class="form-group">
                                {rentang maksimum 5 tahun}
                            </div>
                        </div>
                    </div>
                    <div ng-if="advanced" class="row">
                        <div class="col-md-3">
                            <bscheckbox ng-model="filter.vehicleType.checked" true-value="true" false-value="false" label="Vehicle"></bscheckbox>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-7" style="padding-left:0px;">
                                <div class="form-group">
                                    <bslabel>Vehicle Model</bslabel>
                                    <bsselect multiple="true" name="vehicleModel" ng-model="filter.selModel" data="modelData" item-text="VehicleModelName, KatashikiCode" item-value="VehicleModelId" on-select="selectModel(selected)" placeholder="Pilih Model Kendaraan" icon="fa fa-car" ng-disabled="!filter.vehicleType.checked"
                                        ng-required="filter.vehicleType.checked">
                                    </bsselect>

                                </div>
                            </div>
                            <div class="col-md-7" style="padding-left:0px;">
                                <div class="form-group">
                                    <bslabel>Vehicle Type</bslabel>
                                    <bsselect multiple="true" name="vehicleType" ng-model="filter.selType" data="typeData" item-text="Description, KatashikiCode" item-value="VehicleTypeId" on-select="selectType(selected)" placeholder="Pilih Type Kendaraan" icon="fa fa-car" ng-disabled="!filter.vehicleType.checked"
                                        ng-required="filter.vehicleType.checked">
                                    </bsselect>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset ng-form="filterMRS" ng-if="!advanced && filter.reminderType[5].checked" style="border:2px solid #e2e2e2;">
                    <legend style="width:inherit;border-bottom:0px;">
                        Filter
                    </legend>
                    <div class="row">
                        <div class="col-md-3">
                            <bscheckbox ng-model="filter.customerType.checked" label="Tipe Pelanggan" true-value="true" false-value="false" ng-change="onCustomerTypeChange()"></bscheckbox>
                        </div>
                        <div class="col-md-9 form-inline">
                            <div class="form-group" style="width:200px;">
                                <bsselect name="CustomerTypeId" data="dataFilter.custometType" item-text="CustomerTypeDesc" item-value="CustomerTypeId" ng-model="filter.customerType.customerType" placeholder="Select Customer Type" icon="fa fa-child glyph-left" style="min-width: 150px;"
                                    ng-disabled="!filter.customerType.checked" skip-enable>
                                </bsselect>
                                <!-- <input ng-model="filter.customerType.customerType" style="width:100%" ng-required="filter.customerType.checked" ng-disabled="!filter.customerType.checked" type="text"
                  class="form-control"> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <bscheckbox ng-model="filter.rangeKm.checked" label="Rentang KM" true-value="true" false-value="false" ng-change="onKMChange()"></bscheckbox>
                        </div>
                        <div class="col-md-9 form-inline">
                            <div class="form-group" style="width:200px;">
                                <input ng-model="filter.rangeKm.km1" style="width:100%" ng-required="filter.rangeKm.checked" ng-disabled="!filter.rangeKm.checked" type="number" class="form-control">
                            </div>
                            <div class="form-group text-center" style="width:20px;">
                                <b>-</b>
                            </div>
                            <div class="form-group" style="width:200px;">
                                <input ng-model="filter.rangeKm.km2" style="width:100%" ng-required="filter.rangeKm.checked" ng-disabled="!filter.rangeKm.checked" type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <bscheckbox ng-model="filter.rangeServiceDate.checked" true-value="true" false-value="false" label="Rentang Tgl. Service" ng-change="onRangeServiceDateChange()"></bscheckbox>
                        </div>
                        <div class="col-md-9 form-inline">
                            <div class="form-group" style="width:200px;">
                                <bsdatepicker name="EntryDate" date-options="DateOptions" ng-disabled="!filter.rangeServiceDate.checked" ng-required="filter.rangeServiceDate.checked" ng-model="filter.rangeServiceDate.period1">
                                </bsdatepicker>
                            </div>
                            <div class="form-group text-center" style="width:20px;">
                                <b>-</b>
                            </div>
                            <div class="form-group" style="width:200px;">
                                <bsdatepicker name="EntryDate" date-options="DateOptions" ng-disabled="!filter.rangeServiceDate.checked" ng-required="filter.rangeServiceDate.checked" ng-model="filter.rangeServiceDate.period2">
                                </bsdatepicker>
                            </div>
                            <div class="form-group text-center">
                                <label class="control-label">*Rentang maksimum 1 bulan</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <bscheckbox ng-model="filter.rangeAsemblyYear.checked" label="Rentang Tahun Rakit" true-value="true" false-value="false" ng-change="onRangeAsemblyYearChange()"></bscheckbox>
                        </div>
                        <div class="col-md-9 form-inline">
                            <div class="form-group" style="width:200px;">
                                <input name="asemblyYear1" ng-model="filter.rangeAsemblyYear.asemblyYear1" style="width:100%" ng-required="filter.rangeAsemblyYear.checked" ng-disabled="!filter.rangeAsemblyYear.checked" type="number" class="form-control">
                            </div>
                            <div class="form-group text-center" style="width:20px;">
                                <b>-</b>
                            </div>
                            <div class="form-group" style="width:200px;">
                                <input name="asemblyYear2" ng-model="filter.rangeAsemblyYear.asemblyYear2" style="width:100%" ng-required="filter.rangeAsemblyYear.checked" min="{{filter.rangeAsemblyYear.asemblyYear1}}" max="{{filter.rangeAsemblyYear.asemblyYear1 + 5}}" ng-disabled="!filter.rangeAsemblyYear.checked"
                                    type="number" class="form-control">
                            </div>
                            <div class="form-group text-center">
                                <label class="control-label">*Rentang maksimum 5 tahun</label>
                            </div>
                            <div style="padding-left:230px;">
                                <em ng-messages="filterMRS.asemblyYear2.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                  <p ng-message="max">Rentang maksimum 5 tahun</p>
                  <p ng-message="min">Rentang tahun kurang</p>
                </em>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <bscheckbox ng-model="filter.vehicleModel.checked" label="Model Kendaraan" true-value="true" false-value="false" ng-change="onVehicleModelChange()"></bscheckbox>
                        </div>
                        <div class="col-md-9 form-inline">
                            <div class="form-group" style="width:200px;">
                                <bsselect data="VehicM" on-select="onSelectedModel(selected)" item-value="VehicleModelId" item-text="VehicleModelName" ng-model="filter.vehicleModel.vehicleModel" placeholder="Model Kendaraan" ng-disabled="!filter.vehicleModel.checked" skip-enable>
                                </bsselect>
                            </div>
                            <div class="form-group text-center" style="width:20px;"></div>
                            <div class="form-group" style="width:200px;">
                                <bsselect data="VehicT" on-select="selectedType(selected)" item-value="KatashikiCode" item-text="NewDescription" ng-model="filter.vehicleModel.vehicleType" placeholder="Tipe Kendaraan" ng-disabled="!filter.vehicleModel.vehicleModel" skip-enable>
                                </bsselect>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px"></div>
                </fieldset>
            </div>
        </div>
    </bsform-advsearch>
    <div class="col-md-12">
        <uib-tabset active="tab.activeJustified" justified="true" style="margin-top: 40px;">
            <uib-tab index="0" heading="Informasi Umum">
                <fieldset ng-disabled="true" skip-enable style="border:1px solid;border-top:0;border-color:#eee;padding:0;margin:0;">
                    <!-- New Informasi Umum -->
                    <fieldset>
                        <legend>Informasi Pelanggan</legend>
                        <div ng-if="mDataDetail.CustomerTypeId == 3||mDataDetail.CustomerTypeId == 1" ng-disabled="true" skip-enable>
                            <div class="col-md-12" style="margin-top: 20px; margin-left: 0px;">
                                <div class="col-md-3 form-group">
                                    <label>Toyota ID</label>
                                    <h1 style="color: red">{{ mDataDetail.ToyotaId }}</h1>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Tipe Pelanggan</label>
                                    <bsselect name="CustomerTypeId" data="CustomerTypeData" item-text="CustomerTypeDesc" item-value="CustomerTypeId" ng-model="mDataDetail.CustomerTypeId" placeholder="Select Customer Type" icon="fa fa-child glyph-left" style="min-width: 150px;" ng-disabled="true"
                                        skip-enable>
                                    </bsselect>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>KTP/KITAS</label>
                                    <input type="text" ng-disabled="true" skip-enable style="text-transform: uppercase" class="form-control" name="KTPKITAS" ng-model="mDataDetail.KTPKITAS" maxlength="50">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>NPWP</label>
                                    <input type="text" ng-disabled="true" skip-enable class="form-control" name="Npwp" ng-model="mDataDetail.Npwp" maxlength="50" maskme="99.999.999.9-999.999">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <bsreqlabel>Gelar Depan</bsreqlabel>
                                        <input type="text" class="form-control" ng-model="mDataDetail.FrontTitle" placeholder="Gelar Depan" skip-enable ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <bsreqlabel>Nama</bsreqlabel>
                                        <input type="text" class="form-control" ng-model="mDataDetail.CustomerName" placeholder="Nama" skip-enable ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-md-2" style="padding-right:0px;">
                                    <div class="form-group">
                                        <bsreqlabel>Gelar Belakang</bsreqlabel>
                                        <input type="text" class="form-control" ng-model="mDataDetail.EndTitle" placeholder="Gelar Belakang" skip-enable ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Nama Panggilan</label>
                                    <input type="text" ng-disabled="EnableEdit" skip-enable class="form-control" name="CustomerNickName" ng-model="mDataDetail.CustomerNickName" maxlength="50">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3 form-group">
                                    <div class="form-group">
                                        <label>Jenis Kelamin</label>
                                        <bsradiobox ng-model="mDataDetail.CustomerGenderId" options="genderData" ng-disabled="true" skip-enable layout="V">
                                        </bsradiobox>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Tempat Lahir</label>
                                    <input type="text" ng-disabled="EnableEdit" skip-enable class="form-control" name="BirthPlace" ng-model="mDataDetail.BirthPlace" maxlength="50">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Tgl. Lahir</label>
                                    <!-- <input ng-required="true" ng-model="mDataDetail.BirthDate" type="date" class="form-control"> -->
                                    <bsdatepicker name="BirthDate" ng-disabled="EnableEdit" skip-enable date-options="dateOptions" ng-model="mDataDetail.BirthDate">
                                    </bsdatepicker>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6 form-group">
                                    <label>Alamat</label>
                                    <textarea class="form-control" ng-disabled="EnableEdit" skip-enable name="Address" ng-model="mDataDetail.Address" style="height: 120px;"></textarea>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 form-group" style="padding-left: 0px;">
                                            <label>Provinsi</label>
                                            <bsselect name="ProvinceId" data="ProvinceData" item-text="ProvinceName" item-value="ProvinceId" ng-model="mDataDetail.ProvinceId" placeholder="Select Province" icon="fa fa-child glyph-left" style="min-width: 150px;" ng-disabled="true" skip-enable>
                                            </bsselect>
                                        </div>

                                        <div class="col-md-4 form-group">
                                            <label>Kota/Kab</label>
                                            <bsselect name="CityRegencyId" data="CityRegencyData" item-text="CityRegencyName" item-value="CityRegencyId" ng-model="mDataDetail.CityRegencyId" placeholder="Select City" icon="fa fa-child glyph-left" style="min-width: 150px;" ng-disabled="true" skip-enable>
                                            </bsselect>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 form-group" style="padding-left: 0px;">
                                            <label>Kecamatan</label>
                                            <bsselect name="DistrictId" data="DistrictData" item-text="DistrictName" item-value="DistrictId" ng-model="mDataDetail.DistrictId" placeholder="Select District" icon="fa fa-child glyph-left" style="min-width: 150px;" ng-disabled="true" skip-enable>
                                            </bsselect>
                                        </div>

                                        <div class="col-md-4 form-group">
                                            <label>Kelurahan</label>
                                            <bsselect name="VillageId" data="VillageData" item-text="VillageName" item-value="VillageId" ng-model="mDataDetail.VillageId" placeholder="Select Village" icon="fa fa-child glyph-left" style="min-width: 150px;" ng-disabled="true" skip-enable>
                                            </bsselect>
                                        </div>

                                        <div class="col-md-4 form-group">
                                            <label>Kode Pos</label>
                                            <input type="text" ng-disabled="true" skip-enable class="form-control" name="PostalCodeName" ng-model="mDataDetail.PostalCodeName" maxlength="50">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label>No. Handphone 1</label>
                                    <input type="text" ng-disabled="EnableEdit" skip-enable class="form-control" name="NomorHp1" ng-model="mDataDetail.Handphone1" maxlength="50">
                                </div>

                                <div class="col-md-4 form-group">
                                    <label>No. Handphone 2</label>
                                    <input type="text" ng-disabled="EnableEdit" skip-enable class="form-control" name="NomorHp2" ng-model="mDataDetail.Handphone2" maxlength="50">
                                </div>

                                <div class="col-md-4 form-group">
                                    <label>Email</label>
                                    <input type="text" ng-disabled="EnableEdit" skip-enable class="form-control" name="email" ng-model="mDataDetail.Email" maxlength="50">
                                </div>
                            </div>
                        </div>
                        <!-- Informasi pelanggan -->
                        <!-- Institusi -->

                        <div ng-if="mDataDetail.CustomerTypeId == 4 || mDataDetail.CustomerTypeId == 2 || mDataDetail.CustomerTypeId == 5 || mDataDetail.CustomerTypeId == 6">
                            <div class="col-md-12">
                                <div class="col-md-3 form-group">
                                    <label>Toyota ID</label>
                                    <h1 style="color: red">{{ mDataDetail.ToyotaId }}</h1>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>Tipe Pelanggan</label>
                                    <bsselect name="CustomerTypeId" data="CustomerTypeData" item-text="CustomerTypeDesc" item-value="CustomerTypeId" ng-model="mDataDetail.CustomerTypeId" placeholder="Select Customer Type" icon="fa fa-child glyph-left" style="min-width: 150px;" ng-disabled="true"
                                        skip-enable>
                                    </bsselect>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>NPWP</label>
                                    <input type="text" ng-disabled="true" skip-enable class="form-control" name="Npwp" ng-model="mDataDetail.Npwp" maxlength="50" mask="99.999.999.9-999.999">
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>SIUP</label>
                                    <input type="text" ng-disabled="true" skip-enable class="form-control" name="SIUP" ng-model="mDataDetail.SIUP" maxlength="50">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6 form-group">
                                    <label>Nama Lengkap</label>
                                    <input type="text" ng-disabled="true" skip-enable class="form-control" name="CustomerName" ng-model="mDataDetail.CustomerName" maxlength="200">
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>TDP</label>
                                    <input type="text" ng-disabled="true" skip-enable class="form-control" name="TDP" ng-model="mDataDetail.TDP" maxlength="50">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6 form-group">
                                    <label>Alamat Lengkap</label>
                                    <textarea class="form-control" ng-disabled="true" skip-enable name="Address" ng-model="mDataDetail.Address" style="height: 120px;"></textarea>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 form-group" style="padding-left: 0px;">
                                            <label>Propinsi</label>
                                            <bsselect name="ProvinceId" data="ProvinceData" item-text="ProvinceName" item-value="ProvinceId" ng-model="mDataDetail.ProvinceId" placeholder="Select Province" icon="fa fa-child glyph-left" style="min-width: 150px;" ng-disabled="true" skip-enable>
                                            </bsselect>
                                        </div>

                                        <div class="col-md-4 form-group">
                                            <label>Kota/kab</label>
                                            <bsselect name="CityRegencyId" data="CityRegencyData" item-text="CityRegencyName" item-value="CityRegencyId" ng-model="mDataDetail.CityRegencyId" placeholder="Select City" icon="fa fa-child glyph-left" style="min-width: 150px;" ng-disabled="true" skip-enable>
                                            </bsselect>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 form-group" style="padding-left: 0px;">
                                            <label>Kecamatan</label>
                                            <bsselect name="DistrictId" data="DistrictData" item-text="DistrictName" item-value="DistrictId" ng-model="mDataDetail.DistrictId" placeholder="Select District" icon="fa fa-child glyph-left" style="min-width: 150px;" ng-disabled="true" skip-enable>
                                            </bsselect>
                                        </div>

                                        <div class="col-md-4 form-group">
                                            <label>Kelurahan</label>
                                            <bsselect name="VillageId" data="VillageData" item-text="VillageName" item-value="VillageId" ng-model="mDataDetail.VillageId" placeholder="Select Village" icon="fa fa-child glyph-left" style="min-width: 150px;" ng-disabled="true" skip-enable>
                                            </bsselect>
                                        </div>

                                        <div class="col-md-4 form-group">
                                            <label>Kodepos</label>
                                            <input type="text" ng-disabled="true" skip-enable class="form-control" name="PostalCodeName" ng-model="mDataDetail.PostalCodeName" maxlength="50">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6 form-group">
                                    <label>Nama Penanggung Jawab</label>
                                    <input type="text" class="form-control" ng-disabled="true" skip-enable name="PICName" ng-model="mDataDetail.PICName" maxlength="50">
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>Jabatan</label>
                                    <input type="text" class="form-control" ng-disabled="true" skip-enable name="PICPositionId" ng-model="mDataDetail.PICPositionId" maxlength="50">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Department</label>
                                    <input type="text" class="form-control" ng-disabled="true" skip-enable name="PICDepartment" ng-model="mDataDetail.PICDepartment" maxlength="50">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label>Nomor Handphone 1</label>
                                    <input type="text" class="form-control" ng-disabled="true" skip-enable name="NomorHp1" ng-model="mDataDetail.Handphone1" maxlength="50">
                                </div>

                                <div class="col-md-4 form-group">
                                    <label>Nomor Handphone 2</label>
                                    <input type="text" class="form-control" ng-disabled="true" skip-enable name="NomorHp2" ng-model="mDataDetail.Handphone2" maxlength="50">
                                </div>

                                <div class="col-md-4 form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" ng-disabled="true" skip-enable name="email" ng-model="mDataDetail.Email" maxlength="50">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </fieldset>
                <fieldset>
                    <legend>Informasi Kendaraan</legend>
                    <div ng-disabled="true" skip-enable>
                        <div class="col-md-8">
                            <div class="col-md-4 form-group">
                                <label>No. Polisi</label>
                                <input type="text" ng-disabled="true" skip-enable class="form-control" name="LicensePlate" ng-model="mDataDetail.LicensePlate">
                            </div>

                            <div class="col-md-4 form-group">
                                <label>No. Rangka</label>
                                <input type="text" ng-disabled="true" skip-enable style="text-transform: uppercase" class="form-control" name="VIN" ng-model="mDataDetail.VIN">
                            </div>

                            <div class="col-md-4 form-group">
                                <label>No. Mesin</label>
                                <input type="text" ng-disabled="true" skip-enable style="text-transform: uppercase" class="form-control" name="EngineNo" ng-model="mDataDetail.EngineNo">
                            </div>

                            <div class="col-md-4 form-group">
                                <label>Model</label>
                                <input type="text" ng-disabled="true" skip-enable class="form-control" name="VehicleModelName" ng-model="mDataDetail.VehicleModelName">
                            </div>

                            <div class="col-md-4 form-group">
                                <label>Tipe</label>
                                <input type="text" ng-disabled="true" skip-enable class="form-control" name="Description" ng-model="mDataDetail.VehicleTypeDesc">
                            </div>

                            <div class="col-md-4 form-group">
                                <label>Full Model / Katashiki</label>
                                <input type="text" ng-disabled="true" skip-enable class="form-control" name="KatashikiCode" ng-model="mDataDetail.KatashikiCode">
                            </div>

                            <div class="col-md-4 form-group">
                                <label>Tahun Rakit</label>
                                <input type="text" ng-disabled="true" skip-enable class="form-control" name="AssemblyYear" ng-model="mDataDetail.AssemblyYear">
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Warna</label>
                                <input type="text" ng-disabled="true" skip-enable class="form-control" name="warna" ng-model="mDataDetail.ColorName">
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Bahan Bakar</label>
                                <bsselect name="VehicleGasTypeId" data="VehicleGasType" item-text="VehicleGasTypeName" item-value="VehicleGasTypeId" ng-model="mDataDetail.VehicleGasTypeId" placeholder="Select Type Gas" icon="fa fa-child glyph-left" style="min-width: 150px;" on-select="selectGas(selected)"
                                    ng-disabled="true" skip-enable>
                                </bsselect>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12" style="padding-left:0px;">
                                <label>Job Suggest</label>
                                <textarea class="form-control" ng-disabled="true" skip-enable name="Job Suggest" ng-model="mDataDetail.JobSuggest" style="height: 175px;"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- ================ -->
                <div class="col-md-12 form-group">
                    <fieldset>
                        <legend>Data Referensi</legend>
                    </fieldset>

                    <div class="col-md-12" style="margin-top: 20px;">
                        <uib-tabset active="activeJustified" justified="true">
                            <!-- justified="true" ng-if="vehicleStatus == 1"> -->
                            <uib-tab index="0" heading="Field Action">
                                <div class="col-md-12" style="margin-top: 20px;">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">Operation No.</th>
                                                <th style="text-align: center;">Keterangan</th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="item in dataTowass">
                                            <Td>{{item.OpeNo}}</Td>
                                            <Td>{{item.Description}}</Td>
                                        </tr>
                                    </table>
                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="PSFU">
                                <div class="col-md-12" style="margin-top: 20px;">
                                    <div class="col-md-12" style="margin-top: 20px; margin-bottom:20px;">
                                        <table id="QA" class="table table-striped table-bordered" width="100%">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">No.</th>
                                                    <th style="text-align: center;">Pertanyaan</th>
                                                    <th style="text-align: center;">Jawaban Pelanggan</th>
                                                    <th style="text-align: center;">Alasan Pelanggan</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in Question track by $index">
                                                    <td width="5%">{{$index + 1}}</td>
                                                    <td width="40%">{{item.Description}}</td>
                                                    <td width="25%">
                                                        <select class="form-control" name="yesOrNo" ng-disabled="true" skip-enable>
                                  <option ng-disabled="true" skip-enable ng-repeat="itemAnswer in item.Answer track by $index" value="{{itemAnswer.AnswerId}}" >{{itemAnswer.Description}}</option>
                          </select>
                                                        <!--<div ng-repeat="itemAnswer in item.Answer track by $index">
                                      <bsselect data="item.Answer" on-select="selectedAnswer(selected)" item-value="itemAnswer.AnswerId" item-text="Description" ng-model="mFService.arrQuestion.AnswerId[$index]" placeholder="Vehicle Model">
                                      </bsselect>
                                  </div>-->
                                                    </td>
                                                    <td width="30%">
                                                        <input style="width : 100%;" type="text" class="form-control" name="Reason" placeholder="Reason" ng-model="item.Reason" ng-hide="item.ReasonStatus" ng-disabled="true" skip-enableng-maxlength="30">
                                                        <!-- <input ng-hide="true" ng-model="mFService.arrQuestion.IsNegative[$index]"> -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="2" heading="Customer Survey" skip-enable ng-disabled="true" disable="true">
                            </uib-tab>
                            <uib-tab index="3" heading="PKS">
                                <div class="col-md-12" style="margin-top:10px;" ng-repeat="a in dataPKS">
                                    <label>Nama Perusahaan : {{a.CompanyName}}</label><br>
                                    <!-- <label>Balances : {{a.Balances | currency:"Rp."}}</label><br> -->
                                    <label ng-show="a.CustomerPKSTop < 0 || a.CustomerPKSTop == null ||a.CustomerPKSTop = 0">Saldo PKS : {{a.AvailableBalance | currency:"Rp. "}}</label><br>
                                    <label ng-show="a.CustomerPKSTop >= 1">TOP : {{a.CustomerPKSTop}} Hari</label><br>
                                    <label>Periode Mulai : {{a.StartPeriod |date:dd/mm/yyyy}}</label><br>
                                    <label>Periode Selesai : {{a.EndPeriod |date:dd/mm/yyyy}}</label>

                                </div>
                            </uib-tab>
                        </uib-tabset>

                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Riwayat Service" ng-click="actHistory(mDataDetail.VIN)">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12" style="margin-top: 10px;">
                        <!-- <vehicle-history vin="mDataDetail.VIN"></vehicle-history> -->

                        <div class="col-md-9">
                            <div class="col-md-12">
                                <label class="control-label">Riwayat Servis</label>
                            </div>

                            <div class="col-md-3" style="padding-left: 0px;">
                                <bsdatepicker name="Tanggal1" date-options="DateOptionsHistory" ng-model="MRS.startDate" skip-disable>
                                </bsdatepicker>
                            </div>
                            <div class="col-md-1" style="margin-top: 5px;padding-left: 0px; text-align: center">
                                <label>S/D</label>
                            </div>
                            <div class="col-md-3" style="padding-left: 0px;">
                                <bsdatepicker name="Tanggal2" date-options="DateOptionsHistory" ng-model="MRS.endDate" skip-disable>
                                </bsdatepicker>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <bsreqlabel class="control-label">Kategori : </bsreqlabel>
                            <!-- ng-change="change()" -->
                            <select ng-model="MRS.category" class="form-control" skip-disable convert-to-number>
                      <option value="2">ALL</option>
                      <option value="1">GR</option>
                      <option value="0">BP</option>
                    </select>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;text-align: right;">
                            <button class="rbtn btn" ng-click="change(MRS.startDate,MRS.endDate,MRS.category,mDataDetail.VIN)">Cari</button>
                        </div>

                        <div class="col-md-12" style="margin-top:20px;">

                            

                            <uib-accordion close-others="oneAtATime">
                                <div ng-repeat="item in mDataVehicleHistory" uib-accordion-group class="panel-default">
                                    <uib-accordion-heading>
                                        <table style="width:100%">
                                            <tr>
                                                <td>{{item.VehicleJobService[0].JobDescription}}</td>
                                                <th class="text-right">{{item.ServiceNumber}} | {{item.ServiceDate |date:'dd-MMM-yyyy'}}</th>
                                                <!-- <th colspan="2">{{item.ServiceNumber}} | {{item.ServiceDate |date:dd/mm/yyyy}}</th> -->
                                            </tr>
                                            <tr>
                                                <td>Lokasi services : {{item.ServiceLocation}}</td>
                                                <td class="text-right">SA : {{item.ServiceAdvisor}}</td>
                                            </tr>
                                            <tr>
                                                <td>KM : {{item.Km}}</td>
                                                <!-- <td class="text-right">Group : {{item.Group}}</td> -->
                                                <td class="text-right" ng-if="item.KategoriServiceId == 1">Teknisi : {{item.VehicleJobService[0].EmployeeName}}</td>
                                                <td class="text-right" ng-if="item.KategoriServiceId == 0">Group : {{item.namaGroup}}</td>
                                                <!-- <td class="text-right">Tanggal Servis : {{item.ServiceDate |date:dd/mm/yyyy}}</td> -->
                                            </tr>
                                            <tr>
                                                <td>Job Suggest : {{item.JobSuggest}}</td>
                                                <td class="text-right" ng-if="item.KategoriServiceId == 1">Kategori : GR</td>
                                                <td class="text-right" ng-if="item.KategoriServiceId == 0">Kategori : BP</td>
                                            </tr>
                                        </table>
                                    </uib-accordion-heading>

                                    <uib-accordion close-others="oneAtATime">
                                        <div is-open="statusRequest.open" uib-accordion-group class="panel-default">
                                            <uib-accordion-heading>
                                                Permintaan
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </uib-accordion-heading>
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>No. Permintaan</th>
                                                    <th>Deskripsi Permintaan</th>
                                                    
                                                </tr>
                                                <tr ng-repeat="itemRequest in item.VehicleRequestService">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{itemRequest.RequestDesc}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </uib-accordion>
                        
                                    <uib-accordion close-others="oneAtATime">
                                        <div is-open="statusComplaint.open" uib-accordion-group class="panel-default">
                                            <uib-accordion-heading>
                                                Keluhan
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </uib-accordion-heading>
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>No. Keluhan</th>
                                                    <th>Kategori Keluhan</th>
                                                    <th>Deskripsi Keluhan</th>
                                                    
                                                </tr>
                                                <tr ng-repeat="itemComplaint in item.VehicleComplaintService">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{itemComplaint.ComplaintCatg}}</td>
                                                    <td>{{itemComplaint.ComplaintDesc}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </uib-accordion>

                                    <uib-accordion close-others="oneAtATime">
                                        <div ng-repeat="itemJob in item.VehicleJobService" is-open="status.open" uib-accordion-group class="panel-default">
                                            <uib-accordion-heading>
                                                {{itemJob.JobDescription}}
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </uib-accordion-heading>
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>No. Material</th>
                                                    <th>Material</th>
                                                    <!-- <th>Nama Material</th> -->
                                                    <th>Qty</th>
                                                    <th>Satuan</th>
                                                </tr>
                                                <tr ng-repeat="tr in itemJob.VehicleServiceHistoryDetail">
                                                    <!-- <td>{{tr.PartsCode}}</td> -->
                                                    <td>{{tr.MaterialCode}}</td>
                                                    <td>{{tr.Material}}</td>
                                                    <td>{{tr.Quantity | number:2}}</td>
                                                    <td>{{tr.Satuan}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </uib-accordion>
                                </div>
                            </uib-accordion>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="2" heading="Invitation Update">
                <div class="row" style="margin-top: 20px;">

                    <div class="col-md-3">
                        <div class="col-md-12">
                            Invitation by
                        </div>
                        <div class="col-md-12">
                            <!-- <select class="form-control" ng-disabled=t rue>
                                      <option value="#">Phone Call</option>
                                  </select> -->
                            <bsselect name="InvMediaId" data="InvMediaData" item-text="Name" item-value="MasterId" ng-model="update.InvMediaId" placeholder="Select Media" icon="fa fa-child glyph-left" style="min-width: 150px;" required>
                            </bsselect>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="col-md-12">
                            Status
                        </div>
                        <div class="col-md-12">
                            <!-- <select class="form-control" ng-model="mData.status">
                                      <option value="terhubung">Terhubung</option>
                                      <option value="tidak terhubung">Tidak Terhubung</option>
                                  </select> -->
                            <bsselect name="MrsStatusId" data="MrsStatus" item-text="Name" item-value="MasterId" ng-model="update.MrsStatusId" placeholder="Select Status" icon="fa fa-child glyph-left" style="min-width: 150px;" required>
                            </bsselect>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div ng-if="update.MrsStatusId == 2231">
                            <div class="col-md-12">
                                Alasan
                            </div>
                            <div class="col-md-12">
                                <!-- <select class="form-control">
                                          <option value="nomor tidak aktif">Nomor tidak aktif</option>
                                      </select> -->
                                <bsselect name="ReminderStatusId" data="MrsReasonStatusData" ng-change="test(update.ReminderStatusId)" item-text="Name" item-value="ReminderStatusId" ng-model="update.ReminderStatusId" placeholder="Select Alasan" icon="fa fa-child glyph-left" style="min-width: 150px;"
                                    required>
                                </bsselect>
                            </div>
                        </div>
                        <div ng-if="update.MrsStatusId == 2230">
                            <div class="col-md-12">
                                Update Hasil Reminder
                            </div>
                            <div class="col-md-12">
                                <bsselect name="ReminderStatusId" data="MrsReminderStatusData" ng-change="test(update.ReminderStatusId)" item-text="Name" item-value="ReminderStatusId" ng-model="update.ReminderStatusId" placeholder="Select Reminder Status" icon="fa fa-child glyph-left"
                                    style="min-width: 150px;" required>
                                </bsselect>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12" ng-show="update.MrsStatusId == 2230">

                        <!-- <div class="col-md-12">
                                  <label>Update Hasil Reminder</label>
                              </div>
                              <div class="col-md-4"> -->
                        <!-- <select class="form-control" ng-model="update.updateHasilReminder">
                              <option value="1">Customer Minta Dihubungi Kembali</option>
                              <option value="2">Customer Bersedia Booking</option>
                              <option value="3">Customer Tidak Bersedia Booking</option>
                          </select> -->
                        <!-- <bsselect name="ReminderStatusId" data="MrsInvData" item-text="Name" item-value="MasterId" ng-model="update.ReminderStatusId" placeholder="Select Status" icon="fa fa-child glyph-left" style="min-width: 150px;">
                                  </bsselect>
                              </div> -->

                        <div class="col-md-12" ng-if="update.ReminderStatusId == '1'">
                            <div class="col-md-2" style="margin-top: 20px;padding-left: 0px;">
                                <!-- <input type="date" class="form-control"> -->
                                <bsdatepicker name="StartPeriod" date-options="dateOptions" min-date="minDateNow" ng-model="update.reminderPlanDate" required></bsdatepicker>
                            </div>
                            <div class="col-md-12" style="margin-top: 20px;padding-left: 0px;">
                                <textarea style="width: 100%; height: 200px;" placeholder="Alasan Customer Minta Dihubungi Kembali" ng-model="update.Reason" ng-maxlength="1000" maxlength="1000" required></textarea>
                            </div>
                        </div>

                        <div class="col-md-12" ng-if="update.ReminderStatusId == '2'">

                            <div class="col-md-12" style="margin-top: 20px;padding-left: 0px;">
                                <!-- <input type="radio" ng-model="mData.permintaanAppoinment" value="permintaan appoinment" name="appoinment" ng-click="permintaan = true">
                  <label style="margin-right:10px;">Permintaan Appoinment</label> -->

                                <!-- <input type="radio" ng-model="mData.pembuatanAppoinment" value="pembuatan appoinment" name="appoinment" ng-click="permintaan = false">
                  <label style="margin-right: 0px;">Pembuatan Appoinment</label> -->
                            </div>

                            <div class="col-md-2" style="margin-top: 20px;padding-left: 0px;">
                                <!-- <input ng-model="update.RequestAppointmentDate" type="date" class="form-control"> -->
                                <label style="margin-right:10px;">Tanggal Follow Up Request Appointment</label>
                                <bsdatepicker name="RequestAppointmentDate" min-date="minDate" date-options="dateOptions" ng-model="update.RequestAppointmentDate" required></bsdatepicker>
                            </div>
                            <!-- <div class="col-md-2" style="margin-top: 20px;padding-left: 0px;" ng-if="permintaan">
                  <input ng-model="update.RequestAppointmentDate" type="date" class="form-control">
                </div> -->

                        </div>

                        <div class="col-md-12" ng-if="update.ReminderStatusId == '3'">

                            <div class="col-md-12" style="margin-top: 20px;padding-left: 0px;">
                                <textarea style="width: 100%; height: 100px;" placeholder="Alasan Customer Tidak Bersedia Booking" ng-model="update.Reason" ng-maxlength="1000" maxlength="1000" required></textarea>
                            </div>

                            <div class="col-md-12" style="padding-left: 0px;">
                                <label>Status Follow Up</label>
                            </div>
                            <div class="col-md-12" style="padding-left: 0px;">
                                <input type="radio" name="status_followup">
                                <label style="margin-right:10px;">Late</label>

                                <input type="radio" name="status_followup">
                                <label style="margin-right:10px;">Accurate</label>

                                <input type="radio" name="status_followup">
                                <label style="margin-right:10px;">Early</label>
                            </div>

                            <div class="col-md-12" style="margin-top: 20px;padding-left: 0px;">

                                <div class="col-md-3" style="padding-left: 0px;">
                                    <!--<div class="col-md-12" style="padding-left: 0px;">-->
                                    <label>Tanggal Service Terakhir</label>
                                    <!--<bsdatepicker ng-disabled="false" ng-model="MrsLastServiceHistoryData.LastServiceDate" skip-enable class="form-control"></bsdatepicker>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-12" style="padding-left: 0px;">-->
                                    <bsdatepicker name="Date" date-options="DateOptions" ng-disabled="false" required ng-model="MrsLastServiceHistoryData.LastServiceDate" skip-enable></bsdatepicker>
                                    <!--<input ng-model="MrsLastServiceHistoryData.LastServiceDate" type="date" ng-disabled="false" skip-enable class="form-control">-->
                                    <!--</div>-->
                                </div>

                                <div class="col-md-3" style="padding-left: 0px;">
                                    <div class="col-md-12" style="padding-left: 0px;">
                                        <label>Posisi KM Terakhir</label>
                                    </div>
                                    <div class="col-md-12" style="padding-left: 0px;">
                                        <input id="LastKM" ng-model="MrsLastServiceHistoryData.LastKM" type="text" ng-disabled="false" ng-maxlength="6" maxlength="6" skip-enable class="form-control" required>
                                    </div>
                                </div>

                                <div class="col-md-6" style="padding-left: 0px;">
                                    <div class="col-md-12" style="padding-left: 0px;">
                                        <label>Service Location</label>
                                    </div>
                                    <div class="col-md-12" style="padding-left: 0px;">
                                        <input ng-model="MrsLastServiceHistoryData.ServiceLocation" type="text" ng-disabled="false" skip-enable class="form-control" ng-maxlength="128" maxlength="128" required>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12" style="margin-top: 20px;padding-left: 0px;">

                                <div class="col-md-3" style="padding-left: 0px;">
                                    <!--<div class="col-md-12" style="padding-left: 0px;">-->
                                    <label>Tanggal Service Selanjutnya</label>
                                    <bsdatepicker name="Date1" date-options="DateOptions1" ng-disabled="true" ng-model="update.NextServiceDate" skip-enable></bsdatepicker>
                                    <!--</div>-->
                                    <!--<div class="col-md-12" style="padding-left: 0px;">-->
                                    <!--<bsdatepicker name="Date" date-options="DateOptions" ng-disabled="true" ng-model="update.NextServiceDate" skip-enable class="form-control"></bsdatepicker>-->
                                    <!--<input type="date" class="form-control" ng-disabled=true ng-model="update.NextServiceDate">-->
                                    <!--</div>-->
                                </div>

                                <div class="col-md-3" style="padding-left: 0px;">
                                    <div class="col-md-12" style="padding-left: 0px;">
                                        <label>Posisi KM Selanjutnya</label>
                                    </div>
                                    <div class="col-md-12" style="padding-left: 0px;">
                                        <input type="text" class="form-control" ng-disabled=true ng-model="update.nextKm">
                                    </div>
                                </div>

                                <div class="col-md-6" style="padding-left: 0px;">
                                    <div class="col-md-12" style="padding-left: 0px;margin-top: 20px;">
                                        <button class="rbtn btn" ng-click="reCalculate()">Recalculate Posisi Service Selanjutnya</button>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>

            </uib-tab>
        </uib-tabset>
    </div>

</bsform-grid>