<!--
	Catatan Flow
	1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

</style>

<div class="container" ng-app="app" ng-controller="PurchaseOrderController">            
    <div class="form-group">           
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Referensi GI *</label>
                <select class="form-control" disabled>
                  <option selected>WO</option>
                  <option>Sales Order</option>
                  <option>Transfer Order</option>
                  <option>Return Parts Claim</option>
                  <option>Return RPP</option> 
                </select>
            </div>
            <div class="col-md-2">                
                <label class="control-label">No WO</label>
                <input class="form-control" type="text" name="no_wo" placeholder="WO/20160715001"></input>
            </div>
            <div class="col-md-2">                
                <label class="control-label">No MR *</label>    
                <input class="form-control" type="text" name="no_mr" placeholder="MR/20160715001"></input>               
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 1 -->
              <br />
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">Tipe Material*</label>
                    <select class="form-control" required disabled>
                        <option selected>Parts</option>
                        <option>Bahan</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">No Polisi</label>
                    <input class="form-control" type="text" name="no_polisi" placeholder="B 123 BOS"></input>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">Request Oleh </label>
                    <input class="form-control" type="text" name="request_oleh" placeholder="Sinta"></input>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div> 
        </div>
        <!-- [END] Form Level 2 -->
              <br />
        <!-- [START] Form Level 5 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">No Rangka</label>
                <input style="text-transform: uppercase" class="form-control" type="text" ng-model="mPurchaseOrder" name="no_rangka" placeholder="MHKM5EA3JGJ021156"></input>
                
            </div>
            <div class="col-md-2">                
                <label class="control-label">Full Model</label>
                <input class="form-control" type="text" ng-model="mPurchaseOrder" name="full_model" placeholder="FRMGH-UK972"></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">Tahun Rakit</label>                 
                <input class="form-control" type="text" ng-model="mPurchaseOrder" name="tahun_rakit" placeholder="2009"></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 5 -->
              <br />
        <!-- [START] Form Level 6 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Model</label>
                <input class="form-control" type="text" ng-model="mPurchaseOrder" name="nomodel" placeholder="Avanza 13"></input>
                
            </div>
            <div class="col-md-2">                
                <label class="control-label">Kode Warna</label>
                <input class="form-control" type="text" ng-model="mPurchaseOrder" name="kode_warna" placeholder="T40"></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">Warna</label>                 
                <input class="form-control" type="text" ng-model="mPurchaseOrder" name="warna" placeholder="Black"></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 6 -->
              <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Penerima</label>
                <input class="form-control" style="text-align : left" type="text" name="grandtotal" placeholder="Rania"></input>
            </div>
            <div class="col-md-2">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 7 -->
         <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Notes</label>
                <textarea class="form-control" row='5'></textarea>
            </div>
            <div class="col-md-4">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-4">
                <label class="control-label">&nbsp</label> 
            </div>                             
        </div>
        <!-- [END] Form Level 7 -->
    </div>
</div>

<div class="form-group">
<div class="row">
    <div class="col-md-2">
        <select class="form-control" placeholder="Bulk Action">
            <option>Hapus</option>
            <option>Hapus Semua</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-12" ng-controller="GoodsIssueController">
      <div id="grid1" ui-grid="gridOptions" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
    </div>
</div>

<fieldset style="padding-top: 10px">
<div align="right">
	<button class="btn btn-default">Kembali</button>
    <button class="wbtn btn" ng-click="laporan()">Cetak BAG</button>
    <button class="wbtn rbtn" ng-click="laporan()">Simpan & Cetak Bukti Pengambilan Material</button>
</div>
</fieldset>
