<!--
    Catatan Flow
    1. Status "Menunggu PO" pada GRID mengakibatkan button action berubah 


-->


<style type="text/css">

.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}


/* The Modal (background) */
.message {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 20;
    top: 0;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.message-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.message-header {
    padding: 2px 16px;
    background-color: #ff0000;
    color: white;
}

.message-body {padding: 2px 16px;}

.message-footer {
    padding: 2px 16px;
    background-color: #ff0000;
    color: white;
}

</style>

<fieldset>
    <table class="search">
        <tr>
            <td>
            <label>Referensi GI*</label>
            <select class="form-control" ng-model="selection" ng-options="item for item in items" disabled>
                <option selected>WO</option>
            </select>
            </td>
            <td>
                <div style="padding-left: 60px">
                    <label>No WO*</label><input type="text" name="wo" class="form-control" placeholder="WO" disabled>
                </div>
            </td>   
        </tr>   
        <tr>
            <td>
            <div>
                <label>Tipe Material</label>
                <input type="text" class="form-control" id="tipeMaterial" ng-model="mData.VehicleName" placeholder="No WO" value="mData.VehicleType" disabled>
            </div>
            </td>
            <td>
            <div style="padding-left: 60px">
                <label>No Polisi</label>
                <input type="text" class="form-control" id="noPolisi" ng-model="mData.VehicleType" placeholder="No WO" value="mData.VehicleType" disabled>
            </div>
            </td>
            <td>
            <div style="padding-left: 60px">
                <label>Request Oleh</label>
                <input type="text" class="form-control" id="request_oleh" ng-model="mData.VehicleType" placeholder="No WO" value="mData.VehicleType" disabled>
            </div>
            </td>   
        </tr>
        <tr>
            <td>
            <div>
                <label>No. Rangka</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="mData.VehicleName" placeholder="No WO" value="mData.VehicleName" disabled>
            </div>
            </td>
            <td>
            <div style="padding-left: 60px">
                <label>Full Model</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="mData.VehicleName" placeholder="No WO" value="mData.VehicleName" disabled>
            </div>
            </td>
            <td>
            <div style="padding-left: 60px">
                <label>Tahun Rakit</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="mData.VehicleName" placeholder="No WO" value="mData.VehicleName" disabled>
            </div>
            </td>   
        </tr>
        <tr>
            <td>
            <div>
                <label>Model</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="No WO" disabled>
            </div>
            </td>
            <td>
            <div style="padding-left: 60px">
                <label>Kode Warna</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="No WO" disabled>
            </div>
            </td>
            <td>
            <div style="padding-left: 60px">
                <label>Warna</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="No WO" disabled>
            </div>
            </td>   
        </tr>
    </table>
</fieldset>
<hr/>
<fieldset>
    <table class="search">
        <tr>
            <td>
            <div>
                <label>No GI</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Grand Total" disabled>
            </div>
            </td>
            <td>
                <div style="padding-left: 60px">
                    <label>Tanggal GI</label>
                    <bsdatepicker
                        name="startDate"
                        date-options="dateOptions"
                        ng-model="mPeriod.startDate"
                    >
                    </bsdatepicker>
                </div>
            </td>
        </tr>
        <tr>
            <td>
            <div>
                <label>Status</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="No WO" disabled>
            </div>
            </td>
            <td>
            <div style="padding-left: 60px">
                <label>Grand Total</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="No WO" disabled>
            </div>
            </td> 
        </tr>
        <tr>
            <td colspan="2">
            <div>
                <label>Notes</label>
                <textarea class="form-control" rows="5" id="comment" disabled></textarea>
            </div>
            </td>
        </tr>
</fieldset>

<fieldset style="padding-top: 10px">

<div ng-controller="GoodsIssueController">
      <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-edit class="grid"></div>
</div>
</fieldset>

<fieldset style="padding-top: 10px">
<div align="right">
    <button class="btn btn-default">Cetak Picking Slip</button>
    <button id="myBtn" class="btn btn-default">Batal Dokumen</button>
    <button class="btn btn-default">Kembali</button>
    <button class="btn rbtn">Simpan Request</button>
    <button class="btn rbtn">Simpan & Reserved</button>
    <button class="btn rbtn">Simpan & Issuing</button>
</div>
</fieldset>

<!-- The Modal -->
<div id="myModal" class="message">

  <!-- Modal content -->
  <div class="message-content">
    <div class="message-header">
      <span class="close">&times;</span>
      <h2>Input Alasan Pembatalan</h2>
    </div>
    <div class="message-body" style="padding-bottom: 10px">
      <p style="padding-top: 10px">Alasan*</p>
        <select class="form-control" style="width: 50%">
            <optgroup>
                <option>Kesalahan Administrasi</option>
                <option>Salah Material</option>
                <option>Pembatalan oleh Customer</option>
                <option>Batal Digunakan</option>
                <option>Lainnya</option>
            </optgroup>
        </select>
        <p style="padding-top: 10px">Keterangan</p>
        <textarea class="form-control" rows="5"></textarea>
      </div>
      <div class="modal-footer" style="padding-bottom: 10px">
        <button type="button" class="btn btn-default" data-dismiss="modal">Kembali</button>
        <button type="button" class="btn rbtn" data-dismiss="modal">OK</button>
      </div>
    </div>
</div>



<!-- [START] JS Modal Parts -->
<script>
var modal = document.getElementById('myModal');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
    modal.style.display = "block";
    console.log("dikil");
}

span.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!-- [END] JS Modal Parts -->