<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<script type="text/javascript">
 
</script>

<style type="text/css">
    @media only screen and (max-width: 600px) {
        .nav.nav-tabs {
          display:none;
        }
    }
</style>

<div ng-show="KacabView">
    <fieldset ng-show="showSimpanKacab" style="padding-bottom: 12px">
        <button ng-click="btnKacabSimpan()" class="rbtn btn ng-binding ladda-button" style="float:right; margin:-30px 0 0 1px; width:11%" ng-disabled="DisabledbtnSave">simpan</button>
         <button ng-click="btnKacabKembali()" class="rbtn btn ng-binding ladda-button" style="float:right; margin:-30px 0 0 1px; width:11%">Kembali</button>
    </fieldset>

    <fieldset ng-disabled="disabledPeriod">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Cabang</label>
                    <div class="input-icon-right">
                        <bsselect id="comboBox" name="Cabang" ng-model="Role.OutletId" data="getOutlet" item-text="Name" item-value="OutletId" on-select="branchId" placeholder="Branch" ng-disabled="true" icon="fa fa-sitemap" required></bsselect>
                    </div>
                </div>
            </div>  

            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Periode Target</bsreqlabel>
                    <bsselect name="Periode" data="getPeriod" item-text="PeriodDesc" item-value="moon" on-select="selectPeriod(selected)" ng-model="Role.moon" placeholder="Periode Target" icon="fa fa-calendar" style="min-width: 150px;">
                    </bsselect>
                </div>
                <!-- <bserrmsg field="VehicleModelName"></bserrmsg> -->
            </div>

            <div class="col-md-4" ng-show="showModel">
                <div class="form-group">
                    <bsreqlabel>Model Kendaraan</bsreqlabel>
                    <bsselect name="Model" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" ng-model="kacabDetail.VehicleModelId" on-select="value(selected)" placeholder="Tipe Kendaraan" icon="fa fa-car glyph-left" style="min-width: 150px;">
                    </bsselect>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row" ng-show="showgridKacab" style="padding: 12px">
        <div ui-grid="grid" ui-grid-grouping class="grid" ui-grid-pagination ui-grid-auto-resize></div>
    </div>

    <div class="row" ng-show="showgridKacabDetail" style="padding: 12px">
        <div ui-grid="gridKacabedit" ui-grid-grouping class="grid" ui-grid-edit ui-grid-pagination ui-grid-auto-resize></div>
    </div>
</div>

<div ng-show="SupervisorView">
    <fieldset ng-show="showSimpanSPV" style="padding-bottom: 12px">
        <button ng-click="btnSPVSimpan()" ng-disabled="DisabledbtnSave" class="rbtn btn ng-binding ladda-button" style="float:right; margin:-30px 0 0 1px; width:11%">simpan</button>
         <button ng-click="btnKacabKembali()" class="rbtn btn ng-binding ladda-button" style="float:right; margin:-30px 0 0 1px; width:11%">Kembali</button>
    </fieldset>

    <fieldset ng-disabled="disabledPeriod">
        <div class="row">
            <div class="col-md-4" ng-disabled="true">
                <div class="form-group">
                    <label>Cabang</label>
                    <div class="input-icon-right">
                        <bsselect id="comboBox" name="Cabang" ng-model="Role.OutletId" data="getOutlet" item-text="Name" item-value="OutletId" on-select="branchId" placeholder="Branch" ng-disabled="true" icon="fa fa-sitemap" required></bsselect>
                    </div>
                </div>
            </div>  

            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Periode Target</bsreqlabel>
                    <bsselect name="Periode" data="getPeriod" item-text="PeriodDesc" item-value="moon" on-select="selectPeriod(selected)" ng-model="Role.moon" placeholder="Periode Target" icon="fa fa-calendar" style="min-width: 150px;">
                    </bsselect>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Supervisor Name</bsreqlabel>
                    <bsselect name="Supervisor" data="getDataSalesman" item-text="EmployeeName" item-value="EmployeeId" ng-model="Role.EmployeeId" placeholder="Supervisor Name" icon="fa fa-user" style="min-width: 150px;" required ng-disabled="true">
                    </bsselect>
                </div>
            </div>

            <div class="col-md-4" ng-show="showModel">
                <div class="form-group" >
                    <bsreqlabel>Model Kendaraan</bsreqlabel>
                    <bsselect name="Model" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" ng-model="spvDetail.VehicleModelId" on-select="value(selected)" placeholder="Tipe Kendaraan" icon="fa fa-car glyph-left" style="min-width: 150px;">
                    </bsselect>
                </div>
            </div>
        </div>  
    </fieldset>

    <div class="row" ng-show="showgridSPV" style="padding: 12px">
        <div ui-grid="gridSPV" ui-grid-grouping class="grid" ui-grid-pagination ui-grid-auto-resize></div>
    </div>

    <div class="row" ng-show="showgridSPVDetail" style="padding: 12px">
        <div ui-grid="gridSPVedit" ui-grid-grouping class="grid" ui-grid-edit ui-grid-pagination ui-grid-auto-resize></div>
    </div>
</div>


	
