<script type="text/javascript">

</script>
<style type="text/css">
.ngdialog.ngdialog-theme-default .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background: #f0f0f0;
    border-radius: 5px;
    color: #444;
    font-family: Helvetica,sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: 900px;
}

.grid {
  /*width: 500px;*/
  height: 300px;
}
</style>

<div class="panel panel-danger" style="color:black; border-color:#D53337;">
	<div class="panel-heading" style="color:white; background-color:#D53337;">
		BO Detail
	</div>

	<div class="panel-body">
		<div>
      <div ui-grid="gridBODetail" class="grid" ui-grid-auto-resize ui-grid-cellNav ui-grid-pagination></div>
    </div>
		<br />
		<div>
			<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Tutup</button>
		</div>
	</div>
</div>