<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="ActivityAlasanDropProspekForm" factory-name="ActivityAlasanDropProspekFactory" model="mActivityAlasanDropProspek" model-id="ReasonDropProspectId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="ActivityAlasanDropProspekForm" form-title="Activity Alasan Drop Prospek" modal-title="Activity Alasan Drop Prospek" modal-size="small" icon="fa fa-fw fa-child">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>Alasan Drop Prospect</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <textarea type="text" class="form-control" name="name" placeholder="Alasan Drop Prospect" ng-model="mActivityAlasanDropProspek.ReasonDropProspectName" rows="5" cols="50" required>
                    </div>
                    <bserrmsg field="NamaAlasanDropProspek"></bserrmsg>
                </div>
            </div>
        </div>
        
</bsform-grid-tree>

