
<div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom:20px;">
            <table style="width:100%" class="table table-striped table-bordered table-hover table-responsive grid table_font">
                    <tr>
                        <th class="active text-center header" style="height:30px; background-color: rgb(233, 7, 7); font-size: 20px">INTERIOR</th>
                    </tr>
            </table>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <bsreqlabel>Km</bsreqlabel>
                    <input type="text" step="1" min="0" class="form-control" name="Km" placeholder="Km" ng-model="mData.Km" ng-maxlength="7" maxlength="7" ng-keyup="givePattern(mData.Km,$event)">
                    <bserrmsg field="km"></bserrmsg>
                </div>
            </div>
            <div id="slide" class="col-md-6">
                <label for="slider">Fuel</label>
                <div class="scaleWarp">
                    <!-- <span style=" font-size: 20px;font-weight:bold;">|</span> -->
                    <garis>|</garis>
                    <garis style=" font-size: 20px;font-weight:bold;">|</garis>
                    <garis>|</garis>
                    <!-- <span style=" font-size: 20px;font-weight:bold;">|</span> -->
                </div>
                <rzslider class="custom-slider" rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-2 col-xs-2">
                    <bscheckbox ng-model="mData.BanSerep" label="Ban Serep" ng-click="" true-value=1 false-value=0>
                    </bscheckbox>
                </div>
                <div class="col-md-2 col-xs-2">
                    <bscheckbox ng-model="mData.CdorKaset" label="CD/Kaset" ng-click="" true-value=1 false-value=0>
                    </bscheckbox>
                </div>
                <div class="col-md-2 col-xs-2">
                    <bscheckbox ng-model="mData.Payung" label="Payung" ng-click="" true-value=1 false-value=0>
                    </bscheckbox>
                </div>
                <div class="col-md-2 col-xs-2">
                    <bscheckbox ng-model="mData.Dongkrak" label="Dongkrak" ng-click="" true-value=1 false-value=0>
                    </bscheckbox>
                </div>
                <div class="col-md-4 col-xs-4">
                    <bscheckbox ng-model="mData.STNK" label="STNK" ng-click="" true-value=1 false-value=0>
                    </bscheckbox>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-xs-2">
                    <bscheckbox ng-model="mData.P3k" label="P3K" ng-click="" true-value=1 false-value=0>
                    </bscheckbox>
                </div>
                <div class="col-md-2 col-xs-2">
                    <bscheckbox ng-model="mData.KunciSteer" label="Kunci Steer" ng-click="" true-value=1 false-value=0>
                    </bscheckbox>
                </div>
                <div class="col-md-2 col-xs-2">
                    <bscheckbox ng-model="mData.ToolSet" label="Tool Set" ng-click="" true-value=1 false-value=0>
                    </bscheckbox>
                </div>
                <div class="col-md-2 col-xs-2">
                    <bscheckbox ng-model="mData.ClipKarpet" label="Clip Karpet" ng-click="" true-value=1 false-value=0>
                    </bscheckbox>
                </div>
                <div class="col-md-4 col-xs-4">
                    <bscheckbox ng-model="mData.BukuService" label="Buku Service" ng-click="" true-value=1 false-value=0>
                    </bscheckbox>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Alarm Condition</label>
                    <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="alarmCondition" ng-model="mData.AlarmCondition" data="conditionData" item-text="Name" item-value="Id" placeholder="Pilih Alarm Condition">
                    </bsselect>
                    <bserrmsg field="alarmCondition"></bserrmsg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>AC Condition</label>
                    <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="AcCondition" ng-model="mData.AcCondition" data="conditionData" item-text="Name" item-value="Id" placeholder="Pilih AC Condition">
                    </bsselect>
                    <bserrmsg field="AcCondition"></bserrmsg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Power Window</label>
                    <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="PowerWindow" ng-model="mData.PowerWindow" data="conditionData" item-text="Name" item-value="Id" placeholder="Pilih Power Window Condition">
                    </bsselect>
                    <bserrmsg field="PowerWindow"></bserrmsg>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <label>Other</label>
                    <textarea class="form-control" ng-maxlength="200" maxlength="200" placeholder="Other" name='Other' ng-model="mData.OtherDescription">
                </textarea>
                    <bserrmsg field="Other"></bserrmsg>
                </div>
            </div>
            <div class="col-md-6">
                <label>Money Amount</label>
                <textarea class="form-control" ng-maxlength="9" maxlength="9" placeholder="Money Amount" name='moneyAmount' ng-model="mData.moneyAmount" ng-keyup="givePatternMoney(mData.moneyAmount,$event)"> 
            </textarea>
                <bserrmsg field="moneyAmount"></bserrmsg>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom:20px;">
            <table style="width:100%" class="table table-striped table-bordered table-hover table-responsive grid table_font">
                <tr>
                    <th class="active text-center header" style="height:30px; background-color: rgb(233, 7, 7); font-size: 20px">EXTERIOR</th>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tipe Kendaraan</label>
                        <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="filterType" ng-model="filter.vType" data="VTypeData" item-text="Name" item-value="MasterId" placeholder="Pilih Tipe Kendaraan" on-select="chooseVType(selected)" icon="fa fa-car">
                        </bsselect>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 img-wac">
                    <img ng-init="this.init" ng-areas="areasArray" ng-areas-width="800" ng-areas-allow="{'edit':true, 'move':false, 'resize':false, 'select':false, 'remove':false, 'nudge':false}" ng-src="{{imageSel}}" ng-areas-on-add="onAddArea" ng-areas-on-remove="onRemoveArea"
                        ng-areas-on-change="onChangeAreas" ng-areas-on-choose="doClick" ng-areas-extend-data="statusObj" area-api="areaApi">
                </div>
            </div>
            <div class="row" ng-show="!disableWACExt">
                    <div class="col-md-12">
                    <!-- <div ui-grid="gridWAC" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize ui-grid-edit class="grid" ng-style="getTableHeight()">
                        <div class="ui-grid-nodata" ng-if="!gridWAC.data.length && !loading" ng-cloak>Data Belum Tersedia</div>
                        <div class="ui-grid-nodata" ng-if="loading" ng-cloak>Loading data... <i class="fa fa-spinner fa-spin"></i></div>
                    </div> -->
                    <table id="wacGrid" width="100%" class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th ng-style="{'width':'{{col.width}}'}" ng-hide="col.visible == false" ng-repeat="col in gridWAC.columnDefs">{{col.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="height:40px;" ng-repeat="column in gridWAC.data">    
                                <td ng-hide="true" style="width:5%">{{column.JobWACExtId}}</td>
                                <td style="width:55%">{{column.ItemName}}</td>
                                <td style="width:45%" style="padding:0px">
                                    <select class="form-control" name="status" convert-to-number ng-disabled="true" disabled="disabled" ng-change="onDropdownChange(column)" ng-model="column.Status" placeholder="Pilih Kerusakan" style="height:30px;">
                                        <option ng-repeat="item in DamageVehicle" value="{{item.Id}}">{{item.Name}}</option>
                                    </select>
                                </td>
                                <td ng-hide="true" style="width:5%">{{column.typeName}}</td>
                            </tr>
                            <tr ng-if="!gridWAC.data.length">
                                <td colspan="{{gridWAC.columnDefs.length}}">
                                    <div style="opacity: .25;font-size: 3em;width: 100%;text-align: center;z-index: 1000;">No Data Available</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <bscheckbox ng-model="disableWACExt" label="Clear" true-value="true" false-value="false" ng-change="chgChk()">
                </bscheckbox>
            </div>
            <div class="col-md-2">
                <image-control max-upload="4" is-image="1" img-upload="uploadFiles" multiple>
                    <form-image-control>
                        <input capture="camera" type="file" bs-upload="onFileSelect($files)" img-upload="uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1;">
                        <input type="file" ng-init="mData.UploadPhoto = uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1; display:none">
                    </form-image-control>
                </image-control>
            </div>
        </div>
    </div>
</div>