<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="PenggunaanKendaraanForm" factory-name="PenggunaanKendaraanFactory" model="mPenggunaanKendaraan" model-id="PurchasePurposeId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="PenggunaanKendaraanForm" form-title="Penggunaan Kendaraan" modal-title="Penggunaan Kendaraan" modal-size="small" form-api="formApi" do-custom-save="doCustomSave" icon="fa fa-fw fa-child">

        <div class="row">
            <div class="col-md-6">

				<!--<div class="form-group" show-errors>
					<bsreqlabel>Kode Penggunaan Kendaraan</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="PurchasePurposeCode" placeholder="Kode Penggunaan Kendaraan" ng-model="mPenggunaanKendaraan.PurchasePurposeCode"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="PurchasePurposeCode"></bserrmsg>
				</div>-->
				
				<div class="form-group" show-errors>
					<bsreqlabel>Penggunaan Kendaraan</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input alpha-numeric mask="Huruf" type="text" class="form-control" name="PurchasePurposeName" placeholder="Penggunaan Kendaraan" ng-model="mPenggunaanKendaraan.PurchasePurposeName"
								maxlength="20" required
						>
					</div>
					<bserrmsg field="PurchasePurposeName"></bserrmsg>
				</div>
            </div>
        </div>
        
</bsform-grid>

