<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="stylesheet" type="text/javascript" href="https://cdn.rawgit.com/eligrey/FileSaver.js/">

<div class="fi-outermost">
	<div class="row" style="margin-top:10px;">
		<div >
			<div class="col-md-3">
				<bsreqlabel>Tanggal</bsreqlabel>
				<div class="input-icon-right ">
					<bsdatepicker name="ReportTitipanTanggal" date-options="dateOptions" ng-model="ReportTitipan_Tanggal" max-date="dateNow">
					</bsdatepicker>
				</div>
			</div>

			<div class="col-md-3">
				<label>Nama Branch</label>
				<div class="input-icon-right">
					<input type="text" class="form-control" name="ReportTitipanBranch" placeholder="Branch" ng-model="ReportTitipan_Branch" ng-maxlength="50" ng-if="is_HO == 0"
					 ng-disabled="true">
				</div>

				<bsselect ng-if="is_HO == 1" search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" required name="nama_branch_cbox" ng-model="ReportTitipan_Branch" data="data_branch" item-text="BranchName" item-value="BranchName" placeholder="Pilih Branch" on-select="selectBranch(selected)">
				</bsselect>
			</div>
		</div>
	</div>

	<div class="row">
		<div>
			<div class="col-md-3">
				<bslabel>Nama Pelanggan</bslabel>
				<div class="input-icon-right">
					<input type="text" class="form-control" name="ReportTitipanNamaPelanggan" placeholder="Nama Pelanggan" ng-model="ReportTitipan_NamaPelanggan"
					 ng-maxlength="50" maxlength="50">
				</div>
			</div>
			<div class="col-md-1" style="margin-right:-30px">
				Tipe Titipan
			</div>
			<div class="col-md-5">
				<label>
					<input type="checkbox" ng-model="ReportTitipan_isUnit">&nbsp Unit Customer Guarantee</label><br>
				<label>
					<input type="checkbox" ng-model="ReportTitipan_isService">&nbsp Service Customer Guarantee</label><br>
				<label>
					<input type="checkbox" ng-model="ReportTitipan_isPart">&nbsp Parts Customer Guarantee</label><br>
				<label>
					<input type="checkbox" ng-model="ReportTitipan_isUnknown">&nbsp Unknown</label>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="pull-right">
			<button id="Report_Excel" ng-click="Report_Excel_Clicked()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					Excel
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
</div>