        <div class="panel panel-default">
            <div class="panel-heading">Summary Report</div>
            <fieldset disabled="disabled">
                    <div class="panel-body">
                            <div class="row" >
                                <div class="col-md-4" style="margin-left: 17px;">
                                    <div class="form-group form-inline" style="margin-right: -182px;">
                                        <label>Total Data (WO Release dan tidak cancel WO)</label>
                                        <div class="pull-right"><input type="text" ng-model="sumTotalData" class="form-control" name="sumTotalData" style="width: 38%;">&nbsp;</div>
                                    </div>
            
                                    <div class="form-group form-inline" style="margin-right: -189px;">
                                        <label>Data Valid</label>
                                        <div class="pull-right"><input type="text" ng-model="sumValid" class="form-control" name="sumValid" style="width: 36%;">%</div>
                                    </div>
            
                                    <div class="form-group form-inline" style="margin-right: -182px;">
                                        <label>Total Combi Booth</label>
                                        <div class="pull-right"><input type="text" ng-model="sumCombi" class="form-control" name="sumCombi" style="width: 38%;">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    <div class="form-group form-inline" style="margin-right: -41px;">
                                        <label>OTD 1</label>
                                        <div class="col-md-5 pull-right"> <input type="text" ng-model="sumOTD1" class="form-control" name="sumOTD1" style="width: 40%">/<input type="text" ng-model="sumOTD1Rate" class="form-control" name="sumOTD1Rate" style="width: 40%">%</div>
                                    </div>
            
                                    <div class="form-group form-inline" style="margin-right: -41px;">
                                        <label>OTD 2</label>
                                        <div class="col-md-5 pull-right"> <input type="text" ng-model="sumOTD2" class="form-control" name="seharusnyaDiundang" style="width: 40%">/<input type="text" ng-model="sumOTD2Rate" class="form-control" name="seharusnyaDiundang" style="width: 40%">%</div>
                                    </div>
            
                                    <div class="form-group form-inline" style="margin-right: -110px;">
                                        <label>DTN Rate</label>
                                        <div class="col-md-4 pull-right"> <input type="text" ng-model="sumDTN" class="form-control" name="seharusnyaDiundang" style="width: 45%">%</div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
            
            
            
            
                            <div class="panel panel-default col-md-5">
                                <div class="panel-heading">Estimasi</div>
                                <div class="panel-body">
                                    <div class="row" >
                                        <label class="col-md-3 pull-right">Stagnasi</label>
                                        <label class="col-md-3 pull-right">Proses</label>
                                    </div>
                                    <div class="row" >
                                        <div class="form-group form-inline">
                                            <label>TPS</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="estTPSProses" class="form-control" name="unitCompTPSProses" style="width: 50%; margin-left: -5px;">/
                                                <input type="text" ng-model="estTPSStagnasi" class="form-control" name="estTPSStagnasi" style="width: 50%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
                                        <div class="form-group form-inline">
                                            <label>Light</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="estLightProses" class="form-control" name="estLightProses" style="width: 50%; margin-left: -5px;">/
                                                <input type="text" ng-model="estLightStagnasi" class="form-control" name="estLightStagnasi" style="width: 50%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
                                        <div class="form-group form-inline">
                                            <label>Medium</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="estMediumProses" class="form-control" name="estMediumProses" style="width: 50%; margin-left: -5px;">/
                                                <input type="text" ng-model="estMediumStagnasi" class="form-control" name="estMediumStagnasi" style="width: 50%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
                                        <div class="form-group form-inline">
                                            <label>Heavy</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="estHeavyProses" class="form-control" name="estHeavyProses" style="width: 50%; margin-left: -5px;">/
                                                <input type="text" ng-model="estHeavyStagnasi" class="form-control" name="estHeavyStagnasi" style="width: 50%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
            
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"> </div>
                            <div class="panel panel-default col-md-5">
                                <div class="panel-heading">Insurance Approval</div>
                                <div class="panel-body">
                                    <div class="row" >
                                        <label class="col-md-3 pull-right">Stagnasi</label>
                                        <label class="col-md-3 pull-right">Proses</label>
                                    </div>
                                    <div class="row" >
                                        <div class="form-group form-inline">
                                            <label>TPS</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="IATPSProses" class="form-control" name="IATPSProses" style="width: 50%; margin-left: -5px;">/
                                                <input type="text" ng-model="IATPSStagnasi" class="form-control" name="IATPSStagnasi" style="width: 50%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
                                        <div class="form-group form-inline">
                                            <label>Light</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="IALightProses" class="form-control" name="IALightProses" style="width: 50%; margin-left: -5px;">/
                                                <input type="text" ng-model="IALightStagnasi" class="form-control" name="IALightStagnasi" style="width: 50%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
                                        <div class="form-group form-inline">
                                            <label>Medium</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="IAMediumProses" class="form-control" name="IAMediumProses" style="width: 50%; margin-left: -5px;">/
                                                <input type="text" ng-model="IAMediumStagnasi" class="form-control" name="IAMediumStagnasi" style="width: 50%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
                                        <div class="form-group form-inline">
                                            <label>Heavy</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="IAHeavyProses" class="form-control" name="IAHeavyProses" style="width: 50%; margin-left: -5px;">/
                                                <input type="text" ng-model="IAHeavyStagnasi" class="form-control" name="IAHeavyStagnasi" style="width: 50%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
            
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"> </div>
                            <br><br>
                            <div class="panel panel-default col-md-5">
                                <div class="panel-heading">Production</div>
                                <div class="panel-body">
                                    <div class="row" >
                                        <label class="col-md-3 pull-right">Stagnasi</label>
                                        <label class="col-md-3 pull-right">Proses</label>
                                    </div>
                                    <div class="row" >
                                        <div class="form-group form-inline">
                                            <label>TPS</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="productionTPSProses" class="form-control" name="productionTPSProses" style="width: 50%; margin-left: -5px;">/
                                                <input type="text" ng-model="productionTPSStagnasi" class="form-control" name="productionTPSStagnasi" style="width: 50%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
                                        <div class="form-group form-inline">
                                            <label>Light</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="productionLightProses" class="form-control" name="productionLightProses" style="width: 50%; margin-left: -5px;">/
                                                <input type="text" ng-model="productionLightStagnasi" class="form-control" name="productionLightStagnasi" style="width: 50%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
                                        <div class="form-group form-inline">
                                            <label>Medium</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="productionMediumProses" class="form-control" name="productionMediumProses" style="width: 50%; margin-left: -5px;">/
                                                <input type="text" ng-model="productionMediumStagnasi" class="form-control" name="productionMediumStagnasi" style="width: 50%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
                                        <div class="form-group form-inline">
                                            <label>Heavy</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="productionHeavyProses" class="form-control" name="productionHeavyProses" style="width: 50%; margin-left: -5px;">/
                                                <input type="text" ng-model="productionHeavyStagnasi" class="form-control" name="productionHeavyStagnasi" style="width: 50%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
            
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"> </div>
                            <div class="panel panel-default col-md-5">
                                <div class="panel-heading">Total</div>
                                <div class="panel-body">
                                    <div class="row" >
                                        <label class="col-md-3 pull-right">Stagnasi</label>
                                        <label class="col-md-3 pull-right">Proses</label>
                                    </div>
                                    <div class="row" >
                                        <div class="form-group form-inline">
                                            <label>TPS</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="totalTPSProses" class="form-control" name="totalTPSProses" style="width: 45%; margin-left: -5px;">/
                                                <input type="text" ng-model="totalTPSStagnasi" class="form-control" name="totalTPSStagnasi" style="width: 45%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
                                        <div class="form-group form-inline">
                                            <label>Light</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="totalLightProses" class="form-control" name="totalLightProses" style="width: 45%; margin-left: -5px;">/
                                                <input type="text" ng-model="totalLightStagnasi" class="form-control" name="totalLightStagnasi" style="width: 45%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
                                        <div class="form-group form-inline">
                                            <label>Medium</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="totalMediumProses" class="form-control" name="totalMediumProses" style="width: 45%; margin-left: -5px;">/
                                                <input type="text" ng-model="totalMediumStagnasi" class="form-control" name="totalMediumStagnasi" style="width: 45%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
                                        <div class="form-group form-inline">
                                            <label>Heavy</label>
                                            <div class="col-md-6 pull-right">
                                                <input type="text" ng-model="totalHeavyProses" class="form-control" name="totalHeavyProses" style="width: 45%; margin-left: -5px;">/
                                                <input type="text" ng-model="totalHeavyStagnasi" class="form-control" name="totalHeavyStagnasi" style="width: 45%; margin-left: -5px;"></div>
                                        </div>
                                        <br>
            
                                    </div>
                                </div>
                            </div>
            
                        </div>
            </fieldset>
            
        </div>
        <div class="row">
            <div class="form-group pull-right">
                <button ng-if="role=='Branch'" type="button" ng-click="getReportBPCabang()" class="rbtn btn"> Export </button>
                <button ng-if="role=='HO'" type="button" ng-click="getReportBPHO()" class="rbtn btn"> Export </button>
            </div>
        </div>