<script type="text/javascript">
$(function(){
            $("a.hidelink").each(function (index, element){
                var href = $(this).attr("href");
                $(this).attr("hiddenhref", href);
                $(this).removeAttr("href");
            });
            $("a.hidelink").click(function(){
                url = $(this).attr("hiddenhref");
                window.open(url, '_blank');
            })
        });
</script>
<style type="text/css">
a.hidelink {
            cursor: pointer;
            text-decoration: underline;
        }

</style>

<!-- <bsform-grid
        ng-form="AgamaForm" factory-name="AgamaFactoryMaster" model="mAgama" model-id="CustomerReligionId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="AgamaForm" form-title="Agama" modal-title="Master Agama" modal-size="small" form-api="formApi" do-custom-save="doCustomSave" icon="fa fa-fw fa-child">

        <div class="row">
            <div class="col-md-6">

				
				<div class="form-group" show-errors>
					<bsreqlabel>Agama</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="CustomerReligionName" placeholder="Agama" ng-model="mAgama.CustomerReligionName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="CustomerReligionName"></bserrmsg>
				</div>
            </div>
        </div>
        
</bsform-grid-tree> -->
<div class="row" style="margin-left: 10px;">
	<!-- <embed src="{{currentProjectUrl}" width="100%" height="100%"> -->
		<!-- test url ===> {{currentProjectUrl}} -->
		<iframe marginheight='0' marginwidth='0' scrolling='auto' frameborder='0' allowfullscreen style="width: 98%;height: 650px;" src="{{currentProjectUrl}}"></iframe>
		<div style="background-color: white;width: 5%;height: 610px;position: absolute;margin-left: 92%;margin-top: -655px;">
			<!-- <a class="hidelink" href="{{currentProjectUrl}}" onMouseover="JavaScript:window.status='Status Bar Message goes here'; return true" onMouseout="JavaScript:window.status=''; return true">Link Dashboard</a> -->
			
		</div>
</div>

<div class="ui modal loadingPowerBI" style="height:200px; background-color:transparent; box-shadow: none !important">
    <div align="center" class="list-group-item" style="border: none !important;padding:10px 0px 10px 0px; background-color:transparent;">
        <font color="white"><i class="fa fa-spinner fa-spin fa-3x fa-lg"></i></br>
            <b> Please Wait.... </b> </font>
    </div>
</div>
