<script type="text/javascript">
</script>
<style type="text/css">

</style>

<bsform-grid ng-form="CategoryFeedbackForm" factory-name="CategoryFeedbackFactory" model="mCategoryFeedback" model-id="FeedbackCategoryId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="CategoryFeedbackForm"
    form-title="Category Feedback" modal-title="Category Feedback" modal-size="small" form-api="formApi" do-custom-save="doCustomSave" icon="fa fa-fw fa-child">

    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Feedback</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="feedback" placeholder="Feedback" ng-model="mCategoryFeedback.Description" ng-maxlength="50" required>
                </div>
                <bserrmsg field="feedback"></bserrmsg>
            </div>
        </div>
    </div>
</bsform-grid>