<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="MasterFollowUpDecForm" factory-name="MasterFollowUpDecFactory" model="mMasterFollowUpDec" model-id="CustomerReligionId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="MasterFollowUpDecForm" form-title="Follow Up Dec" modal-title="Follow Up Dec" modal-size="small" form-api="formApi" do-custom-save="doCustomSave" icon="fa fa-fw fa-child">

        <div class="row">
            <div class="col-md-6">

				
				<div class="form-group" show-errors>
					<bsreqlabel>Follow Up DEC</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="CustomerReligionName" placeholder="Follow Up DEC" ng-model="mMasterFollowUpDec.CustomerReligionName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="CustomerReligionName"></bserrmsg>
				</div>
            </div>
        </div>
        
</bsform-grid-tree>

