<script type="text/javascript">

</script>
<style type="text/css">
</style>

<bsform-grid ng-form="JabatanForm" factory-name="MasterJabatanFactory" model="mJabatan" model-id="CustomerPositionId" loading="loading"
 get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="JabatanForm" form-title="Jabatan"
 modal-title="Jabatan" modal-size="small" form-api="formApi" do-custom-save="doCustomSave" icon="fa fa-fw fa-child">

	<div class="row">
		<div class="col-md-6">


			<div class="form-group" show-errors>
				<bsreqlabel>Jabatan</bsreqlabel>
				<div class="input-icon-right">
					<i class="fa fa-pencil"></i>
					<input type="text" class="form-control" name="CustomerPositionName" placeholder="Jabatan" ng-model="mJabatan.CustomerPositionName"
					 maxlength="25" required>
				</div>
				<bserrmsg field="CustomerPositionName"></bserrmsg>
			</div>
		</div>
	</div>

	</bsform-grid-tree>