<script type="text/javascript">

</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
		<div ng-show="ReportIncomingEscrowAccount_Show">
			<div class="coll-md-12" style="margin-top: 10px; margin-left: -26px;">
				<div class="col-md-3">
					<div class="form-group">		
					<bsreqlabel>Tanggal</bsreqlabel>				
						<bsdatepicker name="TanggalStart" date-options="dateOptions"  format="dd/MM/yyyy"
						ng-model="ReportIncomingEscrowAccount_TanggalStart" max-date="dateNow">
						</bsdatepicker>		
					</div>
				</div>
			
				<!-- <div class="col-md-1" style="margin-top:30px">
					s.d.
				</div> -->
				
				<div class="col-md-3" >
					<div class="form-group">
						<label>s.d.</label>		
						<bsdatepicker name="TanggalEnd" date-options="dateOptions" format="dd/MM/yyyy" ng-model="ReportIncomingEscrowAccount_TanggalEnd" max-date="dateNow">
						</bsdatepicker>		
					</div>					
				</div>

				<div class="col-md-3">
					<bsreqlabel>Nama Branch</bsreqlabel>
					<div class="input-icon-right; ">
						<bsselect ng-model="ReportIncomingEscrowAccount_NamaBranch" data="optionsReportIncomingEscrowAccount_NamaBranch" 
						item-text="BranchName" item-value="BranchId" on-select="value(selected)" placeholder="Branch" icon="fa fa-search"
						ng-disabled="!Main_ReportIncomingEscrowAccount_EnableDisable">
						</bsselect>		
					</div>
				</div>
			</div>
			
			<div class="row">

				<div class="pull-right">
					<button id="btn_reportIncomingEscrowAccount_Excel" ng-click="reportIncomingEscrowAccount_buttonExcel_Clicked()"
						type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:0px;margin-right:10px" >
						<span class="ladda-label">
							Excel
						</span><span class="ladda-spinner"></span>
					</button>
					<!-- <button id="btn_reportIncomingEscrowAccount_Cetak" ng-click="reportIncomingEscrowAccount_buttonCetak_Clicked()"
						type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px"  >
						<span class="ladda-label">
							Cetak
						</span><span class="ladda-spinner"></span>
					</button> -->
				</div>
			</div>
	</div>