<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="WorkingShiftForm"
        factory-name="WorkingShift"
        model="mShift"
        model-id="Id"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        on-show-detail = "onShowDetail"
        on-validate-save = "onValidateSave"
        on-before-new-mode="onBeforeNewMode"

        form-name="WorkingShiftForm"
        form-title="Working Shift"
        modal-title="Working Shift"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" name="Name" placeholder="Name"
                           ng-model="mShift.Name" ng-maxlength="30" required
                    >
                </div>
                <bserrmsg field="Name"></bserrmsg>
            </div>
            <!-- <pre>{{mStaff.Name}}</pre>

 -->        
          <div class="col-md-6">
            <div class="form-group">
                <bsreqlabel>Time From</bsreqlabel>
                <div uib-timepicker ng-disabled="dFrom" show-spinner="true" max="maxFrom" name="timeFrom" ng-model="mShift.TimeFrom" ng-change="fFrom()" hour-step="hstep" minute-step="mstep"  show-meridian="ismeridian" required></div>
                <!-- <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="timeFrom" placeholder="Time From"
                           ng-model="mShift.TimeFrom" ng-maxlength="50" required
                    >
                </div> -->
                <bserrmsg field="timeFrom"></bserrmsg>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <bsreqlabel>Time Through</bsreqlabel>
                <div uib-timepicker ng-disabled="dThru" show-spinner="true" min="minThru" name="timeThru" ng-model="mShift.TimeThru" ng-change="fThrough()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required></div>
                <!-- <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="timeFrom" placeholder="Time From"
                           ng-model="mShift.TimeFrom" ng-maxlength="50" required
                    >
                </div> -->
                <bserrmsg field="timeThru"></bserrmsg>
            </div>
          </div>
<!--             <div class="form-group" show-errors>
                <label>Parent Role</label>
                <bsselect
                          name="parentRole"
                          data="grid.data"
                          item-text="title"
                          item-value="id"
                          ng-model="mRole.pid"
                          placeholder="Select Parent Role"
                          icon="fa fa-child glyph-left"
                          style="min-width: 150px;">
                </bsselect>
                <bserrmsg field="parentRole"></bserrmsg>
            </div> -->
          </div>
        </div>
</bsform-grid>