<div style="margin-left: 10px; margin-right: 10px;">
    <div class="row">
        <button type="button" class="btn btn-default panel-title pull-right" ng-click="showOptions(true)" style="margin-top: -4px; margin-left: 4px; padding-bottom: 4px;margin-bottom:10px;">
            <i class="fa fa-fw fa-gear"></i>
        </button>
    </div>
    <div class="row">
        <div ng-class="wcolumn">
            <div class="panel panel-default" id="jpcb_gr_view_panel">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                    JPCB GR
                    </h3>

                    <h3 class="panel-title pull-right" ng-show="jpcbgrview.isCurrentDate">
                        &nbsp;&nbsp;{{ clock }}
                    </h3>
                    
                    <div style="width: 200px; margin-top: -4px" class="pull-right">
                        <bsdatepicker
                            name="currentDate"
                            date-options="dateOptions"
                            ng-model="jpcbgrview.currentDate",
                            ng-change="jpcbgrview.reloadBoard()"
                        ></bsdatepicker>
                    </div>
                    
                    <h3 class="panel-title text-center" style="font-size: 18px; font-weight:bolder;margin:10px 0px 10px 0px"><br><br>
                        <!-- <i class="fa fa-group" style="font-size:18px"></i>&nbsp; -->
                        <!-- <span style="border-style:solid; border-color: #000000;padding: 1px 4px 1px 4px; margin-left:-5px">Working Technician : {{countTechnician}}</span>&nbsp;
                        <span style="border-style:solid; border-color: #000000;padding: 1px 4px 1px 4px; margin-left:-5px">In Progress : {{countInProgress}}</span>&nbsp;
                        <span style="border-style:solid; border-color: #000000;padding: 1px 4px 1px 4px; margin-left:-5px">Production Capacity : {{productionCapacity}} %</span>&nbsp;
                        <span style="border-style:solid; border-color: #000000;padding: 1px 4px 1px 4px; margin-left:-5px">No Show : {{countNoShow}}</span> &nbsp;
                        <span style="border-style:solid; border-color: #000000;padding: 1px 4px 1px 4px; margin-left:-5px">Carry Over : {{countCarryOver}}</span>&nbsp;
                        <span style="border-style:solid; border-color: #000000;padding: 1px 4px 1px 4px; margin-left:-5px">Booking : {{countBookingA}}/{{countBookingB}}</span> &nbsp;
                        <span style="border-style:solid; border-color: #000000;padding: 1px 4px 1px 4px; margin-left:-5px">WIP : {{countWIP}}</span> &nbsp; -->
                        <span>Working Technician : {{countTechnician}}</span>&nbsp;
                        <span>In Progress : {{countInProgress}}</span>&nbsp;
                        <span>Production Capacity : {{countProductionCapacity}} %</span>&nbsp;
                        <span>No Show : {{countNoShow}}</span> &nbsp;
                        <span>Carry Over : {{countCarryOver}}</span>&nbsp;
                        <span>Booking : {{countBookingA}}/{{countBookingB}}</span> &nbsp;
                        <span>WIP : {{countWIP}}</span> &nbsp;
                    </h3>

                    <div class="clearfix"></div>
                    
                </div>
                <div class="panel-body">
                    <div id="jpcb_gr_view" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid"></div>
                </div>

            </div>              
        </div>       
        <div ng-class="ncolumn" style="padding-left: 0" ng-show="ncolvisible">
            <div class="panel panel-default" id="jpcb_gr_edit_panel">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                     <!-- Select Stall -->
                     Options
                    </h3>
                    <h3 class="panel-title pull-right">
                        <a href="#" ><i class="fa fa-fw fa-remove" ng-click="showOptions(false)">&nbsp;</i></a>
                    </h3>
                    <div class="clearfix"></div>
                    
                </div>
                <div class="panel-body" style="padding: 8px">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 style="border-bottom: 2px solid #a5a5a5;">Hide Header / Footer</h4>
                            <div ng-repeat="item in filter">
                                    <input type="checkbox" ng-model="item.visible" ng-change="">
                                    <label>{{item.name}}</label>
                            </div>
                            <hr>
                            <h4 style="border-bottom: 2px solid #a5a5a5;">Select Stall</h4>
                            <div ng-repeat="item in jpcbgrview.tempStallVisible">
                                <input type="checkbox" ng-model="item.visible" ng-change="">
                                <label>{{item.title}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group" >
                        <button type="button" class="btn btn-danger btn-sm" ng-click="saveOptions(filter)">Update Board</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<br/>

