<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}

	.watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>



<!-- <div ng-show="ShowLihatTransaksiCashBank"> -->
<div ng-show="ShowLihatTransaksiCashBank" class="fi-outermost">
	<div class="pull-right" style="margin-top: -70px;">
		<div class="row">
			<button id="ToTambahTransaksiCashBank_Button" ng-click="ToTambahTransaksiCashBank()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					<i class="fa fa-fw fa-plus"> </i>
					Tambah
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>

	<div class="row">
		<div style="margin-top: -10px;">
			<div class="col-md-3">
				<div class="form-group">
					<bsreqlabel>Tanggal Transaksi Cash & Bank</bsreqlabel>
					<bsdatepicker name="TanggalTransaksiCashBank" date-options="dateOptions" ng-model="LihatTransaksiCashBank_TanggalTransaksiCashBank"
					 max-date="dateNow">
					</bsdatepicker>

				</div>
			</div>
			<!-- <div class="col-md-1" style="margin-top: 30px;margin-left: 5px">
				s.d.
			</div> -->
			<div class="col-md-3">
				<div class="form-group">
					<label>s.d.</label>
					<bsdatepicker name="TanggalTransaksiCashBankAkhir" date-options="dateOptions" ng-model="LihatTransaksiCashBank_TanggalTransaksiCashBankAkhir"
					 max-date="dateNow">
					</bsdatepicker>

				</div>
			</div>
			<div class="col-md-1">
				<button ng-click="LihatTransaksiCashBank_Cari()" type="button" class="rbtn btn ng-binding ladda-button" style="float: left;margin-top:23px;">
					<span class="ladda-label">
						<!--<i class="fa fa-fw fa-refresh"></i>-->Cari
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div style="margin-top:-15px; margin-left: -2px">
			<p class="fi-title-line" >Daftar Transaksi Cash & Bank </p>
		</div>
	</div>

	<div class="row" style="margin-top:0px;">
		<div>
			<div class="col-md-2">
				<bsselect ng-model="LihatTransaksiCashBank_BulkAction" data="optionsLihatTransaksiCashBank_BulkAction" ng-change="LihatTransaksiCashBank_BulkAction_Changed()"
				 item-text="name" item-value="value" on-select="value(selected)" placeholder="Bulk Action" icon="fa fa-search" ng-disabled="LihatTransaksiCashBank_BulkAction_isDisabled">
				</bsselect>
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control" name="" ng-model="LihatTransaksiCashBank_TextSearch" placeholder="Teks Filter..."
				 ng-maxlength="50 " maxlength="50">
			</div>
			<div class="col-md-2">
				<bsselect ng-model="LihatTransaksiCashBank_SearchCriteria" data="LihatTransaksiCashBank_TransaksiCashBankSearchOptions" item-text="name"
				 item-value="value" on-select="value(selected)" placeholder="Pilih" icon="fa fa-search">
				</bsselect>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn ng-binding ladda-button" ng-click="MainGridFilterClick()">
					<span class="ladda-label">
						Filter
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 10px;">
		<div>
			<div id="myGrid" ui-grid="TransaksiCashBank_UIGrid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-pagination
			 class="fi-ui-grid" style="margin-left: 13px;">
				<div class="watermark" ng-show="!TransaksiCashBank_UIGrid.data.length">No data available</div>
			</div>
		</div>
	</div>
</div>

<div ng-show="LihatTransaksiCashBank_Details" class="fi-outermost">
	<div class="col-md-12">
		<div class="col-md-4">
			<div class="form-group">
				<bslabel>Tanggal Transaksi Cash & Bank</bslabel>
				<bsdatepicker name="LihatTransaksiCashBankTanggalTransaksi" date-options="dateOptions" ng-model="LihatTransaksiCashBank_TanggalTransaksi"
				 ng-disabled="!LihatTransaksiCashBank_TanggalTransaksi_EnableDisable">
				</bsdatepicker>

			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<bslabel>Nomor Transaksi Cash & Bank</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="LihatTransaksiCashBankNoTransaksi " placeholder="Kode GL Account HO" ng-model="LihatTransaksiCashBank_NoTransaksi"
					 ng-maxlength="50 " ng-disabled="!LihatTransaksiCashBank_NoTransaksi_EnableDisable">
				</div>

			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<bslabel>Nomor Transaksi Cash & Bank Reversal</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="LihatTransaksiCashBankNoTransaksiReversal " placeholder="Kode GL Account HO" ng-model="LihatTransaksiCashBank_NoTransaksiReversal"
					 ng-maxlength="50 " ng-disabled="!LihatTransaksiCashBank_NoTransaksiReversal_EnableDisable">
				</div>

			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-4">
			<div class="form-group">
				<bslabel>Tipe Transaksi Cash & Bank</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="LihatTransaksiCashBankTipeTransaksi " placeholder="Kode GL Account Cabang"
					 ng-model="LihatTransaksiCashBank_TipeTransaksi" ng-maxlength="50 " required ng-disabled="!LihatTransaksiCashBank_TipeTransaksi_EnableDisable">
				</div>

			</div>
			<!--<bsselect ng-model="LihatTransaksiCashBank_TipeTransaksiCashBank" data="LihatTransaksiCashBank_TipeTransaksiCashBankOptions" item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Tipe Transaksi" icon="fa fa-search"
			ng-disabled="!LihatTransaksiCashBank_TipeTransaksiCashBank_EnableDisable">
			</bsselect>-->
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-4">
			<bslabel style="margin-top:10px;">Nama GL Account HO</bslabel>
			<bsselect ng-model="LihatTransaksiCashBank_KodeGLAccount_GLAccountHO" data="LihatTransaksiCashBank_kodeGLAccountHOOptions"
			 item-text="name" item-value="value" on-select="value(selected)" placeholder="Kode GL Account HO" icon="fa fa-search" ng-disabled="!LihatTransaksiCashBank_KodeGLAccount_GLAccountHO_EnableDisable">
			</bsselect>
			<!--<bsselect ng-model="" data="" item-text="name" item-value="value" on-select="value(selected)" placeholder="Nama GL Account HO" icon="fa fa-search">-->

		</div>
		<div class="col-md-4">

			<div class="form-group">
				<bslabel>Kode GL Account HO</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="KodeGlAccountHo " placeholder="Kode GL Account HO" ng-model="LihatTransaksiCashBank_KodeGlAccountHo"
					 ng-maxlength="50 " required ng-disabled="!LihatTransaksiCashBank_KodeGlAccountHo_EnableDisable">
				</div>

			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-4">
			<bslabel>Nama GL Account Cabang</bslabel>
			<bsselect ng-model="LihatTransaksiCashBank_KodeGLAccount_GLAccountCabang" data="LihatTransaksiCashBank_kodeGLAccountCabangOptions"
			 item-text="name" item-value="value" on-select="value(selected)" placeholder="Nama GL Account Cabang" icon="fa fa-search"
			 ng-disabled="!LihatTransaksiCashBank_KodeGLAccount_GLAccountCabang_EnableDisable">
			</bsselect>
			<!--<bsselect ng-model="" data="" item-text="name" item-value="value" on-select="value(selected)" placeholder="Nama GL Account Cabang" icon="fa fa-search">-->

		</div>
		<div class="col-md-4">
			<div class="form-group">
				<bslabel>Kode GL Account Cabang</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="KodeGlAccountCabang " placeholder="Kode GL Account Cabang" ng-model="LihatTransaksiCashBank_KodeGlAccountCabang"
					 ng-maxlength="50 " required ng-disabled="!LihatTransaksiCashBank_KodeGlAccountCabang_EnableDisable">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-4">
			<div class="form-group">
				<bslabel>Nominal</bslabel>
				<div class="input-icon-right ">
					<input type="number" step=".01" class="form-control " name="Nominal" placeholder="Nominal" ng-model="LihatTransaksiCashBank_Nominal"
					 required ng-disabled="!LihatTransaksiCashBank_Nominal_EnableDisable">
				</div>

			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<bslabel>Keterangan</bslabel>
				<textarea type="text" class="form-control" name="Keterangan" placeholder="Keterangan" ng-model="LihatTransaksiCashBank_Keterangan"
				 ng-maxlength="50" style="margin-bottom: 10px" ng-disabled="!LihatTransaksiCashBank_Keterangan_EnableDisable" required
				 maxlength="50"></textarea>
			</div>
		</div>
	</div>

	<div class="row">
		<button id="LihatTransaksiCashBankReversal" ng-click="LihatTransaksiCashBank_Reversal_Clicked()" ng-disabled="LihatTransaksiCashBank_Reversal_Clicked_Disabled" type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
			<span class="ladda-label">
				Pengajuan Reversal
			</span>
			<span class="ladda-spinner"></span>
		</button>

		<button id="LihatTransaksiCashBankKembali" ng-click="LihatTransaksiCashBank_Kembali_Clicked()" type="button" class="btn ng-binding ladda-button fi-right-button">
			<span class="ladda-label">
				Kembali
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
</div>
<!-- {{ProsesSubmit}} -->
<div ng-show="ShowTambahTransaksiCashBank" class="fi-outermost">
	<ng-form name="X1" novalidate>
		<div class="row">
			<div class="pull-right" style="margin-top:-50px">
				<button id="ToLihatTransaksiCashBank_Button" ng-disabled="X1.$invalid || ProsesSubmit" ng-click="TambahTransaksiCashBank_Simpan()" ng-click=""
				 type="button" class="rbtn btn ng-binding ladda-button fi-right-button" ladda="ProsesSubmit" data-style="expand-left">
					<span class="ladda-label">
						<!--<i class="fa fa-fw fa-refresh"></i>-->Simpan
					</span>
					<span class="ladda-spinner"></span>
				</button>
				<button id="ToTambahTransaksiCashBank_Button" ng-click="BackToMainTransaksiCashBank()" ng-click="" type="button" class="btn ng-binding ladda-button fi-right-button">
					<span class="ladda-label">
						<!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>

		<div id="X1_Error" class="col-md-12" style="display: none;">
			X1.$error = {{X1.$error}}
		</div>

		<div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2">

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':X1.TanggalTransaksiCashBank.$error.required && X1.TanggalTransaksiCashBank.$touched}">
							<bsreqlabel>Tanggal Transaksi Cash & Bank</bsreqlabel>
							<bsdatepicker name="TanggalTransaksiCashBank" date-options="dateOptions" ng-model="TambahTransaksiCashBank_TanggalTransaksiCashBank"
							 required>
							</bsdatepicker>
							<span ng-if="X1.TanggalTransaksiCashBank.$error.required && X1.TanggalTransaksiCashBank.$touched" class="help-block">Field ini wajib diisi</span>
						</div>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':X1.TipeTransaksiCashBank.$error.required && X1.TipeTransaksiCashBank.$touched}">
							<bsreqlabel>Tipe Transaksi Cash & Bank</bsreqlabel>
							<bsselect name="TipeTransaksiCashBank" ng-change="TambahTransaksiCashBank_TipeTransaksiCashBank_Selected_Changed()" ng-model="TambahTransaksiCashBank_TipeTransaksiCashBank"
							 data="TambahTransaksiCashBank_TipeTransaksiCashBankOptions" item-text="name" item-value="value" on-select="value(selected)"
							 placeholder="Select Tipe Transaksi" icon="fa fa-search" required>
							</bsselect>
							<span ng-if="X1.TipeTransaksiCashBank.$error.required && X1.TipeTransaksiCashBank.$touched" class="help-block">Field ini wajib dipilih</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':X1.NamaGLAccountHO.$error.required && X1.NamaGLAccountHO.$touched}">
							<bsreqlabel>Nama GL Account HO</bsreqlabel>
							<bsselect name="NamaGLAccountHO" ng-change="TambahTransaksiCashBank_KodeGLAccount_GLAccountHO_Selected_Changed()" ng-model="TambahTransaksiCashBank_KodeGLAccount_GLAccountHO"
							 data="TambahTransaksiCashBank_kodeGLAccountHOOptions" item-text="name" item-value="value" on-select="value(selected)"
							 placeholder="Nama GL Account HO" icon="fa fa-search" required>
							</bsselect>
							<span ng-if="X1.NamaGLAccountHO.$error.required && X1.NamaGLAccountHO.$touched" class="help-block">Field ini wajib dipilih</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':X1.KodeGlAccountHo.$error.required && X1.KodeGlAccountHo.$touched}">
							<label>Kode GL Account HO</label>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="KodeGlAccountHo " placeholder="Kode GL Account HO" ng-model="TambahTransaksiCashBank_KodeGlAccountHo"
								 ng-maxlength="50 " required disabled="true">
							</div>
							<span ng-if="X1.KodeGlAccountHo.$error.required && X1.KodeGlAccountHo.$touched" class="help-block">Field ini wajib diisi</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':X1.NamaGLAccountCabang.$error.required && X1.NamaGLAccountCabang.$touched}">
							<bsreqlabel>Nama GL Account Cabang</bsreqlabel>
							<bsselect name="NamaGLAccountCabang" ng-change="TambahTransaksiCashBank_KodeGLAccount_GLAccountCabang_Selected_Changed()"
							 ng-model="TambahTransaksiCashBank_KodeGLAccount_GLAccountCabang" data="TambahTransaksiCashBank_kodeGLAccountCabangOptions"
							 item-text="name" item-value="value" on-select="value(selected)" placeholder="Nama GL Account Cabang" icon="fa fa-search"
							 required>
							</bsselect>
							<span ng-if="X1.NamaGLAccountCabang.$error.required && X1.NamaGLAccountCabang.$touched" class="help-block">Field ini wajib dipilih</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':X1.KodeGlAccountCabang.$error.required && X1.KodeGlAccountCabang.$touched}">
							<label>Kode GL Account Cabang</label>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="KodeGlAccountCabang " placeholder="Kode GL Account Cabang" ng-model="TambahTransaksiCashBank_KodeGlAccountCabang"
								 ng-maxlength="50 " required disabled="true">
							</div>
							<span ng-if="X1.KodeGlAccountCabang.$error.required && X1.KodeGlAccountCabang.$touched" class="help-block">Field ini wajib diisi</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':X1.Nominal.$error.required && X1.Nominal.$touched}">
							<bsreqlabel>Nominal</bsreqlabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="Nominal" placeholder="Nominal" ng-model="TambahTransaksiCashBank_Nominal"
								 ng-maxlength="50 " required currency-formating number-only min="1" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
							</div>
							<span ng-if="X1.Nominal.$error.required && X1.Nominal.$touched" class="help-block">Field ini wajib diisi</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Keterangan</label>
							<textarea type="text" class="form-control" name="Keterangan" placeholder="Keterangan" ng-model="TambahTransaksiCashBank_Keterangan"
							 ng-maxlength="1000" maxlength="1000" style="margin-bottom: 10px"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>

	</ng-form>
</div>


<div class="ui modal" id="ModalLihatTransaksiCashBank_PengajuanReversal" role="dialog">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Input Alasan Reversal</h4>
		</div>
		<div class="modal-body">
			<p>
				<textarea type="text" class="form-control" name="AlasanReversal" placeholder="Alasan Reversal" ng-model="LihatTransaksiCashBank_PengajuanReversal_AlasanReversal"
				 ng-maxlength="1000" maxlength="1000" style="margin-bottom: 10px" required></textarea>
			</p>
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="Batal_LihatTransaksiCashBank_PengajuanReversalModal()" class="rbtn btn ng-binding ladda-button" type="button">Kembali</button>
				<button ng-click="Pengajuan_LihatTransaksiCashBank_PengajuanReversalModal()" class="rbtn btn ng-binding ladda-button" type="button">Pengajuan</button>
			</p>
		</div>
	</div>
</div>

<div class="ui modal" id="ModalTolakTransaksiCashBank" role="dialog">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
			<div class="row" style="padding-top: 25px">
				<bsreqlabel>Input Alasan Penolakan</bsreqlabel>
				<textarea type="text" class="form-control" name="AlasanReversal" placeholder="Alasan Penolakan" ng-model="ModalTolakTransaksiCashBank_AlasanPenolakan"
				 ng-maxlength="1000" maxlength="1000" style="margin-bottom: 10px" required></textarea>
			</div>
			<div>
				<p align="center">
					<button class="col-sm-6" ng-click="Batal_ModalTolakTransaksiCashBank()" type="button" class="rbtn btn ng-binding ladda-button">
						Batal
					</button>
					<button class="col-sm-6" ng-click="Pengajuan_ModalTolakTransaksiCashBank()" type="button" class="rbtn btn ng-binding ladda-button">
						Tolak
					</button>
				</p>
			</div>
		</div>

	</div>
</div>