<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="stylesheet" href="css/uitogglestyle.css">

<div class="no-add">
	<div class="row" style="margin: 0 0 0 0">
		<div class="row" style="margin: 0 0 0 0">
				
				<div id="RightTopBox" style="float: right">
					<button ng-show="!MasterStokBasket_Edit_Show" id="MasterStokBasket_Batal_Button" 
					ng-click="MasterStokBasket_Batal_Clicked()"
					 type="button" class="wbtn btn" style="margin:-30px 0 0 0">
						<span class="ladda-label">
							Kembali
						</span><span class="ladda-spinner"></span>
					</button>

					<button ng-show="!MasterStokBasket_Edit_Show" id="MasterStokBasket_Simpan_Button" 
					ng-click="MasterStokBasket_Simpan_Clicked()" ng-disabled="disabledMasterStokBasket_Simpan_Clicked"
					 type="button" class="rbtn btn" style="margin:-30px 0 0 0">
						<span class="ladda-label"> <i class="fa fa-floppy"></i>
							Simpan
						</span><span class="ladda-spinner"></span>
					</button>

					<button id="MasterStokBasket_Edit_Button" 
					ng-click="MasterStokBasket_Edit_Clicked()"
					ng-show="MasterStokBasket_Edit_Show"
					 type="button" class="rbtn btn" style="margin:-30px 0 0 0">
						<span class="ladda-label"><i class="fa fa-pencil"></i>
							Edit
						</span><span class="ladda-spinner"></span>
					</button>
				</div>
		</div>

		<div class="row" style="margin: 30px 0px 0px;">
				<div class="col-md-4" style="text-align: left; float:right">
						<div id="toogleItem" class="pull-right">
								<div class="input-icon-right">
									<div class="switch">
										<input ng-change="StockBasketValue()" ng-disabled="MasterStokBasket_Edit_Show" ng-model="StockBasket.StockBasketBit" id="cmn-toggle-5" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
										<label for="cmn-toggle-5"></label>
									</div>
								</div>
							</div>	

						<label class="pull-right" style="margin: 5px 10px 0 0"><b>Stock Basket : </b></label>
						
				</div>
		</div>

		<div class="row" style="margin: 10px 0 0 0">
				<div ng-if="!MasterStokBasket_Edit_Show" style="font-size:10px;margin-top:10px;margin-bottom:-5px;color: red">
						<p align="right">
						* Klik dua kali pada field Lead Time untuk merubah.
						</p>
					</div>
					<div ng-if="MasterStokBasket_Edit_Show" style="height: 25px;font-size:10px;margin-top:10px;margin-bottom:-5px;color: red">
						<p align="right">
						
						</p>
					</div>
			<div id="myGrid" ui-grid="StockBasket_UIGrid" ui-grid-edit ui-grid-auto-resize ui-grid-pagination class="Mygrid" style="height: 370px"></div>						
		</div>
	</div>
</div>