<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="SukuForm" factory-name="MasterSukuFactory" model="mSuku" model-id="CustomerEthnicId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="SukuForm" form-title="Suku" modal-title="Suku" modal-size="small" form-api="formApi" do-custom-save="doCustomSave" icon="fa fa-fw fa-child">

        <div class="row">
            <div class="col-md-6">

				
				<div class="form-group" show-errors>
					<bsreqlabel>Suku</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="CustomerEthnicName" placeholder="Input Suku" ng-model="mSuku.CustomerEthnicName"
								maxlength="20" required
						>
					</div>
					<bserrmsg field="CustomerEthnicName"></bserrmsg>
				</div>
            </div>
        </div>
        
</bsform-grid-tree>

