<script type="text/javascript">

</script>
<style type="text/css">

</style>


<bsform-grid ng-form="TypeTransactionPointForm" factory-name="TypeTransactionPoint" model="mTypeTransactionPoint" model-id="TypeTransactionPointId"
    loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="TypeTransactionPointForm"
    form-title="TypeTransactionPoint" modal-title="TypeTransactionPoint" modal-size="small" icon="fa fa-fw fa-child">

    <div class="row">
        <div class="col-md-6">


            <div class="form-group" show-errors>
                <bsreqlabel>Type Transaction Point</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="TypeTransactionPointName" placeholder="Type Transaction Point" ng-model="mTypeTransactionPoint.TypeTransactionPointName"
                        ng-maxlength="50" required>
                </div>
                <bserrmsg field="TypeTransactionPointName"></bserrmsg>
            </div>

        </div>
    </div>
    </bsform-grid-tree>