<script type="text/javascript">
    function IfGotProblemWithModal() {
        $('body .modals').remove();
    }
</script>
<style type="text/css">
    @media only screen and (max-width: 600px) {
        .nav.nav-tabs {
            display: none;
        }
    }
    
    .input-group.input-group-unstyled input.form-control {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    
    .input-group-unstyled .input-group-addon {
        border-radius: 4px;
        border: 0px;
        background-color: transparent;
    }
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<!--<script type="text/javascript" src="js/uiscript.js"></script>-->

<bsform-grid  ng-show="ApprovalRevisiBatalAfiMain" ng-form="ApprovalRevisiBatalAfiForm" factory-name="ApprovalRevisiBatalAfiFactory" model="mApprovalRevisiBatalAfi" model-id="SpkId" loading="loading" hide-new-button="true" grid-hide-action-column="true"
    get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="ApprovalRevisiBatalAfiForm" form-title="Approval Pengiriman Dengan Pengecualian" modal-title="Approval Pengiriman Dengan Pengecualian" modal-size="small" icon="fa fa-fw fa-child">

</bsform-grid>

<div ng-show="ApprovalRevisiBatalAfiDetail">
    <div class="row" style="margin: -30px 0 0 0">
        <button ng-show="UserIsCaoHoAdmin" ng-click="SetujuApprovalRevisiBatalAfi()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
			<span class="ladda-label">Setuju
				</span><span class="ladda-spinner"></span>
			</button>

        <button ng-show="UserIsCaoHoAdmin" ng-click="TidakSetujuApprovalRevisiBatalAfi()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
			<span class="ladda-label">Tolak
				</span><span class="ladda-spinner"></span>
			</button>

        <button style="float:right" ng-click="BatalApprovalRevisiBatalAfi()" type="button" class="wbtn btn ng-binding ladda-button">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
				</span><span class="ladda-spinner"></span>
			</button>
    </div>


    <fieldset ng-disabled="true">
        <div class="row" style="margin: 0 0 0 0">
            <br>
            <!-- Baris 1 -->
            <p>
                <div class="row" style="margin-left: 0; margin-right: 0">
                    <!-- Kiri -->
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>No. SPK</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="mApprovalRevisiBatalAfi.FormSPKNo" class="form-control" style="float: left;">
                    </div>

                    <!-- Kanan -->
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Nomor Billing</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="mApprovalRevisiBatalAfi.BillingCode" class="form-control " style="float: left; ">
                    </div>
                </div>
            </p>
            <!-- Baris 2 -->
            <p>
                <div class="row" style="margin-left: 0; margin-right: 0">
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Nomor SO</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="mApprovalRevisiBatalAfi.SoCode" class="form-control " style="float: left; ">
                    </div>

                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Tanggal Billing</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <bsdatepicker name="tanggal" ng-model="mApprovalRevisiBatalAfi.BillingDate" date-options="dateOptions" icon="fa fa-calendar">
                        </bsdatepicker>
                    </div>
                </div>
            </p>
            <!-- Baris 3 -->
            <p>
                <div class="row" style="margin-left: 0; margin-right: 0">
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Nama Pelanggan</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text " ng-model="mApprovalRevisiBatalAfi.NamaPelanggan" class="form-control " style="float: left; ">
                    </div>

                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Nomor Rangka</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text " ng-model="mApprovalRevisiBatalAfi.FrameNo" class="form-control " style="float: left; ">
                    </div>
                </div>
            </p>
            <!-- Baris 4 -->
            <p>
                <div class="row" style="margin-left: 0; margin-right: 0">
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Alamat</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text " ng-model="mApprovalRevisiBatalAfi.AlamatPelanggan" class="form-control " style="float: left; ">
                    </div>

                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Nomor Mesin</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="mApprovalRevisiBatalAfi.EngineNo" class="form-control" style="float: left;">
                    </div>
                </div>
            </p>
            <!-- Baris 5 -->
            <p>
                <div class="row" style="margin-left: 0; margin-right: 0">
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Model</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="mApprovalRevisiBatalAfi.VehicleModelName" class="form-control" style="float: left">
                    </div>

                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Tahun Kendaraan</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="mApprovalRevisiBatalAfi.AssemblyYear" class="form-control" style="float: left; ">
                    </div>
                </div>
            </p>
            <!-- Baris 6 -->
            <p>
                <div class="row" style="margin-left: 0; margin-right: 0">
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Tipe</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="mApprovalRevisiBatalAfi.Description" class="form-control " style="float: left; ">
                    </div>

                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>CBU/CKD</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text " ng-model="mApprovalRevisiBatalAfi.AssemblyType" class="form-control " style="float: left; ">
                    </div>
                </div>
            </p>
            <!-- Baris 7 -->
            <p>
                <div class="row" style="margin-left: 0; margin-right: 0">
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Warna</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text " ng-model="mApprovalRevisiBatalAfi.ColorName" class="form-control " style="float: left; ">
                    </div>

                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>On/Off the Road</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text " ng-model="mApprovalRevisiBatalAfi.OnOffTheRoadName" class="form-control " style="float: left; ">
                    </div>
                </div>
            </p>

        </div>
    </fieldset>

    <!-- Navigation Tab -->
    <ul class="nav nav-tabchild" style="margin-top:10px; background:linear-gradient(transparent 60%, rgba(0,0,0,0.03))">
        <li class="active"><a style="padding: 9px 7px 10px 7px" data-toggle="tab" href="#" onclick="navigateTab('tabContainerAfiApproval','infoPemilikAfiApproval');"><i class="fa fa-user"></i>&nbsp Info Pelanggan</a></li>
        <li><a style="padding: 9px 7px 10px 7px" data-toggle="tab" href="#" onclick="navigateTab('tabContainerAfiApproval','dokumenAfiApproval');" ng-click="loadImage()"><i class="fa fa-folder-open" ></i>&nbsp Dokumen</a></li>
    </ul>

    <div id="tabContainerAfiApproval" class="tab-content">
        <div id="infoPemilikAfiApproval" class="tab-pane fade in active" style="padding:10px 0 0 0;margin-left: 15px;margin-right: 10px;">
            <!-- <div id="infoPerusahaan" class="row" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin: 10px 0 0 0"> -->
            <!-- <p style="width:120px; margin-top:-20px; margin-left:14px; background:white;"><b>Informasi Pemilik</b></p> -->
            <div id="customerDetail" style="margin: 0 0 0 0">

                <fieldset ng-disabled="actionAfi == 'lihatAfi' || actionAfi == 'batalAfi'">
                    <form name="validasiafi">
                        <!-- Baris 1 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>Nama</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-user" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA'" maxlength="255" name="pemilikafi" ng-model="mApprovalRevisiBatalAfi.NamaPemilik" class="form-control" ng-class="{invalidBox : (validasiafi.pemilikafi.$touched == true) && (validasiafi.pemilikafi.$invalid == true)}"
                                                style="float: left;" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.pemilikafi.$touched && validasiafi.pemilikafi.$invalid) || (validasiafi.pemilikafi.$untouched && isValidate == true)" aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                        </p>
                        <!-- Baris 2 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>No Handphone</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-mobile" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' 
                                                                            || CodeRevisiAfi == 'REVB'
                                                                            || CodeRevisiAfi == 'REVC' 
                                                                            || CodeRevisiAfi == 'REVD' 
                                                                            || CodeRevisiAfi == 'REVE' 
                                                                            || CodeRevisiAfi == 'REVF'" maxlength="15" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="nohpafi" ng-model="mApprovalRevisiBatalAfi.HpNumber" class="form-control"
                                                ng-class="{invalidBox : (validasiafi.nohpafi.$touched == true) && (validasiafi.nohpafi.$invalid == true)}" style="float: left" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-envelope" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB' || CodeRevisiAfi == 'REVC'|| CodeRevisiAfi == 'REVD'|| CodeRevisiAfi == 'REVE'|| CodeRevisiAfi == 'REVF'" maxlength="50" ng-model="mApprovalRevisiBatalAfi.Email" class="form-control"
                                                style="float: left;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.nohpafi.$touched && validasiafi.nohpafi.$invalid) || (validasiafi.nohpafi.$untouched && isValidate == true)" aria-live="assertive">This field is required.</i>
                                </div>
                                <!-- <div class="col-md-2">
                                                </div>
                                                <div class="col-md-4">
                                                    <i style="color: rgb(185, 74, 72)" ng-show="validasiafi.pemilikafi.$touched && validasiafi.pemilikafi.$invalid" aria-live="assertive">This field is required.</i>
                                                </div> -->
                            </div>
                        </p>
                        <!-- Baris 3 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>No Telpon</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-phone" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'|| CodeRevisiAfi == 'REVC'|| CodeRevisiAfi == 'REVD' || CodeRevisiAfi == 'REVE' || CodeRevisiAfi == 'REVF'" maxlength="15" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                ng-model="mApprovalRevisiBatalAfi.PhoneNumber" class="form-control" style="float: left">
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="mApprovalRevisiBatalAfi.CustomerTypeId == 3" class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>KTP/KITAS/SIUP</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="mApprovalRevisiBatalAfi.CustomerTypeId == 3" class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-address-card" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'|| CodeRevisiAfi == 'REVC'" maxlength="20" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="ktpafi" ng-model="mApprovalRevisiBatalAfi.KTPNo" class="form-control"
                                                ng-class="{invalidBox : (validasiafi.ktpafi.$touched == true) && (validasiafi.ktpafi.$invalid == true)}" style="float: left;" required>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="mApprovalRevisiBatalAfi.CustomerTypeId > 3" class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>KTP/KITAS/SIUP</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="mApprovalRevisiBatalAfi.CustomerTypeId > 3" class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-address-card" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'|| CodeRevisiAfi == 'REVC'" maxlength="50" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="tdpsiup" ng-model="mApprovalRevisiBatalAfi.SIUPNo" class="form-control"
                                                style="float: left;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <!-- <i style="color: rgb(185, 74, 72)" ng-show="validasiafi.nohpafi.$touched && validasiafi.nohpafi.$invalid" aria-live="assertive">This field is required.</i> -->
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div ng-if="mApprovalRevisiBatalAfi.CustomerTypeId == 3" class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.ktpafi.$touched && validasiafi.ktpafi.$invalid) || (validasiafi.ktpafi.$untouched && isValidate == true)" aria-live="assertive">This field is required.</i>
                                </div>
                                <!-- <div ng-if="mApprovalRevisiBatalAfi.CustomerTypeId > 3" class="col-md-4">
                                        <i style="color: rgb(185, 74, 72)" ng-show="validasiafi.tdpsiup.$touched && validasiafi.tdpsiup.$invalid" aria-live="assertive">This field is required.</i>
                                    </div> -->
                            </div>
                        </p>
                        <!-- Baris 4 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>NPWP</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'|| CodeRevisiAfi == 'REVC'" name="npwpafi" maxlength="20" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="mApprovalRevisiBatalAfi.NPWPNo" ng-class="{invalidBox : (validasiafi.npwpafi.$touched == true) && (validasiafi.npwpafi.$invalid == true)}"
                                                class="form-control" style="float: left">
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="mApprovalRevisiBatalAfi.CustomerTypeId > 3" class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>TDP</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="mApprovalRevisiBatalAfi.CustomerTypeId > 3" class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-address-card" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'|| CodeRevisiAfi == 'REVC'" maxlength="20" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="tdpsiup" ng-model="mApprovalRevisiBatalAfi.TDPNo" class="form-control"
                                                style="float: left;">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.npwpafi.$touched && validasiafi.npwpafi.$invalid) || (validasiafi.npwpafi.$untouched && isValidate == true)" aria-live="assertive">This field is required.</i>

                                </div>

                            </div>
                        </p>
                        <!-- Baris 5 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>Pekerjaan</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-user" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' || odeRevisiAfi == 'REVC' ||odeRevisiAfi == 'REVD' ||odeRevisiAfi == 'REVE' || odeRevisiAfi == 'REVF'" maxlength="255" name="job" ng-model="mApprovalRevisiBatalAfi.Job" class="form-control" ng-class="{invalidBox : (validasiafi.job.$touched == true) && (validasiafi.job.$invalid == true)}"
                                                style="float: left;" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.job.$touched && validasiafi.job.$invalid) || (validasiafi.job.$untouched && isValidate == true)" aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                        </p>

                        <!--  Baris 6 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>Alamat 1</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-home" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'" maxlength="50" name="alamat1afi" ng-model="mApprovalRevisiBatalAfi.AlamatPemilik" class="form-control" ng-class="{invalidBox : (validasiafi.alamat1afi.$touched == true) && (validasiafi.alamat1afi.$invalid == true)}"
                                                style="float: left;" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.alamat1afi.$touched && validasiafi.alamat1afi.$invalid) || (validasiafi.alamat1afi.$untouched && isValidate == true)" aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                        </p>
                        <!-- Baris 7 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>Alamat 2</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-home" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'" maxlength="50" name="alamat2afi" ng-model="mApprovalRevisiBatalAfi.Alamat2" class="form-control" ng-class="{invalidBox : (validasiafi.alamat2afi.$touched == true) && (validasiafi.alamat2afi.$invalid == true)}"
                                                style="float: left;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.alamat2afi.$touched && validasiafi.alamat2afi.$invalid) || (validasiafi.alamat2afi.$untouched && isValidate == true)" aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                        </p>
                        <!-- Baris 8 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>Provinsi</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsselect name="provinsiafi" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'" placeholder="Provinsi" ng-model="mApprovalRevisiBatalAfi.ProvinceId" data="province" item-text="ProvinceName" 
                                    item-value="ProvinceId" ng-change="filterKabupaten(mApprovalRevisiBatalAfi.ProvinceId)"
                                        icon="fa fa-map-marker" required>
                                    </bsselect>
                                </div>

                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>RT</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'|| CodeRevisiAfi == 'REVD' || CodeRevisiAfi == 'REVE' || CodeRevisiAfi == 'REVF'"
                                        maxlength="3" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                        ng-model="mApprovalRevisiBatalAfi.RT" class="form-control" style="float: left">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.rt$touched && validasiafi.rt$invalid) || (validasiafi.rt$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                            </div>  
                                
                        </p>
                        <!-- Baris 9 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left" style="padding-right: 0px">
                                            <bsreqlabel>Kota/Kabupaten</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsselect name="kabkotaafi" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'" placeholder="Kabupaten/Kota" ng-disabled="mApprovalRevisiBatalAfi.ProvinceId == null || mApprovalRevisiBatalAfi.ProvinceId == undefined" ng-model="mApprovalRevisiBatalAfi.CityRegencyId"
                                    on-select="filterKecamatan(mApprovalRevisiBatalAfi.CityRegencyId)" data="kabupaten" item-text="CityRegencyName" item-value="CityRegencyId" required icon="fa fa-map-marker ">
                                    </bsselect>
                                </div>
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>RW</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'|| CodeRevisiAfi == 'REVD' || CodeRevisiAfi == 'REVE' || CodeRevisiAfi == 'REVF'"
                                        maxlength="3" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                        ng-model="mApprovalRevisiBatalAfi.RW" class="form-control" style="float: left">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.rw$touched && validasiafi.rw$invalid) || (validasiafi.rw$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                                
                        </p>
                        <!-- Baris 10 -->

                        <!-- Baris 10 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left" style="padding-right: 0px">
                                            <bsreqlabel>Kecamatan</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsselect name="kecamatanafi" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'" placeholder="Kecamatan"
                                        ng-model="mApprovalRevisiBatalAfi.DistrictId" data="kecamatan" item-text="DistrictName" item-value="DistrictId" on-select="filterKelurahan(mApprovalRevisiBatalAfi.DistrictId)"
                                        icon="fa fa-map-marker " required>
                                    </bsselect>
                                </div>

                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>Kode Pos</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsselect name="kodeposafi" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'" placeholder="Kode Pos" ng-model="mApprovalRevisiBatalAfi.AFIRegionId" data="regioncode" item-text="xPostalCode" item-value="AFIRegionId" icon="fa fa-map-marker"
                                        required>
                                    </bsselect>
                                </div>
                                
                                <div class="col-md-2">
                                    <div class="row">
                                    </div>
                                    <div class="col-md-4">
                                        <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.provinsiafi.$touched && validasiafi.provinsiafi.$invalid) || (validasiafi.provinsiafi.$untouched && isValidate == true)" aria-live="assertive">This field is required.</i>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-4">
                                        <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.regioncodeafi.$touched && validasiafi.regioncodeafi.$invalid) || (validasiafi.regioncodeafi.$untouched && isValidate == true)" aria-live="assertive">This field is required.</i>
                                    </div>
                                </div>
                            </p> 

                        <!-- START  -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left" style="padding-right: 0px">
                                            <bsreqlabel>Kelurahan</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsselect name="kelurahanfi" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'" placeholder="Kelurahan"
                                        ng-model="mApprovalRevisiBatalAfi.VillageId" data="kelurahan" item-text="VillageName" item-value="VillageId" on-select="filterVillage(mApprovalRevisiBatalAfi.VillageId)"
                                        icon="fa fa-map-marker " required>
                                    </bsselect>
                                </div>

                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>Region Code AFI</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsselect name="regioncodeafi" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'|| CodeRevisiAfi == 'REVC'|| CodeRevisiAfi == 'REVD' || CodeRevisiAfi == 'REVE'|| CodeRevisiAfi == 'REVF'" placeholder="Region Code" ng-model="mApprovalRevisiBatalAfi.AFIRegionCode"
                                        data="regioncode" item-text="AFIRegionCode,Name" item-value="AFIRegionCode" required icon="fa fa-map-marker">
                                    </bsselect>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.kabkotaafi.$touched && validasiafi.kabkotaafi.$invalid) || (validasiafi.kabkotaafi.$untouched && isValidate == true)" aria-live="assertive">This field is required.</i>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.regioncodeafi.$touched && validasiafi.regioncodeafi.$invalid) || (validasiafi.regioncodeafi.$untouched && isValidate == true)" aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                        </p>
                            <!--  END -->
                            <!-- cek sampai sini -->
                            <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left" style="padding-right: 0px">
                                            <bsreqlabel>Jenis</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsselect name="cartypeafi" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'|| CodeRevisiAfi == 'REVC'|| CodeRevisiAfi == 'REVD' || CodeRevisiAfi == 'REVE'" placeholder="Jenis" ng-model="mApprovalRevisiBatalAfi.AFICarTypeCode" data="cartype"
                                        item-text="Jenis,Model,AFICarTypeCode" item-value="AFICarTypeCode" required icon="fa fa-car ">
                                    </bsselect>
                                </div>

                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>Model</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsselect name="cartypeafi" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'|| CodeRevisiAfi == 'REVC'|| CodeRevisiAfi == 'REVD' || CodeRevisiAfi == 'REVE'" placeholder="Model" ng-model="mApprovalRevisiBatalAfi.AFICarTypeCode" data="cartype"
                                        item-text="Model,Jenis,AFICarTypeCode" item-value="AFICarTypeCode" placeholder="" required icon="fa fa-car">
                                    </bsselect>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.cartypeafi.$touched && validasiafi.cartypeafi.$invalid) || (validasiafi.cartypeafi.$untouched && isValidate == true)" aria-live="assertive">This field is required.</i>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.cartypeafi.$touched && validasiafi.cartypeafi.$invalid) || (validasiafi.cartypeafi.$untouched && isValidate == true)" aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                        </p>
                        <!-- Baris 11 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left" style="padding-right: 0px">
                                            <bsreqlabel>Tanggal Efektif Faktur</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsdatepicker name="tanggal" name="efectiveDateAfi" ng-disabled="kecuali" ng-model="mApprovalRevisiBatalAfi.InvoiceStartEffectiveDate" date-options="dateOptions" icon="fa fa-calendar" required="true">
                                    </bsdatepicker>
                                </div>

                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>Warna Custom</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-mobile" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'|| CodeRevisiAfi == 'REVC'|| CodeRevisiAfi == 'REVD'" maxlength="50" ng-model="mApprovalRevisiBatalAfi.CustomColorName" class="form-control" ng-class="{invalidBox : (validasiafi.nohpafi.$touched == true) && (validasiafi.nohpafi.$invalid == true)}"
                                            placeholder="Diisi jika ada perubahan warna unit pada AFI" style="float: left">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i style="color: rgb(185, 74, 72)" aria-live="assertive">Mohon diisi menggunakan bahasa Indonesia</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.efectiveDateAfi.$touched && validasiafi.efectiveDateAfi.$invalid) || (validasiafi.efectiveDateAfi.$untouched && isValidate == true)" aria-live="assertive">This field is required.</i>
                                </div>
                                <!-- <div class="col-md-2">
                                                </div>
                                                <div class="col-md-4">
                                                    <i style="color: rgb(185, 74, 72)" ng-show="validasiafi.cartypeafi.$touched && validasiafi.cartypeafi.$invalid" aria-live="assertive">This field is required.</i>
                                                </div> -->
                            </div>
                        </p>
                        <!-- Baris 12 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left" style="padding-right: 0px">
                                            <label>Permintaan Plat Nomor Khusus</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'|| CodeRevisiAfi == 'REVC'|| CodeRevisiAfi == 'REVD' || CodeRevisiAfi == 'REVE' || CodeRevisiAfi == 'REVF'" maxlength="50" ng-model="mApprovalRevisiBatalAfi.SpecialReqNumberPlate"
                                                class="form-control" ng-class="{invalidBox : (validasiafi.nohpafi.$touched == true) && (validasiafi.nohpafi.$invalid == true)}" style="float: left">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>Status AFI</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa" style="top:8px"></i>
                                            <input type="text" maxlength="50" ng-disabled="true" ng-model="mApprovalRevisiBatalAfi.StatusName" class="form-control" style="float: left">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <!-- <i style="color: rgb(185, 74, 72)" ng-show="validasiafi.efectiveDateAfi.$touched && validasiafi.efectiveDateAfi.$invalid" aria-live="assertive">This field is required.</i> -->
                                </div>
                                <!-- <div class="col-md-2">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <i style="color: rgb(185, 74, 72)" ng-show="validasiafi.cartypeafi.$touched && validasiafi.cartypeafi.$invalid" aria-live="assertive">This field is required.</i>
                                                    </div> -->
                            </div>
                        </p>
                    </form>
                </fieldset>

            </div>

            <p>
                <div class="row">
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading-left">
                                <bsreqlabel>Alasan Revisi / Batal AFI</bsreqlabel>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <textarea rows="5 " ng-disabled="actionAfi == 'lihatAfi'" class="form-control" ng-model="mApprovalRevisiBatalAfi.AFIRevisionCancelReason" placeholder="Alasan">
                                                                    </textarea>
                    </div>
                </div>
            </p>

            <p>
                <div class="row">
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading-left">
                                <bsreqlabel>Alasan Reject dari ADH/CAO</bsreqlabel>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <textarea rows="5 " ng-disabled="actionAfi == 'lihatAfi'" class="form-control" ng-model="mApprovalRevisiBatalAfi.ADHCAORejectReason" placeholder="Alasan">
                                                                    </textarea>
                    </div>
                </div>
            </p>

            <!-- </div> -->
        </div>

        <div id="dokumenAfiApproval" class="tab-pane fade" style="padding:10px 0 0 0">
            <div class="row" style="margin: 0 0 0 0; min-height: 400px;padding-top: 15px;">
                <div class="row" style="margin: 0 0 0 0" ng-repeat="listTempDoc in mApprovalRevisiBatalAfi.listDokumen">
                    <!-- <p> -->
                    <div class="row" style="margin: 0 0 0 0">
                        <!-- <p> -->
                        <div class="row" style="margin: 0 0 10px 0;padding-left: 10px;">
                            <!-- <div -->
                            <div class="col-md-1" ng-hide="actionAfi == 'lihatAfi'" ng-click="removeExtension($index)" style="color:red;padding-top: 10px ; float: left; width: 20px !important">
                                <i class="fa fa-times " aria-hidden="true " style="float:right "></i>
                            </div>
                            <div class="col-md-3" style="margin-top: 8px; width:22% !important">
                                <div style="float: left"><label><a><u ng-click="viewDocumentAFI(listTempDoc)">{{listTempDoc.DocumentName}}</u></a></label></div>
                                <div style="float: right">:&nbsp&nbsp</div>
                            </div>
                            <div class="col-md-8">
                                <div class="input-icon-right">
                                    <input type="text" ng-disabled="true" class="form-control" ng-model="listTempDoc.DocumentDataName" ng-change="cekStatusUpload(listTempDoc, listTempDoc.UploadDokumenCustomer.FileName)" name="fieldNoSpkEnd" placeholder="" ng-maxlength="50" required>
                                    <!-- <input type="text" style="display: none" ng-model="listTempDoc.DocumentDataName = listTempDoc.UploadDokumenCustomer.FileName"> -->
                                </div>
                            </div>
                            <!-- <div ng-hide="actionAfi == 'lihatAfi'" class="col-md-1" style="padding-right: 0px;">
                                <label class="rbtn btn ng-binding ladda-button" style="float: right;width: 100% !important">
                                                                    Browse <input type="file" bs-uploadsingle="onFileSelect($files)" img-upload="listTempDoc.UploadDokumenCustomer" style="display:none">
                                                                </label>
                            </div> -->
                        </div>
                        <!-- </p> -->
                    </div>

                    <!-- </p> -->
                </div>

                <p>
                    <div class="row" ng-hide="actionAfi == 'lihatAfi'" style="margin: 0 0 0 0">
                        <div class="col-md-11" style="border-bottom: 1px solid #ccc; min-height: 20px">
                        </div>
                        <div class="col-md-1">
                            <div class="row" style="margin-left: 15px; margin-right: 14px; margin-top: 10px">
                                <div style="float: right;color: #d53337" ng-click="openDokumenlist()">
                                    <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 1.5em;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>


</div>


<div class="ui modal ModalAlasanPenolakanApprovalRevisiBatalAfi" role="dialog">

    <div class="modal-header">
        <button ng-click="BatalAlasanApprovalRevisiBatalAfi()" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Alasan Penolakan</h4>
    </div>
    <br/>


    <div class="modal-body">
        <textarea rows="10" cols="80" maxlength="512" placeholder="input alasan..." ng-model="mApprovalRevisiBatalAfi.ADHCAORejectReason"></textarea>
    </div>
    <div class="modal-footer">
        <!--<button onclick="Lanjut_Clicked()" class="rbtn btn ng-binding ladda-button" style="float: right;">Lanjutkan</button>-->
        <button ng-click="SubmitAlasanApprovalRevisiBatalAfi()" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-disabled="mApprovalRevisiBatalAfi.ADHCAORejectReason==undefined">Simpan</button>
        <button ng-click="BatalAlasanApprovalRevisiBatalAfi()" class="rbtn btn ng-binding ladda-button" style="float: right;">Batal</button>
    </div>
</div>