<style type="text/css">
.radioCustomer input[type=radio] {
    display:none;
  }

  .radioCustomer input[type=radio] + label{
    background-color: grey;
    color:#fff;
    padding:10px;
    -webkit-border-radius:2px;
    display:inline-block;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    width:100px;
  }

  .radioCustomer input[type=radio]:checked + label{
    background-color: #d53337;
  }
</style>
<bsform-base
        ng-form="CallCustomer"
        loading="loading"
        form-api="formApi"
        get-data="getData"
        form-name="CallCustomer"
        icon="fa fa-fw fa-child"
>
  <bsform-base-main>
    <div class="row">
      <div class="col-md-12">
        <fieldset style="padding:10px;border:2px solid #e2e2e2;">
          <legend style="margin-left:10px;width:inherit;border-bottom:0px;">
            WO Information
          </legend>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nomor WO :</label>
                  <label>7567576356534</label>
                </div>
                <div class="form-group">
                  <label>Nomor Polisi :</label>
                  <label>7567576356534</label>
                </div>
                <div class="form-group">
                  <label>Model :</label>
                  <label>7567576356534</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Tanggal WO :</label>
                  <label>7567576356534</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Kategori WO </label>
              <bsselect name="typeSearch"
                      ng-model="filter.typeSearch"
                      data="typeSearch"
                      item-text="Name"
                      item-value="Id"
                      placeholder="Pilih Kategori"
                      required
                      >
              </bsselect>
            </div>
          </div>
          <div class="col-md-12">
            <bslist
                data="gridWork"
                m-id="TaskId"
                d-id="PartsId"

                list-model="lmModel"
                list-detail-model="ldModel"
                button-settings="listButtonSettings"

                grid-detail="gridPartsDetail"
                on-select-rows="onListSelectRows"
                selected-rows="listSelectedRows"
                list-api='listApi'
                
                confirm-save="true"
                list-title="Job List"
                modal-title="Job Data"
                modal-title-detail="Parts Data"
                list-height="250"
            >
              <bslist-template>
                <p class="name"><strong>{{ lmItem.TaskName }}</strong></p>
                <div class="email">{{ lmItem.FR }}</div>
                  <div>
                  </div>
              </bslist-template>
              <bslist-detail-template>
                <p class="address"><strong>{{ ldItem.Parts.PartsCode }}</strong></p>
                <div class="city">{{ ldItem.Parts.PartsName }}</div>
              </bslist-detail-template>
              <bslist-modal-form>
                <div class="row">
                    <!-- <div ng-include="'app/services/appointment/appointmentServiceGr/modalFormMaster.html'"> -->
                  <div ng-include="'app/services/lib/ModalAppointmentGR/modalFormMaster.html'">
                  </div>
                </div>
              </bslist-modal-form>
              <bslist-modal-detail-form>
                <div class="row">
                  <!-- <div ng-include="'app/services/appointment/appointmentServiceGr/modalFormDetail.html'"> -->
                  <div ng-include="'app/services/lib/ModalAppointmentGR/modalFormDetail.html'">
                  </div>
                </div> 
              </bslist-modal-detail-form>
            </bslist>
          </div>
          <div class="col-md-12">
            <table id="example" class="table table-striped table-bordered" width="100%">
              <thead>
                <tr>
                  <th>Nomor LT</th>
                  <th>Description</th>
                  <th>Claim Amount</th>
                  <th>Status</th>
                  <th>Warranty Number</th>
                  <th>Acceptable Amount</th>
                  <th>Error Code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nomor LT</td>
                  <td>Description</td>
                  <td>Claim Amount</td>
                  <td>Status</td>
                  <td>Warranty Number</td>
                  <td>Acceptable Amount</td>
                  <td>Error Code</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12" style="margin-bottom:20px;">
            <div class="col-md-6 form-inline">
              <div class="form-group">
                <label>Lama Pekerjaan : </label>
                <input type="text" class="form-control" placeholder="0" name="">
              </div>
            </div>
            <div class="col-md-6 form-inline">
              <div class="form-group"> 
                <label>Total DP:</label>
                <input type="text" name="dp" class="form-control" placeholder="Total DP">
              </div>
            </div>
          </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Part Bekas</label>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group radioCustomer">
                    <input type="radio" id="radio1" ng-model="isParts" name="radio1" value="1" checked>
                      <label for="radio1">Kembalikan</label>
                    <input type="radio" id="radio2" ng-model="isParts" name="radio1" value="0">
                      <label for="radio2">Tinggal</label>
                  </div>
                  <!-- {{isParts}} -->
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Waiting / Drop Off</label>
                    </div>
                </div>
                <div class="col-md-6">
                   <div class="form-group radioCustomer">
                     <input type="radio" id="wait1" ng-model="isWaiting" name="radio2" value="1" checked>
                       <label for="wait1">Waiting</label>
                     <input type="radio" id="wait2" ng-model="isWaiting" name="radio2" value="0">
                       <label for="wait2">Drop Off</label>
                   </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Car Wash</label>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group radioCustomer">
                    <input type="radio" id="washing1" ng-model="isWashing" name="radio3" value="1" checked>
                      <label for="washing1">Wash</label>
                    <input type="radio" id="washing2" ng-model="isWashing" name="radio3" value="0">
                      <label for="washing2">No Wash</label>
                  </div>
                  <!-- {{isWashing}} -->
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Scheduled Service Time</label>
                    </div>
                    <div class="col-md-9 form-inline">
                        <div class="form-group" style="width:200px;">
                            <bsdatepicker name="firstDate" date-options="DateOptions" ng-model="mData.firstDate" ng-change="DateChange(dt)" ng-disabled="modeQueue == 3">
                            </bsdatepicker>
                            
                        </div>
                        <div class="form-group text-center" style="width:20px;">
                            <b>-</b>
                        </div>
                        <div class="form-group">
                            <bsdatepicker name="lastDate" date-options="DateOptions" ng-model="mData.lastDate" ng-change="DateChange(dt)" ng-disabled="modeQueue == 3">
                            </bsdatepicker>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Estimation Delivery Time</label>
                    </div>
                    <div class="col-md-9 form-inline">
                        <div class="form-group" style="width:200px;">
                            <bsdatepicker name="firstDate" date-options="DateOptions" ng-model="mData.Estimate" ng-change="DateChange(dt)">
                            </bsdatepicker>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Adjusment Delivery Time</label>
                    </div>
                    <div class="col-md-9 form-inline">
                        <div class="form-group" style="width:200px;">
                            <bsdatepicker name="firstDate" date-options="DateOptions" ng-model="mData.Adjusment" ng-change="DateChange(dt)">
                            </bsdatepicker>
                            
                        </div>
                        <div class="form-group" style="width:200px;">
                            <bscheckbox ng-model="mData.customerRequest" label="Customer Request" ng-click="" true-value=2 false-value=0>
                            </bscheckbox>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </bsform-base-main>
  <bsform-base-detail>

  </bsform-base-detail>
</bsform-base>