        <div ng-controller="DashboardAppointmentGR">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div id="widget-appointment" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header style="background-color:#6e6e6e;color:aliceblue">
                            <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                            <h2><strong>Appointment Performance</strong></h2>
                        </header>
                        <div class="widget-body">
                            <div class="row" style="max-width: 1000px; margin: auto;">
                                <div style="width: 60%; float: left; margin-left: 1%">
                                    <div class="row" style="text-align: center">
                                        <div class="easy-pie-chart" easypiechart options="options1" percent="data1">
                                            <span class="percent" style="margin-top: -3em; color: #1874cd">
                                                <div style="font-size: 200%">{{data1}}%</div>
                                                <div>Appointment Rate</div>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center" class="color1">
                                        M to H-1
                                    </div>
                                </div>
                                <div style="width: -40%; float: left;">
                                    <div class="row" style="text-align: center">
                                        <div class="easy-pie-chart" easypiechart options="options2" percent="data2">
                                            <span class="percent" style="margin-top: -3em; color: #458b00">
                                                <div class="percent-sign" style= "font-size: 200%">{{data2}}</div>
                                                <div>Show Rate</div>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center" class="color1">
                                        M to H-1
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>