<div ng-controller="AverageLeadTimeSAGR" class="row">
        <article class=" col-md-12 col-lg-12">
            <div id="widget-avgLeadTime" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                <header style="background-color:#6e6e6e;color:aliceblue">
                    <span class="widget-icon"> <i class="fa fa-clock-o"></i> </span>
                    <h2><strong>Today's Reception Average Lead Time</strong></h2>
                </header>
                <div class="widget-body" style="text-align: center;">
                    <div class="col-md-6 col-lg-6">
                        <label style="color:#808080; font-weight: bolder;font-size:1.1em">Your Average Lead Time Reception</label>
                        <div class="time-panel color1" style="background-color:#6e6e6e">
                            {{data1}}
                        </div><br>
                        <!-- <b>Target Average Lead Time<br>
                        {{data2}}</b> -->
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <label style="color:#808080; font-weight: bolder;font-size:1.1em">Average Lead Time Waiting for Reception (ALL SA)</label>
                        <div class="time-panel color2" style="background-color:#9bec5d">
                            {{data3}}
                        </div><br>
                        <b>Target Average Lead Time Waiting for Reception</b><br>
                        <div style="color:#3168e0">
                        {{data4}}
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>