        <div ng-controller="groupPerformanceGRController" class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div id="widget-group-gr" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-users"></i> </span>
                        <h2><strong>Group Performance</strong></h2>
                    </header>
                    <div class="widget-body">
                        <div class="row" style="max-width: 1000px; margin: auto; display: flex;align-items: center;">
                            <div style="width: 25%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options" percent="data1">
                                        <span class="percent" style="margin-top: -3em; color: #508abc">
                                            <div style="font-size: 200%">{{data1}}%</div>
                                            <div>Stall Capacity</div>
                                            <!-- <div>Return Job Rate<br>
                                                (RTJ)
                                            </div> -->
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M to H-1
                                </div>
                            </div>
                            <div style="width: 25%; float: left;">
                                <div class="row" style="text-align: center;">
                                    <div class="circle-panel color1">
                                        <div style="font-size: 200%">{{data3}}</div>
                                        <div style="font-size: 90%">Repair Unit Mechanic<br>(RUM)</div>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center;padding-top: 23px;" class="color1">
                                    M to H-1
                                </div>
                            </div>
                            <div style="width: 25%; float: left;">
                                <div class="row" style="text-align: center;">
                                    <div class="circle-panel color1">
                                        <div style="font-size: 200%">{{data4}}</div>
                                        <div style="font-size: 90%">Repair Per Stall<br>(RPS)</div>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center;padding-top: 23px;" class="color1">
                                    M to H-1
                                </div>
                            </div>
                            <div style="width: 25%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options" percent="data4">
                                        <span class="percent" style="margin-top: -3em; color: #508abc">
                                            <div style="font-size: 200%">{{data2}}%</div>
                                            <div>Non FIR<br>(Q1)</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M to H-1
                                </div>
                            </div>
                        </div>
                        <div class="row" style="max-width: 800px; margin: auto;">
                            <div class="col-md-4 col-lg-4">
                                <div class="row" style=" overflow: hidden;">
                                    <div id="chart1" style="min-height:220px; position: relative; height: 220px">
                                        <amchart ng-model="gaugeOptions1" width="100%"></amchart>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center;font-weight: bolder">Technician Efeciency (TE)</div>
                                <div class="row" style="text-align: center;">M to H-1</div>
                            </div>
                            <div class="col-md-4 col-lg-4" style="min-height:220px; position: relative; height: 220px; padding-top: 30px">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options" percent="data6">
                                        <span class="percent" style="margin-top: -3em; color: #508abc">
                                            <div style="font-size: 200%">{{data7}}%</div>
                                            <div>Labour Utility<br>(LU)</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M to H-1
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div id="chart2" class="row" style=" overflow: hidden;">
                                    <div style="min-height:220px; position: relative; height: 220px">
                                        <amchart ng-model="gaugeOptions2" width="100%"></amchart>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center; font-weight: bolder">Overall Productivity (OP)</div>
                                <div class="row" style="text-align: center;">M to H-1</div>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
