        <div ng-controller="MRSPerformance" class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div id="widget-mrs-grMRSPerform" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header style="background-color:#6e6e6e;color:aliceblue">
                        <span class="widget-icon"> <i class="fa fa-phone"></i> </span>
                        <h2><strong>MRS Performance</strong></h2>
                    </header>
                    <div class="widget-body">
                       
                        <!-- <div class="row" style="max-width: 800px; margin: auto;"> -->
                            <div style="width: 16%; float: left; margin-left: 1%">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options1" percent="data1">
                                        <span class="percent" style="margin-top: -3em; color: #458b00">
                                            <div style="font-size: 200%">{{data1}}%</div>
                                            <div>Call Rate</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    H
                                </div>
                            </div>
                            <div style="width: 16%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options1" percent="data2">
                                        <span class="percent" style="margin-top: -3em; color: #458b00">
                                            <div style="font-size: 200%">{{data2}}%</div>
                                            <div>Success Call Rate</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    H
                                </div>
                            </div>
                            <div style="width: 16%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options2" percent="data3">
                                        <span class="percent" style="margin-top: -3em; color: #1874cd">
                                            <div style="font-size: 200%">{{data3}}%</div>
                                            <div>Kontribusi MRS</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M-1
                                </div>
                            </div>
                            <div style="width: 16%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options3" percent="data4">
                                        <span class="percent" style="margin-top: -3em; color: #d2691e">
                                            <div style="font-size: 200%">{{data4}}%</div>
                                            <div>Kontribusi<br>MRS->SBE</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M-1
                                </div>
                            </div>
                            <div style="width: 16%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options2" percent="data4">
                                        <span class="percent" style="margin-top: -3em; color: #1874cd">
                                            <div style="font-size: 200%">{{data9}}%</div>
                                            <div>BOC</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M-1
                                </div>
                            </div>
                            <div style="width: 16%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options3" percent="data4">
                                        <span class="percent" style="margin-top: -3em; color: #d2691e">
                                            <div style="font-size: 200%">{{data10}}%</div>
                                            <div>BOC SHOW</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M-1
                                </div>
                            </div>

                        <!-- </div> -->
                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div id="widget-mrs-grMRSTarget" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header style="background-color:#6e6e6e;color:aliceblue">
                        <span class="widget-icon"> <i class="fa fa-phone"></i> </span>
                        <h2><strong>MRS Progress to Target (Reminder)</strong></h2>
                    </header>
                    <div class="widget-body">
                        <div class="row" style="width: 100%; margin: auto;">
                            <div class="col-md-4" style="padding-top: 80px">
                                <div class="row" style="border-radius: 10px; border: solid 1px #160b03; font-size: 120%; padding: 10px">
                                    <div class="col-md-9">
                                        <b><div style="font-size: 150%;font-weight:bold">Today</div><br><div style="font-size:150%;font-weight: bold">Yesterday</div></b>
                                    </div>
                                    <div class="col-md-3">
                                    <b><div style="color:#458b00;font-size: 150%;font-weight: bold">{{data5}}</div><br><div style="color:#1874cd;font-size: 150%;font-weight: bold">{{data6}}</div></b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="height: 300px; padding: 10px">
                                <div class="row" style="height: 250px; overflow: hidden;">
                                    <!-- <div style="height: 220px"> -->
                                        <amchart ng-model="gaugeOptions" width="100%"></amchart>
                                    <!-- </div> -->
                                </div>
                                <div class="row" style="text-align: center;">Actual vs Target</div>
                            </div>
                            <div class="col-md-4" style="padding-top: 80px; text-align: center;">
                                <b style="font-size: 200%;color:coral" >{{data8}}</b> <b style="font-size: 200%;color:coral">DAYS</b>
                                <br><b style="font-size: 150%"> Left till End of Month </b>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>