<style>
    .amcharts-chart-div a {display:none !important;}
    .chartWrapper{
        /* width: 90%; */
        margin: auto;
        position: relative;
        /* padding-bottom: 50%; */
    }
    .chartnya{
            height:200px;
    }
    .chartnya .subchart{
        height:200px;
    }
</style>
<div ng-controller="ProgressToTargetSaGR" class="row">
    <article class="col-lg-12">
        <div id="widget-progress-to-target" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
            <header style="background-color:#6e6e6e;color:aliceblue">
                <span class="widget-icon"><i class="fa fa-line-chart"></i></span>
                <h2><strong>Your Progress To Target</strong></h2>
            </header>
            <div class="widget-body" style="color:#000;">
                <div class="row chartWrapper">
                    <div class="col-md-12" style="margin: auto; text-align: center;">
                        <div class="col-lg-4 chartnya">
                            <div class="row subchart">
                                <!-- <div style="height: 220px"> -->
                                    <amchart ng-model="gaugeOptions1" width="100%"></amchart>
                                <!-- </div> -->
                            </div>
                            <div class="row" style="text-align: center;font-weight: bolder;font-size:1.1em;color:#808080;">Unit Entry vs Target</div>
                        </div>
                        <div class="col-lg-4" style="padding-top: 50px;margin-top:3%;">
                            <div class="row">
                                <div class="col-md-3" style="text-align: right;">
                                    <b>Unit(In)/Delivery(Out)</b>
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-5" style="text-align: right;">
                                    <b>Revenue</b>
                                </div>
                            </div>
                            <div class="row" style="border-radius: 15px; border: solid 1px #555; font-size: 120%">
                                <div class="col-md-3" style="text-align: left;">
                                    <b style="color: coral;">{{data4.toLocaleString()}}/{{data3.toLocaleString()}}</b><br><br><b style="color: lightgreen;">{{data2.toLocaleString()}}/{{data1.toLocaleString()}}</b>
                                </div>
                                <div class="col-md-5" style="text-align: center;">
                                    <b>Today<br><br>Yesterday</b>
                                </div>
                                <div class="col-md-4" style="text-align: right;">
                                    <b style="color: coral;">{{data8.toLocaleString()}}</b><br><br><b style="color: lightgreen;">{{data9.toLocaleString()}}</b>
                                </div>
                            </div>
                            <div class="row" style="text-align: center;">
                                <b style="font-size: 200%;color:coral" >{{data6.toLocaleString()}}</b> <b style="font-size: 200%;color:coral">DAYS</b>
                                <br><b style="font-size: 150%"> Left till End of Month </b>
                                <!-- <b style="font-size: 150%">{{daysLeft}}</b><br>
                                <b>Left till End of Month</b> -->
                            </div>
                        </div>
                        <div class="col-lg-4 chartnya">
                            <div class="row subchart">
                                <!-- <div style="height: 220px"> -->
                                    <amchart ng-model="gaugeOptions2" width="100%"></amchart>
                                <!-- </div> -->
                            </div>
                            <div class="row" style="text-align: center;font-weight: bolder;font-size:1.1em;color:#808080;">Revenue vs Target</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
