<style>
.amcharts-chart-div a {display:none !important;}
</style>

<div ng-controller="ProgressToTargetGR" class="row">
            <article class="col-lg-12">
                <div id="widget-progress-to-target" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-line-chart"></i></span>
                        <h2><strong>Workshop Progress To Target</strong></h2>
                    </header>
                    <div class="widget-body" style="height: 300px; overflow: hidden;"> 
                        <div class="col-md-4 col-lg-4" style="height: 300px; padding: 0px;">
                            <div class="row" style="text-align: center; font-weight: bolder; font-size: 1.1em;">Unit CPUS vs Target</div>
                            <div class="row" style="height: 200px; overflow: hidden;">
                                <amchart ng-model="gaugeOptions1" width="100%"></amchart>
                            </div>
                            <div class="row" style="background-color: #4e4d4d; border-radius: 20px; color: white; margin-left: 10%; width: 80%; padding: 10px;">
                                <div class="col-md-6" style="text-align: center;border-right:1px solid #fff;">
                                    Unit Entry<br>
                                    {{data1+data2}}
                                </div>
                                <div class="col-md-6" style="text-align: center;">
                                    Unit Non CPUS<br>
                                    {{data2}}
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-lg-4" style="padding-top: 50px">
                            <div class="row">
                                <div class="col-sm-4" style="text-align: left;">
                                    <b>Unit CPUS</b>
                                </div>
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-5" style="text-align: right;">
                                    <b>Revenue CPUS</b>
                                </div>
                            </div>
                            <div class="row" style="border-radius: 10px; border: solid 1px #555; font-size: 120%">
                                <div class="col-md-3" style="text-align: right;">
                                    <b style="color: coral;">{{data5.toLocaleString()}}</b><br><b style="color: greenyellow;">{{data6.toLocaleString()}}</b>
                                </div>
                                <div class="col-md-4" style="text-align: center;">
                                    <b>Yesterday<br>Today</b>
                                </div>
                                <div class="col-md-5" style="text-align: right;">
                                    <b style="color: coral;">{{data7.toLocaleString()}}</b><br><b style="color: greenyellow;">{{data8.toLocaleString()}}</b>
                                </div>
                            </div>
                            <div class="row" style="text-align: center;">
                                <b style="font-size: 150%;color: coral;">{{data9}} Days</b><br>
                                <b>Left till End of Month</b>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4" style="height: 300px; padding: 0px">
                            <div class="row" style="text-align: center; font-weight: bolder; font-size: 1.1em;">Revenue CPUS vs Target</div>
                            <div style="height: 200px; overflow: hidden;">
                                <!-- <div style="height: 320px"> -->
                                    <amchart ng-model="gaugeOptions2" width="100%"></amchart>
                                <!-- </div> -->
                            </div>
                            <div class="row" style="background-color: #4e4d4d; border-radius: 20px; color: white; margin-left: 5%; width: 90%; padding: 10px;">
                                <div class="col-md-6" style="text-align: center; border-right:1px solid #fff;">
                                    Revenue Amount<br>
                                    {{(data3+data4).toLocaleString()}}
                                </div>
                                <div class="col-md-6" style="text-align: center;">
                                    Amount Non CPUS<br>
                                    {{data4.toLocaleString()}}                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>