        <div ng-controller="DashboardProspectMonitoringModel">
            <article class="col-sm-6 col-md-6 col-lg-5">
                <div class="row">
                    <div id="widget-appointment" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <h2><strong>Prospect Monitoring {{ProspectMonitoringNamaModel}}</strong></h2>
                        </header>
                        <div class="widget-body">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="row" style="text-align: center">
										<div id="chartdivProspectWithLabel1_2"></div>
									</div>
									<div class="row" style="text-align: center" class="color1">
										
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="row" style="text-align: center">
										<div id="chartdivProspectWithLabel2_2"></div>
									</div>
									<div class="row" style="text-align: center" class="color1">
										
									</div>
								</div>
								
								
							
                        </div>
                    </div>
                </div>
            </article>
        </div>