<script type="text/javascript">

</script>
<style type="text/css">

</style>

<div class="layout_top">
    <div class="pull-right">
        <div class="btn-group" style="margin-top:-50px;margin-right:-5px;" ng-show="datastate=='view'">
            <button class="ubtn" ng-click="actRefresh()" onclick="this.blur();" 
                tooltip-placement="bottom" tooltip-trigger="mouseenter focus" tooltip-animation="false" uib-tooltip="Refresh">
                <i class="fa fa-fw fa-refresh" style="font-size:1.4em;"></i>
            </button>
            <button class="rbtn btn" ng-click="doAction(2)" ng-show="allowNew">
                <i class="fa fa-fw fa-plus"> </i>&nbsp;Konfigurasi Hari Kerja
            </button>
        </div>
        <div class="btn-group" style="margin-top:-50px;margin-right:-5px;" ng-show="datastate!='view'">
            <button type="button" class="wbtn btn" ng-click="doAction(1)" style="margin-right:3px;">Batal
            </button>
            <button type="button" class="rbtn btn" onclick="this.blur()" ng-click="actSave()"
                ladda="savingState" data-style="expand-left">
                <i class="fa fa-fw fa-check"></i>&nbsp;Simpan
            </button>
        </div>
    </div>
</div>
<br>
<div class="calendar" ng-if="datastate=='view'" 
	ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar">
</div>

<div ng-form name="CalendarForm" >
	<div class="row" ng-if="datastate!='view'">
	    <div class="col-md-6">
	       	<div class="col-md-12">
		        <div class="form-group" show-errors>
		            <bsreqlabel>Tipe Hari</bsreqlabel>
		            <bsradiobox options="dayOption"
	                        ng-model="dayType"
	            			ng-change="dayTypeChange()"
	                        layout="V">
	    	        </bsradiobox>
		            <bserrmsg field="StartDate"></bserrmsg>
		        </div>
		    </div>
	       	<div class="col-md-6">
		        <div class="form-group" show-errors>
		            <bsreqlabel>Tanggal Mulai</bsreqlabel>
		            <bsdatepicker
		                    name="CalDate"
		                    ng-model="mCalendar.CalDate"
		                    date-options="startDateOptions"
	                        ng-change="startDateChange(dt)"
		            >
		            </bsdatepicker>
		            <bserrmsg field="StartDate"></bserrmsg>
		        </div>
		    </div>
		   	<div class="col-md-6">
		        <div class="form-group" show-errors>
		            <bsreqlabel>Tanggal Selesai</bsreqlabel>
		            <bsdatepicker
		                    name="EndDate"
		                    ng-model="mCalendar.EndDate"
		                    date-options="endDateOptions"
	                        ng-change="endDateChange(dt)"
		            >
		            </bsdatepicker>
		            <bserrmsg field="EndDate"></bserrmsg>
		        </div>
		    </div>
	       	<div class="col-md-12">
		        <div class="form-group" show-errors>
		            <bsreqlabel>Shift Kerja</bsreqlabel>
					<bscheckbox ng-repeat="shift in shifts"
						ng-model = "activeShift[$index]"
						label="{{shift.Name}}"
						true-value= "1"
						false-value= "0">
					</bscheckbox>
		            <bserrmsg field="ShiftByte"></bserrmsg>
		        </div>

		        <div class="form-group" show-errors>
		            <bsreqlabel>Keterangan</bsreqlabel>
		            <div class="input-icon-right">
		                <i class="fa fa-pencil"></i>
		                <input type="text" class="form-control" name="Description" placeholder="Keterangan" ng-model="mCalendar.Description">
		            </div>
		            <bserrmsg field="Description"></bserrmsg>
		        </div>
		        <div class="form-group" show-errors>
		            <bsreqlabel>Perulangan</bsreqlabel>
		            <bsselect name="Iteration"
		                    ng-model="mCalendar.Iteration"
		                    data="iterationData"
		                    item-text="Name"
		                    item-value="Id"
		                    placeholder="Pilih Perulangan"
		                    icon="fa fa-pencil">
		            </bsselect>
		            <bserrmsg field="Iteration"></bserrmsg>
		        </div>
		    </div>
	    </div>
	    <div class="col-md-6">
	    </div>

	</div>
</div>

