<bsform-base ng-form="ReportProductivityForm" loading="loading" show-advsearch="on" form-api="formApi" linksref="app.queueCategory" linkview="queueCategory@app" form-name="ReportProductivityFormBPHO" form-title="ReportProductivityFormBPHO" icon="fa fa-fw fa-child">
    <bsform-advsearch>
      <div class="row" style="margin-right:0px;">
              <div class="col-md-4">
                   <div class="form-group" show-errors>
                      <label>TAM Area </label>
                      <bsselect ng-disabled="DisabledTAM()" ng-model="filter.tamarea" 
                                name="tamarea" 
                                data="dataAreaTAM" 
                                item-text="areaName" 
                                item-value="areaId" 
                                on-select="areaId(selected)" 
                                placeholder="Select TAM Area" required>
                      </bsselect>
                      <bserrmsg field="tamarea"> harus diisi </bserrmsg>
                  </div>
                  <div class="form-group" show-errors>
                      <label>Cabang </label>
                      <bsselect ng-model="filter.CabangHO" 
                                name="cabangHO" 
                                data="dataCabangHO" 
                                item-text="cabangName" 
                                item-value="cabangID" 
                                on-select="cabangID(selected)" 
                                placeholder="Select Cabang" required>
                      </bsselect>
                      <bserrmsg field="cabang"> harus diisi </bserrmsg>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Dealer</label>
                      <bsselect ng-disabled="DisabledTAM()"
                                ng-model="filter.Dealer" 
                                name="dealer" 
                                data="dataDealer" 
                                item-text="dealerName" 
                                item-value="dealerCode" 
                                on-select="dealerCode(selected)" 
                                placeholder="Select Dealer" required>
                      </bsselect>
                      <bserrmsg field="dealer"> harus diisi </bserrmsg>
                  </div>
                   <div class="form-group" show-errors>
                      <label>Satellite</label>
                      <bsselect ng-model="filter.satellite" 
                                name="Satellite" 
                                data="dataSatellite" 
                                item-text="satelliteName" 
                                item-value="satelliteID" 
                                on-select="satelliteID(selected)" 
                                placeholder="Select Satellite" required>
                      </bsselect>
                      <bserrmsg field="Satellite"> harus diisi </bserrmsg>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="form-group" show-errors>
                      <label>Group Dealer Area</label>
                      <bsselect ng-disabled="DisabledDealer()" ng-model="filter.dealerarea" 
                                name="dealerarea" 
                                data="dataAreaDealerHO" 
                                item-text="areaName" 
                                item-value="areaId" 
                                on-select="areaId(selected)" 
                                placeholder="Select Dealer Area" required>
                      </bsselect>
                      <bserrmsg field="dealerarea"> harus diisi </bserrmsg>
                  </div>
                  <div class="form-group" show-errors>
                      <label>Kategori Workshop</label>
                      <input type="text" class="form-control" ng-model="filter.kategori" name="kategoriWorkshop" placeholder="Kategori Workshop" disabled required>
                       <bserrmsg field="kategoriWorkshop"> harus diisi </bserrmsg>
                  </div>
              </div>
            </div>
            <div class="row" style="margin-right:0px;">
                <div class="col-md-3">
                  <div class="form-group" show-errors>
                      <bsreqlabel>Periode</bsreqlabel>
                      <bsdatepicker
                      name="dateStart"
                      date-options="dateOptions"
                      ng-model="filter.DateStart"
                      >
                      </bsdatepicker>
                      <bserrmsg field="dateStart"> harus diisi </bserrmsg>
                  </div>
                </div>
                <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
                <div class="col-md-3" style="margin-top:5px;">
                  <div class="form-group" show-errors>
                      <label></label>
                       <bsdatepicker
                      name="dateEnd"
                      date-options="dateOptions"
                      ng-model="filter.DateEnd"
                      >
                      </bsdatepicker>
                      <bserrmsg field="dateEnd"> harus diisi </bserrmsg>
                  </div>
                </div> 
                <div class="col-md-1"></div>
                <div class="col-md-4">
                </div>
            </div>
<!--           <div class="form-group pull-right"><button type="button" class="btn btn-danger btn_report" ng-click="getSummaryHO()">Filter</button></div> -->
        <br><br>
            </bsform-advsearch>

    <bsform-base-main>
      <div ng-include="'app/services/report/BP/reportProductivity/tempSummary.html'"></div>
    </bsform-base-main>

</bsform-base>