<div class="panel panel-default">
            <div class="panel-heading">SUMMARY</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">By Unit</div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Workshop Stall Capacity</div>
                                            <div class="panel-body">
                                                <div class="row" style="">
                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px; margin-bottom: 24.65px;">
                                                        <label>Stall Efektif</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="stallEfektif" ng-model="stallEfektif" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;
                                    margin-bottom: 24.65px;">
                                                        <label>Target Unit Seluruh Stall</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="targetUnitSeluruhStall" ng-model="targetUnitSeluruhStall" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;
                                    margin-bottom: 24.65px;">
                                                        <label>Unit Entry Seluruh Stall</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="unitEntrySeluruhStall" ng-model="unitEntrySeluruhStall" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -80px;
                                    margin-bottom: 24.65px;">
                                                        <label>Pencapaian Target Stall Workshop</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="pencapaianTargetStallWorkshop" ng-model="pencapaianTargetStallWorkshop" style="width: 45%;"> %
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">EM</div>
                                            <div class="panel-body">
                                                <div class="row" style="">
                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;">
                                                        <label>Stall EM Efektif</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="stallEMEfektif" ng-model="stallEMEfektif" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;">
                                                        <label>Target Unit per Stall EM</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="targetUnitperStallEM" ng-model="targetUnitperStallEM" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;">
                                                        <label>Target Unit Seluruh Stall EM</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="targetUnitSeluruhStallEM" ng-model="targetUnitSeluruhStallEM" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;">
                                                        <label>Unit Entry EM</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="unitEntryEM" ng-model="unitEntryEM" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;">
                                                        <bsreqlabel>Repair Unit per Stall (RPS) EM</bsreqlabel>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="repairUnitperStallEM" ng-model="repairUnitperStallEM" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -80px;">
                                                        <label>Pencapaian Target Stall EM</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="pencapaianTargetStallEM" ng-model="pencapaianTargetStallEM" style="width: 45%;"> %
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">SB/GR</div>
                                            <div class="panel-body">
                                                <div class="row" style="">
                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;">
                                                        <label>Stall SB/GR Efektif</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="stallSBGREfektif" ng-model="stallSBGREfektif" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;">
                                                        <label>Target Unit per Stall SB/GR</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="targetUnitperStallSBGR" ng-model="targetUnitperStallSBGR" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;">
                                                        <label>Target Unit Seluruh Stall SB/GR</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="targetUnitSeluruhStallSBGR" ng-model="targetUnitSeluruhStallSBGR" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;">
                                                        <label>Unit Entry Stall SB/GR</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="unitEntryStallSBGR" ng-model="unitEntryStallSBGR" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;">
                                                        <bsreqlabel>Repair Unit per Stall (RPS) SB/GR</bsreqlabel>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="repairUnitperStallSBGR" ng-model="repairUnitperStallSBGR" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -80px;">
                                                        <label>Pencapaian Target Stall SB/GR</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="pencapaianTargetStallSBGR" ng-model="pencapaianTargetStallSBGR" style="width: 45%;"> %
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">By Hour</div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Work Shop Stall Capacity</div>
                                            <div class="panel-body">
                                                <div class="row" style="">
                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;">
                                                        <bsreqlabel>Hari Kerja</bsreqlabel>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="HariKerja" ng-model="HariKerja" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;">
                                                        <bsreqlabel>Jam Tersedia Seluruh Stall</bsreqlabel>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="JamTersediaSeluruhStall" ng-model="JamTersediaSeluruhStall" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;">
                                                        <label>Target Jam Seluruh Stall</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="TargetJamSeluruhStall" ng-model="TargetJamSeluruhStall" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;">
                                                        <label>Jam Aktual Seluruh Stall</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="JamAktualSeluruhStall" ng-model="JamAktualSeluruhStall" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -80px;">
                                                        <label>Pencapaian Target Stall Workshop</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="PencapaianTargetStallWorkshop" ng-model="PencapaianTargetStallWorkshop" style="width: 45%;"> %
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">EM</div>
                                            <div class="panel-body">
                                                <div class="row" style="">
                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px; margin-bottom: 22.71px;">
                                                        <bsreqlabel>Jam Tersedia Stall EM</bsreqlabel>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="JamTersediaStallEM" ng-model="JamTersediaStallEM" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;
                                    margin-bottom: 22.71px;">
                                                        <label>Target Jam per Stall EM</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="TargetJamperStallEM" ng-model="TargetJamperStallEM" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;
                                    margin-bottom: 22.71px;">
                                                        <label>Target Jam Seluruh Stall EM</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="TargetJamSeluruhStallEM" ng-model="TargetJamSeluruhStallEM" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;
                                    margin-bottom: 22.71px;">
                                                        <label>Jam Aktual Stall EM</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="JamAktualStallEM" ng-model="JamAktualStallEM" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -80px;
                                    margin-bottom: 22.71px;">
                                                        <label>Pencapaian Target EM</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="PencapaianTargetEM" ng-model="PencapaianTargetEM" style="width: 45%;"> %
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">SB/GR</div>
                                            <div class="panel-body">
                                                <div class="row" style="">
                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px; margin-bottom: 22.71px;">
                                                        <bsreqlabel>Jam Tersedia Stall SB/GR</bsreqlabel>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="JamTersediaStallSBGR" ng-model="JamTersediaStallSBGR" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;
                                    margin-bottom: 22.71px;">
                                                        <label>Target Jam per Stall SB/GR</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="TargetJamperStallSBGR" ng-model="TargetJamperStallSBGR" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;
                                    margin-bottom: 22.71px;">
                                                        <label>Target Jam Seluruh Stall SB/GR</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="TargetJamSeluruhStallSBGR" ng-model="TargetJamSeluruhStallSBGR" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -65px;
                                    margin-bottom: 22.71px;">
                                                        <label>Jam Aktual Stall SB/GR</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="JamAktualStallSBGR" ng-model="JamAktualStallSBGR" style="width: 50%;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-inline" style="padding-left: 25px; margin-right: -80px;
                                    margin-bottom: 22.71px;">
                                                        <label>Pencapaian Target Stall SB/GR</label>
                                                        <div class="pull-right">
                                                            <input  disabled type="text" class="form-control" name="PencapaianTargetStallSBGR" ng-model="PencapaianTargetStallSBGR" style="width: 45%;"> %
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group pull-right">
            <!-- <button type="button" class="wbtn btn" hidden="hidden"> Batal </button> -->
            <button ng-if="role=='Branch'" type="button" ng-click="getReportCabang()" class="rbtn btn"> Export Detail </button>
            <button ng-if="role=='HO'" type="button" ng-click="getReportHO()" class="rbtn btn"> Export Detail </button>
        </div>
