<bsform-base ng-form="ReportProductivityStallForm" loading="loading" show-advsearch="on" form-api="formApi" linksref="app.queueCategory" linkview="queueCategory@app" form-name="ReportProductivityStallFormGRHO" form-title="ReportProductivityStallFormGRHO" icon="fa fa-fw fa-child">

    <bsform-advsearch>
        <div class="row" style="margin-right:0px;">
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <label>TAM Area</label>
            <bsselect ng-disabled="DisabledTAM()" ng-model="filter.tamArea" name="tamArea" data="dataAreaTAM" item-text="areaName" item-value="areaId" on-select="areaId(selected)" placeholder="Select TAM Area" required>
              </bsselect>
        </div>
         <div class="form-group" show-errors>
                      <label>Cabang </label>
                      <!-- <bsselect ng-model="filter.Cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)"  name="cabang"  placeholder="Select Cabang" required>
                      </bsselect> -->
                      <bsselect 
                      ng-model="filter.CabangHO" 
                      name="cabangHO" 
                      data="dataCabangHO" 
                      item-text="cabangName" 
                      item-value="cabangID" 
                      on-select="cabangID(selected)" 
                      placeholder="Select Cabang" required >
                      </bsselect>
                      <bserrmsg field="cabang"> harus diisi </bserrmsg>
                  </div>      
    </div>
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <label>Group Dealer</label>
            <bsselect ng-disabled="DisabledTAM()"
                    ng-model="filter.Dealer"
                    name="groupDealer"
                    data="dataDealer"
                    item-text="dealerName"
                    item-value="dealerCode"
                    on-select="dealerCode(selected)"
                    placeholder="Select Group Dealer" required
            >
            </bsselect>
            <bserrmsg field="groupDealer"> harus diisi </bserrmsg>
        </div>
    </div>
    <div class="col-md-4">
         <div class="form-group" show-errors>
                      <label>Group Dealer Area </label>
                      <bsselect ng-disabled="DisabledDealer()" 
                      ng-model="filter.dealerarea" 
                      name="dealerarea" 
                      data="dataAreaDealerHO" 
                      item-text="areaName" 
                      item-value="areaId" 
                      on-select="areaId(selected)" 
                      placeholder="Select Dealer Area" required>
                      </bsselect>
                      <bserrmsg field="DealerArea"> harus diisi </bserrmsg>
                  </div>
    
                  

      

        <div class="form-group" show-errors>
            <label>Kategori Workshop</label>
            <input type="text" class="form-control" ng-model="filter.kategori" name="kategoriWorkshop" disabled required>
            <bserrmsg field="kategoriWorkshop"> harus diisi </bserrmsg>
        </div>
    </div>
</div>
<div class="row" style="margin-right:0px;" ng-form="stallForm">
    <div class="col-md-3">
        <div class="form-group" show-errors>
            <bsreqlabel>Periode</bsreqlabel>
            <bsdatepicker
                name="dateStart"
                date-options="dateOptions"
                ng-model="filter.DateStart" required
            >
            </bsdatepicker>
            <em ng-messages="stallForm.dateStart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="date">Can not fill letters</p>
                <p ng-message="minlength">Jumlah karakter kurang</p>
                <p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
            </em>
        </div>
    </div>
    
    <!-- <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
    <div class="col-md-3" style="margin-top:5px;">
        <div class="form-group" show-errors>
            <label></label>
            <bsdatepicker
                name="dateEnd"
                        date-options="dateOptions"
                        ng-model="filter.DateEnd" required
            >
            </bsdatepicker>
            <em ng-messages="stallForm.dateEnd.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="date">Can not fill letters</p>
                <p ng-message="minlength">Jumlah karakter kurang</p>
                <p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
            </em>
        </div>
    </div> -->
</div>
<!-- <div class="form-group pull-right"><button type="button" ng-click="getSummaryHO()" class="rbtn btn"> Filter </button></div></div> -->

<br><br>
<div class="row">
    <div class="col-md-12" >
        <div class="form-group" show-errors style="margin-bottom: -10px;">
            <label style="font-size:12px" ><i><bsreqlabel></bsreqlabel>Jika pemilihan Cabang dipilih <b>ALL</b> maka data yang ditampilkan adalah <b>rata-rata</b> seluruh Cabang</i></label>
        </div>
    </div>
</div>
    </bsform-advsearch>

    <bsform-base-main>
        <div ng-include="'app/services/report/GR/reportProductivityStall/tempSummary.html'"></div>
    </bsform-base-main>

</bsform-base>
