<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="AreaRestrictionForm"
        factory-name="AreaRestrictionFactory"
        model="mAreaRestriction"
        model-id="AreaRuleRestrictionId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="AreaRestrictionForm"
        form-title="AreaRestriction"
        modal-title="Area Restriction"
        modal-size="small"
        icon="fa fa-fw fa-child"
        
        on-show-detail="onShowDetail"
        >

        <div class="row">
         <div class="col-md-6">

			
			
			<div class="form-group" show-errors>
				<bslabel>Area</bslabel>
				<bsselect name="Area" ng-model="mAreaRestriction.AreaId" data="optionsArea" item-text="AreaName" item-value="AreaId" on-select="value(selected)" placeholder="Select Area" icon="fa fa-search" ng-required="mAreaRestriction.ProvinceId == undefined || mAreaRestriction.ProvinceId == null">
				</bsselect>
			</div>
			<bserrmsg field="Area"></bserrmsg>
			
			<div class="form-group" show-errors>
				<bslabel>Provinsi</bslabel>
                <bsselect name="Provinsi" ng-model="mAreaRestriction.ProvinceId" data="province" item-text="ProvinceName" item-value="ProvinceId" on-select="filterKabupaten(mAreaRestriction.ProvinceId)" placeholder="Select" icon="fa fa-search" ng-required="mAreaRestriction.AreaId == undefined || mAreaRestriction.AreaId == null">
                </bsselect>
                <bserrmsg field="Provinsi"></bserrmsg>
            </div>
			
			<div class="form-group" show-errors>
                <bslabel>Kabupaten/Kota</bslabel>
				<bsselect name="KabupatenKota" ng-model="mAreaRestriction.CityRegencyId" data="kabupaten" item-text="CityRegencyName" item-value="CityRegencyId" on-select="filterKecamatan(mAreaRestriction.CityRegencyId)" placeholder="Select" icon="fa fa-search">
                </bsselect>
                <bserrmsg field="KabupatenKota"></bserrmsg>
            </div>
			
			<div class="form-group" show-errors>
                <bslabel>Kecamatan</bslabel>
				<bsselect name="Kecamatan" ng-model="mAreaRestriction.DistrictId" data="kecamatan" item-text="DistrictName" item-value="DistrictId" placeholder="Select" icon="fa fa-search">
                </bsselect>
                <bserrmsg field="Kecamatan"></bserrmsg>
            </div>
            
            <div class="form-group" show-errors>
				<bslabel>SPKRestriction</bslabel>
				<bsselect name="SPKRestrictionId" ng-model="mAreaRestriction.SPKRestrictionId" data="optionsRegionLevelRestriction" item-text="AreaRestrictionName" item-value="AreaRestrictionId" placeholder="Select SPK Restriction" icon="fa fa-search">
				</bsselect>
			</div>
			<bserrmsg field="SPKRestrictionId"></bserrmsg>
			
			<div class="form-group" show-errors>
				<bslabel>SwappingRestrictionId</bslabel>
				<bsselect name="SwappingRestrictionId" ng-model="mAreaRestriction.SwappingRestrictionId" data="optionsRegionLevelRestriction" item-text="AreaRestrictionName" item-value="AreaRestrictionId" placeholder="Select Swapping Restriction" icon="fa fa-search">
				</bsselect>
			</div>
			<bserrmsg field="SwappingRestrictionId"></bserrmsg>
          </div>
        </div>
</bsform-grid-tree>
