

<script type="text/javascript">
    function deleteTagModal(){ 
      $('#deleteTag').modal({
          blurring: true/*,
          onDeny    : function(){
            window.alert('Wait not yet!');
            //return false;
          },
          onApprove : function() {
            window.alert('Approved!');
          }*/
        }).modal('show');
    }
</script>

<style type="text/css">
.ui-splitbar{
  background-color: #e3e3e3;
}

 tr:hover{
    background-color: #00aeef;
    color: white;
    cursor: pointer;
  }

  .selectedRecord{
    background-color: #00aeef;
    color: white;
    /*font-weight: bold;*/
  }

</style>
<div class="ui grid">
    <ui-layout options="{flow:'column', dividerSize:2}" style="top:85px;">
        <div ui-layout-container min-size="0%" max-size="50%" size="10%">
            
        </div>
        <div ui-layout-container min-size="10%" max-size="100%" size="90%">
            <div class="eight wide column">
                <div style="padding: 0.5em;">
                    <div class="ui fluid card">

                        <div class="content" style="background-color: whitesmoke;">
                             <div class="right floated meta">
                                <div class="ui small blue basic icon buttons right floated">
                                    
                                    <button class="ui button" tooltips tooltip-content="New " tooltip-side="bottom" tooltip-lazy="false" tooltip-speed="fast" tooltip-size="small" tooltip-hide-trigger="click mouseleave" onclick="addEditTag()" ng-click="doAddNew()">
                                        <i class="add square icon"></i>
                                    </button>
                                    <button class="ui button" tooltips tooltip-content="Edit" tooltip-side="bottom" tooltip-lazy="false" tooltip-speed="fast" tooltip-size="small" tooltip-hide-trigger="click mouseleave" ng-click="doEdit()">
                                        <i class="edit icon"></i>
                                    </button>   
                                    <button class="ui button" tooltips tooltip-content="Delete" tooltip-side="bottom" tooltip-lazy="false" tooltip-speed="fast" tooltip-size="small" tooltip-hide-trigger="click mouseleave" onclick="deleteTagModal()">
                                        <i class="remove icon"></i>
                                    </button>                                   
                                </div>
                            </div>
                            <div class="header">
                                <div class="ui transparent left input">
                                    Job Function
                                </div>
                            </div>

                            <div class="meta">                                        
                                <div class="ui transparent left input" style="min-width: 320px;">
                                    You can add or delete Job Function in organization 
                                </div>
                            </div>
                            <div class="ui raised segment" >
                                 <!-- stat table tag  -->
                                 <table class="ui celled table">
                                      <thead>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Description</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat="tag in allTag" ng-class="{'selectedRecord':tag == selectedRow}" ng-click="selectRow(tag)">
                                          <td>{{tag.title}}</td>
                                          <td>{{tag.description}}</td>
                                        </tr>
                                      </tbody>
                                      <tfoot>
                                        <tr>
                                        <th colspan="2">
                                          <div class="ui right floated pagination menu">
                                            <a class="icon item">
                                              <i class="left chevron icon"></i>
                                            </a>
                                            <a class="item">1</a>
                                            <a class="item">2</a>
                                            <a class="item">3</a>
                                            <a class="item">4</a>
                                            <a class="icon item">
                                              <i class="right chevron icon"></i>
                                            </a>
                                          </div>
                                        </th>
                                      </tr></tfoot>
                                    </table>
                                    <!-- end table tag -->
                                    <!-- modal -->
                                     <div id="deleteTag" class="ui small modal transition">
                                        <div class="header">Delete Job Function</div>
                                        <div class="content">
                                            <p>Delete Job Function ( {{selectedRow.title}} ). Are you sure?</p>
                                        </div>
                                        <div class="actions">                        
                                            <div class="ui positive right labeled icon button" ng-click="doDelete()">Yes
                                                <i class="checkmark icon"></i>
                                            </div>
                                            <div class="ui negative button">No</div>
                                        </div>
                                    </div>
                                    <div id="addEditTag" class="ui small modal transition">
                                        <div class="header">Job Function</div>
                                        <div class="content">
                                            <form class="ui form" name="myForm">
                                                <div class="field">
                                                    <input type="text" name="title" placeholder="New Job Function" ng-model="newJob.title" required>
                                                    <span style="color:red" ng-show="myForm.title.$dirty && myForm.title.$invalid">
                                                      <span ng-show="myForm.title.$error.required">Title is required.</span>
                                                    </span>
                                                </div>
                                                <div class="field">
                                                    <input type="text" name="desc" placeholder="Description" ng-model="newJob.description" required>
                                                    <span style="color:red" ng-show="myForm.desc.$dirty && myForm.desc.$invalid">
                                                      <span ng-show="myForm.desc.$error.required">Description is required.</span>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="actions">                        
                                            <div class="ui positive right labeled icon basic button" ng-show="myForm.title.$valid" ng-click="doSave()">{{btnText}}
                                                <i class="checkmark icon"></i>
                                            </div>
                                            <div class="ui negative button">Cancel</div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
        
    </ui-layout>
</div>

