<!--
	Catatan Flow
	1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
<script type="text/javascript" src="../../app/_dependencies/print_min.js"></script>
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

.grid {
  /*width: 500px;*/
  height: 185px;
}
</style>
<!--<div class="row" style="background-color: lightcoral"><h1>Mode View</h1></div>-->
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Referensi Disposal *</label>
            <!--<select class="form-control" disabled>
                <option value="Parts Claim">Parts Claim</option>
            </select>-->
            <select class="form-control"                     
                    ng-model="mData.RefSDTypeId"                    
                    ng-options="r.id as r.name for r in dataTipeReferensi"
                    ng-disabled="true" >
            </select>
            
        </div> 
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">No. Parts Claim DMS *</label>
            <div class="input-icon-right">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" ng-model="mData.RefSDNo" readonly>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Tipe Material *</label>
            <div>
                <input type="text" class="form-control" ng-model="mData.Description" disabled>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Alasan *</label>
            <!--<select class="form-control" disabled>
                <option>Barang Rusak</option>
                <option>Scrapt</option>
                <option>Lainnya</option>
            </select>-->
            <select class="form-control"                     
                    ng-model="mData.StockDisposalReasonId"                    
                    ng-options="a.id as a.name for a in dataJenisAlasan"                    
                    ng-disabled="true" >
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">No. Disposal</label>
            <div>
                <input type="text" class="form-control" ng-model="mData.StockDisposalNo" readonly>
            </div>
        </div> 
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Tanggal Disposal</label>
            <div class="tanggal">
                  <bsdatepicker
                  name="DocDate"
                  date-options="dateOptions"
                  ng-model="mData.DocDate"
                  >
                  </bsdatepicker>
            </div>      
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Status</label>
            <!--<div>
                <input type="text" class="form-control" placeholder="Status" value="Completed" readonly>
            </div>-->
            <select class="form-control"                     
                    ng-model="mData.StockDisposalStatusId"                    
                    ng-options="s.id as s.name for s in dataStatus"                    
                    ng-disabled="true" >
            </select>
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="3" ng-model="mData.Notes" readonly></textarea>
        </div>
    </div>
</div>

<!--grid-->
<div class="row">
    <div class="col-md-12">
    <div>
        <div ui-grid="gridOptions_view" class="grid" ui-grid-auto-resize ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-pagination></div>
    </div>
    </div>
</div>
<br>

<!--tombol bawah-->
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button class="wbtn btn" ng-click="printBAG(mData.StockDisposalId)" skip-disable><i class="fa fa-print" aria-hidden="true"></i>&nbsp;&nbsp;Cetak BAG</button>
        </div>
    </div>
    <!-- <div class="col-md-3">
        <div class="pull-right">
            <button type="button" class="wbtn btn">Kembali</button>
        </div>
    </div> -->
</div>
