<!--
	Catatan Flow
	1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

.grid {
  /*width: 500px;*/
  height: 185px;
}
</style>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Referensi Disposal *</label>
            <select class="form-control" disabled>
                <option value="1" selected>Parts Claim</option> 
            </select>
            <!--<select class="form-control" ng-model="mData.RefSDTypeId">
                <option value="1" selected>Parts Claim</option>
            </select> -->
            <!--<select class="form-control" ng-model="mData.RefSDTypeId" disabled required>
                <option selected value="{{mData.RefSDTypeId}}">{{ToNameRefSD(mData.RefSDTypeId)}}</option>
            </select>  -->
        </div> 
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <!-- <div class="form-group">
            <label class="control-label">No. Parts Claim DMS *</label>            
            <div class="input-group">
                <input type="text" ng-model="mData.RefSDNo" class="form-control" required>
                <label class="input-group-btn">
                    <span class="btn wbtn" ng-click="onSearchNoPartsClaimDMS(mData.RefSDNo)">
                        <i class="fa fa-search"></i>
                    </span>
                </label>
            </div>
        </div> -->
        <div class="form-group">
            <bsreqlabel>No. Parts Claim DMS</bsreqlabel>
            <bsselect 
                name="PartsClaimNo" 
                ng-model="mData.RefSDNo"
                data="DataPartsClaim"
                item-text="StockReturnClaimNo"
                item-value="StockReturnClaimNo"
                placeholder="Select Parts Claim Code..." 
                on-select="selectNoPartClaim(selected)" 
                icon="fa fa-search">
            </bsselect> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Tipe Material *</label>
            <!--<select class="form-control" disabled>
                <option selected>Parts</option>
            </select>-->
            <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                <option selected value="{{mData.MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Alasan *</label>
            <select class="form-control" ng-model="mData.StockDisposalReasonId" required>                
                <option value="1">Material Rusak</option>
                <option value="2">Scrap</option>
                <!-- <option value="3">Lainnya</option> -->
            </select>
            <!-- ng-options="alasan.name for alasan in dAlasan" -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label">Notes</label>
            <textarea class="form-control" ng-model="mData.Notes" rows="3"></textarea>
        </div>
    </div>
</div>

<!--<fieldset style="padding-top: 10px"></fieldset>-->
<div class="row">
    <div class="col-md-2">
        <div class="input-group-btn dropdown" uib-dropdown="" style="">
          <button style="margin-right:5px;" type="button" 
            class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" 
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <!-- ngIf: allowDelete -->
            <li>
            <!-- ngIf: selectedRows.length>0 --><a href="#" ng-click="showMe(mData.GridDetail)">Hapus</a>
            <!-- end ngIf: selectedRows.length>0 --></li>
            <!-- end ngIf: allowDelete -->
            <!-- ngIf: allowApprove -->
            <!-- ngIf: allowReject -->
            <!-- ngIf: allowReview -->
            <!-- ngRepeat: customBulk in customBulkFunc -->
          </ul>
        </div>
    </div>
</div>
<br />

<!--grid-->
<div class="row">
    <div class="col-md-12">
    <div>
        <div ui-grid="gridOptions" class="grid" ui-grid-auto-resize ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-pagination></div>
    </div>
    </div>
</div>
<br>

<!--tombol bawah-->
<div class="row">
    <div class="col-md-12">
    <div class="pull-right">
        <!--<button type="button" class="wbtn btn">Kembali</button>-->
        <!--<button class="btn rbtn" ng-click="SimpanData(1, 1, mData)">Simpan</button>-->
        <!-- <button class="btn rbtn" ng-click="simpan(1)">Simpan</button> -->
    </div>
    </div>
</div>

