<div class="panel panel-danger" style="border-color:#D53337;">
    <div class="panel-heading" style="color:white; background-color:#D53337;">
        <h3 class="panel-title">Permohonan Approval</h3>
    </div>

    <div class="panel-body">
        <form method="post">

        <div class="row">
            <div class="col-md-10">
                <p><i>Disposal ini membutuhkan Approval.</i></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">Permohonan</label>
                </div>
            </div>

            <div class="col-md-7">
                <div class="form-group">
                    <label class="control-label">Disposal</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">No. Request</label>
                </div>
            </div>

            <div class="col-md-7">
                <div class="form-group">
                    <label class="control-label">{{ApproveData.StockDisposalNo}}</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">Tgl. dan Jam</label>
                </div>
            </div>

            <div class="col-md-7">
                <div class="form-group">
                    <label class="control-label">{{ApproveData.DocDate | date:'yyyy-MM-dd HH:mm'}}</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">Disetujui Oleh</label>
                </div>
            </div>

            <div class="col-md-7">
                <textarea class="form-control" rows="4" readonly>{{ApproveData.Approvers}}</textarea>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">Keterangan</label>
                </div>
            </div>

            <div class="col-md-7">
                <textarea class="form-control" ng-model="ApproveData.CancelReasonDesc" rows="4">
                    Mohon untuk approve list dari item Disposal berikut. Terima kasih.
                </textarea>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div>
                        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="SimpanApproval(ApproveData)" style="color:white; background-color:#D53337">Kirim Permohonan</button>
                        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Batal</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>'
<!-- <pre>{{ApproveData}}</pre> -->
