<script type="text/javascript">


</script>
<style type="text/css">


</style>


<bsform-grid
        ng-form="SettinganCetakanForm" factory-name="SettinganCetakanFactoryMaster" model="mSettinganCetakan" model-id="PrintSettingId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="SettinganCetakanForm" form-title="SettinganCetakan" modal-title="SettinganCetakan" modal-size="small" icon="fa fa-fw fa-child" form-api="formApi" do-custom-save="doCustomSave" hide-new-button="true" mode="SettinganCetakanDaMode">

        <div class="row">
            <div class="col-md-6">

				
				<div class="form-group" show-errors>
					<bsreqlabel>Cetakan</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input readonly type="text" class="form-control" name="PrintSettingName" placeholder="Cetakan" ng-model="mSettinganCetakan.PrintSettingName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="PrintSettingName"></bserrmsg>
				</div>
            </div>
			<div class="col-md-6">

				
				<div class="form-group" show-errors>
					<bsreqlabel>Tipe Transaksi</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input readonly type="text" class="form-control" name="PrintTransactionTypeName" placeholder="Tipe Transaksi" ng-model="mSettinganCetakan.PrintTransactionTypeName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="PrintTransactionTypeName"></bserrmsg>
				</div>
            </div>
			
			<div class="col-md-12">
			Keterangan
			<hr/>
				<div class="col-md-6">
					<bsreqlabel style="margin-top:10px;">Distribusi</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<textarea onkeypress="if(event.keyCode==13){return false;}" id="SetinganCetakanDistribusiId" maxlength="100" type="text" class="form-control" name="Distribution" placeholder="Distribution" ng-model="mSettinganCetakan.Distribution" rows="5" cols="50" required>
						</textarea>
					</div>
				</div>
				<div class="col-md-6">
				<button style="float: right;margin-top:10px;margin-bottom:10px" ng-click="TambahSettinganCetakanTandaTanganChild()"  type="button" class="rbtn btn ng-binding ladda-button" >
					<span class="ladda-label">
						<!--<i class="fa fa-fw fa-refresh"></i>-->Tambah
					</span><span class="ladda-spinner"></span>
				</button>
				
					<table class="table table-bordered table-responsive">
						<tbody>
							<tr>
								<th>Nama</th>
								<th>Jabatan</th>
							</tr>
							<tr ng-repeat="SettinganCetakanTandaTanganChild in mSettinganCetakan.ListPrintSignature track by $index">
								<td>{{SettinganCetakanTandaTanganChild.EmployeeName}}</td>
								<td>{{SettinganCetakanTandaTanganChild.LastManPowerPositionTypeName}}</td>
								<td ng-hide="SettinganCetakanDaMode=='view'"><a ng-click="RemoveSettinganCetakanTandaTanganChild($index)">Hapus</a></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="col-md-12">
			<bsreqlabel style="margin-top:10px;">Catatan</bsreqlabel>
			<div class="input-icon-right">
				<!-- <i class="fa fa-pencil"></i> -->
				<textarea style="width:738.33px; height:180px; font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace; font-size: 10pt;"
					type="text"
					class="form-control"
					name="Notation"
					maxlength="800"
					placeholder="Notation"
					ng-model="mSettinganCetakan.Notation"
					rows="5" required>
			</div>
			</div>

			<div ng-show="mSettinganCetakan.PrintTransactionTypeName == 'Penagihan Leasing'">
				<div class="col-md-1">
					<div class="form-group">
						<bsreqlabel style="margin-top:20px;">Status</bsreqlabel>
					</div>
				</div>
				<div class="col-md-1" style="float:left;width: 90%;margin-left: -30px;">
					<div class="form-group">
						<input type="checkbox" style="margin-top:20px;" name="Status" ng-true-value=1 ng-false-value=0 ng-model="mSettinganCetakan.ActiveNonActive">
						<label style="margin-left:5px">Aktif/Non Aktif</label>
					</div>
				</div>	
			</div>
        </div>
        
</bsform-grid-tree>


<div style="height:400px" class="ui modal ModalEmployeeBuatSettinganCetakan" role="dialog">
        
            <div class="modal-header">
                <button type="button" ng-click="BatalSettinganCetakanTandaTanganChild()" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nama Karyawan</h4>
            </div>

            <div class="modal-body">
                <!--<div style="display: block" class="grid" ui-grid="gridSettinganCetakanEmployee" ui-grid-auto-resize></div>-->
				<div>
					<p><bsreqlabel>Nama Role</bsreqlabel></p>
					<p><bsselect
						ng-model="Da_ModalSettinganCetakanRoleId" 
						data="optionSettinganCetakanRole" 
						id="SettinganCetakanRoleIdDropDown"
						item-text="LastManPowerPositionTypeName" 
						item-value="LastManPowerPositionTypeId" 
						on-select="Da_ModalSettinganCetakanEmployeeRole_Selected(selected)"
						placeholder=" ">
					</bsselect>
					</p>
				</div>
				<div>
					<p><bsreqlabel>Nama Karyawan</bsreqlabel></p>
					<p><input alpha-numeric mask="Huruf" maxlength="50" id="SettinganCetakanEmployeeNameTxtbx" class="form-control" type='text' ng-model="Da_ModalSettinganCetakanEmployeeName"/></p>
				</div>
				
				<div>
					
				</div>
				
				
				
			</div>
            <div class="modal-footer">
                <!--<button onclick="Lanjut_Clicked()" class="rbtn btn ng-binding ladda-button" style="float: right;">Lanjutkan</button>-->
				<button ng-click="pilihSettignanCetakanEmployee()" class="rbtn btn ng-binding ladda-button" style="float: right;">Tambahkan</button>
                <button ng-click="BatalSettinganCetakanTandaTanganChild()" class="wbtn btn ng-binding ladda-button" style="float: right;">Batal</button>
            </div>
        
    </div>

