<script type="text/javascript">

// $(document).ready(function(){
//    $(".ui-grid-spilt-header-main").css('padding-top', $(".ui-grid-header-table").height());
//  });

</script>

<style type="text/css">
fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}



/* CSS to define autoHeight */
/*.autoHeightUIGrid,
.autoHeightUIGrid .ui-grid-viewport{
  height: auto !important;
}*/


.ui-grid-spilt-header-main{
    padding-top: 30px;  /* added top padding dynamically by Js */
  line-height: 30px;
  text-align: center;
  background: #f6f6f6;
}

.ui-grid-split-merge-header{
  border-left: 2px solid transparent;
  position: absolute;
  background: #f9f9f9;
  text-align: center;
  line-height: 30px;
  z-index: 1;
  top: 0px;
  left:0px;
}
.ui-grid-header-table{
  width:100%;
  padding:0px;
  border:none;
  border-spacing: 0px;
  border-collapse: collapse;
}

.ui-grid-header-table tr td{
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
}
.ui-grid-header-table tr td:last-child{
  border-right:none;
}


/*#1489054158562-uiGrid-0008-header-text*/
/*text-align: center;*/

/*.ui-grid-header-cell-label
{
  line-height:48px !important; 
  vertical-align: middle; 
}*/

.middle {
  vertical-align: middle;
}
.margin-bottom {
    margin-bottom:15px;
}
</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<!-- <div class="container">
<div class="row">
  <div class="col-md-2 col-md-offset-6">
    <button type="button" class="btn btn-sm btn-danger" ng-click="showModal()">Close PO</button> 
    <button type="button" class="btn btn-sm btn-danger" ng-click="showModal()">Cancel PO</button>
  </div> 
</div>
</div> -->

<bsform-grid
        ng-form="PartsInquiry"
        factory-name="PartsInquiry"
        model="mData"
        model-id="PartsCode"
        loading="loading"
        show-advsearch="on"
        get-data="getData(filterMaterial)"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        on-before-new-mode="onBeforeNewMode"
        on-before-edit-mode="onBeforeEditMode"
        on-show-detail = "onShowDetail"

        grid-hide-action-column="gridHideActionColumn"

        form-name="PartsInquiry"
        form-title="Parts Inquiry"
        modal-title="Parts Inquiry"
        modal-size="small"
        icon="fa fa-fw fa-child"

        >
        <bsform-advsearch>
              <!-- Row -->
              <div class="row">
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">No. Parts</label>
                    <input type="text" class="form-control margin-bottom" ng-model="filterMaterial[0]">
                    <input type="text" class="form-control margin-bottom" ng-model="filterMaterial[1]">
                    <input type="text" class="form-control margin-bottom" ng-model="filterMaterial[2]">
                    <input type="text" class="form-control margin-bottom" ng-model="filterMaterial[3]">
                    <input type="text" class="form-control margin-bottom" ng-model="filterMaterial[4]">
                    
                  </div>
                </div>
                
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">&nbsp</label>
                    <input type="text" class="form-control margin-bottom" ng-model="filterMaterial[5]">
                    <input type="text" class="form-control margin-bottom" ng-model="filterMaterial[6]">
                    <input type="text" class="form-control margin-bottom" ng-model="filterMaterial[7]">
                    <input type="text" class="form-control margin-bottom" ng-model="filterMaterial[8]">
                    <input type="text" class="form-control margin-bottom" ng-model="filterMaterial[9]">
                  </div>
                </div>    
              </div>
              <!-- end row -->
              <div class="row">
                <div class="col-md-10">
                  <button class="btn wbtn pull-right" ng-click="onDeleteFilter()">Hapus Filter</button>
                </div>
              </div>
              <br>

        </bsform-advsearch>

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY --> 

        

        <!-- 
            <div class="form-group" show-errors>
                <bsreqlabel>Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="name" placeholder="Name"
                           ng-model="mPOMaintenance.name" ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="name"></bserrmsg>
            </div>
        -->

</bsform-grid>



