<!--
	Catatan Flow
	1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

</style>

<div class="row">
    <div class="col-md-2">
        <label>Referensi MRsss *</label>
        <select class="form-control" disabled>
            <option selected>Sales Order</option>
        </select>
    </div>
    <div class="col-md-3">    
        <div style="padding-left: 60px">
            <label>No Sales Order *</label><input type="text" ng-model= "MRHeader.RefMRNo" name="wo" class="form-control" disabled>
        </div>
    </div>
    <div class="col-md-3">      
        <div style="padding-left: 60px">
            <label class="control-label">Tanggal Dibutuhkan</label>  
            <bsdatepicker
            name="startDate"
            date-options="dateOptions"
            ng-model="mPeriod.startDate"
            ng-disabled="!isEditForm" 
            >
            </bsdatepicker>
            <!-- utk jam belum <input type="text" class="form-control" ng-model="mData.VehicleName" placeholder="09.00" disabled> -->
        </div> 
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-2">
        <div>
            <label>Tipe Material</label>
            <!-- <input type="text" class="form-control" id="tipeMaterial" ng-model="MRHeader.MaterialType" placeholder="" value="MaterialType[MRHeader.MaterialTypeId.name]" disabled> -->
            <input type="text" class="form-control" value="{{MaterialType[MRHeader.MaterialTypeId-1].name}}" disabled>
        </div>
    </div>
    <div class="col-md-3">    
        <div style="padding-left: 60px">
            <label>No Polisi</label>
            <input type="text" class="form-control" id="noPolisi" ng-model="MRHeader.LicensePlate" disabled>
        </div>
    </div>
    <div class="col-md-3">    
        <div style="padding-left: 60px">
            <label>Request Oleh</label>
            <input type="text" class="form-control" ng-model="MRHeader.RequestBy" placeholder="No-WO" value="mData.VehicleType" disabled>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-2">
        <div>
            <label>No. Rangka</label>
            <!-- <input type="text" class="form-control" ng-model="MRHeader.NoRangka" value="MRHeader.NoRangka" disabled> -->
            <input type="text" class="form-control" ng-model="MRHeader.NoRangka" disabled>
        </div>
    </div>
    <div class="col-md-3">    
        <div style="padding-left: 60px">
            <label>Full Model</label>
            <input type="text" class="form-control" id="formGroupExampleInput" ng-model="MRHeader.FullModel" disabled>
        </div>
    </div>
    <div class="col-md-3">        
        <div style="padding-left: 60px">
            <label>Tahun Rakit</label>
            <input type="text" class="form-control" id="formGroupExampleInput" ng-model="MRHeader.AssemblyYear" placeholder="No WO" value="mData.VehicleName" disabled>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div>
            <label>Model</label>
            <input type="text" class="form-control" id="formGroupExampleInput" ng-model="MRHeader.VModel" disabled>
        </div>
    </div>
    <div class="col-md-3">    
        <div style="padding-left: 60px">
            <label>Kode Warna</label>
            <input type="text" class="form-control" id="formGroupExampleInput" ng-model="MRHeader.KodeWarna" disabled>
        </div>
    </div>
    <div class="col-md-3">        
        <div style="padding-left: 60px">
            <label>Warna</label>
            <input type="text" class="form-control" id="formGroupExampleInput" ng-model="MRHeader.Warna" disabled>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-2">
        <div>
            <label>No MR</label>
            <input type="text" class="form-control" ng-model="MRHeader.MaterialRequestNo" disabled>
        </div>
    </div>
    <div class="col-md-3">    
        <div style="padding-left: 60px">
            <label>Tanggal MR</label>
            <bsdatepicker
                name="startDate"
                date-options="dateOptions"
                ng-model="MRHeader.DocDate"
                ng-disabled="!isEditForm"
            >
            </bsdatepicker>
        </div>  
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div>
            <label>Status</label>
            <input type="text" class="form-control" ng-model="MRHeader.MaterialRequestStatus" placeholder="No WO" disabled>
        </div>
    </div>
    <div class="col-md-3">    
        <div style="padding-left: 60px">
            <label>Grand Total</label>
            <input type="text" class="form-control"  ng-model="GrandTotal" placeholder="" disabled>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div>
            <label>Notes</label>
            <textarea class="form-control" ng-model="MRHeader.Notes" rows="5" disabled></textarea>
        </div>
    </div>
</div>


<fieldset style="padding-top: 10px">
<!-- <div ng-controller="MaterialRequestController"> -->
<div>
      <div id="grid1" ui-grid="gridDetail" ui-grid-auto-resize ui-grid-selection ui-grid-edit class="grid"></div>
</div>
</fieldset>

<fieldset style="padding-top: 10px">
<div align="right">
	<button class="btn btn-default">Kembali</button>
	<!-- <button class="btn btn-danger">Simpan & Issuing</button> -->
</div>
</fieldset>
