<!--
	Catatan Flow
	1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->


<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

</style>

    <div class="row">
        <div class="col-md-2">
            <label>Referensi MR *</label>
            <select class="form-control" disabled>
                <option selected>Sales Order</option>
            </select>
        </div>
        <div class="col-md-3">        
            <div style="padding-left: 60px">
                <label>No Sales Order *</label>
                <input type="text" ng-model= "MRHeader.RefMRNo" class="form-control" ng-disabled="isEditForm">
            </div>
        </div>
        <div class="col-md-3">          
            <div style="padding-left: 60px">
                <label class="control-label">Tanggal Dibutuhkan</label>  
                <bsdatepicker
                name="startDate"
                date-options="dateOptions"
                ng-model="mPeriod.tglButuh"
                ng-disabled="isEditForm"
                >
                </bsdatepicker>
                <!-- utk jam belum <input type="text" class="form-control" ng-model="mData.VehicleName" placeholder="09.00" disabled> -->
            </div> 
        </div>
    </div>
        <hr/>
    <div class="row">
        <div class="col-md-2">
            <div>
                <label>Tipe Material</label>
                <input type="text" class="form-control" value="{{MaterialType[MRHeader.MaterialTypeId-1].name}}" ng-disabled="isEditForm">
            </div>
        </div>
        <div class="col-md-3">                  
            <div style="padding-left: 60px">
                <label>No Polisi</label>
                <input type="text" class="form-control" id="noPolisi" ng-model="MRHeader.LicensePlate" ng-disabled="isEditForm">
            </div>
        </div>
        <div class="col-md-3">                  
            <div style="padding-left: 60px">
                <label>Request Oleh</label>
                <input type="text" class="form-control" id="request_oleh" ng-model="MRHeader.RequestBy" ng-disabled="isEditForm">
            </div>
        </div>
    </div>
        <hr/>
    <div class="row">
        <div class="col-md-2">
            <div>
                <label>No. Rangka</label>
                <input type="text" class="form-control" ng-model="MRHeader.NoRangka" ng-disabled="isEditForm">
            </div>
        </div>
        <div class="col-md-3">        
            <div style="padding-left: 60px">
                <label>Full Model</label>
                <input type="text" class="form-control" ng-model="MRHeader.FullModel" ng-disabled="isEditForm">
            </div>
        </div>
        <div class="col-md-3">        
            <div style="padding-left: 60px">
                <label>Tahun Rakit</label>
                <input type="text" class="form-control" ng-model="MRHeader.AssemblyYear" ng-disabled="isEditForm">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div>
                <label>Model</label>
                <input type="text" class="form-control" ng-model="MRHeader.VehicleModelName" placeholder="" ng-disabled="isEditForm">
            </div>
        </div>
        <div class="col-md-3">        
            <div style="padding-left: 60px">
                <label>Kode Warna</label>
                <input type="text" class="form-control" ng-model="MRHeader.KodeWarna" ng-disabled="isEditForm">
            </div>
        </div>
        <div class="col-md-3">        
            <div style="padding-left: 60px">
                <label>Warna</label>
                <input type="text" class="form-control" ng-model="MRHeader.Warna" placeholder="" ng-disabled="isEditForm">
            </div>
        </div>
    </div>
<hr/>
    <div class="row">
        <div class="col-md-2">
            <div>
                <label>No MR</label>
                <input type="text" class="form-control" ng-model="MRHeader.MaterialRequestNo" ng-disabled="isEditForm">
            </div>
        </div>
        <div class="col-md-3">        
            <div style="padding-left: 60px">
                <label>Tanggal MR</label>
                <bsdatepicker
                    name="startDate"
                    date-options="dateOptions"
                    ng-model="MRHeader.DocDate"
                    ng-disabled="isEditForm"
                >
                </bsdatepicker>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div>
                <label>Status</label>
                <input type="text" class="form-control" ng-model="MRHeader.MaterialRequestStatus" placeholder="" ng-disabled="isEditForm">
            </div>
        </div>
        <div class="col-md-3">        
            <div style="padding-left: 60px">
                <label>Grand Total</label>
                <input type="text" class="form-control"  ng-model="GrandTotal" placeholder="" ng-disabled="isEditForm">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">                
            <label>Notes</label>
            <textarea class="form-control" ng-model="MRHeader.Notes" rows="5" id="comment" ></textarea>
        </div>
    </div>


<fieldset style="padding-top: 10px">

<!-- <div ng-controller="MaterialRequestController"> -->
<div class="row">
    <div class="col-md-2">
        <div class="input-group-btn dropdown" uib-dropdown="" style="">
          <button style="margin-right:5px;" type="button" ng-disabled="!mySelections.length>0" 
            class="btn wbtn" onclick="this.blur()" uib-dropdown-toggle="" ng-click=
            "addNewDataItem(30)" 
            data-toggle="" tabindex="-1" aria-haspopup="true" aria-expanded="true">Tambah Material&nbsp;
            <span class="caret"></span>
          </button>          
        </div>
    </div>
</div>
<div>
      <div id="grid1" ui-grid="gridDetail"  ui-grid-auto-resize ui-grid-selection ui-grid-edit class="grid"></div>
</div>
</fieldset>

<fieldset style="padding-top: 10px">
<div align="right">    
    <!-- <button class="btn btn-default" data-toggle="modal" data-target="#myModal">Buat PO</button> -->
    <button ng-show="showBuatPO" ng-click="btnBuatPO(30)" class="btn btn-danger">Buat PO</button>
	<button ng-show="showBuatGI" ng-click="btnBuatGI(30)" class="btn btn-danger">Buat GI </button>     
	<button ng-click="btnSimpan(30)" class="btn btn-danger">Simpan</button>    
</div>
</fieldset>

<!--[START] Modal Region -->
<!-- <div id="myModal" class="modal fade" role="dialog" style="width: 80%" align="center">
  <div class="modal-dialog"d >

    <!- - Modal content- ->
    <div class="modal-content">
      <div class="modal-header" style="background-color: #ff0000">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Input Alasan Pembatalan</h4>
      </div>
      <div class="modal-body">
        <p>Alasan*</p>
        <select class="form-control" style="width: 50%">
            <optgroup>
                <option>Kesalahan Administrasi</option>
                <option>Salah Material</option>
                <option>Pembatalan oleh Customer</option>
                <option>Batal Digunakan</option>
                <option>Lainnya</option>
            </optgroup>
        </select>
        <p style="padding-top: 10px">Keterangan</p>
        <textarea class="form-control" rows="5"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Kembali</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
      </div>
    </div>

  </div>
</div> -->
<!--[END] Modal Region -->


