<!--
	Catatan Flow
	1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
} 

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

</style>
<fieldset>
    <!-- <table class="search"> -->
        <div class="row">
            <div class="col-md-2">
                <label>Referensi MR *</label>
                <select class="form-control" disabled>
                    <option selected>WO</option>
                </select>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>No. WO *</label>
                    <input type="text" ng-model= "MRHeader.RefMRNo" class="form-control" ng-disabled="!isEditForm">
                </div>
            </div>               
        </div> 
    <!-- </table>   -->
    <hr/>
    <!-- <table> -->
        <div class="row">
            <div class="col-md-2">
                <div>
                    <label>Tipe Material</label>
                    <input type="text" class="form-control" value="{{MaterialType[MRHeader.MaterialTypeId-1].name}}" ng-disabled="!isEditForm">
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>No. Polisi</label>
                    <input type="text" class="form-control" id="noPolisi" ng-model="MRHeader.LicensePlate" ng-disabled="!isEditForm">
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>Request Oleh</label>
                    <input type="text" class="form-control" id="request_oleh" ng-model="MRHeader.RequestBy" ng-disabled="!isEditForm">
                </div>
            </div>   
        </div>
    <!-- </table>   -->
    <hr/>
    <!-- <table> -->
        <div class="row">
            <div class="col-md-2">
                <div>
                    <label>No. Rangka</label>
                    <input type="text" class="form-control" ng-model="MRHeader.NoRangka" ng-disabled="!isEditForm">
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>Full Model</label>
                    <input type="text" class="form-control" ng-model="MRHeader.FullModel" ng-disabled="!isEditForm">
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>Tahun Rakit</label>
                    <input type="text" class="form-control" ng-model="MRHeader.AssemblyYear" ng-disabled="!isEditForm">
                </div>
            </div>   
        </div>   
        <br/>     
        <div class="row"> 
            <div class="col-md-2">
                <div>
                    <label>Model</label>
                    <input type="text" class="form-control" ng-model="MRHeader.VModel" ng-disabled="!isEditForm">
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>Kode Warna</label>
                    <input type="text" class="form-control" ng-model="MRHeader.KodeWarna" ng-disabled="!isEditForm">
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>Warna</label>
                    <input type="text" class="form-control" ng-model="MRHeader.Warna" placeholder="" ng-disabled="!isEditForm">
                </div>
            </div>   
        </div>
    <!-- </table> -->
</fieldset>
<hr/>
<fieldset>
    <!-- <table class="search"> -->
        <div class="row">
            <div class="col-md-2">
                <div>
                    <label>No MR</label>
                    <input type="text" class="form-control" ng-model="MRHeader.MaterialRequestNo" ng-disabled="!isEditForm">
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>Tanggal MR</label>
                    <bsdatepicker
                        name="startDate"
                        date-options="dateOptions"
                        ng-model="MRHeader.DocDate"
                        ng-disabled="!isEditForm"
                    >
                    </bsdatepicker>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-2">
                <div>
                    <label>Status</label>
                    <input type="text" class="form-control" ng-model="MRHeader.MaterialRequestStatus" placeholder="" disabled>
                </div>
            </div>
            <div class="col-md-3"> 
                <div style="padding-left: 60px">
                    <label>Grand Total</label>
                    <input type="text" class="form-control"  ng-model="GrandTotal" placeholder="" disabled>
                </div>
            </div> 
        </div>
        <br/>
        <div class="row">
            <!-- <td colspan="2"> -->
            <div class="col-md-5">
                <label>Notes</label>
                <textarea class="form-control" ng-model="MRHeader.Notes" rows="5" id="comment" disabled></textarea>
            </div>
            <!-- </td> -->
        </div>
</fieldset>

<fieldset style="padding-top: 10px">
<!-- <div ng-controller="MaterialRequestController"> -->
<div>
      <div id="grid1" ui-grid="gridDetail" ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection class="grid"></div>
</div>
</fieldset>

<fieldset style="padding-top: 10px">
<!-- <div align="right">
	<button class="btn btn-default">Kembali</button>	
</div> -->
</fieldset>
