<!--
    Catatan Flow
    1. Status "Menunggu PO" pada GRID mengakibatkan button action berubah 


-->


<style type="text/css">

.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}


</style>

<fieldset>
    <!-- <table class="search"> -->
        <div class="row">
            <div class="col-md-2">
                <label>Referensi MR *</label>
                <select class="form-control" disabled>
                    <option selected>WO</option>
                </select>
            </div>
            <!-- <td> </td> -->
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>No. WO *</label>
                    <input type="text" ng-model= "MRHeader.RefMRNo" class="form-control" ng-disabled="isEditForm">
                </div>
            </div>               
        </div> 
    <!-- </table>   -->
    <hr/>
    <!-- <table> -->
        <div class="row">
            <div class="col-md-2">
                <div>
                    <label>Tipe Material</label>
                    <input type="text" class="form-control" value="{{MaterialType[MRHeader.MaterialTypeId-1].name}}" ng-disabled="isEditForm">
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>No. Polisi</label>
                    <input type="text" class="form-control" id="noPolisi" ng-model="MRHeader.LicensePlate" ng-disabled="isEditForm">
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>Request Oleh</label>
                    <input type="text" class="form-control" id="request_oleh" ng-model="MRHeader.RequestBy" ng-disabled="isEditForm">
                </div>
            </div>   
        </div>
    <!-- </table>   -->
    <hr/>
    <!-- <table> -->
        <div class="row">
            <div class="col-md-2">
                <div>
                    <label>No. Rangka</label>
                    <input type="text" class="form-control" ng-model="MRHeader.NoRangka" ng-disabled="isEditForm">
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>Full Model</label>
                    <input type="text" class="form-control" ng-model="MRHeader.FullModel" ng-disabled="isEditForm">
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>Tahun Rakit</label>
                    <input type="text" class="form-control" ng-model="MRHeader.AssemblyYear" ng-disabled="isEditForm">
                </div>
            </div>   
        </div>
        <br/>
        <div class="row">
            <div class="col-md-2">
                <div>
                    <label>Model</label>
                    <input type="text" class="form-control" ng-model="MRHeader.VehicleModelName" ng-disabled="isEditForm">
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>Kode Warna</label>
                    <input type="text" class="form-control" ng-model="MRHeader.KodeWarna" ng-disabled="isEditForm">
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>Warna</label>
                    <input type="text" class="form-control" ng-model="MRHeader.Warna" placeholder="" ng-disabled="isEditForm">
                </div>
            </div>   
        </div>
    <!-- </table> -->
</fieldset>
<hr/>
<fieldset>
    <!-- <table class="search"> -->
        <div class="row">
            <div class="col-md-2">
                <div>
                    <label>No MR</label>
                    <input type="text" class="form-control" ng-model="MRHeader.MaterialRequestNo" ng-disabled="isEditForm">
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding-left: 60px">
                    <label>Tanggal MR</label>
                    <bsdatepicker
                        name="startDate"
                        date-options="dateOptions"
                        ng-model="MRHeader.DocDate"
                        ng-disabled="isEditForm"
                    >
                    </bsdatepicker>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-2">
                <div>
                    <label>Status</label>
                    <input type="text" class="form-control" ng-model="MRHeader.MaterialRequestStatus" placeholder="" ng-disabled="isEditForm">
                </div>
            </div>
            <div class="col-md-3">
            <div style="padding-left: 60px">
                <label>Grand Total</label> 
                <input type="text" class="form-control"  ng-model="GrandTotal" ng-disabled="isEditForm">
            </div>
            </div> 
        </div>
        <br/>
        <div class="row">
            <!-- <td colspan="2"> -->
            <div class="col-md-5">
                <label>Notes</label>
                <textarea class="form-control" ng-model="MRHeader.Notes" rows="5" id="comment" ng-disabled="!isEditForm"></textarea>
            </div>
            <!-- </td> -->
        </div>
</fieldset>

<fieldset style="padding-top: 10px">

<!-- <div ng-controller="MaterialRequestController"> -->
<div class="row">
    <div class="col-md-2">
        <div class="input-group-btn dropdown" uib-dropdown="" style="">
          <button style="margin-right:5px;" type="button" ng-disabled="!mySelections.length>0" 
            class="btn wbtn" onclick="this.blur()" uib-dropdown-toggle="" ng-click=
            "addNewDataItem(20)" 
            data-toggle="" tabindex="-1" aria-haspopup="true" aria-expanded="true">Tambah Material&nbsp;
            <span class="caret"></span>
          </button>          
        </div>
    </div>
</div>
<div>
      <div id="grid1" ui-grid="gridDetail"  ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ui-grid-edit class="grid"></div>
</div>
</fieldset>

<fieldset style="padding-top: 10px">
<div align="right">    
    <!-- <button id="myBtn" class="btn btn-default">Batal Dokumen</button> -->
    <button ng-show="showBuatPO" ng-click="btnBuatPO(20)" class="btn btn-danger">Buat PO</button>
    <button ng-show="showBuatGI" ng-click="btnBuatGI(20)" class="btn btn-danger">Buat GI </button> 
    <button ng-click="btnSimpan(20)" class="btn btn-danger">Simpan</button>    
    
</div>
</fieldset>

<!-- The Modal -->
<!-- 
<div id="myModal" class="message">

  <!- - Modal content - - >
  <div class="message-content">
    <div class="message-header">
      <span class="close">&times;</span>
      <h2><center>Permohonan Approval</center></h2>      
    </div>
    <i>Material Request ini membutuhkan Approval</i> <br> <hr>
        <div class="row">
                <div class="col-md-1"> 
                  <div class="input-group">
                    <label class="control-label">&nbsp</label>                    
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <label class="control-label">Nama Kegiatan</label>                    
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Material Request" readonly> 
                  </div>
                </div>  
            </div> <br>
        <div class="row">
                <div class="col-md-1">
                  <div class="input-group">
                    <label class="control-label">&nbsp</label>                    
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <label class="control-label">No. Request</label>                    
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="No. Req 2121" readonly> 
                  </div>
                </div>  
            </div> <br>               
        <div class="row">
                <div class="col-md-1">
                  <div class="input-group">
                    <label class="control-label">&nbsp</label>                    
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <label class="control-label">Tanggal dan Jam</label>                    
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="2016-02-12 : 09:00" readonly> 
                  </div>
                </div>  
            </div> <br> 
        <div class="row">
                <div class="col-md-1">
                  <div class="input-group">
                    <label class="control-label">&nbsp</label>                    
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <label class="control-label">Approver(s)</label>                    
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="input-group">
                    <textarea class="form-control" rows="5" placeholder= "1. Edi sil" readonly></textarea> 
                  </div>
                </div>  
            </div> <br> 
        <div class="row">
                <div class="col-md-1">
                  <div class="input-group">
                    <label class="control-label">&nbsp</label>                    
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <label class="control-label">Pesan</label>                    
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="input-group"> 
                    <textarea class="form-control" rows="5" placeholder= "Perlu approval "></textarea> 
                  </div>
                </div>  
            </div>         
      
      <div class="modal-footer" style="padding-bottom: 10px">
        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
        <button type="button" class="btn rbtn" data-dismiss="modal">Kirim Permohonan</button>
      </div>
    </div>
</div>
 -->

