<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}

	.watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="PajakKeluaranMain_Show" class="fi-outermost">
	<div class="row">
		<div class="pull-right" style="margin-top:-50px;margin-right:10px">
			<button id="PajakKeluaran_Download_Button" ng-click="PajakKeluaran_Upload_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right;">
				<span class="ladda-label">
					Update Status DJP
				</span><span class="ladda-spinner"></span>
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4" ng-class="{'has-error':TanggalMainStartB == false}">
						<bsreqlabel>Tanggal Billing</bsreqlabel>
						<div class="input-icon-right ">
							<bsdatepicker format="dd/MM/yyyy" ng-change="TanggalBChanged()" name="PajakKeluaranTanggalAwal" date-options="dateOptions"
							 ng-model="PajakKeluaran_TanggalAwal">
							</bsdatepicker>
						</div>
						<span ng-if="!TanggalMainStartB" class="help-block">{{errTanggalB}}</span>
					</div>
					<div class="col-md-2" style="margin-top:30px" align="center">
						<label>s.d.</label>
					</div>
					<div class="col-md-4" ng-class="{'has-error':TanggalMainEndB == false}">
						<label>Tanggal Billing</label>
						<div class="input-icon-right ">
							<bsdatepicker format="dd/MM/yyyy" ng-change="TanggalBChangedEnd()" name="PajakKeluaranTanggalAkhir" date-options="dateOptions"
							 ng-model="PajakKeluaran_TanggalAkhir">
							</bsdatepicker>
						</div>
						<span ng-if="!TanggalMainEndB" class="help-block">{{errTanggalEndB}}</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<label>Nomor Billing</label>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="FinancePajakKeluaran_NomorBilling" placeholder="" ng-model="FinancePajakKeluaran_NomorBilling"
							 ng-maxlength="20" maxlength="20" />
						</div>
					</div>

					<div class="col-md-2">

					</div>

					<div class="col-md-4">
						<label>Nomor Faktur Pajak</label>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="FinancePajakKeluaran_NomorFakturPajak" placeholder="" ng-model="FinancePajakKeluaran_NomorFakturPajak"
							 ng-maxlength="20" maxlength="20" />
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4" ng-class="{'has-error':TanggalMainStartF == false}">
						<div class="form-group">
							<label>Tanggal Faktur Pajak</label>
							<div class="input-icon-right ">
								<bsdatepicker format="dd/MM/yyyy" ng-change="TanggalFChanged()" name="FinancePajakKeluaran_TanggalFakturAwal"
								 date-options="dateOptions" ng-model="FinancePajakKeluaran_TanggalFakturAwal">
								</bsdatepicker>
							</div>
							<span ng-if="!TanggalMainStartF" class="help-block">{{errTanggalF}}</span>
						</div>
					</div>

					<div class="col-md-2" style="margin-top:30px" align="center">
						<label>s.d.</label>
					</div>

					<div class="col-md-4" ng-class="{'has-error':TanggalMainEndF == false}">
						<div class="form-group">
							<label>&nbsp</label>
							<div class="input-icon-right ">
								<bsdatepicker format="dd/MM/yyyy" ng-change="TanggalFChangedEnd()" name="FinancePajakKeluaran_TanggalFakturAkhir"
								 date-options="dateOptions" ng-model="FinancePajakKeluaran_TanggalFakturAkhir">
								</bsdatepicker>
							</div>
							<span ng-if="!TanggalMainEndF" class="help-block">{{errTanggalEndF}}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<label>Tipe Bisnis</label>
						<bsselect ng-model="FinancePajakKeluaran_TipeBisnis" data="optionsFinancePajakKeluaran_TipeBisnis" item-text="name"
						 item-value="value" on-select="value(selected)" placeholder="Pilih" icon="fa fa-search">
						</bsselect>
					</div>

					<div class="col-md-2">

					</div>

					<div class="col-md-4">
						<label>Kode Jenis Transaksi</label>
						<bsselect ng-model="FinancePajakKeluaran_KodeJenisTransaksi" data="optionsFinancePajakKeluaran_KodeJenisTransaksi"
						 item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih" icon="fa fa-search">
						</bsselect>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<label>Nama</label>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="FinancePajakKeluaran_Nama" placeholder="" ng-model="FinancePajakKeluaran_Nama"
							 ng-maxlength="50" maxlength="50" />
						</div>
					</div>

					<div class="col-md-2">

					</div>

					<div class="col-md-4">
						<label>NPWP</label>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="FinancePajakKeluaran_NPWP" placeholder="" ng-model="FinancePajakKeluaran_NPWP"
							 ng-maxlength="20" maxlength="20" />
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group">
							<label>Tanggal Pembuatan Faktur Pajak</label>
							<div class="input-icon-right ">
								<bsdatepicker format="dd/MM/yyyy" name="FinancePajakKeluaran_TanggalBuatFakturAwal" date-options="dateOptions"
								 ng-model="FinancePajakKeluaran_TanggalBuatFakturAwal">
								</bsdatepicker>
							</div>
						</div>
					</div>
					<div class="col-md-2" style="margin-top:30px" align="center">
						<label>s.d.</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>&nbsp</label>
							<div class="input-icon-right ">
								<bsdatepicker format="dd/MM/yyyy" name="FinancePajakKeluaran_TanggalBuatFakturAkhir" date-options="dateOptions"
								 ng-model="FinancePajakKeluaran_TanggalBuatFakturAkhir">
								</bsdatepicker>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<label>Faktur Pajak Pengganti</label>
						<bsselect ng-model="FinancePajakKeluaran_FakturPajakPengganti" data="optionsFinancePajakKeluaran_FakturPajakPengganti"
						 item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih" icon="fa fa-search">
						</bsselect>
					</div>

					<div class="col-md-2">

					</div>

					<div class="col-md-4">
						<label>Status Download CSV</label>
						<bsselect ng-model="FinancePajakKeluaran_StatusDownload" data="optionsFinancePajakKeluaran_StatusDownload"
						 item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih" icon="fa fa-search">
						</bsselect>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="row">
				<div class="col-md-11">
					<div ng-show="!PajakKeluaranMain_HO_Show">
						<label>Nama Branch</label>
						<bsselect ng-model="PajakKeluaranMain_SelectBranch" data="optionsPajakKeluaranMain_SelectBranch" item-text="BranchName"
						 item-value="BranchId" on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search">
						</bsselect>
					</div>

					<div ng-show="PajakKeluaranMain_HO_Show">
						<label>Nama Branch</label>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="PajakKeluaranMainNamaBranch" placeholder="" ng-model="PajakKeluaranMain_NamaBranch"
							 ng-maxlength="50" ng-disabled="true">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<bslabel>Approval Status DJP</bslabel>
					<br>

					<label>
						<input type="checkbox" ng-model="FinancePajakKeluaran_belumapprove">Belum Approve</label>
					<br>
					<label>
						<input type="checkbox" ng-model="FinancePajakKeluaran_siapapprove">Siap Approve</label>
					<br>
					<label>
						<input type="checkbox" ng-model="FinancePajakKeluaran_dalamproses">Dalam Proses</label>
					<br>
					<label>
						<input type="checkbox" ng-model="FinancePajakKeluaran_approvesukses">Approval Sukses</label>
					<br>
					<label>
						<input type="checkbox" value="value" unchecked ng-model="FinancePajakKeluaran_reject">Reject</label>
					<br>
					<label>
						<input type="checkbox" ng-model="FinancePajakKeluaran_batal">Batal</label>
					<br>
					<label>
						<input type="checkbox" ng-model="FinancePajakKeluaran_cancel">Cancel Billing</label>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<button id="PajakKeluaran_Cari_Button" ng-click="PajakKeluaran_Cari_Clicked()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					Cari
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<p class="fi-title-line">Daftar PPN Keluaran
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div id="PajakKeluaran_ListData_Grid" ui-grid="PajakKeluaran_ListData_Grid_UIGrid" class="fi-ui-grid" style="height: 400px"
			 ui-grid-resize-columns ui-grid-exporter ui-grid-auto-resize ui-grid-selection ui-grid-pagination ui-grid-pinning></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12" style="margin-top:-15px;">
			<button id="PajakKeluaran_Download_Button" ng-click="PajakKeluaran_Download_Clicked()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					Download CSV Faktur Pajak
				</span>
				<span class="ladda-spinner"></span>
			</button>

			<button id="PajakKeluaran_DownloadDaftar_Button" ng-click="PajakKeluaran_DownloadDaftar_Clicked()" type="button"
			 class="rbtn btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					Download Daftar (Excel)
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
</div>

<div class="row" ng-show="PajakKeluaranEdit_Show">
	<div class="col-md-12">
		<div class="col-md-3">
			<label>Nomor Billing</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranEdit_NomorBilling" placeholder="" ng-model="FinancePajakKeluaranEdit_NomorBilling"
				 ng-maxlength="20" maxlength="20" ng-disabled="!FinancePajakKeluaranEdit_PermanentDisable" />
			</div>
		</div>

		<div class="col-md-1">

		</div>

		<div class="col-md-3">
			<label>Tanggal Billing</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranEdit_TanggalBilling" placeholder="" ng-model="FinancePajakKeluaranEdit_TanggalBilling"
				 ng-maxlength="50" ng-disabled="!FinancePajakKeluaranEdit_PermanentDisable" />
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-3">
			<label>Nomor Faktur Pajak</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranEdit_NomorFaktur" placeholder="" ng-model="FinancePajakKeluaranEdit_NomorFaktur"
				 ng-maxlength="20" maxlength="20" ng-disabled="!FinancePajakKeluaranEdit_PermanentDisable" />
			</div>
		</div>

		<div class="col-md-1">

		</div>

		<div class="col-md-3">
			<label>Tanggal Faktur Pajak</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranEdit_TanggalFaktur" placeholder="" ng-model="FinancePajakKeluaranEdit_TanggalFaktur"
				 ng-maxlength="50" ng-disabled="!FinancePajakKeluaranEdit_PermanentDisable" />
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-3">
			<label>Tipe Bisnis</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranEdit_TipeBisnis" placeholder="" ng-model="FinancePajakKeluaranEdit_TipeBisnis"
				 ng-maxlength="50" ng-disabled="!FinancePajakKeluaranEdit_PermanentDisable" />
			</div>
		</div>

		<div class="col-md-1">

		</div>

		<div class="col-md-3">
			<label>Kode Jenis Transaksi</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranEdit_JenisTransaksi" placeholder="" ng-model="FinancePajakKeluaranEdit_JenisTransaksi"
				 ng-maxlength="20" maxlength="20" />
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-3">
			<label>Nama</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranEdit_Nama" placeholder="" ng-model="FinancePajakKeluaranEdit_Nama"
				 ng-maxlength="50" maxlength="50" />
			</div>
		</div>

		<div class="col-md-1">

		</div>

		<div class="col-md-3">
			<label>Alamat</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranEdit_Alamat" placeholder="" ng-model="FinancePajakKeluaranEdit_Alamat"
				 ng-maxlength="1000" maxlength="1000" />
			</div>
		</div>

		<div class="col-md-1">

		</div>

		<div class="col-md-3">
			<label>NPWP</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranEdit_NPWP" placeholder="" ng-model="FinancePajakKeluaranEdit_NPWP"
				 ng-maxlength="20" maxlength="20" />
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-3">
			<label>DPP</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranEdit_DPP" placeholder="" ng-model="FinancePajakKeluaranEdit_DPP"
				 ng-maxlength="50" ng-disabled="!FinancePajakKeluaranEdit_PermanentDisable" currency-formating number-only />
			</div>
		</div>

		<div class="col-md-1" style="margin-top:30px;">

		</div>

		<div class="col-md-3">
			<label>PPN</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranEdit_PPN" placeholder="" ng-model="FinancePajakKeluaranEdit_PPN"
				 ng-maxlength="200" ng-disabled="!FinancePajakKeluaranEdit_PermanentDisable" currency-formating number-only />
			</div>
		</div>

		<div class="col-md-1" style="margin-top:30px;">

		</div>

		<div class="col-md-3">
			<label>Status Download CSV</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranEdit_StatusDownload" placeholder="" ng-model="FinancePajakKeluaranEdit_StatusDownload"
				 ng-maxlength="200" ng-disabled="!FinancePajakKeluaranEdit_PermanentDisable" />
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<button id="PajakKeluaranEdit_Simpan_Button" ng-click="PajakKeluaranEdit_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
		 style="float: right; margin-top:24px">
			<span class="ladda-label">
				Simpan
			</span>
			<span class="ladda-spinner"></span>
		</button>

		<button id="PajakKeluaranEdit_Kembali_Button" ng-click="PajakKeluaranEdit_Kembali_Clicked()" type="button" class="btn ng-binding ladda-button"
		 style="float: right; margin-top:24px">
			<span class="ladda-label">
				Kembali
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
</div>

<div class="row" ng-show="PajakKeluaranFP_Show">
	<div class="col-md-12">
		<div class="col-md-3">
			<label>Nomor Billing</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranFP_NomorBilling" placeholder="" ng-model="FinancePajakKeluaranFP_NomorBilling"
				 ng-maxlength="20" maxlength="20" ng-disabled="!FinancePajakKeluaranFP_PermanentDisable" />
			</div>
		</div>

		<div class="col-md-1" style="margin-top:30px;">

		</div>

		<div class="col-md-3">
			<label>Tanggal Billing</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranFP_TanggalBilling" placeholder="" ng-model="FinancePajakKeluaranFP_TanggalBilling"
				 ng-maxlength="50" ng-disabled="!FinancePajakKeluaranFP_PermanentDisable" />
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-3">
			<label>Tipe Bisnis</label>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="FinancePajakKeluaranFP_TipeBisnis" placeholder="" ng-model="FinancePajakKeluaranFP_TipeBisnis"
				 ng-maxlength="50" ng-disabled="!FinancePajakKeluaranFP_PermanentDisable" />
			</div>
		</div>
	</div>

	<div class="row" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 120px; margin-left:10px; margin-right:10px; background:white">
		<p style="width:20px; margin-top:-20px; margin-left:25px; background:white">FK</p>

		<div class="col-md-12">
			<div class="col-md-3">
				<label>KD_JENIS_TRANSAKSI</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_KDJenisTransaksi" placeholder="" ng-model="FinancePajakKeluaranFP_KDJenisTransaksi"
					 ng-maxlength="20" maxlength="20" />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>FG_PENGGANTI</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_FGPengganti" ng-model="FinancePajakKeluaranFP_FGPengganti"
					 ng-maxlength="50" ng-disabled="!FinancePajakKeluaranFP_PermanentDisable" />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>NOMOR_FAKTUR</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_NomorFaktur" placeholder="" ng-model="FinancePajakKeluaranFP_NomorFaktur"
					 ng-maxlength="20" maxlength="20" disabled />
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-3">
				<label>MASA_PAJAK</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_MasaPajak" placeholder="" ng-model="FinancePajakKeluaranFP_MasaPajak"
					 ng-maxlength="20" maxlength="20" />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>TAHUN_PAJAK</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_TahunPajak" placeholder="" ng-model="FinancePajakKeluaranFP_TahunPajak"
					 ng-maxlength="4" maxlength="4" number-only />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>TANGGAL_FAKTUR</label>
				<div class="input-icon-right ">
					<bsdatepicker format="dd/MM/yyyy" max-date="maxDate" name="FinancePajakKeluaranFP_TanggalFaktur" date-options="dateOptions"
					 ng-model="FinancePajakKeluaranFP_TanggalFaktur">
					</bsdatepicker>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-3">
				<label>NPWP</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_NPWP" placeholder="" ng-model="FinancePajakKeluaranFP_NPWP"
					 ng-maxlength="20" maxlength="20" ng-disabled="!FinancePajakKeluaranFP_PermanentDisable" />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>NAMA</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_Nama" placeholder="" ng-model="FinancePajakKeluaranFP_Nama"
					 ng-maxlength="50" maxlength="50" />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>ALAMAT_LENGKAP</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_AlamatLengkap" placeholder="" ng-model="FinancePajakKeluaranFP_AlamatLengkap"
					 ng-maxlength="1000" maxlength="1000" />
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-3">
				<label>JUMLAH_DPP</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_JumlahDPP" placeholder="" ng-model="FinancePajakKeluaranFP_JumlahDPP"
					 ng-maxlength="50" currency-formating number-only />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>JUMLAH_PPN</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_JumlahPPN" placeholder="" ng-model="FinancePajakKeluaranFP_JumlahPPN"
					 ng-maxlength="50" currency-formating number-only />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>JUMLAH_PPNBM</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_JumlahPPNBM" placeholder="" ng-model="FinancePajakKeluaranFP_JumlahPPNBM"
					 ng-maxlength="50" currency-formating number-only />
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-3">
				<label>ID_KETERANGAN_TAMBAHAN</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_IDKeteranganTambahan" placeholder=""
					 ng-model="FinancePajakKeluaranFP_IDKeteranganTambahan" ng-maxlength="1000" maxlength="1000" />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>FG_UANG_MUKA</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_FGUangMuka" placeholder="" ng-model="FinancePajakKeluaranFP_FGUangMuka"
					 ng-maxlength="50" currency-formating number-only />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>UANG_MUKA_DPP</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_UangMukaDPP" placeholder="" ng-model="FinancePajakKeluaranFP_UangMukaDPP"
					 ng-maxlength="50" currency-formating number-only />
				</div>
			</div>
		</div>

		<div class="col-md-12" style="margin-bottom:10px">
			<div class="col-md-3">
				<label>UANG_MUKA_PPN</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_UangMukaPPN" placeholder="" ng-model="FinancePajakKeluaranFP_UangMukaPPN"
					 ng-maxlength="50" currency-formating number-only />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>UANG_MUKA_PPNBM</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_UangMukaPPNBM" placeholder="" ng-model="FinancePajakKeluaranFP_UangMukaPPNBM"
					 ng-maxlength="50" currency-formating number-only />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>REFERENSI</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_Referensi" placeholder="" ng-model="FinancePajakKeluaranFP_Referensi"
					 ng-maxlength="50" />
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px; background:white;margin-left:10px; margin-right:10px;">
		<p style="width:20px; margin-top:-20px; margin-left:25px; background:white">OF</p>

		<div class="col-md-12">
			<div class="col-md-3">
				<label>KODE_OBJEK</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_OF_KodeObjek" placeholder="" ng-model="FinancePajakKeluaranFP_OF_KodeObjek"
					 ng-maxlength="20" maxlength="20" />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>NAMA</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_OF_NamaObjek" placeholder="" ng-model="FinancePajakKeluaranFP_OF_NamaObjek"
					 ng-maxlength="50" maxlength="50" />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>HARGA_SATUAN</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_OF_HargaSatuan" placeholder="" ng-model="FinancePajakKeluaranFP_OF_HargaSatuan"
					 ng-maxlength="50" currency-formating number-only />
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-3">
				<label>JUMLAH_BARANG</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_OF_JumlahBarang" placeholder="" ng-model="FinancePajakKeluaranFP_OF_JumlahBarang"
					 ng-maxlength="50" currency-formating number-only />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>HARGA_TOTAL</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_OF_HargaTotal" placeholder="" ng-model="FinancePajakKeluaranFP_OF_HargaTotal"
					 ng-maxlength="50" currency-formating number-only />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>DISKON</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_OF_Diskon" placeholder="" ng-model="FinancePajakKeluaranFP_OF_Diskon"
					 ng-maxlength="50" />
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-3">
				<label>DPP</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_OF_DPP" placeholder="" ng-model="FinancePajakKeluaranFP_OF_DPP"
					 ng-maxlength="50" currency-formating number-only />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>PPN</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_OF_PPN" placeholder="" ng-model="FinancePajakKeluaranFP_OF_PPN"
					 ng-maxlength="50" currency-formating number-only />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>TARIF_PPNBM</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_OF_TarifPPNBM" placeholder="" ng-model="FinancePajakKeluaranFP_OF_TarifPPNBM"
					 ng-maxlength="50" currency-formating number-only />
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-3">
				<label>PPNBM</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_OF_PPNBM" placeholder="" ng-model="FinancePajakKeluaranFP_OF_PPNBM"
					 ng-maxlength="50" currency-formating number-only />
				</div>
			</div>

			<div class="col-md-1"> </div>

			<div class="col-md-3">
				<label>NO_BILLING</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="FinancePajakKeluaranFP_OF_NoBilling" placeholder="" ng-model="FinancePajakKeluaranFP_OF_NoBilling"
					 ng-maxlength="20" maxlength="20" />
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<button id="FinancePajakKeluaranFP_OF_Tambah_Button" ng-click="FinancePajakKeluaranFP_OF_Tambah_Clicked()" type="button"
			 class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px">
				<span class="ladda-label">
					Tambah
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
		<p style="width:180px; margin-top:20px; margin-bottom:-20px;margin-left:10px; background:white;color:red;">
			Daftar OF
			<hr style="border-color:red;margin-left:10px;margin-right: 10px" />
		</p>
		<div class="col-md-12">
			<div id="myGrid" ui-grid="FinancePajakKeluaranFP_OF_UIGrid" ui-grid-resize-columns ui-grid-auto-resize
			 ui-grid-pagination class="Mygrid" style="width:95%; margin-top:20px; margin-bottom:20px; margin-left:10px">
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-6" style="margin-top:20px;border:solid 1px;">
			<p>Keteranngan:</p>
			<p></p>
			<p>1. FG _Pengganti bernilai 1</p>
			<p>2. TGL_Faktur tidak boleh lebih awak dari tanggal semula</p>
			<p>3. NPWP tidak dapat diganti</p>>
			</p>
		</div>
		<button id="FinancePajakKeluaranFP_Simpan_Button" ng-click="FinancePajakKeluaranFP_Simpan_Clicked()" type="button"
		 class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px">
			<span class="ladda-label">
				Simpan
			</span>
			<span class="ladda-spinner"></span>
		</button>

		<button id="FinancePajakKeluaranFP_Kembali_Button" ng-click="FinancePajakKeluaranFP_Kembali_Clicked()" type="button"
		 class="btn ng-binding ladda-button" style="float: right; margin-top:24px">
			<span class="ladda-label">
				Kembali
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
</div>

<div ng-show="PajakKeluaranUpload_Show" class="fi-outermost">

	<div class="row">
		<div class="col-md-12">
			<button ng-click="PajakKeluaran_Upload_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button"
			 style="float: right;">
				<span class="ladda-label">
					Simpan
				</span>
				<span class="ladda-spinner"></span>
			</button>

			<button ng-click="PajakKeluaran_Kembali_Clicked()" type="button" class="btn ng-binding ladda-button fi-right-button"
			 style="float: right;margin-left:50px">
				<span class="ladda-label">
					Kembali
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>

	<div class="row" style="border:1px solid lightgrey;margin-left:5px;margin-right:5px">
		<label style="margin-left:5px;margin-top:-9px;float:left;background-color:white">Upload File</label>
		<div class="col-md-12" style="margin-top:10px;margin-bottom:10px">
			<div class="col-md-1" style="margin-top:12px">
				Upload File
			</div>

			<div class="col-md-6" style="border:1px solid lightgrey;padding: 10px 0 10px 10px">
				<div class="input-icon-right">
					<input type="file" accept=".xlsx" id="uploadPajakKeluaranDJP" file-model="uploadPajakKeluaranDJP">
				</div>
			</div>

			<div class="col-md-2">
				<button ng-click="PajakKeluaran_Upload_File_Clicked()" type="button" class="rbtn btn ng-binding ladda-button" style="float: left;margin-top:5px">
					<span class="ladda-label">
						Upload
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>

			<div class="col-md-3">
				<button ng-click="PajakKeluaran_DownloadTemplate_Clicked()" type="button" class="btn ng-binding ladda-button" style="float: right;;margin-top:5px">
					<span class="ladda-label">
						Download Template
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="row" style="border:1px solid lightgrey;margin-left:5px;margin-right:5px;margin-top:20px">
		<label style="margin-left:5px;margin-top:-9px;float:left;background-color:white">Hasil Upload</label>

		<div class="col-md-12" style="margin-bottom:10px">
			<div id="myGrid" ui-grid="PajakKeluaran_UploadData_UIGrid" ui-grid-resize-columns ui-grid-auto-resize
			 ui-grid-pagination style="width:98%;height: 400px">
				<div class="watermark" ng-show="!PajakKeluaran_ExcelData.length">No data available</div>
			</div>
		</div>
	</div>
</div>