<style type="text/css">
.ui-grid-spilt-header-main{
    padding-top: 30px;
  line-height: 30px;
    text-align: center;
  background: #f6f6f6;
}

.ui-grid-split-merge-header{
  border-left: 2px solid transparent;
    position: absolute;
    background: #f9f9f9;
    text-align: center;
    line-height: 30px;
    z-index: 1;
    top: 0px;
    left:0px;
}
.ui-grid-header-table{
  width:100%;
  padding:0px;
  border:none;
  border-spacing: 0px;
  border-collapse: collapse;
}

.ui-grid-header-table tr td{
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
}
.ui-grid-header-table tr td:last-child{
  border-right:none;
}
div.ui-grid-cell input{
  padding:6px;
}
</style>


    <div class="form-group">           
        <!-- [START] Form Level 1 -->
        
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel class="control-label">Tipe PO </bsreqlabel>
                <select class="form-control" ng-model="mData.POTypeId" disabled>
                  <option value="{{mData.POTypeId}}" selected>{{ToNameTypePo(mData.POTypeId)}}</option>   
                </select>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <bsreqlabel class="control-label">Referensi PO </bsreqlabel>
                <select class="form-control" ng-model="mData.RefPOTypeId" disabled>
                  <option value="{{mData.RefPOTypeId}}" selected>{{ToNameRefPo(mData.RefPOTypeId)}}</option>              
                </select>
            </div>
            <div class="col-md-3 col-md-offset-1" style="pointer-events: none;">                
                <bsreqlabel class="control-label">No. WO </bsreqlabel>    
                <div class="input-group">
                    <input type="text" ng-model="mData.RefPONo" class="form-control" required>
                    <label class="input-group-btn">
                        <span class="btn wbtn" ng-click="onSearchRefPONo(mData.RefPONo)">
                            <i class="fa fa-search"></i>
                        </span>
                    </label>
                </div>                
            </div>                              
        </div>
        <!-- [END] Form Level 1 -->
        <br />
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel class="control-label">Tipe Material </bsreqlabel>
                <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                    <option selected value="{{mData.MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
                </select>
            </div> 
        </div>
        <!-- [END] Form Level 2 -->

        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>

        <!-- [START] Form Level 3 -->
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel class="control-label">Vendor </bsreqlabel>
                <input class="form-control" type="text" ng-model="mData.VendorName" placeholder="Vendor..."></input>
				<div ng-show="showIcon" style="padding-top: 15px">
					<span style="font-size: 13px; color: Dodgerblue;">
						<i class="fa fa-check-square" aria-hidden="true"></i><span style="padding-left: 5px; color: black;">Non PKP</span>
					</span>
				</div>
				<div ng-show="showCB" style="padding-top: 10px">
					<input type="checkbox" ng-model="mData.IsNONPKP" ng-checked="mData.IsNONPKP" disabled>     Non PKP
				</div>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <bsreqlabel class="control-label">Metode Pembayaran </bsreqlabel>
                <select class="form-control"  required>
                    <!-- <select class="form-control" ng-model="mData.PaymentMethodId" required> -->
                    <!-- <option value="1"selected>Kredit</option> -->
                    <option value="{{mData.PaymentMethodId}}" selected>{{ToPaymentMethodId(mData.PaymentMethodId)}}</option>
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1">                
                <bsreqlabel class="control-label">Jangka Waktu Bayar (Hari)</bsreqlabel>    
                <input class="form-control" type="number" ng-model="mData.PaymentPeriod" name="j_w_bayar" placeholder="Jangka Waktu Bayar (Hari)..."></input>               
            </div>                              
        </div>
        <!-- [END] Form Level 3 -->

        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>

        <!-- [START] Form Level 4 -->
        <div class="row">
            <div class="col-md-3">                
                <label class="control-label">No. Polisi</label>
                <input class="form-control" type="text" ng-model="mData.NoPol" name="no_polisi" placeholder="No. Polisi..."></input>
            </div>                              
        </div>
        <!-- [END] Form Level 4 -->

        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>

        <!-- [START] Form Level 5 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">No. Rangka</label>
                <input class="form-control" type="text" ng-model="mData.MachineNo" name="no_rangka" placeholder="No. Rangka..."></input>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <label class="control-label">Full Model</label>
                <input class="form-control" type="text" ng-model="mData.FullModel" name="full_model" placeholder="Full Model..."></input>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Tahun Rakit</label>                 
                <input class="form-control" type="text" ng-model="mData.Year" name="tahun_rakit" placeholder="Tahun Rakit..."></input>
            </div>
            <!-- <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                               -->
        </div>
        <!-- [END] Form Level 5 -->
        <br />
        <!-- [START] Form Level 6 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Model</label>
                <input class="form-control" type="text" ng-model="mData.ModelName" name="nomodel" placeholder="Model..."></input>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <label class="control-label">Kode Warna</label>
                <input class="form-control" type="text" ng-model="mData.VehicleColourCode" name="kode_warna" placeholder="Kode Warna..."></input>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Warna</label>                 
                <input class="form-control" type="text" ng-model="mData.Name" name="warna" placeholder="Warna..."></input>
            </div>                              
        </div>
        <!-- [END] Form Level 6 -->

        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>

        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-3">                
                <label class="control-label">No. PO</label>
                <input class="form-control" style="text-align : left" type="text" ng-model="mData.PurchaseOrderNo" placeholder="No. PO..." disabled></input> 
            </div>
            <div class="col-md-2 col-md-offset-1" style="pointer-events: none">
                <label class="control-label">Tanggal PO</label>
                <bsdatepicker
                  name="endDate"
                  date-options="dateOptions"
                  ng-model="mData.DocDate"
                  ng-disabled = true
                  >
                </bsdatepicker>
            </div>
            <!-- <div class="col-md-1">
                <label class="control-label">&nbsp</label>
                <input class="form-control" type="text" ng-value="ToReturnHour(mData.CreatedDate)" name="no_polisi" placeholder="Jam PO..." disabled></input> 
            </div>                               -->
        </div>
        <!-- [END] Form Level 7 -->
        <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-3">                
                <label class="control-label">Status</label>
                <input class="form-control" style="text-align : left" type="text" ng-value="ToNameStatus(mData.PurchaseOrderStatusId)" placeholder="Status..." disabled></input> 
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Grand Total</label>
                <input class="form-control" style="text-align : left" type="text" ng-model="mData.TotalAmount" name="grandtotal" placeholder="Grand Total..." format="number" disabled></input>
            </div>                              
        </div>
        <!-- [END] Form Level 7 -->
        <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Notes</label>
                <textarea class="form-control" row='5' ng-model="mData.Notes"></textarea>
            </div>                             
        </div>
        <!-- [END] Form Level 7 -->
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            <!-- <div ui-grid="non_tam_sop_wo" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div> -->
            <div ui-grid="non_tam_sop_wo" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-pagination></div>
            <!--<label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">Keterangan :<b>Harga Standard Cost di PO merupakan harga Standard Cost dari Master dikurangi PPn</b></label>-->
			<label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">
				<b>Keterangan :</b><br>
				1. <b style="color:red">PKP</b> : Harga Standart Cost di PO merupakan harga Standart Cost dari Master dikurangi PPn<br>
				2. <b style="color:red">Non PKP</b> : Harga Standart Cost di PO merupakan harga Standart Cost dari Master tanpa dikurangi PPn<br>
				3. Harga Standart Cost di PO yang <b>dapat diedit</b> hanya Sublet (OPB), selain itu silahkan edit pada Master Material
			</label>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div align="right">
                <button class="btn wbtn" ng-click="onShowVendorPO()" skip-disable>Lihat Detail Vendor</button>
                <button class="btn wbtn" ng-click="cetakOPM(mData.PurchaseOrderId, mData.OutletId)" skip-disable>Cetak Order Pembelian Material</button>
                <button class="btn wbtn" ng-click="goBack()" skip-disable>Kembali</button>
            </div>
        </div>
    </div> 