
<div class="form-group">
    <!-- [START] Form Level 1 -->
    <div class="row">
        <div class="col-md-3" style="pointer-events: none">
            <!-- ng-model="mData.POTypeId" -->
            <bsreqlabel class="control-label">(Baru) Tipe PO </bsreqlabel>
            <!-- <select class="form-control" ng-model="mData.POTypeId" disabled>
                <option value="{{mData.POTypeId}}" selected>{{ToNameTypePo(mData.POTypeId)}}</option>
            </select> -->
            <bsselect name="POType" ng-model="mData.POTypeId" data="POTypeData" item-text="Name" item-value="POTypeId" placeholder="Tipe PO..." on-select="" icon="fa fa-search" ng-disabled="true">
            </bsselect>
        </div>
        <div class="col-md-3 col-md-offset-1" style="pointer-events: none">
            <bsreqlabel class="control-label">Referensi PO </bsreqlabel>
            <!-- <select class="form-control" ng-model="mData.RefPOTypeId" disabled>
                <option value="{{mData.RefPOTypeId}}" selected>{{ToNameRefPo(mData.RefPOTypeId)}}</option>
            </select> -->
            <bsselect name="RefPOType" ng-model="mData.RefPOTypeId" data="RefPOTypeData" item-text="Name" item-value="RefPOTypeId" placeholder="Referensi PO..." on-select="" icon="fa fa-search" ng-disabled="true">
            </bsselect>
        </div>
        <div class="col-md-1">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-3">
            <bsreqlabel>No. Referensi</bsreqlabel>
            <div class="input-group">
            <input type="text" ng-model="mData.RefPONo" class="form-control" required>
            <label class="input-group-btn">
                <span class="btn wbtn" ng-click="onSearchRefPONo(mData.RefPONo)">
                    <i class="fa fa-search"></i>
                </span>
            </label>
        </div>
        </div>
    </div>
    <!-- [END] Form Level 1 -->

    <br />

    <!-- [START] Form Level 2 -->
    <div class="row">
        <div class="col-md-3">
            <bsreqlabel class="control-label">Tipe Material </bsreqlabel>
            <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                <option selected value="{{mData.MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
            </select>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">BO TAM Follow</label>
            <select class="form-control" ng-model="mData.BackOrderFollowId" disabled required>
                <option selected value="{{mData.BackOrderFollowId}}">{{ToNameBoTam(mData.BackOrderFollowId)}}</option>
            </select>
            <!-- <bsselect name="typeSearch"
                ng-model="mData.BackOrderFollowId"
                data="BoTam"
                item-text="Name"
                item-value="Id"
                placeholder="BO TAM Follow..."
                ng-disabled="botamstatus"
                >
            </bsselect> -->
        </div>
    </div>

    <!-- [END] Form Level 2 -->
    <div class="row">
        <div class="col-md-12">
        <hr/>
        </div>
    </div>

    <!-- [START] Form Level 3 -->
    <div class="row" ng-show="mData.POTypeId != 5">
        <div class="col-md-3">
            <label class="control-label">Vendor</label>
            <!-- <bsselect name="vendor" ng-model="mData.VendorId" data="vendorData" item-text="Name" item-value="VendorId" placeholder="" on-select="selectVendor(selected)" icon="fa fa-search">
            </bsselect> -->
            <input class="form-control" type="text" ng-model="mData.VendorName" readonly></input>
            <div ng-show="showIcon" style="padding-top: 15px">
                <span style="font-size: 13px; color: Dodgerblue;">
                    <i class="fa fa-check-square" aria-hidden="true"></i><span style="padding-left: 5px; color: black;">Non PKP</span>
                </span>
            </div>
            <div ng-show="showCB" style="padding-top: 10px">
                <input type="checkbox" ng-model="mData.IsNONPKP" ng-checked="mData.IsNONPKP" disabled>     Non PKP
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <bsreqlabel class="control-label">Metode Pembayaran </bsreqlabel>
            <select class="form-control" required disabled>
                <!-- <option selected>Kredit</option> -->
                <option value="{{mData.PaymentMethodId}}" selected>{{ToPaymentMethodId(mData.PaymentMethodId)}}</option>
            </select>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <bsreqlabel class="control-label">Jangka Waktu Bayar (Hari)</bsreqlabel>
            <input class="form-control" type="number" ng-model="mData.PaymentPeriod" placeholder="Jangka Waktu Bayar (Hari)..." readonly></input>
        </div>
        <!-- <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div> -->
    </div>
    <!-- [END] Form Level 3 -->

    <div class="row" ng-show="mData.POTypeId != 5">
        <div class="col-md-12">
            <hr />
        </div>
    </div>

    <!-- [START] Form Level 3 SUBLET -->
    <div class="row" ng-show="mData.POTypeId == 5">
        <div class="col-md-3">
            <bsreqlabel class="control-label">Metode Pembayaran </bsreqlabel>
            <select class="form-control" required disabled>
                <!-- <option selected>Kredit</option> -->
                <option value="{{mData.PaymentMethodId}}" selected>{{ToPaymentMethodId(mData.PaymentMethodId)}}</option>
            </select>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <bsreqlabel class="control-label">Jangka Waktu Bayar (Hari)</bsreqlabel>
            <input class="form-control" type="number" ng-model="mData.PaymentPeriod" placeholder="Jangka Waktu Bayar (Hari)..." readonly></input>
        </div>
        <!-- <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div> -->
    </div>

    <div class="row" ng-show="mData.POTypeId == 5">
        <div class="col-md-12">
            <hr />
        </div>
    </div>

    <div class="row" ng-show="mData.POTypeId == 5">
        <div class="col-md-3">
            <label class="control-label">Nama Vendor</label>
            <input class="form-control" type="text" ng-model="mData.NamaVendor" name="NamaVendor"></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Telephone</label>
            <input class="form-control" type="text" ng-model="mData.Telephone" name="Telephone"></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Alamat</label>
            <textarea class="form-control" row='6' ng-model="mData.Alamat"></textarea>
        </div>
        <!-- <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div> -->
    </div>
    <!-- [END] Form Level 3 SUBLET -->
    
    <div class="row">
        <div class="col-md-3">                
            <label class="control-label">No. Polisi</label>
            <input class="form-control" type="text" ng-model="mData.NoPol" name="no_polisi" placeholder="No. Polisi..." disabled></input>
        </div>                              
    </div>
    <!-- [END] Form Level 4 -->

    <div class="row">
        <div class="col-md-12">
        <hr/>
        </div>
    </div>

    <!-- [START] Form Level 5 -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">No Rangka</label>
            <input class="form-control" type="text" ng-model="mData.MachineNo" name="no_rangka" disabled></input>
        </div>
        <div class="col-md-3 col-md-offset-1">                
            <label class="control-label">Full Model</label>
            <input class="form-control" type="text" ng-model="mData.FullModel" name="full_model" disabled></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Tahun Rakit</label>                 
            <input class="form-control" type="text" ng-model="mData.Year" name="tahun_rakit" disabled></input>
        </div>
        <!-- <div class="col-md-2">
            <label class="control-label">&nbsp</label>                              
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>                               -->
    </div>
    <!-- [END] Form Level 5 -->

    <br />

    <!-- [START] Form Level 6 -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Model</label>
            <input class="form-control" type="text" ng-model="mData.ModelName" name="nomodel" disabled></input>
        </div>
        <div class="col-md-3 col-md-offset-1">                
            <label class="control-label">Kode Warna</label>
            <input class="form-control" type="text" ng-model="mData.VehicleColourCode" name="kode_warna" disabled></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Warna</label>                 
            <input class="form-control" type="text" ng-model="mData.Name" name="warna" placeholder="Black" disabled></input>
        </div>                              
    </div>
    <!-- [END] Form Level 6 -->

    <div class="row">
        <div class="col-md-12">
        <hr/>
        </div>
    </div>

    <!-- [START] Form Level 7 -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">No. PO</label>
            <input class="form-control" style="text-align : left" type="text" ng-model="mData.PurchaseOrderNo" placeholder="No. PO..." readonly></input>
        </div>
        <div class="col-md-2 col-md-offset-1" style="pointer-events: none">
            <label class="control-label">Tanggal PO</label>
            <bsdatepicker
                name="endDate"
                date-options="dateOptions"
                ng-model="mData.DocDate"
                ng-disabled = true
                skip-enable
                >
            </bsdatepicker>
        </div>
        <!-- <div class="col-md-1">
            <label class="control-label">&nbsp</label>
            <input class="form-control" type="text" ng-value="ToReturnHour(mData.CreatedDate)" name="no_polisi" readonly></input>
        </div>   
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div> -->
    </div>
    <!-- [END] Form Level 7 -->

    <br />

    <!-- [START] Form Level 7 -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Status</label>
            <input class="form-control" style="text-align : left" type="text" ng-value="ToNameStatus(mData.PurchaseOrderStatusId)" placeholder="Status..." readonly></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Grand Total</label>
            <input class="form-control" format="number" style="text-align : left" type="text" ng-model="mData.TotalAmount" format="number" readonly></input>
        </div>
        <!-- <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div> -->
    </div>
    <!-- [END] Form Level 7 -->
    
    <br />

    <!-- [START] Form Level 7 -->
    <div class="row">
        <div class="col-md-5">
            <label class="control-label">Notes</label>
            <textarea class="form-control" row='8' ng-model="mData.Notes"></textarea>
        </div>
        <!-- <div class="col-md-4">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-4">
            <label class="control-label">&nbsp</label>
        </div> -->
    </div>
    <!-- [END] Form Level 7 -->
</div>

<br/>
<div class="row" style="margin-bottom:10px;">
    <div class="col-md-3">
        <div class="input-group-btn dropdown" uib-dropdown="">
        <button style="margin-right:5px;margin-left:1px" type="button"
            class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle=""
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <!-- ngIf: allowDelete -->
            <li ng-click="delete('non_tam_non_sop_bengkel')" ng-if="selectedRows.length > 0"><a href="#">Hapus</a>
        </ul>
        </div>
    </div>
    <div class="col-md-9">
        <button class="btn rbtn pull-right" ng-click="Add()" onclick="blur()" ng-disabled="disabledTambah || (mData.POTypeId == '4' && mData.RefPOTypeId == '2')" skip-enable><i class="fa fa-fw fa-plus"></i>&nbsp;Tambah Material</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="grid1" ui-grid="non_tam_non_sop_bengkel" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
        <!--<label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">Keterangan :<b>Harga Standard Cost di PO merupakan harga Standard Cost dari Master dikurangi PPn</b></label>-->
		<label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">
				<b>Keterangan :</b><br>
				1. <b style="color:red">PKP</b> : Harga Standart Cost di PO merupakan harga Standart Cost dari Master dikurangi PPn<br>
				2. <b style="color:red">Non PKP</b> : Harga Standart Cost di PO merupakan harga Standart Cost dari Master tanpa dikurangi PPn<br>
				3. Harga Standart Cost di PO yang <b>dapat diedit</b> hanya Sublet (OPB), selain itu silahkan edit pada Master Material
			</label>
    </div>
    <div class="col-md-12">
        <div align="right">
            <button class="btn btn-default" ng-click="onShowVendorPO()">Lihat Detail Vendor</button>
            <button class="btn btn-default" ng-disabled="(mData.POTypeId >= 4 && mData.PurchaseOrderStatusId > 4 ) || (mData.POTypeId < 4 && mData.PurchaseOrderStatusId !== 1)" ng-click="batalPC(mData)">Batal PO</button>
            <button class="btn btn-default" ng-click="goBack()">Kembali</button>
            <button class="btn rbtn" ng-click="UbahData(mData,1)" ng-disabled="mData.PurchaseOrderStatusId > 1">Simpan Draft</button>
            <!-- <button class="btn rbtn" ng-click="ubah(mData)" ng-disabled="(mData.POTypeId >= 4 && mData.PurchaseOrderStatusId > 4 ) || (mData.POTypeId < 4 && mData.PurchaseOrderStatusId !== 1)">{{labelTAM}}</button> -->
            <!-- <button class="btn rbtn" ng-click="UbahData(mData)" ng-disabled="(mData.POTypeId >= 1 && mData.POTypeId != 5 && mData.PurchaseOrderStatusId > 4 )">{{labelTAM}}</button> -->
            <!-- <button class="btn rbtn" ng-click="UbahData(mData)" ng-disabled="(mData.POTypeId <= 3 && mData.PurchaseOrderStatusId > 4 ) || (mData.POTypeId > 3 && mData.PurchaseOrderStatusId > 4)">{{labelTAM}}</button> -->
            <button class="btn rbtn" ng-click="UbahData(mData)" ng-disabled="(mData.PurchaseOrderStatusId > 4)">{{labelTAM}}</button>
        </div>
    </div>
</div>
