<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="row" style="border:1px solid lightgrey;margin:10px">
	<div class="col-md-12" style="margin-top:10px">
		<div class="col-md-4">
			<bsreqlabel>Template text 'Perhatian' pada Kuitansi</bsreqlabel>
		</div>
	</div>

	<div class="col-md-12" style="margin-top:10px">
		<div class="col-md-12">
			<textarea type="text" class="form-control" name="ParamKuitansiTemplateText" placeholder="" ng-model="ParamKuitansi_TemplateText"
			 ng-maxlength="1000" maxlength="1000" style="margin-bottom: 10px">
			</textarea>
		</div>
	</div>

	<div class="col-md-12" style="margin-top:10px">
		<div class="col-md-4">
			Banyaknya Cetak/Distribusi Kuitansi*
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-3">
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="ParamKuitansiBanyakCetak " placeholder="" ng-model="ParamKuitansi_BanyakCetak"
				 ng-maxlength="5" maxlength="5" number-only min="1" />
			</div>
		</div>

		<div class="col-md-3">
			<div class="input-icon-right ">
				<input type="checkbox" ng-model="ParamKuitansi_isTampilkanText"> Tampilkan teks distribusi
			</div>
		</div>
	</div>

	<div class="col-md-12" style="margin-left:10px; margin-top:20px">
		Keterangan Distribusi pada Kuitansi*
	</div>

	<div class="col-md-12">
		<div class="col-md-6">
			<div id="myGrid" ui-grid="ParamKuitansiKeteranganList_UIGrid" ui-grid-edit ui-grid-auto-resize ui-grid-pagination ui-grid-selection
			 class="Mygrid" style="width:95%;height: 250px;margin-bottom:20px;"></div>
		</div>

		<div class="col-md-2">
			<button id="ParamKuitansiKeterangan_Tambah_Button" ng-click="ParamKuitansiKeterangan_Tambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: left; ">
				<span class="ladda-label">
					Tambah
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>

		<div class="col-md-3">
			<p>Format Teks Keterangan distribusi</p>
			<p>
				<input type="checkbox" ng-model="ParamKuitansi_isTextTebal"> Huruf Tebal</p>
			<p>
				<input type="checkbox" ng-model="ParamKuitansi_isTextMiring"> Huruf Miring</p>
			<p>
				<input type="checkbox" ng-model="ParamKuitansi_isGarisBawah"> Garis Bawah</p>
		</div>
	</div>
</div>

<div class="row" style="border:1px solid lightgrey;margin:10px">
	<div class="col-md-12" style="margin-top:10px">
		<bsreqlabel>Template text 'Perhatian' pada TTUS</bsreqlabel>
		<textarea type="text" class="form-control" name="ParamTTUSTemplateText" placeholder="" ng-model="ParamTTUS_TemplateText"
		 ng-maxlength="500" style="margin-bottom: 10px">
		</textarea>
	</div>

	<div class="col-md-12" style="margin-top:10px">
		<div class="col-md-4">
			Banyaknya Cetak/Distribusi TTUS*
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-3">
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="ParamTTUSBanyakCetak " placeholder="" ng-model="ParamTTUS_BanyakCetak" ng-maxlength="5"
				 maxlength="5" number-only min="1" />
			</div>
		</div>

		<div class="col-md-3">
			<div class="input-icon-right ">
				<input type="checkbox" ng-model="ParamTTUS_isTampilkanText"> Tampilkan teks distribusi
			</div>
		</div>
	</div>

	<div class="col-md-12" style="margin-left:10px; margin-top:20px">
		Keterangan Distribusi pada TTUS*
	</div>

	<div class="col-md-12">
		<div class="col-md-6">
			<div id="myGrid" ui-grid="ParamTTUSKeteranganList_UIGrid" ui-grid-edit ui-grid-auto-resize ui-grid-pagination ui-grid-selection
			 class="Mygrid" style="width:95%;height: 250px;margin-bottom:20px;"></div>
		</div>

		<div class="col-md-2">
			<button id="ParamTTUSKeterangan_Simpan_Button" ng-click="ParamTTUSKeterangan_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: left; ">
				<span class="ladda-label">
					Tambah
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>

		<div class="col-md-3">
			<p>Format Teks Keterangan distribusi</p>
			<p>
				<input type="checkbox" ng-model="ParamTTUS_isTextTebal"> Huruf Tebal</p>
			<p>
				<input type="checkbox" ng-model="ParamTTUS_isTextMiring"> Huruf Miring</p>
			<p>
				<input type="checkbox" ng-model="ParamTTUS_isGarisBawah"> Garis Bawah</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<button id="ParamKuitansiTTUS_Simpan_Button" ng-click="ParamKuitansiTTUS_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
		 style="float: right; margin-top:24px">
			<span class="ladda-label">
				Simpan
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
</div>