<script type="text/javascript">
</script>
<style type="text/css">

</style>

<bsform-grid ng-form="CategoryModelKendaraanDiminatiForm" factory-name="CategoryModelKendaraanDiminatiFactory" model="mCategoryModelKendaraanDiminati" show-advsearch="on" model-id="CategoryModelKendaraanDiminatiId" get-data="getData" selected-rows="selectedRows"
    on-select-rows="onSelectRows" form-name="CategoryModelKendaraanDiminatiForm" form-title="Category Model Kendaraan Diminati" modal-title="Category Model Kendaraan Diminati" modal-size="small" icon="fa fa-fw fa-child">

    
    <bsform-advsearch>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Model Kendaraan</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="model unit id" placeholder="Model Kendaraan" ng-model="mCategoryModelKendaraanDiminati.ModelKendaraanDiminatiName" ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="model"></bserrmsg>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Value</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="model unit id" placeholder="Value" ng-model="mCategoryModelKendaraanDiminati.ModelKendaraanDiminatiValue" ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="model"></bserrmsg>
                </div>
            </div>
    </bsform-advsearch>


    <div class="row">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Description</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="model unit id" placeholder="Description" ng-model="mCategoryModelKendaraanDiminati.ModelKendaraanDiminatiName" ng-maxlength="50" required>
                </div>
                <bserrmsg field="model"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Value</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="type unit id" placeholder="Value" ng-model="mCategoryModelKendaraanDiminati.ModelKendaraanDiminatiValue" ng-maxlength="50" required>
                </div>
                <bserrmsg field="type"></bserrmsg>
            </div>
        </div>
    </div>
</bsform-grid>