<script type="text/javascript">

    function IfGotProblemWithModal() {
        $('body .modals').remove();
    }
</script>
<script type="text/javascript" src="js/print_min.js"></script>
<style type="text/css">
    .action-right {
        text-align: center;
    }
</style>

<link rel="styleSheet" href="release/ui-grid.min.css" />
<link rel="stylesheet" href="css/uistyle.css">
<link rel="stylesheet" href="css/uitimelinestyle.css">
<script src="js/uiscript.js" type="text/javascript"></script>
<script src="/release/ui-grid.min.js"></script>


<div ng-show="ShowSerahTerimaFakturDanBpkbKePelangganMain" class="container" style="width: 100%">

            <button type="button" class="rbtn btn" ng-click="onLanjutClick()" style="margin: -31px 0 0 8px; float: right" tabindex="0" ng-disabled="selected_rows.length<=0">
                <i class="fa fa-fw fa-arrow-right"></i>&nbsp;Lanjut 
            </button>

          
            

    <bsform-grid ng-form="SerahTerimaFakturDanBpkbKePelangganForm" factory-name="SerahTerimaFakturDanBpkbKePelangganFactory" model="mSerahTerimaFakturDanBpkbKePelanggan" model-id="SuratDistribusiBPKBHeaderId" loading="loading" hide-new-button="true" get-data="getData"
        selected-rows="selectedRows" on-select-rows="onSelectRows" show-advsearch="on" grid-hide-action-column="true" form-name="SerahTerimaFakturDanBpkbKePelangganForm" form-title="SerahTerimaFakturDanBpkbKePelanggan" modal-title="Serah Terima Faktur Dan Bpkb Ke Pelanggan"
        modal-size="small" icon="fa fa-fw fa-child">
        <div class="row">
            <div class="col-md-6">

                <div class="form-group" show-errors>
                    <bsreqlabel>Insurance Type Name</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="insuranceTypeName" placeholder="Insurance Type Name" ng-model="mSerahTerimaFakturDanBpkbKePelanggan.InsuranceTypeName" ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="insuranceTypeName"></bserrmsg>
                </div>
                <div class="form-group" show-errors>
                    <bsreqlabel>Insurance Type Value</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="insuranceTypeValue" placeholder="Insurance Type Value" ng-model="mSerahTerimaFakturDanBpkbKePelanggan.InsuranceTypeValue" ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="insuranceTypeValue"></bserrmsg>
                </div>
            </div>
        </div>

        <bsform-advsearch>
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nama Pembeli / Leasing</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Input Nama Pembeli / Leasing" ng-model="filterSTBPKBMain.NamaPembeli"
                                ng-maxlength="50">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. Rangka</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Input Nomor Rangka" ng-model="filterSTBPKBMain.FrameNo"
                                ng-maxlength="50">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. SO</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Input Nomor Sales Order" ng-model="filterSTBPKBMain.SOno"
                                ng-maxlength="50">
                        </div>
                    </div>
                </div>
            </div>


        </bsform-advsearch>



    </bsform-grid>


</div>

<div ng-show="ShowCetakSerahTerimaFakturDanBpkbKePelanggan">

    <div class="button-atas" style="margin-bottom: 20px;">
        <button type="button" class="rbtn btn" ng-click="onCetakClick()" ng-disabled="disableButton" style="margin: -31px 0 0 8px; float: right"
            tabindex="0">
            <i class="fa fa-fw fa-print"></i>&nbsp; Cetak
        </button>

        <button type="button" class="wbtn btn" ng-click="onKembaliClick()" style="margin: -31px 0 0 8px; float: right"
            tabindex="0">
             Kembali
        </button>
        
    </div>

    <br>

    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-3">
            Tanggal Penyerahan Dokumen <span style="color: red">*</span>
        </div>

        <div class="col-md-3">
            <bsdatepicker name="tanggalTo" date-options="dateOption"
                ng-model="TanggalPenyerahanDokumenByCustom" icon="fa fa-calendar" required>
            </bsdatepicker>
        </div>
    </div>

    
    <div ui-grid="gridBPKBCetak" ui-grid-selection class="grid" ui-grid-cellnav ui-grid-edit ui-grid-pagination ui-grid-auto-resize ng-show="ShowCetakSerahTerimaFakturDanBpkbKePelanggan"></div>


</div>


<div class="ui modal UpdatePenyerahanDokumen" role="dialog" style="background-color: transparent !important; width: 600px">
    <!-- <div> -->
    <p style="text-align: center">
        <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
            <!-- <button type="button" ng-click="backFromterimaSTNK()" class="close" data-dismiss="modal">&times;</button> -->
            <h4 class="modal-title">Penyerahan Dokumen BPKB Ke Pelanggan</h4>
        </div>

        <div class="modal-body" style="background-color: white;  max-height: 60%">
            <div class="row" style="margin: 0 0 0 0">
                <div id="infoPembeli" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px">
                    <p style="width:120px; margin-top:-17px; padding-left: 3px; margin-left:14px; background:white;"><b>Terima Dokumen</b></p>
                    <ul class="list-group">

                        <!-- --- -->
                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <div class="col-md-6">
                                <bsreqlabel style="margin-bottom: 5px;">No. Rangka</bsreqlabel>
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input ng-disabled="true" type="text" class="form-control" name="NoRangka" placeholder="No Rangka" ng-model="EditDetilTandaTerima.FrameNo" ng-maxlength="50" required>
                                    </div>
                            </div>
        
                            <div class="col-md-6">
                                <bsreqlabel style="margin-bottom: 5px;">Pembayaran</bsreqlabel>
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input ng-disabled="true" class="form-control" placeholder="Jenis Penbayaran" ng-model="EditDetilTandaTerima.FundSourceName" maxlength="50" required>
                                    </div>
                            </div>
                        </div>
                        <!-- clear -->

                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <bsreqlabel style="margin-bottom: 5px;margin-left: 10px;margin-right: 10px;">Model Tipe Kendaraan</bsreqlabel>
                            <div style="margin-left: 10px;margin-right: 10px;" class="input-icon-right">
                                <i class="fa fa-user"></i>
                                <input ng-disabled="true" type="text" class="form-control" name="NoRangka" placeholder="Model Tipe Kendaraan" ng-model="EditDetilTandaTerima.Description" ng-maxlength="50" required>
                            </div>
                        </div>
                        <!-- -- clear-- -->

                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <bsreqlabel style="margin-bottom: 5px;margin-left: 10px;margin-right: 10px;">Nama BPKB</bsreqlabel>
                            <div style="margin-left: 10px;margin-right: 10px;" class="input-icon-right">
                                <i class="fa fa-user"></i>
                                <input ng-disabled="true" type="text" alpha-numeric mask="Huruf" class="form-control" name="NamaPembeli" placeholder="Nama Penerima" ng-model="EditDetilTandaTerima.listDetail[0].BPKBName" maxlength="50" required>
                            </div>
                        </div>
        
                       
        
                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <bsreqlabel style="margin-bottom: 5px;margin-left: 10px;margin-right: 10px;">Nama Penerima Pelanggan / Leasing</bsreqlabel>
                            <div style="margin-left: 10px;margin-right: 10px;" class="input-icon-right">
                                <i class="fa fa-user"></i>
                                <input ng-disabled="true" type="text" alpha-numeric mask="Huruf" class="form-control" name="NamaPembeli" placeholder="Nama Penerima" ng-model="EditDetilTandaTerima.NamaPembeli" maxlength="50" required>
                            </div>
                        </div>
        
                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <div class="col-md-6">
                                <bsreqlabel style="margin-bottom: 5px;">No. KTP</bsreqlabel>
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input ng-disabled="true" number-only type="text" class="form-control" name="NoKTP" placeholder="No KTP" ng-model="EditDetilTandaTerima.NoKTPPembeli" maxlength="16" required>
                                </div>
                            </div>
        
                            <div class="col-md-6">
                                <bsreqlabel style="margin-bottom: 5px;">No HandPhone</bsreqlabel>
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input ng-disabled="true" number-only type="text" class="form-control" name="NoHandPhone" placeholder="No HandPhone" ng-model="EditDetilTandaTerima.NoHPPembeli" maxlength="12" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <div class="col-md-6">
                                <bsreqlabel style="margin-bottom: 5px;">No. BPKB</bsreqlabel>
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input type="text" ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan'" class="form-control" name="NoBpkb" placeholder="No Bpkb" ng-model="EditDetilTandaTerima.listDetail[0].BPKBNo" ng-maxlength="50" required>
                                </div>
                            </div>
        
                            <div class="col-md-6">
                                <bsreqlabel style="margin-bottom: 5px;">Nomor Polisi</bsreqlabel>
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input ng-disabled="true" number-only type="text" class="form-control" name="NoHandPhone" placeholder="Nomor Polisi" ng-model="EditDetilTandaTerima.listDetail[0].PoliceNumber" maxlength="12" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <hr>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <div class="col-md-6">
                                <bsreqlabel style="margin-bottom: 5px;">Tanggal Penyerahan Dokumen</bsreqlabel>
                            </div>
                            <div class="col-md-6">
                                <bsdatepicker name="tanggalTo" date-options="dateOption" ng-disabled="EditDetilTandaTerima.SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan'" ng-model="EditDetilTandaTerima.listDetail[0].TanggalPenyerahanDokumen"
                                icon="fa fa-calendar" required>
                                </bsdatepicker>
                            </div>
                        </div>



                    </ul>
                </div>
            </div>
        </div>
                
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            

        <bs-print cetakan-url="{{printUrl}}">
            <bsbutton-print>
                <button class="rbtn btn" style="float:right"
                    ng-disabled="

                                (EditDetilTandaTerima.FrameNo == undefined || EditDetilTandaTerima.FrameNo == null || EditDetilTandaTerima.FrameNo =='') ||   


                                (EditDetilTandaTerima.listDetail[0].BPKBNo == undefined || EditDetilTandaTerima.listDetail[0].BPKBNo == null || EditDetilTandaTerima.listDetail[0].BPKBNo =='') ||

                                (EditDetilTandaTerima.FundSourceName == null || EditDetilTandaTerima.FundSourceName == '' || EditDetilTandaTerima.FundSourceName == undefined) ||

                                (EditDetilTandaTerima.listDetail[0].BPKBName == null || EditDetilTandaTerima.listDetail[0].BPKBName == '' || EditDetilTandaTerima.listDetail[0].BPKBName == undefined) ||

                                (EditDetilTandaTerima.NamaPembeli == undefined || EditDetilTandaTerima.NamaPembeli == null || EditDetilTandaTerima.NamaPembeli == '') ||

                                (EditDetilTandaTerima.NoKTPPembeli == undefined || EditDetilTandaTerima.NoKTPPembeli == null || EditDetilTandaTerima.NoKTPPembeli == '') ||

                                (EditDetilTandaTerima.Description == null || EditDetilTandaTerima.Description == '' || EditDetilTandaTerima.Description == undefined) ||

                                (EditDetilTandaTerima.NoHPPembeli == undefined || EditDetilTandaTerima.NoHPPembeli == null || EditDetilTandaTerima.NoHPPembeli == '') ||

                                (EditDetilTandaTerima.NoKTPPembeli == null || EditDetilTandaTerima.NoKTPPembeli == '' || EditDetilTandaTerima.NoKTPPembeli == undefined) ||

                                (EditDetilTandaTerima.listDetail[0].PoliceNumber == null || EditDetilTandaTerima.listDetail[0].PoliceNumber == '' || EditDetilTandaTerima.listDetail[0].PoliceNumber == undefined) ||

                                (EditDetilTandaTerima.listDetail[0].TanggalPenyerahanDokumen == null || EditDetilTandaTerima.listDetail[0].TanggalPenyerahanDokumen == '' || EditDetilTandaTerima.listDetail[0].TanggalPenyerahanDokumen == undefined) ||

                                EditDetilTandaTerima.listDetail[0].SerahTerimaSTNKBPKBStatusName != 'Sudah Diterima Pelanggan' 

                    ">
                    <i class="fa fa-print" aria-hidden="true"></i>&nbsp&nbspCetak Tanda Terima
                </button>
            </bsbutton-print>
        </bs-print>

        <button style="float: right;margin-bottom:5px;margin-left:5px;margin-right:5px;"
                    ng-click="UpdatePenyerahanDokumen()"
                    type="button"
                    class="rbtn btn ng-binding ladda-button"
                    ng-disabled="
                                (EditDetilTandaTerima.FrameNo == undefined || EditDetilTandaTerima.FrameNo == null || EditDetilTandaTerima.FrameNo =='') ||

                                (EditDetilTandaTerima.listDetail[0].BPKBNo == undefined || EditDetilTandaTerima.listDetail[0].BPKBNo == null || EditDetilTandaTerima.listDetail[0].BPKBNo =='') ||

                                (EditDetilTandaTerima.FundSourceName == null || EditDetilTandaTerima.FundSourceName == '' || EditDetilTandaTerima.FundSourceName == undefined) ||

                                (EditDetilTandaTerima.listDetail[0].BPKBName == null || EditDetilTandaTerima.listDetail[0].BPKBName == '' || EditDetilTandaTerima.listDetail[0].BPKBName == undefined) ||

                                (EditDetilTandaTerima.NamaPembeli == undefined || EditDetilTandaTerima.NamaPembeli == null || EditDetilTandaTerima.NamaPembeli == '') ||

                                (EditDetilTandaTerima.NoKTPPembeli == undefined || EditDetilTandaTerima.NoKTPPembeli == null || EditDetilTandaTerima.NoKTPPembeli == '') ||

                                (EditDetilTandaTerima.Description == null || EditDetilTandaTerima.Description == '' || EditDetilTandaTerima.Description == undefined) ||

                                (EditDetilTandaTerima.NoHPPembeli == undefined || EditDetilTandaTerima.NoHPPembeli == null || EditDetilTandaTerima.NoHPPembeli == '') ||

                                (EditDetilTandaTerima.NoKTPPembeli == null || EditDetilTandaTerima.NoKTPPembeli == '' || EditDetilTandaTerima.NoKTPPembeli == undefined) ||

                                (EditDetilTandaTerima.listDetail[0].PoliceNumber == null || EditDetilTandaTerima.listDetail[0].PoliceNumber == '' || EditDetilTandaTerima.listDetail[0].PoliceNumber == undefined) ||


                                (EditDetilTandaTerima.listDetail[0].TanggalPenyerahanDokumen == null || EditDetilTandaTerima.listDetail[0].TanggalPenyerahanDokumen == '' || EditDetilTandaTerima.listDetail[0].TanggalPenyerahanDokumen == undefined) ||

                                EditDetilTandaTerima.listDetail[0].SerahTerimaSTNKBPKBStatusName == 'Sudah Diterima Pelanggan' 

                            ">
                <span class="ladda-label">
                    <!--<i class="fa fa-fw fa-refresh"></i>-->Simpan
                </span><span class="ladda-spinner"></span>
            </button>

        <!-- <button style="float: right;margin-bottom:5px;margin-left:5px;margin-right:5px;" ng-click="debugConsole()"  type="button" class="rbtn btn ng-binding ladda-button" >
                <span class="ladda-label">
                    Debug !
                </span><span class="ladda-spinner"></span>
            </button> -->

        <button style="float: right;margin-bottom:5px;margin-left:5px;margin-right:5px;" ng-click="KembaliKeTerimaBPKBKePelangganMain()" type="button" class="wbtn btn ng-binding ladda-button">
                <span class="ladda-label">
                    <!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
                </span><span class="ladda-spinner"></span>
            </button>
                </div>
    </p>
                    <!-- </div> -->
</div>
