<div class="row">
    <div class="col-md-12">
        <bsform-base ng-form="TowingFollowUp" factory-name="TowingFU" model="mData" model-id="TowingId" loading="loading" get-data="getData" form-api="formApi" action-button-settings-detail="buttonSettings" form-name="TowingFollowUpForm" form-title="Towing Follow Up"
            show-advsearch="on" modal-title="Towing Follow Up" modal-size="small" icon="fa fa-fw fa-child">
            <!--Jangan Lupa Model_Id diganti berdasarkan data grid-->
            <bsform-advsearch>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label>Pilih Data Towing</label>
                            <bsselect name="showDataTowing" data="optionTowing" item-text="Name" item-value="Id" ng-model="filter.showDataTowing" placeholder="Select Filter Show Data" ng-change=selectDataTowing(filter.showDataTowing) icon="fa fa-child glyph-left" style="min-width: 150px;">
                            </bsselect>
                            <bserrmsg field="showDataTowing"></bserrmsg>
                        </div>
                    </div>
                </div>
            </bsform-advsearch>
            <bsform-base-main>
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-3">
                        <div class="input-icon-left">
                            <i class="fa fa-search"></i>
                            <input type="text" style="text-align:center;" class="form-control input-md" name="nomorPolisi" ng-change="filterGrid(filter)" maxlength="10" ng-model="filter" placeholder="Masukkan Nomor Polisi">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div ui-grid="grid" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize class="grid" ng-style="getTableHeight()">
                            <div class="ui-grid-nodata" ng-if="!grid.data.length && !loading" ng-cloak>No data available</div>
                            <div class="ui-grid-nodata" ng-if="loading" ng-cloak>Loading data... <i class="fa fa-spinner fa-spin"></i></div>
                        </div>
                    </div>
                </div>
            </bsform-base-main>
            <bsform-base-detail ng-if="!showTowing">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <bsreqlabel>Mobil</bsreqlabel>
                                <input type="text" class="form-control" skip-enable ng-disabled="true" ng-model="mData.VehicleModelName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <bsreqlabel>Nomor Polisi</bsreqlabel>
                                <input type="text" class="form-control"  skip-enable ng-disabled="true" style="text-transform:uppercase" ng-model="mData.PoliceNumber">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <bsreqlabel>Warna</bsreqlabel>
                                <input type="text" class="form-control" skip-enable ng-disabled="true" ng-model="mData.Color">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <bsreqlabel>Tanggal Masuk</bsreqlabel>
                                <bsdatepicker name="EntryDate" date-options="DateOptions" ng-model="mData.EntryDate" skip-enable ng-disabled="true" required>
                                </bsdatepicker>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <bsreqlabel>Jam Masuk</bsreqlabel>
                                <input type="text" class="form-control" skip-enable ng-disabled="true" ng-model="mData.EntryTime">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <bsreqlabel>Nama Pemilik</bsreqlabel>
                                <input type="text" class="form-control" skip-enable ng-disabled="true" ng-model="mData.OwnerName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <bsreqlabel>No Telp</bsreqlabel>
                                <input type="text" class="form-control" skip-enable ng-disabled="true" ng-model="mData.OwnerPhone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <bsreqlabel>Keterangan</bsreqlabel>
                                <textarea class="form-control" name="OwnerDetail" placeholder="Detail" ng-model="mData.OwnerDetail" style="height: 100px;width: 500px;" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <bsreqlabel>Tanggal Follow Up</bsreqlabel>
                                <bsdatepicker name="FUDate" ng-model="mData.FollowUpDate" date-options="dateOptions" max-date='maxDateOption.maxDate' ng-change="dateChange(dt)">
                                </bsdatepicker>
                                <bserrmsg field="FUDate"></bserrmsg>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <bsreqlabel>Status Follow Up</bsreqlabel>
                                <bsselect name="StatusFU" ng-hide="mData.Status == 4" ng-model="mData.Status" data="stsFU" item-text="Name" item-value="Id" placeholder="Pilih Status Follow Up" on-select="onChangeSFU(selected)" required>
                                </bsselect>

                                <input type="text" class="form-control" skip-enable ng-disabled="true" ng-show="mData.Status == 4" ng-model="mData.StatusName">
                            </div>
                        </div>

                    </div>
                </div>
            </bsform-base-detail>
        </bsform-base>
        <bsui-modal show="show_modal.show" title="Call Customer" data="modal_model" on-save="goodCall" on-cancel="cancelCall" button-settings='buttonSettingModal' mode="modalMode">
            <div ng-form name="callCustomerForm">
                <fieldset style="padding:10px;border:2px solid #e2e2e2;">
                    <div class="col-md-12" style="text-align:center;">
                        <h2>Lakukan proses notifikasi sekarang?</h2>
                        <h3>Silahkan tekan nomor telepon dibawah untuk menelepon</h3>
                        <p>{{modal_model.OwnerPhone}}&nbsp;&nbsp;<a href="Tel:{{modal_model.OwnerPhone}}"><i style="color:green" class="fa fa-lg fa-phone"></i></a></p>
                    </div>
                </fieldset>
            </div>
        </bsui-modal>
    </div>
</div>