<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="MaintenanceForm"
        factory-name="MaintenanceStatus"
        model="mMaintenanceStatus"
        loading="loading"

        get-data="getData"
        selected-rows="xMaintenanceStatus.selected"
        on-select-rows="onSelectRows"
        on-show-detail = "onShowDetail"
        grid-hide-action-column="actionHide"


        form-name="MaintenanceForm"
        form-title="Maintenance Status"
        modal-title="Maintenance Status"
        modal-size="small"
        icon="fa fa-fw fa-child"

        custom-bulk-settings="customBulkSettings"
        >
<!-- ng-show="showDetailForm" -->
<!-- ng-show="showDetailPanel" -->
        <!-- <bsform-detail> -->

            

        <!-- </bsform-detail> -->




</bsform-grid>


<bsform-grid-detail>
<div class="row"  ng-show="showDetailForm">
        <form class="form-inline" role="form" ng-show="showDetailPanel">
                  <div class="row" style="margin-right:0px;padding-bottom:5px;margin-left:5px;">
                    <div class="col-md-12" style="padding-right:0px;">
                      <div class="input-group">
                          
                          <input type="text" class="form-control" placeholder="Filter" ng-model="gridApiFormDetail.grid.columns[filterColIdx].filters[0].term">
                          <div class="input-group-btn" uib-dropdown>
                              <button id="filter" type="button" class="btn wbtn" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
                                  {{filterBtnLabel|uppercase}}&nbsp;<span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="filter">
                                  <li role="menuitem" ng-repeat="col in gridFormDetailCols">
                                    <a href="#" ng-click="filterBtnChange(col)">{{col.name|uppercase}}
                                        <span class="pull-right">
                                            <i class="fa fa-fw fa-filter"
                                                ng-show="
                                                          gridApiFormDetail.grid.columns[{{$index+1}}].filters[0].term!='' &&
                                                          gridApiFormDetail.grid.columns[{{$index+1}}].filters[0].term!=undefined
                                                "
                                            ></i>
                                        </span>
                                    </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div id="grid1" ui-grid="gridFormDetail" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination                                     ui-grid-edit ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize

                     class="grid" ng-style="getTableHeight();" ng-show="showDetailPanel">
                    <div class="ui-grid-nodata" ng-if="!gridForfDetail.data.length" ng-cloak>No data available</div>
                    <div class="ui-grid-nodata" ng-if="loadingDetail" ng-cloak>Loading data... <i class="fa fa-spinner fa-spin"></i></div>
                </div>
</div>
</bsform-grid-detail>

<bsform-detail>
<div class="row">
        <form class="form-inline" role="form">
                  <div class="row" style="margin-right:0px;padding-bottom:5px;margin-left:5px;">
                    <div class="col-md-12" style="padding-right:0px;">
                      <div class="input-group">
                          <div class="input-group-btn" uib-dropdown>'+
                              <button style="margin-right:5px;" ng-disabled="!selectedDetailRows.length>0" type="button" class="btn wbtn"
                              onclick="this.blur()" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
                                  Bulk Action&nbsp;<span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                  <li role="menuitem"><a href="#" ng-click="onStartJob(selectedDetailRows)">Start</a></li>
                                  <li role="menuitem"><a href="#" ng-click="onLogJob(selectedDetailRows)">Log</a></li>
                              </ul>
                          </div>
                          <input type="text" class="form-control" placeholder="Filter" ng-model="gridApiDetail.grid.columns[filterColIdx].filters[0].term">
                          <div class="input-group-btn" uib-dropdown>
                              <button id="filter" type="button" class="btn wbtn" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
                                  {{filterBtnLabel|uppercase}}&nbsp;<span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="filter">
                                  <li role="menuitem" ng-repeat="col in gridDetailCols">
                                    <a href="#" ng-click="filterBtnChange(col)">{{col.name|uppercase}}
                                        <span class="pull-right">
                                            <i class="fa fa-fw fa-filter"
                                                ng-show="
                                                          gridApiDetail.grid.columns[{{$index+1}}].filters[0].term!='' &&
                                                          gridApiDetail.grid.columns[{{$index+1}}].filters[0].term!=undefined
                                                "
                                            ></i>
                                        </span>
                                    </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div id="grid1" ui-grid="gridDetail" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination                                     ui-grid-edit ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize

                     class="grid" ng-style="getTableHeight();" style="margin-left:18px;margin-bottom:40px;" >
                    <div class="ui-grid-nodata" ng-if="!gridDetail.data.length" ng-cloak>No data available</div>
                    <div class="ui-grid-nodata" ng-if="loadingDetail" ng-cloak>Loading data... <i class="fa fa-spinner fa-spin"></i></div>
                </div>
</div>
</bsform-detail>
