<script type="text/javascript">

</script>
<style type="text/css">


</style>


<bsform-grid
        ng-form="SumberProspectForm" 
		factory-name="SumberProspectFactory" 
		model="mSumberProspect" 
		model-id="ProspectSourceId" 
		loading="loading" 
		get-data="getData" 
		selected-rows="selectedRows" 
		on-select-rows="onSelectRows" 
		form-name="SumberProspectForm" 
		form-title="Sumber Prospect" 
		modal-title="Sumber Prospect" 
		modal-size="small"
		form-api="formApi" 
		do-custom-save="doCustomSave"
		icon="fa fa-fw fa-child">

        <div class="row">
            <div class="col-md-6">

				
				<div class="form-group">
					<bsreqlabel>Sumber Prospek</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="ProspectSourceName" placeholder="Sumber Prospect" ng-model="mSumberProspect.ProspectSourceName"
								maxlength="20" required
						>
					</div>
					<bserrmsg field="ProspectSourceName"></bserrmsg>
				</div>
            </div>
        </div>
        
</bsform-grid>


<!--<div class="row" ng-show="ShowSumberProspectDetail" style="min-height:100vh">
<button ng-disabled="mSumberProspect.ProspectSourceName==null||mSumberProspect.ProspectSourceName==undefined||mSumberProspect.ProspectSourceName==''" style="float: right;margin-right:10px" ng-show="ShowSimpanSumberProspect" ng-click="SimpanSumberProspect()"  type="button" class="rbtn btn ng-binding ladda-button" >
		<span class="ladda-label">
			Simpan
		</span><span class="ladda-spinner"></span>
	</button>
	
	<button style="float: right;margin-right:10px" ng-click="KembaliDariSumberProspect()"  type="button" class="rbtn btn ng-binding ladda-button" >
		<span class="ladda-label">
			Kembali
		</span><span class="ladda-spinner"></span>
	</button>

</div>-->
