<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="QueueCategory"
        factory-name="QueueCategory"
        model="mData"
        model-id="QCategoryId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="QueueCategoryForm"
        form-title="Queue Category"
        modal-title="Queue Category"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
        <div class="row">
          <div class="col-md-12" style="margin-bottom:10px;">  
            <div class="col-md-6">
              <div class="form-group" show-errors>
                  <div class="col-md-12">
                    <bsreqlabel>Name</bsreqlabel>
                  </div>
                  <div class="col-md-12">
                    <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" name="Name" placeholder="Name"
                               ng-model="mData.Name" ng-maxlength="255" required
                        >
                    </div>
                  </div>
                  <div class="col-md-12">
                    <bserrmsg field="Name"></bserrmsg>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-12"  style="margin-bottom:10px;">
            <div class="col-md-6">
              <div class="form-group" show-errors>
                  <div class="col-md-12">
                    <bsreqlabel>Autocall Weight</bsreqlabel>
                  </div>
                  <div class="col-md-12">
                    <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                        <input type="number" class="form-control" name="AutoCallWeight" placeholder="Autocall Weight"
                               ng-model="mData.AutoCallWeight" required
                        >
                    </div>
                  </div>
                  <div class="col-md-12">
                    <bserrmsg field="AutoCallWeight"></bserrmsg>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-12"  style="margin-bottom:10px;">
            <div class="col-md-6">
              <div class="form-group" show-errors>
                  <div class="col-md-12">
                    <bsreqlabel>Status</bsreqlabel>
                  </div>
                  <div class="col-md-6">
                      <input type="radio" name="Status" value="1" ng-model="mData.Status">Active
                  </div>
                  <div class="col-md-6">
                      <input type="radio" name="Status" value="0" ng-model="mData.Status" style="padding-left: 10px;">Non Active
                  </div>
                  <div class="col-md-12">
                    <input type="text" name="Status" ng-model="mData.Status" ng-hide="true" required="true">
                    <input type="text" name="QCategoryId" ng-model="mData.QCategoryId" ng-hide="true">
                  </div>
                  <div class="col-md-12">
                    <bserrmsg field="Status"></bserrmsg>
                  </div>
              </div>
            </div>
          </div>

        </div>

<!--             <div class="form-group" show-errors>
                <label>Parent Role</label>
                <bsselect
                          name="parentRole"
                          data="grid.data"
                          item-text="title"
                          item-value="id"
                          ng-model="mRole.pid"
                          placeholder="Select Parent Role"
                          icon="fa fa-child glyph-left"
                          style="min-width: 150px;">
                </bsselect>
                <bserrmsg field="parentRole"></bserrmsg>
            </div> -->
</bsform-grid>

