<div class="row" style="margin: 0 0 0 0">

    <div>
        <p>
            <button id="sendEmailBtn" ng-click="buatAddTaskListDariProspectSave()" class="rbtn btn ng-binding ladda-button" style="float: right;"> Simpan</button>
            <button id="saveBtn" class="wbtn btn ng-binding ladda-button" style="float: right;" ng-click="BackToProspectFromTaskListchildmethod()">Kembali</button>

        </p>
        <p>
            <br>
            <br>
        </p>

        <div class="formContent">
            <div ng-show="Show_Da_Salesman" style="margin-top:10px;">
                <label>Nama Salesman</label>
                <bsselect name="filterTipeAktivitas" ng-model="selected_data.SalesId" ng-change="DaftarSalesman()" data="optionsSalesForce" item-text="EmployeeName" item-value="EmployeeId" on-select="SalesmanId(selected)" placeholder=" ">
                </bsselect>
            </div>

            <label style="margin-top:15px;">Tipe Aktivitas</label>
            <!--<bsselect ng-disabled="DisableWhenEdit" name="filterTipeAktivitas" ng-model="selected_data.ActivityTypeId" ng-change="DaftarAktivitas()" data="optionsTipeAktivitasFiltered"
            item-text="ActivityTypeName" item-value="ActivityTypeId" on-select="AktivitasId(selected)" placeholder=" ">
        </bsselect>-->
            <select ng-disabled="DisableWhenEdit" required ng-model="selected_data.ActivityTypeId" class="form-control" ng-change="DaftarAktivitas()" ng-options="item.ActivityTypeId as item.ActivityTypeName for item in optionsTipeAktivitasFiltered" placeholder="Tipe Aktivitas">
		</select>

            <label style="margin-top:15px;" ng-show="comboTipeTugas">Tipe Tugas</label>

            <select ng-show="comboTipeTugas" required ng-model="selected_data.TaskTypeId" class="form-control" ng-options="item.TaskTypeId as item.TaskTypeName for item in optionsTipeTugas" placeholder="Tipe Aktivitas">
		</select>

            <div style="margin: 0 0 0 0;" class="row" ng-show="tipeCustomer">
                <div class="form-group">


                    <bsreqlabel style="margin-top:15px;">Nama Prospek/Nama Pelanggan</bsreqlabel>
                    <div class="input-group">
                        <input type="text" name="ProspectName" class="form-control" placeholder="Search" readonly ng-model="selected_data.ProspectName" ng-maxlength="50" style="height:35px" required>

                        <span class="input-group-addon">
						<button ng-click="lookupProspect()" ng-disabled="DisableWhenEdit"><span><i  class="fa fa-search"></i></span></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" style=" padding: 0%;" name="ProspectId" ng-show="false" ng-model="selected_data.ProspectId" ng-maxlength="50" ng-disabled="true">
                    <bsreqlabel>Kode Prospek</bsreqlabel>

                    <div class="input-group">
                        <input type="text" name="ProspectCode" class="form-control" style="height:35px" placeholder="Search" readonly ng-model="selected_data.ProspectCode" ng-maxlength="50" required>

                        <span class="input-group-addon">
						<button ng-click="lookupProspect()" ng-disabled="DisableWhenEdit"><span><i  class="fa fa-search"></span></i>
                        </button>
                        </span>
                    </div>



                </div>

                <p>No. Telepon
                </p>
                <p>
                    <input type="text" class="form-control" style="height:35px" placeholder="Prospect HP" readonly ng-model="selected_data.ProspectHP">
                </p>

                <p>Alamat Sesuai Identitas
                </p>
                <p>
                    <input type="text" class="form-control" style="height:35px" placeholder="Prospect Address" readonly ng-model="selected_data.ProspectAddress">
                </p>
            </div>
            <div style="margin: 0 0 0 0;" ng-show="tipeOther">
                <p>
                    <div id="JudulTugas">
                        <bsreqlabel>Judul Tugas</bsreqlabel>
                        <input type="text" maxlength="50" class="form-control" ng-model="selected_data.TaskName">
                    </div>
                </p>
            </div>

            <p style="margin-top:5px;">
                <bsreqlabel>Keterangan Tugas</bsreqlabel>
            </p>
            <p style="margin-top:5px;">
                <textarea style="width:100%" rows="10" cols="50" maxlength="200" placeholder="Keterangan Tugas..." ng-model="selected_data.TaskDescription"></textarea>
            </p>
            <p>
                <div id="toogleItem">
                    <div class="input-icon-right">
                        <label>	Aktivitas Sehari Penuh </label>
                        <div class="switch">
                            <input ng-change="SehariPenuhChanged()" ng-model="selected_data.FullDayActivityBit" id="cmn-toggle-5" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                            <label for="cmn-toggle-5"></label>
                        </div>

                    </div>
                </div>
            </p>
            <p>
            </p>



            <div class="row">
                <div class="col-xs-6">
                    <bsreqlabel>Tanggal Mulai</bsreqlabel>
                    <div class='input-group date' id='datetimepicker3'>
                        <input min="{{TodayDate}}" ng-change="DaStartDateChanged()" type="date" ng-model="selected_data.StartDate">
                    </div>
                </div>
                <div class="col-xs-6">
                    <bsreqlabel ng-hide="IsSeharian">Waktu Mulai</bsreqlabel>
                    <div ng-hide="IsSeharian" class='input-group date' id='datetimepicker3'>

                        <input ng-disabled="IsSeharian" type="time" ng-model="selected_data.StartTime" />


                    </div>
                </div>

            </div><br>

            <div class="row">
                <div class="col-xs-6">
                    <bsreqlabel>Tanggal Berakhir</bsreqlabel>
                    <div class='input-group date' id='datetimepicker3'>
                        <input min="{{MinDueDate}}" type="date" ng-model="selected_data.DueDate">
                    </div>
                </div>
                <div class="col-xs-6">
                    <bsreqlabel ng-hide="IsSeharian">Waktu Berakhir</bsreqlabel>
                    <div ng-hide="IsSeharian" class='input-group date' id='datetimepicker3'>
                        <input ng-disabled="IsSeharian" type="time" ng-model="selected_data.DueTime" />
                    </div>
                </div>

            </div><br>

            <div class="row">
                <div class="col-xs-6">
                    <p>
                        <bsreqlabel>Tanggal Pengingat</bsreqlabel>
                    </p>
                    <p>
                        <input ng-change="AddTaskListReminderChanged()" min="{{TodayDate}}" max="{{MaxReminderDate}}" type="date" ng-model="selected_data.ReminderDate">
                    </p>
                </div>
                <div class="col-xs-6">
                    <p>
                        <bsreqlabel>Waktu Pengingat</bsreqlabel>
                        <div class='input-group date' id='datetimepicker3'>
                            <input type="time" ng-model="selected_data.ReminderTime" />
                        </div>
                    </p>
                </div>

            </div>

            <br>

            <p>
                <label>Pasang sebagai tugas yang penting</label>
            </p>
            <p>
                <div id="toogleItem">
                    <div class="input-icon-right">
                        <div class="switch">
                            <input ng-model="selected_data.ImportantTaskBit" id="qqq" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                            <label for="qqq"></label>
                        </div>
                    </div>
                </div>
            </p>
            <p>
                <label style="margin-top:10px;" ng-hide="AddTaskListOperation=='Insert'">Status</label><br>
                <label ng-hide="AddTaskListOperation=='Insert'" ng-if="selected_data.StatusTaskName == ''">Open</label>
                <label ng-hide="AddTaskListOperation=='Insert'" ng-if="selected_data.StatusTaskName != ''">{{selected_data.StatusTaskName}}</label>
            </p>
            <p>
                <br>
            </p>
            <p>
                <br>
            </p>
        </div>

        <div class="ui modal ModalProspectBuatAddTaskList" role="dialog">

            <div class="modal-header">
                <button type="button" ng-click="BatalLookupProspect()" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" style="font-size:16px;">Nama Prospect / Nama Pelanggan</label>
            </div>
            <div class="modal-body">
                <div id="filterData" class="row" style="margin-bottom:5px;">
                    <div id="comboBoxFilter" style="float:left; width:45%;">
                        <div class="form-group filterMarg">
                            <select class="form-control" style="width:100%;" ng-model="ProspectSearchCriteria" ng-options="item.SearchOptionId as item.SearchOptionName for item in optionProspectSearchCriteria">
							</select>
                        </div>
                    </div>
                    <div id="inputFilter" style="float:left; width:45%;">
                        <div class="form-group filterMarg">
                            <input class="form-control" style="width:100%;" type='text' ng-model="ProspectSearchValue" />
                        </div>
                    </div>
                    <div id="btnFilter" style="float:left; width:10%;">
                        <button style=" margin-right: 0px!important" class="rbtn btn mobileFilterBtn" ng-click="SearchProspect()">
							<i class="fa fa-filter iconFilter"></i>
						</button>
                    </div>
                </div>
                <div style="max-height:450px;overflow-y:auto;" class="list-group" id="dropdownContentListDataRadio" aria-labelledby="dropdownMenu1">
                    <div class="list-group-item" ng-repeat="item in gridNoProspect" style="padding:10px 0px 10px 10px; background-color:#e8eaed;position: relative;float:left;width:100%">
                        <div style="float:left;width:95%">
                            <ul class="list-inline" style="font-size:16px;">
                                <li><label style="float: left;">{{item.ProspectName}}</label></li>
                            </ul>
                            <ul class="list-inline" style="font-size:14px;">
                                <li><label><a class="fa fa-tag"></a>&nbsp;&nbsp;{{item.ProspectCode}}</label></li>
                            </ul>
                            <ul class="list-inline" style="font-size:14px;">
                                <li>&nbsp;<label><a class="fa fa-mobile"></a>&nbsp;&nbsp;{{item.HP}}</label></li>
                            </ul>

                        </div>
                        <div style="display : inline-block;position:absolute;align-items : center;float:left;height: 100%;width:5%">
                            <div style="float:left;height: 100%;display :flex;align-items : center;">
                                <i ng-click="pilihProspect(item)" class="fa fa-chevron-right fa-lg" style="float:right;" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div ng-if="gridNoProspect.length==0">
                        <p align="center">Tidak ada data.</p>
                    </div>
                </div>
            </div>


        </div>

        <div class="ui modal ModalAddTaskListNotifikasiKembali" role="dialog">
            <div class="modal-header">
                <button type="button" ng-click="AddTaskListBatalKembaliUbah()" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Peringatan</h4>
            </div>
            <br/>
            <br/>
            <div class="modal-body">
                Apakah Anda Ingin Membatalkan Penyimpanan Data?
            </div>
            <div class="modal-footer">
                <button ng-click="AddTaskListJadiKembaliUbah()" class="rbtn btn ng-binding ladda-button" style="float: right;">Ya</button>
                <button ng-click="AddTaskListBatalKembaliUbah()" class="rbtn btn ng-binding ladda-button" style="float: right;">Tidak</button>
            </div>
        </div>



    </div>

</div>