<!--Harus item-->
<div style="font-size: 14px;margin-top:-10px;margin-bottom:-20px;margin-left:-10px;padding-left:10px;" ng-class="{BackRed: item.StatusTaskName=='Delay'}">

    <!--<p style="margin-bottom:-10px;padding-top:10px"><b style="margin-left:5px;">{{item.TaskTypeName}} -  {{item.TaskName}}{{item.ProspectName}}</b> <i ng-class="{BintangMerah: item.StatusTaskName!='Delay'}" ng-if="item.ImportantTaskBit == true" class="fa fa-star" ></i></p>-->
    <p style="margin-bottom:-3px;padding-top:10px">
        <div style="margin-left:5px;width:92%;margin-bottom:-10px">
            <b>{{item.TaskTypeName}} - {{item.TaskName}}{{item.ProspectName}}</b>
            <i ng-class="{BintangMerah: item.StatusTaskName!='Delay'}" ng-if="item.ImportantTaskBit == true" class="fa fa-star"></i>
        </div>
    </p>
    <p></p>
    <b style="margin-left:5px;font-size:12px;margin-top:-10px"><b>{{item.StartDate | date:"dd/MM/yyyy"}}</b> <label ng-if="item.FullDayActivityBit == false">{{item.StartTime.slice(0, -3)}}</label> - <b ng-if="item.StartDate.toString()!=item.DueDate.toString()">{{item.DueDate | date:"dd/MM/yyyy"}}</b>    <label ng-if="item.FullDayActivityBit == false">{{item.DueTime.slice(0, -3)}}</label></b>
    <button ng-class="{BackRed: item.StatusTaskName=='Delay'}" ng-click="openModal(item)" class="btn btn-default" style="float:right; border:0; box-shadow:none;background-color:transparent" id="myButton" type="button"> 
			<span ng-class="{BackRed: item.StatusTaskName=='Delay'}" class="fa fa-chevron-right" style="float:center;"> 
			</span> 
	</button>

    <p style="margin-top:-10px;" ng-class="{BackRed: item.StatusTaskName=='Delay'}">
        <ul class="list-inline" style="font-size:10px;" ng-class="{BackRed: item.StatusTaskName=='Delay'}">
            <li style="margin-bottom:10px"><b style="margin-left:5px">Status : {{item.StatusTaskName}}</b></li>
        </ul>

    </p>
</div>