<div class="row" ng-form="FormSPK">
    <div class="col-md-6">
        <fieldset>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Informasi SPK</legend>
                            <div class="col-md-12" style="padding-left:0px;">
                                <div class="col-md-8" style="padding-left:0px;">
                                    <div class="form-group">
                                        <bsreqlabel>SPK Utama</bsreqlabel>
                                        <!--  min=0 ng-disabled=true skip-enable disabled="disabled" -->
                                        <input required type="text" class="form-control" name="noSPKUtama" ng-model="mSPK.NoSPKUtama">
                                        <em ng-messages="FormSPK.noSPKUtama.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                                            <p ng-message="required">Wajib diisi</p>
                                        </em>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-left:0px;">
                                <div class="col-md-8" style="padding-left:0px;">
                                    <div class="form-group">
                                        <bsreqlabel>Nilai OR(IDR)</bsreqlabel>
                                        <!--  min=0 ng-disabled=true skip-enable disabled="disabled" -->
                                        <input max="300000" required type="text" currency-formating number-only class="form-control" name="nilaiOR" ng-model="mSPK.NilaiOR">
                                        <input ng-hide="true" min="300000" required type="number" class="form-control" name="nilaiOR" ng-model="mSPK.NilaiOR">
                                        <em ng-messages="FormSPK.nilaiOR.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                                            <p ng-message="required">Wajib diisi</p>
                                            <p ng-message="min">Minimal OR 300.000</p>
                                        </em>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-left:0px;">
                                <div class="col-md-8" style="padding-left:0px;">
                                    <div class="form-group">
                                        <label>No. Polis Asuransi</label>
                                        <!--  min=0 ng-disabled=true skip-enable disabled="disabled" -->
                                        <input type="text" class="form-control" name="noPolisiAsu" ng-model="mSPK.NoPolisIns">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-left:0px;">
                                <div class="col-md-8" style="padding-left:0px;">
                                    <div class="form-group">
                                        <label>No. LK</label>
                                        <!--  min=0 ng-disabled=true skip-enable disabled="disabled" -->
                                        <input type="text" class="form-control" name="noLk" ng-model="mSPK.NoLK">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Periode Polis</legend>
                            <div class="col-md-12" style="padding-left:0px;margin-bottom:15px;">
                                <div class="col-md-8" style="padding-left:0px;">
                                    <label>Periode Mulai</label>
                                    <bsdatepicker name="startPeriod" date-options="DateOptionsSPK" ng-model="mSPK.SPKStartPeriod">
                                    </bsdatepicker>
                                </div>
                            </div>
                    
                            <div class="col-md-12" style="padding-left:0px;margin-bottom:15px;">
                                <div class="col-md-8" style="padding-left:0px;">
                                    <label>Periode Berakhir</label>
                                    <bsdatepicker name="endPeriod" date-options="DateOptionsSPK" ng-model="mSPK.SPKEndPeriod">
                                    </bsdatepicker>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>