<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="activeJustified" justified="true" style="margin-top: 40px;">
                <uib-tab ng-repeat="header in headerJB" index=$index heading="{{header.name}}" ng-click='cekDisablingContent($index)' class="headerJobList">
                    <div ng-if="$index == 0">
                        <uib-accordion close-others="false">
                            <form>
                                <!-- <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Payment
                                    </uib-accordion-heading>
                                    <div id='accPaymentJob' class="row">
                                        <div class="col-md-6">
                                            <fieldset style="border:2px solid #e2e2e2;padding:20px">
                                                <legend style="width:inherit;margin:0px;border-bottom:0px;">Pembayaran</legend>
                                                <div class="col-md-12" style="padding-left: 0px;" id="fieldsetPembayaran">
                                                    <div class="col-md-6">
                                                        <div class="radio">
                                                            <label class="radio" style="margin-top:5px;margin-bottom:6px;">
                                                                <input type="radio" name="typePembayaran" class="radiobox style-0"
                                                                    ng-model="mData.isCash"
                                                                    ng-click="cekPaymentlist(mData.isCash)"
                                                                    value="0"
                                                                    id="myRadio">
                                                                <span>Asuransi</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="radio">
                                                            <label class="radio" style="margin-top:5px;margin-bottom:6px;">
                                                                <input type="radio" name="typePembayaran" class="radiobox style-0"
                                                                    ng-model="mData.isCash"
                                                                    ng-click="cekPaymentlist(mData.isCash)"
                                                                    value="1"
                                                                    id="myRadio2">
                                                                <span>Cash</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group" ng-show="mData.isCash == 0">
                                                        <bsreqlabel>Nama Asuransi</bsreqlabel>

                                                        <select class="form-control" name="Asuransi" ng-model="mData.InsuranceName" data="Asuransi" item-text="InsuranceName" item-value="InsuranceName" placeholder="Choose Asuransi" ng-change="selectInsurance(mData.InsuranceName)" on-select="selectInsurance(selected)" icon="fa fa-building" ng-disabled="disAsuransi">
                                                            <option ng-repeat="Asuransi in Asuransi" value="{{Asuransi.InsuranceName}}">{{Asuransi.InsuranceName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset ng-show="mData.isCash == 0" style="border:2px solid #e2e2e2;padding:20px">
                                                <legend style="width:inherit;margin:0px;border-bottom:0px;">Ada SPK</legend>
                                                <div class="col-md-6">
                                                    <div class="radio">
                                                        <label class="radio" style="margin-top:5px;margin-bottom:6px;">
                                                            <input type="radio" name="typeSPK" class="radiobox style-0"
                                                                ng-model="mData.isSpk"
                                                                ng-click="cekSPKlist(mData.isSpk)"
                                                                ng-disabled=""
                                                                value="1">
                                                            <span>Ya</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="radio">
                                                        <label class="radio" style="margin-top:5px;margin-bottom:6px;">
                                                            <input type="radio" name="typeSPK" class="radiobox style-0"
                                                                ng-model="mData.isSpk"
                                                                ng-click="cekSPKlist(mData.isSpk)"
                                                                ng-disabled=""
                                                                value="0">
                                                            <span>Tidak</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div ng-show="mData.isSpk == '1'" class="col-md-12">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <bsreqlabel>No. SPK</bsreqlabel>
                                                            <input type="text" class="form-control" name="noSPK" placeholder="No SPK" ng-model="mData.SpkNo" ng-maxlength="50">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="btn-group" style="margin-top:25px;">
                                                            <button type="button" id="btnCekSPK" ng-click="preDiagnose()" class="rbtn btn ng-binding">
                                                                <i class="fa fa-fw fa-save"></i>
                                                                Cek SPK
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-show="mData.isSpk == 1" class="col-md-12">
                                                    <bsreqlabel>Own Risk Amount</bsreqlabel>
                                                    <input type="text" class="form-control" name="ORAmount" ng-model="mData.ORAmount" ng-keyup="givePatternHarga(mData.ORAmount,$event)">
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div> -->

                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Permintaan
                                    </uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <bslist button-settings="ButtonList" form-name="jobRequestBuatBP" data="JobRequest" m-id="JobRequestId" list-model="lmRequest" on-select-rows="onListSelectRows" selected-rows="listRequestSelectedRows" confirm-save="false" list-api="listApiJobRequest" button-settings="listButtonSettings"
                                                modal-size="small" modal-title="Permintaan" list-title="Permintaan" list-height="200">
                                                <bslist-template>
                                                    <div>
                                                        <div class="form-group">
                                                            <textarea class="form-control" placeholder="Permintaan" ng-model="lmItem.RequestDesc" ng-disabled="true" skip-enable>
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </bslist-template>
                                                <bslist-modal-form>
                                                    <div ng-form="rowRequest">
                                                        <div class="form-group" show-errors>
                                                            <bsreqlabel>Permintaan</bsreqlabel>
                                                            <textarea ng-maxtlength="200" maxlength="200" class="form-control" placeholder="Permintaan" name='reqdesc' ng-model="lmRequest.RequestDesc" required>
                                                            </textarea>
                                                            <em ng-messages="rowRequest.reqdesc.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                                                                <p ng-message="required">Wajib diisi</p>
                                                            </em>
                                                        </div>
                                                    </div>
                                                </bslist-modal-form>
                                            </bslist>
                                        </div>
                                    </div>
                                </div>

                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Keluhan
                                    </uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <bslist button-settings="ButtonList"  form-name="jobComplaintBuatBP" data="JobComplaint" m-id="JobComplaintId" list-model="lmComplaint" on-select-rows="onListSelectRows" selected-rows="listComplaintSelectedRows" confirm-save="fals" list-api="listApiJobComplaint" button-settings="listButtonSettings"
                                                modal-size="small" modal-title="Keluhan" list-title="Keluhan" list-height="200">
                                                <bslist-template>
                                                    <div>
                                                        <div class="form-group">
                                                            <bsreqlabel>Kategori: </bsreqlabel>
                                                            <!-- <bsselect data="vm.appScope.ComplaintCategory" item-value="ComplaintCatg" item-text="ComplaintCatg" ng-model="lmItem.ComplaintCatg" placeholder="Kategori" ng-disabled="true" skip-enable>
                                                            </bsselect> -->
                                                            <select class="form-control" data="vm.appScope.ComplaintCategory" ng-model="lmItem.ComplaintCatg" placeholder="Kategori" ng-disabled="true" skip-enable>
                                                                <option ng-repeat="vac in vm.appScope.ComplaintCategory" value="{{vac.ComplaintCatg}}">{{vac.ComplaintCatg}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <textarea class="form-control" placeholder="Deskripsi" ng-model="lmItem.ComplaintDesc" ng-disabled="true" skip-enable>
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </bslist-template>
                                                <bslist-modal-form>
                                                    <div ng-form="rowcomplaint" style="margin-bottom:90px;">
                                                        <div class="form-group">
                                                            <bsreqlabel>Kategori</bsreqlabel>
                                                            <!-- <bsselect data="ComplaintCategory" name="ctype" item-value="ComplaintCatg" item-text="ComplaintCatg" ng-model="lmComplaint.ComplaintCatg" placeholder="Kategori" required>
                                                            </bsselect> -->
                                                            <select class="form-control" data="ComplaintCategory" name="ctype" ng-model="lmComplaint.ComplaintCatg" placeholder="Kategori" required>
                                                                <option ng-repeat="ComplaintCategory in ComplaintCategory" value="{{ComplaintCategory.ComplaintCatg}}">{{ComplaintCategory.ComplaintCatg}}</option>
                                                            </select>
                                                            <em ng-messages="rowcomplaint.ctype.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                                                                <p ng-message="required">Wajib diisi</p>
                                                            </em>
                                                            <!-- <bserrmsg field="ctype"></bserrmsg> -->
                                                        </div>
                                                        <div class="form-group">
                                                            <bsreqlabel>Deskripsi</bsreqlabel>
                                                            <textarea class="form-control" placeholder="Deskripsi" name="ctext" ng-model="lmComplaint.ComplaintDesc" required>
                                                            </textarea>
                                                            <em ng-messages="rowcomplaint.ctext.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                                                                <p ng-message="required">Wajib diisi</p>
                                                            </em>
                                                            <!-- <bserrmsg field="ctext"></bserrmsg> -->
                                                        </div>
                                                    </div>
                                                </bslist-modal-form>
                                            </bslist>
                                        </div>
                                    </div>
                                </div>

                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Job List
                                    </uib-accordion-heading>
                                    <div class="row" style="margin-bottom:25px;">
                                        <div id='accCategoryJob' class="col-md-12">
                                            
                                            <div class="col-md-6">
                                                <bsreqlabel>Kategori WO</bsreqlabel>
                                                <!-- <bsselect name="CatWO" ng-model="mData.WoCategoryId" data="woCategory" item-text="Name" item-value="MasterId" placeholder="Pilih Kategori WO" on-select="selectCatWO(selected)" icon="fa fa-list">
                                                </bsselect> -->
                                                <select class="form-control" name="CatWO" ng-model="mData.WoCategoryId" data="woCategory" placeholder="Pilih Kategori WO" ng-change="selectCatWO(mData.WoCategoryId)" icon="fa fa-list">
                                                    <option ng-repeat="woCategory in woCategory" value="{{woCategory.MasterId}}">{{woCategory.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                    <bsreqlabel>Kategori Perbaikan</bsreqlabel>
                                                    <!-- <bsselect name="CatPerbaikan" ng-model="mData.JobCatgForBP" data="CatPerbaikan" item-text="Name" item-value="MasterId" placeholder="Pilih Kategori Perbaikan" on-select="selectedCatPerbaikan(selectInsuranceed)" icon="fa fa-list">
                                                    </bsselect> -->
                                                    <select class="form-control" name="CatPerbaikan" ng-model="mData.JobCatgForBPid" data="CatPerbaikan" placeholder="Pilih Kategori Perbaikan" on-select="selectedCatPerbaikan(selectInsuranceed)" icon="fa fa-list">
                                                        <option ng-repeat="CatPerbaikan in CatPerbaikan" value="{{CatPerbaikan.MasterId}}">{{CatPerbaikan.Name}}</option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <!-- <button ng-click="newSpk()" class="rbtn btn pull-right">cek anjing</button> -->

                                        <div class="col-md-6" style="margin-left:-10px" ng-show = "flagCash == 0">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <label for="exampleInputName2">Own Risk Amount :</label>
                                                    <input type="text" ng-disabled="true" skip-enable name="No.SpkAdditional" ng-model="ORA.data" class="form-control" style="text-transform: uppercase"  skip-enable>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 pull-right" style="margin-right: 0px;padding-right:0px;">
                                            <button id="btnPlush" ng-click="plushOrder()" ng-disabled="flagCash == 1 || flagInduk == 1 || $scope.AJobSPK.length == 0" skip-enable class="rbtn btn pull-right">Tambah</button>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <!-- is-open='true' -->
                                        <uib-accordion close-others="true">
                                            <div uib-accordion-group class="panel-default" ng-repeat="a in EstimateData" style="margin-top: 15px;">

                                                <uib-accordion-heading>
                                                    <div ng-click="checkedData(a)">
                                                        <span ng-if="a.IsPayment == 1 || flagCash == 1">Tipe Pembayaran Customer</span>
                                                        <br ng-if="a.IsPayment  == 1 || flagCash == 1">
                                                        <span ng-if="a.IsPayment != 1 && flagCash == 0">No.SPK : </span><span  ng-if="a.IsPayment != 1 && flagCash == 0" style="text-transform: uppercase">
                                                        <!-- ng-if="a.fromEst == 1" -->
                                                        {{a.NoSpk}}</span>

                                                        <br ng-if="a.IsPayment != 1 && flagCash == 0 && a.SpkNoAdditional != null ">
                                                        <span ng-if="a.IsPayment != 1 && flagCash == 0 && a.SpkNoAdditional != null ">No.SPK Additional : 
                                                            <span  ng-if="a.fromEst == 0" style="text-transform: uppercase" ng-if="a.fromEst == 1">{{a.SpkNoAdditional}}</span> 
                                                            <!-- <span  ng-if="a.fromEst == 0" style="text-transform: uppercase" ng-if="a.fromEst == 1"> - </span>  -->
                                                            <input type="text" name="No.SpkAdditional" ng-model="lol[$index]"  style="text-transform: uppercase" ng-if="a.fromEst == 1" skip-enable>
                                                        </span>


                                                        <!-- <span ng-if="a.IsPayment != 1 && flagCash == 0">No.SPK Additional : - </span> -->
                                                        <br ng-if="a.IsPayment != 1 && flagCash == 0">
                                                        <!-- <span>{{a.arrTMPEST.length}}</span> -->
                                                        <span>No Estimasi :</span>
                                                        <br>
                                                        <span ng-if="a.arrTMPEST.length <= 1">Estimasi 1 : {{a.EstimationNo}} </span>
                                                        <!-- <span>{{a.arrTMPEST.length}}</span> -->
                                                        <!-- <span ng-if="a.arrTMPEST.length > 1">No.Estimasi</span> -->
                                                        <!-- <p ng-if="a.arrTMPEST.length > 1" ng-repeat="b in a.arrTMPEST"> -->
                                                        <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                                                            <div class="col-md-4" style="margin-top: 10px;padding-left: 0px;padding-right: 0px;" ng-if="a.arrTMPEST.length > 1" ng-repeat="b in a.arrTMPEST">
                                                                 Estimasi {{$index + 1}}: {{b.TmpEstimationNo}}
                                                            </div>
                                                        </div>
                                                        <!-- </p> -->
                                                        <!-- <br ng-if="a.IsPayment != 1 && flagCash == 0">
                                                        <br ng-if="a.IsPayment != 1 && flagCash == 0"> -->
                                                        <!-- <span ng-if="a.IsPayment != 1 && flagCash == 0">OR Amount : {{a.ORAmount | currency:"Rp. ":0}}</span> -->
                                                        <!-- <br  ng-if="a.fromEst == 1"> -->
                                                        <br>
                                                        <div ng-if="a.SpkNoAdditional != null">
                                                            <i ng-click="deleteEstimation(a,$index)" ng-if="a.fromEst == 1 || a.JobTask.length == 0" class="pull-right fa fa-trash" aria-hidden="true"></i>
                                                        </div>
                                                        <br>
                                                    </div>
                                                </uib-accordion-heading>
                                                
                                                <div class="row">
                                                    <!-- <div class="col-md-12">
                                                        <button ng-click="plushTask()" class="rbtn btn pull-right">Tambah Jasa</button>
                                                        <button ng-click="plushEstimation()" class="rbtn btn pull-right">Cek Estimasi</button>
                                                    </div> -->
                                                    <!-- list-api='listApi'  -->
                                                    <div class="col-md-12" ng-if="refreshBsnya">
                                                        <bslist 
                                                            button-settings="ButtonList" 
                                                            data="bslistIdentity['bslistJob'+a.IdFlag].Data" 
                                                            form-name="joblistBuatBP" 
                                                            on-before-new="onBeforeNew" 
                                                            on-before-edit="onBeforeEditJob" 
                                                            on-before-save="onBeforeSave" 
                                                            on-after-save="onAfterSave" 
                                                            on-after-delete="onAfterDelete" 
                                                            m-id="JobTaskId" 
                                                            d-id="PartsId" 
                                                            list-model="lmModel" 
                                                            button-caption="ubahLabel"
                                                            custom-button-settings="customButtonSetting"
                                                            list-detail-model="ldModel" 
                                                            grid-detail="gridPartsDetail" 
                                                            on-select-rows="onListSelectRows" 
                                                            selected-rows="listJoblistSelectedRows" 
                                                            modal-title="Job Data" 
                                                            modal-title-detail="Parts Data"
                                                            list-api="listApiList['bslistJob'+a.IdFlag].listApi" 
                                                            list-title="Job List">
                                                            <bslist-template>
                                                                <div class="col-md-1" style="text-align:left;">
                                                                    <p class="name"><strong>{{ lmItem.NumberParent }}</strong></p>
                                                                </div>
                                                                <div class="col-md-5" style="text-align:left;">
                                                                    <div class="col-md-12">
                                                                        <p class="name"><strong>{{ lmItem.TaskName }}</strong></p>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <p>Harga : {{lmItem.Fare * ((lmItem.FlatRate == null || lmItem.FlatRate == undefined) ? 1 :  lmItem.FlatRate) | currency:"Rp."}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <p>Satuan : {{lmItem.UnitBy}}</p>
                                                                    <p>Pembayaran : {{lmItem.PaidBy}}</p>
                                                                </div>
                                                                <div class="col-md-3" style="text-align:right;">
                                                                    <p>{{lmItem.EstNoUI}}</p>
                                                                </div>
                                                            </bslist-template>
                                                            <bslist-detail-template>

                                                                <div class="col-md-1">
                                                                    <p><strong>{{ ldItem.NumberChild }}</strong></p> 
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <p><strong>{{ ldItem.PartsCode }}</strong></p>
                                                                    <p>{{ ldItem.PartsName }}</p>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <p>{{ ldItem.Availbility }}
                                                                    </p>
                                                                    <p>Pembayaran : {{ ldItem.PaidBy}}</p>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <p>Jumlah : {{ldItem.Qty}} {{ldItem.Name}}
                                                                    </p>
                                                                    <p>Harga : {{ ldItem.RetailPrice | currency:"Rp."}}</p>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <p>ETA : {{ ldItem.ETA | date:'dd-MM-yyyy'}}
                                                                    </p>
                                                                    <!-- <p>Reserve : {{ ldItem.Qty }}</p> -->
                                                                    <p ng-if="ldItem.QtyReserved >= 0">Reserve : {{ ldItem.QtyReserved }}</p>
                                                                    <p ng-if="ldItem.QtyReserved == null || ldItem.QtyReserved == undefined">Reserve : 0</p>
                                                                </div>
                                                            </bslist-detail-template>
                                                            <bslist-modal-form>
                                                                <div class="row">
                                                                    <div ng-include="'app/services/reception/bstkList/modalFormMaster.html'">
                                                                    </div>
                                                                </div>
                                                            </bslist-modal-form>
                                                            <bslist-modal-detail-form>
                                                                <div class="row">
                                                                    <div ng-include="'app/services/reception/bstkList/modalFormDetail.html'">
                                                                    </div>
                                                                </div>
                                                            </bslist-modal-detail-form>
                                                        </bslist>
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-accordion>
                                        
                                    </div>
                                </div>
                            </form>
                        </uib-accordion>
                    </div>
                    <div ng-if="$index == 1">
                        <div id='accTimeWork' class="col-md-12">
                            <div class="row">
                                <div ng-if="modeForm == 'edit' && mData.Status !== 15" ui-grid="gridTimeWork" ui-grid-edit ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                                </div>
                                <div ng-if="modeForm == 'view' || mData.Status == 15" ui-grid="gridTimeWork" ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-3">
                                    <label for="">TOTAL LEAD TIME</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" ng-model="estHoursWork" size='5' ng-readonly="true">&nbsp;<label>JAM</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" ng-model="estDaysWork" size='5' ng-readonly="true">&nbsp;<label>Hari</label>
                                </div>
                                <div class="col-md-2">
                                    <button ng-click="calculateforwork()" class="rbtn btn"><i class="fa fa-fw fa-clock-o"></i>&nbsp;Calculate Time</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>