<style type="text/css">

</style>
<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-2">
    <span class="pull-right">
        <button type="button" class="btn btn-success" ng-click="saveAcces()" style="height: 30px">SIMPAN</button>
    </span>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- <br> -->
<bsform-grid
        name="crmAccessMatrix"
        ng-form="crmAccessMatrixForm"
        factory-name="CAccessMatrix"
        model="mAccesFilter"
        loading="loading"

        get-data="getData"

        on-select-rows="onSelectRows"

        show-advsearch="on"
        on-show-detail = "onShowDetail"
        on-before-save = "onBeforeSaveMaster"


        form-api="formApi"

        hide-edit-button="true"
        hide-new-button="true"
        grid-hide-action-column="true"

        form-name="AccesMatrixForm"
        form-title="Pencarian Spesifik"

        icon="fa fa-fw fa-child"



>
<bsform-advsearch>
<!-- <div id="content" style="padding:0;">
    <div class="bs-navbar no-content-padding" style="height:40px;margin:0px;padding:7px 15px 10px 7px;"> -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <bsreqlabel>Dealer</bsreqlabel>
                    <bsselect name="outlet"
                        ng-model="mAccesFilter.dealerId"
                        data="orgData"
                        item-text="GroupDealerName"
                        item-value="GroupDealerId"
                        placeholder="Pilih Dealer ...."
                        on-select="selectDealer(selected)"
                        icon="fa fa-sitemap">
                    </bsselect>    
                </div>
                <div class="form-group">
                    <bsreqlabel>Outlet</bsreqlabel>
                    <bsselect ng-model="mAccesFilter.OutletId" item-text="Name" data="outletData" ng-disabled="mAccesFilter.dealerId == undefined" item-value="OutletId" placeholder="Pilih Outlet..." on-select="selectRole(selected)"></bsselect>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group"><bsreqlabel>Roles</bsreqlabel>
                <bsselect ng-model="mAccesFilter.RoleId" item-text="Name" data="roleData" item-value="Id" placeholder="Select Role..." on-select="selectRole(selected)"></bsselect>
                </div>
            </div>
            <div class="col-md-4">
            <!-- <span class="pull-right">
                <br>
                <div class="form-group">
                    <button type="button" class="btn btn-success" ng-click="saveAcces()">SIMPAN</button>
                </div>
            </span> -->
            </div>
            <!-- <div class="col-md-4">
                <div class="input-icon-right">
                    <i class="fa fa-id-card-o"></i>
                    <input type="text" class="form-control" name="toyotaId" placeholder="Toyota ID"  ng-disabled="filterSearch.choice" ng-model="filterSearch.TID" ng-maxlength="15" required disallow-space>
                </div>
                <a href="#" ng-click="forget()">Lupa Toyota ID</a>
            </div> -->
        </div>
    <!-- </div>
</div> -->
    <!-- <div class="row form-group">
        <div class="col-md-2">
            <div class="bslabel-horz" uib-dropdown style="position:relative!important;">
                <a href="#" style="color:#444" onclick="this.blur()" uib-dropdown-toggle data-toggle="dropdown">
                    {{filterFieldSelected}}&nbsp;<span class="caret"></span><span style="color:#b94a48;">&nbsp;*</span>
              </a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li role="menuitem" ng-repeat="item in filterField">
                        <a href="#" ng-click="filterFieldChange(item)">{{item.desc}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4" ng-if="(filterSearch.flag != 6)">
            <input type="text" class="form-control" name="filterValue" placeholder="" ng-model="filterSearch.filterValue" ng-maxlength="15" ng-disabled="filterSearch.choice" disallow-space>
        </div>
        <div class="col-md-4" ng-if="(filterSearch.flag == 6)">
            <bsdatepicker name="filterValueDate" date-options="dateOptionsFilter" ng-model="filterSearch.filterValue"></bsdatepicker>
        </div>
    </div> -->
    <br>

</bsform-advsearch>
</bsform-grid>
<!--

        detail-action-button-settings = "detailActionButtonSettings"
        model-id = "CustomerOwnerId"
        grid-custom-action-button-template="gridActionButtonTemplate"
        grid-custom-action-button-colwidth="50"
        action-button-caption="actionButtonCaption"

        linksref="app.vehicleData"
        linkview="vehicleData@app"
        modal-title="Infopelanggan"
        modal-size="small"
        form-api="formApi"

 -->
<!-- <div id="content" style="padding:0;">
    <div class="bs-navbar no-content-padding" style="height:40px;margin:0px;padding:7px 15px 10px 7px;">
    </div>
    <div id="layoutContainer_sam" style="position:relative;margin:0px;padding:0px;height:100%;">
        <ui-layout options="{flow:'column', dividerSize:2,disableToggle:true}">
            <div ui-layout-container size="25%">
                <div class="inbox-side-bar" style="width:100%;">
                    <h6 style="padding:0px;margin:0px;font-size:1.4rem;">ORGANIZATION CHART
                    </h6>
                    <hr>
                    <abn-tree tree-data="orgData"
                              tree-control="ctlOrg"
                              on-select="showSelOrg(branch)">
                    </abn-tree>
                </div>
            </div>

            <div ui-layout-container size="75%">
                <div class="inbox-side-bar" style="width:100%;">
                    <h6 style="padding:0px;margin:0px;font-size:1.4rem;">SERVICE ACCESS MATRIX
                        <div class="pull-right" style="margin-top:-0.2rem;" ng-hide="!selOrg">
                                <label style="display:table-cell;vertical-align: middle;">Role:</label>
                                <bsselect title="Role" data="roleData" item-key="title" placeholder="Select Role..." on-select="selectRole(selected)"></bsselect>
                        </div>
                    </h6>
                    <hr>
                    <div class="ui icon info message no-animate" ng-show="!selOrg && !selRole" ng-cloak>
                          <i class="fa fa-info-circle fa-2x fa-fw"></i>
                          <div class="content">
                            <div class="header">
                              Please select Organization to manage
                            </div>
                          </div>
                    </div>
                    <div class="ui icon info message no-animate" ng-show="selOrg && !selRole" ng-cloak>
                          <i class="fa fa-info-circle fa-2x fa-fw"></i>
                          <div class="content">
                            <div class="header">
                              Please select Role to manage
                            </div>
                          </div>
                    </div>
                    <div class="ui fluid card" ng-if="selOrg && selRole">
                        <div class="content" style="background-color: whitesmoke;">
                            <div class="right floated meta time">
                                <div class="btn-group">
                                    <button class="zbtnsc btn btn-default" tooltip="Add" tooltip-placement="bottom" class="txt-color-darken" ng-click="actAssign()" ng-disabled="!selOrg || !selRole">
                                        <i class="fa fa-plus"> </i>
                                    </button>
                                    <button class="zbtnsc btn btn-default" tooltip="Edit" tooltip-placement="bottom" class="txt-color-darken" ng-click="actEdit()" ng-disabled="gridApiServiceRights.selection.getSelectedRows().length != 1">
                                        <i class="fa fa-edit"> </i>
                                    </button>
                                    <button class="zbtnsc btn btn-default" tooltip="Delete" tooltip-placement="bottom" class=" txt-color-darken" ng-click="actRemove()" ng-disabled="gridApiServiceRights.selection.getSelectedRows().length < 1">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="header" style="font-weight:300;">SERVICE LIST</div>
                            <div class="meta">Organization: {{selOrg.title}} / Role: {{selRole.title}}</div>
                        </div>
                        <div id="grid1" ui-grid="gridServiceRights" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid" ng-style="getTableHeight()" ng-hide="!selRole">
                            <div class="ui-grid-nodata" ng-show="!gridServiceRights.data.length">No data available</div>
                        </div>
                    </div>
                </div>
            </div>
        </ui-layout>
    </div>
</div> -->

<!-- modal -->
<!-- <form name="ServiceListForm">
<bsmodal id="modalServiceList" title="Add Service In Organization"
         visible="sm_showServiceList" action="doAssign()" size="large"
         action-disabled="gridApiService.selection.getSelectedRows().length==0" action-caption="Assign" action-icon="user-plus">
    <div class="content">
        <div id="grid2" ui-grid="gridService"
            ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize
            class="grid" ng-style="getTableHeightService()">
        </div>
    </div>
</bsmodal>
</form>

<form name="RemoveServiceForm">
<bsmodal id="modalConfirmRemoveService" title="Remove Service From Organization" visible="sm_showRemoveService"
         action="doRemove()" action-caption="Remove" action-icon="user-times">
    <div class="content">
        <p> <span style="color:#FF0000">{{gridApiServiceRights.selection.getSelectedRows().length}} </span> service(s) will be deleted from <span style="color:#FF0000">{{selOrg.title}}</span> with role <span style="color:#FF0000">{{selRole.title}}</span>
        </p>
    </div>
</bsmodal>
</form> -->
