<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<script type="text/javascript">
    function navigateTabMaintainQuotation(containerId, divId) {
        $("#" + containerId).children().each(function (n, i) {
            var id = this.id;
            console.log(id + ' - ' + divId);
            if (id == divId) {
                $('#' + divId).attr('class', 'tab-pane fade in active');
            } else {
                $('#' + id).attr('class', 'tab-pane fade');
            }
        });
    }
</script>

<style type="text/css">
</style>

<div ng-show="MaintainQuotationShow">
    <bsform-grid ng-form="MaintainQuotationForm" factory-name="MaintainQuotationFactory" model="mMaintainQuotation" model-id="Id" get-data="getData" selected-rows="selectedRows" show-advsearch="on" on-select-rows="onSelectRows" grid-hide-action-column="true"
        form-name="MaintainQuotationForm" form-title="Maintain Quotation" modal-title="Maintain Quotation" modal-size="small" icon="fa fa-fw fa-child" hide-new-button="true">
        <bsform-advsearch>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group" show-errors>
                        <bsreqlabel>Status Quotation</bsreqlabel>
                        <bsselect name="statusquotation" data="dataQuotation" item-text="QuotationStatusName" item-value="QuotationStatusId" ng-model="filter.QuotationStatusId" placeholder="Status Quotation" icon="fa fa-car glyph-left" style="min-width: 150px;">
                        </bsselect>
                        <!-- <bserrmsg field="statusquotation"></bserrmsg> -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" show-errors>
                        <label>Model</label>
                        <bsselect name="ModelKendaraan" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" ng-model="filter.VehicleModelId" on-select="filterModel(selected)" placeholder="Model Kendaraan" icon="fa fa-car glyph-left" style="min-width: 150px;">
                        </bsselect>
                        <!-- <bserrmsg field="ModelKendaraan"></bserrmsg> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <label>Tipe</label>
                        <bsselect name="TypeKendaraan" data="listTipe" item-text="TypeDescKatashikiSuffix" item-value="VehicleTypeId" ng-model="filter.VehicleTypeId" ng-change="pilihType(filter.VehicleTypeId)" placeholder="Tipe Kendaraan" icon="fa fa-car glyph-left" style="min-width: 150px">
                        </bsselect>
                        <!-- <bserrmsg field="TypeKendaraan"></bserrmsg> -->
                    </div>
                </div>
            </div>
        </bsform-advsearch>
    </bsform-grid>

    <!--<bsui-modal show="show_modal.show" title="Alasan Batal Quotation" data="modal_model" on-save="onListSave" on-cancel="onListCancel" mode="modalMode">
        <div ng-form name="contactForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <bsreqlabel>Alasan</bsreqlabel>
                        <bsselect name="Alasan" ng-model="Selectedrow.QuotationCancelReasonId" data="dataCancel" item-text="QuotationCancelReasonName" item-value="QuotationCancelReasonId" on-select="QuotationCancelReasonId" placeholder="Select" required>
                        </bsselect>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <bsreqlabel>Keterangan</bsreqlabel>
                        <textarea type="text" class="form-control" name="Keterangan" placeholder="" ng-model="Selectedrow.NoteCancel" maxlength="250" rows="5" cols="60" required>
                    </div>
                </div>
            </div>
        </div>
    </bsui-modal>-->
	
    <div class="ui modal ModalMaintainQuotation_AlasanBatalQuotation" role="dialog">    
		<div class="modal-header">
                <button ng-click="KembaliModalMaintainQuotation_AlasanBatalQuotation()" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alasan Batal Quotation</h4>
            </div>
		<div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <bsreqlabel>Alasan</bsreqlabel>
                        <bsselect name="Alasan" ng-model="Selectedrow.QuotationCancelReasonId" data="dataCancel" item-text="QuotationCancelReasonName" item-value="QuotationCancelReasonId" on-select="QuotationCancelReasonId" placeholder="Select" required>
                        </bsselect>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <bsreqlabel>Keterangan</bsreqlabel>
                        <textarea type="text" class="form-control" name="Keterangan" placeholder="" ng-model="Selectedrow.NoteCancel" maxlength="250" rows="5" cols="60" required>
                    </div>
                </div>
            </div>
        </div>
		<div class="modal-footer">
                <button ng-click="SimpanModalMaintainQuotation_AlasanBatalQuotation()" class="rbtn btn ng-binding ladda-button" style="float: right;"><span><i class="fa fa-check" aria-hidden="true"></i>Simpan</span></button>
				<button ng-click="KembaliModalMaintainQuotation_AlasanBatalQuotation()" class="wbtn btn ng-binding ladda-button" style="float: right;">Kembali</button>
            </div>
    </div>
</div>

<div ng-show="BuatQuotationShow">
    <button id="btnkembaliquo" ng-click="btnkembaliQuotation()" class="wbtn btn ng-binding ladda-button" style="float:right; margin:-30px 0 0 10px">Kembali</button>

    <fieldset ng-disabled="true">
        <div class="row" style="padding-top:12px;">
                <div class="col-md-3">
                        <div class="form-group">
                            <label>No. Quotation</label>
                            <div class="input-icon-right">
                                <i class="fa fa-sitemap"></i>
                                <input type="text" class="form-control" name="nama" placeholder="" ng-model="Selectedrow.QuotationNo" ng-maxlength="60" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="form-group">
                                 <bsreqlabel>Tanggal Quotation</bsreqlabel>
                                 <bsdatepicker
                                     name="tanggal"
                                     date-options="dateOptions"
                                     ng-model="Selectedrow.QuotationDate"
                                     icon="fa fa-calendar">
                                 </bsdatepicker>
                             </div>
                         </div>
                         <div class="col-md-3">
                                <div class="form-group">
                                    <bsreqlabel>Cabang yang meminta</bsreqlabel>
                                    <div class="input-icon-right">
                                        <i class="fa fa-sitemap"></i>
                                        <input type="text" class="form-control" name="nama" placeholder="" ng-model="Selectedrow.OutletRequestName" ng-maxlength="60" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="padding-right: 0px !important">
                                    <div class="form-group">
                                        <bsreqlabel>Tipe Quotation</bsreqlabel>
                                        <bsselect id="comboBox" name="Type" ng-model="Selectedrow.QuotationTypeId" data="dataType" item-text="QuotationTypeName" item-value="QuotationTypeId" on-select="QuotationTypeId" placeholder="Pilih Tipe Quotation" icon="fa fa-search"></bsselect>
                                    </div>
                                </div>
        </div>

        <div class="row" style="padding-top:10px;">
                <div class="col-md-3">
                        <div class="form-group">
                            <label>Status Quotation</label>
                            <div class="input-icon-right">
                                <i class="fa fa-sitemap"></i>
                                <input type="text" class="form-control" name="nama" placeholder="" ng-model="Selectedrow.QuotationStatusName" ng-maxlength="60" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                            <div class="form-group">
                                <bsreqlabel>Alasan Batal Quotation</bsreqlabel>
                                <bsselect name="Alasan" ng-model="Selectedrow.QuotationCancelReasonId" data="dataCancel" item-text="QuotationCancelReasonName" item-value="QuotationCancelReasonId" on-select="QuotationCancelReasonId" placeholder="Select">
                                </bsselect>
                            </div>
                        </div>
            
            
        </div>
    </fieldset>

    <ul class="nav nav-tabchild" style="margin-top:10px;">
        <li class="active"><a data-toggle="tab" href="#" onclick="navigateTabMaintainQuotation('tabContainermaintainQuo','menuInfoPengirimanquo');">Info Pengiriman</a></li>
        <li><a data-toggle="tab" href="#" onclick="navigateTabMaintainQuotation('tabContainermaintainQuo','menuinfounityangakandibeliquo');">Info Unit Yang Akan Dibeli</a></li>
        <li><a data-toggle="tab" href="#" onclick="navigateTabMaintainQuotation('tabContainermaintainQuo','menuRincianHargaquo');">Rincian Harga</a></li>
        <li ng-if="Selectedrow.QuotationTypeId == 3 || Selectedrow.QuotationTypeId == 4"><a data-toggle="tab" href="#" onclick="navigateTabMaintainQuotation('tabContainermaintainQuo','menuEkspedisiTAMquo');">Biaya Ekspedisi TAM</a></li>
    </ul>
    
    <fieldset ng-disabled="true">
        <div id="tabContainermaintainQuo" class="tab-content" style="padding-top: 15px">
            <div id="menuInfoPengirimanquo" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nama Penerima</label>
                            <div class="input-icon-right">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" name="nama" placeholder="" ng-model="Selectedrow.ReceiveName" ng-maxlength="60" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                       <div class="form-group">
                            <label>Alamat Penerima</label>
                            <div class="input-icon-right">
                                <textarea type="text" class="form-control" name="nama" placeholder="" ng-model="Selectedrow.SentAddress" rows="5" cols="60" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                       <div class="form-group">
                            <label>Handphone Penerima</label>
                            <div class="input-icon-right">
                                <i class="fa fa-mobile"></i>
                                <input type="text" class="form-control" name="nama" placeholder="" ng-model="Selectedrow.ReceiveHP" ng-maxlength="15" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                       <div class="form-group">
                            <label>Tanggal Pengiriman</label>
                            <bsdatepicker
                                name="tanggal"
                                date-options="dateOptions"
                                icon="fa fa-calendar"
                                ng-model="Selectedrow.SentDate">
                            </bsdatepicker>
                        </div>
                     </div>
                </div>
            </div>

            <div style="min-height: 100vh" id="menuinfounityangakandibeliquo" class="tab-pane fade">
                <fieldset ng-disabled="true">
                    <div class="row">
                        <div class="col-md-4">
                           <div class="form-group">
                                <label>Model Tipe</label>
                                <div class="input-icon-right">
                                    <i class="fa fa-car"></i>
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="Selectedrow.VehicleTypeDescription" 
                                    required>
                                </div>
                            </div>

                           <div class="form-group">
                                <label>Warna</label>
                                <!-- <i class="fa fa-search"></i> -->
                                <div class="input-icon-right">
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="Selectedrow.ColorName" required>
                                </div>
                            </div>

                           <div class="form-group">
                                <label>No. Rangka</label>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="Selectedrow.FrameNo" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tahun Produksi</label>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="Selectedrow.ProductionYear" 
                                    required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Lokasi Unit</label>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="Selectedrow.LocationName" 
                                    required>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div id="menuRincianHargaquo" class="tab-pane fade">
                <div class="row">
                        <div class="col-md-3 ">
                                <div class="form-group ">
                                    <label>TOP</label>
                                    <bsselect name="filterModel " style="margin-bottom: 10px " ng-model="Selectedrow.TOPId " data="termOfPayment " item-text="TermOfPayment " item-value="TermOfPaymentId " placeholder="Pilih TOP" icon="fa fa-search ">
                                    </bsselect>
                                </div>
                            </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <!-- <label>TOP</label> -->
                            <!-- <bsselect name="filterModel" style="margin-bottom: 10px" ng-model="dataQuotation.VehicleModelId" data="productModelData" item-text="VehicleModelName" item-value="VehicleModelId" on-select="filter.productModel=selected" placeholder="Select" icon="fa fa-search">
                            </bsselect> -->

                            <bsreqlabel>Down Payment</bsreqlabel>
                            <div class="input-icon-right ">
                                <input type="text" style="text-align: right;" input-currency class="form-control" name="DownPayment" placeholder="Down Payment" ng-model="Selectedrow.DownPayment" ng-maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <div id="textArea">
                                <label>Catatan</label>
                                <div class="input-icon-right">
                                    <textarea class="form-control" rows="5" id="comment" ng-model="Selectedrow.NotePrice">
                                    </textarea>
                    </div>
                </div>
            </div>
        </div>
</div>

<!--- Disini Rincian Harganya -->

<table class="table table-bordered table-responsive" style="margin-top:10px">
    <thead>
        <tr>
            <!-- <th class="headerRow">Type Model</th> -->
            <th class="headerRow">Model Tipe</th>
            <th class="headerRow">Keterangan</th>
            <th class="headerRow">Nominal</th>
        </tr>
    </thead>
    <tbody ng-if="Selectedrow.QuotationTypeId == 1 || Selectedrow.QuotationTypeId == 3 || Selectedrow.QuotationTypeId == 4">
        <tr>
            <!-- <th scope="row">Avanza 1.3 E M/T</th> -->
            <td>{{Selectedrow.VehicleTypeDescription}}</td>
            <td>Harga Jual</td>
            <td style="text-align:right">{{Selectedrow.SellPrice | number: 0}}</td>
        </tr>
        <tr>
            <!-- <td></td> -->
            <td></td>
            <td>Diskon</td>
            <td style="text-align:right">({{Selectedrow.Discount | number: 0}})</td>
        </tr>
        <tr>
            <!-- <td></td> -->
            <td></td>
            <td>Price After Discond</td>
            <td style="text-align:right">{{Selectedrow.SellPrice - Selectedrow.Discount | number: 0}}</td>
        </tr>
        <tr>
            <!-- <td></td> -->
            <td></td>
            <td>DPP</td>
            <td style="text-align:right">{{Selectedrow.DPP | number: 0}}</td>
        </tr>
        <tr>
            <!-- <td></td> -->
            <td></td>
            <td>VAT</td>
            <td style="text-align:right">{{Selectedrow.VAT | number: 2}}</td>
        </tr>
        <tr>
            <!-- <td></td> -->
            <td></td>
            <td>PPH22</td>
            <td style="text-align:right">{{Selectedrow.PPH22 | number: 0}}</td>
        </tr>
        <tr>
            <!-- <td></td> -->
            <td></td>
            <td>TotalInclVAT</td>
            <td style="text-align:right">{{Selectedrow.Total | number: 0}}</td>
        </tr>
    </tbody>

    <tbody ng-if="Selectedrow.QuotationTypeId == 1 || Selectedrow.QuotationTypeId == 2">
        <tr>
            <!-- <th scope="row">Avanza 1.3 E M/T</th> -->
            <td ng-if="Selectedrow.QuotationTypeId == 2">Logistik</td>
            <td ng-if="Selectedrow.QuotationTypeId != 2">Ekspedisi</td>
            <td>Harga Jual</td>
            <td>{{Selectedrow.ExpeditionSellPrice | number: 0}}</td>
        </tr>
        <tr>
            <!-- <td></td> -->
            <td></td>
            <td>Diskon</td>
            <td>({{Selectedrow.ExpeditionDiscount | number: 0}})</td>
        </tr>
        <tr>
            <!-- <td></td> -->
            <td></td>
            <td>Price After Discond</td>
            <td>{{Selectedrow.ExpeditionSellPrice - Selectedrow.ExpeditionDiscount | number: 0}}</td>
        </tr>
    </tbody>
</table>


<!-- END  -->

<fieldset ng-disabled="true">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label></label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>DPP</label>
                <div class="input-icon-right">
                    <input input-currency style="text-align: right;" type="text" class="form-control" name="nama" placeholder="" ng-model="Selectedrow.TotalDPP" ng-maxlength="50" required>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Total(Termasuk PPN)</label>
                <div class="input-icon-right">
                    <input input-currency style="text-align: right;" type="text" class="form-control" name="nama" placeholder="" ng-model="Selectedrow.TotalVAT" ng-maxlength="50" required>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Grand Total</label>
                <div class="input-icon-right">
                    <input input-currency style="text-align: right;" type="text" class="form-control" name="nama" placeholder="" ng-model="Selectedrow.GrandTotal" ng-maxlength="50" required>
                </div>
            </div>
        </div>
    </div>
</fieldset>
</div>

<div id="menuEkspedisiTAMquo" class="tab-pane fade" style="min-height: 100vh">
    <h5>* Untuk invoice akan dikirim oleh TAM</h5>
    <div class="row" style="margin: 20px 0 0 0">
        <div class="col-md-4 ">
            <div class="form-group ">
                <label>Biaya Ekspedisi TAM</label>
                <div class="input-icon-right ">
                    <i class="fa"></i>
                    <input input-currency style="text-align: right;" type="text" ng-disabled="true" class="form-control" name="nama" placeholder="Biaya" ng-model="Selectedrow.TAMExpedition" ng-maxlength="60">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- </div> -->
</fieldset>
</div>

<!-- <div class="row" style="padding-left: 15px">
        <div ui-grid="gridEkspedisi" ui-grid-grouping class="grid" ui-grid-pagination ui-grid-auto-resize></div>
    </div>

    <div class="row">
        <button id="btnKalkulasi" ng-click="btnKalkulasi()" class="rbtn btn ng-binding ladda-button" style="float:right; margin-bottom:12px; margin-top: 10px; margin-left:-2px; width:10%">Kalkulasi</button>
    </div>

    <fieldset ng-disabled="true">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label></label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>DPP</label>
                    <div class="input-icon-right">
                        <input type="text" class="form-control" name="nama" placeholder="" ng-model="ViewDataSPK.TDP" ng-maxlength="50" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Total(Termasuk PPN)</label>
                    <div class="input-icon-right">
                        <input type="text" class="form-control" name="nama" placeholder="" ng-model="ViewDataSPK.totalvat" ng-maxlength="50" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Grand Total</label>
                    <div class="input-icon-right">
                        <input type="text" class="form-control" name="nama" placeholder="" ng-model="ViewDataSPK.totalgrand" ng-maxlength="50" required>
                    </div>
                </div>
            </div>
        </div>
    </fieldset> -->