<script type="text/javascript">
</script>
<style type="text/css">

</style>

<!--   action-button-settings="actionButtonSettings"
        action-button-settings-detail="actionButtonSettingsDetail"
        show-advsearch="on"

        form-api="formApi"
        linksref="app.queueCategory"
        linkview="queueCategory@app"
 -->

<bsform-base ng-form="ReportPartsReturnForm" loading="loading" form-api="formApi" linksref="app.queueCategory" linkview="queueCategory@app" form-name="ReportPartsReturnForm" form-title="ReportPartsReturn" icon="fa fa-fw fa-child">



    <bsform-base-main>
        <div ng-form="listPartReturn" novalidate>
          <div class="row" style="margin-right:0px;">
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Dealer</label>
                      <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" required>
                      </bsselect>
                                            <bserrmsg field="dealer"> harus diisi </bserrmsg>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Cabang </label>
                      <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                      </bsselect>
                                            <bserrmsg field="cabang"> harus diisi </bserrmsg>
                  </div>
              </div>

          </div>
          <div class="row" style="margin-right:0px;">
              <div class="col-md-3">
                <div class="form-group" show-errors>
                      <bsreqlabel>Periode</bsreqlabel>
                       <bsdatepicker
                       ng-change="changeStartDate(filter.DateStart)"
                        max-date="maxDateS"
                      name="dateStart"
                      date-options="dateOptions2S"
                      ng-model="filter.DateStart"
                      >
                      </bsdatepicker>
                      <bserrmsg field="dateStart"> harus diisi </bserrmsg>
                      <em ng-messages="PsfuForm.dateStart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                            <p ng-message="date">Format Tanggal Salah</p>
                        </em>
                        <em ng-show="(filter.DateStart > filter.DateEnd) && filter.DateEnd !== null" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                            <p>Tanggal Awal Tidak Boleh Lebih Besar dari Tanggal Akhir</p>
                        </em>
                </div>

              </div>
              <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
              <div class="col-md-3" style="margin-top: 5px;">
                <div class="form-group" show-errors>
                      <label></label>
                       <bsdatepicker
                      ng-change="changeEndDate(filter.DateEnd)"
                      max-date="maxDateE"
                      min-date="minDateE"
                      ng-disabled="filter.DateStart == null"
                      name="dateEnd"
                      date-options="dateOptions2E"
                      ng-model="filter.DateEnd"
                      >
                      </bsdatepicker>
                      <bserrmsg field="dateEnd"> harus diisi </bserrmsg>
                      <em ng-messages="PsfuForm.dateEnd.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                            <p ng-message="date">Format Tanggal Salah</p>
                        </em>
                        <em ng-show="(filter.DateEnd < filter.DateStart) && filter.DateEnd !== null" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                            <p>Tanggal Akhir Tidak Boleh Lebih Kecil dari Tanggal Awal</p>
                        </em>
                </div>
              </div>
          </div>
          <div class="row" style="margin-right:0px;">
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <bsreqlabel>Referensi Return </bsreqlabel>
                      <bsselect ng-model="filter.referensi" name="referensi" data="dataReferensi" item-text="referensi" item-value="referensi" on-select="referensi(selected)" placeholder="Select Referensi Disposal" ng-disabled="true" required>
                      </bsselect>
                      <bserrmsg field="referensi"> harus diisi </bserrmsg>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <bsreqlabel>Kode Vendor </bsreqlabel>
                      <bsselect ng-model="filter.Vendor" name="vendor" data="dataVendor" item-text="vendorName" item-value="vendorId" on-select="vendorId(selected)" placeholder="Select Referensi Vendor" ng-disabled="true" required>
                      </bsselect>
                      <bserrmsg field="vendor"> harus diisi </bserrmsg>
                  </div>
              </div>

          </div>
          <br><br><br>
          <div class="col-md-12">
              <div class="row pull-right" style="margin-right:0px;">
                  <button type="button" ng-click="getReport()" ng-disabled="listPartReturn.$invalid" class="rbtn btn"> Export </button>
              </div>
          </div>
        </div>
    </bsform-base-main>




</bsform-base>
