<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="DefectForm"
        factory-name="Defect"
        model="mDefect"
        model-id="Id"
        loading="loading"

        get-data="getData"
        selected-rows="xDefect.selected"
        on-select-rows="onSelectRows"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <bsreqlabel>Nama</bsreqlabel>
                    <div class="input-icon-right">
                        <input type="text" class="form-control" name="Name" placeholder="Name" ng-model="mDefect.Name" required>
                    </div>
                    <bserrmsg field="Name"></bserrmsg>
                </div>
            </div>
        </div>
</bsform-grid-tree>
