<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}
/*
table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}
*/
/* .ui-grid-canvas .input-group .bsdate-picker{
  position: absolute !important;
  width: 150px;
} */

/* #grid1 div{
  position: relative;
} */

</style>

<!-- [START] Gateway Form Before Entry -->
<div ng-if="isOverlayForm" ng-include="'app/parts/goodsreceipt/goodsreceiptgateway.html'">
</div>
<!-- [END] Gateway Form Before Entry
hide-save-button="true"
 -->

<bsform-grid
        ng-form="GoodsReceiptForm"
        factory-name="GoodsReceipt"
        model="mData"
        get-data="getData(mData)"
        model-id="Id"
        loading="loading"
        selected-rows="selectedRows"
        show-advsearch="on" 

        grid-hide-action-column="true"
        action-button-caption="captionLabel"

        grid-custom-action-button-template="gridActionTemplate" 
        grid-custom-action-button-colwidth="125" 

        on-before-new="onBeforeNew"
        on-before-edit-mode="onBeforeEditMode"
        on-before-delete-mode="onBeforeDeleteMode"
        on-show-detail="onShowDetail"
        rights-byte = "myRights"
        hide-save-button="true"
        form-api="formApi"

        form-title="GR Baru"
        modal-size="small"
        icon="fa fa-fw fa-users"
        >
        
    <bsform-advsearch>                    
              <!-- Row Atas --> 
              <div class="row">
                <div class="col-md-2"> 
                  <label class="control-label">Referensi GR</label>
                  <select class="form-control" ng-model="mFilter.RefGRTypeId" ng-options="ref.name for ref in refGR">
                    <!-- <option>PO TAM</option>
                    <option>PO NON TAM</option>
                    <option>PO SUBLET</option>                  
                    <option>TRANSFER ORDER</option> -->
                  </select>
                  <!-- <input type="text" class="form-control" placeholder="{{mFilter.RefGRTypeId}}" disabled> -->
                </div>
                <div class="col-md-2">
                  <label class="control-label">Status</label>
                  <!-- <select class="form-control" ng-model="myGRStatus" ng-options="status.name for status in grStatus">  -->
                  <select class="form-control" ng-model="mFilter.GoodsReceiptStatusId" ng-options="status.name for status in grStatus"> 
                      <!-- <option value="0">choose status</option>  -->
                  </select>
                  <!-- <select class="form-control">
                    <option>Completed</option> myTipeMat
                    <option>Cancelled</option> 
                  </select>                              -->
                </div>
              
                <div class="col-md-2">        
                  <div class="input-group">        
                    <label class="control-label">No. Shipping / Surat Jalan</label>                   
                    <!-- <input type="text" ng-model="mFilter.ShippingNo" class="form-control" required> -->
                    <bstypeahead placeholder="No. Shipping" name="jobName" 
                        ng-model="mFilter.ShippingNo" get-data="onSearchShippingNoFilterMain" 
                        item-text="ShippingNo" noresult="noResults" 
                        selected="selected" on-select="onSelectWork" 
                        on-noresult="onNoResult" on-gotresult="onGotResult" loading="loadingUsers"
                        icon="fa-id-card-o" ng-disabled="lmModel.Type = null" required>
                    </bstypeahead>
                    <!--<label class="input-group-btn">
                        <span class="btn wbtn" ng-click="onSearchShippingNoFilterMain(mFilter.ShippingNo)">
                            <i class="fa fa-search"></i>
                        </span>
                    </label>-->
                  </div>
                </div>

                <div class="col-md-1" style="width: 2%">
                  <label class="control-label">&nbsp&nbsp</label>
                </div>

                <div class="col-md-2">                
                  <label class="control-label">Tanggal GR *</label>
                  <div class="tanggal">
                    <bsdatepicker
                    name="startDate"
                    date-options="dateOptions"
                    ng-model="mFilter.startDate"
                    >
                    </bsdatepicker>
                  </div> 
                </div>
                <div class="col-md-1" style="width: 2%">
                  <label class="control-label">&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                  <label class="control-label">_</label>               
                </div>
                <div class="col-md-2">                
                    <label class="control-label">&nbsp</label>    
                    <div class="tanggal">
                    <bsdatepicker
                    name="endDate"
                    date-options="dateOptions"
                    ng-model="mFilter.endDate"
                    >
                    </bsdatepicker>
                    </div>                 
                </div>
               
                <!-- <div class="col-md-2">
                <label class="control-label">&nbsp</label>                
                </div>                               -->
              </div>
              <!-- end row -->
              <!-- <br /> -->
              <div class="row">
                <div class="col-md-2">
                  <label class="control-label">&nbsp</label> 
                </div>
                <div class="col-md-2">
                  <label class="control-label">&nbsp</label>                              
                </div>
                <div class="col-md-4">                
                  <label class="control-label">* Mandatory ketika filter Referensi GR / Status</label> 
                </div>
                <div class="col-md-2">
                  <label class="control-label">&nbsp</label>                
                </div>                              
                <div class="col-md-2">
                  <label class="control-label">&nbsp</label>                
                </div>                              
              </div>       

              <div class="row">
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">No. Material</label>
                    <input type="text" class="form-control" ng-model="mFilter.PartsCode" maxlength="32">             
                  </div>
                  <div class="input-group">
                    <label class="control-label">&nbsp</label>             
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">&nbsp</label>
                        <button class="btn wbtn form-control" ng-click="hapusFilter()">Hapus Filter</button>  
                  </div>
                </div>  
              </div>
    </bsform-advsearch>

<!-- [START] Entry Form After Gateway Form  ['PO TAM', 'PO NON TAM', 'PO SUBLET', 'TRANSFER ORDER'] -->

<div ng-if="potamNew">
        <div ng-include="'app/parts/goodsreceipt/referensi_GR/ref1_potam/potam.html'">       
        </div>
</div>
<div ng-if="ponontamNew">
        <div ng-include="'app/parts/goodsreceipt/referensi_GR/ref2_ponontam/ponontam.html'">       
        </div>
</div>
<div ng-if="posubletNew">
        <div ng-include="'app/parts/goodsreceipt/referensi_GR/ref3_posublet/posublet.html'">       
        </div>
</div>
<div ng-if="toNew">
        <div ng-include="'app/parts/goodsreceipt/referensi_GR/ref4_to/grrefto.html'">       
        </div>
</div>
<div ng-if="claimNew">
        <div ng-include="'app/parts/goodsreceipt/referensi_GR/ref5_claim/grref_claim.html'">       
        </div>
</div>

<!-- [END] Entry Form After Gateway Form -->

<!-- [START] Edit Mode Region --> 
<div>
<!-- <div ng-if="isEditForm=='po_tam'" ng-include="'app/parts/goodsreceipt/referensi_GR/ref1_potam/potam_batal.html'"> -->
<div ng-if="potamEdit" ng-include="'app/parts/goodsreceipt/referensi_GR/ref1_potam/potam_batal.html'">
</div>
<!-- <div ng-if="isEditForm=='po_nontam'" ng-include="'app/parts/goodsreceipt/referensi_GR/ref2_ponontam/ponontam_batal.html'"> -->
<div ng-if="ponontamEdit" ng-include="'app/parts/goodsreceipt/referensi_GR/ref2_ponontam/ponontam_batal.html'">
</div>
<div ng-if="toEdit" ng-include="'app/parts/goodsreceipt/referensi_GR/ref4_to/grrefto_batal.html'"></div>
<div ng-if="posubletEdit" ng-include="'app/parts/goodsreceipt/referensi_GR/ref3_posublet/posublet_batal.html'"></div>
<div ng-if="claimEdit" ng-include="'app/parts/goodsreceipt/referensi_GR/ref5_claim/grref_claim_batal.html'"></div>
</div>
<!-- [END] Edit Mode Region -->


<!-- [START] View Mode Region -->
<div ng-if="potamView" ng-include="'app/parts/goodsreceipt/referensi_GR/ref1_potam/potam_view.html'"></div>
<div ng-if="ponontamView" ng-include="'app/parts/goodsreceipt/referensi_GR/ref2_ponontam/ponontam_view.html'"></div>
<div ng-if="posubletView" ng-include="'app/parts/goodsreceipt/referensi_GR/ref3_posublet/posublet_view.html'"></div>
<div ng-if="toView" ng-include="'app/parts/goodsreceipt/referensi_GR/ref4_to/grrefto_view.html'"></div>
<div ng-if="claimView" ng-include="'app/parts/goodsreceipt/referensi_GR/ref5_claim/grref_claim_view.html'"></div>
<!-- [END] Edit Mode Region -->

<bsui-modal 
	show="showUploadedError" 
	title="Perhatian Harap edit PO terlebih dahulu" 
	data="dataError" 
	on-save="onOk" 
	on-cancel="onCancel"
	button-settings='viewButton'
	form-name="uploadedError"
	mode="modeModal">

	<div class="col-md-12" >
		<div class="col-md-12" style="margin-bottom:10px;">
      <h4 ng-if="!errorOnly" style="display: block;font-weight:400;" ng-repeat="item in dataError" >
        Terdapat parts Subtitut <b>{{item.PartsCode}}</b> dalam PO <b>{{item.PurchaseOrderNo}}</b> di dalam pengiriman, Parts tersebut tidak ada dalam PO, kemungkinan Parts Substitusi.
      </h4>
      <h4 ng-if="errorOnly" style="display: block;font-weight:400;" ng-repeat="item in dataError" >
        Terdapat parts Subtitut<b>{{item.PartsCode}}</b> dalam PO <b>{{item.PurchaseOrderNo}}</b> di dalam pengiriman, Parts tersebut tidak ada dalam PO, kemungkinan Parts Substitusi.
      </h4>
      
    </div>
	</div>
</bsui-modal>

</bsform-grid>