<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<script type="text/javascript">
</script>

<style type="text/css">
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1em 2em 2em !important;
        margin: 10px;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }
    
    legend.scheduler-border {
        width: inherit;
        /* Or auto */
        padding: 0 10px;
        /* To give a bit of padding on the left and right */
        border-bottom: none;
    }
</style>

<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<div class="row" style="margin:0 0 0 0" ng-show="MaintainPR">
    <button id="btnPembeliIndividu" ng-disabled="selected_rows.length == 0 " ng-click="buatPO()" class="rbtn btn ng-binding ladda-button" style="float:right;margin-top:-31px"><span><i class="fa fa-plus"></i> &nbsp; Tambah</span></button>
    <button ng-hide="true" id="btnBatalPR" ng-click="BatalPR()" ng-disabled="selected_rows.length == 0 || AdaOpdDiPrDipilih" class="rbtn btn ng-binding ladda-button" style="float:right;margin:-31px 5px 0 10px">Batal PR</button>

    <bsform-grid ng-form="PurchaseRequisitionForm" factory-name="PurchaseRequisitionFactory" loading="loading" model="mpurchaseRequisition" model-id="PRId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" show-advsearch="on" form-name="PurchaseRequisitionForm"
        hide-new-button="true" grid-hide-action-column="true" form-title="PurchaseRequisitionForm" modal-title="PurchaseRequisition" modal-size="small" icon="fa fa-fw fa-child">

        <bsform-advsearch>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <bsreqlabel>Tipe PR</bsreqlabel>
                        <bsselect name="Type" ng-model="filter.PRTypeId" ng-Change="getDataVendorList()" data="getDataPR" item-text="PRTypeName" item-value="PRTypeId" placeholder="Select" required>
                        </bsselect>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="from-group">
                        <label>No SO</label>
                        <!--<bsselect name="materialName" ng-model="filter.accessoriesName" data="DataAksesoris" item-text="PartsName" item-value="PartsId" on-select="Id(selected)" placeholder="Select">
                        </bsselect>-->
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="No SO" ng-model="filter.sOCode" ng-maxlength="50" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nama Material</label>
                        <!--<bsselect name="materialName" ng-model="filter.accessoriesName" data="DataAksesoris" item-text="PartsName" item-value="PartsId" on-select="Id(selected)" placeholder="Select">
                        </bsselect>-->
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Nama Material" ng-model="filter.accessoriesName" ng-maxlength="50" required>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <!--<div class="form-group">
                        <bslabel>Vendor</bslabel>
                        <bsselect name="vendor" ng-disabled="filter.PRTypeId == null" ng-model="filter.VendorId" data="DataVendor" item-text="Name" item-value="VendorId" on-select="Id(selected)" placeholder="Select" required>
                        </bsselect>
                    </div>-->
                </div>

            </div>
        </bsform-advsearch>

    </bsform-grid>
</div>

<div ng-controller="MaintainPOController" ng-show="formMaintainPO" class="row" style="margin: 0 0 0 0">
    <div ng-include src="'app/sales/sales2/adminHandling/maintainPO/formTambah.html'"></div>
</div>

<div class="ui small modal batalPR" role="dialog" style="background-color: transparent !important">
    <!-- <div> -->
    <!-- <div class="row" style="margin: 0 0 0 0"> -->
    <p >
            <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
                <!-- <button type="button" ng-click="backFromterimaSTNK()" class="close" data-dismiss="modal">&times;</button> -->
                <h4>Alasan Batal PR</h4>
            </div>

            <div class="modal-body" style="background-color: white;  max-height: 60%">
                <div class="row" style="margin: 0 0 -10px 0; float:right">
                    <label class="fa fa-chevron-circle-left" aria-hidden="true"><button ng-disabled="numview == 1" style="display:none" ng-click="prev()"></button></label> {{numview}}/{{len}}
                    <label class="fa fa-chevron-circle-right" aria-hidden="true"><button ng-disabled="numview == len" style="display:none" ng-click="next()"></button></label>
                </div>
                <div class="row" style="margin-left:3px; margin-right:3px;">
                    <div class="form-group">
                        <label>Alasan</label>
                        <bsselect name="SelectReason" ng-model="batal[num].CancelPRId" data="reasonCancel" item-text="CancelPRName" item-value="CancelPRId" placeholder="Select">
                        </bsselect>
                    </div>

                    <div class="form-group" style="margin-bottom: 0px !important">
                        <label>Keterangan</label>
                        <textarea type="text" class="form-control" name="Desc" placeholder="" ng-model="batal[num].NoteCancelPR" rows="5" cols="60" required>
                                </div>
                            </div>
            </div>
                    
            <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                <button id="BtnModalSimpanBatalPR" ng-click="SimpanBatalPR()" class="rbtn btn ng-binding ladda-button" style="float:right">Simpan</button>
                <button id="btnModalBatalPR" ng-click="keluarBatalPR()" class="wbtn btn ng-binding ladda-button" style="float:right">Kembali</button>
            </div>
        
    </p>

</div>
