<script type="text/javascript">

</script>
<style type="text/css">
</style>

<!--   action-button-settings="actionButtonSettings"
        action-button-settings-detail="actionButtonSettingsDetail"
        show-advsearch="on"

        form-api="formApi"
        linksref="app.queueCategory"
        linkview="queueCategory@app"
 -->

 <bsform-base
        ng-form="ReportAdditionalSpkForm"
        loading="loading"
        get-data="getData"

        show-advsearch="on"
        
        form-api="formApi"
        linksref="app.queueCategory"
        linkview="queueCategory@app"

        form-name="ReportAdditionalSpkForm"
        form-title="ReportAdditionalSpk"
        icon="fa fa-fw fa-child"
>

      <bsform-advsearch>
            <div class="row" style="margin-right:0px;" ng-form="tesAjah">
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Dealer </label>
                      <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="getDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" required>
                      </bsselect>
                      <bserrmsg field="dealer"> harus diisi </bserrmsg>
                  </div>                  
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Cabang </label>
                      <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="getCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                      </bsselect>
                      <bserrmsg field="cabang"> harus diisi </bserrmsg>
                  </div>                                   
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Satellite </label>
                      <bsselect ng-model="filter.Satellite" name="satellite" data="getSatellite" item-text="satelliteName" item-value="satelliteID" on-select="satelliteID(selected)" placeholder="Select Satellite" required>
                      </bsselect>
                      <bserrmsg field="satellite"> harus diisi </bserrmsg>
                  </div>
              </div>
            <div class="row" style="margin-right:0px;">
              <div class="col-md-3">
                <div class="form-group" show-errors>
                      <label>Periode *</label>
                      <bsdatepicker
                      ng-change="changeStartDate(filter.DateStart)"
                      max-date="maxDateS"
                      name="dateStart"
                      date-options="dateOptionsS"
                      ng-model="filter.DateStart" required>
                      </bsdatepicker>
                      <bserrmsg field="dateStart"> harus diisi </bserrmsg>
                      <em ng-messages="tesAjah.dateStart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p ng-message="date">Format Tanggal Salah</p>
                      </em>
                      <em ng-show="(filter.DateStart > filter.DateEnd) && filter.DateEnd !== null" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                            <p>Tanggal Awal Tidak Boleh Lebih Besar dari Tanggal Akhir</p>
                      </em>
                </div>
              </div>
              <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
              <div class="col-md-3" style="margin-top:5px;">
                <div class="form-group" show-errors>
                      <label></label>
                      <bsdatepicker
                        ng-change="changeEndDate(filter.DateEnd)"
                        max-date="maxDateE"
                        min-date="minDateE"
                        ng-disabled="filter.DateStart == null"
                        name="dateEnd"
                        date-options="dateOptionsE"
                        ng-model="filter.DateEnd" required
                      >
                      </bsdatepicker>
                      <bserrmsg field="dateEnd"> harus diisi </bserrmsg>
                      <em ng-messages="tesAjah.dateEnd.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p ng-message="date">Format Tanggal Salah</p>
                      </em>
                      <em ng-show="(filter.DateEnd < filter.DateStart) && filter.DateEnd !== null" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p>Tanggal Akhir Tidak Boleh Lebih Kecil dari Tanggal Awal</p>
                      </em>
                </div>
              </div>
              <div class="col-md-1" style="text-align:center; padding-top:30px;"></div>
              <div class="col-md-4">
                <div class="form-group" show-errors>
                      <label>Kategori Workshop </label>
                      <input type="text" class="form-control"  ng-model="filter.kategori" name="KategoriWorkshop" placeholder="Kategori Workshop" disabled required>
                      <bserrmsg field="KategoriWorkshop"> harus diisi </bserrmsg>
                </div>
              </div>
            </div>
        </div>
            
            <!-- <div class="form-group pull-right">
                    <button type="button" ng-click="getData()" class="rbtn btn"> Filter </button>
                </div> -->
            <br><br>
      </bsform-advsearch>
             
      <bsform-base-main>
          <div class="panel panel-default">   
            <div class="panel-heading">Summary</div>
 
            <div class="panel-body">
                <div class="col-md-4"> 
                    
                    <div class="row" style="">
                       <div class="form-group form-inline" style="margin-right: -65px;">
                            <label>Total Additional SPK</label>
                            <div class="pull-right"><input type="number" class="form-control" ng-model="totalAdditional" name="totalAdditional" style="width: 50%;" disabled> </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="">
                       <div class="form-group form-inline" style="margin-right: -65px;">
                            <label>Total SPK</label>
                            <div class="pull-right"><input type="number" class="form-control" ng-model="totalSPK" name="totalSpk" style="width: 50%;" disabled> </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="">
                       <div class="form-group form-inline" style="margin-right: -80px;">
                            <label>Additional SPK Rate</label>
                            <div class="pull-right"><input type="text" class="form-control" ng-model="persentase" name="persentase" style="width: 45%;" disabled> %</div>
                        </div>
                    </div>
                    <br>
                  
                </div>    
            </div> 
          </div>

        <div class="pull-right">
          <button type="button" ng-click="getReport()" class="rbtn btn"> Export Detail </button>
        </div>
      </bsform-base-main>

     

</bsform-base>

