<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	.watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="MainPembayaranCashSPK_Show">
	<div class="col-md-12">
		<div class="form-group">
			<bsreqlabel>Batas Nominal Maks Penerimaan Secara Cash untuk 1 SPK Per Hari</bsreqlabel>
			<input type="text" class="form-control " name="Batas " placeholder="Batas Maks" ng-model="PembayaranCashSPK_NominalMaks"
			 required input-currency number-only min="1">
		</div>
	</div>

	<div class="col-md-12">
		<div class="form-group">
			<bslabel>Judul Email Notifikasi</bslabel>
			<input type="text" class="form-control " name="JudulEmail" placeholder="Judul Email Notifikasi" ng-model="PembayaranCashSPK_JudulEmail"
			 ng-maxlength="100" maxlength="100">
		</div>
	</div>

	<div class="col-md-12">
		<div class="form-group">
			<bslabel>Template Email Notifikasi</bslabel>
			<textarea type="text" class="form-control " name="TemplateEmail" placeholder="Pada <dd-mm-yyyy> <hh:mm> waktu server,\n total akumulasi penerimaan cash adalah sebesar xxxxxxxxxx, yang telah melebihi batas cover asuransi CIT & CIB" ng-model="PembayaranCashSPK_TemplateEmail"
			 ng-maxlength="2000" disabled></textarea>
			 <!-- ng-disabled="PembayaranCashSPK_TemplateEmail_Disabled" -->
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-8">
			<div class="form-group">
				<bsreqlabel>User Penerima Notifikasi</bsreqlabel>
				<div ui-grid="PembayaranCashSPK_UserPenerima_UIGrid" class="form-group" ui-grid-auto-resize ui-grid-selection ui-grid-pagination>
					<div class="watermark" ng-show="!PembayaranCashSPK_UserPenerima_UIGrid.data.length">No data available</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<button id="PembayaranCashSPK_Tambah" ng-click="PembayaranCashSPK_Tambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right; margin-top:24px;margin-left:24px">
				<span class="ladda-label">
					Tambah
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>

	<div class="col-md-12">
		<button id="PembayaranCashSPK_Simpan" ng-click="PembayaranCashSPK_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
		 style="float: right; margin-top:24px;margin-left:24px">
			<span class="ladda-label">
				Simpan
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
</div>

<div class="ui modal" id="ModalTambahUserList_SPK" role="dialog">
	<div class="modal-content" style="">
		<ul class="list-group">
			<bsreqlabel>Pilih Employee</bsreqlabel>
			<div class="form-group" ui-grid="ModalPenerimaanCashSPK_TambahUser_UIGrid" ui-grid-auto-resize ui-grid-selection ui-grid-pagination>
				<div class="watermark" ng-show="!ModalPenerimaanCashSPK_TambahUser_UIGrid.data.length">No data available</div>
			</div>
			<p align="center">
				<button class="col-sm-6" ng-click="Batal_PenerimaanCashSPK_TambahUser()" type="button" class="rbtn btn ng-binding ladda-button">
					Batal
				</button>
				<button class="col-sm-6" ng-click="Pilih_PenerimaanCashSPK_TambahUser()" type="button" class="rbtn btn ng-binding ladda-button">
					Pilih
				</button>
			</p>
		</ul>
	</div>
</div>