<style type="text/css">
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;

}

.progress {background: rgba(255, 255, 255, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; height: 19px;}
.progress-bar-custom {background: rgb(9, 119, 209);}
.progress span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
    }

</style>

    <div class="form-group" style="pointer-events: none;">
        <!-- Tombol Navigasi -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Tipe Material *</label>
                <select class="form-control" ng-model="mData.MaterialTypeId" readonly>
                    <option value="1">Parts</option>
                    <option value="2">Bahan</option>
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <label class="control-label">Lokasi Gudang *</label>
                <select class="form-control" ng-model="mData.LocationId" readonly>
                    <option value="1">Gudang Spare Parts</option>
                    <option value="2">Gudang Spare Parts 2</option>
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <label class="control-label">Tipe Lokasi Stock *</label>
                <select class="form-control" ng-model="mData.LocationTypeID" readonly>
                    <option>Qty Free</option>
                    <option>Blocked Stock</option>
                </select>
            </div>
            <div class="col-md-3">
                 <div class="input-group">
                    <label class="control-label">&nbsp</label>
                    <!-- <button class="btn btn-default form-control disabled" ng-click="onShowFilter()">Filter</button> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
            <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label class="control-label">SCC</label>
                <select class="form-control" ng-model="mData.SCCId" readonly>
                    <option value="1">Overhaul Item</option>
                    <option value="2">Body Item</option>
                    <option value="3">Accesories Item</option>                  
                    <option value="4">CBU Non TAM</option>
                    <option value="5">Discontinue Item</option>  
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <label class="control-label">ICC</label>
                <select class="form-control" ng-model="mData.ICCId" readonly>
                    <option value="1">A - Very Fast Moving</option>
                    <option value="2">B - Fast Moving</option>
                    <option value="3">C - Medium Moving</option>
                    <option value="4">D - Slow Moving</option>
                    <option value="5">E - Very Slow Moving</option>
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <label class="control-label">No Material</label>
                <input type="text" ng-model="mData.MaterialNo" class="form-control" readonly></input>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
        </div>


        <hr/>
        <br/>

        <div class="row">
            <div class="col-md-2">
                <label class="control-label">No Stock Opname</label>
                <input class="form-control" type="text" ng-model="mData.StockOpnameNo" readonly></input>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <label class="control-label">Tanggal Stock Opname</label>
                <bsdatepicker
                  name="startDate"
                  date-options="dateOptions"
                  ng-model="mData.DocDate"
                  ng-disabled = true
                  >
                  </bsdatepicker>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Status</label>
                <input class="form-control" type="text" ng-model="mData.StockOpnameStatusId" readonly></input>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Notes</label>
                <textarea class="form-control" rows="5" ng-model="mData.Notes" readonly></textarea>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Status Input Hasil Stock Opname</label>
                <!-- <progress id="pb" class="form-control" value="22" max="100"></progress> -->
                <div class="progress">
                <!-- <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="show"><b>35 item dari 100 item</b></span>
                </div> --> 
                <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="mData.itemDone" aria-valuemin="0" aria-valuemax="mData.itemTotal" style="width: {{mData.PersentaseItem}}%;">
                    <span class="show"><b>{{mData.itemDone}} item dari {{mData.itemTotal}} item</b></span>
                </div>
            </div>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Status Selisih Amount</label>
                <!-- <progress id="pb" class="form-control" value="22" max="100"></progress> -->
                <div class="progress">
                    <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="mData.TotalSelisih" aria-valuemin="0" aria-valuemax="mData.SumHarga" style="width: {{mData.PersentaseSelisih}}%;">
                        <span class="show"><b>Selisih Amount = {{mData.TotalSelisih | currency:"Rp."}} dari {{mData.SumHarga | currency:"Rp."}} </b></span>
                    </div>
            </div>
            </div>
        </div>

    </div>

<div class="row">
<div class="col-md-12">
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Filter Detail Material</legend>
    <div class="row">
        <div class="col-md-2" style="margin: 0 auto">
            Nomor Bin Tag
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            SCC
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            ICC
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            No Material
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            &nbsp
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <input type="text" class="form-control" readonly />
        </div>
        <div class="col-sm-1">
            <input type="text" class="form-control" readonly />
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            <select class="form-control" readonly></select>
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            <select class="form-control" readonly></select>
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            <input type="text" class="form-control" readonly/>
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            <div class="checkbox">
              <label><input type="checkbox" value="" disabled>Different Count</label>
            </div>
        </div>
        <div class="col-md-1" style="margin: 0 auto">
            <button class="btn wbtn disabled">Cari</button>
        </div>
        <div class="col-md-1" style="margin: 0 auto">
            <button class="btn wbtn disabled">Hapus</button>
        </div>
    </div>
</fieldset>
</div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="grid1" ui-grid="grid_stock_opname_new" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
            <br/>
    </div>
</div>


<div class="row">
        <div class="col-md-12">
            <div align="right">
                <button class="btn wbtn">Cetak Bin Tag</button>
                <button class="btn wbtn">Cetak List Bin Tag</button>
                <button class="btn wbtn">Cetak Berita Acara</button>
                <button class="btn wbtn">Kembali</button>
            </div>
        </div>
    </div>