<style type="text/css">
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }
    
    legend.scheduler-border {
        width: inherit;
        /* Or auto */
        padding: 0 10px;
        /* To give a bit of padding on the left and right */
        border-bottom: none;
    }
    
    
    .progress {background: rgba(255, 255, 255, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; height: 19px;}
    .progress-bar-custom {background: rgb(9, 119, 209);}
    .progress span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
    }
</style>

<div class="form-group">
    <!-- Tombol Navigasi -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Tipe Material *</label>
            <select class="form-control">
                    <option selected>Parts</option>
                    <option>Bahan</option>
                </select>
        </div>
        <div class="col-md-3">
            <label class="control-label">Lokasi Gudang *</label>
            <select class="form-control">
                    <option selected>Gudang Spare Parts</option>
                    <option>Gudang Spare Parts 2</option>
                </select>
        </div>
        <div class="col-md-3">
            <label class="control-label">Tipe Lokasi Stock *</label>
            <select class="form-control">
                    <option selected>Qty Free</option>
                    <option>Blocked Stock</option>
                </select>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <label class="control-label">&nbsp</label>
                <button class="btn btn-default form-control" ng-click="onShowFilter()">Filter</button>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-3">
            <label class="control-label">SCC</label>
            <select class="form-control">
                    <option selected>Overhaul Item</option>
                    <option>Body Item</option>
                    <option>Accesories Item</option>
                </select>
        </div>
        <div class="col-md-3">
            <label class="control-label">ICC</label>
            <select class="form-control">
                    <option selected>A - Very Fast Moving</option>
                    <option>B - Fast Moving</option>
                    <option>C - Medium Moving</option>
                    <option>D - Slow Moving</option>
                    <option>E - Very Slow Moving</option>
                </select>
        </div>
        <div class="col-md-3">
            <label class="control-label">No Material</label>
            <input type="text" name="no_material" class="form-control"></input>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
    </div>


    <hr/>
    <br/>

    <div class="row">
        <div class="col-md-3">
            <label class="control-label">No Stock Opname</label>
            <input class="form-control" type="text" name="no_stock_opname"></input>
        </div>
        <div class="col-md-3">
            <label class="control-label">Tanggal Stock Opname</label>
            <bsdatepicker name="startDate" date-options="dateOptions" ng-model="mPeriod.startDate">
            </bsdatepicker>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Status</label>
            <input class="form-control" type="text" name="no_stock_opname"></input>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="5"></textarea>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            <label class="control-label">Status Input Hasil Stock Opname</label>
            <!-- <progress id="pb" class="form-control" value="22" max="100"></progress> -->
            <div class="progress">
                <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="mData.itemDone" aria-valuemin="0" aria-valuemax="mData.itemTotal" style="width: {{mData.PersentaseItem}}%;">
                    <span class="show"><b>{{mData.itemDone}} item dari {{mData.itemTotal}} item</b></span>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            <label class="control-label">Status Selisih Amount</label>
            <!-- <progress id="pb" class="form-control" value="22" max="100"></progress> -->
            <div class="progress">
                <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="mData.TotalSelisih" aria-valuemin="0" aria-valuemax="mData.SumHarga" style="width: {{mData.PersentaseSelisih}}%;">
                    <span class="show"><b>Selisih Amount = {{mData.TotalSelisih | currency:"Rp."}} dari {{mData.SumHarga | currency:"Rp."}} </b></span>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Filter Detail Material</legend>
            <div class="row">
                <div class="col-md-2" style="margin: 0 auto">
                    Nomor Bin Tag
                </div>
                <div class="col-md-2" style="margin: 0 auto">
                    SCC
                </div>
                <div class="col-md-2" style="margin: 0 auto">
                    ICC
                </div>
                <div class="col-md-2" style="margin: 0 auto">
                    No Material
                </div>
                <div class="col-md-2" style="margin: 0 auto">
                    &nbsp
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <input type="text" class="form-control" />
                </div>
                <div class="col-sm-1">
                    <input type="text" class="form-control" />
                </div>
                <div class="col-md-2" style="margin: 0 auto">
                    <select class="form-control"></select>
                </div>
                <div class="col-md-2" style="margin: 0 auto">
                    <select class="form-control"></select>
                </div>
                <div class="col-md-2" style="margin: 0 auto">
                    <input type="text" class="form-control" />
                </div>
                <div class="col-md-2" style="margin: 0 auto">
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Different Count</label>
                    </div>
                </div>
                <div class="col-md-1" style="margin: 0 auto">
                    <button class="btn wbtn">Cari</button>
                </div>
                <div class="col-md-1" style="margin: 0 auto">
                    <button class="btn wbtn">Hapus</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="grid1" ui-grid="grid_stock_opname_new" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
        <br/>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div align="right">
            <button class="btn wbtn"  ng-click="cetakan()">Export Hasil</button>
            <button class="btn wbtn" ng-click="cetakBinTag(mData.StockOpnameId)">Cetak Bin Tag</button>
            <button class="btn wbtn" ng-click="cetakBinTagList(mData.StockOpnameId)">Cetak List Bin Tag</button>
            <button class="btn wbtn" ng-click="Freeze()">Freeze Stock</button>
            <button class="btn wbtn"  ng-disabled='mData.StockOpnameStatusId == 5' ng-click="batalPC()">Batal Stock Opname</button>
            <button class="btn wbtn" ng-click="goBack()">Kembali</button>
        </div>
    </div>
</div>