<div class="col-md-12" style="margin-top: 25px;">
    <div ui-grid="gridExt" ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
    </div>
    <input type="submit" value="Testing Grid" ng-click="goGetGrid(mDataWAC)">
</div>