<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}

	.watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	}

	#ModalTambahRegDokPajak_HeaderLabel {
		padding: 10px;
	}

	#ModalTambahRegDokPajak_Button {
		padding-top: 5px;
		padding-bottom: 5px;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="Show_MainRegistrasiDokumenPajak" class="fi-outermost">
	<div class="row">
		<div class="pull-right" style="margin-top:-50px;">
			<button id="UploadRegistrasiDokumenPajak_Button" ng-click="UploadRegistrasiDokumenPajak_Clicked()"
				type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					Upload
				</span>
				<span class="ladda-spinner"></span>
			</button>
			<button id="TambahRegistrasiDokumenPajak_Button" ng-click="TambahRegistrasiDokumenPajak_Clicked()"
				type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					<i class="fa fa-fw fa-plus"> </i> Tambah
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
	<div ng-form name="FormValidation_MainRegistrasidokumenpajak">
		<div class="row" style="margin-top:-10px;">
			<div class="col-md-12">
				<div class="col-md-3"
					ng-class="{'has-error':FormValidation_MainRegistrasidokumenpajak.MainRegistrasiDokumenPajak_TanggalAwal.$error.required && FormValidation_MainRegistrasidokumenpajak.MainRegistrasiDokumenPajak_TanggalAwal.$touched || MainRegistrasiDokumenPajakTanggalAwalOK == false}">
					<bsreqlabel>Tanggal Registrasi</bsreqlabel>
					<div class="input-icon-right ">
						<bsdatepicker name="MainRegistrasiDokumenPajak_TanggalAwal" format="dd/MM/yyyy"
							date-options="dateOptions" ng-model="MainRegistrasiDokumenPajak_TanggalAwal"
							ng-change="MainRegistrasiDokumenPajakTanggalAwalChanged()" required>
						</bsdatepicker>
						<span
							ng-show="FormValidation_MainRegistrasidokumenpajak.MainRegistrasiDokumenPajak_TanggalAwal.$error.required && FormValidation_MainRegistrasidokumenpajak.MainRegistrasiDokumenPajak_TanggalAwal.$touched"
							class="help-block">Field ini wajib dipilih</span>
						<span ng-if="!MainRegistrasiDokumenPajakTanggalAwalOK"
							class="help-block">{{errMainRegistrasiDokumenPajakTanggalAwal}}</span>
					</div>
				</div>
				<!-- <div class="col-md-1 text-center" style="margin-top:30px">
					s.d.
				</div> -->
				<div class="col-md-3"
					ng-class="{'has-error':FormValidation_MainRegistrasidokumenpajak.MainRegistrasiDokumenPajakTanggalAkhir.$error.required && FormValidation_MainRegistrasidokumenpajak.MainRegistrasiDokumenPajakTanggalAkhir.$touched || MainRegistrasiDokumenPajakTanggalAkhirOK == false}">
					<label>s.d.</label>
					<div class="input-icon-right ">
						<bsdatepicker name="MainRegistrasiDokumenPajakTanggalAkhir" format="dd/MM/yyyy"
							date-options="dateOptions" ng-model="MainRegistrasiDokumenPajak_TanggalAkhir"
							ng-change="MainRegistrasiDokumenPajakTanggalAkhirChanged()" required>
						</bsdatepicker>
						<span
							ng-show="FormValidation_MainRegistrasidokumenpajak.MainRegistrasiDokumenPajakTanggalAkhir.$error.required && FormValidation_MainRegistrasidokumenpajak.MainRegistrasiDokumenPajakTanggalAkhir.$touched"
							class="help-block">Field ini wajib dipilih</span>
						<span ng-if="!MainRegistrasiDokumenPajakTanggalAkhirOK"
							class="help-block">{{errMainRegistrasiDokumenPajakTanggalAkhir}}</span>
					</div>
				</div>
			</div>
			<div class="col-md-12 has-error">
				<div class="has-error" style="margin-left:15px;">
					<span ng-show="MainRegistrasiDokumenPajak_TanggalAwal>MainRegistrasiDokumenPajak_TanggalAkhir"
						class="help-block">Tanggal awal harus lebih kecil atau sama dengan tanggal akhir!</span>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top:10px;">
			<div class="col-md-12">
				<div class="col-md-3"
					ng-class="{'has-error':FormValidation_MainRegistrasidokumenpajak.dokumenPajak.$error.required && FormValidation_MainRegistrasidokumenpajak.dokumenPajak.$touched}">
					<bsreqlabel>Tipe Dokumen Pajak</bsreqlabel>
					<bsselect ng-change="MainRegistrasiDokumenPajak_TipeDokumen_Changed()"
						ng-model="MainRegistrasiDokumenPajak_TipeDokumen"
						data="optionsMainRegistrasiDokumenPajakTipeDokumen" name="dokumenPajak" item-text="name"
						item-value="value" on-select="value(selected)" placeholder="" icon="fa fa-search" required>
					</bsselect>
					<span
						ng-show="FormValidation_MainRegistrasidokumenpajak.dokumenPajak.$error.required && FormValidation_MainRegistrasidokumenpajak.dokumenPajak.$touched"
						class="help-block">Field ini wajib dipilih</span>

				</div>
				
				<div class="col-md-3" ng-show="RegistrasiDokumenPajak_HO_Show">
					<bslabel>Nama Branch</bslabel>
					<bsselect ng-model="MainRegistrasiDokumenPajak_SelectBranch"
						data="optionsMainRegistrasiDokumenPajak_SelectBranch" item-text="name" item-value="value"
						on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search"
						style="margin-top:5px">
					</bsselect>
				</div>

				<div class="col-md-3" ng-show="!RegistrasiDokumenPajak_HO_Show">
					<bslabel>Nama Branch</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="MainRegistrasiDokumenPajakNamaBranch"
							placeholder="" ng-model="MainRegistrasiDokumenPajak_NamaBranch" ng-maxlength="50"
							ng-disabled="true" style="margin-top:5px">
					</div>
				</div>

				<div class="col-md-2">
					<label>&nbsp</label>
					<div class="input-icon-right ">
						<button id="MainRegistrasiDokumenPajak_Cari_Button"
							ng-disabled="FormValidation_MainRegistrasidokumenpajak.$invalid"
							ng-click="MainRegistrasiDokumenPajak_Cari_Clicked()" type="button"
							class="rbtn btn ng-binding ladda-button">
							<span class="ladda-label">
								Cari
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top:10px">
			<div class="col-md-12">
				<p class="fi-title-line">Daftar Registrasi Dokumen Pajak
				</p>
			</div>
		</div>

		<div class="row" style="margin-top:5px;">
			<div class="col-md-12">
				<div class="col-md-3">
					<div class="input-icon-right">
						<input type="text" class="form-control" name="" placeholder="Teks Filter..."
							ng-model="MainRegistrasiDokumenPajak_TextFilter" ng-maxlength="50" maxlength="50">
					</div>
				</div>

				<div class="col-md-3">
					<bsselect ng-model="MainRegistrasiDokumenPajak_SelectKolom"
						data="optionsMainRegistrasiDokumenPajak_SelectKolom" item-text="name" item-value="value"
						on-select="value(selected)" placeholder="Select Search Criteria" icon="fa fa-search"
						ng-change="MainRegistrasiDokumenPajak_SelectKolom_Changed()">
					</bsselect>
				</div>

				<div class="col-md-3">
					<button id="" ng-click="MainRegistrasiDokumenPajak_Filter_Clicked()" type="button"
						class="btn ng-binding ladda-button">
						<span class="ladda-label">
							Filter
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top:10px;">
			<div class="col-md-12">
				<div id="myGrid" ui-grid="RegistrasiDokumenPajakList_UIGrid" ui-grid-pinning ui-grid-resize-columns ui-grid-auto-resize
					ui-grid-pagination ui-grid-resize-columns class="fi-ui-grid"></div>
				<div class="watermark" ng-show="!RegistrasiDokumenPajakList_UIGrid.data.length">No data available</div>
			</div>
		</div>

		<div class="row" style="margin-top:-10px;">
			<div class="col-md-12">
				<button id="MainRegistrasiDokumenPajak_Excel_Button" ng-disabled ="FormValidation_MainRegistrasidokumenpajak.$invalid"
					ng-click="MainRegistrasiDokumenPajak_Excel_Clicked()" type="button"
					class="rbtn btn ng-binding ladda-button fi-right-button">
					<span class="ladda-label">
						Cetak Report
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>
</div>

<!--btn-Upload-201904-irfan.fakriardian-->
<div ng-show="Show_UploadRegistrasiDokumenPajak" class="fi-outermost">
	<div ng-form name="FormValidation_UploadDokumen"></div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-3"
				ng-class="{'has-error':FormValidation_UploadRegistrasiDokumenPajak.dokumenPajak.$error.required && FormValidation_UploadRegistrasiDokumenPajak.dokumenPajak.$touched}">
				<bsreqlabel>Tipe Dokumen Pajak</bsreqlabel>
				<bsselect ng-change="UploadRegistrasiDokumenPajak_TipeDokumen_Changed()"
					ng-model="UploadRegistrasiDokumenPajak_TipeDokumen"
					data="optionsUploadRegistrasiDokumenPajakTipeDokumen"
					name="UploadRegistrasiDokumenPajak_TipeDokumen" item-text="name" item-value="value"
					on-select="value(selected)" placeholder="" icon="fa fa-search" required>
				</bsselect>
				<span
					ng-show="FormValidation_UploadRegistrasiDokumenPajak.dokumenPajak.$error.required && FormValidation_UploadRegistrasiDokumenPajak.dokumenPajak.$touched"
					class="help-block">Field ini wajib dipilih</span>
			</div>

			<button ng-click="RegisDokumen_Upload_Simpan_Clicked()" type="button" ladda="LoadingSimpan" data-style="expand-left" 
				class="rbtn btn ng-binding ladda-button fi-right-button" style="float: right;">
				<span class="ladda-label">
					Simpan
				</span>
				<span class="ladda-spinner"></span>
			</button>

			<button ng-click="TambahRegDokPajak_Batal_Clicked()" type="button"
				class="btn ng-binding ladda-button fi-right-button" style="float: right;margin-left:50px">
				<span class="ladda-label">
					Kembali
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>

	<div class="row" style="border:1px solid lightgrey;margin-left:5px;margin-right:5px">
		<label style="margin-left:5px;margin-top:-9px;float:left;background-color:white">Upload File</label>
		<div class="col-md-12" style="margin-top:10px;margin-bottom:10px">
			<div class="col-md-1" style="margin-top:12px">
				Upload File
			</div>

			<div class="col-md-6" style="border:1px solid lightgrey;padding: 10px 0 10px 10px">
				<div class="input-icon-right">
					<input type="file" accept=".xlsx" id="uploadPajakMasukanDJP" file-model="uploadPajakMasukanDJP">
				</div>
			</div>

			<div class="col-md-2">
				<button ng-click="RegisDokumen_Upload_File_Clicked()" type="button"
					class="rbtn btn ng-binding ladda-button" style="float: left;margin-top:5px">
					<span class="ladda-label">
						Upload
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>

			<div class="col-md-3">
				<button ng-click="PajakMasukan_DownloadTemplate_Clicked()" type="button"
					class="btn ng-binding ladda-button" style="float: right;;margin-top:5px">
					<span class="ladda-label">
						Download Template
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="row" style="border:1px solid lightgrey;margin-left:5px;margin-right:5px;margin-top:20px">
		<label style="margin-left:5px;margin-top:-9px;float:left;background-color:white">Hasil Upload</label>

		<div class="col-md-12" style="margin-bottom:10px">
			<div ng-show=id="myGrid" ui-grid="RegisDokument_UploadData_UIGrid" ui-grid-resize-columns ui-grid-auto-resize
			ui-grid-pagination ui-grid-resize-columns class="fi-ui-grid"></div>
			<div class="watermark" ng-show="!RegisDokument_UploadData_UIGrid.data.length">No data available</div>
		</div>
	</div>
</div>
</div>
</div>


<!--Begin btn-Edit-201904-irfan.fakriardian-->

<div ng-show="Show_EditRegistrasiDokumenPajakPph22" class="fi-outermost">
	<div ng-form name="FormValidation_EditRegistrasidokumenpajak">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3" ng-show="RegistrasiDokumenPajak_HO_Show">
					<bslabel>Nama Branch</bslabel>
					<bsselect ng-model="TambahRegistrasiDokumenPajak_SelectBranch"
						data="optionsTambahRegistrasiDokumenPajak_SelectBranch" item-text="name" item-value="value"
						on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search">
					</bsselect>
				</div>
				<div class="col-md-3" ng-show="!RegistrasiDokumenPajak_HO_Show">
					<bslabel>Nama Branch</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="TambahRegistrasiDokumenPajakNamaBranch"
							placeholder="" ng-model="TambahRegistrasiDokumenPajak_NamaBranch" ng-maxlength="50"
							ng-disabled="!TambahRegistrasiDokumenPajak_NamaBranch_EnableDisabled">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					<bslabel>Nomor Billing</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajakNomorBilling" placeholder=""
							ng-model="EditRegDokPajakNomorBilling" ng-maxlength="50" ng-disabled="true">
					</div>
				</div>
				<div class="col-md-3">
					<bslabel>Nama Pemungut</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajak_NamaPemungut" placeholder=""
							ng-model="EditRegDokPajak_NamaPemungut" ng-maxlength="50">
					</div>
				</div>
				<div class="col-md-3">
					<bslabel>NPWP Pemungut</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajak_NpwpPemungut" placeholder=""
							ng-model="EditRegDokPajak_NpwpPemungut" ng-maxlength="50">
					</div>
				</div>
				<div class="col-md-3">
					<bslabel>Nomor Bukti Pemungutan</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajak_NomorBuktiPemungutan"
							placeholder="" ng-model="EditRegDokPajak_NomorBuktiPemungutan" ng-maxlength="50">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					<bslabel>Tanggal Bukti Pemungutan</bslabel>
					<div class="input-icon-right ">
						<bsdatepicker name="EditRegDokPajak_TanggalBuktiPemungutan" date-options="dateOptions"
							ng-model="EditRegDokPajak_TanggalBuktiPemungutan">
						</bsdatepicker>
					</div>
				</div>
				<div class="col-md-3">
					<bslabel>DPP Register</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajak_DppRegister" placeholder=""
							ng-model="EditRegDokPajak_DppRegister" ng-maxlength="50">
					</div>
				</div>
				<div class="col-md-3">
					<bslabel>PPH 22 Register</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajak_Pph22" placeholder=""
							ng-model="EditRegDokPajak_Pph22" ng-maxlength="50">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button ng-click="RegisDokumen_Edit_Simpan_Clicked()" type="button"
					class="rbtn btn ng-binding ladda-button fi-right-button" style="float: right;">
					<span class="ladda-label">
						Simpan
					</span>
					<span class="ladda-spinner"></span>
				</button>
				<button ng-click="TambahRegDokPajak_Batal_Clicked()" type="button"
					class="btn ng-binding ladda-button fi-right-button" style="float: right; margin-left:50px">
					<span class="ladda-label">
						Kembali
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>
</div>

<div ng-show="Show_EditRegistrasiDokumenPajakPph23" class="fi-outermost">
	<div ng-form name="FormValidation_EditRegistrasidokumenpajak">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3" ng-show="RegistrasiDokumenPajak_HO_Show">
					<bslabel>Nama Branch</bslabel>
					<bsselect ng-model="TambahRegistrasiDokumenPajak_SelectBranch"
						data="optionsTambahRegistrasiDokumenPajak_SelectBranch" item-text="name" item-value="value"
						on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search">
					</bsselect>
				</div>
				<div class="col-md-3" ng-show="!RegistrasiDokumenPajak_HO_Show">
					<bslabel>Nama Branch</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="TambahRegistrasiDokumenPajakNamaBranch"
							placeholder="" ng-model="TambahRegistrasiDokumenPajak_NamaBranch" ng-maxlength="50"
							ng-disabled="!TambahRegistrasiDokumenPajak_NamaBranch_EnableDisabled">
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<bslabel>Nomor Registrasi</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="TambahRegDokPajakNomorRegistrasi" placeholder=""
							ng-model="TambahRegDokPajak_NomorRegistrasi" ng-maxlength="50"
							ng-disabled="!TambahRegDokPajak_NomorRegistrasi_EnableDisable">
					</div>
				</div>

				<div class="col-md-4">
					<bslabel>Tanggal Registrasi</bslabel>
					<div class="input-icon-right ">
						<bsdatepicker name="TambahRegDokPajakTanggalRegistrasi" date-options="dateOptions"
							ng-model="TambahRegDokPajak_TanggalRegistrasi"
							ng-disabled="!TambahRegDokPajak_TanggalRegistrasi_EnableDisable">
						</bsdatepicker>
					</div>
				</div>
			</div>
		</div> -->

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					<bslabel>Nomor Billing</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajakNomorBilling" placeholder=""
							ng-model="EditRegDokPajakNomorBilling" ng-maxlength="50" ng-disabled="true">
					</div>
				</div>
				<div class="col-md-3">
					<bslabel>Nomor Bukti Potong</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajak_NomorBuktiPemungutan"
							placeholder="" ng-model="EditRegDokPajak_NomorBuktiPemungutan" ng-maxlength="50">
					</div>
				</div>
				<div class="col-md-3">
					<bslabel>Tanggal Bukti Potong</bslabel>
					<div class="input-icon-right ">
						<bsdatepicker name="EditRegDokPajak_TanggalBuktiPemungutan" date-options="dateOptions"
							ng-model="EditRegDokPajak_TanggalBuktiPemungutan">
						</bsdatepicker>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					<bslabel>DPP Register</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajak_DppRegister" placeholder=""
							ng-model="EditRegDokPajak_DppRegister" ng-maxlength="50">
					</div>
				</div>
				<div class="col-md-3">
					<bslabel>PPH 23 Register</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajak_Pph22" placeholder=""
							ng-model="EditRegDokPajak_Pph22" ng-maxlength="50">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<button ng-click="RegisDokumen_Edit_Simpan_Clicked()" type="button"
					class="rbtn btn ng-binding ladda-button fi-right-button" style="float: right;">
					<span class="ladda-label">
						Simpan
					</span>
					<span class="ladda-spinner"></span>
				</button>


				<button ng-click="TambahRegDokPajak_Batal_Clicked()" type="button"
					class="btn ng-binding ladda-button fi-right-button" style="float: right;margin-left:50px">
					<span class="ladda-label">
						Kembali
					</span>
					<span class="ladda-spinner"></span>
				</button>

			</div>
		</div>
	</div>
</div>

<div ng-show="Show_EditRegistrasiDokumenPajakSuratSetoran" class="fi-outermost">
	<div ng-form name="FormValidation_EditRegistrasidokumenpajak">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3" ng-show="RegistrasiDokumenPajak_HO_Show">
					<bslabel>Nama Branch</bslabel>
					<bsselect ng-model="TambahRegistrasiDokumenPajak_SelectBranch"
						data="optionsTambahRegistrasiDokumenPajak_SelectBranch" item-text="name" item-value="value"
						on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search">
					</bsselect>
				</div>
				<div class="col-md-3" ng-show="!RegistrasiDokumenPajak_HO_Show">
					<bslabel>Nama Branch</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="TambahRegistrasiDokumenPajakNamaBranch"
							placeholder="" ng-model="TambahRegistrasiDokumenPajak_NamaBranch" ng-maxlength="50"
							ng-disabled="!TambahRegistrasiDokumenPajak_NamaBranch_EnableDisabled">
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<bslabel>Nomor Registrasi</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="TambahRegDokPajakNomorRegistrasi" placeholder=""
							ng-model="TambahRegDokPajak_NomorRegistrasi" ng-maxlength="50"
							ng-disabled="!TambahRegDokPajak_NomorRegistrasi_EnableDisable">
					</div>
				</div>

				<div class="col-md-4">
					<bslabel>Tanggal Registrasi</bslabel>
					<div class="input-icon-right ">
						<bsdatepicker name="TambahRegDokPajakTanggalRegistrasi" date-options="dateOptions"
							ng-model="TambahRegDokPajak_TanggalRegistrasi"
							ng-disabled="!TambahRegDokPajak_TanggalRegistrasi_EnableDisable">
						</bsdatepicker>
					</div>
				</div>
			</div>
		</div> -->

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					<bslabel>Nomor Billing</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajakNomorBilling" placeholder=""
							ng-model="EditRegDokPajakNomorBilling" ng-maxlength="50" ng-disabled="true">
					</div>
				</div>
				<div class="col-md-3">
					<bslabel>Masa Pajak</bslabel>
					<div class="input-icon-right ">
						<bsdatepicker name="EditRegDokPajak_MasaPajak" date-options="dateOptionsMonth"
							ng-model="EditRegDokPajak_MasaPajak">
						</bsdatepicker>
					</div>
				</div>
				<div class="col-md-3">
					<bslabel>Tahun Pajak</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajak_TahunPajak"  date-options="dateOptionsYear" placeholder=""
							ng-model="EditRegDokPajak_TahunPajak" ng-maxlength="50">
					</div>
				</div>
				<div class="col-md-3">
					<bslabel>PPN Register</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajak_Pph22" placeholder=""
							ng-model="EditRegDokPajak_Pph22" ng-maxlength="50">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					<bslabel>Nomor Transaksi Pajak Negara</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajak_Ntpn" placeholder=""
							ng-model="EditRegDokPajak_Ntpn" ng-maxlength="50">
					</div>
				</div>
				<div class="col-md-3">
					<bslabel>Tanggal Bayar</bslabel>
					<div class="input-icon-right ">
						<bsdatepicker name="EditRegDokPajak_TanggalBuktiPemungutan" date-options="dateOptions"
							ng-model="EditRegDokPajak_TanggalBuktiPemungutan">
						</bsdatepicker>
					</div>
				</div>
				<div class="col-md-3">
					<bslabel>Kode Akun Pajak</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajak_KodeAkunPajak" placeholder=""
							ng-model="EditRegDokPajak_KodeAkunPajak" ng-maxlength="50">
					</div>
				</div>
				<div class="col-md-3">
					<bslabel>Kode Jenis Setoran</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="EditRegDokPajak_KodeJenisSetoran" placeholder=""
							ng-model="EditRegDokPajak_KodeJenisSetoran" ng-maxlength="50">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button ng-click="RegisDokumen_Edit_Simpan_Clicked()" type="button"
					class="rbtn btn ng-binding ladda-button fi-right-button" style="float: right;">
					<span class="ladda-label">
						Simpan
					</span>
					<span class="ladda-spinner"></span>
				</button>
				<button ng-click="TambahRegDokPajak_Batal_Clicked()" type="button"
					class="btn ng-binding ladda-button fi-right-button" style="float: right;margin-left:50px">
					<span class="ladda-label">
						Kembali
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>
</div>
<!--END btn-Edit-201904-irfan.fakriardian-->

<div ng-show="Show_TambahRegistrasiDokumenPajak" class="fi-outermost">
	<div ng-form name="FormValidation_Registrasidokumenpajak">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3" ng-show="RegistrasiDokumenPajak_HO_Show">
					<bslabel>Nama Branch</bslabel>
					<bsselect ng-model="TambahRegistrasiDokumenPajak_SelectBranch"
						data="optionsTambahRegistrasiDokumenPajak_SelectBranch" item-text="name" item-value="value"
						on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search">
					</bsselect>
				</div>
				<div class="col-md-3" ng-show="!RegistrasiDokumenPajak_HO_Show">
					<bslabel>Nama Branch</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="TambahRegistrasiDokumenPajakNamaBranch"
							placeholder="" ng-model="TambahRegistrasiDokumenPajak_NamaBranch" ng-maxlength="50"
							ng-disabled="!TambahRegistrasiDokumenPajak_NamaBranch_EnableDisabled">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<bslabel>Nomor Registrasi</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="TambahRegDokPajakNomorRegistrasi" placeholder=""
							ng-model="TambahRegDokPajak_NomorRegistrasi" ng-maxlength="50"
							ng-disabled="!TambahRegDokPajak_NomorRegistrasi_EnableDisable">
					</div>
				</div>

				<div class="col-md-4">
					<bslabel>Tanggal Registrasi</bslabel>
					<div class="input-icon-right ">
						<bsdatepicker name="TambahRegDokPajakTanggalRegistrasi" date-options="dateOptions"
							ng-model="TambahRegDokPajak_TanggalRegistrasi"
							ng-disabled="!TambahRegDokPajak_TanggalRegistrasi_EnableDisable">
						</bsdatepicker>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4"
					ng-class="{'has-error':FormValidation_Registrasidokumenpajak.Dokpjk.$error.required && FormValidation_Registrasidokumenpajak.Dokpjk.$touched}">
					<bsreqlabel>Tipe Dokumen Pajak</bsreqlabel>
					<bsselect ng-change="TambahRegDokPajak_TipeDokumen_Changed()"
						ng-model="TambahRegDokPajak_TipeDokumen" data="optionsTambahRegDokPajakTipeDokumen"
						item-text="name" item-value="value" name="Dokpjk" on-select="value(selected)" placeholder=""
						icon="fa fa-search" required>
					</bsselect>
					<span
						ng-show="FormValidation_Registrasidokumenpajak.Dokpjk.$error.required && FormValidation_Registrasidokumenpajak.Dokpjk.$touched"
						class="help-block">Field ini wajib dipilih</span>
					<bserrmsg field="Dokumentpjk"></bserrmsg>
				</div>
			</div>
		</div>

		<div ng-show="Show_TambahRegDokPajakCustomerData">
			<div class="row">
				<div class="col-md-12"
					ng-class="{'has-error':FormValidation_Registrasidokumenpajak.TambahRegDokPajakNamaPelanggan.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakNamaPelanggan.$touched}">
					<div class="col-md-4">
						<bsreqlabel>Nama Pelanggan</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakNamaPelanggan" ng-click="CariNamaPelanggan()" placeholder="klik to search" readonly
								ng-model="TambahRegDokPajak_NamaPelanggan"  ng-maxlength="50"
								maxlength="50" required>
							<span
								ng-show="FormValidation_Registrasidokumenpajak.TambahRegDokPajakNamaPelanggan.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakNamaPelanggan.$touched"
								class="help-block">Field ini wajib diisi</span>
							<bserrmsg field="nmpelanggan"></bserrmsg>
						</div>
					</div>

					<div class="col-md-4">
						<button id="TambahRegDokPajak_Cari_Button" ng-click="TambahRegDokPajak_Cari_Clicked()"
							type="button" class="rbtn btn ng-binding ladda-button" style="float: left; margin-top:24px">
							<span class="ladda-label">
								Cari
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p class="fi-title-line">Informasi Pelanggan
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<bslabel>Toyota ID</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakToyotaId" placeholder=""
								ng-model="TambahRegDokPajak_ToyotaId" ng-maxlength="50"
								ng-disabled="!TambahRegDokPajak_ToyotaId_EnableDisable">
						</div>
					</div>

					<div class="col-md-4">
						<bslabel>NPWP</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakNPWP" placeholder=""
								ng-model="TambahRegDokPajak_NPWP" ng-maxlength="50"
								ng-disabled="!TambahRegDokPajak_NPWP_EnableDisable">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<bslabel>Alamat</bslabel>
						<textarea type="text" class="form-control" name="TambahRegDokPajakAlamat" placeholder=""
							ng-model="TambahRegDokPajak_Alamat" ng-maxlength="50" style="margin-bottom: 10px"
							ng-disabled="!TambahRegDokPajak_Alamat_EnableDisable">
					</textarea>
					</div>

					<div class="col-md-4">
						<bslabel>Kabupaten / Kota</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakKabKota" placeholder=""
								ng-model="TambahRegDokPajak_KabKota" ng-maxlength="50"
								ng-disabled="!TambahRegDokPajak_KabKota_EnableDisable">
						</div>
					</div>

					<div class="col-md-4">
						<bslabel>Handphone</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakHandphone" placeholder=""
								ng-model="TambahRegDokPajak_Handphone" ng-maxlength="50"
								ng-disabled="!TambahRegDokPajak_Handphone_EnableDisable">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<p class="fi-title-line">
				</p>
			</div>
		</div>

		<div ng-show="Show_TambahRegDokPajakPPh22">
			<div class="row">
				<div class="col-md-12">
					<p class="fi-title-line">Daftar billing unit yang Bukti Pemungutan PPh22-nya belum diregister
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<input type="text" class="form-control" name="" placeholder="Teks Filter..."
							ng-model="RegistrasiDokumenPajakBilling_TextFilter" ng-maxlength="50" maxlength="50">
					</div>
					<div class="col-md-4">
						<bsselect ng-model="RegistrasiDokumenPajakBilling_SearchDropdown"
							data="RegistrasiDokumenPajakBilling_OptionsSearchDropdown" item-text="name"
							item-value="value" on-select="value(selected)" placeholder="Select Search Criteria"
							icon="fa fa-search">
						</bsselect>
					</div>
					<div class="col-md-4">
						<button id="" ng-click="RegistrasiDokumenPajakBilling_Filter()" type="button"
							class="btn ng-binding ladda-button">
							<span class="ladda-label">
								Filter
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div id="myGrid" ui-grid="RegistrasiDokumenPajakBillingList_UIGrid" ui-grid-selection
						ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns class="fi-ui-grid"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4"
						ng-class="{'has-error':FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22NamaPemungut.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22NamaPemungut.$touched}">
						<bsreqlabel>Nama Pemungut</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakPPh22NamaPemungut"
								placeholder="" ng-model="TambahRegDokPajakPPh22_NamaPemungut" ng-maxlength="50"
								maxlength="50" required>
							<span
								ng-show="FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22NamaPemungut.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22NamaPemungut.$touched"
								class="help-block">Field ini wajib diisi</span>

						</div>
					</div>

					<div class="col-md-4"
						ng-class="{'has-error':FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22NPWPPemungut.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22NPWPPemungut.$touched}">
						<bsreqlabel>NPWP Pemungut</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakPPh22NPWPPemungut"
								placeholder="" ng-model="TambahRegDokPajakPPh22_NPWPPemungut" ng-maxlength="50"
								maxlength="15" required>
							<span
								ng-show="FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22NPWPPemungut.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22NPWPPemungut.$touched"
								class="help-block">Field ini wajib diisi</span>

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4"
						ng-class="{'has-error':FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22NomorBukti.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22NomorBukti.$touched}">
						<bsreqlabel>Nomor Bukti Pemungutan</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakPPh22NomorBukti"
								placeholder="" ng-model="TambahRegDokPajakPPh22_NomorBukti" ng-maxlength="50"
								maxlength="20" required>
							<span
								ng-show="FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22NomorBukti.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22NomorBukti.$touched"
								class="help-block">Field ini wajib diisi</span>
							<bserrmsg field="nobukti"></bserrmsg>
						</div>
					</div>

					<div class="col-md-4" class="form-group"
						ng-class="{'has-error':(FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22TanggalBukti.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22TanggalBukti.$touched) || TanggalBuktiPemungutanOK == false}">
						<bsreqlabel>Tanggal Bukti Pemungutan</bsreqlabel>
						<div class="input-icon-right">
							<bsdatepicker name="TambahRegDokPajakPPh22TanggalBukti" date-options="dateOptions"
								ng-model="TambahRegDokPajakPPh22_TanggalBukti" ng-change="TanggalPemungutanChanged()"
								required>
							</bsdatepicker>
							<span
								ng-if="FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22TanggalBukti.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22TanggalBukti.$touched"
								class="help-block">Field ini wajib dipilih</span>
							<span ng-if="!TanggalBuktiPemungutanOK" class="help-block">{{errTanggalPemungutan}}</span>
						</div>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4"
						ng-class="{'has-error':FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22DPP.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22DPP.$touched}">
						<bsreqlabel>DPP (register)</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakPPh22DPP" placeholder=""
								ng-model="TambahRegDokPajakPPh22_DPP" ng-maxlength="50" currency-formating number-only
								required>
							<span
								ng-show="FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22DPP.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh22DPP.$touched"
								class="help-block">Field ini wajib diisi</span>
						</div>
					</div>

					<div class="col-md-4"
						ng-class="{'has-error':FormValidation_Registrasidokumenpajak.inputPPh22.$error.required && FormValidation_Registrasidokumenpajak.inputPPh22.$touched}">
						<bsreqlabel>PPH 22 (register)</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="inputPPh22" placeholder=""
								ng-model="TambahRegDokPajakPPh22_PPh22" ng-maxlength="50" currency-formating number-only
								required>
							<span
								ng-show="FormValidation_Registrasidokumenpajak.inputPPh22.$error.required && FormValidation_Registrasidokumenpajak.inputPPh22.$touched"
								class="help-block">Field ini wajib diisi</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-show="Show_TambahRegDokPajakPPh23">
			<div class="row">
				<div class="col-md-12">
					<p class="fi-title-line">Daftar billing Service yang Bukti Potong PPh23-nya belum diregister
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<input type="text" class="form-control" name="" placeholder="Teks Filter..."
							ng-model="RegistrasiDokumenPajakBilling_TextFilter" ng-maxlength="50" maxlength="50">
					</div>
					<div class="col-md-4">
						<bsselect ng-model="RegistrasiDokumenPajakBilling_SearchDropdown"
							data="RegistrasiDokumenPajakBilling_OptionsSearchDropdown" item-text="name"
							item-value="value" on-select="value(selected)" placeholder="Select Search Criteria"
							icon="fa fa-search">
						</bsselect>
					</div>
					<div class="col-md-4">
						<button id="" ng-click="RegistrasiDokumenPajakBilling_Filter()" type="button"
							class="btn ng-binding ladda-button">
							<span class="ladda-label">
								Filter
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div id="myGrid" ui-grid="RegistrasiDokumenPajakBillingList_UIGrid" ui-grid-selection
						ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns class="fi-ui-grid"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4"
						ng-class="{'has-error':FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23NomorBukti.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23NomorBukti.$touched}">
						<bsreqlabel>Nomor Bukti Potong</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakPPh23NomorBukti"
								placeholder="" ng-model="TambahRegDokPajakPPh23_NomorBukti" ng-maxlength="50"
								maxlength="20" required>
							<span
								ng-show="FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23NomorBukti.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23NomorBukti.$touched"
								class="help-block">Field ini wajib diisi</span>
						</div>
					</div>

					<div class="col-md-4" class="form-group"
						ng-class="{'has-error':(FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23TanggalBukti.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23TanggalBukti.$touched) || TanggalBuktiPotongOK == false}">
						<bsreqlabel>Tanggal Bukti Potong</bsreqlabel>
						<div class="input-icon-right ">
							<bsdatepicker name="TambahRegDokPajakPPh23TanggalBukti" date-options="dateOptions"
								ng-model="TambahRegDokPajakPPh23_TanggalBukti" ng-change="TanggalPotongChanged()"
								required>
							</bsdatepicker>
							<span
								ng-if="FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23TanggalBukti.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23TanggalBukti.$touched"
								class="help-block">Field ini wajib dipilih</span>
							<span ng-if="!TanggalBuktiPotongOK" class="help-block">{{errTanggalPotong}}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4"
						ng-class="{'has-error':FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23DPP.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23DPP.$touched}">
						<bsreqlabel>DPP (register)</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakPPh23DPP" placeholder=""
								ng-model="TambahRegDokPajakPPh23_DPP" ng-maxlength="50" currency-formating number-only
								required>
							<span
								ng-show="FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23DPP.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23DPP.$touched"
								class="help-block">Field ini wajib diisi</span>
						</div>
					</div>

					<div class="col-md-4"
						ng-class="{'has-error':FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23PPh23.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23PPh23.$touched}">
						<bsreqlabel>PPH 23 (register)</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakPPh23PPh23" placeholder=""
								ng-model="TambahRegDokPajakPPh23_PPh23" ng-maxlength="50" currency-formating number-only
								required>
							<span
								ng-show="FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23PPh23.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakPPh23PPh23.$touched"
								class="help-block">Field ini wajib diisi</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-show="Show_TambahRegDokPajakSSP">
			<div class="row">
				<div class="col-md-12">
					<p class="fi-title-line">Daftar billing yang surat setoran pajaknya belum diregister
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<input type="text" class="form-control" name="" placeholder="Teks Filter..."
							ng-model="RegistrasiDokumenPajakBilling_TextFilter" ng-maxlength="50" max="50">
					</div>
					<div class="col-md-4">
						<bsselect ng-model="RegistrasiDokumenPajakBilling_SearchDropdown"
							data="RegistrasiDokumenPajakBilling_OptionsSearchDropdown" item-text="name"
							item-value="value" on-select="value(selected)" placeholder="Select Search Criteria"
							icon="fa fa-search">
						</bsselect>
					</div>
					<div class="col-md-4">
						<button id="" ng-click="RegistrasiDokumenPajakBilling_Filter()" type="button"
							class="btn ng-binding ladda-button">
							<span class="ladda-label">
								Filter
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div id="myGrid" ui-grid="RegistrasiDokumenPajakBillingList_UIGrid" ui-grid-selection
						ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns class="fi-ui-grid"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4"
						ng-class="{'has-error':FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPPPN.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPPPN.$touched}">
						<bsreqlabel>PPN (Register)</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakSSPPPN" placeholder=""
								ng-model="TambahRegDokPajakSSP_PPN" ng-maxlength="50" currency-formating required>
							<span
								ng-show="FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPPPN.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPPPN.$touched"
								class="help-block">Field ini wajib diisi</span>
						</div>
					</div>

					<div class="col-md-4"
						ng-class="{'has-error':FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPNTPN.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPNTPN.$touched}">
						<bsreqlabel>NTPN</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakSSPNTPN" placeholder=""
								ng-model="TambahRegDokPajakSSP_NTPN" ng-maxlength="50" maxlength="16" alpha-numeric
								required>
							<span
								ng-show="FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPNTPN.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPNTPN.$touched"
								class="help-block">Field ini wajib diisi</span>
						</div>
					</div>

					<div class="col-md-4" class="form-group"
						ng-class="{'has-error':(FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPTanggalBayar.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPTanggalBayar.$touched) || TanggalBayarOK == false}">
						<bsreqlabel>Tanggal Bayar</bsreqlabel>
						<div class="input-icon-right ">
							<bsdatepicker name="TambahRegDokPajakSSPTanggalBayar" date-options="dateOptions"
								ng-model="TambahRegDokPajakSSP_TanggalBayar" ng-change="TanggalBayarChanged()" required>
							</bsdatepicker>
							<span
								ng-if="FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPTanggalBayar.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPTanggalBayar.$touched"
								class="help-block">Field ini wajib dipilih</span>
							<span ng-if="!TanggalBayarOK" class="help-block">{{errTanggalBayar}}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4"
						ng-class="{'has-error':FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPKodeAkun.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPKodeAkun.$touched}">
						<bsreqlabel>Kode Akun Pajak</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakSSPKodeAkun" placeholder=""
								ng-model="TambahRegDokPajakSSP_KodeAkun" ng-maxlength="50" maxlength="6" number-only
								required>
							<span
								ng-show="FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPKodeAkun.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPKodeAkun.$touched"
								class="help-block">Field ini wajib diisi</span>
						</div>
					</div>

					<div class="col-md-4"
						ng-class="{'has-error':FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPKodeJenisSetoran.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPKodeJenisSetoran.$touched}">
						<bsreqlabel>Kode Jenis Setoran</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahRegDokPajakSSPKodeJenisSetoran"
								placeholder="" ng-model="TambahRegDokPajakSSP_KodeJenisSetoran" ng-maxlength="50"
								maxlength="3" number-only required>
							<span
								ng-show="FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPKodeJenisSetoran.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPKodeJenisSetoran.$touched"
								class="help-block">Field ini wajib diisi</span>
						</div>
					</div>
				</div>
			</div>

			<!-- ung-20190513 -->
			<div class="row">
				<div class="col-md-12">
						<div class="col-md-4" class="form-group"
						ng-class="{'has-error':(FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPMasaPajak.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPMasaPajak.$touched) || MasaPajakOK == false}">
						<bsreqlabel>Masa Pajak</bsreqlabel>
						<div class="input-icon-right ">
							<bsdatepicker name="TambahRegDokPajakSSPMasaPajak" date-options="dateOptionsMonth"
								ng-model="TambahRegDokPajakSSP_MasaPajak" ng-change="MasaPajakChanged()" required>
							</bsdatepicker>
							<span
								ng-if="FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPMasaPajak.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPMasaPajak.$touched"
								class="help-block">Field ini wajib dipilih</span>
							<span ng-if="!MasaPajakOK" class="help-block">{{errMasaPajak}}</span>
						</div>
					</div>

					<div class="col-md-4" class="form-group"
						ng-class="{'has-error':(FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPTahunPajak.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPTahunPajak.$touched) || TahunPajakOK == false}">
						<bsreqlabel>Tahun Pajak</bsreqlabel>
						<div class="input-icon-right ">
							<bsdatepicker name="TambahRegDokPajakSSPTahunPajak" date-options="dateOptionsYear"
								ng-model="TambahRegDokPajakSSP_TahunPajak" ng-change="TahunPajakChanged()" required>
							</bsdatepicker>
							<span
								ng-if="FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPTahunPajak.$error.required && FormValidation_Registrasidokumenpajak.TambahRegDokPajakSSPTahunPajak.$touched"
								class="help-block">Field ini wajib dipilih</span>
							<span ng-if="!TahunPajakOK" class="help-block">{{errTahunPajak}}</span>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-12">
				<button id="TambahRegDokPajak_Simpan_Button" ng-click="ToSimpanRegisterPajak()" type="button"
					class="rbtn btn ng-binding ladda-button fi-right-button">
					<span class="ladda-label">
						Simpan
					</span>
					<span class="ladda-spinner"></span>
				</button>

				<button id="TambahRegDokPajak_Batal_Button" ng-click="TambahRegDokPajak_Batal_Clicked()" type="button"
					class="btn ng-binding ladda-button fi-right-button">
					<span class="ladda-label">
						Kembali
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>


</div>



<div class="ui modal lodingdata" style="height:200px; background-color:transparent; box-shadow: none !important">
    <div align="center" class="list-group-item" style="border: none !important;padding:10px 0px 10px 0px; background-color:transparent;">
        <font color="white">
            <i class="fa fa-spinner fa-spin fa-3x fa-lg"></i>
            </br>
            <b> Loading Data... </b>
        </font>
    </div>
</div>
<div class="ui modal" id="TambahRegDokPajak_Simpan_Modal" role="dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="Batal_ModalSimpanNomorPajak()" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Konfirmasi Simpan</h4>
		</div>
		<div class="modal-body">
			<p>
				Apakah anda yakin ingin menyimpan register dokumen pajak ini?
			</p>
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="Batal_ModalSimpanNomorPajak()" class="rbtn btn ng-binding ladda-button"
					type="button">Tidak</button>
				<button ng-click="TambahRegDokPajak_Simpan_Clicked()" class="rbtn btn ng-binding ladda-button"
					type="button">Ya</button>
			</p>
		</div>
	</div>
</div>

<div class="ui modal" id="HapusRegDokPajak_Modal" role="dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="TohapusTidak_Clicked()" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Konfirmasi Hapus</h4>
		</div>
		<div class="modal-body">
			<p>
				Apakah anda yakin ingin menghapus ini?
			</p>
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="TohapusTidak_Clicked()" class="rbtn btn ng-binding ladda-button"
					type="button">Tidak</button>
				<button ng-click="ToHapus_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Ya</button>
			</p>
		</div>
	</div>
</div>

<div class="ui modal" id="ModalTambahRegDokPajak_GetCustomerName" role="dialog">
	<div class="modal-content" style="">
		<ul class="list-group">
			<label id="ModalTambahRegDokPajak_HeaderLabel"> Pilih Data Pelanggan <span style="color:#b94a48;"> *</span></label>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="input-icon-right">
							<input type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="TambahRegDokPajak_CustomerFilter" ng-maxlength="50"
							 maxlength="50">
						</div>
					</div>
		
					<div class="col-md-4">
						<bsselect ng-model="TambahRegDokPajak_CustomerSelectKolom" data="optionsTambahRegDokPajak_CustomerSelectKolom" ng-change="TambahRegDokPajakNamaVendor_FilterKolom_Changed"
						 item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Search Criteria" icon="fa fa-search">
						</bsselect>
					</div>
		
					<div class="col-md-2">
						<button id="" onclick="" ng-click="TambahRegDokPajak_CustomerFilter_Clicked()" type="button" class="btn ng-binding ladda-button">
							<span class="ladda-label">
								Filter
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
				</div>
			</div>
			<br>
			<div class="form-group" ui-grid="ModalTambahRegDokPajak_GetCustomerName_UIGrid" ui-grid-auto-resize ui-grid-selection
			 ui-grid-pagination></div>
			<p align="center">
				<button id="ModalTambahRegDokPajak_Button" class="col-sm-6" ng-click="Batal_TambahRegDokPajak_GetCustomerName()" type="button" class="rbtn btn ng-binding ladda-button">
					Batal
				</button>
				<button  id="ModalTambahRegDokPajak_Button" class="col-sm-6" ng-click="Pilih_TambahRegDokPajak_GetCustomerName()" type="button" class="rbtn btn ng-binding ladda-button">
					Pilih
				</button>
			</p>
		</ul>
	</div>
</div>