<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="AgamaForm" factory-name="AgamaFactoryMaster" model="mAgama" model-id="CustomerReligionId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="AgamaForm" form-title="Agama" modal-title="Master Agama" modal-size="small" form-api="formApi" do-custom-save="doCustomSave" icon="fa fa-fw fa-child">

        <div class="row">
            <div class="col-md-6">


				
				<div class="form-group" show-errors>
					<bsreqlabel>Agama</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="CustomerReligionName" placeholder="Input Agama" ng-model="mAgama.CustomerReligionName"
								maxlength="15" alpha-numeric mask="Huruf" required
						>
					</div>
					<bserrmsg field="CustomerReligionName"></bserrmsg>
				</div>
            </div>
        </div>
        
</bsform-grid-tree>

