<script type="text/javascript">

</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

fieldset.scheduler-border {
    width:auto; border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="col-md-12">
	<p style="width:280px; margin-top:20px; margin-left:10px; background:white;color:red;">Setting Nomor Preprinted Kuitansi
	<hr style="border-color:red" />
	</p>
	
	<div class="col-md-12">
		<div id="myGrid" ui-grid="PreprintedKuitansi_UIGrid" ui-grid-edit ui-grid-auto-resize ui-grid-pagination class="Mygrid" style="width:100%;height: 250px; margin-top:10px; margin-bottom:20px;"></div>						
	</div>
	
	<div class="col-md-12">
		<button id="PreprintedKuitansi_Simpan_Button" ng-click="PreprintedKuitansi_Simpan_Clicked()" ng-disabled="SimpanDisabled"
		 type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px">
			<span class="ladda-label">
				Simpan
			</span><span class="ladda-spinner"></span>
		</button>
	</div>
</div>