<link rel="stylesheet" href="css/uistyle.css">
<link rel="stylesheet" href="css/uitimelinestyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="styleSheet" href="release/ui-grid.min.css" />
<script src="/release/ui-grid.min.js"></script>
<script type="text/javascript" src="js/print_min.js"></script>
<link rel="stylesheet" href="css/uitogglestyle.css">

<style type="text/css">
 /* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 55px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00FF00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00FF00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}  
</style>

<div style="margin-right:5px;margin-left:5px" ng-show="ShowKonfigurasiRegistrationMain" class="row">
	<div class="pull-right" style="margin-bottom:5px;margin-right:10px">
         <button class="ubtn" style="margin-bottom:-9px;width:40px" ng-click="KonfigurasiRegistrationSearchToggle()" onclick="this.blur()"
            ng-class="{'adv-search-active':showAdvsearch}" tooltip-placement="bottom" tooltip-trigger="mouseenter" tooltip-animation="false"
            uib-tooltip="Search Panel" tabindex="0">
            <i class="fa fa-fw fa-search" style="font-size:1.4em;"></i>
        </button>
        <button class="ubtn" ng-click="KonfigurasiRegistrationSearchData()" onclick="this.blur();" style="padding-bottom:6px;width:40px""
            tooltip-placement="bottom" tooltip-trigger="mouseenter" tooltip-animation="false" uib-tooltip="Refresh" tabindex="0">
            <i class="fa fa-fw fa-refresh" style="font-size:1.4em;"></i>
        </button>

    </div>

	<div ng-show="KonfigurasiRegistrationShowAdvSearch" class="col-md-12 advsearch" style="padding:10px; margin-bottom:0px; border:1px solid #e2e2e2;background-color:rgba(213,51,55,0.02)">  
        <div class="row">
		<div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <bsreqlabel>Dealer</bsreqlabel>
                    <bsselect ng-model="filter.GroupDealerId" data="optionsTambahMasterCAO_Dealer"
                        item-text="name" item-value="value" ng-disabled="true"
                        placeholder="Group Dealer" icon="fa fa-search">
                    </bsselect>
                </div>
            </div>
			<div class="col-md-6">
                <div class="form-group">
                    <bslabel>Cabang</bslabel>
                    <bsselect ng-model="filter.OutletId" data="OptionsKonfigurasiRegistrationOutlet" item-text="OutletName"
                        item-value="OutletId" placeholder="Cabang" icon="fa fa-search">
                    </bsselect>
                </div>
            </div>
        </div>
		<div class="col-md-12">
			<br/>
			<div class="row" style="position:absolute;right:20px;margin-top:-10px;">
				<div class="pull-right">
					<div class="btn-group">
						<button class="btn wbtn" style="padding:4px;" ng-click="KonfigurasiRegistrationSearchData()" onclick="this.blur()" tooltip-placement="bottom" tooltip-trigger="mouseenter"
							tooltip-animation="false" uib-tooltip="Search">
							<i class="large icons">
								<i class="database icon"></i>
								<i class="inverted corner filter icon"></i>
							</i>Search</button>
					</div>
				</div>
			</div>
		</div>
		</div>
        <br/>
    </div>
	<div style="margin-top:180px">
		<div class="grid" ui-grid="gridMainKonfigurasiRegistration" ui-grid-selection ui-grid-pinning ui-grid-pagination ui-grid-auto-resize></div>
	</div>
</div>

<div ng-show="ShowKonfigurasiRegistrationDetail" class="row">
	<div>
        <button ng-click="KonfigurasiRegistrationSimpan()" ng-disabled="disabledKonfigurasiRegistrationSimpan" class="rbtn btn ng-binding ladda-button" style="float: right;"> Simpan</button>
        <button id="saveBtn" class="wbtn btn ng-binding ladda-button" style="float: right;" ng-click="KembaliKeKonfigurasiRegistrationMasterMain()">Kembali</button>
    </div>
	<div>
		<div class="col-md-12">
			<div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Dealer</bsreqlabel>
                    <bsselect ng-model="mKonfigurasiRegistration.GroupDealerId" data="optionsTambahMasterCAO_Dealer"
                        item-text="name" item-value="value" ng-disabled="KonfigurasiRegistrationOperation=='Lihat'"
                        on-select="ulala(selected)" placeholder="Group Dealer" icon="fa fa-search">
                    </bsselect>
                </div>
            </div>
			<div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Cabang</bsreqlabel>
                    <bsselect ng-model="mKonfigurasiRegistration.OutletId" data="OptionsKonfigurasiRegistrationOutlet" item-text="OutletName"
                        ng-disabled="KonfigurasiRegistrationOperation=='Lihat'" item-value="OutletId" placeholder="Cabang" icon="fa fa-search">
                    </bsselect>
                </div>
            </div>
			<div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Pembaruan Terakhir</bsreqlabel>
                    <input type="text" class="form-control" 
							placeholder="Pembaruan Terakhir"
							ng-disabled="true" 
							ng-model="mKonfigurasiRegistration.LastModifiedDate">
                </div>
            </div>
		</div>
		
	</div>
	<div style="margin-top:180px">
		<div class="grid" ui-grid="gridMainKonfigurasiRegistrationChild" ui-grid-selection ui-grid-pinning ui-grid-pagination ui-grid-auto-resize></div>
	</div>
</div>