<script type="text/javascript">


   
</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

fieldset.scheduler-border {
    width:auto; border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
.watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="row" style="margin-top: 10px;">
	<div class="row" style="padding-left: 13px;" >
		<div class="col-md-3">
			<bsreqlabel>Tanggal Incoming Payment</bsreqlabel>
			<bsdatepicker
			format="dd/MM/yyyy"
			ng-disabled="false"
			name="TanggalIncomingPayment" 
			date-options="dateOptions"
			ng-model="RekapIncomingPaymentKreditDebit_TanggalIncomingPayment" 
			ng-change = "RekapIncomingPaymentKreditDebit_TanggalIncomingPayment_Change"
			>
			</bsdatepicker>
		</div>
		<div class="col-md-3">
			<bsreqlabel>Nama Mesin EDC</bsreqlabel>
			<bsselect ng-change="RekapIncomingPaymentKreditDebit_NamaBank_Change()" ng-model="RekapIncomingPaymentKreditDebit_NamaBank" data="RekapIncomingPaymentKreditDebit_NamaBankOption" item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih" icon="fa fa-search">
			</bsselect>
		</div>
		<div class="col-md-6">
			<br/>
			<button id=""  onclick="" ng-click="RekapIncomingPaymentKreditDebit_Cari()"  type="button" class="rbtn btn ng-binding ladda-button" style="margin-top:3px">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Cari
				</span><span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
	
</div>

<div class="row" ng-show="RekapIncomingPaymentKreditDebit_Tabel">
<div class="col-md-12" style="margin-top:20px;">
	<!--legend style="background:white;" class="scheduler-border">Daftar Incoming Payment dengan Credit/Debit Card</legend-->
	<p class="fi-title-line" style="margin:0px"">
		Daftar Incoming Payment dengan Credit/Debit Card
		<!-- <hr style="margin-top:-10px;margin-left:12px;margin-right:12px; border-color:red" /> -->
	</p>	
	<div class="col-md-12">
	<div class="form-group">	
	<!--table  align="center"  class="table table-bordered table-responsive col-md-11">
	<tbody>
			<tr>
				<th >Nomor Incoming Payment</th>
				<th >Nomor Kartu</th>
				<th >Nama Pelanggan</th>
				<th >Nominal</th>
				<th >Tipe Kartu</th>
			</tr>
			<tr ng-repeat="List_IncomingPaymentKreditDebit in List_DaftarIncomingPaymentKreditDebit_To_Repeat">
				<td >{{List_IncomingPaymentKreditDebit.NomorIncomingPayment}}</td>
				<td >{{List_IncomingPaymentKreditDebit.NomorKartu}}</td>
				<td >{{List_IncomingPaymentKreditDebit.NamaPelanggan}}</td>
				<td >{{List_IncomingPaymentKreditDebit.Nominal}}</td>
				<td >
					<bsselect ng-change="List_IncomingPaymentKreditDebit_SelectedChanged()" ng-model="List_IncomingPaymentKreditDebit.TipeKartu" data="optionsTipeKartu" item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Tipe Kartu" icon="fa fa-search">
					</bsselect>
				</td>
			</tr>
	</tbody>		
	</table-->
	<div class="row">
			<div>
				<div id="Rekap_Grid" ui-grid="Rekap_UIGrid" class="grid" style="width:99.95%;height: 300px" ui-grid-auto-resize ui-grid-edit ui-grid-pagination>
						<div class="watermark" ng-show="!Rekap_UIGrid.data.length">No data available</div>
				</div>
			</div>
	</div>
			
	<div class="row" style="margin-left:-25px; margin-top: 10px">
		<div class="col-md-12" >
			<div class="col-md-3" >
				<label>Total Credit Card</label>
				<input type="text" 
					class="form-control" 
					name="TotalCreditCard" 
					placeholder="Total Credit Card"
					ng-disabled="!RekapIncomingPaymentKreditDebit_TotalCreditCard_EnableDisable" 					
					ng-model="RekapIncomingPaymentKreditDebit_TotalCreditCard" 
					ng-maxlength="50"
					style="margin-bottom: 10px" 
					currency-formating
				required>
			</div>
			<div class="col-md-3" >
				<label>Total Debit Card</label>
				<input type="text" 
					class="form-control" 
					name="TotalDebitCard" 
					placeholder="Total Debit Card" 
					ng-disabled="!RekapIncomingPaymentKreditDebit_TotalDebitCard_EnableDisable"
					ng-model="RekapIncomingPaymentKreditDebit_TotalDebitCard" 
					ng-maxlength="50"
					style="margin-bottom: 10px" 
					currency-formating
				required>
			</div>
			<div class="col-md-6">
				<button id=""  onclick="RekapIncomingPaymentKreditDebit_Simpan()" ng-click="RekapIncomingPaymentKreditDebit_Simpan()"  type="button" class="rbtn btn ng-binding ladda-button" style="float: right;margin-top:22px; margin-right: -13px;">
					<span class="ladda-label">
						<!--<i class="fa fa-fw fa-refresh"></i>-->Simpan
						</span><span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>
	<!-- <div class="row">
		<button id=""  onclick="RekapIncomingPaymentKreditDebit_Simpan()" ng-click="RekapIncomingPaymentKreditDebit_Simpan()"  type="button" class="rbtn btn ng-binding ladda-button" style="float: right;margin-top:25px">
		<span class="ladda-label">
			<i class="fa fa-fw fa-refresh"></i>Simpan
			</span><span class="ladda-spinner"></span>
		</button>
	</div>
	 -->
</div>			
</div>
