<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="no-add">
	<div ng-show="MainHargaRetailParts_Show">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					<bslabel>Tanggal Berlaku Dari</bslabel>
					<div class="input-icon-right ">
						<bsdatepicker name="MainHargaRetailPartsTanggalAwal" date-options="dateOptions" ng-model="MainHargaRetailParts_TanggalAwal">
						</bsdatepicker>
					</div>
				</div>
				
				<div class="col-md-3">
					<bslabel>Tanggal Berlaku Sampai</bslabel>
					<div class="input-icon-right ">
						<bsdatepicker name="MainHargaRetailPartsTanggalAkhir" date-options="dateOptions" ng-model="MainHargaRetailParts_TanggalAkhir">
						</bsdatepicker>
					</div>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="col-md-3">
					<bslabel>No Material</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="MainHargaRetailPartsNoMaterial " placeholder="" ng-model="MainHargaRetail_PartsNoMaterial"
						 ng-maxlength="50">
					</div>
				</div>
				
				<div class="col-md-3">
					<bslabel>Nama Material</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="MainHargaRetailPartsNamaMaterial " placeholder="" ng-model="MainHargaRetail_PartsNamaMaterial"
						 ng-maxlength="50">
					</div>
				</div>
				
				<div class="col-md-6">
					<button id="MainHargaRetailParts_Hapus_Button" ng-click="MainHargaRetailParts_Hapus_Clicked()" type="button" 
						class="btn ng-binding ladda-button" style="float: right">
					<span class="ladda-label" >
						Hapus
						</span><span class="ladda-spinner"></span>
					</button>
					
					<button id="MainHargaRetailParts_Cari_Button" ng-click="MainHargaRetailParts_Cari_Clicked()" type="button" 
						class="btn ng-binding ladda-button" style="float: right">
					<span class="ladda-label">
						Cari
						</span><span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<button id="MainHargaRetailParts_Tambah_Button" ng-click="MainHargaRetailParts_Tambah_Clicked()" type="button" 
					class="rbtn btn ng-binding ladda-button" style="float: right">
				<span class="ladda-label" >
					Input Harga Baru
					</span><span class="ladda-spinner"></span>
				</button>
				
				<button id="MainHargaRetailParts_Upload_Button" ng-click="MainHargaRetailParts_Upload_Clicked()" type="button" 
					class="rbtn btn ng-binding ladda-button" style="float: right">
				<span class="ladda-label">
					Upload Harga Baru
					</span><span class="ladda-spinner"></span>
				</button>
				
				<button id="MainHargaRetailParts_Download_Button" ng-click="MainHargaRetailParts_Download_Clicked()" type="button" 
					class="rbtn btn ng-binding ladda-button" style="float: right">
				<span class="ladda-label">
					Download Template
					</span><span class="ladda-spinner"></span>
				</button>
			</div>
			
			<div class="col-md-12">
				<div id="myGrid" ui-grid="MainHargaRetailParts_UIGrid" ui-grid-auto-resize ui-grid-pagination ui-grid-selection class="Mygrid" style="width:95%;height: 250px; margin-top:20px; margin-bottom:20px; margin-left:20px"></div>						
			</div>
		</div>
	</div>
	
	<div class="row" ng-show="TambahHargaRetailParts_Show">
		<div class="col-md-12">
			<button id="TambahHargaRetailParts_Simpan_Button" ng-click="TambahHargaRetailParts_Simpan_Clicked()" type="button" 
				class="rbtn btn ng-binding ladda-button" style="float: right" ng-show='TambahHargaRetailParts_Simpan_Show'>
			<span class="ladda-label" >
				Simpan
				</span><span class="ladda-spinner"></span>
			</button>
			
			<button id="TambahHargaRetailParts_Kembali_Button" ng-click="TambahHargaRetailParts_Kembali_Clicked()" type="button" 
				class="rbtn btn ng-binding ladda-button" style="float: right">
			<span class="ladda-label">
				Kembali
				</span><span class="ladda-spinner"></span>
			</button>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-3">
				<bslabel>Tanggal Berlaku Dari</bslabel>
				<div class="input-icon-right ">
					<bsdatepicker name="TambahHargaRetailPartsTanggalAwal" date-options="dateOptions" ng-model="TambahHargaRetailParts_TanggalAwal"
					ng-disabled='TambahHargaRetailParts_TanggalAwal_isDisabled'>
					</bsdatepicker>
				</div>
			</div>
			
			<div class="col-md-3">
				<bslabel>Tanggal Berlaku Sampai</bslabel>
				<div class="input-icon-right ">
					<bsdatepicker name="TambahHargaRetailPartsTanggalAkhir" date-options="dateOptions" ng-model="TambahHargaRetailParts_TanggalAkhir"
					ng-disabled='TambahHargaRetailParts_TanggalAkhir_isDisabled'>
					</bsdatepicker>
				</div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-3">
				<bsreqlabel>No Material untuk Parts</bsreqlabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="TambahHargaRetailPartsNoMaterial " placeholder="" ng-model="TambahHargaRetail_PartsNoMaterial"
					 ng-maxlength="50" ng-disabled='TambahHargaRetail_PartsNoMaterial_isDisabled'>
				</div>
			</div>
			<div class="col-md-1">
				<button id="TambahHargaRetailParts_Cari_Button" ng-click="TambahHargaRetailParts_Cari_Clicked()" type="button" 
					class="rbtn btn ng-binding ladda-button" style="float: left" ng-show='TambahHargaRetailParts_Cari_Show'>
				<span class="ladda-label" >
					Cari
					</span><span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-3">
				<bsreqlabel>Nama Material untuk Parts</bsreqlabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="TambahHargaRetailPartsNamaMaterial " placeholder="" ng-model="TambahHargaRetail_PartsNamaMaterial"
					 ng-maxlength="50" ng-disabled="!TambahHargaRetail_PartsNamaMaterial_isDisabled">
				</div>
			</div>
		</div>
		
		<!--<div class="col-md-12">
			<div class="col-md-3">
				<bsreqlabel>Satuan Beli</bsreqlabel>
					<bsselect ng-model="TambahHargaRetail_Satuan"
						 data="optionsTambahHargaRetail_Satuan" item-text="name" item-value="value" on-select="value(selected)" placeholder="Satuan Beli"
						 icon="fa fa-search">
					</bsselect>
			</div>
		</div>-->
		
		<div class="col-md-12">
			<div class="col-md-3">
				<bsreqlabel>Harga Retail Parts</bsreqlabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="TambahHargaRetailPartsHarga " placeholder="" ng-model="TambahHargaRetail_Harga"
					 ng-maxlength="50" ng-disabled='TambahHargaRetail_Harga_isDisabled'>
				</div>
			</div>
		</div>
	</div>
	
	<div ng-show="UploadHargaRetailParts_Show">
		<div class="row" >
			<div class="col-md-12">
				<button id="UploadHargaRetailParts_Simpan_Button" ng-click="UploadHargaRetailParts_Simpan_Clicked()" type="button" 
					class="rbtn btn ng-binding ladda-button" style="float: right">
				<span class="ladda-label" >
					Simpan
					</span><span class="ladda-spinner"></span>
				</button>
				
				<button id="UploadHargaRetailParts_Kembali_Button" ng-click="UploadHargaRetailParts_Kembali_Clicked()" type="button" 
					class="rbtn btn ng-binding ladda-button" style="float: right">
				<span class="ladda-label">
					Kembali
					</span><span class="ladda-spinner"></span>
				</button>
			</div>
			
			<div class="col-md-12">
				<div class="col-md-3">
					<bslabel>Tanggal Berlaku Dari</bslabel>
					<div class="input-icon-right ">
						<bsdatepicker name="UploadHargaRetailPartsTanggalAwal" date-options="dateOptions" ng-model="UploadHargaRetailParts_TanggalAwal">
						</bsdatepicker>
					</div>
				</div>
				
				<div class="col-md-3">
					<bslabel>Tanggal Berlaku Sampai</bslabel>
					<div class="input-icon-right ">
						<bsdatepicker name="UploadHargaRetailPartsTanggalAkhir" date-options="dateOptions" ng-model="UploadHargaRetailParts_TanggalAkhir">
						</bsdatepicker>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6" style="border:1px solid lightgrey;padding: 10px 0 10px 10px">
					<div class="input-icon-right">
						<input type="file" accept=".xlsx" id="UploadHargaRetail" onchange="angular.element(this).scope().loadXLS(this)">
					</div>
				</div>
			
				<div class="col-md-2">
					<button id="UploadHargaRetailParts_Upload_Button" 
					ng-click="UploadHargaRetailParts_Upload_Clicked()"
					 type="button" class="rbtn btn ng-binding ladda-button" style="float: left;margin-top:5px">
						<span class="ladda-label">
							Upload
						</span><span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="row" style="border:1px solid lightgrey; width:60%; margin-left:10px; margin-top:15px;margin-bottom:10px">
				<label style="margin-left:5px;margin-top:-9px;float:left;background-color:white">Filter</label>
				<div class="col-md-12" style="margin-bottom:10px">
					<div class="col-md-4">
						<bslabel>No Material</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="UploadHargaRetailPartsFilterNoMaterial " placeholder="" ng-model="UploadHargaRetailParts_Filter_NoMaterial"
							 ng-maxlength="50" />
						</div>
					</div>
					
					<div class="col-md-4">
						<bslabel>Nama Material</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="UploadHargaRetailPartsFilterNamaMaterial " placeholder="" ng-model="UploadHargaRetailParts_Filter_NamaMaterial"
							 ng-maxlength="50" />
						</div>
					</div>
					
					<div class="col-md-4">
						<button id="UploadHargaRetailParts_Filter_Button" ng-click="UploadHargaRetailParts_Filter_Clicked()"
						 type="button" class="btn ng-binding ladda-button" style="float: left; margin-top:10px; margin-left:5px">
							<span class="ladda-label">
								Filter
							</span><span class="ladda-spinner"></span>
						</button>
						
						<button id="UploadHargaRetailParts_HapusFilter_Button" ng-click="UploadHargaRetailParts_HapusFilter_Clicked()"
						 type="button" class="btn ng-binding ladda-button" style="float: left; margin-top:10px; margin-left:5px">
							<span class="ladda-label">
								Hapus Filter
							</span><span class="ladda-spinner"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div id="myGrid" ui-grid="UploadHargaRetailParts_UIGrid" ui-grid-auto-resize ui-grid-pagination ui-grid-selection class="Mygrid" style="width:95%;height: 250px; margin-top:20px; margin-bottom:20px; margin-left:20px"></div>						
		</div>
	</div>
</div>

<div class="ui modal"  
    id="ModalSearchParts" role="dialog">
	<div class="modal-content" >
		<ul class="list-group">
			<bsreqlabel>Cari Parts</bsreqlabel>
			<div class="form-group" ui-grid="SearchPartsGrid" ui-grid-auto-resize ui-grid-selection ui-grid-pagination ></div>
			<p align="center">
			<button class="col-sm-6" ng-click="ModalSearchParts_Batal()" type="button" class="rbtn btn ng-binding ladda-button" >
				Batal
			</button> 
			</p>
		</ul>
	</div> 
</div>