<script type="text/javascript">
	// function IfGotProblemWithModal() {
	// 	$('body .modals').remove();
	// }

	function justNumber(key){
        return key == 'ArrowLeft' || key == 'ArrowRight' || key == 'Delete' || key == 'Tab';
    }
</script>
<style type="text/css">
	input[type="date"]::-webkit-inner-spin-button{
        display: none;
        -webkit-appearance: none;
    }

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<div ng-show="ShowTerimaDokumenBPKBMain" class="row" style="width: 100%; margin: 0 0 0 0">
	<bsform-grid
			ng-form="TerimaDokumenBpkbForm"
			factory-name="TerimaDokumenBpkbFactory"
			model="mTerimaDokumenBpkb"
			model-id="SuratDistribusiBPKBHeaderId"
			loading="loading"
			show-advsearch="on"
			grid-hide-action-column="true"
			get-data="getData"
			selected-rows="selectedRows"
			on-select-rows="onSelectRows"
			hide-new-button="true"
			form-name="TerimaDokumenBpkbForm"
			form-title="TerimaDokumenBpkb"
			modal-title="Terima Dokumen Bpkb"
			modal-size="small"
			icon="fa fa-fw fa-child"
			>
			<bsform-advsearch>
					<div class="row" style="margin: 0 0 0 0">
						<div class="col-md-3">
							<div class="from-group">
								<label>Status</label>
								<bsselect name="status" placeholder="Status" ng-model="filter.TerimaDokumenSTNKBPKBStatusId" data="getStatusDokumen"
									item-text="TerimaDokumenSTNKBPKBStatusName" item-value="TerimaDokumenSTNKBPKBStatusId" required icon="fa fa-map-marker ">
								</bsselect>
							</div>
						</div>
		
		
						<div class="col-md-3">
							<div class="form-group">
								<label>No Rangka</label>
								<div class="input-icon-right">
									<i class="fa fa-pencil"></i>
									<input alpha-numeric type="text" class="form-control" name="model" placeholder="Nomor Rangka" ng-model="filter.FrameNo" maxlength="30">
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="margin: 0 0 0 0">
						<div class="col-md-3">
							<div class="form-group">
								<label>Nomor Surat Distribusi</label>
								<div class="input-icon-right">
									<i class="fa fa-pencil"></i>
									<input type="text" class="form-control" name="model" placeholder="Nomor Surat Distribusi" ng-model="filter.SuratDistribusiBPKBNo" ng-maxlength="50">
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Nama Pelanggan</label>
								<div class="input-icon-right">
									<i class="fa fa-pencil"></i>
									<input alpha-numeric mask="Huruf" type="text" class="form-control" name="model" placeholder="Nama Pelanggan" ng-model="filter.CustomerName" ng-maxlength="50">
								</div>
							</div>
						</div>
					</div>
			</bsform-advsearch>

	</bsform-grid>
</div>

<div ng-show="ShowDetilSuratDistribusiBpkb">
	<div class="row" style="margin: 0 0 0 0">
	<button style="float: right;margin: -30px 0 0 0" ng-click="KembaliKeTerimaDokumenBpkbMain()"  type="button" class="wbtn btn ng-binding ladda-button" >
		<span class="ladda-label">
			<!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
		</span><span class="ladda-spinner"></span>
	</button>
	</div>
	<div class="row" style="margin: 10px 0 0 0">
		<div style="display: block" class="grid" ui-grid="grid2" ui-grid-pagination ui-grid-auto-resize></div>
	</div>
</div>

<div class="ui modal UpdatePenerimaanDokumen" role="dialog" style="background-color: transparent !important; width: 600px">
        <!-- <div> -->
        <p style="text-align: center">
            <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
                <!-- <button type="button" ng-click="backFromterimaSTNK()" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Update Penerimaan Dokumen</h4>
            </div>

            <div class="modal-body" style="background-color: white;  max-height: 60%">
                <div class="row" style="margin: 0 0 0 0">
                    <div id="infoPembeli" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px">
                        <p style="width:120px; margin-top:-17px; padding-left: 3px; margin-left:14px; background:white;"><b>Terima Dokumen</b></p>
                        <ul class="list-group">
                                <div style="margin-bottom: 10px;margin-left:25px;margin-right:25px;">
										<bsreqlabel>Nomor Rangka</bsreqlabel>
										<div class="input-icon-right">
										<i class="fa fa-user"></i>
											<input type="text" ng-disabled="true" class="form-control" name="NoRangka" placeholder="No Rangka" ng-model="EditDetilSuratDistribusi.FrameNo"
												ng-maxlength="50" required
											>
										</div>
										</div>
										
										
										<div style="margin-bottom: 10px;margin-left:25px;margin-right:25px;">
										<bsreqlabel>Nama Pelanggan</bsreqlabel>
										<div class="input-icon-right">
										<i class="fa fa-user"></i>
											<input type="text" ng-disabled="true" class="form-control" name="NamaPelanggan" placeholder="Nama Pelanggan" ng-model="EditDetilSuratDistribusi.CustomerName"
												alpha-numeric mask="Huruf" ng-maxlength="50" required
											>
										</div>
										</div>
										
										
										<div ng-hide="true" class="col-md-12" style="margin-bottom: 10px;">
											<div class="col-md-6">
												<bsreqlabel>No BPKB</bsreqlabel>
												<div class="input-icon-right">
												<i class="fa fa-user"></i>
													<input type="text" ng-disabled="true" class="form-control" name="NoBpkb" placeholder="No BPKB" ng-model="EditDetilSuratDistribusi.BPKBNo"
														ng-maxlength="50" required
													>
												</div>
											</div>
											
											<div class="col-md-6">
												<bsreqlabel>No. Polisi</bsreqlabel>
												<div class="input-icon-right">
												<i class="fa fa-user"></i>
													<input type="text" ng-disabled="true" class="form-control" name="NoPolisi" placeholder="No. Polisi" ng-model="EditDetilSuratDistribusi.PoliceNumber"
														ng-maxlength="50" required
													>
												</div>
											</div>
									</div>

                                <table class="table table-bordered table-responsive" border="1" style="border: none !important">
										<tbody>
											<tr>
												<th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">&nbspDokumen</th>
												<th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">Tanggal Dokumen Dikirim</th>
												<th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">Tanggal Dokumen Diterima</th>
											</tr>
											<tr>
												<td style="border: none !important">
													<input style="margin-right:5px;" type="checkbox" ng-disabled="DisablePasSemuaDicentang || EditDetilSuratDistribusi.TombolSimpan == false" ng-change="BPKBReceiveDateChanged(EditDetilSuratDistribusi.BPKBReceiveDateCekChanged)" ng-model="EditDetilSuratDistribusi.BPKBReceiveDateCekChanged">
													<bsreqlabel>BPKB</bsreqlabel>
												</td>
												<td style="border: none !important">
													<input ng-disabled="true" class="form-control" type="date" ng-model="EditDetilSuratDistribusi.BPKBSendDate">
												</td> 
												<td style="border: none !important">
													<input type="date"
															class="form-control"
															min="{{ProcessedOldBPKBReceiveDate}}"
															onkeydown="return justNumber(event.key)"
															ng-model="EditDetilSuratDistribusi.BPKBReceiveDate"
															ng-disabled="EditDetilSuratDistribusi.TombolSimpan == false"
															ng-change="BPKBTickBox(EditDetilSuratDistribusi)">
												</td>
											</tr>
											<tr>
												<td style="border: none !important">
													<input style="margin-right:5px;" ng-disabled="DisablePasSemuaDicentang || EditDetilSuratDistribusi.TombolSimpan == false" type="checkbox" ng-change="FakturTAMReceiveDateChanged(EditDetilSuratDistribusi.FakturTAMReceiveCekChanged)" ng-model="EditDetilSuratDistribusi.FakturTAMReceiveCekChanged">
													<bsreqlabel>Faktur TAM</bsreqlabel>
												</td>
												<td style="border: none !important">
													<input ng-disabled="true" class="form-control" type="date" ng-model="EditDetilSuratDistribusi.FakturTAMSendDate">
												</td> 

												<td style="border: none !important">
													<input type="date"
															class="form-control"
															min="{{ProcessedOldFakturTAMReceiveDate}}"
															onkeydown="return justNumber(event.key)"
															ng-model="EditDetilSuratDistribusi.FakturTAMReceiveDate"
															ng-disabled="EditDetilSuratDistribusi.TombolSimpan == false"
															ng-change="FakturTAMTickBox(EditDetilSuratDistribusi)">
												</td>
											</tr>
											<tr>
												<td style="border: none !important"><input style="margin-right:5px;" type="checkbox" ng-disabled="DisablePasSemuaDicentang || EditDetilSuratDistribusi.TombolSimpan == false" ng-change="FormStatusGesekReceiveDateChanged(EditDetilSuratDistribusi.FormStatusGesekReceiveDateCekChanged)" ng-model="EditDetilSuratDistribusi.FormStatusGesekReceiveDateCekChanged">Faktur Status Gesek</td>
												<td style="border: none !important">
													<input ng-disabled="true" class="form-control" type="date" ng-model="EditDetilSuratDistribusi.FormStatusGesekSendDate">
												</td>

												<td style="border: none !important">
													<input type="date"
															class="form-control"
															min="{{ProcessedOldFormStatusGesekReceiveDate}}"
															onkeydown="return justNumber(event.key)"
															ng-model="EditDetilSuratDistribusi.FormStatusGesekReceiveDate"
															ng-disabled="EditDetilSuratDistribusi.TombolSimpan == false"
															ng-change="FormStatusGesekTickBox(EditDetilSuratDistribusi)">
												</td>
											</tr>
											<tr>
												<td style="border: none !important"><input style="margin-right:5px;" type="checkbox" ng-disabled="DisablePasSemuaDicentang || EditDetilSuratDistribusi.TombolSimpan == false" ng-change="CertificateNIKReceiveDateChanged(EditDetilSuratDistribusi.CertificateNIKReceiveDateCekChanged)" ng-model="EditDetilSuratDistribusi.CertificateNIKReceiveDateCekChanged">Sertifikat NIK</td>
												<td style="border: none !important">
													<input ng-disabled="true" class="form-control" type="date" ng-model="EditDetilSuratDistribusi.CertificateNIKSendDate">
												</td>

												<td style="border: none !important">
													<input type="date"
															class="form-control"
															min="{{ProcessedOldCertificateNIKReceiveDate}}"
															onkeydown="return justNumber(event.key)"
															ng-model="EditDetilSuratDistribusi.CertificateNIKReceiveDate"
															ng-disabled="EditDetilSuratDistribusi.TombolSimpan == false"
															ng-change="CertificateNIKTickBox(EditDetilSuratDistribusi)">
												</td>
											</tr>
											<tr>
												<td style="border: none !important"><input style="margin-right:5px;" type="checkbox" ng-disabled="DisablePasSemuaDicentang || EditDetilSuratDistribusi.TombolSimpan == false" ng-change="SuratUjiTipeReceiveDateChanged(EditDetilSuratDistribusi.SuratUjiTipeReceiveDateCekChanged)" ng-model="EditDetilSuratDistribusi.SuratUjiTipeReceiveDateCekChanged">Surat Uji Tipe</td>
												<td style="border: none !important">
													<input ng-disabled="true" class="form-control" type="date" ng-model="EditDetilSuratDistribusi.SuratUjiTipeSendDate">
												</td>

												<td style="border: none !important">
													<input type="date"
															class="form-control"
															min="{{ProcessedOldSuratUjiTipeReceiveDate}}"
															onkeydown="return justNumber(event.key)"
															ng-model="EditDetilSuratDistribusi.SuratUjiTipeReceiveDate"
															ng-disabled="EditDetilSuratDistribusi.TombolSimpan == false"
															ng-change="SuratUjiTipeTickBox(EditDetilSuratDistribusi)">
												</td>
											</tr>
											<tr>
												<td style="border: none !important"><input style="margin-right:5px;" type="checkbox" ng-disabled="DisablePasSemuaDicentang || EditDetilSuratDistribusi.TombolSimpan == false" ng-change="FormAReceiveDateChanged(EditDetilSuratDistribusi.FormAReceiveDateCekChanged)" ng-model="EditDetilSuratDistribusi.FormAReceiveDateCekChanged">Form A</td>
												<td style="border: none !important">
													<input ng-disabled="true" class="form-control" type="date" ng-model="EditDetilSuratDistribusi.FormASendDate">
												</td>

												<td style="border: none !important">
													<input type="date"
															class="form-control"
															min="{{ProcessedOldFormAReceiveDate}}"
															onkeydown="return justNumber(event.key)"
															ng-model="EditDetilSuratDistribusi.FormAReceiveDate"
															ng-disabled="EditDetilSuratDistribusi.TombolSimpan == false"
															ng-change="FormATickBox(EditDetilSuratDistribusi)">
												</td>
											</tr>
											<tr>
												<td style="border: none !important"><input style="margin-right:5px;" type="checkbox" ng-disabled="DisablePasSemuaDicentang || EditDetilSuratDistribusi.TombolSimpan == false" ng-change="SuratRekomendasiReceiveDateChanged(EditDetilSuratDistribusi.SuratRekomendasiReceiveDateCekChanged)" ng-model="EditDetilSuratDistribusi.SuratRekomendasiReceiveDateCekChanged">Surat Rekomendasi</td>
												<td style="border: none !important">
													<input ng-disabled="true" class="form-control" type="date" ng-model="EditDetilSuratDistribusi.SuratRekomendasiSendDate">
												</td>

												<td style="border: none !important">
													<input type="date"
															class="form-control"
															min="{{ProcessedOldSuratRekomendasiReceiveDate}}"
															onkeydown="return justNumber(event.key)"
															ng-model="EditDetilSuratDistribusi.SuratRekomendasiReceiveDate"
															ng-disabled="EditDetilSuratDistribusi.TombolSimpan == false"
															ng-change="SuratRekomendasiTickBox(EditDetilSuratDistribusi)">
												</td>
											</tr>
											<tr>
												<td style="border: none !important"><input style="margin-right:5px;" type="checkbox" ng-disabled="DisablePasSemuaDicentang || EditDetilSuratDistribusi.TombolSimpan == false" ng-change="PIBReceiveDateChanged(EditDetilSuratDistribusi.PIBReceiveDateCekChanged)" ng-model="EditDetilSuratDistribusi.PIBReceiveDateCekChanged">PIB</td>
												<td style="border: none !important">
													<input ng-disabled="true" class="form-control" type="date" ng-model="EditDetilSuratDistribusi.PIBSendDate">
												</td>

												<td style="border: none !important">
													<input type="date"
															class="form-control"
															min="{{ProcessedOldPIBReceiveDate}}"
															onkeydown="return justNumber(event.key)"
															ng-model="EditDetilSuratDistribusi.PIBReceiveDate"
															ng-disabled="EditDetilSuratDistribusi.TombolSimpan == false"
															ng-change="PIBTickBox(EditDetilSuratDistribusi)">
												</td>
											</tr>
										</tbody>
                                </table>
                            </ul>
                    </div>
                </div>
            </div>
                    
            <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            	<div id="bottomBox">
            		<div style="float:left">
						<input style="margin-left:15px;" ng-disabled="EditDetilSuratDistribusi.TombolSimpan == false" ng-change="CentangAllDokumenChanged(EditDetilSuratDistribusi.DokumenLengkap)" type="checkbox" ng-model="EditDetilSuratDistribusi.DokumenLengkap" >&nbspKelengkapan Dokumen Sudah Diperiksa                
					</div>
					<div style="float:right">
						<button type="button" class="wbtn btn ng-binding ladda-button" onclick="this.blur()" ng-click=" backFromterimaSTNK()" ladda="savingState" data-style="expand-left" tabindex="0">
							<span class="ladda-label"><i class="fa fa-fw fa-times"></i>&nbsp;Keluar</span><span class="ladda-spinner"></span>
						</button>
						<button
								ng-click="SimpanUpdatePenerimaanDokumen()"
								ng-disabled="
								EditDetilSuratDistribusi.FrameNo == undefined || 
								EditDetilSuratDistribusi.CustomerName == undefined || 
								EditDetilSuratDistribusi.BPKBNo == undefined || 
								EditDetilSuratDistribusi.PoliceNumber == undefined || 
								EditDetilSuratDistribusi.BPKBReceiveDate == null || 
								EditDetilSuratDistribusi.FakturTAMReceiveDate == null || 
								EditDetilSuratDistribusi.TombolSimpan == false ||
								EditDetilSuratDistribusi.BPKBSendDate > EditDetilSuratDistribusi.BPKBReceiveDate ||
								EditDetilSuratDistribusi.FakturTAMSendDate > EditDetilSuratDistribusi.FakturTAMReceiveDate ||
								EditDetilSuratDistribusi.FormStatusGesekSendDate > EditDetilSuratDistribusi.FormStatusGesekReceiveDate ||
								EditDetilSuratDistribusi.CertificateNIKSendDate > EditDetilSuratDistribusi.CertificateNIKReceiveDate ||
								EditDetilSuratDistribusi.SuratUjiTipeSendDate > EditDetilSuratDistribusi.SuratUjiTipeReceiveDate ||
								EditDetilSuratDistribusi.FormASendDate > EditDetilSuratDistribusi.FormAReceiveDate ||
								EditDetilSuratDistribusi.SuratRekomendasiSendDate > EditDetilSuratDistribusi.SuratRekomendasiReceiveDate ||
								EditDetilSuratDistribusi.PIBSendDate > EditDetilSuratDistribusi.PIBReceiveDate
								"
								type="button"
								class="rbtn btn ng-binding ladda-button">
							<span class="ladda-label">
								Simpan
							</span><span class="ladda-spinner"></span>
						</button>
					</div>
				</div>
			</div>
        </p>
    
</div>


