<style>
  
    .tbl_Informasi_Dari_Customer_Data_Platform{
        width:100%;
    }
    
    .tbl_Informasi_Dari_Customer_Data_Platform th,
    .tbl_Informasi_Dari_Customer_Data_Platform td{
        padding: 5px;
        text-align: center; 
    }
    
    
    .tbl_Informasi_Dari_Customer_Data_Platform th{
        background: #6FA8DC;
    }


    .nopadding {
       padding: 0 !important;
       margin: 0 !important;
    }    
</style>

<div class="row" style="margin: 0 0 0 0">

    <div>
        <!--<div ng-show="ShowProspectDetail"> tadi atas gini -->
        <div class="listData">
            <button ng-show="SimpanEditDetailProspect_Button" ng-disabled="formValidDetail.$invalid || formValidDetailProspect.$invalid"
                ng-click="SimpanEditDetailProspect()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
                <span class="ladda-label">Simpan
                </span>
                <span class="ladda-spinner"></span>
            </button>

            <!--<button ng-show="BatalEditDetailProspect_Button" ng-click="Prospect_Batal_Edit_Detail_Prospect()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right;">
			<span class="ladda-label">
				Batal dari prospek
				</span><span class="ladda-spinner"></span>
		</button>-->

            <button style="float:right" ng-click="BackToTaskListFromProspect()" type="button" class="wbtn btn ng-binding ladda-button">
                <span class="ladda-label">
                    <!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
                </span>
                <span class="ladda-spinner"></span>
            </button>
        </div>
        <br/>
        <br/>
        <p ng-show="ProspectEditButtonToggle">

        </p>



        <!-- ===================================  Informasi Pelanggan  ========================================================= -->
        <div class="listData">
            <button ng-click="Show_Hide_Prospect_Informasi_Pelanggan_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
                type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;margin-top: 10px;" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Informasi Pelanggan
                <span></span>
                <span style="float:right; margin-right:3px;"> {{Show_Hide_Prospect_Informasi_Pelanggan_PanelIcon}} </span>
            </button>
        </div>
        <div ng-show="Show_Hide_Prospect_Informasi_Pelanggan" class="formContent">
            <div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2">
                <form name="formValidDetailProspect">
                    <bslabel>Status Pelanggan</bslabel>
                    <input ng-disabled="!mProspect_Prospect_StatusPelanggan_EnableDisable" type="text" class="form-control" name="StatusPelanggan"
                        placeholder="Prospect atau Pelanggan" ng-model="mProspect_Prospect.StatusPelanggan" ng-maxlength="50"
                        style="margin-bottom: 10px">
                    <bslabel>Kode Prospek/Toyota ID</bslabel>
                    <input ng-if="mProspect_Prospect.Toyota_Id != null" ng-disabled="mProspect_Prospect_ToyotaId_EnableDisable" type="text" class="form-control"
                        name="ToyotaId" placeholder="" ng-model="mProspect_Prospect.Toyota_Id" ng-maxlength="50" style="margin-bottom: 10px">
                    <input ng-if="mProspect_Prospect.Toyota_Id == null" ng-disabled="mProspect_Prospect_Code_EnableDisable" type="text" class="form-control"
                        name="ToyotaId" placeholder="" ng-model="mProspect_Prospect.ProspectCode" ng-maxlength="50"
                        style="margin-bottom: 10px">
                    <!--<bsreqlabel>Kategori Pelanggan</bsreqlabel>
						<bsselect name="kategori"
													ng-model=""
													placeholder="Individu"
													required="true" style="padding-bottom: 10px">
						</bsselect>-->

                    <bsreqlabel>Kategori Pelanggan</bsreqlabel>
                    <input ng-if="lanjutProspect.CustomerTypeId == 1" ng-disabled="!mProspect_Prospect_KategoriPelangganIndividu_EnableDisable"
                        type="text" class="form-control" name="KategoriPelanggan" placeholder="Kategory Pelanggan" ng-model="mProspect_Prospect.CustomerTypeDesc"
                        ng-maxlength="50" style="margin-bottom: 10px" required>


                    <select ng-if="lanjutProspect.CustomerTypeId != 1" name="KategoriPelanggan" ng-disabled="!mProspect_Prospect_KategoriPelanggan_EnableDisable"
                        data-ng-options="kategoripelanggan.CustomerTypeDesc for kategoripelanggan in optionsKategoriPelangganFiltered"
                        ng-change="categoryPelangganValue(selectedCategoryPelanggan.CustomerType)" ng-model="selectedCategoryPelanggan.CustomerType"
                        class="form-control" style="width: 100%;margin-bottom: 10px;" required>
                        <option label="-- Pilih --" value="" disabled="true"></option>
                    </select>

                    <div class="row" style="margin: 5px 0 0 0">
                        <i style="color: rgb(185, 74, 72)" aria-live="assertive" ng-show="formValidDetailProspect.KategoriPelanggan.$touched && formValidDetailProspect.KategoriPelanggan.$invalid">Kolom ini Harus Diisi.</i>
                    </div>
                    <!--<bsselect ng-if="lanjutProspect.CustomerTypeId==2" style="margin-bottom: 10px" ng-disabled="!mProspect_Prospect_KategoriPelanggan_EnableDisable"
				 ng-model="mProspect_Prospect.CustomerTypeDesc" data="optionsKategoriPelangganFiltered" item-text="CustomerTypeDesc" item-value="CustomerTypeId"
				 on-select="CustomerCategoryValue(selected)" placeholder="Select Kategori Pelanggan" icon="fa fa-search">
				</bsselect>-->

                    <bslabel>Kategori Fleet</bslabel>
                    <select ng-disabled="!mProspect_Prospect_KategoriFleet_EnableDisable" data-ng-options="kategorifleet.CategoryFleetName for kategorifleet in optionsKategoriFleet"
                        ng-change="categoryFleetValue(selectedCategoryFleet.CategoryFleet.CategoryFleetId)" ng-model="selectedCategoryFleet.CategoryFleet"
                        class="form-control" style="width: 100%;margin-bottom: 10px;">
                        <option label="-- Pilih --" value="" disabled="true"></option>
                    </select>
                    <!--<bsselect style="margin-bottom: 10px" ng-disabled="!mProspect_Prospect_KategoriFleet_EnableDisable" ng-model="mProspect_Prospect.CategoryFleetId"
				 data="optionsKategoriFleet" item-text="CategoryFleetName" item-value="CategoryFleetId" on-select="value(selected)" placeholder="Select Kategori Fleet"
				 icon="fa fa-search">
				</bsselect>-->


                    <bsreqlabel ng-if="lanjutProspect.CustomerTypeId == 1">Nama Lengkap</bsreqlabel>
                    <bsreqlabel ng-if="lanjutProspect.CustomerTypeId != 1">Nama Penanggung Jawab</bsreqlabel>
                    <input ng-disabled="!mProspect_Prospect_NamaLengkap_EnableDisable" type="text" class="form-control" name="NamaLengkap" placeholder="Nama Lengkap"
                        ng-model="mProspect_Prospect.ProspectName" onkeypress="return event.charCode > 31 && (event.charCode < 48 || event.charCode > 57)"
                        maxlength="100" style="margin-bottom: 10px" required>

                    <div class="row" style="margin: 5px 0 0 0">
                        <i style="color: rgb(185, 74, 72)" aria-live="assertive" ng-show="formValidDetailProspect.NamaLengkap.$touched && formValidDetailProspect.NamaLengkap.$invalid">Kolom ini Harus Diisi.</i>
                    </div>

                    <bslabel ng-if="lanjutProspect.CustomerTypeId == 1">Nama Panggilan</bslabel>
                    <input ng-disabled="!mProspect_Prospect_NamaPanggilan_EnableDisable" type="text" class="form-control" ng-if="lanjutProspect.CustomerTypeId == 1"
                        name="NamaPanggilan" placeholder="Nama Panggilan" ng-model="mProspect_Prospect.NickName" onkeypress="return event.charCode > 31 && (event.charCode < 48 || event.charCode > 57)"
                        maxlength="50" style="margin-bottom: 10px">

                    <bslabel ng-if="lanjutProspect.CustomerTypeId == 1">Tanggal Lahir</bslabel>
                    <input ng-if="lanjutProspect.CustomerTypeId == 1" ng-disabled="!mProspect_Prospect_TanggalLahir_EnableDisable" class="form-control"
                        type="date" ng-model="mProspect_Prospect.Birthdate">
                    <!--<bsdatepicker ng-show="ProspectIndividu" name="tanggal" ng-disabled="!mProspect_Prospect_TanggalLahir_EnableDisable" date-options="dateOptions"
				 ng-model="mProspect_Prospect.Birthdate">
				</bsdatepicker>-->


                    <bslabel ng-if="lanjutProspect.CustomerTypeId == 1">Alamat Sesuai Identitas</bslabel>
                    <bslabel ng-if="lanjutProspect.CustomerTypeId != 1">Alamat Instansi</bslabel>
                    <textarea ng-disabled="!mProspect_Prospect_AlamatSesuaiIdentitas_EnableDisable" type="text" class="form-control" name="AlamatSesuaiIdentitas"
                        placeholder="Alamat Sesuai Identitas" ng-model="mProspect_Prospect.Address" ng-maxlength="50" style="margin-bottom: 10px"></textarea>

                    <bslabel ng-if="lanjutProspect.CustomerTypeId != 1">Nama Instansi</bslabel>
                    <input ng-disabled="!mProspect_Prospect_NamaInstansi_EnableDisable" type="text" class="form-control" ng-if="lanjutProspect.CustomerTypeId != 1"
                        name="NamaInstansi" placeholder="Nama Intansi" ng-model="mProspect_Prospect.InstanceName" maxlength="100"
                        style="margin-bottom: 10px">


                    <bsreqlabel>Provinsi</bsreqlabel>
                    <select ng-disabled="!mProspect_Prospect_Provinsi_EnableDisable" ng-options="dataprovinsi.ProvinceName for dataprovinsi in province"
                        ng-change="filterKabupaten(selectedProvince.Province.ProvinceId)" ng-model="selectedProvince.Province"
                        class="form-control" style="width: 100%;margin-bottom: 10px;" required>
                        <option label="-- Pilih --" value="" disabled="true"></option>
                    </select>
                    <!--<bsselect style="margin-bottom: 10px" ng-disabled="!mProspect_Prospect_Provinsi_EnableDisable" ng-model="mProspect_Prospect.ProvinceId" ng-change="filterKabupaten(mProspect_Prospect.ProvinceId)"
				 data="province" item-text="ProvinceName" item-value="ProvinceId" on-select="value(selected)" placeholder="Select Provinsi"
				 icon="fa fa-search">
				</bsselect>-->

                    <bsreqlabel>Kota/Kabupaten</bsreqlabel>
                    <select ng-disabled="!mProspect_Prospect_KabupatenKota_EnableDisable" data-ng-options="datakabupaten.CityRegencyName for datakabupaten in kabupaten"
                        ng-change="filterKecamatan(selectedCityRegency.CityRegency.CityRegencyId)" ng-model="selectedCityRegency.CityRegency"
                        class="form-control" style="width: 100%;margin-bottom: 10px;" required>
                        <option label="-- Pilih --" value="" disabled="true"></option>
                    </select>
                    <!--<bsselect ng-disabled="!mProspect_Prospect_KabupatenKota_EnableDisable" ng-model="mProspect_Prospect.CityRegencyId" data="kabupaten" ng-change="filterKecamatan(mProspect_Prospect.CityRegencyId)"
				 item-text="CityRegencyName" item-value="CityRegencyId" on-select="value(selected)" placeholder="Select Kabupaten/Kota"
				 icon="fa fa-search">
				</bsselect>-->

                    <bslabel>Kecamatan</bslabel>
                    <select ng-disabled="!mProspect_Prospect_Kecamatan_EnableDisable" data-ng-options="datakecamatan.DistrictName for datakecamatan in kecamatan"
                        ng-change="filterKelurahan(selectedDistrict.District.DistrictId)" ng-model="selectedDistrict.District"
                        class="form-control" style="width: 100%;margin-bottom: 10px;">
                        <option label="-- Pilih --" value="" disabled="true"></option>
                    </select>
                    <!--<bsselect ng-disabled="!mProspect_Prospect_Kecamatan_EnableDisable" ng-model="mProspect_Prospect.DistrictId" data="kecamatan" ng-change="filterKelurahan(mProspect_Prospect.DistrictId)"
				 item-text="DistrictName" item-value="DistrictId" on-select="value(selected)" placeholder="Select Kecamatan" icon="fa fa-search">
				</bsselect>-->

                    <!--<bsreqlabel>Kelurahan</bsreqlabel>
							<input ng-disabled="!mProspect_Prospect_Kelurahan_EnableDisable" type="text" 
										class="form-control" 
										name="Kelurahan" 
										placeholder="Kelurahan" 
										ng-model="mProspect_Prospect.Kelurahan" 
										ng-maxlength="50"
										style="margin-bottom: 10px" 
							required>-->

                    <bslabel>Kelurahan</bslabel>
                    <select ng-disabled="!mProspect_Prospect_Kelurahan_EnableDisable" data-ng-options="datakelurahan.VillageName for datakelurahan in kelurahan"
                        ng-change="kelurahanValue(selectedVillage.Village.VillageId)" ng-model="selectedVillage.Village" class="form-control"
                        style="width: 100%;margin-bottom: 10px;">
                        <option label="-- Pilih --" value="" disabled="true"></option>
                    </select>
                    <!--<bsselect ng-disabled="!mProspect_Prospect_Kelurahan_EnableDisable" ng-model="mProspect_Prospect.VillageId" data="kelurahan"
				 item-text="VillageName" item-value="VillageId" on-select="value(selected)" placeholder="Select Kelurahan" icon="fa fa-search">
				</bsselect>-->

                    <bslabel>RT/RW</bslabel>
                    <input ng-disabled="!mProspect_Prospect_RTRW_EnableDisable" type="text" class="form-control" name="RTRW" placeholder="Input RT/RW"
                        ng-model="mProspect_Prospect.RTRW" onkeypress="return event.charCode >= 47 && event.charCode <= 57" maxlength="7"
                        style="margin-bottom: 10px">


                    <bslabel>Kode Pos</bslabel>
                    <input ng-disabled="true" type="text" class="form-control" name="" placeholder="" ng-model="mProspect_Prospect.PostalCode"
                        ng-maxlength="50" style="margin-bottom: 10px">

                    <!-- <select ng-disabled="!mProspect_Prospect_KodePos_EnableDisable" data-ng-options="datakelurahan.PostalCode for datakelurahan in kelurahan"
				 ng-change="postalCodeValue(selectedPostalCode.PostalCode.PostalCode)" ng-model="selectedPostalCode.PostalCode" class="form-control"
				 style="width: 100%;margin-bottom: 10px;">
				 <option label="-- Pilih --" value="" disabled="true"></option>
				</select> -->
                    <!--<bsselect ng-disabled="!mProspect_Prospect_KodePos_EnableDisable" style="margin-bottom:10px" ng-model="mProspect_Prospect.PostalCode"
				 data="kelurahan" item-text="PostalCode" item-value="PostalCode" on-select="value(selected)" placeholder="Select Kode Pos"
				 icon="fa fa-search">
				</bsselect>-->

                    <bslabel ng-show="ProspectIndividu">No. Telepon Rumah</bslabel>
                    <bslabel ng-show="ProspectInstansi">No. Telepon Instansi</bslabel>
                    <div class="row" style="margin-left: 3px;">
                        <div class="input-group" style=" padding: 0%;">

                            <input ng-disabled="!mProspect_Prospect_NoTeleponRumah_EnableDisable" type="text" name="NoTeleponRumah" class="form-control"
                                placeholder="No. Telepon Rumah" ng-model="mProspect_Prospect.PhoneNumber" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                maxlength="15">
                            <span ng-show="ShowDisTelp" class="input-group-addon" id="basic-addon2">
                                <a ng-href="tel:{{mProspect_Prospect.PhoneNumber}}">
                                    <span>
                                        <i class="fa fa-phone"></i>
                                    </span>
                                </a>

                            </span>

                            <span ng-show="ShowTelp" class="input-group-addon" id="basic-addon2">
                                <a>
                                    <span>
                                        <i class="fa fa-phone"></i>
                                    </span>
                                </a>

                            </span>

                        </div>
                    </div>
                    <p>
                        <br>
                    </p>

                    <bsreqlabel ng-if="lanjutProspect.CustomerTypeId == 1">No. Handphone</bsreqlabel>
                    <bsreqlabel ng-if="lanjutProspect.CustomerTypeId != 1">No. Handphone Penanggung Jawab</bsreqlabel>
                    <div class="row" style="margin-left: 3px;">
                        <div class="input-group" style=" padding: 0%;">
                            <input ng-disabled="!mProspect_Prospect_NoHandphone_EnableDisable" style="float: right;" type="text" style="margin-bottom: 10px"
                                name="NoHandphone" class="form-control" placeholder="No Handphone" ng-model="mProspect_Prospect.HP"
                                maxlength="15" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                            <span ng-show="ShowDisTelp" class="input-group-addon" id="basic-addon2">
                                <a ng-href="tel:{{mProspect_Prospect.HP}}">
                                    <span>
                                        <i class="fa fa-phone"></i>
                                    </span>
                                </a>
                            </span>
                            <span ng-show="ShowTelp" class="input-group-addon" id="basic-addon2">
                                <a>
                                    <span>
                                        <i class="fa fa-phone"></i>
                                    </span>
                                </a>
                        </div>

                    </div>
                    <div class="row" style="margin: 5px 0 0 0">
                        <i style="color: rgb(185, 74, 72)" aria-live="assertive" ng-show="formValidDetailProspect.NoHandphone.$touched && formValidDetailProspect.NoHandphone.$invalid">Kolom ini Harus Diisi.</i>
                    </div>
                    <p>
                        <br>
                    </p>

                    <bslabel ng-if="lanjutProspect.CustomerTypeId == 1">Email</bslabel>
                    <bslabel ng-if="lanjutProspect.CustomerTypeId != 1">Email Penanggung Jawab</bslabel>
                    <div class="row" style="margin-left: 3px;">
                        <div class="input-group" style=" padding: 0%;">
                            <input ng-disabled="!mProspect_Prospect_Email_EnableDisable" type="text" name="Email" class="form-control" placeholder="Email"
                                ng-model="mProspect_Prospect.Email" maxlength="100">
                            <span ng-show="ShowDisTelp" class="input-group-addon" id="basic-addon2">
                                <a ng-href="mailto:{{mProspect_Prospect.Email}}">
                                    <span>
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </a>
                            </span>
                            <span ng-show="ShowTelp" class="input-group-addon" id="basic-addon2">
                                <a>
                                    <span>
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!--<div class="input-group" style="margin-bottom: 10px">
					<input ng-disabled="!mProspect_Prospect_Email_EnableDisable" type="text" name="Email" class="form-control" placeholder="Email"
					 ng-model="mProspect_Prospect.Email" ng-maxlength="50" required>

					<span class="input-group-addon">
									<i class="fa fa-fw fa-envelope"></i>
							</span>
				</div>-->




                    <bslabel ng-if="lanjutProspect.CustomerTypeId == 1">Agama</bslabel>
                    <select ng-if="lanjutProspect.CustomerTypeId == 1" ng-disabled="!mProspect_Prospect_Agama_EnableDisable" data-ng-options="dataAgama.CustomerReligionName for dataAgama in optionsAgama"
                        ng-change="agamaValue(selectAgama.Agama.CustomerReligionId)" class="form-control" ng-model="selectAgama.Agama"
                        style="width: 100%;margin-bottom: 10px;">
                        <option label="-- Pilih --" value="" disabled="true"></option>
                    </select>
                    <!--<bsselect ng-show="ProspectIndividu" style="margin-bottom: 10px" ng-disabled="!mProspect_Prospect_Agama_EnableDisable" ng-model="mProspect_Prospect.CustomerReligionId"
				 data="optionsAgama" item-text="CustomerReligionName" item-value="CustomerReligionId" on-select="value(selected)" placeholder="Select Agama"
				 icon="fa fa-search">
				</bsselect>-->


                    <bslabel ng-if="lanjutProspect.CustomerTypeId == 1">Suku</bslabel>
                    <select ng-if="lanjutProspect.CustomerTypeId == 1" ng-disabled="!mProspect_Prospect_Suku_EnableDisable" data-ng-options="datasuku.CustomerEthnicName for datasuku in optionsSuku"
                        ng-change="sukuValue(selectedSuku.Suku.CustomerEthnicId)" class="form-control" ng-model="selectedSuku.Suku"
                        style="width: 100%;margin-bottom: 10px;">
                        <option label="-- Pilih --" value="" disabled="true"></option>
                    </select>
                    <!--<bsselect ng-show="ProspectIndividu" style="margin-bottom: 10px" ng-disabled="!mProspect_Prospect_Suku_EnableDisable" ng-model="mProspect_Prospect.CustomerEthnicId"
				 data="optionsSuku" item-text="CustomerEthnicName" item-value="CustomerEthnicId" on-select="value(selected)" placeholder="Select Suku"
				 icon="fa fa-search">
				</bsselect>-->


                    <div ng-if="lanjutProspect.CustomerTypeId == 1">
                        <fieldset class="scheduler-borderCreate">
                            <legend class="scheduler-border">Pekerjaan</legend>

                            <bslabel>Pekerjaan</bslabel>
                            <input ng-disabled="!mProspect_Prospect_Pekerjaan_EnableDisable" type="text" class="form-control" name="Pekerjaan" placeholder="Pekerjaan"
                                ng-model="mProspect_Prospect.WorkTitle" maxlength="50" onkeypress="return event.charCode > 31 && (event.charCode < 48 || event.charCode > 57)"
                                style="margin-bottom: 10px">

                            <bslabel>Jabatan</bslabel>
                            <select ng-disabled="!mProspect_Prospect_Jabatan_EnableDisable" data-ng-options="dataJabatan.CustomerPositionName for dataJabatan in optionsJabatan"
                                ng-change="jabatanValue(selectedJabatan.Jabatan.CustomerPositionId)" ng-model="selectedJabatan.Jabatan"
                                class="form-control" style="width: 100%;margin-bottom: 10px;">
                                <option label="-- Pilih --" value="" disabled="true"></option>
                            </select>
                            <!--<bsselect style="margin-bottom: 10px" ng-disabled="!mProspect_Prospect_Jabatan_EnableDisable" ng-model="mProspect_Prospect.CustomerPositionId"
					 data="optionsJabatan" item-text="CustomerPositionName" item-value="CustomerPositionId" on-select="value(selected)" placeholder="Select Jabatan"
					 icon="fa fa-search">
					</bsselect>-->


                            <bslabel>Nama Perusahaan</bslabel>
                            <input ng-disabled="!mProspect_Prospect_NamaPerusahaan_EnableDisable" type="text" class="form-control" name="NamaPerusahaan"
                                placeholder="Nama Perusahaan" ng-model="mProspect_Prospect.Company" maxlength="50" onkeypress="return event.charCode > 31 && (event.charCode < 48 || event.charCode > 57)"
                                style="margin-bottom: 10px">

                            <bslabel>Telepon Kantor</bslabel>
                            <input ng-disabled="!mProspect_Prospect_TeleponKantor_EnableDisable" type="text" class="form-control" name="TeleponKantor"
                                placeholder="Telepon Kantor" ng-model="mProspect_Prospect.OfficePhone" maxlength="20" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                style="margin-bottom: 10px">

                            <bslabel>Alamat Perusahaan</bslabel>
                            <textarea ng-disabled="!mProspect_Prospect_AlamatPerusahaan_EnableDisable" type="text" class="form-control" name="AlamatPerusahaan"
                                placeholder="Alamat Perusahaan" ng-model="mProspect_Prospect.OfficeAddress" maxlength="100" style="margin-bottom: 10px"></textarea>
                        </fieldset>

                    </div>
                </form>
            </div>
        </div>
        <!-- ===================================  Informasi Pelanggan  ========================================================= -->


        <!-- ===================================  Informasi Unit Yang Diminati  ================================================ -->
        <div class="listData">
            <button ng-click="Show_Hide_Prospect_Informasi_Unit_Yang_Diminati_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
                type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Informasi Unit Yang Diminati
                <span></span>
                <span style="float:right; margin-right:3px;"> {{Show_Hide_Prospect_Informasi_Unit_Yang_Diminati_PanelIcon}} </span>
            </button>
        </div>
        <div ng-show="Show_Hide_Prospect_Informasi_Unit_Yang_Diminati" class="formContent">
            <div class="list-group" id="dropdownContent" aria-labelledby="dropdownMenu1">
                <div ng-repeat="List_Prospect_InformasiUnitYangDiminati in List_Prospect_InformasiUnitYangDiminati_To_Repeat" class="list-group-item"
                    style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
                    <div class="row">
                        <div class="col-sm-11">
                            <p style="font-size: 12px">
                                <b>{{List_Prospect_InformasiUnitYangDiminati.VehicleModelName}}</b>
                            </p>
                            <p>
                                <ul class="list-inline">
                                    <li>{{List_Prospect_InformasiUnitYangDiminati.Description}}&nbsp;&#9679;{{List_Prospect_InformasiUnitYangDiminati.KatashikiCode}}&nbsp;&#9679;{{List_Prospect_InformasiUnitYangDiminati.SuffixCode}}
                                        , &nbsp; {{List_Prospect_InformasiUnitYangDiminati.ColorName}}</li>
                                </ul>
                                <ul class="list-inline">
                                    <li>
                                        <b>Tahun Kendaraan &nbsp;: </b>&nbsp; {{List_Prospect_InformasiUnitYangDiminati.ProductionYear}}</li>
                                    <li>
                                        <b>Qty &nbsp;: </b>&nbsp;{{List_Prospect_InformasiUnitYangDiminati.Qty}}</li>
                                </ul>
                            </p>

                        </div>
                        <div class="col-sm-1" style="padding-right:0px;">
                            <button ng-show="Prospect_InformasiUnitYangDiminati_Action_ShowHide" ng-click="Prospect_InformasiUnitYangDiminati_Action_Selected($index,List_Prospect_InformasiUnitYangDiminati)"
                                class="btn btn-default" style="float:right; border:0; padding-left:5px; background-color:#e8eaed; box-shadow:none;"
                                type="button">
                                <span class="glyphicon glyphicon-option-vertical" style="float:center;">
                                </span>
                            </button>
                        </div>

                    </div>
                </div>
                <div ng-show="Prospect_InformasiUnitYangDiminati_Tambah_Kendaraan_Button" ng-click="Prospect_Ubah_InformasiUnitYangDiminati(-1,'Insert')"
                    style="padding-top: 10px; padding-left: 5px; padding-bottom: 10px; border:0; background-color:#e8eaed ">
                    <span class="addVehicle">
                        <i class="fa fa-plus-circle" style="color: green; padding-right: 10px;" aria-hidden="true"></i>
                    </span> Tambah Info Kendaraan
                </div>


            </div>
        </div>
        <!-- ===================================  Informasi Unit Yang Diminati  ================================================ -->


        <!-- ===================================  Informasi Kebutuhan Terkait Unit  ============================================ -->
        <div class="listData">
            <button ng-click="Show_Hide_Prospect_Informasi_KebutuhanTerkaitUnit_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
                type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Informasi Kebutuhan Terkait Unit
                <span></span>
                <span style="float:right; margin-right:3px;"> {{Show_Hide_Prospect_Informasi_KebutuhanTerkaitUnit_PanelIcon}} </span>
            </button>
        </div>
        <div ng-show="Show_Hide_Prospect_Informasi_KebutuhanTerkaitUnit" class="formContent">
            <div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2">
                <div style="float:right;">
                    <input ng-disabled="!mProspect_Prospect_TradeIn_EnableDisable" ng-model="mProspect_Prospect.TradeInBit" type="checkbox" />Trade In
                </div>
                <p>
                    <br>
                </p>
                <form name="formValidDetail">
                    <bslabel>Sumber Dana</bslabel>
                    <select ng-disabled="!mProspect_Prospect_MetodePembayaran_EnableDisable" data-ng-options="dataFundSource.FundSourceName for dataFundSource in optionsMetodePembayaran"
                        ng-change="fundSourceValue(selectedFundSource.FundSource.FundSourceId)" ng-model="selectedFundSource.FundSource"
                        class="form-control" style="width: 100%;margin-bottom: 10px;">
                        <option label="-- Pilih --" value="" disabled="true"></option>
                    </select>

                    <!--<bsselect ng-disabled="!mProspect_Prospect_MetodePembayaran_EnableDisable" ng-model="mProspect_Prospect.FundSourceId" data="optionsMetodePembayaran"
						 item-text="FundSourceName" item-value="FundSourceId" on-select="value(selected)" placeholder="Select Kategori Pelanggan"
						 icon="fa fa-search">
						</bsselect>-->




                    <bsreqlabel>Tingkat Kebutuhan</bsreqlabel>
                    <select ng-disabled="!mProspect_Prospect_TingkatKebutuhan_EnableDisable" data-ng-options="dataKebutuhan.PurchaseTimeName for dataKebutuhan in optionsTingkatKebutuhan"
                        ng-change="kebutuhanValue(selectedKebutuhan.Kebutuhan.PurchaseTimeId)" ng-model="selectedKebutuhan.Kebutuhan"
                        class="form-control" style="width: 100%;margin-bottom: 10px;" required>
                        <option label="-- Pilih --" value="" disabled="true"></option>
                    </select>

                    <!--<bsselect style="margin-bottom: 10px" ng-disabled="!mProspect_Prospect_TingkatKebutuhan_EnableDisable" ng-model="mProspect_Prospect.PurchaseTimeId"
				 data="optionsTingkatKebutuhan" item-text="PurchaseTimeName" item-value="PurchaseTimeId" on-select="value(selected)" placeholder="Select Tingkat Kebutuhan"
				 icon="fa fa-search">
				</bsselect>-->


                    <bsreqlabel ng-show="Show_mProspect_Prospect_KategoriProspect">Kategori Prospek</bsreqlabel>
                    <select ng-show="Show_mProspect_Prospect_KategoriProspect" ng-disabled="!mProspect_Prospect_KategoriProspect_EnableDisable"
                        data-ng-options="dataKategoriProspect.CategoryProspectName for dataKategoriProspect in optionsKategoriProspect"
                        ng-change="kategoriValue(selectedKategori.Kategori.CategoryProspectId)" ng-model="selectedKategori.Kategori"
                        class="form-control" style="width: 100%;margin-bottom: 10px;" required>
                        <option label="-- Pilih --" value="" disabled="true"></option>
                    </select>

                    <!--<bsselect ng-show="Show_mProspect_Prospect_KategoriProspect" style="margin-bottom: 10px" ng-disabled="!mProspect_Prospect_KategoriProspect_EnableDisable"
				 ng-model="mProspect_Prospect.CategoryProspectId" data="optionsKategoriProspect" item-text="CategoryProspectName" item-value="CategoryProspectId"
				 placeholder="Select kategori prospect" icon="fa fa-search">
				</bsselect>-->

                    <!--<br/>-->

                    <!--<bslabel ng-show="Show_mProspect_Prospect_KategoriAwal">Kategori Awal</bslabel>
				<bsselect ng-show="Show_mProspect_Prospect_KategoriAwal" style="margin-bottom: 10px" ng-disabled="!mProspect_Prospect_KategoriAwal_EnableDisable"
				 ng-model="mProspect_Prospect.BeforeCategoryProspectId" data="optionsKategoriProspect" item-text="CategoryProspectName"
				 item-value="CategoryProspectId" placeholder="Kategori Lama" icon="fa fa-search">
				</bsselect>-->


                    <bslabel ng-show="Show_mProspect_Prospect_AlasanPenurunan">Alasan Penurunan Kategori/Drop Prospect</bslabel>
                    <textarea ng-disabled="!mProspect_Prospect_AlasanPenurunan_EnableDisable" type="text" ng-show="Show_mProspect_Prospect_AlasanPenurunan"
                        class="form-control" name="AlasanPenurunan" placeholder="Alasan Penurunan Kategori/Drop Prospect" ng-model="mProspect_Prospect.AnotherReason"
                        ng-maxlength="50" style="margin-bottom: 10px"></textarea>



                    <bsreqlabel>Keperluan Penggunaan Kendaraan</bsreqlabel>
                    <select ng-disabled="!mProspect_Prospect_KeperluanPenggunaanKendaraan_EnableDisable" data-ng-options="dataPurchase.PurchasePurposeName for dataPurchase in optionsPurchasePurpose"
                        ng-change="purchasePurposeValue(selectedPurchasePurpose.PurchasePurpose.PurchasePurposeId)" ng-model="selectedPurchasePurpose.PurchasePurpose"
                        class="form-control" style="width: 100%;margin-bottom: 10px;" required>
                        <option label="-- Pilih --" value="" disabled="true"></option>
                    </select>

                    <!--<bsselect ng-disabled="!mProspect_Prospect_KeperluanPenggunaanKendaraan_EnableDisable" ng-model="mProspect_Prospect.PurchasePurposeId"
				 data="optionsPurchasePurpose" item-text="PurchasePurposeName" item-value="PurchasePurposeId" on-select="value(selected)"
				 placeholder="Select Keperluan Penggunaan Kendaraan" icon="fa fa-search" style="margin-bottom:10px;">
				</bsselect>-->


                </form>
            </div>



        </div>
        <!-- ===================================  Informasi Kebutuhan Terkait Unit  ============================================ -->


        <!-- ===================================  Informasi Lain  ============================================================== -->
        <div class="listData" ng-if="selectedProspect.ProspectStatusName == 'Drop'">
            <button ng-click="Show_Hide_Prospect_Informasi_Lain_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle" type="button"
                style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Informasi Lain
                <span></span>
                <span style="float:right; margin-right:3px;"> {{Show_Hide_Prospect_Informasi_Lain_PanelIcon}} </span>
            </button>
        </div>
        <div ng-show="Show_Hide_Prospect_Informasi_Lain" class="formContent">
            <div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2">

                <bslabel>Kategori Awal</bslabel>

                <input style="margin-bottom: 10px" class="form-control" ng-disabled="!mProspect_Prospect_TingkatKebutuhan_EnableDisable"
                    ng-model="mProspect_Prospect.CategoryProspectName">


                <bslabel>Kategori Terbaru</bslabel>

                <input style="margin-bottom: 10px" class="form-control" ng-disabled="!mProspect_Prospect_TingkatKebutuhan_EnableDisable"
                    ng-model="mProspect_Prospect.ProspectStatusName">


                <bslabel>Alasan Penurunan Kategori/Drop Prospect</bslabel>
                <textarea ng-disabled="!mProspect_Prospect_AlasanPenurunan_EnableDisable" type="text" class="form-control" name="AlasanPenurunan"
                    placeholder="Alasan Penurunan Kategori/Drop Prospect" ng-model="mProspect_Prospect.AnotherReason" ng-maxlength="50"
                    style="margin-bottom: 10px" required></textarea>

            </div>



        </div>
        <!-- ===================================  Informasi Lain  ============================================================== -->


        <!-- ===================================  Informasi Kendaraan Lain  ==================================================== -->
        <div class="listData" ng-if="lanjutProspect.CustomerTypeId == 1">
            <button ng-click="Show_Hide_Prospect_Informasi_Kendaraan_Lain_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
                type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Informasi Kendaraan Lain
                <span></span>
                <span style="float:right; margin-right:3px;"> {{Show_Hide_Prospect_Informasi_Kendaraan_Lain_PanelIcon}} </span>
            </button>
        </div>
        <div ng-show="Show_Hide_Prospect_Informasi_Kendaraan_Lain" class="formContent">
            <div class="listData">

                <div class="list-group" id="dropdownContent" aria-labelledby="dropdownMenu1">
                    <div ng-repeat="List_Prospect_InformasiKendaraanLain in List_Prospect_InformasiKendaraanLain_To_Repeat" class="list-group-item"
                        style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
                        <div class="row">
                            <div class="col-sm-11">
                                <p style="font-size: 12px">
                                    <b>{{List_Prospect_InformasiKendaraanLain.BrandName}}</b>
                                </p>
                                <p>
                                    <ul class="list-inline">
                                        <li>{{List_Prospect_InformasiKendaraanLain.ModelName}} &nbsp;, &nbsp;{{List_Prospect_InformasiKendaraanLain.TypeName}}
                                            &nbsp;, &nbsp;{{List_Prospect_InformasiKendaraanLain.ColorName}}</li>
                                    </ul>
                                    <ul class="list-inline">
                                        <li>
                                            <b>Tahun Kendaraan &nbsp;:</b> &nbsp; {{List_Prospect_InformasiKendaraanLain.VehicleYear}}</li>
                                    </ul>
                                    <ul class="list-inline">
                                        <li>
                                            <b>Harga Beli &nbsp;:&nbsp; </b>{{List_Prospect_InformasiKendaraanLain.VehiclePrice}}</li>
                                    </ul>
                                </p>

                            </div>
                            <div class="col-sm-1" style="padding-right:0px;">
                                <button id="Prospect_InformasiKendaraanLain_Action_Button" ng-show="Prospect_InformasiKendaraanLain_Action_ShowHide" ng-click="Prospect_InformasiKendaraanLain_Action_Selected($index,List_Prospect_InformasiKendaraanLain)"
                                    class="btn btn-default" style="float:right; border:0; padding-left:5px; background-color:#e8eaed; box-shadow:none;"
                                    type="button">
                                    <span class="glyphicon glyphicon-option-vertical" style="float:center;">
                                    </span>
                                </button>
                            </div>

                        </div>
                    </div>
                    <div ng-show="Prospect_InformasiKendaraanLain_Add_Vehicle_Button" ng-click="Prospect_Ubah_InformasiKendaraanLain(-1,'Insert','Prospect')"
                        style="padding-top: 10px; padding-left: 5px; padding-bottom: 10px; border:0; background-color:#e8eaed ">
                        <span class="addVehicle">
                            <i class="fa fa-plus-circle" style="color: green; padding-right: 10px;" aria-hidden="true"></i>
                        </span> Tambah Kendaraan
                    </div>



                </div>
            </div>
        </div>
        <!-- ===================================  Informasi Kendaraan Lain  ==================================================== -->



        
        <!-- ===================================  Informasi Dari Customer Data Platform  ==================================================== -->
        <div class="listData">
            <button ng-click="Show_Hide_Prospect_Informasi_Dari_Customer_Data_Platform_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
                type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Informasi Dari Customer Data Platform
                <span></span>
                <span style="float:right; margin-right:3px;"> {{Show_Hide_Prospect_Informasi_Dari_Customer_Data_Platform_PanelIcon}} </span>
            </button>
        </div>
        <div ng-show="Show_Hide_Prospect_Informasi_Dari_Customer_Data_Platform" class="formContent container-fluid">
            <!-- Tarik sis | Semongko -  Form Lihat dari daftar tugas 
            | CustomerTypeId {{ CustomerTypeId }} -->

            <div class="listData">
                <button ng-click="Show_Hide_Prospect_Customer_Interest_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
                    type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Customer Interest
                    <span></span>
                    <span style="float:right; margin-right:3px;"> {{Show_Hide_Prospect_Customer_Interest_PanelIcon}} </span>
                </button>
            </div>
            <div ng-show="Show_Hide_Prospect_Customer_Interest" class="formContent">

                <!-- ====================================== Accordion Customer Interest ===========================================  -->
                <!-- dataCustomerInterest_1 -->
                <table class="tbl_Informasi_Dari_Customer_Data_Platform" border="1">
                    <thead>
                        <tr>
                            <th scope="col">Scoring</th>
                            <th scope="col">Category</th>
                            <th scope="col">Jumlah Prospek</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-if="dataCPD[0].Scoring != null">{{dataCPD[0].Scoring}}</td><td ng-if="dataCPD[0].Scoring == null"> - </td>
                            <td ng-if="dataCPD[0].Category != null">{{dataCPD[0].Category}}</td><td ng-if="dataCPD[0].Category == null"> - </td>
                            <td ng-if="dataCPD[0].JumlahdiProspek != null">{{dataCPD[0].JumlahdiProspek}}</td><td ng-if="dataCPD[0].JumlahdiProspek == null"> - </td>
                        </tr>
                    </tbody>
                </table>
                
                <br>
                
                <table class="tbl_Informasi_Dari_Customer_Data_Platform" border="1">
                    <thead>
                    <tr>
                        <th scope="col">Interest Model From Offline</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in dataCPD[0].InterestModelFormOffline"><td>{{data.data}}</td></tr>
                    </tbody>
                </table>   
                
                
                <br>
    
    
                <table class="tbl_Informasi_Dari_Customer_Data_Platform" border="1">
                    <thead>
                    <tr>
                        <th scope="col">Interest Model From Online</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in dataCPD[0].InterestModelFormOnline"><td>{{data.data}}</td></tr>
                    </tbody>
                </table>        
                
                <br>
                
                <div class="row">
                    <div class="col-xs-6 nopadding" style="padding-right: 2px !important;">
                        <table class="tbl_Informasi_Dari_Customer_Data_Platform " border="1">
                            <thead>
                            <tr>
                                <th scope="col">Program</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <tr ng-repeat="data in dataCPD[0].Program"><td>{{data.data}}</td></tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <div class="col-xs-6 nopadding" style="padding-left: 2px !important;">
                        <table class="tbl_Informasi_Dari_Customer_Data_Platform " border="1">
                            <thead>
                            <tr>
                                <th scope="col">Online Behavior</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <tr ng-repeat="data in dataCPD[0].OnlineBehavior"><td>{{data.data}}</td></tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <br>
    
    
                <!-- dataCustomerInterest_3 -->
                <div class="row">
                    <div class="col-xs-6 nopadding" style="padding-right: 2px !important;">
                        <table class="tbl_Informasi_Dari_Customer_Data_Platform " border="1">
                            <thead>
                            <tr>
                                <th scope="col">Form Submmited History</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <tr ng-repeat="data in dataCPD[0].FormSubmittedHistory"><td>{{data.data}}</td></tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <div class="col-xs-6 nopadding" style="padding-left: 2px !important;">
                        <table class="tbl_Informasi_Dari_Customer_Data_Platform " border="1">
                            <thead>
                            <tr>
                                <th scope="col">Offline Journey</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <tr ng-repeat="data in dataCPD[0].OfflineJourney"><td>{{data.data}}</td></tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <br>
                
    
                <div class="row">
                    <div class="col-xs-6 nopadding" style="padding-right: 2px !important;">
                        <table class="tbl_Informasi_Dari_Customer_Data_Platform " border="1">
                            <thead>
                            <tr>
                                <th scope="col">Ads History</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <tr ng-repeat="data in dataCPD[0].AdsHistory"><td>{{data.data}}</td></tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <div class="col-xs-6 nopadding" style="padding-left: 2px !important;">
                        <table class="tbl_Informasi_Dari_Customer_Data_Platform " border="1">
                            <thead>
                            <tr>
                                <th scope="col">Melihat Iklan</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <tr ng-repeat="data in dataCPD[0].MelihatIklan"><td>{{data.data}}</td></tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- ====================================== Accordion Customer Interest ===========================================  -->
            </div>


            <div class="listData">
                <button ng-click="Show_Hide_Prospect_Customer_Profile_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
                    type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Customer Profile
                    <span></span>
                    <span style="float:right; margin-right:3px;"> {{Show_Hide_Prospect_Customer_Profile_PanelIcon}} </span>
                </button>
            </div>
            <div ng-show="Show_Hide_Prospect_Customer_Profile" class="formContent">
                <!-- ====================================== Accordion Customer Profile ===========================================  -->
                <!-- dataCustomerProfile_1 -->
                <table class="tbl_Informasi_Dari_Customer_Data_Platform" border="1">
                    <thead>
                        <tr>
                            <th scope="col">Umur</th>
                            <th scope="col" ng-if="CustomerTypeId!=1">Tanggal Lahir</th>
                            <th scope="col">Status Pernikahan</th>
                            <th scope="col">Jenis Kelamin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-if="dataCPD[0].Umur != null">{{dataCPD[0].Umur}}</td><td ng-if="dataCPD[0].Umur == null"> - </td>
                            <td ng-if="CustomerTypeId!=1">
                                <span ng-if="dataCPD[0].TanggalLahir != null || dataCPD[0].TanggalLahir != NaN"> {{dataCPD[0].TanggalLahir}}</span>   
                                <span ng-if="dataCPD[0].TanggalLahir == null || dataCPD[0].TanggalLahir == NaN"> - </span>   
                            </td>
                            <td ng-if="dataCPD[0].StatusPernikahan != null">{{dataCPD[0].StatusPernikahan}}</td><td ng-if="dataCPD[0].StatusPernikahan == null"> - </td>
                            <td ng-if="dataCPD[0].JenisKelamin != null">{{dataCPD[0].JenisKelamin}}</td><td ng-if="dataCPD[0].JenisKelamin == null"> - </td>
                        </tr>
                    </tbody>
                </table>
                
                
                <br>
                
                <!-- dataCustomerProfile_2 -->
                <table class="tbl_Informasi_Dari_Customer_Data_Platform" border="1">
                    <thead>
                    <tr>
                        <th scope="col">Range Pendapatan Gross</th>
                        <th scope="col">Hobby</th>
                        <th scope="col" ng-if="CustomerTypeId!=1">Pekerjaan</th>
    
                    </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td ng-if="dataCPD[0].RangePendapatanGross != null">{{dataCPD[0].RangePendapatanGross}}</td>
                            <td ng-if="dataCPD[0].RangePendapatanGross == null"> - </td>
    
                            <td ng-if="dataCPD[0].Hobby != null">{{dataCPD[0].Hobby}}</td>
                            <td ng-if="dataCPD[0].Hobby == null"> - </td>
                               
                            <td ng-if="CustomerTypeId !=1">
                                <span ng-if="dataCPD[0].Pekerjaan != null || dataCPD[0].Pekerjaan != ''">{{dataCPD[0].Pekerjaan}}</span>
                                <span ng-if="dataCPD[0].Pekerjaan == null || dataCPD[0].Pekerjaan == ''"> - </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <br>
                
                
                <!-- dataHistoryCar -->
                <table class="tbl_Informasi_Dari_Customer_Data_Platform" border="1">
                    <thead>
                    <tr>
                        <th scope="col">History Car</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in dataCPD[0].HistoryCar"><td>{{data.data}}</td></tr>
                    </tbody>
                </table>      
    
                <!-- ====================================== Accordion Customer Profile ===========================================  -->
            </div>


        </div>
        <!-- ===================================  Informasi Dari Customer Data Platform  ==================================================== -->




        <br/>







    </div>

    <div ng-show="ShowPilihProspect">
        <button style="float:right" ng-click="BackToDatabaseFromPilihTipeProspect()" type="button" class="wbtn btn ng-binding ladda-button">
            <span class="ladda-label">
                <!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
            </span>
            <span class="ladda-spinner"></span>
        </button>
        <p>
            <br>
        </p>
        <p>
            <br>
        </p>
        <div style="text-align: center;font-size: 24px;">
            <b>Pilih Kategori Pelanggan</b>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <button style="float:right; border-radius: 12px;font-size: 50px;" ng-click="ToAddProspectScreen('Individu')" type="button"
                    class="rbtn btn ng-binding ladda-button">

                    <span class="fa fa-fw fa-child ">

                    </span>

                </button>
            </div>
            <div class="col-xs-6">
                <button style="float:left;border-radius: 12px;font-size: 50px;" ng-click="ToAddProspectScreen('Instansi')" type="button"
                    class="rbtn btn ng-binding ladda-button">
                    <span class="fa fa-fw fa-building-o ">
                        <!--<i class="fa fa-fw fa-refresh"></i>Instansi-->
                    </span>
                    <!--<span class="ladda-spinner"></span>-->
                </button>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <b style="float: right; margin-right: 30px;">Individu</b>
            </div>
            <div class="col-xs-6">
                <b style="float: left; margin-left: 30px;">Instansi</b>
            </div>
        </div>



    </div>


    <bsui-modal show="ModalPelanggaranWilayah.show" title="Peringatan">
        <div ng-form name="contactForm">
            <p style="font-size:15px;">
                Data Prospek yang anda input termasuk pelanggaran wilayah !
                <p align="center">
                    <!--<button ng-click="Execute_SimpanEditDetailProspect(mProspect_Prospect)" class="rbtn btn ng-binding ladda-button" type="button">Ya</button>-->
                    <!--<button ng-click="TidakExecute_SimpanEditDetailProspect()" class="rbtn btn ng-binding ladda-button" type="button">OK</button>-->
                </p>
            </p>
        </div>
    </bsui-modal>

    <bsui-modal show="ModalDataHarusDiisi.show" title="Error Message">
        <div ng-form name="contactForm">
            <p style="font-size:15px;">
                Data Mandatory Harus Di isi !
            </p>
        </div>
    </bsui-modal>

    <div ng-show="ShowQualifyingTools">
        <div clss="row">
            <button id="" ng-click="QualifyingToolsCalculateResult()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
                <span class="ladda-label">
                    <!--<i class="fa fa-fw fa-refresh"></i>-->Selesai
                </span>
                <span class="ladda-spinner"></span>
            </button>

            <button ng-click="QualifyingToolsDecisionClicked('Tidak')" style="float:right;" type="button" class="wbtn btn ng-binding ladda-button">
                <span class="ladda-label">
                    Kembali
                </span>
                <span class="ladda-spinner"></span>
            </button>
        </div>
        <p>1.Kebutuhan Fisik Mobil?</p>
        <p style="margin-left:3px;">
            <input type="radio" ng-model="Kebutuhan_Fisik" ng-value="1">4 Seater
            <br>
            <input type="radio" ng-model="Kebutuhan_Fisik" ng-value="2">5 Seater
            <br>
            <input type="radio" ng-model="Kebutuhan_Fisik" ng-value="3">7 Seater
        </p>

        <p>2.Jumlah Penumpang Yang Sering Dibawa?</p>
        <p style="margin-left:3px;">
            <input type="radio" ng-model="Jumlah_Penumpang" ng-value="1">3 Orang
            <br>
            <input type="radio" ng-model="Jumlah_Penumpang" ng-value="2">5 Orang
            <br>
            <input type="radio" ng-model="Jumlah_Penumpang" ng-value="3">7 Orang
        </p>

        <p>3.Jarak Yang sering Ditempuh?</p>
        <p style="margin-left:3px;">
            <input type="radio" ng-model="Jarak_Yang_Sering_Ditempuh" ng-value="1">Dalam Kota
            <br>
            <input type="radio" ng-model="Jarak_Yang_Sering_Ditempuh" ng-value="2">Luar Kota
            <br>
            <input type="radio" ng-model="Jarak_Yang_Sering_Ditempuh" ng-value="3">Off Road
        </p>

        <div class="row">

        </div>

    </div>

    <div ng-show="Show_Prospect_TambahUbah_InformasiUnitYangDiminati">

        <div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2">
            <form name="formValidUnitDiminati">
                <bsreqlabel>Model</bsreqlabel>
                <select data-ng-options="dataModel.VehicleModelName for dataModel in optionsModel" ng-change="filtertipe(selectedModel.VehicleModel)"
                    ng-model="selectedModel.VehicleModel" class="form-control" style="width: 100%;margin-bottom: 10px;" required>
                    <option label="-- Pilih --" value="" disabled="true"></option>
                </select>
                <!--<bsselect style="margin-bottom: 10px" ng-model="mProspect_Prospect_TambahUbah_InformasiUnitYangDiminati.VehicleModelId" data="optionsModel"
			 item-text="VehicleModelName" item-value="VehicleModelId" on-select="ModelValue(selected)" ng-change="filtertipe(mProspect_Prospect_TambahUbah_InformasiUnitYangDiminati.VehicleModelId)"
			 placeholder="Select model" icon="fa fa-search">
			</bsselect>-->

                <bsreqlabel>Tipe</bsreqlabel>
                <select data-ng-options="datatipe as (datatipe.Description + ' - ' + datatipe.KatashikiCode + ' - ' + datatipe.SuffixCode) for datatipe in vehicleTypefilter"
                    ng-change="filterColor(selectedTipe.VehicleType)" ng-model="selectedTipe.VehicleType" class="form-control"
                    style="width: 100%;margin-bottom: 10px;" required>
                    <option label="-- Pilih --" value="" disabled="true"></option>
                </select>
                <!--<bsselect style="margin-bottom: 10px" ng-model="mProspect_Prospect_TambahUbah_InformasiUnitYangDiminati.VehicleTypeId" data="vehicleTypefilter"
			 item-text="Description,KatashikiCode,SuffixCode" item-value="VehicleTypeId" on-select="TipeValue(selected)" ng-change="filterColor(mProspect_Prospect_TambahUbah_InformasiUnitYangDiminati.VehicleTypeId)" placeholder="Select tipe"
			 icon="fa fa-search">
			</bsselect>-->

                <bsreqlabel>Warna</bsreqlabel>
                <select data-ng-options="datacolor as (datacolor.ColorCode + ' - ' + datacolor.ColorName) for datacolor in vehicleTypecolorfilter"
                    ng-change="selectedColorValue(selectedwarna.Warna)" data-ng-model="selectedwarna.Warna" class="form-control"
                    style="width: 100%;margin-bottom: 10px;" required>
                    <option label="-- Pilih --" value="" disabled="true"></option>
                </select>
                <!--<bsselect style="margin-bottom: 10px" ng-model="mProspect_Prospect_TambahUbah_InformasiUnitYangDiminati.ColorId" data="vehicleTypecolorfilter"
			 item-text="ColorName" item-value="ColorId" on-select="ColorValue(selected)" placeholder="Select warna" icon="fa fa-search">
			</bsselect>-->

                <bsreqlabel>Tahun Kendaraan</bsreqlabel>
                <select data-ng-options="datatahun.Year for datatahun in ListTahunKendaraan" ng-change="selectedTahunValue(selectedTahun.Tahun)"
                    data-ng-model="selectedTahun.Tahun" class="form-control" style="width: 100%;margin-bottom: 10px;" required>
                    <option label="-- Pilih --" value="" disabled="true"></option>
                </select>
                <!--<bsselect style="margin-bottom: 10px" ng-model="mProspect_Prospect_TambahUbah_InformasiUnitYangDiminati.ProductionYear" data="ListTahunKendaraan"
			 item-text="Tahun" item-value="Tahun" on-select="tahunKendaraan(selected)" placeholder="Select Tahun Kendaraan" icon="fa fa-search">
			</bsselect>-->


                <bsreqlabel>Qty</bsreqlabel>
                <input type="number" id="myNumber" class="form-control" step="1" pattern="[0-9]" value="0" ng-model="mProspect_Prospect_TambahUbah_InformasiUnitYangDiminati.Qty"
                    min="1" required>
                <p>
                    <br>
                </p>
            </form>

            <div class="row">
                <button onclick="" ng-disabled="formValidUnitDiminati.$invalid" ng-click="ProspectSimpanInformasiUnitYangDiminati(mProspect_Prospect_TambahUbah_InformasiUnitYangDiminati)"
                    type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
                    <span class="ladda-label">
                        <!--<i class="fa fa-fw fa-refresh"></i>-->Simpan
                    </span>
                    <span class="ladda-spinner"></span>
                </button>

                <button ng-click="QualifyingToolsDecisionClicked('Tidak')" type="button" class="wbtn btn ng-binding ladda-button" style="float: right;">
                    <span class="ladda-label">
                        <!--<i class="fa fa-fw fa-refresh"></i>-->Batal
                    </span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>
    </div>

    <div ng-show="Show_Prospect_TambahUbah_InformasiKendaraanLain">

        <div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2">
            <form name="formValidUnitLain">
                <bsreqlabel>Merek Mobil</bsreqlabel>
                <select ng-options="datamerek.BrandName for datamerek in optionsMerekMobil" ng-change="merekValue(selectedMerek.Merek)" ng-model="selectedMerek.Merek"
                    class="form-control" style="width: 100%;margin-bottom: 10px;" required>
                    <option label="-- Pilih --" value="" disabled="true"></option>
                </select>
                <!--<bsselect ng-model="mProspect_Prospect_TambahUbah_InformasiKendaraanLain.BrandId" data="optionsMerekMobil" item-text="BrandName"
			 item-value="BrandId" on-select="merekValue(selected)" placeholder="Select merek" icon="fa fa-search">
			</bsselect>-->

                <bslabel>Model</bslabel>
                <!--<select data-ng-options="o.name for o in optionsModel" data-ng-model="mProspect_Prospect_TambahUbah_InformasiKendaraanLain_Model" style="width: 100%;margin-bottom: 10px;"></select>-->
                <input style="margin-bottom: 10px" class="form-control" ng-model="mProspect_Prospect_TambahUbah_InformasiKendaraanLain.ModelName"
                    placeholder="Model" icon="fa fa-search" maxlength="50">


                <bslabel>Tipe</bslabel>
                <!--<select data-ng-options="o.name for o in optionsTipe" data-ng-model="mProspect_Prospect_TambahUbah_InformasiKendaraanLain_Tipe" style="width: 100%;margin-bottom: 10px;"></select>-->
                <input style="margin-bottom: 10px" class="form-control" ng-model="mProspect_Prospect_TambahUbah_InformasiKendaraanLain.TypeName"
                    placeholder="Tipe" icon="fa fa-search">

                <bslabel>Warna</bslabel>
                <!--<select data-ng-options="o.name for o in optionsWarna" data-ng-model="mProspect_Prospect_TambahUbah_InformasiKendaraanLain_Warna" style="width: 100%;margin-bottom: 10px;"></select>-->
                <input style="margin-bottom: 10px" class="form-control" ng-model="mProspect_Prospect_TambahUbah_InformasiKendaraanLain.ColorName"
                    placeholder="Color" icon="fa fa-search">


                <bslabel>Tahun Kendaraan</bslabel>
                <input alpha-numeric mask="Tahun" type="number" id="myNumber" class="form-control" ng-model="mProspect_Prospect_TambahUbah_InformasiKendaraanLain.VehicleYear"
                    min="0" maxlength="4">
                <!--<input type="text" class="form-control" name="StatusPelanggan" placeholder="Tahun Kendaraan" ng-model="mProspect_Prospect_TambahUbah_InformasiKendaraanLain.VehicleYear"
		 ng-maxlength="50" style="margin-bottom: 10px" required>-->


                <bslabel>Harga Beli Kendaraan</bslabel>
                <input input-currency type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" ng-model="mProspect_Prospect_TambahUbah_InformasiKendaraanLain.VehiclePrice"
                    style="margin-bottom: 10px;text-align:right">
            </form>
            <div class="row">
                <button onclick="" ng-disabled="formValidUnitLain.$invalid" ng-click="ProspectSimpanInformasiKendaraanLain(mProspect_Prospect_TambahUbah_InformasiKendaraanLain)"
                    type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
                    <span class="ladda-label">
                        <!--<i class="fa fa-fw fa-refresh"></i>-->Simpan
                    </span>
                    <span class="ladda-spinner"></span>
                </button>

                <button ng-show="Prospect_TambahUbah_InformasiKendaraanLain_Batal_Button" ng-click="QualifyingToolsDecisionClicked('Tidak')"
                    type="button" class="wbtn btn ng-binding ladda-button" style="float: right;">
                    <span class="ladda-label">
                        <!--ini batal dari prospek-->
                        <!--<i class="fa fa-fw fa-refresh"></i>-->Batal
                    </span>
                    <span class="ladda-spinner"></span>
                </button>
                <button ng-show="Pelanggan_TambahUbah_InformasiKendaraanLain_Batal_Button" ng-click="PelangganBatalUbahInformasiKendaraanLainClicked()"
                    type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
                    <span class="ladda-label">
                        <!--ini batal dari pelanggan-->
                        <!--<i class="fa fa-fw fa-refresh"></i>-->Batal
                    </span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>
    </div>


</div>

<div ng-show="ShowProspectRiwayat">

    <button ng-click="QualifyingToolsDecisionClicked('Tidak')" style="float:right;" class="wbtn btn ng-binding ladda-button">
        <span class="ladda-label">
            Kembali
        </span>
        <span class="ladda-spinner"></span>
    </button>
    <div class="row contentData">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline" ng-repeat="List_ProspectRiwayat in List_ProspectRiwayat_To_Repeat" style="margin: 0px;">
                <li class="time-label" style="margin: 0px;">
                    <span class="bg-red">
                    </span>
                </li>
                <!--<li>
					</li>-->
                <li style="margin: 0px;">
                    <i class="fa fa-child"></i>
                    <div class="timeline-item">
                        <p>
                            <i>
                                <b>{{List_ProspectRiwayat.FollowUpDate | date:"dd MMMM yyyy"}}</b>
                            </i>
                        </p>
                        <p>{{List_ProspectRiwayat.FollowUpDesc}}</p>
                    </div>
                </li>
            </ul>
            <ul class="timeline" style="margin: 0px;">
                <li style="margin: 0px;">
                    <b>Start</b>
                </li>
            </ul>
        </div>
        <!-- /.col -->
    </div>

</div>

</div>
