<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid-tree
        ng-form="SDataForm"
        factory-name="SData"
        model="mSData"
        loading="loading"

        get-data="getData"

        modal-title="SData"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
<bsform-advsearch>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <bsreqlabel>Masukan Nama Pelanggan sesuai Toyota ID terdaftar </bsreqlabel>
        </div>

        <div class="form-group" show-errors>
            <bsreqlabel>Toyota ID</bsreqlabel>
            <div class="input-icon-right">
                <i class="fa fa-pencil"></i>
                <input type="text" 
                       class="form-control" 
                       name="id" 
                       placeholder="Toyota ID" 
                       ng-model="mFPass.id" required>
            </div>
            <bserrmsg field="id"></bserrmsg>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
       
        <div class="form-group" show-errors>
            <bsreqlabel>Pilih metode pemulihan Toyota ID seesuai informasi yang pernah tersimpan pada sistem </bsreqlabel>
        </div>

        <div class="form-group" show-errors>
            <input type="radio" ng-model="">Nomor Handphone</bsreqlabel>
            <div class="input-icon-right">
                <i class="fa fa-pencil"></i>
                <input type="text" 
                       class="form-control" 
                       name="pn" 
                       placeholder="Nomor Handphone" 
                       ng-model="mSData.pn" required>
            </div>
            <bserrmsg field="pn"></bserrmsg>
        </div>

        <div class="form-group" show-errors>
            <input type="radio" ng-model="">Email</bsreqlabel>
            <div class="input-icon-right">
                <i class="fa fa-pencil"></i>
                <input type="text" 
                       class="form-control" 
                       name="pn" 
                       placeholder="KTP / KITAS" 
                       ng-model="mSData.pn" required>
            </div>
            <bserrmsg field="pn"></bserrmsg>
        </div>

      </div>
    </div>

    
  </bsform-advsearch>
       
</bsform-grid-tree>

