<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="no-add">
	<div ng-show="Show_MasterCounterGR_Tambah">
		<div class="row">
			<div class="col-md-12">
				<button id="MasterCounterGRTambah_Simpan_Button" ng-click="MasterCounterGRTambah_Simpan_Clicked()"
				 type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:20px">
					<span class="ladda-label">
						Simpan
					</span><span class="ladda-spinner"></span>
				</button>
				
				<button id="MasterCounterGRTambah_Batal_Button" ng-click="MasterCounterGRTambah_Batal_Clicked()"
				 type="button" class="btn ng-binding ladda-button" style="float: right; margin-top:20px">
					<span class="ladda-label">
						Batal
					</span><span class="ladda-spinner"></span>
				</button>
			</div>
			
			<div class="col-md-12" style="margin-top:10px">
				<div class="col-md-4">
					<bsreqlabel>Nama Counter</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="NamaCounterGR" placeholder="Nama Counter" ng-model="masterCounterGR_CounterName" ng-maxlength="50" required>
					</div>
				</div>
			</div>
			
			<div class="col-md-12" style="margin-top:10px">
				<div class="col-md-4">
					<bsreqlabel>Nama SA</bsreqlabel>
					<bsselect ng-model="TambahCounterGR_SAName" ng-change="TambahCounterGR_SAName_Changed()"
					 data="optionsTambahCounterGRSAName" item-text="name" item-value="value" on-select="value(selected)" placeholder="Nama SA" required
					 icon="fa fa-search">
					</bsselect>
				</div>
				
				<!--<div class="col-md-3">
					<bsreqlabel>Nama SA</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="NamaSA" placeholder="Nama SA" ng-model="masterCounterGR_SAName" ng-maxlength="50" required ng-blur="masterCounterGR_SAName_LostFocus()">
					</div>
				</div>
				<div class="col-md-1">
					<button id="MasterCounterGRTambah_CariSA_Button" ng-click="MasterCounterGRTambah_CariSA_Clicked()"
					 type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:20px">
						<span class="ladda-label">
							Cari
						</span><span class="ladda-spinner"></span>
					</button>
				</div>-->
			</div>
			
			<div class="col-md-12" style="margin-top:10px">
				<div class="col-md-4">
					<bsreqlabel>Nama Inisial SA</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="NamaInisialSA" placeholder="Nama Inisial SA" ng-model="masterCounterGR_InitialSAName" ng-maxlength="50" 
						disabled="disabled" 
						required
						skip-enabled
						>
						<!-- ng-disabled= "!masterCounterGR_InitialSAName_isDisabled" -->
					</div>
				</div>
			</div>

			<div class="col-md-12" style="margin-top:15px">
				<div class="col-md-4">
						<bsreqlabel>Kategori Antrian</bsreqlabel>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="col-md-6">
					<form>
						<div class="row">
							<div class="col-md-4">
								<input type="checkbox" ng-model="masterCounterGR_isEM">EM
							</div>
							<div class="col-md-4">
								<input type="checkbox" ng-model="masterCounterGR_isOther" >Other
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<input type="checkbox" ng-model="masterCounterGR_isSBI">EM On Time
							</div>
							<div class="col-md-4">
								<input type="checkbox" ng-model="masterCounterGR_isWalkIn" >Walk In
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<input type="checkbox" ng-model="masterCounterGR_isSBE">Booking On Time
							</div>
							<div class="col-md-4">
								<input type="checkbox" ng-model="masterCounterGR_isBooking" >Booking
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="col-md-12" style="margin-top:15px">
				<div class="col-md-2">
					<div class="ui toggle checkbox" style="margin:-5px 0 0;" >
						<input type="checkbox" ng-model="masterCounterGR_StatusCode" ng-true-value =1 ng-false-value =0 name="status">
						<label>
							<span style="color:#2185D0;" ng-if="masterCounterGR_StatusCode == 1">Active</span>
							<span style="color:gray;" ng-if="masterCounterGR_StatusCode == 0">Inactive</span>
						</label>
					</div>
				</div>
				<div class="col-md-2">
					<div class="ui toggle checkbox" style="margin:-5px 0 0;" >
						<input type="checkbox" ng-model="masterCounterGR_ShowCode" ng-true-value =1 ng-false-value =0 name="showQueueBoard">
						<label>
							<span style="color:#2185D0;" ng-if="masterCounterGR_ShowCode == 1">Show On Board</span>
							<span style="color:gray;" ng-if="masterCounterGR_ShowCode == 0">No Show On Board</span>
						</label>
					</div>
				</div>
			</div>
			
		</div>
	</div>	
	
	<div ng-show="Show_MasterCounterGR_Main">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-12 "style="width:95%; margin-left:39px"> 
					<button id="MasterCounterGRMain_Tambah_Button" ng-click="MasterCounterGRMain_Tambah_Clicked()"
					type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:20px">
						<span class="ladda-label">
							Tambah
						</span><span class="ladda-spinner"></span>
					</button>
				</div>
			</div>		
			<div class="col-md-12">
				<div id="myGrid" ui-grid="CounterGRGrid" ui-grid-auto-resize ui-grid-pagination ui-grid-selection class="Mygrid" style="width:95%;height: 250px; margin-top:20px; margin-bottom:20px; margin-left:20px"></div>						
			</div>
		</div>
	</div>
	
	<div class="ui modal" id="ModalHapusMasterCounterGR" role="dialog">
		<div class="modalDefault-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Konfirmasi Hapus</h4>
			</div>
			<div class="modal-body">
				<p>
					Apakah anda yakin ingin menghapus Counter {{MainCounterGRHapus_CounterName}} ?
				</p>
			</div>
			<div class="modal-footer">
				<p align="center">
					<button ng-click="Batal_MainCounterGR()" class="rbtn btn ng-binding ladda-button" type="button">Tidak</button>
					<button ng-click="Hapus_MainCounterGR()" class="rbtn btn ng-binding ladda-button" type="button">Ya</button>
				</p>
			</div>
		</div>
	</div>
	
	<div class="ui modal"  id="ModalCounterGRTambahSearchEmployee" role="dialog">
		<div class="modal-content" >
			<ul class="list-group">
				<bsreqlabel>Cari Employee</bsreqlabel>
				<div class="form-group" ui-grid="ModalCounterGRTambahSearchEmployee_UIGrid" ui-grid-auto-resize ui-grid-selection ui-grid-pagination ></div>
				<p align="center">
				<button class="col-sm-6" ng-click="ModalCounterGRTambahSearchEmployee_Batal()" type="button" class="rbtn btn ng-binding ladda-button" >
					Batal
				</button> 
				</p>
			</ul>
		</div> 
	</div>

</div>