<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="row">
	
		<!-- <p style="width:400px; margin-top:20px; margin-left:10px; background:white;color:red;">Setting nilai minimal selisih kelebihan pembayaran yang secara otomatis akan disimpan sebagai titipan pelanggan
			<hr style="border-color:red" />
		</p>

		<div class="col-md-12">
			<div class="col-md-4">
				<bsreqlabel>Nilai Minimal Selisih</bsreqlabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="NilaiMinimalSelisih " placeholder="" number-only min="1" ng-model="SelisihKelebihan_NilaiMinimalSelisih"
					 ng-maxlength="30">
				</div>
			</div>
		</div> -->
		<div class="col-md-12">
		<p style="width:400px; margin-top:20px; margin-left:10px; background:white;color:red;">Biaya lain - lain
			<hr style="border-color:red" />
		</p>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<bslabel>Nilai maksimal biaya lain-lain</bslabel>
				<div class="input-icon-right ">
					<input number-only type="text" style="text-align: right;" class="form-control " name="NilaiMaksOE " placeholder="" min="1" ng-model="NilaiMaksOE"
					 ng-maxlength="30">
				</div>
			</div>
		</div>

		<button id="TambahOE" ng-click="tambahNilaiOE()" ng-disabled="NilaiMaksOE<1"  type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right; margin-bottom:10px; margin-right:15px">
			 <i class="fa fa-fw fa-plus"></i>
				Tambah
		</button>
		<div class="col-md-12">
			<div class="grid" get-data="getData" ui-grid="GridOE" ui-grid-selection ui-grid-pinning ui-grid-pagination ui-grid-auto-resize></div>
		</div>
	</div>
		
	<div class="row">
		<div class="col-md-12">
		<p style="width:400px; margin-top:20px; margin-left:10px; background:white;color:red;">Pendapatan lain - lain
			<hr style="border-color:red" />
		</p>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<bslabel>Nilai maksimal pendapatan lain-lain</bslabel>
				<div class="input-icon-right ">
					<input type="text" style="text-align: right;" class="form-control " name="NilaiMaksOI " placeholder="" number-only min="1" ng-model="NilaiMaksOI"
					 ng-maxlength="30">
				</div>
			</div>
		</div>

		<button id="TambahOI" ng-click="tambahNilaiOI()" ng-disabled="NilaiMaksOI<1" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right; margin-bottom:10px; margin-right:15px">
			 <i class="fa fa-fw fa-plus"></i>
				Tambah
		</button>
		<div class="col-md-12">
			<div class="grid" get-data="getDataOI" ui-grid="GridOI" ui-grid-selection ui-grid-pinning ui-grid-pagination ui-grid-auto-resize></div>
		</div>

		<div class="col-md-12">
			<button id="SelisihKelebihan_Simpan_Button" ng-disabled="insertOE=null || insertOI=null " ng-click="simpanOIOE()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right; margin-top:24px" ladda="LoadingSimpan" data-style="expand-left">
				<span class="ladda-label">
					Simpan
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	

	</div>
		

		
