<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="StampCostForm"
        factory-name="StampCost"
        model="mStampCost"
        model-id="StampCostId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="StampCostForm"
        form-title="StampCost"
        modal-title="StampCost"
        modal-size="small"
		form-api="formApi" 
		do-custom-save="doCustomSave"
        icon="fa fa-fw fa-child"
        >


        <div class="row">
          <div class="col-md-6">


            <div class="form-group" show-errors>
                <bsreqlabel>Stamp Value</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="StampValue" placeholder="Stamp Value" ng-model="mStampCost.StampValue"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="StampValue"></bserrmsg>
            </div>
			
			<div class="form-group" show-errors>
                <bsreqlabel>Minimum Transaction</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="MinimumTransaction" placeholder="Minimum Transaction" ng-model="mStampCost.MinimumTransaction"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="MinimumTransaction"></bserrmsg>
            </div>
			
			<div class="form-group" show-errors>
                <bsreqlabel>Maximum Transaction</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="MaximumTransaction" placeholder="Maximum Transaction" ng-model="mStampCost.MaximumTransaction"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="MaximumTransaction"></bserrmsg>
            </div>
			
			<div class="form-group" show-errors>
                    <bsreqlabel>Valid Date</bsreqlabel>
                    <bsdatepicker
                            name="ValidDate"
                            date-options="dateOptions"
                            ng-model="mStampCost.ValidDate"
                    >
                    </bsdatepicker>
                    <bserrmsg field="ValidDate"></bserrmsg>
            </div>
			
          </div>
        </div>
</bsform-grid-tree>

