<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="AttendancePlanForm"
        factory-name="AttendancePlan"
        model="mAttendancePlan"
        loading="loading"
        model-id="Id"

        get-data="getData"
        selected-rows="xAttendancePlan.selected"
        on-select-rows="onSelectRows"
        show-advsearch="on"

        modal-title="AttendancePlan"
        modal-size="small"
        icon="fa fa-fw fa-child"
        on-before-save="onBeforeSave"
        on-before-new="onBeforeNew"
        on-before-edit="onBeforeEdit"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
        <bsform-advsearch>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nama Karyawan</label>
                        <bsselect name="EmployeeFilter"
                                ng-model="mAttendancePlan.EmployeeFilter"
                                data="EmployeeFilter"
                                item-text="EmployeeName"
                                item-value="EmployeeId"
                                placeholder="Nama Staff"
                                required="true">
                        </bsselect>
                        <!-- <label>Period</label> -->
                       <!--  <bsdatepicker
                                name="Period"
                                date-options="dateOptions"
                                ng-model="filter.Period"
                                ng-change="changePeriod(dt)"
                        >
                        </bsdatepicker> -->
                    </div>
                </div>
            </div>
        </bsform-advsearch>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nama Staff</label>
                    <bsselect name="Employee"
                            ng-model="mAttendancePlan.EmployeeId"
                            data="EmployeeFilter"
                            item-text="EmployeeName"
                            item-value="EmployeeId"
                            placeholder="Nama Staff"
                            required="true">
                    </bsselect>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Tanggal Mulai</label>
                    <bsdatepicker
                            name="DateFrom"
                            date-options="dateOptions"
                            ng-model="mAttendancePlan.CalIdFromDateFormat"
                    >
                            <!-- ng-change="changeDateFrom(dt)" -->
                    </bsdatepicker>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Tanggal Selesai</label>
                    <bsdatepicker
                            name="DateThru"
                            date-options="dateOptions"
                            ng-model="mAttendancePlan.CalIdThruDateFormat"
                    >
                            <!-- ng-change="changeDateThru(dt)" -->
                    </bsdatepicker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Shift Kerja</bsreqlabel>
                    <bscheckbox ng-repeat="shift in shifts"
                        ng-model = "activeShift[$index]"
                        label="{{shift.Name}}"
                        true-value="1"
                        false-value="0">
                    </bscheckbox>
                    <bserrmsg field="ShiftByte"></bserrmsg>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="true">
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>ShiftByte</bsreqlabel>
                    <input type="text" name="ShiftByte" ng-model="mAttendancePlan.ShiftByte">
                    <!-- <bserrmsg field="ShiftByte"></bserrmsg> -->
                </div>
            </div>
        </div>
</bsform-grid>
