 <style type="text/css">
    .ui-grid-spilt-header-main{
        padding-top: 30px;
        line-height: 30px;
        text-align: center;
        background: #f6f6f6;
    }
    .ui-grid-split-merge-header{
        border-left: 2px solid transparent;
        position: absolute;
        background: #f9f9f9;
        text-align: center;
        line-height: 30px;
        z-index: 1;
        top: 0px;
        left:0px;
    }
    .ui-grid-header-table{
        width:100%;
        padding:0px;
        border:none;
        border-spacing: 0px;
        border-collapse: collapse;
    }
    .ui-grid-header-table tr td{
        border-bottom:1px solid #ccc;
        border-right:1px solid #ccc;
    }
    .ui-grid-header-table tr td:last-child{
        border-right:none;
    }
    div.ui-grid-cell input{
        padding:6px;
    }
</style>
    <div class="form-group">
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel class="control-label">Tipe PO </bsreqlabel>
                <bsselect name="POType" ng-model="mData.POTypeId" data="POTypeData" item-text="Name" item-value="POTypeId" placeholder="Tipe PO..." on-select="" icon="fa fa-search" ng-disabled="true">
                </bsselect>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <bsreqlabel class="control-label">Referensi PO </bsreqlabel>
                <bsselect name="RefPOType" ng-model="mData.RefPOTypeId" data="RefPOTypeData" item-text="Name" item-value="RefPOTypeId" placeholder="Referensi PO..." on-select="" icon="fa fa-search" ng-disabled="true">
                </bsselect>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">No. Estimasi</label>
                <div class="input-group">
                    <input type="text" ng-model="mData.NoEstimasi" class="form-control" ng-disabled="true">
                    <label class="input-group-btn">
                        <span class="btn wbtn" ng-click="searchEst()" ng-disabled="true">
                            <i class="fa fa-search fa-1"></i>
                        </span>
                    </label>
                </div>
            </div>
            <!-- <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div> -->
        </div>
        <!-- [END] Form Level 1 -->
        <br />
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel class="control-label">Tipe Material </bsreqlabel>
                <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                    <option selected value="{{mData.MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
                </select>
            </div>
            <div class="col-md-3 col-md-offset-1" ng-show="mData.POTypeId == 5">
                <bsreqlabel class="control-label">Metode Pembayaran </bsreqlabel>
                <select class="form-control" required disabled>
                    <!-- <option value="1" selected>Kredit</option> -->
                    <option value="{{mData.PaymentMethodId}}" selected>{{ToPaymentMethodId(mData.PaymentMethodId)}}</option>
                </select>
            </div>
            <div class="col-md-3 col-md-offset-1" ng-show="mData.POTypeId == 5">
                <bsreqlabel class="control-label">Jangka Waktu Bayar (Hari)</bsreqlabel>
                <input class="form-control" type="number" ng-model="mData.PaymentPeriod" name="j_w_bayar"disabled></input>
            </div>
            <!-- <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div> -->
        </div>
        <!-- [END] Form Level 2 -->

        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>

        <!-- [START] Form Level 3 -->
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel class="control-label">Vendor </bsreqlabel>
                <input class="form-control" type="text" ng-model="mData.VendorName" readonly></input>
				<div ng-show="showIcon" style="padding-top: 15px">
					<span style="font-size: 13px; color: Dodgerblue;">
						<i class="fa fa-check-square" aria-hidden="true"></i><span style="padding-left: 5px; color: black;">Non PKP</span>
					</span>
				</div>
				<div ng-show="showCB" style="padding-top: 10px">
					<input type="checkbox" ng-model="mData.IsNONPKP" ng-checked="mData.IsNONPKP" disabled>     Non PKP
				</div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <bsreqlabel class="control-label">Metode Pembayaran </bsreqlabel>
                <select class="form-control" required disabled>
                    <!-- <option value="1" selected>Kredit</option> -->
                    <option value="{{mData.PaymentMethodId}}" selected>{{ToPaymentMethodId(mData.PaymentMethodId)}}</option>
                </select>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <bsreqlabel class="control-label">Jangka Waktu Bayar (Hari)</bsreqlabel>
                <input class="form-control" type="number" ng-model="mData.PaymentPeriod" name="j_w_bayar" disabled></input>
            </div>
            <!-- <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div> -->
        </div>
        <!-- [END] Form Level 3 -->

        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>

        <!-- [START] Form Level 4 -->
        <div class="row">
            <div class="col-md-3">                
                <label class="control-label">No PO</label>
                <input class="form-control" style="text-align : left" type="text" ng-model="mData.PurchaseOrderNo" disabled></input> 
            </div>
            <div class="col-md-2 col-md-offset-1" style="pointer-events: none">
                <label class="control-label">Tanggal PO</label>
                <bsdatepicker
                    name="endDate"
                    date-options="dateOptions"
                    ng-model="mData.DocDate"
                    ng-disabled = true
                    >
                </bsdatepicker>
            </div>
            <!-- <div class="col-md-1">
                <label class="control-label">&nbsp</label>
                <input class="form-control" type="text" ng-value="ToReturnHour(mData.CreatedDate)" name="no_polisi" disabled></input> 
            </div>                               -->
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Status</label>
                <input class="form-control" style="text-align : left" type="text" ng-value="ToNameStatus(mData.PurchaseOrderStatusId)" disabled></input>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Grand Total</label>
                <input class="form-control" style="text-align : left" type="text" ng-model="mData.TotalAmount" name="grandtotal" format="number" disabled></input>
            </div>
            <!-- <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div> -->
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Notes</label>
                <textarea class="form-control" row='6' ng-model="mData.Notes"textarea>
            </div>
        </div>
        <!-- [END] Form Level 4 -->
    </div>

    <br/>
    <div class="row" style="margin-bottom:10px;">
        <div class="col-md-3">
            <div class="input-group-btn dropdown" uib-dropdown="" >
              <button style="margin-right:5px;" type="button"
                class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle=""
                data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
                <!-- ngIf: allowDelete -->
                <li ng-click="showMe()">
                <!-- ngIf: selectedRows.length>0 --><a href="#">Hapus</a>
                <!-- end ngIf: selectedRows.length>0 --></li>
                <!-- end ngIf: allowDelete -->
                <!-- ngIf: allowApprove -->
                <!-- ngIf: allowReject -->
                <!-- ngIf: allowReview -->
                <!-- ngRepeat: customBulk in customBulkFunc -->
              </ul>
            </div>
        </div>
        <div class="col-md-9">
            <button class="btn rbtn pull-right" ng-click="Add()" onclick="blur()" ng-disabled="disabledTambah" skip-enable><i class="fa fa-fw fa-plus"></i>&nbsp;Tambah Material</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="grid1" ui-grid="non_tam_non_sop" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
            <!-- <div id="grid1" ui-grid="non_tam_sop_so" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div> -->
            <br/>
            <!--<label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">Keterangan :<b>Harga Standard Cost di PO merupakan harga Standard Cost dari Master dikurangi PPn</b></label>-->
			<label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">
				<b>Keterangan :</b><br>
				1. <b style="color:red">PKP</b> : Harga Standart Cost di PO merupakan harga Standart Cost dari Master dikurangi PPn<br>
				2. <b style="color:red">Non PKP</b> : Harga Standart Cost di PO merupakan harga Standart Cost dari Master tanpa dikurangi PPn<br>
				3. Harga Standart Cost di PO yang <b>dapat diedit</b> hanya Sublet (OPB), selain itu silahkan edit pada Master Material
			</label>
        </div>
    </div>
    <div class="col-md-12">
        <div align="right">
            <button class="btn wbtn" ng-click="onShowVendorPO()">Lihat Detail Vendor</button>
            <button class="btn wbtn" ng-disabled="(mData.POTypeId >= 4 && mData.PurchaseOrderStatusId > 4 ) || (mData.POTypeId < 4 && mData.PurchaseOrderStatusId !== 1)" ng-click="batalPC(mData)">Batal PO</button>
            <button class="btn wbtn" ng-click="goBack()">Kembali</button>
            <button class="btn rbtn" ng-click="UbahData(mData,1)" ng-disabled="mData.PurchaseOrderStatusId > 1">Simpan Draft</button>
            <!-- <button class="btn rbtn" ng-click="ubah(mData)" ng-disabled="(mData.POTypeId >= 4 && mData.PurchaseOrderStatusId > 4 ) || (mData.POTypeId < 4 && mData.PurchaseOrderStatusId !== 1)">Simpan</button>           -->
            <!-- <button class="btn rbtn" ng-click="ubah(mData)" ng-disabled="(mData.POTypeId >= 4 && mData.PurchaseOrderStatusId > 4 ) || (mData.POTypeId < 4 && mData.PurchaseOrderStatusId !== 1)">{{labelTAM}}</button> -->
            <button class="btn rbtn" ng-click="ubah(mData)" ng-disabled="mData.PurchaseOrderStatusId > 4">{{labelTAM}}</button>
        </div>
    </div>
