<div>
    <div ng-hide="isService" class="row">
        <style type="text/css">
            .radioCustomer input[type=radio] {
                display: none;
            }
            
            .radioCustomer input[type=radio]+label {
                background-color: grey;
                color: #fff;
                padding: 10px;
                -webkit-border-radius: 2px;
                display: inline-block;
                font-weight: 400;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                width: 100px;
            }
            
            .radioCustomer input[type=radio]:checked+label {
                background-color: #d53337;
            }
        </style>
        <div class="col-md-12">
            <fieldset style="padding:10px;border:2px solid #e2e2e2;">
                <legend style="margin-left:10px;width:inherit;border-bottom:0px;">
                    WO Information
                </legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nomor WO :</label>
                                <label>{{mData.WoNo}}</label>
                            </div>
                            <div class="form-group">
                                <label>Nomor Polisi :</label>
                                <label>{{mData.PoliceNumber}}</label>
                            </div>
                            <div class="form-group">
                                <label>Model :</label>
                                <label>{{mData.ModelType}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tanggal WO :</label>
                                <label>{{mData.WoCreatedDate | date:'MM/dd/yyyy'}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <bsreqlabel>Category</bsreqlabel>
                        <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="Category" ng-model="mData.Category" data="woCategory" item-text="Name" item-value="Category" placeholder="Pilih Kategori" required>
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-12">
                    <bslist data="gridWork" m-id="TaskId" d-id="PartsId" list-model="lmModel" list-detail-model="ldModel" button-settings="listCustomer" grid-detail="gridPartsDetail" on-select-rows="onListSelectRows" selected-rows="listSelectedRows" list-api='listApi' confirm-save="true"
                        list-title="Job List" modal-title="Job Data" modal-title-detail="Parts Data" list-height="250">
                        <bslist-template>
                            <p class="name"><strong>{{ lmItem.TaskName }}</strong></p>
                            <div class="email">{{ lmItem.FR }}</div>
                            <div>
                            </div>
                        </bslist-template>
                        <bslist-detail-template>
                            <p class="address"><strong>{{ ldItem.Parts.PartsCode }}</strong></p>
                            <div class="city">{{ ldItem.Parts.PartsName }}</div>
                        </bslist-detail-template>
                        <bslist-modal-form>
                            <div class="row">
                                <!-- <div ng-include="'app/services/appointment/appointmentServiceGr/modalFormMaster.html'"> -->
                                <div ng-include="'app/services/lib/ModalAppointmentGR/modalFormMaster.html'">
                                </div>
                            </div>
                        </bslist-modal-form>
                        <bslist-modal-detail-form>
                            <div class="row">
                                <!-- <div ng-include="'app/services/appointment/appointmentServiceGr/modalFormDetail.html'"> -->
                                <div ng-include="'app/services/lib/ModalAppointmentGR/modalFormDetail.html'">
                                </div>
                            </div>
                        </bslist-modal-detail-form>
                    </bslist>
                </div>
                <div class="col-md-12">
                    <table id="example" class="table table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th>Nomor LT</th>
                                <th>Description</th>
                                <th>Claim Amount</th>
                                <th>Status</th>
                                <th>Warranty Number</th>
                                <th>Acceptable Amount</th>
                                <th>Error Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nomor LT</td>
                                <td>Description</td>
                                <td>Claim Amount</td>
                                <td>Status</td>
                                <td>Warranty Number</td>
                                <td>Acceptable Amount</td>
                                <td>Error Code</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" style="margin-bottom:20px;">
                    <div class="col-md-6 form-inline">
                        <div class="form-group">
                            <label>Lama Pekerjaan : </label>
                            <input type="text" class="form-control" placeholder="0" name="callCust">
                        </div>
                    </div>
                    <div class="col-md-6 form-inline">
                        <div class="form-group">
                            <label>Total DP Parts Material/Bahan:</label>
                            <input type="text" name="dp" class="form-control" placeholder="Total DP Parts Material/Bahan">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Part Bekas</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group radioCustomer">
                            <input type="radio" id="radio1" ng-model="isParts" name="radio1" value="1" checked>
                            <label for="radio1">Kembalikan</label>
                            <input type="radio" id="radio2" ng-model="isParts" name="radio1" value="0">
                            <label for="radio2">Tinggal</label>
                        </div>
                        <!-- {{isParts}} -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Waiting / Drop Off</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group radioCustomer">
                            <input type="radio" id="wait1" ng-model="isWaiting" name="radio2" value="1" checked>
                            <label for="wait1">Waiting</label>
                            <input type="radio" id="wait2" ng-model="isWaiting" name="radio2" value="0">
                            <label for="wait2">Drop Off</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Car Wash</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group radioCustomer">
                            <input type="radio" id="washing1" ng-model="isWashing" name="radio3" value="1" checked>
                            <label for="washing1">Wash</label>
                            <input type="radio" id="washing2" ng-model="isWashing" name="radio3" value="0">
                            <label for="washing2">No Wash</label>
                        </div>
                        <!-- {{isWashing}} -->
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Scheduled Service Time</label>
                        </div>
                        <div class="col-md-9 form-inline">
                            <div class="form-group" style="width:200px;">
                                <bsdatepicker name="firstDate" date-options="DateOptions" ng-model="mData.firstDate" ng-change="DateChange(dt)" ng-disabled="modeQueue == 3">
                                </bsdatepicker>

                            </div>
                            <div class="form-group text-center" style="width:20px;">
                                <b>-</b>
                            </div>
                            <div class="form-group">
                                <bsdatepicker name="lastDate" date-options="DateOptions" ng-model="mData.lastDate" ng-change="DateChange(dt)" ng-disabled="modeQueue == 3">
                                </bsdatepicker>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Estimation Delivery Time</label>
                        </div>
                        <div class="col-md-9 form-inline">
                            <div class="form-group" style="width:200px;">
                                <bsdatepicker name="firstDate" date-options="DateOptions" ng-model="mData.Estimate" ng-change="DateChange(dt)">
                                </bsdatepicker>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Adjusment Delivery Time</label>
                        </div>
                        <div class="col-md-9 form-inline">
                            <div class="form-group" style="width:200px;">
                                <bsdatepicker name="firstDate" date-options="DateOptions" ng-model="mData.Adjusment" ng-change="DateChange(dt)">
                                </bsdatepicker>

                            </div>
                            <div class="form-group" style="width:200px;">
                                <bscheckbox ng-model="mData.customerRequest" label="Customer Request" ng-click="" true-value=2 false-value=0>
                                </bscheckbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="btn-group pull-right">
                        <button class="rbtn btn" ng-click="callingCustomer(mData)">Call Customer</button>
                    </div>
                </div>
            </fieldset>
        </div>
        <bsui-modal show="show_modal.show" title="Customer Notification" data="modal_model" on-save="saveCustomer" on-cancel="cancelCustomer" button-settings='buttonSettingModal' mode="modalMode">
            <div ng-form name="customerForm">
                <fieldset style="padding:10px;border:2px solid #e2e2e2;">
                    <div class="col-md-12" style="text-align:center;">
                        <h2>Lakukan proses notifikasi sekarang?</h2>
                        <h3>Silahkan tekan nomor telepon dibawah untuk menelepon</h3>
                        <p>
                            <h3>{{modal_model.ContactPerson}}</h3>
                        </p>
                        <p>
                            <h3>{{modal_model.PhoneContactPerson1}}&nbsp;&nbsp;<a href="Tel:{{modal_model.PhoneContactPerson1}}"><i style="color:green" class="fa fa-lg fa-phone"></i></a></h3>
                        </p>
                        <p>
                            <h3>{{modal_model.PhoneContactPerson2}}&nbsp;&nbsp;<a href="Tel:{{modal_model.PhoneContactPerson2}}"><i style="color:green" class="fa fa-lg fa-phone"></i></a></h3>
                        </p>
                    </div>
                </fieldset>
            </div>
        </bsui-modal>
    </div>
    <div ng-show="isService">
        <div smart-include="app/services/reception/wo_bp/serviceExplanation.html"></div>
        <!-- added by sss on 2017-10-05 -->
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="DeliverVehicle" data="deliverCar" ng-model="choosenDelv" item-text="Name" item-value="Id" placeholder="Pengambilan Mobil">
                    </bsselect>
                </div>
            </div>
            <div class="col-md-3">
                <button ng-click="sendBackSat()" class="rbtn btn" ng-show="choosenDelv==2">Send to Satellite</button>
            </div>
        </div>
        <!--  -->
    </div>
</div>