<div class="row">
    <div class="col-md-12">
        <h4>List estimasi untuk kendaraan  <b>{{mData.PoliceNumber}}</b></h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12" ng-if="showGrid">

       <!--  <div ui-grid="listEstimasiYangBelumDigunakan" ui-grid-selection class="grid ui-grid-bgst" ui-grid-cellnav
            ui-grid-edit ui-grid-row-edit ui-grid-pagination ui-grid-auto-resize name="gridBGST"></div> -->


        <table class="table table-hover">
            <tr>
                <th></th>
                <th>No. Estimasi</th>
                <th>Tanggal Estimasi</th>
                <th>Pembayaran</th>
                <th>Pembuat</th>
                <th>Action</th>
            </tr>
            <tr ng-if="EstimateAppointment.length == 0">
                <td colspan="6" align="center">Data Tidak Ditemukan</td>
            </tr>
            <tr ng-if="EstimateAppointment.length > 0" ng-repeat="item in EstimateAppointment">
                
                <td style="padding-bottom: 0px;padding-top:0px;padding-left:0px;padding-right:0px;">
                    <bscheckbox class="pull-right" ng-disabled="item.isAppointment == 1 || mData.isAppointment == 1" ng-checked="modelCheck[$index]" ng-model="modelCheck[$index]" skip-enable ng-change="triggeredPush(item)">
                        </bscheckbox>
                </td>
                <!-- ini ada kondisi -->
                <td ng-if="item.isAppointment == 1"  style="padding-bottom: 0px;padding-top:0px;padding-left:0px;padding-right:0px;">{{item.EstimationNo}}
                    <label style="color: #b94a48; font-size:25px;" ng-if="item.UsedBy == 1"> *</label>
                    <label style="color: #b94a48; font-size:25px;"  ng-if="item.UsedBy == 2"> **</label></td>

                <td ng-if="item.isAppointment != 1"  style="padding-bottom: 0px;padding-top:12px;padding-left:0px;padding-right:0px;">{{item.EstimationNo}}</td>
                <!-- ini ada kondisi -->
                <td  style="padding-bottom: 0px;padding-top:12px;padding-left:0px;padding-right:0px;">{{item.EstimationDate | date:'dd-MM-yyyy'}}</td>
                <td  style="padding-bottom: 0px;padding-top:12px;padding-left:0px;padding-right:0px;">
                    <p ng-if="item.isCash==1">&nbsp; Cash</p><p ng-if="item.isCash==0">&nbsp; Insurance</p>
                    <!-- {{item.isCash}} -->
                </td>
                <td style="padding-bottom: 0px;padding-top:12px;padding-left:0px;padding-right:0px;">{{item.LastModifiedEmployeeName}}</td>
                <td style="padding-bottom: 0px;padding-top:10px;padding-left:0px;padding-right:0px;">
                    <i style="font-size:24px" class="fa" ng-click="lihatEstimasi(item)">&#xf2bc;</i>
                </td>
                   <!--  <button class="rbtn btn" ng-click="confirm(EstimateAppointment[$index])" type="button">Pilih</button></td> -->
                    <!-- <button class="rbtn btn" ng-click="confirm(EstimateAppointment[$index]);ngDialog.closeAll();" type="button">Pilih</button></td> -->
            </tr>
        </table>
    </div>
    <div class="col-md-12" ng-if="showForm">
        <div class="row" style="margin:0 0 0 0">

            <div class="col-md-7" >
                <h2><b>Service BP</b></h2>
                <h3 ng-if="dataViewEstimasi.isCash == 0"><b>Asuransi</b></h3>
            </div>
            <div class="col-md-5" ng-if="dataViewEstimasi.isCash == 0">
                <table id="example" class="table cuklah" width="100%">
        
                    
                    <tr>
                    <td>Nama Asuransi</td>
                    <td>:</td>
                    <td>{{dataViewEstimasi.InsuranceName}}</td>
                    </tr>
                    <tr>
                    <td>No. Polis Asuransi</td>
                    <td>:</td>
                    <td style="text-transform: uppercase;">{{dataViewEstimasi.NoPolis}}</td>
                    </tr>
                    <tr>
                    <td>Periode Polis</td>
                    <td>:</td>
                    <td>{{dataViewEstimasi.PolisDateFrom}} &nbsp; s/d &nbsp; {{dataViewEstimasi.PolisDateTo}}</td>
                    </tr>
                    

                </table>
            </div>

            <div class="col-md-12">
                <table id="example" class="table cuklah" width="100%" >
                        
                    <tr>
                    <td>No. Estimasi</td>
                    <th >:</th>
                    <td><b>{{dataViewEstimasi.EstimationNo}}</b></td>
                    <td>No. Polisi</td>
                    <td>:</td>
                    <td style="text-transform: uppercase;"><b>{{dataViewEstimasi.PoliceNumber}}</b></td>
                    <td>Nama Pemilik</td>
                    <td>:</td>
                    <td>{{dataViewEstimasi.ContactPerson}}</td>
                    </tr>
                    
                    <tr>
                    <td style="width: 5%;">Tgl/Jam Estimasi</td>
                    <th >:</th>
                    <td><b>{{dataViewEstimasi.EstimationDate}}</b></td>
                    <td>Model</td>
                    <td>:</td>
                    <td style="text-transform: uppercase;">{{dataViewEstimasi.VehicleModelName}} - {{dataViewEstimasi.VehicleTypeDesc}}</td>
                    <td>Kontak Person</td>
                    <td>:</td>
                    <td>{{dataViewEstimasi.ContactPerson}}</td>
                    </tr>
                    
                    <tr>
                    <td>KM</td>
                    <th >:</th>
                    <td>{{dataViewEstimasi.Km}}</td>
                    <td>Warna</td>
                    <td>:</td>
                    <td>{{dataViewEstimasi.ColorName}}</td>
                    <td>No. Telepon</td>
                    <td>:</td>
                    <td>{{dataViewEstimasi.PhoneContactPerson1}}</td>
                    </tr>
                    
                    <tr>
                    <td style="width: 2%;">No. Rangka</td>
                    <th style="width: 1%;">:</th>
                    <td style="width: 5%; text-transform: uppercase;"> {{dataViewEstimasi.VIN}} </td>
                    <td style="width: 2%;">No. Mesin</td>
                    <td style="width: 1%;">:</td>
                    <td style="width: 5%; text-transform: uppercase;"> {{dataViewEstimasi.EngineNo}} </td>
                    <td style="width: 5%;">Alamat</td>
                    <td style="width: 1%;">:</td>
                    <td style="width: 11%;"> {{dataViewEstimasi.Alamat}} </td>
                    </tr>
                    
                    
                </table>
            </div>

            <div class="col-md-12" style="margin-top:10px;" ng-if="showForm">
                <div class="col-md-12" ng-if="showForm">
                    <bslist
                        data="gridWorkViewEstimasi"
                        m-id="TaskBPId"
                        d-id="PartsId"
                        list-model="lmModelViewEstimasi"
                        list-detail-model="ldModelViewEstimasi"
                        grid-detail="gridPartsDetailViewEstimasi"
                        
                        selected-rows="listJoblistSelectedRows"
                        list-api='listApiView'
                        modal-title="Job Data"
                        button-settings="listButtonSettingsAddress2"
                        modal-title-detail="Parts Data"
                        list-title="Order Pekerjaan"
                        >
                        <bslist-template>
                            <div class="col-md-1" style="text-align:left;">
                                <p class="name"><strong>{{ lmItem.NumberParent }}</strong></p>
                            </div>
                            <div class="col-md-5">
                                    <div class="col-md-12">
                                    <p class="name"><strong>{{ lmItem.TaskName }}</strong></p>
                                </div>
                                <div class="col-md-12">
                                    <p>Harga : {{lmItem.Fare | currency:"Rp."}}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>Satuan : {{lmItem.UnitBy}}</p>
                                <p>Pembayaran : {{lmItem.PaidBy}}</p>
                            </div>
                        </bslist-template>
                        <bslist-detail-template>
                            <div class="col-md-1">
                                <p><strong>{{ ldItem.NumberChild }}</strong></p> 
                            </div>
                            <div class="col-md-3">
                                <p><strong>{{ ldItem.PartsCode }}</strong></p>
                                <p>{{ ldItem.PartsName }}</p>
                            </div>
                            <div class="col-md-3">
                                <p>{{ ldItem.Availbility }}
                                </p>
                                <p>Pembayaran : {{ ldItem.PaidBy}}</p>
                            </div>
                            <div class="col-md-3">
                                <p>Jumlah : {{ldItem.Qty}} {{ldItem.Name}}
                                </p>
                                <p>Harga : {{ ldItem.RetailPrice | currency:"Rp."}}</p>
                            </div>
                            <div class="col-md-2">
                                <p>ETA : {{ ldItem.ETA | date:'dd-MM-yyyy'}}
                                </p>
                                <p>Reserve : {{ ldItem.Qty }}</p>
                            </div>
                        </bslist-detail-template>
                      
                    </bslist>
                </div>
              
            </div>
        
            <div class="col-md-4"></div>
        
            <div class="col-md-8">
                <table id="example" class="table table-striped table-bordered" width="100%"  >
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Harga</th>
                            <th>Disc</th>
                            <th>Nominal Disc</th>
                            <th>Sub Total</th>
                        </tr>
                    </thead>

                    
                    <tbody>
                        <tr>
                            <td>Estimasi Service / Jasa</td>
                            <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ totalWorkViewEstimasi | currency:"":0}}</td>
                            <td style="text-align: right;">{{ DiscountTaskViewEstimasi }}<span ng-if="DiscountTaskViewEstimasi != '' ">%</span></td>
                            <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ totalWorkDiscountedViewEstimasi | currency:"":0}}</td>
                            <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ subTotalWorkSummaryViewEstimasi | currency:"":0}}</td>
                            <!-- <td style="text-align: right;"><span style="float: left;">Rp. </span>{{(totalWorkViewEstimasi * DiscountTaskViewEstimasi/100) | currency:"":0}}</td>
                            <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalWorkViewEstimasi - (totalWorkViewEstimasi * DiscountTaskViewEstimasi/100) | currency:"":0}}</td> -->

                        </tr>
                        <tr>
                            <td>Estimasi Material (Parts / Bahan)</td>
                            <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ totalMaterialViewEstimasi | currency:"":0}}</td>
                            <td style="text-align: right;">{{ DiscountPartsViewEstimasi }}<span ng-if="DiscountPartsViewEstimasi != '' ">%</span></td>
                            <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ totalMaterialDiscountedViewEstimasi | currency:"":0}}</td>
                            <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ subTotalMaterialSummaryViewEstimasi | currency:"":0}}</td>
                        </tr>
                        <tr>
                            <td>PPN</td>
                            <td style="text-align: right;"></td>
                            <td style="text-align: right;"></td>
                            <td style="text-align: right;"></td>
                            <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalPPNViewEstimasi | currency:"":0 }}</td>
                        </tr>
                        <tr>
                            <td>Total Estimasi</td>
                            <td style="text-align: right;"></td>
                            <td style="text-align: right;"></td>
                            <td style="text-align: right;"></td>
                            <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalEstimasiViewEstimasi | currency:"":0}}</td>
                        </tr>
                        <tr>
                            <td>Total DP Material (Parts / Bahan)</td>                                
                            <td style="text-align: right;"></td>
                            <td style="text-align: right;"></td>
                            <td style="text-align: right;"></td>
                            <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalDpViewEstimasi | currency:"":0}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="row" style="margin-top: 15px;">
    <div class="col-md-8" ng-if="showGrid">
        <div class="col-md-12" style="text-align:left;margin-left:0px;padding-left:0px">
            <p style="float:left; margin-top:8px;">( <span style="color:red">*</span> ) Data No. Estimasi sudah di gunakan pada Appointment dan tidak dapat digunakan Kembali</p>
        </div>
        <div class="col-md-12" style="text-align:left;margin-left:0px;padding-left:0px">
            <p style="float:left; margin-top:0px;">( <span style="color:red">**</span> ) Data No. Estimasi sudah di gunakan pada WO dan tidak dapat digunakan Kembali</p>
                
        </div>
    </div>
    <div class="col-md-4 text-right" ng-if="showGrid">
        
        <button ng-click="ngDialog.closeAll();" class="btn btn-default" type="button">Batal</button>
        <button ng-show="!isWACBPSatelit" ng-click="confirm();" class="btn btn-default" type="button">Buat WO</button>
        <button ng-show="isWACBPSatelit" ng-click="confirm();" class="btn btn-default" type="button">Buat BSTK</button>
    </div>
    <div class="col-md-12 text-right" ng-if="showForm">
        <button ng-click="kembaliBTN();" class="btn btn-default" type="button">Kembali</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="margin-top: 25px;" ng-repeat="a in dataPKS">
        <label>Nama Perusahaan : {{a.CompanyName}}</label><br>
        <!-- <label ng-show="a.CustomerPKSTop < 0 || a.CustomerPKSTop == null">Balances : {{a.Balances | currency:"Rp."}}</label> -->
        <label>Saldo : {{a.AvailableBalance | currency:"Rp. ":0}}</label><br>
        <!-- <label ng-show="a.CustomerPKSTop > 0 || a.CustomerPKSTop !== null">TOP : {{a.CustomerPKSTop}} Hari</label><br> -->
        <label ng-hide='{{a.CustomerPKSTop == 0}}'>TOP : {{a.CustomerPKSTop}} Hari</label><br  ng-hide='{{a.CustomerPKSTop == 0}}'>
        <label>Periode Mulai : {{a.StartPeriod | date:'dd-MM-yyyy'}}</label><br>
        <label>Periode Selesai : {{a.EndPeriod | date:'dd-MM-yyyy'}}</label>
    </div>
</div>