<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="AccountingTransactionCodeForm"
        factory-name="AccountingTransactionCodeFactory"
        model="mAccountingTransactionCode"
        model-id="AccountingTransactionCodeId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="AccountingTransactionCodeForm"
        form-title="AccountingTransactionCode"
        modal-title="Accounting Transaction Code"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >


        <div class="row">
          <div class="col-md-6">


            <div class="form-group" show-errors>
                <bsreqlabel>Transaction Code</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="transactionCode" placeholder="Transaction Code" ng-model="mAccountingTransactionCode.TransactionCode"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="transactionCode"></bserrmsg>
            </div>
			
			<div class="form-group" show-errors>
			<bslabel>GLTypeDebetId</bslabel>
			<bsselect name="GLTypeDebetId" ng-model="mAccountingTransactionCode.GLTypeDebetId" data="optionsGLTypeDebetId" item-text="GLTypeName" item-value="GLTypeId" on-select="value(selected)" placeholder="Select Accounting Coa" icon="fa fa-search">
			</bsselect>
			</div>
			<bserrmsg field="GLTypeDebetId"></bserrmsg>
			
			
			<div class="form-group" show-errors>
			<bslabel>GLTypeCreditId</bslabel>
			<bsselect name="GLTypeCreditId" ng-model="mAccountingTransactionCode.GLTypeCreditId" data="optionsGLTypeCreditId" item-text="GLTypeName" item-value="GLTypeId" on-select="value(selected)" placeholder="Select Accounting Coa" icon="fa fa-search">
			</bsselect>
			</div>
			<bserrmsg field="GLTypeCreditId"></bserrmsg>

          </div>
        </div>
</bsform-grid-tree>
