<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid ng-form="AccountAccessibleGLForm" factory-name="AccountAccessibleGLFactory" model="mAccountAccessibleGL" model-id="Id" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="AccountAccessibleGLForm" form-title="Account Accessible GL" modal-title="Account Accessible GL" modal-size="small" icon="fa fa-fw fa-child">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Name" placeholder="Name" ng-model="mAccountAccessibleGL.Name" ng-maxlength="50" required>
                </div>
                <bserrmsg field="Name"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Value</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Value" placeholder="Value" ng-model="mAccountAccessibleGL.Value" ng-maxlength="50" required>
                </div>
                <bserrmsg field="Value"></bserrmsg>
            </div>
        </div>
    </div>
</bsform-grid-tree>



