<script type="text/javascript">
</script>
<style type="text/css">
    .tooltip {
        z-index: 9 !important;
        position: absolute !important;
    }
</style>

<style type="text/css">
    @media only screen and (max-width: 600px) {
        .nav.nav-tabs {
            display: none;
        }
    }

    tr:nth-child(even) {
        background-color: #dddddd;

    }

    fieldset.scheduler-border {
        width: auto;
        border: 1px groove #ffffff !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #ffffff;
        box-shadow: 0px 0px 0px 0px #ffffff;
    }


    fieldset {
        background-color: #ffffff;
    }

    legend.scheduler-border {
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }

    .border-medium {
        border-width: 2px;
        /* border-style: solid; */
        border-radius: 5px;
    }

    /*.ag-tool-panel{
        width: 0px !important;
    }*/

    .border-thin {
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
    }
    .ui-grid-viewport {
        overflow-anchor: none;
    } 

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<!-- loading="loading" -->
<!--grid-hide-action-column = "true"  -->
<!-- on-validate-save = "onValidateSave" -->
<bsform-base 
    ng-form="opList" 
    form-grid-api="formGridApi" 
    factory-name="oplList" 
    model="mOPLdata" 
    model-id="Id" 
    loading="loading" 
    get-data="getDataOPLList" 
    selected-rows="selectedRows"
    on-select-rows="onSelectRows" 
    on-before-cancel = "onBeforeCancel"
    on-show-detail="onShowDetail" 
    action-button-settings-detail="tombol"
    show-advsearch="on" 
    form-name="oplListForm" 
    form-title="Opl List" 
    modal-title="OPL List" 
    modal-size="small" 
    ng-hide="tabShowed" 
    form-api="formApi" 
    icon="fa fa-fw fa-child">

    <bsform-advsearch>
        <div class="row" style="margin-bottom:25px;">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <bsreqlabel>Tanggal Awal OPL</bsreqlabel>
                        <bsdatepicker name="DateStartOpl" date-options="DateFilterOptions1" ng-model="filter.DateStartOpl" required="true">
                        </bsdatepicker>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <bsreqlabel>Tanggal Akhir OPL</bsreqlabel>
                        <bsdatepicker name="DateStopOpl" date-options="DateFilterOptions2" ng-model="filter.DateStopOpl" required="true">
                        </bsdatepicker>
                    </div>
                </div>
            </div>
        </div>
    </bsform-advsearch>

    <bsform-base-main>
        <div class="row">
            <div class="col-md-4" style="margin-bottom:10px">
                <div class="input-group">
                    <input type="text" ng-model-options="{debounce: 250}" class="form-control" placeholder="Filter" ng-change="test(gridApi .grid.columns[filterColIdx].filters[0].term)" ng-model="gridApi.grid.columns[filterColIdx].filters[0].term">
                    <div class="input-group-btn" uib-dropdown>
                        <button id="filter" type="button" class="btn wbtn" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
                            {{filterBtnLabel|uppercase}}&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="filter">
                            <li role="menuitem" ng-repeat="col in gridCols">
                                <a href="#" ng-click="filterBtnChange(col)">{{col.name|uppercase}}
                                    <span class="pull-right">
                                        <i class="fa fa-fw fa-filter"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div ui-grid="grid" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize class="grid">
                    <div class="ui-grid-nodata" ng-if="!grid.data.length && !loading" ng-cloak>No data available</div>
                    <div class="ui-grid-nodata" ng-if="loading" ng-cloak>Loading data... <i class="fa fa-spinner fa-spin"></i></div>
                </div>
            </div>
        </div>
    </bsform-base-main>
    <!-- ng-if="!showOpl" -->
    <bsform-base-detail>
        <div class="row">
            <bs-print cetakan-url="{{cetakanOPL}}">
                <!-- <bsbutton-print>
                    <button class="rbtn btn" ng-click="cetakOPL()" style="float:right;"><i class="fa fa-print" aria-hidden="true">Cetak Faktur </i></button>
                </bsbutton-print> -->
            </bs-print>
            <bs-print cetakan-url="{{cetakanOPL2}}">
            </bs-print>
            <!-- <button class="rbtn btn" ng-click="cetakOPL2()" style="float:right;"><i class="fa fa-print" aria-hidden="true">Cetak Faktur 2</i></button> -->

        </div>

        <!-- <div class="row">
            <div class="col-md-12" style="padding-left: 0px;">

                <div class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Nama Pekerjaan" ng-model="mOPLdata.Status" ng-show="false">
                        <div class="form-group" show-errors>
                            <div class="col-md-12">
                                <label>No. Polisi</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" ng-disabled="mOPLdata.Status >= 0 || xmode== 'view'" name="noPolice" placeholder="No. Polisi" ng-model="mOPLdata.Job.PoliceNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <div class="col-md-12">
                                <label>Nama Opl</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" ng-disabled="mOPLdata.Status >= 0 || xmode== 'view'" name="OPLWorkName" placeholder="Nama Pekerjaan" ng-model="mOPLdata.OPL.OPLWorkName">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <div class="col-md-12">
                                <label>Vendor</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" name="Vendor" ng-disabled="mOPLdata.Status >= 0 || xmode== 'view'" placeholder="Nama Vendor" ng-model="mOPLdata.OPL.Vendor.Name" ng-disable="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <div class="col-md-12">
                                <label>Estimasi Selesai</label>
                            </div>
                            <div class="col-md-12">
                                <bsdatepicker name="TargetFinishDate" ng-disabled="mOPLdata.Status >= 0 || xmode== 'view'" date-options="DateOptions" ng-model="mOPLdata.TargetFinishDate">
                                </bsdatepicker>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <div class="col-md-12">
                                <label>Penanggung Jawab</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" name="ReceivedBy" placeholder="Nama Penanggung Jawab" ng-disabled="mOPLdata.Status > 0" ng-model="mOPLdata.ReceivedBy" ng-maxlength="50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <div class="col-md-12">
                                <label>Quantity</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" name="qty" ng-disabled="mOPLdata.Status >= 0 || xmode== 'view'" placeholder="Quantity" ng-model="mOPLdata.QtyPekerjaan" ng-disable="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <div class="col-md-12">
                                <label>Harga Jual</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                          
                                    <input type="text" ng-disabled="xmode== 'view'" class="form-control" name="OPLPurchasePrice" placeholder="Nama Harga" ng-model="mOPLdata.Price" currency-formating number-only>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <div class="col-md-12">
                                <label>Harga Beli</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                            
                                    <input type="text" ng-disabled="xmode== 'view'" class="form-control" name="Price" placeholder="" ng-model="mOPLdata.OPLPurchasePrice" currency-formating number-only>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <div class="col-md-12">
                                <label>Diskon (%)</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                             
                                    <input type="text" ng-disabled="xmode== 'view'" class="form-control" name="Discount" placeholder="Diskon" ng-model="mOPLdata.Discount" number-only>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <div class="col-md-12">
                                <bsreqlabel ng-if="mOPLdata.Status > 0">Nomor Vendor Invoice</bsreqlabel>
                                <label ng-if="mOPLdata.Status == 0 || xmode == 'view'">Nomor Vendor Invoice</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" ng-disabled="mOPLdata.Status == 0 || xmode == 'view'" name="VendorInvoiceNo" placeholder="Nomor Vendor Invoice" maxlength=25 ng-model="mOPLdata.VendorInvoiceNo" ng-required="mOPLdata.Status > 0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <div class="col-md-12">
                                <bsreqlabel ng-if="mOPLdata.Status > 0">Tanggal Vendor Invoice</bsreqlabel>
                                <label ng-if="mOPLdata.Status == 0 || xmode == 'view'">Tanggal Vendor Invoice</label>
                            </div>
                            <div class="col-md-12">
                                <bsdatepicker ng-disabled="mOPLdata.Status == 0 || xmode == 'view'" name="VendorInvoiceDate" date-options="DateOptions" ng-model="mOPLdata.VendorInvoiceDate" ng-required="mOPLdata.Status > 0">
                                </bsdatepicker>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <div class="col-md-12">
                                <label>Status</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" name="Status" ng-disabled="mOPLdata.Status >= 0 || xmode== 'view'" placeholder="Status" ng-model="mOPLdata.xStatus">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <div class="col-md-12">
                                <label>Notes</label>
                            </div>
                            <div class="col-md-12">
                                <textarea name="Notes" ng-model="mOPLdata.Notes" ng-disabled="mOPLdata.Status >= 0 || xmode== 'view'" style="width: 100%;height: 120px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> -->


        <!-- CR4 Phase2 -->

        <div class="row">

            <div class="col-md-12" style="margin-bottom:30px;">
                <div class="form-group" show-errors>
                    <div class="col-md-12">
                        <label>Kode Vendor</label>
                    </div>
                    <div class="col-md-12">
                        <div class="input-icon-right">
                            <!-- <i class="fa fa-user"></i> -->
                            <input type="text" class="form-control" name="Vendor" ng-disabled="mOPLdata.Status >= 0 || xmode== 'view'" placeholder="Nama Vendor" ng-model="mOPLdata.VendorCode" skip-enable>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12" style="margin-bottom:30px;">
                <div class="form-group" show-errors>
                    <div class="col-md-12">
                        <bsreqlabel>Vendor</bsreqlabel>
                    </div>
                    <div class="col-md-12">
                        <div class="input-icon-right">
                            <!-- <i class="fa fa-user"></i> -->
                            <input type="text" class="form-control" name="Vendor" ng-disabled="mOPLdata.Status >= 0 || xmode== 'view'" placeholder="Nama Vendor" ng-model="mOPLdata.VendorName" skip-enable>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" style="margin-bottom:30px;">
                <input type="text" class="form-control" placeholder="Nama Pekerjaan" ng-model="mOPLdata.Status" ng-show="false">
                <div class="form-group" show-errors>
                    <div class="col-md-12">
                        <label>No. Polisi</label>
                    </div>
                    <div class="col-md-12">
                        <div class="input-icon-right">
                            <!-- <i class="fa fa-user"></i> -->
                            <input type="text" class="form-control" ng-disabled="mOPLdata.Status >= 0 || xmode== 'view'" name="noPolice" placeholder="No. Polisi" ng-model="mOPLdata.PoliceNumber" skip-enable>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4"></div>

            <div class="col-md-4" style="margin-bottom:30px;">
                <input type="text" class="form-control" placeholder="Nama Pekerjaan" ng-model="mOPLdata.Status" ng-show="false">
                <div class="form-group" show-errors>
                    <div class="col-md-12">
                        <label>Status OPL</label>
                    </div>
                    <div class="col-md-12">
                        <div class="input-icon-right">
                            <!-- <i class="fa fa-user"></i> -->
                            <input type="text" class="form-control" ng-disabled="mOPLdata.Status >= 0 || xmode== 'view'" name="noPolice" placeholder="No. Polisi" ng-model="mOPLdata.xStatus" skip-enable>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">

                    <!-- <button ng-click="stopediting()">test</button> -->
                <fieldset class="scheduler-border" style="margin-top: 10px;">
                    <legend style="background:white;" class="scheduler-border">OPL List</legend>
                    <div ng-if="detail" ag-grid="gridDetailOPLlist_Independent" class="ag-theme-balham" style="height: 400px;"></div>
                    <div id="gridopllistEdit" ng-if="edit" ag-grid="gridEditOPLlist_Independent" class="ag-theme-balham" style="height: 400px;"></div>
                </fieldset>
            </div>
        </div>
        <div class="row pull-right">
            <div class="col-md-12 ">
                <div class="rbtn btn ng-binding ng-scope" skip-enable ng-disabled="disableGateOut || tmpStatus != 1" ng-click="gateOutOpl()">GATE OUT OPL</div>

            </div>
        </div>
        <!-- CR4 Phase2 -->

        


    </bsform-base-detail>
</bsform-base>




<!-- <bsform-grid loading="loading" ng-form="opList" factory-name="oplList" model="mOPLdata" model-id="JobTaskOplId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" grid-custom-action-button-template="gridActionTemplate" grid-custom-action-button-colwidth="50"
    detail-action-button-setting="tombol" form-api="formApi" on-before-edit="onBeforeEdit" on-show-detail="onShowDetail" form-name="oplListForm" show-advsearch="on" form-title="Opl List" modal-title="Opl List" modal-size="small" icon="fa fa-fw fa-child">

    <bsform-advsearch>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <bsreqlabel>Tanggal Awal OPL</bsreqlabel>
                        <bsdatepicker name="DateStartOpl" date-options="DateOptions" ng-model="filter.DateStartOpl" required="true">
                        </bsdatepicker>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <bsreqlabel>Tanggal Akhir OPL</bsreqlabel>
                        <bsdatepicker name="DateStopOpl" date-options="DateOptions" ng-model="filter.DateStopOpl" required="true">
                        </bsdatepicker>
                    </div>
                </div>
            </div>
        </div>
    </bsform-advsearch>
    <div class="row">
        <div class="col-md-12" style="padding-left: 0px;">

            <div class="col-md-12" style="margin-bottom:10px;">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <div class="col-md-12">
                            <label>Nama Opl</label>
                        </div>
                        <div class="col-md-12">
                            <div class="input-icon-right">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" ng-disabled="mOPLdata.Status == 0 || xmode == 'view'" name="OPLWorkName" placeholder="Nama Pekerjaan" ng-model="mOPLdata.OPL.OPLWorkName">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-bottom:10px;">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <div class="col-md-12">
                            <label>Vedor</label>
                        </div>
                        <div class="col-md-12">
                            <div class="input-icon-right">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" name="Vendor" ng-disabled="mOPLdata.Status == 0 || xmode == 'view'" placeholder="Nama Vendor" ng-model="mOPLdata.OPL.Vendor.Name" ng-disable="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-bottom:10px;">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <div class="col-md-12">
                            <label>Dibutuhkan Tanggal</label>
                        </div>
                        <div class="col-md-12">
                            <bsdatepicker name="TargetFinishDate" ng-disabled="mOPLdata.Status == 0 || xmode == 'view'" date-options="DateOptions" ng-model="mOPLdata.TargetFinishDate">
                            </bsdatepicker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-bottom:10px;">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <div class="col-md-12">
                            <label>Penerima</label>
                        </div>
                        <div class="col-md-12">
                            <div class="input-icon-right">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" name="ReceivedBy" ng-disabled="mOPLdata.Status == 0 || xmode == 'view'" placeholder="Nama Penerima" ng-model="mOPLdata.ReceivedBy" ng-disable="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-bottom:10px;">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <div class="col-md-12">
                            <label>Harga</label>
                        </div>
                        <div class="col-md-12">
                            <div class="input-icon-right">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" name="Price" ng-disabled="mOPLdata.Status == 0 || xmode == 'view'" placeholder="Nama Harga" ng-model="mOPLdata.Price" ng-disable="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-bottom:10px;">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <div class="col-md-12">
                            <bsreqlabel>Nomor Vendor Invoice</bsreqlabel>
                        </div>
                        <div class="col-md-12">
                            <div class="input-icon-right">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" name="VendorInvoiceNo" placeholder="Nomor Vendor Invoice" maxlength=25 ng-model="mOPLdata.VendorInvoiceNo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-bottom:10px;">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <div class="col-md-12">
                            <bsreqlabel>Tanggal Vendor Invoice</bsreqlabel>
                        </div>
                        <div class="col-md-12">
                            <bsdatepicker name="VendorInvoiceDate" date-options="DateOptions" ng-model="mOPLdata.VendorInvoiceDate" required="true">
                            </bsdatepicker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-bottom:10px;">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <div class="col-md-12">
                            <label>Status</label>
                        </div>
                        <div class="col-md-12">
                            <div class="input-icon-right">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" name="Status" ng-disabled="mOPLdata.Status == 0 || xmode == 'view'" placeholder="Status" ng-model="mOPLdata.xStatus">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-bottom:10px;">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <div class="col-md-12">
                            <label>Notes</label>
                        </div>
                        <div class="col-md-12">
                            <textarea name="Notes" ng-model="mOPLdata.Notes" ng-disabled="mOPLdata.Status == 0 || xmode == 'view'" style="width: 100%;height: 120px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</bsform-grid>  -->