<script type="text/javascript">

</script>

<style type="text/css">

.overlay{
    opacity:1;
    background-color:#ffffff;
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;

}

</style>

<div ng-if="isOverlayForm" class="overlay">
    <br>
    <!--<div class="container">-->
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-12">Referensi Sales Order*</label>
                <div class="col-md-2">
                    <select 
                        class="form-control" 
                        ng-model="selection" 
                        ng-options="item for item in items" 
                        required>
                        <!--ng-change="changedValue(selection)" -->
                        <!--ng-disabled="disableSelect" -->
                    </select>
                </div>
                <div class="form-group" align="left">
                    <div class="col-md-2">
                        <button  class="btn rbtn" ng-click="changedValue(selection)">Lanjut</button>
                        <button class="zbtn btn btn-default" ng-click="goBack()">Kembali</button>
                    </div>
                </div>
            </div>
        </form>
    <!--</div>-->
</div>
