<style type="text/css">

.endDate::before {
    content: "-";
    position: absolute;
    left: -3%;
    top: 30px;
}

</style>
<script type="text/javascript" src="../../app/_dependencies/print_min.js"></script>
<!-- [START] Gateway Form Before Entry -->
<div ng-if="isOverlayForm" ng-include="'app/parts/directpartssales/salesorder/salesOrderGateway.html'"></div>
<!-- [END] Gateway Form Before Entry -->

<bsform-grid
        ng-form="PartsSalesOrderForm"
        factory-name="PartsSalesOrder"
        model="mData"
        get-data="getData(mData)"
        model-id="Id"
        loading="loading"
        selected-rows="selectedRows"
        show-advsearch="on"
        grid-hide-action-column="true"
        grid-custom-action-button-template="gridActionTemplate"
        grid-custom-action-button-colwidth="100"
        action-button-caption="captionLabel"

        hide-save-button="true"


        on-before-new="onBeforeNewMode"
        on-before-edit="onBeforeEditMode"
        on-before-delete="onBeforeDeleteMode"
        on-show-detail="onShowDetail"
        on-bulk-approve="onBulkApproveSO"
        on-bulk-reject="onBulkRejectSO"
        rights-byte = "myRights"

        form-api="formApi"

        form-title="Sales Order Baru"
        modal-size="small"
        icon="fa fa-fw fa-users"
        >

    <bsform-advsearch>
            <!--<div class="row">
                <div class="col-xs-12">
                    <span style="color: lightcoral"><i>This module currently in development</i></span>
                </div><br>
            </div>-->

              <!-- Row Atas -->
              <div class="row">
                <div class="col-md-2">
                <label class="control-label">Status</label>
                <select class="form-control" ng-model="mData.SalesOrderStatusId">
                  <option value="1">Request Approval</option>
                  <option value="2">Open</option>
                  <option value="4" ng-show="user.RoleId!=1128">Completed</option>
                  <option value="5" ng-show="user.RoleId!=1128">Canceled</option>
                </select>
                </div>
                <div class="col-md-2">
                  <label class="control-label">Tanggal Sales Order</label>
                  <div class="tanggal">
                    <bsdatepicker
                    name="startDate"
                    date-options="dateOptions"
                    ng-model="mData.startDate"
                    >
                    </bsdatepicker>
                  </div>
                </div>
                <div class="col-md-2">
                  <label class="control-label">&nbsp</label>
                  <div class="endDate">
                    <bsdatepicker
                    name="endDate"
                    date-options="dateOptions"
                    ng-model="mData.endDate"
                    >
                    </bsdatepicker>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">No. Sales Order</label>
                    <input type="text" class="form-control" ng-model="mData.vSalesOrderNo">
                  </div>
                </div>
                <div class="col-md-2">
                <label class="control-label">&nbsp</label>
                </div>
              </div>
              <!-- end row -->
              <!-- Row Tengah -->
              <div class="row">
                <div class="col-xs-6 col-xs-offset-2">
                  <span class="help-block">* Mandatory ketika filter Status</span>
                </div>
              </div>
              <!--end  Row Tengah -->
              <!-- Row bawah -->
              <div class="row">
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">No. PO</label>
                    <input type="text" class="form-control" ng-model="mData.vRefSONo">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">Bengkel</label>
                    <input type="text" class="form-control" ng-model="mData.vBengkel">
                  </div>
                </div>
                <div class="col-md-2 col-md-offset-2">
                  <div class="input-group">
                    <label class="control-label">Customer</label>
                    <input type="text" class="form-control" ng-model="mData.vCustomerName">
                  </div>
                </div>
                <div class="col-md-2 col-md-offset-1 text-right">
                  <!--<div class="input-group">-->
                    <label class="control-label">&nbsp</label>
                    <div>
                        <button class="btn wbtn" ng-click="onDeleteFilter()">Hapus Filter</button>
                    </div>
                  <!--</div>-->
                </div>
              </div>
            <!-- end row -->
    </bsform-advsearch>


<!-- [START] Entry Form After Gateway Form -->
<div ng-show="ref=='PO Bengkel Lain'">
  <div ng-include="'app/parts/directpartssales/salesorder/referensi/bengkelLain.html'"></div>
  <!--<div ng-include="'app/parts/directpartssales/salesorder/referensi/dialog_approvalBilling.html'"></div>-->
</div>
<div ng-show="ref=='Customer Langsung'">
  <div ng-include="'app/parts/directpartssales/salesorder/referensi/customerLangsung.html'"></div>
  <div ng-include="'app/parts/directpartssales/salesorder/referensi/dialog_tambahCustomer.html'"></div>
  <div ng-include="'app/parts/directpartssales/salesorder/referensi/dialog_ubahCustomer.html'"></div>
  <!--<div ng-include="'app/parts/directpartssales/salesorder/referensi/dialog_approvalBilling.html'"></div>-->
</div>

<!--edit mode-->

<div ng-show="isUbahBengkelLain" ng-include="'app/parts/directpartssales/salesorder/referensi/bengkelLain_ubah.html'"></div>
<div ng-show="isUbahCustomerLangsung" ng-include="'app/parts/directpartssales/salesorder/referensi/customerLangsung_ubah.html'"></div>
<!--CATATAN: tipe LANGSUNG, tidak punya ada validasi khusus saat mode edit-->
<!--CATATAN: tipe LANGSUNG, tidak ada proses TAMBAH, SESUAI DG FSD-NYA-->

<!--view mode-->
<div ng-show="isLihatBengkelLain" ng-include="'app/parts/directpartssales/salesorder/referensi/bengkelLain_lihat.html'"></div>
<div ng-show="isLihatCustomerLangsung" ng-include="'app/parts/directpartssales/salesorder/referensi/customerLangsung_lihat.html'"></div>

</bsform-grid>
