<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="PddBufferForm"
        factory-name="PddBufferFactory"
        model="mPddBuffer"
        model-id="PDDBufferId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="PddBufferForm"
        form-title="PddBuffer"
        modal-title="Pdd Buffer"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >
        <div class="row">
         <div class="col-md-6">

			<div class="form-group" show-errors>
				<bslabel>Assembly Type</bslabel>
				<bsselect name="AssemblyType" ng-model="mPddBuffer.AssemblyTypeId" data="optionsAssemblyType" item-text="AssemblyTypeName" item-value="AssemblyTypeId" on-select="value(selected)" placeholder="Select Assembly Type" icon="fa fa-search">
				</bsselect>
			</div>
			<bserrmsg field="AssemblyType"></bserrmsg>
			
			<div class="form-group" show-errors>
				<bslabel>Model</bslabel>
				<bsselect name="Model" ng-model="mPddBuffer.VehicleModelId" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" on-select="value(selected)" placeholder="Select Model" icon="fa fa-search">
				</bsselect>
			</div>
			<bserrmsg field="Model"></bserrmsg>
			
			<div class="form-group" show-errors>
				<bslabel>Stock Position</bslabel>
				<bsselect name="StockPosition" ng-model="mPddBuffer.StatusUnitId" data="optionsStockPosition" item-text="StatusUnitName" item-value="StatusUnitId" on-select="value(selected)" placeholder="Select Stock Position" icon="fa fa-search">
				</bsselect>
			</div>
			<bserrmsg field="StockPosition"></bserrmsg>


            <div class="form-group" show-errors>
                <bsreqlabel>Buffer Time</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="BufferTime" placeholder="Buffer Time" ng-model="mPddBuffer.BufferTime"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="BufferTime"></bserrmsg>
            </div>

          </div>
        </div>
</bsform-grid-tree>
