<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<!--  on-before-edit-mode="onBeforeEdit" -->


<!--         loading="loading" -->
<bsform-grid
        ng-form="AttendanceForm"
        factory-name="Attendances"
        model="mData"
        model-id="AttendanceId"


        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
       

        form-name="AttendanceForm"
        form-title="Attendance"
        modal-title="Attendance"
        modal-size="small"
        show-advsearch="on"
        icon="fa fa-fw fa-child"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->
    <bsform-advsearch>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-1">
            <label style="margin-top: 10px;">Date</label>
          </div>
          <div class="col-md-3">
            <bsdatepicker
                name="Date"
                date-options="DateOptions"
                ng-model="mData.Date"
                required = "true">
            </bsdatepicker>
          </div>
        </div>
      </div>
    </bsform-advsearch>

    <div class="row">
      <div class="col-md-12">
        
        <div class="col-md-12" style="margin-bottom: 20px;">
          <div class="col-md-12"><b>Detail Teknisi</b></div>
        </div>

        <div class="col-md-12"  style="margin-bottom: 10px;">
          <div class="col-md-6">
            <div class="col-md-4">Group</div>
            <div class="col-md-6">{{mData.Group}}</div>
          </div>

          <div class="col-md-6">
            <div class="col-md-4">Nama</div>
            <div class="col-md-6">{{mData.Name}}</div>
          </div>
        </div>

        <div class="col-md-12" style="margin-bottom: 10px;">
          <div class="col-md-6">
            <div class="col-md-4">Kode</div>
            <div class="col-md-6">{{mData.Kode}}</div>
          </div>

          <div class="col-md-6">
            <div class="col-md-4">Jabatan</div>
            <div class="col-md-6">{{mData.Jabatan}}</div>
          </div>
        </div>

        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="col-md-6">
            <div class="col-md-4">Initial</div>
            <div class="col-md-6">{{mData.Initial}}</div>
          </div>

          <div class="col-md-6">
            <div class="col-md-4">Stall</div>
            <div class="col-md-6">{{mData.Stall}}</div>
          </div>
        </div>
      

        <div class="col-md-12" style="margin-bottom: 20px;">
          <div class="col-md-12"><b>Absensi</b></div>
        </div>

        <div class="col-md-6" style="margin-bottom: 10px;">
          <div class="col-md-12"> 
            <div class="col-md-3"><bsreqlabel>Tanggal</bsreqlabel></div>
            <div class="col-md-6"> 
              <bsdatepicker
                  name="Tanggal"
                  date-options="DateOptions"
                  ng-model="mData.Tanggal"
                  required = "true">
              </bsdatepicker>
            </div>
            <div class="col-md-12">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                <bserrmsg field="Tanggal"></bserrmsg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="col-md-12" style="padding-left: 0px;">
            <div class="col-md-3" style="padding-left: 0px;"><label>JT Adjusment</label></div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="JTAdjusment" ng-model = "mData.JTAdjusment">
            </div>
          </div>
        </div>

        <div class="col-md-12" style="margin-bottom: 10px;">
          <div class="col-md-12">
            <div class="col-md-2">
              <!-- dikosongkan untuk membuat yang lain sesuai FSD -->
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="xCheckbox" value="Hadir" ng-model="mData.Hadir">
              Hadir
              
              <input type="checkbox" name="xCheckbox"  value="Available" ng-model="mData.Availability" style="margin-left: 40px;">
              Available
              
            </div>
            <div class="col-md-3" ng-show="mData.Hadir == true">
              <bsreqlabel>Jam Datang</bsreqlabel>
              <div uib-timepicker show-spinner="true" max="maxFrom" name="JamDatang" ng-model="mData.JamDatang" ng-change="fFrom()" hour-step="hstep" minute-step="mstep"  show-meridian="ismeridian" required></div>
              <div class="col-md-12">
                <bserrmsg field="JamDatang"></bserrmsg>
              </div>
            </div>
            <div class="col-md-3" ng-show="mData.Hadir == true">
              <bsreqlabel>Jam Pulang</bsreqlabel>
              <div uib-timepicker show-spinner="true" max="maxFrom" name="JamPulang" ng-model="mData.JamPulang" ng-change="fFrom()" hour-step="hstep" minute-step="mstep"  show-meridian="ismeridian" required></div>
              <div class="col-md-12">
                <bserrmsg field="JamPulang"></bserrmsg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12" style="margin-bottom: 10px;">
          <div class="col-md-12">
            <div class="col-md-2">
              <bsreqlabel>Alasan</bsreqlabel>
            </div>
            <div class="col-md-3">
              <bsselect name="Alasan"
                      ng-model="mData.Alasan"
                      data="Alasan2"
                      item-text="Alasantext"
                      item-value="Alasantext"
                      placeholder="Alasan"
                      required = "true">
              </bsselect>
            </div>
            <div class="col-md-12">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                <bserrmsg field="Alasan"></bserrmsg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="col-md-12">
            <div class="col-md-2">
              <bsreqlabel>Catatan</bsreqlabel>
            </div>
            <div class="col-md-6">
              <textarea name="Catatan" ng-model = "mData.Catatan" style="height: 100px;width: 100%;" required="true"></textarea>
            </div>
            <div class="col-md-12">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                <bserrmsg field="Catatan"></bserrmsg>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
<!-- IF NOT USING FORMLY -->

<!--             <div class="form-group" show-errors>
                <label>Parent Role</label>
                <bsselect
                          name="parentRole"
                          data="grid.data"
                          item-text="title"
                          item-value="id"
                          ng-model="mRole.pid"
                          placeholder="Select Parent Role"
                          icon="fa fa-child glyph-left"
                          style="min-width: 150px;">
                </bsselect>
                <bserrmsg field="parentRole"></bserrmsg>
            </div> -->
</bsform-grid>

