<div class="panel panel-danger" style="border-color:#D53337;">
    <div class="panel-heading" style="color:white; background-color:#D53337;">
        <h3 class="panel-title">Permohonan Approval</h3>
    </div>
    <div class="panel-body">
        <form method="post">
            <div class="row">
                <div class="col-md-10">
                    <p><i>Cetakan Input Hasil ini membutuhkan Approval.</i>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Nama Kegiatan</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="control-label">Input Hasil</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Nomor Request</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="control-label">{{ApprovalData.StockOpnameNo}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Tanggal dan Jam</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="control-label">{{ApprovalData.DocDate | date:'dd/MMM/yyyy hh:mm:ss'}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Disetujui Oleh</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <textarea class="form-control" rows="4">{{ApprovalData.Approver}}</textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Pesan</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <textarea class="form-control" rows="4" ng-model="ApprovalData.CancelReasonDesc" placeholder="Isi Pesan"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div>
                            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Batal</button>
                            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="AskPrintApproval()" style="color:white; background-color:#D53337">Kirim Permohonan</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
