<script type="text/javascript">
</script>
<style type="text/css">
.accordion {
    background-color: #CD5C5C;
    color: #ffffff;
    cursor: pointer;
    /*padding: 10px;*/
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 30px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    /*transition: 0.4s;*/
}

.accordion.active, .accordion:hover {
    background-color: #eee;
}
/*
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2212";
}
*/

.accordion-content {
    padding: 0 18px;
    background-color: #999999;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.CusGrid {
  width: 500px;
  height: 250px;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px;
}
.yes { color: green;  }
.no { color: black;  }
.rotate90 {
    display: inline-block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all linear 200ms;
    transition: all linear 200ms;
}

.rotate-back {
    display: inline-block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all linear 200ms;
    transition: all linear 200ms;
}

.panel1 {
    padding: 0 18px;
    background-color: white;
    /*max-height: 0;*/
    overflow: visible;
    transition: 0.2s all linear;
}

.panel2 {
    /*display: inline-block;*/
    -webkit-transition: all linear 200ms;
    transition: all linear 200ms;
}
/*background-color: yellow !important; */
./*inputdemoIcons .inputIconDemo {
    min-height: 48px; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; }
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red; }
*/</style>
<!-- 
model-id = "GetsudoPeriodId"
selected-rows="xGetsudoPeriod.selected"
grid-hide-action-column="actionHide"
rights-byte="myRights"
on-before-cancel = "onBeforeCancel"
 -->
<bsform-grid
        ng-form="CusDataForm"
        factory-name="CusData"
        model="mCusData"
        loading="loading"

        get-data="getData"
        
        on-select-rows="onSelectRows"
        on-validate-cancel="onValidateCancel"

        show-advsearch="show.advSearch"
        on-show-detail = "onShowDetail"
        

        form-name="CusDataForm"
        form-title="Pencarian Spesifik"
        modal-title="Info pelanggan"
        modal-size="small"
        icon="fa fa-fw fa-child"

        
        >


<bsform-advsearch>
    <!-- <uib-tabset active="activeJustified" justified="true" style="margin-top: 40px;" ng-hide="search2">
      <uib-tab index="0" heading="Pencarian Spesifik"> -->
        <!-- <div class="row">
          <div class="col-md-2">
              <div class="radio">
                <label><input type="radio" ng-model="filterSearch.choice" ng-value=1>Pencarian Spesifik</label>
              </div>  
          </div>
          <div class="col-md-6">
              <div class="radio">
                <label><input type="radio" ng-model="filterSearch.choice" ng-value=2>Pencarian Kelompok</label>
              </div>
          </div>
        </div> -->

        <!-- <div ng-show="filterSearch.choice == 1">
          <fieldset style="border:5px solid #e2e2e2;padding:20px">
            <legend style="width:inherit">Pencarian Spesifik Data Pelanggan   </legend>
 -->      <div class="row" style="margin-left:0px;margin-top:15px">
            <div class="row" style="margin-left:0px">
              <div class="col-md-12">
                <bslabel>Silakan melakukan pencarian berdasarkan Toyota ID dan salah satu kategori pencarian dibawah ini : </bslabel>
              </div>  
            </div>

            <div class="row"></div>

            <div class="row">
              <div class="col-md-3">
                <bsreqlabel>Toyota ID</bsreqlabel>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" ng-model="filterSearch.TID" placeholder="" required>    
              </div>
            </div>

            <br>
            
            <div class="row">
              <div class="col-md-12">
                <bslabel>Silakan melakukan input pada salah satu kategori dibawah ini :</bslabel>
              </div>  
            </div>
            <!-- <div class="row">
              <div class="col-md-4">
                  <bsselect name="SearchSpesifik"
                    ng-model="filterSearch.flag"
                    data="filterSearchData"
                    item-text="name"
                    item-value="id"
                    placeholder="Filter..."
                    on-select="selectFilter(selected)"
                      icon="fa fa-taxi">
                  </bsselect>
              </div>
              <div class="col-md-8">
                
              </div>
            </div> -->
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="row" style="margin-left: 0px;">
                  <!-- <div class="col-md-1"></div> -->
                  <div class="col-md-3">
                      <bsselect 
                            name="nSearch"
                            ng-model="filterSearch.flag"
                            data="[{id:1,name:'Nomor Polisi'},{id:2,name:'Nomor Rangka'},{id:3,name:'Nomor Mesin'},{id:4,name:'Tanggal Lahir'},{id:5,name:'Nomor Handphone'},{id:6,name:'KTP / KITAS'}];"
                            item-text="name"
                            item-value="id"
                            placeholder="Pilih Pencarian"
                            ng-disabled="menuIsOpen===1"
                            style="min-width: 150px;" 
                            >
                      </bsselect>
                  </div>
                  <div class="col-md-5">
                    <input type="text" class="form-control" name="xcari" ng-disabled="menuIsOpen===1"  placeholder="" ng-model="filterSearch.val" required>
                  </div>
                </div>
                  <!-- <div class="row">
                    <div class="col-md-3">
                        <div class="radio">
                          <label><input type="radio" ng-model="filterSearch.flag" ng-value="filterValue[0]">Nomor Polisi</label>
                        </div>  
                    </div>
                    <div class="col-md-6">
                        <input type="text" ng-disabled="filterSearch.flag.key != filterValue[0].key" ng-model="filterValue[0].value" class="form-control">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                        <div class="radio">
                          <label><input type="radio" ng-model="filterSearch.flag" ng-value="filterValue[1]"> Nomor Rangka</label>
                        </div>  
                    </div>
                    <div class="col-md-6">
                        <input type="text" ng-disabled="filterSearch.flag.key != filterValue[1].key" ng-model="filterValue[1].value" class="form-control">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                        <div class="radio">
                          <label><input type="radio" ng-model="filterSearch.flag" ng-value="filterValue[2]">Nomor Mesin</label>
                        </div>  
                    </div>
                    <div class="col-md-6">
                        <input type="text" ng-disabled="filterSearch.flag.key != filterValue[2].key" ng-model="filterValue[2].value" class="form-control">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                        <div class="radio">
                          <label><input type="radio" ng-model="filterSearch.flag" ng-value="filterValue[3]">Tanggal Lahir</label>
                        </div>  
                    </div>
                    <div class="col-md-6">
                        <bsdatepicker ng-disabled="filterSearch.flag.key != filterValue[3].key" ng-model="filterValue[3].value" date-options="dateOptions"></bsdatepicker>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                        <div class="radio">
                          <label><input type="radio" ng-model="filterSearch.flag" ng-value="filterValue[4]">Nomor Handphone</label>
                        </div>  
                    </div>
                    <div class="col-md-6">
                        <input type="text" ng-disabled="filterSearch.flag.key != filterValue[4].key" ng-model="filterValue[4].value" class="form-control">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                        <div class="radio">
                          <label><input type="radio" ng-model="filterSearch.flag" ng-value="filterValue[5]">KTP / KITAS</label>
                        </div>  
                    </div>
                    <div class="col-md-6">
                        <input type="text" ng-disabled="filterSearch.flag.key != filterValue[5].key" ng-model="filterValue[5].value" class="form-control">
                    </div>
                  </div> -->
                  
                </div>
              </div>  
            </div> 
              <!-- <pre>{{filterSearch}}</pre> -->
            <!-- <div class="row">
              <div class="col-md-8"></div>
              <div class="col-md-4">
                  <button ng-click="cari()" class="btn btn-default">
                    Cari
                  </button>
              </div>
            </div> -->
            <div class="row"></div>
              <div class="row" style="margin-top:10px">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <button ng-click="forget()" class="btn btn-default">
                        Lupa Toyota Id
                    </button>
                </div>
              </div>
       <!--    </fieldset>
            
          
        </div> -->
        
      <!-- </uib-tab> -->

      <!-- <uib-tab index="1" heading="Pencarian Kelompok Data"> -->
      <i ng-click='toggle(1); open1=!open1' ng-class="{'fa fa-chevron-right rotate90': open1, 'fa fa-chevron-right rotate-back': !open1}" style="margin-left: 10px;"></i>
      <div class="fieldset" ng-show="menuIsOpen===1" style="border:2px solid #e2e2e2; margin-left: 10px;" ng-class="{'panel1': open1, 'panel2': !open1}">
            <!-- <fieldset style="border:2px solid #e2e2e2; margin-left: 10px;" ng-class="{'panel1': open1, 'panel2': !open1}"> -->
              <br>
              <br>
              <!--  ng-show="filterSearch.choice == 2" -->
         <div class="row">
            <div class="col-md-12">
              <!-- <fieldset style="border:2px solid #e2e2e2;padding:3px">
                <legend style="width:inherit">Filter</legend> -->
                  <div class="col-md-12">
                    <div class="row">
                      <div class="form-group">
                        <div class="col-md-2">
                          <bslabel>Group Dealer</bslabel>    
                        </div>
                        <div class="col-md-3">
                          <bsselect name="SearchDealer"
                            ng-model="groupSearch.dealerId"
                            data="[{id:1,name:'Auto 2000'},{id:2,name:'Tunas Muda'}]"
                            item-text="name"
                            item-value="id"
                            placeholder="Daftar Group Dealer"
                            on-select="selectDealer(selected)"
                              icon="fa fa-building-o">
                          </bsselect>
                        </div>

                        <div class="col-md-2">
                          <bslabel>Periode Pembelian</bslabel>
                        </div>
                        <div class="col-md-2">
                          <bsdatepicker name="dateBuyStart" date-options="dateOptions"></bsdatepicker>
                        </div>
                        <div class="col-md-1"><bslabel> s/d </bslabel></div>
                        <div class="col-md-2">
                          <bsdatepicker name="dateBuyEnd" date-options="dateOptions"></bsdatepicker>
                        </div>
                      </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                      <div class="form-group">
                        <div class="col-md-2">
                          <bslabel>Nama Cabang</bslabel>    
                        </div>
                        <div class="col-md-3">
                          <bsselect name="SearchBranch"
                            ng-model="groupSearch.branchId"
                            data="[{id:1,name:'Auto 2000 Bekasi'},{id:2,name:'Tunas Muda Surabaya'}]"
                            item-text="name"
                            item-value="id"
                            placeholder="Daftar Nama Cabang"
                            on-disabled="groupSearch.dealerId == undefined"
                            on-select="selectBranch(selected)"
                              icon="fa fa-home">
                          </bsselect>
                        </div>

                        <div class="col-md-2">
                          <bslabel>Periode Service</bslabel>
                        </div>
                        <div class="col-md-2">
                          <bsdatepicker name="serviceStart" date-options="dateOptions"></bsdatepicker>
                        </div>
                        <div class="col-md-1"><bslabel> s/d </bslabel></div>
                        <div class="col-md-2">
                          <bsdatepicker name="serviceEnd" date-options="dateOptions"></bsdatepicker>
                        </div>
                      </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                      <div class="form-group">
                        <div class="col-md-2">
                          <bslabel>Nama Pelanggan</bslabel>    
                        </div>
                        <div class="col-md-3">
                          <input type="text" style="width:100%" ng-model="groupSearch.name">
                        </div>

                        <div class="col-md-2">
                          <bslabel>Model & Tipe Kendaraan</bslabel>
                        </div>
                        <div class="col-md-2">
                          <bsselect name="SearchModel"
                            ng-model="groupSearch.modelId"
                            data="[{id:1,name:'Avanza'},{id:2,name:'Fortuner'}]"
                            item-text="name"
                            item-value="id"
                            placeholder="Pilih Model"
                            on-select="selectModel(selected)"
                              icon="fa fa-taxi">
                          </bsselect>
                        </div>
                        <div class="col-md-1"><bslabel> dan </bslabel></div>
                        <div class="col-md-2">
                          <bsselect name="SearchType"
                            ng-model="groupSearch.typeId"
                            data="[{id:1,name:'1.5 FD6000'},{id:2,name:'1.3 FX0000'}]"
                            item-text="name"
                            item-value="id"
                            placeholder="Pilih Tipe"
                            on-disabled="groupSearch.modelId == undefined"
                            on-select="selectType(selected)"
                              icon="fa fa-taxi">
                          </bsselect>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="row" style="margin-top:10px">
                    <div class="col-md-11"></div>
                    <div class="col-md-1" style="text-align: right;">
                      <button class="button" class="btn btn-default" ng-click="groupFilter()">Filter</button>
                    </div>
                  </div> -->
              <!-- </fieldset> -->
            </div>
          </div>
        </div>
          <!-- </bsform-advsearch> -->
          <!-- <br>
          <br>
          <br> -->
          <!-- <div class="row">
            <div id="hj" ng-hide="groupfilter" class="col-md-12">
          
              <div ui-grid="gridDataGroupFilter" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid" >
                <div class="ui-grid-nodata" style="margin-top:100px;" ng-show="!gridDataGroupFilter.data.length" >No data available</div>
              </div>
              
            </div>
          </div> -->
      
      <!-- </uib-tab> -->
    <!-- </uib-tabset> -->
    </div>

  </bsform-advsearch>


        
<!--  accordion spesifik -->

<div id="all" ng-hide="alldata">
    <div class="row">
              <div class="col-md-9"></div>
              <div class="col-md-3">
                <button ng-click="master(1)" class="btn btn-default" ng-disabled="ubah">
                UBAH
                </button>
              <!-- </div>
              <div class="col-md-1"> -->
                <button ng-click="master(2)" class="btn btn-default" ng-disabled="batal">
                BATAL
                </button>
              <!-- </div>
              <div class="col-md-1"> -->
                <button ng-click="master(3)" class="btn btn-default" ng-disabled="simpan">
                SIMPAN
                </button>
              </div>  
          </div>
<!-- <div class="tab-content responsive" ng-hide="hidetab">
<div class="tab-pane active" id="Pelanggan"> -->
<uib-tabset active="activeJustified" justified="true" style="margin-top: 40px;" ng-hide="hidetab">
  <uib-tab index="0" heading="Pelanggan">
    <!-- <div ng-init="accordion=1" style="margin-top:10px;">
      <h4 ng-class="{active:accordion==1}">
        <button ng-click="accordion=1" class="accordion">Informasi Pelanggan</button>
      </h4>
      <div ng-show="accordion==1"> -->
    <div ng-show="infoIndividu">

      <fieldset style="border:3px solid #e2e2e2;padding:5px;margin-top:5px">
          <!-- <p class="accordion-content">xxxx</p> -->
          
        <fieldset style="border:1px solid #e2e2e2;padding:10px;margin-top:5px">
            <div class="row" style="margin-top:20px">
              <div class="col-md-5">
                <!-- <fieldset style="border:1px solid #e2e2e2;padding:2px height:66px">
                  <legend style="width:inherit;margin-bottom: 0px;padding-bottom: 4px;">Id Toyota  </legend> -->
                  <!-- <h1 style="color: red;margin-left: 10px;">38746583774</h1> value="1892738712-0"-->
                <bslabel>Toyota ID</bslabel>
                <div class="row" style="margin-left: 0px; width:100%">
                  <input type="text" style="color: red;padding:10px;font-size:28px;width:100%" ng-model="acc1.idToyota" ng-disabled="true">
                </div>
                <!-- </fieldset> -->
              </div>
              <div class="col-md-2">
                <!-- <bsreqlabel >Peran Pelanggan</bsreqlabel>
                <div class="row" style="margin-left: 0px;"><input type="text"></div>  -->
                <bslabel>Peran Pelanggan</bslabel>
                <div class="row" style="margin-left: 0px;"><input type="text" style="padding:10px;height: 34px; width:100%;margin-top: 5px;" value="Pemilik" ng-disabled="true"></div>
                <!-- <bsselect name="peran" ng-model="acc1.peran"
                          ng-model="acc1.peran"
                          data="peran"
                          item-text="name"
                          item-value="id"
                          placeholder="Pilih Peran..."
                          ng-disabled = valueChange
                          on-select="selectAgama(selected)"
                            icon="fa fa-taxi">
                </bsselect> -->
              </div>
              <div class="col-md-2">
                <bslabel>KTP/KITAS</bslabel>
                <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%;margin-top: 5px;padding:10px;" ng-model="acc1.KTP" ng-disabled="valueChange"></div>
              </div>
              <div class="col-md-3">
                <bslabel>NPWP</bslabel>
                <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%;margin-top: 5px;padding:10px;" ng-model="acc1.NPWP" ng-disabled="valueChange"></div>
              </div>
              <!-- <div class="col-md-1"> -->
                <!-- <img src="cinqueterre.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> -->
              <!-- </div> -->
            </div>

            <div class="row" style="padding:2px;margin-top: 10px;">
              <div class="col-md-2">
                <bslabel>Gelar Depan</bslabel>
                <div class="row" style="margin-left: 0px; width:100%">
                <input type="text" style="height: 34px; width:100%;margin-top: 5px;padding:10px;" ng-model="acc1.GelarDepan" ng-disabled="valueChange"></div>
              </div>
              <div class="col-md-5">
                <bsreqlabel>Nama Pelanggan</bsreqlabel>
                <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%;padding:10px;" ng-model="acc1.name" style="width:100%;" ng-disabled="valueChange"></div>
              </div>
              <div class="col-md-2">
                <bslabel>Gelar Belakang</bslabel>
                <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%;margin-top: 5px;padding:10px;" ng-model="acc1.GelarBelakang" ng-disabled="valueChange"></div>
              </div>
              <div class="col-md-3">
                <bslabel>Nama Panggilan</bslabel>
                <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%;margin-top: 5px;padding:10px;" ng-model="acc1.nickName" ng-disabled="valueChange"></div>
              </div>
              <div class="col-md-1"></div>
            </div>

            <div class="row" style="margin-top: 10px;">
              <div class="col-md-2">
                <bslabel>Tempat Lahir</bslabel>
                <div class="row" style="margin-left: 0px;">
                <input type="text" style="height: 34px;  width:100%;margin-top: 5px;padding:10px;"  ng-model="acc1.PlaceBirth" ng-disabled="valueChange"></div>
              </div>
              <div class="col-md-3">
                <bslabel>Tanggal Lahir</bslabel>
                <div class="row"style="margin-left: 0px;">
                  <bsdatepicker name="dateBirth" skip-disable="valueChange" ng-disabled="valueChange"  ng-model="acc1.DateBirth" style="height: 34px; margin-top: 5px;  width:100%;" date-options="dateOptions"></bsdatepicker>
                </div>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-3">
                <bslabel>Jenis Kelamin</bslabel>
                <div class="row">
                  <div class="col-md-6">
                    <label><input type="radio" name="optradio" style="margin-right:5px" ng-model="acc1.JK" value="1" ng-disabled="valueChange">Laki - Laki</label>
                  </div>
                  <div class="col-md-6">
                    <label><input type="radio" name="optradio" style="margin-right:5px" ng-model="acc1.JK" value="2" ng-disabled="valueChange">Perempuan</label>
                  </div>
                </div>
                <div class="col-md-3"></div>
              </div>
            </div>
        </fieldset>
        <fieldset style="border:1px solid #e2e2e2;padding:5px;margin-top:10px">
            <div class="row" style="margin-top: 10px;">
              <div class="col-md-4" style="margin-left: 0px;">
                <input type="checkbox"
                     ng-model="acc1.phoneStatus1"
                     ng-disabled="valueChange"
                     name="phoneStatus1"
                     ng-true-value=1
                     ng-false-value=0
                     ng-change="changePhoneStatus(1)">
                <bslabel>No Handphone 1</bslabel>
                <div class="row" style="margin-left: 0px;"><input type="number" style="height: 34px; width:100%;padding:10px;" ng-model="acc1.phone1" ng-disabled="valueChange"></div>
                <div class="row" style="margin-left: 0px;margin-top: 10px;">
                  <input type="checkbox"
                     ng-model="acc1.phoneStatus2"
                     ng-disabled="valueChange"
                     name="phoneStatus2"
                     ng-true-value=1
                     ng-false-value=0
                     ng-change="changePhoneStatus(2)">
                  <bslabel>No Handphone 2</bslabel>
                </div>
                <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%;padding:10px;" ng-model="acc1.phone2" ng-disabled="valueChange"></div>
                
                <div class="row" style="margin-left: 0px;margin-top: 10px;"><bslabel>Email</bslabel></div>
                <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%;padding:10px;" ng-model="acc1.email" ng-disabled="valueChange"></div>

                
              </div>

              <div class="col-md-4" style="margin-left: 0px;">
                <bslabel>Agama</bslabel>
                <bsselect name="agama"
                          ng-model="acc1.agama"
                          data="agamaData"
                          item-text="name"
                          item-value="id"
                          placeholder="Pilih Agama..."
                          ng-disabled=valueChange
                          on-select="selectAgama(selected)"
                            icon="fa fa-male">
                </bsselect>

                <div class="row" style="margin-left: 0px;margin-top: 10px;"><bslabel>Suku</bslabel></div>
                <bsselect name="suku"
                          ng-model="acc1.suku"
                          data="sukuData"
                          item-text="name"
                          item-value="id"
                          placeholder="Pilih Suku..."
                          ng-disabled=valueChange
                          on-select="selectSuku(selected)"
                            icon="fa fa-id-badge">
                </bsselect>

                <div class="row" style="margin-left: 0px;margin-top: 10px;"><bslabel>Bahasa</bslabel></div>
                <bsselect name="bahasa"
                          ng-model="acc1.bahasa"
                          data="bahasaData"
                          item-text="name"
                          item-value="id"
                          placeholder="Pilih Bahasa..."
                          ng-disabled=valueChange
                          on-select="selectBahasa(selected)"
                            icon="fa fa-sign-language">
                </bsselect>

              </div>

              <div class="col-md-4" style="margin-left: 0px;">
                <bslabel>Kategori Pelanggan</bslabel>
                <bsselect name="category"
                          ng-model="acc1.categoryPelanggan"
                          data="categoryData"
                          item-text="name"
                          item-value="id"
                          placeholder="Pilih Category..."
                          ng-disabled=valueChange
                          on-select="selectCategory(selected)"
                            icon="fa fa-taxi">
                </bsselect>

                <div class="row" style="margin-left: 0px;margin-top: 10px;"><bslabel>Status Fleet</bslabel></div>
                <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%;padding:10px;" value="non fleet" ng-disabled="valueChange"></div>

              </div>

            <!-- <div class="col-md-2"></div> -->
            </div>
        </fieldset>

        
          <div class="row"></div>
          <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
              <div class="col-md-1"></div>
              <div class="col-md-9"></div>
              <div class="col-md-2">
                 <button ng-click="deleteThisRow(1)" class="btn btn-default"  ng-disabled="valueChange">Hapus</button>
                 <button ng-click="Add(1)" class="btn btn-default" ng-disabled="valueChange">Tambah</button>
              </div>
          </div>
             <!-- <div ng-disabled="valueChange"> -->
               
              <div ui-grid="gridDataAddress" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid" >
                <div class="ui-grid-nodata" style="margin-top:100px;" ng-show="!gridDataAddress.data.length" >No data available</div>
              </div>

              

              <!-- <div id="grid1" ui-grid="{ data: myData }" class="GridStyle"></div> -->
          <!-- </div> -->

        </fieldset>
    </div>
    <div ng-show="infoInstitusi">
        <fieldset style="border:3px solid #e2e2e2;padding:10px">
          
          <div class="row" style="margin-left: 0px;">
            <fieldset style="border:1px solid #e2e2e2;padding:5px">
              <div class="row" style="margin-top: 10px;">
                <div class="col-md-5">
                  <!-- <fieldset style="border:1px solid #e2e2e2;padding:2px height:66px">
                    <legend style="width:inherit;margin-bottom: 0px;padding-bottom: 4px;">Id Toyota  </legend> -->
                    <!-- <h1 style="color: red;margin-left: 10px;">38746583774</h1> value="1892738712-0"-->
                  <bsreqlabel>Id Toyota</bsreqlabel>
                  <div class="row" style="margin-left: 0px; width:100%">
                    <input type="text" style="color: red;padding:10px;font-size:28px; width:100%" ng-model="acc21.toyotaId" ng-disabled="valueChange">
                  </div>

                  <bsreqlabel style="margin-top: 10px;">Nama Pelanggan</bsreqlabel>
                  <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100% ;margin-top: 0px; padding:10px;" ng-model="acc21.name" style="width:100%" ng-disabled="valueChange"></div>

                  
                  <div class="row" style="margin-top: 10px;margin-left: 0px; "><bslabel>Sektor Bisnis</bslabel></div>
                  <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%; margin-top: 5px; padding:10px;" ng-model="acc21.bisnis" ng-disabled="valueChange"></div>
                  <!-- </fieldset> -->
                </div>
                <div class="col-md-3">
                  <!-- <bsreqlabel >Peran Pelanggan</bsreqlabel>
                  <div class="row" style="margin-left: 0px;"><input type="text"></div>  -->
                  <div class="row" style="margin-left: 0px; margin-top: 0px; "><bslabel>Peran Pelanggan</bslabel></div>
                  <div class="row" style="margin-left: 0px; margin-top: 5px; ">
                    <bsselect name="peranInstitusi"
                              ng-model="acc21.peran"
                              data="peran"
                              item-text="name"
                              item-value="id"
                              placeholder="Pilih Peran..."
                              ng-disabled = valueChange
                              on-select="selectAgama(selected)"
                                icon="fa fa-taxi">
                    </bsselect>
                  </div>

                  <div class="row" style="margin-top: 40px; margin-left: 0px;"><bslabel>Kategori Pelanggan</bslabel></div>
                  <div class="row" style="margin-left: 0px; margin-top: 5px; ">
                    <bsselect name="kategoriPelangganInstitusi"
                            ng-model="acc21.category"
                            data="categoryData"
                            item-text="name"
                            item-value="id"
                            placeholder="Pilih Kategori..."
                            ng-disabled=valueChange
                            on-select="selectAgama(selected)"
                              icon="fa fa-taxi">
                    </bsselect>
                  </div>

                  <div class="row" style="margin-top: 10px; margin-left: 0px;"><bslabel >Status Fleet</bslabel></div>
                  <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%; margin-top: 5px; padding:10px;" ng-model="acc21.fleet" ng-disabled="valueChange"></div>

                </div>
                <div class="col-md-4">
                  <bslabel style="margin-top: 10px;">SIUP</bslabel>
                  <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%; margin-top: 5px; padding:10px;" maxlength="50" ng-model="acc21.siup" ng-disabled="valueChange"></div>

                  <div class="row" style="margin-top: 36px; margin-left: 0px;"><bslabel >TDP</bslabel></div>
                  <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%; margin-top: 5px; padding:10px;" ng-model="acc1.tdp" ng-disabled="valueChange"></div>

                  <bsreqlabel style="margin-top: 10px;">NPWP</bsreqlabel>
                  <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%;  padding:10px;" ng-model="acc21.NPWP" ng-disabled="valueChange"></div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="row" style="margin-top: 10px; margin-left:0px;">
            <fieldset style="border:1px solid #e2e2e2;padding:3px">
              <legend style="width:inherit">Informasi Penanggung Jawab</legend>
                <div class="row" style="margin-top: 10px;">
                  <div class="col-md-7" style="margin-left: 0px;">
                    <bslabel>Nama Penanggung Jawab</bslabel>
                    <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%; margin-top: 5px; padding:10px;" ng-model="acc21.nameResponsible" ng-disabled="valueChange"></div>
                  </div>
                  <div class="col-md-4">
                    <bslabel>Nomor Handphone Penanggung Jawab</bslabel>
                    <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100% ; margin-top: 5px; padding:10px;" ng-model="acc21.phone" ng-disabled="valueChange"></div>
                  </div>
                  <div class="col-md-1"></div>
                </div>
                <div class="row" style="margin-top: 10px;">
                  <div class="col-md-3" style="margin-left: 0px;">
                    <bslabel>Jabatan</bslabel>
                    <div class="row" style="margin-left: 0px;margin-top: 5px; padding:0px;">
                      <bsselect name="jabatanInstitusi"
                              ng-model="acc21.jabatan"
                              data="[{id:1,name:'CEO'},{id:2,name:'Direktur Utama'}]"
                              item-text="name"
                              item-value="id"
                              placeholder="Pilih Jabatan..."
                              ng-disabled=valueChange
                              on-select="selectAgama(selected)"
                                icon="fa fa-bars">
                      </bsselect>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <bslabel>Departemen</bslabel>
                    <div class="row" style="margin-left: 0px;margin-top: 5px;"><input type="text" style="height: 34px; width:100%;margin-top: 0px; padding:0px;" ng-model="acc21.departemen" ng-disabled="valueChange"></div>
                  </div>
                  <div class="col-md-5"></div>
                </div>
            </fieldset>
          </div>

          <div class="row"></div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-10"></div>
            <div class="col-md-2">
              <button ng-click="deleteThisRow(21)" class="btn btn-default"  ng-disabled="valueChange">Hapus</button>
              <button ng-click="Add(21)" class="btn btn-default" ng-disabled="valueChange">Tambah</button>
            </div>
          </div>
          <div class="row" ></div>
          <div ng-disabled="valueChange">
           
            <div ui-grid="gridDataAddressInstitusi" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid" >
              <div class="ui-grid-nodata" style="margin-top:100px;" ng-show="!gridDataAddressInstitusi.data.length" >No data available</div>
            </div>
          <!-- <div id="grid1" ui-grid="{ data: myData }" class="GridStyle"></div> -->
          </div>

        </fieldset>
    </div>  
      <!-- </div> -->
  </uib-tab>
  <uib-tab index="1" heading="Pekerjaan" ng-hide="infoInstitusi">

      <!-- <h4 ng-class="{active:accordion==2}">
        <button ng-click="accordion=2" class="accordion">Informasi Keluarga</button>
       
      </h4>

      <div ng-show="accordion==2"> -->
      
          
      <!-- </div> -->
  <!-- </div> -->
        <fieldset style="border:1px solid #e2e2e2;padding:5px;margin-top:10px">
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-4" style="margin-left:0px;">
                <bslabel>Pekerjaan</bslabel>
                <div class="row" style="margin-left:0px"><input type="text" style="height: 34px; width:100%;padding:10px;" ng-model="acc1.job" ng-disabled="valueChange"></div>

                <div class="row" style="margin-left: 0px;margin-top: 10px;"><bslabel>Jabatan</bslabel></div>
                <!-- <div class="row"> -->
                  <bsselect name="position"
                          ng-model="acc1.position"
                          data="[{id:1,name:'CEO'},{id:2,name:'Direktur Utama'}]"
                          item-text="name"
                          item-value="id"
                          placeholder="Pilih Jabatan..."
                          ng-disabled=valueChange
                          on-select="selectJabatan(selected)"
                            icon="fa fa-bars">
                  </bsselect>
                <!-- </div> -->
            </div>
            <div class="col-md-4">
                <bslabel>Nama Perusahaan</bslabel>
                <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%;padding:10px;" ng-model="acc1.company" ng-disabled="valueChange"></div>

                <div class="row" style="margin-left: 0px;margin-top: 10px;"><bslabel>Range Pendapatan Gross</bslabel></div>
                <bsselect name="pendapatan"
                          ng-model="acc1.Salary"
                          data="[{id:1,name:'1.000.000 - 1 M'},{id:2,name:'1 M - 12 M'}]"
                          item-text="name"
                          item-value="id"
                          placeholder="Pilih Pendapatan..."
                          ng-disabled=valueChange
                          on-select="selectPendapatan(selected)"
                            icon="fa fa-money">
                </bsselect>
            </div>
            <div class="col-md-4">
                <label >Departemen</label>
                <div class="row" style="margin-left: 0px;"><input type="text" style="height: 34px; width:100%;padding:10px;" ng-model="acc1.departemen" ng-disabled="valueChange"></div>
            </div>
            <div class="col-md-2"></div>
          </div>

          
        </fieldset>
  </uib-tab>
<!-- </div>
<div class="tab-pane" id="Keluarga"> -->
  <uib-tab index="2" heading="Keluarga" ng-hide="infoInstitusi">

      <!-- <h4 ng-class="{active:accordion==2}">
        <button ng-click="accordion=2" class="accordion">Informasi Keluarga</button>
       
      </h4>

      <div ng-show="accordion==2"> -->
      
        <fieldset style="border:3px solid #e2e2e2;padding:10px;margin-top:5px">
          
          <div class="row" style="margin-left: 0px;">
            <div class="col-md-2" style="margin-left: 0px;padding-left: 0px;">
              <bslabel>Status Pernikahan</bslabel>
                <bsselect name="Married"
                          ng-model="acc2.Married"
                          data="marriedStatus"
                          item-text="name"
                          item-value="id"
                          placeholder="Pilih Status Pernikahan..."
                          ng-disabled=valueChange
                          on-select="selectPendapatan(selected)"
                            icon="fa fa-group">
                </bsselect>
            </div>
            <div class="col-md-2">
                <bslabel>Tanggal Pernikahan</bslabel>
                <div class="row" style="margin-left: 0px;padding-left: 0px;">
                <bsdatepicker name="tanggal" ng-model="acc2.dateMarried" date-options="dateOptions" ng-disabled="valueChange"></bsdatepicker></div>
            </div>
            <div class="col-md-8"></div>  
          </div>

          <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
           <div class="col-md-1"></div>
            <div class="col-md-9"></div>
           <div class="col-md-2">
              <button ng-click="deleteThisRow(2)" class="btn btn-default"  ng-disabled="valueChange">Hapus</button>
              <button ng-click="Add(2)" class="btn btn-default" ng-disabled="valueChange2">Tambah</button>
          </div>
         </div>

          <div class="row" style="margin-left: 13px;margin-top: 10px;">
            
          </div>
             <!-- <div id="grid4" ui-grid="{ data: GridFamily }" class="CusGrid"></div> -->
             <!-- <div class="span4">
              <div id="grid1" ui-grid="gridOptions1" class="CusGrid"></div>
            </div>
            
            <div class="span4">
              <div id="grid2" ui-grid="gridOptions2" class="CusGrid"></div>
            </div> -->

          <div ui-grid="gridDataFamily" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid">
            <div class="ui-grid-nodata" style="margin-top:100px;" ng-show="!gridDataFamily.data.length">No data available</div>
          </div>
        </fieldset>  
      <!-- </div> -->
  <!-- </div> -->
  </uib-tab>
<!-- <div class="tab-pane" id="Preferensi_Pelanggan"> -->
  <uib-tab index="3" heading="Preferensi" ng-hide="infoInstitusi">

      <!-- <h4 ng-class="{active:accordion==3}">
        <button ng-click="accordion=3" class="accordion">Informasi Preferensi Pelanggan</button>
        
      </h4>
      <div ng-show="accordion==3"> -->
        <fieldset style="border:3px solid #e2e2e2;padding:10px">
        
          <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
           <div class="col-md-11"></div>
           <div class="col-md-1">
             <button ng-click="Add(3)" class="btn btn-default">
              Tambah
            </button>
          </div>
         </div>
          <div class="row" style="margin-left:0px">
            <div>
               <div ui-grid="gridDataPreferensi" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid">
                <div class="ui-grid-nodata" style="margin-top:100px;" ng-show="!gridDataPreferensi.data.length">No data available</div>
             </div>
          </div>
        
        <br>
          <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
           <div class="col-md-11"></div>
           <div class="col-md-1">
             <button ng-click="Add(4)" class="btn btn-default">
              Tambah
            </button>
          </div>
         </div>
          <div class="row" style="margin-left:0px">
            <div>
                 <div ui-grid="gridDataMedsos" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid">
                    <div class="ui-grid-nodata" style="margin-top:100px;" ng-show="!gridDataMedsos.data.length">No data available</div>
               </div>
             </div>
          </div>
        </fieldset>  
      <!-- </div> -->
<!-- </div> -->
  </uib-tab>  

<!-- <div class="tab-pane" id="Kendaraan_Pelanggan"> -->
  <uib-tab index="4" heading="Kendaraan"  ng-hide="infoInstitusi">
      <!-- <h4 ng-class="{active:accordion==4}">
        <button ng-click="accordion=4" class="accordion">Informasi Kendaraan Pelanggan</button>
        
      </h4>

      <div ng-show="accordion==4"> -->
        
        <fieldset style="border:1px solid #e2e2e2;padding:10px">
          <legend style="width:inherit;margin-bottom: 0px;padding-bottom: 4px;">Kendaraan Toyota Terdaftar  </legend> 
            <!-- <div class="row"><bslabel>Kendaraan Toyota Terdaftar</bslabel></div> -->
            <div class="row" style="margin-left: 0px;">
                <div ui-grid="gridDataToyotaVehicle" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid">
                  <div class="ui-grid-nodata" style="margin-top:100px;" ng-show="!gridDataToyotaVehicle.data.length">No data available</div>
                </div>
            </div>
        </fieldset>
        <fieldset style="border:1px solid #e2e2e2;padding:10px">
          <legend style="width:inherit;margin-bottom: 0px;padding-bottom: 4px;">Kendaraan Lain  </legend>
            <!-- <div class="row" style="margin-left: 0px;margin-top: 20px;"><bslabel>Kendaraan Lain</bslabel></div> -->
            <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
              <div class="col-md-1"></div>
              <div class="col-md-9"></div>
              <div class="col-md-2" style="padding-right: 0px;padding-left: 0px;">
                <button ng-click="deleteThisRow(5)" class="btn btn-default">Hapus</button>
                <button ng-click="Add(5)" class="btn btn-default">Tambah</button>
              </div>
            </div>
            <div class="row" style="margin-left: 0px;">
                <div ui-grid="gridDataVehicle" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid">
                  <div class="ui-grid-nodata" style="margin-top:100px;" ng-show="!gridDataVehicle.data.length">No data available</div>
                </div>
            </div>
        </fieldset>
      <!-- </fieldset>   -->
      <!-- </div> -->
  </uib-tab>
<!-- </div>   -->
<!-- <div class="tab-pane" id="FA_&_SSC"> -->
  <uib-tab index="5" heading="Field Action" ng-hide="infoInstitusi">
      <!-- <h4 ng-class="{active:accordion==5}">
        <button ng-click="accordion=5" class="accordion">Informasi Field Action dan SSC</button>
        
      </h4>

      <div ng-show="accordion==5"> -->
        <!-- height: 150px; margin-top: 60px;overflow-y: scroll;-->

        <fieldset style="border:3px solid #CCCCCC;padding:10px;">
          <div class="col-md-12" style="border: 0px solid grey;">
          <!-- start -->
          <label> >> Riwayat Field Action dan SSC</label>
          <br>
          <div ng-init="showFA=true">
            <div>
            <!--  class="control-label col-lg-4" -->
              <label>
                <a href="" ng-show="!showFA" ng-click="showFA=!showFA">+</a>
                <a href="" ng-show="showFA" ng-click="showFA=!showFA">-</a>
                <a href="" ng-click="showFA=!showFA"> Field Action</a>
              </label>
            </div>
            <!--  class="col-lg-8 col-lg-offset-2" -->
            <div ng-show="showFA">
              <div ng-repeat="fa in faData">
              <!--  class="control-label col-lg-4" -->
                <label>{{$index+1}} Tanggal : {{fa.date}} { {{fa.description}} } </label>
                <!-- <label>{{car}}</label> -->
              </div>
            </div>
          </div>

          <!-- <div ng-init="showSSC=false">
            <div>
              <label>
                <a href="" ng-show="!showSSC" ng-click="showSSC=!showSSC">+</a>
                <a href="" ng-show="showSSC" ng-click="showSSC=!showSSC">-</a>
                <a href="" ng-click="showSSC=!showSSC"> Special Service Campaign</a>
              </label>
            </div>
            <div ng-show="showSSC">
              <div ng-repeat="ssc in sscData">
              <label>{{$index+1}} Tanggal : {{ssc.date}} {Metode : {{ssc.metode}}, Status : {{ssc.xstatus}} } </label>
              </div>
            </div>
          </div> -->
          <!-- end -->
          
          </div>
        </fieldset> 
      <!-- </div> -->
  </uib-tab>
  <!-- </div> -->
  <!-- <div class="tab-pane" id="Riwayat_Ketidakpuasaan_Pelanggan"> -->
  <uib-tab index="6" heading="Suara Pelanggan">      
      <!-- <h4 ng-class="{active:accordion==6}">
        <button ng-click="accordion=6" class="accordion">Informasi Ketidakpuasan Pelanggan</button>
       
      </h4>
      <div ng-show="accordion==6"> -->
        <!-- height: 150px; margin-top: 60px;overflow-y: scroll;-->
        <fieldset style="border:3px solid #CCCCCC;padding:10px;">
          <div class="col-md-12" style="border: 0px solid grey;">
              
              <!-- start -->
          <label> >> Riwayat Ketidakpuasan Pelanggan</label>
          <br>
          <div ng-init="showCSL=true">
            <div>
            <!--  class="control-label col-lg-4" -->
              <label>
                <a href="" ng-show="!showCSL" ng-click="showCSL=!showCSL">+</a>
                <a href="" ng-show="showCSL" ng-click="showCSL=!showCSL">-</a>
                <a href="" ng-click="showCSL=!showCSL"> CSL</a>
              </label>
            </div>
            <!--  class="col-lg-8 col-lg-offset-2" -->
            <div ng-show="showCSL">
              <div ng-repeat="csl in cslData">
              <!--  class="control-label col-lg-4" -->
                <label>{{$index+1}} Tanggal : {{csl.date}} { {{csl.description}} } </label> <a href="" ng-click="detailCSL(csl.id)">Detail</a>
                <!-- <label>{{car}}</label> -->
              </div>
            </div>
          </div>
          <div ng-init="showIDI=false">
            <div>
            <!--  class="control-label col-lg-4" -->
              <label>
                <a href="" ng-show="!showIDI" ng-click="showIDI=!showIDI">+</a>
                <a href="" ng-show="showIDI" ng-click="showIDI=!showIDI">-</a>
                <a href="" ng-click="showIDI=!showIDI"> IDI</a>
              </label>
            </div>
            <!--  class="col-lg-8 col-lg-offset-2" -->
            <div ng-show="showIDI">
              <div ng-repeat="idi in idiData">
              <!--  class="control-label col-lg-4" -->
                <label>{{$index+1}} Tanggal : {{idi.date}} { {{idi.description}} } </label>
                <!-- <label>{{bike}}</label> -->
              </div>
            </div>
          </div>
          <div ng-init="showComplain=false">
            <div>
            <!--  class="control-label col-lg-4" -->
              <label>
                <a href="" ng-show="!showComplain" ng-click="showComplain=!showComplain">+</a>
                <a href="" ng-show="showComplain" ng-click="showComplain=!showComplain">-</a>
                <a href="" ng-click="showComplain=!showComplain"> Keluhan dan Permintaan Pelanggan</a>
              </label>
            </div>
            <!--  class="col-lg-8 col-lg-offset-2" -->
            <div ng-show="showComplain">
              <div ng-repeat="compl in complainData">
              <!--  class="control-label col-lg-4" -->
                <label>{{$index+1}} Tanggal : {{compl.date}} { {{compl.description}} } </label>
                <!-- <label>{{bike}}</label> -->
              </div>
            </div>
          </div>
          <div ng-init="showCS=false">
            <div>
            <!--  class="control-label col-lg-4" -->
              <label>
                <a href="" ng-show="!showCS" ng-click="showCS=!showCS">+</a>
                <a href="" ng-show="showCS" ng-click="showIDI=!showCS">-</a>
                <a href="" ng-click="showCS=!showCS"> Customer Survey</a>
              </label>
            </div>
            <!--  class="col-lg-8 col-lg-offset-2" -->
            <div ng-show="showCS">
              <div ng-repeat="cs in csData">
              <!--  class="control-label col-lg-4" -->
                <label>{{$index+1}} {{cs.description}} {} </label>
                <!-- <label>{{bike}}</label> -->
              </div>
            </div>
          </div>
          
              
          </div>
        </fieldset>
  </uib-tab>
  <!-- </div> -->
  <!-- <div class="tab-pane" id="Riwayat_Perubahan_Data"> -->
  <uib-tab index="7" heading="Riwayat Perubahan Data">            

      <!-- <h4 ng-class="{active:accordion==7}">
        <button ng-click="accordion=7" class="accordion">Informasi Point Pelanggan</button>
      </h4> -->
      <!-- <div ng-show="accordion==7">
        <fieldset style="border:3px solid #e2e2e2;padding:10px">
          <p class="accordion-content">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
        </fieldset>  
      </div> -->

      <!-- <h4 ng-class="{active:accordion==8}">
        <button ng-click="accordion=8" class="accordion">Riwayat Perubahan Data Pelanggan</button>
        
      </h4>
      <div ng-show="accordion==8"> -->
        <fieldset style="border:3px solid #e2e2e2;padding:10px">
          <!-- <p class="accordion-content">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p> -->
          <div class="row" style="margin-left: 0px;">
              <div ui-grid="gridDataLogHistory" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid">
                <div class="ui-grid-nodata" style="margin-top:100px;" ng-show="!gridDataLogHistory.data.length">No data available</div>
              </div>
          </div>
        </fieldset>  
      <!-- </div> -->
  </uib-tab>
</uib-tabset>
  <!-- </div> -->
<!-- </div> -->
      <br>
      <br>
      
  </div>
</div>
<!-- <div id="allInstitusi" ng-hide="alldataInstitusi">
    <div ng-init="accordion=1">
      <h4 ng-class="{active:accordion==1}">
        <button ng-click="accordion=1" class="accordion">Informasi Pelanggan</button>
      
      </h4>

      <div ng-show="accordion==1">
          
      </div>
    </div>
</div> -->

        <!-- <div ui-grid="grid" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid" >
                <div class="ui-grid-nodata" style="margin-top:100px;" ng-show="!grid.data.length" >No data available</div>
        </div> -->


<!-- lupa toyota id -->
    <div id="forgotPassword" ng-hide="forgotPass">
        <fieldset style="border:5px solid #e2e2e2;padding:20px">
          <legend style="width:inherit">Lupa Id Toyota  </legend>
        
          <!-- <div class="row">
            <div class="col-md-12">
              <bslabel>Masukan Nama Pelanggan sesuai Toyota ID terdaftar</bslabel>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="row" style="margin-left: 0px;">
                  <div class="col-md-3">
                    <bslabel>Nama Pelanggan</bslabel>    
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" name="name" ng-model="mForgot.name" placeholder="" required>    
                  </div>
                  <div class="col-md-2"></div>
              </div>
            </div>
          </div> -->

          <div class="row"></div>

          <div class="row">
            <div class="col-md-12">
              <bslabel>Pilih metode pemulihan Toyota ID sesuai informasi yang pernah tersimpan pada sistem</bslabel>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
                <div class="row"  style="margin-left: 0px;">
                  <div class="col-md-3">
                      <div class="radio">
                        <label><input type="radio" ng-model="mForgot.flag" ng-value="filterForgot[0]">Nomor Handphone</label>
                      </div>  
                  </div>
                  <div class="col-md-6">
                      <input type="text" name="optname" ng-disabled="mForgot.flag.key != filterForgot[0].key" ng-model="filterForgot[0].value" class="form-control">
                  </div>
                </div>
                <div class="row" style="margin-left: 0px;">
                  <div class="col-md-3">
                      <div class="radio">
                        <label><input type="radio" ng-model="mForgot.flag" ng-value="filterForgot[1]">Email</label>
                      </div>  
                  </div>
                  <div class="col-md-6">
                      <input type="text" name="optname" ng-disabled="mForgot.flag.key != filterForgot[1].key" ng-model="filterForgot[1].value" class="form-control">
                  </div>
                </div>
            </div>
          </div>
          <!-- {{mForgot}} -->
          <div class="row"></div>

          <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-1">
              <button type="button" class="btn btn-default" ng-click="cancelPop(0);">BATAL</button>
            </div>
            <div class="col-md-4">
                <button ng-click="cariPass()" class="btn btn-default">
                  Cari
                </button>
            </div>
          </div>
        </fieldset>
    </div>

<!--  add/edit addres (accordion 1) -->
<!-- <form ng-hide="address"> -->
<div ng-hide="address">
  <div class="row">
  <fieldset style="border:3px solid #e2e2e2;padding:20px">
  <form name="addressForm" ng-submit="savePop(1)" novalidate>
  <div class="row">
    <div class="col-md-4">
        
          
          <!-- {{mAddress}} -->
          <div class="form-group" ng-class="{ 'has-error' : addressForm.contact.$invalid && !addressForm.contact.$pristine }">
                  <bsreqlabel>Kategori Kontak</bsreqlabel>
                  <bsselect name="contact"
                            ng-model="mAddress.contact"
                            data="categoryContact"
                            item-text="name"
                            item-value="id"
                            placeholder="Pilih Kategory Kontak..."
                            skip-disable="true"

                            on-select="selectPendapatan(selected)"
                            icon="fa fa-taxi"
                            required=true>
                  </bsselect> 
              <p ng-show="addressForm.contact.$invalid && !addressForm.contact.$pristine" class="help-block">Kategori Kontak Tidak Boleh Kosong.</p>
          </div>

          <div class="form-group" >
            <bslabel>No Telephone</bslabel>
              <div class="row" style="margin-left: 0px;"><input type="number" class="form-control" skip-disable="true" name="phone" ng-model="mAddress.phone"></div>  
          </div>
                    
                    
                    <!-- <p ng-show="addressForm.phone.$invalid && !addressForm.phone.$pristine" class="help-block">No Telephone Tidak Boleh Kosong.</p> -->
          <!-- </div> -->

          <div class="form-group" ng-class="{ 'has-error' : addressForm.add.$invalid && !addressForm.add.$pristine }">
              <bsreqlabel>Alamat</bsreqlabel>
              <input type="text" name="add" class="form-control" skip-disable="true" ng-model="mAddress.add" required>
              <p ng-show="addressForm.add.$invalid && !addressForm.add.$pristine" class="help-block">Alamat Tidak Boleh Kosong.</p>
          </div>

          <div class="form-group">
            <bslabel>RT/RW</bslabel>
            <input type="text" name="rt" class="form-control" skip-disable="true" ng-model="mAddress.rt">
                    <!-- <p ng-show="addressForm.rt.$invalid && !addressForm.rt.$pristine" class="help-block">RT RW Tidak Boleh Kosong.</p> -->
          </div>
          
          
          

            
                
                <!-- <div class="col-md-7"></div> -->
          <!-- </form> -->
        
      </div>
      <div class="col-md-4">
          <div class="form-group" ng-class="{ 'has-error' : addressForm.propinsi.$invalid && !addressForm.propinsi.$pristine }">
              <bsreqlabel>Provinsi</bsreqlabel>
              <bsselect name="propinsi"
                            ng-model="mAddress.provinsi"
                            data="provinsiData"
                            item-text="name"
                            item-value="id"
                            placeholder="Pilih Propinsi..."
                            on-select="selectPendapatan(selected)"
                            icon="fa fa-taxi"
                            skip-disable="true"
                            required=true>
              </bsselect>
              <p ng-show="addressForm.propinsi.$invalid && !addressForm.propinsi.$pristine" class="help-block">Propinsi Tidak Boleh kosong.</p>
          </div>
          
          <div class="form-group" ng-class="{ 'has-error' : addressForm.kabupaten.$invalid && !addressForm.kabupaten.$pristine }">
              <bsreqlabel>Kabupaten/Kota</bsreqlabel>
              <bsselect name="kabupaten"
                            ng-model="mAddress.kabupaten"
                            data="kabupatenData"
                            item-text="name"
                            item-value="id"
                            placeholder="Pilih Kabupaten/Kota..."
                            skip-disable="true"
                            ng-disabled="mAddress.provinsi == undefined"
                            on-select="selectPendapatan(selected)"
                            icon="fa fa-taxi"
                            required=true>
              </bsselect>

              <p ng-show="addressForm.kabupaten.$invalid && !addressForm.kabupaten.$pristine" class="help-block">Kabupaten/Kota Tidak Boleh kosong.</p>
            </div> 
            
            <div class="form-group" ng-class="{ 'has-error' : addressForm.kecamatan.$invalid && !addressForm.kecamatan.$pristine }">
              <bsreqlabel>Kecamatan</bsreqlabel>
              <bsselect name="kecamatan"
                          ng-model="mAddress.kecamatan"
                          data="kecamatanData"
                          item-text="name"
                          item-value="id"
                          placeholder="Pilih Kecamatan..."
                          skip-disable="true"
                          ng-disabled="mAddress.kabupaten == undefined"
                          on-select="selectPendapatan(selected)"
                          icon="fa fa-taxi"
                          required=true>
              </bsselect>
              <p ng-show="addressForm.kecamatan.$invalid && !addressForm.kecamatan.$pristine" class="help-block">Kecamatan Tidak Boleh kosong</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : addressForm.kelurahan.$invalid && !addressForm.kelurahan.$pristine }">
              <bslabel>Kelurahan</bslabel>
              <bsselect name="kelurahan"
                          ng-model="mAddress.kelurahan"
                          data="kelurahanData"
                          item-text="name"
                          item-value="id"
                          placeholder="Pilih Kelurahan..."
                          skip-disable="true"
                          ng-disabled="mAddress.kecamatan == undefined"
                          on-select="selectPendapatan(selected)"
                          icon="fa fa-taxi"
                          required=true>
              </bsselect>
              <p ng-show="addressForm.kelurahan.$invalid && !addressForm.kelurahan.$pristine" class="help-block">Kelurahan Tidak Boleh kosong.</p>
            </div>

      </div>
      <div class="col-md-4">
          <div class="form-group">
                    <bslabel style="margin-top: 5px;">Kode Pos</bslabel>
                    <input type="text" name="KodePos" class="form-control" skip-disable="true" ng-model="mAddress.KodePos">
                    <!-- <p ng-show="addressForm.KodePos.$invalid && !addressForm.KodePos.$pristine" class="help-block">Kode Pos Tidak Boleh Kosong.</p> -->
          </div>

      </div>
    </div>
        <div class="row">
              <button type="button" class="btn btn-default" ng-click="cancelPop(1);">BATAL</button>
              <button type="submit" ng-disabled="addressForm.$invalid" class="btn btn-default">SIMPAN</button>
        </div>

    </form>
    </fieldset>
  </div>
</div>


<!--  add/edit family (accordion 2) -->
<div ng-hide="afamily">
  <fieldset style="border:3px solid #e2e2e2;padding:20px">
    <form name="familyForm" ng-submit="savePop(2)" novalidate>
      <div class="row">
        <div class="col-md-5">
      

                
                <div class="form-group" ng-class="{ 'has-error' : familyForm.categoryFamily.$invalid && !familyForm.categoryFamily.$pristine }">
                    <bsreqlabel>Kategori Keluarga</bsreqlabel>
                    <bsselect name="categoryFamily"
                            ng-model="mFamily.CategoryFamily"
                            data="catFamily"
                            item-text="name"
                            item-value="id"
                            skip-disable="true"
                            placeholder="Pilih Kategory Keluarga..."
                            on-select="selectPendapatan(selected)"
                              icon="fa fa-taxi"
                              required=true>
                    </bsselect> 
                    <p ng-show="familyForm.categoryFamily.$invalid && !familyForm.categoryFamily.$pristine" class="help-block">Kategori Keluarga Tidak Boleh Kosong.</p>
                </div>
                
                <div class="form-group" ng-class="{ 'has-error' : familyForm.name.$invalid && !familyForm.name.$pristine }">
                    <bsreqlabel>Nama</bsreqlabel>
                    <input type="text" name="name" class="form-control" skip-disable="true" ng-model="mFamily.name" required>
                    <p ng-show="familyForm.name.$invalid && !familyForm.name.$pristine" class="help-block">Nama Tidak Boleh Kosong.</p>
                </div>

                <div class="row" style="margin-left:0px;">
                  <bslabel>Jenis Kelamin</bslabel>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-6">
                        <div class="radio">
                          <label><input type="radio" name="gender" skip-disable="true" ng-model="mFamily.gender" value="1">Laki Laki</label>
                        </div>  
                    </div>
                    <div class="col-md-6">
                        <div class="radio">
                          <label><input type="radio" name="gender" skip-disable="true" ng-model="mFamily.gender" value="2">Perempuan</label>
                        </div>
                    </div>
                    <!-- <p ng-show="familyForm.gender.$invalid && !familyForm.gender.$pristine" class="help-block">Jenis Kelamin Tidak Boleh Kosong.</p> -->
                  </div>
                </div>

                <div class="form-group">
                    <bslabel>Keterangan</bslabel>
                    <input type="text" name="desc" skip-disable="true" class="form-control" ng-model="mFamily.desc">
                    <!-- <p ng-show="familyForm.desc.$invalid && !familyForm.desc.$pristine" class="help-block">Nama Tidak Boleh Kosong.</p> -->
                </div>
                
        </div>
        <div class="col-md-5">
              <div class="form-group">
                  <!--  ng-class="{ 'has-error' : familyForm.phone.$invalid && !familyForm.phone.$pristine }" -->
                    <bslabel>No Handphone</bslabel>
                    <input type="text" name="phone" skip-disable="true" class="form-control" ng-model="mFamily.phone">
                    <!-- <p ng-show="familyForm.phone.$invalid && !familyForm.phone.$pristine" class="help-block">No Handphone Tidak Boleh Kosong.</p> -->
              </div>

              <div class="form-group">
                    <!--  ng-class="{ 'has-error' : familyForm.placeBirth.$invalid && !familyForm.placeBirth.$pristine }" -->
                    <bslabel>Tempat Lahir</bslabel>
                    <input type="text" name="placeBirth" class="form-control" skip-disable="true" ng-model="mFamily.placeBirth" required>
                    <!-- <p ng-show="familyForm.placeBirth.$invalid && !familyForm.placeBirth.$pristine" class="help-block">Tempat Lahir Tidak Boleh Kosong.</p> -->
              </div>

              <div class="form-group">
                    <!--  ng-class="{ 'has-error' : familyForm.dateBirth.$invalid && !familyForm.dateBirth.$pristine }" -->
                    <bslabel>Tanggal Lahir</bslabel>
                    <bsdatepicker name="dateBirth" ng-model="mFamily.dateBirth" skip-disable="true" date-options="dateOptions" required></bsdatepicker>
                    <!-- <p ng-show="familyForm.dateBirth.$invalid && !familyForm.dateBirth.$pristine" class="help-block">Tanggal Lahir Tidak Boleh Kosong.</p> -->
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-default" ng-click="cancelPop(2);">BATAL</button>
          <button type="submit" ng-disabled="familyForm.$invalid" class="btn btn-default">SIMPAN</button>
        </div>
          
      </div>
    </form>
  </fieldset>
</div>


<!--  add/edit Info Preferensi (accordion 3a) -->
<div ng-hide="aInfoPreferensi">
  <div class="row">
    <div class="col-md-5">
      <fieldset style="border:3px solid #e2e2e2;padding:20px">
        <form name="preferensiForm" ng-submit="savePop(3)" novalidate>

                
                <!-- <div class="form-group" ng-class="{ 'has-error' : preferensiForm.preferensi.$invalid && !preferensiForm.preferensi.$pristine }">
                    <bslabel>Jenis Informasi Preferensi</bslabel>
                    <input type="text" name="preferensi" class="form-control" ng-model="mPreferensi.preferensi" required>
                    <p ng-show="preferensiForm.preferensi.$invalid && !preferensiForm.preferensi.$pristine" class="help-block">Jenis Preferensi Tidak Boleh Kosong.</p>
                </div> -->
                <div class="row">
                  <div class="col-md-7"></div>
                  <div class="col-md-5">
                      <button type="button" class="btn btn-default" ng-click="newPreferensi(1);">Jenis Preferensi baru</button>  
                  </div>
                </div>
                
                <div class="row">

                  <div class="col-md-12">
                      <bslabel>Jenis Informasi Preferensi</bslabel>
                      <div class="form-group" ng-class="{ 'has-error' : preferensiForm.preferensiId.$invalid && !preferensiForm.preferensiId.$pristine }">
                      <bsselect name="InformasiPreferensi"
                              ng-model="preferensiForm.preferensiId"
                              data="[{id:1,name:'Minuman Favorit'},{id:2,name:'Makanan Favorit'},{id:3,name:'Olahraga Favorit'}]"
                              item-text="name"
                              item-value="id"
                              skip-disable="true"
                              ng-disabled="newPref"
                              placeholder="Pilih Preferensi..."
                              on-select="selectPreferensi(selected)"
                              icon="fa fa-group"
                              ng-required="!newPref">
                      </bsselect>
                      <p ng-show="preferensiForm.preferensiId.$invalid && !preferensiForm.preferensiId.$pristine" class="help-block">Jenis Preferensi Tidak Boleh Kosong.</p>
                  </div>
                  
                </div>
                <div class="row">
                      
                </div>
                <div class="row" ng-show="newPref" style="margin-top:10px;margin-left:0px;">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : preferensiForm.preferensi.$invalid && !preferensiForm.preferensi.$pristine }">
                        <!--  }" -->
                        <!-- <bslabel>Jenis Informasi Preferensi</bslabel> -->
                        <input type="text" name="preferensi" class="form-control" skip-disable="true" ng-model="mPreferensi.preferensi" placeholder="Preferensi Baru" ng-required="newPref">
                        <p ng-show="preferensiForm.preferensi.$invalid && !preferensiForm.preferensi.$pristine" class="help-block">Jenis Preferensi Tidak Boleh Kosong.</p>
                    </div>  
                  </div>
                </div>
                
                <div class="row" style="margin-left:0px;">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : preferensiForm.desc.$invalid && !preferensiForm.desc.$pristine }">
                        <bslabel>Keterangan</bslabel>
                        <input type="text" name="desc" class="form-control" skip-disable="true" ng-model="mPreferensi.desc" required>
                        <p ng-show="preferensiForm.desc.$invalid && !preferensiForm.desc.$pristine" class="help-block">Keterangan tidak boleh kosong.</p>
                    </div>  
                  </div>
                    
                </div>
                
                <div class="row"  style="margin-left:0px;">
                  <div class="col-md-12">
                      <button type="button" class="btn btn-default" ng-click="cancelPop(3);">BATAL</button>
                      <button type="submit" ng-disabled="preferensiForm.$invalid" class="btn btn-default">SIMPAN</button>
                  </div>
                </div>
                

                
        </form>
      </fieldset>
    </div>
  </div>
</div>



<!--  add/edit SocialMedia (accordion 3b) -->
<div ng-hide="aSosMed">
  <div class="row">
    <div class="col-md-5">
      <fieldset style="border:3px solid #e2e2e2;padding:20px">
        <form name="sosmedForm" ng-submit="savePop(4)" novalidate>
                

                <div class="row">
                  <div class="col-md-7"></div>
                  <div class="col-md-5">
                      <button type="button" class="btn btn-default" ng-click="newPreferensi(2);">Jenis Sosial Media baru</button>  
                  </div>
                </div>
                <bslabel>Jenis Sosial Media</bslabel>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group" ng-class="{ 'has-error' : sosmedForm.sosialId.$invalid && !sosmedForm.sosialId.$pristine }">
                      <bsselect name="InformasiSosmed"
                              ng-model="sosmedForm.sosialId"
                              data="[{id:1,name:'Facebook'},{id:2,name:'Twitter'},{id:3,name:'Path'}]"
                              item-text="name"
                              item-value="id"
                              skip-disable="true"
                              ng-disabled="newSosmed"
                              placeholder="Pilih Sosial..."
                              on-select="selectSosial(selected)"
                              icon="fa fa-users"
                              ng-required="!newSosmed">
                      </bsselect>
                      <p ng-show="sosmedForm.sosialId.$invalid && !sosmedForm.sosialId.$pristine" class="help-block">Jenis Media Sosial Tidak Boleh Kosong.</p>
                      </div>
                  </div>
                <div class="row"  style="margin-left:0px;" ng-show="newSosmed">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : sosmedForm.sosial.$invalid && !sosmedForm.sosial.$pristine }">
                        <bslabel>Jenis Social media</bslabel>
                        <input type="text" name="sosial" class="form-control"  skip-disable="true" ng-model="mSosmed.sosial" ng-required="newSosmed">
                        <p ng-show="sosmedForm.sosial.$invalid && !sosmedForm.sosial.$pristine" class="help-block">Jenis Media Sosial Tidak Boleh Kosong.</p>
                    </div>
                  </div>  
                </div>
                
                <div class="row"  style="margin-left:0px;">
                  <div class="col-md-12">
                      <div class="form-group" ng-class="{ 'has-error' : sosmedForm.desc.$invalid && !sosmedForm.desc.$pristine }">
                        <bslabel>Keterangan</bslabel>
                        <input type="text" name="desc" class="form-control" skip-disable="true" ng-model="mSosmed.desc" required>
                        <p ng-show="sosmedForm.desc.$invalid && !sosmedForm.desc.$pristine" class="help-block">Keterangan tidak boleh kosong.</p>
                    </div>
                  </div>
                </div>
                
                
                <div class="row"  style="margin-left:0px;">
                  <div class="col-md-12">
                      <div class="form-group" ng-class="{ 'has-error' : sosmedForm.xnote.$invalid && !sosmedForm.xnote.$pristine }">
                        <label> <input type="checkbox" name="xnote" skip-disable="true" ng-model="mSosmed.xnote"
                             ng-true-value=1 ng-false-value=0> Sering Digunakan :
                        </label>
                      </div>    
                  </div>
                </div>
                
                <div class="row"  style="margin-left:0px;">
                  <div class="col-md-12">
                      <button type="button" class="btn btn-default" ng-click="cancelPop(4);">BATAL</button>
                      <button type="submit" ng-disabled="sosmedForm.$invalid" class="btn btn-default">SIMPAN</button>    
                  </div>
                </div>
                

                
        </form>
      </fieldset>
    </div>
  </div>
</div>


<!--  add/edit vehicle (accordion 4) -->

<div ng-hide="vehicle">
  <div class="row">
    <div class="col-md-5">
        <fieldset style="border:3px solid #e2e2e2;padding:20px">
          <form name="vehicleForm" ng-submit="savePop(5)" novalidate>          
          <!-- {{mAddress}} -->
          <div class="form-group" ng-class="{ 'has-error' : vehicleForm.merkMobil.$invalid && !vehicleForm.merkMobil.$pristine }">
                    <bsreqlabel>Merk Mobil</bsreqlabel>
                    <bsselect name="merkMobil"
                            ng-model="mVehicle.merk"
                            data="[{id:1,name:'Mitshubishi'},{id:2,name:'Daihatsu'},{id:3,name:'Nissan'}]"
                            item-text="name"
                            item-value="id"
                            skip-disable="true"
                            placeholder="Pilih Merk Mobil..."
                            on-select="selectPendapatan(selected)"
                            icon="fa fa-taxi"
                            required=true>
                    </bsselect> 
                    <p ng-show="vehicleForm.merkMobil.$invalid && !vehicleForm.merkMobil.$pristine" class="help-block">Merek Mobil Tidak Boleh Kosong.</p>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : vehicleForm.kategoriMobil.$invalid && !vehicleForm.kategoriMobil.$pristine }">
                    <bsreqlabel>Kategori Mobil</bsreqlabel>
                    <bsselect name="kategoriMobil"
                            ng-model="mVehicle.category"
                            data="[{id:1,name:'Bus'},{id:2,name:'Truck'},{id:3,name:'Tronton'}]"
                            item-text="name"
                            item-value="id"
                            skip-disable="true"
                            placeholder="Pilih Category Kendaraan..."
                            ng-disabled="mVehicle.merk == undefined"
                            on-select="selectPendapatan(selected)"
                            icon="fa fa-taxi"
                            required=true>
                    </bsselect> 
                    <p ng-show="vehicleForm.kategoriMobil.$invalid && !vehicleForm.kategoriMobil.$pristine" class="help-block">Kategori Mobil Tidak Boleh Kosong.</p>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : vehicleForm.modelMobil.$invalid && !vehicleForm.modelMobil.$pristine }">
                    <bsreqlabel>Mobil</bsreqlabel>
                    <bsselect name="modelMobil"
                            ng-model="mVehicle.modelId"
                            data="[{id:1,name:'Lancer Evo'},{id:2,name:'Skyline'},{id:3,name:'GTR 2000'}]"
                            item-text="name"
                            item-value="id"
                            skip-disable="true"
                            placeholder="Pilih Model ..."
                            ng-disabled="mVehicle.category == undefined"
                            on-select="selectPendapatan(selected)"
                            icon="fa fa-taxi"
                            required=true>
                    </bsselect> 
                    <p ng-show="vehicleForm.modelMobil.$invalid && !vehicleForm.modelMobil.$pristine" class="help-block">Model Mobil Tidak Boleh Kosong.</p>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : vehicleForm.typeMobil.$invalid && !vehicleForm.typeMobil.$pristine }">
                    <bsreqlabel>Type</bsreqlabel>
                    <bsselect name="typeMobil"
                            ng-model="mVehicle.type"
                            data="[{id:1,name:'3.5 Yuuu'},{id:2,name:'2.9 TD'},{id:3,name:'ZX 9000'}]"
                            item-text="name"
                            item-value="id"
                            skip-disable="true"
                            placeholder="Pilih Type Mobil..."
                            ng-disabled="mVehicle.modelId == undefined"
                            on-select="selectPendapatan(selected)"
                            icon="fa fa-taxi"
                            required=true>
                    </bsselect> 
                    <p ng-show="vehicleForm.typeMobil.$invalid && !vehicleForm.typeMobil.$pristine" class="help-block">Type Mobil Tidak Boleh Kosong.</p>
          </div>
          
          <div class="form-group" ng-class="{ 'has-error' : vehicleForm.colourMobil.$invalid && !vehicleForm.colourMobil.$pristine }">
                    <bsreqlabel>Warna</bsreqlabel>
                    <bsselect name="colourMobil"
                            ng-model="mVehicle.colour"
                            data="[{id:1,name:'Transparan'},{id:2,name:'Putih'},{id:3,name:'Merah Maroon'}]"
                            item-text="name"
                            item-value="id"
                            skip-disable="true"
                            placeholder="Pilih Warna Mobil..."
                            ng-disabled="mVehicle.type == undefined"
                            on-select="selectPendapatan(selected)"
                            icon="fa fa-taxi"
                            required=true>
                    </bsselect> 
                    <p ng-show="vehicleForm.colourMobil.$invalid && !vehicleForm.colourMobil.$pristine" class="help-block">Warna Mobil Tidak Boleh Kosong.</p>
          </div>
          
          <div class="form-group" ng-class="{ 'has-error' : vehicleForm.nopol.$invalid && !vehicleForm.nopol.$pristine }">
                    <bsreqlabel>No Polisi</bsreqlabel>
                    <input type="text" name="nopol" class="form-control" skip-disable="true" ng-model="mVehicle.nopol" required>
                    <p ng-show="vehicleForm.nopol.$invalid && !vehicleForm.nopol.$pristine" class="help-block">No Polisi Tidak Boleh Kosong.</p>
          </div>
          
          <div class="form-group" ng-class="{ 'has-error' : vehicleForm.tahun.$invalid && !vehicleForm.tahun.$pristine }">
                    <bsreqlabel>Tahun Pembelian</bsreqlabel>
                    <input type="number" name="tahun" class="form-control" skip-disable="true" ng-model="mVehicle.tahun" required>
                    <p ng-show="vehicleForm.tahun.$invalid && !vehicleForm.tahun.$pristine" class="help-block">Tahun Pembelian Tidak Boleh Kosong.</p>
          </div>
          
          <div class="form-group" ng-class="{ 'has-error' : vehicleForm.price.$invalid && !vehicleForm.price.$pristine }">
                    <bsreqlabel>Harga Beli</bsreqlabel>
                    <input type="number" name="price" class="form-control" skip-disable="true" ng-model="mVehicle.price" required>
                    <p ng-show="vehicleForm.price.$invalid && !vehicleForm.price.$pristine" class="help-block">Harga Beli Tidak Boleh Kosong.</p>
          </div>
          
                <button type="button" class="btn btn-default" ng-click="cancelPop(5);">BATAL</button>
                <button type="submit" ng-disabled="vehicleForm.$invalid" class="btn btn-default">SIMPAN</button>

          </form>
        </fieldset>
    </div>
  </div>
</div>

</bsform-grid>
