    <div class="col-md-12" style="border: 0px solid grey;">
        <label> >> Riwayat Ketidakpuasan Pelanggan</label>
        <br>
        <div ng-init="showCSL=true">
            <div>
                <label>
                    <a href="" ng-show="!showCSL" ng-click="showCSL=!showCSL">+</a>
                    <a href="" ng-show="showCSL" ng-click="showCSL=!showCSL">-</a>
                    <a href="" ng-click="showCSL=!showCSL"> CSL</a>
                </label>
            </div>
            <div ng-show="showCSL">
                <div ng-repeat="csl in cslData">
                    <label>{{$index+1}} Tanggal : {{csl.date}} { {{csl.description}} } </label> <a href="" ng-click="detailCSL(csl.id)">Detail</a>
                </div>
            </div>
        </div>
        
        <div ng-init="showIDI=false">
            <div>
                <label>
                    <a href="" ng-show="!showIDI" ng-click="showIDI=!showIDI">+</a>
                    <a href="" ng-show="showIDI" ng-click="showIDI=!showIDI">-</a>
                    <a href="" ng-click="showIDI=!showIDI"> IDI</a>
                </label>
            </div>
            <div ng-show="showIDI">
                <div ng-repeat="idi in idiData">
                    <label>{{$index+1}} Tanggal : {{idi.date}} { {{idi.description}} } </label>
                </div>
            </div>
        </div>
        <div ng-init="showComplain=false">
            <div>
                <label>
                    <a href="" ng-show="!showComplain" ng-click="showComplain=!showComplain">+</a>
                    <a href="" ng-show="showComplain" ng-click="showComplain=!showComplain">-</a>
                    <a href="" ng-click="showComplain=!showComplain"> Keluhan dan Permintaan Pelanggan</a>
                </label>
            </div>
            <div ng-show="showComplain">
                <div ng-repeat="compl in complainData">
                    <label>{{$index+1}} Tanggal : {{compl.date}} { {{compl.description}} } </label>
                </div>
            </div>
        </div>
        <div ng-init="showCS=false">
            <div>
                <label>
                    <a href="" ng-show="!showCS" ng-click="showCS=!showCS">+</a>
                    <a href="" ng-show="showCS" ng-click="showIDI=!showCS">-</a>
                    <a href="" ng-click="showCS=!showCS"> Customer Survey</a>
                </label>
            </div>
            <div ng-show="showCS">
                <div ng-repeat="cs in csData">
                    <label>{{$index+1}} {{cs.description}} {} </label>
                </div>
            </div>
        </div>
    </div>


