<div>
    <div class="ui blurring segment">
        <fieldset style="border:1px solid #e2e2e2;padding:10px;">
          

            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Toyota ID</label>
                        <input type="text" class="form-control" style="color:red;font-size:28px;" ng-model="mCustData.tytId" skip-enable="xenable"  ng-disabled="true">
                    </div>
                    <div class="form-group">
                        <bsreqlabel>Nama Pelanggan</bsreqlabel>
                        <input type="text" class="form-control" ng-model="mCustData.CustomerListInstitution[0].Name" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label>Sektor Bisnis</label>
                        <!-- <input type="text" class="form-control" ng-model="acc21.bisnis" ng-disabled="valueChange"> -->
                        <bsselect name="kategoriPelangganInstitusi" ng-model="mCustData.CustomerListInstitution[0].SectorBusinessId" data="sektorBisnisData" item-text="SectorBusinessName" item-value="SectorBusinessId" placeholder="Pilih Sektor Bisnis..."  on-select="selectAgama(selected)" icon="fa fa-taxi">
                        </bsselect>
                    </div>
                </div>
                <!-- ng-model="mInstitusiData.CustomerCorrespondentId" -->
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Peran Pelanggan</label>
                        <input type="text" class="form-control" value="Pemilik" skip-enable="xenable" ng-disabled="true">
                    </div>
                    <div class="form-group">
                        <label>Kategori Pelanggan</label>
                        <bsselect name="kategoriPelangganInstitusi" ng-model="mCustData.CustomerTypeId" data="categoryData" item-text="CustomerTypeDesc" item-value="CustomerTypeId" placeholder="Pilih Kategori..." icon="fa fa-taxi" skip-enable="xenable" ng-disabled="true"> <!-- on-select="selectAgama(selected)"  -->
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <label>Status Fleet</label>
                        <!-- <input type="text" class="form-control" ng-model="mInstitusiData[0].CustomerList.FleetId" ng-disabled="valueChange"> -->
                        <bsselect name="Fleet" ng-model="mCustData.FleetId" data="fleetData" item-text="Fleet" item-value="FleetId" placeholder="Pilih Status Fleet..." on-select="selectPendapatan(selected)" icon="fa fa-taxi">
                        </bsselect>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group" ng-hide="hNPWP">
                        <label>NPWP</label>
                        <input type="text" class="form-control" ng-model="mCustData.Npwp" maxlength="50">
                    </div>
                    <div class="form-group" ng-hide="hSIUP">
                        <label ng-hide="hSIP">SIUP</label>
                        <label ng-show="hSIP">SIP</label>
                        <input type="text" class="form-control" ng-model="mCustData.CustomerListInstitution[0].SIUP" maxlength="50">
                    </div>
                    <div class="form-group" ng-hide="hTDP">
                        <label>TDP</label>
                        <input type="text" class="form-control" ng-model="mCustData.CustomerListInstitution[0].TDP" maxlength="50">
                    </div>
                </div>
            </div>
        </fieldset>
    

<!-- <fieldset style="border:3px solid #e2e2e2;padding:10px">
    <div class="row" style="margin-left: 0px;">
        <fieldset style="border:1px solid #e2e2e2;padding:5px">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-5">
                    <bsreqlabel>Id Toyota</bsreqlabel>
                    <div class="row" style="margin-left: 0px; width:100%">
                        <input type="text" style="color: red;padding:10px;font-size:28px; width:100%" ng-model="acc21.toyotaId" ng-disabled="valueChange">
                    </div>
                    <bsreqlabel style="margin-top: 10px;">Nama Pelanggan</bsreqlabel>
                    <div class="row" style="margin-left: 0px;">
                        <input type="text" style="height: 34px; width:100% ;margin-top: 0px; padding:10px;" ng-model="acc21.name" style="width:100%" ng-disabled="valueChange">
                    </div>
                    <div class="row" style="margin-top: 10px;margin-left: 0px; ">
                        <bslabel>Sektor Bisnis</bslabel>
                    </div>
                    <div class="row" style="margin-left: 0px;">
                        <input type="text" style="height: 34px; width:100%; margin-top: 5px; padding:10px;" ng-model="acc21.bisnis" ng-disabled="valueChange">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row" style="margin-left: 0px; margin-top: 0px; ">
                        <bslabel>Peran Pelanggan</bslabel>
                    </div>
                    <div class="row" style="margin-left: 0px; margin-top: 5px; ">
                        <bsselect name="peranInstitusi" ng-model="acc21.peran" data="peran" item-text="name" item-value="id" placeholder="Pilih Peran..." ng-disabled=valueChange on-select="selectAgama(selected)" icon="fa fa-taxi">
                        </bsselect>
                    </div>
                    <div class="row" style="margin-top: 40px; margin-left: 0px;">
                        <bslabel>Kategori Pelanggan</bslabel>
                    </div>
                    <div class="row" style="margin-left: 0px; margin-top: 5px; ">
                        <bsselect name="kategoriPelangganInstitusi" ng-model="acc21.category" data="categoryData" item-text="name" item-value="id" placeholder="Pilih Kategori..." ng-disabled=valueChange on-select="selectAgama(selected)" icon="fa fa-taxi">
                        </bsselect>
                    </div>
                    <div class="row" style="margin-top: 10px; margin-left: 0px;">
                        <bslabel>Status Fleet</bslabel>
                    </div>
                    <div class="row" style="margin-left: 0px;">
                        <input type="text" style="height: 34px; width:100%; margin-top: 5px; padding:10px;" ng-model="acc21.fleet" ng-disabled="valueChange">
                    </div>
                </div>
                <div class="col-md-4">
                    <bslabel style="margin-top: 10px;">SIUP</bslabel>
                    <div class="row" style="margin-left: 0px;">
                        <input type="text" style="height: 34px; width:100%; margin-top: 5px; padding:10px;" ng-model="acc21.siup" ng-disabled="valueChange">
                    </div>
                    <div class="row" style="margin-top: 36px; margin-left: 0px;">
                        <bslabel>TDP</bslabel>
                    </div>
                    <div class="row" style="margin-left: 0px;">
                        <input type="text" style="height: 34px; width:100%; margin-top: 5px; padding:10px;" ng-model="acc1.tdp" ng-disabled="valueChange">
                    </div>
                    <bsreqlabel style="margin-top: 10px;">NPWP</bsreqlabel>
                    <div class="row" style="margin-left: 0px;">
                        <input type="text" style="height: 34px; width:100%;  padding:10px;" ng-model="acc21.NPWP" ng-disabled="valueChange">
                    </div>
                </div>
            </div>
        </fieldset> -->
    <!-- </div> 
    </fieldset>-->
    
    <!-- <div class="row" style="margin-top: 10px; margin-left:0px;"> -->
        <fieldset style="border:1px solid #e2e2e2;padding:10px;margin-top:10px">
            <legend style="width:inherit">Informasi Penanggung Jawab</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nama Penanggung Jawab</label>
                        <input type="text" class="form-control" ng-model="mCustData.CustomerListInstitution[0].PICName" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label>Nomor Handphone Penanggung Jawab</label>
                        <input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="mCustData.CustomerListInstitution[0].PICHp" maxlength="12">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" ng-model="mCustData.CustomerListInstitution[0].PICEmail">
                        <!-- <input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="mCustData.CustomerListInstitution[0].PICEmail" maxlength="12"> -->
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Jabatan</label>
                        <bsselect name="jabatanInstitusi" ng-model="mCustData.CustomerListInstitution[0].PICPositionId" data="positionData" item-text="CustomerPositionName" item-value="CustomerPositionId" placeholder="Pilih Jabatan..."  on-select="selectAgama(selected)" icon="fa fa-user">
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <label>Departemen</label>
                        <!-- <input type="text" class="form-control" ng-model="mCustData.CustomerListInstitution.PICDepartment" ng-disabled="valueChange">  -->
                        <bsselect name="departemen" ng-model="mCustData.CustomerListInstitution[0].PICDepartmentId" data="departmentData" item-text="DepartmentName" item-value="DepartmentId" placeholder="Pilih Departemen..."  on-select="selectAgama(selected)" icon="fa fa-taxi">
                        </bsselect>
                    </div>
                </div>
                <!-- <div class="col-md-1"></div> -->
            </div>
            <!-- <div class="row" style="margin-top: 10px;">
                <div class="col-md-3" style="margin-left: 0px;">
                    <bslabel>Jabatan</bslabel>
                    <div class="row" style="margin-left: 0px;margin-top: 5px; padding:0px;">
                        <bsselect name="jabatanInstitusi" ng-model="acc21.jabatan" data="jabatanData" item-text="name" item-value="id" placeholder="Pilih Jabatan..." ng-disabled=valueChange on-select="selectAgama(selected)" icon="fa fa-taxi">
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-4">
                    <bslabel>Departemen</bslabel>
                    <div class="row" style="margin-left: 0px;margin-top: 5px;">
                        <input type="text" style="height: 34px; width:100%;margin-top: 0px; padding:0px;" ng-model="acc21.departemen" ng-disabled="valueChange">
                    </div>
                </div>
                <div class="col-md-5"></div>
            </div> -->
        </fieldset>
    </div>
    
    <!-- <div class="row" style="margin-top: 10px;">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button ng-click="deleteThisRow(21)" class="btn btn-default" ng-disabled="valueChange">Hapus</button>
            <button ng-click="Add(21)" class="btn btn-default" ng-disabled="valueChange">Tambah</button>
        </div>
    </div> -->
    <!-- <div class="row"></div> -->
    <!-- <div ng-disabled="valueChange"> -->
        <!-- <div ui-grid="gridDataAddressInstitusi" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid">
            <div class="ui-grid-nodata" style="margin-top:100px;" ng-show="!gridDataAddressInstitusi.data.length">No data available</div>
        </div> -->
        <!-- <div class="row" style="margin-left:0px;margin-top: 15px;margin-bottom: 5px;">
            <button ng-click="Add(21)" class="btn btn-default" ng-disabled="true">Tambah</button>
            <button ng-click="deleteThisRow(21)" class="btn btn-default"  ng-disabled="true">Hapus</button>
        </div> -->
        
        <!-- <bstrgrid grid-name="gridDataAddressInstitusi" controller="CustDataController" selected-rows="selectedAddressTTT">
        </bstrgrid> -->
    <!-- </div> -->


<br>
<br>
<!-- on-before-edit="onBeforeEditAddress" 
          list-title="Alamat Pelanggan"-->

    <span class="labelBsList label-primary">Alamat Pelanggan</span>
  <bslist
          name="address"
          data="gridDataAddressInstitusi.data"
          factory-name="CustData"
          m-id="CustomerAddressId"
          on-select-rows="onListSelectRows"
          selected-rows="listSelectedRows"
          confirm-save="true"
          list-model="lmModel"
          on-before-save="onBeforeSaveAddressInstitusi"
          on-after-save="onAfterSaveAddressInstitusi"
          on-before-edit="onBeforeEditAddress"
          on-before-delete="onBeforeDeleteAddressInstitusi"
          list-api="listApiAddress"

          modal-title="Alamat Pelanggan"
          button-settings="listButtonSettings"
          custom-button-settings-detail="listCustomButtonSettings"
  >
      <bslist-template>
          <p class="name"><strong>{{ lmItem.AddressCategory.AddressCategoryDesc }}</strong> <i class="glyphicon glyphicon-home" ng-show="{{lmItem.MainAddress}}" style="color:red"></i> <label ng-show="{{lmItem.MainAddress}}==1" style="color:red">(UTAMA)</label></p>
          <p>{{ lmItem.Address }} ,RT/RW : {{ lmItem.RT }}/{{ lmItem.RW }}</p>
          <p>Kelurahan : {{ lmItem.MVillage.VillageName }} ,Kecamatan : {{ lmItem.MVillage.MDistrict.DistrictName }} ,Kota/Kabupaten : {{ lmItem.MVillage.MDistrict.MCityRegency.CityRegencyName }}</p>
          <p>Provinsi : {{ lmItem.MVillage.MDistrict.MCityRegency.MProvince.ProvinceName }} , Kode Pos : {{ lmItem.MVillage.PostalCode }}, <i class="glyphicon glyphicon-envelope"></i> ,<i class="glyphicon glyphicon-phone-alt"></i> ({{ lmItem.Phone1 }}) -- <i class="glyphicon glyphicon-phone-alt"></i> ({{ lmItem.Phone2 }})</p>

          <div>

  <!--           <div class="col-md-4">
              <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" ng-model="lmItem.name">
              </div>
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" ng-model="lmItem.email">
              </div>
            </div> -->
          </div>
      </bslist-template>

      <!-- <bslist-detail-template>
          <p class="address"><strong>{{ ldItem.address }}</strong></p>
          <div class="city">{{ ldItem.city }}</div>
      </bslist-detail-template> -->


      <bslist-modal-form>

            <div>
               <div class="row">
                          
                    <div class="col-md-4">
                          <!-- ng-class="{ 'has-error' : addressForm.contact.$invalid && !addressForm.contact.$pristine }" -->
                          <div class="form-group" > 
                                  <bsreqlabel>Kategori Kontak</bsreqlabel>
                                  <bsselect name="contact"
                                            ng-model="lmModel.AddressCategoryId"
                                            data="categoryContact"
                                            item-text="AddressCategoryDesc"
                                            item-value="AddressCategoryId"
                                            placeholder="Pilih Kategory Kontak..."
                                            skip-disable="true"

                                            on-select="selectPendapatan(selected)"
                                            icon="fa fa-taxi"
                                            required=true>
                                  </bsselect> 
                              <!-- <p ng-show="addressForm.contact.$invalid && !addressForm.contact.$pristine" class="help-block">Kategori Kontak Tidak Boleh Kosong.</p> -->
                          </div>

                          <div class="form-group" >
                            <label>No Telephone 1</label>
                            <!-- <input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="phone" ng-model="lmModel.Phone1"  maxlength="12"> -->
                            <input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="phone" ng-model="lmModel.Phone1" maxlength="15">  
                          </div>

                          <div class="form-group" >
                            <label>No Telephone 2</label>
                            <!-- <input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="phone" ng-model="lmModel.Phone2"  maxlength="12">  -->
                            <input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="phone" ng-model="lmModel.Phone2" maxlength="15">  
                          </div>

                          <!--  ng-class="{ 'has-error' : addressForm.add.$invalid && !addressForm.add.$pristine }" -->
                          <div class="form-group">
                              <bsreqlabel>Alamat</bsreqlabel>
                              <!-- <input type="text" name="add" class="form-control" ng-model="lmModel.Address"  maxlength="50" required> -->
                              <input type="text" name="add" class="form-control" ng-model="lmModel.Address" required>
                              <!-- <p ng-show="addressForm.add.$invalid && !addressForm.add.$pristine" class="help-block">Alamat Tidak Boleh Kosong.</p> -->
                          </div>

                          <div class="form-group">
                            <div class="col-md-6">
                              <label>RT</label>
                              <input type="text" name="rt" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' skip-disable="true" ng-model="lmModel.RT">
                            </div>
                            <div class="col-md-6">
                              <label>RW</label>
                              <input type="text" name="rw" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' skip-disable="true" ng-model="lmModel.RW">
                            </div>
                                    
                          </div>

                      </div>
                      <div class="col-md-4">
                      <!--  ng-class="{ 'has-error' : addressForm.propinsi.$invalid && !addressForm.propinsi.$pristine }" -->
                      
                          <div class="form-group">
                              <bsreqlabel>Provinsi</bsreqlabel>
                              <bsselect name="propinsi"
                                            ng-model="lmModel.MVillage.MDistrict.MCityRegency.ProvinceId"
                                            data="provinsiData"
                                            item-text="ProvinceName"
                                            item-value="ProvinceId"
                                            placeholder="Pilih Propinsi..."
                                            on-select="selectProvince(selected,lmModel)"
                                            icon="fa fa-taxi"
                                            
                                            required=true>
                              </bsselect>
                              <!-- <p ng-show="addressForm.propinsi.$invalid && !addressForm.propinsi.$pristine" class="help-block">Propinsi Tidak Boleh kosong.</p> -->
                          </div>
                          <!-- ng-class="{ 'has-error' : addressForm.kabupaten.$invalid && !addressForm.kabupaten.$pristine }" -->
                          
                          <div class="form-group" >
                              <bsreqlabel>Kabupaten/Kota</bsreqlabel>
                              <bsselect name="kabupaten"
                                            ng-model="lmModel.MVillage.MDistrict.CityRegencyId"
                                            data="kabupatenData"
                                            item-text="CityRegencyName"
                                            item-value="CityRegencyId"
                                            placeholder="Pilih Kabupaten/Kota..."
                                            
                                            ng-disabled="lmModel.MVillage.MDistrict.MCityRegency.ProvinceId == undefined"
                                            on-select="selectRegency(selected,lmModel)"
                                            icon="fa fa-taxi"
                                            required=true>
                              </bsselect>

                              <!-- <p ng-show="addressForm.kabupaten.$invalid && !addressForm.kabupaten.$pristine" class="help-block">Kabupaten/Kota Tidak Boleh kosong.</p> -->
                            </div> 
                            <!--  ng-class="{ 'has-error' : addressForm.kecamatan.$invalid && !addressForm.kecamatan.$pristine }" -->
                            
                            <div class="form-group">
                              <bsreqlabel>Kecamatan</bsreqlabel>
                              <bsselect name="kecamatan"
                                          ng-model="lmModel.MVillage.DistrictId"
                                          data="kecamatanData"
                                          item-text="DistrictName"
                                          item-value="DistrictId"
                                          placeholder="Pilih Kecamatan..."
                                          
                                          ng-disabled="lmModel.MVillage.MDistrict.CityRegencyId == undefined || lmModel.MVillage.MDistrict.CityRegencyId == ''"
                                          on-select="selectDistrict(selected,lmModel)"
                                          icon="fa fa-taxi"
                                          required=true>
                              </bsselect>
                              <!-- <p ng-show="addressForm.kecamatan.$invalid && !addressForm.kecamatan.$pristine" class="help-block">Kecamatan Tidak Boleh kosong</p> -->
                            </div>
                            <!--  ng-class="{ 'has-error' : addressForm.kelurahan.$invalid && !addressForm.kelurahan.$pristine }" -->

                            <div class="form-group">
                              <label>Kelurahan</label>
                              <bsselect name="kelurahan"
                                          ng-model="lmModel.VillageId"
                                          data="kelurahanData"
                                          item-text="VillageName"
                                          item-value="VillageId"
                                          placeholder="Pilih Kelurahan..."
                                          ng-disabled="lmModel.MVillage.DistrictId == undefined || lmModel.MVillage.DistrictId == ''"
                                          on-select="selectVillage(selected, lmModel)"
                                          icon="fa fa-taxi"
                                          required=true>
                              </bsselect>
                              <!-- <p ng-show="addressForm.kelurahan.$invalid && !addressForm.kelurahan.$pristine" class="help-block">Kelurahan Tidak Boleh kosong.</p> -->
                            </div>

                            <div class="form-group">
                                    <label style="margin-top: 5px;">Kode Pos</label>
                                    <input type="text" name="PostalCodeId" class="form-control" ng-model="lmModel.MVillage.PostalCode" disabled>
                                    
                          </div>

                      </div>
                      <div class="col-md-4">
                          

                      </div>
                    </div>
            </div>

      </bslist-modal-form>

      

  </bslist>
  </div>
