<div>
    <!-- <div class="ui blurring segment"> -->

        <fieldset style="border:1px solid #e2e2e2;padding:10px;">

            <div class="row">
              
            <!-- {{personal.acc1}} -->
            
            <!-- {{mCustData.acc1[0].CustomerListIndividu}} -->
            
            <!-- {{mCustData.acc1[0].CustomerListIndividu[0].CustomerName}} -->
            <!-- {{personal.acc1.CustomerListIndividu[0].CustomerNickName}}
            {{personal.acc1.CustomerListIndividu.CustomerName}}
            {{personal.acc1.CustomerListIndividu.CustomerNickName}} -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Toyota ID</label>
                        <input type="text" class="form-control" style="color:red;font-size:28px;" ng-model="mCustData.acc1[0].tyId" skip-enable="xenable" ng-disabled="true">
                    </div>
                    <div class="row">
                    
                        <div class="col-md-8">
                            <div class="form-group">
                                <bsreqlabel>Nama Pelanggan</bsreqlabel>
                                <input type="text" class="form-control" ng-model="mCustData.acc1[0].CustomerListPersonal[0].CustomerName"  maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nama Panggilan</label>
                                <input type="text" class="form-control" ng-model="mCustData.acc1[0].CustomerListPersonal[0].CustomerNickName"  maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Peran Pelanggan</label>
                                <input type="text" class="form-control" skip-enable="xenable" value="Pemilik" ng-disabled="true">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Gelar Depan</label>
                                <input type="text" class="form-control" ng-model="mCustData.acc1[0].CustomerListPersonal[0].FrontTitle" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Gelar Belakang</label>
                                <input type="text" class="form-control" ng-model="mCustData.acc1[0].CustomerListPersonal[0].EndTitle" maxlength="50">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tempat Lahir</label>
                                <input type="text" class="form-control" ng-model="mCustData.acc1[0].CustomerListPersonal[0].BirthPlace" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tanggal Lahir</label>
                                <bsdatepicker ng-model="mCustData.acc1[0].CustomerListPersonal[0].BirthDate" date-options="dateOptions" ></bsdatepicker>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>KTP/KITAS</label>
                                <input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="mCustData.acc1[0].CustomerListPersonal[0].KTPKITAS" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>NPWP</label>
                                <input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="mCustData.acc1[0].Npwp" maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                      <label>Jenis Kelamin</label>
                      <bsradiobox ng-model="mCustData.acc1[0].CustomerListPersonal[0].CustomerGenderId"
                                  options="[{text:'Pria',value:1},{text:'Wanita',value:2}]"
                                  layout="H"
                                  >
                      </bsradiobox>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset style="border:1px solid #e2e2e2;padding:10px;margin-top:10px">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Kategori Pelanggan</label>
                        <bsselect name="category" ng-model="mCustData.acc1[0].CustomerTypeId" data="categoryData" item-text="CustomerTypeDesc" item-value="CustomerTypeId" placeholder="Pilih Category..." on-select="selectCategory(selected)" icon="fa fa-taxi" ng-disabled="true">
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <bscheckbox
                                ng-model="mCustData.acc1[0].CustomerListPersonal[0].PhoneStatus"
                                label="No Handphone 1"
                                true-value = "1"
                                false-value = "0"
                                ng-change="changePhoneStatus(1)">
                        </bscheckbox>
                        <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" ng-model="mCustData.acc1[0].CustomerListPersonal[0].Handphone1" maxlength="12">
                        <label style="color:red" ng-hide="show.phoneStatusValid1">No Handphone Sudah Ada Yang Menggunakan</label>
                    </div>
                    <div class="form-group">
                        <bscheckbox
                                ng-model="mCustData.acc1[0].CustomerListPersonal[0].PhoneStatus"
                                label="No Handphone 2"
                                true-value = "2"
                                false-value = "0"
                                ng-change="changePhoneStatus(2)"
                                >
                        </bscheckbox>
                        <input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="mCustData.acc1[0].CustomerListPersonal[0].Handphone2" maxlength="12">
                        <label style="color:red" ng-hide="show.phoneStatusValid2">No Handphone Sudah Ada Yang Menggunakan</label>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" ng-model="mCustData.acc1[0].CustomerListPersonal[0].Email">
                        <label style="color:red" ng-hide="show.mailStatus">Format Email Belum Benar</label>
                        <label style="color:red" ng-hide="show.mailStatusValid">Email Sudah Ada Yang Menggunakan</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Agama</label>
                        <bsselect name="agama" ng-model="mCustData.acc1[0].CustomerListPersonal[0].CustomerReligionId" data="agamaData" item-text="CustomerReligionName" item-value="CustomerReligionId" placeholder="Pilih Agama..." on-select="selectAgama(selected)" icon="fa fa-taxi">
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <label style="margin-bottom:10px;">Suku</label>
                        <bsselect name="suku" ng-model="mCustData.acc1[0].CustomerListPersonal[0].CustomerEthnicId" data="sukuData" item-text="CustomerEthnicName" item-value="CustomerEthnicId" placeholder="Pilih Suku..." on-select="selectSuku(selected)" icon="fa fa-taxi">
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <label style="margin-bottom:10px;">Bahasa</label>
                        <bsselect name="bahasa" ng-model="mCustData.acc1[0].CustomerListPersonal[0].CustomerLanguageId" data="bahasaData" item-text="CustomerLanguageName" item-value="CustomerLanguageId" placeholder="Pilih Bahasa..." on-select="selectBahasa(selected)" icon="fa fa-taxi">
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Status Fleet</label>
                        <!-- <input type="text" class="form-control" value="non fleet" ng-disabled="true"> -->
                        <bsselect name="Fleet" ng-model="mCustData.acc1[0].FleetId" data="fleetData" item-text="Fleet" item-value="FleetId" placeholder="Pilih Status Fleet..." on-select="selectPendapatan(selected)" icon="fa fa-taxi">
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <label style="margin-bottom:10px;">Status Pernikahan</label>
                        <bsselect name="Married" ng-model="mCustData.acc1[0].CustomerListPersonal[0].MaritalStatusId" data="marriedStatus" item-text="MaritalStatusName" item-value="MaritalStatusId" placeholder="Pilih Status Pernikahan..." on-select="selectPendapatan(selected)" icon="fa fa-taxi">
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <label style="margin-bottom:10px;">Tanggal Pernikahan</label>
                        <bsdatepicker ng-model="mCustData.acc1[0].CustomerListPersonal[0].MaritalDate" date-options="dateOptions"></bsdatepicker>

                    </div>
                    
                        
                    
                </div>
            </div>
        </fieldset>

        
        <!-- <sm-dimmer show="dimmerShow"></sm-dimmer> -->
    <!-- </div> -->

    <br>
    <!-- <p><i style="color:red">{{ lmItem.POperation.OperationDesc }}</i></p> -->
    <!-- <label style="color:blue"> Alamat Pelanggan</label> 
          list-title="Alamat Pelanggan"-->

    <span class="labelBsList label-primary">Alamat Pelanggan</span>
    <bslist
          name="address"
          data="gridDataAddress.data"
          factory-name="CustData"
          m-id="CustomerAddressId"
          on-select-rows="onListSelectRows"
          selected-rows="listSelectedRows"
          confirm-save="true"
          list-model="lmModel"
          list-api="listApiAddress"

          on-before-save="onBeforeSaveAddress"
          on-before-edit="onBeforeEditAddress"
          on-before-delete="onBeforeDeleteAddress"
          on-after-save="onAfterSaveAddress"
          on-before-new="onBeforeNewAddress"


          modal-title="Alamat Pelanggan"
          button-settings="listButtonSettings"
          custom-button-settings-detail="listCustomButtonSettings"
  >
      <bslist-template>
          <p class="name"><strong>{{ lmItem.AddressCategory.AddressCategoryDesc }}</strong> <i class="glyphicon glyphicon-home" ng-show="{{lmItem.MainAddress}}" style="color:red"></i> <label ng-show="{{lmItem.MainAddress}}==1" style="color:red">(UTAMA)</label></p>
          <p>{{ lmItem.Address }} ,RT/RW : {{ lmItem.RT }}/{{ lmItem.RW }}</p>
          <p>Kelurahan : {{ lmItem.MVillage.VillageName }} ,Kecamatan : {{ lmItem.MVillage.MDistrict.DistrictName }} ,Kota/Kabupaten : {{ lmItem.MVillage.MDistrict.MCityRegency.CityRegencyName }}</p>
          <p>Provinsi : {{ lmItem.MVillage.MDistrict.MCityRegency.MProvince.ProvinceName }} ,Kode Pos : {{ lmItem.MVillage.PostalCode }} ,<i class="glyphicon glyphicon-envelope"></i> , <i class="glyphicon glyphicon-phone-alt"></i> ({{ lmItem.Phone1 }}) -- <i class="glyphicon glyphicon-phone-alt"></i> ({{ lmItem.Phone2 }})</p>

          <div>

  <!--           <div class="col-md-4">
              <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" ng-model="lmItem.name">
              </div>
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" ng-model="lmItem.email">
              </div>
            </div> -->
          </div>
      </bslist-template>

      <!-- <bslist-detail-template>
          <p class="address"><strong>{{ ldItem.address }}</strong></p>
          <div class="city">{{ ldItem.city }}</div>
      </bslist-detail-template> -->


      <bslist-modal-form>

            <div>
               <div class="row">
                          
                    <div class="col-md-4">
                          <!-- ng-class="{ 'has-error' : addressForm.contact.$invalid && !addressForm.contact.$pristine }" -->
                          <div class="form-group" > 
                                  <bsreqlabel>Kategori Kontak</bsreqlabel>
                                  <bsselect name="contact"
                                            ng-model="lmModel.AddressCategoryId"
                                            data="categoryContact"
                                            item-text="AddressCategoryDesc"
                                            item-value="AddressCategoryId"
                                            placeholder="Pilih Kategory Kontak..."
                                            skip-disable="true"

                                            on-select="selectPendapatan(selected)"
                                            icon="fa fa-taxi"
                                            required=true>
                                  </bsselect> 
                              <!-- <p ng-show="addressForm.contact.$invalid && !addressForm.contact.$pristine" class="help-block">Kategori Kontak Tidak Boleh Kosong.</p> -->
                          </div>

                          <div class="form-group" >
                            <label>No Telephone 1</label>
                            <input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="phone" ng-model="lmModel.Phone1" maxlength="15">  
                          </div>

                          <div class="form-group" >
                            <label>No Telephone 2</label>
                            <input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="phone" ng-model="lmModel.Phone2" maxlength="15">  
                          </div>

                          <!--  ng-class="{ 'has-error' : addressForm.add.$invalid && !addressForm.add.$pristine }" -->
                          <div class="form-group">
                              <bsreqlabel>Alamat</bsreqlabel>
                              <input type="text" name="add" class="form-control" ng-model="lmModel.Address" maxlength="50" required>
                              <!-- <p ng-show="addressForm.add.$invalid && !addressForm.add.$pristine" class="help-block">Alamat Tidak Boleh Kosong.</p> -->
                          </div>

                          <div class="form-group">
                            <div class="col-md-6">
                              <label>RT</label>
                              <input type="text" name="rt" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' skip-disable="true" ng-model="lmModel.RT">
                            </div>
                            <div class="col-md-6">
                              <label>RW</label>
                              <input type="text" name="rw" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' skip-disable="true" ng-model="lmModel.RW">
                            </div>
                                    
                          </div>

                      </div>
                      <div class="col-md-4">
                      <!--  ng-class="{ 'has-error' : addressForm.propinsi.$invalid && !addressForm.propinsi.$pristine }" -->
                          <div class="form-group">
                            <!-- {{lmModel.MVillage.MDistrict.MCityRegency.ProvinceId}} -->
                              <bsreqlabel>Provinsi</bsreqlabel>
                              <bsselect name="propinsi"
                                            ng-model="lmModel.MVillage.MDistrict.MCityRegency.ProvinceId"
                                            data="provinsiData"
                                            item-text="ProvinceName"
                                            item-value="ProvinceId"
                                            placeholder="Pilih Propinsi..."
                                            on-select="selectProvince(selected,lmModel)"
                                            icon="fa fa-taxi"
                                            
                                            required=true>
                              </bsselect>
                              <!-- <p ng-show="addressForm.propinsi.$invalid && !addressForm.propinsi.$pristine" class="help-block">Propinsi Tidak Boleh kosong.</p> -->
                          </div>
                          <!-- ng-class="{ 'has-error' : addressForm.kabupaten.$invalid && !addressForm.kabupaten.$pristine }" -->

                          <div class="form-group" >
                          <!-- {{lmModel.MVillage.MDistrict.CityRegencyId}} -->
                              <bsreqlabel>Kabupaten/Kota</bsreqlabel>
                              <bsselect name="kabupaten"
                                            ng-model="lmModel.MVillage.MDistrict.CityRegencyId"
                                            data="kabupatenData"
                                            item-text="CityRegencyName"
                                            item-value="CityRegencyId"
                                            placeholder="Pilih Kabupaten/Kota..."
                                            
                                            ng-disabled="lmModel.MVillage.MDistrict.MCityRegency.ProvinceId == undefined"
                                            on-select="selectRegency(selected,lmModel)"
                                            icon="fa fa-taxi"
                                            required=true>
                              </bsselect>

                              <!-- <p ng-show="addressForm.kabupaten.$invalid && !addressForm.kabupaten.$pristine" class="help-block">Kabupaten/Kota Tidak Boleh kosong.</p> -->
                            </div> 
                            <!--  ng-class="{ 'has-error' : addressForm.kecamatan.$invalid && !addressForm.kecamatan.$pristine }" -->
                            <div class="form-group">
                            <!-- {{lmModel.MVillage.DistrictId}} -->
                              <bsreqlabel>Kecamatan</bsreqlabel>
                              <bsselect name="kecamatan"
                                          ng-model="lmModel.MVillage.DistrictId"
                                          data="kecamatanData"
                                          item-text="DistrictName"
                                          item-value="DistrictId"
                                          placeholder="Pilih Kecamatan..."
                                          
                                          ng-disabled="lmModel.MVillage.MDistrict.CityRegencyId == undefined || lmModel.MVillage.MDistrict.CityRegencyId == ''"
                                          on-select="selectDistrict(selected,lmModel)"
                                          icon="fa fa-taxi"
                                          required=true>
                              </bsselect>
                              <!-- <p ng-show="addressForm.kecamatan.$invalid && !addressForm.kecamatan.$pristine" class="help-block">Kecamatan Tidak Boleh kosong</p> -->
                            </div>
                            <!--  ng-class="{ 'has-error' : addressForm.kelurahan.$invalid && !addressForm.kelurahan.$pristine }" -->
                            <div class="form-group">
                            <!-- {{lmModel.VillageId}} -->
                              <label>Kelurahan</label>
                              <bsselect name="kelurahan"
                                          ng-model="lmModel.VillageId"
                                          data="kelurahanData"
                                          item-text="VillageName"
                                          item-value="VillageId"
                                          placeholder="Pilih Kelurahan..."
                                          ng-disabled="lmModel.MVillage.DistrictId == undefined || lmModel.MVillage.DistrictId == ''"
                                          on-select="selectVillage(selected, lmModel)"
                                          icon="fa fa-taxi"
                                          required=true>
                              </bsselect>
                              <!-- <p ng-show="addressForm.kelurahan.$invalid && !addressForm.kelurahan.$pristine" class="help-block">Kelurahan Tidak Boleh kosong.</p> -->
                            </div>

                            <div class="form-group">
                                    <label style="margin-top: 5px;">Kode Pos</label>
                                    <input type="text" name="PostalCodeId" class="form-control" ng-model="lmModel.MVillage.PostalCode" disabled>
                                    
                          </div>

                      </div>
                      <div class="col-md-4">
                          

                      </div>
                    </div>
            </div>

      </bslist-modal-form>

      

  </bslist>

</div>



<!--         <div ui-grid="gridDataAddress" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid">
            <div class="ui-grid-nodata" style="margin-top:100px;" ng-show="!gridDataAddress.data.length">No data available</div>
        </div> -->

<!--     <div class="ui blurring segment">
        <sm-dimmer show="dimmerVisible" auto="true" sm-dimmer-bind="{transition: 'vertical flip'}">
            <div class="content">
          <div class="row">
              <fieldset style="border:3px solid #e2e2e2;padding:20px">
              <form name="addressForm" ng-submit="savePop(1)" novalidate>
              <div class="row">
                <div class="col-md-4">

                      <div class="form-group" ng-class="{ 'has-error' : addressForm.contact.$invalid && !addressForm.contact.$pristine }">
                              <bsreqlabel>Kategori Kontak</bsreqlabel>
                              <bsselect name="contact"
                                        ng-model="mAddress.contact"
                                        data="categoryContact"
                                        item-text="name"
                                        item-value="id"
                                        placeholder="Pilih Kategory Kontak..."
                                        skip-disable="true"

                                        on-select="selectPendapatan(selected)"
                                        icon="fa fa-taxi"
                                        required=true>
                              </bsselect> 
                          <p ng-show="addressForm.contact.$invalid && !addressForm.contact.$pristine" class="help-block">Kategori Kontak Tidak Boleh Kosong.</p>
                      </div>

                      <div class="form-group" >
                        <bslabel>No Telephone</bslabel>
                          <div class="row" style="margin-left: 0px;"><input type="number" class="form-control" skip-disable="true" name="phone" ng-model="mAddress.phone"></div>  
                      </div>

                      <div class="form-group" ng-class="{ 'has-error' : addressForm.add.$invalid && !addressForm.add.$pristine }">
                          <bsreqlabel>Alamat</bsreqlabel>
                          <input type="text" name="add" class="form-control" skip-disable="true" ng-model="mAddress.add" required>
                          <p ng-show="addressForm.add.$invalid && !addressForm.add.$pristine" class="help-block">Alamat Tidak Boleh Kosong.</p>
                      </div>

                      <div class="form-group">
                        <bslabel>RT/RW</bslabel>
                        <input type="text" name="rt" class="form-control" skip-disable="true" ng-model="mAddress.rt">
                      </div>

                  </div>
                  <div class="col-md-4">
                      <div class="form-group" ng-class="{ 'has-error' : addressForm.propinsi.$invalid && !addressForm.propinsi.$pristine }">
                          <bsreqlabel>Provinsi</bsreqlabel>
                          <bsselect name="propinsi"
                                        ng-model="mAddress.provinsi"
                                        data="provinsiData"
                                        item-text="name"
                                        item-value="id"
                                        placeholder="Pilih Propinsi..."
                                        on-select="selectPendapatan(selected)"
                                        icon="fa fa-taxi"
                                        skip-disable="true"
                                        required=true>
                          </bsselect>
                          <p ng-show="addressForm.propinsi.$invalid && !addressForm.propinsi.$pristine" class="help-block">Propinsi Tidak Boleh kosong.</p>
                      </div>

                      <div class="form-group" ng-class="{ 'has-error' : addressForm.kabupaten.$invalid && !addressForm.kabupaten.$pristine }">
                          <bsreqlabel>Kabupaten/Kota</bsreqlabel>
                          <bsselect name="kabupaten"
                                        ng-model="mAddress.kabupaten"
                                        data="kabupatenData"
                                        item-text="name"
                                        item-value="id"
                                        placeholder="Pilih Kabupaten/Kota..."
                                        skip-disable="true"
                                        ng-disabled="mAddress.provinsi == undefined"
                                        on-select="selectPendapatan(selected)"
                                        icon="fa fa-taxi"
                                        required=true>
                          </bsselect>

                          <p ng-show="addressForm.kabupaten.$invalid && !addressForm.kabupaten.$pristine" class="help-block">Kabupaten/Kota Tidak Boleh kosong.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : addressForm.kecamatan.$invalid && !addressForm.kecamatan.$pristine }">
                          <bsreqlabel>Kecamatan</bsreqlabel>
                          <bsselect name="kecamatan"
                                      ng-model="mAddress.kecamatan"
                                      data="kecamatanData"
                                      item-text="name"
                                      item-value="id"
                                      placeholder="Pilih Kecamatan..."
                                      skip-disable="true"
                                      ng-disabled="mAddress.kabupaten == undefined"
                                      on-select="selectPendapatan(selected)"
                                      icon="fa fa-taxi"
                                      required=true>
                          </bsselect>
                          <p ng-show="addressForm.kecamatan.$invalid && !addressForm.kecamatan.$pristine" class="help-block">Kecamatan Tidak Boleh kosong</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : addressForm.kelurahan.$invalid && !addressForm.kelurahan.$pristine }">
                          <bslabel>Kelurahan</bslabel>
                          <bsselect name="kelurahan"
                                      ng-model="mAddress.kelurahan"
                                      data="kelurahanData"
                                      item-text="name"
                                      item-value="id"
                                      placeholder="Pilih Kelurahan..."
                                      skip-disable="true"
                                      ng-disabled="mAddress.kecamatan == undefined"
                                      on-select="selectPendapatan(selected)"
                                      icon="fa fa-taxi"
                                      required=true>
                          </bsselect>
                          <p ng-show="addressForm.kelurahan.$invalid && !addressForm.kelurahan.$pristine" class="help-block">Kelurahan Tidak Boleh kosong.</p>
                        </div>

                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                                <bslabel style="margin-top: 5px;">Kode Pos</bslabel>
                                <input type="text" name="KodePos" class="form-control" skip-disable="true" ng-model="mAddress.KodePos">
                      </div>

                  </div>
                </div>
                    <div class="row">
                          <button type="button" class="btn btn-default" ng-click="cancelPop(1);">BATAL</button>
                          <button type="submit" ng-disabled="addressForm.$invalid" class="btn btn-default">SIMPAN</button>
                    </div>

                </form>
                </fieldset>
              </div>
            </div>
        </sm-dimmer>

        <bstrgrid grid-name="gridDataAddress" on-select-rows="gridDataAddress_onSelectRows">
        </bstrgrid>
    </div> -->