<script type="text/javascript">
</script>
<style type="text/css">
.bs-list .ui-grid-nodata{
  position:relative;
}
.labelBsList {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.dropdown-menu{
  z-index: 1001;
}

</style>
<!-- 
<bsform-grid
        name="personalInfo"
        ng-form="CustDataForm"
        factory-name="CustData"
        model="mCustData"
        loading="loading"
        model-id = "CustomerOwnerId"
        get-data="getData"

        on-select-rows="onSelectRows"
        
        show-advsearch="on"
        on-show-detail = "onShowDetail"
        on-before-save = "onBeforeSaveMaster"
        

        form-api="formApi"
        detail-action-button-settings = "detailActionButtonSettings"

        grid-custom-action-button-template="gridActionButtonTemplate"
        grid-custom-action-button-colwidth="50"
        action-button-caption="actionButtonCaption"

        hide-edit-button="true"

        form-name="CustDataForm"
        form-title="Pencarian Spesifik"
        modal-title="Infopelanggan"
        modal-size="small"
        icon="fa fa-fw fa-child"

        form-api="formApi"
        linksref="app.vehicleData"
        linkview="vehicleData@app"

> -->
<!-- <bsform-base
        ng-form="CustDataForm"
        loading="loading"
        get-data="getData"

        action-button-settings="actionButtonSettings"
        action-button-settings-detail="detailActionButtonSettings"
        show-advsearch="on"

        form-api="formApi"
        linksref="app.vehicleData"
        linkview="vehicleData@app"

        form-name="CustDataForm"
        form-title="Pencarian Spesifik"
        icon="fa fa-fw fa-child"
> -->

<bsform-base
        ng-form="CustDataForm"
        factory-name="CustData"
        model="mCustData"
        loading="loading"
        model-id = "CustomerOwnerId"

        action-button-settings-detail="actionButtonSettingsDetail"
        on-before-cancel = "onBeforeCancel"
        

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        show-advsearch="on"

        form-name="CustDataForm"
        form-title="Pencarian Spesifik"
        modal-title="Infopelanggan"
        modal-size="small"
        icon="fa fa-fw fa-child"
        form-api="formApi"
        linksref="app.vehicleData"
        linkview="vehicleData@app"
        >


<bsform-advsearch>
    <div ng-include="'app/crm/customerData/custData_advsearch.html'"></div>
</bsform-advsearch>

<bsform-base-main>
                
          <bslist
              name="family" data="gridGroupSearch" factory-name="CustData" on-select-rows="onListSelectRows"
              selected-rows="listSelectedRows" confirm-save="true" list-model="lmModel" m-id="CustomerDetailFamilyId"

              on-before-save="onBeforeSavePersonal" on-after-save="onAfterSavePersonal"
              modal-title="Info Pelanggan"

              list-height="500"



              button-settings="listButtonSettingsGroupSearch"
              custom-button-settings-detail="listCustomButtonSettingsGroupSearch"
              >
          <bslist-template>
              <p class="name"><strong>{{ lmItem.Name }} - {{ lmItem.ToyotaId }}  </strong>  <label style="color:red">({{ lmItem.Category }})</label></p>
              <p>Dealer Penjual : {{ lmItem.OutletName }} , Model : {{ lmItem.VehicleModelName }} ( {{ lmItem.LicensePlate }} / {{ lmItem.VIN }} )</p>

              <div>
              </div>
          </bslist-template>
</bsform-base-main>




<!-- {{show.alldataIn}} ng-click="tabC(this)" ng-click="tabC(this.currentStep)"-->
<!-- {{show.alldata}}  ng-if="show.alldata"--> 
<bsform-base-detail>
  <div id="all">

        <bstabwiz fullwidth="true" on-finish="isFinished = true" current-step="currentStep" ng-click="tabC(this.currentStep)" disable-other-tab="show.disableOtherTab">

              <bstabwiz-pane title="Pribadi" desc="Data Pribadi">
                <div ng-if="show.tabW" ng-include="'app/crm/customerData/custData_Pelanggan_Individu.html'"></div>
                <div ng-if="tabInst" ng-include="'app/crm/customerData/custData_Pelanggan_Institusi.html'"></div>
              </bstabwiz-pane>
              
              <bstabwiz-pane show="show.tab.tabJob" ng-click="tabClick(2)"  title="Pekerjaan" desc="Data Pekerjaan Pelanggan">
                <div ng-include="'app/crm/customerData/custData_Pekerjaan.html'"></div>
              </bstabwiz-pane>  
              
              
  <!-- ng-if="!show.alldataIn" -->
              <bstabwiz-pane show="show.tab.tabFamily" title="Keluarga"  desc="Data Keluarga Pelanggan" > 
                <div  ng-include="'app/crm/customerData/custData_Keluarga.html'"></div>
              </bstabwiz-pane>

              <bstabwiz-pane show="show.tab.tabPreference" title="Preferensi" desc="Data Preferensi Pelanggan" icon="info">
                <div  ng-include="'app/crm/customerData/custData_Preferensi.html'"></div>
              </bstabwiz-pane>

              <bstabwiz-pane show="show.tab.tabVehicle" title="Kendaraan" desc="Data Kendaraan Pelanggan" icon="info">
                <div  ng-include="'app/crm/customerData/custData_Kendaraan.html'"></div>
              </bstabwiz-pane>

              <bstabwiz-pane show="show.tab.tabFA" title="Field Action" desc="Data Field Action" icon="info">
                <div ng-include="'app/crm/customerData/custData_FASSC.html'"></div>
              </bstabwiz-pane>
  <!-- 
              <bstabwiz-pane title="Suara Konsumen" desc="Data Suara Konsumen" icon="info">
                <div ng-include="'app/crm/customerData/custData_Riwayat_Ketidakpuasan.html'"></div>
              </bstabwiz-pane> -->

              <bstabwiz-pane show="show.tab.tabHistory" title="Riwayat Perubahan Data" desc=" Data Riwayat Perubahan Data" icon="info">
                <div ng-include="'app/crm/customerData/custData_Riwayat_PerubahanData.html'"></div>
              </bstabwiz-pane>
        </bstabwiz>

    </div>
</bsform-base-detail>

</bsform-base>
<!-- </bsform-grid> -->
<!-- 
<bsmodal id="Infopelanggan" title="Lupa Id Toyota" mode=""
                   show="sm_show2" 
                    size="small"
                    hide-footer="true"
        >
                
                <fieldset style="border:5px solid #e2e2e2;padding:20px">
                
                  
                  <div class="row">
                    <div class="col-md-12">
                      <label>Pilih metode pemulihan Toyota ID sesuai informasi yang pernah tersimpan pada sistem</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group">
                        <div class="row"  style="margin-left: 0px;">
                          <div class="col-md-3">
                              <div class="radio">
                                <label><input type="radio" ng-model="mForgot.flag" ng-value="filterForgot[0]">Nomor Handphone</label>
                              </div>  
                          </div>
                          <div class="col-md-6">
                              <input type="text" name="optname" ng-disabled="mForgot.flag.key != filterForgot[0].key" ng-model="filterForgot[0].value" class="form-control">
                          </div>
                        </div>
                        <div class="row" style="margin-left: 0px;">
                          <div class="col-md-3">
                              <div class="radio">
                                <label><input type="radio" ng-model="mForgot.flag" ng-value="filterForgot[1]">Email</label>
                              </div>  
                          </div>
                          <div class="col-md-6">
                              <input type="text" name="optname" ng-disabled="mForgot.flag.key != filterForgot[1].key" ng-model="filterForgot[1].value" class="form-control">
                          </div>
                        </div>
                    </div>
                  </div>
                  
                  <div class="row"></div>

                  <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-default" ng-click="cancelPop(0);">BATAL</button>
                    </div>
                    <div class="col-md-4">
                        <button ng-click="cariPass()" class="btn btn-default">
                          Cari
                        </button>
                    </div>
                  </div>
                </fieldset>
  </bsmodal>
   -->
