<br><br>
<!-- list-title="Data Keluarga" -->
<span class="labelBsList label-primary">Data Keluarga</span>
<bslist
          name="family"
          data="gridDataFamily.data"
          factory-name="CustData"
          on-select-rows="onListSelectRows"
          selected-rows="listSelectedRows"
          confirm-save="true"
          list-model="lmModel"
          m-id="CustomerDetailFamilyId"

          on-before-save="onBeforeSaveFamily"
          on-before-delete="onBeforeDeleteFamily"
          on-after-save="onAfterSaveFamily"
          modal-title="Data Keluarga"
          

          button-settings="listButtonSettingsFamily"
  >
  
      <bslist-template>
          <p class="name"><strong>{{ lmItem.Name }} </strong><label style="color:red">  ( {{ lmItem.CustomerFamilyRelation.FamilyRelationName }} )</label></p>
          <p>Jenis Kelamin : {{ lmItem.CustomerGender.CustomerGenderName }} , Tempat/Tanggal Lahir : {{ lmItem.BirthPlace }}/{{ lmItem.BirthDate | date:dd/mm/yyyy }}</p>
          <p><i class="glyphicon glyphicon-phone"></i>({{ lmItem.Handphone }}) ,Toyota ID : {{ lmItem.ToyotaId }}</p>

          <div>
          </div>
      </bslist-template>

      <bslist-modal-form>

            <div>
               <div class="row">
                  
                <div class="col-md-4">
                        <div class="form-group">
                            <bsreqlabel>Kategori Keluarga</bsreqlabel>
                            <bsselect name="categoryFamily"
                                    ng-model="lmModel.FamilyRelationId"
                                    data="catFamily"
                                    item-text="FamilyRelationName"
                                    item-value="FamilyRelationId"
                                    on-before-save="onBeforeSaveFamily"
                                    
                                    skip-disable="true"
                                    placeholder="Pilih Kategory Keluarga..."
                                    on-select="selectPendapatan(selected)"
                                      icon="fa fa-taxi"
                                      required=true>
                            </bsselect> 
                            
                        </div>
                        
                        <div class="form-group">
                            <bsreqlabel>Nama</bsreqlabel>
                            <input type="text" name="name" class="form-control" skip-disable="true" ng-model="lmModel.Name" required>
                        </div>
          
                      <div class="form-group">
                          <label>No Handphone</label>
                          <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="phone" class="form-control" ng-model="lmModel.Handphone">
                      </div>              
                      <div class="form-group">
                          <label>Toyota Id</label>
                          <!-- <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="desc"  class="form-control" ng-model="lmModel.ToyotaId"> -->
                          <input type="text" name="desc"  class="form-control" ng-model="lmModel.ToyotaId">
                      </div>
                                
                </div>
                <div class="col-md-4">
                      <div class="form-group">
                            <label>Tempat Lahir</label>
                            <input type="text" name="placeBirth" class="form-control" ng-model="lmModel.BirthPlace">
                      </div>

                      <div class="form-group">
                            <label>Tanggal Lahir</label>
                            <bsdatepicker name="dateBirth" ng-model="lmModel.BirthDate" date-options="dateOptions"></bsdatepicker>
                      </div>

                      <div class="form-group">
                          <label>Jenis Kelamin</label>
                          <bsradiobox ng-model="lmModel.GenderId"
                                      options="[{text:'Pria',value:1},{text:'Wanita',value:2}]"
                                      layout="H"
                                      >
                          </bsradiobox>
                      </div>
                </div>
              </div>
            </div>

      </bslist-modal-form>

      

  </bslist>

<!-- 
    
    <div class="ui segment">
        <sm-dimmer show="dimmerFamily" sm-dimmer-bind="{transition: 'vertical flip'}">
            <div class="content">
                <fieldset style="border:3px solid #e2e2e2;padding:20px">
                    <form name="familyForm" ng-submit="savePop(2)" novalidate>
                      <div class="row">
                        <div class="col-md-4">
                      

                                
                                <div class="form-group" ng-class="{ 'has-error' : familyForm.categoryFamily.$invalid && !familyForm.categoryFamily.$pristine }">
                                    <bsreqlabel>Kategori Keluarga</bsreqlabel>
                                    <bsselect name="categoryFamily"
                                            ng-model="mFamily.CategoryFamily"
                                            data="catFamily"
                                            item-text="name"
                                            item-value="id"
                                            skip-disable="true"
                                            placeholder="Pilih Kategory Keluarga..."
                                            on-select="selectPendapatan(selected)"
                                              icon="fa fa-taxi"
                                              required=true>
                                    </bsselect> 
                                    <p ng-show="familyForm.categoryFamily.$invalid && !familyForm.categoryFamily.$pristine" class="help-block">Kategori Keluarga Tidak Boleh Kosong.</p>
                                </div>
                                
                                <div class="form-group" ng-class="{ 'has-error' : familyForm.name.$invalid && !familyForm.name.$pristine }">
                                    <bsreqlabel>Nama</bsreqlabel>
                                    <input type="text" name="name" class="form-control" skip-disable="true" ng-model="mFamily.name" required>
                                    <p ng-show="familyForm.name.$invalid && !familyForm.name.$pristine" class="help-block">Nama Tidak Boleh Kosong.</p>
                                </div>

                              
                                <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label>No Handphone</label>
                                        <input type="number" name="phone" class="form-control" ng-model="mFamily.phone">
                                      
                                    </div>    
                                </div>
                                <div class="col-md-3">
                                    <label></label>
                                    <button type="button" class="btn btn-default" ng-click="">CHECK</button>
                                </div>    
                                </div>
                                
                                
                                <div class="form-group">
                                    <label>Toyota Id</label>
                                    <input type="text" name="desc" ng-disabled="true" class="form-control" ng-model="mFamily.toyotaId">
                                </div>
                                
                        </div>
                        <div class="col-md-4">
                              

                              <div class="form-group">
                                    <label>Tempat Lahir</label>
                                    <input type="text" name="placeBirth" class="form-control" skip-disable="true" ng-model="mFamily.placeBirth" required>
                                    
                              </div>

                              <div class="form-group">
                                    <label>Tanggal Lahir</label>
                                    <bsdatepicker name="dateBirth" ng-model="mFamily.dateBirth" skip-disable="true" date-options="dateOptions" required></bsdatepicker>
                                    
                              </div>

                              <div class="form-group">
                                  <label>Jenis Kelamin</label>
                                  <bsradiobox ng-model="mFamily.gender"
                                              options="[{text:'Pria',value:1},{text:'Wanita',value:2}]"
                                              layout="H"
                                              ng-disabled="valueChange">
                                  </bsradiobox>
                              </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <button type="button" class="btn btn-default" ng-click="cancelPop(2);">BATAL</button>
                          <button type="submit" ng-disabled="familyForm.$invalid" class="btn btn-default">SIMPAN</button>
                        </div>
                          
                      </div>
                    </form>
                  </fieldset>
            </div>
        </sm-dimmer>
    <div class="row" style="margin-left:0px;margin-top: 15px;margin-bottom: 5px;">
        <button ng-click="Add(2)" class="btn btn-default">Tambah</button>
        <button ng-click="deleteThisRow(2)" class="btn btn-default">Hapus</button>
    </div>
    <bstrgrid grid-name="gridDataFamily" controller="CustDataController">
    </bstrgrid>
    </div>

 -->