
<!-- <label style="color:blue"> Kendaraan Toyota Terdaftar</label> 
          list-title="Kendaraan Toyota Terdaftar"-->
<br>
<br>
<span class="labelBsList label-primary">Kendaraan Toyota Terdaftar</span>
        <!-- <div ui-grid="gridDataToyotaVehicle" 
            ui-grid-move-columns 
            ui-grid-resize-columns 
            ui-grid-selection 
            ui-grid-pagination 
            ui-grid-auto-resize class="grid">
                <div class="ui-grid-nodata" 
                style="margin-top:100px;"
                ng-show="!gridDataToyotaVehicle.data.length">No data available</div>
        </div> -->
        <br>
<bslist

          data="gridDataToyotaVehicle.data"
          factory-name="CustData"
          on-select-rows="onListSelectRows"
          selected-rows="listSelectedRows"
          confirm-save="true"
          m-id="vehicleId"

          modal-title="Data Kendaraan"
          button-settings="listButtonSettingsToyota"
          custom-button-settings-detail="listCustomButtonSettingsToyota"
  >
  
      <bslist-template>
          <p class="name"><strong>{{ lmItem.Merk }} ( {{ lmItem.VehicleModelName }} )</strong> {{ lmItem.Description }} </p>
          <p> Warna : {{ lmItem.ColorName }}, Nomor Polisi : {{ lmItem.LicensePlate }}, Tahun Pembelian :  {{ lmItem.TahunPembelian }}, Harga Beli :  {{ lmItem.Harga }}</p>
          <div>
          </div>
      </bslist-template>

      <!-- <bslist-template>
        <p class="name"><strong>{{ lmItem.Merk }} ( {{ lmItem.VehicleModelName }} )</strong> {{ lmItem.Description }} </p>
        <p> Warna : {{ lmItem.ColorName }}, Tahun : {{ lmItem.StartDate | date:YYYY}} </p>
        <p>Nomor Polisi : {{ lmItem.LicensePlate }} , Tahun Pembelian :  {{ lmItem.TahunPembelian }}, Harga Beli :  {{ lmItem.Harga }}</p>
        <div>
        </div>
    </bslist-template> -->
  </bslist>


<!-- <fieldset style="border:1px solid #e2e2e2;padding:10px">
    <legend style="width:inherit;margin-bottom: 0px;padding-bottom: 4px;">Kendaraan Toyota Terdaftar </legend>
    <div class="row" style="margin-left: 0px;">

            <bstrgrid grid-name="gridDataToyotaVehicle" controller="CustDataController">
            </bstrgrid>
        <div ui-grid="gridDataToyotaVehicle" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid">
            <div class="ui-grid-nodata" style="margin-top:100px;" ng-show="!gridDataToyotaVehicle.data.length">No data available</div>
        </div>
    </div>
</fieldset> 
          on-before-edit="onBeforeEditNonToyota"-->

<!-- <label style="color:blue"> Kendaraan Non Toyota</label> 
          list-title="Kendaraan Lain"-->
          <br>
<span class="labelBsList label-primary">Kendaraan Non Toyota</span>
<bslist
          name="nonToyota"
          data="gridDataVehicle.data"
          factory-name="CustData"
          on-select-rows="onListSelectRows"
          selected-rows="listSelectedRows"
          confirm-save="true"
          list-model="lmModel"
          m-id="CustomerDetailVehicleId"
          on-before-save="onBeforeSaveNonToyota"
          on-before-delete="onBeforeDeleteNonToyota"
          button-settings="listButtonSettingsNonToyota"

          on-after-save="onAfterSaveNonToyotaVehicle"


          modal-title="Data Kendaraan"
  >
      <bslist-template>
          <p class="name">{{ lmItem.MBrand.BrandName }} - {{ lmItem.Model }} {{ lmItem.Type }}<strong>( {{ lmItem.PCategoryVehicle.VehicleCategoryName }} )</strong></p>
          <p>Warna : {{ lmItem.Color }} , Nomor Polisi : {{ lmItem.LicensePlate }} , Tahun Pembelian : {{ lmItem.Year }}, Harga Beli : {{lmItem.BuyPrice}}</p>
          
          </div>
      </bslist-template>

    <bslist-modal-form>

        <div>
            
            <div class="row" style="margin-left:0px;margin-top:15px;">
                        <!-- [{id:1,name:'Mitshubishi'},{id:2,name:'Daihatsu'},{id:3,name:'Nissan'}] -->
                <div class="col-md-6">
                  <div class="form-group">
                            <bsreqlabel>Merek Mobil</bsreqlabel>
                            <bsselect name="merkMobil"
                                    ng-model="lmModel.BrandId"
                                    data="VehicleBrand"
                                    item-text="BrandName"
                                    item-value="BrandId"
                                    placeholder="Pilih Merk Mobil..."
                                    on-select="selectPendapatan(selected)"
                                    icon="fa fa-taxi"
                                    required=true>
                            </bsselect> 
                  </div>
<!-- [{id:1,name:'Bus'},{id:2,name:'Truck'},{id:3,name:'Tronton'}] -->
                  <div class="form-group">
                            <bsreqlabel>Kategori Mobil</bsreqlabel>
                            <bsselect name="kategoriMobil"
                                    ng-model="lmModel.VehicleCategoryId"
                                    data="VehicleCategory"
                                    item-text="VehicleCategoryName"
                                    item-value="VehicleCategoryId"
                                    placeholder="Pilih Category Kendaraan..."
                                    on-select="selectPendapatan(selected)"
                                    icon="fa fa-taxi"
                                    required=true>
                            </bsselect> 
                  </div>

                  <div class="form-group">
                            <label>Model</label>
                            <input type="text" name="model" class="form-control" ng-model="lmModel.Model">
                            <!-- <bsselect name="modelMobil"
                                    ng-model="lmModel.modelId"
                                    data="[{id:1,name:'Lancer Evo'},{id:2,name:'Skyline'},{id:3,name:'GTR 2000'}]"
                                    item-text="name"
                                    item-value="id"
                                    placeholder="Pilih Model ..."
                                    ng-disabled="lmModel.category == undefined"
                                    on-select="selectPendapatan(selected)"
                                    icon="fa fa-taxi"
                                    required=true>
                            </bsselect>  -->
                  </div>

                  <!-- <div class="form-group">
                            <label>Type</label>
                            <input type="text" name="Type" class="form-control" ng-model="lmModel.Type">
                            <bsselect name="typeMobil"
                                    ng-model="lmModel.type"
                                    data="[{id:1,name:'3.5 Yuuu'},{id:2,name:'2.9 TD'},{id:3,name:'ZX 9000'}]"
                                    item-text="name"
                                    item-value="id"
                                    placeholder="Pilih Type Mobil..."
                                    ng-disabled="lmModel.modelId == undefined"
                                    on-select="selectPendapatan(selected)"
                                    icon="fa fa-taxi"
                                    required=true>
                            </bsselect> 
                  </div> -->
                  
                  <div class="form-group">
                            <label>Warna</label>
                            <input type="text" name="Color" class="form-control" ng-model="lmModel.Color">
                            <!-- <bsselect name="colourMobil"
                                    ng-model="lmModel.ColorId"
                                    data="[{id:1,name:'Transparan'},{id:2,name:'Putih'},{id:3,name:'Merah Maroon'}]"
                                    item-text="name"
                                    item-value="id"
                                    placeholder="Pilih Warna Mobil..."
                                    ng-disabled="lmModel.type == undefined"
                                    on-select="selectPendapatan(selected)"
                                    icon="fa fa-taxi"
                                    required=true>
                            </bsselect>  -->
                  </div>
                  
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                            <bsreqlabel>No Polisi</bsreqlabel>
                            <input type="text" name="LicensePlate" style="text-transform: uppercase;" class="form-control" skip-disable="true" ng-model="lmModel.LicensePlate">
                  </div>
                  
                  <div class="form-group">
                            <bsreqlabel>Tahun Pembelian</bsreqlabel>
                            <input type="number" name="Year" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" skip-disable="true" ng-model="lmModel.Year">
                  </div>
                  
                  <div class="form-group">
                            <bsreqlabel>Harga Beli</bsreqlabel>
                            <input type="number" name="BuyPrice" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" skip-disable="true" ng-model="lmModel.BuyPrice">
                  </div>
                </div>

        
          </div>
        </div>
    </bslist-modal-form>

</bslist>







<!-- 
<fieldset style="border:1px solid #e2e2e2;padding:10px">
    <legend style="width:inherit;margin-bottom: 0px;padding-bottom: 4px;">Kendaraan Lain </legend>
    
    <div class="row" style="margin-left: 0px;">
        
        <div class="ui segment">
            <sm-dimmer show="dimmerVehicle" sm-dimmer-bind="{transition: 'vertical flip'}">
                <div class="content">
                    <form name="vehicleForm" ng-submit="savePop(5)" novalidate>
                    <div class="row" style="margin-left:0px;margin-top:15px;">
                        
                            <div class="col-md-6">
                              <div class="form-group" ng-class="{ 'has-error' : vehicleForm.merkMobil.$invalid && !vehicleForm.merkMobil.$pristine }">
                                        <bsreqlabel>Merek Mobil</bsreqlabel>
                                        <bsselect name="merkMobil"
                                                ng-model="mVehicle.merk"
                                                data="[{id:1,name:'Mitshubishi'},{id:2,name:'Daihatsu'},{id:3,name:'Nissan'}]"
                                                item-text="name"
                                                item-value="id"
                                                skip-disable="true"
                                                placeholder="Pilih Merk Mobil..."
                                                on-select="selectPendapatan(selected)"
                                                icon="fa fa-taxi"
                                                required=true>
                                        </bsselect> 
                                        <p ng-show="vehicleForm.merkMobil.$invalid && !vehicleForm.merkMobil.$pristine" class="help-block">Merek Mobil Tidak Boleh Kosong.</p>
                              </div>

                              <div class="form-group" ng-class="{ 'has-error' : vehicleForm.kategoriMobil.$invalid && !vehicleForm.kategoriMobil.$pristine }">
                                        <bsreqlabel>Kategori Mobil</bsreqlabel>
                                        <bsselect name="kategoriMobil"
                                                ng-model="mVehicle.category"
                                                data="[{id:1,name:'Bus'},{id:2,name:'Truck'},{id:3,name:'Tronton'}]"
                                                item-text="name"
                                                item-value="id"
                                                skip-disable="true"
                                                placeholder="Pilih Category Kendaraan..."
                                                ng-disabled="mVehicle.merk == undefined"
                                                on-select="selectPendapatan(selected)"
                                                icon="fa fa-taxi"
                                                required=true>
                                        </bsselect> 
                                        <p ng-show="vehicleForm.kategoriMobil.$invalid && !vehicleForm.kategoriMobil.$pristine" class="help-block">Kategori Mobil Tidak Boleh Kosong.</p>
                              </div>

                              <div class="form-group" ng-class="{ 'has-error' : vehicleForm.modelMobil.$invalid && !vehicleForm.modelMobil.$pristine }">
                                        <bsreqlabel>Mobil</bsreqlabel>
                                        <bsselect name="modelMobil"
                                                ng-model="mVehicle.modelId"
                                                data="[{id:1,name:'Lancer Evo'},{id:2,name:'Skyline'},{id:3,name:'GTR 2000'}]"
                                                item-text="name"
                                                item-value="id"
                                                skip-disable="true"
                                                placeholder="Pilih Model ..."
                                                ng-disabled="mVehicle.category == undefined"
                                                on-select="selectPendapatan(selected)"
                                                icon="fa fa-taxi"
                                                required=true>
                                        </bsselect> 
                                        <p ng-show="vehicleForm.modelMobil.$invalid && !vehicleForm.modelMobil.$pristine" class="help-block">Model Mobil Tidak Boleh Kosong.</p>
                              </div>

                              <div class="form-group" ng-class="{ 'has-error' : vehicleForm.typeMobil.$invalid && !vehicleForm.typeMobil.$pristine }">
                                        <bsreqlabel>Type</bsreqlabel>
                                        <bsselect name="typeMobil"
                                                ng-model="mVehicle.type"
                                                data="[{id:1,name:'3.5 Yuuu'},{id:2,name:'2.9 TD'},{id:3,name:'ZX 9000'}]"
                                                item-text="name"
                                                item-value="id"
                                                skip-disable="true"
                                                placeholder="Pilih Type Mobil..."
                                                ng-disabled="mVehicle.modelId == undefined"
                                                on-select="selectPendapatan(selected)"
                                                icon="fa fa-taxi"
                                                required=true>
                                        </bsselect> 
                                        <p ng-show="vehicleForm.typeMobil.$invalid && !vehicleForm.typeMobil.$pristine" class="help-block">Type Mobil Tidak Boleh Kosong.</p>
                              </div>
                              
                              <div class="form-group" ng-class="{ 'has-error' : vehicleForm.colourMobil.$invalid && !vehicleForm.colourMobil.$pristine }">
                                        <bsreqlabel>Warna</bsreqlabel>
                                        <bsselect name="colourMobil"
                                                ng-model="mVehicle.colour"
                                                data="[{id:1,name:'Transparan'},{id:2,name:'Putih'},{id:3,name:'Merah Maroon'}]"
                                                item-text="name"
                                                item-value="id"
                                                skip-disable="true"
                                                placeholder="Pilih Warna Mobil..."
                                                ng-disabled="mVehicle.type == undefined"
                                                on-select="selectPendapatan(selected)"
                                                icon="fa fa-taxi"
                                                required=true>
                                        </bsselect> 
                                        <p ng-show="vehicleForm.colourMobil.$invalid && !vehicleForm.colourMobil.$pristine" class="help-block">Warna Mobil Tidak Boleh Kosong.</p>
                              </div>
                              
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-error' : vehicleForm.nopol.$invalid && !vehicleForm.nopol.$pristine }">
                                        <bsreqlabel>No Polisi</bsreqlabel>
                                        <input type="text" name="nopol" class="form-control" skip-disable="true" ng-model="mVehicle.nopol" required>
                                        <p ng-show="vehicleForm.nopol.$invalid && !vehicleForm.nopol.$pristine" class="help-block">No Polisi Tidak Boleh Kosong.</p>
                              </div>
                              
                              <div class="form-group" ng-class="{ 'has-error' : vehicleForm.tahun.$invalid && !vehicleForm.tahun.$pristine }">
                                        <bsreqlabel>Tahun Pembelian</bsreqlabel>
                                        <input type="number" name="tahun" class="form-control" skip-disable="true" ng-model="mVehicle.tahun" required>
                                        <p ng-show="vehicleForm.tahun.$invalid && !vehicleForm.tahun.$pristine" class="help-block">Tahun Pembelian Tidak Boleh Kosong.</p>
                              </div>
                              
                              <div class="form-group" ng-class="{ 'has-error' : vehicleForm.price.$invalid && !vehicleForm.price.$pristine }">
                                        <bsreqlabel>Harga Beli</bsreqlabel>
                                        <input type="number" name="price" class="form-control" skip-disable="true" ng-model="mVehicle.price" required>
                                        <p ng-show="vehicleForm.price.$invalid && !vehicleForm.price.$pristine" class="help-block">Harga Beli Tidak Boleh Kosong.</p>
                              </div>
                            </div>

                    
                      </div>
                      <div class="row" style="margin-left:0px;margin-bottom:15px;">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-default" ng-click="cancelPop(5);">BATAL</button>
                            <button type="submit" ng-disabled="vehicleForm.$invalid" class="btn btn-default">SIMPAN</button>
                        </div>
                            
                      </div>
                            
                    </form>
                    </div>
                </sm-dimmer>
        <div class="row" style="margin-left:0px;margin-top: 10px;margin-bottom: 10px;">
            <button ng-click="Add(5)" class="btn btn-default">Tambah</button>
            <button ng-click="deleteThisRow(5)" class="btn btn-default">Hapus</button>
        </div>
        <bstrgrid grid-name="gridDataVehicle" controller="CustDataController">
        </bstrgrid>
    </div>

    </div>
</fieldset> -->
