<!doctype html>
<!-- <html manifest="DMS_AppCache.appcache"> -->
  <head>
    <meta charset="utf-8">
    <title>TOYOTA DMS</title>
    <!-- <base href="/"> -->
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!--         <meta http-equiv="Content-Security-Policy"
          content="default-src 'self' 'unsafe-eval';
                   style-src 'self' 'unsafe-inline';
                   script-src 'self' 'unsafe-inline' 'unsafe-eval';
                   font-src 'self' data:;
                   img-src 'self' data:;
                   connect-src 'self' ws:"> -->
    <style>
        body {height: 100%;background: #e9e9e9;color: #666666;font-family:'RobotoDraft','Roboto',sans-serif;font-size:12px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
        }
        .sk-three-bounce {
          margin: 40px auto;
          width: 80px;
          text-align: center; }
          .sk-three-bounce .sk-child {
            width: 20px;
            height: 20px;
            background-color: #333;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
                    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }
          .sk-three-bounce .sk-bounce1 {
            -webkit-animation-delay: -0.32s;
                    animation-delay: -0.32s; }
          .sk-three-bounce .sk-bounce2 {
            -webkit-animation-delay: -0.16s;
                    animation-delay: -0.16s; }
        @-webkit-keyframes sk-three-bounce {
          0%, 80%, 100% {
            -webkit-transform: scale(0);
                    transform: scale(0); }
          40% {
            -webkit-transform: scale(1);
                    transform: scale(1); } }
        @keyframes sk-three-bounce {
          0%, 80%, 100% {
            -webkit-transform: scale(0);
                    transform: scale(0); }
          40% {
            -webkit-transform: scale(1);
                    transform: scale(1); } }
        .alt .button-container button {
            top:10px!important;
        }
    </style>
    <link rel="stylesheet" href="/module/please-wait.min.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:style css -->
    <!-- /build -->
    <!--STYLES-->
    <link rel="stylesheet" href="styles/sysauth/font-awesome.min.css">
    <link rel="stylesheet" href="styles/sysauth/loading-bar.min.css">
    <link rel="stylesheet" href="styles/sysauth/login.css">
    <link rel="stylesheet" href="styles/sysauth/login2.css">
    <link rel="stylesheet" href="styles/sysauth/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="styles/sysauth/ngDialog-theme-plain.min.css">
    <link rel="stylesheet" href="styles/sysauth/ngDialog.min.css">
    <link rel="stylesheet" href="styles/sysauth/sidemenu.css">
    <link rel="stylesheet" href="styles/sysauth/semantic/label.min.css">
    <link rel="stylesheet" href="styles/sysauth/semantic/message.min.css">
    <!--STYLES END-->
  </head>
  <body ng-app="LoginModule" ng-controller="LoginController" ng-cloak>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

        <script src="/module/please-wait.min.js"></script>
        <script type="text/javascript">
            // $(function(){
            //     $('.toggle').on('click', function() {$('.lcontainer').stop().addClass('active');});
            //     $('.closebtn').on('click', function() {$('.lcontainer').stop().removeClass('active');});
            //     $('.card #login').on('click', function(){$('.lcontainer').stop().addClass('active2');})
            //     $('#close2').on('click', function() {$('.lcontainer').stop().removeClass('active2');});})
            var loading_screen = pleaseWait({
              logo: "/images/logotam2.png",
              backgroundColor: '#fefefe',
              loadingHtml: '<p class="loading-message">Loading...</p><div class="sk-three-bounce"><div class="sk-child sk-bounce1"></div><div class="sk-child sk-bounce2"></div><div class="sk-child sk-bounce3"></div></div>'
            });
        </script>
        <div class="lcontainer" autoscroll="false">
            <div class="row">
                <div  class="Absolute-Center is-Responsive">
                        <p style="text-align:center;font-size:40px;margin:0px;color:#cc3233;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight:700;">TOYOTA</p>
                        <p class="appname">{{_0x294d}}</p>
                        <div class="xlcard">
                            <div class="ltitle" style="float:left;width:50%;">
                                <img src="images/dms-desktop-login-pic-small-lowres.png" 
             style="width:100%;height:350px;border-top-left-radius:5px;border-bottom-left-radius:5px;">
                            </div>
                            <div class="lcontent" style="float:right;width:50%;height:100%;" ng-if="!showLoginStat && !showForget">
                                <div style="padding:30px 30px 30px 30px;">
                                    <p class="title">Welcome</p>
                                    <p class="subtitle">Please login to your account</p>
                                    <form name="loginForm" autocomplete="off" novalidate>
                                        <input style="display:none" type="text" name="fakeusernameremembered" />
                                        <input style="display:none" type="password" name="fakepasswordremembered" />
                                        <div class="input-container">
                                            <input type="text" id="username" name="username" required="required" ng-model="user.username" placeholder="User ID"
                                                    />
                                            <!-- <label for="email">Username</label> -->
                                            <!-- <div class="bar"></div> -->
                                            <!--   <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$touched && loginForm.email.$invalid" class="ui pointing label blue" style="position:absolute;top:50px;left:0px;font-size:0.85em;padding-bottom:0px;padding-top:0px;">
                                                <p ng-message="required">Username is required</p>
                                                <p ng-message="minlength">This field is too short</p>
                                                <p ng-message="maxlength">This field is too long</p>
                                                <p ng-message="email">This needs to be a valid email</p>
                                            </div> -->
                                        </div>
                                        <div class="input-container">
                                            <input type="password" id="password" name="password" required="required" ng-model="user.password" placeholder="Password"
                                                    style="margin:0px 0px 0px 0px;"/>
                                            <!-- <label for="password">Password</label> -->
                                            <!-- <div class="bar"></div> -->
                                            <!--  <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched && loginForm.password.$invalid" class="ui pointing label blue" style="position:absolute;top:50px;left:0px;font-size:0.85em;padding-bottom:0px;padding-top:0px;">
                                                <p ng-message="required">Password is required</p>
                                                <p ng-message="minlength">This field is too short</p>
                                                <p ng-message="maxlength">This field is too long</p>
                                            </div> -->
                                        </div>
                                         <div class="input-container">
                                            <input type="text" id="org" name="org" required="required" ng-model="user.orgCode" placeholder="Organization Code"
                                                    style="margin:0px 0px 10px 0px;"/>
                                        </div>
                                        <div class="button-container">
                                            <button id="login" ng-click="login()">
                                              <span>Login</span>
                                            </button>
                                        </div>
                                        <p class="forget" id="forget" ng-click="showForgetContainer()">Forgot password?</p>
                                        <div class="footer">{{_0x2003}}</div>
                                    </form>
                                </div>
                            </div>
                            <div class="alt2" ng-if="showLoginStat"
                                style="position:absolute;float:right;width:50%;height:100%;left:50%;">
                                <div class="toggle"></div>
                                <div id="close2" class="closebtn" style="float:right;" ng-click="tryAgain()"></div>
                                <h1 class="title">Authenticating</h1>
                                <i class="spinner" ng-show="loginBusy"></i>
                                <h4 class="loginstat" ng-show="loginError">{{errMsg}}</h4>
                                <div class="button-container" ng-show="loginError">
                                    <button id="close2" class="btntry" ng-click="tryAgain()">  <!-- ng-click="login()" -->
                                        <span>Retry</span>
                                    </button>
                                </div>
                            </div>
                            <div class="alt" ng-if="showForget"
                                    style="position:absolute;float:right;width:50%;height:100%;left:50%;">
                                <div class="toggle"></div>
                                <div class="closebtn" style="float:right;" ng-click="closeForgetContainer()"></div>
                                <h1 class="title">Forget Password</h1>
                                <form autocomplete="off" novalidate style="display:inline-block;width:100%;margin-top:20px;">
                                    <div class="input-container">
                                        <input type="text" id="Username" placeholder="User ID" required="required" style="box-shadow: none;" ng-model="forget.username" />
                                        <!--  <label for="Username">Username</label>
                                        <div class="bar"></div> -->
                                    </div>
                                    <div class="input-container">
                                        <input type="email" id="Email" placeholder="E-mail" required="required" style="box-shadow: none;" ng-model="forget.email"/>
                                        <!--  <label for="Email">E-mail</label>
                                        <div class="bar"></div> -->
                                    </div>
                                    <label style="margin-left:25px;">Challenge: <em style="font-size:20px;" ng-bind-html="challenge|html"></em></label>
                                    <!-- <div style="margin-top:6px;margin-bottom:6px">
                                    <label style="font-size:8;margin-left:25px;"><b>Ketik ulang huruf yang berwarna merah</b></label>
                                    </div> -->
                                    <div class="input-container">
                                        <input type="text" id="captcha" placeholder="Ketik huruf yang berwarna merah" required="required" style="box-shadow: none;font-size:12px"
                                                ng-model="forget.captcha"
                                        />
                                    </div>
                                    <p style="margin-left:25px;color:red;" ng-if="forgetError">{{forgetErrorMsg}}</p>
                                    <div class="button-container">
                                        <button class="btntry" ng-click="forgetPassword()"><span>Send</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <p style="text-align:center;display:inline-block;width:100%;">TOYOTA Dealer Management System &#169; 2016</p>
                </div>
            </div>
        </div>
    <!-- build:script template -->
    <!-- /build -->
    <!-- build:script js -->
    <!-- /build -->
    <!--SCRIPTS-->
    <script src="app/_dependencies/sysauth/sails.io.js"></script>
    <script src="app/_dependencies/sysauth/jquery.min.js"></script>
    <script src="app/_dependencies/sysauth/api-check.min.js"></script>
    <script src="app/_dependencies/sysauth/angular.min.js"></script>
    <script src="app/_dependencies/sysauth/angular-animate.min.js"></script>
    <script src="app/_dependencies/sysauth/angular-messages.js"></script>
    <script src="app/_dependencies/sysauth/angular-aria.js"></script>
    <script src="app/_dependencies/sysauth/ngDialog.min.js"></script>
    <script src="app/_dependencies/sysauth/bsTab.js"></script>
    <script src="app/_sys/auth/loginController.js"></script>
    <script src="app/_sys/auth/auth.js"></script>
    <script src="app/_sys/auth/localStorage.js"></script>
    <script src="app/_sys/auth/accessLevels.js"></script>
    <script src="app/_dependencies/signature_pad.min.js"></script>
    <!--SCRIPTS END-->
    <script type="text/javascript">loading_screen.finish();</script>
</body>
</html>
