<!--
	Catatan Flow
	1. 

-->
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
} 

.judul-filter{
    width: 1%;
}

</style>
<fieldset>
<div>                
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Referensi GR *</label>
                <!-- <select class="form-control" ng-model="myrefGR" ng-options="item for item in items">   -->                                      
                <select class="form-control" disabled>
                  <option selected>PO TAM</option>
                  <option>Sales Order</option>
                  <option>Transfer Order</option>
                  <option>Return Parts Claim</option>
                  <option>Return RPP</option> 
                </select>
            </div>
            <!-- <div class="col-md-2">                
                <label class="control-label">No. Shipping *</label>
                <input class="form-control" type="text" name="no_wo" ng-model="mData.ShippingNo" placeholder=""></input>
            </div>       -->                                  
            <!-- <div class="col-md-2 col-md-offset-1" >                 -->
            <div class="col-md-3">
                <!-- <input class="form-control" type="text" ng-model="mData.RefGINo" name="no_wo" placeholder="WO/20160715001"></input> -->
                <!-- <input type="text" ng-model="mData.ShippingNo" class="form-control" required> -->
                <label class="control-label">No. Shipping *</label>
                <div class="input-icon-right">
                    <i ng-click= "onSearchShippingNo(1, mData.ShippingNo)" class="fa fa-search"></i>
                    <input type="text" name="" ng-model="mData.ShippingNo" class="form-control" placeholder="Shipping No." 
                        ng-change="onShippingNoChanged()" required></input>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 1 -->
              <br />
        <!-- [START] Form Level 2 -->
        <div class="row">             
            <div class="col-md-2">
                <label class="control-label">Vendor *</label>
                <!-- <div class="input-group"> -->                                                            
                <div class="input-icon-right">  
                <i ng-click= "SearchVendor(mData)" class="fa fa-search"></i>
                <input class="form-control" type="text" name="" ng-model="mData.Name" placeholder="" required></input>
                  <!--ng-disabled="isDisabled == true"-->
                </div>                    
            </div>
            <!-- </div> -->
            <div class="col-md-2">
                <div class="input-group">
                        <label class="control-label">Tanggal Terima *</label>
                        <div class="tanggal">
                      <bsdatepicker
                      name="startDate"
                      date-options="dateOptions"
                      ng-model="mData.ReceiptDate" 
                      ng-disabled = true
                      >
                      </bsdatepicker>
                    </div> 
                    <!-- <input class="form-control" type="text" name="" ng-model="mData.ReceiptDate" placeholder=""></input> -->
                </div>
            </div>    
            <div class="col-md-1">
                <label class="control-label">&nbsp</label>
                <input class="form-control" type="text" name="" ng-model="ReceiptTime" placeholder="" disabled></input>
            </div>        
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Tipe Material *</label>
                <!-- 
                <input class="form-control" style="text-align : left" type="text" name="grandtotal" placeholder="Rania"></input>
            -->
                <!-- <select class="form-control" ng-model="myTipeMat" ng-options="tipe for tipe in TipeMat">  --> 
                <select class="form-control" ng-model="mData.MaterialType" ng-options="tipe for tipe in TipeMat" disabled> 
                    <!-- <option value="">-- choose status --</option>  -->
                  </select>
            </div>
            <div class="col-md-2">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
            </div>                                        
        </div>
        <!-- [END] Form Level 7 --> 
         <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Notes</label>
                <textarea class="form-control" ng-model="mData.Notes" maxlength="200" row="5"></textarea>
            </div>
            <div class="col-md-4">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-4">
                <label class="control-label">&nbsp</label> 
            </div>                             
        </div>
        <!-- [END] Form Level 7 -->    
</div>
</fieldset>
<fieldset style="padding-top: 10px">
<div class="row">
    <div class="col-md-2">
        <div class="input-group-btn dropdown" uib-dropdown="">
          <button style="margin-right:5px;" type="button" ng-disabled="!mySelections.length>0" 
            class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" 
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <!-- ngIf: allowDelete -->
            <li>
            <!-- ngIf: selectedRows.length>0 --><a href="#" ng-click="bulkAction(1)">Hapus</a>
            <!-- end ngIf: selectedRows.length>0 --></li>
            <!-- end ngIf: allowDelete -->
            <!-- ngIf: allowApprove -->
            <!-- ngIf: allowReject -->
            <!-- ngIf: allowReview -->
            <!-- ngRepeat: customBulk in customBulkFunc -->
          </ul>
        </div>
    </div>
    <!-- <div class="col-md-9" align="right"> -->
    <div class="col-md-10" align="right">
        <button class="rbtn btn" ng-click="addNewDataItem(10)">Tambah Material</button>
    </div>
</div>
</fieldset>
<fieldset style="padding-top: 10px">
    <div class="row"> <!-- ng-show = "IsVisible"> is work--> 
        <!-- <div class="col-md-12" ng-controller="GoodsReceiptController"> -->
        <div class="col-md-12">
          <div id="grid1" ui-grid="gridOptionsTAM" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
        </div>
    </div>
</fieldset>
<fieldset style="padding-top: 10px">
<div align="right">
	<!-- <button class="btn btn-default">Kembali</button> -->
    <!--<button class="btn btn-default" ng-click="ShowHide()">Kembali</button>  -->
    <button class="btn rbtn" ng-disabled="checkRefGINo" ng-click="simpanPO(1, mData)">Simpan & Print</button>    <!-- 
      FSD v1.0 Hal. 327 Item (gambar) no 19 , jika klik tombol ini data disimpan, dan status = Completed
    -->
</div>
</fieldset>
<!-- <pre>{{mData}}</pre> -->
