<div class="panel panel-danger" style="border-color:#D53337;">
    <div class="panel-heading" style="color:white; background-color:#D53337;">
        <h3 class="panel-title">{{showMsg.title}}</h3></div>
    <div class="panel-body">
        <p> {{showMsg.message}}</p>
        <button type="button " class="ngdialog-button ngdialog-button-secondary " ng-click="closeThisDialog(0) ">{{showMsg.closeText}}</button>
    </div>
</div>



