<script type="text/javascript">

</script>
<style type="text/css">
fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

/*.grid {
  width: 500px;
  height: 180px;
}*/

.form-horizontal .control-label{
/* text-align:right; */
text-align:left;
/*background-color:#ffa;*/
}

.margin-bottom {
    margin-bottom: 1px;
}

.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<!--<div ng-controller="PartsClaimInquiryController">
    <div ui-grid="grid" class="grid" ui-grid-auto-resize ui-grid-edit ui-grid-cellNav ui-grid-pagination></div>    
</div>-->

<bsform-grid
        ng-form="PartsClaimInquiryForm"
        factory-name="PartsClaimInquiry"
        model="mData"
        model-id="id"
        loading="loading"
        show-advsearch="on"

        get-data="getData(mData)"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        on-before-new-mode="onBeforeNewMode"
        on-before-edit-mode="onBeforeEditMode"
        on-show-detail = "onShowDetail"
        do-custom-cancel = "docustomCancel"

        form-name="PartsClaimInquiryForm"
        form-title="Claim Inquiry"
        modal-title="Claim Inquiry"
        modal-size="small"
        icon="fa fa-fw fa-child"

        >
        <bsform-advsearch>
            
              <!-- Row Atas -->
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group" show-errors>
                      <label class="control-label">Tgl Claim</label>
                        <div class="tanggal">
                          <bsdatepicker
                          name="TanggalClaim"
                          date-options="dateOptions"
                          ng-model="mData.TanggalClaim"
                          required>
                          </bsdatepicker>
                        </div>  
                      <bserrmsg field="mData.TanggalClaim"></bserrmsg>
                  </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Tipe Claim</label>
                    <select class="form-control" ng-model="mData.TipeClaim">
                      <option value="1">Parts Claim</option>
                      <option value="2">RPP</option>
                    </select>
                  </div>
                </div>   
                <div class="col-md-1"></div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Tipe Inquiry</label>
                    <select class="form-control" ng-model="mData.TipeInquiry">
                      <option value="1">Answered Claim</option>
                      <option value="0">Outstanding Claim</option>
                    </select>
                  </div>
                </div>                        
              </div>
              <!-- end row -->

              <!-- Row Bawah -->
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">No. Dokumen DMS</label>
                    <input type="text" class="form-control" ng-model="mData.NoDokumen">
                  </div>
                </div>
              </div>
              <!-- end row -->
              <div class="row"> 
                <div class="col-md-11">
                  <button class="btn wbtn pull-right" ng-click="onDeleteFilter()">Hapus Filter</button>
                </div>                      
              </div>
              

        </bsform-advsearch>

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY --> 
<div class="panel panel-danger" style="border-color:#D53337;">
	<div class="panel-heading" style="color:white; background-color:#D53337;">
		<h3 class="panel-title">Claim Inquiry - Detail</h3>
	</div>

  <div class="panel-body">

<div class="row">
  <div class="col-sm-6">
    <form class="form-horizontal">
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Tipe Claim</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static"><span>{{mData.claimType}}</span></p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>No. PO</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.purchaseOrderNumber}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>No. Vendor Invoice</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.vendorInvoice}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Kode Claim</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.kodeClaim}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Dealer Request</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.dealerRequest}}</p>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
    <form class="form-horizontal">
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Tgl Claim</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.claimDate}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>No. Dokumen TAM</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.tamRefNo}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Delivery Date</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.deliveryDate}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Tgl GR</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.grDate}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Tipe Customer</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.tipeCustomer}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Tipe Material</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.tipeMaterial}}</p>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row row-bordered"><div class="col-sm-12"></div></div><br>
<div class="row">
  <div class="col-sm-6">
    <form class="form-horizontal">
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>No. Part</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.partNo}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Nama Part</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.partName}}</p>
        </div>
      </div>
      <!--<div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>No. Vendor Invoice</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.noVendorInvoice}}</p>
        </div>
      </div>-->
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Qty Claim</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.claimQty}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Harga Net Dealer</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.priceDealerNet}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Total Harga Net Dealer</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.TotalpriceDealerNet}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Claim Amount</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.claimAmount}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Dealer Note</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.dealerNote}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>&nbsp</strong></label>
        <div class="col-sm-8">
          <a href="#" class="form-control-static">{{mData.attachment}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>TAM x Note</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.tamNote}}</p>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row row-bordered"><div class="col-sm-12"></div></div><br>
<div class="row">
  <div class="col-sm-6">
    <form class="form-horizontal">

      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Supervisor Judge Code</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.spvJudgement}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Supervisor Judge Date</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.spvJudgementDate}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>TAM Judgement</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.tamJudgement}}</p>
        </div>
      </div>
      <div class="form-group margin-bottom">
        <label class="col-sm-4 control-label"><strong>Tgl Penilaian TAM</strong></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{mData.tamJudgementDate}}</p>
        </div>
      </div>
      
    </form>
  </div>
</div>
</div>
</div>

  
</bsform-grid-tree>





