<script type="text/javascript">
var number = document.getElementById('ProfileLeasingTenorPreventNegative');
	// Listen for input event on numInput.
	number.onkeydown = function(e) {
		if(!((e.keyCode >= 48 && e.keyCode <= 57)
		  || e.keyCode == 8|| e.keyCode == 46)) {
			//titik tu 190 buat decimal
			return false;
		}
	}
	
	
</script>
<style type="text/css">
.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;

</style>

<bsform-grid
        ng-form="ProfileLeasingTenorForm"
        factory-name="ProfileLeasingTenorFactory"
        model="mProfileLeasingTenor"
        model-id="LeasingTenorId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="ProfileLeasingTenorForm"
        form-title="Leasing Tenor"
        modal-title="Leasing Tenor"
        modal-size="small"
		form-api="formApi" 
		do-custom-save="doCustomSave"
        on-bulk-delete="DeleteManual"
        icon="fa fa-fw fa-child"
        >


        <div class="row">
         <div class="col-md-6">

           <div class="form-group" show-errors>
                <bsreqlabel>Waktu Tenor</bsreqlabel>
				<ul class="list-inline">
                    <li><div class="input-icon-right block">
					<i class="fa fa-pencil"></i>
                    <input maxlength="3" number-only id="ProfileLeasingTenorPreventNegative" type="text" class="form-control" name="leasingTenorTime" placeholder="Waktu Tenor" ng-model="mProfileLeasingTenor.LeasingTenorTime"
                              required
                    >
					 </div> 
					</li>
					<li><label>(Bulan)</label></li>
				</ul>	
               
                <bserrmsg field="leasingTenorTime"></bserrmsg>
            </div>

          </div>
        </div>
</bsform-grid-tree>
