<link rel="stylesheet" href="css/uistyle.css">
<link rel="stylesheet" href="css/uitimelinestyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="styleSheet" href="release/ui-grid.min.css" />
<script src="/release/ui-grid.min.js"></script>

<script type="text/javascript">
 
</script>

<style type="text/css">
/* @media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
} */

.Search{
    position: absolute!important;
    border: 1px solid #e2e2e2;
    border-color: #e2e2e2 #e2e2e2 #fff!important;
    border-radius: 3px;
    height: 37px;
    z-index: 1;
    padding-top: 0!important;
    left: -40px;
    padding-right: 6px!important;
    background-color: rgba(213,51,55,.02);
}
</style>

<div ng-show="SummaryStock">
    <div align="right">
        <button class="Search" style="margin-left: 96%; margin-top: -35px;">
            <i class="fa fa-fw fa-search" style="font-size:1.4em;"></i>
        </button>
		<button class="ubtn" ng-click="actRefresh()" onclick="this.blur();" tooltip-placement="bottom" tooltip-trigger="mouseenter" tooltip-animation="false" uib-tooltip="Refresh" tabindex="0" style="float:right; margin-top:-35px;">
			<i class="fa fa-fw fa-refresh" style="font-size:1.4em;"></i>
		</button>
    </div>
    

    <div class="row advsearch" style="padding:10px; margin:0px 0 0 0; border:1px solid #e2e2e2;background-color:rgba(213,51,55,0.02);">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Cabang</label>
                    <bsselect ng-disabled="SummaryStockDisableFilterCabang" id="comboBox" ng-model="filter.OutletId" data="getOutlet" item-text="Name" item-value="OutletId" on-select="OutletId" placeholder="Cabang" icon="fa fa-sitemap">
                    </bsselect>
                </div>
                <div class="form-group">
                    <label>Model</label>
                    <bsselect id="comboBox" ng-model="filter.VehicleModelId" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" on-select="filterModel(selected)" placeholder="Model" icon="fa fa-car glyph-left">
                    </bsselect>
                </div>
            </div>        

            <div class="col-md-3">
                <div class="form-group">
                    <label>Provinsi</label>
                    <bsselect id="comboBox" ng-model="filter.ProvinceId" data="getProvince" item-text="ProvinceName" item-value="ProvinceId" ng-change="filterKabupaten(filter.ProvinceId)" placeholder="Provinsi" icon="fa fa-globe">
                    </bsselect>
                </div>
                <div class="form-group">
                    <label>Tipe</label>
                    <bsselect id="comboBox" ng-model="filter.VehicleTypeId" data="getTipe" item-text="Description,KatashikiCode,SuffixCode" item-value="VehicleTypeId" ng-change="pilihType(filter.VehicleTypeId)" on-select="VehicleTypeId" placeholder="Tipe" icon="fa fa-car glyph-left">
                    </bsselect>
                </div>
            </div>        

            <div class="col-md-3">
                <div class="form-group">
                    <label>Kota</label>
                    <bsselect id="comboBox" ng-model="filter.CityRegencyId" data="getCity" item-text="CityRegencyName" item-value="CityRegencyId" on-select="CityRegencyId" placeholder="Kota" icon="fa fa-globe">
                    </bsselect>
                </div>
                <div class="form-group">
                    <label>Warna</label>
                    <bsselect id="comboBox" ng-model="filter.ColorId" data="listWarna" item-text="ColorCodeName" item-value="ColorId" on-select="ColorId" placeholder="Warna" icon="fa fa-car glyph-left">
                    </bsselect>
                </div>
            </div>    
        </div>

        <div class="" style="position:absolute;right:20px;margin-top:-30px;">
            <div class="pull-right">
                <div class="btn-group" style="">
                    <button class="btn wbtn" style="padding:4px;" ng-click="getData()()" onclick="this.blur()" tooltip-placement="bottom" tooltip-trigger="mouseenter" tooltip-animation="false" uib-tooltip="Search" tabindex="0"><i class="large icons"><i class="database icon"></i><i class="inverted corner filter icon"></i></i>Search</button>
                </div>
            </div>
        </div>
    </div>

    <div id="filterData" class="row" style="margin:0; margin-top:10px;">
		<div style="float:left;" class="input-group-btn dropdown" uib-dropdown="">
		<button style="margin-right:5px;" ng-disabled="true" type="button" class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" data-toggle="dropdown" tabindex="0" aria-haspopup="true" aria-expanded="false" disabled="disabled">Bulk Action&nbsp;<span class="caret"></span>
		</button>
		
		</div>
		<div id="inputFilter" style="margin-left:95px;float:left; width:20%;">
			<div class="form-group filterMarg">
				<input type="text" ng-change="filterSearch()" required ng-model="textFilter" class="form-control" name="ModelKendaraan" placeholder="Search" maxlength="100">
			</div>
		</div>
		<div id="comboBoxFilter" style="float:left; width:15%; font-size:12px;">
				<div class="form-group filterMarg">
					<select required ng-model="selectedFilter" ng-change="filterSearch()" class="form-control" ng-options="item.value as item.name for item in filterData.defaultFilter"
					 placeholder="Filter">
						<option label="Filter" value="" disabled>Filter</option>
					</select>
				</div>
			</div>
	</div>

    <div>
        <div ui-grid="gridSummary" ui-grid-grouping class="grid" ui-grid-pagination ui-grid-pinning ui-grid-auto-resize></div>   
    </div>
     
</div>

<div class="modal fade" id="detailKendaraan" role="dialog">
    <div class="modalDefault-dialog">
        <div class="modal-header" style="background-color:whitesmoke;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="padding-bottom:20px;">
            
        </div>
        <div class="modal-footer" style="padding:10px;">
            <div class="row">
                <button id="btnBatalModal" ng-click="btnTutupDetailModal()"  class="rbtn btn ng-binding ladda-button" style="float: right; bottom: 10%; width:15%">Tutup </button>
            </div>
        </div>
    </div>
</div>

<div class="ui modal show_modal_detail_summary_stock">
	<div>
		<div class="modal-header" style="padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
            <p style="font-size: 18px; font-weight:bold;">
                {{detailRow.VehicleTypeDescription}} {{detailRow.ColorName}}
            </p>
        </div>
		<div class="modal-body">
			<div class="row" style="padding-bottom:10px;">
				<div class="col-md-4">
					<p style="font-size: 14px; font-weight:bold">
						Katashiki
					</p>
					<p style="font-size: 14px">
						<ul class="list-inline" style="font-size: 14px">
							<li >{{detailRow.KatashikiCode}}</li>
						</ul>
					</p>
				</div>
				<div class="col-md-4">
					<p style="font-size: 14px; font-weight:bold">
						Suffix
					</p>
					<p style="font-size: 14px">
					  <ul class="list-inline" style="font-size: 14px">
						  <li >{{detailRow.SuffixCode}}</li>
					  </ul>
					</p>
				</div>
				<div class="col-md-4">
					<p style="font-size: 14px; font-weight:bold">
						Color Code / Name
					</p>
					<p style="font-size: 14px">
						<ul class="list-inline" style="font-size: 14px">
							<li>{{detailRow.ColorCode}}-{{detailRow.ColorName}}</li>
						</ul>
					  </p>
				</div>
			</div>
					   
			<div class="row" style="padding-bottom:10px;">
				<div class="col-md-4">
					<p style="font-size: 14px; font-weight:bold">
						No. Rangka /RRN
					</p>
					<p style="font-size: 14px">
						<ul class="list-inline" style="font-size: 14px">
							<li>{{detailRow.FrameNo}}-{{detailRow.RRNNo}}</li>
						</ul>
					</p>
				</div>
				<div class="col-md-4">
					<p style="font-size: 14px; font-weight:bold">
						Chasis No
					</p>
					<p style="font-size: 14px">
						<ul class="list-inline" style="font-size: 14px">
							<li style="width:100px;">{{detailRow.ChasisNo}}</li>
						</ul>
					</p>
				</div>
				<div class="col-md-4">
					<p style="font-size: 14px; font-weight:bold">
						Engine No
					</p>
					<p style="font-size: 14px">
						<ul class="list-inline" style="font-size: 14px">
							<li style="width:100px;">{{detailRow.EngineNo}}</li>
						</ul>
					</p>
				</div>
			</div>

			<div class="row" style="padding-bottom:10px;">
				<div class="col-md-4">
					<p style="font-size: 14px; font-weight:bold">
						PLOD
					</p>
					<p style="font-size: 14px">
						<ul class="list-inline" style="font-size: 14px">
							<li>{{detailRow.PLOD | date:'dd-MM-yyyy'}}</li>
						</ul>
					</p>
				</div>
				<div class="col-md-4">
					<p style="font-size: 14px; font-weight:bold">
						TAM Delivery Order Date
					</p>
					<p style="font-size: 14px">
						<ul class="list-inline" style="font-size: 14px">
							<li>{{detailRow.DOTAMDate | date:'dd-MM-yyyy'}}</li>
						</ul>
					</p>
				</div>
				<div class="col-md-4">
					<p style="font-size: 14px; font-weight:bold">
						Matching Date
					</p>
					<p style="font-size: 14px">
						<ul class="list-inline" style="font-size: 14px">
							<li>{{detailRow.MatchingDate | date:'dd-MM-yyyy'}}</li>
						</ul>
					</p>
				</div>
			</div>

			<div class="row" style="padding-bottom:10px;">
				<div class="col-md-4">
					<p style="font-size: 14px; font-weight:bold">
						Location
					</p>
					<p style="font-size: 14px">
						<ul class="list-inline" style="font-size: 14px">
							<li>{{detailRow.LastLocation}}</li>
						</ul>
					</p>
				</div>
				<div class="col-md-4">
					<p style="font-size: 14px; font-weight:bold">
						Kategori
					</p>
					<p style="font-size: 14px">
						<ul class="list-inline" style="font-size: 14px">
							<li>{{detailRow.StatusUnitName}}</li>
						</ul>
					</p>
				</div>
				<div class="col-md-4">
					<p style="font-size: 14px; font-weight:bold">
						No Kunci
					</p>
					<p style="font-size: 14px">
						<ul class="list-inline" style="font-size: 14px">
							<li>{{detailRow.KeyNumber}}</li>
						</ul>
					</p>
				</div>       
            </div>
            <div class="row" style="padding-bottom:10px;">
				<div class="col-md-4">
					<p style="font-size: 14px; font-weight:bold">
						Posisi Unit
					</p>
					<p style="font-size: 14px">
						<ul class="list-inline" style="font-size: 14px">
							<li>{{detailRow.DeliveryNoteLocation}}</li>
						</ul>
					</p>
				</div>
				<div class="col-md-4">
					<p style="font-size: 14px; font-weight:bold">
						Alamat
					</p>
					<p style="font-size: 14px">
						<ul class="list-inline" style="font-size: 14px">
							<li>{{detailRow.DeliveryNoteAddress}}</li>
						</ul>
					</p>
                </div>
            </div>
		</div>
		<div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <div class="row" style="margin:  0 0 0 0">
                <button ng-click="Tutup_show_modal_detail_summary_stock()" class="wbtn btn ng-binding ladda-button" style="float:right;">Keluar</button>
            </div>
        </div>
	</div>
</div>

<bsui-modal  
    show="show_modal.show" title="Stock Detail" data="modal_model" on-save="onListSave" on-cancel="onListCancel" mode="modalMode" width="50%">
    <div ng-form name="contactForm">        
        <div class="row">
            <div class="col-md-6">
                <p style="font-size: 14px; font-weight:bold">
                    {{detailRow.VehicleTypeDescription}} {{detailRow.ColorName}}
                </p>
            </div>
        </div>

        <div class="row" style="padding-bottom:10px;">
            <div class="col-md-4">
                <p style="font-size: 14px; font-weight:bold">
                    Katashiki
                </p>
                <p style="font-size: 14px">
                    <ul class="list-inline" style="font-size: 14px">
                        <li >{{detailRow.KatashikiCode}}</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p style="font-size: 14px; font-weight:bold">
                    Suffix
                </p>
                <p style="font-size: 14px">
                  <ul class="list-inline" style="font-size: 14px">
                      <li >{{detailRow.SuffixCode}}</li>
                  </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p style="font-size: 14px; font-weight:bold">
                    Color Code / Name
                </p>
                <p style="font-size: 14px">
                    <ul class="list-inline" style="font-size: 14px">
                        <li>{{detailRow.ColorCode}}-{{detailRow.ColorName}}</li>
                    </ul>
                  </p>
            </div>
        </div>
                   
        <div class="row" style="padding-bottom:10px;">
            <div class="col-md-4">
                <p style="font-size: 14px; font-weight:bold">
                    No. Rangka /RRN
                </p>
                <p style="font-size: 14px">
                    <ul class="list-inline" style="font-size: 14px">
                        <li>{{detailRow.FrameNo}}-{{detailRow.RRNNo}}</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p style="font-size: 14px; font-weight:bold">
                    Chasis No
                </p>
                <p style="font-size: 14px">
                    <ul class="list-inline" style="font-size: 14px">
                        <li style="width:100px;">{{detailRow.ChasisNo}}</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p style="font-size: 14px; font-weight:bold">
                    Engine No
                </p>
                <p style="font-size: 14px">
                    <ul class="list-inline" style="font-size: 14px">
                        <li style="width:100px;">{{detailRow.EngineNo}}</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="row" style="padding-bottom:10px;">
            <div class="col-md-4">
                <p style="font-size: 14px; font-weight:bold">
                    PLOD
                </p>
                <p style="font-size: 14px">
                    <ul class="list-inline" style="font-size: 14px">
                        <li>{{detailRow.PLOD | date:'dd-MM-yyyy'}}</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p style="font-size: 14px; font-weight:bold">
                    TAM Delivery Order Date
                </p>
                <p style="font-size: 14px">
                    <ul class="list-inline" style="font-size: 14px">
                        <li>{{detailRow.DOTAMDate | date:'dd-MM-yyyy'}}</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p style="font-size: 14px; font-weight:bold">
                    Matching Date
                </p>
                <p style="font-size: 14px">
                    <ul class="list-inline" style="font-size: 14px">
                        <li>{{detailRow.MatchingDate | date:'dd-MM-yyyy'}}</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="row" style="padding-bottom:10px;">
            <div class="col-md-4">
                <p style="font-size: 14px; font-weight:bold">
                    Location
                </p>
                <p style="font-size: 14px">
                    <ul class="list-inline" style="font-size: 14px">
                        <li>{{detailRow.LastLocation}}</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p style="font-size: 14px; font-weight:bold">
                    Kategori
                </p>
                <p style="font-size: 14px">
                    <ul class="list-inline" style="font-size: 14px">
                        <li>{{detailRow.StatusUnitName}}</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p style="font-size: 14px; font-weight:bold">
                    Key Number
                </p>
                <p style="font-size: 14px">
                    <ul class="list-inline" style="font-size: 14px">
                        <li>{{detailRow.KeyNumber}}</li>
                    </ul>
                </p>
            </div>       
        </div>
    </div>
</bsui-modal>

	
