<script type="text/javascript">

</script>
<style type="text/css">
fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.grid {
  /*width: 500px;*/
  height: 180px;
}

.endDate::before {
    content: "-";
    position: absolute;
    left: -2%;
    top: 30px;
}

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<!-- <div class="container">
<div class="row">
  <div class="col-md-2 col-md-offset-6">
    <button type="button" class="btn btn-sm btn-danger" ng-click="showModal()">Close PO</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="showModal()">Cancel PO</button>
  </div>
</div>
</div> -->
 <!--<div ng-if="isOverlayForm" ng-include="'app/parts/disposal/disposalgateway.html'"></div> -->
 <!--<div ng-if="isViewRequest" ng-include="'app/parts/transferorder/templates/formviewrequest.html'"></div>-->
<!--<div ng-show="!(isViewRequest)">-->
  <!-- hide-edit-button="hideEditButton"    -->
<bsform-grid
        ng-form="PartsTransferOrderForm"
        factory-name="PartsTransferOrder"
        model="mData"
        get-data="getData"
        model-id="Id"
        loading="loading"
        show-advsearch="on"
        hide-save-button="hideSimpanButton"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        on-before-new="onBeforeNewMode"
        on-before-edit="onBeforeEditMode"
        on-show-detail = "onShowDetail"
        on-validate-save="onValidateSave"

        on-bulk-approve="onBulkApproveTS"
        on-bulk-reject="onBulkRejectTS"

        grid-hide-action-column="actionHide"
        hide-new-button="hideNewButton"

        rights-byte = "myRights"
        form-api="formApi"

        form-name="PartsTransferOrderForm"
        form-title="Transfer Order"
        modal-title="Transfer Order"
        modal-size="small"
        icon="fa fa-fw fa-child"

        >
        <bsform-advsearch>

              <!-- Row Atas -->
              <div class="row">
                <div class="col-md-2">
                <label class="control-label">Status</label>
                <select class="form-control" ng-model="mData.fTransferOrderStatusId">
                  <option value="0">Draft</option>
                  <option value="1">Request Approval</option>
                  <option value="2">Open</option>
                  <option value="3">Partial</option>
                  <option value="4">Completed</option>
                  <option value="5">Cancelled</option>
                </select>
                </div>
                <div class="col-md-2">
                <label class="control-label">Tanggal TO *</label>
                <div class="tanggal">
                  <bsdatepicker
                  name="startDate"
                  date-options="dateOptions"
                  ng-model="mData.startDate"
                  >
                  </bsdatepicker>
                </div>
                </div>
                <div class="col-md-2">
                <label class="control-label">&nbsp</label>
                  <div class="endDate">
                  <bsdatepicker
                  name="endDate"
                  date-options="dateOptions"
                  ng-model="mData.endDate"
                  >
                  </bsdatepicker>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">No. TO</label>
                    <input type="text" class="form-control" ng-model="mData.fTransferOrderNo">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">Request {{captionToFrom}} Bengkel</label>
                    <input type="text" class="form-control" ng-model="mData.OutletName">
                  </div>
                </div>
              </div>
              <!-- end row -->
              <div class="row">
                <div class="col-xs-6 col-xs-offset-2">
                  <span class="help-block">* Mandatory ketika filter Status</span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <label class="control-label">Jenis Transfer</label>
                  <select
                    class="form-control"
                    ng-model="mydsoTampil"
                    ng-options="status.name for status in dsoTampil"
                    ng-change="changedValue(mydsoTampil)"
                  >
                </div>
                <div class="col-md-2 col-md-offset-7">
                  <button class="btn wbtn" ng-click="onDeleteFilter()">Hapus Filter</button>
                </div>
              </div>
        </bsform-advsearch>

        <div ng-show="isModeTambah">
          <div ng-include="'app/parts/transferorder/templates/formtambah.html'"></div>
        </div>

        <div ng-show="isModeEdit">
          <div ng-include="'app/parts/transferorder/templates/formubah.html'"></div>
        </div>

        <div ng-show="isModeView">
          <div ng-include="'app/parts/transferorder/templates/formview.html'"></div>
        </div>

        <div ng-show="isViewRequest">
          <div ng-include="'app/parts/transferorder/templates/formviewrequest.html'"></div>
        </div>

        <!-- previous code here  -->
</bsform-grid>
        <!--<div ng-show="isViewRequest">
          <div ng-include="'app/parts/transferorder/templates/formviewrequest.html'"></div>
        </div>
</div>-->
