<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript" src="js/print_min.js"></script>

<script type="text/javascript">
    function UlalaToBase64(buffer) {
        var binary = '';
        var bytes = new Uint8Array(buffer);
        var len = bytes.byteLength;
        for (var i = 0; i < len; i++) {
            binary += String.fromCharCode(bytes[i]);
        }
        return window.btoa(binary);
    }

    function dataURItoBlob(dataURI) {

        // convert base64/URLEncoded data component to raw binary data held in a string
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);

        // separate out the mime component
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

        // write the bytes of the string to a typed array
        var ia = new Uint8Array(byteString.length);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ia], {
            type: mimeString
        });
    }
</script>

<style type="text/css">

</style>

<div ng-show="ShowListDelivery">
    <bsform-grid ng-form="ListDeliveryUnitForm" factory-name="ListDeliveryUnitFactory" model="mListDeliveryUnit" model-id="DECId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" grid-hide-action-column="true" Hide-new-button="true"
        form-name="ListDeliveryUnitForm" form-title="ListDeliveryUnit" modal-title="ListDeliveryUnit" modal-size="small" loading="loading" icon="fa fa-fw fa-child">
    </bsform-grid>
</div>

<div ng-show="ShowCeklistAdministrasi">
    <button ng-disabled="selectedItems.length<=0||disabledBtnSimpan" class="rbtn btn ng-binding ladda-button" ng-click="btnSimpan()" style="float:right; margin:-30px 0 0 1px; width:11%;">Simpan</button>
    <button id="saveBtn" class="wbtn btn ng-binding ladda-button" ng-click="btnkembaliCheckListAdmin()" style="float:right; margin:-30px 0 0 1px; width:11%;">Kembali</button>

    <div class="row" style="padding-top:12px;margin-left:0px;margin-right:0px">

        <div class="listData">
            <button class="btn btn-default dropdown-toggle dropdown-toggle" type="button" ng-disabled="true" id="dropdownBtnListDataRadio" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Checklist Admin
            </button>
            <div class="list-group" id="dropdownContentListDataRadio" aria-labelledby="dropdownMenu1">
                <div class="list-group-item" ng-repeat="item in getAdministrasi" style="padding:10px 0px 10px 10px; background-color:#e8eaed;" ng-click="toggleChecked(item)">
                    <div class="row">
                        <div class="col-sm-12">
                            <h7 style="float: left;">{{item.ChecklistAdminPaymentName}}</h7>
                            <span style="float:right; "><i id="itemBtnRadio1" class="fa fa-check-circle-o fa-2x fa-lg" ng-style="{'color': item.checked == true ? '#3df747':'#000000'}"  aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-left:-5px">
        <table class="table table-bordered table-responsive" border="1" style="border: none !important">
            <tbody style="border: none !important">
                <td style="border: none !important; vertical-align:middle;">
                    <input ng-disabled="selectedItems.length<=0" style="margin-right:5px;" type="checkbox" ng-model="ViewDetail.DokumenLengkapBit">
                    <label>Dokumen sudah lengkap</label>
                </td>
            </tbody>
        </table>
    </div>

</div>

<div style="margin: 0 0 0 0" class="row" ng-show="ShowListDeliveryUnitPrintPreview">
    <div class="row" style="margin: -30px 0 0 0">
        <button ng-click="btnCetakListDeliveryUnitDonlot()" class="rbtn btn ng-binding ladda-button" style="float:right; width: 10%;">Download</button>
        <button ng-click="ClosePreviewListDeliveryUnit()" style="float:right; width:10%;" class="wbtn btn ng-binding ladda-button">Kembali</button>
    </div>
    <div class="row" style="margin: 100px 0 0 0">
        <p align="center">
            <img style="margin: auto" ng-src="{{ListDeliveryUnitGambarnya}}">
        </p>
    </div>

</div>