<script type="text/javascript">

</script>
<style type="text/css">
fieldset.detail-border {
    border: 1px solid #e2e2e2 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.detail-border {
    font-size: 1.2em !important;
    font-weight: 400 !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="GetsudoPeriodForm"
        factory-name="GetsudoPeriod"
        model="mPeriod"
        model-id = "GetsudoPeriodId"
        loading="loading"

        get-data="getData"
        selected-rows="xGetsudoPeriod.selected"
        on-select-rows="onSelectRows"
        rights-byte="myRights"
        grid-hide-action-column="actionHide"

        on-show-detail = "onShowDetail"
        on-before-cancel = "onBeforeCancel"

        form-name="GetsudoPeriodForm"
        form-title="Getsudo Period"
        modal-title="Getsudo Period"
        modal-size="small"
        icon="fa fa-fw fa-child"

        
        >

        <bsform-detail>

            <div ng-show="showDetailForm">
                <fieldset class="detail-border" >
                    <legend class="detail-border">Search
                        <span>
                            <i ng-class="{ 'fa fa-fw fa-eye-slash':(searchStat==true),
                                           'fa fa-fw fa-eye':(searchStat==false),
                                         }"
                               ng-click="toggleSearch()"></i>
                        </span>
                    </legend>
                    <div ng-show="searchStat">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Getsudo Period : ( {{Criteria.prdCode}} )  {{Criteria.prdName}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Area</label>
                                    <bsselect name="getsudoArea"
                                            ng-model="Criteria.areaid"
                                            data="areaData"
                                            item-text="Description"
                                            item-value="AreaId"
                                            placeholder="Pilih Area..."
                                            on-select="selectPeriod(selected)"
                                            icon="fa fa-building">
                                    </bsselect>
                                </div>
                                <div class="form-group">
                                    <label>Province</label>
                                    <bsselect name="getsudoPrd"
                                            ng-model="Criteria.provinceid"
                                            data="provinceData"
                                            item-text="ProvinceName"
                                            item-value="ProvinceId"
                                            placeholder="Pilih Province..."
                                            on-select="selectPeriod(selected)"
                                            icon="fa fa-globe">
                                    </bsselect>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Year : {{Criteria.xYear}}</label>
                                    
                                </div>
                                <div class="form-group">
                                    <label>Dealer</label>
                                    <bsselect name="getsudoDealer"
                                            ng-model="Criteria.dealerid"
                                            data="dealerData"
                                            item-text="GroupDealerCode,GroupDealerName"
                                            item-value="GroupDealerId"
                                            placeholder="Pilih Dealer..."
                                            on-select="selectDealer(selected)"

                                           
                                            icon="fa fa-automobile">
                                    </bsselect>
                                </div>
                                <div class="form-group">
                                    <label>Outlet</label>
                                    <bsselect name="getsudoPrd"
                                            ng-model="Criteria.outletid"
                                            data="outletData"
                                            item-text="OutletCode,Name"
                                            item-value="OutletId"
                                            placeholder="Pilih Outlet..."
                                            on-select="selectPeriod(selected)"
                                            icon="fa fa-taxi">
                                    </bsselect>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-right:0px;">
                            <div class="pull-right">
                                <div class="btn-group" style="">
                                    <button class="btn wbtn" style="" ng-click="getDataDetail()" onclick="this.blur()">
                                        <i class="fa fa-fw fa-search" style="font-size:1.4em;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    {{Criteria}}-->
                </fieldset>
                <div class="ui icon info message no-animate" ng-show="!showDetailPanel" ng-cloak>
                    <i class="fa fa-info-circle fa-2x fa-fw"></i>
                    <div class="content">
                        <div class="header">Please Select Criteria of Data to Show.</div>
                    </div>
                </div>
                <form class="form-inline" role="form" ng-show="showDetailPanel">
                  <div class="row" style="margin-right:0px;padding-bottom:5px;">
                    <div class="col-md-12" style="padding-right:0px;">
                      <div class="input-group">
                          <div class="input-group-btn" uib-dropdown>'+
                              <button style="margin-right:5px;" ng-disabled="!selectedDetailRows.length>0" type="button" class="btn wbtn"
                              onclick="this.blur()" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
                                  Bulk Action&nbsp;<span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                  <li role="menuitem"><a href="#" ng-click="actOpenAll(selectedDetailRows)">Open Periods</a></li>
                                  <li role="menuitem"><a href="#" ng-click="actCloseAll(selectedDetailRows)">Close Periods</a></li>
                              </ul>
                          </div>
                          <input type="text" class="form-control" placeholder="Filter" ng-model="gridApiDetail.grid.columns[filterColIdx].filters[0].term">
                          <div class="input-group-btn" uib-dropdown>
                              <button id="filter" type="button" class="btn wbtn" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
                                  {{filterBtnLabel|uppercase}}&nbsp;<span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="filter">
                                  <li role="menuitem" ng-repeat="col in gridDetailCols">
                                    <a href="#" ng-click="filterBtnChange(col)">{{col.name|uppercase}}
                                        <span class="pull-right">
                                            <i class="fa fa-fw fa-filter"
                                                ng-show="
                                                          gridApiDetail.grid.columns[{{$index+1}}].filters[0].term!='' &&
                                                          gridApiDetail.grid.columns[{{$index+1}}].filters[0].term!=undefined
                                                "
                                            ></i>
                                        </span>
                                    </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div id="grid1" ui-grid="gridDetail" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination                                     ui-grid-edit ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize
                     class="grid" ng-style="getTableHeight()" ng-show="showDetailPanel">
                    <div class="ui-grid-nodata" ng-if="!gridDetail.data.length && !loadingDetail" ng-cloak>No data available</div>
                    <div class="ui-grid-nodata" ng-if="loadingDetail" ng-cloak>Loading data... <i class="fa fa-spinner fa-spin"></i></div>
                </div>

            </div>

        </bsform-detail>

        <div ng-show="!showDetailForm">
            <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <!-- <bslabel>Period Code</bslabel> -->
                    <label>Getsudo Period : ( {{Criteria.prdCode}} )  {{Criteria.prdName}}</label>
                    <!-- <div class="input-icon-right">
                        <i class="fa fa-calendar-o"></i>
                        <input type="text" class="form-control" name="GetsudoPeriodCode" placeholder="Period Code" ng-model="mPeriod.GetsudoPeriodCode" ng-maxlength="50" required capitalize>
                    </div>
                    <bserrmsg field="GetsudoPeriodCode"></bserrmsg> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>Period Name</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-calendar"></i>
                        <input type="text" class="form-control" name="GetsudoPeriodName" placeholder="Period Name" ng-model="mPeriod.GetsudoPeriodName"  ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="GetsudoPeriodName"></bserrmsg>
                </div>
            </div>
        </div>
                            <!-- ng-change="startDateChanged(dt)" -->
            <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>Start Date</bsreqlabel>
                    <bsdatepicker
                            name="StartPeriod"
                                date-options="startDateOptions"
                            ng-model="mPeriod.StartPeriod"
                                ng-change="startDateChange(dt)"
                    >
                    </bsdatepicker>
                    <bserrmsg field="StartPeriod"></bserrmsg>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>End Date</bsreqlabel>
                    <bsdatepicker
                            name="EndPeriod"
                                date-options="endDateOptions"
                            ng-model="mPeriod.EndPeriod"
                            min-date="mPeriod.StartPeriod"
                                ng-change="endDateChange(dt)"
                    >
                    </bsdatepicker>
                    <bserrmsg field="EndPeriod"></bserrmsg>
                </div>
            </div>
        </div>

            <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>Start Edit Date</bsreqlabel>
                    <bsdatepicker
                            name="startEditDate"
                                date-options="startEditDateOptions"
                            ng-model="mPeriod.EditStartPeriod"
                            min-date="mPeriod.StartPeriod"
                            max-date="mPeriod.EndPeriod"
                                ng-change="startEditDateChange(dt)"
                    >
                    </bsdatepicker>
                    <bserrmsg field="EditStartPeriod"></bserrmsg>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>End Edit Date</bsreqlabel>
                    <bsdatepicker
                            name="EditEndPeriod"
                                date-options="endEditDateOptions"
                            ng-model="mPeriod.EditEndPeriod"
                            min-date="mPeriod.EditStartPeriod"
                            max-date="mPeriod.EndPeriod"
                                ng-change="endEditDateChange(dt)"
                    >
                        </bsdatepicker>
                    <bserrmsg field="EditEndPeriod"></bserrmsg>
                </div>
            </div>
        </div>

            <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>Start HO Review Date</bsreqlabel>
                    <bsdatepicker
                            name="StartDateHOReview"
                                date-options="startHOReviewDateOptions"
                            ng-model="mPeriod.StartDateHOReview"
                            min-date="mPeriod.EditStartPeriod"
                            max-date="mPeriod.EditEndPeriod"
                                ng-change="startHOReviewDateChange(dt)"
                        >
                        </bsdatepicker>
                    <bserrmsg field="StartDateHOReview"></bserrmsg>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>End Date</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" name="name" placeholder="Period Name" ng-model="mPeriod.name" required>
                    </div>
                    <bserrmsg field="name"></bserrmsg>
                </div>
            </div> -->
        </div>
        <!-- <pre>{{mPeriod}}</pre> -->
        </div>

</bsform-grid>

