.bs-list .panel {
  margin:0;
}
.bs-list .panel-body {
    padding: 0;
}
.bs-list .ui-list-view {
    border: none;
}
.bs-list .ui-list-view-child {
    border: none;
    border-top:1px solid #eee;
}

.ui-list-view {
    overflow: auto !important;
    position: relative;
    -webkit-overflow-scrolling: touch;
    height: auto;
}
.ui-list-view-child.expand {
    display:block;
    overflow: auto !important;
    position: relative;
    -webkit-overflow-scrolling: touch;
    height: 300px;
    background:#eee;
}
.ui-list-view-child {
    display:none;
}
.ui-list-view-cell {
    position: absolute;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.ui-list-view-cell:hover {
    background:#f2f7fb!important;
}
.ui-list-view-child-cell {
    position: absolute;
    width: calc(100% - 15px);
    width: -webkit-calc(100% - 15px);
    width: -moz-calc(100% - 15px);
    margin-left:15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.ui-list-view-child-cell:hover {
    background:#f2f7fb!important;
}
.ui-list-view-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
}
.ui-list-view-child-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
}

.ui-list-view-bordered {
    border: solid 1pt #eee;
}

.ui-list-view-bordered > .ui-list-view-cell,
{
    border-bottom: solid 1pt #eee;
}
.ui-list-view-bordered > .ui-list-view-child-cell, {
    border-bottom: solid 1pt #eee;
    border-left: solid 1pt #eee;
}
.ui-list-view-bordered > .ui-list-view-cell > .ui-list-view-cell-content > *,
.ui-list-view-bordered > .ui-list-view-child-cell > .ui-list-view-child-cell-content > * {
    /*padding: 15px 10px;*/
}

.ui-list-view-striped {
    border: solid 1px #eee;
}
.ui-list-view-striped > .ui-list-view-cell {
    border-bottom: solid 1px #dfdfdf;
}
.ui-list-view-striped > .ui-list-view-child-cell {
    border-bottom: solid 1px #dfdfdf;
    border-left: solid 1px #dfdfdf;
}

.ui-list-view-striped > .ui-list-view-cell:nth-child(even){
    background: #fbfbfb;
}
.ui-list-view-striped > .ui-list-view-child-cell:nth-child(odd) {
    background: #f9ffff;
}
.ui-list-view-striped > .ui-list-view-child-cell:nth-child(even) {
    background: #fff;
}

.ui-list-view-striped > .ui-list-view-cell > .ui-list-view-cell-content > *,
.ui-list-view-striped > .ui-list-view-child-cell > .ui-list-view-child-cell-content > * {
    /*padding: 15px 10px;*/
}

.ui-list-view-cell-content > .selected {
/*    background: #2A70DE;
    color: white;*/
    background-color:rgb(192, 232, 255);
    border-bottom: solid 1pt #eee;
}
.ui-list-view-cell-menu{
  display:table;
  width:100%;
  border-top:1px solid #efefef;
  border-left:none;
  border-right:none;
}

.ui-list-btn-select{
  background:transparent;
  border-style:none;
  font-size:20px;
  color:#999;
  padding:0px 5px 0px 5px;
}
.ui-list-btn-expand{
  background:transparent;
  border-style:none;
  font-size:20px;
  color:#999;
  padding:0px 5px 0px 4px;
}
.ui-list-btn-select.selected{
  color:green;
}
.ui-list-btn-expand i{
  transform: rotate(0deg);
  transition-duration: .3s;
}
.ui-list-btn-expand.expand i{
  /*content:"\f0da";*/
  transform: rotate(90deg);
  transition-duration: .3s;
}
.ui-list-btn,.ui-list-btn-select-all,
.ui-list-btn-delete,.ui-list-btn-reject,
.ui-list-btn-approve,.ui-list-btn-review,.ui-list-btn-print{
  background:transparent;
  border-style:none;
  font-size:20px;
  color:#999;
  padding:0px 5px 0px 5px;
}
.ui-list-btn.selectAll{
  color:green;
}
.ui-list-btn-select:hover,
.ui-list-btn-delete:hover,
.ui-list-btn-reject:hover,
.ui-list-btn:hover{
  color:#cc3233;
}
.ui-list-btn-select-all:hover,
.ui-list-btn-select:hover,
.ui-list-btn-approve:hover{
  color:green;
}
.ui-list-btn-expand:hover,
.ui-list-btn-review:hover,
.ui-list-btn-print:hover{
  color:rgba(21, 73, 243, 0.897);
}
.ui-list-btn.disabled > i,
.ui-list-btn-delete.disabled > i
{
  color:#ccc;
}
button[disabled].ui-list-btn > i,
button[disabled].ui-list-btn-delete > i
{
  color:#ccc;
}

.skewed-bg {
  background: #00B285;
  /*padding: 200px 0;*/
  -webkit-transform: skew(-25deg, 0deg);
  transform: skew(-25deg, 0deg);
  /*margin-top: -200px;*/
  width: 120%;
  margin-left:5px;
  margin-top:3px;
}
.skewed-bg2 {
  background: #00B285;
  /*padding: 200px 0;*/
  -webkit-transform: skew(-25deg, 0deg);
  transform: skew(-25deg, 0deg);
  /*margin-top: -200px;*/
  /*width: 120%;*/
  margin-left:5px;
  margin-top:3px;
  display:inline-block;
}
.skewed-bg .content,
.skewed-bg2 .content {
  -webkit-transform: skew(0deg, 0deg);
  transform: skew(0deg, 0deg);
  text-align: center;
  color:#fff;
}
.skewed-bg .content .title,
.skewed-bg2 .content .title {
  padding: 0 10px;
  font-weight: normal;
}
.skewed-bg .content .text,
.skewed-bg2 .content .text {
  width: 60%;
  margin: 25px auto;
  color: #ccfff2;
}