@charset "utf-8";

/*
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

@media only screen and (max-width: 300px) {
    .nav.nav-tabchild {
      display:none;
    }
}
*/

.nav-tabchild{border-bottom:1px solid #ddd}.nav-tabchild>li{float:left;margin-bottom:-1px}.nav-tabchild>li>a{margin-right:2px;line-height:1.42857143;border:1px solid transparent;border-radius:4px 4px 0 0}.nav-tabchild>li>a:hover{border-color:#eee #eee #ddd}.nav-tabchild>li.active>a,.nav-tabchild>li.active>a:focus,.nav-tabchild>li.active>a:hover{color:#555;cursor:default;background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent}.nav-tabchild.nav-justified{width:100%;border-bottom:0}.nav-tabchild.nav-justified>li{float:none}.nav-tabchild.nav-justified>li>a{margin-bottom:5px;text-align:center}.nav-tabchild.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}@media (min-width:768px){.nav-tabchild.nav-justified>li{display:table-cell;width:1%}.nav-tabchild.nav-justified>li>a{margin-bottom:0}}.nav-tabchild.nav-justified>li>a{margin-right:0;border-radius:4px}.nav-tabchild.nav-justified>.active>a,.nav-tabchild.nav-justified>.active>a:focus,.nav-tabchild.nav-justified>.active>a:hover{border:1px solid #ddd}@media (min-width:768px){.nav-tabchild.nav-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}.nav-tabchild.nav-justified>.active>a,.nav-tabchild.nav-justified>.active>a:focus,.nav-tabchild.nav-justified>.active>a:hover{border-bottom-color:#fff}}.nav-pills>li{float:left}.nav-pills>li>a{border-radius:4px}.nav-pills>li+li{margin-left:2px}.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{color:#fff;background-color:#337ab7}.nav-stacked>li{float:none}.nav-stacked>li+li{margin-top:2px;margin-left:0}.nav-justified{width:100%}.nav-justified>li{float:none}.nav-justified>li>a{margin-bottom:5px;text-align:center}.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}@media (min-width:768px){.nav-justified>li{display:table-cell;width:1%}.nav-justified>li>a{margin-bottom:0}}.nav-tabchild-justified{border-bottom:0}.nav-tabchild-justified>li>a{margin-right:0;border-radius:4px}.nav-tabchild-justified>.active>a,.nav-tabchild-justified>.active>a:focus,.nav-tabchild-justified>.active>a:hover{border:1px solid #ddd}@media (min-width:768px){.nav-tabchild-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}.nav-tabchild-justified>.active>a,.nav-tabchild-justified>.active>a:focus,.nav-tabchild-justified>.active>a:hover{border-bottom-color:#fff}}.tab-content>.tab-pane{display:none}.tab-content>.active{display:block}.nav-tabchild .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}.navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent}

.listData
{
	padding-top:10px;
}

.list-inline
{
	font-size: 10px;
}

.formGroupPanel
{
	padding-top:10px;
	padding-bottom:10px;
}

/*#editMode
{
	display:none;
}*/

#formPanel
{
	padding-top:10px;
	/*display:none;*/
}

.formContent
{
	margin-top:10px;
}

.input-icon-right
{
	/*padding-bottom:10px;*/
}

.headerRow
{
	background-color:#e0e2e5;
}


.row.contentData
{
	margin-top:10px;
}



/*Modal PopUp Default*/
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.modalDefault-open {
  overflow: hidden;
}
.modalDefault {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modalDefault.fade .modalDefault-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modalDefault.in .modalDefault-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modalDefault-open .modalDefaultmodal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modalDefault-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  background-color:white;
}
.modalDefault-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modalDefault-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modalDefault-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modalDefault-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modalDefault-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modalDefault-header .close {
  margin-top: -2px;
}
.modalDefault-title {
  margin: 0;
  line-height: 1.42857143;
}
.modalDefault-body {
  position: relative;
  padding: 15px;
}
.modalDefault-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modalDefault-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modalDefault-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modalDefault-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modalDefault-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modalDefault-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modalDefault-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modalDefault-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modalDefault-lg {
    width: 900px;
  }
}


.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
.canEdit {
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #f4f4eb !important;
  background-color: #fcff70 !important;

}

.fi-outermost div.row {
  margin-top:20px; 
}

.fi-title-line {
  margin-left:15px;
  margin-right:15px; 
  background:white;
  color:red;
  border-bottom: 1px solid red;
}

.fi-right-button {
  margin-right:15px;
  float: right;
}

.fi-ui-grid {
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  height: 360px;
}

.fi-justify {
  margin-left: 15px;
  margin-right: 15px;
}