<script type="text/javascript">
	function IfGotProblemWithModal() {
		$('body .modals').remove();
	}

</script>
<style type="text/css">
	input[type=date]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		display: none;
	}
</style>
<script type="text/javascript" src="js/print_min.js"></script>

<bsbreadcrumb-custom action-label="breadcrums.title" tab="tab"></bsbreadcrumb-custom>

<div>
<button ng-show="ShowAddDeliveryNoteBtn" class="rbtn btn ng-binding ladda-button" style="float: right;margin-top: -31px;" ng-click="addNewDeliveryNote()">
Tambah
</button>

<bsform-grid ng-show="ShowDeliveryNoteMain" ng-form="DeliveryNoteForm" factory-name="DeliveryNoteFactory" model="mDeliveryNote"
 model-id="DeliveryNoteId" loading="loading" hide-new-button="true" show-advsearch="on" grid-hide-action-column="true" get-data="getData"
 selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="DeliveryNoteForm" form-title="Delivery Note" modal-title="Delivery Note"
 modal-size="small" icon="fa fa-fw fa-child">
	<bsform-advsearch>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>Model</label>
					<bsselect name="model" ng-model="mDeliveryNoteSearch.VehicleModelId" data="VehicleModel" ng-change="filtertipe(mDeliveryNoteSearch.VehicleModelId)"
					 item-text="VehicleModelName" item-value="VehicleModelId" placeholder="PIlih Model" icon="fa fa glyph-left" style="min-width: 150px;"
					 required>
					</bsselect>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Tipe</label>
					<bsselect name="type" ng-model="mDeliveryNoteSearch.VehicleTypeId" data="vehicleTypefilter" ng-change="filterColor(mDeliveryNoteSearch.VehicleTypeId)"
					 item-text="Description, KatashikiCode, SuffixCode" item-value="VehicleTypeId" placeholder="Pilih Tipe" icon="fa fa glyph-left"
					 style="min-width: 150px;">
					</bsselect>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Warna</label>
					<bsselect name="color" ng-model="mDeliveryNoteSearch.ColorId" data="vehicleTypecolorfilter" item-text="ColorName, ColorCode"
					 item-value="ColorId" placeholder="Pilih Warna" icon="fa fa glyph-left">
					</bsselect>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>Tujuan Pengiriman</label>
					<bsselect id="comboBox" ng-model="mDeliveryNoteSearch.TujuanPengirimanId" data="optionsTujuanPengiriman" item-text="TujuanPengirimanName"
					 item-value="TujuanPengirimanId" on-select="SOTypeId" placeholder="" icon="fa fa-search">
					</bsselect>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Tanggal Keluar</label>
                    <bsdatepicker ng-model="mDeliveryNoteSearch.OutDate" name="tanggal" date-options="dateOptions">
                    </bsdatepicker>
				</div>
			</div>
			<div class="col-md-4">
				
			</div>
		</div>
	</bsform-advsearch>


</bsform-grid>

</div>

<div class="ui modal ModalFrame" role="dialog">

	<div class="modal-header">
		<button ng-click="BatalLookupFrame()" type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">No. Rangka</h4>
	</div>
	
	<div style="margin-bottom: 10px;">
		<div style="margin-top: 10px;margin-bottom: 20px;margin-left: 20px;margin-right: 20px;font-color:red">
			*isi salah satu No. Rangka atau Model
		</div>
	
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-6" style="margin-left:10px;">
			<bsreqlabel>No. Rangka:</bsreqlabel>
			<input maxlength="20" type="text" class="form-control" placeholder="No. Rangka" ng-model="FrameNoSearch">
		</div>
		<div class="col-md-6" style="margin-left:-20px;">
			<bsreqlabel>Model</bsreqlabel>
			<bsselect name="model" ng-model="FrameModelSearch" data="VehicleModel" ng-change="filtertipe(FrameModelSearch)" item-text="VehicleModelName"
			 item-value="VehicleModelId" placeholder="PIlih Model" icon="fa fa glyph-left" style="min-width: 150px;" required>
			</bsselect>
		</div>
	</div>
	
	<div class="row" style="margin-bottom: 10px;">
			<div class="col-md-6" style="margin-left:10px;">
					<label>Tipe</label>
					<bsselect name="type" ng-model="FrameTipeSearch" data="vehicleTypefilter" ng-change="filterColor(FrameTipeSearch)" item-text="Description, KatashikiCode, SuffixCode"
					 item-value="VehicleTypeId" placeholder="Pilih Tipe" icon="fa fa glyph-left" style="min-width: 150px;">
					</bsselect>
			</div>
			<div class="col-md-6" style="margin-left:-20px;">
					<label>Warna</label>
					<bsselect name="color" ng-model="FrameWarnaSearch" data="vehicleTypecolorfilter" item-text="ColorName, ColorCode" item-value="ColorId"
					 placeholder="Pilih Warna" icon="fa fa glyph-left" style="min-width: 150px;">
					</bsselect>
			</div>

	</div>

		<div style="margin-right: 15px;">
			<button ng-click="SearchDaFrame()" class="rbtn btn ng-binding ladda-button" style="float: right;"><i class="fa fa-fw fa-search"></i>Cari</button>
			<button ng-click="ResetSearch()" class="rbtn btn ng-binding ladda-button" style="float: right;"><i class="fa fa-fw fa-refresh"></i>Refresh</button>
		</div>

	</div>
	<br/>
	<br/>
	<div class="modal-body">
		<div style="display: block" class="grid" ui-grid="gridFrameNo" ui-grid-auto-resize></div>
	</div>
	<div class="modal-footer">
		<!--<button onclick="Lanjut_Clicked()" class="rbtn btn ng-binding ladda-button" style="float: right;">Lanjutkan</button>-->
		<button ng-click="BatalLookupFrame()" class="wbtn btn ng-binding ladda-button" style="float: right;">Kembali</button>
	</div>

</div>

<div ng-show="false">
	<div class="row" style="margin-bottom:10px;margin-right:5px">
		<button style="float: right;" ng-click="DeliveryNoteCetakPanda()" type="button" class="rbtn btn ng-binding ladda-button">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Cetak
			</span><span class="ladda-spinner"></span>
		</button>
		<button style="float: right;" ng-click="KembaliKeMainList()" type="button" class="wbtn btn ng-binding ladda-button">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
			</span><span class="ladda-spinner"></span>
		</button>

		
	</div>
	
	<div class="row" style="border-style:solid;border-width: thin;margin-left:5px;margin-right:5px">
	<div class="row" style="margin-left:10px;margin-right:10px;margin-top:15px">
		<div class="col-md-3">

			{{buat_cetak.CompanyName}}
			<br/> {{buat_cetak.OutletName}}
			<br/> {{buat_cetak.OutletAddress}}
			<br/> {{buat_cetak.CityRegencyName}}-{{buat_cetak.PostalCode}}
			<br/> Telp:{{buat_cetak.OutletPhoneNumber}} Fax:{{buat_cetak.OutletFaxNumber}}

		</div>
		<div class="col-md-3">

		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">

			Surat Jalan Keluar
			<br/> Nomor Dokumen:{{buat_cetak.DeliveryNoteNo}}
			<br/> Tanggal:{{TodayDate}}

		</div>
	</div>
	<br/>
	<br/>
	<div class="row" style="margin-left:10px;margin-right:10px;">
		<div class="col-md-12">
			Dengan Surat ini menyatakan unit dengan data berikut:
		</div>
	</div>
	<div class="row" style="margin-left:10px;margin-right:10px;">
		<div class="col-md-12">
			<table>
				<tr>
					<th>
						No Rangka
					</th>
					<td>
						:
					</td>
					<td>
						{{buat_cetak.FrameNo}}
					</td>
				</tr>
				<tr>
					<th>
						Model
					</th>
					<td>
						:
					</td>
					<td>
						{{buat_cetak.VehicleModelName}}
					</td>
				</tr>
				<tr>
					<th>
						Tipe
					</th>
					<td>
						:
					</td>
					<td>
						{{buat_cetak.Description}}
					</td>
				</tr>
				<tr>
					<th>
						Warna
					</th>
					<td>
						:
					</td>
					<td>
						{{buat_cetak.ColorName}}
					</td>
				</tr>
			</table>
		</div>
	</div>
	<br/>
	<div class="row" style="margin-left:10px;margin-right:10px;">
		<div class="col-md-12">
			Akan Dibawa keluar dari cabang untuk keperluan {{buat_cetak.TujuanPengirimanName}} pada tanggal {{buat_cetak.OutDate| date:"dd MMMM yyyy"}} Oleh:{{buat_cetak.DriverPDSName}}
		</div>
	</div>
	<div class="row" style="margin-left:10px;margin-right:10px;">
		<div class="col-md-12">
			<p>
				Tempat Tujuan:
			</p>
			<p>
				{{buat_cetak.SentAddress}}
			</p>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<div class="row" style="margin-left:10px;margin-right:10px;margin-bottom:15px;">
		<div class="col-md-3">
			Disiapkan Oleh
			<br/> PDS,
			<br/>
			<br/>
			<br/>
			<br/> _____________________
		</div>
		<div class="col-md-3">
			Disetujui Oleh ADH or
			<br/> Kacab,
			<br/>
			<br/>
			<br/>
			<br/> _____________________
		</div>
		<div class="col-md-3">
			Diterima Oleh,
			<br/> Tanggal: / /
			<br/>
			<br/>
			<br/>
			<br/> _____________________
		</div>
		<div class="col-md-3">
		</div>
	</div>
	
	</div>

</div>

<div ng-show="ShowDeliveryNoteDetail" style="margin-top:-50px">

	<button ng-disabled="disabledSaveTheDeliveryNote||mDeliveryNote.OutDate==undefined||mDeliveryNote.OutDate==null||mDeliveryNote.JenisTugasId==undefined||mDeliveryNote.JenisTugasId==null||mDeliveryNote.TujuanPengirimanId==null || mDeliveryNote.TujuanPengirimanId==undefined || mDeliveryNote.SentAddress==''|| mDeliveryNote.SentAddress==null|| mDeliveryNote.SentAddress==undefined|| mDeliveryNote.ReceiverName==''|| mDeliveryNote.ReceiverName==null|| mDeliveryNote.ReceiverName==undefined" style="float: right;margin-left:5px;margin-right:5px;" ng-click="SaveTheDeliveryNote()" type="button" class="rbtn btn ng-binding ladda-button">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Simpan
			</span><span class="ladda-spinner"></span>
		</button>
	<button style="float: right;margin-left:5px;margin-right:5px;" ng-click="BataladdNewDeliveryNote()" type="button" class="wbtn btn ng-binding ladda-button">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
			</span><span class="ladda-spinner"></span>
		</button>

	<p>
		<br>
	</p>

	<div class="form-group row" style="padding: 0%;">
		<div class="col-md-6">
		<bsreqlabel>No. Rangka</bsreqlabel>
			<div class="col-xs-11" style=" padding: 0%;">
				<input style="background-color:white" readonly type="text" class="form-control" name="ProspectName" placeholder="Search" ng-model="mDeliveryNote.FrameNo"
				 ng-maxlength="50" ng-disabled="true" required>
			</div>
			<div class="col-xs-1" style=" padding: 0%;">
				<button ng-click="lookupFrameNo()" style="background-color: #e7e7e7; border: none; padding: 0%; height:32px; width: 100%; display: inline-block;">
                                        <span>
                                            <i class="fa fa-search"></i>
                                        </span>
                </button>
			</div>
		</div>
	</div>

	<div class="form-group row" style="padding: 0%;">
		<div class="col-md-3">
			<bsreqlabel>Model</bsreqlabel>
			<input readonly type="text" class="form-control" ng-model="mDeliveryNote.VehicleModelName">
		</div>
		<div class="col-md-3">
			<bsreqlabel>Tipe</bsreqlabel>
			<input readonly type="text" class="form-control" ng-model="mDeliveryNote.Description">
		</div>
		<div class="col-md-6">
			<bsreqlabel>Warna</bsreqlabel>
			<input readonly type="text" class="form-control" ng-model="mDeliveryNote.ColorName">
		</div>

	</div>
	<div class="row">
		<div class="col-md-6">
			<bsreqlabel>Tujuan Pengiriman</bsreqlabel>
			<bsselect ng-disabled="mDeliveryNote.FrameNo==null || mDeliveryNote.FrameNo==undefined ||mDeliveryNote.FrameNo==''" ng-model="mDeliveryNote.TujuanPengirimanId" ng-change="TujuanPengirimanSelectedChanged()" data="optionsTujuanPengiriman"
			 item-text="TujuanPengirimanName" item-value="TujuanPengirimanId" on-select="TujuanPengirimanValue(selected)" placeholder=" ">
			</bsselect>
		</div>
		<div class="col-md-6">
			<div>
				<bsreqlabel>Jenis Tugas</bsreqlabel>
				<bsselect ng-disabled="mDeliveryNote.FrameNo==null || mDeliveryNote.FrameNo==undefined ||mDeliveryNote.FrameNo==''" ng-model="mDeliveryNote.JenisTugasId" data="optionsJenisTugas" item-text="JenisTugasName" item-value="JenisTugasId"
				 on-select="SalesmanId(selected)" placeholder=" ">
				</bsselect>
			</div>
			<div style="margin-top:5px;">
				<bsreqlabel>Nama Penerima</bsreqlabel>
				<input alpha-numeric mask="Huruf" maxlength="50" ng-disabled="mDeliveryNote.FrameNo==null || mDeliveryNote.FrameNo==undefined ||mDeliveryNote.FrameNo==''" type="text" class="form-control" ng-model="mDeliveryNote.ReceiverName">
			</div>
		</div>
	</div>
	<div class="row">
		<p>
		</p>
		<p>
		</p>
		<div class="col-md-6">

			<p>
				<bsreqlabel ng-if="SelectTujuanPengiriman.TujuanPengirimanName == 'Karoseri'">Cabang Karoseri</bsreqlabel>
				<bsreqlabel ng-if="SelectTujuanPengiriman.TujuanPengirimanName == 'Repair'">Cabang Repair</bsreqlabel>
			</p>
			<p>
				<bsselect ng-disabled="mDeliveryNote.FrameNo==null || mDeliveryNote.FrameNo==undefined ||mDeliveryNote.FrameNo==''" ng-if="SelectTujuanPengiriman.TujuanPengirimanName == 'Karoseri' || SelectTujuanPengiriman.TujuanPengirimanName == 'Repair'" style="margin-bottom: 10px;" ng-model="mDeliveryNote.DeliveryCaroseriesVendorId" data="optionsCabang" item-text="Name"
				 item-value="VendorId" icon="fa fa-search" ng-change="CabangKaroseriSelectionChanged()">
				</bsselect>
			</p>
			<p>
				<bsreqlabel>Tanggal Keluar</bsreqlabel>
			</p>
			<p>
					<bsdatepicker ng-disabled="mDeliveryNote.FrameNo==null || mDeliveryNote.FrameNo==undefined ||mDeliveryNote.FrameNo==''" ng-model="mDeliveryNote.OutDate" name="tanggal" date-options="dateOptions02">
					</bsdatepicker>
				<!-- <input ng-disabled="mDeliveryNote.FrameNo==null || mDeliveryNote.FrameNo==undefined ||mDeliveryNote.FrameNo==''" min="{{TodayDate}}" type="date" class="form-control" ng-model="mDeliveryNote.OutDate"> -->
			</p>
		</div>
		<div class="col-md-6">
			<p>
				<bsreqlabel ng-if="SelectTujuanPengiriman.TujuanPengirimanName != 'Karoseri'">Alamat Pengiriman</bsreqlabel>
				<bsreqlabel ng-if="SelectTujuanPengiriman.TujuanPengirimanName == 'Karoseri'">Alamat Karoseri</bsreqlabel>
			</p>
			<p>
				<textarea maxlength="100" ng-disabled="DeliveryNoteNotAllowChangeAddress" rows="6" class="form-control" placeholder="Alamat" ng-model="mDeliveryNote.SentAddress"></textarea>
			</p>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<p>
				<bslabel>Kategori Driver</bslabel>
			</p>
			<p>
				<input readonly type="text" class="form-control" ng-model="mDeliveryNote.DriverCategoryName">
			</p>
		</div>
		<div class="col-md-6">
			<p>
				<bslabel>Driver</bslabel>
			</p>
			<p>
				<input readonly type="text" class="form-control" ng-model="mDeliveryNote.DriverPDSName">
			</p>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
		</div>
	</div>
	<div class="row">


		<div class="col-md-6">
			<p>
				<bslabel>Lokasi Unit</bslabel>
			</p>
			<p>
				<input readonly type="text" class="form-control" ng-model="mDeliveryNote.LastLocation">
			</p>
		</div>


		<!-- <div class="col-md-6">
			<p>
				<bslabel>Alamat</bslabel>
			</p>
			<p>
				<input readonly type="text" class="form-control" ng-model="mDeliveryNote.Address">
			</p>
		</div> -->

		<div class="col-md-6">
			<p>
				<bslabel>Alamat Unit</bslabel>
			</p>
			<p>
				<textarea maxlength="100" rows="6" class="form-control" readonly
					placeholder="Alamat" ng-model="mDeliveryNote.LastAddressLocation"></textarea>
			</p>
		</div>




		<div class="col-md-3">
		</div>
		<div class="col-md-3">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<!--<p ng-show="DeliveryNoteShowEstimasiTanggalKembali">
				<bsreqlabel>Estimasi Tanggal Kembali</bsreqlabel>
			</p>
			<p ng-show="DeliveryNoteShowEstimasiTanggalKembali">
				<input min="{{TodayDate}}" class="form-control" type="date" ng-model="mDeliveryNote.DateBackEstimated">
			</p>-->
			<p ng-show="DeliveryNoteShowEstimasiTanggalKembali">
				<bsreqlabel>Estimasi Tanggal Kembali</bsreqlabel>
			</p>
			<p ng-show="DeliveryNoteShowEstimasiTanggalKembali">
				<bsdatepicker ng-model="mDeliveryNote.DateBackEstimated" name="tanggal2" date-options="dateOptions02">
				</bsdatepicker>
			</p>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
		</div>
	</div>

	<div class="row" ng-if="SelectTujuanPengiriman.TujuanPengirimanName == 'Karoseri'">
		<div class="col-md-3">
			<p>
				<bsreqlabel>Pengiriman Unit</bsreqlabel>
			</p>
			<p ng-repeat="da_radio_RadioPengirimanUnit in RadioPengirimanUnit">
				<input type="radio" name="PengirimanRadio" ng-model="mDeliveryNote.DeliveryCaroseriesDestinationId" ng-value="da_radio_RadioPengirimanUnit.CaroseriesDestinationId">{{da_radio_RadioPengirimanUnit.CaroseriesDestinationName}}
			</p>
		</div>
		<div class="col-md-3">
			<p>
				<bsreqlabel>Driver</bsreqlabel>
			</p>
			<p ng-repeat="da_radio_RadioCategoryDriver in RadioCategoryDriver">
				<input ng-disabled="true" type="radio" ng-change="SelectedDriverCategoryRadio()" name="DriverRadio" ng-model="mDeliveryNote.DeliveryCaroseriesDriverCategoryId"
				 ng-value="da_radio_RadioCategoryDriver.DriverCategoryId">{{da_radio_RadioCategoryDriver.DriverCategoryName}}
			</p>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
		</div>
	</div>

</div>