<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="CategoryReasonBookingUnitRevisionForm"
        factory-name="CategoryReasonBookingUnitRevisionFactory"
        model="mCategoryReasonBookingUnitRevision"
        model-id="ReasonRevisionId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="CategoryReasonBookingUnitRevisionForm"
        form-title="Category Reason Revision"
        modal-title="Category Reason Revision"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >


        <div class="row">
          <div class="col-md-6">

              <div class="form-group" show-errors>
                <bsreqlabel>Reason Booking Unit Revision</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="ReasonRevisionName" placeholder="Reason Booking Unit Revision" ng-model="mCategoryReasonBookingUnitRevision.ReasonRevisionName"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="ReasonRevisionName"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Fund Source</bsreqlabel>
                <bsselect
                          data="listDataFund"
                          item-text="FundSourceName"
                          item-value="FundSourceId"
                          name="FundSourceName"
                          ng-model="mCategoryReasonBookingUnitRevision.FundSourceId"
                          placeholder="Select Fund Source"
                          icon="fa fa-credit-card glyph-left"
                          style="min-width: 150px;">
                </bsselect>
                <bserrmsg field="FundSourceName"></bserrmsg>
            </div>

	        </div>
        </div>
</bsform-grid>
