<div class="row">
    <div class="col-md-12" style="margin-top: 25px;">

        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default" is-open="false">
                <uib-accordion-heading>
                    <label>Keluhan Pelanggan</label>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <div class="form-group">
                    <div class="col-md-12" ng-hide="true">
                        <div class="col-xs-12">
                            <label>Job Id</label>
                        </div>
                        <div class="col-xs-4">
                            <input type="text" name="JobId" ng-model="mData.JobId" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" ng-hide="true">
                        <div class="col-xs-12">
                            <label>Job Id</label>
                        </div>
                        <div class="col-xs-4">
                            <input type="text" name="PrediagnoseId" ng-model="mData.PrediagnoseId" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-xs-12" style="padding-left: 0px;">
                            <label>Gejala Terdeteksi Pertama Kali</label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <bsdatepicker name="FirstIndication" date-options="DateOptions" ng-model="mData.FirstIndication" ng-disabled="true" skip-enable>
                        </bsdatepicker>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12" style="margin-top: 10px;">
                        <label>Frekuensi Kejadian</label>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <div class="radio-inline">
                                <label class="radio">
                            <input type="radio" name="FrequencyIncident" class="radiobox style-0"
                              ng-model="mData.FrequencyIncident"
                              value=1 ng-disabled = "true" skip-enable>
                          <span>Sekali</span>
                        </label>
                            </div>
                        </div>
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <div class="radio-inline">
                                <label class="radio">
                            <input type="radio" name="FrequencyIncident" class="radiobox style-0"
                              ng-model="mData.FrequencyIncident"
                              value=2  ng-disabled = "true" skip-enable>
                          <span>Kadang - Kadang</span>
                        </label>
                            </div>
                        </div>
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <div class="radio-inline">
                                <label class="radio">
                            <input type="radio" name="FrequencyIncident" class="radiobox style-0"
                              ng-model="mData.FrequencyIncident"
                              value=3  ng-disabled = "true" skip-enable>
                          <span>Selalu</span>
                        </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12" style="margin-top: 10px;">
                        <label>MIL saat terjadi</label>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <div class="radio-inline">
                                <label class="radio">
                            <input type="radio" name="Mil" class="radiobox style-0"
                              ng-model="mData.Mil"
                              value=1  ng-disabled = "true" skip-enable>
                          <span>On</span>
                        </label>
                            </div>
                        </div>
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <div class="radio-inline">
                                <label class="radio">
                            <input type="radio" name="Mil" class="radiobox style-0"
                              ng-model="mData.Mil"
                              value=2  ng-disabled = "true" skip-enable>
                          <span>Berkedip</span>
                        </label>
                            </div>
                        </div>
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <div class="radio-inline">
                                <label class="radio">
                            <input type="radio" name="Mil" class="radiobox style-0"
                              ng-model="mData.Mil"
                              value=3  ng-disabled = "true" skip-enable>
                          <span>Off</span>
                        </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12" style="margin-top: 10px;">
                        <label>Kondisi Kendaraan Saat Gejala Terjadi</label>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <div class="radio-inline">
                                <label class="radio">
                            <input type="radio" name="ConditionIndication" class="radiobox style-0"
                              ng-model="mData.ConditionIndication"
                              value=1  ng-disabled = "true" skip-enable>
                          <span>Idling</span>
                        </label>
                            </div>
                        </div>
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <div class="radio-inline">
                                <label class="radio">
                            <input type="radio" name="ConditionIndication" class="radiobox style-0"
                              ng-model="mData.ConditionIndication"
                              value=2 ng-disabled = "true" skip-enable>
                          <span>Starting</span>
                        </label>
                            </div>
                        </div>
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <div class="radio-inline">
                                <label class="radio">
                            <input type="radio" name="ConditionIndication" class="radiobox style-0"
                              ng-model="mData.ConditionIndication"
                              value=3  ng-disabled = "true" skip-enable>
                          <span>Kecepatan</span>
                        </label>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-show="mData.ConditionIndication == 3"  style="padding-left: 0px;">
                            <!-- <input type="number" name="Kecepatan" style="width: 100%" placeholder="Kecepatan" ng-model="mData.Speed"> -->
                            <!--  ng-keypress="allowPattern($event,1)" -->
                            <textarea name="Kecepatan" ng-model="mData.notes" maxlength="100" style="width: 100%;height: 50px;" ng-disabled = "true" skip-enable></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12" style="margin-top: 10px;">
                        <label>Kondisi Mesin</label>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <div class="radio-inline">
                                <label class="radio">
                            <input type="radio" name="MachineCondition" class="radiobox style-0"
                              ng-model="mData.MachineCondition"
                              value=1  ng-disabled = "true" skip-enable>
                          <span>Panas</span>
                        </label>
                            </div>
                        </div>
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <div class="radio-inline">
                                <label class="radio">
                            <input type="radio" name="MachineCondition" class="radiobox style-0"
                              ng-model="mData.MachineCondition"
                              value=2  ng-disabled = "true" skip-enable>
                          <span>Dingin</span>
                        </label>
                            </div>
                        </div>
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <div class="radio-inline">
                                <label class="radio">
                            <input type="radio" name="MachineCondition" class="radiobox style-0"
                              ng-model="mData.MachineCondition"
                              value=3  ng-disabled = "true" skip-enable>
                          <span>Lainnya</span>
                        </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="mData.MachineCondition == 3">
                        <textarea name="lainnya" ng-model="mData.MachineConditionTxt" style="width: 100%;height: 70px;" ng-disabled = "true" skip-enable></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12" style="margin-top: 10px;">
                    <label>Posisi Shift Lever</label>
                  </div>
                  <div class="col-xs-12">
                    <div class="col-xs-1" style="padding-left: 0px;">
                      <bscheckbox 
                            ng-model = "mData.PosisiShiftP"
                            label="P"
                            ng-click="CountShift()"
                            true-value=1
                            false-value=0
                             ng-disabled = "true" skip-enable>
                      </bscheckbox>
                    </div>
                   <!--  <div class="col-xs-1" style="padding-left: 0px;">
                      <bscheckbox 
                            ng-model = "mData.PosisiShiftR"
                            label="R"
                            value="R">
                      </bscheckbox>
                    </div> -->
                    <div class="col-xs-1" style="padding-left: 0px;">
                      <bscheckbox 
                            ng-model = "mData.PosisiShiftN"
                            label="N"
                            ng-click="CountShift()"
                            true-value=2
                            false-value=0
                             ng-disabled = "true" skip-enable>
                      </bscheckbox>
                    </div>
                    <div class="col-xs-1" style="padding-left: 0px;">
                      <bscheckbox 
                            ng-model = "mData.PosisiShiftD"
                            label="D"
                            ng-click="CountShift()"
                            true-value=4
                            false-value=0
                             ng-disabled = "true" skip-enable>
                      </bscheckbox>
                    </div>
                    <div class="col-xs-1" style="padding-left: 0px;">
                      <bscheckbox 
                            ng-model = "mData.PosisiShiftS"
                            label="S"
                            ng-click="CountShift()"
                            true-value=8
                            false-value=0
                             ng-disabled = "true" skip-enable>
                      </bscheckbox>
                    </div>
                    <div class="col-xs-1" style="padding-left: 0px;">
                      <bscheckbox 
                            ng-model = "mData.PosisiShiftR"
                            label="R"
                            ng-click="CountShift()"
                            true-value=16
                            false-value=0
                             ng-disabled = "true" skip-enable>
                      </bscheckbox>
                    </div>
                    <div class="col-xs-1" style="padding-left: 0px;">
                      <bscheckbox 
                            ng-model = "mData.PosisiShiftOne"
                            label="1"
                            ng-click="CountShift()"
                            true-value=32
                            false-value=0
                             ng-disabled = "true" skip-enable>
                      </bscheckbox>
                    </div>
                    <div class="col-xs-1" style="padding-left: 0px;">
                      <bscheckbox 
                            ng-model = "mData.PosisiShiftTwo"
                            label="2"
                            ng-click="CountShift()"
                            true-value=64
                            false-value=0
                             ng-disabled = "true" skip-enable>
                      </bscheckbox>
                    </div>
                    <div class="col-xs-1" style="padding-left: 0px;">
                      <bscheckbox 
                            ng-model = "mData.PosisiShiftThree"
                            label="3"
                            ng-click="CountShift()"
                            true-value=128
                            false-value=0
                             ng-disabled = "true" skip-enable>
                      </bscheckbox>
                    </div>
                    <div class="col-xs-1" style="padding-left: 0px;">
                      <bscheckbox 
                            ng-model = "mData.PosisiShiftFour"
                            label="4"
                            ng-click="CountShift()"
                            true-value=256
                            false-value=0
                             ng-disabled = "true" skip-enable>
                      </bscheckbox>
                    </div>
                    <div class="col-xs-3" style="padding-left: 0px;">
                      <bscheckbox 
                            ng-model = "mData.PosisiShiftLainnya"
                            ng-click="CountShift()"
                            label = "Lainnya"
                            true-value=512
                            false-value=0
                             ng-disabled = "true" skip-enable>
                      </bscheckbox>
                    </div>
                    <div class="col-xs-12" ng-hide="true">
                      <input type="text" name="PositionShiftLever" ng-model="mData.PositionShiftLever">
                    </div>
                  </div>
                  <div class="col-xs-12" ng-show="mData.PosisiShiftLainnya == 512">
                    <textarea name="PositionShiftLeverTxt" ng-model="mData.PositionShiftLeverTxt" style="width: 100%;height: 70px;"  ng-disabled = "true" skip-enable></textarea>
                    </div>
                    <div class="col-xs-12">
                        <!-- ng-click="CountShift()" -->
                        <bscheckbox ng-model="mData.IsNeedTest" ng-change="testDrive(mData)" label="Perlu Test Drive" true-value=1 false-value=0 ng-disabled="true" skip-enable>
                        </bscheckbox>
                    </div>
                </div>
            </div>
        </uib-accordion>

        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <label>Kondisi Saat Gejala Terjadi</label>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <div class="col-md-12">

                    <div class="col-md-6" style="padding-left: 0px;">
                        <div class="form-group">
                            <div class="col-xs-12" style="padding-left: 0px;">
                                <label style="margin-top: 5px;">Kecepatan Kendaraan</label>
                            </div>
                            <div class="col-xs-10" style="padding-left: 0px;">
                                <div class="input-icon-right">
                                    <i class="fa fa-dashboard"></i>
                                    <input type="number" name="VehicleSpeed" ng-model="mData.VehicleSpeed" class="form-control" ng-disabled="true" skip-enable>
                                </div>
                            </div>
                            <div class="col-xs-2" style="padding-left: 0px;">
                                <label style="margin-top: 5px;">KM/H</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left: 0px;">
                        <div class="form-group">
                            <div class="col-xs-12" style="padding-left: 0px;">
                                <label style="margin-top: 5px;">Beban Kendaraan</label>
                            </div>
                            <div class="col-xs-10" style="padding-left: 0px;">
                                <div class="input-icon-right">
                                    <i class="glyphicon glyphicon-scale"></i>
                                    <input type="number" name="VehicleLoads" ng-model="mData.VehicleLoads" class="form-control" ng-disabled="true" skip-enable>
                                </div>
                            </div>
                            <div class="col-xs-2" style="padding-left: 0px;">
                                <label style="margin-top: 5px;">KG</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" style="padding-left: 0px;">
                        <div class="form-group">
                            <div class="col-xs-12" style="padding-left: 0px;">
                                <label>RPM Mesin</label>
                            </div>
                            <div class="col-xs-10" style="padding-left: 0px;">
                                <div class="input-icon-right">
                                    <i class="fa fa-dashboard"></i>
                                    <input type="number" name="RPM" ng-model="mData.RPM" class="form-control" ng-disabled="true" skip-enable>
                                </div>
                            </div>
                            <div class="col-xs-2" style="padding-left: 0px;">
                                <label style="margin-top: 5px;">RPM</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left: 0px;">
                        <div class="form-group">
                            <div class="col-xs-12" style="padding-left: 0px;">
                                <label>Jumlah Penumpang</label>
                            </div>
                            <div class="col-xs-10" style="padding-left: 0px;">
                                <div class="input-icon-right">
                                    <i class="fa fa-user"></i>
                                    <input type="number" name="PassengerNumber" ng-model="mData.PassengerNumber" class="form-control" ng-disabled="true" skip-enable>
                                </div>
                            </div>
                            <div class="col-xs-2" style="padding-left: 0px;">
                                <label style="margin-top: 5px;">Orang</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding-left: 0px;">
                        <div class="col-xs-12" style="padding-left: 0px;">
                            <fieldset style="border:1px solid #e2e2e2;padding:20px">
                                <legend style="width:inherit;margin:0px;border:0px;">Klasifikasi Masalah Pada Perjalanan</legend>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="col-xs-3">
                                            <bscheckbox ng-model="mData.KlasifikasiMasalahDKota" label="Dalam Kota" ng-click="countKlasifikasiProbR()" true-value=1 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-3">
                                            <bscheckbox ng-model="mData.KlasifikasiMasalahLKota" label="Luar Kota" ng-click="countKlasifikasiProbR()" true-value=2 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-3">
                                            <bscheckbox ng-model="mData.KlasifikasiMasalahTol" label="Tol" ng-click="countKlasifikasiProbR()" true-value=4 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-3">
                                            <bscheckbox ng-model="mData.KlasifikasiMasalahBelok" label="Belok Kiri / Kanan" ng-click="countKlasifikasiProbR()" true-value=8 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="col-xs-3">
                                            <bscheckbox ng-model="mData.KlasifikasiMasalahLurus" label="Jalan Lurus" ng-click="countKlasifikasiProbR()" true-value=16 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-3">
                                            <bscheckbox ng-model="mData.KlasifikasiMasalahDatar" label="Datar" ng-click="countKlasifikasiProbR()" true-value=32 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-3">
                                            <bscheckbox ng-model="mData.KlasifikasiMasalahTanjakan" label="Tanjakan" ng-click="countKlasifikasiProbR()" true-value=64 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-3">
                                            <bscheckbox ng-model="mData.KlasifikasiMasalahTurunan" label="Turunan" ng-click="countKlasifikasiProbR()" true-value=128 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="col-xs-3">
                                            <bscheckbox ng-model="mData.KlasifikasiMasalahAkselerasi" label="Akselerasi" ng-click="countKlasifikasiProbR()" true-value=256 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-3">
                                            <bscheckbox ng-model="mData.KlasifikasiMasalahPengereman" label="Pengereman" ng-click="countKlasifikasiProbR()" true-value=512 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-6">
                                            <bscheckbox ng-model="mData.KlasifikasiMasalahLainnya" label="Lainnya" ng-click="countKlasifikasiProbR()" true-value=1024 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12" ng-hide="true">
                                    <div class="form-group">
                                        <input type="text" name="ClassificationProblemR" ng-model="mData.ClassificationProblemR" ng-disabled="true" skip-enable>
                                    </div>
                                </div>
                                <div class="col-xs-12" ng-show="mData.KlasifikasiMasalahLainnya == 1024">
                                    <div class="form-group">
                                        <textarea name="ClassificationProblemRTxt" ng-model="mData.ClassificationProblemRTxt" style="width: 100%;height: 70px;" ng-disabled="true" skip-enable></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding-left: 0px;">
                        <div class="col-xs-12" style="padding-left: 0px;">
                            <fieldset style="border:1px solid #e2e2e2;padding:20px">
                                <legend style="width:inherit;margin:0px;border:0px;">Lalu Lintas</legend>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="col-xs-4">
                                            <bscheckbox ng-model="mData.LaluLintasMct" label="Macet, Stop & Go" ng-click="choseTraffic()" true-value=1 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-4">
                                            <bscheckbox ng-model="mData.LaluLintasLancar" label="Lancar" ng-click="choseTraffic()" true-value=2 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-4">
                                            <bscheckbox ng-model="mData.LaluLintasLainnya" label="Lainnya" ng-click="choseTraffic()" true-value=4 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-12" ng-hide="true">
                                            <input type="text" name="Traffic" ng-model="mData.Traffic" ng-disabled="true" skip-enable>
                                        </div>
                                        <div class="col-xs-12" ng-show="mData.LaluLintasLainnya == 4">
                                            <textarea name="TrafficTxt" ng-model="mData.TrafficTxt" style="width: 100%;height: 70px;" ng-disabled="true" skip-enable></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding-left: 0px;">
                        <div class="col-xs-12" style="padding-left: 0px;">
                            <fieldset style="border:1px solid #e2e2e2;padding:20px">
                                <legend style="width:inherit;margin:0px;border:0px;">Kondisi Cuaca</legend>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="col-xs-2">
                                            <bscheckbox ng-model="mData.KondisiCuacaCerah" label="Cerah" ng-click="countWeather()" true-value=1 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-2">
                                            <bscheckbox ng-model="mData.KondisiCuacaBerawan" label="Berawan" ng-click="countWeather()" true-value=2 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-2">
                                            <bscheckbox ng-model="mData.KondisiCuacaHujan" label="Hujan" ng-click="countWeather()" true-value=4 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-2">
                                            <bscheckbox ng-model="mData.KondisiCuacaPanas" label="Panas" ng-click="countWeather()" true-value=8 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-2">
                                            <bscheckbox ng-model="mData.KondisiCuacaLembab" label="Lembab" ng-click="countWeather()" true-value=16 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12" ng-hide="true">
                                    <div class="form-group">
                                        <input type="text" name="WeatherConditions" ng-model="mData.WeatherConditions" ng-disabled="true" skip-enable>
                                    </div>
                                </div>
                                <div class="col-xs-12" style="padding-left: 0px;">
                                    <div class="form-group">
                                        <div class="col-xs-12" ng-show="mData.KondisiCuacaLembab == 16">
                                            <div class="col-xs-12" style="padding-right:0px;">
                                                <label style="margin-top: 7px;">Temperatur Udara</label>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="input-icon-right">
                                                    <i class="fa fa-thermometer-full"></i>
                                                    <input type="number" name="WeatherConditionsTxt" ng-model="mData.WeatherConditionsTxt" class="form-control" ng-disabled="true" skip-enable>
                                                </div>
                                            </div>
                                            <!-- <div class="col-xs-1" style="padding-left: 0px;">
                                                <label style="margin-top: 7px;">C</label>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding-left: 0px;">
                        <div class="col-xs-12" style="padding-left: 0px;">
                            <fieldset style="border:1px solid #e2e2e2;padding:20px">
                                <legend style="width:inherit;margin:0px;border:0px;">Klasifikasi Masalah Pada Kendaraan</legend>
                                <div class="col-xs-12" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <div class="col-xs-3">
                                            <bscheckbox ng-model="mData.Engine" label="Mesin" ng-click="countKlasifikasiProbM()" true-value=1 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-3">
                                            <bscheckbox ng-model="mData.Suspension" label="Suspensi" ng-click="countKlasifikasiProbM()" true-value=2 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-3">
                                            <bscheckbox ng-model="mData.Rem" label="Rem" ng-click="countKlasifikasiProbM()" true-value=4 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                        <div class="col-xs-3">
                                            <bscheckbox ng-model="mData.Lainnya" label="Lainnya" ng-click="countKlasifikasiProbM()" true-value=8 false-value=0 ng-disabled="true" skip-enable>
                                            </bscheckbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12" ng-hide="true">
                                    <input type="text" name="ClassificationProblemM" ng-model="mData.ClassificationProblemM" ng-disabled="true" skip-enable>
                                </div>
                                <div class="col-xs-12" ng-show="mData.Lainnya == 8">
                                    <div class="form-group">
                                        <textarea name="ClassificationProblemMTxt" ng-model="mData.ClassificationProblemMTxt" style="width: 100%;height: 100px;" ng-disabled="true" skip-enable></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12" style="padding-left: 0px;">
                                    <div class="col-xs-6" style="padding-left: 0px;">
                                        <div class="col-xs-12">
                                            <label>Kecepatan Blower</label>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="input-icon-right">
                                                <i class="fa fa-dashboard"></i>
                                                <input type="number" name="BlowerSpeed" ng-model="mData.BlowerSpeed" class="form-control" ng-disabled="true" skip-enable>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6" style="padding-left: 0px;">
                                        <div class="col-xs-12" style="padding-left: 0px;">
                                            <label>Temp. Setting</label>
                                        </div>
                                        <div class="col-xs-12" style="padding-left: 0px;">
                                            <div class="input-icon-right">
                                                <i class="fa fa-cog"></i>
                                                <input type="number" name="TempSetting" ng-model="mData.TempSetting" class="form-control" ng-disabled="true" skip-enable>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12" style="padding-left: 0px;margin-top:20px;">
                                        <div class="col-xs-12">
                                            <label>Posisi Sirkulasi AC</label>
                                        </div>
                                        <div class="col-xs-12" style="padding-left: 0px;">
                                            <div class="col-xs-2">
                                                <bscheckbox ng-model="mData.Auto" label="Auto" ng-click="countPosisiDuduk()" true-value=1 false-value=0 ng-disabled="true" skip-enable>
                                                </bscheckbox>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="col-xs-1">
                                                    <bscheckbox ng-model="mData.Posisi1" ng-click="countPosisiDuduk()" true-value=2 false-value=0 ng-disabled="true" skip-enable>
                                                    </bscheckbox>
                                                </div>
                                                <div class="col-xs-6">
                                                    <img src="images/prediagnose/Capture5.png" ng-disabled="true" skip-enable>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="col-xs-1">
                                                    <bscheckbox ng-model="mData.Posisi2" ng-click="countPosisiDuduk()" true-value=4 false-value=0 ng-disabled="true" skip-enable>
                                                    </bscheckbox>
                                                </div>
                                                <div class="col-xs-6">
                                                    <img src="images/prediagnose/Capture.png" ng-disabled="true" skip-enable>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="col-xs-1">
                                                    <bscheckbox ng-model="mData.Posisi3" ng-click="countPosisiDuduk()" true-value=8 false-value=0 ng-disabled="true" skip-enable>
                                                    </bscheckbox>
                                                </div>
                                                <div class="col-xs-6">
                                                    <img src="images/prediagnose/Capture2.png" ng-disabled="true" skip-enable>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="col-xs-1">
                                                    <bscheckbox ng-model="mData.Posisi4" ng-click="countPosisiDuduk()" true-value=16 false-value=0 ng-disabled="true" skip-enable>
                                                    </bscheckbox>
                                                </div>
                                                <div class="col-xs-6">
                                                    <img src="images/prediagnose/Capture3.png" ng-disabled="true" skip-enable>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="col-xs-1">
                                                    <bscheckbox ng-model="mData.Posisi5" ng-click="countPosisiDuduk()" true-value=32 false-value=0 ng-disabled="true" skip-enable>
                                                    </bscheckbox>
                                                </div>
                                                <div class="col-xs-6">
                                                    <img src="images/prediagnose/Capture6.png">
                                                </div>
                                            </div>
                                            <!-- <button>Auto</button>
                                            <button>test 1</button>
                                            <button>test 2</button>
                                            <button>test 3</button>
                                            <button>test 4</button>
                                            <button>test 5</button> -->
                                        </div>
                                    </div>
                                    <div class="col-xs-12" ng-hide="true">
                                        <input type="text" name="SittingPosition" ng-model="mData.SittingPosition">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
            </div>
        </uib-accordion>

        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <label>Pemeriksaan Awal</label>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <div class="col-md-12" style="padding-left: 0px;">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>Pemeriksaan Awal</label>
                        </div>
                        <div class="col-xs-12" ng-hide="true">
                            <input type="text" name="System" ng-model="mData.System">
                            <input type="text" name="DTC" ng-model="mData.DTC">
                            <input type="text" name="Description" ng-model="mData.Description">
                            <input type="text" name="Stats" ng-model="mData.Stats">
                            <input type="text" name="FreezeFrame" ng-model="mData.FreezeFrame">
                        </div>
                        <div class="col-xs-12">
                            <!-- button-settings="listButtonSettingsFamily" -->
                            <!-- on-before-new = "onBeforeNewPredCheck" -->
                            <bslist name="DataPemeriksaanAwal" data="DataPemeriksaanAwal" factory-name="PreDiagnoseFirstCheck" on-select-rows="onListSelectRows" selected-rows="listSelectedRows" confirm-save="true" list-model="lmModel" list-api="listApi" m-id="idPrediagnoseFirstCheck"
                                button-settings="listView" on-after-save="afterSave" on-after-delete="afterDelete" on-before-save="beforeSave" on-before-new="beforeNew" on-before-edit="beforeEdit" modal-title="Data Pemeriksaan Awal">
                                <bslist-template>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label>System</label>
                                            </div>
                                            <div class="col-md-4">
                                                {{ lmItem.SystemCheck }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label>DTC</label>
                                            </div>
                                            <div class="col-md-4">
                                                {{ lmItem.Dtc }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label>Description</label>
                                            </div>
                                            <div class="col-md-4">
                                                {{ lmItem.Desc }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label>Status</label>
                                            </div>
                                            <div class="col-md-4">
                                                {{ lmItem.Stats }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label>Freeze Frame Data</label>
                                            </div>
                                            <div class="col-md-4">
                                                {{ lmItem.Freeze }}
                                            </div>
                                        </div>
                                    </div>
                                </bslist-template>
                                <bslist-modal-form>
                                    <div class="form-group" ng-hide="true">
                                        <div class="col-md-12">
                                            <div class="col-xs-12">
                                                <label>Id</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input type="text" name="idPrediagnoseFirstCheck" class="form-control" ng-model="lmModel.idPrediagnoseFirstCheck">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <div class="col-md-12">
                                        <div class="col-xs-12">
                                            <label>Prediagnose Id</label>
                                        </div>
                                        <div class="col-xs-4">
                                            <input type="text" name="PrediagnoseId" class="form-control" ng-model="lmModel.PrediagnoseId">
                                        </div>
                                        {{lmModel}}
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-xs-12">
                                                <label>System</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input type="text" name="SystemCheck" class="form-control" ng-model="lmModel.SystemCheck">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-xs-12">
                                                <label>DTC</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input type="text" name="SystemCheck" class="form-control" ng-model="lmModel.Dtc">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-xs-12">
                                                <label>Description</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input type="text" name="SystemCheck" class="form-control" ng-model="lmModel.Desc">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-xs-12">
                                                <label>Status</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input type="text" name="SystemCheck" class="form-control" ng-model="lmModel.Stats">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-xs-12">
                                                <label>Freeze Frame Data</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input type="text" name="SystemCheck" class="form-control" ng-model="lmModel.Freeze">
                                            </div>
                                        </div>
                                    </div>
                                </bslist-modal-form>
                            </bslist>
                            <!-- <span class="glyphicon glyphicon-plus" ng-click="addFirstCheck(mData)" title="Tambah Data" aria-hidden="true" style="margin-top: 10px;padding-left: 0px;"></span>

                            <div ui-grid="gridPemeriksaanAwal" ui-grid-cellNav ui-grid-auto-resize ui-grid-edit class="grid" ng-cloak style="height: 200px;"></div> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="padding-left: 0px;margin-top: 20px;">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>Cek Ulang DTC</label>
                        </div>
                        <div class="col-xs-12" style="margin-top: -40px;">
                            <bslist name="DataDTC" data="DataDTC" factory-name="PreDiagnoseDTC" confirm-save="true" list-model="lmModelDTC" list-api="listApiDTC" m-id="idPrediagnoseFirstCheck" button-settings="listView">
                                <bslist-template>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label>System</label>
                                            </div>
                                            <div class="col-md-4">
                                                {{ lmItem.SystemCheck }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label>DTC</label>
                                            </div>
                                            <div class="col-md-4">
                                                {{ lmItem.Dtc }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label>Description</label>
                                            </div>
                                            <div class="col-md-4">
                                                {{ lmItem.Desc }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label>Status</label>
                                            </div>
                                            <div class="col-md-4">
                                                {{ lmItem.Stats }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label>Freeze Frame Data</label>
                                            </div>
                                            <div class="col-md-4">
                                                {{ lmItem.Freeze }}
                                            </div>
                                        </div>
                                    </div>
                                </bslist-template>
                            </bslist>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="padding-left: 0px;margin-top: 10px;">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>Hasil Konfirmasi Dari Pelanggan</label>
                        </div>
                        <div class="col-xs-12">
                            <textarea style="width: 100%;height: 100px;" ng-model="mData.CustomerFinalConfirmation" name="CustomerFinalConfirmation" ng-disabled="true" skip-enable></textarea>
                        </div>
                    </div>
                </div>

            </div>
        </uib-accordion>

        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <label>Catatan / Hasil Pre-Diagnosa</label>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>

                <div class="col-md-12" style="padding-left: 0px;">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>Technical Support</label>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-3" style="padding-left: 0px;">
                                <div class="radio-inline">
                                    <label class="radio">
                                        <input type="radio" name="TechnicalSupport" class="radiobox style-0"
                                            ng-model="mData.TechnicalSupport"
                                            value=1 ng-disabled = "true" skip-enable>
                                        <span>Perlu</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3" style="padding-left: 0px;">
                                <div class="radio-inline">
                                    <label class="radio">
                                        <input type="radio" name="TechnicalSupport" class="radiobox style-0"
                                            ng-model="mData.TechnicalSupport"
                                            value=0 ng-disabled = "true" skip-enable>
                                        <span>Tidak Perlu</span>
                                    </label>
                                </div>
                            </div>
                            <!-- <div class="col-xs-4" style="text-align: right;">
                <button class="btn btn-danger">Ambil Foto</button>
              </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" style="margin-top: 10px;">

                    <div class="col-xs-3" style="padding-left: 0px;" ng-show="showFoto1">
                        <!-- <button class="rbtn btn">Ambil Foto</button> -->
                        <label>Foto 1</label>
                        <image-control max-upload="1" is-image="1" img-upload="uploadFiles">
                            <form-image-control>
                                <input capture="camera" type="file" bs-upload="onFileSelect($files)" img-upload="uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1;">
                                <input type="file" ng-init="mData.UploadPhoto = uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1; display:none">
                            </form-image-control>
                        </image-control>
                    </div>
                    <div class="col-xs-3" style="padding-left: 0px;" ng-show="showFoto2">
                        <label> Foto 2</label>
                        <image-control max-upload="1" is-image="1" img-upload="uploadFiles2">
                            <form-image-control>
                                <input capture="camera" type="file" bs-upload="onFileSelect($files)" img-upload="uploadFiles2" name="" id="pickfiles-nav2" style="z-index: 1;">
                                <input type="file" ng-init="mData.UploadPhoto2 = uploadFiles2" name="" id="pickfiles-nav2" style="z-index: 1; display:none">
                            </form-image-control>
                        </image-control>
                    </div>
                    <div class="col-xs-3" style="padding-left: 0px;" ng-show="showFoto3">
                        <!-- <button class="rbtn btn">Ambil Foto</button> -->
                        <label> Foto 3</label>
                        <image-control max-upload="1" is-image="1" img-upload="uploadFiles3">
                            <form-image-control>
                                <input capture="camera" type="file" bs-upload="onFileSelect($files)" img-upload="uploadFiles3" name="" id="pickfiles-nav3" style="z-index: 1;">
                                <input type="file" ng-init="mData.UploadPhoto3 = uploadFiles3" name="" id="pickfiles-nav3" style="z-index: 1; display:none">
                            </form-image-control>
                        </image-control>
                    </div>

                    <!-- multiple -->
                    <div class="col-xs-3" style="padding-left: 0px;" ng-show="showFoto4">
                        <!-- <button class="rbtn btn">Ambil Foto</button> -->
                        <label> Foto 4</label>
                        <image-control max-upload="1" is-image="1" img-upload="uploadFiles4">
                            <form-image-control>
                                <input capture="camera" type="file" bs-upload="onFileSelect($files)" img-upload="uploadFiles4" name="" id="pickfiles-nav4" style="z-index: 1;">
                                <input type="file" ng-init="mData.UploadPhoto4 = uploadFiles4" name="" id="pickfiles-nav4" style="z-index: 1; display:none">
                            </form-image-control>
                        </image-control>
                    </div>

                    <!-- <button ng-click="test()">test</button> -->

                    <div class="col-xs-3" style="padding-left: 0px;margin-bottom: 10px;">
                        <button ng-click="addFoto()" class="btn rbtn" ng-disabled="true" skip-enable>Tambah Foto</button>
                    </div>
                </div>

                <div class="col-md-12" style="padding-left: 0px;">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>Pre-diagnose</label>
                        </div>
                        <div class="col-xs-12">
                            <textarea style="height: 100px;width: 100%;" name="PreDiagnoseTxt" ng-model="mData.PreDiagnoseTxt" ng-disabled="true" skip-enable></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="padding-left: 0px;">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>Detail Pekerjaan</label>
                        </div>
                        <div class="col-xs-12">
                            <textarea style="height: 100px;width: 100%;" name="JobDetail" ng-model="mData.JobDetail" ng-disabled="true" skip-enable></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="padding-left: 0px;">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>Konfirmasi Akhir</label>
                        </div>
                        <div class="col-xs-12">
                            <textarea style="height: 100px;width: 100%;" name="FinalConfirmation" ng-model="mData.FinalConfirmation" ng-disabled="true" skip-enable></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="padding-left: 0px;">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>Konfirmasi Pelanggan</label>
                        </div>
                        <div class="col-xs-12" style="padding-left: 0px;">
                            <div class="col-xs-2">
                                <div class="radio-inline">
                                    <label class="radio">
                                            <input type="radio" name="CustomerConfirmation" class="radiobox style-0"
                                            ng-model="mData.CustomerConfirmation"
                                            value=1 ng-disabled = "true" skip-enable>
                                        <span>Ok</span>
                                        </label>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="radio-inline">
                                    <label class="radio">
                                            <input type="radio" name="CustomerConfirmation" class="radiobox style-0"
                                            ng-model="mData.CustomerConfirmation"
                                            value=0 ng-disabled = "true" skip-enable>
                                        <span>Not Ok</span>
                                        </label>
                                </div>
                            </div>

                            <div class="col-xs-8">
                                <!-- <div class="containeramk" ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
                                    <signature-pad accept="accept" clear="clear" height="200" width="548" dataurl="dataurl"></signature-pad> -->
                                    <div class="containeramk" ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
                                        <signature-pad ng-init="header.GroupName == gridName" accept="accept" clear="clear" style="height:165px;" height="165" width="500" dataurl="dataurl"></signature-pad>

                                    <div class="buttonsamk">
                                        <button class="btn wbtn" ng-click="clear()" ng-disabled="true" skip-enable>Clear</button>
                                        <button class="btn rbtn" ng-click="dataurl = signature.dataUrl" ng-disabled="!signature">Reset</button>
                                        <button class="btn rbtn" ng-click="signature = accept(); open(signature)" ng-disabled = "true" skip-enable>Sign</button>
                                    </div>

                                </div>
                            </div>
                            <!-- <div class="containersign" ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
                                    <signature-pad accept="accept" clear="clear" height="150" width="400" dataurl="dataurl"></signature-pad>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn wbtn" ng-disable="disableReset" ng-click="clear()">Reset</button>
                                        <button class="btn rbtn" ng-click="signature = accept(); open(signature)">Sign</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-12">
          <div class="col-xs-6">
          </div>
          <div class="col-xs-6" style="text-align: right;">
            <div class="col-xs-12">
              <div class="col-xs-12" style='width:100%;height:100px;border: 1px solid #ccc;'></div> 
            </div>
            <div class="col-xs-12" style="text-align: center;">
              <label>Tanda Tangan</label>
            </div>
          </div>
        </div> -->

                        <div class="col-md-12" ng-hide="true">
                            <div class="col-xs-12">
                                <input type="text" name="LastModifiedUserId" ng-model="mData.LastModifiedUserId">
                            </div>
                            <div class="col-xs-12">
                                <input type="text" name="LastModifiedDate" ng-model="mData.LastModifiedDate">
                            </div>
                            <!-- <div class="col-xs-12">
            <input type="text" name="ComplaintCatId" ng-model="mData.ComplaintCatId">
          </div>
          <div class="col-xs-12">
            <input type="text" name="DetailJSON" ng-model="mData.DetailJSON">
          </div> -->
                            <div class="col-xs-12">
                                <input type="text" name="OutletId" ng-model="mData.OutletId">
                            </div>
                        </div>

                    </div>
        </uib-accordion>
        <!-- <button class="btn rbtn" ng-click="PrintPrediagnose()">Print</button> -->
        </div>
        </div>