<div class="col-md-12">
    <div class="col-md-12" style="margin-top: 10px;">


        <div class="col-md-12" style="margin-top: 10px;">
            <div class="col-md-6">
                <fieldset style="border:1px solid #e2e2e2;padding:20px">
                    <legend style="width:inherit;margin:0px;border:0px;">Keluhan Customer</legend>
                    <div class="col-xs-12">
                        <textarea ng-model="mData.CustComplaint[0].ComplaintDesc" style="width: 100%;height: 50px;" disabled></textarea>
                    </div>
                </fieldset>
            </div>


            <div class="col-md-6">
                <fieldset style="border:1px solid #e2e2e2;padding:20px">
                    <legend style="width:inherit;margin:0px;border:0px;">List Pekerjaan</legend>
                    <div class="col-xs-12" ng-repeat="FreDoJob in DataFI">
                        {{FreDoJob.TaskName}}
                    </div>
                </fieldset>
            </div>

        </div>


        <div class="col-md-12" style="margin-top: 10px;">

            <div class="col-md-6">
                <fieldset style="border:1px solid #e2e2e2;padding:20px">
                    <legend style="width:inherit;margin:0px;border:0px;">Field Action (FA)</legend>
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <label style="margin-top: 5px;">Field Action</label>
                        </div>
                        <div class="col-xs-8">
                            <div class="radio-inline">
                                <label class="radio">
                        <input type="radio" name="IsFieldAction" class="radiobox style-0"
                          ng-model="mData.IsFieldAction"
                          ng-click="ShowFA(1)"
                          value=1>
                          <!--   ng-disabled = "true" skip-enabled -->
                      <span>Ya</span>
                    </label>
                            </div>
                            <div class="radio-inline" style="padding-left:38px;">
                                <label class="radio">
                        <input type="radio" name="IsFieldAction" class="radiobox style-0"
                          ng-model="mData.IsFieldAction"
                          ng-click="ShowFA(2)"
                          value=0>
                          <!--   ng-disabled = "true" skip-enabled -->
                      <span>Tidak</span>
                    </label>
                            </div>
                        </div>
                    </div>

                    <div ng-show="StatusFixedFA">
                        <div class="col-xs-12">
                            <table class="table table-bordered">
                                <tr style="background-color: grey;">
                                    <Td>
                                        <font color="white">OpeNo</font>
                                    </Td>
                                    <Td>
                                        <font color="white">Description</font>
                                    </Td>
                                </tr>
                                <tr ng-repeat="a in GetDataTowass">
                                    <Td>{{a.OpeNo}}</Td>
                                    <Td>{{a.Description}}</Td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div ng-show="StatusFixedFA">
                            <div class="col-xs-4">
                                <label style="margin-top: 5px;">Sudah Diperiksa</label>
                            </div>
                            <div class="col-xs-8">
                                <div class="radio-inline">
                                    <label class="radio">
                              <input type="radio" name="IsChecked" class="radiobox style-0"
                                ng-model="mData.IsChecked"
                                value=1>
                            <span>Sudah</span>
                          </label>
                                </div>
                                <div class="radio-inline">
                                    <label class="radio">
                              <input type="radio" name="IsChecked" class="radiobox style-0"
                                ng-model="mData.IsChecked"
                                value=0>
                            <span>Belum</span>
                          </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div ng-show="StatusFixedFA">
                            <div class="col-xs-4">
                                <label style="margin-top: 5px;">Sudah Diperbaiki</label>
                            </div>
                            <div class="col-xs-8">
                                <div class="radio-inline">
                                    <label class="radio">
                            <input type="radio" name="IsRepaired" class="radiobox style-0"
                              ng-model="mData.IsRepaired"
                              value=1>
                          <span>Sudah</span>
                        </label>
                                </div>
                                <div class="radio-inline">
                                    <label class="radio">
                            <input type="radio" name="IsRepaired" class="radiobox style-0"
                              ng-model="mData.IsRepaired"
                              value=0>
                          <span>Belum</span>
                        </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>

            <div class="col-md-6">
                <div class="col-xs-12">
                    <div class="col-xs-4">
                        <label style="margin-top: 5px;">Status Inspeksi</label>
                    </div>
                    <div class="col-xs-8">
                        <div class="radio-inline">
                            <label class="radio">
                          <input type="radio" name="Status" class="radiobox style-0"
                            ng-model="mData.StatusInspeksi"
                            ng-click="StatusFixedBtn(1)"
                            value=1>
                        <span>Fixed</span>
                      </label>
                        </div>
                        <div class="radio-inline">
                            <label class="radio">
                          <input type="radio" name="Status" class="radiobox style-0"
                            ng-model="mData.StatusInspeksi"
                            ng-click="StatusFixedBtn(2)"
                            value=0>
                        <span>Not Fixed</span>
                      </label>
                        </div>
                    </div>
                </div>

                <div ng-show="StatusFixed">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <label style="margin-top: 5px;">Fix it right</label>
                        </div>
                        <div class="col-xs-8">
                            <div class="radio-inline">
                                <label class="radio">
                                  <input type="radio" name="isFixItRight" class="radiobox style-0"
                                      ng-model="mData.isFixItRight"
                                      value=1>
                                  <span>Ya</span>
                              </label>
                            </div>
                            <div class="radio-inline">
                                <label class="radio">
                                <label class="radio">
                                    <input type="radio" name="isFixItRight" class="radiobox style-0"
                                      ng-model="mData.isFixItRight"
                                      value=0>
                                  <span>Tidak</span>
                              </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <textarea style="width: 100%;height: 50px;" disabled></textarea>
                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <label style="margin-top: 5px;">Letak Parts Bekas</label>
                        </div>
                        <div class="col-xs-8">
                            <!-- <div class="col-xs-12" style="padding-left: 0px;">
                                <textarea ng-disabled="mData.UsedPart == 0" ng-model="mData.OldPartKeepPlace" style="width: 100%;height: 30px;" maxlength=200></textarea>
                            </div>  ADA YG MINTA DIBUAT ENABLE AJA -->
                            
                            <div class="col-xs-12" style="padding-left: 0px;">
                                <textarea ng-model="mData.OldPartKeepPlace" style="width: 100%;height: 30px;" maxlength=200></textarea>
                            </div>
                        </div>
                    </div>
                </div>


                <div ng-show="StatusNotFixed">

                    <div class="col-md-12" style="margin-top: 10px;">
                        <div class="col-xs-4">
                            <bsreqlabel>Re Do ke Job</bsreqlabel>
                        </div>
                        <!--  ng-repeat = "FinalDataWoList in FreDoJob.JobTask" -->
                        <div class="col-xs-8" ng-show="FreDoJob.Status == 4" ng-repeat="FreDoJob in DataFI">
                            <!-- ng-click="ChoseDataFI(FreDoJob.JobTaskId,$index)" -->
                            <bscheckbox ng-model="mData.FreDoJob[$index]" label="{{FreDoJob.TaskName}}" ng-change="ChoseDataFI(FreDoJob.JobTaskId,$index)">
                                <!-- true-value="-1"
                            false-value="0" -->
                                <!-- 
                            true-value = {{FinalDataWoList.JobTaskId}}
                            false-value = 0 
                            -->
                            </bscheckbox>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <!--
      <div class="col-md-12" style="margin-top: 10px;">
        <div ng-show="StatusFixed">  
          <div class="col-xs-12" style="padding-left: 0px; margin-top: 5px;">
            <div class="col-md-2">
              <label style="margin-top: 5px;">Fix it right</label>
            </div>
            <div class="col-xs-10">
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="isFixItRight" class="radiobox style-0"
                      ng-model="mData.isFixItRight"
                      value=1>
                  <span>Ya</span>
                </label>
              </div>
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="isFixItRight" class="radiobox style-0"
                      ng-model="mData.isFixItRight"
                      value=0>
                  <span>Tidak</span>
                </label>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-xs-12" style=" margin-top: 5px;">
              <div class="col-xs-2" style="padding-left: 0px;">
                <label>Letak Parts Bekas</label>
              </div>
              <div class="col-xs-10" style="padding-left: 0px;">
                <textarea ng-model="mData.OldPartKeepPlace" style="width: 100%;height: 100px;" maxlength=200></textarea>
               
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>-->
        <!-- <div class="form-group">
        <div class="col-xs-12" ng-show="StatusFixedFA">
          <div class="col-xs-2">
            <label>Keterangan</label>
          </div>
          <div class="col-xs-10">
            <textarea ng-model="mData.Catatan" style="width: 100%;height: 100px;" maxlength=250></textarea>
          </div>
        </div>
      </div> -->
        <!-- <pre>{{mData}}</pre> -->
        <div class="col-md-12" style="margin-top: 10px;">
            <div class="col-xs-2">
                <bsreqlabel>Hasil Inspeksi</bsreqlabel>
            </div>
            <div class="col-xs-10">
                <textarea ng-model="mData.Remarks" style="width: 100%;height: 100px;"></textarea>
                <p ng-show="mData.Remarks.length > 500" style="color: rgb(185, 74, 72);">Max 500 Karakter</p>
            </div>
        </div>

        <div class="form-group">

            <div class="form-group">
                <div ng-include="'app/services/production/repairProcessGR/repairProcessGR_JobSuggest.html'"></div>
            </div>

            <div class="col-xs-12" style="margin-top: 10px;padding-right: 0px;padding-left: 0px;">
                <!--  <div ui-grid="gridWarranty" ui-grid-cellNav ui-grid-edit ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak style="height: 200px;"></div> -->
                <table class="table table-bordered" style="width: 100%;">
                    <TR style="background-color: lightgrey;">
                        <Td style="width:20%;">
                            <font color="black">TaskName</font>
                        </Td>
                        <Td style="width:15%;">
                            <font color="black">OFP</font>
                        </Td>
                        <Td style="width:15%;">
                            <font color="black">T1</font>
                        </Td>
                        <Td style="width:20%;">
                            <font color="black">
                                <bsreqlabel ng-if="xDataWoListT2 == 'TWC' || xDataWoListT2 == 'PWC'">T2</bsreqlabel>
                                <label ng-hide="xDataWoListT2 == 'TWC' || xDataWoListT2 == 'PWC'" ng-if="xDataWoListT2 != 'TWC' || xDataWoListT2 != 'PWC'">T2</label>
                            </font>
                        </Td>
                        <Td style="width:30%;">
                            <font color="black">
                                <bsreqlabel ng-if="xDataWoListT2 == 'TWC' || xDataWoListT2 == 'PWC'">Keterangan (Repair/Replace/SSC)</bsreqlabel>
                                <label ng-hide="xDataWoListT2 == 'TWC' || xDataWoListT2 == 'PWC'" ng-if="xDataWoListT2 != 'TWC' || xDataWoListT2 != 'PWC'" >Keterangan (Repair/Replace/SSC)</label>
                            </font>
                        </Td>
                    </TR>
                    <tr ng-repeat="a in DataWarranty">
                        <td style="width:20%;">{{a.TaskName}}</td>
                        <!-- <td style="width:10px;">{{a.JobParts[0].Part.PartsCode}}</td> -->
                        <td style="width:15%;">
                            <input type="text" name="OFP" ng-model="mData.OFP[$index]" minlength="10" maxlength="15" class="form-control" style="text-transform: uppercase" ng-keypress="allowPattern($event,2,mData.OFP[$index])">                        
                        </td>
                        <td style="width:15%;">{{a.TFirst1}}</td>
                        <td style="width:20%;">
                            <bsselect name="T2" ng-model="mData.T2[$index]" data="T2" item-text="xName" item-value="xName" placeholder="T2" style="width:100;" on-select="selectT2(selected)">
                            </bsselect>
                        </td>
                        <td style="width:30%;">
                            <input type="text" name="PrediagnoseId" ng-model="mData.Note[$index]" class="form-control" style="text-transform: uppercase">
                        </td>
                    </tr>
                </table>
                <!--  <div ui-grid="gridWarranty" ui-grid-move-columns ui-grid-edit ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-cellNav ui-grid-pinning ui-grid-cellNav ui-grid-auto-resize class="grid" ng-cloak style="height: 200px;"></div> -->
            </div>

        </div>
        <div class="form-group" style="margin-top: 10px;">
            <div class="col-xs-12" style="text-align: right;">
                <button class="btn btn-danger" style="background-color:rgb(213,51,55);" ng-disabled="disabletestdrive" ng-click="TestDrive()"><i class="fa fa-fw fa-car"></i>Test Drive</button>

                <button class="btn btn-danger" style="background-color:rgb(213,51,55);" ng-show="StatusNotFixed" ng-disabled="btnFI || mData.Remarks.length > 500" ng-click="PutFI(dataSaveFi,mData)">Simpan</button>

                <button class="btn btn-danger" style="background-color:rgb(213,51,55);" ng-show="StatusFixed" ng-disabled="mData.Remarks.length > 500" ng-click="PutFI(dataSaveFi,mData)">Simpan</button>

                <!-- <button class="btn btn-danger" style="background-color:rgb(213,51,55);" ng-click="SimpanT2(mData)">Simpan T2</button> -->
            </div>
        </div>
    </div>
</div>