<script type="text/javascript">
</script>
<style type="text/css">
    .ChangeColor {
        background-color: rgb(213, 51, 55);
        border-color: rgb(213, 51, 55);
        color: white;
    }
    
    .DefaultColor {
        background-color: white;
    }
    
    .StatusClocOn {
        background-color: green;
    }
    
    .ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
        width: 70%;
    }
    .bs-list > .panel-body > .ui-grid-nodata{
        position: relative !important;
    }
</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<!-- <bsform-grid
        ng-form="NegotiationForm"
        factory-name="Negotiation"
        model="mRole"
        model-id="Id"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="RoleForm"
        form-title="Role"
        modal-title="Role"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >
 -->
<!-- IF USING FORMLY -->
<!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- </bsform-grid> -->
<!-- IF NOT USING FORMLY -->

<!-- Form Filter View WO List -->
<div class="row" ng-hide="ShowRepair" ng-init="getDataDefault()">
    <div class="col-md-12">

        <!-- Bagian FIlter -->
        <div class="col-md-3" style="margin-top: 10px;" ng-init="dataTeknisi()">
            <label>Nama Teknisi/Foreman</label>
            <bsselect name="EmployeeId" ng-model="mData.EmployeeId" data="EmployeeId" item-text="EmployeeName" item-value="EmployeeId" placeholder="Teknisi" ng-keypress="allowPatternFilter($event,2,mData)">
            </bsselect>
        </div>

        <div class="col-md-3" style="margin-top: 32px;">
            <bsselect name="ChoseFilter" ng-model="mFilter.ChoseFilterId" data="ChoseFilter" item-text="ChoseFilter" item-value="ChoseFilterId" placeholder="Tipe Filter" on-select="selectFilter(selected)">
            </bsselect>
        </div>

        <div class="col-md-3" ng-show="mFilter.ChoseFilterId == 1" style="margin-top: 15px;">
            <bslabel>No Wo</bslabel>
            <input class="form-control" type="text" name="KodeWO" ng-model="mData.NoWo" placeholder="NO WO" ng-keypress="allowPatternFilter($event,2,mData)">
        </div>

        <div class="col-md-3" ng-show="mFilter.ChoseFilterId == 2" style="margin-top: 15px;">
            <bslabel>No Polisi</bslabel>
            <input class="form-control" type="text" name="NomorPolisi" ng-model="mData.PoliceNumber" placeholder="NO Polisi" ng-keypress="allowPatternFilter($event,2,mData)">
        </div>
        <div class="col-md-3" style="margin-top: 10px;">
            <label>Tanggal</label>
            <bsdatepicker name="tglProcessGR" date-options="DateOptions" ng-model="mData.FilterDate">
            </bsdatepicker>
            <!-- <bserrmsg field="tglProcessGR"></bserrmsg> -->
        </div>
        <div class="col-md-3" style="margin-top: 32px;">
            <!-- background-color:rgb(213,51,55); -->
            <button ng-click="getData(mData.PoliceNumber,mData.NoWo,mData.EmployeeId,mData.FilterDate)" class="btn wbtn">  
                <i class="large icons">
                  <i class="database icon">
                  </i>
                  <i class="inverted corner filter icon">
                  </i>
                </i>
                Search
                <!-- <span class="glyphicon glyphicon-search"></span> -->
              </button>
        </div>
        <!--Akhir Bagian FIlter -->

        <!-- Bagian Table  -->
        <div class="col-md-12" style="margin-top: 20px;">
            <table class="table table-bordered">
                <tr style="background-color: grey;">
                    <Td>
                        <font color="white">Menunggu Pengerjaan ({{CountProdFinal}})</font>
                    </Td>
                    <Td>
                        <font color="white">Dalam Pengerjaan ({{CountInProdFinal}})</font>
                    </Td>
                    <Td>
                        <font color="white">Menunggu FI ({{CountWaitFiFinal}})</font>
                    </Td>
                </tr>
                <tr>
                    <Td width="33%">
                        <chip-technicianmainmenu ng-repeat="xDataWo1 in DataWoList  | filter:search0" policenumber="xDataWo1.PoliceNumber" date="xDataWo1.PlanStart" modelname="xDataWo1.ModelType" planfinish="xDataWo1.PlanDateFinish" timeplanfinish="xDataWo1.PlanFinish" employeesa="xDataWo1.EmployeeSa"
                            jobtype="xDataWo1.Process.Name" ng-click="getDataDetail(xDataWo1.JobId, 1)" midcolor="xDataWo1.color" ng-hide="xDataWo1.StallId <= 0" status="xDataWo1.Status" iswaiting="xDataWo1.IsWaiting" jmltask="xDataWo1.jmltask" returnjob="xDataWo1.Revision"
                            jobtwc="xDataWo1.adaJobTWC" jobpwc="xDataWo1.adaJobPWC" waitingpart="xDataWo1.adaMenungguParts"></chip-technicianmainmenu>
                    </Td>
                    <Td width="33%">
                        <chip-technicianmainmenu ng-repeat="xDataWo1 in DataWoList  | filter:search" policenumber="xDataWo1.PoliceNumber" date="xDataWo1.PlanStart" modelname="xDataWo1.ModelType" planfinish="xDataWo1.PlanDateFinish" timeplanfinish="xDataWo1.PlanFinish" employeesa="xDataWo1.EmployeeSa"
                            jobtype="xDataWo1.Process.Name" ng-click="getDataDetail(xDataWo1.JobId, 1)" midcolor="xDataWo1.color" ng-hide="xDataWo1.StallId <= 0" status="xDataWo1.Status" iswaiting="xDataWo1.IsWaiting" jmltask="xDataWo1.jmltask" returnjob="xDataWo1.Revision"
                            jobtwc="xDataWo1.adaJobTWC" jobpwc="xDataWo1.adaJobPWC" waitingpart="xDataWo1.adaMenungguParts"></chip-technicianmainmenu>
                    </Td>
                    <Td width="33%">
                        <chip-technicianmainmenu ng-repeat="xDataWo1 in DataWoList  | filter:search2" policenumber="xDataWo1.PoliceNumber" date="xDataWo1.PlanStart" modelname="xDataWo1.ModelType" planfinish="xDataWo1.PlanDateFinish" timeplanfinish="xDataWo1.PlanFinish" employeesa="xDataWo1.EmployeeSa"
                            jobtype="xDataWo1.Process.Name" ng-click="getDataDetail(xDataWo1.JobId, 1)" midcolor="xDataWo1.color" ng-hide="xDataWo1.StallId <= 0" status="xDataWo1.Status" iswaiting="xDataWo1.IsWaiting" jmltask="xDataWo1.jmltask" returnjob="xDataWo1.Revision"
                            jobtwc="xDataWo1.adaJobTWC" jobpwc="xDataWo1.adaJobPWC" waitingpart="xDataWo1.adaMenungguParts"></chip-technicianmainmenu>
                    </Td>
                </tr>
            </table>
        </div>
        <!-- Akhir Bagian Table  -->
        <!-- Bagian Keterangan Warna -->
        <div class="col-md-12">
            <div class="col-xs-12">
                <div class="col-md-3 col-xs-3" style="margin-top: 5px;">
                    <div class="col-md-6 col-xs-6" style="background-color: green;height: 20px;width: 40px;"></div>
                    <div class="col-md-6 col-xs-6">
                        Walk In
                    </div>
                </div>
                <div class="col-md-3 col-xs-3" style="margin-top: 5px;">
                    <div class="col-md-6 col-xs-6" style="background-color: red;height: 20px;width: 40px;"></div>
                    <div class="col-md-6 col-xs-6">
                        Problem / Pause
                    </div>
                </div>
                <div class="col-md-3 col-xs-3" style="margin-top: 5px;">
                    <div class="col-md-6 col-xs-6" style="background-color: yellow;height: 20px;width: 40px;"></div>
                    <div class="col-md-6 col-xs-6">
                        In Progress
                    </div>
                </div>
                <div class="col-md-3 col-xs-3" style="margin-top: 5px;">
                    <div class="col-md-6 col-xs-6" style="background-color: blue;height: 20px;width: 40px;"></div>
                    <div class="col-md-6 col-xs-6">
                        Booking / Appoinment
                    </div>
                </div>
            </div>
        </div>
        <!-- Akhir Bagian Keterangan Warna -->
    </div>
</div>
<!-- Akhir Form Filter View WO List -->

<div class="row">
    <div class="col-xs-12" style="text-align: right;margin-bottom: 20px;">
        <button class="wbtn btn" ng-click="Kembali()" ng-show="ShowBtnKembali">Kembali</button>
    </div>
</div>

<div class="row" ng-show="ShowRepair">
    <div class="col-md-12 col-xs-12">

        <div class="col-md-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
            <div class="col-md-7">

                <div class="col-md-12" style="border:1px solid #ccc; background-color: #fff;">
                    <div class="col-md-12">
                        <div class="col-md-12" style="margin-top: 10px;">
                            <!-- <label>Nama Teknisi :</label><label ng-repeat="a in JobTaskTeknisi">{{a.EmployeeName}} </label> -->
                            <label>Nama Teknisi : </label><label>{{NamaTeknisiNew}} </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div ng-include="'app/services/production/repairProcessGR/BoardRepairProcessGR.html'" style="margin-top: 35px;">
                        </div>
                    </div>
                    <!-- <h1>Info Terkait Data Stall</h1> -->
                </div>
            </div>

            <div class="col-md-5">
                <div class="col-xs-12" style="border:1px solid #ccc;height: 290px;" ng-repeat="z in xDataWoList | filter : {JobId : JbId}">
                    <div class="col-xs-12" style="margin-top: 65px;">
                        <div class="col-xs-12">
                            <div class="col-xs-4" style="padding-right: 0px;padding-left: 0px;font-size:14px;">Full Model</div>
                            <div class="col-xs-1" style="padding-left: 0px;font-size:14px;"> : </div>
                            <div class="col-xs-7" style="padding-left: 0px;font-size:14px;">{{z.KatashikiCode}}</div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-4" style="padding-right: 0px;padding-left: 0px;font-size:14px;">W/O No.</div>
                            <div class="col-xs-1" style="padding-left: 0px;font-size:14px;"> : </div>
                            <div class="col-xs-7" style="padding-left: 0px;font-size:14px;">{{z.WoNo}}</div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-4" style="padding-right: 0px;padding-left: 0px;font-size:14px;">SA</div>
                            <div class="col-xs-1" style="padding-left: 0px;font-size:14px;"> : </div>
                            <div class="col-xs-7" style="padding-left: 0px;font-size:14px;">{{z.UserSa.EmployeeName}}</div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-4" style="padding-right: 0px;padding-left: 0px;font-size:14px;">Nomor Polisi</div>
                            <div class="col-xs-1" style="padding-left: 0px;font-size:14px;"> : </div>
                            <div class="col-xs-7" style="padding-left: 0px;font-size:14px;">{{z.PoliceNumber}}</div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-4" style="padding-right: 0px;padding-left: 0px;font-size:14px;">Model</div>
                            <div class="col-xs-1" style="padding-left: 0px;font-size:14px;"> : </div>
                            <div class="col-xs-7" style="padding-left: 0px;font-size:14px;">{{z.ModelType}}</div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-4" style="padding-right: 0px;padding-left: 0px;font-size:14px;">Mulai</div>
                            <div class="col-xs-1" style="padding-left: 0px;font-size:14px;"> : </div>
                            <div class="col-xs-7" style="padding-left: 0px;font-size:14px;">{{z.PlanDateStart | date : 'dd/MM/yyyy' }} {{z.PlanStart}}</div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-4" style="padding-right: 0px;padding-left: 0px;font-size:14px;">Selesai</div>
                            <div class="col-xs-1" style="padding-left: 0px;font-size:14px;"> : </div>
                            <div class="col-xs-7" style="padding-left: 0px;font-size:14px;">{{z.PlanDateFinish | date : 'dd/MM/yyyy' }} {{z.PlanFinish}}</div>
                        </div>
                        <div class="col-xs-12" ng-show="z.FixedDeliveryTime2 == null">
                            <div class="col-xs-4" style="padding-right: 0px;padding-left: 0px;font-size:14px;">Janji Penyerahan</div>
                            <div class="col-xs-1" style="padding-left: 0px;font-size:14px;"> : </div>
                            <div class="col-xs-7" style="padding-left: 0px;font-size:14px;"> {{z.FixedDeliveryTime1 | date : 'dd/MM/yyyy'}} {{JanjiPenyerahan}}</div>
                        </div>
                        <div class="col-xs-12" ng-show="z.FixedDeliveryTime2 !== null">
                            <div class="col-xs-4" style="padding-right: 0px;padding-left: 0px;font-size:14px;">Janji Penyerahan</div>
                            <div class="col-xs-1" style="padding-left: 0px;font-size:14px;"> : </div>
                            <div class="col-xs-7" style="padding-left: 0px;font-size:14px;">{{z.FixedDeliveryTime2 | date : 'dd/MM/yyyy'}} {{JanjiPenyerahan}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Permintaan dan keluhan pelanggan -->
        <!--             <div class="col-md-12 col-xs-12" style="padding-left: 0px;margin-top: 15px;">
              
                 <uib-accordion close-others="false">
                   <div uib-accordion-group class="panel-default" is-open="status.open">
                     <uib-accordion-heading>
                       <label>Permintaan dan Keluhan Pelanggan</label>
                       <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                     </uib-accordion-heading>
                     
                     <div class="col-md-12">
                      <div class="col-md-6">
                        Keluhan
                        <p  ng-repeat = "a in xDataWoList">
                          {{$index + 1 }}. {{a.JobComplaint[$index].ComplaintDesc}}
                        </p>
                      </div>
                      <div class="col-md-6">
                        Permintaan
                        <p  ng-repeat = "a in xDataWoList">
                          {{$index + 1}}. {{a.JobRequest[$index].RequestDesc}}
                        </p>
                      </div>
                     </div>

                     <div class="col-md-12" style="margin-top: 10px;">
                       <div class="col-md-12">
                          <textarea style="width: 100%; height: 150px;" placeholder="Action Yang Dilakukan Teknisi" ng-model="mData.TechnicianNotes"></textarea>

                          <button class="rbtn btn" ng-click="SimpanNote();">Simpan</button>
                       </div>
                     </div>

                   </div>
                 </uib-accordion>
            </div> -->
        <!-- Permintaan dan keluhan pelanggan -->

        <div class="col-md-12 col-xs-12" ng-show="ShowRepair" ng-repeat="z in xDataWoList | filter : {JobId : JbId}">
            <uib-tabset active="activeJustified" justified="true" style="margin-top: 40px;">
                <!-- <bstabwiz fulwidth="true"> -->

                <uib-tab index="0" heading="Job Instruction" ng-show="user.RoleId == 1 || user.RoleId == 1036 || user.RoleId == 1033">
                    <!-- <bstabwiz-pane title="Job Instruction"> -->
                    <div ng-show="user.RoleId == 1 || user.RoleId == 1036 || user.RoleId == 1033" ng-include="'app/services/production/repairProcessGR/repairProcessGR_JobInstruction.html'">
                    </div>
                    <!-- </bstabwiz-pane> -->
                </uib-tab>

                <uib-tab index="1" heading="Final Inspection" ng-show="showFi" ng-click="getFIById(z.JobId,z.JobTask)">
                    <!-- <bstabwiz-pane title="Final Inspection"> -->
                    <div ng-include="'app/services/production/repairProcessGR/repairProcessGR_FinalInspection.html'" ng-show="showFi2">
                    </div>
                    <!-- </bstabwiz-pane> -->
                </uib-tab>
                <!-- 
                 <uib-tab index="2" heading="Job Suggest" ng-show="user.RoleId == 1 || user.RoleId == 1036 || user.RoleId == 1033">
                    <div ng-include="'app/services/production/repairProcessGR/repairProcessGR_JobSuggest.html'" ng-show="user.RoleId == 1 || user.RoleId == 1036 || user.RoleId == 1033"></div>
                 </uib-tab> -->


                <uib-tab index="3" heading="Wo Detail" ng-click="WoDetail(z.JobId)">


                    <div class="col-md-12" ng-repeat="fDwo in DataWOTask" style="margin-top: 10px;padding-right: 0px;padding-left: 0px;" ng-disabled="true">

                        <uib-accordion close-others="oneAtATime" ng-disabled="true">
                            <div uib-accordion-group is-open="true" class="panel-default">
                                <uib-accordion-heading>

                                    <label>Nama Pekerjaan : {{fDwo.TaskName}}</label>
                                    <br>
                                    <label>Tipe : {{fDwo.JobType.Name}} </label>
                                    <!-- <label>Tipe : {{fDwo.JobTypeId}} </label> -->
                                    <br>
                                    <label>Flat Rate : {{fDwo.FlatRate}}</label>
                                    <br>
                                    <label>Act Rate : {{fDwo.ActualRate}}</label>
                                    <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
                                </uib-accordion-heading>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-bordered">
                                            <tr>
                                                <td>Nomor Material</td>
                                                <td>Nama Material</td>
                                                <td>Status</td>
                                                <td>ETA</td>
                                                <td>Permintaan Qty</td>
                                                <td>Issue Qty</td>
                                                <td>Satuan</td>
                                            </tr>
                                            <tr ng-repeat="fDParts in fDwo.JobParts">
                                                <td>{{fDParts.Part.PartsCode}}</td>
                                                <td>{{fDParts.PartsName}}</td>
                                                <!-- <td>{{fDParts.Status}}</td> -->
                                                <!-- <td ng-if="fDParts.Qty == fDParts.QtyGI">Tersedia</td>
                                                <td ng-if="fDParts.Qty != fDParts.QtyGI">Tidak Tersedia</td> -->
                                                <td>{{fDParts.Availability}}</td>
                                                <td>{{fDParts.ETA | date:"dd-MM-yyyy"}}</td>
                                                <td>{{fDParts.Qty}}</td>
                                                <td>{{fDParts.QtyGI}}</td>
                                                <td>{{fDParts.Satuan.Name}}</td>
                                            </tr>
                                        </table>
                                        <!-- <div ui-grid="gridWODetail" ui-grid-cellNav ui-grid-auto-resize class="grid" ng-cloak style="height: 200px;"></div> -->
                                    </div>
                                </div>
                            </div>
                        </uib-accordion>

                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-danger" style="background-color: rgb(213,51,55);" ng-click="getDataPrediagnose()">Diagnoses Detail</button>

                        <button class="btn btn-danger" style="background-color: rgb(213,51,55);" ng-disabled="showBtnTambah" ng-click="addPekerjaan()">Tambah Pekerjaan</button>

                        <button class="btn btn-danger" style="background-color: rgb(213,51,55);" ng-disabled="showBtnTambah" ng-click="addMaterial()">Tambah Parts</button>
                    </div>
                </uib-tab>
                <!-- 
                 ini tadinya riwayat service yg ternyata harus dipindah
                  <uib-tab index="3" heading="Riwayat Service" ng-show="user.RoleId == 1 || user.RoleId == 1036">
                    <div class="col-md-12" style="margin-top: 10px;" ng-repeat = "b in VinData" ng-show="user.RoleId == 1 || user.RoleId == 1036">
                      <vehicle-history vin="b.VIN"></vehicle-history>
                    </div>
                  </uib-tab> -->

                <uib-tab index="4" heading="WAC" ng-click="chooseVType()">
                    <!-- <bstabwiz-pane title="Riwayat Service"> -->
                    <div class="col-md-12" id="dataWAC" style="margin-top: 10px;">
                        <div ng-include="'app/services/production/repairProcessGR/repairProcessGR_WAC.html'"></div>
                        <!-- <vehicle-history vin="b.VIN"></vehicle-history> -->
                    </div>
                    <!-- </bstabwiz-pane> -->
                </uib-tab>

                <!-- </bstabwiz> -->
            </uib-tabset>
        </div>

    </div>


</div>
<bsui-modal show="show_modal.show" title="Tambah Material" data="modal_model" on-save="doAddMaterial" on-cancel="rescheduleCancel" mode="modalMode">
    <div class="col-md-12">
        <label>Nama Material</label>
    </div>
    <div class="col-md-12" style="margin-bottom:10px;">
        <textarea style="width:100%;" ng-model="modal_model.Message" ng-maxlength="100" maxlength="100"></textarea>
    </div>
</bsui-modal>

<bsui-modal show="show_modalTask.show" title="Tambah Pekerjaan" data="modal_modelTask" on-save="doAddPekerjaan" on-cancel="rescheduleCancel" mode="modalModeTask">
    <div class="col-md-12">
        <label>Nama Pekerjaan</label>
    </div>
    <div class="col-md-12" style="margin-bottom:10px;">
        <textarea style="width:100%;" ng-model="modal_modelTask.Message" ng-maxlength="100" maxlength="100"></textarea>
    </div>
</bsui-modal>