<div class="col-md-12" style="margin-top: 10px;" ng-hide="showPause">
  <div class="col-md-6" style="margin-top: 20px;padding-left: 0px;">
    <div class="col-xs-12" ng-repeat = "DataProblem2 in xDataWoList | filter : {JobId : JbId}" style="padding-left: 0px;">
      <div class="col-xs-12">
        
        <div class="col-xs-12" style="padding-left: 0px;padding-right: 0px;border:1px solid #ccc;background-color: #f3f3f3">
           <div class="col-xs-12" style="text-align: left;margin-top: 10px;">
             Keluhan : 
             <!-- <label  ng-repeat = "a in xDataWoList[0].JobComplaint">
               {{a.ComplaintDesc}}, &nbsp;
             </label> -->
              <div class="col-xs-12" ng-repeat = "a in xDataWoList[0].JobComplaint">
                  <textarea style="width: 100%; height: 50px;" placeholder="" ng-model="a.ComplaintDesc" ng-disabled="true" disabled readonly></textarea>
              </div>
           </div>
        </div>
        <div class="col-xs-12" style="padding-left: 0px;padding-right: 0px;border:1px solid #ccc;background-color: #f3f3f3">
           <div class="col-xs-12" style="text-align: left;margin-top: 10px;">
             Permintaan :
             <!-- <label ng-repeat = "a in xDataWoList[0].JobRequest">
               {{a.RequestDesc}}, &nbsp;
             </label> -->
              <div class="col-xs-12" ng-repeat = "a in xDataWoList[0].JobRequest">
                <textarea style="width: 100%; height: 50px;" placeholder="" ng-model="a.RequestDesc" ng-disabled="true" disabled readonly></textarea>
              </div>
              <!-- {{$index + 1}}.  -->
           </div>
        </div>
        <div class="col-xs-12" style="padding-left: 0px;padding-right: 0px;margin-top: 25px;">
          <textarea style="width: 100%; height: 50px;" placeholder="Action Yang Dilakukan Teknisi" ng-model="mData.TechnicianNotes" maxlength="500" ng-maxlength="500"></textarea>
        </div>
        <div class="col-xs-12" style="padding-left: 0px;padding-right: 0px;">
          <!-- untuk filter user login -->
          <!-- ng-show="user.RoleId == 1 || user.RoleId == 1036 || user.RoleId == 1033" -->
          <div ng-include="'app/services/production/repairProcessGR/repairProcessGR_JobSuggest.html'"></div>
        </div>
      </div>
<!--       <div class="col-xs-12" ng-show="DataProblem">
        Nama Teknisi : <p ng-repeat = "datafinal in DataTeknisiTask"> - {{datafinal.EmployeeName}}</p>
      </div>
      <div class="col-xs-12">
        <table class="table table-bordered">
          <tr  ng-repeat = "xDataProblem in DataProblem2.JobTask" ng-click="ChoseProblem(xDataProblem,xDataProblem.JobTaskId)" ng-class="{ChangeColor : xDataProblem.JobTaskId == DataChoseProblem.JobTaskId, DefaultColor : xDataProblem.JobTaskId != DataChoseProblem.JobTaskId}">
              
              <td width="10%">
                  <a class="glyphicon glyphicon-play " title="Clock On" style="font-size:30px;" ng-show="xDataProblem.Status == 1 || xDataProblem.Status == 3"></a>
                  <a class="glyphicon glyphicon-pause" title="Pause" style="font-size:30px;" ng-show="xDataProblem.Status == 2"></a>
                  <a class="glyphicon glyphicon-stop" title="Clock Off" style="font-size:30px;" ng-show="xDataProblem.Status == 4"></a>
              </td>
              <td width="90%">
                <label style="margin-top: 10px;">{{xDataProblem.TaskName}}</label>
              </td>
          </tr>

        </table>
      </div> -->
    </div>
    <!-- ini tambah pekerjaan -->
 <!--    <div class="col-xs-12">
      <div class="col-xs-12">
        <button class="btn btn-danger" style="background-color: rgb(213,51,55);" ng-show="showBtnTambah == 6" ng-click="addPekerjaan()">Tambah Pekerjaan</button>
      </div>
    </div> -->
    <!-- ini tambah pekerjaan -->

  </div>
  <!-- berdasarkan wobased -->
<!-- 
  <div class="col-xs-12" ng-repeat = "DataProblem2 in xDataWoList | filter : {JobId : JbId}">
    <label ng-if="DataProblem2.isWOBase != 1">Jenis Pekerjaan : Job Based</label>
    <label ng-if="DataProblem2.isWOBase == 1">Jenis Pekerjaan : WO Based</label>
  </div> -->
  <div class="col-md-6" ng-repeat = "WoOrJob in xDataWoList | filter : {JobId : JbId}" ng-if="WoOrJob.isWOBase == 1" style="margin-top: 20px;text-align: center;">
    
    <div class="col-xs-12" style="text-align: left;">
      <label ng-if="WoOrJob.isWOBase != 1">Jenis Pekerjaan : Job Based</label>
      <label ng-if="WoOrJob.isWOBase == 1">Jenis Pekerjaan : WO Based</label>
    </div>
    
    <div class="col-xs-12" style="text-align:left;">
      
      <div class="form-group">
        <div class="col-xs-2" style="padding-left:0px;">
          <h6>Job</h6>
        </div>
        <div class="col-xs-10" style="margin-top:5px;">
          <bsselect name="JobTask" ng-model="mData.JobTaskFWO" data="SelectJobTask" item-text="TaskName" item-value="JobTaskId" placeholder="Pilih Pekerjaan" ng-disabled="true">
          </bsselect>
        </div>
      </div>
 
    </div>
    <div class="col-xs-12" style="text-align: center;">
<!-- 
      <button class="ui icon inverted button" title="Clock On After Pause" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="clockOnWoAfterPause(WoOrJob.JobTask,WoOrJob.JobId)" ng-show="WoOrJob[$index].JobTask[$index].Status == 2" ng-disabled = "WoOrJob[$index].JobTask[$index].Status == 4"> <i class="glyphicon glyphicon-play" style="font-size:50px"></i> </button> -->

      <!-- ng-disabled=" WoOrJob.Status == 6 && WoOrJob.Fl_reqjob == 1" -->
      <button class="ui icon inverted button" title="Clock On After Pause" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="clockOnWoAfterPause(WoOrJob.JobTask,WoOrJob.JobId)" ng-show="hideBtnClokON"> <i class="glyphicon glyphicon-play" style="font-size:100px"></i> </button>

      <!-- <button class="ui icon inverted button" title="Clock On" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="clockOnWo(WoOrJob.JobTask,WoOrJob.JobId)" ng-hide="WoOrJob.JobTask[$index].Status == 2" ng-disabled = "WoOrJob.JobTask[$index].Status == 4 || WoOrJob.JobTask[$index].Status == 1 || WoOrJob.JobTask[$index].Status == 3|| WoOrJob.IsStopPage == 1"> <i class="glyphicon glyphicon-play" style="font-size:50px"></i> </button>
       -->
      <button class="ui icon inverted button" title="Clock On" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="clockOnWo(WoOrJob.JobTask,WoOrJob.JobId, WoOrJob.Status)" ng-hide="hideBtnClokON" ng-disabled = "btnClockOn"> <i class="glyphicon glyphicon-play" style="font-size:100px"></i> </button>
      
      <button class="ui icon inverted button" title="Pause" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="BeforePause(WoOrJob.JobTask,WoOrJob.JobId)" ng-disabled = "btnClockPause"> <i class="glyphicon glyphicon-pause" style="font-size:100px"></i> </button>


      <!-- <button class="ui icon inverted button" title="Pause" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="pauseWo(WoOrJob.JobTask,WoOrJob.JobId)" ng-disabled = "WoOrJob.JobTask[$index].Status == 4 || WoOrJob.JobTask[$index].Status == 0|| WoOrJob.JobTask[$index].Status == null || WoOrJob.JobTask[$index].Status == 2 || WoOrJob.IsStopPage == 1"> <i class="glyphicon glyphicon-pause" style="font-size:50px"></i> </button> -->
 
      <button class="ui icon inverted button" title="Clock Off" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="clockOffWo(WoOrJob.JobTask,WoOrJob.JobId)" ng-disabled = "btnClockOff"> <i class="glyphicon glyphicon-stop" style="font-size:100px"></i> </button>

      <!-- <button class="ui icon inverted button" title="Clock Off" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="clockOffWo(WoOrJob.JobTask,WoOrJob.JobId)" ng-disabled = "WoOrJob.JobTask[$index].Status == 4 || WoOrJob.JobTask[$index].Status == 0 || WoOrJob.JobTask[$index].Status == 2|| WoOrJob.JobTask[$index].Status == null|| WoOrJob.IsStopPage == 1"> <i class="glyphicon glyphicon-stop" style="font-size:50px"></i> </button> -->
    </div>
    <div class="col-xs-12" style="border:1px solid #ccc; background-color: #fff;">
      
      <div class="col-xs-12" style="padding-left: 0px;margin-top: 10px;">
        <div class="col-xs-3" style="text-align:left;margin-top: 7px;padding-left: 0px;">
          <bsreqlabel>Alasan Pause</bsreqlabel>
        </div>
        <div class="col-xs-9" style="text-align: left;">
        <bsselect name="PauseReasonId"
                  ng-model="mData.PauseReasonId"
                  data="PauseReasonId"
                  item-text="Name"
                  item-value="MasterId"
                  placeholder = "Alasan Pause"
                  ng-disabled = "btnJobSuggest"
                  skip-enabled>
          </bsselect>
        </div>
      </div>
      
     
     <div class="col-xs-12" style="padding-left: 0px;margin-top: 5px;">
       <div class="col-xs-3" style="padding-left: 0px;text-align: left;">
         <label>Keterangan</label>
       </div>
       <div class="col-xs-9">
         <textarea ng-model="mData.PauseReasonDesc" style="width: 100%;height: 150px;" ng-maxlength="100" maxlength=100 ng-disabled="btnJobSuggest" skip-enabled></textarea>
       </div>
     </div>

     <div class="col-xs-12" style="margin-bottom: 10px;">
        <button class="rbtn btn" style="width: 100%" ng-click="pauseWo(WoOrJob.JobTask,WoOrJob.JobId)" ng-disabled="mData.PauseReasonId !== 45">Problem Finding</button>
     </div>

    </div>

  </div>
  <!-- akhir bagian wobased -->

  <!-- berdasarkan Jobbased -->
  <div class="col-md-6" ng-repeat = "WoOrJob in xDataWoList | filter : {JobId : JbId}" ng-if="WoOrJob.isWOBase != 1">

    <div class="col-xs-12" style="text-align: left;">
      <label ng-if="WoOrJob.isWOBase != 1">Jenis Pekerjaan : Job Based</label>
      <label ng-if="WoOrJob.isWOBase == 1">Jenis Pekerjaan : WO Based</label>
    </div>
    
    <div class="col-xs-12" style="text-align:left;">
      
      <div class="form-group">
        <div class="col-xs-2" style="padding-left:0px;">
          <h6>Job</h6>
        </div>
        <div class="col-xs-10" style="margin-top:5px;margin-bottom: 5px;">
          <bsselect name="JobTask" ng-model="mDataJob.JobTaskF" data="SelectJobTask" item-text="TaskName" item-value="JobTaskId" placeholder="Pilih Pekerjaan"  on-select="ChoseProblem(selected)">
            <!-- ng-change="()" -->
          </bsselect>
        </div>
      </div>
    
    </div>
    <!-- <div class="col-xs-12" style="text-align: center;">
      <label style="font-size: 20px;">{{DataChoseProblem.TaskName}}</label>
    </div> -->
    <div class="col-xs-12" style="text-align: center;" ng-repeat = "xWoOrJob in WoOrJob.JobTask | filter : {JobTaskId : JbTskId}" ng-show="DataProblem" ng-hide="mDataJob.JobTaskF == null">
      <!-- || ( WoOrJob.Status == 6 && WoOrJob.Fl_reqjob == 1)  -->
      <button class="ui icon inverted button" title="Clock On" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="clockOn(xWoOrJob, WoOrJob.JobTask)" ng-show="xWoOrJob.Status != 2" ng-disabled="xWoOrJob.Status == 1 || xWoOrJob.Status == 3 || xWoOrJob.Status == 4 || WoOrJob.IsStopPage == 1 "> <i class="glyphicon glyphicon-play" style="font-size:100px"></i> </button>

      <!-- || ( WoOrJob.Status == 6 && WoOrJob.Fl_reqjob == 1)  -->
      <button class="ui icon inverted button" title="Clock On After Pause" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="clockOnAfterPause(xWoOrJob, WoOrJob.JobTask)" ng-show="xWoOrJob.Status == 2" ng-disabled="xWoOrJob.Status == 1 || xWoOrJob.Status == 4 || xWoOrJob.Status == 3 || xWoOrJob.Status == null || WoOrJob.IsStopPage == 1"> <i class="glyphicon glyphicon-play" style="font-size:100px"></i> </button>
      
      <button class="ui icon inverted button" title="Pause" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="BeforePause(xWoOrJob, xWoOrJob.JobId)" ng-disabled="xWoOrJob.Status == 2  || xWoOrJob.Status == 4 || xWoOrJob.Status == null ||  xWoOrJob.Status < 1 || xWoOrJob.Status == '' || WoOrJob.IsStopPage == 1"> <i class="glyphicon glyphicon-pause" style="font-size:100px"></i> </button>

      <button class="ui icon inverted button" title="Clock Off" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="clockOff(xWoOrJob, WoOrJob.JobTask)" ng-disabled="btnClockOffJob"> <i class="glyphicon glyphicon-stop" style="font-size:100px"></i> </button>
      <!-- 
      <button class="ui icon inverted button" title="Clock Off" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="clockOff(xWoOrJob)" 
      ng-disabled="xWoOrJob.Status == 4 || xWoOrJob.Status == 2 ||  xWoOrJob.Status < 1 || xWoOrJob.Status == null || WoOrJob.IsStopPage == 1"> <i class="glyphicon glyphicon-stop" style="font-size:100px"></i> </button> -->

      <!-- <button class="ui icon inverted button" title="Clock On" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="clockOn(xWoOrJob)" ng-show="xWoOrJob.Status != 2" ng-disabled="xWoOrJob.Status == 1 || xWoOrJob.Status == 3 || xWoOrJob.Status == 4 || WoOrJob.IsStopPage == 1"> <i class="glyphicon glyphicon-play" style="font-size:50px"></i> </button>

      <button class="ui icon inverted button" title="Clock On After Pause" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="clockOnAfterPause(xWoOrJob)" ng-show="xWoOrJob.Status == 2" ng-disabled="xWoOrJob.Status == 1 || xWoOrJob.Status == 4 || xWoOrJob.Status == 3 || xWoOrJob.Status == null || WoOrJob.IsStopPage == 1"> <i class="glyphicon glyphicon-play" style="font-size:50px"></i> </button>
      
      <button class="ui icon inverted button" title="Pause" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="pause(xWoOrJob.Status,xWoOrJob.JobTaskId,xWoOrJob.JobId)" ng-disabled="xWoOrJob.Status == 2  || xWoOrJob.Status == 4 || xWoOrJob.Status == null ||  xWoOrJob.Status < 1 || xWoOrJob.Status == '' || WoOrJob.IsStopPage == 1"> <i class="glyphicon glyphicon-pause" style="font-size:50px"></i> </button>
 
      <button class="ui icon inverted button" title="Clock Off" style="box-shadow:none!important;color:#3276b1;" tabindex="0" ng-click="clockOff(xWoOrJob)" 
      ng-disabled="xWoOrJob.Status == 4 || xWoOrJob.Status == 2 ||  xWoOrJob.Status < 1 || xWoOrJob.Status == null || WoOrJob.IsStopPage == 1"> <i class="glyphicon glyphicon-stop" style="font-size:50px"></i> </button> -->
    </div>
    <div class="col-xs-12" style="border:1px solid #ccc; background-color: #fff;">
      
      <div class="col-xs-12" style="padding-left: 0px;margin-top: 10px;">
        <div class="col-xs-3" style="text-align:left;margin-top: 7px;padding-left: 0px;">
          <bsreqlabel>Alasan Pause</bsreqlabel>
        </div>
        <div class="col-xs-9" style="text-align: left;">
        <bsselect name="PauseReasonId"
                  ng-model="mData.PauseReasonId"
                  data="PauseReasonId"
                  item-text="Name"
                  item-value="MasterId"
                  placeholder = "Alasan Pause"
                  ng-disabled = "btnJobSuggest"
                  skip-enabled>
          </bsselect>
        </div>
      </div>
      
     
     <div class="col-xs-12" style="padding-left: 0px;margin-top: 5px;">
       <div class="col-xs-3" style="padding-left: 0px;text-align: left;">
         <label>Keterangan</label>
       </div>
       <div class="col-xs-9">
         <textarea ng-model="mData.PauseReasonDesc" style="width: 100%;height: 150px;" maxlength=100 ng-disabled="btnJobSuggest" skip-enabled></textarea>
       </div>
     </div>

     <div class="col-xs-12" style="margin-bottom: 10px;">
        <button class="rbtn btn" style="width: 100%" ng-click="pauseWo(WoOrJob.JobTask,WoOrJob.JobId)" ng-disabled="mData.PauseReasonId !== 45">Problem Finding</button>
     </div>

    </div>
    
  </div>
  <div class="col-md-12">

    <div class="col-xs-12" ng-repeat = "b in VinData" style="border:1px solid #ccc;margin-top: 10px;">
      <vehicle-history vin="b.VIN"></vehicle-history>
    </div>

  </div>

  <div class="col-md-12" style="text-align: right;margin-top: 10px;float:left;" ng-repeat = "WoOrJob in xDataWoList | filter : {JobId : JbId}">
    <button class="rbtn btn" ng-click="SimpanEnd(mData,WoOrJob.JobTask,WoOrJob.JobId)" ng-hide="btnJobSuggest" ng-disabled="mData.PauseReasonId == 45">Simpan</button>
    <!-- <button class="rbtn btn" ng-disabled="!mData.Suggestion" ng-click="SimpanEndWithoutPause(mData,WoOrJob.JobTask,WoOrJob.JobId)" ng-show="btnJobSuggest">Simpan Job Suggest</button>   request pak ian kata "job suggest" dihilangkan, hanya "simpan" saja,karena simpan "action yang dilakukan teknisi" juga,11-april-2019 --> 
    <button class="rbtn btn" ng-disabled="!mData.Suggestion && !mData.TechnicianNotes" ng-click="SimpanEndWithoutPause(mData,WoOrJob.JobTask,WoOrJob.JobId)" ng-show="btnJobSuggest">Simpan</button>
  </div>
  <!-- akhir bagian jobbased -->

  <!-- <div class="col-xs-12" style="margin-top: 10px;border:1px solid #ccc;" ng-show="DataProblem">
    <div class="col-xs-12" style="text-align:right;margin-top: 10px;margin-bottom: 10px;">
      <button class="btn btn-danger" style="background-color:rgb(213,51,55);" ng-click="addMaterial()">Tambah Material</button>
    </div>
    <div class="col-xs-12" style="margin-bottom: 10px;">
      <div ui-grid="gridWODetail" ui-grid-cellNav ui-grid-auto-resize class="grid" ng-cloak style="height: 200px;"></div>
    </div>
  </div> -->
</div>
<div class="col-md-12" ng-show="showPause" style="margin-top: 10px;" ng-repeat = "WoOrJob in xDataWoList | filter : {JobId : JbId}">
  <div class="col-xs-12">

        <div class="col-md-12" style="padding-left: 0px;">
          <div class="col-md-6" style="padding-left: 0px;">
            <div class="col-xs-12">
              <label>Butuh RSA</label>
            </div>
            <div class="col-xs-12">
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsNeedRSA" class="radiobox style-0"
                      ng-model="mData.IsNeedRSA"
                      value=1>
                      
                  <span>Ya</span>
                </label>
              </div>
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsNeedRSA" class="radiobox style-0"
                      ng-model="mData.IsNeedRSA"
                      value=0>
                  <span>Tidak</span>
                </label>
              </div>
              <!-- <input type="radio" name="ReqRSA" value="Ya" ng-model="mData.ReqRSA">Ya --><!-- 
              <input type="radio" name="ReqRSA" value="Tidak" ng-model="mData.ReqRSA" style="margin-left:10px;">Tidak -->
            </div>
          </div>
          <div class="col-md-6"  style="padding-left: 0px;">
            <div class="col-xs-12">
              <label>Bisa Dikerjakan Sendiri</label>
            </div>
            <div class="col-xs-12">
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsOwnDo" class="radiobox style-0"
                      ng-model="mData.IsOwnDo"
                      value=1>
                  <span>Ya</span>
                </label>
              </div>
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsOwnDo" class="radiobox style-0"
                      ng-model="mData.IsOwnDo"
                      value=0>
                  <span>Tidak</span>
                </label>
              </div>
              <!-- <input type="radio" name="IsOwnDo" value="Ya" ng-model="mData.IsOwnDo">Ya
              <input type="radio" name="IsOwnDo" value="Tidak" ng-model="mData.IsOwnDo" style="margin-left:10px;">Tidak -->
            </div>
          </div>
        </div>
        <div class="col-md-12" style="padding-left: 0px;">
          <div class="col-md-6"  style="padding-left: 0px;">
            <div class="col-xs-12">
              <label>Butuh Tambahan Waktu</label>
            </div>
            <div class="col-xs-12">

              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsNeedAdditionalTime" class="radiobox style-0"
                      ng-model="mData.IsNeedAdditionalTime"
                      value=1
                      ng-click="IsNeedAdditionalTime(1)">
                  <span>Ya</span>
                </label>
              </div>
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsNeedAdditionalTime" class="radiobox style-0"
                      ng-model="mData.IsNeedAdditionalTime"
                      value=0
                      ng-click="IsNeedAdditionalTime(2)">
                  <span>Tidak</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="padding-left: 0px;">
            <div class="col-xs-12" ng-show="duration"  style="padding-left: 0px;">
              <div class="col-xs-12">
                <label>Durasi</label>
              </div>
              <div class="col-xs-6">
                <input type="number" maxlength=3 class="form-control" name="Duration" ng-model="mData.Duration">
              </div>
              <div class="col-xs-3" style="margin-top: 5px;padding-left: 0px;">
                <label>Jam</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <label>Kirim Pesan Kepada</label>
        </div>
        <div class="col-xs-6">
          <bscheckbox 
                ng-model = "mData.SendAlertToSA"
                label="SA"
                true-value=1
                false-value=0>
          </bscheckbox>
        </div>
        <div class="col-xs-6">
          <bscheckbox 
                ng-model = "mData.SendAlertToPTM"
                label="PTM"
                true-value=2
                false-value=0>
          </bscheckbox>
        </div>

        <div class="col-xs-12">
          <div class="col-xs-12" style="padding-left: 0px;">
            <label>Pekerjaan</label>
          </div>
          <!--  ng-repeat = "FinalDataWoList in FreDoJob.JobTask" -->
          <div class="col-xs-12" ng-repeat = "FDtlJob in DataPF" style="padding-left: 0px;">
            <!-- ng-click="ChoseDataFI(FreDoJob.JobTaskId,$index)" -->
            <bscheckbox 
                  ng-model = "mData.FDtlJob[$index]"
                  label="{{FDtlJob.TaskName}}"
                  ng-change="ChoseDataDtl(FDtlJob.JobTaskId,$index)"
                  required>
                  <!-- true-value="-1"
                  false-value="0" -->  
                  <!-- 
                  true-value = {{FinalDataWoList.JobTaskId}}
                  false-value = 0 
                  -->
            </bscheckbox>
          </div>

        </div>

        <div class="col-xs-12" style="margin-top: 10px;">
          <div class="col-xs-12" style="padding-left: 0px;">
            <label>Order Parts/Material</label>
          </div>
          <!--  ng-repeat = "FinalDataWoList in FreDoJob.JobTask" -->
          <div class="col-xs-12" style="padding-left: 0px;">
            <div ui-grid="gridparts" ui-grid-cellNav ui-grid-selection  ui-grid-auto-resize class="grid" ng-cloak style="height: 200px;"></div>
          </div>

        </div>

        <div class="col-xs-12" style="margin-top: 10px;">
          <label>Deskripsi Masalah</label>
        </div>
        <div class="col-xs-12">
          <textarea ng-model="mData.TroubleDesc" maxlength=100 style="width: 100%;height: 100px;"></textarea>
        </div>

        <div class="col-xs-12" style="padding-left: 0px;">
          <div class="col-md-6" style="padding-left: 0px;">
            <div class="col-xs-12 ">
              <label>T1</label>
            </div>
            <div class="col-xs-12">
              <bsselect name="T1"
                        ng-model="mData.T1"
                        data="T1"
                        item-text="xName"
                        item-value="T1Id"
                        placeholder = "T1">
                </bsselect>
            </div>
          </div>
          <div class="col-md-6" style="padding-left: 0px;">
            <div class="col-xs-12 ">
              <label>T2</label>
            </div>
            <div class="col-xs-12">
              <bsselect name="T2"
                        ng-model="mData.T2"
                        data="T2"
                        item-text="xName"
                        item-value="T2Id"
                        placeholder = "T2">
                </bsselect>
            </div>
          </div>
        </div>
        <div class="col-md-12" style="padding-left: 0px;">
          <div class="col-xs-12">
            <label>Deskripsi Respon</label>
          </div>
          <div class="col-xs-12">
            <textarea ng-model="mData.ResponseDesc" maxlength=100 style="width: 100%;height: 100px;"></textarea>
          </div>
        </div>

      </div>
  <!-- <div class="col-xs-6" style="text-align: left;" ng-show="WoOrJob.isWOBase != 1">
    <label>Pekerjaan : {{DataChoseProblem.TaskName}}</label>
  </div>
  <div class="col-xs-6" style="text-align: right;" ng-show="WoOrJob.isWOBase != 1">
    <label>Tanggal Problem : {{DataChoseProblem.TanggalProblem}}</label>
  </div>
  <div class="col-xs-12" style="padding-left: 0px;">
    <div class="col-xs-3">
      <label>Alasan Pause</label>
    </div>
    <div class="col-xs-6">
    <bsselect name="PauseReasonId"
              ng-model="mData.PauseReasonId"
              data="PauseReasonId"
              item-text="Name"
              item-value="MasterId"
              placeholder = "Alasan Pause">
      </bsselect>
    </div>
  </div>
  <div class="col-xs-12" style="padding-left: 0px;margin-top: 5px;">
    <div class="col-xs-3">
      <label>Keterangan</label>
    </div>
    <div class="col-xs-6">
      <textarea ng-model="mData.PauseReasonDesc" style="width: 100%;height: 150px;" maxlength=100></textarea>
    </div>
  </div> -->
 <!--  <div class="col-xs-12" style="margin-top: 5px;text-align: right;" ng-show="mData.PauseReasonId == 45">
    <a class="btn btn-danger" role="button" data-toggle="collapse" data-target="#collapseProbF" aria-expanded="false" aria-controls="collapseProbF">
      Problem Finding
    </a>
    <div class="collapse" id="collapseProbF" style="text-align: left;">
      <div class="well col-xs-12">

        <div class="col-md-12" style="padding-left: 0px;">
          <div class="col-md-6" style="padding-left: 0px;">
            <div class="col-xs-12">
              <label>Butuh RSA</label>
            </div>
            <div class="col-xs-12">
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsNeedRSA" class="radiobox style-0"
                      ng-model="mData.IsNeedRSA"
                      value=1>
                      
                  <span>Ya</span>
                </label>
              </div>
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsNeedRSA" class="radiobox style-0"
                      ng-model="mData.IsNeedRSA"
                      value=0>
                  <span>Tidak</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6"  style="padding-left: 0px;">
            <div class="col-xs-12">
              <label>Bisa Dikerjakan Sendiri</label>
            </div>
            <div class="col-xs-12">
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsOwnDo" class="radiobox style-0"
                      ng-model="mData.IsOwnDo"
                      value=1>
                  <span>Ya</span>
                </label>
              </div>
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsOwnDo" class="radiobox style-0"
                      ng-model="mData.IsOwnDo"
                      value=0>
                  <span>Tidak</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" style="padding-left: 0px;">
          <div class="col-md-6"  style="padding-left: 0px;">
            <div class="col-xs-12">
              <label>Butuh Tambahan Waktu</label>
            </div>
            <div class="col-xs-12">

              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsNeedAdditionalTime" class="radiobox style-0"
                      ng-model="mData.IsNeedAdditionalTime"
                      value=1
                      ng-click="IsNeedAdditionalTime(1)">
                  <span>Ya</span>
                </label>
              </div>
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsNeedAdditionalTime" class="radiobox style-0"
                      ng-model="mData.IsNeedAdditionalTime"
                      value=0
                      ng-click="IsNeedAdditionalTime(2)">
                  <span>Tidak</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="padding-left: 0px;">
            <div class="col-xs-12" ng-show="duration"  style="padding-left: 0px;">
              <div class="col-xs-12">
                <label>Durasi</label>
              </div>
              <div class="col-xs-6">
                <input type="number" maxlength=3 class="form-control" name="Duration" ng-model="mData.Duration">
              </div>
              <div class="col-xs-3" style="margin-top: 5px;padding-left: 0px;">
                <label>Jam</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <label>Kirim Pesan Kepada</label>
        </div>
        <div class="col-xs-6">
          <bscheckbox 
                ng-model = "mData.SendAlertToSA"
                label="SA"
                true-value=1
                false-value=0>
          </bscheckbox>
        </div>
        <div class="col-xs-6">
          <bscheckbox 
                ng-model = "mData.SendAlertToPTM"
                label="PTM"
                true-value=2
                false-value=0>
          </bscheckbox>
        </div>

        <div class="col-xs-12">
          <div class="col-xs-12" style="padding-left: 0px;">
            <label>Pekerjaan</label>
          </div>
          <div class="col-xs-12" ng-repeat = "FDtlJob in DataPF" style="padding-left: 0px;">
            <bscheckbox 
                  ng-model = "mData.FDtlJob[$index]"
                  label="{{FDtlJob.TaskName}}"
                  ng-change="ChoseDataDtl(FDtlJob.JobTaskId,$index)"
                  required>
            </bscheckbox>
          </div>

        </div>

        <div class="col-xs-12">
          <label>Deskripsi Masalah</label>
        </div>
        <div class="col-xs-12">
          <textarea ng-model="mData.TroubleDesc" maxlength=100 style="width: 100%;height: 100px;"></textarea>
        </div>

        <div class="col-xs-12" style="padding-left: 0px;">
          <div class="col-md-6" style="padding-left: 0px;">
            <div class="col-xs-12 ">
              <label>T1</label>
            </div>
            <div class="col-xs-12">
              <bsselect name="T1"
                        ng-model="mData.T1"
                        data="T1"
                        item-text="Name"
                        item-value="MasterId"
                        placeholder = "T1">
                </bsselect>
            </div>
          </div>
          <div class="col-md-6" style="padding-left: 0px;">
            <div class="col-xs-12 ">
              <label>T2</label>
            </div>
            <div class="col-xs-12">
              <bsselect name="T2"
                        ng-model="mData.T2"
                        data="T2"
                        item-text="Name"
                        item-value="MasterId"
                        placeholder = "T2">
                </bsselect>
            </div>
          </div>
        </div>
        <div class="col-md-12" style="padding-left: 0px;">
          <div class="col-xs-12">
            <label>Deskripsi Respon</label>
          </div>
          <div class="col-xs-12">
            <textarea ng-model="mData.ResponseDesc" maxlength=100 style="width: 100%;height: 100px;"></textarea>
          </div>
        </div>

      </div>
    </div>
  </div> -->
  <div class="col-xs-12" ng-if="WoOrJob.isWOBase == 1">
      <button class="rbtn btn" style="background-color:rgb(213,51,55);"  ng-disabled = "mData.PauseReasonId == null" ng-click = "savePauseWo(mData,WoOrJob.JobTask,WoOrJob.JobId)">Send Problem Finding</button>
      <button class="wbtn btn" ng-click="Batal(mData, 2)">Batal</button>
  </div>
  <div class="col-xs-12" ng-if="WoOrJob.isWOBase != 1" ng-repeat = "xWoOrJob in WoOrJob.JobTask | filter : {JobTaskId : JbTskId}">
      <button class="rbtn btn" style="background-color:rgb(213,51,55);" ng-disabled = "mData.PauseReasonId == null" ng-click = "savePause(mData,xWoOrJob,xWoOrJob.JobId)">Send Problem Finding</button>
      <button class="wbtn btn" ng-click="Batal(mData, 2)">Batal</button>
  </div>
</div>