<script type="text/javascript">

</script>
<style type="text/css">

</style>
<bsform-grid
        ng-form="VehicleTypeColorForm"
        factory-name="VehicleTypeColor"
        model="mVehicleTypeColor"
        model-id="VehicleTransactionId"
        loading="loading"

        on-show-detail="onShowDetail"
        show-advsearch="on"
        hide-new-button="true"
        on-before-edit="onBeforeEdit"

        get-data="getData"
        selected-rows="xVehicleTypeColor.selected"
        on-select-rows="onSelectRows"
        >

        <bsform-advsearch>
            <div class="row">                
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Model</label>
                        <bsselect name="filterModel"
                                ng-model="filter.vehicleModelId"
                                data="productModelData"
                                item-text="VehicleModelName"
                                item-value="VehicleModelId"
                                on-select="filter.productModel=selected"
                                placeholder="Pilih Model"
                                icon="fa fa-car">
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <label>Tipe</label>
                        <bsselect name="filterType"
                                ng-model="filter.vehicleTypeId"
                                data="filter.productModel.listVehicleType"
                                item-text="Description, KatashikiCode, SuffixCode"
                                item-value="VehicleTypeId"
                                on-select="filproductType(selected)"
                                placeholder="Pilih Tipe"
                                icon="fa fa-car">
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <label>Warna</label>
                        <bsselect name="filterColor"
                                ng-model="filter.colorId"
                                data="filter.productType.listColor"
                                item-text="ColorName, ColorCode"
                                item-value="ColorId"
                                placeholder="Pilih Warna"
                                icon="fa fa-car">
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <label>Start Order</label>
                        <bsdatepicker
                                name="StartPeriod"
                                date-options="startDateOptions"
                                ng-model="filter.startValidDate"
                                ng-change="startDateChange(dt)">
                        </bsdatepicker>
                        <!-- <bserrmsg field="StartPeriod"></bserrmsg> -->
                    </div>
                    <div class="form-group">
                        <label>End Order</label>
                        <bsdatepicker
                                name="EndPeriod"
                                date-options="endDateOptions"
                                ng-model="filter.endValidDate"
                                min-date="filter.startValidDate"
                                ng-change="endDateChange(dt)">
                        </bsdatepicker>
                        <!-- <bserrmsg field="EndPeriod"></bserrmsg> -->
                    </div>
                    <div class="form-group">
                        <label>Tipe Suffix(Cabang)</label>
                        <bsselect 
                            name="suffixTypeId"
                            ng-model="filter.suffixTypeId"
                            data="suffixTypeData"
                            item-text="SuffixTypeName, SuffixTypeCode, SuffixTypeDescription"
                            item-value="SuffixTypeId"
                            placeholder="Pilih Tipe Suffix"
                            icon="fa fa-car">
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Start SPK</label>
                        <bsdatepicker
                                name="StartPeriod"
                                date-options="startDateOptions"
                                ng-model="filter.startSPKDate"
                                ng-change="startDateChange(dt)">
                        </bsdatepicker>
                        <!-- <bserrmsg field="StartPeriod"></bserrmsg> -->
                    </div>
                    <div class="form-group">
                        <label>End SPK</label>
                        <bsdatepicker
                                name="EndPeriod"
                                date-options="endDateOptions"
                                ng-model="filter.endSPKDate"
                                min-date="filter.startSPKDate"
                                ng-change="endDateChange(dt)">
                        </bsdatepicker>
                        <!-- <bserrmsg field="EndPeriod"></bserrmsg> -->
                    </div>
                </div>
            </div>
            <!-- <pre>
                {{mRSSPFleet}}
            </pre> -->
        </bsform-advsearch>        

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Model</label>
                    <bsselect name="filterModel"
                            ng-model="mVehicleTypeColor.VehicleModelId"
                            data="productModelData"
                            item-text="VehicleModelName"
                            item-value="VehicleModelId"
                            placeholder="Pilih Model"
                            ng-disabled="true"
                            icon="fa fa-car">
                    </bsselect>
                </div>
                <div class="form-group">
                    <label>Tipe</label>
                    <!-- <input type="text" class="form-control" ng-model="mEditView.Description" disabled></input> -->
                    <bsselect name="filterType"
                            ng-model="mVehicleTypeColor.VehicleTypeId"
                            data="typeData"
                            item-text="Description, KatashikiCode, SuffixCode"
                            item-value="VehicleTypeId"
                            placeholder="Pilih Tipe"
                            ng-disabled="true"
                            icon="fa fa-car">
                    </bsselect>
                </div>
                <div class="form-group">
                    <label>Warna</label>
                    <!-- <input type="text" class="form-control" ng-model="mEditView.ColorName" disabled></input> -->
                    <bsselect name="filterColor"
                            ng-model="mVehicleTypeColor.ColorId"
                            data="colorData"
                            item-text="ColorName, ColorCode"
                            item-value="ColorId"
                            placeholder="Pilih Warna"
                            ng-disabled="true"
                            icon="fa fa-car">
                    </bsselect>
                </div>
                <div class="form-group">
                    <label>Katashiki</label>
                    <!-- <input type="text" class="form-control" ng-model="mEditView.KatashikiCode" disabled></input> -->
                    <bsselect name="katashiki"
                            ng-model="mVehicleTypeColor.KatashikiCode"
                            data="katashikiData"
                            item-text="KatashikiCode"
                            item-value="KatashikiCode"
                            placeholder="Pilih Katashiki"
                            ng-disabled="true"
                            icon="fa fa-car">
                    </bsselect>
                </div>
                <div class="form-group">
                    <label>Tipe Suffix(Cabang)</label>
                    <!-- <input type="text" class="form-control" ng-model="mEditView.SuffixCode" disabled></input> -->
                    <bsselect name="suffix"
                            ng-model="mVehicleTypeColor.SuffixCode"
                            data="suffixData"
                            item-text="SuffixCode"
                            item-value="SuffixCode"
                            placeholder="Pilih Tipe Suffix"
                            ng-disabled="true"
                            icon="fa fa-car">
                    </bsselect>
                </div>                
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Assembly Type</label>
                    <bsselect name="assemblyType"
                            ng-model="mVehicleTypeColor.AssemblyType"
                            data="assemblyTypeData"
                            item-text="AssemblyType"
                            item-value="AssemblyType"
                            placeholder="Pilih Assembly Type"
                            ng-disabled="true"
                            icon="fa fa-car">
                    </bsselect>
                </div>
                <div class="form-group">
                    <label>Formula Hitung</label>
                    <bsselect name="formula"
                            ng-model="mVehicleTypeColor.FormulaHitung"
                            data="formulaData"
                            item-text="FormulaHitung"
                            item-value="FormulaHitung"
                            placeholder="Pilih Formula"
                            ng-disabled="true"
                            icon="fa fa-car">
                    </bsselect>
                </div>                
                <div class="form-group">
                    <bsreqlabel>Tipe Suffix</bsreqlabel>
                    <bsselect 
                            name="suffixTypeId"
                            ng-model="mVehicleTypeColor.SuffixTypeId"
                            data="suffixTypeDataEdit"
                            item-text="SuffixTypeName, SuffixTypeCode, SuffixTypeDescription"
                            item-value="SuffixTypeId"
                            placeholder="Pilih Tipe Suffix"
                            icon="fa fa-car"
                            ng-disabled="disEl"
                            skip-disable="enbElement"
                            required>
                    </bsselect>
                </div>
                <bscheckbox ng-model="mVehicleTypeColor.SpotOrder"
                            label = "Slow Moving"
                            true-value = "true"
                            false-value = "false"
                            ng-disabled="true">
                </bscheckbox>
            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Start Order</bsreqlabel>
                    <bsdatepicker
                            name="startOrder"
                            date-options="startDateOptions"
                            ng-change="startOrderDateChange(mVehicleTypeColor.StartValidDate)"
                            ng-model="mVehicleTypeColor.StartValidDate"
                            ng-disabled="disEl"
                            skip-disable="enbElement">
                    </bsdatepicker>
                    <bserrmsg field="startOrder"></bserrmsg>
                </div>
                <div class="form-group">
                    <bsreqlabel>End Order</bsreqlabel>
                    <bsdatepicker
                            name="endOrder"
                            date-options="endOrderDateOptions"
                            ng-model="mVehicleTypeColor.EndValidDate"
                            min-date="mVehicleTypeColor.StartValidDate"
                            ng-disabled="disEl"
                            skip-disable="enbElement">
                    </bsdatepicker>
                    <bserrmsg field="endOrder"></bserrmsg>
                </div>
                <div class="form-group">
                    <label>Start SPK</label>
                    <bsdatepicker
                            name="startSPK"
                            date-options="startSpkDateOptions"
                            ng-change="startSpkDateChange(mVehicleTypeColor.StartSPKDate)"
                            ng-model="mVehicleTypeColor.StartSPKDate"
                            ng-disabled="disEl"
                            skip-disable="enbElement">
                    </bsdatepicker>
                    <!-- <bserrmsg field="startSPK"></bserrmsg> -->
                </div>
                <div class="form-group">
                    <label>End SPK</label>
                    <bsdatepicker
                            name="endSPK"
                            date-options="endSpkDateOptions"
                            ng-model="mVehicleTypeColor.EndSPKDate"
                            min-date="mVehicleTypeColor.StartSPKDate"
                            ng-disabled="disEl"
                            skip-disable="enbElement">
                    </bsdatepicker>
                    <!-- <bserrmsg field="endSPK"></bserrmsg> -->
                </div>
            </div>
        </div>


    <!-- <pre>
        {{filter}}
    </pre> -->
    <!-- <pre>
        {{gridDetail.data}}
    </pre> -->
</bsform-grid>

