<script type="text/javascript">
    
</script>


<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="RevisiDokumenBiroJasaMain" class="row" style="margin: 0 0 0 0">
<button class="rbtn btn ng-binding ladda-button" style="margin-top:-30px;float:right;" ng-click="RevisiDokumenBiroJasaRevisiStnk()">Revisi STNK</button>
<button class="rbtn btn ng-binding ladda-button" style="margin-left:15px;margin-top:-30px;float:right;" ng-click="RevisiDokumenBiroJasaRevisiBpkb()">Revisi BPKB</button>
    <bsform-grid ng-form="RevisiDokumenBiroJasaForm" factory-name="RevisiDokumenBiroJasaFactory" model="mRevisiDokumenBiroJasa"
        model-id="ReceiveId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows"
        grid-hide-action-column="true" hide-new-button="true" show-advsearch="on" form-name="RevisiDokumenBiroJasaForm"
        form-title="Terima STNK Biro Jasa" modal-title="RevisiDokumenBiroJasa" loading="loading" modal-size="small" icon="fa fa-fw fa-child">

        <bsform-advsearch>
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-md-3">
                    <div class="form-group">
                        <bslabel>Cabang</bslabel>
                        <div class="input-icon-right">
                            <bsselect name="filterSales" ng-model="filter.OutletId" data="outletCabang" item-text="Name"
                                item-value="OutletId" placeholder="Branch" icon="fa fa-sitemap"></bsselect>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. PO</label>
                        <div style="margin-top:-5px;" class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="Input No. PO" ng-model="filter.POCode" maxlength="60">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. Rangka</label>
                        <div style="margin-top:-5px;" class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="Input No. Rangka" ng-model="filter.FrameNo" maxlength="60">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-md-3">
                    <div class="form-group">
                    <label>Status</label>
						<bsselect ng-model="filter.StatusAFIId" data="OptionsStatusafi" item-text="StatusName" item-value="StatusAFIId"
                            placeholder="Select">
                        </bsselect>
                    </div>    
                    
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                    <label>Vendor</label>
                        <bsselect name="filterSales" placeholder="Vendor" ng-model="filter.ServiceBureauId" data="VendorRevisiDokumenBiroJasa"
                            item-text="ServiceBureauName,ServiceBureauCode" item-value="ServiceBureauId" placeholder="Select">
                        </bsselect>    
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <bslabel>Tanggal Penerimaan STNK</bslabel>
                        <bsdatepicker style="margin-top:5px;" name="tanggalFrom" date-options="dateOption" ng-model="filter.SODateStart" icon="fa fa-calendar">
                        </bsdatepicker>
                    </div>
                </div>
            </div>
        </bsform-advsearch>

    </bsform-grid>



    <div class="ui modal ModalRevisiDokumenBiroJasaRevisiStnk" role="dialog" style="background-color: transparent !important;">
        <!-- <div> -->
        <p style="text-align: center">
            <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
                <!-- <button type="button" ng-click="backFromterimaSTNK()" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Alasan Revisi / Keterlambatan Penerimaan STNK Dari Biro Jasa</h4>
            </div>

            <div class="modal-body" style="background-color: white;  max-height: 60%">
                <div class="row" style="margin-bottom:10px">
				<div class="col-md-11" style="margin-left:20px;border:1px solid lightgrey; padding: 10px 0 0 0;">
				<p style="width:50px; margin-top:-20px; margin-left:14px; background:white;">
					<b>Alasan</b>
				</p>
				<div>
					<div class="col-md-6">
						<label>No. Rangka</label>
                        <div style="margin-top:5px;" class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="Input No. Rangka" ng-model="FrameNo" maxlength="60">
                        </div>
					</div>
					<div class="col-md-6">
						<label>No. PO</label>
                        <div style="margin-top:5px;" class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="Input No. PO" ng-model="POCode" maxlength="60">
                        </div>
					</div>
				</div>
				<div style="margin-top:10px">
					<div class="col-md-6">
						<label>Unit Model Kendaraan</label>
                        <div style="margin-top:5px;" class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="Input No. Rangka" ng-model="FrameNo" maxlength="60">
                        </div>
					</div>
					
				</div>
				<div>
					<div class="col-md-12" style="margin-top:10px">
						<label>Alasan Revisi/Keterlambatan</label>
                        <div style="margin-top:5px;" class="input-icon-right">
                            <textarea style="width:100%;resize: none" rows="10" cols="50" maxlength="200" placeholder=" input alasan..." ng-model="selected_data.ReasonNote">
							</textarea>
                        </div>
					</div>
				</div>
				<div>
					<div class="col-md-6" style="margin-top:10px">
					Lama Keterlambatan:<input ng-model="LamaKeterlambatan" number-only type="text" class="form-control">
					</div>
				</div>	
				
				</div>
				</div>
            </div>

            <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">

                <!-- <button ng-click="testing()">tes</button> -->
                <button type="button" ng-disabled="validSTNKBirojasa.$invalid" class="rbtn btn ng-binding ladda-button"
                    style="float: right" onclick="this.blur()" ng-click="SimpanModalRevisiDokumenBiroJasaRevisiStnk()" ladda="savingState"
                    data-style="expand-left" tabindex="0">
                    <span class="ladda-label"><i class="fa fa-fw fa-check"></i>&nbsp;Simpan</span><span class="ladda-spinner"></span>
                </button>
                <button type="button" class="wbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()"
                    ng-click="KembaliModalRevisiDokumenBiroJasaRevisiStnk()" ladda="savingState" data-style="expand-left" tabindex="0">
                    <span class="ladda-label"><i class="fa fa-fw fa-times"></i>&nbsp;Kembali</span><span class="ladda-spinner"></span>
                </button>

            </div>
        </p>
        <!-- </div> -->
    </div>
	
	<div class="ui modal ModalRevisiDokumenBiroJasaRevisiBpkb" role="dialog" style="background-color: transparent !important;">
        <!-- <div> -->
        <p style="text-align: center">
            <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
                <!-- <button type="button" ng-click="backFromterimaSTNK()" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Alasan Revisi BPKB Dari Biro Jasa</h4>
            </div>

            <div class="modal-body" style="background-color: white;  max-height: 60%">
                <div class="row" style="margin-bottom:10px">
				<div class="col-md-11" style="margin-left:20px;border:1px solid lightgrey; padding: 10px 0 0 0;">
				<p style="width:50px; margin-top:-20px; margin-left:14px; background:white;">
					<b>Alasan</b>
				</p>
				<div>
					<div class="col-md-5">
						<label>No. Rangka</label>
                        <div style="margin-top:5px;" class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="Input No. Rangka" ng-model="FrameNo" maxlength="60">
                        </div>
					</div>
					<div class="col-md-5">
						<label>No. PO</label>
                        <div style="margin-top:5px;" class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="Input No. PO" ng-model="POCode" maxlength="60">
                        </div>
					</div>
				</div>
				<div style="margin-top:10px">
					<div class="col-md-5">
						<label>Unit Model Kendaraan</label>
                        <div style="margin-top:5px;" class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="Input No. Rangka" ng-model="FrameNo" maxlength="60">
                        </div>
					</div>
					
				</div>
				<div>
					<div class="col-md-12" style="margin-top:10px">
						<label>Alasan Keterlambatan</label>
                        <div style="margin-top:5px;" class="input-icon-right">
                            <textarea style="width:100%;resize: none" rows="10" cols="50" maxlength="200" placeholder=" input alasan..." ng-model="selected_data.ReasonNote">
							</textarea>
                        </div>
					</div>
				</div>
				<div>
					<div class="col-md-6" style="margin-top:10px">
					Lama Keterlambatan:<input ng-model="LamaKeterlambatan" number-only type="text" class="form-control">
					</div>
				</div>
				</div>
				</div>
            </div>

            <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">

                <!-- <button ng-click="testing()">tes</button> -->
                <button type="button" ng-disabled="validSTNKBirojasa.$invalid" class="rbtn btn ng-binding ladda-button"
                    style="float: right" onclick="this.blur()" ng-click="SimpanModalRevisiDokumenBiroJasaRevisiBpkb()" ladda="savingState"
                    data-style="expand-left" tabindex="0">
                    <span class="ladda-label"><i class="fa fa-fw fa-check"></i>&nbsp;Simpan</span><span class="ladda-spinner"></span>
                </button>
                <button type="button" class="wbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()"
                    ng-click="KembaliModalRevisiDokumenBiroJasaRevisiBpkb()" ladda="savingState" data-style="expand-left" tabindex="0">
                    <span class="ladda-label"><i class="fa fa-fw fa-times"></i>&nbsp;Kembali</span><span class="ladda-spinner"></span>
                </button>

            </div>
        </p>
        <!-- </div> -->
    </div>

   
</div>