<div class="panel panel-default" ng-show="asb.showMode=='main'">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">
            ASB
        </h3>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
        
                <div class="form-group">
                    <label for="usr">No Polisi:</label>
                    <input ng-model="asb.nopol" type="text" class="form-control" id="usr">
                </div>
                <div class="form-group">
                    <label for="usr">Tipe:</label>
                    <select ng-model="asb.tipe" name="type" class="form-control">
                        <option value="Avanza">Avanza</option>
                        <option value="Yaris">Yaris</option>
                        <option value="Innova">Innova</option>
                        <option value="Innova Diesel">Innova Diesel</option>
                        <option value="Vios">Vios</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="usr">Durasi:</label>
                    <input ng-model="mdata.durasi" type="text" class="form-control" id="usr">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="btn-group" >
            <button type="button" class="btn btn-default btn-lg" ng-click="asb.showAsbEstimasi()">ASB Estimasi</button>
            <button type="button" class="btn btn-default btn-lg" ng-click="asb.showAsbProduksi()">ASB Produksi</button>
            <button type="button" class="btn btn-default btn-lg" ng-click="asb.showAsbGr()">ASB GR</button>
        </div>
    </div>
</div>              


<div class="panel panel-default" ng-show="asb.showMode=='estimasi'">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">
            ASB Estimasi
        </h3>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
                <div style="margin-left: 70%; position: relative; right: 20px; top: 20px; z-index: 100; margin-bottom: -30px ">
                    <bsdatepicker
                        name="currentDate"
                        date-options="dateOptions"
                        ng-model="asb.currentDate",
                        ng-change="asb.reloadBoard()"
                    ></bsdatepicker>
                </div>
        <div id="asb_estimasi_view" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid"></div>
    </div>
    <div class="panel-footer">
        <div class="btn-group" >
            <button type="button" class="btn btn-default btn-lg" ng-click="asb.showAsbMain()">Kembali</button>
            <button type="button" class="btn btn-default btn-lg" ng-click="asb.FullScreen()" ng-show="false">Full Screen</button>
        </div>
    </div>
</div>              

<div class="panel panel-default" ng-show="asb.showMode=='produksi'">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">
            ASB Produksi
        </h3>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
                <div style="margin-left: 80%; position: relative; right: 20px; top: 15px; z-index: 100; margin-bottom: -30px ">
                    <bsdatepicker
                        name="startDate"
                        date-options="dateOptions"
                        ng-model="asb.startDate",
                        ng-change="asb.reloadBoard()"
                    ></bsdatepicker>
                </div>
                <div style="margin-left: 80%; position: relative; right: 20px; top: 48px; z-index: 100; margin-bottom: -30px ">
                    <bsdatepicker
                        name="endDat"
                        date-options="dateOptions"
                        ng-model="asb.endDate",
                        ng-change="asb.reloadBoard()"
                    ></bsdatepicker>
                </div>
                <div style="margin-left: 80%; position: relative; right: 20px; top: 81px; z-index: 1; margin-bottom: -30px ">
                    <label>
                        <input type="radio" ng-model="asb.BpCategory" ng-value="asb.TPS" ng-change="asb.reloadBoard()">TPS&nbsp;</label>
                        <input type="radio" ng-model="asb.BpCategory" ng-value="asb.Light" ng-change="asb.reloadBoard()">Light</label>
                </div>
        <div id="asb_produksi_view" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid"></div>
    </div>
    <div class="panel-footer">
        <div class="btn-group" >
            <button type="button" class="btn btn-default btn-lg" ng-click="asb.showAsbMain()">Kembali</button>
        </div>
    </div>
    <!-- {{asb}} -->
</div>              

<div class="panel panel-default" ng-show="asb.showMode=='asbgr'">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">
            ASB GR
        </h3>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
                <div style="margin-left: 70%; position: relative; right: 20px; top: 20px; z-index: 100; margin-bottom: -30px ">
                    <bsdatepicker
                        name="currentDate"
                        date-options="dateOptions"
                        ng-model="asb.currentDate",
                        ng-change="asb.reloadBoard()"
                    ></bsdatepicker>
                </div>
        <div id="test_asb_asbgr_view" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid"></div>
    </div>
    <div class="panel-footer">
        <div class="btn-group" >
            <button type="button" class="btn btn-default btn-lg" ng-click="asb.showAsbMain()">Kembali</button>
            <button type="button" class="btn btn-default btn-lg" ng-click="asb.SaveData()">Save Data</button>
        </div>
    </div>
</div>              
