<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <bsreqlabel>Model</bsreqlabel>
      <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="model" ng-model="mData.vehicleData.KatashikiCode" data="listMasterVehicleData" item-text="VehicleModelName" item-value="KatashikiCode" on-select="selectModel(selected)" placeholder="Pilih Model" icon="fa fa-car">
      </bsselect>
    </div>
  </div>
</div>
