<style type="text/css">

</style>
<bsform-grid
        name="printServiceHistory"
        ng-form="printServiceHistory"
        factory-name="CAppPrintServiceHistory"
        model="mPrintServiceHistory"
        
    
        get-data="getData"
        
        on-select-rows="onSelectRows"
        
        grid-hide-action-column="true"
        
        form-api="formApi"
        
        hide-edit-button="true"

        custom-bulk-settings="customBulkSettings"




>

<bsform-advsearch>

    <br>
    
</bsform-advsearch>
</bsform-grid>
<bsui-modal 
           show="mAction.show" 
           title="Alasan Di REJECT" 
           data="modal_model" 
           on-save="onReject()" 
           
           button-settings="buttonSettingModal"
           mode="modalMode"
       > <!-- on-cancel="CheckCancel" -->
         <div ng-form name="contactForm">
         <!-- <bslabel>Berikan Alasan Kenapa Di Reject</bslabel> -->
             
             <div class="row">
                 
                  <!-- <div class="col-md-6"> -->
                    <textarea name="reason" ng-model="mPrintServiceHistory.RejectReason" class="form-control">
                        
                    </textarea>
                      
                  <!-- </div> -->
                  
             </div>
         </div>
       </bsui-modal>


