<link rel="stylesheet" href="css/uistyle.css">
<link rel="stylesheet" href="css/uiboxstyle.css">
<link rel="stylesheet" href="css/uifullcalendarstyle.css">
<link rel="stylesheet" href="css/uitimelinestyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript" src="js/uimoment.js"></script>
<script type="text/javascript" src="js/uifullcalendar.js"></script>
<script type="text/javascript" src="js/uisparkline.js"></script>
<script type="text/javascript" src="js/uiknob.js"></script>

<script type="text/javascript">
$("#dropdownBtnOveride").click(function(){
	if($('#dropdownContentOveride').css('display') == 'none')
	{
		$('#dropdownContentOveride').show();
	}
	else
	{
		$('#dropdownContentOveride').hide();
	}
});

$("#dropdownBtnOveride2").click(function(){
	if($('#dropdownContentOveride2').css('display') == 'none')
	{
		$('#dropdownContentOveride2').show();
	}
	else
	{
		$('#dropdownContentOveride2').hide();
	}
});

$( '#myButton' ).click( function() {
    $( '#myModal' ).modal();
  });
 
//function draw knob diagram
 $(function () {
    /* jQueryKnob */

    $(".knob").knob({
      /*change : function (value) {
       //console.log("change : " + value);
       },
       release : function (value) {
       console.log("release : " + value);
       },
       cancel : function () {
       console.log("cancel : " + this.value);
       },*/
      draw: function () {

        // "tron" case
        if (this.$.data('skin') == 'tron') {

          var a = this.angle(this.cv)  // Angle
              , sa = this.startAngle          // Previous start angle
              , sat = this.startAngle         // Start angle
              , ea                            // Previous end angle
              , eat = sat + a                 // End angle
              , r = true;

          this.g.lineWidth = this.lineWidth;

          this.o.cursor
          && (sat = eat - 0.3)
          && (eat = eat + 0.3);

          if (this.o.displayPrevious) {
            ea = this.startAngle + this.angle(this.value);
            this.o.cursor
            && (sa = ea - 0.3)
            && (ea = ea + 0.3);
            this.g.beginPath();
            this.g.strokeStyle = this.previousColor;
            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false);
            this.g.stroke();
          }

          this.g.beginPath();
          this.g.strokeStyle = r ? this.o.fgColor : this.fgColor;
          this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false);
          this.g.stroke();

          this.g.lineWidth = 2;
          this.g.beginPath();
          this.g.strokeStyle = this.o.fgColor;
          this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
          this.g.stroke();

          return false;
        }
      }
    });
    /* END JQUERY KNOB */

    //INITIALIZE SPARKLINE CHARTS
    $(".sparkline").each(function () {
      var $this = $(this);
      $this.sparkline('html', $this.data());
    });

    /* SPARKLINE DOCUMENTATION EXAMPLES http://omnipotent.net/jquery.sparkline/#s-about */
    drawDocSparklines();
    drawMouseSpeedDemo();

  });
  function drawDocSparklines() {

    // Bar + line composite charts
    $('#compositebar').sparkline('html', {type: 'bar', barColor: '#aaf'});
    $('#compositebar').sparkline([4, 1, 5, 7, 9, 9, 8, 7, 6, 6, 4, 7, 8, 4, 3, 2, 2, 5, 6, 7],
        {composite: true, fillColor: false, lineColor: 'red'});


    // Line charts taking their values from the tag
    $('.sparkline-1').sparkline();

    // Larger line charts for the docs
    $('.largeline').sparkline('html',
        {type: 'line', height: '2.5em', width: '4em'});

    // Customized line chart
    $('#linecustom').sparkline('html',
        {
          height: '1.5em', width: '8em', lineColor: '#f00', fillColor: '#ffa',
          minSpotColor: false, maxSpotColor: false, spotColor: '#77f', spotRadius: 3
        });

    // Bar charts using inline values
    $('.sparkbar').sparkline('html', {type: 'bar'});

    $('.barformat').sparkline([1, 3, 5, 3, 8], {
      type: 'bar',
      tooltipFormat: '{{value:levels}} - {{value}}',
      tooltipValueLookups: {
        levels: $.range_map({':2': 'Low', '3:6': 'Medium', '7:': 'High'})
      }
    });

    // Tri-state charts using inline values
    $('.sparktristate').sparkline('html', {type: 'tristate'});
    $('.sparktristatecols').sparkline('html',
        {type: 'tristate', colorMap: {'-2': '#fa7', '2': '#44f'}});

    // Composite line charts, the second using values supplied via javascript
    $('#compositeline').sparkline('html', {fillColor: false, changeRangeMin: 0, chartRangeMax: 10});
    $('#compositeline').sparkline([4, 1, 5, 7, 9, 9, 8, 7, 6, 6, 4, 7, 8, 4, 3, 2, 2, 5, 6, 7],
        {composite: true, fillColor: false, lineColor: 'red', changeRangeMin: 0, chartRangeMax: 10});

    // Line charts with normal range marker
    $('#normalline').sparkline('html',
        {fillColor: false, normalRangeMin: -1, normalRangeMax: 8});
    $('#normalExample').sparkline('html',
        {fillColor: false, normalRangeMin: 80, normalRangeMax: 95, normalRangeColor: '#4f4'});

    // Discrete charts
    $('.discrete1').sparkline('html',
        {type: 'discrete', lineColor: 'blue', xwidth: 18});
    $('#discrete2').sparkline('html',
        {type: 'discrete', lineColor: 'blue', thresholdColor: 'red', thresholdValue: 4});

    // Bullet charts
    $('.sparkbullet').sparkline('html', {type: 'bullet'});

    // Pie charts
    $('.sparkpie').sparkline('html', {type: 'pie', height: '1.0em'});

    // Box plots
    $('.sparkboxplot').sparkline('html', {type: 'box'});
    $('.sparkboxplotraw').sparkline([1, 3, 5, 8, 10, 15, 18],
        {type: 'box', raw: true, showOutliers: true, target: 6});

    // Box plot with specific field order
    $('.boxfieldorder').sparkline('html', {
      type: 'box',
      tooltipFormatFieldlist: ['med', 'lq', 'uq'],
      tooltipFormatFieldlistKey: 'field'
    });

    // click event demo sparkline
    $('.clickdemo').sparkline();
    $('.clickdemo').bind('sparklineClick', function (ev) {
      var sparkline = ev.sparklines[0],
          region = sparkline.getCurrentRegionFields();
      value = region.y;
      alert("Clicked on x=" + region.x + " y=" + region.y);
    });

    // mouseover event demo sparkline
    $('.mouseoverdemo').sparkline();
    $('.mouseoverdemo').bind('sparklineRegionChange', function (ev) {
      var sparkline = ev.sparklines[0],
          region = sparkline.getCurrentRegionFields();
      value = region.y;
      $('.mouseoverregion').text("x=" + region.x + " y=" + region.y);
    }).bind('mouseleave', function () {
      $('.mouseoverregion').text('');
    });
  }

  /**
   ** Draw the little mouse speed animated graph
   ** This just attaches a handler to the mousemove event to see
   ** (roughly) how far the mouse has moved
   ** and then updates the display a couple of times a second via
   ** setTimeout()
   **/
  function drawMouseSpeedDemo() {
    var mrefreshinterval = 500; // update display every 500ms
    var lastmousex = -1;
    var lastmousey = -1;
    var lastmousetime;
    var mousetravel = 0;
    var mpoints = [];
    var mpoints_max = 30;
    $('html').mousemove(function (e) {
      var mousex = e.pageX;
      var mousey = e.pageY;
      if (lastmousex > -1) {
        mousetravel += Math.max(Math.abs(mousex - lastmousex), Math.abs(mousey - lastmousey));
      }
      lastmousex = mousex;
      lastmousey = mousey;
    });
    var mdraw = function () {
      var md = new Date();
      var timenow = md.getTime();
      if (lastmousetime && lastmousetime != timenow) {
        var pps = Math.round(mousetravel / (timenow - lastmousetime) * 1000);
        mpoints.push(pps);
        if (mpoints.length > mpoints_max)
          mpoints.splice(0, 1);
        mousetravel = 0;
        $('#mousespeed').sparkline(mpoints, {width: mpoints.length * 2, tooltipSuffix: ' pixels per second'});
      }
      lastmousetime = timenow;
      setTimeout(mdraw, mrefreshinterval);
    };
    // We could use setInterval instead, but I prefer to do it this way
    setTimeout(mdraw, mrefreshinterval);
  }
















//function full calendar for Scheduling
$(function () {

    /* initialize the external events
     -----------------------------------------------------------------*/
    function ini_events(ele) {
      ele.each(function () {

        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
        // it doesn't need to have a start or end
        var eventObject = {
          title: $.trim($(this).text()) // use the element's text as the event title
        };

        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject);

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex: 1070,
          revert: true, // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        });

      });
    }

    ini_events($('#external-events div.external-event'));

    /* initialize the calendar
     -----------------------------------------------------------------*/
    //Date for the calendar events (dummy data)
    var date = new Date();
    var d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear();
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      buttonText: {
        today: 'today',
        month: 'month',
        week: 'week',
        day: 'day'
      },
      //Random default events
      events: [
        {
          title: 'All Day Event',
          start: new Date(y, m, 1),
          backgroundColor: "#f56954", //red
          borderColor: "#f56954" //red
        },
        {
          title: 'Long Event',
          start: new Date(y, m, d - 5),
          end: new Date(y, m, d - 2),
          backgroundColor: "#f39c12", //yellow
          borderColor: "#f39c12" //yellow
        },
        {
          title: 'Meeting',
          start: new Date(y, m, d, 10, 30),
          allDay: false,
          backgroundColor: "#0073b7", //Blue
          borderColor: "#0073b7" //Blue
        },
        {
          title: 'Lunch',
          start: new Date(y, m, d, 12, 0),
          end: new Date(y, m, d, 14, 0),
          allDay: false,
          backgroundColor: "#00c0ef", //Info (aqua)
          borderColor: "#00c0ef" //Info (aqua)
        },
        {
          title: 'Birthday Party',
          start: new Date(y, m, d + 1, 19, 0),
          end: new Date(y, m, d + 1, 22, 30),
          allDay: false,
          backgroundColor: "#00a65a", //Success (green)
          borderColor: "#00a65a" //Success (green)
        },
        {
          title: 'Click for Google',
          start: new Date(y, m, 28),
          end: new Date(y, m, 29),
          url: 'http://google.com/',
          backgroundColor: "#3c8dbc", //Primary (light-blue)
          borderColor: "#3c8dbc" //Primary (light-blue)
        }
      ],
      editable: true,
      droppable: true, // this allows things to be dropped onto the calendar !!!
      drop: function (date, allDay) { // this function is called when something is dropped

        // retrieve the dropped element's stored Event Object
        var originalEventObject = $(this).data('eventObject');

        // we need to copy it, so that multiple events don't have a reference to the same object
        var copiedEventObject = $.extend({}, originalEventObject);

        // assign it the date that was reported
        copiedEventObject.start = date;
        copiedEventObject.allDay = allDay;
        copiedEventObject.backgroundColor = $(this).css("background-color");
        copiedEventObject.borderColor = $(this).css("border-color");

        // render the event on the calendar
        // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
        $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

        // is the "remove after drop" checkbox checked?
        if ($('#drop-remove').is(':checked')) {
          // if so, remove the element from the "Draggable Events" list
          $(this).remove();
        }

      }
    });

    /* ADDING EVENTS */
    var currColor = "#3c8dbc"; //Red by default
    //Color chooser button
    var colorChooser = $("#color-chooser-btn");
    $("#color-chooser > li > a").click(function (e) {
      e.preventDefault();
      //Save color
      currColor = $(this).css("color");
      //Add color effect to button
      $('#add-new-event').css({"background-color": currColor, "border-color": currColor});
    });
    $("#add-new-event").click(function (e) {
      e.preventDefault();
      //Get value and make sure it is not null
      var val = $("#new-event").val();
      if (val.length == 0) {
        return;
      }

      //Create events
      var event = $("<div />");
      event.css({"background-color": currColor, "border-color": currColor, "color": "#fff"}).addClass("external-event");
      event.html(val);
      $('#external-events').prepend(event);

      //Add draggable funtionality
      ini_events(event);

      //Remove event from text input
      $("#new-event").val("");
    });
  });

</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}


</style>


<div class="row formHeader">
		<table>
			<tr>
				<td>
					<canvas width="35" height="35"></canvas>
					<input type="text" class="knob" value="80" data-width="50" data-height="50" data-fgcolor="#3c8dbc" data-readonly="true" 
					readonly="readonly" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; 
					margin-left: -69px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; 
					font-stretch: normal; font-size: 18px; line-height: normal; font-family: Arial; text-align: center; 
					color: rgb(60, 141, 188); padding: 0px; -webkit-appearance: none;">
				</td>
				<td>
					<div class="knob-label" style="max-width: 150px; word-wrap: break-word;">Data Prospect/Pelanggan (80%)</div>
				</td>
			</tr>
		</table>
		<div id="addMode" style=="float:right;">
			<button id="addBtn" class="rbtn btn ng-binding ladda-button" style="float: right; bottom: 10px;">Tambah </button>
		</div>
		
		<div id="editMode" style=="float:right;">
			<button id="saveBtn" class="rbtn btn ng-binding ladda-button" style="float: right;">Simpan </button>
			<button id="cancelBtn" class="rbtn btn ng-binding ladda-button" style="float: right;">Batal </button>
		</div>
</div>
					
<div id="formPanel"> <!-- Edit Form Template -->
     <div class="formContent">

				<bsreqlabel>Sales Program Name</bsreqlabel>
				<div class="input-icon-right">
					<i class="fa fa-pencil"></i>
					<input type="text" class="form-control" name="nama" placeholder="Sales Program Name" ng-model="mProfileSalesProgram_SalesProgramName"
							ng-maxlength="50" required
					>
				</div>

				<bsreqlabel>Sales Address</bsreqlabel>
				<div class="input-icon-right">
					<i class="fa fa-pencil"></i>
					<input type="text" class="form-control" name="nama" placeholder="Sales Address" ng-model="mProfileSalesProgram_SalesProgramName"
							ng-maxlength="50" required
					>
				</div>
				
				<bsreqlabel>Tanggal Activity Working Calendar</bsreqlabel>
					<div class="input-icon-right">
						<bsdatepicker
								name="tanggal"
								date-options="dateOptions"
						>
						</bsdatepicker>
					</div>
				
				<bsreqlabel>Upload</bsreqlabel>
				<div class="input-icon-right">
						<input type="file" accept="image/*;capture=camera"/>
				</div>

				<bsreqlabel>Combo Selection</bsreqlabel>
				<div class="input-icon-right">
            <bsselect id="comboBox" name="filterModel" ng-model="filter.Id" data="selectionItem" item-text="Name" item-value="Id" on-select="Id" placeholder="Name" icon="fa fa-search">
            </bsselect>
				</div>

				<bsreqlabel>Check Box</bsreqlabel>
				<div class="input-icon-right">
					<div class="checkbox">
						<label><input type="checkbox" value="">Option 1</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Option 2</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Option 3</label>
					</div>

					<div id="inlineCheckbox">
						<label class="checkbox-inline"><input type="checkbox" value="">Option 1</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Option 2</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Option 3</label>
					</div>

					<!-- checkbox -->
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox">
								Checkbox 1
							</label>
						</div>

						<div class="checkbox">
							<label>
								<input type="checkbox">
								Checkbox 2
							</label>
						</div>

						<div class="checkbox">
							<label>
								<input type="checkbox" disabled>
								Checkbox disabled
							</label>
						</div>
					</div>

				</div>

				<bsreqlabel>Text Area</bsreqlabel>
				<div class="input-icon-right">
					<textarea class="form-control" rows="5" id="comment"></textarea>
				</div>



		</div>
	
	<div class="formGroupPanel">
	  <button class="btn btn-default dropdown-toggle dropdown-toggle" type="button" id="formGroupPanelBtn" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Informasi Kendaraan
		<span id="formGroupPanelIcon" style="float:right; margin-right:3px;"> + </span>
	  </button>
	  
	  <div class="formContent">
		  <div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2" style="display:none;">
			<bsreqlabel>Nama Kendaraan</bsreqlabel>
			<div class="input-icon-right">
				<i class="fa fa-pencil"></i>
				<input type="text" class="form-control" name="nama" placeholder="Nama Kendaraan" ng-model="mProfileSalesProgram_SalesProgramName" ng-maxlength="50" required>
			</div>
				
			<bsreqlabel>Tipe Kendaraan</bsreqlabel>
			<div class="input-icon-right">
				<i class="fa fa-pencil"></i>
				<input type="text" class="form-control" name="nama" placeholder="Tipe Kendaraan" ng-model="mProfileSalesProgram_SalesProgramName" ng-maxlength="50" required>
			</div>
				
			<bsreqlabel>Warna Kendaraan</bsreqlabel>
			<div class="input-icon-right">
				<i class="fa fa-pencil"></i>
				<input type="text" class="form-control" name="nama" placeholder="Warna Kendaraan" ng-model="mProfileSalesProgram_SalesProgramName" ng-maxlength="50" required>
			</div>
		
		  </div>
	  </div>
  
	</div>
				
 </div>			

<div id="formData" >
	<div class="row filtersearch" style="margin-right:0px;padding-bottom:5px;">
		<div class="col-md-12" style="padding-right:0px;">
			
			<div class="input-group">
				<input type="text" ng-model-options="{debounce: 250}" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Filter" ng-model="gridApi.grid.columns[filterColIdx].filters[0].term" style="">
				<div class="input-group-btn dropdown" uib-dropdown="" style="">
					<button id="filter" type="button" class="btn wbtn ng-binding dropdown-toggle" uib-dropdown-toggle="" data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="false">MODEL CODE&nbsp;<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right" uib-dropdown-menu="" role="menu" aria-labelledby="filter">
						<!-- ngRepeat: col in gridCols -->
						<li role="menuitem" class="ng-scope">
							<a href="#" ng-click="filterBtnChange(col)" class="ng-binding" tabindex="0">MODEL CODE<span class="pull-right"><i class="fa fa-fw fa-filter ng-hide" ng-show="gridApi.grid.columns[1].filters[0].term!='' &amp;&amp;gridApi.grid.columns[1].filters[0].term!=undefined"></i></span>
							</a>
						</li>
						<!-- end ngRepeat: col in gridCols -->
						<li role="menuitem" class="ng-scope">
							<a href="#" ng-click="filterBtnChange(col)" class="ng-binding" tabindex="0">MODEL NAME<span class="pull-right"><i class="fa fa-fw fa-filter ng-hide" ng-show="gridApi.grid.columns[2].filters[0].term!='' &amp;&amp;gridApi.grid.columns[2].filters[0].term!=undefined"></i></span>
							</a>
						</li>
						<!-- end ngRepeat: col in gridCols -->
						<li role="menuitem" class="ng-scope">
							<a href="#" ng-click="filterBtnChange(col)" class="ng-binding" tabindex="0">BRANDNAME<span class="pull-right"><i class="fa fa-fw fa-filter ng-hide" ng-show="gridApi.grid.columns[3].filters[0].term!='' &amp;&amp;gridApi.grid.columns[3].filters[0].term!=undefined"></i></span>
							</a>
						</li>
						<!-- end ngRepeat: col in gridCols -->
					</ul>
				</div>
				
			</div>
			
		</div>
	</div>
	
	<ul class="nav nav-tabchild" style="margin-top:10px;">
		<li class="active"><a data-toggle="tab" href="#" onclick="navigateTab('tabContainer','menuTimeline');">Timeline</a></li>
		<li><a data-toggle="tab" href="#" onclick="navigateTab('tabContainer','menuListData');">List Data</a></li>
		<li><a data-toggle="tab" href="#" onclick="navigateTab('tabContainer','summaryFormTemplate');">Summary Form Template</a></li>
		<li><a data-toggle="tab" href="#" onclick="navigateTab('tabContainer','menuScheduling');">Scheduling</a></li>
	</ul>
  
	<!--Nama container harus unique berdasarkan page html-->
	<div id="tabContainer" class="tab-content">
		<div id="menuTimeline" class="tab-pane fade in active">
		  <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
          <!-- The time line -->
          <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-red">
                    10 Feb. 2014
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-car"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                <div class="timeline-body">
                  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                  weebly ning heekya handango imeem plugg dopplr jibjab, movity
                  jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                  quora plaxo ideeli hulu weebly balihoo...
                </div>
                <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs">Read more</a>
                  <a class="btn btn-danger btn-xs">Delete</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-car"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-car"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                <div class="timeline-body">
                  Take me to your leader!
                  Switzerland is small and neutral!
                  We are more like Germany, ambitious and misunderstood!
                </div>
                <div class="timeline-footer">
                  <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-green">
                    3 Jan. 2014
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-car"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                <div class="timeline-body">
                  <img src="http://placehold.it/150x100" alt="..." class="margin">
                  <img src="http://placehold.it/150x100" alt="..." class="margin">
                  <img src="http://placehold.it/150x100" alt="..." class="margin">
                  <img src="http://placehold.it/150x100" alt="..." class="margin">
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-car"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>

                <h3 class="timeline-header"><a href="#">Mr. Doe</a> shared a video</h3>

                <div class="timeline-body">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gLGZwqpmnlY" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="timeline-footer">
                  <a href="#" class="btn btn-xs bg-maroon">See comments</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <li>
              <i class="fa fa-clock-o bg-gray"></i>
            </li>
          </ul>
        </div>
        <!-- /.col -->
      </div>
		</div>
		<div id="menuListData" class="tab-pane fade">
			<div class="listData">
			  <button class="btn btn-default dropdown-toggle dropdown-toggle" type="button" id="dropdownBtn" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Siap Test Drive
				<span>(3)</span>
				<span class="caret" style="float:right;margin-top: 10px; margin-right:3px;"></span>
			  </button>
			  <div class="list-group" id="dropdownContent" aria-labelledby="dropdownMenu1" style="display:none;">
				<div class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
					<div style="font-size: 12px;">Peggy Carter
						<button class="btn btn-default" style="float:right; border:0; background-color:#e8eaed; box-shadow:none;" id="myButton" type="button">
								<span class="glyphicon glyphicon-option-vertical" style="float:center;">
								</span>
						</button>
					</div>
					<p>
						<ul class="list-inline">
							<li style="width:100px;">12 December 2016 </li>
							<li><i class="fa fa-circle" style="color:red;"></i> </li>
							<li>Avanza Veloz 1.5 AT</li>
						</ul>
					</p>
				</div>
				<div class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
					<div style="font-size: 12px;">Maria Hill
						<button class="btn btn-default" style="float:right; border:0; background-color:#e8eaed; box-shadow:none;" id="myButton" type="button">
								<span class="glyphicon glyphicon-option-vertical" style="float:center;">
								</span>
						</button>
					</div>
					<p>
						<ul class="list-inline">
							<li style="width:100px;">11 January 2016 </li>
							<li><i class="fa fa-circle" style="color:white;"></i> </li>
							<li>Avanza Veloz 1.5 AT </li>
						</ul>
					</p>
				</div>
				<div class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
					<div style="font-size: 12px;">Sam Wilson
						<button class="btn btn-default" style="float:right; border:0; background-color:#e8eaed; box-shadow:none;" id="myButton" type="button">
								<span class="glyphicon glyphicon-option-vertical" style="float:center;">
								</span>
						</button>
					</div>
					<p>
						<ul class="list-inline">
							<li style="width:100px;">21 June 2015 </li>
							<li><i class="fa fa-circle" style="color:black;"></i> </li>
							<li>Avanza Veloz 1.5 MT </li>
						</ul>
					</p>
				</div>
			  
				  <div class="modal fade" id="myModal" role="dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content" style="width:25%; margin-top:15%; margin-left:45%;">
						  <ul class="list-group">
								<a ng-click="LookSelected(da_data.SalesProgramName)"><li class="list-group-item">Lihat Detail</li></a>
								<a ng-click="ChangeSelected(da_data.SalesProgramId,da_data.SalesProgramName)"><li class="list-group-item">Ubah Detail</li></a>
								<a ng-click="DeleteSelected(da_data.SalesProgramId)"><li class="list-group-item">Hapus Detail</li></a>
							</ul>
					  </div>
					  
				  </div>
				</div>
			</div>
				
			<div class="listData">
			  <button class="btn btn-default dropdown-toggle dropdown-toggle" type="button" id="dropdownBtnOveride" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Produk Baru
				<span>(5)</span>
				<span class="caret" style="float:right;margin-top: 10px; margin-right:3px;"></span>
			  </button>
			  <div class="list-group" id="dropdownContentOveride" aria-labelledby="dropdownMenu1" style="display:none;">
					<div class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
						<div class="row">
							<div class="col-sm-11">
								<p style="font-size: 14px">New Avanza Veloz</p>
							</div>
						</div>
					</div>
					<div class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
						<div class="row">
							<div class="col-sm-11">
								<p style="font-size: 14px">New Harrier</p>
							</div>
						</div>
					</div>
					<div class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
						<div class="row">
							<div class="col-sm-11">
								<p style="font-size: 14px">New Alphard</p>
							</div>
						</div>
					</div>
					<div class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
						<div class="row">
							<div class="col-sm-11">
								<p style="font-size: 14px">New Fortuner</p>
							</div>
						</div>
					</div>
					<div class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
					<div class="row">
						<div class="col-sm-11">
							<p style="font-size: 14px">New Innova</p>
						</div>
					</div>
				</div>
			  
			   </div>
			</div>
		</div>
		<div id="summaryFormTemplate" class="tab-pane fade" style="margin-top:10px; margin-left:2px;">
			<div id="headerSummary">
				<p style="font-size: 14px; font-weight: bold;">
					All New Sienta ( G 1.5 M/T)
				</p>
				<p>
					<ul class="list-inline">
						<li style="width:100px;">Jakarta </li>
						<li><i class="fa fa-circle" style="color:gray;"></i> </li>
						<li>Auto2000 Sunter</li>
					</ul>
				</p>
				<p>
					<ul class="list-inline">
						<li style="width:100px;">Salesman </li>
						<li>Justin Timberlake</li>
					</ul>
				</p>
				<p>
					<ul class="list-inline">
						<li style="width:100px;">Prospect </li>
						<li>Gigi Hadid</li>
					</ul>
				</p>
			</div>
			<div id="contentSummary">
				<table class="table table-bordered table-responsive">
				  <tbody>
					<tr>
					  <th scope="row" class="headerRow">Nilai Kendaraan</th>
					  <td>230.500.000</td>
					</tr>
					<tr>
					  <th scope="row" class="headerRow">Total Down Payment</th>
					  <td>30.000.000 atau 13.01%</td>
					</tr>
					<tr>
					  <th scope="row" class="headerRow">Tenor</th>
					  <td>48 Bulan</td>
					</tr>
					<tr>
					  <th scope="row" class="headerRow">Leasing</th>
					  <td>Toyota Astra Finance</td>
					</tr>
				  </tbody>
				</table>
				
				<div class="listData">
				  <button class="btn btn-default dropdown-toggle dropdown-toggle" type="button" id="dropdownBtnOveride2" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Tabel Simulasi
					<span class="caret" style="float:right;margin-top: 10px; margin-right:3px;"></span>
				  </button>
				  
				  <div id="dropdownContentOveride2" aria-labelledby="dropdownMenu1" style="display:none;">
					<table class="table table-bordered table-responsive" style="margin-top:10px;">
					  <thead>
						<tr>
						  <th class="headerRow">Bulan</th>
						  <th class="headerRow">Cicilan</th>
						  <th class="headerRow">Sisa Cicilan</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <th scope="row">1</th>
						  <td>x.xxx.xxx</td>
						  <td>xx.xxx.xxx</td>
						</tr>
						<tr>
						  <th scope="row">2</th>
						  <td>x.xxx.xxx</td>
						  <td>xx.xxx.xxx</td>
						</tr>
						<tr>
						  <th scope="row">3</th>
						  <td>x.xxx.xxx</td>
						  <td>xx.xxx.xxx</td>
						</tr>
						<tr>
						  <th scope="row">4</th>
						  <td>x.xxx.xxx</td>
						  <td>xx.xxx.xxx</td>
						</tr>
						<tr>
						  <th scope="row">5</th>
						  <td>x.xxx.xxx</td>
						  <td>xx.xxx.xxx</td>
						</tr>
					  </tbody>
					</table>
				  </div>
				  
				  <div id="contentParagraph">
					<h6>Syarat & Kondisi</h6>
					<ul>
					  <li>Semua harga yang tertera dalam mata uang Rupiah (Rp)</li>
					  <li>OTR DKI Jakarta</li>
					  <li>Rincian kredit di atas tidak mengikat dan dapat berubah sewaktu-waktu</li>
					  <li>Harga di atas sudah termasuk asuransi all risk & ACP (ACC Credit Protection)</li>
					</ul>
				  </div>
				  
				  
				</div>
				<footer class="footer navbar-fixed-bottom" style="background-color: #f5f5f5; height:8%;">
					  <div class="container" style="margin-top:5px; text-align:center;">
						<button id="saveBtn" class="rbtn btn ng-binding ladda-button"> Simpan</button>
						<button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button"> Kirim Via Email</button>
					  </div>
					</footer>
			</div>
			
		</div>
		<div id="menuScheduling" class="tab-pane fade">
			<div class="wrapper" style="height: auto; margin-top:10px;">
					<div class="content-wrapper">
					<section class="content">
							<div class="row">
								<div class="col-md-3">
									<div class="box box-solid">
										<div class="box-header with-border">
											<h4 class="box-title">Draggable Events</h4>
										</div>
										<div class="box-body">
											<!-- the events -->
											<div id="external-events">
												<div class="external-event bg-green ui-draggable ui-draggable-handle" style="position: relative; z-index: auto; width: 209px; right: auto; height: 30px; bottom: auto; left: 0px; top: 0px;">Lunch</div>
												<div class="external-event bg-yellow ui-draggable ui-draggable-handle" style="position: relative;">Go home</div>
												<div class="external-event bg-aqua ui-draggable ui-draggable-handle" style="position: relative;">Do homework</div>
												<div class="external-event bg-light-blue ui-draggable ui-draggable-handle" style="position: relative;">Work on UI design</div>
												<div class="external-event bg-red ui-draggable ui-draggable-handle" style="position: relative;">Sleep tight</div>
												<div class="checkbox">
													<label for="drop-remove">
														<input type="checkbox" id="drop-remove">
														remove after drop
													</label>
												</div>
											</div>
										</div>
										<!-- /.box-body -->
									</div>
									<!-- /. box -->
									<div class="box box-solid">
										<div class="box-header with-border">
											<h3 class="box-title">Create Event</h3>
										</div>
										<div class="box-body">
											<div class="btn-group" style="width: 100%; margin-bottom: 10px;">
												<!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
												<ul class="fc-color-picker" id="color-chooser">
													<li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
													<li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
													<li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
													<li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
													<li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
													<li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
													<li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>
													<li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>
													<li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
													<li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
													<li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>
													<li><a class="text-muted" href="#"><i class="fa fa-square"></i></a></li>
													<li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
												</ul>
											</div>
											<!-- /btn-group -->
											<div class="input-group">
												<input id="new-event" type="text" class="form-control" placeholder="Event Title">

												<div class="input-group-btn">
													<button id="add-new-event" type="button" class="btn btn-primary btn-flat">Add</button>
												</div>
												<!-- /btn-group -->
											</div>
											<!-- /input-group -->
										</div>
									</div>
								</div>
								<!-- /.col -->
								<div class="col-md-9">
									<div class="box box-primary">
										<div class="box-body no-padding">
											<!-- THE CALENDAR -->
											<div id="calendar" class="fc fc-ltr fc-unthemed"><div class="fc-toolbar"><div class="fc-left"><div class="fc-button-group"><button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left"><span class="fc-icon fc-icon-left-single-arrow"></span></button><button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right"><span class="fc-icon fc-icon-right-single-arrow"></span></button></div><button type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-disabled" disabled="disabled">today</button></div><div class="fc-right"><div class="fc-button-group"><button type="button" class="fc-month-button fc-button fc-state-default fc-corner-left fc-state-active">month</button><button type="button" class="fc-agendaWeek-button fc-button fc-state-default">week</button><button type="button" class="fc-agendaDay-button fc-button fc-state-default fc-corner-right">day</button></div></div><div class="fc-center"><h2>January 2017</h2></div><div class="fc-clear"></div></div><div class="fc-view-container" style=""><div class="fc-view fc-month-view fc-basic-view"><table><thead><tr><td class="fc-widget-header"><div class="fc-row fc-widget-header"><table><thead><tr><th class="fc-day-header fc-widget-header fc-sun">Sun</th><th class="fc-day-header fc-widget-header fc-mon">Mon</th><th class="fc-day-header fc-widget-header fc-tue">Tue</th><th class="fc-day-header fc-widget-header fc-wed">Wed</th><th class="fc-day-header fc-widget-header fc-thu">Thu</th><th class="fc-day-header fc-widget-header fc-fri">Fri</th><th class="fc-day-header fc-widget-header fc-sat">Sat</th></tr></thead></table></div></td></tr></thead><tbody><tr><td class="fc-widget-content"><div class="fc-day-grid-container"><div class="fc-day-grid"><div class="fc-row fc-week fc-widget-content" style="height: 106px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-past" data-date="2017-01-01"></td><td class="fc-day fc-widget-content fc-mon fc-past" data-date="2017-01-02"></td><td class="fc-day fc-widget-content fc-tue fc-past" data-date="2017-01-03"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2017-01-04"></td><td class="fc-day fc-widget-content fc-thu fc-past" data-date="2017-01-05"></td><td class="fc-day fc-widget-content fc-fri fc-past" data-date="2017-01-06"></td><td class="fc-day fc-widget-content fc-sat fc-past" data-date="2017-01-07"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-past" data-date="2017-01-01">1</td><td class="fc-day-number fc-mon fc-past" data-date="2017-01-02">2</td><td class="fc-day-number fc-tue fc-past" data-date="2017-01-03">3</td><td class="fc-day-number fc-wed fc-past" data-date="2017-01-04">4</td><td class="fc-day-number fc-thu fc-past" data-date="2017-01-05">5</td><td class="fc-day-number fc-fri fc-past" data-date="2017-01-06">6</td><td class="fc-day-number fc-sat fc-past" data-date="2017-01-07">7</td></tr></thead><tbody><tr><td class="fc-event-container"><a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable" style="background-color:#f56954;border-color:#f56954"><div class="fc-content"><span class="fc-time">12a</span> <span class="fc-title">All Day Event</span></div></a></td><td class="fc-event-container" colspan="2"><a class="fc-day-grid-event fc-event fc-start fc-end  fc-draggable fc-resizable" style="background-color:rgb(0, 166, 90);border-color:rgb(255, 255, 255)"><div class="fc-content"> <span class="fc-title">Lunch</span></div><div class="fc-resizer"></div></a></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 106px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-past" data-date="2017-01-08"></td><td class="fc-day fc-widget-content fc-mon fc-past" data-date="2017-01-09"></td><td class="fc-day fc-widget-content fc-tue fc-past" data-date="2017-01-10"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2017-01-11"></td><td class="fc-day fc-widget-content fc-thu fc-past" data-date="2017-01-12"></td><td class="fc-day fc-widget-content fc-fri fc-past" data-date="2017-01-13"></td><td class="fc-day fc-widget-content fc-sat fc-past" data-date="2017-01-14"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-past" data-date="2017-01-08">8</td><td class="fc-day-number fc-mon fc-past" data-date="2017-01-09">9</td><td class="fc-day-number fc-tue fc-past" data-date="2017-01-10">10</td><td class="fc-day-number fc-wed fc-past" data-date="2017-01-11">11</td><td class="fc-day-number fc-thu fc-past" data-date="2017-01-12">12</td><td class="fc-day-number fc-fri fc-past" data-date="2017-01-13">13</td><td class="fc-day-number fc-sat fc-past" data-date="2017-01-14">14</td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td class="fc-event-container"><a class="fc-day-grid-event fc-event fc-start fc-not-end fc-draggable" style="background-color:#f39c12;border-color:#f39c12"><div class="fc-content"><span class="fc-time">12a</span> <span class="fc-title">Long Event</span></div></a></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 106px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-past" data-date="2017-01-15"></td><td class="fc-day fc-widget-content fc-mon fc-past" data-date="2017-01-16"></td><td class="fc-day fc-widget-content fc-tue fc-past" data-date="2017-01-17"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2017-01-18"></td><td class="fc-day fc-widget-content fc-thu fc-today fc-state-highlight" data-date="2017-01-19"></td><td class="fc-day fc-widget-content fc-fri fc-future" data-date="2017-01-20"></td><td class="fc-day fc-widget-content fc-sat fc-future" data-date="2017-01-21"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-past" data-date="2017-01-15">15</td><td class="fc-day-number fc-mon fc-past" data-date="2017-01-16">16</td><td class="fc-day-number fc-tue fc-past" data-date="2017-01-17">17</td><td class="fc-day-number fc-wed fc-past" data-date="2017-01-18">18</td><td class="fc-day-number fc-thu fc-today fc-state-highlight" data-date="2017-01-19">19</td><td class="fc-day-number fc-fri fc-future" data-date="2017-01-20">20</td><td class="fc-day-number fc-sat fc-future" data-date="2017-01-21">21</td></tr></thead><tbody><tr><td class="fc-event-container" colspan="2"><a class="fc-day-grid-event fc-event fc-not-start fc-end fc-draggable" style="background-color:#f39c12;border-color:#f39c12"><div class="fc-content"> <span class="fc-title">Long Event</span></div></a></td><td rowspan="2"></td><td rowspan="2"></td><td class="fc-event-container"><a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable" style="background-color:#0073b7;border-color:#0073b7"><div class="fc-content"><span class="fc-time">10:30a</span> <span class="fc-title">Meeting</span></div></a></td><td class="fc-event-container" rowspan="2"><a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable" style="background-color:#00a65a;border-color:#00a65a"><div class="fc-content"><span class="fc-time">7p</span> <span class="fc-title">Birthday Party</span></div></a></td><td rowspan="2"></td></tr><tr><td></td><td></td><td class="fc-event-container"><a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable" style="background-color:#00c0ef;border-color:#00c0ef"><div class="fc-content"><span class="fc-time">12p</span> <span class="fc-title">Lunch</span></div></a></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 106px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-future" data-date="2017-01-22"></td><td class="fc-day fc-widget-content fc-mon fc-future" data-date="2017-01-23"></td><td class="fc-day fc-widget-content fc-tue fc-future" data-date="2017-01-24"></td><td class="fc-day fc-widget-content fc-wed fc-future" data-date="2017-01-25"></td><td class="fc-day fc-widget-content fc-thu fc-future" data-date="2017-01-26"></td><td class="fc-day fc-widget-content fc-fri fc-future" data-date="2017-01-27"></td><td class="fc-day fc-widget-content fc-sat fc-future" data-date="2017-01-28"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-future" data-date="2017-01-22">22</td><td class="fc-day-number fc-mon fc-future" data-date="2017-01-23">23</td><td class="fc-day-number fc-tue fc-future" data-date="2017-01-24">24</td><td class="fc-day-number fc-wed fc-future" data-date="2017-01-25">25</td><td class="fc-day-number fc-thu fc-future" data-date="2017-01-26">26</td><td class="fc-day-number fc-fri fc-future" data-date="2017-01-27">27</td><td class="fc-day-number fc-sat fc-future" data-date="2017-01-28">28</td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td class="fc-event-container"><a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable" href="http://google.com/" style="background-color:#3c8dbc;border-color:#3c8dbc"><div class="fc-content"><span class="fc-time">12a</span> <span class="fc-title">Click for Google</span></div></a></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 106px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-future" data-date="2017-01-29"></td><td class="fc-day fc-widget-content fc-mon fc-future" data-date="2017-01-30"></td><td class="fc-day fc-widget-content fc-tue fc-future" data-date="2017-01-31"></td><td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2017-02-01"></td><td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2017-02-02"></td><td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2017-02-03"></td><td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2017-02-04"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-future" data-date="2017-01-29">29</td><td class="fc-day-number fc-mon fc-future" data-date="2017-01-30">30</td><td class="fc-day-number fc-tue fc-future" data-date="2017-01-31">31</td><td class="fc-day-number fc-wed fc-other-month fc-future" data-date="2017-02-01">1</td><td class="fc-day-number fc-thu fc-other-month fc-future" data-date="2017-02-02">2</td><td class="fc-day-number fc-fri fc-other-month fc-future" data-date="2017-02-03">3</td><td class="fc-day-number fc-sat fc-other-month fc-future" data-date="2017-02-04">4</td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 108px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-other-month fc-future" data-date="2017-02-05"></td><td class="fc-day fc-widget-content fc-mon fc-other-month fc-future" data-date="2017-02-06"></td><td class="fc-day fc-widget-content fc-tue fc-other-month fc-future" data-date="2017-02-07"></td><td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2017-02-08"></td><td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2017-02-09"></td><td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2017-02-10"></td><td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2017-02-11"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-other-month fc-future" data-date="2017-02-05">5</td><td class="fc-day-number fc-mon fc-other-month fc-future" data-date="2017-02-06">6</td><td class="fc-day-number fc-tue fc-other-month fc-future" data-date="2017-02-07">7</td><td class="fc-day-number fc-wed fc-other-month fc-future" data-date="2017-02-08">8</td><td class="fc-day-number fc-thu fc-other-month fc-future" data-date="2017-02-09">9</td><td class="fc-day-number fc-fri fc-other-month fc-future" data-date="2017-02-10">10</td><td class="fc-day-number fc-sat fc-other-month fc-future" data-date="2017-02-11">11</td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div></div></div></td></tr></tbody></table></div></div></div>
										</div>
										<!-- /.box-body -->
									</div>
									<!-- /. box -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
					</section>
					</div>
				</div>
		</div>
		
	</div>
</div>

