<script type="text/javascript" src="js/print_min.js"></script>
<style type="text/css">
    #MaintainPoBiroJasaModalDaftarNoRangkaGaDulu {
        height: 625px !important;
    }

    .ui-grid-viewport {
        overflow-anchor: none;
    }

</style>
<!--.modal{
top: 0px !important;
}-->
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="daftarPO" class="row" style="margin: 0 0 0 0">

    <button id="PengembalianSpk" ng-click="buatPO()" class="rbtn btn ng-binding ladda-button" style="float:right; margin:-30px 0 0 10px"
        ng-disabled="btnPengembalianSpk">Tambah</button>

    <bsform-grid ng-form="MaintainPOBirojasaForm" loading="loading" show-advsearch="on" factory-name="MaintainPOBirojasaFactory"
        model="mMaintainPOBirojasa" model-id="MaintainPOBirojasaId" get-data="getData" selected-rows="selectedRows"
        on-select-rows="onSelectRows" grid-hide-action-column="true" hide-new-button="true" form-name="MaintainPOBirojasaForm"
        form-title="PO Biro Jasa" modal-title="MaintainPOBirojasa" modal-size="small" icon="fa fa-fw fa-child">

        <bsform-advsearch>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Cabang</label>
                        <div class="input-icon-right">
                            <bsselect id="comboBox" name="filterModel" ng-model="filter.OutletId" data="getOutlet"
                                item-text="Name" item-value="OutletId" on-select="branchId" placeholder="Cabang" icon="fa fa-sitemap"></bsselect>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="from-group">
                        <label>No. Rangka</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Input No. Rangka" ng-model="filter.FrameNo"
                                ng-maxlength="50">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="from-group">
                        <label>Nama Pelanggan</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Input Nama Pelanggan" ng-model="filter.CustomerName"
                                ng-maxlength="50">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="from-group">
                        <label>No. PO</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Input No. PO" ng-model="filter.POBiroJasaUnitNo"
                                ng-maxlength="50">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Status</label>
                        <bsselect name="filterSales" ng-model="filter.POJasaStatusId" data="status" item-text="POJasaStatusName"
                            item-value="POJasaStatusId" placeholder="Select">
                        </bsselect>
                    </div>
                </div>
            </div>
        </bsform-advsearch>

    </bsform-grid>


</div>

<div class="row" style="margin: 0 0 10px 0" ng-show="detailBirojasa">
    <div class="row" style="margin: -30px 0 20px 0 !important">
        <button type="button" class="rbtn btn" ng-disabled="(mMaintainPOBirojasa.TombolKirim == false ? true:false)"
            style="float: right" onclick="this.blur()" ng-click="kirim()" ladda="savingState" data-style="expand-left"
            tabindex="0">
            <span class="ladda-label"><i class="fa fa-fw fa-paper-plane"></i>&nbsp;Kirim</span><span class="ladda-spinner"></span>
        </button>
        <bs-print cetakan-url="{{printPO}}">
            <bsbutton-print>
                <button class="rbtn btn" style="float:right" ng-show="rightStatus != 'Batal PO'" ng-disabled="(mMaintainPOBirojasa.TombolCetak == false ? true:false)">
                    <i class="fa fa-print" aria-hidden="true"></i>&nbsp&nbspCetak PO
                </button>
            </bsbutton-print>
        </bs-print>
		<button type="button" class="rbtn btn" ng-show="rightStatus != 'Batal PO'" ng-disabled="(mMaintainPOBirojasa.TombolCetak == false ? true:false)"
            style="float: right" onclick="this.blur()" ng-click="MaintainPoBiroJasaDownloadFile()" ladda="savingState" data-style="expand-left"
            tabindex="0">
            <span class="ladda-label"><i class="fa fa-fw fa-pencil"></i>&nbsp;Download File</span><span class="ladda-spinner"></span>
        </button>
        <button type="button" class="rbtn btn" ng-disabled="(mMaintainPOBirojasa.TombolUbah == false ? true:false)"
            style="float: right" onclick="this.blur()" ng-click="ubah('ubah')" ladda="savingState" data-style="expand-left"
            tabindex="0">
            <span class="ladda-label"><i class="fa fa-fw fa-pencil"></i>&nbsp;Ubah</span><span class="ladda-spinner"></span>
        </button>
        <button type="button" class="rbtn btn" ng-disabled="(mMaintainPOBirojasa.TombolBatal == false ? true:false)"
            style="float: right" onclick="this.blur()" ng-click="batal()" ladda="savingState" data-style="expand-left"
            tabindex="0">
            <span class="ladda-label"><i class="fa fa-fw fa-times"></i>&nbsp;Batal PO</span><span class="ladda-spinner"></span>
        </button>
        <button ng-click="awal()" class="wbtn btn" style="float: right">Kembali</button>
    </div>
    <!--<div class="row" style="margin-bottom:10px;margin-left:0px">
        <label class="col-md-2">Nomor PO </label>
        <label class="col-md-10">: {{mMaintainPOBirojasa.POBiroJasaUnitNo}}</label>        
    </div>
    <div class="row" style="margin-bottom:10px;margin-left:0px">
        <label class="col-md-2">Vendor Biro Jasa </label>
        <label class="col-md-10">: {{mMaintainPOBirojasa.ServiceBureauName}}</label>
	</div>-->
    <div class="row">
        <div class="col-md-3">
            <div class="form-group"> <label>No PO</label>
                <div class="input-icon-right"> <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" name="NoPO"
                        ng-model="mMaintainPOBirojasa.POBiroJasaUnitNo" ng-disabled="true" disabled="disabled">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group"> <label>Vendor Biro Jasa</label>
                <div class="input-icon-right"> <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" name="VendorBiroJasa"
                        ng-model="mMaintainPOBirojasa.ServiceBureauName" ng-disabled="true" disabled="disabled">
                </div>
            </div>
        </div>
    </div>


    <div class="grid" ui-grid="gridDetailNoRangka" ui-grid-auto-resize></div>
    <div class="row" style="margin: 10px 0 0 0">
        <p align="center">

            <!-- <button type="button" class="rbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()" ng-click="cetak()" ng-disabled="selctedRow == null || selctedRow == undefined || selctedRow.length == 0" ladda="savingState" data-style="expand-left" tabindex="0">
                <span class="ladda-label"><i class="fa fa-fw"></i>&nbsp;Cetak PO</span><span class="ladda-spinner"></span>
            </button> -->

        </p>
    </div>
</div>

<div class="ui modal pilihNoRangkaBiroJasa">
    <div>
        <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            <h4 class="modal-title"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;Pilih No Rangka</h4>
        </div>
        <div class="modal-body">
            <!-- <div class="row filtersearch" style="margin-right:0px;padding-bottom:5px;">
                <div class="col-md-12" style="padding-right:0px;">
                    <div class="input-group col-md-4">

                        <input type="text" ng-model-options="{debounce: 250}" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Filter" ng-model="gridApi.grid.columns[filterColIdx].filters[0].term">

                        <div class="input-group-btn dropdown" uib-dropdown="">
                            <button id="filter" type="button" class="btn wbtn ng-binding dropdown-toggle" uib-dropdown-toggle="" data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="false">CABANG&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" uib-dropdown-menu="" role="menu" aria-labelledby="filter">

                                <li role="menuitem" ng-repeat="col in gridCols" class="ng-scope">
                                    <a href="#" ng-click="filterBtnChange(col)" class="ng-binding" tabindex="0">CABANG<span class="pull-right"><i class="fa fa-fw fa-filter" ng-show="gridApi.grid.columns[1].filters[0].term!='' &amp;&amp;gridApi.grid.columns[1].filters[0].term!=undefined"></i></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="grid" ui-grid="gridNoRangka" ui-grid-selection ui-grid-auto-resize></div>
        </div>
        <div class="modal-footer" style="padding: 10px 10px 10px 10px !important">
            <p align="center">
                <button type="button" class="rbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()"
                    ng-click="lanjut(selctedRow)" ng-disabled="selctedRow == null || selctedRow == undefined || selctedRow.length == 0"
                    ladda="savingState" data-style="expand-left" tabindex="0">
                    <span class="ladda-label"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;Lanjut</span><span class="ladda-spinner"></span>
                </button>
                <button ng-click="keluarFrame()" class="wbtn btn ng-binding ladda-button" style="float: right">Kembali</button>
            </p>
        </div>
    </div>
</div>

<div id="MaintainPoBiroJasaModalDaftarNoRangka" class="ui modal noRangkaSelectedBiroJasa" ng-class="{'ui modal noRangkaSelectedBiroJasa transition visible active scrolling' : noRangkaSelectedBiroJasaStatus == true, 'ui modal noRangkaSelectedBiroJasa' : noRangkaSelectedBiroJasaStatus == false }">
    <div>
        <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            <h4 class="modal-title"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;Daftar No Rangka</h4>
        </div>
        <div class="modal-body" style="padding-bottom: 10px !important">
            <div class="row col-md-12">
                <div class="row col-md-4" style="padding: 0 0 0 0; margin: 0 0 0 0">
                    <bsreqlabel>Biro Jasa</bsreqlabel>
                    <bsselect name="birojasa" ng-change="getPriceJasa(mMaintainPOBirojasa.ServiceBureauId)" data="birojasa"
                        item-text="ServiceBureauName, ServiceBureauCode" ng-model="mMaintainPOBirojasa.ServiceBureauId"
                        item-value="ServiceBureauId" placeholder="Pilih Biro Jasa" required="true" icon="fa fa-search ">
                    </bsselect>
                    <!-- <bsselect name="birojasa" data="birojasa"
                        item-text="ServiceBureauName, ServiceBureauCode" ng-model="mMaintainPOBirojasa.ServiceBureauId"
                        item-value="ServiceBureauId" placeholder="Pilih Biro Jasa" required="true" icon="fa fa-search ">
                    </bsselect> -->
                </div>
                <div class="row col-md-4" style="padding: 0 0 0 0; margin: 0 0 0 0">

                </div>
                <div class="row col-md-4" style="padding: 0 0 0 0; margin: 0 0 0 0">
                    <div style="font-size:10px;margin-top:40px;">
                        <p align="right">
                            NOTE * : Klik 2 kali pada field Harga untuk mengubah harga.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row" style="margin: 30px 0 0 0">
                <div class="grid" ui-grid="gridNoRangkaDocument" style="margin: 30px 0 0 0; height: 300px;"
                    ui-grid-edit ui-grid-auto-resize></div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4" style="float:right"> <input type="tel" style="text-align: right"
                        input-currency number-only class="form-control" ng-model="TotalPriceJasa" disabled>
                </div>
                <div class="col-md-2" style="float:right;margin-top: 10px;text-align: right"><b>Total Biaya :</b>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <p align="center">
                <button 
                    type="button" class="rbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()"
                    ng-click="simpan()" ng-disabled="disabledSimpan||mMaintainPOBirojasa.ServiceBureauId == null || mMaintainPOBirojasa.ServiceBureauId == undefined"
                    ladda="savingState" data-style="expand-left" tabindex="0">
                    <span class="ladda-label"><i class="fa fa-fw fa-check"></i>&nbsp;Simpan</span><span class="ladda-spinner"></span>
                </button>
                <button ng-click="back()" class="wbtn btn ng-binding ladda-button" style="float: right">Kembali</button>
            </p>
        </div>
    </div>
</div>