<script type="text/javascript">
    function IfGotProblemWithModal() {
        $('body .modals').remove();
    }

</script>
<style type="text/css">
    @media only screen and (max-width: 600px) {
        .nav.nav-tabs {
            display: none;
        }
    }

    .input-group.input-group-unstyled input.form-control {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .input-group-unstyled .input-group-addon {
        border-radius: 4px;
        border: 0px;
        background-color: transparent;
    }

    .adv-srch {
        padding: 10px;
        margin-bottom: 0px;
        border: 1px solid #e2e2e2;
        background-color: rgba(213, 51, 55, 0.02);
    }

    .adv-srch-on {
        padding-top: 4px !important;
        padding: 6px;
        margin: 0 3px 0 0;
        margin-bottom: -5px !important;
        border: 1px solid #e2e2e2;
        border-bottom-style: none !important;
        background-color: #FEFBFB;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .colorsrch {
        color: red;
    }

    .modalpadding {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
        border-radius: 3px;
    }

    /*@media only screen and (max-width: 500px) {
        .btnUp {
            margin-top: 10px !important;
        }
    }*/

    .noppadingFormGroup {
        margin-bottom: 0px !important;
    }

    .ScrollStyle {
        max-height: 400px;
        overflow-y: scroll;
    }

    .item-modal {
        border: none;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd !important;
        margin: 10px 30px 10px 30px !important;
    }

    .mobileAddBtn {
        padding: 0 0 0 1!important;
        font-size: 15px;
    }

    .mobileFilterBtn {
        padding: 0 0 0 1!important;
        font-size: 13px;
        width: 100%;
        float: right;
        /*background-color: silver;*/
    }

    .filterMarg {
        margin-bottom: 5px;
    }

    @media only screen and (max-width: 430px) {
        .iconFilter {
            margin-left: -4px;
        }
    }

    @media only screen and (max-width: 500px) {
        .btnUp {
            margin: -28px 0px 0 0 !important;
        }
    }

    @media (min-width: 501px) and (max-width: 600px) {
        .btnUp {
            margin: -36px 0px 0 0 !important;
        }
    }

    @media (min-width: 601px) {
        .btnUp {
            margin: -33px 0px 0 0 !important;
        }
    }

    @media (max-width: 600px) {
        .inputForm {
            margin: 45px 0 0 0 !important;
        }
    }

    .mobilesearchBtn {
        text-decoration: none;
    }

    @media (max-width: 350px) {
        .bsbreadcrumb .bsbreadcrumb-path,
        .bsbreadcrumb i {
            display: block !important;
        }
    }

    /*Modal*/

    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
        pointer-events: none;
        /* This makes sure that we can still click outside of the modal to close it */
    }

    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
        pointer-events: none;
    }

    .modal-content {
        /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
        width: inherit;
        height: inherit;
        /* To center horizontally */
        margin: 0 auto;
        pointer-events: all;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .fifthDate button span {
        background-color: crimson;
        border-radius: 32px;
        color: black;
    }

    .fourthDate button span {
        background-color: darkseagreen;
        border-radius: 32px;
        color: black;
    }

    .thirdDate button span {
        background-color: lightsteelblue;
        border-radius: 32px;
        color: black;
    }

    .secondDate button span {
        background-color: sandybrown;
        border-radius: 32px;
        color: black;
    }

    .dafirstDate button span {
        background-color: mediumpurple;
        border-radius: 32px;
        color: black;
    }

    .firstDate button span {
        background-color: mediumpurple;
        border-radius: 32px;
        color: black;
        width: 300px;
        height: 300px;
    }
</style>
<link rel="stylesheet" href="css/uistyle.css">


<div>
    <!-- Tambahan Aldo -->
    <div ng-show="Show_Pembuatan_Booking_Unit">
        <button ng-click="CekStok()" class="rbtn btn ng-binding ladda-button" style="float: right">Cek Stok</button>
        <button ng-click="KembaliBookingList()" class="rbtn btn ng-binding ladda-button" style="float: right">Kembali</button>

        <div class="row" style="padding:5px">
            <h2>PROSPECT INFO</h2>
        </div>

        <bsreqlabel>Prospect</bsreqlabel>
        <div class="input-icon-right" style="margin-bottom:10px;">
            <bsselect id="comboBox" name="filterModel" ng-model="mBookingUnit.ProspectId" data="getProspect" item-text="ProspectName"
                item-value="ProspectId" on-select="selectProspectName(selected)" placeholder="Prospect" icon="fa fa-user" required>
            </bsselect>
        </div>

        <bsreqlabel>Handphone</bsreqlabel>
        <div class="input-icon-right" style="margin-bottom:10px;">
            <i class="fa fa-phone"></i>
            <input type="text" class="form-control" name="Handphone" placeholder="Prospect Handphone" ng-model="mBookingUnit.HP" ng-maxlength="50"
                required>
        </div>

        <bslabel>Email</bslabel>
        <div class="input-icon-right">
            <i class="fa fa-envelope"></i>
            <input type="text" class="form-control" name="Email" placeholder="Prospect Email" ng-model="mBookingUnit.Email" ng-maxlength="50"
                required>
        </div>

        <button class="btn btn-default dropdown-toggle dropdown-toggle" type="button" ng-disabled="true" id="dropdownBtnListDataRadio"
            style="width: 100%; text-align:left; margin-top:12px; background-color:#888b91; color:white" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Info Kendaraan</button>

        <div class="list-group" id="dropdownContent" aria-labelledby="dropdownMenu1" style="">
            <div ng-repeat="Info_Kendaraan in mBookingUnit.ProspectDetailUnit" class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed">
                <div class="row">
                    <div class="col-sm-12">
                        <p style="font-size: 14px">{{Info_Kendaraan.VehicleModelName}}</p>
                        <p>
                            <ul class="list-inline">
                                <li style="font-size: 12px;">{{ Info_Kendaraan.Description }} {{ Info_Kendaraan.ColorName }}</li>
                                <li style="float:right;font-size: 12px;">
                                    <input type="radio" name="SelectedUnit" ng-click="selectKendaraan($parent.SelectedUnit)"
                                        ng-value="{{Info_Kendaraan}}" ng-model="$parent.SelectedUnit" style="margin-left:50px;height:25px; width:25px; vertical-align: middle;">
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li style="font-size: 12px;">{{ Info_Kendaraan.KatashikiCode }} - {{ Info_Kendaraan.SuffixCode }}</li>
                            </ul>
                            <ul class="list-inline">
                                <li style="font-size: 12px;">Tahun Kendaraan : {{Info_Kendaraan.ProductionYear}}</li>
                            </ul>
                            <ul class="list-inline">
                                <li>Jml:{{Info_Kendaraan.Qty}}
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="Show_Stok_Info_Booking_Unit">
        <button ng-click="Back_To_Prospect_Info()" class="rbtn btn ng-binding ladda-button" style="float: right;">Kembali Ke Info Prospek</button>

        <div style="background-color: rgb(232, 234, 237);">
            <div style="margin-left: 10px;">
                <div class="row">
                    <b style="font-size: 12px">{{countDataItem}}/{{Head_Info_Kendaraan.Qty}}</b>
                </div>
                <div class="row">
                    <b style="font-size: 20px">{{Head_Info_Kendaraan.VehicleModelName}}</b>
                </div>
                <b>{{Head_Info_Kendaraan.Description}}-{{Head_Info_Kendaraan.ColorName}}</b>
            </div>

        </div>

        <div class="listData">
            <button class="btn btn-default" type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;"
                aria-haspopup="true" aria-expanded="false">
                <ul class="list-inline">
                    <li style="font-size: 14px;">Free</li>
                    <li style="float:right;margin-top: 10px; margin-right:3px;">
                        <span style="float:right; margin-right:3px;"> {{ShowHideFreeStock_PanelIcon}} </span>
                    </li>
                    <li style="float:right;margin-top: 10px; margin-right:3px;font-size: 14px;">
                        <span>Total:{{Jumlah_Stock_Free}}</span>
                    </li>
                </ul>
            </button>
        </div>

        <div class="list-group">
            <div ng-repeat="StockInfoAvaliability in ArrayStockInfoAvaliability" ng-if="StockInfoAvaliability.StatusStockName == 'Free' && StockInfoAvaliability.VehicleTypeId == SelectedUnit.VehicleTypeId"
                class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            <ul class="list-inline">
                                <li style="font-size: 12px;">
                                    <p>Category:</p>
                                    <p>{{ StockInfoAvaliability.StatusUnitName }}</p>
                                </li>
                                <li style="font-size: 12px;">
                                    <p>RRN:</p>
                                    <p>{{ StockInfoAvaliability.RRNNo }}</p>
                                </li>
                                <li style="font-size: 12px;">
                                    <p>NoRangka:</p>
                                    <p>{{ StockInfoAvaliability.FrameNo }}</p>
                                </li>
                                <li style="font-size: 12px;float:right">
                                    <button ng-click="Define_PDD(StockInfoAvaliability)" class="btn btn-default" style="float:right; border:0; padding-left:5px; background-color:transparent; box-shadow:none;"
                                        id="myButton" type="button">
                                        <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
                                    </button>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="listData">
        <button ng-click="ShowHideReservedStock_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle" type="button"
            style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <ul class="list-inline">
            <li style="font-size: 14px;">Reserved</li>
            <li style="float:right;margin-top: 10px; margin-right:3px;"><span style="float:right; margin-right:3px;"> {{ShowHideReservedStock_PanelIcon}} </span></li>
            <li style="float:right;margin-top: 10px; margin-right:3px;font-size: 14px;"><span>Total:{{Jumlah_Stock_Reserved}}</span></li>
        </ul>                               
        </button>
    </div>-->

        <!--<div ng-show="ShowHideReservedStock" class="list-group" id="dropdownContent" aria-labelledby="dropdownMenu1">
        <div ng-repeat="StockInfoAvaliability in ArrayStockInfoAvaliability" ng-if="StockInfoAvaliability.StatusStockName == 'Reserved' "
            class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <ul class="list-inline">
                            <li style="font-size: 12px;">
                                <p>Category:</p>
                                <p>{{ StockInfoAvaliability.StatusUnitName }}</p>
                            </li>
                            <li style="font-size: 12px;">
                                <p>RRN:</p>
                                <p>{{ StockInfoAvaliability.RRNNo }}</p>
                            </li>
                            <li style="font-size: 12px;">
                                <p>NoRangka:</p>
                                <p>{{ StockInfoAvaliability.FrameNo }}</p>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>-->
    </div>

    <div ng-show="Show_Pembuatan_Booking_Unit_PDD">
        <div class="input-icon-right">
            <button style="float: right;" ng-click="To_Booking_Fee_Dan_Aju_Diskon(mNegotiation_Pdd)" class="rbtn btn ng-binding ladda-button">Lanjut</button>
            <button style="float: right;" ng-click="Kembali_Ke_Stok_Info()" class="rbtn btn ng-binding ladda-button">Kembali</button>
        </div>
        <p>
            <br>
        </p>
        <p>
            <br>
        </p>
        <div style="background-color: rgb(232, 234, 237);">
            <div style="margin-left: 10px;">
                <h2>{{Head_Info_Kendaraan.ProspectName}}</h2>

                <p>
                    <b>{{Head_Info_Kendaraan.VehicleModelName}} {{Head_Info_Kendaraan.Description}} - {{Head_Info_Kendaraan.ColorName}}</b>
                </p>
            </div>
        </div>

        <fieldset style="margin-left:10px;margin-top:20px" ng-disabled="disabledNegoPdd">
            <div class="input-icon-right">
                <bslabel>Sumber Dana</bslabel>
                <bsselect style="margin-bottom: 10px" ng-model="mNegotiation_Pdd.FundSourceId" data="optionsMetodePembayaran" item-text="FundSourceName"
                    item-value="FundSourceId" on-select="mNegotiation_Pdd_Selected_MetodePembayaran(selected)" placeholder="Select Sumber Dana"
                    icon="fa fa-search">
                </bsselect>
            </div>
            <div class="input-icon-right">
                <p>Trade In</p>
                <input style="margin-left:10px;" type="checkbox" name="TradeIn" ng-checked="TradeIn" ng-model="mNegotiation_Pdd.TradeInBit">Ya
            </div>
            <div style="margin-top:10px">
                <div class="input-icon-right">
                    <bslabel>Leasing</bslabel>
                    <bsselect ng-disabled="Leasing_Details_Nego" style="margin-bottom: 10px;margin-top:5px;" ng-model="mNegotiation_Pdd.LeasingId"
                        data="LeasingOptions" item-text="LeasingName" item-value="LeasingId" on-select="leasing(selected)" placeholder="Select Leasing"
                        icon="fa fa-search">
                    </bsselect>
                </div>
                <bsreqlabel>Tenor</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <bsselect ng-disabled="Leasing_Details_Nego" style="margin-bottom: 10px" ng-model="mNegotiation_Pdd.LeasingTenorId" data="tenor"
                        item-text="LeasingTenorTime" item-value="LeasingTenorId" on-select="tenorValue(selected)" placeholder="Select Tenor"
                        icon="fa fa-search">
                    </bsselect>
                </div>
                <bsreqlabel>Bunga(%)</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-percent"></i>
                    <input ng-disabled="Leasing_Details_Nego" type="text" class="form-control" name="Bunga" placeholder="Bunga(%)" ng-model="mNegotiation_Pdd.Bunga"
                        ng-maxlength="50" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                </div>
            </div>
            <p>
                <br>
            </p>
            <div class="input-icon-right">
                <p>Direct Delivery Dari PDC</p>
                <input style="margin-left:10px;" type="checkbox" ng-checked="checkDirectDeliveri" ng-model="mNegotiation_Pdd.DirectDeliveryPDC"
                    name="DirectDeliveryPDC">Ya
            </div>
            <p>
                <br>
            </p>
            <div class="input-icon-right">
                <p>Off The Road</p>
                <input style="margin-left:10px;" type="checkbox" ng-checked="checkOnOffTheRoad" name="OffTheRoad" ng-model="mNegotiation_Pdd.OnOffTheRoad">Ya
            </div>
            <p>
                <br>
            </p>
            <div class="input-icon-right">
                <p>Pengiriman Dengan STNK</p>
                <input style="margin-left:10px;" type="checkbox" ng-checked="checkSentWithSTNK" name="PengirimanDenganSTNK" ng-model="mNegotiation_Pdd.SentWithSTNK">Ya
            </div>
        </fieldset>
    </div>

    <div ng-show="Show_Pembuatan_Booking_Booking_Fee_Dan_Aju_Diskon">
        <button ng-click="KalkulasiBookingUnitDanAjuDiskon(mBookingUnit_AjuDiskon)" style="float: right" class="rbtn btn ng-binding ladda-button">Kalkulasi</button>
        <button ng-click="Back_To_Define_Pdd()" style="float: right" class="rbtn btn ng-binding ladda-button">Kembali</button>
        <p>
            <br>
        </p>
        <p>
            <br>
        </p>
        <div class="input-icon-right" style="background-color:#e8eaed;">
            <div class="row">
                <div class="col-xs-6">
                    <h2>{{Head_Info_Kendaraan.ProspectName}}</h2>
                </div>
                <div class="col-xs-6" style="text-align: right;">
                    <h3>{{countDataItem}}/{{Head_Info_Kendaraan.Qty}}</h3>
                </div>
            </div>
            <div style="margin-left: 10px;">
                {{Head_Info_Kendaraan.VehicleModelName}} {{Head_Info_Kendaraan.Description}} - {{Head_Info_Kendaraan.ColorName}}
                <p>{{Head_Info_Kendaraan.FrameNo}}
                    <b style="float: right;">Tahun Kendaraan:{{Head_Info_Kendaraan.AssemblyYear}}</b>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                Harga Kendaraan
            </div>
            <div class="col-xs-1" style="text-align: right;">
                Rp.
            </div>
            <div class="col-xs-5" style="text-align: right;">
                {{Head_Info_Kendaraan.Price}}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                Booking Fee
            </div>
            <div class="col-xs-1" style="text-align: right;">
                Rp.
            </div>
            <div class="col-xs-5" style="text-align: right;">
                <input type="text" ng-disabled="disabledBookFee" placeholder="BookingFee" ng-model="mBookingUnit_AjuDiskon.BookingFee" style="float:right;text-align: right;"
                    class="form-control">
            </div>
        </div>

        <br/>
        <div class="row" style="background-color:#e8eaed;">
            <div class="col-xs-8">
                <b>Aksesoris</b>
            </div>
            <div class="col-xs-1" style="text-align: right;">

            </div>
            <div class="col-xs-3" style="text-align: right;">
                <button ng-click="TambahAksesoris()" class="rbtn btn ng-binding ladda-button" style="float:right;">
                    <i class="fa fa-fw fa-plus"></i>
                    <span class="ladda-spinner"></span>Tambah
                </button>
            </div>
        </div>

        <div class="ui modal ModalTambahAksesorisBookingUnit">
            <div>
                <div class="modal-header" style="background-color: lightgrey">
                    <h4>{{modalAccs.Description}}</h4>
                    <p style="margin-bottom: 0px">{{modalAccs.ColorName}}&nbsp</p>
                </div>
                <div class="modal-body" style="Padding: 5px">
                    <div class="list-group" style="margin: 10px 10px 10px 10px !important" id="dropdownContentListDataRadio" aria-labelledby="dropdownMenu1">
                        <div class="row" style="margin: 0 0 10px 0">
                            <label>Tipe Aksesories</label>
                            <bsselect name="filterModel" ng-change="AccessoriesBookingUnitChange(modalAccs.VehicleTypeId, searchAccesoriestype)" ng-model="searchAccesoriestype"
                                data="tipeaccesories" item-text="Name" item-value="Name" on-select="" placeholder="Select" icon="fa fa-search ">
                            </bsselect>
                        </div>
                        <div ng-show="Satuan === 'OK'" class="row" style="padding: 10px 10px 10px 10px; border: 1px solid lightgrey">
                            <div class="row" style="margin: 0 0 10px 0">
                                <input type="checkbox" ng-model="searchAccesories.Classification">&nbsp TGA (Toyota Genuie Accessories)
                            </div>
                            <div class="row" style="margin: 0 0 0 0">
                                <input style="width: 80%; float:left" placeholder="Nama Aksesories" type="text" class="form-control" ng-model="searchAccesories.PartName">
                                <button ng-click="AccesoriesSatuanBookingUnit(modalAccs.VehicleTypeId, searchAccesories)" style="width: 20%; float:right; margin: 0 0 0 0"
                                    class="btn rbtn">Cari</button>
                            </div>
                        </div>

                        <!--Packet-->
                        <div ng-show="searchAccesoriestype == 'Paket'" class="list-group-item" ng-repeat="item in acessoriesVehicle" style="padding:10px 0px 10px 10px; background-color:#e8eaed;"
                            ng-click="toggleCheckedPackageAccsBookingUnit(item);">
                            <div class="row">
                                <div class="col-sm-12" style="margin-right: 0px">
                                    <h7 style="float: left;">
                                        <b>{{item.AccessoriesPackageName}}</b>
                                    </h7>
                                    <span style="float:right; ">
                                        <i id="itemBtnRadio1" class="fa fa-check-circle-o fa-2x fa-lg" ng-style="{'color': item.checked == true ? '#3df747':'#000000'}"
                                              aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <div style="font-size:13px; margin: 0 0 0 10px">@ Rp.{{item.Price}}</div>
                            <!--<div ng-if="item.ApprovalFlag==0" style="font-size:10px;">Not Approved</div>-->
                        </div>

                        <!--Satuan-->
                        <div ng-show="searchAccesoriestype == 'Satuan'" class="list-group-item" ng-repeat="item in acessoriesVehiclesatuan" style="padding:10px 0px 10px 10px; background-color:#e8eaed;"
                            ng-click="toggleCheckedPcsAccsBookingUnit(item);">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h7 style="float: left;">{{item.PartsName}}</h7>
                                    <span style="float:right; ">
                                        <i id="itemBtnRadio1" class="fa fa-check-circle-o fa-2x fa-lg" ng-style="{'color': item.checked == true ? '#3df747':'#000000'}"
                                              aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <div style="font-size:10px;">{{item.RetailPrice}}</div>
                            <!--<div ng-if="item.ApprovalFlag==0" style="font-size:10px;">Not Approved</div>-->
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="padding: 10px 10px 0 10px">
                    <div class="listData" id="addMode" style="float:right;">
                        <!--<button id="addBtn" class="rbtn btn ng-binding ladda-button" style="float: right; bottom: 10px;" ng-click="RejectData()">Reject </button>-->
                        <button id="addBtn" class="rbtn btn ng-binding ladda-button" style="float: right; bottom: 10px;" ng-click="PilihAksesoriesBookingUnit(item)">Pilih </button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-repeat="List_Aksesoris_Paket in tempListPaketAcc">
            <div class="row">
                <div class="col-xs-11">
                    <p style="font-size: 12px">{{List_Aksesoris_Paket.AccessoriesPackageName}}</p>
                    <!--<p ng-if="List_Aksesoris.PartsId != null" style="font-size: 12px">{{List_Aksesoris.PartsName}}</p>-->
                    <p>
                        <ul class="list-inline">
                            <li style="width:100px;">@Rp {{List_Aksesoris_Paket.Price}}
                            </li>
                            <!--<li ng-if="List_Aksesoris.PartsId != null" style="width:100px;">@Rp {{List_Aksesoris_Paket.RetailPrice}}

                        </li>-->
                            <li>
                                <input type="number" id="myNumber" class="form-control" step="1" pattern="[0-9]" value="1" min="1" ng-model="List_Aksesoris_Paket.Qty">
                            </li>
                            <li>
                                <i class="fa fa-2x fa-minus-circle" ng-click="RemoveAksesorisPaket($index)"></i>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div ng-repeat="List_Aksesoris in tempListAcc">
            <div class="row">
                <div class="col-xs-11">
                    <!--<p ng-if="List_Aksesoris.AccessoriesPackageId != null" style="font-size: 12px">{{List_Aksesoris.AccessoriesPackageName}}</p>-->
                    <p style="font-size: 12px">{{List_Aksesoris.AccessoriesName}}</p>
                    <p>
                        <ul class="list-inline">
                            <!--<li ng-if="List_Aksesoris.AccessoriesPackageId != null" style="width:100px;">@Rp {{List_Aksesoris.Price}}
                        </li>-->
                            <li style="width:100px;">@Rp {{List_Aksesoris.Price}}

                            </li>
                            <li>
                                <input type="number" id="myNumber" class="form-control" step="1" pattern="[0-9]" value="1" min="1" ng-model="List_Aksesoris.Qty">
                            </li>
                            <li>
                                <i class="fa fa-2x fa-minus-circle" ng-click="RemoveAksesoris($index)"></i>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

        <br/>
        <div class="row" style="background-color:#F3F4F5;">
            <div class="col-xs-8">
                <b>Karoseri</b>
            </div>
            <div class="col-xs-1" style="text-align: right;">

            </div>
            <div class="col-xs-3" style="text-align: right;">
                <button onclick="" ng-click="TambahKaroseri()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
                    <i class="fa fa-fw fa-plus"></i>
                    <span class="ladda-spinner"></span>Tambah
                </button>
            </div>
        </div>

        <div ng-repeat="List_Karoseri in tempListKaroseri">
            <div class="row">
                <div class="col-xs-6">
                    <p style="font-size: 12px">
                        <div style="float: left">{{List_Karoseri.KaroseriName}} </div>
                    </p>
                </div>
                <div class="col-xs-2">
                    <b>Rp. </b>
                </div>
                <div class="col-xs-4">
                    <div style="float: right">{{List_Karoseri.Price}}
                        <i class="fa fa-2x fa-minus-circle" ng-click="removeKaroseri($index)"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui modal ModalKaroseriBookingUnit">
            <div>
                <div class="modal-header" style="background-color: lightgrey">
                    <h4>{{modalKaroseri.VehicleModelName}}</h4>
                    <p>Type {{modalKaroseri.Description}}&nbsp{{modalKaroseri.ColorName}}</p>
                </div>
                <div class="modal-body">
                    <div class="list-group" id="dropdownContentListDataRadio" aria-labelledby="dropdownMenu1">

                        <!--Packet-->
                        <div class="list-group-item" ng-repeat="item in Karoseri" style="padding:10px 0px 10px 10px; background-color:#e8eaed;" ng-click="toggleCheckedKaroseri(item);">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h7 style="float: left;">{{item.KaroseriName}}</h7>
                                    <span style="float:right; ">
                                        <i id="itemBtnRadio1" class="fa fa-check-circle-o fa-2x fa-lg" ng-style="{'color': item.checked == true ? '#3df747':'#000000'}"
                                              aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <div style="font-size:10px;">{{item.KaroseriPrice}}</div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <div class="listData" id="addMode" style="float:right;">
                        <button id="addBtn" class="rbtn btn ng-binding ladda-button" style="float: right; bottom: 10px;" ng-click="PilihKaroseri()">Pilih</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="background-color:#F3F4F5;">
            <div class="col-xs-12">
                <b>Nomor Polisi</b>
                <hr style="height:1px;border:none;color:#333;background-color:#333;">
            </div>
        </div>

        <div class="row" style="background-color:#F3F4F5;">
            <div class="col-xs-12">
                <b>Kategori Plat Nomor</b>
            </div>
        </div>

        <div class="row" style="background-color:#F3F4F5;">
            <div class="col-xs-6" style="text-align: right;">
                <select ng-options="k.NumberPlateName for k in TipePlatNomorOptions" ng-change="tipePlateValue(mBookingUnit_AjuDiskon.TipePlatNomor)"
                    class="form-control" ng-model="mBookingUnit_AjuDiskon.TipePlatNomor"></select>
            </div>
            <div class="col-xs-1">
                <i class="fa fa-fw fa-pencil-square-o fa-2x"></i>
            </div>
            <div class="col-xs-5" style="text-align: right;">
                <input type="text" ng-disabled="!disabledPlatNomor" style="float: left;" class="form-control" placeholder="Plat Nomor" ng-model="mBookingUnit_AjuDiskon.PlatNomor"
                    ng-maxlength="50">
            </div>
        </div>

        <div class="row" style="background-color:#F3F4F5;">
            <div class="col-xs-12">
                <input id="PilihNomorPolisi" type="checkbox" ng-checked="checkNoPol" ng-change="selectNoPol(mBookingUnit_AjuDiskon.ChoosePoliceNo)"
                    ng-model="mBookingUnit_AjuDiskon.ChoosePoliceNo" />Pilih Nomor Polisi
            </div>
        </div>

        <p>
            <br>
        </p>

        <div class="row" style="background-color:#F3F4F5;">
            <div class="col-xs-12">
                Pengajuan Diskon
                <hr style="height:1px;border:none;color:#333;background-color:#333;">
            </div>
        </div>

        <div class="row" style="background-color:#F3F4F5;">
            <div class="col-xs-1">
                Rp.
            </div>
            <div class="col-xs-11">
                <input ng-disabled="disabledDiskon" type="text" style="margin-bottom: 10px; text-align: right" class="form-control" placeholder="Pengajuan Diskon"
                    ng-model="mBookingUnit_AjuDiskon.RequestDiscount" ng-maxlength="50">
            </div>
        </div>
    </div>



    <div ng-show="Show_Penambahan_Aksesoris">
        <div style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
            <p>{{Head_Info_Kendaraan.VehicleModelName}}</p>
            <p>{{Head_Info_Kendaraan.Description}}</p>
        </div>
        <div style="padding:10px 0px 10px 10px; ">
            <p>Material Category</p>
            <p>Aksesoris</p>
        </div>
        <div style="padding:10px 0px 10px 10px; ">
            <p>
                <bslabel>Sub Category</bslabel>
                <bsselect name="SubAksesoris" ng-model="mAksesorisAccessoriesPackageId" data="getPaketAksesoris" item-text="AccessoriesPackageName"
                    item-value="AccessoriesPackageId" on-select="getItemAksesoris(selected)" placeholder="Select" icon="fa fa-search"
                    required>
                </bsselect>
            </p>
        </div>
        <div ng-repeat="Daftar_Aksesoris in Daftar_Aksesoris_To_Repeat" class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
            <div class="row">
                <div class="col-sm-11">
                    <p>
                        <ul class="list-inline">
                            <li>
                                <p>{{Daftar_Aksesoris.AccessoriesName}}</p>
                            </li>
                            <li>@ Rp. {{Daftar_Aksesoris.Price}}</li>
                            <li style="float:right">
                                <input type="checkbox" ng-model="AksesorisSelectToggle" ng-change="AksesorisSelectedChanged(Daftar_Aksesoris)" />
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div style="padding:10px 0px 10px 10px; ">
            <div class="row" style="">
                <button onclick="" ng-click="SimpanDaftarAksesoris()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
                    Pilih
                </button>
                <button ng-click="Back_To_Pembuatan_Booking_Booking_Fee_Dan_Aju_Diskon()" class="rbtn btn ng-binding ladda-button" style="float: right;">Kembali</button>
            </div>
        </div>
    </div>

    <div ng-show="Show_RincianHarga">
        <div style="background-color: rgb(232, 234, 237);">
            <div style="margin-left: 10px;">
                <h2>{{Head_Info_Kendaraan.ProspectName}}</h2>
                <br/>
                <b>{{Head_Info_Kendaraan.VehicleModelName}} {{Head_Info_Kendaraan.Description}} - {{Head_Info_Kendaraan.ColorName}}</b>
            </div>
        </div>
        <p>
            <br>
        </p>
        <!--<div class="row" style="margin: 0;background-color: rgb(232, 234, 237)">
        <div class="col-xs-2">
            <b>Jml</b>
        </div>
        <div class="col-xs-5">
            <b>Nama</b>
        </div>
        <div class="col-xs-1">

        </div>
        <div class="col-xs-4">
            <b>Total</b>
        </div>
    </div>
    <div class="row" style="margin: 0;">
        <div class="col-xs-2">
            <b>{{Head_Info_Kendaraan.Qty}}</b>
        </div>
        <div class="col-xs-5">
            <b>Harga Kendaraan</b>
        </div>
        <div class="col-xs-1">
            <b>Rp.</b>
        </div>
        <div class="col-xs-4" style="text-align: right;">
            <b>{{TotalHargaKendaraan}}</b>
        </div>
    </div>
    <div class="row" style="margin: 0;">
        <div class="col-xs-2">
            <b>{{Head_Info_Kendaraan.Qty}}</b>
        </div>
        <div class="col-xs-5">
            <b>Booking Fee</b>
        </div>
        <div class="col-xs-1">
            <b>Rp.</b>
        </div>
        <div class="col-xs-4" style="text-align: right;">
            <b>({{TotalBookFee}})</b>
        </div>
    </div>
    <p>
        <br>
        <hr>
    </p>
    <p>
        <b>Aksesoris</b>
        <hr style="height:1px;border:none;color:#333;background-color:#333;">
    </p>
    <div class="row" style="margin: 0;background-color: rgb(232, 234, 237)">
        <div class="col-xs-2">
            <b>Jml</b>
        </div>
        <div class="col-xs-5">
            <b>Nama</b>
        </div>
        <div class="col-xs-1">

        </div>
        <div class="col-xs-4">
            <b>Total</b>
        </div>
    </div>
    <div class="row" style="margin: 0;" ng-repeat="rincianACCPaket in TotalListPaket">
        <div class="col-xs-2">
            <b>{{rincianACCPaket.Qty}}</b>
        </div>
        <div class="col-xs-5">
            <b>{{rincianACCPaket.AccessoriesPackageName}}</b>
                       
        </div>
        <div class="col-xs-1">
            <b>Rp.</b>
        </div>
        <div class="col-xs-4" style="text-align: right;">
            <b>{{rincianACCPaket.Price}}</b>
        </div>
    </div>
    <div class="row" style="margin: 0;" ng-repeat="rincianACC in TotalListAcc">
        <div class="col-xs-2">
            <b>{{rincianACC.Qty}}</b>
        </div>
        <div class="col-xs-5">
           <b>{{rincianACC.AccessoriesName}}</b>
            
        </div>
        <div class="col-xs-1">
            <b>Rp.</b>
        </div>
        <div class="col-xs-4" style="text-align: right;">
            <b>{{rincianACC.Price}}</b>
        </div>
    </div>-->
        <!--Single Pricing-->
        <pricing-engine js-data="jsData" disable-button="true" url-pricing="urlPricing" jumlah-data="10">
            <form-body-custom>
                <div ng-repeat="acc in TotalListPaket">
                    <div style="border: 1px dashed" class="col-xs-12 col-md-4 ColOne">Nama : {{acc.AccessoriesPackageName}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColTwo">Qty : {{acc.Qty}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColThree">Harga Jual(DPP) {{acc.Price}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColTwo">PPN : {{acc.PPN}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColThree">Total inc(VAT) : {{acc.TotalHargaAcc}}</div>
                    <br>
                    <hr/>
                </div>
                <div ng-repeat="acc in TotalListAcc">
                    <div style="border: 1px dashed" class="col-xs-12 col-md-4 ColOne">Nama : {{acc.AccessoriesName}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColTwo">Qty : {{acc.Qty}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColThree">Harga Jual(DPP) {{acc.Price}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColTwo">PPN : {{acc.PPN}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColThree">Total inc(VAT) : {{acc.TotalHargaAcc}}</div>
                    <br>
                    <hr/>
                </div>
                <div ng-repeat="acc in TotalListKaroseri">
                    <div style="border: 1px dashed" class="col-xs-12 col-md-4 ColOne">Nama : {{acc.KaroseriName}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColTwo">Qty : {{acc.Qty}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColThree">Harga Jual(DPP) {{acc.Price}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColTwo">PPN : {{acc.PPN}}</div>
                    <div style="border: 1px dashed" class="col-xs-6 col-md-4 ColThree">Total inc(VAT) : {{acc.TotalHargaKaroseri}}</div>
                    <br>
                    <hr/>
                </div>

            </form-body-custom>
        </pricing-engine>
        <div class="row">
            <button onclick="" ng-click="Hitung()" style="float: right" class="rbtn btn ng-binding ladda-button">
                Calculate
            </button>
        </div>
        <!--<input type="button" value="Controller Function" ng-click="GetDataFromFactory()"/>  -->
        <p>
            <br>
            <hr>
        </p>
        <!--<p>
        <b>Karoseri</b>
        <hr style="height:1px;border:none;color:#333;background-color:#333;">
    </p>
    <div class="row" style="margin: 0;background-color: rgb(232, 234, 237)">
        <div class="col-xs-2">
            <b>Jml</b>
        </div>
        <div class="col-xs-5">
            <b>Nama</b>
        </div>
        <div class="col-xs-1">

        </div>
        <div class="col-xs-4">
            <b>Total</b>
        </div>
    </div>
    <div class="row" style="margin: 0;" ng-repeat="rincianKaroseri in tempListKaroseri">
        <div class="col-xs-2">
            <b>1</b>
        </div>
        <div class="col-xs-5">
            <b>{{rincianKaroseri.KaroseriName}}</b>
        </div>
        <div class="col-xs-1">
            <b>Rp.</b>
        </div>
        <div class="col-xs-4" style="text-align: right;">
            <b>{{rincianKaroseri.Price}}</b>
        </div>
    </div>
    <p>
        <br>
        <hr>
    </p>-->
        <p>
            <b>Nomor Polisi</b>
            <hr style="height:1px;border:none;color:#333;background-color:#333;">
        </p>
        <div class="row" style="margin: 0;background-color: rgb(232, 234, 237)">
            <div class="col-xs-2">
                <b>Jml</b>
            </div>
            <div class="col-xs-5">
                <b>Nama</b>
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-4">
                <b>Total</b>
            </div>
        </div>
        <div class="row" style="margin: 0;" ng-repeat="listPlate in listPlateNumber">
            <div class="col-xs-2">
                <b>1</b>
            </div>
            <div class="col-xs-5">
                <b>{{listPlate.NumberPlateName}} - {{listPlate.PlatNomor}}</b>
            </div>
            <div class="col-xs-1">
                <b></b>
            </div>
            <div class="col-xs-4" style="text-align: right;">
                <b></b>
            </div>
        </div>
        <p>
            <br>
            <hr>
        </p>
        <p>
            <b>Pengajuan Diskon</b>
            <hr style="height:1px;border:none;color:#333;background-color:#333;">
        </p>
        <!--<div class="row" style="margin: 0;background-color: rgb(232, 234, 237)">
        <div class="col-xs-2">
            <b>Jml</b>
        </div>
        <div class="col-xs-5">
            <b>Nama</b>
        </div>
        <div class="col-xs-1">

        </div>
        <div class="col-xs-4">
            <b>Total</b>
        </div>
    </div>
    <div class="row" style="margin: 0;">
        <div class="col-xs-2">
            <b>{{Head_Info_Kendaraan.Qty}}</b>
        </div>
        <div class="col-xs-5">
            <b>Pengajuan Diskon</b>
        </div>
        <div class="col-xs-1">
            <b>Rp.</b>
        </div>
        <div class="col-xs-4" style="text-align: right;">
            <b>({{TotalAjuDiskon}})</b>
        </div>
    </div>
    <p>
        <br>
        <hr>
    </p>-->
        <p>
            <div class="row" style="margin: 0;">
                <div class="col-xs-2">
                    <i class="fa fa-fw fa-2x fa-pencil-square-o"></i>
                </div>
                <div class="col-xs-10">
                    <input type="text" style="margin-bottom: 10px;" class="form-control" placeholder="Alasan Pengajuan" ng-model="RincianHarga.ReasonReqDiscount"
                        ng-maxlength="50">
                </div>

            </div>


            <div class="row" style="background-color:#d53337;">
                <div class="col-sm-11">
                    <p>
                        <ul class="list-inline" style="color: white">
                            <li style="font-size: 14px;">
                                <b>Jumlah Unit</b>
                            </li>
                            <li style="float:right;font-size: 14px;">
                                <b>{{Head_Info_Kendaraan.Qty}}</b>
                            </li>
                        </ul>
                        <ul class="list-inline" style="color: white">
                            <li style="font-size: 14px;">
                                <b>Total Harga</b>
                            </li>
                            <li style="float:right;font-size: 14px;">
                                <b>{{jsData.Codes["[GrandTotal]"] | currency:"Rp "}}</b>
                            </li>
                        </ul>

                    </p>

                </div>
            </div>
            <br/>
            <p align="center">
                <button onclick="" ng-click="KembaliPdd()" class="rbtn btn ng-binding ladda-button">
                    Kembali
                </button>
                <button onclick="" ng-click="simpanBookingUnit()" class="rbtn btn ng-binding ladda-button">
                    Save
                </button>
            </p>
    </div>

    <div ng-show="MainPDD">
        <p>

            <button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="kalkulasiPDDNorangka();">
            Kalkulasi PDD</button>
            <!-- <button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button" style="float: right;"> Batal</button> -->
            <button id="saveBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="cancelBuatPDD()">Kembali</button>

        </p>
        <p>
            <br>
        </p>
        <div id="viewcalendar">
            <p>
                <br>
            </p>
            <div>
                <div style="display:inline-block; min-height:290px;font-size: 20px;">
                    <div ng-if="refreshCalendar">
                        <div ng-disabled="true" uib-datepicker ng-model="dt1" class="well well-sm" datepicker-options="options"></div>
                    </div>
                </div>
                <!--<hr />
                <p class="input-group">
                    <input type="text" class="form-control" ng-change="firstDateChange()" uib-datepicker-popup="{{format}}" ng-model="testDate.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>-->

                <!-- <p style="text-align: center;">
                    <button  type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                    <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
                    <button  type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
                </p> -->
            </div>

        </div>
        <p>
            <br>
        </p>
        <p>
            <br>
        </p>
        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: mediumpurple "></i>
                    <i>
                        <b> Tanggal Dokumen Komplit diterima</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>
                <div class="col-xs-6">
                    <p class="input-group">
                        <input type="text" class="form-control" ng-change="firstDateChange()" uib-datepicker-popup="{{format}}" ng-model="testDate.date"
                            is-open="popup1.opened" datepicker-options="dateOptionsBook" ng-required="true" close-text="Close"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
        </p>
        <p>
            <br>
        </p>
        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: sandybrown"></i>
                    <i>
                        <b> Tanggal DP</b>
                    </i>
                </div>
                <div class="col-xs-1">
                    <b>:</b>
                </div>
                <div class="col-xs-6">
                    <p class="input-group">
                        <input type="text" class="form-control" ng-change="secondDateChange()" uib-datepicker-popup="{{format}}" ng-model="testDate2.date"
                            is-open="popup2.opened" datepicker-options="dateOptionsBook" ng-required="true" close-text="Close"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>

            </div>
        </p>

        <p>
            <br>
        </p>
        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: lightsteelblue"></i>
                    <i>
                        <b> Tanggal Full Payment</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <p class="input-group">
                        <input type="text" class="form-control" ng-change="thirdDateChange()" uib-datepicker-popup="{{format}}" ng-model="testDate3.date"
                            is-open="popup3.opened" datepicker-options="dateOptionsBook" ng-required="true" close-text="Close"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open3()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
        </p>

        <p>
            <br>
        </p>
        <p>
            <hr>
        </p>
    </div>

    <div ng-show="KalkulasiPDDCash">
        <p>
            <br>
        </p>
        <!--<button id="saveBtn" class="rbtn btn ng-binding ladda-button" onclick="detailKalkulasiPDDCash()"> Detail</button>-->

        <button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="simpanPDDCash(bind_data)">
        Simpan</button>
        <!-- <button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button" style="float: right;"> Batal</button> -->
        <button id="saveBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="cancelPDDCashNorangka();cancelDateChange()">
        Kembali</button>

        <div id="viewcalendar">
            <!--<p style="text-align:center;"><img src="../images/app/pdd/Gambar04.png" alt="Calendar" align="middle"></p>-->
            <div style="display:inline-block; min-height:290px;font-size: 20px;">
                <div ng-if="refreshCalendar">
                    <div ng-disabled="true" uib-datepicker ng-model="dt2" class="well well-sm" datepicker-options="options"></div>
                </div>
            </div>

            <!-- <p style="text-align: center">
                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
            </p> -->
        </div>
        <p>
            <br>
        </p>
        <p>
            <br>
        </p>
        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: mediumpurple"></i>
                    <i>
                        <b> Tanggal Dokumen Komplit diterima</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <i>{{bind_data.data[0].DocCompRecDate | date:"dd MMMM yyyy"}}</i>
                </div>

            </div>
        </p>

        <p>
            <br>
        </p>
        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: sandybrown"></i>
                    <i>
                        <b> Tanggal DP</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <i>{{bind_data.data[0].DPDate | date:"dd MMMM yyyy"}}</i>
                </div>

            </div>
        </p>

        <p>
            <br>
        </p>
        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: lightsteelblue"></i>
                    <i>
                        <b> Tanggal Full Payment</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <i>{{bind_data.data[0].FullPaymentDate | date:"dd MMMM yyyy"}}</i>
                </div>

            </div>
        </p>

        <p>
            <br>
        </p>

        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: darkseagreen"></i>
                    <i>
                        <b> Tanggal STNK selesai</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <i>{{bind_data.data[0].STNKDoneDate | date:"dd MMMM yyyy"}}</i>
                </div>

            </div>
        </p>
        <p>
            <br>
        </p>
        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: crimson"></i>
                    <i>
                        <b> Pengiriman Unit</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <p class="input-group">
                        <input type="text" class="form-control" ng-change="fifthDateChange()" uib-datepicker-popup="{{format}}" ng-model="testDate5.date"
                            is-open="popup5.opened" datepicker-options="dateOptionsBook" ng-required="true" close-text="Close"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open5()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>

            </div>
        </p>
        <p>
            <br>
        </p>
        <p>
            <hr>
        </p>
        <p>
            <div>
                <b>ETA Customer :</b>
            </div>
            <div>
                <div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"
                    style="float: left;"></div>
            </div>
        </p>
        <p>
            <br>
        </p>
        <p>
            <br>
        </p>
    </div>

    <div ng-show="MainRRNKredit">
        <p>
            <button id="RRNKreditBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="kalkulasiRRNCredit()">
            Kalkulasi PDD</button>
            <!-- <button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button" style="float: right;"> Batal</button> -->
            <button id="saveBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="cancelBuatPDD()"> Kembali</button>

        </p>
        <p>
            <br>
        </p>
        <div id="viewcalendar">
            <div style="display:inline-block; min-height:290px;font-size: 20px;">
                <div ng-if="refreshCalendar">
                    <div ng-disabled="true" uib-datepicker ng-model="dt4" class="well well-sm" datepicker-options="options"></div>
                </div>
            </div>

            <!-- <p style="text-align: center;">
                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
            </p> -->

        </div>

        <p>
            <br>
        </p>

        <div class="row">
            <div class="col-xs-5">
                <i class="fa fa-square" style="color: mediumpurple "></i>
                <i>
                    <b> Tanggal Dokumen Komplit diterima</b>
                </i>
            </div>

            <div class="col-xs-1">
                <b>:</b>
            </div>

            <div class="col-xs-6">
                <p class="input-group">
                    <input type="text" class="form-control" ng-change="firstDateRRNChange()" uib-datepicker-popup="{{format}}" ng-model="testDateRRN.date"
                        is-open="popup1.opened" datepicker-options="dateOptionsBook" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
        </div>
        <p>
            <br>
        </p>
        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: sandybrown"></i>
                    <i>
                        <b> Tanggal TDP</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <p class="input-group">
                        <input type="text" class="form-control" ng-change="secondDateRRNChange()" uib-datepicker-popup="{{format}}" ng-model="testDateRRN2.date"
                            is-open="popup2.opened" datepicker-options="dateOptionsBook" ng-required="true" close-text="Close"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
        </p>
        <p>
            <br>
        </p>
    </div>

    <div ng-show="MainRRNCash">
        <p>

            <button id="kalkulasiRRNCashBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="kalkulasiRRNCash();DateStart()">
            Kalkulasi PDD</button>
            <!-- <button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button" style="float: right;"> Batal</button> -->
            <button id="saveBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="cancelBuatPDD()"> Kembali</button>

        </p>
        <p>
            <br>
        </p>
        <div id="viewcalendar">
            <!--<p style="text-align:center;"><img src="../images/app/pdd/Gambar05.png" alt="Calendar" align="middle"></p>-->
            <div style="display:inline-block; min-height:290px;font-size: 20px;">
                <div ng-if="refreshCalendar">
                    <div uib-datepicker ng-model="dt3" class="well well-sm" datepicker-options="options"></div>
                </div>
            </div>

            <!-- <p style="text-align: center;">
                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
            </p> -->
        </div>

        <p>
            <br>
        </p>
        <p>
            <br>
        </p>
        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: mediumpurple"></i>
                    <i>
                        <b> Tanggal Dokumen Komplit Diterima</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <p class="input-group">
                        <input type="text" class="form-control" ng-change="firstDateRRNChange()" uib-datepicker-popup="{{format}}" ng-model="testDateRRN.date"
                            is-open="popupRRN1.opened" datepicker-options="dateOptionsBook" ng-required="true" close-text="Close"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openRRN1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>

            </div>
        </p>

        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: sandybrown"></i>
                    <i>
                        <b> Tanggal DP</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <p class="input-group">
                        <input type="text" class="form-control" ng-change="secondDateRRNChange()" uib-datepicker-popup="{{format}}" ng-model="testDateRRN2.date"
                            is-open="popupRRN2.opened" datepicker-options="dateOptionsBook" ng-required="true" close-text="Close"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openRRN2()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>

            </div>
        </p>



        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: lightsteelblue"></i>
                    <i>
                        <b> Tanggal Full Payment</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <p class="input-group">
                        <input type="text" class="form-control" ng-change="thirdDateRRNChange()" uib-datepicker-popup="{{format}}" ng-model="testDateRRN3.date"
                            is-open="popupRRN3.opened" datepicker-options="dateOptionsBook" ng-required="true" close-text="Close"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openRRN3()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>

            </div>
        </p>
        <p>
            <br>
        </p>
        <p>
            <hr>
        </p>
        <p>
            <br>
        </p>
    </div>

    <div ng-show="MainPDDKredit">
        <p>

            <button id="kalkulasiPDDKreditBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="kalkulasiPDDNorangkaCredit()">
            Kalkulasi PDD</button>
            <!-- <button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button" style="float: right;"> Batal</button> -->
            <button id="saveBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="cancelBuatPDD()"> Kembali</button>

        </p>
        <p>
            <br>
        </p>
        <div id="viewcalendar">
            <!--<p style="text-align:center;"><img src="../images/app/pdd/Gambar07.png" alt="Calendar" align="middle"></p>-->

            <div style="display:inline-block; min-height:290px;font-size: 20px;">
                <div ng-if="refreshCalendar">
                    <div uib-datepicker ng-model="dt1" class="well well-sm" datepicker-options="options"></div>
                </div>
            </div>


            <!--<hr />
                <p class="input-group">
                    <input type="text" class="form-control" ng-change="firstDateChange()" uib-datepicker-popup="{{format}}" ng-model="testDate.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>-->

            <!-- <p style="text-align: center;">
                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
            </p> -->

        </div>

        <p>
            <br>
        </p>

        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: mediumpurple "></i>
                    <i>
                        <b> Tanggal Dokumen Komplit diterima</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <p class="input-group">
                        <input type="text" class="form-control" ng-change="firstDateChange()" uib-datepicker-popup="{{format}}" ng-model="testDate.date"
                            is-open="popup1.opened" datepicker-options="dateOptionsBook" ng-required="true" close-text="Close"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>


            </div>
        </p>

        <p>
            <br>
        </p>
        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: sandybrown"></i>
                    <i>
                        <b> Tanggal TDP</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <p class="input-group">
                        <input type="text" class="form-control" ng-change="secondDateChange()" uib-datepicker-popup="{{format}}" ng-model="testDate2.date"
                            is-open="popup2.opened" datepicker-options="dateOptionsBook" ng-required="true" close-text="Close"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>

            </div>
        </p>
        <p>
            <br>
        </p>
        <p>
            <hr>
        </p>
        <p>
            <br>
        </p>
    </div>

    <div ng-show="KalkulasiPDDKredit">
        <p>



            <button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="simpanPDDCredit()"> Simpan</button>
            <!-- <button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" onclick="cancelKalkulasiKredit()"> Batal</button> -->
            <button id="saveBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="cancelPDDNorangkaCredit()">
            Kembali</button>

        </p>
        <p>
            <br>
        </p>
        <div id="viewcalendar">
            <!--<p style="text-align:center;"><img src="../images/app/pdd/Gambar08.png" alt="Calendar" align="middle"></p>-->
            <div style="display:inline-block; min-height:290px;font-size: 20px;">
                <div ng-if="refreshCalendar">
                    <div uib-datepicker ng-model="dt4" class="well well-sm" datepicker-options="options"></div>
                </div>
            </div>

            <!-- <p style="text-align: center;">
                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
            </p> -->

        </div>

        <p>
            <br>
        </p>
        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: mediumpurple"></i>
                    <i>
                        <b> Tanggal Dokumen Komplit diterima</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <i>{{bind_data.data[0].DocCompRecDate | date:"dd MMMM yyyy"}}</i>
                </div>

            </div>
        </p>

        <p>
            <br>
        </p>
        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: sandybrown"></i>
                    <i>
                        <b> Tanggal TDP</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <i>{{bind_data.data[0].TDPDate | date:"dd MMMM yyyy"}}</i>
                </div>

            </div>
        </p>

        <p>
            <br>
        </p>
        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: darkseagreen"></i>
                    <i>
                        <b> Tanggal STNK jadi</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">
                    <i>{{bind_data.data[0].STNKDoneDate | date:"dd MMMM yyyy"}}</i>
                </div>

            </div>
        </p>
        <p>
            <br>
        </p>
        <p>
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-square" style="color: crimson"></i>
                    <i>
                        <b> Pengiriman Unit</b>
                    </i>
                </div>

                <div class="col-xs-1">
                    <b>:</b>
                </div>

                <div class="col-xs-6">

                    <p class="input-group">
                        <input type="text" class="form-control" ng-change="fifthDateChange()" uib-datepicker-popup="{{format}}" ng-model="testDate5.date"
                            is-open="popup5.opened" datepicker-options="dateOptionsBook" ng-required="true" close-text="Close"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open5()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>

                </div>

            </div>
        </p>
        <p>
            <br>
        </p>

        <p>
            <br>
        </p>
        <p>
            <hr>
        </p>
        <p>
            <div>
                <b>ETA Customer :</b>
            </div>
            <div>
                <!--<i><input type="time" id="exampleInput" name="input" ng-model="example.value"
                            placeholder="HH:mm:ss" min="00:00:00" max="23:59:59" required /></i>-->
                <div uib-timepicker ng-model="mytime2" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"
                    style="float: left;"></div>


            </div>
        </p>
        <p>
            <br>
        </p>
        <p>
            <br>
        </p>



    </div>
    <div ng-show="KalkulasiRRNCash">
        <p>


            <button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button" style="float: right" ng-click="simpanRRNCash()"> Simpan</button>
            <button id="saveBtn" class="rbtn btn ng-binding ladda-button" style="float: right" ng-click="cancelkalkulasiRRNCash();DateStart();">
            Kembali</button>
        </p>
        <p>
            <br>
        </p>
        <div id="viewcalendar" class="tab-pane fade in active">
            <!--<p style="text-align:center;"><img src="../images/app/pdd/Gambar06.png" alt="Calendar" align="middle"></p>-->
            <div style="display:inline-block; min-height:290px;font-size: 20px;">
                <div ng-if="refreshCalendar">
                    <div ng-disabled="true" uib-datepicker ng-model="dt4" class="well well-sm" datepicker-options="options"></div>
                </div>
            </div>

            <!-- <p style="text-align: center;">
            <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
            <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
        </p> -->
        </div>

        <p>
            <br>
        </p>


        <p>
            <br>
        </p>
        <p>
            <b>Estimasi Rentang Waktu</b>
        </p>
        <p>
            {{bind_data.data[0].EstimateDate}}
        </p>
        <p>
            <br>
        </p>

        <p>
            <br>
        </p>
        <p>
            <hr>
        </p>
        <p>

        </p>
        <p>
            <br>
        </p>
        <p>
            <br>
        </p>




    </div>

    <div ng-show="KalkulasiRRNKredit">
        <p>


            <button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="simpanRRNCredit()"> Simpan</button>
            <button id="saveBtn" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-click="cancelkalkulasiRRNCredit()">
            Kembali</button>

        </p>
        <p>
            <br>
        </p>
        <div id="viewcalendar">
            <!--<p style="text-align:center;"><img src="../images/app/pdd/Gambar10.png" alt="Calendar" align="middle"></p>-->
            <div style="display:inline-block; min-height:290px;font-size: 20px;">
                <div ng-if="refreshCalendar">
                    <div uib-datepicker ng-model="dt4" class="well well-sm" datepicker-options="options"></div>
                </div>
            </div>

            <!-- <p style="text-align: center;">
                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
            </p> -->

        </div>

        <p>
            <br>
        </p>


        <p>
            <br>
        </p>
        <p>
            <b>Estimasi Rentang Waktu</b>
        </p>
        <p>
            {{bind_data.data[0].EstimateDate}}
        </p>
        <p>
            <br>
        </p>

        <p>
            <br>
        </p>
        <p>
            <hr>
        </p>
        <p>

        </p>
        <p>
            <br>
        </p>
        <p>
            <br>
        </p>
    </div>

    <!-- end -->
</div>