<style type="text/css">
.progress {background: rgba(255, 255, 255, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; height: 19px;}
.progress-bar-custom {background: rgb(9, 119, 209);}
.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
.ui-grid-viewport {
        overflow-anchor: none;
    }
</style>
<div ng-include="'app/parts/stock_opname/partial/filter_detail_dsbl.html'"></div>
<div class="row">
    <div class="col-md-12">
        <label class="control-label">Status Input Hasil Stock Opname</label>
        <!-- <progress id="pb" class="form-control" value="22" max="100"></progress> -->
        <div class="progress">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="mData.itemDone" aria-valuemin="0" aria-valuemax="mData.itemTotal" style="width: {{mData.PersentaseItem}}%;">
                <span class="show"><b>{{mData.itemDone}} item dari {{mData.itemTotal}} item</b></span>
            </div>
            <!-- <label class="control-label">{{itemDone}} item dari 100 item</label> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label class="control-label">Status Selisih Amount</label>
        <!-- <progress id="pb" class="form-control" value="22" max="100"></progress> -->
        <div class="progress">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="mData.TotalSelisih" aria-valuemin="0" aria-valuemax="mData.SumHarga" style="width: {{mData.PersentaseSelisih}}%;">
                <span class="show"><b>Selisih Amount = {{mData.TotalSelisih | currency:"Rp."}} dari {{mData.SumHarga | currency:"Rp."}} </b></span>
            </div>
            <!-- <label class="control-label">{{itemDone}} item dari 100 item</label> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="grid2" ui-grid="grid_stock_opname_item" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
        <br/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div align="right">
            <!-- <button class="btn wbtn" ng-click="onShowVendorPO()">Export Hasil</button> -->
            <button class="btn wbtn" ng-click="exportHasil()">Export Hasil</button>
            <button class="btn wbtn" ng-click="cetakBinTag(mData.StockOpnameId)">Cetak Bin Tag</button>
            <button class="btn wbtn" ng-click="cetakBinTagList(mData.StockOpnameId)">Cetak List Bin Tag</button>
            <!-- <button class="btn wbtn" ng-click="Freeze()">Freeze Stock</button> -->
            <button class="btn wbtn" ng-click="approveFreeze()" ng-disabled="mData.StockOpnameStatusId > 1">Freeze Stock</button>
            <button class="btn rbtn" ng-click="onCancelDocument(mData)" ng-disabled="(BtnBatalSO) || (disabledBatalSOstatus == 1 && disabledBatalSOrecount == 1)">Batal Stock Opname</button>
            <button class="btn rbtn" ng-click="goBack()">Kembali</button>
        </div>
    </div> 
</div>

<bs-print cetakan-url="{{printBinTag}}">
</bs-print>

<bs-print cetakan-url="{{printBinTagList}}">
</bs-print>

<!--<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Tipe Material *</label>
            <input class="form-control" type="text" ng-model="mData.MaterialType" readonly>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Lokasi Gudang *</label>
            <input class="form-control" type="text" ng-model="mData.WarehouseName" readonly>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Tipe Lokasi Stock *</label>
            <input class="form-control" type="text" ng-model="mData.LocationTypeName" readonly>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">SCC *</label>
            <input class="form-control" type="text" ng-model="mData.SCCName" readonly>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">ICC *</label>
            <input class="form-control" type="text" ng-model="mData.ICCName" readonly>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">No Meterial *</label>
            <input class="form-control" type="text" ng-model="mData.MaterialNo" readonly>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">No Stock Opname *</label>
            <input class="form-control" type="text" ng-model="mData.StockOpnameNo" readonly>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Tanggal Stock Opname *</label>
            <input class="form-control" type="text" ng-model="mData.DocDate" readonly>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Note </label>
            <textarea ng-model="mData.Notes" class="form-control" rows="5"></textarea>
        </div>
    </div>
</div>-->
