<style type="text/css">
   
    .ui-grid-viewport {
        overflow-anchor: none;
    }
</style>
<div ng-include="'app/parts/stock_opname/partial/filter_detail.html'"></div>
<!--<div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Tipe Material *</label>
                <bsselect name="typeSearch"
                        ng-model="mData.MaterialTypeId"
                        data="mPartType"
                        item-text="Description"
                        item-value="PartsClassId"
                        placeholder="Pilih Tipe Material"
                        required
                        >
                </bsselect>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Lokasi Gudang *</label>
                <bsselect name="typeSearch"
                        ng-model="mData.WarehouseId"
                        data="mWarehouse"
                        item-text="WarehouseName"
                        item-value="WarehouseId"
                        placeholder="Pilih Lokasi Gudang"
                        required
                        >
                </bsselect>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Tipe Lokasi Stock *</label>
                <bsselect name="typeSearch"
                        ng-model="mData.LocationTypeID"
                        data="mTipeLocation"
                        item-text="Name"
                        item-value="Id"
                        placeholder="Pilih Tipe Lokasi Stock"
                        required
                        >
                </bsselect>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">SCC</label>
            <bsselect name="typeSearch"
                    ng-model="mData.SCCId"
                    data="mSCC"
                    item-text="Description"
                    item-value="PartsClassId"
                    placeholder="Pilih SCC"
                    required
                    >
            </bsselect>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">ICC</label>
            <bsselect name="typeSearch"
                    ng-model="mData.ICCId"
                    data="mICC"
                    item-text="Description"
                    item-value="PartsClassId"
                    placeholder="Pilih ICC"
                    required
                    >
            </bsselect>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">No Material</label>
            <input type="text" ng-model="mData.MaterialNo" class="form-control"></input>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">&nbsp</label>
            <button class="btn wbtn form-control" ng-click="searchMaterial()">Cari Material</button>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">&nbsp</label>
            <button class="rbtn btn form-control" ng-click="doFilter(mData)">Filter</button>
        </div>
    </div>
</div>-->
    <!--<div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Tipe Material *</label>
                <select class="form-control" ng-model="mData.MaterialTypeId">
                    <option ng-repeat="partType in mPartType" value="{{partType.PartsClassId}}">{{partType.Description}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label">Lokasi Gudang *</label>
                <select class="form-control" ng-model="mData.LocationId">
                    <option ng-repeat="warehouse in mWarehouse" value="{{warehouse.WarehouseId}}">{{warehouse.WarehouseName}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label">Tipe Lokasi Stock *</label>
                <select class="form-control" ng-model="mData.LocationStockId">
                    <option value="1">Qty free</option>
                    <option value="2">Blocked Stock</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">SCC</label>
                <select class="form-control" ng-model="mData.SCCId">
                    <option ng-repeat="scc in mSCC" value="{{scc.PartsClassId}}">{{scc.Description}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label">ICC</label>
                <select class="form-control" ng-model="mData.ICCId">
                    <option ng-repeat="icc in mICC" value="{{icc.PartsClassId}}">{{icc.Description}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label">No Material</label>
                <input type="text" ng-model="mData.MaterialNo" class="form-control"></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
                <button class="btn wbtn form-control" ng-click="searchMaterial()">Cari Material</button>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
                <button class="rbtn btn form-control" ng-click="doFilter(mData)">Filter</button>
            </div>
        </div>
    </div>-->
<div ng-if="generateMaterial">
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Notes</label>
            <textarea class="form-control" ng-model="mData.Notes" rows="5"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div id="grid3" ui-grid="grid_stock_opname_new" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid" ng-style="getTableHeight()"></div>
            <br/>
        </div>
    </div>
</div>