<style type="text/css">
    .progress {background: rgba(255, 255, 255, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; height: 19px;}
    .progress-bar-custom {background: rgb(9, 119, 209);}
    .progress span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
    }
    .ui-grid-viewport {
        overflow-anchor: none;
    }
    </style>
<div ng-include="'app/parts/stock_opname/partial/filter_detail_dsbl.html'"></div>
<div class="row">
    <div class="col-md-12">
        <label class="control-label">Status Input Hasil Stock Opname</label>
        <!-- <progress id="pb" class="form-control" value="22" max="100"></progress> -->
        <div class="progress">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="mData.itemDone" aria-valuemin="0" aria-valuemax="mData.itemTotal" style="width: {{mData.PersentaseItem}}%;">
                <span class="show"><b>{{mData.itemDone}} item dari {{mData.itemTotal}} item</b></span>
            </div>
            <!-- <label class="control-label">{{itemDone}} item dari 100 item</label> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label class="control-label">Status Selisih Amount</label>
        <!-- <progress id="pb" class="form-control" value="22" max="100"></progress> -->
        <div class="progress">
            <!-- <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="{{itemDone}}" aria-valuemin="0" aria-valuemax="100" style="width: {{itemDone}}%;">
                <span class="control-label"><b>Selisih Amount = Rp. {{dotSeparateNumber(itemDone * 1000000)}} dari Rp. {{dotSeparateNumber(itemDone * 1000000)}}</b></span>
            </div> -->
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="mData.TotalSelisih" aria-valuemin="0" aria-valuemax="mData.SumHarga" style="width: {{mData.PersentaseSelisih}}%;">
                <span class="show"><b>Selisih Amount = {{mData.TotalSelisih | currency:"Rp."}} dari {{mData.SumHarga | currency:"Rp."}} </b></span>
            </div>
            <!-- <label class="control-label">{{itemDone}} item dari 100 item</label> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="grid1" ui-grid="grid_stock_opname_item" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
        <br/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div align="right">
            <button class="btn wbtn" skip-disable ng-click="exportHasil()">Export Hasil</button>
            <button class="btn wbtn" skip-disable ng-click="cetakBinTag(mData.StockOpnameId)">Cetak Bin Tag</button>
            <button class="btn wbtn" skip-disable ng-click="cetakBinTagList(mData.StockOpnameId)">Cetak List Bin Tag</button>
            <button class="btn wbtn" skip-disable ng-click="goBack()">Kembali</button>
        </div>
    </div> 
</div>

<!--<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Tipe Material *</label>
                <input class="form-control" type="text" ng-model="mData.MaterialType">
            </div>
            <div class="col-md-2">
                <label class="control-label">Lokasi Gudang*</label>
                <input class="form-control" type="text" ng-model="mData.WarehouseName">
            </div>
            <div class="col-md-2">
                <label class="control-label">Tipe Lokasi Stock *</label>
                <input class="form-control" type="text" ng-model="mData.LocationTypeName">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">SCC</label>
                <input class="form-control" type="text" ng-model="mData.SCCName">
            </div>
            <div class="col-md-2">
                <label class="control-label">ICC</label>
                <input class="form-control" type="text" ng-model="mData.ICCName">
            </div>
            <div class="col-md-2">
                <label class="control-label">No Material</label>
                <input type="text" class="form-control"></input>
            </div>
        </div>
    </div>
</div>
<div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="5"></textarea>
        </div>
    </div>
     <br/>

    <div class="row">
        <div class="col-md-12">
            <label class="control-label">Status Input Hasil Stock Opname</label>
            <div class="progress">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="show"><b>35 item dari 100 item</b></span>
            </div>
        </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            <label class="control-label">Status Selisih Amount</label>
            <div class="progress">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="show"><b>Selisih Amount = Rp. 10.000.000 dari Rp. 100.000.000</b></span>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="grid2" ui-grid="grid_stock_opname_item" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
            <br/>
        </div>
    </div>
</div>-->