<script type="text/javascript">

</script>
<style type="text/css">
fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.grid {
  /*width: 500px;*/
  /*height: 180px;*/
}

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<!-- <div class="container">
<div class="row">
  <div class="col-md-2 col-md-offset-6">
    <button type="button" class="btn btn-sm btn-danger" ng-click="showModal()">Close PO</button> 
    <button type="button" class="btn btn-sm btn-danger" ng-click="showModal()">Cancel PO</button>
  </div> 
</div>
</div> -->

<bsform-grid
        ng-form="PartsPackingListInquiryForm"
        factory-name="PartsPackingListInquiry"
        model="mData"
        model-id="tipeMaterial"
        loading="loading"
        show-advsearch="on"

        get-data="getData(mData)"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        on-before-new-mode="onBeforeNewMode"
        on-before-edit-mode="onBeforeEditMode"
        on-show-detail = "onShowDetail"

        grid-hide-action-column="gridHideActionColumn"

        form-name="PartsPackingListInquiryForm"
        form-title="Packing List Inquiry"
        modal-title="Packing List Inquiry"
        modal-size="small"
        icon="fa fa-fw fa-child"

        >
        <bsform-advsearch>            
              <div class="row">
                <div class="col-md-3">
                  <div class="input-group" show-errors>
                    <!--<label class="control-label">No. Shipping *</label>-->
                    <bsreqlabel>No. Shipping</bsreqlabel>
                    <input type="text" class="form-control" name="ShippingNo" ng-model="mData.ShippingNo">
                    <bserrmsg field="mData.ShippingNo"></bserrmsg>
                  </div>
                </div>                
              </div>
              <div class="row">
                <div class="col-md-11">
                  <button class="btn wbtn pull-right" ng-click="onDeleteFilter()">Hapus Filter</button>
                </div>                      
              </div>              
        </bsform-advsearch>

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY --> 
      
        <!-- 
            <div class="form-group" show-errors>
                <bsreqlabel>Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="name" placeholder="Name"
                           ng-model="mPOMaintenance.name" ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="name"></bserrmsg>
            </div>
        -->

</bsform-grid>



