<bsform-base
        ng-form="StockFormbranch"
        loading="loading"

        show-advsearch="off"

        form-name="StockFormbranch"
        form-title="StockFormbranch"
        icon="fa fa-fw fa-child"
>
<bsform-base-main>
<!-- <div class="panel panel-default" style="padding-left:20px;padding-bottom: 25px; "> -->
                <div class="row">

                  <div class="col-md-3">

                    <div class="form-group" >
                      <bsreqlabel>Dealer</bsreqlabel>                        
                      <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)"    placeholder="Select Dealer" >
                      </bsselect>
<!--                       <bserrmsg field="dealer"> harus diisi </bserrmsg> -->
                    </div>
                    <div class="form-group" >
                      <bsreqlabel>Tipe Material</bsreqlabel>                        
                      <bsselect ng-model="filter.material" name="reason" data="getMaterial" item-text="typeName" item-value="typeID" on-select="typeID(selected)" placeholder="Select Material" >
                      </bsselect>
<!--                       <bserrmsg field="reason"> harus diisi </bserrmsg> -->
                    </div>

                  </div>

                  <div class="col-md-3">
                    <div class="form-group" >
                      <bsreqlabel>Cabang</bsreqlabel>                        
                      <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)"    placeholder="Select Cabang" >
                      </bsselect>
<!--                       <bserrmsg field="cabang"> harus diisi </bserrmsg> -->
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="col-md-6 form-group" >
                        <bsreqlabel>Tanggal</bsreqlabel>
                      <bsdatepicker ng-disabled="false"
                      name="Tanggal"
                      max-date="maxDate"
                      date-options="dateOptions"
                      ng-model="filter.tanggal" disabled 
                      >
                      </bsdatepicker>
<!--                       <bserrmsg field="Tanggal"> harus diisi </bserrmsg> -->
                    </div>
                    <div class="col-md-12" style="font-size: 12px;">
                      <bsreqlabel>Tanggal yang dipilih mewakili cut off stock material (Parts/Bahan) pada hari tersebut jam 00:00</bsreqlabel>
                    </div>
                  </div> 

                </div>

                <div class="clearfix"></div>
                  <div class="form-group pull-right">
                    <div class=""></div>
                    
                      <button ng-click="getReport()" class="btn btn-danger btn_report">Export</button>
                  </div>
                  </br></br>
                </div>
                </br></br>
                </bsform-base-main>
                </bsform-base>

<script type="text/ng-template" id="taTemplate.html">
  <a>
      <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>