<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="no-add">
	<!-- SAMPLE EDIT <bsform-grid ng-form="BiayaMateraiForm" 
	action-button-caption="actionButtonCaption"
	mode="mode" 
	factory-name="BiayaMateraiFactory" model="$parent.mBiayaMaterai" model-id="StampDutyId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="" form-title="" modal-title="BiayaMaterai"
	modal-size="small" icon="fa fa-fw fa-child">-->
	<div ng-if="MainBiayaMaterai_Show" class="fi-outermost">
		<div class="row">
			<div class="pull-right" style="margin-top:-55px;">
				<button id="MainBiayaMaterai_Tambah_Button" ng-click="MainBiayaMaterai_Tambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
					<i class="fa fa-fw fa-plus"> </i>
					Tambah
				</button>
				<button class="ubtn" ng-click="actRefresh()" onclick="this.blur();" style="float: right;" class="fi-right-button" tooltip-placement="bottom"
				 tooltip-trigger="mouseenter" tooltip-animation="false" uib-tooltip="Refresh" tabindex="0">
					<i class="fa fa-fw fa-refresh" style="font-size:1.4em;"></i>
				</button>
			</div>
		</div>

		<div class="col-md-12">
			<div class="row">
				<p class="fi-title-line" style="margin-top: -25px; margin-left: 0px; margin-right: 5px;">Daftar Biaya Materai</p>
			</div>
		</div>

		<div class="row" style="margin-left: -25px; margin-top:5px">
			<div class="col-md-12">
				<div class="col-md-2">
					<bsselect ng-model="$parent.LihatBiayaMaterai_Search_M" ng-change="actDel()" ng-disabled="!selectedRows.length>0" data="optionsLihatBiayaMaterai_Search_M"
					 item-text="name" item-value="value" on-select="value(selected)" placeholder="Bulk Action" icon="fa fa-search">
					</bsselect>

				</div>
				<div class="col-md-2">
					<div class="input-icon-right">
						<input type="text" class="form-control" name="" placeholder="Teks Filter1..." ng-model="$parent.LihatBiayaMaterai_Search_Text"
						 ng-maxlength="50" maxlength="50">
					</div>
				</div>
				<div class="col-md-3">
					<bsselect ng-model="$parent.LihatBiayaMaterai_Search" data="optionsLihatBiayaMaterai_Search" item-text="name" item-value="value"
					 on-select="value(selected)" placeholder="Select Search Criteria" icon="fa fa-search">
					</bsselect>
				</div>
				<div class="col-md-3">
					<button id="" onclick="" ng-click="LihatBiayaMaterai_Filter_Clicked()" type="button" class="btn ng-binding ladda-button">
						<span class="ladda-label">
							Filter
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>

		<div class="row" style="margin-left: -27px; margin-top:10px">
			<div class="col-md-12">
				<div id="myGrid" ui-grid="MainBiayaMaterai_UIGrid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination ui-grid-selection
				style="height: 351px; width: 98.5%;" class="fi-ui-grid"></div>
			</div>
		</div>
	</div>

	<!-- <bsform-grid ng-form="BiayaMateraiForm" factory-name="BiayaMateraiFactory" model="$parent.mBiayaMaterai" model-id="StampDutyId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="BiayaMateraiForm" form-title="BiayaMaterai" modal-title="BiayaMaterai" -->
	<!-- modal-size="small" icon="fa fa-fw fa-child" grid-hide-action-column="true"> -->
	<div ng-if="TambahBiayaMaterai_Show" ng-form name="FormValidation_BiayaMaterai">
		<button id="TambahBiayaMaterai_Simpan_Button" ng-disabled="FormValidation_BiayaMaterai.$invalid" ng-click="TambahBiayaMaterai_Simpan_Clicked()"
		 type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
			<span class="ladda-label">
				Simpan
			</span>
			<span class="ladda-spinner"></span>
		</button>

		<button id="TambahBiayaMaterai_Kembali_Button" ng-click="TambahBiayaMaterai_Kembali_Clicked()" type="button" class="btn ng-binding ladda-button fi-right-button">
			<span class="ladda-label">
				Kembali
			</span>
			<span class="ladda-spinner"></span>
		</button>

		<div class="row" style="margin-bottom:20px;">
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':FormValidation_BiayaMaterai.Nominal.$error.required && FormValidation_BiayaMaterai.Nominal.$touched}">
						<bsreqlabel>Nominal</bsreqlabel>
						<div class="input-icon-right">
							<i class="fa fa-pencil"></i>
							<input type="text" class="form-control" name="Nominal" placeholder="Biaya Materai" ng-model="$parent.Nominal" ng-maxlength="50"
							 maxlength="50" currency-formating number-only required>
						</div>
						<span ng-if="FormValidation_BiayaMaterai.Nominal.$error.required && FormValidation_BiayaMaterai.Nominal.$touched" class="help-block">Field ini wajib diisi</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="margin-bottom:20px;">
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':FormValidation_BiayaMaterai.TrxMinNominal.$error.required && FormValidation_BiayaMaterai.TrxMinNominal.$touched}">
						<bsreqlabel>Minimal Nilai Transaksi</bsreqlabel>
						<div class="input-icon-right">
							<i class="fa fa-pencil"></i>
							<input type="text" class="form-control" name="TrxMinNominal" placeholder="Minimal Nilai Transaksi" ng-model="$parent.TrxMinNominal"
							 ng-maxlength="50" maxlength="50" currency-formating number-only>
						</div>
						<span ng-if="FormValidation_BiayaMaterai.TrxMinNominal.$error.required && FormValidation_BiayaMaterai.TrxMinNominal.$touched"
						 class="help-block">Field ini wajib diisi</span>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':FormValidation_BiayaMaterai.TrxMaxNominal.$error.required && FormValidation_BiayaMaterai.TrxMaxNominal.$touched}">
						<bsreqlabel>Maksimal Nilai Transaksi</bsreqlabel>
						<div class="input-icon-right">
							<i class="fa fa-pencil"></i>
							<input type="text" class="form-control" name="TrxMaxNominal" placeholder="Maksimal Nilai Transaksi" ng-model="$parent.TrxMaxNominal"
							 ng-maxlength="50" maxlength="50" currency-formating number-only>
						</div>
						<span ng-if="FormValidation_BiayaMaterai.TrxMaxNominal.$error.required && FormValidation_BiayaMaterai.TrxMaxNominal.$touched"
						 class="help-block">Field ini wajib diisi</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="margin-bottom:20px;">
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':FormValidation_BiayaMaterai.TambahBeaMateraiValidDate.$error.required && FormValidation_BiayaMaterai.TambahBeaMateraiValidDate.$touched}">
						<bsreqlabel>Tanggal Mulai Berlaku</bsreqlabel>
						<div class="input-icon-right ">
							<bsdatepicker name="TambahBeaMateraiValidDate" date-options="dateOptions" ng-model="$parent.TambahBeaMaterai_ValidDate" required>
							</bsdatepicker>
						</div>
						<span ng-if="FormValidation_BiayaMaterai.TambahBeaMateraiValidDate.$error.required && FormValidation_BiayaMaterai.TambahBeaMateraiValidDate.$touched"
						 class="help-block">Field ini wajib diisi</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="modal" id="BiayaMateraiModal" role="dialog">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Konfirmasi Hapus</h4>
		</div>
		<div class="modal-body">
			<p>
				Apakah anda yakin ingin menghapus biaya materai yang dipilih?
			</p>
		</div>
		<div class="modal-footer">
			<p>
				<button ng-click="BiayaMateraiCancel_Button_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Tidak</button>
				<button ng-click="BiayaMateraiOK_Button_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Ya</button>
			</p>
		</div>
	</div>
</div>