<script type="text/javascript">
</script>
<style type="text/css">

</style>


<bsform-base ng-form="reportServiceUnitbyModelBPForm" loading="loading" form-api="formApi" form-name="reportServiceUnitbyModelBPForm" form-title="reportServiceUnitbyModelBPForm" icon="fa fa-fw fa-child">

    <bsform-base-main>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" style="margin-right:0px;">
                    <div class="col-md-4">
                        <div class="form-group" show-errors>
                            <label>Dealer</label>
                            <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" required>
                            </bsselect>
                            <bserrmsg field="dealer"> harus diisi </bserrmsg>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" show-errors>
                            <label>Cabang </label>
                            <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                            </bsselect>
                            <bserrmsg field="cabang"> harus diisi </bserrmsg>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" show-errors>
                            <label>Kategori Workshop</label>
                            <input type="text" class="form-control" ng-model="filter.kategori" name="kategoriWorkshop" disabled required>
                            <bserrmsg field="kategoriWorkshop"> harus diisi </bserrmsg>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-right:0px;">
                    <div class="col-md-3">
                        <div class="form-group" show-errors>
                            <label>Bulan/Tahun *</label>
                            <bsdatepicker name="monthYear" date-options="dateOptions" ng-model="filter.MonthYear" required>
                            </bsdatepicker>
                            <bserrmsg field="monthYear"> harus diisi </bserrmsg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group pull-right">
                <button type="button" ng-click="getReport()" class="rbtn btn"> Export </button>
            </div>
        </div>
    </bsform-base-main>

</bsform-base>
<!-- 
<script type="text/ng-template" id="taTemplate.html">
  <a>
      <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script> -->