<style type="text/css">

</style>

<div class="row">
  <div class="col-md-3">
    <div class="form-group" show-errors>
        <bsreqlabel>Request Dari Bengkel</bsreqlabel>
        <div class="input-icon-right">
            <i class="fa fa-search"></i>
            <!--<input type="text" class="form-control" ng-model="mData.FromOutletId" required>-->
            <input type="text" ng-model="mData.FromOutletName" class="form-control" disabled>
        </div>
        <!-- <bserrmsg field="FromOutletId"></bserrmsg> -->
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="form-group" show-errors>
        <bsreqlabel>Tanggal Dibutuhkan</bsreqlabel>
        <div class="tanggal">
          <bsdatepicker
          name="DateNeeded"
          date-options="dateOptions"
          ng-model="mData.DateNeeded"
          disabled>
          <!-- ng-disabled="isDisabled == true" -->
          </bsdatepicker>
        </div>
        <bserrmsg field="DateNeeded"></bserrmsg>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
        <label class="control-label">Tipe Material *</label>
            <select class="form-control" ng-model="mData.MaterialTypeId" disabled>
                <option selected value="{{mData.MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
            </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr />
  </div>
</div>
<!-- input-an muncul ketika mode edit-->

<div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">No. TO</label>
        <input class="form-control" value="{{mData.TransferOrderNo}}" disabled>
        <!-- <input class="form-control" ng-model="mData.TransferOrderNo" disabled> -->
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="form-group" show-errors>
          <label class="control-label">Tanggal TO</label>
          <div class="tanggal">
            <bsdatepicker
            name="DocDate"
            date-options="dateOptions"
            ng-model="mData.DocDate"
            ng-disabled = "true">
            </bsdatepicker>
          </div>
          <bserrmsg field="DocDate"></bserrmsg>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">Status</label>
        <input class="form-control" value="{{ToNameStatus(mData.TransferRequestStatusId)}}" disabled>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-7">
    <div class="form-group">
      <label class="control-label">Notes</label>
      <textarea class="form-control" rows="4" ng-model="mData.Notes" disabled></textarea>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-2">
    <div class="input-group-btn dropdown" uib-dropdown="" style="">
      <button style="margin-right:5px;" type="button"
        class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle=""
        data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
        <!-- ngIf: allowDelete -->
        <li>
        <!-- ngIf: selectedRows.length>0 --><a href="#">Hapus</a>
        <!-- end ngIf: selectedRows.length>0 --></li>
        <!-- end ngIf: allowDelete -->
        <!-- ngIf: allowApprove -->
        <!-- ngIf: allowReject -->
        <!-- ngIf: allowReview -->
        <!-- ngRepeat: customBulk in customBulkFunc -->
      </ul>
    </div>

  </div>
</div>
<br>
<!--Grid Detail-->

<!-- <div class="col-md-12">
  <div ui-grid="gridDetail" class="grid" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize ng-cloak>
  </div>
</div> -->
<div class="row">
    <div class="col-md-12">
        <div ui-grid="gridOptionsView" class="grid" ui-grid-auto-resize ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-pagination></div>
    </div>
</div>

<br>

<div class="form-group">
  <div class="row">
    <div class="col-md-12">
      <div style="text-align: right;">
        <button class="wbtn btn" ng-click="goBack()">Kembali</button>
      </div>
    </div>
  </div>
</div>