<div align="center" class="row" >
    <div class="col-md-12">
        <p><b>Konfirmasi</b></p>
        <p>Stock di Dealer {{respondforMessage[0].FromWarehouseName}}, tidak cukup untuk memenuhi permintaan:</p>
        <table class="table" style="margin-top:15px; margin-bottom:15px;">
        <tbody>
            <tr ng-repeat="item in respondforMessage track by $index">
            <td>{{$index + 1}}</td>
            <td>Partscode: {{item.PartsCode}}</td>
            <td>Request: {{item.QtyTransfer}}</td>
            <td>Tersedia: {{item.QtyFree}}</td>
            </tr>
        </tbody>
        </table>
        <hr>
        <p>Jika proses dilanjutkan maka Qty Request akan disesuaikan dengan ketersediaan stok tersebut.</p>
        <p>Apakah proses ini akan dilanjutkan?</p>
    </div>
</div>
<!-- </bsui-modal> -->
<div class="row">
    <div class="col-md-12 text-right">
        <button ng-click="ngDialog.closeAll();" class="wbtn btn" type="button">Tidak</button>
        <button ng-click="confirm();" class="rbtn btn" type="button">Ya, lanjutkan proses</button>
    </div>
</div>