<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid-tree
        ng-form="RSSPVarForm"
        factory-name="RSSPVar"
        model="mRSSPVar"
        loading="loading"
        model-id="AdjustmentRatioTypeId"

        get-data="getData"
        selected-rows="xRSSPVar.selected"
        on-select-rows="onSelectRows"

        modal-title="RSSP Variable"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
        <div class="row">
          <div class="col-md-4">
            <div class="form-group" show-errors>
                <bsreqlabel>Variable Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="name" placeholder="Variable Name" ng-model="mRSSPVar.AdjustmentName" required>
                </div>
                <bserrmsg field="name"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <label>Parent Variable</label>
                <bsselect
                          data="parentData"
                          item-text="AdjustmentName"
                          item-value="AdjustmentRatioTypeId"
                          ng-model="mRSSPVar.ParentId"
                          placeholder="Pilih Parent Variable"
                          icon="fa fa-child glyph-left"
                          style="min-width: 150px;">
                </bsselect>
                <bserrmsg field="pid"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <label>Table Field Name</label>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="beFldName" placeholder="Table Field Name" ng-model="mRSSPVar.BEFieldName">
                </div>
                <bserrmsg field="beFldName"></bserrmsg>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group" show-errors>
                <label>Type</label>
                <bsselect name="varTypeId"
                        ng-model="mRSSPVar.VariableInputTypeId"
                        data="varTypeData"
                        item-text="VariableType"
                        item-value="VariableInputTypeId"
                        placeholder="Pilih Tipe Variabel"
                        required="true">
                </bsselect>
                <bserrmsg field="varTypeId"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <label>Format</label>
                <bsselect name="varFormatId"
                        ng-model="mRSSPVar.FormatTypeId"
                        data="varFormatData"
                        item-text="TypeFormat"
                        item-value="FormatTypeId"
                        placeholder="Pilih Format Variabel"
                        required="true">
                </bsselect>
                <bserrmsg field="varFormatId"></bserrmsg>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" show-errors>
                <label>Description</label>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <textarea rows="5" class="form-control" name="desc" placeholder="Description" ng-model="mRSSPVar.Description">
                    </textarea>
                </div>
                <bserrmsg field="desc"></bserrmsg>
            </div>
          </div>
        </div>
</bsform-grid-tree>

