<script type="text/javascript">
$("#ApprovalSpkBatalHilangPreventPercent").keypress(function(e) {
  if (e.which === 37) { // 'w'
    e.preventDefault();
  }
});

function IfGotProblemWithModal() {
	$('body .modals').remove();
}
</script>
<style type="text/css">
/* @media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
} */

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}
.card{background:#fff;border-radius:2px;position:relative}
.card-2
{box-shadow:0 3px 3px rgba(0,0,0,.1),0 2px 8px rgba(0,0,0,.1)}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<!--<script type="text/javascript" src="js/uiscript.js"></script>-->


			<div ng-show="ApprovalSpkBatalHilangMain" style="min-height: 89vh;">
			
			
			<div id="filterData" class="row" style="margin:0; margin-top:5px;">
			<div id="comboBoxFilter" style="float:left; width:20%; font-size:12px;">
					<div class="form-group filterMarg">
						<select required ng-model="ApprovalSpkBatalHilangSearchLimit" class="form-control" ng-options="item.SearchOptionId as item.SearchOptionName for item in optionApprovalSpkBatalHilangSearchLimit"
						 placeholder="Filter">
								<!--<option label="Filter" value="" disabled>Limit</option>-->
							</select>
					</div>
				</div>
			<div id="comboBoxFilter" style="float:left; width:30%; font-size:12px;">
					<div class="form-group filterMarg">
						<select required ng-model="ApprovalSpkBatalHilangSearchCriteria" class="form-control" ng-options="item.SearchOptionId as item.SearchOptionName for item in optionApprovalSpkBatalHilangSearchCriteria"
						 placeholder="Filter">
								<!--<option label="Filter" value="" disabled>Filter</option>-->
							</select>
					</div>
				</div>
				<div id="inputFilter" style="float:left; width:30%;">
					<div class="form-group filterMarg">
						<input type="text" required ng-model="ApprovalSpkBatalHilangSearchValue" class="form-control" name="ModelKendaraan" placeholder="Search" ng-maxlength="100">
					</div>
				</div>
				<div id="btnFilter" style="float:left; width:10%;">
					<button style=" margin-right: 0px!important" class="rbtn btn mobileFilterBtn" ng-click="SearchApprovalSpkBatalHilang()">
						<i class="fa fa-filter iconFilter"></i>
						</button>
				</div>
				<div id="btnFilter" style="float:left; width:10%;">
					<button style=" margin-right: 0px!important" class="rbtn btn mobileFilterBtn" ng-click="ApprovalSpkBatalHilangRefresh()">
						<i class="fa fa-refresh iconFilter"></i>
						</button>
				</div>
			</div>
			<br/>
			<div class="listData">
				<button class="btn btn-default dropdown-toggle dropdown-toggle"
				 type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
				Approval SPK Batal/Hilang
				<span></span>
				<span style="float:right; margin-right:3px;">  </span>
				</button>
			</div>
			<div style="max-height:400px;overflow-y:auto;max-width: 100%;overflow-x: hidden;" class="list-group" id="dropdownContentListDataRadio" aria-labelledby="dropdownMenu1">
			<div aria-labelledby="dropdownMenu1" class="list-group-item card-2" ng-repeat="ContentApprovalSpkBatalHilangGabungan in ApprovalSpkBatalHilangGabungan" 
				style="padding:10px 0px 10px 10px;position: relative;float:left;width:100%;margin-bottom:10px;">
			
				<div style="float:left;width:94%">
					<ul class="list-inline" style="font-size:16px;">
						<li><label style="float: left;"><input style="margin-right:5px;" type="checkbox" name="selectedSuspect[]" value="{{ContentApprovalSpkBatalHilangGabungan}}" ng-checked="selectionApprovalSpkBatalHilang.indexOf(ContentApprovalSpkBatalHilangGabungan) > -1" ng-click="toggleSelection(ContentApprovalSpkBatalHilangGabungan)" />No. SPK <label ng-if="ContentApprovalSpkBatalHilangGabungan.Batal==true">Batal</label><label ng-if="ContentApprovalSpkBatalHilangGabungan.Batal==false">Hilang</label>:{{ContentApprovalSpkBatalHilangGabungan.FormSPKNo}}</label></li>
					</ul>
					<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
						<li><label>Sales &nbsp; : &nbsp;{{ContentApprovalSpkBatalHilangGabungan.Salesman}}</label></li>	
					</ul>
					<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
						<li><label>Nama Pelanggan &nbsp; : &nbsp;{{ContentApprovalSpkBatalHilangGabungan.ProspectName}}</label></li>	
					</ul>
					<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
						<li><label>Model Tipe &nbsp; : &nbsp;{{ContentApprovalSpkBatalHilangGabungan.VehicleTypeDescription}}</label></li>	
					</ul>
					<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
						<li><label>Grand Total &nbsp; : &nbsp;Rp.{{ContentApprovalSpkBatalHilangGabungan.GrandTotal| number}}</label></li>	
					</ul>
					<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
						<li><label>Alasan &nbsp;: &nbsp;<label>{{ContentApprovalSpkBatalHilangGabungan.ListOfSAHApprovalBatalHilangSPKView[0].RequestNote}}</label></label></li>	
					</ul>
					<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
						<li><label>Status &nbsp; : &nbsp;{{ContentApprovalSpkBatalHilangGabungan.HeaderStatusApprovalName}}</label></li>	
					</ul>
					
				</div>
				<div  style="display : inline-block;position:absolute;align-items : center;float:left;height: 100%;width:6%">
					<div style="float:left;height: 100%;display :flex;align-items : center;">
						<span ng-click="ActionApprovalSpkBatalHilang(ContentApprovalSpkBatalHilangGabungan)" class="glyphicon glyphicon-option-vertical" style="float:center;font-size:16px">
						</span>
					</div>
				</div>
			</div>
			</div>
			<div style="margin-top:-28px;">
				<div ng-hide="ApprovalSpkBatalHilangHideIncrement" ng-click="ApprovalSpkBatalHilangIncrementLimit()" class="list-group-item ng-scope" role="button" align="center" style="background-color:#e0e2e6;">
					<i  class="fa fa-angle-double-down" ></i>
				</div>
			</div>
			<div style="margin-left:0px;margin-right:0px;margin-top:25px;border:none !important" class="row list-group-item">

			
				<button ng-disabled="selectionApprovalSpkBatalHilang.length<=0||SelectionAman_ApprovalSpkBatalHilang==false" ng-click="FromListSetujuApprovalSpkBatalHilang()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: right;">
				<span class="ladda-label">Setuju
					</span><span class="ladda-spinner"></span>
				</button>

				<button ng-disabled="selectionApprovalSpkBatalHilang.length<=0||SelectionAman_ApprovalSpkBatalHilang==false" ng-click="FromListTidakSetujuApprovalSpkBatalHilang()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: right;">
				<span class="ladda-label">Tolak
					</span><span class="ladda-spinner"></span>
				</button>
			</div>
			</div>

<div ng-show="ApprovalSpkBatalHilangDetail">
		<div class="row" style="margin-right:0px;margin-top:10px;margin-bottom:10px">
			<button ng-show="mApprovalSpkBatalHilang.HeaderStatusApprovalName=='Diajukan'" ng-click="SetujuApprovalSpkBatalHilang()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right;">
			<span class="ladda-label">Setuju
				</span><span class="ladda-spinner"></span>
			</button>

			<button ng-show="mApprovalSpkBatalHilang.HeaderStatusApprovalName=='Diajukan'" ng-click="TidakSetujuApprovalSpkBatalHilang()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right;">
			<span class="ladda-label">Tolak
				</span><span class="ladda-spinner"></span>
			</button>

			<button style="float:right" ng-click="BatalApprovalSpkBatalHilang()" type="button" class="wbtn btn ng-binding ladda-button">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
				</span><span class="ladda-spinner"></span>
			</button>
		</div>
		<div class="row">
		<p>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Sales:</b></li>
				<li>{{mApprovalSpkBatalHilang.Salesman}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>No. SPK:</b></li>
				<li>{{mApprovalSpkBatalHilang.FormSPKNo}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Status:</b></li>
				<li>{{mApprovalSpkBatalHilang.HeaderStatusApprovalName}}</li>
			</ul>
		</p>
		</div>
		<div ng-show="ApprovalSpkBatalHilang_Hilang" class="row">
		<p>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Tanggal Pengajuan SPK Hilang:</b></li>
				<li>{{mApprovalSpkBatalHilang.RequestDate| date:"dd MMM yyyy"}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Alasan SPK Hilang:</b></li>
				<li>{{mApprovalSpkBatalHilang.RequestNote}}</li>
			</ul>
		</p>
		</div>
		<div ng-show="ApprovalSpkBatalHilang_Batal" class="row">
		<p>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Tanggal SPK:</b></li>
				<li>{{mApprovalSpkBatalHilang.SpkDate| date:"dd MMM yyyy"}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Prospek/Pelanggan:</b></li>
				<li>{{mApprovalSpkBatalHilang.ProspectName}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Tanggal Pengajuan Batal SPK:</b></li>
				<li>{{mApprovalSpkBatalHilang.RequestDate| date:"dd MMM yyyy"}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Alasan Batal SPK Tidak Jadi Beli:</b></li>
				<li>{{mApprovalSpkBatalHilang.RequestNote}}</li>
			</ul>
		</p>
		</div>
		
		<div class="listData" ng-show="ApprovalSpkBatalHilang_Batal">
			<button class="btn btn-default dropdown-toggle dropdown-toggle"
			 type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
			{{mApprovalSpkBatalHilang.VehicleTypeDescription}} {{mApprovalSpkBatalHilang.ColorName}}
			<span></span>
			<span style="float:right; margin-right:3px;"></span>
			</button>
		</div>
		<div class="formContent" ng-show="ApprovalSpkBatalHilang_Batal">
			<div ng-include src="'app/sales/sales1/spk/approvalSpkBatalHilang/formCreateSPK.html'"></div>
		</div>

</div>

<div class="ui modal ModalAlasanPenolakanApprovalSpkBatalHilang" role="dialog">
        
            <div class="modal-header">
                <button ng-click="BatalAlasanApprovalSpkBatalHilang()" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alasan Penolakan</h4>
            </div>
			<br/>


            <div class="modal-body">
                <textarea style="width:100%" id="ApprovalSpkBatalHilangPreventPercent" rows="10" cols="80" maxlength="512" placeholder="input alasan..."
							 ng-model="mApprovalSpkBatalHilang.ApprovalNote"></textarea>
            </div>
            <div class="modal-footer">
                <!--<button onclick="Lanjut_Clicked()" class="rbtn btn ng-binding ladda-button" style="float: right;">Lanjutkan</button>-->
                <button ng-click="SubmitAlasanApprovalSpkBatalHilang()" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-disabled="mApprovalSpkBatalHilang.ApprovalNote==undefined || mApprovalSpkBatalHilang.ApprovalNote.length<=0">Simpan</button>
				<button ng-click="BatalAlasanApprovalSpkBatalHilang()" class="wbtn btn ng-binding ladda-button" style="float: right;">Batal</button>
            </div>
</div>

<div class="ui modal ModalActionApprovalSpkBatalHilang" role="dialog">
        
            <div class="modal-header">
                <button ng-click="BatalActionApprovalSpkBatalHilang()" type="button" class="close" data-dismiss="modal">&times;</button>
                <!--<h4 class="modal-title">Apa Yang Ingin Anda Lakukan?</h4>-->
            </div>
			<br/>


            <div class="modal-body">
                <a ng-click="SelectApprovalSpkBatalHilang()">
                    <li class="list-group-item item-modal">
                        <span><i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i></span>Lihat Detail</li>
                </a>
				<!--<a ng-click="SetujuApprovalSpkBatalHilang()">
                    <li class="list-group-item item-modal">
                        <span><i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i></span>Setuju</li>
                </a>
				<a ng-click="TidakSetujuApprovalSpkBatalHilang()">
                    <li class="list-group-item item-modal">
                        <span><i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i></span>Tidak</li>
                </a>-->
            </div>
            <div class="modal-footer">
				<!--<button ng-click="BatalActionApprovalSpkBatalHilang()" class="wbtn btn ng-binding ladda-button" style="float: right;">Batal</button>-->
            </div>
</div>