
<script type="text/javascript">	
</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}
	
	tr:nth-child(even) {
		background-color: #dddddd;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript" src="js/ui-grid.min.js"></script>

<div id="ShowInformasi" ng-show="Show_ShowInformasiInsurance">
	<div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2">
		<div class="row" style="margin-top: 10px;">
			<div class="col-md-12" style="margin-left: -12px">
				<!-- <p style="width:120px; margin-top:20px; margin-left:7px; background:white;"></p> -->
				<div class="col-md-12">
					<div class="col-md-3">
						<bsreqlabel>Tanggal</bsreqlabel>
						<div class="input-icon-right ">
							<bsdatepicker name="LihatTanggalInformasi" date-options="dateOptions" ng-model="LihatTanggalInformasi">
							</bsdatepicker>
						</div>						
					</div>
					<!-- <div class="col-md-1" style="margin-top: 32px;margin-left 100px; float: center">
						<bslabel>s/d</bslabel>
					</div> -->
					<div class="col-md-3" >
						<div class="input-icon-right ">
							<label>s.d.</label>
							<bsdatepicker name="LihatTanggalInformasiTo" date-options="dateOptions" ng-model="LihatTanggalInformasiTo">
							</bsdatepicker>
						</div>						
					</div>
					<div class="col-md-3">
						<bsreqlabel>Nama Asuransi</bsreqlabel>
						<bsselect ng-change="LihatInformasi_NamaInsurance_Search_SelectedChange()" ng-model="LihatInformasi_NamaInsurance_Search" data="optionsLihatInformasi_NamaInsurance_Search"
						 item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih Asuransi" icon="fa fa-search">
						 </bsselect>						
					</div>
					<div class="col-md-2">
						<br/>
						<button id="" onclick="" ng-click="CariInformasiData()" type="button" class="rbtn btn ng-binding ladda-button" ng-disabled="LihatTanggalInformasi>LihatTanggalInformasiTo" style="float: left; margin-top:5px;">
							<span class="ladda-label">
							Cari
							</span><span class="ladda-spinner"></span>
						</button>	
					</div>
					<div class="col-md-12 has-error">
						<div class="has-error" style="margin-left:0px;">
							<span ng-show="LihatTanggalInformasi>LihatTanggalInformasiTo" class="help-block" style="margin-top:0px;">Tanggal awal harus lebih kecil atau sama dengan tanggal akhir!</span>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<br/>
				</div>
				
				<div ng-show="ShowInformasiData">
					<p style="color:red; margin-top:10px;"> 
						Daftar Informasi Pembayaran Asuransi
						<hr style="border-color:red; margin-top:-10px"/>
					</p>

					<div class="row col-md-12" style="margin-top:0px;margin-bottom:10px;">
						<div class="col-md-3" >
							<div class="input-icon-right">
								<input type="text" class="form-control" name="" placeholder="Teks Filter1..." ng-model="LihatInformasi_DaftarInformasi_Search_Text" ng-maxlength="50 ">
							</div>
						</div>	
						<div class="col-md-3">
							<bsselect ng-model="LihatInformasi_DaftarInformasi_Search" data="optionsLihatInformasi_DaftarInformasi_Search"
							 item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Search Criteria" icon="fa fa-search">
							 </bsselect>						
						</div>
						<div class="col-md-3">
							<button id="" onclick="" ng-click="LihatInformasi_DaftarInformasi_Filter_Clicked()" type="button" class="btn ng-binding ladda-button">
							<span class="ladda-label">
								Filter
								</span><span class="ladda-spinner"></span>
							</button>	
						</div>
					</div>					
					<div class="row">
						<div class="col-md-12">
							<div id="LihatInformasi_DaftarInformasi" ui-grid="LihatInformasi_DaftarInformasi_UIGrid" class="grid" style="width:100%;height: 275px"
							 ui-grid-auto-resize ui-grid-pagination></div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>

