        <div ng-controller="DashboardAppointmentBP">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div id="widget-appointment" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                            <h2><strong>Appointment Performance</strong></h2>
                        </header>
                        <div class="widget-body">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options1" percent="data1">
                                        <span class="percent" style="margin-top: -3em; color: #568ab7">
                                            <div class="percent-sign" style="font-size: 2em; "> {{data1}} </div>
                                            <div> Appointment Rate </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M to H-1
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options2" percent="data2">
                                        <span class="percent" style=" margin-top: -3em; color: #5e9739">
                                            <div class="percent-sign" style="font-size: 2em;"> {{data2}} </div>
                                            <div> Show Rate </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M to H-1
                                </div>
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>