        <div ng-controller="AverageLeadTimeBP" class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div id="widget-avgLeadTime" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-clock-o"></i> </span>
                        <h2><strong>Workshop Avg Lead Time</strong></h2>
                    </header>
					  <div class="widget-body" style="text-align: center;">
						<div ng-show="roleId.RoleId==1129" class="row" style="max-width: 800px; margin: auto;">
							<div class="col-md-6 col-lg-6">
								<label style="color:#808080; font-weight: bolder;font-size:1.1em">Avg Lead Time TPS</label>
								<div class="time-panel color7">
									{{data1}}
								</div><br>
								<b>Target Avg Lead Time TPS</b><br>
								<span  style="color:#5880b3; font-weight:600">{{data2}}</span>
							</div>
							<div class="col-md-6 col-lg-6">
								<label style="color:#808080; font-weight: bolder;font-size:1.1em">Avg Lead Time Light</label>
								<div class="time-panel color8">
									{{data3}}
								</div><br>
								<b>Target Avg Lead Time Light</b><br>
								<span  style="color:#5880b3; font-weight:600">{{data4}}</span>
							</div>
						</div>
						<div ng-show="roleId.RoleId==1129" class="row" style="max-width: 800px; margin: auto; margin-top: 25px;">
							<div class="col-md-6 col-lg-6">
								<label style="color:#808080; font-weight: bolder;font-size:1.1em">Avg Lead Time Medium</label>
								<div class="time-panel color7">
									{{data5}}
								</div><br>
								<b>Target Avg Lead Time Medium</b><br>
								<span  style="color:#5880b3; font-weight:600">{{data6}}</span>
							</div>
							<div class="col-md-6 col-lg-6">
								<label style="color:#808080; font-weight: bolder;font-size:1.1em">Avg Lead Time Heavy</label>
								<div class="time-panel color8">
									{{data7}}
								</div><br>
								<b>Target Avg Lead Time Heavy</b><br>
								<span  style="color:#5880b3; font-weight:600">{{data8}}</span>
							</div>
						</div>
            			<div ng-show="roleId.RoleId==1029||1032" ng-hide="roleId.RoleId==1129" class="row" style="max-width: 800px; margin: auto;">
							<div class="col-md-6 col-lg-6">
								<div ng-show="roleId.RoleId==1029">
									<label style="color:#808080; font-weight: bolder;font-size:1.1em" > Avg Lead Time Reception</label>
									<div class="time-panel color8">
										{{data1}}
									</div><br>
									<b>Target Average Lead Time</b><br>
										{{data2}}
								</div>
								<div ng-show="roleId.RoleId!=1029">
									<label style="color:#808080; font-weight: bolder;font-size:1.1em">Avg Production Lead Time </label>
									<div class="time-panel color7">
										{{data1}}
									</div><br>
									<b>Target Average Lead Time<br>
										<span  style="color:#5880b3; font-weight:600">{{data2}}</span>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div ng-show="roleId.RoleId==1029">
									<label style="color:#808080; font-weight: bolder;font-size:1.1em">Avg Lead Time Waiting for Reception (All SA) </label>
									<div class="time-panel color2">
										{{data3}}
									</div><br>
									<b>Target Avg Lead Time Waiting for Reception</b><br>
									<span  style="color:#5880b3; font-weight:600">{{data4}}</span>
								</div>
								<div ng-show="roleId.RoleId!=1029">
									<label style="color:#808080; font-weight: bolder;font-size:1.1em">Avg Lead Time TPS </label>
									<div class="time-panel color8">
											{{data3}}
									</div><br>
									<b>Target Avg Lead Time TPS</b><br>
									<span  style="color:#5880b3; font-weight:600">{{data4}}</span>
								</div>
							</div>
						</div>

						<div ng-show="roleId.RoleId==1129" class="row" style="max-width: 400px; margin: auto; margin-top: 25px;">
							<div>
								<label style="color:#808080; font-weight: bolder;font-size:1.1em">Avg Lead Time </label>
								<div class="time-panel color8">
									{{data9}}
								</div><br>
								<b>Target Avg Lead Time</b><br>
								<span  style="color:#5880b3; font-weight:600">{{data10}}</span>
							</div>
						</div>
                    </div>
                </div>
            </article>
        </div>
