        <div ng-controller="PartsmanBP" class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div id="widget-partsman-bp" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-wrench"></i> </span>
                        <h2><strong>Partsman Performance</strong></h2>
                    </header>
                    <div class="widget-body">
                        <div class="row" style="max-width: 800px; margin: auto;">
                            <div style="width: 20%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options2" percent="data2">
                                        <span class="percent" style="margin-top: -3em; color: #d36e2a">
                                            <div style="font-size: 200%">{{data1}}%</div>
                                            <div>Immediate Fill Rate</div>
                                        </span>
                                    </div>
                                </div>
                            </div>
							<div style="width: 20%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options1" percent="data1">
                                        <span class="percent" style="margin-top: -3em; color: #5b9435">
                                            <div style="font-size: 200%">{{data2}}%</div>
                                            <div>Fill Rate</div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 20%; float: left;">
                                <div class="row" style="text-align: center;">
                                    <div class="circle-panel color2">
                                        <div style="font-size: 200%">{{data3}}</div>
                                        <div style="font-size: 90%">Stock Day</div>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M
                                </div>
                            </div>
                            <div style="width: 20%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options3" percent="data4">
                                        <span class="percent" style="margin-top: -3em; color: #d36e2a">
                                            <div style="font-size: 200%">{{data4}}%</div>
                                            <div>Service Rate</div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 20%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options4" percent="data5">
                                        <span class="percent" style="margin-top: -3em; color: #508abc">
                                            <div style="font-size: 200%">{{data5}}%</div>
                                            <div>Back Order Performance</div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="max-width: 600px; margin: auto;">


                        </div>
                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div id="widget-partsman-fillrate-bp" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                        <h2><strong>Fill Rate</strong></h2>
                    </header>
                    <div class="widget-body" style="height: 300px; padding: 0px">
                        <amchart ng-model="barOptionsFillRate" width="100%"></amchart>

                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div id="widget-partsman-imfillrate-bp" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                        <h2><strong>Immediate Fill Rate</strong></h2>
                    </header>
                    <div class="widget-body" style="height: 300px; padding: 0px">
                        <amchart ng-model="barOptionsImFillRate" width="100%"></amchart>

                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div id="widget-partsman-service-bp" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                        <h2><strong>Service Rate</strong></h2>
                    </header>
                    <div class="widget-body" style="height: 300px; padding: 0px">
                        <amchart ng-model="barOptionsSvcRate" width="100%"></amchart>

                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div id="widget-partsman-stock-bp" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                        <h2><strong>Stock Day</strong></h2>
                    </header>
                    <div class="widget-body" style="height: 300px; padding: 0px">
                        <amchart ng-model="barOptionsStockDay" width="100%"></amchart>

                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div id="widget-partsman-composition-bp" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                        <h2><strong>Komposisi Order</strong></h2>
                    </header>
                    <div class="widget-body" style="height: 300px; padding: 0px">
                        <amchart ng-model="multilineOptions" width="100%"></amchart>

                    </div>
                </div>
            </article>

        </div>