        <div ng-controller="PSFUBP" class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div id="widget-psfu-bp" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-phone"></i> </span>
                        <h2><strong>PSFU Performance</strong></h2>
                    </header>
                    <div class="widget-body">
                        <div class="row" style="max-width: 800px; margin: auto;">
                            <div style="width: 20%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options1" percent="data1">
                                        <span class="percent" style=" margin-top: -2em; color: #d36d27">
                                            <div class="percent-sign" style="font-size: 2em;">{{data1}}</div>
                                            <div>Follow Up Rate</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M to H-1
                                </div>
                            </div>
                            <div style="width: 20%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options2" percent="data2">
                                        <span class="percent" style=" margin-top: -2em; color: #508abb">
                                            <div class="percent-sign" style="font-size: 2em;">{{data2}}</div>
                                            <div>Fix It Rate (FIR)</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M to H-1
                                </div>
                            </div>
                            <div style="width: 20%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options3" percent="data3">
                                        <span class="percent" style=" margin-top: -2em; color: #508abb">
                                            <div class="percent-sign" style="font-size: 2em;">{{data3}}</div>
                                            <div>Q1</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M to H-1
                                </div>
                            </div>
                            <div style="width: 20%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options4" percent="data4">
                                        <span class="percent" style=" margin-top: -2em; color: #62993e">
                                            <div class="percent-sign" style="font-size: 2em;">{{data4}}</div>
                                            <div>Q2</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M to H-1
                                </div>
                            </div>
                            <div style="width: 20%; float: left;">
                                <div class="row" style="text-align: center">
                                    <div class="easy-pie-chart" easypiechart options="options5" percent="data5">
                                        <span class="percent" style=" margin-top: -2em; color: #d36e2a">
                                            <div class="percent-sign" style="font-size: 2em;">{{data5}}</div>
                                            <div>Q3</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center" class="color1">
                                    M to H-1
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </div>