        <div ng-controller="UnitEntryBP" class="row">
            <article class="col-lg-12">
                <div id="widget-workshop-unit-entry" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-car"></i></span>
                        <h2><strong>Today's Workshop Unit Entry</strong></h2>
                    </header>
                    <div class="widget-body">
                        <div class="col-md-3 col-lg-3">
                            <div class="dsh-panel" style="background-color: #5880b3">
                                <label style="font-size: 1.3em; margin-bottom:0px; font-weight: bolder;">Appointment</label>
                                <br>
                                <label style="font-size: 180%;font-weight:300;">{{data1}}</label>
                                <div class="bot-left-panel">
                                    <label style="font-size: 1.2em; margin-bottom:0px; font-weight: bolder;">Show</label>
                                    <br><label style="font-size: 120%;font-weight:300;">{{data2}}</label>
                                </div>
                                <div class="bot-right-panel">
                                    <label style="font-size: 1.2em; margin-bottom:0px; font-weight: bolder;">No Show</label>
                                    <br><label style="font-size: 120%;font-weight:300;">{{data3}}</label>
                                </div>
                                <div class="hor-splitter"></div>
                                <div class="ver-splitter"></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <div class="dsh-panel" style="background-color: #00af50">
                                <label style="font-size: 1.3em; margin-bottom:0px; font-weight: bolder;">Walk In</label>
                                <br><br>
                                <label style="font-size: 250%;font-weight:300;">{{data4}}</label>
                            </div>
                        </div>
						<div class="col-md-2 col-lg-2">
                            <div class="dsh-panel" style="background-color: #595959">
                                <label style="font-size: 1.3em; margin-bottom:0px; font-weight: bolder;">Unit Entry</label>
                                <br>
                                <label style="font-size: 180%;font-weight:300;">{{data5}}</label>
                                <div class="bot-left-panel">
                                    <label style="font-size: 1.2em; margin-bottom:0px; font-weight: bolder;">Cash</label>
                                    <br><label style="font-size: 120%;font-weight:300;">{{data6}}</label>
                                </div>
                                <div class="bot-right-panel">
                                    <label style="font-size: 1.2em; margin-bottom:0px; font-weight: bolder;">Insurance</label>
                                    <br><label style="font-size: 120%;font-weight:300;">{{data7}}</label>
                                </div>
                                <div class="hor-splitter"></div>
                                <div class="ver-splitter"></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <div class="dsh-panel"  style="background-color: #7d649e">
                                <label style="font-size: 1.3em; margin-bottom:0px; font-weight: bolder;">App Tomorrow</label>
                                <br><br>
                                <label style="font-size: 250%;font-weight:300;">{{data8}}</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <div class="dsh-panel" style="background-color: #ea700d">
                                <label style="font-size: 1.3em; margin-bottom:0px; font-weight: bolder;">WIP</label>
                                <br>
                                <label style="font-size: 180%;font-weight:300;">{{data9}}</label>
                                <div class="bot-left-panel">
                                    <label style="font-size: 1.2em; margin-bottom:0px; font-weight: bolder;">Being Serviced</label>
                                    <br><label style="font-size: 120%;font-weight:300;">{{data10}}</label>
                                </div>
                                <div class="bot-right-panel">
                                    <label style="font-size: 1.2em; margin-bottom:0px; font-weight: bolder;">Billing</label>
                                    <br><label style="font-size: 120%;font-weight:300;">{{data11}}</label>
                                </div>
                                <div class="hor-splitter"></div>
                                <div class="ver-splitter"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>