<div ng-controller="WorkshopBP" class="row">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div id="widget-partsman-gr" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-phone"></i> </span>
                <h2><strong>Workshop Performance</strong></h2>
            </header>
            <div class="widget-body">
                <div class="row" style="margin: auto;">
                    <div style="width: 16%; float: left;">
                        <div class="row" style="text-align: center">
                            <div class="easy-pie-chart" easypiechart options="options1" percent="data1">
                                <span class="percent" style="margin-top: -3em; color: #d46d29">
                                    <div class="percent-sign" style="font-size: 200%">{{data1}}</div>
                                    <div>On Time Delivery 1<br>(OTD 1)</div>
                                </span>
                            </div>
                        </div>
                        <div class="row" style="text-align: center" class="color1">
                           M to H-1
                        </div>
                    </div>
                    <div style="width: 16%; float: left;">
                        <div class="row" style="text-align: center">
                            <div class="easy-pie-chart" easypiechart options="options2" percent="data2">
                                <span class="percent" style="margin-top: -3em; color: #568ab7">
                                    <div class="percent-sign" style="font-size: 200%">{{data2}}</div>
                                    <div>One Time Delivery 2<br>(OTD 2)</div>
                                </span>
                            </div>
                        </div>
                        <div class="row" style="text-align: center" class="color1">
                           M to H-1
                        </div>
                    </div>
                    <div style="width: 16%; float: left;">
                        <div class="row" style="text-align: center">
                            <div class="easy-pie-chart" easypiechart options="options3" percent="data3">
                                <span class="percent" style="margin-top: -3em; color: #5e9739">
                                    <div class="percent-sign" style="font-size: 200%">{{data3}}</div>
                                    <div>Fill Rate</div>
                                </span>
                            </div>
                        </div>
                        <div class="row" style="text-align: center" class="color1">
                           M to H-1
                        </div>
                    </div>
                    <div style="width: 16%; float: left;">
                        <div class="row" style="text-align: center">
                            <div class="easy-pie-chart" easypiechart options="options4" percent="data4">
                                <span class="percent" style="margin-top: -3em; color: #5e9739">
                                    <div class="percent-sign" style="font-size: 200%">{{data4}}</div>
                                    <div>Return Job Rate<br>(RTJ)</div>
                                </span>
                            </div>
                        </div>
                        <div class="row" style="text-align: center" class="color1">
                           M to H-1
                        </div>
                    </div>
                    <div style="width: 16%; float: left;">
                        <div class="row" style="text-align: center">
                            <div class="easy-pie-chart" easypiechart options="options5" percent="data5">
                                <span class="percent" style="margin-top: -3em; color: #568ab7">
                                    <div class="percent-sign" style="font-size: 200%">{{data5}}</div>
                                    <div>Re-Do Paint</div>
                                </span>
                            </div>
                        </div>
                        <div class="row" style="text-align: center" class="color1">
                           M to H-1
                        </div>
                    </div>
                    <div style="width: 16%; float: left;">
                        <div class="row" style="text-align: center">
                            <div class="easy-pie-chart" easypiechart options="options6" percent="data6">
                                <span class="percent" style="margin-top: -3em; color: #568ab7">
                                    <div class="percent-sign" style="font-size: 200%">{{data6}}</div>
                                    <div>Re-Do Fi</div>
                                </span>
                            </div>
                        </div>
                        <div class="row" style="text-align: center" class="color1">
                           M to H-1
                        </div>
                    </div>
                </div>
                <div class="row" style="font-size: 8px; margin-top: 30px;">
                    <div class="col-md-4 col-lg-4" style="height: 400px">
                        <amchart ng-model="donutOptions" width="100%"></amchart>
                    </div>
                    <div class="col-md-4 col-lg-4" style="height: 400px">
                        <amchart ng-model="donutOptions2" width="100%"></amchart>
                    </div>
                    <div class="col-md-4 col-lg-4" style="height: 400px">
                        <amchart ng-model="donutOptions3" width="100%"></amchart>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>