<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="stylesheet" type="text/javascript" href="https://cdn.rawgit.com/eligrey/FileSaver.js/">

<div class="row" ng-form name="FormValidation_ReportFakturPajak">
	<div class="col-md-12">
		<div class="col-md-3" ng-class="{'has-error':(FormValidation_ReportFakturPajak.StatusNomorFakturPajak.$error.required && FormValidation_ReportFakturPajak.StatusNomorFakturPajak.$touched)}">
			<bsreqlabel>Status Nomor Faktur Pajak</bsreqlabel>
			<div class="input-icon-right">
				<bsselect ng-model="ReportFakturPajak_Status" name="StatusNomorFakturPajak" data="optionsReportFakturPajak_Status" item-text="name"
				 item-value="value" on-select="value(selected)" placeholder="Bulk Action" icon="fa fa-search" required>
				</bsselect>
				<span ng-if="FormValidation_ReportFakturPajak.StatusNomorFakturPajak.$error.required && FormValidation_ReportFakturPajak.StatusNomorFakturPajak.$touched"
				 class="help-block">Field ini wajib diisi</span>
			</div>
		</div>

		<div class="col-md-3" style="padding-top: 30px;">
			<input type="checkbox" ng-model="ReportFakturPajak_PernahBatal">Pernah Batal
		</div>

		<div class="col-md-3" ng-class="{'has-error':(FormValidation_ReportFakturPajak.ReportFakturPajakBranch.$error.required && FormValidation_ReportFakturPajak.ReportFakturPajakBranch.$touched)}">
			<bsreqlabel>Nama Branch</bsreqlabel>
			<div class="input-icon-right">
				<bsselect  name="ReportFakturPajakBranch"  item-text="name"
				item-value="value" on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search" ng-model="ReportFakturPajak_Branch"
				 ng-maxlength="50" data="optionsMainPenggunaanNomorFakturPajak_SelectBranch" ng-disabled="!ReportFakturPajak_Branch_isDisabled" required></bsselect>
				<span ng-if="FormValidation_ReportFakturPajak.TanggalStart.$error.required && FormValidation_ReportFakturPajak.TanggalStart.$touched"
				 class="help-block">Field ini wajib diisi</span>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-3" ng-class="{'has-error':(FormValidation_ReportFakturPajak.ReportFakturPajakTanggalAwal.$error.required && FormValidation_ReportFakturPajak.ReportFakturPajakTanggalAwal.$touched) || ReportFakturPajakTanggalAwalOK == false}">
			<bsreqlabel>Tanggal Faktur Pajak</bsreqlabel>
			<div class="input-icon-right ">
				<bsdatepicker name="ReportFakturPajakTanggalAwal" format="dd/MM/yyyy" date-options="dateOptions" ng-model="ReportFakturPajak_TanggalAwal"
				 ng-change="ReportFakturPajakTanggalAwalChanged()" required>
				</bsdatepicker>
				<span ng-if="FormValidation_ReportFakturPajak.ReportFakturPajakTanggalAwal.$error.required && FormValidation_ReportFakturPajak.ReportFakturPajakTanggalAwal.$touched"
				 class="help-block">Field ini wajib diisi</span>
				<span ng-if="!ReportFakturPajakTanggalAwalOK" class="help-block">{{errReportFakturPajakTanggalAwal}}</span>

			</div>
		</div>

		<div class="col-md-1" style="padding-top: 30px;margin-left: -15px;">

			<bslabel>s.d.</bslabel>

		</div>

		<div class="col-md-3" style="padding-top: 23px;	margin-left: -60px;" ng-class="{'has-error':(FormValidation_ReportFakturPajak.ReportFakturPajakTanggalAkhir.$error.required && FormValidation_ReportFakturPajak.ReportFakturPajakTanggalAkhir.$touched) || ReportFakturPajakTanggalAkhirOK == false}">

			<div class="input-icon-right ">
				<bsdatepicker name="ReportFakturPajakTanggalAkhir" format="dd/MM/yyyy" date-options="dateOptions" ng-model="ReportFakturPajak_TanggalAkhir"
				 ng-change="ReportFakturPajakTanggalAkhirChanged()" required>
				</bsdatepicker>
				<span ng-if="FormValidation_ReportFakturPajak.ReportFakturPajakTanggalAkhir.$error.required && FormValidation_ReportFakturPajak.ReportFakturPajakTanggalAkhir.$touched"
				 class="help-block">Field ini wajib diisi</span>
				<span ng-if="!ReportFakturPajakTanggalAkhirOK" class="help-block">{{errReportFakturPajakTanggalAwal}}</span>

			</div>
		</div>
		<div class="col-md-12 has-error">
			<div class="has-error" style="margin-left:15px;">
				<span ng-show="ReportFakturPajak_TanggalAwal>ReportFakturPajak_TanggalAkhir" class="help-block">Tanggal awal harus lebih kecil atau sama dengan tanggal akhir!</span>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<button id="Report_Excel" ng-click="Report_Excel_Clicked()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px">
			<span class="ladda-label">
				Excel
			</span>
			<span class="ladda-spinner"></span>
		</button>
		<!-- <button id="Report_Cetak" ng-click="Report_Cetak_Clicked()" -->
		<!-- type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px"  > -->
		<!-- <span class="ladda-label"> -->
		<!-- Cetak -->
		<!-- </span><span class="ladda-spinner"></span> -->
		<!-- </button> -->
	</div>
</div>