<style type="text/css">
    .grid {
        height: 300px;
    }
    </style>
<div>
	<div class="row">
        <div class="col-md-2">
            <label class="control-label">No. Shipping *</label>
                <input type="text" name="no_shipping" ng-model="mData.ShippingNo" class="form-control" placeholder="A068182" disabled></input>
        </div>
        <div class="col-md-2 col-md-offset-1" style="pointer-events: none;">
            <label class="control-label">Tanggal Terima GR *</label>
                <bsdatepicker
                  name="startDate"
                  date-options="dateOptions"
                  ng-model="mData.GRDate"
                  placeholder="17/Jul/2016"
                  ng-disabled = true
                 >
                 </bsdatepicker>

        </div>
        <div class="col-md-1">
            <label class="control-label">&nbsp</label>
            <input type="text" name="jam_terima_gr" class="form-control" placeholder="09.00" disabled></input>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <label class="control-label">Partsman</label>
            <input type="text" name="partsman" ng-model="mData.Partsman" class="form-control" placeholder="Eko Susilo Putra" disabled></input>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label" >&nbsp</label>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-2">
            <label class="control-label">No. PO *</label>
            <input type="text" ng-model="mData.PurchaseOrderNo" class="form-control" placeholder="PO/201798989" readonly></input>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <label class="control-label">No. Vendor Invoice *</label>
            <input type="text" ng-model="mData.InvoiceNo" class="form-control" placeholder="" readonly></input>
        </div>
        <div class="col-md-2  col-md-offset-2">
            <label class="control-label">No. Case</label>
            <input type="text" ng-model="mData.CaseNo" class="form-control" placeholder="J88887" readonly></input>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-2">
            <label class="control-label">Kode Claim *</label>
            <select class="form-control" ng-model="mData.PartClaimTypeId" disabled>
                <option value="{{mData.PartClaimTypeId}}" selected>{{ToNameClaim(mData.PartClaimTypeId)}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
        <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label class="control-label">Nomor Parts Claim DMS *</label>
            <input class="form-control" type="text" ng-model="mData.StockReturnClaimNo" placeholder="PO/203983204" readonly>
        </div>
        <div class="col-md-2 col-md-offset-1" style="pointer-events: none;">
            <label class="control-label">Tanggal Parts Claim *</label>
                <bsdatepicker
                  name="startDate"
                  date-options="dateOptions"
                  ng-model="mData.DocDate"
                  placeholder="17/Jul/2016"
                  ng-disabled = true
                 >
                 </bsdatepicker>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <label class="control-label">Nomor Parts Claim TAM *</label>
            <input class="form-control" type="text" ng-model="mData.StockReturnClaimNoTAM" placeholder="PO/203983204" disabled>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-2">
            <label class="control-label">Status</label>
            <input class="form-control" placeholder="Draft" ng-value="ToNameStatus(mData.StockReturnClaimStatusId)" disabled></input>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="5" ng-model="mData.Notes" disabled></textarea>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-1">
            <label class="control-label">Attachment</label>
            <label class="control-label"><u><!-- part_picture.xlsx --></u></label>
        </div>
    </div>

    <br/>


    <div class="row" style="pointer-events: none;">
        <div class="col-md-12">
            <div id="grid1" ui-grid="grid_parts_claim_lihat" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" align="right">
           
            <button class="btn wbtn" skip-disable ng-click="goBack2()">Kembali</button>
        </div>
    </div>

</div>
