<style type="text/css">
    .grid {
        height: 300px;
    }
    </style>
<div>
    <div class="row">
        <div class="col-md-2">
            <label class="control-label">No. Shipping *</label>
                <input type="text" name="no_shipping" ng-model="mData.ShippingNo" class="form-control" placeholder="A068182" disabled></input>
        </div>
        <div class="col-md-2 col-md-offset-1" style="pointer-events: none;">
            <label class="control-label">Tanggal Terima GR *</label>
                <bsdatepicker
                  name="startDate"
                  date-options="dateOptions"
                  ng-model="mData.GRDate"
                  placeholder="17/Jul/2016"
                  ng-disabled = true
                >
                </bsdatepicker>
                 
        </div>
        <div class="col-md-1">
            <label class="control-label">&nbsp</label>
            <input type="text" name="jam_terima_gr" class="form-control" placeholder="09.00"></input>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <label class="control-label">Partsman</label>
            <input type="text" name="partsman" ng-model="mData.Partsman" class="form-control" placeholder="Eko Susilo Putra" disabled></input>
        </div> 
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label" >&nbsp</label>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-2">
            <label class="control-label">No. PO *</label>
            <input type="text" ng-model="mData.PurchaseOrderNo" class="form-control" placeholder="PO/201798989" disabled></input>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <label class="control-label">No. Vendor Invoice *</label>
            <input type="text" ng-model="mData.InvoiceNo" class="form-control" placeholder="061798989" disabled></input>
        </div>
        <div class="col-md-2  col-md-offset-2">
            <label class="control-label">No. Case</label>
            <input type="text" ng-model="mData.CaseNo" class="form-control" placeholder="J88887" disabled></input>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>

    <br/>


    <div class="row">
        <div class="col-md-2">
            <label class="control-label">Kode Claim *</label>
            <select class="form-control" ng-model="mData.PartClaimTypeId" disabled>
                <option value="{{mData.PartClaimTypeId}}" selected>{{ToNameClaim(mData.PartClaimTypeId)}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
        <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label class="control-label">Nomor Parts Claim DMS *</label>
            <input class="form-control" type="text" ng-model="mData.StockReturnClaimNo" placeholder="PC/203983204" disabled>
        </div>
        <div class="col-md-2 col-md-offset-1" style="pointer-events: none;">
            <label class="control-label">Tanggal Parts Claim *</label>
                <bsdatepicker
                  name="startDate"
                  date-options="dateOptions"
                  ng-model="mData.DocDate"
                  placeholder="17/Jul/2016"
                  ng-disabled = true
                 >
                 </bsdatepicker>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <label class="control-label">Nomor Parts Claim TAM *</label>
            <input class="form-control" type="text" ng-model="mData.StockReturnClaimNoTAM" placeholder="PC/203983204" ng-disabled="1==1" disabled>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-2">
            <label class="control-label">Status</label>
            <input class="form-control" placeholder="Draft" ng-value="ToNameStatus(mData.StockReturnClaimStatusId)" disabled ng-disabled="true"></input>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="5" ng-model="mData.Notes" maxlength="200"></textarea>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Attachment</label>
            <div class="input-group">
                <input type="text" class="form-control" disabled>
                <label class="input-group-btn">
                    <span class="btn rbtn" disabled>
                        Browse&hellip; <input type="file" style="display: none;" multiple>
                    </span>
                </label>
                
            </div>
        </div>
    </div>

    <br/>

    <div class="row" style="padding-left: 2px;">
    <div class="col-md-2">
        <div class="input-group-btn dropdown" uib-dropdown="" style="">
          <button style="margin-right:5px;" type="button" 
            class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" 
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <!-- ngIf: allowDelete -->
            <li>
            <!-- ngIf: selectedRows.length>0 --><a href="#">Hapus</a>
            <!-- end ngIf: selectedRows.length>0 --></li>
            <!-- end ngIf: allowDelete -->
            <!-- ngIf: allowApprove -->
            <!-- ngIf: allowReject -->
            <!-- ngIf: allowReview -->
            <!-- ngRepeat: customBulk in customBulkFunc -->
          </ul>
        </div>

        <button style="margin-right:5px;margin-top:50px;" type="button" 
            class="btn wbtn dropdown-toggle" ng-click="Add('grid_parts_claim_ubah')" uib-dropdown-toggle="" 
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Tambah Material
        </button>
    </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <div id="grid1" ui-grid="grid_parts_claim_ubah" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label>&nbsp</label>
        </div>
        <div class="col-md-2">
            <div align="right">
                <!-- <button class="btn wbtn">Cetak Parts Claim</button> -->
            </div>
        </div>
        <div class="col-md-8">
            <div align="right">
                <button class="btn wbtn" ng-click="batalPC(mData)">Batal Parts Claim</button>
                <button class="btn wbtn" ng-click="goBack()">Kembali</button>
                <button class="btn rbtn" ng-click="SimpanEdit(mData);">Simpan Draft</button>
                <button class="btn rbtn" ng-click="simpan(mData)">Simpan & Kirim ke TAM</button>
            </div>
        </div>
    </div> 

</div>

<!--1-->
<!--2-->
<!--3-->
<!--4-->

