<script type="text/javascript">
    // function IfGotProblemWithModal() {
    //     $('body .modals').remove();
    // }
    // $('input#platnokhusus').keypress(function (e) {
    //     var regex = new RegExp("^[a-zA-Z0-9]+$");
    //     var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
    //     if (regex.test(str)) {
    //         return true;
    //     }

    //     e.preventDefault();
    //     return false;
    // });

    // $('input#platnokhusus').bind('keypress', function (event) {
    //     // var keyCode = event.keyCode || event.which
    //     // // Don't validate the input if below arrow, delete and backspace keys were pressed 
    //     // if (keyCode == 8 || (keyCode >= 35 && keyCode <= 40)) { // Left / Up / Right / Down Arrow, Backspace, Delete keys
    //     //     return;
    //     // }

    //     var regex = new RegExp("^[a-zA-Z0-9]+$");
    //     var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);

    //     if (!regex.test(key)) {
    //         event.preventDefault();
    //         return false;
    //     }
    // });
</script>
<style type="text/css">

</style>

<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<!--<button ng-click="sekarang()">Sekarang</button>-->
<!-- <bs-selectmobile ng-models="select" id="ValueId" name="ValueName" on-change="changeMethod()" data="dataselect" object="objectSelect" ></bs-selectmobile> -->
<div ng-show=listspk class="row" style="margin: 0 0 0 0">
    <bsform-mobile factory-name="CreateSpkFactory" bind-data="bind_data" info-totaldata="true" enable-listtoggle="false" filter-data="filterData" loading="loading" custom-modallihat="true" custom-modalubah="true" custom-modalhapus="true" enable-addbutton="disable"
        enable-listtoggle="false" disable-filter="true" after-refresh="CreateSpkIlanginSearch()" enable-advancedsearch="true" info-totaldata="false" service-enable="true" selected-data="selected_data" updated-data="selected_data" form-name="DraftSPK" list-title="Daftar Draft SPK" row-template-url="app/sales/sales1/spk/createSpk/rowTemplate.html">
		
		<bsform-mobileadvancedsearch>
                <div id="filterData" class="row" style="margin:0; margin-top:5px;">
                    <div  style="margin-bottom: 55px;">
                        <div id="comboBoxFilter" class="col-xs-6">
                            <div class="form-group filterMarg">
                                <select ng-change="CreateSpkAkalAkalan(selectedFilterCreateSpk,textFilterCreateSpk)" required
                                    ng-model="selectedFilterCreateSpk" class="form-control"
                                    ng-options="item.value as item.name for item in filterData.defaultFilter" placeholder="Filter">
                                    <option label="Filter" value="" disabled>Filter</option>
                                </select>
                            </div>
                        </div>
                        <div id="inputFilter" class="col-xs-6">
                            <div class="form-group filterMarg" ng-show="showCustomerInput">
                                <input ng-change="CreateSpkAkalAkalan(selectedFilterCreateSpk,textFilterCreateSpk)" type="text" required
                                    ng-model="textFilterCreateSpk" id="DaTextFilterCreateSpk" class="form-control" name="ModelKendaraan"
                                    placeholder="Search" ng-maxlength="100">
                        
                            </div>
                        
                            <div class="form-group filterMarg" ng-show="showModelInput">
                                <select data-ng-options="dataModel.VehicleModelName for dataModel in optionsModel"
                                    ng-change="CreateSpkModelSearchChange(CreateSpkModelSearch)" id="DaModelFilterCreateSpk"
                                    ng-model="CreateSpkModelSearch" class="form-control" style="width: 100%;margin-bottom: 10px;" required>
                                    <option label="-- Pilih --" value="" disabled="true"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div style="margin-bottom: 120px">
                        <div class="col-xs-6">
                            <bslabel>Tanggal SPK dari</bslabel>
                            <div>
                                <input ng-change="CreateSpkChangeSpkStartDate(bind_data.filter.SPKStartDate)" onkeydown="return false"
                                    type="date" ng-model="bind_data.filter.SPKStartDate" class="form-control">
                            </div>
                        </div>
                        
                        
                        
                        <div class="col-xs-6">
                            <bslabel>Tanggal SPK sampai</bslabel>
                            <div>
                                <input ng-change="CreateSpkChangeSpkEndDate(bind_data.filter.SPKEndDate)" onkeydown="return false" type="date"
                                    ng-model="bind_data.filter.SPKEndDate" class="form-control">
                            </div>
                        </div>
                    </div>
                    
                </div>
				
				<!-- <div style="margin:0; margin-top:10px; margin-bottom: 15px;" class="row" > -->
                    <!-- <div class="col-xs-12"> -->
                        
                    <!-- </div> -->
                <!-- </div> -->
                
                <!-- <div style="margin:35px -15px 10px -11px" class="row col-xs-12">
                    <bslabel>Model Kendaraan</bslabel>
                    <div class='input-icon-right'>
                        <select data-ng-options="dataModel.VehicleModelName for dataModel in optionsModel"
                            ng-change="CreateSpkModelSearchChange(CreateSpkModelSearch)" id="DaModelFilterCreateSpk"
                            ng-model="CreateSpkModelSearch" class="form-control" style="width: 100%;margin-bottom: 10px;" required>
                            <option label="-- Pilih --" value="" disabled="true"></option>
                        </select>
                    </div>
                </div> -->
				
				<!-- <div style="margin:-25px; margin-top:35px;margin-bottom:10px" class="row col-xs-12"> -->
					<!-- <div class="col-xs-6">
						<bslabel>Tanggal SPK</bslabel>
						<div class='input-group date' >
							<input ng-change="DistribusiSpkChangeSpkStartDate(bind_data.filter.SPKStartDate)" onkeydown="return false"  type="date" ng-model="bind_data.filter.SPKStartDate">
						</div>
					</div> -->
					
				<!-- </div> -->
				
				<!--<div style="margin:-25px; margin-top:5px;" class="row col-xs-12" >
				<div class="col-xs-12">
					<bslabel>Model Kendaraan</bslabel>
					<div class='input-icon-right'>
						<select data-ng-options="dataModel.VehicleModelName for dataModel in optionsModel"
							ng-change="CreateSpkModelSearchChange(CreateSpkModelSearch)" ng-model="CreateSpkModelSearch" class="form-control" style="width: 100%;margin-bottom: 10px;" required>
							<option label="-- Pilih --" value="" disabled="true"></option>
						</select>
					</div>
				</div>
				</div>
				
				<div style="margin:-25px; margin-top:35px;margin-bottom:10px" class="row col-xs-12">
					<div class="col-xs-6">
						<bslabel>Tanggal SPK</bslabel>
						<div class='input-group date' >
							<input class="form-control" ng-change="CreateSpkChangeSpkStartDate(bind_data.filter.SPKStartDate)" onkeydown="return false"  type="date" ng-model="bind_data.filter.SPKStartDate">
						</div>
					</div>
					<div class="col-xs-6" style="margin-top:20px">
						<bslabel></bslabel>
						<div class='input-group date' >
							<input class="form-control" ng-change="CreateSpkChangeSpkEndDate(bind_data.filter.SPKEndDate)" onkeydown="return false"  type="date" ng-model="bind_data.filter.SPKEndDate">
						</div>
					</div>
				</div>-->
				
		
        </bsform-mobileadvancedsearch>
		
        

        <bsform-mobilemodal>
            <a ng-click="viewSelectedItem(selected_data)">
                <li class="list-group-item item-modal">
                    <span><i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i></span> Lihat Detail
                </li>
            </a>
            <a ng-click="updateSelectedItem(selected_data)">
                <li class="list-group-item item-modal">
                    <span><i class="fa fa-fw fa-lg fa-pencil" style="margin-right: 15px"></i></span> Ubah Data
                </li>
            </a>
            <a ng-click="aprovalDiscountDraft(selected_data)">
                <li class="list-group-item item-modal">
                    <span><i class="fa fa-fw fa-lg fa-percent" style="margin-right: 15px"></i></span> Approval Discount
                </li>
            </a>
			<a ng-click="aprovalOffTheRoad(selected_data)">
                <li class="list-group-item item-modal">
                    <span><i class="fa fa-fw fa-lg fa-percent" style="margin-right: 15px"></i></span> Approval Off The Road
                </li>
            </a>
        </bsform-mobilemodal>

    </bsform-mobile>
</div>

<div class="ui modal ModalApprovalOffTheRoadDraft" role="dialog">
    <div>
        <div class="modal-header" style="padding: 5px 1.5rem 5px 1.5rem !important;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15)">     
            <h4 class="modal-title">Progress Approval Off The Road</h4>
        </div>
        <div class="modal-body" style="padding: 5px 5px 5px 5px">
            <div class="row">
                    <div class="col-xs-10" style=" margin: 10px 0 10px 0">
                            <label>Tanggal Pengajuan</label>
                            <b>{{ListOffTheRoad[0].RequestDate | date:'dd-MM-yyyy'}}</b>
                            <!-- <bsdatepicker ng-disabled="true" date-options="tanggalDiscount" ng-model="listDicount.RequestDate"></bsdatepicker> -->
                        </div>
            </div>

            <div class="row" style="margin: 0 0 0 0">
                <button class="btn" type="button" style="width: 100%; height: 35px; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <ul class="list-inline">
                                <li style="font-size: 14px;">Status Approval : {{ListOffTheRoad.HeaderApprovalCategoryName}}</li>
                                <!--<li style="float:right;margin-top: 10px; margin-right:3px;"><span style="float:right; margin-right:3px;">{{Show_Hide_Menunggu_Respon_Admin_PanelIcon}} </span></li>-->
                            </ul>								
                            </button>
            </div>

            <div class="list-group" style="margin: 0 0 5px 0 !important" id="dropdownContent" aria-labelledby="dropdownMenu1">
                <div ng-repeat="list in ListOffTheRoad" class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="col-xs-11">
                            <p style="font-size: 14px"><i class="fa fa-user" aria-hidden="true"></i>&nbsp&nbsp<b>Nama Approver / Jabatan : {{list.ApprovalName}} / <label ng-if="list.ApproverRoleId==1057"><b>COO</b></label><label ng-if="list.ApproverRoleId==1121"><b>OM</b></label></b></p>
                            <p style="margin-bottom: 0; font-size: 14px">
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp&nbspTanggal Approval : {{list.ApprovalDate | date : "dd-MM-yyyy"}}</li>
                                </ul>
								<ul class="list-inline">
                                    <li><i class="fa " aria-hidden="true"></i>Status : {{list.StatusApprovalName}}</li>
                                </ul>
								<ul ng-if="list.StatusApprovalName!='Diajukan'" class="list-inline">
                                    <li><i class="fa " aria-hidden="true"></i>Alasan :
                                        <label ng-if="list.RejectReason!='' && list.RejectReason!=null">{{list.RejectReason}}</label>
                                        <label ng-if="(list.RejectReason=='' || list.RejectReason==null) && list.RequestNote != 'Tidak Butuh Approval'"> -</label>
                                        <label ng-if="(list.RejectReason=='' || list.RejectReason==null) && list.RequestNote == 'Tidak Butuh Approval'">{{list.RequestNote}}</label>
                                    </li>
                                </ul>
								<ul ng-if="list.StatusApprovalName=='Diajukan'" class="list-inline">
                                    <li><i class="fa " aria-hidden="true"></i>Pengajuan ini masih dalam proses pengajuan</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                <div class="row">
                    <button ng-click="btnkeluarApprovalOffTheRoad()" class="wbtn btn ng-binding ladda-button" style="float:right;">Keluar</button>
                </div>
        </div>
    </div>
</div>

<div class="ui modal ModalApprovalDicountDraft" role="dialog">
    <div>
        <div class="modal-header" style="padding: 5px 1.5rem 5px 1.5rem !important;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15)">     
            <h4 class="modal-title">Progress Approval Discount</h4>
        </div>
        <div class="modal-body" style="padding: 5px 5px 5px 5px">
            <div class="row">
                    <div class="col-xs-10" style=" margin: 10px 0 10px 0">
                            <label>Tanggal Pengajuan</label>
                            <b>{{listDicount.RequestDate | date:'dd-MM-yyyy'}}</b>
                            <!-- <bsdatepicker ng-disabled="true" date-options="tanggalDiscount" ng-model="listDicount.RequestDate"></bsdatepicker> -->
                        </div>
            </div>
            
            <div class="row">
                    <div class="col-xs-10" style=" margin: 10px 0 10px 0">
                            <label>Total Discount</label>
                            <b>Rp. {{listDicount.RequestTotalDiscount | number:0}}</b>
                            <!-- <bsdatepicker ng-disabled="true" date-options="tanggalDiscount" ng-model="listDicount.RequestDate"></bsdatepicker> -->
                        </div>
            </div>
            
            

            <div class="row" style="margin: 0 0 0 0">
                <button class="btn" type="button" style="width: 100%; height: 35px; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <ul class="list-inline">
                                <li style="font-size: 14px;">Status Discount : {{listDicount.HeaderApprovalCategoryName}}</li>
                                <!--<li style="float:right;margin-top: 10px; margin-right:3px;"><span style="float:right; margin-right:3px;">{{Show_Hide_Menunggu_Respon_Admin_PanelIcon}} </span></li>-->
                            </ul>								
                            </button>
            </div>

            <div class="list-group" style="margin: 0 0 5px 0 !important" id="dropdownContent" aria-labelledby="dropdownMenu1">
                <div ng-repeat="list in listDicount.ListOfSAHApprovalDiscountSPKView" class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="col-xs-11">
                            <p style="font-size: 14px"><i class="fa fa-user" aria-hidden="true"></i>&nbsp&nbsp<b>Nama Approver / Jabatan : {{list.ApproverName}} / {{list.ApproverRoleName}}</b></p>
                            <p style="margin-bottom: 0; font-size: 14px">
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp&nbspTanggal Approval : {{list.ApprovalDate | date : "dd-MM-yyyy"}}</li>
                                </ul>
								<ul class="list-inline">
                                    <li><i class="fa " aria-hidden="true"></i>Status : {{list.StatusApprovalName}}</li>
                                </ul>
								<ul ng-if="list.StatusApprovalName!='Diajukan'" class="list-inline">
                                    <li><i class="fa " aria-hidden="true"></i>Keterangan : 
                                        <label ng-if="list.ApprovalNote!='' && list.ApprovalNote!=null">{{list.ApprovalNote}}</label>
                                        <label ng-if="(list.ApprovalNote=='' || list.ApprovalNote==null) && list.RequestNote != 'Tidak Butuh Approval'">Tidak Ada Keterangan</label>
                                        <label ng-if="(list.ApprovalNote=='' || list.ApprovalNote==null) && list.RequestNote == 'Tidak Butuh Approval'">{{list.RequestNote}}</label>
                                    </li>
                                </ul>
								<ul ng-if="list.StatusApprovalName=='Diajukan'" class="list-inline">
                                    <li><i class="fa " aria-hidden="true"></i>Diskon ini masih dalam tahap pengajuan</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                <div class="row">
                    <button ng-click="btnkeluarLeasingdraft()" class="wbtn btn ng-binding ladda-button" style="float:right;">Keluar</button>
                </div>
        </div>
    </div>
</div>

<div class="ui modal ModalApprovalSpkOffTheRoad" role="dialog">
    <div>
        <div class="modal-header" style="padding: 5px 1.5rem 5px 1.5rem !important;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15)">     
            <h4 class="modal-title">Progress Approval Discount</h4>
        </div>
        <div class="modal-body" style="padding: 5px 5px 5px 5px">
            <div class="row">
                    <div class="col-xs-10" style=" margin: 10px 0 10px 0">
                            <label>Tanggal Pengajuan</label>
                            <b>{{listDicount.RequestDate | date:'dd-MM-yyyy'}}</b>
                            <!-- <bsdatepicker ng-disabled="true" date-options="tanggalDiscount" ng-model="listDicount.RequestDate"></bsdatepicker> -->
                        </div>
            </div>
            
            <div class="row">
                    <div class="col-xs-10" style=" margin: 10px 0 10px 0">
                            <label>Total Discount</label>
                            <b>Rp. {{listDicount.RequestTotalDiscount | number:0}}</b>
                            <!-- <bsdatepicker ng-disabled="true" date-options="tanggalDiscount" ng-model="listDicount.RequestDate"></bsdatepicker> -->
                        </div>
            </div>
            
            

            <div class="row" style="margin: 0 0 0 0">
                <button class="btn" type="button" style="width: 100%; height: 35px; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <ul class="list-inline">
                                <li style="font-size: 14px;">Status Discount : {{listDicount.HeaderApprovalCategoryName}}</li>
                                <!--<li style="float:right;margin-top: 10px; margin-right:3px;"><span style="float:right; margin-right:3px;">{{Show_Hide_Menunggu_Respon_Admin_PanelIcon}} </span></li>-->
                            </ul>								
                            </button>
            </div>

            <div class="list-group" style="margin: 0 0 5px 0 !important" id="dropdownContent" aria-labelledby="dropdownMenu1">
                <div ng-repeat="list in listDicount.ListOfSAHApprovalDiscountSPKView" class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="col-xs-11">
                            <p style="font-size: 14px"><i class="fa fa-user" aria-hidden="true"></i>&nbsp&nbsp<b>Nama Approver / Jabatan : {{list.ApproverName}} / {{list.ApproverRoleName}}</b></p>
                            <p style="margin-bottom: 0; font-size: 14px">
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp&nbspTanggal Approval : {{list.ApprovalDate | date : "dd-MM-yyyy"}}</li>
                                </ul>
								<ul class="list-inline">
                                    <li><i class="fa " aria-hidden="true"></i>Status : {{list.StatusApprovalName}}</li>
                                </ul>
								<ul ng-if="list.StatusApprovalName!='Diajukan'" class="list-inline">
                                    <li><i class="fa " aria-hidden="true"></i>Keterangan : 
                                        <label ng-if="list.ApprovalNote!='' && list.ApprovalNote!=null">{{list.ApprovalNote}}</label>
                                        <label ng-if="(list.ApprovalNote=='' || list.ApprovalNote==null) && list.RequestNote != 'Tidak Butuh Approval'">Tidak Ada Keterangan</label>
                                        <label ng-if="(list.ApprovalNote=='' || list.ApprovalNote==null) && list.RequestNote == 'Tidak Butuh Approval'">{{list.RequestNote}}</label>
                                    </li>
                                </ul>
								<ul ng-if="list.StatusApprovalName=='Diajukan'" class="list-inline">
                                    <li><i class="fa " aria-hidden="true"></i>Diskon ini masih dalam tahap pengajuan</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                <div class="row">
                    <button ng-click="btnkeluarLeasingdraft()" class="wbtn btn ng-binding ladda-button" style="float:right;">Keluar</button>
                </div>
        </div>
    </div>
</div>

<!-- <div ng-if="renderformspk"> -->
<div ng-if="formspk" class="row" style="margin: 0 0 0 0">
    <div ng-include src="'app/sales/sales1/spk/createSpk/formCreateSPK.html'"></div>
</div>
<!-- </div> -->


<!--<div ng-show="signspk" class="row" style="margin: 0 0 0 0">
             <div ng-include src="'app/sales/spk/createSpk/signSPK.html'"></div>
         </div>-->

<div class="ui modal spkHilang" role="dialog">
    <div class="modalDefault-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="padding-bottom:2px;">
            <div class="row" style="margin-left:3px; margin-bottom:15px;">
                <div class="form-group">
                    <bslabel>No Surat Kehilangan</bslabel>
                    <div class="input-icon-right">
                        <input type="text" class="form-control" name="nama" placeholder="No Surat Kehilangan" ng-model="mSPK_Kehilangan.SpkLostNumber" ng-maxlength="50" required>
                    </div>
                </div>
                <div class="form-group">
                    <label>Alasan Pengajuan SPK Hilang</label>
                    <bsselect name="SelectReason" ng-model="mSPK_Kehilangan.SpkLostId" data="alasanhilang" item-text="SpkLostName" item-value="SpkLostId" on-select="" placeholder="Select">
                    </bsselect>
                </div>
                <div class="form-group">
                    <label>Keterangan</label>
                    <textarea type="text" name="Desc" class="form-control" placeholder="" ng-model="mSPK_Kehilangan.NoteLost" rows="5" cols="60" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding-bottom:2px;">
                <div class="row">
                    <button ng-click="btnkehilanganSpk()" class="rbtn btn ng-binding ladda-button" style="float:right; bottom:10px; width:15%;">Simpan</button>
                    <button ng-click="btnbatalkehilanganSpk()" class="rbtn btn ng-binding ladda-button" style="float:right; bottom:10px; width:15%;">Batal</button>
                </div>
        </div>
    </div>
</div>