
<style type="text/css">
    /*@media only screen and (max-width: 600px) {
        .nav.nav-tabs {
            display: none;
        }
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    */
    .containersign {
        /*padding: 10px 10px 40px 10px;*/
        position: relative;
        margin: 0 auto 0 auto;
        height: 100%;
    }
    
    .containersign .signature {
        border: 1px solid dimgrey;
        margin: 0 auto;
        cursor: pointer;
    }
    
    .buttons{
        display: none !important
    }

    .signature_container{
        display: none !important
    }
    
    .containersign .signature canvas {
        border: 1px solid #999;
        margin: 0 auto;
        cursor: pointer;
    }
    
    .containersign .buttons {
        position: absolute;
        /*bottom: 10px;
        left: 10px;*/
    }
    
    .containersign .sizes {
        position: absolute;
        /*bottom: 10px;
        right: 10px;*/
    }
    
    .containersign .sizes input {
        width: 4em;
        text-align: center;
    }
    
    .result {
        border: 1px solid blue;
        margin: 30px auto 0 auto;
        height: 220px;
        width: 568px;
    }
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript" src="js/signature.js"></script>
<script type="text/javascript" src="js/signature_pad.js"></script>


<div class="ui modal signature" style="margin: 0 0 0 0">
    <div class="row" style="margin: 20px 0 0 0">
        <div class="col-xs-12" style="margin: 0 0 0 0">
            <p><b>Nama Customer &nbsp: &nbsp</b>Gunawan Nur Dwicahyo</p>
        </div>
        <div class="col-xs-12" style="margin: 0 0 20px 0">
            <p><b>NO SPK &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp : &nbsp</b>SPK124667126272</p>
        </div>

        <i>&nbsp&nbsp&nbsp&nbsp* Silahkan memberi tanda tangan pada kotak dibawah ini.</i>
        <div class="containersign" ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
            <signature-pad accept="accept" clear="clear" height="400" width="800" dataurl="dataurl"></signature-pad>
            <div class="row" style="padding:10px 0 0 0">
                
            </div>
            <!--<div class="sizes">
                <input type="text" ng-model="boundingBox.width"> x <input type="text" ng-model="boundingBox.height">
            </div>-->
        </div>

        <!--Image-->
        <!--<div class="result img-responsive" ng-show="signature">
            <img class="img-responsive" ng-src="{{ signature.dataUrl }}">
        </div>-->

        <!--dataUrl-->
        <!--<div class="container" style="width: 100%">
            <p style="word-wrap: break-word;">Image Data (Copy This string as result) <br /> {{signature.dataUrl}}</p>
        </div>-->
    </div>

    <div class="row" style="margin: 20px 0 0 0">
        <div style="float: right">
                    <div class="row">
                        <button class="btn wbtn" ng-click="kembaliformspk()">Batal</button>
                        <button ng-click="dataurl = signature.dataUrl" style="display: none"></button>
                        <button class="btn wbtn" ng-click="clear()" >Ulangi</button>
                        <button class="btn rbtn" ng-click="signature = accept(); open()">Simpan</button>
                    </div>
                </div>
    </div>
</div>