<!--
  Catatan Flow
  1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

</style>

<div class="container" ng-app="app" ng-controller="PurchaseOrderController">            
    <div class="form-group">           
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Referensi GI *</label>
                <select class="form-control" disabled>
                  <option selected>WO</option>
                  <option>Sales Order</option>
                  <option>Transfer Order</option>
                  <option>Return Parts Claim</option>
                  <option>Return RPP</option> 
                </select>
            </div>
            <div class="col-md-2">                
                <label class="control-label">No Sales Order</label>
                <input class="form-control" type="text" name="no_wo" placeholder="WO/20160715001" disabled></input>
            </div>
            <div class="col-md-2">                
                <label class="control-label">No MR *</label>    
                <input class="form-control" type="text" name="no_mr" placeholder="MR/20160715001" disabled></input>               
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 1 -->
              <br />
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">Tipe Material*</label>
                    <select class="form-control" required disabled>
                        <option selected>Parts</option>
                        <option>Bahan</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div> 
        </div>
        <!-- [END] Form Level 2 -->
              <br />
        <!-- [START] Form Level 5 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Bengkel</label>
                <input class="form-control" type="text" ng-model="mPurchaseOrder" name="bengkel" placeholder="TO53- Toyota B&P Tasmin" disabled></input>
                
            </div>
            <div class="col-md-2">                
                <label class="control-label">&nbsp</label>
                
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 5 -->
              <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Penerima</label>
                <input class="form-control" style="text-align : left" type="text" name="grandtotal" placeholder="Rania" disabled></input>
            </div>
            <div class="col-md-2">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 7 -->
         <br />
         <!-- [START] Form Level 9 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">No GI</label>
                <input class="form-control" style="text-align : left" type="text" name="nomor_gi" placeholder="GI/209021902" disabled></input>
            </div>
            <div class="col-md-2">                
                <label class="control-label">Tanggal GI</label> 
                <bsdatepicker
                  name="endDate"
                  date-options="dateOptions"
                  ng-model="mPeriod.endDate"
                  >
                  </bsdatepicker>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 7 -->
         <br />
         <!-- [START] Form Level 9 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Status</label>
                <input class="form-control" style="text-align : left" type="text" name="status" placeholder="Canceled" disabled></input>
            </div>
            <div class="col-md-2">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 7 -->
         <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Notes</label>
                <textarea class="form-control" row='5' disabled></textarea>
            </div>
            <div class="col-md-4">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-4">
                <label class="control-label">&nbsp</label> 
            </div>                             
        </div>
        <!-- [END] Form Level 7 -->
    </div>
</div>

<div class="form-group">
<div class="row">
    <div class="col-md-2">
        <select class="form-control" placeholder="Bulk Action">
            <option>Hapus</option>
            <option>Hapus Semua</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-12" ng-controller="GoodsIssueController">
      <div id="grid1" ui-grid="gridOptions" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
    </div>
</div>

<fieldset style="padding-top: 10px">
<div align="right">
  <button class="btn btn-default">Kembali</button>
</div>
</fieldset>
