<script type="text/javascript">
</script>
<style type="text/css">

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid ng-form="AssetBrosurForm" factory-name="AssetBrosur" model="mAssetBrosur" model-id="BrochureId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="AssetBrosurForm" form-title="AssetBrosur" modal-title="AssetBrosur"
    modal-size="small" icon="fa fa-fw fa-child">

    <!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->
    <!-- IF NOT USING FORMLY -->

    <div class="row" style="margin: 0 0 0 0">
        <div class="col-md-5">
            <!--<div class="form-group" show-errors>
                <bsreqlabel>Vehicle Model</bsreqlabel>
                <bsselect name="vehicleModel" data="VehicleModel" item-text="VehicleModelName" item-value="VehicleModelId" ng-model="mAssetBrosur.BranchId" placeholder="Select Vehicle Model" icon="fa fa-car glyph-left" style="min-width: 150px;" required>
                </bsselect>
                <bserrmsg field="vehicleModel"></bserrmsg>
            </div>-->
            <div class="form-group" show-errors>
                <bsreqlabel>Brochure Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="namaBrosur" placeholder="Nama Brosur" ng-model="mAssetBrosur.BrochureName" ng-maxlength="50" required>
                </div>
                <bserrmsg field="namaBrosur"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Brochure Type</bsreqlabel>
                <bsselect name="brochuretype" data="BrochureType" item-text="BrochureTypeName" item-value="BrochureTypeId" ng-model="mAssetBrosur.BrochureTypeId" placeholder="Select Brochure Type" icon="fa fa-file-o glyph-left" style="min-width: 150px;">
                </bsselect>
                <bserrmsg field="brochuretype"></bserrmsg>
            </div>

            <div class="row" style="margin: 0 0 0 0">
                <div class="col-md-9" style="padding-left:0px">
                    <div class="form-group" show-errors>
                        <bsreqlabel>File Modul</bsreqlabel>
                            <image-control 
                                max-upload=1
                                is-image=1
                                img-upload="uploadFiles"
                            >
                                <form-image-control>
                                    <input type="file" bs-upload="onFileSelect($files)" img-upload="uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1;">
                                    <input type="text" ng-model="mAssetBrosur.UploadDataBrochure = uploadFiles[0]" name="" style="display:none">
                                </form-image-control>
                                        
                            </image-control>
                        <!--<div class="input-icon-right">
                            <i class="fa"></i>
                            <input type="text" ng-disabled="true" class="form-control" name="file" placeholder="File Modul" ng-model="mAssetBrosur.FileModul" required>
                        </div>
                        <bserrmsg field="FileModul"></bserrmsg>-->
                    </div>
                </div>

                <div class="col-md-3" style="margin:23px 0 0 0; padding-right:0px">
                    <label class="rbtn btn ng-binding ladda-button" style="float: right">
                            Browse<input type="file" name="file" data-my-directive style="display: none;" class="form-control">
                    </label>
                </div>
            </div>

            <div class="col-md-6 col-xs-6" style="padding-left: 0 !important">
                <div class="form-group" show-errors>
                    <bsreqlabel>Valid On</bsreqlabel>
                    <bsdatepicker name="ValidOn" ng-change="tanggalmin(dt)" date-options="dateOptionsFrom" ng-model="mAssetBrosur.ValidOn" ng-change="">
                    </bsdatepicker>
                    <bserrmsg field="ValidOn"></bserrmsg>
                </div>
            </div>
            <div class="col-md-6 col-xs-6" style="padding-right: 0 !important">
                <div class="form-group" show-errors>
                    <bsreqlabel>Valid Until</bsreqlabel>
                    <bsdatepicker name="ValidUntil" ng-disabled="mAssetBrosur.ValidOn == null" date-options="dateOptionLastDate" ng-model="mAssetBrosur.ValidUntil" ng-change="">
                    </bsdatepicker>
                    <bserrmsg field="ValidUntil"></bserrmsg>
                </div>
            </div>
            <input type="checkbox" name="enabled" ng-checked="mAssetBrosur.ShowBit" ng-model="mAssetBrosur.ShowBit"> Enabled<br>
            <!--<button ng-click="cekObject()">Cek</button>-->

        </div>
    </div>
</bsform-grid>

<div class="ui modal mAssetBrosururMaster">
                <div>
                    <div class="modal-header">
                        <h6>{{BrocureNames}}</h6>
                    </div>
                    <div class="modal-body">
                       <img ng-src="{{dataStream}}">
                    </div>
                </div>
</div>