<script type="text/javascript">
</script>
<style type="text/css">

</style>


<!-- <bsform-base ng-form="SAProductivityBPForm" loading="loading" show-advsearch="on" form-api="formApi" linksref="app.queueCategory" linkview="queueCategory@app" form-name="SAProductivityBPForm" form-title="SAProductivityBP" icon="fa fa-fw fa-child">
    
    <bsform-advsearch>     -->    
        <div ng-if="role=='Branch'" ng-include="'app/services/report/BP/reportSAProductivityBP/reportSAProductivityBPBranch.html'"></div>
        <div ng-if="role=='HO'" ng-include="'app/services/report/BP/reportSAProductivityBP/reportSAProductivityBPHO.html'"></div>
<!--     </bsform-advsearch>

    <bsform-base-main> -->
<!--         <div class="panel panel-default">
            <div class="panel-heading">SUMMARY</div>
            <fieldset disabled="disabled">
                    <div class="panel-body">
                            <div class="panel panel-default col-md-5">
                                <div class="panel-heading">By Unit Entry</div>
                                <div class="panel-body">
                                    <div class="row" style="">
                                        <div class="form-group form-inline" style="margin-right: -65px;">
                                            <label>Unit Entry (UE)</label>
                                            <div class="pull-right">
                                                <input  type="text" class="form-control" name="unitEntry" ng-model="unitEntry" style="width: 50%;" disabled>
                                           </div>
                                        </div>
            
                                        <div class="form-group form-inline" style="margin-right: -65px;">
                                            <label>Total SA</label>
                                            <div class="pull-right">
                                                <input  type="text" class="form-control" name="totalSA" ng-model="totalSA" style="width: 50%;" disabled>
                                            </div>
                                        </div>
            
                                        <div class="form-group form-inline" style="margin-right: -65px;">
                                            <label>Unit/SA/DAY</label>
                                            <div class="pull-right">
                                                <input  type="text" class="form-control" name="unitSA" ng-model="unitSA" style="width: 50%;" disabled>
                                            </div>
                                        </div>
            
                                        <div class="form-group form-inline" style="margin-right: -80px;">
                                            <label>OTD Rate</label>
                                            <div class="pull-right">
                                                <input  type="text" class="form-control" name="otdRate" ng-model="otdRate" style="width: 45%;" disabled>
                                            </div>
                                        </div>
            
                                        <div class="form-group form-inline" style="margin-right: -80px;">
                                            <label>Delivery Rate</label>
                                            <div class="pull-right">
                                                <input  type="text" class="form-control" name="deliveryRate" ng-model="deliveryRate" style="width: 45%;" disabled>
                                            </div>%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"> </div>
                            <div class="panel panel-default col-md-5">
                                <div class="panel-heading">By Sales Amount</div>
                                <div class="panel-body">
                                    <div class="row" style="">
                                        <div class="form-group form-inline" style="margin-right: -20px;">
                                            <label>Jasa</label>
                                            <div class="pull-right">Rp 
                                                <input  type="text" class="form-control" name="jasa" ng-model="jasa" style="width: 80%;" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group form-inline" style="margin-right: -20px;">
                                            <label>Part</label>
                                            <div class="pull-right">Rp 
                                                <input  type="text" class="form-control" name="part" ng-model="part" style="width: 80%;" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group form-inline" style="margin-right: -20px;">
                                            <label>Bahan</label>
                                            <div class="pull-right">Rp 
                                                <input  type="text" class="form-control" name="bahan" ng-model="bahan" style="width: 80%;" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group form-inline" style="margin-right: -20px;">
                                            <label>OPL</label>
                                            <div class="pull-right">Rp 
                                                <input  type="text" class="form-control" name="opl" ng-model="opl" style="width: 80%;" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group form-inline" style="margin-right: -20px;">
                                            <label>OPB</label>
                                            <div class="pull-right">Rp 
                                                <input  type="text" class="form-control" name="opb" ng-model="opb" style="width: 80%;" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group form-inline" style="margin-right: -20px;">
                                            <label>Total Revenue</label>
                                            <div class="pull-right">Rp 
                                                <input  type="text" class="form-control" name="totalRevenue" ng-model="totalRevenue" style="width: 80%;" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </fieldset> 
        </div>
        <div class="form-group pull-right">
            <button type="button" class="wbtn btn"> Batal </button>
            <button ng-if="role=='HO'" type="button" ng-click="getReportHO()" class="rbtn btn"> Export </button>
            <button  type="button" ng-click="getReportUnitCabang()" class="rbtn btn"> Export By Unit </button>
            <button  type="button" ng-click="getReportAmountCabang()" class="rbtn btn"> Export By Amount </button>
        </div> -->
<!--     </bsform-base-main>

</bsform-base> -->
<!-- 
<script type="text/ng-template" id="taTemplate.html">
  <a>
      <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script> -->