<bsform-base ng-form="SAProductivityBPForm" loading="loading" show-advsearch="on" form-api="formApi" linksref="app.queueCategory" linkview="queueCategory@app" form-name="SAProductivityBPBranchForm" form-title="SAProductivityBPBranchForm" icon="fa fa-fw fa-child">
    
    <bsform-advsearch>    
            <div class="row" ng-form="revForm">
                <div class="row" style="margin-right:0px;">
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <label>Dealer</label>
                        <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" required>
                        </bsselect>
                        <bserrmsg field="dealer"> harus diisi </bserrmsg>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <label>Cabang </label>
                        <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                        </bsselect>
                        <bserrmsg field="cabang"> harus diisi </bserrmsg>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <label>Satellite</label>
                        <bsselect ng-model="filter.satellite" name="satellite" data="dataSatellite" item-text="satelliteName" item-value="satelliteID" on-select="satelliteID(selected)" placeholder="Select Satellite" required>
                        </bsselect>
                        <bserrmsg field="satellite"> harus diisi </bserrmsg>
                    </div>
                </div>
                </div>
                <div class="row" style="margin-right:0px;">
                    <div class="col-md-3">
                    <div class="form-group" show-errors>
                        <bsreqlabel>Periode</bsreqlabel>
                        <bsdatepicker
                        max-date="maxDate"
                        name="dateStart"
                        date-options="dateOptions2"
                        ng-model="filter.DateStart" required
                        >
                        </bsdatepicker>
                        <bserrmsg field="dateStart"> harus diisi </bserrmsg>
                        <em ng-messages="revForm.dateStart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                                <p ng-message="date">Can not fill letters</p>
                                <p ng-message="minlength">Jumlah karakter kurang</p>
                                <p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
                        </em>
                    </div>
                    </div>
                    <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
                    <div class="col-md-3" style="margin-top:5px;">
                    <div class="form-group" show-errors>
                        <label></label>
                        <bsdatepicker
                        max-date="maxDate"
                        name="dateThru"
                        date-options="dateOptions2"
                        ng-model="filter.DateEnd" required
                        >
                        </bsdatepicker>
                        <bserrmsg field="dateThru"> harus diisi </bserrmsg>
                        <em ng-messages="revForm.dateThru.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                                <p ng-message="date">Can not fill letters</p>
                                <p ng-message="minlength">Jumlah karakter kurang</p>
                                <p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
                        </em>
                    </div>
                    </div> 
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <label>Kategori Workshop</label>
                        <input type="text" class="form-control" ng-model="filter.kategori" name="kategoriWorkshop" disabled required>
                        <bserrmsg field="kategoriWorkshop"> harus diisi </bserrmsg>
                    </div>
                    </div>
                    <div class="col-md-1"></div>
                    <br><br>
                    <!-- <div class="form-group pull-right"> <button type="button" ng-click="getSummaryCabang()" class="rbtn btn"> Filter </button></div> -->
                </div>
            </div>


            <div class="row" style="margin-right:0px;">
                <div class="col-md-3">
                   <div class="form-group" show-errors>
                        <label>SA</label>
                        <bsselect ng-model="filter.SA" name="sa" data="dataSA" item-text="employeeName" item-value="employeeCode" on-select="employeeCode(selected)" placeholder="Select SA" required>
                        </bsselect>
                        <bserrmsg field="sa"> harus diisi </bserrmsg>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    
                </div> 
                <div class="col-md-1"></div>
                    <div class="col-md-4">
                    
                    </div>
                    <div class="col-md-1"></div>
                    <br><br>
                    <!-- <div class="form-group pull-right"> <button type="button" ng-click="getSummaryCabang()" class="rbtn btn"> Filter </button></div> -->
                </div>
            </div>
            <br><br>
                </bsform-advsearch>

          <bsform-base-main>
            <div ng-include="'app/services/report/BP/reportSAProductivityBP/reportSAProductivityBPSummary.html'"></div>
          </bsform-base-main>

</bsform-base>