<script type="text/javascript" src="js/print_min.js"></script>
<script type="text/javascript">
    // for (i = 0; i < 2; i++) 
    // {
    //     var number = document.getElementById('MaintainPo_PreventNegativeAndDecimal_'+i);
    // 	// Listen for input event on numInput.
    // 	number.onkeydown = function(e) {
    // 		if(!((e.keyCode >= 48 && e.keyCode <= 57)
    // 		  || e.keyCode == 8|| e.keyCode == 46)) {
    // 			//titik tu 190 buat decimal
    // 			return false;
    // 		}
    // 	}
    // }
</script>
<bsbreadcrumb-custom action-label="breadcrums.title" tab="tab"></bsbreadcrumb-custom>
<div class="ui modal ModalMaintainPoBuatTambahChild" role="dialog">
    <i class="close icon"></i>
    <div class="header"><label ng-if="ListPO[0].POTypeId==3||ListPO[0].POTypeId==4">Jasa</label><label ng-if="ListPO[0].POTypeId==1||ListPO[0].POTypeId==2">Aksesoris</label></div>
    <div class="content">
        <div ng-if="ListPO[0].POTypeId==1||ListPO[0].POTypeId==2||ListPO[0].POTypeId==5" style="max-height:210px;overflow-y:auto;">
            <div ui-grid="gridDataAksesorisMaintainPo" ui-grid-selection class="grid" ui-grid-edit ui-grid-row-edit ui-grid-pagination
                ui-grid-auto-resize></div>
        </div>
        <div ng-if="ListPO[0].POTypeId==3||ListPO[0].POTypeId==4" style="max-height:210px;overflow-y:auto;">
            <div ui-grid="gridDataOpdDanEkspedisi" ui-grid-edit ui-grid-row-edit ui-grid-selection class="grid" ui-grid-pagination ui-grid-auto-resize></div>
        </div>
    </div>
    <div class="actions">
        <div class="wbtn btn ng-binding" style="width:100px" ng-click="btnBatalModalMaintainPoBuatTambahChild()">Batal</div>
        <div class="rbtn btn ng-binding ng-scope" style="width:100px" ng-click="btnPilihMaintainPoBuatTambahChild()">Pilih</div>
    </div>
</div>

<div class="row" style="margin: 0 0 0 0">
    <div class="row" style="margin:-50px 0 30px 0px">
        <button ng-disabled="disabledBtnSimpan||ListPO[0].POTypeId==null || (ListPO[0].VendorId == null || ListPO[0].VendorId == undefined)"
            ng-show="simpanShow && (ListPO[0].POTypeId!=6 && ListPO[0].POTypeId!=7)" ng-click="btnSimpan()" class="rbtn btn ng-binding ladda-button"
            style="float:right">Simpan</button>

        <button ng-disabled="disabledButtonSimpanCetak||ListPO[0].POTypeId==null || (ListPO[0].VendorId == null || ListPO[0].VendorId == undefined)"
            ng-show="simpanShow && (ListPO[0].POTypeId!=6 && ListPO[0].POTypeId!=7)" ng-click="buttonSimpanCetak()" class="rbtn btn ng-binding ladda-button"
            style="float:right">
            <i class="fa fa-print" aria-hidden="true"></i>&nbspSimpan & Cetak</button>

        <button ng-click="btnKembaliFormMaintain()" class="wbtn btn ng-binding ladda-button" style="float:right">Kembali</button>
        <!-- <button ng-click="cekvalidasi()" class="wbtn btn ng-binding ladda-button" style="float:right">cek</button> -->
    </div>
    <fieldset ng-disabled="DisabledViewPO">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Tipe PO</bsreqlabel>
                    <bsselect id="comboBox" name="TypePO" ng-model="ListPO[0].POTypeId" data="getTypePO" item-text="POTypeName" item-value="POTypeId"
                        placeholder="Tipe PO" icon="fa fa-search" ng-disabled="DisabledTypePO3" on-select="filterType(selected)">
                    </bsselect>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Referensi PO</bsreqlabel>
                    <bsselect id="comboBox" name="Referensi" ng-model="ListPO[0].POReferenceId" data="DataReference" item-text="POReferenceName"
                        item-value="POReferenceId" on-select="filter_reference(selected)" placeholder="Referensi PO" icon="fa fa-search"
                        ng-disabled="DisabledTypePO1">
                    </bsselect>
                </div>
            </div>

            <form name="formVendorPOk">
                <div class="col-md-3">
                    <div class="form-group">
                        <bsreqlabel>Nama Vendor</bsreqlabel>
                        <bsselect required id="comboBox" name="VendorPOname" ng-model="ListPO[0].VendorId" data="getVendor" item-text="Name" item-value="VendorId"
                            on-select="MaintainPoDaSelectVendor(ListPO[0].VendorId)" placeholder="Vendor" icon="fa fa-search"
                            ng-disabled="DisabledTypePO || MaintainPoDisableVendor">
                        </bsselect>
                        <div class="row" ng-show="formVendorPOk.VendorPOname.$touched && formVendorPOk.VendorPOname.$invalid" style="margin: 5px 0 0 0">
                            <i style="color: rgb(185, 74, 72)" aria-live="assertive">Wajib diisi.</i>
                        </div>
                    </div>
                </div>
            </form>

            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Tipe Material</bsreqlabel>
                    <bsselect id="comboBox" name="Material" ng-model="ListPO[0].MaterialTypeId" data="getTypeMaterial" item-text="MaterialTypeName"
                        item-value="MaterialTypeId" on-select="POTypeId" placeholder="Tipe Material" icon="fa fa-search" ng-disabled="DisabledTypePO2 || ListPO[0].POTypeId==null || ListPO[0].POTypeId==undefined || ListPO[0].POReferenceId==null || ListPO[0].POReferenceId==undefined">
                    </bsselect>
                </div>
            </div>
        </div>
        <hr></hr>
        <div class="row" ng-hide="POTypeId == 7 || POTypeId == 6 && POTypeName == 'Swapping'">
            <div class="col-md-3" ng-show="showKontak">
                <div class="form-group" >
                    <label>Kontak yang dihubungi</label>
                    <div class="input-icon-right">
                        <i class="fa fa-user"></i>
                        <input alpha-numeric mask="Name" ng-disabled="DisabledTypePO" type="text" class="form-control" name="Kontak" placeholder="Kontak yang dihubungi"
                            ng-model="ListPO[0].ContactName" maxlength="50" required>
                    </div>
                </div>
            </div>

            <div class="col-md-3" ng-show="showHandphone">
                <div class="form-group">
                    <label>No Handphone</label>
                    <div class="input-icon-right">
                        <i class="fa fa-mobile"></i>
                        <input ng-disabled="DisabledTypePO" type="text" number-only class="form-control" name="Handphone" placeholder="No Handphone"
                            ng-model="ListPO[0].HandphoneNo" maxlength="15" required>
                    </div>
                </div>
            </div>

            <div class="col-md-3" ng-show="showNorangka">
                <div class="form-group">
                    <label>No. Rangka</label>
                    <bsselect ng-disabled="DisabledTypePO || (ListPO[0].POTypeName=='Aksesoris' && ListPO[0].POReferenceId==2 && OperationMaintainPo=='Update')" id="comboBox" name="Rangka" ng-model="ListPO[0].VehicleId" data="getNoRangka" item-text="FrameNo"
                        item-value="VehicleId" on-select="SelectMaterial(selected)" placeholder="No. Rangka" icon="fa fa-search">
                    </bsselect>
                </div>
            </div>

            <div class="col-md-3" ng-if="OperationMaintainPo != 'Update'">
                <div class="form-group">
                    <label>Tanggal Pengiriman</label>
                    <bsdatepicker ng-disabled="DisabledTypePO" name="tanggal" date-options="dateOptionPengiriman" icon="fa fa-calendar" ng-model="ListPO[0].SentDate">
                    </bsdatepicker>
                </div>
            </div>

            <div class="col-md-3" ng-if="OperationMaintainPo == 'Update'">
                <div class="form-group">
                    <label>Tanggal Pengiriman</label>
                    <bsdatepicker ng-disabled="DisabledTypePO" minDate="ListPO[0].SentDate" name="tanggal" date-options="dateOptionPengiriman"
                        icon="fa fa-calendar" ng-model="ListPO[0].SentDate">
                    </bsdatepicker>
                </div>
            </div>


            <div class="col-md-3" ng-show="showNamaTujuan">
                <div class="form-group">
                    <label>Nama Tujuan</label>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="DestinationName"
                            placeholder="Nama Tujuan" ng-model="ListPO[0].DestinationName" maxlength="255">
                    </div>
                </div>
            </div>


        </div>

        <div class="row" ng-hide="POTypeId == 7 || POTypeId == 6 && POTypeName == 'Swapping'">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Metode Pembayaran</label>
                    <bsselect ng-disabled="DisabledTypePO" id="comboBox" name="MetodePembayaran" ng-model="ListPO[0].PaymentTypeId" data="getPaymentType"
                        item-text="PaymentTypeName" choice-filter="propsFilter: {PaymentTypeName: $select.search}" item-value="PaymentTypeId"
                        on-select="PaymentTypeId" placeholder="Metode Pembayaran" icon="fa fa-search">
                    </bsselect>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>TOP (Hari)</label>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input ng-disabled="DisabledTypePO" type="text" number-only min="0" class="form-control" name="TOP" placeholder="" ng-model="ListPO[0].TermOfPayment"
                            maxlength="5" required>
                    </div>
                </div>
            </div>

            <div class="col-md-3" ng-show="suratJalan">
                <div class="form-group" >
                    <bsreqlabel>No. Dokumen / Surat Jalan</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="SuratJalanNo" placeholder="xxxxxx"
                            ng-model="ListPO[0].SuratJalanNo" maxlength="255" required>
                    </div>
                </div>
            </div>

            <div class="col-md-3" ng-show="alamatTujuan">
                <div class="form-group">
                    <label>Alamat Tujuan</label>
                    <textarea type="text" maxlength="250" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].DestinationAddress"
                        rows="5" cols="60" required>
                </div>
            </div>




            

            <!--<div class="col-md-1" style="padding-top:20px;">
                <div class="form-group">
                    <label></label>
                    <div class="input-icon-right">
                        <label>Hari</label>
                    </div>
                </div>
            </div>-->

            <div class="col-md-3" ng-show="noDocShow">
                <div class="form-group">
                    <label>No. Dokumen</label>
                    <div class="input-icon-right">
                        <i class="fa fa-file-text-o"></i>
                        <!--<input ng-disabled="DisabledTypePO" type="text" class="form-control" name="TOP" placeholder="" ng-model="ListPO[0].Dokumen" ng-maxlength="50" required>-->
                        <bsselect ng-disabled="DisabledTypePO || (getNoDokumen.length == 0) || (ListPO[0].POTypeName=='Aksesoris' && ListPO[0].POReferenceId==2 && OperationMaintainPo=='Update')" ng-model="ListPO[0].DeliveryNoteId" data="getNoDokumen"
                            item-text="DeliveryNoteNo" item-value="DeliveryNoteId" placeholder="No. Dokumen" icon="fa fa-search"
                            on-select="value(selected)">
                        </bsselect>
                    </div>
                </div>
            </div>
        </div>
		
		<div class="row" ng-show="POTypeId != 6 && POTypeName != 'Swapping'&& POTypeId != 7&& ListPO[0].POReferenceId == 8">
            <div class="col-md-3">
                <div class="form-group">
                        <label>No. Quotation</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <!--<input type="text" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].QuotationNo"
                                ng-maxlength="50" required>-->
							<bsselect id="comboBox" ng-model="ListPO[0].QuotationNo" data="optionMaintainPo_QuotationNo" item-text="QuotationNo" item-value="QuotationNo"
								on-select="MaintainPoPaksaQuotationId(selected)" placeholder="No. Quotation" icon="fa fa-search">
							</bsselect>
                        </div>
                    </div>
            </div>
			<div class="col-md-3">
                <div class="form-group">
                    <label>Alamat Penerima</label>
                    <div class="input-icon-right">
                            <textarea maxlength="100" class="form-control" rows="5"  ng-model="ListPO[0].ReceiverAddress">
                            </textarea>
                        </div>
                </div>
            </div>

        </div>

        <div class="row" >
            <div class="col-md-3" ng-show="ListPO[0].POTypeId == 7">
                <div class="form-group">
                    <label>No DO</label>
                    <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input ng-disabled="DisabledTypePO" type="text" number-only min="0" class="form-control" name="TOP" placeholder="" ng-model="ListPO[0].ListOfPODetailPRView[0].DONumber">
                    </div>
                </div>
            </div>

            <div class="col-md-3" ng-show="ListPO[0].POTypeId == 7">
                <div class="form-group">
                    <label>No DA</label>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input ng-disabled="DisabledTypePO" type="text" number-only min="0" class="form-control" name="TOP" placeholder="" ng-model="ListPO[0].ListOfPODetailPRView[0].DANumber">
                    </div>
                </div>
            </div>


            <div class="col-md-3" ng-show="ListPO[0].POTypeId == 7">
                <div class="form-group">
                    <label>Tanggal DO</label>
                    <bsdatepicker ng-disabled="DisabledTypePO" name="tanggal" date-options="dateOptionPengiriman" icon="fa fa-calendar" ng-model="ListPO[0].ListOfPODetailPRView[0].DODate">
                    </bsdatepicker>
                </div>
            </div>
        </div>

        <hr ng-hide="POTypeId == 6 && POTypeName == 'Swapping'"></hr>
        <fieldset ng-disabled="disabledTextboxPO">
            <div class="row" ng-hide="showPONO==false||(POTypeId == 6 && POTypeName == 'Swapping')">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. PO</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input ng-disabled="true" type="text" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].POCode" ng-maxlength="50"
                                required>
                        </div>
                    </div>
                </div>

                <form name="formVendorPO">
                    <div class="col-md-3">
                        <div class="form-group">
                            <bslabel>Tanggal PO</bslabel>
                            <bsdatepicker required ng-disabled="DisabledTypePO" name="tanggalPOVendor" date-options="dateOptionsStart" ng-model="ListPO[0].PODate"
                                icon="fa fa-calendar">
                            </bsdatepicker>
                            <div class="row" ng-show="formVendorPO.tanggalPOVendor.$touched && formVendorPO.tanggalPOVendor.$invalid" style="margin: 5px 0 0 0">
                                <i style="color: rgb(185, 74, 72)" aria-live="assertive">Wajib diisi.</i>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row" ng-hide="POTypeId == 6 && POTypeName == 'Swapping'">
                <div class="col-md-3" ng-show="showPOStatus">
                    <div class="form-group">
                        <label>PO Status</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input ng-disabled="DisabledTypePO" type="text" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].POStatusName"
                                ng-maxlength="50" required>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" ng-hide="POTypeId == 7">
                    <div class="form-group">
                        <label>Grand Total</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input readonly ng-disabled="DisabledTypePO" type="text" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].GrandTotal | number : 0"
                                ng-maxlength="50" ng-disabled="true">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Swapping -->
            <div class="row" ng-if="POTypeId == 6 && POTypeName == 'Swapping'">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. Quotation</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].ListOfPODetailSwappingView[0].QuotationNo"
                                ng-maxlength="50" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Warna</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].ListOfPODetailSwappingView[0].ColorName"
                                ng-maxlength="50" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Lokasi Unit</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].ListOfPODetailSwappingView[0].UnitLocation"
                                ng-maxlength="50" required>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tanggal Pengiriman</label>
                        <bsdatepicker name="tanggal" date-options="dateOptions" ng-model="ListPO[0].ListOfPODetailSwappingView[0].SentDate" icon="fa fa-calendar">
                        </bsdatepicker>
                    </div>

                    <div class="form-group">
                        <label>No. Rangka</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].ListOfPODetailSwappingView[0].FrameNo"
                                ng-maxlength="50" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <bsreqlabel>TOP (Hari)</bsreqlabel>
                        <!-- <bsselect id="comboBox" name="filterModel" ng-model="filter.TypeId" data="selectionItem" item-text="Type" item-value="TypeId" on-select="TypeId" placeholder="Type" icon="fa fa-search">
                        </bsselect> -->
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" number-only min="0" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].ListOfPODetailSwappingView[0].TermOfPayment"
                                maxlength="5" required>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <bsreqlabel>Tipe model</bsreqlabel>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].ListOfPODetailSwappingView[0].DeKatSu"
                                ng-maxlength="50" required>
                        </div>
                        <!-- <bsselect id="comboBox" name="filterModel" ng-model="filter.TypeId" data="selectionItem" item-text="Type" item-value="TypeId" on-select="TypeId" placeholder="Type" icon="fa fa-search">
                        </bsselect> -->
                    </div>

                    <div class="form-group">
                        <label>Tahun Produksi</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].ListOfPODetailSwappingView[0].ProductionYear"
                                ng-maxlength="50" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <bsreqlabel>Metode Pembayaran</bsreqlabel>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].PaymentTypeName" ng-maxlength="50"
                                required>
                        </div>
                        <!-- <bsselect id="comboBox" name="filterModel" ng-model="filter.TypeId" data="selectionItem" item-text="Type" item-value="TypeId" on-select="TypeId" placeholder="Type" icon="fa fa-search">
                        </bsselect> -->
                    </div>
                </div>
            </div>
            <hr></hr>
            <div class="row" ng-if="POTypeId == 6 && POTypeName == 'Swapping'">
                <div class="col-md-3">
                    <div ng-hide="OperationMaintainPo!='Update'" class="form-group">
                        <label>No. PO</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input ng-disabled="true" type="text" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].POCode" ng-maxlength="50"
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Total Rincian Harga</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].ListOfPODetailSwappingView[0].GrandTotal"
                                ng-maxlength="50" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <bslabel>Tanggal PO</bslabel>
                        <bsdatepicker name="tanggal" date-options="dateOptions" ng-model="ListPO[0].PODate" icon="fa fa-calendar">
                        </bsdatepicker>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="POTypeId == 6 && POTypeName == 'Swapping'">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Catatan</label>
                        <textarea type="text" maxlength="250" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].ListOfPODetailSwappingView[0].Note"
                            rows="5" cols="60" required>
                    </div>
                </div>
            </div>
            <!--- end -->
        </fieldset>

        <div class="row" ng-hide="POTypeId == 6 && POTypeName == 'Swapping'">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Catatan</label>
                    <textarea maxlength="50" type="text" class="form-control" name="nama" placeholder="" ng-model="ListPO[0].Description" rows="5" cols="60" required>
                </div>
            </div>
        </div>
		
		<button ng-show="OperationMaintainPo=='Insert' && (ListPO[0].POTypeId==1 || ListPO[0].POTypeId==5) && ListPO[0].POReferenceId==2 && ListPO[0].VehicleId!=undefined" class="rbtn btn ng-binding ladda-button" style="float: right" ng-click="AddDaNewMaintainPoChild(ListPO[0])">
		Tambah
		</button>
		
		<button ng-show="(OperationMaintainPo=='Insert'||OperationMaintainPo=='Update') && ListPO[0].POTypeId==4 && (ListPO[0].POReferenceId==3 || ListPO[0].POReferenceId==8)" class="rbtn btn ng-binding ladda-button" style="float: right" ng-click="AddDaNewMaintainPoChild(ListPO[0])">
		Tambah
		</button>
    </fieldset>

        <div class="row" style="padding:12px" ng-show="showGridmaterial">
            <div ui-grid="gridListPR" class="grid" ui-grid-pagination ui-grid-auto-resize></div>
        </div>

        <div class="row" style="padding:12px" ng-show="showGridbirojasa">
            <div ui-grid="gridListBirojasa" class="grid" ui-grid-selection ui-grid-pagination ui-grid-auto-resize></div>
        </div>
		
		<div class="row" style="padding:12px" ng-show="showGridDaftarPembelianUnitMaintainPo">
			<div ui-grid="gridListDaftarPembelianUnitMaintainPo" class="grid" ui-grid-selection ui-grid-pagination ui-grid-auto-resize></div>
        </div>
    
    <fieldset ng-disabled="DisabledViewPO">
		<div class="row" style="padding:12px" ng-show="showGridRincianHarga">
            <p style="width: 90px; margin-top:-23px; margin-left:1px; background:white"><b>Rincian Harga</b></p>
                    <div class="row" ng-if="POTypeId != 6 && POTypeName != 'Swapping'" ng-repeat="unit in ListPO[0].ListOfPODetailSwappingView">
                        <ul style="padding-left: 25px; padding-right: 20px; margin-bottom: 25px;">
                            <li ng-click="unitLihatMaintainPo()"><a><b>{{unit.ModelType}}&nbsp-&nbsp{{unit.ColorName}}</b></a>
                                <div ng-show="unitLihatViewMaintainPo" style="border:1px solid lightgrey; padding: 15px 15px 0 15px; margin-top: 10px">
                                    <i class="fa fa-car"></i>&nbsp&nbsp<b>Unit&nbsp{{$index+1}}</b>
                                    <table class="table table-bordered table-responsive" style="margin-top:10px">
                                        <thead>
                                            <tr>
                                                <th class="headerRow">Keterangan</th>
                                                <th class="headerRow">Curency</th>
                                                <th class="headerRow">Nominal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Harga jual</td>
                                                <td>IDR</td>
                                                <td>{{unit.HargaJual}}</td>
                                            </tr>
                                            <tr>
                                                <td>Diskon</td>
                                                <td>IDR</td>
                                                <td>({{unit.Discount}})</td>
                                            </tr>
                                            <tr>
                                                <td>Price After Discount</td>
                                                <td>IDR</td>
                                                <td>{{unit.PriceAfterDiscount}}</td>
                                            </tr>
                                            <tr> 
                                                <td>DPP</td>
                                                <td>IDR</td>
                                                <td>{{unit.DPP}}</td>
                                            </tr>
                                            <tr>
                                                <td>VAT</td>
                                                <td>IDR</td>
                                                <td>{{unit.PPN}}</td>
                                            </tr> 
                                            <tr>
                                                <td>Total PPH22</td>
                                                <td>IDR</td>
                                                <td>{{unit.PPH22}}</td>
                                            </tr>
                                            <tr>
                                                <td>TotalInclVAT</td>
                                                <td>IDR</td>
                                                <td>{{unit.TotalInclVAT}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </li>
                        </ul>
                    </div>

                    <div ng-if="POTypeId == 6 && POTypeName == 'Swapping'" style="margin: 0 0 0 0" class="row" ng-repeat="unit in ListPO[0].ListOfPODetailSwappingView">
                        
                                     <table class="table table-bordered table-responsive" style="margin-top:10px">
                                         <thead>
                                             <tr>
                                                 <!-- <th class="headerRow">Type Model</th> -->
                                                 <th class="headerRow">Model Tipe</th>
                                                 <th class="headerRow">Keterangan</th>
                                                 <th class="headerRow">Nominal</th>
                                             </tr>
                                         </thead>
                                         <!-- ng-if="unit.QuotationTypeId == 1 || unit.QuotationTypeId == 3 || unit.QuotationTypeId == 4" -->
                                         <tbody >
                                             <tr>
                                                 <!-- <th scope="row">Avanza 1.3 E M/T</th> -->
                                                 <td>{{unit.DeKatSu}}</td>
                                                 <td>Harga Jual</td>
                                                 <td>{{unit.Price}}</td>
                                             </tr>
                                             <tr>
                                                 <!-- <td></td> -->
                                                 <td></td>
                                                 <td>Diskon</td>
                                                 <td>({{unit.Discount}})</td>
                                             </tr>
                                             <tr>
                                                 <!-- <td></td> -->
                                                 <td></td>
                                                 <td>Price After Discond</td>
                                                 <td>{{unit.Price - unit.Discount}}</td>
                                             </tr>
                                             <tr>
                                                 <!-- <td></td> -->
                                                 <td></td>
                                                 <td>DPP</td>
                                                 <td>{{unit.DPP}}</td>
                                             </tr>
                                             <tr>
                                                 <!-- <td></td> -->
                                                 <td></td>
                                                 <td>VAT</td>
                                                 <td>{{unit.PPN}}</td>
                                             </tr>
                                             <tr>
                                                 <!-- <td></td> -->
                                                 <td></td>
                                                 <td>PPH22</td>
                                                 <td>{{unit.PPH22}}</td>
                                             </tr>
                                         </tbody>
                                     
                                         <!-- <tbody ng-if="unit.QuotationTypeId == 1 || unit.QuotationTypeId == 2">
                                             <tr>
                                                 <td ng-if="unit.QuotationTypeId == 2">Logistik</td>
                                                 <td ng-if="unit.QuotationTypeId != 2">Ekspedisi</td>
                                                 <td>Harga Jual</td>
                                                 <td>{{unit.ExpeditionSellPrice}}</td>
                                             </tr>
                                             <tr>
                                                 <td></td>
                                                 <td>Diskon</td>
                                                 <td>({{unit.ExpeditionDiscount}})</td>
                                             </tr>
                                             <tr>
                                                 <td></td>
                                                 <td>Price After Discond</td>
                                                 <td>{{unit.ExpeditionSellPrice - unit.ExpeditionDiscount}}</td>
                                             </tr>
                                         </tbody> -->
                                     </table>
         
                         
                     </div>
         
                     <h5 ng-if="POTypeId == 6 && POTypeName == 'Swapping'">* Untuk invoice akan dikirim oleh TAM</h5>
                     <div ng-if="POTypeId == 6 && POTypeName == 'Swapping'" class="row" style="margin: 20px 0 0 0">
                         <div class="col-md-4 ">
                             <div class="form-group ">
                                 <label>Biaya Ekspedisi TAM</label>
                                 <div class="input-icon-right ">
                                     <i class="fa"></i>
                                     <input type="text" ng-disabled="true" class="form-control" name="nama" placeholder="Biaya" ng-model="ListPO[0].ListOfPODetailSwappingView[0].TAMExpedition" ng-maxlength="60">
                                 </div>
                             </div>
                         </div>
                     </div>
        </div>
    </fieldset>

		<div class="row" style="padding:12px" ng-show="showGridPembelianMaterial">
			<div ui-grid="gridPembelianMaterial" class="grid"  ui-grid-selection ui-grid-edit ui-grid-pagination ui-grid-auto-resize></div>
        </div>

        <div class="row" style="padding:12px" ng-show="showGridPembelianMaterialJasa">
			<div ui-grid="gridPembelianMaterialJasa" class="grid" ui-grid-selection ui-grid-edit ui-grid-pagination ui-grid-auto-resize></div>
        </div>
</div>