<script type="text/javascript">

</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

fieldset.scheduler-border {
    width:auto; border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="stylesheet" type="text/javascript" href="https://cdn.rawgit.com/eligrey/FileSaver.js/">
		
<div class="row">
	<div class="col-md-12">
		<div class="col-md-3">
			<bsreqlabel>Periode</bsreqlabel>
			<div class="input-icon-right ">
				<bsdatepicker name="ReportIncomingStatementPeriod" ng-change="tanggalPeriode_Changed()" format="MM/yyyy" date-options="dateOptions" ng-model="ReportIncomingStatement_Period" max-date="dateNow">
				</bsdatepicker>
				<span ng-if="!tanggalPeriodeOK" style="color: #b94a48" class="help-block">{{errTanggalPeriode}}</span>
			</div>
		</div>
		
		<div class="col-md-1">
			<bsreqlabel>Tipe Bisnis</bsreqlabel>
		</div>
		
		<div class="col-md-2">
			<span ng-show = "Show_Unit" ><br><input type="radio"  ng-model="ReportIncomingStatement_UnitorParts" ng-value="2">Unit</br></span>
			<br><input type="radio" ng-model="ReportIncomingStatement_UnitorParts" ng-value="3">Service & Parts</br>
		</div>
		<div class="col-md-3">
			<bsreqlabel>Nama Branch</bsreqlabel>
			<div class="input-icon-right">
				<bsselect icon="fa fa-search" name="ReportIncomingStatementBranch" placeholder="Branch" ng-model="ReportIncomingStatement_Branch" 
					ng-maxlength="50" ng-disabled="!ReportIncomingStatement_Branch_isDisabled" item-text="BranchName" item-value="BranchId" on-select="value(selected)" data="optionsReportIncomingStatement_Branch"></bsselect>
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<button id="Report_Excel" ng-click="Report_Excel_Clicked()"
			type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px" ng-disabled="!Report_Excel_isDisabled">
			<span class="ladda-label">
				Excel
			</span><span class="ladda-spinner"></span>
		</button>
	</div>
</div>
