<script type="text/javascript">
</script>
<style type="text/css">

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<bsform-grid ng-form="MasterApprovalDiscountForm" factory-name="MasterApprovalDiscountFactory" model="mMasterApprovalDiscount" model-id="MasterApprovalDiscountId" loading="loading" get-data="getData" selected-rows="xMasterApprovalDiscount.selected" on-before-new="beforeNew"
    on-show-detail="beforeEdit" do-custom-save="doCustomSave" on-select-rows="onSelectRows" on-validate-save="validateSave" on-bulk-delete="onBulkDelete">

    <!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

    <!-- IF NOT USING FORMLY -->
    <div ng-form="appDiskon">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>Jabatan</bsreqlabel>
                    <bsselect ng-model="mMasterApprovalDiscount.RoleId" data="RoleData" item-text="RoleName" item-value="RoleId" placeholder="Pilih Role" icon="fa fa-search">
                    </bsselect>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Range Diskon Minimal</bsreqlabel>
                    <input type="number" step=0.01 min=0.01 max=100 class="form-control" placeholder="%" name="diskonMinimal" ng-model="mMasterApprovalDiscount.MinimalDiscount" required>
                    <em ng-messages="appDiskon.diskonMinimal.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p ng-message="required">Wajib diisi</p>
                        <p ng-message="step">Range diskon harus kelipatan 0.01 </p>
                        <p ng-message="max">Maximal Diskon 100% </p>
                    </em>
                    <!-- <bsselect ng-model="mMasterApprovalDiscount.MinimalDiscount" data="MinimalDiscount" item-text="name" item-value="id" placeholder="%" required>
                    </bsselect> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <!-- <bsreqlabel>Range Diskon Maximal</bsreqlabel>
                    <bsselect ng-model="mMasterApprovalDiscount.MaximalDiscount" data="MaximalDiscount" item-text="name" item-value="id" placeholder="%" required>
                    </bsselect> -->
                    <bsreqlabel>Range Diskon Maximal</bsreqlabel>
                    <input type="number" step=0.01 min="{{mMasterApprovalDiscount.MinimalDiscount}}" max=100 class="form-control" placeholder="%" name="diskonMaximal" ng-model="mMasterApprovalDiscount.MaximalDiscount" required>
                    <em ng-messages="appDiskon.diskonMaximal.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p ng-message="required">Wajib diisi</p>
                        <p ng-message="step">Range diskon harus kelipatan 0.01 </p>
                        <p ng-message="max">Maximal Diskon 100% </p>
                        <p ng-message="min">Minimal diskon tidak boleh kurang dari {{mMasterApprovalDiscount.MinimalDiscount}} </p>
                    </em>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>GR / BP</bsreqlabel>
                    <bsselect ng-model="mMasterApprovalDiscount.IsGR" data="IsGRBP" item-text="name" item-value="id" placeholder="" required>
                    </bsselect>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Approval Diskon Ke :</bsreqlabel>
                    <bsselect ng-model="mMasterApprovalDiscount.Sequence" data="countDiscount" item-text="id" item-value="id" placeholder="" required>
                    </bsselect>
                </div>
            </div>
        </div>
    </div>
</bsform-grid>