<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="no-add">
	<!-- <bsform-grid ng-form="BankForm" factory-name="BankFactory" model="mBank" model-id="BankId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="BankForm" form-title="Bank" modal-title="Bank" -->
	<!-- modal-size="small" icon="fa fa-fw fa-child"> -->
	<div ng-show="MainBank_Show" class="fi-outermost">
		<div class="row">
			<div class="pull-right" style="margin-top:-55px">
				<button id="MainBank_Tambah_Button" ng-click="MainBank_Tambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
					<i class="fa fa-fw fa-plus"> </i>
					Tambah
				</button>
				<button class="ubtn fi-right-button" ng-click="actRefresh()" onclick="this.blur();" tooltip-placement="bottom" tooltip-trigger="mouseenter"
				 tooltip-animation="false" uib-tooltip="Refresh" tabindex="0">
					<i class="fa fa-fw fa-refresh" style="font-size:1.4em;"></i>
				</button>
			</div>
		</div>

		<div class="col-md-12">
			<div class="row">
				<p class="fi-title-line" style="margin-top: -25px; margin-left: 0px; margin-right: 5px;">Daftar Bank</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="margin-left: -15px; margin-top:5px">
				<div class="col-md-2">
					<div class="input-group-btn" uib-dropdown="">
						<button style="margin-left:2px;" ng-disabled="!selectedRows.length>0" type="button" class="btn wbtn" onclick="this.blur()"
						 uib-dropdown-toggle="" data-toggle="dropdown" tabindex="-1">
							Bulk Action&nbsp;
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
							<li role="menuitem" class="ng-scope">
								<a href="#" ng-click="actDel()" ng-if="selectedRows.length>0" class="ng-binding ng-scope" tabindex="0" style="">Hapus</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-2">
					<div class="input-icon-right">
						<input type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="Bank_TeksFilter"
						 ng-maxlength="50" maxlength="50">
					</div>
				</div>

				<div class="col-md-3">
					<bsselect ng-model="Bank_SelectKolom" data="optionsBank_SelectKolom" item-text="name" item-value="value" on-select="value(selected)"
					 placeholder="Select Search Criteria" icon="fa fa-search" ng-change="Bank_SelectKolom_Changed()">
					</bsselect>
				</div>

				<div class="col-md-3">
					<button id="" ng-click="Bank_Filter_Clicked()" type="button" class="btn ng-binding ladda-button">
						<span class="ladda-label">
							Filter
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>

		<div class="row" style="margin-left: -27px; margin-top:10px">
			<div class="col-md-12">
				<div id="myGrid" ui-grid="MainBank_UIGrid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination ui-grid-selection
				 class="fi-ui-grid" style="width:98.9%"></div>
			</div>
		</div>
	</div>

	<div ng-show="AddBank_Show" ng-form name="bankNewForm">

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':bankNewForm.KodeBank.$error.required && bankNewForm.KodeBank.$touched}">
						<bsreqlabel>Kode Bank</bsreqlabel>
						<div class="input-icon-right">
							<i class="fa fa-pencil"></i>
							<input type="text" class="form-control" name="KodeBank" placeholder="Kode Bank" ng-model="BankCode" ng-maxlength="20" maxlength="20"
							 required>
						</div>
						<span ng-show="bankNewForm.KodeBank.$error.required && bankNewForm.KodeBank.$touched" class="help-block">Field ini wajib diisi</span>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error':bankNewForm.NamaBank.$error.required && bankNewForm.NamaBank.$touched}">
						<bsreqlabel>Nama Bank</bsreqlabel>
						<div class="input-icon-right">
							<i class="fa fa-pencil"></i>
							<input type="text" class="form-control" name="NamaBank" placeholder="Nama Bank" ng-model="BankName" ng-maxlength="20" maxlength="20"
							 required>
						</div>
						<span ng-show="bankNewForm.NamaBank.$error.required && bankNewForm.NamaBank.$touched" class="help-block">Field ini wajib diisi</span>
					</div>
				</div>
			</div>

			<!-- <div class="col-md-12">
				<div class="col-md-4">
					<input type="checkbox" ng-model="isActivateCent">Aktifkan 2 Dijit Belakang Koma
				</div>
			</div> -->

			<div class="col-md-12">
				<p class="fi-title-line" style="margin-top:20px; margin-left:15px; margin-bottom:-15px;">
					Daftar Mapping Tipe Transaksi pada Bank Statement (MT940, Field 61 - Subfield 6 - Transaction Type)
				</p>
				<!-- <hr style="border-color:red;"> -->
			</div>

			<div class="col-md-12">
				<div id="myGrid" ui-grid="BankMT940_UIGrid" ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination class="Mygrid"
				 style="width:98%;height: 250px; margin-top:30px; margin-left:15px"></div>
			</div>
			
			<div class="col-md-12">
				<p style="margin-left:15px;">
					Catatan: Multiple value dapat diinput pada kolom mapping dengan menggunakan separator ' . ' 
				</p>
			</div>
				
			<div class="col-md-12">
				<div class="col-md-4">
					<input type="checkbox" ng-model="isActivateCent">Aktifkan 2 Dijit Belakang Koma
				</div>
			</div>

			<button id="AddBank_Simpan_Button" ng-disabled="bankNewForm.$invalid" ng-click="AddBank_Simpan_Clicked()" type="submit" class="rbtn btn ng-binding ladda-button"
			style="float: right; margin-right:25px">
				<span class="ladda-label">
					Simpan
				</span>
				<span class="ladda-spinner"></span>
			</button>

			<button id="AddBank_Kembali_Button" ng-click="AddBank_Kembali_Clicked()" type="button" class="btn ng-binding ladda-button"
			style="float: right; margin-right:10px">
				<span class="ladda-label">
					Kembali
				</span>
				<span class="ladda-spinner"></span>
			</button>

		</div>

		<!-- <button id="AddBank_Simpan_Button" ng-disabled="bankNewForm.$invalid" ng-click="AddBank_Simpan_Clicked()" type="submit" class="rbtn btn ng-binding ladda-button"
		 style="float: right; margin-top:24px">
			<span class="ladda-label">
				Simpan
			</span>
			<span class="ladda-spinner"></span>
		</button>

		<button id="AddBank_Kembali_Button" ng-click="AddBank_Kembali_Clicked()" type="button" class="btn ng-binding ladda-button"
		 style="float: right; margin-top:24px;margin-right:5px">
			<span class="ladda-label">
				Kembali
			</span>
			<span class="ladda-spinner"></span>
		</button> -->
	</div>
	<!-- </bsform-grid> -->
</div>
</div>

<div class="swal2-container swal2-fade swal2-shown" style="overflow-y: auto;" id="FinanceBankModal">
	<div role="dialog" aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-modal swal2-show" tabindex="-1"
	 style="width: 500px; padding: 20px; background: rgb(255, 255, 255); display: block; min-height: 355px;">
		<ul class="swal2-progresssteps" style="display: none;"></ul>
		<div class="swal2-icon swal2-error" style="display: none;">
			<span class="x-mark">
				<span class="line left"></span>
				<span class="line right"></span>
			</span>
		</div>
		<div class="swal2-icon swal2-question" style="display: none;">?</div>
		<div class="swal2-icon swal2-warning" style="display: block;">!</div>
		<div class="swal2-icon swal2-info" style="display: none;">i</div>
		<div class="swal2-icon swal2-success" style="display: none;">
			<span class="line tip"></span>
			<span class="line long"></span>
			<div class="placeholder"></div>
			<div class="fix"></div>
		</div>
		<img class="swal2-image" style="display: none;">
		<h2 class="swal2-title" id="swal2-title">
			<p style="font-size:20px">
				Delete
				<span style="color:red">{{Bank_TotalSelectedData}} item(s) </span>
				from
				<span style="color:blue">Bank data.</span>
			</p> Are you sure?
		</h2>
		<div id="swal2-content" class="swal2-content" style="display: block;">You won't be able to revert this!</div>
		<input class="swal2-input" style="display: none;">
		<input type="file" class="swal2-file" style="display: none;">
		<div class="swal2-range" style="display: none;">
			<output></output>
			<input type="range">
		</div>
		<select class="swal2-select" style="display: none;"></select>
		<div class="swal2-radio" style="display: none;"></div>
		<label for="swal2-checkbox" class="swal2-checkbox" style="display: none;">
			<input type="checkbox">
		</label>
		<textarea class="swal2-textarea" style="display: none;"></textarea>
		<div class="swal2-validationerror" style="display: none;"></div>
		<div class="swal2-buttonswrapper" style="display: block;">
			<button type="button" role="button" tabindex="0" class="swal2-confirm swal2-styled" ng-click="FinanceBankOK_Button_Clicked()"
			 style="background-color: rgb(140, 212, 245); border-left-color: rgb(140, 212, 245); border-right-color: rgb(140, 212, 245);">OK</button>
			<button type="button" role="button" tabindex="0" class="swal2-cancel swal2-styled" style="display: inline-block; background-color: rgb(170, 170, 170);"
			 ng-click="FinanceBankCancel_Button_Clicked()">Cancel</button>
		</div>
		<button type="button" tabindex="0" class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
	</div>
</div>