<div style="margin-left: 10px; margin-right: 10px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                    Sound Testing
                    </h3>
                    <div class="clearfix"></div>
                    
                </div>
                <div class="panel-body">
                    <p>Ini adalah screen untuk melakukan testing terhadap sound library. Penggunaan sound library adalah pada screen Queue Board.
                        Bila tombol-tombol berikut di-click, maka suara harus muncul secara seketika (tanpa delay) sesuai nama tombolnya.</p>
            <div class="row">
            <div class="col-xs-6">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">
                            Angka
                            </h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="btn-group" >
                                <button type="button" class="btn btn-default btn-lg" ng-repeat="angka in soundTest.angkaList" ng-click="soundTest.playSprite(angka)">{{angka}}</button>
                            </div>
                        </div>
                    </div>

            </div>
            <div class="col-xs-6">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">
                            Text
                            </h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="btn-group" >
                                <button type="button" class="btn btn-default btn-lg" ng-click="soundTest.playSprite('@')">Pemilik Kendaraan</button>
                                <button type="button" class="btn btn-default btn-lg" ng-click="soundTest.playSprite('#')">Harap Datang</button>
                            </div>
                        </div>
                    </div>
            </div>
            </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">
                            Abjad
                            </h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="btn-group" >
                                <button type="button" class="btn btn-default btn-lg" ng-repeat="abjad in soundTest.abjadList" ng-click="soundTest.playSprite(abjad)">{{abjad}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">
                            Pemanggilan Kendaraan
                            </h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-3 irregularity_col">
                                <input ng-model="soundTest.nopol" type="text" class="form-control" placeholder="Nomor Polisi">
                            </div>

                            <div class="col-sm-3 irregularity_col">
                                <select ng-model="soundTest.konter" name="type" class="form-control">
                                <option ng-repeat="item in soundTest.counterList" value="{{item.value}}">{{item.caption}}</option>
                                </select>
                            </div>

                            <div class="col-sm-6 irregularity_col" style="margin-bottom: 20px">
                                <button type="button" class="btn btn-default" ng-click="soundTest.panggil()">Panggil</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                            
                        </div>
                    </div>

                </div>
            </div>       
        </div>
    </div>

    <br/>

</div>    
