/* added 2017-03-16*/
    .contact p {
        margin: 0 0 10px 0;
    }
    .contact-list .panel-body {
        padding: 0;
    }
    .contact-list .ui-list-view {
        border: none;
    }

    .list {
        word-wrap: break-word;
    }
    .ui-list-menu,
    .ui-list-menu4 {
        font-size:17px;color:#777;min-width:30px;min-height:30px;text-align:center;
        display:inline-block;
        line-height:30px;
    }
    .ui-list-menu:hover {
        color:#cc3233!important;
        background-color:#fff;
        border:none!important;
        border-radius:50%;
        box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    }
    .ui-list-menu i {
        padding:5px;
    }
    .ui-list-menu4 i {
        transform: rotate(0deg);
        transition-duration: .3s;
    }
    .ui-list-menu .active i::before,
    .uiListBtnMore i::before {
        content:"\f0da";
    }
    .ui-list-menu:hover i,
    .ui-list-menu4:hover i {
        transform: rotate(-90deg);
        transition-duration: .3s;
    }
/*    .ui-list-menu:hover i::before,
    .ui-list-menu4:hover i::before {
        content:"\f100";
    }*/

    .ui-list-menu4:hover {
        color:#cc3233!important;
    }

    .ui-list-menu2 {
        font-size:17px;color:#777;min-width:30px;min-height:30px;text-align:center;
        display:inline-block;
        line-height:30px;
        background-color:#fff;
        border:none!important;
        border-radius:50%;
        box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
        -webkit-transition: all .1s ease-out;
        transition: all .1s ease-out;
        margin-left:10px;
    }
    .ui-list-menu2:hover{
        min-width:40px;
        min-height:40px;
        line-height:40px;
        color:#cc3233!important;
        box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    }
    .ui-list-menu2 i {
        padding:5px;
    }

    .ui-list-menu3 {
        font-size:17px;color:#777;min-width:30px;min-height:30px;text-align:center;
        display:inline-block;
        line-height:30px;
        background-color:#fff;
        border:none!important;
        border-radius:50%;
        box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
        -webkit-transition: all .1s ease-out;
        transition: all .1s ease-out;
        margin-left:10px;
    }
    .ui-list-menu3:hover{
        color:#cc3233!important;
        box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    }

    .ui-list-menu-btn:not(:last-child):nth-last-child(1){
        -webkit-transition-delay: 50ms;
        transition-delay: 20ms;
    }
    .btndiv:not(:last-child) {
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
    }
/**/