<script type="text/javascript">

</script>
<style type="text/css">
</style>

<!--         ng-form="ReportCustomerInForm"
        loading="loading"
        get-data="getData"

         show-advsearch="on"

        form-api="formApi"
        linksref="app.queueCategory"
        linkview="queueCategory@app"

        form-name="ReportCustomerInForm"
        form-title="ReportCustomerIn"
        icon="fa fa-fw fa-child" -->


<div ng-if="role=='Branch'" ng-include="'app/services/report/BP/reportCustomerInBP/tempBranch.html'"></div>
<div ng-if="role=='HO'" ng-include="'app/services/report/BP/reportCustomerInBP/tempHOTAM.html'"></div>

<!-- <bsform-base
        ng-form="ReportCustomerInForm"
        loading="loading"
        get-data="getData"

         show-advsearch="on"

        form-api="formApi"
        linksref="app.queueCategory"
        linkview="queueCategory@app"

        form-name="formname"
        form-title="formname"
        icon="fa fa-fw fa-child"
>

      <bsform-advsearch>
            <div ng-if="role=='Branch'" ng-include="'app/services/report/BP/reportCustomerInBP/tempBranch.html'"></div>
            <div ng-if="role=='HO'" ng-include="'app/services/report/BP/reportCustomerInBP/tempHOTAM.html'"></div>
      </bsform-advsearch>
             
      <bsform-base-main>
          

      </bsform-base-main>

     

</bsform-base> -->

