
         <div class="panel panel-default">
            <div class="panel-heading">SUMMARY</div>  
            <fieldset disabled="disabled">
                <div class="panel-body">
                    <div class="row">
                            <div class="col-md-4" style="margin-left: 17px;">
                              <div class="form-group form-inline" style="margin-right: -182px;">
                                  <bsreqlabel>Customer Gate In</bsreqlabel>
                                  <div class="pull-right"><input type="text" class="form-control" ng-model="CustomerIn" name="CustomerIn" style="width: 38%;"></div>
                              </div>
      
                              <div class="form-group form-inline" style="margin-right: -182px;">
                                  <label>Unit Center</label>
                                  <div class="pull-right"><input type="text" class="form-control" ng-model="UnitCenter" name="UnitCenter" style="width: 38%;"></div>
                              </div>
      
                              <div class="form-group form-inline" style="margin-right: -182px;">
                                  <label>Unit Satelitte</label>
                                  <div class="pull-right"><input type="text" class="form-control" ng-model="UnitSatelitte" name="UnitSatelitte" style="width: 38%;"></div>
                              </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                              <div class="form-group form-inline" style="margin-right: -51px;">
                                  <label>Potential Loss (A/B)</label>
                                  <div class="pull-right"><input type="text" class="form-control" ng-model="PotentialLoss" name="PotentialLoss" style="width: 37%;">%</div>
                              </div>
      
                              <div class="form-group form-inline" style="margin-right: -41px;">
                                  <label>Cancel (A)</label>
                                  <div class="pull-right"><input type="text" class="form-control" ng-model="Cancel" name="Cancel" style="width: 38%;"></div>
                              </div>
      
                              <div class="form-group form-inline" style="margin-right: -41px;">
                                  <bsreqlabel><bsreqlabel>Customer In Reception (B)</bsreqlabel></bsreqlabel>
                                  <div class="pull-right"><input type="text" class="form-control" ng-model="CustomerReleaseWO" name="CustomerReleaseWO" style="width: 38%;"></div>
                              </div>
                            </div>
                          </div>
                          <br><br> 
            
                      <div class="panel panel-default col-md-5">
                        <div class="panel-heading">Unit Composition</div>    
                        <div class="panel-body"> 
                            <div class="row" >
                              <div class="form-group form-inline">
                                <label>Cash</label>
                                <div class="col-md-5 pull-right"> <input type="text" class="form-control" ng-model="Cash1" name="Cash1" style="margin-left:-30px;width: 50%">/<input type="text" class="form-control" ng-model="Cash2" name="Cash2" style="width: 50%">%</div>
                              </div>
                              <br>
                              <div class="form-group form-inline">
                                <label>Insurance</label>
                                <div class="col-md-5 pull-right"> <input type="text" class="form-control" ng-model="Insurance1" name="Insurance1" style="margin-left:-30px;width: 50%">/<input type="text" class="form-control" ng-model="Insurance2" name="Insurance2" style="width: 50%">%</div>
                              </div>
                              <br>
                            </div>
                          </div>
                      </div>
                      <div class="col-md-1"> </div>
                      <div class="panel panel-default col-md-5">
                       <div class="panel-heading">Damage Composition</div>    
                        <div class="panel-body"> 
                            <div class="row" >
                              <div class="form-group form-inline">
                                <label>TPS</label>
                                <div class="col-md-3 pull-right"> <input type="text" class="form-control" ng-model="TPS" name="TPS" style="width: 85%">%</div>
                              </div>
                              <br>
                              <div class="form-group form-inline">
                                <label>Light</label>
                                <div class="col-md-3 pull-right"><input type="text" class="form-control" ng-model="Light" name="Light" style="width: 85%">%</div>
                              </div>
                              <br>
                              <div class="form-group form-inline">
                                <label>Medium</label> 
                                <div class="col-md-3 pull-right"><input type="text" class="form-control" ng-model="Medium" name="Medium" style="width: 85%">%</div>
                              </div>
                              <br>
                              <div class="form-group form-inline">
                                <label>Heavy</label> 
                                <div class="col-md-3 pull-right"><input type="text" class="form-control" ng-model="Heavy" name="Heavy" style="width: 85%">%</div>
                              </div>
                              <br>
                            </div>
                          </div>
                      </div>
                      <label style="font-size:12px" ><i>* Jumlah  Seluruh Gate In</i></label><br>
                      <label style="font-size:12px" ><i>** Jumlah Kendaran yang Gate In ke cabang, kecuali Beli Mobil, Beli Part & Lainnya</i></label>
                  </div>   
            </fieldset>  
             
        </div> 
        <div class="row">
        <div class="form-group pull-right">
          <button type="button" ng-if="role=='HO'" ng-click="getReportHO()" class="rbtn btn"> Export </button>
          <button type="button" ng-if="role=='Branch'" ng-click="getReportCabang()" class="rbtn btn"> Export </button>
        </div>
        </div>