<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

</style>
<div>  
    <div class="form-group">           
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Referensi GI *</label>
                <select class="form-control" disabled>
                  <option>WO</option>
                  <option>Sales Order</option>
                  <option>Transfer Order</option>
                  <option value="4" selected>Return Parts Claim</option>
                  <option>Return RPP</option> 
                </select>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <label class="control-label">No Parts Claim DMS *</label>
                <input class="form-control" type="text" ng-model="mData.RefGINo" name="no_wo" placeholder="PO/20160715001" disabled></input>
            </div>
            <div class="col-md-2">                
                <label class="control-label">&nbsp</label>              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
         <div class="row">
            <div class="col-md-8">
            <hr/>
            </div>
        </div>
        <!-- [END] Form Level 1 -->
        <div class="row">
            <div class="col-md-8">
            <hr/>
            </div>
        </div>
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-3">
                    <label class="control-label">Tipe Material *</label>
                    <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                        <option selected value="{{mData.MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
                    </select>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div> 
        </div>
        <!-- [END] Form Level 2 -->
        <div class="row">
            <div class="col-md-8">
            <hr/>
            </div>
        </div>
        <!-- [START] Form Level 5 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Vendor</label>
                <input class="form-control" type="text" name="mData.VendorName" disabled></input>
                
            </div>
            <div class="col-md-2">                
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
         <div class="row">
            <div class="col-md-8">
            <hr/>
            </div>
        </div>
        <!-- [END] Form Level 5 -->
              <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel>Penerima</bsreqlabel>
                <input class="form-control" style="text-align : left" type="text" ng-model="mData.ReceivedBy" name="grandtotal" disabled></input>
            </div>
            <div class="col-md-2">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
         <div class="row">
            <div class="col-md-8">
            <hr/>
            </div>
        </div>
        <!-- [END] Form Level 7 -->
         <br />
         <!-- [START] Form Level 9 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">No GI</label>
                <input class="form-control" style="text-align : left" type="text" ng-model="mData.GoodsIssueNo" name="nomor_gi" disabled></input>
            </div>
            <div class="col-md-3 col-md-offset-1" style="pointer-events:none;">                
                <label class="control-label">Tanggal GI</label> 
                <bsdatepicker
                  name="endDate"
                  date-options="dateOptions"
                  ng-model="mData.DocDate"
                  ng-disabled = true
                  >
                  </bsdatepicker>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 7 -->
         <br />
         <!-- [START] Form Level 9 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Status</label>
                <input class="form-control" style="text-align : left" type="text" ng-value="ToNameStatus(mData.GoodsIssueStatusId)" name="status" disabled></input>
            </div>
            <div class="col-md-2">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [START] Form Level 7 -->
        <br />
        <div class="row">
            <div class="col-md-5">
                <label class="control-label">Notes</label>
                <textarea class="form-control" row='5' ng-model="mData.Notes" disabled></textarea>
            </div>
            <div class="col-md-4">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-4">
                <label class="control-label">&nbsp</label> 
            </div>                             
        </div>
        <!-- [END] Form Level 7 -->
    </div>

<div class="row">
    <div class="col-md-12"">
      <div id="grid1" ui-grid="gridClaimView" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
    </div>
</div>
</div>  

<fieldset style="padding-top: 10px">
<div align="right">
    <button class="wbtn btn" ng-click="printGIMaterial()" skip-disable>Cetak GI</button>
    <button class="btn wbtn" ng-click="batalPC(mData)" ng-disabled="mData.GoodsIssueStatusId == 1">Batal GI</button>
    <button class="btn wbtn" ng-click="KembaliBatalGI()">Kembali</button>
</div>
</fieldset>
