<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="stylesheet" type="text/javascript" href="https://cdn.rawgit.com/eligrey/FileSaver.js/">

<div class="row" ng-form name="FormValidation_eStampDuty">
	<div class="col-md-12">
		<div class="col-md-3" ng-class="{'has-error':(FormValidation_eStampDuty.ReportEStampDutyTanggalAwal.$error.required && FormValidation_eStampDuty.ReportEStampDutyTanggalAwal.$touched) || ReportEStampDutyTanggalAwalOK == false}">
			<bsreqlabel>Tanggal</bsreqlabel>
			<div class="input-icon-right ">
				<bsdatepicker name="ReportEStampDutyTanggalAwal" format="dd/MM/yyyy" date-options="dateOptions" ng-model="ReportEStampDuty_TanggalAwal"
				 ng-change="ReportEStampDutyTanggalAwalChanged()" required>
				</bsdatepicker>
				<span ng-if="FormValidation_eStampDuty.ReportEStampDutyTanggalAwal.$error.required && FormValidation_eStampDuty.ReportEStampDutyTanggalAwal.$touched"
				 class="help-block">Field ini wajib diisi</span>
				<span ng-if="!ReportEStampDutyTanggalAwalOK" class="help-block">{{errReportEStampDutyTanggalAwal}}</span>

			</div>
		</div>

		<div class="col-md-1" style="padding-top: 30px;">
			<bslabel>s.d.</bslabel>

		</div>

		<div class="col-md-3" ng-class="{'has-error':(FormValidation_eStampDuty.ReportEStampDutyTanggalAkhir.$error.required && FormValidation_eStampDuty.ReportEStampDutyTanggalAkhir.$touched) || ReportEStampDutyTanggalAkhirOK == false}"
		 style="padding-top: 23px;margin-left: -46px;">

			<div class="input-icon-right ">
				<bsdatepicker name="ReportEStampDutyTanggalAkhir" format="dd/MM/yyyy" date-options="dateOptions" ng-model="ReportEStampDuty_TanggalAkhir"
				 ng-change="ReportEStampDutyTanggalAkhirChanged()" required>
				</bsdatepicker>
				<span ng-if="FormValidation_eStampDuty.ReportEStampDutyTanggalAkhir.$error.required && FormValidation_eStampDuty.ReportEStampDutyTanggalAkhir.$touched"
				 class="help-block">Field ini wajib diisi</span>
				<span ng-if="!ReportEStampDutyTanggalAkhirOK" class="help-block">{{errReportEStampDutyTanggalAkhir}}</span>

			</div>
		</div>
		<!-- <div class="col-md-3" ng-show="!ReportEStampDuty_HO_Show" ng-class="{'has-error':(FormValidation_eStampDuty.NamaBranch.$error.required && FormValidation_eStampDuty.NamaBranch.$touched)}"> -->
		<div class="col-md-3" ng-class="{'has-error':(FormValidation_eStampDuty.NamaBranch.$error.required && FormValidation_eStampDuty.NamaBranch.$touched)}">
			<bsreqlabel>Nama Branch</bsreqlabel>
			<bsselect ng-model="ReportEStampDuty_SelectBranch" name="NamaBranch" data="optionsReportEStampDuty_SelectBranch" item-text="name"
			 item-value="value" on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search" ng-disabled="!ReportEStampDuty_Branch_isDisabled"
			 required>
			</bsselect>
			<span ng-if="FormValidation_eStampDuty.NamaBranch.$error.required && FormValidation_eStampDuty.NamaBranch.$touched" class="help-block">Field ini wajib diisi</span>
		</div>
		<div class="col-md-12 has-error">
			<div class="has-error" style="margin-left:15px;">
				<span ng-show="ReportEStampDuty_TanggalAwal>ReportEStampDuty_TanggalAkhir" class="help-block">Tanggal awal harus lebih kecil atau sama dengan tanggal akhir!</span>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<button id="Report_Excel" ng-click="Report_Excel_Clicked()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px">
			<span class="ladda-label">
				Excel
			</span>
			<span class="ladda-spinner"></span>
		</button>
		<!-- <button id="Report_Cetak" ng-click="Report_Cetak_Clicked()" -->
		<!-- type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:24px;margin-left:24px"  > -->
		<!-- <span class="ladda-label"> -->
		<!-- Cetak -->
		<!-- </span><span class="ladda-spinner"></span> -->
		<!-- </button> -->
	</div>
</div>