<script type="text/javascript">
    function IfGotProblemWithModal() {
        $('body .modals').remove();
    }

    function ListBrosurGetFileTypeForDownloadExtension(str) {
        return str.split('/')[1];
    }

    function dataURItoBlob(dataURI) {

        // convert base64/URLEncoded data component to raw binary data held in a string
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);

        // separate out the mime component
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

        // write the bytes of the string to a typed array
        var ia = new Uint8Array(byteString.length);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ia], {
            type: mimeString
        });
    }

    function UploadSuspect() {
        if ($('#UploadMaintainSuspect').css('display') == 'none') {
            $('#UploadMaintainSuspect').show();
            $('#AssignMaintainSuspect').hide();
            $('#AddMaintainSuspect').hide();
        } else {
            $('#UploadMaintainSuspect').hide();
        }

    }

    function BatalUpload() {
        if ($('#AddMaintainSuspect').css('display') == 'none') {
            $('#UploadMaintainSuspect').hide();
            $('#AssignMaintainSuspect').show();
            $('#AddMaintainSuspect').show();
        } else {
            $('#UploadMaintainSuspect').show();
        }

    }

    function ErrorUpload() {
        if ($('#ErrorUpload').css('display') == 'none') {
            $('#UploadMaintainSuspect').hide();
            $('#AssignMaintainSuspect').hide();
            $('#ErrorUpload').show();
        } else {
            $('#UploadMaintainSuspect').show();
        }

    }

    function TutupError() {
        if ($('#UploadMaintainSuspect').css('display') == 'none') {
            $('#ErrorUpload').hide();
            $('#UploadMaintainSuspect').show();
            $('#AssignMaintainSuspect').show();
        } else {
            $('#UploadMaintainSuspect').show();
        }

    }

    function GenerateSuspect() {
        if ($('#GenerateSuspect').css('display') == 'none') {
            $('#AddMaintainSuspect').hide();
            $('#AssignMaintainSuspect').hide();
            $('#GenerateSuspect').show();
            $('#ButtonGenerate').show();
        } else {
            $('#AddMaintainSuspect').show();
            $('#AssignMaintainSuspect').show();
        }

    }

    function CancelGenerate() {
        if ($('#AddMaintainSuspect').css('display') == 'none') {
            $('#GenerateSuspect').hide();
            $('#AddMaintainSuspect').show();
            $('#AssignMaintainSuspect').show();
            $('#ButtonGenerate').hide();
        } else {
            $('#GenerateSuspect').show();
            $('#ButtonGenerate').show();
        }

    }

    $("#dropdownBtnOveride2").click(function() {
        if ($('#dropdownContentOveride2').css('display') == 'none') {
            $('#dropdownContentOveride2').show();
        } else {
            $('#dropdownContentOveride2').hide();
        }
    });

    $('#myButton').click(function() {
        $('#myModal').modal();
    });


     
    function UploadBrosur() {
        if ($('#TambahBrosur').css('display') == 'none') {
            $('#TambahBrosur').show();
            $('#ListBrosur').hide();
        } else {
            $('#TambahBrosur').hide();
        }

    }

    function BatalUploadBrosur() {
        if ($('#ListBrosur').css('display') == 'none') {
            $('#ListBrosur').show();
            $('#TambahBrosur').hide();

        } else {
            $('#ListBrosur').hide();

        }

    }
</script>
<style type="text/css">
    .unstyled::-webkit-inner-spin-button {
        display: none;
        -webkit-appearance: none;
    }
</style>

<link rel="stylesheet" href="css/uifullcalendarstyle.css">
<bsbreadcrumb-custom action-label="breadcrums.title" tab="tab"></bsbreadcrumb-custom>
<div id="ListBrosur">

<div class="ui modal LoadingBuatListBrosur" style="height:200px; background-color:transparent; box-shadow: none !important">
    <div align="center" class="list-group-item" style="border: none !important;padding:10px 0px 10px 0px; background-color:transparent;">
        <font color="white"><i class="fa fa-spinner fa-spin fa-3x fa-lg"></i></br>
            <b> Upload Image.... </b> </font>
    </div>
</div>




    <button ng-show="ShowAddListBrosurBtn && ShowListBrosurMain" class="rbtn btn ladda-button" style="float: right;margin-top:-31px" ng-click="addNewListBrosur()">
		<i class="fa fa-plus"></i>&nbsp Tambah
		</button>



    <!--<div style="display: block" class="grid" ui-grid="grid" ui-grid-selection ui-grid-auto-resize ui-grid-pagination></div>-->

    <bsform-grid ng-show="ShowListBrosurMain" ng-form="ListBrosurForm" factory-name="ListBrosurFactory" model="mListBrosur" model-id="BrochureId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" show-advsearch="on" form-name="ListBrosurForm"
        on-bulk-delete="DeleteManualListBrosur" form-title="List Brosur" modal-title="ListBrosur" modal-size="small" icon="fa fa-fw fa-child" grid-hide-action-column="true" hide-new-button="true">
        <bsform-advsearch>
            <!-- <p>
                <div>
                    <div class="row" style="margin: 0 0 5px 0">
                        <div class="col-md-4">
                                <label>Jenis Brosur</label>
                                <bsselect name="categoryselect" ng-model="filter.BrochureTypeId" placeholder="Pilih Jenis Brosur" data="jenisBrosurOption" item-text="BrochureTypeName" item-value="BrochureTypeId">
                                </bsselect>

                        </div>

                        <div class="col-md-7">
                            <label>Judul</label>
                            <input type="text" class="form-control" ng-model="filter.BrochureName">
                        </div>
                    </div>

                </div>
            </p> -->

            <p>
                <div>
                    <div class="row" style="margin: 0 0 5px 0;display: flex;">
                        <!--<div class="col-md-4">
                            <label>Tanggal Upload</label>
                            <bsdatepicker ng-model="filter.UploadDate" name="tanggal" date-options="dateOptions">
                            </bsdatepicker>
                        </div>-->
                        <!-- <div class="col-md-4" style=" float: none;display: table-cell;">
                            <label>Jenis Brosur</label>
                            <bsselect name="categoryselect" ng-model="filter.BrochureTypeId" placeholder="Pilih Jenis Brosur" data="jenisBrosurOption" item-text="BrochureTypeName" item-value="BrochureTypeId">
                            </bsselect>
                        </div> -->

                        <div class="col-md-4">
                            <label>Tanggal Berlaku</label>
                            <bsdatepicker ng-model="filter.ValidDate" name="tanggal" date-options="dateOptions">
                            </bsdatepicker>
                        </div>
                        <!--<div class="col-md-2">
                            <label>Sampai dengan</label>
                            <bsdatepicker ng-disabled="filter.ValidOn==null || filter.ValidOn==undefined" ng-change="ListBrosurTanggalMulaiSampaiSearchChanged()" ng-model="filter.ValidUntil" name="tanggal" date-options="dateOptions">
                            </bsdatepicker>
                        </div>-->


                        <div class="col-md-4" style="float: none;display:inline-block;">
                            <label></label>
                            <div style="height: 70%;display :flex;align-items : center;">
                                <input type="checkbox" ng-model="filter.ShowBit">&nbsp;&nbsp;<label style="margin-top:7px">Tampilkan</label>
                            </div>
                        </div>

                    </div>

                </div>
            </p>


        </bsform-advsearch>

        <!-- <bsform-advsearch>
			<p>
                <div>
                    <div class="row" style="margin: 0 0 5px 0">
                        <div class="col-md-4">
                            <label>Jenis Brosur</label>
                            <bsselect name="categoryselect" ng-model="filter.BrochureTypeId" placeholder="Pilih Jenis Brosur" data="jenisBrosurOption" item-text="BrochureTypeName" item-value="BrochureTypeId">
                            </bsselect>

                        </div>

                        <div class="col-md-7">
                            <label>Judul</label>
                            <input type="text" class="form-control" ng-model="filter.BrochureName">
                        </div>
                    </div>

                </div>
            </p>
			
            <p>
                <div>
                    <div class="row" style="margin: 0 0 5px 0;display: flex;">
                        <!--<div class="col-md-4">
                            <label>Tanggal Upload</label>
                            <bsdatepicker ng-model="filter.UploadDate" name="tanggal" date-options="dateOptions">
                            </bsdatepicker>
                        </div>-->

        <div class="col-md-4">
            <label>Tanggal Berlaku</label>
            <bsdatepicker ng-model="filter.ValidDate" name="tanggal" date-options="dateOptions">
            </bsdatepicker>
        </div>
        <!--<div class="col-md-2">
                            <label>Sampai dengan</label>
                            <bsdatepicker ng-disabled="filter.ValidOn==null || filter.ValidOn==undefined" ng-change="ListBrosurTanggalMulaiSampaiSearchChanged()" ng-model="filter.ValidUntil" name="tanggal" date-options="dateOptions">
                            </bsdatepicker>
                        </div>-->
        <div class="col-md-4" style=" float: none;display: table-cell;">
            <label>Upload By</label>
            <bsselect placeholder="Pilih Upload Oleh" ng-model="filter.UploadById" data="DaUploadByAtListBrosur" item-text="EmployeeName" item-value="EmployeeId">
            </bsselect>
        </div>

        <div class="col-md-4" style="float: none;display:inline-block;">
            <label></label>
            <div style="height: 70%;display :flex;align-items : center;">
                <input type="checkbox" ng-model="filter.ShowBit">&nbsp;&nbsp;<label style="margin-top:7px">Tampilkan</label>
            </div>
        </div>

</div>

</div>
</p>


</bsform-advsearch>


</bsform-grid>

<div id="TambahBrosur" ng-show="ShowListBrosurDetail" class="form-group" style="min-height: 100vh;">
    <div class="row" style="margin-right:10px;margin-top:-20px">
    	<div id="RightTopBox" style="float: right">
	        <button class="wbtn btn ladda-button" style="margin-right:5px" ng-click="BatalTambahListBrosur()">
				Kembali
				</button>
	        <button ng-disabled="disabledSaveTambahListBrosur||mListBrosur.BrochureTypeId==undefined || mListBrosur.BrochureName==undefined|| mListBrosur.ValidOn==undefined|| mListBrosur.ValidUntil==undefined || mListBrosur.UploadDataBrochure.UpDocObj==undefined" class="rbtn btn ladda-button"
	            ng-show="ListBrosurSaveBtn" style="margin-right:5px;" ng-click="SaveTambahListBrosur()">
				Simpan
				</button>
		</div>
    </div>
    <div class="formHeader" style="margin-left:12px;">
        <p>
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <bsreqlabel>Judul</bsreqlabel>
                            <div class="input-icon-right">
                                <i class="fa fa-pencil"></i>
                                <input ng-disabled="DisableListBrosurParameter" type="text" class="form-control" name="BrochureName" placeholder="Judul" ng-model="mListBrosur.BrochureName" maxlength="50" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <bsreqlabel>Jenis Brosur</bsreqlabel>
                            <bsselect ng-disabled="DisableListBrosurParameter" name="BrochureTypeId" ng-model="mListBrosur.BrochureTypeId" data="jenisBrosurOption" item-text="BrochureTypeName" item-value="BrochureTypeId" on-select="value(selected)" placeholder="Select Jenis Brosur"
                                icon="fa fa-search">
                            </bsselect>

                        </div>
                    </div>
                </div>
            </div>
        </p>

        <p>
            <div>
                <div class="row">
                    <div class="col-md-6">

                        <div>
                            <bsreqlabel>File Modul</bsreqlabel>
                        </div>
                        <div aria-labelledby="dropdownMenu1" style="position: relative;float:left;width:100%">
                            <div style="float:left;width:100%">

                                <!--<image-control max-upload=1 is-image=1 img-upload="uploadFiles" ng-hide="DisableListBrosurParameter">
										<form-image-control ng-hide="DisableListBrosurParameter">
											<input ng-hide="DisableListBrosurParameter" type="file" maxbyte="10" bs-upload="onFileSelect($files)" accept="image/*" img-upload="uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1;">
											<input ng-hide="DisableListBrosurParameter" type="text" ng-model="mListBrosur.UploadDataBrochure.FileName = uploadFiles[0]" name="" style="display:none">-->
                                <div style="float:left;width:100%">
                                    <div style="float:left;width:60%">
                                        <input style="margin-left:0px" ng-hide="DisableListBrosurParameter" type="text" ng-disabled="true" class="form-control" ng-model="mListBrosur.UploadDataBrochure.FileName" placeholder="" ng-maxlength="50" required>

                                        <div ng-if="ListBrosurOperation=='Lihat'&& mListBrosur.BrochureDataName!=null && mListBrosur.BrochureDataName!=undefined" class="input-icon-right">
                                            <input ng-disabled="true" type="text" class="form-control" ng-model="mListBrosur.BrochureDataName">
                                        </div>
                                        <label ng-if="((ListBrosurOperation=='Lihat'||ListBrosurOperation=='Update') && (ListBrosurOperation=='Lihat'||ListBrosurOperation=='Update')&& mListBrosur.BrochureDataName==null)) || mListBrosur.BrochureDataName==undefined">File Tidak Ditemukan</label>

                                    </div>
                                    <div style="float:left;width:40%">
                                        <button ng-hide="DisableListBrosurParameter" class="rbtn btn ng-binding ladda-button" style="float:left;margin-left:5px"
                                        onClick="document.getElementById('browseUpListBrosur').click()">
														Browse <input id="browseUpListBrosur" loading="LoadingBuatListBrosur" type="file" maxbyte="10" formattype="['pdf','jpeg','jpg','png','img']" bs-uploadsingle="onFileSelect($files)" img-upload="mListBrosur.UploadDataBrochure" style="display:none">
													</button>

                                        <button style="float:left" ng-if="ListBrosurOperation=='Lihat' || ListBrosurOperation=='Update'" class="rbtn btn ng-binding ladda-button" ng-click="DownloadThingy(mListBrosur)">
														Download
													</button>
                                    </div>
                                </div>


                                <!--</form-image-control>
									</image-control>-->

                                <!--<img height="100" width="100" ng-hide="!DisableListBrosurParameter" ng-src="{{ListBrosurGambarKaloLihat}}">-->
                                <!--<object ng-hide="!DisableListBrosurParameter" data="{{ListBrosurGambarKaloLihat}}" type="{{ListBrosurDaFileTipeLihat}}"></object>-->


                            </div>

                        </div>
                        <div>
                            <p><label style="color:red">File tidak boleh lebih dari 10MB</label></p>
                            <p><label style="color:red">Sistem ini hanya mendukung format jpg,jpeg,png,img,pdf</label></p>
                        </div>
                        <div>
                            <div ng-if="mListBrosur.UploadDate!=null || mListBrosur.UploadDate!=undefined">
                                <b>Tanggal Terakhir Di Upload</b>
                            </div>
                            <div ng-if="mListBrosur.UploadDate!=null || mListBrosur.UploadDate!=undefined">
                                <!--{{mListBrosur.UploadDate| date:"dd MMMM yyyy"}}-->{{TanggalUploadDipaksa}}
                            </div>
                        </div>

                        <div>
                            <ul class="list-inline" style="font-size:12px;">
                                <li>
                                    <bsreqlabel>Tanggal Dimulai</bsreqlabel>
                                    <bsdatepicker ng-disabled="DisableListBrosurParameter" ng-model="mListBrosur.ValidOn" date-options="dateOptionsListBrosurFrom" ng-change="DaStartDateListBrosurChanged()">
                                    </bsdatepicker>

                                </li>
                                <li> &nbsp; &nbsp;</li>
                                <li>
                                    <bsreqlabel>Tanggal Selesai</bsreqlabel>
                                    <bsdatepicker ng-disabled="DisableListBrosurParameter" ng-model="mListBrosur.ValidUntil" name="tanggal" date-options="dateOptionsListBrosurSampai">
                                    </bsdatepicker>

                                </li>
                            </ul>
                        </div>

                        <label>Tampilkan </label>
                        <form>
                            <input ng-disabled="DisableListBrosurParameter" type="checkbox" ng-model="mListBrosur.ShowBit"> Ya

                        </form>

                    </div>
                </div>
            </div>
        </p>
    </div>

</div>

<div class="ui modal mAssetBrosururMaster">
    <div>
        <div class="modal-header">
            <h6>{{BrocureNames}}</h6>
        </div>
        <div class="modal-body">
            <img ng-src="{{dataStream}}">
        </div>
    </div>
</div>


</div>