<script type="text/javascript">
</script>
<style type="text/css">

</style>

<bsform-grid ng-form="CategoryPrePrinterdTTUServicesForm" factory-name="CategoryPrePrinterdTTUServicesFactory" model="mCategoryPrePrinterdTTUServices" show-advsearch="on" model-id="Id" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows"
    form-name="CategoryPrePrinterdTTUServicesForm" form-title="Category PrePrinterd TTUServices" modal-title="Category PrePrinterd TTUServices" modal-size="small" icon="fa fa-fw fa-child">

    <bsform-advsearch>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Bussiness Type Name</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="model unit id" placeholder="Nama Category" ng-model="mCategoryPointsource.CategoryPointsourceName" ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="model"></bserrmsg>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>ShowBit</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="model unit id" placeholder="Number" ng-model="mCategoryPointsource.CategoryPointsourceValue" ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="model"></bserrmsg>
                </div>
            </div>
    </bsform-advsearch>


    <div class="row">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Bussiness Type Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="model unit id" placeholder="Nama Category" ng-model="mCategoryPointsource.CategoryPointsourceName" ng-maxlength="50" required>
                </div>
                <bserrmsg field="model"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>ShowBit</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="type unit id" placeholder="Number" ng-model="mCategoryPointsource.CategoryPointsourceValue" ng-maxlength="50" required>
                </div>
                <bserrmsg field="type"></bserrmsg>
            </div>
        </div>
    </div>
</bsform-grid>