<div style="position:absolute;width:100vw;height:100vh;z-index: 999999;background-color: rgb(0 0 0 / 20%); transition: 0.4s ease;" ng-show="backdrop">&nbsp;</div>

<div style="margin-left: 10px; margin-right: 10px;">
    <div class="row">
        <div ng-class="wcolumn">
            <div class="panel panel-default" id="jpcb_gr_edit_panel">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                    JPCB GR
                    </h3>
                     
                    <!-- <div class="col-md-7">
                        <i  ng-click ="refreshData()" 
                            style="width: 20px;height: 20px;font-size: 20px;margin-top: 0px;"
                            tooltip-placement="bottom" 
                            tooltip-trigger="mouseenter" 
                            tooltip-animation="false" 
                            uib-tooltip="Refresh" class="fa fa-refresh pull-right refreshIcon"></i>
                    </div> -->

                    <h3 class="panel-title pull-right">
                        <img src="images/loading.gif" style="width: 20px" ng-show="isLoading">
                        {{ clock }}
                    </h3>
                    <div style="width: 200px; margin-top: -4px" class="pull-right">
                        <bsdatepicker
                            name="currentDate"
                            date-options="dateOptions"
                            ng-model="jpcbgrview.currentDate",
                            ng-change="jpcbgrview.reloadBoard()"
                        ></bsdatepicker>
                    </div>

                    <button type="button" class="btn btn-default panel-title pull-right" ng-click="jpcbgrview.searchNomorPolisi()(true)" 
                        style="margin-top: -4px; margin-right: 4px; margin-left: 0px; padding-bottom: 4px; height: 32px">
                        <i class="fa fa-fw fa-search"></i>
                    </button>

                    <div class="input-icon-right panel-title pull-right" 
                    style="margin-top: -4px; margin-left: 4px; width: 160px; height: 32px;">
                        <i class="icon-search" style="margin-top: -3px; font-size:12px;">{{jpcbgrview.searchFound}}</i>
                        <input type="search" class="form-control" ng-change="jpcbgrview.searchInputEdit()" style="font-size: 13px;" 
                            ng-model="jpcbgrview.scNomorPolisi" placeholder="Nomor Polisi" />
                    </div>
                    <div class="pull-right">
                        <i  ng-click ="refreshData()" 
                            style="width: 20px;height: 20px;font-size: 20px;margin-top: 0px;"
                            tooltip-placement="bottom" 
                            tooltip-trigger="mouseenter" 
                            tooltip-animation="false" 
                            uib-tooltip="Refresh" class="fa fa-refresh pull-right refreshIcon"></i>
                    </div>

                    <h3 class="panel-title text-center" style="font-size: 18px; font-weight:bolder;margin:10px 0px 10px 0px"><br><br>
                        <!-- <i class="fa fa-group" style="font-size:18px"></i>&nbsp; -->
                        <!-- <span style="border-style:solid; border-color: #000000;padding: 1px 4px 1px 4px; margin-left:-5px">Working Technician : {{countTechnician}}</span>&nbsp;
                        <span style="border-style:solid; border-color: #000000;padding: 1px 4px 1px 4px; margin-left:-5px">In Progress : {{countInProgress}}</span>&nbsp;
                        <span style="border-style:solid; border-color: #000000;padding: 1px 4px 1px 4px; margin-left:-5px">Production Capacity : {{productionCapacity}} %</span>&nbsp;
                        <span style="border-style:solid; border-color: #000000;padding: 1px 4px 1px 4px; margin-left:-5px">No Show : {{countNoShow}}</span> &nbsp;
                        <span style="border-style:solid; border-color: #000000;padding: 1px 4px 1px 4px; margin-left:-5px">Carry Over : {{countCarryOver}}</span>&nbsp;
                        <span style="border-style:solid; border-color: #000000;padding: 1px 4px 1px 4px; margin-left:-5px">Booking : {{countBookingA}}/{{countBookingB}}</span> &nbsp;
                        <span style="border-style:solid; border-color: #000000;padding: 1px 4px 1px 4px; margin-left:-5px">WIP : {{countWIP}}</span> &nbsp; -->
                        <span>Working Technician : {{countTechnician}}</span>&nbsp;
                        <span>In Progress : {{countInProgress}}</span>&nbsp;
                        <span>Production Capacity : {{countProductionCapacity}} %</span>&nbsp;
                        <span>No Show : {{countNoShow}}</span> &nbsp;
                        <span>Carry Over : {{countCarryOver}}</span>&nbsp;
                        <span>Booking : {{countBookingA}}/{{countBookingB}}</span> &nbsp;
                        <span>WIP : {{countWIP}}</span> &nbsp;
                    </h3>
                    <div class="clearfix"></div>
                    
                </div>
                <div class="panel-body">
                    <div id="jpcb_gr_edit" style="background-color: #ddd; border-width:0px; border-color: black; border-style: solid"></div>
                </div>


                


                <div class="panel-footer col-md-12">
                        <div class="btn-group col-md-12">
                            
        
                            <div class="input-icon-right panel-title pull-left" 
                            style="margin-top: -4px; margin-left: 4px; width: 160px; height: 32px;">
                                <i class="icon-search" style="margin-top: -3px; font-size:12px;"></i>
                                <input type="search" class="form-control" ng-change="SearchStoppageInput()" style="font-size: 13px;" 
                                    ng-model="StoppageNomorPolisi" placeholder="Nomor Polisi" />
                            </div>

                            <button type="button" class="btn btn-default panel-title pull-left" ng-click="SearchStoppage()" 
                                style="margin-top: -4px; margin-right: 4px; margin-left: 0px; padding-bottom: 4px; height: 32px">
                                <i class="fa fa-fw fa-search"></i>
                            </button>
                        </div>
                    <div class="btn-group col-md-12" >
                        <button type="button" class="btn btn-default btn-lg col-md-3" ng-click="additionalJob()">Additional Job</button>
                        <button type="button" class="btn btn-default btn-lg col-md-3" ng-click="pausedJob()">Pause</button>
                        <button type="button" class="btn btn-default btn-lg col-md-3" ng-click="waitingFI()">Waiting for FI</button>
                        <button type="button" class="btn btn-danger btn-lg col-md-3" ng-click="delayedJob()">Delay</button>
                        <button type="button" class="btn btn-danger btn-lg" ng-click="testChip()" ng-show="false">Testing 1</button>
                        <button type="button" class="btn btn-danger btn-lg" ng-click="testDialog()" ng-show="false">Testing 2</button>
                    </div>
                </div>
            </div>              
        </div>       
        
        <div id="sideInfo" ng-class="ncolumn" style="padding-left: 0;" ng-show="ncolvisible">
            <div class="panel panel-default" id="jpcb_gr_edit_panel">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                     {{displayedChip.ModelType}} {{displayedChip.PoliceNumber}}
                    </h3>
                    <h3 class="panel-title pull-right">
                        <a href="#" ><i class="fa fa-fw fa-remove" ng-click="showChipInfo(false)">&nbsp;</i></a>
                    </h3>
                    <div class="clearfix"></div>
                    
                </div>
                <div class="panel-body" style="padding: 8px; overflow-y:auto;overflow-x:hidden;">
                    <div class="col-md-12" style="padding-left: 0; padding-right: 0;">

                    <div ng-include="'app/boards/jpcbgr/editChip.html'"></div>

                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group" >
                        <button type="button" class="btn btn-default btn-lg" ng-click="showChipWO(displayedChip)">WO</button>
                        <button type="button" class="btn btn-default btn-lg" ng-click="showChipInfo(false)">Close</button>
                        <button type="button" class="btn btn-danger btn-lg" ng-click="dispatchChip(displayedChip, 1)" ng-hide="statusdispa" ng-disabled="!displayedChip.editableDispatch || chipLama == 1">Dispatch</button>
                        <button type="button" class="btn btn-danger btn-lg" ng-click="dispatchChip(displayedChip, 0)" ng-hide="statusupda" ng-disabled="displayedChip.editableDispatch || chipLama == 1">Update</button>
                        <!-- <button type="button" class="btn btn-default btn-lg" ng-click="Split(displayedChip)">Split</button> -->
                    </div>
                </div>
            </div>
        </div>
        {{""}}
    </div>
</div>
<div style="display: none">
    Job id: {{displayedChip.JobId}}
    Status: {{displayedChip.Status}}
</div>
<bsui-modal show="show_modal.show" title="Wo Detail" data="modal_model" on-save="doAddMaterial" on-cancel="rescheduleCancel" mode="modalMode">
        <div class="col-md-12" ng-repeat="item in gridWork" style="margin-top: 10px;padding-right: 0px;padding-left: 0px;" ng-disabled="true">
            <uib-accordion close-others="oneAtATime" ng-disabled="true">
                <div uib-accordion-group is-open="true" class="panel-default">
                    <uib-accordion-heading>
                        <label>Nama Pekerjaan : {{item.TaskName}}</label>
                        <br>
                        <label>Tipe : {{item.JobType.Name}} </label>
                        <!-- <label>Tipe : {{item.JobTypeId}} </label> -->
                        <br>
                        <label>Flat Rate : {{item.FlatRate}}</label>
                        <br>
                        <label>Act Rate : {{item.ActualRate}}</label>
                        <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
                    </uib-accordion-heading>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <td>Nomor Material</td>
                                    <td>Nama Material</td>
                                    <td>Status</td>
                                    <td>ETA</td>
                                    <td>Permintaan Qty</td>
                                    <td>Issue Qty</td>
                                    <td>Satuan</td>
                                </tr>
                                <tr ng-repeat="itemParts in item.child">
                                    <td>{{itemParts.PartsCode}}</td>
                                    <td>{{itemParts.PartsName}}</td>
                                    <!-- <td>{{itemParts.Status}}</td> -->
                                    <!-- <td ng-if="itemParts.Qty == itemParts.QtyGI">Tersedia</td>
                                    <td ng-if="itemParts.Qty != itemParts.QtyGI">Tidak Tersedia</td> -->
                                    <td>{{itemParts.Availbility}}</td>
                                    <td>{{itemParts.ETA | date:"dd-MM-yyyy"}}</td>
                                    <td>{{itemParts.Qty}}</td>
                                    <td>{{itemParts.QtyGI}}</td>
                                    <td>{{itemParts.satuanName}}</td>
                                </tr>
                            </table>
                            <!-- <div ui-grid="gridWODetail" ui-grid-cellNav ui-grid-auto-resize class="grid" ng-cloak style="height: 200px;"></div> -->
                        </div>
                    </div>
                </div>
            </uib-accordion>

        </div>
</bsui-modal>
<script type="text/javascript">
    $(window).on('scroll resize', function() {
        console.log("scroll => ",$(this).scrollTop());        
        if($(this).scrollTop() > 85 && $('body').hasClass('hidden-menu') == false){
            $('#sideInfo').css('position','fixed');
            $('#sideInfo').css('right','0');
            $('#sideInfo').css('top','0');
            $('#sideInfo').css('width','28%');
            console.log("wide nya =>","28%")            
        }else if($(this).scrollTop() > 85 && $('body').hasClass('hidden-menu') == true){ 
            $('#sideInfo').css('position','fixed');
            $('#sideInfo').css('right','10px');
            $('#sideInfo').css('top','0');
            $('#sideInfo').css('width','33%');
            console.log("wide nya =>","33%")            
        }else{
            $('#sideInfo').css('position','relative');
            $('#sideInfo').css('right','0');
            $('#sideInfo').css('top','0');
            $('#sideInfo').css('width','');
            console.log("wide => ", "kosong");
        }        
        // toggleAffix(ele, $(this), wrapper);
    });
    var tmpTinggi = $(window).height();
    var tmpHeader = $('#sideInfo .panel .panel-heading').height();
    var tmpFooter = $('#sideInfo .panel .panel-footer').height();
    var tmpPanelbody = tmpTinggi - (tmpHeader + tmpFooter);
    $('#sideInfo .panel .panel-body').css('height',(tmpPanelbody - tmpFooter)+'px');
</script>
<br/>