<div class="panel panel-danger" style="border-color:#D53337;">
    <div class="panel-heading" style="color:white; background-color:#D53337;">
        <h3 class="panel-title">{{currentChip.type}} {{currentChip.nopol}}</h3>
    </div>
    <div class="panel-body">
        <form method="post">
            <div class="row">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group form-group-board">
                                <label class="control-label">Nomor WO</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <input ng-model="currentChip.wo_number" type="text" class="form-control" ng-disabled="!currentChip.editable"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group form-group-board">
                                <label class="control-label">No Polisi</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <input ng-model="currentChip.nopol" type="text" class="form-control" ng-disabled="!currentChip.editable"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group form-group-board">
                                <label class="control-label">Tanggal WO</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <input ng-model="currentChip.wo_time" type="text" class="form-control" ng-disabled="!currentChip.editable"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group form-group-board">
                                <label class="control-label">Start Allocation</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <input ng-model="currentChip.alloc_time" type="text" class="form-control" ng-disabled="!currentChip.editable"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group form-group-board">
                                <label class="control-label">Delivery Time</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <input ng-model="currentChip.normalDuration" type="text" class="form-control" ng-disabled="!currentChip.editable"></input>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group form-group-board">
                                <label class="control-label">Time Extension</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <input ng-model="currentChip.extDuration" type="text" class="form-control" ng-disabled="!currentChip.editable"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group form-group-board">
                                <label class="control-label">SA</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <input ng-model="currentChip.sa_name" type="text" class="form-control" ng-disabled="!currentChip.editable"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group form-group-board">
                                <label class="control-label">Stall</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <input ng-model="currentChip.stall" type="text" class="form-control" ng-disabled="!currentChip.editable"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group form-group-board">
                                <label class="control-label">Foreman</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <input ng-model="currentChip.foreman" type="text" class="form-control" ng-disabled="!currentChip.editable"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group form-group-board">
                                <label class="control-label">Tipe Pengerjaan</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <input ng-model="currentChip.pekerjaan" type="text" class="form-control" ng-disabled="!currentChip.editable"></input>
                        </div>
                    </div>

            </div>
            <div class="row" style="margin-top: 10px">
                <div class="panel panel-default" >
                    <div class="panel-heading" xstyle="color:white; background-color:#D53337;">
                        <h3 class="panel-title">Pekerjaan</h3>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div>
                            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog(0)" style="color:white; background-color:#D53337">Simpan</button>
                            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Close</button>
                            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">WO</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>