<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js">
  
</script>

<script type="text/javascript">
 
</script>

<style type="text/css">
    @media only screen and (max-width: 600px) {
        .nav.nav-tabs {
          display:none;
        }
    }
</style>

<bsform-grid 
    ng-form="StockViewForm" loading="loading" factory-name="FindLocationFactory" model="mFindLocation" model-id="DaftarUnitRepairId" get-data="getData" selected-rows="selectedRows" show-advsearch="on" on-select-rows="onSelectRows" grid-hide-action-column="true" form-name="StockViewForm" form-title="" modal-title="" modal-size="small" icon="fa fa-fw fa-child" hide-new-button="true">
    <bsform-advsearch>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Cabang</bsreqlabel>
                    <bsselect id="comboBox" name="Dealer" ng-model="filter.OutletId" data="getOutlet" item-text="Name" item-value="OutletId" on-select="branchId" placeholder="Cabang" icon="fa fa-sitemap" required></bsselect>
                </div>
            </div>  
            <div class="col-md-3">
                <div class="form-group" show-errors>
                    <bsreqlabel>Model</bsreqlabel>
                    <bsselect name="ModelKendaraan" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" ng-model="filter.VehicleModelId" on-select="filterModel(selected)" placeholder="Model" icon="fa fa-car glyph-left" style="min-width: 150px" required>
                    </bsselect>
                    <bserrmsg field="ModelKendaraan"></bserrmsg>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" show-errors>
                    <label>Tipe</label>
                    <bsselect name="TypeKendaraan" data="getTipe" item-text="TypeDescKatashikiSuffix" item-value="VehicleTypeId" ng-model="filter.VehicleTypeId" placeholder="Tipe" ng-change="pilihType(selected)" icon="fa fa-car glyph-left" style="min-width: 150px">
                    </bsselect>
                    <!-- <bserrmsg field="TypeKendaraan"></bserrmsg> -->
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group" show-errors>
                    <label>Warna</label>
                    <bsselect id="comboBox" name="Warna" ng-model="filter.ColorId" data="listWarna" item-text="ColorCodeName" item-value="ColorId" on-select="ColorId" placeholder="Warna" icon="fa fa-car glyph-left">
                    </bsselect>
                    <!-- <bserrmsg field="Warna"></bserrmsg> -->
                </div>
            </div>
        </div>  

        <div class="row" style="margin-bottom:30px">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tahun Kendaraan</label>
                    <bsselect name="Year" data="dataYear" item-text="Year" item-value="Year" ng-model="filter.Year" placeholder="Pilih Tahun" icon="fa fa-calender" style="min-width: 150px">
                    </bsselect>
                </div>
             </div>
             <div class="col-md-3">
                <div class="form-group" show-errors>
                    <label>No. Rangka</label>
                    <input type="text" class="form-control" ng-model="filter.FrameNo" placeholder="No. Rangka">
                    <!-- <bsdatepicker
                        name="tanggalPDC"
                        date-options="dateOptionsStart"
                        ng-model="filter.PlanUnitatPDC"
                        icon="fa fa-calendar">
                    </bsdatepicker> -->
                </div>
            </div>  
            <div class="col-md-3">
                <div class="form-group" show-errors>
                    <label>Plan Unit in Cabang</label>
                    <bsdatepicker
                        name="tanggalCabang"
                        date-options="dateOptionsStart"
                        ng-model="filter.PlanUnitinCabang"
                        icon="fa fa-calendar">
                    </bsdatepicker>
                </div>
            </div>
			<div class="col-md-3">
                <div class="form-group" show-errors>
                    <label>Rencana Pengiriman</label>
                    <bsdatepicker
                        name="tanggalDelivery"
                        date-options="dateOptionsStart"
                        ng-model="filter.PlanDelivery"
                        icon="fa fa-calendar" required>
                    </bsdatepicker>
                </div>
            </div>
        </div>
		
        
    </bsform-advsearch> 

    <bsform-above-grid>
        <button ng-click="UpdateLocation()" class="rbtn btn" style="float: right">
			Update Lokasi
		</button>
    </bsform-above-grid>

</bsform-grid>



	
