<script type="text/javascript">

</script>
<style type="text/css">


</style>


<div ng-show="CategoryProspectVariable">
	<button style="float: right;" ng-click="TambahCategoryProspectVariable()"  type="button" class="rbtn btn ng-binding ladda-button" >
		<span class="ladda-label">
			Tambah
		</span><span class="ladda-spinner"></span>
	</button>
	<button style="float: right;" ng-click="DeleteCategoryProspectVariable()"  type="button" class="rbtn btn ng-binding ladda-button" >
		<span class="ladda-label">
			Hapus Data
		</span><span class="ladda-spinner"></span>
	</button>
	<br/>
	<br/>
	
<div style="display: block" class="grid" ui-grid="grid3" ui-grid-selection ui-grid-auto-resize></div>
<br/>
</div>

<div ng-show="ShowTingkatKebutuhan">

	<br/>
	<br/>
<div style="display: block" class="grid" ui-grid="grid2"  ui-grid-auto-resize></div>
<br/>
</div>

<div ng-show="ShowTingkatKebutuhanDetail">
<button style="float: right;" ng-click="KembaliDariTingkatKebutuhan()"  type="button" class="rbtn btn ng-binding ladda-button" >
		<span class="ladda-label">
			Kembali
		</span><span class="ladda-spinner"></span>
	</button>
	
	<button style="float: right;" ng-show="ShowSimpanTingkatKebutuhan" ng-click="SimpanTingkatKebutuhan()"  type="button" class="rbtn btn ng-binding ladda-button" >
		<span class="ladda-label">
			Simpan
		</span><span class="ladda-spinner"></span>
	</button>

				<bslabel>Tingkat Kebutuhan</bslabel>
				<bsselect ng-disabled="!mCategoryProspectVariable_TingkatKebutuhan_EnableDisable" name="TingkatKebutuhan" ng-model="mCategoryProspectVariable_TingkatKebutuhan" data="optionsTingkatKebutuhan" item-text="PurchaseTimeName" item-value="PurchaseTimeId" on-select="value(selected)" placeholder="Select Tingkat Kebutuhan" icon="fa fa-search">
				</bsselect>

				<bslabel>Category</bslabel>
				<bsselect name="Category" ng-disabled="!mCategoryProspectVariable_TingkatKebutuhan_Category_EnableDisable" ng-model="mCategoryProspectVariable_TingkatKebutuhan_Category" data="optionsCategory" item-text="CategoryProspectName" item-value="CategoryProspectId" on-select="value(selected)" placeholder="Select Category" icon="fa fa-search">
				</bsselect>

</div>

<div ng-show="ShowCategoryProspectVariableDetail">
<button style="float: right;" ng-click="KembaliDariCategoryProspectVariable()"  type="button" class="rbtn btn ng-binding ladda-button" >
		<span class="ladda-label">
			Kembali
		</span><span class="ladda-spinner"></span>
	</button>
	
	<button style="float: right;" ng-show="ShowSimpanCategoryProspectVariable" ng-click="SimpanCategoryProspectVariable()"  type="button" class="rbtn btn ng-binding ladda-button" >
		<span class="ladda-label">
			Simpan
		</span><span class="ladda-spinner"></span>
	</button>

                <bsreqlabel>Field</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="Field" placeholder="Field" ng-disabled="!mCategoryProspectVariable_Field_EnableDisable" ng-model="mCategoryProspectVariable_Field"
                            ng-maxlength="50" required
                    >
                </div>

				<bslabel>Category</bslabel>
				<bsselect name="Category" ng-disabled="!mCategoryProspectVariable_Category_EnableDisable" ng-model="mCategoryProspectVariable_Category" data="optionsCategory" item-text="CategoryProspectName" item-value="CategoryProspectId" on-select="value(selected)" placeholder="Select Category" icon="fa fa-search">
				</bsselect>
</div>
