<script type="text/javascript">
</script>
<style type="text/css">
    .btn_report {
        height: 50px;
        width: 100px;
    }
    
    .row input[type=text] {
        text-align: right;
    }
</style>


<!-- <bsform-base ng-form="RevenueForm" loading="loading" show-advsearch="on" form-name="RevenueForm" form-title="RevenueForm" icon="fa fa-fw fa-child">

    <bsform-advsearch>    -->     
        <div ng-if="role=='Branch'" ng-include="'app/services/report/BP/revenueBP/revenueBranch_BP.html'"></div>
        <div ng-if="role=='HO'" ng-include="'app/services/report/BP/revenueBP/revenueHO_TAM_BP.html'"></div>
<!--     </bsform-advsearch>

    <bsform-base-main> -->
<!--         <div class="panel panel-default" style="padding-bottom: 25px; ">
            <div class="panel-heading">Sumary</div>
            <div class="panel-body">
                <fieldset disabled="disabled">
                        <div class="panel panel-default" style="">
                                <div class="panel-heading">CPUS</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6" style="">
                                            <div class="row">
                                                <div class="panel panel-default" style="border: none; margin:15px;">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <div class="col-md-8">
                                                                    <bslabel>Total Unit CPUS</bslabel>
                                                                </div>
                                                                <div class="col-md-4 pull-right" style="margin-right: -4px;">
                                                                    <input  type="text" class="form-group" ng-model="CPUSTotalUnit" name="CPUSTotalUnit" disabled>
                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <div class="col-md-5">
                                                                    <bslabel>Jasa </bslabel>
                                                                </div>
                                                                <div class="pull-right">
                                                                    Rp.<input  type="text" class="form-group" ng-model="CPUSJasa" name="CPUSJasa" disabled>
                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="clearfix"></div>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <div class="col-md-5">
                                                                    <bslabel>Part </bslabel>
                                                                </div>
                                                                <div class="pull-right">
                                                                    Rp.<input  type="text" class="form-group" ng-model="CPUSPart" name="CPUSPart" disabled>
                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <div class="col-md-5">
                                                                    <bslabel>Bahan </bslabel>
                                                                </div>
                                                                <div class="pull-right">
                                                                    Rp.<input  type="text" class="form-group" ng-model="CPUSBahan" name="CPUSBahan" disabled>
                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <div class="col-md-5">
                                                                    <bslabel>OPL </bslabel>
                                                                </div>
                                                                <div class="pull-right">
                                                                    Rp.<input  type="text" class="form-group" ng-model="CPUSOPL" name="CPUSOPL" disabled>
                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
            
                                                        <div class="clearfix"></div>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <div class="col-md-5">
                                                                    <bslabel>OPB </bslabel>
                                                                </div>
                                                                <div class="pull-right">
                                                                    Rp.<input  type="text" class="form-group" ng-model="CPUSOPB" name="CPUSOPB" disabled>
                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <div class="col-md-5">
                                                                    <bslabel>Revenue CPUS </bslabel>
                                                                </div>
                                                                <div class="pull-right">
                                                                    Rp.<input  type="text" class="form-group" ng-model="CPUSRevenue" name="CPUSRevenue" disabled>
                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <div class="col-md-5">
                                                                    <bslabel>Avg Revenue CPUS </bslabel>
                                                                </div>
                                                                <div class="pull-right">
                                                                    Rp.<input  type="text" class="form-group" ng-model="CPUSRevenueAvg" name="CPUSRevenueAvg" disabled>
                                
                                                                </div>
                                                            </div>
                                                        </div>
            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="panel panel-default" style="margin-right:15px;">
                                                    <div class="panel-heading">CPUS Reguler</div>
                                                    <div class="panel-body">
            
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <div class="col-md-5">
                                                                    <bslabel>Unit CPUS Reguler</bslabel>
                                                                </div>
                                                                <div class="col-md-4 pull-right" style="margin-right: -8px;">
                                                                    <input  type="text" class="form-group" ng-model="CPUSRegUnit" name="CPUSRegUnit" disabled>
                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <div class="col-md-5">
                                                                    <bslabel>Revenue Reguler</bslabel>
                                                                </div>
                                                                <div class="pull-right">
                                                                    Rp.<input  type="text" class="form-group" ng-model="CPUSRegRevenue" name="CPUSRegRevenue" disabled>
                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <div class="col-md-5">
                                                                    <bslabel>Avg Revenue CPUS Reguler</bslabel>
                                                                </div>
                                                                <div class="pull-right">
                                                                    Rp.<input  type="text" class="form-group" ng-model="CPUSRegRevenueAvg" name="CPUSRegRevenueAvg" disabled>
                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="panel panel-default" style="margin-right:15px;">
                                                    <div class="panel-heading" stylw="margin-right:15px;">CPUS TPS</div>
                                                    <div class="panel-body">
            
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <div class="col-md-5">
                                                                    <bslabel>Unit CPUS TPS</bslabel>
                                                                </div>
                                                                <div class="col-md-4 pull-right" style="margin-right: -8px;">
                                                                    <input  type="text" class="form-group" ng-model="CPUSTPSUnit" name="CPUSTPSUnit" disabled>
                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <div class="col-md-5">
                                                                    <bslabel>Revenue TPS</bslabel>
                                                                </div>
                                                                <div class="pull-right">
                                                                    Rp.<input  type="text" class="form-group" ng-model="CPUSTPSRevenue" name="CPUSTPSRevenue" disabled>
                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <div class="col-md-5">
                                                                    <bslabel>Avg Revenue CPUS TPS</bslabel>
                                                                </div>
                                                                <div class="pull-right">
                                                                    Rp.<input  type="text" class="form-group" ng-model="CPUSTPSRevenueAvg" name="CPUSTPSRevenueAvg" disabled>
                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </fieldset>
              
            </div>
            <div class="panel panel-default" style="margin:15px">
                <div class="panel-heading"> Non CPUS</div>
            <fieldset disabled="disabled">
                    <div class="row" style="padding:15px;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <bslabel>Total Unit Non CPUS</bslabel>
                                    </div>
                                    <div class="col-md-4 pull-right" style="margin-right: -16px;">
                                        <input  type="text" class="form-group" ng-model="NoCPUSUnit" name="NoCPUSUnit" disabled>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <bslabel>Part</bslabel>
                                    </div>
                                    <div class="pull-right">
                                        Rp.<input  type="text" class="form-group" ng-model="NoCPUSPart" name="NoCPUSPart" disabled>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <bslabel>OPB</bslabel>
                                    </div>
                                    <div class="pull-right">
                                        Rp.<input  type="text" class="form-group" ng-model="NoCPUSOPB" name="NoCPUSOPB" disabled>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <bslabel>Revenue Non CPUS</bslabel>
                                    </div>
                                    <div class="pull-right">
                                        Rp.<input  type="text" class="form-group" ng-model="NoCPUSRevenue" name="NoCPUSRevenue" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <bslabel>Jasa </bslabel>
                                    </div>
                                    <div class="pull-right">
                                        Rp.<input  type="text" class="form-group" ng-model="NoCPUSJasa" name="NoCPUSJasa" disabled>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <bslabel>Bahan</bslabel>
                                    </div>
                                    <div class="pull-right">
                                        Rp.<input  type="text" class="form-group" ng-model="NoCPUSBahan" name="NoCPUSBahan" disabled>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <bslabel>OPL</bslabel>
                                    </div>
                                    <div class="pull-right">
                                        Rp.<input  type="text" class="form-group" ng-model="NoCPUSOPL" name="NoCPUSOPL" disabled>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <bslabel>Avg Revenue Non CPUS</bslabel>
                                    </div>
                                    <div class="pull-right">
                                        Rp.<input  type="text" class="form-group" ng-model="NoCPUSRevenueAvg" name="NoCPUSRevenueAvg" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
            </fieldset>     
        </div>

        </div>
        <div class="row">
            <div class="form-group pull-right">
                <div class=""></div>
                <button ng-click="getReport()" class="btn btn-danger btn_report">Export Detail</button>
            </div>
        </div> -->
<!--     </bsform-base-main>

</bsform-base> -->
<!-- 
<script type="text/ng-template" id="taTemplate.html">
  <a>
      <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script> -->