<bsform-base ng-form="RevenueForm" loading="loading" show-advsearch="on" form-name="RevenueFormBPBranch" form-title="RevenueFormBPBranch" icon="fa fa-fw fa-child">

    <bsform-advsearch>
    <div>
        <div class="row" ng-form="revForm">
          <div class="col-md-4" style="margin-top: 15px;">
            <div class="form-group" show-errors>
            <bslabel>Dealer</bslabel>
              <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)"    placeholder="Select Dealer" required>
              </bsselect>
              <bserrmsg field="dealer"> harus diisi </bserrmsg>
            </div>
          </div>

          <div class="col-md-4" style="margin-top: 15px;">
            <div class="form-group" show-errors>
              <bslabel>Cabang</bslabel>
              <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)"    placeholder="Select Cabang" required>
              </bsselect>
              <bserrmsg field="cabang"> harus diisi </bserrmsg>
            </div>
          </div>

          <div class="col-md-4" style="margin-top: 15px;">
            <div class="form-group" show-errors>
              <bslabel>Kategori Workshop</bslabel>
              <input type="text" class="form-control" name="kategori" ng-model="filter.kategori" disabled name="kategoriWorkshop" disabled required>
              <bserrmsg field="kategori"> harus diisi </bserrmsg>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-3">
            <div class="form-group" show-errors>
              <bsreqlabel>Periode</bsreqlabel>
                <bsdatepicker
                  name="Tanggal"
                  date-options="dateOptions2"
                  ng-model="filter.DateStart"
                >
              </bsdatepicker>
              <em ng-messages="revForm.Tanggal.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                  <p ng-message="date">Can not fill letters</p>
                  <p ng-message="minlength">Jumlah karakter kurang</p>
                  <p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
              </em>
            </div>
          </div>
          <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
          <div class="col-md-3" style="margin-top: 5px;">
            <div class="form-group" show-errors>
              <label></label>
                <bsdatepicker
                  name="Tanggal1"
                  date-options="dateOptions2"
                  ng-model="filter.DateEnd"
                >
                </bsdatepicker>
                <!-- <bserrmsg field="Tanggal1"> harus diisi </bserrmsg> -->
                <em ng-messages="revForm.Tanggal1.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="date">Can not fill letters</p>
                    <p ng-message="minlength">Jumlah karakter kurang</p>
                    <p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
                </em>
            </div>
          </div>
        </div>
        <!-- <div class="row">
         <div class="form-group pull-right">
          <div class=""></div>
            <button class="btn btn-danger btn_report" ng-click="getSummaryBranch()">Filter</button>
          </div>
          </div>
        </div> -->
    </bsform-advsearch>

          <bsform-base-main>
            <div ng-include="'app/services/report/BP/revenueBP/revenueSummary.html'"></div>
          </bsform-base-main>

</bsform-base>
