<bsform-base ng-form="RevenueForm" loading="loading" show-advsearch="on" form-name="RevenueFormBPHO" form-title="RevenueFormBPHO" icon="fa fa-fw fa-child">

    <bsform-advsearch>   
      <div class="row" ng-form="tesAjah">
          <div class="col-md-4"  style="margin-top: 15px;">
            <bslabel>TAM Area</bslabel>                        
              <bsselect ng-disabled="DisabledTAM()" ng-model="filter.tamArea" name="tamArea" data="dataAreaTAM" item-text="areaName" item-value="areaId" on-select="areaId(selected)" placeholder="Select TAM Area" required>
              </bsselect>
              <bserrmsg field="tamArea"> harus diisi </bserrmsg>
          </div>

          <div class="col-md-4" style="margin-top: 15px;">
            <bslabel>Group Dealer</bslabel>                        
            <bsselect ng-disabled="DisabledTAM()" ng-model="filter.Dealer"  name="dealer"  data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)"    placeholder="Select Dealer" required>
            </bsselect>
            <bserrmsg field="dealer"> harus diisi </bserrmsg>
          </div>
                  
          <div class="col-md-4" style="margin-top: 15px;">
            <bsreqlabel>Group Dealer Area</bsreqlabel>                        
            <bsselect ng-disabled="DisabledDealer()" ng-model="filter.DealerArea" name="DealerArea" data="dataAreaDealerHO" item-text="areaName" item-value="areaId" on-select="areaId(selected)" placeholder="Select Group Dealer Area" required>
            </bsselect>
            <bserrmsg field="DealerArea"> harus diisi </bserrmsg>
          </div>

          <div class="clearfix"></div>
          <div class="col-md-4" style="margin-top: 15px;">
            <bsreqlabel>Cabang</bsreqlabel>                        
            <bsselect ng-model="filter.CabangHO" name="cabangHO"  data="dataCabangHO" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)"    placeholder="Select Cabang" required>
            </bsselect>
            <bserrmsg field="cabang"> harus diisi </bserrmsg>
          </div>

          <div class="col-md-4" style="margin-top: 15px;">
              <bsreqlabel>Satellite</bsreqlabel>                        
                      <bsselect ng-model="filter.Satellite" name="satellite" data="dataSatellite" item-text="satelliteName" item-value="satelliteID" on-select="satelliteID(selected)" placeholder="Select Satellite" required>
                      </bsselect>
                      <bserrmsg field="satellite"> harus diisi </bserrmsg>
          </div>
          
          <div class="col-md-4" style="margin-top: 15px;">
            <div class="form-group">
              <bslabel>Kategori Workshop</bslabel>
              <input type="text" class="form-control" ng-model="filter.kategori" name="kategoriWorkshop" placeholder="Kategori Workshop" disabled required>
              <bserrmsg field="kategoriWorkshop"> harus diisi </bserrmsg>
            </div>
          </div>

          <div class="clearfix"></div>
          <div class="col-md-3">
            <div class="form-group">
              <bsreqlabel>Periode</bsreqlabel>
                <bsdatepicker
                  ng-change="changeStartDate(filter.DateStart)"
                  max-date="maxDateS"
                  name="dateStart"
                  date-options="dateOptionsS"
                  ng-model="filter.DateStart"
                >
              </bsdatepicker>
              <bserrmsg field="dateStart"> harus diisi </bserrmsg>
              <em ng-messages="tesAjah.dateStart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="date">Format Tanggal Salah</p>
              </em>
              <em ng-show="(filter.DateStart > filter.DateEnd) && filter.DateEnd !== null" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p>Tanggal Awal Tidak Boleh Lebih Besar dari Tanggal Akhir</p>
              </em>
            </div>
          </div>
          <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
          <div class="col-md-3" style="margin-top: 5px;">
            <div class="form-group">
              <label></label>
                <bsdatepicker
                  ng-change="changeEndDate(filter.DateEnd)"
                  max-date="maxDateE"
                  min-date="minDateE"
                  ng-disabled="filter.DateStart == null"
                  name="DateEnd"
                  date-options="dateOptionsE"
                  ng-model="filter.DateEnd"
                >
              </bsdatepicker>
              <bserrmsg field="DateEnd"> harus diisi </bserrmsg>
              <em ng-messages="tesAjah.DateEnd.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="date">Format Tanggal Salah</p>
              </em>
              <em ng-show="(filter.DateEnd < filter.DateStart) && filter.DateEnd !== null" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p>Tanggal Akhir Tidak Boleh Lebih Kecil dari Tanggal Awal</p>
              </em>
            </div>          
          </div>
         <!--  <pre>{{filter}}</pre> -->
    <div class="col-md-3">
<!--         <div class="form-group">
            <div class="form-group pull-right">
                <button ng-click="getSummaryHO()" type="button" class="rbtn btn"> Filter </button>
            </div>
        </div> -->
    </div>
</div>
    </bsform-advsearch>

          <bsform-base-main>
            <div ng-include="'app/services/report/BP/revenueBP/revenueSummary.html'"></div>
          </bsform-base-main>

</bsform-base>
