<script type="text/javascript">
</script>
<style type="text/css">

</style>

<!--   action-button-settings="actionButtonSettings"
        action-button-settings-detail="actionButtonSettingsDetail"
        show-advsearch="on"

        form-api="formApi"
        linksref="app.queueCategory"
        linkview="queueCategory@app"
 -->
<bsform-base 
ng-form="ReportPengMaterialBahanForm" 
loading="loading" 
show-advsearch="off" 
form-api="formApi" 
linksref="app.queueCategory" 
linkview="queueCategory@app" 
form-name="ReportPengMaterialBahanFormBP" 
form-title="ReportPengMaterialBahanBP" 
icon="fa fa-fw fa-child">

    <bsform-base-main>
        <div class="row">
            <div class="col-md-4" >
                <div class="form-group" show-errors>
                    <bslabel>Dealer</bslabel>
                    <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" required>
                    </bsselect>
                    <bserrmsg field="dealer"> harus diisi </bserrmsg>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bslabel>Cabang</bslabel>
                    <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                    </bsselect>
                     <bserrmsg field="cabang"> harus diisi </bserrmsg>
                 </div>
            </div>

            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>Kategori Workshop: </label>
                    <input disabled type="text" ng-model="filter.kategori" class="form-control" name="kategori" placeholder="" required>
                    <bserrmsg field="kategori"> harus diisi </bserrmsg>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-3">
                <div class="form-group" show-errors>
                    <bslabel>Periode</bslabel>
                    <bsdatepicker name="Tanggal1" date-options="dateOptions" ng-model="filter.DateStart" required>
                    </bsdatepicker>
                    <bserrmsg field="Tanggal1"> harus diisi </bserrmsg>
                </div>
            </div>
            <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
            <div class="col-md-4" style="margin-top:5px;">
                <div class="form-group" show-errors>
                    <label></label>
                    <bsdatepicker name="Tanggal2" date-options="dateOptions" ng-model="filter.DateEnd" required>
                    </bsdatepicker>
                    <bserrmsg field="Tanggal2"> harus diisi </bserrmsg>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bslabel>Kategori Perbaikan</bslabel>
                        <bsselect ng-model="filter.KategoriPerbaikan" name="kategoriPerbaikan" data="dataKategoriPerbaikan" item-text="name" item-value="name" on-select="name(selected)" placeholder="Select Kategori Perbaikan" required>
                    </bsselect>
                    <bserrmsg field="kategoriPerbaikan"> harus diisi </bserrmsg>
                </div>
            </div>
            <div class="col-md-1"></div>


        </div>
    <bsform-base-main>
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="getReport()" class="rbtn btn"> Export Detail</button>
        </div>
    </div>

</bsform-base>