<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

</style>

<div ng-app="app" ng-controller="GoodsReceiptController">            
    <div class="form-group">           
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Referensi GR *</label>
                    <select class="form-control" disabled>
                        <option>PO TAM</option>
                        <option selected>PO NON TAM</option>
                        <option>PO SUBLET</option>
                        <option>TRANSFER ORDER</option>
                    </select>
                </div>
            </div>  
            <div class="col-md-2">   
                <div class="input-group">             
                    <label class="control-label">No. Shipping *</label>    
                    <input class="form-control" type="text" name="no_SHIPPING" ng-model="GRHeader.ShippingNo" placeholder="MR/20160715001">               
                </div>
            </div>
        </div>
        <!-- [END] Form Level 1 -->

        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">Vendor *</label>
                    <input type="text" class="form-control" ng-model="GRHeader.VendorName">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" show-errors>
                      <label class="control-label">Tanggal Terima *</label>
                        <div class="tanggal">
                          <bsdatepicker
                          name="startDate"
                          date-options="dateOptions"
                          ng-model="GRHeader.ReceiptDate"
                          required>
                          </bsdatepicker>
                        </div>  
                      <bserrmsg field="tanggalTerima"></bserrmsg>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 2 -->

        <!--level 3-->
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <bsreqlabel class="control-label">Tipe Material * </bsreqlabel>
                    <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                        <option selected value="{{GRHeader.MaterialTypeId}}">{{ToNameMaterial(GRHeader.MaterialTypeId)}}</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- end level 3-->
    
        <!-- [START] Form Level 4 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">No. GR</label>
                    <input type="text" class="form-control" ng-model="GRHeader.GoodsReceiptNo" placeholder="" disabled>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" show-errors>
                      <label class="control-label">Tanggal Dokumen GR</label>
                        <div class="tanggal">
                          <bsdatepicker
                          name="startDate"
                          date-options="dateOptions"
                          ng-model="GRHeader.DocDate" 
                          required disabled>
                          </bsdatepicker>
                        </div>  
                      <bserrmsg field="tanggalDokGR"></bserrmsg>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 4 -->

        <!-- [START] Form Level 4 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">Status</label>
                    <input type="text" class="form-control" placeholder="Completed" disabled>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 4 -->

        <!--level 5-->
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="notes">Notes:</label>
              <textarea class="form-control" rows="4"  ng-model="GRHeader.Notes" id="notes" disabled></textarea>
            </div>
          </div>
        </div>
        <!--end. level 5-->

    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="input-group-btn dropdown" uib-dropdown="" style="">
          <button style="margin-right:5px;" type="button" ng-disabled="!mySelections.length>0" 
            class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" 
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <!-- ngIf: allowDelete -->
            <li>
            <!-- ngIf: selectedRows.length>0 --><a href="#" ng-click="bulkAction(1)">Hapus</a>
            <!-- end ngIf: selectedRows.length>0 --></li>
            <!-- end ngIf: allowDelete -->
            <!-- ngIf: allowApprove -->
            <!-- ngIf: allowReject -->
            <!-- ngIf: allowReview -->
            <!-- ngRepeat: customBulk in customBulkFunc -->
          </ul>
        </div>
    </div>
</div>

<div class="row">
    <!-- <div class="col-md-12" ng-controller="GoodsReceiptController"> -->
    <div class="col-md-12">
      <!-- <div id="grid1" ui-grid="gridOptions" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div> -->
      <div id="grid1" ui-grid="gridOptions" ui-grid-auto-resize ui-grid-selection ui-grid-cellNav ui-grid-pagination class="grid"></div>
    </div>
</div>

<fieldset style="padding-top: 10px">
<!-- <div align="right" ng-controller="GoodsReceiptController">  -->
<div align="right"> 
    <!-- <button id="myBtn" class="btn btn-default">Batal GR</button> -->
    <button ng-click="batalDOk(20)" class="btn btn-default">Batal GR</button>
    <button ng-click="goBack()" class="btn btn-default">Kembali</button>
</div>
</fieldset>