<!--
  Catatan Flow
  1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

/* The Modal (background) */
.message {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 20;
    top: 0;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.message-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.message-header {
    padding: 2px 16px;
    background-color: #ff0000;
    color: white;
}

.message-body {padding: 2px 16px;}

.message-footer {
    padding: 2px 16px;
    background-color: #ff0000;
    color: white;
}

</style>
PO NON TAM : BATAL ...
<div ng-app="app" ng-controller="GoodsReceiptController">            
    <div class="form-group">           
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Referensi GR *</label>
                    <select class="form-control" disabled>
                        <option>PO TAM</option>
                        <option selected>PO NON TAM</option>
                        <option>PO SUBLET</option>
                        <option>TRANSFER ORDER</option>
                    </select>
                </div>
            </div>  
            <div class="col-md-2">   
                <div class="input-group">             
                    <label class="control-label">No. Shipping *</label>    
                    <input class="form-control" type="text" name="no_SHIPPING" placeholder="MR/20160715001">               
                </div>
            </div>
        </div>
        <!-- [END] Form Level 1 -->

        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">Vendor *</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" show-errors>
                      <label class="control-label">Tanggal Terima *</label>
                        <div class="tanggal">
                          <bsdatepicker
                          name="startDate"
                          date-options="dateOptions"
                          ng-model="mPeriod.startDate"
                          required>
                          </bsdatepicker>
                        </div>  
                      <bserrmsg field="tanggalTerima"></bserrmsg>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 2 -->

        <!--level 3-->
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Tipe Material*</label>
                    <select class="form-control" disabled>
                        <option selected>Parts</option>
                        <option>Bahan</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- end level 3-->
    
        <!-- [START] Form Level 4 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">No. GR</label>
                    <input type="text" class="form-control" placeholder="GR/201607170001" disabled>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" show-errors>
                      <label class="control-label">Tanggal Dokumen GR</label>
                        <div class="tanggal">
                          <bsdatepicker
                          name="startDate"
                          date-options="dateOptions"
                          ng-model="mPeriod.startDate"
                          required disabled>
                          </bsdatepicker>
                        </div>  
                      <bserrmsg field="tanggalDokGR"></bserrmsg>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 4 -->

        <!-- [START] Form Level 4 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">Status</label>
                    <input type="text" class="form-control" placeholder="Completed" disabled>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 4 -->

        <!--level 5-->
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="notes">Notes:</label>
              <textarea class="form-control" rows="4" id="notes" disabled></textarea>
            </div>
          </div>
        </div>
        <!--end. level 5-->

    </div>
</div>

<div class="row">
    <div class="col-md-12" ng-controller="GoodsReceiptController">
      <div id="grid1" ui-grid="gridOptions" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
    </div>
</div>

<fieldset style="padding-top: 10px">
<div align="right" ng-controller="GoodsReceiptController">> 
    <button id="myBtn" class="btn btn-default">Batal GR</button>
    <button class="btn btn-default">Kembali</button>
</div>
</fieldset> 


<!-- The Modal -->
<div id="myModal" class="message">

  <!-- Modal content -->
  <div class="message-content">
    <div class="message-header">
      <span class="close">&times;</span>
      <h2>Input Alasan Pembatalan</h2>
    </div> 
    <div class="message-body" style="padding-bottom: 10px">
      <p style="padding-top: 10px">Alasan*</p>
        <select class="form-control" style="width: 50%">
            <optgroup>
                <option>Kesalahan Administrasi</option>
                <option>Salah Material</option>
                <option>Pembatalan oleh Customer</option>
                <option>Batal Digunakan</option>
                <option>Lainnya</option>
            </optgroup>
        </select>
        <p style="padding-top: 10px">Keterangan</p>
        <textarea class="form-control" rows="5"></textarea>
      </div>
      <div class="modal-footer" style="padding-bottom: 10px">
        <button type="button" class="btn btn-default" data-dismiss="modal">Kembali</button>
        <button type="button" class="btn rbtn" data-dismiss="modal">OK</button>
      </div>
    </div>
</div>



<!-- [START] JS Modal Parts -->
<script>
var modal = document.getElementById('myModal');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
    modal.style.display = "block";
    console.log("dikil");
}

span.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!-- [END] JS Modal Parts -->