<script type="text/javascript">

</script>
<style type="text/css">
</style>

<bsform-grid ng-form="ChecklistItemAdministrasiForm" factory-name="ChecklistItemAdministrasiFactoryMaster" model="mChecklistItemAdministrasi"
 model-id="ChecklistAdminPaymentId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows"
 form-name="ChecklistItemAdministrasiForm" form-title="Checklist Item Administrasi" modal-title="Checklist Item Administrasi"
 modal-size="small" icon="fa fa-fw fa-child" form-api="formApi" do-custom-save="doCustomSave">

	<div class="row">
		<div class="col-md-6">


			<div class="form-group" show-errors>
				<bsreqlabel>Checklist Item Administrasi</bsreqlabel>
				<div class="input-icon-right">
					<i class="fa fa-pencil"></i>
					<input type="text" class="form-control" name="ChecklistAdminPaymentName" placeholder="Checklist Item Administrasi" ng-model="mChecklistItemAdministrasi.ChecklistAdminPaymentName"
					 ng-maxlength="50" required>
				</div>
				<bserrmsg field="ChecklistAdminPaymentName"></bserrmsg>
			</div>
		</div>
	</div>

	</bsform-grid-tree>