<style type="text/css">

    .ScrollStyle {
        max-height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .invalidBox {
        border-color: rgb(185, 74, 72) !important;
        margin-bottom: 5px !important;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        display: none;
    }

    /* .row {
        margin: 0 0 0 0;
    } */

    .noppading {
        padding: 0 0 0 0;
    }

    .noppading-left {
        padding-left: 0px !important;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .button {
        display: inline-block;
        padding: 15px 15px 15px 15px;
        font-size: 14px;
        cursor: pointer;
        text-align: left;
        text-decoration: none;
        outline: none;
        color: black;
        background-color: #fff;
        border: none;
        width: 100%;
    }

    .button:hover {
        background-color: #d53337;
        color: #fff;
    }

    .button:active {
        background-color: #d53337;
        transform: translateY(4px);
    }

    /*th,
    td {
        padding-bottom: 10px;
        font-family: "Courier New", Courier, monospace;
    }*/
</style>

<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript" src="js/print_min.js"></script>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<!-- <link rel="stylesheet" href="css/uistyle.css"> -->
<!-- <script type="text/javascript" src="js/uiscript.js"></script> -->

<div ng-show="listContainer" class="row" style="margin: 0 0 0 0">
    <!--  -->
    <!-- <button id="sendEmailBtn" ng-if="user.RoleName != 'CAO/HO'" ng-disabled="selectedData.length == 0 || selectedData[0].StatusName != 'Belum Aju AFI' || selectedData[0].StatusName != 'Approve Batal By CAO' || selectedData[0].TombolAju == false"
        class="rbtn btn ng-binding ladda-button" ng-click="tambahAFi()" style="float: right; margin: -30px 0 0 7px">&nbsp
        <span>Tambah Aju AFI</span>
    </button> -->
    <button id="sendEmailBtn" ng-if="user.RoleName != 'CAO/HO'" ng-disabled="selectedData.length == 0 || selectedData[0].TombolAju == false"
        class="rbtn btn ng-binding ladda-button" ng-click="tambahAFi()" style="float: right; margin: -30px 0 0 7px">&nbsp
        <span>Tambah Aju AFI</span>
    </button>
    <!-- <button id="sendEmailBtn" ng-if="user.RoleName == 'CAO/HO'" ng-disabled="selectedData.length == 0 || selectedData[0].StatusName == 'Aju AFI Ke TAM' || isHAveAjuAfiTAM"
        class="rbtn btn ng-binding ladda-button" ng-click="ajuafiketam()" style="float: right; margin: -30px 0 0 7px">&nbsp
        <span>Aju AFI Ke TAM</span>
    </button> -->
    <button id="sendEmailBtn" ng-if="user.RoleName == 'CAO/HO'" ng-disabled="disabledAjuafiketam||selectedData.length == 0 || selectedData[0].StatusName == 'Aju AFI Ke TAM' || selectedData[0].TombolAju == false"
        class="rbtn btn ng-binding ladda-button" ng-click="ajuafiketam()" style="float: right; margin: -30px 0 0 7px">&nbsp
        <span>Aju AFI Ke TAM</span>
    </button>

    <!--<button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button" ng-click="tambahAFi()" style="float: right; margin: -30px 0 0 7px">&nbsp<span>Tambah Aju AFI</span></button>-->
    <bsform-grid ng-form="MaintainAfiForm" factory-name="MaintainAfiFactory" model="mMaintainAfi" model-id="MaintainAfiId" get-data="getData"
        selected-rows="selectedRows" on-select-rows="onSelectRows" grid-hide-action-column="true" hide-new-button="true" loading="loading"
        show-advsearch="on" form-name="MaintainAfiForm" form-title="Aju AFI" modal-title="MaintainAfi" icon="fa fa-fw fa-child">

        <bsform-advsearch>
            <div class="row" style="margin: 0 0 0 0">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Status</label>
                        <bsselect name="filterSales" ng-model="filter.StatusAFIId" data="statusafi" item-text="StatusName" item-value="StatusAFIId"
                            placeholder="Select">
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="from-group">
                        <label>No Rangka</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" alpha-numeric class="form-control" name="model" placeholder="Nomor Rangka" ng-model="filter.FrameNo" maxlength="20">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="from-group">
                        <label>No SO</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" alpha-numeric mask="SIUP" class="form-control" name="model" placeholder="Nomor SO" ng-model="filter.SONo" maxlength="20">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 0 0 0 0">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nama Pelanggan</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" mask="Name" class="form-control" name="model" placeholder="Nama Pelanggan" ng-model="filter.CustomerName" maxlength="76">
                        </div>
                    </div>
                </div>
            </div>
        </bsform-advsearch>

    </bsform-grid>

</div>

<div ng-show="formAfi" class="row" style="margin: 0 0 0 0">
    <!-- <button ng-click="testdebug()">test Debug</button> -->
    <bsbreadcrumb-custom action-label="breadcrums.title" tab="tab"></bsbreadcrumb-custom>
    <!-- <div class="row"> -->
    <div class="row" style="margin: -45px 10px 10px 0 ;">
        <!--<a class="btn rbtn ng-binding ladda-button">
                        Simpan</a>-->
        <bs-print ng-if="viewAfi.TombolCetak == true" cetakan-url="{{urlCetakan}}">
            <bsbutton-print>
                <button class="rbtn btn" style="float:right">
                    <i class="fa fa-print" aria-hidden="true"></i>&nbsp&nbspCetak PPFA
                </button>
            </bsbutton-print>
        </bs-print>
        <!-- <button ng-show="actionAfi == 'lihatAfi'" class="rbtn btn ng-binding ladda-button" style="float: right;">&nbsp<span>Cetak PPFA</span></button> -->
        <button ng-if="actionAfi != 'lihatAfi'" ng-disabled="disabledTambahAjuAfi||validasiafi.$invalid || validasiKomen.$invalid || (mMaintainAfi.CustomerTypeId > 3 && mMaintainAfi.SIUPNo=='') || (mMaintainAfi.CustomerTypeId > 3 && mMaintainAfi.SIUPNo==null) || (mMaintainAfi.CustomerTypeId > 3 && mMaintainAfi.SIUPNo==undefined)" ng-click="tambahAjuAfi()" class="rbtn btn" style="float:right">&nbsp
            <span>Simpan</span>
        </button>
        <button id="saveBtn" ng-click="cancle()" class="wbtn btn ng-binding ladda-button" style="float:right">Kembali</button>
    </div>
    <!-- </div> -->

    <fieldset ng-disabled="true">
        <div class="row" style="margin: 0 0 0 0">
            <br>
            <!-- Baris 1 -->
            <p>
                <div class="row" style="margin-left: 0; margin-right: 0">
                    <!-- Kiri -->
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>NO SPK</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="mMaintainAfi.FormSPKNo" class="form-control" style="float: left;">
                    </div>

                    <!-- Kanan -->
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Nomor Billing</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="mMaintainAfi.BillingCode" class="form-control " style="float: left; ">
                    </div>
                </div>
            </p>
            <!-- Baris 2 -->
            <p>
                <div class="row" style="margin-left: 0; margin-right: 0">
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Nomor SO</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="mMaintainAfi.SoCode" class="form-control " style="float: left; ">
                    </div>

                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Tanggal Billing</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <bsdatepicker name="tanggal" ng-model="mMaintainAfi.BillingDate" date-options="dateOptions" icon="fa fa-calendar">
                        </bsdatepicker>
                    </div>
                </div>
            </p>
            <!-- Baris 3 -->
            <p>
                <div class="row" style="margin-left: 0; margin-right: 0">
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Nama Pelanggan</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text " ng-model="mMaintainAfi.NamaPelanggan" class="form-control " style="float: left; ">
                    </div>

                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Nomor Rangka</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text " ng-model="mMaintainAfi.FrameNo" class="form-control " style="float: left; ">
                    </div>
                </div>
            </p>
            <!-- Baris 4 -->
            <p>
                <div class="row" style="margin-left: 0; margin-right: 0">
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Alamat</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text " ng-model="mMaintainAfi.AlamatPelanggan" class="form-control " style="float: left; ">
                    </div>

                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Nomor Mesin</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="mMaintainAfi.EngineNo" class="form-control" style="float: left;">
                    </div>
                </div>
            </p>
            <!-- Baris 5 -->
            <p>
                <div class="row" style="margin-left: 0; margin-right: 0">
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Model</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="mMaintainAfi.VehicleModelName" class="form-control" style="float: left">
                    </div>

                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Tahun Kendaraan</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="mMaintainAfi.AssemblyYear" class="form-control" style="float: left; ">
                    </div>
                </div>
            </p>
            <!-- Baris 6 -->
            <p>
                <div class="row" style="margin-left: 0; margin-right: 0">
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Tipe</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="mMaintainAfi.Description" class="form-control " style="float: left; ">
                    </div>

                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>CBU/CKD</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text " ng-model="mMaintainAfi.AssemblyType" class="form-control " style="float: left; ">
                    </div>
                </div>
            </p>
            <!-- Baris 7 -->
            <p>
                <div class="row" style="margin-left: 0; margin-right: 0">
                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>Warna</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text " ng-model="mMaintainAfi.ColorName" class="form-control " style="float: left; ">
                    </div>

                    <div class="col-md-2" style="padding-top: 8px">
                        <div class="row">
                            <div class="col-md-9 noppading">
                                <label>On/Off the Road</label>
                            </div>
                            <div class="col-md-3">
                                :
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text " ng-model="mMaintainAfi.OnOffTheRoadName" class="form-control " style="float: left; ">
                    </div>
                </div>
            </p>

        </div>
    </fieldset>

    <!-- Navigation Tab -->
    <ul class="nav nav-tabchild" style="margin-top:10px; background:linear-gradient(transparent 60%, rgba(0,0,0,0.03))">
        <li class="active">
            <a style="padding: 9px 7px 10px 7px" data-toggle="tab" href="#" onclick="navigateTab('tabContainerAfi','infoPemilikAfi');">
                <i class="fa fa-user"></i>&nbsp Info Pemilik</a>
        </li>
        <li>
            <a style="padding: 9px 7px 10px 7px" data-toggle="tab" href="#" onclick="navigateTab('tabContainerAfi','dokumenAfi');"
                ng-click="loadImage()">
                <i class="fa fa-folder-open"></i>&nbsp Dokumen</a>
        </li>
    </ul>

    <div id="tabContainerAfi" class="tab-content">
        <div id="infoPemilikAfi" class="tab-pane fade in active" style="padding:10px 0 0 0;margin-left: 15px;margin-right: 10px;">
            <!-- <div id="infoPerusahaan" class="row" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin: 10px 0 0 0"> -->
            <!-- <p style="width:120px; margin-top:-20px; margin-left:14px; background:white;"><b>Informasi Pemilik</b></p> -->
            <div id="customerDetail" style="margin: 0 0 0 0">

                <fieldset ng-disabled="actionAfi == 'lihatAfi' || actionAfi == 'batalAfi'">
                    <form name="validasiafi">
                        <!-- Baris 1 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>Nama</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-user" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REV.A'" ng-keypress="allowPatternName($event,2,mMaintainAfi.NamaPemilik)" mask="Name" maxlength="76" name="pemilikafi" ng-model="mMaintainAfi.NamaPemilik"
                                                class="form-control" ng-class="{invalidBox : (validasiafi.pemilikafi.$touched == true) && (validasiafi.pemilikafi.$invalid == true)}"
                                                style="float: left;" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.pemilikafi.$touched && validasiafi.pemilikafi.$invalid) || (validasiafi.pemilikafi.$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                        </p>
                        <!-- Baris 2 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>No Handphone</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-mobile" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REV.A' 
                                                                        || CodeRevisiAfi == 'REV.B'
                                                                        || CodeRevisiAfi == 'REV.C' 
                                                                        || CodeRevisiAfi == 'REV.D' 
                                                                        || CodeRevisiAfi == 'REV.E' 
                                                                        || CodeRevisiAfi == 'REV.F'" maxlength="15" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                name="nohpafi" ng-model="mMaintainAfi.HpNumber" class="form-control" ng-class="{invalidBox : (validasiafi.nohpafi.$touched == true) && (validasiafi.nohpafi.$invalid == true)}"
                                                style="float: left" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-envelope" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB' || CodeRevisiAfi == 'REVC'|| CodeRevisiAfi == 'REVD'|| CodeRevisiAfi == 'REVE'|| CodeRevisiAfi == 'REVF'"
                                                maxlength="50" ng-model="mMaintainAfi.Email" class="form-control" style="float: left;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.nohpafi.$touched && validasiafi.nohpafi.$invalid) || (validasiafi.nohpafi.$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                                <!-- <div class="col-md-2">
                                            </div>
                                            <div class="col-md-4">
                                                <i style="color: rgb(185, 74, 72)" ng-show="validasiafi.pemilikafi.$touched && validasiafi.pemilikafi.$invalid" aria-live="assertive">This field is required.</i>
                                            </div> -->
                            </div>
                        </p>
                        <!-- Baris 3 -->
                        <p ng-if="mMaintainAfi.CustomerTypeId == 3" >
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>No Telpon</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-phone" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'|| CodeRevisiAfi == 'REV.C'|| CodeRevisiAfi == 'REV.D' || CodeRevisiAfi == 'REV.E' || CodeRevisiAfi == 'REV.F'"
                                                maxlength="15" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                ng-model="mMaintainAfi.PhoneNumber" class="form-control" style="float: left">
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="mMaintainAfi.CustomerTypeId == 3" class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>KTP/KITAS/SIUP</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="mMaintainAfi.CustomerTypeId == 3" class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-address-card" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'|| CodeRevisiAfi == 'REV.C'" maxlength="50"
                                                name="ktpafi" ng-keypress="allowPatternName($event,1,mMaintainAfi.KTPNo)"
                                                ng-model="mMaintainAfi.KTPNo" class="form-control" ng-class="{invalidBox : (validasiafi.ktpafi.$touched == true) && (validasiafi.ktpafi.$invalid == true)}"
                                                style="float: left;" required>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="mMaintainAfi.CustomerTypeId > 3" class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>KTP/KITAS/SIUP</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="mMaintainAfi.CustomerTypeId > 3" class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-address-card" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'|| CodeRevisiAfi == 'REV.C'" maxlength="50"
                                                alpha-numeric mask="SIUP" name="tdpsiup"
                                                ng-model="mMaintainAfi.SIUPNo" class="form-control" style="float: left;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <!-- <i style="color: rgb(185, 74, 72)" ng-show="validasiafi.nohpafi.$touched && validasiafi.nohpafi.$invalid" aria-live="assertive">This field is required.</i> -->
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div ng-if="mMaintainAfi.CustomerTypeId == 3" class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.ktpafi.$touched && validasiafi.ktpafi.$invalid) || (validasiafi.ktpafi.$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                                <!-- <div ng-if="mMaintainAfi.CustomerTypeId > 3" class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="validasiafi.tdpsiup.$touched && validasiafi.tdpsiup.$invalid" aria-live="assertive">This field is required.</i>
                                </div> -->
                            </div>
                        </p>
                        
                        
                        <!-- Baris 4 -->
                        <p ng-if="mMaintainAfi.CustomerTypeId > 3"> 
                            <div ng-if="mMaintainAfi.CustomerTypeId > 3" class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>NPWP</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'|| CodeRevisiAfi == 'REV.C'" name="npwpafi"
                                                maxlength="20" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                ng-model="mMaintainAfi.NPWPNo" ng-class="{invalidBox : (validasiafi.npwpafi.$touched == true) && (validasiafi.npwpafi.$invalid == true)}"
                                                class="form-control" style="float: left">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>TDP</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-address-card" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'|| CodeRevisiAfi == 'REV.C'" maxlength="20"
                                                onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="tdpsiup"
                                                ng-model="mMaintainAfi.TDPNo" class="form-control" style="float: left;">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.npwpafi.$touched && validasiafi.npwpafi.$invalid) || (validasiafi.npwpafi.$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>

                                </div>

                            </div>
                        </p>

                        <!--  -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>Pekerjaan</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <input alpha-numeric mask="Pekerjaan" type="text" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.C'|| CodeRevisiAfi == 'REV.D' || CodeRevisiAfi == 'REV.E' || CodeRevisiAfi == 'REV.F'"
                                            maxlength="32" name="job" ng-model="mMaintainAfi.Job"
                                                class="form-control" ng-class="{invalidBox : (validasiafi.job.$touched == true) && (validasiafi.job.$invalid == true)}"
                                                style="float: left;" required>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="mMaintainAfi.CustomerTypeId == 3" class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>NPWP</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="mMaintainAfi.CustomerTypeId == 3" class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'|| CodeRevisiAfi == 'REV.C'" name="npwpafi"
                                                maxlength="20" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                ng-model="mMaintainAfi.NPWPNo" ng-class="{invalidBox : (validasiafi.npwpafi.$touched == true) && (validasiafi.npwpafi.$invalid == true)}"
                                                class="form-control" style="float: left">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.pemilikafi.$touched && validasiafi.pemilikafi.$invalid) || (validasiafi.pemilikafi.$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                        </p>
                        <!-- Baris 5 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>Alamat 1</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-home" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'" maxlength="50" name="alamat1afi" ng-model="mMaintainAfi.AlamatPemilik"
                                                class="form-control" ng-class="{invalidBox : (validasiafi.alamat1afi.$touched == true) && (validasiafi.alamat1afi.$invalid == true)}"
                                                style="float: left;" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.alamat1afi.$touched && validasiafi.alamat1afi.$invalid) || (validasiafi.alamat1afi.$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                        </p>
                        <!-- Baris 6 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>Alamat 2</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-home" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'" maxlength="50" name="alamat2afi" ng-model="mMaintainAfi.DistrictName"
                                                class="form-control" ng-class="{invalidBox : (validasiafi.alamat2afi.$touched == true) && (validasiafi.alamat2afi.$invalid == true)}"
                                                style="float: left;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.alamat2afi.$touched && validasiafi.alamat2afi.$invalid) || (validasiafi.alamat2afi.$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                        </p>
                        <!-- Baris 7 -->
                        
                        <!-- Baris 8 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>Provinsi</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsselect name="provinsiafi" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'" placeholder="Provinsi" ng-model="mMaintainAfi.ProvinceId"
                                        data="province" item-text="ProvinceName" item-value="ProvinceId" on-select="filterKabupaten(mMaintainAfi.ProvinceId)"
                                        icon="fa fa-map-marker" required>
                                    </bsselect>
                                </div>

                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>RT</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'|| CodeRevisiAfi == 'REV.E' || CodeRevisiAfi == 'REV.F'"
                                        maxlength="3" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                        ng-model="mMaintainAfi.RT" class="form-control" style="float: left">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.rt.$touched && validasiafi.rt.$invalid) || (validasiafi.rt.$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                        </p>
                        <!-- Baris 9 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left" style="padding-right: 0px">
                                            <bsreqlabel>Kota/Kabupaten</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsselect name="kabkotaafi" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'" placeholder="Kabupaten/Kota"
                                        ng-disabled="mMaintainAfi.ProvinceId == null || mMaintainAfi.ProvinceId == undefined"
                                        on-select="filterKecamatan(mMaintainAfi.CityRegencyId)" ng-model="mMaintainAfi.CityRegencyId"
                                        data="kabupaten" item-text="CityRegencyName" item-value="CityRegencyId" required icon="fa fa-map-marker ">
                                    </bsselect>
                                </div>

                                   
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>RW</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                        <input type="text" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'|| CodeRevisiAfi == 'REV.E' || CodeRevisiAfi == 'REV.F'"
                                        maxlength="3" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                        ng-model="mMaintainAfi.RW" class="form-control" style="float: left">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.rw.$touched && validasiafi.rw.$invalid) || (validasiafi.rw.$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                        </p>


                         <!-- Baris 10 -->
                         <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left" style="padding-right: 0px">
                                            <bsreqlabel>Kecamatan</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsselect name="kecamatanafi" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'" placeholder="Kecamatan"
                                        ng-model="mMaintainAfi.DistrictId" data="kecamatan" item-text="DistrictName" item-value="DistrictId" on-select="filterKelurahan(mMaintainAfi.DistrictId)"
                                         icon="fa fa-map-marker " required>
                                    </bsselect>
                                </div>

                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>Kode Pos</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsselect name="kodeposafi" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'" placeholder="Kode Pos" ng-model="mMaintainAfi.AFIRegionId"
                                        data="regioncode" item-text="xPostalCode" item-value="AFIRegionId"
                                        required>
                                    </bsselect>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.provinsiafi.$touched && validasiafi.provinsiafi.$invalid) || (validasiafi.provinsiafi.$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.regioncodeafi.$touched && validasiafi.regioncodeafi.$invalid) || (validasiafi.regioncodeafi.$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                        </p> 
                            <!-- Baris 10 -->
                            <p>
                                <div class="row">
                                    <div class="col-md-2" style="padding-top: 8px">
                                        <div class="row">
                                            <div class="col-md-9 noppading-left" style="padding-right: 0px">
                                                <bsreqlabel>Kelurahan</bsreqlabel>
                                            </div>
                                            <div class="col-md-3">
                                                :
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                            <bsselect name="kelurahanfi" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'" placeholder="Kelurahan"
                                                ng-model="mMaintainAfi.VillageId" data="kelurahan" item-text="VillageName" item-value="VillageId" on-select="filterVillage(mMaintainAfi.VillageId)"
                                                 icon="fa fa-map-marker " required>
                                            </bsselect>
                                    </div>
    
                                    <div class="col-md-2" style="padding-top: 8px">
                                        <div class="row">
                                            <div class="col-md-9 noppading-left">
                                                <bsreqlabel>Region Code AFI</bsreqlabel>
                                            </div>
                                            <div class="col-md-3">
                                                :
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <bsselect name="regioncodeafi" ng-disabled="CodeRevisiAfi == 'REVA' || CodeRevisiAfi == 'REVB'|| CodeRevisiAfi == 'REVD' || CodeRevisiAfi == 'REVE'|| CodeRevisiAfi == 'REVF'"
                                            placeholder="Region Code" ng-model="mMaintainAfi.AFIRegionId" data="regioncode" item-text="AFIRegionCode,Name,Kota"
                                            item-value="AFIRegionId" required icon="fa fa-map-marker">
                                        </bsselect>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-4">
                                        <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.kabkotaafi.$touched && validasiafi.kabkotaafi.$invalid) || (validasiafi.kabkotaafi.$untouched && isValidate == true)"
                                            aria-live="assertive">This field is required.</i>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-4">
                                        <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.regioncodeafi.$touched && validasiafi.regioncodeafi.$invalid) || (validasiafi.regioncodeafi.$untouched && isValidate == true)"
                                            aria-live="assertive">This field is required.</i>
                                    </div>
                                </div>
                            </p>
                        <!-- Baris 10 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left" style="padding-right: 0px">
                                            <bsreqlabel>Jenis</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsselect name="cartypeafi" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'|| CodeRevisiAfi == 'REV.C'|| CodeRevisiAfi == 'REV.D' || CodeRevisiAfi == 'REV.E'"
                                        placeholder="Jenis" ng-model="mMaintainAfi.AFICarTypeCode" data="cartype" item-text="Jenis,Model,AFICarTypeCode"
                                        item-value="AFICarTypeCode" required icon="fa fa-car ">
                                    </bsselect>
                                </div>

                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <bsreqlabel>Model</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsselect name="cartypeafi" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'|| CodeRevisiAfi == 'REV.C'|| CodeRevisiAfi == 'REV.D' || CodeRevisiAfi == 'REV.E'"
                                        placeholder="Model" ng-model="mMaintainAfi.AFICarTypeCode" data="cartype" item-text="Model,Jenis,AFICarTypeCode"
                                        item-value="AFICarTypeCode" placeholder="" required icon="fa fa-car">
                                    </bsselect>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.cartypeafi.$touched && validasiafi.cartypeafi.$invalid) || (validasiafi.cartypeafi.$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.cartypeafi.$touched && validasiafi.cartypeafi.$invalid) || (validasiafi.cartypeafi.$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                            </div>
                        </p>
                        <!-- Baris 11 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left" style="padding-right: 0px">
                                            <bsreqlabel>Tanggal Efektif Faktur</bsreqlabel>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <bsdatepicker name="tanggal" name="efectiveDateAfi" ng-disabled="kecuali" ng-model="mMaintainAfi.InvoiceStartEffectiveDate"
                                        date-options="dateOptionsfaktur" icon="fa fa-calendar" required="true">
                                    </bsdatepicker>
                                </div>

                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>Warna Custom</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa-mobile" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'|| CodeRevisiAfi == 'REV.C'|| CodeRevisiAfi == 'REV.D'"
                                                maxlength="50" placeholder="Diisi jika ada perubahan warna unit pada AFI" ng-model="mMaintainAfi.CustomColorName" class="form-control" ng-class="{invalidBox : (validasiafi.nohpafi.$touched == true) && (validasiafi.nohpafi.$invalid == true)}"
                                                style="float: left">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i style="color: rgb(185, 74, 72)" aria-live="assertive">Mohon diisi menggunakan bahasa Indonesia</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i style="color: rgb(185, 74, 72)" ng-show="(validasiafi.efectiveDateAfi.$touched && validasiafi.efectiveDateAfi.$invalid) || (validasiafi.efectiveDateAfi.$untouched && isValidate == true)"
                                        aria-live="assertive">This field is required.</i>
                                </div>
                                <!-- <div class="col-md-2">
                                            </div>
                                            <div class="col-md-4">
                                                <i style="color: rgb(185, 74, 72)" ng-show="validasiafi.cartypeafi.$touched && validasiafi.cartypeafi.$invalid" aria-live="assertive">This field is required.</i>
                                            </div> -->
                            </div>
                        </p>
                        <!-- Baris 12 -->
                        <p>
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left" style="padding-right: 0px">
                                            <label>Permintaan Plat Nomor Khusus</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa fa" style="top:8px"></i>
                                            <input type="text" ng-disabled="CodeRevisiAfi == 'REV.A' || CodeRevisiAfi == 'REV.B'|| CodeRevisiAfi == 'REV.C'|| CodeRevisiAfi == 'REV.D' || CodeRevisiAfi == 'REV.E' || CodeRevisiAfi == 'REV.F'"
                                                maxlength="10" ng-model="mMaintainAfi.SpecialReqNumberPlate" class="form-control"
                                                ng-class="{invalidBox : (validasiafi.nohpafi.$touched == true) && (validasiafi.nohpafi.$invalid == true)}"
                                                style="float: left">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2" style="padding-top: 8px">
                                    <div class="row">
                                        <div class="col-md-9 noppading-left">
                                            <label>Status AFI</label>
                                        </div>
                                        <div class="col-md-3">
                                            :
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-input">
                                        <div class="input-icon-right">
                                            <i class="fa" style="top:8px"></i>
                                            <input type="text" maxlength="50" ng-disabled="true" ng-model="mMaintainAfi.StatusName" class="form-control" style="float: left">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <!-- <i style="color: rgb(185, 74, 72)" ng-show="validasiafi.efectiveDateAfi.$touched && validasiafi.efectiveDateAfi.$invalid" aria-live="assertive">This field is required.</i> -->
                                </div>
                                <!-- <div class="col-md-2">
                                                </div>
                                                <div class="col-md-4">
                                                    <i style="color: rgb(185, 74, 72)" ng-show="validasiafi.cartypeafi.$touched && validasiafi.cartypeafi.$invalid" aria-live="assertive">This field is required.</i>
                                                </div> -->
                            </div>
                        </p>
                    </form>
                </fieldset>

            </div>

            <form name="validasiKomen">
                <p>
                    <div class="row" ng-if="actionAfi == 'lihatAfi' || actionAfi == 'revisiAfi' || actionAfi == 'batalAfi'">
                        <div class="col-md-2" style="padding-top: 8px">
                            <div class="row">
                                <div class="col-md-9 noppading-left">
                                    <bsreqlabel>Alasan Revisi / Batal AFI</bsreqlabel>
                                </div>
                                <div class="col-md-3">
                                    :
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <textarea rows="5 " maxlength="200" name="AFIRevisionCancelReason" ng-disabled="actionAfi == 'lihatAfi'" class="form-control" ng-model="mMaintainAfi.AFIRevisionCancelReason"
                                placeholder="Alasan" required>
                            </textarea>
                        </div>
                    </div>
                </p>

                <p>
                    <div class="row" ng-if="actionAfi == 'lihatAfi'">
                        <div class="col-md-2" style="padding-top: 8px">
                            <div class="row">
                                <div class="col-md-9 noppading-left">
                                    <bsreqlabel>Alasan Reject dari ADH/CAO</bsreqlabel>
                                </div>
                                <div class="col-md-3">
                                    :
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <textarea rows="5 " maxlength="200" name="ADHCAORejectReason" ng-disabled="actionAfi == 'lihatAfi'" class="form-control" ng-model="mMaintainAfi.ADHCAORejectReason"
                                placeholder="Alasan" required>
                            </textarea>
                        </div>
                    </div>
                </p>
            </form>
            <!-- </div> -->
        </div>

        <div id="dokumenAfi" class="tab-pane fade" style="padding:10px 0 0 0">
            <div class="row" style="margin: 0 0 0 0; min-height: 400px;padding-top: 15px;">
                <div class="row" style="margin: 0 0 0 0" ng-repeat="listTempDoc in mMaintainAfi.listDokumen">
                    <!-- <p> -->
                    <div class="row" style="margin: 0 0 0 0">
                        <!-- <p> -->
                        <div class="row" style="margin: 0 0 10px 0;padding-left: 10px;">
                            <!-- <div -->
                            <div class="col-md-1" ng-hide="actionAfi == 'lihatAfi' || actionAfi == 'batalAfi'" ng-click="removeExtension($index)" style="color:red;padding-top: 10px ; float: left; width: 20px !important">
                                <i class="fa fa-lg fa-times " aria-hidden="true " style="float:right "></i>
                            </div>
                            <div class="col-md-4" style="margin-top: 8px">
                                <div style="float: left">
                                    <label>
                                        <a>
                                            <u ng-click="viewDocumentAFI(listTempDoc)">{{listTempDoc.DocumentType}}</u>
                                        </a>
                                    </label>
                                </div>
                                <div style="float: right">:&nbsp&nbsp</div>
                            </div>
                            <div class="col-md-6" style="padding-right: 0px !important"> 
                                <div class="input-icon-right">
                                    <input type="text" ng-disabled="true" class="form-control" ng-model="listTempDoc.UploadDokumenCustomer.FileName" ng-change="cekStatusUpload(listTempDoc, listTempDoc.UploadDokumenCustomer.FileName)"
                                        name="fieldNoSpkEnd" placeholder="" ng-maxlength="50" required style="padding-right:0px !important">
                                    <!-- <input type="text" style="display: none" ng-model="listTempDoc.DocumentDataName = listTempDoc.UploadDokumenCustomer.FileName"> -->
                                </div>
                            </div>
                            <div ng-hide="actionAfi == 'lihatAfi' || actionAfi == 'batalAfi'" class="col-md-1" style="padding-right: 0px;padding-left: 0px !important;">
                                <label class="rbtn btn ng-binding ladda-button" style="float: right;width: 100% !important">
                                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                                    <input type="file" loading="loadingImgAFI" id="uploadAFI{{$index}}" accepted="acceptvalue" accept="acceptvalue" formattype="['jpg','png','img']" bs-uploadsingle="onFileSelect($files)"
                                        img-upload="listTempDoc.UploadDokumenCustomer" style="display:none">
                                </label>
                            </div>
                        </div>
                        <!-- </p> -->
                    </div>

                    <!-- </p> -->
                </div>

                <p>
                    <div class="row" ng-hide="actionAfi == 'lihatAfi' || actionAfi == 'batalAfi'" style="margin: 0 0 0 0">
                        <div class="col-md-11" style="border-bottom: 1px solid #ccc; min-height: 20px">
                        </div>
                        <div class="col-md-1">
                            <div class="row" style="margin-left: 15px; margin-right: 14px; margin-top: 10px">
                                <div style="float: right;color: #d53337" ng-click="openDokumenlist()">
                                    <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 1.5em;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>

</div>

<div class="ui modal dokumentListAFI" style="background-color: transparent ;box-shadow :none !important">
    <div style="margin: auto; width: 600px">
        <div class="row" style="margin: 0 0 0 0; background-color: white; border-radius:3px; box-shadow :1px 3px 3px 0 rgba(0,0,0,.2), 1px 3px 15px 2px rgba(0,0,0,.2) !important">
            <button class="btn btn-default" type="button" id="dropdownBtnListDataRadio" style="width: 100%; ; text-align:left; background-color:#888b91; color:white;"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dokumen
            </button>

            <div class="list-group ScrollStyle" id="dropdownContentListDataRadio" aria-labelledby="dropdownMenu1" style="margin-bottom: 10px !important">
                <div class="list-group-item" ng-repeat="item in dokumentlist" style="padding:10px 0px 10px 10px; background-color:#e8eaed;"
                    ng-click="toggleCheckedAfiDoc(item);">
                    <div class="row">
                        <div class="col-md-12">
                            <h7 style="float: left;">{{item.DocumentType}}</h7>
                            <span style="float:right; ">
                                <i id="itemBtnRadio1" class="fa fa-check-circle-o fa-2x fa-lg" ng-style="{'color': item.checked == true ? '#3df747':'#000000'}"
                                      aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="col-md-12" style="font-size:10px;">{{item.DocumentName}}</div>
                    </div>
                </div>
            </div>

            <div class="listData" id="addMode" style="float:right; margin-bottom: 0px !important;padding-top: 0px!important;padding-bottom: 8px!important;padding-right: 8px!important;">
                <button id="addBtn" class="rbtn btn ng-binding ladda-button" style="float: right" ng-click="ApproveData()">Pilih </button>
                <button id="addBtn" class="wbtn btn ng-binding ladda-button" style="float: right" ng-click="RejectData()">Kembali </button>
            </div>
        </div>
    </div>
</div>

<div class="ui modal loadingImgAFI" style="height:200px; background-color:transparent; box-shadow: none !important">
    <div align="center" class="list-group-item" style="border: none !important;padding:10px 0px 10px 0px; background-color:transparent;">
        <font color="white"><i class="fa fa-spinner fa-spin fa-3x fa-lg"></i></br>
            <b> Upload Image.... </b> </font>
    </div>
</div>

<div class="ui modal revisionAFI" style="background-color: transparent ;box-shadow :none !important">
    <div style="margin: auto; width: 600px">
        <div class="row" style="margin: 0 0 0 0; background-color: white; border-radius:3px; box-shadow :1px 3px 3px 0 rgba(0,0,0,.2), 1px 3px 15px 2px rgba(0,0,0,.2) !important">
            <button class="btn btn-default" type="button" id="dropdownBtnListDataRadio" style="width: 100%; ; text-align:left; background-color:#888b91; color:white;"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kategori Revisi
            </button>

            <div class="list-group ScrollStyle" id="dropdownContentListDataRadio" aria-labelledby="dropdownMenu1" style="margin-bottom: 10px !important">
                <div class="list-group-item" ng-repeat="item in afirevision" style="padding:10px 0px 10px 10px; background-color:#e8eaed;"
                    ng-click="toggleAFICatChecked(item);">
                    <div class="row">
                        <div class="col-md-12">
                            <h7 style="float: left;">{{item.RevisionAFICode}}</h7>
                            <span style="float:right; ">
                                <i id="itemBtnRadio1" class="fa fa-check-circle-o fa-2x fa-lg" ng-style="{'color': ((item.RevisionAFICode == CategoryAfi[0].RevisionAFICode) && (item.RevisionAFIId == CategoryAfi[0].RevisionAFIId) ) ? '#3df747':'#000000'}"
                                      aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="col-md-12" style="font-size:10px;">{{item.RevisionAFIName}}</div>
                    </div>
                </div>
            </div>

            <div class="listData" id="addMode" style="float:right; margin-bottom: 0px !important;padding-top: 0px!important;padding-bottom: 8px!important;padding-right: 8px!important;">
                <button id="addBtn" class="rbtn btn ng-binding ladda-button" style="float: right" ng-click="PilihKategori()">Pilih </button>
                <button id="addBtn" class="wbtn btn ng-binding ladda-button" style="float: right" ng-click="BatalKategori()">Kembali </button>
            </div>
        </div>
    </div>
</div>

<div class="ui modal dokumenAfiLihat">
    <div>
        <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
            <h4>
                <b>{{dokumenName}}</b>
            </h4>
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        </div>
        <div class="modal-body">
            <!--<img ng-src="{{viewdocument}}" image-set-aspect ng-class="{'wide': viewdocument.width/viewdocument.height > 1, 'tall': viewdocument.width/viewdocument.height <= 1}">-->
            <p align="center">
                <img ng-src="{{dokumenData}}" style="max-width: 860px; max-height: 526px; text-align: center;">
            </p>
        </div>
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <div class="row" style="margin:  0 0 0 0">
                <!-- <button ng-click="btnkehilanganSpk()" class="rbtn btn ng-binding ladda-button" style="float:right; width:15%;">Simpan</button> -->
                <button ng-click="KeluarDokumenAfi()" class="wbtn btn ng-binding ladda-button" style="float:right;">Keluar</button>
            </div>
        </div>
    </div>
</div>