<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- IF NOT USING FORMLY -->

  <div class="row" ng-hide="showme">
    <div class="col-md-12">
      <div class="col-md-12" style="margin-top: 10px;">
        <div class="col-md-5">
            <div class="col-md-4" style="margin-top: 10px;">
              <bsreqlabel>Tanggal WO</bsreqlabel>
            </div>
            <div class="col-md-8">
              <bsdatepicker
                  name="Tanggal1"
                  date-options="DateOptions"
                  ng-model="filterData.StartDate">
              </bsdatepicker>
            </div>
        </div>
        <div class="col-md-5">
            <div class="col-md-4" style="margin-top: 10px;">
              <bsreqlabel>s/d</bsreqlabel>
            </div>
            <div class="col-md-8" >
              <bsdatepicker
                  name="Tanggal2"
                  date-options="DateOptions"
                  ng-model="filterData.StopDate">
              </bsdatepicker>
            </div>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 10px;">
        <div class="col-md-5">
          <div class="col-md-4" style="margin-top: 10px;">
            <bsreqlabel>Status</bsreqlabel>
          </div>
          <div class="col-md-8">
              <bsselect name="Status"
                      ng-model="filterData.Status"
                      data="Status"
                      item-text="Statustext"
                      item-value="StatusId"
                      placeholder="Status">
              </bsselect>
          </div>
        </div>
        <div class="col-md-5">
          <div class="col-md-4" style="margin-top: 10px;">
            <label>Nomor WO</label>
          </div>
          <div class="col-md-8">
            <input type="text"  class="form-control" ng-model="filterData.KodeWO" name="Search" placeholder="Nomor WO">
          </div>
        </div>
        <div class="col-md-2">
          <div class="col-md-3" style="margin-bottom: 10px;">
            <button ng-click="getData(filterData)" class="wbtn btn" style="background-color:#fff;">
                  <i class="large icons">
                    <i class="database icon">
                    </i>
                    <i class="inverted corner filter icon">
                    </i>
                  </i>
                  Search
            </button>
          </div>
        </div>
      </div>

<!-- ng-repeat="xData in Data" -->
      <div class="col-md-12" style="border:1px solid #ccc; border-radius: 3px;margin-bottom: 10px;padding-left: 0px;padding-right: 0px;" ng-repeat="x in xData">
        <div class="col-md-12">
          <div class="col-md-4">
            <h1>{{x.JobTask.Job.WoNo}}</h1>
          </div>
          <div class="col-md-4">
            <!-- <h1>{{x.JobTask.Job.TimeStart}}</h1> -->
            <h1>{{x.ProblemFoundedDate |date:'dd/MM/yyyy'}}</h1>
          </div>
          <div class="col-md-4">
            <h1 style="text-align: right;">{{x.JobTask.Job.PoliceNumber}}</h1>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">
            <label>Mulai : {{x.TimeStart}}</label>
          </div>
          <!-- <div class="col-md-3" style="text-align: right;">
            <label>Janji Penyerahan : {{x.ProblemFoundedDate |date:dd/mm/yyyy}}</label>
          </div> -->
          <div class="col-md-3" style="text-align: right;" ng-show="x.JobTask.Job.FixedDeliveryTime2 == null">
            Janji Penyerahan : {{x.JobTask.Job.FixedDeliveryTime1 |date:'dd/MM/yyyy'}}
          </div>
          <div class="col-md-3" style="text-align: right;" ng-show="x.JobTask.Job.FixedDeliveryTime2 !== null">
            Janji Penyerahan  : {{x.JobTask.Job.FixedDeliveryTime2 |date:'dd/MM/yyyy'}}
          </div>
          <div class="col-md-3" style="text-align: right;">
            <label>SA : {{x.JobTask.Job.UserSa.EmployeeName}}</label>
          </div>
          <div class="col-md-3" style="text-align: right;" ng-if = "x.IsSolvedProblem == 1">
            <label>Status : Solved</label>
          </div>
          <div class="col-md-3" style="text-align: right;" ng-if = "x.IsSolvedProblem == 0">
            <label>Status : Unsolved</label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-12">
            <label>Selesai : {{x.DateFinish | date:'HH:mm:ss'}}</label>
          </div>
        </div>
        <div class="col-md-12" style="margin-bottom: 10px;">
          <div class="col-md-12" style="text-align: right;">
            <button class="wbtn btn" ng-click="ClickWO(1, x.JobTask.JobId)">WO Detail</button>
            <button class="wbtn btn" ng-click="getDataProblemList(x.Id,x.JobTask,x.JobTask.JobParts, x.ResponseDesc,x.TroubleDesc, x, x.JobTask.JobId)">Respond Problem</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ui-grid-nodata ng-scope" ng-if="xData.length == 0" style="margin-top: 130px" >No data available</div>
      </div>

    <!--   <pre >{{mData}}</pre>  -->
    </div>
  </div>

<form name="repairSupportActivityForm" ng-submit="submitForm(repairSupportActivityForm.$valid)" novalidate>
  <div class="row" ng-show="showme2" ng-form="filterBy">
    <div class="col-md-12">


      <div class="col-md-12" style="text-align: right;margin-bottom:10px;">
        <button  class="wbtn btn"  type="submit" ng-click="close()" style="background-color: #fff">Batal</button>
        <button  class="rbtn btn"  type="submit" ng-hide="statusFilter == 1" ng-disabled = "repairSupportActivityForm.$invalid" ng-click="simpanRSA(mData)">Simpan</button>
      </div>
      <div class="col-md-6">
        <!-- <div class="col-md-12"  style="border:1px solid #ccc;"  ng-repeat = "x in xData  | filter : {Id: DataProblemList}" > -->
        <div class="col-md-12"  style="border:1px solid #ccc;">

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">Nomor WO</div>
            <div class="col-md-6" style="text-align: left;">
              <label>{{chosedatafinal.JobTask.Job.WoNo}}</label>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">Nomor Polisi</div>
            <div class="col-md-6" style="text-align: left;">
              <label>{{chosedatafinal.JobTask.Job.PoliceNumber}}</label>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6"><bsreqlabel>Full Model</bsreqlabel></div>
            <div class="col-md-6" style="text-align: left;">
              <label>{{chosedatafinal.JobTask.Job.KatashikiCode}}</label>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6"><bsreqlabel>Model Kendaraan</bsreqlabel></div>
            <div class="col-md-6" style="text-align: left;">
              <label>{{chosedatafinal.JobTask.Job.ModelType}}</label>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">Nama Stall</div>
            <div class="col-md-6" style="text-align: left;">
              <label>{{chosedatafinal.JobTask.Job.Stall.Name}}</label>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">Nama Teknisi</div>
            <div class="col-md-6" style="text-align: left;">
              <label>{{NamaTeknisi}}</label>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">Foreman</div>
            <div class="col-md-6" style="text-align: left;">
              <label>{{chosedatafinal.JobTask.Job.MProfileForeman.EmployeeName}}</label>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-12">Pekerjaan</div>
            <div class="col-md-12" style="text-align: left;">
            <!-- ui-grid-selection -->
              <div ui-grid="gridJob"  ui-grid-edit ui-grid-cellNav ui-grid-auto-resize class="grid" ng-cloak ng-init="getJob()" style="height: 200px;" ng-disabled="isGridDisabled"></div>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-12">
              <label>Kategori Komponen</label>
            </div>
            <div class="col-md-12">
              <bsselect name="CatgComponent"
                      ng-model="mData.CatgComponent"
                      data="KategoriKomponen"
                      item-text="Name"
                      item-value="MasterId"
                      placeholder = "Kategori Komponen"
                      ng-disabled="statusFilter == 1">
              </bsselect>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-12">
              <bsreqlabel>Komponen</bsreqlabel>
            </div>
            <div class="col-md-12">
              <bsselect name="SubCatgComponent"
                      ng-model="mData.SubCatgComponent"
                      data="Komponen"
                      item-text="Name"
                      item-value="ComponentId"
                      placeholder = "Komponen"
                      required
                      ng-disabled="statusFilter == 1">
              </bsselect>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-12">
             <bsreqlabel>Deskripsi Masalah</bsreqlabel>
            </div>
            <div class="col-md-12">
              <TEXTAREA name="TroubleDesc" ng-model="mData.TroubleDesc" style="height: 50px;width: 100%;" ng-disabled="statusFilter == 1" maxlength=100 required></TEXTAREA>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-12">
             <bsreqlabel>Deskripsi Respon</bsreqlabel>
            </div>
            <div class="col-md-12">
              <TEXTAREA name = "DeskripsiRespon" ng-model="mData.DeskripsiRespon" style="height: 50px;width: 100%;" ng-disabled="statusFilter == 1"  maxlength=100 required></TEXTAREA>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;"  ng-class="{ 'has-error' : repairSupportActivityForm.T1.$invalid && !repairSupportActivityForm.T1.$pristine }">
            <div class="col-md-3">
              <bsreqlabel>Kode T1</bsreqlabel>
            </div>
            <div class="col-md-9">
              <bsselect name="T1"
                      ng-model="mData.T1"
                      data="T1"
                      item-text="xName"
                      item-value="T1Id"
                      placeholder = "T1"
                      required
                      ng-disabled="statusFilter == 1">
              </bsselect>
            </div>
            <div class="col-md-12" style="text-align: center;">
              <p ng-show="repairSupportActivityForm.T1.$invalid" class="help-block">Wajib diisi</p>
            </div>
            <div class="col-md-3" style="margin-top: 5px;">
              <bsreqlabel>Kondisi (T1)</bsreqlabel>
            </div>
            <div class="col-md-9" style="margin-top: 5px;">
              <textarea ng-model="mData.ConditionT1" style="width: 100%;height: 100px;" ng-disabled="statusFilter == 1" required></textarea>
            </div>
          </div>

          <div class="col-md-12" style="margin-bottom: 20px;" ng-class="{ 'has-error' : repairSupportActivityForm.T2.$invalid && !repairSupportActivityForm.T2.$pristine }">
            <div class="col-md-3">
              <bsreqlabel>Kode T2</bsreqlabel>
            </div>
            <div class="col-md-9">
              <bsselect name="T2"
                      ng-model="mData.T2"
                      data="T2"
                      item-text="xName"
                      item-value="T2Id"
                      placeholder = "T2"
                      required
                      ng-disabled="statusFilter == 1">
              </bsselect>
            </div>
            <div class="col-md-12" style="text-align: center">
              <p ng-show="repairSupportActivityForm.T2.$invalid && !repairSupportActivityForm.T2.$pristine" class="help-block">Wajib diisi</p>

              <!-- <em ng-messages="filterBy.T2.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                  <p ng-message="required">Wajib diisi</p>
                  <p ng-message="minlength">Jml. karakter kurang</p>
                  <p ng-message="maxlength">Jml. karakter terlalu banyak</p>
              </em> -->
            </div>
            <div class="col-md-3" style="margin-top: 5px;">
              <bsreqlabel>Penyebab (T2)</bsreqlabel>
            </div>
            <div class="col-md-9" style="margin-top: 5px;">
              <textarea ng-model="mData.CausedT2" ng-disabled="statusFilter == 1" style="width: 100%;height: 100px;" ng-disabled = "statusFilter == 1" required></textarea>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">Tanggal Masalah</div>
            <div class="col-md-6" style="text-align: left;">
              <label>{{chosedatafinal.ProblemFoundedDate | date:'dd/MM/yyyy'}}</label>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">
              <bsreqlabel>Market Impact Rank</bsreqlabel>            
            </div>
            <div class="col-md-6" style="text-align: left;">
              <bsselect name="MarketImpact"
                      ng-model="mData.MarketInpactRank"
                      data="MarketImpact"
                      item-text="Name"
                      item-value="MasterId"
                      placeholder = "Market Impact"
                      required
                      ng-disabled="statusFilter == 1">
              </bsselect>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">
              <bsreqlabel>Technical Rank</bsreqlabel>
            </div>
            <div class="col-md-6" style="text-align: left;">
              <bsselect name="TechnicalRank"
                      ng-model="mData.TechnicalRank"
                      data="TechnicalRank"
                      item-text="Name"
                      item-value="MasterId"
                      placeholder = "Technical Rank"
                      required
                      ng-disabled="statusFilter == 1">
              </bsselect>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">
              <bsreqlabel>Transmission Type</bsreqlabel>
            </div>
            <div class="col-md-6" style="text-align: left;">
              <bsselect name="TransmissionType"
                      ng-model="mData.TransmissionType"
                      data="TransmissionType"
                      item-text="Name"
                      item-value="MasterId"
                      placeholder = "Transmission Type"
                      required
                      ng-disabled="statusFilter == 1">
              </bsselect>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">
              <bsreqlabel>Engine Type</bsreqlabel>
            </div>
            <div class="col-md-6" style="text-align: left;">
              <bsselect name="EngineType"
                      ng-model="mData.EngineType"
                      data="EngineType"
                      item-text="Name"
                      item-value="MasterId"
                      placeholder = "EngineType"
                      required
                      ng-disabled="statusFilter == 1">
              </bsselect>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">
              <bsreqlabel>Status Failed Parts</bsreqlabel>
            </div>
            <div class="col-md-6" style="text-align: left;">
              <bsselect name="StatusFailed"
                      ng-model="mData.StatusFailedPart"
                      data="StatusFailed"
                      item-text="Name"
                      item-value="MasterId"
                      placeholder = "StatusFailed"
                      required
                      ng-disabled="statusFilter == 1">
              </bsselect>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">
              <bsreqlabel>Part delivery</bsreqlabel>
            </div>
            <div class="col-md-6" style="text-align: left;">
              <bsdatepicker
                  name="Tanggal1"
                  date-options="DateOptions"
                  ng-model="mData.PartDelivery"
                  required
                  ng-disabled="statusFilter == 1">
              </bsdatepicker>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">
              <bsreqlabel>Part delivery - available</bsreqlabel>
            </div>
            <div class="col-md-6" style="text-align: left;">
              <bsdatepicker
                  name="Tanggal1"
                  date-options="DateOptions"
                  ng-model="mData.PartDeliveryAvailable"
                  ng-disabled="statusFilter == 1"
                  required>
              </bsdatepicker>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">
              <bsreqlabel>Tanggal Komplain Pertama</bsreqlabel>
            </div>
            <div class="col-md-6" style="text-align: left;">
              <bsdatepicker
                  name="DateofFirstComplain"
                  date-options="DateOptions"
                  ng-model="mData.DateofFirstComplain"
                  ng-disabled="statusFilter == 1"
                  required>
              </bsdatepicker>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">No. LT if Repeat Repair</div>
            <div class="col-md-6" style="text-align: left;">
              <input type="text" name="NoLTIfRepeatRepair"  ng-model="mData.NoLTIfRepeatRepair" maxlength=50 class="form-control" ng-disabled="statusFilter == 1">
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">No. LT if Involved in PTB</div>
            <div class="col-md-6" style="text-align: left;">
              <input type="text" name="NoLTIfInvolvedPBT" ng-model="mData.NoLTIfInvolvedPBT" maxlength=50 class="form-control" ng-disabled="statusFilter == 1">
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-12">
              <bsreqlabel>Problem can be duplicated</bsreqlabel>
            </div>
            <div class="col-md-12" style="text-align: left;">
              <div class="col-md-6">
                <div class="radio-inline">
                  <label class="radio">
                      <input type="radio" name="ProblemCanBeDuplicate" class="radiobox style-0"
                        ng-model="mData.ProblemCanBeDuplicate"
                        value="1" ng-disabled="statusFilter == 1">
                    <span>Ya</span>
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="radio-inline">
                  <label class="radio">
                      <input type="radio" name="ProblemCanBeDuplicate" class="radiobox style-0"
                        ng-model="mData.ProblemCanBeDuplicate"
                        value="0" ng-disabled="statusFilter == 1">
                    <span>Tidak</span>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;margin-bottom: 20px;">
            <div class = "col-md-6">
              <bsreqlabel>Number of cases</bsreqlabel>
            </div>
            <div class="col-md-6" style="text-align: left;">
              <input type="number" name="NumberOfCases" ng-model="mData.NumberOfCases" class="form-control" maxlength=25 ng-disabled="statusFilter == 1" required>
            </div>
          </div>



        </div>
      </div>

      <div class="col-md-6">
        <!-- <div class="col-md-12" style="border:1px solid #ccc; border-radius: 3px;"  ng-repeat = "x in xData  | filter : {Id: DataProblemList}"> -->
        <div class="col-md-12" style="border:1px solid #ccc; border-radius: 3px;">

        <!-- <pre>{{x.JobTask.JobTaskProgress[$index].IsNeedRSA}}</pre> -->
          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">Butuh RSA</div>
            <div class="col-md-6" style="text-align: left;" ng-if="chosedatafinal.IsNeedRSA == 0">
              <label>Tidak</label>
            </div>
            <div class="col-md-6" style="text-align: left;" ng-if="chosedatafinal.IsNeedRSA == 1">
              <label>Ya</label>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">Bisa dikerjakan sendiri</div>
            <div class="col-md-6" style="text-align: left;" ng-if="chosedatafinal.IsOwnDo == 0">
              <label>Tidak</label>
            </div>
            <div class="col-md-6" style="text-align: left;" ng-if="chosedatafinal.IsOwnDo == 1">
              <label>Ya</label>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">Perlu tambahan waktu</div>
            <div class="col-md-6" style="text-align: left;" ng-if="chosedatafinal.IsNeedAdditionalTime == 0">
              <label>Tidak</label>
            </div>
            <div class="col-md-6" style="text-align: left;" ng-if="chosedatafinal.IsNeedAdditionalTime == 1">
              <label>Ya ({{chosedatafinal.Duration * 60}} menit)</label>
            </div>
          </div>

    <!--       <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">Perlu tambahan pekerja</div>
            <div class="col-md-6" style="text-align: left;">
              <label>{{x.NeedJob}}</label>
            </div>
          </div> -->

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-6">Parts/material</div>
            <div class="col-md-6" style="text-align: left;">
              <!-- <label>{{x.NeedMaterial}}</label> -->
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-12">

              <!-- ng-init="getParts()" -->
              <div ui-grid="gridParts"  ui-grid-edit ui-grid-cellNav ui-grid-auto-resize class="grid" ng-cloak style="height: 200px;"></div>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-12">
              <bsreqlabel>Judul Laporan</bsreqlabel>
            </div>
            <div class="col-md-12" style="text-align: left;">
              <TEXTAREA name="InquiryTitle" ng-model="mData.InquiryTitle" style="height: 100px;width: 100%;" maxlength=100 ng-disabled="statusFilter == 1" required></TEXTAREA>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-12">
              <bsreqlabel>Langkah Perbaikan (Diisi TL)</bsreqlabel>
            </div>
            <div class="col-md-12" style="text-align: left;">
              <TEXTAREA name="MethodToAct" ng-model="mData.MethodToAct" style="height: 100px;width: 100%;" maxlength=200 ng-disabled="statusFilter == 1" required></TEXTAREA>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-12">
              <bsreqlabel>Hasil Perbaikan (Diisi TL)</bsreqlabel>
            </div>
            <div class="col-md-12" style="text-align: left;">
              <TEXTAREA name="ResultAction" ng-model="mData.ResultAction" style="height: 100px;width: 100%;" maxlength=200 ng-disabled="statusFilter == 1" required></TEXTAREA>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-12" ng-show="mData.BentukLaporan == 0 || mData.BentukLaporan == null || mData.BentukLaporan == undefined">
              <label>Permintaan Ke DCC</label>
            </div>
            <div class = "col-md-12" ng-show="mData.BentukLaporan == 1">
              <bsreqlabel>Permintaan Ke DCC</bsreqlabel>
            </div>
            <div class="col-md-12" style="text-align: left;">
              <TEXTAREA name="RequestToDCC" ng-model="mData.RequestToDCC" style="height: 100px;width: 100%;" maxlength=100 ng-disabled="statusFilter == 1" ng-required="mData.BentukLaporan == 1"></TEXTAREA>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class = "col-md-12">
              <bsreqlabel>Penggunaan Kendaraan</bsreqlabel>
            </div>
            <div class="col-md-12" style="text-align: left;">
              <TEXTAREA name="CarUser" ng-model="mData.CarUser" style="height: 100px;width: 100%;" maxlength=100 ng-disabled="statusFilter == 1" required></TEXTAREA>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-12">
              <bsreqlabel>Status Masalah</bsreqlabel>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsSolvedProblem" class="radiobox style-0"
                      ng-model="mData.IsSolvedProblem"
                      value=1
                      ng-disabled="statusFilter == 1">
                  <span>Solved</span>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsSolvedProblem" class="radiobox style-0"
                      ng-model="mData.IsSolvedProblem"
                      value=0
                      ng-disabled="statusFilter == 1">
                  <span>Unsolved</span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-12">
              <bsreqlabel>Eskalasi Masalah</bsreqlabel>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsEscalationProblem" class="radiobox style-0"
                      ng-model="mData.IsEscalationProblem"
                      value=1
                      ng-disabled="statusFilter == 1">
                  <span>Eskalasi</span>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="IsEscalationProblem" class="radiobox style-0"
                      ng-model="mData.IsEscalationProblem"
                      value=0
                      ng-disabled="statusFilter == 1">
                  <span>Tidak</span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-12">
              <bsreqlabel>Bentuk Laporan</bsreqlabel>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="BentukLaporan" class="radiobox style-0"
                      ng-model="mData.BentukLaporan"
                      value=1
                      ng-disabled="statusFilter == 1" 
                      ng-change="checkRequired(mData.BentukLaporan)">
                  <span>Konsultan DCC</span>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="radio-inline">
                <label class="radio">
                    <input type="radio" name="BentukLaporan" class="radiobox style-0"
                      ng-model="mData.BentukLaporan"
                      value=0
                      ng-disabled="statusFilter == 1"
                      ng-change="checkRequired(mData.BentukLaporan)">
                  <span>Buat LT</span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-12" ng-show="mData.BentukLaporan == 0 || mData.BentukLaporan == null || mData.BentukLaporan == undefined">
              <label>Kategori Konsultasi DCC</label>
            </div>
            <div class="col-md-12" ng-show="mData.BentukLaporan == 1">
              <bsreqlabel>Kategori Konsultasi DCC</bsreqlabel>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-12">
              <bsselect name="ConsultationDCCCatg"
                      ng-model="mData.ConsultationDCCCatg"
                      data="KategoriProblem"
                      item-text="Name"
                      item-value="MasterId"
                      placeholder="Kategori Konsultan"
                      ng-disabled="statusFilter == 1"
                      ng-required="mData.BentukLaporan == 1">
              </bsselect>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-12" ng-show="mData.BentukLaporan == 0 || mData.BentukLaporan == null || mData.BentukLaporan == undefined">
              <label>Kategori Sub Problem</label>
            </div>
            <div class="col-md-12" ng-show="mData.BentukLaporan == 1">
              <bsreqlabel>Kategori Sub Problem</bsreqlabel>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-12">
              <bsselect name="slctCategorySubProblem"
                      ng-model="mData.CategorySubProblem"
                      data="SubKategoriProblem"
                      item-text="Name"
                      item-value="MasterId"
                      placeholder="Kategori Sub Problem"
                      ng-disabled="statusFilter == 1"
                      ng-required="mData.BentukLaporan == 1">
              </bsselect>
            </div>
          </div>

          <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-12">
              <bsreqlabel>FIR atau Tidak</bsreqlabel>
            </div>
          </div>
          <div class="col-md-12" style="margin-bottom: 20px;">
            <div class="col-md-12">
              <bsselect name="IsFIR"
                      ng-model="mData.IsFIR"
                      data="FIR"
                      item-text="FIR"
                      item-value="Id"
                      placeholder="FIR"
                      required
                      ng-disabled="statusFilter == 1">
              </bsselect>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="col-md-12" ng-show="showWO">
    <div class="col-md-12">
      <button class="btn" style="background-color: white;" ng-click="ClickWO(2)">Kembali</button>
    </div>
  </div>
</form>
<div class="row">

  <div class="col-md-12" ng-show="ShowWo">

    <div class="row">
      <div class="col-xs-12" style="text-align: right;">
        <button class="btn btn-default" style="background-color: #fff" ng-click = "Kembali()">Kembali</button>
      </div>
    </div>

    <div class="col-md-12" ng-repeat = "fDwo in gridWork" style="margin-top: 10px;">

      <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
                <label>{{fDwo.TaskName}}</label>
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-md-12">
                  <table class="table table-striped table-bordered">
                    <tr>
                        <td>Nomor Material</td>
                        <td>Nama Material</td>
                        <td>Status Stock</td>
                        <td>ETA</td>
                        <td>Permintaan QTY</td>
                        <td>Isu QTY</td>
                        <td>Satuan</td>
                    </tr>
                    <tr ng-repeat = "fDParts in fDwo.child">
                        <td>{{fDParts.PartsCode}}</td>
                        <td>{{fDParts.PartsName}}</td>
                        <td>{{fDParts.Availbility}}</td>
                        <td>{{fDParts.ETA | date:'dd/MM/yyyy'}}</td>
                        <td>{{fDParts.Qty}}</td>
                        <td>{{fDParts.QtyGI}}</td>
                        <td>{{fDParts.Satuan.Name}}</td>
                    </tr>
                  </table>
                   <!--  <div ui-grid="gridWODetail" ui-grid-cellNav ui-grid-auto-resize class="grid" ng-cloak style="height: 200px;"></div> -->
                </div>
            </div>
        </div>
      </uib-accordion>

    </div>
<!--
    <div class="col-md-12" style="margin-top: 10px;">
      <div smart-include="app/services/production/repairSupportActivityGR/woDetail.html">
      </div>
    </div> -->
<!--
    <div ng-include="'app/services/reception/wo/wo.html'" style="margin-top: 35px;">
    </div> -->

  </div>
</div>
<!-- </bsform-grid> -->
