<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="MasterWACForm"
        factory-name="MasterWACFactory"
        model="mMasterWAC"
        model-id="Id"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-show-detail="onShowDetail"
        on-before-new="beforeNew"
        on-before-edit="beforeEdit"
        do-custom-save="doCustomSave"

        form-name="MasterWACForm"
        form-title="Master WAC"
        modal-title="Master WAC"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <bsreqlabel>Nama Group</bsreqlabel>
                    <div class="input-icon-right">
                        <input type="text" class="form-control col-md-3" style="float:left;" name="GroupName" placeholder="Group Name" ng-model="mMasterWAC.GroupName" ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="GroupName"></bserrmsg>
                </div>
                <div class="form-group">
                    <bsreqlabel>Quantity</bsreqlabel>
                    <div class="input-icon-right">
                        <input type="number" min="0" class="form-control col-md-3" style="float:left;" name="Quantity" placeholder="Quantity" ng-model="mMasterWAC.Quantity" ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="GroupName"></bserrmsg>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-8">
                <div id="gridDetail" ui-grid-edit ui-grid="gridDetail" ui-grid-move-columns ui-grid-resize-columns ui-grid-auto-resize class="grid">
                    <div class="ui-grid-nodata" ng-show="!gridDetail.data.length">No data available</div>
                </div>
            </div>
        </div>
</bsform-grid>
