<style type="text/css">
.endDate::before {
    content: "-";
    position: absolute;
    left: -2%;
    top: 30px;
}

</style>
<script type="text/javascript" src="../../app/_dependencies/print_min.js"></script>
<!-- [START] Gateway Form Before Entry -->
<!--<div ng-if="isOverlayForm" ng-include="'app/parts/stock_opname/stock_opname_m/stockOpnameGateway.html'"></div>-->

<!-- [END] Gateway Form Before Entry -->

<bsform-grid
        ng-form="StockOpnameForm"
        factory-name="StockOpname"
        model="mData"
        get-data="getData(filter)"
        model-id="Id"
        loading="loading"
        selected-rows="selectedRows"
        show-advsearch="on"
        grid-hide-action-column="gridHideActionColumn"
        detail-button-settings="actionButton"
        form-api ="formApi"
        on-show-detail="onBeforeEdit"
        on-before-cancel="onBeforeCancel"
        on-validate-save="onValidateSave"
        form-api="formApi"
        rights-byte = "myRights"
        action-button-caption="captionLabel"
        hide-Save-button="hideSaveButton"
        
        on-bulk-approve="onBulkApproveIH" 
        on-bulk-reject="onBulkRejectIH"


        form-title="Stock Opname Baru"
        modal-size="small"
        icon="fa fa-fw fa-users"
        >


    <bsform-advsearch>
      <div ng-include="'app/parts/stock_opname/partial/filter_master.html'"></div>
    </bsform-advsearch>
    <div ng-if="pageMode=='new'" ng-include="'app/parts/stock_opname/stock_opname_m/partial/new.html'"></div>
    <div ng-if="pageMode=='show'" ng-include="'app/parts/stock_opname/stock_opname_m/partial/show.html'"></div>
    <div ng-if="pageMode=='edit'" ng-include="'app/parts/stock_opname/stock_opname_m/partial/edit.html'"></div>

    <bsui-modal
            show="show_modalCancel"
            title="Input Alasan Pembatalan"
            data="mData"
            on-save="confirmationforCancel"
            on-cancel="cancelforCancel"
            mode="modalMode"
        >
        <div ng-include="'app/parts/stock_opname/stock_opname_m/partial/dialog.html'"></div>
    </bsui-modal>

    <bsui-modal
            show="show_modalFilter"
            title="Filter Material"
            data="filterMaterial"
            on-save="onBulkFilter"
            on-cancel="cancelforCancel"
            mode="modalMode"
        >
        <div ng-include="'app/parts/stock_opname/stock_opname_m/crud/filter.html'"></div>
    </bsui-modal>

<!-- [START] Entry Form -->

<!--<div>
  <div ng-show="crudState=='100'" ng-include="'app/parts/stock_opname/stock_opname_m/crud/buat.html'"></div>
</div>-->
<!-- [END] Entry Form -->



<!-- [START] Edit Mode Region -->
<!--<div>
  <div ng-show="crudState=='300'" ng-include="'app/parts/stock_opname/stock_opname_m/crud/ubah.html'"></div>
</div>-->

<!-- [END] Edit Mode Region -->


<!-- [START] View Mode Region -->
<!--<div>
  <div ng-show="crudState=='200'" ng-include="'app/parts/stock_opname/stock_opname_m/crud/lihat.html'"></div>
</div>-->
<!-- [END] View Mode Region -->

</bsform-grid>
