    <div class="panel panel-danger" style="border-color:#D53337;"><div class="panel-heading" style="color:white; background-color:#D53337;"><h3 class="panel-title">Filter Material</h3></div>
<div class="panel-body" ng-keydown="onKeyDown($event)" ng-keyup="onKeyUp($event)" ng-keypress="onKeyPress($event)">
    <div class="container">
    <div class="form-group">           
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">No Material</label>
                <input class="form-control"  
                type="text" name="no_material_m_1" ng-model="filterMaterial[0]"></input>
            </div>                             
        </div>
        <!-- [END] Form Level 1 -->
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <input class="form-control" type="text"  name="no_material_m_2" ng-model="filterMaterial[1]"></input>
                </div>
            </div>   
        </div>
        <!-- [END] Form Level 2 -->
        <!-- [START] Form Level 3 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <input class="form-control" type="text"  name="no_material_m_2" ng-model="filterMaterial[2]"></input>
                </div>
            </div>   
        </div>
        <!-- [END] Form Level 3 -->
        <!-- [START] Form Level 4 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <input class="form-control" type="text"  name="no_material_m_2" ng-model="filterMaterial[3]"></input>
                </div>
            </div>   
        </div>
        <!-- [END] Form Level 4 -->
        <!-- [START] Form Level 5 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <input class="form-control" type="text"  name="no_material_m_2" ng-model="filterMaterial[4]"></input>
                </div>
            </div>   
        </div>
        <!-- [END] Form Level 5 -->
        <!-- [START] Form Level 6 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <input class="form-control" type="text"  name="no_material_m_2" ng-model="filterMaterial[5]"></input>
                </div>
            </div>   
        </div>
        <!-- [END] Form Level 6 -->
        <!-- [START] Form Level 6 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <input class="form-control" type="text"  name="no_material_m_2" ng-model="filterMaterial[6]"></input>
                </div>
            </div>   
        </div>
        <!-- [END] Form Level 6 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <input class="form-control" type="text"  name="no_material_m_2" ng-model="filterMaterial[7]"></input>
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <input class="form-control" type="text"  name="no_material_m_2" ng-model="filterMaterial[8]"></input>
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <input class="form-control" type="text"  name="no_material_m_2" ng-model="filterMaterial[9]"></input>
                </div>
            </div>   
        </div>
        <!-- <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <input class="form-control" type="text"  name="no_material_m_2" ng-model="filterMaterial[10]"></input>
                </div>
            </div>   
        </div> -->
        <br/>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <button class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Kembali</button>
                </div>
            </div> 
            <div class="col-md-2">
                <div class="input-group">
                    <button class="ngdialog-button ngdialog-button-danger" ng-click="onBulkFilter(filterMaterial)">Filter</button>
                </div>
            </div>  
        </div>


    </div>
    </div>
</div>