<!-- [START] Gateway Region -->
<style type="text/css">

.overlay{
    opacity:1;
    background-color:#ffffff;
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;

}

</style>
<!--<fieldset ng-app="app" ng-controller="PartsClaimController">-->
<div ng-if="isOverlayForm" class="overlay" style="padding-top: 10px">

<div class="container">
    <div class="form-group">
        <!-- Tombol Navigasi -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-3">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-3">
                
            </div>
            <div class="col-md-3">
                <button class="btn wbtn" ng-click="goBack()">Kembali</button>
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Tipe Material *</label>
                <select class="form-control" ng-model="mData.MaterialTypeId">
                    <option value="1">Parts</option>
                    <option value="2">Bahan</option>
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <label class="control-label">Lokasi Gudang *</label>
                <select class="form-control" ng-model="mData.LocationId">
                    <option value="1">Gudang Spare Parts</option>
                    <option value="2">Gudang Spare Parts 2</option>
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <label class="control-label">Tipe Lokasi Stock *</label>
                <select class="form-control" ng-model="mData.LocationTypeID">
                    <option value="1">Diluar Blocked Stock</option>
                    <option value="2">Blocked Stock</option>
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1">
                    <label class="control-label">&nbsp</label>
                    <button class="btn wbtn form-control" ng-click="onShowFilter()">Filter</button>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-2">
                <label class="control-label">SCC</label>
                <select class="form-control" ng-model="mData.SCCId">
                    <option value="1">Overhaul Item</option>
                    <option value="2">Body Item</option>
                    <option value="3">Accesories Item</option>                  
                    <option value="4">CBU Non TAM</option>
                    <option value="5">Discontinue Item</option>  
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <label class="control-label">ICC</label>
                <select class="form-control" ng-model="mData.ICCId">
                    <option value="1">A - Very Fast Moving</option>
                    <option value="2">B - Fast Moving</option>
                    <option value="3">C - Medium Moving</option>
                    <option value="4">D - Slow Moving</option>
                    <option value="5">E - Very Slow Moving</option>
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <label class="control-label">No Material</label>
                <input type="text" ng-model="mData.MaterialNo" class="form-control"></input>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                    <button class="btn wbtn form-control" ng-click="onSearchMaterial()">Cari Material</button>
                </div>
            </div>
        </div>

        <br/>

    </div>
<!-- [END] Gateway Region --> 
</div>
<!--</fieldset>-->