<style type="text/css">
    .endDate::before {
        content: "-";
        position: absolute;
        left: -2%;
        top: 30px;
    }
</style>
<!-- [START] Gateway Form Before Entry -->
<div ng-if="isOverlayForm" ng-include="'app/parts/claim/parts_claim/partsClaimGateway.html'"></div>
<!-- [END] Gateway Form Before Entry -->

<bsform-grid ng-form="PartsClaimForm" factory-name="PartsClaim" model="mData" get-data="getData" model-id="Id" loading="loading" selected-rows="selectedRows" show-advsearch="on" grid-hide-action-column="gridHideActionColumn" hide-save-button="true" hide-cancel-button="true"
    form-api="formApi" rights-byte="myRights" on-bulk-approve="onBulkApproveSA" on-bulk-reject="onBulkRejectSA" on-before-new="onBeforeNewMode" on-before-edit="onBeforeEditMode" on-before-delete="onBeforeDeleteMode" on-show-detail="onShowDetail" form-title="Parts Claim Baru"
    modal-size="small" icon="fa fa-fw fa-users">

    <bsform-advsearch>

        <!-- Row Atas -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Status</label>
                <select name="statuspc" class="form-control" ng-model="mFilter.StockReturnClaimStatusId">
                  <option value="0" ng-selected="mFilter.StockReturnClaimStatusId==0"></option>
                  <option value="1" ng-selected="mFilter.StockReturnClaimStatusId==1">Draft</option>
                  <option value="2" ng-selected="mFilter.StockReturnClaimStatusId==2">Request Approval</option>
                  <option value="3" ng-selected="mFilter.StockReturnClaimStatusId==3">Outstanding Claim</option>                  
                  <option value="4" ng-selected="mFilter.StockReturnClaimStatusId==4">Answered Claim</option>                  
                  <option value="5" ng-selected="mFilter.StockReturnClaimStatusId==5">Cancelled</option>  
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label">Tanggal Parts Claim *</label>
                <div class="tanggal">
                    <bsdatepicker name="startDate" date-options="dateOptions" ng-model="mFilter.startDate" ng-required="mFilter.StockReturnClaimStatusId">
                    </bsdatepicker>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
                <div class="endDate">
                    <bsdatepicker name="endDate" date-options="dateOptions" ng-model="mFilter.endDate" ng-required="mFilter.StockReturnClaimStatusId">
                    </bsdatepicker>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label">No Parts Claim DMS</label>
                <input class="form-control" type="text" ng-model="mFilter.StockReturnClaimNo"></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">No Shipping</label>
                <input class="form-control" type="text" ng-model="mFilter.ShippingNo"></input>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-xs-6 col-xs-offset-2">
                <span class="help-block">* Mandatory ketika filter Status</span>
            </div>
        </div>
        <br />
        <!-- Row Tengah -->
        <div class="row">
            
            <div class="col-md-2">
                <label class="control-label">No. PO</label>
                <input type="text" class="form-control" ng-model="mFilter.PurchaseOrderNo">
            </div>
            <div class="col-md-2">
                <label class="control-label">No. Vendor Inv</label>
                <input type="text" class="form-control" ng-model="mFilter.InvoiceId">
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label">No Case</label>
                <input type="text" class="form-control" ng-model="mFilter.NoCase">
            </div>
            <div class="col-md-1">
                <div class="input-group">
                  <label class="control-label">&nbsp</label>             
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                        <button class="btn wbtn form-control" ng-click="onDeleteFilter(mFilter)">Hapus Filter</button>  
                </div> 
            </div> 
            <!-- end row -->
        </bsform-advsearch>

    <!-- [START] Entry Form -->

    <div>
        <div ng-if="crudState=='100'" ng-include="'app/parts/claim/parts_claim/crud/baru.html'"></div>
    </div>
    <!-- [END] Entry Form -->



    <!-- [START] Edit Mode Region -->
    <div>
        <div ng-if="crudState=='300'" ng-include="'app/parts/claim/parts_claim/crud/ubah.html'"></div>
    </div>

    <!-- [END] Edit Mode Region -->


    <!-- [START] View Mode Region -->
    <div>
        <div ng-if="crudState=='200'" ng-include="'app/parts/claim/parts_claim/crud/lihat.html'"></div>
    </div>
    <!-- [END] View Mode Region -->

</bsform-grid>