<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="StaffManagementForm"
        factory-name="StaffManagement"
        model="mStaff"
        model-id="StaffId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        on-before-new="onBeforeNewMode"
        on-show-detail="onBeforeEdit"
        on-validate-save = "onValidateSave"

        form-name="StaffManagementForm"
        form-title="Staff Management"
        modal-title="Staff Management"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Staff ID</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" name="StaffId" placeholder="Staff ID"
                           ng-model="mStaff.employeeId" ng-maxlength="30" required
                    >
                </div>
                <bserrmsg field="nip"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Full Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" name="FullName" placeholder="Full Name"
                           ng-model="mStaff.Name" ng-maxlength="30" required
                    >
                </div>
                <bserrmsg field="FullName"></bserrmsg>
            </div>
            <!-- <pre>{{mStaff.Name}}</pre>
 -->            <div class="form-group" show-errors>
                <bsreqlabel>Code Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="codeName" placeholder="Code Name"
                           ng-model="mStaff.Initial" ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="codeName"></bserrmsg>
            </div>
              <div class="form-group" show-errors>
                  <bsreqlabel>Date Of Birth</bsreqlabel>
                  <bsdatepicker
                          name="DateOfBirth"
                              date-options="DateOptions"
                          ng-model="mStaff.DateofBirth"
                          required
                  >
                  </bsdatepicker>
                  <bserrmsg field="DateOfBirth"></bserrmsg>
              </div>
            <div class="form-group" show-errors>
              <div class="col-md-3" ng-repeat="sift in shiftB">
                  <bscheckbox 
                      ng-model = "mStaf[sift.Name]" 
                      ng-change="check(sift.ShiftByte)"
                      label="{{sift.Name}}">
                  </bscheckbox>
              </div>
            </div>
          </div>
        </div>
</bsform-grid>