<script type="text/javascript">


   
</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

tr:nth-child(even) {
    background-color: #dddddd  ;
    
}

</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="row">
		<button  ng-click="CetakKuitansiVirtualAccount_BuatIncPaymentCetak()"  type="button" class="rbtn btn ng-binding ladda-button" style="float: right;margin-left:5px;">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Buat Inc. Payment & Cetak Kuitansi
				</span><span class="ladda-spinner"></span>
		</button>
		
		<button  ng-click="CetakKuitansiVirtualAccount_BuatIncPayment()"  type="button" class="rbtn btn ng-binding ladda-button" style="float: right;margin-left:5px;">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Buat Inc. Payment
				</span><span class="ladda-spinner"></span>
		</button>
		
		<button  ng-click="CetakKuitansiVirtualAccount_Batal()"  type="button" class="btn ng-binding ladda-button" style="float: right;margin-left:5px;">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Batal
				</span><span class="ladda-spinner"></span>
		</button>
</div>

<div class="row" style="margin-bottom:10px;margin-left:10px;">
<p style="color:red">
				Upload File Bank Statement Virtual Account
				<hr style="border-color:red"/>
			</p>
	<div class="row col-md-12" >
		<div class="col-md-4">
			<bslabel>Nama File</bslabel>
			<div class="input-icon-right">
				<input type="file" >
			</div>
		</div>

		<div class="col-md-4">
			<button id=""  onclick="" ng-click="CetakKuitansiVirtualAccount_Upload()"  type="button" class="rbtn btn ng-binding ladda-button" style="margin-top:25px">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Upload
				</span><span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
	
</div>

<div class="row" style="margin-bottom:10px;margin-left:10px;">
	<fieldset disabled>
	<div class="row col-md-12" >
		<div class="col-md-4">
			<div class="form-group">
				<bslabel>Tanggal Transaksi</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="TanggalTransaksi " placeholder="Tanggal Transaksi" ng-model="CetakKuitansiVirtualAccount_TanggalTransaksi" ng-maxlength="50 " required>
				</div>
			</div>
			
			<div class="form-group">
				<bslabel>Saldo Akhir Sebelumnya</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="SaldoAkhirSebelumnya " placeholder="Saldo Akhir Sebelumnya" ng-model="CetakKuitansiVirtualAccount_SaldoAkhirSebelumnya" ng-maxlength="50 " required>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<bslabel>Kode GL Account</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="KodeGlAccount " placeholder="Kode GL Account" ng-model="CetakKuitansiVirtualAccount_KodeGlAccount" ng-maxlength="50 " required>
				</div>
			</div>
			
			<div class="form-group">
				<bslabel>Saldo Awal</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="SaldoAwal" placeholder="Saldo Awal" ng-model="CetakKuitansiVirtualAccount_SaldoAwal" ng-maxlength="50 " required>
				</div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="form-group">
				<bslabel>Nama GL Account</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="NamaGlAccount " placeholder="Nama GL Account" ng-model="CetakKuitansiVirtualAccount_NamaGlAccount" ng-maxlength="50 " required>
				</div>
			</div>
			
			<div class="form-group">
				<bslabel>Saldo Akhir</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="SaldoAkhir" placeholder="Saldo Akhir" ng-model="CetakKuitansiVirtualAccount_SaldoAkhir" ng-maxlength="50 " required>
				</div>
			</div>
		</div>
	</div>
	</fieldset>
	
</div>

<div class="row" style="margin-bottom:10px;margin-left:10px;">
<p style="color:red">
				Daftar
				<hr style="border-color:red"/>
			</p>
	<table class="table table-bordered table-responsive" style="margin-left:23px;margin-top:20px">
	<tbody>
		<tr>
			<th>Nomor Virtual Account</th>
			<th>Nomor SPK</th>
			<th>Nomor SO</th>
			<th>Nama Pelanggan</th>
			<th>Nominal</th>
		</tr>
		<tr ng-repeat="CetakKuitansiVirtualAccount_DaftarVirtualAccount in CetakKuitansiVirtualAccount_DaftarVirtualAccountToRepeat">
			<td>{{CetakKuitansiVirtualAccount_DaftarVirtualAccount.NomorVirtualAccount}}</td>
			<td>{{CetakKuitansiVirtualAccount_DaftarVirtualAccount.NomorSpk}}</td>
			<td>{{CetakKuitansiVirtualAccount_DaftarVirtualAccount.NomorSo}}</td>
			<td>{{CetakKuitansiVirtualAccount_DaftarVirtualAccount.NamaPelanggan}}</td>
			<td>{{CetakKuitansiVirtualAccount_DaftarVirtualAccount.Nominal}}</td>
		</tr>
	</tbody>
	</table>		

	
</div>
