<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="ProfileInsuranceTypeForm"
        factory-name="ProfileInsuranceTypeFactory"
        model="mProfileInsuranceType"
        model-id="ProfileInsuranceTypeId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="ProfileInsuranceTypeForm"
        form-title="ProfileInsuranceType"
        modal-title="Profile Insurance Type"
        modal-size="small"
		form-api="formApi" 
		do-custom-save="doCustomSave"
        icon="fa fa-fw fa-child"
        >

        <div class="row">
         <div class="col-md-6">

           <div class="form-group" show-errors>
                <bsreqlabel>Insurance Type Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="insuranceTypeName" placeholder="Insurance Type Name" ng-model="mProfileInsuranceType.InsuranceTypeName"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="insuranceTypeName"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Insurance Type Value</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="insuranceTypeValue" placeholder="Insurance Type Value" ng-model="mProfileInsuranceType.InsuranceTypeValue"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="insuranceTypeValue"></bserrmsg>
            </div>
            
            
			

<!--             <div class="form-group" show-errors>
                <label>Parent Role</label>
                <bsselect
                          name="parentRole"
                          data="grid.data"
                          item-text="title"
                          item-value="id"
                          ng-model="mRole.pid"
                          placeholder="Select Parent Role"
                          icon="fa fa-child glyph-left"
                          style="min-width: 150px;">
                </bsselect>
                <bserrmsg field="parentRole"></bserrmsg>
            </div> -->
          </div>
        </div>
</bsform-grid-tree>
