<script type="text/javascript">

</script>
<style type="text/css">
  li.liReminderType div.checkbox {
    margin: 0px;
  }

  li.checkbox {
    margin: 0px;
  }

    .ui-grid-viewport {
        overflow-anchor: none;
    }
</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
    ng-form="WorkingCalenderForm"
    factory-name="WorkingCalenderFactory"
    model="mData"
    model-id="WorkingCalenderId"
    loading="loading"

    get-data="getData"
    selected-rows="selectedRows"
    on-select-rows="onSelectRows"
    on-before-edit="onBeforeEdit"
    on-show-detail = "onShowDetail"
    on-validate-save = "onValidateSave"
    on-before-new="onBeforeNewMode"


    form-name="WorkingCalenderForm"
    form-title="Working Calendar"
    modal-title="Working Calendar"
    modal-size="small"
    icon="fa fa-fw fa-child"
    >
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Outlet</label>
                        <div class="input-icon-right">
                            <i class="fa fa-id-card-o"></i>
                            <input type="text" class="form-control" ng-disabled="true" name="Appointment" placeholder="Nama Outlet" skip-enable ng-model="mData.Outlet">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" show-errors>
                        <bsreqlabel>Tipe Jadwal Kerja</bsreqlabel>
                        <bsselect name="Category" ng-disabled="isEdit" ng-model="mData.WorkScheduleTypeId" data="DataWorkScheduleTypes" item-text="WorkScheduleTypeDesc" item-value="WorkScheduleTypeId" placeholder="Pilih Kategori">
                        </bsselect>
                        <bserrmsg field="Category"></bserrmsg>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" show-errors>
                        <bsreqlabel>Tahun</bsreqlabel>
                        <div class="">
                            <!-- <i class="fa fa-id-card-o"></i> -->
                            <!-- <input type="number" ng-disabled="isEdit" disallow-space ng-minlength=4 ng-model-options="{debounce: 250}" maxlength="4" required class="form-control" ng-change="checkYear(mData.Year)" name="Appointment" placeholder="Tahun" ng-model="mData.Year"> -->
                            <input type="number" disallow-space ng-minlength=4 ng-model-options="{debounce: 250}" maxlength="4" required class="form-control" ng-change="checkYear(mData.Year)" name="Appointment" placeholder="Tahun" ng-model="mData.Year">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" ng-if="tglawal">
                        <bsreqlabel>Tanggal</bsreqlabel>
                        <bsdatepicker min-date="minDateASB" max-date="maxDate" name="DateAppoint" date-options="DateOptions" ng-model="mData.StartDate" ng-disabled="isYear" ng-change="DateChange(dt)" ng-required="true">
                        </bsdatepicker>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-3">
                   
                </div>
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <bsreqlabel>Tanggal Akhir</bsreqlabel>
                        <bsdatepicker min-date="minDateASBAkhir" max-date="maxDateAkhir" name="DateAppointAkhir" date-options="DateOptionsAkhir" ng-model="mData.EndDate" ng-disabled="isYearAkhir" ng-change="DateChangeAkhir(dt)" ng-required="true">
                        </bsdatepicker>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    <fieldset style="border:1px solid #e2e2e2;">
                        <legend style="margin-left:10px;width:inherit;border-bottom:0px;margin-bottom:0px;">Set hari libur</legend>
                        <ul>
                          <li ng-repeat="item in dataDay" style="list-style-type:none;">
                            <bscheckbox ng-model="mData.checked[item.NameEng]" label="{{item.Name}}" ng-true-value="true" ng-false-value="false" ng-click="check(item.NameEng,mData.checked[item.NameEng])">
                            </bscheckbox>
                          </li>
                        </ul>
                    </fieldset>
                </div>
                <div class="col-md-10">
                    <fieldset style="border:1px solid #e2e2e2;">
                        <legend style="margin-left:10px;width:inherit;border-bottom:0px;margin-bottom:0px;">Set jam kerja</legend>
                        <div class="form-group col-md-4" ng-repeat="item in dataDay" show-errors>
                            <label>{{item.Name}}</label>
                            <bsselect
                                name="Category"
                                ng-required="!mData.checked[item.NameEng]"
                                ng-disabled="mData.checked[item.NameEng]"
                                ng-model="mData[item.NameEng]"
                                data="DataWorkHours"
                                item-text="finalDesc"
                                item-value="WorkHourId"
                                placeholder="Pilih Jam">
                            </bsselect>
                            <bserrmsg field="Category"></bserrmsg>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="btn-group pull-right">
                    <button type="button" name="generate" skip-enable ng-disabled="WorkingCalenderForm.$invalid" ng-click="generate(mData)" class="rbtn btn" ng-show="showGenerate">Generate</button>
                    <!-- <button type="button" name="tambahHari" ng-click="addNewDay()" ng-disabled="TambahLibur" class="rbtn btn" ng-disabled="WorkingCalenderForm.$invalid">Tambah Hari Libur</button> -->
                    <button type="button" name="tambahHari" ng-click="addNewDay()" ng-disabled="TambahLibur" class="rbtn btn" ng-show="showAddHoliday">Tambah Hari Libur</button>

                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <!--  -->
<!--             <input type="text" ng-model-options="{debounce: 250}" class="form-control" placeholder="Filter" ng-model="gridApi.grid.columns[filterColIdx].filters[0].term">
            <div class="input-group-btn" uib-dropdown>
                <button id="filter" type="button" class="btn wbtn" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
                    {{filterBtnLabel|uppercase}}&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="filter">
                    <li role="menuitem" ng-repeat="col in gridCols">
                      <a href="#" ng-click="filterBtnChange(col)">{{col.name|uppercase}}
                        <span class="pull-right">
                          <i class="fa fa-fw fa-filter"
                              ng-show="
                                    gridApi.grid.columns[{{$index1}}].filters[0].term!=\\ &&
                                    gridApi.grid.columns[{{$index1}}].filters[0].term!=undefined
                              "
                          ></i>
                        </span>
                      </a>
                    </li>
                </ul>
            </div> -->
            <!--  -->
            <div class="col-md-12">
                <div class="col-md-12">
                    <div ui-grid="gridGenerate"
                        ui-grid-move-columns
                        ui-grid-resize-columns
                        ui-grid-selection
                        ui-grid-pagination
                        ui-grid-cellNav
                        ui-grid-pinning
                        ui-grid-auto-resize
                        ui-grid-edit
                        class="grid"
                        ng-style="getTableHeight()">
                        <div class="ui-grid-nodata" ng-if="!grid.data.length && !loading" ng-cloak>No data available</div>
                        <div class="ui-grid-nodata" ng-if="loading" ng-cloak>Loading data... <i class="fa fa-spinner fa-spin"></i></div>
                    </div>
                </div>
            </div>
        </div>
</bsform-grid>
<bsui-modal show="show_modal.show" title="Tambah Hari Libur" data="modal_model" on-save="WeekEndSave" on-cancel="WeekEndCancel" mode="modalMode">
    <div ng-form name="contactForm">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12" style="margin-top: 20px;">
                    <div class="col-md-6 form-group">
                        <label>Tanggal</label>
                        <bsdatepicker
                            name="HolidayDate"
                            skip-enable
                            date-options="dateOptions"
                            ng-model="modal_model.HolidayDate"
                        >
                        </bsdatepicker>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 form-group">
                        <label>Keterangan</label>
                        <textarea ng-model="modal_model.HolidayDesc" style="width:100%"
                        class="form-control" ng-required="true"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</bsui-modal>
