<!--
	Catatan Flow
	1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
<style type="text/css">
    .user-avatar {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, 0.5);
    }
    
    /* .grid {
        width: 500px;
        height: 185px;
        rowHeight: 50px;
        Ini di komen by rizma karena di so jadi kecil gridnya, kalo bikin error lepas aja komennya
    } */
    
    div.ui-grid-cell input {
        padding: 6px;
    }
</style>
<div class="" style="float : left">

    <div class="form-group">
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Referensi GI *</label>
                <select class="form-control" ng-model="mData.RefGITypeID" readonly>
                <option value="1" selected>WO</option> 
                </select>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">No WO *</label>
                <!-- <input class="form-control" type="text" ng-model="mData.RefGINo" name="no_wo" placeholder="WO/20160715001"></input> -->
                <!-- <div class="input-group">
                    <input name ="RefGINo" type="text" ng-model="mData.RefGINo" class="form-control" required>
                    <label class="input-group-btn">
                        <span class="btn wbtn" ng-click="onSearchRefGINo(mData.RefGINo)">
                            <i class="fa fa-search"></i>
                        </span>
                    </label>
                </div> -->
                <bsselect name="wo" ng-model="mData.RefGINo" data="WOdata" item-text="WoNo" item-value="WoNo" placeholder="" on-select="onSearchRefGINo(selected.WoNo, mData.RefGITypeID)" icon="fa fa-search">
                </bsselect>

            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">No MR *</label>
                <input name="nomr" class="form-control" type="text" ng-model="mData.MaterialRequestNo" readonly></input>

            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <hr/>
            </div>
        </div>
        <!-- [END] Form Level 1 -->
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Tipe Material *</label>
                <select class="form-control" ng-model="mData.GridDetail[0].MaterialTypeId" disabled required>
                    <option selected value="{{mData.GridDetail[0].MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
                </select>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">No Polisi</label>
                <input class="form-control" type="text" ng-model="mData.NoPol" name="no_polisi" readonly></input>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Request Oleh </label>
                <input class="form-control" type="text" ng-model="mData.RequestBy" name="request_oleh" readonly></input>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <hr/>
            </div>
        </div>
        <!-- [END] Form Level 2 -->
        <!-- [START] Form Level 5 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">No Rangka</label>
                <input style="text-transform: uppercase" class="form-control" type="text" ng-model="mData.MachineNo" readonly></input>

            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Full Model</label>
                <input class="form-control" type="text" ng-model="mData.FullModel" readonly></input>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Tahun Rakit</label>
                <input class="form-control" type="text" ng-model="mData.Year" readonly></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <!-- [END] Form Level 5 -->
        <br />
        <!-- [START] Form Level 6 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Model</label>
                <input class="form-control" type="text" ng-model="mData.ModelName" readonly></input>

            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Kode Warna</label>
                <input class="form-control" type="text" ng-model="mData.VehicleColourCode" name="kode_warna" readonly></input>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Warna</label>
                <input class="form-control" type="text" ng-model="mData.Name" name="warna" readonly></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <hr/>
            </div>
        </div>
        <!-- [END] Form Level 6 -->
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel>Penerima</bsreqlabel>
                <input class="form-control" style="text-align : left" type="text" maxlength="50" ng-model="mData.ReceivedBy" name="penerima"></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <hr/>
            </div>
        </div>
        <!-- [END] Form Level 7 -->
        <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Notes</label>
                <textarea class="form-control" row='5' maxlength="200" ng-model="mData.Notes"></textarea>
            </div>
            <div class="col-md-4">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-4">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <!-- [END] Form Level 7 -->
    </div>

    <!--<fieldset style="padding-top: 10px"></fieldset>-->
    <div class="row">
        <div class="col-md-2">
            <div class="input-group-btn dropdown" uib-dropdown="" style="">
                <button style="margin-right:5px;" type="button" class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
          </button>
                <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
                    <!-- ngIf: allowDelete -->
                    <li>
                        <!-- ngIf: selectedRows.length>0 --><a href="#" ng-click="showMe(mData.GridDetail)">Hapus</a>
                        <!-- end ngIf: selectedRows.length>0 -->
                    </li>
                    <!-- end ngIf: allowDelete -->
                    <!-- ngIf: allowApprove -->
                    <!-- ngIf: allowReject -->
                    <!-- ngIf: allowReview -->
                    <!-- ngRepeat: customBulk in customBulkFunc -->
                </ul>
            </div>
        </div>
    </div>

    <br>
    <!-- <button ng-disabled="checkRefGINo" class="wbtn btn" ng-click="Add()">Tambah Material</button> -->
    <br>

    <div class="row">
        <div class="col-md-12">
            <div id="grid1" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid" ng-style="getTableHeightgridWOPart()"></div>
        </div>
    </div>

    <fieldset style="padding-top: 10px">
        <div align="right">
            <button class="btn wbtn" ng-click="goBack()">Kembali</button>
            <button ng-disabled="checkRefGINo" class="btn rbtn" ng-click="simpancetakWO(mData)">Simpan & Cetak Bukti Pengambilan Material</button>
        </div>
    </fieldset>
    <!-- <pre>{{mData}}</pre/> -->
</div>