<!--
  Catatan Flow
  1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
    <div class="form-group" ng-app="app" ng-controller="PurchaseOrderController">
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Referensi GI *</label>
                <select class="form-control" disabled>
                  <option selected>WO</option>
                  <option>Sales Order</option>
                  <option>Transfer Order</option>
                  <option>Return Parts Claim</option>
                  <option>Return RPP</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label">No WO</label>
                <input class="form-control" type="text" name="no_wo" placeholder="" disabled></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">No MR *</label>
                <input class="form-control" type="text" name="no_mr" placeholder="" disabled></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <!-- [END] Form Level 1 -->
              <br />
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">Tipe Material*</label>
                    <select class="form-control" required disabled>
                        <option selected>Parts</option>
                        <option>Bahan</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">No Polisi</label>
                    <input class="form-control" type="text" name="no_polisi" placeholder="" disabled></input>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">Request Oleh </label>
                    <input class="form-control" type="text" name="request_oleh" placeholder="" disabled></input>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
        </div>
        <!-- [END] Form Level 2 -->
              <br />
        <!-- [START] Form Level 5 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">No Rangka</label>
                <input style="text-transform: uppercase" class="form-control" type="text" ng-model="mPurchaseOrder" name="no_rangka" placeholder="" disabled></input>

            </div>
            <div class="col-md-2">
                <label class="control-label">Full Model</label>
                <input class="form-control" type="text" ng-model="mPurchaseOrder" name="full_model" placeholder="" disabled></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">Tahun Rakit</label>
                <input class="form-control" type="text" ng-model="mPurchaseOrder" name="tahun_rakit" placeholder="" disabled></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <!-- [END] Form Level 5 -->
              <br />
        <!-- [START] Form Level 6 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Model</label>
                <input class="form-control" type="text" ng-model="mPurchaseOrder" name="nomodel" placeholder="" disabled></input>

            </div>
            <div class="col-md-2">
                <label class="control-label">Kode Warna</label>
                <input class="form-control" type="text" ng-model="mPurchaseOrder" name="kode_warna" placeholder="" disabled></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">Warna</label>
                <input class="form-control" type="text" ng-model="mPurchaseOrder" name="warna" placeholder="" disabled></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <!-- [END] Form Level 6 -->
              <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-2">
                <bsreqlabel>Penerima</bsreqlabel>
                <input class="form-control" style="text-align : left" type="text" name="grandtotal" placeholder="" disabled></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <!-- [END] Form Level 7 -->
         <br />
         <!-- [START] Form Level 9 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">No GI</label>
                <input class="form-control" style="text-align : left" type="text" name="nomor_gi" placeholder="" disabled></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">Tanggal GI</label>
                <bsdatepicker
                  name="endDate"
                  date-options="dateOptions"
                  ng-model="mPeriod.endDate"
                  >
                  </bsdatepicker>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <!-- [END] Form Level 7 -->
         <br />
         <!-- [START] Form Level 9 -->
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Status</label>
                <input class="form-control" style="text-align : left" type="text" name="status" placeholder="" disabled></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <!-- [END] Form Level 7 -->
         <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Notes</label>
                <textarea class="form-control" row='5' disabled></textarea>
            </div>
            <div class="col-md-4">
                <label class="control-label">&nbsp</label>
            </div>
            <div class="col-md-4">
                <label class="control-label">&nbsp</label>
            </div>
        </div>
        <!-- [END] Form Level 7 -->
    </div>

<div class="row">
    <div class="col-md-12">
      <div id="grid1" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
    </div>
</div>

<fieldset style="padding-top: 10px">
<div align="right" ng-controller="GoodsIssueController">
  <button class="btn wbtn" ng-click="batalPC(mData)" ng-disabled="(mData.GoodsIssueStatusId == 1) || (mData.StatusWO >= 14)">Batal GI</button>
  <button class="wbtn btn" ng-click="">Kembali</button>
  <button class="wbtn btn" ng-click="printGIMaterial()" skip-disable>Cetak GI</button>
</div>
</fieldset>
