<!--
  Catatan Flow
  1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->
<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

</style>
           
    <div class="form-group">           
        <!-- [START] Form Level 1 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Referensi GI *</label>
                <select class="form-control" disabled>
                  <option selected>WO
                </select>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <label class="control-label">No WO *</label>
                <input class="form-control" type="text" ng-model="mData.RefGINo" placeholder="" disabled></input>
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <label class="control-label">No MR *</label>    
                <input class="form-control" type="text" ng-model="mData.MaterialRequestId" placeholder="" disabled></input>               
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <div class="row">
            <div class="col-md-8">
            <hr/>
            </div>
        </div>
        <!-- [END] Form Level 1 -->
        <!-- [START] Form Level 2 -->
        <div class="row">
            <div class="col-md-3 ">
                    <label class="control-label">Tipe Material *</label>
                    <select class="form-control" ng-model="mData.GridDetail[0].MaterialTypeId" disabled required>
                        <option selected value="{{mData.GridDetail[0].MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
                    </select>
            </div>
            <div class="col-md-3 col-md-offset-1">
                    <label class="control-label">No Polisi</label>
                    <input class="form-control" type="text" ng-model="mData.NoPol" placeholder="" disabled></input>
            </div>
            <div class="col-md-3 col-md-offset-1">
                    <label class="control-label">Request Oleh </label>
                    <input class="form-control" type="text" ng-model="mData.RequestBy" name="request_oleh" placeholder="" disabled></input>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="control-label">&nbsp</label>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-8">
            <hr/>
            </div>
        </div>
        <!-- [END] Form Level 2 -->
        <!-- [START] Form Level 5 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">No Rangka</label>
                <input style="text-transform: uppercase" class="form-control" type="text" ng-model="mData.VIN" name="no_rangka" placeholder="" disabled></input>
                
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <label class="control-label">Full Model</label>
                <input class="form-control" type="text" ng-model="mData.FullModel" name="full_model" placeholder="" disabled></input>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Tahun Rakit</label>                 
                <input class="form-control" type="text" ng-model="mData.Year" name="tahun_rakit" placeholder="" disabled></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 5 -->
              <br />
        <!-- [START] Form Level 6 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Model</label>
                <input class="form-control" type="text" ng-model="mData.ModelName" name="nomodel" placeholder="" disabled></input>
                
            </div>
            <div class="col-md-3 col-md-offset-1">                
                <label class="control-label">Kode Warna</label>
                <input class="form-control" type="text" ng-model="mData.VehicleColourCode" name="kode_warna" placeholder="" disabled></input>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label">Warna</label>                 
                <input class="form-control" type="text" ng-model="mData.Name" name="warna" placeholder="" disabled></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <div class="row">
            <div class="col-md-8">
            <hr/>
            </div>
        </div>
        <!-- [END] Form Level 6 -->
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-3">
                <bsreqlabel>Penerima</bsreqlabel>
                <input class="form-control" style="text-align : left" type="text" ng-model="mData.ReceivedBy" placeholder="" disabled></input>
            </div>
            <div class="col-md-2">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <div class="row">
            <div class="col-md-8">
            <hr/>
            </div>
        </div>
        <!-- [END] Form Level 7 -->
         <!-- [START] Form Level 9 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">No GI</label>
                <input class="form-control" style="text-align : left" type="text" ng-model="mData.GoodsIssueNo" placeholder="" disabled></input>
            </div>
            <div class="col-md-3 col-md-offset-1" style="pointer-events:none;">                
                <label class="control-label">Tanggal GI</label> 
                <bsdatepicker
                  name="endDate"
                  date-options="dateOptions"
                  ng-model="mData.DocDate"
                  ng-disabled = true
                  >
                  </bsdatepicker>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 7 -->
         <br />
         <!-- [START] Form Level 9 -->
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Status</label>
                <input class="form-control" style="text-align : left" type="text" ng-value="ToNameStatus(mData.GoodsIssueStatusId)" placeholder="" disabled></input>
            </div>
            <div class="col-md-2">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp</label>
            </div>                              
        </div>
        <!-- [END] Form Level 7 -->
         <br />
        <!-- [START] Form Level 7 -->
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Notes</label>
                <textarea class="form-control" row='5' ng-model="mData.Notes" disabled></textarea>
            </div>
            <div class="col-md-4">                
                <label class="control-label">&nbsp</label> 
            </div>
            <div class="col-md-4">
                <label class="control-label">&nbsp</label> 
            </div>                             
        </div>
        <!-- [END] Form Level 7 -->
    </div>

<div class="row">
    <div class="col-md-12">
      <div id="grid1" skip-enable ng-disabled="false" ui-grid="gridOptionsView" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
    </div>
</div>

<fieldset style="padding-top: 10px">
<div align="right">
  <button class="wbtn btn" ng-click="goBack2()" skip-disable>Kembali</button>
  <button class="wbtn btn" ng-click="laporan()" skip-disable ng-show="show_btnBatal">Cetak Pembatalan Bukti Pengembalian Material</button>
  <button class="wbtn btn" ng-click="printGIMaterial()" skip-disable>Cetak GI</button>
  <button class="wbtn btn" ng-click="printBatalGIMaterial()" ng-show ="mData.GoodsIssueStatusId == 1" skip-disable>Cetak Batal GI</button>
</div>
</fieldset>
