<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

.change-color:hover > .fa{
  color: #8d0000;
}

.colorUiGrid {
  background-color:  #d53337;
  color: white;
}

</style>

<!-- [START] Gateway Form Before Entry -->
<div ng-if="isOverlayForm" ng-include="'app/parts/goodsissue/goodsissuegateway.html'">
</div>
<!-- [END] Gateway Form Before Entry -->
<div>
<!-- [START] Abort Mode Region -->
<div>
  <div ng-if="crudState=='30'" ng-include="'app/parts/goodsissue/referensi_GI/wo_parts/wo_batal.html'">
  </div>
  <div ng-if="crudState=='31'" ng-include="'app/parts/goodsissue/referensi_GI/so_bengkel/so_edit.html'">
  </div>
  <div ng-if="crudState=='32'" ng-include="'app/parts/goodsissue/referensi_GI/to_bengkel/to_edit.html'"></div>
  <div ng-if="crudState=='33'" ng-include="'app/parts/goodsissue/referensi_GI/return_partsclaim/pr_edit.html'"></div>
  <div ng-if="crudState=='34'" ng-include="'app/parts/goodsissue/referensi_GI/return_rpp/batal_rpp.html'"></div>
</div>
<!-- [END] Abort Mode Region -->
<div ng-show="bsForm">
<bsform-grid
        ng-form="GoodsIssueForm"
        factory-name="GoodsIssue"
        model="mData"
        get-data="getData"
        model-id="Id"
        loading="loading"
        selected-rows="selectedRows"
        show-advsearch="on"
        action-button-caption="captionLabel"

        on-before-cancel = "onBeforeCancel"

        hide-save-button="true"
        hide-cancel-button="true"

        form-api="formApiGoodIssue"
        grid-hide-action-column="gridHideActionColumn"
        rights-byte = "myRights"

        on-before-new="onBeforeNewMode"
        on-before-edit="onBeforeEditMode"
        on-before-delete="onBeforeDeleteMode"
        on-show-detail="onShowDetail"

        form-title="GI Baru"
        modal-size="small"
        icon="fa fa-fw fa-users"
        >
        
    <bsform-advsearch>          
              <!-- Row Atas -->
              <div class="row">
                <div class="col-md-2">
                  <label class="control-label">Referensi GI</label>
                  <select class="form-control" ng-model="mFilter.RefGITypeID">
                    <option value="1">WO</option>
                    <option value="2">Sales Order</option>
                    <option value="3">Transfer Order</option>
                    <option value="4">Return - Parts Claim</option>
                    <option value="5">Return - RPP</option> 
                  </select>
                </div>
                <div class="col-md-2">
                  <label class="control-label">Status</label>
                  <select class="form-control" ng-model="mFilter.GoodsIssueStatusId">
                    <option value="0">Completed</option>
                    <option value="1">Cancelled</option> 
                  </select>                             
                </div>
                <div class="col-md-2">                
                  <label class="control-label">Tanggal GI *</label>
                  <div class="tanggal">
                    <bsdatepicker
                    name="startDate"
                    date-options="dateOptionsStart"
                    ng-model="mFilter.startDate"
                    ng-init="n/a"
                    >
                    </bsdatepicker>
                  </div> 
                </div>
                <div class="col-md-1" style="width: 2%">
                  <label class="control-label">&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                  <label class="control-label">_</label>               
                </div> 
                <div class="col-md-2">                
                  <label class="control-label">&nbsp</label>    
                  <div class="tanggal">
                    <bsdatepicker
                    name="endDate"
                    date-options="dateOptionsEnd"
                    ng-model="mFilter.endDate"
                    ng-init="n/a"
                    >
                    </bsdatepicker>
                  </div>                 
                </div>
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">No. Material</label>
                    <input type="text" class="form-control" ng-model="mFilter.PartsCode" maxlength="32">             
                  </div>
                  <!-- <div class="input-group">
                    <label class="control-label">&nbsp</label>             
                  </div> -->
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                <label class="control-label">&nbsp</label> 
                </div>
                <div class="col-md-2">
                <label class="control-label">&nbsp</label>                              
                </div>
                <div class="col-md-4">                
                <label class="control-label">* Mandatory ketika filter Referensi GI / Status</label> 
                </div>
                <div class="col-md-2">
                <label class="control-label">&nbsp</label>                
                </div>                              
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">&nbsp</label>
                        <button class="btn wbtn form-control" ng-click="onDeleteFilter(mFilter)">Hapus Filter</button>  
                  </div>
                </div>  
              </div>
              <!-- end row -->
              <br />
              <!-- Row Tengah -->
              <!-- <div class="row">
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">No. GI</label>
                    <input type="text" class="form-control" ng-model="mFilter.GoodsIssueNo" ng-init="n/a">
                  </div>
                </div>
                <div class="col-md-2"> 
                  <div class="input-group">
                    <label class="control-label">No. Referensi</label>
                    <input type="text" class="form-control" ng-model="mFilter.RefGINo" ng-init="n/a">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">No. Polisi</label>
                    <input type="text" class="form-control" ng-model="mFilter.NoPol" ng-init="n/a">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">&nbsp</label>
                    
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">&nbsp</label>
                    <button class="btn wbtn form-control" ng-click="onDeleteFilter(mFilter)">Hapus Filter</button>              
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group">
                    <label class="control-label">&nbsp</label>
                          
                  </div>
                </div>
                  
            </div>  -->
            <!-- end row -->
    </bsform-advsearch>

<!-- <div ng-if="isDebug=true">
  <pre>{{mData}}</pre>
</div> -->


<!-- [START] Entry Form After Gateway Form -->
<fieldset>
<div ng-if="crudState=='10'">
        <div ng-include="'app/parts/goodsissue/referensi_GI/wo_parts/wo.html'">       
        </div>
</div>
<div ng-if="crudState=='11'">
        <div ng-include="'app/parts/goodsissue/referensi_GI/so_bengkel/salesorder.html'">       
        </div>
</div>
<div ng-if="crudState=='12'">
        <div ng-include="'app/parts/goodsissue/referensi_GI/to_bengkel/transferorder.html'">       
        </div>
</div>
<div ng-if="crudState=='13'">
        <div ng-include="'app/parts/goodsissue/referensi_GI/return_partsclaim/partsreturn.html'">       
        </div>
</div>
<div ng-if="crudState=='14'">
        <div ng-include="'app/parts/goodsissue/referensi_GI/return_rpp/buat_rpp.html'">       
        </div>
</div>
</fieldset>
<!-- [END] Entry Form After Gateway Form -->


<!-- [START] View Mode Region -->
<div ng-if="crudState=='20'" ng-include="'app/parts/goodsissue/referensi_GI/wo_parts/wo_view.html'"></div>
<div ng-if="crudState=='210'" ng-include="'app/parts/goodsissue/referensi_GI/so_cust/so_lihat.html'"></div>
<div ng-if="crudState=='21'" ng-include="'app/parts/goodsissue/referensi_GI/so_bengkel/so_view.html'"></div>
<div ng-if="crudState=='22'" ng-include="'app/parts/goodsissue/referensi_GI/to_bengkel/to_view.html'"></div>
<div ng-if="crudState=='23'" ng-include="'app/parts/goodsissue/referensi_GI/return_partsclaim/pr_view.html'"></div>
<div ng-if="crudState=='24'" ng-include="'app/parts/goodsissue/referensi_GI/return_rpp/lihat_rpp.html'"></div>
<!-- [END] Edit Mode Region -->

</bsform-grid>
</div>
</div>