<!-- [START] Gateway Region -->
<style type="text/css">

.overlay{
    opacity:1;
    background-color:#ffffff;
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;

}

</style>

<div ng-if="isOverlayForm" class="overlay">
    <br>
    <div class="container">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <!-- ['WO', 'Sales Order', 'Transfer Order', 'Return - Parts Claim', 'Return - RPP']; -->
                <label class="col-sm-12">Referensi GI *</label>
                <div class="col-md-2">
                    <select 
                        class="form-control" 
                        ng-model="mData.RefGITypeID"
                        required>
                            <option value="1" selected>WO</option>
                            <option value="2">Sales Order</option>
                            <option value="3">Transfer Order</option>
                            <option value="4">Return - Parts Claim</option>
                            <option value="5">Return - RPP</option> 
                    </select>
                </div>
                <div class="form-group" align="left">
                    <div class="col-md-2">
                        <button class="btn wbtn" ng-click="goBack()">Kembali</button>
                        <button class="btn rbtn" ng-click="changedValue(mData.RefGITypeID)">Lanjut</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <pre>{{mData}}</pre> -->
<!-- [END] Gateway Region --> 