<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript" src="js/print_min.js"></script>

<div ng-show="MainReportPenerimaan_Show" class="fi-outermost">
	<div class="row" style="margin-top: 10px;">
		<div>
			<div class="col-md-3">
				<div class="form-group">
					<bsreqlabel>Tanggal Incoming Payment</bsreqlabel>
					<bsdatepicker name="TanggalStart" date-options="dateOptions" format="dd/MM/yyyy"
						ng-model="ReportPenerimaan_TanggalStart" max-date="dateNow">
					</bsdatepicker>
				</div>
			</div>

			<!-- <div class="col-md-1" style="margin-top:30px" align="center">
				<bslabel>s.d.</bslabel>
			</div> -->
			<div class="col-md-3">
				<div class="form-group">
					<label>s.d.</label>
					<bsdatepicker name="TanggalEnd" date-options="dateOptions" format="dd/MM/yyyy"
						ng-model="ReportPenerimaan_TanggalEnd" max-date="dateNow">
					</bsdatepicker>
				</div>
			</div>

			<div class="col-md-3">
				<bsreqlabel>Nama Branch</bsreqlabel>
				<div class="input-icon-right; ">
					<bsselect ng-model="ReportPenerimaan_NamaBranch" data="optionsReportPenerimaan_NamaBranch" ng-change="ReportPenerimaan_NamaBranch_Changed()"
						item-text="BranchName" item-value="BranchId" on-select="value(selected)" placeholder="Branch"
						icon="fa fa-search" ng-disabled="!Main_NamaBranch_EnableDisable">
					</bsselect>
				</div>
			</div>
			<div class="col-md-2">

			</div>
		</div>
		<div class="col-md-3" ng-show="Show_RadioBtnRpt">
			<label>Format</label>
			<div class="input-icon-right; ">
				<input type="radio" ng-model="FormatDownloadRptPenerimaan_SearchBy" ng-value="1"
					ng-change="FormatDownloadRptPenerimaan_SearchBy_ValueChanged()">Excel</input>
				<br>
				<input type="radio" ng-model="FormatDownloadRptPenerimaan_SearchBy" ng-value="2"
					ng-change="FormatDownloadRptPenerimaan_SearchBy_ValueChanged()">PDF</input>
			</div>
		</div>
	</div>
</div>

<div class="row" style="margin-top:10px;">
	<div>
		<div class="col-md-3">
			<bsreqlabel>Metode Pembayaran</bsreqlabel>
			<bsselect ng-change="ReportPenerimaan_MetodePembayaran_Changed()"
				ng-model="ReportPenerimaan_MetodePembayaran" data="ReportPenerimaan_MetodePembayaranOptions"
				item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih" icon="fa fa-search">
			</bsselect>
		</div>

		<!-- <div class="col-md-1">
				<label></label>
			</div> -->

		<div class="col-md-3"  ng-show="ReportPenerimaan_NomorRekening_Show">
			<bsreqlabel>Nomor Rekening</bsreqlabel>
			<bsselect ng-change="ReportPenerimaan_NomorRekening_Changed()" ng-model="ReportPenerimaan_NomorRekening"
				data="ReportPenerimaan_NomorRekeningOptions" ng-disabled="ReportPenerimaan_NomorRekening_EnableDisable"
				item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih" icon="fa fa-search">
			</bsselect>
		</div>

		<div class="col-md-3" ng-show="ReportPenerimaan_MesinEDC_Show" >
			<bsreqlabel>Nama Mensin EDC</bsreqlabel>
			<bsselect ng-change="ReportPenerimaan_MesinEDC_Changed()" ng-model="ReportPenerimaan_MesinEDC"
				data="ReportPenerimaan_MesinEDCOptions" ng-disabled="ReportPenerimaan_MesinEDC_EnableDisable"
				item-text="EDCName" item-value="EDCId" on-select="EDCId(selected)" placeholder="Pilih" icon="fa fa-search">
			</bsselect>
		</div>

		<div class="col-md-3">
			<div class="form-group">
				<label>Nama Bank</label>
				<div class="input-icon-right; ">
					<input type="text" class="form-control " name="NamaVendor " placeholder="Nama Bank"
						ng-model="ReportPenerimaan_NamaBank" readonly ng-maxlength="100 ">
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-show="Show_DownloadPdf">
	<div class="row">
		<div class="pull-right">
			<button id="ReportPenerimaan_PDF" ng-click="ReportPenerimaan_PDF_Clicked()" type="button"
				class="rbtn btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					PDF
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
</div>
<div ng-show="Show_DownloadExcel">
	<div class="row">
		<div class="pull-right">
			<button id="ReportPenerimaan_PDF" ng-click="ReportPenerimaan_PDF_Clicked()" type="button"
				class="rbtn btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					Excel
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
</div>
</div>