<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4" style="padding-left:0px;">
                        <div class="form-group">
                            <bsreqlabel>Nomor Estimasi</bsreqlabel>
                            <input type="text" min=0 class="form-control" name="NomorWo" ng-model="mData.EstimationNo" ng-disabled=true skip-enable disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <!-- <bsreqlabel>Estimation Date</bsreqlabel> -->
                            <bsreqlabel>Tanggal WO</bsreqlabel>

                            <div class="form-group" style="width:250px;">
                                <bsdatepicker name="estimationDate" date-options="DateOptions" ng-model="mData.EstimationDate">
                                </bsdatepicker>
                                <bserrmsg field="estimationDate"></bserrmsg>
                            </div>
                            <!--<div class="col-md-3">
                        </div>
                        <div class="col-md-9 form-inline">
                        </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--             <div class="row">
                <div class="btn-group pull-right">
                    <button type="button" class="rbtn btn">Buat Estimasi Baru</button>
                </div>
            </div> -->
            <!-- <bstabwiz fullwidth="true" on-finish="isFinished = true" current-step="currentStep">

                <bstabwiz-pane title="Kendaraan" desc="Data Informasi Kendaraan">
                    
                </bstabwiz-pane>
                <bstabwiz-pane title="Mantap 1" desc="Data Informasi Kendaraan 1">
                    
                </bstabwiz-pane>
                <bstabwiz-pane title="Mantap 2" desc="Data Informasi Kendaraan 2">
                    
                </bstabwiz-pane>
                <bstabwiz-pane title="Mantap 3" desc="Data Informasi Kendaraan3 ">
                    
                </bstabwiz-pane>
            </bstabwiz> -->
            <uib-tabset active="activeJustified" justified="true" style="margin-top: 40px;">
                <uib-tab class="headerEstimation" ng-repeat="header in headerEst" index='$index' ng-click='getTimeEst($index+1)' disable="(isNextTab.priceEstimation && $index == 1) || (isNextWO == true && isWACBPSatelit == false)" heading="{{header.name}}">
                    <div ng-if="$index == 0">
                        <!-- <h1>Vehicle Condition Detail Here</h1> -->
                        <!-- added by sss on 2017-10-11 -->
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <bsreqlabel>Type Kendaraan</bsreqlabel>
                                        <!-- <bsselect name="filterType" ng-model="filter.vTypeVC" data="VTypeData" item-text="Name" item-value="MasterId" placeholder="Pilih Type Kendaraan" on-select="chooseVTypeVC(selected)" icon="fa fa-car">
                                        </bsselect> -->
                                        <!-- <i class="fa fa-car"></i> -->
                                        <!-- <select name="filterType" class="form-control" ng-model="filter.vTypeVC" convert-to-number item-text="Name" item-value="MasterId" placeholder="Pilih Type Kendaraan" ng-change="chooseVTypeVC(filter.vTypeVC)" icon="fa fa-car">
                                            <option value=""></option>
                                            <option ng-repeat="VTypeData in VTypeData" value="{{VTypeData.MasterId}}">{{VTypeData.Name}}</option>
                                        </select> -->
                                        <div class="icon-addon left-addon ui-select"><i class="fa fa-car"></i>
                                            <ui-select skip-focusser="true" onkeypress="return false;" onfocus="blur();" name="vehicType"  ng-model="filter.vTypeVC" icon="fa fa-car" on-select="chooseVTypeVC($item.MasterId)" search-enabled="false" skip-enable theme="select2" id="EstimasiType">
                                                <ui-select-match style="padding-left:30px;" placeholder="Pilih Tipe Kendaraan">
                                                    {{$select.selected.Name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in VTypeData">
                                                    <span ng-bind-html="item.Name"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <button ng-click="refreshWAC()" class="rbtn btn" >Refresh Gambar</button> -->
                            <div class="row" ng-if="refresh && imageSelVC != null">
                                <div class="col-md-12" ng-style="customHeight" ng-if="isTablet">
                                    <img ng-init="this.init" ng-areas="areasArrayVC" ng-areas-width="680" ng-areas-allow="{'edit':true, 'move':false, 'resize':false, 'select':false, 'remove':false, 'nudge':false}" ng-src="{{imageSelVC}}" ng-areas-on-add="onAddArea" ng-areas-on-remove="onRemoveArea"
                                        ng-areas-on-change="onChangeAreas" ng-areas-on-choose="doClickVC" ng-areas-extend-data="statusObj" area-api="areaApi">
                                    <!-- <pre>{{logDots}}</pre>  -->
                                </div>
                                <div class="col-md-12" ng-style="customHeight" ng-if="!isTablet">
                                    <img ng-init="this.init" ng-areas="areasArrayVC" ng-areas-width="800" ng-areas-allow="{'edit':true, 'move':false, 'resize':false, 'select':false, 'remove':false, 'nudge':false}" ng-src="{{imageSelVC}}" ng-areas-on-add="onAddArea" ng-areas-on-remove="onRemoveArea"
                                        ng-areas-on-change="onChangeAreas" ng-areas-on-choose="doClickVC" ng-areas-extend-data="statusObj" area-api="areaApi">
                                    <!-- <pre>{{logDots}}</pre>  -->
                                </div>
                            </div>
                            <div class="row" ng-show="!disableWACExtVC">
                                <div class="col-md-12">
                                    <!-- <div ui-grid="gridVC" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize ui-grid-edit class="grid" ng-style="getTableHeight()">
                                        <div class="ui-grid-nodata" ng-if="!gridVC.data.length && !loading" ng-cloak>No data available</div>
                                        
                                    </div> -->
                                    <table id="estGridVc" width="100%" class="table table-striped table-bordered table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <th ng-style="{'width':'{{col.width}}'}" ng-hide="col.visible == false" ng-repeat="col in gridVC.columnDefs">{{col.name}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="column in gridVC.data">
                                                <td ng-hide="true" style="width:5%">{{column.JobWACExtId}}</td>
                                                <td style="width:28%">{{column.ItemName}}</td>
                                                <td style="width:47%" style="padding:0px">
                                                    <div class="col-md-12 col-xs-12">
                                                        <div ng-repeat="item in StatusVehicle" style="float:left;padding-right:15px;padding-left:15px;">
                                                            <label class="radio">
                                                                <input class="radiobox style-0" ng-model="column.StatusVehicleId" type="radio" ng-change="checkTaskByVehicleCondtion(gridVC.data,1,column.StatusVehicleId)" ng-value={{item.MasterId}}><span>{{item.Name}}</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width:25%" style="padding:0px">
                                                    <div class="col-md-12 col-xs-12">
                                                        <div ng-repeat="item in PointsVehicle" ng-if="(column.StatusVehicleId !== undefined && column.StatusVehicleId !== null && column.typeName == 1)" style="float:left;padding-right:10px;padding-left:10px;">
                                                            <label class="radio">
                                                                <input class="radiobox style-0" ng-model="column.PointId" type="radio" ng-change="checkTaskByVehicleCondtion(gridVC.data,0,column.PointId)" ng-value={{item.MasterId}}><span>{{item.Name}}</span>                                                                
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td ng-hide="true" style="width:5%">{{column.typeName}}</td>
                                            </tr>
                                            <tr ng-if="!gridVC.data.length">
                                                <td colspan="{{gridVC.columnDefs.length}}">
                                                    <div style="opacity: .25;font-size: 3em;width: 100%;text-align: center;z-index: 1000;">No Data Available</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <bscheckbox ng-model="disableWACExtVC" label="Clear" true-value="true" false-value="false" ng-change="chgChkVC()">
                                        </bscheckbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                    <div ng-if="$index == 1">
                        <uib-accordion close-others="oneAtATime">
                            <form>
                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Permintaan
                                    </uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <bslist form-name="jobEstimateRequestBuatBP" data="JobRequest" m-id="JobRequestId" list-model="lmRequest" on-select-rows="onListSelectRows" selected-rows="listRequestSelectedRows" confirm-save="false" list-api="listApiEstimateRequest" button-settings="listButtonSettings"
                                                modal-size="small" modal-title="Permintaan" list-title="Permintaan" list-height="200">
                                                <bslist-template>
                                                    <div>
                                                        <div class="form-group">
                                                            <textarea class="form-control" placeholder="Permintaan" ng-model="lmItem.RequestDesc" ng-disabled="true" skip-enable>
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </bslist-template>
                                                <bslist-modal-form>
                                                    <div ng-form="rowRequest">
                                                        <div class="form-group" show-errors>
                                                            <bsreqlabel>Permintaan</bsreqlabel>
                                                            <textarea class="form-control" ng-maxtlength="200" maxlength="200" placeholder="Permintaan" name='reqdesc' ng-model="lmRequest.RequestDesc" required>
                                                            </textarea>
                                                            <em ng-messages="rowRequest.reqdesc.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                                                                <p ng-message="required">Wajib diisi</p>
                                                            </em>
                                                        </div>
                                                    </div>
                                                </bslist-modal-form>
                                            </bslist>
                                        </div>
                                    </div>
                                </div>
                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Keluhan
                                    </uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <bslist data="JobComplaint" form-name="jobEstimateComplaintBuatBP" m-id="JobComplaintId" list-model="lmComplaint" on-select-rows="onListSelectRows" selected-rows="listComplaintSelectedRows" confirm-save="fals" list-api="listApiEstimateComplaint" button-settings="listButtonSettings"
                                                modal-size="small" modal-title="Keluhan" list-title="Keluhan" list-height="200">
                                                <bslist-template>
                                                    <div>
                                                        <div class="form-group">
                                                            <bsreqlabel>Kategori: </bsreqlabel>
                                                            <!-- <bsselect data="vm.appScope.ComplaintCategory" item-value="ComplaintCatg" item-text="ComplaintCatg" ng-model="lmItem.ComplaintCatg" placeholder="Kategori:" ng-disabled="true" skip-enable>
                                                            </bsselect> -->
                                                            <select class="form-control" data="vm.appScope.ComplaintCategory" ng-model="lmItem.ComplaintCatg" placeholder="Kategori:" ng-disabled="true" skip-enable>
                                                                <option ng-repeat="vaC in vm.appScope.ComplaintCategory" value="{{vaC.ComplaintCatg}}">{{vaC.ComplaintCatg}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <textarea class="form-control" placeholder="Deskripsi" ng-model="lmItem.ComplaintDesc" ng-disabled="true" skip-enable>
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </bslist-template>
                                                <bslist-modal-form>
                                                    <div ng-form="rowcomplaint" style="margin-bottom:90px;">
                                                        <div class="form-group">
                                                            <bsreqlabel>Kategori</bsreqlabel>
                                                            <!-- <bsselect data="ComplaintCategory" name="ctype" item-value="ComplaintCatg" item-text="ComplaintCatg" ng-model="lmComplaint.ComplaintCatg" placeholder="Kategori" required>
                                                            </bsselect> -->
                                                            <select class="form-control" data="ComplaintCategory" name="ctype" ng-model="lmComplaint.ComplaintCatg" placeholder="Kategori" required>
                                                                <option ng-repeat="ComplaintCategory in ComplaintCategory" value="{{ComplaintCategory.ComplaintCatg}}">{{ComplaintCategory.ComplaintCatg}}</option>
                                                            </select>
                                                            <em ng-messages="rowcomplaint.ctype.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                                                                <p ng-message="required">Wajib diisi</p>
                                                            </em>
                                                            <!-- <bserrmsg field="ctype"></bserrmsg> -->
                                                        </div>
                                                        <div class="form-group">
                                                            <bsreqlabel>Deskripsi</bsreqlabel>
                                                            <textarea class="form-control" ng-maxlength="200" maxlength="200" placeholder="Deskripsi" name="ctext" ng-model="lmComplaint.ComplaintDesc" required>
                                                            </textarea>
                                                            <em ng-messages="rowcomplaint.ctext.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                                                                <p ng-message="required">Wajib diisi</p>
                                                            </em>
                                                            <!-- <bserrmsg field="ctext"></bserrmsg> -->
                                                        </div>
                                                    </div>
                                                </bslist-modal-form>
                                            </bslist>
                                        </div>
                                    </div>
                                </div>
                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Job List
                                    </uib-accordion-heading>
                                    <div class="row" style="margin-bottom:25px;">
                                        <div class="col-md-12">
                                            
                                            <div class="col-md-6" ng-if="gatein_pds == false">
                                                <bsreqlabel>Kategori WO</bsreqlabel>
                                                <!-- <bsselect name="woCategory" ng-model="mData.WoCategoryId" data="woCategory" item-text="Name" item-value="MasterId" placeholder="Pilih Kategori WO" on-select="selectCatWO(selected)" icon="fa fa-list">
                                                </bsselect> -->
                                                <select ng-if="mDataCrm.Vehicle.isNonTAM != 1" class="form-control" name="woCategory" ng-model="mData.WoCategoryId" data="woCategory" placeholder="Pilih Kategori WO" ng-change="changeCatWO(mData.WoCategoryId, woCategory)" on-select="selectCatWO(selected)" icon="fa fa-list">
                                                    <option ng-repeat="woCategory in woCategory" value="{{woCategory.MasterId}}">{{woCategory.Name}}</option>
                                                </select>
                                                <select ng-if="mDataCrm.Vehicle.isNonTAM == 1" class="form-control" name="woCategory" ng-model="mData.WoCategoryId" data="woCategory_nontam" placeholder="Pilih Kategori WO" ng-change="changeCatWO(mData.WoCategoryId, woCategory)" on-select="selectCatWO(selected)" icon="fa fa-list">
                                                    <option ng-repeat="woCategory in woCategory_nontam" value="{{woCategory.MasterId}}">{{woCategory.Name}}</option>
                                                </select>
                                            </div>

                                            <div class="col-md-6" ng-if="gatein_pds == true">
                                                <bsreqlabel>Kategori WO</bsreqlabel>
                                                <!-- <bsselect name="woCategory" ng-model="mData.WoCategoryId" data="woCategory" item-text="Name" item-value="MasterId" placeholder="Pilih Kategori WO" on-select="selectCatWO(selected)" icon="fa fa-list">
                                                </bsselect> -->
                                                <select ng-if="mDataCrm.Vehicle.isNonTAM != 1" class="form-control" name="woCategory" ng-model="mData.WoCategoryId" data="woCategory_pds" placeholder="Pilih Kategori WO" ng-change="changeCatWO(mData.WoCategoryId, woCategory)" on-select="selectCatWO(selected)" icon="fa fa-list">
                                                    <option ng-repeat="woCategory in woCategory_pds" value="{{woCategory.MasterId}}">{{woCategory.Name}}</option>
                                                </select>
                                                <select ng-if="mDataCrm.Vehicle.isNonTAM == 1" class="form-control" name="woCategory" ng-model="mData.WoCategoryId" data="woCategory_nontam" placeholder="Pilih Kategori WO" ng-change="changeCatWO(mData.WoCategoryId, woCategory)" on-select="selectCatWO(selected)" icon="fa fa-list">
                                                    <option ng-repeat="woCategory in woCategory_nontam" value="{{woCategory.MasterId}}">{{woCategory.Name}}</option>
                                                </select>
                                            </div>

                                            <div class="col-md-6">
                                                <bsreqlabel>Kategori Perbaikan</bsreqlabel>
                                                <!-- <bsselect name="CatPerbaikan" ng-model="mData.JobCatgForBP" data="CatPerbaikan" item-text="Name" item-value="MasterId" placeholder="Pilih Kategori Perbaikan" on-select="selectedCatPerbaikan(selected)" icon="fa fa-list">
                                                </bsselect> -->
                                                <select class="form-control" name="CatPerbaikan" ng-model="mData.JobCatgForBPid" data="CatPerbaikan" placeholder="Pilih Kategori Perbaikan" on-select="selectedCatPerbaikan(selected)" icon="fa fa-list">
                                                    <option ng-repeat="CatPerbaikan in CatPerbaikan" value="{{CatPerbaikan.MasterId}}">{{CatPerbaikan.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" id="jobestimasi">
                                            <uib-accordion close-others="true">
                                                <div uib-accordion-group class="panel-default" style="margin-top: 15px;">
                                                    <uib-accordion-heading>
                                                        <span>No Estimasi :</span>
                                                        <br>
                                                        <span ng-if="tmpDataEst.length <= 1">Estimasi 1 : {{tmpDataEst[0].EstimateNO}} </span>
                                                        <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;height: 50px">
                                                            <div class="col-md-4" style="margin-top: 10px;padding-left: 0px;padding-right: 0px;" ng-if="tmpDataEst.length > 1" ng-repeat="b in tmpDataEst">
                                                                 Estimasi {{$index + 1}}: {{b.EstimateNO}}
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </uib-accordion-heading>
                                                    <div class="col-md-12">
                                                      <bslist form-name="jobEstimateListBuatBP" on-before-edit="onBeforeEditEstimate" data="gridWorkEstimate" on-before-save="onBeforeSaveEstimate" on-before-new="onBeforeNewEstimate" on-after-save="onAfterSaveEstimate" on-after-delete="onAfterDeleteEstimate"
                                                          m-id="TaskBPId" d-id="PartsId" list-model="lmModel" list-detail-model="ldModel" grid-detail="gridPartsDetailEstimate" on-select-rows="onListSelectRows" selected-rows="listEstimateSelectedRows" list-api='listApiEstimate'
                                                          modal-title="Job Data" modal-title-detail="Parts Data" list-title="Job List">
                                                          <bslist-template>
                                                              <div class="col-md-1" style="text-align:left;">
                                                                  <p class="name"><strong>{{ lmItem.NumberParent }}</strong></p>
                                                              </div>
                                                              <div class="col-md-5" style="text-align:left;">
                                                                  <!-- <div class="col-md-12">
                                                                      <p class="name"><strong>{{ lmItem.EstimationNo }}</strong></p>
                                                                  </div> -->
                                                                  <div class="col-md-12">
                                                                      <p class="name"><strong>{{ lmItem.TaskName }}</strong></p>
                                                                  </div>
                                                                  <div class="col-md-12">
                                                                      <p>Harga : {{lmItem.Fare * ((lmItem.FlatRate == null || lmItem.FlatRate == undefined) ? 1 :  lmItem.FlatRate) | currency:"Rp. ":0}}</p>
                                                                  </div>
                                                              </div>
                                                              <div class="col-md-3">
                                                                  <p>Satuan : {{lmItem.UnitBy}}</p>
                                                                  <p>Pembayaran : {{lmItem.PaidBy}}</p>
                                                              </div>
                                                              <div class="col-md-3" style="text-align:right;">
                                                                  <p>{{lmItem.EstNoUI}}</p>
                                                              </div>
                                                          </bslist-template>
                                                          <bslist-detail-template>
                                                              <div class="col-md-1">
                                                                  <p><strong>{{ ldItem.NumberChild }}</strong></p> 
                                                              </div>
                                                              <div class="col-md-3">
                                                                  <p><strong>{{ ldItem.PartsCode }}</strong></p>
                                                                  <p>{{ ldItem.PartsName }}</p>
                                                              </div>
                                                              <div class="col-md-3">
                                                                  <p>{{ ldItem.Availbility }}
                                                                  </p>
                                                                  <p>Pembayaran : {{ ldItem.PaidBy}}</p>
                                                              </div>
                                                              <div class="col-md-3">
                                                                  <p>Jumlah : {{ldItem.Qty}} {{ldItem.Name}}
                                                                  </p>
                                                                  <p>Harga : {{ ldItem.RetailPrice | currency:"Rp. ":0}}</p>
                                                              </div>
                                                              <div class="col-md-2">
                                                                  <p>ETA : {{ ldItem.ETA | date:'dd-MM-yyyy'}}
                                                                  </p>
                                                                  <!-- <p>Reserve : {{ ldItem.Qty }}</p> -->
                                                                    <p ng-if="ldItem.QtyReserved >= 0">Reserve : {{ ldItem.QtyReserved }}</p>
                                                                    <p ng-if="ldItem.QtyReserved == null || ldItem.QtyReserved == undefined">Reserve : 0</p>
                                                              </div>
                                                          </bslist-detail-template>
                                                          <bslist-modal-form>
                                                              <div class="row">
                                                                  <div ng-include="'app/services/reception/wo_bp/includeForm/modalFormMasterEstimate.html'">
                                                                  </div>
                                                              </div>
                                                          </bslist-modal-form>
                                                          <bslist-modal-detail-form>
                                                              <div class="row">
                                                                  <div ng-include="'app/services/reception/wo_bp/includeForm/modalFormDetailEstimate.html'">
                                                                  </div>
                                                              </div>
                                                          </bslist-modal-detail-form>
                                                      </bslist>
                                                    </div>
                                                </div>
                                            </uib-accordion>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </uib-accordion>
                    </div>
                    <div ng-if="$index == 2" smart-include="app/services/reception/wo_bp/includeForm/estimationFormInclude/timeEstimation.html">
                    </div>
                    <div ng-if="$index == 3">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <bsreqlabel>No Polisi</bsreqlabel>
                                        <input type="text" class="form-control" ng-model="mDataCrm.Vehicle.LicensePlate" placeholder="No Polisi">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <!-- <bsreqlabel>No Wo Estimasi</bsreqlabel> -->
                                        <bsreqlabel>No. Wo</bsreqlabel>

                                        <input type="text" ng-disabled="true" skip-enable class="form-control" disabled="disabled" ng-disabled="true" placeholder="No WO ">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <bsreqlabel>Category</bsreqlabel>
                                        <!-- <bsselect name="Category" ng-model="mData.WoCategoryId" data="woCategory" item-text="Name" item-value="MasterId" placeholder="Pilih Kategori" required>
                                        </bsselect> -->
                                        <select class="form-control" name="Category" ng-model="mData.WoCategoryId" data="woCategory" item-text="Name" item-value="MasterId" placeholder="Pilih Kategori" required>
                                            <option ng-repeat="woCategory in woCategory" value="{{woCategory.MasterId}}">{{woCategory.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <uib-accordion close-others="oneAtATime">
                            <form>
                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Job Summary
                                    </uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <bslist data="gridWorkEstimate" m-id="TaskId" d-id="PartsId" on-after-save="onAfterSave" on-after-delete="onAfterDelete" list-model="lmModel" list-detail-model="ldModel" grid-detail="gridPartsDetail" on-select-rows="onListSelectRows" selected-rows="listSelectedRows"
                                                list-api='listApiEstimateSummary' confirm-save="true" list-title="Job List" modal-title="Job Data" modal-title-detail="Parts Data" list-height="120" button-settings="listView">
                                                <bslist-template>
                                                    <div class="col-md-1" style="text-align:left;">
                                                        <p class="name"><strong>{{ lmItem.NumberParent }}</strong></p>
                                                    </div>
                                                    <div class="col-md-6" style="text-align:left;">
                                                        <div class="col-md-12">
                                                            <p class="name"><strong>{{ lmItem.EstimationNo }}</strong></p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <p class="name"><strong>{{ lmItem.TaskName }}</strong></p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <p>Harga : {{lmItem.Fare | currency:"Rp. ":0}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <p>Satuan : {{lmItem.UnitBy}}</p>
                                                        <p>Pembayaran : {{lmItem.PaidBy}}</p>
                                                    </div>
                                                </bslist-template>
                                                <bslist-detail-template>
                                                    <div class="col-md-1">
                                                        <p><strong>{{ ldItem.NumberChild }}</strong></p> 
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p><strong>{{ ldItem.PartsCode }}</strong></p>
                                                        <p>{{ ldItem.PartsName }}</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p>{{ ldItem.Availbility }}
                                                        </p>
                                                        <p>Pembayaran : {{ ldItem.PaidBy}}</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p>Jumlah : {{ldItem.Qty}} {{ldItem.Name}}
                                                        </p>
                                                        <p>Harga : {{ ldItem.RetailPrice | currency:"Rp. ":0}}</p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <p>ETA : {{ ldItem.ETA | date:'dd-MM-yyyy'}}
                                                        </p>
                                                        <p>Reserve : {{ ldItem.Qty }}</p>
                                                    </div>
                                                </bslist-detail-template>
                                                <bslist-modal-form>
                                                    <div class="row">
                                                        <!-- <div ng-include="'app/services/appointment/appointmentServiceBp/modalFormMaster.html'"> -->
                                                        <div ng-include="'app/services/lib/ModalAppointmentBP/modalFormMaster.html'">
                                                        </div>
                                                    </div>
                                                </bslist-modal-form>
                                                <bslist-modal-detail-form>
                                                    <div class="row">
                                                        <div ng-include="'app/services/reception/wo_bp/includeForm/modalFormDetail.html'">
                                                        </div>
                                                    </div>
                                                </bslist-modal-detail-form>
                                            </bslist>
                                        </div>
                                    </div>
                                </div>
                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Price Summary
                                    </uib-accordion-heading>
                                    <div class="col-md-12">
                                        <table id="example" class="table table-striped table-bordered" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Item</th>
                                                    <th>Harga</th>
                                                    <th>Disc</th>
                                                    <th>Sub Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Estimasi Service / Jasa</td>
                                                    <td style="text-align: right"><span style="float: left;">Rp. </span>{{totalWorkEstimate | currency:"":0}}</td>
                                                    <!-- <td style="text-align: right"><span style="float: left;">Rp. </span>{{(totalWorkEstimate - totalWorkDiscountedEstimate) | currency:"":0}}</td> -->
                                                    <td style="text-align: right"><span style="float: left;">Rp. </span>{{totalWorkDiscountedEstimate | currency:"":0}}</td>
                                                    <td style="text-align: right"><span style="float: left;">Rp. </span>{{ (totalWorkEstimate - totalWorkDiscountedEstimate ) | currency:"":0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Estimasi Material (Parts / Bahan)</td>
                                                    <td style="text-align: right"><span style="float: left;">Rp. </span>{{totalMaterialEstimate | currency:"":0}}</td>
                                                    <td style="text-align: right"><span style="float: left;">Rp. </span>{{totalMaterialDiscountedEstimate | currency:"":0}}</td>
                                                    <td style="text-align: right"><span style="float: left;">Rp. </span>{{ ( totalMaterialEstimate - totalMaterialDiscountedEstimate) | currency:"":0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Total DP Parts Material/Bahan</td>
                                                    <td style="text-align: right"><span style="float: left;">Rp. </span>{{totalDpEstimate | currency:"":0}}</td>
                                                    <td style="text-align: right"><span style="float: left;">Rp. </span>{{(0) | currency:"":0}}</td>
                                                    <td style="text-align: right"><span style="float: left;">Rp. </span>{{totalDpEstimate | currency:"":0}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Time Summary
                                    </uib-accordion-heading>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>Body</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-readonly='true' ng-model="arrEstTime[0]" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>Putty</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-readonly='true' ng-model="arrEstTime[1]" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="margin-top:10px; ">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>Surfacer</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-readonly='true' ng-model="arrEstTime[2]" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="margin-top:10px; ">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>Painting</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-readonly='true' ng-model="arrEstTime[3]" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" style="margin-top:10px; ">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>Polishing</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-readonly='true' ng-model="arrEstTime[4]" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="margin-top:10px; ">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>Re-Assembly</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-readonly='true' ng-model="arrEstTime[5]" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="margin-top:10px; ">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>Final Inspection</bsreqlabel>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-readonly='true' ng-model="arrEstTime[6]" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12" style="margin-top:10px; background-color:lightgreen;">
                                                <div class="form-group">
                                                    <div class="col-xs-4" style="margin-top:10px; width: 24.38%">
                                                        <bsreqlabel style="color:white;font-weight: bold; font-size: 14px;">Total Pengerjaan</bsreqlabel>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input type="text" ng-model="estHours" size='15' class="form-control" ng-readonly='true' />
                                                        
                                                    </div>
                                                    <div style="margin-top:10px;" class="col-xs-2">
                                                        <label>Jam</label>
                                                        <img src="images/rightarrow.png">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input type="text" ng-model="estDays" size='15' class="form-control" ng-readonly='true' />
                                                    </div>
                                                    <div style="margin-top:10px;" class="col-xs-1">
                                                        <label>Hari</label>
                                                    </div>
                                                    <!-- <div class="col-xs-6 col-md-2">
                                                        <input type="text" ng-model="estHours" size='6' ng-readonly="true">&nbsp;<label>Jam</label>&nbsp;
                                                        <img src="images/rightarrow.png">&nbsp;
                                                        <input type="text" ng-model="estDays" size='6' ng-readonly="true">&nbsp;<label><strong>Hari</strong></label>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </uib-accordion>
                        <div class="row" ng-show="isCenter">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="col-xs-6 col-sm-6 col-md-6 btn-group">
                                    <!-- <button type="button" class="rbtn btn ng-binding">
                                        Pengajuan Claim
                                    </button> -->
                                    <!-- added by sss on 2017-09-25 -->
                                    <!-- ini di minta jng di tampilin dl pada tanggal 30/01/2019 -->
                                    <button type="button" ng-click="claimShow(mData)" class="rbtn btn" ng-show="false"> 
                                        Pengajuan Claim
                                    </button>
                                    <!--  -->
                                    <!-- <button type="button" class="rbtn btn ng-binding">
                                        Print Preview
                                    </button> -->
                                    <!-- added by sss on 2017-10-03 -->
                                    <!-- <button type="button" ng-click="createBSTK(mData)" class="rbtn btn">
                                        Print Preview
                                    </button> -->
                                    <!--  -->
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <button type="button" ng-hide="isNextWO" skip-enable 
                                    ng-disabled="isNextWO || disableButtonNextWO || (mData.WoCategoryId == null || mData.WoCategoryId == undefined || mData.JobCatgForBPid == null || mData.JobCatgForBPid == undefined)" 
                                    ng-click="SaveEstimation(mData,isNextWO)" class="rbtn btn ng-binding pull-right">
                                        Tidak Lanjut WO
                                    </button>
                                    <button skip-enable type="button" ng-hide="isNextWO" 
                                    ng-disabled="disableButtonNextWO || (mData.WoCategoryId == null || mData.WoCategoryId == undefined || mData.JobCatgForBPid == null || mData.JobCatgForBPid == undefined)" 
                                    ng-click="NextWO()" class="rbtn btn ng-binding pull-right">
                                        Lanjut
                                    </button>
                                    <button type="button" ng-hide="isNextWO" name="CloseWO" ng-click="cancelWoBP(mData)" class="rbtn btn ng-binding pull-right">
                                        Batal WO
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>