<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="activeJustified" justified="true" style="margin-top: 40px;">
                <uib-tab ng-repeat="header in headerJB" index=$index heading="{{header.name}}" class="headerJobList">
                    <div ng-if="$index == 0">
                        <uib-accordion close-others="false">
                            <form>
                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Payment
                                    </uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <fieldset style="border:2px solid #e2e2e2;padding:20px">
                                                <legend style="width:inherit;margin:0px;border-bottom:0px;">Pembayaran</legend>
                                                <div class="col-md-6">
                                                    <div class="radio">
                                                        <label class="radio" style="margin-top:5px;margin-bottom:6px;">
                                                            <input type="radio" name="typePembayaran" class="radiobox style-0"
                                                                ng-model="mData.isCash"
                                                                ng-click="cekPaymentlist(mData.isCash)"
                                                                ng-disabled=""
                                                                value="0">
                                                            <span>Asuransi</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="radio">
                                                        <label class="radio" style="margin-top:5px;margin-bottom:6px;">
                                                            <input type="radio" name="typePembayaran" class="radiobox style-0"
                                                                ng-model="mData.isCash"
                                                                ng-click="cekPaymentlist(mData.isCash)"
                                                                ng-disabled=""
                                                                value="1">
                                                            <span>Cash</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group" ng-show="mData.isCash == 0">
                                                        <bsreqlabel>Nama Asuransi</bsreqlabel>
                                                        <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="Asuransi" ng-model="mData.InsuranceName" data="Asuransi" item-text="InsuranceName" item-value="InsuranceName" placeholder="Choose Asuransi" on-select="selectInsurance(selected)" icon="fa fa-building">
                                                        </bsselect>
                                                        <!-- <select class="form-control" name="Asuransi" ng-model="mData.InsuranceName" data="Asuransi" item-text="InsuranceName" item-value="InsuranceName" placeholder="Choose Asuransi" ng-change="selectInsurance(selected)" icon="fa fa-building">
                                                            <option ng-repeat="Asuransi in Asuransi" value="{{Asuransi.InsuranceName}}">{{Asuransi.InsuranceName}}</option>
                                                        </select> -->
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset ng-show="mData.isCash == 0" style="border:2px solid #e2e2e2;padding:20px">
                                                <legend style="width:inherit;margin:0px;border-bottom:0px;">Ada SPK</legend>
                                                <div class="col-md-6">
                                                    <div class="radio">
                                                        <label class="radio" style="margin-top:5px;margin-bottom:6px;">
                                                            <input type="radio" name="typeSPK" class="radiobox style-0"
                                                                ng-model="mData.isSpk"
                                                                ng-click="cekSPKlist(mData.isSpk)"
                                                                ng-disabled=""
                                                                value="1">
                                                            <span>Ya</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="radio">
                                                        <label class="radio" style="margin-top:5px;margin-bottom:6px;">
                                                            <input type="radio" name="typeSPK" class="radiobox style-0"
                                                                ng-model="mData.isSpk"
                                                                ng-click="cekSPKlist(mData.isSpk)"
                                                                ng-disabled=""
                                                                value="0">
                                                            <span>Tidak</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div ng-show="mData.isSpk == '1'" class="col-md-12">
                                                    <!-- <div class="col-md-12"> -->
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <bsreqlabel>No. SPK</bsreqlabel>
                                                            <input type="text" class="form-control" name="noSPK" placeholder="No SPK" ng-model="mData.SpkNo" ng-maxlength="100" maxlength="100">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="btn-group" style="margin-top:25px;">
                                                            <!-- <button type="button" ng-click="preDiagnose()" class="rbtn btn ng-binding"> -->
                                                            <!-- stlh pilih insurance, kl integrationBit ny 0 disable, kl slain 0 enable -->
                                                            <!-- kl ya pk spk, input no spk, kl tidak, tdk input spk -->
                                                            <button type="button" id="btnCekSPK" ng-click="preDiagnose()" class="rbtn btn ng-binding">
                                                                <i class="fa fa-fw fa-save"></i>
                                                                Cek SPK
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-show="mData.isSpk == 1" class="col-md-12">
                                                    <bsreqlabel>Own Risk Amount</bsreqlabel>
                                                    <input type="text" class="form-control" name="ORAmount" ng-model="mData.ORAmount" ng-keyup="givePatternHarga(mData.ORAmount,$event)" ng-maxlength="10" maxlength="10">
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Permintaan
                                    </uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <bslist form-name="jobRequestBuatBP" data="JobRequest" m-id="JobRequestId" list-model="lmRequest" on-select-rows="onListSelectRows" selected-rows="listRequestSelectedRows" confirm-save="false" list-api="listApiJobRequest" button-settings="listButtonSettings"
                                                modal-size="small" modal-title="Permintaan" list-title="Permintaan" list-height="200">
                                                <bslist-template>
                                                    <div>
                                                        <div class="form-group">
                                                            <textarea class="form-control" placeholder="Permintaan" ng-model="lmItem.RequestDesc" ng-disabled="true" skip-enable>
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </bslist-template>
                                                <bslist-modal-form>
                                                    <div ng-form="rowRequest">
                                                        <div class="form-group" show-errors>
                                                            <bsreqlabel>Permintaan</bsreqlabel>
                                                            <textarea ng-maxtlength="200" maxlength="200" class="form-control" placeholder="Permintaan" name='reqdesc' ng-model="lmRequest.RequestDesc" required>
                                                            </textarea>
                                                            <em ng-messages="rowRequest.reqdesc.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                                                                <p ng-message="required">Wajib diisi</p>
                                                            </em>
                                                        </div>
                                                    </div>
                                                </bslist-modal-form>
                                            </bslist>
                                        </div>
                                    </div>
                                </div>

                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Keluhan
                                    </uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <bslist form-name="jobComplaintBuatBP" data="JobComplaint" m-id="JobComplaintId" list-model="lmComplaint" on-select-rows="onListSelectRows" selected-rows="listComplaintSelectedRows" confirm-save="fals" list-api="listApiJobComplaint" button-settings="listButtonSettings"
                                                modal-size="small" modal-title="Keluhan" list-title="Keluhan" list-height="200">
                                                <bslist-template>
                                                    <div>
                                                        <div class="form-group">
                                                            <bsreqlabel>Kategori: </bsreqlabel>
                                                            <!-- <bsselect data="vm.appScope.ComplaintCategory" item-value="ComplaintCatg" item-text="ComplaintCatg" ng-model="lmItem.ComplaintCatg" placeholder="Kategori" ng-disabled="true" skip-enable>
                                                            </bsselect> -->
                                                            <select class="form-control" data="vm.appScope.ComplaintCategory" ng-model="lmItem.ComplaintCatg" placeholder="Kategori" ng-disabled="true" skip-enable>
                                                                <option ng-repeat="vac in vm.appScope.ComplaintCategory" value="{{vac.ComplaintCatg}}">{{vac.ComplaintCatg}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <textarea class="form-control" placeholder="Deskripsi" ng-model="lmItem.ComplaintDesc" ng-disabled="true" skip-enable>
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </bslist-template>
                                                <bslist-modal-form>
                                                    <div ng-form="rowcomplaint" style="margin-bottom:90px;">
                                                        <div class="form-group">
                                                            <bsreqlabel>Kategori</bsreqlabel>
                                                            <!-- <bsselect data="ComplaintCategory" name="ctype" item-value="ComplaintCatg" item-text="ComplaintCatg" ng-model="lmComplaint.ComplaintCatg" placeholder="Kategori" required>
                                                            </bsselect> -->
                                                            <select class="form-control" data="ComplaintCategory" name="ctype" ng-model="lmComplaint.ComplaintCatg" placeholder="Kategori" required>
                                                                <option ng-repeat="ComplaintCategory in ComplaintCategory" value="{{ComplaintCategory.ComplaintCatg}}">{{ComplaintCategory.ComplaintCatg}}</option>
                                                            </select>
                                                            <em ng-messages="rowcomplaint.ctype.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                                                                <p ng-message="required">Wajib diisi</p>
                                                            </em>
                                                            <!-- <bserrmsg field="ctype"></bserrmsg> -->
                                                        </div>
                                                        <div class="form-group">
                                                            <bsreqlabel>Deskripsi</bsreqlabel>
                                                            <textarea class="form-control" ng-maxtlength="200" maxlength="200" placeholder="Deskripsi" name="ctext" ng-model="lmComplaint.ComplaintDesc" required>
                                                            </textarea>
                                                            <em ng-messages="rowcomplaint.ctext.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                                                                <p ng-message="required">Wajib diisi</p>
                                                            </em>
                                                            <!-- <bserrmsg field="ctext"></bserrmsg> -->
                                                        </div>
                                                    </div>
                                                </bslist-modal-form>
                                            </bslist>
                                        </div>
                                    </div>
                                </div>

                                <div uib-accordion-group class="panel-default" is-open='true'>
                                    <uib-accordion-heading>
                                        Job List
                                    </uib-accordion-heading>
                                    <div class="row" style="margin-bottom:25px;">
                                        <div class="col-md-12">
                                            
                                            <div class="col-md-6" ng-if="gatein_pds == false">
                                                <bsreqlabel>Kategori WO</bsreqlabel>
                                                <!-- <bsselect name="CatWO" ng-model="mData.WoCategoryId" data="woCategory" item-text="Name" item-value="MasterId" placeholder="Pilih Kategori WO" on-select="selectCatWO(selected)" icon="fa fa-list">
                                                </bsselect> -->
                                                <select ng-if="mDataCrm.Vehicle.isNonTAM != 1" class="form-control" name="CatWO" ng-model="mData.WoCategoryId" data="woCategory" placeholder="Pilih Kategori WO" ng-change="changeCatWO(mData.WoCategoryId, woCategory)" on-select="selectCatWO(selected)" icon="fa fa-list">
                                                    <option ng-repeat="woCategory in woCategory" value="{{woCategory.MasterId}}">{{woCategory.Name}}</option>
                                                </select>
                                                <select ng-if="mDataCrm.Vehicle.isNonTAM == 1" class="form-control" name="woCategory" ng-model="mData.WoCategoryId" data="woCategory_nontam" placeholder="Pilih Kategori WO" ng-change="changeCatWO(mData.WoCategoryId, woCategory)" on-select="selectCatWO(selected)" icon="fa fa-list">
                                                    <option ng-repeat="woCategory in woCategory_nontam" value="{{woCategory.MasterId}}">{{woCategory.Name}}</option>
                                                </select>
                                            </div>

                                            <div class="col-md-6" ng-if="gatein_pds == true">
                                                <bsreqlabel>Kategori WO</bsreqlabel>
                                                <select ng-if="mDataCrm.Vehicle.isNonTAM != 1" class="form-control" name="CatWO" ng-model="mData.WoCategoryId" data="woCategory_pds" placeholder="Pilih Kategori WO" ng-change="changeCatWO(mData.WoCategoryId, woCategory)" on-select="selectCatWO(selected)" icon="fa fa-list">
                                                    <option ng-repeat="woCategory in woCategory_pds" value="{{woCategory.MasterId}}">{{woCategory.Name}}</option>
                                                </select>
                                                <select ng-if="mDataCrm.Vehicle.isNonTAM == 1" class="form-control" name="woCategory" ng-model="mData.WoCategoryId" data="woCategory_nontam" placeholder="Pilih Kategori WO" ng-change="changeCatWO(mData.WoCategoryId, woCategory)" on-select="selectCatWO(selected)" icon="fa fa-list">
                                                    <option ng-repeat="woCategory in woCategory_nontam" value="{{woCategory.MasterId}}">{{woCategory.Name}}</option>
                                                </select>
                                            </div>

                                            <div class="col-md-6">
                                                <bsreqlabel>Kategori Perbaikan</bsreqlabel>
                                                <!-- <bsselect name="CatPerbaikan" ng-model="mData.JobCatgForBP" data="CatPerbaikan" item-text="Name" item-value="MasterId" placeholder="Pilih Kategori Perbaikan" on-select="selectedCatPerbaikan(selectInsuranceed)" icon="fa fa-list">
                                                </bsselect> -->
                                                <select class="form-control" name="CatPerbaikan" ng-model="mData.JobCatgForBPid" data="CatPerbaikan" placeholder="Pilih Kategori Perbaikan" on-select="selectedCatPerbaikan(selectInsuranceed)" icon="fa fa-list">
                                                    <option ng-repeat="CatPerbaikan in CatPerbaikan" value="{{CatPerbaikan.MasterId}}">{{CatPerbaikan.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <uib-accordion close-others="true">
                                                <div uib-accordion-group class="panel-default" style="margin-top: 15px;">
                                                    <uib-accordion-heading>
                                                        <span>No Estimasi :</span>
                                                        <br>
                                                        <span ng-if="tmpDataEst.length <= 1">Estimasi 1 : {{tmpDataEst[0].EstimateNO}} </span>
                                                        <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                                                            <div class="col-md-4" style="margin-top: 10px;padding-left: 0px;padding-right: 0px;" ng-if="tmpDataEst.length > 1" ng-repeat="b in tmpDataEst">
                                                                 Estimasi {{$index + 1}}: {{b.EstimateNO}}
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </uib-accordion-heading>
                                                    <div class="col-md-12">
                                                       <bslist data="gridWork" form-name="joblistBuatBP" on-before-edit="onBeforeEdit" on-before-new="onBeforeNew" on-before-save="onBeforeSave" on-after-save="onAfterSave" on-after-delete="onAfterDelete" m-id="TaskBPId" d-id="PartsId" list-model="lmModel" list-detail-model="ldModel"
                                                           grid-detail="gridPartsDetail" on-select-rows="onListSelectRows" selected-rows="listJoblistSelectedRows" list-api='listApi' modal-title="Job Data" modal-title-detail="Parts Data" list-title="Job List">
                                                           <bslist-template>
                                                               <div class="col-md-1" style="text-align:left;">
                                                                   <p class="name"><strong>{{ lmItem.NumberParent }}</strong></p>
                                                               </div>
                                                               <div class="col-md-5" style="text-align:left;">
                                                                   <!-- <div class="col-md-12">
                                                                       <p class="name"><strong>{{ lmItem.EstimationNo }}</strong></p>
                                                                   </div> -->
                                                                   <div class="col-md-12">
                                                                       <p class="name"><strong>{{ lmItem.TaskName }}</strong></p>
                                                                   </div>
                                                                   <div class="col-md-12">
                                                                       <p>Harga : {{lmItem.Fare * ((lmItem.FlatRate == null || lmItem.FlatRate == undefined) ? 1 :  lmItem.FlatRate) | currency:"Rp. ":0}}</p>
                                                                   </div>
                                                               </div>
                                                               <div class="col-md-3">
                                                                   <p>Satuan : {{lmItem.UnitBy}}</p>
                                                                   <p>Pembayaran : {{lmItem.PaidBy}}</p>
                                                               </div>
                                                               <div class="col-md-3" style="text-align:right;">
                                                                   <p>{{lmItem.EstNoUI}}</p>
                                                               </div>
                                                           </bslist-template>
                                                           <bslist-detail-template>
                                                               <div class="col-md-1">
                                                                   <p><strong>{{ ldItem.NumberChild }}</strong></p> 
                                                               </div>
                                                               <div class="col-md-3">
                                                                   <p><strong>{{ ldItem.PartsCode }}</strong></p>
                                                                   <p>{{ ldItem.PartsName }}</p>
                                                               </div>
                                                               <div class="col-md-3">
                                                                   <p>{{ ldItem.Availbility }}
                                                                   </p>
                                                                   <p>Pembayaran : {{ ldItem.PaidBy}}</p>
                                                               </div>
                                                               <div class="col-md-3">
                                                                   <p>Jumlah : {{ldItem.Qty}} {{ldItem.Name}}
                                                                   </p>
                                                                   <p>Harga : {{ ldItem.RetailPrice | currency:"Rp. ":0}}</p>
                                                               </div>
                                                               <div class="col-md-2">
                                                                   <p>ETA : {{ ldItem.ETA | date:'dd-MM-yyyy'}}
                                                                   </p>
                                                                   <!-- <p>Reserve : {{ ldItem.Qty }}</p> -->
                                                                    <p ng-if="ldItem.QtyReserved >= 0">Reserve : {{ ldItem.QtyReserved }}</p>
                                                                    <p ng-if="ldItem.QtyReserved == null || ldItem.QtyReserved == undefined">Reserve : 0</p>
                                                               </div>
                                                           </bslist-detail-template>
                                                           <bslist-modal-form>
                                                               <div class="row">
                                                                   <div ng-include="'app/services/reception/wo_bp/includeForm/modalFormMaster.html'">
                                                                   </div>
                                                               </div>
                                                           </bslist-modal-form>
                                                           <bslist-modal-detail-form>
                                                               <div class="row">
                                                                   <div ng-include="'app/services/reception/wo_bp/includeForm/modalFormDetail.html'">
                                                                   </div>
                                                               </div>
                                                           </bslist-modal-detail-form>
                                                       </bslist> 
                                                    </div>
                                                </div>
                                            </uib-accordion>
                                           
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </uib-accordion>
                    </div>
                    <div ng-if="$index == 1">
                        <div class="col-md-12">
                            <div class="row">
                                <div ui-grid="gridTimeWork" ui-grid-cellNav ui-grid-edit ui-grid-auto-resize ui-grid-selection class="grid" ng-cloak>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-3 col-xs-3">
                                    <label for="">TOTAL LEAD TIME</label>
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <input type="text" ng-model="estHoursWork" size='5' ng-readonly="true">&nbsp;<label>Jam</label>
                                    &nbsp;&nbsp;&nbsp;<img src="images/rightarrow.png">&nbsp;
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <input type="text" ng-model="estDaysWork" size='5' ng-readonly="true">&nbsp;<label><strong>Hari</strong></label>
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <button ng-click="calculateforwork()" class="rbtn btn"><i class="fa fa-fw fa-clock-o"></i>&nbsp;Calculate Time</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>