<div class="col-md-12" ng-form="row1">
    <div class="col-md-6">
        <div class="form-group" show-errors>
            <bsreqlabel>Tipe Material</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="tipe" required ng-required="true" ng-disabled="ldModel.PartsId !== undefined && ldModel.PartsId !== null" ng-model="ldModel.MaterialTypeId" data="materialCategory" item-text="Name" item-value="MasterId" placeholder="Pilih Tipe" on-select="selectTypeParts(selected)">
            </bsselect>
            <!-- <select class="form-control" name="tipe" ng-model="ldModel.MaterialTypeId" data="materialCategory" placeholder="Pilih Tipe" ng-change="selectTypeParts(ldModel)">
                <option ng-repeat="materialCategory in materialCategory" value="{{materialCategory.MasterId}}">{{materialCategory.Name}}</option>
            </select> -->
            <bserrmsg field="typeMaterial"></bserrmsg>
        </div>
        <div class="form-group" style="margin-bottom:65px;" show-errors>
            <div class="form-inline">
                <label>No. Material</label>
                <bscheckbox class="pull-right" ng-change="checkIsOPB(ldModel.IsOPB, ldModel)" ng-disabled="!(ldModel.MaterialTypeId == 2) || (ldModel.PartsCode !== undefined && ldModel.PartsCode !== '' &&  ldModel.PartsCode !== null) || ldModel.JobPartsId !== undefined " ng-model="ldModel.IsOPB" label="OPB" true-value="1" false-value="0">
                </bscheckbox>
            </div>
            <!-- <input type="text" class="form-control" name="noMaterial" ng-model="ldModel.PartsCode" > -->
            <div class="col-md-7" style="padding-left:0;">
                <bstypeahead 
                    placeholder="No. Material" 
                    name="noMaterial" 
                    ng-model="ldModel.PartsCode" 
                    get-data="getParts" 
                    item-text="PartsCode" 
                    ng-disabled="(ldModel.JobPartsId !== undefined && ldModel.JobPartsId !== null) || ldModel.IsOPB == 1"
                    disallow-space 
                    loading="loadingUsers" 
                    noresult="noResults" 
                    ng-maxlength="32"
                    maxlength="32"
                    selected="selected" 
                    on-select="onSelectParts"
                    on-noresult="onNoPartResult" 
                    on-gotresult="onGotResult" 
                    ta-minlength="4" 
                    template-url="customTemplate.html" 
                    ng-change="ubahPartsCode(ldModel)"
                    icon="fa-id-card-o">
                </bstypeahead>
                <em ng-show="ldModel.PartsCode.length < 4" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p>Minimal 4 karakter untuk pencarian</p>
                </em>
                <em ng-show="ldModel.PartsCode.length >= 4" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p>&nbsp;</p>
                </em>
            </div>
            <div class="col-md-5">
                <button class="rbtn btn" ng-disabled="!(ldModel.Qty !== null && ldModel.Qty !== undefined && partsAvailable)" ng-click="checkAvailabilityParts(ldModel)">Cek Ketersediaan Parts</button>
            </div>
            <bserrmsg field="noMaterial"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <label> </label>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Nama Material</bsreqlabel>
            <input type="text" class="form-control" ng-keypress="dissallowSemicolon($event)" name="namaMaterial" ng-model="ldModel.PartsName" ng-maxlength="64" maxlength="64" ng-change="checkNameParts(ldModel.PartsName,ldModel)" ng-disabled="ldModel.JobPartsId !== undefined && ldModel.JobPartsId !== null">
            <bserrmsg field="namaMaterial"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Quantity</bsreqlabel>
            <input step="1" type="number" ng-change="checkPrice(ldModel.RetailPrice)" required min=1 class="form-control" name="qty" ng-model="ldModel.Qty">
            <!-- <bserrmsg field="qty"></bserrmsg> -->
            <em ng-messages="row1.qty.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
                <p ng-message="step"> Nilai Qty Harus Satuan</p>
            </em>
        </div>
        
        
        <div class="form-group" show-errors>
            <bsreqlabel>Satuan</bsreqlabel>
            <!-- <bsselect name="satuan" ng-model="ldModel.SatuanId" on-select="selectTypeUnitParts(selected)" data="unitData" item-text="Name" required item-value="MasterId" placeholder="Pilih Tipe">
            </bsselect> -->
            <select class="form-control" convert-to-number name="satuan" ng-model="ldModel.SatuanId" ng-change="selectTypeUnitParts(ldModel.SatuanId)" data="unitData" required  placeholder="Pilih Tipe">
                <option ng-repeat="unitData in unitData" value="{{unitData.MasterId}}">{{unitData.Name}}</option>
            </select>
            <bserrmsg field="satuan"></bserrmsg>
        </div>
        <div ng-show="(ldModel.MaterialTypeId == 1 && ldModel.Availbility == 'Tidak Tersedia') || ( ldModel.MaterialTypeId == 1 && ((ldModel.PartsCode == '' || ldModel.PartsCode == null || ldModel.PartsCode == undefined) && (ldModel.PartsName != null && ldModel.PartsName != undefined && ldModel.PartsName != '')) )" class="form-group" show-errors>
            <label>Tipe Order</label>
            <!-- <bsselect name="satuan" ng-model="ldModel.Type" data="typeMData" item-text="Name" item-value="Id" placeholder="Pilih Tipe">
            </bsselect> -->
            <select class="form-control" convert-to-number ng-disabled="ldModel.Availbility == 'Tersedia'" name="satuan" ng-model="ldModel.OrderType" data="typeMData" placeholder="Pilih Tipe">
                <option value=""></option>
                <option ng-repeat="typeMData in typeMData" value="{{typeMData.Id}}">{{typeMData.Name}}</option>
            </select>
            <bserrmsg field="satuan"></bserrmsg>
        </div>
        <div class="form-group">
            <label>ETA</label>
            <bsdatepicker name="DateAppoint" ng-disabled="true" date-options="DateOptions" ng-model="ldModel.ETA" ng-change="DateChange(dt)">
            </bsdatepicker>
            <!-- <bsdatepicker name="DateAppoint" ng-disabled="partsAvailable" date-options="DateOptions" ng-model="ldModel.ETA" ng-change="DateChange(dt)">
            </bsdatepicker> -->
        </div>
        <div class="form-group" show-errors>
            <label>Ketersediaan</label>
            <input type="text" min=0 class="form-control" ng-disabled="true" name="ketersedian" ng-model="ldModel.Availbility">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group" ng-if="mData.WoCategoryId != 2501" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <!-- <bsselect name="pembayaran" ng-model="ldModel.PaidById" data="paymentData" item-text="Name" item-value="MasterId" on-select="selectTypePaidParts(selected)" placeholder="Pilih Pembayaran" required>
            </bsselect> -->
            <!-- <select class="form-control" convert-to-number name="pembayaran" ng-model="ldModel.PaidById" data="paymentData" ng-show="ldModel.MaterialTypeId != 2" ng-disabled="JobIsWarranty == 1" ng-change="selectTypePaidParts(ldModel.PaidById,1)" placeholder="Pilih Pembayaran" required> -->
            <select class="form-control" convert-to-number name="pembayaran" ng-model="ldModel.PaidById" data="paymentData" ng-if="ldModel.MaterialTypeId != 2 && mobilTam == 1" ng-change="selectTypePaidParts(ldModel.PaidById,1)" placeholder="Pilih Pembayaran" required>
                <option ng-repeat="paymentData in paymentData" value="{{paymentData.MasterId}}">{{paymentData.Name}}</option>
            </select>
            <!-- <select class="form-control" convert-to-number name="pembayaran" ng-model="ldModel.PaidById" data="paymentDataNoWarranty" ng-show="ldModel.MaterialTypeId == 2" ng-disabled="JobIsWarranty == 1" ng-change="selectTypePaidParts(ldModel.PaidById,1)" placeholder="Pilih Pembayaran" required> -->
            <select class="form-control" convert-to-number name="pembayaran" ng-model="ldModel.PaidById" data="paymentDataNoWarranty" ng-if="ldModel.MaterialTypeId == 2 || mobilTam == 0" ng-change="selectTypePaidParts(ldModel.PaidById,1)" placeholder="Pilih Pembayaran" required>
                <option ng-repeat="paymentData in paymentDataNoWarranty" value="{{paymentData.MasterId}}">{{paymentData.Name}}</option>
            </select>
            <input type="text" class="form-control" name="pembayaran" ng-model="ldModel.PaidById" ng-hide="true" required ng-required="true">
            <bserrmsg field="pembayaran"></bserrmsg>
        </div>

        <div class="form-group" ng-if="mData.WoCategoryId == 2501" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            
            <select class="form-control" convert-to-number name="pembayaran" ng-model="ldModel.PaidById" data="payment_pds" ng-change="selectTypePaidParts(ldModel.PaidById,1)" placeholder="Pilih Pembayaran" required>
                <option ng-repeat="paymentData in payment_pds" value="{{paymentData.MasterId}}">{{paymentData.Name}}</option>
            </select>
            <input type="text" class="form-control" name="pembayaran" ng-model="ldModel.PaidById" ng-hide="true" required ng-required="true">
            <bserrmsg field="pembayaran"></bserrmsg>
        </div>


        <div class="form-group" show-errors>
            <bsreqlabel>Harga</bsreqlabel>
            <input type="text" ng-change="checkPrice(ldModel.RetailPriceMask)" min=0 max=99999999999 ng-maxlength="11" maxlength="11" class="form-control" name="harga" ng-if="ldModel.IsOPB != 1"  required ng-maxlength="11" ng-disabled="(ldModel.IsOPB == null || ldModel.IsOPB == undefined || ldModel.IsOPB == 0) && (ldModel.PartsId != null && ldModel.PartsId != undefined)" ng-model="ldModel.RetailPriceMask" ng-keyup="givePatternHargaPart(ldModel.RetailPriceMask,$event)">
            <input type="number" ng-hide="true" ng-change="checkPrice(ldModel.RetailPrice)" min=0 max=99999999999 ng-maxlength="11" maxlength="11" class="form-control" name="harga" ng-if="ldModel.IsOPB != 1"  required ng-maxlength="11" ng-disabled="(ldModel.IsOPB == null || ldModel.IsOPB == undefined || ldModel.IsOPB == 0) && (ldModel.PartsId != null && ldModel.PartsId != undefined)" ng-model="ldModel.RetailPrice">            
            
            <input type="number" ng-change="checkPrice(ldModel.RetailPrice)" min=1 class="form-control" name="hargaOPB" ng-if="ldModel.IsOPB == 1" ng-required="ldModel.IsOPB == 1" ng-maxlength="11" ng-disabled="(ldModel.IsOPB == 1) && (ldModel.PartsId != null && ldModel.PartsId != undefined)" ng-model="ldModel.RetailPrice">            

            <em ng-messages="row1.harga.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <em ng-messages="row1.hargaOPB.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
                <p ng-message="min">Harga Tidak Boleh 0</p>
            </em>
            
            <!-- <em ng-messages="row1.harga.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
            <bserrmsg field="harga"></bserrmsg> -->
        </div>
        <!--     <div class="form-group" show-errors>
      <label>Diskon</label>
      <input type="number" min=0 max="100" class="form-control" name="harga" ng-model="ldModel.Discount">
      <bserrmsg field="harga"></bserrmsg>
    </div> -->
        <div class="form-group" show-errors>
            <label>Sub Total</label>
            <input type="text" ng-disabled="true" min=0 class="form-control" name="subTotal" ng-model="ldModel.xsubTotal" currency-formating number-only>
            <input type="text"ng-hide="true" ng-disabled="true" min=0 class="form-control" name="subTotal" ng-model="ldModel.subTotalMask">
            <input type="number" ng-hide="true" ng-disabled="true" min=0 class="form-control" name="subTotal" ng-model="ldModel.subTotal">            
            <bserrmsg field="subTotal"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <label>DP</label>
            <input type="text" min=0 max=9999999999 ng-maxlength="13" maxlength="13" ng-disabled="ldModel.PaidById == null || ldModel.PaidById == undefined || ldModel.PaidById == 30 || flagIsInsurance || ldModel.Availbility == 'Tersedia' || disableDP" class="form-control" name="Dp" ng-model="ldModel.DownPayment" currency-formating number-only ng-change="checkDp(ldModel.DownPayment, ldModel)">
            <bserrmsg field="Dp"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Tipe Diskon</bsreqlabel>
            <!-- <bsselect name="diskon" ng-model="ldModel.DiscountTypeId" data="diskonData" item-text="Name" item-value="MasterId" on-select="selectTypeDiskonParts(selected,0)" placeholder="Pilih Pembayaran" required>
            </bsselect> -->
            <select class="form-control" convert-to-number name="diskon" ng-model="ldModel.DiscountTypeId" data="diskonDataParts" ng-change="selectTypeDiskonParts(ldModel.DiscountTypeId,0)" ng-disabled="ldModel.PaidById == 2277 || ldModel.PaidById == 30 || ldModel.PaidById == 29  || ldModel.CreatePartAt == 'WOBP'" placeholder="Pilih Pembayaran" required>
                <option ng-repeat="diskonData in diskonDataParts" value="{{diskonData.MasterId}}">{{diskonData.Name}}</option>
            </select>
            <input type="text" class="form-control" name="diskon" ng-model="ldModel.DiscountTypeId" ng-hide="true" required ng-required="true">                                    

            <bserrmsg field="diskon"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <div ng-if="ldModel.DiscountTypeId !== undefined && ldModel.DiscountTypeId !== null && ldModel.DiscountTypeId > 0"><bsreqlabel>List Diskon</bsreqlabel></div>
            <div ng-if="ldModel.DiscountTypeId == undefined || ldModel.DiscountTypeId == null || ldModel.DiscountTypeId <= 0"><label>List Diskon</label></div>
            <!-- <bsselect name="diskon" ng-model="ldModel.DiscountTypeListId" ng-disabled="ldModel.DiscountTypeId == 0 || ldModel.DiscountTypeId == -1" data="diskonListData" item-text="Name" item-value="Id" on-select="selectTypeListDiskonPart(selected,ldModel.DiscountTypeId,0)" placeholder="Pilih List Diskon"
                ng-required="ldModel.DiscountTypeId == 1 || ldModel.DiscountTypeId == 2">
            </bsselect> -->
            <select class="form-control" convert-to-number name="diskon" ng-model="ldModel.DiscountTypeListId" ng-disabled="ldModel.DiscountTypeId == 0 || ldModel.DiscountTypeId == -1 || ldModel.DiscountTypeId == 10 || ldModel.DiscountTypeId == 3 || ldModel.PaidById == 2277 || ldModel.PaidById == 30 || ldModel.PaidById == 29  || ldModel.CreatePartAt == 'WOBP'" data="diskonListData" ng-change="selectTypeListDiskonPart(ldModel,ldModel.DiscountTypeId,0)" placeholder="Pilih List Diskon" ng-required="ldModel.DiscountTypeId == 1 || ldModel.DiscountTypeId == 2">
                <option ng-repeat="diskonListData in diskonListData" value="{{diskonListData.Id}}">{{diskonListData.Name}}</option>
            </select>
            <input type="text" class="form-control" name="diskon" ng-model="ldModel.DiscountTypeListId" ng-hide="true" ng-required="ldModel.DiscountTypeId == 1 || ldModel.DiscountTypeId == 2">            
            <!-- <input type="text" class="form-control" name="diskon" ng-model="ldModel.DiscountTypeListId" ng-hide="true" ng-required="lmModel.DiscountTypeId !== undefined && lmModel.DiscountTypeId !== null && lmModel.DiscountTypeId != 0 && lmModel.DiscountTypeId != -1 && lmModel.DiscountTypeId != 10">             -->

            <bserrmsg field="diskon"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <label ng-if="ldModel.DiscountTypeId != 0">Diskon</label>
            <bsreqlabel ng-if="ldModel.DiscountTypeId == 0">Diskon (min 1%)</bsreqlabel>
            <input type="number" step=0.01 ng-required="isCustomTask" ng-change="changeDiscount(ldModel.subTotal,ldModel.Discount)" ng-disabled="(!isCustomPart) || ldModel.PaidById == 2277 || ldModel.PaidById == 30 || ldModel.PaidById == 29 " ng-if="ldModel.DiscountTypeId != 0" min=0 max="100" class="form-control" name="Discount" ng-model="ldModel.Discount">
            <input type="number" step=0.01 ng-required="true" ng-change="changeDiscount(ldModel.subTotal,ldModel.Discount)" ng-disabled="(!isCustomPart) || ldModel.PaidById == 2277 || ldModel.PaidById == 30 || ldModel.PaidById == 29 " ng-if="ldModel.DiscountTypeId == 0" min=1 max="100" class="form-control" name="Discount" ng-model="ldModel.Discount">
            <!-- <input type="number" ng-required="isCustomTask" ng-change="onDiscountTypingJobTask(ldModel.Discount)" ng-disabled="(!isCustomPart) || ldModel.PaidById == 2277" min=0 max="100" class="form-control" name="Discount" ng-model="ldModel.Discount"> -->
            <em ng-messages="row1.Discount.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
                <p ng-message="step">Discount hanya bisa 2 angka desimal</p>
                <p ng-message="max">Angka Terlalu Besar</p>
            </em>
            <bserrmsg field="Discount"></bserrmsg>
        </div>
    </div>
    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
            <span ng-bind-html="match.model.PartsName | uibTypeaheadHighlight:query"></span>
            <!-- <span ng-bind-html="match.model.FullName | uibTypeaheadHighlight:query"></span> -->
        </a>
    </script>
</div>