<div class="row">
    <div class="col-md-12">
        <bslist ng-if='refreshBslist' data="oplData" form-name="orderOPLBp" m-id="oplId" list-model="lmModelOpl" on-before-new="onBeforeNewOpl" on-before-save="onBeforeSaveOpl" on-select-rows="onListSelectRows" selected-rows="listSelectedRows" confirm-save="true" on-after-save="onAfterSaveOpl" list-api="listApiOpl"
        button-settings="ButtonListOPL" modal-size="small" modal-title="Order Pekerjaan Luar" list-title="Order Pekerjaan Luar" list-height="200">
        <!-- button-settings="ButtonList" modal-size="small" modal-title="Order Pekerjaan Luar" list-title="Order Pekerjaan Luar" list-height="200"> -->
            <bslist-template>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <strong>{{lmItem.OPLWorkName}}</strong>
                        </div>
                        <div class="form-group">
                            {{lmItem.VendorName}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Dibutuhkan : </label> {{lmItem.RequiredDate | date:'dd-MM-yyyy'}}
                        </div>
                        <div class="form-group">
                            <label>Pembayaran : </label> {{lmItem.Pembayaran}}
                        </div>
                        <div class="form-group">
                            <label>Harga : </label> {{lmItem.Price | currency:"Rp. ":0}}
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </bslist-template>
            <bslist-modal-form>
                <div ng-include="'app/services/reception/woHistoryGR/modalFormMasterOpl.html'">
            </bslist-modal-form>
        </bslist>
        <table id="example" class="table table-striped table-bordered" width="100%">
            <tbody>
                <tr>
                    <td width="20%">Total</td>
                    <td>{{sumWork | currency:"Rp. ":0}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>