<div class="col-md-12">
    <style>
        /*.popover {
            position: absolute;
            display: none;
            background: #fff;
            border: 1px solid #999;
            padding: 10px;
            width: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        }*/
        /*.popover:after,
        .popover:before {
            right: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        
        .popover:after {
            border-color: rgba(255, 255, 255, 0);
            border-right-color: #ffffff;
            border-width: 10px;
            top: 50%;
            margin-top: -10px;
        }
        
        .popover:before {
            border-color: rgba(201, 201, 201, 0);
            border-right-color: #c9c9c9;
            border-width: 11px;
            top: 50%;
            margin-top: -11px;
        }*/
        .checkbox+.checkbox, .radio+.radio {
            margin-top: 10px;
        }
    </style>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>KM *</label><i class="fa fa-info-circle fa-fw pull-right" style="font-size: 1.5em;" ng-show="restart_digit_odo > 0" ng-click="show_km_info()"></i>
                <!-- <input class="form-control input-lg" type="text" ng-model="mData.Km"></input> -->
                <input type="text" step="1" min="0" class="form-control input-lg" name="Km" placeholder="Km" ng-model="mData.Km" ng-maxlength="7" maxlength="7" ng-keyup="givePattern(mData.Km,$event)">
                <p ng-if="isKmHistory >= 1 && nilaiKM < KMTerakhir && KMTerakhir < 999999" style="font-style:italic;margin-top:5px; color:  rgb(185, 74, 72)">Tidak boleh kurang dari {{KMTerakhir | number}} KM</p>
                <p style="font-style:italic;margin-top:5px; color:  rgb(0, 0, 0)">Restart KM / Odometer : {{restart_digit_odo | number}} <i class="fa fa-refresh refreshIcon"></i> </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Money Amount</label>
                <!-- <input class="form-control input-lg" type="text" ng-model="mData.MoneyAmount"></input> -->
                <input type="text" ng-maxlength="9" maxlength="9" class="form-control input-lg" placeholder="Money Amount" name='moneyAmount' ng-model="mData.moneyAmount" ng-keyup="givePatternMoney(mData.moneyAmount,$event)">
            </div>
        </div>
        <!-- <input ng-hide="true" type="text" class="form-control" ng-model="slider.value" > -->
        <div id="slide" class="col-md-6">
            <label for="slider">Fuel</label>
            <div class="scaleWarp">
                <!-- <span style=" font-size: 20px;font-weight:bold;">|</span> -->
                <garis>|</garis>
                <garis style=" font-size: 20px;font-weight:bold;">|</garis>
                <garis>|</garis>
                <!-- <span style=" font-size: 20px;font-weight:bold;">|</span> -->
            </div>
            <rzslider skip-disable class="custom-slider" rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="activeJustified" justified="true" style="margin-top: 40px;">
                <uib-tab ng-repeat="header in headerWAC" index="$index" heading="{{header.GroupNamex}}" ng-click="tabClick(header.Id,header.GroupName)">
                    <div ng-if="$index == 0">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <bsreqlabel>Type Kendaraan</bsreqlabel>
                                        <!-- <select class="form-control" name="filterType" convert-to-number ng-model="filter.vType" data="VTypeData" placeholder="Pilih Type Kendaraan" ng-change="chooseVType(filter.vType)" icon="fa fa-car">
                                            <option value=""></option>
                                            <option ng-repeat="VTypeData in VTypeData" value="{{VTypeData.MasterId}}">{{VTypeData.Name}}</option>
                                        </select> -->
                                        <div class="icon-addon left-addon ui-select"><i class="fa fa-car"></i>
                                            <ui-select skip-focusser="true" onkeypress="return false;" onfocus="blur();" name="vehicType"  ng-model="filter.vType" icon="fa fa-car" on-select="chooseVType($item.MasterId)" search-enabled="false" skip-enable theme="select2"  id="EstimasiType">
                                                <ui-select-match style="padding-left:30px;" placeholder="Pilih Tipe Kendaraan">
                                                    {{$select.selected.Name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in VTypeData">
                                                    <span ng-bind-html="item.Name"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" ng-style="customHeight" ng-if="isTablet">
                                    <img ng-init="this.init" ng-areas="areasArray" ng-areas-width="680" ng-areas-allow="{'edit':true, 'move':false, 'resize':false, 'select':false, 'remove':false, 'nudge':false}" ng-src="{{imageSel}}" ng-areas-on-add="onAddArea" ng-areas-on-remove="onRemoveArea"
                                        ng-areas-on-change="onChangeAreas" ng-areas-on-choose="doClick" ng-areas-extend-data="statusObj" area-api="areaApi">
                                    
                                </div>
                                <div class="col-md-12" ng-style="customHeight" ng-if="!isTablet">
                                    <img ng-init="this.init" ng-areas="areasArray" ng-areas-width="750" ng-areas-allow="{'edit':true, 'move':false, 'resize':false, 'select':false, 'remove':false, 'nudge':false}" ng-src="{{imageSel}}" ng-areas-on-add="onAddArea" ng-areas-on-remove="onRemoveArea"
                                        ng-areas-on-change="onChangeAreas" ng-areas-on-choose="doClick" ng-areas-extend-data="statusObj" area-api="areaApi">
                                    
                                </div>
                            </div>
                            <div class="row" ng-show="!disableWACExt">
                                <div class="col-md-12">
                                    <!-- <div ui-grid="grid" ui-grid-move-columns ui-grid-resize-columns ui-grid-pagination ui-grid-cellNav ui-grid-pinning ui-grid-auto-resize ui-grid-edit class="grid" ng-style="getTableHeight()">
                                        <div class="ui-grid-nodata" ng-if="!grid.data.length && !loading" ng-cloak>No data available</div>
                                    </div> -->
                                    <table id="wacGrid" width="100%" class="table table-bordered table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <th ng-style="{'width':'{{col.width}}'}" ng-hide="col.visible == false" ng-repeat="col in grid.columnDefs">{{col.name}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="height:40px;" ng-repeat="column in grid.data">
                                                <td ng-hide="true" style="width:5%">{{column.JobWACExtId}}</td>
                                                <td style="width:55%">{{column.ItemName}}</td>
                                                <td style="width:45%" style="padding:0px">
                                                    <select class="form-control" name="status" convert-to-number ng-change="onDropdownChange(column)" ng-model="column.Status" placeholder="Pilih Kerusakan" style="height:30px;">
                                                        <option ng-repeat="item in DamageVehicle" value="{{item.Id}}">{{item.Name}}</option>
                                                    </select>
                                                </td>
                                                <td ng-hide="true" style="width:5%">{{column.typeName}}</td>
                                            </tr>
                                            <tr ng-if="!grid.data.length">
                                                <td colspan="{{grid.columnDefs.length}}">
                                                    <div style="opacity: .25;font-size: 3em;width: 100%;text-align: center;z-index: 1000;">No Data Available</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        
                                        <bscheckbox ng-model="disableWACExt" label="Clear" true-value="true" false-value="false" ng-change="chgChk()">
                                        </bscheckbox>
                                      
                                    </div>
                                    <div class="col-md-8">
                                        <div class="containeramk" ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
                                            <signature-pad ng-init="header.GroupName == gridName" accept="accept" clear="clear" style="height:165px;" height="165" width="500" dataurl="signature.dataUrl"></signature-pad>

                                            <div class="buttonsamk">
                                                <button class="btn wbtn" ng-disabled="disableReset" skip-enable ng-click="clear()">Clear</button>
                                                <button class="btn rbtn" ng-click="signature = accept(); open(signature)">Sign</button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                       
                                        <image-control max-upload="4" is-image="1" img-upload="uploadFiles" multiple>
                                            <form-image-control>
                                                <input capture="camera" type="file" bs-upload="onFileSelect($files)" img-upload="uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1;">
                                                <input type="file" ng-init="mData.UploadPhoto = uploadFiles" name="" id="pickfiles-nav1" style="z-index: 1; display:none">
                                            </form-image-control>
                                        </image-control>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="!isCenter">
                                <div class="btn-group pull-right">
                                    <button type="button" name="printPreview" class="rbtn btn" ng-click="releaseBSTK()">
                                        BSTK
                                    </button>
                                    <button type="button" name="CloseWO" ng-click="cancelBSTK(mData)" class="rbtn btn">
                                        Batal BSTK
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mantul  -->
                    <div ng-if="$index !== 0">
                        <div class="col-md-12" ng-if="header.Quantity > 0" style="margin-top: 25px;">
                            <!-- <div ng-if="$index !== 0 && header.GroupName == gridName" ui-grid="data['gridData'+header.GroupName]" ui-grid-cellNav ui-grid-auto-resize class="grid" ng-cloak>
                            </div> -->
                            <table class="table table-striped table-bordered table-hover table-responsive" ng-if="$index !== 0 && header.GroupName == gridName">
                                <thead>
                                    <tr>
                                        <th ng-repeat="col in data['gridData'+header.GroupName].columnDefs">{{col.name}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="column in data['gridData'+header.GroupName].data">
                                        <td style="width:50%">{{column.name}}</td>
                                        <td style="width:50%" style="padding:0px">
                                            <!-- <div class="btn-group">
                                                <input class="radiobox style-0" ng-model="column.ItemStatus" type="radio" ng-value="1" style="width:20px">&nbsp;Baik&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="radiobox style-0" ng-model="column.ItemStatus" type="radio" ng-value="2" style="width:20px">&nbsp;Rusak&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="radiobox style-0" ng-model="column.ItemStatus" type="radio" ng-value="3" style="width:20px">&nbsp;Tidak Ada
                                            </div> -->
                                            <div class="col-md-12 col-xs-12">
                                                <div style="float:left;padding-right:20px;padding-left:20px;">
                                                    <label class="radio">
                                                        <input class="radiobox style-0" ng-model="column.ItemStatus" type="radio" ng-value="1"><span>Baik</span>
                                                    </label>
                                                </div>
                                                <div style="float:left;padding-right:20px;padding-left:20px;">
                                                    <label class="radio">
                                                        <input class="radiobox style-0" ng-model="column.ItemStatus" type="radio" ng-value="2"><span>Rusak</span>
                                                    </label>
                                                </div>
                                                <div style="float:left;padding-right:20px;padding-left:20px;">
                                                    <label class="radio">
                                                        <input class="radiobox style-0" ng-model="column.ItemStatus" type="radio" ng-value="3"><span>Tidak Ada</span>
                                                    </label>
                                                </div> 
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12" ng-if="header.Quantity == 0">
                            <!-- <div style="margin-top : 25px;" oc-lazy-load="['summernote']">
                                <input ng-hide="true" type="text" ng-model="gridOther[0].OtherDescription" class="form-control">
                                <summernote name="content" config="summernoteOptions2"  ng-model="gridOther[0].OtherDescription" ng-maxlength="200" maxlength="200" required></summernote>
                                <bserrmsg field="content"></bserrmsg>
                            </div> -->
                            <input ng-hide="true" type="text" ng-model="gridOther[0].OtherDescription" class="form-control">
                            <textarea name="content" ng-model="gridOther[0].OtherDescription" ng-maxlength="200" maxlength="200" style="width: 100% ; height: 200px;">

                            </textarea>
                        </div>
                    </div>
                    
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>