<style>
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
</style>
<div class="ui grid">
   <div class="row">
   	<div class="column padding-reset">
		<div ng-controller="DownloadController">
		      <div class="ui segment" style="background-color: #f0f0f0;margin-bottom: 0;">
		      <button class="ui inverted blue  button">New</button>
		      <button class="ui inverted blue  button">Edit</button>
		      <button class="ui inverted blue  button">Delete</button>
		      </div>
		      <button type="file" ng-model="picFile" ngf-select="upload($file)" ngf-max-size="500MB">Upload on file select</button>

          File:
          <div style="font:smaller">{{f.name}} size:{{f.size}} {{f.$error}} {{f.$errorParam}}
              location: {{f.result.file[0].fd}}
              <span class="progress" ng-show="f.progress >= 0">
                  <div style="width:{{f.progress}}%"  
                       ng-bind="f.progress + '%'"></div>
              </span>
          </div>     
          {{errorMsg}}

          Image thumbnail: <img ngf-src="picFile">
          Audio preview: <audio controls ngf-src="picFile"></audio>
          Video preview: <video controls ngf-src="picFile"></video>
		</div>
	</div>
	</div>
</div>