<script type="text/javascript">

</script>


<!--         '<div class="angucomplete-holder" ng-class="{\'angucomplete-dropdown-visible\': showDropdown}">' +
        '  <input id="{{id}}_value" name="{{inputName}}" tabindex="{{fieldTabindex}}"
                    ng-class="{\'angucomplete-input-not-empty\': notEmpty}"
                    ng-model="searchStr"
                    ng-disabled="disableInput"
                    type="{{inputType}}"
                    placeholder="{{placeholder}}"
                    maxlength="{{maxlength}}"
                    ng-focus="onFocusHandler()"
                    class="{{inputClass}}"
                    ng-focus="resetHideResults()"
                    ng-blur="hideResults($event)"
                    autocapitalize="off"
                    autocorrect="off"
                    autocomplete="off"
                    ng-change="inputChangeHandler(searchStr)"/>' +
        '  <div id="{{id}}_dropdown" class="angucomplete-dropdown" ng-show="showDropdown">' +
        '    <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>' +
        '    <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>' +
        '    <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{\'angucomplete-selected-row\': $index == currentIndex}">' +
        '      <div ng-if="imageField" class="angucomplete-image-holder">' +
        '        <img ng-if="result.image && result.image != \'\'" ng-src="{{result.image}}" class="angucomplete-image"/>' +
        '        <div ng-if="!result.image && result.image != \'\'" class="angucomplete-image-default"></div>' +
        '      </div>' +
        '      <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>' +
        '      <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>' +
        '      <div ng-if="matchClass && result.description && result.description != \'\'" class="angucomplete-description" ng-bind-html="result.description"></div>' +
        '      <div ng-if="!matchClass && result.description && result.description != \'\'" class="angucomplete-description">{{result.description}}</div>' +
        '    </div>' +
        '  </div>' +
        '</div>' -->

<style type="text/css">

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="OAPPeriodForm"
        factory-name="OAPPeriod"
        model="mPeriod"
        loading="loading"
        model-id="MasterPeriodOAPRAPId"

        get-data="getData"
        selected-rows="xPeriod.selected"
        on-select-rows="onSelectRows"

        form-name="OAPPeriod"
        >

        <div class="row">
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Period Type</bsreqlabel>
                          <!-- on-select="selectPeriodType(selected)" -->
                    <bsselect name="periodTypeSelect"
                          ng-model="mPeriod.MasterPeriodOAPRAPType"
                          data="periodTypeData"
                          item-text="type"
                          item-value="MasterPeriodOAPRAPType"
                          placeholder="Select Period Type..."
                          required="true"
                          icon="fa fa-calendar">
                    </bsselect>
                    <bserrmsg field="periodTypeSelect"></bserrmsg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Year</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-calendar-o"></i>
                        <input type="number" class="form-control" name="year" placeholder="Year" ng-model="mPeriod.Year">
                    </div>
                    <bserrmsg field="year"></bserrmsg>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Period Name</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-calendar"></i>
                        <input type="text" class="form-control" name="name" placeholder="Period Name" ng-model="mPeriod.name" required>
                    </div>
                    <bserrmsg field="name"></bserrmsg>
                </div>
            </div> -->
        </div>
                            <!-- ng-change="startDateChanged(dt)" -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>Start Date</bsreqlabel>
                    <bsdatepicker
                            name="startDate"
                            date-options="dateOptions"
                            ng-model="mPeriod.StartDate"
                    >
                    </bsdatepicker>
                    <bserrmsg field="startDate"></bserrmsg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <bsreqlabel>End Date</bsreqlabel>
                    <bsdatepicker
                            name="endDate"
                            date-options="dateOptions"
                            ng-model="mPeriod.EndDate"
                            min-date="mPeriod.StartDate"
                    >
                    </bsdatepicker>
                    <bserrmsg field="endDate"></bserrmsg>
                </div>
            </div>
        </div>

<!--         <div class="form-group" show-errors>
            <bsreqlabel>Description</bsreqlabel>
            <div class="input-icon-right">
                <i class="fa fa-pencil"></i>
                <input type="text" class="form-control" name="desc" placeholder="Description" ng-model="mPeriod.desc" required>
            </div>
            <bserrmsg field="desc"></bserrmsg>
        </div> -->

</bsform-grid>

