<script type="text/javascript">
    function SetReceiveSTNKDateMinDate(TheDate) {
        var Da_ReceiveSTNKDateMaxDate = TheDate;
        var dd = Da_ReceiveSTNKDateMaxDate.getDate();
        var mm = Da_ReceiveSTNKDateMaxDate.getMonth() + 1; //January is 0!
        var yyyy = Da_ReceiveSTNKDateMaxDate.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        Da_ReceiveSTNKDateMaxDate = yyyy + '-' + mm + '-' + dd;
        document.getElementById("Min_Da_ReceiveSTNKDateMaxDate").setAttribute("min", Da_ReceiveSTNKDateMaxDate);

    }
</script>


<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="daftarPO" class="row" style="margin: 0 0 0 0">
<button ng-disabled="TerimaStnkDariBiroJasaYangDipilih.length<1 || TerimaStnkDariBiroJasaYangDipilih==null || TerimaStnkDariBiroJasaYangDipilih==undefined" class="rbtn btn ng-binding ladda-button" style="margin-top:-30px;float:right;" ng-click="TerimaSTNKBirojasaTerimaLengkap()">Terima Lengkap</button>
<button ng-disabled="TerimaStnkDariBiroJasaYangDipilih.length<1 || TerimaStnkDariBiroJasaYangDipilih==null || TerimaStnkDariBiroJasaYangDipilih==undefined" class="rbtn btn ng-binding ladda-button" style="margin-top:-30px;float:right;" ng-click="TerimaSTNKBirojasaTerimaStnk()">Terima STNK</button>
<button ng-disabled="TerimaStnkDariBiroJasaYangDipilih.length<1 || TerimaStnkDariBiroJasaYangDipilih==null || TerimaStnkDariBiroJasaYangDipilih==undefined" class="rbtn btn ng-binding ladda-button" style="margin-top:-30px;float:right;" ng-click="TerimaSTNKBirojasaTerimaNotice()">Terima Notice</button>
<button ng-disabled="TerimaStnkDariBiroJasaYangDipilih.length<1 || TerimaStnkDariBiroJasaYangDipilih==null || TerimaStnkDariBiroJasaYangDipilih==undefined" class="rbtn btn ng-binding ladda-button" style="margin-top:-30px;float:right;" ng-click="TerimaSTNKBirojasaTerimaPlat()">Terima Plat</button>
<button ng-disabled="TerimaStnkDariBiroJasaYangDipilih.length<1 || TerimaStnkDariBiroJasaYangDipilih==null || TerimaStnkDariBiroJasaYangDipilih==undefined || TerimaStnkDariBiroJasaBatalAman==false" class="wbtn btn ng-binding ladda-button" style="margin-left:15px;margin-top:-30px;float:right;" ng-click="TerimaSTNKBirojasaBatalTerima()">Batal Terima</button>
    <bsform-grid ng-form="TerimaSTNKBirojasaForm" factory-name="TerimaSTNKBirojasaFactory" model="mTerimaSTNKBirojasa"
        model-id="ReceiveId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows"
        grid-hide-action-column="true" hide-new-button="true" show-advsearch="on" form-name="TerimaSTNKBirojasaForm"
        form-title="Terima STNK Biro Jasa" modal-title="TerimaSTNKBirojasa" loading="loading" modal-size="small" icon="fa fa-fw fa-child">

        <bsform-advsearch>
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Cabang</label>
                        <!-- <div class="input-icon-right">
                                <i class="fa fa-pencil"></i>
                                <input type="text" class="form-control" name="model" placeholder="Pilih Cabang" ng-model="filter.SuratDistribusiNo" ng-maxlength="50">
                            </div> -->
                        <div class="input-icon-right">
                            <bsselect name="filterSales" ng-model="filter.OutletId" data="outletCabang" item-text="Name"
                                item-value="OutletId" placeholder="Branch" icon="fa fa-sitemap"></bsselect>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. PO</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Input No. PO" ng-model="filter.POBiroJasaUnitNo"
                                ng-maxlength="50">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. Rangka</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Input No. Rangka" ng-model="filter.FrameNo"
                                ng-maxlength="50">
                        </div>
                    </div>
                </div>
				<div class="col-md-3">
                    <div class="form-group">
                        <label>Status</label>
                        <div class="input-icon-right">
                            <bsselect ng-model="filter.StatusAFIId" data="OptionsStatusafiTerimaStnkDariBiroJasa" item-text="StatusName" item-value="StatusAFIId"
								placeholder="Status">
							</bsselect>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nama Pemilik</label>
                        <div class="input-icon-right">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control" name="model" placeholder="Input Nama Pemilik" ng-model="filter.NamaPemilik"
                                maxlength="50">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Vendor</label>
                        <bsselect name="filterSales" placeholder="Vendor" ng-model="filter.ServiceBureauId" data="vendor"
                            item-text="ServiceBureauName,ServiceBureauCode" item-value="ServiceBureauId" placeholder="Select">
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tanggal Penerimaan</label>
                        <bsdatepicker name="TanggalPenerimaan" ng-model="filter.TanggalPenerimaan" ng-change="valueStartDate()"
                            date-options="dateOption" required>
                        </bsdatepicker>
                    </div>
                </div>
            </div>
        </bsform-advsearch>

    </bsform-grid>



    <div class="ui modal terimaSTNK" role="dialog" style="background-color: transparent !important; width: 600px">
        <!-- <div> -->
        <p style="text-align: center">
            <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
                <!-- <button type="button" ng-click="backFromterimaSTNK()" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Terima STNK dari Biro Jasa</h4>
            </div>

            <div class="modal-body" style="background-color: white;  max-height: 60%">
                <div class="row" style="margin: 0 0 0 0">
                    <div filedset="false">
                        <div class="row" style="margin: 0 0 0 0">
                            <div class="form-group">
                                <label>No Rangka</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="fieldNoRangka"
                                        placeholder="" ng-model="rowsDocument.FrameNo" maxlength="50" required>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin: 0 0 0 0">
                            <div class="form-group">
                                <label>Model Kendaraan</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="fieldModel"
                                        placeholder="" ng-model="rowsDocument.Description" maxlength="50" required>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin: 0 0 0 0">
                            <div class="form-group">
                                <label>Nama STNK</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="" placeholder=""
                                        ng-model="rowsDocument.STNKName" maxlength="50" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form name="validSTNKBirojasa">
                        <div id="infoPembeli" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px">
                            <p style="width:120px; margin-top:-17px; padding-left: 3px; margin-left:14px; background:white;"><b>Item
                                    yang Diterima</b></p>
                            <div class="row" style="margin: 0 0 0 0">
                                <div class="col-xs-1" style="margin-top: 8px">
                                    <!--<span ng-click="toogle = !toogle"><i  ng-class="{'fa fa-square-o' : asdf == false || !toogle, 'fa fa-check-square' : asdf == true || toogle}"  style="font-size: 15px" aria-hidden="true"></i>-->
                                    <!--<input type="checkbox" readonly ng-model="NoSTNKCekChanged">-->
                                    <span><i ng-class="{'fa fa-square-o' : NoSTNKCekChanged == false || !toogle, 'fa fa-check-square' : NoSTNKCekChanged == true || toogle}"
                                            style="font-size: 15px" aria-hidden="true"></i>
                                </div>

                                <div class="col-xs-4" style="margin-top: 8px; padding-left: 0px !important">
                                    <bsreqlabel>No STNK</bsreqlabel>
                                </div>

                                <div class="col-xs-7">
                                    <div style="margin-bottom: 5px">
                                        <div class="input-icon-right ">
                                            <input alpha-numeric mask="TDP" ng-change="CentangSTNK()" type="text" class="form-control"
                                                name="fieldModel" placeholder="" ng-model="rowsDocument.STNKNo"
                                                maxlength="20" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin: 0 0 0 0">
                                <div class="col-xs-1" style="margin-top: 8px">
                                    <!--<i class="fa fa-square-o" style="font-size: 15px" aria-hidden="true"></i>-->
                                    <!--<input type="checkbox" readonly ng-model="PoliceNumberCekChanged">-->
                                    <span><i ng-class="{'fa fa-square-o' : PoliceNumberCekChanged == false || !toogle, 'fa fa-check-square' : PoliceNumberCekChanged == true || toogle}"
                                            style="font-size: 15px" aria-hidden="true"></i>
                                </div>

                                <div class="col-xs-4" style="margin-top: 8px; padding-left: 0px !important">
                                    <bsreqlabel>Plat No Polisi</bsreqlabel>
                                </div>

                                <div class="col-xs-7">
                                    <div style="margin-bottom: 5px">
                                        <div class="input-icon-right ">
                                            <input ng-change="CentangPoliceNumber()" type="text" class="form-control"
                                                name="fieldModel" placeholder="" ng-model="rowsDocument.PoliceNumber"
                                                maxlength="10" required>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row" style="margin: 0 0 0 0">
                                <div class="col-xs-1" style="margin-top: 8px">
                                    <!--<i class="fa fa-square-o" style="font-size: 15px" aria-hidden="true"></i>-->
                                    <!--<input type="checkbox" readonly ng-model="NoticePajakCekChanged">-->
                                    <span><i ng-class="{'fa fa-square-o' : NoticePajakCekChanged == false || !toogle, 'fa fa-check-square' : NoticePajakCekChanged == true || toogle}"
                                            style="font-size: 15px" aria-hidden="true"></i>
                                </div>

                                <div class="col-xs-4" style="margin-top: 8px ;padding-left: 0px !important">
                                    <bsreqlabel>Notice Pajak</bsreqlabel>
                                </div>
                            </div>

                            <div id="infoPembeli" class="col-md-12" style="width:96%;border:1px solid lightgrey;padding: 15px 0 0 0;margin: 15px 10px 10px 10px;">
                                <p style="width:110px; margin-top:-21px; padding-left: 3px; margin-left:14px; background:white"><b>Item
                                        Notice Pajak</b></p>
                                <div class="row" style="margin: 0 0 0 0">

                                    <div class="col-xs-5" style="margin-top: 8px">
                                        <label>BBNKB<label>
                                    </div>

                                    <div class="col-xs-7">
                                        <div style="margin-bottom: 5px">
                                            <div class="input-icon-right ">
                                                <input ng-change="CentangNoticePajak()" type="text" input-currency
                                                    number-only class="form-control" name="fieldModel" placeholder=""
                                                    ng-model="rowsDocument.BBNKB" ng-maxlength="50" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin: 0 0 0 0">
                                    <div class="col-xs-5" style="margin-top: 8px">
                                        <label>PKB<label>
                                    </div>

                                    <div class="col-xs-7">
                                        <div style="margin-bottom: 5px">
                                            <div class="input-icon-right ">
                                                <input ng-change="CentangNoticePajak()" type="text" input-currency
                                                    number-only class="form-control" name="fieldModel" placeholder=""
                                                    ng-model="rowsDocument.PKB" ng-maxlength="50" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin: 0 0 0 0">
                                    <div class="col-xs-5" style="margin-top: 8px">
                                        <label>SWDKLLJ<label>
                                    </div>
                                    <div class="col-xs-7">
                                        <div style="margin-bottom: 5px">
                                            <div class="input-icon-right ">
                                                <input ng-change="CentangNoticePajak()" type="text" input-currency
                                                    number-only class="form-control" name="fieldModel" placeholder=""
                                                    ng-model="rowsDocument.SWDKLLJ" ng-maxlength="50" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin: 0 0 0 0">
                                    <div class="col-xs-5" style="margin-top: 8px">
                                        <label>Biaya Adm.STNK<label>
                                    </div>
                                    <div class="col-xs-7">
                                        <div style="margin-bottom: 5px">
                                            <div class="input-icon-right ">
                                                <input ng-change="CentangNoticePajak()" type="text" input-currency
                                                    number-only class="form-control" name="fieldModel" placeholder=""
                                                    ng-model="rowsDocument.BiayaAdmSTNK" ng-maxlength="50" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin: 0 0 0 0">
                                    <div class="col-xs-5" style="margin-top: 8px">
                                        <label>Biaya Adm.TNKB<label>
                                    </div>
                                    <div class="col-xs-7">
                                        <div style="margin-bottom: 5px">
                                            <div class="input-icon-right ">
                                                <input ng-change="CentangNoticePajak()" type="text" input-currency
                                                    number-only class="form-control" name="fieldModel" placeholder=""
                                                    ng-model="rowsDocument.BiayaAdmTNKB" ng-maxlength="50" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div class="row" style="margin: 0 0 0 0">
                        <div class="col-md-6" style="padding: 15px 13px 0 0">
                            <label>Tanggal Aju STNK ke Biro Jasa :</label>
                            <bsdatepicker ng-disabled="true" type="date" date-options="dateOption" ng-model="rowsDocument.POBiroJasaUnitDate"></bsdatepicker>
                        </div>
                        <div class="col-md-6" style="padding: 15px 0 0 13px">
                            <label>Tanggal Terima STNK dari Biro Jasa :</label>
                            <bsdatepicker type="date" id="Min_Da_ReceiveSTNKDateMaxDate" date-options="dateOption" min='2000-13-13'
                                ng-model="rowsDocument.ReceiveSTNKDate"></bsdatepicker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">

                <!-- <button ng-click="testing()">tes</button> -->
                <button type="button" ng-disabled="validSTNKBirojasa.$invalid" class="rbtn btn ng-binding ladda-button"
                    style="float: right" onclick="this.blur()" ng-click="simpanTerimaSTNK()" ladda="savingState"
                    data-style="expand-left" tabindex="0">
                    <span class="ladda-label"><i class="fa fa-fw fa-check"></i>&nbsp;Simpan</span><span class="ladda-spinner"></span>
                </button>
                <button type="button" class="wbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()"
                    ng-click=" backFromterimaSTNK()" ladda="savingState" data-style="expand-left" tabindex="0">
                    <span class="ladda-label"><i class="fa fa-fw fa-times"></i>&nbsp;Kembali</span><span class="ladda-spinner"></span>
                </button>

            </div>
        </p>
        <!-- </div> -->
    </div>


    <div class="ui modal alasanterlambatSTNK" modal="alasanterlambat" role="dialog">
        <!-- <div> -->
        <div class="modal-header" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;Alasan Keterlambatan
                Penerimaan STNK dari Biro Jasa</h4>
        </div>
        <div class="modal-body">
            <div class="row" style="margin: 0 0 0 0">
                <div id="infoPembeli" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 15px 0 15px; margin-top: 10px 10px 0 10px">
                    <p style="width:50px; padding:0 5px 0 5px; margin-top:-18px; margin-bottom:15px; background:white"><b>Alasan</b></p>
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="form-group">
                            <div class="col-md-6" style="padding-left: 0 !important">
                                <label>No Rangka</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="FrameNo"
                                        placeholder="" ng-model="SelectedDataTerlambat_FrameNo" ng-maxlength="50"
                                        required>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-right: 0 !important">
                                <label>No. PO</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" placeholder="Input No.PO" ng-model="SelectedDataTerlambat_POBiroJasaUnitNo"
                                        ng-maxlength="50" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6" style="padding-left: 0 !important; padding-top: 10px !important">
                                <label>Model</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="FrameNo"
                                        placeholder="" ng-model="SelectedDataTerlambat_Model" ng-maxlength="50"
                                        required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 10px 0 0 0">
                        <bsreqlabel>Alasan Keterlambatan</bsreqlabel>
                        <div class="form-group">
                            <textarea ng-model="SelectedDataTerlambat_AlasanKeterlambatanSTNK" rows="6" class="form-control"
                                cols="83">
                            </textarea>
                        </div>
                    </div>
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="col-md-3" style="margin-top: 8px; padding:0 5px 0 0">
                            <bsreqlabel>Perkiraan Lama Keterlambatan : </bsreqlabel>
                        </div>
                        <div class="col-md-2" style="padding: 0 0 0 0">
                            <div class="form-group">
                                <div>
                                    <input type="text" number-only maxlength="3" class="form-control" size="2" name="LamaKeterlambatanSTNK"
                                        placeholder="" ng-model="SelectedDataTerlambat_LamaKeterlambatanSTNK">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="margin-top: 8px">
                            Hari
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <p align="center">
                <button type="button" class="rbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()"
                    ng-click="simpanAlasanRevisi()" ng-disabled="(SelectedDataTerlambat_AlasanKeterlambatanSTNK == undefined || SelectedDataTerlambat_AlasanKeterlambatanSTNK == null || SelectedDataTerlambat_AlasanKeterlambatanSTNK == '') ||
                                                (SelectedDataTerlambat_LamaKeterlambatanSTNK == undefined || SelectedDataTerlambat_LamaKeterlambatanSTNK == null || SelectedDataTerlambat_LamaKeterlambatanSTNK == '')"
                    ladda="savingState" data-style="expand-left" tabindex="0">
                    <span class="ladda-label"><i class="fa fa-fw fa-check"></i>&nbsp;Simpan</span><span class="ladda-spinner"></span>
                </button>
                <button ng-click="backFromAlasanRevisi()" class="wbtn btn ng-binding ladda-button" style="float: right">Kembali</button>
            </p>
        </div>
        <!-- </div> -->

    </div>

    <div class="ui modal alasanrevisiSTNK" modal="alasanterlambat" role="dialog">
        <!-- <div> -->
        <div class="modal-header" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;Alasan Revisi
                Penerimaan STNK dari Biro Jasa</h4>
        </div>
        <div class="modal-body">
            <div class="row" style="margin: 0 0 0 0">
                <div id="infoPembeli" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 15px 0 15px; margin-top: 10px 10px 0 10px">
                    <p style="width:50px; padding:0 5px 0 5px; margin-top:-18px; margin-bottom:15px; background:white"><b>Alasan</b></p>
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="form-group">
                            <div class="col-md-6" style="padding-left: 0 !important">
                                <label>No Rangka</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="FrameNo"
                                        placeholder="" ng-model="SelectedDataRevisi.FrameNo" ng-maxlength="50"
                                        required>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-right: 0 !important">
                                <label>No. PO</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" placeholder="No. PO" ng-model="SelectedDataRevisi.POBiroJasaUnitNo"
                                        ng-maxlength="50" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6" style="padding-left: 0 !important; padding-top: 10px !important">
                                <label>Model</label>
                                <div class="input-icon-right ">
                                    <input ng-disabled="true" type="text" class="form-control" name="FrameNo"
                                        placeholder="" ng-model="SelectedDataRevisi.VehicleModelName" ng-maxlength="50"
                                        required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 10px 0 0 0">
                        <bsreqlabel>Alasan Revisi</bsreqlabel>
                        <div class="form-group">
                            <textarea ng-model="SelectedDataRevisi.AlasanRevisiSTNK" rows="6" class="form-control"
                                cols="83">
                            </textarea>
                        </div>
                    </div>
                    <div class="row" style="margin: 0 0 0 0">
                        <div class="col-md-3" style="margin-top: 8px; padding:0 5px 0 0">
                            <bsreqlabel>Perkiraan Lama Revisi : </bsreqlabel>
                        </div>
                        <div class="col-md-2" style="padding: 0 0 0 0">
                            <div class="form-group">
                                <div>
                                    <input type="text" number-only maxlength="3" class="form-control" size="2" name="LamaKeterlambatanSTNK"
                                        placeholder="" ng-model="SelectedDataRevisi.LamaKeterlambatanSTNK">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="margin-top: 8px">
                            Hari
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <p align="center">
                <button type="button" class="rbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()"
                    ng-click="SaveRevisiSTNK()" ng-disabled="(SelectedDataRevisi.AlasanRevisiSTNK == undefined || SelectedDataRevisi.AlasanRevisiSTNK == null || SelectedDataRevisi.AlasanRevisiSTNK == '') ||
                                                (SelectedDataRevisi.LamaKeterlambatanSTNK == undefined || SelectedDataRevisi.LamaKeterlambatanSTNK == null || SelectedDataRevisi.LamaKeterlambatanSTNK == '')"
                    ladda="savingState" data-style="expand-left" tabindex="0">
                    <span class="ladda-label"><i class="fa fa-fw fa-check"></i>&nbsp;Simpan</span><span class="ladda-spinner"></span>
                </button>
                <button ng-click="batalRevisiSTNK()" class="wbtn btn ng-binding ladda-button" style="float: right">Kembali</button>
            </p>
        </div>
        <!-- </div> -->

    </div>

    <div class="ui modal revisiStnk" modal="revisiStnk" role="dialog">
        <!-- <div> -->
        <div class="modal-body">
            <p>
                <h3 align="center"> Peringatan </h3>
            </p>
            <p align="center">
                Apakah Anda ingin Melakukan Revisi STNK ?
            </p>

        </div>
        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
            <p align="right" style="margin-bottom: 0px !important">
                <button ng-click="backFromRevisiSTNK()" class="wbtn btn ng-binding ladda-button">Tidak</button>
                <button ng-click="openSaveRevisiSTNK()" class="rbtn btn ng-binding ladda-button" style="width: 8%">Ya</button>
            </p>
        </div>
        <!-- </div> -->
    </div>
</div>