<script type="text/javascript">

</script>
<style type="text/css">


</style>
<bsform-grid
        ng-form="ReasonForm"
        factory-name="ReasonFactory"
        model="mReason"
        model-id="ReasonId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="ReasonForm"
        form-title="Reason"
        modal-title="Reason"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

        <div class="row">
          <div class="col-md-6">

              <div class="form-group" show-errors>
                <bsreqlabel>Reason Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="reasonName" placeholder="Reason Name" ng-model="mReason.ReasonName"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="reasonName"></bserrmsg>
            </div>
            <div class="form-group" show-errors>
                <bsreqlabel>Reason Value</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="reasonValue" placeholder="Reason Value" ng-model="mReason.ReasonValue"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="reasonValue"></bserrmsg>
            </div>
          </div>
        </div>
</bsform-grid-tree>
