<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6 col-xm-6 col-md-6">
                <div class="form-group">
                    <label>List Kontak Person</label>
                    <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="ContactPerson" ng-disabled="disableCPPK" skip-enable ng-model="mDataDM.CP" data="cpList" item-text="Name" item-value="Name" placeholder="Pilih Kontak Person" on-select="onChangeCP(selected)">
                    </bsselect>
                </div>
                <div class="form-group">
                    <bsreqlabel>Nama</bsreqlabel>
                    <input type="text" class="form-control" ng-model="mDataDM.CP.Name" placeholder="Nama" maxlength="50">
                </div>
                <div class="form-group">
                    <bsreqlabel>No. Handphone 1</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-phone"></i>
                        <input type="numbers-only" class="form-control" ng-model="mDataDM.CP.HP1" placeholder="No Handphone" maxlength="15" numbers-only>
                    </div>
                </div>
                <div class="form-group">
                    <label>No. Handphone 2</label>
                    <div class="input-icon-right">
                        <i class="fa fa-phone"></i>
                        <input type="numbers-only" class="form-control" ng-model="mDataDM.CP.HP2" placeholder="No Handphone" maxlength="15" numbers-only>
                    </div>
                </div>
            </div>
            <!-- ================= -->
            <div class="col-xs-6 col-xm-6 col-md-6">
                <div class="form-group">
                    <label>List Pengambil Keputusan</label>
                    <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="PengambilKeputusan" ng-disabled="disableCPPK" skip-enable ng-model="mDataDM.PK" data="pkList" item-text="Name" item-value="Name" placeholder="Pilih Penanggung Jawab" on-select="onChangePK(selected)">
                    </bsselect>
                </div>
                <div class="form-group">
                    <bsreqlabel>Nama</bsreqlabel>
                    <input type="text" class="form-control" ng-model="mDataDM.PK.Name" placeholder="Nama" maxlength="50">
                </div>
                <div class="form-group">
                    <bsreqlabel>No. Handphone 1</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-phone"></i>
                        <input type="numbers-only" class="form-control" ng-model="mDataDM.PK.HP1" placeholder="No Handphone" maxlength="15" numbers-only>
                    </div>
                </div>
                <div class="form-group">
                    <label>No. Handphone 2</label>
                    <div class="input-icon-right">
                        <i class="fa fa-phone"></i>
                        <input type="numbers-only" class="form-control" ng-model="mDataDM.PK.HP2" placeholder="No Handphone" maxlength="15" numbers-only>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>