<div class="row" ng-hide="wobpMode == 'new'">
    <div class="col-md-12 text-right">
        <button type="button" ng-click="editPng(mData.US)" ng-hide="!disPng" class="rbtn btn"><i class="fa fa-fw fa-pencil"></i>&nbsp;Edit</button>
        <button type="button" ng-click="cancelPng(mData.US)" ng-show="!disPng" class="wbtn btn">Batal</button>
        <button type="button" ng-click="savePng(mData.US, mDataCrm, CustomerVehicleId)" ng-show="!disPng" class="rbtn btn"><i
                class="fa fa-fw fa-check"></i>&nbsp;Save</button>
    </div>
</div>
<div class="row" ng-show="!disPng">
    <div class="col-md-12">
        <div class="form-group" ng-show="!hiddenUserList">
            <label>List Pengguna</label>
            <!-- <bsselect ng-model="mData.US" data="pngList" item-text="name" item-value="VehicleUserId" placeholder="Pilih Pengguna" on-select="onChangePng(selected)">
            </bsselect> -->
            <select convert-to-number class="form-control"  ng-model="mData.US" data="pngList" placeholder="Pilih Pengguna" ng-change="onChangePng(mData.US)">
                <option ng-repeat="item in pngList" ng-selected="mData.US.VehicleUserId == item.VehicleUserId" value="{{item.VehicleUserId}}">{{item.name}}</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="form-group">
                <label>Nama Lengkap</label>
                <input type="text" name="nameLengkap" ng-maxlength="255" maxlength="255" class="form-control" ng-model="mData.US.name" ng-readonly='disPng'>
                <input type="text" class="form-control" ng-model="mData.US.VehicleUserId" ng-hide="true">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>No. Handphone 1</label>
                <div class="input-icon-right">
                    <i class="fa fa-phone"></i>
                    <input type="text" name="HP1" numbers-only ng-maxlength="15" maxlength="15" class="form-control" ng-model="mData.US.phoneNumber1" ng-readonly='disPng'>
                    <!--  numbers-only -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>No. Handphone 2</label>
                <div class="input-icon-right">
                    <i class="fa fa-phone"></i>
                    <input type="text" name="HP2" numbers-only ng-maxlength="15" maxlength="15" class="form-control" ng-model="mData.US.phoneNumber2" ng-readonly='disPng'>
                    <!-- numbers-only -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Hubungan dengan Pemilik</label>
                <!-- <bsselect data="dataRelationship" on-select="selectedRelationship(selected)" item-value="RelationId" item-text="RelationDesc"
                    ng-model="mData.US.Relationship" placeholder="Pilih Hubungan dengan Pemilik" ng-disabled="disPng" skip-enable>
                </bsselect> -->
                <select convert-to-number class="form-control" id="RelationshipID" data="dataRelationship" on-select="selectedRelationship(selected)" ng-model="mData.US.Relationship" placeholder="Pilih Hubungan dengan Pemilik" ng-disabled="disPng" skip-enable>
                    <option ng-repeat="dataRelationship in dataRelationship" ng-selected="mData.US.Relationship == dataRelationship.RelationId" value="{{dataRelationship.RelationId}}">{{dataRelationship.RelationDesc}}</option>
                </select>
            </div>
        </div>
    </div>
</div>