<div class="row" ng-hide="wobpMode == 'new'">
    <div class="col-md-12 text-right">
        <button type="button" ng-click="editPnj()" ng-hide="!disPnj" class="rbtn btn"><i class="fa fa-fw fa-pencil"></i>&nbsp;Edit</button>
        <button type="button" ng-click="savePnj()" ng-show="!disPnj" class="rbtn btn">Save</button>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <div class="form-group">
            <bsreqlabel>Nama Lengkap</bsreqlabel>
            <input type="text" class="form-control" ng-model="mDataCrm.Customer.PICName" ng-readonly='disPnj'>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <bsreqlabel>No. Handphone</bsreqlabel>
            <div class="input-icon-right">
                <i class="fa fa-phone"></i>
                <input type="text" class="form-control" ng-model="mDataCrm.Customer.PICHp" ng-readonly='disPnj' numbers-only>
            </div>
        </div>
    </div>
</div>