<div class="form-group" show-errors>
  <bsreqlabel>Pengambil Keputusan</bsreqlabel>
  <input type="text" class="form-control" name="decisionMaker" placeholder="" ng-model="mData.decisionMaker.name" required>
  <bserrmsg field="contactPerson"></bserrmsg>
</div>
<div class="form-group" show-errors>
  <bsreqlabel>No. Handphone 1</bsreqlabel>
  <input type="numbers-only" class="form-control" name="decisionMakerPhoneNumber1" placeholder="" ng-model="mData.decisionMaker.phoneNumber1" required>
  <bserrmsg field="decisionMakerPhoneNumber1"></bserrmsg>
</div>
<div class="form-group">
  <bsreqlabel>No. Handphone 2</bsreqlabel>
  <input type="numbers-only" class="form-control" name="decisionMakerPhoneNumber2" placeholder="" ng-model="mData.decisionMaker.phoneNumber2">
</div>
