<div class="col-md-12" ng-form="row1">
    <div class="col-xs-6">
        <div class="row"></div>
        <div class="form-group" show-errors>
            <bsreqlabel>Tipe</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="tipe" ng-model="lmModel.JobTypeId" data="taskCategory" item-text="Name" item-value="MasterId" ng-disabled="isRelease" placeholder="Pilih Tipe" on-select="selectTypeWork(selected,lmModel.JobTypeId)" required>
            </bsselect>
            <!-- <select name="tipe" ng-model="lmModel.JobTypeId" data="taskCategory" ng-disabled="isRelease" placeholder="Pilih Tipe"
                    ng-change="selectTypeWork(lmModel,lmModel)" class="form-control">
                    <option ng-repeat="task in taskCategory" value="{{task.MasterId}}">{{task.Name}}</option>
                </select> -->
            <em ng-messages="row1.tipe.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                </em>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Pekerjaan</bsreqlabel>
            <bstypeahead ng-if="tmpIsTAM != 0 && mFilterTAM.isTAM == 1" placeholder="Nama Pekerjaan" name="jobName" ng-model="lmModel.TaskName" get-data="getWork" ng-disabled="isRelease" item-text="TaskName" loading="loadingUsers" noresult="noResults" selected="selected" on-select="onSelectWork"
                on-noresult="onNoResult" on-gotresult="onGotResult" icon="fa-id-card-o" ng-maxlength="100" maxlength="100" required>
            </bstypeahead>
            <input ng-if="tmpIsTAM == 0 || mFilterTAM.isTAM != 1" placeholder="Nama Pekerjaan" type="text" required ng-disabled="isRelease" class="form-control" ng-maxlength="100" maxlength="100" name="jobName" ng-model="lmModel.TaskName">
            <em ng-messages="row1.jobName.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                    <p ng-message="maxlength">Karakter terlalu banyak</p>
                </em>
            <!-- <bserrmsg field="jobName"></bserrmsg> -->
        </div>
        <div class="form-group" style="margin-bottom:45px;" show-errors>
            <div class="form-inline">
                <label class="pull-left">Additional OpeNo</label>
                <bscheckbox ng-change="getDataOpeNo(lmModel.TaskName,lmModel.isOpe,lmModel)" class="pull-right" ng-model="lmModel.isOpe" label="Ope No" true-value="1" false-value="0" ng-disabled="mDataCrm.Vehicle.isNonTAM == 1">
                </bscheckbox>
            </div>
        </div>

        <div class="form-group" show-errors>
            <!-- <input type="text" class="form-control" name="noMaterial" ng-model="ldModel.PartsCode" > -->
            <div style="padding-left:0;padding-right:0;padding-bottom:15px;">
                <!-- <bstypeahead placeholder="Task Code" name="noMaterial" ng-model="lmModel.TaskCode" get-data="getTaskOpe"
                    item-text="TaskCode" disallow-space loading="loadingUsers" noresult="noResults" selected="selected"
                    on-select="onSelectOpeNo" on-noresult="onNoPartResult" on-gotresult="onGotResult" ta-minlength="4"
                    ng-disabled="lmModel.isOpe == 0" template-url="customTemplateOpe.html" icon="fa-id-card-o">
                    </bstypeahead> -->
                <select name="OpeNo" ng-change="selectTypeOpeNo(lmModel.TaskCode,lmModel)" class="form-control" ng-disabled="lmModel.isOpe == 0" ng-model="lmModel.TaskCode" data="DataOpeNo" placeholder="Pilih Tipe" ng-disabled="mDataCrm.Vehicle.isNonTAM == 1">
                        <option ng-repeat="sat in DataOpeNo" value="{{sat.TaskCode}}">{{sat.TaskName}}</option>
                    </select>
            </div>

            <em ng-messages="row1.noMaterial.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                </em>
            <!-- <bserrmsg field="noMaterial"></bserrmsg> -->
        </div>
        <div class="form-group" show-errors>
            <div class="row">
                <div class="col-xs-6">
                    <bsreqlabel>FR</bsreqlabel>
                    <input type="number" required step=0.0000000001 min=0 class="form-control" name="Fr" ng-model="lmModel.FlatRate" ng-disabled="FlatRateAvailable" ng-change="checkServiceRate(lmModel.FlatRate,lmModel.JobTypeId)">
                    <em ng-messages="row1.Fr.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p ng-message="required">Wajib diisi</p>
                        <p ng-message="min">Angka harus lebih besar atau sama dengan 0 </p>
                    </em>
                </div>
                <!-- <div class="form-group" show-errors> -->
                <div class="col-xs-6">
                    <bsreqlabel>Satuan</bsreqlabel>
                    <!-- <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="satuan" ng-disabled="isRelease" ng-model="lmModel.ProcessId" data="unitData" item-text="Name" item-value="MasterId" placeholder="Pilih Tipe" required>
                    </bsselect> -->
                    <select name="satuan" convert-to-number class="form-control" ng-disabled="isRelease" ng-model="lmModel.ProcessId" data="unitData" placeholder="Pilih Tipe" required>
                        <option ng-repeat="sat in unitData" value="{{sat.MasterId}}">{{sat.Name}}</option>
                    </select>
                    <input type="text" class="form-control" name="satuan" ng-model="lmModel.ProcessId" ng-hide="true" required ng-required="true">
                    <em ng-messages="row1.satuan.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p ng-message="required">Wajib diisi</p>
                    </em>
                </div>
            </div>

            <!-- <bserrmsg field="satuan"></bserrmsg> -->
            <!-- </div> -->
            <!-- <bserrmsg field="Fr"></bserrmsg> -->
        </div>


        <div class="form-group" show-errors>
            <div class="col-md-12" style="padding-right: 0px;padding-left: 0px;">
                <bsreqlabel>Harga</bsreqlabel>
                <div ng-if="PriceAvailable == false && (isRelease == false || isRelease == true)">
                    <!-- <input type="number" ng-maxlength="10" required min=0 class="form-control" name="price" ng-model="lmModel.Fare"
                    ng-disabled=""> -->
                    <input type="text" ng-maxlength="13" maxlength="13" required min=0 class="form-control" name="price" ng-model="lmModel.Fare" ng-disabled="" currency-formating number-only>
                </div>
                <div ng-if="PriceAvailable == true && (isRelease == false || isRelease == true)">
                    <!-- <input type="number" required ng-maxlength="10" min=0 class="form-control" name="price" ng-model="lmModel.Summary"
                    ng-disabled="PriceAvailable"> -->
                    <input type="text" required ng-maxlength="13" min=0 class="form-control" name="price" ng-model="lmModel.Summary" ng-change="changeHarga(lmModel, mFilterTAM.isTAM)" ng-disabled="PriceAvailable && mFilterTAM.isTAM == 1" currency-formating number-only>
                </div>

                <em ng-messages="row1.price.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                    <p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
                </em>
            </div>
            <!-- <bserrmsg field="price"></bserrmsg> -->
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group" show-errors>
            <bsreqlabel>Job Plan / SAR</bsreqlabel>
            <input type="number" ng-disabled="isRelease" step=0.25 min=0.25 class="form-control" name="jobplan" ng-model="lmModel.ActualRate" required ng-change="onSARtype(lmModel.ActualRate)">
            <em ng-messages="row1.jobplan.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                    <p ng-message="step">Jobplan / SAR harus kelipatan 0.25 </p>
                    <p ng-message="min">Jobplan / SAR harus lebih dari sama dengan 0.25 </p>
                </em>
            <!-- <bserrmsg field="jobplan"></bserrmsg> -->
        </div>
        <div class="form-group" ng-if="lmModel.JobTypeId != 57 && lmModel.JobTypeId != 2677 && lmModel.JobTypeId != 2678 && lmModel.JobTypeId != 2675 && lmModel.JobTypeId != 2678" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <!-- <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-disabled="isRelease" ng-model="lmModel.PaidById" data="paymentData" item-text="Name" item-value="MasterId" placeholder="Pilih Pembayaran" on-select="selectTypeCust(selected,lmModel)" required>
            </bsselect> -->
            <!-- <select ng-init="lmModel.PaidById=''" name="pembayaran" convert-to-number ng-disabled="disablePembayaran || JobIsWarranty == 1" class="form-control" ng-model="lmModel.PaidById" placeholder="Pilih Pembayaran" ng-change="selectTypeCust(lmModel,lmModel.PaidById)" ng-required="true" required>
                <option value=""></option>
                <option ng-repeat="pay in paymentData" value="{{pay.MasterId}}">{{pay.Name}}</option>
            </select> -->
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="lmModel.PaidById" data="paymentData" item-text="Name" item-value="MasterId" placeholder="Pilih Pembayaran" on-select="selectTypeCust(selected,lmModel.PaidById)" ng-disabled="disablePembayaran || JobIsWarranty == 1" required>
            </bsselect>
            <input type="text" class="form-control" name="pembayaran" ng-model="lmModel.PaidById" ng-hide="true" required ng-required="true">
            <em ng-messages="row1.pembayaran.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                </em>
            <!-- <bserrmsg field="pembayaran"></bserrmsg> -->
        </div>

        <div class="form-group" ng-if="lmModel.JobTypeId == 57 && lmModel.JobTypeId != 2677 && lmModel.JobTypeId != 2678 && lmModel.JobTypeId != 2675 && lmModel.JobTypeId != 2678" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <select ng-init="lmModel.PaidById=''" name="pembayaran" convert-to-number ng-disabled="disablePembayaran || JobIsWarranty == 1" class="form-control" ng-model="lmModel.PaidById" placeholder="Pilih Pembayaran" ng-change="selectTypeCust(selected,lmModel.PaidById)" ng-required="true" required>
                <option value=""></option>
                <option ng-repeat="pay in payment_pds" value="{{pay.MasterId}}">{{pay.Name}}</option>
            </select>
            <input type="text" class="form-control" name="pembayaran" ng-model="lmModel.PaidById" ng-hide="true" required ng-required="true">
            <em ng-messages="row1.pembayaran.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                </em>
        </div>

        <div class="form-group" ng-if="lmModel.JobTypeId == 2677 || lmModel.JobTypeId == 2678" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="lmModel.PaidById" data="paymentDataThereIstWarranty" item-text="Name" item-value="MasterId" placeholder="Pilih Pembayaran" on-select="selectTypeCust(selected,lmModel.PaidById)" ng-disabled="JobIsWarranty == 4 || JobIsWarranty == 2" required>
            </bsselect>
            <em ng-messages="row1.pembayaran.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="pembayaran"></bserrmsg> -->
        </div>
        <div class="form-group" ng-if="lmModel.JobTypeId == 2675 && lmModel.JobTypeId != 2677 && lmModel.JobTypeId != 2678" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="lmModel.PaidById" data="paymentDataIsNotWarranty" item-text="Name" item-value="MasterId" placeholder="Pilih Pembayaran" on-select="selectTypeCust(selected,lmModel.PaidById)" required>
            </bsselect>
            <em ng-messages="row1.pembayaran.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="pembayaran"></bserrmsg> -->
        </div>

        <div class="form-group" ng-hide="hideT1customer" show-errors>
            <label>T1
                    <span ng-show="lmModel.JobTypeId == 59 || lmModel.JobTypeId == 60" style="color:#b94a48;"> *</span>
            </label>
            <!-- <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="T1" ng-model="lmModel.TFirst1" data="TFirst" item-text="Name" item-value="Name" ng-disabled="disT1" placeholder="T1">
            </bsselect> -->
            <!-- ng-required="!disT1"  ng-disabled="disT1" -->
            <select name="T1" ng-model="lmModel.TFirst1" data="TFirst"  placeholder="T1" class="form-control" ng-disabled="disT1" ng-required="lmModel.JobTypeId == 59 || lmModel.JobTypeId == 60">
                <option value=""></option>
                <option ng-repeat="tf1 in TFirst" value="{{tf1.T1Code}} - {{tf1.Name}}">{{tf1.T1Code}} - {{tf1.Name}}</option>
            </select>
            <em ng-messages="row1.T1.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert" ng-if="disablePembayaran">
                <p ng-message="required">Wajib diisi</p>
            </em>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Tipe Diskon</bsreqlabel>
            <!-- <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="diskonTipe" ng-model="lmModel.DiscountTypeId" data="diskonData" item-text="Name" item-value="MasterId" on-select="selectDiscountTypeIdTask(selected,lmModel)" placeholder="Pilih Tipe Diskon" required>
            </bsselect> -->
            <select convert-to-number name="diskonTipe" ng-model="lmModel.DiscountTypeId" class="form-control" data="diskonData" ng-change="selectTypeDiskonTask(lmModel.DiscountTypeId,lmModel)" ng-disabled="lmModel.PaidById == 2277 || lmModel.PaidById == 30 || lmModel.JobTypeId == 59 || lmModel.JobTypeId == 60 || lmModel.JobTypeId == 2675 || lmModel.JobTypeId == 2677 || lmModel.JobTypeId == 2678" placeholder="Pilih Tipe Diskon" required>
                <option value=""></option>
                <option ng-repeat="disc in diskonData" value="{{disc.MasterId}}">{{disc.Name}}</option>
                
            </select>
            <input type="text" class="form-control" name="diskon" ng-model="lmModel.DiscountTypeId" ng-hide="true" required ng-required="true">
            <em ng-messages="row1.diskonTipe.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                </em>
            <!-- <bserrmsg field="diskon"></bserrmsg> -->
        </div>
        <div class="form-group" show-errors>
            <div ng-if="lmModel.DiscountTypeId == 1 || lmModel.DiscountTypeId == 2|| lmModel.DiscountTypeId == null|| lmModel.DiscountTypeId == undefined"><bsreqlabel>List Diskon</bsreqlabel></div>
            <div ng-if="lmModel.DiscountTypeId == 0 || lmModel.DiscountTypeId == -1 || lmModel.DiscountTypeId == 10"><label>List Diskon</label></div>
            <!-- <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="diskonList" ng-model="lmModel.DiscountTypeListId" ng-disabled="lmModel.DiscountTypeId == 0 || lmModel.DiscountTypeId == -1" data="diskonListData" item-text="Name" item-value="Id" on-select="selectTypeListDiskonTask(selected,lmModel.DiscountTypeId,lmModel)"
                    data="diskonListData" item-text="Name" item-value="Id" on-select="selectTypeListDiskonTask(selected,lmModel.DiscountTypeId,lmModel)"
                    placeholder="Pilih List Diskon" ng-required="lmModel.DiscountTypeId == 1 || lmModel.DiscountTypeId == 2">
            </bsselect> -->
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="diskonList" ng-model="lmModel.DiscountTypeListId" ng-disabled="lmModel.DiscountTypeId == 0 || lmModel.DiscountTypeId == -1 || lmModel.DiscountTypeId == 10 || lmModel.DiscountTypeId == 3 || lmModel.PaidById == 2277 || lmModel.PaidById == 30 || lmModel.JobTypeId == 59 || lmModel.JobTypeId == 60" data="diskonListData" item-text="Name" item-value="Id" on-select="selectTypeListDiskonTask(selected,lmModel.DiscountTypeId,lmModel)" placeholder="Pilih List Diskon" ng-required="lmModel.DiscountTypeId == 1 || lmModel.DiscountTypeId == 2"></bsselect>
            <em ng-messages="row1.diskonList.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                </em>
            <!-- <bserrmsg field="diskon"></bserrmsg> -->
        </div>
        <div class="form-group" show-errors>
            <label ng-if="lmModel.DiscountTypeId != 0">Diskon</label>
            <bsreqlabel ng-if="lmModel.DiscountTypeId == 0">Diskon (min 1%)</bsreqlabel>
            <input type="number" step=0.01 ng-required="isCustomTask" ng-disabled="(!isCustomTask) || lmModel.PaidById == 2277 || lmModel.PaidById == 30 || lmModel.JobTypeId == 59 || lmModel.JobTypeId == 60 || lmModel.DiscountTypeId == -1" ng-if="lmModel.DiscountTypeId != 0" min=0 max=100 class="form-control" name="Discount" ng-model="lmModel.Discount">
            <input type="number" step=0.01 ng-required="true" ng-disabled="(!isCustomTask) || lmModel.PaidById == 2277 || lmModel.PaidById == 30 || lmModel.JobTypeId == 59 || lmModel.JobTypeId == 60 || lmModel.DiscountTypeId == -1" ng-if="lmModel.DiscountTypeId == 0" min=1 max=100 class="form-control" name="Discount" ng-model="lmModel.Discount">
            <em ng-messages="row1.Discount.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                    <p ng-message="step">Discount hanya bisa 2 angka desimal</p>
                    <p ng-message="max">Angka terlalu besar</p>
                </em>
        </div>
    </div>
    <script type="text/ng-template" id="customTemplateOpe.html">
        <a>
            <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
            <span ng-bind-html="match.model.TaskName | uibTypeaheadHighlight:query"></span>
            <!-- <span ng-bind-html="match.model.FullName | uibTypeaheadHighlight:query"></span> -->
        </a>
    </script>
</div>