<div class="row">
    <div class="col-md-12">
        <fieldset class="scheduler-border">
            <!-- <legend style="background:white;" class="scheduler-border">Order Pekerjaan Luar</legend> -->
            <label>Order Pekerjaan Luar</label>
               <div class="row" style="margin-bottom: 10px;">
                   <div class="col-md-6 col-xs-6">
                       <button  class="ui icon inverted grey button"style="font-size:15px;padding:0.5em;font-weight:400;box-shadow:none!important;color:#777;margin:0px 1px 0px 2px" ng-click="deleteAllDataGridViewWork()"><i class="fa fa-trash"></i>
                       </button>
                   </div>
                   <div class="col-md-6 col-xs-6">
                       <button ng-click="plushOrderOpl()" class="rbtn btn pull-right"  data-target="#ModalOP" on-deny="denied" data-toggle="modal" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus"></i>&nbsp;Tambah</button>
                   </div>
               </div>
                <div ag-grid="gridWorkView" class="ag-theme-balham" style="height: 250px;"></div>
        </fieldset>

        <div class="ui modal ModalOPL" id="modalId" role="dialog" tabindex="0" ng-keydown="allowPatternFilter($event)" settings="{'transition':'vertical flip','closable':false, 'keyboard': false }" style="left:0% !important; width:75%; margin:-284px auto 0px; background-color: transparent !important;">
            <div class="modal-header"
                style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
                <h4 class="modal-title">Order Pekerjaan Luar</h4>
            </div>

            <div class="modal-body" style="background-color: white;  max-height: 60%">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" show-errors>
                            <label>Kode Vendor</label>
                            <input  type="text" class="form-control" name="VendorCode" ng-model="mOpl.VendorCode" ng-disabled="true" skip-enable>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="false">
                        <div class="form-group" show-errors>
                            <bsreqlabel>Vendor</bsreqlabel>
                            <select name="vendor" convert-to-number class="form-control" ng-model="mOpl.vendor" data="OplVendor" placeholder="Pilih Vendor" required ng-disabled="viewMode || masterOPL.length > 0" ng-change="chooseVendor()">
                                <option ng-repeat="sat in OplVendor" value="{{sat.VendorId}}">{{sat.Name}}</option>
                            </select>
                            <bserrmsg field="Vendor"></bserrmsg>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <bsreqlabel>Vendor</bsreqlabel>
                        <bsselect name="vendor" ng-model="mOpl.vendor" data="OplVendor" item-text="Name" item-value="VendorId" ng-disabled="viewMode || masterOPL.length > 0" placeholder="Pilih Vendor" on-select="chooseVendor(selected)" required>
                        </bsselect>
                    </div>

                    <div class="col-md-12" style="margin-top: 15px;">
                        <fieldset class="scheduler-border">
                            <!-- <legend style="background:white;" class="scheduler-border">OPL</legend> -->
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-md-12 col-xs-12">
                                        <button ng-disabled="viewMode" skip-enable ng-click="plushOPL()" class="rbtn btn pull-right"><i class="fa fa-plus" n></i>&nbsp;Tambah</button>
                                    </div>
                                </div>
                                <div ag-grid="gridDetailOPL" class="ag-theme-balham" style="height: 400px;" id="gridParts"></div>
                        </fieldset>
                    </div>
                    <!-- <label>{{OplVendor}}</label> -->
                </div>
            </div>

            <div class="modal-footer" style="padding:1rem 1rem !important;background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                <div class="wbtn btn ng-binding" style="width:100px;" ng-click="closeModalOpl()">Cancel</div>
               <div class="rbtn btn ng-binding ng-scope" ng-disabled="viewMode || disableSimpan || masterOPL.length == 0" skip-enable ng-click="saveFinalOpl()" style="width:100px;">Simpan</div>

            </div>
            

            <script type="text/ng-template" id="customTemplateOpl.html">
                <a>
                    <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
                    <span ng-bind-html="match.model.VendorCode | uibTypeaheadHighlight:query"></span>
                    
                    <span ng-bind-html="match.model.Name | uibTypeaheadHighlight:query"></span>
                    <span ng-bind-html="match.model.isExternalDesc | uibTypeaheadHighlight:query"></span>
                    <!-- <span ng-bind-html="match.model.FullName | uibTypeaheadHighlight:query"></span> -->
                </a>
            </script>
        </div>
    </div>
</div>