<div class="row">
    <div class="col-md-12" style="margin-top: 10px;">
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" ng-click="editSuggest()" ng-hide="!disSgs" class="rbtn btn"><i class="fa fa-fw fa-pencil"></i>&nbsp;Edit</button>
                <button type="button" ng-click="cancelSuggest(mData.Suggestion)" ng-show="!disSgs" class="wbtn btn">Batal</button>
                <button type="button" ng-click="SimpanJobSuggest(mData.Suggestion)" ng-show="!disSgs" class="rbtn btn"><i
                        class="fa fa-fw fa-check"></i>&nbsp;Save</button>
            </div>
        </div>
        <div class="row" style="margin-top: 25px;">
            <div class="col-md-12">
                <!-- <input  ng-readonly="disSgs" type="text" class="form-control" class="form-control" placeholder="Job Suggestion" name='Suggestion' ng-model="mData.Suggestion" >  -->
                <textarea ng-readonly="disSgs" ng-model="mData.Suggestion" ng-maxlength="1000" maxlength="1000"  style="width: 100%;height: 100px;"></textarea>
            </div>
        </div>
    </div>
</div>