<div class="col-md-9">
    <div class="col-md-12">
        <label class="control-label">Riwayat Servis</label>
    </div>

    <div class="col-md-3" style="padding-left: 0px;">
        <bsdatepicker name="Tanggal1" date-options="DateOptionsHistory" ng-model="MRS.startDate">
        </bsdatepicker>
    </div>
    <div class="col-md-1" style="margin-top: 5px;padding-left: 0px; text-align: center">
        <label>S/D</label>
    </div>
    <div class="col-md-3" style="padding-left: 0px;">
        <bsdatepicker name="Tanggal2" date-options="DateOptionsHistory" ng-model="MRS.endDate">
        </bsdatepicker>
    </div>
</div>
<div class="col-md-3">
    <bsreqlabel class="control-label">Kategori : </bsreqlabel>
    <!-- ng-change="change()" -->
    <select ng-model="MRS.category" class="form-control" convert-to-number>
        <option value="2">ALL</option>
        <option value="1">GR</option>
        <option value="0">BP</option>
    </select>
</div>
<div class="col-md-12" style="margin-top: 10px;text-align: right;">
    <button class="rbtn btn" ng-click="change(MRS.startDate,MRS.endDate,MRS.category,mDataCrm.Vehicle.VIN)">Cari</button>
</div>

<div class="col-md-12" style="margin-top:20px;">
    <uib-accordion close-others="oneAtATime">
        <div ng-repeat="item in mDataVehicleHistory" uib-accordion-group class="panel-default">
            <uib-accordion-heading>
                <table style="width:100%">
                    <tr>
                        <td>{{item.VehicleJobService[0].JobDescription}}</td>
                        <th class="text-right">{{item.ServiceNumber}} | {{item.ServiceDate |date:'dd-MMM-yyyy'}}</th>
                        <!-- <th colspan="2">{{item.ServiceNumber}} | {{item.ServiceDate |date:dd/mm/yyyy}}</th> -->
                    </tr>
                    <tr>
                        <td>Lokasi services : {{item.ServiceLocation}}</td>
                        <td class="text-right">SA : {{item.ServiceAdvisor}}</td>
                    </tr>
                    <tr>
                        <td>KM : {{item.Km}}</td>
                        <!-- <td class="text-right">Group : {{item.Group}}</td> -->
                        <!-- <td class="text-right" ng-if="item.KategoriServiceId == 1">Teknisi : {{item.VehicleJobService[0].EmployeeName}}</td> -->
                        <td class="text-right" ng-if="item.KategoriServiceId == 1">Teknisi : {{item.namaTeknisi}}</td>
                        <td class="text-right" ng-if="item.KategoriServiceId == 0">Group : {{item.namaGroup}}</td>
                        <!-- <td class="text-right">Tanggal Servis : {{item.ServiceDate |date:dd/mm/yyyy}}</td> -->
                    </tr>
                    <tr>
                        <td>Job Suggest : {{item.JobSuggest}}</td>
                        <td class="text-right" ng-if="item.KategoriServiceId == 1">Kategori : GR</td>
                        <td class="text-right" ng-if="item.KategoriServiceId == 0">Kategori : BP</td>
                    </tr>
                </table>
            </uib-accordion-heading>

            <uib-accordion close-others="oneAtATime">
                <div is-open="statusRequest.open" uib-accordion-group class="panel-default">
                    <uib-accordion-heading>
                        Permintaan
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    <table class="table table-striped">
                        <tr>
                            <th style="width: 7%;">No. Permintaan</th>
                            <th style="width: 93%;">Deskripsi Permintaan</th>
                            
                        </tr>
                        <tr ng-repeat="itemRequest in item.VehicleRequestService">
                            <td>{{$index + 1}}</td>
                            <td>{{itemRequest.RequestDesc}}</td>
                        </tr>
                    </table>
                </div>
            </uib-accordion>

            <uib-accordion close-others="oneAtATime">
                <div is-open="statusComplaint.open" uib-accordion-group class="panel-default">
                    <uib-accordion-heading>
                        Keluhan
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    <table class="table table-striped">
                        <tr>
                            <th style="width: 7%;">No. Keluhan</th>
                            <th style="width: 15%;">Kategori Keluhan</th>
                            <th style="width: 78%;">Deskripsi Keluhan</th>
                            
                        </tr>
                        <tr ng-repeat="itemComplaint in item.VehicleComplaintService">
                            <td>{{$index + 1}}</td>
                            <td>{{itemComplaint.ComplaintCatg}}</td>
                            <td>{{itemComplaint.ComplaintDesc}}</td>
                        </tr>
                    </table>
                </div>
            </uib-accordion>

            <uib-accordion close-others="oneAtATime">
                <div ng-repeat="itemJob in item.VehicleJobService" is-open="status.open" uib-accordion-group class="panel-default">
                    <uib-accordion-heading>
                        {{itemJob.JobDescription}}
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    <table class="table table-striped">
                        <tr>
                            <th>No. Material</th>
                            <th>Material</th>
                            <!-- <th>Nama Material</th> -->
                            <th>Qty</th>
                            <th>Satuan</th>
                        </tr>
                        <tr ng-repeat="tr in itemJob.VehicleServiceHistoryDetail">
                            <!-- <td>{{tr.PartsCode}}</td> -->
                            <td>{{tr.MaterialCode}}</td>
                            <td>{{tr.Material}}</td>
                            <td>{{tr.Quantity | number:2}}</td>
                            <td>{{tr.Satuan}}</td>
                        </tr>
                    </table>
                </div>
            </uib-accordion>
        </div>
    </uib-accordion>
    <div class="row" ng-hide="isPSFU">
        <div class="col-md-12">
            <bscheckbox class="pull-right" ng-model="mRiwayatService.isNeedPrint" label="Print Riwayat Service" ng-show="mDataVehicleHistory.length > 0" true-value=1 false-value=0>
            </bscheckbox>
        </div>
    </div>
</div>