<!-- Request -->
<div class="row" style="margin-bottom:10px;">
    <div class="col-md-12">
        <bslist data="JobRequest" m-id="JobRequestId" list-model="reqModel" on-select-rows="onListSelectRows" selected-rows="listSelectedRows"
            on-before-save="onBeforeSaveJobRequest" confirm-save="true" list-api="listApi" button-settings="listButtonSettings"
            modal-size="small" modal-title="Permintaan" list-title="Permintaan" list-height="200">
            <bslist-template>
                <div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Permintaan" ng-model="lmItem.RequestDesc" ng-disabled="true" skip-enable>
                </textarea>
                    </div>
                </div>
            </bslist-template>
            <bslist-modal-form>
                <div>
                    <div class="form-group" show-errors>
                        <bsreqlabel>Permintaan</bsreqlabel>
                        <textarea ng-maxtlength="200" maxlength="200" class="form-control" placeholder="Permintaan" name='reqdesc' ng-model="reqModel.RequestDesc">
                </textarea>
                        <bserrmsg field="reqdesc"></bserrmsg>
                    </div>
                </div>
            </bslist-modal-form>
        </bslist>
    </div>
</div>
<!-- Keluhan -->
<div class="row" style="margin-bottom:10px;">
    <div class="col-md-12" style="text-align:right;">
        <div class="btn-group" style="margin-top:25px;">
            <button type="button" ng-click="preDiagnose()" class="rbtn btn ng-binding">
                Pre Diagnose
            </button>
        </div>
    </div>
</div>
<br/>
<div class="row" style="margin-bottom:10px;">
    <div class="col-md-12">
        <bslist data="JobComplaint" m-id="JobComplaintId" list-model="lmComplaint" on-select-rows="onListSelectRows" selected-rows="listComplaintSelectedRows"
            confirm-save="false" list-api="listApi" button-settings="listButtonSettings" modal-size="small" modal-title="Keluhan"
            list-title="Keluhan" list-height="200">
            <bslist-template>
                <div>
                    <div class="form-group">
                        <bsreqlabel>Kategori: </bsreqlabel>
                        <bsselect data="vm.appScope.ComplaintCategory" item-value="ComplaintCatg" item-text="ComplaintCatg" ng-model="lmItem.ComplaintCatg"
                            placeholder="Tipe Keluhan" ng-disabled="true" skip-enable>
                        </bsselect>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Deskripsi" ng-model="lmItem.ComplaintDesc" ng-disabled="true" skip-enable>
                                            </textarea>
                    </div>
                </div>
            </bslist-template>
            <bslist-modal-form>
                <div style="margin-bottom:90px;">
                    <div class="form-group">
                        <bsreqlabel>Tipe Keluhan</bsreqlabel>
                        <bsselect data="ComplaintCategory" item-value="ComplaintCatg" item-text="ComplaintCatg" ng-model="lmComplaint.ComplaintCatg"
                            placeholder="Tipe Keluhan" required>
                        </bsselect>
                        <bserrmsg field="ctype"></bserrmsg>
                    </div>
                    <div class="form-group" style="margin-bottom: 100px;">
                        <bsreqlabel>Deskripsi</bsreqlabel>
                        <textarea class="form-control" placeholder="Complaint Text" name="ctext" ng-maxlength="200" ng-model="lmComplaint.ComplaintDesc" required>
                                            </textarea>
                        <bserrmsg field="ctext"></bserrmsg>
                    </div>
                </div>
            </bslist-modal-form>
        </bslist>
    </div>
</div>
<br/>
<!-- JobList -->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Nomor WO Estimasi</label>
            <input type="text" min=0 class="form-control" ng-disabled="true" skip-enable name="NomorWo" ng-model="mData.EstimationNo">
            <bserrmsg field="NomorWo"></bserrmsg>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group" ng-if="gatein_pds == false">
            <bsreqlabel>Kategori WO</bsreqlabel>
            <select class="form-control" name="categoryWO" convert-to-number ng-model="mData.WoCategoryId" placeholder="WO Category" ng-change="changeSelectedWoCategory(mData.WoCategoryId)">
                <option ng-repeat="cat in woCategory" value="{{cat.MasterId}}">{{cat.Name}}</option>
            </select>
            <!-- <bsselect data="woCategory" name="categoryWO" item-value="MasterId" item-text="Name" ng-model="mData.WoCategoryId" placeholder="WO Category">
            </bsselect> -->
            <!-- <bserrmsg field="ctype"></bserrmsg> -->
            <bserrmsg field="categoryWO"></bserrmsg>
        </div>
        <div class="form-group" ng-if="gatein_pds == true">
            <bsreqlabel>Kategori WO</bsreqlabel>
            <select class="form-control" name="categoryWOpds" convert-to-number ng-model="mData.WoCategoryId" placeholder="WO Category" ng-change="changeSelectedWoCategory(mData.WoCategoryId)">
                <option ng-repeat="cat in woCategory_pds" value="{{cat.MasterId}}">{{cat.Name}}</option>
            </select>
            <!-- <bsselect data="woCategory" name="categoryWO" item-value="MasterId" item-text="Name" ng-model="mData.WoCategoryId" placeholder="WO Category">
            </bsselect> -->
            <!-- <bserrmsg field="ctype"></bserrmsg> -->
            <bserrmsg field="categoryWOpds"></bserrmsg>
        </div>
    </div>
    <div class="col-md-12">
        <bslist data="gridWork" m-id="tmpTaskId" d-id="PartsId" on-after-save="onAfterSave" on-after-delete="onAfterDelete" on-before-edit="onBeforeEditJob" on-before-save="onBeforeSave"
            on-after-cancel="onAfterCancel" on-before-new="onBeforeNew" list-model="lmModel" list-detail-model="ldModel" grid-detail="gridPartsDetail"
            on-select-rows="onListSelectRows" selected-rows="listJoblistSelectedRows" list-api='listApiJob' confirm-save="false" button-settings="ButtonList"
            list-title="Order Pekerjaan" modal-title="Job Data" modal-title-detail="Parts Data">
            <!-- <bslist-template>
                <div class="col-md-6" style="text-align:left;">
                    <p class="name"><strong>{{ lmItem.TaskName }}</strong></p>
                    <div class="col-md-3">
                        <p>Tipe : {{lmItem.catName}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>Flat Rate : {{lmItem.FlatRate}}</p>
                    </div>
                </div>
                <div class="col-md-6" style="text-align:right;">
                    <p>Pembayaran : {{lmItem.PaidBy}}</p>
                    <p>Harga : {{lmItem.Summary | currency:"Rp. ":0}}</p>
                </div>
            </bslist-template>
            <bslist-detail-template>
                <div class="col-md-3">
                    <p><strong>{{ ldItem.PartsCode }}</strong></p>
                    <p>{{ ldItem.PartsName }}</p>
                </div>
                <div class="col-md-3">
                    <p>{{ ldItem.Availbility }}
                    </p>
                    <p>Pembayaran : {{ ldItem.PaidBy}}</p>
                </div>
                <div class="col-md-3">
                    <p>Jumlah : {{ldItem.Qty}} {{ldItem.Name}}
                    </p>
                    <p>Harga : {{ ldItem.RetailPrice | currency:"Rp. ":0}}</p>
                </div>
                <div class="col-md-3">
                    <p>ETA : {{ ldItem.ETA | date:'dd-MM-yyyy'}}
                    </p>
                    <p>Reserve : {{ ldItem.Qty }}</p>
                </div>
            </bslist-detail-template> -->
            <bslist-template>
                <div class="col-md-1" style="text-align:left;">
                    <p class="name"><strong>{{ lmItem.NumberParent }}</strong></p>
                </div>
                <div class="col-md-5" style="text-align:left;">
                    <p class="name"><strong>{{ lmItem.TaskName }}</strong></p>
                    <div class="col-md-6" style="padding-left: 0px;">
                        <p>Tipe :{{lmItem.catName}}</p>
                    </div>
                    <div class="col-md-6">
                        <p>Flat Rate: {{lmItem.FlatRate}}</p>
                    </div>
                </div>
                <div class="col-md-6" style="text-align:right;">
                    <p>Pembayaran: {{lmItem.PaidBy}}</p>
                    <p>Harga: {{lmItem.Summary | currency:"Rp."}}</p>
                </div>
            </bslist-template>
            <bslist-detail-template>
                <div>
                    <div class="col-md-1">
                        <p><strong>{{ ldItem.NumberChild }}</strong></p> 
                    </div>
                    <div class="col-md-3">
                        <p><strong>{{ ldItem.PartsCode }}</strong></p>
                        <p>{{ ldItem.PartsName }}</p>
                    </div>
                    <div class="col-md-3">
                        <p>{{ ldItem.Availbility }}</p>
                        <p>Pembayaran : {{ ldItem.PaidBy}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>Jumlah : {{ldItem.Qty}} {{ldItem.satuanName}}</p>
                        <p>Harga : {{ ldItem.RetailPrice | currency:"Rp. ":0}}</p>
                    </div>
                    <div class="col-md-2">
                        <p>ETA : {{ ldItem.ETA | date:'dd-MM-yyyy'}}</p>
                        <!-- <p>Reserve : {{ ldItem.Qty }}</p> -->
                        <p ng-if="ldItem.QtyReserved >= 0">Reserve : {{ ldItem.QtyReserved }}</p>
                        <p ng-if="ldItem.QtyReserved == null || ldItem.QtyReserved == undefined">Reserve : 0</p>

                    </div>
                </div>
            </bslist-detail-template>
            <bslist-modal-form>
                <div class="row">
                    <div ng-include="'app/services/reception/wo/includeForm/modalFormMaster.html'">
                    </div>
                </div>
            </bslist-modal-form>
            <bslist-modal-detail-form>
                <div class="row">
                    <div ng-include="'app/services/reception/wo/includeForm/modalFormDetail.html'">
                    </div>
                </div>
            </bslist-modal-detail-form>
        </bslist>
    </div>
    <table id="example" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>Item</th>
                <th>Harga</th>
                <th>Disc</th>
                <th>Sub Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Estimasi Service / Jasa</td>
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalWork | currency:"":0}}</td>
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalWorkDiscounted | currency:"":0}}</td>
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{(totalWork - totalWorkDiscounted) | currency:"":0}}</td>
            </tr>
            <tr>
                <td>Estimasi Material (Parts / Bahan)</td>
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalMaterial | currency:"":0}}</td>
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalMaterialDiscounted | currency:"":0}}</td>
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ (totalMaterial - totalMaterialDiscounted) | currency:"":0}}</td>
            </tr>
            <tr>
                <!-- <td>Estimasi Material (Parts / Bahan)</td> -->
                <!-- kata pa dodi part sama opb di pisah biar kaya biling -->
                <td>Estimasi OPB</td>
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalMaterialOPB | currency:"":0}}</td>
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalMaterialDiscountedOPB | currency:"":0}}</td>
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ (totalMaterialOPB - totalMaterialDiscountedOPB) | currency:"":0}}</td>
            </tr>
            <tr>
                <td>Estimasi OPL</td>
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{sumWorkOpl | currency:"":0}}</td>
                
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{sumWorkOpl - sumWorkOplDiscounted | currency:"":0}}</td>
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{sumWorkOplDiscounted | currency:"":0}}</td>
            </tr>
            <tr>
                <td>PPN</td>
                <td style="text-align: right;"></td>
                <td style="text-align: right;"></td>
                <!-- <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ totalPPN + (sumWorkOplDiscounted*(10/100)) | currency:"":0}} -->
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ totalPPNSummary | currency:"":0}}
            </tr>
            <tr>
                <td>Total Estimasi</td>
                <td style="text-align: right;"></td>
                <td style="text-align: right;"></td>
                <!-- <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ totalEstimasi + sumWorkOplDiscounted + (sumWorkOplDiscounted*(10/100)) | currency:"":0}}</td> -->
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{ totalEstimasiSummary | currency:"":0}}</td>
            </tr>
            <tr>
                <td>Total DP</td>
                <td style="text-align: right;"></td>
                <td style="text-align: right;"></td>
                <td style="text-align: right;"><span style="float: left;">Rp. </span>{{totalDp | currency:"":0}}</td>
            </tr>
        </tbody>
    </table>
</div>