<script type="text/javascript">
    function SetReceiveSTNKDateMinDate(TheDate) {
        var Da_ReceiveSTNKDateMaxDate = TheDate;
        var dd = Da_ReceiveSTNKDateMaxDate.getDate();
        var mm = Da_ReceiveSTNKDateMaxDate.getMonth() + 1; //January is 0!
        var yyyy = Da_ReceiveSTNKDateMaxDate.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        Da_ReceiveSTNKDateMaxDate = yyyy + '-' + mm + '-' + dd;
        document.getElementById("Min_Da_ReceiveSTNKDateMaxDate").setAttribute("min", Da_ReceiveSTNKDateMaxDate);

    }
</script>

<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="ShowGoodReceiptMain" class="row" style="margin: 0 0 0 0">


    <button id="PengembalianSpk" ng-click="TambahGoodReceiptSTNK()" class="rbtn btn ng-binding ladda-button" style="float:right; margin:-30px 0 0 10px"
        ng-disabled="btnPengembalianSpk">Tambah</button>


    <bsform-grid ng-form="goodReceiptSTNKForm" factory-name="goodReceiptSTNKFactory" model="mgoodReceiptSTNK"
        model-id="ReceiveId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows"
        grid-hide-action-column="true" hide-new-button="true" show-advsearch="on" form-name="goodReceiptSTNKForm"
        form-title="Terima STNK Biro Jasa" modal-title="goodReceiptSTNK" loading="loading" modal-size="small" icon="fa fa-fw fa-child">

        <bsform-advsearch>
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. Surat Jalan</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Input Nomor Surat Jalan" ng-model="filterStatusSTNKMain.SuratJalanNo"
                                ng-maxlength="50">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <bsreqlabel>Vendor</bsreqlabel>
                        <bsselect   name="vendor"  data="vendor"
                                    item-text="ServiceBureauName, ServiceBureauCode" ng-model="filterStatusSTNKMain.ServiceBureauId"
                                    item-value="ServiceBureauId" placeholder="Pilih Biro Jasa" required="true" icon="fa fa-search ">
                        </bsselect>  
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Status GR</label>
                        <div class="input-icon-right">
                            <bsselect name="filterSales" ng-model="filterStatusSTNKMain.STNKGrStatusId" data="statusGRSTNK" item-text="STNKGrStatusName"
                                item-value="STNKGrStatusId" placeholder="Status GR" icon="fa fa-sitemap"></bsselect>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. Rangka</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Input Nomor Rangka" ng-model="filterStatusSTNKMain.FrameNo"
                                ng-maxlength="50">
                        </div>
                    </div>
                </div>

                
            </div>
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. Good Receipt</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Input Nomor Good Receipt" ng-model="filterStatusSTNKMain.STNKGRCode"
                                ng-maxlength="50">
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tanggal Dokumen GR</label>
                        <bsdatepicker name="JadwalPenerimaan" ng-model="filterStatusSTNKMain.StartSTNKGRDate" 
                            date-options="dateOption" required>
                        </bsdatepicker>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Sampai Tanggal</label>
                        <bsdatepicker name="JadwalPenerimaan" ng-model="filterStatusSTNKMain.EndSTNKGRDate" 
                            date-options="dateOption" required>
                        </bsdatepicker>
                    </div>
                </div>

            </div>
        </bsform-advsearch>

    </bsform-grid>  
</div>

<div ng-show="ShowTambahGoodReceipt" class="row" style="margin: 0 10px 0 10px;">

    <!-- button simpan dan kembali -->
    <div class="row" style="margin: 0 0 10px 0">
        <button 
         style="float: right;" ng-click="showKonfirmasiGoodReceipt()" type="button" class="rbtn btn ng-binding ladda-button" ng-disabled="selectRowgridTambahGRSTNK.length<1||selectRowgridTambahGRSTNK==null||selectRowgridTambahGRSTNK==undefined ||disabledShowKonfirmasiGoodReceipt ||fieldInput.SuratJalanNo==null||fieldInput.SuratJalanNo==undefined">
            <span class="ladda-label">
                Simpan
            </span>
            <span class="ladda-spinner"></span>
        </button>

        <button style="float: right;" ng-click="KembaliGoodReceiptSTNK()" type="button" class="wbtn btn ng-binding ladda-button">
            <span class="ladda-label">
                Kembali
            </span>
            <span class="ladda-spinner"></span>
        </button>
    </div>

    <!-- <div class="col-md-12 advsearch" style="padding:10px; margin-bottom:0px; border:1px solid #e2e2e2;background-color:rgba(213,51,55,0.02)"> -->
    <div class="col-md-12 advsearch" style="padding:10px; margin-bottom:0px; border:1px solid #e2e2e2; margin-right: 10px;">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Vendor</bsreqlabel>
                    <bsselect   name="vendor"  data="vendor"
                                item-text="ServiceBureauName, ServiceBureauCode" 
                                ng-model="filterTambahStatusSTNK.ServiceBureauId" 
                                ng-change="filterVendor()"
                                item-value="ServiceBureauId" placeholder="Pilih Biro Jasa" required="true" icon="fa fa-search ">
                    </bsselect>  
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Status STNK</label>
                    <select class="form-control" disabled="true">
                      <option selected="">Terima STNK Dari Biro Jasa</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <label>Tipe PO</label>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" disabled value="STNK">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tanggal Terima STNK</label>
                    <bsdatepicker name="tanggalFrom" date-options="dateOption" ng-model="filterTambahStatusSTNK.StartReceiveSTNKDate" ng-change="tanggalmin(dt)"
                        icon="fa fa-calendar" required>
                    </bsdatepicker>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Sampai Tanggal</label>
                    <bsdatepicker name="tanggalTo" date-options="dateOption" ng-disabled="filterTambahStatusSTNK.StartReceiveSTNKDate == null || filterTambahStatusSTNK.StartReceiveSTNKDate == undefined" ng-model="filterTambahStatusSTNK.EndReceiveSTNKDate"
                        icon="fa fa-calendar" required>
                    </bsdatepicker>
                </div>
            </div>
        </div>
        <div class="" style="position:absolute;right:20px;margin-top:-30px;">
   
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn wbtn" style="padding:4px;" ng-click="getDataTambahSTNK()" onclick="this.blur()" tooltip-placement="bottom"
                        tooltip-trigger="mouseenter" tooltip-animation="false" uib-tooltip="Search">
                        <i class="large icons">
                            <i class="database icon"></i>
                            <i class="inverted corner filter icon"></i>
                        </i>Search</button>
                </div>
            </div>
        </div>
    </div>

    

    <div class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 15px 0; margin-top: 10px; margin-bottom: 10px; margin-right: 10px;">
        <div class="col-md-3">
            <div class="form-group">
                <bsreqlabel>Nomor Surat Jalan</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" required="true" name="model" placeholder="Input No. Surat Jalan" ng-model="fieldInput.SuratJalanNo"
                        ng-maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <label>No. GR</label>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="model" placeholder="No. Good Receipt Terisi Otomatis" ng-model="fieldInput.STNKGRCode" disabled="true" 
                        ng-maxlength="50">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label>Catatan Penerimaan</label>
            <textarea name="" id="" style="width: 100%; height: 100px;" ng-model="fieldInput.Note"  class="form-control"></textarea>
            
        </div>
    </div>



    <div class="col-md-12">
        <div style="display: block;" class="grid" ui-grid="gridTambahGRSTNK" ui-grid-pagination ui-grid-pinning ui-grid-selection ui-grid-auto-resize></div>
    </div>  
</div>

<div ng-show="ShowLihatGoodReceipt" class="row" style="margin: 0 10px 0 10px;">

    <!-- button kembali -->
    <div class="row" style="margin: 0 0 10px 0">
        <button style="float: right;" ng-click="KembaliGoodReceiptSTNK()" type="button" class="wbtn btn ng-binding ladda-button">
            <span class="ladda-label">
                Kembali
            </span>
            <span class="ladda-spinner"></span>
        </button>
    </div>

    <!-- <div class="col-md-12 advsearch" style="padding:10px; margin-bottom:0px; border:1px solid #e2e2e2;background-color:rgba(213,51,55,0.02)"> -->
    <div class="col-md-12 advsearch" style="padding:10px; margin-bottom:0px; border:1px solid #e2e2e2; margin-right: 10px;">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Vendor</bsreqlabel>

                    <!-- <bsselect   name="detailGRSTNK"  data="detailGRSTNK.listFrameNo[0]"
                                item-text="ServiceBureauName, ServiceBureauCode" ng-model="detailGRSTNK.listFrameNo[0].ServiceBureauName" ng-disabled="true"
                                item-value="ServiceBureauId" placeholder="Pilih Biro Jasa" required="true" icon="fa fa-search ">
                    </bsselect>   -->

                    <!-- hardcoded sementara -->
                    <select class="form-control" disabled="true">
                      <option selected="">{{detailGRSTNK.listFrameNo[0].ServiceBureauName}}</option>
                      <option>2</option>
                      <option>3</option>
                    </select>



                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Status STNK</label>
                    <select class="form-control" disabled="true">
                      <option selected="">Terima STNK Dari Biro Jasa</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <label>Tipe PO</label>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="model" disabled="true" value="STNK">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Tanggal Terima STNK</bsreqlabel>
                    <bsdatepicker name="tanggalFrom" date-options="dateOptionsStart" ng-model="filterTambahStatusSTNK.StartReceiveSTNKDate" ng-change="tanggalmin(dt)"
                        icon="fa fa-calendar" required>
                    </bsdatepicker>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Sampai Tanggal</bsreqlabel>
                    <bsdatepicker name="tanggalTo" date-options="dateOptionsEnd" ng-disabled="filterTambahStatusSTNK.StartReceiveSTNKDate == null || filterTambahStatusSTNK.StartReceiveSTNKDate == undefined" ng-model="filterTambahStatusSTNK.EndReceiveSTNKDate"
                        icon="fa fa-calendar" required>
                    </bsdatepicker>
                </div>
            </div>
        </div>
    </div>

    

    <div class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 15px 0; margin-top: 10px; margin-bottom: 10px; margin-right: 10px;">
        <div class="col-md-3">
            <div class="form-group">
                <label>Nomor Surat Jalan</label>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="model" placeholder="Input No. PO" ng-model="detailGRSTNK.SuratJalanNo" ng-disabled="detailGRSTNK.SuratJalanNo"
                        ng-maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <label>No. GR</label>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="model" ng-model="detailGRSTNK.STNKGRCode" ng-disabled="detailGRSTNK.STNKGRCode"
                        ng-maxlength="50">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label>Catatan Penerimaan</label>
            <textarea name="" id="" style="width: 100%; height: 100px;" ng-model="detailGRSTNK.Note" ng-disabled="detailGRSTNK.Note" 
            class="form-control"></textarea>
            
        </div>
    </div>



    <div class="col-md-12">
        <div style="display: block;" class="grid" ui-grid="gridLihatGRSTNK" ui-grid-pagination ui-grid-pinning ui-grid-selection ui-grid-auto-resize></div>
    </div>  
</div>

<div class="ui modal modalKonfirmasi" role="dialog">
    <div>
        <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15); ">
            <h4 class="modal-title">Good Receipt STNK</h4>
                <button class="btn rbtn" style="float: right;margin-top: -28px;" ng-disabled="disabledSimpanGRSTNK" ng-click="simpanGRSTNK()">Simpan</button>
                <button class="btn wbtn" style="float: right;margin-top: -28px;" ng-click="keluarModal()">Keluar</button>
        </div>
        <div class="modal-body">
            <div class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 15px 0; margin-top: 10px; margin-bottom: 10px; margin-right: 10px;">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>No. GR</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="No. Good Receipt Terisi Otomatis" disabled ng-model="fieldInput.STNKGRCode"
                                ng-maxlength="50">
                        </div>
                    </div>
                 </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <bsreqlabel>Vendor</bsreqlabel>
                            <select class="form-control" disabled="true">
                              <option selected="">Terima STNK Dari Biro Jasa</option>
                              <option>2</option>
                              <option>3</option>
                            </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tipe PO</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" disabled="true" value="STNK">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nomor Surat Jalan</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" disabled="true" ng-model="fieldInput.SuratJalanNo"
                                ng-maxlength="50">
                        </div>
                    </div>
                </div>
                    
                <div class="col-md-8">
                    <label>Catatan Penerimaan</label>
                    <textarea name="" id="" style="width: 100%; height: 100px;" disabled ng-model="fieldInput.Note"  class="form-control"></textarea>
                    
                </div>


            </div>

                
            <div class="col-md-12">
                <div style="display: block;" class="grid" ui-grid="gridSelectedGRSTNK" ui-grid-pagination ui-grid-pinning ui-grid-selection ui-grid-auto-resize></div>
                <br>
            </div>  
        </div>
        
    </div>
</div>

<div class="ui modal modalPopUpBatal text-center" role="dialog">
        <div class="modal-header">
            <h4 class="modal-title">Konfirmasi</h4>
        </div>
        <br/>
        <br/>
        <div class="modal-body">
            <h1>Apakah Anda yakin ingin membatalkan GR ini?</h1>
        </div>
        <div class="modal-footer">
            <div class="row">
                <button ng-click="BatalGoodReceiptSTNK()" class="rbtn btn ng-binding ladda-button" style="float: right;">Ya</button>
                <button ng-click="keluarModalKonfirmasiBatal()" class="wbtn btn ng-binding ladda-button" style="float: right;">Tidak</button>
            </div>
        </div>
</div>



