<link rel="stylesheet" href="css/uistyle.css">
<link rel="stylesheet" href="css/uitimelinestyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript">
</script>
<style type="text/css">
    .gridStyle {
        border: 1px solid rgb(212, 212, 212);
        width: 400px;
        height: 300px
    }
</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<div ng-show="cekValidSpk">

    <bsform-grid ng-form="reasignSpkWebForm" factory-name="ReassignWebFactory" loading="loading" model="mreasignSpkWeb" model-id="FormSPKId" get-data="getData" selected-rows="selectedRows" grid-hide-action-column="true" on-select-rows="onSelectRows" show-advsearch="on"
        form-name="reasignSpkWebForm" hide-new-button="true" form-title="reasignSpkWebForm" modal-title="ReasignSpkWebForm" modal-size="small" icon="fa fa-fw fa-child">

        <bsform-advsearch>
            <div class="row">
                <!--<div class="col-md-4">
                    <div class="from-group">
                        <bsreqlabel>Nomor SPK</bsreqlabel>
                        <bsselect name="salesName" data="filter.SPKNumId" item-text="Nama" item-value="Nama" on-select="Nama(selected)" placeholder="Select">
                        </bsselect>
                    </div>
                </div>-->

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nama Sales</label>
                        <bsselect icon="fa fa fa-user glyph-left" name="filterSales" ng-model="filter.SalesId" data="sales" item-text="EmployeeName, EmployeeCode" item-value="EmployeeId" placeholder="Select">
                        </bsselect>
                    </div>
                </div>
            </div>
        </bsform-advsearch>

    </bsform-grid>

    <div class="ui modal signsales">
        <div>
            <div class="modal-header" style="padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
                <!-- <button ng-disabled="loadingReasign == true" type="button" class="close" data-dismiss="modal" ng-click="keluar()">&times;</button> -->
                <h4 class="modal-title">Assign to Salesman</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="overflow:auto;min-height:400px">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <bsreqlabel>Salesman No</bsreqlabel>
                            <bsselect name="salesNo" ng-disabled="loadingReasign == true" ng-model="selected_grid.SalesId" data="sales" item-text="EmployeeCode" item-value="EmployeeId" placeholder="Select" icon="fa fa-search" required>
                            </bsselect>
                        </div>

                        <div class="form-group">
                            <label>Nama Salesman / Salesman No</label>
                            <bsselect name="SalesName" ng-disabled="loadingReasign == true" ng-model="selected_grid.SalesId" data="sales" item-text="EmployeeName" item-value="EmployeeId" placeholder="Select" icon="fa fa-search">
                            </bsselect>
                        </div>

                        <div class="form-group">
                            <label>Tanggal Terima</label>
                            <bsdatepicker name="tanggal" ng-disabled="loadingReasign == true" date-options="datereasign" ng-model="selected_grid.ReceiveDate" icon="fa fa-calendar">
                            </bsdatepicker>
                            <!--<input type="date" ng-model="selected_grid.ReceiveDate" class="form-control">-->
                        </div>
                    </div>

                    <!-- <div class="col-xs-6">
                        <div class="form-group">
                            <label>Tanggal Terima</label>
                            <bsdatepicker name="tanggal" ng-disabled="loadingReasign == true" date-options="datereasign" ng-model="selected_grid.ReceiveDate" icon="fa fa-calendar">
                            </bsdatepicker>
                           
                        </div>

                        <div class="form-group">
                        </div>

                        <div class="form-group">
                        </div>

                    </div> -->
                </div>
            </div>
            <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                <p align="center">
                    <button id="reasignspk" ng-disabled="disabledReassignSpkconfrm||selected_grid.SalesId==undefined||selected_grid.SalesId==null||loadingReasign == true" ng-click="reassignSpkconfrm()" class="rbtn btn ng-binding ladda-button" style="float: right; ;">Reassign SPK</button>
                    <button id="kembali" ng-click="keluar()" class="wbtn btn ng-binding ladda-button fa fa-times" style="float: right;">&nbspKembali</button>
                </p>
            </div>
        </div>
    </div>

</div>