<script type="text/javascript">
</script>
<style type="text/css">

</style>

<bsform-grid ng-form="AssetTestDriveUnitHistoryForm" factory-name="AssetTestDriveUnitHistory" model="mAssetTestDriveUnitHistory" model-id="TestDriveUnitHistoryId" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="AssetTestDriveUnitHistoryForm"
    form-title="AssetTestDriveUnitHistoryX" modal-title="AssetTestDriveUnitHistory" modal-size="small" icon="fa fa-fw fa-child">

    <div class="row">
        <div class="col-md-6">

            <div class="form-group" show-errors>
                <label>Nama Tes Drive Unit</label>
                <bsselect name="TestDriveUnitId" ng-model="mAssetTestDriveUnitHistory.TestDriveUnitId" data="grid.data" item-text="NamaTestDriveUnit" item-value="TestDriveUnitId" placeholder="Pilih Test Drive Unit" required="true">
                </bsselect>
                <bserrmsg field="TestDriveUnitId"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Nama Test Drive Unit History</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="NamaTestDriveUnitHistory" placeholder="Nama Test Drive Unit History" ng-model="mAssetTestDriveUnitHistory.NamaTestDriveUnitHistory" ng-maxlength="50" required>
                </div>
                <bserrmsg field="NamaTestDriveUnitHistory"></bserrmsg>
            </div>

            <div class="form-group" show-errors>
                <bsreqlabel>Tanggal Test Drive Unit History</bsreqlabel>
                <bsdatepicker name="TanggalTestDriveUnitHistory" date-options="dateOptions" ng-model="mAssetTestDriveUnitHistory.TanggalTestDriveUnitHistory">
                </bsdatepicker>
                <bserrmsg field="TanggalTestDriveUnitHistory"></bserrmsg>
            </div>

            
        </div>
    </div>
</bsform-grid>