<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="row" ng-form name="FormValidation_PajakKeluaran">
	<div class="col-md-12">
		<div class="col-md-4" ng-class="{'has-error':FormValidation_PajakKeluaran.PajakKeluaranPPN.$error.required && FormValidation_PajakKeluaran.PajakKeluaranPPN.$touched}">
			<bsreqlabel>% PPN</bsreqlabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="PajakKeluaranPPN " placeholder="" ng-model="PajakKeluaran_PPN" ng-maxlength="5"
				 maxlength="5" min="1" percent-only required ng-disabled="!allowSimpan">
			</div>
			<span ng-if="FormValidation_PajakKeluaran.PajakKeluaranPPN.$error.required && FormValidation_PajakKeluaran.PajakKeluaranPPN.$touched"
			 class="help-block">Field ini wajib diisi</span>
		</div>
	</div>

	<div class="col-md-12" style="margin-top:20px;">
		<div class="col-md-4" ng-class="{'has-error':FormValidation_PajakKeluaran.PajakKeluaranPPh22.$error.required && FormValidation_PajakKeluaran.PajakKeluaranPPh22.$touched}">
			<bsreqlabel>% PPh 22 Barang Sangat Mewah</bsreqlabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="PajakKeluaranPPh22 " placeholder="" ng-model="PajakKeluaran_PPh22" ng-maxlength="5"
				percent-only required maxlength="5" min="1" ng-disabled="!allowSimpan">
			</div>
			<span ng-if="FormValidation_PajakKeluaran.PajakKeluaranPPh22.$error.required && FormValidation_PajakKeluaran.PajakKeluaranPPh22.$touched"
			 class="help-block">Field ini wajib diisi</span>
		</div>
	</div>

	<div class="col-md-12" style="margin-top:20px;">
		<div class="col-md-4" ng-class="{'has-error':FormValidation_PajakKeluaran.PajakKeluaranPPh23.$error.required && FormValidation_PajakKeluaran.PajakKeluaranPPh23.$touched}">
			<bsreqlabel>% PPh23</bsreqlabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="PajakKeluaranPPh23 " placeholder="" ng-model="PajakKeluaran_PPh23" ng-maxlength="5"
				percent-only required maxlength="5" min="1" ng-disabled="!allowSimpan">
			</div>
			<span ng-if="FormValidation_PajakKeluaran.PajakKeluaranPPh23.$error.required && FormValidation_PajakKeluaran.PajakKeluaranPPh23.$touched"
			 class="help-block">Field ini wajib diisi</span>
		</div>
	</div>

	<div class="col-md-12" style="margin-top:20px;" ng-if="false">
		<div class="col-md-4" ng-class="{'has-error':FormValidation_PajakKeluaran.PajakKeluaranPPh22WAPU.$error.required && FormValidation_PajakKeluaran.PajakKeluaranPPh22WAPU.$touched}">
			<bsreqlabel>% Prepaid PPh 22 WAPU</bsreqlabel>
			<div class="input-icon-right ">
				<input type="text" class="form-control " name="PajakKeluaranPPh22WAPU " placeholder="" ng-model="PajakKeluaran_PPh22_WAPU"
				percent-only required maxlength="5" min="1" ng-disabled="!allowSimpan">
			</div>
			<span ng-if="FormValidation_PajakKeluaran.PajakKeluaranPPh22WAPU.$error.required && FormValidation_PajakKeluaran.PajakKeluaranPPh22WAPU.$touched"
			 class="help-block">Field ini wajib diisi</span>
		</div>
	</div>

	<div class="col-md-12">
		<button ng-disabled="FormValidation_PajakKeluaran.$invalid || !allowSimpan" id="PajakKeluaran_Simpan_Button" ng-click="PajakKeluaran_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
		 style="float: right; margin-top:24px">
			<span class="ladda-label">
				Simpan
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>

	<div style="display:none;">
		<br>
		<br>
		{{FormValidation_PajakKeluaran.$invalid}}
		<br>
		{{allowSimpan}}
	</div>
</div>