<div class="row">
    <div class="col-md-12" style="margin-bottom: 5px;" ng-repeat="x in dataByJobId">
        <fieldset style="border:1px solid #e2e2e2;padding:20px">
            <legend style="width:inherit;margin:0px;border:0px;font-weight:bold">General Info</legend>
            <div class="col-md-7"  style="padding-right: 0px;padding-left: 0px;">
                <div class="form-group">
                    <div class="col-md-12"  style="padding-right: 0px;padding-left: 0px;">
                        <fieldset style="border:1px solid;border-color:#eee;padding:0;margin:0;padding-bottom:10px">
                            <legend style="margin-left:10px;border-bottom:0px;width:auto;font-weight:bold">Informasi Umum</legend>

                            <div class="col-md-12" style="padding-right: 0px;padding-left: 0px;">
                                <!-- <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                    <div class="col-md-6">
                                        <label>Nomor Biling</label>
                                    </div>
                                    <div class="col-md-6" style="text-align: right;">
                                        <label>{{choseData.WoNo}}</label>
                                    </div>
                                </div> -->
                                <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                    <div class="col-md-6">
                                        <label>Tgl. Billing</label>
                                    </div>
                                    <div class="col-md-6" style="text-align: right;">
                                        <label>{{date |date: 'dd/MM/yyyy'}}</label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                    <div class="col-md-6">
                                        <label>No. WO</label>
                                    </div>
                                    <div class="col-md-6" style="text-align: right;">
                                        <label>{{x.WoNo}}</label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                    <div class="col-md-6">
                                        <label>Tgl. WO</label>
                                    </div>
                                    <div class="col-md-6" style="text-align: right;">
                                        <label>{{x.WoCreatedDate |date: 'dd/MM/yyyy'}}</label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                    <div class="col-md-6">
                                        <label>No. Polisi</label>
                                    </div>
                                    <div class="col-md-6" style="text-align: right;">
                                        <label>{{x.PoliceNumber}}</label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                    <div class="col-md-6">
                                        <label>Model</label>
                                    </div>
                                    <div class="col-md-6" style="text-align: right;">
                                        <label>{{x.ModelType}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" ng-repeat="a in dataCRM">
                                <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                    <div class="col-md-6">
                                        <label>Nama Pemilik</label>
                                    </div>
                                    <div class="col-md-6" style="text-align: right;">
                                        <label>{{a.Name}}</label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                    <div class="col-md-6">
                                        <label>Toyota ID</label>
                                    </div>
                                    <div class="col-md-6" style="text-align: right;">
                                        <label>{{a.ToyotaId}}</label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                    <div class="col-md-6">
                                        <label>Alamat Pemilik</label>
                                    </div>
                                    <div class="col-md-6" style="text-align: right;">
                                        <label>{{a.Address}}</label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                    <div class="col-md-6">
                                        <label>No. Rangka</label>
                                    </div>
                                    <div class="col-md-6" style="text-align: right;">
                                        <label>{{a.VIN}}</label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                    <div class="col-md-6">
                                        <label>No. Mesin</label>
                                    </div>
                                    <div class="col-md-6" style="text-align: right;">
                                        <label>{{a.EngineNo}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                    <div class="col-md-6">
                                        <label>SA</label>
                                    </div>
                                    <div class="col-md-6" style="text-align: right;">
                                        <!-- <label ng-if="x.isGr == 1">{{x.UserSa.Initial}} {{x.EmployeeSa.People.LastName}}</label> -->
                                        <label>{{x.UserSa.EmployeeName}}</label>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>


                    <div class="col-md-12" style="padding-left: 0px;padding-left: 0px;">
                        <!-- <div class="col-md-12" ng-repeat="a in dataCRM"> -->
                        <fieldset style="border:1px solid;border-color:#eee;padding:0;margin:0;padding-bottom:10px">
                            <legend style="margin-left:10px;border-bottom:0px;width:auto;font-weight:bold">Informasi Penagihan</legend>
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <bsreqlabel>Pembayaran</bsreqlabel>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px;">
                                    <bsselect on-select="SelectedPayment(mBilling.dataPayment,1)" required name="dataPayment" data="dataPayment" item-text="Name" item-value="MasterId" ng-model="mBilling.dataPayment" placeholder="Select Filter Show Data" icon="fa fa-child glyph-left" style="min-width: 150px;"
                                        ng-disabled="disMode || (BukanInsurance == 0)">
                                        <!-- ng-disabled="disMode || (cekAsuransiFromMainGrid != null && cekAsuransiFromJob == 0)"> -->
                                    </bsselect>
                                </div>

                            </div>
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <bsreqlabel>Nama Pembayar</bsreqlabel>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px;">
                                    <!-- <label>{{choseData.Billing.BillingNo}}</label> -->
                                    <!-- <input type="text" required name="BillTo" ng-model="mBilling.BillTo" class="form-control" maxlength=150 ng-disabled="disMode || (cekAsuransiFromMainGrid != null && cekAsuransiFromJob == 0)" ng-show="(cekAsuransiFromMainGrid != null && cekAsuransiFromJob == 0)" skip-enable> -->
                                    <input type="text" required name="BillTo" ng-model="mBilling.BillTo" class="form-control" maxlength=255 ng-disabled="disMode || (BukanInsurance == 0)" ng-if="(BukanInsurance == 0)" skip-enable>
                                    <bstypeahead ng-maxlength="255" placeholder="Penagihan Kepada" name="billTo" ng-model="mBilling.BillTo" get-data="getBillTo" model-key="Name" item-text="Name" loading="loadingUsers" noresult="noResults" selected="selected" on-select="onSelectName" on-noresult="onNoResult"
                                        on-gotresult="onGotResult" icon="fa-id-card-o" ng-disabled="disMode || (BukanInsurance == 0)" ng-if="!((BukanInsurance == 0))" required>
                                        <!-- on-gotresult="onGotResult" icon="fa-id-card-o" ng-disabled="disMode || (cekAsuransiFromMainGrid != null && cekAsuransiFromJob == 0)" ng-show="!((cekAsuransiFromMainGrid != null && cekAsuransiFromJob == 0))"> -->
                                    </bstypeahead>
                                    
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <bsreqlabel>Phone Number</bsreqlabel>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px;">
                                    <!-- <label>{{choseData.Billing.BillingNo}}</label> -->
                                    <input onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="text" name="BillPhoneNumber" required ng-model="mBilling.BillPhoneNumber" class="form-control" maxlength=15>
                                </div>
                            </div>
                            <!-- <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;" ng-show="mBilling.dataPayment == 2277">
                                <div class="col-md-6">
                                    <label>Outlet</label>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px;">
                                    <bsselect on-select="SelectedOutlet(mBilling.BillTo)" name="listOutlet" data="listOutlet" item-text="Name" item-value="OutletId" ng-model="mBilling.BillTo" placeholder="Select Outlet Data" icon="fa fa-home glyph-left" style="min-width: 150px;" ng-disabled="disMode">
                                    </bsselect>
                                </div>
                            </div> -->

                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <label>Toyota ID</label>
                                </div>
                                <div class="col-md-6" style="text-align: left;">
                                    <label style="color: #d53337; font-weight: bold">{{mBilling.ToyotaId}}</label>
                                    <!-- <label style="color: #d53337; font-weight: bold">{{a.ToyotaId}}</label> -->
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <bsreqlabel>Alamat Pembayar</bsreqlabel>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px;">
                                    <!-- <label>{{choseData.Billing.BillingNo}}</label> -->
                                    <textarea required type="text" name="BillAddress" ng-model="mBilling.BillAddress" class="form-control" maxlength=1000 style="height: 100px" ng-disabled="disMode"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-12" style="padding-left: 0px;padding-left: 0px;">
                        <fieldset style="border:1px solid;border-color:#eee;padding:0;margin:0;padding-bottom:10px">
                            <legend style="margin-left:10px;border-bottom:0px;width:auto;font-weight:bold">Informasi Pajak</legend>
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <label>Kode Faktur Pajak</label>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px;">
                                    <!-- <label>{{choseData.Billing.BillingNo}}</label> -->
                                    <!-- <input type="text" name="TaxCode" ng-model="mBilling.TaxCode" class="form-control" maxlength=15> -->
                                    <!-- <input type="text" name="TIN" ng-model="mBilling.TIN" class="form-control" maxlength=15> -->
                                    <!-- <select class="form-control" name="codeTrans" ng-model="mBilling.CodeTransaction" convert-to-number ng-disabled="disMode"> -->
                                    <select class="form-control" name="codeTrans" ng-model="mBilling.CodeTransaction" convert-to-number ng-disabled="">
                                        <option ng-repeat="codeTransaction in codeTransaction" value="{{codeTransaction.code}}">{{codeTransaction.Name}}</option>
                                    </select>
                                </div>
                            </div>
							
							<!-- CR5 #27 -->
							<div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <label>Kewarganegaraan</label>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px;">
									<select class="form-control" ng-options="natTypeData.Name for natTypeData in nationalityTypeData track by natTypeData.Id" ng-change="onChangeNat(mBilling.Nationality.Id)" ng-disabled="isDisabledNat" name="natonalityType" ng-model="mBilling.Nationality" data="nationalityTypeData" ng-required="reqNat">
										<!--<option ng-repeat="nationalityTypeData in nationalityTypeData" value="{{nationalityTypeData.Id}}">{{nationalityTypeData.Name}}</option>-->
									</select>
                                </div>
                            </div>
							<!-- CR5 #27 -->
							
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6" style="margin-top: 10px;">
                                    <label>NPWP</label>
                                </div>
								<div class="col-md-6" style="margin-top: 10px;padding-left: 0px;padding-right: 0px;">
									<div class="col-md-7" style="padding-left: 0px;padding-right: 0px;">
										<!-- <label>{{choseData.Billing.BillingNo}}</label> -->
										<!-- <input type="text" name="TIN" ng-model="mBilling.TIN" class="form-control" minlength="20" maxlength="20" ng-keypress="allowPattern($event,1)" maskme="99.999.999.9-999.999"> -->
										<!--<input type="text" ng-if="showNPWP" id="NPWPX" name="TIN" ng-model="mBilling.TIN" class="form-control" minlength="20" maxlength="20" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  maskme="99.999.999.9-999.999" ng-change="backupTINx(mBilling.TIN)" ng-disabled="disMode" ng-required="showNPWP">-->
										<input type="text" ng-if="showNPWP" id="NPWPX" name="TIN" ng-model="mBilling.TIN" class="form-control" minlength="20" maxlength="20" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  maskme="99.999.999.9-999.999" ng-change="backupTINx(mBilling.TIN)" ng-disabled="disMode">
										<!--<input type="text" ng-show="showKTPKITAS" id="KTPKITASId" name="KTPKITAS" ng-model="mBilling.KTPKITAS" class="form-control" maxlength="16">-->
										<!--<input type="text" ng-if="showPassport" id="passportId" name="passport" minlength="1" ng-model="mBilling.passport" class="form-control" maxlength="16" ng-required="showPassport">-->
										<!--<input type="text" ng-if="showPassport" id="passportId" name="passport" minlength="1" ng-model="mBilling.passport" class="form-control" maxlength="16" ng-disabled="disMode">-->
										<input type="text" ng-if="showPassport" id="passportId" name="passport" maxlength="16" ng-model="mBilling.passport" class="form-control" ng-disabled="disMode">
										<!--<input type="text" ng-if="showKTP" id="KTPId" name="KTP" ng-model="mBilling.KTP" minlength="16" class="form-control" maxlength="16" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-required="showKTP">-->
										<input type="text" ng-if="showKTP" id="KTPId" name="KTP" ng-model="mBilling.KTP" minlength="16" class="form-control" maxlength="16" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-disabled="disMode">
										<!--<em ng-show="showKTPKITAS" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
											<p>*Kolom ini dapat diisi dengan no. KTP/KITAS</p>
										</em>-->
										<em ng-if="showPassport" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
											<p>*Kolom ini dapat diisi dengan no. Passport</p>
										</em>
										<em ng-if="showKTP" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
											<p>*Kolom ini dapat diisi dengan no. KTP</p>
										</em>
									</div>
									<!-- CR5 #27 -->
									<div class="col-md-5" style="padding-right: 0px;font-size: 9px;">
										<bscheckbox ng-change="onChangeCB(mBilling.isNPWP)" class="pull-right checkBoxKTP" ng-model="mBilling.isNPWP" label="Tidak punya NPWP" true-value="1" false-value="0">
										</bscheckbox>
									</div>
									<!-- CR5 #27 -->
								</div>
                            </div>
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <bsreqlabel>Nama Faktur Pajak</bsreqlabel>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px;">
                                    <!-- <label>{{choseData.Billing.BillingNo}}</label> -->
                                    <input type="text" name="TaxName" ng-model="mBilling.TaxName" class="form-control" ng-maxlength="255" maxlength=255 ng-disabled="disMode" required>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <label>Alamat Faktur Pajak</label>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px;">
                                    <!-- <label>{{choseData.Billing.BillingNo}}</label> -->
                                    <textarea type="text" name="TaxAddress" ng-model="mBilling.TaxAddress" class="form-control" maxlength=1000 style="height: 100px;" ng-disabled="disMode"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-12" style="padding-left: 0px;padding-left: 0px;">
                        <fieldset style="border:1px solid;border-color:#eee;padding:0;margin:0;padding-bottom:10px">
                            <legend style="margin-left:10px;border-bottom:0px;width:auto;font-weight:bold">Informasi PKS</legend>
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <bsreqlabel>No PKS</bsreqlabel>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px; text-align: right">
                                    <label>{{NoPKS}}</label>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <bsreqlabel>Nama PKS</bsreqlabel>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px; text-align: right">
                                    <label>{{NamaPKS}}</label>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <bsreqlabel>TOP</bsreqlabel>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px; text-align: right">
                                    <label>{{TOP}}</label>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <bsreqlabel>Outstanding</bsreqlabel>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px; text-align: right">
                                    <label>{{Outstanding | currency:"Rp.": 0}}</label>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="col-md-12" style="padding-left: 0px;padding-left: 0px;">
                        <fieldset style="border:1px solid;border-color:#eee;padding:0;margin:0;padding-bottom:10px">
                            <legend style="margin-left:10px;border-bottom:0px;width:auto;font-weight:bold">Informasi Asuransi</legend>
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <bsreqlabel>No. SPK</bsreqlabel>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px; text-align: right">
                                    <label>{{x.SpkNo}} </label>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <bsreqlabel>No. Polis</bsreqlabel>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px; text-align: right">
                                    <label style="text-transform: uppercase;">{{PolicyNo}}</label>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <bsreqlabel>Periode Polis</bsreqlabel>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px; text-align: right">
                                    <label>{{StartPeriod | date: 'dd/MM/yyyy'}} - {{EndPeriod | date: 'dd/MM/yyyy'}}</label>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 10px;padding-left: 0px;">
                                <div class="col-md-6">
                                    <bsreqlabel>Jumlah OR</bsreqlabel>
                                </div>
                                <div class="col-md-6" style="padding-left: 0px; text-align: right">
                                    <label>{{x.ORAmount | currency:"Rp.": 0}}</label>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="col-md-5" style="padding-right: 0px;">
                <div class="col-md-12"  style="padding-right: 0px;padding-left: 0px;">
                    <fieldset style="border:1px solid;border-color:#eee;padding:0;margin:0;padding-bottom:10px">
                        <legend style="margin-left:10px;border-bottom:0px;width:auto;font-weight:bold">Summary Billing</legend>

                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <label>Jenis</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <label> :</label>
                            </div>
                            <!-- ng-if="choseData.JobTask.Job.isGr == 1" -->
                            <div class="col-md-4" style="text-align:right;">
                                <label>{{choseData}}</label>
                            </div>
                            <!-- <div class="col-md-6" style="text-align:right;" ng-if="choseData.JobTask.Job.isGr != 1">
                        <label>BP</label>
                        </div> -->
                        </div>
                        <!--<div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <label>No Faktur Pajak</label>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                <label>-</label>
                            </div>
                        </div>-->

                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <label>1. Sub Total Jasa/Labor</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <label>:</label>
                            </div>
                            <div class="col-md-4" style="text-align:right;">
                                <label>{{subTotalLabor | currency:"Rp.": 0}}</label>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6" style="padding-left: 60px">
                                <label>A. Diskon Jasa</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <!-- <label>{{discountPercentFinalTask}}%  :</label> -->
                                <label> :</label>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-12" style="text-align:right;padding-right:0px;">
                                    <label>{{discountFinalTask | currency:"Rp.": 0 }}</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <label>2. Sub Total OPL</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <label> :</label>
                            </div>
                            <div class="col-md-4" style="text-align:right;">
                                <label>{{subTotalOpl | currency:"Rp.": 0}}</label>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6" style="padding-left: 60px">
                                <label>B. Diskon OPL</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <!-- <label>{{discountPercentFinalOpl}}%  :</label> -->
                                <label> :</label>
                            </div>
                            <div class="col-md-4">
                                <!-- <div class="col-md-6" style="text-align:right;padding-right:0px;">
                            <label>0%</label>
                        </div> -->
                                <div class="col-md-12" style="text-align:right;padding-right:0px;">
                                    <label> {{discountFinalOpl | currency:"Rp.": 0}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <label>3. Sub Total Parts</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <label> :</label>
                            </div>
                            <div class="col-md-4" style="text-align:right;">
                                <label> {{subTotalParts | currency:"Rp.": 0}}</label>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6" style="padding-left: 60px">
                                <label>C. Diskon Parts</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <!-- <label>{{discountPercentFinalParts}}% :</label> -->
                                <label> :</label>
                            </div>
                            <div class="col-md-4">
                                <!-- <div class="col-md-6" style="text-align:right;padding-right:0px;">
                            <label>0%</label>
                        </div> -->
                                <div class="col-md-12" style="text-align:right;padding-right:0px;">
                                    <label> {{discountFinalParts | currency:"Rp.": 0}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <label>4. Sub Total OPB</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <label> :</label>
                            </div>
                            <div class="col-md-4" style="text-align:right;">
                                <label> {{subTotalOpb | currency:"Rp.": 0}}</label>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;" style="padding-left: 60px">
                            <div class="col-md-6" style="padding-left: 60px">
                                <label>D. Diskon OPB</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <!-- <label>{{discountPercentFinalOpb}}% :</label> -->
                                <label> :</label>
                            </div>
                            <div class="col-md-4">
                                <!-- <div class="col-md-6" style="text-align:right;padding-right:0px;">
                            <label>0%</label>
                        </div> -->
                                <div class="col-md-12" style="text-align:right;padding-right:0px;">
                                    <label> {{discountFinalPartsOpb | currency:"Rp.": 0}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <label>5. Sub Total (1+2+3+4)</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <label> :</label>
                            </div>
                            <div class="col-md-4" style="text-align:right;">
                                <label> {{ TotalFinal | currency:"Rp." : 0}}</label>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <label>6. Sub Total Setelah Disc (5-(A+B+C+D))</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <label> :</label>
                            </div>
                            <div class="col-md-4" style="text-align:right;">
                                <label> {{TotalAfterDiscountFinal| currency:"Rp.": 0 }}</label>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6" style="padding-left: 60px">
                                <label>E. PPN</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <label>{{tax}}% :</label>
                            </div>
                            <div class="col-md-4">
                                <!--  <div class="col-md-6" style="text-align:right;padding-right:0px;">
                            <label></label>
                        </div> -->
                                <div class="col-md-12" style="text-align:right;padding-right:0px;">
                                    <label> {{ PPN | currency:"Rp.": 0 }}</label>
                                    <!-- <label> {{TotalAfterDiscountFinal | currency:"Rp.": 0 }}</label> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <label>7. Total Invoice (6 + E)</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <label> :</label>
                            </div>
                            <div class="col-md-4" style="text-align:right;">
                                <label> {{ TotalInvoice | currency:"Rp.": 0 }}</label>
                                <!-- <label> {{ TotalAfterDiscountFinal | currency:"Rp.": 0 }}</label> -->
                            </div>
                        </div>


                        <!-- <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-7" style="padding-left: 60px">
                                <label>F. Booking Fee/Down Payment </label>
                            </div>
                            <div class="col-md-1" style="text-align:right;">
                                <label> :</label>
                            </div>
                            <div class="col-md-4"> -->
                        <!-- <div class="col-md-6" style="text-align:right;padding-right:0px;">
                            <label>0%</label>
                        </div> -->
                        <!-- <div class="col-md-12" style="text-align:right;padding-right:0px;">
                                    <label> {{DP | currency:"Rp.": 0 }}</label>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <label>8. Booking Fee/Down Payment</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <label> :</label>
                            </div>
                            <div class="col-md-4" style="text-align:right;">
                                <label> {{DP | currency:"Rp.": 0 }}</label>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <!-- di pisah req dari raflizal dan pa dodi 17September2020 -->
                                <label>9. Down Payment Terbayar</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <label> :</label>
                            </div>
                            <div class="col-md-4" style="text-align:right;">
                                <label> {{DPPaid | currency:"Rp.": 0 }}</label>
                            </div>
                        </div>

                        <!-- div di bawah di komen karena kata bukan bagian dari komponen billing.. confirm by sa pa dodi 1/feb/2019 -->
                        <!-- <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <label>8. Own Risk</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <label> :</label>
                            </div>
                            <div class="col-md-4" style="text-align:right;">
                                <label> {{dataByJobId[0].ORAmount | currency:"Rp.": 0 }}</label>
                            </div>
                        </div> -->

                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <!-- <label>9. Total Yang Dibayar (7+8)</label> -->
                                <label>10. Total Yang Dibayar (7-9)</label>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <label> :</label>
                            </div>
                            <div class="col-md-4" style="text-align:right;">
                                <label> {{ TotalYangHarusDibayar | currency:"Rp.": 0 }}</label>
                                <!-- <label> {{ (TotalAfterDiscountFinal * tax / 100  + TotalAfterDiscountFinal) - DP  | currency:"Rp.": 0 }}</label> -->
                                <!-- <label> {{ (TotalAfterDiscountFinal * tax / 100  + TotalAfterDiscountFinal)  | currency:"Rp.": 0 }}</label> -->

                                <!-- <label> {{ (TotalAfterDiscountFinal * tax / 100  + TotalAfterDiscountFinal) - (dataByJobId[0].IsPaidOR == null? (dataByJobId[0].DPPaidAmount == null? 0:dataByJobId[0].DPPaidAmount):(dataByJobId[0].ORPaidAmount == null? 0:dataByJobId[0].ORPaidAmount))  | currency:"Rp.": 0 }}</label> -->
                                <!-- <label> {{ (TotalAfterDiscountFinal * tax / 100  + TotalAfterDiscountFinal) - (dataByJobId[0].DPPaidAmount == null ? 0 : dataByJobId[0].DPPaidAmount)  | currency:"Rp.": 0 }}</label> -->

                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </fieldset>

    </div>
</div>