<!-- <div class="col-md-12" style="margin-bottom: 5px;" ng-repeat = "f in dataReject">
  <fieldset style="border:1px solid #e2e2e2;padding:20px">
    
    <legend style="width:inherit;margin:0px;border:0px;">Reject Billing</legend>
    
    <div class="col-md-12">
      <div class="form-group">
        
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Nomor Invoice</label>
          </div>
          <div class="col-md-6">
            <label>{{f.BillingNo}}</label>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Nomor Polisi</label>
          </div>
          <div class="col-md-6">
            <label>{{f.Job.PoliceNumber}}</label>
          </div>
        </div>
      
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="form-group">
        
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Tanggal Invoice</label>
          </div>
          <div class="col-md-6">
            <label>{{f.BillingDate |date:dd/mm/yyyy}}</label>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="form-group">
        
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Type Cancelation</label>
          </div>
          <div class="col-md-6">
            <bsselect name="CancelType"
                    ng-model="mBilling.CancelType"
                    data="CancelType"
                    item-text="Name"
                    item-value="Id"
                    placeholder="Pilih Tipe"
                    >
            </bsselect>
          </div>
        </div>
        
      </div>
    </div>

  </fieldset>
</div>

<div class="col-md-12" style="margin-top: 10px;">
  <div class="form-group">
    <div class="col-md-3">
      <label>Approver(s)</label>
    </div>
    <div class="col-md-9">
      <textarea style="width: 100%;height: 70px;" ng-disabled="true" ng-model="mBilling.ApproverCancelBy" name="ApproverCancelBy"></textarea>
    </div>
  </div>
</div>

<div class="col-md-12" style="margin-top: 10px;">
  <div class="form-group">
    <div class="col-md-3">
      <label>Pesan</label>
    </div>
    <div class="col-md-9">
      <textarea style="width: 100%;height: 70px;" ng-model="mBilling.RejectMessage"></textarea>
    </div>
  </div>
</div> -->

<div class="col-md-12" style="margin-bottom: 5px;" ng-repeat = "f in dataReject" ng-form="X1">
    <fieldset style="border:1px solid #e2e2e2;padding:20px">
      <!-- <legend style="width:inherit;margin:0px;border:0px;">Reject Billing</legend> -->
      <div class="col-md-12">
          <div class="form-group">
              <div class="col-md-12">
                  <div class="row" >
                      <div class="col-md-4">
                          <label><b>Nomor Invoice</b></label>
                      </div>
                      <div class="col-md-8">
                          <label>{{f.BillingNo}}</label>
                      </div>
                  </div>
                  <div class="row"  style="margin-top: 10px;">
                      <div class="col-md-4">
                          <label><b>Nomor Polisi</b></label>
                      </div>
                      <div class="col-md-8">
                              <label>{{f.Job.PoliceNumber}}</label>
                      </div>
                  </div>
                  <div class="row"  style="margin-top: 10px;">
                      <div class="col-md-4">
                          <label><b>Tanggal Invoice</b></label>
                      </div>
                      <div class="col-md-8">
                          <label>{{f.BillingDate |date:'dd/MM/yyyy'}}</label>
                      </div>
                  </div>
                  <div class="row"  style="margin-top: 10px;">
                      <div class="col-md-4">
                          <bsreqlabel><b>Type Cancelation</b></bsreqlabel>
                      </div>
                      <div class="col-md-8">
                              <bsselect name="CancelType"
                                  ng-model="mBilling.CancelType"
                                  data="CancelType"
                                  item-text="Name"
                                  item-value="Id"
                                  placeholder="Pilih Tipe" required
                                  ng-required="true"
                                  >
                          </bsselect>
                      </div>
                  </div>
                  <div class="row"  style="margin-top: 10px;">
                      <div class="col-md-4">
                          <label><b>Approver(s)</b></label>
                      </div>
                      <div class="col-md-8">
                          <textarea style="width: 100%;height: 70px;" ng-disabled="true" ng-model="mBilling.ApproverCancelBy" name="ApproverCancelBy"></textarea>                        
                      </div>
                  </div>
                  <div class="row"  style="margin-top: 10px;">
                      <div class="col-md-4">
                          <label><b>Pesan</b></label>
                      </div>
                      <div class="col-md-8">
                          <textarea style="width: 100%;height: 70px;" name="CancelMessage" ng-maxlength="100" ng-keypress="PatternMessage($event)" ng-model="mBilling.RejectMessage"></textarea>
                          <em ng-messages="X1.CancelMessage.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                            <p ng-message="maxlength"> Maksimal 100 Karakter!</p>
                          </em>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
    </fieldset>
  </div>
  