<!--  ng-repeat = "f in dataCancel" -->
<div class="col-md-12" style="margin-bottom: 5px;" ng-repeat="dataReject in dataReject">
  <fieldset style="border:1px solid #e2e2e2;padding:20px">
    
    <!-- <legend style="width:inherit;margin:0px;border:0px;">Proses ini butuh approval</legend>
    
    <div class="col-md-12">
      <div class="form-group">
        
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Nomor Invoice</label>
          </div>
          <div class="col-md-6">
            <label ng-repeat="a in getDataReprint">{{a.InvoiceNo}} ,</label>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Nomor Polisi</label>
          </div>
          <div class="col-md-6">
            <label>-</label>
          </div>
        </div>
      
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="form-group">
        
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Tanggal Invoice</label>
          </div>
          <div class="col-md-6">
            <label ng-repeat="a in getDataReprint">{{a.InvoiceDate |date:dd/mm/yyyy}} ,</label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="col-md-6">
            <label>Model</label>
          </div>
          <div class="col-md-6">
            <label>-</label>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="form-group">
        
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Type Invoice</label>
          </div>
          <div class="col-md-6">
            <label>-</label>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="form-group">
        
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Type Invoice</label>
          </div>
          <div class="col-md-6">
            <label>-</label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="col-md-6">
            <label>Pemilik</label>
          </div>
          <div class="col-md-6">
            <label>-</label>
          </div>
        </div>
        
      </div>
    </div>

  </fieldset>
</div>

<div class="col-md-12" style="margin-top: 10px;">
  <div class="form-group">
    <div class="col-md-3">
      <label>Requester(s)</label>
    </div>
    <div class="col-md-9">
      <textarea style="width: 100%;height: 70px;" ng-disabled="true" ng-model="mBilling.ApproverCancelBy" name="ApproverCancelBy"></textarea>
    </div>
  </div>
</div>

<div class="col-md-12" style="margin-top: 10px;">
  <div class="form-group">
    <div class="col-md-3">
      <label>Pesan</label>
    </div>
    <div class="col-md-9">
      <textarea style="width: 100%;height: 70px;" ng-model="mBilling.CancelMessage"></textarea>
    </div>
  </div>
</div> -->

<div class="col-md-12">
      <div class="form-group">
          <div class="col-md-3">
            <label>No. Faktur Service</label>
          </div>
          <div class="col-md-9">
            <label>: {{dataReject.FakturNo}}</label>
          </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
          <div class="col-md-3">
            <label>Tgl. Faktur Service</label>
          </div>
          <div class="col-md-9">
            <label>: {{dataReject.BillingDate | date:'dd/MM/yyyy'}}</label>
          </div>
        </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
          <div class="col-md-3">
            <label>No. Polisi</label>
          </div>
          <div class="col-md-9">
            <label>: {{dataReject.Job.PoliceNumber}}</label>
          </div>
        </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <div class="col-md-3">
          <label>Type Pembayaran</label>
        </div>
        <div class="col-md-9">
          <label>: {{dataReject.xChargeTo}}</label>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
          <div class="col-md-3">
            <label>Model</label>
          </div>
          <div class="col-md-9">
            <label>: {{dataReject.Job.ModelType}}</label>
          </div>
        </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
          <div class="col-md-3">
            <label>Pemilik</label>
          </div>
          <div class="col-md-9">
            <label>: {{dataReject.BillTo}}</label>
          </div>
        </div>
    </div>

  </fieldset>
</div>

<div class="col-md-12" style="margin-top: 10px;">
  <div class="form-group">
    <div class="col-md-3">
      <label>Disetujui Oleh</label>
    </div>
    <div class="col-md-9">
        <textarea class="form-control" rows="4" ng-disabled="true">{{dataReject.Approvers}}</textarea>
      <!-- <textarea style="width: 100%;height: 70px;" ng-disabled="true" ng-model="mBilling.ApproverCancelBy" name="ApproverCancelBy"></textarea> -->
    </div>
  </div>
</div>

<div class="col-md-12" style="margin-top: 10px;">
  <div class="form-group">
    <div class="col-md-3">
      <label>Keterangan</label>
    </div>
    <div class="col-md-9">
      <textarea style="width: 100%;height: 70px;" ng-model="mBilling.CancelMessage"></textarea>
    </div>
  </div>
</div>
