<script type="text/javascript">

</script>
<style type="text/css">

</style>
<div id="content" style="padding:0;">
    <div class="bs-navbar no-content-padding">
        <h2 class="page-title txt-color-blueDark" style="width:auto;">
            <i class="fa fa-fw fa-child"></i> Role
        </h2>
        <div class="pull-right">
            <div class="btn-group" style="margin-top:0px;">
                <button class="zbtn btn btn-default" tooltip="Add" tooltip-placement="bottom" class="txt-color-darken" ng-click="actNew()">
                    <i class="fa fa-plus"> </i>
                </button>
                <button class="zbtn btn btn-default" tooltip="Edit" tooltip-placement="bottom" class="txt-color-darken" ng-click="actEdit()" ng-disabled="selRole===null">
                    <i class="fa fa-edit"> </i>
                </button>
                <button class="zbtn btn btn-default" tooltip="Delete" tooltip-placement="bottom" class="txt-color-darken" ng-click="actDel()" ng-disabled="selRole===null">
                    <i class="fa fa-remove"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="well clearfix" style="padding:5px;">
        <bsgrid grid-name="grid" grid-api="gridApi" selected-row="selRole" loading="loading"></bsgrid>
    </div>
</div>

<!-- modal -->
<form  name="RoleForm" novalidate>
    <bsmodal id="modalRole" title="Role" mode="sm_mode" visible="sm_show" model="mRole"
             action="sm_act(mRole)" action-cancel="doCancel(mRole)" action-disabled="RoleForm.$invalid" novalidate>
    	<formly-form fields="vm.fields" model="mRole" form="vm.form" novalidate>
        </formly-form>
        <input type="hidden" name="id" ng-model="mRole.id">
    </bsmodal>
</form>

<!--         <div class="form-group" show-errors>
            <label>Role Name</label>
            <div class="input-icon-right">
                <i class="fa fa-user"></i>
                <input type="text" class="form-control" name="title" placeholder="Title" ng-model="mRole.title" required>
            </div>
            <bserrmsg field="title"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <label>Description</label>
            <div class="input-icon-right">
                <i class="fa fa-pencil"></i>
                <input type="text" class="form-control" name="desc" placeholder="Description" ng-model="mRole.desc" required>
            </div>
            <bserrmsg field="desc"></bserrmsg>
        </div> -->