<script type="text/javascript">
</script>
<style type="text/css">

</style>

<!--   action-button-settings="actionButtonSettings"
        action-button-settings-detail="actionButtonSettingsDetail"
        show-advsearch="on"

        form-api="formApi"
        linksref="app.queueCategory"
        linkview="queueCategory@app"
 -->

<bsform-base ng-form="ReportPartsClaimForm" loading="loading" form-api="formApi" linksref="app.queueCategory" linkview="queueCategory@app" form-name="ReportPartsClaimForm" form-title="ReportPartsClaim" icon="fa fa-fw fa-child">



    <bsform-base-main>
        <div class="row" style="margin-right:0px;">
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>Dealer </label>
                    <bsselect ng-disabled="true" ng-model="filter.Dealer" name="Dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select TAM Area" required>
                    </bsselect>
                    <bserrmsg field="Dealer"> harus diisi </bserrmsg>
                </div>


            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>Cabang </label>
                    <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                    </bsselect>
                    <bserrmsg field="cabang"> harus diisi </bserrmsg>
                </div>

            </div>

        </div>
        <div class="row" style="margin-right:0px;">
            <div class="col-md-3">
                <div class="form-group" show-errors>
                    <bsreqlabel>Periode </bsreqlabel>
                    <bsdatepicker name="dateStart" date-options="dateOptions" ng-model="filter.DateStart" required>
                    </bsdatepicker>
                    <bserrmsg field="dateStart"> harus diisi </bserrmsg>
                </div>

            </div>
            <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
            <div class="col-md-3" style="margin-top: 5px;">
                <div class="form-group" show-errors>
                    <label></label>
                    <bsdatepicker name="dateEnd" date-options="dateOptions" ng-model="filter.DateEnd" required>
                    </bsdatepicker>
                    <bserrmsg field="dateEnd"> harus diisi </bserrmsg>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right:0px;">
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>Kode Vendor </label>
                    <bsselect ng-model="filter.Vendor" name="vendor" data="dataVendor" item-text="vendorName" item-value="vendorId" on-select="vendorId(selected)" placeholder="Select Vendor" ng-disabled="true" required>
                    </bsselect>
                    <bserrmsg field="vendor"> harus diisi </bserrmsg>
                </div>


            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>Claim Reason </label>
                    <bsselect ng-model="filter.reason" name="reason" data="dataReason" item-text="claimCodeName" item-value="claimCodeId" on-select="claimCodeId(selected)" placeholder="Select Reason" required>
                    </bsselect>
                    <bserrmsg field="reason"> harus diisi </bserrmsg>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>TAM Judgement </label>
                    <bsselect ng-model="filter.judgement" name="judgement" data="dataJudgement" item-text="Description" item-value="JudgementId" on-select="JudgementId(selected)" placeholder="Select Judgement" required>
                    </bsselect>
                    <bserrmsg field="judgement"> harus diisi </bserrmsg>
                </div>
            </div>
        </div>
        <br><br>
        <!-- <pre>{{filter}}</pre> -->
        <div class="row">
            <div class="row pull-right" style="margin-right:0px;">
                <button type="button" ng-click="getReport()" class="rbtn btn"> Export </button>
            </div>
        </div>
    </bsform-base-main>




</bsform-base>