<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="MetodePembayaranForm" factory-name="MasterMetodePembayaranFactory" model="mMetodePembayaran" model-id="PaymentTypeId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="MetodePembayaranForm" form-title="Sumber Dana" modal-title="Sumber Dana" modal-size="small" icon="fa fa-fw fa-child">

        <div class="row">
            <div class="col-md-6">

				
				<div class="form-group" show-errors>
					<bsreqlabel>Sumber Dana</bsreqlabel>
					<div class="input-icon-right">
						<i class="fa fa-pencil"></i>
						<input type="text" class="form-control" name="PaymentTypeName" placeholder="Metode Pembayaran" ng-model="mMetodePembayaran.PaymentTypeName"
								ng-maxlength="50" required
						>
					</div>
					<bserrmsg field="PaymentTypeName"></bserrmsg>
				</div>
            </div>
        </div>
        
</bsform-grid-tree>

