<script type="text/javascript">

</script>
<style type="text/css">
@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

</style>
<link rel="stylesheet" href="css/uistyle.css">
<!--<script type="text/javascript" src="js/uiscript.js"></script>-->

<bsform-grid ng-form="ApprovalSwappingHoForm" factory-name="ApprovalSwappingHoFactory" model="mApprovalSwappingHo" model-id="SpkId" loading="loading"
    hide-new-button="true" grid-hide-action-column="true" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows"
    form-name="ApprovalSwappingHoForm" form-title="Approval Swapping Ho" modal-title="Approval Swapping Ho" modal-size="small" icon="fa fa-fw fa-child">			

</bsform-grid>

<div class="ui modal ModalAlasanPenolakanApprovalSwappingHo" role="dialog">
        
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alasan Penolakan</h4>
            </div>
			<br/>


            <div class="modal-body">
                <textarea rows="10" cols="80" maxlength="512" placeholder="input alasan..."
							 ng-model="mApprovalSwappingHo.ApprovalNote"></textarea>
            </div>
            <div class="modal-footer">
                <!--<button onclick="Lanjut_Clicked()" class="rbtn btn ng-binding ladda-button" style="float: right;">Lanjutkan</button>-->
                <button ng-click="SubmitAlasanApprovalSwappingHo()" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-disabled="mApprovalSwappingHo.ApprovalNote==undefined">Simpan</button>
				<button ng-click="BatalAlasanApprovalSwappingHo()" class="rbtn btn ng-binding ladda-button" style="float: right;">Batal</button>
            </div>
</div>