<style type="text/css">
    /*.table-fixed thead {
      width: 100%;
    }
    .table-fixed tbody {
      height: 230px;
      overflow-y: auto;
      width: 100%;
    }
    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
      display: block;
    }
    .table-fixed tbody td, .table-fixed thead > tr> th {
      float: left;
      border-bottom-width: 0;
    }*/
</style>
<div style="margin-left: 10px; margin-right: 10px;">
    <div class="row">
        <div class="col-xs-10">
            <div class="panel panel-default" id="jpcb_gr_view_panel">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                        Job progress
                    </h3>
                    <h3 class="panel-title pull-right" ng-show="jpcbgrview.isCurrentDate">
                        &nbsp;&nbsp;{{ clock }}
                    </h3>
                    <div style="width: 200px; margin-top: -4px" class="pull-right">
                        <!-- <bsdatepicker
                            name="currentDate"
                            date-options="dateOptions"
                            ng-model="jpcbgrview.currentDate",
                            ng-change="jpcbgrview.reloadBoard()"
                        ></bsdatepicker> -->
                    </div>
                    
                    <h3 class="panel-title text-center">
                        <span>Working Technician: {{countTechnician}}</span>&nbsp;
                        <span>In Progress:  {{countInProgress}}</span>&nbsp;                        
                        <span>No Show: {{countNoShow}}</span> &nbsp;
                        <span>Carry Over:  {{countCarryOver}}</span>&nbsp;
                        <span>Booking: {{countBookingA}}/{{countBookingB}}</span> &nbsp;                        
                    </h3>
                   
                    <div class="clearfix"></div>
                </div>
                <div class="panel-heading">
                    <div class="row">
                        <div class="btn-group col-sm-7" data-toggle="buttons" >
                            <label class="btn btn-default" ng-class="{'active':bpCategorySelected.id == catitem.id}" for="optionCat{{$index}}" ng-repeat="catitem in BpCategory" ng-click="jpcbgrview.updateCategory(catitem)">
                                <input type="radio" name="options" id="optionCat{{$index}}" ng-model="bpCategorySelected">{{catitem.name}}
                            </label>
                        </div>
                        <div class="col-xs-5">
                            <div style="position:relative;height:40px; overflow-x:auto;overflow-y:hidden;float:right">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default" ng-class="{'active':teamSelected.Id == team.Id}" for="option{{$index}}" ng-repeat="team in BpGroupList" ng-click="updateTeam(team)">
                                        <input type="radio" name="options" id="option{{$index}}" ng-value="{{team.GroupBPId}}" ng-model="teamSelected" >{{team.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>
                <div class="panel-body" style="">
                    <div class="col-xs-1" style="height:637px;" id="labelForGroup">
                        <h1 ng-repeat="item in BpGroupList" ng-if="item.visible == 1" style="transform:rotate(-90deg);position: absolute;top: 45%;width:200px;right:0;padding-top: 100px;text-align: center;">{{item.name}}</h1>
                    </div>
                    <div id="jpcbbp-prod-container2" class="col-xs-11" style="border-width:0px; border-color: black; border-style: solid"></div>
                </div>

            </div>              
        </div>       
        <div class="col-xs-2" style="padding-left: 0">
            <div class="panel panel-default" id="jpcb_gr_edit_panel">
                <div class="panel-heading">
                    <h3 ng-repeat="item in BpGroupList" ng-if="item.visible == 1" class="panel-title pull-left">
                     Nama Grup : {{item.name}}
                    </h3>
                    <div class="clearfix"></div>
                    
                </div>
                <div class="panel-body" style="padding: 8px">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-fixed table-bordered table-striped" border="1">
                                <thead>
                                    <tr>
                                        <th width="20%">No</th>
                                        <th width="40%">No. Polisi</th>
                                        <th width="40%">Target Proses</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr ng-repeat="item in tmpDataTarget">
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.process}}</td>
                                    </tr>
                                </tbody>
                                <!-- <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>F1234AN</td>
                                        <td>Putty</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>F1235AN</td>
                                        <td>Polishing</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>F1236AN</td>
                                        <td>Surfacer</td>
                                    </tr>
                                </tbody> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<br/>

