<div class="panel panel-danger" style="border-color:#D53337; margin: -10px">
    <div class="panel-heading" style="color:white; background-color:#D53337;">
        <h3 class="panel-title">Select Stall</h3>
    </div>
    <div class="panel-body">
        {{jpcbgrview}}
        <form method="post">
            <div class="row">
                <div class="col-md-12">
                    <div ng-repeat="item in jpcbgrview.tempStallVisible">
                        <input type="checkbox" ng-model="item.visible" ng-change="">
                        <label>{{item.Name}}</label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div>
                            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog(0)" style="color:white; background-color:#D53337">OK</button>
                            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>