<script type="text/javascript">

	
	
</script>
<style type="text/css">
    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
        pointer-events: none;
        /* This makes sure that we can still click outside of the modal to close it */
    }
    
    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
        pointer-events: none;
    }
    
    .modal-content {
        /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
        width: inherit;
        height: inherit;
        /* To center horizontally */
        margin: 0 auto;
        pointer-events: all;
    }
    
    .noppading {
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>


<div ng-show="listContainer">

    <bsform-grid ng-form="TerimaDokumenFakturTAMForm" ad factory-name="TerimaDokumenFakturTAMFactory" model="mterimaDokumenFakturTAM" model-id="Id" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" grid-hide-action-column="true" hide-new-button="true"
        form-name="TerimaDokumenFakturTAMForm" show-advsearch="on" loading="loading" form-title="Dokumen" modal-title="terimadokumenfaktur" modal-size="small" icon="fa fa-fw fa-child">
        
        <bsform-advsearch>
            <div class="row" style="margin: 0 0 0 0">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Status</label>
                        <bsselect name="filterSales" ng-model="filter.FakturTAMKeCAOStatusId" data="statusterima" item-text="FakturTAMKeCAOStatusName" item-value="FakturTAMKeCAOStatusId" placeholder="Select">
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. Rangka</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Nomor Rangka" ng-model="filter.FrameNo" >
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. Surat Distribusi</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Nomor Surat" ng-model="filter.NoSuratDistribusi">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 0 0 0 0">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nama Pelanggan</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Nama Pelanggan" ng-model="filter.CustomerName" >
                        </div>
                    </div>
                </div>
            </div>
        </bsform-advsearch>
    
    </bsform-grid>

    <div class="ui modal formDocumenfaktur" role="dialog" style="background-color: transparent !important">
            <!-- <div> -->
            <p style="text-align: center">
                <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
                    <!-- <button type="button" ng-click="backFromterimaSTNK()" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Update Penerimaan Dokumen</h4>
                    <label style="float:right; margin-top: -15px" ng-hide="numview == len" ng-click="next()" class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></label> 
                    <label style="float:right; margin-top: -15px">&nbsp{{numview}}/{{len}}&nbsp</label>                   
                    <label style="float:right; margin-top: -15px" ng-hide="numview == 1" ng-click="prev()" class="fa fa-chevron-circle-left fa-lg" aria-hidden="true"></label> 
                </div>
                <!-- <div class="row" style="margin: 0 0 -10px 0; float:right">
                                        </div> -->
                <div class="modal-body" style="background-color: white;  max-height: 60%">
                    <div class="row" style="margin: 0 0 0 0">
                        <div id="infoPembeli" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px">
                            <p style="width:120px; margin-top:-17px; padding-left: 3px; margin-left:14px; background:white;"><b>Terima Dokumen</b></p>
                            <ul class="list-group">
                                    <div style="margin-bottom: 10px;margin-left:25px;margin-right:25px;">
                                            <div class="row" style="margin: 0 0 0 0">
                                                <div class="col-md-6">
                                                        <div class="form-group">
                                                                <label>No Rangka</label>
                                                                <div class="input-icon-right ">
                                                                    <input ng-disabled="true" type="text" class="form-control" name="fieldNoSpk" placeholder="" ng-model="rowsDocument[num].FrameNo" ng-maxlength="50" required>
                                                                </div>
                                                            </div>
                                                </div>
                                                <div class="col-md-6">
                                                        <div class="form-group">
                                                                <label>Nama Pelanggan</label>
                                                                <div class="input-icon-right ">
                                                                    <input ng-disabled="true" type="text" class="form-control" name="" placeholder="" ng-model="rowsDocument[num].CustomerName" ng-maxlength="50" required>
                                                                </div>
                                                            </div>
                                                </div>
                                            </div>

                                    </div>
    
                                    <table class="table table-bordered table-responsive" border="1" style="border: none !important">
                                            <tbody>
                                                    <tr>
                                                        <th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">&nbspNomor Dokumen</th>
                                                        <th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">&nbspDokumen</th>
                                                        <th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">Tanggal Dokumen Dikirim</th>
                                                        <th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">Tanggal Dokumen Diterima</th>
                                                    </tr>
                                                    <tr ng-repeat="documen in rowsDocument[num].ListDetailDokumen">
                                                        <td style="border: none !important">
                                                            <bscheckbox label="{{documen.NoDokumen}}" ng-disabled="DisablePasSemuaDicentang || documen.TombolSimpan == false"  ng-model="documen.ReceivedDateBit" label="" ng-change="checkdate(documen)" true-value="true" false-value="false">
                                                            </bscheckbox>
                                                        </td>
                                                        <td style="border: none !important; padding-top: 18px;">
                                                            {{documen.NamaDokumen}}</td>
                                                        <td style="border: none !important">
                                                            <input type="datetime-local" ng-disabled="true" class="form-control" ng-model="documen.SentDate">
                                                        </td>
                                                        <td style="border: none !important">
                                                            <input type="datetime-local" class="form-control" ng-disabled="documen.ReceiveDate == null || documen.TombolSimpan == false " ng-model="documen.ReceiveDate">
                                                        </td>
                                                    </tr>
                                            </tbody>
                                    </table>
                                </ul>
                        </div>
                    </div>
                </div>
                        
                <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                            <button style="float: right;" ng-disabled="rowsDocument[0].ListDetailDokumen[0].TombolSimpan == false || disabledSimpanupdate" ng-click="simpanupdate()" type="button" class="rbtn btn ng-binding ladda-button">
                                <span class="ladda-label">
                                            <i class="fa fa-fw fa-check"></i>&nbspSimpan
                                </span><span class="ladda-spinner"></span>
                            </button>
                            <button type="button" class="wbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()" ng-click=" keluar()" ladda="savingState" data-style="expand-left" tabindex="0">
                                <span class="ladda-label"><i class="fa fa-fw fa-times"></i>&nbsp;Kembali</span><span class="ladda-spinner"></span>
                            </button>
                            <div style="float:left;padding-left: 15px;">
                                    <bscheckbox ng-disabled="rowsDocument[0].ListDetailDokumen[0].TombolSimpan == false" ng-model="rowsDocument[num].DokumenLengkap" label="Kelengkapan Dokumen Sudah Diperiksa" true-value="true" false-value="false">
                                    </bscheckbox>              
                            </div>
                <!-- </div> -->
            </p>
        
    </div>

    <div class="ui modal formDocumenfakturTamSingle" role="dialog" style="background-color: transparent !important">
            <!-- <div> -->
            <p style="text-align: center">
                <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
                    <!-- <button type="button" ng-click="backFromterimaSTNK()" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Update Penerimaan Dokumen</h4>
                </div>
    
                <div class="modal-body" style="background-color: white;  max-height: 60%">
                    <div class="row" style="margin: 0 0 0 0">
                        <div id="infoPembeli" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px">
                            <p style="width:120px; margin-top:-17px; padding-left: 3px; margin-left:14px; background:white;"><b>Terima Dokumen</b></p>
                            <ul class="list-group">
                                    <div style="margin-bottom: 10px;margin-left:25px;margin-right:25px;">
                                            <div class="row" style="margin: 0 0 0 0">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>No. Rangka</label>
                                                        <div class="input-icon-right ">
                                                            <input ng-disabled="true" type="text" class="form-control" name="fieldNoSpk" placeholder="" ng-model="rowsDocument.FrameNo" ng-maxlength="50" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                        <div class="form-group">
                                                                <label>Nama Pelanggan</label>
                                                                <div class="input-icon-right ">
                                                                    <input ng-disabled="true" type="text" class="form-control" name="" placeholder="" ng-model="rowsDocument.CustomerName" ng-maxlength="50" required>
                                                                </div>
                                                            </div>
                                                </div>
                                            </div>

                                    </div>
    
                                    <table class="table table-bordered table-responsive" border="1" style="border: none !important">
                                            <tbody>
                                                    <tr>
                                                        <th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">&nbspNomor Dokumen</th>
                                                        <th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">&nbspDokumen</th>
                                                        <th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">Tanggal Dokumen Dikirim</th>
                                                        <th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">Tanggal Dokumen Diterima</th>
                                                    </tr>
                                                    <tr ng-repeat="documen in rowsDocument.ListDetailDokumen">
                                                        <td style="border: none !important">
                                                            <bscheckbox label="{{documen.NoDokumen}}"  ng-disabled="documen.TombolSimpan == false" ng-disabled="DisablePasSemuaDicentang"  ng-model="documen.ReceivedDateBit" label="" ng-change="checkdate(documen)" true-value="true" false-value="false">
                                                            </bscheckbox>
                                                        </td>
                                                        <td style="border: none !important; padding-top: 18px;">
                                                            {{documen.NamaDokumen}}</td>
                                                        <td style="border: none !important">
                                                            <input type="datetime-local" ng-disabled="true" class="form-control" ng-model="documen.SentDate">
                                                        </td>
                                                        <td style="border: none !important">
                                                            <input type="datetime-local"
                                                                    class="form-control"
                                                                    ng-disabled="documen.ReceiveDate == null || documen.TombolSimpan == false"
                                                                    ng-model="documen.ReceiveDate"
                                                                    ng-change="ReceiveDateTicBox(documen)">
                                                        </td>
                                                    </tr>
                                            </tbody>
                                    </table>
                                </ul>
                        </div>
                    </div>
                </div>
                        
                <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                            <button style="float: right;" ng-disabled="rowsDocument.ListDetailDokumen[0].TombolSimpan == false || disabledSimpanupdateSingle" ng-click="simpanupdateSingle()" type="button" class="rbtn btn ng-binding ladda-button">
                                <span class="ladda-label">
                                            <i class="fa fa-fw fa-check"></i>&nbspSimpan
                                </span><span class="ladda-spinner"></span>
                            </button>
                            <button type="button" class="wbtn btn ng-binding ladda-button" style="float: right" onclick="this.blur()" ng-click=" keluar()" ladda="savingState" data-style="expand-left" tabindex="0">
                                <span class="ladda-label"><i class="fa fa-fw fa-times"></i>&nbsp;Kembali</span><span class="ladda-spinner"></span>
                            </button>
                            <div style="float:left;padding-left: 15px;">
                                    <bscheckbox ng-model="rowsDocument.DokumenLengkap" ng-disabled="rowsDocument.ListDetailDokumen[0].TombolSimpan==false" label="Kelengkapan Dokumen Sudah Diperiksa" true-value="true" false-value="false">
                                    </bscheckbox>              
                            </div>
                <!-- </div> -->
            </p>
        
    </div>
    
</div>

<div ng-show="listDetail" style="min-height:100vh">
    <div class="row" style="margin: 0 0 0 0"> 
        <button id="PengembalianSpk" ng-click="kembali()" class="wbtn btn ng-binding ladda-button" style="float:right; margin:-30px 0 10px 10px" ng-disabled="btnPengembalianSpk">Kembali</button>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>No. Surat Distribusi</label>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text"
                            class="form-control"
                            name="NoSuratDistribusi"
                            ng-model="header.NoSuratDistribusi"
                            ng-disabled="true">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Status</label>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text"
                            class="form-control"
                            name="StatusSurat"
                            ng-model="header.FakturTAMKeCAOStatusName"
                            ng-disabled="true">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Jumlah No. Rangka</label>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text"
                            class="form-control"
                            name="QtyFrameNo"
                            ng-model="header.QtyFrameNo"
                            ng-disabled="true">
                </div>
            </div>
        </div>
    </div>

    <div class="grid" ui-grid="gridDetailDokumen" ui-grid-pagination ui-grid-auto-resize></div>
</div>

    <!-- <div class="ui modal formDocumenfaktur" style="width:1000px; background: none">
        <div ng-form>
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center" style="margin-top: 0px; margin-bottom: 0px">
                    <div class="modal-content" style="border-bottom-width: 0px; width:1000px; height:100%">
                       
                            <div class="modal-header" style="padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
                            <h4 class="modal-title">Update Dokumen</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="margin: 0 0 -10px 0; float:right">
                                <label class="fa fa-chevron-circle-left" aria-hidden="true"><button ng-disabled="numview == 1" style="display:none" ng-click="prev()"></button></label> {{numview}}/{{len}}
                                <label class="fa fa-chevron-circle-right" aria-hidden="true"><button ng-disabled="numview == len" style="display:none" ng-click="next()"></button></label>
                            </div>
                            <div class="row" style="margin: 0 0 0 0">

                                <div class="row" style="margin: 0 0 0 0">
                                    <div class="form-group">
                                        <label>No Rangka</label>
                                        <div class="input-icon-right ">
                                            <input ng-disabled="true" type="text" class="form-control" name="fieldNoSpk" placeholder="" ng-model="rowsDocument[num].FrameNo" ng-maxlength="50" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0 0 0 0">
                                    <div class="form-group">
                                        <label>Nama Pelanggan</label>
                                        <div class="input-icon-right ">
                                            <input ng-disabled="true" type="text" class="form-control" name="" placeholder="" ng-model="rowsDocument[num].CustomerName" ng-maxlength="50" required>
                                        </div>
                                    </div>
                                </div>

                                <hr style="margin-top: 0px">

                                <div class="row" style="margin: 5px 0 5px 0">
                                            <div class="col-md-4" style="padding: 0 0 0 15px">
                                        <label><b>Nomor Dokumen</b></label>
                                    </div>
                                    <div class="col-md-2" style="padding: 0 0 0 0">
                                        <label><b>Dokumen</b></label>
                                    </div>
                                    <div class="col-md-3 noppading">
                                        <label><b>Tanggal Dokumen Dikirim</b></label>
                                    </div>
                                    <div class="col-md-3 noppading">
                                        <label><b>Tanggal Dokumen Diterima</b></label>
                                    </div>
                                </div>

                                <hr style="margin-top: 0px">
                           
                                <div class="row" ng-repeat="documen in rowsDocument[num].ListDetailDokumen" style="margin: 0 0 0 0">
                                    <div class="col-md-1" style="margin: 0 0 0 0; padding: 0 0 0 0">
                                        <bscheckbox ng-model="documen.ReceivedDateBit" label="" ng-change="checkdate(documen)" true-value="true" false-value="false">
                                        </bscheckbox>
                                    </div>
                                    <div class="col-md-3" style="margin-top: 8px; padding: 0 0 0 0">
                                            <label style="margin-left: 5px">{{documen.NoDokumen}}</label>
                                    </div>
                                    <div class="col-md-2" style="margin-top: 8px; padding: 0 0 0 0">
                                        <label style="margin-left: 5px">{{documen.NamaDokumen}}</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="datetime-local" ng-disabled="true" class="form-control" ng-model="documen.SentDate">
                                          
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                
                                            <input type="datetime-local" class="form-control" ng-disabled="documen.ReceiveDate" ng-model="documen.ReceiveDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">                            
                            <div class="row" style="float: left; margin:0 0 0 0">
                                <bscheckbox ng-model="rowsDocument[num].DokumenLengkap" label=" Kelengkapan Dokumen Sudah Diperiksa" true-value="true" false-value="false">
                                </bscheckbox>
                              </div>
                           
                            <button class="btn rbtn" style="float: right; " ng-click="simpanupdate()">Simpan</button>
                            <button class="btn wbtn" style="float: right; " ng-click="keluar()">Keluar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="ui modal formDocumenfakturTamSingle" style="width:1000px; overflow-y: auto; background: none">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" style="margin-top: 0px; margin-bottom: 0px">
                <div class="modal-content" style="border-bottom-width: 0px; width:1000px; height:100%">
 
                    <div class="modal-header">

                        <h4 class="modal-title">Update Dokumen</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin: 0 0 0 0">

                            <div class="row" style="margin: 0 0 0 0">
                                <div class="form-group">
                                    <label>No Rangka</label>
                                    <div class="input-icon-right ">
                                        <input ng-disabled="true" type="text" class="form-control" name="fieldNoSpk" placeholder="" ng-model="rowsDocument.FrameNo" ng-maxlength="50" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin: 0 0 0 0">
                                <div class="form-group">
                                    <label>Nama Pelanggan</label>
                                    <div class="input-icon-right ">
                                        <input ng-disabled="true" type="text" class="form-control" name="" placeholder="" ng-model="rowsDocument.CustomerName" ng-maxlength="50" required>
                                    </div>
                                </div>
                            </div>

                            <hr style="margin-top: 0px">

                            <div class="row" style="margin: 5px 0 5px 0">
                                <div class="col-md-4" style="padding: 0 0 0 15px">
                                    <label><b>Nomor Dokumen</b></label>
                                </div>
                                <div class="col-md-2" style="padding: 0 0 0 0">
                                    <label><b>Dokumen</b></label>
                                </div>
                                <div class="col-md-3 noppading">
                                    <label><b>Tanggal Dokumen Dikirim</b></label>
                                </div>
                                <div class="col-md-3 noppading">
                                    <label><b>Tanggal Dokumen Diterima</b></label>
                                </div>
                            </div>

                            <hr style="margin-top: 0px">

                            <div class="row" ng-repeat="documen in rowsDocument.ListDetailDokumen" style="margin: 0 0 0 0">
                                <div class="col-md-1" style="margin: 0 0 0 0; padding: 0 0 0 0">
                                    <bscheckbox ng-model="documen.ReceivedDateBit" label="" ng-change="checkdate(documen)" true-value="true" false-value="false">
                                    </bscheckbox>
                                </div>
                                <div class="col-md-3" style="margin-top: 8px; padding: 0 0 0 0">
                                        <label style="margin-left: 5px">{{documen.NoDokumen}}</label>
                                </div>
                                <div class="col-md-2" style="margin-top: 8px; padding: 0 0 0 0">
                                    <label style="margin-left: 5px">{{documen.NamaDokumen}}</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="datetime-local" ng-disabled="true" class="form-control" ng-model="documen.SentDate">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                            <input type="datetime-local" class="form-control" ng-disabled="documen.ReceiveDate == null" ng-model="documen.ReceiveDate">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" style="padding-bottom: 10px; padding-top: 10px">
                        <div class="row" style="float: left; margin: 0 0 0 0">
                            <bscheckbox ng-model="rowsDocument.DokumenLengkap" label=" Kelengkapan Dokumen Sudah Diperiksa" true-value="true" false-value="false">
                            </bscheckbox>
                        </div>

                        <button class="btn rbtn" style="float: right; " ng-click="simpanupdateSingle()">Simpan</button>
                        <button class="btn wbtn" style="float: right; " ng-click="keluar()">Keluar</button>

                    </div>
                </div>
            </div>
        </div>
    </div> -->

