<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	.watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="no-add">
	<div class="row">
		<div ng-show="Show_MainTranTypeGL">
			<div class="col-md-12">
				<button id="MainTranType_Tambah_Button" ng-click="MainTranType_Tambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: right; margin-top:24px;">
					<span class="ladda-label">
						Tambah
					</span>
					<span class="ladda-spinner"></span>
				</button>
				<button class="ubtn" ng-click="actRefresh()" onclick="this.blur();" style="padding-bottom:6px;float: right; margin-top:24px"
				 tooltip-placement="bottom" tooltip-trigger="mouseenter" tooltip-animation="false" uib-tooltip="Refresh" tabindex="0">
					<i class="fa fa-fw fa-refresh" style="font-size:1.4em;"></i>
				</button>
			</div>
			<div class="col-md-12">

				<p style="width:180px; margin-top:20px; margin-left:10px; margin-bottom:-15px; background:white;color:red">Daftar Tipe Transaksi GL</p>

				<hr style="border-color:red;">
			</div>

			<br>
			<br>
			<div class="col-md-12">
				<div class="input-group-btn" uib-dropdown="">
					<button style="margin-right:5px;" ng-disabled="!selectedRows.length>0" type="button" class="btn wbtn" onclick="this.blur()"
					 uib-dropdown-toggle="" data-toggle="dropdown" tabindex="-1">
						Bulk Action&nbsp;
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
						<li role="menuitem" class="ng-scope">
							<a href="#" ng-click="actDel()" ng-if="selectedRows.length>0" class="ng-binding ng-scope" tabindex="0">Hapus</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-12">
				<div id="myGrid" ui-grid="grid" ui-grid-selection ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns class="Mygrid"
				 style="width:100%;height: 360px; margin-top:10px; margin-bottom:20px;">
					<div class="watermark" ng-show="!grid.data.length">No data available</div>
				</div>
			</div>
		</div>

		<div ng-show="Show_TambahTranTypeGL">
			<div ng-form name="FormValidation_TipeTransaksiGL">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':FormValidation_TipeTransaksiGL.TambahTranTypeGLTipeTranGL.$error.required && FormValidation_TipeTransaksiGL.TambahTranTypeGLTipeTranGL.$touched}">
							<bsreqlabel>Tipe Transaksi GL</bsreqlabel>
							<div class="input-icon-right">
								<i class="fa fa-pencil"></i>
								<input type="text" class="form-control" name="TambahTranTypeGLTipeTranGL" placeholder="Tipe Transaksi GL" ng-model="TambahTranTypeGL_TipeTransaksiGL"
								 ng-maxlength="30" maxlength="30" required>
							</div>
							<span ng-show="FormValidation_TipeTransaksiGL.TambahTranTypeGLTipeTranGL.$error.required && FormValidation_TipeTransaksiGL.TambahTranTypeGLTipeTranGL.$touched"
							 class="help-block">Field ini wajib diisi</span>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':FormValidation_TipeTransaksiGL.TambahTranTypeGLDeskripsi.$error.required && FormValidation_TipeTransaksiGL.TambahTranTypeGLDeskripsi.$touched}">
							<bsreqlabel>Deskripsi</bsreqlabel>
							<textarea type="text" class="form-control" name="TambahTranTypeGLDeskripsi" placeholder="" ng-model="TambahTranTypeGL_Deskripsi"
							 ng-maxlength="1000" maxlength="1000" style="margin-bottom: 10px" required>
					</textarea>
							<span ng-show="FormValidation_TipeTransaksiGL.TambahTranTypeGLDeskripsi.$error.required && FormValidation_TipeTransaksiGL.TambahTranTypeGLDeskripsi.$touched"
							 class="help-block">Field ini wajib diisi</span>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':FormValidation_TipeTransaksiGL.TambahTranTypeGLDC.$error.required && FormValidation_TipeTransaksiGL.TambahTranTypeGLDC.$touched}">
							<bsreqlabel>Debet / Kredit</bsreqlabel>
							<bsselect ng-model="TambahTranTypeGL_DC" data="optionsTambahTranTypeGL_DC" ng-change="TambahTranTypeGL_DC_Changed()" item-text="name"
							 name="TambahTranTypeGLDC" item-value="value" on-select="value(selected)" placeholder="select Debet Kredit" icon="fa fa-search"
							 required>
							</bsselect>
							<span ng-show="FormValidation_TipeTransaksiGL.TambahTranTypeGLDC.$error.required && FormValidation_TipeTransaksiGL.TambahTranTypeGLDC.$touched"
							 class="help-block">Field ini wajib diisi</span>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':FormValidation_TipeTransaksiGL.TambahTranTypeGLTipeGrupGL.$error.required && FormValidation_TipeTransaksiGL.TambahTranTypeGLTipeGrupGL.$touched}">
							<bsreqlabel>Tipe Grup GL</bsreqlabel>
							<bsselect ng-model="TambahTranTypeGL_TipeGrupGL" data="optionsTambahTranTypeGL_TipeGrupGL" ng-change="TambahTranTypeGL_TipeGrupGL_Changed()"
							 item-text="name" name="TambahTranTypeGLTipeGrupGL" item-value="value" on-select="value(selected)" placeholder="select Tipe Grup GL"
							 icon="fa fa-search" required>
							</bsselect>
							<span ng-show="FormValidation_TipeTransaksiGL.TambahTranTypeGLTipeGrupGL.$error.required && FormValidation_TipeTransaksiGL.TambahTranTypeGLTipeGrupGL.$touched"
							 class="help-block">Field ini wajib diisi</span>
						</div>
					</div>

					<div class="col-md-4">
						<button id="TambahTranTypeGL_Tambah_Button" ng-click="TambahTranTypeGL_Tambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
						 style="float: left; margin-top:24px;margin-left:24px">
							<span class="ladda-label">
								Tambah
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
				</div>

			</div>


			<div class="col-md-12">
				<div id="myGrid" ui-grid="gridDetail" ui-grid-selection ui-grid-auto-resize ui-grid-pagination class="Mygrid" style="width:100%;height: 250px; margin-top:10px; margin-bottom:20px;">
					<div class="watermark" ng-show="!gridDetail.data.length">No data available</div>
				</div>
			</div>

			<div class="col-md-12">
				<button id="TambahTranTypeGL_Simpan_Button" ng-click="TambahTranTypeGL_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: right; margin-top:24px;margin-left:24px" ng-show="Show_TambahTranTypeGL_ButtonSimpan">
					<span class="ladda-label">
						Simpan
					</span>
					<span class="ladda-spinner"></span>
				</button>
				<button id="TambahTranTypeGL_Ubah_Button" ng-click="TambahTranTypeGL_Ubah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: right; margin-top:24px;margin-left:24px" ng-show="Show_TambahTranTypeGL_UbahSimpan">
					<span class="ladda-label">
						Ubah
					</span>
					<span class="ladda-spinner"></span>
				</button>
				<button id="TambahTranTypeGL_Batal_Button" ng-click="TambahTranTypeGL_Batal_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: right; margin-top:24px;margin-left:24px">
					<span class="ladda-label">
						Kembali
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>

		</div>

		<div class="modal  " id="TipeTransaksiGLModal" role="dialog">
			<div class="modalDefault-dialog">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Konfirmasi Hapus</h4>
				</div>
				<div class="modal-body">
					<p>
						Apakah anda yakin ingin menghapus tipe transaksi GL {{HapusTranGL_GLTranName}} ?
					</p>
				</div>
				<div class="modal-footer">
					<p align="center">
						<button ng-click="TipeTransaksiGLCancel_Button_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Tidak</button>
						<button ng-click="TipeTransaksiGLOK_Button_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Ya</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="swal2-container swal2-fade swal2-shown" style="overflow-y: auto;" id="TipeTransaksiGLModal">
		<div role="dialog" aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-modal swal2-show" tabindex="-1" style="width: 500px; padding: 20px; background: rgb(255, 255, 255); display: block; min-height: 355px;">
			<ul class="swal2-progresssteps" style="display: none;"></ul>
		<div class="swal2-icon swal2-error" style="display: none;">
			<span class="x-mark">
				<span class="line left"></span>
				<span class="line right"></span>
			</span>
		</div>
		<div class="swal2-icon swal2-question" style="display: none;">?</div>
		<div class="swal2-icon swal2-warning" style="display: block;">!</div>
		<div class="swal2-icon swal2-info" style="display: none;">i</div>
		<div class="swal2-icon swal2-success" style="display: none;">
			<span class="line tip"></span> 
			<span class="line long"></span>
			<div class="placeholder"></div> 
			<div class="fix"></div>
		</div>
		<img class="swal2-image" style="display: none;">
			<h2 class="swal2-title" id="swal2-title">
				<p style="font-size:20px">
					Delete 
					<span style="color:red">{{TipeTransaksiGL_TotalSelectedData}} item(s) </span>
					from <span style="color:blue">Tipe transaksi GL data.</span>
				</p> Are you sure?
			</h2>
			<div id="swal2-content" class="swal2-content" style="display: block;">You won't be able to revert this!</div>
			<input class="swal2-input" style="display: none;">
			<input type="file" class="swal2-file" style="display: none;">
			<div class="swal2-range" style="display: none;">
				<output></output><input type="range">
			</div>
			<select class="swal2-select" style="display: none;"></select>
			<div class="swal2-radio" style="display: none;"></div>
			<label for="swal2-checkbox" class="swal2-checkbox" style="display: none;">
			<input type="checkbox"></label>
			<textarea class="swal2-textarea" style="display: none;"></textarea>
			<div class="swal2-validationerror" style="display: none;"></div>
			<div class="swal2-buttonswrapper" style="display: block;">
				<button type="button" role="button" tabindex="0" class="swal2-confirm swal2-styled"  ng-click="TipeTransaksiGLOK_Button_Clicked()"
					style="background-color: rgb(140, 212, 245); border-left-color: rgb(140, 212, 245); border-right-color: rgb(140, 212, 245);">OK</button>
				<button type="button" role="button" tabindex="0" class="swal2-cancel swal2-styled" 
					style="display: inline-block; background-color: rgb(170, 170, 170);" ng-click="TipeTransaksiGCancel_Button_Clicked()">Cancel</button>
			</div>	
			<button type="button" tabindex="0" class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
		</div>
	</div> -->