<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="ActivityChecklistItemDecForm" 
        factory-name="ActivityChecklistItemDecFactory" 
        model="mactivityChecklistItemDec" 
        model-id="ChecklistItemDECId" 
        loading="loading" 
        get-data="getData" 
        selected-rows="selectedRows" 
        on-select-rows="onSelectRows" 
        form-name="ActivityChecklisItemtDecForm" 
        form-title="Checklis Item Dec" 
        modal-title="ActivityChecklisItemtDec" 
        modal-size="small" 
        icon="fa fa-fw fa-child">
        
        <!-- <bsform-advsearch>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <label>Model</label>
                        <bsselect name="model" data="optionsModel" ng-change="filtertipe(filterItemDEC.VehicleModelId)" item-text="VehicleModelName" item-value="VehicleModelId" ng-model="filterItemDEC.VehicleModelId" placeholder="PIlih Model" icon="fa fa-car"
                            style="min-width: 150px;" required>
                        </bsselect>
                        <bserrmsg field="model"></bserrmsg>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <label>Tipe</label>
                        <bsselect name="type" data="optionTipe" item-text="TypeDescKatashikiSuffix" item-value="VehicleTypeId" ng-model="filterItemDEC.VehicleTypeId" placeholder="Pilih Tipe"
                            icon="fa fa-car" style="min-width: 150px;" required>
                        </bsselect>
                        <bserrmsg field="type"></bserrmsg>
                    </div>
                </div>
            </div>
        </bsform-advsearch> -->


        <div class="row"> 
            <div class="col-md-4">
                
                <!-- <div class="form-group" show-errors>
                    <bsreqlabel>Model</bsreqlabel>
                    <bsselect name="model" data="optionsModel" ng-change="filtertipe(mactivityChecklistItemDec.VehicleModelId)" item-text="VehicleModelName" item-value="VehicleModelId" ng-model="mactivityChecklistItemDec.VehicleModelId" placeholder="PIlih Model" icon="fa fa-car"
                        style="min-width: 150px;" required>
                    </bsselect>
                    <bserrmsg field="model"></bserrmsg>
                </div> -->
    
                <!-- <div class="form-group" show-errors>
                    <bsreqlabel>Tipe</bsreqlabel>
                    <bsselect name="type" data="optionTipe" ng-change="getDEC()" item-text="TypeDescKatashikiSuffix" item-value="VehicleTypeId" ng-model="mactivityChecklistItemDec.VehicleTypeId" placeholder="Pilih Tipe"
                        icon="fa fa-car" style="min-width: 150px;" required>
                    </bsselect>
                    <bserrmsg field="type"></bserrmsg>
                </div> -->

                <div class="form-group" show-errors>
                    <bsreqlabel>Nama Group Checklist DEC</bsreqlabel>
                    <bsselect name="parentRole" data="GroupDECData" item-text="GroupChecklistDECName" item-value="GroupChecklistDECId" ng-model="mactivityChecklistItemDec.GroupChecklistDECId" on-selected="Bebas(Selected)" placeholder="Nama Group Checklist DEC" icon="fa fa-search glyph-left" style="min-width: 150px;">
                    </bsselect>
                    <bserrmsg field="parentRole"></bserrmsg>
                </div>
    			
                <div class="form-group" show-errors>
                    <bsreqlabel>Nama Checklist DEC</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="ChecklistItemDECName" placeholder="Nama Checklist DEC" ng-model="mactivityChecklistItemDec.ChecklistItemDECName" ng-maxlength="100" required>
                    </div>
                    <bserrmsg field="ChecklistItemDECName"></bserrmsg>
                </div>		
            </div>
        </div>
</bsform-grid>

