<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="wacMaintainForm"
        factory-name="WacMaintain"
        model="mGeneralMaster"
        loading="loading"
        model-id="ItemId"
        do-custom-save="doCustomSave"
        

        get-data="getData"
        show-advsearch="on"        
        selected-rows="xGeneralMaster.selected"
        on-select-rows="onSelectRows"
        on-show-detail = "onShowDetail"
        modal-title="Wac Maintain"
        modal-size="small"
        icon="fa fa-fw fa-child"

        on-bulk-delete = "onBeforeDelete"
        >

        <bsform-advsearch>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <bsreqlabel>Pilihan Kategori</bsreqlabel>
                        <bsselect name="Id"
                                ng-model="filter.Id"
                                data="masterCategories"
                                item-text="GroupName"
                                item-value="Id"
                                placeholder="Pilih Kategori"
                                on-select="selectCategory(selected)"
                                required="true">
                        </bsselect>
                    </div>
                </div>
            </div>
        </bsform-advsearch>

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <bsreqlabel>Nama Item</bsreqlabel>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="ItemName" placeholder="Nama Satuan" ng-model="mGeneralMaster.ItemName" required>
                        </div>
                        <bserrmsg field="ItemName"></bserrmsg>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <bsreqlabel>Group Item</bsreqlabel>
                            <bsselect name="Id"
                                    ng-model="filter.Id"
                                    data="masterCategories"
                                    item-text="GroupName"
                                    item-value="Id"
                                    placeholder="Pilih Kategori"
                                    ng-disabled="true"
                                    skip-enable
                                    required="true">
                            </bsselect>
                        <bserrmsg field="Id"></bserrmsg>
                    </div>
                </div>
            </div>
        </div>

</bsform-grid>