<link rel="stylesheet" href="css/uistyle.css">
<link rel="stylesheet" href="css/uitimelinestyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="styleSheet" href="release/ui-grid.min.css" />
<script src="/release/ui-grid.min.js"></script>

<script type="text/javascript">

</script>

<style type="text/css">

</style>

<div ng-show="gateInOutShow" style="width:100%;">
    <ul class="nav nav-tabchild" style="margin-top:10px;">
        <li style="width:50%; text-align:center;"><a data-toggle="tab" href="#" onclick="navigateTab('tabContainerInOut','GetInTab');">GATE IN</a></li>
        <li style="width:50%; text-align:center;"><a data-toggle="tab" href="#" onclick="navigateTab('tabContainerInOut','GetOutTab');">GATE OUT</a></li>
    </ul>

    <div id="tabContainerInOut" class="tab-content" style="padding-left:13px;">
        <div id="GetInTab" class="tab-pane fade in active" style="">
            <div class="row" style="margin-top:12px; margin-bottom:11px;">
                <div class="col-md-4">
                    <div class="input-icon-right">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" name="nama" ng-model="" ng-maxlength="30" required>
                    </div>
                </div>
            </div>
            <div class="row" >
                <table style="width:100%; background-color:#d53337;">
                    <tr>
                        <td align="center">
                            <font color="black">Booking Services</font>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered table-responsive" style="">
                    <thead>
                        <tr>
                            <th class="headerRow">Model</th>
                            <th class="headerRow">No. Polisi</th>
                            <th class="headerRow">Nama</th>
                            <th class="headerRow">Janji</th>
                            <th class="headerRow">CheckIn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th scope="row">Camry</th>
                          <td>B 2320 TYP</td>
                          <td>Luis Garcia</td>
                          <td>08.00</td>
                          <td>
                            <button id="checkInbtn" onclick="();" class="btn btn-default btn-sm" style="bottom:0px;">Check In</button>   
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Avanza</th>
                           <td>B 2234 POD</td>
                          <td>Jesey Garcia</td>
                          <td>09.00</td>
                           <td>
                            <button id="checkInbtn" onclick="();" class="btn btn-default btn-sm" style="bottom:0px;">Check In</button>   
                          </td>
                        </tr>
                        <tr>
                          <th scope="row"></th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <button id="checkInbtn" onclick="();" class="btn btn-default btn-sm" style="bottom:0px;">Check In</button>   
                          </td>
                        </tr>
                        <tr>
                          <th scope="row"></th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <button id="checkInbtn" onclick="();" class="btn btn-default btn-sm" style="bottom:0px;">Check In</button>   
                          </td>
                        </tr>
                        <tr>
                          <th scope="row"></th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <button id="checkInbtn" onclick="();" class="btn btn-default btn-sm" style="bottom:0px;">Check In</button>   
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>            
            <div class="row" style="padding-bottom:5px;">
                <table style="width:100%; background-color:#d53337;">
                    <tr>
                        <td align="center">
                            <font color="black">Walk In</font>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" >
                <div align="center" stytle="font-size:initial;">Input no. Polisi</div>
                <div class="col-md-4" style="padding-bottom:10px;">
                    <div class="from-group">
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="No. Polisi" ng-model="" 
                            required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table style="width:100%">
                    <tr>
                        <td style="width:32%">
                            <button id="getInbtn" onclick="();" class="btn btn-default btn-sm" style="float:center; bottom:0px; width:100%">beli Mobil</button> 
                        </td>
                        <td style="width:32%">
                            <button id="getOutbtn" onclick="();" class="btn btn-default btn-sm" style="float:center; bottom:0px; width:100%">Services GR</button>   
                        </td>
                        <td style="width:32%">
                            <button id="getOutbtn" ng-click="" class="btn btn-default btn-sm" style="float:center; bottom:0px; width:100%">Other GR</button>   
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <table style="width:100%;">
                    <tr>
                        <td style="width:32%">
                            <button id="getOutbtn" onclick="" class="btn btn-default btn-sm" style="float:center; bottom:0px; width:100%">Beli Parts</button>   
                        </td>
                        <td style="width:32%">
                            <button id="getOutbtn" onclick="();" class="btn btn-default btn-sm" style="float:center; bottom:0px; width:100%">Services BP</button>   
                        </td>
                        <td style="width:32%">
                            <button id="getInbtn" onclick="" class="btn btn-default btn-sm" style="float:center; bottom:0px; width:100%">Complaint</button>    
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-bottom:10px;">
                <table style="width:100%">
                    <tr>
                        <td style="width:25%">
                            <button id="getOutbtn" onclick="();" class="btn btn-default btn-sm" style="float:center; bottom:0px; width:100%">Pengambilan BP</button>   
                        </td>
                         <td style="width:25%">
                            <button id="getOutbtn" onclick="();" class="btn btn-default btn-sm" style="float:center; bottom:0px; width:100%">Penerimaan Satelite</button>   
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-bottom:10px;">
                <table style="width:100%;">
                    <tr>
                        <td align="left" style="width:12%; padding-right:15px;">Visitor
                        </td>
                        <td width="48%" align="center">
                             <div class="input-icon-right">
                                <i class="fa fa-pencil"></i>
                                <input type="text" class="form-control" name="nama" placeholder="" ng-model="" required style="width:100%;">
                            </div>
                        </td>
                        <td width="25%" style="text-align:center">
                            <button id="simpanBtn" ng-click="();" class="rbtn btn ng-binding ladda-button" style="bottom:0px;">Simpan</button>
                        </td>
                        <td width="15%">
                            
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-bottom:5px;">
                <table style="width:100%; background-color:#d53337;">
                    <tr>
                        <td align="center">
                            <font color="black">Scan In</font>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="text-align:center;">
                <button id="getInbtn"  ng-click="scanGetInBtn()" class="rbtn btn ng-binding ladda-button" style="bottom:0px;">Scan</button>
            </div>
        </div>

        <!--GET OUT-->
        <div id="GetOutTab" class="tab-pane fade" style="">
            <div class="row" style="margin-top:12px; margin-bottom:11px;">
                <div class="col-md-4">
                    <div class="input-icon-right">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" name="nama" ng-model="" ng-maxlength="30" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <table style="width:100%; background-color:#d53337;">
                    <tr>
                        <td align="center" color="white">
                            <font color="black">Selesai services</font>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="headerRow">Model</th>
                            <th class="headerRow">No. Polisi</th>
                            <th class="headerRow">Nama</th>
                            <th class="headerRow">Jam SIKK</th>
                            <th class="headerRow">CheckOut</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th scope="row">Camry</th>
                          <td>B 2320 TYP</td>
                          <td>Luis Garcia</td>
                          <td>08.00</td>
                          <td>
                               <button id="checkInbtn" onclick="();" class="btn btn-default btn-sm" style="bottom:0px;">Check In</button>  
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Avanza</th>
                          <td>B 5234 POD</td>
                          <td>Jesey Garcia</td>
                          <td>09.00</td>
                          <td>
                               <button id="checkInbtn" onclick="();" class="btn btn-default btn-sm" style="bottom:0px;">Check In</button>  
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Fortuner</th>
                          <td>B 1872 RUS</td>
                          <td>Bailly</td>
                          <td>12.00</td>
                          <td>
                               <button id="checkInbtn" onclick="();" class="btn btn-default btn-sm" style="bottom:0px;">Check In</button>  
                          </td>
                        </tr>
                         <tr>
                          <th scope="row">Corrolla</th>
                          <td>B 9384 IG</td>
                          <td>Marchisio</td>
                          <td>14.00</td>
                          <td>
                               <button id="checkInbtn" onclick="();" class="btn btn-default btn-sm" style="bottom:0px;">Check In</button>  
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row" >
                <table style="width:100%; background-color:#d53337;">
                    <tr>
                        <td align="center" color="white">
                            <font color="black">Test Drive Final Inspection</font>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="headerRow">Model</th>
                            <th class="headerRow">No. Polisi</th>
                            <th class="headerRow">Nama</th>
                            <th class="headerRow">Jam SIKK</th>
                            <th class="headerRow">CheckOut</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th scope="row">Camry</th>
                          <td>B 2320 TYP</td>
                          <td>Luis Garcia</td>
                          <td>08.00</td>
                          <td>
                               <button id="checkInbtn" onclick="();" class="btn btn-default btn-sm" style="bottom:0px;">Check In</button>  
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Avanza</th>
                          <td>B 5234 POD</td>
                          <td>Jesey Garcia</td>
                          <td>09.00</td>
                          <td>
                               <button id="checkInbtn" onclick="();" class="btn btn-default btn-sm" style="bottom:0px;">Check In</button>  
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Fortuner</th>
                          <td>B 1872 RUS</td>
                          <td>Bailly</td>
                          <td>12.00</td>
                          <td>
                               <button id="checkInbtn" onclick="();" class="btn btn-default btn-sm" style="bottom:0px;">Check In</button>  
                          </td>
                        </tr>
                         <tr>
                          <th scope="row">Corrolla</th>
                          <td>B 9384 IG</td>
                          <td>Marchisio</td>
                          <td>14.00</td>
                          <td>
                               <button id="checkInbtn" onclick="();" class="btn btn-default btn-sm" style="bottom:0px;">Check In</button>  
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row" style="padding-bottom:5px;">
                <table style="width:100%; background-color:#d53337;">
                    <tr>
                        <td align="center">
                            <font color="black">Unit Keluar</font>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row">
                <div align="center" stytle="font-size:initial;">Input no. Polisi</div>
                <div class="col-md-4" style="padding-bottom:10px;">
                    <div class="from-group">
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="nama" placeholder="No. Polisi" ng-model="" 
                            required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom:5px;">
                <table style="width:100%; background-color:#d53337;">
                    <tr>
                        <td align="center">
                            <font color="black">Scan Out</font>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row" style="text-align:center;">
                <button id="getInbtn" ng-click="scanGetOutBtn()" class="btn btn-default btn-sm" style="bottom:0px;">Scan</button>
            </div>
        </div>
    </div>
</div>

<div ng-show="getInScanShow" style="display:none; width:100%; margin-left: 11px;">
    <div class="row">
        <button id="btnBack" ng-click="kembaliScanGetInBtn()" class="btn btn-default btn-sm" style="float: right; bottom: 2px;">Kembali </button>
    </div>
    <div>
      <svg id="ean-13"></svg>
    </div>
    <table style="width:100%;">
      <tr>
        <td width="50%" style="text-align:center;">
            No Rangka
        </td>
        <td width="50%" style="text-align:left;"">
            MHF3829223FU9003
        </td>
      </tr>
    </table>

    <div class="row" style="text-align:center">
        <div class="col-md-4">
            <div class="from-group">
                <label>2 Februari 2017 09:37</label>               
            </div>
        </div>        
    </div>
    <div class="row" style="padding-top:2px; padding-bottom:10px;">
        <table style="width:100%">
            <tr>
                <td style="width:25%">
                    <button id="getOutbtn" ng-click="();" class="btn btn-default btn-sm" style="float:center; bottom:0px; width:100%">Good Received</button>   
                </td>
                <td style="width:25%">
                    <button id="getOutbtn" ng-click="();" class="btn btn-default btn-sm" style="float:center; bottom:0px; width:100%">Repair In</button>   
                </td>
            </tr>
            <tr>
                <td style="width:25%">
                    <button id="getOutbtn" ng-click="();" class="btn btn-default btn-sm" style="float:center; bottom:0px; width:100%">Services GR</button>   
                </td>
                <td style="width:25%">
                    <button id="getOutbtn" ng-click="();" class="btn btn-default btn-sm" style="float:center; bottom:0px; width:100%">Services BP</button>   
                </td>
            </tr>
        </table>
    </div>
</div>

<div ng-show="getOutScanShow" style="display:none; width:100%; margin-left: 11px;">
    <div class="row">
        <button id="kembaliGetOutbtn" ng-click="kembaliScanGetOutbtn();" class="btn btn-default btn-sm" style="float:right; bottom: 2px;">Kembali</button>
    </div>

    <div>
      <svg id="ean-13"></svg>
    </div>
    
    <table style="width:100%;">
      <tr>
        <td width="50%" style="text-align:center;">
            No Rangka
        </td>
        <td width="50%" style="text-align:left;"">
            MHF3829223FU9003
        </td>
      </tr>
    </table>
    <div class="row" style="text-align:center">
        <div class="col-md-4">
            <div class="from-group">
                <label>2 Februari 2017 09:37</label>               
            </div>
        </div>        
    </div>

    <div class="row" style="padding-top:2px; padding-bottom:10px;">
        <table style="width:100%">
            <tr>
                <td style="width:25%">
                    <button id="getOutbtn" onclick="();" class="btn btn-default btn-sm" style="float:center;bottom:0px; width:100%">Delivery Out</button>   
                </td>
                <td style="width:25%">
                    <button id="getOutbtn" onclick="();" class="btn btn-default btn-sm" style="float:center;bottom:0px; width:100%">Repair Out</button>   
                </td>
            </tr>             
        </table>
    </div>
</div>
