<script type="text/javascript">
    
    </script>
    <style type="text/css">
    
    
    </style>
    <!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
    <!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
    <!-- model="vm.model" is a MUST if USING FORMLY -->
    <!-- model="mRole" is a MUST if NOT USING FORMLY -->
    <!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->
    
    <!-- get-data="getData" is OPTIONAL, default="getData" -->
    <!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
    <!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
    <!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->
    
    <!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
    <!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
    <!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
    <!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
    <!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
    
    
    <bsform-grid
        ng-form="HolidayForm"
        factory-name="HolidayFactory"
        model="mData"
        model-id="HolidayId"
        loading="loading"
    
        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        on-show-detail = "onShowDetail"
        on-validate-save = "onValidateSave"
        on-before-new-mode="onBeforeNewMode"
    
        form-name="HolidayForm"
        form-title="Holiday"
        modal-title="Holiday"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >
            <div class="row">
                <div class="col-md-12" style="margin-top: 20px;">
                    <div class="col-md-3 form-group">
                        <label>Tanggal</label>
                        <bsdatepicker
                            name="HolidayDate"
                            ng-disabled="EnableEdit" skip-enable
                            date-options="dateOptions"
                            ng-model="mData.HolidayDate"
                        >
                        </bsdatepicker>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Keterangan</label>
                        <input ng-model="mData.HolidayDesc" style="width:100%"  type="text"
                        class="form-control" ng-required="true">
                    </div>
                </div>
            </div>
    </bsform-grid>