<!--
	Catatan Flow
	1. Terdapat perbedaan Ref SO Bengkel dengan Ref SO Customer di Button Action


-->


<style type="text/css">
.user-avatar {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

table.search
{
    border-spacing: 10px;
}

table.search td
{
    padding: 5px;
}

.tanggal{
    width: 100%;
}

.judul-filter{
    width: 1%;
}

</style>

<fieldset>
	<table class="search">
        <tr>
            <td>
            <label>Referensi GI*</label>
            <select class="form-control" ng-model="selection" ng-options="item for item in items" disabled>
                <option selected>Parts Return</option>
            </select>
            </td>
            <td>
                <div style="padding-left: 60px">
                    <label>No Parts Return*</label><input type="text" name="wo" class="form-control" placeholder="Parts Return" disabled>
                </div>
            </td>   
        </tr>   
		<tr>
			<td>
			<div>
                <label>Tipe Material</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Parts" disabled>
            </div>
            </td>	
		</tr>
		<tr>
			<td>
			<div>
                <label>Vendor</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="T053 Toyota B&P Yasmin" disabled>
            </div>
            </td>	
		</tr>
	</table>
</fieldset>
<hr/>
<fieldset>
	<table class="search">
		<tr>
			<td>
			<div>
                <label>No GI</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Grand Total" disabled>
            </div>
            </td>
            <td>
                <div style="padding-left: 60px">
                    <label>Tanggal GI</label>
                    <bsdatepicker
                        name="startDate"
                        date-options="dateOptions"
                        ng-model="mPeriod.startDate"
                    >
                    </bsdatepicker>
                </div>
            </td>
        </tr>
        <tr>
            <td>
            <div>
                <label>Status</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="No WO" disabled>
            </div>
            </td>
            <td>
            <div style="padding-left: 60px">
                <label>Grand Total</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="No WO" disabled>
            </div>
            </td> 
        </tr>
		<tr>
			<td colspan="2">
			<div>
                <label>Notes</label>
                <textarea class="form-control" rows="5" id="comment" disabled></textarea>
            </div>
            </td>
        </tr>
</fieldset>

<fieldset style="padding-top: 10px">

<div ng-controller="GoodsIssueController">
      <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-edit class="grid"></div>
</div>
</fieldset>

<fieldset style="padding-top: 10px">
<div align="right">
    <button class="btn btn-default">Cetak Picking Slip</button>
    <button class="btn btn-default" data-toggle="modal" data-target="#myModal">Batal Dokumen</button>
	<button class="btn btn-default">Kembali</button>
	<button class="btn btn-danger">Simpan</button>
</div>
<!--[START] Modal Region -->
<div id="myModal" class="modal fade" role="dialog" style="width: 80%" align="center">
  <div class="modal-dialog"d >

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: #ff0000">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Input Alasan Pembatalan</h4>
      </div>
      <div class="modal-body">
        <p>Alasan*</p>
        <select class="form-control" style="width: 50%">
            <optgroup>
                <option>Kesalahan Administrasi</option>
                <option>Salah Material</option>
                <option>Pembatalan oleh Customer</option>
                <option>Batal Digunakan</option>
                <option>Lainnya</option>
            </optgroup>
        </select>
        <p style="padding-top: 10px">Keterangan</p>
        <textarea class="form-control" rows="5"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Kembali</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
      </div>
    </div>

  </div>
</div>
<!--[END] Modal Region -->
</fieldset>

