<script type="text/javascript">
</script>
<style type="text/css">

</style>
            <div ng-if="role=='Branch'" ng-include="'app/services/report/GR/reportSAProductivityGR/tempBranch.html'"></div>
            <div ng-if="role=='HO'" ng-include="'app/services/report/GR/reportSAProductivityGR/tempHOTAM.html'"></div>

<!-- <bsform-base ng-form="SAProductivityForm" loading="loading" show-advsearch="on" form-api="formApi" form-name="SAProductivityForm" form-title="SAProductivity" icon="fa fa-fw fa-child">

    <bsform-advsearch> 

    </bsform-advsearch>

    <bsform-base-main>
        <div class="panel panel-default">
            <div class="panel-heading">SUMMARY</div>
            <div class="panel-body">
                <div class="panel panel-default col-md-5">
                    <div class="panel-heading">By Unit Entry</div>
                    <div class="panel-body">
                        <div class="row" style="">
                            <div class="form-group form-inline" style="margin-right: -65px;">
                                <label>Unit Entry (UE)</label>
                                <div class="pull-right">
                                    <input  type="text" class="form-control" ng-model="unitEntry" name="unitEntry" style="width: 50%;" disabled>
                                </div>
                            </div>

                            <div class="form-group form-inline" style="margin-right: -65px;">
                                <label>Total SA</label>
                                <div class="pull-right">
                                    <input  type="text" class="form-control" ng-model="totalSA" name="totalSA" style="width: 50%;" disabled>
                                </div>
                            </div>

                            <div class="form-group form-inline" style="margin-right: -65px;">
                                <label>Unit/SA/DAY</label>
                                <div class="pull-right">
                                    <input  type="text" class="form-control" ng-model="unitSADAY" name="unitSADAY" style="width: 50%;" disabled>
                                </div>
                            </div>

                            <div class="form-group form-inline" style="margin-right: -80px;">
                                <label>OTD Rate</label>
                                <div class="pull-right">
                                    <input  type="text" class="form-control" ng-model="OTDRate" name="OTDRate" style="width: 45%;" disabled> %
                                </div>
                            </div>

                            <div class="form-group form-inline" style="margin-right: -80px;">
                                <label>Delivery Rate</label>
                                <div class="pull-right">
                                    <input  type="text" class="form-control" ng-model="deliveryRate" name="deliveryRate" style="width: 45%;" disabled> %
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"> </div>
                <div class="panel panel-default col-md-5">
                    <div class="panel-heading">By Sales Amount</div>
                    <div class="panel-body">
                        <div class="row" style="">
                            <div class="form-group form-inline" style="margin-right: -20px;">
                                <label>Jasa</label>
                                <div class="pull-right">Rp 
                                    <input  type="text" class="form-control" name="jasa" ng-model="jasa" style="width: 80%;" disabled>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-right: -20px;">
                                <label>Part</label>
                                <div class="pull-right">Rp 
                                    <input type="text" class="form-control" name="parts" ng-model="parts" style="width: 80%;" disabled>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-right: -20px;">
                                <label>Bahan</label>
                                <div class="pull-right">Rp 
                                    <input  type="text" class="form-control" name="bahan" ng-model="bahan" style="width: 80%;" disabled>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-right: -20px;">
                                <label>OPL</label>
                                <div class="pull-right">Rp 
                                    <input  type="text" class="form-control" name="opl" ng-model="opl" style="width: 80%;" disabled>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-right: -20px;">
                                <label>OPB</label>
                                <div class="pull-right">Rp 
                                    <input  type="text" class="form-control" name="opb" ng-model="opb" style="width: 80%;" disabled>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-right: -20px;">
                                <label>Total Revenue</label>
                                <div class="pull-right">Rp 
                                    <input  type="text" class="form-control" name="totalrevenue" ng-model="totalrevenue" style="width: 80%;" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group pull-right">
                <button ng-if="role=='HO'" 
                ng-click="getReportHOByUnit()" type="button" class="rbtn btn"> Export By Unit </button>
                <button ng-if="role=='HO'" 
                ng-click="getReportHOByAmount()" type="button" class="rbtn btn"> Export By Amount </button>

                <button ng-if="role=='Branch'" 
                ng-click="getReportCabangByUnit()" type="button" class="rbtn btn"> Export By Unit </button>
                <button ng-if="role=='Branch'"
                ng-click="getReportCabangByAmount()" type="button" class="rbtn btn"> Export By Amount </button>
            </div>
        </div>
    </bsform-base-main>
</bsform-base> -->

<!-- <script type="text/ng-template" id="taTemplate.html">
  <a>
      <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script> -->