<bsform-base ng-form="SAProductivityForm" loading="loading" show-advsearch="on" form-api="formApi" form-name="SAProductivityFormGRBranch" form-title="SAProductivityFormGRBranch" icon="fa fa-fw fa-child">

<bsform-advsearch>
<div class="row" style="margin-right:0px;">
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <label>Dealer</label>
            <bsselect ng-disabled="true" 
                    ng-model="filter.Dealer" 
                    name="dealer" 
                    data="dataDealer" 
                    item-text="dealerName" 
                    item-value="dealerCode" 
                    on-select="dealerCode(selected)" 
                    placeholder="Select Dealer" required>
            </bsselect>
            <bserrmsg field="dealer"> harus diisi </bserrmsg>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <label>Cabang </label>
            <bsselect ng-disabled="Disabled" 
                    ng-model="filter.Cabang" 
                    name="cabang" 
                    data="dataCabang" 
                    item-text="cabangName" 
                    item-value="cabangID" 
                    on-select="cabangID(selected)" 
                    placeholder="Select Cabang" required>
            </bsselect>
            <bserrmsg field="cabang"> harus diisi </bserrmsg>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <label>Kategori Workshop</label>
            <input type="text" class="form-control" ng-model="filter.kategori" name="kategoriWorkshop" placeholder="Kategori Workshop" disabled required>
            <bserrmsg field="kategoriWorkshop"> harus diisi </bserrmsg>
        </div>
    </div>
</div>
<div class="row" style="margin-right:0px;">
    <div class="col-md-3">
        <div class="form-group" show-errors>
            <bsreqlabel>Periode</bsreqlabel>
            <bsdatepicker
                max-date="maxDate"
                name="dateStart"
                date-options="dateOptions2"
                ng-model="filter.DateStart" required
            >
            </bsdatepicker>
            <bserrmsg field="dateStart"> harus diisi </bserrmsg>
        </div>
    </div>
    <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
    <div class="col-md-3" style="margin-top:5px;">
        <div class="form-group" show-errors>
            <label></label>
            <bsdatepicker
            max-date="maxDate"
            name="DateEnd"
            date-options="dateOptions2"
            ng-model="filter.DateEnd" required
            >
            </bsdatepicker>
            <bserrmsg field="DateEnd"> harus diisi </bserrmsg>
        </div>
    </div> 
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <label>SA</label>
            <bsselect ng-model="filter.SA" name="sa" data="dataSA" item-text="employeeName" item-value="employeeCode" on-select="employeeCode(selected)" placeholder="Select SA" required>
            </bsselect>
            <bserrmsg field="sa"> harus diisi </bserrmsg>
        </div>
    </div>
</div>
<!-- <div class="form-group pull-right"><button ng-click="getSummaryCabang()" type="button" class="rbtn btn"> Filter </button></div> -->
<br><br>
    </bsform-advsearch>
            <bsform-base-main>
                    <div ng-include="'app/services/report/GR/reportSAProductivityGR/tempSummary.html'"></div>
            </bsform-base-main>
</bsform-base>

<!-- <div class="row" style="margin-right:0px;">
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <label>Dealer</label>
            <bsselect ng-model="filter.Dealer" name="dealer" data="getDealer" item-text="DealerName" item-value="DealerId" on-select="DealerId(selected)" placeholder="Select Dealer">
            </bsselect>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <label>Cabang </label>
            <bsselect ng-model="filter.Cabang" name="cabang" data="getCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang">
            </bsselect>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <label>Kategori Workshop</label>
            <input type="text" class="form-control" ng-model="filter.KategoriWorkshop" name="kategoriWorkshop"disabled>
        </div>
    </div>
</div>
<div class="row" style="margin-right:0px;">
    <div class="col-md-3">
        <div class="form-group" show-errors>
            <label>Tanggal Mulai</label>
            <bsdatepicker
                name="dateStart"
                date-options="dateOptions"
                ng-model="filter.DateStart"
            >
            </bsdatepicker>
        </div>
    </div>
    <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
    <div class="col-md-3">
        <div class="form-group" show-errors>
            <label>Tanggal Akhir</label>
            <bsdatepicker
                name="dateThru"
                date-options="dateOptions"
                ng-model="filter.DateThru"
            >
            </bsdatepicker>
        </div>
    </div> 
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="form-group" show-errors>
            <label>SA</label>
            <bsselect ng-model="filter.SA" name="SA" data="getSA" item-text="SAName" item-value="SAId" on-select="SAId(selected)" placeholder="Select SA">
            </bsselect>
        </div>
    </div>
</div>
<div class="form-group pull-right"><button type="button" class="rbtn btn"> Filter </button></div>
<br><br>
 -->