<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}

	.watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	}

	.ui-grid-viewport{
		overflow-anchor: none;
	}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="Show_MainInvoiceMasuk">
	<div class="row">
		<div class="pull-right">
			<button id="TambahInvoiceMasuk_Button" ng-click="TambahInvoiceMasuk_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right; margin-top:-30px;margin-right:13px">
				<span class="ladda-label">
					<i class="fa fa-fw fa-plus"> </i> Tambah
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
	<div>
		<div style="margin-top:9px; margin-left: -13px;">
			<div class="col-md-3">
				<bsreqlabel>Tanggal Invoice Masuk</bsreqlabel>
				<div class="input-icon-right ">
					<bsdatepicker format="dd/MM/yyyy" name="MainInvoiceMasukTanggalAwal" date-options="dateOptions" ng-model="MainInvoiceMasuk_TanggalAwal">
					</bsdatepicker>
				</div>
			</div>
			<!-- <div class="col-md-1" style="margin-top:30px; margin-right:-30px">
				s/d
			</div> -->
			<div class="col-md-3">
				<div class="input-icon-right ">
					<label>s.d.</label>	
					<bsdatepicker format="dd/MM/yyyy" name="MainInvoiceMasukTanggalAkhir" date-options="dateOptions" ng-model="MainInvoiceMasuk_TanggalAkhir">
					</bsdatepicker>
				</div>
			</div>



			<div class="col-md-3" ng-show="InvoiceMasuk_HO_Show">
				<label>Nama Branch</label>
				<bsselect ng-model="MainInvoiceMasuk_SelectBranch" data="optionsMainInvoiceMasuk_SelectBranch" item-text="name" maxlength="50"
				 item-value="value" on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search" ng-disabled="!Main_NamaBranch_EnableDisable">
				</bsselect>
			</div>

			<div class="col-md-3" ng-show="!InvoiceMasuk_HO_Show">
				<label>Nama Branch</label>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="MainInvoiceMasukNamaBranch" placeholder="" ng-model="MainInvoiceMasuk_NamaBranch"
					 ng-maxlength="50" maxlength="50" ng-disabled="NamaBranch">
				</div>
			</div>

			<div class="col-md-1">
				<button id="MainInvoiceMasuk_Cari_Button" ng-click="MainInvoiceMasuk_Cari_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: left; margin-top:22px">
					<span class="ladda-label">
						Cari
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>

	<p class="fi-title-line" style="margin-top:83px; margin-left:0px; width: 99.6%">Daftar Invoice Masuk
		<!-- <hr style="border-color:red;margin-left:10px;" /> -->
	</p>

	<div class="row">
		<div>
			<div class="col-md-2">
				<div class="input-icon-right">
					<input type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="MainInvoiceMasuk_TextFilter" ng-maxlength="50"
					 maxlength="50">
				</div>
			</div>

			<div class="col-md-2">
				<bsselect ng-model="MainInvoiceMasuk_SelectKolom" data="optionsMainInvoiceMasuk_SelectKolom" ng-change="MainInvoiceMasuk_FilterKolom_Changed"
				 item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih Kriteria" icon="fa fa-search">
				</bsselect>
			</div>

			<div class="col-md-2">
				<button id="" onclick="" ng-click="MainInvoiceMasuk_Filter_Clicked()" type="button" class="btn ng-binding ladda-button">
					<span class="ladda-label">
						Filter
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>
	<div id="myGrid" ui-grid="InvoiceMasukList_UIGrid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination class="Mygrid"
	 style="width:99.6%; height: 400px; margin-top:5px; margin-bottom:20px;">
		<div class="watermark" ng-show="!InvoiceMasukList_UIGrid.data.length">No data available</div>
	</div>
</div>


<div ng-show="Show_LihatInvoiceMasuk">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4">
				<bslabel>Tanggal Invoice Masuk</bslabel>
				<div class="input-icon-right ">
					<bsdatepicker format="dd/MM/yyyy" name="LihatInvoiceMasukTanggalInvoiceMasuk" date-options="dateOptions" ng-model="LihatInvoiceMasuk_TanggalInvoiceMasuk"
					 ng-disabled="!LihatInvoiceMasuk_TanggalInvoiceMasuk_EnableDisable">
					</bsdatepicker>
				</div>
			</div>

			<div class="col-md-4">
				<bslabel>Nomor Invoice Masuk</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="NomorIM" placeholder="" ng-model="LihatInvoiceMasuk_NomorIM" ng-maxlength="20"
					 maxlength="20" ng-disabled="!LihatInvoiceMasuk_NomorIM_EnableDisable">
				</div>
			</div>

			<div class="col-md-4">
				<bslabel>Nama Branch</bslabel>
				<input type="text" class="form-control " name="LihatInvoiceMasukNamaBranch" placeholder="" ng-model="LihatInvoiceMasuk_NamaBranch"
				 ng-maxlength="50" maxlength="50" ng-disabled="!LihatInvoiceMasuk_NamaBranch_EnableDisable">
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-4">
				<bslabel>Tipe Invoice Masuk</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="NomorIM" placeholder="" ng-model="LihatInvoiceMasuk_TipeInvoiceMasuk" ng-maxlength="50"
					 maxlength="50" ng-disabled="!LihatInvoiceMasuk_TipeInvoiceMasuk_EnableDisable">
				</div>
			</div>

			<div class="col-md-4" ng-show="Show_LihatInvoiceMasukSTNK">
				<bslabel>Tipe Notice / Unnotice</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="TipeNoticeLihat" placeholder="" ng-model="LihatInvoiceMasuk_TipeNotice" ng-maxlength="50"
					 maxlength="50" ng-disabled="!LihatInvoiceMasuk_TipeInvoiceMasuk_EnableDisable">
				</div>
			</div>

		</div>
	</div>

	<div ng-show="Show_LihatInvoiceMasuk_Detail" id="LihatInvoiceMasuk_Detail" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px; background:white">
		<p style="width:180px; margin-top:-20px; margin-left:7px; background:white;">Informasi Invoice Dari Vendor</p>

		<div ng-show="Show_LihatInvoiceMasuk_OtherType" id="LihatInvoiceMasuk_OtherType">
			<p style="width:180px; margin-top:20px;margin-bottom:-20px; margin-left:10px; background:white;color:red;">Informasi Vendor
				<hr style="border-color:red" />
			</p>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<bslabel>Nomor Vendor</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="NomorVendor " placeholder="" ng-model="LihatInvoiceMasuk_NomorVendor" ng-maxlength="20"
							 maxlength="20" ng-disabled="!LihatInvoiceMasuk_NomorVendor_EnableDisable">
						</div>
					</div>

					<div class="col-md-4">
						<bslabel>Nama Vendor</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="NamaVendor " placeholder="" ng-model="LihatInvoiceMasuk_NamaVendor" ng-maxlength="20"
							 ng-disabled="!LihatInvoiceMasuk_NamaVendor_EnableDisable" maxlength="20">
						</div>
					</div>

					<div class="col-md-4">
						<bslabel>NPWP</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="NamaVendor " placeholder="" ng-model="LihatInvoiceMasuk_NPWP" ng-maxlength="15"
							 maxlength="15" ng-disabled="!LihatInvoiceMasuk_NPWP_EnableDisable">
						</div>
					</div>
				</div>


				<div class="col-md-12">
					<div class="col-md-4">
						<bslabel>Alamat</bslabel>
						<textarea type="text" class="form-control" name="Alamat" placeholder="" ng-model="LihatInvoiceMasuk_Alamat" ng-maxlength="1000"
						 maxlength="1000" style="margin-bottom: 10px" ng-disabled="!LihatInvoiceMasuk_Alamat_EnableDisable">
						</textarea>
					</div>

					<div class="col-md-4">
						<bslabel>Kabupaten / Kota</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="KabKota " placeholder="" ng-model="LihatInvoiceMasuk_KabupatenKota" ng-maxlength="50"
							 maxlength="50" ng-disabled="!LihatInvoiceMasuk_KabupatenKota_EnableDisable">
						</div>
					</div>

					<div class="col-md-4">
						<bslabel>Telepon</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="Telepon " placeholder="" ng-model="LihatInvoiceMasuk_Telepon" ng-maxlength="20"
							 maxlength="20" ng-disabled="!LihatInvoiceMasuk_Telepon_EnableDisable">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-show="Show_LihatInvoiceMasuk_FreeService" id="LihatInvoiceMasuk_FreeService">
			<p style="width:180px; margin-top:20px;margin-bottom:-20px; margin-left:10px; background:white;color:red;">Informasi Vendor
				<hr style="border-color:red" />
			</p>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<bslabel>Branch</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="FreeServiceBranch " placeholder="" ng-model="LihatInvoiceMasuk_FreeServiceBranch"
							 ng-maxlength="50 " ng-disabled="!LihatInvoiceMasuk_FreeServiceBranch_EnableDisable">
						</div>
					</div>

					<div class="col-md-4">
						<bslabel>NPWP</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="FreeServiceNPWP " placeholder="" ng-model="LihatInvoiceMasuk_FreeServiceNPWP"
							 ng-maxlength="15" maxlength="15" ng-disabled="!LihatInvoiceMasuk_FreeServiceNPWP_EnableDisable">
						</div>
					</div>
				</div>


				<div class="col-md-12">
					<div class="col-md-4">
						<bslabel>Alamat</bslabel>
						<textarea type="text" class="form-control" name="FreeServiceAlamat" placeholder="" ng-model="LihatInvoiceMasuk_FreeServiceAlamat"
						 ng-maxlength="1000" maxlength="1000" style="margin-bottom: 10px" ng-disabled="!LihatInvoiceMasuk_FreeServiceAlamat_EnableDisable">
						</textarea>
					</div>

					<div class="col-md-4">
						<bslabel>Kabupaten / Kota</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="FreeServiceKabKota " placeholder="" ng-model="LihatInvoiceMasuk_FreeServiceKabupatenKota"
							 ng-maxlength="50" maxlength="50" ng-disabled="!LihatInvoiceMasuk_FreeServiceKabupatenKota_EnableDisable">
						</div>
					</div>

					<div class="col-md-4">
						<bslabel>Telepon</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="FreeServiceTelepon " placeholder="" ng-model="LihatInvoiceMasuk_FreeServiceTelepon"
							 ng-maxlength="20" maxlength="20" ng-disabled="!LihatInvoiceMasuk_FreeServiceTelepon_EnableDisable">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-4" style="margin-left:-10px">
				<bslabel>Nomor Invoice Dari Vendor</bslabel>
				<input type="text" class="form-control " name="LihatInvoiceMasukNomorInvoiceVendor" placeholder="" ng-model="LihatInvoiceMasuk_NomorInvoiceVendor"
				 ng-maxlength="20" maxlength="20" ng-disabled="!LihatInvoiceMasuk_NomorInvoiceVendor_EnableDisable" maxlength="20">
			</div>

			<div class="col-md-4" style="margin-left:5px">
				<bslabel>Tanggal Jatuh Tempo</bslabel>
				<div class="input-icon-right ">
					<div class="input-icon-right ">
						<bsdatepicker format="dd/MM/yyyy" name="LihatInvoiceMasukTanggalJatuhTempo" date-options="dateOptions" ng-model="LihatInvoiceMasuk_TanggalJatuhTempo"
						 ng-disabled="!LihatInvoiceMasuk_TanggalJatuhTempo_EnableDisable">
						</bsdatepicker>
					</div>
				</div>
			</div>

			<div class="col-md-4" style="margin-left:5px">
				<bslabel>Keterangan</bslabel>
				<textarea type="text" class="form-control" name="LihatInvoiceMasukKeterangan" placeholder="" ng-model="LihatInvoiceMasuk_Keterangan"
				 ng-maxlength="1000" maxlength="1000" style="margin-bottom: 10px" ng-disabled="!LihatInvoiceMasuk_Keterangan_EnableDisable">
				</textarea>
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-4" style="margin-left:-10px">
				<bslabel>Nominal</bslabel>
				<input type="text" class="form-control " name="LihatInvoiceMasukNominal" placeholder="" ng-model="LihatInvoiceMasuk_Nominal"
				 ng-maxlength="50" style="margin-bottom: 10px" ng-disabled="!LihatInvoiceMasuk_Nominal_EnableDisable" currency-formating
				 number-only>
			</div>
		</div>

	</div>

	<div ng-show="Show_LihatInvoiceMasuk_PORef" id="LihatInvoiceMasuk_PORef" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px; background:white">
		<p style="width:180px; margin-top:-20px; margin-left:7px; background:white;">Referensi PO</p>

		<p style="width:180px; margin-top:20px; margin-bottom:-20px;margin-left:10px; background:white;color:red;">Daftar PO yang Ditagih
			<hr style="border-color:red" />
		</p>

		<div class="col-md-12">
			<div id="myGrid" ui-grid="InvoiceMasukPODitagih_UIGrid" ui-grid-auto-resize ui-grid-pagination class="Mygrid" style="width:100%;height: 250px; margin-top:10px; margin-bottom:20px;">
				<div class="watermark" ng-show="!InvoiceMasukPODitagih_UIGrid.data.length">No data available</div>
			</div>
		</div>
	</div>

	<div ng-show="Show_LihatInvoiceMasuk_Rangka" id="LihatInvoiceMasuk_Rangka" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px; background:white">
		<p style="width:180px; margin-top:-20px; margin-left:7px; background:white;">Informasi Nomor Rangka</p>

		<p style="width:180px; margin-top:20px;margin-bottom:-20px; margin-left:10px; background:white;color:red;">Daftar Nomor Rangka
			<hr style="border-color:red" />
		</p>

		<div class="col-md-12">
			<div id="myGrid" ui-grid="InvoiceMasukRangka_UIGrid_View" ui-grid-auto-resize ui-grid-pagination class="Mygrid" style="width:100%;height: 250px; margin-top:10px; margin-bottom:20px;">
				<div class="watermark" ng-show="!InvoiceMasukRangka_UIGrid.data.length">No data available</div>
			</div>
		</div>
	</div>

	<div ng-show="Show_LihatInvoiceMasuk_RincianPajak" id="TambahInvoiceMasuk_RincianPajak" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px; background:white">
		<p style="width:180px; margin-top:-20px; margin-left:7px; background:white;">Rincian Pajak</p>

		<p style="width:180px; margin-top:20px;margin-bottom:-20px; margin-left:10px; background:white;color:red;">Daftar Pajak
			<hr style="border-color:red" />
		</p>

		<div class="col-md-12">
			<div id="myGrid" ui-grid="InvoiceMasukPajak_UIGrid" ui-grid-resize-columns ui-grid-selection ui-grid-auto-resize ui-grid-pagination
			 class="Mygrid" style="width:100%;height: 250px; margin-top:10px; margin-bottom:20px;">
				<div class="watermark" ng-show="!InvoiceMasukPajak_UIGrid.data.length">No data available</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<button id="LihatInvoiceMasuk_Pembatalan_Button" ng-click="LihatInvoiceMasuk_Pembatalan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
		 style="float: right; margin-top:24px;margin-left:24px">
			<span class="ladda-label">
				Pembatalan
			</span>
			<span class="ladda-spinner"></span>
		</button>

		<button id="LihatInvoiceMasuk_Kembali_Button" ng-click="LihatInvoiceMasuk_Kembali_Clicked()" type="button" class="btn ng-binding ladda-button"
		 style="float: right; margin-top:24px;margin-left:24px">
			<span class="ladda-label">
				Kembali
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
</div>


<div ng-show="Show_TambahInvoiceMasuk">
	<ng-form name="x1">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<bslabel>Tanggal Invoice Masuk</bslabel>
					<div class="input-icon-right ">
						<bsdatepicker format="dd/MM/yyyy" name="TanggalInvoiceMasuk" date-options="dateOptions" ng-model="TambahInvoiceMasuk_TanggalInvoiceMasuk"
						 ng-disabled="!TambahInvoiceMasuk_TanggalInvoiceMasuk_isEnabled">
						</bsdatepicker>
					</div>
				</div>

				<div class="col-md-4" ng-show="!InvoiceMasuk_HO_Show">
					<bslabel>Nama Branch</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="TambahInvoiceMasukMainNamaBranch" placeholder="" ng-model="TambahInvoiceMasuk_MainNamaBranch"
						 ng-maxlength="50" maxlength="50" ng-disabled="!TambahInvoiceMasuk_MainNamaBranch_EnableDisable">
					</div>
				</div>

				<div class="col-md-4" ng-show="InvoiceMasuk_HO_Show">
					<bslabel>Nama Branch</bslabel>
					<bsselect ng-model="TambahInvoiceMasuk_SelectBranch" data="optionsTambahInvoiceMasuk_SelectBranch" item-text="name" maxlength="50"
					 item-value="value" on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search" ng-disabled="!Main_NamaBranch_EnableDisable">
					</bsselect>
				</div>

			</div>

			<div class="col-md-12">
				<div class="col-md-4" ng-class="{'has-error':x1.TambahInvoiceMasuk_TipeInvoiceMasuk.$error.required && x1.TambahInvoiceMasuk_TipeInvoiceMasuk.$touched}">
					<bsreqlabel>Tipe Invoice Masuk</bsreqlabel>
					<bsselect ng-change="TambahInvoiceMasuk_TipeInvoiceMasuk_Changed()" name="TambahInvoiceMasuk_TipeInvoiceMasuk" ng-model="TambahInvoiceMasuk_TipeInvoiceMasuk"
					 data="optionsTambahInvoiceMasukTipeInvoiceMasuk" item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Tipe Invoice Masuk"
					 icon="fa fa-search" required>
					</bsselect>
					<span ng-if="x1.TambahInvoiceMasuk_TipeInvoiceMasuk.$error.required && x1.TambahInvoiceMasuk_TipeInvoiceMasukNotice.$touched" class="help-block">Field ini wajib dipilih</span>
				</div>
				<div ng-show='Show_TambahTipeNotice' class="col-md-4" ng-class="{'has-error':x1.TambahInvoiceMasuk_TipeInvoiceMasuk.$error.required && x1.TambahInvoiceMasuk_TipeInvoiceMasukNotice.$touched}">
					<bsreqlabel>Tipe Notice / Unnotice</bsreqlabel>
					<bsselect  name="TambahInvoiceMasuk_TipeInvoiceMasukNotice" ng-model="TambahInvoiceMasuk_TipeInvoiceMasukNotice" ng-change="TambahInvoiceMasuk_TipeInvoiceMasukNotice_Changed()"
					 data="optionsTambahInvoiceMasukTipeInvoiceMasukNotice" item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Tipe Invoice Masuk"
					 icon="fa fa-search" required>
					</bsselect>
					<span ng-if="x1.TambahInvoiceMasuk_TipeInvoiceMasukNotice.$error.required && x1.TambahInvoiceMasuk_TipeInvoiceMasukNotice.$touched" class="help-block">Field ini wajib dipilih</span>
				</div>
				<div class="col-md-4" ng-show="((TambahInvoiceMasuk_TipeInvoiceMasuk.InvoiceType == 'Parts' || TambahInvoiceMasuk_TipeInvoiceMasuk.InvoiceType == 'Order Permintaan Bahan') && !Show_LihatInvoiceMasuk)">
						<bscheckbox ng-change="TambahInvoiceMasuk_IsNonPkp_Changed()" ng-model="IsNonPKP" label="Non PKP" true-value="1" false-value="0" style="float: left; margin-top:24px">
						</bscheckbox>
				</div>
			</div>
		</div>

		<div ng-show="Show_TambahInvoiceMasuk_Detail" id="TambahInvoiceMasuk_Detail" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px; background:white">
			<p style="width:180px; margin-top:-20px; margin-left:7px; background:white;">Informasi Invoice Dari Vendor</p>

			<div ng-show="Show_TambahInvoiceMasuk_OtherType" id="TambahInvoiceMasuk_OtherType">
				<div class="col-md-12">
					<div class="col-md-4" style="margin-left:-10px" ng-class="{'has-error':x1.TambahInvoiceMasuk_OtherTypeNamaVendor.$error.required && x1.TambahInvoiceMasuk_OtherTypeNamaVendor.$touched}">
						<bsreqlabel ng-if="TambahInvoiceMasuk_TipeInvoiceMasuk.InvoiceType == 'Accrued Free Service'">Nama Branch</bsreqlabel>
						<bsreqlabel ng-if="TambahInvoiceMasuk_TipeInvoiceMasuk.InvoiceType != 'Accrued Free Service'">Nama Vendor</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="TambahInvoiceMasuk_OtherTypeNamaVendor " placeholder="Klik untuk cari" readonly ng-model="TambahInvoiceMasuk_OtherTypeNamaVendor"
							 ng-maxlength="50" maxlength="50" ng-click="TambahInvoiceMasuk_TujuanPembayaran_NamaPelangganVendor_Click()" ng-disabled="TambahInvoiceMasuk_OtherTypeNamaVendor_EnableDisable" required>
							<span ng-if="X1.TambahInvoiceMasuk_OtherTypeNamaVendor.$error.required && X1.TambahInvoiceMasuk_OtherTypeNamaVendor.$touched" class="help-block">Field ini wajib diisi</span>
						</div>

						<div class="input-icon-right " ng-show="false">
							<input type="text" class="form-control " name="IdPelanggan"
							 ng-model="TambahInvoiceMasuk_OtherTypeNamaVendor_TujuanPembayaran_IdPelangganVendor" ng-maxlength="50 " required>
						</div>
					</div>

					<div class="col-md-4">
						<button id="TambahInvoiceMasuk_Cari_Button" ng-click="TambahInvoiceMasuk_Cari_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
						 style="float: left; margin-top:24px">
							<span class="ladda-label">
								Cari
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
				</div>

				<p style="width:180px; margin-top:20px;margin-bottom:-20px; margin-left:10px; background:white;color:red;">Informasi Vendor
					<hr style="border-color:red" />
				</p>

				<div class="row">
					<div class="col-md-12">
						<div class="col-md-4">
							<bsreqlabel ng-if="TambahInvoiceMasuk_TipeInvoiceMasuk.InvoiceType == 'Accrued Free Service'">Nomor Branch</bsreqlabel>
							<bsreqlabel ng-if="TambahInvoiceMasuk_TipeInvoiceMasuk.InvoiceType != 'Accrued Free Service'">Nomor Vendor</bsreqlabel>

							<div class="input-icon-right ">
								<input type="text" class="form-control " name="NomorVendor " placeholder="" ng-model="TambahInvoiceMasuk_NomorVendor" ng-maxlength="20"
								 maxlength="20" ng-disabled="!TambahInvoiceMasuk_NomorVendor_EnableDisable">
							</div>
						</div>

						<div class="col-md-4">
							<bsreqlabel ng-if="TambahInvoiceMasuk_TipeInvoiceMasuk.InvoiceType == 'Accrued Free Service'">Nama Branch</bsreqlabel>
							<bsreqlabel ng-if="TambahInvoiceMasuk_TipeInvoiceMasuk.InvoiceType != 'Accrued Free Service'">Nama Vendor</bsreqlabel>

							<div class="input-icon-right ">
								<input type="text" class="form-control " name="NamaVendor " placeholder="" ng-model="TambahInvoiceMasuk_NamaVendor" ng-maxlength="20"
								 maxlength="20" ng-disabled="!TambahInvoiceMasuk_NamaVendor_EnableDisable">
							</div>
						</div>

						<div class="col-md-4">
							<bslabel>NPWP</bslabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="NamaVendor " placeholder="" ng-model="TambahInvoiceMasuk_NPWP" ng-maxlength="15"
								 ng-disabled="!TambahInvoiceMasuk_NPWP_EnableDisable" maxlength="15">
							</div>
						</div>
					</div>


					<div class="col-md-12">
						<div class="col-md-4">
							<bslabel>Alamat</bslabel>
							<textarea type="text" class="form-control" name="Alamat" placeholder="" ng-model="TambahInvoiceMasuk_Alamat" ng-maxlength="1000"
							 maxlength="1000" style="margin-bottom: 10px" ng-disabled="!TambahInvoiceMasuk_Alamat_EnableDisable">
						</textarea>
						</div>

						<div class="col-md-4">
							<bslabel>Kabupaten / Kota</bslabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="KabKota " placeholder="" ng-model="TambahInvoiceMasuk_KabupatenKota" ng-maxlength="50"
								 maxlength="50" ng-disabled="!TambahInvoiceMasuk_KabupatenKota_EnableDisable">
							</div>
						</div>

						<div class="col-md-4">
							<bslabel>Telepon</bslabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="Telepon " placeholder="" ng-model="TambahInvoiceMasuk_Telepon" ng-maxlength="20"
								 maxlength="20" ng-disabled="!TambahInvoiceMasuk_Telepon_EnableDisable">
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div ng-show="Show_TambahInvoiceMasuk_FreeService" id="TambahInvoiceMasuk_FreeService">
				<p style="width:180px; margin-top:20px;margin-bottom:-20px; margin-left:10px; background:white;color:red;">Informasi Vendor
					<hr style="border-color:red" />
				</p>

				<div class="row">
					<div class="col-md-12">
						<!-- <div class="col-md-4" ng-class="{'has-error':x1.TambahInvoiceMasukNamaBranch.$error.required && x1.TambahInvoiceMasukNamaBranch.$touched}">
							<bsreqlabel>Nama Branch</bsreqlabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="TambahInvoiceMasukNamaBranch " placeholder="" ng-model="TambahInvoiceMasuk_FreeServiceBranch"
								 ng-maxlength="50" maxlength="50" required>
								<span ng-if="x1.TambahInvoiceMasukNamaBranch.$error.required && x1.TambahInvoiceMasukNamaBranch.$touched" class="help-block">Field ini wajib diisi</span>
							</div>
						</div>

						<div class="col-md-4" ng-class="{'has-error':x1.TambahInvoiceMasukNamaBranch.$error.required && x1.TambahInvoiceMasukNamaBranch.$touched}">
							<bsreqlabel>Nama Branch</bsreqlabel>
							<bsselect name="TambahInvoiceMasuk_FreeServiceBranch" ng-change="TambahInvoiceMasuk_FreeServiceBranch_Selected_Changed()"
								ng-model="TambahInvoiceMasuk_FreeServiceBranch" data="optionsTambahInvoiceMasuk_NamaBranchGroup_Search"
								item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Branch" icon="fa fa-search"
								required>
							</bsselect>
							<span ng-if="x1.TambahInvoiceMasukNamaBranch.$error.required && x1.TambahInvoiceMasukNamaBranch.$touched"
								class="help-block">Field ini wajib dipilih</span>
						</div>

						<div class="col-md-4">
							<bslabel>NPWP</bslabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="NamaVendor " placeholder="" ng-model="TambahInvoiceMasuk_FreeServiceNPWP" ng-disabled="true">
							</div>
						</div>
					</div>


					<div class="col-md-12">
						<div class="col-md-4">
							<bslabel>Alamat</bslabel>
							<textarea type="text" class="form-control" name="Alamat" placeholder="" ng-model="TambahInvoiceMasuk_FreeServiceAlamat" ng-maxlength="1000"
							 maxlength="1000" style="margin-bottom: 10px" ng-disabled="true">
						</textarea>
						</div>

						<div class="col-md-4">
							<bslabel>Kabupaten / Kota</bslabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="KabKota " placeholder="" ng-model="TambahInvoiceMasuk_FreeServiceKabupatenKota" ng-disabled="true">
							</div>
						</div>

						<div class="col-md-4">
							<bslabel>Telepon</bslabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="Telepon " placeholder="" ng-model="TambahInvoiceMasuk_FreeServiceTelepon"
								 ng-maxlength="20" maxlength="20" ng-disabled="true">
							</div>
						</div>
					</div>
				</div>
			</div> -->
		

		<div class="col-md-12">
			<div class="col-md-4" style="margin-left:-10px" ng-class="{'has-error':x1.NomorInvoiceVendor.$error.required && x1.NomorInvoiceVendor.$touched}">
				<bsreqlabel>Nomor Invoice Dari Vendor</bsreqlabel>
				<input type="text" class="form-control " name="NomorInvoiceVendor" placeholder="" ng-model="TambahInvoiceMasuk_NomorInvoiceVendor"
				 ng-maxlength="20" maxlength="20" required>
				<span ng-if="x1.NomorInvoiceVendor.$error.required && x1.NomorInvoiceVendor.$touched" class="help-block">Field ini wajib diisi</span>
			</div>

			<div class="col-md-4" style="margin-left:5px" ng-class="{'has-error':x1.TanggalJatuhTempo.$error.required && x1.TanggalJatuhTempo.$touched}">
				<bsreqlabel>Tanggal Jatuh Tempo</bsreqlabel>
				<div class="input-icon-right ">
					<div class="input-icon-right ">
						<bsdatepicker format="dd/MM/yyyy" name="TanggalJatuhTempo" date-options="dateOptions" ng-model="TambahInvoiceMasuk_TanggalJatuhTempo" required>
						</bsdatepicker>
						<span ng-if="x1.TanggalJatuhTempo.$error.required && x1.TanggalJatuhTempo.$touched" class="help-block">Field ini wajib dipilih</span>
					</div>
				</div>
			</div>

			<div class="col-md-4" style="margin-left:5px">
				<bslabel>Keterangan</bslabel>
				<textarea type="text" class="form-control" name="Keterangan" placeholder="" ng-model="TambahInvoiceMasuk_Keterangan" ng-maxlength="1000"
				 maxlength="1000" style="margin-bottom: 10px">
				</textarea>
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-4" style="margin-left:-10px" ng-class="{'has-error':x1.Nominal.$error.required && x1.Nominal.$touched}">
				<bsreqlabel>Nominal Invoice</bsreqlabel>
				<input type="text" class="form-control " name="Nominal" placeholder="" ng-model="TambahInvoiceMasuk_Nominal" ng-maxlength="50" ng-disabled="NominalInvoice_Disable" 
				 style="margin-bottom: 10px; text-align: right;" ng-blur="TambahInvoiceMasuk_NominalBlur()" ng-keyup="givePatternNomInvoice(TambahInvoiceMasuk_Nominal,$event)" required>
				<span ng-if="x1.Nominal.$error.required && x1.Nominal.$touched" class="help-block">Field ini wajib dipilih</span>
			</div>
		</div>

</div>

<div ng-show="Show_TambahInvoiceMasuk_PORef" id="TambahInvoiceMasuk_PORef" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px; background:white">
	<p style="width:180px; margin-top:-20px; margin-left:7px; background:white;">Referensi PO</p>

	<div class="col-md-12" ng-show="isModeUpload">
		<fieldset class="scheduler-border" style="margin-top: 10px;">
			<legend style="background:white;" class="scheduler-border">Upload File</legend>
			<div class="col-md-1" style="float:right">
				<!-- onchange="angular.element(this).scope().loadXLS(this)" -->
				<button id="UploadAksesorisStandard" ng-click="loadXLS()" type="button"
					class="rbtn btn ng-binding ladda-button" style="margin-top:-5px">
					Upload
				</button>
			</div>
			<div class="col-md-3" style="float:right">
					<input type="file" class="col-md-12" accept=".xlsx" id="uploadAksesorisStandard">
			</div>
			<div class="col-md-2" style="float:right">
					<button id="DownloadTemplateAksesorisStandard" ng-click="downloadTemplateAksesorisStandard_Clicked()" type="button"
						class="rbtn btn ng-binding ladda-button" style="margin-top:-5px;float: right">
						Download Template
					</button>
			</div>
		</fieldset>
	</div>

	<p style="width:180px; margin-top:20px;margin-bottom:-20px; margin-left:10px; background:white;color:red;">Daftar PO
		<hr style="border-color:red" />
	</p>

	<div class="col-md-12">
		<div class="col-md-3">
			<div class="input-icon-right">
				<input type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="TambahInvoiceMasuk_POTextFilter" ng-maxlength="50"
				 maxlength="50">
			</div>
		</div>

		<div class="col-md-3">
			<bsselect ng-model="TambahInvoiceMasuk_POSelectKolom" data="optionsTambahInvoiceMasuk_POSelectKolom" item-text="name" item-value="value"
			 on-select="value(selected)" placeholder="Pilih kolom" icon="fa fa-search">
			</bsselect>
		</div>

		<div class="col-md-3">
			<button id="" ng-click="TambahInvoiceMasuk_POFilter_Clicked1()" type="button" class="btn ng-binding ladda-button">
				<span class="ladda-label">
					Filter
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>

	<div class="col-md-12">
		<div id="myGrid" ui-grid="InvoiceMasukPO_UIGrid" ui-grid-resize-columns ui-grid-selection ui-grid-auto-resize ui-grid-pagination
		 class="Mygrid" style="width:100%;height: 250px; margin-top:10px; margin-bottom:20px;">
			<div class="watermark" ng-show="!InvoiceMasukPO_UIGrid.data.length">No data available</div>
		</div>
	</div>

	<div class="col-md-12">
		<button id="TambahInvoiceMasuk_TambahPO_Button" ng-click="TambahInvoiceMasuk_TambahPO_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
		 style="float: right; margin-top:24px">
			<span class="ladda-label">
				Tambah
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>

	<p style="width:180px; margin-top:20px; margin-bottom:-20px;margin-left:10px; background:white;color:red;">Daftar PO yang Ditagih
		<hr style="border-color:red" />
	</p>

	<div class="col-md-12">
		<div id="myGrid" ui-grid="InvoiceMasukPODitagih_UIGrid" ui-grid-resize-columns ui-grid-edit ui-grid-auto-resize ui-grid-pagination
		 class="Mygrid" style="width:100%;height: 250px; margin-top:10px; margin-bottom:20px;">
			<div class="watermark" ng-show="!InvoiceMasukPODitagih_UIGrid.data.length">No data available</div>
		</div>
	</div>
</div>

<div ng-show="Show_TambahInvoiceMasuk_Rangka" id="TambahInvoiceMasuk_Rangka" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px; background:white">
	<p style="width:180px; margin-top:-20px; margin-left:7px; background:white;">Informasi Nomor Rangka</p>
	<ng-form name='x2'>
		<div class="col-md-12">
			<div class="col-md-4" ng-class="{'has-error':x2.NomorRangka.$error.required && x2.NomorRangka.$touched}">
				<bsreqlabel>Nomor Rangka</bsreqlabel>
				<input type="text" class="form-control " name="NomorRangka" placeholder="" ng-model="TambahInvoiceMasuk_Rangka_NomorRangka"
				 ng-maxlength="20" maxlength="20" required>
				<span ng-if="x2.NomorRangka.$error.required && x2.NomorRangka.$touched" class="help-block">Field ini wajib diisi</span>
			</div>

			<div class="col-md-4">
				<button id="TambahInvoiceMasuk_TambahRangka_Button" ng-click="TambahInvoiceMasuk_TambahRangka_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: left; margin-top:24px">
					<span class="ladda-label">
						Tambah
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>

		<p style="width:180px; margin-top:20px;margin-bottom:-20px; margin-left:10px; background:white;color:red;">Daftar Nomor Rangka
			<hr style="border-color:red" />
		</p>

		<div class="col-md-12">
			<div id="myGrid" ui-grid="InvoiceMasukRangka_UIGrid" ui-grid-resize-columns ui-grid-edit ui-grid-auto-resize ui-grid-pagination
			 class="Mygrid" style="width:100%;height: 250px; margin-top:10px; margin-bottom:20px;">
				<div class="watermark" ng-show="!InvoiceMasukRangka_UIGrid.data.length">No data available</div>
			</div>
		</div>
	</ng-form>
</div>

<div ng-show="Show_TambahInvoiceMasuk_RincianPajak" id="TambahInvoiceMasuk_RincianPajak" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px; background:white">
	<p style="width:180px; margin-top:-20px; margin-left:7px; background:white;">Rincian Pajak</p>
	<ng-form name="x3">
		<div class="col-md-12" style="margin-left:-15px">
			<div class="col-md-4" ng-class="{'has-error':x3.JenisPajak.$error.required && x3.JenisPajak.$touched}">
				<bsreqlabel>Jenis Pajak</bsreqlabel>
				<bsselect name="JenisPajak" ng-change="TambahInvoiceMasuk_RincianPajak_JenisPajak_Changed()" ng-model="TambahInvoiceMasuk_RincianPajak_JenisPajak"
				 data="optionsTambahInvoiceMasukRincianPajakJenisPajak" item-text="name" item-value="value" on-select="value(selected)"
				 placeholder="Select Jenis Pajak" icon="fa fa-search" required>
				</bsselect>
				<span ng-if="x3.JenisPajak.$error.required && x3.JenisPajak.$touched" class="help-block">Field ini wajib dipilih</span>
			</div>

			<div class="col-md-4" ng-class="{'has-error':x3.DPP.$error.required && x3.DPP.$touched}">
				<bsreqlabel>DPP</bsreqlabel>
				<input type="text" class="form-control " name="DPP" placeholder="" ng-model="TambahInvoiceMasuk_RincianPajak_DPP" ng-maxlength="50"
				 ng-blur="TambahInvoiceMasuk_RincianPajak_DPP_Blur()" ng-keyup="givePattern(TambahInvoiceMasuk_RincianPajak_DPP,$event)"
				 style="text-align:right" required>
				 <span ng-if="x3.DPP.$error.required && x3.DPP.$touched" class="help-block">Field ini wajib dipilih</span>
			</div>

			<div class="col-md-4">
				<bslabel>Keterangan Objek Pajak</bslabel>
				<textarea type="text" class="form-control" name="KeteranganObjekPajak" placeholder="" ng-model="TambahInvoiceMasuk_RincianPajak_Keterangan"
				 ng-maxlength="50" style="margin-bottom: 10px" ng-disabled="!TambahInvoiceMasuk_KeteranganObjekPajak_isdisabled">
				</textarea>
			</div>
		</div>

		<div class="col-md-12" style="margin-left:-15px">
			<div class="col-md-4" ng-class="{'has-error':x3.NomorDokumenPajak.$error.required && x3.NomorDokumenPajak.$touched}" ng-show="TambahInvoiceMasuk_RincianPajak_ShowNomorDokumen">
				<bsreqlabel>Nomor Dokumen Pajak</bsreqlabel>
				<input type="text" class="form-control " name="NomorDokumenPajak" placeholder="" ng-model="TambahInvoiceMasuk_RincianPajak_NomorDokumen"
				 ng-maxlength="20" maxlength="20" ng-disabled="TambahInvoiceMasuk_isDokumenPajak_isDisable" required>
				<span ng-if="x3.NomorDokumenPajak.$error.required && x3.NomorDokumenPajak.$touched" class="help-block">Field ini wajib diisi</span>
			</div>

			<div class="col-md-4" ng-class="{'has-error':x3.TanggalDokumenPajak.$error.required && x3.TanggalDokumenPajak.$touched}" ng-show="TambahInvoiceMasuk_RincianPajak_ShowTanggalDokumen">
				<bsreqlabel>Tanggal Dokumen Pajak</bsreqlabel>
				<div class="input-icon-right ">
					<div class="input-icon-right ">
						<bsdatepicker format="dd/MM/yyyy" name="TanggalDokumenPajak" date-options="dateOptions" ng-model="TambahInvoiceMasuk_RincianPajak_TanggalDokumen"
						 ng-disabled="TambahInvoiceMasuk_isDokumenPajak_isDisable" required>
						</bsdatepicker>
						<span ng-if="x3.TanggalDokumenPajak.$error.required && x3.TanggalDokumenPajak.$touched" class="help-block">Field ini wajib dipilih</span>
					</div>
				</div>
			</div>
			<!-- CR5 #38 Finance Start -->
			<div ng-show="modeFreeServicePph23" class="col-md-4" ng-class="{'has-error':x3.JenisPajak.$error.required && x3.JenisPajak.$touched}">
				<bsreqlabel>Nomor Rangka</bsreqlabel>
				<bsselect name="nomorRangka" ng-change="TambahDaftaNomorRangka_Changed()" ng-model="TambahDaftarNomorRangka"
				 data="DaftraNomorRangka" item-text="name" item-value="value" on-select="value(selected)"
				 placeholder="Select Nomor Rangka" icon="fa fa-search"  required>
				</bsselect>
				<span ng-if="x3.JenisPajak.$error.required && x3.JenisPajak.$touched" class="help-block">Field ini wajib dipilih</span>
			</div>
			 <!-- CR5 #38 Finance End -->
		</div>

		<div class="col-md-12" style="margin-left:-15px">
			<div class="col-md-4" ng-class="{'has-error':x3.NomorReferensiPajak.$error.required && x3.NomorReferensiPajak.$touched}">
				<bsreqlabel>Nomor Referensi</bsreqlabel>
				<input type="text" class="form-control " name="NomorReferensiPajak" placeholder="" ng-model="TambahInvoiceMasuk_RincianPajak_NomorReferensi"
				 ng-maxlength="20" maxlength="20" ng-disabled="modeFreeServicePph23" required>
				<span ng-if="x3.NomorReferensiPajak.$error.required && x3.NomorReferensiPajak.$touched" class="help-block">Field ini wajib diisi</span>
			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<button id="TambahInvoiceMasuk_TambahPajak_Button" ng-click="TambahInvoiceMasuk_TambahPajak_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: right; margin-top:24px">
					<span class="ladda-label">
						Tambah
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>

		<p style="width:180px; margin-top:20px;margin-bottom:-20px; margin-left:10px; background:white;color:red;">Daftar Pajak
			<hr style="border-color:red" />
		</p>

		<div class="col-md-12">
			<div id="myGrid" ui-grid="InvoiceMasukPajak_UIGrid" ui-grid-resize-columns ui-grid-selection ui-grid-auto-resize ui-grid-pagination
			 class="Mygrid" style="width:100%;height: 250px; margin-top:10px; margin-bottom:20px;">
				<div class="watermark" ng-show="!InvoiceMasukPajak_UIGrid.data.length">No data available</div>
			</div>
		</div>
	</ng-form>
</div>

<div class="col-md-12">
	<button id="TambahInvoiceMasuk_Simpan_Button" ng-click="TambahInvoiceMasuk_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button" 
	ladda="Loading" data-style="expand-left" style="float: right; margin-top:24px">
		<span class="ladda-label">
			Simpan
		</span>
		<span class="ladda-spinner"></span>
	</button>

	<button id="TambahInvoiceMasuk_Batal_Button" ng-click="TambahInvoiceMasuk_Batal_Clicked()" type="button" class="btn ng-binding ladda-button"
	 style="float: right; margin-top:24px;margin-right:5px">
		<span class="ladda-label">
			Kembali
		</span>
		<span class="ladda-spinner"></span>
	</button>
</div>
</ng-form>
</div>
<!-- Batas bawah ================================================================================ -->
<div class="ui modal" id="ModalHapusInvoiceMasuk" role="dialog">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Konfirmasi Hapus</h4>
		</div>
		<div class="modal-body">
			<p>
				Apakah anda yakin ingin membatalkan invoice ini ?
			</p>
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="Batal_ModalHapusInvoiceMasuk()" class="rbtn btn ng-binding ladda-button" type="button">Tidak</button>
				<button ng-click="Hapus_ModalHapusInvoiceMasuk()" class="rbtn btn ng-binding ladda-button" type="button">Ya</button>
			</p>
		</div>
	</div>
</div>
<div class="ui modal" id="ModalTambahInvoiceMasuk_GetSOVendorCustomer" role="dialog">
	<div class="modal-content">
		<ul class="list-group">
			<bsreqlabel>Pilih Data Vendor</bsreqlabel>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="input-icon-right">
							<input type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="TambahInvoiceMasukNamaVendor_TextFilter" ng-maxlength="50"
							 maxlength="50">
						</div>
					</div>
		
					<div class="col-md-4">
						<bsselect ng-model="TambahInvoiceMasukNamaVendor_SelectKolom" data="optionsTambahInvoiceMasukNamaVendor_SelectKolom" ng-change="TambahInvoiceMasukNamaVendor_FilterKolom_Changed"
						 item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Search Criteria" icon="fa fa-search">
						</bsselect>
					</div>
		
					<div class="col-md-2">
						<button id="" onclick="" ng-click="TambahInvoiceMasukNamaVendor_Filter_Clicked()" type="button" class="btn ng-binding ladda-button">
							<span class="ladda-label">
								Filter
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
				</div>
			</div>
			<br>
			<div class="form-group" ui-grid="ModalTambahInvoiceMasuk_GetSOVendorCustomer" ui-grid-auto-resize ui-grid-selection
			 ui-grid-pagination></div>
			<p align="center">
				<button class="col-sm-6" ng-click="Batal_TambahInvoiceMasuk_GetSOVendorCustomer()" type="button" class="rbtn btn ng-binding ladda-button">
					Batal
				</button>
				<button class="col-sm-6" ng-click="Pilih_TambahInvoiceMasuk_GetSOVendorCustomer()" type="button" class="rbtn btn ng-binding ladda-button">
					Pilih
				</button>
			</p>
		</ul>
	</div>
</div>

<!-- CR5 #38 Finance Start -->
<div class="ui modal" id="ModalSimpanFreeService" role="dialog">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" ng-click="Batal_ModalSimpanFreeService()"  data-dismiss="modal">&times;</button>
			<h4 class="modal-title"><b>Konfirmasi Simpan</b></h4>
		</div>
		<div class="modal-body">
			<p>
				Daftar Nomor Rangka tidak sama dengan Nomor Rangka yang ada pada list Rincian Pajak PPh 23, Apakah akan dilanjutkan ?
			</p>
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="Batal_ModalSimpanFreeService()" class="rbtn btn ng-binding ladda-button" type="button">Tidak</button>
				<button ng-click="Simpan_ModalSimpanFreeService()" class="rbtn btn ng-binding ladda-button" type="button">Ya</button>
			</p>
		</div>
	</div>
</div>
<!-- CR5 #38 Finance End -->