<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<bsform-grid
        ng-form="MtrlRetailDiscForm"
        factory-name="MaterialRetailDiscount"
        model="mMtrlRetailDisc"
        model-id="PartPriceDiscountPerMaterialId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        custom-action-button-settings="customActionSettings"

        form-name="MtrlRetailDiscForm"
        form-title="Diskon Material"
        modal-title="Diskon Material"
        modal-size="small"
        icon="fa fa-fw fa-child"
        on-validate-save="onValidateSave"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->

<!-- IF NOT USING FORMLY -->
        <div class="row">
            <div class="col-md-6">
                <!-- <div class="form-group" show-errors>
                    <bsreqlabel>Tanggal Berlaku</bsreqlabel>
                    <bsdatepicker
                            name="EffectiveDate"
                            date-options="dateOptions"
                            ng-model="mMtrlRetailDisc.EffectiveDate"
                    >
                    </bsdatepicker>
                    <bserrmsg field="EffectiveDate"></bserrmsg>
                </div> -->
                <div class="form-group" show-errors>
                    <bsreqlabel>Range Tanggal Berlaku</bsreqlabel>
                    <div class="row">
                        <div class="col-md-5">
                            <bsdatepicker
                                name="EffectiveDate"
                                min-date="startMinOption" 
                                max-date="startMaxOption" 
                                date-options="DateFilterOptions1"
                                ng-change="startDateChange"
                                ng-model="mMtrlRetailDisc.EffectiveDate" 
                                ng-required="true"
                            >
                            </bsdatepicker>
                        </div>
                        <div class="col-md-2">
                            S/D
                        </div>
                        <div class="col-md-5">
                            <bsdatepicker
                                name="ValidThru" 
                                min-date="endMinOption" 
                                max-date="endMaxOption"
                                date-options="DateFilterOptions2"
                                ng-change="endDateChange"
                                ng-model="mMtrlRetailDisc.ValidThru" 
                                ng-required="true"
                            >
                            </bsdatepicker>
                        </div>
                    </div>                    
                </div>
                <div class="form-group" show-errors>
                    <label>Tipe Material</label>
                    <bsselect 
                        ng-model="mMtrlRetailDisc.PartsClassId"
                        data="MaterialTypeData" 
                        item-text="Description" 
                        item-value="PartsClassId" 
                        placeholder="Pilih Tipe Material" 
                        on-select="setType(selected)"
                        icon="fa fa-search">
                    </bsselect>
                </div>
                <!-- <div class="form-group" show-errors>
                    <bsreqlabel>No. Material</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="PartId" placeholder="Material" ng-model="mMtrlRetailDisc.PartId" ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="PartId"></bserrmsg>
                </div> -->
                <!-- <div class="form-group" show-errors>
                    <bsreqlabel>No. Material</bsreqlabel>
                    <bsselect 
                        ng-model="mMtrlRetailDisc.PartId" 
                        data="typeSetData" 
                        item-text="PartsCode" 
                        item-value="PartsId" 
                        placeholder="Pilih No. Material" 
                        icon="fa fa-search">
                    </bsselect>
                </div> -->
                <div class="form-group" show-errors>
                    <bsreqlabel>Kode Material</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-search" ng-click="searchMaterial(mMtrlRetailDisc.PartsClassId,mMtrlRetailDisc.PartsCode)"></i>
                        <input type="text" class="form-control" name="PartId" placeholder="Material" ng-model="mMtrlRetailDisc.PartsCode" ng-maxlength="50" required>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <bsreqlabel>Nama Material</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control disable" name="PartsName" placeholder="Material" ng-model="mMtrlRetailDisc.PartsName" ng-maxlength="50" disabled="disabled" skip-enable>
                    </div>

                    <div class="input-icon-right" ng-hide="true">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="PartId" placeholder="Material" ng-model="mMtrlRetailDisc.PartId" ng-maxlength="50" disabled="disabled" required skip-enable>
                    </div>
                </div>


                <div class="form-group" show-errors>
                    <bsreqlabel>Discount</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="number" class="form-control" name="discount" placeholder="Discount" ng-model="mMtrlRetailDisc.Discount" min="0" max="100" required>
                    </div>
                    <bserrmsg field="Discount"></bserrmsg>
                </div>            
            </div>
        </div>
            <!-- <input type="file" accept=".xlsx" id="uploadMRD" onchange="angular.element(this).scope().loadXLS(this)"
                    style="display: none;"> -->
                    <div class="ui modal" id="ModalUploadDiscount" role="dialog" style="margin-top: -50px; height: 100px; width:800px;">
                        <div class="modal-content">
                            <ul class="list-group">
                                <div class="col-md-12" style="margin-top:40px;">
                                    <div class="col-md-2" style="margin-top:12px">
                                        Upload File
                                    </div>
            
                                    <div class="col-md-8" style="border:1px solid lightgrey;padding: 10px 0 10px 10px">
                                        <div class="input-icon-right">
                                            <!-- <input type="file" accept=".xlsx" id="UploadDiscount" onchange="loadXLSDiscount(this)"> -->
                                            <input type="file" accept=".xlsx" id="UploadDiscount" onchange="angular.element(this).scope().loadXLSDiscount(this)">
                                        </div>
                                    </div>
            
                                    <div class="col-md-2">
                                        <button id="UploadDiscount_Upload_Button"
                                        ng-click="UploadDiscountClicked()"
                                         type="button" class="rbtn btn ng-binding ladda-button" style="float: left;margin-top:5px">
                                            <span class="ladda-label">
                                                Upload
                                            </span><span class="ladda-spinner"></span>
                                        </button>
                                    </div>
                                </div>
                            </ul>
                        </div>            
                    </div>
        
</bsform-grid-tree>
<!-- <bsmodal id="modal_report" title="Pembuatan Report" mode=""
        visible="sm_show2" 
        size="small"
        hide-footer="true"
>
    <p style="font-size:15px;">Mohon menunggu pembuatan report....</p>
</bsmodal> -->