<script type="text/javascript">

</script>
<style type="text/css">

</style>

<bsform-grid
        ng-form="reportFilterForm"
        factory-name="ReportSPK"
        model="mreportFilter"
        loading="loading"
        get-data="getData"
        selected-rows="xreportFilter.selected"
        rights-byte="myRights"
        show-advsearch="on"
        on-show-detail="onShowDetail"
        hide-new-button="true"
        modal-title="reportFilter"
        modal-size="small"
        icon="fa fa-fw fa-child">

         <bsform-advsearch>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <bsreqlabel>Tanggal SPK Dari</bsreqlabel>
                        <bsdatepicker
                            name="startDate"
                            date-options="dateOptions"
                            ng-model="mreportFilter.date1"
                            ng-change="startDate(dt)">
                        </bsdatepicker>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <bsreqlabel>Tanggal SPK Sampai</bsreqlabel>
                        <bsdatepicker
                            name="EditDate"
                            date-options="endDateOptions"
                            ng-model="mreportFilter.date2"
                            min-date="mreportFilter.date1"
                            ng-change="endDate(dt)">
                        </bsdatepicker>
                    </div>
                </div>            
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <bsreqlabel>Cabang</bsreqlabel>
                        <bsselect name="getMonth"
                            ng-model="mreportFilter.monthId"
                            data="listMonth"
                            item-text="tx"
                            item-value="id"
                            placeholder="Pilih Cabang"
                            on-select="selectMonth(selected)"
                            icon="fa fa-sitemap">
                        </bsselect>
                    </div>
                </div>
            </div>
            
            <input type="file" accept=".xlsx" id="uploadRSSPFleet" onchange="angular.element(this).scope().loadXLS(this)"
                    style="display: none">
        </bsform-advsearch>

</bsform-grid>

<bsmodal id="modal_report" title="Pembuatan Report" mode="" visible="sm_show2" size="small" hide-footer="true">
    <p style="font-size:15px;">Mohon menunggu pembuatan report....</p>
</bsmodal>




