<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="TypeIncomingPaymentForm"
        factory-name="TypeIncomingPayment"
        model="mTypeIncomingPayment"
        model-id="IncomingPaymentTypeId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="IncomingPaymentTypeForm"
        form-title="Incoming Payment Type"
        modal-title="Type Incoming Payment"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >


        <div class="row">
          <div class="col-md-6">


            <div class="form-group" show-errors>
                <bsreqlabel>Incoming Payment</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="IncomingPaymentName" placeholder="Incoming Payment" ng-model="mTypeIncomingPayment.IncomingPaymentTypeName"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="IncomingPaymentName"></bserrmsg>
            </div>
			


          </div>
        </div>
</bsform-grid-tree>

