<!-- Grid 1 -->
<!-- <div class="row">
        <div class="col-lg-12">

            <button id="Add" ng-click="doCustomSave(mData)"
             type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-top:20px" ng-disabled="gridOutlet.data.length == 0 || !mData.AreaDealerName || !mData.Description" ng-if="flagEdit == true">
                <span class="ladda-label">
                    Simpan
                </span><span class="ladda-spinner"></span>
            </button>

            <button id="Add" ng-click="goBack()"
             type="button" class="wbtn btn ng-binding ladda-button" style="float: right; margin-top:20px">
                <span class="ladda-label">
                    Batal
                </span><span class="ladda-spinner"></span>
            </button>
            
        </div>
    </div> -->

<div class="row">
    <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <bsreqlabel>Nama Area</bsreqlabel>
                        <!-- <div class="input-icon-right" > -->
                            <input type="text"
                             class="form-control col-lg-6" 
                             name="AreaName"
                             placeholder="Area Dealer Name" 
                             ng-model="mData.AreaDealerName" 
                             ng-maxlength="50"
                             required 
                             ng-disabled="flagEdit == false">
                        <!-- </div> -->
                        <!-- <bserrmsg field="AreaName"></bserrmsg> -->
                    </div>
                </div>
            </div>

            <br><br>

            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <bsreqlabel>Deskripsi</bsreqlabel>
                        <!-- <div class="input-icon-right" > -->
                            <input 
                            type="textArea" 
                            width="150" 
                            height="350" 
                            class="form-control col-lg-6" 
                            name="Description" 
                            placeholder="Description" 
                            ng-model="mData.Description" 
                            ng-maxlength="50" 
                            required 
                            ng-disabled="flagEdit == false">
                        <!-- </div> -->
                        <!-- <bserrmsg field="Description"></bserrmsg> -->
                    </div>
                </div>
            </div>

        <br><br>
        <br><br>
        <br><br>

        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <bsreqlabel>Nama Outlet</bsreqlabel>
                    <bsselect name="Outlet"
                            on-select="onSelectOutlet(selected)"
                            ng-model="mData.OutletId"
                            data="OutletData"
                            item-text="Name"
                            item-value="OutletId"
                            placeholder="Pilih Outlet"
                            icon="fa fa-car"
                            ng-disabled="flagEdit == false">
                    </bsselect>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <bsreqlabel>Alamat</bsreqlabel>
                    <!-- <div class="input-icon-right" > -->
                    <input type="textArea" 
                        width="150" 
                        height="350" 
                        class="form-control col-lg-6" 
                        name="Address" 
                        placeholder="Address" 
                        ng-model="mData.Address" 
                        ng-maxlength="50" 
                        disabled=true
                        skip-enable>
                    <!-- </div> -->
                    <!-- <bserrmsg field="GroupName"></bserrmsg> -->
                </div>
            </div>
        </div>

        <br>
        
        <div class="row">
            <div class="col-lg-4">
                <button class="rbtn btn" ng-click="addOutlet(mData)" ng-disabled="flagEdit == false">Tambah</button>
            </div>
        </div>

        <br>

        <form class="form-inline" role="form">
            <div class="row filtersearch" style="margin-right:0px;padding-bottom:5px;">
                <div class="col-md-12">
                    <div class="col-md-12" style="padding-left:1px;">
                        <div class="input-group">
                            <div class="input-group-btn" uib-dropdown>
                                <button style="margin-right:5px;" ng-disabled="(selectedRowsOutlet.length==0) || disableView" type="button" class="btn wbtn" onclick="this.blur()" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
                                Bulk Action&nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                    <li role="menuitem">
                                        <a href="#" ng-click="actDelete(selectedRowsOutlet,0)" ng-if="selectedRowsOutlet.length>0">Hapus</a>
                                    </li>
                                </ul>
                            </div>
                            <input type="text" ng-model-options="{debounce: 250}" class="form-control" placeholder="Filter" ng-model="GridAPIOutlet.gridOutlet.columns[filterColIdx].filters[0].term">
                            <div class="input-group-btn" uib-dropdown>
                                <button id="filter" type="button" class="btn wbtn" uib-dropdown-toggle data-toggle="dropdown" tabindex="-1">
                                    {{filterBtnLabel|uppercase}}&nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="filter">
                                    <li role="menuitem" ng-repeat="col in gridCols">
                                        <a href="#" ng-click="filterBtnChange(col)">{{col.name|uppercase}}
                                        <span class="pull-right">
                                          <i class="fa fa-fw fa-filter"
                                              
                                          ></i>
                                        </span>
                                      </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="gridOutlet" 
            ui-grid="gridOutlet" 
            ui-grid-move-columns 
            ui-grid-resize-columns 
            ui-grid-selection 
            ui-grid-pagination
            ui-grid-auto-resize class="grid" ng-style="gridOutletTableHeight()">
        </div>


    </div>
</div>
