<script type="text/javascript">
$("#dropdownBtnOveride").click(function(){
    if($('#dropdownContentOveride').css('display') == 'none')
    {
        $('#dropdownContentOveride').show();
    }
    else
    {
        $('#dropdownContentOveride').hide();
    }
});

$( '#myButton' ).click( function() {
    $( '#myModal' ).modal();
  });


</script>
<style type="text/css">

.ubtn {
    display:none;
}

@media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 10.4em 10.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

fieldset.scheduler-border1 {
    width:30%; border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

#left {
  width: 200px;
   margin-right: 25px;
   margin-left: 15px;
  float: left;
}
#right {
  margin-left: 200px;
  /* Change this to whatever the width of your left column is*/
}
.clear {
  clear: both;
}

.grid {
  width: inherit;
  height: 250px;
}

</style>

<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>


<div id="formData" >
    <div class="row">
        <div class="col-md-3">
            <div class="from-group">
                <label>Sales Order No</label>
                    <div class="input-icon-right">
                        <!-- <i class="fa fa-pencil"></i> -->
                        <input type="text" class="form-control" name="nama" placeholder="" ng-model="mBuatBilling_SalesOrder" ng-maxlength="60" required>
                    </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="from-group">
                <bsreqlabel>Sales Order Date</bsreqlabel>
                <bsdatepicker
                    name="tanggal"
                    date-options="dateOptions"
                    icon="fa fa-calendar">
                     placeholder="   \  \">
                </bsdatepicker>
            </div>
        </div>

         <div class="col-md-3">
            <div class="from-group">
                <label>Prospect Name</label>
                    <div class="input-icon-right">
                        <!-- <i class="fa fa-pencil"></i> -->
                        <input type="text" class="form-control" name="nama" placeholder="" ng-model="mBuatBilling_Prospect" ng-maxlength="60" required>
                    </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Kategori Pelanggan</label>
                 <bsselect id="comboBox" name="filterModel" ng-model="filter.Id" data="selectionItem" item-text="Name" item-value="Id" on-select="Id" placeholder="Status" icon="fa fa-search"> 
            </bsselect>
            </div>
        </div>

    </div>

    <br></br>    
    
    <ul class="nav nav-tabchild" style="margin-top:10px;">
        <li class="active"><a data-toggle="tab" href="#" onclick="navigateTab('tabContainer','menuInfoPelanggan');">Info Pelanggan</a></li>
        <li><a data-toggle="tab" href="#" onclick="navigateTab('tabContainer','menuDokumen');">Dokumen</a></li>
        <li><a data-toggle="tab" href="#" onclick="navigateTab('tabContainer','menuInfoPengiriman');">Info Pengiriman</a></li>
        <li><a data-toggle="tab" href="#" onclick="navigateTab('tabContainer','menuInfoRincianHarga');">Rincian Harga</a></li>
        <li><a data-toggle="tab" href="#" onclick="navigateTab('tabContainer','menuNamaBilling');">Nama Billing</a></li>

    </ul>
  
        <div id="tabContainer" class="tab-content">
            <div id="menuInfoPelanggan" class="tab-pane fade in active">
                <br></br>

                <fieldset id="IndividuPemilik" class="scheduler-border" >
                    <legend class="scheduler-border">Peran Pelanggan : Pemilik</legend>
                       <div class="row">
                            <div class="col-md-5">
                                <input type="checkbox" name="dataSTNK"> Data STNK ini Sama Dengan Data Pembeli  
                            </div>
                        </div>
                        <br></br> 
                        <div class="row">
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>KTP/KITAS</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Pembeli" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Nama Lengkap</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Pembeli" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>alamat</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Pembeli" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Provinsi</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Pembeli" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Kota/Kabupaten</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Pembeli" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Kecamatan</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Pembeli" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Kelurahan</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Pembeli" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>RT/RW</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Pembeli" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Kode Pos</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Pembeli" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>No Telepon</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Pembeli" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>No Handphone</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Pembeli" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Email</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Pembeli" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="from-group" enable="true">
                                    <bsreqlabel>Tanggal Berlaku AFI</bsreqlabel>
                                    <bsdatepicker
                                        name="tanggal"
                                        date-options="dateOptions"
                                        icon="fa fa-calendar" >
                                    </bsdatepicker>
                                </div>
                            </div>    

                            <div class="col-md-3" style="display: block">
                                <div class="from-group" enable="true">
                                    <bsreqlabel></bsreqlabel>
                                    <bsdatepicker
                                        name="tanggal"
                                        date-options="dateOptions"
                                        icon="fa fa-calendar">
                                    </bsdatepicker>
                                </div>
                            </div>    

                        </div>
                </fieldset>

                <fieldset id="InstansiPemilik" class="scheduler-border">
                    <legend class="scheduler-border">Peran Pelanggan : Pemilik</legend>

                        <div class="row">
                            <div class="col-md-5">
                                <input type="checkbox" name="dataSTNK"> Data STNK ini Sama Dengan Data Pembeli  
                            </div>
                        </div>
                        <br></br>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>No SIUP</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="No SIUP" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="50" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>No TDP</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="TDP" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>KTP/KITAS</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="KTP/KITAS" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Nama</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Nama Institusi" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Alamat</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Alamat" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Provinsi</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Provinsi" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Kota/Kabupaten</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Kota/Kabupaten" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Kecamatan</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Kecamatan" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Kelurahan</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Kelurahan" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>RT/RW</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="RT/RW" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Kode Pos</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Kode Pos" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>No Telepon</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="Telepon" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>NPWP</label>
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control" name="nama" placeholder="NPWP" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                        </div>
                                </div>
                            </div>    

                            <div class="col-md-3">
                                <div class="from-group" enable="true">
                                    <bsreqlabel>Tanggal Berlaku AFI</bsreqlabel>
                                    <bsdatepicker
                                        name="tanggal"
                                        date-options="dateOptions"
                                        icon="fa fa-calendar">
                                    </bsdatepicker>
                                </div>
                            </div>    

                            <div class="col-md-3" style="display: block">
                                <div class="from-group" enable="true">
                                    <bsreqlabel></bsreqlabel>
                                    <bsdatepicker
                                        name="tanggal"
                                        date-options="dateOptions"
                                        icon="fa fa-calendar">
                                    </bsdatepicker>
                                </div>
                            </div>    
                        </div>    
                </fieldset>

            </div>
            
            <div id="menuDokumen" class="tab-pane fade" ng-controller="BuatBillingDokumenController">
            <br></br>
            <br></br>
            <br></br>
                <bsform-grid
                    ng-form="DokumenForm"
                    factory-name="BuatBillingDokumenFactory"
                    model="mBuatBillingDokumen"
                    model-id="SOId"
                    loading="loading"
                    get-data="getData"
                    selected-rows="selectedRows"
                    on-select-rows="onSelectRows"
                    grid-hide-action-column="true"
                    hide-new-button="true"
                    form-name="BuatBillingDokumenForm"
                    modal-size="small"
                    icon="fa fa-fw fa-child">
                </bsform-grid>

            </div>

            <div id="menuInfoPengiriman" class="tab-pane fade">
               <br></br>

                <div class="row">
                    <div class="col-md-3">
                        <div class="from-group">
                            <label>No SPK</label>
                                <div class="input-icon-right">
                                    <!-- <i class="fa fa-pencil"></i> -->
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_Branch" ng-maxlength="60" required enable="true">
                                </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Tanggal SPK</label>
                            <bsdatepicker
                                name="tanggal"
                                date-options="dateOptions"
                                icon="fa fa-calendar">
                            </bsdatepicker>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Type Model</label>
                                <div class="input-icon-right">
                                    <!-- <i class="fa fa-pencil"></i> -->
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_Branch" ng-maxlength="60" required enable="true">
                                </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Nama Sales</label>
                                <div class="input-icon-right">
                                    <!-- <i class="fa fa-pencil"></i> -->
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_Branch" ng-maxlength="60" required enable="true">
                                </div>
                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Nama Penerima</label>
                                <div class="input-icon-right">
                                    <!-- <i class="fa fa-pencil"></i> -->
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_Branch" ng-maxlength="60" required enable="true">
                                </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Alamat Penerima</label>
                                <div class="input-icon-right">
                                    <!-- <i class="fa fa-pencil"></i> -->
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_Branch" ng-maxlength="60" required enable="true">
                                </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Handphone Penerima</label>
                                <div class="input-icon-right">
                                    <!-- <i class="fa fa-pencil"></i> -->
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_Branch" ng-maxlength="60" required enable="true">
                                </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="from-group" enable="true">
                            <label>Rencana Tanggal Pengiriman</label>
                                <bsdatepicker
                                name="tanggal"
                                date-options="dateOptions"
                                icon="fa fa-calendar">
                            </bsdatepicker>
                        </div>
                    </div>
                </div>

                <br></br>
                <br></br>
                <br></br>
            </div>

            <div id="menuInfoRincianHarga" class="tab-pane fade" ng-Controller="BuatBillingRincianHargaController">
            <br></br>
                <div class="from-group" style="margin-left:15px;">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="row">
                               <label>Sales Program</label>
                                <div class="input-icon-right">
                                   <bsselect name="filterModel"
                                    ng-model="filter.VehicleModelId"
                                    data="productModelData"
                                    item-text="VehicleModelName"
                                    item-value="VehicleModelId"
                                    on-select="filter.productModel=selected"
                                    placeholder="- Pilih bank -">
                                    </bsselect>
                                </div>
                            </div>
                            <div class="row">
                               <label>Metode Pembayaran</label>
                                <div class="input-icon-right">
                                    <bsselect name="filterModel"
                                    ng-model="filter.VehicleModelId"
                                    data="productModelData"
                                    item-text="VehicleModelName"
                                    item-value="VehicleModelId"
                                    on-select="filter.productModel=selected"
                                    placeholder="">
                                    </bsselect>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-icon-right">
                                   <label><input type="checkbox" value=""> Trade In</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                               <label>TDP/DP</label>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="" 
                                    required enable="true">
                                </div>
                            </div>
                            <div class="row">
                               <label>Booking Fee</label>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="" 
                                    required enable="true">
                                </div>
                            </div>
                            <div class="row">
                               <label>Qty</label>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="" 
                                    required enable="true">
                                </div>
                            </div>
                        </div>

                        

                        <div class="col-md-4">
                            <div class="row">
                               <label>Note</label>
                                <div class="input-icon-right">
                                    <textarea type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_NotePurnaJual" rows="4" cols="75"  required>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br></br>
                
                <bsform-grid
                    ng-form="BuatBillingRincianHargaForm"
                    factory-name="BuatBillingRincianHargaFactory"
                    model="mBuatBillingRincianHarga"
                    model-id="SOId"
                    loading="loading"
                    get-data="getData"
                    selected-rows="selectedRows"
                    on-select-rows="onSelectRows"
                    grid-hide-action-column="true"
                    show-advsearchbutton="false"
                    form-name="BuatBillingRincianHargaForm"
                    modal-size="small"
                    hide-new-button="true"
                    icon="fa fa-fw fa-child" >
                </bsform-grid>

                <div class="row" style="margin-top:10px">
                    <div class="col-md-3">
                        <div class="from-group">
                            <label></label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="from-group">
                            <label>DPP</label>
                                <div class="input-icon-right">                                
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_DPP" ng-maxlength="60" required>
                                </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Total(VAT)</label>
                                <div class="input-icon-right">                                
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mlihatSO_Total" ng-maxlength="60" required>
                                </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">  
                         <label>Grand Total</label>
                                <div class="input-icon-right">                                
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mlihatSO_GrandTotal" ng-maxlength="60" required>
                                </div>                      
                        </div>
                    </div>
                </div>
            </div>
            <hr></hr>
            <div id="menuNamaBilling" class="tab-pane fade">
                <br></br>
                <div class="row">
                    <div class="col-md-6">
                        <input type="checkbox" name="dataSTNK"> Data nama yang tercantum di billing sama dengan pembeli
                    </div>
                </div>
                <br></br> 
                <div class="row">
                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Nama</label>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                </div>
                        </div>
                    </div>    

                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Jabatan</label>
                                <div class="input-icon-right">
                                   <bsselect name="filterModel"
                                        ng-model="filter.VehicleModelId"
                                        data="productModelData"
                                        item-text="VehicleModelName"
                                        item-value="VehicleModelId"
                                        on-select="filter.productModel=selected"
                                        placeholder="Select" enable="true">
                                    </bsselect>
                                </div>
                        </div>
                    </div>    

                    <div class="col-md-3">
                        <div class="from-group">
                            <label>No Telepon</label>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                </div>
                        </div>
                    </div>    

                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Email</label>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                </div>
                        </div>
                    </div>    

                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="from-group">
                            <label>NPWP</label>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                </div>
                        </div>
                    </div>    

                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Alamat</label>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                </div>
                        </div>
                    </div>    

                    <div class="col-md-3">
                        <div class="from-group">
                            <label>RT/RW</label>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                </div>
                        </div>
                    </div>   

                     <div class="col-md-3">
                        <div class="from-group">
                            <label>Provinsi</label>
                                <div class="input-icon-right">
                                   <bsselect name="filterModel"
                                        ng-model="filter.VehicleModelId"
                                        data="productModelData"
                                        item-text="VehicleModelName"
                                        item-value="VehicleModelId"
                                        on-select="filter.productModel=selected"
                                        placeholder="Select" enable="true">
                                    </bsselect>
                                </div>
                        </div>
                    </div>  
                </div>

                <div class="row">

                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Kota/Kabupaten</label>
                                <div class="input-icon-right">
                                   <bsselect name="filterModel"
                                        ng-model="filter.VehicleModelId"
                                        data="productModelData"
                                        item-text="VehicleModelName"
                                        item-value="VehicleModelId"
                                        on-select="filter.productModel=selected"
                                        placeholder="Select" enable="true">
                                    </bsselect>
                                </div>
                        </div>
                    </div>    

                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Kecamatan</label>
                               <div class="input-icon-right">
                                   <bsselect name="filterModel"
                                        ng-model="filter.VehicleModelId"
                                        data="productModelData"
                                        item-text="VehicleModelName"
                                        item-value="VehicleModelId"
                                        on-select="filter.productModel=selected"
                                        placeholder="Select" enable="true">
                                    </bsselect>
                                </div>
                        </div>
                    </div>    

                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Kelurahan</label>
                                <div class="input-icon-right">
                                   <bsselect name="filterModel"
                                        ng-model="filter.VehicleModelId"
                                        data="productModelData"
                                        item-text="VehicleModelName"
                                        item-value="VehicleModelId"
                                        on-select="filter.productModel=selected"
                                        placeholder="Select" enable="true">
                                    </bsselect>
                                </div>
                        </div>
                    </div>       

                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Kode Pos</label>
                                <div class="input-icon-right">
                                   <bsselect name="filterModel"
                                        ng-model="filter.VehicleModelId"
                                        data="productModelData"
                                        item-text="VehicleModelName"
                                        item-value="VehicleModelId"
                                        on-select="filter.productModel=selected"
                                        placeholder="Select" enable="true">
                                    </bsselect>
                                </div>
                        </div>
                    </div>    
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Metode Pembayaran</label>
                                <div class="input-icon-right">
                                    <bsselect name="filterModel"
                                        ng-model="filter.VehicleModelId"
                                        data="productModelData"
                                        item-text="VehicleModelName"
                                        item-value="VehicleModelId"
                                        on-select="filter.productModel=selected"
                                        placeholder="Select" enable="true">
                                    </bsselect>
                                </div>
                        </div>
                    </div>    

                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Bank</label>
                                <div class="input-icon-right">
                                    <bsselect name="filterModel"
                                        ng-model="filter.VehicleModelId"
                                        data="productModelData"
                                        item-text="VehicleModelName"
                                        item-value="VehicleModelId"
                                        on-select="filter.productModel=selected"
                                        placeholder="Select" enable="true">
                                    </bsselect>
                                </div>
                        </div>
                    </div>       

                    <div class="col-md-3">
                        <div class="from-group">
                            <label>Rekening Dealer</label>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control" name="nama" placeholder="" ng-model="mCreateSO_PeranPelanggan" ng-maxlength="60" required enable="true">
                                </div>
                        </div>
                    </div>    
                </div>

            </div> 

        </div> 

        <div class="row">
            <button id="printBtn" class="rbtn btn ng-binding ladda-button" style="float: right; bottom: 2px;">Cetak </button>
            <button id="saveBtn" class="rbtn btn ng-binding ladda-button" style="float: right; bottom: 2px;">Simpan </button>
            <button id="backBtn" class="rbtn btn ng-binding ladda-button" style="float: right; bottom: 2px;">Kembali </button>
        </div>
</div>
