<script type="text/javascript">

</script>
<style type="text/css">


</style>
<bsform-grid 
    ng-form="ActivityAlasanBatalPembelianKendaraanForm" factory-name="ActivityAlasanBatalPembelianKendaraanFactory" model="mActivityAlasanBatalPembelianKendaraan" model-id="ReasonCancelBuyId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="ActivityAlasanBatalPembelianKendaraanForm" form-title="Alasan Batal Beli Kendaraan" modal-title="Activity Alasan Batal PembelianKendaraan" modal-size="small" icon="fa fa-fw fa-child">

        <div class="row">
            <div class="col-md-6">
               
                <div class="form-group" show-errors>
                    <bsreqlabel>Alasan Batal Pembelian Kendaraan</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <textarea type="text" class="form-control" name="mReasonCancelBuyName" placeholder="Alasan Batal Pembelian Kendaraan" ng-model="mActivityAlasanBatalPembelianKendaraan.ReasonCancelBuyName" cols="50" rows="5" required>
                    </div>
                    <bserrmsg field="mReasonCancelBuyName"></bserrmsg>
                </div>

            </div>
        </div>
</bsform-grid-tree>

