<script type="text/javascript">
    function navigateTab(containerId, divId) {

        $("#" + containerId).children().each(function(n, i) {
            var id = this.id;
            console.log(id + ' - ' + divId);
            if (id == divId) {
                $('#' + divId).attr('class', 'tab-pane fade in active');
            } else {
                $('#' + id).attr('class', 'tab-pane fade');
            }
        });
    }
</script>
<style type="text/css">

</style>
<link rel="stylesheet" href="css/uistyle.css">
<!--<script type="text/javascript" src="js/uiscript.js"></script>-->


<div class="ui modal ModalPerluasanJaminan">
    <!-- Modal content-->
    <div class="modal-content">
        <ul class="list-group">
            <bsreqlabel>Nama Jaminan</bsreqlabel>
            <div class="input-icon-right">
                <i class="fa fa-user"></i>
                <input type="text" class="form-control" name="NamaJaminan" placeholder="Nama Jaminan" ng-model="mSimulasiAsuransi_NamaJaminan_Txtbx" ng-maxlength="50" required>
            </div>

            <p align="center">
                <button class="col-sm-6" ng-click="mSimulasiAsuransi_NamaJaminan_Cancel()" type="button" class="rbtn btn ng-binding ladda-button">
          Cancel
        </button>
                <button class="col-sm-6" ng-click="mSimulasiAsuransi_NamaJaminan_Submit()" type="button" class="rbtn btn ng-binding ladda-button">
          Confirm
        </button>
            </p>
        </ul>
    </div>
</div>

<div ng-show="formData">
    <ul class="nav nav-tabs" style="margin-top:10px;">
        <li id="TabKredit" class="active">
            <a data-toggle="tab" href="#" onclick="navigateTab('tabContainer_SimulasiKredit','menuSimulasiKredit');" ng-click="TabKreditPressed()">Simulasi Kredit</a>
        </li>
        <li id="TabAsuransi">
            <a data-toggle="tab" href="#" onclick="navigateTab('tabContainer_SimulasiKredit','menuSimulasiAsuransi');" ng-click="TabAsuransiPressed()">Simulasi Asuransi</a>
        </li>
    </ul>

    <div id="tabContainer_SimulasiKredit" class="tab-content">
        <div id="menuSimulasiKredit" class="tab-pane fade in active">
            <div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2">
                <bslabel>Prospect</bslabel>
                <input type="text" class="form-control" name="Prospect" placeholder="Prospect" data="prospects" ng-model="mSimulasiKredit.Nama_Lengkap" ng-maxlength="50" style="margin-bottom: 10px" required>

                <bslabel>Model</bslabel>
                <bsselect style="margin-bottom: 10px;" ng-model="mSimulasiKredit.VehicleModelId" ng-change="ModelKendaraan_KreditChanged(mSimulasiKredit.VehicleModelId)" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" on-select="value(selected)"
                    placeholder="Select Model" icon="fa fa-search">
                </bsselect>

                <bslabel>Tipe</bslabel>
                <bsselect style="margin-bottom: 10px" ng-model="mSimulasiKredit.VehicleTypeId" ng-change="TipeKendaraan_KreditChanged()" data="optionsTipe" item-text="Description,KatashikiCode,SuffixCode" item-value="VehicleTypeId" on-select="value(selected)" placeholder="Select Tipe"
                    icon="fa fa-search">
                </bsselect>

                <bslabel>Nilai Kendaraan</bslabel>
                <input type="text" class="form-control" name="NilaiKendaraan" placeholder="Nilai Kendaraan" ng-model="mSimulasiKredit.Nilai_Kendaraan" ng-maxlength="50" style="margin-bottom: 10px" required>

                <bslabel>Leasing</bslabel>
                <bsselect style="margin-bottom: 10px;" ng-change="LeasingChanged()" ng-model="mSimulasiKredit.LeasingId" data="optionsLeasing" item-text="LeasingName" item-value="LeasingId" on-select="value(selected)" placeholder="Select Leasing" icon="fa fa-search">
                </bsselect>
                <!-- <bslabel>Tenor (Bulan)</bslabel>
				<bsselect style="margin-bottom: 10px;" ng-model="mSimulasiKredit.LeasingLeasingTenorId" data="optionsTenor" item-text="LeasingTenorTime" item-value="LeasingLeasingTenorId" on-select="value(selected)" placeholder="Select Model" icon="fa fa-search">
				</bsselect>
				
				<bslabel>Cari Berdasarkan</bslabel>
				<bsselect style="margin-bottom: 10px;" ng-model="mSimulasiKredit.LeasingSimulationId" data="optionsCariBerdasarkan" item-text="LeasingSimulationName" item-value="LeasingSimulationId" on-select="value(selected)" placeholder="Select Model" icon="fa fa-search">
				</bsselect>
				
				<bslabel>Nominal</bslabel>
				<input type="text" 
					class="form-control" 
					name="Nominal" 
					placeholder="Nominal" 
					ng-model="mSimulasiKredit.Nominal" 
					ng-maxlength="50"
					style="margin-bottom: 10px" 
					required>
				
				<div class="row">
					<button ng-click="ToSimulasiKredit_Clicked()"  type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
						
						<span class="ladda-spinner"></span>Simulasi
					</button>
				</div> -->

                <center>
                    <a href="#">TAFS SIMULASI</a>
                </center>
            </div>

        </div>

        <div id="menuSimulasiAsuransi" class="tab-pane fade">
            <div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2">
                <bslabel>Prospect</bslabel>
                <input type="text" class="form-control" name="Prospect" placeholder="Prospect" ng-model="mSimulasiAsuransi.Nama_Lengkap" ng-maxlength="50" style="margin-bottom: 10px" required>

                <bslabel>Perusahaan Asuransi</bslabel>
                <bsselect style="margin-bottom: 10px;" ng-model="mSimulasiAsuransi.InsuranceId" data="optionsPerusahaanAsuransi" item-text="InsuranceName" item-value="InsuranceId" on-select="value(selected)" placeholder="Select perusahaan asuransi" icon="fa fa-search">
                </bsselect>
            </div>

            <div class="listData">
                <button ng-click="Show_Hide_SimulasiAsuransi_ModelKendaraan_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle" type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
          Model Kendaraan
          <span></span>
          <span style="float:right; margin-right:3px;"> {{Show_Hide_SimulasiAsuransi_ModelKendaraan_PanelIcon}} </span>
        </button>
            </div>

            <div ng-show="Show_Hide_SimulasiAsuransi_ModelKendaraan" class="formContent">
                <div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2">

                    <bslabel>Model</bslabel>
                    <bsselect style="margin-bottom: 10px;" ng-model="mSimulasiAsuransi.VehicleModelId" ng-change="ModelKendaraan_AsuransiChanged()" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" on-select="value(selected)" placeholder="Select Model"
                        icon="fa fa-search">
                    </bsselect>

                    <bslabel>Tipe</bslabel>
                    <bsselect style="margin-bottom: 10px" ng-model="mSimulasiAsuransi.VehicleTypeId" data="optionsTipe_Asuransi" item-text="Description,KatashikiCode,SuffixCode" item-value="VehicleTypeId" on-select="value(selected)" placeholder="Select tipe" icon="fa fa-search">
                    </bsselect>


                    <bslabel>Tahun</bslabel>
                    <input type="text" class="form-control" name="TahunKendaraan" placeholder="Tahun Kendaraan" ng-model="mSimulasiAsuransi.Year" ng-maxlength="50" style="margin-bottom: 10px" required>

                    <bslabel>Harga Kendaraan</bslabel>
                    <input type="text" class="form-control" name="HargaKendaraan" placeholder="Harga Kendaraan" ng-model="mSimulasiAsuransi.Harga_Kendaraan" ng-maxlength="50" style="margin-bottom: 10px" required>
                </div>
            </div>

            <div class="listData">
                <button ng-click="Show_Hide_SimulasiAsuransi_Premi_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle" type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
          Premi
          <span></span>
          <span style="float:right; margin-right:3px;"> {{Show_Hide_SimulasiAsuransi_Premi_PanelIcon}} </span>
        </button>
            </div>

            <div ng-show="Show_Hide_SimulasiAsuransi_Premi" class="formContent">
                <div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2">
                    <p>Jenis Penggunaan</p>
                    <p style="margin-left:3px;">
                        <input type="radio" ng-model="mSimulasiAsuransi.Jenis_Penggunaan" ng-value="Pribadi/Dinas">Pribadi/Dinas
                        <br>
                        <input type="radio" ng-model="mSimulasiAsuransi.Jenis_Penggunaan" ng-value="Komersial">Komersial
                        <br>
                    </p>

                    <p>Jenis Pertanggungan</p>
                    <p style="margin-left:3px;">
                        <input type="radio" ng-model="mSimulasiAsuransi.Jenis_Pertanggungan" ng-value="Pribadi/Dinas">Comprehensive
                        <br>
                        <input type="radio" ng-model="mSimulasiAsuransi.Jenis_Pertanggungan" ng-value="Komersial">Total Loss Only(TLO)
                        <br>
                    </p>
                    <div style="border-style:groove" class="row">
                        <div style="margin-left:5px">
                            Perluasan Jaminan
                            <button ng-click="PerluasanJaminanModal()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
                <span class="ladda-label">
                  <!--<i class="fa fa-fw fa-refresh"></i>-->Add
                </span>
                <span class="ladda-spinner"></span>
              </button>
                        </div>
                        <div ng-repeat="List_PerluasanJaminan in mSimulasiAsuransi_PerluasanJaminan">
                            <div class="row">
                                <div class="col-sm-11">
                                    <p style="font-size: 12px">
                                        <div style="float: left">{{List_PerluasanJaminan.Nama_Jaminan}} </div>
                                        <div style="float: right">
                                            <a ng-click="RemoveJaminan($index)">Remove</a>
                                        </div>
                                    </p>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <button ng-click="ToSimulasiAsuransi_Clicked()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
          </span>
          <span class="ladda-spinner"></span>Simulasi
        </button>
            </div>

            <div class="ui modal ModalPerluasanJaminan">
                <!-- Modal content-->
                <div class="modal-content">
                    <ul class="list-group">
                        <bsreqlabel>Nama Jaminan</bsreqlabel>
                        <div class="input-icon-right">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control" name="NamaJaminan" placeholder="Nama Jaminan" ng-model="mSimulasiAsuransi_NamaJaminan_Txtbx" ng-maxlength="50" required>
                        </div>

                        <p align="center">
                            <button class="col-sm-6" ng-click="mSimulasiAsuransi_NamaJaminan_Cancel()" type="button" class="rbtn btn ng-binding ladda-button">
                Cancel
              </button>
                            <button class="col-sm-6" ng-click="mSimulasiAsuransi_NamaJaminan_Submit()" type="button" class="rbtn btn ng-binding ladda-button">
                Confirm
              </button>
                        </p>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</div>

<div ng-show="ShowSimulasiKredit">
    <div class="row">
        <button style="float: right;" ng-click="BackToTabClicked()" type="button" class="rbtn btn ng-binding ladda-button">
      <span class="ladda-label">
        <!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
      </span>
      <span class="ladda-spinner"></span>
    </button>
        <button id="saveBtn" class="rbtn btn ng-binding ladda-button"> Simpan</button>
        <button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button"> Kirim Via Email</button>
    </div>
    <div id="headerSummary">
        <p style="font-size: 14px; font-weight: bold;">
            {{mSimulasiKredit.Model}} {{mSimulasiKredit.Tipe}}
        </p>
        <p>
            <ul class="list-inline">
                <li style="width:100px;">{{Lokasi_Outlet}}</li>
                <li>
                    <i class="fa fa-circle" style="color:gray;"></i>
                </li>
                <li>{{Nama_Outlet}}</li>


            </ul>
        </p>
        <p>
            <ul class="list-inline">
                <li style="width:100px;">Salesman </li>
                <li>{{mSimulasiKredit.Sales_Force}}</li>
            </ul>
        </p>
        <p>
            <ul class="list-inline">
                <li style="width:100px;">Prospect </li>
                <li>{{mSimulasiKredit.Nama_Lengkap}}</li>
            </ul>
        </p>
    </div>
    <div id="contentSummary">
        <table class="table table-bordered table-responsive">
            <tbody>
                <tr>
                    <th scope="row" class="headerRow">Nilai Kendaraan</th>
                    <td>{{mSimulasiKredit.Nilai_Kendaraan}}</td>
                </tr>
                <tr>
                    <th scope="row" class="headerRow">Nilai Downpayment(DP)</th>
                    <td>{{mSimulasiKredit.Nominal}} atau {{mSimulasiKredit.Nominal/mSimulasiKredit.Nilai_Kendaraan*100}}%</td>
                </tr>
            </tbody>
        </table>

        <div class="listData">
            <button class="btn btn-default dropdown-toggle dropdown-toggle" type="button" id="dropdownBtnOveride2" ng-click="ShowTabelSimulasiKredit()" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
        Tabel Simulasi
        <span style="float:right; margin-right:3px;"> {{ShowTabelSimulasiKredit_PanelIcon}} </span>
      </button>

            <div ng-show="TabelSimulasiKredit" aria-labelledby="dropdownMenu1">
                <table class="table table-bordered table-responsive" style="margin-top:10px;">
                    <thead>
                        <tr>
                            <th class="headerRow">Bulan</th>
                            <th class="headerRow">Cicilan</th>
                            <th class="headerRow">Sisa Cicilan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>x.xxx.xxx</td>
                            <td>xx.xxx.xxx</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>x.xxx.xxx</td>
                            <td>xx.xxx.xxx</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="contentParagraph">
                <h6>Syarat & Kondisi</h6>
                <ul>
                    <li>Semua harga yang tertera dalam mata uang Rupiah (Rp)</li>
                    <li>OTR DKI Jakarta</li>
                    <li>Rincian kredit di atas tidak mengikat dan dapat berubah sewaktu-waktu</li>
                    <li>Harga di atas sudah termasuk asuransi all risk & ACP (ACC Credit Protection)</li>
                </ul>


            </div>

        </div>

    </div>


</div>

<div ng-show="ShowSimulasiAsuransi">
    <div class="row">
        <button id="saveBtn" class="rbtn btn ng-binding ladda-button"> Simpan</button>
        <button id="sendEmailBtn" class="rbtn btn ng-binding ladda-button"> Kirim Via Email</button>
        <button style="float: right;" ng-click="BackToTabClicked()" type="button" class="rbtn btn ng-binding ladda-button">
      <span class="ladda-label">
        <!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
      </span>
      <span class="ladda-spinner"></span>
    </button>
    </div>

    <div id="headerSummary">
        <p style="font-size: 14px; font-weight: bold;">
            {{mSimulasiAsuransi.Model}} {{mSimulasiAsuransi.Tipe}}
        </p>
        <p>
            <ul class="list-inline">
                <li style="width:100px;">{{Lokasi_Outlet}}</li>
                <li>
                    <i class="fa fa-circle" style="color:gray;"></i>
                </li>
                <li>{{Nama_Outlet}}</li>
                <li>
                    <i class="fa fa-circle" style="color:gray;"></i>
                </li>
                <li>{{mSimulasiAsuransi.Perusahaan_Asuransi}}</li>
            </ul>
        </p>
        <p>
            <ul class="list-inline">
                <li style="width:100px;">Salesman </li>
                <li>{{mSimulasiAsuransi.Sales_Force}}</li>
            </ul>
        </p>
        <p>
            <ul class="list-inline">
                <li style="width:100px;">Prospect </li>
                <li>{{mSimulasiAsuransi.Nama_Lengkap}}</li>
            </ul>
        </p>
    </div>
    <div id="contentSummary">
        <table class="table table-bordered table-responsive" class="col-md-12">
            <tbody>
                <tr>
                    <th class="col-md-6" scope="row" class="headerRow" style="background-color:#e8eaed;">Harga Kendaraan</th>
                    <td class="col-md-6">{{mSimulasiAsuransi.Harga_Kendaraan}}</td>
                </tr>
                <tr>
                    <th class="col-md-6" scope="row" class="headerRow" style="background-color:#e8eaed;">Down Payment (DP)</th>
                    <td class="col-md-6">{{mSimulasiAsuransi.DP}}</td>
                </tr>
            </tbody>
        </table>

        <div class="listData">
            <div id="dropdownContentOveride2" aria-labelledby="dropdownMenu1">
                <table class="table table-bordered table-responsive" class="col-md-12">
                    <tbody>
                        <tr>
                            <th class="col-md-6" scope="row" class="headerRow" style="background-color:#e8eaed;">Premi</th>
                            <td class="col-md-6">{{mSimulasiAsuransi.Harga_Kendaraan*2.4/100}}</td>
                        </tr>
                        <tr>
                            <th class="col-md-6" scope="row" class="headerRow" style="background-color:#e8eaed;">Biaya Administrasi</th>
                            <td class="col-md-6">50000</td>
                        </tr>
                        <tr ng-repeat="x in mSimulasiAsuransi_PerluasanJaminan">
                            <th class="col-md-6" scope="row" class="headerRow">{{x.Nama_Jaminan}}</th>
                            <td class="col-md-6">500000</td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="col-md-12" class="table table-bordered table-responsive">
                    <tbody>
                        <tr>
                            <th class="col-md-6" scope="row" class="headerRow" style="background-color:#e8eaed;">TOTAL</th>
                            <td class="col-md-6">50000</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="contentParagraph">
                <h6>Syarat & Kondisi</h6>
                <ul>
                    <li>Semua harga yang tertera dalam mata uang Rupiah (Rp)</li>
                    <li>Rincian kredit di atas tidak mengikat dan dapat berubah sewaktu-waktu</li>
                </ul>


            </div>
        </div>

    </div>

</div>