<div class="row" ng-form="rowForm" novalidate>
    <div class="col-md-2"> <!--PartsClassId-->
        <div class="form-group">
            <label class="control-label">Tipe Material *</label>
            <bsselect name="tipeMaterial"
                    ng-model="mData.MaterialTypeId"
                    data="mPartType"
                    item-text="Description"
                    item-value="MaterialTypeId"
                    placeholder="Pilih Tipe Material"
                    on-select = "selectWarehouse(mData.MaterialTypeId)"
                    required
                    >
            </bsselect>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Lokasi Gudang *</label>
            <bsselect name="lokasiGudang"
                    ng-model="mData.WarehouseId"
                    data="mWarehouse"
                    item-text="WarehouseName"
                    item-value="WarehouseId"
                    placeholder="Pilih Lokasi Gudang"
                    required
                    >
            </bsselect>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Tipe Lokasi Stock *</label>
            <bsselect name="tipeLokasi"
                    ng-model="mData.LocationTypeID"
                    data="mTipeLocation"
                    item-text="Name"
                    item-value="Id"
                    placeholder="Pilih Tipe Lokasi Stock"
                    required
                    >
            </bsselect>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">SCC</label>
            <bsselect name="typeSearch"
                    ng-model="mData.SCCId"
                    data="mSCC"
                    item-text="Description"
                    item-value="PartsClassId"
                    placeholder="Pilih SCC"
                    >
            </bsselect>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">ICC</label>
            <bsselect name="typeSearch"
                    ng-model="mData.ICCId"
                    data="mICC"
                    item-text="Description"
                    item-value="PartsClassId"
                    placeholder="Pilih ICC"
                    >
            </bsselect>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">No. Material</label>
            <input type="text" ng-model="mData.MaterialNo" class="form-control"></input>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">&nbsp</label>
            <button class="btn wbtn form-control" ng-click="searchMaterial()">Cari Material</button>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">&nbsp</label>
            <button class="rbtn btn form-control" ng-disabled="rowForm.$invalid" ng-click="doFilter(mData)">Filter</button>
        </div>
    </div>
</div>