
<style type="text/css">
    .btnUp {
        margin: -28px 0px 0 0 !important;
    }
    #containerImage img {
        width: 100%;
    }
</style>

<!-- <link rel="stylesheet" href="css/uistyle.css"> -->
<script type="text/javascript" src="js/uiscript.js">
 
</script>
<script type="text/javascript">
    function navigateTabStockInspk(containerId, divId) {
        $("#" + containerId).children().each(function (n, i) {
            var id = this.id;
            console.log(id + ' - ' + divId);
            if (id == divId) {
                $('#' + divId).attr('class', 'tab-pane fade in active');
            } else {
                $('#' + id).attr('class', 'tab-pane fade');
            }
        });
    }
</script>


<div ng-show="listdaftar" class="row" style="margin: 0 0 0 0">

    <bsform-mobile factory-name="DistribusiSpkFactory" bind-data="bind_data" info-totaldata="true" filter-data="filterData" role-user="Role"
        custom-modallihat="true" enable-advancedsearch="true" custom-modalubah="true" custom-modalhapus="true" enable-addbutton="disable" service-enable="true"
        disable-filter="true" after-refresh="DistribusiSpkIlanginSearch()" selected-data="selected_data" updated-data="updated_data" form-name="Distribution1SPK" list-title="Daftar SPK" row-template-url="app/sales/sales1/spk/distribusiSpk/rowTemplate.html">
		
		<bsform-mobileadvancedsearch>
            <div id="filterData" class="row" style="margin:0; margin-top:5px;">
                <div style="margin-bottom: 55px;">
                    <div id="comboBoxFilter"  class="col-xs-6">
                        <div class="form-group filterMarg">
                            <select ng-change="DistribusiSpkAkalAkalan(selectedFilterDistribusiSpk)" required
                                ng-model="selectedFilterDistribusiSpk" class="form-control"
                                ng-options="item.value as item.name for item in filterData.defaultFilter" placeholder="Filter">
                                <option label="Filter" value="" disabled>Filter</option>
                            </select>
                        </div>
                    </div>

                    <div id="inputFilter"  class="col-xs-6">
                        <div class="form-group filterMarg" ng-show="showCustomerInput">
                            <!-- ng-change="DistribusiSpkAkalAkalan(selectedFilterDistribusiSpk,param.textFilter)" -->
                            <input ng-change="DistribusiSpkAkalAkalan(selectedFilterDistribusiSpk,param.textFilter, 1)"  type="text"
                                required id="DaTextFilterDistribusiSpk" ng-model="param.textFilter" class="form-control"
                                name="ModelKendaraan" placeholder="Search" ng-maxlength="100">
                        </div>
                    
                        <div class="form-group filterMarg" ng-show="showModelInput">
                            <div class='input-icon-right'>
                                <select data-ng-options="dataModel.VehicleModelName for dataModel in optionsModel"
                                    ng-change="DistribusiSpkModelSearchChange(DistribusiSpkModelSearch)" id="DaModelFilterDistribusiSpk"
                                    ng-model="DistribusiSpkModelSearch" class="form-control" style="width: 100%;margin-bottom: 10px;"
                                    required>
                                    <option label="-- Pilih --" value="" disabled="true"></option>
                                </select>
                            </div>
                    
                        </div>
                    
                    
                    </div>
                </div>


                <div style="margin-bottom: 120px">
                    <div class="col-xs-6">
                        <bslabel>Tanggal SPK dari</bslabel>
                        <div>
                            <input ng-change="DistribusiSpkChangeSpkStartDate(bind_data.filter.SPKStartDate)" onkeydown="return false"
                                type="date" ng-model="bind_data.filter.SPKStartDate" class="form-control">
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <bslabel>Tanggal SPK sampai</bslabel>
                        <bslabel></bslabel>
                        <div>
                            <input ng-change="DistribusiSpkChangeSpkEndDate(bind_data.filter.SPKEndDate)" onkeydown="return false"
                                type="date" ng-model="bind_data.filter.SPKEndDate" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
		
        </bsform-mobileadvancedsearch>
		
        <bsform-mobilemodal>
            <div class="row" style="margin: 0 0 0 0" ng-if="Role == 'SALES' ">
                <a ng-click="lihatSpk(selected_data)">
                    <li class="list-group-item item-modal">
                        <span>
                            <i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i>
                        </span> Lihat Detail
                    </li>
                </a>
                <a ng-click="btnKonfirmasi()" ng-hide="selected_data.SPKStatusName == 'Lengkap' 
                                                                || selected_data.SPKStatusName == 'Hilang'
                                                                || selected_data.SPKStatusName == 'Batal'
                                                                || selected_data.SPKStatusName == 'Pengajuan Batal'
                                                                || selected_data.SPKStatusName == 'Pengajuan Hilang'">
                    <li class="list-group-item item-modal">
                        <span>
                            <i class="fa fa-fw fa-lg fa-ban" style="margin-right: 15px"></i>
                        </span> Batal SPK
                    </li>
                </a>
                <a ng-click="aprovalLeasing()" ng-hide="selected_data.SPKStatusName == 'Hilang'
                                                        || selected_data.SPKStatusName == 'Batal'
                                                        || selected_data.SPKStatusName == 'Pengajuan Batal'
                                                        || selected_data.SPKStatusName == 'Pengajuan Hilang' || selected_data.FundSourceName == 'Cash'">
                    <li class="list-group-item item-modal">
                        <span>
                            <i class="fa fa-fw fa-lg fa-handshake-o" style="margin-right: 15px"></i>
                        </span> Progress Aproval Leasing
                    </li>
                </a>
                <a ng-show="selected_data.ApprovalOffTheRoadSPKId!=null && selected_data.ApprovalOffTheRoadSPKId!='' && selected_data.ApprovalOffTheRoadSPKId!=undefined" ng-click="aprovalOffTheRoad(selected_data)">
                    <li class="list-group-item item-modal">
                        <span><i class="fa fa-fw fa-lg fa-percent" style="margin-right: 15px"></i></span> Approval Off The Road
                    </li>
                </a>
            </div>

            <div class="row" style="margin: 0 0 0 0" ng-if="Role != 'SALES'">
                <a ng-click="lihatSpk(selected_data)">
                    <li class="list-group-item item-modal">
                        <span>
                            <i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i>
                        </span> Lihat Detail
                    </li>
                </a>
                <a ng-click="aprovalDiscountDaftar(selected_data)" ng-hide="selected_data.SPKStatusName == 'Lengkap' || selected_data.StatusApprovalDiscountName == null">
                    <li class="list-group-item item-modal">
                        <span>
                            <i class="fa fa-fw fa-lg fa-percent" style="margin-right: 15px"></i>
                        </span> Proses persetujuan diskon
                    </li>
                </a>
                <a ng-click="findStockfunct()" ng-hide="selected_data.SPKStatusName =='Lengkap'">
                    <li class="list-group-item item-modal">
                        <span>
                            <i class="fa fa-fw fa-lg fa-car" style="margin-right: 15px"></i>
                        </span> Cari Stock
                    </li>
                </a>
                <a ng-click="aprovalLeasing()" ng-show="selected_data.SPKStatusName == 'Lengkap' && selected_data.FundSourceName == 'Credit'">
                    <li class="list-group-item item-modal">
                        <span>
                            <i class="fa fa-fw fa-lg fa-handshake-o" style="margin-right: 15px"></i>
                        </span> Progress Aproval Leasing

                    </li>
                </a>
            </div>
        </bsform-mobilemodal>

    </bsform-mobile>
</div>

<div ng-controller="CreateSpkController" ng-show="formspkdraft" class="row" style="margin: 0 0 0 0">
    <div ng-include src="'app/sales/sales1/spk/distribusiSpk/daftarFormSPK.html'"></div>
</div>

<div class="ui modal batalSpk" role="dialog">
    <div>
        <div class="modal-header" style="padding: 5px 1.5rem 5px 1.5rem !important;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15)">
            <h6>
                <b>Batal SPK</b>
            </h6>
            <label>SPK No. {{select_data.FormSPKNo}}</label>
        </div>
        <div class="modal-body" style="padding-bottom:2px;">
            <div class="row" style="margin-left:3px; margin-bottom:15px;">
                <div class="form-group">
                    <label>Alasan Pengajuan SPK Batal</label>
                    <bsselect name="SelectReason" ng-model="mSPK_Cancel.SpkCancelId" data="alsanBatal" item-text="SpkCancelName" item-value="SpkCancelId"
                        on-select="Id(selected)" placeholder="Select">
                    </bsselect>
                </div>
                <div class="form-group">
                    <label>Keterangan</label>
                    <textarea type="text" name="Desc" class="form-control" placeholder="" ng-model="mSPK_Cancel.NoteCancel" rows="5" cols="60"
                        required>
                </div>
            </div>
        </div>
            <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                <div class="row">
                    <button ng-click="btnSPKCancel()" ng-disabled="mSPK_Cancel.SpkCancelId == null || mSPK_Cancel.SpkCancelId == undifined || disabledBtnSPKCancel" class="rbtn btn ng-binding ladda-button" style="float:right;">Simpan</button>
                    <button ng-click="btnSPKCancelBatal()" class="wbtn btn ng-binding ladda-button" style="float:right;">Batal</button>
                </div>
            </div>
    </div>
</div>

        <div class="ui modal ModalApprovalDicountDaftar" role="dialog">
            <div>
                <div class="modal-header" style="padding: 5px 1.5rem 5px 1.5rem !important;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15)">
                    <h4 class="modal-title">Progress Approval Discount</h4>
                </div>
                <div class="modal-body" style="padding: 5px 5px 5px 5px">
                        <div class="col-xs-6" style=" margin: 10px 0 10px 0">
                            <label>Tanggal Pengajuan</label>
                            <p>{{listDicount.RequestDate | date:'dd-MM-yyyy'}}&nbsp-&nbsp{{listDicount.RequestDate | date:'HH:mm'}}</p>
                            <!-- <bsdatepicker ng-disabled="true" date-options="tanggalDiscount" ng-model="listDicount.RequestDate"></bsdatepicker> -->
                        </div>

                    <div class="row" style="margin: 0 0 0 0">
                            <button class="btn" type="button" style="width: 100%; height: 35px; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <ul class="list-inline">
                                <li style="font-size: 14px;">Status Discount : {{listDicount.ApprovalCategoryName}}</li>
                                <!--<li style="float:right;margin-top: 10px; margin-right:3px;"><span style="float:right; margin-right:3px;">{{Show_Hide_Menunggu_Respon_Admin_PanelIcon}} </span></li>-->
                            </ul>                               
                            </button>
                    </div>  

                    <div class="list-group" style="margin: 0 0 5px 0 !important" id="dropdownContent" aria-labelledby="dropdownMenu1">
                        <div ng-repeat="list in listDicount.ListOfSAHApprovalDiscountSPKView" class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
                                <div class="row" style="margin: 0 0 0 0">
                                    <div class="col-xs-11">
                                        <p style="font-size: 14px"><i class="fa fa-user" aria-hidden="true"></i>&nbsp&nbsp<b>Nama/Jabatan yang menyetujui: {{list.ApproverRoleName}} / {{list.ApproverUserName}}</b></p>
                                        <p style="margin-bottom: 0">
                                            <ul class="list-inline">
                                                <li><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp&nbspTanggal Approval : {{list.ApprovalDate | date:'dd-MM-yyyy HH:mm'}}</li>
                                                <li><i class="fa " aria-hidden="true"></i>&nbsp&nbspStatus : {{list.StatusApprovalName}}</li>
                                                <li><i class="fa " aria-hidden="true"></i>&nbsp&nbspKeterangan : {{list.Keterangan}}</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                        <div class="row">
                            <button ng-click="Keluarlistapproval()" class="wbtn btn ng-binding ladda-button" style="float:right;">Keluar</button>
                        </div>
                    </div>
            </div>
        </div>

         <div class="ui modal ModalApprovalLeasing" role="dialog">
            <div>
                <div class="modal-header" style="padding: 5px 1.5rem 5px 1.5rem !important;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15)">
                    <h4 class="modal-title">Progress Approval Leasing</h4>
                </div>
                <div class="modal-body" style="padding: 5px 5px 5px 5px">

                    <div class="row" style="margin: 0 0 0 0">
                            <button class="btn" type="button" style="width: 100%; height: 35px; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <ul class="list-inline">
                                <li style="font-size: 14px;">Status Leasing : Diajukan</li>
                             </ul>                              
                            </button>
                    </div>  

                    <div class="list-group" style="margin: 0 0 5px 0 !important" id="dropdownContent" aria-labelledby="dropdownMenu1">
                        <div ng-repeat="list in leasing" class="list-group-item" style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
                                <div class="row" style="margin: 0 0 0 0">
                                    <div class="col-xs-11">
                                        <p style="font-size: 14px"><i class="fa fa-user" aria-hidden="true"></i>&nbsp&nbsp<b>NO SO : {{list.NoSO}}</b></p>
                                        <p style="margin-bottom: 0">
                                            <ul class="list-inline">
                                                <li><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp&nbspTanggal Approval : {{list.TanggalApproval | date: "dd MMMM yyyy"}}</li>
                                                <li><i class="fa " aria-hidden="true"></i>&nbsp&nbspNO PO : {{list.NoPO}}</li>
                                                <li><i class="fa " aria-hidden="true"></i>&nbsp&nbspStatus : {{list.Status}}</li>
                                                <li><i class="fa " aria-hidden="true"></i>&nbsp&nbspKeterangan : {{list.Keterangan}}</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                        <div class="row">
                            <button ng-click="btnkeluarLeasing()" class="wbtn btn ng-binding ladda-button" style="float:right;">Keluar</button>
                        </div>
                </div>
            </div>
        </div>

    <div ng-show="findStock" class="row" style="margin: 0 0 0 0">
                <div class="row" style="margin: 0 0 0 0">
                    <button style="float: right" class="btn rbtn" ng-click="kembalifindstock()">Kembali</button>
                </div>
                
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <bsreqlabel>Model</bsreqlabel>
                        <bsselect name="ModelKendaraan" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" ng-model="bind_data.filter.VehicleModelId" ng-change="filterType(bind_data.filter.VehicleModelId)" placeholder="Model Kendaraan" icon="fa fa-car glyph-left" style="min-width: 150px;" required>
                        </bsselect>
                        <!-- <bserrmsg field="ModelKendaraan"></bserrmsg> -->
                    </div>
                </div>

                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <bsreqlabel>Tipe</bsreqlabel>
                        <bsselect name="TypeKendaraan" data="vehicleType" item-text="Description, KatashikiCode, SuffixCode" item-value="VehicleTypeId" ng-model="mStockView.VehicleTypeId" ng-change="filterColor(mStockView.VehicleTypeId)" placeholder="Tipe Kendaraan" icon="fa fa-car glyph-left" style="min-width: 150px;" required>
                        </bsselect>
                        <!-- <bserrmsg field="ModelKendaraan"></bserrmsg> -->
                    </div>
                </div>

                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <bsreqlabel>Warna</bsreqlabel>
                        <bsselect name="Warna" data="color" item-text="ColorName" item-value="ColorId" ng-model="mStockView.ColorId" placeholder="Warna" icon="fa fa-search" style="min-width: 150px;" required>
                        </bsselect>
                        <!-- <bserrmsg field="Warna"></bserrmsg> -->
                    </div>
                </div>

                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <bsreqlabel>Area</bsreqlabel>
                        <bsselect name="area" data="getDataArea" item-text="AreaName" item-value="AreaId" ng-model="mStockView.AreaId" placeholder="Area" icon="fa fa-sitemap glyph-left" style="min-width: 150px;" required>
                        </bsselect>
                        <!-- <bserrmsg field="ModelKendaraan"></bserrmsg> -->
                    </div>
                </div>

                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label>Province</label>
                        <bsselect name="Province" data="getDataProvince" item-text="ProvinceName" item-value="ProvinceId" ng-model="mStockView.ProvinceId" placeholder="Province" icon="fa fa-car glyph-left" style="min-width: 150px;" required>
                        </bsselect>
                        <!-- <bserrmsg field="Province"></bserrmsg> -->
                    </div>
                </div>
    </div>


<div ng-show="show.findStock">
    <div class="row" style="margin: -31px 0 0 0">
        <button class="wbtn btn" type="button" ng-click="kembalidariStock()" style="float: right; margin: 5px 0 10px 0">
            Kembali
        </button>
    </div>       
    <div class="row" style="float: right; margin: -42px 75px 0 0">
            <div class="btn-group">
                <button class="ubtn btn mobilesearchBtn" style="float: right; padding-bottom: 5px" ng-click="refresh()" onclick="this.blur();" tooltip-placement="bottom" tooltip-trigger="focus" tooltip-animation="true" uib-tooltip="Refresh"  tabindex="0">
                    <i class="fa fa-fw fa-refresh" style="font-size:1.4em;"></i>
                </button>
                <!-- <button ng-class="{\'adv-srch-on\' : toggle}" ng-show="(enable_advsearch==\'true\')?true:false;" class="ubtn btn mobilesearchBtn" style="float: right; height: 34px;" ng-click="toggle = !toggle; advSearch = !advSearch;" onclick="this.blur()" tooltip-placement="bottom" tooltip-trigger="focus" tooltip-animation="false" uib-tooltip="Search Panel" tabindex="0">
                    <i ng-class="{\'colorsrch\' : toggle}" class="fa fa-fw fa-search" style="font-size:1.4em"></i>
                </button> -->
            </div>
        </div>
        
        <div class="row" style="margin: 0 0 0 0; padding: 0 5px 0 5px">
        <ul class="nav nav-tabchild" style="margin-top:10px;" id="myTab">
            <li class="active" style="width: 50%"><a data-toggle="tab" ng-click="flag('stock')" href="#" onclick="navigateTabStockInspk('tabContainerStockspk','findDealerspk');">Stock Cabang</a></li>
            <li style="width: 50%;"><a data-toggle="tab" href="#" ng-click="flag('otherStock')" onclick="navigateTabStockInspk('tabContainerStockspk','findOtherDealerspk');">Other Dealer Stock</a></li>    
        </ul>
        </div>
        
        <div id="tabContainerStockspk" class="tab-content" style="padding-top: 15px">
            <div id="findDealerspk" class="tab-pane fade in active">
                <div class="row" >
                    <div class="col-md-6">
                        <div class="form-group">
                            <bsreqlabel>Model Kendaraan</bsreqlabel>
                            <bsselect name="Model" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" ng-model="filter.VehicleModelId" on-select="filterModel(selected)" placeholder="Model Kendaraan" icon="fa fa-car glyph-left" style="min-width: 150px" required>
                            </bsselect>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tipe Model</label>
                            <bsselect name="Type" ng-disabled="filter.VehicleModelId == null" data="listTipe" item-text="TypeDescKatashikiSuffix" item-value="VehicleTypeId" ng-model="filter.VehicleTypeId" ng-change="pilihType(filter.VehicleTypeId)" placeholder="Tipe Kendaraan" icon="fa fa-car glyph-left" style="min-width: 150px" required>
                            </bsselect>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Warna Kendaraan</label>
                            <bsselect name="Warna" ng-disabled="filter.VehicleTypeId == null" data="listWarna" item-text="ColorCodeName" item-value="ColorId" ng-model="filter.ColorId" placeholder="Warna" icon="fa fa-car glyph-left" style="min-width: 150px" required>
                            </bsselect>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="form-group">
                            <bsreqlabel>Area</bsreqlabel>
                            <bsselect name="area" data="getDataArea" item-text="AreaName" item-value="AreaId" ng-model="filter.AreaId" placeholder="Area" icon="fa fa-sitemap glyph-left" style="min-width: 150px" required>
                            </bsselect>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Province</label>
                            <bsselect name="Province" ng-disabled="filter.AreaId == null" data="getDataProvince" item-text="ProvinceName" item-value="ProvinceId" ng-model="filter.ProvinceId" placeholder="Province" icon="fa fa-sitemap glyph-left" style="min-width: 150px" required>
                            </bsselect>
                        </div>
                    </div>
                </div>
        
                <div class="row" style="padding-right: 8px;margin-right: 0px;margin-top: 5px;margin-bottom: 10px;">
                    <button class="btn wbtn" style="float:right" ng-click="advancedSearch()" onclick="this.blur()" tooltip-placement="bottom" tooltip-trigger="mouseenter" tooltip-animation="false" uib-tooltip="Search" tabindex="0">
                        <i class="large icons">
                            <i class="database icon"></i>
                            <i class="inverted corner filter icon"></i>
                        </i>Search
                    </button>
                </div>

                <div color="" align="center" ng-if="loading == true " class="list-group-item" style="border: none !important;padding:10px 0px 10px 0px;margin-top: 10px;margin-bottom: 70px;"> 
                    <i class="fa fa-spinner fa-spin fa-2x"></i>    </br>
                    <b> Loading ... </b> 
                </div> 
        
                <div ng-if="loading == false " class="listData">
                        <button id="btn-append-to-body" class="btn btn-default dropdown-toggle" type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle="">                    
                            <i class="fa fa-sitemap glyph-left" aria-hidden="true"></i>&nbspCabang<span style="float:right" class="ng-binding">( {{Qty}} )<span></span></span>
                        </button>
                    <!-- <button class="btn btn-default dropdown-toggle dropdown-toggle" type="button" ng-disabled="true" id="dropdownBtnListDataRadio" style="width: 100%; text-align:left; padding-top:15px; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cabang</button> -->
                    
                    <div class="list-group ScrollStyleV" id="dropdownContentListDataRadio" aria-labelledby="dropdownMenu1">
                        <div class="list-group-item" ng-repeat="item in stockGroupDealer" style="padding:10px 5px 10px 10px; background-color:#e8eaed;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h7 style="float: left">{{item.OutletName}}</h7>
                                </div>
                            </div>
                        </div>
                        <div ng-if="isEmpty == true" class="list-group-item" style="padding:10px 5px 10px 10px; background-color:#e8eaed;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h7 style="float: left">Stock Kosong</h7>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        
            <div id="findOtherDealerspk" class="tab-pane fade">
                <div class="row" >
                    <div class="col-md-6">
                        <div class="form-group">
                            <bsreqlabel>Model Kendaraan</bsreqlabel>
                            <bsselect name="Model" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" ng-model="filterOther.VehicleModelId" on-select="filterModel(selected)" placeholder="Model Kendaraan" icon="fa fa-car glyph-left" style="min-width: 150px" required>
                            </bsselect>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tipe Model</label>
                            <bsselect name="Type" ng-disabled="filterOther.VehicleModelId == null" data="listTipe" item-text="TypeDescKatashikiSuffix" item-value="VehicleTypeId" ng-model="filterOther.VehicleTypeId" ng-change="pilihType(filter.VehicleTypeId)" placeholder="Tipe Kendaraan" icon="fa fa-car glyph-left" style="min-width: 150px" required>
                            </bsselect>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Warna Kendaraan</label>
                            <bsselect name="Warna" ng-disabled="filterOther.VehicleTypeId == null" data="listWarna" item-text="ColorCodeName" item-value="ColorId" ng-model="filterOther.ColorId" placeholder="Warna" icon="fa fa-car glyph-left" style="min-width: 150px" required>
                            </bsselect>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="form-group">
                            <bsreqlabel>Area</bsreqlabel>
                            <bsselect name="area" data="getDataArea" item-text="AreaName" item-value="AreaId" ng-model="filterOther.AreaId" placeholder="Area" icon="fa fa-sitemap glyph-left" style="min-width: 150px" required>
                            </bsselect>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Province</label>
                            <bsselect name="Province" ng-disabled="filterOther.AreaId == null" data="getDataProvince" item-text="ProvinceName" item-value="ProvinceId" ng-model="filterOther.ProvinceId" placeholder="Province" icon="fa fa-sitemap glyph-left" style="min-width: 150px" required>
                            </bsselect>
                        </div>
                    </div>
                </div>
        
                <div class="row" style="padding-right: 8px;margin-right: 0px;margin-top: 5px;margin-bottom: 10px;">
                    <button class="btn wbtn" style="float:right" ng-click="otherDealerSearch()" onclick="this.blur()" tooltip-placement="bottom" tooltip-trigger="mouseenter" tooltip-animation="false" uib-tooltip="Search" tabindex="0">
                        <i class="large icons">
                            <i class="database icon"></i>
                            <i class="inverted corner filter icon"></i>
                        </i>Search
                    </button>
                </div>
        
                <div color="" align="center" ng-if="loadingOther == true " class="list-group-item" style="border: none !important;padding:10px 0px 10px 0px;margin-top: 10px;margin-bottom: 70px;"> 
                    <i class="fa fa-spinner fa-spin fa-2x"></i>    </br>
                    <b> Loading ... </b> 
                </div> 

                <div ng-if="loadingOther == false " class="listData">
                        <button id="btn-append-to-body" class="btn btn-default dropdown-toggle" type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle="">                    
                                <i class="fa fa-sitemap glyph-left" aria-hidden="true"></i>&nbspCabang<span style="float:right" class="ng-binding">( {{QtyOther}} )<span></span></span>
                            </button>
                    <!-- <button class="btn btn-default dropdown-toggle dropdown-toggle" type="button" ng-disabled="true" id="dropdownBtnListDataRadio" style="width: 100%; text-align:left; padding-top:10px; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cabang</button> -->
                    
                    <div class="list-group ScrollStyleV" id="dropdownContentListDataRadio" aria-labelledby="dropdownMenu1">
                        <div class="list-group-item" ng-repeat="item in stockOtherDealer" style="padding:10px 5px 10px 10px; background-color:#e8eaed;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h7 style="float: left">{{item.OutletName}}</h7>
                                </div>
                            </div>
                        </div>
                        <div ng-if="isOtherEmpty == true" class="list-group-item" style="padding:10px 5px 10px 10px; background-color:#e8eaed;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h7 style="float: left">Stock Kosong</h7>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<!-- POPUP KONFIRMASI START -->
<div class="ui modal" id="ModalKonfirmasi" role="dialog" style="width:600px;height:250px;margin-top:5px;margin-left:-300px">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<h4 class="modal-title">Konfirmasi</h4>
		</div>
		<div class="modal-body">
			<p>
				Silahkan cek SPK terlebih dahulu.<br>
                Apabila terdapat nominal Booking Fee yang perlu di Refund, silahkan dapat menghubungi Admin.<br>
                Apakah SPK akan di batalkan?
			</p>
		</div>
		<div class="modal-footer">
			<p>
				<button ng-click="btnSPKCancelBatal()" class="wbtn btn ng-binding ladda-button" type="button">Kembali</button>
				<button ng-click="BatalSpk(selected_data)" class="rbtn btn ng-binding ladda-button" type="button"
                ng-hide="selected_data.SPKStatusName == 'Lengkap' 
                        || selected_data.SPKStatusName == 'Hilang'
                        || selected_data.SPKStatusName == 'Batal'
                        || selected_data.SPKStatusName == 'Pengajuan Batal'
                        || selected_data.SPKStatusName == 'Pengajuan Hilang'">Lanjutkan</button>
			</p>
		</div>
	</div>
</div>
<!-- POPUP KONFIRMASI END -->

<div class="ui modal loadingBatalSPK" style="height:200px; background-color:transparent; box-shadow: none !important">
    <div align="center" class="list-group-item" style="border: none !important;padding:10px 0px 10px 0px; background-color:transparent;">
        <font color="white"><i class="fa fa-spinner fa-spin fa-3x fa-lg"></i></br>
            <b> Batal SPK.... </b> </font>
    </div>
</div>