<!--Harus item-->
<div class="row" style="margin: 0 0 0 0">
    <div style="font-size: 16px;margin-bottom: 5px"><b>Nomor SPK :</b> {{item.FormSPKNo}}
        <button ng-hide="item.SPKStatusName == 'Didistribusikan'" ng-click="openModal(item)" class="btn btn-default" style="float:right; border:0; box-shadow:none;" id="myButton" type="button"> 
                <span class="glyphicon glyphicon-option-vertical" style="float:center;"> 
                </span> 
        </button>
    </div>
    <p>
        <ul style="font-size:15px; margin-left: 3px; list-style-type: none; padding-left:0px">
            <li style="margin: 0 0 10px 0"><i class="fa fa-fw fa-user" style="margin-right: 10px;"></i><!--<b>Nama Prospect:</b>--> {{item.ProspectName}} &nbsp; | &nbsp; {{item.CustomerTypeDesc}}</li>
            <li style="margin: 0 0 0px 0"><i class="fa fa-fw fa-car" style="margin-right: 10px;"></i><!--<b>Model Tipe :</b>--> {{item.Description}}</li>
            <li ng-hide="item.Description==null || item.Description==undefined || item.Description==''" style="margin: 0 0 5px 95px">{{item.KatashikiCode}} - {{item.SuffixCode}}</li>
            <li ng-if="Role != 'SALES'" style="margin: 0 0 10px 0"><i class="fa fa-fw fa-user" style="margin-right: 10px;"></i><b>Nama Sales :</b> {{item.SalesName}}</li>
            <li><i class="fa fa-fw fa-list-alt" style="margin-right: 10px;"></i><b>Status :</b> {{item.SPKStatusName}}</li>
            <li><i class="fa fa-fw fa-calendar" style="margin-right: 10px;"></i><b>Tanggal SPK :</b> {{item.SPKDate | date:'dd MMMM yyyy'}}</li>
        </ul>
    </p>
</div>