<script type="text/javascript">
//   var MAX_FILE_SIZE = 2 * 1024 * 1024; // 5MB
 
//  $(document).ready(function() {
//      $('#uploadFile').change(function() {
//          fileSize = this.files[0].size;
//          if (fileSize > MAX_FILE_SIZE) {
//              this.setCustomValidity("File must not exceed 2 MB!");
//              this.reportValidity();
//          } else {
//              this.setCustomValidity("");
//          }
//      });
//  });
</script>
<style type="text/css">
.ui-grid-viewport {
        overflow-anchor: none;
    }
/* 
.ui-grid {
  height: auto;
 }
.ui-grid .ui-grid-viewport {
     height: 100% !important;
   } */

   .ScrollStyle {
        max-height: 600px;
        overflow-y: scroll
    }

    .ktk {
        border-style: solid;
        border-bottom: none !important;
        border-width: 1px;
        border-color: #ddd
    }

    .card-2 {
        box-shadow: 0 3px 3px rgba(0, 0, 0, .1), 0 2px 8px rgba(0, 0, 0, .1)
    }

    img{
      height: 530px;
      width: auto;
      padding: 0;
    }

    #containerImage img {
        width: 100%;
    }

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<!--  on-before-edit-mode="onBeforeEdit" -->

<bsform-grid
        ng-form="WarrantyForm"
        factory-name="warranty"
        model="mData"
        model-id="JobId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        on-before-new-mode="onBeforeNewMode"
        on-validate-save = "onValidateSave"
        on-show-detail = "onShowDetail"
        show-advsearch="on"
        on-bulk-approve="customApprove"
        on-bulk-reject="customReject"
        on-before-edit="onBeforeEdit"
        grid-custom-action-button-template="gridActionTemplate" 
        grid-hide-action-column="true" 
        grid-custom-action-button-colwidth="170"
       

        form-name="WarrantyForm"
        form-title="Warranty"
        modal-title="Warranty"
        modal-size="small"
        icon="fa fa-fw fa-child"
        form-grid-api ="formGridApi"
        rights-byte="rightEnableByte"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->
        <bsform-advsearch>
          <div class="row"> 
            <div class="col-md-12">
              
              <div class="col-md-12">
                <div class="col-md-2"  style="padding-right: 0px;">
                  <label>No. WO</label>
                </div>
                <div class="col-md-3">
                  <input type="text" name="woNo" class="form-control" placeholder="No Wo" ng-model="mFilter.WoNo">
                </div>
                <div class="col-md-2"  style="padding-right: 0px;">
                  <label>Status</label>
                </div>
                <!--ng-change=select(filter.ShowData) -->
                <div class="col-md-3">
                  <bsselect
                            name="status"
                            data="filterStatus"
                            item-text="StatusDescription"
                            item-value="StatusTowassId"
                            ng-model="mFilter.status"
                            placeholder="Select Filter Status"
                            icon="fa fa-child glyph-left"
                  >
                  </bsselect>
                </div>
              </div>

              <div class="col-md-12" style="margin-top: 10px;">
                <div class="col-md-2" style="padding-right: 0px;">
                  <bsreqlabel>Tanggal Awal</bsreqlabel>
                </div>
                <div class="col-md-3">
                  <bsdatepicker
                      name="Tanggal1"
                      date-options="DateOptions"
                      ng-model="mFilter.StartDate">
                  </bsdatepicker>
                </div>

                <div class="col-md-2" style="padding-right: 0px;">
                  <bsreqlabel>Tanggal Akhir</bsreqlabel>
                </div>
                <div class="col-md-3">
                  <bsdatepicker
                      name="Tanggal2"
                      date-options="DateOptions"
                      ng-model="mFilter.StopDate">
                  </bsdatepicker>
                </div>
              </div>
              
              <div class="col-md-12" style="margin-top: 10px;" >
                <div class="col-md-2" style="padding-right: 0px;">
                  <bsreqlabel>Type Warranty</bsreqlabel>
                </div>
                <div class="col-md-3">
                  <bsselect
                            name="typeWarranty"
                            data="filterTypeWar"
                            item-text="NameWarranty"
                            item-value="typeWaranty1"
                            ng-model="mFilter.typeWarranty"
                            placeholder="Select Filter Type Warranty"
                            icon="fa fa-child glyph-left"
                  >
                  </bsselect>
                </div>
              </div>
           
            </div>
          </div>

        
        </bsform-advsearch>
        <div class="row">
          <div class="col-md-12">
            
            <div class="col-md-6">
              <label>No. Wo : {{dataFromgrid.wono}}</label>
            </div>
            <div class="col-md-6">
            <!-- sementara pake nama kata pak deddy -->
              <label>Tipe Warranty : {{dataFromgrid.nameWaranty}}</label>
            </div>
          
          </div>
          <div class="col-md-12">

            <uib-accordion close-others="oneAtATime">
              <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                      <div ng-click="opened()" style="font-size: 17px; height:20px;" >
                        DSW103 - Data Summary Warranty
                      </div>
                      <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
                  </uib-accordion-heading>

                  <div class="row" ng-repeat = "data in dataWarrantyJob">
                      <div class="col-md-12">
                        <table id="Warranty" class="table table-striped table-bordered" width="100%" ng-hide="((dataWarrantyJob.length > 1 && data.JobSeqNo === data.SeqNo) ? false : false)">
                              <tr>
                                  <!-- belum ada -->
                                  <td width="50%">Warranty No.</td>
                                  <td width="50%">{{data.claimNo}}</td>
                              </tr>
                              <tr>
                                  <td>Dealer Code</td>
                                  <td>{{data.DealerCd}}</td>
                              </tr>
                              <tr>
                                  <td>Dealer Claim No.</td>
                                  <td>{{data.claimNo}}</td>
                              </tr>
                              <tr>
                                <td>VIN</td>
                                <td>{{data.VIN}}</td>
                              </tr>
                              <tr>
                                  <td>WMI</td>
                                  <td>{{data.WMI}}</td>
                              </tr>
                              <tr>
                                  <td>VDS</td>
                                  <td>{{data.VDS}}</td>
                              </tr>
                              <tr>
                                  <td>VIS</td>
                                  <td>{{data.VIS}}</td>
                              </tr>
                              <tr>
                                  <td>Delivery Date</td>
                                  <td>{{data.DeliveryDate | date:'dd/MM/yyyy'}}</td>
                              </tr>
                              <tr>
                                  <td>Repair Date</td>
                                  <td>{{data.RepairDate | date:'dd/MM/yyyy'}}</td>
                              </tr>
                              <tr>
                                  <td>Current Repair Order No.</td>
                                  <td>{{data.WoNo}}</td>
                              </tr>
                              <tr>
                                  <td>Odometer</td>
                                  <Td>{{data.Km | currency:"":0}}</Td>
                              </tr>
                              <tr>
                                  <td>Month Dealer</td>
                                  <td>{{data.Month}}</td>
                              </tr>
                              <tr>
                                  <td>T1 Code</td>
                                  <td>
                                    <!-- {{data.T1_Cd}} -->
                                    <bsselect name="dataT1_code" ng-model="data.T1_Cd" data="T1" item-text="xName" item-value="T1Code" placeholder="Pilih Kategori" ng-disabled="disablePRR" on-select="selectT1(selected)" ng-required="dataFromgrid.nameWaranty == 'TWC' || dataFromgrid.nameWaranty == 'PWC'">
                                    </bsselect>
                                  </td>
                              </tr>
                              <tr>
                                  <td>T2 Code</td>
                                  <Td>
                                    <!-- {{data.T2_Cd}} -->
                                    <bsselect name="dataT2_code" ng-model="data.T2_xName" data="T2" item-text="xName" item-value="xName" placeholder="Pilih Kategori" ng-disabled="disablePRR" on-select="selectT2(selected)" ng-required="dataFromgrid.nameWaranty == 'TWC' || dataFromgrid.nameWaranty == 'PWC'">
                                    </bsselect>
                                  </Td>
                              </tr>
                              <tr>
                                  <td>Originally Failed Part No.</td>
                                  <td>
                                    <!-- {{data.OFP}} -->
                                  <input type="text" ng-disabled="disablePRR" ng-model="data.OFP" name="OFP" class="form-control col-md-12" ng-required="dataFromgrid.nameWaranty == 'TWC' || dataFromgrid.nameWaranty == 'PWC'">
                                  </td>
                              </tr>
                              <tr>
                                  <td>Operation No.</td>
                                  <td>{{data.MainOpeno}}</td>
                              </tr>
                              <tr>
                                  <td>Warranty Type</td>
                                  <td>{{data.WarrType}}</td>
                              </tr>
                              <tr>
                                  <td>Part Total Claim (Rupiah)</td>
                                  <td>{{data.PartTotClaim | currency:"":0}}</td>
                              </tr>
                              <tr>
                                  <td>Hour</td>
                                  <td>{{data.TotHour}}</td>
                              </tr>
                              <tr>
                                  <td>Labor Total Claim (Rupiah)</td>
                                  <!-- <td>{{data.LaborTotClaim | currency:"":0}}</td> -->
                                  <td>{{data.LaborTotClaim_without_ppn | currency:"":0}}</td>

                              </tr>
                              <tr>
                                  <td>Sublet Total Claim (Rupiah)</td>
                                  <!-- <td>{{data.SubletTotClaim | currency:"":0}}</td> -->
                                  <td>{{data.SubletTotClaim_without_ppn | currency:"":0}}</td>

                              </tr>
                              <tr>
                                  <td>Total Claim Amount</td>
                                  <!-- <Td>{{data.ClaimTotAmount | currency:"":0}}</Td> -->
                                  <Td>{{data.ClaimTotAmount_without_ppn | currency:"":0}}</Td>

                              </tr>
                              <tr>
                                  <td>Labor Rate</td>
                                  <td>{{data.laborRate}}</td>
                              </tr>
                              <tr>
                                  <td>Tax Total (Rupiah)</td>
                                  <!-- <td>{{data.TaxTot | currency:"":0}}</td> -->
                                  <td>{{data.TaxTot_without_ppn | currency:"":0}}</td>

                              </tr>
                              <tr>

                                  <td>Condition</td>
                                  <td>{{data.Condition}}</td>
                              </tr>
                              <tr>
                                  <td>Cause</td>
                                  <td>{{data.Caused}}</td>
                              </tr>
                              <tr>
                                  <td>Remedy</td>
                                  <td>{{data.Remedy}}</td>
                              </tr>
                              <tr>
                                  <td>Previous Repair Date</td>
                                  <td>{{data.PrevRepDate | date:'dd/MM/yyyy'}}</td>
                              </tr>
                              <tr>
                                  <td>Previous Repair KM</td>
                                  <Td>{{data.PrevKm | currency:"":0}}</Td>
                              </tr>
                              <tr>
                                
                                  <td>Previous Repair Order No.</td>
                                  <td>{{data.PrevRepOrder}}</td>
                              </tr>
                              <tr>
                                  <td>Previous Invoice No.</td>
                                  <td>{{data.PrevInvNo}}</td>
                              </tr>
                      </table>
                      </div>
                  </div>
                  <div class="row">
                    <div class="ui-grid-nodata ng-scope" ng-if="dataWarranty.length == 0" style="position:static;">No data available</div>
                  </div>
              </div>
              <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                      <div ng-click="opened()" style="font-size: 17px; height:20px;" >
                          DLBRDLR - Data Labor Dealer
                      </div>
                      <!-- <i class="pull-right glyphicon" ng-click="opened()" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
                  </uib-accordion-heading>
                  <div class="row"  ng-repeat = "dataLabor in dataWarrantyJobTask">
                      <div class="col-md-12">
                        <table id="Warranty" class="table table-striped table-bordered" width="100%" ng-hide="((dataWarrantyJobTask.length > 1 && dataLabor.JobSeqNo === dataLabor.SeqNo) ? false : false)">
                          <tr>
                            <td width="50%">Sequent Number</td>
                            <td width="50%">
                              <bsselect name="dataWarranty" ng-model="dataLabor.JobSeqNo" data="dataWarranty" item-text="JobSeqNo" item-value="JobSeqNo" placeholder="Pilih Kategori" ng-disabled = "true">
                              </bsselect>
                            </td>
                          </tr>
                          <tr>
                              <td>Dealer Code</td>
                              <td>{{dataLabor.DealerCd}}</td>
                          </tr>
                          <tr>
                              <td>Dealer Claim No.</td>
                              <td>{{dataLabor.claimNo}}</td>
                          </tr>
                          <tr>
                              <td>Operation No.</td>
                              <td>{{dataLabor.OperationNo}}</td>
                          </tr>
                          <tr>
                              <td>Hour Operation No.</td>
                              <td>{{dataLabor.Hour}}</td>
                          </tr>
                          <tr>
                              <td>Main Operation No.</td>
                              <!-- <td>{{dataLabor.OperationNo}}</td> -->
                              <td>
                                <div style="float: left; top: 3px;">
                                  {{dataLabor.MainOpeno}}
                                </div>
                                <div style="float: right;">
                                  <button class="rbtn btn pull-right" ng-hide="!canEditope" ng-click="EditMainOpeNo(dataLabor.JobTaskId, dataLabor.MainOpeno, dataLabor)">Edit</button>
                                </div>
                              </td>
                              <!-- <td>
                                <div>
                                  <bstypeahead placeholder="Main Operation No." name="MainOpeno" ng-model="dataLabor.MainOpeno" get-data="getMainOpeno" ng-disabled="disablePRR" item-text="TaskName" loading="loadingUsers" noresult="noResults" selected="selected" on-select="onSelectWork"
                                    on-noresult="onNoResult" on-gotresult="onGotResult" icon="fa-id-card-o" required>
                                  </bstypeahead>
                                </div>
                              </td> -->
                          </tr>
                        </table>
                      </div>
                  </div>
                  <div class="ui-grid-nodata ng-scope" ng-if="dataWarranty.length == 0" style="position:static;">No data available</div>
              </div>
              <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                      <div ng-click="opened()" style="font-size: 17px; height:20px;" >
                        DPRTDLR - Data Parts Dealer
                      </div>
                      <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
                  </uib-accordion-heading>
                  <div class="row"  ng-repeat = "dataParts in dataWarrantyParts">
                      <div class="col-md-12">
                        <table id="Warranty" class="table table-striped table-bordered" width="100%" ng-hide="(dataParts.PartNo == null ? true : false)">
                          <tr>
                            <td width="50%">Sequent Number</td>
                            <td width="50%">
                              <bsselect name="dataWarranty" ng-model="dataParts.SeqNo" data="dataWarranty" item-text="SeqNo" item-value="SeqNo" placeholder="Pilih Kategori" ng-disabled = "true">
                              </bsselect>
                            </td>
                          </tr>
                          <tr>
                              <td>Dealer Code</td>
                              <td>{{dataParts.DealerCd}}</td>
                          </tr>
                          <tr>
                              <td>Dealer Claim No.</td>
                              <td>{{dataParts.claimNo}}</td>
                          </tr>
                          <tr>
                          <!-- belum ada -->
                              <td>Parts No. {{ dataParts.SeqNo }}</td>
                              <td>{{dataParts.PartNo}}</td>
                          </tr>
                          <tr>
                          <!-- belum ada -->
                              <td>Parts Qty. {{ dataParts.SeqNo }}</td>
                              <td>{{dataParts.qty}}</td>
                          </tr>
                          <tr>
                          <!-- belum ada -->
                              <td>Parts Amount</td>
                              <td>{{dataParts.partAmount | currency:"":0}}</td>
                          </tr>
                          <tr>
                          <!-- belum ada -->
                              <td>Originally Failed Part No.</td>
                              <td>
                                {{dataParts.OFP}}
                              </td>

                          </tr>
                          <tr ng-hide="FreeClaimPRR">
                            <!-- belum ada -->
                                <td>PRR Type</td>
                                <td>
                                  <bsselect name="dataPRR" ng-model="dataParts.PRRType" data="dataPRRType" item-text="PRRTypeName" item-value="PRRTypeId" placeholder="Pilih Kategori" ng-disabled="disablePRR || dataParts.IsNonSOP !== 1" ng-required="true || !FreeClaimPRR">
                                  </bsselect>
                                  <input type="text" ng-required="statusW" hidden ng-model="mData.cekStat">
                                </td>
                            </tr>
                        </table>
                      </div>
                  </div>
                  <div class="ui-grid-nodata ng-scope" ng-if="dataWarranty.length == 0" style="position:static;">No data available</div>
              </div>

              <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                      <div ng-click="opened()" style="font-size: 17px; height:20px;" >  
                        DSBTDLR - Data Sublet Dealer
                      </div>
                      <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
                  </uib-accordion-heading>
                  <div class="row"  ng-repeat = "dataSublets in dataWarrantySub">
                      <div class="col-md-12">
                        <table id="Warranty" class="table table-striped table-bordered" width="100%" ng-hide="(dataSublets.InvoiceNo == null ? true : false)">
                          <tr>
                          <!-- belum ada -->
                            <td width="50%">Sequent Number</td>
                            <td width="50%">
                              <!-- <bsselect name="dataWarranty" ng-model="dataSublets.SeqNo" data="dataWarranty" item-text="SeqNo" item-value="SeqNo" placeholder="Pilih Kategori" ng-disabled = "true"> -->
                              <bsselect name="dataWarranty" ng-model="dataSublets.SeqNox" data="dataWarrantySub" item-text="SeqNox" item-value="SeqNox" placeholder="Pilih Kategori" ng-disabled = "true">
                              </bsselect>
                            </td>
                          </tr>
                          <tr>
                              <td>Dealer Code</td>
                              <td>{{dataSublets.DealerCd}}</td>
                          </tr>
                          <tr>
                              <td>Dealer Claim No.</td>
                              <td>{{dataSublets.claimNo}}</td>
                          </tr>
                          <tr>
                          <!-- belum ada -->
                              <td>Sublet Type</td>
                              <td>{{dataSublets.SubletType}}</td>
                          </tr>
                          <tr>
                          <!-- belum ada -->
                              <td>Invoice No.</td>
                              <td>{{dataSublets.InvoiceNo}}</td>
                          </tr>
                          <tr>
                          <!-- belum ada -->
                              <td>Amount (Rupiah)</td>
                              <td>{{dataSublets.SubletAmount | currency:"":0}}</td>
                          </tr>
                          <tr>
                          <!-- belum ada -->
                              <td>Tax (Rupiah)</td>
                              <td>{{dataSublets.SubletTax | currency:"":0}}</td>
                          </tr>
                          <tr>
                          <!-- belum ada -->
                              <td>Sublet Description</td>
                              <td>{{dataSublets.SubletDesc}}</td>
                          </tr>
                        </table>
                      </div>
                  </div>
                  <div class="ui-grid-nodata ng-scope" ng-if="dataWarranty.length == 0" style="position:static;">No data available</div>  
              </div>

              <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    <div ng-click="opened()" style="font-size: 17px; height:20px;" >  
                      File Upload
                    </div>
                    <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
                </uib-accordion-heading>
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" class="rbtn btn no-animate ng-binding ng-scope ladda-button" style="float: right; margin-bottom: 10px;" ng-click="openDokumenlist()" ng-hide="mData.tmpUploadFile.length == 5">
                      <span>Tambah</span>
                    </button>
                  </div>
                </div>
                
                
                <div class="row card-2" style="margin: 0 0 10px 0"
                            ng-if="mData.tmpUploadFile.length == 0">
                            <p align="center">Tidak Ada Dokumen</p>
                </div>

                <div class="ktk row card-2" style="margin: 0 0 10px 0" ng-if="mData.tmpUploadFile.length > 0" ng-repeat="list in mData.tmpUploadFile">
                      
                            <div align="center">
                                <div class="row" style="margin: 10px 0 0 10px">
                                    <input style="float: left; width: 65%" type="text" ng-disabled="true" ng-model="list.UploadDataDocument.FileName"
                                        class="form-control">
                                    <!--</div>
                                        <div class="col-xs-4" style="padding-left: 0px; float: right">-->
                                          <!-- <div style="width: 35%; margin-right: 3px;"> -->
                                            <label style="width:8%;padding:6px 0 6px 0!important;"
                                                class="btn btn-primary fa fa-picture-o" ng-disabled="list.UploadDataDocument.FileName == undefined || list.UploadDataDocument.FileName == null" title="Lihat File">
                                                <button style="display: none" ng-click="viewImage(list)"></button>
                                            </label>
                                          <!-- </div> -->

                                          <!-- <div style="width: 35%; margin: 0px 3px 0px 3px;"> -->
                                            <label style="width:8%;padding:6px 0 6px 0!important" ng-disabled="modeUpload == 'view'"
                                                class="btn btn-primary fa fa-camera" ng-disabled="list.UploadDataDocument.FileName != undefined || list.UploadDataDocument.FileName != null" title="Upload File">
                                                <input type="file" ng-disabled="mode == 'view'"
                                                    loading="loadingImgSPK" bs-uploadsingle="onFileSelect($files)"
                                                    accept=".xlsx,.xls,image/*,.doc, .docx,.txt,.pdf, zip,application/octet-stream, application/zip,application/x-zip, application/x-zip-compressed, video/mp4,video/x-m4v,video/*" ng-model="list.UploadDataDocument" img-upload="list.UploadDataDocument"
                                                    style="display:none" maxbyte="5" ng-change="uploader(dataUpload)">
                                            </label>
                                          <!-- </div> -->

                                          <!-- <div style="width: 35%; margin: 0px 3px 0px 3px;"> -->
                                            <label style="width:8%;padding:6px 0 6px 0!important" class="btn btn-primary fa fa-times"
                                                ng-disabled="list.UploadDataDocument.FileName == undefined || list.UploadDataDocument.FileName == null ||  modeUpload == 'view'" title="Reset File">
                                                <button style="display: none" ng-click="removeImage(list, $index)"></button>
                                            </label>
                                          <!-- </div> -->

                                          <!-- <div style="width: 35%; margin-left: 3px;"> -->
                                            <label style="width:8%;padding:6px 0 6px 0!important" class="btn btn-primary fa fa-trash" ng-disabled="modeUpload == 'view'" title="Hapus File">
                                                <button style="display: none" ng-click="removeUploader($index);"></button>
                                            </label>
                                          <!-- </div> -->
                                        
                                    
                                    <!--</div>-->
                                </div>
                                <!--<p ng-show="statusAction == 'lihat' || statusAction == 'ubah'" style="float: left; margin-left: 13px">Status : {{list.StatusDocumentName}}</p> -->
                                <p ng-if="list.UploadDataDocument.FileName == null || list.UploadDataDocument.FileName == undefined"
                                    style="float: left; margin-left: 13px; margin-top: 5px">Status : Empty</p>
                                <p ng-if="list.UploadDataDocument.FileName != null || list.UploadDataDocument.FileName != undefined"
                                    style="float: left; margin-left: 13px; margin-top: 5px">Status : Upload</p>
                            </div>
                          </div>

                          <div style="padding-top: 10px;">
                            <input style="height: 15px; width: auto;" type="checkbox" name="SpecialClaimFlag" ng-model="mData.SpecialClaimFlag" ng-checked="mData.SpecialClaimFlag == 1">
                            <label style="font-size: 20px;" for="checkbox">Spesial Claim</label>
                          </div>

                        <div ng-if="menusekarang != 'Daftar SPK'" class="ui modal dokumentList">
                          <div>
                              <button class="btn btn-default" type="button" id="dropdownBtnListDataRadio" style="width: 100%; text-align:left; background-color:#888b91; color:white;"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dokumen
                              </button>
      
                              <div class="list-group ScrollStyle" id="dropdownContentListDataRadio" aria-labelledby="dropdownMenu1"
                                  style="margin-bottom: 10px !important">
                                  <div class="list-group-item" ng-if="loadingdoc == false" ng-repeat="item in dokumentlist"
                                      style="padding:10px 0px 10px 10px; background-color:#e8eaed;" ng-click="toggleChecked(item);">
                                      <div class="row">
                                          <div class="col-md-12">
                                              <h7 style="float: left;">{{item.DocumentType}}</h7>
                                              <span style="float:right; ">
                                                  <i id="itemBtnRadio1" class="fa fa-check-circle-o fa-2x fa-lg" ng-style="{'color': item.checked == true ? '#3df747':'#000000'}"
                                                        aria-hidden="true"></i>
                                              </span>
                                          </div>&nbsp&nbsp
                                          <div class="col-md-12" style="font-size:10px;">{{item.DocumentName}}</div>
                                      </div>
                                  </div>
      
                                  <div color="" align="center" ng-if="loadingdoc == true" class="list-group-item" style="border: none !important;padding:10px 0px 10px 0px;">
                                      <i class="fa fa-spinner fa-spin fa-2x"></i>
                                      </br>
                                      <b> Loading ... </b>
                                  </div>
                              </div>
      
                              <div class="listData" id="addMode" style="float:right; margin-bottom: 0px !important;padding-top: 0px!important;padding-bottom: 8px!important;padding-right: 8px!important;">
                                  <button id="addBtn" class="rbtn btn ng-binding ladda-button" style="float: right" ng-click="ApproveData()">Pilih
                                  </button>
                                  <button id="addBtn" class="wbtn btn ng-binding ladda-button" style="float: right" ng-click="RejectData()">Batal
                                  </button>
                              </div>
                          </div>
                      </div>

            </uib-accordion>

          </div>
        </div>

        <bsui-modal 
            show="show_modalDtl.show" 
            title="Approve" 
            data="modal_modelDtl" 
            on-save="doApprove" 
            on-cancel="cancelApprove"
            mode="modalMode"
        >
          
          <div class="row">
            <div class="col-md-12" ng-repeat="a in dApprove">
              
              <div class="col-md-12">
                <div class="col-md-6">
                  <label>Nama Kegiatan</label>
                </div>
                <div class="col-md-6">
                  <label>Approval Warranty</label>
                </div>
              </div>
              
              <div class="col-md-12">
                <div class="col-md-6">
                  <label>No. WO</label>
                </div>
                <div class="col-md-6">
                  <label>{{a.wono}}</label>
                </div>
              </div>
              
              <div class="col-md-12">
                <div class="col-md-6">
                  <label>No. Polisi</label>
                </div>
                <div class="col-md-6">
                  <label>{{a.PoliceNumber}}</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="col-md-6">
                  <label>Tanggal dan Jam</label>
                </div>
                <div class="col-md-6">
                  <!-- <label>{{a.JobDate |date:'dd/MM/yyyy HH:mm:ss' }}</label> -->
                  <label>{{a.RequestDate |date:'dd/MM/yyyy HH:mm:ss'}}</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="col-md-6">
                  <label>Requester(s)</label>
                </div>
                <div class="col-md-6">
                  <label>{{a.SAName}}</label>
                  <!-- <textarea style="width: 100%;height: 120px;" ng-model="mData.Approver" name="Approver"></textarea> -->
                </div>
              </div>

              <div class="col-md-12">
                <div class="col-md-6">
                  <label>Pesan</label>
                </div>
                <div class="col-md-6">
                  <textarea style="width: 100%;height: 120px;" ng-model="mData.RejectReason" name="RejectReason"></textarea>
                </div>
              </div>
              <div class="ui-grid-nodata ng-scope" ng-if="dApprove.length== 0" >No data available</div>
            </div>
          </div>
        </bsui-modal>

        <bsui-modal 
            show="show_modalReject.show" 
            title="Reject" 
            data="modal_modelReject" 
            on-save="doReject" 
            on-cancel="cancelReject"
            mode="modalModeReject"
        >
          <div class="row">
            <div class="col-md-12" ng-repeat ="a in dReject">
              
              <div class="col-md-12">
                <div class="col-md-6">
                  <label>Nama Kegiatan</label>
                </div>
                <div class="col-md-6">
                  <label>Reject Approve Warranty</label>
                </div>
              </div>
              
              <div class="col-md-12">
                <div class="col-md-6">
                  <label>No. WO</label>
                </div>
                <div class="col-md-6">
                  <label>{{a.wono}}</label>
                </div>
              </div>
              
              <div class="col-md-12">
                <div class="col-md-6">
                  <label>No. Polisi</label>
                </div>
                <div class="col-md-6">
                  <label>{{a.PoliceNumber}}</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="col-md-6">
                  <label>Tanggal dan Jam</label>
                </div>
                <div class="col-md-6">
                  <!-- <label>{{a.ApproveRejectDate}}</label> -->
                  <label>{{a.RequestDate |date:'dd/MM/yyyy HH:mm:ss'}}</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="col-md-6">
                  <label>Requester(s)</label>
                </div>
                <div class="col-md-6">
                  
                  <!-- <label></label> -->
                  <label>{{a.SAName}}</label>
                  <!-- <textarea style="width: 100%;height: 120px;"></textarea> -->
                </div>
              </div>

              <div class="col-md-12">
                <div class="col-md-6">
                  <label>Pesan</label>
                </div>
                <div class="col-md-6">
                  <textarea style="width: 100%;height: 120px;" ng-model="mData.RejectReason" name="RejectReason"></textarea>
                </div>
              </div>

            </div>
          </div>
        </bsui-modal>


        <!-- modal untuk cek field action start -->
          <bsui-modal show="modalmainopeno.show" title="Edit Main Operation No" mode="modalMainOpeNo" data="dataModal"  on-save="doSaveEditMainOpeNo" on-cancel="doCancelEditMainOpeNo">
          <div class="row col-md-12" >
              <div class="row form-group">
                <div class="col-md-3">
                  Main Operation No Lama : 
                </div>
                <div class="col-md-3">
                  {{dataModal.MainOpenoLama}}
                </div>

                <div class="col-md-3">
                  Hour Operation No Lama : 
                </div>
                <div class="col-md-3">
                  {{dataModal.HourLama}}
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-3" style="top: 7px;">
                  Main Operation No Baru : 
                </div>
                <div class="col-md-6">
                  <bstypeahead placeholder="Main Operation No." name="MainOpeno" ng-model="dataModal.SMainOpenoBaru" get-data="getMainOpeno" item-text="TaskName" loading="loadingUsers" noresult="noResults" selected="selected" on-select="onSelectWork"
                    on-noresult="onNoResult" on-gotresult="onGotResult" icon="fa-id-card-o" ng-required="modalmainopeno.show">
                  </bstypeahead>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-3">
                  Main Operation No Baru : 
                </div>
                <div class="col-md-5">
                  <!-- {{dataModal.MainOpenoBaru}} -->
                  <input type="text" class="form-control" name="MainOpenoBaru" ng-model="dataModal.MainOpenoBaru" placeholder="" ng-required="modalmainopeno.show" readonly>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-3">
                  Main Operation Name Baru : 
                </div>
                <div class="col-md-5">
                  <!-- {{dataModal.MainOpenameBaru}} -->
                  <input type="text" class="form-control" name="MainOpenameBaru" ng-model="dataModal.MainOpenameBaru" placeholder="" ng-required="modalmainopeno.show" readonly>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-3">
                  Hour Operation No Baru : 
                </div>
                <div class="col-md-5">
                  <!-- {{dataModal.HourBaru}} -->
                  <input type="text" class="form-control" name="HourBaru" ng-model="dataModal.HourBaru" placeholder="" ng-required="modalmainopeno.show" readonly>
                </div>
              </div>

              <div class="row">
                &nbsp;
              </div>
              <div class="row">
                &nbsp;
              </div>
              <div class="row">
                &nbsp;
              </div>
              <div class="row">
                &nbsp;
              </div>

              <div class="row form-group" style="color: red;">
                <div class="col-md-6">
                  *Pastikan kembali Operation yang baru sudah sesuai
                </div>
              </div>

          </div>
        </bsui-modal>
        <!-- modal untuk cek field action end -->


        <!-- modal untuk pop up tidak bisa approve jika masih reject towass -->
        <bsui-modal 
            show="show_cantApprove.show" 
            title="Warning" 
            data="" 
            on-save="docantApprove" 
            on-cancel="cancelcantApprove"
            mode="modalModecantApprove"
        >
          <div class="row">
            <div class="col-md-12">
              <h3>Claim tidak dapat di APPROVE Untuk Status (TOWASS) Rejected by TOWASS dan Approval Status Waiting Approval Kabeng.</h3>
              <h3>Harap Edit Warranty tanpa UNTECO untuk membuat Claim Baru atau Reject Claim untuk Melakukan Unteco dan Submit Ulang.</h3>          

            </div>
          </div>
        </bsui-modal>
</bsform-grid>

<div class="ui modal loadingImgSPK" style="height:200px; background-color:transparent; box-shadow: none !important">
  <div align="center" class="list-group-item" style="border: none !important;padding:10px 0px 10px 0px; background-color:transparent;">
      <font color="white">
          <i class="fa fa-spinner fa-spin fa-3x fa-lg"></i>
          </br>
          <b> Upload Image.... </b>
      </font>
  </div>
</div>

<div class="ui modal dokumenSPKViewMobilesDraft">
  <div>
      <div class="modal-header" style="padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
          <h4>
              <b>{{image.documentname}}</b>
          </h4>
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>
      <div class="modal-body viewImg" id="containerImage" ng-style="gambar">
          <!--<img ng-src="{{viewdocument}}" image-set-aspect ng-class="{'wide': viewdocument.width/viewdocument.height > 1, 'tall': viewdocument.width/viewdocument.height <= 1}">-->
          <img ng-if="image.typeFile == 'data:image/jpeg' || image.typeFile == 'data:image/jpg' || image.typeFile == 'data:image/png'" ng-src="{{image.viewdocument}}" ng-style="gambar" style="text-align: center;">
          <h3 ng-if="image.typeFile != 'data:image/jpeg' && image.typeFile != 'data:image/jpg' && image.typeFile != 'data:image/png'" style="text-align: center; font-weight: bold;">Hanya file PNG & JPG yang dapat di Lihat,
            untuk format lainnya dapat dilihat langsung pada UI TOWASS (Excell, Word, Video)</h3>
          <!-- <p align="center" style="margin: 15px 0px 0px 0px !important">{{image.viewdocument}}</p> -->
      </div>
      <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
          <div class="row" style="margin:  0 0 0 0">
              <!-- <button ng-click="btnkehilanganSpk()" class="rbtn btn ng-binding ladda-button" style="float:right; width:15%;">Simpan</button> -->
              <button ng-click="keluarDokumen()" class="rbtn btn ng-binding ladda-button" style="float:right;">Keluar</button>
          </div>
      </div>
  </div>
</div>

