<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="ActivityGroupChecklistDECForm"
        factory-name="NewActivityGroupChecklistDECFactory"
        model="mNewActivityGroupChecklistDEC"
        model-id="GroupChecklistDECId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="ActivityGroupChecklistDECForm"
        form-title=" "
        modal-title="Activity Group Checklist DEC"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

        <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>Nama</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input alpha-numeric mask="Huruf" type="text" class="form-control" name="groupChecklistDECName" placeholder="Nama" ng-model="mNewActivityGroupChecklistDEC.GroupChecklistDECName"
                                ng-maxlength="30" required
                        >
                    </div>
                    <bserrmsg field="groupChecklistDECName"></bserrmsg>
                </div>

                <!-- <div class="form-group" show-errors>
                    <bsreqlabel>Model Kendaraan</bsreqlabel>
                    <bsselect name="ModelKendaraan" data="optionsModel" item-text="VehicleModelName" item-value="VehicleModelId" ng-model="mNewActivityGroupChecklistDEC.VehicleModelId" ng-change="filterModel()" placeholder="Model Kendaraan" icon="fa fa-car glyph-left" style="min-width: 150px;" required>
                    </bsselect>
                    <bserrmsg field="ModelKendaraan"></bserrmsg>
                </div>

                 <div class="form-group" show-errors>
                    <bsreqlabel>Type Kendaraan</bsreqlabel>
                    <bsselect name="TypeKendaraan" data="getTipe" item-text="Description" item-value="VehicleTypeId" ng-model="mNewActivityGroupChecklistDEC.VehicleTypeId" placeholder="Tipe Kendaraan" icon="fa fa-car glyph-left" style="min-width: 150px;" required>
                    </bsselect>
                    <bserrmsg field="TypeKendaraan"></bserrmsg>
                </div> -->

            </div>
        </div>
</bsform-grid>
