<script type="text/javascript">

	function Enable_TambahAlokasiBFDPUnit_DaftarSpk() {
		$('#Show_TambahAlokasiBFDPUnit_DaftarSpk').show();
		$('#Show_TambahAlokasiBFDPUnit_DaftarSpk_Sumber').show();
		$('#Show_TambahAlokasiBFDPUnit_DaftarSpk_Target').show();
		$('#Show_TambahAlokasiBFDPUnit_DaftarSalesOrder').show();
	}

	function Disable_TambahAlokasiBFDPUnit_DaftarSpk() {
		$('#Show_TambahAlokasiBFDPUnit_DaftarSpk').hide();
		$('#Show_TambahAlokasiBFDPUnit_DaftarSpk_Sumber').hide();
		$('#Show_TambahAlokasiBFDPUnit_DaftarSpk_Target').hide();
		$('#Show_TambahAlokasiBFDPUnit_DaftarSalesOrder').hide();
	}

	function Enable_LihatAlokasiBFDPUnit_DaftarSpk() {
		$('#ShowAlokasiBFDPUnitData').show();
		$('#ShowAlokasiBFDPUnitDataDetail').show();
		$('#Show_LihatAlokasiBFDPUnit_DaftarSpk').show();
		$('#Show_LihatAlokasiBFDPUnit_DaftarSpk_Sumber').show();
		$('#Show_LihatAlokasiBFDPUnit_DaftarSpk_Target').show();
		$('#Show_LihatAlokasiBFDPUnit_DaftarSalesOrder').show();
	}

	function Disable_LihatAlokasiBFDPUnit_DaftarSpk() {
		$('#ShowAlokasiBFDPUnitData').hide();
		$('#ShowAlokasiBFDPUnitDataDetail').hide();
		$('#Show_LihatAlokasiBFDPUnit_DaftarSpk').hide();
		$('#Show_LihatAlokasiBFDPUnit_DaftarSpk_Sumber').hide();
		$('#Show_LihatAlokasiBFDPUnit_DaftarSpk_Target').hide();
		$('#Show_LihatAlokasiBFDPUnit_DaftarSalesOrder').hide();
	}

</script>

<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript" src="js/ui-grid.min.js"></script>

<!--div id="ShowAlokasiBFDPUnitMain" ng-show="Show_ShowAlokasiBFDPUnitMain">
	<div class="row">
		<button id="ToLihatAlokasiBFDPUnit_Button" onclick="ToLihatAlokasiBFDPUnit_Clicked()" ng-click="ToLihatAlokasiBFDPUnit()"
		 type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
			<span class="ladda-label">
				Lihat
				</span><span class="ladda-spinner"></span>
		</button>
		<button id="ToTambahAlokasiBFDPUnit_Button" onclick="ToTambahAlokasiBFDPUnit_Clicked()" ng-click="ToTambahAlokasiBFDPUnit()"
		 type="button" class="rbtn btn ng-binding ladda-button" style="float: right;">
			<span class="ladda-label">
				Tambah
				</span><span class="ladda-spinner"></span>
		</button>
	</div>
</div-->

<div id="ShowLihatAlokasiBFDPUnit" ng-show="Show_ShowLihatAlokasiBFDPUnit" style="margin-right: 10px">
	<div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2">
		<div class="row">

			<!--div class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px"-->
			<div class="col-md-12" style="margin-top: 10px" ng-show="ShowLihatHeader">
				<!--p style="width:120px; margin-top:20px; margin-left:7px; background:white;"></p-->
				<button id="ToTambahAlokasiBFDPUnit_Button" onclick="" ng-click="ToTambahAlokasiBFDPUnit()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: right;  margin-right:-10px; margin-top:-40px;">
					<span class="ladda-label">
						<i class="fa fa-fw fa-plus"> </i> Tambah
					</span>
					<span class="ladda-spinner"></span>
				</button>

				<div class="row" style="margin-left:-13px;">
					<div class="col-md-3">
						<bsreqlabel>Tanggal Alokasi BF/DP Unit</bsreqlabel>
						<div class="input-icon-right ">
							<bsdatepicker name="LihatTanggalAlokasiBFDPUnit" date-options="dateOptions" ng-model="LihatAlokasiBFDPUnit_TujuanPembayaran_TanggalAlokasiBFDPUnit">
							</bsdatepicker>
						</div>
					</div>

					<!-- <div class="col-md-1" align="center" style="margin-top:30px">
						s.d.
					</div> -->

					<div class="col-md-3">
						<div class="input-icon-right ">
						    <label>s.d.</label>
							<bsdatepicker name="LihatTanggalAlokasiBFDPUnit" date-options="dateOptions" ng-model="LihatAlokasiBFDPUnit_TujuanPembayaran_TanggalAlokasiBFDPUnitTo">
							</bsdatepicker>
						</div>
					</div>

					<div class="col-md-3">
						<br/>
						<button id="" onclick="" ng-click="CariAlokasiBFDPUnitData()" type="button" class="rbtn btn ng-binding ladda-button" style="float: left;margin-top:3px;"
						ng-disabled="LihatAlokasiBFDPUnit_TujuanPembayaran_TanggalAlokasiBFDPUnit>LihatAlokasiBFDPUnit_TujuanPembayaran_TanggalAlokasiBFDPUnitTo">
							<span class="ladda-label">
								Cari
							</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
				</div>

				<div class="col-md-12 has-error" style="margin-bottom:19px">
					<div class="has-error" style="margin-left:-13px;">
						<span ng-show="LihatAlokasiBFDPUnit_TujuanPembayaran_TanggalAlokasiBFDPUnit>LihatAlokasiBFDPUnit_TujuanPembayaran_TanggalAlokasiBFDPUnitTo" class="help-block">Tanggal awal harus lebih kecil atau sama dengan tanggal akhir!</span>
					</div>
				</div>

				<div style="margin-top:20px">
					<p 	class="fi-title-line" style="margin: 0px;width: 100.5%">
						Daftar Alokasi BF/DP Unit
						<!-- <hr style="border-color:red; margin-top:-10px" /> -->
					</p>

					<div class="row" style="margin-top:10px;margin-bottom:10px; margin-left: -13px;">
						<div class="col-md-2">
							<bsselect ng-model="LihatAlokasiBFDPUnit_DaftarBulkAction_Search" ng-change="LihatAlokasiBFDPUnit_DaftarBulkAction_Changed()"
							 data="optionsLihatAlokasiBFDPUnit_DaftarBulkAction_Search" item-text="name" item-value="value" on-select="value(selected)"
							 placeholder="Bulk Action" icon="fa fa-search">
							</bsselect>
						</div>
						<div class="col-md-2">
							<div class="input-icon-right">
								<input type="text" class="form-control" name="" placeholder="Teks Filter..." ng-model="LihatAlokasiBFDPUnit_DaftarAlokasiBFDPUnit_Search_Text"
								 ng-maxlength="50" maxlength="50">
							</div>
						</div>
						<div class="col-md-2">
							<bsselect ng-model="LihatAlokasiBFDPUnit_DaftarAlokasiBFDPUnit_Search" data="optionsLihatAlokasiBFDPUnit_DaftarAlokasiBFDPUnit_Search"
							 item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih Kriteria" icon="fa fa-search">
							</bsselect>
						</div>
						<div class="col-md-3">
							<button id="" onclick="" ng-click="LihatAlokasiBFDPUnit_DaftarAlokasiBFDPUnit_Filter_Clicked()" type="button" class="btn ng-binding ladda-button">
								<span class="ladda-label">
									Filter
								</span>
								<span class="ladda-spinner"></span>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div id="LihatAlokasiBFDPUnit_DaftarAlokasiBFDPUnit" ui-grid="LihatAlokasiBFDPUnit_DaftarAlokasiBFDPUnit_UIGrid" class="grid"
							 style="width:100.5%;height: 400px; margin-top:-5px;" ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ui-grid-pagination>
								<div class="ui-grid-nodata" ng-if="!LihatAlokasiBFDPUnit_DaftarAlokasiBFDPUnit_UIGrid.data.length && !loading" ng-cloak>No data available</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12" ng-show="ShowAlokasiBFDPUnitDataDetail" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px">
				<p style="width:120px; margin-top:-20px; margin-left:7px; background:white;display:none;">Tujuan Pembayaran</p>

				<div class="col-md-4">
					<bslabel>Tanggal Alokasi BF/DP Unit</bslabel>
					<div class="input-icon-right ">
						<bsdatepicker name="LihatTanggalAlokasiBFDPUnitShow" date-options="dateOptions" ng-model="LihatAlokasiBFDPUnit_TanggalAlokasiBFDPUnit"
						 ng-disabled="!LihatAlokasiBFDPUnit_TanggalAlokasiBFDPUnit_EnabledDisabled">
						</bsdatepicker>
					</div>

					<div class="form-group">
						<bslabel>Nama Pelanggan</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="NamaPelanggan " placeholder="Nama Pelanggan" ng-model="LihatAlokasiBFDPUnit_NamaPelanggan"
							 ng-maxlength="50" maxlength="50" required ng-disabled="!LihatAlokasiBFDPUnit_NamaPelanggan_EnabledDisabled">
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<bslabel>Nomor Alokasi BF/DP Unit</bslabel>
						<div class="input-icon-right ">
							<input style="margin-bottom:30px;" type="text" class="form-control " name="NomorSpk " placeholder="Nomor SPK" ng-model="LihatAlokasiBFDPUnit_Top_NomorAlokasi"
							 ng-maxlength="50 " required ng-disabled="!LihatAlokasiBFDPUnit_Top_NomorAlokasi_EnabledDisabled">
						</div>
					</div>
				</div>

				<!--div class="col-md-4">
					<div class="form-group">
						<bsreqlabel>Nama Pelanggan</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="NamaPelanggan " placeholder="Nama Pelanggan" ng-model="LihatAlokasiBFDPUnit_NamaPelanggan"
							 ng-maxlength="50 " required>
						</div>
					</div>
				</div-->

				<div id="Show_LihatAlokasiBFDPUnit_DaftarSpk" style="display:none;" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px;">

					<p style="margin-left:10px;margin-right:10px;margin-top:20px;color:red">
						Daftar SPK (Sumber Alokasi)
						<hr style="margin-top:-10px;margin-left:10px;margin-right:10px; border-color:red" />
					</p>
					<div id="Show_LihatAlokasiBFDPUnit_DaftarSpk_Sumber" style="display:none;" class="col-md-12" style="padding: 10px 0 0 0;">
						<div class="row" style="margin-bottom:20px">
							<div class="col-md-12">
								<div id="LihatAlokasiBFDPUnit_DaftarSpkSumber_Grid" ui-grid="LihatAlokasiBFDPUnit_DaftarSpkSumber_UIGrid" class="grid" style="width:100%;height: 100px"
								 ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns></div>
							</div>
						</div>
					</div>

					<p style="margin-left:10px;margin-right:10px;margin-top:20px;color:red">
						Daftar SPK (Target Alokasi)
						<hr style="margin-top:-10px;margin-left:10px;margin-right:10px; border-color:red" />
					</p>
					<div id="Show_LihatAlokasiBFDPUnit_DaftarSpk_Target" style="display:none;" class="col-md-12" style="padding: 10px 0 0 0; ">
						<div class="row" style="margin-bottom:20px">
							<div class="col-md-12">
								<div id="LihatAlokasiBFDPUnit_DaftarSpkTarget_Grid" ui-grid="LihatAlokasiBFDPUnit_DaftarSpkTarget_UIGrid" class="grid" style="width: 100%; height: 100px"
								 ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns></div>
							</div>
						</div>
					</div>

					<p style="margin-left:10px;margin-right:10px;margin-top:20px;color:red">
						Daftar Sales Order
						<hr style="margin-top:-10px;margin-left:10px;margin-right:10px; border-color:red" />
					</p>
					<div id="Show_LihatAlokasiBFDPUnit_DaftarSalesOrder" style="display:none;" class="col-md-12" style="padding: 10px 0 0 0; ">
						<div class="row">
							<div class="col-md-12" style="margin-bottom:10px">
								<div id="LihatAlokasiBFDPUnit_DaftarSalesOrder_Grid" ui-grid="LihatAlokasiBFDPUnit_DaftarSalesOrder_UIGrid" class="grid"
								 style="width: 100%; height: 200px" ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12" style="margin-top:10px;" ng-show="ShowLihatFooter">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<div class="form-group" style="display: block">

						<button ng-click="LihatAlokasiBFDPUnit_Batal()" type="button" class=" btn ng-binding ladda-button" style="float: right; margin-left:5px;">
							<span class="ladda-label">
								Kembali
							</span>
							<span class="ladda-spinner"></span>
						</button>

					</div>
				</div>
			</div>

			<!--div id="Show_LihatAlokasiBFDPUnit_FootKuitansi" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px;display:none;">
				<div class="col-md-4">
					<bsreqlabel>Nomor Kuitansi (Preprinted)</bsreqlabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="NomorKuitansi " placeholder="Nomor Kuitansi" ng-model="LihatAlokasiBFDPUnit_NomorKuitansi"
						 ng-maxlength="50 " required>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" style="display: block">
						<bsreqlabel>Keterangan pada Kuitansi</bsreqlabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="NomorKuitansi " placeholder="Ket Kuitansi" ng-model="TambahAlokasiBFDPUnit_KetKuitansi"
							 ng-maxlength="50 " required>
						</div>
					</div>								
				</div>
				<div class="col-md-4">
					<button onclick="LihatAlokasiBFDPUnit_PengajuanReversalModal()" type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-left:5px;">
				<span class="ladda-label">
					Pengajuan Reversal
					</span><span class="ladda-spinner"></span>
				</button>

					<button type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-left:5px;">
				<span class="ladda-label">
					Cetak TTU(S)
					</span><span class="ladda-spinner"></span>
				</button>
				</div>
			</div-->
		</div>
	</div>
</div>


<div id="ShowTambahAlokasiBFDPUnit" ng-show="Show_ShowTambahAlokasiBFDPUnit">
	<div class="list-group" id="formGroupPanelContent" aria-labelledby="dropdownMenu2">
		<div class="row">
			<div class="col-md-6">
				<bsreqlabel>Nama Pelanggan</bsreqlabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="NamaPelanggan " placeholder="Nama Pelanggan" ng-model="TambahAlokasiBFDPUnit_SearchBy_NamaPelanggan"
					 ng-maxlength="255" maxlength="255" required>
				</div>
			</div>
			<div class="col-md-6" style="margin-top:5px">
				<br/>
				<button onclick="" ng-click="TambahAlokasiBFDPUnit_SearchBy()" type="button" class="rbtn btn ng-binding ladda-button">
					<span class="ladda-label">
						Cari
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>


			<div id="Show_TambahAlokasiBFDPUnit_DaftarSpk" ng-show="ShowDaftar_SPK" style="display:none;" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px;">
				<!--p style="width:120px; margin-top:20px; margin-left:10px; background:white;color:red;"></p-->
				<p style="margin-left:10px;margin-right:10px;margin-top:20px;color:red">
					Daftar SPK (Sumber Alokasi)
					<hr style="margin-top:-10px;margin-left:10px;margin-right:10px; border-color:red" />
				</p>
				<div id="Show_TambahAlokasiBFDPUnit_DaftarSpk_Sumber" style="display:none;" class="col-md-12" style="padding: 10px 0 0 0;">
					<div class="row col-md-12" style="margin-bottom:10px;">
						<div class="col-md-4">
							<div class="input-icon-right">
								<input type="text" class="form-control" name="" placeholder="Teks Filter3..." ng-model="TambahAlokasiBFDPUnit_DaftarSpk_Sumber_Search_Text"
								 ng-maxlength="50 ">
							</div>
						</div>
						<div class="col-md-4">
							<bsselect ng-model="TambahAlokasiBFDPUnit_DaftarSpk_Sumber_SearchDropdown" data="optionsTambahAlokasiBFDPUnit_DaftarSpk_Sumber_Search"
							 item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Search Criteria" icon="fa fa-search">
							</bsselect>
						</div>
						<div class="col-md-4">
							<button id="" onclick="" ng-click="TambahAlokasiBFDPUnit_DaftarSpk_Sumber_Filter_Clicked()" type="button" class="btn ng-binding ladda-button">
								<span class="ladda-label">
									Filter
								</span>
								<span class="ladda-spinner"></span>
							</button>
						</div>
					</div>
					<div class="row" style="margin-bottom:20px">
						<div class="col-md-12">
							<div id="TambahAlokasiBFDPUnit_DaftarSpkSumber_Grid" ui-grid="TambahAlokasiBFDPUnit_DaftarSpkSumber_UIGrid" class="grid"
							 style="width:100%;height: 400px" ui-grid-auto-resize ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
						</div>
					</div>
				</div>

				<!--p style="width:120px; margin-top:20px; margin-left:10px; background:white;color:red;">Daftar SPK (Target Alokasi)</p-->
				<p style="margin-left:10px;margin-right:10px;margin-top:20px;color:red">
					Daftar SPK (Target Alokasi)
					<hr style="margin-top:-10px;margin-left:10px;margin-right:10px; border-color:red" />
				</p>
				<div id="Show_TambahAlokasiBFDPUnit_DaftarSpk_Target" style="display:none;" class="col-md-12" style="padding: 10px 0 0 0; ">
					<div class="row col-md-12" style="margin-bottom:10px;">
						<div class="col-md-4">
							<div class="input-icon-right">
								<input type="text" class="form-control" name="" placeholder="Teks Filter4..." ng-model="TambahAlokasiBFDPUnit_DaftarSpk_Brief_Search_Text"
								 ng-maxlength="50 ">
							</div>
						</div>
						<div class="col-md-4">
							<bsselect ng-model="TambahAlokasiBFDPUnit_DaftarSpk_Target_SearchDropdown" data="optionsTambahAlokasiBFDPUnit_DaftarSpk_Target_Search"
							 item-text="name" item-value="value" on-select="value(selected)" placeholder="Select Search Criteria" icon="fa fa-search">
							</bsselect>
						</div>
						<div class="col-md-4">
							<button id="" onclick="" ng-click="TambahAlokasiBFDPUnit_DaftarSpk_Target_Filter_Clicked()" type="button" class="btn ng-binding ladda-button">
								<span class="ladda-label">
									Filter
								</span>
								<span class="ladda-spinner"></span>
							</button>
						</div>
					</div>
					<div class="row" style="margin-bottom:20px">
						<div class="col-md-12">
							<div id="TambahAlokasiBFDPUnit_DaftarSpkTarget_Grid" ui-grid="TambahAlokasiBFDPUnit_DaftarSpkTarget_UIGrid" class="grid"
							 style="width: 100%; height: 400px" ui-grid-auto-resize ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
						</div>
					</div>
				</div>

				<p style="margin-left:10px;margin-right:10px;margin-top:20px;color:red">
					Daftar Sales Order
					<hr style="margin-top:-10px;margin-left:10px;margin-right:10px; border-color:red" />
				</p>
				<div id="Show_TambahAlokasiBFDPUnit_DaftarSalesOrder" style="display:none;" class="col-md-12" style="padding: 10px 0 0 0; ">
					<div class="row">
						<div class="col-md-12">
							<div id="TambahAlokasiBFDPUnit_DaftarSalesOrder_Grid" ui-grid="TambahAlokasiBFDPUnit_DaftarSalesOrder_UIGrid" class="grid"
							 style="width: 100%; height: 200px" ui-grid-auto-resize ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns></div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-md-12" style="margin-top:10px;" ng-show="ShowTambahFooter">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<div class="form-group" style="display: block">

						<button ng-click="TambahAlokasiBFDPUnit_Simpan()" ng-disabled="ProsesSubmit" ladda="ProsesSubmit" data-style="expand-left" type="button" class="rbtn btn ng-binding ladda-button" style="float: right; margin-left:5px;">
							<span class="ladda-label">
								Pengajuan
							</span>
							<span class="ladda-spinner"></span>
						</button>

						<button ng-click="TambahAlokasiBFDPUnit_Batal()" type="button" class=" btn ng-binding ladda-button" style="float: right; margin-left:5px;">
							<span class="ladda-label">
								Kembali
							</span>
							<span class="ladda-spinner"></span>
						</button>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="ui modal" id="ModalTolakAlokasiBFDPUnit" role="dialog" style="width:400px;height:250px;margin-top:5px;margin-left:-200px">
	<div class="modalDefault-dialog" style="width:96%;margin-top:5px">
		<ul class="list-group">
			<p align="left" style="margin-left:10px">
				<div>Tanggal Alokasi BF/DP : {{ModalTolakAlokasiBFDPUnit_TanggalAlokasi}}</div>
				<div>Nomor Alokasi BF/DP : {{ModalTolakAlokasiBFDPUnit_AlokasiId}}</div>
				<div>Nama Pelanggan : {{ModalTolakAlokasiBFDPUnit_NamaPelanggan}}</div>
				<div>No SPK Sumber Alokasi : {{ModalTolakAlokasiBFDPUnit_SPKSumber}}</div>
				<div>No SPK Target Alokasi : {{ModalTolakAlokasiBFDPUnit_SPKTarget}}</div>
				<div>Nominal : {{ModalTolakAlokasiBFDPUnit_Nominal}}</div>
				<div>Tipe Pengajuan : Alokasi BF/DP</div>
				<div>Tanggal Pengajuan : {{ModalTolakAlokasiBFDPUnit_TanggalPengajuan}}</div>
			</p>
			<bsreqlabel>Input Alasan Penolakan</bsreqlabel>
			<textarea type="text" class="form-control" name="AlasanPenolakan" placeholder="Alasan Penolakan" ng-model="ModalTolakAlokasiBFDPUnit_AlasanPenolakan"
			 ng-maxlength="50" style="margin-bottom: 10px" required></textarea>

			<p align="center">
				<button class="col-sm-6" ng-click="Batal_LihatAlokasiBFDPUnit_TolakModal()" type="button" class="rbtn btn ng-binding ladda-button">
					Kembali
				</button>
				<button class="col-sm-6" ng-click="Pengajuan_LihatAlokasiBFDPUnit_TolakModal()" type="button" class="rbtn btn ng-binding ladda-button">
					Tolak
				</button>
			</p>
		</ul>
	</div>
</div>

<!--div class="modal fade" id="ModalLihatAlokasiBFDPUnit_PengajuanReversal" role="dialog">
	<div class="modal-content" style="width:25%; margin-top:15%; margin-left:45%;">
		<ul class="list-group">
			<bsreqlabel>Input Alasan Reversal</bsreqlabel>
			<textarea type="text" class="form-control" name="AlasanReversal" placeholder="Alasan Reversal" ng-model="LihatAlokasiBFDPUnit_PengajuanReversal_AlasanReversal"
			 ng-maxlength="50" style="margin-bottom: 10px" required></textarea>

			<p align="center">
				<button class="col-sm-6" onclick="Batal_LihatAlokasiBFDPUnit_PengajuanReversalModal()" ng-click="" type="button" class="rbtn btn ng-binding ladda-button">
					Batal
				</button>
				<button class="col-sm-6" onclick="Pengajuan_LihatAlokasiBFDPUnit_PengajuanReversalModal()" ng-click="Pengajuan_LihatAlokasiBFDPUnit_PengajuanReversalModal()" type="button" class="rbtn btn ng-binding ladda-button">
					Pengajuan
				</button>
			</p>
		</ul>
	</div>
</div-->