
        <div class="row">
          <div class="col-md-3">
            <bslabel>TAM Area</bslabel>                        
              <bsselect ng-model="filter.tamarea" 
                                name="tamarea" 
                                data="dataAreaTAM" 
                                item-text="areaName" 
                                item-value="areaId" 
                                on-select="areaId(selected)" 
                                placeholder="Select TAM Area">
              </bsselect>
          </div>

          <div class="col-md-3">
            <bslabel>Group Dealer</bslabel>                        
            <bsselect ng-model="filter.Dealer" 
                                name="dealer" 
                                data="dataDealer" 
                                item-text="dealerName" 
                                item-value="dealerCode" 
                                on-select="dealerCode(selected)" 
                                placeholder="Select Dealer">
            </bsselect>
          </div>
                  
          <div class="col-md-3">
            <bslabel>Group Dealer Area</bslabel>                        
             <bsselect ng-model="filter.dealerarea" 
                                name="dealerarea" 
                                data="dataAreaDealerHO" 
                                item-text="areaName" 
                                item-value="areaId" 
                                on-select="areaId(selected)" 
                                placeholder="Select Dealer Area">
            </bsselect>
          </div>

          <div class="clearfix"></div>

          <div class="col-md-3" style="margin-top:15px;">
            <bslabel>Cabang</bslabel>                        
            <bsselect ng-model="filter.Cabang" 
                                name="cabang" 
                                data="dataCabang" 
                                item-text="cabangName" 
                                item-value="cabangCode" 
                                on-select="cabangCode(selected)" 
                                placeholder="Select Cabang">
            </bsselect>
          </div>
          
          <div class="col-md-3" style="margin-top:15px;">
            <bslabel>Satelite</bslabel>                        
            <bsselect ng-model="filter.satellite" 
                      name="Satellite" 
                      data="dataSatellite" 
                      item-text="satelliteName" 
                      item-value="satelliteID" 
                      on-select="satelliteID(selected)" 
                      placeholder="Select Satellite">
            </bsselect>
          </div>

          <div class="col-md-3" style="margin-top:15px;">
            <div class="form-group">
              <label>Kategori Workshop: </label>
              <input type="text" class="form-control" ng-model="filter.kategori" name="kategoriWorkshop" placeholder="Kategori Workshop">
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="col-md-3">
            <div class="form-group">
              <bslabel>Periode</bslabel>
                <bsdatepicker
                      name="dateStart"
                      date-options="dateOptions"
                      ng-model="filter.DateStart"
                >
              </bsdatepicker>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="form-group">
              <bslabel>Periode</bslabel>
                <bsdatepicker
                      name="dateEnd"
                      date-options="dateOptions"
                      ng-model="filter.DateEnd"
                >
              </bsdatepicker>
            </div>
          </div>
          <div class="col-md-1"></div>
            <br><br>
            <!-- <div class="row">
            <div class="form-group pull-right"> 
              <button type="button" ng-click="getSummaryBPHO()" class="rbtn btn"> Filter </button>
            </div>
            </div> -->
        </div>
        
