          <div class="row">
          <div class="col-md-3">
            <div class="form-group" show-errors>
              <bslabel>Dealer</bslabel>                        
                <bsselect ng-model="filter.Dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)"    placeholder="Select Dealer">
                </bsselect>
              </div>
          </div>

          <div class="col-md-3">
            <div class="form-group" show-errors>
              <bslabel>Cabang</bslabel>                        
              <bsselect ng-model="filter.Cabang" data="dataCabang" item-text="cabangName" item-value="cabangCode" on-select="cabangCode(selected)"    placeholder="Select Cabang">
              </bsselect>
            </div>
          </div>
                  
          <div class="col-md-3">
            <div class="form-group" show-errors>
              <bslabel>Satelite</bslabel>                        
              <bsselect ng-model="filter.satelite" data="dataCabang" item-text="cabangName" item-value="cabangCode" on-select="cabangCode(selected)"    placeholder="Select Cabang">
              </bsselect>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="col-md-3" style="margin-top:15px;">
            <div class="form-group" show-errors>
              <bslabel>Periode</bslabel>
                <bsdatepicker
                  name="Tanggal"
                  date-options="dateOptions"
                  ng-model="filter.DateStart"
                >
              </bsdatepicker>

            </div>
          </div>
          
          <div class="col-md-3" style="margin-top:15px;">
            <div class="form-group" show-errors>
              <bslabel>Periode</bslabel>
                <bsdatepicker
                  name="Tanggal"
                  date-options="dateOptions"
                  ng-model="filter.DateEnd"
                >
              </bsdatepicker>

            </div>
          </div>

          <div class="col-md-3" style="margin-top:15px;">
            <div class="form-group" show-errors>
              <label>Kategori Workshop: </label>
              <input disabled="" type="text" class="form-control" name="kategori" placeholder="Title" 
              ng-model="filter.kategori">

            </div>
          </div>
          <div class="col-md-1"></div>
            <br><br>
            <!-- <div class="row">
            <div class="form-group pull-right"> 
              <button ng-click="getSummaryBPCabang()" type="button" class="rbtn btn"> Filter </button>
            </div>
            </div> -->
        </div>