<bsform-base ng-form="PsfuForm" loading="loading" show-advsearch="on" form-name="PsfuFormGRBranch" form-title="PsfuFormGRBranch" icon="fa fa-fw fa-child">

    <bsform-advsearch>
  <!-- <div class="panel panel-default"> -->
    <!-- <div class="panel-heading">Filter</div>     -->
      <div class="panel-body">
       <div class="row">
          <div class="col-md-4">
            <div class="form-group" show-errors>
              <bslabel>Dealer</bslabel>                        
                <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)"    placeholder="Select Dealer" required>
                </bsselect>
                <bserrmsg field="dealer"> harus diisi </bserrmsg>
              </div>
          </div>

          <div class="col-md-4">
            <div class="form-group" show-errors>
              <bslabel>Cabang</bslabel>                        
              <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)"    placeholder="Select Cabang" required>
              </bsselect>
            <bserrmsg field="cabang"> harus diisi </bserrmsg>
          </div>
        </div>
          
          <div class="col-md-4">
<!--             <div class="form-group"> -->
              <div class="form-group" show-errors>
              <label>Kategori Workshop: </label>
              <input disabled type="text" name="kategori" ng-model="filter.kategori" class="form-control" placeholder="General Repair" required>
              <bserrmsg field="kategori"> harus diisi </bserrmsg>
            </div>
          </div>
          <div class="clearfix"></div>

              <div class="col-md-3">
                <div class="form-group" show-errors>
                      <bsreqlabel>Periode Rencana Follow Up</bsreqlabel>
                      <!-- <bsdatepicker
                        name="dateStart"
                        date-options="dateOptions2"
                        ng-model="filter.DateStart"
                        required
                      >
                      </bsdatepicker> -->
                      <bsdatepicker 
                          name="dateStart" 
                          min-date="startMinOption" 
                          max-date="startMaxOption" 
                          date-options="DateFilterOptions1" 
                          ng-change="startDateChange"
                          ng-model="filter.DateStart"
                          required>
                      </bsdatepicker>
                      <bserrmsg field="dateStart"> harus diisi </bserrmsg>
                </div>               
              </div>
              <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
                <div class="col-md-4" style="margin-top:5px;">
                <div class="form-group" show-errors>
                      <label></label>
                      <bsdatepicker 
                          min-date="endMinOption" 
                          max-date="endMaxOption" 
                          name="dateEnd" 
                          date-options="DateFilterOptions2" 
                          ng-model="filter.DateEnd"
                          required>
                      </bsdatepicker>
                      <!-- <bsdatepicker
                          name="dateEnd"
                          date-options="dateOptions2"
                          ng-model="filter.DateEnd" required
                      >
                      </bsdatepicker> -->
                      <bserrmsg field="dateEnd"> harus diisi </bserrmsg>
                </div>
              </div>

          <div class="col-md-4"">
            <div class="form-group" show-errors>
              <bslabel>SA</bslabel>                        
              <bsselect ng-model="filter.SA" data="dataSA" item-text="employeeName" item-value="employeeCode" on-select="employeeCode(selected)"  name="SA"  placeholder="Select SA" required>
              </bsselect>
              <bserrmsg field="SA"> harus diisi </bserrmsg>
            </div>
          </div>
        </div> 
      </div>
<!--       <div class="row">
          <div class="form-group pull-right">
            <button ng-click="getSummaryGRCabang()" align ="margin-right" type="button" class="rbtn btn">Filter</button>
          </div>
      </div> -->
<!-- </div> -->
    </bsform-advsearch>

        <bsform-base-main>
          <div  ng-include="'app/services/report/GR/PSFUGR/psfuSummary.html'"></div>
        </bsform-base-main>
</bsform-base>


