<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="ActivityChecklistItemInspeksiForm" factory-name="ActivityChecklistItemInspeksi" model="mActivityChecklistItemInspeksi" model-id="ChecklistItemInspectionId" loading="loading" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="ActivityChecklistItemInspeksiForm" form-title="Activity Checklist Item Inspeksi" modal-title="Activity ChecklistItemInspeksi" modal-size="small" icon="fa fa-fw fa-child">
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <bsreqlabel>Nama Group Checklist Item Inspeksi</bsreqlabel>
                    <bsselect name="parentRole" data="GroupInspeksi" item-text="GroupChecklistInspectionName" item-value="GroupChecklistInspectionId" icon="fa fa-search glyph-left" ng-model="mActivityChecklistItemInspeksi.GroupChecklistInspectionId" placeholder="Nama Group Checklist Item Inspeksi" style="min-width: 150px;">
                    </bsselect>
                    <bserrmsg field="parentRole"></bserrmsg>
                </div>

                <div class="form-group" show-errors>
                    <bsreqlabel>Nama Checklist Item Inspeksi</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="nama" placeholder="Nama Checklist Item Inspeksi" ng-model="mActivityChecklistItemInspeksi.ChecklistItemInspectionName" ng-maxlength="50" required>
                    </div>
                    <bserrmsg field="nama"></bserrmsg>
                </div>
            </div>
        </div>
</bsform-grid-tree>

