<script type="text/javascript">

</script>
<style type="text/css">

fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.grid {
  /*width: 500px;*/
  height: 300px;
}

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->



  <!--<fieldset>
    <legend>Filter</legend>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">No. Parts</label>
        <input type="text" placeholder="" class="form-control">
      </div>
      <div class="col-md-3">
        <label class="control-label">Nama Parts</label>
        <input type="text" placeholder="" class="form-control">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">ICC</label>
        <select class="form-control">
          <option value="A">Very Fast</option>
          <option value="B">Fast Moving</option>
          <option value="C">Medium Moving</option>
          <option value="D">Slow Moving</option>
          <option value="E">Non Moving</option>
          <option value="S">Dead Stock</option>
          <option value="K">Kanban</option>
        </select>
      </div>
      <div class="col-md-3">
        <label class="control-label">SCC</label>
        <select class="form-control">
          <option>Over Haul Item</option>
          <option>Body Item</option>
          <option>Accessories Item</option>
          <option>CBU Non TAM</option>
          <option>Discontinue Item</option>
        </select>
      </div>
      <div class="col-md-3">
        <label class="control-label">.</label>
        <div class="checkbox">
          <label><input type="checkbox" value="">Critical Stock</label>
        </div>
      </div>
      <div class="col-md-3">
        <label class="control-label" style="color: transparent">.</label><br>
        <button class="btn wbtn">Filter</button>
        <button class="btn wbtn">Hapus Filter</button>
      </div>
    </div>
  </div>
  </fieldset>

<fieldset>
  <legend>List</legend>
  <div ng-controller="SOQMaintenanceController">
    <div ui-grid="grid" class="grid" ui-grid-auto-resize ui-grid-edit ui-grid-cellNav ui-grid-pagination></div>
  </div>

</fieldset>-->


<bsform-grid
        ng-form="SOQMaintenanceForm"
        factory-name="SOQMaintenance"
        model="mSOQMaintenance"
        model-id="noParts"
        loading="loading"
        show-advsearch="on"
        on-bulk-approve="onBulkApproveSOQ"
        on-bulk-reject="onBulkRejectSOQ"
        get-data="getData(mSOQMaintenance)"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        grid-hide-action-column="gridHideActionColumn"
        hide-new-button="true"

        form-name="SOQMaintenanceForm"
        form-title="SOQMaintenance"
        modal-title="SOQMaintenance"
        modal-size="small"
        icon="fa fa-fw fa-child"
        rights-byte = "myRights"

        external-scopes="gridScope"
        on-after-register-grid-api="afterRegisterGridApi"
        >
        <!-- external-scopes="clickHandler" -->
        <bsform-advsearch>
        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <label class="control-label">No. Parts</label>
              <input type="text" ng-model="mSOQMaintenance.PartsCode" placeholder="" class="form-control">
            </div>
            <div class="col-md-3">
              <label class="control-label">Nama Parts</label>
              <input type="text" ng-model="mSOQMaintenance.PartsName" placeholder="" class="form-control">
            </div>
            <div class="col-md-3">
              <label class="control-label">&nbsp</label>
              <!-- <input type="text" placeholder="" class="form-control"> -->
            </div>
            <div class="col-md-3">
              <!-- <label class="control-label"><i>Perhitungan SOQ terakhir  : {{Lastprocessed | date : 'yyyy-MM-dd'}}<i></label> -->
              <label class="control-label"><i>Perhitungan SOQ terakhir  : {{Lastprocessed | date : 'dd-MMM-yyyy hh:mm'}}<i>
                                          <br> <i>Dari MIP tanggal : {{DateMIP | date : 'dd-MMM-yyyy'}}<i>
                                          <br> <i>Status  : {{StatusDesc}}<i>
              </label>
              <!-- <input type="text" placeholder="" class="form-control"> -->
            </div>
          <!-- </div> -->
          </div>
          <br>
          <!-- break row -->
          <div class="row">
            <div class="col-md-3">
              <label class="control-label">ICC</label>
                <bsselect
                    name="typeSearch"
                    ng-model="mSOQMaintenance.ICCid"
                    data="dataICC"
                    item-text="Description"
                    item-value="PartsClassId"
                    placeholder="Pilih ICC"
                    on-select=selectFilter(selected)
                    >
                </bsselect>
              <!-- <select class="form-control" ng-model="mSOQMaintenance.ICCid">
                <option value=""></option>
                <option value="A">Very Fast Moving</option>
                <option value=3>Fast Moving</option>
                <option value=4>Medium Moving</option>
                <option value=5>Slow Moving</option>
                <option value=6>Non Moving</option>
                <option value=73>Dead Stock</option>
                <option value="K">Kanban</option>
              </select> -->
            </div>
            <div class="col-md-3">
              <label class="control-label">SCC</label>
              <!-- <select class="form-control" ng-model="mSOQMaintenance.SCCid">
                <option></option>
                <option value="">Overhaul Item</option>
                <option value=11>Body Item</option>
                <option value=12>Accessories Item</option>
                <option value=13>CBU Non TAM</option>
                <option value=14>Discontinue Item</option>
              </select> -->
              <bsselect
                  name="typeSearch"
                  ng-model="mSOQMaintenance.SCCid"
                  data="dataSCC"
                  item-text="Description"
                  item-value="PartsClassId"
                  placeholder="Pilih SCC"
                  on-select=selectFilter(selected)
                  >
              </bsselect>
            </div>
            <div class="col-md-3">
              <label class="control-label">&nbsp</label>
              <div class="checkbox">
                <label><input type="checkbox" ng-model="mSOQMaintenance.CriticalStock" value="">Critical Stock</label>
              </div>
            </div>
            <div class="col-md-2" text-right>
              <!-- <label class="control-label" style="color: transparent">.</label><br>
              <button class="btn wbtn pull-right" ng-click="hapusFilter()">Hapus Filter</button> -->
              <!-- <label class="control-label">&nbsp</label> -->
              <label class="control-label">&nbsp</label>
              <label class="control-label">&nbsp</label>
              <div class="">
                  <label class="control-label">&nbsp</label>
                  <div class="">
                    <label class="control-label">&nbsp</label>
                    <button class="btn wbtn pull-right" ng-click="hapusFilter()">Hapus Filter</button>
                  </div>
              </div>
            </div>
        </div>
      </div>
      </bsform-advsearch>

</bsform-grid>

<!--tombol bawah-->
<div class="form-group">
  <div class="row">
    <div class="col-md-12">
      <div style="text-align: right;">
        <button class="btn rbtn" ng-click="simpanDraft()" ng-disabled="CekStatusSOQ">Simpan Draft</button>
        <button class="btn rbtn" ng-click="SimpanDanApprove()" ng-disabled="CekStatusSOQ">Simpan</button>
        <button class="btn rbtn" ng-click="buatPO()" ng-disabled="CekStatusPO">Buat PO</button>
      </div>
    </div>
  </div>
</div>
