<link rel="stylesheet" href="css/uistyle.css">
<link rel="stylesheet" href="css/uitimelinestyle.css">

<script type="text/javascript">
    function IfGotProblemWithModal() {
        $('body .modals').remove();
    }
</script>

<link rel="styleSheet" href="release/ui-grid.min.css" />
<script src="/release/ui-grid.min.js"></script>
<style type="text/css">

fieldset.scheduler-border {
    width:auto; border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<div ng-show="MaintainFormGrAccStandar">
    <!-- <button id="btnbuatGR" ng-click="btnbuatGR(selected_rows)" class="rbtn btn ng-binding ladda-button" style="float:right; margin:-30px 0 0 2px; width:11%;"><i class="fa fa-fw fa-plus"></i><span class="ladda-spinner"></span>Tambah</button>
    <button ng-disabled="btnbatalGR" ng-click="btnBatalGR();" class="rbtn btn ng-binding ladda-button" style="float:right; margin:-30px 0 0 5px; width:11%;">Batal GR</button> -->
    <bsform-grid 
        ng-form="GoodReceiptForm" factory-name="GoodReceiptAccFactory" model="mGoodReceipt" model-id="Id" grid-hide-action-column="true" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" show-advsearch="on" hide-new-button="true" form-name="GoodReceiptForm" form-title="GR" modal-title="GoodReceipt" modal-size="small" icon="fa fa-fw fa-child" >
            <bsform-advsearch>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <bsreqlabel>Tipe PO</bsreqlabel>
                            <bsselect id="comboBox" name="filterModel" ng-disabled="true" ng-model="filter.POTypeId" data="getTypePOAccStandar" item-text="POTypeName" item-value="POTypeId" on-select="POTypeId" placeholder="" icon="fa fa-search">
                            </bsselect>
                        </div>
                    </div>  
                    <div class="col-md-3">
                        <div class="input-icon-right">
                            <bslabel>Status GR</bslabel>
                            <bsselect id="comboBox" name="filterModel" ng-disabled="true" ng-model="filter.GRStatusId" data="getDataStatusGR" item-text="GRStatusName" item-value="GRStatusId" on-select="GRStatusId" placeholder="" icon="fa fa-search">
                            </bsselect>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <bsreqlabel>Tanggal Dokumen GR</bsreqlabel>
                            <bsdatepicker name="tanggal" ng-model="filter.GRDateStart" date-options="dateOptionsStart" icon="fa fa-calendar">
                            </bsdatepicker>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <bsreqlabel>Sampai Tanggal</bsreqlabel>
                            <bsdatepicker name="tanggal" ng-model="filter.GRDateEnd" date-options="dateOptionsEnd" icon="fa fa-calendar">
                            </bsdatepicker>
                        </div>
                    </div> 
                </div>
            </bsform-advsearch>    
    </bsform-grid>

    <!--<bsui-modal  
        show="show_modal.show" title="Alasan Batal GR" data="modal_model" on-save="onListSave" on-cancel="onListCancel" mode="modalMode">
        <div ng-form name="contactForm">    
            <div class="row">
                <div class="col-md-6">           
                    <div class="form-group">         
                        <bsreqlabel>Alasan</bsreqlabel>
                        <bsselect name="Reason" ng-model="item[0].ReasonCancelGRId" data="getDataCancelGR" item-text="ReasonCancelGRName" item-value="ReasonCancelGRId" on-select="ReasonCancelGRId" placeholder="">
                        </bsselect>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">       
                    <div class="form-group">
                        <bsreqlabel>Keterangan</bsreqlabel>
                            <textarea type="text" class="form-control" name="nama" placeholder="" ng-model="item[0].ReasonCancelNote" rows="8" cols="60" required>
                    </div>
                </div>
            </div>
        </div>
    </bsui-modal>-->
	<div class="ui modal ModalGoodReceipt_AlasanBatalGR" role="dialog">
        <div class="modal-header">
            <button ng-click="KembaliModalGoodReceipt_AlasanBatalGR()" type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Alasan Batal GR</h4>
        </div>
		<div class="modal-body">    
            <div class="row">
                <div class="col-md-6">           
                    <div class="form-group">         
                        <bsreqlabel>Alasan</bsreqlabel>
                        <bsselect name="Reason" ng-model="item[0].ReasonCancelGRId" data="getDataCancelGR" item-text="ReasonCancelGRName" item-value="ReasonCancelGRId" on-select="ReasonCancelGRId" placeholder="">
                        </bsselect>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">       
                    <div class="form-group">
                        <bsreqlabel>Keterangan</bsreqlabel>
                            <textarea type="text" class="form-control" name="nama" placeholder="" ng-model="item[0].ReasonCancelNote" rows="8" cols="60" required>
                    </div>
                </div>
            </div>
        </div>
		<div class="modal-footer">
            <button ng-click="SimpanModalGoodReceipt_AlasanBatalGR()" ng-disabled="disabledSimpanModalGoodReceipt_AlasanBatalGR" class="rbtn btn ng-binding ladda-button" style="float: right;"><span><i class="fa fa-check" aria-hidden="true"></i>Simpan</span></button>
			<button ng-click="KembaliModalGoodReceipt_AlasanBatalGR()" class="wbtn btn ng-binding ladda-button" style="float: right;">Kembali</button>
        </div>
    </div>
</div>

<div ng-show="CreateviewForm">
    <div class="row" style="margin:-30px 0 0 2px;">
    <button id="TutupBtn" ng-disabled="ViewGR.NoSuratJalan==''||ViewGR.POTypeId==null||ViewGR.POTypeId==undefined||ViewGR.VendorId==null||ViewGR.VendorId==undefined||ViewGR.POId==null||ViewGR.POId==undefined||ViewGR.NoSuratJalan==null||ViewGR.NoSuratJalan==undefined||ViewGR.ReceivedDate==null||ViewGR.ReceivedDate==undefined||ViewGR.ReceivedTime==null||ViewGR.ReceivedTime==undefined || disabledGrid || disabledSimpanGRBtn" ng-click="simpanGRBtn()" class="rbtn btn ng-binding ladda-button" style="float:right; width:11%;" ng-show="SaveGR">Simpan</button>
    <button id="TutupBtn" ng-click="TutupBtn()" class="wbtn btn ng-binding ladda-button" style="float:right; width:11%;" ng-show="lihatGR">Kembali</button>
    </div>
    <fieldset>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tipe PO</label>
                    <div class="input-icon-right">
                        <!-- <i class="fa fa-pencil"></i> -->
                        <input type="text" class="form-control" ng-disabled="true" name="nama" placeholder="Tipe PO" ng-model="getDataPO[0].POTypeName" maxlength="50" required>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group">
                    <label>No GR</label>
                    <div class="input-icon-right">
                        <!-- <i class="fa fa-pencil"></i> -->
                        <input type="text" class="form-control" ng-disabled="true" name="nama" placeholder="No GR" ng-model="getDataPO[0].NoGR" maxlength="50" required>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>No. PO</bsreqlabel>
                    <!-- <div ng-hide="flagStatus == 'LihatGR'" class="input-icon-right">
                        <bsselect ng-disabled="DataPOCode.length == 0" id="comboBox" name="PONo" ng-model="ViewGR.POId" data="DataPOCode" item-text="POCode" item-value="POId" on-select="POId" ng-change="ChangeNumberPO()" placeholder="" icon="fa fa-search">
                    </bsselect>
                    </div> -->
					<!-- <div ng-show="flagStatus == 'LihatGR'" class="input-icon-right"> -->
                        <input disabled type="text" class="form-control" ng-disabled="true" name="PONo" placeholder="Nomor PO" ng-model="getDataPO[0].PoCode" required>
                    </div>					
                </div>

            <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>Nama Vendor</bsreqlabel>
                    <!-- <bsselect ng-disabled="DataVendor.length == 0" id="comboBox" name="Vendor" ng-model="ViewGR.VendorId" data="DataVendor" item-text="Name" item-value="VendorId" on-select="pilihVendor(selected)" placeholder="" icon="fa fa-search">
                    </bsselect>    -->
                    <div class="input-icon-right">
                        <input disabled type="text" class="form-control" ng-disabled="true" name="PONo" placeholder="Nama Vendor" ng-model="getDataPO[0].NamaVendor" required>
                    </div>
                </div>         
            </div>
        </div>

        <div class="row">
            <!-- <div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>No Surat Jalan</bsreqlabel>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="nama" placeholder="No Surat Jalan" ng-model="ViewGR.NoSuratJalan" maxlength="50" required>
                    </div>
                </div>
            </div> -->

            <div class="col-md-3">
                <div class="form-group">
                    <label>Tanggal Terima Barang</label>
                    <bsdatepicker name="tanggal" date-options="dateOptionsStart" ng-disabled="true" ng-model="getDataPO[0].TanggalGR" icon="fa fa-calendar">
                    </bsdatepicker>
                </div>
            </div>
			<div class="col-md-3">
                <div class="form-group">
                    <bsreqlabel>No Rangka</bsreqlabel>
					<div>
                    <input class="form-control" type="text" ng-model="getDataPO[0].VIN" ng-disabled = "true" />
					</div>
				</div>
            </div>
        </div>

        <!-- <div class="row" ng-show="TextboxLihatGR">
            <div class="col-md-3">
                <div class="form-group">
                    <label>No GR</label>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="nama" placeholder="No GR" ng-model="ViewGR.GRCode" maxlength="50" required>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Tanggal Dokumen GR</label>
                    <bsdatepicker name="tanggal" date-options="dateOptionsStart" ng-model="ViewGR.GRDate" icon="fa fa-calendar">
                    </bsdatepicker>
                </div>
            </div>

             <div class="col-md-3">
                <div class="form-group">
                    <label>Status GR</label>
                    <div class="input-icon-right">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" name="nama" placeholder="Status GR" ng-model="ViewGR.GRStatusName" maxlength="30" required>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Catatan Penerimaan</label>
                    <textarea type="text" class="form-control" ng-disabled = "true" name="nama" placeholder="" ng-model="getDataPO[0].Note" rows="5" cols="60" maxlength="250">
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row" style="margin: 0 0 0 0">
        <!-- <p align="right" style="font-size:12px">
            * Double-click pada kolom Qty diterima untuk mengupdate jumlah barang
        </p> -->
		<div style="width:100%">
            <div ui-grid="gridCreateViewGoodReceipt" ui-grid-edit ui-grid-selection ui-grid-pinning ui-grid-pagination ui-grid-auto-resize class="grid" ng-cloak>
            </div>
        </div>
    </div>
</div>