<div class="form-group">
    <!-- [START] Form Level 1 -->
    <div class="row">
        <div class="col-md-3">
            <bsreqlabel class="control-label">Tipe PO </bsreqlabel>
            <!-- <select class="form-control" ng-model="mData.POTypeId" disabled>
                <option value="{{mData.POTypeId}}" selected>{{ToNameTypePo(mData.POTypeId)}}</option>   
            </select> -->
            <select ng-disabled="mData.POTypeId == 6" class="form-control" ng-model="mData.POTypeId" >                
                <option value="{{mData.POTypeId}}" selected>{{ToNameTypePo(mData.POTypeId)}}</option>
                <option value="1">{{ToNameTypePo(1)}}</option>
                <option value="2">{{ToNameTypePo(2)}}</option>
                <option value="3">{{ToNameTypePo(3)}}</option>
                <option ng-hide="mData.POTypeId != 6" value="6">{{ToNameTypePo(6)}}</option>
                <option value="4">{{ToNameTypePo(4)}}</option>
                <option ng-if="mData.MaterialTypeId == 2" value="5">{{ToNameTypePo(5)}}</option>
            </select>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <bsreqlabel class="control-label">Referensi PO </bsreqlabel>
            <select class="form-control" ng-model="mData.RefPOTypeId" disabled>
                <option value="{{mData.RefPOTypeId}}" selected>{{ToNameRefPo(mData.RefPOTypeId)}}</option>              
            </select>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <!-- <label class="control-label">No. Appointment *</label>    
                <div class="input-group">
                    <input type="text" ng-model="mData.RefPONo" class="form-control" required>
                    <label class="input-group-btn">
                        <span class="btn wbtn" ng-click="onSearchRefPONo(mData.RefPONo)">
                            <i class="fa fa-search"></i>
                        </span>
                    </label>                    
                </div>      -->
            <div class="form-group">
                <bsreqlabel>No. Appointment</bsreqlabel>
                <!-- <bsselect name="AppointmentNo" ng-model="mData.RefPONo" data="REf2" item-text="AppointmentNo" item-value="AppointmentNo" placeholder="" on-select="onSearchRefPONo(mData.RefPONo)" icon="fa fa-search">
                </bsselect> -->
                <bstypeahead placeholder="No. Apporintment" name="noAppointment" ng-model="mData.RefPONo" get-data="getNoAppointment" item-text="AppointmentNo" ng-maxlength="250" disallow-space loading="loadingUsers" selected="selected" on-select="onNewSearchRefPONo"
                    on-gotresult="onGotResult" on-noresult="onNoAppointmentResult" ta-minlength="4" icon="fa-id-card-o">
                </bstypeahead>
                <em ng-show="mData.RefPONo.length < 4" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p>Minimal 4 karakter untuk pencarian</p>
                </em>
                <!-- <em ng-show="mData.RefPONo.length >= 4" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p>&nbsp;</p>
                </em> -->
            </div>
        </div>
    </div>
    <!-- [END] Form Level 1 -->
    <br>
    <!-- [START] Form Level 2 -->
    <div class="row">
        <div class="col-md-3">
            <bsreqlabel class="control-label">Tipe Material </bsreqlabel>
            <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                <option selected value="{{mData.MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
            </select>
        </div>
        <div ng-show="isTAM" class="col-md-3  col-md-offset-1">
            <bsreqlabel class="control-label">BO TAM Follow </bsreqlabel>
            <!-- <select class="form-control" ng-model="mData.BackOrderFollowId" required>
                                <option value="9">Fill</option>
                                <option value="1" selected>Kill</option>
                            </select> -->
            <bsselect name="typeSearch" ng-model="mData.BackOrderFollowId" data="BoTam" item-text="Name" item-value="Id"
                placeholder="Pilih BO TAM Follow" ng-disabled="botamstatus">
            </bsselect>
        </div>
        <div ng-show="isTAM && mData.POTypeId == 6" class="col-md-3  col-md-offset-1">
            <bsreqlabel class="control-label">Jenis Order Tire </bsreqlabel>
            <bsselect name="typeSearch" ng-model="mData.TireOrderId" data="OrderTire" item-text="Name" item-value="Id"
                placeholder="Pilih Jenis Order Tire" ng-disabled="botamstatus">
            </bsselect>
        </div>
    </div>
    <!-- [END] Form Level 2 -->

    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <!-- [START] Form Level 3 -->
    <div class="row">
        <div class="col-md-3">
            <bsreqlabel class="control-label">Vendor </bsreqlabel>
            <!-- <input class="form-control" type="text" ng-model="mData.VendorId" placeholder="V001-SPLD"></input> -->
            <bsselect name="vendor" ng-model="mData.VendorId" data="vendorData" item-text="Name" item-value="VendorId" placeholder="" on-select="selectVendor(selected)" icon="fa fa-search" ng-disabled="isTAM">
            </bsselect>
            <!-- <pre>{{mData}}</pre> -->
        </div>
        <div class="col-md-3 col-md-offset-1">
            <bsreqlabel class="control-label">Metode Pembayaran </bsreqlabel>
            <select class="form-control" ng-model="mData.PaymentMethodId" required>
                <option value="1" selected ng-selected="mData.PaymentMethodId == 1">Tagihan</option>
                <option value="2" selected ng-selected="mData.PaymentMethodId == 2">Tunai</option>
            </select>
            <!-- <select class="form-control" required>
                <option value="{{mData.PaymentMethodId}}" selected>{{ToPaymentMethodId(mData.PaymentMethodId)}}</option>
            </select> -->
        </div>
        <div class="col-md-3 col-md-offset-1">
            <bsreqlabel class="control-label">Jangka Waktu Bayar (Hari)</bsreqlabel>
            <input class="form-control" type="number" ng-model="mData.PaymentPeriod" name="j_w_bayar" ng-disabled="mData.POTypeId != 6"></input>
        </div>
        <!-- <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>         -->
    </div>
    <br />
    <div ng-show="mData.POTypeId == 6" class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Tanggal & Waktu Dibutuhkan</label>
                    <div class="tanggal">
                        <bsdatepicker
                        name="NecessaryDate"
                        date-options="dateOptions"
                        ng-model="mData.NecessaryDate"
                        min-date="minDate"
                        ng-change="necessaryDateChange()"
                        > 
                        </bsdatepicker>
                    </div> 
            </div>
        </div>
        <div class="col-md-1" style="margin-top:-10px;">
            <div uib-timepicker ng-model="mData.NecessaryTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
        </div>
    </div>
    <!-- [END] Form Level 3 -->

    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>

    <!-- [START] Form Level 4 -->
    <div class="row">
        <div class="col-md-2" style="pointer-events: none;">
            <bsreqlabel class="control-label">Tanggal Appointment </bsreqlabel>
            <bsdatepicker name="endDate" date-options="dateOptions" ng-model="mData.AppointmentDate" ng-disabled=true>
            </bsdatepicker>
        </div>
        <div class="col-md-1">
            <label class="control-label">&nbsp</label>
            <input class="form-control" type="text" ng-model="mData.AppointmentTime" name="no_polisi" readonly></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">No Polisi</label>
            <input class="form-control" type="text" ng-model="mData.NoPol" name="no_polisi" readonly></input>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>
    <!-- [END] Form Level 4 -->

    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <!-- [START] Form Level 5 -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">No Rangka</label>
            <input class="form-control" type="text" ng-model="mData.MachineNo" name="no_rangka" readonly></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Full Model</label>
            <input class="form-control" type="text" ng-model="mData.FullModel" name="full_model" readonly></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Tahun Rakit</label>
            <input class="form-control" type="text" ng-model="mData.Year" name="tahun_rakit" readonly></input>
        </div>
        <!-- <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div> -->
    </div>
    <!-- [END] Form Level 5 -->
    <br />
    <!-- [START] Form Level 6 -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Model</label>
            <input class="form-control" type="text" ng-model="mData.ModelName" name="nomodel" readonly></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Kode Warna</label>
            <input class="form-control" type="text" ng-model="mData.VehicleColourCode" name="kode_warna" readonly></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Warna</label>
            <input class="form-control" type="text" ng-model="mData.Name" name="warna" readonly></input>
        </div>
    </div>
    <!-- [END] Form Level 6 -->

    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <!-- [START] Form Level 7 -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Grand Total</label>
            <input class="form-control" style="text-align : left" type="text" format="number" 
                ng-model="mData.TotalAmount" name="grandtotal" readonly></input>
        </div>
    </div>
    <!-- [END] Form Level 7 -->
    <br />
    <!-- [START] Form Level 7 -->
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Notes</label>
            <textarea class="form-control" ng-maxlength="8000" maxlength="8000" row='5' ng-model="mData.Notes"></textarea>
        </div>
    </div>
    <!-- [END] Form Level 7 -->
</div>

<br/>
<!--<fieldset style="padding-top: 10px"></fieldset>-->
<!-- <div class="row"> -->

    <div class="col-md-2" ng-hide="mData.RefPOTypeId == '1'">
        <div class="input-group-btn dropdown" uib-dropdown="">
            <button style="margin-right:5px;" type="button" 
            class="btn wbtn dropdown-toggle" onclick="this.blur()" uib-dropdown-toggle="" 
            data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="true">Bulk Action&nbsp;
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <!-- ngIf: allowDelete -->
            <li>
            <!-- ngIf: selectedRows.length>0 --><a href="#">Hapus</a>
            <!-- end ngIf: selectedRows.length>0 --></li>
            <!-- end ngIf: allowDelete -->
            <!-- ngIf: allowApprove -->
            <!-- ngIf: allowReject -->
            <!-- ngIf: allowReview -->
            <!-- ngRepeat: customBulk in customBulkFunc -->
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="grid1" ui-grid="tam_sop_appointment" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
        <br/>
        <label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">Keterangan :<b>Harga Standard Cost di PO merupakan harga Standard Cost dari Master dikurangi PPn</b></label>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div align="right">
            <button class="btn wbtn" ng-click="onShowVendorPO()">Lihat Detail Vendor</button>
            <!-- <button class="btn wbtn" ng-click="batalPC()">Batal PO</button> -->
            <button class="btn wbtn" ng-click="goBack()">Kembali</button>
            <button ng-disabled="checkRefGINo" class="btn rbtn" ng-click="SimpanDraft(mData)">Simpan Draft</button>
            <button ng-disabled="checkRefGINo" class="btn rbtn" ng-click="simpanAppointment(mData)">{{labelTAM}}</button>
        </div>
    </div>
</div>

<!-- <pre>{{mData.SumTotalAmount()}}</pre> -->