<div class="form-group">           
    <!-- [START] Form Level 1 -->
    <div class="row">
        <div class="col-md-3">
            <bsreqlabel class="control-label">Tipe PO </bsreqlabel>
            <bsselect name="POType" ng-model="mData.POTypeId" data="POTypeData" item-text="Name" item-value="POTypeId" placeholder="" on-select="" icon="fa fa-search">
            </bsselect>
        </div>
        <div class="col-md-3 col-md-offset-1">                
            <bsreqlabel class="control-label">Referensi PO </bsreqlabel>
            <bsselect name="RefPOType" ng-model="mData.RefPOTypeId" data="RefPOTypeData" item-text="Name" item-value="RefPOTypeId" placeholder="" on-select="" icon="fa fa-search">
            </bsselect>
        </div>
        <div class="col-md-3 col-md-offset-1">                
            <bsreqlabel class="control-label">No Appointment </bsreqlabel>    
            <input class="form-control" type="text" ng-model="mData.RefPONo" name="no_appointment"></input>               
        </div>                              
    </div>
    <!-- [END] Form Level 1 -->

    <br />

    <!-- [START] Form Level 2 -->
    <div class="row">
        <div class="col-md-3">
            <bsreqlabel class="control-label">Tipe Material </bsreqlabel>
            <select class="form-control" ng-model="mData.MaterialTypeId" disabled required>
                <option selected value="{{mData.MaterialTypeId}}">{{ToNameMaterial(mData.MaterialTypeId)}}</option>
            </select>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <bsreqlabel class="control-label">BO TAM Follow </bsreqlabel>
            <select class="form-control" ng-model="mData.BackOrderFollowId" disabled required>
                <option selected value="{{mData.BackOrderFollowId}}">{{ToNameBoTam(mData.BackOrderFollowId)}}</option>
            </select>
        </div>
        <div ng-show="mData.POTypeId == 6" class="col-md-3  col-md-offset-1">
            <bsreqlabel class="control-label">Jenis Order Tire </bsreqlabel>
            <bsselect name="typeSearch" ng-model="mData.TireOrderId" data="OrderTire" item-text="Name" item-value="Id"
                placeholder="Pilih Jenis Order Tire" ng-disabled="botamstatus">
            </bsselect>
        </div>
    </div>
    <!-- [END] Form Level 2 -->

    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <!-- [START] Form Level 3 -->
    <div class="row">
        <div class="col-md-3" >
            <bsreqlabel class="control-label">Vendor </bsreqlabel>
            <!-- <input class="form-control" type="text" ng-model="mData.VendorId" placeholder="V001-SPLD"></input> -->
            <bsselect name="vendor" ng-model="mData.VendorId" data="vendorData" item-text="Name" item-value="VendorId"
                placeholder="" on-select="selectVendor(selected)" icon="fa fa-search" ng-disabled="isTAM">
            </bsselect>
            <!-- <pre>{{mData}}</pre> -->
        </div>
        <div class="col-md-3 col-md-offset-1">
            <bsreqlabel class="control-label">Metode Pembayaran </bsreqlabel>
            <select class="form-control" required disabled>
                <!-- <option selected>Kredit</option> -->
                <option value="{{mData.PaymentMethodId}}" selected>{{ToPaymentMethodId(mData.PaymentMethodId)}}</option>
            </select>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <bsreqlabel class="control-label">Jangka Waktu Bayar (Hari)</bsreqlabel>
            <input class="form-control" type="number" ng-model="mData.PaymentPeriod" name="j_w_bayar" disabled></input>
        </div>
        <!-- <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div> -->
    </div>
    <br />
    <div ng-show="mData.POTypeId == 6" class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Tanggal & Waktu Dibutuhkan</label>
                    <div class="tanggal">
                        <bsdatepicker
                        name="NecessaryDate"
                        date-options="dateOptions"
                        ng-model="mData.NecessaryDate"
                        min-date="minDate"
                        ng-change="necessaryDateChange()"
                        > 
                        </bsdatepicker>
                    </div> 
            </div>
        </div>
        <div class="col-md-1" style="margin-top:-10px;">
            <div uib-timepicker disabled style="pointer-events: none" ng-model="mData.NecessaryTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
        </div>
    </div>
    <!-- [END] Form Level 3 -->

    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <!-- [START] Form Level 4 -->
    <div class="row">
        <div class="col-md-2" style="pointer-events: none">
            <bsreqlabel class="control-label">Tanggal Appoinment </bsreqlabel>
            <bsdatepicker
                name="endDate"
                date-options="dateOptions"
                ng-model="mData.AppointmentDate"
                ng-disabled = true
                >
            </bsdatepicker>
        </div>
        <div class="col-md-1">
            <label class="control-label">&nbsp</label>                
            <input class="form-control" type="text" ng-model="mData.AppointmentTime" name="no_polisi" disabled></input>            
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">No Polisi</label>
            <input class="form-control" type="text" ng-model="mData.NoPol" name="no_polisi" disabled></input>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">&nbsp</label>
        </div>
    </div>
    <!-- [END] Form Level 4 -->

    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <!-- [START] Form Level 5 -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">No Rangka</label>
            <input class="form-control" type="text" ng-model="mData.MachineNo" name="no_rangka" disabled></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Full Model</label>
            <input class="form-control" type="text" ng-model="mData.FullModel" name="full_model" disabled></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Tahun Rakit</label>
            <input class="form-control" type="text" ng-model="mData.Year" name="nomodel" disabled></input>
        </div>
    </div>
    <!-- [END] Form Level 5 -->
    
    <br />
    
    <!-- [START] Form Level 6 -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Model</label>
            <input class="form-control" type="text" ng-model="mData.ModelName" name="nomodel" disabled></input> 
        </div>
        <div class="col-md-3 col-md-offset-1">                
            <label class="control-label">Kode Warna</label>
            <input class="form-control" type="text" ng-model="mData.VehicleColourCode" name="kode_warna" disabled></input>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Warna</label>                 
            <input class="form-control" type="text" ng-model="mData.Name" name="warna" disabled></input>
        </div>                              
    </div>
    <!-- [END] Form Level 6 -->

    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <!-- [START] Form Level 7 -->
    <div class="row">
        <div class="col-md-3">                
            <label class="control-label">No PO</label>
            <input class="form-control" style="text-align : left" type="text" ng-model="mData.PurchaseOrderNo" disabled></input> 
        </div>
        <div class="col-md-2 col-md-offset-1" style="pointer-events: none">
            <label class="control-label">Tanggal PO</label>
            <bsdatepicker
                name="endDate"
                date-options="dateOptions"
                ng-model="mData.DocDate"
                ng-disabled = true
                >
            </bsdatepicker>
        </div>
        <div class="col-md-1">
            <label class="control-label">&nbsp</label>
            <input class="form-control" type="text" ng-value="ToReturnHour(mData.CreatedDate)" name="no_polisi" disabled></input> 
        </div>                              
    </div>
    <!-- [END] Form Level 7 -->

    <br />

    <!-- [START] Form Level 7 -->
    <div class="row">
        <div class="col-md-3">                
            <label class="control-label">Status</label>
            <input class="form-control" style="text-align : left" type="text" ng-value="ToNameStatus(mData.PurchaseOrderStatusId)" disabled></input> 
        </div>
        <div class="col-md-3 col-md-offset-1">
            <label class="control-label">Grand Total</label>
            <input class="form-control" style="text-align : left" type="text" ng-model="mData.TotalAmount" name="grandtotal" format="number" disabled></input>            
        </div>                              
    </div>
    <!-- [END] Form Level 7 -->

    <br />

    <!-- [START] Form Level 7 -->
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Notes</label>
            <textarea class="form-control" row='5' ng-model="mData.Notes" disabled></textarea>            
        </div>                            
    </div>
    <!-- [END] Form Level 7 -->
</div>

<br/>

<div class="row">
    <div class="col-md-12">
        <div id="grid1" ui-grid="tam_sop_appointment_lihat" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
        <label ng-show="mData.MaterialTypeId == 2" style="margin-top:10px;">Keterangan :<b>Harga Standard Cost di PO merupakan harga Standard Cost dari Master dikurangi PPn</b></label>
    </div>
</div>
<div class="col-md-12">
    <div align="right">
        <button class="btn wbtn" ng-click="onShowVendorPO()" skip-disable>Lihat Detail Vendor</button>
        <button class="btn wbtn" ng-click="cetakOPM(mData.PurchaseOrderId, mData.OutletId)" skip-disable>Cetak Order Pembelian Material</button>
        <button class="btn wbtn" ng-click="goBack()" skip-disable>Kembali</button>
    </div>
</div>  
