<script type="text/javascript">

</script>
<style type="text/css">


</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->
<!--  on-before-edit-mode="onBeforeEdit" -->


<!--         loading="loading" -->
<bsform-grid
        ng-form="AttendanceGR"
        factory-name="AttendanceGR"
        model="mData"
        model-id="Id"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
        on-show-detail="onShowDetail"
        show-advsearch="on"

        form-name="AttendanceGR"
        form-title="Attendance GR"
        modal-title="Attendance GR"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >

<!-- IF USING FORMLY -->
    <!--
        <formly-form fields="vm.fields" model="vm.model" form="vm.form" options="vm.options" novalidate>
        </formly-form>
    -->
    <bsform-advsearch>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group" show-errors>
              <bsreqlabel>Date</bsreqlabel>
              <bsdatepicker
                  name="dt"
                  date-options="DateOptions"
                  ng-model="filter.dt"
                  required ="true">
              </bsdatepicker>
              <bserrmsg field="dt"></bserrmsg>
            </div>
            <div class="form-group">
              <label style="margin-top: 10px;">Nama</label>
                <div class="input-icon-right">  
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" name="name" placeholder="Nama" ng-model="filter.name" ng-maxlength="50" >
                </div>
            </div>
            <div class="col-md-6">
              <bscheckbox 
                  ng-model = "filter.Hadir" 
                  ng-change="check(filter.Hadir)"
                  label="Hadir"
                  true-value = "true"
                  false-value = "false">
              </bscheckbox>
            </div>
            <div class="col-md-6">
              <bscheckbox 
                  ng-model = "filter.Availability" 
                  ng-change="check(filter.Availability)"
                  label="Availability"
                  true-value = "true"
                  false-value = "false">
              </bscheckbox>
            </div>
          </div>
        </div>
      </div>
    </bsform-advsearch>
      <div class="row">
        <div class="col-md-12">
            <fieldset style="border:1px solid #e2e2e2;padding:20px">
              <legend style="width:inherit;margin:0px;border:0px;">Detail Teknisi</legend>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Group</label>
                  <h4>{{mData.Group}}</h4>
                </div>
                <div class="form-group">
                  <label>Nama</label>
                  <h4>{{mData.Name}}</h4>
                </div>
                <div class="form-group">
                  <label>Kode</label>
                  <h4>{{mData.Kode}}</h4>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Jabatan</label>
                  <h4>{{mData.Jabatan}}</h4>
                </div>
                <div class="form-group">
                  <label>Initial</label>
                  <h4>{{mData.Initial}}</h4>
                </div>
                <div class="form-group">
                  <label>Stall</label>
                  <h4>{{mData.Stall}}</h4>
                </div>
              </div>
            </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <fieldset style="border:1px solid #e2e2e2;padding:20px">
              <legend style="width:inherit;margin:0px;border:0px;">Absensi</legend>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Tanggal</label>
                  <h4>{{filter.dt | date:"dd/MM/yyyy"}}</h4>
                </div>
              </div>
              <div class="col-md-6">
                <!-- <div class="form-group">
                  <label>Tanggal</label>
                  <h4>{{filter.dt}}</h4>
                </div> -->
                <div class="form-group">
                  <bsreqlabel>Jt Adjusment</bsreqlabel>
                  <input type="number" class="form-control" name="jtAdjusment" ng-model="mData.jtAdjusment" min=0 required>
                </div>
                <div class="form-group">
                  <bsreqlabel>Kehadiran</bsreqlabel>
                  <div class="col-md-12">
                    <div class="radio-inline" style="padding-left:10px;">
                      <label class="radio" style="margin-top:5px;margin-bottom:6px;">
                          <input type="radio" name="Kehadiran" class="radiobox style-0"
                            ng-model="mData.Hadir"
                            ng-change="checkRadio(mData.Hadir)"
                            ng-checked="true"
                            checked = "checked" 
                            value="1">
                        <span>Hadir</span>
                      </label>
                    </div>
                    <div class="radio-inline" style="padding-left:10px;">
                      <label class="radio" style="margin-top:5px;margin-bottom:6px;">
                          <input type="radio" name="Kehadiran" class="radiobox style-0"
                            ng-model="mData.Hadir"
                            ng-change="checkRadio(mData.Hadir)"
                            ng-disabled=""
                            value="0">
                        <span>Tidak Hadir</span>
                      </label>
                    </div>
                  </div>
                </div>
              <!-- </div>
              <div class="col-md-6"> -->
                <div class="form-group" ng-hide="mData.Hadir == '1'">
                  <label>Alasan</label>
                  <bsselect name="Alasan"
                          ng-model="mData.Alasan"
                          data="Alasan2"
                          item-text="Alasantext"
                          item-value="Alasantext"
                          placeholder="Alasan"
                          ng-disabled="mData.Hadir == '1'"
                          >
                  </bsselect>

                </div>
                  <div class="form-group" ng-hide="mData.Hadir == '1'">
                    <label>Catatan</label>
                    <textarea name="Catatan" ng-disabled="mData.Hadir == '1'" ng-model = "mData.Catatan" class="form-control"></textarea>
                  </div>
              </div>
              <div class="col-md-12" ng-show="mData.Hadir == '1'">
                <fieldset style="border:1px solid #e2e2e2;padding:20px">
                  <legend style="width:inherit;margin:0px;border:0px;">Data Izin</legend>

                </fieldset>
              </div>
<!--               <div class="col-md-6" ng-show="mData.Hadir == '1'">
                <div class="col-md-12">
                  <bscheckbox 
                      ng-model = "mData.Availability" 
                      ng-change="check(mData.Availability)"
                      label="Availability"
                      true-value = "true"
                      false-value = "false">
                  </bscheckbox>
                </div>
                <div class="col-md-12">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <bsreqlabel>Jam</bsreqlabel>
                      <div uib-timepicker 
                          ng-disabled="!mData.Availability"
                          show-spinner="true" 
                          max="maxFrom" 
                          name="timeFrom" 
                          ng-model="mData.TimeFrom" 
                          ng-change="fFrom()" 
                          hour-step="hstep" 
                          minute-step="mstep" 
                          show-meridian="ismeridian"
                          >
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <bsreqlabel>Jam</bsreqlabel>
                      <div uib-timepicker 
                          ng-disabled="!mData.Availability"
                          show-spinner="true" 
                          min="minThru" 
                          name="timeThru" 
                          ng-model="mData.TimeThru" 
                          ng-change="fThrough()" 
                          hour-step="hstep" 
                          minute-step="mstep" 
                          show-meridian="ismeridian"
                          >
                     </div>
                    </div>
                      <bserrmsg field="timeThru"></bserrmsg>
                  </div>
                </div>
              </div> -->
            </fieldset>
        </div>
      </div>
      <div class="row">
      </div>
    <!-- ======================== -->
        
</bsform-grid>

