<script type="text/javascript">

</script>
<style type="text/css">
.hotHeader{
    background-color: #a3a3a3!important;
    color: #fff!important;
    text-align: center!important;
    font-weight: normal!important;
    white-space: nowrap!important;
}
.hotHeader2{
    background-color: #a3a3a3!important;
    color: #fff!important;
    font-weight: normal!important;
    white-space: nowrap!important;
}
.hotHeader3{
    background-color: #d3d3d3!important;
    color: #000!important;
    font-weight: normal!important;
    white-space: nowrap!important;
}
.hotHeader4{
    background-color: #b3b3b3!important;
    color: #000!important;
    font-weight: 700!important;
    white-space: nowrap!important;
}
.hotHeader5{
    background-color: #FDE4D8!important;
    color: #000!important;
    font-weight: 700!important;
    white-space: nowrap!important;
}
.hotHeader6{
    background-color: #F7AF8A!important;
    color: #000!important;
    font-weight: 700!important;
    white-space: nowrap!important;
}
.hotHeaderReverse{
    background-color: #000!important;
    color: #fff!important;
    text-align: center!important;
    font-weight: normal!important;
    white-space: nowrap!important;
}
.hotEditable{
    background-color: yellow!important;
    color: #0!important;
    /*text-align: center!important;*/
    font-weight: normal!important;
    white-space: nowrap!important;
}
.hotFromData{
    background-color: green!important;
    color: #fff!important;
    /*text-align: center!important;*/
    font-weight: normal!important;
    white-space: nowrap!important;
}
.hotBold{
    font-weight: 700!important;
    white-space: nowrap!important;
}
.hotHide{
    display:none;
}
</style>

<hot-table
           hot-id="hot_rsspmodel"
           settings="hot_settings"
           datarows="data"
>
<!--     <hot-column data="title" title="'APRIL GETSUDO'" type="grayedOut" read-only></hot-column>
    <hot-column data="m1" title="'N-2'" width="100"></hot-column>
    <hot-column data="m2" title="'N-1'" width="100" type="grayedOut" read-only></hot-column>
    <hot-column data="m3" title="'N'" width="100" type="grayedOut" read-only></hot-column>
    <hot-column data="m4" title="'N+1'" width="100"></hot-column>
    <hot-column data="m5" title="'N+2'" width="100"></hot-column>
    <hot-column data="m6" title="'N+3'" width="100"></hot-column>
    <hot-column data="m7" title="'N+4'" width="100"></hot-column>
    <hot-column data="m8" title="'N+5'" width="100"></hot-column>
    <hot-column data="m9" title="'N+6'" width="100"></hot-column>
    <hot-column data="m10" title="'N+7'" width="100"></hot-column>
    <hot-column data="m11" title="'N+8'" width="100"></hot-column>
    <hot-column data="m12" title="'N+9'" width="100"></hot-column> -->

</hot-table>
<!-- <pre>{{db.items[3]}}</pre>
<pre>{{db.items[4]}}</pre>
<pre>{{db.items[5]}}</pre> -->

