<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;
 
	}
	.watermark {
    position: absolute;
    top : 80px;
    opacity: 0.25;
    font-size: 3em;
    width: 100%;
    text-align: center;
    z-index: 999;
}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="MainNomorFakturPajak_Show">
	<div class="col-md-12">
		<div class="form-group">
			<bsreqlabel>Min Sisa No. Faktur Pajak Untuk Notifikasi</bsreqlabel>
			<input type="text" class="form-control " name="Batas " placeholder="Batas Maks" ng-model="NomorFakturPajak_NominalMaks" ng-disabled="!allowSimpan"
			 required maxlength="20">
		</div>
	</div>

	<div class="col-md-12">
		<div class="form-group">
			<bslabel>Judul Email Notifikasi</bslabel>
			<input type="text" class="form-control " name="JudulEmail" placeholder="Judul Email Notifikasi" ng-model="NomorFakturPajak_JudulEmail" ng-disabled="!allowSimpan"
			 ng-maxlength="100" maxlength="100">
		</div>
	</div>

	<div class="col-md-12">
		<div class="form-group">
			<bslabel>Template Email Notifikasi</bslabel>
			<textarea type="textarea" class="form-control " name="TemplateEmail" placeholder="Template Email Notifikasi" ng-model="NomorFakturPajak_TemplateEmail"
			 style="height:100px" ng-disabled="!NomorFakturPajak_TemplateEmail_Disabled"></textarea>
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-8">
			<div class="form-group">
				<bsreqlabel>Alamat Email Penerima Notifikasi (maksimal 5)</bsreqlabel>
				<div class="form-group" ui-grid="NomorFakturPajak_UserPenerima_UIGrid" ui-grid-auto-resize ui-grid-selection ui-grid-pagination>
					<div class="watermark" ng-show="!NomorFakturPajak_UserPenerima_UIGrid.data.length">No data available</div>
				</div>
				<!-- <div ui-grid="NomorFakturPajak_UserPenerima_UIGrid" class="form-group" ui-grid-auto-resize ui-grid-selection ui-grid-pagination></div> -->
			</div>
		</div>
		<div class="col-md-2">
			<button id="NomorFakturPajak_Tambah" ng-click="NomorFakturPajak_Tambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right; margin-top:24px;margin-left:24px" ng-disabled="!allowSimpan">
				<span class="ladda-label">
					Tambah
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>

	<div class="col-md-12">
		<button id="NomorFakturPajak_Simpan" ng-click="NomorFakturPajak_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
		 style="float: right; margin-top:24px;margin-left:24px" ng-disabled="!allowSimpan"> 
			<span class="ladda-label">
				Simpan
			</span>
			<span class="ladda-spinner"></span>
		</button>
	</div>
</div>

<div class="ui modal" id="ModalTambahEmailList" role="dialog" style="width:400px;height:200px;margin-top:5px;margin-left:-350px">
	<div class="modal-header">
		<h4 class="modal-title">Email Notifikasi Nomor Faktur Pajak</h4>
	</div>
	<div class="modal-content" style="">
		<ul class="list-group">
			<bsreqlabel>Alamat Email</bsreqlabel>
			<input type="text" ng-model="NomorFakturPajak_TambahEmail" ng-maxlength="50" maxlength="50" style="width: 100%">
			<p align="center">
				<button class="col-sm-6" ng-click="Batal_NomorFakturPajak_TambahUser()" type="button" class="rbtn btn ng-binding ladda-button">
					Batal
				</button>
				<button class="col-sm-6" ng-click="Pilih_NomorFakturPajak_TambahUser()" type="button" class="rbtn btn ng-binding ladda-button">
					Pilih
				</button>
			</p>
		</ul>
	</div>
</div>