<script type="text/javascript">
function BoardSales_GlobalParameter_Max100_CegahInput(elem){
    if (elem.value > 100) {
        elem.value = 100; 
    }
}

for (i = 0; i < 21; i++) 
{
    var number = document.getElementById('BoardSalesGlobalParameter_PreventNegative_'+i);
	
	if(i==4||i==5||i==6||i==7)
	{
		// Listen for input event on numInput.
		number.onkeydown = function(e) {
			if(!((e.keyCode >= 48 && e.keyCode <= 57)
			  || e.keyCode == 190|| e.keyCode == 8|| e.keyCode == 46)) {
				//titik tu 190 buat decimal
				return false;
			}
		}
	}
	else
	{
		// Listen for input event on numInput.
		number.onkeydown = function(e) {
			if(!((e.keyCode >= 48 && e.keyCode <= 57)
			  || e.keyCode == 8|| e.keyCode == 46)) {
				//titik tu 190 buat decimal
				return false;
			}
		}
	}
	
	document.getElementById('BoardSalesGlobalParameter_PreventNegative_'+i).addEventListener('keyup', function(){
			if(this.value.charAt(0) === '0')
				this.value = this.value.slice(1);
		});
		
	
	
	
}


</script>
<style type="text/css">

</style>

<link rel="stylesheet" href="css/uistyle.css">
<link rel="stylesheet" href="css/uiboxstyle.css">
<link rel="stylesheet" href="css/uifullcalendarstyle.css">
<link rel="stylesheet" href="css/uitimelinestyle.css">
<link rel="stylesheet" href="css/uitogglestyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript" src="js/uimoment.js"></script>
<script type="text/javascript" src="js/uifullcalendar.js"></script>
<script type="text/javascript" src="js/uisparkline.js"></script>
<script type="text/javascript" src="js/uiknob.js"></script>
<link rel="stylesheet" href="css/export.css" type="text/css" media="all" >

<div class="row">

<button ng-disabled="BoardSalesGlobalParamBoardPds.OnTimeRatio==null||BoardSalesGlobalParamBoardPds.OnTimeRatio==undefined||BoardSalesGlobalParameter_Prospecting_AgingAngkaGaAman||BoardSalesGlobalParameter_Ar_AgingAngkaGaAman||BoardSalesGlobalParameter_SpkOutstanding_AgingAngkaGaAman||BoardSalesGlobalParameter_Stock_AgingAngkaGaAman||BoardSalesGlobalParameter_LebihDari100||BoardSalesGlobalParameter_StockModelSelected_UniqueCheck==false || BoardSalesGlobalParameter_TargetPenjualanSelected_UniqueCheck==false || BoardSalesGlobalParamSalesTarget.VehicleModelId==undefined||BoardSalesGlobalParamSalesTarget.VehicleModelId==null" class="rbtn btn ng-binding ladda-button" style="float: right;margin-bottom:10px;margin-right:10px;" ng-click="BoardSalesGlobalParameterSaveSetting()">
Simpan
</button>

	<div class="listData" style="margin-left:10px;margin-right:10px">
		<button ng-click="Show_Hide_BoardSalesGlobalParameter_Board_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
		type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
		aria-expanded="false">
		Board
		<span></span>
		<span style="float:right; margin-right:3px;"><i ng-show="!Show_Hide_BoardSalesGlobalParameter_Board" class="fa fa-sort-desc" aria-hidden="true"></i><i ng-show="Show_Hide_BoardSalesGlobalParameter_Board" class="fa fa-sort-asc" aria-hidden="true"></i></span>
		</button>
	</div>
	<div ng-show="Show_Hide_BoardSalesGlobalParameter_Board" class="formContent">
		<div class="listData" style="text-align: center">
			<button ng-click="Show_Hide_BoardSalesGlobalParameter_Board_BoardPds_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			type="button" style="width: 95%; text-align:left; background-color:#D3D3D3; color:black;" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false">
			Board PDS
			<span></span>
			<span style="float:right; margin-right:3px;"><i ng-show="!Show_Hide_BoardSalesGlobalParameter_Board_BoardPds" class="fa fa-sort-desc" aria-hidden="true"></i><i ng-show="Show_Hide_BoardSalesGlobalParameter_Board_BoardPds" class="fa fa-sort-asc" aria-hidden="true"></i></span>
			</button>
		</div>
		<div ng-show="Show_Hide_BoardSalesGlobalParameter_Board_BoardPds" class="formContent">
			<div style="margin-left:25px;"><b>Monitoring Driver</b></div>
				<div style="margin-left:27px;">
					<bsreqlabel style="width:152px;">Target On Time</bsreqlabel>
					<input style="width:48px;" id="BoardSalesGlobalParameter_PreventNegative_0" oninput="BoardSales_GlobalParameter_Max100_CegahInput(this);" min="0" ng-model="BoardSalesGlobalParamBoardPds.OnTimeRatio" type="number">
				</div>
			
		</div>
		
	</div>
	
	<div class="listData" style="margin-left:10px;margin-right:10px">
		<button ng-click="Show_Hide_BoardSalesGlobalParameter_DashBoard_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
		type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
		aria-expanded="false">
		Dash Board
		<span></span>
		<span style="float:right; margin-right:3px;"><i ng-show="!Show_Hide_BoardSalesGlobalParameter_DashBoard" class="fa fa-sort-desc" aria-hidden="true"></i><i ng-show="Show_Hide_BoardSalesGlobalParameter_DashBoard" class="fa fa-sort-asc" aria-hidden="true"></i></span>
		</button>
	</div>
	<div ng-show="Show_Hide_BoardSalesGlobalParameter_DashBoard" class="formContent">
		
		<div class="listData" style="text-align: center">
			<button ng-click="Show_Hide_BoardSalesGlobalParameter_DashBoard_PengaturanTampilan_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			type="button" style="width: 95%; text-align:left; background-color:#D3D3D3; color:black;" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false">
			Pengaturan Tampilan
			<span></span>
			<span style="float:right; margin-right:3px;"><i ng-show="!Show_Hide_BoardSalesGlobalParameter_DashBoard_PengaturanTampilan" class="fa fa-sort-desc" aria-hidden="true"></i><i ng-show="Show_Hide_BoardSalesGlobalParameter_DashBoard_PengaturanTampilan" class="fa fa-sort-asc" aria-hidden="true"></i></span>
			</button>
		</div>
		<div ng-show="Show_Hide_BoardSalesGlobalParameter_DashBoard_PengaturanTampilan" class="formContent">
			<div id="toogleItem" style="margin-left:25px;">
                            <div class="input-icon-right">
                                <label> Target Penjualan RS dan SPK </label>
                                <div class="switch">
                                    <input ng-model="BoardSalesGlobalParamPengaturanTampilan.TargetPenjualanSPKRS" id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                                    <label for="cmn-toggle-1"></label>
                                </div>
                            </div>
                        </div>
			<div id="toogleItem" style="margin-left:25px;">
								<div class="input-icon-right">
									<label>	SPK Outstanding </label>
									<div class="switch">
										<input ng-model="BoardSalesGlobalParamPengaturanTampilan.SPKOutstanding" id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
										<label for="cmn-toggle-2"></label>
									</div>
								</div>
							</div>
			<div id="toogleItem" style="margin-left:25px;">
								<div class="input-icon-right">
									<label>	Sales Target </label>
									<div class="switch">
										<input ng-model="BoardSalesGlobalParamPengaturanTampilan.SalesTarget" id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
										<label for="cmn-toggle-3"></label>
									</div>
								</div>
							</div>
			<div id="toogleItem" style="margin-left:25px;">
								<div class="input-icon-right">
									<label>	Prospecting </label>
									<div class="switch">
										<input ng-model="BoardSalesGlobalParamPengaturanTampilan.Prospecting" id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
										<label for="cmn-toggle-4"></label>
									</div>
								</div>
							</div>
			<!--<div id="toogleItem" style="margin-left:25px;">
								<div class="input-icon-right">
									<label>	Prospecting Model </label>
									<div class="switch">
										<input ng-model="BoardSalesGlobalParamPengaturanTampilan.ProspectingModel" id="cmn-toggle-5" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
										<label for="cmn-toggle-5"></label>
									</div>
								</div>
							</div>-->
			<div id="toogleItem" style="margin-left:25px;">
								<div class="input-icon-right">
									<label>	AR </label>
									<div class="switch">
										<input ng-model="BoardSalesGlobalParamPengaturanTampilan.AR" id="cmn-toggle-6" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
										<label for="cmn-toggle-6"></label>
									</div>
								</div>
							</div>
			<div id="toogleItem" style="margin-left:25px;">
								<div class="input-icon-right">
									<label>	Stock </label>
									<div class="switch">
										<input ng-model="BoardSalesGlobalParamPengaturanTampilan.Stock" id="cmn-toggle-7" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
										<label for="cmn-toggle-7"></label>
									</div>
								</div>
							</div>
		</div>
		
		<div class="listData" style="text-align: center">
			<button ng-click="Show_Hide_BoardSalesGlobalParameter_TargetPenjualan_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			type="button" style="width: 95%; text-align:left; background-color:#D3D3D3; color:black;" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false">
			Target Penjualan
			<span></span>
			<span style="float:right; margin-right:3px;"><i ng-show="!Show_Hide_BoardSalesGlobalParameter_TargetPenjualan" class="fa fa-sort-desc" aria-hidden="true"></i><i ng-show="Show_Hide_BoardSalesGlobalParameter_TargetPenjualan" class="fa fa-sort-asc" aria-hidden="true"></i></span>
			</button>
		</div>
		<div ng-show="Show_Hide_BoardSalesGlobalParameter_TargetPenjualan" class="formContent">
			<div style="margin-left:25px;">
				<div><b>RS dan SPK</b></div>
				<div><b>Top 5 Models</b></div>
				<div style="margin-left:25px;margin-bottom:10px;">
					<label style="width:50px;">Model 1</label>
					<bsselect style="width:50%;"
					 data="optionsModelBoardSalesGlobalParameter" item-text="VehicleModelName" item-value="VehicleModelId" on-select="BoardSalesGlobalParameter_TargetPenjualanSelected(selected)" placeholder="Select Model 1"
					 icon="fa fa-search" ng-model="BoardSalesGlobalParamTargetPenjualan[0].VehicleModelId">
					</bsselect>
				</div>
				<div style="margin-left:25px;margin-bottom:10px;">
					<label style="width:50px;">Model 2</label>
					<bsselect style="width:50%;"
					 data="optionsModelBoardSalesGlobalParameter" item-text="VehicleModelName" item-value="VehicleModelId" on-select="BoardSalesGlobalParameter_TargetPenjualanSelected(selected)" placeholder="Select Model 2"
					 icon="fa fa-search" ng-model="BoardSalesGlobalParamTargetPenjualan[1].VehicleModelId">
					</bsselect>
				</div>
				<div style="margin-left:25px;margin-bottom:10px;">
					<label style="width:50px;">Model 3</label>
					<bsselect style="width:50%;"
					 data="optionsModelBoardSalesGlobalParameter" item-text="VehicleModelName" item-value="VehicleModelId" on-select="BoardSalesGlobalParameter_TargetPenjualanSelected(selected)" placeholder="Select Model 3"
					 icon="fa fa-search" ng-model="BoardSalesGlobalParamTargetPenjualan[2].VehicleModelId">
					</bsselect>
				</div>
				<div style="margin-left:25px;margin-bottom:10px;">
					<label style="width:50px;">Model 4</label>
					<bsselect style="width:50%;"
					 data="optionsModelBoardSalesGlobalParameter" item-text="VehicleModelName" item-value="VehicleModelId" on-select="BoardSalesGlobalParameter_TargetPenjualanSelected(selected)" placeholder="Select Model 4"
					 icon="fa fa-search" ng-model="BoardSalesGlobalParamTargetPenjualan[3].VehicleModelId">
					</bsselect>
				</div>
				<div style="margin-left:25px;margin-bottom:10px;">
					<label style="width:50px;">Model 5</label>
					<bsselect style="width:50%;"
					 data="optionsModelBoardSalesGlobalParameter" item-text="VehicleModelName" item-value="VehicleModelId" on-select="BoardSalesGlobalParameter_TargetPenjualanSelected(selected)" placeholder="Select Model 5"
					 icon="fa fa-search" ng-model="BoardSalesGlobalParamTargetPenjualan[4].VehicleModelId">
					</bsselect>
				</div>
				<div style="color:red" ng-if="BoardSalesGlobalParameter_TargetPenjualanSelected_UniqueCheck==false">
					<label ng-if="BoardSalesGlobalParamTargetPenjualan[0].VehicleModelId==undefined|| BoardSalesGlobalParamTargetPenjualan[0].VehicleModelId==null|| BoardSalesGlobalParamTargetPenjualan[1].VehicleModelId==undefined|| BoardSalesGlobalParamTargetPenjualan[1].VehicleModelId==null|| BoardSalesGlobalParamTargetPenjualan[2].VehicleModelId==undefined|| BoardSalesGlobalParamTargetPenjualan[2].VehicleModelId==null|| BoardSalesGlobalParamTargetPenjualan[3].VehicleModelId==undefined|| BoardSalesGlobalParamTargetPenjualan[3].VehicleModelId==null|| BoardSalesGlobalParamTargetPenjualan[4].VehicleModelId==undefined|| BoardSalesGlobalParamTargetPenjualan[4].VehicleModelId==null">Pilihan Model Tidak Boleh Ada Yang Kosong</label>
					<label ng-if="BoardSalesGlobalParamTargetPenjualan[0].VehicleModelId!=undefined && BoardSalesGlobalParamTargetPenjualan[0].VehicleModelId!=null && BoardSalesGlobalParamTargetPenjualan[1].VehicleModelId!=undefined && BoardSalesGlobalParamTargetPenjualan[1].VehicleModelId!=null && BoardSalesGlobalParamTargetPenjualan[2].VehicleModelId!=undefined && BoardSalesGlobalParamTargetPenjualan[2].VehicleModelId!=null && BoardSalesGlobalParamTargetPenjualan[3].VehicleModelId!=undefined && BoardSalesGlobalParamTargetPenjualan[3].VehicleModelId!=null && BoardSalesGlobalParamTargetPenjualan[4].VehicleModelId!=undefined && BoardSalesGlobalParamTargetPenjualan[4].VehicleModelId!=null">Pastikan Semua Model Tidak Duplikat</label>
				</div>
			</div>
		</div>
		
		<div class="listData" style="text-align: center">
			<button ng-click="Show_Hide_BoardSalesGlobalParameter_SpkOutstanding_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			type="button" style="width: 95%; text-align:left; background-color:#D3D3D3; color:black;" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false">
			Spk Outstanding
			<span></span>
			<span style="float:right; margin-right:3px;"><i ng-show="!Show_Hide_BoardSalesGlobalParameter_SpkOutstanding" class="fa fa-sort-desc" aria-hidden="true"></i><i ng-show="Show_Hide_BoardSalesGlobalParameter_SpkOutstanding" class="fa fa-sort-asc" aria-hidden="true"></i></span>
			</button>
		</div>
		<div ng-show="Show_Hide_BoardSalesGlobalParameter_SpkOutstanding" class="formContent">
			<div style="margin-bottom:10px;margin-left:25px;">
				<div><b>Aging</b></div>
				<div style="margin-left:25px;">
					<label style="width:100px;">Periode 1</label>
					<input oninput="BoardSales_GlobalParameter_Max100_CegahInput(this);" ng-change="BoardSalesGlobalParameter_SpkOutstanding_AgingChanged();BoardSalesGlobalParameter_SpkOutstanding_AgingChanged_P1();" id="BoardSalesGlobalParameter_PreventNegative_1" min="0" ng-model="BoardSalesGlobalParamSpkOutstanding.AgingPeriod1" style="margin-right:20px;width:48px;" type="number">
					<input oninput="BoardSales_GlobalParameter_Max100_CegahInput(this);" ng-change="BoardSalesGlobalParameter_SpkOutstanding_AgingChanged();BoardSalesGlobalParameter_SpkOutstanding_AgingChanged_P2();" id="BoardSalesGlobalParameter_PreventNegative_2" min="0" ng-model="BoardSalesGlobalParamSpkOutstanding.AgingPeriod2" style="width:48px;" type="number">
				</div>
				<div style="margin-left:25px;">
					<label style="width:100px;">Periode 2</label>
					<input ng-disabled="true" value="{{BoardSalesGlobalParamSpkOutstanding.AgingPeriod2+1}}" style="margin-right:20px;width:48px;" type="number">
					<input oninput="BoardSales_GlobalParameter_Max100_CegahInput(this);" ng-change="BoardSalesGlobalParameter_SpkOutstanding_AgingChanged()" id="BoardSalesGlobalParameter_PreventNegative_3" min="0" ng-model="BoardSalesGlobalParamSpkOutstanding.AgingPeriod3" type="number" style="width:48px;">
				</div>
				<div style="margin-left:25px;">
					<label style="width:100px;">Periode 3</label>
					<input ng-disabled="true" value="{{BoardSalesGlobalParamSpkOutstanding.AgingPeriod3+1}}" style="margin-right:20px;width:48px;" type="number">
					<!--<input ng-disabled="true" value="null" type="number">-->
				</div>
				<div style="color:red" ng-if="BoardSalesGlobalParameter_SpkOutstanding_AgingAngkaGaAman">
					Pastikan angka periode diisi dengan benar
				</div>
			</div>
		</div>
		
		<div class="listData" style="text-align: center">
			<button ng-click="Show_Hide_BoardSalesGlobalParameter_SalesTarget_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			type="button" style="width: 95%; text-align:left; background-color:#D3D3D3; color:black;" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false">
			Sales Target
			<span></span>
			<span style="float:right; margin-right:3px;"><i ng-show="!Show_Hide_BoardSalesGlobalParameter_SalesTarget" class="fa fa-sort-desc" aria-hidden="true"></i><i ng-show="Show_Hide_BoardSalesGlobalParameter_SalesTarget" class="fa fa-sort-asc" aria-hidden="true"></i></span>
			</button>
		</div>
		<div ng-show="Show_Hide_BoardSalesGlobalParameter_SalesTarget" class="formContent">
			<div style="margin-left:25px;margin-bottom:10px">
				<div><b>Komposisi</b></div>
				<div style="margin-left:25px;">
					<label style="width:152px;">Prospect To Contact</label>
					<input lang="en" style="width:48px;" step="0.1" ng-change="BoardSalesGlobalParameter_KomposisiPercentageChanged()" id="BoardSalesGlobalParameter_PreventNegative_4" min="1"  type="number" ng-model="BoardSalesGlobalParamSalesTarget.ProspectToContactRatio">  &nbsp; Kali
				</div>
				<div style="margin-left:25px;">
					<label style="width:152px;">Hot Prospect To Prospect</label>
					<input lang="en" style="width:48px;" step="0.1" ng-change="BoardSalesGlobalParameter_KomposisiPercentageChanged()" id="BoardSalesGlobalParameter_PreventNegative_5" min="1"  type="number" ng-model="BoardSalesGlobalParamSalesTarget.HotProspectToProspectRatio"> &nbsp; Kali
				</div>
				<div style="margin-left:25px;">
					<label style="width:152px;">SPK To Hot Prospect</label>
					<input lang="en" style="width:48px;" step="0.1" ng-change="BoardSalesGlobalParameter_KomposisiPercentageChanged()" id="BoardSalesGlobalParameter_PreventNegative_6" min="1"  type="number" ng-model="BoardSalesGlobalParamSalesTarget.SPKToHotProspectRatio">  &nbsp; Kali
				</div>
				<div style="margin-left:25px;">
					<label style="width:152px;">DO To SPK</label>
					<input lang="en" style="width:48px;" step="0.1" ng-change="BoardSalesGlobalParameter_KomposisiPercentageChanged()" id="BoardSalesGlobalParameter_PreventNegative_7" min="1"  type="number" ng-model="BoardSalesGlobalParamSalesTarget.DOToSPKRatio">  &nbsp; Kali
				</div>
				<!--<div ng-if="BoardSalesGlobalParameter_LebihDari100_KomposisiPercentage" style="margin-left:25px;color:red">
					Jumlah Komposisi Percentage Tidak Boleh Lebih dari 100%
				</div>-->
			</div>
			<div style="margin-left:25px;margin-bottom:10px;">
				<div><b>Weekly Percentage</b></div>
				<div style="margin-left:25px;">
					<label style="width:152px;">Week 1</label>
					<input ng-change="BoardSalesGlobalParameter_WeekChanged()" id="BoardSalesGlobalParameter_PreventNegative_8" min="0" max="100" type="number" ng-model="BoardSalesGlobalParamSalesTarget.Week1Ratio">  &nbsp; %
				</div>
				<div style="margin-left:25px;">
					<label style="width:152px;">Week 2</label>
					<input ng-change="BoardSalesGlobalParameter_WeekChanged()" id="BoardSalesGlobalParameter_PreventNegative_9" min="0" max="100" type="number" ng-model="BoardSalesGlobalParamSalesTarget.Week2Ratio">  &nbsp; %
				</div>
				<div style="margin-left:25px;">
					<label style="width:152px;">Week 3</label>
					<input ng-change="BoardSalesGlobalParameter_WeekChanged()" id="BoardSalesGlobalParameter_PreventNegative_10" min="0" max="100" type="number" ng-model="BoardSalesGlobalParamSalesTarget.Week3Ratio">  &nbsp; %
				</div>
				<div style="margin-left:25px;">
					<label style="width:152px;">Week 4</label>
					<input ng-change="BoardSalesGlobalParameter_WeekChanged()" id="BoardSalesGlobalParameter_PreventNegative_11" min="0" max="100" type="number" ng-model="BoardSalesGlobalParamSalesTarget.Week4Ratio">  &nbsp; %
				</div>
				<div ng-if="BoardSalesGlobalParameter_LebihDari100" style="margin-left:25px;color:red">
					Jumlah Weekly Ratio Tidak Boleh Lebih dari 100%
				</div>
			</div>
			<div style="margin-left:25px;margin-bottom:10px;">
					<b><bsreqlabel style="width:50px;">Model</bsreqlabel></b>
					<select style="width:50%" ng-model="BoardSalesGlobalParamSalesTarget.VehicleModelId" class="form-control" ng-options="item.VehicleModelId as item.VehicleModelName for item in optionsModelBoardSalesGlobalParameter"
						placeholder="Select Model 1">
						<option label="-- Pilih --" value="" disabled="true"></option>	
					</select>
					<!--<bsselect style="width:50%;"
					 data="optionsModelBoardSalesGlobalParameter" item-text="VehicleModelName" item-value="VehicleModelId" on-select="value(selected)" placeholder="Select Model 1"
					 ng-model="BoardSalesGlobalParamSalesTarget.VehicleModelId" icon="fa fa-search">
					</bsselect>-->
			</div>
			<div style="color:red; margin-left: 25px;" ng-if="BoardSalesGlobalParamSalesTarget.VehicleModelId==undefined||BoardSalesGlobalParamSalesTarget.VehicleModelId==null">
				Pastikan Model Terisi
			</div>
		</div>
		
		<div class="listData" style="text-align: center">
			<button ng-click="Show_Hide_BoardSalesGlobalParameter_Prospecting_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			type="button" style="width: 95%; text-align:left; background-color:#D3D3D3; color:black;" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false">
			Prospecting
			<span></span>
			<span style="float:right; margin-right:3px;"><i ng-show="!Show_Hide_BoardSalesGlobalParameter_Prospecting" class="fa fa-sort-desc" aria-hidden="true"></i><i ng-show="Show_Hide_BoardSalesGlobalParameter_Prospecting" class="fa fa-sort-asc" aria-hidden="true"></i></span>
			</button>
		</div>
		<div ng-show="Show_Hide_BoardSalesGlobalParameter_Prospecting" class="formContent">
			<div style="margin-bottom:10px">
				<div style="margin-left:25px;"><b>Aging Hot Prospect</b></div>
				<div style="margin-left:25px;">
					<label style="width:100px;">Periode 1</label>
					<input oninput="BoardSales_GlobalParameter_Max100_CegahInput(this);" ng-change="BoardSalesGlobalParameter_Prospecting_AgingChanged();BoardSalesGlobalParameter_Prospecting_AgingChanged_P1();" id="BoardSalesGlobalParameter_PreventNegative_12" min="0" ng-model="BoardSalesGlobalParamProspecting.AgingPeriod1" style="margin-right:20px;width:48px;" type="number">
					<input oninput="BoardSales_GlobalParameter_Max100_CegahInput(this);" ng-change="BoardSalesGlobalParameter_Prospecting_AgingChanged();BoardSalesGlobalParameter_Prospecting_AgingChanged_P2();" id="BoardSalesGlobalParameter_PreventNegative_13" min="0" ng-model="BoardSalesGlobalParamProspecting.AgingPeriod2" type="number" style="width:48px;">
				</div>
				<div style="margin-left:25px;">
					<label style="width:100px;">Periode 2</label>
					<input ng-disabled="true" value="{{BoardSalesGlobalParamProspecting.AgingPeriod2+1}}" style="margin-right:20px;width:48px;" type="number">
					<input oninput="BoardSales_GlobalParameter_Max100_CegahInput(this);" ng-change="BoardSalesGlobalParameter_Prospecting_AgingChanged()" id="BoardSalesGlobalParameter_PreventNegative_14" min="0" ng-model="BoardSalesGlobalParamProspecting.AgingPeriod3" type="number" style="width:48px;">
				</div>
				<div style="margin-left:25px;">
					<label style="width:100px;">Periode 3</label>
					<input ng-disabled="true" value="{{BoardSalesGlobalParamProspecting.AgingPeriod3+1}}" style="margin-right:20px;width:48px;" type="number">
					<!--<input ng-disabled="true" value="null" type="number">-->
				</div>
				<div style="color:red;margin-left:25px" ng-if="BoardSalesGlobalParameter_Prospecting_AgingAngkaGaAman">
					Pastikan angka periode diisi dengan benar
				</div>
			</div>
			<div>
				<div style="margin-left:25px;"><b>Fokus Model</b></div>
				<div style="margin-left:25px;margin-bottom:10px;">
					<bsreqlabel style="width:50px;">Model</bsreqlabel>
					<select data-ng-options="dataModel.VehicleModelName for dataModel in optionsModelBoardSalesGlobalParameter" ng-change="filtertipeBoardSalesGlobalParameter(BoardSalesGlobalParamselectedModelProspecting.VehicleModel)"
					ng-model="BoardSalesGlobalParamselectedModelProspecting.VehicleModel" class="form-control" style="width: 50%;margin-bottom: 10px;"></select>
				</div>
				<div style="margin-left:25px;">
					<label style="width:50px;">Tipe</label>
					<select data-ng-options="datatipe as (datatipe.Description + '-' + datatipe.KatashikiCode + '-' + datatipe.SuffixCode) for datatipe in vehicleTypefilterBoardSalesGlobalParameter"
					ng-change="filterColorBoardSalesGlobalParameter(BoardSalesGlobalParamselectedTipeProspecting.VehicleType)" ng-model="BoardSalesGlobalParamselectedTipeProspecting.VehicleType" class="form-control" style="width: 50%;margin-bottom: 10px;">
					<option label="-- Pilih --" value=""></option>
					</select>
				</div>
				<div style="margin-left:25px;">
					<label style="width:50px;">Warna</label>
					<select data-ng-options="datacolor.ColorCodeName for datacolor in vehicleTypecolorfilterBoardSalesGlobalParameter" ng-change="selectedColorValueBoardSalesGlobalParameter(BoardSalesGlobalParamselectedwarnaProspecting.Warna)"
					data-ng-model="BoardSalesGlobalParamselectedwarnaProspecting.Warna" class="form-control" style="width: 50%;margin-bottom: 10px;">
					<option label="-- Pilih --" value=""></option>
					</select>
				</div>
			</div>
		</div>
		
		<div class="listData" style="text-align: center">
			<button ng-click="Show_Hide_BoardSalesGlobalParameter_Ar_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			type="button" style="width: 95%; text-align:left; background-color:#D3D3D3; color:black;" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false">
			AR
			<span></span>
			<span style="float:right; margin-right:3px;"><i ng-show="!Show_Hide_BoardSalesGlobalParameter_Ar" class="fa fa-sort-desc" aria-hidden="true"></i><i ng-show="Show_Hide_BoardSalesGlobalParameter_Ar" class="fa fa-sort-asc" aria-hidden="true"></i></span>
			</button>
		</div>
		<div ng-show="Show_Hide_BoardSalesGlobalParameter_Ar" class="formContent">
			<div style="margin-bottom:10px">
				<div style="margin-left:25px;"><b>Aging AR</b></div>
				<div style="margin-left:25px;">
					<label style="width:100px;">Periode 1</label>
					<input oninput="BoardSales_GlobalParameter_Max100_CegahInput(this);" ng-change="BoardSalesGlobalParameter_Ar_AgingChanged();BoardSalesGlobalParameter_Ar_AgingChanged_P1();" id="BoardSalesGlobalParameter_PreventNegative_15" min="0" ng-model="BoardSalesGlobalParamArOverdue.AgingPeriod1" style="margin-right:20px;width:48px;" type="number">
					<input oninput="BoardSales_GlobalParameter_Max100_CegahInput(this);" ng-change="BoardSalesGlobalParameter_Ar_AgingChanged();BoardSalesGlobalParameter_Ar_AgingChanged_P2();" id="BoardSalesGlobalParameter_PreventNegative_16" min="0" ng-model="BoardSalesGlobalParamArOverdue.AgingPeriod2" type="number" style="width:48px;">
				</div>
				<div style="margin-left:25px;">
					<label style="width:100px;">Periode 2</label>
					<input ng-disabled="true" value="{{BoardSalesGlobalParamArOverdue.AgingPeriod2+1}}" style="margin-right:20px;width:48px;" type="number">
					<input oninput="BoardSales_GlobalParameter_Max100_CegahInput(this);" ng-change="BoardSalesGlobalParameter_Ar_AgingChanged()" id="BoardSalesGlobalParameter_PreventNegative_17" min="0" ng-model="BoardSalesGlobalParamArOverdue.AgingPeriod3" type="number" style="width:48px;">
				</div>
				<div style="margin-left:25px;">
					<label style="width:100px;">Periode 3</label>
					<input ng-disabled="true" value="{{BoardSalesGlobalParamArOverdue.AgingPeriod3+1}}" style="margin-right:20px;width:48px;" type="number">
					<!--<input ng-disabled="true" value="null" type="number">-->
				</div>
				<div style="color:red;margin-left:25px" ng-if="BoardSalesGlobalParameter_Ar_AgingAngkaGaAman">
					Pastikan angka periode diisi dengan benar
				</div>
			</div>
		</div>
		
		<div class="listData" style="text-align: center">
			<button ng-click="Show_Hide_BoardSalesGlobalParameter_Stock_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			type="button" style="width: 95%; text-align:left; background-color:#D3D3D3; color:black;" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false">
			Stock
			<span></span>
			<span style="float:right; margin-right:3px;"><i ng-show="!Show_Hide_BoardSalesGlobalParameter_Stock" class="fa fa-sort-desc" aria-hidden="true"></i><i ng-show="Show_Hide_BoardSalesGlobalParameter_Stock" class="fa fa-sort-asc" aria-hidden="true"></i></span>
			</button>
		</div>
		<div ng-show="Show_Hide_BoardSalesGlobalParameter_Stock" class="formContent">
			<div style="margin-left:25px;margin-bottom:10px">
				<div><b>Top 5 Models</b></div>
				<div style="margin-left:18px;margin-bottom:10px;">
					<label style="width:50px;">Model 1</label>
					<bsselect style="width:50%;"
					 data="optionsModelBoardSalesGlobalParameter" item-text="VehicleModelName" item-value="VehicleModelId" on-select="BoardSalesGlobalParameter_StockModelSelected(selected)" placeholder="Select Model 1"
					 icon="fa fa-search" ng-model="BoardSalesGlobalParamStockMonitoring[0].VehicleModelId">
					</bsselect>
				</div>
				<div style="margin-left:18px;margin-bottom:10px;">
					<label style="width:50px;">Model 2</label>
					<bsselect style="width:50%;"
					 data="optionsModelBoardSalesGlobalParameter" item-text="VehicleModelName" item-value="VehicleModelId" on-select="BoardSalesGlobalParameter_StockModelSelected(selected)" placeholder="Select Model 2"
					 icon="fa fa-search" ng-model="BoardSalesGlobalParamStockMonitoring[1].VehicleModelId">
					</bsselect>
				</div>
				<div style="margin-left:18px;margin-bottom:10px;">
					<label style="width:50px;">Model 3</label>
					<bsselect style="width:50%;"
					 data="optionsModelBoardSalesGlobalParameter" item-text="VehicleModelName" item-value="VehicleModelId" on-select="BoardSalesGlobalParameter_StockModelSelected(selected)" placeholder="Select Model 3"
					 icon="fa fa-search" ng-model="BoardSalesGlobalParamStockMonitoring[2].VehicleModelId">
					</bsselect>
				</div>
				<div style="margin-left:18px;margin-bottom:10px;">
					<label style="width:50px;">Model 4</label>
					<bsselect style="width:50%;"
					 data="optionsModelBoardSalesGlobalParameter" item-text="VehicleModelName" item-value="VehicleModelId" on-select="BoardSalesGlobalParameter_StockModelSelected(selected)" placeholder="Select Model 4"
					 icon="fa fa-search" ng-model="BoardSalesGlobalParamStockMonitoring[3].VehicleModelId">
					</bsselect>
				</div>
				<div style="margin-left:18px;margin-bottom:10px;">
					<label style="width:50px;">Model 5</label>
					<bsselect style="width:50%;"
					 data="optionsModelBoardSalesGlobalParameter" item-text="VehicleModelName" item-value="VehicleModelId" on-select="BoardSalesGlobalParameter_StockModelSelected(selected)" placeholder="Select Model 5"
					 icon="fa fa-search" ng-model="BoardSalesGlobalParamStockMonitoring[4].VehicleModelId">
					</bsselect>
				</div>
				<div style="color:red" ng-if="BoardSalesGlobalParameter_StockModelSelected_UniqueCheck==false">
					<label ng-if="BoardSalesGlobalParamStockMonitoring[0].VehicleModelId==undefined || BoardSalesGlobalParamStockMonitoring[0].VehicleModelId==null|| BoardSalesGlobalParamStockMonitoring[1].VehicleModelId==undefined|| BoardSalesGlobalParamStockMonitoring[1].VehicleModelId==null|| BoardSalesGlobalParamStockMonitoring[2].VehicleModelId==undefined|| BoardSalesGlobalParamStockMonitoring[2].VehicleModelId==null|| BoardSalesGlobalParamStockMonitoring[3].VehicleModelId==undefined|| BoardSalesGlobalParamStockMonitoring[3].VehicleModelId==null|| BoardSalesGlobalParamStockMonitoring[4].VehicleModelId==undefined|| BoardSalesGlobalParamStockMonitoring[4].VehicleModelId==null">Pilihan Model Tidak Boleh Ada Yang Kosong</label>
					<label ng-if="BoardSalesGlobalParamStockMonitoring[0].VehicleModelId!=undefined && BoardSalesGlobalParamStockMonitoring[0].VehicleModelId!=null && BoardSalesGlobalParamStockMonitoring[1].VehicleModelId!=undefined && BoardSalesGlobalParamStockMonitoring[1].VehicleModelId!=null && BoardSalesGlobalParamStockMonitoring[2].VehicleModelId!=undefined && BoardSalesGlobalParamStockMonitoring[2].VehicleModelId!=null && BoardSalesGlobalParamStockMonitoring[3].VehicleModelId!=undefined && BoardSalesGlobalParamStockMonitoring[3].VehicleModelId!=null && BoardSalesGlobalParamStockMonitoring[4].VehicleModelId!=undefined && BoardSalesGlobalParamStockMonitoring[4].VehicleModelId!=null">Pastikan Semua Model Tidak Duplikat</label>
				</div>
			</div>
			<div style="margin-left:25px;">
				<div><b>Aging Stock</b></div>
				<div style="margin-left:25px;">
					<label style="width:100px;">Periode 1</label>
					<input oninput="BoardSales_GlobalParameter_Max100_CegahInput(this);" ng-change="BoardSalesGlobalParameter_Stock_AgingChanged();BoardSalesGlobalParameter_Stock_AgingChanged_P1();" id="BoardSalesGlobalParameter_PreventNegative_18" min="0" ng-model="BoardSalesGlobalParamStockMonitoring[0].AgingPeriod1" style="margin-right:20px;width:48px;" type="number">
					<input oninput="BoardSales_GlobalParameter_Max100_CegahInput(this);" ng-change="BoardSalesGlobalParameter_Stock_AgingChanged();BoardSalesGlobalParameter_Stock_AgingChanged_P2()" id="BoardSalesGlobalParameter_PreventNegative_19" min="0" ng-model="BoardSalesGlobalParamStockMonitoring[0].AgingPeriod2" type="number" style="width:48px;">
				</div>
				<div style="margin-left:25px;">
					<label style="width:100px;">Periode 2</label>
					<input oninput="BoardSales_GlobalParameter_Max100_CegahInput(this);" id="BoardSalesGlobalParameter_PreventNegative_20" min="0" ng-disabled="true" value="{{BoardSalesGlobalParamStockMonitoring[0].AgingPeriod2+1}}" style="margin-right:20px;width:48px;" type="number">
					<input oninput="BoardSales_GlobalParameter_Max100_CegahInput(this);" ng-change="BoardSalesGlobalParameter_Stock_AgingChanged()" ng-model="BoardSalesGlobalParamStockMonitoring[0].AgingPeriod3" type="number" style="width:48px;">
				</div>
				<div style="margin-left:25px;">
					<label style="width:100px;">Periode 3</label>
					<input ng-disabled="true" value="{{BoardSalesGlobalParamStockMonitoring[0].AgingPeriod3+1}}" style="margin-right:20px;width:48px;" type="number">
					<!--<input value="null" ng-disabled="true" type="number">-->
				</div>
				<div style="color:red" ng-if="BoardSalesGlobalParameter_Stock_AgingAngkaGaAman">
					Pastikan angka periode diisi dengan benar
				</div>
			</div>
		</div>

	
	</div>
	
	
</div>

