<div class="panel panel-danger" style="border-color:#D53337;">
    <div class="panel-heading" style="color:white; background-color:#D53337;">
        <h3 class="panel-title">{{tab.title}}</h3></div>
    <div class="panel-body">
        <p> {{tab.message}}</p>
        <button type="button " class="ngdialog-button ngdialog-button-primary " ng-click="confirm(1)" style="color:white; background-color:#D53337 ">{{tab.okText}}</button>
        <button type="button " class="ngdialog-button ngdialog-button-secondary " ng-click="closeThisDialog(0) ">{{tab.cancelText}}</button>

    </div>
</div>