<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="stylesheet" type="text/javascript" href="https://cdn.rawgit.com/eligrey/FileSaver.js/">

<div class="fi-outermost" ng-form name="FormValidation_RptDailyCashBank">

	<div class="row" style="margin-top:10px;">
		<div>
			<div class="col-md-3" ng-class="{'has-error':(FormValidation_RptDailyCashBank.NamaGLAccount.$error.required && FormValidation_RptDailyCashBank.NamaGLAccount.$touched)}">
				<bsreqlabel>Nama GL Account</bsreqlabel>
				<bsselect ng-change="ReportDailyCashBank_NamaGLAccount_Changed()" ng-model="ReportDailyCashBank_NamaGLAccount" data="optionsReportDailyCashBankNamaGLAccount"
				 item-text="name" item-value="value" on-select="value(selected)" placeholder="Pilih" icon="fa fa-search" name="NamaGLAccount"
				 choice-filter="filter: {name: $select.search}" required>
				</bsselect>
				<span ng-if="FormValidation_RptDailyCashBank.NamaGLAccount.$error.required && FormValidation_RptDailyCashBank.NamaGLAccount.$touched"
				 class="help-block">Field ini wajib diisi</span>
				<span ng-if="!TanggalReconciliationFromOK" class="help-block">{{errTanggalPenjualanAkhir}}</span>
			</div>

			<div class="col-md-3">
				<label>Nomor GL Account</label>
				<div class="input-icon-right">
					<input type="text" class="form-control" name="ReportDailyCashBankNomorGLAccount" placeholder="0" ng-model="ReportDailyCashBank_NomorGLAccount"
					 ng-maxlength="50" ng-disabled="!ReportDailyCashBank_NomorGLAccount_isDisabled">
				</div>
			</div>

			<div class="col-md-3" ng-class="{'has-error':(FormValidation_RptDailyCashBank.ReportDailyCashBankBranch.$error.required && FormValidation_RptDailyCashBank.ReportDailyCashBankBranch.$touched)}">
				<bsreqlabel>Nama Branch</bsreqlabel>
				<div class="input-icon-right">
					<bsselect ng-change="ReportDailyCashBank_NamaBranch_Changed()" ng-model="ReportDailyCashBank_Branch" data="optionsReportDailyCashBank_NamaBranch"
					 item-text="BranchName " name="ReportDailyCashBankBranch" item-value="BranchId" on-select="value(selected)" placeholder="Branch"
					 icon="fa fa-search" ng-disabled="!ReportDailyCashBank_Branch_isDisabled" required>
					</bsselect>
					<span ng-if="FormValidation_RptDailyCashBank.ReportDailyCashBankBranch.$error.required && FormValidation_RptDailyCashBank.ReportDailyCashBankBranch.$touched"
					 class="help-block">Field ini wajib diisi</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div>
			<div class="col-md-2" ng-class="{'has-error':(FormValidation_RptDailyCashBank.ReportDailyCashBankTanggal.$error.required && FormValidation_RptDailyCashBank.ReportDailyCashBankTanggal.$touched) || ReportDailyCashBankTanggalOK == false}">
				<bsreqlabel>Tanggal Pembayaran</bsreqlabel>
				<div class="input-icon-right ">
					<bsdatepicker name="ReportDailyCashBankTanggal" format="dd/MM/yyyy" date-options="dateOptions" ng-model="ReportDailyCashBank_Tanggal"
					 ng-change="ReportDailyCashBankTanggalChanged()" required>
					</bsdatepicker>
					<span ng-if="FormValidation_RptDailyCashBank.ReportDailyCashBankTanggal.$error.required && FormValidation_RptDailyCashBank.ReportDailyCashBankTanggal.$touched"
					 class="help-block">Field ini wajib diisi</span>
					<!-- <span ng-if="!ReportDailyCashBankTanggalOK" class="help-block">{{errReportDailyCashBankTangga}}</span> -->

				</div>
			</div>

			<div class="col-md-3">
				<div class="col-md-5" style="margin-top:5px">
					<bsreqlabel>Tipe Report</bsreqlabel>
				</div>
				<div class="col-md-5">
					<label>
						<input type="radio" ng-model="ReportDailyCashBank_TipeReport" ng-value="1">&nbsp Summary</label>
					<br/>
					<label>
						<input type="radio" ng-model="ReportDailyCashBank_TipeReport" ng-value="2">&nbsp Detail</label>
				</div>
			</div>

			<div class="col-md-3">
				<label>
					<input ng-model="ReportDailyCashBank_Close" type="checkbox">&nbsp hanya ditampilkan (tidak closing harian)</label>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="pull-right">
			<button id="Report_Excel" ng-click="Report_Excel_Clicked()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
				<span class="ladda-label">
					PDF
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
</div>

<div class="modal" id="ModalKonfirmasiClosing" role="dialog">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Konfirmasi Closing</h4>
		</div>
		<div class="modal-body">
			<p>
				Apakah anda yakin ingin melakukan closing untuk GL <b>{{KonfirmasiNamaGL}}</b> pada tanggal <b>{{ReportDailyCashBank_Tanggal | date:'dd/MM/yyyy'}}</b>?
			</p>
		</div>
		<div class="modal-footer">
			<p>
				<button ng-click="ModalKonfirmasiClosing_Tidak()" class="rbtn btn ng-binding ladda-button" type="button">Tidak</button>
				<button ng-click="ModalKonfirmasiClosing_Ya()" class="rbtn btn ng-binding ladda-button" type="button">Ya</button>
			</p>
		</div>
	</div>
</div>