<link rel="stylesheet" href="css/uistyle.css">
<link rel="stylesheet" href="css/uitimelinestyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="styleSheet" href="release/ui-grid.min.css" />
<script src="/release/ui-grid.min.js"></script>
<script type="text/javascript">
   
</script>

<style type="text/css">
    .nopadding {
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 1px;
        margin: 0 !important;
    }
    
    .table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    .td,
    .th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    .tr:nth-child(even) {
        background-color: #dddddd;
    }
    
    .gridStyle {
        border: 1px solid rgb(212, 212, 212);
        width: 400px;
        height: 300px
    }
</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->


<div id="cekValidSpk">
     <button id="btnPembeliIndividu" onclick="" class="rbtn btn ng-binding ladda-button" style="float:right; margin:-30px 0 0 10px; width:11%">Find Unit</button>
    <bsform-grid ng-form="ManualMatchingProssesForm" factory-name="ManualMatchingProssesFactory" loading="loading" model="mmanualMatchingProsses" model-id="Id" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" show-advsearch="on" form-name="ManualMatchingProssesForm" hide-new-button="true" form-title="" modal-title="ManualMatchingProsses" modal-size="small" icon="fa fa-fw fa-child">
        <bsform-advsearch>
            <div class="row">

                <div class="col-md-3">
                    <div class="from-group">
                        <bsreqlabel>Tanggal SPK</bsreqlabel>
                        <bsdatepicker name="tanggal" date-options="dateOptions" ng-model="mmanualMatchingProsses.VehicleModelId" icon="fa fa-calendar">
                        </bsdatepicker>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label> Sampai Tanggal </label>
                        <bsdatepicker name="tanggal" date-options="dateOptions" ng-model="mmanualMatchingProsses.VehicleModelId" icon="fa fa-calendar">
                        </bsdatepicker>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>No SPK</label>
                        <input type="text" class="form-control" name="nama" placeholder="No SPK" ng-model="mmanualMatchingProsses.FormSPKNo" ng-maxlength="60" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nama Sales</label>
                        <bsselect name="Sales" ng-model="mmanualMatchingProsses.OutletId" data="getOutlet" item-text="Name" item-value="OutletId" on-select="OutletId" placeholder="Sales">
                        </bsselect>
                    </div>
                </div>

            </div>
            <div class="row" style="margin-bottom: 20px;">
                
            </div>
        </bsform-advsearch>
    </bsform-grid>

    <div class="row" style="padding:10px">
        <button ng-click="btnPembeliIndividu" class="rbtn btn ng-binding ladda-button" style="width:15%; float:right;">Match</button>
        <button ng-click="btnPembeliIndividu" class="rbtn btn ng-binding ladda-button" style="width:15%; float:right;">Suggest Match</button>
        <button ng-click="btnPembeliIndividu" class="rbtn btn ng-binding ladda-button" style="width:15%; float:right;">Un-match</button>
    </div>

    <!-- Modal 2 Template: Confirmation Pop Up-->
    <div class="modal fade" id="ModalConfirmation" role="dialog">
        <div class="modalDefault-dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">NO Rangka/RRN No.</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 nopadding">
                        <div class="filtersearch col-md-9 nopadding" style="padding-bottom:5px;padding-top: 10px">
                            <div style="padding-left: 15px">
                                <div class="input-group ">
                                    <input type="text" ng-model-options="{debounce: 250}" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Filter" ng-model="gridApi.grid.columns[filterColIdx].filters[0].term" style="">
                                    <div class="input-group-btn dropdown" uib-dropdown="" style="">
                                        <button id="filter" type="button" class="btn wbtn ng-binding dropdown-toggle" uib-dropdown-toggle="" data-toggle="dropdown" tabindex="-1" aria-haspopup="true" aria-expanded="false">Pilih&nbsp;<span class="caret"></span>
                                </button>
                                        <ul class="dropdown-menu pull-right" uib-dropdown-menu="" role="menu" aria-labelledby="filter">
                                            <!-- ngRepeat: col in gridCols -->
                                            <li role="menuitem" class="ng-scope">
                                                <a href="#" ng-click="filterBtnChange(col)" class="ng-binding" tabindex="0">No Rangka<span class="pull-right"><i class="fa fa-fw fa-filter ng-hide" ng-show="gridApi.grid.columns[1].filters[0].term!='' &amp;&amp;gridApi.grid.columns[1].filters[0].term!=undefined"></i></span>
                                        </a>
                                            </li>
                                            <!-- end ngRepeat: col in gridCols -->
                                            <li role="menuitem" class="ng-scope">
                                                <a href="#" ng-click="filterBtnChange(col)" class="ng-binding" tabindex="0">Model<span class="pull-right"><i class="fa fa-fw fa-filter ng-hide" ng-show="gridApi.grid.columns[2].filters[0].term!='' &amp;&amp;gridApi.grid.columns[2].filters[0].term!=undefined"></i></span>
                                        </a>
                                            </li>
                                            <!-- end ngRepeat: col in gridCols -->
                                            <li role="menuitem" class="ng-scope">
                                                <a href="#" ng-click="filterBtnChange(col)" class="ng-binding" tabindex="0">Type<span class="pull-right"><i class="fa fa-fw fa-filter ng-hide" ng-show="gridApi.grid.columns[3].filters[0].term!='' &amp;&amp;gridApi.grid.columns[3].filters[0].term!=undefined"></i></span>
                                        </a>
                                            </li>
                                            <!-- end ngRepeat: col in gridCols -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 nopadding" style="float: right;padding-top: 10px;">
                            <button id="cari" class="rbtn btn ng-binding ladda-button" style="float: right; width: 100%;">Cari</button>
                        </div>
                    </div>
                </div>

                <br></br>
                <table class="table">
                    <tr class="tr">
                        <th class="th" style="width: 2%"></th>
                        <th class="th" style="width: 10%">No Rangka/RRN</th>
                        <th class="th" style="width: 10%">Model</th>
                        <th class="th" style="width: 15%">Tipe</th>
                        <th class="th" style="width: 15%">Warna</th>
                        <th class="th" style="width: 15%">Tahun Produksi</th>
                        <th class="th" style="width: 15%">Status Stock</th>
                    </tr>

                    <tr class="tr">
                        <td class="td"><input type="checkbox" name="lunas" value=""></td>
                        <td class="td">MHX00016652418</td>
                        <td class="td">Avanza</td>
                        <td class="td">Avanza 1.3 M/T</td>
                        <td class="td">Abu-Abu</td>
                        <td class="td">2016</td>
                        <td class="td">Free</td>
                    </tr>

                </table>

            </div>
            <div class="modal-footer">
                <p align="right">
                    <button onclick="Tidak_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Batal</button>
                    <button onclick="" class="rbtn btn ng-binding ladda-button" type="button">Pilih</button>
                </p>
            </div>
        </div>
    </div>
</div>