<bsform-base
        ng-form="RevenueForm"
        loading="loading"
        show-advsearch="on"

        form-name="RevenueFormGRHO"
        form-title="RevenueFormGRHO"
        icon="fa fa-fw fa-child"
>

      <bsform-advsearch>
        <div class="row">
          <div class="col-md-4"  style="margin-top: 15px;">
            <div class="form-group" show-errors>
            <bslabel>TAM Area</bslabel>                        
              <bsselect ng-disabled="DisabledTAM()" ng-model="filter.tamarea" 
                                name="tamarea" 
                                data="dataAreaTAM" 
                                item-text="areaName" 
                                item-value="areaId" 
                                on-select="areaId(selected)" 
                                placeholder="Select TAM Area" required>
              </bsselect>
              <bserrmsg field="tamarea"> harus diisi </bserrmsg>
            </div>
          </div>

          <div class="col-md-4" style="margin-top: 15px;">
            <div class="form-group" show-errors>
            <bslabel>Group Dealer</bslabel>                        
            <bsselect ng-disabled="DisabledTAM()" ng-model="filter.Dealer" 
                                name="dealer" 
                                data="dataDealer" 
                                item-text="dealerName" 
                                item-value="dealerCode" 
                                on-select="dealerCode(selected)" 
                                placeholder="Select Dealer" required>
            </bsselect>
            <bserrmsg field="dealer"> harus diisi </bserrmsg>
          </div>
          </div>
                  
          <div class="col-md-4" style="margin-top: 15px;">
            <div class="form-group" show-errors>
            <bslabel>Group Dealer Area</bslabel>                        
            <bsselect ng-disabled="DisabledDealer()" ng-model="filter.dealerarea" 
                                name="dealerarea" 
                                data="dataAreaDealerHO" 
                                item-text="areaName" 
                                item-value="areaId" 
                                on-select="areaId(selected)" 
                                placeholder="Select Dealer Area" required>
            </bsselect>
            <bserrmsg field="dealerarea"> harus diisi </bserrmsg>
          </div>
          </div>

          <div class="clearfix"></div>
          <div class="col-md-4" style="margin-top: 15px;">
            <div class="form-group" show-errors>
            <bslabel>Cabang</bslabel>                        
            <bsselect ng-model="filter.CabangHO" 
                                name="cabangHO" 
                                data="dataCabangHO" 
                                item-text="cabangName" 
                                item-value="cabangID" 
                                on-select="cabangID(selected)" 
                                placeholder="Select Cabang" required>
            </bsselect>
            <bserrmsg field="cabang"> harus diisi </bserrmsg>
          </div>
          </div>

          <div class="col-md-4" style="margin-top: 15px;">
          
          </div>
          
          <div class="col-md-4" style="margin-top: 15px;">
            <div class="form-group" show-errors>
              <bslabel>Kategori Workshop</bslabel>
              <input type="text" class="form-control" ng-model="filter.kategori" name="kategoriWorkshop" placeholder="Kategori Workshop" required disabled>
              <bserrmsg field="kategoriWorkshop"> harus diisi </bserrmsg>
            </div>
          </div>

          <div class="clearfix"></div>
          <div class="col-md-3">
            <div class="form-group" show-errors>
              <bsreqlabel>Periode</bsreqlabel>
                <bsdatepicker
                  name="dateStart"
                  date-options="dateOptions"
                  ng-model="filter.DateStart" required
                >
              </bsdatepicker>
              <bserrmsg field="dateStart"> harus diisi </bserrmsg>
            </div>
          </div>
          <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
          <div class="col-md-3" style="margin-top: 5px;">
            <div class="form-group" show-errors>
              <label></label>
                <bsdatepicker
                  name="DateEnd"
                  date-options="dateOptions"
                  ng-model="filter.DateEnd" required
                >
              </bsdatepicker>
              <bserrmsg field="DateEnd"> harus diisi </bserrmsg>
            </div>          
          </div>
         <!--  <pre>{{filter}}</pre> -->
    <div class="col-md-3">
<!--         <div class="form-group" show-errors>
            <div class="form-group pull-right">
                <button ng-click="getSummaryHO()" type="button" class="rbtn btn"> Filter </button>
            </div>
        </div> -->
    </div>
</div>
      </bsform-advsearch>

      <bsform-base-main>
        <div ng-include="'app/services/report/GR/revenueGR/revenueSummary.html'"></div>
      </bsform-base-main>

</bsform-base>
