<script type="text/javascript">
</script>
<style type="text/css">

</style>

<!--   action-button-settings="actionButtonSettings"
        action-button-settings-detail="actionButtonSettingsDetail"
        show-advsearch="on"

        form-api="formApi"
        linksref="app.queueCategory"
        linkview="queueCategory@app"
 -->

<bsform-base ng-form="ReportPengMaterialBahanForm" loading="loading" form-api="formApi" linksref="app.queueCategory" linkview="queueCategory@app" form-name="ReportPengMaterialBahanFormGR" form-title="ReportPengMaterialBahanGR" icon="fa fa-fw fa-child">

    <bsform-base-main>
        <div class="row" style="margin-right:0px;">
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>Dealer</label>
                    <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" required>
                    </bsselect>
                    <bserrmsg field="dealer"> harus diisi </bserrmsg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>Cabang </label>
                    <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                    </bsselect>
                    <bserrmsg field="cabang"> harus diisi </bserrmsg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>Kategori Workshop</label>
                    <input type="text" class="form-control" ng-model="filter.kategori" name="kategori" disabled required>
                    <bserrmsg field="kategori"> harus diisi </bserrmsg>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right:0px;" ng-form="tesAjah">
            <div class="col-md-3">
                <div class="form-group" show-errors>
                    <bsreqlabel>Periode</bsreqlabel>
                    <bsdatepicker 
                        ng-change="changeStartDate(filter.DateStart)" 
                        max-date="maxDateS" 
                        name="dateStart" 
                        date-options="SdateOptions" 
                        ng-model="filter.DateStart" 
                        required>
                    </bsdatepicker>
                    <bserrmsg field="dateStart"> harus diisi </bserrmsg>
                    <em ng-messages="tesAjah.dateStart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p ng-message="date">Format Tanggal Salah</p>
                    </em>
                    <em ng-show="(filter.DateStart > filter.DateEnd) && filter.DateEnd !== null" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p>Tanggal Awal Tidak Boleh Lebih Besar dari Tanggal Akhir</p>
                    </em>
                </div>
            </div>
            <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
            <div class="col-md-4" style="margin-top:5px;">
                <div class="form-group" show-errors>
                    <label></label>
                    <bsdatepicker 
                        ng-change="changeEndDate(filter.DateEnd)"
                        ng-disabled="filter.DateStart == null" 
                        max-date="maxDateE" 
                        min-date="minDateE" 
                        name="dateend" 
                        date-options="EdateOptions" 
                        ng-model="filter.DateEnd" 
                        required>
                    </bsdatepicker>
                    <bserrmsg field="dateend"> harus diisi </bserrmsg>
                    <em ng-messages="tesAjah.dateend.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p ng-message="date">Format Tanggal Salah</p>
                    </em>
                    <em ng-show="(filter.DateEnd < filter.DateStart) && filter.DateEnd !== null" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p>Tanggal Akhir Tidak Boleh Lebih Kecil dari Tanggal Awal</p>
                    </em>
                </div>
            </div>
<!--             <div class="col-md-4">
                <div class="form-group" show-errors>
                    <label>Kategori Perbaikan </label>
                    <bsselect ng-model="filter.KategoriPerbaikan" name="kategoriPerbaikan" data="dataKategoriPerbaikan" item-text="name" item-value="masterID" on-select="masterID(selected)" placeholder="Select Kategori Perbaikan" required>
                    </bsselect>
                    <bserrmsg field="perbaikan"> harus diisi </bserrmsg>
                </div>
            </div> -->

        </div>

        <div class="row">
            <div class="pull-right">
                <button type="button" ng-click="getReport()" class="rbtn btn"> Export Detail</button>
            </div>
        </div>
    </bsform-base-main>



</bsform-base>