<link rel="stylesheet" href="css/uistyle.css">
<link rel="stylesheet" href="css/uitimelinestyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<link rel="styleSheet" href="release/ui-grid.min.css" />
<script src="/release/ui-grid.min.js"></script>

<script type="text/javascript">
</script>

<style type="text/css">
    .nopadding {
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 1px;
        margin: 0 !important;
    }

    .table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .td,
    .th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    .tr:nth-child(even) {
        background-color: #dddddd;
    }

    .gridStyle {
        border: 1px solid rgb(212, 212, 212);
        width: 400px;
        height: 300px
    }
    
    .ui-grid-viewport {
        overflow-anchor : none;
    }
    
</style>

<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<div ng-show="ManualMatching">
    <button ng-show="showfindUnit" ng-disabled="SelectUnit.length == 0" ng-click="findUnit()" class="rbtn btn ng-binding ladda-button"
        style="float:right; margin:-30px 0 0 10px;width:11%">Find Unit</button>


    <button ng-click="btnMatch()" ng-disabled="disabledBtnMatch || SelectUnit.length<=0||disabledMatch||disabledbtnproces || !RightsEnableForMenu.allowEdit" class="rbtn btn ng-binding ladda-button"
        style=" float:right;margin-top:-31px;">Match</button>
    <button ng-click="btnSuggest()" ng-disabled="SelectUnit.length<=0||disabledsuggest||disabledbtnproces || !RightsEnableForMenu.allowEdit" class="rbtn btn ng-binding ladda-button"
        style=" float:right;margin-top:-31px;">Suggest Match</button>
    <button ng-click="btnUnmatch()" ng-disabled="SelectUnit.length<=0||disabledbtnproces || !RightsEnableForMenu.allowEdit" class="rbtn btn ng-binding ladda-button"
        style=" float:right;margin-top:-31px;">Un-match</button>

	<div class="ui modal ModalUnmatchSwappingSuggestion" role="dialog">

        <div class="modal-header">
            Alasan Batal Matching
        </div>
        <div class="modal-body">
            
            <div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group">
							<label>No. SPK</label>
							<div class="input-icon-right">
								<i class="fa fa-pencil"></i>
								<input type="text" class="form-control" ng-model="SelectUnit[0].FormSPKNo" placeholder="No. SPK" ng-disabled="true">
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>No. Rangka</label>
							<div class="input-icon-right">
								<i class="fa fa-pencil"></i>
								<input type="text" class="form-control" ng-model="SelectUnit[0].FrameNo" placeholder="No. Rangka" ng-disabled="true">
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>No. SO</label>
							<div class="input-icon-right">
								<i class="fa fa-pencil"></i>
								<input type="text" class="form-control" ng-model="SelectUnit[0].SOCode" placeholder="No. SO" ng-disabled="true">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						<div class="form-group">
							<label>Model Tipe Kendaraan</label>
							<div class="input-icon-right">
								<i class="fa fa-pencil"></i>
								<input type="text" class="form-control" ng-model="SelectUnit[0].VehicleTypeDescription" placeholder="Model Tipe Kendaraan" ng-disabled="true">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Nama Pelanggan</label>
							<div class="input-icon-right">
								<i class="fa fa-pencil"></i>
								<input type="text" class="form-control" ng-model="SelectUnit[0].CustomerName" placeholder="Nama Pelanggan" ng-disabled="true">
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						<div class="form-group">
							<label>Nama Salesman</label>
							<div class="input-icon-right">
								<i class="fa fa-pencil"></i>
								<input type="text" class="form-control" ng-model="SelectUnit[0].SalesName" placeholder="Salesman" ng-disabled="true">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Nama Supervisor</label>
							<div class="input-icon-right">
								<i class="fa fa-pencil"></i>
								<input type="text" class="form-control" ng-model="SelectUnit[0].SupervisorName" placeholder="Supervisor" ng-disabled="true">
							</div>
						</div>
					</div>
					
				</div>
                <div class="col-md-12">
                    <div class="form-group">
                        <bsreqlabel>Alasan</bsreqlabel>
                        <textarea type="text" class="form-control" name="nama" placeholder="Alasan" ng-model="SwappingSuggestionUnmatchReason" rows="6" cols="60" required>
					</div>
				</div>
			</div>
        </div>
			<div class="modal-footer">
                <button ng-disabled="SwappingSuggestionUnmatchReason==null || SwappingSuggestionUnmatchReason==undefined ||SwappingSuggestionUnmatchReason==''|| disabledSwappingSuggestionUnmatchSimpan" ng-click="SwappingSuggestionUnmatchSimpan()" class="rbtn btn ng-binding ladda-button" style="float: right;">Simpan</button>
                <button ng-click="SwappingSuggestionUnmatchBatal()" class="wbtn btn ng-binding ladda-button" style="float: right;">Batal</button>
            </div>

        
    </div>	


    <bsform-grid ng-form="SwappingSugestionForm" factory-name="SwappingSugestionFactory" model="mSwappingSugestion" model-id="Id"
        grid-hide-action-column="true" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows" show-advsearch="on"
        hide-new-button="true" form-name="SwappingSugestionForm" form-title="Maintain Matching" modal-title="MaintainSO" modal-size="small"
        icon="fa fa-fw fa-child" rights-byte="rightEnableByte">
        <bsform-advsearch>
            <div class="row">
                <div class="col-md-3">
                    <div class="from-group">
                        <bsreqlabel>Tanggal SPK</bsreqlabel>
                        <bsdatepicker name="tanggal" date-options="dateOptionsStart" ng-change="tanggalmin(dt)" ng-model="filter.SPKDateStart" icon="fa fa-calendar">
                        </bsdatepicker>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <bsreqlabel>Sampai Tanggal</bsreqlabel>
                        <bsdatepicker name="tanggal" date-options="dateOptionsEnd" ng-model="filter.SPKDateEnd" icon="fa fa-calendar">
                        </bsdatepicker>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>No. SPK</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" ng-model="filter.SPKNo" name="SPK" placeholder="No. SPK" ng-maxlength="50" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Status Matching</label>
                        <bsselect name="Status" ng-model="filter.StatusMatchingId" data="statusMatching" item-text="StatusMatchName" item-value="StatusMatchId"
                            placeholder="Select" icon="fa fa-search" required>
                        </bsselect>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px;">

            </div>
        </bsform-advsearch>
    </bsform-grid>



    <!-- <bsui-modal show="show_modal.show" title="No Rangka/RRN No" data="modal_model" on-save="onListSave" on-cancel="onListCancel" mode="modalMode" width="50%"> -->
    <div class="ui modal NoRangka">
            <div>
                    <div class="modal-header" style="padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
                        <h6>
                            <b>No. Rangka / No. RRN</b>
                        </h6>
                    </div>
                    <div class="modal-body">
                            <div class="row" style="padding-bottom: 13px">
                                    <div class="col-md-12 nopadding">
                                        <div class="filtersearch col-md-9 nopadding" style="padding-bottom:5px;padding-top: 10px">
                                            <div style="padding-left: 12px">
                                                <div id="comboBoxFilter" style="float:left; width:10%;">
                                                    <div style="margin-top:15px;" class="form-group filterMarg">
                                                        <b>No. Rangka</b>
                                                    </div>
                                                </div>
                                                <div id="comboBoxFilter" style="float:left; width:45%;">
                                                    <div class="form-group filterMarg">
                                                        <input class="form-control" style="width:100%;" type='text' ng-model="SwappingSuggestionRangkaRrnSearchValue"/>
                                                    </div>
                                                </div>
                                                <div id="btnFilter" style="float:left; width:10%;">
                                                    <button ng-click="SwappingSuggestionRangkaRrnSearchThingy()" style="margin-let: 10px;" id="cari" class="rbtn btn ng-binding ladda-button" style="width: 60%;">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <div style="display:block" ui-grid="gridMatchingVehicle" ui-grid-edit ui-grid-selection ui-grid-pinning ui-grid-pagination ui-grid-auto-resize
                                    class="grid" ng-cloak>
                                </div>
                    </div>
                    <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                        <div class="row" style="margin:  0 0 0 0">
                                <button ng-click="onListSave()" ng-disabled="selectRowRRN.length < 1|| !RightsEnableForMenu.allowNew" class="rbtn btn ng-binding ladda-button"
                                style="float: right;">Simpan</button>
                            <button ng-click="onListCancel()" class="wbtn btn ng-binding ladda-button" style="float: right;">Kembali</button>
                    </div>
                </div>

    </div>
	</div>
    <!-- </bsui-modal> -->

    <div class="ui small modal matching" role="dialog" style="width:25%; margin-left: -157px;">
        <i class="close icon"></i>
        <div class="header">Matching</div>
        <div class="content" style="text-align: center">
            <p style="font-size:initial; margin:0px">Tidak ada SO No yang Status</p>
            <p style="font-size:initial; margin:0px">matching : "Outstanding".</p>
        </div>
        <div class="actions">
            <div class="wbtn btn ng-binding ng-scope" style="width:100%;" ng-click="TutupModalMatching()">Kembali</div>
        </div>
    </div>
</div>

<div ng-show="SwappingSugestion">
    <button ng-disabled="selectedSwappingSugestion.length == 0" ng-click="btnRequestSwapping();" class="rbtn btn ng-binding ladda-button"
        style="float:right; margin:-30px 0 0 1px;width:13%">Request Swapping</button>
    <button ng-click="KembaliMaintain();" class="wbtn btn ng-binding ladda-button" style="float:right; margin:-30px 0 0 1px;width:13%">Kembali</button>

    <fieldset ng-disabled="true" style="padding-top:12px; padding-bottom:15px">
        <!-- <div class="col-md-4">
           <div class="form-group">
                <bsreqlabel>Tanggal SPK</bsreqlabel>
                <bsdatepicker name="tanggal" date-options="dateOptions" icon="fa fa-calendar" ng-model="SelectUnit[0].SpkDate">
                </bsdatepicker>
            </div>
        </div> -->

        <div class="col-md-4">
            <div class="form-group">
                <bsreqlabel>Status Matching</bsreqlabel>
                <bsselect name="Status" ng-model="SelectUnit[0].StatusMatchId" data="statusMatching" item-text="StatusMatchName" item-value="StatusMatchId"
                    on-select="StatusMatchId" placeholder="Select">
                </bsselect>
            </div>
        </div>
    </fieldset>

    <div ui-grid="gridSwappingSugestion" ui-grid-selection ui-grid-pinning ui-grid-pagination ui-grid-auto-resize class="grid"
        ng-cloak>
    </div>

    <div class="ui modal GroupDealer" role="dialog">
        <i class="close icon"></i>
        <div class="header">Same Company</div>
        <div class="content">
            <div ui-grid="gridFindGroupDealer" ui-grid-selection ui-grid-pinning ui-grid-pagination ui-grid-auto-resize class="grid"
                ng-cloak>
            </div>
        </div>
        <div class="actions">
            <div class="wbtn btn ng-binding ng-scope" style="width:11%;" ng-click="btnTutupGroupDealer()">Kembali</div>
            <div class="rbtn btn ng-binding ng-scope" style="width:11%;" ng-click="btnPilihGroupDealer()">Pilih</div>
        </div>
    </div>

    <div class="ui small modal OtherDealer" role="dialog">
        <i class="close icon"></i>
        <div class="header">Different Company</div>
        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <bsreqlabel>Area</bsreqlabel>
                        <bsselect id="comboBox" name="filterModel" ng-model="OtherDealer.AreaId" data="DataArea" ng-change="getProvince(OtherDealer.AreaId)"
                            item-text="AreaName" item-value="AreaId" on-select="" placeholder="Area" icon="fa fa-search">
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <bsreqlabel>Provinsi</bsreqlabel>
                        <bsselect id="comboBox" name="filterModel" ng-disabled="OtherDealer.AreaId == null" ng-model="OtherDealer.ProvinceId" data="getDataProvince"
                            item-text="ProvinceName" item-value="ProvinceId" on-select="" placeholder="Provinsi" icon="fa fa-search">
                        </bsselect>
                    </div>
                </div>
                <div class="col-md-3">
                    <button id="cari" ng-disabled="OtherDealer.ProvinceId==null || OtherDealer.ProvinceId==undefined" ng-click="SearchOtherDealer()" class="rbtn btn ng-binding ladda-button" style="float: right; width: 100%; margin-top: 22px;">Cari</button>
                </div>
            </div>
            <div ui-grid="gridFindOtherDealer" ui-grid-selection ui-grid-pinning ui-grid-pagination ui-grid-auto-resize class="grid"
                ng-cloak>
            </div>
        </div>
        <div class="actions">
            <div class="wbtn btn ng-binding ng-scope" style="width:11%;" ng-click="btnTutupGroupDealer()">Kembali</div>
            <div class="rbtn btn ng-binding ng-scope" style="width:11%;" ng-click="btnPilihOtherDealer()">Pilih</div>
        </div>
    </div>
</div>