<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Pemilik</label>
                    <input ng-model="mDataCustomer.owner" type="text" skip-enable disabled class="form-control">
                </div>
                <div class="form-group">
                    <label>Pengguna</label>
                    <input ng-model="mDataCustomer.user" skip-enable type="text" disabled class="form-control">
                </div>
                <div class="form-group">
                    <label>Alamat</label>
                    <input ng-model="mDataCustomer.address" skip-enable type="text" disabled class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>On Time/Late</label>
                    <input ng-model="mDataCustomer.late" skip-enable type="text" disabled class="form-control">

                </div>
                <div class="form-group">
                    <label>Waiting Time</label>
                    <input ng-model="mDataCustomer.waitTime" skip-enable type="text" disabled class="form-control">

                </div>
                <div class="form-group">
                    <label>Model</label>
                    <input ng-model="mDataCustomer.model" skip-enable type="text" disabled class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="well">
                    <div class="form-group">
                        <label>Job Suggest</label>
                        <textarea class="form-control" skip-enable ng-model="mDataCustomer.Suggestion" ng-disabled="true"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <uib-tabset active="activeJustified" justified="true">
                  <uib-tab index="0" heading="Field Action & Free Claim">
                    <div class="col-md-12" style="margin-top: 20px;">
                        <table class="table" style="border: 1px solid rgb(182, 182, 182); width: 100%;">
                            <tr>
                              <th colspan="12"><h4> <span style="color:#d53337; font-weight: bold;">Field Action / SSC</span></h4></th>
                            </tr>
                            <tr>
                              <td colspan="12">
                                <table class="table table-striped table-bordered">
                                  <tr style="background-color:#d53337; color: white;">
                                      <th style="text-align: center; width: 5px;">No</th>
                                      <th style="text-align: center;">Openo </th>
                                      <th style="text-align: center;">Description</th>
                                      <th style="text-align: center;">Claim Type</th>
                                      <th style="text-align: center;">Tgl. WO <br> (Repair Open)</th>
                                      <th style="text-align: center;">Tgl. Claim <br> (Created Date)</th>
                                      <th style="text-align: center;">Nama Cabang</th>
                                      <th style="text-align: center;">Claim Status TOWASS</th>
                                  </tr>
                                  <tr ng-repeat="item in GetDataTowass">
                                    <td style="text-align: center;" width="5%">{{$index + 1}}</td>
                                    <td style="text-align: center;">{{item.OpeNo}}</td>
                                    <td style="text-align: center;">{{item.Description}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></Td>
                                    <td></Td>
                                  </tr>
                              </table>
                            </td>
                          </tr>
                      </table>
                    </div>

                    <div class="col-md-12" style="margin-top: 20px;">
                      <table class="table" style="border: 1px solid rgb(182, 182, 182); width: 100%;">
                        <tr>
                          <th colspan="12">
                            <h4> <span style="color:#d53337; font-weight: bold;">Free Claim</span></h4>
                          </th>
                        </tr>
                        <tr>
                          <td colspan="12">
                            <div class="row">
                              <div class="col col-md-3">
                                <div class="form-group">
                                  <label>Nama Program</label>
                                  <input type="text" class="form-control" ng-model="tempVIN.ProgramName" readonly> </input>
                                </div>
                              </div>
                              <div class="col col-md-3">
                                <div class="form-group">
                                  <label>Extended Warranty</label>
                                  <input type="text" class="form-control" ng-model="listClaim.extendedWarranty == true ? 'Aktif' : 'Non Aktif'" readonly> </input>
                                </div>
                              </div>
                              <div class="col col-md-3">
                                <div class="form-group">
                                  <label>Punctual</label>
                                  <input type="text" class="form-control" ng-model="listClaim.punctualFlag == true ? 'Yes' : 'No'" readonly></input>
                                </div>
                              </div>
                              <div class="col col-md-3">
                                <div class="form-group">
                                  <label>DEC Date</label>
                                  <input type="text" class="form-control" ng-model="tempVIN.DEC_Date" readonly></input>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table class="table table-striped table-bordered">
                              <tr style="background-color:#d53337; color: white;">
                                  <th style="text-align: center; width: 5px;"> No </th>
                                  <th style="text-align: center;"> Service </th>
                                  <th style="text-align: center;">Openo</th>
                                  <th style="text-align: center;">Description</th>
                                  <th style="text-align: center;">Claim Type</th>
                                  <th style="text-align: center;">Tgl. WO <br> (Repair Open) </th>
                                  <th style="text-align: center;">Tgl. Claim <br> (Created Date)</th>
                                  <th style="text-align: center;">KM <br> (Odometer)</th>
                                  <th style="text-align: center;">Nama Cabang</th>
                                  <th style="text-align: center;">Claim Status TOWASS</th>
                              </tr>
                              <tr ng-repeat="item in tempListClaim">
                                  <td style="text-align: center;" width="5%">{{item.seqNo}}</td>
                                  <td style="text-align: center;">{{item.serviceNo}}</td>
                                  <td style="text-align: center;">{{item.openo}}</td>
                                  <td style="text-align: center;">{{item.openoDesc}}</td>
                                  <td style="text-align: center;">{{item.claimType}}</td>
                                  <td style="text-align: center;">{{item.repairDate | date:'dd/MM/yyyy'}}</td>
                                  <td style="text-align: center;">{{item.claimDate | date:'dd/MM/yyyy'}}</td>
                                  <td style="text-align: right;">{{item.km | number}}</td>
                                  <td style="text-align: center;">{{item.companyName}}</td>
                                  <td style="text-align: center;">{{item.statusDesc}}</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <i><span style="color:#d53337;">Note: </span> <span style="color: black;">Informasi yang ditampilkan merupakan status ter-update dari TOWASS</span></i>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </uib-tab>
                    <uib-tab index="1" heading="PSFU">
                        <div class="col-xs-12" style="margin-top: 20px;">
                            <table id="QA" class="table table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Pertanyaan</th>
                                        <th>Jawaban Customer</th>
                                        <!-- <th>Alasan Customer</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Question track by $index">
                                        <td width="5%">{{$index + 1}}</td>
                                        <td width="40%">{{item.Description}}</td>
                                        <td width="25%">
                                            <select convert-to-number ng-model="item.jawaban" class="form-control" name="yesOrNo" ng-disabled="true" skip-enable>
                                                <option ng-disabled="true" skip-enable ng-repeat="itemAnswer in item.Answer track by $index" value="{{itemAnswer.AnswerId}}">{{itemAnswer.Description}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <!-- <uib-tab index="2" heading="CS Survey">
                    </uib-tab> -->
                    <!-- <uib-tab index="3" heading="PKS">
                        <div class="col-md-12" style="margin-top:10px;" ng-repeat="a in dataPKS">
                            <label>Nama Perusahaan : {{a.CompanyName}}</label><br>
                            <label ng-show="a.CustomerPKSTop < 0 || a.CustomerPKSTop == null ||a.CustomerPKSTop = 0">Saldo PKS : {{a.AvailableBalance | currency:"Rp. "}}</label><br>
                            <label ng-show="a.CustomerPKSTop >= 1">TOP : {{a.CustomerPKSTop}} Hari</label><br>                           
                            <label>Periode Mulai : {{a.StartPeriod |date:dd/mm/yyyy}}</label><br>
                            <label>Periode Selesai : {{a.EndPeriod |date:dd/mm/yyyy}}</label>

                        </div>
                        <div ng-if="dataPKS.length == 0" style="text-align:center">
                            <h3>Data PKS Tidak Ada</h3>
                        </div>
                    </uib-tab> -->
                </uib-tabset>
            </div>
        </div>
    </div>
</div>