<script type="text/javascript">
	function navigateTab(containerId, divId) {

		$("#" + containerId).children().each(function (n, i) {
			var id = this.id;
			console.log(id + ' - ' + divId);
			if (id == divId) {
				$('#' + divId).attr('class', 'tab-pane fade in active');
			}
			else {
				$('#' + id).attr('class', 'tab-pane fade');
			}
		});
	}
</script>
<style type="text/css">
/* @media only screen and (max-width: 600px) {
    .nav.nav-tabs {
      display:none;
    }
} */

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}
.card{background:#fff;border-radius:2px;position:relative}
.card-2
{box-shadow:0 3px 3px rgba(0,0,0,.1),0 2px 8px rgba(0,0,0,.1)}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<!--<script type="text/javascript" src="js/uiscript.js"></script>-->

			<div ng-show="ApprovalDiskonSpkMain" style="min-height: 89vh;">

				<div id="filterData" ng-if="ApprovalDiskonSpkFilter == true" class="row" style="margin:0; margin-top:5px;">
						<div id="comboBoxFilter" style="float:left; width:20%; font-size:12px;">
							<div class="form-group filterMarg">
								<select required ng-model="filter.limit" class="form-control" ng-options="item.SearchOptionId as item.SearchOptionName for item in optionApprovalDiskonSpkSearchLimit"
									placeholder="Filter">
								</select>
							</div>
						</div>

						<div id="comboBoxFilter" style="float:left; width:30%; font-size:12px;">
							<div class="form-group filterMarg">
								<select 
									required ng-model="ApprovalDiskonSpkSearchCriteria" 
									class="form-control" 
									ng-change="ApprovalDiskonSpkSearchCriteriaChange(ApprovalDiskonSpkSearchCriteria)" 
									ng-options="item.SearchOptionId as item.SearchOptionName for item in optionApprovalDiskonSpkSearchCriteria"
									placeholder="Filter">
								</select>
							</div>
						</div>
						<div id="inputFilter" style="float:left; width:30%;">
							<div class="form-group filterMarg">
								<input type="text"  ng-model="ApprovalDiskonSpkSearchValue" id="ApprovalDiskonSpkSearchValue" class="form-control"  placeholder="Search" ng-maxlength="100">
							</div>
						</div>
						<div id="btnFilter" style="float:left; width:10%;">
							<button style=" margin-right: 0px!important" class="rbtn btn mobileFilterBtn" ng-click="SearchApprovalDiskonSpk()">
								<i class="fa fa-filter iconFilter"></i>
								</button>
						</div>
						<div id="btnFilter" style="float:left; width:10%;">
							<button style=" margin-right: 0px!important" class="rbtn btn mobileFilterBtn" ng-click="ApprovalDiskonSpkRefresh()">
								<i class="fa fa-refresh iconFilter"></i>
								</button>
						</div>
				</div>

				<div id="filterData" ng-if="ApprovalOTRSpkFilter == true" class="row" style="margin:0; margin-top:5px;">
					<div id="comboBoxFilter" style="float:left; width:20%; font-size:12px;">
						<div class="form-group filterMarg">
							<select required ng-model="ApprovalDiskonSpkSearchLimit" class="form-control"
								ng-options="item.SearchOptionId as item.SearchOptionName for item in optionApprovalDiskonSpkSearchLimit"
								placeholder="Filter">
							</select>
						</div>
					</div>

					<div id="comboBoxFilter" style="float:left; width:30%; font-size:12px;">
						<div class="form-group filterMarg">
							<select 
								required ng-model="ApprovalOTRSpkSearchCriteria" 
								class="form-control" 
								ng-change="ApprovalOTRSpkSearchCriteriaChange(ApprovalOTRSpkSearchCriteria)"
								ng-options="item.SearchOptionId as item.SearchOptionName for item in optionApprovalOTRSpkSearchCriteria"
								placeholder="Filter">
							</select>
						</div>
					</div>
					<div id="inputFilter" style="float:left; width:30%;">
						<div class="form-group filterMarg">
							<input type="text" required ng-model="ApprovalOTRSpkSearchValue" id="ApprovalOTRSpkSearchValue" class="form-control"
								name="ModelKendaraan" placeholder="Search" ng-maxlength="100">
						</div>
					</div>
					<div id="btnFilter" style="float:left; width:10%;">
						<button style=" margin-right: 0px!important" class="rbtn btn mobileFilterBtn"
							ng-click="SearchApprovalOTRSpk()">
							<i class="fa fa-filter iconFilter"></i>
						</button>
					</div>
					<div id="btnFilter" style="float:left; width:10%;">
						<button style=" margin-right: 0px!important" class="rbtn btn mobileFilterBtn"
							ng-click="ApprovalOTRSpkRefresh()">
							<i class="fa fa-refresh iconFilter"></i>
						</button>
					</div>
				</div>

				<br/>

				<ul class="nav nav-tabs" style="margin-top:10px;">
					<li id="DaftarSuspectTabSuspect" class="active"><a data-toggle="tab" href="#"
							onclick="navigateTab('tabContainer_ApprovalDiscAndOTR','ApprovalDiskon');"
							ng-click="ApprovalDiscountFilterTriger()">Approval Discount</a></li>
					<li  ng-show="user.RoleName == 'Operation Manager' || user.RoleName == 'COO' " id="DaftarSuspectTabProspect"><a data-toggle="tab" href="#"
							onclick="navigateTab('tabContainer_ApprovalDiscAndOTR','ApprovalOTR');"
							ng-click="ApprovalOTRFilterTriger()">Approval Off The Road</a></li>
				</ul>

				<div id="tabContainer_ApprovalDiscAndOTR" class="tab-content" style="min-height:70vh">

					<div id="ApprovalDiskon" class="tab-pane fade in active">
						<div class="listData">
							<button class="btn btn-default dropdown-toggle dropdown-toggle" type="button"
								style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								Approval Diskon SPK
								<span></span>
								<span style="float:right; margin-right:3px;"> </span>
							</button>
						</div>
						
						<div style="max-height:600px;overflow-y:auto;max-width: 100%;overflow-x: hidden;" class="list-group"
							id="dropdownContentListDataRadio" aria-labelledby="dropdownMenu1">
							<div aria-labelledby="dropdownMenu1" class="list-group-item card-2"
								ng-repeat="ContentApprovalDiskonSpkGabungan in ApprovalDiskonSpkGabungan"
								style="padding:10px 0px 10px 10px;float:left;width:100%;margin-bottom:10px;">
								<div style="float:left;width:94%">
									<ul class="list-inline" style="font-size:16px;">
										<li><label style="float: left;"><input style="margin-right:5px;" type="checkbox"
													name="selectedSuspect[]" value="{{ContentApprovalDiskonSpkGabungan}}"
													ng-checked="selectionApprovalDiskonSpk.indexOf(ContentApprovalDiskonSpkGabungan) > -1"
													ng-click="toggleSelection(ContentApprovalDiskonSpkGabungan)" />No.
												SPK:{{ContentApprovalDiskonSpkGabungan.FormSPKNo}}</label></li>
									</ul>
									<!-- <ul class="list-inline" style="font-size:14px;margin-top:-10px;">
													<table>
														<tr>
															<td>Sales</td>
															<td>:</td>
															<td>{{ContentApprovalDiskonSpkGabungan.Salesman}}</td>
														</tr>
														<tr>
															<td>Nama Pelanggan</td>
															<td>:</td>
															<td>{{ContentApprovalDiskonSpkGabungan.ProspectName}}</td>
														</tr>
														<tr>
															<td>Model Tipe</td>
															<td>:</td>
															<td>{{ContentApprovalDiskonSpkGabungan.VehicleTypeDescription}}</td>
														</tr>
														<tr>
															<td>Qty</td>
															<td>:</td>
															<td>{{ContentApprovalDiskonSpkGabungan.Qty}}</td>
														</tr>
														<tr>
															<td>Diskon</td>
															<td>:</td>
															<td>Rp.{{ContentApprovalDiskonSpkGabungan.Discount| number}}/Unit</td>
														</tr>
														<tr>
															<td>Total Harga</td>
															<td>:</td>
															<td>Rp.{{ContentApprovalDiskonSpkGabungan.ListOfSAHApprovalDiscountSPKView[0].GrandTotal| number}}/Unit</td>
														</tr>
														<tr>
															<td>Approval Terakhir Oleh</td>
															<td>:</td>
															<td>{{ContentApprovalDiskonSpkGabungan.ApproverNameTerakhir}} ({{ContentApprovalDiskonSpkGabungan.ApproverRoleNameTerakhir}})</td>
														</tr>
														<tr>
															<td>Status</td>
															<td>:</td>
															<td>{{ContentApprovalDiskonSpkGabungan.HeaderStatusApprovalName}}</td>
														</tr>
													</table>
												</ul> -->
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Sales</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<div style="float: left; max-width: 160px">{{ContentApprovalDiskonSpkGabungan.Salesman}}</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Pelanggan</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<div style="float: left"> {{ContentApprovalDiskonSpkGabungan.ProspectName}}</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Model Tipe</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<div style="float: left; max-width: 160px"> {{ContentApprovalDiskonSpkGabungan.VehicleTypeDescription}}
										</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Qty</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<div style="float: left"> {{ContentApprovalDiskonSpkGabungan.Qty}}</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Metode Pembayaran </div>
										<div style="float: left">&nbsp:&nbsp</div>
										<!-- <div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.Discount| number}}/Unit</div> -->
										<div style="float: left">{{ContentApprovalDiskonSpkGabungan.FundSourceName}}</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Nama Leasing</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<!-- <div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.Discount| number}}/Unit</div> -->
										<div style="float: left">{{ContentApprovalDiskonSpkGabungan.LeasingName}}</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Tenor </div>
										<div style="float: left">&nbsp:&nbsp</div>
										<!-- <div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.Discount| number}}/Unit</div> -->
										<div style="float: left">{{ContentApprovalDiskonSpkGabungan.LeasingTenorTime| number}}</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Total Diskon</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<!-- <div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.Discount| number}}/Unit</div> -->
										<div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.RequestTotalDiscount| number}}/Unit</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Diskon Unit</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<!-- <div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.Discount| number}}/Unit</div> -->
										<div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.DiskonUnit| number}}</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Diskon Subsidi DP</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<!-- <div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.Discount| number}}/Unit</div> -->
										<div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.SubsidiDP| number}}</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Diskon Subsidi Rate</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<!-- <div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.Discount| number}}/Unit</div> -->
										<div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.SubsidiRate| number}}</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Komisi Mediator</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<!-- <div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.Discount| number}}/Unit</div> -->
										<div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.KomisiMediator| number}}</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Diskon Aksesoris</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<!-- <div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.Discount| number}}/Unit</div> -->
										<div style="float: left"> Rp.{{ContentApprovalDiskonSpkGabungan.DiskonAksesoris| number}}</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Total Harga</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<div style="float: left">
											Rp.{{ContentApprovalDiskonSpkGabungan.ListOfSAHApprovalDiscountSPKView[0].GrandTotal | number : 0}}
										</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Disetujui</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<div style="float: left"> {{ContentApprovalDiskonSpkGabungan.ApproverNameTerakhir}}
											({{ContentApprovalDiskonSpkGabungan.ApproverRoleNameTerakhir}})</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 150px">Status</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<div style="float: left"> {{ContentApprovalDiskonSpkGabungan.HeaderStatusApprovalName}}</div>
									</div>
									<!-- <ul class="list-inline" style="font-size:14px;margin-top:-10px;">
													<li><label>Nama Pelanggan &nbsp; : &nbsp;{{ContentApprovalDiskonSpkGabungan.ProspectName}}</label></li>	
												</ul>
												<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
													<li><label>Model Tipe &nbsp; : &nbsp;{{ContentApprovalDiskonSpkGabungan.VehicleTypeDescription}}</label></li>	
												</ul>
												<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
													<li><label>Qty &nbsp; : &nbsp;{{ContentApprovalDiskonSpkGabungan.Qty}}</label></li>	
												</ul>
												<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
													<li><label>Diskon &nbsp; : &nbsp;Rp.{{ContentApprovalDiskonSpkGabungan.Discount| number}}/Unit</label></li>	
												</ul>
												<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
													<li><label>Total Harga &nbsp;: &nbsp;Rp.{{ContentApprovalDiskonSpkGabungan.ListOfSAHApprovalDiscountSPKView[0].GrandTotal| number}}/Unit</label></li>	
												</ul>
												<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
													<li><label>Approval Terakhir Oleh &nbsp;: &nbsp;{{ContentApprovalDiskonSpkGabungan.ApproverNameTerakhir}} ({{ContentApprovalDiskonSpkGabungan.ApproverRoleNameTerakhir}})</label></li>	
												</ul>
												<ul class="list-inline" style="font-size:14px;margin-top:-10px;">
													<li><label>Status &nbsp;: &nbsp;{{ContentApprovalDiskonSpkGabungan.HeaderStatusApprovalName}}</label></li>	
												</ul> -->
								</div>
								<div style="display : inline-block;position:absolute;align-items : center;float:left;height: 100%;width:6%">
									<div style="float:left;height: 100%;display :flex;align-items : center;">
										<span ng-click="ActionApprovalDiskonSpk(ContentApprovalDiskonSpkGabungan)"
											class="glyphicon glyphicon-option-vertical" style="float:center;font-size:16px">
										</span>
									</div>
								</div>
							</div>
						</div>
						
						<div style="margin-top:-28px;">
							<div ng-hide="ApprovalDiskonSpkHideIncrement" ng-click="ApprovalDiskonSpkIncrementLimit()"
								class="list-group-item ng-scope" role="button" align="center" style="background-color:#e0e2e6;">
								<i class="fa fa-angle-double-down"></i>
							</div>
						</div>
						
						<div style="margin-left:0px;margin-right:0px;margin-top:25px;border:none !important" class="row list-group-item">
						
							<button ng-disabled="selectionApprovalDiskonSpk.length<=0||SelectionAman_ApprovalDiskonSpk==false"
								ng-click="FromListSetujuApprovalDiskonSpk()" type="button" class="rbtn btn ng-binding ladda-button"
								style="float: right;">
								<span class="ladda-label">Setuju
								</span><span class="ladda-spinner"></span>
							</button>
						
							<button ng-disabled="selectionApprovalDiskonSpk.length<=0||SelectionAman_ApprovalDiskonSpk==false"
								ng-click="FromListTidakSetujuApprovalDiskonSpk()" type="button" class="rbtn btn ng-binding ladda-button"
								style="float: right;">
								<span class="ladda-label">Tolak
								</span><span class="ladda-spinner"></span>
							</button>
						</div>
					</div>
				
					<div id="ApprovalOTR" class="tab-pane fade">
						<div class="listData">
							<button class="btn btn-default dropdown-toggle dropdown-toggle" type="button"
								style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								Approval Off The Road SPK
								<span></span>
								<span style="float:right; margin-right:3px;"> </span>
							</button>
						</div>
						
						<div style="max-height:600px;overflow-y:auto;max-width: 100%;overflow-x: hidden;" class="list-group"
							id="dropdownContentListDataRadio" aria-labelledby="dropdownMenu1">
							<div aria-labelledby="dropdownMenu1" class="list-group-item card-2"
								ng-repeat="ContentApprovalOTRSpk in ApprovalOTRSpk"
								style="padding:10px 0px 10px 10px;float:left;width:100%;margin-bottom:10px;">
								<div style="float:left;width:94%">
									<ul class="list-inline" style="font-size:16px;">
										<li><label style="float: left;">
											<input style="margin-right:5px;" type="checkbox"
													name="selectedSuspectOTR[]" value="{{ContentApprovalOTRSpk}}"
													ng-checked="selectionApprovalOTRSpk.indexOf(ContentApprovalOTRSpk) > -1"
													ng-click="toggleSelectionOTR(ContentApprovalOTRSpk)" />No.
												SPK:{{ContentApprovalOTRSpk.FormSPKNo}}</label></li>
									</ul>
								
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 100px">Sales</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<div style="float: left; max-width: 160px">{{ContentApprovalOTRSpk.Salesman}}</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 100px">Pelanggan</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<div style="float: left"> {{ContentApprovalOTRSpk.CustomerName}}</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 100px">Model Tipe</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<div style="float: left; max-width: 160px"> {{ContentApprovalOTRSpk.Description}}
										</div>
									</div>
									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 100px">Qty</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<div style="float: left"> {{ContentApprovalOTRSpk.Qty}}</div>
									</div>


									<div class="row" style="margin: 0 0 0 0">
										<div style="float: left; width: 100px">Status</div>
										<div style="float: left">&nbsp:&nbsp</div>
										<div style="float: left"> {{ContentApprovalOTRSpk.StatusApprovalName}}</div>
									</div>
									
								</div>
								<div style="display : inline-block;position:absolute;align-items : center; float:left; height: 100%;width:6%">
									<div style="float:left;height: 100%;display :flex;align-items : center;">
										<span ng-click="ActionApprovalOTRSpk(ContentApprovalOTRSpk)" class="glyphicon glyphicon-option-vertical"
											style="float:center;font-size:16px">
										</span>
									</div>
								</div>
							</div>
						</div>
						
						<div style="margin-top:-28px;">
							<div ng-hide="ApprovalOTRSpkHideIncrement" ng-click="ApprovalOTRSpkIncrementLimit()"
								class="list-group-item ng-scope" role="button" align="center" style="background-color:#e0e2e6;">
								<i class="fa fa-angle-double-down"></i>
							</div>
						</div>
						
						<div style="margin-left:0px;margin-right:0px;margin-top:25px;border:none !important" class="row list-group-item">
						
							<button ng-disabled="selectionApprovalOTRSpk.length<=0||SelectionAman_ApprovalOTRSpk==false"
								ng-click="FromListSetujuApprovalOTRSpk()" type="button" class="rbtn btn ng-binding ladda-button"
								style="float: right;">
								<span class="ladda-label">Setuju
								</span><span class="ladda-spinner"></span>
							</button>
						
							<button ng-disabled="selectionApprovalOTRSpk.length<=0||SelectionAman_ApprovalOTRSpk==false"
								ng-click="FromListTidakSetujuApprovalOTRSpk()" type="button" class="rbtn btn ng-binding ladda-button"
								style="float: right;">
								<span class="ladda-label">Tolak
								</span><span class="ladda-spinner"></span>
							</button>
						</div>
					</div>

			</div>
			
			

		</div><!-- tutupnya ApprovalDiskonSpkMain -->

<div ng-show="ApprovalDiskonSpkDetail">
		<div class="row" style="margin-right:0px;margin-top:10px;margin-bottom:10px">
			<button ng-show="mApprovalDiskonSpk.HeaderStatusApprovalName=='Diajukan' && ApprovalDiskonSpk_Jegal==false" ng-click="SetujuApprovalDiskonSpk()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right;">
			<span class="ladda-label">Setuju
				</span><span class="ladda-spinner"></span>
			</button>

			<button ng-show="mApprovalDiskonSpk.HeaderStatusApprovalName=='Diajukan' && ApprovalDiskonSpk_Jegal==false" ng-click="TidakSetujuApprovalDiskonSpk()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right;">
			<span class="ladda-label">Tolak
				</span><span class="ladda-spinner"></span>
			</button>

			<button style="float:right;margin-right:3px" ng-click="BatalApprovalDiskonSpk()" type="button" class="wbtn btn ng-binding ladda-button">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
				</span><span class="ladda-spinner"></span>
			</button>
		</div>
		<div class="row">
		<p>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Sales:</b></li>
				<li>{{mApprovalDiskonSpk.Salesman}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>No. SPK:</b></li>
				<li>{{mApprovalDiskonSpk.FormSPKNo}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Tanggal SPK:</b></li>
				<li>{{mApprovalDiskonSpk.SpkDate| date:"dd MMM yyyy"}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Prospek/Pelanggan:</b></li>
				<li>{{mApprovalDiskonSpk.ProspectName}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Tanggal Pengajuan Diskon:</b></li>
				<li>{{mApprovalDiskonSpk.RequestDate| date:"dd MMM yyyy"}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Total Diskon :</b></li>
				<li>Rp. {{selected_data.RequestTotalDiscount * count | number}}</li>
			</ul>
			<!-- <ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Total Diskon Aksesoris:</b></li>
				<li>Rp. {{selected_data.RequestMaxDiscountAcc | number}}</li>
			</ul> -->
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Total Harga:</b></li>
				<li>{{mApprovalDiskonSpk.GrandTotal | number : 0}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Metode Pembayaran:</b></li>
				<li>{{mApprovalDiskonSpk.FundSourceName}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Nama Leasing:</b></li>
				<li>{{mApprovalDiskonSpk.LeasingName}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Tenor:</b></li>
				<li>{{mApprovalDiskonSpk.LeasingTenorTime}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Catatan Diskon:</b></li>
				<li>{{mApprovalDiskonSpk.RequestNote}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Status:</b></li>
				<li>{{mApprovalDiskonSpk.HeaderStatusApprovalName}}</li>
			</ul>
			
		</p>
		</div>
		
		<div class="listData">
			<button ng-click="Show_Hide_ApprovalDiskonSpk_Detail_HistoryApproval_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			 type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
			History Approval
			<span></span>
			<span style="float:right; margin-right:3px;"> {{Show_Hide_ApprovalDiskonSpk_Detail_HistoryApproval_PanelIcon}} </span>
			</button>
		</div>
		<div ng-show="Show_Hide_ApprovalDiskonSpk_Detail_HistoryApproval" class="formContent">
			<div class="list-group" id="dropdownContent" aria-labelledby="dropdownMenu1" style="font-size:14px;" ng-repeat="ContentHistoryApprovalDiskonSpk in mApprovalDiskonSpk.ListOfSAHApprovalDiscountSPKView">
				<p>
					<ul style="font-size:14px;" class="list-inline">
						<li>{{$index+1}}</li>
						<li>{{ContentHistoryApprovalDiskonSpk.ApproverName}}({{ContentHistoryApprovalDiskonSpk.ApproverRoleName}}) - {{ContentHistoryApprovalDiskonSpk.StatusApprovalName}}</li>
					</ul>
					<ul style="font-size:14px;" class="list-inline">
						<li></li>
						<li>Tanggal Disetujui:{{ContentHistoryApprovalDiskonSpk.ApprovalDate| date:"dd MMM yyyy"}}</li>
					</ul>
					<ul style="font-size:14px;" class="list-inline">
						<li></li>
						<li>Catatan:{{ContentHistoryApprovalDiskonSpk.RejectReason}}</li>
					</ul>
				</p>	
			</div>
		</div>

		<div class="listData">
			<button ng-click="Show_Hide_ApprovalDiskonSpk_Detail_DataHarga_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			 type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
			{{mApprovalDiskonSpk.VehicleTypeDescription}} {{mApprovalDiskonSpk.ColorName}}
			<span></span>
			<span style="float:right; margin-right:3px;"> {{Show_Hide_ApprovalDiskonSpk_Detail_DataHarga_PanelIcon}} </span>
			</button>
		</div>
		<div ng-show="Show_Hide_ApprovalDiskonSpk_Detail_DataHarga" class="formContent" style="margin: 0 0 0 0">
			<div ng-include src="'app/sales/sales1/spk/approvalDiskonSpk/formCreateSPK.html'"></div>
		</div>
	
		

</div>


<div ng-show="ApprovalOTRSpkDetail">
		<div class="row" style="margin-right:0px;margin-top:10px;margin-bottom:10px">
			<button ng-if="mApprovalOTRSpk.StatusApprovalName=='Diajukan' " ng-click="SetujuApprovalOTRSpk()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right;">
			<span class="ladda-label">Setuju
				</span><span class="ladda-spinner"></span>
			</button>

			<button ng-if="mApprovalOTRSpk.StatusApprovalName=='Diajukan' " ng-click="TidakSetujuApprovalOTRSpk()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: right;">
			<span class="ladda-label">Tolak
				</span><span class="ladda-spinner"></span>
			</button>

			<button style="float:right;margin-right:3px" ng-click="BatalActionApprovalOTRSpk()" type="button" class="wbtn btn ng-binding ladda-button">
			<span class="ladda-label">
				<!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
				</span><span class="ladda-spinner"></span>
			</button>
		</div>
		<div class="row">
		<p>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Sales:</b></li>
				<li>{{mApprovalOTRSpk.Salesman}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>No. SPK:</b></li>
				<li>{{mApprovalOTRSpk.FormSPKNo}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Tanggal SPK:</b></li>
				<li>{{mApprovalOTRSpk.SpkDate| date:"dd MMM yyyy"}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Prospek/Pelanggan:</b></li>
				<li>{{mApprovalOTRSpk.CustomerName}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Tanggal Pengajuan Off the Road:</b></li>
				<li>{{mApprovalOTRSpk.RequestDate| date:"dd MMM yyyy"}}</li>
			</ul>

			<!-- <ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Total Diskon Unit:</b></li>
				<li>Rp. {{selected_data.Discount * count | number}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Total Diskon Aksesoris:</b></li>
				<li>Rp. {{selected_data.RequestMaxDiscountAcc | number}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Total Harga:</b></li>
				<li>{{mApprovalOTRSpk.GrandTotal | number}}</li>
			</ul> -->

			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Catatan Off The Road:</b></li>
				<li>{{mApprovalOTRSpk.RequestNote}}</li>
			</ul>
			<ul style="font-size:14px;margin-left:10px" class="list-inline">
				<li><b>Status:</b></li>
				<li>{{mApprovalOTRSpk.StatusApprovalName}}</li>
			</ul>
			
		</p>
		</div>
		
		<div class="listData">
			<button ng-click="Show_Hide_ApprovalOTRSpk_Detail_HistoryApproval_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			 type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
			History Approval
			<span></span>
			<span style="float:right; margin-right:3px;"> {{Show_Hide_ApprovalOTRSpk_Detail_HistoryApproval_PanelIcon}} </span>
			</button>
		</div>
		<div ng-show="Show_Hide_ApprovalOTRSpk_Detail_HistoryApproval" class="formContent">
			<!-- <div class="list-group" id="dropdownContent" aria-labelledby="dropdownMenu1" style="font-size:14px;" ng-repeat="ContentHistoryApprovalOTRSpk in mApprovalOTRSpk.ListOfSAHApprovalDiscountSPKView">
				<p>
					<ul style="font-size:14px;" class="list-inline">
						<li>{{$index+1}}</li>
						<li>{{ContentHistoryApprovalOTRSpk.ApproverName}}({{ContentHistoryApprovalOTRSpk.ApproverRoleName}}) - {{ContentHistoryApprovalOTRSpk.StatusApprovalName}}</li>
					</ul>
					<ul style="font-size:14px;" class="list-inline">
						<li></li>
						<li>Tanggal Disetujui:{{ContentHistoryApprovalOTRSpk.ApprovalDate| date:"dd MMM yyyy"}}</li>
					</ul>
					<ul style="font-size:14px;" class="list-inline">
						<li></li>
						<li>Catatan:{{ContentHistoryApprovalOTRSpk.RejectReason}}</li>
					</ul>
				</p>	
			</div> -->
			
			<div class="list-group" style="margin: 0 0 5px 0 !important" id="dropdownContent" aria-labelledby="dropdownMenu1">
				<div ng-repeat="list in historyOTR" class="list-group-item"
					style="padding:10px 0px 10px 10px; background-color:#e8eaed;">
					<div class="row" style="margin: 0 0 0 0">
						<div class="col-xs-11">
							<p style="font-size: 14px"><i class="fa fa-user" aria-hidden="true"></i>&nbsp&nbsp<b>Nama Approver /
									Jabatan : {{list.ApprovalName}} / <label
										ng-if="list.ApproverRoleId==1057"><b>COO</b></label><label
										ng-if="list.ApproverRoleId==1121"><b>OM</b></label></b></p>
							<p style="margin-bottom: 0; font-size: 14px">
								<ul class="list-inline">
									<li><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp&nbspTanggal Approval :
										{{list.ApprovalDate | date : "dd-MM-yyyy"}}</li>
								</ul>
								<ul class="list-inline">
									<li><i class="fa " aria-hidden="true"></i>Status : {{list.StatusApprovalName}}</li>
								</ul>
								<ul ng-if="list.StatusApprovalName!='Diajukan'" class="list-inline">
									<li><i class="fa " aria-hidden="true"></i>Alasan :
										<label
											ng-if="list.RejectReason!='' && list.RejectReason!=null">{{list.RejectReason}}</label>
										<label
											ng-if="(list.RejectReason=='' || list.RejectReason==null) && list.RequestNote != 'Tidak Butuh Approval'"> - </label>
										<label
											ng-if="(list.RejectReason=='' || list.RejectReason==null) && list.RequestNote == 'Tidak Butuh Approval'">{{list.RequestNote}}</label>
									</li>
								</ul>
								<ul ng-if="list.StatusApprovalName=='Diajukan'" class="list-inline">
									<li><i class="fa " aria-hidden="true"></i>Pengajuan ini masih dalam proses pengajuan</li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>




		</div>

		<!-- <div class="listData">
			<button ng-click="Show_Hide_ApprovalDiskonSpk_Detail_DataHarga_Clicked()" class="btn btn-default dropdown-toggle dropdown-toggle"
			 type="button" style="width: 100%; text-align:left; background-color:#888b91; color:white;" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
			{{mApprovalDiskonSpk.VehicleTypeDescription}} {{mApprovalDiskonSpk.ColorName}}
			<span></span>
			<span style="float:right; margin-right:3px;"> {{Show_Hide_ApprovalDiskonSpk_Detail_DataHarga_PanelIcon}} </span>
			</button>
		</div>
		<div ng-show="Show_Hide_ApprovalDiskonSpk_Detail_DataHarga" class="formContent" style="margin: 0 0 0 0">
			<div ng-include src="'app/sales/sales1/spk/approvalDiskonSpk/formCreateSPK.html'"></div>
		</div> -->
</div>

<div class="ui modal ModalAlasanPenolakanApprovalDiskonSpk" role="dialog">
        
            <div class="modal-header">
                <button ng-click="BatalAlasanApprovalDiskonSpk()" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alasan Penolakan</h4>
            </div>
			<br/>


            <div class="modal-body">
                <textarea style="width:100%" rows="10" cols="80" maxlength="512" placeholder="input alasan..."
							 ng-model="mApprovalDiskonSpk.RejectReason"></textarea>
            </div>
            <div class="modal-footer">
				<button ng-click="SubmitAlasanApprovalDiskonSpk()" class="rbtn btn ng-binding ladda-button" style="float: right;" ng-disabled="mApprovalDiskonSpk.RejectReason==undefined || mApprovalDiskonSpk.RejectReason.length<=0">Simpan</button>
				<button ng-click="BatalAlasanApprovalDiskonSpk()" class="wbtn btn ng-binding ladda-button" style="float: right;">Batal</button>
            </div>
</div>

<div class="ui modal ModalAlasanPenolakanApprovalOTRSpk" role="dialog">

	<div class="modal-header">
		<button ng-click="BatalAlasanApprovalOTRSpk()" type="button" class="close"
			data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Alasan Penolakan</h4>
	</div>
	<br />


	<div class="modal-body">
		<textarea style="width:100%" rows="10" cols="80" maxlength="512" placeholder="input alasan..."
			ng-model="mApprovalOTRSpk.RejectReason"></textarea>
	</div>
	<div class="modal-footer">
		<button ng-click="SubmitAlasanApprovalOTRSpk()" class="rbtn btn ng-binding ladda-button"
			style="float: right;"
			ng-disabled="mApprovalOTRSpk.RejectReason==undefined || mApprovalOTRSpk.RejectReason.length<=0">Simpan</button>
		<button ng-click="BatalAlasanApprovalOTRSpk()" class="wbtn btn ng-binding ladda-button"
			style="float: right;">Batal</button>
	</div>
</div>

<div class="ui modal ModalActionApprovalDiskonSpk" role="dialog">
        
            <div class="modal-header">
                <button ng-click="BatalActionApprovalDiskonSpk()" type="button" class="close" data-dismiss="modal">&times;</button>
                <!--<h4 class="modal-title">Apa Yang Ingin Anda Lakukan?</h4>-->
            </div>
			<br/>


            <div class="modal-body">
                <a ng-click="SelectApprovalDiskonSpk()">
                    <li class="list-group-item item-modal">
                        <span><i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i></span>Lihat Detail Approval Diskon</li>
                </a>

            </div>
            <div class="modal-footer">
				<!--<button ng-click="BatalActionApprovalDiskonSpk()" class="wbtn btn ng-binding ladda-button" style="float: right;">Batal</button>-->
            </div>
</div>


<div class="ui modal ModalActionApprovalOTRSpk" role="dialog">
        
            <div class="modal-header">
                <button ng-click="BatalActionApprovalOTRSpk()" type="button" class="close" data-dismiss="modal">&times;</button>
                <!--<h4 class="modal-title">Apa Yang Ingin Anda Lakukan?</h4>-->
            </div>
			<br/>


            <div class="modal-body">
                <a ng-click="SelectApprovalOTRSpk()">
                    <li class="list-group-item item-modal">
                        <span><i class="fa fa-fw fa-lg fa-list-alt" style="margin-right: 15px"></i></span>Lihat Detail Approval Off The Road</li>
                </a>

            </div>
            <div class="modal-footer">
				<!--<button ng-click="BatalActionApprovalOTRSpk()" class="wbtn btn ng-binding ladda-button" style="float: right;">Batal</button>-->
            </div>
</div>