<style type="text/css">
    /*@media only screen and (max-width: 600px) {
        .nav.nav-tabs {
            display: none;
        }
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    */

    .BodyRows {
        line-height: 20px;
    }

    .ColOne {
        border: none !Important;
        text-align: left !Important;
    }

    .ColTwo {
        border: none !Important;
        text-align: right !Important;
    }

    .ColThree {
        border: none !Important;
        text-align: right !Important;
    }

    .ColLine {
        border: 1px solid #000;
    }

    .containersign {
        /*padding: 10px 10px 40px 10px;*/
        position: relative;
        margin: 0 auto 0 auto;
        height: 100%;
    }

    .containersign .signature {
        border: 1px solid dimgrey;
        margin: 0 auto;
        cursor: pointer;
    }

    .buttons {
        display: none !important
    }

    .signature_container {
        display: none !important
    }

    .containersign .signature canvas {
        border: 1px solid #999;
        margin: 0 auto;
        cursor: pointer;
    }

    .containersign .buttons {
        position: absolute;
        /*bottom: 10px;
        left: 10px;*/
    }

    .containersign .sizes {
        position: absolute;
        /*bottom: 10px;
        right: 10px;*/
    }

    .containersign .sizes input {
        width: 4em;
        text-align: center;
    }

    .result {
        border: 1px solid blue;
        margin: 30px auto 0 auto;
        height: 220px;
        width: 568px;
    }
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>
<script type="text/javascript" src="js/signature.js"></script>
<script type="text/javascript" src="js/signature_pad.js"></script>


<div id="tabContainer">

    <div ng-repeat="info in selected_data.ListInfoUnit">
        <!-- <p><b>{{info.Description}}&nbsp{{info.KatashikiCode}}&nbsp{{info.ColorCodeName}}</b></p> -->
        <div ng-repeat="detail in info.ListDetailUnit" style="margin-top: 5px; border: 1px solid #ddd">
            <p>
                <b>
                    <i class="fa fa-caret-right"></i>&nbspUnit {{$index +
                    1}}&nbsp({{detail.ColorName}})</b>
            </p>
            <table style="width:100%; margin-left: 5px !important">
                <tr>
                    <th style="width: 50% "></th>
                    <th style="width: 5% "></th>
                    <th style="width: 35% "></th>
                </tr>
                <tr>
                    <td>
                        <p style="float:left ">
                            <b>Harga Kendaraan</b>
                        </P>
                    </td>
                    <td>
                        <p style="float:right ">
                            <b>Rp.</b>
                        </p>
                    </td>
                    <td>
                        <p style="float:right;padding-right: 10px; ">
                            <b>{{selected_data.VehiclePrice |number:2}}</b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float:left ">Diskon</P>
                    </td>
                    <td>
                        <p style="float:right ">Rp.</p>
                    </td>
                    <td>
                        <p style="float:right;padding-right: 10px; ">({{selected_data.Discount
                            |number:2}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float:left ">Diskon Subsidi Rate</P>
                    </td>
                    <td>
                        <p style="float:right ">Rp.</p>
                    </td>
                    <td>
                        <p style="float:right;padding-right: 10px; ">({{selected_data.DiscountSubsidiRate
                            |number:2}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float:left ">Diskon Subsidi DP</P>
                    </td>
                    <td>
                        <p style="float:right ">Rp.</p>
                    </td>
                    <td>
                        <p style="float:right;padding-right: 10px; ">({{selected_data.DiscountSubsidiDP
                            |number:2}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float:left ">Komisi Mediator</P>
                    </td>
                    <td>
                        <p style="float:right ">Rp.</p>
                    </td>
                    <td>
                        <p style="float:right;padding-right: 10px; ">{{selected_data.MediatorCommision
                            |number:2}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float:left ">
                            <b>Harga Stlh. Diskon</b>
                        </P>
                    </td>
                    <td>
                        <p style="float:right ">
                            <b>Rp.</b>
                        </p>
                    </td>
                    <td>
                        <p style="float:right;padding-right: 10px; ">
                            <b>{{selected_data.PriceAfterDiscount |number:2}}</b>
                        </p>
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        <p style="float:left ">DPP</p>
                    </td>
                    <td>
                        <p style="float:right ">Rp.</p>
                    </td>
                    <td>
                        <p style="float:right;padding-right: 10px; ">{{selected_data.DPP |number:2}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float:left ">PPN</p>
                    </td>
                    <td>
                        <p style="float:right ">Rp.</p>
                    </td>
                    <td>
                        <p style="float:right;padding-right: 10px; ">{{selected_data.PPN |number:2}}</p>
                    </td>
                </tr> -->
                <tr>
                    <td>
                        <p style="float:left ">BBN</p>
                    </td>
                    <td>
                        <p style="float:right ">Rp.</p>
                    </td>
                    <td>
                        <p style="float:right;padding-right: 10px; ">{{selected_data.BBN
                            |number:2}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float:left ">BBN Adjustment</p>
                    </td>
                    <td>
                        <p style="float:right ">Rp.</p>
                    </td>
                    <td>
                        <p style="float:right;padding-right: 10px; ">{{selected_data.BBNAdjustment
                            |number:2}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float:left ">BBN Service Adjustment</p>
                    </td>
                    <td>
                        <p style="float:right ">Rp.</p>
                    </td>
                    <td>
                        <p style="float:right;padding-right: 10px; ">{{selected_data.BBNServiceAdjustment
                            |number:2}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float:left ">
                            <b>Total BBN</b>
                        </p>
                    </td>
                    <td>
                        <p style="float:right ">
                            <b>Rp.</b>
                        </p>
                    </td>
                    <td>
                        <p style="float:right;padding-right: 10px; ">
                            <b>{{selected_data.TotalBBN |number:2}}</b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float:left ">PPH22</p>
                    </td>
                    <td>
                        <p style="float:right ">Rp.</p>
                    </td>
                    <td>
                        <p style="float:right;padding-right: 10px; ">{{selected_data.PPH22
                            |number:2}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float:left ">
                            <b>Total(Termasuk PPN)</b>
                        </p>
                    </td>
                    <td>
                        <p style="float:right ">
                            <b>Rp.</b>
                        </p>
                    </td>
                    <td>
                        <p style="float:right;padding-right: 10px; ">
                            <b>{{selected_data.TotalInclVAT |number:2}}</b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <!--<label style="border-bottom: 1px solid ">Aksesoris Paket</label>-->
                    <table style="width:100%; margin-left: 5px !important " ng-repeat="accp in detail.ListAccessoriesPackage">
                        <hr ng-if="detail.ListAccessoriesPackage.length > 0" style="margin-top: 5px; margin-bottom: 5px; padding-left: 5px; margin-left: 5px; margin-right: 5px;">

                        <tr>
                            <th colspan="3">
                                <p>
                                    <b>{{accp.AccessoriesPackageName}}</b>
                                </p>
                            </th>
                        </tr>
                        <tr>
                            <th style="width: 50% "></th>
                            <th style="width: 5% "></th>
                            <th style="width: 35% "></th>
                        </tr>
                        <tr>
                            <td>
                                <p style="float:left ">
                                    <b>Harga Jual</b>
                                </P>
                            </td>
                            <td>
                                <p style="float:right ">
                                    <b>Rp.</b>
                                </P>
                            </td>
                            <td>
                                <p style="float:right;padding-right: 10px; ">
                                    <b>{{accp.Price * accp.Qty |number:2}}</b>
                                </P>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="float:left ">
                                    <b>Diskon</b>
                                </P>
                            </td>
                            <td>
                                <p style="float:right ">
                                    <b>Rp.</b>
                                </P>
                            </td>
                            <td>
                                <p style="float:right;padding-right: 10px; ">
                                    <b>{{accp.Discount * accp.Qty |number:2}}</b>
                                </P>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="float:left ">DPP</P>
                            </td>
                            <td>
                                <p style="float:right ">Rp.</P>
                            </td>
                            <td>
                                <p style="float:right;padding-right: 10px; ">{{accp.DPP * accp.Qty
                                    |number:2}}</P>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="float:left ">PPN</P>
                            </td>
                            <td>
                                <p style="float:right ">Rp.</P>
                            </td>
                            <td>
                                <p style="float:right;padding-right: 10px; ">{{accp.PPN * accp.Qty
                                    |number:2}}</P>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="float:left ">
                                    <b>Total incl VAT&nbsp(Qty&nbsp:&nbsp{{accp.Qty}}&nbsp)</b>
                                </P>
                            </td>
                            <td>
                                <p style="float:right ">
                                    <b>Rp.</b>
                                </P>
                            </td>
                            <td>
                                <p style="float:right;padding-right: 10px; ">
                                    <b>{{accp.TotalInclVAT |number:2}}</b>
                                </P>
                            </td>
                        </tr>
                    </table>
                    <hr ng-if="detail.ListAccessoriesPackage.length > 0" style="margin-top: 5px; margin-bottom: 5px; padding-left: 5px; margin-left: 5px; margin-right: 5px;">
                </tr>
                <tr>
                    <!--<label style="border-bottom: 1px solid ">Aksesoris</labeldiv>-->
                    <table style="width:100%;margin-left: 5px !important " ng-repeat="acc in detail.ListAccessories">
                        <hr ng-if="detail.ListAccessories.length > 0" style="margin-top: 5px; margin-bottom: 5px; padding-left: 5px; margin-left: 5px; margin-right: 5px;">

                        <tr>
                            <th colspan="3">
                                <p>
                                    <b>{{acc.AccessoriesName}}
                                    </b>
                                    <p>
                            </th>
                        </tr>
                        <tr>
                            <th style="width: 50% "></th>
                            <th style="width: 5% "></th>
                            <th style="width: 35% "></th>
                        </tr>
                        <tr>
                            <td>
                                <p style="float:left ">
                                    <b>Harga Jual</b>
                                </P>
                            </td>
                            <td>
                                <p style="float:right ">
                                    <b>Rp.</b>
                                </P>
                            </td>
                            <td>
                                <p style="float:right;padding-right: 10px; ">
                                    <b>{{acc.Price * acc.Qty |number:2}}</b>
                                </P>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="float:left ">
                                    <b>Diskon</b>
                                </P>
                            </td>
                            <td>
                                <p style="float:right ">
                                    <b>Rp.</b>
                                </P>
                            </td>
                            <td>
                                <p style="float:right;padding-right: 10px; ">
                                    <b>{{acc.Discount * acc.Qty |number:2}}</b>
                                </P>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="float:left ">DPP</P>
                            </td>
                            <td>
                                <p style="float:right ">Rp.</P>
                            </td>
                            <td>
                                <p style="float:right;padding-right: 10px; ">{{acc.DPP * acc.Qty
                                    |number:2}}</P>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="float:left ">PPN</P>
                            </td>
                            <td>
                                <p style="float:right ">Rp.</P>
                            </td>
                            <td>
                                <p style="float:right;padding-right: 10px; ">{{acc.PPN * acc.Qty
                                    |number:2}}</P>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="float:left ">
                                    <b>Total incl VAT&nbsp(Qty&nbsp:&nbsp{{acc.Qty}}&nbsp)</b>
                                </P>
                            </td>
                            <td>
                                <p style="float:right ">
                                    <b>Rp.</b>
                                </P>
                            </td>
                            <td>
                                <p style="float:right;padding-right: 10px; ">
                                    <b>{{acc.TotalInclVAT |number:2}}</b>
                                </P>
                            </td>
                        </tr>
                    </table>

                </tr>
                <tr>
                    <table ng-if="selected_data.KaroseriId != null || selected_data.KaroseriId != undefined" style="width:100%; margin-left: 5px !important">
                        <hr ng-if="selected_data.KaroseriId != null || selected_data.KaroseriId != undefined" style="margin-top: 5px; margin-bottom: 5px; padding-left: 5px; margin-left: 5px; margin-right: 5px;">
                        <tr>
                            <th style="width: 30% ">{{selected_data.KaroseriName}}</th>
                            <th style="width: 30% "></th>
                            <th style="width: 30% "></th>
                        </tr>
                        <tr>
                            <td>
                                <p style="float:left ">
                                    <b>Harga Jual</b>
                                </P>
                            </td>
                            <td>
                                <p style="float:right ">
                                    <b>Rp.</b>
                                </P>
                            </td>
                            <td>
                                <p style="float:right;padding-right: 10px; ">
                                    <b>{{selected_data.KaroseriPrice |number:2}}</b>
                                </P>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="float:left ">DPP</P>
                            </td>
                            <td>
                                <p style="float:right ">Rp.</P>
                            </td>
                            <td>
                                <p style="float:right;padding-right: 10px; ">{{selected_data.KaroseriPrice
                                    |number:2}}</P>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="float:left ">PPN</P>
                            </td>
                            <td>
                                <p style="float:right ">Rp.</P>
                            </td>
                            <td>
                                <p style="float:right;padding-right: 10px; ">{{selected_data.KaroseriPPN
                                    |number:2}}</P>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="float:left ">Total (incl VAT)</P>
                            </td>
                            <td>
                                <p style="float:right ">Rp.</P>
                            </td>
                            <td>
                                <p style="float:right;padding-right: 10px; ">{{selected_data.KaroseriTotalInclVAT
                                    |number:2}}</P>
                            </td>
                        </tr>
                    </table>
                </tr>
            </table>
        </div>
    </div>



    <table ng-show="selected_data.GrandTotal > 0" style="width: 100%;background-color: #d53337 ;color: white;padding: 3px ">
        <tr>
            <th style="width: 50% "></th>
                    <th style="width: 5% "></th>
                    <th style="width: 35% "></th>
        </tr>

        <tr>
            <td><b style="float:left ">Total Harga</b></td>
            <td><b style="float:right ">Rp.</b></td>
            <td><b style="float:right "><u>{{selected_data.GrandTotal |number:2}},-</u></b></td>
        </tr>
    </table>

</div>



</div>
</div>