<div class="row" style="margin-bottom:20px;">
    <div class="col-md-9">
        <div class="col-md-12">
            <label class="control-label">Rentang Tgl Service</label>
        </div>

        <div class="col-md-3" style="padding-left: 0px;">
            <bsdatepicker name="Tanggal1" date-options="dateOptions" ng-model="startDate" skip-disable>
            </bsdatepicker>
        </div>
        <div class="col-md-1" style="margin-top: 5px;padding-left: 0px; text-align: center;">
            <label>S/D</label>
        </div>
        <div class="col-md-3" style="padding-left: 0px;">
            <bsdatepicker name="Tanggal2" date-options="dateOptions" ng-model="endDate" skip-disable>
            </bsdatepicker>
        </div>
    </div>
    <div class="col-md-3">
        <bsreqlabel class="control-label">Kategori : </bsreqlabel>
        <!-- ng-change="change()" -->
        <select ng-model="category" class="form-control" skip-disable>
      <option value="2">ALL</option>
      <option value="1">GR</option>
      <option value="0">BP</option>
    </select>
    </div>
    <div class="col-md-12" style="margin-top: 10px;text-align: right;">
        <button class="rbtn btn" ng-click="change()">Cari</button>
    </div>
</div>

<uib-accordion close-others="oneAtATime">
    <div ng-repeat="item in mDataVehicleHistory" uib-accordion-group class="panel-default">
        <uib-accordion-heading>
            <table style="width:100%">
                <tr>
                    <td>{{item.VehicleJobService[0].JobDescription}}</td>
                    <td class="text-right">{{item.ServiceNumber}} | {{item.ServiceDate |date:'dd-MMM-yyyy'}}</td>
                </tr>
                <tr>
                    <td>Lokasi services : {{item.ServiceLocation}}</td>
                    <!-- <td>Lokasi services : {{item.LocationService}}</td> -->
                    <td class="text-right">SA : {{item.ServiceAdvisor}}</td>
                </tr>
                <tr>
                    <td>KM : {{item.Km}}</td>
                    <!-- <td class="text-right">Group : {{item.Group}}</td> -->
                    <td class="text-right" ng-if="item.KategoriServiceId == 1">Teknisi : {{item.Foreman}}</td>
                    <td class="text-right" ng-if="item.KategoriServiceId == 0">Group : {{item.Foreman}}</td>
                </tr>
                <tr>
                    <td>Job Suggest : {{item.JobSuggest}}</td>
                    <td class="text-right" ng-if="item.KategoriServiceId == 1">Kategori : GR</td>
                    <td class="text-right" ng-if="item.KategoriServiceId == 0">Kategori : BP</td>
                </tr>
            </table>
        </uib-accordion-heading>
        <uib-accordion close-others="oneAtATime">
            <div ng-repeat="itemJob in item.VehicleJobService" is-open="status.open" uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    {{itemJob.JobDescription}}
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <table class="table table-striped">
                    <tr>
                        <th>No. Material</th>
                        <th>Material</th>
                        <th>Qty</th>
                        <th>Satuan</th>
                    </tr>
                    <tr ng-repeat="tr in itemJob.VehicleServiceHistoryDetail">
                        <td>{{tr.MaterialCode}}</td>
                        <td>{{tr.Material}}</td>
                        <td>{{tr.Quantity | number:2}}</td>
                        <td>{{tr.Satuan}}</td>
                    </tr>
                </table>
            </div>
        </uib-accordion>
    </div>
</uib-accordion>