<script type="text/javascript">

</script>
<style type="text/css">
</style>

<bsform-grid ng-form="ActivityChecklistItemAdministrasiPembayaranForm" factory-name="ActivityChecklistItemAdministrasiPembayaran"
    model="mActivityChecklistItemAdministrasiPembayaran" model-id="ChecklistAdminPaymentId" loading="loading" get-data="getData"
    selected-rows="selectedRows" on-select-rows="onSelectRows" form-name="ActivityChecklistItemAdministrasiPembayaranForm" form-title="Activity Checklist Item Administrasi"
    modal-title="Checklist Item Administrasi" modal-size="small" icon="fa fa-fw fa-child">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Nama Checklist Item Administrasi</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="nama" placeholder="Nama Checklist Item Administrasi" ng-model="mActivityChecklistItemAdministrasiPembayaran.ChecklistAdminPaymentName"
                        ng-maxlength="50" required>
                </div>
                <bserrmsg field="nama"></bserrmsg>
            </div>
        </div>
    </div>
    </bsform-grid-tree>