<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	.watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	}
</style>
<link rel="stylesheet" href="css/uitogglestyle.css">
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div class="no-add fi-outermost">
	<div ng-show="Show_MainEDC">
		<div class="row">
			<div class="pull-right" style="margin-top:-55px;">
				<button id="MainTipeEDC_Tambah_Button" ng-click="MainTipeEDC_Tambah_Clicked()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button">
					<span class="ladda-label">
						<i class="fa fa-fw fa-plus"> </i> Tambah
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>

		<div class="row" style="margin-top:-10px; margin-left:-27px;">
			<div class="col-md-12">
				<div class="col-md-3">
					<div class="form-group">
						<div>
							<bslabel>Nama Branch</bslabel>
						</div>
						<bsselect ng-disabled="!Main_NamaBranch_EnableDisable" ng-change="LihatMasterEDC_InformasiBranch_Selected_Changed()" ng-model="LihatMasterEDC_NamaBranch_SearchDropdown"
						 data="optionsLihatMasterEDC_NamaBranch_Search" item-text="BranchName" item-value="BranchId" on-select="value(selected)"
						 placeholder="Select Branch" icon="fa fa-search">
						</bsselect>
					</div>
				</div>
				<div class="col-md-1">
					<br/>
					<button onclick="" ng-click="LihatMasterEDC_Cari()" type="button" class="rbtn btn ng-binding ladda-button">
						<span class="ladda-label">
							<!--<i class="fa fa-fw fa-refresh"></i>-->Cari
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="row">
				<p class="fi-title-line" style="margin-top: -25px; margin-left: 0px; margin-right: 5px;">
					Daftar Mesin EDC
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="margin-left: -13px; margin-top:-5px">
				<div class="input-group-btn col-md-3" uib-dropdown="">
					<button ng-disabled="!selectedRows.length>0" type="button" class="btn wbtn" onclick="this.blur()" uib-dropdown-toggle=""
					 data-toggle="dropdown" tabindex="-1">
						Bulk Action&nbsp;
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
						<li role="menuitem" class="ng-scope">
							<a href="#" ng-click="actDel()" ng-if="selectedRows.length>0" class="ng-binding ng-scope" tabindex="0">Hapus</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="margin-left: -15px; margin-top:-10px">
				<div id="myGrid" ui-grid="grid" ui-grid-selection ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns class="fi-ui-grid" style="height: 351px; width:99.5%">
					<div class="watermark" ng-show="!grid.data.length">No data available</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="Show_TambahEDC">
		<div ng-form name="FormValidation_TambahEDC">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group">
							<div>
								<bslabel>Nama Branch</bslabel>
							</div>
							<bsselect ng-change="TambahMasterEDC_InformasiBranch_Selected_Changed()" ng-model="TambahMasterEDC_NamaBranch_SearchDropdown"
							 data="optionsTambahMasterEDC_NamaBranch_Search" item-text="BranchName" item-value="BranchId" on-select="value(selected)"
							 placeholder="Select Branch" icon="fa fa-search" ng-disabled="!Main_NamaBranch_EnableDisable">
							</bsselect>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':FormValidation_TambahEDC.MasterEDC_NamaEDC.$error.required && FormValidation_TambahEDC.MasterEDC_NamaEDC.$touched}">
							<bsreqlabel>Nama Mesin EDC</bsreqlabel>
							<div class="input-icon-right ">
								<input type="text" class="form-control " name="MasterEDC_NamaEDC" placeholder="" ng-model="MasterEDC_NamaEDC" ng-maxlength="50"
								 maxlength="50" required>
								<span ng-if="FormValidation_TambahEDC.MasterEDC_NamaEDC.$error.required && FormValidation_TambahEDC.MasterEDC_NamaEDC.$touched"
								 class="help-block">Field ini wajib diisi</span>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':FormValidation_TambahEDC.MasterEDC_NoRekening.$error.required && FormValidation_TambahEDC.MasterEDC_NoRekening.$touched}">
							<bsreqlabel>No Rekening</bsreqlabel>
							<bsselect ng-model="MasterEDC_NoRekening" data="MasterEDC_optionsNoRekening" ng-change="MasterEDC_NoRekening_Changed()" item-text="name"
							 item-value="value" on-select="value(selected)" placeholder="select No Rekening" icon="fa fa-search" name="MasterEDC_NoRekening"
							 required>
							</bsselect>
							<span ng-if="FormValidation_TambahEDC.MasterEDC_NoRekening.$error.required && FormValidation_TambahEDC.MasterEDC_NoRekening.$touched"
							 class="help-block">Field ini wajib dipilih</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<button id="TambahEDC_Simpan_Button" ng-click="TambahEDC_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button"
					 ng-show="Show_TambahEDC_ButtonSimpan" ladda="LoadingSimpan" data-style="expand-left">
						<span class="ladda-label">
							Simpan
						</span>
						<span class="ladda-spinner"></span>
					</button>
					<button id="TambahEDC_Batal_Button" ng-click="TambahEDC_Batal_Clicked()" type="button" class="btn ng-binding ladda-button fi-right-button">
						<span class="ladda-label">
							Kembali
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal " id="MasterEDCModal" role="dialog">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Konfirmasi Hapus</h4>
		</div>
		<div class="modal-body">
			<p>
				Apakah anda yakin ingin menghapus mesin EDC yang dipilih?
			</p>
		</div>
		<div class="modal-footer">
			<p align="center">
				<button ng-click="MasterEDCCancel_Button_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Tidak</button>
				<button ng-click="TipeMasterEDCOK_Button_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Ya</button>
			</p>
		</div>
	</div>
</div>