<script type="text/javascript">

</script>
<style type="text/css">
	@media only screen and (max-width: 600px) {
		.nav.nav-tabs {
			display: none;
		}
	}

	tr:nth-child(even) {
		background-color: #dddddd;

	}

	fieldset.scheduler-border {
		width: auto;
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width: auto;
		/* Or auto */
		padding: 0 10px;
		/* To give a bit of padding on the left and right */
		border-bottom: none;
	}

	.material-cost-border {
		margin: 20px 20px 20px 20px;
		border: 1px solid lightgrey;
		padding: 10px 0px 10px 0px;
		width: calc(100% - 40px);
	}

	.watermark {
		position: absolute;
		top: 80px;
		opacity: 0.25;
		font-size: 3em;
		width: 100%;
		text-align: center;
		z-index: 999;
	}
</style>
<link rel="stylesheet" href="css/uistyle.css">
<script type="text/javascript" src="js/uiscript.js"></script>

<div ng-show="MainMaterialCost_Show" class="fi-outermost" style="margin-left:-10px;">
	<div class="row material-cost-border">
		<p style="width:30px; margin-top:-20px; margin-left:7px; background:white;">Filter</p>
		<div class="col-md-12" style="margin-top:10px">
			<div class="row" style="margin-top:-15px;">
				<div class="col-md-3">
					<bslabel>Tipe Material</bslabel>
					<bsselect ng-model="MainMaterialCost_TipeMaterial" data="optionsMainMaterialCostTipeMaterial" item-text="name" item-value="value"
					 on-select="value(selected)" placeholder="Tipe Material Cost" icon="fa fa-search">
					</bsselect>
				</div>

				<div class="col-md-3">
					<bslabel>Status</bslabel>
					<bsselect ng-model="MainMaterialCost_Status" data="optionsMainMaterialCostStatus" item-text="name" item-value="value" on-select="value(selected)"
					 placeholder="Status" icon="fa fa-search">
					</bsselect>
				</div>

				<div class="col-md-3">
					<bslabel>No Dokumen Upload</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="MainMaterialCostNoDokumenUpload " placeholder="" ng-model="MainMaterialCost_NoDokumenUpload"
						 ng-maxlength="19" maxlength="19" />
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12" style="margin-top:10px;">
			<div class="col-md-6">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6" style="margin-left:-25px; width:345px;">
							<bslabel>Tanggal Berlaku</bslabel>
							<div class="input-icon-right ">
								<bsdatepicker format="dd/MM/yyyy" name="MainMaterialCostTanggalBerlakuAwal" date-options="dateOptions" ng-model="MainMaterialCost_TanggalBerlakuAwal">
								</bsdatepicker>
							</div>
						</div>

						<div class="col-md-6" style="width:331px;">
							<bsdatepicker format="dd/MM/yyyy" style="margin-top:18px" name="MainMaterialCostTanggalBerlakuAkhir" date-options="dateOptions"
							 ng-model="MainMaterialCost_TanggalBerlakuAkhir">
							</bsdatepicker>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="margin-top:-10px; margin-left:-25px;">
							Mandatory ketika filter Tipe Material / Status diisi
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6" style="margin-left:-15px; width:340px;">
							<bslabel>Tanggal Upload</bslabel>
							<div class="input-icon-right ">
								<bsdatepicker format="dd/MM/yyyy" name="MainMaterialCostTanggalUploadAwal" date-options="dateOptions" ng-model="MainMaterialCost_TanggalUploadAwal">
								</bsdatepicker>
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-icon-right ">
								<bsdatepicker format="dd/MM/yyyy" style="margin-top:18px" name="MainMaterialCostTanggalUploadAkhir" date-options="dateOptions"
								 ng-model="MainMaterialCost_TanggalUploadAkhir">
								</bsdatepicker>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="margin-top:-10px; margin-left:-15px;">
							Mandatory ketika filter Tipe Material / Status diisi
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="col-md-12" style="margin-top:10px;">
			<button id="MainMaterialCost_HapusFilter_Button" ng-click="MainMaterialCost_HapusFilter_Clicked()" type="button" class="btn ng-binding ladda-button"
			 style="float: right; margin-top:18px">
				<span class="ladda-label">
					Hapus Filter
				</span>
				<span class="ladda-spinner"></span>
			</button>

			<button id="MainMaterialCost_Filter_Button" ng-click="MainMaterialCost_Filter_Clicked()" type="button" class="btn ng-binding ladda-button"
			 style="float: right; margin-top:18px;margin-right:5px">
				<span class="ladda-label">
					Filter
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>



	<div class="row" style="margin-top:10px;margin-bottom:10px; margin-left: -7px;">
		<div class="col-md-12">
			<div class="col-md-2">
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="MainMaterialCostCari" placeholder="Cari" ng-model="MainMaterialCost_Cari"
					 ng-maxlength="50" maxlength="50">
				</div>
			</div>
			<div class="col-md-2">
				<bsselect ng-model="MainMaterialCost_FilterKolom" data="optionsMainMaterialCostFilterKolom" item-text="name" item-value="value"
				 on-select="value(selected)" placeholder="" icon="fa fa-search">
				</bsselect>
			</div>

			<div style="margin-right:20px;">
				<button id="MainMaterialCost_UpdateMaterialCostBaru_Button" ng-click="MainMaterialCost_UpdateMaterialCostBaru_Clicked()" ng-show = "MainMaterialCost_UpdateMaterialCostBaru_Clicked_Show"
				 type="button" class="rbtn btn ng-binding ladda-button" style="float: right;margin-left:5px">
					<span class="ladda-label">
						Update Material Cost Baru
					</span>
					<span class="ladda-spinner"></span>
				</button>

				<button id="MainMaterialCost_DownloadTemplate_Button" ng-click="MainMaterialCost_DownloadTemplate_Clicked()" type="button"
				 class="btn ng-binding ladda-button" style="float: right;">
					<span class="ladda-label">
						Download Template
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>

	<div id="myGrid" ui-grid="MatCostFile_UIGrid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination ui-grid-selection
	 class="Mygrid" style="height: 250px; margin-top:20px; margin-bottom:20px; margin-left:17px;width:98%">
		<div class="watermark" ng-show="!MatCostFile_UIGrid.data.length">No data available</div>
	</div>
</div>

<div ng-show="AddMaterialCost_Show" class="fi-outermost">

	<div class="row">
		<div class="pull-right" style="margin-top:-70px;">
			<button ng-disabled="AddMaterialCost_Simpan_Button_disabled" id="AddMaterialCost_Simpan_Button" ng-click="AddMaterialCost_Simpan_Clicked()"
			 type="button" class="rbtn btn ng-binding ladda-button fi-right-button" style="float: right; margin-top:24px">
				<span class="ladda-label">
					Simpan
				</span>
				<span class="ladda-spinner"></span>
			</button>

			<button id="AddMaterialCost_Kembali_Button" ng-click="AddMaterialCost_Kembali_Clicked()" type="button" class="btn ng-binding ladda-button fi-right-button"
			 style="float: right; margin-top:24px; margin-left:50px">
				<span class="ladda-label">
					Kembali
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>


	<div class="row" style="margin-bottom:10px;">
		<div class="col-md-12" style="margin-left:-7px; margin-top:-20px;">
		<div class="col-md-2">
			<bslabel>Tipe Material</bslabel>
			<bsselect ng-model="AddMaterialCost_TipeMaterial" ng-change="AddMaterialCost_TipeMaterial_Changed()" data="optionsAddMaterialCostTipeMaterial"
			 item-text="name" item-value="value" on-select="value(selected)" placeholder="Tipe Material Cost" icon="fa fa-search">
			</bsselect>
		</div>
		<!-- <div class="col-md-1"></div> -->
		<div class="col-md-2">
			<bslabel>Tanggal Berlaku</bslabel>
			<div class="input-icon-right ">
				<bsdatepicker format="dd/MM/yyyy" min-date='MinDate' name="AddMaterialCostTanggalBerlaku" date-options="dateOptions" ng-model="AddMaterialCost_TanggalBerlaku" ng-change="AddMaterialCost_DateChanged">
				</bsdatepicker>
			</div>
		</div>
	</div>
</div>

<div class="row" style="border:1px solid lightgrey;margin-left:5px;margin-right:5px">
	<label style="margin-left:5px;margin-top:-9px;float:left;background-color:white">Upload File</label>
	<div class="col-md-12" style="margin-top:10px;margin-bottom:10px">
		<div class="col-md-1" style="margin-top:12px">
			Upload File
		</div>

		<div class="col-md-6" style="border:1px solid lightgrey;padding: 10px 0 10px 10px">
			<div class="input-icon-right">
				<input type="file" accept=".xlsx" id="uploadMaterialCost" file-model="uploadMaterialCost">
			</div>
		</div>

		<div class="col-md-2">
			<button id="LihatMaterialCost_Upload_Button" ng-click="AddMaterialCost_Upload_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
			 style="float: left;margin-top:5px">
				<span class="ladda-label">
					Upload
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>
</div>

<div class="row" style="border:1px solid lightgrey;margin-left:5px;margin-right:5px;margin-top:15px">
	<label style="margin-left:5px;margin-top:-9px;float:left;background-color:white">Hasil Upload</label>

	<div class="row" style="border:1px solid lightgrey; width:60%; margin-left:10px; margin-top:15px;margin-bottom:10px">
		<label style="margin-left:5px;margin-top:-9px;float:left;background-color:white">Filter</label>
		<div class="col-md-12" style="margin-bottom:10px">
			<div ng-show="ShowAddMaterialCost_UnitBahan">
				<div class="col-md-4">
					<bslabel>No Material</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="AddMaterialCostFilterNoMaterial " placeholder="" ng-model="AddMaterialCost_Filter_NoMaterial"
						 ng-maxlength="50" maxlength="50" />
					</div>
				</div>

				<div class="col-md-4">
					<bslabel>Nama Material</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="AddMaterialCostFilterNamaMaterial " placeholder="" ng-model="AddMaterialCost_Filter_NamaMaterial"
						 ng-maxlength="50" maxlength="50" />
					</div>
				</div>
			</div>

			<div ng-show="ShowAddMaterialCost_Unit">
				<div class="col-md-4">
					<bslabel>Model tipe</bslabel>
					<div class="input-icon-right ">
						<input type="text" class="form-control " name="AddMaterialCostFilterModelTipe" placeholder="" ng-model="AddMaterialCost_Filter_ModelTipe"
						 ng-maxlength="50" maxlength="50" />
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<button id="AddMaterialCost_Filter_Button" ng-click="AddMaterialCost_Filter_Clicked()" type="button" class="btn ng-binding ladda-button"
				 style="float: left; margin-top:10px; margin-left:5px">
					<span class="ladda-label">
						Filter
					</span>
					<span class="ladda-spinner"></span>
				</button>

				<button id="AddMaterialCost_HapusFilter_Button" ng-click="AddMaterialCost_HapusFilter_Clicked()" type="button" class="btn ng-binding ladda-button"
				 style="float: left; margin-top:10px; margin-left:5px">
					<span class="ladda-label">
						Hapus Filter
					</span>
					<span class="ladda-spinner"></span>
				</button>

			</div>
		</div>
	</div>

	<div class="col-md-12">
		<!-- <div class="col-md-3" style="margin-top:20px;margin-bottom:20px">
				<bsselect ng-model="AddMaterialCost_BulkAction" data="optionsAddMaterialCostBulkAction" item-text="name" item-value="value"
				 on-select="value(selected)" placeholder="Bulk Action" icon="fa fa-search">
				</bsselect>
			</div> -->
		<div class="col-md-6" ng-show="ShowAddMaterialCost_UnitBahan" style="margin-left:-12px;">
			<div class="input-group-btn" uib-dropdown="">
				<button style="margin-right:5px;" ng-disabled="!MatCostData_selectedRows.length>0" type="button" class="btn wbtn" onclick="this.blur()"
				 uib-dropdown-toggle="" data-toggle="dropdown" tabindex="-1">
					Bulk Action&nbsp;
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
					<li role="menuitem" class="ng-scope">
						<a href="#" ng-click="MatCostDataUnit_actDel()" ng-if="MatCostData_selectedRows.length>0" class="ng-binding ng-scope" tabindex="0"
						 style="">Hapus</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6" ng-show="ShowAddMaterialCost_Unit" style="margin-left:-12px;">
			<div class="input-group-btn" uib-dropdown="">
				<button style="margin-right:5px;" ng-disabled="!MatCostDataUnit_selectedRows.length>0" type="button" class="btn wbtn" onclick="this.blur()"
				 uib-dropdown-toggle="" data-toggle="dropdown" tabindex="-1">
					Bulk Action&nbsp;
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
					<li role="menuitem" class="ng-scope">
						<a href="#" ng-click="MatCostDataUnit_actDel()" ng-if="MatCostDataUnit_selectedRows.length>0" class="ng-binding ng-scope"
						 tabindex="0" style="">Hapus</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6" style="margin-top:20px" ng-show="ShowAddMaterialCost_ValidLabel">
			*terdapat {{AddMaterialCost_totalErrData}} yang tidak valid
		</div>
	</div>

	<div ng-show="ShowAddMaterialCost_UnitBahan">
		<div class="col-md-12" style="margin-bottom:10px">
			<div id="myGrid" ui-grid="MatCostData_UIGrid" ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination
			 ui-grid-selection class="TransaksiCashBank_UIGrid" style="width:98%;height: 250px">
				<div class="watermark" ng-show="!MatCostData_UIGrid.data.length">No data available</div>
			</div>
		</div>
	</div>

	<div ng-show="ShowAddMaterialCost_Unit">
		<div class="col-md-12" style="margin-bottom:10px">
			<div id="myGrid" ui-grid="MatCostDataUnit_UIGrid" ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination
			 ui-grid-selection class="TransaksiCashBank_UIGrid" style="width:98%;height: 250px">
				<div class="watermark" ng-show="!MatCostDataUnit_UIGrid.data.length">No data available</div>
			</div>
		</div>
	</div>
</div>
</div>

<div ng-show="LihatMaterialCost_Show" class="fi-outermost">

	<div class="row">
		<div class="pull-right" style="margin-top:-50px">
			<button id="LihatMaterialCost_Simpan_Button" ng-click="LihatMaterialCost_Simpan_Clicked()" type="button" class="rbtn btn ng-binding ladda-button fi-right-button"
			 style="float: right; margin-top:0px" ng-show="LihatMaterialCost_EditMode_Show">
				<span class="ladda-label">
					Simpan
				</span>
				<span class="ladda-spinner"></span>
			</button>

			<button id="LihatMaterialCost_Kembali_Button" ng-click="LihatMaterialCost_Kembali_Clicked()" type="button" class="btn ng-binding ladda-button fi-right-button"
			 style="float: right; margin-top:0px; margin-left:50px">
				<span class="ladda-label">
					Kembali
				</span>
				<span class="ladda-spinner"></span>
			</button>
		</div>
	</div>


	<div class="row" style="margin-top:0px; margin-left: -20px;">
		<div class="col-md-12">
			<div class="col-md-2">
				<bslabel>Tipe Material</bslabel>
				<bsselect ng-model="LihatMaterialCost_TipeMaterial" ng-change="LihatMaterialCost_TipeMaterial_Changed()" data="optionsLihatMaterialCostTipeMaterial"
				 item-text="name" item-value="value" on-select="value(selected)" placeholder="Tipe Material Cost" icon="fa fa-search"
				 ng-disabled="!LihatMaterialCost_TipeMaterial_IsDisable">
				</bsselect>
			</div>
			<!-- <div class="col-md-1"></div> -->
			<div class="col-md-2">
				<bslabel>Tanggal Berlaku</bslabel>
				<div class="input-icon-right ">
					<bsdatepicker format="dd/MM/yyyy" name="LihatMaterialCostTanggalBerlaku" date-options="dateOptions" ng-model="LihatMaterialCost_TanggalBerlaku"
					 ng-disabled="LihatMaterialCost_TanggalBerlaku_IsDisable">
					</bsdatepicker>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-left:-20px;margin-top:20px">
		<div class="col-md-12">
			<div class="col-md-2">
				<bslabel>No Dokumen Upload</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="LihatMaterialCostNoDokumen " placeholder="" ng-model="LihatMaterialCost_NoDokumen"
					 ng-maxlength="50" ng-disabled="!LihatMaterialCost_NoDokumen_IsDisable" />
				</div>
			</div>

			<div class="col-md-2">
				<bslabel>Tanggal Upload</bslabel>
				<div class="input-icon-right ">
					<bsdatepicker format="dd/MM/yyyy" name="LihatMaterialCostTanggalUpload" date-options="dateOptions" ng-model="LihatMaterialCost_TanggalUpload"
					 ng-disabled="!LihatMaterialCost_TanggalUpload_IsDisable">
					</bsdatepicker>
				</div>
			</div>
		</div>

		<div class="col-md-12" style="margin-top:5px">
			<div class="col-md-2">
				<bslabel>Status</bslabel>
				<div class="input-icon-right ">
					<input type="text" class="form-control " name="LihatMaterialStatusDokumen " placeholder="" ng-model="LihatMaterialCost_StatusDokumen"
					 ng-maxlength="50" ng-disabled="!LihatMaterialCost_StatusDokumen_IsDisable" />
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="border:1px solid lightgrey;margin-left:5px;margin-right:5px;margin-top:30px" ng-show="LihatMaterialCost_EditMode_Show">
		<div class="col-md-12" style="margin-top:10px;margin-bottom:10px">
			<div class="col-md-1" style="margin-top:12px">
				Upload File
			</div>
			<div class="col-md-6" style="border:1px solid lightgrey;padding: 10px 0 10px 10px">
				<div class="input-icon-right">
					<input type="file" accept=".xlsx" id="uploadLihatMaterialCost" file-model="uploadLihatMaterialCost">
				</div>
			</div>
			<div class="col-md-2">
				<button id="LihatMaterialCost_Upload_Button" ng-click="LihatMaterialCost_Upload_Clicked()" type="button" class="rbtn btn ng-binding ladda-button"
				 style="float: left;margin-top:5px">
					<span class="ladda-label">
						Upload
					</span>
					<span class="ladda-spinner"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="row" style="border:1px solid lightgrey;margin-left:5px;margin-right:5px">
		<div class="row" style="border:1px solid lightgrey; width:60%; margin-left:10px; margin-top:5px;margin-bottom:10px">
			<div class="col-md-12" style="margin-top:10px;margin-bottom:10px">
				<div ng-show="ShowLihatMaterialCost_UnitBahan_Show">
					<div class="col-md-4">
						<bslabel>No Material</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="LihatMaterialCostFilterNoMaterial " placeholder="" ng-model="LihatMaterialCost_Filter_NoMaterial"
							 ng-maxlength="50" maxlength="50" />
						</div>
					</div>

					<div class="col-md-4">
						<bslabel>Nama Material</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="LihatMaterialCostFilterNamaMaterial " placeholder="" ng-model="LihatMaterialCost_Filter_NamaMaterial"
							 ng-maxlength="50" maxlength="50" />
						</div>
					</div>
				</div>

				<div ng-show="ShowLihatMaterialCost_Unit_Show">
					<div class="col-md-4">
						<bslabel>Model tipe</bslabel>
						<div class="input-icon-right ">
							<input type="text" class="form-control " name="LihatMaterialCostFilterModelTipe" placeholder="" ng-model="LihatMaterialCost_Filter_ModelTipe"
							 ng-maxlength="50" maxlength="50" />
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<button id="LihatMaterialCost_HapusFilter_Button" ng-click="LihatMaterialCost_HapusFilter_Clicked()" type="button" class="btn ng-binding ladda-button"
					 style="float: right; margin-top:10px; margin-left:5px">
						<span class="ladda-label">
							Hapus Filter
						</span>
						<span class="ladda-spinner"></span>
					</button>
					<button id="LihatMaterialCost_Filter_Button" ng-click="LihatMaterialCost_Filter_Clicked()" type="button" class="btn ng-binding ladda-button"
					 style="float: right; margin-top:10px">
						<span class="ladda-label">
							Filter
						</span>
						<span class="ladda-spinner"></span>
					</button>
				</div>
			</div>
		</div>

		<!-- <div class="col-md-3" style="margin-top:20px;margin-bottom:20px">
			<bsselect ng-model="LihatMaterialCost_BulkAction" data="optionsLihatMaterialCostBulkAction" item-text="name" item-value="value"
			 on-select="value(selected)" placeholder="Bulk Action" icon="fa fa-search">
			</bsselect>
		</div> -->
		<div class="col-md-12" ng-show="LihatMaterialCost_DraftData_Show_Bulk">
			<div class="input-group-btn" uib-dropdown="">
				<button style="margin-right:5px;" ng-disabled="!MatCostDraftData_selectedRows.length>0" type="button" class="btn wbtn" onclick="this.blur()"
				 uib-dropdown-toggle="" data-toggle="dropdown" tabindex="-1">
					Bulk Action&nbsp;
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
					<li role="menuitem" class="ng-scope">
						<a href="#" ng-click="MatCostDataUnitDraft_actDel()" ng-if="MatCostDraftData_selectedRows.length>0" class="ng-binding ng-scope"
						 tabindex="0" style="">Hapus</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-md-12" style="margin-bottom:10px" ng-show="LihatMaterialCost_DraftData_Show">
			<div id="myGrid" ui-grid="MatCostDraftData_UIGrid" ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination
			 ui-grid-selection class="Mygrid" style="width:98%;height: 250px">
				<div class="watermark" ng-show="!MatCostDraftData_UIGrid.data.length">No data available</div>
			</div>
		</div>

		<!-- lihat -->
		<div class="col-md-12" style="margin-bottom:10px" ng-show="LihatMaterialCost_DraftData_Show_Lihat">
			<div id="myGrid" ui-grid="MatCostDraftDataLihat_UIGrid" ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination
			 ui-grid-selection class="Mygrid" style="width:98%;height: 250px">
				<div class="watermark" ng-show="!MatCostDraftDataLihat_UIGrid.data.length">No data available</div>
			</div>
		</div>

		<div class="col-md-12" style="margin-bottom:10px" ng-show="LihatMaterialCost_UploadData_Show">
			<div id="myGrid" ui-grid="MatCostData_UIGrid_lihat" ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination
			 ui-grid-selection class="fi-ui-grid" style="width:98%;height: 250px">
				<div class="watermark" ng-show="!MatCostData_UIGrid_lihat.data.length">No data available</div>
			</div>
		</div>
	</div>
</div>

<div class="ui modal" id="ModalMaterialCost" role="dialog" style="width:800px;height:200px;margin-top:5px;margin-left:-350px">
	<div class="modalDefault-dialog" style="width:100%;margin-top:5px">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Download Template</h4>
		</div>
		<div class="modal-content" style="width:100%;height:100%">
			<!--div class="row" style="margin-left:15px"-->
			<div class="col-md-6" style="margin-top:10px">
				<bslabel>Tipe Material</bslabel>
				<bsselect ng-model="ModalMaterialCost_TipeMaterial" data="optionsModalMaterialCostTipeMaterial" item-text="name" item-value="value"
				 on-select="value(selected)" placeholder="Tipe Material Cost" icon="fa fa-search">
				</bsselect>
			</div>
			<!--/div-->
			<div class="col-md-12" style="margin-top:30px;margin-bottom:10px">
				<button ng-click="ModalMaterialCost_OK_Clicked()" class="rbtn btn ng-binding ladda-button" type="button" style="float:right">OK</button>
				<button ng-click="ModalMaterialCost_Kembali_Clicked()" class="btn ng-binding ladda-button" type="button" style="float:right">Kembali</button>
			</div>
		</div>
	</div>
</div>

<!-- <div class="ui modal" id="ModalLihatMaterialCostUploadExcel" role="dialog" style="width:800px;height:200px;margin-top:5px;margin-left:-350px">
	<div class="modalDefault-dialog" style="width:100%;margin-top:5px">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Konfirmasi</h4>
		</div>
		<div class="modal-content" style="width:100%;height:100%">
			<p>
				Anda yakin ingin replace data {{LihatMaterialCost_TipeMaterial.name}} yang sudah ada ?
			</p>
			<div class="col-md-12" style="margin-top:30px;margin-bottom:10px">
				<button ng-click="ModalLihatMaterialCostUploadExcel_OK_Clicked()" class="rbtn btn ng-binding ladda-button" type="button"
				 style="float:right">Ya</button>
				<button ng-click="ModalLihatMaterialCostUploadExcel_Kembali_Clicked()" class="btn ng-binding ladda-button" type="button"
				 style="float:right">Tidak</button>
			</div>
		</div>
	</div>
</div> -->

<!-- <div class="ui modal" id="ModalLihatMaterialCostUploadExcel" role="dialog" style="width:600px;height:220px;margin-top:5px;margin-left:-300px">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Konfirmasi</h4>
		</div>
		<div class="modal-body">
			<p>
				Anda yakin ingin replace data {{LihatMaterialCost_TipeMaterial.name}} yang sudah ada ?
			</p>
		</div>
		<div class="modal-footer">
			<p>
				<button ng-click="ModalLihatMaterialCostUploadExcel_Kembali_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Tidak</button>
				<button ng-click="ModalLihatMaterialCostUploadExcel_OK_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Ya</button>
			</p>
		</div>
	</div>
</div>
 -->
<div class="ui modal" id="ModalLihatMaterialCostUploadExcelNew" role="dialog" style="width:600px;height:220px;margin-top:5px;margin-left:-300px">
	<div class="modalDefault-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Konfirmasi</h4>
		</div>
		<div class="modal-body">
			<p>
				Anda yakin ingin replace data {{LihatMaterialCost_TipeMaterial.name}} yang sudah ada ?
			</p>
		</div>
		<div class="modal-footer">
			<p>
				<button ng-click="ModalLihatMaterialCostUploadExcel_Kembali_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Tidak</button>
				<button ng-click="ModalLihatMaterialCostUploadExcel_OK_Clicked()" class="rbtn btn ng-binding ladda-button" type="button">Ya</button>
			</p>
		</div>
	</div>
</div>


<!-- <div id="MatCostDataUnitModal">
	<div role="dialog" aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-modal swal2-show" tabindex="-1"
	 style="width: 500px; padding: 20px; background: rgb(255, 255, 255); display: block; min-height: 355px;">
		<ul class="swal2-progresssteps" style="display: none;"></ul>
		<div class="swal2-icon swal2-error" style="display: none;">
			<span class="x-mark">
				<span class="line left"></span>
				<span class="line right"></span>
			</span>
		</div>
		<div class="swal2-icon swal2-question" style="display: none;">?</div>
		<div class="swal2-icon swal2-warning" style="display: block;">!</div>
		<div class="swal2-icon swal2-info" style="display: none;">i</div>
		<div class="swal2-icon swal2-success" style="display: none;">
			<span class="line tip"></span>
			<span class="line long"></span>
			<div class="placeholder"></div>
			<div class="fix"></div>
		</div>
		<img class="swal2-image" style="display: none;">
		<h2 class="swal2-title" id="swal2-title">
			<p style="font-size:20px">
				Delete
				<span style="color:red">{{MatCostDataUnit_TotalSelectedData}} item(s) </span>
				from
				<span style="color:blue">Material Cost data.</span>
			</p> Are you sure?
		</h2>
		<div id="swal2-content" class="swal2-content" style="display: block;">You won't be able to revert this!</div>
		<input class="swal2-input" style="display: none;">
		<input type="file" class="swal2-file" style="display: none;">
		<div class="swal2-range" style="display: none;">
			<output></output>
			<input type="range">
		</div>
		<select class="swal2-select" style="display: none;"></select>
		<div class="swal2-radio" style="display: none;"></div>
		<label for="swal2-checkbox" class="swal2-checkbox" style="display: none;">
			<input type="checkbox">
		</label>
		<textarea class="swal2-textarea" style="display: none;"></textarea>
		<div class="swal2-validationerror" style="display: none;"></div>
		<div class="swal2-buttonswrapper" style="display: block;">
			<button type="button" role="button" tabindex="0" class="swal2-confirm swal2-styled" ng-click="MatCostDataUnitOK_Button_Clicked()"
			 style="background-color: rgb(140, 212, 245); border-left-color: rgb(140, 212, 245); border-right-color: rgb(140, 212, 245);">OK</button>
			<button type="button" role="button" tabindex="0" class="swal2-cancel swal2-styled" style="display: inline-block; background-color: rgb(170, 170, 170);"
			 data-dismiss="modal">Cancel</button>
		</div>
		<button type="button" tabindex="0" class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
	</div>
</div> -->

<div id="MatCostDataUnitModalNew">
	<div role="dialog" aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-modal swal2-show" tabindex="-1"
	 style="width: 500px; padding: 20px; background: rgb(255, 255, 255); display: block; min-height: 355px;">
		<ul class="swal2-progresssteps" style="display: none;"></ul>
		<div class="swal2-icon swal2-error" style="display: none;">
			<span class="x-mark">
				<span class="line left"></span>
				<span class="line right"></span>
			</span>
		</div>
		<div class="swal2-icon swal2-question" style="display: none;">?</div>
		<div class="swal2-icon swal2-warning" style="display: block;">!</div>
		<div class="swal2-icon swal2-info" style="display: none;">i</div>
		<div class="swal2-icon swal2-success" style="display: none;">
			<span class="line tip"></span>
			<span class="line long"></span>
			<div class="placeholder"></div>
			<div class="fix"></div>
		</div>
		<img class="swal2-image" style="display: none;">
		<h2 class="swal2-title" id="swal2-title">
			<p style="font-size:20px">
				Delete
				<span style="color:red">{{MatCostDataUnit_TotalSelectedData}} item(s) </span>
				from
				<span style="color:blue">Material Cost data.</span>
			</p> Are you sure?
		</h2>
		<div id="swal2-content" class="swal2-content" style="display: block;">You won't be able to revert this!</div>
		<input class="swal2-input" style="display: none;">
		<input type="file" class="swal2-file" style="display: none;">
		<div class="swal2-range" style="display: none;">
			<output></output>
			<input type="range">
		</div>
		<select class="swal2-select" style="display: none;"></select>
		<div class="swal2-radio" style="display: none;"></div>
		<label for="swal2-checkbox" class="swal2-checkbox" style="display: none;">
			<input type="checkbox">
		</label>
		<textarea class="swal2-textarea" style="display: none;"></textarea>
		<div class="swal2-validationerror" style="display: none;"></div>
		<div class="swal2-buttonswrapper" style="display: block;">
			<button type="button" role="button" tabindex="0" class="swal2-confirm swal2-styled" ng-click="MatCostDataUnitOK_Button_Clicked()"
			 style="background-color: rgb(140, 212, 245); border-left-color: rgb(140, 212, 245); border-right-color: rgb(140, 212, 245);">OK</button>
			<button type="button" role="button" tabindex="0" class="swal2-cancel swal2-styled" style="display: inline-block; background-color: rgb(170, 170, 170);"
			 data-dismiss="modal">Cancel</button>
		</div>
		<button type="button" tabindex="0" class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
	</div>
</div>

<div id="MatCostDataUnitDraftModal">
	<div role="dialog" aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-modal swal2-show" tabindex="-1"
	 style="width: 500px; padding: 20px; background: rgb(255, 255, 255); display: block; min-height: 355px;">
		<ul class="swal2-progresssteps" style="display: none;"></ul>
		<div class="swal2-icon swal2-error" style="display: none;">
			<span class="x-mark">
				<span class="line left"></span>
				<span class="line right"></span>
			</span>
		</div>
		<div class="swal2-icon swal2-question" style="display: none;">?</div>
		<div class="swal2-icon swal2-warning" style="display: block;">!</div>
		<div class="swal2-icon swal2-info" style="display: none;">i</div>
		<div class="swal2-icon swal2-success" style="display: none;">
			<span class="line tip"></span>
			<span class="line long"></span>
			<div class="placeholder"></div>
			<div class="fix"></div>
		</div>
		<img class="swal2-image" style="display: none;">
		<h2 class="swal2-title" id="swal2-title">
			<p style="font-size:20px">
				Delete
				<span style="color:red">{{MatCostDataUnitDraft_TotalSelectedData}} item(s) </span>
				from
				<span style="color:blue">Material Cost data.</span>
			</p> Are you sure?
		</h2>
		<div id="swal2-content" class="swal2-content" style="display: block;">You won't be able to revert this!</div>
		<input class="swal2-input" style="display: none;">
		<input type="file" class="swal2-file" style="display: none;">
		<div class="swal2-range" style="display: none;">
			<output></output>
			<input type="range">
		</div>
		<select class="swal2-select" style="display: none;"></select>
		<div class="swal2-radio" style="display: none;"></div>
		<label for="swal2-checkbox" class="swal2-checkbox" style="display: none;">
			<input type="checkbox">
		</label>
		<textarea class="swal2-textarea" style="display: none;"></textarea>
		<div class="swal2-validationerror" style="display: none;"></div>
		<div class="swal2-buttonswrapper" style="display: block;">
			<button type="button" role="button" tabindex="0" class="swal2-confirm swal2-styled" ng-click="MatCostDataUnitDraftOK_Button_Clicked()"
			 style="background-color: rgb(140, 212, 245); border-left-color: rgb(140, 212, 245); border-right-color: rgb(140, 212, 245);">OK</button>
			<button type="button" role="button" tabindex="0" class="swal2-cancel swal2-styled" style="display: inline-block; background-color: rgb(170, 170, 170);"
			 data-dismiss="modal">Cancel</button>
		</div>
		<button type="button" tabindex="0" class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
	</div>
</div>
