<script type="text/javascript">
    // function IfGotProblemWithModal() {
    //     $('body .modals').remove();
    // }

    function justNumber(key){
        return key == 'ArrowLeft' || key == 'ArrowRight' || key == 'Delete' || key == 'Tab';
    }
</script>
<style type="text/css">
    .context-menu {cursor: context-menu;}
    /* input[type="date"]::-webkit-calendar-picker-indicator, */
    input[type="date"]::-webkit-inner-spin-button{
        display: none;
        -webkit-appearance: none;
    }
</style>
<!-- ng-form="RoleForm" is a MUST, must be unique to differentiate from other form -->
<!-- factory-name="Role" is a MUST, this is the factory name that will be used to exec CRUD method -->
<!-- model="vm.model" is a MUST if USING FORMLY -->
<!-- model="mRole" is a MUST if NOT USING FORMLY -->
<!-- loading="loading" is a MUST, this will be used to show loading indicator on the grid -->

<!-- get-data="getData" is OPTIONAL, default="getData" -->
<!-- selected-rows="selectedRows" is OPTIONAL, default="selectedRows" => this will be an array of selected rows -->
<!-- on-select-rows="onSelectRows" is OPTIONAL, default="onSelectRows" => this will be exec when select a row in the grid -->
<!-- on-popup="onPopup" is OPTIONAL, this will be exec when the popup window is shown, can be used to init selected if using ui-select -->

<!-- form-name="RoleForm" is OPTIONAL default="menu title and without any space", must be unique to differentiate from other form -->
<!-- form-title="Form Title" is OPTIONAL (NOW DEPRECATED), default="menu title", to show the Title of the Form -->
<!-- modal-title="Modal Title" is OPTIONAL, default="form-title", to show the Title of the Modal Form -->
<!-- modal-size="small" is OPTIONAL, default="small" ["small","","large"] -> "" means => "medium" , this is the size of the Modal Form -->
<!-- icon="fa fa-fw fa-child" is OPTIONAL, default='no icon', to show the icon in the breadcrumb -->

<!-- <div ng-show="ShowTerimaDokumenSTNKMain" class="formHeader container" style="width:100%">
    <div class="row">
        <div class="container" style="width: 100%">
            <div class="col-md-1">
                <label>Search </label>
            </div>

            <div class="col-md-4">
                <bsselect name="In" ng-model="" data="type" item-text="type" item-value="type" on-select="type(selected)" placeholder="Select">
                </bsselect>
            </div>
            <div class="col-md-4">
                <button class="rbtn btn ng-binding ladda-button">Filter </button>
            </div>
        </div>
    </div>
</div> -->

<div ng-show="ShowTerimaDokumenSTNKMain" class="row" style="width: 100%; margin: 0 0 0 0">
    <bsform-grid ng-form="TerimaDokumenStnkForm" factory-name="TerimaDokumenStnkFactory" model="mTerimaDokumenStnk" model-id="SuratDistribusiSTNKHeaderId" loading="loading" grid-hide-action-column="true" get-data="getData" selected-rows="selectedRows" on-select-rows="onSelectRows"
    show-advsearch="on" hide-new-button="true" form-name="TerimaDokumenStnkForm" form-title="TerimaDokumenStnk" modal-title="Terima Dokumen Stnk" modal-size="small" icon="fa fa-fw fa-child">

        <bsform-advsearch>
            <div class="row" style="margin: 0 0 0 0">
                <div class="col-md-3">
                    <div class="from-group">
                        <label>Status</label>
                        <bsselect name="status" placeholder="Status" ng-model="filter.TerimaDokumenSTNKBPKBStatusId" data="getStatusDokumen"
                            item-text="TerimaDokumenSTNKBPKBStatusName" item-value="TerimaDokumenSTNKBPKBStatusId" required icon="fa fa-map-marker ">
                        </bsselect>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nomor Rangka</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Nomor Rangka" ng-model="filter.FrameNo" maxlength="30" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 0 0 0 0">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nomor Surat Distribusi</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Nomor Surat Distribusi" ng-model="filter.SuratDistribusiSTNKNo" maxlength="30">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nama Pelanggan</label>
                        <div class="input-icon-right">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" name="model" placeholder="Nama Pelanggan" ng-model="filter.CustomerName" maxlength="30">
                        </div>
                    </div>
                </div>
            </div>
        </bsform-advsearch>

    </bsform-grid>
</div>

<div ng-show="ShowDetilSuratDistribusiStnk">
        <bsbreadcrumb-custom action-label="breadcrums.title" tab="tab"></bsbreadcrumb-custom>

    <div class="row" style="margin: -45px 0 10px 0">
        <button style="float: right;" ng-click="KembaliKeTerimaDokumenSTNKMain()" type="button" class="wbtn btn ng-binding ladda-button">
            <span class="ladda-label">
                <!--<i class="fa fa-fw fa-refresh"></i>-->Kembali
            </span><span class="ladda-spinner"></span>
        </button>
    </div>
    <div style="display: block" class="grid" ui-grid="grid2" ui-grid-pagination ui-grid-auto-resize></div>
</div>

<!-- <div class="ui modal UpdatePenerimaanDokumenSTNK" role="dialog" style="background-color: transparent !important; width: 600px">
        <p style="text-align: center">

        </p>
</div> -->

<div class="ui modal UpdatePenerimaanDokumenSTNK" style="background: none; box-shadow: none">
        <div class="vertical-alignment-helper">
			<div class="modal-dialog vertical-align-center" style="margin-top: 0px; margin-bottom: 0px">
				<div class="modal-content" style="border-bottom-width: 0px; width:600px; height:100%">
                        <div class="modal-header" style=" padding: 1.25rem 1.5rem ;background-color: whitesmoke; border-bottom: 1px solid rgba(34,36,38,.15);">
                                <!-- <button type="button" ng-click="backFromterimaSTNK()" class="close" data-dismiss="modal">&times;</button> -->
                                <h4 class="modal-title">Update Penerimaan Dokumen</h4>
                            </div>
                
                            <div class="modal-body" style="background-color: white;  max-height: 60%">
                                <div class="row" style="margin: 0 0 0 0">
                                    <div id="infoPembeli" class="col-md-12" style="border:1px solid lightgrey; padding: 10px 0 0 0; margin-top: 10px">
                                        <p style="width:120px; margin-top:-17px; padding-left: 3px; margin-left:14px; background:white;"><b>Terima Dokumen</b></p>
                                        <ul class="list-group">
                                                <div style="margin-bottom: 20px;margin-left:25px;margin-right:25px;">
                                                    <bsreqlabel>Nomor Rangka</bsreqlabel>
                                                    <div class="input-icon-right">
                                                        <i class="fa fa-user"></i>
                                                        <input ng-disabled="true" type="text" class="form-control" name="NoRangka" placeholder="No Rangka" ng-model="EditDetilSuratDistribusi.FrameNo" ng-maxlength="50" required>
                                                    </div>
                                                </div>
                                
                                                <div style="margin-bottom: 10px;margin-left:25px;margin-right:25px;">
                                                    <bsreqlabel>Nama Pelanggan</bsreqlabel>
                                                    <div class="input-icon-right">
                                                        <i class="fa fa-user"></i>
                                                        <input ng-disabled="true" type="text" class="form-control" name="NamaPelanggan" placeholder="Nama Pelanggan" ng-model="EditDetilSuratDistribusi.CustomerName" ng-maxlength="50" required>
                                                    </div>
                                                </div>
                                               
                                                <div ng-hide="true" class="col-md-12" style="margin-bottom: 10px;">
                                                    <div class="col-md-6">
                                                        <bsreqlabel>No STNK</bsreqlabel>
                                                        <div class="input-icon-right">
                                                            <i class="fa fa-user"></i>
                                                            <input type="text" ng-disabled="true" class="form-control" name="NoStnk" placeholder="No STNK" ng-model="EditDetilSuratDistribusi.STNKNo" ng-maxlength="50" required>
                                                        </div>
                                                    </div>
                                
                                                    <div class="col-md-6">
                                                        <bsreqlabel>No Polisi</bsreqlabel>
                                                        <div class="input-icon-right">
                                                            <i class="fa fa-user"></i>
                                                            <input type="text" ng-disabled="true" class="form-control" name="NoPolisi" placeholder="No Polisi" ng-model="EditDetilSuratDistribusi.PoliceNumber" ng-maxlength="50" required>
                                                        </div>
                                                    </div>
                                                </div>
                
                                                <table class="table table-bordered table-responsive" border="1" style="border: none !important">
                                                    <tbody style="border: none !important">
                                                        <tr>
                                                            <th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">Dokumen</th>
                                                            <th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">Tanggal Dokumen Dikirim</th>
                                                            <th style="border-left: none !important;border-right: none !important;border-top: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important">Tanggal Dokumen Diterima</th>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: none !important">
                                                                <input style="margin-right:5px;" type="checkbox" ng-disabled="DisablePasSemuaDicentang || EditDetilSuratDistribusi.TombolSimpan == false" ng-change="StnkTerimaChanged(EditDetilSuratDistribusi.StnkTerimaCekChanged)" ng-model="EditDetilSuratDistribusi.StnkTerimaCekChanged">
                                                                <bsreqlabel>STNK</bsreqlabel>
                                                            </td>
                                                            <td style="border: none !important">
                                                                <input class="form-control" ng-disabled="true" type="date" ng-model="EditDetilSuratDistribusi.STNKSendDate">
                                                            </td>
                                                            <td style="border: none !important">
                                                                <input class="form-control"
                                                                        type="date"
                                                                        min="{{ProcessedOldTanggalTerimaSTNK}}"
                                                                        onkeydown="return justNumber(event.key)"
                                                                        ng-model="EditDetilSuratDistribusi.STNKReceiveDate"
                                                                        ng-disabled="EditDetilSuratDistribusi.TombolSimpan == false"
                                                                        ng-change="STNKTicBox(EditDetilSuratDistribusi)">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: none !important">
                                                                <input style="margin-right:5px;" type="checkbox" ng-disabled="DisablePasSemuaDicentang || EditDetilSuratDistribusi.TombolSimpan == false" ng-change="PoliceNumberTerimaChanged(EditDetilSuratDistribusi.PoliceNumberTerimaCekChanged)" ng-model="EditDetilSuratDistribusi.PoliceNumberTerimaCekChanged">
                                                                <bsreqlabel>No. Plat Polisi</bsreqlabel>
                                                            </td>
                                                            <td style="border: none !important">
                                                                <input class="form-control" ng-disabled="true" type="date" ng-model="EditDetilSuratDistribusi.PoliceNumberSendDate">
                                                            </td>
                                                            <td style="border: none !important">
                                                                <input class="form-control"
                                                                        type="date"
                                                                        onkeydown="return justNumber(event.key)"
                                                                        min="{{ProcessedOldTanggalTerimaPoliceNumber}}"
                                                                        ng-model="EditDetilSuratDistribusi.PoliceNumberReceiveDate"
                                                                        ng-disabled="EditDetilSuratDistribusi.TombolSimpan == false"
                                                                        ng-change="PoliceNumberTicBox(EditDetilSuratDistribusi)">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: none !important">
                                                                <input style="margin-right:5px;" type="checkbox" ng-disabled="DisablePasSemuaDicentang || EditDetilSuratDistribusi.TombolSimpan == false" ng-change="NoticePajakTerimaChanged(EditDetilSuratDistribusi.NoticePajakTerimaCekChanged)" ng-model="EditDetilSuratDistribusi.NoticePajakTerimaCekChanged">
                                                                <bsreqlabel>Notice Pajak</bsreqlabel>
                                                            </td>
                                                            <td style="border: none !important">
                                                                <input class="form-control" ng-disabled="true" type="date" ng-model="EditDetilSuratDistribusi.NoticePajakSendDate">
                                                            </td>
                                                            <td style="border: none !important">
                                                                <input class="form-control"
                                                                        type="date"
                                                                        onkeydown="return justNumber(event.key)"
                                                                        min="{{ProcessedOldTanggalTerimaNoticePajak}}"
                                                                        ng-model="EditDetilSuratDistribusi.NoticePajakReceiveDate"
                                                                        ng-disabled="EditDetilSuratDistribusi.TombolSimpan == false"
                                                                        ng-change="NoticePajakTicBox(EditDetilSuratDistribusi)">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                                    
                            <div class="modal-footer" style="padding:1rem 1rem !important; background-color: #f9fafb; border-top: 1px solid rgba(34,36,38,.15);">
                                <div id="bottomBox">
                                    <div style="float:left">
                                        <input style="margin-left:15px" type="checkbox" ng-disabled="EditDetilSuratDistribusi.TombolSimpan == false" ng-change="CentangAllDokumenChanged(EditDetilSuratDistribusi.DokumenLengkap)" ng-model="EditDetilSuratDistribusi.DokumenLengkap">&nbspKelengkapan Dokumen Sudah Diperiksa  
                                    </div>
                                    <div style="float:right">
                                        <button type="button" class="wbtn btn ng-binding ladda-button" onclick="this.blur()" ng-click=" backFromterimaSTNK()" ladda="savingState" data-style="expand-left" tabindex="0">
                                            <span class="ladda-label"><i class="fa fa-fw fa-times"></i>&nbsp;Kembali</span><span class="ladda-spinner"></span>
                                        </button>
										<button 
                                                ng-disabled="EditDetilSuratDistribusi.FrameNo == undefined || 
                                                EditDetilSuratDistribusi.CustomerName == undefined || 
                                                EditDetilSuratDistribusi.STNKReceiveDate == null || 
                                                EditDetilSuratDistribusi.PoliceNumberReceiveDate == null || 
                                                EditDetilSuratDistribusi.NoticePajakReceiveDate == null || 
                                                EditDetilSuratDistribusi.TombolSimpan == false ||
                                                EditDetilSuratDistribusi.STNKSendDate > EditDetilSuratDistribusi.STNKReceiveDate ||
                                                EditDetilSuratDistribusi.PoliceNumberSendDate > EditDetilSuratDistribusi.PoliceNumberReceiveDate || 
                                                EditDetilSuratDistribusi.NoticePajakSendDate > EditDetilSuratDistribusi.NoticePajakReceiveDate"
                                                ng-click="SimpanUpdatePenerimaanDokumen()"
                                                type="button"
                                                class="rbtn btn ng-binding ladda-button">
                                            <span class="ladda-label">
                                                        <!--<i class="fa fa-fw fa-refresh"></i>-->Simpan
                                            </span><span class="ladda-spinner"></span>
                                        </button>
                                        <!-- <button  -->
                                                <!-- ng-disabled="EditDetilSuratDistribusi.FrameNo == undefined ||  -->
                                                <!-- EditDetilSuratDistribusi.CustomerName == undefined ||  -->
                                                <!-- EditDetilSuratDistribusi.STNKNo == undefined ||  -->
                                                <!-- EditDetilSuratDistribusi.PoliceNumber == undefined ||  -->
                                                <!-- EditDetilSuratDistribusi.STNKReceiveDate == null ||  -->
                                                <!-- EditDetilSuratDistribusi.PoliceNumberReceiveDate == null ||  -->
                                                <!-- EditDetilSuratDistribusi.NoticePajakReceiveDate == null ||  -->
                                                <!-- EditDetilSuratDistribusi.TombolSimpan == false || -->
                                                <!-- EditDetilSuratDistribusi.STNKSendDate > EditDetilSuratDistribusi.STNKReceiveDate || -->
                                                <!-- EditDetilSuratDistribusi.PoliceNumberSendDate > EditDetilSuratDistribusi.PoliceNumberReceiveDate ||  -->
                                                <!-- EditDetilSuratDistribusi.NoticePajakSendDate > EditDetilSuratDistribusi.NoticePajakReceiveDate" -->
                                                <!-- ng-click="SimpanUpdatePenerimaanDokumen()" -->
                                                <!-- type="button" -->
                                                <!-- class="rbtn btn ng-binding ladda-button"> -->
                                            <!-- <span class="ladda-label"> -->
                                                        <!-- Simpan -->
                                            <!-- </span><span class="ladda-spinner"></span> -->
                                        <!-- </button> -->
                                    </div>
                                </div>    
                            </div>
				</div>
			</div>
        </div>      
    </div>

