<style type="text/css">
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;

}

.progress {background: rgba(255, 255, 255, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; height: 19px;}
.progress-bar-custom {background: rgba(183, 189, 194, 1);}
.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
.ui-grid-viewport {
        overflow-anchor: none;
    }

</style>
<div ng-include="'app/parts/stock_opname/partial/filter_detail_dsbl.html'"></div>
<div class="row">
    <div class="col-md-12">
        <label class="control-label">Status Input Hasil Stock Opname</label>
        <!-- <progress id="pb" class="form-control" value="22" max="100"></progress> -->
        <div class="progress">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="{{itemDone}}" aria-valuemin="0" aria-valuemax="{{itemTotal}}" style="width: {{itemDone}}%;">
                <span class="control-label"><b>{{itemDone}} item dari {{itemTotal}} item</b></span>
            </div>
            <!-- <label class="control-label">{{itemDone}} item dari 100 item</label> -->
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-12">
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Filter Detail Material</legend>
    <div ng-include="'app/parts/stock_opname/partial/filter_detail_gridl.html'"></div>
    <!-- <div class="row">
        <div class="col-md-2" style="margin: 0 auto">
            Nomor Bin Tag
        </div>
        <div class="col-md-1" style="margin: 0 auto">
            SCC
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            ICC
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            No Material
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            Nama Material
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            <div class="checkbox">
              <label><input type="checkbox" value="">Belum Count</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <input type="text" class="form-control" />
        </div>
        <div class="col-sm-1">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            <select class="form-control" ng-model="filter.SCCId">
              <option ng-repeat="scc in mSCC" value="{{scc.PartsClassId}}">{{scc.Description}}</option>
            </select>
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            <select class="form-control" ng-model="filter.ICCId">
                <option ng-repeat="icc in mICC" value="{{icc.PartsClassId}}">{{icc.Description}}</option>
            </select>
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-2" style="margin: 0 auto">
            <div class="checkbox">
              <label><input type="checkbox" value="">Different Count</label>
            </div>
        </div>
        <div class="col-md-1" style="margin: 0 auto">
            <button class="btn wbtn">Cari</button>
        </div>
        <div class="col-md-1" style="margin: 0 auto">
            <button class="btn wbtn">Hapus</button>
        </div>
    </div> -->
</fieldset>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="grid1" ui-grid="grid_stock_opname_item" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
        <br/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div align="right">
            <button class="btn wbtn" ng-disabled="mData.StockOpnameStatusId == 1 || mData.StockOpnameStatusId == 5" ng-click="CetakDifferentList()">Cetak Different List</button>
            <button class="btn wbtn" ng-disabled="mData.StockOpnameStatusId == 1 || mData.StockOpnameStatusId == 5" ng-click="CetakBeritaAcara()">Cetak Berita Acara</button>
            <button class="btn wbtn" ng-click="goBack()">Kembali</button>
            <button class="btn rbtn" ng-disabled="saveBtnDis" skip-disable="!saveBtnDis" ng-click="UbahData(mData)">Simpan</button>
            <button class="btn rbtn" ng-show="mData.StockOpnameStatusId!=4 && mData.ApproveStatusId != 1" ng-disabled="saveComBtnDis" skip-disable="!saveComBtnDis" ng-click="UbahApproval(mData)">Simpan & Completed</button>
        </div>
    </div>
</div>
