<style type="text/css">
.ui-grid-viewport {
    overflow-anchor: none;
}
</style>
<div ng-include="'app/parts/stock_opname/partial/filter_detail_dsbl.html'"></div>
<div class="row">
    <div class="col-md-12">
        <label class="control-label">Status Input Hasil Stock Opname</label>
        <!-- <progress id="pb" class="form-control" value="22" max="100"></progress> -->
        <div class="progress">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="mData.itemDone" aria-valuemin="0" aria-valuemax="mData.itemTotal" style="width: {{mData.PersentaseItem}}%;">
                <span class="show"><b>{{mData.itemDone}} item dari {{mData.itemTotal}} item</b></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="grid1" ui-grid="grid_stock_opname_item" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-pagination class="grid"></div>
        <br/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div align="right">
           <!--  <button class="btn wbtn" skip-disable ng-click="exportHasil()">Export Hasil</button>
            <button class="btn wbtn" skip-disable ng-click="cetakBinTag(mData.StockOpnameId)">Cetak Bin Tag</button>
            <button class="btn wbtn" skip-disable ng-click="cetakBinTagList(mData.StockOpnameId)">Cetak List Bin Tag</button> -->
            <button class="btn wbtn" skip-disable ng-click="goBack()">Kembali</button>
        </div>
    </div> 
</div>