<div class="col-md-12" ng-form="row1">
    <div class="col-md-6">
        <div class="form-group" show-errors>
            <bsreqlabel>Tipe Material</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="tipe" ng-disabled="ldModel.PartsId !== undefined && ldModel.PartsId !== null" ng-model="ldModel.MaterialTypeId" data="materialCategory" item-text="Name" item-value="MaterialTypeId" placeholder="Pilih Tipe" on-select="selectTypeParts(selected)" required>
            </bsselect>
            <em ng-messages="row1.tipe.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="typeMaterial"></bserrmsg> -->
        </div>
        <div class="form-group" ng-style="" style="margin-bottom:65px;" show-errors>
            <div class="form-inline">
                <label>No. Material</label>
                <bscheckbox ng-change="checkIsOPB(ldModel.IsOPB, ldModel)"  ng-disabled="!(ldModel.MaterialTypeId == 2) || (ldModel.PartsCode !== undefined && ldModel.PartsCode !== '' &&  ldModel.PartsCode !== null || ldModel.JobPartsId !== undefined) " class="pull-right" ng-model="ldModel.IsOPB" label="OPB" true-value="1" false-value="0">
                </bscheckbox>
            </div>
            <!-- <input type="text" class="form-control" name="noMaterial" ng-model="ldModel.PartsCode" > -->
            <div class="col-xs-8" style="padding-left:0px;">
                <bstypeahead placeholder="No. Material" name="noMaterial" ng-model="ldModel.PartsCode" get-data="getParts" item-text="PartsCode" ng-disabled="(ldModel.JobPartsId !== undefined && ldModel.JobPartsId !== null) || ldModel.IsOPB == 1" ng-maxlength="250" disallow-space loading="loadingUsers" noresult="noResults" selected="selected" on-select="onSelectParts"
                    on-noresult="onNoPartResult" on-gotresult="onGotResult" ta-minlength="4" template-url="customTemplate.html" ng-change="ubahPartsCode(ldModel)" icon="fa-id-card-o">
                </bstypeahead>
                <em ng-show="ldModel.PartsCode.length < 4" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p>Minimal 4 karakter untuk pencarian</p>
                </em>
                <em ng-show="ldModel.PartsCode.length > 32" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p>Karakter Terlalu Banyak</p>
                </em>
            </div>
            <div class="col-xs-4">
                <button class="rbtn btn" ng-disabled="!(ldModel.Qty !== null && ldModel.Qty !== undefined && ldModel.PartsId)" ng-click="checkAvailabilityParts(ldModel)">Cek Ketersediaan</button>
            </div>
            
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Nama Material</bsreqlabel>
            <input type="text" class="form-control" ng-keypress="dissallowSemicolon($event)" name="namaMaterial" ng-model="ldModel.PartsName" ng-maxlength="64" ng-disabled="ldModel.PartsId !== null && ldModel.PartsId !== undefined" ng-change="checkNameParts(ldModel.PartsName,ldModel)" required>
            <em ng-messages="row1.namaMaterial.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <bserrmsg field="namaMaterial"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Quantity</bsreqlabel>
            <input step="1" type="number" max="99999999999999" ng-maxlength="14" maxlength="14" ng-change="checkPrice(ldModel.RetailPrice)" required min=1 class="form-control" name="qty" ng-disabled="ldModel.DisableQty == 1" ng-model="ldModel.Qty">
            <!-- <input type="text" number-only ng-change="checkPrice(ldModel.RetailPrice)" required min=1 class="form-control" name="qty" ng-disabled="ldModel.DisableQty == 1" ng-model="ldModel.Qty"> -->
            <em ng-messages="row1.qty.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
                <p ng-message="max"> Angka Terlalu Banyak</p>
            </em>
            
            <!-- <bserrmsg field="qty"></bserrmsg> -->
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Satuan</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="satuan" ng-model="ldModel.SatuanId" on-select="selectTypeUnitParts(selected)" data="unitData" item-text="Name" item-value="MasterId" required placeholder="Pilih Tipe">
            </bsselect>
            <em ng-messages="row1.satuan.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="satuan"></bserrmsg> -->
        </div>
        <div ng-show="(ldModel.MaterialTypeId == 1 && ldModel.Availbility == 'Tidak Tersedia') || ( ldModel.MaterialTypeId == 1 && ((ldModel.PartsCode == '' || ldModel.PartsCode == null || ldModel.PartsCode == undefined) && (ldModel.PartsName != null && ldModel.PartsName != undefined && ldModel.PartsName != '')) )" class="form-group" show-errors>
            <label>Tipe Order</label>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" 
            name="satuan" ng-model="ldModel.OrderType" data="typeMData" item-text="Name" item-value="Id" 
            placeholder="Pilih Tipe" ng-disabled="DisTipeOrder || ldModel.IsOPB != 1 || (ldModel.OrderType != null || ldModel.OrderType != undefined)" skip-enable>
            </bsselect>
            <bserrmsg field="OrderType"></bserrmsg>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>ETA</label>
            <bsdatepicker name="DateAppoint" ng-disabled="true" date-options="DateOptions" ng-model="ldModel.ETA" ng-change="DateChange(dt)">
            </bsdatepicker>
            <!-- <bsdatepicker name="DateAppoint" ng-disabled="partsAvailable" date-options="DateOptions" ng-model="ldModel.ETA" ng-change="DateChange(dt)">
            </bsdatepicker> -->
        </div>
        <div class="form-group" show-errors>
            <label>Ketersediaan</label>
            <input type="text"  class="form-control" ng-disabled="true" name="ketersedian" ng-model="ldModel.Availbility">
        </div>
        <div class="form-group" ng-if="lmModel.JobTypeId != 2677 && lmModel.JobTypeId != 2678 && lmModel.JobTypeId != 2675" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="ldModel.PaidById" data="paymentData" item-text="Name" item-value="MasterId" on-select="selectTypePaidParts(selected)" ng-disabled="JobIsWarranty == 1" placeholder="Pilih Pembayaran" required>
            </bsselect>
            <em ng-messages="row1.pembayaran.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="pembayaran"></bserrmsg> -->
        </div>
        <div class="form-group" ng-if="lmModel.JobTypeId == 2677 && lmModel.JobTypeId != 2675 && lmModel.JobTypeId != 2678" show-errors>
                <bsreqlabel>Pembayaran</bsreqlabel>
                <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="ldModel.PaidById" data="paymentDataIsNotWarranty" item-text="Name" item-value="MasterId" on-select="selectTypePaidParts(selected)" placeholder="Pilih Pembayaran" required>
                </bsselect>
                <em ng-messages="row1.pembayaranPart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                </em>
                <!-- <bserrmsg field="pembayaran"></bserrmsg> -->
            </div>
            <div class="form-group" ng-if="lmModel.JobTypeId == 2675 || lmModel.JobTypeId == 2678" show-errors>
                <bsreqlabel>Pembayaran</bsreqlabel>
                <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="ldModel.PaidById" data="paymentDataThereIstWarranty" item-text="Name" item-value="MasterId" on-select="selectTypePaidParts(selected)" ng-disabled="lmModel.JobTypeId == 2678 || lmModel.JobTypeId == 2675" placeholder="Pilih Pembayaran" required>
                </bsselect>
                <em ng-messages="row1.pembayaranPart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                    <p ng-message="required">Wajib diisi</p>
                </em>
                <!-- <bserrmsg field="pembayaran"></bserrmsg> -->
            </div>

        <div class="form-group" show-errors>
            <!-- bsreq -->
            <label>Harga</label>
            <!-- required -->
            <!-- disable sebelummnya ng-disabled="partsAvailable" -->
            <input type="number" ng-change="checkPrice(ldModel.RetailPrice)" min=0 max="9999999999999"  class="form-control"  name="harga" ng-if="ldModel.IsOPB != 1" ng-maxlength="13" required ng-disabled="(ldModel.IsOPB == null || ldModel.IsOPB == undefined || ldModel.IsOPB == 0) && (ldModel.PartsId != null && ldModel.PartsId != undefined)" ng-model="ldModel.RetailPrice">
            <input type="number" ng-change="checkPrice(ldModel.RetailPrice)" min=1 max="9999999999999"  class="form-control" name="hargaOPB" ng-if="ldModel.IsOPB == 1" ng-maxlength="13" ng-required="ldModel.IsOPB == 1" ng-disabled="(ldModel.IsOPB == 1) && (ldModel.PartsId != null && ldModel.PartsId != undefined)" ng-model="ldModel.RetailPrice">

            <em ng-messages="row1.harga.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
                <p ng-message="min">Harga Tidak Boleh 0</p>
                <p ng-message="max">Angka Terlalu Banyak</p>
            </em>
            <em ng-messages="row1.hargaOPB.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
                <p ng-message="min">Harga Tidak Boleh 0</p>
                <p ng-message="max">Angka Terlalu Banyak</p>
            </em>

            <!-- <bserrmsg field="harga"></bserrmsg> -->
        </div>
        <!--<div class="form-group" show-errors>
            <label>Diskon</label>
            <input type="number" min=0 max="100" class="form-control" name="harga" ng-model="ldModel.Discount">
            <bserrmsg field="harga"></bserrmsg>
        </div> -->
        <div class="form-group" show-errors>
            <label>Sub Total</label>
            <input type="number" ng-disabled="true" min=0 class="form-control" name="subTotal" ng-model="ldModel.subTotal">
            <bserrmsg field="subTotal"></bserrmsg>
        </div>
        <div class="form-group" show-errors>
            <label>Dp</label>
            <input type="text" currency-formating number-only min=0 max="9999999999999" ng-maxlength="13" maxlength="13" ng-disabled="disableDP || (ldModel.PaidById == 2277 || ldModel.PaidById == 30 || ldModel.PaidById == 31) || ldModel.Availbility == 'Tersedia'" skip-enable class="form-control" name="Dp" ng-change="checkDp(ldModel.DownPayment, ldModel)" ng-model="ldModel.DownPayment">
            <bserrmsg field="Dp"></bserrmsg>
        </div>
    </div>
    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <span>{{match.label}}&nbsp;&bull;&nbsp;</span>
            <span ng-bind-html="match.model.PartsName | uibTypeaheadHighlight:query"></span>
            <!-- <span ng-bind-html="match.model.FullName | uibTypeaheadHighlight:query"></span> -->
        </a>
    </script>
    <div style="margin-top:50px; float: left;">
        &nbsp;
    </div>
</div>