<div class="col-md-12" ng-form="task1">
    <div class="col-md-6">
        <div class="form-group" show-errors>
            <bsreqlabel>Tipe</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="tipe" ng-model="lmModel.JobTypeId" data="taskCategory" item-text="Name" item-value="MasterId" placeholder="Pilih Tipe" on-select="selectTypeWork(selected)" required>
            </bsselect>
            <em ng-messages="task1.tipe.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="tipe"></bserrmsg> -->
        </div>
        <div class="form-group" show-errors>
            <bsreqlabel>Pekerjaan</bsreqlabel>
            <bstypeahead ng-if="tmpIsNonTAM == null" placeholder="Nama Pekerjaan" name="jobName" ng-model="lmModel.TaskName" get-data="getWork" item-text="TaskName" loading="loadingUsers" noresult="noResults" selected="selected" on-select="onSelectWork" on-noresult="onNoResult" on-gotresult="onGotResult"
                icon="fa-id-card-o" ng-disabled="lmModel.Type = null" ng-maxlength="100" maxlength="100" required>
            </bstypeahead>
            <input ng-if="tmpIsNonTAM != null" placeholder="Nama Pekerjaan" type="text" ng-maxlength="100" maxlength="100" required class="form-control" name="jobName" ng-model="lmModel.TaskName">

            <em ng-messages="task1.jobName.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
                <p ng-message="maxlength">Karakter terlalu banyak</p>
            </em>
            <!--<input placeholder="Pilih Pekerjaan"
            ng-minlength="3"
            ng-maxlength=50 
            disallow-space
            uib-typeahead="xuser.Name for xuser in getWork($viewValue)"
            typeahead-on-select="onSelectWork($item, $model, $label)" 
            ng-model-options="modelOptions"
            typeahead-loading="loadingUsers" 
            typeahead-no-results="noResults" 
            typeahead-min-length="2"
            type="text"
            ng-disabled="lmModel.Type = null"
            ng-model="lmModel.TaskName"
            class="form-control"
            name="jobName"
            > -->
            <!-- <bserrmsg field="jobName"></bserrmsg> -->
        </div>
        <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
            <div class="col-md-6" style="padding-left: 0px;">
                <div class="form-group" show-errors>
                    <bsreqlabel>FR</bsreqlabel>
                    <input type="number" name="FlatRate" required min=0  max="99999" step=0.0000000001 class="form-control" name="Fr" ng-model="lmModel.FlatRate" ng-change="checkServiceRate(lmModel.FlatRate,lmModel.JobTypeId)" ng-disabled="FlatRateAvailable">
                    <em ng-messages="task1.FlatRate.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p ng-message="required">Wajib diisi</p>
                        <p ng-message="min">Angka harus lebih besar atau sama dengan 0 </p>
                        <p ng-message="max">Karakter Terlalu banyak </p>
                    </em>
                    <!-- <bserrmsg field="Fr"></bserrmsg> -->
                </div>
            </div>
            <div class="col-md-6" style="padding-right: 0px;padding-left: 0px;">
                <div class="form-group" show-errors>
                    <bsreqlabel>Satuan</bsreqlabel>
                    <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="satuan" ng-model="lmModel.ProcessId" data="unitData" item-text="Name" item-value="MasterId" placeholder="Pilih Tipe" required>
                    </bsselect>
                    <em ng-messages="task1.satuan.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                        <p ng-message="required">Wajib diisi</p>
                    </em>
                </div>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label>Harga</label>
            <div ng-if="PriceAvailable == false">
                <input type="number" ng-maxlength="10" min=0 class="form-control" name="price" ng-model="lmModel.Fare" ng-disabled="" ng-change="checkPrice(lmModel.Fare)">
            </div>
            <div ng-if="PriceAvailable == true">
                <input type="number" ng-maxlength="10" min=0 class="form-control" name="price" ng-model="lmModel.Summary" ng-disabled="PriceAvailable">
            </div>
            <em ng-messages="task1.price.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
                <p ng-message="maxlength">Jumlah karakter terlalu banyak</p>
            </em>
            <!-- <bserrmsg field="price"></bserrmsg> -->
        </div>
    </div>
    <div class="col-md-6">
        <!-- <div class="form-group" show-errors>
            <bsreqlabel>Satuan</bsreqlabel>
            <bsselect name="satuan" ng-model="lmModel.ProcessId" data="unitData" item-text="Name" item-value="MasterId" placeholder="Pilih Tipe" required>
            </bsselect>
            <em ng-messages="task1.satuan.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
        </div> -->
        <div class="form-group" show-errors>
            <bsreqlabel>Job Plan / SAR</bsreqlabel>
            <input type="number" step=0.25 min=0.25 max="9999" ng-maxlength="4" maxlength="4" class="form-control" name="jobplan" ng-model="lmModel.ActualRate" required>

            <em ng-messages="task1.jobplan.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
                <p ng-message="step">Jobplan / SAR harus kelipatan 0.25 </p>
                <p ng-message="max">Karakter Terlalu banyak </p>
            </em>
            <!-- <bserrmsg field="jobplan"></bserrmsg> -->
        </div>
        <div class="form-group" ng-if="lmModel.JobTypeId != 2677 && lmModel.JobTypeId != 2678 && lmModel.JobTypeId != 2675" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="lmModel.PaidById" data="paymentData" item-text="Name" item-value="MasterId" placeholder="Pilih Pembayaran" on-select="selectTypeCust(selected)" ng-disabled="JobIsWarranty == 1" required>
            </bsselect>
            <em ng-messages="task1.pembayaran.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="pembayaran"></bserrmsg> -->
        </div>
        <div class="form-group" ng-if="(lmModel.JobTypeId == 2677 || lmModel.JobTypeId == 2678) && lmModel.JobTypeId != 2675 && lmModel.JobTypeId != 59 && lmModel.JobTypeId != 60" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="lmModel.PaidById" data="paymentDataThereIstWarranty" item-text="Name" item-value="MasterId" placeholder="Pilih Pembayaran" on-select="selectTypeCust(selected)" ng-disabled="JobIsWarranty == 2 || JobIsWarranty == 4" required>
            </bsselect>
            <em ng-messages="task1.pembayaranJobs.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="pembayaran"></bserrmsg> -->
        </div>
        <div class="form-group" ng-if="lmModel.JobTypeId == 2675 && (lmModel.JobTypeId != 2677 && lmModel.JobTypeId != 2678 && lmModel.JobTypeId != 59 && lmModel.JobTypeId != 60)" show-errors>
            <bsreqlabel>Pembayaran</bsreqlabel>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="pembayaran" ng-model="lmModel.PaidById" data="paymentDataIsNotWarranty" item-text="Name" item-value="MasterId" placeholder="Pilih Pembayaran" on-select="selectTypeCust(selected)" required>
            </bsselect>
            <em ng-messages="task1.pembayaranJobs.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
            <!-- <bserrmsg field="pembayaran"></bserrmsg> -->
        </div>
        <div class="form-group" show-errors>
            <label>T1
                    <span ng-show="lmModel.JobTypeId == 59 || lmModel.JobTypeId == 60" style="color:#b94a48;"> *</span>
            </label>
            <bsselect search-enabled="false" skip-focusser="true" keypressing="true" focussing="true" name="TFirst" ng-model="lmModel.TFirst1" data="TFirst" item-text="xName" item-value="xName" placeholder="T1" ng-required="lmModel.JobTypeId == 59 || lmModel.JobTypeId == 60" ng-disabled="lmModel.JobTypeId != 2675 && lmModel.JobTypeId != 2677 && lmModel.JobTypeId != 2678 && lmModel.JobTypeId != 59 && lmModel.JobTypeId != 60">
            </bsselect>
            <em ng-messages="task1.TFirst.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                <p ng-message="required">Wajib diisi</p>
            </em>
        </div>
    </div>
</div>