<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="FinanceFundSourceForm"
        factory-name="FinanceFundSourceFactory"
        model="mFinanceFundSource"
        model-id="FinanceFundSourceId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="FinanceFundSourceForm"
        form-title="FinanceFundSource"
        modal-title="Finance Fund Source"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >


        <div class="row">
          <div class="col-md-6">


            <div class="form-group" show-errors>
                <bsreqlabel>Fund Source Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="fundSourceName" placeholder="Fund Source Name" ng-model="mFinanceFundSource.FundSourceName"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="fundSourceName"></bserrmsg>
            </div>
          </div>
        </div>
</bsform-grid-tree>
