<script type="text/javascript">
$('.ui.dropdown')
    .dropdown();
</script>
<style type="text/css">
.ui-splitbar {
    background-color: #e3e3e3;
}

tr:hover {
    background-color: #818486;
    color: white;
    cursor: pointer;
}

.selectedRecord {
    background-color: #00aeef;
    color: white;
    /*font-weight: bold;*/
}

.ui-grid-pager-control button {
    height: 10px;
    margin-top: 10px;
}

.ui-grid-pager-control input {
    height: 14px;
    margin-top: 9px;
}

.ui-grid-pager-row-count-picker {
    height: 14px;
    margin-top: 7px;
}

.ui-grid-pager-count-container .ui-grid-pager-count {
    margin-top: 8px;
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number {
    font-size: 12px;
    vertical-align: sub;
    padding: 5px;
}

.ui-grid-nodata {
    position: absolute;
    top: 4rem;
    opacity: 0.25;
    font-size: 3em;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
</style>
<!-- <div class="ui grid"> -->
<ui-layout options="{flow:'column', dividerSize:2}" style="top:85px;">
    <div ui-layout-container min-size="0%" max-size="50%" size="30%">
        <div style="padding: 0.5em;">
            <div class="ui fluid card">
                <div class="content" style="background-color: whitesmoke;">
                    <div class="right floated meta">
                        <div class="ui small blue basic icon buttons right floated">

                        </div>
                    </div>
                    <div class="header">Organization Chart</div>
                    <div class="meta">Add/Edit/Delete Organization Chart</div>
                </div>
                <div class="content">
                    <!-- <div ng-if="orgChartData==null"> -->
                        <button class="ui basic button" ng-click="addEditOrgModal()">
                            <i class="add circle icon"></i>Add New Organization
                        </button>
                    <!-- </div> -->
                    <div data-angular-treeview="true" data-tree-id="orgTree" data-tree-model="orgChartData" data-node-id="id" data-node-label="title" data-node-children="child">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ui-layout-container min-size="10%" max-size="100%" size="70%">
        <div class="eight wide column">
            <div style="padding: 0.5em;">
                <div class="ui fluid card" ng-show="selectedOrg">
                    <div class="content" style="background-color: whitesmoke;">
                        <div class="right floated meta">
                            <div class="ui labeled selection dropdown left floated" style="padding:5px 5px 5px;">
                                <div class="ui label">Role</div>
                                <input type="hidden" name="role">
                                <i class="dropdown icon" style="padding-top:15px;"></i>
                                <div class="default text">Select Role</div>
                                <div class="menu">
                                    <div class="item" ng-repeat="role in roleList" data-value="role.title" ng-click="selectRole(role)">
                                        <i class="child icon"></i> {{role.title}}
                                    </div>
                                </div>
                            </div>
                            <div class="ui small blue basic icon buttons right floated">
                                <button class="ui button" tooltips tooltip-content="New " 
                                        tooltip-side="bottom" tooltip-lazy="false" tooltip-speed="fast" tooltip-size="small" tooltip-hide-trigger="click mouseleave" 
                                        ng-click="listUserModal()" ng-disabled="!selectedRole">
                                    <i class="add square icon"></i>
                                </button>
                                <button class="ui button" tooltips tooltip-content="Edit" 
                                        tooltip-side="bottom" tooltip-lazy="false" tooltip-speed="fast" tooltip-size="small" tooltip-hide-trigger="click mouseleave" 
                                        ng-click="doEditUser()" ng-disabled="gridApi.selection.getSelectedRows().length != 1">
                                    <i class="edit icon"></i>
                                </button>
                                <button class="ui button" tooltips tooltip-content="Delete" 
                                        tooltip-side="bottom" tooltip-lazy="false" tooltip-speed="fast" tooltip-size="small" tooltip-hide-trigger="click mouseleave" 
                                        ng-click="showModal_deleteUser=true" ng-disabled="gridApi.selection.getSelectedRows().length < 1">
                                    <i class="remove icon"></i>
                                </button>
                            </div>
                        </div>
                        <div class="header">Users in Organization: {{selectedOrg.title}}</div>
                        <div class="meta">Add/Edit/Delete User in Organization</div>
                    </div>
                    <div class="ui raised segment" ng-show="selectedRole">
                        <!-- OrgUser list table -->
                        <div id="grid1" ui-grid="gridOptions" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid" ng-style="getTableHeight()">
                            <div class="ui-grid-nodata" ng-show="!gridOptions.data.length">No data available</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</ui-layout>
<!-- </div> -->


<!-- modal -->
<sm-modal id="addEditOrg" class="modalAddEditOrg small" visible="showModal_addEditOrg" 
          settings="{closable: false,transition:'horizontal flip'}">
    <div class="header" style="background-color: whitesmoke;">
        <label>{{mOrgData.id==null?'New Organization Name':'Edit Organization Name'}}</label>
    </div>
    <div class="content">
        <form class="ui form" name="myOrgForm">
            <div class="field required">
                <label>Title</label>
                <input type="text" name="title" placeholder="Organization Chart Title" 
                       ng-model="mOrgData.title" required>
                <div ng-messages="myOrgForm.title.$error" 
                     ng-show="myOrgForm.title.$touched && myOrgForm.title.$invalid" 
                             class="ui pointing label basic blue">
                            <div ng-messages-include="common/error_msg.html"></div>
                </div>
            </div>
            <div class="field">
                <label>Desc</label>
                <input type="text" name="desc" placeholder="Organization Chart Desc" 
                       ng-model="mOrgData.desc">
            </div>
            <input type="hidden" name="id" ng-model="mOrgData.id">
            <input type="hidden" name="parent" ng-model="mOrgData.parent">
        </form>
    </div>
    <div class="actions">
        <div class="ui ok right labeled icon blue basic button" 
             ng-show="myOrgForm.title.$valid" 
             ng-click="updateOrg(mOrgData)">Save<i class="checkmark icon"></i>
        </div>
        <div class="ui cancel blue basic button" ng-click="myOrgForm.$rollbackViewValue(); myOrgForm.$setPristine(); myOrgForm.$setUntouched();">Cancel</div>
    </div>
</sm-modal>

<sm-modal id="deleteOrg" class="modalDeleteOrg small" visible="showModal_deleteOrg" 
          settings="{closable: false,transition:'horizontal flip'}">
    <div class="header" style="background-color: whitesmoke;">Delete Org Chart</div>
    <div class="content">
        <p>Delete Organization Name ( {{mOrgData.title}} ). Are you sure?</p>
    </div>
    <div class="actions">
        <div class="ui ok right labeled icon blue basic button" ng-click="doDeleteOrg()">Yes
            <i class="checkmark icon"></i>
        </div>
        <div class="ui cancel blue basic button">No</div>
    </div>
</sm-modal>

<sm-modal id="listAllUser" class="modalListAllUser small" visible="showModal_listAllUser" 
          settings="{closable: false,transition:'horizontal flip',blurring: true}">
    <div class="header" style="background-color: whitesmoke;">Assign User or <a href="" ng-click="doAddUser()">Add new User</a></div>
    <div class="content">
        <div id="grid2" ui-grid="gridOptionsUserList" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid" ng-style="getTableHeightUserList()">
        </div>
    </div>
    <div class="actions">
        <div class="ui ok right labeled icon blue basic button" ng-click="assignUser()">Save
            <i class="checkmark icon"></i>
        </div>
        <div class="ui cancel blue basic button">Cancel</div>
    </div>
</sm-modal>

<sm-modal id="deleteUser" class="modalDeleteUser small" visible="showModal_deleteUser" 
          settings="{closable: false,transition:'horizontal flip',blurring: true}">
    <div class="header" style="background-color: whitesmoke;">Delete User From Organization</div>
    <div class="content">
        <p> <span style="color:#FF0000">{{gridApi.selection.getSelectedRows().length}} </span> user will be deleted from <span style="color:#FF0000">{{selectedOrg.title}}</span> with role <span style="color:#FF0000">{{selectedRole.title}}</span>
        </p>
        <div class="ui checkbox">
            <input type="checkbox" ng-model="chkDelete" ng-click="setChkDelete(chkDelete)">
            <label style="color:#1e70bf;">Delete From User Table</label>
        </div>
        <p><br>This action cannot be rollbacked. Are you sure?</p>
    </div>
    <div class="actions">
        <div class="ui ok right labeled icon blue basic button" ng-click="removeUser()">Yes
            <i class="checkmark icon"></i>
        </div>
        <div class="ui cancel blue basic button">No</div>
    </div>
</sm-modal>

<sm-modal id="addEditUser" class="modalAddEditUser small" visible="showModal_addEditUser" 
          settings="{closable: false,transition:'horizontal flip'}">
    <div class="header" style="background-color: whitesmoke;" >
        <label>{{newUser.id==null?'New User':'Update User'}}</label>
    </div>
    <div class="content">
        <form class="ui form" name="addEditUserForm">
            <div class="ui grid">
                <div class="eight wide column">
                    <div ng-class="{ 'error': addEditUserForm.name.$touched && addEditUserForm.name.$invalid }" class="field required">
                        <label>Name</label>
                        <div class="ui icon input">
                            <input type="text" name="name" placeholder="Name" 
                                   ng-model="newUser.name" required />
                            <i class="user icon"></i>
                        </div>
                        <div ng-messages="addEditUserForm.name.$error" 
                             ng-show="addEditUserForm.name.$touched && addEditUserForm.name.$invalid" 
                             class="ui pointing label basic blue">
                            <div ng-messages-include="common/error_msg.html"></div>
                        </div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div ng-class="{ 'error': addEditUserForm.email.$touched && addEditUserForm.email.$invalid }" class="field required">
                        <label>Username</label>
                        <div class="ui icon input">
                            <input type="email" name="email" placeholder="User Name/Email" 
                                   ng-model="newUser.email" 
                                   ng-minlength="4" required />
                            <i class="at icon"></i>
                        </div>
                        <div ng-messages="addEditUserForm.email.$error" 
                             ng-show="addEditUserForm.email.$touched && addEditUserForm.email.$invalid" 
                             class="ui pointing label basic blue">
                            <div ng-messages-include="common/error_msg.html"></div>
                        </div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div ng-class="{ 'error': addEditUserForm.password.$touched && addEditUserForm.password.$invalid && newUser.id==null}" class="field required">
                        <label>Password (<a href="" ng-click="doGeneratePass()">Generate</a>)</label>
                        <div class="ui icon input">
                            <input type="text" id="txtPassword" name="password" placeholder="Password" 
                                   ng-model="newUser.password" 
                                   ng-minlength="4" required />
                            <i class="lock icon"></i>
                        </div>
                        <div ng-messages="addEditUserForm.password.$error" 
                             ng-show="addEditUserForm.password.$touched && addEditUserForm.password.$invalid && newUser.id==null" class="ui pointing label basic blue">
                            <div ng-messages-include="common/error_msg.html"></div>
                        </div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="field">
                        <label>Phone</label>
                        <div class="ui icon input">
                            <input type="text" name="phone" placeholder="Phone" ng-model="newUser.phone" />
                            <i class="phone icon"></i>
                        </div>
                    </div>
                </div>            
                <div class="sixteen wide column">
                    <div class="field">
                        <label>Address</label>
                        <div class="ui icon input">
                            <textarea rows="2" name="address" placeholder="Address" ng-model="newUser.address" /></textarea>
                            <i class="building icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="id" ng-model="newUser.id">
        </form>
    </div>
    <div class="actions">
        <div ng-if="newUser.id==null" class="ui ok right labeled icon blue basic button" 
             ng-show="addEditUserForm.name.$valid && addEditUserForm.email.$valid && addEditUserForm.password.$valid" 
             ng-click="doSaveUser(newUser)">Save<i class="checkmark icon"></i>
        </div>
        <div ng-if="newUser.id!=null" class="ui ok right labeled icon blue basic button" 
             ng-show="addEditUserForm.name.$valid && addEditUserForm.email.$valid" 
             ng-click="doSaveUser(newUser)">Update<i class="checkmark icon"></i>
        </div>
        <div class="ui blue basic cancel button" ng-click="addEditUserForm.$rollbackViewValue(); addEditUserForm.$setPristine(); addEditUserForm.$setUntouched(); doCancelUser()">Cancel</div>
    </div>
</sm-modal>
