<script type="text/javascript">
</script>
<style type="text/css">

</style>
<bsform-grid ng-form="customerRequestForm" factory-name="CustomerRequest" model="mData" model-id="StallId" selected-rows="selectedRows" on-select-rows="onSelectRows" loading="loading" get-data="getData" tree-child="child" form-name="customerRequestForm"
    form-title="customerRequest" modal-title="customerRequest" on-before-new-mode="onBeforeNewMode" on-before-edit-mode="onBeforeEdit">

  <div ng-show="formMode == 'new'" class="row">
    <div class="col-md-6">
      <div class="form-group" show-errors>
        <bsreqlabel>Nomor Polisi</bsreqlabel>
        <input type="text" class="form-control" name="name" placeholder="Nomor Polisi Setelah Kode Wilayah Tanpa Sepasi" ng-model="searchNoPolisi">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <button type="button" class="btn btn-primary">
        Search
    </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <bsreqlabel>Pemilik</bsreqlabel>
        <input type="text" class="form-control" name="owner" placeholder="owner" ng-model="mData.Owner" ng-disabled="true">
      </div>
      <div class="form-group">
        <bsreqlabel>Model</bsreqlabel>
        <input type="text" class="form-control" name="Model" placeholder="Model" ng-model="mData.Model" ng-disabled="true">
      </div>
    </div>
  </div>
  <div ng-show="formMode == 'new'" class="row">
    <div class="col-md-6">
      <div class="form-group" show-errors>
        <bsreqlabel>Name</bsreqlabel>
        <select ng-model="reminderType" class="form-control">
                <option value="km">By Kilometers</option>
                <option value="month">By RangeMonth</option>
            </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-show="reminderType == 'km'" class="col-md-6">
      <div class="form-group">
        <bsreqlabel>Kilometers</bsreqlabel>
        <input type="text" class="form-control" name="kilometer" placeholder="Kilometers" ng-model="mData.Kilometers" ng-required="reminderType == 0">
        <bserrmsg field="kilometer"></bserrmsg>
      </div>
    </div>
    <div ng-show="reminderType == 'month'" class="col-md-6">
      <div class="form-group">
        <bsreqlabel>Range Month</bsreqlabel>
        <input type="text" class="form-control" name="month" placeholder="Jarak berapa bulan akan di hubungi" ng-model="mData.MonthDuration" ng-required="reminderType == 1">
        <bserrmsg field="month"></bserrmsg>
      </div>
    </div>
  </div>
  </bsform-grid>
