<script type="text/javascript">

</script>
<style type="text/css">


</style>

<bsform-grid
        ng-form="ProfileCustomerFleetForm"
        factory-name="ProfileCustomerFleet"
        model="mProfileCustomerFleet"
        model-id="CustomerFleetId"
        loading="loading"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"

        form-name="ProfileCustomerFleetForm"
        form-title="ProfileCustomerFleet"
        modal-title="ProfileCustomerFleet"
        modal-size="small"
        icon="fa fa-fw fa-child"
        >


        <div class="row">
          <div class="col-md-6">


            <div class="form-group" show-errors>
                <bsreqlabel>Customer Code</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="code" placeholder="Customer Code" ng-model="mProfileCustomerFleet.CustomerCode"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="code"></bserrmsg>
            </div>
			
			<div class="form-group" show-errors>
                <bsreqlabel>Customer Name</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="name" placeholder="Customer Name" ng-model="mProfileCustomerFleet.CustomerName"
                            ng-maxlength="50" required
                    >
                </div>
                <bserrmsg field="name"></bserrmsg>
            </div>
          </div>
        </div>
</bsform-grid-tree>

