<script type="text/javascript">

</script>
<style type="text/css">


</style>
<bsform-grid
        ng-form="AssetBrochureTypeForm"
        factory-name="AssetBrochureTypeFactory"
        model="mAssetBrochureType"
        model-id="BrochureTypeId"

        get-data="getData"
        selected-rows="selectedRows"
        on-select-rows="onSelectRows"
		form-api="formApi"
		do-custom-save="doCustomSave"
        form-name="AssetBrochureTypeForm"
        form-title="Tipe Brosur"
        modal-title="Master Asset Tipe Brosur"
        modal-size="small"
        on-bulk-delete="onBulkDeleteTipeBrosur"
        icon="fa fa-fw fa-child"
        >


        <div class="row" style="margin: 0 0 0 0">
          <div class="col-md-6">
            <div class="form-group" show-errors>
                <bsreqlabel>Nama Tipe Brosur</bsreqlabel>
                <div class="input-icon-right">
                    <i class="fa fa-pencil"></i>
                    <input type="text" class="form-control" name="brochureTypeName" placeholder="Input Nama Tipe Brosur" ng-model="mAssetBrochureType.BrochureTypeName" maxlength="20" required
                    >
                </div>
                <bserrmsg field="brochureTypeName"></bserrmsg>
            </div>

          </div>
        </div>
</bsform-grid>
