<script type="text/javascript">
</script>
<style type="text/css">

</style>

<!--   action-button-settings="actionButtonSettings"
        action-button-settings-detail="actionButtonSettingsDetail"
        show-advsearch="on"

        form-api="formApi"
        linksref="app.queueCategory"
        linkview="queueCategory@app"
 -->

<!-- <bsform-base ng-form="ReportAppointmentForm" loading="loading" show-advsearch="on" form-api="formApi" form-name="ReportAppointmentForm" form-title="ReportAppointment" icon="fa fa-fw fa-child">

    <bsform-advsearch> -->
        <div ng-if="role=='Branch'" ng-include="'app/services/report/BP/reportAppointmentBP/tempBranch.html'"></div>
        <div ng-if="role=='HO'" ng-include="'app/services/report/BP/reportAppointmentBP/tempHOTAM.html'"></div>
<!--     </bsform-advsearch>



    <bsform-base-main> -->
<!--         <div class="panel panel-default">
            <div class="panel-heading">SUMMARY</div>
            <div class="panel-body">
                <div class=" col-md-5">
                    <div class="row" style="">
                        <div class="form-group form-inline" style="margin-right: -76px;">
                            <label style="font-weight: bold;">Appointment Rate</label>
                            <div class="pull-right">
                                <input type="text" class="form-control" ng-model="AppointmentRate" name="AppointmentRate" style="width: 47%;" disabled><label style="font-weight: bold;">%</label>
                           </div>
                        </div>

                        <div class="form-group form-inline" style="margin-right: -65px;">
                            <label>Customer Appointment Show</label>
                            <div class="pull-right">
                                <input type="text" class="form-control" ng-model="CustomerAppointmentShow" name="CustomerAppointmentShow" style="width: 50%;" disabled>
                            </div>
                        </div>

                        <div class="form-group form-inline" style="margin-right: -65px;">
                            <label>Total Unit Entry</label>
                            <div class="pull-right">
                                <input type="text" class="form-control" ng-model="TotalUnitEntry" name="TotalUnitEntry" style="width: 50%;" disabled>
                            </div>
                        </div>
                        
                         <div class="form-group form-inline" style="margin-right: -65px;"> <label></label> </div>

                        <div class="form-group form-inline" style="margin-right: -76px;">
                            <label style="font-weight: bold;">No Show Rate</label>
                            <div class="pull-right">
                                <input type="text" class="form-control" ng-model="NoShowRate" name="NoShowRate" style="width: 46%;" disabled><label style="font-weight: bold;">%</label>
                            </div>
                        </div>

                        <div class="form-group form-inline" style="margin-right: -65px;">
                            <label>Customer Batal</label>
                            <div class="pull-right">
                                <input type="text" class="form-control" ng-model="CustomerBatal" name="CustomerBatal" style="width: 50%;" disabled>
                           </div>
                        </div>

                        <div class="form-group form-inline" style="margin-right: -65px;">
                            <label>Customer Appointment</label>
                            <div class="pull-right">
                                <input type="text" class="form-control" ng-model="CustomerAppointment" name="CustomerAppointment" style="width: 50%;" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"> </div>
                <div class=" col-md-5">
                    <div class="row" style="">
                        <div class="form-group form-inline" style="margin-right: -30px;">
                            <label style="font-weight: bold;">Show Rate</label>
                            <div class="pull-right">
                                <input type="text" class="form-control" name="ShowRate" ng-model="ShowRate" style="width: 47%;" disabled><label style="font-weight: bold;">%</label>
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: -20px;">
                            <label>Customer Appointment Show</label>
                            <div class="pull-right">
                                <input type="text" class="form-control" name="CustomerAppointmentShow" ng-model="CustomerAppointmentShow" style="width: 50%;" disabled>
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: -20px;">
                            <label>Customer Appointment</label>
                            <div class="pull-right">
                                <input type="text" class="form-control" name="CustomerAppointment" ng-model="CustomerAppointment" style="width: 50%;" disabled>
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: -65px;"> <label></label> </div>

                        <div class="form-group form-inline" style="margin-right: -30px;">
                            <label style="font-weight: bold;">Reschedule Rate</label>
                            <div class="pull-right">
                                <input type="text" class="form-control" name="RescheduleRate" ng-model="RescheduleRate" style="width: 47%;" disabled><label style="font-weight: bold;">%</label>
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: -20px;">
                            <label>Customer Reschedule</label>
                            <div class="pull-right">
                                <input type="text" class="form-control" name="CustomerReschedule" ng-model="CustomerReschedule" style="width: 50%;" disabled>
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-right: -20px;">
                            <label>Customer Appointment</label>
                            <div class="pull-right">
                                <input type="text" class="form-control" name="CustomerAppointment" ng-model="CustomerAppointment" style="width: 50%;" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group pull-right">
            <button type="button" class="wbtn btn"> Batal </button>
            <button type="button" ng-click="getReport()" 
            class="rbtn btn"> Export Detail </button>
        </div> -->
<!--     </bsform-base-main>



</bsform-base> -->