<bsform-base ng-form="ReportAppointmentForm" loading="loading" show-advsearch="on" form-api="formApi" form-name="ReportAppointmentFormBPHO" form-title="ReportAppointmentFormBPHO" icon="fa fa-fw fa-child">

    <bsform-advsearch>
     <div class="row" style="margin-right:0px;" ng-form="tesAjah">
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>TAM Area </label>
                      <bsselect ng-disabled="DisabledTAM()" ng-model="filter.tamarea" 
                                name="tamarea" 
                                data="dataAreaTAM" 
                                item-text="areaName" 
                                item-value="areaId" 
                                on-select="areaId(selected)" 
                                placeholder="Select TAM Area" required>
                      </bsselect>
                      <bserrmsg field="tamarea"> harus diisi </bserrmsg>
                  </div>
                  <div class="form-group" show-errors>
                      <label>Cabang </label>
                      <bsselect ng-model="filter.CabangHO" 
                                name="cabangHO" 
                                data="dataCabangHO" 
                                item-text="cabangName" 
                                item-value="cabangID" 
                                on-select="cabangID(selected)" 
                                placeholder="Select Cabang" required>
                      </bsselect>
                      <bserrmsg field="cabang"> harus diisi </bserrmsg>
                  </div>
                  
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Dealer </label>
                      <bsselect ng-disabled="DisabledTAM()"
                                ng-model="filter.Dealer" 
                                name="dealer" 
                                data="dataDealer" 
                                item-text="dealerName" 
                                item-value="dealerCode" 
                                on-select="dealerCode(selected)" 
                                placeholder="Select Dealer" required>
                      </bsselect>
                      <bserrmsg field="dealer"> harus diisi </bserrmsg>
                  </div>
                  <div class="form-group" style="visibility: hidden" show-errors>
                      <label>Satellite </label>
                     <!--  <bsselect ng-model="filter.satellite" name="satellite" data="getSatellite" item-text="SatelliteName" item-value="satelliteID" on-select="satelliteID(selected)" placeholder="Select Satellite">
                      </bsselect> -->
                      <bsselect ng-model="filter.Satellite" name="satellite" data="getSatellite" item-text="SatelliteName" item-value="satelliteID" on-select="satelliteID(selected)" placeholder="Select Satellite" required>
                      </bsselect>
                      <bserrmsg field="satellite"> harus diisi </bserrmsg>
                  </div>
                 
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Group Dealer Area </label>
                      <bsselect ng-disabled="DisabledDealer()" ng-model="filter.dealerarea" 
                                name="dealerarea" 
                                data="dataAreaDealerHO" 
                                item-text="areaName" 
                                item-value="areaId" 
                                on-select="areaId(selected)" 
                                placeholder="Select Dealer Area" required>
                      </bsselect>
                      <bserrmsg field="dealerarea"> harus diisi </bserrmsg>
                  </div>
                   <div class="form-group" show-errors>
                      <label>Kategori Workshop </label>
                      <input type="text" class="form-control" ng-model="filter.kategori" name="kategoriWorkshop" placeholder="Kategori Workshop" disabled required>
                      <bserrmsg field="kategoriWorkshop"> harus diisi </bserrmsg>
                   </div>
              </div>

            <div class="row" style="margin-right:0px;">
              <div class="col-md-3">
                <div class="form-group" show-errors>
                      <bsreqlabel>Periode</bsreqlabel>
                       <bsdatepicker
                        ng-change="changeStartDate(filter.DateStart)"
                        max-date="maxDateS"
                        name="dateStart"
                        date-options="dateOptionsS"
                        ng-model="filter.DateStart"
                      >
                      </bsdatepicker>
                      <bserrmsg field="dateStart"> harus diisi </bserrmsg>
                      <em ng-messages="tesAjah.dateStart.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                            <p ng-message="date">Format Tanggal Salah</p>
                      </em>
                      <em ng-show="(filter.DateStart > filter.DateEnd) && filter.DateEnd !== null" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                            <p>Tanggal Awal Tidak Boleh Lebih Besar dari Tanggal Akhir</p>
                      </em>
                </div>
               
                </div>
                <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
                <div class="col-md-3" style="margin-top:5px;">
                <div class="form-group" show-errors>
                      <label></label>
                       <bsdatepicker
                       ng-change="changeEndDate(filter.DateEnd)"
                        max-date="maxDateE"
                        min-date="minDateE"
                        ng-disabled="filter.DateStart == null"
                        name="dateEnd"
                        date-options="dateOptionsE"
                        ng-model="filter.DateEnd"
                        >
                      </bsdatepicker>
                      <bserrmsg field="dateEnd"> harus diisi </bserrmsg>
                        <em ng-messages="tesAjah.dateEnd.$error" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                            <p ng-message="date">Format Tanggal Salah</p>
                        </em>
                        <em ng-show="(filter.DateEnd < filter.DateStart) && filter.DateEnd !== null" style="color: rgb(185, 74, 72);" class="help-block" role="alert">
                            <p>Tanggal Akhir Tidak Boleh Lebih Kecil dari Tanggal Awal</p>
                        </em>
                </div>
              </div>
            </div>
        </div>
            
              
              <div class="col-md-1"></div>
                  <br><br>
<!--                   <div class="form-group pull-right"> 
                  <button type="button" ng-click="getSummaryHO()" class="rbtn btn"> Filter </button></div> -->
            <br><br>
                </bsform-advsearch>
                    <bsform-base-main>
                      <div ng-include="'app/services/report/BP/reportAppointmentBP/tempSummary.html'"></div>
                    </bsform-base-main>



</bsform-base>