<bsform-base ng-form="ReportAppointmentForm" loading="loading" show-advsearch="on" form-api="formApi" form-name="ReportAppointmentFormBPBranch" form-title="ReportAppointmentFormBPBranch" icon="fa fa-fw fa-child">

    <bsform-advsearch>
      <div class="row" style="margin-right:0px;">
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Dealer </label>
                      <bsselect ng-disabled="true" ng-model="filter.Dealer" name="dealer" data="dataDealer" item-text="dealerName" item-value="dealerCode" on-select="dealerCode(selected)" placeholder="Select Dealer" required>
                      </bsselect>
                      <bserrmsg field="dealer"> harus diisi </bserrmsg>
                  </div>
                  
              </div>
              <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>Cabang </label>
                      <bsselect ng-disabled="Disabled" ng-model="filter.Cabang" name="cabang" data="dataCabang" item-text="cabangName" item-value="cabangID" on-select="cabangID(selected)" placeholder="Select Cabang" required>
                      </bsselect>
                      <bserrmsg field="cabang"> harus diisi </bserrmsg>
                  </div>
                  
                 
              </div>
              <div class="col-md-4">
              <div class="form-group" show-errors>
                      <label>Kategori Workshop </label>
                      <input type="text" class="form-control"  ng-model="filter.kategori" name="KategoriWorkshop" placeholder="Kategori Workshop" disabled>
                      <bserrmsg field="KategoriWorkshop"> harus diisi </bserrmsg>
              </div>
              <!-- <div class="form-group" show-errors>
                      <label>Satellite </label>
                      <bsselect ng-model="filter.satellite" name="satellite" data="dataSatellite" item-text="satelliteName" item-value="satelliteID" on-select="satelliteID(selected)" placeholder="Select Satellite" required>
                      </bsselect>
                      <bserrmsg field="satellite"> harus diisi </bserrmsg>
              </div> -->
              </div>
            </div>
            <div class="row" style="margin-right:0px;">
              <div class="col-md-3">
                <div class="form-group" show-errors>
                      <bsreqlabel>Periode</bsreqlabel>
                       <bsdatepicker
                      name="dateStart"
                      date-options="dateOptions2"
                      ng-model="filter.DateStart"
                      >
                      </bsdatepicker>
                      <bserrmsg field="dateStart"> harus diisi </bserrmsg>
                </div>
               
                </div>
                <div class="col-md-1" style="text-align:center; padding-top:30px;">s.d.</div>
                <div class="col-md-3" style="margin-top:5px;">
                <div class="form-group" show-errors>
                      <label></label>
                       <bsdatepicker
                      name="dateEnd"
                      date-options="dateOptions2"
                      ng-model="filter.DateEnd"
                      >
                      </bsdatepicker>
                      <bserrmsg field="dateEnd"> harus diisi </bserrmsg>
                </div>
              </div>
              <div class="col-md-1" style="text-align:center; padding-top:30px;"></div>
              <div class="col-md-4">
<!--               <div class="form-group" show-errors>
                      <label>Kategori Workshop </label>
                      <input type="text" class="form-control"  ng-model="filter.KategoriWorkshop" name="KategoriWorkshop" placeholder="Kategori Workshop" disabled>
                      <bserrmsg field="KategoriWorkshop"> harus diisi </bserrmsg>
              </div> -->
              </div>
            </div>
<!--             <div class="row" style="margin-right:0px;">
                <div class="col-md-4">
                  <div class="form-group" show-errors>
                      <label>PIC Appointment </label>
                      <bsselect ng-model="filter.pic" name="pic" data="getPic" item-text="PicName" item-value="PicId" on-select="picId(selected)" placeholder="Select PIC" required>
                      </bsselect>
                      <bserrmsg field="pic"> harus diisi </bserrmsg>
                  </div>
                </div>
            </div> -->
            <div class="col-md-1"></div>
<!--                   <div class="form-group pull-right"> 
                  <button type="button" ng-click="getSummaryCabang()" class="rbtn btn"> Filter </button></div> -->
            <!-- <br><br> -->
                </bsform-advsearch>
                <bsform-base-main>
                  <div ng-include="'app/services/report/BP/reportAppointmentBP/tempSummary.html'"></div>
                </bsform-base-main>
</bsform-base>
